.menuTransvers1 {
	font-size:85%;
	margin:2PX 0 0 0;
	padding:0;
	height:25px;
	clear:both;
	float:right;
	text-align:right;
	width:950px;
}
.menuTransvers1 ul{
	margin:0;
	padding:0;
	list-style-type:none;
	float:right;
	background-color: #ffffff;
	
}
.menuTransvers1 li{
	float:left;
	margin:7px 5px 0 0;
	padding:0 0 0 15px;
	background:url(flOrange1.jpg) top left no-repeat;
	}
.menuTransvers1 li a{
	color:#000000;
	text-decoration:none;
	}
.menuTransvers1 li a:hover{
	color:#FF9900;
	}
.sidentifier a:hover,.creerCompte a:hover, .faq a:hover, .premiereVisite a:hover, .catalogue a:hover{
	background-image:none;
	}
form.search{
	background:url(bg-rechercher.gif) top left no-repeat;
	float:right;
	left:735px;
	height:30px;
	font-size:85%;
	margin:0 0 0 10px;
	width:180px;
	}
form.search fieldset{
	border:none;
	margin:0;
	padding:0;
	}
.SearchField {
	border:1px solid #ffffff;
	font-size:100%;
	margin:5px 10px 0 10px;
	background:none;
	height:12px;
	width:125px;
	float:left;
	font-size:100%;
	}
.search input.submit{
	float:left;
	border:none;
	margin-top:3px;
	}
.menu1{
	line-height:11px;
	height:42px;
	background-image:url(bg-menu1.jpg);
	background-position:top left;
	background-repeat:repeat-x;
	width:788px;
	padding:0;
	float:left;
	overflow:hidden;
	font-size:95%;
	}
.menu1 ul{
	background-position:14px 0;
	background-repeat:no-repeat;
	margin:0;
	padding:0 0 0 2px;
	list-style-type:none;
	height:20px;
}
.menu1 li{
	float:left;
	width:109px;
	height:43px;
	text-align:center;
	background-position:top center;
	background-repeat:no-repeat;
	background-image:url(bg-Menu1-ongletOrange.jpg);
	margin:0 2px 0 1px;
	}
.menu1 li.type2{
	background-image:url(bg-Menu1-ongletBleu.jpg);
	}
.menu1 a{
	color:#0055bb;
	display:block;
	text-decoration:none;
	height:100%;
	margin:8px 6px 0 6px;
	}
.menu1 a:hover{
	color:#ffffff;
}
.menu1 .type2 a{
	color:#ffffff;
	}
.menu1 .type2 a:hover{	
	color:#FF9900;
	}
.gauche h1{
	background:url(bg-menu2-h1.gif) top left no-repeat;	
	font-size:90%;
	margin:-1px 0 0 0;
	padding:0 15px 5px 20px;
	min-height:35px;
	width:150px;
	text-align:center;
	border-top:1px solid #ffffff;
	}
.gauche h1 span{
	border-bottom:1px solid #FF9900;
	margin:18px 16px 0 7px;
	padding:3px;
	display:block;
	width:112px;
	font-size:120%;
	}
.gauche h2{
	background:url(bg-menu2.gif) 9px top repeat-y;
	margin:0;
	padding:5px 15px 5px 15px;
	text-align:center;
	color:#0055bb;
	font-size:100%;
	clear:both;
	
	}
.menu2{
	margin:0 0 0 0;
	padding:0 0 20px 0;
	list-style-type:none;
	background:url(bg-B-menu2.gif) 9px bottom no-repeat;
	font-size:100%;
	}
.menu2.type2{
	padding-top:0;
	margin-top:10px;
	}
.menu2 ul{
	list-style-type:none;
	margin:0 0 0 0;
	padding:0;
	}
.menu2 li{
	background:url(bg-menu2.gif) 9px top repeat-y;
	padding:2px 10px 2px 18px;
	clear:both;
	margin:0;
	}
.gauche .responsableRubrique{
	background:url(bg-menu2.gif) 9px top repeat-y;
	padding:2px 12px 2px 15px;
	min-height:35px;
	_height:35px;
	font-size:80%;
	line-height:10px;
}
.gauche .responsableRubrique .tousLesContacts{
	display:block;
	clear:both;
	text-align:center;
	margin-top:2px;
	}
.gauche .responsableRubrique img{
	float:left;
	margin-right:5px;
	margin-left:8px;
	border:2px solid #CCCCCC;
	}
.menu2 li.active a{
	color:#FF9900;
	}

.menu2 li.active li a{
	color:#000000;
	}
.menu2 li li{
	font-weight:normal;
	background:none;
	padding:0 0 0 16px;
	border-top:1px solid #e9f0f3;
	background:url(http://www.loiret.cci.fr/blogs/skins/ccil_std/images_charte/p_menu2.jpg) 3px 3px no-repeat;
	}
.menu2 li ul{
	display:none;
	margin:0;
	}
.menu2 a{
	color:#000000;
	text-decoration:none;
	}
.menu2 a:hover, .menu2 li.active a:hover{
	color:#FF9900;
	}
.menu2 img{
	margin:-2px 0 0 0;
	float:left;
	}	
.menuBlog1{
	background:url(http://www.loiret.cci.fr/blogs/skins/ccil_std/images_charte/f_navD_T.gif) top left no-repeat;
	width:133px;
	padding:25px 0 0 0;
	margin:0 0 0 0;
	list-style:none;
	font-size:90%;
	}
.menuBlog1 li{
	background:url(http://www.loiret.cci.fr/blogs/skins/ccil_std/images_charte/f_navD_li.gif) top left no-repeat;
	padding:3px 10px 5px 13px;
	}	
.menuBlog1 a{
	color:#49565a;
	}
.menuBlog1 a:hover{
	color:#e8004a;
	}
.menuBlog1 li.last{
	background:url(http://www.loiret.cci.fr/blogs/skins/ccil_std/images_charte/f_navD_B.gif) top left no-repeat;
	height:20px;
	}
.menu3{
	list-style-type:none;
	margin:0 0 15px 8px;
	padding:0;
	}
.menu3 li{
	background-position:top left;
	background-repeat:no-repeat;
	height:67px;
	width:133px;
	margin:0 0 3px 0;
	padding:5px 0 0 7px;
	}
.menu3 li a,.revueDePresse a,.accesJournaliste a{
	color:#003068;
	text-decoration:none;
	font-size:85%;
	font-weight:bold;
	display:block;
	height:100%;
	}	
.menu3 li span{
	background-color:#ffffff;
}
.menu3 li a:hover{
	color:#FF9900;
}
.btnFormalites{
	background:url(btn-realiserFormalites.jpg) top left no-repeat;
	width:132px;
	height:67px;	
	}
.btnVosQuestions{
	background:url(btn-vosQuestions.gif) top left no-repeat;
	width:132px;
	height:67px;	
	}
.ccilLoiretEco{
	text-align:center;
	margin:5px;
	}
.btnAlerteMail{
	background:url(btn-alerteMail.jpg) top left no-repeat;
	width:132px;
	height:67px;	
	}
.btnRss{
	background:url(btn-rss.jpg) top left no-repeat;
	width:132px;
	height:67px;	
	}
.menu4{
	list-style-type:none;
	margin:5px 0 0 8px;
	padding:0;
	}
.menu4 li{
	background:url(btn-type-B.gif) bottom left no-repeat;
	padding-bottom:7px;
	width:131px;
	margin-bottom:5px;
	}
.menu4 li a{
	background:url(btn-type-T.gif) top left no-repeat;
	display:block;
	height:100%;
	padding:10px 5px 5px 5px;
	text-align:center;
	color:#003068;
	text-decoration:none;
	font-size:90%;
	font-weight:bold;
	}
.menuCol2 {
	list-style-type:none;
	margin:5px 0 0 0;
	padding:0;
	}
.menuCol2 li{
	background:url(btn-type2-B.gif) bottom left no-repeat;
	padding-bottom:10px;
	width:100%;
	margin-bottom:5px;
	}
.menuCol2 li a{
	background:url(btn-type2-T.gif) top left no-repeat;
	display:block;
	height:100%;
	padding:9px 5px 0 5px;
	text-align:center;
	color:#003068;
	text-decoration:none;
	font-weight:bold;
	}
.menuCol2 li a span{
	display:block;
	margin-left:5px;
	padding-left:40px;
	padding-top:10px;
	padding-bottom:8px;
	text-align:left;
	background-position:0 -1px;
	background-repeat:no-repeat;
	}
.menuCol2 li.membresProjet a span{
	background-image:url(membreProjet.gif);
}
.menuCol2 li.territoire a span {
	background-image:url(territoire.gif);
	}	
.menuCol2 li.fichierEntreprise a span {
	background-image:url(fichierEntreprises.gif);
	}
.menuCol2 li.annuaire a span {
	background-image:url(btn-annuaire.gif);
	padding-top:0;
	padding-bottom:2px;
	}
.menuCol2 li a:hover{
	color:#FF9900;
	} 
.menu4 li.type2,.menu4 li.type2 a{
	background:none;
	padding:0;
	margin:0;
	}
.menu4 li a:hover{
	color:#FF9900;
}
.piedPage {
	background:url(BG-footer.gif) top left no-repeat;
	}
.piedPage ul {
	margin:0;
	padding:2px 0 0 0;
	list-style-type:none;
	min-height:17px;
	width:100%;
}
.piedPage ul a{
	color:#ffffff;
	text-decoration:none;
	}
.piedPage li{
	float:left;
	margin-left:20px;
	white-space:nowrap;
	}
.piedPage li img{
	vertical-align:middle;
	}
.menu5{
	list-style-type:none;
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	margin:10px 7px 10px 10px;
	padding:3px;
	font-size:90%;
	}
.menu5 li{
	margin-bottom:5px;
	}
.menu5 a{
	text-decoration:none;
	color:#0055bb;

}
.menu5 a:hover{
	text-decoration:underline;
	}
/*-------------------Menu personnalisť par page----------------------*/

.neufPropositions{
        background:url(banniere-blog-president.jpg) top left no-repeat;
        /* background: none; */
	/* background:url(../images/8priorites-BG.jpg) top left no-repeat; */
        width:417px;
        height:93px;
        margin-top:10px;
}

.neufPropositions ul{
	list-style-type:none;
	float:left;
	margin:35px 0 0 0;
}
.neufPropositions li{
	width:97px;
	height:21px;
	padding:7px 0 0 12px;
	font-size:90%;
	}
.neufPropositions a{
	color:#11437f;
	text-decoration:none;
	}
.neufPropositions a:hover{
	text-decoration:underline;
	}
.neufPropositions p{
	color:#11437f;
	font-weight:bold;
	padding:7px 5px 5px 10px;
	margin:0;
	}
.neufPropositions .savoirPlus{
	background:url(btn-savoirPlus.gif) top left no-repeat;
	}
.neufPropositions .pdf{
	background:url(btn-PDF.gif) top left no-repeat;
	}
.btnLoiretEco{
	margin:10px 0 0 20px;
	}
.revueDePresse{
	background:url(btn-revuDePresse.jpg) top left no-repeat;
	width:135px;
	height:79px;
	margin:13px 0 10px 20px;
	padding:5px 0 0 10px;
	}
.accesJournaliste{
	background:url(btn-accesJournaliste.jpg) top left no-repeat;
	width:135px;
	height:79px;
	margin:5px 0 10px 20px;
	padding:5px 0 0 10px;
	}
.accesJournaliste span,.revueDePresse span{
	background-color:#FFFFFF;
	}
