/* - - - - - - - - - - - - - - - - - - COLOURS ONLY - - - - - - - - - - - - - - - - - - */
/* elements sorted by color, looks complicated, but makes it very easy to change global color values */

/* Font colors */
a:link, a:visited, .caption, div.midcontent, div.midcontent h2, .greyhead,
.rightbox h3, div.darkcolor a:link, div.darkcolor a:visited, div.darkcolor,
div.sitemap a:link, div.sitemap a:visited, div.sitemap a:hover,  div.sitemap a:active,
.fotolist td h2 a:link, .fotolist td h2 a:visited,
.dropcontainer ul a, .dropcontainer ul a:hover, .contactrightselect .dropcontainer ul a,
.contactrightwhenday .dropcontainer ul a, .contactrightwhentime .dropcontainer ul a
{ color: #000 }


.emotional div p,
#navcontainer a:link, #navcontainer a:visited, #navcontainer a:hover, #navcontainer a:active, .rightboxcontent
{ color: #fff; }

.field, .countryselector a.selector:link, .countryselector a.selector:visited
{ color: #666;}


div.piclist h1, div.piclist h2, div.midcontent h1, .sitemap h1, .midcontent table caption,
div.darkcolor a:hover, div.darkcolor a:active,
.fotolist td h2 a:hover, .fotolist td h2 a:active,
ul.level1 li a:hover, ul.level1 li a:active, a:hover, a:active, .contactrightselect a:hover, .contactrightselect a:active,
.contactrighterrormsg, .contactrightwhenday a:hover, .contactrightwhenday a:active, .contactrightwhentime a:hover, .contactrightwhentime a:active,
.countryselector a.selector:hover, .countryselector a.selector:active, .countryselector a.selectoract
{ color:#ff660d; }


.headblock a:link, .headblock a:visited, .headblock a:hover, .headblock a:active,
.subnav a:link, .subnav a:visited, .subnav a:hover, .subnav a:active,
.deepsubnav a:link, .deepsubnav a:visited, .deepsubnav a:hover, .deepsubnav a:active,
.subnav a.current:link, .subnav a.current:visited, .subnav a.current:hover, .subnav a.current:active,
.deepsubnav a.current:link, .deepsubnav a.current:visited, .deepsubnav a.current:hover, .deepsubnav a.current:active,
#langselect a:hover, #langselect a:active
{ color: #333;}

a#logo:link, a#logo:visited, a#logo:hover, a#logo:active
{ color: transparent}

#breadcrum,  #breadcrum a:link,  #breadcrum a:visited, .metanav a:link,  .metanav a:visited, .metanav
{ color: #98a9b1;}

#breadcrum a:hover,  #breadcrum a:active, .metanav a:hover,  .metanav a:active
{ color: #6e7a80;}


/* - - - - - - - - - - - - - - Background colors - - - - - - - - - - - - - -  */

body
{background-color: #808080;}


a:hover, a:active, .cleaner, #footcontainer,
#breadcrum a:link,  #breadcrum a:visited, #breadcrum a:hover,  #breadcrum a:active, 
.metanav a:hover,  .metanav a:active, .metanav a:link,  .metanav a:visited,
.fotolist td h2 a:link, .fotolist td h2 a:visited
{background-color:transparent;}


#main1, #header, a#logo:link, a#logo:visited, a#logo:hover, a#logo:active,
#footer_middle, #homepage #footer_middle, .rightboxrt, .rightborb, #navhelper, #navcontainer, .field, .contactboxcontent,
div.sitemap a:hover, div.sitemap a:active,
ul.level1 ul.level2 li a:link, ul.level1 ul.level2 li a:visited, ul.level1 ul.level2 li a:hover, ul.level1 ul.level2 li a:active,
.trigger, .dropcontainer ul, .contactrightselect .trigger, .contactrightselect .activetrigger,
.contactrightselect .dropcontainer ul, .contactrightwhenday .trigger, .contactrightwhentime .trigger,
.contactrightwhenday .activetrigger, .contactrightwhentime .activetrigger, .contactrightwhenday .dropcontainer ul, 
.contactrightwhentime .dropcontainer ul
{background-color: #fff;}


#footer_left,  #footer_right, .greyhead, .darkcolor p, div.darkcolor, .headblock,
.darkcolor p a:link, .darkcolor p a:visited, .contactform, .midcontent table caption, .midcontent table tr.even,
table.fotolist td h2, .midcontent .ipicleft .caption, .midcontent .ipicright .caption,
ul.level1 li a:link, ul.level1 li a:visited, ul.level1 li a:hover, ul.level1 li a:active
{ background-color:#ededed;}

/* Main color of Navigation etc, has to be also in last def. in this doc for left border */
#navcontainer, #navcontainer a:link, #navcontainer a:visited,
.rightboxcontent, .emotional, .darkcolor,
ul.level2 li a:link img, ul.level2 li a:visited img, .coloredcontactdot
{ background-color: #fd660d;}

/* Highthlightcolor: hover in Navigation, Subnavigation etc. */
#navcontainer a:hover, #navcontainer a:active, 
#navcontainer a.current:link, #navcontainer a.current:visited, #navcontainer a.current:hover, #navcontainer a.current:active,
ul.level2 li a:hover img, ul.level2 li a:active img, .highlightdot
{ background-color: #d40026;}


.subnav a:hover, .subnav a:active, .darkcolor p a:hover, .darkcolor p a:active, .subnav,
.fotolist td h2 a:hover, .fotolist td h2 a:active
{ background-color: #d8d8d8;}

.deepsubnav, .deepsubnav a:hover, .deepsubnav a:active, .activetrigger, .dropcontainer ul a:hover
{ background-color: #c2c2c2;}



/* - - - - - - - - - - - - - - Border colors - - - - - - - - - - - - - -  */

#header, ul.level1, ul.level2, ul.level3, ul.level2 li, ul.level3 li, .field, 
#navcontainer a:link, #navcontainer a:visited, #navcontainer .linefaker
{ border-color: #fff; }

	
#langselect select, .midcontent table thead td, .midcontent table tfoot td, .midcontent table, .midcontent table caption,
.midcontent .ipicleft, .midcontent .ipicright, #main1, #homepage #main1, #right h2, #footer_middle, .artlist,
div.topborder, .greyhead, ul.level1 li a:link, ul.level1 li a:visited, ul.level1 li a:hover, ul.level1 li a:active,
.contactleft, .contactstreet, .contactno, .contactzip, .contacttown, .trigger, .activetrigger, .dropcontainer ul,
.contactright textarea, .contactrightselect .trigger, .contactrightselect .activetrigger, .contactrightselect .dropcontainer ul,
.contactrightwhenday .trigger, .contactrightwhentime .trigger, .contactrightwhenday .activetrigger, .contactrightwhentime .activetrigger,
.contactrightwhenday .dropcontainer ul, .contactrightwhentime .dropcontainer ul, .headblock, .subnav, .deepsubnav,
#homepage #main1, #homepage #footer_middle, #homepage .emotional, #homepage  #middle, #homepage .boxleft, 
#homepage .txtboxleft, #homepage .txtboxright, #homepage .txtboxrightlast
{ border-color: #999;}
	
div.darkcolor , div.darkcolorimage
{ border-top-color: #999; } /* has to be seperated from above as the left border of this element has to be different color*/

div.darkcolor, div.darkcolorimage
{ border-left-color: #fd660d;border-bottom-color: #fd660d; } /* This is the colored block beside the headlines */