﻿

#Actualites-Actualites { background : url(Actualites-Actualites.jpg) no-repeat ;}
#Actualites-Event { background :url(Actualites-Event.jpg) no-repeat ;}
#Actualites-IEP { background : url(Actualites-IEP.jpg) no-repeat ;}
#Actualites-Produits{ background : url(Actualites-Produits.jpg) no-repeat ;}
#Actualites-SDP{ background : url(Actualites-SDP.jpg) no-repeat ;}
#Actualites-Contact{ background : url(Actualites-Contact.jpg) no-repeat ;}

#Domaine-Historique { background :url(Domaine.jpg) no-repeat ;}
#Domaine-GBRU{ background : url(Domaine-GBRU.jpg) no-repeat ;}
#Domaine-LeMas { background : url(Domaine-LeMas.jpg) no-repeat ;}
#Domaine-LeChais { background : url(Domaine-LeChais.jpg) no-repeat ;}
#Domaine-Vignoble { background : url(Domaine-Vignoble.jpg) no-repeat ;}
#Domaine-Oliviers { background : url(Domaine-Oliviers.jpg) no-repeat ;}
#Domaine-Truffes { background : url(Domaine-Truffes.jpg) no-repeat ;}

#Cuvees-Presentation{ background : url(http://www.chateau-puech-haut.com/Images/Template/Backgrounds/Cuvees/Cuvees-Presentation.jpg) no-repeat ;}
#Cuvees-TeteDaffiche{ background : url(Cuvees-TeteDaffiche.jpg) no-repeat ;}
#Cuvees-TDB{ background :  url(Cuvees-TDB.jpg) no-repeat ;}
#Cuvees-Prestige{ background :  url(Cuvees-Prestige.jpg) no-repeat ;}
#Cuvees-Benjamin{ background :url(Cuvees-Benjamin.jpg) no-repeat ;}
#Cuvees-LDP{ background : url(Cuvees-LDP.jpg) no-repeat ;}
#Cuvees-CDA{ background : url(Cuvees-CDA.jpg) no-repeat ;}

#Bibart-Barrique{ background :  url(Bibart-Barrique.jpg) no-repeat ;}
#Bibart-BarriquePlus{ background :  url(Bibart-BarriquePlus.jpg) no-repeat ;}
#Bibart-Collection{ background :  url(Bibart-Collection.jpg) no-repeat ;}
#Bibart-Expositions{ background : url(Bibart-Expositions.jpg) no-repeat ;}
#Bibart-LeBib{ background :  url(Bibart-LeBib.jpg) no-repeat ;}
#Bibart-LesArtistes{ background : white ;}

#Bibart-Distribution{ background :  url(Bibart-Distribution.jpg) no-repeat ;}

#Distribution-France { background : url(Distribution.jpg) no-repeat ;}
#Distribution-Monde { background : url(DistributionW.jpg) no-repeat ;}

#FondBlancPH { background :url(FondBlancPh.jpg) no-repeat;
	color: #000000;
} 