﻿*{ margin: 0 ; padding: 0 ;}

body 
{
    background-color : #231f20 ;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size : 12px ;
    color:White;
}

#General
{	
    height:700px ;
	background-image: url(BackgroundGeneral.jpg);
	background-repeat :repeat-x ;
	min-height: 768px;
	min-width:950px;
	width:100%;
	margin-top: 20px;
}

#Content
{
	margin-left : auto ;
	margin-right : auto ;
	height :inherit;
	width : 950px ;
	background-color : Transparent ;

}

.Cadre
{  
	float:left ;
	width: 946px ;
	height:630px;
	border :solid 2px white;
	background-color :#231f20 ;
	max-height:630px;
	overflow:hidden;
}

#Logo a
{   
	float:right;
	position : relative;
	display:block;
	width:59px;
	height :37px;
	background-image : url(Logo.jpg);
	background-repeat : no-repeat ;
}

h1,h2
{
    font-size:14px;
    color:Yellow;
    text-transform:uppercase;
    display:block;
    margin-bottom:10px;
}

h3
{
	font-size:12px;
    color:Yellow;
    text-transform:uppercase;
    display:block;
    margin-bottom:5px;
}
.lien 
{
	display: inline-block;
	text-decoration: underline;
	color:Yellow;
	font-size:11px;
	margin-top:5px;
	font-style:italic;
	height:25px;
	background-image: url(CroisRg20.gif);
	background-repeat: no-repeat;
	background-position: right top;
	padding-right:26px;

}

.lienNoImg
{
	text-decoration: underline;
	color:Yellow;
	font-size:11px;
	margin-top:5px;
	font-style:italic;
	margin-top:5px;
	display:block;
}

.title
{
    text-transform:uppercase;
    display:block;
    margin-bottom: -15px;
    line-height:20px;
    color:Yellow;
    font-size:12px;
    font-weight:bold;
}

.titleW
{
    text-transform:uppercase;
    display:block;
    margin-bottom: -15px;
    line-height:20px;
    font-size:12px;
    font-weight:bold;
}

.image
{
    float:left;
    border : solid 2px white;
    margin:0 10px ;
    background-repeat:no-repeat;
    background-position:center center;
    min-height:32px;
}

.imageRight
{
    float:right;
    border : solid 2px white;
    margin:0 10px ;
    background-repeat:no-repeat;
    background-position:center center;
    min-height:32px;
}

.imageNoFloat
{
    border : solid 2px white;
    margin-bottom:10px;
    background-repeat:no-repeat;
    background-position:center center;
    min-height:32px;
}

.Retour
{
	float:right;
	text-decoration:none;
	background-color: #990000;
	color:White;
	padding:10px;
	margin-right :10px;
	margin-bottom:10px;
	display:inline-block;
	font-weight:bold;
}

.FicheTechnique
{
	background :url(pdf.png);
	display: inline-block;
	height:45px;
	padding-left:48px;
	background-position:left;
	background-repeat:no-repeat;
	padding-top:19px;
	color:White;
	text-decoration:none;
	position:relative;	
}

.FicheTechnique:hover
{
	color:Yellow;
	text-decoration:underline;
}

/*--------------------[ STYLE INDEX ]--------------------*/
.IndexDiv
{	
	position:absolute;
	left:50%;
	top:50%;
	width:500px;
	height:500px;
	margin-top:-250px;
	margin-left:-250px;
}

.IndexTitle
{
	display:block;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	color:White;
	font-size:45px;
}

.IndexDiv img
{
	display:block;
	margin-right:auto;
	margin-left:auto;
}

#indexImgCh
{
	margin-top:15px;
	width:60%;
}

#indexImgPh
{
	margin-top:15px;
	width:70%;
}

#indexImgTDB
{
	margin-top:20px;
	
}
.IndexDrapeaux
{
	
	 height:40px;
	 margin-top:20px;
	 width:350px;
	 margin-left:auto;
	 margin-right:auto;
	 
}

.IndexDrapeaux .Center
{
	 height:100%;
	 width:70px;
	 float:left;
}

 .IndexDrapeaux table 
 {
      height:40px;
      width:100%;
      vertical-align: middle;
      text-align: center;
 } 
      
.IndexDrapeaux img
{
	margin-left:auto;
	margin-right:auto;
	width:30%;
	border: solid 1px gray;
	filter : alpha(opacity=70);
	-moz-opacity : 0.70;
	opacity: 0.70:
}

.IndexDrapeaux img:hover
{
	width:50%;
	    filter : alpha(opacity=100);
    -moz-opacity : 1;
    opacity: 1:
}


/*--------------------[ STYLE ACTUALITES ]--------------------*/

/* NEWS */

.NewsPartie1
{ 
    float:left;
    width :500px;
    height:100%;
    color:White;
    font-weight:normal;	
}

.NewsPartie1 div
{  
    overflow: hidden;
    margin-left:0px;
    margin-bottom:15px;
    line-height:16px;
}

.NewsPartie1 div img
{  
    height:170px;
    width:140px;
}

.NewsPartie2
{ 
	position:relative;
	margin-left: 530px;
	height:100%;
	color:White ;
	font-weight:normal;
	margin-top:27px;
}


.NewsPartie2 div
{ 
	line-height:17px;
	margin-left:10px;
	width:350px;
	text-align:justify;
}

/* EVENEMENTIEL */

.Event 
{ 
	margin-top:50px;
	margin-left:160px;
}

.Event a img
{
	Border: solid 2px white ;
}

.Event a img:hover
{
	Border: solid 2px #990000 ;
}

.Event  a
{ 
	position :relative;
}

.EventIMG1
{
	float:left;
} 
 
 .EventIMG2
{
	 margin-left:110px;
	 top:50px;
} 
 
.EventTxt
{
	margin-top:80px;
	padding:10px;
	float:left;
	background :url(PixBlack55.png);
	width:700px;
	margin-left:130px;
}

/* ILS EN PARLENT */

.IEPPartie1
{	
	float:left;
	width :550px;
	height:100%;
	color:White;
}

.IEPPartie1 div
{  
	overflow: hidden;
	margin-left:40px;
	margin-top:40px;
	line-height:16px;
}

.IEPPartie2
{ 
	height:100%;
	color:White ;
}

.IEPPartie2 div
{ 
	float:left;
	line-height:15px;
	font-size:12px;
	margin-left:10px;
	width:300px;
	text-align:left;
	margin-bottom:20px;
	margin-top:2px;			
}

.IEPPartie2 div:first-child
{ 
	margin-top:15px;
}

.IEPPartie2 div img:hover
{ 
	background-color:Black;
    filter : alpha(opacity=100);
    -moz-opacity : 1;
    opacity : 1;
}

.IEPMiniatures
{
	width:90px;
	height:117px;
	float:right;
	border : solid 2px white;
	margin-right:5px;
	margin-left:20px;
	background-color:Black;
	filter : alpha(opacity=90);
	-moz-opacity : 0.90;
	opacity: 0.90: 
}

.IEPGrandTitre
{
	margin-bottom:10px; 
	width:300px;
	float:right;
	color:Yellow;
	font-size:16px;
	margin-top:5px;
	font-weight:bold;
	text-transform:uppercase;	  
}

/* PRODUITS */

.ProdImg
{
	margin-left:80px;
	margin-top:90px;
	float:left;
}

.ProdImg div 
{
	 float:left;
	 height:100%;
	 margin-right:60px;
}

.ProdImg div a  img 
{
	margin:0;
	border: solid 10px white;
	height:212px;
}

.ProdImg div a  img:hover
{
	border: solid 10px silver;
}

#ProdOliv
{
	margin-top:21px;
	height:170px;
}

.ProdText
{
	padding-top:10px;
	margin-top:385px;
	background :url(PixBlack55.png);
	width:100%;
	height:160px;	
}

.ProdText div
{
	float:left;
	line-height:16px;
	width:230px;
	margin-left:75px;
	height:140px;	 
}

.ProdText div:last-child
{
	margin-left:70px;
}

/* SALLE DE PRESSE */

.SDPPartie1
{
    float:left;
	height:250px;
	margin-top:60px;
	color:White;
	font-weight:bold;
	margin-bottom:50px;
	width:950px;
	margin-left:18px;
}

.SDPPartie1 div:first-child
{  
	float:left ;
	overflow: hidden;
	margin-left:40px;
	line-height:16px;
	font-size:11px;
	width:410px;	
}

.SDPPartie1 div
{  
	float:left;
    overflow: hidden;
	margin-left:148px;
	line-height:16px;
	font-size:11px;
	width:300px;
}

.SDPPartie2
{
	float:left;
	width:100%;
	margin-left:33px;
}

/* CONTACT */

.Contact
 { 
	background :url(PixBlack45.png);
	width:800px;
	margin:90px 0 0 50px;
	line-height:18px;
	height:422px;
	padding:20px;	
 }
 
 
.imageCont
 {
	float:left;
	border : solid 2px white;
	margin-right:20px;
 }
 
 
.ContactImg1
{
	float:left;
	border : solid 2px white;
	margin-right:20px;
 }
 
.ContactImg2
 {
	float:left;
	border : solid 2px white;
 }
 
.Contact p
 {
	color:White;
	display:block;
	padding:10px;
	margin-left:9px;
	margin-bottom:7px;
 }
 
.Contact p:first-line
 {
	color:yellow;
	line-height:20px;
	font-weight:bold;
	text-transform:uppercase;
 }
 
 .ContactFormulaire
 {
 	 width:838px;
 	 height:461px;
 	 border: solid 2px white;
 	 background-color:black;
 	 background-image:url(FondFormulaireContact.png);
 	 background-position:center 20px;
 	 background-repeat:no-repeat;
 }
 .ContactFormulaireBg
 {
 /* background-image:	url(../Images/Template/PixBlack/PixBlack45.png);*/
 background-color:gray;
 /* 	filter : alpha(opacity=70);
    -moz-opacity : 0.7;
    opacity :0.7;*/
    border: solid 2px white;
    color:Black;
    font-size:13px;
    font-weight:bold;
 }
/*--------------------[ STYLE DOMAINE ]--------------------*/

/* HISTORIQUE */

.DomHist
{  
	width:400px ;
	float:right;
	right:50px;
	color:White;
	font-size:12px;
	margin-right:60px;
}

.DomHist h2
{
	line-height:35px;
	font-size:14px;
	color:Yellow;
	text-transform:uppercase;
}

.DomHist h3
{
	text-transform:uppercase;
	display:block;
	margin-top:15px;
	margin-bottom:5px;
	font-size:13px;
	color:White;
}

.DomHisFlip
{
	float:left;
	margin:20px;
	text-decoration:none;
	width:160px;
	color:white;
}

.DomHisFlip a
{
	text-decoration:none;
	color:White;
	padding-left:5px;
}

.DomHisFlip a:hover
{
	text-decoration:underline;
}

.DomHisFlip img
{
margin:0;
margin-bottom:5px;	
}	

.DomHisFlip img:hover
{
	margin:0;
	margin-bottom:5px;	
	border: solid 2px #990000;	
}

#SlideHist
{ 
	background-color:#231f20;
	float:left;
	border : solid 2px white;
	margin:0 10px ;
	bottom:10px;
	margin-left:457px;
	width:445px;
	height:180px;
	margin-top:15px;
}

/* BRU */

.DomGBRU
{  
	width:385px ;
	float:right;
	color:White;
	margin-top:20px;
}

#SlideBru
{ 
	float:left;
	background-color:#231f20;
	border : solid 2px white;
	margin:0 10px ;
	bottom:10px;
	width:300px;
	height:200px;
	margin-left:55px;
	margin-top:400px;
}

/* MAS */

.DomLeMas
{  
	width:300px ;
	float:right;
	margin-right:30px;
	color:White;
	margin-top:10px;

}

#SlideMas
{ 
	float:left;
	border : solid 2px white;
	margin:0 10px ;
	bottom:10px;
	margin-left:600px;
	margin-top:10px;
	width:323px;
	height:200px;
}

/* CHAIS */

.DomLeChais
{  
	width:300px ;
	margin-left:30px;
	color:White;
	margin-top:28px;
	height:370px;
}

#SlideChais
{ 
	float:left;
	border : solid 2px white;
	margin:0 10px ;
	bottom:10px;
	margin-left:30px;
	margin-top:12px;
	width:325px;
	height:200px;
}

/* VIGNOBLE */

.DomLeVign
{  
	padding:15px;
	width:500px ;
	float:left;
	color:White;	
	margin-top:200px;
	margin-left:20px;
}

.DomLeVignFlip
{
	position:relative;
	margin:20px;
	text-decoration:none;
	width:180px;
	left:16px;
	top:10px;
}

.DomLeVignFlip a
{
	text-decoration:none;
	color:Black;
	display:block;
	margin-left:5px;
}

.DomLeVignFlip a:hover
{
	text-decoration:underline;
}

.DomLeVignFlip img
{
	margin-bottom:5px;
	margin-right:10px;	
	margin-left:10px;
}

.DomLeVignFlip img:hover
{
	margin-bottom:5px;	
	border: solid 2px #990000;	
}

#SlideVignoble
{ 
	border : solid 2px white;
	margin:0 10px ;
	margin-left:60px;
	float:left;
	margin-top:215px;
	width:300px;
	height:200px;
}

/* OLIVIERS */

.DomLesOliv
{
	padding:15px;	
	color:White;
	float:right;
	width:270px;
	margin-top:70px;
	margin-right:40px;
	background : url(PixBlack45.png);

}

#SlideOliviers
{ 
	float:left;
	border : solid 2px white;
	margin:0 10px ;
	bottom:10px;
	margin-left:604px;
	margin-top:50px;
	width:300px;
	height:200px;
}


/*TRUFFES*/

.DomTruff
{  
	padding:8px;
	width:290px ;
	margin-right:30px;
	color:White;
	margin-top:25px;
	margin-left:25px;
}

#SlideTruffes
{ 
	float:left;
	border : solid 2px white;
	margin:0 10px ;
	bottom:10px;
	margin-left:30px;
	margin-top:12px;
	width:325px;
	height:200px;
}

/*--------------------[ STYLE CUVEES ]--------------------*/

/*LES GAMMES*/

.CuvePresentation
{
	width:550px;
	color:Black;
	margin:35px;
	line-height:18px;
	text-align:justify;
}

.CuvePresentation a
{
	color:red;
	line-height:40px;
	font-weight: bold;	
}

/*LES GAMMES*/

#LienCuvees
{
	border:none;
}

.CuvePresentation
{
	width:550px;
	color:Black;
	margin:35px;
	line-height:18px;
	text-align:justify;
}

.CuvePresentation a
{
	color:red;
	line-height:40px;
	font-weight: bold;
}

/*LES VINS*/

.CuveesVinsTxt
{ 
	float:left;
	margin-top:70px;
	color:White;
	width:300px;
	padding:10px;
	margin-right:90px;
	line-height:18px;
	background-image:  url(PixBlack65.png);
		 
}
.CuveesVinsTxt h1
{
	 display:block;
	 margin-bottom:5px;
}

.CuveesVinsImg
{
	margin-top:35px;
	margin-left:10px;
}

/*--------------------[ STYLE BIBART ]--------------------*/

/*LA BARRIQUE*/

.BibBarrique
{
	color:White;
	padding:8px;
	float:left;
	margin-left:300px;
	width:560px;
	margin-top:465px;
    text-align:justify;
	background-image: url(PixBlack45.png);
}

.BibBarriquePlus
{  
	width:385px ;
	float:right;
	color:White;
	margin-top:20px;
}

#SlideBarr
{
	 float:none;
	 border : solid 2px white;
	 margin:0 10px ;
	 bottom:10px;
	 margin-left:30px;
	 margin-top:350px;
	 width:250px;
	 height:250px;
}

/*LA COLLECTION*/

 .BibCol
 {
 	color:White;
	padding:8px;
	float:left;
	margin-left:34px;
	width:560px;
	margin-top:400px;
	text-align:justify;
	background-image: url(PixBlack45.png);
 }
 
 /*LES EXPOSITIONS*/
 
 .BibExpo
 {
	color:White;
	padding:8px;
	float:left;
	margin-left:310px;
	width:530px;
	margin-top:230px;
 }

 /*LE BIB*/
 
  .BibLeBib
 {
	color:White;
	float:right;
	margin-right:34px;
	width:580px;
	margin-top:450px;
	text-align:justify;
 }
 
 .BibLeBibPlus
{ 
	float:left;
	margin-left:15px;
	color:White;
}

/*--------------------[ STYLE DISTRIBUTION ]--------------------*/

.DistImg
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:200px;
}

.DistFr
{
	margin-top:66px;
	margin-left:375px;
	font-weight:bold;
	color:White;
	font-size:11px;
}

/*--------------------[ STYLE POPUP INFOS ]--------------------*/
 
.InfosClick
 {
 float:left;
 width:20px;
 height:20px;
 background-image:url(BoutonInfos.png);
 margin-top:5px;
 cursor:pointer;
 }
 
 .Infos
 {
	 width:350px;
	 height:250px;
	 border:solid 2px white;
	 background-color:Black;
	 background-image:url(FondInfo.png);
	 cursor:default;
 }

.Infos p
 {
	width:250px;
	margin: 30px 0 0 50px;
	line-height:16px;
	font-weight:bold;
	text-align:center;
	display:block;
	float:left;
 }
 
.Infos p:first-line
{
 color:Yellow;	
 line-height:20px;
}
 
.InfosFermer
{
	margin:5px;
	float:right;
	width:22px;
	height:22px;
	background-image: url(FermerHover.png);
	filter : alpha(opacity=80);
    -moz-opacity : 0.8;
    opacity : 0.8;
    cursor:pointer;	
    background-color:Black;
}

.InfosFermer:hover
{
	filter : alpha(opacity=100);
    -moz-opacity : 1;
    opacity : 1;
}

.InfosCreateby
{
	font-size:10px;
	margin-top:22px;
	margin-left:5px;
	display:block;
	color:Gray;
	display:block;
	width:300px;
	float:left;
}

.InfosCreateby a
{
	text-decoration:underline;
	color:gray;
	
}
/*--------------------[ STYLE PARTENAIRES ]--------------------*/

.PartenaireTitle
{ 
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	padding:10px;
	font-size:20px;
	background-image: url(PixBlack65.png);
	font-weight:bold;
	text-transform:uppercase;
	color:Yellow;
	text-align:center;
}

.Partenaire1
{
	width:500px;
	margin:50px auto 0 auto ;
}

.Partenaire1 div
{
	margin-bottom:20px;
	width:100%;
	height:150px;
}

.ImgPart 
{
	float:left;
	background-color:Black;
	display:block;
	width:150px;
	height:150px;
	border:solid 2px white;
}

.Partenaire1 div a img
{
	border:none;
	filter : alpha(opacity=90);
    -moz-opacity : 0.90;
    opacity: 0.90;
}



.Partenaire1 div a img:hover
{
	filter : alpha(opacity=100);
    -moz-opacity : 1;
    opacity: 1;
}

.Partenaire1 div p
{  
	float:left;
	display:block;
	height:150px;
	background-image:url(PixBlack60.png);
	border: solid 2px transparent ;
	margin-left:15px;
	width:310px;
	padding-left:5px;
	padding-right:5px;
	line-height:18px
}

.Partenaire1 div p:first-line
{
	text-transform:uppercase;
	line-height:25px;
    font-weight:bold;
}


/*--------------------[ STYLE PAGE NOT FOUND ]--------------------*/
.PageNotFound
{
	display:block;
	font-size:25px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
}

/*--------------------[ STYLE NO ACCESS ]--------------------*/

.NoAccess
{
	display:block;
	font-size:25px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
}

/*--------------------[ STYLE ERROR ]--------------------*/

.Error
{
	display:block;
	font-size:25px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
}

/*--------------------[ STYLE ARTICLE ]--------------------*/

.FloatLeftMargin
{
	float:left;
	margin-left:35px;
	margin-bottom:35px;
	border: solid 2px red;
}

.Retour2
{
	float:right;
	text-decoration:none;
	background-color: #990000;
	color:White;
	padding:10px;
	
	margin-bottom:10px;
	display:inline-block;
	font-weight:bold;
	margin-top:150px;
}