﻿*{ margin: 0 ; padding: 0 ;}
/*  Menu Principal*/
.Menu
{
    float:left;
    margin-top :20px;
    margin-bottom:3px;	
}

.Menu li
{
    display:block;
    float:left;
    list-style:none;
}

.Menu li a 
{
    display :block ;
    text-decoration : none ;
    font-weight :bold;
    color :#646466;
    margin-right : 35px;
    line-height:13px;
    text-transform:uppercase;
}

.Menu li a:hover 
{
    color:White;	
}

.Menu li:hover a 
{
    color:#CCC;	
}

.Menu li ul
{
    display:none;
    position:absolute;
    width:130px;
    z-index:999;
    background-image:url(MenuPixBlack.png);
    background-repeat:no-repeat;
    background-position: 3px 6px ;

}


.Menu li:hover ul
{
    display:block;
    padding-top:13px;
    padding-bottom:5px;
}

.Menu li ul li
{
    display:block;
    width:100%;
}

.Menu li ul li a
{
    height:20px;
    display:block;
    width:115px;
    font-weight:normal;
    font-size:11px;
    padding-left:15px;
   
}

.Menu li:hover ul li a:hover
{
    color:Yellow;
}

.Menu li:hover ul li a
{
    color:#f0f0f0;
}

.Menu .MenuActif a
{
    color:White ;	
}

/* Menu gauche Cuvées*/
.Cuve-2-Menu
{
 float:left;
	width:214px;

   height:100%;
   margin-right:70px;
}

.Cuve-2-Menu a
{  

	display:block;

	width:214px;
	height:314px;
	margin-left:2px;

}

.Cuve-3-Menu
{
 float:left;
	width:214px;

   height:100%;
   margin-right:70px;
}

.Cuve-3-Menu a
{  

	display:block;

	width:214px;
	height:210px;
	margin-left:2px;

}

.SelectMenu
{
	background-color:Black;
    filter : alpha(opacity=50);
    -moz-opacity : 0.5;
    opacity : 0.5;
	
}

.SelectMenu:hover
{
	background-color:Black;
    filter : alpha(opacity=25);
    -moz-opacity : 0.25;
    opacity : 0.25;
	
}