﻿*{ margin: 0 ; padding: 0 ;}

.thumb
{
    position:absolute;
    height:9px;
    width:15px;
    left:10px;
}

.up, .dn 
{
    position:absolute;
    left:10px;
}

.up a, .up a img, .dn a, .dn a img, .thumb a , .thumb a img
{
    border:0;
}


/* SCROLLER NEWS */

.NewsRoot
{
    position:relative;
    height:580px;
    width:400px;
    margin-top:27px;
    float:left;		
    background-image: url(PixBlack45.png);
    margin-left:44px;
}

.NewsScrollContainer 
{
    position:absolute; 
    left:2px; 
    top:19px; 
    width:450px; 
    height:580px; 
    overflow:auto; 
}
		
.NewsScrollContent 
{   
    position:absolute; 
    left:0px; 
    top:0px; 
    width:450px; 
    padding:15px 0;
}


/* SCROLLER ILS EN PARLENT */

.IEProot
{
	position:relative;
	height:580px;
	width:330px;
	float:right;	
	margin-right:30px;
}

.IEPscrollContainer  
{
	position:absolute; 
	left:2px; 
	top:19px; 
	width:330px; 
	height:580px; 
	overflow:auto; 
	background-image: url(PixBlack60.png);
}
.IEPscrollContent 
{ 
	position:absolute; 
	left:0px; 
	top:0px; 
	width:100px; 
}

/* SCROLLER HISTORIQUE */

.HistRoot
{
	position:relative;
	height:403px;
	width:450px;
	margin-top:15px;
	right:30px;
	background-image: url(PixBlack20.png);
}

.HistScrollContainer
{ 
	position:absolute; 
	left:2px; 
	top:19px; 
	width:440px; 
	height:405px; 
	overflow:auto; 
}

.HistScrollContent
{ 
	position:absolute; 
	left:0px; 
	top:0px; 
	width:390px; 
	padding:6px;
}


/* SCROLLER BRU */

.BruRoot
{
	position:relative;
	height:570px;
	width:350px;
	margin-top:15px;
	background-image: url(PixBlack45.png);
}

.BruScrollContainer 
{
	position:absolute; 
	left:2px; 
	top:19px; 
	width:319px; 
	height:550px; 
	overflow:auto; 
}

.BruScrollContent
{ 
	position:absolute; 
	left:0px; 
	top:0px; 
	width:280px; 
	padding:6px;
}

/* SCROLLER MAS */

.MasRoot
{
	position:relative;
	height:370px;
	width:326px;
	right:15px;
	background-image: url(PixBlack45.png);
}

.MasScrollContainer
{ 
	position:absolute; 
	left:2px; 
	top:19px; 
	width:300px; 
	height:325px; 
	overflow:auto; 
}

.MasScrollContent
{ 
	position:absolute; 
	left:0px; 
	top:0px; 
	width:331px; 
	padding:6px;
}

/* SCROLLER CHAIS */

.ChaisRoot
{
	position:relative;
	height:360px;
	width:330px;
	padding-bottom:5px;
	background-image: url(PixBlack55.png);
}

.ChaisSrollContainer
{ 
	position:absolute; 
	left:2px; 
	top:19px; 
	width:320px; 
	height:320px; 
	overflow:auto; 
}

.ChaisScrollContent
{ 
	position:absolute; 
	left:0px; 
	top:0px; 
	width:280px; 
	padding:10px;
}

/* SCROLLER VIGNOBLE */

.VignRoot
{
	position:relative;
	height:170px;
	width:470px;
	margin-top:15px;	
	background-image: url(PixBlack45.png);
}

.VignScrollContainer
{ 
	position:absolute; 
	left:2px; 
	top:19px; 
	width:850px; 
	height:160px; 
	overflow:auto; 
}

.VignScrollContent
{ 
	position:absolute; 
	left:0px; 
	top:0px; 
	width:850px; 
	padding:6px;
	
}

/* SCROLLER TRUFFES */

.TruffRoot
{
	position:relative;
	height:360px;
	width:330px;
	padding-bottom:5px;
	background-image: url(PixBlack55.png);
}

.TruffSrollContainer
{ 
	position:absolute; 
	left:2px; 
	top:19px; 
	width:320px; 
	height:320px; 
	overflow:auto; 
}

.TruffScrollContent
{ 
	position:absolute; 
	left:0px; 
	top:0px; 
	width:280px; 
	padding:10px;
}

/* SCROLLER BARRIQUE PLUS */

.BarrRoot
{
	position:relative;
	height:570px;
	width:350px;
	margin-top:15px;
	background-image: url(PixBlack45.png);
}

.BarrScrollContainer 
{
	position:absolute; 
	left:2px; 
	top:19px; 
	width:319px; 
	height:550px; 
	overflow:auto; 
}

.BarrScrollContent
{ 
	position:absolute; 
	left:0px; 
	top:0px; 
	width:280px; 
	padding:6px;
}

/* SCROLLER BARRIQUE PLUS */

.BibRoot
{
	position:relative;
	height:590px;
	width:905px;
	margin-top:15px;		
	background-image: url(PixBlack45.png);
}

.BibScrollContainer
{ 
	position:absolute; 
	left:2px; 
	top:19px; 
	width:880px; 
	height:405px; 
	overflow:auto; 
}

.BibScrollContent
{ 
	position:absolute; 
	left:0px; 
	top:0px; 
	width:880px; 
	padding:6px;
}