	


/*-----------------------------------  clearer  -----------------------------------*/
/* prevent floated images from overlapping the div-containers they are wrapped in  */

.news-list-container HR.clearer,.news-single-item HR.clearer, .news-latest-container HR.clearer {
	clear:right;
	height:1px;
	border:1px solid #5a8ed7;

}
.news-latest-container HR.clearer {
	clear:left;
}

/*-----------------------------------  tt_news LATEST view  -----------------------------------*/

.news-latest-container {
	
	background-color:#e1eaf9;
	font-size:9px;
	margin:0px;
	margin-bottom:8px;
	border:1px solid #5a8ed7;
	width:150px;
	
	
}

*html .news-latest-container {
margin-right:0px;
}
.news-latest-gotoarchive {
	/*color:#000;*/
	padding:3px;
	margin:3px;
	
	font-size:11px;
}
.news-latest-container h3 a{
color:#fb1e30;
font-size:10px;


}
.news-latest-container h3 {
text-align:center;
}
.news-latest-container h2 {
color:#0052c2;
background-color:white;
text-align:center;
background-image: none;
font-size:11px;
padding:3px;
	margin:3px;
}

.news-latest-gotoarchive {
	font-weight:bold;
	margin-top:5px;
}
.news-latest-gotoarchive A:LINK, .news-latest-gotoarchive A:VISITED,  {
	color:#0052c2;
}
.news-latest-gotoarchive A:HOVER {
color:#5a8ed7;
}
.news-latest-gotoarchive A {
	color:#0052c2;
}
.news-latest-item {
	/* IE hack */
	height: 1%;
	line-height: 0.8;
	/* IE hack end */
	padding:3px;
	margin:3px;
	/*border:1px dotted #5a8ed7;*/
	background-color:#ffffff;
	


}

.news-latest-item IMG {
/*width:20px;
height:20px;*/
	margin-bottom:1px;
	margin-right:5px;
	border:1px solid #666;
	float:left;
}
.news-latest-category IMG {
	float: none;
	border:none;
	margin:0px;
	
}
.news-latest-date,.news-latest-morelink,.news-latest-category {
	font-size:9px;
}

.news-latest-morelink {
	height:8px;
	line-height:1;
}

.news-latest-morelink A {
	float:right;
}


/*--------------------------------- tt_news LIST view  -----------------------------------*/
.news-list-container {

	/*border:1px solid #000;*/
	background-color:#ffffff;
}
/*.news-list-item HR.clearer{
clear:right;
	height:1px;
	border:1px solid #5a8ed7;
}
*/
.news-list-item {
	/* IE hack */
	height: 1%;
	line-height: 1.3;
	/* IE hack end */
	padding:3px;
	margin:3px;
	/*border:1px solid #5a8ed7;*/
	background-color:#ffffff;

	}
.news-search-form {
	padding:3px;
	margin-bottom:5px;
	border:1px solid #666;
	background-color:#F9FFE5;

}
.news-search-emptyMsg{
	margin:0px;
}
.news-search-form FORM {
	margin:0px;
}
.news-list-container H3 {
	margin-bottom: 5px;
	padding: 2px;
	border-bottom: 1px dotted #063273;
	background-color:#ffffff;
	color:#5a8ed7;
}
.news-list-container H3 A:LINK,.news-list-container H3 A:VISITED,.news-list-container H3 A:HOVER {
	color:#5a8ed7;
	padding-left:2px;
}
.news-list-container H3 A {
	color:#ffffff;

}
.news-list-container P {
	padding-left:3px;
}
.news-list-date {
	float: right;
	color: #000000;
	width: 180px;
	text-align: right;
	height: 20px;
	margin-top: -2px;
	margin-right: -2px;
	font-size: 9px;
	font-weight: normal;
	background-color: #ffffff;
	}
	.news-list-date h3{
	float: right;
	color: #000000;
	width: 180px;
	text-align: right;
	height: 20px;
	margin-top: -2px;
	margin-right: -2px;
	font-size: 9px;
	font-weight: normal;
	background-color: #ffffff;
	}

.news-list-imgcaption {
	float: right;
	padding-top:3px;
	padding-right:3px;
	font-size: 9px;

	}

.news-list-container IMG {

	float: right;
	border:1px solid #666;
	margin-bottom:5px;
	margin-right:2px;
	margin-left:5px;
}
.news-list-category IMG {
	float: none;
	border:none;
	margin:0px;
}

.news-list-morelink,.news-list-category {
	font-size:9px;
	margin-left:3px;
}
.news-list-morelink  {
	margin-bottom:3px;
}
.news-list-browse {
	text-align: center;
}



	/*---------------------------------  tt_news Page-Browser ---------------------------------*/
.tx-ttnews-browsebox {
	margin:3px;
	border:1px dotted #5a8ed7;
	padding:3px;
	background-color:#ffffff;
}
.tx-ttnews-browsebox TD {
	font-size: 10px;
}
.tx-ttnews-browsebox-strong, .tx-ttnews-browsebox-SCell {
	font-weight: bold;
}
.tx-ttnews-browsebox-SCell P,.tx-ttnews-browsebox TD P{
	margin:0px;
}

.tx-ttnews-browsebox-SCell {
	background-color: #5a8ed7;
	/*border:1px solid #666;*/
}

.tx-ttnews-browsebox-SCell a{
color:#ffffff;

}
.news-search-emptyMsg {
	font-size: 11px;
	margin-left: 10px;
}
	/*--------------------------------- tt_news SINGLE view  ---------------------------------*/
.news-single-item {
	padding:5px;
	margin-bottom:5px;
	
	background-color:#ffffff;

}
/*.news-single-item HR.clearer{
clear:right;
	height:1px;
	border:1px solid #5a8ed7;
}*/
.news-single-item H2 {
	font-size: 18px;
	font-weight:bold;
	color: #0052c2;
	margin-bottom: 0px;
	background: url(http://www.granville.cci.fr/fileadmin/template/images/fond2.gif) left repeat-x;
	/*background-color:#5a8ed7;*/
}
.news-single-item H3 {
	margin-bottom: 15px;
	color:#0052c2;
}



.news-single-img {
	float: right;
	margin-left:5px;

}



.news-single-imgcaption {
	padding:3px;
	clear:both;
}

.news-single-category {

	float: right;
}
.news-single-backlink, .news-single-backlink a {
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 15px;
	margin-top: 10px;
}
.news-single-timedata {
	float: right;
}
.news-single-timedata, .news-single-author,.news-single-imgcaption {
	font-size: 9px;
}
.news-single-timedata {
color: red;

}
.news-single-author {
	padding-bottom: 3px;
	margin-bottom:7px;
}
.news-single-additional-info {
	background-color: #BBE53A;
/*	clear: both;*/
	margin-top: 15px;
	border: 1px solid #666;
	padding:3px;
	padding-bottom:0px;

}
.news-single-related,.news-single-files,.news-single-links  {
	border: 1px solid #666;
	margin:0px;
	margin-bottom: 3px;
	padding:3px;
	background-color:#F9FFE5;
}

.news-single-related DD, .news-single-links DD, .news-single-files DD {
	margin-left:20px;
}

.news-single-related DT, .news-single-links DT, .news-single-files DT {
	font-weight: bold;
	font-size: 11px;
	margin-left:5px;
	width:90%;
}

/*--------------------------------- tt_news Archivemenu (AMENU) --------------------------------- */
.news-amenu-container {
	margin-top:10px;
	padding:3px;
	border:1px dotted #5a8ed7;
	background-color:#ffffff;
	margin-bottom:7px;
}
.news-amenu-container LI {
	padding-bottom:1px;
	
}

ul ..news-amenu-container {
list-style-type: none;
}
.news-amenu-container UL {
	padding:3px;
	margin-top:5px;
	margin-left:0px;
	margin-bottom:0px;
	padding-left:15px;
	
	
}
.news-amenu-container H2 {
	color:#fff;
	margin-top:0px;
	padding:3px;
	border:1px solid #0052c2;
	background-color:#5a8ed7;
}
.news-amenu-item-year {
	font-weight: bold;
	border: 1px solid #0052c2;
	padding: 2px;
	background-color: #e1eaf9;
	color:#0052c2;
	
}

/*--------------------------------- tt_news Categorymenu (CATMENU) --------------------------------- */


.news-catmenu  {
	padding:5px;
	margin:0px 0px 10px 0px;
	border:1px dotted #5a8ed7;
	background-color:#ffffff;
}
.news-catmenu-header {
	font-size:11px;
	font-weight:bold;
	margin-bottom:5px;
}
.news-catmenu DIV {
	font-size:10px;
	white-space: nowrap;
}
.news-catmenu DIV img, .news-catmenu img, .news-catmenu-header img {
	margin:0px;
	padding: 0px;
	vertical-align: middle;
}
.news-catmenu-ACT {
	font-weight:bold;
	
}

/*  Styles for catmenu mode "nestedWraps" */
.level1 {
	padding:1px;
	padding-left:10px;
	background-color:#ebf8bf;
	border-left:1px solid #666;
	border-top:1px solid #666;
}
.level2 {
	padding:1px;
	padding-left:10px;
	background-color:#ddf393;
	border-left:1px solid #666;
}
.level3 {
	padding:1px;
	padding-left:10px;
	background-color:#cae46e;
	border-left:1px solid #666;
	border-top:1px solid #666;

}
.level4 {
	padding:1px;
	padding-left:10px;
	background-color:#b0cb51;
	border-left:1px solid #666;
}


   )


