/* PAGELAYOUT CSS - 20060522 */


hr.clear{
	clear		: both;
	visibility	: hidden;
	height		: 0;
	margin		: 0;
}

.underline{
	text-decoration: underline;
}

.vertically_listed_sub_items .evenement{
	font-size	:	1.2em;
	border	: 1px solid #F7AE11;
	background-color: #F0F8E0;
	padding	: 5px;
}

.encart_col_droite{
	background-color	: #FFF;
	padding				: 5px;
	margin				: 10px 0;
}

.haut_page{
	width		: 600px;
	margin		: 5px auto 5px;
	text-align	: right;
}

.xiti {
	position	:relative;
	left		:0px;
	top			:26px;
	z-index		:3;
	padding		: 0px;
	margin		: 0 0 0 40px;
}

	div#page.col1 .haut_page {
		margin:5px 5px 5px 0;
		width:auto;
	}

.class-folder a, .class-subpage a, .class-mainpage a, .class-article a {
	text-decoration	: underline;
}

.class-folder a:hover, .class-subpage a:hover, .class-mainpage a:hover, .class-article a:hover {
	text-decoration	: none;
}

.class-folder .organigramme, .class-folder .organigramme ul{
	margin:	 5px 5px;
}

.organigramme strong{
	color : #0078C1;
}

.class-folder .organigramme  li{
	background	: transparent url(orga_bullet.png) no-repeat left top;
	padding		: 0 0 0 13px;
}

 ul.service {
border: 1px solid #CCC;
}

.class-folder .organigramme ul.service li {
background : none;
}

/* FULL PAGE */


div#page
{
    width		: 980px; /* This can be changed to any fixed width if desired */
    margin		: 2px auto 0; /* General method for centering content if fixed page width, for other browsers than IE */
    text-align	: left; /* Reset IE method for centering page, to stop all other content on the page from centering */
	border		: 1px solid #0078C1;
	background	: #FFF url(bg.page_col2.png) left bottom	no-repeat;
}

	/*div#page.col2{
		background	: #FFF url(../images/site/bg.page_2col.png) left bottom	no-repeat;
	}*/
	
	div#page.col1{
		background	: #FFF url(bg.page_col1.png) left bottom	no-repeat;
	}

/* HEADER */

div#header
{

    background-color: #FFFFFF;
    padding	:0;
	margin	:0;
	position	:relative;
	/*background: transparent url(../images/site/banner.jpg) no-repeat right bottom;*/
}


div#logo
{
    /*float: left;*/
    margin: 1em 0 0 1.5em;
}

/*
div#logo a {
	background	: transparent url(../images/site/logo.jpg) no-repeat center top;
	display		: block;
	height		: 160px;
	width		: 196px;
}
*/

div#logo a span {
	position	: absolute;
	top			: -1000px;
	left		: -500px;
}

div#usermenu{
   height	: 2.25em;
   position	: relative;
   z-index	: 2;
}

div#usermenu ul{
    margin: 0;
}

div#usermenu ul li{
    list-style-type: none;
    list-style-image: none;
    padding	: 0.9ex 0;
    margin: 0;
	float:left;
    background-image: none;
}

div#usermenu ul li a{
	/*background	: #0078c1 url(../images/site/tab.png) no-repeat right bottom;*/
	background-color	: #0078c1;
	background	:#0078c1 url(bg.usermenu2.png) no-repeat right bottom;
	color		: #FFF;
    padding		: 1ex 1em 1ex 1em;
}


	div#usermenu ul#usertool  li a{
		background			: #000;
		padding				: 1ex 0.5em;
	}

		div#usermenu ul#usertool  li a span{
			padding		: 0;
			font-weight	: bold;
		}

			div#usermenu ul#usertool  li a.firstFontSize span{
				font-size	: 0.8em;
			}

			div#usermenu ul#usertool  li a.secondFontSize span{
				font-size	: 0.9em;
			}

			div#usermenu ul#usertool  li a.thirdFontSize span{
				font-size		: 1em;
			}

div#usermenu ul li a span{
    padding		: 2px 0 0 2em;
}

	#contact span{
		background	: transparent url(contact.png) no-repeat left center;
	}

	#sitemap span{
		background	: transparent url(sitemap.png) no-repeat left center;
	}

	#registeruser span{
		background	: transparent url(registeruser.png) no-repeat left center;
	}

	#login span{
		background	: transparent url(login.png) no-repeat left center;
	}
	
	#logout span{
		background	: transparent url(logout.png) no-repeat left center;
	}

	#sitesettings span{
		background	: transparent url(sitesettings.png) no-repeat left center;
	}

	#myprofile span{
		background	: transparent url(myprofile.png) no-repeat left center;
	}
	
	#home span{
		background	: transparent url(home.png) no-repeat left center;
	}

	div#usermenu ul#usertool #pdf img{
		height		: 12px;
		display		: block;
	}
	/*div#usermenu ul#usertool #pdf a{
		padding		: 0;
	}
	*/
	
div#usermenu ul li a:hover{
	/*background: #0078c1 url(../images/site/tab-hover.png) no-repeat right bottom;*/
	/*background-color: #B1CA00;*/
	background	:#B1CA00 url(bg.usermenu-hover.png) no-repeat right bottom;
}
/*
div#usermenu ul li#home a{
	background: transparent url(../images/site/tab.png) no-repeat right bottom;
}

div#usermenu ul li#home a:hover{
	background: transparent url(../images/site/tab-hover.png) no-repeat right bottom;
	background-color: #B1CA00;
}
*/
div#languages
{
    background-image: url(http://www.marne.fr/extension/cg51_tpl/design/cg51_tpl/images/header_bg_left.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    float: left;
    clear: left;
    width: 24%;
    height: 25px;
    font-size: 0.85em;
}

div#languages ul li
{
    margin-left: 8px;
}

div#languages a
{
    padding-right: 2px;
}

div#searchbox
{
	margin		: 125px 0 0 477px;
	text-align	: right;
	width		: 23em;
	position	: relative;
	z-index		: 2;
}

div#searchbox label{
	color		: #000000;
	display		: none;
	font-size	: 13px;
	font-weight	: bold;
	float		: left;
}



input#searchtext
{
    border: 1px solid #A5ACB2;
    font-size: 0.85em;
    width: 12em;
}

input#searchbutton
{
    margin-top: -0.1em;
}

/* TOP MENU */

div#topmenu
{
    margin: 0;
    padding: 0;
}

div#topmenu ul
{
    margin: 0;
    padding: 0;
    background-color: #5E4521;
    height: 33px;
}

div#topmenu li
{
	background: #5E4521 url(topmenu.png) no-repeat left top;
    height	: 33px;
	width	: 190px;
	margin	: 0;
    float: left;
    padding: 0;
    font-size: 1em;
    font-weight: bold;
    list-style-type: none;
    list-style-image: none;
	color			: #FFF;
	border-right	: 4px solid #FFF;
}

div#topmenu li.selected
{
	background: #99CC33 url(topmenu-hover.png) no-repeat left top;

}

div#topmenu li a
{
    text-decoration: none;
	color			: #FFF;
    width: 100%;
    display: block;
    float: left;
	margin	: 4px 0 0;
    height: 22px;
    line-height: 22px;
    background-color: transparent;
}

div#topmenu li a span
{
	margin	: 2px 35px 0;
}

/*
div#topmenu li a:hover
{
    border-bottom: 3px solid #ABAB9E;
}

div#topmenu div.topmenu-design
{
    background-color: orange;
    padding: 0 0.25em 0 0.2em;
}
*/
/* PATH */

div#path
{
    padding		: 0.5em 0.5em 0.5em 170px;
	/*margin-left	: 170px;*/
    font-size	: 0.85em;
	background	: #FFFFFF;
	color		: #000;
	font-weight	: bold;
	width		: 620px;
}

div#path p
{
	margin			: 0.25em 0;
}


div#path p img{
	/*vertical-align : middle;*/
}

div#path p a{
	color		: #545454;
	font-weight	: bold;
}

/* COLUMNS */


div.nosidemenu div#columns
{
   padding-left: 0;
   position		: relative;
}

div.noextrainfo div#columns
{
   padding-right: 0;
   position		: relative;
}

/* SIDE MENU */

div.nosidemenu div#sidemenu-position
{
   /* display: none;*/
}

div#sidemenu  ul
{
    /*margin: 0.5em 0 0.5em 0;*/
	margin	: 0;
	padding	: 0;
}

div#sidemenu  ul li
{
    margin: 0.25em 0 0.25em 1.25em;
    padding: 0;
    background: url(TitreLi.png);
	background-repeat:no-repeat;
	background-position:0 0.3em;
}

div#sidemenu div.box div.box-content
{
    padding-left: 0.75em;
    padding-right: 0;
}


div#sidemenu h2, .content-view-full .left-column h2, .content-view-full .toolbar2 h2, .tagcloud h2{
	padding		: 1px 0px 0px 30px;
	margin-top		: 5px;
	color			: #006699;
	font-size		: 1.3em;
	text-transform	: uppercase;
}

.content-view-full .right-column .toolbar2 h2{
	background		: url(bg.rubrique.png) no-repeat left top;
	width 			: 150px;
}

div#sidemenu .toolbar253 h2, div#sidemenu  h2.menu253, .content-view-full .left-column  .toolbar253 h2{
	background		: url(bg.nous-sommes.png) no-repeat left top;
}

div#sidemenu h2
{
	background		: url(bg.rubrique.png) no-repeat left top;
	margin-left		: 0;
}

div#sidemenu .tagcloud h2, .content-view-full .left-column  .tagcloud h2{
	background		: url(bg.vous-etes.png) no-repeat left top;
}

	.tagcloud  .tagwords{

	}
	
div#sidemenu h4 a
{
    color: #FFF;
    text-decoration: none;
}

div#sidemenu h4 a:hover
{
    color: #FFF;
    text-decoration: none;
}

div#sidemenu ul.menu-list a.selected{
    font-weight: bold;
	color		: #0078c1;
}

div#sidemenu ul.menu-list .third_level_menu a.selected{
	color		: #0078C1;
}

div#sidemenu ul.menu-list li a{
    /*background-image: url(../images/sidemenu_bullet.png);*/
    background-position: 0.2em 0.5em;
    background-repeat: no-repeat;
    padding-left: 18px;
    display: block;
    /*font-size: 0.85em;*/
}


div#sidemenu ul.submenu-list, .nodemenu-sublist
{
    list-style-type	: none;
    margin-left		: 1em;
	border 			: 1px solid #000;
	background 		: #fff;
	margin-left		: 17px;
	width			: 132px;
}

	div#sidemenu ul.submenu-list li, #columns #main-position .nodemenu-sublist li{
		background		: none;
		padding-left	: 0;
		margin			: 5px;
	}

		div#sidemenu ul.submenu-list li a, #columns #main-position .nodemenu-sublist li a{
			padding-left	: 5px;
			margin-left		: 0;
		}


/* 		div#sidemenu ul.submenu-list li a.selected{
			font-weight		: bold;
			padding-left	: 10px;
		} */



div#sidemenu a, .left-column a, .right-column a{
	color	: #000;
}

/* MAIN AREA */

div#main-position
{
    /*width: 100%;
    float: left;*/
}

div#main
{

}

div.nosidemenu div#main-position
{
    margin-left: 0;
}

div.noextrainfo div#main-position
{
    margin-right: 0;
}

/* EXTRA CONTENT */

div#extrainfo-position
{
    width: 17em;
    margin-right: -17em;
    float: left;
}

div.noextrainfo div#extrainfo-position
{
    display: none;
}

div#extrainfo
{

}

div#sidemenu
{
   /* padding: 0 0.25em 0 0;*/
}

div#extrainfo
{
    padding: 0 0 0 0.25em;
}

/** Colonne de Gauche **/
.left-column h4 {
background:#333333 none repeat 0 0;
border:1px solid;
margin-bottom:0;
margin-left:10px;
margin-right:0;
padding-left:10px;
width:140px;
}

div#main-position .left-column ul, div#main-position .class-frontpage{
margin:0;
padding:0;
}

div#main-position .left-column ul li, div#main-position .class-frontpage .right-column ul li {
	background		: transparent url(TitreLi.png) no-repeat 0 0.3em;
	margin			: 0.25em 0 0.25em 1.25em;
	padding			: 0;
}

.toolbar-link {
	background		: transparent url(TitreLi.png) no-repeat left 3px;
	margin			: 0.25em 0 0.25em 1.25em;
	padding-left	: 10px;
	/*font-size		: 0.85em;*/
	display			: block;
}


div#main-position .left-column ul li a, div#main-position .class-frontpage .right-column ul li a {
	background-position:0.2em 0.5em;
	background-repeat:no-repeat;
	display:block;
	padding-left:10px;
	/*font-size: 0.85em;*/
}


hr.border-module{
	height		: 7px;
	color		: #ccff66;
	background	: #ccff66;
	border		: none;
	margin-left	: -10px;
	width		: 180px;
}

.center-column hr.border-module, .class-article hr.border-module{
	clear		: left;
	height		: 1px;
	background	: #ccc;
	color		: #ccc;
	margin		: 5px 0;
	width		: 100%;
	display		: none;
}	

div.left-column hr.border-module, #sidemenu hr.border-module{
	display		: none;
}

