﻿@charset "utf-8";
/* CSS Document */
/****************************/
/*    STRUCTURE GENERALE    */
/****************************/

* {
	margin: 0px;
	padding: 0px;
	border: 0px none;
}

html, body {
	/*background: #d3ddef;*/
	height: 100%;
	background: #fff url(bg_body.jpg) repeat-x;
	font-family: Arial, Verdana, sans-serif;
}

div#coteLogo {
	position: relative;
	min-height: 100%;
	width: 90%;
	min-width: 1000px;
	max-width: 1000px;
	margin: 0px auto;
	background: url(logo_cote.gif) no-repeat 0px 61px;
	/*position: absolute;
	width: 90%;
	height: 42px;
	min-width: 760px;
	max-width: 1300px;
	top: 60px;
	left: 50%;
	margin-left:-47%;
	border: solid;*/
	height: auto;
}
html>body #container {
	height: auto;
}
* html div#coteLogo {
	width: 1000px;
}
div#accessibilite, div#page, div#bandeau, div#pied {
	margin-left: 16px;
}
.intro{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #05326E;
	line-height:1.5em;
	border-bottom:1px solid #D0DFF6;
	margin-bottom:20px;
	
}
div#accessibilite {
	text-align: right;
	font-size: 0.7em;
	color: #053fa2;
	background: url(bg_accessibilite.gif) repeat-x;
}
div#accessibilite ul {
	background: url(logo_haut.gif) no-repeat 48px 0px;
	height: 30px;
	clear: both;
	overflow: hidden;
}
div#accessibilite ul li {
	float: right;
	list-style: none;
	margin: 0px 0px 0px 3px;
	padding: 8px 0px 0px 0px;
}
div#accessibilite ul li.lang {
	padding: 0px;
}
div#accessibilite ul li a {
	text-decoration: none;
	color: #053fa2;
}

div#page {
	background: #FFF url(bandeau_accueil.jpg) no-repeat;	
	clear: both;
	overflow: hidden;
	padding-bottom: 100px;
}
div#page.vacances {
	background: #FFF url(bandeau_vacances.jpg) no-repeat;	
}
div#page.aeroport {
	background: #FFF url(bandeau_aeroport.jpg) no-repeat;	
}
div#page.services {
	background: #FFF url(bandeau_services.jpg) no-repeat;	
}
div#page.voyageur {
	background: #FFF url(bandeau_voyageur.jpg) no-repeat;	
}
div#page.aeronautique {
	background: #FFF url(bandeau_aeronautique.jpg) no-repeat;	
}
div#page.transport {
	background: #FFF url(bandeau_transport.jpg) no-repeat;	
}


div#page h1 {
	height: 120px;
}
div#page h1 span {
	display: none;
}


/*-----CONTENU DE LA PAGE------*/
div#contenu {
	clear: both;
}


div#page hr {
	border: solid 1px #FFFFFF;
	clear: both;
}

div#pied {
	position: absolute;
	bottom: 0;
	font-size: 0.8em;
	color: #fff;
	background: #ad1b4a url(bg_pied.gif) no-repeat bottom right;
	overflow: hidden;
	clear: both;
	padding: 15px;
	height: 50px;
	width: 95%;
}
div#pied p {
	float: left;
	width: 23%;
}
div#pied p a {
	/*text-decoration: none;*/
	color: #fff;
	font-weight:bold;
}
div#pied p a:hover {
	text-decoration: underline;
}
div#pied ul {
	float: right;
	width: 33%;
	margin-top: 25px;
}
div#pied ul li {
	float: left;
	list-style: none;
}
div#pied ul li a {
	display: block;
	width: 100px;
	height: 40px;
}
div#pied ul li a.cci {
	background: url(logo_chambre_commerce_vienne.gif) no-repeat;
	width: 125px;
	height: 40px;
}
div#pied ul li a.cg {
	background: url(logo_conseil_general_vienne.gif) no-repeat;
	width: 90px;
	height: 40px;
}
div#pied ul li a.cap {
	background: url(logo_agglomeration_poitiers.gif) no-repeat;
	width: 90px;
	height: 40px;
}
div#pied ul li a span {
	display: none;
}



