/* CSS Document */

/****************************/
/*         NAVIGATION       */
/****************************/

#menu {
	margin-left: 180px;
}

#menu h2 {
	font-size: 1em;
	font-weight:normal;
	/*display: none;*/
}


/* PREMIERE LIGNE HORIZONTALE */
#menu ul {
	min-height: 26px;
	background: url(px_bleu.gif) repeat-x 0px 26px;
}
#menu ul li {
	float: left;
	font-family: Verdana, sans-serif;
	font-size: 0.8em;
	list-style: none;
	position:relative;
	/*width: 110px;
	text-align:center;
	display: block;
	padding: 7px 15px 4px 15px;*/
	background: url(bg_onglet_of.gif) no-repeat;
	border-right: solid 1px #a0a1a4;
}
#menu ul li h2 {
	display: block;
	padding: 7px 15px 4px 15px;
}
#menu ul li a,
#menu ul li span {
	color: #ffffff;
	font-size: 0.8em;
	text-decoration: none;
}

#menu ul li:hover {
	background: url(bg_onglet_over.gif) no-repeat;
}
#menu ul li:hover h2 a {
	color: #31467c;
}

#menu ul li.on/*,
#menu ul li h2.on,
#menu ul li h2 a.on*/ { 
	background: transparent url(bg_onglet_on.gif) no-repeat;
}
#menu ul li.on h2 a/*,
#menu ul li h2.on a,
#menu ul li h2 a.on*/ { 
	color: #d40028;
}


/* LES AUTRES NIVEAUX DE L'ARBORESCENCE ORGANISES EN CASCADE */
#menu ul ul {
	font-size: 12px;
}
#menu ul li li {
	float: none;
	text-align: left;
	background-image: none;
	background-color: #f5f5f5;
	border-bottom: solid 1px #ffffff;
	border-left: solid 1px #ffffff;
	border-right: solid 1px #ffffff;
}
#menu ul li li:hover {
	background-image: none;
	background-color: #ffffff;
}

#menu ul li li a {
	font-size: 1em;
	display: block;
	padding: 4px 15px 4px 15px;
	color: #31467c;
	width: 120px;
}
#menu ul li li a:hover {
	color: #6699FF;
}


div#menu ul ul {position: absolute; top: 23px; left: -1px; display:none; background: #FFFFFF; border-top: solid 1px #FFFFFF}
div#menu ul ul ul {position: absolute; top: -1px; left: 130px; display:none; background: #FFFFFF; border-top: solid 1px #FFFFFF}

/* on "dynamise" le menu */
div#menu ul li:hover ul, 
div#menu ul ul li:hover ul, 
div#menu ul ul ul li:hover ul, 
div#menu ul ul ul ul li:hover ul {display:block;}
