div.toute_actu{
	margin-bottom:5px;
	margin-right:5px;
	text-align:right;
}

p.texte_actualite_eve{
	color:#424559;
	font-family:Verdana, sans-serif;
	font-size:small;
	font-weight:normal;
}

span.date_actualite_eve{
	color:#424559;
	font-family:Verdana, sans-serif;
	font-size:small;
	font-style:italic;
	font-weight:normal;
}


td.texte_img img{ 
	width: 90px;
	border: 2px;
}

td.texte_img{
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

span.titre_actualite_eve{
/*	color:#FFA937;*/
	font-family:Verdana, sans-serif;
	font-size:normal;
	font-weight:bold;
	margin-bottom:0px;
	margin-left:0px;
}



.body Body1
{
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	background-color:#B8B8B8;
	background-image:url('http://www.ccip93.fr/images/fond_ccip.jpg');
	background-repeat:repeat-x;
	background-position:top left;
}

.Style1
{
	COLOR: #ffcccc
}

.h
{
	width:750px;
	padding:5px;
	margin:3px;
	font-size:11px;
	font-family:arial;
	margin-left: auto;
	margin-right: auto;
}

.h1
{
	display:none;
}

.h a
{
	color: #333333;
	text-decoration: underline;
	font-weight:normal;
	font-size:11px;
}

.Fonte1
{
font-size:10px; color: #000000; width:80px; height:18px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:bold;
}

.Centre
{
	text-align: center;
}

.Border1
{
	BORDER:0; FONT-FAMILY: arial; FONT-size: 14px; BACKGROUND-COLOR: #0091CA;
}

.Border2
{
	BORDER:0; FONT-FAMILY: arial; BACKGROUND-COLOR: #33cc99;
}

.Border3
{
	border:1px solid #869bd0
}

.Border4
{
	border:1px solid #003088;width:300;font-size:10px;color:#003088
}

.Border5
{
	border:1px solid #003088;font-size:10px;color:#003088;
}

.Border6
{
	border:1px solid #003088;font-size:10px;font-weight:bold;color:#003088;background:edefff;
}

.Background1
{
	background:#869bd0;color:#FFFFFF;font-size:14px;font-weight:bold;font-variant: small-caps
}

