
/*******************************************************************selecteurs*/
*{
	color:#444444;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
body{
	padding: 5px;
	font-size: 11px;
	background-color:#FFFFFF;
}
img{
	border: 0
}
li{
	list-style-type: none;
}
label, input, select{
	vertical-align: middle;
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
input[type="image"]{
	cursor: pointer;
}
/********************************************************************commun*/
.spacer{
	clear: both;
	display: block;
	margin-top: -1px;
}
.puce{
	color: #408E00;
	font-size: 8px;
}
.img_left{
	float: left;
	margin:0 10px 10px 0
}
.body_1024{
	background: url(bkg_page_1024.gif) no-repeat 0 20px;
}
.body_800{
	background: url(bkg_page_800.gif) no-repeat 0 20px;
}
.img_right{
	float: right;
	margin: 0 0 10px 10px
}
.object{
	margin: 10px 0 
}
.object2{
	margin: 0px;
	margin-bottom:10px;
}
.pub_left p{
	margin-bottom: 10px
}
/*********************************************************************header*/

.tools{
	text-align: right;
}
.tools li{
	display: inline;
	padding: 0 3px;
}
.tools li a{
	color: Black;
}

.english{
	padding-left: 14px;
	background: url(http://www.credit-agricole.com/ca_clean/medias/image/commun/picto_english.gif) no-repeat 0 2px;
	font-weight: bold;
}

.logos{
	float: left;
	margin-top: -15px;
	padding-left: 22px
}
.logos img{
	margin-right: 22px
}
.search{
	float: right;
	margin: 20px 0 0 0
}
#search{
	font-size: 11px;
	width: 107px;
	padding-left: 3px
}
/*outils complementaires*/
.tools_b{
	text-align: center;
	margin-top: 30px
}
.tools_b li{
	display: inline;
	padding: 0 20px
}
.tools_b li a{
	font-weight: bold;
}

.save, .print, .send{
	padding:8px 0 8px 30px;
	font-weight: bold;
}

/***********************************************************************navigation superieure*/

.topnav{
	margin-top: 20px;
}
.left{
	float: left;
	padding-left: 8px;
}
.left a{
	display: block;
	padding: 2px 12px 2px 0;
	text-transform: uppercase;
	color: White;
	font-weight: bold;
}
.left a:hover{
	text-decoration: underline;
}
.right{
	float: right;
}
.right *{
	vertical-align: middle;
	padding: 0 3px;
	text-transform: uppercase;
	font-weight: bold;
}
.bkg_nav_expt_a, .bkg_nav_expt_b, .bkg_nav_on, .bkg_nav_off{
	white-space: nowrap;
	text-align: center;
}
.subnav{
	margin: 1px 0;
}
.subnav_td, .layout, .layout_content{
	width: 100%;
	border-collapse: collapse;
}
.subnav_td a{
	text-transform: uppercase;
	font-weight: bold;
}
.subnav_td a:hover{
	text-decoration: none;
}
.fin_nav{
	width: 8px
}
.start_nav{
	width: 8px
}
html>body .start_nav{
	width: 7px
}

/**************************************************************corps de page*/
/************************structure*/
.layout td{
	vertical-align: top;
}
.layout_left{
	width: 132px;
	padding: 10px 10px 0 0;
}
.layout_right{
	width: 122px;
	padding: 10px 0 0 10px;
}
.layout_center{
	padding: 10px 0 40px 0;
}
/***********************colonne gauche*/

.nav_left{
	width: 142px;
}
.s_s_nav{
	width: 128px;
	padding: 5px 2px 2px 10px;
	margin-top: -14px;
}
html> body .s_s_nav{
	margin: 0;
}
/************************modules de gauche*/
.block_left{
	display: block;
	width: 142px;
	padding-bottom: 16px;
	margin-bottom: 10px
}
.block_left div{
	padding: 5px 5px 0 5px;
}
.block_left h3{
	margin-bottom: 10px;
	padding-left: 12px;
	font-size: 11px;
}
.block_left p{
	font-size: 10px;
	padding-left: 12px
}
.bottom_link{
	padding: 10px 0 10px 8px;
}
.bottom_link li{
	padding-left: 15px;
	line-height: 10px;
}
.bottom_link li a{
	font-size: 11px;
	font-weight: bold;
}
.mod_bottom{
	width: 142px;
	padding-bottom: 12px;
}
.top_mod{
	font-size: 11px;
	padding: 5px 0 0px 8px;
	text-transform: uppercase;
}
.access p{
	margin: 0 2px 0 8px;
	padding: 3px 0 0 0
}
.access select{
	width: 105px;
	font-size: 10px
}
.access_txt{
	width: 101px
}
/**************************colonne centrale*/


.deco_left_top{
	display: block;
}
.layout_center h1{
	margin: 8px 0 15px 0;
	padding-left: 7px;
	font-size: 20px;
	line-height: 16px
}
.decal{
	padding-left: 12px;
}
.content_txt h2{
	margin-bottom: 5px;
	font-size: 12px
}
.content_txt dl{
	margin-bottom: 15px
}
.content_txt dd, .content_txt p, .content_list p{
	margin-bottom: 10px
}
.content_txt dt, .content_list dt{
	font-weight: bold;
}
.content_list dt{
	margin-bottom: 10px
}
.content_list dd{
	padding-left: 14px
}
.chapeau{
	margin-bottom: 10px;
	font-weight: bold;
}
.bloc_liste_img{
	margin: 15px 0;
	width: 100%;
	height: 180px
}
.bloc_liste_img ul{
	padding: 18px 0 0 145px;
}
.bloc_liste_img li{
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 0;
	padding-left: 18px
}
.bloc_liste_img p{
	padding: 5px 0 0 145px;
}
.double_box{
	width: 100%;
	margin-bottom: 15px
}
.double_box td{
	width: 50%;
}
.double_box_col_left{
	padding-right: 15px
}
.double_box_top_left{
	padding: 0 0 0 13px
}
.double_box_bottom_left{
	padding: 0 0 0 13px
}
.double_box_center{
	padding: 0 10px;
	height: 85px;
	min-height: 85px
}
html>body .double_box_center{
	height: auto;
}
.double_box_center h2{
	font-size: 14px;
	padding-bottom: 10px
}
.double_box_center li{
	padding: 0 0 5px 12px
}
.deco_center_left, .deco_center_left_white{
	padding-bottom: 10px
}
.col_left_home{
	width: 100%;
}

.col_left div{
	width: 133px;
	padding: 0 10px
}

.col_right_home{
	width: 132px;
	padding-left: 10px
}
.layout_content td{
	width: 46%;
	padding: 5px 2%
}
.layout_content h2{
	margin-bottom: 10px;
	padding-left: 8px;
	font-size: 16px;
}
html>body .layout_content h2{
	padding-left: 14px
}
.layout_content p{
	margin-left: -6px
}
html>body .layout_content p{
	margin: 0
}

.content_menu, .content_menu_bis, .content_menu_ter{
	padding: 5px 10px;
}
.content_menu div, .content_menu_simple div{
	margin-bottom: 10px;
	clear: both;
}
.content_menu_top{
	padding: 0 5px;
}
.content_menu_top div{
	padding: 0 3px;
}
.deco_center_white{
	margin-bottom: 10px	
}
.content_menu h2{
	margin: 0 10px;
	padding-left: 16px;
	font-size: 16px;
}
.content_menu_simple{
	padding: 0 10px
}
.content_menu_simple h2{
	font-size: 12px;
	padding-left: 16px;
}
.content_menu_top h2{
	margin-bottom: 5px;
	padding-left: 22px;
	font-size: 22px;
	line-height: 20px
}
.content_menu_top h3{
	font-size: 11px;
	padding-left: 12px
}
.content_menu_top p{
	margin-left: 12px
}

.content_menu_presse{
	padding: 0 8px
}
.content_menu_presse h2{
	font-size: 18px;
}
.content_menu_presse p{
	margin-top: 5px;
	padding-left: 12px
}
.content_menu_presse p a{
	font-weight: bold;
}
.link_right{
	text-align: right;
	margin: 10px 0
}
.link_right a{
	padding:0 20px 0 12px;
	font-weight: bold;
}
.mod_center_right{
	margin-bottom: 10px
}
.mod_center_right h2{
	font-size: 12px;
	padding: 6px 5px 0 10px
}
.mod_center_right div{
	display: block;
	width: 130px;
	padding: 10px 5px 0 5px
}
.mod_center_right div p{
	margin:0 0 5px 12px;
	font-weight: bold;
}
.mod_center_right div li{
	padding: 0 0 0 12px
}

.vague{
	text-align: center;
	margin: 10px 0
}
.content_txt h2{
	font-size: 16px
}
/***************************************************************colonne de droite*/
.abonnement{
	display: block;
	width: 142px;
	background-color: #DDEDF0;
}
.vide{
	display: block;
	width: 142px;
}
.abonnement h2{
	display: block;
	width: 134px;
	padding: 8px 0 4px 8px;
	font-size: 11px;
	line-height: 10px;
	background: url(http://www.credit-agricole.com/ca_clean/medias/image/commun/mod_right_top.gif) no-repeat;
	color: White;
}
.abonnement input[type="checkbox"]{
	margin-right: 2px;
}
.abonnement .corps_ab{
	padding: 5px 8px;
	border-left: 1px solid #5FA9B8;
	border-right: 1px solid #5FA9B8;
}
.abonnement div p{
	font-size: 9px;
	margin-top: -2px;
}
html>body .abonnement div p{
	font-size: 10px;
	margin-bottom: 5px
}
.abonnement div div{
	margin-bottom: 10px
}



.abonnement1{
	display: block;
	width: 142px;
	background-color: #E5FAF7;
}
.abonnement1 h2{
	display: block;
	width: 134px;
	padding: 8px 0 4px 8px;
	font-size: 11px;
	line-height: 10px;
	background: url(http://www.credit-agricole.com/ca_clean/medias/image/commun/mod_right_top1.gif) no-repeat;
	color: White;
}

.abonnement1 .corps_ab{
	padding: 5px 8px;

}
.abonnement1 div p{
	font-size: 9px;
	margin-top: -2px;
}
html>body .abonnement1 div p{
	font-size: 10px;
	margin-bottom: 5px
}
.abonnement1 div div{
	margin-bottom: 10px
}


.gras{

	font-size: 11px;
	color: Black;
	font-weight: bold;

}

.abo_input{
	width: 90px;
	margin-right: 5px;
	font-size: 10px
}
.contact{
	width: 142px;
}

.contact p{
	width: 134px;
	padding: 6px 0 8px 8px;
	font-size: 11px;
	background: url(http://www.credit-agricole.com/ca_clean/medias/image/commun/mod_right_bottom.gif) no-repeat bottom;
	background-color: white;
	
}
.contact a, .h_contact a{
	padding-left: 12px;
	background: url(http://www.credit-agricole.com/ca_clean/medias/image/commun/picto_link_contact.gif) no-repeat 0 2px;
	color: White;
	font-weight: bold;
}

.savoir{
	width: 142px;
}

.savoir p{
	width: 134px;
	padding: 6px 0 8px 8px;
	font-size: 11px;
	background-color: #009385;
	color: white;
	font-weight: bold;

	
}
.savoir a, .h_savoir a{
	padding-left: 12px;
	color: White;
	font-weight: bold;
}


.carte{
	width: 142px;
}

.carte p{
	width: 134px;
	padding: 6px 0 8px 8px;
	font-size: 11px;
	background: url(http://www.credit-agricole.com/ca_clean/medias/image/commun/mod_right_bottom1.gif) no-repeat bottom;
	background-color: #E5FAF7;
	
}



.carte a, .h_carte a{
display: block;
	padding-left: 14px;
	color: #009385;
	font-weight: bold;
	background: url(http://www.credit-agricole.com/ca_clean/medias/image/commun/picto_link_contact1.gif) no-repeat 0 2px;
}






#pub_right{
	text-align:center;
	width:160px;
}
.pub_right{
	margin-top:0px;
	padding-bottom:20px;
	width:160px;
}
.n_1, .n_2{
	display: block;
	width: 113px;
	padding: 5px 5px 5px 25px
}
.n_1 label, .n_2 label, .n_3 label{
	font-weight: bold;
	font-size: 10px;
}
.n_1 h2{
	font-size: 11px;
}
.n_1 input{
	float: left;
	margin: 0 -1px 10px 0
}
html>body .n_1 input{
	margin:1px 2px 15px 0
}
.n_2 label{
	display: block;
}
.n_2 input{
	margin-top: 5px
}
.n_3{
	padding-bottom: 13px;
	margin-bottom: 10px
}
.n_3 div{
	display: block;
	width: 113px;
	padding: 5px 5px 0 25px;
}









.mod_vous{
	width: 142px;
	border-top: 1px solid white;
}
.mod_vous h2{
	padding: 2px 5px;
	background-color: #1F7486;
	color: White;
	font-size: 11px;
}
.mod_vous div{
	width: 130px;
	padding: 4px 5px;
	background-color: #DCF0F4;
	border-right: 1px solid #9DCCD6;
	border-left: 1px solid #9DCCD6;
}
.mod_vous label{
	padding-bottom: 2px
}
#dep{
	width: 100px;
	margin-right: 2px;
	padding-left: 2px;
	font-size: 11px
}
.txt_left{
	float: left;
	width: 72px;
	padding: 0 4px 0 0;
	border-right: 1px solid #9DCCD6;
}
.txt_left label{
	font-size: 10px;
	line-height: 10px;
	display: block;
}
#reg{
	width: 30px;
	margin-right: 2px;
	padding-left: 2px;
	font-size: 11px
}
.reg_map{
	float: right;
	padding: 2px 0 0 4px;
	font-size: 10px;
}
.mod_link{
	padding-left: 12px;
	background: url(picto_link_groupe.gif) no-repeat 0 2px;
	font-weight: bold;
}
.download{
	padding: 4px 5px 8px 5px;
	background: url(http://www.credit-agricole.com/ca_clean/medias/image/home/v_telecharger.gif) no-repeat bottom;
}
.download li{
	width: 65px;
	padding-left: 12px;
	background: url(picto_link_groupe.gif) no-repeat 0 2px;
}
.download li a{
	color: #1F7486
}



/* FB */
td {
	font-size: 11px
}
ul.spip li.spip {
	list-style-type:disc;	
}
ol.spip li.spip {
	list-style-type:decimal;		
	padding-left: -5px;
}
ol.spip {
	margin-left:23px;
	margin-bottom:10px;
	margin-top:-5px;
}

ul.spip{
	margin-left:15px;
	margin-bottom:10px;
	margin-top:-5px;
}
ul.spip ul{
	margin-top:0px;
}
ul.spip ul li {
	list-style-type:circle;
}
table.spip {
	width:100%;
	margin-bottom:8px;
}

table.tablepub {
	width:100%;
	margin-top:8px;
	margin-bottom:8px;
	border:solid 0px;
}

a.spip_out, a.spip_in, a.spip_blank{
	color:#009385;
	/*font-weight:bold;*/
}
/* Data th .data caption */
.row_first th,caption, td.row_first { 
	background-color: #7FC9C2;
	text-align: left;
	padding: 2px 9px;
	color: #666666;
	font-weight: bold;
}
/*.data td*/
.spip td{
	/*width: 20%;*/
	padding: 2px 9px;
}
.spip td div{
	/*width: 20%;*/
	padding-bottom: 0px;
	margin-bottom: -10px;
}

.content_menu h2{
	padding-left:-5px;
}

p.spip_titre_document {
	display:inline;
}
.spip_documents p {
	display:inline;
	font-weight: bold;
}
p.spip_titre_document {
	padding-left: 15px;
	padding-top: -4px;
	font-weight: bold;
	background: url(http://www.credit-agricole.com/ca_clean/medias/image/generique/puce_link.gif) no-repeat 0;
}
.secteur_1{
	color: #79BB13;
}
.secteur_8{
	color: #5FA9B8;
}
.secteur_10{
	color: #1C6E65
}
.secteur_9{
	color: #44B0A6;
}
.ps {
	margin-top: 20px;
	margin-bottom : 20px;
}
.carte2{
	width: 134px;
	padding: 6px 0 8px 8px;
	font-size: 11px;
	background: url(http://www.credit-agricole.com/ca_clean/medias/image/commun/mod_right_bottom1.gif) no-repeat bottom;
	background-color: #E5FAF7;
	
}


.savoir h2{
	width: 134px;
	padding: 6px 0 8px 8px;
	font-size: 11px;	
	background:none;
	background-color: #009385;
	color: white;
	font-weight: bold;

	
}
.content_menu_simple h2{
	font-size: 16px;
}

/*********** MISE EN AVANT **********/
.sub_left h2{
	text-align: center;
	padding: 12px 0;
}

.sub_left h3{
	padding-left: 12px;
	background: url(picto_link_groupe.gif) no-repeat 0 2px;
	font-size: 11px;
}
.sub_left h3 a{
	color: #009385;
}
.sub_left p{
	padding-left: 12px;
}

.sub_left_deco div li.spip{
	background: url(puce_fleche.gif) no-repeat 0 3px;
	list-style-type: none;
	color:black;
}
.sub_left_deco div li.spip a{
	color:#444444;
	padding-left: 12px;
}

.sub_left_deco div ul.spip{
	margin: 0;
	padding: 0;
}


/* RE*/
.div_1024{
	width:954px;
	background: url(bkg_page_1024.gif) no-repeat 0 17px;
}
.div_800{
	width:750px;
	background: url(bkg_page_800.gif) no-repeat 0 17px;
}

.body_print{
	width:700px;
}
span.spip_surligne {
	color: none;
	background-color: #FFFF00;
}
.layout_center h1.small{
	font-size: 14px;
}
.french{
	padding-left: 14px;
	background: url(http://www.credit-agricole.com/ca_clean/medias/image/commun/picto_francais.gif) no-repeat 0 2px;
	font-weight: bold;
}
.row_even{
	background-color: #E5F4F3
}
tr.row_odd{
	background-color: #ffffff
}

/* ----- fckeditor OVVERRIDE DANS GROUPE.CSS ET OFFRES.CSS*/
div.data_offres, div.data_groupe {
	margin-bottom:8px;
}
.data_offres table,.data_groupe table {
	background-color: #FFFFFF;
	padding: 0;
	margin: 0;
	border-spacing: 0;
	border-collapse: collapse
}
.data_offres td,.data_groupe td{
	padding: 1px 9px 1px 9px;
	text-align: right;
	border-left: 1px solid #FFFFFF;
	margin: 0;
	
}
.data_offres caption,.data_groupe caption{
	background-color: #7FC9C2;
	text-align: left;
	padding: 2px 9px;
	color: #666666;
	font-weight: bold;
}
.data_offres th, .data_offres td.row_first, .data_groupe th, .data_groupe td.row_first{
	padding: 2px 9px;
	text-align: left;
	font-size: 11px;
	background-color: #7FC9C2;
	color: #666666;
	font-weight: bold;
	border: #7FC9C2 1px solid;
}
.data_offres td p, .data_groupe td p {
	margin-bottom: 0px;
	padding: 1px;
}


/* AJOUT REM -- pour gestion rebonds sur toutes les pages */
.n_1{
	background: url(http://www.credit-agricole.com/ca_clean/medias/image/offres/bkg_one_right.gif) no-repeat 7px 8px #DFEEF1;
	border-bottom: 1px solid white;
}
.n_2{
	background: url(http://www.credit-agricole.com/ca_clean/medias/image/offres/bkg_two_right.gif) no-repeat 7px 8px #DFEEF1;
	border-bottom: 1px solid white;
}
.n_3 div{
	background: url(http://www.credit-agricole.com/ca_clean/medias/image/offres/bkg_three_right.gif) no-repeat 7px 8px #DFEEF1;
}
.n_3{
	background: url(mod_bottom_right.gif) no-repeat bottom left;
}

.n_32 {
height:30px;
padding-top:10px;
background:transparent url(mod_bottom_right.gif) no-repeat scroll left bottom;
}

.n_32 a{
background:transparent url(picto_link_groupe.gif) no-repeat scroll 8pt 2px;
font-weight:bold;
padding-left:22px;
text-decoration:none;
}

.n_32 a:hover{
text-decoration:underline;
}

.n_1 h2, .n_2 label{
	color: #1F7486
}

.n_1{
	background: url(http://www.credit-agricole.com/ca_clean/medias/css/ca_clean/medias/image/offres/bkg_one_right.gif) no-repeat 7px 8px #DFEEF1;
	border-bottom: 1px solid white;
}
.n_2{
	background: url(http://www.credit-agricole.com/ca_clean/medias/css/ca_clean/medias/image/offres/bkg_two_right.gif) no-repeat 7px 8px #DFEEF1;
	border-bottom: 1px solid white;
}
.n_3 div{
	background: url(http://www.credit-agricole.com/ca_clean/medias/css/ca_clean/medias/image/offres/bkg_three_right.gif) no-repeat 7px 8px #DFEEF1;
}
.n_3{
	background: url(http://www.credit-agricole.com/ca_clean/medias/css/ca_clean/medias/image/offres/mod_bottom_right.gif) no-repeat bottom left;
}
