@CHARSET "UTF-8";

* {
color:#444444;
font-family:Arial,Verdana,Helvetica,sans-serif;
margin:0pt;
padding:0pt;
}
body {
background-color:#FFFFFF;
font-size:11px;
padding:5px;
}
img {
border:0pt none;
}

li {
list-style-type:none;
}
label, input, select {
vertical-align:middle;
}
a {
text-decoration:none;
}
a:hover {
text-decoration:underline;
}
input[type="image"] {
cursor:pointer;
}
.spacer {
clear:both;
display:block;
margin-top:-1px;
}
.puce {
color:#408E00;
font-size:12px;
}
.img_left {
float:left;
margin:0pt 10px 10px 0pt;
}
.body_1024 {
background:transparent url(bkg_page_1024.gif) no-repeat scroll 0pt 0px;
}
.body_800 {
background:transparent url(bkg_page_800.gif) no-repeat scroll 0pt 0px;
}
.img_right {
float:right;
margin:0pt 0pt 10px 10px;
}
.object {
margin:10px 0pt;
}
.object2 {
margin:0px 0px 10px;
}
.tools {
text-align:right;
}
.tools li {
display:inline;
padding:0pt 3px;
}
.tools li a {
color:Black;
}
.english {
font-weight:bold;
background:none;
padding:0;
}
.logos {
float:left;
padding-left:22px;
margin:0;
}
.logos img {
margin-right:22px;
}
.topnav {
margin-top:20px;
}
.bkg_nav_expt_a, .bkg_nav_expt_b, .bkg_nav_on, .bkg_nav_off {
padding-top:0;
}
.bkg_nav_off, .bkg_nav_off a {
font-size:12px;
color:#ffffff;
text-align:center;
background-color:#009385;
}
.bkg_nav_off{padding-bottom:2px;border:none;}
.bkg_nav_off_ss{
color:#ffffff;
text-align:center;
background-color:#009385;
}
.bkg_nav_on, .bkg_nav_on a {
font-size:12px;
color:#009385;
background-color:#ffffff;
text-align:center;
}
.bkg_nav_on{padding-bottom:2px;border:none;}
.bkg_nav_sep_off{
width:1px;
height:16px;
background-image:url(separateur_nav.gif)
}
.bkg_nav_sep_on{
width:1px;
height:16px;
background-color:#009385;
}
.subnav {
margin:1px 0pt;
margin-top:43px;
}
.subnav_td, .layout, .layout_content {
clear:both;
height:19px;
border-collapse:collapse;
width:100%;
}
.subnav_td td { border-collapse:collapse;margin:0;padding:0;}
.subnav_td a {
font-weight:bold;
text-transform:uppercase;
}
.subnav_td a:hover {
text-decoration:none;
}

.fin_nav {
width:5px;
background:#009385 url(fin_nav.gif.1) no-repeat scroll right top;
}
.start_nav {
width:5px;
background:#009385 url(debut_nav.gif.1) no-repeat scroll left top;
}

html > body .start_nav {
width:5px;
border:none;
}
.div_1024 {
background:transparent url(bkg_page_1024.gif) no-repeat scroll 0pt 0px;
width:954px;
}
.div_800 {
background:transparent url(bkg_page_800.gif) no-repeat scroll 0pt 0px;
width:750px;
}


/* SOUS NAVIGATION POUR FINANCE ET ACTIONNAIRE */
.onglets_nav {
float:left;
margin-bottom:6px;
width:955px;
}
.onglets_nav li {
float:left;
font-size:11px;
padding:3px 0pt;
text-align:center;
}
.onglets_nav a {
color:White;
font-weight:bold;
text-transform:uppercase;
}
.nav_sa_off {
background:#B6A48B url(index.html.2) no-repeat scroll left bottom;
border-right:1px solid white;
width:247px;
}
.nav_sa_on {
background:#26AD92 url(index.html.3) no-repeat scroll left bottom;
border-right:1px solid white;
width:247px;
}
.nav_actu_off {
background:#A28F7D none repeat scroll 0%;
border-right:1px solid white;
width:218px;
}
.nav_actu_on {
background:#F36F21 none repeat scroll 0%;
border-right:1px solid white;
width:218px;
}
.nav_pub_off {
background:#978472 none repeat scroll 0%;
border-right:1px solid white;
width:228px;
}
.nav_pub_on {
background:#663366 none repeat scroll 0%;
border-right:1px solid white;
width:228px;
}
.nav_acti_off {
background:#897869 url(index.html.4) no-repeat scroll right bottom;
width:257px;
}
.nav_acti_on {
background:#97BE0D url(index.html.5) no-repeat scroll right bottom;
width:257px;
}

.layout .colLeft h2,
.layout .colCenter h2,
.layout .colRight h2 {font-size:16px;}

.colLeft {width:270px;margin-bottom:10px;}
.colLeft h2 {color:#ff9600; text-decoration:none;}

#viewer { width:251px; }
#viewer span{ padding:0px; margin:0px;}
#viewer span #marques { cursor:pointer; }
#viewer span #metiers { cursor:pointer; }

#viewer #metiers_list ul {background-color:#fbe08e; margin:0 0 0 0;color:#f8ca3c; }
#viewer #metiers_list li{ margin-bottom:3px; background:url(puce_grise.gif) 2px 3px no-repeat;padding: 0 0 0 15px;}
#viewer #metiers_list li a { text-decoration:none;color:#616161;text-decoration:none; }
#viewer #metiers_list li a:hover { text-decoration:underline; }
.divMetiers { background-color:#fbe08e; padding-top:10px;}

#flashcontent { height: 55px;padding:11px 0 5px 0;	}
.block_viewer { padding-top:5px;width:251px; border-top:1px solid #f8ca3c; }
.block_viewer div.link_right { margin:0; color:#f8ca3c; font-weight:bold;}
.block_viewer div.link_right a { color:#f8ca3c;background:transparent url(chevron_jaune.gif) no-repeat scroll 0pt 3px; font-weight:bold; padding:0pt 0px 0pt 6px;}

.colCenter { width:490px;margin-bottom:20px;}
.colCenter * { color:#646464;}
.colCenter h2,
.colRight h2 { color:#009385;text-decoration:none;}
.colRight h2 { padding-bottom:1px;}

.colCenter h2 {border-bottom:1px solid #c0b0ad;margin:0;padding:0; margin-bottom:10px;}
.colCenter .link_right { padding:10px 0 10px 0; margin:0 0 0 0;}
.colCenter div.breves {}
.colCenter div.breves div {}
.colCenter div.breves table.breve {}
.colCenter div.breves table.breve td.logo img {margin-right:10px;}
.colCenter div.breves table.breve td.soustitre {background:url(puce_verte.gif) 0px 1px no-repeat;padding: 0 0 0 13px;}
.colCenter a.dashed { border-bottom: 1px dashed #ab9a97;text-decoration:none; }
.colCenter a.dashed:hover { border:none;text-decoration:none;}

.colCenter ul li { background:url(puce_verte.gif) 0px 1px no-repeat;padding: 0 0 0 13px; }
.colCenter ul li a { text-decoration:none;}
.colCenter ul li a:hover { text-decoration:underline;}
.colCenter div.link_right a,
.colRight div.link_right a { color:#009385;background:transparent url(chevron_vert.gif) no-repeat scroll 0pt 3px; font-weight:bold; padding:0pt 0px 0pt 6px;}
.colCenter .imgPublic { margin-right:10px;}
.colCenter table.public { width:100%; }

.colRight {width:160px;}
.colRight table.rejoindre { width:160px; border:none; border-top:1px solid #c0b0ad; text-align:left; border-collapse:collapse;}
.colRight table.rejoindre th {background-color:#c6eded;padding:5px;}
.colRight table.rejoindre th p {color:#646464;}
.colRight table.rejoindre td {background-color:#e5f7f7; padding:5px;}
.colRight table.rejoindre td li span {color:#646464;}
.colRight table.rejoindre td li { list-style: disc outside;margin:0;padding:0;margin-left:14px; color:#2e9085;}
.colRight a.stealth:hover h2,
.colRight table.rejoindre * a.stealth:hover {text-decoration:none;}

div.plan2col { float:left; }

.marginTop10 { margin-top:10px;}
#viewer #metiers_list li.noMarginBottom {margin-bottom:0px;}
.pub_center { margin-bottom:20px; }
.colCenter .noPaddingBottom {padding-bottom:0px;}
.col_left_home .noMarginBottom {margin-bottom:0px;}
