body                       {margin: 0px; padding: 0px; font-family:arial,helvetica,sans-serif; font-size: 11px; line-height: 12px; color: #000000; background-color: #ffffff; overflow:auto;}
body.loading               {margin: 0px; padding: 0px; font-family:arial,helvetica,sans-serif; font-size: 11px; line-height: 12px; color: #000000; background-color: #ffffff; -overflow:auto; cursor:wait;}
body.navigation            {background-color:transparent;}
body.hiband                {background-color:#ffffff;}
body.metanavigation        {background-image:url(1x1_999999.gif ); background-repeat: repeat-x;background-color:#ffffff;}

span,td                    {font-family:arial,helvetica,sans-serif; font-size: 11px; line-height: 12px;}
a                          {color: #4c4c4c; text-decoration: none}
a:hover                    {color: #003399; text-decoration: none}
a img                      {border:none;}
.linkHighlight             {color:#003399;}
ul, ol, li, p              {margin: 0px;padding:0px;}
dl, dt, dd, ul, li         {margin: 0;padding: 0;list-style-type: none;font-family: arial,helvetica,sans-serif;font-size: 11px; line-height:12px;}

#vSpace                    {display:block;line-height: 0px;}
#hSpace                    {display:inline;line-height: 0px;}

h1, h3                     {font-family: Arial; margin:0px; color:#000000;}
h4, h5, h6, h7             {font-family: Arial; margin:0px; font-weight:bold; color:#000000;}

h2                         {font-family: Arial; margin:0px; color:#000000;}

h1                         {font-weight:normal; padding-bottom: 3px; -padding-bottom: 6px; font-size:20px; -font-size:21px; line-height:21px; -line-height:22px;}
h2                         {font-weight:bold; padding-bottom:10px; -padding-bottom: 9px; font-size:17px; -font-size:17px; line-height:16px; -line-height:19px;}
h3                         {font-weight:bold; padding-bottom: 5px; -padding-bottom: 9px; padding-left: -2px; font-size:14px; -font-size:13px; line-height:15px; -line-height:14px;}
h4                         {padding-bottom: 0px; font-size:12px; line-height:13px;}
h5                         {padding-bottom: 0px; font-size:11px; line-height:12px;}

h1.borderless              {padding-bottom: 0px;}
h2.borderless              {padding-bottom: 0px;}
h3.borderless              {padding-bottom: 0px;}

ul.linkList li             {margin-bottom:2px;}
ul.linkList li a           {height: 12px;}

img.arrow                  {display: inline; position: static; width: 7px; height: 11px; background-image:url(arrow_standard.gif ); background-repeat: no-repeat; background-position: top left; height:11px; margin-top: -1px;}
a img.arrow                {display: inline; position: static; width: 7px; height: 11px; background-image:url(arrow_standard.gif ); background-repeat: no-repeat; background-position: top left; height:11px; margin-top: -1px;}
a:hover img.arrow          {display: inline; position: static; width: 7px; height: 11px; background-image:url(arrow_standard.gif ); background-repeat: no-repeat; background-position: bottom left; border: 0; height:11px; margin-top: -1px;}
a.linkHighlight img.arrow  {display: inline; position: static; width: 7px; height: 11px; background-image:url(arrow_standard.gif ); background-repeat: no-repeat; background-position: bottom left; border: 0; height:11px; margin-top: -1px;}
.menu                      {float:left; margin-right:10px;}

a.arrow                    {color: #4c4c4c; text-decoration: none; height:11px; margin-top: -1px;}
a:hover                    {color: #003399;}
a.arrow img                {display: inline; position: static; width: 7px; height: 11px; background-image:url(arrow_standard.gif ); background-repeat: no-repeat; background-position: top left; height:11px; margin-top: -1px;}
a.arrow:hover img          {display: inline; position: static; width: 7px; height: 11px; background-image:url(arrow_standard.gif ); background-repeat: no-repeat; background-position: bottom left; border: 0; height:11px; margin-top: -1px; }
a.arrow.linkHighlight      {color: #003399;}
a.arrow.linkHighlight img  {display: inline; position: static; width: 7px; height: 11px; background-image:url(arrow_standard.gif ); background-repeat: no-repeat; background-position: bottom left; border: 0; height:11px; margin-top: -1px; }

a.arrow.listHeadline            {color: #4c4c4c;}
a.arrow.listHeadline:hover      {color: #4c4c4c; cursor:default;}
a.arrow.listHeadline img        {display: inline; position: static; width: 7px; height: 11px; background-image:url(arrow_standard.gif ); background-repeat: no-repeat; background-position: top left; height:11px; margin-top: -1px;}
a.arrow.listHeadline img:hover  {display: inline; position: static; width: 7px; height: 11px; background-image:url(arrow_standard.gif ); background-repeat: no-repeat; background-position: top left; height:11px; margin-top: -1px; cursor:default;}

a.large                               {display: block; position: absolute; top: 0; left: 0; width: 1020px; height: 292px; overflow:hidden;}
a.large img                           {display: block; position: absolute; top: 0; left: 0; width: 1020px; height: 292px;}

div.smallStandard {width:239px;padding-bottom:5px;clear:both;}
div.smallStandard img                           {width:  86px; height: 48px; margin-top: 3px; float:left;}
div.smallStandard span.headline                 {display: block; margin-left: 90px; margin-bottom: 4px; margin-top: 1px;}
div.smallStandard span.copytext                 {display: block; margin-left: 96px;}
div.smallStandard span.headline img.arrow       {display: inline; position: static; width: 7px; height: 11px; background-image:url(arrow_standard.gif ); background-repeat: no-repeat; background-position: top left; margin-top: -1px; margin-left: 6px; }
div.smallStandard:hover span.headline img.arrow {display: inline; position: static; width: 7px; height: 11px; background-image:url(arrow_standard.gif ); background-repeat: no-repeat; background-position: bottom left; border: 0;}

a.smallText                               {display: block; position: relative; top: 0; left: 0; height: 68px; }
html:first-child>*+body a.smallText       {position: static;} /* opera css filter */
a.smallText span.headline                 {display: block; position: relative; margin-bottom: 3px;}
a.smallText span.copytext                 {display: block; position: relative; margin-bottom: 8px;}
a.smallText span.headline img.arrow       {display: inline; position: static; width: 7px; height: 11px; background-image:url(arrow_standard.gif ); background-repeat: no-repeat; background-position: top left; }
a.smallText:hover span.headline img.arrow {display: inline; position: static; width: 7px; height: 11px; background-image:url(arrow_standard.gif ); background-repeat: no-repeat; background-position: bottom left; border: 0;}

a.pdfDownload                               {display: block; position: relative; top: 0; left: 0; width: 209px; height: 150px; overflow:hidden;}
a.pdfDownload img.main                      {display: block; position: absolute; top: 0; left: 0; width:  182px; height: 72px; margin-top: 3px;}
a.pdfDownload img.distance                  {display: block; width:  1px; height: 20px; -height: 8px; margin-bottom: 8px;}
a.pdfDownload span.headline                 {display: block; position: relative; margin-left: 0px; margin-bottom: 3px; margin-top: 65px; -margin-top: 77px;}
a.pdfDownload span.copytext                 {display: block; position: relative; margin-left: 0px; margin-top: 3px}
a.pdfDownload span.headline img.arrow       {display: inline; position: static; width: 7px; height: 11px; background-image:url(arrow_standard.gif ); background-repeat: no-repeat; background-position: top left; margin-top: 3px;}
a.pdfDownload:hover span.headline img.arrow {display: inline; position: static; width: 7px; height: 11px; background-image:url(arrow_standard.gif ); background-repeat: no-repeat; background-position: bottom left; border: 0;}

a.pdfDownloadNoImage                               {display: block; position: relative; top: 0; left: 0; width: 239px; height: 68px; overflow:hidden;}
a.pdfDownloadNoImage span.headline                 {display: block; position: relative; margin-left: 0px; margin-bottom: 3px;}
a.pdfDownloadNoImage span.copytext                 {display: block; position: relative; margin-left: 0px; margin-top: 3px}
a.pdfDownloadNoImage span.headline img.arrow       {display: inline; position: static; width: 7px; height: 11px; background-image:url(arrow_standard.gif ); background-repeat: no-repeat; background-position: top left;}
a.pdfDownloadNoImage:hover span.headline img.arrow {display: inline; position: static; width: 7px; height: 11px; background-image:url(arrow_standard.gif ); background-repeat: no-repeat; background-position: bottom left; border: 0;}

img.pngMsie                   {display: none; -display: block;}
img.pngMoz                    {display: block; -display: none;}

#naviClipArea                     {position:absolute; top: 96px; left:   0px; z-index: 750; clip:rect(0px,233px,480px,0px);}
#buttonClose                      {position:absolute; bottom:0px; -bottom:-1px; border-top:0px solid #ffffff; z-index: 817;}

#noFlashHighEnd                        {position:absolute; top: 0px; left: 0px; width: 100%; height: 100%; visibility:hidden;}
#flashHighEnd                          {position:absolute; top: 0px; left: 0px;                           visibility:hidden;}

#changeToHiBandLayer {position:absolute; top:  157px; left: 194px; width:632px; height: 305px; z-index:  922; border: 1px solid #acacac;visibility:hidden;background-color:#ffffff;}
#contentHiBand       {position:absolute; top:   80px; left: 162px; width:360px; z-index:  922; overflow:hidden;}
#ToHighBand          {background-color:#ffffff;overflow:hidden; width:632px; height: 305px;}

#mainNavi           {position:absolute; top:    0px; left:   0px; width:100%; height:101px; z-index:  750; background:transparent;}
#metaNavi           {position:absolute; top:  578px; left:   0px; width:1004px; height: 22px; z-index:  750; overflow:hidden;}

img.loadingBox      {border: 1px solid #afafaf;}

#completePageContent           {position:absolute; top: 14px; width:100%;}
#completePageContentExperience {position:absolute; top: 0px; width:100%;}

a.selectboxEntry       {font-size:11px; line-height:16px; color:#4c4c4c; display:block; width:99%; overflow:hidden;}
a.selectboxEntry:hover {color: #ffffff; background-color:#003399;}
.selectboxContent      {position:absolute; top: 18px; left:  0px; display:none;}

.input100              {width:287px;}

#teaserBorder         {border-left:1px solid #afafaf; padding: 0px 0px 2px 8px;}
#teaserHeadline       {width:239px;display:block;}
#teaserSmallStandard1 {width:239px; height:68px;}
#teaserSmallStandard2 {width:239px; height:68px;}
#teaserDownload1      {width:209px; height:146px;}
#linkList             {width:239px;}
.teaserDownload       {overflow:hidden; width:209px; height:146px;}
.teaserSmallStandard  {overflow:hidden; width:239px; height:68px;}

td.button         {width:133px; height:20px; background-color:#333333; color:#ffffff;}
td.buttonHover    {background-color:#003399; cursor:pointer;}
input             {width:289px; height:20px; padding-left:3px; font-family:Arial; font-size:11px; border:1px solid; border-top-color:#929292; border-left-color:#929292; border-bottom-color:#afafaf; border-right-color:#afafaf; background-image:url(bg_forms.gif ); -background-repeat:no-repeat; -background-attachment:fixed;}
input.error       {width:289px; height:20px; padding-left:3px; border:1px solid; border-color:#ff0000; background-image:url(bg_forms.gif ); -background-repeat:no-repeat; -background-attachment:fixed;}
input.disabled    {width:289px; height:20px; padding-left:3px; border:1px solid #afafaf; background-image:url(1x1_ffffff.gif ); -background-repeat:no-repeat; -background-attachment:fixed;}
textarea          {width:289px; height:108px; padding-left:3px; font-family:Arial; font-size:11px; border:1px solid; border-top-color:#929292; border-left-color:#929292; border-bottom-color:#afafaf; border-right-color:#afafaf; background-image:url(bg_forms.gif ); -background-repeat:no-repeat; -background-attachment:fixed;}
textarea.error    {width:289px; height:108px; padding-left:3px; border:1px solid; border-color:#ff0000; background-image:url(bg_forms.gif ); -background-repeat:no-repeat; -background-attachment:fixed;}
textarea.disabled {width:289px; height:108px; padding-left:3px; border:1px solid #afafaf; background-image:url(1x1_ffffff.gif ); -background-repeat:no-repeat; -background-attachment:fixed;}
.pipe             {padding-left:4px; padding-right:4px;}

#co2HeaderOn   {position:absolute; top:340px; left:741px; width:283px; height: 23px; z-index:500; background-color:#ffffff; border-left:1px solid #afafaf; border-top:1px solid #afafaf;}
#co2HeaderOff  {position:absolute; top:340px; left:741px; width:283px; height: 23px; z-index:500; background-color:#ffffff; border-left:1px solid #afafaf; border-top:1px solid #afafaf; visibility:hidden;}
#co2body       {position:absolute; top:363px; left:741px; width:246px; height:194px; z-index:500; background-color:#ffffff; border-left:1px solid #afafaf;}
#co2content    {position:absolute; top:13px; left:8px; width:242px; height:171px;}
#co2HeaderLink {position:absolute; top:3px; left:8px; width:283px; height:15px;}

#contentHiBandBBDetection       {position:absolute; top:   55px; left: 46px; width:551px; z-index:  922; overflow:hidden;}
a#defaultAnchorButtonBBDetection         {width: 140px; height: 16px; margin-top:13px; padding-top: 4px; text-indent: 7px; color: #ffffff; background-color: #4c4c4c; display: block;}
* html a#defaultAnchorButtonBBDetection  {height: 20px; margin-top:13px; -margin-top: 2px;}
a#defaultAnchorButtonBBDetection:hover, a#defaultAnchorButtonBBDetection:focus {color: #ffffff; background-color: #003399;}

/*additional stuff for seo bottom-navigation*/

.metaNavigation{position:fixed; border-top:1px solid #999999;background-color:#fff; left:0px;bottom:0px; width:100%; height:25px; color:#000000; z-index:1000;}
.contentDiv{position: static;}
.outerDiv{height:100%; width:1px;overflow:auto; z-index:1;}
#metaNavigationInline {width:982px;}
#metaNavigationText {position:relative; top:5px; right:0px; height:20px; float:right;}

* html .outerDiv {height: 96%;width: 100%;}
* html .metaNavigation {z-index: 1000;position: absolute;border-bottom: 1px solid white;}

#noscript{position:absolute; top:122px; left: 255px;padding:15px;z-index:1001;background-color:#FFFFFF; filter:alpha(opacity=70);-moz-opacity:0.7;}

/*large teaser*/

#largeTeaserImage {position: absolute; top: 0; left: 0; width: 1024px; height: 291px;}
.largeTeaserLinkBackground, .largeTeaserLinkBackgroundActive {background-color:#000000; filter:alpha(opacity=70);-moz-opacity:0.7; padding: 3px 6px 3px 6px;}
.largeTeaserLinkBackgroundTransparent {padding: 3px 6px 3px 6px;}
.largeTeaserLinkBackground a, .largeTeaserLinkBackgroundActive a {visibility:hidden;}
.largeTeaserLinkBackgroundActive {background-color:#003399}
#largeTeaserHitArea {position: absolute; top: 0; left: 0; width: 1024px; height: 291px; z-index: 500;}
.largeTeaserLinkTextColor {color: #ffffff;}
.largeTeaserLinkTextColor:hover {color: #ffffff;}

a.largeTeaserLink{background-color:#464646;filter:alpha(opacity=70);padding: 3px 6px 3px 6px;color: #ffffff;display:block;}
a.largeTeaserLink:hover {background-color:#003399;color: #ffffff;}

/*main teaser*/

#mainTeaserImage {position: absolute; top: 0; left: 0; width: 425px; height: 175px; z-index: 2000;}
.mainTeaserLinkBackground, .mainTeaserLinkBackgroundActive {z-index: 2012; background-color:#000000; filter:alpha(opacity=70);-moz-opacity:0.7; padding: 3px 6px 3px 6px;}
.mainTeaserLinkBackgroundActive {background-color:#003399}
#mainTeaserHitArea {position: absolute; top: 0; left: 0; width: 425px; height: 175px; z-index: 2020; }
.mainTeaserLinkTextColor {color: #ffffff;}

/*white arrow in large and main teaser*/
a img.arrowWhite       {display: inline; position: static; width: 7px; height: 11px; background-image:url(arrow_standard_white_white.gif ); background-repeat: no-repeat; background-position: top left; height:11px; margin-top: -1px;}
a:hover img.arrowWhite {display: inline; position: static; width: 7px; height: 11px; background-image:url(arrow_standard_white_white.gif ); background-repeat: no-repeat; background-position: bottom left; border: 0; height:11px; margin-top: -1px;}

#bandwidthlayer {position:absolute; top:162px; left:213px; width:632px; height:255px; overflow:hidden; border:1px solid #999999; background-color:#ffffff; visibility:hidden; z-index:1000;}
#bandwidthlayerSeperator {position:absolute; top:7px; left:373px; width:1px; height:239px; background-color:#999999;}
#bandwidthlayerLeft {position:absolute; top:18px; left:17px; width:320px; height:217px;}
#BandwidthlayerRight {position:absolute; top:18px; left:383px; width:239px; height:217px;}
#bandwidthBoxlink {position:absolute; top:70px; width:182px; left:0px; height:20px; background-color:#4c4c4c; display:block; padding-left:13px; padding-top:4px; background-image:url(bg_boxlink.gif );color:#ffffff; clip:rect(0px, 182px, 20px, 0px);}
#bandwidthBoxlink:hover {color:#ffffff; background-image:url(bg_boxlink-h.gif );}
#bandwidthReply {position:absolute; top:98px; left:0px; color:#000000;}
#bandwidthClose {position:absolute; top:1px; right:1px; width:13px; height:12px;overflow:hidden;}

.videoTeaser {position:absolute; top:133px; left:310px; border: 1px solid #999999; padding-top:29px; padding-left:7; padding-right:7px; padding-bottom:14px; background-color:#ffffff; display:none; visibility:hidden; z-index:100;}
.videoTeaserHeadline {position:absolute; top:13px; left:7px; overflow:hidden;}
.videoTeaserPlayer {overflow:hidden; display:block;}
.videoTeaserDownloadLink {position:absolute; bottom:23px; left:235px;}
.videoTeaserTAFLink {position:absolute; bottom:9px; left:235px;}

div#mainNavigationContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
}
div.mainNavigation {
  display: block;
  padding: 19px 0px 0px 0px;
  height: 81px;
  margin: 0px;
  background-image: url( 'bg_navigation.png' );
  background-repeat: repeat-x;
  *height: 101px;
  *background: none;
  *filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../../../_common/html/img/backgrounds/bg_navigation.png',sizingMethod='scale');
}
div.mainNavigation a:focus {
  border: none;
  outline: none;
}
div.mainNavigation ul li.mainNaviHighlight a,
div.mainNavigation ul li a.mainNaviHighlight,
div.mainNavigation ul li.active li li a.mainNaviHighlight {
  color: #000077;
}
div.mainNavigation ul {
  position: relative;
  height: 30px;
  border: none;
  display: block;
  clear: both;
  padding: 0px;
  margin: 0px 0px 0px 30px;
  z-index: 900;
  width: 755px;
  border-bottom: 1px solid #AAA;
}
div.mainNavigation ul ul {
  position: relative;
  display: block;
  float: none;
  width: auto;
  height: auto;
  clear: both;
  padding: 0px;
  margin: 0px 0px 10px 0px;
  border: none;
  background: none;
}
div.mainNavigation ul li {
  margin-left: -5px;
  position: relative;
  display: block;
  float: left;
  list-style: none;
  margin: 4px 6px 0px -5px;
}
div.mainNavigation ul li.showroom {
  margin: 2px 9px 0px -5px;
  *margin: 2px 9px -2px -5px;
}
div.mainNavigation ul li.active {
  background: #FFF;
}
div.mainNavigation ul li li {
  padding: 0px;
  margin: 0px;
  float: none;
  border: none;
}
div.mainNavigation ul li.active li {
  float: none;
  display: block;
  background: none;
  width: auto;
}
div.mainNavigation ul li a {
  display: block;
  font-size: 14px;
  font-weight: normal;
  color: #FFF;
  margin: 7px 5px 2px 5px;
  padding: 0px 0px 4px 0px;
}
div.mainNavigation ul li a:hover,
div.mainNavigation ul li.active a  {
  color: #000077;
}
div.mainNavigation ul li.showroom a {
  font-weight: bold;
  font-size: 17px;
  margin: 8px 5px 1px 5px;
  padding: 0px 0px 7px 0px;
}

div.mainNavigation ul li#topic_hybrid a {
  font-weight: bold;
  font-size: 17px;
  margin: 6px 5px 0px 5px;
  padding: 0px 0px 7px 0px;
}
div.mainNavigation ul li li a,
div.mainNavigation ul li.active li a,
div.mainNavigation ul li.showroom li a ,
div.mainNavigation ul li#topic_hybrid li a  {
  font-size: 11px;
  line-height: 16px;
  font-weight: bold;
  color: #000;
  margin: 0px;
  display: inline;
}
div.mainNavigation ul li li li a,
div.mainNavigation ul li.active li li a,
div.mainNavigation ul li.showroom li li a  ,
div.mainNavigation ul li#topic_hybrid li li a  {
  font-weight: normal;
  color: #4c4c4c;
}
div.mainNavigation ul li div.dropDownContainer {
  display: none;
  position: absolute;
  top: 22px;
  width: 180px;
  min-height: 320px;
  padding: 8px;
  margin: 3px 0px 0px -1px;
  border: 1px solid #afafaf;
  border-top: none;
  background-color: #FFF;
  z-index: 1000;
  *height: 320px;
}
div.mainNavigation ul li.active div.dropDownContainer {
  display: block;
}
div.mainNavigation ul li.showroom div.dropDownContainer {
  top: 24px;
}
div.mainNavigation ul li#topic_usedvehicle div.dropDownContainer,
div.mainNavigation ul li#topic_owner div.dropDownContainer,
div.mainNavigation ul li#topic_insights div.dropDownContainer ,
div.mainNavigation ul li#topic_hybrid div.dropDownContainer  {
  width: 400px;
  *width: 407px;
}
div.mainNavigation ul li div.dropDownContainer div.dropDownColumn {
  float:left;
  margin-right: 6px;
}
div.mainNavigation ul li div.dropDownContainer div.dropDownColumn ul {
  width: 126px;
}
div.mainNavigation ul li.showroom div.dropDownContainer div.dropDownColumn {
  width: 180px;
  margin-right: 0px
}
div.mainNavigation ul li.showroom div.dropDownContainer div.dropDownColumn ul {
  width: auto;
}
div.mainNavigation hr {
  display: block;
  clear: both;
  width: 60%;
  height: 1px;
  margin: 10px 0px 5px 29px;
  padding: 0px;
  border: none;
  background-color: #afafaf;
}
div.mainNavigation ul.secondNavigation {
  z-index: 1;
  margin: 0px;
  padding: 0px 0px 0px 25px;
  border: none;
  height: auto;
}
div.mainNavigation ul.secondNavigation li {
  margin: 0px 0px 0px -2px;
}
div.mainNavigation ul.secondNavigation li a {
  margin: 0px;
  padding: 5px 8px;
  font-size: 11px;
}
#idModuls {
  position: absolute;
  left: 790px;
  top: 0px;
}
div#idModuls img.alphaBg {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
}
div#idModuls img.alphaBg2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 187px;
  height: 95px;
  z-index: 999;
}
#navigationBg { display: none; }

div#moduleNavigation {
  overflow: hidden;
  position: absolute;
  display: block;
  top: 74px;
  border: 1px solid #999;
  border-top: none;
  border-left: none;
  height: 460px;
  width: 221px;
  opacity: 0.9;
  background-color: #FFF;
  background-image: url( 'list_bg.gif' );
  background-repeat: repeat-x;
  *width: 222px;
}
div#moduleNavigation.hidden {
  background: none;
  height: 22px!important;
}
div#moduleNavigation.hidden  div.footer,
div#moduleNavigation.hidden  ul#moduleNavigationList {
  display: none;
}
div#moduleNavigation.hidden {
  background: none;
  height: 22px;
}
div#moduleNavigation.closed {
  height: 41px;
}
div#moduleNavigation.teaserMode {
  height: 300px;
}
div#moduleNavigation.teaserMode ul li a span {
  display: block;
  margin-right: 10px;
}
div#moduleNavigation a:focus {
  border: none;
  outline: none;
}
#moduleNavigationHeader {
  height: 22px;
  width: 100%;
  margin-bottom: 2px;
  background-color: #FFF;
}
#moduleNavigationHeader a,
#moduleNavigationHeader span {
  color: #000;
  display: block;
  padding: 5px 0px 0px 30px;
}
div#moduleNavigation ul {
  position: static;
  overflow: hidden;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
div#moduleNavigation ul li {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #999;
}
div#moduleNavigation ul li a {
  display: block;
  padding: 5px 0px 6px 30px;
  *padding: 4px 0px 6px 30px;
  -padding: 5px 0px 6px 30px;
}
div#moduleNavigation ul li a span {
  display: none;
}
div#moduleNavigation a.moduleNaviHighlight {
  color: #003399;
}
div#moduleNavigation ul li a:focus {
  border: none;
  outline: none;
}
div#moduleNavigation ul li ul {
  display: none;
  margin: 4px 0px 0px 0px;
}
div#moduleNavigation ul li ul ul {
  margin: 8px 0px 5px 8px;
}
div#moduleNavigation li.active {
  padding-bottom: 5px;
}
div#moduleNavigation li.active ul {
  display: block;
  height: 94%;
  *padding-bottom: 5px;
}
div#moduleNavigation li.active ul li {
  padding-bottom: 0px;
}
div#moduleNavigation li.active ul li ul {
  display: none;
  height: auto;
  *padding-bottom: 0px;
}
div#moduleNavigation li.active ul li.active ul {
  display: block;
}
div#moduleNavigation ul li ul li {
  display: block;
  clear: both;
  padding: 0px;
  margin: 0px;
  border: none;
  *border-bottom: 1px solid #FFF;
}
div#moduleNavigation ul li ul li a {
  padding: 2px 18px 2px 30px;
  margin: 0px;
}
div#moduleNavigation ul.floatList {
  margin: 0px 15px 0px 25px;
}
div#moduleNavigation ul.floatList li {
  padding: 2px 1px;
  display: inline;
  float: left;
  clear: none;
}
div#moduleNavigation ul.floatList li a {
  display: block;
  padding: 3px;
}
div#moduleNavigation ul.floatList li a:hover {
  color: #FFF;
  background-color: #003399;
}
div#moduleNavigation ul.floatList li span {
  display: block;
  padding: 3px;
  color: #ccc;
}
div#moduleNavigation div.footer {
  background-color: #FFF;
  position: absolute;
  bottom: 0px;
}
div#moduleNavigation div.footer a:focus {
  border: none;
  outline: none;
}
div#moduleNavigation div.footer a {
  display: block;
  height: 16px;
  width: 220px;
  background-image: url( 'dropper_up.gif' );
  background-repeat: no-repeat;
  background-position: bottom;
}
div#moduleNavigation div.footer a:hover {
  display: block;
  height: 16px;
  width: 220px;
  background-image: url( 'dropper_up-h.gif' );
  background-repeat: no-repeat;
  background-position: bottom;
}
div#moduleNavigation.closed div.footer a {
  background-image: url( 'dropper_down.gif' );
}
div#moduleNavigation.closed div.footer a:hover {
  background-image: url( 'dropper_down-h.gif' );
}
div#moduleNavigation div.scrollControll {
  position: absolute;
  display: none;
  margin: 5px;
  right: 0px;
  top: 0px;
  width: 12px;
  height: 28px;
  background-image: url( 'scroller_background.gif' );
  background-repeat: repeat-y;
}
div#moduleNavigation div.scrollControll div.scrollControllDown {
  position: absolute;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
  padding-top: 2px;
  background-color: #FFF;
}
div#moduleNavigation div.scrollControll div.scrollControllUp {
  margin: 0px;
  padding: 0px;
  padding-bottom: 2px;
  background-color: #FFF;
}
div#moduleNavigation div.scrollControll div.scrollControllDown a {
  background-image: url( 'scroller_down.gif' );
  background-repeat: no-repeat;
}
div#moduleNavigation div.scrollControll div.scrollControllDown a:hover {
  background-image: url( 'scroller_down-h.gif' );
}
div#moduleNavigation div.scrollControll div.scrollControllUp a {
  background-image: url( 'scroller_up.gif' );
  background-repeat: no-repeat;
}
div#moduleNavigation div.scrollControll div.scrollControllUp a:hover {
  background-image: url( 'scroller_up-h.gif' );
}
div#moduleNavigation div.scrollControll div.scrollControllDown a,
div#moduleNavigation div.scrollControll div.scrollControllUp a {
  height: 12px;
  width: 12px;
  display: block;
}

#curtainContent {position:absolute; top:379px; left:30px; width:298px;}

.borderStatus #contentContainer {
  position: relative;
  height: 324px;
  *height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}