/*
-------------------------------------------------------------------------------------------
Cascading StyleSheet for: 
Author:   Alex Sandrey
Created:  
Updated:  

History:
	
------------------------------------------------------------------------------------------- */

body
{
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
}
a img
{
	border:none;
}
.hsbcLogoAndSearch
{
	float:left;
	width:100%;
	border-bottom:5px solid #f00;
	margin-bottom:5px;
}
div.hsbcLogoAndSearch .hsbcTagLine
{
	float:left;
	vertical-align:middle;
	padding:20px 0px;
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#f00;
}
div.hsbcLogoAndSearch .hsbcLogo
{
	float:left;
	vertical-align:middle;
	margin-top:6px;
	margin-left:15px;
}
hr,
.hsbcEntity,
.hsbcDivletSearch,
.containerTabMenu,
.pageLeftNavOuter,
.pageFooter ul,
.hsbcContentStyle26,
.hsbcContentStyle16,
.noPrint
{
	display:none;
}
.pageContentOuter
{
	width:100%;
}

.pageFooter
{
	border-top:2px solid #666;
}
.hsbcContent table
{
	width:100%;
	border-collapse:collapse;
}
.hsbcContent table tr th,
.hsbcContent table tr td
{
	border:1px solid #ececec;
}
.hsbcContentStyle03
{
	float:right;
	width:40%;
	border-left:10px solid #fff;
	border-bottom:10px solid #fff;
}
.hsbcContentStyle04
{
	border-left:5px solid #f00;
	margin-bottom:5px;
}
.hsbcContentStyle04a
{
	border:1px solid #ededed;
	border-left-color:#e30000;
	border-right-color:#e5e5e5;
	border-bottom-color:#d5d5d5;
	padding:12px 7px;
}
.hsbcContentStyle04b h2
{
	font-size:119%;
	font-weight:normal;
	padding:0;
	margin:0 19px 3px 12px;
}
.extStyle01 .hsbcContentStyle04b h2
{
	font-size:111%;
	font-weight:normal;
	border-bottom:1px solid #d6d6d6;
	color:#333;
	padding:0 0 5px 0;
	margin:0 190px 20px 12px;
}
.hsbcContentStyle04b p
{
	color:#f00;
	font-weight:normal;
	margin:4px 19px 5px 12px;
	padding:5px 0 7px 0;
	border-top:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
	font-size:78%;
}
.hsbcContentStyle04b a
{
	float:right;
	margin:0 0 0 0;
	position:relative;
	bottom:6px;
}
.hsbcContentStyle04b p span
{
	font-weight:bold;
	color:#666;
	white-space:nowrap;
}
.hsbcContentStyle04b form
{
	padding: 0 19px 0 12px;
	display:block;
}
.extStyle01 .hsbcContentStyle04b form
{
}
.hsbcContentStyle04b label
{
	font-size:68%;
	color:#666;
	float:left;
	padding-bottom:3px;
}
.extStyle01 .hsbcContentStyle04b label
{
	font-size:111%;
	float:left;
	color:#333;
	padding-right:5px;
}
.hsbcContentStyle04b input
{
	vertical-align:middle;
}
.hsbcContentStyle04b p.hsbcTextStyle07
{
	color:#666;
	margin:0 0 0 5px;
	padding:0;
	border:none;
	font-size:111%;
	text-align:center;
}
.hsbcContentStyle04b p.hsbcTextStyle07 span
{
	color:#f00;
}
.hsbcContentStyle04b h2.hsbcTextStyle08
{
	margin:2px 5px 3px 12px;
	font-size:86%;
}
.hsbcContentStyle10 li
{
	clear:left;
}
.hsbcContentStyle10b ul
{
	float:left;
	width:100%;
	border-bottom:1px solid #666;
	margin:0 0 10px 0;
	padding:0;
}
.hsbcContentStyle10b ul li
{
	list-style:none;
	padding:3px 5px;
	float:left;
	clear:none;
}
hsbcPosition01
{
	float:right;
}