.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01
{
	width:433px;/* left hand col width */
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol02
{
	width:220px;/* right hand col width */
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007Row .hsbcGP2007Column
{	
	width:168px;/* (left hand col width - 56)/2 */
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007ColControl01 .hsbcGP2007Column
{
	 width:336px;/* left hand col width - 56 */
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 .hsbcGP2007Style02 .hsbcGP2007Row .hsbcGP2007Column
{
	width:168px;/* (left hand col width - 56)/2 */
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle05 .hsbcGP2007Style01
{
	width:336px;/* needs to change */
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007FauxBorder .hsbcGP2007FauxCol01 .hsbcGP2007BoxStyle04 .hsbcGP2007Row
{
	width:392px;/* Width for IE 5. left hand col width */
	wid\th:360px;/* left hand col width - 32 */
}

/* Content styles */
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007ColumnControl02
{
	width:242px;/* (0.4 * total width) - 20 */
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007ColumnControl02 .hsbcGP2007ContentRow01
{
	width:242px;/* (0.4 * total width) - 20 */
}
/* Content styles */
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007ColumnControl03
{
	width:238px;/* (0.4 * total width) - 20 */
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007ColumnControl03 .hsbcGP2007ContentRow01
{
	width:238px;/* (0.4 * total width) - 20 */
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007BoxStyle09 .hsbcGP2007Content
{
	background:url("red-line-notch.gif") top left no-repeat;
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007ContentRow01
{
	width:654px;/* total width */
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007ColumnControl01 .hsbcGP2007ContentRow01
{
	width:392px;/* 0.6 * total width = left hand width */
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007BoxStyle08 .hsbcGP2007Content .hsbcGP2007Column
{
	width:175px;/* weird */
}
.hsbcGP2007ExtTwoCol .hsbcGP2007ContentArea .hsbcGP2007ColumnControl01
{
	width:392px;/* 0.6 * total width = left hand width */
}