#colonne_droite
{
	float : right;
	width : 300px;
}

#carte
{
	width : 300px;
	margin-left:-3px;
}

#image1
{
	width : 300px;
}


	/*#################### EDITO ####################*/
		
	#edito /* site actuel*/
	{
		
	
	}
	/*
	#edito 
	{
		margin-top:-5px;
		#margin-top:1px;
	}*/
	
	#edito table
	{
		/*margin-top : -28px;*/
		width : 300px;
		/*background-color:#FFD5C2;*/
		border:solid 1px #B2B2B2;
		/*padding-left: 5px;
		padding-bottom:5px;*/
	}
	
	#edito .editorial
	{
		width : 300px;
		color : #FF0000;
		font-weight : bold;
		font-size : 18px;
		background-color:#FFFFFF;
		border:solid 1px #B2B2B2;		
		border-top:solid 2px red;
		height:40px;
	}
	
	#edito .editorial td
	{
		vertical-align:bottom;
	}
	
	#edito .titre_edito
	{
		font-weight : bold;
		padding-top:10px;
		padding-bottom:10px;
	}
	
	#edito .tous_edito
	{
		font-size : 13px;
		font-weight:normal;
		text-align:right;
	}
	
	#edito .contenu
	{
		margin-top:-1px;
		border-bottom:solid 4px #F00;
	}
	
	#edito a
	{
		color:black;
		text-decoration:none;
	}
	
	#edito .contenu_edito
	{
		margin : 0 10 10 10px;
		height : auto;
		width : auto;
	}
	
	
	/*#################### FIN EDITO ####################*/
	
#pub1
{
width : 300px;
}

#blog
{
width : 250px;
}

.pub_interne
{
width : 300px;
}
.petite_pub_interne
{
width : 300px;
}

#rss
{
width : 250px;
}

#galerie
{
width : 300px;
margin-top : -3px;
border-top:solid 3px #F00;
border-bottom:solid 3px #F00;
}
	/*#################### ECHOS ####################*/
	
	#echos table
	{
		/*margin-top : -28px;*/
		width : 300px;
		/*background-color:#9E6092;*/
		border:solid 1px #B2B2B2;
		
		
		/*padding-bottom:5px;*/
	}
	
	#echos .tous_echos
	{
		font-size : 13px;
		font-weight:normal;
		text-align:right;
	}
	
	#echos .tous_echos a
	{
		color:black;
		text-decoration:none;
	}
	
	#echos a
	{
		/*color:white;*/
		text-decoration:none;
	}
	
	#echos .contenu_echos
	{
		padding-top:5px;
		padding-bottom:5px;
		padding-left:8px;
		padding-right:10px;
	}
	
	#echos .echos
	{
		width : 300px;
		/*color : #BB3C8E;*/
		color : #FF0000;
		font-weight : bold;
		font-size : 18px;
		margin-top : -3px;
		background-color:#FFFFFF;
		border:solid 1px #B2B2B2;
		border-top:solid 3px #F00;
		height:40px;
	}
	
	#echos .echos td
	{
		vertical-align:bottom;
		padding-left: 5px;
	}
	
	#echos .contenu
	{
		margin-top:-1px;		
	border-bottom:solid 3px #F00;
	}

	/*#################### FIN ECHOS ####################*/
	/*#################### DIVAGATIONS ####################*/
	
	#divagation table
	{
		/*margin-top : -28px;*/
		width : 300px;
		/*background-color:#FFD5C2;*/
		border:solid 1px #B2B2B2;
		padding-left: 5px;
		/*padding-left: 5px;
		padding-bottom:5px;*/
	}
	
	#divagation .divagation
	{
		width : 300px;
		
		margin-top : -3px;
		background-color:#FFFFFF;
		border:solid 1px #B2B2B2;
		height:40px;	
		border-top:solid 3px #F00;
	}
	#divagation .divagation .titre
	{
		color : #FF0000;
		font-weight : bold;
		font-size : 18px;
	}
	
	#divagation .divagation td
	{
		vertical-align:bottom;
	}
	
	#divagation .titre_divagation
	{
		font-weight : bold;
		padding-top:10px;
		padding-bottom:10px;
	}
	
	#divagation .tous_divagation
	{
		font-size : 13px;
		font-weight:normal;
		text-align:right;
	}
	
	#divagation .contenu
	{
		margin-top:-1px;	
	border-bottom:solid 3px #F00;
	
	}
	
	#divagation a
	{
		color:black;
		text-decoration:none;
	}
	
	#divagation .contenu_divagation
	{
		margin : 0 10 10 10px;
		height : auto;
		width : auto;
	}
	
	
	/*#################### FIN DIVAGATIONS ####################*/
	/*#################### VOTRE_ESPACE ####################*/
	
	
	#espace table
	{
		/*margin-top : -28px;*/
		width : 300px;
		
	}
	
	#espace .espace
	{
		width : 300px;
		color : #FF0000;
		font-weight : bold;
		font-size : 18px;
		margin-top : -3px;
		background-color:#FFFFFF;
		border:solid 1px #B2B2B2;
		border-top:solid 1px #B2B2B2;
		height:40px;
		border-top:solid 3px #F00;
		padding-left: 5px;
	}
	
	#espace .espace td
	{
		vertical-align:bottom;
	}
	
		#espace .tous_espace
	{
		font-size : 13px;
		font-weight:normal;
		text-align:right;
	}
	
	
	#espace .contenu {
		border:solid 1px #B2B2B2;
		border-left:none;
	}
	
	
	#espace .image_espace a{
		margin-left:-2px;
	}
	
	#espace .titre_espace a {
		font-size:13px;
		font-weight:bold;
	}
	
	#espace .lieu_espace a {
		color:#F00;
	}
	
	/*#################### FIN VOTRE ESPACE ####################*/
	#video table
	{
		/*margin-top : -28px;*/
		width : 300px;
		/*background-color:#FFD5C2;*/
		border:solid 1px #B2B2B2;
		
		padding-left: 5px;
		/*padding-left: 5px;
		padding-bottom:5px;*/
	}
	
	#video .video
	{
		width : 300px;
		color : #FF0000;
		font-weight : bold;
		font-size : 18px;
		background-color:#FFFFFF;
		border:solid 1px #B2B2B2;
		border-top:solid 3px #F00;
		height:40px;
	}
	
	#video .video td
	{
		vertical-align:bottom;
	}
	#video .tous_video
	{
		font-size : 13px;
		font-weight:normal;
		text-align:right;
	}
	
	
	
	/*#################### FIN VIDEO ####################*/
	/*#################### P ANNONCE ####################*/
	
	
	#p_annonces table
	{
		/*margin-top : -28px;*/
		width : 300px;
		
	}
	
	#p_annonces .annonce
	{
		width : 300px;
		color : #FF0000;
		font-weight : bold;
		font-size : 18px;
		margin-top : -3px;
		background-color:#FFFFFF;
		border:solid 1px #B2B2B2;
		border-top:solid 1px #B2B2B2;
		height:40px;
		border-top:solid 3px #F00;
		padding-left: 5px;
	}
	#p_annonces .annonce td
	{
		vertical-align:bottom;
	}
	
	
		#p_annonces .tous_annonce
	{
		font-size : 13px;
		font-weight:normal;
		text-align:right;
	}
	
	
	#p_annonces .contenu {
		border:solid 1px #B2B2B2;
		padding-left:5px;
	}
	
	
	#p_annonces .contenu .date{
		font-weight:bold;
	}
	
	/*#################### FIN ANNONCE ####################*/
	
#forum
{
width : 250px;
}


#depeches 
{
width : 250px;
}
#depeches table
	{
		/*margin-top : -28px;*/
		width : 300px;
		/*background-color:#FFD5C2;*/
		border:solid 1px #B2B2B2;		
		padding-left: 5px;
		/*padding-left: 5px;
		padding-bottom:5px;*/
	}
	
#depeches #contenu
{

border:solid 1px #B2B2B2;
background-color:white;
}

#depeches #contenu li{
	border-top:solid 2px black;
	margin-top:5px;
	padding-top:5px;
	list-style: none;
}

#depeches .depeches
	{
		width : 300px;
		color : #FF0000;
		font-weight : bold;
		font-size : 18px;
		background-color:#FFFFFF;
		border:solid 1px #B2B2B2;
		border-top:solid 3px #F00;
		margin-top:-3px;
		height:40px;
	}

#depeches .depeches td
	{
		vertical-align:bottom;
		
	}
	


#diapo .titre_diapo
{
		width : 300px;
		color : #FF0000;
		font-weight : bold;
		font-size : 18px;
		margin-top : -1px;
		background-color:#FFFFFF;
		border:solid 1px #B2B2B2;
		height:40px;
		border-top:solid 3px #F00;
}

#diapo .titre_diapo td
{
	vertical-align:bottom;
}

.image_colonne_droite {
	width:300px;
	padding:0px;
}

#newsletter {
	width:298px;
	border:solid 1px #B2B2B2;
}