/***** PAGINATION TOUS *****/
.tabContent_tous
{
	width: 630px;
	/*height:500px;*/
	display: none;
	border: 2px solid #FFF;
	padding: 10px;
}
#pages_tous
{
	list-style: none;
	width: 630px;
}
#pages_tous a
{
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	font-size:10px;
}
#pages_tous a.active
{
	background-color:#B5EF59;
}
#scroll_tous
{
	width: 300px;
}
/*** FIN PAGINATION TOUS  ***/
/***** PAGINATION EDITO *****/
.tabContent_edito
{
	width: 630px;
	/*height:500px;*/
	display: none;
	border: 2px solid #FFF;
	padding: 10px;
}
#page_edito1
{
	display:block;
}
#pages_edito
{
	list-style: none;
	width: 630px;
}
#pages_edito a
{
	height: px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size:10px;
}
#pages_edito a.active
{
	background-color:#B5EF59;
}
#scroll_edito
{
	width: 300px;
}
/*** FIN PAGINATION EDITO ***/
/***** PAGINATION EXPOSITION *****/
.tabContent_expo
{
	width: 630px;
	/*height:500px;*/
	display: none;
	border: 2px solid #FFF;
	padding: 10px;
}
#page_expo1
{
	display:block;
}
#pages_expo
{
	list-style: none;
	width: 630px;
}
#pages_expo a
{
	height: 30px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size:10px;
}
#pages_expo a.active
{
	background-color:#B5EF59;
}
#scroll_expo
{
	width: 300px;
}
/*** FIN PAGINATION EXPOSITION ***/
/***** PAGINATION EVENEMENT *****/
.tabContent_even
{
	width: 630px;
	/*height:500px;*/
	display: none;
	border: 2px solid #FFF;
	padding: 10px;
}
#page_even1
{
	display:block;
}
#pages_even
{
	list-style: none;
	width: 630px;
}
#pages_even a
{
	height: 30px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size:10px;
}
#pages_even a.active
{
	background-color:#B5EF59;
}
#scroll_even
{
	width: 300px;
}
/*** FIN PAGINATION EVENEMENT****/
/***** PAGINATION SPECTACLE *****/
.tabContent_spec
{
	width: 630px;
	/*height:500px;*/
	display: none;
	border: 2px solid #FFF;
	padding: 10px;
}
#page_spec1
{
	display:block;
}
#pages_spec
{
	list-style: none;
	width: 630px;
}
#pages_spec a
{
	height: 30px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size:10px;
}
#pages_spec a.active
{
	background-color:#B5EF59;
}
#scroll_spec
{
	width: 300px;
}
/*** FIN PAGINATION SPECTACLE ***/
/***** PAGINATION LIVRE *****/
.tabContent_livre
{
	width: 630px;
	/*height:500px;*/
	display: none;
	border: 2px solid #FFF;
	padding: 10px;
}
#page_livre1
{
	display:block;
}
#pages_livre
{
	list-style: none;
	width: 630px;
}
#pages_livre a
{
	height: 30px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size:10px;
}
#pages_livre a.active
{
	background-color:#B5EF59;
}
#scroll_livre
{
	width: 300px;
}
/*** FIN PAGINATION LIVRE ***/
/***** PAGINATION INTERVIEW *****/
.tabContent_inter
{
	width: 630px;
	/*height:500px;*/
	display: none;
	border: 2px solid #FFF;
	padding: 10px;
}
#page_inter1
{
	display:block;
}
#pages_inter
{
	list-style: none;
	width: 630px;
}
#pages_inter a
{
	height: 30px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size:10px;
}
#pages_inter a.active
{
	background-color:#B5EF59;
}
#scroll_inter
{
	width: 300px;
}
/***** FIN PAGINATION INTERVIEW *****/
/***** PAGINATION NOMADE *****/
.tabContent_nom
{
	width: 630px;
	/*height:500px;*/
	display: none;
	border: 2px solid #FFF;
	padding: 10px;
}
#page_nom1
{
	display:block;
}
#pages_nom
{
	list-style: none;
	width: 630px;
}
#pages_nom a
{
	height: 30px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size:10px;
}
#pages_nom a.active
{
	background-color:#B5EF59;
}
#scroll_nom
{
	width: 300px;
}
/***** FIN PAGINATION NOMADE *****/
/***** PAGINATION NUMERIQUE *****/
.tabContent_num
{
	width: 630px;
	/*height:500px;*/
	display: none;
	border: 2px solid #FFF;
	padding: 10px;
}
#page_num1
{
	display:block;
}
#pages_num
{
	list-style: none;
	width: 630px;
}
#pages_num a
{
	height: 30px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size:10px;
}
#pages_num a.active
{
	background-color:#B5EF59;
}
#scroll_num
{
	width: 300px;
}
/***** FIN PAGINATION NUMERIQUE *****/
/***** PAGINATION CRITIQUE *****/
.tabContent_critique
{
	width: 630px;
	/*height:500px;*/
	display: none;
	border: 2px solid #FFF;
	padding: 10px;
}
#page_critique1
{
	display:block;
}
#pages_critique
{
	list-style: none;
	width: 630px;
}
#pages_critique a
{
	height: 30px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size:10px;
}
#pages_critique a.active_critique
{
	background-color:#B5EF59;
}
#scroll_critique
{
	width: 300px;
}
/***** FIN PAGINATION CRITIQUE *****/