#plan_site
{
	width:1000px;
	border:1px solid #B2B2B2;
}

#plan_site td
{
	width:120px;
	padding-left:10px;
}

#plan_site .separateur
{
	width:5px;
	border-left:1px solid #B2B2B2;
	border-left-style:dashed;
}

#plan_site .titre td
{
	color:#666666;
	font-weight:bold;
	font-size:11px;
}

#plan_site .Stitre td a
{
	color : #666666;
  	font-size : 10px;
}

#barre_bas
{
	width:1000px;
	text-align:center;
	border-bottom:1px solid red;
	border-top:1px solid red;
	padding-top:8px;
	padding-bottom:8px;
}

#barre_bas a
{
	color:#333333;
	font-weight:bold;
}

#barre_bas span
{
	color:red;
	font-weight:bold;
}

#contact input ,#contact textarea {
	border:solid 1px;
}
#contact textarea {
	width:509px;
}