.reglette
{
	width:690px;
	background-image:url(bandeau.gif);
	background-repeat:repeat-x;
	/*background-position:center;
	background-position:left;*/
	margin-top:0px;
}

.reglette_now_aujourdhui
{
	width:690px;
	background-image:url(bandeau.gif);
	background-repeat:repeat-x;
	/*background-position:center;
	background-position:left;*/
	margin-top:-3px;
}


.reglette form,.reglette_now_aujourdhui
{
	float:right;
	margin-top:-17px;
}

.reglette .text,.reglette_now_aujourdhui .text
{
	border:1px solid black;
}



.page_reglette
{
	width:670px;
	padding-top:1px;
	text-align:center;
	
}
#mot_cle
{
	border:1px solid red;
	border-right:1px solid black;
	border-left:1px solid black;
}