body
{
	width : 1000px;
	margin : auto;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
}

td
{
vertical-align:top;
}


img
{
	border:none;
}

a
{
	text-decoration:none;
	color:black;
}

td
{
	/*background-color:#00CCCC;*/
	
}


	/*#################### CORPS ####################*/
	
#contenu_corps
{
	width : 690px;
	/*background-color:#455454;*/
	float : left;
	/*border:1px solid;*/
}

#contenu_corps2
{
	width : 690px;
	margin:0px;
	padding:0px;
}

.image_defil  
{
	/*border:1px solid black ;*/
	margin-left:-1px;
	margin-top:2px;
}

.image_defil    td 
{
	width : 170px;
	/*border:1px solid black ;*/
}

/*
.image_defil .titre
{
	border:0px solid black ;
	background-color:black;
	color:white;
	text-align:center;
	width:60px;
}
*/

.image_defil p /*sur site actuel*/
{
	background-color:#000000;
	color:#FFFFFF;
	text-align:center;
	width:60px;
	border:1px solid white;	
	margin-top:-4px;	/*sur site actuel*/
	
}


.image_defil  a
{
	/*border:1px solid black ;*/
	color:white;
}

.image_defil  td
{
	
	/*border:1px solid;*/
	height:160px;
}

#diapo_acc_art, #diapo_acc_photo, #diapo_acc_danse, #diapo_acc_design
{
	width:160px;
	height:160px;
	margin-top:-14px;	/*sur site actuel*/
	padding-left:1px;
	border:0px solid;
}

.ligne_titre 
{
	width:690px;
	margin-top:9px;
}

.ligne_titre td
{
	/*background-color:#0099CC	
	border:1px solid;*/
	padding-bottom:2px;
	vertical-align:bottom;
	
}

.titre_pole
{
	width:1px;
}

.titre_pole a
{
	font-size:18px;
	font-weight:bold;
	color:#FF0000;
}

.trait_rouge_pole img
{
	padding-right:25px;
	width:91%;
	height:3px;
}

.article
{
	vertical-align:top;
	/*background-color:#00CC99;*/
	width:330px;
}

.article .image_video
{
	width:250px;
}

.espace_annonce
{
	width:20px;
}

.espace_annonce img
{
	width:20px;
	height:1px;
}

.trait
{
	width:313px;
}

.trait .spacer
{
	width:310px;
	height:1px;
}

.trait_rouge
{
	width:313px;
}

.trait_rouge img
{
	width:310px;
	height:3px;
}

.titre_critique
{
	background-image:url(fond_critique.gif);
	background-repeat:no-repeat;
	background-position:center;
	background-position:left;
	height:20px;
}

.titre_critique_video
{
	background-image:url(fond_critique.gif);
	background-repeat:no-repeat;
	background-position:center;
	background-position:left;
	height:20px;
	width:313px;
}

.titre_video_livre
{	
	width:140px;
	height:20px;
	background-image:url(fond_noir.gif);
	background-repeat:repeat-x;
	background-position:center;
	background-position:left;
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
	padding-bottom:-25px;
}

.titre_critique a
{
	color:#FFFFFF;
	font-weight:bold;
	padding-left:10px;
}

.titre_critique_video a
{
	color:#FFFFFF;
	font-weight:bold;
	padding-left:10px;
}

.image_acc
{
	float:left;
}

.titre_acc
{
	margin-left:100px;
	margin-top:-15px;
	
}

.titre_contrepoint .titre_annonce
{
	margin-left:100px;
	color:red;
	
}

.artiste_annonce a
{
	color:red;
	font-weight:bold;
	font-size:12px;
}
.artiste_annonce_critique a
{
	color:#00BE96;
	font-weight:bold;
	font-size:12px;
}


.titre_annonce a
{
	font-size:12px;
	font-weight:bold;
}

.date_annonce a
{
	font-weight:bold
}

.date_vernissage_annonce a
{
	font-style:italic;
}

.date_annonce2
{
	color:#FF0000;
	font-weight:bold;
}

.lieu_annonce a
{
	color:red;
	font-weight:bold;
	font-size:12px;
}
.lieu_annonce_critique a
{
	color:#00BE96;
	font-weight:bold;
	font-size:12px;
}
.lieu_annonce
{
	color:red;
	font-weight:bold;
	font-size:12px;
}

.editeur_annonce a
{
	color:red;
	font-weight:bold;
	margin-top:-15px;
}

.auteur_annonce a
{
	color:red;
	font-weight:bold;
	margin-top:-15px;
}
.d_artiste_annonce a
{
	color:red;
	font-weight:bold;
	font-size:18px;
}

.d_titre_annonce 
{
	font-size:18px;
	font-weight:bold;
}

.d_date_annonce 
{
	font-weight:bold
}

.d_date_vernissage_annonce a
{
	font-style:italic;
}

.d_date_annonce2
{
	color:#FF0000;
	font-weight:bold;
}

.d_lieu_annonce a
{
	color:red;
	font-weight:bold;
	font-size:14px;
}

.d_editeur_annonce a
{
	color:red;
	font-weight:bold;
	margin-top:-15px;
}

.d_auteur_annonce a
{
	color:red;
	font-weight:bold;
	margin-top:-15px;
}

.texte_acc
{
	float:left;
}

.texte_acc p
{
	margin-top:-2px;
}

#art_agenda
{
	width:690px;
	margin-top:-30px;
}

#art_agenda td
{
	padding-left:30px;
	/*border:1px solid;*/
}

#art_agenda .image
{
	text-align:right;
	padding-right:6px;
}

#art_agenda a
{
	text-decoration:none;
	font-size:12px;
}

.titre_agenda
{
	color:red;
	font-size:20px;
	font-weight:bolder;
	margin-top:0px;
	padding-left:4px;
	width:600px;
}

.select_reda
{
	font-size:18px;
	font-weight:500;
	font-style:italic;
	padding-left:60px;
}

.titre_annonce_agenda a
{
	font-style:italic;
}
.lieu_annonce_agenda a
{
	color:#000;
	font-weight:normal;
}

.createur_annonce_agenda a
{
	color:#FF0000;
}



#page_detail
{
	margin-top:-18px;
	line-height:18px;
	width:690px;
	padding-right:15px;
}

.page_detail
{
	width:690px;
}
.page_detail td.cellule_colone_jaune a img{
	margin-right:3px;
}


.lire_suite img
{
}

.cellule_colone_jaune
{
	vertical-align:top;	
}

.image_colonne_jaune img {
	margin-bottom:5px;
	width:250px;
}

.action_colonne_jaune {
	font-size:14px;
	}

.cellule_colone_jaune .ligne
{
	width:251px;
	height:4px;
	padding-right:10px;
}

.colone_jaune
{
	width:248px;
	border:1px;
	border-color:F8FF94;
	background-color:#FFFFFF;
	margin-top:-14px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top:3px solid red;
	margin-right:1px;
}
.colone_jaune2
{
	width:248px;
	border:1px;
	border-color:F8FF94;
	background-color:#FFFFFF;
	margin-top:-14px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top:0px solid red;
	margin-right:1px;
}
.titre_colone_jaune2
{
	font-weight:bold;
}
.lien_colone_jaune2
{
	padding-left:2px;
}

.colone_jaune2 p
{
	margin-left:5px;
	margin-right:5px;
}

.colonne_gauche2
{
	width:310px;
	padding-right:23px;
}

.colonne_droite2
{
	width:310px;
}

.titre_colone_jaune2
{
	font-weight:bold;
}
.lien_colone_jaune
{
	padding-left:2px;
}

.colone_jaune p
{
	margin-left:5px;
	margin-right:5px;
}

.colonne_gauche
{
	width:310px;
	padding-right:23px;
}

.colonne_droite
{
	width:310px;
}


.liste_rubrique
{
	width:250px;
	margin-top:20px;
}

.rubriques
{
	font-weight:bold;
	border-bottom:0px solid red;
}

.completeur_class {
	border: 1px solid;
	background-color:#FFFFFF;

}

.completeur_class ul  {
	list-style-type: none;
	margin:0px;
	padding:0px;
	text-align: left;
}

.completeur_class ul li.focused { 
	background-color: #FF0000; 
	cursor: pointer; 
}

#ville_update
{
	height:200px;
	overflow:auto;
}

#aujourdhui
{
	font-size:11px;
}

#aujourdhui td
{
	vertical-align:top;
}

.titre_aujourdhui 
{
}

.artiste_aujourdhui a
{
	color:#FF0000;
}

.lieu_aujourdhui a
{
	color:#FF0000;
}

.ville_aujourdhui a 
{
	width:690px;
	height:30px;
}

.ville_aujourdhui td
{
	/*background-color:#00CC99;*/
	vertical-align:bottom;
}

.ville_aujourdhui .ville
{
	font-size:14px;
	font-weight:bold;
	padding-left:0px;
}

.ville_aujourdhui img
{
	color:#000000;
	width:470px;
	height:1px;
}

.img_aujourdhui
{
	width:62%;
	height:1px;
}

.ajourdhui_gauche
{
	width:330px;
}

.ajourdhui_droite
{
	width:330px;
}

#recherche_aujourdhui 
{
	margin-top:-31px;
	width:690px;
	/*border:1px solid;*/
}

#recherche_aujourdhui .info_recherche, #recherche_aujourdhui .calendrier, #recherche_aujourdhui .info_choix
{
	vertical-align:top;
	/*border:1px solid;*/
}

#recherche_aujourdhui .info_choix
{
	padding-top:20px;
}

#recherche_aujourdhui #form_createur
{
	margin-top:-1px;
}

button
{
	background-color:white;
	border:0px;
}


#recherche_aujourdhui .info_recherche
{
	width:240px;
	padding-top:7px;
	/*border:1px solid;*/
}

#recherche_aujourdhui #radio form
{
	/*border:1px solid;*/
	margin-top:-27px;
	margin-left:-5px;
}


#recherche_aujourdhui #radio td
{
	/*border:1px solid;*/

}

#recherche_aujourdhui span
{
	font-size:15px;
}

#recherche_aujourdhui .choix_lieu , #recherche_aujourdhui p
{
	margin-bottom:3px;
}

#recherche_aujourdhui .choix_lieu , #recherche_aujourdhui p
{
	font-weight:bold;
	font-size:13px;
	/*margin-top:-3px;*/
}

#recherche_aujourdhui .separation
{
	color:#FF0000;
}

#recherche_aujourdhui .calendrier
{
	/*border:1px solid;*/
}

#recherche_lieu 
{
	margin-top:-30px;
	width:690px;
}

#recherche_lieu .info_recherche
{
	width:300px;
}

#recherche_lieu p
{
	font-weight:bold;
}

#recherche_lieu span
{
	font-size:15px;
}

#recherche_lieu .separation
{
	color:#FF0000;
}

#recherche_crea 
{
	width:690px;
	margin-top:-30px;
}

#recherche_crea  .info_recherche 
{
	padding-left:180px;
}

#recherche_crea  .info_recherche2
{
	padding-right:180px;
}

#recherche_crea  .bouton_recherche
{
	text-align:center;
}

#recherche_crea span
{
	font-weight:bold;
}

#recherche_livre 
{
	width:690px;
}

#recherche_livre .info_recherche
{
	width:200px;
}

#recherche_livre .info_recherche .titre,#recherche_livre span
{
	font-weight:bold;
}

#contenu_page td
{
	vertical-align:top;
}

.contenu_page
{
	width:690px;
	line-height:20px;
}

.titre_detail
{
	width:680px;
	border-bottom:4px solid red;
}

.titre_detail span
{
	color:#FF0000;
	font-size:18px;
	font-weight:bold;
}

.accroche 
{
	float:left;
}

.titre_createur
{
	color:#FF0000;
	font-size:18px;
	font-weight:bold;
}

.lieu
{
	width:690px;
}


.lieu_gauche
{
	width:330px;
	padding-left:30px;
	vertical-align:top;
}

.lieu_droite
{
	width:330px;
	vertical-align:top;
}

.ville_lieu
{
	font-size:13px;
	font-weight:bold;
	color:#FF0000;
	width:330px;
	margin-bottom:-15px;
}

.text_input
{
	font-size:12px;
	width:400px;
}

.createur
{
	width:690px;
}

.createur_gauche
{
	width:350px;
	padding-left:30px;
	vertical-align:top;
}

.createur_droite
{
	width:350px;
	vertical-align:top;
	padding-right:28px;
}

.genre_createur
{
	font-size:13px;
	font-weight:bold;
	color:#FF0000;
	margin-bottom:-15px;
}

.texte
{
	width:430px;
	padding-right:10px;
	line-height:18px;
	margin-top:0px;
	padding-top:0px;
}

.texte p
{
	margin-top:0px;
	padding-top:0px;
}

#barre_taille
{
	margin-bottom:-10px;
	margin-top:20px;
}


#compte
{
	width:680px;
}

#compte td
{
	
}

#compte .connect_compte
{
	width:340px;
	padding-left:50px;
	border-right:3px solid red;
}

#compte .separation
{
	width:100px;
}

#compte .creer_compte
{
	width:340px;
	vertical-align:middle;
	padding-left:50px;
}

#services
{
	width:690px;
}

#services .colonne_gauche
{
	width:250px;
	border: solid 1px #B2B2B2;
	padding:15px;
}

#services .colonne_droite
{
	width:250px;
	border:solid 1px #B2B2B2;
	padding:15px;
}

#services .titre
{	 
	font-size:13px;
	font-weight:bold;
}



.invalide
{
	background-color:#FDBBBB;
	border: 1px solid red;
	padding-left:5px;
}

#inscription
{
	margin-left:100px;
}

#inscription td
{
	width:250px;
}

.type_text
{
	width:250px;
}

.aleatoire .lien
{
	margin-left:15px;
	margin-top:-15px;
	width:296px;
}

.aleatoire .lien .createur a
{
	color:#00BE96;
}
.aleatoire .lien .redac a
{
	font-size:11px;
}

.title
{
	width:690px;
	height:20px;
	border-bottom:4px solid red;
	margin-bottom:10px;
}

/* css autocomplete jquery */
h3 {
	margin: 0px;
	padding: 0px;	
}

.suggestionsBox {
	position: relative;
	width: 150px;
	background-color: #FFFFFF;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border: 2px solid #000;	
	color: #212427;
}

.suggestionList {
	margin: 0px;
	padding: 0px;
}

.suggestionList li {
	
	margin: 0px 0px 3px 0px;
	padding: 3px;
	cursor: pointer;
}

.suggestionList li:hover {
	background-color: #659CD8;
}


.suggestionsBox2 {
	position: relative;
	width: 142px;
	background-color: #FFFFFF;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border: 2px solid #000;	
	color: #212427;
}

.suggestionList2 {
	margin: 0px;
	padding: 0px;
}

.suggestionList2 li {
	
	margin: 0px 0px 3px 0px;
	padding: 3px;
	cursor: pointer;
}

.suggestionList2 li:hover {
	background-color: #659CD8;
}
/* fin css autocomplete jquery */

.ancre
{
	float:right;
	margin-right:10px;
	margin-top:-18px;
}

.page
{
	width:690px;
	text-align:center;
}

#bouton 
{
	width:250x;
	border-bottom: 4px solid red;
}

.bouton2 a
{
	font-weight:bold;
}
	/*#################### FIN CORPS ####################*/
	
	#pied_de_page
{
	width : 1000px;
	height: 100px;
	/*background-color:#FFFF66;*/
	float : left;
}

#taille
{
	width:680px;
}

/*************DETAIL******************************************************/
.detail_artiste_annonce a
{
	color:red;
	font-weight:bold;
	font-size:18px;
}

.detail_titre_annonce
{
	font-size:18px;
	font-weight:bold;
}

.detail_date_annonce
{
	font-weight:bold;
	font-size:13px;
	color:red;
}

.detail_lieu_annonce a
{
	color:red;
	font-weight:bold;
	font-size:15px;
}

.titre_recherche_createur {
	width:500px;
	margin-left:60px;
	margin-top:30px;
	font-size:14px;
}
.titre_recherche_lieux {
	width:500px;
	margin-left:60px;
	font-size:14px;
	margin-bottom:8px;
}

.titre_recherche_livre {
	width:500px;
	margin-left:80px;
	font-size:14px;
	margin-bottom:-8px;
}

.detail_num
{	
	color:#000000;
	font-weight:bold;
}

/***********************************ACHAT***********************************/



 .titre_achat {
	background-image:url(titre_achat.jpg);
	background-repeat:repeat-x;
	padding:0px;
	margin-bottom:-2px;
	text-align:left;
}
.titre_achat .gauche {	
	padding-left:13px;
	color:#F00;
}
.titre_achat img{
	margin:-3px;
}

.entete_achat {
	background-color:#F60;
	text-align:center;
}

.corps_achat td {
	border:solid 1px black;
	text-align:center;
	vertical-align:middle;
}
.corps_achat .prix {
	color:#F00;
}
.entete_achat .gauche{
	text-align:left;
	padding-left:20px;
}

.corps_achat  .gauche{
	text-align:left;
}
.achat  {
	border:solid 1px black;
	padding:0px;
	margin-left:1px;
	border-collapse:collapse;
	font-size:14px;
}

.total_achat  {
	border:solid 1px black;
	border-top:solid 1px black;
	border-collapse:collapse;
	margin-left:1px;
	font-size:14px;
}
.total_achat td {
	
	text-align:center;
	border:solid 1px black;
}


.total_achat #grise {
	background-image:url(titre_achat.jpg);
	background-repeat:repeat-x;
}
.total_achat .left {
	text-align:left;
	font-size:11px;
}
#panier {
	border:solid 1px black;
	padding:0px;
	margin-left:4px;
	margin-top:-5px;
	border-collapse:collapse;
	text-align:center;
	color:red;
}

.suite_achat{
	font-size:10px;
	text-align:right;
}

.corps_achat,.sous_table_panier {
	text-align:center;
}



.corps_achat .left,.sous_table_panier .left{
	text-align:left;
	
}


.facturation{
	border-collapse:collapse;
	background-color:#CCC;
	margin-top:-1px;
	width:500px;
}

 .galerie_nom_principale {
	 font-size:15px;
	 font-weight:bold;
 }
 
 
 
 /********************************flux rss*********************************/
 .rss {
	 width:680px;
	 border:1px #FC9 solid;
	 border-collapse:collapse;
	 margin:0px;
 }
 
 .rss .titre_fil_rss td{
	 background-color:#FC9;
	 height:50px;
	padding:0px;
 }
 
 
 .rss .titre_fil_rss img{
	margin:-1px -4px -10px 0px;
	padding:0px;
 }
 
 
 .rss .fil_rss td{
	 border:1px #FC9 solid;
	 height:50px;
	 vertical-align:middle;
	 font-size:14px;
	 
	 
 }
 
  .rss .fil_rss_2 td{
	 border:1px #FC9 solid;
	 height:50px;
	 vertical-align:middle;
	 font-size:14px;
	 display:none;
	 
	 
 }
 
 
 
 
 
 
 /*#################### VOTRE_ESPACE ####################*/
	
	
	#actualite_2 table
	{
		/*margin-top : -28px;*/
		width : 690px;
		vertical-align:bottom;
	}
	#actualite_2 .espace td
	{
		vertical-align:bottom;
	}
	#actualite_2 .espace
	{
		width : 690px;
		color : #FF0000;
		font-weight : bold;
		font-size : 18px;
		margin-top : -3px;
		background-color:#FFFFFF;
		border:solid 1px #B2B2B2;
		border-top:solid 1px #B2B2B2;
		height:40px;
		border-top:solid 3px #F00;
		padding-left: 5px;
	}
	
	#actualite_2 .espace a
	{
		color : #FF0000;
		font-weight : bold;
		font-size : 18px;
	}
	#actualite_2 .annonce_espace
	{
		font-size : 13px;
		font-weight:normal;
		color:#000;
		
	}
	
		#actualite_2 .tous_espace
	{
		font-size : 13px;
		font-weight:normal;
		text-align:right;
	}
	
	
	#actualite_2 .contenu {
		
		width:690px;
	}
	
	
	#actualite_2 .image_espace a{
		margin-left:-2px;
	}
	
	#actualite_2 .titre_espace a {
		font-size:13px;
		font-weight:bold;
	}
	
	#actualite_2 .lieu_espace a {
		color:#F00;
	}
	


	
	
	
	#p_annonces_2 .annonce
	{
		width :100%;
		color : #FF0000;
		font-weight : bold;
		font-size : 15px;
		margin-top : -5px;
		background-color:#FFFFFF;
		border:solid 1px #B2B2B2;
		border-top:solid 1px #B2B2B2;
		height:40px;
		border-top:solid 3px #F00;
		padding-left: 5px;
	}
	
	#p_annonces_2 .annonce td
	{
		vertical-align:bottom;
	}
	#p_annonces_2 .annonce a
	{
		color : #FF0000;
		font-weight : bold;
		font-size : 16px;
	}
	#p_annonces_2 .annonce_annonce
	{
		font-size : 13px;
		font-weight:normal;
		color:#000;
		vertical-align:middle;
	}
	
		#p_annonces_2 .tous_annonce
	{
		font-size : 12px;
		font-weight:normal;
		text-align:right;
	}
	
	
	#p_annonces_2 .contenu {
		width :100%;
		border:solid 1px #B2B2B2;
		padding-left:5px;
	}
	
	
	#p_annonces_2 .contenu .date{
		font-weight:bold;
	}
	
	#galerie_2 table {
		border-collapse:collapse;
		vertical-align:bottom;
	}
	#galerie_2 .espace td {
		vertical-align:bottom;
	}
	
	#galerie_2 .espace
	{
		width : 100%
		color : #FF0000;
		font-weight : bold;
		font-size : 16px;
		margin-top : -3px;
		background-color:#FFFFFF;
		border:solid 1px #B2B2B2;
		border-top:solid 1px #B2B2B2;
		height:40px;
		border-top:solid 3px #F00;
		padding-left: 5px;
	}
	#galerie_2 .espace a
	{
		color : #FF0000;
		font-weight : bold;
		font-size : 16px;
		margin-left:5px;
	}
	
	
	
	#galerie_2 .annonce_espace
	{
		font-size : 13px;
		font-weight:normal;
		color:#000;
		vertical-align:middle;
	}
	
		#galerie_2 .tous_espace
	{
		font-size : 13px;
		font-weight:normal;
		text-align:right;
	}
	
	
	
	
	
	#galerie_2 .image_espace a{
		margin-left:-2px;
	}
	
	#galerie_2 .titre_espace a {
		font-size:13px;
		font-weight:bold;
	}
	
	#galerie_2 .lieu_espace a {
		color:#F00;
	}
	#image_colonne_droite_2  img{
	width:100%;
	padding:0px;
	margin:0px;
	margin-top:-5px;
	margin-bottom:-2px;
}
	/*#################### FIN VOTRE ESPACE ####################*/
	
	
	/*image de chargement***/
	#loaders {
		position:absolute;
		width:100%;
	height:100%;
	background-color:#999;
	opacity:0.1;
	z-index:111;
	}
	#loader img{
	position:absolute;
	z-index:111;
	margin-left:200px;
	margin-top:300px;
	}
	
	
	.titre_recherche_crea{
		color:red;
		text-transform:capitalize;
		font-size:14px;
	}
	
	#reaction_cache fieldset{
		width:400px;
	}

#dsds {
	list-style-type: none;
}
#s3slider { 
   width: 290px; /* important to be same as image width */ 
   position: relative; /* important */
   margin-top:-13px;///-13 sur Firefox
	
}


#s3sliderContent {
   width: 290px; /* important to be same as image width or wider */
   top: 0; /* important */
  margin-left: -40px; /* important */-40 sur Firefox
  list-style:none;
 
}
