#home { position: relative; }
#home .left { width: 216px; float: left; }
#home .right { width: 684px; float: right; }
#home object { outline: none; }
#search-wrapper { display: none; }
#display-reg-errors { font-size: 10px; color: #e02b2b; font-weight: bold; }
#content .h1 { position: relative; }

#flash-wrapper { position: relative; width: 684px; height:403px; overflow: hidden; }
#flashGoesHere { padding: 0; width: 684px; height: 413px; background: none; overflow: hidden; }
div#flashGoesHere { padding: 0 0 28px 0; height: 385px; background: url(bg_flashgoeshere.png) left bottom repeat-x; }
#flashGoesHere .vids { position: relative; left: 0px; margin: 0; width: 1000%; }
#flashGoesHere .vids li { float: left; width: 684px; height: 385px; }
#flashGoesHere #pages { position: absolute; bottom: 8px; right: 8px; }
#flashGoesHere .pages { float: right; }
#flashGoesHere .pages li { float: left; font-size: 11px; line-height: 1.1; }
#flashGoesHere .pages li a { display: block; margin: 0 0 0 5px; padding: 0 8px; text-decoration: none; color: #a9a9a9; background: #535353; }
#flashGoesHere .pages li a:hover { color: #c7c7c7; background: #7d7d7d; }
#flashGoesHere .pages li.selected a { color: #fff; background: #e02b2b; }

.moments-panel { background-color: #1e1e1e; margin-top: 3px;  z-index: 1000; }
.moments-panel .momentsText { border: 0; width: 185px; height: 95px; margin-bottom: 8px; padding: 5px; margin-left: 11px; padding: 5px; font-size: 12px; color: #797979; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.moments-panel h2 { text-align: left; font: bold 16px Helvetica; color: #ffffff; margin-bottom: 10px; padding-top: 17px; padding-left: 14px; }
.moments-panel h3 { text-align: left; font: bold 11px Helvetica; color: #b5b5b5; width: 198px; margin: 0 0 10px 0; padding: 10px 0 0 14px; }
.moments-panel div { /*margin-bottom: 13px;*/ }
.moments-panel textarea { overflow: hidden; border: 0; }
.moments-panel .bottom { padding: 5px 10px 0 11px; overflow: hidden; display: block; clear: both; }
.moments-panel .divider { padding: 16px 0 0 0; display: block; clear: both; }
.moments-panel #char-count { float: left; display: block; width: 29px; text-align: left; font: bold 16px Helvetica; }
.moments-panel .neg-char-count { color: #E02B2B; }
.moments-panel #submitBtn { float: right; display: block; clear: both; }
.moments-panel button { position: relative; margin: 8px 8px 0 0; border: 0; padding: 4px 16px 4px 8px; height: 22px; color: #fff; font-size: 11px; font-weight: bold; line-height: 1; background: #e02b2b url(bg_arrow.png) center right no-repeat; cursor: pointer; }
.moments-panel button.focus { outline: 1px dotted #ccc; }
.moments-panel button.focus, .moments-panel button.hover { background-color: #7e1717; }
.moments-panel .moments-panelDiv { padding: 0 0 10px 0; }
.moments-panel .terms { font: bold 11px Helvetica; color: #b5b5b5; width: 165px; float: right; margin: 0 -8px 0 0; }
.moments-panel .terms input { padding: 0; margin: 0; float: left; }
.moments-panel .terms label { font: 11px Helvetica; color: #b5b5b5; width: 145px; float: right; margin: 0 0 0 5px; padding: 0; }
.moments-panel .terms label a { text-decoration: none; }
.moments-panel .terms .rules { padding: 0 0 0 20px; }
.moments-panel #termsError { position: relative; display: none; color: #e02b2b; font-weight: bold; clear: both; font-size: 11px; padding: 8px 0 0 9px; margin: 0 0 -10px 0; }
.moments-panel .momentsText { resize: none; } /* safari */
.moments-panel a.button, .moments-panel a.button:visited { background: #E02B2B url(bg_arrow.png) no-repeat scroll right center; border: 0 none; color: #FFFFFF; cursor: pointer; font-size: 11px; font-weight: bold; height: 22px; line-height: 1; margin: 8px 8px 0 0; padding: 4px 16px 4px 8px; position: relative; text-decoration: none; }
.moments-panel a.button:hover, .moments-panel a.button:visited:hover { background: #7e1717 url(bg_arrow.png) no-repeat scroll right center; }
.moments-panel #ctl00_ContentPlaceHolder1_momentSubmissions, .moments-panel #ctl00_ContentPlaceHolder1_momentVoting { float: right; margin: 12px 0 0 0; }
.moments-panel .momentsImg { padding: 0; }
/* moments-panel skin-white */
.skin-white .moments-panel { background-color: #e8e8e8; }
.skin-white .moments-panel h3 { color: #404040; }
.moments-panel .terms label { font: 11px Helvetica; color: #5d5d5d; width: 145px; float: right; margin: 0 0 0 5px; padding: 0; }
.moments-panel .momentsText { border: 1px solid #c6c6c6; width: 185px; height: 95px; margin-bottom: 8px; padding: 5px; margin-left: 11px; padding: 5px; font-size: 12px; color: #797979; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.ads-panel a {display: block; margin-bottom: 19px;}




#ctl00_ContentPlaceHolder1_bursaryPag, #ctl00_ContentPlaceHolder1_storyPag { font: bold 11px Helvetica; color: #b9b9b9; padding-bottom: 10px; margin-top: 15px; margin-left: 13px; }
#ctl00_ContentPlaceHolder1_bursaryPag p, #ctl00_ContentPlaceHolder1_storyPag p { text-align: left; font-weight: normal;}
#ctl00_ContentPlaceHolder1_bursaryPag a, #ctl00_ContentPlaceHolder1_storyPagg a { color: #e02b2b; text-decoration: none; }
#ctl00_ContentPlaceHolder1_bursaryPag a.inactive, #ctl00_ContentPlaceHolder1_storyPag a.inactive { color: #b9b9b9; cursor: default; }

.feed-title { text-align: left; background-color: #1b1b1b; margin-top: 20px; padding: 6px 0px 6px 8px;  }
.feed-title p { font: bold 10px Helvetica; color: #ffffff; }
#home-feed { text-align: left; margin-bottom: 20px; background-color: #1c1c1c; padding: 12px 0px 8px 11px; }
#home-feed #feed-text { text-align: left; font: normal 24px Helvetica; color: #7f7f7f; width: 652px; margin-bottom: 11px; line-height: 28px; }
#home-feed #signature { text-align: left; font: normal 11px Helvetica; color: #646363; }
#home-feed a { color: #e02b2b; text-decoration: none; }
#feed-follow-us a {color:#E02B2B; font-size:12px; right:10px; margin-top:-44px; position:absolute; text-decoration:none; text-align:right; width:200px;}

#story-img-upload-wrap { display: none; position: absolute; top: -14px; left: -21px; border: 1px solid #2b2b2b; background-color: #000000; width: 254px; padding: 20px 0px; z-index:300; }
#story-img-upload { border: 1px solid #707070; width: 215px; margin: 0 auto; padding-bottom: 20px; }
#story-img-upload h1 { padding-left: 17px; text-align: left; margin-bottom: 20px; margin-top: 20px; }
#story-img-upload #the-story { background-color: #d22829; width: 195px; ; margin: 0 auto 19px auto;  }
#story-img-upload #the-story #the-story-text { font: bold 12px Helvetica; color: #ffffff; width: 172px; padding-left: 8px; overflow:hidden; }
#story-img-upload #the-story #edit-story { text-align: right; padding-right: 10px; font: normal 11px Helvetica; color: #ffffff; }
#story-img-upload p { font: normal 13px Helvetica; color: #bdbdbd; width: 171px; margin: 0px auto 17px auto; }
#story-img-upload #upload-image { display: none; }
#story-img-upload #upload-image form { margin-bottom: 9px; }
#story-img-upload #upload-image table  { margin: 0 auto; }
#story-img-upload #upload-image table input { width: 105px; margin-right: 6px; border: 1px solid black; }
#story-img-upload #upload-image table input.error { border: 1px solid #ff0000; }
#story-img-upload #upload-image table label { font: bold 14px Helvetica; }
#story-img-upload #upload-image a.browse-images{ display: block; width: 66px; height: 15px; background: url("your_story_browse.png") 0px 0px no-repeat; }
#story-img-upload #upload-image a.browse-images:hover { background: url("your_story_browse.png") 0px -15px no-repeat; }
#story-img-upload #upload-image a.browse-url{ display: block; width: 66px; height: 15px; background: url("your_story_btn_upload.png") 0px 0px no-repeat; }
#story-img-upload #upload-image a.browse-url:hover { background: url("your_story_btn_upload.png") 0px -15px no-repeat; }
#story-img-upload #upload-image .image-holder { display: none; margin: 21px auto 0px auto; width: 170px; height: 149px; }
#story-img-upload #upload-image .image-holder img { border: 1px dashed #585858; }
#story-img-upload #upload-image #add-image { border-top: 1px dotted #5c5c5c;  width: 190px;  margin: 0 auto; }
#story-img-upload #upload-image #add-image form { margin-bottom: 17px; }
#story-img-upload #upload-image #add-image .skip-step { margin-top: 20px; margin-left: 13px; margin-right: 9px; float: left; display: block; height: 24px; width: 75px; background: url("your_story_submit.png") 0px 0px no-repeat; }
#story-img-upload #upload-image #add-image .skip-step:hover { display: block; height: 24px; width: 75px; background: url("your_story_submit.png") 0px -24px no-repeat; }
#story-img-upload #upload-image #add-image .add-img { margin-top: 20px; float: left; display: block; height: 24px; width: 79px; background: url("your_story_add_img_btn.png") 0px 0px no-repeat; }
#story-img-upload #upload-image #add-image .add-img:hover { display: block; height: 24px; width: 79px; background: url("your_story_add_img_btn.png") 0px -24px no-repeat; }
#story-img-upload #upload-image #add-image .share-img { margin-top: 20px; float: left; display: block; height: 24px; width: 79px; background: url("share_story_btn.png") 0px 0px no-repeat; }
#story-img-upload #upload-image #add-image .share-img:hover { display: block; height: 24px; width: 79px; background: url("share_story_btn.png") 0px -24px no-repeat; }
#story-img-upload #upload-image #add-image p a { margin-left: 6px; font: normal 11px Helvetica; color: #e02b2b;}
#story-img-upload #save-story { display: none; }
#story-img-upload #save-story h2 { font: bold 14px Helvetica; color: #e02b2b; width: 146px; padding-left: 22px; margin-bottom: 20px; }
#story-img-upload #save-story h2 a { font: bold 16px Helvetica; color: #e02b2b; }
#story-img-upload #save-story form { padding-left: 17px; }
#story-img-upload #save-story form input { width: 176px; border: 1px solid black; }
#story-img-upload #save-story form input.error-field { border: 2px solid #ff0000; }
#story-img-upload #save-story form label { font: bold 14px Helvetica; }
#story-img-upload #save-story form .email_checkbox label{float:left; font-size: 11px; font-weight: lighter; color:#fff; margin: 2px 0px 0px 5px; line-height:1.7;}
#story-img-upload #save-story form .email_checkbox .input-checkbox{float: left; width:auto; border-width:0px;}
#story-img-upload #save-story a.cancel { margin-top: 21px; margin-right: 6px; margin-left: 18px;  float: left; display: block; width: 73px; height: 24px; background: url("cancel_submit_button.png") 0px 0px no-repeat; }
#story-img-upload #save-story a.cancel:hover { background: url("cancel_submit_button.png") 0px -24px no-repeat; }
#story-img-upload #save-story a.submit-reg { margin-top: 21px; float: left; display: block; width: 73px; height: 24px; background: url("cancel_submit_button.png") -73px 0px no-repeat; }
#story-img-upload #save-story a.submit-reg:hover { background: url("cancel_submit_button.png") -73px -24px no-repeat; }
#story-img-upload #share-story { display: none; }
#story-img-upload #share-story .add-image-text { font: normal 16px Helvetica; }
#story-img-upload #share-story .top-wrap { width: 176px; margin: 0 auto; }
#story-img-upload #share-story .top-wrap p { font: normal 11px Helvetica; color: #e02b2b; margin-top: 10px; margin-bottom: 5px; } 
#story-img-upload #share-story .go-now-wrap { margin: 0 auto; width: 190px; border-top: 1px dotted #5c5c5c; padding: 14px 0px; }
#story-img-upload #share-story .go-now-wrap p { font: normal 16px Helvetica; padding-left: 6px; padding-bottom: 12px;  }
#story-img-upload #share-story .no-padding { padding-bottom: 0px; }
#story-img-upload #share-story a.go-now { margin-left: 6px; display: block; width: 66px; height: 15px; background: url("go_now_btn.png") 0px 0px no-repeat; overflow:hidden;}
#story-img-upload #share-story a.go-now:hover { background: url("go_now_btn.png") 0px -15px no-repeat; }

div.fileinputs { position: relative; }
div.fakefile { position: absolute; top: 0px; left: 0px; z-index: 1; }
div.fakefile img { position: absolute; }
input.file { position: relative; text-align: right;	-moz-opacity: 0; filter:alpha(opacity: 0); opacity: 0; z-index: 2; }

#reg-form .labelrow{height: 20px;}
#reg-form .labelrow td{padding-top:5px;}
#reg-form tr{height: 20px;}
#save-story  .spinner {position:absolute; margin: 20px 0px 0px 10px;}
#save-story  .status_message { color:#E02B2B; font-size:11px; margin-left:20px; margin-top:15px; width:175px; }
#add-image {margin-left: 155px}
#upload-image .spinner { margin-left:14px; margin-top:20px; }


.skin-black .secondary-dialog {border: 1px solid #2b2b2b;background: #000; padding: 20px 18px 20px 19px;}
.skin-black .secondary-dialog .storyForm {border: 1px solid #707070;padding: 20px 9px;}

.skin-white .secondary-dialog .storyForm{padding-top:53px; color: #404040;}

.skin-white .secondary-dialog .buttonWrapper{float: left;}


.skin-white .secondary-dialog {
	background:#e8e8e8 none;
	border:1px solid #5D5D5D;	
	padding: 17px 12px;
}

.skin-black .storyForm input.text,
.skin-black .storyForm input.NormalTextBox {
	border: 1px solid #ccc; background: #ddd;
}
.skin-white .storyForm input.text,
.skin-white .storyForm input.NormalTextBox {
	border: 1px solid #b1b1b1; background: #fff;
}

.skin-black .storyForm h2 { margin: 0 0 20px; }
.skin-white .storyForm h2 {position:absolute;top:20px;left:0;margin:0;}

.storyForm input.NormalTextBox {font-size: 14px;width: 146px}


.secondary-dialog { 
   	position: absolute;
   	z-index: 100;
	top: 0;
	width: 215px;
}
/*.secondary-dialog.active { display: block; }
.secondary-dialog.active { left: 0px; }*/
.secondary-dialog .errorMessage { display: none; }
.secondary-dialog.errors .errorMessage { display: block; }
.secondary-dialog .spinner { display: none; float: left; }
.secondary-dialog.loading .spinner { display: inline; }
.secondary-dialog .storyForm {   /*width: 195px;*/ overflow: hidden; }
.secondary-dialog .storyForm fieldset { clear: both; }
.secondary-dialog .off { display: none; }
.secondary-dialog .emailOptin input, .secondary-dialog .smsOptin input, .secondary-dialog .emailOptin label, .secondary-dialog .smsOptin label { float: left; }
.secondary-dialog .emailOptin { overflow: hidden; }
.secondary-dialog .emailOptin label { width: 150px; }
.secondary-dialog .remember { display: block; clear: both; overflow: hidden; }
.secondary-dialog .register p { padding: 0; margin: 0; }
.secondary-dialog .au .label-item { display: block; clear: both; width: 100%; }
.secondary-dialog .au label, .secondary-dialog .au input { float: left; }
.secondary-dialog .au label { width: 35px; padding: 3px 2px 4px 0; }

.skin-black .storyForm select {border: 1px solid #000;}
.skin-white .storyForm select {border: 1px solid #ddd;}


.skin-black .storyForm input.error,
.skin-white .storyForm input.error,
.skin-black .storyForm select.error,
.skin-white .storyForm select.error { border-color: #ff0000; }

.storyForm a { text-decoration: none; }
.storyForm h3 { position: absolute; top: 0; left: -15000px; }
.storyForm form { position: relative; padding: 0 0 0 10px; }
.storyForm legend { font-size: 24px; font-weight: normal; }
.storyForm label { display: block; margin: 0 0 3px; font-size: 12px; font-weight: bold; }
.storyForm input.text { margin: 0 0 7px; border: 0;  padding: 2px 0 2px 4px; width: 169px; height: 14px; font-size: 12px;  }
.storyForm input#videoTitle {  }

.storyForm input.checkbox { margin: 0; border: 0; padding: 0; }
.storyForm select { margin: 0 0 7px;  padding: 0; text-transform: uppercase; background: #ddd; }


.skin-black .storyForm p.info, 
.skin-black .storyForm p.member {
	color: #bdbdbd;
}

.storyForm p.info, 
.storyForm p.member { margin: 0 0 0 10px;  font-size: 11px; font-weight: bold; line-height: 1.2; }
.storyForm p.info { margin-bottom: 15px; }
.storyForm .buttons { position: relative; padding: 16px 0; }

.skin-black #storyLogin .register {color: #b7b7b7; }
.skin-black #remember_meLabel {color: #b7b7b7; }

#storyLogin legend { margin: 0 0 9px;  }
#storyLogin p.forgot { margin: 0 0 10px; font-size: 11px; }
#storyLogin p.forgot a { color: #d22829; }
#storyLogin .register { padding: 10px 10px 0; margin: 10px 0 0; border-top: 1px dotted #5c5c5c; font-size: 11px; font-weight: bold; line-height: 15px; }
#remember_meLabel { display: inline; padding: 4px 0 0 0; position: relative; font-size: 11px; font-weight: normal; line-height: 1; }
#storyLogin p.button { margin: 0 0 10px; }

#storyRegister h4 { margin: 0 0 0 10px; font-size: 14px; }
#storyRegister .member a { border-bottom: 1px solid #701616; }
#storyRegister legend { height: 0; overflow: hidden; font-size: 0px; }
#storyRegister fieldset { margin: 14px 0 0; }
#storyRegister fieldset.user { margin-top: 11px; border-top: 1px dotted #5c5c5c; padding: 15px 0 0; }
#storyRegister #city { margin-bottom: 11px; }
#storyRegister label.stateLabel, #storyRegister label.zipLabel { display: none; }
#storyRegister .state { float: left; width: 90px; }
#storyRegister input.state { width: 84px; }
#storyRegister .zip { float: left; position: relative; left: 5px; width: 75px; }
#storyRegister label.dobLabel { clear: left; }
#storyRegister label.dobLabel.error { color: #ff0000; }
#storyRegister #country, #storyRegister #gender { width: 177px; }
#storyRegister #dob_m { width: 53px; }
#storyRegister #dob_d { width: 51px; }
#storyRegister #dob_y { width: 63px; }
#storyRegister .privacy { font-size: 10px; padding: 10px 0 0 0; }
#storyRegister .off { display: none; }

#storyAddImage .uploadPreview img.preview { top: 20px; visibility: hidden; }
#storyAddImage .file-input-group {margin-bottom: 15px;}

.skin-black #storyShare h3 {color: #bdbdbd;}
.skin-black #storyShare p.info { color: #777; }
.skin-black #storyShare h4 {color: #bdbdbd;}
.skin-black #storyShare a.shareThis ,
.skin-black #storyShare p.legal {color: #777;}
.skin-black #storyShare div.actions {color: #bdbdbd;}

#storyShare #the-story { margin-bottom: 10px; }
#storyShare h3 { position: relative; top: auto; left: auto; margin: 0 5px 0 10px; font-size: 18px; font-weight: normal;  }

#storyShare h4 { margin: 5px 0 5px 10px; font-size: 16px; font-weight: bold;  }
#storyShare .shareThis { display: block; margin: 5px 0 5px 10px; }

#storyShare p.legal { margin: 0 0 0 10px; font-size: 11px;  }
#storyShare div.actions { margin: 15px 0 15px; border: dotted #5c5c5c; border-width: 1px 0; padding: 8px 0 8px 10px; font-size: 11px; font-weight: bold;  }
#storyShare .buttonWrapper { margin-left: 10px; }
#nophoto { display: none; }
.skipped #photo { display: none; }
.skipped #nophoto { display: block; }

.skin-black #storyRollover {border: 1px solid #2b2b2b; background: #000 url(bg_downloads.png) repeat left top;}
.skin-white #storyRollover {border: 1px solid #bbbbbb; background: #fff;}

#storyRollover { display: none; position: absolute; left: -15000px; z-index: 100; padding: 20px; width: 490px; font-size: 12px; font-weight: bold; color: #575757;  }
#storyRollover .wrapper { position: relative; border: 1px solid #c0c4c8; padding: 9px 15px 0 20px; height: 113px; background: #c0c4c8 url(bg_storyrollover.jpg) left top repeat-x; }
html > body #storyRollover .wrapper { height: auto; min-height: 121px; }

#storyRollover .story, #storyRollover .user, #storyRollover .voting-ui {
    width: 290px;
}
#storyRollover .story { padding-left: 0; }
#storyRollover .storyimage { position: absolute; top: 18px; right: 15px; border: 2px solid #bcbcbc; border-left-color: #b0b1b2; border-right-color: #b0b1b2; border-bottom-color: #a6a8a9; width: 140px; height: 86px; overflow: hidden; text-align: right; }
#storyRollover .user { position: absolute; left: 20px; bottom: 38px; }
#storyRollover .user img, #storyRollover .user a { float: left; }
#storyRollover .user img { margin: 0 5px 0 0; }
#storyRollover .user a { text-decoration: none; }
#storyRollover .user a:hover { text-decoration: underline; }
#storyRollover span.message { display: none; margin: 0 0 -5px 33px; color: #7e1717; font-size: 11px; }
#storyRollover.messaged span.message { display: block; }
#storyRollover span.count { visibility: hidden; }
#storyRollover.counted span.count { visibility: visible; }
#storyRollover .voting-ui { position: absolute; left: 20px; bottom: 2px; margin-bottom: 0px;}
.voting-ui a { float: left; display: block; padding: 0px 15px 0px 20px; height: 23px; line-height: 23px; font-size: 11px; font-weight: bold; color: #797979; text-decoration: none; background: url(storyThumbs.png) no-repeat left top; }
.voting-ui a:hover { color: #7e1717; }
.voting-ui a .count { color: #454545; font-size: 11px; font-weight: normal; }
.voting-ui .there { }
.voting-ui .notthere { background-position: 0 -23px; }

.callouts { overflow: hidden; height: 100%; }
.callouts .callout { float: left; margin: 0 18px 15px 0; }
.callouts .callout.last { margin-right: 0; }
