body {font-size:.75em; height:100%; margin:0; text-align:center; color:#333; font-family:Arial, Helvetica, sans-serif;}
body.clean {background:url(http://css.yamaha-motor-europe.com/mbk/bg-tick.gif) 50% 0;}
body.type1 #bgimg {position:absolute; top:0; left:0; width:100%; height:800px; background:url(http://css.yamaha-motor-europe.com/mbk/head.jpg) 50% 0 no-repeat;}
body.urban {background:url(http://css.yamaha-motor-europe.com/mbk/urbanbg.jpg) 50% 0;}
body.type2 #bgimg {position:absolute; top:0; left:0; width:100%; height:450px; background:url(http://css.yamaha-motor-europe.com/mbk/head2.jpg) top center no-repeat;}
body.grunge {background:url(http://css.yamaha-motor-europe.com/mbk/grunge-bg.jpg) top center;}
body.type3 #bgimg {position:absolute; top:0; left:0; width:100%; height:1200px; background:url(http://css.yamaha-motor-europe.com/mbk/head.jpg) 50% 0 no-repeat;}t
body.grunge #page-shim {position:absolute; top:265px; left:-11px; height:781px; width:782px; background:url(http://css.yamaha-motor-europe.com/mbk/png/grunge-set.png) 0 0 no-repeat;}
.clear {clear:both; font-size:0em; height:0px; line-height:0px; margin:0; padding:0;}
#wrap {position:relative; margin:auto; width:760px;}
#wrapMystory {margin:10px auto; padding:10px; width:640px; float:left;}
#wrapMystory  #MainStory {float:left;}
#wrapMystory  .MainStoryFooter {float:left;}
	#menu {position:relative; z-index:100; height:43px;}
 	#logo {position:absolute; top:6px; left:23px; height:28px; width:101px; background:url(http://css.yamaha-motor-europe.com/mbk/logo.gif) 0 0; z-index:10;}
	 #drop-links {position:absolute; z-index:100; float:right; margin-top:5px; padding:4px 15px 4px 12px; right:0; height:24px; background:url(http://css.yamaha-motor-europe.com/mbk/breaker.gif) 0 50% no-repeat;}
	 	#globe-link {position:relative; float:left; height:24px; width:24px; margin:0 8px 0 8px; background:url(http://css.yamaha-motor-europe.com/mbk/globe.gif) 0 0 no-repeat;} 	
		#globe-link:hover {background:url(http://css.yamaha-motor-europe.com/mbk/globe-a.gif) top left no-repeat;} 	
		#world-box {position:absolute; display:none; bottom:-56px; right:3px; padding:3px 5px; width:90px; text-align:left; background:url(http://css.yamaha-motor-europe.com/mbk/glob-drop-bg.gif) 0 100% repeat-x;}
		#world-box img, #world-box a {background: url(http://css.yamaha-motor-europe.com/mbk/bg-world.gif); color:#333; padding-top:4px; position:relative; display:block; height:21px; width:90px; text-align:center; text-decoration:none;} 	
		#glass-link {position:relative; float:left; height:24px; width:24px; margin:0 8px 0 8px; background:url(http://css.yamaha-motor-europe.com/mbk/glass-a.gif) top left no-repeat;} 	
		#glass-link:hover {background:url(http://css.yamaha-motor-europe.com/mbk/glass.gif) top left no-repeat;} 	
		#search-box {position:absolute; display:none; bottom:-35px; right:3px; height:26px; padding:6px 0 7px 7px; width:243px; text-align:left; background:url(http://css.yamaha-motor-europe.com/mbk/search-drop-bg.gif) bottom left repeat-x;} 	
		.sbox {position:relative; float:left; padding:4px 5px 0 5px; height:20px; width:170px; margin-right:7px; border:1px solid #D4D4D4;} 	
		.sg {position:relative; float:left; width:44px; height:26px; background:url(http://css.yamaha-motor-europe.com/mbk/sgo.gif) top left no-repeat; border:0; margin-top:-1px;}  
		
		#menu-bg {position:absolute; top:0; left:0; height:43px; width:760px; background:url(http://css.yamaha-motor-europe.com/mbk/png/menu-bg.png) top left no-repeat;
		behavior:url(iepngfix.htc); z-index:10;} 	
		
		/*	 Navigation Menu
		---------------------------------------------- */			
		#navMenu ul {float:left; padding:9px 0 0 0; height:22px; left:135px; position:absolute; top:0; z-index:1001;}
	 	#navMenu li {position:relative; float:left; height:24px; padding-right:8px;} 	
		#navMenu li a {cursor:pointer; position:relative; float:left; padding-left:8px; height:24px; 	color:#333; font-weight:bold; font-size:10px; text-transform:uppercase; text-decoration:none;} 	
		#navMenu li a span {position:relative; float:left; padding:4px 8px 0 0; height:18px;} 	
		#navMenu li a:hover, #navMenu li.open a.topItem {color:#fff; background:url(http://css.yamaha-motor-europe.com/mbk/btn-left.gif) top left no-repeat;} 	
		#navMenu li a:hover span, #navMenu li.open a.topItem span {background:url(http://css.yamaha-motor-europe.com/mbk/btn-right.gif) top right no-repeat;} 	
		#navMenu li.active a, #navMenu li.active a:hover {color:#fff; background:url(http://css.yamaha-motor-europe.com/mbk/nava-l.gif) top left no-repeat;} 	
		#navMenu li.active a span, #navMenu li.active a:hover span {height:20px; color:#017CC8; background:url(http://css.yamaha-motor-europe.com/mbk/nava-r.gif) top right no-repeat;} 
		
		
			/*	 subMenu
			---------------------------------------------- */				
			#navMenu li ul {background:url(http://css.yamaha-motor-europe.com/mbk/bg-submenu.gif) left bottom no-repeat; border-top:5px solid #016aac; clear:both; height:auto; margin-top:18px; overflow:visible; padding:0 0 5px 0;}
			#navMenu li li {background:#016aac; clear:both; float:left; display:block; height:auto; padding-right:0;}			
			#navMenu li li a, #navMenu li li a:hover { background:none; border:none; border-bottom:1px solid #3588ba; color:#fff; font-size:0.9em; height:auto; padding:5px 5px 5px 8px; text-align:left; text-transform:none; width:154px;}
			#navMenu li ul ul {background:url(http://css.yamaha-motor-europe.com/mbk/bg-submenu.gif) left bottom no-repeat; border:none; margin:0 0 0 167px;}	
			
			#navMenu li ul {position: absolute; left: -999em;}
			#navMenu li:hover ul ul {left: -999em;} 	
			#navMenu li:hover ul ul ul {left: -999em;} 
			#navMenu li.open ul ul {left: -999em;}
			#navMenu li.open ul ul ul {left: -999em;}				
			#navMenu li:hover ul {left: auto;}
			#navMenu li li:hover ul {left: auto;}
			#navMenu li li li:hover ul {left: auto;}
			#navMenu li.open ul {left: auto;}
			#navMenu li li.open ul {left: auto;}
			#navMenu li li li.open ul {left: auto;}
			
			#navMenu li.closed ul {display:none;}
			/* cover up with a frame */
			.cover-frm {position:absolute; z-index:9998; display:none; width:0; height:0; border:0;}

	.head-flash {position:absolute; left:-261px; margin-bottom:222px; z-index:0;}
	#headMovie	{z-index:100}

	#handle-box {position:relative; margin-top:222px; padding-top:46px; text-align:center; height:237px; margin-bottom:10px; z-index:200}
 	#handle-box-bg {position:absolute; top:0; left:0; font-family:Arial, Helvetica, sans-serif; padding-top:15px; text-transform:uppercase; font-size:1em; font-weight:bold; height:284px; width:762px; background:url(http://css.yamaha-motor-europe.com/mbk/png/powerzone-bg-1.png) top left no-repeat;
	behavior:url(iepngfix.htc)}
 	#handle-box img {position:relative;}
	#handle-box a {position:relative; margin:0 4px 0 4px;}
	#handle-box-alt {position:relative; margin-top:222px; padding-top:46px; text-align:center; height:127px; margin-bottom:10px; z-index:200}
	#handle-box-bg-alt {position:absolute; top:0; left:0; font-family:Arial, Helvetica, sans-serif; font-size:1em; font-weight:bold; height:173px; width:760px; background:url(http://css.yamaha-motor-europe.com/mbk/png/powerzone-bg-2.png) top left no-repeat; padding-top:15px; text-transform:uppercase;
	behavior:url(iepngfix.htc)}
 	#handle-box-alt img {position:relative;}
	#handle-box-alt a {position:relative; margin:0 4px 0 4px;}
	.clean-box-top {position:relative; height:13px; background:url(http://css.yamaha-motor-europe.com/mbk/png/clean-round-top.png) top right;
	behavior:url(iepngfix.htc)}
	
	.clean-box {position:relative; background:url(http://css.yamaha-motor-europe.com/mbk/png/clean-bg.png) top left repeat-y;}
	* html .clean-box {position:relative; background:url(http://css.yamaha-motor-europe.com/mbk/clean-bg.gif) top left repeat-y;}
	.clean-box-bottom {position:relative; height:13px; background:url(http://css.yamaha-motor-europe.com/mbk/png/clean-round-bottom.png) top left;
	behavior:url(iepngfix.htc)}
	
	#breadcrumb {position:relative; text-transform:uppercase; font-weight:bold; color:#656565; font-size:.9em; 	margin:0 3px; padding:0 0 7px 25px; border-bottom:1px solid #d9d9d9; text-align:left;}
 		#breadcrumb a {color:#007EC8; text-decoration:underline;}
		#breadcrumb a:hover {text-decoration:none;}
		#inner-crumb {position:relative; height:40px; padding:12px 0 0 25px; height:28px; font-size:.9em; margin-top:224px; text-transform:uppercase; text-align:left; z-index:200}
		#inner-crumb.urban {color:#999999;}
			#crumb-bg {position:absolute; top:0; left:0; height:40px; width:760px;}
		 	body.urban #inner-crumb #crumb-bg {background:url(http://css.yamaha-motor-europe.com/mbk/png/urban-breadcrumb.png) top left no-repeat;
			behavior:url(iepngfix.htc)}
		 	body.grunge #inner-crumb p {color:#fff;}
		 	body.grunge #inner-crumb #crumb-bg {top:0; left:-11px; width:782px; background:url(http://css.yamaha-motor-europe.com/mbk/png/grunge-breadcrumb.png) top left no-repeat;
			behavior:url(iepngfix.htc)}	 
			#inner-crumb p {position:relative;}
		 	body.urban #inner-crumb a {position:relative; color:#fff; text-decoration:underline;}
		 	body.grunge #inner-crumb a {position:relative; color:#fff; text-decoration:underline;}
			body.urban #inner-crumb a:hover, body.grunge #inner-crumb a:hover {text-decoration:none;}	
			a#models-btn {position:relative; float:right; padding:7px 0 0 0; height:23px; width:180px; text-align:center; margin:-6px 10px 0 0; z-index:1000;}
	 		body.urban #inner-crumb a#models-btn {color:#999999; text-decoration:none; background:url(http://css.yamaha-motor-europe.com/mbk/models-btn.gif) no-repeat center top;}
			body.urban #inner-crumb a#models-btn:hover {color:#fff;}
			
			body.grunge #inner-crumb a#models-btn {color:#fff; text-decoration:none; background:url(http://css.yamaha-motor-europe.com/mbk/models-btn-grunge.gif) no-repeat center top;}
			body.grunge #inner-crumb a#models-btn:hover {color:#461c00;}
			
			body.grunge #inner-crumb a#models-btn:hover {color:#461c00;}
			.grunge .clean-box-top {background:url(http://css.yamaha-motor-europe.com/mbk/png/clean-round-top1.png) top right;
			behavior:url(iepngfix.htc);}
			.grunge .clean-box {background:url(http://css.yamaha-motor-europe.com/mbk/png/clean-bg1.png) top left repeat-y;
			behavior:url(iepngfix.htc);}
			* html .grunge .clean-box {background:url(http://css.yamaha-motor-europe.com/mbk/clean-bg1.gif) top left repeat-y;}
			.grunge .clean-box-bottom {background:url(http://css.yamaha-motor-europe.com/mbk/png/clean-round-bottom1.png) top left; height:28px;
			behavior:url(iepngfix.htc);}

	
	#inner-content {position:relative; padding:20px 23px 0px 23px; text-align:left; overflow:hidden; z-index:200}
	body.grunge #inner-content {margin-left:-30px; padding:20px 75px 0px 55px; width:714px;}

	body.urban #inner-content-bg {position:absolute; top:0; left:0; width:760px; height:1500px; background:url(http://css.yamaha-motor-europe.com/mbk/png/urban-content-bg.png) top left;
	behavior:url(iepngfix.htc)}

	body.grunge #inner-content-bg {position:absolute; top:0; left:0; width:802px; height:1500px; background:url(http://css.yamaha-motor-europe.com/mbk/png/grunge-content-bg.png) 20px 0 no-repeat;
	behavior:url(iepngfix.htc);}

 	#inner-content-top {position:relative; padding-bottom:32px;}

	#inner-content-top-left {position:relative; float:left; width:340px; padding-left:2px;} 		
	body.urban #inner-content-top-left img {position:relative; display:block; border:2px solid #525252;} 	
	#inner-content-top-right {position:relative; float:right; padding:10px 20px 0 20px; width:321px; height:210px; color:#fff;} 	
	body.grunge #inner-content-top-right {color:#333;} 		
	#inner-content-top-right h1 {position:relative; font-size:1.5em; font-weight:bold; text-transform:uppercase;}  		
	body.grunge #inner-content-top-right h1 {padding-bottom:.3em; margin-bottom:.4em; background:url(http://css.yamaha-motor-europe.com/mbk/h1-streak.gif) bottom left no-repeat;}  		
	#inner-content-top-right span.the-price {position:absolute; top:10px; right:20px; font-size:1.5em; font-weight:bold; text-transform:uppercase; padding-bottom:.7em; text-align:left;}  			
	#inner-content-top-right span.the-price small {position:relative; display:block; font-size:.75em; padding-top:4px;}  		
	#inner-content-top-right h2 {position:relative; font-size:1.2em; font-weight:bold; padding-bottom:.7em;}  		
	#inner-content-top-right ul.flist {position:relative; padding-left:4px;}  		
	#inner-content-top-right ul.flist li {position:relative; padding:6px 0 6px 20px;}  		
	
	body.urban #inner-content-top-right ul.flist li {background:url(http://css.yamaha-motor-europe.com/mbk/white-tick.jpg) left center no-repeat;}  		
	body.grunge #inner-content-top-right ul.flist li {background:url(http://css.yamaha-motor-europe.com/mbk/grunge-tick.gif) left center no-repeat;}  		
	body.urban #inner-content-top-right #more-details {position:absolute; bottom:15px; color:#fff; font-size:1.2em; left:110px; height:30px; padding-top:9px; width:154px; background:url(http://css.yamaha-motor-europe.com/mbk/more-details.jpg) top left no-repeat; text-align:center; text-decoration:none; text-transform:uppercase;}  		
	body.grunge #inner-content-top-right #more-details {position:absolute; bottom:5px; left:70px; height:47px; width:208px; text-indent:-9999em; background:url(more-details-grunge_tcm99-298129.png) top left no-repeat;
	behavior:url(iepngfix.htc) }  			
	body.urban #inner-content-top-right {background:url(http://css.yamaha-motor-europe.com/mbk/urban-inner-info.gif) top left no-repeat;} 	
	#inner-content-top-right-gal { float:right;padding:0; position:relative; right:-5px; width:361px; color:#fff;} 		
	body.urban #inner-content-top-right-gal {background:url(http://css.yamaha-motor-europe.com/mbk/urban-inner-info.gif) top left no-repeat;}  		
	
	#inner-content-top-right-gal h1 {position:relative; font-size:2.2em; font-weight:normal; padding-bottom:10px;}  		
	
	body.grunge #inner-content-top-right-gal h1 {color:#333; font-weight:bold; font-size:2em; text-transform:uppercase;}  		
	
	#inner-content-top-right-gal ul {position:relative;}  		
	#inner-content-top-right-gal li {position:relative; float:left; width:84px; height:84px;}  		
	#inner-content-top-right-gal li img {position:relative; display:block;}  		
	#inner-content-top-right-gal li a {position:relative; display:block; height:80px; padding:2px; width:80px;}  		
	body.grunge #inner-content-top-right-gal li a {background:#d3d3d3;}  		
	#inner-content-top-right-gal li a:hover {border:2px solid #fff; padding:0;}  		
	body.grunge #inner-content-top-right-gal li a:hover {border:2px solid #d55c0d; padding:0;}  		
	
	#inner-content-top-left .product_images {top:-2px; position:relative;}
	#gal-nav {position:relative; font-size:10px; line-height:22px; height:22px; margin:2px 0 0 0; padding-bottom:10px; text-align:center;}  			
	#gal-nav a {position:relative; display:inline-block; height:22px; color:#fff; margin:0 3px 0 3px;} 	 			
	#gal-nav .left {width:39px; margin-bottom:-6px;} 	 			
	body.urban #gal-nav .left {background:url(http://css.yamaha-motor-europe.com/mbk/gal-left-urban.gif) top left;} 	 			
	body.grunge #gal-nav .left {background:url(http://css.yamaha-motor-europe.com/mbk/gal-left-grunge.gif) top left;} 	 			
	#gal-nav .right {width:40px; margin-bottom:-6px;} 	 			
	body.urban #gal-nav .right {background:url(http://css.yamaha-motor-europe.com/mbk/gal-right-urban.gif) top left;} 	 			
	body.grunge #gal-nav .right {background:url(http://css.yamaha-motor-europe.com/mbk/gal-right-grunge.gif) top left;}	

	#img_nav_lft {bottom:0; cursor:pointer; height:22px; left:70px; position:absolute; width:37px;}
	body.urban #img_nav_lft {background:url(http://css.yamaha-motor-europe.com/mbk/gal-left-urban.gif) top left;}
	body.grunge #img_nav_lft {background:url(http://css.yamaha-motor-europe.com/mbk/gal-left-grunge.gif) top left;}

	#img_nav_rght {bottom:0; cursor:pointer; height:22px; position:absolute; right:80px; width:38px;}
	body.urban #img_nav_rght {background:url(http://css.yamaha-motor-europe.com/mbk/gal-right-urban.gif) top left;}                                                              
	body.grunge #img_nav_rght {background:url(http://css.yamaha-motor-europe.com/mbk/gal-right-grunge.gif) top left;}         
	
	#img_nav_bar {overflow: hidden; margin:0 0 20px 0; width:358px;}
	#img_nav_bar td { padding:10px 7px 18px 0;}
	
	#img_nav_bar td a {border:none; display:block; height:52px; padding:2px;}  		
	#img_nav_bar td a:hover {border:2px solid #fff; padding:0;} 
	#img_nav_bar td a img {margin:0; padding:0;} 		
	body.grunge #img_nav_bar td a:hover {border:2px solid #d55c0d; padding:0;}


	#inner-content-bottom {position:relative; height:18px; margin-bottom:15px;}

	body.urban #inner-content-bottom {background:url(http://css.yamaha-motor-europe.com/mbk/png/urban-content-foot.png) bottom left no-repeat;
	behavior:url(iepngfix.htc)}

	body.grunge #inner-content-bottom {position:relative; margin-left:-11px; width:782px; margin-top:-30px; height:60px; background:url(http://css.yamaha-motor-europe.com/mbk/png/grunge-content-foot.png) bottom left no-repeat;
	behavior:url(iepngfix.htc)}

	#tabs {position:absolute; height:29px; padding:0 0 0 5px; 	 z-index:99; background:url(http://css.yamaha-motor-europe.com/mbk/tab-left.jpg) top left no-repeat;}
	body.urban #tabs {background:url(http://css.yamaha-motor-europe.com/mbk/black-btn-left.jpg) top left no-repeat;}
	body.grunge #tabs {background:url(http://css.yamaha-motor-europe.com/mbk/rough-left.gif) top left no-repeat;}
 	#tabs ul {position:relative; float:left; height:29px; padding:0; background:url(http://css.yamaha-motor-europe.com/mbk/tab-right.gif) top right no-repeat;}
	body.urban #tabs ul {background:url(http://css.yamaha-motor-europe.com/mbk/black-btn-right.gif) top right no-repeat;}
	body.grunge #tabs ul {background:#fff;}
	#tabs li {position:relative; float:left; height:29px;}
	#tabs li a {position:relative; float:left; padding:8px 26px 0 26px; height:20px; font-size:.9em; border-bottom:1px solid #D9D9D9; border-right:1px solid #D9D9D9; text-transform:uppercase; color:#cc6600; font-weight:bold;}
		#tabs li a:hover {color:#017cc8; text-decoration:none;}
		
		#tabs li:last-child a,  #tabs li.last a {border:0; border-bottom:1px solid #D9D9D9;}
		#tabs li a.active, #tabs li a.active:hover {border-bottom:1px  solid #fff; text-decoration:none; color:#333;}
		.urban #tabs li a.active, .urban #tabs li a.active:hover {color:#017cc8;}
 	
	#scoot-box {position:relative; z-index:0; top:28px; padding:15px; margin-bottom:20px; min-height:300px; background:url(http://css.yamaha-motor-europe.com/mbk/scoot-box-top.gif) top left no-repeat;}
	#scoot-box  #vr360{text-align:center;}

	 body.grunge #scoot-box {background:url(http://css.yamaha-motor-europe.com/mbk/scoot-box-top-grunge.gif) bottom left no-repeat; 	top:29px; margin-bottom:40px;}

	 	.color-options {position:relative;} 		
		.color-options li {float:left; height:160px; padding:0 20px 9px; position:relative; text-align:center; width:130px;}  		
		.color-options li img {position:relative; display:block; margin-bottom:10px;}  		
		.color-options li a {position:relative; color:#333; font-weight:bold;}

	 	#scoot-left, #scoot-left1 {position:relative; float:left; width:327px; padding-right:0;} 	
		#scoot-right {position:relative; float:left; width:327px;} 	
		#scoot-box h2 { position:relative; font-weight:bold; padding-bottom:4px; padding-top:10px; } 	
		#scoot-box p {position:relative; line-height:1.9em;} 	
		#scoot-left p.sbl strong, #scoot-left1 p.sbl strong {position:relative; font-weight:bold; float:left; width:38%; background:url(http://css.yamaha-motor-europe.com/mbk/spec-break.gif) right 0.7em no-repeat;} 	
		#scoot-left p.sbl span.techspec, #scoot-left1 p.sbl span.techspec {position:relative; float:left; padding-left:7%; padding-right:5%; width:40%;} 	
		#scoot-right p.sbl strong {position:relative; float:left; width:50%; font-weight:bold; background:url(http://css.yamaha-motor-europe.com/mbk/spec-break.gif) right center no-repeat;}
		#scoot-right p.sbl span.techspec {position:relative; float:left; padding-left:9%; width:34%;}

		#scoot-left.scoot-left, #scoot-left1.scoot-left, #scoot-right.scoot-right {width:340px;} 
		#scoot-right.scoot-right {clear:both; margin-top:20px; margin-bottom:10px}	

		#scootoverview-left {position:relative; float:left; width:200px; padding-right:30px;} 
		#scootoverview-middle {position:relative; float:left; width:269px; padding-right:30px;} 	
		#scootoverview-right {position:relative; float:right; width:125px;} 	
			#scootoverview-left h2, #scootoverview-middle h2, #scootoverview-right h2 {padding-bottom:10px; text-transform:uppercase;}
			.grunge #scootoverview-left h2, .grunge #scootoverview-middle h2, .grunge #scootoverview-right h2 {color:#0f63a1;} 
			#scootoverview-left p, #scootoverview-middle p, #scootoverview-right p { line-height:1.4em; padding-bottom:10px;} 
			#scootoverview-left ul li {background:url(http://css.yamaha-motor-europe.com/mbk/list-icon.gif) no-repeat left center; clear:both; float:left; line-height:1.9em; margin-left:5px; padding-left:15px; width:100%;}
			.urban #scootoverview-left ul li {background:url(http://css.yamaha-motor-europe.com/mbk/list-icon-urban.gif) no-repeat left center;}
			span.prijs {font-size:1.3em; display:block; margin-bottom:20px} 
			.urban span.prijs {color:#0f63a1; display:block; margin-bottom:20px;}
			
			.innerlinks {}			 
			.innerlinks li a {border-top:1px solid #cbcbcb; color:#0f63a1; display:block; font-size:0.9em; padding:5px 5px 5px 18px; text-decoration:none; width:80%;}
			.innerlinks li.download a {background:url(http://css.yamaha-motor-europe.com/mbk/downloads-ico.gif) no-repeat left center; border-top:none;}
			.innerlinks li.compare1 a {background:url(http://css.yamaha-motor-europe.com/mbk/compare-ico.gif) no-repeat left center;}
			.innerlinks li.find a {background:url(http://css.yamaha-motor-europe.com/mbk/find-ico.gif) no-repeat left center;}
			.innerlinks li.microsite a {background:url(http://css.yamaha-motor-europe.com/mbk/microsite-ico.gif) no-repeat left center;}	
		
		
	 	.scooter-list { margin-left:10px;position:relative;} 		
		.scooter-list li {position:relative; float:left; width:130px; height:160px; padding:0 1px 9px 1px; text-align:center;}  		
		.scooter-list li a {position:relative; display:block; padding:10px 16px 0 16px; width:100px; height:150px; color:#0C87D7; font-weight:bold; text-align:center;}  		
		.scooter-list li a img {position:relative; display:block; border:2px solid #D9D9D9; margin-bottom:5px;}  				 		
		.scooter-list li a:hover {color:#fff; text-decoration:none; background:url(http://css.yamaha-motor-europe.com/mbk/grunge-hov.gif) top center no-repeat;}				
		.urban .scooter-list li a:hover {background:url(http://css.yamaha-motor-europe.com/mbk/scooter-hov.gif) top center no-repeat; color:#333;}
		
		.scooteraccess-list {position:relative; float:right; margin-bottom:50px; width:544px;} 		
		.scooteraccess-list li {position:relative; float:left; margin-right:50px; padding:0 0 9px 8px;}  		
		.scooteraccess-list li a.accessoire {color:#666; position:relative; display:block; float:left; padding-right:10px; text-decoration:none;}
		.scooteraccess-list li a.addlink {position:relative; display:block; margin:10px 0 5px 0;}  		
		.scooteraccess-list li a img {position:relative; display:block;}  		
		 
		#scoot-box img.left {float:left;}		
		.acc-title { display:block; margin:0 0 5px 0; padding:0}
		
		#acc_product_accessories { clear:both; margin-left:10px; width:650px;}
		#acc_product_accessories .product {position:relative; float:left; margin:0 5px 20px 0; padding:30px 0 9px 0; width:200px;}
		#acc_product_accessories .product img {margin-right:10px;}
		#acc_product_accessories a.label {color: #017cc8; display:block; margin:-14px 0 5px 0; padding:0; }
		#acc_product_accessories a.addWishList {color: #017cc8; display:block; font-size:0.9em; margin:0; }
		#acc_product_accessories a.addWishList img { margin:0; }
		#acc_product_accessories .wishlist { cursor:pointer; position:relative;}
		.acc_product_links { clear:both; margin-left:10px;}
		.acc_product_links a {color: #333; display:block; font-size:1em;}


		
		.resultnav{clear:both; margin:0 0 0 125px; width:150px;}		
		.resultnav .prev{border:none; display:block; float:left; height:18px; padding:0; width:18px;}
		.resultnav a.prev { background:url(http://css.yamaha-motor-europe.com/mbk/previous.gif);}
		.resultnav a {border-right:1px solid #7f7f7f; color: #017cc8; padding:0 5px;}
		.resultnav a.active{color:#7f7f7f}
		.resultnav a.last { border:none;}
		.resultnav .next{border:none; display:block; float:right; height:18px; padding:0; width:18px;}
		.resultnav a.next {background:url(http://css.yamaha-motor-europe.com/mbk/next.gif);}		

 		#scoot-box-bottom {position:relative; height:8px; margin-top:25px; overflow:hidden; width:100%;}

 		body.urban #scoot-box-bottom {background:url(http://css.yamaha-motor-europe.com/mbk/scoot-box-bottom.gif) top left no-repeat;}

		body.grunge #scoot-box-bottom {display:none;}
	

	#tabbed {position:relative; padding:12px 0 0 15px; background:url(http://css.yamaha-motor-europe.com/mbk/dtabbed-bg.gif) bottom left no-repeat; border:solid 1px #ccc;  margin-bottom:30px; top:28px;}

 		#tabbed li {position:relative; float:left; margin:0 14px 14px 0; text-align:left;}

	 	#tabbed li strong {position:relative; display:block; padding-bottom:6px;}

	 	#tabbed li span {position:relative; display:block;}

	 	#tabbed li a {text-decoration:underline;}
	

	#plain-latest {position:relative; padding:10px 30px 20px 30px; text-align:left;}

 	#plain-latest h2 {position:relative; font-size:1.2em; font-weight:bold; color:#0986C9; padding-bottom:15px; text-transform:uppercase;}

 	#plain-latest ul {position:relative; float:left; width:387px;}

	 	#plain-latest li {position:relative; padding-bottom:20px;} 	
		#plain-latest li img {position:relative; float:left; margin-right:11px; width:auto;} 	
		#plain-latest li h3 {position:relative; font-size:1.2em; font-weight:bold; color:#0986C9; padding:5px 0 5px 0;} 	
		#plain-latest a {color:#0986C9; text-decoration:none;} 	
		#plain-latest p {position:relative; line-height:1.5em;}

	#news-list {position:relative;}

	 #news-list li {position:relative; padding:10px; background:#F2F2F2; font-size:1.1em; border-bottom:1px solid #CECECE;}
	
		 #news-list li img {position:relative; float:left; margin-right:11px;}
	
		 #news-list li.alt {background:#fff;}
	
		 #content .h-spaced {position:relative; padding-top:1.5em; font-size:1.4em; text-transform:none;}

 

	.compare-table {position:relative; float:left; width:200px;}

	#content .compare-table h2 {position:relative; font-weight:bold; font-size:1.3em; width:200px;}

	.compare-table td {position:relative; height:20px; vertical-align:middle;}

	.col1 {position:relative; width:135px;}

	.col2 {position:relative; width:135px;}

	.compare {position:relative; border:0; color:#3295d3; clear:both; cursor:pointer; float:left; font-size:1em; font-weight:bold; height:41px; width:106px; background:url(http://css.yamaha-motor-europe.com/mbk/compare.gif) top left no-repeat; margin:10px 0 0 0;}

	#comparison {position:relative; padding-bottom:15px;}

 	#content #comparison h2 {position:relative; text-transform:none; font-size:12px; padding:11px 0 0 0;}

 		.title-col {position:relative; width:148px; padding-right:5px; font-size:11px; font-weight:bold;}

	 	.info-col {position:relative; width:190px; font-size:10px;}

		#comparison td {position:relative; padding:0 0 0 0; line-height:2.5em;}

		#comparison th img {position:relative; display:block; border:2px solid #D1D1D1;}

	 	#comparison td span {position:relative; display:block; padding-right:12px; margin-right:10px; border-bottom:1px solid #E5E5E5;}

	 	.othercomp {position:relative; float:right; color:#3295d3; cursor:pointer; font-weight:bold; font-size:1em; height:40px; width:206px; background:url(http://css.yamaha-motor-europe.com/mbk/compare-other.gif) top right; border:0;}

	

	p#dealer-search {position:relative; padding-bottom:15px;}

 		#dealer-search label {position:relative; float:left; font-weight:bold; padding:1px 4px 0 15px; color:#0078C7;}

	 	#dealer-search .sel {position:relative; float:left; width:142px; padding:1px; font-size:11px; border:1px solid #D0CBC8; color:#666;}

	 	#dealer-search .txt {position:relative; float:left; width:142px; padding:2px; font-size:11px; border:1px solid #D0CBC8; color:#666;}

	 	.fd {position:relative; background:#007FCC; color:#fff; border:1px solid #C8CDC6; font-size:11px; border-top:0; border-left:0; padding:0 5px 0 5px;}
		
		#MMcontent #loading, #MMcontent #errors, #MMcontent #multiple { display: none;}
		#MMcontent #address_search {width: 100%;margin: 10px 0;}
		#address_search LI {float: left;   margin: 0 10px 0 0;}
		#MMcontent button, .MMbutton {background:#007FCC; color:#fff; border:1px solid #C8CDC6; font-size:11px; border-top:0; border-left:0; padding:0 5px 0 5px;}
		#MMcontent #route_start button {  float: right;}
		#MMaddressRow {	clear: left;  height: 30px;  margin:-5px 0 0 0; padding-left:10px;}
		#MMaddressRow input { width:142px; padding:1px; font-size:11px; border:1px solid #D0CBC8; color:#666;}
		#MMaddressRow select {position:relative; width:142px; padding:1px; font-size:11px; border:1px solid #D0CBC8; color:#666;}
		#res_head { clear:both;}
		#mapviewer {  position: relative; 	margin: 0; 	border: 1px solid #ccc;}
		#address_search label {  font-weight: bold;}
		#address_search label, .f_red, .tdlist a, #MMprint {font-weight:bold; padding:1px 4px 0 5px; color:#0078C7;}
				
		#MMmaparea {width: 100%;  margin-bottom: 10px;}
		
		.mapviewer_search, .mapviewer_td { width: 718px; height: 330px;}
		.mapviewer_res {width: 400px; height:330px; float: right}
			

	#map {position:relative;}

 		#map img {position:relative; display:block; border:3px solid #EEEEEE;}	


	.story { margin:20px 0; float:right; width:535px}
	.story h1 {padding-top:0 !important;}
	.storyHead {position:relative; font-size:1.9em; color:#0078C7; padding-bottom:8px; padding-top:14px;}
	.strColumn {clear:both; float:left; margin-top:-10px; width:100%;}
	.clColumn { float:left; width:250px;}
	.story .headerTxt { clear:both; color: #0078c7; float:left; font-size:1.1em; font-weight:bold; margin:15px 0 10px 0; width:100%;}
	.story .grey .headerTxt {clear:none; display:inline; float:left; margin-top:5px; width:300px;}
	.story input, .story select, .story textarea {clear:both; display: block;font-family:Arial, Helvetica, sans-serif;font-size:1em; float:left; margin-top:5px;width: 210px;}
	.story textarea { float:none; width:90%;}
	.story .grey input {display: inline; clear:none; margin-right:5px; width:auto;}
	.storyMain { float:left; overflow:hidden; padding-bottom:20px; width:100%;}
	.storyMain input, .storyMain button {margin-bottom:5px;}
	.errorText {clear:both; color:#ff6666;}
	.story button {position:relative; border:0; color:#3295d3; cursor:pointer; float:left; font-size:1em; font-weight:bold; height:38px; width:106px; background:url(http://css.yamaha-motor-europe.com/mbk/compare.gif) top left no-repeat; margin:10px 0 0 0; padding:0 0 3px 0;}

	div#MainStory   				{width:535px; float:right; margin-top:20px}
	div#MainStory  h1 				{padding-top:0}
	
	div.leftside-nav				{float:left; width:160px; margin:0; padding:0; margin-top:20px; background:transparent url(http://css.yamaha-motor-europe.com/mbk/bg_left-nav-side.gif) repeat-y top left}
	ul.leftside-nav					{width:160px; margin:0; padding:0; background:transparent url(http://css.yamaha-motor-europe.com/mbk/bg_left-nav-side-top.gif) no-repeat top left}
	ul.leftside-nav li				{margin:0; padding:8px 0 8px 15px; list-style:none; background:transparent url(http://css.yamaha-motor-europe.com/mbk/bg_left-nav-li.gif) no-repeat bottom left}
	ul.leftside-nav li.leftside-nav-bottom			{float:left; width:160px; width:160px; height:30px; background:transparent url(http://css.yamaha-motor-europe.com/mbk/bg_left-nav-side-bottom.gif) no-repeat bottom left}
	li.leftside-nav-item			{margin:5px 15px 5px 15px; padding-bottom:5px}
	ul.leftside-nav li.leftside-nav-title			{font-weight:bold; color:#0078C7; padding-top:15px; padding-bottom:10px}
	li.leftside-nav-item a			{display:block}
	
	.MainStoryHeader 			{background:transparent url('http://css.yamaha-motor-europe.com/mbk/bullet-open.gif') no-repeat 3px 50%; padding:1px 0px 2px 15px;border-bottom:1px dotted #d9d9d9; margin-bottom:5px; width:97%;}
	.MainStory 					{ float:left; width:260px;}
	.MainStoryBody				{z-index:100}
	.storyImages 				{ float:right; margin:20px 0 20px 20px; z-index:10000}
	.storyImages a,.storyImages span 				{ display:block; position:relative; z-index:100;}
	#img_container 				{border:4px solid #d9d9d9;}
	.storyImages img.gallery 	{border: 3px solid #d9d9d9;}
	.storyImages img.selected 	{border: 3px solid #0078c7;}
	.imageSmall img 			{float:left;  border:3px solid #d9d9d9; margin:5px 5px 0 0; padding:0;}
	.MainStoryFooter 			{width:535px; float:right; border-bottom:1px solid #d9d9d9; margin:10px 0 20px 0; padding-bottom:10px;}
	.MainStoryFooter a 			{ border-right:1px solid #0078c7; padding:0 5px;}
	.MainStoryFooter a.last 	{ border:none;}
	.MainStoryHeader span.date, .SecundairyStoryHeader span.date, .TertiaryStoryHeader span.date {display:inline; font-weight:bold;}
	.SecundairyStory 			{width:535px; float:right; margin-top:15px;}
	.SecundairyStoryHeader		{background:transparent url('http://css.yamaha-motor-europe.com/mbk/bullet.gif') no-repeat 3px 50%; padding:1px 0px 2px 15px; border-bottom:1px dotted #d9d9d9; width:97%;}
	h3.SecundairyStoryHead 		{color: #0078c7; font-size:1.1em; font-weight:bold; padding:5px 0;}
	.TertiaryStory 				{width:535px; float:right; margin-top:7px;}
	.TertiaryStoryHeader 		{background:transparent url('http://css.yamaha-motor-europe.com/mbk/bullet.gif') no-repeat 3px 50%; padding:1px 0px 4px 15px; border-bottom:1px dotted #d9d9d9; width:97%;}
	.TertiaryStoryHeader span.date {color: #0078c7;}
	h3.TertiaryStoryHead 		{color: #0078c7; font-size:1.1em; font-weight:bold; padding:5px 0;}
	#content .storyBody 		{ padding-bottom:0;}
	
	#three-promo {position:relative; clear:both; padding:20px 0 15px 0; text-align:center; }

 		#three-promo-left {position:relative; float:left;}

		#three-promo-right {position:relative; float:right;}
		

	#quick-links {position:relative; padding:10px 0 25px 0;} 
	
		#quick-links h4 {position:relative; font-size:1.7em; font-weight:normal; padding-bottom:7px; margin-bottom:7px;}
		
		body.grunge #quick-links h4 {background:url(http://css.yamaha-motor-europe.com/mbk/h4-streak.gif) bottom left no-repeat;}
		
		#quick-links ul {position:relative; float:left; padding-left:10px;}
		
		#quick-links li {position:relative; padding:1px 0 1px 2%; line-height:1.5em; list-style:inside disc;}
		
		#quick-links li a {text-decoration:underline;}
		
		#ql1 {width:250px;}
		
		#ql2 {width:215px;}
		
		#ql3 {width:215px;}


	#content {position:relative; margin:auto; width:714px; text-align:left;}	

		#content-left {position:relative; float:left; width:347px;}	
		#content-right {position:relative; float:left; width:347px; padding-left:20px;}
		#content h1 {position:relative; font-size:1.9em; color:#0078C7; padding-bottom:8px; padding-top:14px;}	
		#content h2 {position:relative; font-size:1.1em; font-weight:bold; color:#0078C7; padding-bottom:8px; text-transform:uppercase;}
	 	#content p {position:relative; line-height:1.5em; padding-bottom:1.2em;}
		#content strong {font-weight:bold;}
		#content a {color:#0078C7;}
	 

	 #latest-news {position:relative; float:left; width:327px;}

	 	#latest-news img {position:relative; float:left; margin-right:10px;}
		span.date {position:relative; display:block; color:#000;}
		#latest-news h3 {position:relative; font-size:1.1em; font-weight:bold; color:#0078C7; padding-bottom:8px;}  

	#select-model {position:relative; float:right; width:347px;}

	#model-select-dd {position:relative; margin-bottom:20px; padding:10px 0 0 25px; height:30px; 	background:url(http://css.yamaha-motor-europe.com/mbk/select-bg.gif) top left;}

	#model-select-dd .select {position:relative; width:297px; font-size:11px; padding:2px 2px 2px 10px; color:#000; border:1px solid #7F9DB9;}

	ul.sitemap {float:left; line-height:1.5em; margin-bottom:20px; width:297px;}
	ul.sitemap ul, ul.sitemap ul ul {margin-left:20px;}
	ul.sitemap li a { background:url(http://css.yamaha-motor-europe.com/mbk/list-sitemap.gif) center left no-repeat; clear:both; display:block; float:left; font-weight:bold; padding-left:10px;}
	ul.sitemap li li a { font-weight:normal;}
	ul.sitemap li li li a { font-size:0.9em; font-weight:normal;}


	#foot { clear:both; height:43px; width:714px; margin:auto; font-size:11px; color:#A7A7A7; background:url(http://css.yamaha-motor-europe.com/mbk/foot-bg.gif) top left no-repeat;}
	#foot p {float:left; padding:9px 0 0 20px; color:#A7A7A7;}
		#foot a {color:#999; margin:0 3px 0 3px;}
		#foot a#foot-print {float:right; margin-top:9px; padding-left:19px; margin-right:11px; background:url(http://css.yamaha-motor-europe.com/mbk/print.gif) 0 50% no-repeat;}
		#foot a#foot-print:hover {background-image:url(http://css.yamaha-motor-europe.com/mbk/print-hover.gif);} 
		#foot a#foot-send {float:right; margin-top:9px; padding-left:19px; margin-right:11px; background:url(http://css.yamaha-motor-europe.com/mbk/email.gif) 0 50% no-repeat;}
		#foot a#foot-send:hover {background-image:url(http://css.yamaha-motor-europe.com/mbk/email-hover.gif);} 
		#foot a#foot-feed {float:right; margin-top:9px; padding-left:19px; margin-right:11px; background:url(http://css.yamaha-motor-europe.com/mbk/feed.gif) 0 50% no-repeat;}
		#foot a#foot-feed:hover {background-image:url(http://css.yamaha-motor-europe.com/mbk/feed-hover.gif);} 
		#foot a:hover {color:#017CC8; text-decoration:none;}

		#bgoverlay{background-image: url(http://css.yamaha-motor-europe.com/mbk/skyline_bg.png); background-attachment:scroll; background-color:transparent; background-position:50% 0; background-repeat:no-repeat; position: absolute; height: 450px; width: 100%; left: 0pt; top: 227pt; 
		behavior:url(iepngfix.htc)}


	/*	Send-To-A-Friend
	---------------------------------------------------------------------*/
	div.red{background-color:#0078C7;}
	.red{color:#0078C7;}
	.blue{color:#0078C7;}
	
	a.but_blue:link, a.but_blue:visited, a.but_blue:active {background-color:#0078C7;}
	a.but_blue:link:hover, a.but_blue:visited:hover{background-color:#336699;}
	a.but_grey:link, a.but_grey:visited, a.but_grey:active{background-color:#0078C7; color:#000000;}
	a.but_grey:link:hover, a.but_grey:visited:hover{background-color:#336699;}

/* Google Lightbox Links next/previous */
#bottomNextPrev a:link, #bottomNextPrev a:visited, #bottomNextPrev a:active {color:#000000;}
#bottomNextPrev {margin-top:-3px;margin-bottom:3px;}

.list1 {padding-bottom:10px;}