/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/

BODY {
	background-color: #2b6106;
	background-image:url(bio-back_02.gif);
	background-repeat:repeat-x;
	padding:0;
	margin:0; }

#main {
	background-image:url(bio-back_04.gif);
	background-repeat:repeat-y;
	background-position:center;
	margin:0 auto;
	position:relative;
	text-align:center; }

#principal {
	width:767px;
	margin:0 auto;
	position:relative;
	text-align:left; }

/* -----------------------------------*/
/* ---------->>> Header <<<-----------*/
/* -----------------------------------*/
.txttop {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #548b34;
	font-size: 10px;
	padding-left: 190px; }
	
/* -----------------------------------*/
/* -------->>> Texte <<<---------*/
/* -----------------------------------*/

.text13vertfonce{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #1a3805; }

.text11orange{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #d57500; }
	
.text16vert {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #548b34; }

.text13vert{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #548b34;
	font-style:italic;
	font-weight:bold; }

.text12vert-2{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #548b34;
	font-style:italic;
	font-weight:bold; }

a.text12vert{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #548b34;
	font-style:italic;
	font-weight:bold;
	text-decoration:underline; }
	
a.text12vert:hover{
	text-decoration:none; }

a.text11orange{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #d57500;
	font-style:italic;
	text-decoration:underline; }

a.lk13vert {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #548b34;
	font-weight:bold;
	text-decoration:underline; }

a.lk13vert:hover {
	 text-decoration:none; }
	
a.text11orange:hover{
	text-decoration:none; }

a.liens {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #548b34; 
	text-decoration: underline; }

a.liens:hover {
	text-decoration: none; }
	
.justify {
	text-align:justify;}

.hrequipe {
	color: #2b6106;}

.text11vert { 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #548b34; }
	
.titre {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#62ab3c;
	font-size:25px;
	padding-left:19px;
	display:block;}

.titre2 {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#62ab3c;
	font-size:18px;
	padding-left:19px;
	display:block;}

/* -----------------------------------*/
/* ---------->>> Contenu <<<----------*/
/* -----------------------------------*/
#contenu {
	float:right;
	width: 605px; }
	
#sectiontexte {
	float:left;
	width: 427px; }

.contenutexte {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #548b34;	
	margin: 10px 19px 5px 19px; }

#rightside {
	float:right;
	width: 178px; }

.langue{
	margin-left: 39px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#598e36; }

#cartesite {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height:20px; }
	
a.languelk { 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#598e36;
	text-decoration:underline;}

a.languelk:hover {
	text-decoration:none;}
	
.rightteaser{
	margin-left: 31px;
	margin-top: 15px;}
	
.leftteaser{
	margin-left: 25px;
	margin-top: 15px; }

.marginimageleft {
	margin-left: 12px;
	margin-bottom: 5px;}

.marginimageright {
	margin-right: 12px;
	margin-bottom: 5px;}

.tarifgroupe {
	background-color: #f7e0a6;
	border:#e9a500 1px solid;
	float: left;
	padding: 3px;
	width: 190px; }
	
.tarifprix {
	float: left;
	width: 60px;
	text-align:center;
	padding: 3px;
	border:#e9a500 1px solid; }
	
.coordpers {
	background-color: #f7e0a6;
	border:#e9a500 1px solid;
	float: left;
	padding: 3px;
	height: 35px;
	width: 160px; }
	
.coordemail {
	float: left;
	width: 200px;
	text-align:left;
	padding: 3px;
	height: 35px;
	border:#e9a500 1px solid; }

.forfaitsection {
	border:#e9a500 1px solid;
	background-color: #f7e0a6;
	text-align: center;
	line-height:20px;
	padding: 5px; }

.forfaittitre {
	border:#e9a500 1px solid;
	background-color: #f7e0a6;
	float: left;
	padding: 3px;
	width: 250px; }
	
.forfaittxtlong { 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #548b34;
	padding: 5px;
	border:#e9a500 1px solid; }
	
.forfaittxtprix { 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #548b34;
	text-align:center;
	background-color: #f7e0a6;
	font-weight:bold;
	border:#e9a500 1px solid; }

.parctxtlong { 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #548b34;
	padding: 5px;
	border:#e9a500 1px solid; }
	
.parctxtprix { 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #548b34;
	text-align:left;
	padding-left:5px;
	background-color: #f7e0a6;
	border:#e9a500 1px solid; }

.imageequipe {
	float: left;
	width: 185px; }
	
.textequipe {
	float: right;
	width: 185px;
	text-align:left; }
	
.liste {
	list-style-image:url(bio-bullet_56.gif); }
/* -----------------------------------*/
/* -------->>> Navigation <<<---------*/
/* -----------------------------------*/
#menu {
	float:left;
	width: 162px; }
	
#menuimg { 
	float:left;
	width: 43px; }

#menulist { 
	float:left;
	width:106px; }

#nav, #nav ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none; }

#nav a {
	display: block; }

#nav li { /* all list items */
	position:relative;
	float: left;
	width: 106px; /* width needed or else Opera goes nuts */ }

#nav li a {
	float: left;
	background: #ffffff;
	color: #2b6106;
	text-decoration: none;
	border-bottom: 1px solid #c7d2c0;
	height: 24px;
	width: 106px; }
	
#nav li a:hover {
	background: #f8e2a6;
	color: #d57500;
	border-bottom: 1px solid #c7d2c0; }

#nav li ul { /* second-level lists */
	position: absolute;
	width: 170px;
	height:auto;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */ 
	border: 1px solid #204c04;}

#nav li ul li a {
	display: block;
	float: none;
	width: 170px;
	height:auto;
	color:#ffffff;
	background-color:#678f00; }
	
#nav li ul li a:hover {
	color: #ffffff;
	background-color:#8dab40;
	text-decoration: none; }

#nav li:hover ul, #nav li.sfhover ul { /* lists nested under hovered list items */
	left: 106px;
	top: -1px; }

#nav li a span {
	padding: 3px 10px;
	display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	cursor: pointer; }
 
#nav li a:hover span {
	cursor: pointer;
	padding: 4px 9px 2px 11px; }

a.lien-en {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #2b6106;
	text-decoration:none; }

a.lien-en:hover {
	color: #d57500;
	text-decoration:underline; }

#nav-album {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align:center; }

#nav-album li {
	float: left;
	border:#c7d2c0 1px solid;
	background-color: #ffffff; 
	padding: 3px;
	margin: 4px; }
	
#nav-album li:hover {
	background-color: #f8e2a6; }
	
a.lienalbum {
	display:block;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #2b6106;
	text-decoration:none; }

a.lienalbum:hover {
	color: #d57500;
	text-decoration:underline; }

.imgalbum {
	border:#d57500 1px solid; }

#nav-en {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align:center; }

#nav-en li {
	float: left;
	border:#c7d2c0 1px solid;
	background-color: #ffffff; 
	padding: 3px;
	margin: 4px; }
	
#nav-en li:hover {
	background-color: #f8e2a6; }

a.topofpage {
	display:block;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #548b34;
	text-align:center; }
	
a.topofpage:hover {
	color: #d57500; }

/* -----------------------------------*/
/* ---------->>> Footer <<<-----------*/
/* -----------------------------------*/
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #548b34;
	text-align:center;
	line-height:16px}

a.lienfooter {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #548b34;
	font-weight:bold;
	text-decoration:underline;}
	
a.lienfooter:hover {
	text-decoration:none;}
	
.adn {
	font-size: 10px;
	color: #548b34;
	padding: 5px 0px 0px 163px;
	font-family: Verdana, Arial, Helvetica, sans-serif; }
	
a.adnlk {
	font-size: 10px;
	color: #548b34;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline; }
	
a.adnlk:hover {
	font-size: 10px;
	color: #548b34;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none; }

.hautdepage {
	padding-left:31px;}
/* -----------------------------------*/
/* -------->>> Nouvelles <<<----------*/
/* -----------------------------------*/

#nouvellesbas {
	background-image:url(bio-nouvelles_28.gif);
	background-repeat:no-repeat;
	text-align:right; }

.newsul {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #004780;
	list-style-image:url(bio-nouvelles_25.gif);
	margin: 0;
	padding: 0; }

.news {
	padding: 10px 25px 10px 20px;
	text-align: left;
	background-image:url(bio-nouvelles_23.gif);
	background-repeat:repeat-y; }

a.liennews {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #214906;
	text-decoration:none; }

a.liennews:hover {
	text-decoration:underline; }

a.nouvellesbaslk {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #ffffff;
	text-decoration:none; }

a.nouvellesbaslk:hover {
	text-decoration:underline; }
	
/* -----------------------------------*/
/* ----------->>> Form <<<------------*/
/* -----------------------------------*/
.sectionform{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1a3805; }
	
.fieldform{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1a3805;
	border: 1px solid #336600;
	background-color:#f7e0a6; }

.btform{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1a3805; }