/* Selecteur */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%; /* 12px */
   color: #000;
	margin: 0;
	padding: 0;
	text-align: center;
   background-color: #fff;
}
* {
	font-family: Arial, Helvetica, sans-serif;
   margin: 0;
	padding: 0;
}
*:focus{
	outline: none;
}
p{
	margin-bottom: 10px;
}
input, select{
	font-size: 1em;
	color: #000;
}
img, table{
   border: 0;
}
li {
	list-style: none;
}
a{
	color: #00357e;
	text-decoration: underline;
}
a:hover{
	text-decoration: none;
}
input, label{
	vertical-align: middle;
}
input[type=radio], input[type=checkbox]{
   margin-right: 2px;
}
fieldset{
   margin: 0;
   padding: 0;
   border: 0;
}
address{
   font-style: normal;
}
sup{
   font-size: 0.8em;
}
object{
   position: relative;
}
.clear{
   clear: both;
	width: 100%;
}
html > body .conteneur-float{
	overflow: hidden;
}
* html .conteneur-float{
	height: 1%;
}
.acces-direct, .cache{
	position: absolute;
	top: -5000px;
}
.popin{
	position: absolute;
	top: 0;
	left: 0;
	background: Red;
	height: 900px;
	width: 100%;
	z-index: 8000;
}
#videoPopin{
	width: 480px;
	height: 387px;
	margin: 0 auto;
	padding: 3px;
	background-color: #fff;
}
/* FIN Selecteur */

/* Structure */
.page{
	width: 950px;
	margin: 0 auto;
	text-align: left;
}
.accueil{
	background: url("fd-accueil.gif") repeat-x left bottom #fff;
	padding: 10px 33px 8px 33px;
	min-height: 405px;
}
* html .accueil{
	height: 405px;
}
.conteneur-ext-2-3-cols{
	background: url("fd-conteneur-3-cols.jpg") 0 0 repeat-y #fff;
	position: relative;
}
html > body .conteneur-ext-2-3-cols{
	overflow: hidden;
}
* html .conteneur-ext-2-3-cols{
	height: 1%;
}
/* FIN Structure */

/* Header */
.header{
	background: url("fd-header.jpg") right top no-repeat transparent;
	position: relative;
}
.header h1{
	margin: 20px 0 0 25px;
	float: left;
	padding-bottom: 10px;
	display: inline;
}
.header-liens{
	width: 700px;
	float: right;	
	margin-top: 3px;
	margin-right: 10px;
	color: #fff;
	display: inline;
}
.header-liens ul{
	text-align: right;
	margin-bottom: 3px;
}
.header-liens li{
	display: inline;
	margin-left: 5px;
}
.header-liens li a{
	color: #fff;
	margin-left: 5px;
}
.bt-1ere-visite{
	background: url("fd-bt-1ere-visite.gif") 0 0 no-repeat;
	position: absolute;
	right: 10px;
	top: 27px;
	font-size: 1.33em;
	width: 150px;
	height: 35px;
	font-weight: bold;
	text-align: center;
	padding-top: 2px;
	padding-left: 5px;
	text-decoration: none;
}
* html .bt-1ere-visite{
	height: 32px;
	padding-top: 5px;
}
*+html .bt-1ere-visite{
	height: 32px;
	padding-top: 5px;
}
.bt-1ere-visite sup{
	font-size: 0.6em;
	font-weight: normal;
}
.slideshow{
	height: 60px;
	width: 468px;
	overflow: hidden;
}

.espace-perso{
	background: url("fd-espace-perso.jpg") 0 0 no-repeat transparent;
	width: 357px;
	height: 37px;
	position: absolute;
	color: #00357e;
	font-size: 1.16em;
	padding: 45px 18px 15px 18px;
	top: 0;
	left: 204px;
}
.espace-perso h2{
	font-size: 1.14em;
}
.espace-perso a{
	text-decoration: none;
	color: #00357e;
}
.espace-perso a:hover{
	text-decoration: underline;
}

.connexion{
	background: url("fd-connexion.jpg") 0 0 no-repeat transparent;
	width: 212px;
	height: 77px;
	position: absolute;
	right: 0;
	top: 70px;
	padding: 5px 10px 5px 14px;
	font-size: 0.9em;
	z-index: 500;
}
.connexion a{
	background: url("fd-bt-quitter-espace.gif") no-repeat 0 0 transparent;
	padding: 3px 10px 5px 30px;
	width: 115px;
	font-size: 1.09em;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	display: block;
	margin-left: 57px;
	margin-bottom: 10px;
}
.connexion a:hover{
	text-decoration: underline;
}
.connexion a.modifier-passe{
	background: none;
	color: #003581;
	font-weight: bold;
	text-decoration: underline;
	padding: 0;
	margin-left: 0;
	width: auto;
}
.connexion a.modifier-passe:hover{
	text-decoration: none;
}
.connexion select{
    width: 180px;
    padding: 2px;
    color: #646464;
    line-height: 17px;
}
.connexion select option{
    color: black;
}
body .page .connexion select .gray{
    color: gray;
}
.connexion select optgroup{
	font-style: normal;
}
.bt-ok{
	background: url("fd-bt-ok.gif") no-repeat 0 0 transparent;
	width: 29px;
	height: 22px;
	color: #fff;
	text-align: center;
	font-size: 1.09em;
	font-weight: bold;
	border: 0;
	cursor: pointer;
	padding-bottom: 2px;
}
* html .bt-ok{
	padding-bottom: 0;
	vertical-align: top;
}
*+html .bt-ok{
	padding-bottom: 0;
	vertical-align: top;
}
.connexion.authentifiee{
	background-image: url("fd-connexion-authentifiee.jpg");
	height: 99px;
	top: 51px;
}
.nom-personne{
	padding-left: 29px;
	font-size: 1.09em;
	background: url("picto-perso.gif") 0 2px no-repeat transparent;
	height: 30px;
	overflow: hidden;
}

.barre-sup{
	background: url("fd-header-nav.gif") repeat-x 0 0 transparent;
	padding-left: 25px;
	position: relative;
}
.bt-accueil{
	background: url("fd-bt-accueil.gif") 0 0 no-repeat transparent;
	width: 125px;
	height: 21px;
	padding: 4px 10px;
	text-decoration: none;
	font-weight: bold;
	margin-top: 9px;
	display: block;
	float: left;
}
.bt-accueil:hover{
	text-decoration: underline;
}
.nav{
	width: 740px;
	height: 70px;
	float: right;
	overflow: hidden;
	margin-top: -10px;
}
* html .nav{
	margin-top: 0;
}
*+html .nav{
	margin-top: 0;
}
.nav li{
	float: left;
	background: url("nav-separ.gif") no-repeat 0 2px transparent;
	padding-left: 1px;
}
.nav li h2{
	font-size: 1em;
}
.nav li h2 a{
	padding: 13px 10px;
	float: left;
	text-decoration: none;
}
.nav li h2 a:hover, .nav li.rub-active h2 a, .nav li.hover h2 a{
	background: url("fd-nav-niveau1.gif") 0 1px repeat-x transparent;
	color: #fff;
}
.nav li#rub-candidat h2 a:hover, .nav li#rub-candidat.rub-active h2 a, .nav li#rub-candidat.hover h2 a{
	background-image: url("fd-nav-niveau1-candidat.gif");
}
.nav li#rub-employeur h2 a:hover, .nav li#rub-employeur.rub-active h2 a, .nav li#rub-employeur.hover h2 a{
	background-image: url("fd-nav-niveau1-employeur.gif");
}
.nav li ul{
	position: absolute;
	left: 211px;
	top: 41px;
	z-index: 500;
	background: url("fd-nav-niveau2.gif") 0 0 no-repeat transparent;
	color: #fff;
	padding: 5px 0;
	width: 739px;
	visibility: hidden;
}
* html .nav li ul{
	left: 186px;
}
.nav li#rub-candidat ul{
	background-image: url("fd-nav-niveau2-candidat.gif");
}
.nav li#rub-employeur ul{
	background-image: url("fd-nav-niveau2-employeur.gif");
}
.nav li.rub-active ul{
	visibility: visible;
}
.nav li ul li{
	background: none;
}
.nav li ul li a{
	padding: 0 10px;
	color: #fff;
}
.nav li ul li a.sous-rub-active{
	text-decoration: none;
	cursor: default;
}
/* FIN Header */

/* Footer */
.footer{
	background: url("fd-footer.gif") repeat-x 0 0 transparent;
	font-size: 0.9em;
	text-align: center;
	padding: 5px 0;
	color: #000;
}
.footer ul{
	margin-bottom: 5px;
}
.footer li{
	display: inline;
}
.footer a{
	color: #000;
	margin: 0 5px;
}
.footer a.deficient{
	background: url("fd-footer-deficient.gif") center no-repeat #000;
	padding: 1px 4px 1px 3px;
	color: #fff;
	text-decoration: none;
	margin: 0 3px;
}
.footer a.rss{
	background: url("picto-rss.gif") 0 3px no-repeat transparent;
	padding-left: 13px;
	margin-left: 3px;
}
/* FIN Footer */

/* Barre menu */
.barre-menu{
	width: 180px;
	float: left;
	font-size: 0.9em;
}
.barre-menu h2{
	font-size: 1em;
	color: #fff;
	background: url("fd-titre-menu.gif") 0 0 no-repeat transparent;
	height: 26px;
	padding: 13px 10px 5px 25px;
	margin-bottom: -2px;
	position: relative;
	z-index: 500;
}
* html .barre-menu h2{
	padding-bottom: 3px;
}
.menu{
	background: url("fd-menu.gif") right bottom no-repeat transparent;
	padding-bottom: 2px;
}
.menu a{
	color: #000;
	text-decoration: none;
}
.menu a:hover{
	text-decoration: underline;
}
.menu a.menu-actif{
	font-weight: bold;
}
.menu li ul li ul li a.menu-actif{
	cursor: default;
	text-decoration: none;
}
.menu-niveau1{
	background: url("fd-menu-item.gif") right top no-repeat transparent;
	padding: 5px 0 4px 25px;	
	/* border-top: solid 1px #eff5fa;
	border-bottom: solid 2px #c9d9ec; */
}
.menu-niveau2{
	background: url("fd-sous-menu.gif") 0 0 repeat-y transparent;
	padding-left: 10px;
	margin: 4px 0 -4px -25px;
	width: 170px;
}
.menu li{
	position: relative;
}
.menu li ul li ul li{
	position: static;
}
/* .menu li ul, .menu li.menu-actif ul li ul{
	display: none;
} */
.menu li.menu-actif ul, .menu li.menu-actif ul li.menu-actif ul{
	display: block;
}
.menu li li{
	/* border-top: solid 1px #aac6e5; */
	background: url("fd-sous-menu-droite.gif") right top no-repeat transparent;
	padding: 5px 15px 4px 15px;
}
.menu li ul li.menu-actif{
	background-image: url("fd-sous-menu-droite-ouvert.gif");
}
.menu li ul li.menu-actif ul{
	border-top: solid 1px #aac6e5;
}
.menu li li ul{
	background: url("fd-sous-menu-ouvert-droite.gif") right top repeat-y #fff;
	padding: 2px 0 2px 15px;
	margin: 4px -15px -4px -15px;
	/* position: relative; */
}
.menu li li li{
	border-top: 0;
	background: url("point-menu.gif") 0 6px no-repeat transparent;
	padding: 2px 7px;
}
.menu a.voir-menu, .menu li li a.voir-menu, .menu a.voir-menu.voir-menu-actif, .menu li li a.voir-menu.voir-menu-actif{
	position: absolute;
	background: url("fleche-menu.gif") 0 0 no-repeat transparent;
	width: 9px;
	height: 9px;
	padding: 0;
	margin-left: -17px;
	margin-top: 3px;
}
/* 
.menu a.voir-menu, .menu li li a.voir-menu, .menu a.voir-menu.voir-menu-actif, .menu li li a.voir-menu.voir-menu-actif{
	position: relative;
	background: url("/accueil/file/sitemodel/interpe/images/commun/fleche-menu.gif") 0 0 no-repeat transparent;
	width: 9px;
	height: 9px;
	padding: 0;
	margin-left: -25px;
	margin-top: 3px;
	z-index: 500;
} */
.menu li li a.voir-menu, .menu li li a.voir-menu.voir-menu-actif{
	margin-left: -12px;
}
.menu a.voir-menu.voir-menu-actif, .menu li li a.voir-menu.voir-menu-actif{
	background-image: url("fleche-menu-ouvert.gif");
}
.menu a.voir-menu:hover, .menu a.voir-menu.voir-menu-actif:hover{
	text-decoration: none;
}
/* FIN Barre menu */

/* Barre droite */
.barre-droite{
	width: 155px;
	float: right;
	padding: 15px 7px 5px 3px;
}
.liste-typos{
	margin-bottom: 15px;
	margin-left: 30px;
}
html > body .liste-typos{
	overflow: hidden;
}
* html .liste-typos{
	height: 1%;
}
.liste-typos li{
	float: left;
	margin-right: 2px;
}
.liste-typos li a{
	background: url("fd-typo.gif") 0 0 no-repeat transparent;
	text-decoration: none;
	display: block;
	float: left;
	width: 28px;
	text-align: center;
}
.liste-typos li a.moins{
	padding: 4px 0;
	height: 21px;
}
* html .liste-typos li a.moins{
	padding: 8px 0;
	height: 13px;
}
*+html .liste-typos li a.moins{
	padding: 8px 0;
	height: 13px;
}
.liste-typos li a.normal{
	padding: 5px;
	font-size: 1.33em;
	padding: 5px 0;
	height: 19px;
}
* html .liste-typos li a.normal{
	padding: 6px 0;
	height: 17px;
}
*+html .liste-typos li a.normal{
	padding: 6px 0;
	height: 17px;
}
.liste-typos li a.plus{
	font-size: 1.5em;
	font-weight: bold;
	padding: 3px 0;
	height: 23px;
}
* html .liste-typos li a.plus{
	padding: 4px 0;
	height: 21px;
}
*+html .liste-typos li a.plus{
	padding: 4px 0;
	height: 21px;
}
.liste-typos li a sup{
	font-size: 10px;
}
.liste-pictos{
	margin-bottom: 15px;
}
.liste-pictos li a{
	background: 0 0 no-repeat transparent;
	padding: 10px 0 2px 28px;
	font-weight: bold;
	font-size: 0.9em;
	margin-bottom: 5px;
	display: block;
}
* html .liste-pictos li a{
	height: 5px;
}
.liste-pictos li.imprimer a{
	background-image: url("picto-imprimer.gif");
}
.liste-pictos li.envoyer-ami a{
	background-image: url("picto-mail.gif");
}
.liste-pictos li.lexique a{
	background-image: url("picto-lexique.gif");
}
.liste-pictos li.chiffre a{
	background-image: url("picto-chiffre.gif");
}
/* FIN Barre droite */

/* Zone contenu */
.page-interne{
	padding: 8px 33px 23px 33px;
}
.conteneur-int{
	width: 740px;
	float: right;
	display: inline;
}
.zone-haut{
	background: url("fd-conteneur-int.gif") 0 0 no-repeat #fff;
	min-height: 59px;
}
* html .zone-haut{
	height: 59px;
}
.zone-haut.fiche-metier{
	min-height: 38px;
}
* html .zone-haut.fiche-metier{
	height: 38px;
}
.page-spectacle .zone-haut{
	background-image: url("fd-conteneur-int.gif.1");
	margin-bottom: 20px;
}
.contenu-large{
	background-color: #fff;
	padding-top: 17px;
	padding-bottom: 20px;
	min-height: 430px;
	margin-left: -3px;
	padding-right: 5px;
}
html > body .contenu-large{
	overflow: hidden;
}
* html .contenu-large{
	height: 430px;
	margin-left: 0;
}
.contenu{
	width: 555px;
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
	min-height: 430px;
}
* html .contenu{
	height: 430px;
}
.contenu.page-simple{
	padding-top: 2px;
}
.chemin-de-fer{
	padding-bottom: 3px;
}
.conteneur-int .chemin-de-fer{	
	padding-top: 7px;
	background-color: #fff;
}
.page-spectacle .chemin-de-fer{
	padding-top: 6px;
}
.chemin-de-fer li{
	display: inline;
	font-size: 0.83em;
	font-style: italic;
	color: #000;
}
.chemin-de-fer li a{
	color: #000;
}
.chemin-de-fer li strong{
	font-weight: normal;
	font-style: normal;
	cursor: default;
}
.lien-precedent{
	background: url("fd-precedent.gif") 0 0 repeat-x #fff;
	padding: 4px 0 9px 0;
	margin-bottom: 0;
}
.page-spectacle .lien-precedent{
	background: none;
	margin-bottom: 9px;
}
.lien-precedent-bas{
	background: url("fd-precedent-bas.gif") 0 0 repeat-x #fff;
	padding: 4px 0 14px 0;
	margin-bottom: 0;
	height: 32px;
}
.page-spectacle .lien-precedent-bas{
	background-image: url("fd-precedent-bas.gif.1");
}
.conteneur-int .lien-precedent{
	background: none;
	padding-bottom: 18px;
}
.lien-precedent a, .lien-precedent-bas a{
	background: url("picto-precedent.gif") 0 0 no-repeat transparent;
	padding: 2px 0 2px 21px;
	font-size: 0.83em;
	text-decoration: none;
}
.lien-precedent a:hover, .lien-precedent-bas a:hover, .haut-page a:hover{
	text-decoration: underline;
}
.haut-page{
	text-align: right;
	margin-bottom: 3px;
}
.conteneur-ext-2-3-cols .haut-page{
	position: absolute;
	bottom: 50px;
}
.conteneur-ext-2-3-cols .page-accordeon .haut-page{	
	right: 185px;
}
.conteneur-ext-2-3-cols .contenu-large .haut-page{
	right: 0;
}
.conteneur-ext-2-3-cols .contenu .haut-page{
	right: 185px;
}
.haut-page a{
	background: url("picto-haut.gif") right top no-repeat transparent;
	padding: 2px 21px 2px 0;
	font-size: 0.83em;
	text-decoration: none;
}
/* FIN Zone contenu */

/* Titres */
.bloc-titre{
	font-size: 1.16em;
	background: no-repeat 0 0 transparent;
	color: #fff;
	padding: 3px 10px;
	margin-bottom: 17px;
	margin-left: 4px;
}
.bloc-rubrique .bloc-titre, .bloc-espace-jeunes .bloc-titre{
	background-image: url("fd-rubrique-titre.gif");
	padding: 12px 0 0 18px;
	margin-bottom: 0;
	margin-left: 0;
	height: 20px;
	color: #00357e;
}
.bloc-rubrique3 .bloc-titre, .bloc-rubrique4 .bloc-titre, .bloc-rubrique5 .bloc-titre, .bloc-petit .bloc-titre, .bloc-demi-large .bloc-titre{
	color: #00357e;
	background: none;
	padding: 0 10px 3px 10px;
	margin-bottom: 0;
	margin-left: 0;
}
.bloc-rubrique2 .bloc-titre{
	background: none;
	margin-bottom: 15px;
}
.bloc-principal .bloc-titre{
	margin-bottom: 0;
}
.bloc-col2-principal .bloc-titre{
	margin-bottom: 7px;
}
.bloc-basique .bloc-titre{
	margin-left: 0;
	margin-bottom: 0;
	padding: 12px 0 0 18px;
	height: 21px;
}
.content-col2 .bloc-basique .bloc-titre{
	height: 20px;
}
.conteneur-bloc-large .bloc-basique .bloc-titre{
	background-image: url("fd-titre-large.gif");
}
.bloc-espace-perso .bloc-titre{
	margin-bottom: 12px;
}
.bloc-petit .bloc-titre, .bloc-demi-large .bloc-titre{
	margin-bottom: 15px;
}
.bloc-demi-large .bloc-titre{
	color: #fff;
}
/* FIN Titres */

/* Listes */
.basic-liste li{
	background: url("puce1.gif") 0 2px no-repeat transparent;
	padding-left: 9px;
	padding-bottom: 4px;
	line-height: 1em;
}
* html .basic-liste li{
	height: 5px;
}
.basic-liste li a{
	color: #666;
	text-decoration: none;
}
.basic-liste li a:hover{
	text-decoration: underline;
}
.bloc-principal.bloc-simple .basic-liste{
	position: absolute;
	bottom: 20px;
}
.bloc-principal.bloc-simple .basic-liste li{
	display: inline;
	margin-right: 10px;
	background-position: 0 3px;
}
.bloc-liste .basic-liste li{
	margin-bottom: 5px;
}
.bloc-liste.bloc-contact-employeur .basic-liste li{
	background-image: url("puce-employeur.gif");
	margin-left: -4px;
}
.artistes-techniciens .basic-liste li{
	background-image: url("puce-candidat.gif");
	margin-bottom: 10px;
	font-size: 0.9em;
}
.employeurs .basic-liste li{
	background-image: url("puce-employeur.gif");
	margin-bottom: 10px;
	font-size: 0.9em;
}
.artistes-techniciens .bloc-AT4 .basic-liste li, .employeurs .bloc-E4 .basic-liste li{
	margin-bottom: 5px;
}
.archives .basic-liste{
	margin-bottom: 17px;
}
.archives .basic-liste li{
	margin-bottom: 1px;
}
.basic-liste.avec-drapeaux li{
	margin-left: 25px;
}
.basic-liste.avec-drapeaux li img{
	position: absolute;
	margin-left: -33px;
}
* html .basic-liste.avec-drapeaux li img{
	margin-top: 2px;
}
*+html .basic-liste.avec-drapeaux li img{
	margin-top: 2px;
}
.basic-liste.avec-pictos li{
	margin-left: 15px;
}
.basic-liste.avec-pictos li img{
	position: absolute;
	margin-left: -23px;
	margin-top: 1px;
}
* html .basic-liste.avec-pictos li img{
	margin-top: 4px;
}
*+html .basic-liste.avec-pictos li img{
	margin-top: 4px;
}
.bloc-liste-liens .basic-liste.avec-pictos{
	width: 330px;
}
.bloc-liste-liens .basic-liste li{
	margin-bottom: 2px;
}
.liste-gauche{
	float: left;
	border-right: solid 1px #aac6e5;
	padding-right: 29px;
}
.liste-droite{
	float: right;
}
.article .basic-liste{
	font-size: 0.9em;
	margin-bottom: 15px;
}
.page-reglementation .basic-liste li a{
	color: #000;
}
.artistes-techniciens .bloc-AT4 .basic-liste li a{
	color: #da0020;
}
.employeurs .bloc-E4 .basic-liste li a{
	color: #008685;
}
.page-reglementation .basic-liste li{
	color: #666;
}
.bloc-espace-jeunes .basic-liste li{
	margin-bottom: 3px;
}

.article ul, .article ol{
	margin-bottom: 15px;
}
.article ul li{
	list-style: square inside;
}
.article ul.basic-liste{
	margin-left: 0;
}
.article ul.basic-liste li{
	list-style: none;
}
.article ol li{
	list-style: decimal inside;
}

.liste-puce{
	margin-bottom: -17px;
}
.liste-puce li{
	background: 0 2px no-repeat transparent;
	padding-left: 14px;
	margin-bottom: 10px;
	font-size: 0.9em;
	color: #666;
	position: relative;
}
.liste-puce li a{
	text-decoration: none;
	color: #000;
	font-size: 1.09em;
}
.liste-puce li a:hover{
	text-decoration: underline;
}
.liste-puce li li{
	background: none;
	padding-left: 0;
	margin-bottom: 0;
}

.liste-bts{
	position: absolute;
	bottom: 30px;
}
.liste-bts li{
	float: left;
}
.liste-bts li a{
	background: 0 0 no-repeat transparent;
	color: #fff;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	float: left;
}
.liste-bts li a.premier-bt{
	margin-right: 10px;
}
.liste-bts li a:hover{
	text-decoration: underline;
}
.bloc-espace-perso .liste-bts{
	bottom: 37px;
}
/* FIN Listes */

/* Liens */
.bt-video{
	width: 178px;
	height: 106px;
	float: left;
	display: inline;
	position: relative;
	padding: 14px;
}
.bt-video a{
	position: absolute;
	background: url("fd-player.gif.1") 0 0 no-repeat transparent;
	padding-top: 112px;
	padding-left: 102px;
	width: 105px;
	height: 34px;
	color: #737474;
	font-weight: bold;
	text-decoration: none;
	display: block;
	top: 0;
	left: 0;
}

.bt-newsletter{
	background: 0 0 no-repeat transparent;
	display: block;
	font-weight: bold;
}
.lien-bt{
	background: 0 0 no-repeat;
	color: #fff;
	display: block;
	padding: 5px;
	text-align: center;
	position: absolute;
	bottom: 0;
	text-decoration: none;
}
.lien-bt:hover{
	text-decoration: underline;
}
.didacticiel{
	background: url("puce-didacticiel.gif") 0 0 no-repeat transparent;
	padding: 7px 0 5px 32px;
	float: left;
}
.liste-puce li a.didacticiel, .liste-puce li a.plus-infos{
	color: #00357e;
	text-decoration: underline;
	font-size: 1.09em;
	font-weight: bold;
	margin-top: 4px;
}
* html .liste-puce li a.didacticiel{
	margin-bottom: 5px;
}
*+html .liste-puce li a.didacticiel{
	margin-bottom: 5px;
}
* html .liste-puce li a.plus-infos{
	margin-bottom: 5px;
}
*+html .liste-puce li a.plus-infos{
	margin-bottom: 5px;
}
.plus-infos{
	float: right;
	padding-top: 7px;
}
.liste-puce li a.didacticiel:hover, .liste-puce li a.plus-infos:hover{
	text-decoration: none;
}
.bloc-rub-contenu .lien-bas, .membre .lien-bas{
	position: absolute;
	bottom: 15px;
	right: 25px;
	font-weight: bold;
	white-space: nowrap;
}
.bloc-rubrique .bloc-rub-contenu .lien-bas{
	right: 18px;
	bottom: 22px;
}
.conteneur-2-blocs .bloc-rubrique.bloc-gauche .bloc-rub-contenu .lien-bas{
	right: 394px;
}
.bloc-rubrique2 .bloc-rub-contenu .lien-bas, .bloc-rubrique4 .bloc-rub-contenu .lien-bas{
	bottom: 20px;
	right: 20px;
}
.membre .lien-bas{
	text-align: center;
	font-weight: bold;
	width: 165px;
	white-space: normal;
	bottom: 0;
}
.bloc-col2-avec-photo .lien-bas{
	bottom: 14px;
	right: 20px;
}
.bloc-mise-en-avant .lien-bas{
	right: 50px;
	bottom: 5px;
	width: 160px;
	text-align: center;
}
.bloc-liste .lien-bas{
	text-align: right;
	font-weight: bold;
	margin-right: 5px;
	margin-bottom: 5px;
}
.bloc-actu .bloc-txt .lien-bas{
	bottom: 0px;
	margin-bottom: 0;
}
.bloc-actu .bloc-txt .bloc-col2-int .lien-bas{
	right: 0;
}
.bloc-petit .lien-bas, .bloc-demi-large .lien-bas{
	right: 18px;
	bottom: 20px;
	text-align: right;
}
.bloc-centre .lien-bas{
	position: absolute;
	right: 17px;
	bottom: 27px;
	margin-bottom: 0;
	font-weight: bold;
}
.bloc-chapo a{
	text-decoration: none;
	color: #000;
}
.bloc-chapo a:hover{
	text-decoration: underline;
}
.bloc-espace-jeunes .lien-bas{
	right: auto;
	left: 24px;
	bottom: 24px;
	margin-bottom: 0;
}
/* FIN Liens */

/* Bloc contenu */
.bloc-rub-contenu{
	padding: 0 24px;
}
.bloc-rubrique .bloc-rub-contenu{
	width: 225px;
	float: right;
	padding: 15px 18px 0 0;
	display: inline;
}
.bloc-rubrique.sites-utiles .bloc-rub-contenu{
	padding-top: 10px;
	width: 239px;
}
.bloc-rubrique p{
	margin-bottom: 5px;
}
.bloc-rubrique.sites-utiles p{
	margin-bottom: 10px;
}
.bloc-rub-hauteur1{
	height: 159px;
	overflow: hidden;
}
.bloc-rub-hauteur2{
	height: 119px;
}
.sites-utiles{
	height: 180px;
	overflow: hidden;
}
.bloc-rubrique.bloc-liste-liens .bloc-rub-contenu{
	float: none;
	padding-left: 10px;
	width: 320px;
	display: block;
	padding-top: 10px;
}
.bloc-espace-perso .bloc-rub-contenu{
	padding: 0 20px;
}
.bloc-rubrique5 .bloc-rub-contenu{
	padding: 15px 10px 0 10px;
}
.bloc-rubrique3 .bloc-rub-contenu{
	padding: 0 10px;
	height: 80px;
}
.bloc-rubrique4 .bloc-rub-contenu{
	padding: 10px 0 0 0;
	float: right;
}
.bloc-rubrique2 .bloc-rub-contenu{
	padding: 0 20px 0 200px;
}
.bloc-basique .bloc-rub-contenu{
	background: url("fd-col1-bloc-basic.gif") left bottom no-repeat transparent;
	padding: 10px 20px 40px 20px;
	position: relative;
}
.bloc-basique.bloc-flash-droite .bloc-rub-contenu{
	padding-bottom: 20px;
}
.content-col2 .bloc-basique .bloc-rub-contenu{
	background-image: url("fd-col2-bloc-basic.gif");
	width: 248px;
	padding-top: 15px;
	padding-left: 24px;
}
.conteneur-bloc-large .bloc-basique .bloc-rub-contenu{
	background-image: url("fd-large.gif");
	padding-left: 10px;
	padding-bottom: 30px;
	width: 857px;
}
.contenu-large .conteneur-bloc-large .bloc-basique .bloc-rub-contenu{
	background-image: url("fd-col-large.gif");
	width: 707px;	
	padding-bottom: 20px;
}
.bloc-col2-principal .bloc-rub-contenu{
	width: 115px;
	margin-left: 15px;
	padding: 0;
}
.bloc-mise-en-avant .bloc-rub-contenu{
	width: 460px;
	padding: 30px 20px;
	float: right;
	display: inline;
}
.bloc-petit .bloc-rub-contenu, .bloc-demi-large .bloc-rub-contenu{
	padding: 0 5px;
}
.bloc-espace-jeunes .bloc-rub-contenu{
	padding-top: 15px;
}
.bloc-espace-jeunes.en-bref .bloc-rub-contenu{
	height: 80px;
	overflow: hidden;
}
/* FIN Bloc contenu */

/* Page Master */
.bloc-rubrique4 h3{
	font-size: 1em;
	font-weight: normal;
	margin-bottom: 10px;
}
.bloc-rubrique4 h3 a{
	font-weight: bold;
	text-decoration: none;
}
.bloc-rubrique4 h3 a:hover{
	text-decoration: underline;
}

.bloc-rubrique1 .photo{
	margin-left: 14px;
	margin-bottom: 7px;
}
.bloc-rubrique4 .photo, .bloc-basique .photo{
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	display: inline;
}
.bloc-basique .photo{
	margin: 0 10px 0 0;
}
.bloc-col2-principal .photo{
	text-align: center;
}
.bloc-col2-avec-photo .photo{
	float: left;
	margin-bottom: 10px;
}
.bloc-rubrique .photo, .bloc-espace-jeunes .photo{
	float: left;
	margin-left: 10px;
	margin-top: 15px;
	display: inline;
	margin-bottom: 0;
}
.bloc-rubrique.sites-utiles .photo{
	margin-top: 12px;
}
.bloc-rubrique3 p.photo{
	margin-bottom: 8px;
	float: none;
}
.bloc-espace-jeunes .photo{
	float: left;
	margin-right: 10px;
	display: inline;
	margin-bottom: 0;
	margin-left: -15px;
	margin-top: 0;
}

.bloc-rubrique1 .basic-liste li{
	line-height: 1.1em;
}

.conteneur-bloc-rubrique5{
	display: inline;
	float: left;
	margin: 0 10px;
}
.conteneur-bloc-rubrique3{
	float: right;
}

.bloc-rubrique5{
	background: 0 0 no-repeat transparent;
	padding: 10px;
	margin-bottom: 14px;
}
.bloc-rubrique3{
	background: url("fd-rubrique-taille2.gif") 0 0 no-repeat transparent;
	width: 268px;
	height: 128px;
	padding: 10px;
	float: right;
}
.bloc-rubrique1{
	background: 0 28px no-repeat transparent;
	position: relative;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline;
}
.bloc-espace-perso{
	background: 0 0 no-repeat transparent;
	float: left;
	display: inline;
	position: relative;
}
.bloc-rubrique4{
	background: 0 0 no-repeat transparent;
	padding: 8px 10px;
	position: relative;
	float: left;
	display: inline;
}
.bloc-rubrique2{
	background: 0 0 no-repeat transparent;
	padding: 8px 4px;
	position: relative;
	float: left;
	display: inline;
	margin-bottom: 15px;
}
/* FIN Page Master */

/* Page Master candidat declaration */
.content-col1{
	width: 588px;
	float: left;
	margin-left: -2px;
	margin-bottom: 11px;
}
.bloc-principal{
	background: 0 0 no-repeat transparent;
	margin-bottom: 13px;
	padding: 8px 5px;
}

.bloc-basique{
	margin-bottom: 13px;	
}
.conteneur-bloc-large .bloc-basique{
	margin-right: -3px;
}
.bloc-basique h3{
	font-size: 1.16em;
	color: #00357e;
	margin-bottom: 5px;
}
.bloc-basique h3 a:hover{
	text-decoration: underline;
}
.date{
	color: #7f9ac0;
	font-weight: normal;
}
.bloc-basique h3 .date{
	font-size: 0.85em;
}
.bloc-basique h3 a{
	text-decoration: none;
}
.conteneur-2blocs{
	background: url("bloc-separ.gif") center top repeat-y transparent;
	width: 100%;
	margin-bottom: 5px;
}
.bloc-basique-col1{
	width: 255px;
	float: left;
}
.bloc-basique-col2{
	width: 259px;
	float: right;
}
* html .bloc-basique-col2{
	width: 258px;
}
*+html .bloc-basique-col2{
	width: 258px;
}

.pagination{
	text-align: right;
	color: #00357e;
	margin-bottom: 0;
}
.content-col2 .pagination{
	padding-top: 8px;
}
* html .content-col2 .pagination{
	padding-top: 3px;
}
*+html .content-col2 .pagination{
	padding-top: 3px;
}
.pagination strong, .pagination a{
	margin-left: 4px;
	margin-right: 4px;
	text-decoration: none;
}
.pagination strong, .pagination a:hover{
	text-decoration: underline;
}

.bloc-basique .pagination{
	position: absolute;
	bottom: 18px;
	right: 17px;
	z-index: 5000;
}
* html .bloc-basique .pagination{
	bottom: 20px;
}
*+html .bloc-basique .pagination{
	bottom: 20px;
}

.content-col2{
	width: 288px;
	float: right;
	margin-right: -2px;
	margin-bottom: 11px;
}
.bloc-col2-principal{
	background: 0 0 no-repeat transparent;
	position: relative;
	margin-bottom: 13px;
}

.bloc-col2-avec-photo{
	background: url("fd-col2-bloc-avec-photo.gif") left bottom no-repeat transparent;
	padding: 0 10px 10px 10px;
	position: relative;
	z-index: 500;
	margin: 0 -10px 15px -14px;
	width: 249px;
}
.bloc-col2-avec-photo h3{	
	font-size: 1.16em;
	margin-bottom: 5px;
}
.bloc-txt{
	width: 169px;
	float: right;
}
.conteneur-bloc-large .bloc-txt{
	width: 735px;
}
.bloc-txt .contenu-txt{
	height: 60px;
	border-right: solid 1px #ccd7e5;
	padding-right: 15px;
}
/* FIN Page Master candidat declaration */

/* Page Master candidat Recherche */
.bloc-col2-avec-photo.couleur-defaut{
	min-height: 92px;
	position: relative;
}
* html .bloc-col2-avec-photo.couleur-defaut{
	height: 95px;
}
*+html .bloc-col2-avec-photo.couleur-defaut{
	min-height: 97px;
}
.bloc-col2-avec-photo p{
	margin-bottom: 5px;
}
/* FIN Page Master candidat Recherche */

/* Page SCU_CSL_RUBRIQUES_BLOC */
.titre{
	font-size: 1.5em;
	padding-bottom: 2px;
	color: #003581;
	border-bottom: solid 1px #7F9ABE;
}
.bloc-rubrique, .bloc-espace-jeunes{
	background: url("fd-rubrique.gif") left bottom no-repeat transparent;
	width: 362px;
	position: relative;
	padding-bottom: 37px;
	margin-bottom: 13px;
}
.bloc-espace-jeunes.opportunites{
	height: 86px;
	overflow: hidden;
}
.conteneur-2-blocs .bloc-rubrique{
	background: none;
	padding-bottom: 0;
	margin-bottom: 0;
	position: static;
}
.conteneur-2-blocs{
	background: url("fd-conteneur-2blocs.gif") left bottom no-repeat transparent;
	padding-bottom: 37px;
	margin-bottom: 13px;
	position: relative;
}
html > body .conteneur-2-blocs{
	overflow: hidden;
}
* html .conteneur-2-blocs{
	height: 1%;
}
.conteneur-2-blocs.sans-lien-bas{
	padding-bottom: 15px;
}
.bloc-espace-jeunes.sans-liens-bas{
	padding-bottom: 20px;	
}
.bloc-espace-jeunes.sans-liens-bas.agenda .bloc-rub-contenu{
	height: 62px;
	overflow: hidden;
}
* html .bloc-espace-jeunes.sans-liens-bas.souhaitez{
	padding-bottom: 14px;
}
.bloc-espace-jeunes.a-la-une{
	height: 269px;
	overflow: hidden;
}
.bloc-espace-jeunes.service .bloc-rub-contenu{
	height: 125px;
	overflow: hidden;
}
.bloc-gauche{
	float: left;
}
.bloc-droite{
	float: right;
}
.conteneur-2-blocs .bloc-droite{
	margin-right: -3px;
}
/* FIN Page SCU_CSL_RUBRIQUES_BLOC */

/* Page SCU_CSL_RUBRIQ_BLOC_MISE_AVANT */
.bloc-mise-en-avant{
	background: url("fd-mise-en-avant.gif") right 4px no-repeat transparent;	
	height: 131px;
	position: relative;
	color: #666;
	margin-right: 10px;
	margin-bottom: 12px;
}
.bloc-mise-en-avant h2{
	font-size: 1.16em;
	color: #00357e;
	margin-bottom: 10px;
}
/* FIN Page SCU_CSL_RUBRIQ_BLOC_MISE_AVANT */

/* Page Liste liens article */
.marge{
	margin-left: 3px;
}
.intro{
	color: #666;
	border-left: solid 1px #666;
	padding-left: 10px;
	margin-bottom: 27px;
}
.intro.page-liste{
	margin-bottom: 17px;
}
.intro p{
	margin-bottom: 0;
}
.marg-haut{
	margin-top: 20px;
}
.bloc-liste{
	background: url("fd-bloc-droite.gif") left bottom no-repeat transparent;
	padding: 0 7px 5px 7px;
	font-size: 0.9em;
	margin-bottom: 15px;
}
.bloc-liste.bloc-contact-candidat, .bloc-liste.bloc-contact-employeur{
	background-image: url("fd-contact-candidat-b.gif");
	font-size: 0.9em;
	padding: 0 0 10px 0;
}
.bloc-contact-cand-int{
	background: url("fd-contact-candidat.gif") 0 0 no-repeat transparent;
	padding: 9px 7px 1px 7px;
}
.bloc-liste.bloc-contact-employeur{
	background-image: url("fd-contact-employeur-b.gif");
}
.bloc-contact-emp-int{
	background: url("fd-contact-employeur.gif") 0 0 no-repeat transparent;
	padding: 9px 7px 1px 7px;
}
.bloc-liste h2{
	background: url("fd-titre-droite.gif") 0 0 no-repeat transparent;
	padding: 2px 5px 2px 13px;
	font-size: 1.09em;
	color: #004296;
	height: 17px;
	position: relative;
	margin-left: -7px;
	margin-right: -6px;
	margin-bottom: 10px;
}
.bloc-liste.bloc-contact-candidat h2{
	background-image: url("fd-titre-droite-candidat.gif");
	color: #fff;
	margin-bottom: 1px;
	margin-left: 0;
	margin-right: 0;
}
.bloc-liste.bloc-contact-employeur h2{
	background-image: url("fd-titre-droite-employeur.gif");
	color: #fff;
	margin-bottom: 1px;
	margin-left: 0;
	margin-right: 0;
}
.bloc-contact-candidat h3, .bloc-contact-employeur h3{
	font-size: 1em;
	border-bottom: solid 1px #da0020;
	margin-right: -3px;
	margin-bottom: 3px;
}
.bloc-contact-employeur h3{
	border-bottom: solid 1px #009999;
}
.bloc-contact-employeur h4{
	background: url("point-noir.gif") 0 5px no-repeat transparent;
	font-size: 1em;
	padding-left: 12px;
	margin-bottom: 5px;
	font-weight: normal;
}
.bloc-liste.bloc-contact-candidat p{
	margin-bottom: 5px;
	margin-left: -3px;
	text-align: center;
}
.bloc-liste.bloc-contact-employeur p{
	text-align: center;
	margin-bottom: 5px;
	margin-left: -3px;
	padding-top: 2px;
}
.bloc-liste.bloc-contact-employeur ul{
	padding-bottom: 0;
}
.bloc-contact-candidat p em, .bloc-contact-employeur em{
	font-size: 0.8em;
	font-style: normal;
}
.bloc-contact-candidat strong, .bloc-contact-employeur strong{
	color: #da0020;
	font-size: 1.27em;
}
.bloc-contact-employeur strong{
	color: #009999;
}
.liste-a-telecharger a{
	color: #666;
	text-decoration: none;
}
.liste-a-telecharger a:hover{
	text-decoration: underline;
}
.liste-a-telecharger li{
	margin-bottom: 10px;
}
.liste-a-telecharger li em{
	font-size: 0.9em;
	font-style: normal;
}
.liste-a-telecharger li img{
	vertical-align: middle;
}
.bloc-liste .photo{
	margin: -10px 0 5px 0;
}
.bloc-liste .basic-liste, .bloc-liste p{
	margin-left: 5px;
}
/* FIN Page Liste liens article */

/* Page SCU_CSL_ARTICLE_MULTIMEDIA */
.bloc-video{
	background: url("fd-bloc-video.jpg") right 0 no-repeat transparent;
	position: relative;
	margin-left: -2px;
	margin-right: -3px;
	margin-bottom: 25px;
	padding-left: 1px;
	padding-top: 1px;
	width: 559px;
	height: 281px;
	overflow: hidden;
}
.page-imprimable .bloc-video{
	background: #fff;
	height: auto;
	margin-left: 10px;
	margin-bottom: 0;
}
.lecteur-video{
	width: 334px;
	float: left;
	display: inline;
	margin-bottom: 0;
}
.bloc-video-txt{
	width: 200px;
	margin-right: 10px;
	margin-top: 20px;
	float: right;
	display: inline;
}
.page-imprimable .bloc-video-txt{
	width: auto;
	float: none;
}
.article{
	margin-left: 10px;
}
.article p{
	margin-bottom: 15px;
}
.article h2, .bloc-txt-simple h2{
	font-size: 1.16em;
	color: #00357e;
	padding-top: 15px;
	margin-bottom: 15px;
}
.bloc-txt-simple h2{
	margin-bottom: 3px;
	padding-top: 6px;
}
.bloc-txt-simple.archives h2{
	padding-top: 0px;
}
.bloc-txt-simple{
	padding-top: 9px;
	margin-left: 3px;
}
.liste-sites-utiles li a{
	font-weight: bold;
}
.basic-tableau{
	width: 100%;
	border-right: solid 1px #7f9abe;
	margin-bottom: 15px;
}
.basic-tableau th{
	text-align: left;
}
.basic-tableau th, .basic-tableau td{
	padding: 2px 10px;
	border-left: solid 1px #7f9abe;
}
.basic-tableau .ligne-titre th{
	background-color: #aac6e5;	
}
.basic-tableau .ligne-impaire th, .basic-tableau .ligne-impaire td{
	background-color: #e3ecf7;
}
caption{
	font-size: 1.16em;
	color: #00357e;	
	text-align: left;
	padding-bottom: 5px;
}
caption strong{
	border-bottom: solid 1px #7f9ac0;
	display: block;
}
.publication-date{
	font-size: 0.9em;
}
.photo-gauche{
	float: left;
	margin-right: 20px;
}
.photo-droite{
	float: right;
	margin-left: 20px;
}

.page-imprimable .basic-tableau{
	border-right: solid 1px #000;
	border-top: solid 1px #000;
}
.page-imprimable .basic-tableau th, .page-imprimable .basic-tableau td{
	border-left: solid 1px #000;
	border-bottom: solid 1px #000;
}
.page-imprimable .basic-tableau .ligne-titre th{
	background-color: #fff;	
}
.page-imprimable .basic-tableau .ligne-impaire th, .page-imprimable .basic-tableau .ligne-impaire td{
	background-color: #fff;
}
.page-imprimable .article h2, .page-imprimable .bloc-txt-simple h2, caption{
	color: #000;
}
.page-imprimable .article a{
	color: #000;
	text-decoration: none;
}
.page-imprimable caption strong{
	border-bottom: solid 1px #000;
}
.page-imprimable .zone-haut{
	background: #fff;
}
.page-imprimable .titre{
	color: #000;
}
/* FIN Page SCU_CSL_ARTICLE_MULTIMEDIA */

/* SCU_CSL_REGLEMENT */
.page-interne.page-reglementation{
	margin-right: -3px;
}
.bloc-col1-int{
	width: 450px;
	float: left;
	height: 83px;
	position: relative;
	overflow: hidden;
	padding-bottom: 10px;
}
.bloc-col2-int{
	width: 265px;
	float: right;
	height: 83px;
	overflow: hidden;
	position: relative;
	padding-bottom: 10px;
}
.bloc-petit{
	background: url("fd-bloc-petit.gif") 0 0 no-repeat transparent;
	width: 192px;
	height: 158px;
	padding: 10px;
	position: relative;
	float: left;
	margin-right: 13px;
	margin-bottom: 13px;
}
.bloc-petit.dernier-bloc{
	margin-right: 0;
}
.bloc-demi-large{
	background: url("bloc-demi-large.gif");
	width: 420px;
	height: 158px;
	padding: 10px;
	position: relative;	
	margin-right: -3px;
}
* html .bloc-demi-large{
	margin-bottom: 13px;
	margin-right: -1px;
}
*+html .bloc-demi-large{
	margin-bottom: 13px;
	margin-right: -1px;
}
/* FIN SCU_CSL_REGLEMENT */

/* SCU_CSL_LISTE_LIENS_2COLONNES */
.bloc-info-mise-en-avant{
	background: url("fd-info-mise-en-avant.jpg") 0 0 no-repeat transparent;
	width: 472px;
	height: 74px;
	padding: 30px 15px 15px 250px;
	margin: 0 0 24px 0;
}
/* FIN SCU_CSL_LISTE_LIENS_2COLONNES */

/* SCU_CSL_ONGLET */
.bloc-onglet{
	background: url("fd-bloc-onglet-bas.gif") left bottom no-repeat transparent;
	padding-bottom: 10px;
}
.bloc-onglet-int{
	background: url("fd-bloc-onglet-haut.gif") 0 0 no-repeat transparent;
	padding: 9px 20px 10px 10px;
}
html > body .bloc-onglet-int{
	overflow: hidden;
}
* html .bloc-onglet-int{
	height: 1%;
}
.nav-onglet{
	width: 240px;
	float: left;
}
.nav-onglet li{
}
.nav-onglet li a{
	display: block;
	background: url("fd-onglet-off.gif") 0 0 no-repeat transparent;
	padding: 4px 10px;
	color: #698FBF;
	text-decoration: none;
	height: 28px;
	margin-bottom: 1px;
}
.nav-onglet li a:hover, .nav-onglet li a.onglet-actif{
	background-image: url("fd-onglet-on.gif");
	color: #4973ab;
	font-weight: bold;
}
.nav-onglet li.dernier-onglet a:hover, .nav-onglet li.dernier-onglet a.onglet-actif{
	background-position: 0 1px;
}
.contenu-onglet{
	width: 266px;
	float: right;
	padding: 10px 0;
	color: #666;
	font-size: 0.9em;
}
.onglet-ajuste .contenu-onglet{
	height: 166px;
	overflow: hidden;
}
.contenu-onglet h2{
	font-size: 1.09em;
	color: #00357e;
	margin-bottom: 15px;
}
.contenu-onglet a{
	color: #666;
	text-decoration: none;
}
.contenu-onglet li{
	margin-bottom: 5px;
}
/* FIN SCU_CSL_ONGLET */

/* SCU_CSL_MSG_ERREUR_DECONNEXION et SCU_CSL_MSG_ERREUR_PAGE_INDISPO */
.centre{
	text-align: center;
	min-height: 350px;
	margin-top: 63px;
}
* html .centre{
	height: 350px;
}
.page-erreur .centre{
	margin-top: 155px;
}
.bloc-centre{
	background: url("fd-bloc-centre-bas.gif") left bottom no-repeat transparent;
	width: 563px;
	margin: 0 auto;
	text-align: left;
	padding-bottom: 20px;
	position: relative;
}
.bloc-centre-int{
	background: url("fd-bloc-centre-haut.gif") 0 0 no-repeat transparent;
	padding: 15px;
}
.bloc-centre h1{
	font-size: 1.16em;
	text-transform: uppercase;
	margin-bottom: 15px;
	background: url("picto-exclamation.gif") 0 0 no-repeat transparent;
	padding-left: 20px;
}
.bloc-centre p{
	margin-bottom: 16px;
}
.page-erreur{
	padding-top: 20px;
}
/* FIN SCU_CSL_MSG_ERREUR_DECONNEXION et SCU_CSL_MSG_ERREUR_PAGE_INDISPO */

/* SCU_CSL_PLAN_SITE */
.bloc-plan{
	background: url("fd-col-large.gif") left bottom no-repeat transparent;
	margin-bottom: 17px;
	padding-bottom: 30px;
}
.bloc-plan.dernier-plan{
	margin-bottom: 20px;
}
.bloc-plan h2{
	background: url("fd-plan-titre.gif") 0 0 no-repeat;
	padding: 5px 18px;
	font-size: 1.16em;
}
.bloc-plan.plan-candidat h2{
	background-image: url("fd-plan-titre-candidat.gif");
}
.bloc-plan.plan-employeur h2{
	background-image: url("fd-plan-titre-employeur.gif");
}
.bloc-plan h2 a{
	color: #fff;
	text-decoration: none;
}
.plan-int{
	background: url("bloc-separ-plan.gif") center top repeat-y transparent;
	padding: 0 20px;
	margin-top: 10px;
}
html > body .plan-int{
	overflow: hidden;
}
* html .plan-int{
	height: 1%;
}
.liste-rubriques{
	width: 333px;
	background: url("fd-liste-plan.gif") left bottom no-repeat transparent;
	padding-left: 1px;
}
.plan-candidat .liste-rubriques{
	background-image: url("fd-liste-plan-candidat.gif");
}
.plan-employeur .liste-rubriques{
	background-image: url("fd-liste-plan-employeur.gif");
}
.liste-plan-gauche{
	float: left;
}
.liste-plan-droite{
	float: right;
}
.liste-rubriques li{
	background: url("fd-plan-item.gif") 0 8px no-repeat transparent;
	padding-left: 16px;
	padding-bottom: 2px;
	position: relative;
}
.plan-candidat .liste-rubriques li{
	background-image: url("fd-plan-item-candidat.gif");
}
.plan-employeur .liste-rubriques li{
	background-image: url("fd-plan-item-employeur.gif");
}
.liste-rubriques li a{
	font-weight: bold;
	text-decoration: none;
}
.liste-rubriques li a:hover{
	text-decoration: underline;
}
.liste-rubriques li ul{
	padding-top: 6px;
	margin-left: 10px;
}
.liste-rubriques li li{
	margin-top: -7px;
	background: url("fd-plan-sous-item.gif") 0 0 no-repeat transparent;
	padding-top: 5px;
	position: relative;
}
.plan-candidat .liste-rubriques li li{
	background-image: url("fd-plan-sous-item-candidat.gif");
}
.plan-employeur .liste-rubriques li li{
	background-image: url("fd-plan-sous-item-employeur.gif");
}
.liste-rubriques li li.dernier-item{
	background-image: url("fd-plan-sous-item2.gif");
}
.plan-candidat .liste-rubriques li li.dernier-item{
	background-image: url("fd-plan-sous-item2-candidat.gif");
}
.plan-employeur .liste-rubriques li li.dernier-item{
	background-image: url("fd-plan-sous-item2-employeur.gif");
}
.liste-rubriques li li a{
	font-weight: normal;
}
.liste-rubriques li li li a{
	color: #698fbf;
}
/* FIN SCU_CSL_PLAN_SITE */

/* IFRAMES */
.bloc-iframe-recherche{
	/* margin-left: 28px; */
	margin-bottom: 30px;
	margin-right: -10px;
}
html > body .bloc-iframe-recherche{
	overflow: hidden;
}
* html .bloc-iframe-recherche{
	height: 1%;
}
.bloc-iframe-recherche iframe{
	overflow: auto;
	overflow-x:hidden;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	height: 682px;
	width: 565px;
}
.bt-recherche{
	background: url("fd-bt.gif") 0 0 no-repeat;
	float: right;
	width: 111px;
	height: 16px;
	display: block;
	text-align: center;
	padding: 3px 10px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
.bt-recherche:hover{
	text-decoration: underline;
}
.formulaire-generique .bt-recherche{
	background-image: url("fd-bt-nouvelle-recherche.gif");
	width: 191px;
	float: none;
}
* html .formulaire-generique .bt-recherche{
	margin-left: 5px;
}
.bloc-iframe-metier{
	margin-top: -17px;
	margin-bottom: -20px;
}
.bloc-iframe-metier iframe{
	overflow: hidden;
}
/* FIN IFRAMES */

/* En Region */
.select-region{
	position: absolute;
	margin-top: -3px;
	z-index: 5000;
}
.select-region label{
	color: #00357e;
	font-weight: bold;
	font-size: 1.16em;
	display: block;
	margin-bottom: 5px;
}
.select-region select{
	width: 180px;
	border: solid 1px #7e9db9;
	color: #666;
	font-size: 0.9em;
	vertical-align: middle;
}
.bt-valider, .bt-annuler{
	background: url("fd-bt-valider.gif") 0 0 no-repeat transparent;
	color: #fff;
	font-weight: bold;
	width: 65px;
	height: 22px;
	text-align: center;
	border: 0;
	padding: 2px 0 5px 0;
	cursor: pointer;
	vertical-align: middle;
}
.bt-annuler{
	background-image: url("fd-bt-annuler.gif");
	color: #00357e;
	margin-right: 5px;
}
/* FIN En Region */

/* Archives */
.avertissement{
	border: solid 1px #afc9e7;
	background-color: #eff5fa;
	padding: 8px 10px;
	margin: 3px 0 14px 3px;
}
.avertissement strong{
	color: #00357e;
	font-size: 1.16em;
}
/* FIN Archives */

/* Page liste plus moins */
.liste-plus-moins{
	margin-top: 15px;
}
.liste-plus-moins dt{	
	font-size: 1.16em;
	color: #00357e;
	font-weight: bold;
	margin-bottom: 15px;
	background: url("picto-plus.gif") 0 0 no-repeat transparent;
	padding-left: 24px;
}
.liste-plus-moins dt.ddOuvert{
	background-image: url("picto-moins.gif");
}
.liste-plus-moins.interviews dt{
	margin-bottom: 9px;
}
.liste-plus-moins.agenda dt{
	margin-bottom: 7px;
}
.liste-plus-moins a{
	text-decoration: none;
}
.liste-plus-moins a:hover{
	text-decoration: underline !important;
}
.liste-plus-moins dt a.lien-plus-moins{
	color: #00357e;
	text-decoration: none;
}
.liste-plus-moins dd{
	margin-bottom: 15px;
	margin-left: 24px;
}
.liste-plus-moins dd a{
	color: #000;
}
.lieu-date{
	color: #00357E;
}
/* FIN Page liste plus moins */

/* SCU_CSL_ESPACE_JEUNES */
.bloc-intro{
	background: url("fd-intro-espace-jeunes.jpg") 0 0 no-repeat transparent;
	width: 452px;
	height: 74px;
	padding: 30px 15px 15px 270px;
	margin: 0 0 18px 0;
}
.sous-titre{
	color: #00357e;
	font-size: 1.16em;
	border-bottom: solid 1px #7f9ac0;
	margin-bottom: 6px;
	margin-right: 3px;
	padding-top: 5px;
}
* html .sous-titre{
	margin-left: 3px;
}
.lien-suite{
	text-align: right;
}
.lien-suite a{
	font-weight: bold;
}
.bloc-espace-jeunes h3{
	color: #00357e;
	font-size: 1.16em;
	margin-bottom: 3px;
}
.bloc-espace-jeunes p{
	margin-bottom: 7px;
}
.bloc-espace-jeunes p.lien-suite{
	margin-bottom: 9px;
}
.conteneur-blocs-gauche, .conteneur-blocs-droite{
	float: left;
	width: 362px;
	display: inline;
}
.conteneur-blocs-droite{
	float: right;
}
.bloc-offres{
	background: url("fd-offres.gif") 0 2px no-repeat transparent;
	padding: 12px 14px 1px 90px;
	height: 56px;
	font-size: 0.9em;
	font-weight: bold;
	overflow: hidden;
	margin-left: 4px;
}
.bloc-offres li{
	margin-bottom: 14px;
}
/* FIN SCU_CSL_ESPACE_JEUNES */

/* SCU_CSL_LEXIQUE */
.popin-contenu{
	width: 589px;
	text-align: left;
	background: url("fd-popin.gif") left bottom no-repeat transparent;
	padding-bottom: 20px;
}
.popin-contenu.popin-petit{
	width: 509px;
	background-image: url("fd-popin-p.gif");
	margin: 0 auto;
}
.popin-contenu.popin-moyen{
	width: 520px;
	background-image: url("fd-popin-m.gif");
	margin: 0 auto;
}
.popin-contenu h1{
	background: url("fd-titre-popin.gif") 0 0 no-repeat transparent;
	padding: 8px 15px 5px 15px;
	font-size: 1.16em;
	color: #00357e;
}
.popin-contenu.popin-petit h1{
	background-image: url("fd-titre-popin-p.gif");
	color: #fff;
}
.popin-contenu.popin-moyen h1{
	background-image: url("fd-titre-popin-m.gif");
	color: #fff;
}
.popin-contenu-int{
	background-color: #fff;
	padding: 7px 10px 0 15px;	
}
* html .popin-moyen .popin-contenu-int{
	width: 495px;
}
.contenu-lexique{
	padding: 0 17px;
}
.contenu-large .contenu-lexique{
	padding: 0 0 0 3px;
}
.lexique-intro{
	font-size: 0.9em;
	margin-bottom: 29px;
}
.lexique-intro strong{
	font-size: 1.18em;
}
.lexique-nav{
	background-color: #e4ebf2;
	padding: 5px 0 5px 0;
	margin-bottom: 0;
}
.lexique-nav a, .lexique-nav span{
	padding: 0 5px 0 5px;
	text-decoration: none;
	font-weight: bold;
	margin-left: -1px;
	margin-right: -1px;
	font-size: 1.08em;
}
.lexique-nav a:hover{
	background-color: #00357e;
	color: #fff;
}
.lexique-nav *{
	vertical-align: middle;
}
.lexique-scroll{
	height: 270px;
	overflow: hidden;
	overflow-y: auto;
	margin-bottom: 10px;
}
.lexique-scroll dl{
	/* padding-bottom: 300px; */
}
.contenu-large dl{
	padding: 0 4px;
	border: solid 1px #00357e;
	margin-bottom: 20px;
}
.contenu-lexique dt{
	border-bottom: solid 1px #94aecc;
	font-weight: bold;
	padding-left: 15px;
	padding-bottom: 2px;
	margin-bottom: 1px;
	text-transform: uppercase;
	margin-top: 13px;
}
.contenu-lexique dd{
	background-color: #e4ebf2;
	padding: 7px 5px 8px 5px;
	padding-left: 15px;
}
.bt-quitter{
	background: url("fd-bt-quitter.gif") 0 0 no-repeat transparent;
	text-align: center;
	padding: 3px;
	width: 120px;
	height: 18px;
	float: right;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
.bt-quitter:hover{
	text-decoration: underline;
}
/* FIN SCU_CSL_LEXIQUE */

/* Confirmation */
.popin-confirmation ul{
	margin-bottom: 10px;
}
/* FIN Confirmation */


/* POPIN */
#mask{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	background-color: Black;
	opacity: .7;
	-moz-opacity: .7;
	filter: alpha(opacity=70);
	z-index: 7000;
}
#popin{
	position: absolute;
	z-index: 7000;
	top: 90px;
	left: 50%;
	margin-left: -294px;
	text-align: left;
	width: 589px;
}
/* FIN POPIN */

/* Formulaire */
.intro-form{
	margin-left: 3px;
}
.formulaire-generique .intro-form .obligatoire{
	font-size: 0.9em;
	margin-bottom: -10px;
}
.abonnement-NL{
	margin: 0 auto;
	width: 529px;
}
.formCol{
	width: 358px;
	margin-bottom: 15px;
	padding-top: 15px;
}
.FCGauche{
	float: left;
}
.FCDroite{
	float: right;
}
.formulaire{
	background: url("fd-formulaire.gif") left bottom no-repeat transparent;	
	padding-bottom: 19px;
}
.formulaire-generique .formulaire{
	background-image: url("fd-col-large.gif");
	padding-bottom: 20px;
}
.formulaire-generique .formCol .formulaire{
	background-image: url("fd_formulaire-p.gif");
}
.formulaire-int{	
	background: url("fd-formulaire-int.gif") 0 0 no-repeat transparent;
	padding: 0 10px;
}
.formulaire-generique .formulaire-int{
	background-image: url("fd-formulaire-int-large.gif");
}
.formulaire-generique .formCol .formulaire-int{
	background-image: url("fd-formulaire-int-p.gif");
	min-height: 270px;
}
* html .formulaire-generique .formCol .formulaire-int{
	height: 270px;
}
.formulaire-generique .formulaire-int fieldset .message{
	margin-bottom: 0;
	margin-left: -10px;
}
.formulaire fieldset{
	background: url("fd-titre-form.gif") 0 0 no-repeat #fff;
	padding: 0 10px;
}
.formulaire-generique .formulaire fieldset{
	background-image: url("fd-titre-form-large.gif");
}
.formulaire-generique .formCol fieldset{
	background: url("fd-titre-form-p.gif") 0 0 no-repeat transparent;
}
.formulaire-generique .formCol.FCDroite fieldset{
	padding-bottom: 15px;
}
.formulaire legend{
	color: #fff;
	font-size: 1.16em;
	font-weight: bold;
	padding-top: 19px;
}
.liste-choix{
	margin-bottom: -14px;
}
.liste-choix li{
	margin-bottom: 12px;
}
.obligatoire{
	color: #ff0000;
	margin-bottom: 4px;
}
.civilite{
	text-align: center;
}
.civilite label{
	margin-right: 10px;
	margin-left: 3px;
}
.formulaire-generique .liste-champs{
	padding-top: 4px;
}
.liste-champs li{
	margin-bottom: 9px;
}
html > body .liste-champs li{
	overflow: hidden;
}
.liste-champs label{
	display: block;
	float: left;
	text-align: right;
	width: 230px;
	margin-right: 10px;
	margin-top: 2px;
}
.formulaire-generique .liste-champs label{
	width: 155px;
	font-weight: bold;
	font-size: 0.9em;
}
.liste-champs label.champ-erreur{
	background: url("exclamation.gif") 0 0 no-repeat transparent;
	padding-left: 10px;
	color: #ff0000;
	width: 220px;
}
.input-erreur{
	background-color: #fbe5e8;
}
.champ-text, textarea{
	width: 231px;
	float: left;
	border: solid 1px #7e9db9;
	padding: 2px;
}
.recherche-rome .champ-text{
	width: 290px;
	padding: 2px 5px;
}
.formulaire-generique .liste-champs select{
	border: solid 1px #7e9db9;
	width: 105px;
}
.liste-options, .autocompletionListe{
	height: 170px;
	border: solid 1px #b0c1d7;	
	background-color: #fff;
	overflow: auto;
	margin-bottom: 10px;
}
.autocompletionListe{
	height: 80px;
	width: 300px;
	position: absolute;
	margin-top: -12px;
}
.liste-options li a, .autocompletionListe a{
	padding: 2px 15px;
	display: block;
	text-decoration: none;
	color: #000;
}
* html .liste-options li a, * html .autocompletionListe a{
	height: 10px;
}
.liste-options li a:hover, .autocompletionListe a:hover{
	background-color: #d9e6f3;
}
.autocompletionListe a{
	padding: 2px 5px;
}
.aligneDroite{
	text-align: right;
	margin-right: 8px;
}
textarea{
	height: 100px;
	font-size: 1em;
}
.formulaire-generique textarea{
	width: 706px;
	float: none;
}
.formulaire-bas{
	text-align: right;
	margin-top: 7px;
	margin-bottom: 19px;
	margin-right: 4px;
}
.popin-envoyer .formulaire-bas{
	margin-right: 20px;
	margin-bottom: -10px;
	position: relative;	
}
* html .popin-envoyer .formulaire-bas{
	width: 475px;
	margin-top: 5px;
	margin-right: 0;
	margin-right: 3px;
}
.loi-informatique{
	margin: 0 4px 0 3px;
	background-color: #eff5fa;
	border: solid 1px #afc9e7;
	padding: 6px 10px 9px 10px;
}
.loi-informatique p{
	margin-bottom: 0;
}
.asterix{
	color: #ff0000;
}
.erreur-choix{
	background: url("exclamation.gif") 10px 10px no-repeat #ffffcc;
	color: #ff0000;
	padding: 10px 10px 10px 29px;
	border: solid 1px #ffcc66;
	margin-top: 4px;
}
.erreur{
	color: #ff0000;
	display: block;
	font-size: 0.8em;
	margin-left: 240px;
	line-height: 10px;
}
.popin-envoyer .erreur{
	font-size: 1em;
	margin-bottom: 3px;
	line-height: 12px;
	margin-right: 18px;
}
.formulaire-generique .erreur{
	margin-left: 165px;
}
.message-erreur{
	color: #ff0000;
	margin-top: 15px;
	margin-bottom: -5px;
	position: relative;
	z-index: 500;
}
/* FIN Formulaire */

/* Page Spectacle */
.page-spectacle{
	margin-left: 20px;
}
.spectacle-contenu{
	background: url("fd-spectacle.jpg") 0 0 no-repeat transparent;
	width: 899px;
	height: 360px;
	padding: 2px 15px;
	margin-bottom: 20px;
}
.spectacle-contenu.avecActualisation{
	background-image: url("fd-spectacle-actu.jpg");
}
.artistes-techniciens{
	height: 170px;
}
.artistes-techniciens h2, .employeurs h2{
	color: #fff;
	font-size: 1.5em;
	margin-bottom: 88px;
}
.employeurs h2{
	margin-top: -2px;
	position: relative;
	z-index: 2;
	margin-left: 45px;
	margin-bottom: 24px;
}
*+html .employeurs h2{
	margin-bottom: 25px;
}
.SP-photo{
	margin-left: 4px;
}
.bloc-AT1 .SP-photo{
	margin-top: -63px;
	position: relative;
}
.bloc-AT1, .bloc-E1{
	width: 200px;
	float: left;
	margin-right: 38px;
}
.actualiser{
	font-size: 1.16em;
	color: #043880;
	font-weight: bold;
	margin-left: 15px;
}
.bloc-AT2, .bloc-E2{
	width: 200px;
	float: left;
	padding-top: 65px;
	margin-right: 33px;
}
.bloc-AT3, .bloc-E3{
	width: 200px;
	float: left;
	padding-top: 65px;
	margin-right: 30px;
}
.bloc-E2, .bloc-E3{
	padding-top: 25px;
}
.bloc-AT4, .bloc-E4{
	width: 180px;
	float: left;
	padding-top: 18px;
	color: #da0020;
	height: 125px;
	position: relative;
}
.bloc-E4{
	color: #009999;
	padding-top: 65px;
}
.bloc-AT4 h4, .bloc-E4 h4{
	margin-bottom: 10px;
	font-size: 1.16em;
}
.bloc-guso{
	position: absolute;
	top: 140px;
	background: url("clown.jpg") 0 0 no-repeat transparent;
	width: 160px;
	height: 83px;
	font-size: 0.9em;
	color: #fff;
	padding: 0 15px 5px 15px;
}
.bloc-guso p{
	margin-bottom: 0;
	margin-top: 19px;
}
.bloc-guso a{
	background: url("puce-employeur.gif") 0 4px no-repeat transparent;
	padding-left: 8px;
	color: #666;
	margin-left: 55px;
	margin-bottom: 20px;
	font-weight: bold;
}
.bloc-guso em{
	font-size: 0.9em;
	font-style: normal;
}
.spectacle-contenu h3{
	color: #00357e;
	font-size: 1.5em;
	margin: 0 369px;
	line-height: 16px;
	margin-top: 3px;
}
.spectacle-onglets{
	background: url("fd-onglets.gif") 43px 0 no-repeat transparent;
	padding: 18px 20px 10px 0;
	font-size: 0.9em;
	height: 225px;
	margin-bottom: 25px;
}
.SP-nav-onglet{
	width: 101px;
	float: left;
}
.SP-nav-onglet li a{
	text-decoration: none;
	font-weight: bold;
	background: 0 0 no-repeat transparent;
	padding-top: 38px;
	display: block;
	padding-left: 35px;
	line-height: 11px;
	height: 25px;
}
.SP-nav-onglet li.actu a{
	background-image: url("onglet-actu.gif");
}
.SP-nav-onglet li.actu a:hover, .SP-nav-onglet li.actu a.SP-onglet-actif{
	background-image: url("onglet-actu-on.gif");
}
.SP-nav-onglet li.dossier a{
	background-image: url("onglet-dossier.gif");
}
.SP-nav-onglet li.dossier a:hover, .SP-nav-onglet li.dossier a.SP-onglet-actif{
	background-image: url("onglet-dossier-on.gif");
}
.SP-nav-onglet li.newsletter a{
	background-image: url("onglet-newsletter.gif");
	padding-top: 45px;
	height: 18px;
}
.SP-nav-onglet li.newsletter a:hover, .SP-nav-onglet li.newsletter a.SP-onglet-actif{
	background-image: url("onglet-newsletter-on.gif");
}
.SP-contenu-onglet{
	width: 790px;
	float: right;
	color: #666;
}
.SP-contenu-onglet h2{
	color: #00357e;
	font-size: 1.45em;
	margin-bottom: 10px;
}
.SP-texte-onglet{
	width: 515px;
	padding-top: 15px;
	float: left;
	height: 193px;
}
.SP-onglet-media{
	width: 261px;
	float: right;
}
.SP-onglet-basG{
	margin-left: 60px;
	width: 40%;
	float: left;
}
.SP-onglet-basD{
	width: 40%;
	float: right;
	text-align: right;
}
.lire-suite{
	text-align: right;
}
.lire-suite a{
	background: url("puce-suite.gif") no-repeat 0 4px transparent;
	padding-left: 7px;
}
/* FIN Page Spectacle */