/* HOME
--------------------------------------------------------------------------------------------------------------------------------------*/

.tripleCol{
	width:100%;
	overflow:hidden;
}

.tripleCol h2{
	height:37px;
	margin-bottom:10px;
}

.tripleCol h2 span{
	position:absolute;
	left:-9999px;
}

.tripleCol .col2{
	width:273px;
	float:left;
	display:inline;
	margin-right:55px;
}

/********** COL 1 *********/

.tripleCol .col1{
	width:265px;
	float:left;
	display:inline;
	margin-right:61px; 
}

.tripleCol .col1 a{
	color:#d403e7;
}

.tripleCol .col1 h2{
	background:url(titre_actu.png) left top no-repeat;
}

.tripleCol .col1 .visu{
	width:100px;
	float:left;
}

.tripleCol .col1 .desc{
	float:left;
	width:165px;
}

.tripleCol .col1 .listVignettes{
	clear:both;
	margin-bottom:2px;
	padding-top:15px;
}

.tripleCol .col1 .listVignettes li{
	margin-right:1px;
	display:inline;
}

.tripleCol .col1 .listVignettes .last{
	margin:0;
}

/********** COL 3 *********/

.tripleCol .col3{
	width:213px;
	float:left;
}

.tripleCol .col3 .energies{
	background:url(titre_energies.png) left top no-repeat;
}

.tripleCol .col3 .contact{
	background:url(titre_contact.png) left top no-repeat;
}

/* Liens type */

.liensType{
	width:100%;
	overflow:hidden;
	margin:20px 0 35px;
}

.liensType li{
	width:115px;
	float:left;
	margin-bottom:10px;
}

.liensType .droite{
	width:95px;
}

.liensType a{
	color:#5f6062;
	padding-left:20px;
	background-repeat:no-repeat;
	background-position:left 3px;
}

.liensType .orange{background-image:url(square_orange.png)}
.liensType .violet{background-image:url(square_violet.png)}
.liensType .mauve{background-image:url(square_mauve.png)}
.liensType .bleu{background-image:url(square_bleu.png)}

/* PLAN
--------------------------------------------------------------------------------------------------------------------------------------*/

.pagePlan #menu{
	background-image:url(header_plan.jpg);
	height:232px;
}

/* MAILLAGE
--------------------------------------------------------------------------------------------------------------------------------------*/

.pageMaillage #menu{
	background-image:url(header_maillage.jpg);
	height:232px;
}

