/**
* CSS des styles evenementiels
**/

h2, .titreNiv2 {line-height:16px;}
/********** PREHOME ***********/
body.prehome{
   background-image:none;
   background-color:#000;
   /*
   background-image:url(http://gazdefrance.fr/ecxv1/dv/fr/fond3.jpg);
   background-repeat:repeat-x;
   background-color:#009790;
   */
}
/************** Position du lien "Passer l'annimation" ************/
/* Position du lien "Passer l'animation" */
#lienPasserAnim{
    text-align: center;
    margin-top: 15px;
}
/* Mise en forme du lien */
#lienPasserAnim a{
	color:#333;
	font-weight:bold;
}
.blockPrehome .txt_c{
    position: relative;
    /*top: 15px;*/
    /*left: 200px;*/
    margin-top:-669px;
    text-align:left !important;
    padding-left:20px;


}

.blockPrehome .txt_c a{
    color:#b1acf1;
    font-size:11px;
}
.blockPrehome .txt_c a:hover{
    color:#6050ef;

}
/**************************** Page d'accueil *********************************/
 .home .tripleCol .col1 .corps ul li h3 span a{
 color:#7BB2B0;
  }
  .home .tripleCol .col1 .corps ul li{
  border-bottom: dashed 1px #7BB2B0;
  margin-bottom:7px;
  }
  .home .tripleCol .col1 .corps ul li.dernier{
  border-bottom: none;
  margin-bottom:7px;
  }
  .home .tripleCol .col1, .tripleCol .col2{margin-right:40px;}
  .home .tripleCol .col2{width:310px; margin-top:20px;}

/**************************** Page Contact *********************************/
#contact_contenu a.style_bouton{
background:url('fond_demande_contacts.jpg') no-repeat;
color:#fff;
height:33px;
display:block;
margin-top:3px;
padding-top:3px;
padding-left:10px
}
#contact_contenu h3{
color:#4AB1AD;
font-weight:normal;
}
#contact_contenu #particulier, #contact_contenu #pro, #contact_contenu #numeros, #contact_contenu #ent, #contact_contenu #col, #contact_contenu #institu, #contact_contenu #cegibat{
width:260px;
margin-right:30px;
float:left;
height:135px;
margin-top:20px;
}
#contact_contenu #particulier, #contact_contenu #pro, #contact_contenu #numeros, #contact_contenu #ent{margin-top:9px;}
#contact_contenu #numeros h3{
margin-bottom:1px;
padding-top:23px;
}
#contact_contenu #numeros a{font-weight:bold}
                               /***********contact_ent***********/
  #page_contact_ent{background:url('logo_provalys.png') no-repeat 0px 0px;float:right;width:900px;}
  #page_contact_ent_contenu, #page_contact_nrj_contenu{width:610px;float:right;}
  #page_contact_ent h3, #page_contact_nrj h3{color:#0098D1;margin-top:30px;margin-bottom:12px;}
  #page_contact_ent h4{color:#D48AB7;}
  #page_contact_ent a, #page_contact_nrj a{background:url('ico_arr_menu.png') no-repeat 0px 3px; padding-left:10px;display:block;margin-top:6px;}

                               /***********contact_col***********/
  #page_contact_nrj{background:url('logo_energiescommunes.jpg') no-repeat 0px 0px;float:right;width:900px;}
  #page_contact_nrj h3{color:#AB99DA;}
  #page_contact_nrj h4{color:#60BFE2;}

/********** Menu univers (tout en bas) ***********/
#menuUnivers #accueilGDF a{color:#289e6e}
#menuUnivers #proTpeTpi a{color:#942c66}
#menuUnivers #entreprises a{color:#041e88}
#menuUnivers #collectivite a{color:#cb67b2}
#menuUnivers #grandsComptes a{color:#031669}
#menuUnivers #proBatiment a{color:#838ebb}
#menuUnivers #GDFSuez a{color:#009088}
#menuUnivers #sitesGroupe a{color:#4b4b4b}

/********* Recherche SEMANTIA **************/
#pageRecherche #recapRecherche .rightCol h3{display:none;}

/********* Toutes les Actualités **************/
#actualites h3{line-height:16px;}


