#dfoot #footer-img {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/media686558.png',sizingMethod='image');
}
#dfoot>#footer-img {
	background: url(media686558.png) 0 0 no-repeat;
}
