li p {
	padding: 0;
	margin: 0;
}
.flottantdroit {
	height: 22px;
	border: 1px solid #FFF;
	margin: 0px !important;
	padding: 0px !important;
}
.flottantfinliste {
	display: none;
}
.standardImage .imageaveclegende img {
	margin: 5px;
}
.standardImage .imageaveclegende img a {
	padding: 5px;
	border: 2px solid #7B9440;
}
.standardImage .imageaveclegende .legende {
	max-width: 90px;
	color: #666666;
	font-style: normal;
	min-width: 200px;
	padding-left: 5px;
	font-weight: normal;
	font-size: 9px;
}
.thumbnailImage img {
	padding: 2px;
	margin: 5px;
}
.thumbnailImage a img {
	border: 2px solid #7B9440 !important;
}
#content .pageBlockLayout {
	clear: both;
	width: 536px;
	margin: 0px;
	display: block;
	font-size: 12px;
	padding: 0px;
}
.articleLayout {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.articleLayout .titleBlock {
	clear: both;
	padding: 0px;
	margin: 0px;
}
h1.contenu {
	display: none;
}
#divcontent {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.articleLayout div.resume {
	color: #849C4E;
	font-weight: bold;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.articleLayout p.resume {
	padding: 0px !important;
	margin: 0px !important;
}
.articleLayout .accroche {
	font-style: italic;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.articleLayout .corps {
	padding: 0px;
	margin: 0px;
}
.articleLayout div.flottantfin {
	margin: 0px 0px 0px 0px;
}
.calendarLayout {
	width: 100%;
	font-size: 12px;
	margin: 0px;
}
.newsLayout {
	width: 100%;
	font-size: 12px;
	margin: 0px;
}
#content .calendarLayout h3.contenu {
	border-bottom: 1px dashed #DDDCD7;
	background-image: url('http://www.valdoise.fr/img/bgH3ContentCalendar.gif');
	background-repeat: no-repeat;
	background-color: #F8F8EC;
	border-top: 1px dashed #DDDCD7;
	font-size: 14px;
	padding: 4px 0px 3px 34px;
}
#content .calendarLayout .resume {
	padding: 0px !important;
	margin: 0px !important;
}
#content .calendarLayout .elementsCategorie {
}
#content .calendarLayout .elementsCategorie td {
	font-size: 11px;
}
#content .calendarLayout .elementsCategorie #elementlisteagenda #calendarLabel {
	color: #4D4D4D;
	font-weight: bold;
	font-size: 12px;
}
#content .calendarLayout .elementsCategorie #elementlisteagenda #calendarEventDate {
	color: #7B9440;
}
#content .calendarLayout .elementsCategorie #elementlisteagenda #calendarEventLocation {
	color: #4D4D4D;
}
#content .calendarLayout .elementsCategorie #elementlisteagenda #calendarContact {
	color: #8BA1D2;
}
#content .calendarLayout .elementsCategorie #elementlisteagenda #calendarIntLink {
	color: #8BA1D2;
}
#content .calendarLayout .elementsCategorie #elementlisteagenda #calendarExtLink {
	color: #8BA1D2;
}
#content .calendarLayout .elementsCategorie #elementlisteagenda #calendarDescription {
	color: #4D4D4D;
}
#content .calendarLayout .elementsCategorie #elementlisteagenda #calendarLabel {
	color: #4D4D4D;
}
.ThRows {
	color: #7B9440 !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	font-weight: bold;
	font-size: 13px;
}
.TrOdd select {
	font-size: 11px;
}
.TrOdd input {
	font-size: 11px;
}
.button {
	font-size: 11px;
}
.filterBlockLayout h3.contenu {
	background-image: url('http://www.valdoise.fr/img/btNewsletter.gif');
	margin: 0px 0px 7px 0px !important;
	background-position: left;
	clear: both;
	font-size: 12px !important;
	background-repeat: no-repeat;
	border-bottom: 4px solid #DCE19E;
	padding: 0px 0px 0px 20px !important;
	height: 17px;
}
.filterBlockLayout .filterDesc {
	color: #849C4E;
	font-weight: bold;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.filterBlockLayout .accroche {
	color: #849C4E;
	font-weight: bold;
}
.filterBlockLayout .filterContent a {
	font-style: normal !important;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	text-decoration: none !important;
	margin: 2px 2px 2px 5px;
	color: #486DBB !important;
	background-position: left;
	font-size: 11px !important;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 12px;
}
.filterBlockLayout .filterLinkAll a {
	font-style: italic !important;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	text-decoration: underline;
	margin: 4px;
	color: #486DBB;
	background-position: left;
	font-size: 12px !important;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 12px;
}
.filterBlockLayout .filterLinkAll a:link {
	font-style: italic !important;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	text-decoration: underline;
	margin: 4px;
	color: #486DBB;
	background-position: left;
	font-size: 12px !important;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 12px;
}
.filterBlockLayout .filterLinkAll a:visited {
	font-style: italic !important;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	text-decoration: underline;
	margin: 4px;
	color: #486DBB;
	background-position: left;
	font-size: 12px !important;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 12px;
}
.filterBlockLayout .filterLinkAll a:hover {
	font-style: italic !important;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	text-decoration: underline;
	margin: 4px;
	color: #486DBB;
	background-position: left;
	font-size: 12px !important;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 12px;
}
.filterBlockLayout .filterLinkAll a:active {
	font-style: italic !important;
	background-image: url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif');
	text-decoration: underline;
	margin: 4px;
	color: #486DBB;
	background-position: left;
	font-size: 12px !important;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 12px;
}
.articleLayout h2.contenu {
	border-top: 1px dashed #DDDCD7;
	font-style: normal;
	width: 95%;
	background-image: url('http://www.valdoise.fr/img/bgH2ContentAccroche.gif');
	background-color: #F8F8EC;
	color: #FE341E;
	background-position: left;
	border-bottom: 1px dashed #DDDCD7;
	font-size: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-repeat: repeat-y;
	font-weight: bold;
	padding: 5px 0px 8px 30px;
}
.linksLayout h2.contenu {
	border-top: 1px dashed #DDDCD7;
	font-style: normal;
	width: 95%;
	background-image: url('http://www.valdoise.fr/img/bgH2ContentAccroche.gif');
	background-color: #F8F8EC;
	color: #FE341E;
	background-position: left;
	border-bottom: 1px dashed #DDDCD7;
	font-size: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-repeat: repeat-y;
	font-weight: bold;
	padding: 5px 0px 8px 30px;
}
.calendarLayout h2.contenu {
	border-top: 1px dashed #DDDCD7;
	font-style: normal;
	width: 95%;
	background-image: url('http://www.valdoise.fr/img/bgH2ContentAccroche.gif');
	background-color: #F8F8EC;
	color: #FE341E;
	background-position: left;
	border-bottom: 1px dashed #DDDCD7;
	font-size: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-repeat: repeat-y;
	font-weight: bold;
	padding: 5px 0px 8px 30px;
}
.newsLayout h2.contenu {
	border-top: 1px dashed #DDDCD7;
	font-style: normal;
	width: 95%;
	background-image: url('http://www.valdoise.fr/img/bgH2ContentAccroche.gif');
	background-color: #F8F8EC;
	color: #FE341E;
	background-position: left;
	border-bottom: 1px dashed #DDDCD7;
	font-size: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-repeat: repeat-y;
	font-weight: bold;
	padding: 5px 0px 8px 30px;
}
.reportLayout h2.contenu {
	border-top: 1px dashed #DDDCD7;
	font-style: normal;
	width: 95%;
	background-image: url('http://www.valdoise.fr/img/bgH2ContentAccroche.gif');
	background-color: #F8F8EC;
	color: #FE341E;
	background-position: left;
	border-bottom: 1px dashed #DDDCD7;
	font-size: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-repeat: repeat-y;
	font-weight: bold;
	padding: 5px 0px 8px 30px;
}
.directoryLayout h2.contenu {
	border-top: 1px dashed #DDDCD7;
	font-style: normal;
	width: 95%;
	background-image: url('http://www.valdoise.fr/img/bgH2ContentAccroche.gif');
	background-color: #F8F8EC;
	color: #FE341E;
	background-position: left;
	border-bottom: 1px dashed #DDDCD7;
	font-size: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-repeat: repeat-y;
	font-weight: bold;
	padding: 5px 0px 8px 30px;
}
.downloadableLayout h2.contenu {
	border-top: 1px dashed #DDDCD7;
	font-style: normal;
	width: 95%;
	background-image: url('http://www.valdoise.fr/img/bgH2ContentAccroche.gif');
	background-color: #F8F8EC;
	color: #FE341E;
	background-position: left;
	border-bottom: 1px dashed #DDDCD7;
	font-size: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-repeat: repeat-y;
	font-weight: bold;
	padding: 5px 0px 8px 30px;
}
.faqLayout h2.contenu {
	border-top: 1px dashed #DDDCD7;
	font-style: normal;
	width: 95%;
	background-image: url('http://www.valdoise.fr/img/bgH2ContentAccroche.gif');
	background-color: #F8F8EC;
	color: #FE341E;
	background-position: left;
	border-bottom: 1px dashed #DDDCD7;
	font-size: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-repeat: repeat-y;
	font-weight: bold;
	padding: 5px 0px 8px 30px;
}
.formsLayout h2.contenu {
	border-top: 1px dashed #DDDCD7;
	font-style: normal;
	width: 95%;
	background-image: url('http://www.valdoise.fr/img/bgH2ContentAccroche.gif');
	background-color: #F8F8EC;
	color: #FE341E;
	background-position: left;
	border-bottom: 1px dashed #DDDCD7;
	font-size: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-repeat: repeat-y;
	font-weight: bold;
	padding: 5px 0px 8px 30px;
}
.galleryLayout h2.contenu {
	border-top: 1px dashed #DDDCD7;
	font-style: normal;
	width: 95%;
	background-image: url('http://www.valdoise.fr/img/bgH2ContentAccroche.gif');
	background-color: #F8F8EC;
	color: #FE341E;
	background-position: left;
	border-bottom: 1px dashed #DDDCD7;
	font-size: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-repeat: repeat-y;
	font-weight: bold;
	padding: 5px 0px 8px 30px;
}
.mugshotLayout h2.contenu {
	border-top: 1px dashed #DDDCD7;
	font-style: normal;
	width: 95%;
	background-image: url('http://www.valdoise.fr/img/bgH2ContentAccroche.gif');
	background-color: #F8F8EC;
	color: #FE341E;
	background-position: left;
	border-bottom: 1px dashed #DDDCD7;
	font-size: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-repeat: repeat-y;
	font-weight: bold;
	padding: 5px 0px 8px 30px;
}
#reportLayout3 #footerLinks {
	border-right: 1px solid white !important;
	border-top: 1px solid white !important;
}
#reportLayout3 #footerOthers {
	border-top: 1px solid white !important;
}
td.couleur2 {
	color: #849C4E !important;
}
.couleur5 h3 {
	color: #849C4E;
	font-weight: bold;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: left;
}
.liencontenuon {
	font-size: 10px;
}
.liencontenuon a {
	font-size: 10px;
}
.liencontenuoff {
	font-size: 10px;
}
.liencontenuoff a {
	font-size: 10px;
}
