.flottantdroit{
	margin: 0px !important;
	padding: 0px !important;
	height: 22px;
	border: 1px solid #FFF;
}
.flottantfinliste{
	display: none;
}
.standardImage .imageaveclegende img {
	margin: 5px 8px 5px 0px;
}
.standardImage .imageaveclegende img a {
	padding: 5px;
	border: 2px solid #7B9440;
}
.standardImage .imageaveclegende .legende {
	max-width: 90px;
	font-style: normal;
	padding-left: 5px;
	font-weight: normal;
	font-size: 9px;
	min-width: 200px;
}
.thumbnailImage img {
	padding: 2px;
	margin: 5px;
}
.thumbnailImage a img {
	border: 2px solid #7B9440 !important;
}
