.listeFleches {
	padding-left: 3px;
	background: transparent url('http://www.valdoise.fr/img/arrow_savoirplus_content.gif') 0 4px no-repeat;
	display: block;
	list-style: none;
}
.elementsListe {
	text-align: left;
	font-size: 11px !important;
}
.elementsListe a {
	color: #486DBB !important;
	font-style: normal !important;
	font-size: 11px !important;
	padding: 0px !important;
}
.listeImage {
	padding: 3px 8px 3px 3px;
}
.linkBack a {
	color: #000 !important;
	font-weight: normal;
	font-size: 11px !important;
}
.categorie h3.contenu {
	border-top: 1px dashed #617533 !important;
	width: 95% !important;
	background-image: url('http://www.valdoise.fr/img/pictoCat1.gif') !important;
	background-color: #E8E8BF !important;
	margin: 5px 0px 5px 0px !important;
	color: #7B9440 !important;
	background-repeat: no-repeat !important;
	font-size: 12px !important;
	border-bottom: 1px dashed #617533 !important;
	padding: 0px 0px 3px 30px !important;
	vertical-align: middle;
	height: 12px !important;
}
.categorie h3.contenu a {
	color: #7B9440 !important;
	font-size: 12px !important;
}
.sousCategorie h3.contenu {
	font-style: normal;
	width: 100% !important;
	background-image: url('http://www.valdoise.fr/img/pictoCat2.gif') !important;
	background-color: #fff !important;
	margin: 5px 0px 5px 0px !important;
	border: none !important;
	color: #000 !important;
	font-size: 12px !important;
	background-repeat: no-repeat !important;
	border-bottom: 4px solid #DCE19E !important;
	font-weight: bold;
	padding: 4px 0px 0px 25px !important;
}
.sousCategorie h3.contenu a {
	color: #000 !important;
	font-style: normal;
	font-weight: bold;
	font-size: 12px !important;
}
.calendarLabel {
	color: #7B9440;
	font-weight: bold;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
}
.linksLabel {
	color: #7B9440;
	font-weight: bold;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
}
.downloadableLabel {
	color: #7B9440;
	font-weight: bold;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
}
.galleryLabel {
	color: #7B9440;
	font-weight: bold;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
}
.directoryName {
	color: #7B9440;
	font-weight: bold;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
}
.mugshotLastName {
	color: #7B9440;
	font-weight: bold;
	margin: 3px 0px 3px 0px;
	font-size: 12px;
}
.galleryImage {
	margin: 5px 0px 0px 0px;
}
.directoryEmail a {
	font-style: normal !important;
	padding: 0px !important;
}
.directoryExtlink a {
	font-style: normal !important;
	padding: 0px !important;
}
.directoryIntlink a {
	font-style: normal !important;
	padding: 0px !important;
}
ol.index li {
	color: #486DBB !important;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
	text-align: left;
}
ol li {
	color: #486DBB !important;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
	text-align: left;
}
ol li a {
	color: #486DBB !important;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
	text-align: left;
}
ul li {
	margin: 3px 0px 2px 0px;
}
ul li a {
	color: #486DBB;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	font-size: 11px !important;
	text-align: left;
}
li#nomarker {
	background-image: none  !important;
	color: #000000 !important;
	font-size: 11px !important;
	text-align: left;
}
.faqResponse {
	margin-top: 5px;
	color: #7B9440;
}
.faqLayout h3.contenu {
	background-image: none !important;
	padding-left: 0px !important;
	font-size: 12px !important;
	padding-right: 0px !important;
}
.faqLayout h3.contenu a {
	background-image: none !important;
	padding-left: 0px !important;
	font-size: 12px !important;
	padding-right: 0px !important;
}
.faqLayout .categorie h3.contenu {
	background-image: none !important;
	padding-left: 0px !important;
	font-size: 12px !important;
	padding-right: 0px !important;
}
.faqLayout .categorie h3.contenu a {
	background-image: none !important;
	padding-left: 0px !important;
	font-size: 12px !important;
	padding-right: 0px !important;
}
.faqLayout .categorie h3.contenu a img {
	padding-left: 5px !important;
}
.faqLayout .sousCategorie h3.contenu {
	background-image: none !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.faqLayout .sousCategorie h3.contenu a {
	background-image: none !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.categoriePictoPlus {
	padding-left: -10px !important;
	padding-right: 0px !important;
}
