.menufmt0 {
	position: absolute;
	width: 169px;
	z-index: 10;
	display: none;
	top: 280px;
	left: 70px;
}
.menufmt0 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.menufmt0 li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	list-style-image: none;
}
.menufmt1 {
	position: absolute;
	width: 169px;
	z-index: 10;
	display: none;
	top: 280px;
	left: 70px;
}
.menufmt1 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.menufmt1 li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	list-style-image: none;
}
.menufmt2 {
	position: absolute;
	width: 169px;
	z-index: 10;
	display: none;
	top: 280px;
	left: 70px;
}
.menufmt2 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.menufmt2 li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	list-style-image: none;
}
.menufmt3 {
	position: absolute;
	width: 169px;
	z-index: 10;
	display: none;
	top: 280px;
	left: 70px;
}
.menufmt3 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.menufmt3 li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	list-style-image: none;
}
#menufmt0 {
	position: absolute;
	width: 152px;
	z-index: 9;
	top: 320px;
	left: 848px;
}
#menufmt0 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#menufmt0 ul.mlvl1 {
	position: absolute;
	width: 148px;
	top: 0px;
	left: 0px;
}
#menufmt0 li {
	visibility: hidden;
	list-style-type: none;
	margin: 0;
	padding: 0;
	list-style-image: none;
}
#menufmt0 li li {
	height: 40px;
	background-image: url(http://www.valdoise.fr/img/onglet_blanc.gif);
	visibility: visible;
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 137px;
	padding: 3px 5px 0 0;
}
#menufmt0 li li div {
	width: 125px;
	text-align: center;
	padding: 3px 6px 0 6px;
}
#menufmt0 li li>div {
	width: 113px;
}
#menufmt0 li li div a {
	visibility: visible;
	text-decoration: none;
	color: #5390b7 !important;
	padding-right: 0;
	font-size: 0.95em !important;
	font-family: Geneva, Arial, Verdana, Sans-serif !important;
	line-height: 1em;
	font-weight: bold;
	padding-left: 0;
}
#menufmt0 li.line3 a {
	line-height: 1.7em;
}
#menufmt0 li.line6 a {
	line-height: 1.7em;
}
#menufmt0 li.final a {
	line-height: 1.7em;
}
#menufmt0 li li div a:hover {
	color: black !important;
}
#menufmt1 {
	position: absolute;
	z-index: 9;
	display: block;
	left: 23px;
	top: 210px;
}
#menufmt1 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#menufmt1 li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	list-style-image: none;
}
#menufmt1 li div a {
	visibility: hidden;
}
#menufmt1 ul.mlvl1 li div a {
	visibility: visible;
	color: #5159A2;
	padding-left: 0;
	font-family: Geneva, Arial, Helvetica, Sans-serif;
	text-transform: lowercase;
	text-decoration: none;
	font-size: 12px !important;
}
#menufmt1 li li div:hover a {
	color: black !important;
}
#menufmt1 ul.mlvl1 {
	position: absolute;
	width: 960px;
	left: 0;
	top: 0;
}
#menufmt1 ul.mlvl1 li {
	height: 36px;
	background-image: url(http://www.valdoise.fr/img/bg_menu_thema.gif);
	background-position: -50px 0;
	background-repeat: no-repeat;
	width: 98px;
	float: left;
	text-align: center;
	padding-right: 6px;
}
#menufmt1 ul.mlvl1>li {
	width: 90px;
}
#menufmt1 ul.mlvl1 li.line0 {
	background-position: 0 0;
}
#menufmt1 ul.mlvl1 li.line9 {
	background-position: 100% 0;
}
#menufmt1 ul.mlvl1 li:hover {
	background-position: -50px 0;
	background-image: url(http://www.valdoise.fr/img/bg_menu_thema_hover.gif);
	background-repeat: no-repeat;
}
#menufmt1 ul.mlvl1 li.line0:hover {
	background-position: 0 0;
}
#menufmt1 ul.mlvl1 li.line9:hover {
	background-position: 100% 0;
}
#menufmt1 ul.mlvl1 li.line0 {
	width: 75px;
}
#menufmt1 ul.mlvl1 li.line8 {
	width: 97px;
}
#menufmt1 ul.mlvl1>li.line8 {
	width: 101px;
}
#menufmt1 ul.mlvl1 li div {
	padding-top: 3px;
	padding-left: 18px;
	background: url(http://www.valdoise.fr/img/sep_menu_thema.gif) 6px 50% no-repeat;
	padding-bottom: 3px;
	line-height: 28px;
}
#menufmt1 ul.mlvl1 li.line0 div {
	background-image: none;
	padding-left: 10px;
}
#menufmt1 ul.mlvl1 li.line2 div {
	line-height: 14px;
}
#menufmt1 ul.mlvl1 li.line3 div {
	line-height: 14px;
}
#menufmt1 ul.mlvl1 li.line4 div {
	line-height: 14px;
}
#menufmt2 {
	position: absolute;
	width: 950px;
	z-index: 9;
	display: block;
	left: 25px;
	top: 26px;
}
#menufmt2 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#menufmt2 li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	list-style-image: none;
}
#menufmt2 li div a {
	visibility: hidden;
}
#menufmt2 li li div a {
	visibility: visible;
	color: black !important;
	padding-left: 0;
	font-family: Geneva, Arial, Helvetica, Sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px !important;
}
#menufmt2 li li div a:hover {
	text-decoration: underline;
}
#menufmt2 ul.mlvl1 {
	top: 0;
	position: absolute;
	left: 0;
}
#menufmt2 ul.mlvl1 li {
	float: left;
}
#menufmt2 ul.mlvl1 li div {
	padding-left: 13px;
	background: url(http://www.valdoise.fr/img/sep_menu_top.gif) 0 0 no-repeat;
	line-height: 20px;
	padding-right: 7px;
}
#menufmt2 ul.mlvl1 li.line0 div {
	background-image: none;
}
#menufmt3 {
	position: absolute;
	width: 169px;
	z-index: 10;
	display: none;
	top: 280px;
	left: 70px;
}
#menufmt3 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#menufmt3 li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	list-style-image: none;
}
#menufmt4 {
	position: absolute;
	width: 169px;
	z-index: 10;
	display: none;
	top: 280px;
	left: 70px;
}
.menufmt4 {
	display: none;
}
#menufmt4 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#menufmt4 li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	list-style-image: none;
}
#menufmt5 {
	position: absolute;
	display: none;
	z-index: 9;
}
#menufmt6 {
	position: absolute;
	display: none;
	z-index: 9;
}
#menufmt7 {
	position: absolute;
	display: none;
	z-index: 9;
}
#menufmt8 {
	position: absolute;
	display: none;
	z-index: 9;
}
#footer-oom {
	position: absolute;
	z-index: 3;
	left: 250px;
	top: 40px;
}
#footer-oom ul {
	padding: 0;
	margin: 0;
}
#footer-oom li {
	margin-left: 5px;
	background: url(http://www.valdoise.fr/img/pictoFooter.jpg) 0 center no-repeat;
	font-weight: normal;
	list-style: none;
	padding: 2px 0px 3px 12px;
	float: left;
	list-style-image: none;
}
#footer-oom li a {
	color: #666 !important;
	padding-left: 0px !important;
	font-size: 10px !important;
	cursor: pointer;
}
#footer-oom li a:hover {
	text-decoration: underline;
}
#footer-oom li.lineDC {
	padding: 3px 2px 3px 0;
	background: url(blank.gif) 0 center no-repeat;
}
#footer-oom li.line0 {
	background: url(blank.gif) 0 center no-repeat;
}
#footer-oom li.lineBO {
	background: url(blank.gif) 0 center no-repeat;
	padding: 3px 2px 3px 0;
}
#footer-oom li.lineBO a {
	cursor: pointer;
}
#footer-oom li.lineMP {
	padding-right: 10px;
}
#footer-oom li.lineMP a {
	cursor: pointer;
}
