#login {
	top: -100px;
	left: 250px;
	z-index: 20;
}
#partage {
	height: 20px;
	width: 205px;
	z-index: 20;
	top: -90px;
	left: 300px;
	padding: 0;
}
#spartner {
	top: -190px;
	left: 5px;
}
#dpartner {
	top: -310px;
	left: 430px;
}
#videoframe {
	margin: 0 0 0 4px;
}
#video-text {
	display: none;
	font-family: Sans-serif, Arial, Verdana;
}
#video-menu {
	display: table;
	background: white url(http://www.valdoise.fr/img/video-inter-3.gif) -10px 0 repeat-y;
}
#video-menu .video-top {
	padding-left: 3px;
	background: url(http://www.valdoise.fr/img/video-top-2.gif) -12px bottom no-repeat;
	height: 20px;
}
#video-menu .video-inter {
	height: 90px;
}
#video-menu .video-bottom {
	padding-left: 3px;
	height: 3px;
}
#video-menu .video-bottom a {
	padding-bottom: 20px;
}
#video-menu ul {
	list-style-type: none;
	width: 298px;
	margin: 0;
	padding: 4px 0 0 9px;
}
#video-menu>ul {
	width: 290px;
}
#video-menu ul li {
	float: left;
	width: 96px;
	list-style-image: none;
}
#video-menu ul li div {
	width: 90px;
	padding-top: 50px;
}
#video-menu ul li div a {
	line-height: 1em;
	padding-right: 5px;
	font-size: 10px;
}
#video-menu ul li.line0 div {
	background: url(http://www.valdoise.fr/media/media773976.jpg) 0 0 no-repeat;
}
#video-menu ul li.line1 div {
	background: url(http://www.valdoise.fr/media/media619927.jpg) 0 0 no-repeat;
}
#video-menu ul li.final div {
	background: url(http://www.valdoise.fr/media/media770753.jpg) 0 0 no-repeat;
}
#telechargez-le-mag {
	height: 173px;
	position: absolute;
	width: 140px;
	z-index: 11;
	display: block;
	top: 700px;
	left: 855px;
}
#telechargez-le-mag img {
	border: 0;
}
#telechargez-le-mag .title {
	display: none;
}
#telechargez-le-mag .corps a {
	color: #005783;
	font-family: Sans-serif, Arial, Verdana;
	text-decoration: none;
	line-height: 1em;
	font-size: 1em;
}
#telechargez-le-mag .corps a:hover {
	color: gray;
}
.myDiapo {
	visibility: visible !important;
}
#banner {
	height: 142px;
	position: absolute;
	width: 740px;
	z-index: 16;
	top: 0;
	left: 0;
}
#diapoblock {
	height: 142px;
	position: absolute;
	width: 740px;
	z-index: 6;
	display: block;
	top: 56px;
	left: 23px;
}
#diapobase {
}
#diapobase .top {
	display: none;
}
#diapotexttop {
	display: none;
}
#diapobase .inter {
	position: relative;
	top: 0;
	left: 0;
}
#diapo {
	height: 142px;
	position: absolute;
	background: url(blank.gif) 0 0 no-repeat;
	width: 740px;
	display: block;
	padding: ;
	overflow: hidden;
}
#diapobase .bottom {
	display: none;
}
#diapotextbottom {
	display: none;
}
#diapomask {
	display: block;
}
#coordblock {
	width: 150px;
	left: 45px;
	background-color: #FFF;
	border: 1px solid #000;
	position: absolute;
	z-index: 11;
	display: none;
	top: 450px;
	height: 150px;
}
#coordblock .top {
}
#coordblock .inter {
}
#coordonnees {
	position: absolute;
	background-color: transparent;
	width: 150px;
	left: 0;
	top: 0;
}
#coordonnees .title {
	display: none;
}
#coordonnees .corps h2.contenu {
	display: none;
}
#coordonnees .corps ul li {
	list-style-type: none;
	margin: 0;
	line-height: 10px;
	padding: 3px 5px 3px 5px;
	float: left;
	list-style-image: none;
}
#coordonnees .corps p {
	line-height: 1.1em;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
}
#coordonnees .corps p a {
	color: #FFF;
}
#coordblock .bottom {
}
#share {
	position: absolute;
	width: 385px;
	left: 160px;
	top: -260px;
}
#share .bcontent ul {
	width: 500px;
}
#share .bcontent li.center {
	width: 470px;
}
#share .bcontent li.middle li {
	height: 225px;
}
#share .btitle ul {
	width: 460px;
}
#share .btitle li.center {
	width: 415px;
}
