/*@CHARSET "ISO-8859-1";*/

#blocVideo
{
	font-family: Arial, Helvetica;
	width: 300px;
	/*border: 1px dashed blue;*/
	font-family: Arial, Helvetica;
	text-align: justify;
	margin-bottom: 15px;
	margin-right: 0px;
	margin-left: 9px;
	padding: 0px;
}

#blocVideo a.art
{
	display: block;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	color: #000;
	background-color: #eee;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	padding: 3px;
}

#blocVideo a .co
{
	color: #3399FF;
}

#blocVideo a .hp
{
	color: #DB0000;
}

#blocVideo .more
{
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
}

#blocVideo .more a
{
	text-decoration: none;
}

.kewego
{
	position: relative;
	display: block;
}

#blocVideo .kewego
{
	height: 225px;
}

.acr .kewego
{
	height: 188px;
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
}

.kewego img.kewego_video
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.kewego img.kewego_watermark
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
}
