/*@CHARSET "ISO-8859-1";*/

.sbx
{
	width: 50px;
	display: block;
	float: right;
	font-family: Arial, Helvetica;
	font-size: 10px;
	margin-left: 3px;
	margin-bottom: 10px;
	padding: 0px;
}

.sbx .l
{
	display: block;
	text-align: center;
	font-style: italic;
	padding-top: 1px;
}

.sbx .vo,
.sbx .vu
{
	display: block;
	text-align: center;
	width: 50px;
	height: 30px;
	padding: 0px;
}

.sbx .vo
{
	background-color: #ff8888;
	background-image:url(http://www.nicematin.com/edito/share/img/commun/bg/bg_counter_top2.png);
	background-repeat:no-repeat;
	text-decoration: none;
	color: black;
	background-position: top;
}
	
.sbx .vu
{
	background-color: #8888ff;
	background-image:url(http://www.nicematin.com/edito/share/img/commun/bg/bg_counter_bottom2.png);
	background-repeat:no-repeat;
	text-decoration: none;
	color: black;
	background-position: bottom;
}

.sbx .wo
{
	display: block;
	text-align: center;
	height: 30px;
	width: 50px;
	padding: 0px;
	background-color: #888888;
	background-image:url(http://www.nicematin.com/edito/share/img/commun/bg/bg_counter_top_deja2.png);
	background-repeat:no-repeat;
	text-decoration: none;
	color: black;
	background-position: top;
}

.sbx .wu
{
	display: block;
	text-align: center;
	height: 30px;
	width: 50px;
	padding: 0px;
	background-color: #888888;
	background-image:url(http://www.nicematin.com/edito/share/img/commun/bg/bg_counter_bottom_deja2.png);
	background-repeat:no-repeat;
	text-decoration: none;
	color: black;
	background-position: bottom;
}

.sbx .nb
{
	font-size: 13px;
	font-weight: bold;
}

.sbx .wu .nb
{
	color: #0066FF;
}

.sbx .wo .nb
{
	color: #FF0066;
}

#ctnArticlesTag .a.rd .sbx .l,
#ctnArticlesRubrique .a.rd .sbx .l
{
	display: none;
}

#ctnArticlesTag .a.rd .sbx .vu,
#ctnArticlesTag .a.rd .sbx .wu,
#ctnArticlesTag .a.rd .sbx .vo,
#ctnArticlesTag .a.rd .sbx .wo,
#ctnArticlesRubrique .a.rd .sbx .vu,
#ctnArticlesRubrique .a.rd .sbx .wu,
#ctnArticlesRubrique .a.rd .sbx .vo,
#ctnArticlesRubrique .a.rd .sbx .wo
{
	height: 16px;
}
