/*@CHARSET "ISO-8859-1";*/

#ctnGaleryPhoto
{
	width:300px;
	margin-bottom:15px;
	margin-left: 9px;
	margin-right:0px;
	padding:0px;
}

#ctnGaleryPhoto #galeryPhotoTitre
{
	background-color:#EAEAEA;
	background-image:url(http://www.nicematin.com/edito/share/img/commun/bg/bg_gondole_newsletter.png);
	background-repeat:no-repeat;
	color:#00008B;
	font-size:13px;
	font-weight:bold;
	padding:2px 5px;
	text-align:center;
}

#ctnGaleryPhoto #ctnPhoto
{
	/*height:390px;*/
	display: block;
	font-family:Arial,Helvetica;
	border:1px solid #808080;
	border-top:0px;
	padding-top: 3px;
}

#ctnGaleryPhoto #ctnPhoto #dPTitre
{
	font-family: Arial, Helvetica, Verdana, Helvetica;
	font-size:14px;
	font-weight:bold;
	color:#085CB0;
}

#ctnGaleryPhoto #ctnPhoto .photo
{
	float:left;
	margin-bottom:3px;
	margin-left:3px;
}

#ctnGaleryPhoto #ctnPhoto .spacer
{
	clear: both;
}

#ctnGaleryPhoto #ctnPhoto .photo img.photo
{
	width:90px;
	height:90px;
}

#ctnGaleryPhoto #ctnPhoto .inner
{
	background-image: url(http://www.nicematin.com/edito/share/img/commun/loading.gif);
	background-repeat: no-repeat;
	background-position: top left;
	width: 100px;
	height: 100px;
}