/*@CHARSET "ISO-8859-1";*/

#infoTags
{
	font-family: Arial, Helvetica;
	width: 300px;
	/*border: 1px dashed blue;*/
	font-family: Arial, Helvetica;
	text-align: justify;
	margin-bottom: 15px;
	margin-right: 0px;
	margin-left: 9px;
	padding: 0px;
}

#infoTags .inner
{
	background-image: url(http://www.nicematin.com/edito/share/img/commun/loading.gif);
	background-repeat: no-repeat;
	background-position: top left;
	width: 100px;
	height: 100px;
}

#infoTags .head
{
	background-color: red;
	color: #ffffff;
	/*height: 22px;*/
	background-image: url(http://www.nicematin.com/edito/share/img/commun/bg/bg_gondole_tag.png);
	background-repeat: no-repeat;
	font-size: 13px;
	font-weight: bold;
	padding: 2px 5px;
	text-align: center;
}

#infoTags .tags
{
	
	padding: 3px;
	/*overflow: scroll;*/
	/*overflow-y: scroll;*/
	/*height: 190px;*/
	/*background-color: #eeeeee;*/
	border: 1px solid #808080;
	border-top: 0px;
}

#infoTags .t
{
	text-decoration: none;
}

#infoTags .t.s1
{
	font-size: 10px;
	color: #200;
	font-weight: 400;
}
#infoTags .t.s2
{
	font-size: 11px;
	color: #306;
	font-weight: 433;
}
#infoTags .t.s3
{
	font-size: 12px;
	color: #047;
	font-weight: 466;
}
#infoTags .t.s4
{
	font-size: 13px;
	color: #805;
	font-weight: 500;
}
#infoTags .t.s5
{
	font-size: 14px;
	color: #764;
	font-weight: 533;
}
#infoTags .t.s6
{
	font-size: 15px;
	color: #087;
	font-weight: 566;
}
#infoTags .t.s7
{
	font-size: 16px;
	color: #36f;
	font-weight: 600;
}
#infoTags .t.s8
{
	font-size: 17px;
	color: #f0a;
	font-weight: 633;
}
#infoTags .t.s9
{
	font-size: 18px;
	color: #ac8;
	font-weight: 666;
}
#infoTags .t.s10
{
	font-size: 19px;
	color: #95e;
	font-weight: 700;
}
#infoTags .t.s11
{
	font-size: 20px;
	color: #af0;
	font-weight: 733;
}
#infoTags .t.s12
{
	font-size: 21px;
	color: #8ab;
	font-weight: 766;
}
#infoTags .t.s13
{
	font-size: 22px;
	color: #f0b;
	font-weight: 800;
}
#infoTags .t.s14
{
	font-size: 23px;
	color: #df3;
	font-weight: 833;
}
#infoTags .t.s15
{
	font-size: 24px;
	color: #0ef;
	font-weight: 866;
}
#infoTags .t.s16
{
	font-size: 25px;
	color: #fa6;
	font-weight: 900;
}

#infoTags .t.c0
{
	color: #000000;
}

#infoTags .t.c1
{
	color: #CC0033;
}

#infoTags .t.c2
{
	color: #3399FF;  	
}

#infoTags .t.c3
{
	color: #6633CC;  	
}

#infoTags .t.c4
{
	color: #00CC00;  	
}

#infoTags .t.c5
{
	color: #FF8A02;  	
}

#infoTags .t:hover
{
	text-decoration: underline;
	color: #FF00FF;
}

