td {
	font-family:Verdana,Arial,Helvetica,sans-serif;
}

.menu {
	color:#FFFFFF;
	font-size:13px;
}

.menu a {
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
}

.menu a:hover {
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:underline;
}

.langue {
	color:#FFFFFF;
	font-size:12px;
}

.langue a {
	color:#FFFFFF;
	text-decoration:none;
}

.langue a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}

.sousmenu div {
	margin-left:10px;
}

.sousmenu div a {
	color:#4D4D4D;
	font-size:12px;
	text-decoration:none;
}

.sousmenu div a:hover {
	color:#4D4D4D;
	font-size:12px;
	text-decoration:underline;
}

.sousmenu div.titre a {
	color:#222E56;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
}

.sousmenu img {
	margin-top:10px;
	margin-bottom:10px;
}

.sousmenu div.titre a:hover {
	color:#222E56;
	font-size:13px;
	font-weight:bold;
	text-decoration:underline;
}


.actu {
	color:#000000;
	font-size:12px;
}

.actu a {
	color:#787264;
	font-size:12px;
	text-decoration:none;
}

.actu a:hover {
	color:#787264;
	font-size:12px;
	text-decoration:underline;
}

.pied {
	color:#B5C300;
	font-size:11px;
}

.pied a {
	color:#B5C300;
	text-decoration:none;
}

.pied a:hover {
	color:#B5C300;
	text-decoration:underline;
}

.pied2 {
	font-size:12px;
	font-weight: bold;
	color: #787264;
	letter-spacing:15px;
}

.pied2 a {
	color:#787264;
	text-decoration:none;
	letter-spacing:0px;
}

.pied2 a:hover {
	color:#787264;
	text-decoration:underline;
	letter-spacing:0px;
}

td.depart2 {
	color:#FFFFFF;
	font-size:12px;
	font-weight:normal;
	background-color:#4A79BF;
	padding-right:15px;
}

td.arrivee2 {
	color:#FFFFFF;
	font-size:12px;
	font-weight:normal;
	background-color:#94AA00;
	padding-right:15px;
}

td.depart {
	color:#000000;
	font-size:12px;
	font-weight:normal;
	padding-right:15px;
}

td.arrivee {
	color:#000000;
	font-size:12px;
	font-weight:normal;
	padding-right:15px;
}

th.depart {
	text-align:left;
	font-size:12px;
	font-weight:bold;
}

th.arrivee{
	text-align:left;
	font-size:12px;
	font-weight:bold;
}

.listemenu td {
	background-color:#506CA2;
	font-size:11px;
	color:#FFFFFF;
}

.listemenu a {
	color:#FFFFFF;
	text-decoration:none;
}

.listemenu a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}

.listemenu2 td {
	background-color:#013669;
	font-size:12px;
	color:#FFFFFF;
}

.listemenu2 a {
	color:#FFFFFF;
	text-decoration:none;
}

.listemenu2 a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}
