/**************************************************************************************
						ELEMENTS COMMUNS
*************************************************************************************/
/*p{
	position:relative;
}

span{
	position:relative;
}

div{
	position:relative;
}

#logo{
	position:relative;
}

h2{
	position:relative;
}

h3{
	position:relative;
}

h4{
	position:relative;
}

h5{
	position:relative;
}

h6{
	position:relative;
}*/


a
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #00A9EB;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.textleft p{
	margin: 0;
	position:relative;
}

textarea{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

fieldset{
	margin: 0;
	padding: 0;
	border: none;
}

a img{
	border: 0;
}

h5{
	margin-top: 1.2em;
	margin-bottom: 0.8em;
}

li{ /*<------------------------ hack pour IE */
	float: left !important;
	float: none;
	margin: 0;
	padding: 0;
	width: 100%;
	border: 0;
}

.invisible {
	display: none;
}

.spacer{
	clear: both;
}

.spie{
	height: auto !important;
	height: 0;
}

body {
	margin: 0;
	padding: 0;
	background: #F2F2F2 url("fond_page.gif") repeat-y;
	font-family: Arial, Helvetica, sans-serif;
}

.csc-header, .intro-contact{
	color: #4DC000;
	font-weight: bold;
	text-transform: uppercase;
}

/**************************************************************************************
						BLOCS PRINCIPAUX
**************************************************************************************/

#page {
	width: 1000px;
}

#colgauche {
	float: left;
	width: 172px !important;
	width: 192px;
	padding: 0 10px;
	background: #0069A8 url("fond_colgauche.jpg") repeat-x;
}

html > body #colgauche {
	width: 10.6em !important;
	/*\*/
	width: 10em !important;
	/**/
	width: 12em;
	min-width: 172px !important;
	min-width: 192px;
	max-width: 100%;
}

#contenupage {
	float: right;
	width: 808px;
	background: url("fond_bandeau.jpg") no-repeat;
	
}

#bandeausup {
	height: 76px;
}

#colcentrale {
	float: left;
	width: 526px !important;
	width: 563px;
	padding: 0 20px !important;
	padding: 0 13px;
}

html > body #colcentrale {
	width: 32.8em !important;
	/*\*/
	width: 30em !important;
	/**/
	min-width: 526px;
	max-width: 808px;
}

#colprincdroite {
	float: right;
	width: 242px;
}

#footer, #baseline {
	/*background-color: #F2F2F2;*/
	padding: 13px 25px 10px 25px;
	font-weight: bold;
	color: #858585;
}

#baseline {
	width: 526px !important;
	width: 563px;
	padding: 15px 20px !important;
	padding: 15px 13px;
	font-weight: bold;
	color: #858585;
}

html > body #baseline {
	width: 32.8em !important;
	/*\*/
	width: 30em !important;
	/**/
	min-width: 526px;
	max-width: 808px;
}

#footer a{
	color: #858585;
	font-weight: normal;
}

#rootline
{
	font-family: Verdana, Arial, helvetica, sans-serif;
	padding: 15px 0 5px 20px !important;
	padding-left: 13px;
	margin-bottom: 5px;
}

#rootline a
{
	color: #000000;
	font-weight: normal;
}

#rootline .active{
	color: #4DC000;
}


/**************************************************************************************
						COLONNE DE GAUCHE
**************************************************************************************/
#evitement{
	color: #00A9EB;
}

#evitement a{
	color: #00A9EB;
}

#logo{
	margin: 10px 0 !important;
	margin-bottom: 15px;
}



#colgauche ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: Verdana, Arial, helvetica, sans-serif;
	
	font-weight: bold;
	text-transform: uppercase;
}

#colgauche ul a {
	display: block;
	padding: 2px 7px 2px 13px;
	border-top: thin #FFFFFF dotted;
	color: #FFFFFF;
}

#colgauche ul a:hover {
	text-decoration: none;
}

#menu1 {
	margin-top: 20px;
	margin-left: 5px;
}

#menu1 .menu1-on a{
	background-color: #4DC000;
	padding: 2px 7px 2px 0;
}

#menu1 .menu1-off a:hover{
	background-color: #4DC000;
	background-image: url("menu1_on.gif");
	background-repeat: no-repeat;
	background-position: left 7px;
}

#menu2 .menu2-off a, #menu2 .menu2-on a{
	background-color: #0BB3F5;
}

#menu2 .menu2-off a{
	padding: 2px 7px 2px 21px; /*2px 7px 2px 13px;*/
	background-image: none;
}

#menu2 .menu2-off a:hover{
	border-left: 0;
	background: #0BB3F5 url("menu2_on.gif") no-repeat left 5px;
}

#menu1 li:last-child a{
	border-bottom: thin #FFFFFF dotted;
}

#menu2 li:last-child a{
	border-bottom: 0;
}

img.rubact{
	float: left;
	margin-top: 4px;
}

span.rubact{
	display: block;
	margin-left: 13px;
}

#menu2 span.rubact{
	display: block;
	margin-left: 21px;
}

ul#menu_annexe a{
	border-top: thin #5ED2FF dotted;
	color: #2FC5FF;
}

ul#menu_annexe li:last-child a
{
	border-bottom: thin #5ED2FF dotted;
}

#logocharte{
	margin: 100px 0 80px 0;
}


/****************** FORMULAIRES GAUCHE ********************/

#colgauche form{
	margin: 0;
	padding: 8px 0 8px 5px;
}

#keywords, #autresite{
	/*font-weight: bold;*/
	border: thin #6AAACD solid;
}

#keywords
{
	width: 9em;
}

#autresite
{
	width: 12.5em;
}

#okcherche, #okautres{
	font-weight: bold;
	background-color: #2FC5FF;
	color: #FFFFFF;
	border: thin #FFFFFF solid;
	padding: 0;
}

#formcherche{
	margin-top: 30px;
	border-bottom: thin #5ED2FF dotted;
}

#colgauche label, #formautressites .alt_label {
	/*width: 9em;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #5ED2FF;
	margin: 0;
	display: block;
}

#formautressites div.alt_autressites{
	margin: 5px 0 10px 0;
	text-transform: none;
}

#formautressites .alt_autressites a{
	border: 0;
	display: inline;
	padding: 0;
}
/****************** Taille des Polices ********************/

#taillechars{
	margin-top: 40px;
	text-transform: uppercase;
}

#taillechars h4{
	width: 9em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #5ED2FF;
	background-color: #005E96;
	padding: 10px 10px 10px 10px;
	margin: 0;
}

#taillechars a{
	color: #FFFFFF;
	display: block;
	background-color: #005E96;
	padding: 10px 10px 10px 44px;
	background-position: 9px center;
	background-repeat: no-repeat;
}

#tailleplus{
	background-image: url("picto_tplus.gif");
}

#taillemoins{
	background-image: url("picto_tmoins.gif");
}


/**************************************************************************************
						BANDEAU SUPERIEUR
**************************************************************************************/

#imgprevenir
{
	margin-left: 139px;
	margin-top: 22px;
}

#imgnobel
{
	margin-left: 505px;
}



/**************************************************************************************
						BANDEAU URGENCE
**************************************************************************************/

#bandeau-urgence
{
	position: relative;
	float: none !important;
	float: left;
	background-color: #FFFFFF;
	background-position: 5px 5px;
	/*\*/
	background-position: 0 0;
	/**/
	padding: 0 0 0 35px;
	margin-bottom: 15px;
}

#bandeau-urgence img{
	position: relative;
	float: right;
	margin: 0 !important;
	margin-right: -3px;
}

#bandeau-urgence .type {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-top: 5px;
	text-transform: uppercase;
}

#bandeau-urgence h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	margin: 0;
}

#bandeau-urgence p{
	margin: 2px;
}

.bandeau-urgence-urgence{
	border: 5px #FF581D solid;
	color: #FF581D;
	background: #FFFFFF url("picto_bandeau-urgence.gif") no-repeat;
}

.bandeau-urgence-urgence a{
	color: #FF581D;
}

.bandeau-urgence-actu{
	border: 5px #0071D0 solid;
	color: #0071D0;
	background: #FFFFFF url("picto_bandeau-actu.gif") no-repeat;
}

.bandeau-urgence-actu a{
	color: #0071D0;
}

.bandeau-urgence-terrain{
	border: 5px #FF871D solid;
	color: #FF871D;
	background: #FFFFFF url("picto_bandeau-terrain.gif") no-repeat;
}

.bandeau-urgence-terrain a{
	color: #FF871D;
}

.bandeau-urgence-autre{
	border: 5px #4DC000 solid;
	color: #4DC000;
	background: #FFFFFF url("picto_bandeau-autre.gif") no-repeat;
}

.bandeau-urgence-autre a{
	color: #4DC000;
}


/**************************************************************************************
						PAGES INTERIEURES
**************************************************************************************/

.download-file{
	margin: 5px 0 15px 0;
	padding: 2px 10px 10px 10px;
	border-bottom: thin #4DC000 dotted;
	
}

.download-file .file-details{
	color: #585859;
	font-weight: bold;	
}

.download-file a.fileinfo-link{
	color: #4EB206;
	display: block;
	padding: 0px 10px 0px 42px;
	background: url("puce_verteactus.gif") no-repeat 33px 3px;
}


div#titrerub
{
	font-weight: bold;
	color: #4DC000;
	background-color: #FFFFFF;
	text-transform: uppercase;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 10px 11px 8px 42px;
	margin: 0 0 5px 0;
}

#pageinterieure
{
	background-color: #FFFFFF;
	padding: 25px 30px 40px 25px;
}

#pageinterieure #titrespage h1{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4DC000;
	margin: 0;
	text-transform: uppercase;
	position: relative;
}

#pageinterieure #titrespage h2{
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #8C8C8C;
	margin: 5px 0 0 0;
	text-transform: uppercase;
}


#pageinterieure #contentget{
	margin-top: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;	
}

#contentget img{
	padding: 1px;
	border: 1px #A8A8A8 solid;
}

#contentget img.imgleft{
	margin: 0 10px 10px 0;
	float: left;
}

#contentget .bodytext{
	/*text-align: justify;*/
	margin-top: 0;
	position: relative;
	
	/*height: auto !important;
	
	********* Hack italique IE ******
	overflow: visible;
	height: 1%;*/

}



/**************************************************************************************
						MENU DROITE
**************************************************************************************/

.sousnav{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	margin-bottom: 12px;
}

.sousnav h2{
	position: relative;
	margin: 0;
	padding: 12px 12px 12px 25px;
	background: #4DC000 url("puce_sousnav.gif") no-repeat right center;
	color: #FFFFFF;
}

.sousnav ul{
	margin: 0;
	/*padding: 10px 0;*/
	padding: 0;
	list-style-type: none;
	display: block;
	padding: 0 10px;
}

.menu3 li{
	border-bottom: thin #4DC000 dotted;
	padding: 4px 0;
	/*margin: 0 10px;*/
}

.menu3 span.infos{
	display: block;
	padding: 0 4px 0 10px;
}

.menu3 a{
	color: #5D5D5D;
	display: block;
	padding: 0 4px 4px 10px;
}

.menu3 a:hover {
	text-decoration: none;
}

.menu3 li:last-child{
	border-bottom: 0;
}

.menu3 {
	font-weight: bold;
}

.menu3 .menu3-on a{
	color: #4DC000;
	padding: 0 4px 4px 0;
}

.menu3 .menu3-off a:hover{
	color: #4DC000;
	background-image: url("puce_verte.gif");
	background-repeat: no-repeat;
	background-position: left 3px;
}


#menu4 .menu4-off a{
    padding-left: 23px;
}

#menu4 .menu4-on a {
    padding-left: 10px;
}

#menu4 li{
	padding: 2px 0 0 0;
    background-color:#EBF8E3;
    margin-bottom:1px;

}

#menu4 li a{
	border-bottom: none;
}

#menu4 li:last-child a{
	border-bottom: thin #4DC000 dotted;
}

#menu4 .menu4-off a:hover{
	color: #4DC000;
	background-image: url("puce_verte.gif");
	background-repeat: no-repeat;
	background-position: 10px 3px;/*left*/
	
}


/**************************************************************************************
						LIENS TRANSVERSAUX
**************************************************************************************/

.lientransversal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	position: relative;
	padding:0;
	margin-bottom: 12px;
}

.lientransversal .spacer {
	height: 12px;
}

.lientransversal h3 {
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0;
	padding: 6px 6px 6px 20px;
	background: #FF871D url("puce_lientransv.gif") no-repeat 10px 10px;
	border: none;
}

.lientransversal-newsletter h3 {
    background-color: #0070CE;
}

.lientransversal img {
	position: relative;
	float: left;
	/*display:inline;*/
	margin-right: 8px;
	/*margin-left: -3px;*/
}

.lientransversal .imgleft {
    /*margin: 0; 
    padding:0;*/
}

.lientransversal p, .lientransversal a {
	display: block;
	margin: 5px 5px 5px 78px;
}

.lien-transversal-nopic p, .lien-transversal-nopic a{
	margin-left: 5px;
}

.lientransversal-newsletter p, .lientransversal-newsletter a {
	display: block;
	margin: 5px 5px 5px 20px;
}

.lientransversal-newsletter a {
    line-height: 18px;
    background: url(picto_newsletter3.gif) no-repeat left center;
    padding-left:18px;
}

.lientransversal .titre a
{
	font-size: inherit;
	margin-left: 0;
	color: #FF871D;
}

.lientransversal .titre {
	color: #FF871D;
	font-weight: bold;
}

#don {
	margin-top: 12px;
	background-color: #C7C7C7;
	padding: 15px 32px;
}


/*Newsletter*/

.newsletter{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	position: relative;
}

.newsletter .spacer{
	height: 12px;
}

.newsletter h3{
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0 0 10px 0;
	padding: 6px 6px 6px 20px;
	background: #0071D0 url("puce_newsletter.gif") no-repeat 10px 10px;
}

.newsletter p, .newsletter a{
	margin: 5px 22px;
}

.newsletter a{
	display: block;
	padding: 3px 3px 3px 25px;
	background: url("picto_newsletter.gif") no-repeat left center;
}

/***************************** PAGINATION ***********************************/
#contentget .pagination img{
	border: 0;
}

.pagination-prec, .pagination-suiv{
	float: left;
	width: 30%;
	text-align: center;
	font-weight: bold;
}

.pagination-nbpages{
	float: left;
	width: 20%;
	text-align: center;
	font-weight: bold;
}

.sousnav .pagination{
	margin: 0 10px 0 10px;
	/*padding: 40px 40px 20px 40px;*/
	padding: 40px 10px 20px 10px;
	border-top: thin #4DC000 dotted;

}




/******************************** ACTUALITES ******************************/

.pageactu{
	margin-top: 10px;
	font-family: Verdana, Arial, helvetica, sans-serif;
	margin-bottom: 20px;
}

.headactu{
	color: #585859;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.pageactu h3{
	color: #4DC000;
	font-weight: bold;
	text-transform: uppercase;
	margin: 5px 0;
}

.pageactu p{
	margin: 0;
}

.fichier-actu{
	margin-top: 25px;
	padding: 10px;
	border-top: thin #4DC000 dotted;
	
}

.fichier-actu .file-details{
	color: #585859;
	font-weight: bold;	
}

.fichier-actu a.fileinfo-link{
	color: #4EB206;
	display: block;
	padding: 0px 10px 0px 42px;
	background: url("puce_verteactus.gif") no-repeat 33px 3px;
}


/*************************************** FORMULAIRES ********************************************************/
.form-contact{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.form-contact fieldset{
	border: 0;
	margin: 20px 0 5px 0;
}

.form-contact legend, .form-contact .confirm-contact{
	color: #585859;
	text-transform: uppercase;
	font-weight: bold;
	margin: 20px 0 10px 0;
	background: url("carre_vert_fleche.gif") no-repeat left center;
	padding: 8px 0 8px 40px;
}

.num1{
	background: url("carre_vert_1.gif") no-repeat left center;
}

.num2{
	background: url("carre_vert_2.gif") no-repeat left center;
}

.num3{
	background: url("carre_vert_3.gif") no-repeat left center;
}

.num4{
	background: url("carre_vert_4.gif") no-repeat left center;
}

.form-contact .champ{
	margin: 10px 0;
}

.form-contact .champoblig{
	color: red;
	font-weight: bold;
}

.form-contact div.champoblig{
	margin-top: 15px;
}

.form-contact label{
	display: block;
	width: 120px;
	margin-right: 10px;
	float: left;
}

.form-contact .inline label, .form-contact .checkbox label, .form-contact .radio label{
	float: none;
	display: inline;
	width: auto;
	margin-left: 5px;
}

.form-contact .radio .titre{
	margin: 8px 0 5px 0;
	font-weight: bold;
}

/*.form-contact .radio .opt{
	display: block;
	width: 200px;
	margin-right: 10px;
	float: left;
}*/

.form-contact textarea{
	border: thin #6AAACD solid;
	width: 200px;
	height: 70px;
}

.form-contact input{
	border: thin #6AAACD solid;
	width: 200px;
}

.form-contact .inline input, .form-contact .checkbox input, .form-contact .radio input{
	width: auto;
	border: 0;
}


.form-contact input.bordure{
	border: thin #6AAACD solid;
}


.form-contact input.mini{
	width: 30px;
}

.form-contact #tx_dechicontact_pi1-submit, .form-contact #tx_dechicontact_pi1-reset, .form-contact #tx_dechicontact_pi1-hexaposte{
	font-weight: bold;
	background-color: #2FC5FF;
	color: #FFFFFF;
	border: thin #FFFFFF solid;
	padding: 0;
}

.form-contact .explique{
	color: #4DC000;
}

.infos-contact{
	color: #4DC000;
	font-weight: bold;
	text-transform: uppercase;
	margin: 5px 0;
}

#registered-cats{
	margin: 5px 0 5px 0;
}

#registered-cats li{
	float: none !important;
}

.cnil{
	margin: 15px 0 15px 0;
	font-style: italic;
}


.infos-connexes-donner{
	background-color: #C4C4C4;
	padding: 20px 10px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	color: #000000;
	font-weight: bold;
	margin: 12px 0;
}

.soutenez-hi{
	padding: 20px 25px;
}

.soutenez-hi p{
	margin-top: 0;
}

/********************* CONTENTGETDROITE *********************/
#contentgetdroite{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	padding: 25px 20px;
}

#contentgetdroite .csc-header{
	margin: 10px 0;
	color: #006198;
	text-transform: none;
}

