/* CSS Document */
#colgauche, #colprincdroite, #bandeausup, #footer, #rootline{
	display: none;
}

body{
	background-color: #FFFFFF;
	background-image: none;
}

#contenupage{
	float: none;
	background-image: none;
}