* {
	font-family: verdana , arial, sans-serif;
}
a {
	text-decoration: none;
}
/*a:hover {
	text-decoration: underline;
}*/
hr {
	display: none;
}
h1, h2, h3, h4, ul, li, p, form{
	margin: 0;
	padding: 0;
}
a img{
	border:none !important;
}
form{
	padding-bottom:0 !important;
	padding-bottom:5px;
}
body {
	font-size:70%;
	margin:auto !important;
	background:#F0F0F3;
	text-align:center;
}

/* Guillaume */
.invisible {
	display:none;
}

caption {
	display:none;
}

button {
	cursor:pointer;
}

input[type=submit] {
	cursor:pointer;
}
/*************/

#fontNormal{
	font-weight:normal !important;
}
.contenu{
	width:780px !important;
	width:780px;
	margin: 0 auto;
	/*min-height:824px;
	height: auto !important;
	height:824px;*/
	text-align:left;
}
.contenuIndex{
	width:780px !important;
	width:780px;
	color:#585858;
	background:white;
	border-style: solid;
	border-width: 1px;
	border-color: #9798A8;
	/*min-height:802px;
	height: auto !important;
	height:802px;*/
}
#FinDePage{
	min-height:1px;
	height: auto !important;
	height:1px;
	font-size:0%;
}
.divHaut{
	min-height:221px;
	height: auto !important;
	height:221px;
}
.hautGauche{
	float:left;
	padding:0 !important;
	min-height:221px;
	height: auto !important;
	height:221px;
	width:232px;
}
.hautDroit{
	float:right;
	padding:0 !important;
	min-height:221px;
	height: auto !important;
	height:221px;
	/*width:550px !important;*/
	width:548px;
	background:white;
}
.hautDroit h1{
	font-size:310%;
	color:#025A85;
	margin-left:13px;	
	margin-top:11px;
	font-family:'Trebuchet MS';
	margin-bottom: 0 !important;
	letter-spacing:1px;
	line-height:35px;
}
.hautDroit h1 span{
	font-size:100%;
	font-family:'Trebuchet MS';
	display:block;
	float:right;
}
.titre{
	float:left;
	min-height:86px;
	height: auto !important;
	height:86px;
	width:340px;
	margin-bottom:0 !important;
}
.conteneurForm{
	float:right;
	min-height:86px;
	height: auto !important;
	height:86px;
	width:237px;
	margin-left:-37px;
}
.formulaire{
	background:#D6F0F0;
	min-height:42px;
	height: auto !important;
	height:42px;
	width:237px;
	color:#588898;
	font-weight:bold;
}
.inputRecherche{	
	border-style: solid;
	border-width: 1px;
	border-color: #868880;
	width:9.3em !important;
	/*height:1.1em !important;
	height:1.2em;*/
	font-size: 100%;
	font-weight:normal;
}
.classeBouton{
	/*background:#588898;
	border:none !important;
	color:white;
	font-size:90%;
	font-weight:bold;*/
	/*width:1.9em !important;
	width:1.7em ;*/
	/*height:1.6em;*/
	/*display:block;*/
	/*line-height:0.5em !important;
	line-height:1.5em;*/
	/*padding-left:0 !important;
	text-align:center !important;
	padding-bottom:2px;
	width: 2em;
	margin: 0 !important;*/
	font-size: 90%;
	font-weight: normal;
	width: 2.2em;
	border: none;
	background:#588898;
	padding: 1px 0 1px 0;
	margin: 0 !important;
	color:white;
	text-align:center !important;
	margin-bottom:1px !important;
}
.classeBoutonNV1{
	font-size: 90%;
	font-weight: bold;
	width: 2.2em;
	border: none;
	background:#588898;
	padding: 1px 0 1px 0;
	margin: 0;
	color:white;
	text-align:center !important;
	margin-bottom:1px !important;
	margin-top:0;
}
#boutonSubmit{
	font-weight:normal !important;
}
.divVert{
	height:42px;
	width:74px;
	background:#D6F0F0;
	float:right;
	margin-top:2px;
}
.formulaire label{
	margin-left:12px;
}

#textRecherche{
	margin-top:12px;
	float:left;
}
#boutonRecherche{
	float:right;
	margin-top:12px;
	padding-right: 5px;
	/*padding-top:13px;
	margin-left:5px;
	margin-right:8px !important;
	margin-right:3px;
	margin-left:-1px;*/
}
.menuGauche{
	min-height:660px;
	height: auto !important;
	height:665px;
	width:149px;
	float:left;
	margin-top:-40px;
	position: relative;
	margin-left:2px !important;
	margin-left:1px;
	background:#E7F4F4;
}
.menuGauche ul{
	list-style:none;
	font-size:90%;
	width:100%;
}
.menuGauche h2{
	font-size:100%;
	font-weight:normal;
	color:white;
	/*padding-left:;*/
	width:136px !important;
	width:136px;
	margin-bottom:1px;
}
.h2Conseil{
	background:#005984;	
	padding:3px 0 3px 13px;
}
.h2Conseil a{
	color:white;
}
.h2Territoire a{
	color:white;
}
.h2Territoire{
	background:#959C2D;	
	padding:1px 0 1px 13px;
}
.h2Cartographie{
	background:#0292A7;	
	padding:1px 0 1px 13px;
	font-size:90% !important;
}
.h2CartographieNV1{
	background:#0292A7;	
	padding:3px 0 3px 13px;
	font-size:100% !important;
}
/*
.h2CartographieNV1 a{
	color:white;
}
*/
.h2Pratique{
	background:#635360;	
	padding:1px 0 1px 13px;
	margin-top:-1px;
}
.h2PratiqueNV1{
	background:#635360;	
	padding:1px 7px 1px 7px !important;
	margin-top:-1px;
}
.menuGauche ul a{
	color: #525151 !important;
}

.ulConseil li{
	background:#E7F4F4 url("puceConseil.gif") no-repeat 14px 5px !important;
	padding:1px 0 0 26px;
}
.ulTerritoire li{
	background:#E7F4F4 url("puceTerritoire.gif") no-repeat 14px 5px !important;
	padding:1px 0 0 26px;
}
.ulPratique li{
	font-size:110%;
	background:#E7F4F4 url("pucePratique.gif") no-repeat 13px 6px !important;
	margin-bottom:1px;
	padding:1px 0 0 25px;
	text-indent:2px;
}
.ulPratiqueNV1 li{
	font-size:110%;
	background:#E7F4F4 url("pucePratique.gif") no-repeat 9px 6px !important;
	background:#E7F4F4 url("pucePratique.gif") no-repeat 9px 6px;
	margin-bottom:1px;
	padding:1px 0 0 17px;
	text-indent:2px;
}
.contenuMilieu{
	float:left;
	/*min-height:580px;
	height: auto !important;
	height:580px;*/
	width:391px;
	margin-left:19px;
	margin-right:19px;
	padding-top:5px;
}
.contenuMilieu ul{
	list-style:none;
}
.contenuDroit{
	/*min-height:580px;
	height: auto !important;
	height:580px;*/
	width:200px;
	float:right;
}
.h2Mayotte{
	font-size:105%;
	font-family:'Trebuchet MS';
	background:#490440;
	font-weight:normal;
	color:white;
	/*width:140px;*/
	margin-bottom:1px;
	letter-spacing:1px;	
	padding-left:7px;
	padding-top:1px;
	float: left;
	padding-right:23px;
}
.h2Mayotte a{
	font-size:100%;
	font-family:'Trebuchet MS';
	color:white;
	padding-top:2px;
	padding-bottom:2px;
}
.separMayotte{
	background:#490440;
	height:4px !important;
	font-size:0%;
	margin-bottom:5px;
	clear: both;
}
.h2Service{
	font-size:110%;
	font-family:'Trebuchet MS';
	background:#005984;
	color:white;
	padding-left:7px !important;
	padding-left:10px ;
	margin-bottom:1px;
	margin-top:23px !important;
	margin-top:23px;
	letter-spacing:1px;
	padding-top:5px;
	float: left;
	padding-right:35px;
	margin-left:-3px;
}
.h2Service a{
	font-size:100%;
	font-family:'Trebuchet MS';
	color:white;
	padding-top:2px;
	padding-bottom:2px;
}
.separService{
	background:#005984;
	height:4px !important;
	font-size:0%;
	margin-bottom:8px;
	margin-left:-3px;
	clear: both;
}
.ulMayotte{
	min-height:1px;
	height: auto !important;
	height:1px;
	width:96%;
	line-height:16px;	
}
.ulMayotte li{
	background: url("puceMayotte.gif") no-repeat 0 6px !important;
	
}
.liLeft{
	float:left;
	width:45.5%;
	margin-left:4px;
	margin-right:20px;
	text-indent:18px;
}
.liRight{
	width:46%;
	float:right;
	margin-right:2px;
	text-indent:16px;
}

.separateur{
	width:100%;
	height:1px !important;
	background:#ABABA9;
	font-size:0%;
	margin-top:1px;
}
.separateurBlanc{
	width:100%;
	height:1px !important;
	background:white;
	font-size:0%;
	margin-bottom:2px;
}
.separateurCart{
	width:100%;
	height:1px !important;
	background:white;
	font-size:0%;
}

.separateurBlancH2{
	width:100%;
	height:1px !important;
	background:white;
	font-size:0%;
	margin-top:9px;
}
.separateurBlanc1{
	margin-left:-26px;
	width:149px !important;
	height:1px !important;
	background:white;
	margin-top:4px;
	font-size:0%;
}
.separateurPratiqueNV1{
	margin-left:-18px;
	height:1px !important;
	background:white;
	margin-top:4px;
	font-size:0%;
}
.separateurPratique{
	margin-left:-24px;
	width:120% !important;
	width:100%;
	height:1px !important;
	background:white;
	margin-top:2px;
	font-size:0%;
}
.ulMayotte a{
	color:#525151;
}
.ulService a{
	color:#525151;
}
.ulService{
	min-height:1px;
	height: auto !important;
	height:1px;
	width:96%;
	line-height:16px;
}
.ulService li{
	background: url("puceService.gif") no-repeat 0 6px !important;
}

.h2Actualits{
	font-size:100%;
	background:#FF7320;
	color:white;
	font-family:'Trebuchet MS';
	padding: 3px 0 2px 9px !important;
	padding: 3px 0 2px 11px;
	margin-bottom:13px;
	letter-spacing:1px;
	margin-top:23px !important;
	margin-top:23px;
	margin-left:-3px;
}
.divAcutalite h3{
	font-size:100%;
	margin-bottom:5px;
}
.divAcutalite{
	font-size:100%;
	letter-spacing:1px;	
	padding-left:4px !important;
	padding-left:8px;
}
.imageActu{
	float:left;
	margin-right:12px;
}
.pActu{
	/*width:253px;*/
	/*float:left;*/
	line-height:13px;
}
.pActu a:hover{
	/*float:left;*/
	/*vtext-decoration:underline;*/
}
.pActu p{
	margin-bottom:10px !important;
}
.autreTitre{
	margin-top:10px;
}
.divAcutalite a{
	color:#FF7320;
}
.divAcutalite h3{
	font-size:110%;
	color:#FF7320;
}
.titresActu a{
	color:#525151;
}
.titresActu a:hover{
	text-decoration:underline;
}
.titresActu li{
	background:url("saparateur.gif") no-repeat 0 100% !important;
	padding:6px 0 6px 0;
}
.separateurPointille{
	background:url("saparateur.gif") no-repeat !important;
	width:100%;
	height:1px !important;
	font-size:0%;
	/*margin-top:-5px;*/
	margin-bottom:0px;
}
.Actualites{
	background:url("puceActualite.gif") no-repeat 0 2px !important;
	font-size:100%;
	margin-top:10px;
	text-indent:20px;
	margin-bottom:30px;
	letter-spacing:normal;
}

.divDetailActualite {
	font-size:110%;
}

.h2Evenement{
	font-size:110%;
	color:white;
	font-family:'Trebuchet MS';
	background:#FF7320 url("puceEvenement.gif") no-repeat 6px 4px !important;;
	padding-top:1px;
	padding-bottom:1px;
	text-indent:24px;
	letter-spacing:1px;
}
.h2Publication{
	font-size:110%;
	color:white;
	font-family:'Trebuchet MS';
	background:#37839E url("pucePublication.gif") no-repeat 6px 5px !important;;
	padding-top:1px;
	text-indent:24px;
	letter-spacing:1px;
}
.divEvenement{
	/*min-height:200px;
	height: auto !important;
	height:200px;*/
	border-width: 1px;
	border-color: #9798A8;
	padding:10px 12px 12px 12px ;
	background:white;
	line-height:13px;
	letter-spacing:1px;
}
.divPublication{
	/*min-height:250px;
	height: auto !important;
	height:270px;*/
	border-width: 1px;
	border-color: #9798A8;
	padding:15px 0 0 0 ;
	background:#F5F8F8;
	text-align:center;
	margin-bottom:10px;
}
.divEvenement h3{
	font-size:130%;
	margin-bottom:8px;
	line-height:16px !important;
}
.divEvenement p{
	margin-bottom:14px;
	margin-top:2px;
	line-height:14px;
}
.divEvenement a{
	color:#FF7320;
}
.divPublication h3{
	font-size:110%;
	font-family:'Trebuchet MS' !important;
	color:black;
	margin-bottom:15px;
	letter-spacing:1px;
	text-transform:uppercase;
}
.divPublication h3 a{
	font-family:'Trebuchet MS' !important;
	color:black;
}
.divPublication h3 span{
	font-size:100%;
	font-family:'Trebuchet MS' !important;
	color:#1D7C90;
	letter-spacing:1px;
}
.divPublication h4{
	font-size:100%;
	font-weight:normal;
	margin-top:10px;
	margin-left:-35px;
}
.divPublication h4 a{
	color:#37839E ;
}
.menuBas{	
	min-height:17px;
	height: auto !important;
	height:17px;
	background:#005984;
	margin-top:1px;
	color:white;
	font-size:90%;
	padding-top:5px;
	width:782px;
}
.menuBasNV1{	
	min-height:17px;
	height: auto !important;
	height:17px;
	background:#005984;
	margin-top:1px;
	color:white;
	font-size:90%;
	padding-top:5px;
	width:781px;
}
.menuBasNV1 a{
	color:white;
}
.menuBas a{
	color:white;
}
.menuBasGauche{
	float:left;
	margin-left:24px !important;
	margin-left:14px;
}
.menuBasDroit{
	float:right;
	margin-right:95px !important;
	margin-right:45px;
}
.fond{
	margin-top:-2px;
}
.divHautNV1{
	min-height:180px;
	height: auto !important;
	height:180px;
}
.hautGaucheNV1{
	float:left;
	padding:0 !important;
	min-height:180px;
	height: auto !important;
	height:180px;
	width:192px;
}
.hautDroitNV1{
	float:right;
	min-height:180px;
	height: auto !important;
	margin-right:1px !important;
	margin-right:0;
	height:180px;
	/*width:550px !important;*/
	width:586px;
}
.titreNV1{
	float:left;
	min-height:53px;
	height: auto !important;
	height:53px;
	width:427px;
	letter-spacing:1px;
}
.titreForm{
	min-height:53px;
	height: auto !important;
	height:53px;
	width:548px;
}
.titreNV1 h1 {
	margin-left:13px;
	margin-top:5px;
	font-size:260%;
	color:#025A85;
	font-family:'Trebuchet MS';
	margin-bottom:0 !important;
}
.divImage{
	width:548px;
	/*min-height:133px;*/
	/*background: url("../images/fond1.jpg") no-repeat 0 0;*/
	/*padding-top:1px;*/
	/*margin-top:1px;*/
	/*border-top:1px;
	border-bottom:0;
	border-left:0;
	border-right:0;
	border-style:solid;
	border-color:#9E9EA1;*/
	background: url("fondHaut.gif") no-repeat 0 0;
	padding-top:25px;
	margin-bottom:2px;
}
.divImagenv1{
	width:587px;
	/*min-height:126px;*/
	background: #8FCCD4 url("fondHautNV1.gif") no-repeat 0 0;
	padding-top:25px;
	margin-bottom:2px;
}
.contenuPageInterne{
	color:#585858;
	width:779px !important;
	width:779px;
	background:white;
	border-style: solid;
	border-width: 1px;
	border-color: #9798A8;
	/*min-height:688px;
	height: auto !important;
	height:688px;*/
	text-align:left;
	margin: 0 ;
}
.formulaireNV1{
	float:right;
	background:#D6F0F0;
	min-height:53px;
	height: auto !important;
	height:53px;
	width:159px;
	color:#588898;
	font-weight:bold;
}
#textRechercheNV1{
	float:left;
	padding-left:13px;
	padding-top:8px;
}
#textInputNV1{
	margin-top:5px !important;
	margin-right:3px;
}
#textInput{
	margin-left:6px;
	margin-right:4px;
}
#boutonNV1{
	margin-top:4px ;
}
.menuGaucheNV1{
	/*min-height:488px;
	height: auto !important;
	height:506px;*/
	width:149px !important;
	width:148px;
	float:left;
	margin-left:1px;
	background:#E7F4F4;
	padding-bottom:20px;
}
.menuGaucheNV1 ul{
	list-style:none;
	font-size:90%;
}
.menuGaucheNV1 h2{
	font-size:100%;
	font-weight:normal;
	color:white;
	/*padding-left:;*/
	width:134px !important;
	width:134px;
	padding:2px 0 2px 14px;
	margin-bottom:1px;
}
.menuGaucheNV1 ul a{
	color: #525151 !important;
}
.contenuMilieuNV1{
	width:586px;
	float:right;
	margin-top:2px;	
	font-family:verdana !important;
	text-align:justify !important;
	padding-bottom:20px;
}
.contenuMilieuNV1 ul{
	list-style:none;
}
.menu{
	min-height:34px;
	height:auto !important;
	height:34px;
	padding:0;
	margin-bottom:10px;
}
.ulMenu{
	list-style-position: outside;
}
.ulMenu li{
	float:left;
	background:#D6F0F0;
	padding: 9px 9px 10px 12px;
	font-size:110%;
	font-weight:bold;
	margin-right:2px;
	letter-spacing:0px;	
}
.ulMenu li a{
	color:#005984;
}
.lienSelectionne{
	background:#005984 !important;
	color:white;
}
.lienActu{
	background:#FF7521 !important;
	margin-right:0 !important;
	padding: 9px 9px 10px 9px !important;
	color:white !important;
}
.lienActu a{
	color:white !important;
}
.lienSelectionne a{
	color:white !important;
}
.titreActu{
	font-size:95% !important;
	color:#525151 !important;
}
.titreActu a{
	color:#525151 !important;
}
.milieu{
	background:url("pixelContenu.png") repeat-y !important;
	width:780px !important;
}
.milieuNV1{
	background:url("pixelContenuNV1.jpg") repeat-y !important;
	width:779px !important;
}
.contenuGlobalNV1{
	margin: 0 auto;
	/*min-height:710px;
	height:auto !important;
	height:710px;*/
	width:779px !important;
	width:779px;
}
.fileAriane{
	color:#005984;
	font-size:100%;	
	font-weight:normal;
}
.fileAriane span{	
	font-weight:bold;
}
.fileAriane a{
	color:#005984;
	text-decoration:underline;
}
.fileAriane a:hover{
	text-decoration:none;
}
#fileArianeNV2 a{
	text-decoration:underline;
}
.fileAriane{
	margin-bottom:21px;
}
.separateurNV1{
	background:url("saparateur.gif") repeat-x !important;
	height:1px;
	font-size:0%;
	margin-right:7px;
	margin-bottom:15px;
}
.titreContenu{
	font-size:150%;
	color:#005984;
	margin-bottom:10px;
	/*font-family:'Arial Black';*/
	font-family:verdana;
	text-align:left;
}
.contenuNV1{
	min-height:1px;
	height:auto !important;
	height:1px;
	margin-left:2px;
	margin-right:25px;
}
.contenuNV1bis{
	min-height:1px;
	height:auto !important;
	height:1px;
	margin-left:2px;
	margin-right:25px;	
	color:#043D5A !important;
}
.contenuNV1 h3{
	font-size:120%;
	margin-bottom:17px;
	/*font-family:arial !important;*/
	color:#005984;
}
.contenuNV1 a {
	color: #005984;
	font-weight: bold;
	text-decoration: underline;
}
.contenuNV1bis h3{
	/*font-size:95%;*/
	font-size:100%;
	color:#525151;
}
.contenuNV1bis a{
	color:#005984 !important;
	text-decoration:underline;
}

#titredetailActu{
	/*font-weight:normal;*/
	/*text-decoration:underline;*/
	/*font-family:'Arial Black'!important;*/
	float:left;
}
#divRetourListe{
    width:550px;
	min-height:10px;
	height:auto !important;
	height:10px;
	clear:both;
}
.titreOffre{
	/*font-family:Arial !important;*/
	color:#005984 !important;
	/*font-family:arial !important;*/
	font-size:120% !important;
	margin-bottom:3px !important;
}
.contenuNV1bis strong{
	color:#005984 !important;
}
.contenuNV1bis a:hover{
	text-decoration:none !important;
}
.tireActu{
	
}
.imageConseil{
	float:left;
	margin-right:12px;
	margin-bottom:15px;
}
.imageOrganisation{
	float:left;
	margin-right:12px;
	margin-bottom:8px;
}
.contenuNV1 p{
	font-size:100%;
	/*font-family:arial !important;*/
	color:#043D5A !important;
	margin-bottom:5px;
}
.ulMenu2{	
	margin-top:17px;
	color:#043D5A !important;
	font-size:100%;
	line-height:18px;
	background:url("bgOrange.gif") repeat-y !important;
	/*text-indent:12px;*/
	text-indent:19px;
	margin-bottom:45px;
	padding-bottom:5px;
}
.ulMenu2 a{	
	color:#043D5A !important;
	/*font-family:arial !important;*/
	font-size:110%;
	font-weight: normal !important;
	text-decoration: none !important;
}
.ulMenu2 li{
	background: url("puceConseil.gif") no-repeat 12px 6px !important;
	background: url("puceConseil.gif") no-repeat 12px 7px;
}
.divLigneChapeauActualite{
	width:514px;
	min-height:10px;
	height:auto !important;
	height:10px;
	float:left;
	margin:7px 0 12px 5px;
	color:#043D5A !important;
}
.divLireActu{
	margin-top:7px;
	font-size:90%;
}
.divLireActu a{
	color:#FF7521 !important;
	font-weight:bold;
	margin-left:15px;
}
.lienRetour{
	float:right;	
	color:#FF7521 !important;
	margin-top:6px;
	margin-left:10px;
}
#divPagination{
	width:514px;
	text-align:center;
	margin-top:15px;
	margin-bottom:15px;
}
#divListeOffres{
	color:#043D5A !important;
	min-height:10px;
	height:auto !important;
	height:10px;
}
.listesOffre{
	line-height:17px;
	color:#043D5A !important;
}
.listesOffre strong{
	color:#FF7320 !important;
}
.listeOffre{
	padding-left:25px;
	margin-bottom:10px;
}
.listeOffre a{
	color:#043D5A !important;
}
.divGaucheOffreDate{
	min-height:10px;
	height:auto !important;
	height:10px;
	float:left;
	width:140px;
	font-weight:bold;
	color:#043D5A !important;
	/*background:red;*/
}
.divDroiteOffreDate{
	min-height:10px;
	height:auto !important;
	height:10px;
	float:left;
	width:410px;
	margin-bottom:7px;
	color:#043D5A !important;
}
.gaucheForm{
	min-height:10px;
	height:auto !important;
	height:10px;
	float:left;
	width:230px;
	font-weight:bold;
	color:#043D5A !important;
	padding-top:2px;
}
.droiteForm{
	min-height:10px;
	height:auto !important;
	height:10px;
	/*width:410px;*/
	margin-bottom:7px;
	color:#043D5A !important;
}
.formLigne{
	min-height:10px;
	height:auto !important;
	height:10px;
	width:520px;
	clear:both;
	margin-bottom:5px;
}
.formLignePaddingLeft{
	min-height:10px;
	height:auto !important;
	height:10px;
	width:520px;
	clear:both;
	margin-bottom:5px;
	padding-top:2px;
}
#erreurFormulairePlusGros{
	min-height:1px;
	height:auto !important;
	height:1px;
	width:550px;
	color:red;
	padding:5px 0 5px 10px;
	margin-bottom:10px;
}
.formulaireContact textarea{
	font-size:100%;
	border-style: solid;
	border-width: 1px;
	border-color: #868880;
	width:250px;
}
.formulaireContact{
	min-height:10px;
	height:auto !important;
	height:10px;
	width:549px;	
	padding:10px 0 10px 10px;
	margin-bottom:10px;
	background:#E7F4F4;
}
.formulaireContact fieldset legend {
	display:none;
}
.formulaireContact fieldset {
	padding: 0;
	border: none;
}
.inputForm{
	font-size:100%;
	border-style: solid;
	border-width: 1px;
	border-color: #868880;
	width:250px;
}
.inputFormMoyen{
	font-size:100%;
	border-style: solid;
	border-width: 1px;
	border-color: #868880;
	width:200px;
}
.inputFormFile{
	font-size:100%;
	border-style: solid;
	border-width: 1px;
	border-color: #868880;
}
.formulaireContact input{
	font-size:100%;
}
.classeFieldlist{
	/*border:none;*/
	/*border-style: solid;
	border-width: 1px;
	border-color: #FF7320;*/
	border:none;
	padding-left:15px;
	margin:5px 0 5px 0;
}
.classeFieldlist label{
	/*border:none;*/
	font-size:90%;
}
.labelGras1{
	margin:10px 0 10px 0;
	font-weight:bold;
	/*color: #588898;#FF7320;
	text-decoration:underline;*/
}
.classeFieldlist legend{
	font-weight:bold;
	color:#043D5A !important;
	text-decoration:underline !important;
}
.ligne{
	clear:both;
	min-height:10px;
	height:auto !important;
	height:10px;
	width:550px;
}
.divRepondreOffre{
	clear:both;
}
.boutonValidationFormTypo3{
	background:#588898;
	color:white;
	border:none;
	font-weight:bold;
}
.contenuInterneGauche{
	width:420px;
	min-height:1px;
	height:auto !important;
	height:1px;
	float:left;
}
.contenuInterneDroite{
	width:150px;
	min-height:1px;
	height:auto !important;
	height:1px;
	float:right;
	border:1px solid;
	border-color:#9798A8;
	color:#043D5A !important;
	padding-bottom:10px;
	border-right:none;
	border-top:none;
	text-align:left;
	margin-bottom:10px;
}
#contenuCentre{		
	float:left;
	width:430px;
	/*background:green;*/
}
.contenuInterneDroite h2{
	font-size:90%;
	/*font-family:arial !important;*/
	background:#005984;
	font-weight:normal;
	color:white;
	margin-bottom:1px;
	padding:2px 0 1px 5px;
/*	text-align:left;*/
	text-transform:uppercase;
}
/*#divAConsulter h2{
	font-size:90% !important;
}*/
.ulConsultation{
    margin-top:7px;
	font-size:95%;
	font-weight:normal;
	list-style:none !important;
	/*padding:1px 0 1px 5px;*/
}
.ulConsultation li{
	padding:4px 0 1px 5px;
}
.ulConsultation li a{
	color:#043D5A;
}
.contenuInterneDroite li span{
	font-weight:bold;	
	color:#FF7320;	
	letter-spacing:1px;
}
.contenuInterneDroite li span a{
	color:#FF7320;	
}
.divLienBlocLien{
	margin:4px 0 4px 0;
}
.titreFichier{
	text-align:left;
	margin-top:5px;
	font-size:100%;
	color:#043D5A;
	font-weight:normal;
	margin-left:8px;
	background: url("puceService.gif") no-repeat 0 5px !important;
	padding-left:10px;
	text-decoration:underline;
}
.titreFichier:hover{
	text-decoration:none;
}
.divLienBlocLien a{
	margin-top:5px;
	font-size:95%;
	color:#043D5A;
	font-weight:normal;
	margin-left:8px;
	background: url("puceService.gif") no-repeat 0 5px !important;
	padding-left:10px;
	text-decoration:underline;
	text-align:left;
}
.divLienBlocLien a:hover{
	text-decoration:none;
}
.fichiers{
	margin-top:5px;
	font-size:95%;
	color:#043D5A;
	font-weight:normal;
	list-style:none;
	margin-left:8px;
}
.fichiers li{
	padding:0 0 1px 10px;	
	background: url("puceService.gif") no-repeat 0 4px !important;
}
.fichiers li a{
	color:#043D5A !important;
	letter-spacing:0px !important;
	text-decoration:underline;
}
.fichiers li a:hover{
	text-decoration:none;
}
.divTitreListe{
	color:#005984;
	margin-bottom:10px;
	margin-top:10px;
}
.divTitreListe h3{
	color:#005984;
	font-size:115%;
	/*font-family:arial !important;*/
}
#divMarcheForm{
	min-height:1px;
	height:auto !important;
	height:1px;	
	width:559px;
	background:#E7F4F4;
	padding:10px 0 10px 0;
}
.divRechMarche{
	min-height:1px;
	height:auto !important;
	height:1px;	
	width:559px;
	margin-top:8px;
}
.divRechMarcheGauche{
	width:150px;
	padding-top:1px;
	min-height:1px;
	height:auto !important;
	height:1px;
	float:left;
	color:#043D5A !important;
	font-weight:bold;
	font-size:95%;
	text-align:right;
	padding-right:5px;
	padding-left:20px;
}
.divRechMarcheDroite{
	width:384px;
	min-height:1px;
	height:auto !important;
	height:1px;
	color:#043D5A !important;
	float:right;
}
.divRechMarcheDroite select{
	border-style: solid;
	border-width: 1px;
	border-color: #9798A8;
	font-size:100%;
}
.divRechMarcheDroite input{
	border-style: solid;
	border-width: 1px;
	border-color: #9798A8;
	font-size:100%;
}
#divButtonValiderMarche{
	width:384px;
	float:right;
}
#divButtonValiderMarche button{
	background:#588898;
	color:white;
	border:none;
	font-weight:bold;
	font-size:100%;
	margin-top:10px;
}
.divLigneTypeMarche{
	min-height:1px;
	height:auto !important;
	height:1px;
	color:#043D5A !important;
}
.divIntituleTypeMarche{
	margin:5px 0  10px 15px;
}
.divIntituleTypeMarche h4{
	font-size:110%;
	/*color:#490440;*/
	}
.divLigneMarche{
	min-height:1px;
	height:auto !important;
	height:1px;
	margin-left:15px;
	margin-bottom:20px;
}
.divLigneMarche h4{
	font-size:100%;
	font-weight:normal;
	margin-bottom:5px;
}
.divLigneMarche h4 span{
	font-weight:bold;
	color:#FF7320;
}
.divLigneMarche h4 span a{
	text-decoration:underline;
	color:#FF7320 !important;
}
.divLigneMarche h4 span a:hover{
	text-decoration:none;
}
.divLabelMarcheGauche{
	min-height:1px;
	height:auto !important;
	height:1px;
	width:150px;
	float:left;
	font-weight:bold;
}
.divMarcheDroit{
	min-height:1px;
	height:auto !important;
	height:1px;
	width:380px;
	float:right;
}
.divMarcheDroit a{
	color:#043D5A !important;
	text-decoration:underline;
}
.divMarcheDroit a:hover{
	text-decoration:none;
}
.divListeFichierMarche{
	min-height:1px;
	height:auto !important;
	height:1px;
	margin-top:5px;
	padding-right:20px;
	/*width:490px;*/

}
.divListeFichierMarche ul{
	/*width:130px;*/
	list-style:none;
	float:right;
}
.divListeFichierMarche ul li{
	/*text-align:left !important;*/
}
.divListeFichierMarche1{
	min-height:1px;
	height:auto !important;
	height:1px;
	margin-top:5px;
	padding-right:20px;
	width:490px;
}
.divListeFichierMarche1 ul{
	margin-left:10px;
	list-style:none;
}
.divListeFichierMarche1 ul li{
	/*text-align:left !important;*/
}
.divListeFichierMarche1 ul li a{
	color:#043D5A !important;
	text-decoration:underline;
}
.divListeFichierMarche1 ul li a:hover{
	text-decoration:none;
}
.listeMarches{
	font-size:100%;
	font-weight:normal;
	margin:0 0 20px 25px;
}
.divListeOffres{
	min-height:1px;
	height:auto !important;
	height:1px;
	margin-top:5px;
	width:550px;
}
.liensOffres{
	width:150px;
	list-style:none;
	float:right;
	color:#005984;
	margin-bottom:10px;
}
.liensOffres li {
	padding:1px 0 1px 0;
}
.liensOffres li a{
	text-decoration:underline;
	color:#005984;
}
.liensOffres li a:hover{
	text-decoration:none;
}
#divLienTousLesAvis{
	min-height:1px;
	height:auto !important;
	height:1px;
	float:right;
	text-align:right;
	margin:20px 0 0 0;
	padding-right:2px;
	font-size:90%;
}
#divLienTousLesAvis a{
	text-decoration:underline;
	color:#043D5A !important;
	font-weight:bold;
}
#divLienTousLesAvis a:hover{
	text-decoration:none;
}
#selectPubli{
	border-style: solid;
	border-width: 1px;
	border-color: #868880;
	font-size:100%;
	float:left;
	margin-left:3px;
}
#spanButtonOkPublication{
	background:#588898;
	color:white;
	border:none;
	font-weight:bold;
	font-size:100%;
	margin-top:1px;
	margin-left:3px !important;
	margin-left:0;
}
#formPub{
	margin-top:0px;
	min-height:1px;
	height:auto !important;
	height:1px;
	background:#E7F4F4;
	padding:10px 0 10px 10px;
}
#divFormPublication{
}
#formPub label{
	font-weight:bold;
	float:left;
}
.divLignePublication h4 {
	font-weight:bold;
	color:#FF7320;
	font-size:100%;
	margin-bottom:5px;
}
.divTextePublication{
	min-height:1px;
	height:auto !important;
	height:1px;
	width:420px;
	float:left;
	margin-bottom:5px;
}
.ulPubli{
	list-style:none;
	margin:5px 0 10px 5px;
}
#divPublicationsSpecialisees h4{
	font-size:100%;
	margin-bottom:10px;
}
/*classes rte*/
.sousTitreContenu {
	color:#005984;
	/*font-family:arial !important;*/
	font-weight:bold;
}
span.texteOrange {
	color:#FF7522;
}
.align-left{
	text-align:left;
}
.align-right{
	text-align:right;
}
.align-center{
	text-align:center;
}
.classeImage{
	float:left;
	margin-right:12px;
	margin-bottom:15px;	
}
.elus {
    float:left;
	width:150px;
	text-align:center;
	margin-top:15px;
	min-height:10px;
	height:auto !important;
	height:10px;
  }
.elus a{
    color:#043D5A !important;
	font-weight:bold !important;
  }
.elus img {
	margin-bottom:3px;
}
.lien {
  color:#043D5A !important;
}
p.clearBothRTE {
	clear: both;
	font-size: 0%;
	height: 0px;
}
/*agenda*/

.divBlocContenuRubrique { 
	background: url("http://www.cg976.fr/fileadmin/templates/images/fondBlocContenuMilieu.png") no-repeat 100% 0%; 
} 

.divContenuExterne #contenuPrincipal {
	margin-left:-15px;
	
}

.divContenuExterne li a { 
background-image: url("http://www.cg976.fr/fileadmin/templates/images/pictoMenuNiv2BleuFonce.png"); 
background-repeat: no-repeat; 
font-size: 100%; 
background-position: 5px 0.4em; 
} 
.divContenuExterne p { 
font-size: 65%; 
color: #565656; 
background-color: inherit; 
padding-left: 25px; 
padding-right: 4px; 
padding-bottom: 8px; 
} 
.divContenuExterne p a { 
color: #FF6603; 
background-color: inherit; 
font-weight: bold; 
text-decoration: underline; 
} 
.divContenuExterne h3 { 
height: 1%; 
} 
.divContenuExterne img { 
margin-left: 5px; 
} 
.divContenuExterne ul { 
float: left; 
width: 550px; 
padding-bottom: 11px; 
padding-left: 20px; 
} 
.divContenuExterne li { 
float: left; 
width: 175px; 
} 
.divContenuExterne li h3 { 
padding-left: 0; 
margin-left: 0; 
background-image: none !important; 
} 
.divContenuExterne li h4 { 
padding: 0; 
margin: 0; 
background-image: none !important; 
} 
.divContenuExterne li a { 
color: #565656; 
background-color: inherit; 
text-decoration: none; 
padding-left: 15px; 
display: block; 
font-weight: normal; 
} 
.divContenuExterne #liSousMenuActif a { 
font-weight: bold; 
color: black; 
background-color: inherit; 
} 

#divOutilsNiv3 { 
margin-bottom: 0; 
} 


.divOutils { 
background-color: #E6E3DA; 
color: inherit; 
margin: 5px 0; 
font-size: 65%; 
line-height: 18px; 
padding-left: 22px; 
width: 550px; 
float: left; 
} 
.divOutils span { 
display: none; 
} 
.divOutils a { 
text-decoration: none; 
color: #292827; 
background-color: inherit; 
} 
#lienImprimer { 
background: url("http://www.cg976.fr/fileadmin/templates/cgMayotte/styles/images/pictoImpression.png") no-repeat 0% 50%; 
padding-left: 17px; 
margin-right: 23px; 
float: left; 
} 
#lienPDF { 
background: url("http://www.cg976.fr/fileadmin/templates/cgMayotte/styles/images/pictoPDF.png") no-repeat 0% 50%; 
padding-left: 15px; 
float: left; 
} 

#contenuPrincipal p{ 
	font-size: 65%; 
	margin-top:5px; 
	padding-bottom:20px; 
} 
	 



	




/* Agenda */
table.tableInfoAgenda {
	display: none;
}

table.agenda {
	width: 100% !important;
	font-size: 90%;
	margin-bottom:10px;
}

table.agenda td {

	height:70px !important;

}

table.agenda caption {
	display: none;
}

table.miniAgenda {
	width: 260px !important;
	font-size: 90%;
	border: 1px solid !important;
	margin: 0x;
	padding: 0px;
}
table.miniAgenda caption {
	display: table-caption;
	text-align: center;	
	font-size: 110%;
}
/*
.agenda tr {
	min-height: 40px;
	height:auto !important;
	height:40px;	
}
*/

#jumpTo {
	margin-bottom:10px;
}

#detailMonth {
	font-size:100%;
}

.agenda .agendaHeader {
	color: black;
	height: 30px !important;
	/*font-size: 0.7em;*/
}

.agenda #agendaDayTime {
	height: 30px  !important;
}

.agenda #agendaDayEvent {
	height: 30px  !important;
	width: 510px;
}


#agendaWeekHeader {
	background: #FF7320;
	width: 20px;
	color: white;
	/*font-size: 0.5em;*/
}

.agendaJourHeader {
	background: #FFFFFF;
	/*font-size: 0.7em;*/
	width: 76px;
	text-align: center;
}

.agendaDayOtherMonth {
	/*background: gray;*/
}

.agendaWeekNumber {
	background: #E7F4F4;
}

.agendaWeekNumber a{
	color:#005984 !important;
}

.agendaHour {
	background:#FFFFFF;
}

.agendaDayCurrent,  .agendaDayCurrent a {
	background:#005984;
	color: white;
}

.agendaDayCurrent:hover {
	background:#005984;
}

.agendaDayOff {
	background: #CCCCCC;
	color: white;
}

.agendaDayOff:hover {
	background: #CCCCCC;
}

.agendaDayWork{
	background: white;
	color: #005984;
	border: none;
}

.agendaDayWork:hover {
	background: #E7F4F4;
}
.agendaDayOff a:hover, .agendaDayCurrent a:hover, .agendaDayWork a:hover {
	text-decoration:underline !important;
}
#agendaWeekTime span{
	display: none;
}

.agendaEvent {
	margin-bottom: 15px;
	margin-top: 15px;
	/*padding-left:0px;*/
}

#agendaSearch {
	margin: 0 0 0 0;
}

#agendaEventList .agendaEvent p{
	margin-bottom: 0px !important;
	padding-bottom:0px !important;
}

#agendaSearch .divLabelAbonnement {
	/*font-family:arial !important;*/
	font-weight:bold;
	font-size:100%;
	margin:10px 0 10px 0;
}

#agendaSearch  #agendaSelectCat {
	float: left;
}

#agendaSearch .boutonAide {
	background:#588898;
	color:white;
	border:none;
	font-weight:bold;
	font-size:100%;
	padding:0 !important;
}


.agendaSubmit input {
	float: left;
	margin: 0 0 0 6px;
}

.floatAgenda {
	float: left;
	/*min-height: 300px;
	height:auto !important;
	height:300px;*/
}

.miniAgenda td {
	height: 30px;
}

#detailWeek, #detalWeek {
	font-size:65%;
}

.hidden {
	display: none;
}
.agendaDayWork a{
	color:#005984 !important;
}
.agendaDayOtherMonth a{
	color:#005984 !important;
}
.agendaDayOff a{
	color:#005984 !important;
}
#contentEvent{
	font-size:90%;
}
#contentEvent p{
	margin-bottom:7px;
}
.tx-tc2lcal-pi1 h4{
	font-size:120%;
	color:#005984;
	/*font-family:arial !important;*/
	margin-bottom:10px;
}
#headerTc2lCalDay{
	text-align:center;
	margin-bottom:5px;
}
#contentDay table{
	margin-top:10px;
	border:1px solid;
	padding:0 5px 0 5px;
}
.agendaHeader th{
	background:#005984;
	color:white;
}
#detailYear{
	font-size:110%;
}
 #detailWeek, #detalWeek{
	font-size:100%;
}
.agendaHour{
	background:#E7F4F4;
}
#agendaSelectCat{
	border-style: solid;
	border-width: 1px;
	border-color: #9798A8;
	font-size:100%;
}
#backInYear{
	margin-top:10px;
}
/*******************************************************************************************************************************/
#divFormRecherche{
	width:550px;
	height:20px;
	min-height:auto !important;
	height:20px;	
	background:#E7F4F4;
	padding: 10px 0 10px 15px;
}
#divFormRecherche label{
	font-weight:bold;
	float:left;
}
#inputMotCle{
	float:left;
	border-style: solid;
	border-width: 1px;
	border-color: #9798A8;
}
#divButtonRechercher button{
	background:#588898;
	color:white;
	border:none;
	font-weight:bold;
	font-size:100%;
	margin-top:1px;
	margin-left:3px !important;
	margin-left:0;
}
h3 {
	
}
.clearBoth{
	clear:both;
}
p.separationBleue {
	background-color:#005984;
	height:1px;
	margin:10px auto;
	width:250px;
}
.h3Contenu {
	color:#005984 !important;
	/*font-family:arial !important;*/
	font-size:120% !important;
	margin-bottom:3px !important;
}
.h3Contenu a{
	color:#005984 !important;
/*	font-family:arial !important;*/
	font-size:100%;
	margin-bottom:3px !important;
	text-decoration:underline !important;
}
.h3Contenu a:hover{
	text-decoration:none !important;
}
ul.listeContenu {
	margin-top:10px;
	list-style-type: square;
	/*color:#005984 !important;*/
	color: #043d5a !important;
	margin-left:25px;
}
ul.listeContenu a {
	/*color:#005984 !important;*/
	color: #043d5a !important;
	font-weight:bold;
}
ul.sousListeContenu {
	list-style-type: circle;
	color:#005984 !important;
	margin-left:25px;
}
ul.sousListeContenu a {
	color:#005984 !important;
	font-weight:bold;
}
.h4Contenu {
	font-weight:bold !important;
	font-size:110%;
	margin: 0 !important;
	padding: 0 !important;
	color: #006FA4;
	margin-bottom:3px !important;
}
.h4Contenu a{
	font-weight:bold !important;
	margin: 0 !important;
	padding: 0 !important;
	text-decoration:underline !important;
}
.contenuNV1 a:hover{
	text-decoration:none !important;
}
.floatLeft{
	width:50%;
	float:left;
}
.divLigneRecherche{
	margin:13px 0 10px 0;
}
.divTitreDocRecherche{
	margin-bottom:10px;
}
.imgAlignLeft {
	float:left;
	margin:0px 10px 0px 0px;
}

.imgAlignRight {
	float:right;
	margin:0px 0px 0px 10px;
}
.imgVignettePublication{
	float:right;
}
/************************************************************************/


#h3Plan{
	font-size:110% !important;
	color:#025A85 !important;
	margin-bottom:8px !important;
}
#h3Plan a{
	color:#025A85 !important;
}
#ulPlanNV1{
	list-style:none !important;
	margin:0 0 7px 25px;
	line-height:16px;
}
#ulPlanNV1 li{
	background: url("puceService.gif") no-repeat 0 6px !important;
	padding-left:10px;
}
#ulPlanNV2{
	list-style:none !important;
	margin-left:35px;
}
#ulPlanNV2 li{
	background:none !important;
}
#ulPlanNV1 a{
	color:#043D5A !important;
}
#ulPlanNV2 a{
	color:#043D5A !important;
}
#ulPlanNV3{
	list-style:none !important;
	margin-left:45px;
}
#ulPlanNV3 li{
	background:none !important;
}
#ulPlanNV3 a{
	color:#043D5A !important;
}
.divSelect label{
	font-weight:bold;
}
.divSelect {
	background:#E7F4F4;
	padding:10px 0 10px 0;
	margin-bottom:7px !important;
	margin-bottom:3px;
	text-align:center;
}

.divSelect select{
	border-style: solid;
	border-width: 1px;
	border-color: #868880;
	font-size:100%;
}
.ligneAnnuaire h4{
	font-size:110%;
	color:#FF7320;
	margin-bottom:7px;
	margin-top:12px;
}
.ligneAnnuaire{
	height:1px;
	height:auto !important;
	min-height:1px;
	margin-bottom:5px;
}
.ligneAnnuaireLeft{
	float:left;
	width:220px;
	font-weight:bold;
	margin-bottom:5px !important;
	margin-bottom:0;
}
#nom{
	float:left;
}
#divImageResp{
	float:right;
}
#listeDirection{
	list-style:none;
	margin:10px 0 10px 10px;
}
#listeDirection li{
	padding:1px 0 2px 0;
}
#divRetour{
	float:right;
	margin-top:6px;
	margin-left:10px;
}
.tx-sqliannuaire-pi1 h3{
	margin-bottom:10px !important;
}