﻿@charset "utf-8";
/*******************************************
// Feuille de style CSS Studio BS
// Auteur      : Studio-BS
// Date        : février 2009
// Définition  : Feuille de style
// Version     : 1.0.0
*******************************************/

div#content { text-align:left; }
object#content { display:block; margin:0 auto; }


html, body{
	position:relative;
	margin:0;
	padding:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#0E0B0F;
	background-color:#2a2927;
	background-image:url(bg_motif.gif);
	background-repeat:repeat;
	text-align:center;
}
img{
	border:0px;
}
#flash{
	position:relative;
	width:585px;
	height:586px;
	padding:0px;
	margin:0 auto;
	margin-top:20px;
	background-color:#fff;
}
	#flash h1{
		float:left;
		display:inline;
		width:70%;
		margin:0px;
		padding:0px;
		padding-left:20px;
		padding-top:20px;
		color:#830A12;
		font-weight:normal;
		font-size:14px;
	}
	
	#flash p{
		float:left;
		display:inline;
		width:70%;
		margin:0px;
		padding:0px;
		padding-left:20px;
		padding-top:20px;
	}
