/* Wechselrubriken */
#ID_AlternatingRubrics {
	border: 1px solid #EEE;
	height: 20px;
	margin: 0 0 20px 0;
}
#ID_AlternatingRubrics dl {
	position: absolute;
	top: 242px;
	text-align: center;
	width: 280px;
	left: 240px;
}
#ID_AlternatingRubrics div.back {
	position: absolute;
	top: 245px;
	width: 10px;
	padding: 0 0 0 5px;
}
#ID_AlternatingRubrics div.next{
	position: absolute;
	width: 80px;
	text-align: right;
	top: 245px;
	margin: 0 0 0 300px;
}
#ID_AlternatingRubrics dl,
#ID_AlternatingRubrics dl dt, 
#ID_AlternatingRubrics dl dd, 
#ID_AlternatingRubrics ul, 
#ID_AlternatingRubrics ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#ID_AlternatingRubrics dt {
	color: #666;
	text-decoration: underline;
	display: inline;
	cursor: pointer;
	height: 20px;
	line-height: 20px;
	margin: 2px 0;
	font-weight: bold;
}

#ID_AlternatingRubrics dd {
	position: absolute;
	top: 0;
	left: 200px;
	width: 300px;
	background: #FFF;
	text-align: left;
}

#ID_AlternatingRubrics ul {
	margin: 2px;
	border: 1px solid #666;
}
#ID_AlternatingRubrics ul li {
	margin: 0;
	padding: 0;
	background: #FFF;
	border: 0;
}
#ID_AlternatingRubrics ul li a,
#ID_AlternatingRubrics ul li strong,
#ID_AlternatingRubrics dl dt a {
	color: #000;
	text-decoration: none;
	display: block;
	padding: 5px;
	font-weight: bold;
}
#ID_AlternatingRubrics ul li strong {
	color: #C00;
	background: #EEE;
}
#ID_AlternatingRubrics ul li .rubric {
	text-transform: lowercase;
}
#ID_AlternatingRubrics ul li a:link,
#ID_AlternatingRubrics ul li a:visited {
	text-decoration: none !important;
}
#ID_AlternatingRubrics ul li a:focus,
#ID_AlternatingRubrics ul li a:hover,
#ID_AlternatingRubrics ul li a:active {
	text-decoration: none;
	background: #666;
	color: #FFF !important;
}