/* Grunddesign */
body {
	background: #FFF;
}

* {
	font-family: "Trebuchet MS", "Bitstream Vera sans", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 140%;
}
h1 {
	font-size: 20px;
	margin: 20px 0 0 0;
}
h2 {
	font-size: 14px;
	margin: 0 0 15px 0;
}
h3 {
	font-size: 12px;
	margin: 10px 0 0 0;
}
h4 {
	font-size: 11px;
	margin: 10px 0 0 0;
	color: #666;
}
p {
	margin: 0 0 10px 0;
}
cite, q {
	font-style: italic;
}
dl dt {
	margin: 10px 0 0 0;
	font-weight: bold;
}
.mark {
	font-weight: bold;
	background: #ECECEC;
	color: #CC0000;
}
.error {
	color: #CC0000;
	font-weight: bold;
}

/* Content-Teil */
#ID_Wrapper #ID_Content a:link,
#ID_Wrapper #ID_Content a:visited {
	text-decoration: underline;
	color: #666;
}
#ID_Wrapper #ID_Content a:focus {
	background: #CCC;
}
#ID_Wrapper #ID_Content a:focus,
#ID_Wrapper #ID_Content a:hover,
#ID_Wrapper #ID_Content a:active {
	text-decoration: none;
	color: #CC0000;
}

/* Datum Artikel */
#ID_Date {
	float: left;
	font-size: 14px;
	font-weight: bold;
}

/* Datum Frontpage */
/*
#ID_Catchline #ID_Date {
	font-size: 14px;
	font-weight: bold;
}
*/

/* Link zur Tagesausgabe (Startseite) */
#ID_Contents {
	display: none;
}

/* Letzte Meldung (Startseite) */
#ID_LatestNews {
	border: 1px dotted #999;
	margin: 10px 0 10px 0;
	color: #666;
}
#ID_LatestNews address {
	background: url(bg.png) #EEE;
	border-bottom: 1px dotted #999;
	padding: 0 10px 0 10px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	color: #CC0000;
	margin: 0;
}
#ID_LatestNews dl {
	margin: 0;
	padding: 0;
}
#ID_LatestNews dt {
	font-weight: bold;
	padding: 0 10px 0 10px;
	margin: 5px 0 0 0;
}
#ID_LatestNews dt a:link,
#ID_LatestNews dt a:visited {
	color: #CC0000;
	text-align: none;
}
#ID_LatestNews dt a:focus,
#ID_LatestNews dt a:hover,
#ID_LatestNews dt a:active {
	color: #CC0000;
	text-align: underline;
}
#ID_LatestNews dd {
	margin: 0 0 5px 0;
	padding: 0 10px 0 10px;
}

/* Leitartikel (Startseite) */
#ID_LeadingArticle {
	margin: 10px 0 10px 0;
}
#ID_Catchline h1 {
	margin: 0 0 5px 0;
}
#ID_Catchline h1 a {
	font-size: 15px;
	color: #333 !important;
}
#ID_Catchline h1 a:focus,
#ID_Catchline h1 a:hover,
#ID_Catchline h1 a:active {
	font-size: 15px;
	color: #CC0000 !important;
}

#ID_Catchline h2 {
	color: #666;
	font-size: 13px !important;
}

/* Sonstige Meldungen (Startseite) */
#ID_News {
	clear: left;
}

/* Artikelansicht */
#ID_ArticleView #ID_Date {
	float: none;
}
#ID_ArticleView #ID_Contents {
	text-align: left;
}
#ID_ArticleView h1 {
	margin: 15px 0 5px 0;
	font-size: 22px;
}
#ID_ArticleView h2 {
	color: #666;
	font-size: 16px;
	margin: 0;
}
#ID_ArticleView h3 {
	color: #666;
	font-size: 13px !important;
	margin: 12px 0 0 0;
	font-size: 14px;
}
#ID_ArticleView address {
	font-style: italic;
	color: #666;
	margin: 0 0 15px 0;
}

/* Artikelansicht: Weitere Artikel aus diesem Ressort */
#ID_ArticleView .Announcements {
	margin: 20px 0 30px 0;
}
#ID_ArticleView .Announcements h3 {
	margin: 0 0 10px 0;
	padding: 0 20px;
	text-transform: uppercase;
	background: url(bg.png) #EEE;
	color: #666;
}
#ID_ArticleView .Announcements dl {
	margin: 0;
	padding: 0 20px;
}
#ID_ArticleView .Announcements dt {
	padding: 0;
	color: #CC0000;
	font-weight: bold;
}
#ID_ArticleView .Announcements dt a:link span,
#ID_ArticleView .Announcements dt a:visited span,
#ID_ArticleView .Announcements dt a:focus span,
#ID_ArticleView .Announcements dt a:hover span,
#ID_ArticleView .Announcements dt a:active span {
	text-decoration: none;
	color: #666;
	display: block;
}
#ID_ArticleView .Announcements dd {
	margin: 0;
	padding: 0;
}
.ImageBox,
#ID_Catchline .ImageBox {
	float: left;
	margin: 0 10px 0 0;
	/* width ist an der Stelle nicht verfuegbar */
}
.ImageBoxTitle,
.ImageBoxBig {
	margin: 10px 0;
	text-align: center;
}

/* Tools */
#ID_Tools {
	display: none;
}

/* Downloads unter einem Artikel */
#ID_ArticleView #ID_Documents {
	display: none;
}

/* Artikelserien / Querverweise */
#ID_ArticleView #ID_Series {
	display: none;
}

/* Leserbriefe unter einem Artikel */
#ID_ArticleView #ID_Letters {
	display: none;
}

/* LeserInnenbriefe-Seite */
#ID_Letters .Writer {
	margin: 15px 0 0 0;
	font-weight: bold;
	color: #666;
	font-style: italic;
}
#ID_Letters .Date {
	font-style: italic;
}
#ID_Letters .Link {
	margin: 15px 0;
	font-weight: bold;
}
#ID_Letters #ID_Listing ul {
	list-style: none;
	margin: 0 10px 0 0;
	padding: 0;
}
#ID_Letters #ID_Listing ul li {
	margin: 15px 0;
	padding: 0;
}
#ID_Letters #ID_Listing ul li .Writer {
	margin: 0;
	font-weight: normal;
	font-style: italic;
}
#ID_Letters #ID_Listing ul li .Title {
	font-weight: bold;
}
#ID_Letters ul{
	margin: 0 0 15px 0;
}

/* Buchempfehlung */
#ID_ArticleView #ID_Book {
	display: none;
}

/* Das Uebliche zu einem Artikel */
#ID_Wrapper #ID_Content .Author {
	font-style: italic;
	font-size: 12px;
}
#ID_Wrapper #ID_Content .ImageBox {
	float: left;
	margin: 0 10px 10px 0;
	/* width ist an der Stelle nicht verfuegbar */
}
#ID_Wrapper #ID_Content .ImageBox .Title,
#ID_Wrapper #ID_Content .ImageBox .Copyright {
	font-size: 10px;
	font-style: italic;
	color: #666;
}

/* Redaktionelle Meldungen */
#ID_News .JW_Announcements {
	background: url(NewsAus_der_redaktion.png) #ECECEC no-repeat;
	padding: 10px 0 0 0;
	margin: 20px 0 30px 0;
	border: 1px dotted #666;
}
#ID_News .JW_Announcements dl {
	margin: 0;
}
#ID_News .JW_Announcements dt {
	background: #FFF;
	color: #CC0000;
	padding: 0 10px 0 10px;
	font-weight: bold;
}
#ID_News .JW_Announcements dt a:link span,
#ID_News .JW_Announcements dt a:visited span,
#ID_News .JW_Announcements dt a:focus span,
#ID_News .JW_Announcements dt a:hover span,
#ID_News .JW_Announcements dt a:active span {
	text-decoration: none;
	color: #666;
	display: block;
}
#ID_News .JW_Announcements dd {
	margin: 0;
	padding: 0 10px 10px 10px;
	border-left: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;
	border-bottom: 1px solid #ECECEC;
}

/* Meldungen / Ressorts */
#ID_News .Announcements {
	/* border: 1px dotted #CCC; */
	margin: 0 0 10px 0;
}
#ID_News .Announcements address {
	background: url(ListingRessort.png);
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #666;
	border-left: 1px solid #EEE;
	border-right: 1px solid #EEE;
	padding: 0 10px;
	color: #333;
}
#ID_News .Announcements dl {
	margin: 5px 0 20px 0;
}
#ID_News .Announcements dt {
	font-weight: bold;
	padding: 0 10px 0 10px;
}
#ID_News .Announcements dd {
	margin: 0 0 10px 0;
	padding: 0 10px 0 10px;
}

/* Ausgaben-Listing */
#ID_Listing h1 {
	margin: 0 0 15px 0;
	font-size: 16px;
}
#ID_Listing #ID_Ressort h1 {
	margin: 0;
	font-size: 22px;
}
#ID_Listing h2 { 
	display: none; speak: normal;
}
#ID_Listing .Announcements {
	border: 1px solid #EEE;
	margin: 30px 0 10px 0;
}
#ID_Listing .Announcements h3 {
	background: url(ListingRessort.png);
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #666;
	border-left: 1px solid #EEE;
	border-right: 1px solid #EEE;
	padding: 0 10px;
	color: #333;
}
#ID_Listing .Announcements .quote_of_the_day {
	margin: 10px 10px 20px 10px;
}
#ID_Listing .Announcements .quote_of_the_day cite {
	font-style: italic;
}
#ID_Listing .Announcements .quote_of_the_day address {
	margin: 5px 0 0 0;
	font-style: italic;
	font-size: 12px;
	color: #666;
}
#ID_Listing .Announcements ul {
	margin: 5px 0 20px 0;
	padding: 0 10px 0 10px;
}
#ID_Listing .Announcements ul li {
	clear: both;
	list-style-type: none;
	margin: 0 0 15px 0;
	padding: 0;
}
#ID_Listing .Announcements ul li h4 {
	font-weight: bold;
	margin: 0;
}
#ID_Listing .Announcements ul li h4 span {
	display: inline !important;
}
#ID_Listing .Announcements ul li .ImageBox1 {
	float: left;
	margin: 0 10px 10px 0;
	width: 70px;
}
#ID_Listing .Announcements ul li .ImageBox2 {
	float: right;
	margin: 0 0 10px 10px;
	width: 70px;
}
#ID_Wrapper #ID_Content #ID_Listing .Announcements ul li h4 a:link,
#ID_Wrapper #ID_Content #ID_Listing .Announcements ul li h4 a:visited {
	text-decoration: underline;
	color: #666;
	display: block;
}
#ID_Wrapper #ID_Content #ID_Listing .Announcements ul li h4 a:focus,
#ID_Wrapper #ID_Content #ID_Listing .Announcements ul li h4 a:hover,
#ID_Wrapper #ID_Content #ID_Listing .Announcements ul li h4 a:active {
	text-decoration: none;
	color: #CC0000;
}
#ID_Wrapper #ID_Content #ID_Listing .Announcements ul li a:link strong,
#ID_Wrapper #ID_Content #ID_Listing .Announcements ul li a:visited strong {
	font-weight: bold;
	text-decoration: underline;
	color: #666;
	display: block;
}
#ID_Wrapper #ID_Content #ID_Listing .Announcements ul li a:focus strong,
#ID_Wrapper #ID_Content #ID_Listing .Announcements ul li a:hover strong,
#ID_Wrapper #ID_Content #ID_Listing .Announcements ul li a:active strong {
	font-weight: bold;
	text-decoration: none;
	color: #CC0000;
}
#ID_Wrapper #ID_Content #ID_Listing .Announcements ul li a span {
	display: block;
}
#ID_Wrapper #ID_Content #ID_Listing .Announcements ul li a:link,
#ID_Wrapper #ID_Content #ID_Listing .Announcements ul li a:visited {
	text-decoration: underline;
	color: #666;
/*	display: block; */
}
#ID_Wrapper #ID_Content #ID_Listing .Announcements ul li a:focus,
#ID_Wrapper #ID_Content #ID_Listing .Announcements ul li a:hover,
#ID_Wrapper #ID_Content #ID_Listing .Announcements ul li a:active {
	text-decoration: none;
	color: #CC0000;
}
#ID_Listing .Announcements ul li p {
	margin: 0;
}
#ID_Listing .Announcements ul li p span.Author {
	display: block;
}
#ID_Listing .Announcements ul li div.Author {
	margin: 0;
}
#ID_Listing .Announcements ul.NI {
	list-style-type: none;
	margin: 15px 0 0 0;
	padding: 0;
}
#ID_Listing .Announcements ul.NI li {
	margin: 10px 0 0 0;
	padding: 0 0 6px 20px;
	background: url(Listing_li.png) 10px 8px no-repeat;
}
#ID_Listing .Announcements ul.NI li a {
	display: block;
}

#ID_Content #ID_Listing .Announcements ul.NI li a:link strong,
#ID_Content #ID_Listing .Announcements ul.NI li a:visited strong {
	text-decoration: underline;
	color: #333;
}
#ID_Content #ID_Listing .Announcements ul.NI li a:focus strong,
#ID_Content #ID_Listing .Announcements ul.NI li a:hover strong,
#ID_Content #ID_Listing .Announcements ul.NI li a:active strong {
	text-decoration: none;
	color: #CC0000;
}
#ID_Content #ID_Listing .Announcements ul.NI li a strong {
	font-weight: normal;
}

/* Kurzmeldungen */
#ID_Listing .ShortNews h4 {
	background: url(ShortNews.png) no-repeat 2px 4px;
	margin: 15px 0 0 0;
	padding: 0 0 0 20px;
	border: 0;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
}
#ID_Listing .ShortNews ul {
	list-style-type: none;
	margin: 0 0 20px 0;
	padding: 0;
}
#ID_Listing .ShortNews ul li {
	margin: 5px 0 0 0;
	padding: 0 0 6px 20px;
	background: url(Listing_li.png) 10px 8px no-repeat;
}
#ID_Listing .ShortNews ul li a {
	display: block;
}
#ID_Content #ID_Listing .ShortNews ul li a:link,
#ID_Content #ID_Listing .ShortNews ul li a:visited {
	text-decoration: underline;
	color: #000;
}
#ID_Content #ID_Listing .ShortNews ul li a:focus,
#ID_Content #ID_Listing .ShortNews ul li a:hover,
#ID_Content #ID_Listing .ShortNews ul li a:active {
	text-decoration: none;
	color: #FF0000;
}

/* Vorschau auf spaetere Ausgabe (Startseite) */
#ID_News #ID_Preview {
	/* border: 1px dotted #999; */
	margin: 0 0 10px 0;
	color: #333;
}
#ID_News #ID_Preview address {
	background: url(bg.png) #EEE;
	border-bottom: 1px dotted #999;
	padding: 0 10px 0 10px;
	font-style: normal;
	font-weight: bold;
	margin: 0;
}
#ID_News #ID_Preview dl {
	margin: 5px 0 20px 0;
}
#ID_News #ID_Preview dt {
	font-weight: bold;
	padding: 0 10px 0 10px;
}
#ID_News #ID_Preview dd {
	margin: 0 0 10px 0;
	padding: 0 10px 0 10px;
}

/* Navigation */
#ID_Wrapper #ID_Navi {
	display: none;
}

/* Suche */

#ID_Wrapper #ID_Navi #ID_Search {
	display: none;
}

/* Specials */
#ID_Specials {
	display: none;
}

/* Footer */
#ID_Footer {
	margin: 60px 0 0 0;
}
#ID_Footer span{
	display: none;
}
#ID_Footer p {
	margin: 20px 0 0 20px;
	clear: both;
	border-top: dotted #CCC 1px;
	text-align: center;
	font: normal 10px Verdana, Arial, sans-serif;
	color: #666;
}
#ID_Footer p a:link,
#ID_Footer p a:visited {
	font: normal 10px Verdana, Arial, sans-serif;
	color: #666;
	text-decoration: underline;
}
#ID_Footer p a:focus,
#ID_Footer p a:hover,
#ID_Footer p a:active {
	font: normal 10px Verdana, Arial, sans-serif;
	color: #FFF;
	text-decoration: none;
	background: #666;
}

/* Werbung */
#ID_Ad {
	display: none;
}
#ID_Ad_Sky {
	display: none;
}
hr,
.DisplayNo, .DN {
	display: none;
}
img {
	border: 0;
}

/* Archiv / Suchausgabe */
#ID_Archiv .mark {
	background: #FFF;
	color: #000;
}
#ID_Archiv ul {
	list-style: square;
	margin: 0 0 0 10px;
	padding: 0;
}
#ID_Archiv ul li {
	margin: 0 0 15px 0;
	padding: 0;
}
#ID_Archiv ul li .Protected div.Date {
	font-style: italic;
	color: #666;
	border-bottom: 1px solid #CCC;
	margin: 0 0 5px 0;
}
#ID_Archiv ul li .Free div.Date {
	font-style: italic;
	color: #000;
	border-bottom: 1px solid #CCC;
	margin: 0 0 5px 0;
}
#ID_Archiv ul li .Title {
	font-weight: bold;
}
#ID_Archiv ul li .Protected .Title a:link {
	color: #666;
}
#ID_Archiv ul li .Free .Title a:link {
	color: #000;
}
#ID_Archiv ul li .Protected .Title a:visited,
#ID_Archiv ul li .Free .Title a:visited {
	color: #888;
}

/* Beilagen */

#ID_Supplement ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#ID_Supplement ul li {
	margin: 0 0 20px 0;
}
#ID_Supplement ul li .SupplementListDate {
	font-style: italic;
}
#ID_Supplement #ID_Listing h1 {
	font-size: 20px;
}
#ID_Supplement #ID_Listing h2 {
	display: block;
}
#ID_Supplement ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Themenchannels */
#ID_Channels dl dt {
	font-weight: bold;
	margin: 15px 0 0 0;
}
#ID_Channels dl dd {
	margin: 0;
	padding: 0;
}
#ID_Channels ul li {
	margin: 0 0 20px 0;
}
#ID_Channels ul li .Date {
	font-style: italic;
}
#ID_Channels ul li .Title {
	font-weight: bold;
}
#ID_Channels ul li .Subtitle {
	color: #333;;
}
#ID_Channels ul li .Author {
	font-style: italic;
	color: #666;
}

/* Terminkalender-Seite */

#ID_Calendar .Disclaimer {
	margin: 10px 0;
	text-align: right;
}
#ID_Calendar dl dt {
	font-weight: bold;
	margin: 20px 0 0 0;
}
#ID_Calendar dl dd div.Category {
	margin: 15px 0 0 0;
}
#ID_Calendar dl dd address {
	font-style: normal;
}

/* Terminkalender Einzelansicht */
#ID_Calendar #ID_CalendarView {
	margin: 20px 0;
	border: 1px solid #666;
	padding: 0 0 15px 0;
}
#ID_Calendar #ID_CalendarView h2, 
#ID_Calendar #ID_CalendarView h3, 
#ID_Calendar #ID_CalendarView p, 
#ID_Calendar #ID_CalendarView address {
	padding: 0 15px;
}
#ID_Calendar #ID_CalendarView h2 {
	background: #333;
	color: #FFF;
}
#ID_Calendar #ID_CalendarView a:link {
	color: #000;
	text-decoration: underline;
}
#ID_Calendar #ID_CalendarView a:visited {
	color: #666;
	text-decoration: underline;
}
#ID_Calendar #ID_CalendarView a:focus,
#ID_Calendar #ID_CalendarView a:hover,
#ID_Calendar #ID_CalendarView a:active {
	color: #FFF;
	background: #333;
	text-decoration: none;
}

/* Mediadaten */

#ID_Mediadaten h3 {
	font-size: 14px;
	margin: 25px 0 10px 0;
	background: #333;
	color: #FFF;
	padding: 2px 2px 2px 20px;
}
#ID_Mediadaten h4 {
	font-size: 14px;
	margin: 15px 0;
	color: #CC0000;
}
#ID_Mediadaten h5 {
	color: #666;
	border-bottom: 1px solid #999;
}

#ID_Mediadaten table {
	border: 1px solid #666;
}
#ID_Mediadaten table td {
	padding: 3px 3px 3px 0;
	border: 1px solid #333;
}

/* Zitate */

#ID_Cite h1 {
	margin: 20px 0;
}
#ID_Cite .Date {
	text-align: right;
	font-style: italic;
	margin: 0 0 15px 0;
}
#ID_Cite p q cite {
	font-weight: bold;
}
#ID_Cite p {
	margin: 15px 0 0 0;
	padding: 0 20px;
}
#ID_Cite address {
	margin: 15px 0 0 0;
	font-style: italic;
	color: #333;
}
#ID_Cite form {
	margin: 50px 0 10px 0;
	padding: 15px 0 0 0;
}

/* Kleinanzeigenformular */

#ID_Kleinanzeige dt {
	font-size: 13px;
	font-weight: bold;
}
#ID_Kleinanzeige dd {
	margin: 15px 0 5px 30px;
}