/* Beilagen */
#ID_Supplement .Mediaplan {
	text-align: right;
}

#ID_Supplement .SelectByRubric ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#ID_Supplement .SelectByRubric ul li {
	display: inline;
	margin: 0 10px 0 0;
}
#ID_Supplement .SelectByRubric ul li a {
	background: url(http://www.jungewelt.de/images/link2.png) 0 4px no-repeat;
	padding: 0 0 0 10px;
}
#ID_Supplement .SelectByRubric ul li a:link,
#ID_Supplement .SelectByRubric ul li a:visited {
	color: #333;
}
#ID_Supplement .SelectByRubric ul li a:focus,
#ID_Supplement .SelectByRubric ul li a:hover,
#ID_Supplement .SelectByRubric ul li a:active {
	color: #C00;
	background: url(http://www.jungewelt.de/images/link2.png) 0 -288px no-repeat;
}
#ID_Supplement .SelectByRubric ul li a strong {
	text-transform: uppercase;
	color: #C00;
	text-decoration: none;
}

#ID_Supplement .SelectByYear {
	margin: 0 0 20px 0;
}
#ID_Supplement .SelectByYear ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#ID_Supplement .SelectByYear ul li {
	display: inline;
	margin: 0 10px 0 0;
}
#ID_Supplement .SelectByYear ul li a {
	background: url(http://www.jungewelt.de/images/link2.png) 0 4px no-repeat;
	padding: 0 0 0 10px;
}
#ID_Supplement .SelectByYear ul li a:link,
#ID_Supplement .SelectByYear ul li a:visited {
	color: #333;
}
#ID_Supplement .SelectByYear ul li a:focus,
#ID_Supplement .SelectByYear ul li a:hover,
#ID_Supplement .SelectByYear ul li a:active {
	color: #C00;
	background: url(http://www.jungewelt.de/images/link2.png) 0 -288px no-repeat;
}
#ID_Supplement .SelectByYear ul li a strong {
	text-transform: uppercase;
	color: #C00;
	text-decoration: none;
}

#ID_Supplement ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#ID_Supplement ul li {
	clear: left !important;
	margin: 0 0 20px 0;
}
#ID_Supplement ul li .SupplementListDate {
	font-style: italic;
}
#ID_Supplement #ID_Listing h1 {
	font-size: 20px;
}
#ID_Supplement #ID_Listing h2 {
	display: block;
}
#ID_Supplement #ID_Listing h1,
#ID_Supplement #ID_Listing h2 {
	clear: none;
	margin: 0;
}

#ID_Supplement #ID_Listing ul {
	margin: 5px 0 20px 0;
}
#ID_Supplement #ID_Listing ul li {
	clear: both;
	list-style-type: none;
	margin: 0 0 15px 0;
	padding: 0;
}
#ID_Supplement #ID_Listing ul li .ImageBox1 {
	float: left;
	margin: 0 10px 10px 0;
	width: 70px;
}
#ID_Supplement #ID_Listing ul li .ImageBox2 {
	float: right;
	margin: 0 0 10px 10px;
	width: 70px;
}

/* Listing der Beilagen */
#ID_Supplement #ID_Listing ul li h4 {
	clear: both;
	font-weight: bold;
	margin: 0;
}
#ID_Supplement #ID_Listing ul li h4 a {
	color: #333 !important;
	display: block;
	font-size: 12px !important;
	text-decoration: none !important;
}
#ID_Supplement #ID_Listing ul li h4 .ImageBox1 a,
#ID_Supplement #ID_Listing ul li h4 .ImageBox2 a {
	background: none;
	padding: 0;
}
#ID_Supplement #ID_Listing ul li h4 a:focus,
#ID_Supplement #ID_Listing ul li h4 a:hover,
#ID_Supplement #ID_Listing ul li h4 a:active {
	color: #C00 !important;
}
#ID_Supplement #ID_Listing ul li h4 a span.Date {
	display: block !important;
	font-weight: normal !important;
}

/* Listing Inhalt der Beilage */
#ID_Supplement #ID_Listing ul li.protected .Subtitle a {
	background: none;
	padding: 0;
}
#ID_Supplement #ID_Listing ul li.Free h3 a {
	background: url(http://www.jungewelt.de/images/link2.png) 0 4px no-repeat;
	padding: 0 0 0 10px;
}
#ID_Supplement #ID_Listing ul li.Free h3 a:focus,
#ID_Supplement #ID_Listing ul li.Free h3 a:hover,
#ID_Supplement #ID_Listing ul li.Free h3 a:active {
	background: url(http://www.jungewelt.de/images/link2.png) 0 -288px no-repeat !important;
}