/* Zitate */
#ID_Cite h1 {
	margin: 20px 0;
}
#ID_Cite .Date {
	text-align: right;
	font-style: italic;
	margin: 0 0 15px 0;
}
#ID_Cite p q cite {
	font-weight: bold;
}
#ID_Cite p {
	margin: 15px 0 0 0;
	padding: 0 20px;
}
#ID_Cite address {
	margin: 15px 0 0 0;
	font-style: italic;
	color: #333;
}
#ID_Cite form {
	margin: 50px 0 10px 0;
	padding: 15px 0 0 0;
}

/* Zitate-Listing */
#ID_Cite dt {
	background: url(http://www.jungewelt.de/images/cite.png) no-repeat;
	font-weight: normal;
	font-style: italic;
	height: 16px;
	margin: 0 0 3px 0;
	padding: 0 0 0 25px;
}
#ID_Cite dt a,
#ID_Cite dt strong {
	color: #000 !important;
	font-size: 14px !important;
	font-weight: bold;
}
#ID_Cite dd {
	color: #666;
	margin: 10px 0 20px 0;
	padding: 0;
}
#ID_Cite dd address {
	color: #999;
	margin: 0;
	padding: 0;
}