/**
 * Mise en forme du groupe "Services" de la colonne de droite
 * 
 * @author	Rémy Vuong <remy@upian.com>
 * @date	2009-11-23
 * @version	1.0
 */
.sidebar_right_2cols .sidebar_right_2cols-inner .services { background-color: white; margin-bottom: 9px; padding: 7px 6px 0 6px; width: 304px; }
.sidebar_right_2cols .sidebar_right_2cols-inner .services h3 { color: #ababab; font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 18px; font-weight: bold; margin-bottom: 9px; margin-left: 1px; }
.sidebar_right_2cols .sidebar_right_2cols-inner .services h3 a { color: black; }
.sidebar_right_2cols .sidebar_right_2cols-inner .services .service { background: transparent url(http://www.tetu.com/theme/front/img/services/bg-service-border-bottom.png) bottom left repeat-x; margin-bottom: 8px; }
.sidebar_right_2cols .sidebar_right_2cols-inner .services .service.last { background: none; margin-bottom: 0; }
.sidebar_right_2cols .sidebar_right_2cols-inner .services .service a img { margin: 0 0 8px 0; }