*{margin:0;padding:0;border:0}
html {height:100%;overflow:hidden}
body {height:100%;overflow:hidden;font-family: Verdana, Arial, Helvetica, sans-serif;font-size:62.5%;color:#3C4144}
h1,h2,h3,h4,p,ul,li,div,span,a,strong{font-size:1em}

.ghost{position:absolute;top:-9000px;z-index:3}

#bg {position:absolute;top:0;left:0;width:100%;height:100%;min-width:970px;min-height:744px}
#home #page{width:962px;height:588px;position:absolute;left:50%;margin-left:-481px;z-index:1;bottom:0}

#page{width:962px;height:100%;position:absolute;left:50%;margin-left:-481px;z-index:1;bottom:0}

#branding{margin:8px 0 0 5px}
#branding img{display:block}

.petit {font-size:0.9em;}

#home #navigation{width:962px;height:43px;position:absolute;top:286px;z-index:1000;background: transparent url(pngNavHome.png) no-repeat}
#navigation{position:relative;width:972px;height:43px;background: transparent url(ulNav.gif) no-repeat 0 10px}
#page #navigation{height:43px}
#home #navigationList li img{display:block}
#home #navigationList{margin:0 0 0 12px !important;margin:2px 0 0 12px}
#home #navigationList li{margin-left:1px;float:left}

#navigationList{list-style:none;margin:0 0 0 5px;position:relative}

#navigation>#navigationList{width:810px}
#navigationList li{display:inline;margin-right:-2px;position:relative}
#navigationList li ul{display:none;font-size:0.9em;font-weight:bold;padding-left:10px;width:932px !important;white-space:nowrap}
#navigationList li>ul{letter-spacing:-0.03em}
#navigationList li ul a{color:#0475BB;text-decoration:none}
#navigationList li#opened ul{display:block;position:absolute;top:42px !important;top:28px;left:3px !important;left:-7px;height:20px;line-height:20px;background:#fff url(ssNavLt.gif) no-repeat 0 0}
#navigationList li#opened li{display:inline;padding-right:11px !important;padding-right:14px}
#navigationList li#opened li.active a{color:#163282}

#navigationList div.subLevel{position:absolute;top:7px;left:-10000px;z-index:1000;width:224px}
#navigationList div.subLevel span.start, #navigationList div.subLevel span.end{display:block;height:20px;}

#navigationList div.subLevel span.start{background:url(pngRollOverMainMenuTop.png) no-repeat;}
#navigationList div.subLevel span.end{background:url(pngRollOverMainMenuBottom.png) no-repeat;}
#navigationList div.subLevel p{padding:0 25px 0.5em 25px;background:url(pngRollOverMainMenu.png);}

#navigationList div.subLevel ul, #navigationList div.subLevel ul li{display:block}
#navigationList div.subLevel ul{padding:0;width:224px !important;background:url(pngRollOverMainMenu.png);white-space:normal;font-weight:normal;list-style:none;margin-top:-5px}
#navigationList div.subLevel ul li{padding:0.5em 25px;background:url(bullet_subNavigation.gif) no-repeat 17px ;float:none !important;}
#navigationList div.subLevel ul li a{font-weight:bold;}


/*#ssnavCorner{position:absolute;left:944px;top:42px}*/
#ssnavCornerLt{position:absolute;left:1px;top:42px}
#ssnavCornerRt{position:absolute;left:945px !important;left:946px;top:42px}
*+html #ssnavCornerLt,*+html #ssnavCornerRt{top:42px}

fieldset{display:inline}
#navigation form{position:absolute;display:inline;float:right;width:130px;margin-right:16px;margin-top:3px;z-index:12;background: url(bgRecherche.gif) no-repeat}
* html #navigation form{margin-top:6px;}
#navigation input{display:block;float:left}	
#searchField,#mot{display:block;width:95px;padding-left:2px;height:12px;margin:6px 0 0 3px;font-family:Verdana, Arial, Helvetica, sans-serif;color:#6C707C;font-size:1em;}

#home #navigation form{display:inline;float:left;top:8px;right:0}
#home #navigation .last{padding:0}

#home #navigation input{display:block;float:left}	

#navigationList{list-style:none;margin:10px 0 0 10px;display:inline;float:left}
#navigationList li{display:inline}



/*#home #push{width:484px;height:104px;position:relative;left:632px;top:326px;background: transparent url(../img/pngPushHome.png) no-repeat;padding:1px}*/
#home #push{width:484px;height:104px;position:relative;margin-left:471px;margin-top:145px;background: transparent url(pngPushHome.png) no-repeat}
#home #push h1,#homeRD #push h1,#homeDD #push h1,#homeAS #push h1{margin:0 18px 0 18px}
#homeCarrieres h1{text-indent:-9999px}
#home #push p,#homeRD #push p,#homeDD #push p,#homeAS #push p{margin:0 0 0 18px;width:438px;font-weight:bold;font-size:1.1em}
#home #push p a{padding-left:14px;background:url(orangeArrow.gif) no-repeat 0 50%;text-decoration:none;color:#3C4144;font-weight:normal}
#home #push #lien_dossier {position:absolute;bottom:10px;left:0}
#homeRD #push{width:484px;height:114px;position:absolute;left:471px;bottom:330px;background: transparent url(pngPushHomeRD.png) no-repeat;padding:1px}
#homeDD #push{background:none}
#homeRD #push{width:484px;height:114px;position:absolute;left:471px;bottom:330px;background: transparent url(pngPushHomeRD.png) no-repeat;padding:1px}
#homeDD #push{width:484px;height:114px;position:absolute;left:471px;bottom:330px;padding:1px}
#homeAS #push{width:484px;height:114px;position:absolute;left:471px;bottom:330px;padding:1px}
#homeCarrieres #push{width:620px;height:50px;position:absolute;left:148px;bottom:163px;background: transparent url(pngPushHomeCarriere.png) no-repeat;padding:1px}
#homeCarrieres #push1{padding-left:20px;margin:12px 0 0 15px;background:url(arrCarriereLt.gif) no-repeat 0 0;float:left;width:255px;display:inline;overflow:hidden}
#homeCarrieres #push2{padding-right:20px;margin:12px 15px 0 0;background:url(arrCarriereRt.gif) no-repeat 100% 1px;float:right;width:255px;display:inline;overflow:hidden}

/*----calage typo SIFR----*/
#home #push h1{font-size:40px;min-height:30px;line-height:40px;clear:both;overflow:hidden;float:left;display:inline;width:438px;white-space:nowrap;}
#home #push h1 span{font-size:15px !important}
* html #home #push h1 span{font-size:12px !important}
#home #push h1 span:before{font-size:15px}
/*----calage typo SIFR----*/

#home #module{width:962px;height:168px;position:absolute;top:329px;background: transparent url(pngModuleHome.png) no-repeat}
#home #module h2{font:bold 1.2em "trebuchet ms",sans-serif;text-transform:uppercase;color:#0476BD;margin-bottom:0}
#home #galery{width:464px;height:120px;float:left;display:inline;margin:25px 0 0 15px}
#home #communiques{width:226px;height:130px;float:left;display:inline;margin:25px 0 0 0}
#home #communiques li a{text-decoration:none;color:#3C4144}
#home #communiques ul,#liens ul{list-style:none;margin-top:0em;padding-right:1em}
#home #communiques li span{display:block;color:#0476BD;padding-left:9px;background:url(dotBlue1.gif) no-repeat 0 50%;zoom:1}
#home #liens{width:220px;height:114px;float:left;display:inline;margin:27px 0 0 0;background:url(logoHome.gif) no-repeat 92% 19%;padding-left:20px;border-left:1px dotted #4E5255}
#home #liens li{padding-left:9px;background:url(dotGrey02.gif) no-repeat 0 50%;zoom:1}
#home #liens li a{text-decoration:none;color:#3C4144}
#home #prev,#home #next{position:absolute;width:28px;height:28px;top:70px;text-indent:-9999px;outline:none}
#home #next{left:430px}
#scrollZone{position:absolute;left:55px;width:370px;height:110px}
#home #scrollZone ul{width:370px;height:110px;overflow:auto}
#home #scrollZone.js #galeryList{position:absolute;list-style:none;height:120px;white-space:nowrap;overflow:hidden}
#home #scrollZone li{float:left;margin-right:10px;}
#home #scrollZone.js li{position:absolute;top:0;left:-10000px;float:none;}

#focusOffre h2{color:#0476BD;font:bold 1.4em Arial,Verdana,sans-serif;text-transform:uppercase}
#focusOffre p {padding-left:13px;background:url(orangeArrow.gif) no-repeat 0 3px;font-size:1.1em}
#focusOffre p a{display:block;color:#0475BB;text-decoration:none;font-weight:bold}

#footer{width:962px;height:32px;position:absolute;bottom:0;background: transparent url(pngFooterHome.png) no-repeat}
* html #footer{bottom:-1px;}

#home #marketShare{position:relative;float:left;color:#3C4144;margin:8px 0 0 10px;display:inline;line-height:24px;vertical-align:-4px;border-right:1px solid #8F8A8A; padding-right:5px;}

#footerNav{position:relative;list-style:none;z-index:2;margin:15px 0 0 15px}
* html #footerNav{margin:14px 0 0 15px}

#footerNav li{position:relative;float:left;line-height:16px}
#footerNav li a {border-left:1px solid #A7A1A1;padding: 0 17px;line-height:16px;height:16px;position:relative;z-index:3;text-decoration:none;display:inline;color:#656768;font-weight:bold;font-size:9px;white-space:nowrap;}
.en #footerNav li a {padding:0 18px 0 !important}
#footerNav li.first a{border:0}
#footerNav li.rss a{padding: 0 19px 0 7px !important}
#footerNav li.rss{background:url(pictoRss1.gif) no-repeat 100% 0}
html>body li.rss{height:16px;background:url(pictoRss1.gif) no-repeat right bottom !important}

/**+html li.rss{background:url(../img/pictoRss1.gif) no-repeat 100% 100%}*/
/** html #home #footerNav li.rss a{background:url(../img/pictoRss1.gif) no-repeat 100% -5%;}*/

#home #footerNav li{display:inline;}
#home #footerNav li a {padding: 0 5px;}

#home #footerNav.en li a {padding: 0 16px;}



#footerNav div.subLevel{position:absolute;top:30px;left:-10000px;z-index:1000;width:214px;}
#footerNav div.subLevel span.start, #footerNav div.subLevel span.end{display:block;height:20px;}
#footerNav div.subLevel span.start{background:url(pngRollOverFooterTop.png) no-repeat;}
#footerNav div.subLevel span.end{background:url(pngRollOverFooterBottom.png) no-repeat;}
#footerNav div.subLevel p{padding:0 25px;background:url(pngRollOverFooter.png);color:#0160b9;font-size:0.9em;font-weight:bold;line-height:1.2;}

/*---- SIFR-----*/
.sIFR-flash {visibility: visible !important}
.sIFR-replaced {visibility: visible !important}
.sIFR-replaced embed, .sIFR-replaced object{display:block}
span.sIFR-alternate {position:absolute;left:0;top:0;width:0;height:0;display:block;overflow:hidden;letter-spacing:0}
.sIFR-hasFlash h1 {visibility: hidden}

#profileNav li ul{display:none}
#profileNavOver{position:absolute;top:25px;right:10px;width:240px;z-index:15}
#profileNavOver h3{color:#0475BB;position:relative;top:25px;left:15px;font-size:1.1em}
#profileNavOver #close2{position:absolute;right:15px;top:22px}
#profileNavOver ul{background:url(pngRollOverProfileCentre.png) repeat-y;padding:10px 0 0 20px;list-style:none;}
#profileNavOver ul a{text-decoration:none;font-weight:bold;color:#3C4144}
#profileNavOver ul li{padding-left:12px;background:url(dotGrey01.gif) no-repeat 0 5px}
#profileNavOver #start{display:block;height:20px;background:url(pngRollOverProfileTop.png) no-repeat}
#profileNavOver #end{display:block;height:20px;background:url(pngRollOverProfileBottom.png) no-repeat}
