publiprogramada #publi1_Top8{display:none}

.colAB .noticia-marcador .nmarcador .equipo1{padding-top:8px; width:43%; font-size:18px} 
					.colAB .noticia-marcador .nmarcador .equipo2{padding-top:8px;width:43.3%; font-size:18px}
					.colA .noticia-marcador .nmarcador .equipo1{font-size:15px;  width:38%; padding-top:10px}
					.colA .noticia-marcador .nmarcador .equipo2{font-size:15px; width:39%;padding-top:10px}
					.colB .noticia-marcador .nmarcador .equipo1{padding-top:5px;width:39.8%; font-size:11px}
					.colB .noticia-marcador .nmarcador .equipo2{font-size:11px; padding-top:5px;width:39%}
					.colB .noticia-marcador .nmarcador .resultado1{background: url(http://www.diariovasco.com/img/f-resultadoB.png) no-repeat top left; width:22px; height:21px; font-size:14px; padding-top:4px; margin-left:2px}
					.colB .noticia-marcador .nmarcador .resultado2{background: url(http://www.diariovasco.com/img/f-resultadoB.png) no-repeat top left;  width:22px; height:21px; font-size:14px; padding-top:4px; margin-left:3px}
					.colB .noticia-marcador .nmarcador{background: url(http://www.diariovasco.com/img/f-marcadorB.png) repeat-x top left;}						
					.noticia-marcador .photo{position:relative}
					.noticia-marcador .nmarcador{background: url(http://www.diariovasco.com/img/f-marcador.png) repeat-x top left; position:absolute; bottom:0; left:0; width:100%;}
					.noticia-marcador .nmarcador .equipo1{color:#fff; font-weight:bold; float:left; text-align:right}
					.noticia-marcador .nmarcador .equipo2{color:#fff; font-weight:bold; float:right; text-align:left}
					.noticia-marcador .nmarcador .resultado1{margin-left:8px; background: url(http://www.diariovasco.com/img/f-resultado.png) no-repeat top left; color:#fff; font-weight:bold; font-size:18px; text-align:center; width:35px; height:29px; float:left; padding-top:7px}
					.noticia-marcador .nmarcador .resultado2{margin-left:5px; background: url(http://www.diariovasco.com/img/f-resultado.png) no-repeat top left; color:#fff; font-weight:bold; font-size:18px; text-align:center;width:35px; height:29px; float:left; padding-top:7px}
					.noticia-marcador .nmarcador .equipo2 a, .noticia-marcador .nmarcador .equipo1 a, .noticia-marcador .nmarcador .resultado1 a, .noticia-marcador .nmarcador .resultado2 a{text-decoration:none; color:#fff}
					.noticia-marcador .nmarcador .equipo2 a:hover, .noticia-marcador .nmarcador .equipo1 a:hover, .noticia-marcador .nmarcador .resultado1 a:hover, .noticia-marcador .nmarcador .resultado2 a:hover {text-decoration:underline}

					
				