/* DEFAULT ELEMENTS */
.todoGPS h1 { font-size:inherit; }
.todoGPS h2 { font-size: inherit; }
.todoGPS h2 a { color:inherit; }
.todoGPS h3 {font-size: inherit;}
.todoGPS h4 {font-size: inherit;}
.todoGPS h3 a,.todoGPS h4 a { color:inherit;}
.todoGPS h5,.todoGPS h5 a { font-size: inherit;color:inherit }
.todoGPS{text-align: left;}

/*Estilos generales de columnas aniadidas*/
.todoGPS .colA{ width:402px; float:left;}
.todoGPS .colB{ width:266px; float:right;}
.todoGPS .colC{ width:316px; float:right;}
#colAB {clear: both; float:left; overflow:visible; padding:0 0 10px; width:683px;}


/*METHODE OCIO*/
	.doc{ height:20px; font-size:11px;}
	* > .doc{ min-height:20px; height:auto;}
	/*zonas*/
	/*AB*/
	.ociozonaAB{background-color:#000; padding:0;}
		.ociozonaAB .headgps{ position:relative; height:43px}
		.ociozonaAB .headgpsportada{ position:absolute; top:0px; left:0px; background: url(http://www.diariovasco.com/SysConfig/Images/Gps-header.gif) no-repeat; width:256px; height:65px;}
		.ociozonaAB .doc{ padding:0 5px 0 0}
		/*.ociozonaAB .overhead{ font-family:Verdana, Arial, Helvetica, sans-serif; background-color:#333333; color:#F00; font-weight:bold; font-size:10px; text-transform:uppercase; padding:3px 2px 3px 5px; margin: 0 0 5px 400px}*/
		.ociozonaAB .overhead{ font-family:Verdana, Arial, Helvetica, sans-serif;  color:#F00; font-weight:bold; font-size:10px; text-transform:uppercase; padding:0 0 3px 0; background-color:#333333; display:inline}
		.ociozonaAB .overhead .ln{ padding:4px 2px 2px 2px; display:inline; }
		.ociozonaAB .photo,.ociozonaAB .photo-alt1,.ociozonaAB .photo-alt2{ float:left; margin:0 10px 0 0}
		.ociozonaAB h3{ font-family: Arial, "Times New Roman", Georgia; font-size:20px;  color:#FFF; padding:3px 0 3px 0; font-weight:normal}
		.ociozonaAB h3 a{ color:#FFF;}
		.ociozonaAB .subhead{ font-size:11px; color:#FFF; padding:0 0 3px 0; display:none}
		.ociozonaAB .lead-text{ font-size:12px; color:#FFF!important; padding:0 0 3px 0}
		.ociozonaAB a.masinfo{color:#787878;}
		
		
	.ociozonaAB .link-app1{ padding:0; font-size:11px;}
	.ociozonaAB .link-app1 .related-link{ padding:0; color:#FFF;  }
	.ociozonaAB .link-app1 related-link a{ font-weight: bold; color:#FFF; background: url(http://www.diariovasco.com/img/marca_linkapp1_ocio.gif) no-repeat; background-position:0px 6px;  padding:0 0 0 12px; }
	.ociozonaAB .link-app1 .related-link span{ color:#FFF;}
	
	.ociozonaAB .link-app4{ display:block;}
	.ociozonaAB .link-app4 .related-link{ padding:0 10px 7px 0; font-size:11px; color:#FFF;}
	.ociozonaAB .link-app4 .related-link a{ font-weight: bold;   color:#FFF;}
	.ociozonaAB .link-app4 .related-link img{ margin:0 5px 0 0; vertical-align:middle; }
	.ociozonaAB .link-app4 .related-link span{ color:#FFF; }
	
	.ociozonaAB .apoyo-comentarios img, .ociozonaAB .related-link img{margin-right:5px}
		
		/*.ociozonaAB .link-app1{ padding:0; font-size:11px;}
		.ociozonaAB .related-link{ padding:0; color:#FFF;}
		.ociozonaAB .related-link a{ color:#787878;}*/
		

/*---*/
	
.bloqueocioAB{ padding:0 0 0 4px}
	.ocioA{}
	
	.ociozonaA{background-color:#000; padding:0; margin:0 0 10px 0}
		.ociozonaA .headgps{ position:relative; height:43px}
		.ociozonaA .headgpsportada{ position:absolute; top:0px; left:0px; background: url(http://www.diariovasco.com/SysConfig/Images/Gps-header.gif) no-repeat; width:256px; height:65px;}
	
		.ociozonaA .doc{ padding:5px 0px 3px 0!important; font-size:11px; margin: 0 6px 0 6px!important;} 
		
		/* .ociozonaA .doc{ padding:5px 0px 3px 0; font-size:11px; background: url(/SysConfig/Images/gps/ocio_separator.gif) repeat-x; background-position: bottom;} */
		.ociozonaA .overhead{ font-family:Verdana, Arial, Helvetica, sans-serif; color:#F00; font-weight:bold; font-size:10px; text-transform:uppercase; margin: 2px 0 1px; background-color:#333333; display:inline}
		.ociozonaA .overhead .ln{ padding:4px 2px 2px 2px; display:inline; }
		.ociozonaA .photo,.ocioApeq .photo-alt1,.ocioApeq .photo-alt2{ float:left; padding:0 10px 0 0; text-align:center;}
		.ociozonaA .photo img,.ocioApeq .photo-alt1 img,.ocioApeq .photo-alt2 img{ border:2px solid #fff}
		.ociozonaA h3{font-family: Arial, "Times New Roman", Georgia; font-size:20px; color:#fff; padding:0 0 1px 0; font-weight:normal}
		.ociozonaA h3 a{ color:#fff;}
		.ociozonaA .subhead{ color:#fff; font-size:11px; padding:0 0 3px 0; line-height:120%; display:none}
		.ociozonaA .lead-text{ font-size:12px; color:#FFF!important; padding:0 0 3px 0}
		.ociozonaA a.masinfo{color:#787878;}
		.ociozonaA .separa{ display:none;}
		.ociozonaA .link-app1{ font-family:Arial, Helvetica, sans-serif;  padding:5px 0 0 0; font-size:11px;/* position:relative; left:86px; width:300px;*/}
	.ociozonaA .link-app1 .related-link{color:#FFF; font-size:11px;  }
	.ociozonaA .link-app1 .related-link a{ font-weight: bold;  color:#FFF; background: url(http://www.diariovasco.com/img/marca_linkapp1_portadas.gif) no-repeat; background-position:0px 6px;  padding:0 0 0 12px; }
	.ociozonaA .link-app1 .related-link span{ color:#FFF;}
	
	/*
	.ociozonaA .link-app4{ font-family:Arial, Helvetica, sans-serif;  padding:5px 0 0 0; font-size:11px;}
	.ociozonaA .link-app4 .related-link{ padding:0 10px 7px 0; font-size:11px; color:#FFF;}
	.ociozonaA .link-app4 .related-link a{ font-weight: bold;  color:#FFF;}
	.ociozonaA .link-app4 .related-link img{ margin:0 5px 0 0; vertical-align:middle; }
	.ociozonaA .link-app4 .related-link span{ color:#FFF;}
	*/
	.ociozonaA .link-app4{ display:block;}
	.ociozonaA .link-app4 .related-link{ padding:0 10px 7px 0; font-size:11px; color:#FFF;}
	.ociozonaA .link-app4 .related-link a{ font-weight: bold;   color:#FFF;}
	.ociozonaA .link-app4 .related-link img{ margin:0 5px 0 0; vertical-align:middle; }
	.ociozonaA .link-app4 .related-link span{ color:#FFF; }
	.ociozonaA .apoyo-comentarios img, .ociozonaA .related-link img{margin-right:5px}
	
	/*aniadidos*/
	
	
	
	
	.ocioApeq{ margin:0 0 10px 0}
		.ocioApeq .doc{ padding:5px 0px 3px 0; font-size:11px; background: url(http://www.elcorreodigital.com/SysConfig/Images/gps/ocio_separator.gif) repeat-x; background-position: bottom;}
		.ocioApeq .overhead{ font-family:Verdana, Arial, Helvetica, sans-serif; color:#F00; font-weight:bold; font-size:10px; text-transform:uppercase; margin: 0 0 1px}
		.ocioApeq .photo,.ocioApeq .photo-alt1,.ocioApeq .photo-alt2{ float:left; padding:0 10px 0 0}
		.ocioApeq .photo img,.ocioApeq .photo-alt1 img,.ocioApeq .photo-alt2 img{ border:2px solid #333}
		.ocioApeq h3{ font-size:12px; font-weight:bold; color:#333; padding:0 0 1px 0}
		.ocioApeq h3 a{ color:#333;}
		.ocioApeq .subhead{ color:#333; font-size:11px; padding:0 0 1px 0; line-height:120%; display:table}
		.ocioApeq a.masinfo{color:#787878;}
		.ocioApeq .separa{ display:none;}
		.ocioApeq .lead-headline{display:table; height:1%}
		
		.ocioApeq .link-app1{ font-family:Arial, Helvetica, sans-serif; padding:0; font-size:11px;/* position:relative; left:86px; width:300px;*/}
		.ocioApeq .link-app1 .related-link{ padding:0; color:#000; font-size:11px;  }
		.ocioApeq .link-app1 .related-link a{ color:#666; background: url(http://www.diariovasco.com/img/marca_linkapp1_portadas.gif) no-repeat; background-position:0px 6px;  padding:0 0 0 12px; }
		.ocioApeq .link-app1 .related-link span{ color:#000;}
		
		.ocioApeq .link-app4{ font-family:Arial, Helvetica, sans-serif; padding:0; font-size:11px;/* position:relative; left:86px; width:300px;*/}
		.ocioApeq .link-app4 .related-link{ padding:0 10px 7px 0; font-size:11px; color:#000;}
		.ocioApeq .link-app4 .related-link a{ color:#666;}
		.ocioApeq .link-app4 .related-link img{ margin:0 5px 0 0; vertical-align:middle; }
		.ocioApeq .link-app4 .related-link span{ color:#000;}
		
		.ocioApeq .apoyo-comentarios img, .ocioApeq .related-link img{margin-right:5px}
		/*.ocioApeq .link-app1{ padding:5px 0 0 0; font-size:10px;}
		.ocioApeq .related-link{ padding:0; color:#000;}
		.ocioApeq .related-link a{ color:#666;}*/
	
	.cintillo-ocio{ padding:0 0 10px 0}
	.cintillo-ocio h2{ background-color:#000; color:#FFF; padding:2px 0 2px 5px; font-size:11px; font-weight:bold; text-transform:uppercase;}

	.ocioAgrande{ margin:0 0 10px 0}
		.ocioAgrande .doc{ padding:0;}
		.ocioAgrande .overhead{ font-family:Verdana, Arial, Helvetica, sans-serif; color:#F00; font-weight:bold; font-size:10px; text-transform:uppercase; margin: 0 0 1px}
		.ocioAgrande h3{ font-size:18px; font-weight:bold; color:#333; padding:0 0 6px 0}
		.ocioAgrande h3 a{ color:#000;}
		.ocioAgrande .photo,.ocioAgrande .photo-alt1,.ocioAgrande .photo-alt2{ float:left; padding:0 10px 0 0}
		.ocioAgrande .photo img,.ocioAgrande .photo-alt1 img,.ocioAgrande .photo-alt2 img{ border:2px solid #333}
		.ocioAgrande .lead-text{ color:#000; font-size:12px; padding:0 0 1px 0; line-height:120%;}
		.ocioAgrande a.masinfo{color:#787878;}
		
		
	.ocioAgrande .link-app1{ padding:8px 0 0 0; font-size:12px;}
	.ocioAgrande .link-app1 .related-link{ padding:0; color:#000; font-weight:bold; margin-left:8px }
	.ocioAgrande .link-app1 .related-link a{ color:#333; font-weight:normal; background: url(http://www.diariovasco.com/img/marca_linkapp1_portadas.gif) no-repeat; background-position:0px 6px;  padding:0 0 0 12px; }
	.ocioAgrande .link-app1 .related-link span{ color:#000; font-weight:bold;}
	
	.ocioAgrande .link-app4{ padding:0; font-size:12px;}
	.ocioAgrande .link-app4 .related-link{ padding:0; color:#000; }
	.ocioAgrande .link-app4 .related-link a{ color:#333; }
	.ocioAgrande .link-app4 .related-link img{ margin:0 5px 0 0; vertical-align:middle; }
	.ocioAgrande .link-app4 .related-link span{ color:#000; font-weight:bold; }
	
	.ocioAgrande .apoyo-comentarios img, .ocioAgrande .related-link img{margin-right:5px}
		
		/*.ocioAgrande .link-app1{ padding:6px 0 0 0; font-size:12px;}
		.ocioAgrande .related-link{ padding:0; color:#000; font-weight:bold;}
		.ocioAgrande .related-link a{ color:#333; font-weight:normal;}*/

	.ociomoduloA{ }
	.ociomodulosB1{margin-bottom: 10px;}
		.ociomodulosB1  .ln{font-size:11px; color:#666; font-weight:bold; font-family:Arial; padding-top:3px; margin-bottom:5px}
		.ocioB1enlace{}
		.ocioB1enlace h3 { }
		.ocioB1enlace h3 a { display:block; font-size:11px; font-weight: bold;color: #FFF; background: url(http://www.diariovasco.com/img/redbar2.gif) 0px 0px repeat-y; padding: 1px 0 1px 16px; margin:1px 0 0 0}
		.ocioB1enlace h3 a:hover{ color:#FFF; background:none; text-decoration:none; background-color:#C00}
		
		.ocioB1{ clear:both; background-color:#DBDBDB; margin:0 0 6px 0; padding:0 3px 0 0; height:20px; }
		* > .ocioB1{min-height:20px; height:auto; }
		.ocioB1 .photo,.ocioB1 .photo-alt1,.ocioB1 .photo-alt2{ float:left; padding:0 10px 0 0}
		.ocioB1 h3{ color:#F03; font-size:17px; font-weight:bold; padding:3px 0 0 0}
		.ocioB1 h3 a{ color:#F03;}
		.ocioB1 .subhead{ color:#000; font-size:11px; font-weight:bold;}
		.ocioB1 .subhead a{ color:#000}
		.ocioB1 .lead-text{ color:#000; font-size:11px;}
		
		
	/*.ocioB1 .link-app1{ padding:2px 0 0 0; font-size:11px;}
	.ocioB1 .link-app1 .related-link{ padding:0;  color:#787878; font-weight:bold  }
	.ocioB1 .link-app1 .related-link a{  color:#787878; font-weight:normal; background: url(/img/marca_linkapp1_portadas.gif) no-repeat; background-position:0px 6px;  padding:0 0 0 12px; }
	.ocioB1 .link-app1 .related-link span{ color:#787878; font-weight:bold;}
	
	.ocioB1 .link-app4{  padding:2px 0 0 0; font-size:11px;}
	.ocioB1 .link-app4 .related-link{ padding:0; color:#787878; }
	.ocioB1 .link-app4 .related-link a{ color:#787878; }
	.ocioB1 .link-app4 .related-link img{ margin:0 5px 0 0; vertical-align:middle; }
	.ocioB1 .link-app4 .related-link span{ color:#787878; font-weight:bold; }*/
		
		.ocioB1 .link-app1{ padding:2px 0 0 0; font-size:11px;}
		.ocioB1 .related-link{ padding:0; color:#787878; font-weight:bold;}
		.ocioB1 .related-link a{ color:#787878;}
		
		
	.ocioBpeq{}
	.ociofotonoticia{}
	.ocioBgrande{}	
		.ocioB2{ clear:both; background-color:#EDEDED; padding:5px 0 5px 0; height:20px; text-align:left; }
		* > .ocioB2{min-height:20px; height:auto; }
				.ocioB2 a {color:#000}
		.ocioB2 .photo,.ocioB2 .photo-alt1,.ocioB2 .photo-alt2{ padding:0; text-align:center; margin:0 auto;}
		.ocioB2 .photo img,.ocioB2 .photo-alt1 img,.ocioB2 .photo-alt2 img{ border:2px solid #333}
		.ocioB2 h3{ color:#333; font-size:17px; font-weight:bold; padding:3px 4px 0 4px;}
		.ocioB2 h3 a{ color:#333;}
		.ocioB2 .subhead{ color:#595959; font-size:13px; padding:0 4px 0 4px;}

		
		
		
	/*.ocioB2 .link-app1{padding:5px 4px 0 4px; font-size:11px;}
	.ocioB2 .link-app1 .related-link{ padding:0; color:#000; font-weight:bold; }
	.ocioB2 .link-app1 .related-link a{color:#000; font-weight:normal; background: url(/img/marca_linkapp1_portadas.gif) no-repeat; background-position:0px 6px;  padding:0 0 0 12px; }
	.ocioB2 .link-app1 .related-link span{ color:#000; font-weight:bold;}
	
	.ocioB2 .link-app4{padding:5px 4px 0 4px; font-size:11px;}
	.ocioB2 .link-app4 .related-link{ padding:0; color:#000; }
	.ocioB2 .link-app4 .related-link a{ color:#000; }
	.ocioB2 .link-app4 .related-link img{ margin:0 5px 0 0; vertical-align:middle; }
	.ocioB2 .link-app4 .related-link span{ color:#000; font-weight:bold; }*/
		.ocioB2 .link-app1{  padding:5px 4px 0 4px; font-size:11px;}
		.ocioB2 .related-link{ padding:0; color:#000; font-weight:bold;}
		.ocioB2 .related-link a{ color:#000;}
	
	.ocioBfotosvideos{ }
	
	
	/*****************+* MODULO 10 FOTONOTICIA ***************************/	
	.zonaOcioFotoNoticiaB{background-color:#ededed; padding:6px}
	.zonaOcioFotoNoticiaB .enlacesgaleria{background:transparent none repeat scroll 0%;border:none;padding:4px 0pt;text-align:left;width:100%; margin-bottom:5px}
	.zonaOcioFotoNoticiaB .enlacesgaleria a.boton{font-size:9px; color:#333; background-image:none; background-color:#cdcdcd; padding:2px 10px; }
	.zonaOcioFotoNoticiaB .enlacesgaleria a.boton:hover{border:none; background-color:#fff; border:1px solid #fff; text-decoration:none; color:#fa0000}
	.zonaOcioFotoNoticiaB .enlacesgaleria span a:hover, .zonaOcioFotoNoticiaB .enlacesgaleria span a.activo{background-color:#fa0000; color:#fff}
	.zonaOcioFotoNoticiaB .enlacesgaleria span a{padding:2px 4px;}
	.zonaOcioFotoNoticiaB .enlacesgaleria span span{visibility:visible; padding:2px 4px;}
	.zonaOcioFotoNoticiaB .enlacesgaleria span #foto-noticia-B-pag-1{margin-left:32px}
	.zonaOcioFotoNoticiaB .enlacesgaleria span span#foto-noticia-B-pag-5{margin-right:32px}
	.zonaOcioFotoNoticiaB  .ln{font-size:11px; color:#666; font-weight:bold; font-family:Arial; padding-top:3px; margin-bottom:5px}	
	.zonaOcioFotoNoticiaB h3 a{font-size:14px; font-family:Arial; color:#333; }
	.zonaOcioFotoNoticiaB .related-link, .zonaOcioFotoNoticiaB .apoyo-comentarios{margin-top:4px}
	.zonaOcioFotoNoticiaB .related-link a{margin-top:4px; color: #333;}
	.zonaOcioFotoNoticiaB .apoyo-comentarios img, .zonaOcioFotoNoticiaB .related-link img{margin-right:5px}
	.zonaOcioFotoNoticiaB .link-app1 .span{font-weight:bold;  padding:3px; color:#666 }
	
	
	/*****************+* FIN MODULO 10 FOTONOTICIA ***************************/
	
	
	
	
/***************** ESTILOS A-VIDEO-NOTICIA **************************/
	
/*foto-video*/
.ociomoduloA{ border:1px solid #E8E6E0; padding:5px; margin:0 0 5px 0; background-color:#F6F6F6; display:table}
.ociomoduloA .lead{ padding:4px;}
.ociomoduloA .overhead .ln,.foto-video .headline,.foto-video .byline,.foto-video .lead-text,.foto-video .subhead,.foto-video .link-app1,.foto-video .link-app4{ padding:0 5px 0 5px}
.ociomoduloA .photo,.foto-video .photo-alt1{ text-align:center; float:none; padding:0; margin:0 auto 7px auto;}
.ociomoduloA .photo img,.foto-video .photo-alt1 img{ border:1px solid #CECECE; float:none; margin:0; }
.ociomoduloA #lead-antetitulo{ color:#cc0000; font-size:10px; text-transform:uppercase; padding:0 0 0px 0}
.ociomoduloA #activo{ display:none; }
.ociomoduloA #T{ text-align:left; position:relative; top:4px; background-color:#fff}
.ociomoduloA #T #lead-titulo h3{font-size:18px; color:#666; font-weight:normal;}
.ociomoduloA #T #lead-subtitulo{color:#474747; font-size:12px; margin:0; line-height:120%; padding:0}
.ociomoduloA .texto-foto-noticia{ background: url('http://www.diariovasco.com/img-ocio/apuntador1-zonaA.gif') no-repeat; height: 125px; padding:5px 5px 0px 5px;}
.ociomoduloA #lead-titulo{ clear:left; }
.ociomoduloA div.pag-foto-video{ float:right; font-size: 0.8em; color:#969696; text-transform:lowercase; padding-right: 5px;}
.ociomoduloA #M{ height:62px;margin-left:20px;width:350px; }
.ociomoduloA .controles{ margin-top: 15px; }
.ociomoduloA .MFloat{ float: left;}
.ociomoduloA .MSeparator{float: left;width:4px;height:1px; }
.ociomoduloA .Mp{ margin:0 0 0 0; width: 70px; height: 61px; background-color:#333333; -moz-opacity:0.6; filter:alpha(opacity=60); }
.ociomoduloA .MpLIMPIO{ margin:0; width: 70px; height: 61px; background-color:#333333; -moz-opacity:0; filter:alpha(opacity=0) }
.ociomoduloA #FG{ margin-top: 0px; }
	
/*****************************************************************************/



	
	

	.zonaOcioSoloTitulo{margin:0pt 0pt 16px;padding:0pt 3px 3px 0pt;}
	.zonaOcioSoloTituloSeparador{}
	.ocioSoloTitulo{ clear:both;}
		.ocioSoloTitulo h3{ color:#696969; font-size:14px; font-weight:bold; padding:3px 0 3px 12px;}
		.ocioSoloTitulo h3 a{ color:#696969;}
		
	.zonaOcioSoloTitulo .apoyo-comentarios img, .zonaOcioSoloTitulo .related-link img{margin-right:5px}
	
	
	
	
	
	
	.ocioPARTAB{ height:20px; clear:both;border-bottom:1px dotted #CECECE; background-color:#F0F0F0}
	* > .ocioPARTAB{ min-height:20px; height:auto;}
	.ocioPARTAB2{ background-color:#F0F0F0; clear:both;}
	.ocioPARTAB3{ background-color:#FFF; clear:both;}
		.colAPART{ float:left; width:410px;}
		.colBPART{ float:right; width:265px;}

	.ocioPART1{ padding:5px 10px 5px 10px}
		/*estilos de noticias PART1*/
		.ocioPART1 .overhead{ font-size:18px; font-weight:bold; color:#C00;}
		.ocioPART1 .overhead a{ color:#C00;}
				.ocioPART1 h3{ color:#787878; font-size:11px; font-weight:bold; padding:3px 0 0 0}
		.ocioPART1 h3 a{ color:#787878;}
		.ocioPART1 .subhead{ color:#787878; font-size:11px;}
		.ocioPART1 .lead-text{ color:#333; font-size:10px;}
		
	.ocioPART2{ padding:5px 10px 5px 10px}
		/*estilos de noticias PART2*/
		.ocioPART2 .overhead{ font-size:16px; font-weight:bold; color:#C00;}
		.ocioPART2 .photo,.ocioPART2 .photo-alt1,.ocioPART2 .photo-alt2{ float:left; padding:0 10px 0 0; }
		.ocioPART2 .photo img,.ocioPART2 .photo-alt1 img,.ocioPART2 .photo-alt2 img{ border:4px solid #333}
		.ocioPART2 h3{ color:#F00; font-size:10px; padding:3px 0 0 0}
		.ocioPART2 h3 a{ color:#F00;}
		.ocioPART2 .subhead{ color:#333; font-size:12px;}
		.ocioPART2 .lead-text{ color:#787878; font-size:11px;}
	
	.ocioPART3{}
		.cintillo-blogs{ padding:0}
		.cintillo-blogs h2{ background-color:#000; color:#FFF!important; padding:2px 0 2px 5px; font-size:11px!important; font-weight:bold!important; text-transform:uppercase;}
		.bloque-blog-firmas-ocio{border-top:1px solid #EBEAE6; border-left:1px solid #EBEAE6;border-right:1px solid #EBEAE6;}
		.contenido-blog-firmas-ocio{border-bottom:1px solid #EBEAE6; padding:10px 0 10px 0}
		.bloque-blog-firmas-ocio .fotografia{ float:left; padding:0 10px 0 10px; margin:0 auto; text-align:center;}
		.bloque-blog-firmas-ocio .fotografia img{ margin:0 auto; text-align:center;}
		.bloque-blog-firmas-ocio h3{ display:inline; font-size:16px; color:#900; font-weight:bold; margin:3px 0 0 0}
		.bloque-blog-firmas-ocio h4{ border-left:1px solid #000; margin:3px 0 0 5px; padding:0 0 0 5px; text-transform:uppercase; display:inline; font-size:10px; color:#900; font-weight:normal;}
		.bloque-blog-firmas-ocio h3 a,.bloque-blog-firmas-ocio h4 a{ color:#900;}
		.firmas-blog{ font-size:12px; color:#000;}
		
		
		.modulo-participacionB{ background-color:#EDEDED; border-left:1px solid #E0E0E0; border-top:1px solid #E0E0E0; height:20px; padding:0 0 5px 0}
		* > .modulo-participacionB{ min-height:20px; height:auto;}
		.modulo-participacionB .overhead{ background-color:#333; font-size:11px; font-weight:bold; color:#FFF; padding:2px 5px 2px 5px;}
		.modulo-participacionB h3{ font-size:12px; color:#333; font-weight:bold; padding:5px 20px 0px 20px}
		.modulo-participacionB h3 a{ color:#333;}
		.PARTBtipo1 .modulo-participacionB .overhead{background:#333 url(http://www.diariovasco.com/SysConfig/Images/gps/starbar.gif); background-position: 0% 50%; background-repeat: no-repeat; padding-left:30px; }
	
.patrocinio{ margin:0 0 10px 0}



/*resto AB*/
.otras-noticias{ padding:0 0 5px 0}
.otras-noticias h2{ background: #FFFFFF url(http://www.diariovasco.com/img/f_encabezadoC.jpg) repeat-x; background-position: bottom; font-size:10px; text-transform:uppercase; padding:3px 0 4px 10px; border:1px solid #CECECE}
.otras-noticias .bloque{ padding:0 5px 10px 5px; margin:0;}
.otras-noticias .bloque .separanoticias{ clear:left;}

.otras-noticias .doc{ float:left; width:50%; padding:10px 0 0 0; clear:none;}
.otras-noticias .doc .lead{ padding:0 10px 0 0}
.otras-noticias .lead-headline{}

.otras-noticias .overhead{ font-size:14px; color:#990000; font-weight:bold; }
.otras-noticias .overhead a{color:#990000; }
.otras-noticias .headline{background: url(http://www.diariovasco.com/img/bullet.gif) no-repeat; background-position: 0px 12px; margin:0px;}
.otras-noticias .headline .ln{margin:0px;}
.otras-noticias .headline a{ color:#6D6D6D; font-size:11px; margin:0 0 0 10px; padding:7px 0 0px 0; display:block;}
.otras-noticias .headline h3{ font-weight:normal;}
.lo-portada{ padding:0 0 5px 0}
.otras-noticias .headline a:hover {text-decoration:underline; color:#990000;}
.otras-noticias .separa,.lo-portada .separa{ height:4px; line-height:1px; font-size:1px; background-color:#990000; margin:0 0 5px 0}


.nubetags-ocio{}
.nubetags-ocio h2{text-transform:none; font-size:18px; display:inline}
.nubetags-ocio h3 {color:#333;font-size:14px;font-weight:bold;padding:0pt 0pt 3px; display:inline}
.nubetags-ocio h4{ font-size:11px; color:#666666; font-weight:bold; ; display:inline}
.nubetags-ocio h2 a{ color:#000}
.nubetags-ocio h5 a{color:#787878}
.nubetags-ocio h4 a{color:#666666}
.nubetags-ocio h3 a{color:#333}
.nubetags-ocio .h5 a, .nubetags-ocio .h6 a{color:#666}
.nubetags-ocio h2 a:hover, .nubetags-ocio h3 a:hover, .nubetags-ocio .h5 a:hover, .nubetags-ocio h4 a:hover, .nubetags-ocio .h6 a:hover{ color:#990000;}
.nubetags-ocio .h5, .nubetags-ocio .h6{display:inline}


	/*Para arreglar las redefiniciones de la CSS de CPI*/
	#pie{ font-size:10px;}
	#pie a{ font-size:10px;}
	#pie p{color:#A6A6A6; padding: 0 0 6px 0; font-size:10px;}
	#pie p.pie-enlaces a{ color:#828282; text-decoration:underline; font-size:9px; font-family:Verdana, Arial, Helvetica, sans-serif;}
	

/*MODULO VISTA DE DIA*/	
.vistazodia{ width:265px; font-family:"Arial";}
.vistazodia .boxheader{font-size:12px; font-weight:bold; color:#fff; background-color:#cc0103; border-bottom:1px solid #CECECE;}
.vistazodia .boxheader img{ float:left; margin:0 4px 0 0; }
.vistazodia .boxheader div{padding:.3em}
.vistazodia .boxcontent{ background-color:#ededed; font-size:11px; display:block;}
.vistazodia .boxbottom{ background-color:#e0e0e0;  font-weight:bold; color:#000; text-align:center; padding:5px 0}
.vistazodia .boxbottom a{font-size:11px; color:#000; }
.vistazodia .boxcontent .bloque-contenidos{padding:2px 0pt 2px 10px; display:block;}
.vistazodia .boxcontent .bloque-contenidos .photo{ float:left; margin:0 4px 0 0;  }

.vistazodia .boxcontent .bloque-contenidos img{ border:3px solid #000;}
.vistazodia .boxcontent .bloque-contenidos h3{ color:#333333; display:table; font-family:Arial; font-size:16px;font-weight:bold;padding-left:5px;}
.vistazodia .boxcontent .bloque-contenidos h3 a{ color:#333333;}
.vistazodia .boxcontent .bloque-contenidos .texto{color:#6D6D6D; display:table; font-size:11px;padding-left:5px;}
.vistazodia .boxcontent .bloque-contenidos .separador{background:transparent url(http://www.diariovasco.com/img-ocio/linea_gris.gif) no-repeat scroll right top;height:7px;width:100%;}
.vistazodia .boxcontent .content{padding:5px 0}	
	
.modulo-servicios{float:left; width:100%}
	.modulo-servicios .icono a:hover{ background: url(http://www.diariovasco.com/img/f_otro_servicio_hover.jpg) repeat-x; background-position: 0px 0px; color:#990000; font-size:11px; text-decoration:none;}
	.modulo-servicios .icono img{ display:block; margin:0 auto 12px auto; text-align:center; border:none}
	.modulo-servicios .icono{ float:left; margin:0 4px 0 0; border:1px solid #CECECE; }
	.modulo-servicios .icono a{  display:block; float:left; text-align:center; margin:0 auto; padding:0; width:111px; height:105px; background: url(http://www.diariovasco.com/img/f_otro_servicio.jpg) repeat-x; background-position: 0px 0px; color:#333333; font-size:11px;}
	.modulo-servicios .modulocomun2{ border:1px solid #CECECE; background-color:#F6F6F4; display:table; width:100%}
	.modulo-servicios .modulocomun2 .boxheader{ }
	.modulo-servicios .modulocomun2 .boxheader a{ color:#474747;}
	.modulo-servicios .modulocomun2 .boxheader h2{ padding:3px 0pt 5px 6px; display:block; font-size:18px; color:#474747; background:#F6F6F6 url(http://www.diariovasco.com/img/f_modulocomun_header.jpg) repeat-x; background-position:bottom; border-bottom:1px solid #CECECE}
	.modulo-servicios .modulocomun2 .boxheader h2 span{ color:#990000;}
	.modulo-servicios .modulocomun2 .boxcontent{ background-color:#FFFFFF; font-size:11px;}
	.modulo-servicios .modulocomun2 .boxcontent .lead-text{background-color:#F6F6F4; border-right:1px solid #CECECE; color:#6D6D6D; float:left; font-family:Arial; font-size:11px; height:28px; padding-bottom:11px; padding-left:10px; padding-right:30px; width:60%;}
	.modulo-servicios .servicios-especiales{ background-color:#F6F6F4; color:#666666; float:right; font-size:11px; width:27%;}
	.modulo-servicios .servicios-especiales-zonas{ padding:6px 12px 6px 12px; position:relative;}	
	

.modulo-fotos{ background-color:#EDEDED;

font-family:"Arial";
width:265px;}

.modulo-fotos .boxheader{font-size:14px; font-weight:bold; color:#fff; background-color:#CC0103; border-bottom:1px solid #CECECE; width:265px;}
.modulo-fotos .boxheader div{ padding:.2em; display:block;}
.modulo-fotos .boxcontent{display:block;font-size:11px;}
.modulo-fotos .boxbottom{background:transparent url(http://www.diariovasco.com/img-ocio/flechita.gif) no-repeat scroll 0% 7px;
display:block;
margin-left:5px;
padding:3px 5px 10px 12px;}
.modulo-fotos .boxbottom a{ padding:0; font-size:11px; color:#636363; display:block; font-weight:bold}

.modulo-fotos .boxcontent .bloque-contenidos{display:block;padding:5px;}
.modulo-fotos .boxcontent .photo{ border:3px solid #000000;display:block;margin-bottom:10px;}
.modulo-fotos .boxcontent .bloque-contenidos .texto{ color:#6D6D6D; display:block; font-size:12px;  margin-top:10px}
	

.zonaDIb{float:left; width:340px}
.zonaDDb{float:right; width:340px}

#colABC{float:left; width:100%}
#noticia-zona-A{float:left}
#zona-BC{float:right;width:581px;}

/*aniadidos*/
.enlacestop .doc{ border-top:0px;}
.enlacestop .enlacesgaleria{ border-bottom:0px;}

.enlacesgaleria{ clear:both; border-bottom:1px solid #E8E6E0; border-left:1px solid #D9D9D9; border-right:1px solid #D9D9D9; text-align:center; margin:0 auto; background:#F6F6F6 url(http://www.diariovasco.com/img/f_enlacesgaleria.jpg) repeat-x; background-position:top; padding:12px 0 9px 0 }
.enlacesnumericos{ background:#FFFFFF url(http://www.diariovasco.com/img/f_enlaces_numericos.jpg) repeat-x; background-position:bottom; padding:12px 0 9px 0; text-align:center; margin:0 auto;  }
.anteriorsiguiente{ display:inline; width:auto; border:1px solid #CECECE; background: #FFFFFF url(http://www.diariovasco.com/img/f_boton_contenido.jpg) repeat-x; background-position: bottom; padding:4px 24px 4px 24px; font-size:11px; color:#636363;}
.anteriorsiguiente:hover{ text-decoration:none; background:#FFFFFF;}
.enlacesgaleria span,.enlacesnumericos span{ margin:0 9px 0 9px;}
/*.foto-noticia .enlacesgaleria span,.foto-noticia .enlacesnumericos span{ margin:0 12px 0 12px;}*/
.enlacesgaleria span a,.enlacesnumericos span a{ text-decoration:none; border:1px solid #E8E6E0; background-color:#FEFEFE; padding:2px 6px 2px 6px; margin:0 1px 0 1px; font-size:10px; color:#999999; text-align:center;}
.enlacesgaleria span a.activo,.enlacesgaleria span a:hover,.enlacesnumericos span a.activo,.enlacesnumericos span a:hover{border:1px solid #FFFFFF; background-color:#990000; color:#FFFFFF; text-decoration:none;}
.enlacesgaleria span span,.enlacesnumericos span span{ visibility:hidden; text-decoration:none; border:1px solid #E8E6E0; background-color:#FEFEFE; padding:2px 7px 2px 7px; margin:0 1px 0 1px; font-size:10px; color:#999999; text-align:center;}

/*aniadidos*/
div.ociozonaA  .apoyo-comentarios a {color: #FFF;}
/*petannas*/
.pestanna{ background: url(http://www.diariovasco.com/img/f_encabezado_galeria.jpg) repeat-x; background-position: bottom; height:25px;}
.pestanna2{ background: url(http://www.diariovasco.com/img/brd_fin_pestanas.gif) no-repeat; background-position: bottom left;}
.pestanna ul{ height:25px; height:25px; background: url(http://www.diariovasco.com/img/brd_fin_pestanas.gif) no-repeat; background-position: bottom right;}
.pestanna li{ float:left;}
.pestanna a{ display:block; float:left; background: url(http://www.diariovasco.com/img/f_separa_lo.gif) no-repeat; background-position: right 50%; font-size:11px; color:#333333; padding:0 6px 0 6px; margin: 3px 0 0 0; height:22px;}
.pestanna a span{ display:block; padding:4px 0 0 0; margin:0;}
.pestanna a.activo{ background:#FFFFFF url(http://www.diariovasco.com/img/brd_fin_menu_lo.gif) repeat-y; background-position: left bottom; border-top:1px solid #C3C3C3; border-right:1px solid #C3C3C3;font-size:11px; color:#333333; margin: 0; font-weight:bold; height:25px;}
.pestanna a.activo span{display:block; padding:6px 0 0 0; margin:0;}

/*separaciones*/
/*.separa{ height:1px; font-size:1px; border-top:1px solid #E8E6E0; margin:5px 0 4px 0;}*/
.separa {border-top:1px solid #E8E6E0;font-size:1px;height:1px;margin:5px 0}
.separa-puntos{background: url(http://www.diariovasco.com/img/brd_puntosH2.gif) repeat-x; background-position: 50%; height:1px;  font-size:1px;}
.separa-punt{background: url(http://www.diariovasco.com/img/brd_puntosH2.gif) repeat-x; background-position: bottom; clear: both;}
.separacion{ height:1px; font-size:1px; margin:0px 0 10px 0;}
.separacion-colC{ height:1px; font-size:1px; margin:0px 0 5px 0;}

/*anadido*/
.encabezado h2{display:none}
.text .separa {clear:none}
.modulovideo .related-link a{color:#666}
.ocioB2 .lead-text a{color:#333}
.ocioB2 .link-app1 a{color:#333}

	


