@charset "utf-8";
/* CSS Document */

/**********************/
/*** INITIALISATION ***/
/**********************/

body,div,h1,h2,h3,img,a,ul,li,form,table,td,tr,p{padding:0px;margin:0px;}
img{border:0px;}
ul,li{list-style:none;}

/*****************/
/*** GENERIQUE ***/
/*****************/

a{text-decoration:none;color:#000000;}
a:hover{text-decoration:underline;}

a.color{color:#DB002F;}

.a_valider{background:url(bt_picto.gif) 2px 1px no-repeat #d4d4d4;padding:1px 8px 0px 14px;margin:0px;height:10px;font-size:8px;color:#2e2e2e;text-transform:uppercase;cursor:pointer;}
.a_valider:hover{text-decoration:none;}

.invisible{display:none;}

.input_text{font-family:Arial, Helvetica, sans-serif;font-size:9px;color:#333333;padding:0px;margin:0px;border:1px solid #d6d6d6;border-top:0px;border-bottom-color:#e7e7e7;background:url(bkg_input.gif) top left repeat-x #FFFFFF;}
/*.input_submit{background:url(../../images/web/search/bt_picto.gif) 2px 1px no-repeat #d4d4d4;padding:0px 8px 1px 14px;margin:0px;height:10px;font-size:8px;color:#2e2e2e;text-transform:uppercase;cursor:pointer;font-family:Arial, Helvetica, sans-serif;height:11px;border:0px;vertical-align:middle;width:auto;}*/
.input_submit{background:url(bt_picto.gif) 2px 1px no-repeat #d4d4d4;padding:0px 5px 1px 14px !important;padding:0px 0px 1px 6px;margin:0px;height:10px;font-size:8px;color:#2e2e2e;text-transform:uppercase;cursor:pointer;font-family:Arial, Helvetica, sans-serif;height:11px;border:0px;vertical-align:middle;width:auto;}

.input_radio, .input_checkbox{vertical-align:middle;}

select{font-family:Arial, Helvetica, sans-serif;font-size:9px;color:#333333;}

textarea{font-family:Arial, Helvetica, sans-serif;font-size:9px;color:#333333;resize:none;overflow:auto;border:1px solid #d6d6d6;border-top-color:#999999;}

.clearboth{clear:both;height:1px;font-size:1px;margin-bottom:-1px;overflow:hidden;}
.clear_both{clear:both;}

.em{text-decoration:underline;}
.em1{color:#cc002c;}
.em1_bis{color:#cc002c;font-size:10px;}
.em2{font-size:14px;}
.em3{color:#1c1c1c;}

.champ_error{color:#db002f;font-weight:bold;}

.separator{background:url(border_bottom.gif) left 5px repeat-x;height:1px;padding:7px 0 7px 0;display:block;font-size:1px;}

.titre_form{text-transform:uppercase;margin-left:7px;margin-bottom:3px;font-size:11px;}
.titre_form2{text-transform:uppercase;margin-bottom:3px;font-size:11px;}

/*************/
/*** STYLE ***/
/*************/

html{width:100%;height:100%;}
body{
	min-width:100%;
	width:auto !important;
	width:100%;
	min-height:100%;
	height:auto !important;
	height:100%;
}

.global{
	min-width:100%;
	width:auto !important;
	width:100%;
	min-height:100%;
	height:auto !important;
	height:100%;
	min-height:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#333333;
	position:absolute;
}
.global_hp{ background:url(background.jpg) center top no-repeat; }


	/*** HEADER ***/
	
	.header{
		width:955px;
		min-height:100px;
		height:auto !important;
		height:100px;
		margin:0px auto 38px auto;
		position:relative;
	}
		
		.header .logo{display:block;position:absolute;top:34px;left:0px;background: url(logo.gif) top left no-repeat;width:77px;height:54px;font-size:1px;}
			.header .logo img{display:none;}
		
		.header_print{display:none;}
		
		.nav{width:639px;float:left;margin:0px 35px 0px 130px;display:inline;padding-top:22px;}
			.nav ul{width:639px;float:left;padding-bottom:8px;margin-bottom:8px;}
			.menu_niv1,.menu_niv2{background:url(border_bottom.gif) left bottom repeat-x;}
				.nav li{float:left;padding:0px 10px 0px 0px;line-height:12px;text-transform:uppercase;}
					.nav li a{padding-left:4px;display:block; color:#333333;}
					.nav li.on a, .nav li a:hover{color:#db002f;background: url(border_on.gif) left 2px no-repeat;text-decoration:none;}
		
		.nav_right{width:150px;height:94px;float:left;background-color:#f5f5f5;padding:7px 0px 0px 0px;margin-top:1px;}
			.nav_right .txt_search{vertical-align:middle;height:12px;width:128px;padding:1px 1px 0px 1px;margin-left:4px;font-size:9px;}
			.nav_right .bt_search{vertical-align:middle;background:url(bt_submit.gif) top left no-repeat;width:9px;height:14px;border:0px;cursor:pointer;padding:0px;margin:0px;position:relative;left:-1px;}
			.nav_right a{color:#1a1a1a;display:block;padding-left:8px;background:url(picto_left.gif) left center no-repeat;margin:6px 0px 0px 2px;line-height:9px;}
				.nav_right a:hover{background-image:url(picto_left_roll.gif);text-decoration:none;}
			.nav_right .mon_espace{width:150px;height:16px;background-color:#e9e9e9;overflow:hidden;margin-top:6px;}
				.mon_espace a{line-height:16px;color:#db0432;height:16px;font-weight:bold;margin-top:0px;text-transform:uppercase;background-image:url(picto_left_perso.gif);}
					
		.titre_header{width:639px;float:left;margin:0px 35px 0px 130px;display:inline;padding-top:0px;background:url(border_left.gif) left top repeat-y;}		
			.titre_header h1{background:url(border_bottom.gif) left bottom repeat-x;border:0px;padding-left:0px;padding-bottom:11px;margin-top:73px;margin-bottom:0px;margin-left:25px;}			

		
	/*** MAIN ***/
	
	.main{
		width:100%;
		min-height:173px;
		height:auto !important;
		height:173px;
		background:url(bkg_main.gif) top left repeat-x;
		padding-bottom:54px;
	}
	.global_hp .main{ background: none; }
	.main_prehome{background:url(bkg_main.jpg) center top no-repeat;width:955px;margin:auto;position:relative;min-height:328px;height:auto !important;height:328px;}
	.main_prehome .logo{display:block;position:absolute;top:34px;left:0px;background: url(logo.gif) top left no-repeat;width:77px;height:54px;font-size:1px;}
	
		.main_content{
			width:955px;
			margin:auto;
		}
			/* prehome */
			
			.prehome{width:100%;}
				.prehome .titre_prehome{text-align:center;padding-top:113px;height:51px;}
				.prehome .visuel_prehome{text-align:center;}
				.prehome a:hover{text-decoration:none;}
				.prehome a.link_vf, .prehome a.link_nl{font-size:12px;color:#040305;position:absolute;top:265px;display:block;padding:6px 0px 6px 0px;}
				.prehome a.link_vf{border-right:2px solid #c7002a;padding-right:18px;right:731px;}
				.prehome a.link_nl{border-left:2px solid #c7002a;padding-left:18px;left:741px;}
				
				.txt_prehome{width:100%;background:url(border_left.gif) center top repeat-y;margin-top:67px;font-size:11px;color:#333333;}
					.col_vf{width:459px;padding-right:18px;float:left;text-align:right;}
					.col_nl{width:459px;padding-left:18px;float:left;}
						.txt_prehome p{margin-bottom:20px;line-height:12px;}
						.em_title{font-weight:bold;text-transform:uppercase;display:block;line-height:18px;}
						.em_soutitle{text-transform:uppercase;display:block;line-height:17px;}
			
			/* center */
			.center{width:620px;float:left;padding:0px 22px 0px 127px;margin-right:35px;}
			.center2{width:674px;float:left;padding:0px 22px 0px 73px;margin-right:35px;}
			.center_sendami{width:440px;float:left;padding:0px 133px 0px 196px;margin-right:35px;}
			.center3{background-color:#FFFFFF;width:755px;float:left;padding:0px 12px 0px 11px;display:inline;margin-right:26px;}
			.center_full{width:792px;float:left;padding:0px;display:inline;margin-right:12px;}
				
				.bloc{border:1px solid #f5f5f5;padding:10px 15px 15px 12px;background-color:#FFFFFF;}
					h1{font-size:16px;font-weight:normal;padding:2px 0px 2px 10px;margin-bottom:25px;text-transform:uppercase;position:relative;border-left:2px solid #db002f;color:#1c1c1c;}
						/*a{color:#db002f;}*/
						.bt_h1{position:absolute;top:2px;right:0px;}
							.bt_h1 a{color:#7d7d7d;font-size:9px;margin-left:5px;}
							.bt_h1 .send_ami{background:url(picto_sendami.gif) right center no-repeat;padding-right:10px;}
							.bt_h1 .retour{background:url(picto_retour.gif) right center no-repeat;padding-right:10px;}
					h2{font-size:12px;font-weight:normal;background:url(border_bottom.gif) bottom left repeat-x;padding-bottom:5px;margin-bottom:10px;text-transform:uppercase;position:relative;width:100%;color:#1c1c1c; padding-top:30px;}
						h2 .visuel{margin-right:5px; top:-4px; position:relative;}
						h2 .bt_h2{position:absolute;top:2px;right:0px;text-align:right;}
					.bloc .chapo{margin-bottom:12px;font-size:10px;line-height:12px;}
					.search_choix_selected{margin-bottom:12px;line-height:18px;text-transform:uppercase;}
						.search_choix_selected span{color:#2e2e2e;margin-right:18px;}
					.bloc_search{}
						.bloc_search .lbl_search{color:#2e2e2e;text-transform:uppercase;}
						.bloc_search .txt_search{width:388px;padding:1px;}
						.bloc_search .search_choix{background:url(border_bottom.gif) bottom left repeat-x;margin:15px 0px 10px 0px;}
						.bloc_search .search_choix_plus{margin:15px 0px 0px 0px;}
							.bloc_search table{width:500px;}
								.bloc_search table td{padding-bottom:8px;}
									.bloc_search table td input{vertical-align:middle;}
									.bloc_search table td label{vertical-align:middle;text-transform:uppercase;}
									
										.search_picto1,
										.search_picto2,
										.search_picto3,
										.search_picto4,
										.search_picto5,
										.search_picto6{padding:3px 0px 3px 20px;}
										
										.search_picto1{background:url(picto_1.gif) left 2px no-repeat;}
										.search_picto2{background:url(picto_2.gif) left center no-repeat;}
										.search_picto3{background:url(picto_3.gif) left center no-repeat;}
										.search_picto4{background:url(picto_4.gif) left center no-repeat;}
										.search_picto5{background:url(picto_5.gif) left 2px no-repeat;}
										.search_picto6{background:url(picto_6.gif) left center no-repeat;}
										
										.search_choix_selected .search_picto1{background:url(picto_1.gif.1) left 2px no-repeat;}
										.search_choix_selected .search_picto2{background:url(picto_2.gif.1) left center no-repeat;}
										.search_choix_selected .search_picto3{background:url(picto_3.gif.1) left center no-repeat;}
										.search_choix_selected .search_picto4{background:url(picto_4.gif.1) left center no-repeat;}
										.search_choix_selected .search_picto5{background:url(picto_5.gif.1) left 2px no-repeat;}
										.search_choix_selected .search_picto6{background:url(picto_6.gif.1) left center no-repeat;}
						
						.select_choix{text-transform:uppercase;margin-bottom:18px;line-height:12px;margin-top:20px;}
							.select_choix select{font-size:10px;color:#7d7d7d;width:480px;margin-top:5px;font-family:Arial, Helvetica, sans-serif;}
									
						.search_affiner{text-decoration:underline;text-transform:uppercase;}
							.search_affiner:hover{text-decoration:none;}
						.search_valider{height:11px;padding-top:8px;padding-right:16px;}
							.search_valider a, .search_valider input{float:right;background:url(bt_picto.gif) 2px 1px no-repeat #d4d4d4;padding:1px 8px 0px 14px;margin:0px 0px 0px 10px;height:10px;font-size:8px;color:#2e2e2e;text-transform:uppercase;cursor:pointer;}
							.search_valider input{border:0px;font-family:Arial, Helvetica, sans-serif;height:11px;padding-top:0px;padding-bottom:1px;}
							.search_valider a:hover{text-decoration:none;display:block;}
				
				.img_resultat{margin-bottom:0px;}
				
				.bloc_resultat{width:100%;background:url(border_bottom.gif) bottom left repeat-x;padding-bottom:10px;margin-bottom:10px;}
					.bloc_resultat .num{font-size:14px;font-weight:bold;color:#db0130;float:left;position:relative;top:-2px;}
					.bloc_resultat_left{float:left;width:400px;font-size:10px;line-height:12px;padding-left:3px;}
						.bloc_resultat_left a{text-decoration:underline;}
						.bloc_resultat_left a:hover{text-decoration:none;}
						.bloc_resultat_left .titre{color:#db0130;}
						.bloc_resultat_left .adresse{margin-bottom:15px;}
						.bloc_resultat_left .coordonnees{margin-bottom:12px;}
						.bloc_resultat_left .site_web{margin-bottom:0px;}
							.bloc_resultat_left .site_web a{color:#2e2e2e;}
					.bloc_resultat_right{float:right;width:250px;}
						.bloc_resultat_right table{width:250px;}
							.bloc_resultat_right td{padding:2px 0px 5px 10px;height:10px;}
					.bloc_resultat .search_valider{clear:both;}
				
				.img_fiche{margin-bottom:13px; }
					.img_fiche .visuel{float:left;width:218px; height:148px; margin-right:20px;}
					.img_fiche .map{float:left; margin-right:20px;}
					.img_fiche .map img {float:left;width:218px; height:148px;}
				
				.bloc_fiche{margin-bottom:12px;}
					.bloc_fiche_left{float:left;width:300px;font-size:10px;line-height:12px;}
						.bloc_fiche_left a{text-decoration:underline;}
						.bloc_fiche_left a:hover{text-decoration:none;}
						.bloc_fiche_left .titre{color:#DB002F;}
						.bloc_fiche_left .adresse{margin-bottom:15px;}
						.bloc_fiche_left .coordonnees{margin-bottom:12px;}
						.bloc_fiche_left .site_web{margin-bottom:15px;}
							.bloc_fiche_left .site_web a{color:#2e2e2e;}
						.bloc_fiche_left .ouverture{}
					.bloc_fiche_right{float:left;width:190px;}
						.bt_liens{height:11px;margin-bottom:15px;white-space:nowrap;}
							.bt_liens a, .bt_liens input{display:block;background:url(bt_picto.gif) 2px 1px no-repeat #d4d4d4;padding:1px 8px 0px 14px;margin:0;height:10px;font-size:8px;color:#2e2e2e;text-transform:uppercase;cursor:pointer;}
							.bloc_fiche_right .bt_liens p a {float:none !important;}
							.bloc_fiche_right .bt_liens p {margin-bottom:10px; clear:both;}
							.bt_liens input{border:0px;font-family:Arial, Helvetica, sans-serif;height:11px;padding-top:0px;}
							.bt_liens a:hover{text-decoration:none;}
						.list_choix{line-height:18px; padding-top:20px;}
							.list_choix .titre{display:none;}
				
				.fiche_txt{border:1px solid #f5f5f5;padding:10px;background-color:#FFFFFF;font-size:10px;margin-bottom:10px;line-height:12px;}
				
				.disposition{font-size:10px;line-height:11px;background:url(border_bottom.gif) bottom left repeat-x;padding-bottom:10px;margin-bottom:10px;}
					.disposition .titre{display:none;}
					.disposition div{color:#2e2e2e;}
				
				.list_bloc_service{background:url(border_bottom.gif) bottom left repeat-x;margin-bottom:10px;}
					.bloc_service{color:#2e2e2e;font-size:10px;width:210px;float:left;padding-right:14px;}
						.bloc_service a{text-decoration:underline;color:#2e2e2e;}
						.bloc_service a:hover{text-decoration:none;}
						.bloc_service .titre{color:#DB002F;}
						.bloc_service .adresse{margin-bottom:15px;}
						.bloc_service .coordonnees{margin-bottom:12px;}
						.bloc_service .ouverture{margin-bottom:18px;}
						.bloc_service .infos_contact{color:#000000;background:url(border_bottom.gif) bottom left repeat-x;padding-bottom:10px;margin-bottom:10px;}
						.bloc_service .noborder{background:none;}
							.bloc_service .infos_contact .infos_contact_pers{margin-bottom:10px;}
								.bloc_service .infos_contact .infos_contact_pers .infos_contact_nom{}
							.bloc_service .infos_contact .infos_contact_coord{margin-bottom:0px;}
							.bloc_service .infos_contact a{color:#000000;}
						.fin_list_bloc_service{clear:both;height:1px;font-size:1px;display:block;}
						
				.infos_sendami{background:url(border_bottom.gif) bottom left repeat-x;margin-bottom:10px;padding-bottom:10px;width:410px;}
					.sendami_exp, .sendami_dest{width:188px;height:105px;float:left;background-color:#f5f5f5;padding:15px 0px 0px 12px;margin-bottom:8px;}
					.sendami_dest{float:right;position:relative;}
						.sendami_exp .intitule, .sendami_dest .intitule{padding-bottom:8px;color:#2e2e2e;text-transform:uppercase;display:block;}
						.sendami_exp label, .sendami_dest label{text-transform:uppercase;line-height:12px;}
						.sendami_exp input, .sendami_dest input{width:168px;padding:1px;}
						.sendami_dest .bt_previous{background:url(bt_previous.gif) top left no-repeat;width:6px;height:5px;position:absolute;top:56px;left:3px;}
						.sendami_dest .bt_next{background:url(bt_next.gif) top left no-repeat;width:6px;height:5px;position:absolute;top:56px;left:189px; }
					.mess_error{color:#db002f;clear:both;margin-bottom:10px;}
					.message_sendami{background-color:#f5f5f5;padding:15px 0px 12px 12px;clear:both;}
						.message_sendami .intitule{color:#2e2e2e;text-transform:uppercase;display:block;}
						.message_sendami textarea{width:378px;height:80px;overflow:auto;}
					.code_sendami{background-color:#f5f5f5;padding:12px 0px 15px 0px;width:410px;}
						.code_sendami .img_code{float:left;width:160px;}
							.code_sendami .img_code img{display:block;margin:auto;}
						.code_sendami .champ_saisie{float:right;width:250px;color:#2e2e2e;padding-top:10px;}
							.code_sendami .champ_saisie input{width:235px;padding:1px;}
					.mentions_sendami{text-transform:uppercase;font-size:8px;}
					.confirm_sendami{background-color:#f5f5f5;padding:15px 0px 12px 12px;margin-bottom:0px;color:#2e2e2e;}	
					
				.bloc_dem_essai{width:100%;margin-bottom:30px;}
					.choix_vehicule{width:413px;float:left;margin-right:16px;}
						.onglets{height:13px;border-bottom:1px solid #d9d9d9;}
							.onglets a{display:block;float:left;height:11px;background:url(bkg_onglet.gif) top left repeat-x;padding:2px 25px 0px 3px;text-transform:uppercase;margin-bottom:-1px; color:#333333;}
								.onglets a span{padding-left:12px;}
							.onglets a:hover, .onglets a.on{text-decoration:none;color:#000000;background:#c6c6c6;display:block;}
								.onglets a:hover span, .onglets a.on span{background:url(border_onglet.gif) 4px 1px no-repeat;}
						.vehicules{width:413px;}
							.bloc_vehicule{width:102px;height:70px;margin-left:1px;float:left;display:inline;cursor:pointer;}
							.bloc_vehicule:hover{text-decoration:none;}
							.bloc_vehicule.on{color:red;}
								.bloc_vehicule .visuel_vehicule{width:100%;height:65px;position:relative;display:block;}
									.bloc_vehicule .visuel_vehicule span{position:absolute;bottom:0px;left:0px;width:100%;text-align:center;}
									.bloc_vehicule .visuel_vehicule img{width:100px; height:42px;}
									.bloc_vehicule .visuel_vehicule img.demande_ess {height:45px;}
								.bloc_vehicule .titre_vehicule{width:100%;height:11px;display:block;text-align:center;text-transform:uppercase;padding-top:5px;letter-spacing:-1px;}
					.choix_date{width:324px;float:left;}
						.calendrier{width:147px;float:left;}
						.calendrier_right{float:right;}
							.calendrier .titre{color:#db002f;text-transform:uppercase;letter-spacing:+1px;}
							.calendrier select{width:147px;margin:5px 0px 5px 0px;}
							.calendrier .input_submit{float:right;}
							.calendrier table{width:147px;margin:5px 0px 20px 0px;}
								.calendrier table td,.calendrier table th{border:1px solid #FFFFFF;background-color:#f9f9f9;width:19px;height:19px;vertical-align:middle;text-align:center;}
									.calendrier table td a {color:#333;}
									.calendrier table td a:hover {color:#db002f;}
								.calendrier table td.on{background-color:#6b6b6b;color:#FFFFFF;}	
									.calendrier table td.on a{color:#FFFFFF;}
								.calendrier table th{background:none;}
							.horaire{font-size:10px;}
								.horaire label{vertical-align:middle;}
								.horaire input{vertical-align:middle;}
								.horaire #heure1,.horaire #heure2,
								.horaire #minute1,.horaire #minute2{width:18px;text-align:center;}
						.remarques{clear:both;font-size:10px;padding-top:20px;}
							.remarques #remarques{width:750px;height:45px;overflow:auto;}
					.choix_pdv{width:413px;float:left;margin-left:16px;display:inline;position:relative;}
						.choix_pdv_content{background-color:#f5f5f5;padding:10px 5px 5px 5px;width:403px;}
							.choix_pdv_ville{margin-bottom:30px;font-size:10px;}
								.choix_pdv #ville_pdv{width:220px;}
							.choix_pdv_pdv{margin-bottom:30px;font-size:10px;}
								.choix_pdv #pdv{width:220px;}
							.choix_pdv_details{padding:20px 5px 30px 5px;background-color:#FFFFFF;}
								 .choix_pdv_details .bloc_resultat{background:none;margin-bottom:0px;padding-bottom:0px;}
									.choix_pdv_details .bloc_resultat .bloc_resultat_left{width:250px;}
									.choix_pdv_details .bloc_resultat .bloc_resultat_right{width:140px;line-height:15px;}
				
				.bloc_dem_offre{width:100%;margin-bottom:30px;}
					.bloc_dem_offre .vehicules{width:100%;}
						
				.search_pdv{background-color:#f5f5f5;padding:10px 5px 5px 5px;margin-bottom:10px;}
					.search_pdv label{text-transform:uppercase;}
					.search_pdv_ville{margin-bottom:5px;font-size:10px;}
						.search_pdv_ville #ville_pdv{width:500px;}
					.search_pdv_pdv{margin-bottom:20px;font-size:10px;}
						.search_pdv_pdv #pdv{width:500px;}
					.search_pdv_details {padding:10px;background-color:#FFFFFF;}
						.search_pdv_details .bloc_resultat{background:none;margin-bottom:0px;padding-bottom:0px;}
				
				.dem_essai_coordonnees{}
					.dem_essai_coordonnees table{width:745px;margin:auto;}
						.dem_essai_coordonnees td{width:354px;padding-bottom:8px;text-transform:uppercase;}
						.dem_essai_coordonnees td.td_left{padding-right:38px;}
							.dem_essai_coordonnees .input_text{width:352px;text-transform:none;}
							.dem_essai_coordonnees select{text-transform:none;}
				.dem_offre_coordonnees{background-color:#f5f5f5;padding:10px 0px 10px 0px;}
					.dem_offre_coordonnees table{width:717px;margin:auto;}
						.dem_offre_coordonnees td{width:340px;padding-bottom:8px;text-transform:uppercase;}
						.dem_offre_coordonnees td.td_left{padding-right:38px;}
						.dem_offre_coordonnees .td_valider{text-align:right;}
							.dem_offre_coordonnees .input_text{width:338px;text-transform:none;}
							.dem_offre_coordonnees select{text-transform:none;}
				
				/*** DEMANDE DE BROCHURE ***/ 
				.demande_brochure{width:755px;padding-bottom:12px; overflow:hidden;}
					.table_brochure{font-size:10px;width:755px;margin:0px auto 10px auto;}
						.table_brochure th{font-weight:normal;height:20px;text-transform:uppercase;line-height:12px;}
						.table_brochure td{text-align:center;height:20px;border:1px solid #FFFFFF;line-height:12px;}
						.table_brochure .col1{text-align:left;text-transform:none;}
							.table_brochure td.col1{padding-left:8px;width:380px;}
						.table_brochure .tr_color td{background-color:#efefef;}
					
					.bt_pdf{background:url(picto_pdf.gif) top left no-repeat;width:10px;height:12px;display:block;margin:auto;font-size:1px;}
					.bt_flipbook{background: url(picto_flipbook.gif) top left no-repeat;width:11px;height:10px;display:block;margin:auto;font-size:1px;}
					
					.bloc_brochure_details{background:url(border_bottom.gif) bottom left repeat-x;padding-bottom:5px;width:100%;margin-bottom:20px;}
						.demande_brochure h2 .visuel{width:130px;}
							.bloc_brochure_details h2 .visuel img, .demande_brochure h2 .visuel img{width:130px; height:42px; position:relative; top:-25px; z-index:10000;margin-bottom:-25px;}
					
					.bloc_dem_brochure{width:750px;margin:0 auto 10px auto;}
						.bloc_dem_brochure .onglets{width:750px;height:13px;overflow:hidden;margin-bottom:0px;}
							.bloc_dem_brochure .onglets a{width:149px;padding:2px 0px;background-color:#f4f4f4; color:#333333; border-left:1px solid #fff;overflow:hidden; margin:0}
							.bloc_dem_brochure .onglets a.on, .bloc_dem_brochure .onglets a:hover{text-decoration:none;color:#000000;background:#c6c6c6;display:block;}
							.bloc_dem_brochure .onglets #firstchild{border-left:0px;width:150px;}
						.bloc_dem_brochure .vehicules{width:750px;border-left:1px solid #f5f5f5;}
							.bloc_dem_brochure .bloc_vehicule{width:149px;cursor:auto;height:70px;padding-top:7px;overflow:hidden;border-right:1px solid #f5f5f5;margin-left:0px;background:url(bkg_vehicules.gif) bottom left repeat-x;}
								.visuel_vehicule_bro img{height:45px;}
								.bloc_dem_brochure .vehicules .titre_vehicule{text-align:left;height:25px;padding-left:20px;}
									.bloc_dem_brochure .vehicules .titre_vehicule label, .bloc_dem_brochure .vehicules .titre_vehicule input{vertical-align:middle;}
									.bloc_dem_brochure .vehicules .titre_vehicule label{width:80px;display:inline-block;}
					.bloc_submit2{width:745px;text-align:right;margin:auto;}
									
					.recapitulatif{width:754px;}
						.recapitulatif .titre{text-transform:uppercase;color:#1c1c1c;margin-bottom:10px;}
						.recapitulatif .listing{padding:7px 10px 7px 10px;background-color:#f5f5f5;margin-bottom:15px;}
							.recapitulatif .listing ul{}
								.recapitulatif .listing li{background:url(fleche.gif) left center no-repeat;padding-left:6px;color:#6b6b6b;}
							.recapitulatif .input_submit{float:right;margin-top:-10px;}
					
					.dem_bro_coordonnees{background-color:#f5f5f5;padding:10px 0px 10px 0px;margin-bottom:10px;}
						.dem_bro_coordonnees .titre_dem{font-size:11px;padding-left:7px;margin-bottom:7px;}
						.dem_bro_coordonnees table{width:740px;margin:auto;}
							.dem_bro_coordonnees table td{padding-bottom:5px;}
								.dem_bro_coordonnees table .input_text {width:360px;}
								
					.coordonnees_particulier{background-color:#f5f5f5;padding:10px 0px 10px 0px;margin-bottom:10px;}
						.coordonnees_particulier table{width:740px;margin:auto;}
							.coordonnees_particulier table td{padding-bottom:5px;}
								.coordonnees_particulier table .input_text {width:360px;}
								.coordonnees_particulier label{color:#868686;}
					
					.contact_coordonnees{padding:10px 0px 10px 0px;}
						.contact_coordonnees .separator{margin:0 7px 0 7px;}
						.contact_coordonnees table{width:740px;margin:0 auto;}
							.contact_coordonnees table td{padding-bottom:5px;width:246px;}
								.contact_coordonnees table .input_text{width:230px;}
								.contact_coordonnees table select{width:232px;}
								.contact_coordonnees table #demande{width:730px;height:75px;}
								.contact_coordonnees table
									#mm_vp, #mm_vu{width:50px;margin:0 10px 0 5px;}
									#aa_vp, #aa_vu{width:50px;margin:0 0 0 5px;}
								.contact_coordonnees table .em3{color:#1c1c1c;}
								
					.dem_devis_coordonnees{background:url(border_bottom.gif) bottom left repeat-x;padding-bottom:10px;margin-bottom:10px;}
						.dem_devis_coordonnees .content{background:#f5f5f5;padding:10px 0px 10px 0px;}
						.dem_devis_coordonnees .contentplus{padding-left:7px;}
							.dem_devis_coordonnees table{width:740px;margin:auto;}
								.dem_devis_coordonnees table td{padding-bottom:5px;}
									.dem_devis_coordonnees .filephoto{width:250px;height:19px;font-family:Arial, Helvetica, sans-serif;color:#333333;padding:0px;margin:0px;border:1px solid #d6d6d6;border-top:0px;border-bottom-color:#e7e7e7;background:url(bkg_input.gif) top left repeat-x #FFFFFF;margin-bottom:5px;}
									.dem_devis_coordonnees label{color:#868686;}
							.table_demande .col1{width:485px;}
								.table_demande #demande_precis{width:373px;_width:375px;}
								.table_demande #demande{width:474px;}
								.table_demande textarea{width:470px;height:68px;}
							.table_vehicule .input_text{width:350px;}
							.table_vehicule #kilometrage, .table_vehicule #vin{width:165px;}
							.dem_devis_coordonnees #ville_reparateur{width:520px;margin-right:8px;}
							.dem_devis_coordonnees #search_reparateur{margin-right:3px;}
							.mentions_form{color:#6b6b6b;font-size:10px;margin-left:7px;}
							.dem_devis_coordonnees .texte{color:#868686;font-size:11px;}
						.table_devis_coord .input_text{width:280px;}
					
					.offre_commerciale{padding:10px 0px 10px 7px;}
						.offre_commerciale input{vertical-align:middle;}
					
					.catcha{background:url(border_bottom.gif) bottom left repeat-x;width:754px;padding-bottom:10px;margin-bottom:10px;}
					.catcha.nobkg{background:none;padding-bottom:0px;}
						.catcha_content{background:url(border_bottom.gif) top left repeat-x;width:754px;padding-top:10px;}
						.catcha.nobkg .catcha_content{background:none;padding-top:0px;}
							.bloc_catcha{background-color:#f5f5f5;padding:12px 0px 15px 0px;width:754px;}
								.catcha .img_code{float:left;width:160px;}
									.catcha .img_code img{display:block;margin:auto;}
								.catcha .champ_saisie{float:left;width:580px;color:#2e2e2e;padding-top:10px;}
									.catcha .champ_saisie input{width:550px;padding:1px;}
								.bloc_catcha .catcha_submit{text-align:right;padding-right:40px;padding-top:10px;}
									
					.message_confirm{font-size:11px;background:url(border_bottom.gif) bottom left repeat-x;padding-bottom:10px;margin-bottom:10px;color:#000000;}
						.message_confirm_content{background-color:#f5f5f5;padding:10px;}
						
					.mentions_message_confirm{margin-bottom:10px;}
						.mentions_message_confirm a{text-decoration:underline;}
						.mentions_message_confirm a:hover{text-decoration:none;}
					
				.bloc_submit{text-align:right;}
				.bloc_submit_plus{text-align:right;background:url(border_bottom.gif) top left repeat-x;padding-top:10px;}
					.conditions{text-align:left;float:left;}
				/***********************/
				
				.mentions{padding-top:20px;}
					.mentions a{text-decoration:underline;}
					.mentions a:hover{text-decoration:none;}
				.mentions2{padding-top:10px;padding-bottom:10px;}
					.mentions2 a{text-decoration:underline;}
					.mentions2 a:hover{text-decoration:none;}
				
				/*** SHOWROOM ***/
				.showroom_home{width:762px;position:relative;}
					.showroom_home .visuel{width:100%;}
						.showroom_home .visuel img{width:100%;display:block;}
					.showroom_home .titre{color:#1c1c1c;font-size:18px;border-left:2px solid #db002f;background-color:#FFFFFF;padding:3px 0px 3px 12px;width:750px;height:auto;position:absolute;left:0px;top:20px;letter-spacing:+1px;}
						.showroom_home .titre .titre_em{color:#db002f;font-size:14px;}
						.showroom_home .titre a{background:url(fleche2.gif) left center no-repeat; padding-left:5px;color:#2e2e2e;font-size:9px;text-transform:uppercase;position:absolute;right:0px;top:50%;margin-top:-5px;letter-spacing:normal;}
				
				.showroom_film{width:762px;position:relative;margin-top:20px;}
					.showroom_film img{width:100%; height:337px;display:block;}
					.showroom_film .titre{font-size:10px;color:#222327;min-height:30px;height:auto !important;height:30px;position:absolute;left:0px;top:0px;}
						.showroom_film .titre .bkg{width:762px;height:100%;background-color:#000000;-moz-opacity:0.15;filter:alpha(opacity=15);opacity:0.15;-Khtml-Opacity:0.15;position:absolute;top:0px;left:0px;z-index:0;}
						.showroom_film .titre .txt{width:762px;padding:15px 0px 15px 0px;position:relative;z-index:100;text-align:center;}
				
				.showroom_details{margin-top:20px;}
					.showroom_details_bloc{width:762px;height:174px;margin-top:14px;padding-bottom:14px;background:url(border_bottom.gif) bottom left repeat-x;overflow:hidden;}
						.showroom_details_bloc .bloc_visuel{width:247px;height:146px;float:left;position:relative;}
							.showroom_details_bloc .bloc_visuel img{display:block;width:247px;height:146px;}
							.showroom_details_bloc .bloc_visuel .titre{position:absolute;top:15px;left:0px;font-size:14px;color:#3d3d3d;min-height:18px;height:auto !important;height:18px;border-left:2px solid #db002f;background-color:#FFFFFF;padding:4px 0px 3px 10px;width:237px;}	
						.showroom_details_bloc .txt{width:458px;height:162px;float:left;padding:10px 0px 0px 12px;overflow:auto;background-color:#FFFFFF;border:1px solid #eaeaea;border-left:0px;line-height:12px;}
							.showroom_details_bloc .txt a{display:block;text-transform:uppercase;font-size:10px; color:#333;}	
							.showroom_details_bloc .txt a:hover {color:#DB002F;}
								.showroom_details_bloc .txt a.sous_niv{text-transform:none;margin-left:30px;}
				
				.showroom_article_left{width:445px;float:left;font-size:10px;line-height:12px;}
				.showroom_article420_left{width:420px;}
				.showroom_article426_left{width:426px;}
					.showroom_article_left .texte{background-color:#fff;padding:10px 20px;margin-top:-10px;margin-bottom:15px;font-size:11px!important}
						.showroom_article426_left .texte p { margin-bottom:10px; font-size:11px;}
					.showroom_article_left .visu {margin-bottom:20px;}		
					.nav_interne{padding:15px 10px;background-color:#fff;border:1px solid #e4e4e4;}
						.nav_interne a{display:block;padding-left:4px;text-transform:uppercase; color:#333;}
						.nav_interne .sous_niv{text-transform:none;margin-left:25px;}
						.nav_interne a.on, .nav_interne a:hover{color:#1c1c1c;background:url(border_on.gif) left 2px no-repeat;color:#DB002F;text-decoration:none;}
				.showroom_article_visuels{width:284px;float:left;padding-left:33px;}
				.showroom_article_l20_visuels{padding-left:20px; margin-top:40px;}
					.showroom_article_visuels .visuel{margin-bottom:10px;padding-bottom:11px;background:url(border_bottom.gif) bottom left repeat-x;}
					.showroom_article_l20_visuels .visuel{background:none;}
						.showroom_article_visuels .visuel img{display:block; width:321px; height:138px;}
					.showroom_article_visuels .txt{margin-bottom:10px;font-size:10px;line-height:12px;margin-top:-2px;}
					.showroom_article_visuels .visuel .clear_both {width:284px!important;}
				
				
				.showroom_details_tab{width:762px;background-color:#FFFFFF;padding:10px 0px 10px 0px;}
					.nav_motorisation{width:682px;margin:0px auto 12px auto;}
						.nav_motorisation ul{width:682px;height:14px;}
							.nav_motorisation ul li{width:126px;height:13px;float:left;border-bottom:1px solid #d9d9d9;}
								.nav_motorisation ul li a{background-color:#fbfbfb;display:block;padding-left:5px;border-right:1px solid #fff; color:#333;height:13px;line-height:13px;}
									.nav_motorisation ul li a:hover{color:#db002f !important;}
									.nav_motorisation ul li a span{padding-left:5px;}
								.nav_motorisation ul li a:hover, .nav_motorisation ul li a.on{background:url(bkg_onglet.gif.1) top left repeat-x;text-decoration:none;}
										.nav_motorisation ul li a:hover span, .nav_motorisation ul li a.on span{background:url(border_onglet.gif.1) left center no-repeat;}
					.txt_motorisation{width:682px;margin:0px auto 12px auto;font-size:11px;line-height:12px;}
					.table_motorisation{width:682px;margin:0px auto 25px auto;}
						.table_motorisation th, .table_motorisation td{font-size:10px;text-align:left;min-height:14px;height:auto !important;height:14px;padding:1px 0px 1px 0px;}
						.table_motorisation th{color:#1c1c1c;border-bottom:1px solid #d9d9d9;font-weight:normal;text-transform:uppercase;}
						.table_motorisation .tr_section td{font-size:1px;height:25px !important;}
						.table_motorisation .tr_titre td{color:#1c1c1c;background:url(border_bottom.gif) bottom left repeat-x;}
						.table_motorisation .tr_color td{background-color:#f2f2f2;}
						.table_motorisation .tr_final td{height:35px !important;vertical-align:middle;}
						
						
					.list_equipement {background:#f5f5f5; width:309px; float:right; padding-bottom:10px;}
					.list_equipement h2{font-size:9px; margin:10px; width:auto;}
					.list_equipement ul {padding-left:10px;}
						.list_equipement ul li {background:url(dart_grey.gif) 0 50% no-repeat; padding-left:10px; color:#7D7D7D;}
						
						
				/***********************/
				
				.boc_nav_niv4{width:762px;min-height:18px;height:auto !important;height:18px;padding-top:8px;background:url(border_bottom.gif) top left repeat-x;}
					.nav_niv4{width:762px;min-height:14px;height:auto !important;height:12px;padding:0px 0px 6px 0px;background:url(border_bottom.gif) bottom left repeat-x;text-transform:uppercase;float:left;}
						.nav_niv4 li{float:left;height:12px;margin-bottom:2px;white-space:nowrap;}
							.nav_niv4 li a{padding-left:4px;display:block;margin-right:10px; color:#3b3b3b;}
							.nav_niv4 li.on a, .nav_niv4 li a:hover{color:#db002F;background:url(border_on.gif) left 2px no-repeat;text-decoration:none;}
				
				.boc_nav_niv5{width:762px;min-height:18px;height:auto !important;height:18px;padding-top:8px;}
					.nav_niv5{width:762px;min-height:12px;height:auto !important;height:12px;padding:0px 0px 0px 0px;text-transform:uppercase;}
						.nav_niv5 li{float:left;height:12px;margin-bottom:2px;white-space:nowrap;}
							.nav_niv5 li a{padding-left:4px;display:block;margin-right:10px;color:#3b3b3b;}
							.nav_niv5 li.on a, .nav_niv5 li a:hover{background:url(border_on.gif) left 2px no-repeat;text-decoration:none; color:#db002f}
					
				/*** RELATION CLIENT ***/
				.relation_client{width:775px;background-color:#FFFFFF;padding:0px 9px 0px 8px;}
					
					.relation_client_chapo{border-bottom:1px solid #868686;padding-bottom:8px;margin-bottom:8px;}
						.relation_client_chapo_content{background-color:#f5f5f5;padding:10px;}
					
					.relation_client_conteneur{background-color:#f5f5f5;padding:10px;width:755px;}
						.relation_client_conteneur table{text-transform:uppercase;width:100%;margin-bottom:10px;}
						.relation_client_conteneur .titre_relation_client{background:url(border_bottom.gif) top left repeat-x;padding-top:4px;color:#1c1c1c;margin-bottom:8px;}
							.relation_client_conteneur table td{height:30px;}
								.relation_client_conteneur table td .input_text{width:230px;}
									.relation_client_conteneur #date_circulation_jour,
									.relation_client_conteneur #date_circulation_mois,
									.relation_client_conteneur #date_circulation_an{width:40px;margin-right:5px;}
								.relation_client_conteneur table td select{width:233px;}
						.relation_client_conteneur .relation_client_search_pdv{padding-top:15px;margin-bottom:15px;}
							.relation_client_conteneur .relation_client_search_pdv .search_pdv_ville{margin-bottom:5px;}
							.relation_client_conteneur .relation_client_search_pdv .search_pdv_details .bloc_resultat_right{width:300px;}
						.relation_client_demande{}
							.relation_client_demande label{text-transform:uppercase;}
							.relation_client_demande textarea{width:749px;height:85px;overflow:auto;}
							
					.choix_offres_commerciales{padding-top:10px;margin-bottom:10px;}
						.choix_offres_commerciales label, .choix_offres_commerciales input{vertical-align:middle;}
					
					.relation_client_conteneur .catcha{background:none;}
						.relation_client_conteneur .catcha .champ_saisie{color:#7d7d7d;}
				/***********************/
				
				/*** TEMPLATE RICHE ***/
				.template_riche{padding:15px 10px 10px 10px;background-color:#FFFFFF;font-size:11px;}
					.template_riche_content{margin-bottom:20px;width:100%;}
						.template_riche_content img{float:right;margin-left:15px;width:353px;}
						.template_riche_texte{float:left;width:404px;}
							.template_riche_content .titre{color:#1c1c1c;background:url(border_bottom.gif) left bottom repeat-x;padding-bottom:9px;margin-bottom:15px;text-transform:uppercase;float:left;}
							.template_riche_content .txt{text-align:justify;clear:left; width:100%;}
					.template_riche_table{margin-bottom:20px;padding-bottom:10px;border-bottom:1px solid #e5e5e5;}
						.template_riche_table table{width:100%; clear:both; margin-top:20px;}
							.template_riche_table th, .template_riche_table td{height:14px;padding-left:3px;}
							.template_riche_table th{text-align:left;color:#1c1c1c;text-transform:uppercase;border-bottom:1px solid #e5e5e5;}
							.template_riche_table .tr_color td{background-color:#f2f2f2;}
							.template_riche_table .tr_section td{background:url(border_bottom.gif) left bottom repeat-x;}
				/**********************/
					.promo{text-align:center;margin-bottom:30px;}
				
				
				/*** TEMPLATE TEXTE ***/
				.showroom_texte{width:682px;margin:0px auto 12px auto;font-size:11px;line-height:12px;}
				/**************/
				
				/*** TEMPLATE DIMENSIONS ***/
				.link_down{ background: url(picto_link_down.gif) left center no-repeat;padding-left:5px;font-size:9px;}
					h1 .bt_h1 .link_down{font-size:9px;}
				.showroom_dimensions{width:711px;margin:0px auto 12px auto;font-size:10px;line-height:12px;}
					.showroom_dimensions img {width:711px; height:267px;}
				/**************/
				
				/*** BOITE DE VITESSE ***/
				.txt_boite_vitesse{width:682px;margin:0px auto 25px auto;font-size:11px;line-height:12px;}
					.txt_boite_vitesse img{float:right;margin-left:10px; width:210px; height:118px;}
					.txt_boite_vitesse .link{clear:both;margin-top:10px;}
					.txt_boite_vitesse .txt{width:430px; text-align:justify; display:block; margin-bottom:10px;}	
				/************************/
				
				/***  SHOWROOM COMPARATEUR ***/
				.nav_showroom{width:730px;margin:0px auto 12px auto;}
					.nav_showroom ul{width:730px;height:14px;}
						.nav_showroom ul li{width:145px;height:13px;float:left;border-bottom:1px solid #d9d9d9;}
							.nav_showroom ul li a{background:url(bkg_onglet.gif.1) top left repeat-x;display:block;padding-left:5px; color:#333; height:13px;line-height:13px;}
								.nav_showroom ul li a span{padding-left:5px;}
							.nav_showroom ul li a:hover, .nav_showroom ul li a.on{text-decoration:none;color:#000000;background:#c6c6c6}
									.nav_showroom ul li a:hover span, .nav_showroom ul li a.on span{background:url(border_onglet.gif.1) left center no-repeat;}
				.showroom_comparateur{width:730px;margin:auto;}
					.showroom_comparateur table{width:auto;}
						.showroom_comparateur table td, .showroom_comparateur table th{vertical-align:middle;text-align:center;height:20px;line-height:100%;width:75px;}
						.showroom_comparateur table th{text-transform:uppercase;color:#FFFFFF;}	
							.showroom_comparateur table th.col1{background:url(bkg_titre1.gif) left top repeat-x;}
							.showroom_comparateur table th.col2{background:url(bkg_titre2.gif) left top repeat-x;}
							.showroom_comparateur table th.col3{background:url(bkg_titre3.gif) left top repeat-x;}
							.showroom_comparateur table th.col4{background:url(bkg_titre4.gif) left top repeat-x;}
							.showroom_comparateur table th.col5{background:url(bkg_titre5.gif) left top repeat-x;}
							.showroom_comparateur table th.col6{background:url(bkg_titre6.gif) left top repeat-x;}
							.showroom_comparateur table th.col7{background:url(bkg_titre7.gif) left top repeat-x;}
						.showroom_comparateur table td{background-color:#f5f5f5;border:1px solid #FFFFFF;border-top:0px;border-right:0px;}
						.showroom_comparateur table td.coltitre{width:193px;text-align:left;border-bottom:1px dotted #adadad;background:none;}
						.showroom_comparateur table td.on{background-color:#e9e9e9;}
						.showroom_comparateur table td.legend{background:none;text-align:right;border:0px;vertical-align:bottom;width:auto;}
							.showroom_comparateur table td.legend img{vertical-align:bottom;margin-left:20px;}
				/*****************************/
				/*** TEMPLATE EQUIPEMENT ***/
				#liste_equipement {width:720px; margin:0 auto;}
					#liste_equipement li {display:block; width:240px; float:left; padding-bottom:20px;}
						#liste_equipement li a {color:#333;}
						#liste_equipement li a:hover {color:#DB002F;}
						#liste_equipement li img {margin-bottom:3px; width:198px; display:block; margin:auto;}
						#liste_equipement li p { text-align:center; padding:0 20px; font-size:11px;}
				.h1_rel_left {position:relative; left:-20px;}	
				
				
				/***  SHOWROOM FINITIONS ***/
				.showroom_finitions{margin-top:20px;}
					.showroom_finitions_bloc{width:762px;margin-top:14px;padding-bottom:14px;background:url(border_bottom.gif) bottom left repeat-x;overflow:hidden;}
						.showroom_finitions_bloc_content{width:760px;border:1px solid #eaeaea;background-color:#FFFFFF;padding-bottom:5px;}
							.showroom_finitions_bloc .bloc_visuel{width:337px;float:left;position:relative;overflow:hidden;}
								.showroom_finitions_bloc .bloc_visuel img{display:block;}
								.showroom_finitions_bloc .bloc_visuel .titre{position:absolute;top:15px;left:0px;font-size:14px;color:#3d3d3d;min-height:18px;height:auto !important;height:18px;border-left:2px solid #db002f;background-color:#FFFFFF;padding:4px 0px 3px 10px;width:281px;}	
							.showroom_finitions_bloc .txt{width:237px;float:left;padding:10px 0px 0px 12px;background-color:#FFFFFF;line-height:12px;overflow:hidden;}
								.showroom_finitions_bloc .txt .txt_titre{color:#1c1c1c;font-size:10px;margin-bottom:10px;}
								.showroom_finitions_bloc .txt .txt_cat{color:#1c1c1c;font-size:10px;}
								.showroom_finitions_bloc .txt ul{overflow:auto;height:165px;}
								.showroom_finitions_bloc .txt ul.deplie{height:310px;}
									.showroom_finitions_bloc .txt ul li{background:url(fleche3.gif) left center no-repeat;padding-left:8px;}
								.showroom_finitions_bloc .txt .txt_lien{color:#1c1c1c;font-size:10px;text-transform:uppercase;padding-left:70px;padding-top:15px;}
									.showroom_finitions_bloc .txt .txt_lien a{color:#1c1c1c;background:url(fleche2.gif) left center no-repeat;padding-left:8px;}
							.showroom_finitions_bloc .infos{width:145px;float:left;padding:10px 0px 0px 15px;color:#6b6b6b;text-transform:uppercase;}
								.showroom_finitions_bloc .infos .prix{color:#1c1c1c;font-size:15px;font-weight:bold;}
									.showroom_finitions_bloc .infos .prix .prix_taxe{font-size:9px;}
								.showroom_finitions_bloc .infos a.a_valider{display:block;width:110px;margin-bottom:5px;}
				/***************************/
				
				.bloc_main{background-color:#FFFFFF;padding:0px 7px 10px 8px;width:777px;}
					.nav_actu{background:url(border_bottom.gif) left bottom repeat-x;padding-bottom:10px;margin-bottom:10px;}
						.nav_actu select{width:165px;}
						.nav_actu input,select{vertical-align:middle;}
					.bloc_main h2{background:none;color:#1c1c1c;font-size:14px;}
					.bloc_main h3{color:#000000;font-size:10px;text-transform:uppercase;margin-top:-10px;}
					.nav_actu .date{float:left;text-transform:uppercase;margin-bottom:-5px;}
					.nav_actu .a_valider{float:right;margin-bottom:-5px;}
						
				/*** TEMPLATE TC1 ***/
					.article{width:777px;background:url(border_bottom.gif) left bottom repeat-x;padding-bottom:15px;margin-bottom:20px;}
						.article .texte{width:375px;float:left;font-size:11px;line-height:13px;}
							.article .texte p{background:url(border_bottom.gif) left top repeat-x;padding-top:15px;margin-top:15px}
							.article .texte p.firstchild{background:none;padding-top:0px;margin-top:0px;}
						.article .visuels{width:370px;float:right;}
							.article .visuels .bloc_image{margin-bottom:10px;}
							.bloc_image{width:370px;}
								.bloc_image img{display:block;width:370px; }
								.bloc_image p{background-color:#333; color:#fff; font-size:10px;padding:2px 5px 2px 5px;line-height:11px;}
					.article_galleries{width:795px;margin-right:-18px;}
						.article_galleries .bloc_image{width:370px;float:left;margin-right:9px;margin-bottom:12px;}
				/********************/
				
				/*** FINANCEMENT ***/
				.financement{width:777px;padding-top:15px;}
					.financement .texte{width:497px;float:left;font-size:11px;color:#000000;}
						.financement .texte img{display:block;margin-bottom:15px;}
						.financement .texte p{background:url(border_bottom.gif) left bottom repeat-x;padding-bottom:10px;margin-bottom:10px;line-height:13px;}
							.financement .texte p img{margin-top:10px;margin-bottom:0px;}
						.financement .texte p.txt_mentions{background:none;padding-bottom:0px;font-size:9px;}
					.financement .encart{width:252px;float:right;background-color:#f5f5f5;padding:10px 10px 0px 10px;font-size:10px;}
						.financement .encart p{margin-bottom:12px;}
						.financement .encart p span.titre{color:#1c1c1c;display:block;margin-bottom:10px;}		
					.financement .visu_finacement img{width:496px; height:290px;}	
					.financement .verbatim1 {width:273px; height:36px;}
					.financement .verbatim2 {width:496px; height:32px;}
					
				/*******************/
				
				/*** TEMPLATE TC5 ***/
				.tc5{width:777px;font-size:11px;}
					.tc5 .entete{width:100%;margin-bottom:25px;padding-bottom:20px;background:url(border_bottom.gif) left bottom repeat-x;}
						.tc5 .entete img{display:block;margin-bottom:12px; height:471px; width:777px;}
						.tc5 .entete p{line-height:12px;}
					.tc5 .encart{width:777px;margin-bottom:25px;padding-bottom:15px;background:url(border_bottom.gif) left bottom repeat-x;}
						.tc5 .encart .content{width:auto;padding-bottom:10px;}
							.tc5 .encart .content .titre{color:#6b6b6b;font-size:14px;text-transform:uppercase;margin-bottom:17px;}
							.tc5 .encart .content p{line-height:14px;}
						.tc5 .encart .visuel{width:332px; float:right;overflow:hidden;margin-left:10px;padding-bottom:10px;}
						  .mur .bloc_image img, .mur .bloc_image{width:384px;}
				/********************/
				
				/*** TEMPLATE TC3 ***/
				.tc3{width:777px;}
					.tc3 .ligne_actu{width:777px;font-size:11px;margin-bottom:12px;padding-bottom:2px;background:url(border_bottom.gif) left bottom repeat-x;}
						.tc3 .ligne_actu .visuel{width:277px;float:left;}
						.tc3 .ligne_actu .content{width:480px;float:left;padding-top:5px;padding-right:20px;padding-bottom:10px;}
							.tc3 .ligne_actu .titre{font-size:12px;color:#1c1c1c;text-transform:uppercase;}
							.tc3 .ligne_actu .date{font-size:10px;}
							.tc3 .ligne_actu .texte{padding-top:20px;line-height:12px;}
						.tc3 .ligne_actu .lien{clear:both;height:10px;position:relative;}
							.tc3 .ligne_actu .lien a{position:absolute;top:-10px;right:20px;}
						
				/********************/
				
				/*** TEMPLATE TC6 ***/
				.tc6{width:777px;}
					.tc6 .ligne_article{width:777px;font-size:11px;margin-bottom:15px;padding-bottom:12px;background:url(border_bottom.gif) left bottom repeat-x;}
						.tc6 .ligne_article .visuel{width:394px;float:left;}
						.tc6 .ligne_article .content{width:363px;float:left;padding-top:5px;padding-right:20px;}
							.tc6 .ligne_article .titre{font-size:12px;color:#1c1c1c;text-transform:uppercase;line-height:14px;}
							.tc6 .ligne_article .date{font-size:10px;}
							.tc6 .ligne_article .texte{padding-top:20px;line-height:12px;}
				/********************/
				
				
				/*** PLAN DU SITE ***/
				.plan_site{
				background: #fff;
				}
				
				.bloc_plan_site{
				background: #fff;
				height: auto;
				}
					.bloc_plan_site a{color: #333;}
					.bloc_plan_site a:hover{color: #000000;}
					
					.bloc_navigation{
					padding-bottom:20px;
					margin-bottom:20px;
					}
				
						.navigation{
						width:188px;
						padding-top:22px;
						float: left;
						}
						
							.niveau1 ul{
							width:188px;
							}
						
							.niveau1 li{
							color: #1c1c1c;
							background: url(fleche4.gif) left 2px no-repeat;
							padding: 0 0 5px 10px;
							line-height:8px;
							}
							
							.niveau1 li a{
							color: #1c1c1c;
							line-height:8px;
							}
							
							.niveau2 ul{
							width:188px;
							}
							.niveau2 li{
							background: url(fleche5.gif) left 6px no-repeat;
							margin-left: 10px;
							padding: 3px 0;
							}
							.niveau2 li a{
							padding-left: 10px;
							line-height:8px;
							}
					
						
					.separation_navigation{width:649px; height: 20px;background:url(border_bottom.gif) left bottom repeat-x; clear:both;}	
						
				
				
				.bloc_options{min-height: 192px}
				.options_C5{text-transform:uppercase; background:#fff; height: 14px; padding:10px;}
				.options_img{margin-top: 10px;height: 56px;}
				.black{color: #1c1c1c; font-size:7px;}
				.red{color: #db002f; font-size:9px;}
				
				/********************/
				
				
				/*** ABONNEMENT ***/
				
				.abonnement{
				background: #fff;
				height: 100%;
				}
				.abaonnement_titre{
				color: #000000;
				font-size: 11px;
				font-weight:bold;
				padding-left: 16px;
				margin-bottom:18px;
				}
				.bloc_inscription_gauche{
				margin:10px 0 0 15px;
				width: 360px;
				padding-right: 20px;
				float: left;
				height: 100%;
				}
				.inscription_content{
				width: 198px;
				float: left;
				margin-bottom: 30px;
				}
				
				.inscription_content2{
				width: 162px;
				float: left;
				margin-bottom: 30px;
				}
				
					.visuel{
					width: 76px;
					float: left;
					}
					
					.txt{
					width: 94px;
					float: left;
					padding-top: 5px;
					}
					.txt2{
					width: 84px;
					float: left;
					padding-top: 5px;
					}
					
					.txt3{
					width: 84px;
					float: left;
					}
					
					.business_txt{
					padding-left: 5px;
					font-size: 11px;
					}				
						.business_txt .grey2{font-weight:bold;}
					
					.desabonnement_txt{
					font-size: 10px;
					}
						.desabonnement_txt a{text-decoration:underline;}
						.desabonnement_txt a:hover{text-decoration:none;}
					
					.a_visualiser{
					background:url(bt_picto.gif) 2px 1px no-repeat;
					padding:1px 8px 0px 14px;
					margin:0px;height:10px;
					font-size:7px;
					color:#000000;
					text-transform:uppercase;
					cursor:pointer;
					}
				
				.bloc_inscription_droit{
				width: 338px;
				float: left;
				height: 100%;
				}
				.bloc_inscription_droit .nom{width:336px;}
				.label_inscription{padding:4px 0 0 2px;}
				.space{padding-top: 10px;}
				.tleft{text-align: left;}
				.tright{text-align: right;}
				.donnees_perso{text-align: left;margin-top: 20px;}
				
				.grey{color: #6b6b6b;}
				.grey2{color: #1c1c1c;}
				
				/********************/
				
				
				/*** DESABONNEMENT ***/
				
				.desabonnement{
				background: #fff;
				height: 350px;
				}
				.desabonnement_titre{
				color: #000000;
				font-size: 11px;
				font-weight:bold;
				padding-left: 16px;
				margin-bottom:18px;
				}
				
				.bloc_desabonnement{
				height: 300px;
				margin-top: 30px;
				}
				
				
				.desinscription_content{
				width: 220px;
				float: left;
				margin: 0 0 35px 20px;
				}
				
				.desabonnement .nom{width:340px;}
				.desinscription{padding-left: 563px}
				
				/********************/
				
				/*** CONFIG LIEN ***/
				.config_lien{width:754px;background:url(border_left.gif) 357px 0px repeat-y;color:#6b6b6b;font-size:10px;}
					.config_lien ul{width:377px;float:left;display:block;}
						.config_lien ul li{background:url(fleche3.gif) left center no-repeat;padding-left:12px;line-height:15px;}
							.config_lien ul li a{color:#333333;}
				/*******************/
				
				/******* FAQ *******/
				.faq{padding-bottom:15px;}
					.faq h2{background:none;padding-top:15px;}
					.faq_theme{margin-bottom:18px;}
					.faq h3{color:#333333;font-size:12px;font-weight:normal;background-color:#f5f5f5;padding:3px;}
					.faq .txt_faq{font-size:11px;color:#333333;padding:7px;margin-bottom:10px;}
					.faq_sousmettre{color:#333333;font-size:11px;background-color:#f5f5f5;padding:7px;}
						.faq_sousmettre .texte{margin-bottom:7px;}
						.faq_sousmettre #question_faq{width:510px;margin-right:10px;}
						.faq_sousmettre .mention_faq{margin-top:7px;font-size:10px;}
				
				/*******************/
				
				
				/*** PAGE TAMPON ***/
				.tampon{font-size:11px;padding:20px;}
					.tampon .texte{margin-bottom:20px;}
					.tampon .champs{margin-bottom:20px;padding-left:300px;}
				/*******************/
				
				/*** PAGES ARBRE DECISION ***/
				fieldset{padding:0;margin:0;border:0 none;}
				.arbre_decision{width:777px;font-size:11px;}
					.arbre_decision .formulaire{width:462px;float:left;margin-right:18px;background-color:#f5f5f5;padding:15px 0;color:#000000;}
						.arbre_decision .formulaire fieldset{width:415px;margin:0 auto 7px auto;background:url(border_bottom.gif) left bottom repeat-x;padding-bottom:7px;display:block;}
							.arbre_decision .formulaire fieldset p{margin-bottom:5px;}
							.arbre_decision .formulaire fieldset label, .arbre_decision .formulaire fieldset input{vertical-align:middle;}
							.arbre_decision .formulaire fieldset table td{padding-bottom:4px;}
								.arbre_decision .formulaire fieldset table td input{margin-right:5px;}
						.arbre_decision .formulaire .bloc_submit{width:415px;margin:0 auto;padding-top:5px;height:14px;}
							.arbre_decision .formulaire .bloc_submit .input_submit{float:right;}
							.arbre_decision .formulaire .bloc_submit .bt_recommencer{float:left;}
					.arbre_decision .visuel{width:297px;float:left;color:#000000;}
						.arbre_decision .visuel img{display:block;}
						.arbre_decision .visuel .content{width:277px;margin:0 auto;padding:10px;background-color:#f5f5f5;}
							.arbre_decision .visuel .resultat{font-size:13px;}
				/****************************/
																
			/* right */
			.right{width:150px;float:left;padding:0px 1px 0px 0px;}
				.right .bloc{border:1px solid #f5f5f5;padding:10px 0px 15px 0px;background-color:#FFFFFF;text-align:center;text-transform:uppercase;margin-bottom:15px;}
					.right .bloc a:hover{text-decoration:none;}
				.right .push{margin-bottom:7px;display:block;}
				.right div.push{border:1px solid #f5f5f5;padding:7px 8px 7px 8px;}
					.right div.push a{color:#1c1c1c;text-transform:uppercase;font-size:9px;}
					.right div.push a:hover{text-decoration:none;}
			
			.flash_wide{width:953px;height:89px;background:url(bkg_filet.gif) left bottom repeat-x;border:1px solid #e9e9e9;position:relative;margin-bottom:15px;}
				.flash_wide .flash_wide_left{width:425px;text-align:right;text-transform:uppercase;font-size:10px;padding-top:30px;}
					.flash_wide .flash_wide_left span{color:#cc002c;font-size:16px;font-weight:bold;}
				.flash_wide a{position:absolute;left:452px;top:-13px;display:block;background:url(logo_flash_wide.jpg) left top no-repeat;width:160px;height:57px;padding:45px 0px 0px 62px;text-align:center;font-size:14px;}
				.flash_wide a:hover{text-decoration:none;}
					.flash_wide a span{color:#db002f;font-size:10px;}
			
			/* HP Version */
			.global_hp .flash_wide{width:953px;height:89px;background:none;border:none;position:relative;margin-bottom:15px; }
				.global_hp .flash_wide .flash_wide_left{width:425px;text-align:right;text-transform:uppercase;font-size:10px;padding-top:40px; margin-left: 200px;}
					.global_hp .flash_wide .flash_wide_left span{color:#cc002c;font-size:16px;font-weight:bold;}
				.global_hp .flash_wide a{position:absolute;left:290px;top:25px;display:inline;background:url(logo_flash_wide2.jpg) right top no-repeat;width:350px;height:57px;padding:45px 0px 0px 62px;text-align:center;font-size:14px;}
				.global_hp .flash_wide a:hover{text-decoration:none;}
					.global_hp .flash_wide a span{color:#db002f;font-size:10px;}
			
			/* home */
			.home{width:971px;margin-left:-16px;}
			.global_hp .home{ margin-top: 250px; margin-left: 30px; }
				.bloc_home_colonne{width:323px;height:398px;float:left;overflow:hidden;}
					.bloc_home{border:1px solid #eaeaea;float:left;position:relative;margin:0px 0px 16px 16px;display:inline;}
					.bloc_home:hover{text-decoration:none;}
					.bloc_home1{width:305px;height:181px;}
					.bloc_home2{width:305px;height:380px;}
					.bloc_home3{width:951px;height:185px;}
					.bloc_home4{width:628px;height:380px;}
					.bloc_home_light{width:305px;height:50px; border: 0;}
						.bloc_home img{display:block;}
						.bloc_home .titre{display:block;position:absolute;top:18px;left:0px;font-size:14px;color:#3d3d3d;min-height:18px;height:auto !important;height:18px;border-left:2px solid #db002f;line-height:95%;}
						.bloc_home4 .titre{min-height:32px;height:auto !important;height:32px;font-size:28px;}
							.bloc_home .titre_bkg{display:block;width:100%;height:100%;background-color:#FFFFFF;-moz-opacity:0.5;filter:alpha(opacity=50);opacity:0.5;-Khtml-Opacity:0.5;position:absolute;top:0px;left:0px;z-index:0;}
							.bloc_home .titre_txt{display:block;padding:3px 28px 3px 5px;position:relative;z-index:100;text-transform:uppercase;}
							.bloc_home4 .titre_txt{padding-top:4px;padding-bottom:4px;}
			
			
			.page_noeud{width:964px;margin-left:-9px;}
				.bloc_noeud{display:block;border:1px solid #eaeaea;float:left;position:relative;margin:0px 0px 12px 9px;display:inline;width:230px;height:137px;overflow:hidden;}
				.bloc_noeud:hover{text-decoration:none;}
					.bloc_noeud .titre{display:block;position:absolute;top:18px;left:0px;font-size:14px;color:#3d3d3d;min-height:14px;height:auto !important;height:14px;border-left:2px solid #db002f;line-height:80%;}
						.bloc_noeud .titre_bkg{display:block;width:100%;height:100%;background-color:#FFFFFF;-moz-opacity:0.5;filter:alpha(opacity=50);opacity:0.5;-Khtml-Opacity:0.5;position:absolute;top:0px;left:0px;z-index:0;}
						.bloc_noeud .titre_txt{display:block;padding:2px 15px 2px 5px;position:relative;z-index:100;text-transform:uppercase;font-size:11px;}
				
				
				
	
	/*** FOOTER ***/
	
	.footer{
		min-width:100%;
		width:auto !important;
		width:100%;
		height:53px;
		position:absolute;
		bottom:0px;
		left:0px;
		background:url(bkg_footer.gif) bottom left repeat-x;
	}
	
	.footer_prehome{background:none;border-bottom:4px solid #c7002a;}
	
		.footer_content{		
			width:955px;
			height:31px;
			position:absolute !important;
			top:0px;
			left:50%;
			margin:0 0 0 -477px !important;
			position:static;
			margin:auto;
			padding:22px 0px 0px 0px;
		}
		
			.footer table{width:880px;margin:auto;}
				.footer table td{height:26px;width:auto;vertical-align:top;padding-top:1px;}
				.footer table td.mentionslegales{color:#333333;vertical-align:middle;height:27px;}
					.footer table td.mentionslegales a{color:#333333;text-transform:none;background:none;padding-left:0px;}
					.footer table td a{display:block;color:#2e2e2e;text-transform:uppercase;font-size:9px;background:url(border_left.gif) left 0px repeat-y;padding-left:9px;}
					.footer table td a:hover{text-decoration:none;}
						.footer table td a span{display:block;color:#db002f;font-size:10px;}


.mask
{
	position:absolute;
	background-color:#000000;
	height:100%;
	left:0;
	opacity:0.5;
	top:0;
	width:100%;
	z-index:10;
	display:none;
}

.loader
{
	position:absolute;	
	width: 66px;
	height: 66px;               
    margin-left: -33px;  
    margin-top: -33px;      
    left: 50%;
    top: 50%;    
    padding: 0px;
    text-align: center;
    vertical-align: middle;    
    color:White;
}
						
	
	