body {
	background-color: #003145;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0px;
	padding: 0px;
}

#main {
	position:relative;
	top: 20px;
	position: absolute;
	left: 50%;	
	text-align: left;
	/*width: 474px;		
	margin-left:-230px;*/
	width:710px;
	margin-left:-355px;
}

#logoTopRight {
	position:absolute;	
	float:right;
	overflow:auto;
	display:none;
	top:0px;		
	/*left: 409px;
	width:65px;
	height:130px;*/
	left:630px;
	width:80px;
	height:160px;
}

#content {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	z-index:none;
	/*height:405px;*/
	height:450px;
	width:710px;
}


#contentImgCover {
	position:absolute;
	top:0px;
	left:0px;	
	z-index:10;
	display:none;
	background-color:#000000;	
	/*width:474px;
	height:300px;*/
	width:710px;
	height:450px;
}
	

#contentImageAnimation	{
	position:absolute;
	top:0px;
	left:0px;	
	display:none;
	z-index:10;
	overflow:hidden;
	/*width:474px;
	height:300px;*/
	width:710px;
	height:450px;	
}
	
#contentImg {
	position:absolute;
	top:0px;
	left:0px;
	z-index:5;
	overflow:hidden;
	/*width:474px;
	height:300px;*/
	width:710px;
	height:450px;
}

#contentNoJavaScript {
	position:absolute;
	top:0px;
	left:0px;	
	z-index:30;
	display:block;
	overflow:hidden;
	/*height:300px;
	width:474px;*/
	height:450px;
	width:710px;
}

#contentNoJavaScript img {
	position:absolute;
	top:0px;
	left:0px;
	display:block;
	overflow:hidden;
	/*height:300px;
	width:474px;*/
	height:450px;
	width:710px;
}

#loadingImg	{
	position:absolute;	
	left:347px;
	top:217px;
}


#navigation {
	position:absolute;
	height: 40px;
	/*top: 310px;
	width: 474px;	*/
	top:463px;
	width:710px;
}

#navigation img {
	border:none;
}

#navigation a {
	border: none;
}

#navwrap {
	height:24px;
	overflow:hidden;
}

#buttons {
	width: 474px;
	margin: 0px;
	padding: 0px;
	list-style:none;
	height: 30px;
	display:inline;
	overflow:hidden;
}

#buttons li {
	margin: 0px;
	padding: 0px;
	list-style:none;
	display: inline;
}


#buttons a {
	float:left;
	overflow:hidden;
	padding:24px 0 0 0;
	height: 0px;
	width: 80px;
	height /**/:24px; /* for IE5/Win only */
}

#buttons a:hover {
	background-position: 0 -48px;
}

#buttons a:active {
	background-position: 0 -48px;
}

#buttons #globalLI {
	float:right;
}

#auto a {
	background: url(auto.gif) top left no-repeat;
}

#moto a {
	background: url(moto.gif) top left no-repeat;
}

#marine a {
	background: url(marine.gif) top left no-repeat;
}

#atv a {
	background: url(atv.gif) top left no-repeat;
}

#globalLI a {
	background: url(global.gif) top left no-repeat;
}


#imprint {
	position:absolute;
	height:30px;
	/*top:385px;	
	width:474px;*/
	top:545px;	
	width:710px;
}

#imprint a {
	display:block;
	width:150px;
	height:24px;	
	background: url(imprint_legal_disclaimer.gif) top left no-repeat;
	/*margin-left:324px;*/
	margin-left:560px;
}

#imprint a:hover {
	background-position: 0 -48px;
}

#imprint a:active {
	background-position: 0 -48px;
}


