/* CSS Document */
/* --------------------------------------------------------------------------------------------- Remise à zéro de tous les préformatages navigateurs */

	#header * {
		padding:0;
		margin:0;
		list-style:none
	}
	/*
	body {
		font-size:62.5%;
		font-family:arial, helvetica, sans-serif;
	}
	*/
	#header a {text-decoration:none;outline:none}
	#header a:hover {text-decoration:underline}
	#header img {border:none}
	#header strong {font-weight:bold}
	#header em {font-style:italic}
	#header label {cursor:pointer}
	#header abbr, #header acronym {
	  border-bottom:1px dotted #333;
	  cursor:help
	}
	#header #leaderboardv2 {
		padding:5px 0px !important;
	}
	#header img, #header div { }
/* --------------------------------------------------------------------------------------------- Header */
	#header {
		font-size:62.5%;
		font-family:arial, helvetica, sans-serif;
	}
/* ------------------------------------------------------------------- Haut_header */
	#haut_header {
	background:url(onglet_generique.gif) no-repeat left top;
	width:1000px;
	height:101px;
	/*margin-top:10px;*/
	}
	#haut_header h1 img {
		float:left;
		margin-top:15px;
		/*
		width : 376px;
		height : 45px;
		*/
	}
/* -------------------------------------------------- les autres sites */
	.pubtop1{
	
	}
	#haut_header #electron {
		/*position:absolute;
		left:380px;*/
		float:left;
		margin:15px 10px 0 60px;
	}
	#haut_header #electron li {
		display:inline;
		font-size:1.2em;
		/*font-size:1.6em;*/
		padding-right:20px;
		position:relative;
	}
	#haut_header #electron li span {
		font-size:1.3em;
	}
	#haut_header #electron li a {
		display:inline-block;
		padding:0 14px 8px 0;
	}
	#haut_header #electron li a:hover {
		text-decoration:none;
	}
	#haut_header #electron #sites_actu a {
		color:#00a7ee;
		/*background:url(../images/puce_actu.gif) no-repeat bottom right;*/
		background-image:url(puce_actu.gif);
		background-position:bottom right;
		background-repeat:no-repeat;
	}
	#haut_header #electron #sites_loisir a {
		color:#ff6e01;
		background:url(puce_loisir.gif) no-repeat bottom right;
	}
	#haut_header #electron #sites_annonce a {
		color:#e85125;
		background:url(puce_annonce.gif) no-repeat bottom right;
	}
	#haut_header #autres_sites {
		float:left;
	}
	#haut_header #autres_sites img{
		height:48px;
		margin-top:12px;
	}
/* -------------------------------------------------- les autres sites - sous-menu */
	#header #haut_header #electron .sous_menu_site {
		display : none;
		z-index : 105;
		position:absolute;
		top:20px;
		left:0;
		width:156px;
		background:url(ss_menu_top.png) no-repeat left top;
	}
	* html #header #haut_header #electron .sous_menu_site {
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/special-v2/header/ss_menu_top.png',sizingMethod='crop');
		background-image:none
		}
	#header #haut_header #electron .sous_menu_site ul {
		margin-top:17px;
		background:url(ss_menu_contenu.png) no-repeat left top;
		padding-bottom:10px;
		height:100%;
	}
	* html #header #haut_header #electron .sous_menu_site ul {
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/special-v2/header/ss_menu_contenu.png',sizingMethod='crop');
		background-image:none
		}
	#header #haut_header #electron .sous_menu_site ul li {
		display:block;
		font-size:0.9em;
		border-bottom:#c9d0d4 1px solid;
		margin:0 8px 0 6px;
		padding-right:8px;
	}
	* html #header #haut_header #electron .sous_menu_site ul li {
		width:110px;
		padding-right:0;
	}
	* html #header #haut_header #electron .sous_menu_site ul li a {
		width:134px;
	}
	#header #haut_header #electron .sous_menu_site ul li a {
		width:100%;
		color:#424b55;
		padding:4px 0 4px 10px;
	}
	#header #haut_header #electron .sous_menu_site ul li a:link,#header #haut_header #electron .sous_menu_site ul li a:visited {
		background-image:none;
	}
	#header #haut_header #electron .sous_menu_site ul li a:hover,#header #haut_header #electron .sous_menu_site ul li a:active,#header #haut_header #electron .sous_menu_site ul li a:focus {
		background:white !important;
		color:#00a6e2;
	}
	#header #haut_header #electron .sous_menu_site div {
		background:url(ss_menu_bottom.png) no-repeat left top;
		overflow:hidden;
		width:156px;
		height:10px;
	}
	* html #header #haut_header #electron .sous_menu_site div {
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/special-v2/header/ss_menu_bottom.png',sizingMethod='scale');
		background-image:none
		}
/* -------------------------------------------------- outils */
	#header #outils {
		clear:both;
		font-size:1.1em;
		overflow:hidden;
	}
	#header #outils #recherche {
		float:left;
		width:370px;
		display:inline;
		margin-left:220px;
		margin-top:10px;
	}
	#header #outils #recherche label {
		color:#FFFFFF;
		margin-right:5px;
	}
	#header #outils #recherche #champ {
		width:200px;
		border:#017cb1 1px solid;
		padding:2px;
		font-size:1.1em;
		color:#999999;
	}
	#header #outils #recherche #go {
		background:#009ee0;
		border:none;
		padding:2px;
		font-size:1.1em;
		color:#FFFFFF;
	}
	#header #outils ul {
		float:right;
		padding-top:8px;
	}
	#header #outils ul li {
		display:inline;
		color:#FFFFFF;
		float:left;
		padding-right:5px;
		line-height:26px;
	}
	#header #outils ul li a {
		color:#FFFFFF;	
	}
/* -------------------------------------------------- pub */
	#header .pub {
		background:#C5C0C3 none repeat scroll 0 0;
		padding:5px 0;
		text-align:center;
		width:1000px;
		z-index:-10000;
	}
	#header .pub img {
		display:block;
		margin:0;
		padding:0;
		border:0;
	}
/* ------------------------------------------------------------------- Menu */	
	#header #menu {
		clear:both;
		float:left;
		background:url(background_menu.gif) no-repeat left top;
		height:30px;
		width:1000px;
		margin-bottom:5px;
	}
	#header #menu li {
		display:block;
		position:relative;
		float:left;
		padding:7px 16px;
		border-right:#1e568f 2px solid;
		font-size:1em;
	}
	#header #menu li a {
		color:#FFFFFF;
		font-size:1.3em;
	}
	#header #menu li a:hover {
		text-decoration:none;
	}
/* -------------------------------------------------- sous_menu */
	#header #menu li ul {
		display:none;
		position:absolute;
		background-color:#1e568f;
		font-size:0.8em;
		width:180px;
		top:28px;
		left:0;
		padding:8px 5px;
		font-size:0.8em;
		/*font-weight:bold;*/
		color:black;
	}
	#header #menu li ul li {
		float:none;
		padding:0;
		color:#009EE0;
		text-transform:uppercase;
		padding:0 0 4px 0;
		line-height:1;
		border:0;
		font-size:1.2em;
	}
	#header #menu li ul li a {
		color:#FFFFFF;
		display:block;
		text-transform:none;
		padding:0;
		/*padding:0px 0 0px 8px;*/
		/*font-weight:normal;*/
	}
	#header #menu li ul li a:hover {
		color:#FFFFFF;
		background-color:#00a6e2;
	}
	#header h1{
		/*display:none;*/
		position:relative;
	}
	#header #haut_header h1{
		display:block;
		float:left;
	}
	
	#header h5{
		display:none;
	}
	#header #haut_header h5{
		display:inline;
	}
	#header h2{
		background:transparent url(titre_cinema.jpg) no-repeat scroll 0 0;
		color:white;
		font-family:trebuchet MS;
		font-size:5em;
		font-weight:400;
		height:54px;
		padding-left:220px;
		padding-top:0;	
	}
	#header h2 a {
		color:white;
		text-transform:none;
	}
