/* style pour imprimer correctement */

@page { margin: 10%; }

body {
  background: white;
  font-size: 12pt;
  font-family: 'Times New Roman', Times, Sylfaen, Georgia, Didot, serif;
  line-height:150%;
  color: black;
}
acronym:after {
  content: ("attr(title)");
  font-variant: small-caps;
}
h1 {
  font-size: 30pt;
}
h2 {
  font-size: 20pt;
}
h3 {
  font-size: 15pt;
}
a:link, a:visited {
  color: #55555;
  background: transparent;
  font-weight: bold;
  text-decoration: underline;
}
blockquote, q {
  font-style:italic;
  quotes:'\0000ab\0000a0' '\0000a0\0000bb' '\00201c\0000a0' '\0000a0\00201d';
}
hr{
  display:none;
}

html.noted a:link:after, html.noted a:visited:after {
  content: "";
  content: "" !important;
}

#content-left {width: 100%; margin: 0 auto;}
#content-right, #content-middle, #editions, #headerv2, #header, #outils-partager-abonner, #leaderboardv2, #footer, #footerliens, #calendrier, #right,#footersearch, #footerliens, #footer-static  {display: none;}

#footer_bas_maville, #footer_bas_autres_sites, .footer_bas , #outils, .pub , #forums_reactions_wrapper, #forums_reagir_wrapper {display: none;}
.compas, .incipit, .pt_article , .adsense {display: none;}