/***********************************************************************************************************

* Website :		RATP
* Filename :		content.css
* Description :		css content
* Version :		march 2009

==STRUCTURE=============================================================

* Page width : 		960px
* Number of columns : 	3

__header			Header definition
__nav_main		Global navigation
__main			Plum content
__content		Page information
__aside			Page note

***********************************************************************************************************/

.screen			{position:relative; margin:0 auto; width:960px;}



/************************************
__HEADER
*************************************/
.header 			{}
.header .logo		{float:left;}
.header .baseline		{float:left;}
.header .nav_main		{float:left; padding:30px 0 0 12px;}
.header .nav_main ul li	{display:inline;}
.header .nav_main ul li a	{padding:0 9px 0 13px; background:url(http://www.gfi.fr/pop/img/puce_verte.gif) 0 2px no-repeat; color:#1a171b;}
.header .nav_lang		{float:right; padding:30px 20px 0 0;}
.header .nav_lang ul li	{display:inline;}


/************************************
__MAIN
*************************************/



/************************************
__CONTENT
*************************************/

/*alert niveau 2*/
.alert_niveau_2 			{
	position:absolute; 
	top:0; 
	left:0; 
	overflow-y:auto; 
	padding: 0;
	width: 100%; 
	height: 100%; 
	background:#fff; 
	z-index:10;
	text-align: justify;}
.alert_niveau_2 .close		{  padding-right: 1px; }
.alert_niveau_2 h1			{padding: 0; color:#0600a0; text-align:center;}
.alert_niveau_2 .padder		{padding:0; margin:0;}
.alert_niveau_2 h2			{margin:0; padding:0;  font-size:1em;}
.alert_niveau_2 p			{margin:0 0; padding:0;}


.content				{padding:10px 10px 0;}

/*animation*/
.content .animation			{position:relative; min-height:299px;}
* html .content .animation		{height:299px; margin-bottom:10px;}
*+html .content .animation		{margin-bottom:10px;}
.content .animation_int		{overflow:hidden; width:939px; min-height:299px;}
* html .content .animation_int		{height:299px;}
.content .animation ul 		{margin:0; padding:0;}
.content .animation ul li 		{position:relative;margin:0; padding:0;}
.content .animation ul li .anim_legende	{position:absolute; bottom:20px; left:13px; margin:0; padding:0; float:left; height:23px; overflow:hidden; background:url(http://www.gfi.fr/pop/img/anim_legende_left.gif) 0 0 no-repeat;}
.content .animation ul li .anim_legende p	{float:left; margin:0; padding:0 30px 0 8px; height:23px;background:url(http://www.gfi.fr/pop/img/anim_legende_right.gif) 100% 0 no-repeat; font-size:10px;}
.content .animation ul li .anim_legende p a	{float:left;padding:4px 0 5px; background:#fff; color:#000; text-decoration:none;}
.content .nav_anim			{position:absolute; bottom:13px; right:15px; display:none; }
.content .nav_anim ul 		{margin:0; padding:0;}
.content .nav_anim ul li		{display:inline;margin:0; padding:0;}

/*news*/
.content .news 			{color:#1a171b; font-size:10px; font-weight:bold;}
*+html .content .news 		{padding:0 0 15px 0;}
* html .content .news 		{padding:0 0 15px 0;}
.content .news h2			{float:left; width:125px; margin:0 0 0 0; padding:0 5px 0 0; background:url(http://www.gfi.fr/pop/img/pipe_gris.gif) 100% 0 no-repeat; font-size:10px;}
.content .news h2 span		{padding:0 0 1px 20px; background:url(http://www.gfi.fr/pop/img/ico_info.gif) 0 0 no-repeat;}
.content .news p			{float:right; width:795px;}
.content .news a			{color:#1a171b;}
.content .news ul			{padding:0;}
.content .news li			{float:left;}

/*3 block  */
.content .block 			{float:left; margin:0 4px 17px 0; width:250px; background:url(http://www.gfi.fr/pop/img/block_bg_middle.gif) 0 0 repeat-y;}
.content .block_int			{background:url(http://www.gfi.fr/pop/img/block_top_middle.gif) 0 0 no-repeat;}
.content .block h2 			{margin:0; padding:0; background:url(http://www.gfi.fr/pop/img/block_h2_bg_middle.gif) 0 100% no-repeat; color:#333; font-size:17px; font-weight:normal;}
.content .block h2 span		{display:block; padding:8px 10px 8px 35px; background:url(http://www.gfi.fr/pop/img/rond_rouge.gif) 8px 5px no-repeat;}
.content .block .padder		{min-height:80px; padding:14px 10px 0px 10px; background:url(http://www.gfi.fr/pop/img/block_ligne_middle.gif) 0 100% no-repeat;}
* html .content .block .padder	{height:80px;}

.content .block_left  		{float:left; margin:0 5px 17px 0; width:250px;}
.content .block_left .block 		{float:none; width:250px; margin:0; }

.content .block .date		{display:block; padding:0 0 2px 10px; background:url(http://www.gfi.fr/pop/img/arrow_gray.gif) 0 4px no-repeat; color:#4d4d4d; font-size:10px;}
.content .block a			{color:#4d4d4d; font-weight:bold; }
.content .block .link		{padding:5px 10px 8px 0; background:url(http://www.gfi.fr/pop/img/block_link_bg_middle.gif) 0 100% no-repeat; font-size:9px; font-weight:bold;  text-align:right;}
.content .block .link a		{padding:0 0 5px 17px; background:url(http://www.gfi.fr/pop/img/puce_rouge.gif) 0 0 no-repeat; color:#e0001a;}

/*voyageurs*/
.content .block_left  .block.voyageurs		{margin:0 0 7px 0;}
.content .block.voyageurs .padder		{padding:24px 10px 46px;}
.content .block.voyageurs ul			{margin:0; padding:0 0 0 2px;}
.content .block.voyageurs ul li		{float:left; margin:0 12px 0 0; padding:0; width:48px;}
.content .block.voyageurs ul li.plan		{margin:0 0 0 0;}
.content .block.voyageurs ul li a		{display:block; padding:50px 0 0 0; width:48px; background:url(http://www.gfi.fr/pop/img/ico_plan.gif) 50% 0 no-repeat; color:#666; font-size:9px;text-align:center; font-weight:normal;}
.content .block.voyageurs ul li.lignes a		{background-image:url(http://www.gfi.fr/pop/img/ico_lignes.gif);}
.content .block.voyageurs ul li.horaires a	{background-image:url(http://www.gfi.fr/pop/img/ico_horaires.gif);}
.content .block.voyageurs ul li.trafic a		{background-image:url(http://www.gfi.fr/pop/img/ico_trafic.gif);}

/*espace*/
.content .block.espace			{background:url(http://www.gfi.fr/pop/img/block_espace_bottom.gif) 0 100% no-repeat;}
.content .block.espace .padder		{padding:5px 8px 13px 60px; min-height:10px;  background:url(http://www.gfi.fr/pop/img/ico_espace.gif) 3px 3px no-repeat;}
* html .content .block.espace .padder		{height:10px;}
.content .block.espace .padder ul 		{margin:0; padding:0;}
.content .block.espace .padder ul li		{margin:0 0 0 0; padding:5px 0 0 13px; background:url(http://www.gfi.fr/pop/img/puce_grise.gif) 0 8px no-repeat; font-size:10px;}
.content .block.espace .padder ul li a		{color:#666;}

/*iframe*/
.content .block.iframe		{width:469px;background-image:url(http://www.gfi.fr/pop/img/block_bg_iframe.gif);}
.content .block.iframe		{margin-right:0;}
.content .block.iframe .block_int	{background-image:url(http://www.gfi.fr/pop/img/block_top_big.gif);}
.content .block.iframe h2 		{background-image:url(http://www.gfi.fr/pop/img/block_h2_bg_big.gif);} 
.content .block.iframe h2 span	{background-image:url(http://www.gfi.fr/pop/img/rond_bleu.gif);}
.content .block.iframe .padder	{height:235px; padding:5px 5px 0 5px; background:url(http://www.gfi.fr/pop/img/block_bottom.gif) 0 100% no-repeat;}
* html .content .block.iframe .padder	{padding-bottom:5px;}

/*actualite*/
.content .block.actualite		{float:right;width:212px; margin-right:0; background-image:url(http://www.gfi.fr/pop/img/block_bg.gif);}
.content .block.actualite .block_int	{background-image:url(http://www.gfi.fr/pop/img/block_top.gif);}
.content .block.actualite h2 		{background-image:url(http://www.gfi.fr/pop/img/block_h2_bg.gif);} 
.content .block.actualite h2 span	{background-image:url(http://www.gfi.fr/pop/img/rond_rose.gif);}
.content .block.actualite .padder	{min-height:199px; background-image:url(http://www.gfi.fr/pop/img/block_ligne.gif); color:#4d4d4d;}
* html .content .block.actualite .padder	{height:199px;}
.content .block.actualite .padder a	{font-weight:normal;}
.content .block.actualite .padder .date	{font-weight:normal;}
.content .block.actualite .padder h3,
.content .block.actualite .padder .titre,
.content .block.actualite .padder .titre a	{font-size:1em;font-weight:bold;}
.content .block.actualite .link		{background-image:url(http://www.gfi.fr/pop/img/block_link_bg.gif);} 
.content .block.actualite .link a	{padding:0 0 0 13px; background:url(http://www.gfi.fr/pop/img/puce_rose.gif) 0 2px no-repeat;color:#e2007a;} 


/************************************
__ASIDE
*************************************/


/************************************
__FOOTER
*************************************/
.footer 				{padding:0 0 10px 0; color:#4d4d4d; font-size:9px; text-align:center;}
.footer ul li			{display:inline; padding:0 5px 0 12px; background:url(http://www.gfi.fr/pop/img/moins_gris.gif) 0 5px no-repeat;}
.footer ul li.first			{padding:0 5px 0 0; background:none;}
.footer ul li a,
.footer ul li a:hover,
.footer ul li a:focus,
.footer ul li a:active			{color:#4d4d4d;}