/*
File: hdwc_hd_overlay.css
Description: Styles used to generate YUI overlay component
*/	

.yui-skin-sam .yui-panel .hd {
	position:relative;
    filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity:0;   
    top:0px;
    left:0px;     
    border:0px;
    margin:0px;
    padding:0px;
    height:50px;
    z-index:1000;   
}

.yui-skin-sam .yui-panel .bd {	    
    background-color:#141414;
    color:#FFFFFF;
    border:0px;    
    padding:0px;
    margin: -50px 0px 0px 0px;    
	position:relative;     
}

.yui-skin-sam .container-close {
	position:absolute;
    background:transparent url(icon_close_panel.gif) no-repeat left top;
	height:18px;
    width:18px;	
	right:14px;
	top:14px;	
    z-index:1200;
    border:0px;
    cursor:hand;
}

#hdwcOverlay_c {
	background-color:#666666;
	margin:10px;
    padding:0px;
    border:0px;    
}

#hdwcOverlay {
	background-color:#141414;
	border:0px;
	margin:10px;
    padding:0px;
    overflow:hidden;          
}

.hdwcOverlayIframe {	
	background-color:#141414;
    border:0;	
    overflow:hidden;   	
}