/* INT home.html CSS */

/* Misc styles */

#HD_page_body {
left:0;
}

.bottomPromoShell {
margin-bottom:28px;
}

#mainDiv {
position: relative;
margin-bottom:25px;
}


/* Quick Start Nav Styles */


div#quickstartNavContainer {
background:transparent url(rule.gif) repeat-x top left;
padding:14px 0 0 0;
margin:8px 0 0 0;
}

div#quickstartNavContainer div.quickstartNavItem {
display:inline;
}

div#quickstartNavContainer .quickstartNavItem a {
text-transform:uppercase;
font-size:13px;
color:#CCCC99;
text-decoration:none;
font-weight:bold;
}

div#quickstartNavContainer div.quickstartNavItem a.quickstart{
background:transparent url(vertBar.gif) no-repeat top right;	
padding:0 10px 0 0;
margin-left:20px;
}

div#quickstartNavContainer div.quickstartNavItem a.whatsNew{
background:transparent url(vertBar.gif) no-repeat top right;	
padding-right:10px;
}

/* DIP area styles */

#home_source p.pBottomPadding {
padding: 3px 0 15px 14px;	
width: 501px;
}



h5.upperRightPromoTxt a.dipLink {
color:#CCCC99;	
}

/* Quick Start styles */

.quickstartSubSection h3, h2.sectionTitle {
text-transform:uppercase;	
}


/* What's New styles */

.NewsSectionLeftColumn h2, .NewsSectionRightColumn h5 {
text-transform:uppercase;	
}

/* Bikes styles */

.rightColumn h3 {
text-transform:uppercase;
}