﻿/* CSS Document */
@media screen {
body {
	background: #fff;
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
}
.clear {
	clear:both;
}
a img {
	border:0px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.sep_hr {
    border: 0;
    height: 5px;
    margin: 0 12px;
    padding: 0;
	background: transparent url(pointille_h.gif) center center no-repeat;
}

/*========= Header ========*/

#header {
	width: 960px;
	height: 161px;
	padding:0px;
	margin: 0 auto 15px auto;
}

		
	/*========= Header corps ========*/
	#header_corps {
	    padding-top: 20px;
        height: 155px;
	}
		#header_corps img {
			border: 0;
			margin: 0;
			padding: 0;
		}

	/*========= Menu principal ========*/
	#menu_principal {
		margin: 0;
		padding: 0;
	}
		#menu_principal img {
			border: 0;
			margin: 0;
			padding: 0;
		}



		#menu_principal a {
			border: 0;
			margin: 0;
			padding: 0;
		}



/*========= Partie principale (main) ========*/

#main {
	width: 960px;
	padding: 0;
	margin: 0 auto;
}



    /*========= Colonne gauche ========*/
	#left_col {
		width: 246px;
		float: left;
		font-size: 0.625em;
	}
	
	#left_col #bloc_5actus a.titreAvecPuce {
	list-style-image:url(puce.jpg);
	vertical-align:middle;
	background-position:O 2px;
	padding-left:25px;
			}

		/* Def générales */
		#left_col a {
			color: #707070;
			text-decoration: none;
		}
		#left_col a:focus {
			color: #000;
		}

		#left_col a:hover {
			color: #000;
		}

		/* Def gen des Blocks (encadrés) */
		.left_col_pad {
            background: url(left_col_pad_bg.gif) left top repeat-y;
            margin: 0 0 10px 0;
            padding: 0;
		}
				
			.left_col_pad_top {
            	padding: 0;
            	margin: 0;
			    height: 5px;
            	background: url(left_col_pad_top.gif) left top no-repeat;
			}
			.left_col_pad_bottom {
			    height: 5px;
            	background: url(left_col_pad_bottom.gif) left bottom no-repeat;
            	padding: 0;
            	margin: 0;
			}
	        .left_col_pad h1 {
				font-size: 1.1em;
				color: #005CA2;
				font-weight: bold;
				text-transform: uppercase;
				padding-left: 31px;
				margin: 7px 0;
			}
			
			.left_col_pad_rouge_top {
				background: url(left_col_pad_rouge_top.gif) left top no-repeat;
			}
			.left_col_pad_rouge_bottom {
				background: url(left_col_pad_rouge_bottom.gif) left top no-repeat;
				margin: 0 0 10px 0;
			}
			.left_col_pad_rouge_bg {
				background: url(left_col_pad_rouge_bg.gif) left top repeat-y;
			 margin: 0 0 0 0;
            padding: 0;

			}

	        .left_col_pad h1 a:focus
			{
				color: #005CA2 !important;
			}
			.left_col_pad h1 a:hover
			{
				color: #005CA2 !important;
			}
			.left_col_pad h1 a
			{
				color: #005CA2 !important;
			}
			#left_col .link_ico {
			    display: block;
			    margin: 12px 8px 12px 16px;
                text-transform: uppercase;
			}
			#left_col .link_ico img {
				float: left;
				margin-right: 4px;
			}
			
			/*====== Recherche ========*/
	        .left_col_pad .recherche {
                background: url(ico_recherche.gif) 12px center no-repeat;
			}
		.left_col_pad form {
			padding: 0;
			margin: 0 10px 0 12px;
			background: url(search_btn.gif) right center no-repeat;
		}
			.left_col_pad .input_txt {
			
			    float:left;
			    font-size: 1em;
			    color: #707070;
				width: 203px;
				height: auto;
				padding: 2px;
				margin-left: 12px;
				border: 0;
				background: url(search_bg.gif) left center no-repeat;
			}
			.left_col_pad .input_btn {
			    font-size: 1em;
			    				width: 16px;
				height: 17px;
				border: 0;
				margin-left:-12px;
				cursor: pointer;
				background: url(search_btn.gif) left center no-repeat;
			}
			.left_col_pad .input_btn2 {
			    font-size: 1em;
			    width: 16px;
				height: 17px;
				border: 0;

				margin-left:-12px;
				cursor: pointer;
				background: url(search_btn.gif) left center no-repeat;
			}


			/*====== Stras en mouvement ========*/
	        .left_col_pad .mouvement {
                background: url(ico_mouvement.gif) 12px center no-repeat;
			}

			/*====== Services en ligne ========*/
	        .left_col_pad .services {
                background: url(ico_services.gif) 12px center no-repeat;
			}

			/*====== Actualités ========*/
	        .left_col_pad .actu {
                background: url(ico_actu.gif) 12px center no-repeat;
			}
			
			/*====== RSS ========*/
	        .left_col_pad .rss {
                background: url(ico_rss.gif) 12px center no-repeat;
			}
			
			/*====== Newsletter ========*/
	        .left_col_pad .newsletter {
                background: url(ico_newsletter.gif) 12px center no-repeat;
                padding-top: 2px;
			}
			/*====== Territoires ========*/
	        .left_col_pad .territoire {
                background: url(ico_territoire.gif) 12px center no-repeat;
			}
			
				.left_col_pad .quartier {
                background: url(ico_quartier.gif) 12px center no-repeat;
                width:20px;
			}
				.left_col_pad .commune {
                background: url(ico_commune.gif) 12px center no-repeat;
                width:20px;
			}




	/*========= Colonne centrale ========*/
	#content {
		width: 443px;
		float:left;
		margin: 0 15px 15px 15px;
		color:#444444;
		font-size:0.9em;
	}
	html > body #content {
		margin: 0 20px 0 18px;
	}
	/* Cf content.css */


#content h2.liste {

 text-indent:0px;
 margin-bottom:4px;
 font-size:1em;
 border-bottom:0;
 border-left:#F7A9A9 solid 1px;
 padding-left:4px;

}

#content h2.liste a, #content h2.liste a:link, #content h2.liste a:visited{

	color:#F7C55F;
}
#content h2.liste a:hover{
	text-decoration:none;
	color:#E4C458;
	}

 
#content div.mais_aussi {
 display:inline;
 float:right;
 margin-left:8px;
 margin-top:8px;
 margin-right:7px;
 margin-bottom:8px;
 width:180px;
 padding:9px;

 border-left:#eeeeee 1px solid;
 border-bottom:#eeeeee 1px solid;
 border-top:#eeeeee 1px solid;
 border-right:#eeeeee 1px solid;

 
}
 
#content div.mais_aussi h2{
    font-size:0.85em;
    color: #005CA2;
    border:0px;
    margin-bottom:5px;
    margin-top:0px;
    border-bottom:#e9abab solid 2px;
    text-indent:3px;
}
#content div.mais_aussi a{
 color: #707070;
 font-weight:normal;
   text-decoration: none;
   font-size:0.75em;
}
#content div.mais_aussi a:hover, a:active{
 color: #000000;
   text-decoration: none;
}
 
#content div.mais_aussi li {
/* padding-left:0px;
 margin-left:-30px;
 list-style-image:url(images/puce.jpg);
	background-position:O 2px;*/
	
		list-style-image:url(puce.jpg);
	vertical-align:middle;
	background-position:O 2px;
	padding-left:0px;
	margin-left:-20px;

}




	/*========= Colonne droite ========*/
	#right_col {
		width: 230px;
		float: right;
		font-size: 0.625em;
		color: #707070;
		clear:right;
	}
        #right_col h1 {
			font-size: 1.1em;
			color: #FF6F23;
			font-weight: bold;
			text-transform: uppercase;
			padding-left: 30px;
			margin: 5px 0;
		}
        #right_col p.centrer {
			text-align: center;
			padding: 0 10px;
		}
        #right_col p.date {
			padding: 0 10px;
		}
        #right_col p.txt {
			padding: 0 10px;
		}
		
		
		#right_col li {
			list-style-image:url(puce.jpg);

	vertical-align:middle;
	background-position:O 2px;
	padding-left:0px;

			}


        #right_col h1 a:focus
		{
			color: #FF6F23 !important;
			text-decoration: none;
		}

		#right_col h1 a:hover
		{
			color: #FF6F23 !important;
			text-decoration: none;
		}

		#right_col h1 a
		{
			color: #FF6F23 !important;
			text-decoration: none;
		}

		/* Def gen des Blocks (encadrés) */
		.right_col_pad_blanc {
	        background: url(right_col_pad_blanc_bg.gif) left top repeat-y;
	        margin-bottom: 10px;

		}
			.right_col_pad_blanc_top {
			    height: 5px;
	        	background: url(right_col_pad_blanc_top.gif) left top no-repeat;
			}
			.right_col_pad_blanc_bottom {
			    height: 5px;
	        	background: url(right_col_pad_blanc_bottom.gif) left bottom no-repeat;
			}
			
		.right_col_pad_gris {
	        background: url(right_col_pad_gris_bg.gif) left top repeat-y;
	        margin-bottom: 10px;
		}
			.right_col_pad_gris_top {
			    height: 5px;
	        	background: url(right_col_pad_gris_top.gif) left top no-repeat;
			}
			.right_col_pad_gris_bottom {
			    height: 5px;
	        	background: url(right_col_pad_gris_bottom.gif) left bottom no-repeat;
			}
		.right_col_pad_rouge {
	        background: url(right_col_pad_rouge_bg.gif) left top repeat-y;
	        margin-bottom: 10px;
		}
			.right_col_pad_rouge_top {
			    height: 5px;
	        	background: url(right_col_pad_rouge_top.gif) left top no-repeat;
			}
			.right_col_pad_rouge_bottom {
			    height: 5px;
	        	background: url(right_col_pad_rouge_bottom.gif) left bottom no-repeat;
			}


		.right_col_pad_rouge a {
			color: #707070;
			text-decoration: none;
		}
		.right_col_pad_rouge a:focus {
			color: #000;
			text-decoration: none;
		}

		.right_col_pad_rouge a:hover {
			color: #000;
			text-decoration: none;
		}
		.right_col_pad_rouge li {
		margin-left:-10px;
		}



			/*====== Recherche ========*/
		    #right_col .recherche {
		        background: url(ico_recherche.gif) 9px center no-repeat;
			}
			#right_col form #recherche {
				padding: 0 0 0 10px;
				margin: 0 0 20px 0;
			}
				#right_col #recherche p {
					margin: 5px 0;
				}
				#right_col #recherche label {
				    display: block;
				    float: left;
				    width: 85px;
				}
				#right_col .input_txt {
				    font-size: 1em;
				    color: #707070;
					width: 130px;
					margin: 0;
					padding: 1px;
					border: 1px solid #707070;;
					background: #fff;
				}
				#right_col .input_btn {
				    font-size: 1em;
					width: 130px;
					height: auto;
					background: url(search_btn2.gif) left center no-repeat;
					border: 0;
					margin: 0;
					padding: 2px;
					text-align: center;
					cursor: pointer;
				}

				/*====== En ce moment ========*/
		    	#right_col .moment {
		       		background: url(ico_moment.gif) 9px center no-repeat;
				}
				
				/*====== Agenda ========*/
		    	#right_col .agenda {
		       		background: url(ico_agenda.gif) 9px center no-repeat;
				}
				/*====== Boutique Culture ========*/
		    	#right_col .boutique_culture {
		       		background: url(ico_BC.gif) 9px center no-repeat;
				}				
				/*====== RSS ========*/
		        #right_col .rss {
	                background: url(ico_rss.gif) 9px center no-repeat;
				}
				/*====== RSS ========*/
		        #right_col .proposez {
	                background: url(ico_proposez.gif) 9px center no-repeat;
				}
				/*====== Une info ? un clic ! ========*/
		        #right_col .info_clic {
	                background: url(ico_souris.gif) 9px center no-repeat;
				}


.left_col_table{
	padding-bottom:5px;
}

}
