#qformulaire
{
    margin: 0;
    padding: 0;
    width: 400px;
	font-size: 11px;
	font-family: Arial, Verdana;
	background-color: #FFFFFF;
	color: #313131;
}

.formulaire_message_erreur
{
	margin: 5px 0 0 0;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #cc0000;
	line-height: 20px;
}
.formulaire_button
{
	font-family: Arial, Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	border: 1px solid #399bee;
	background-color: #399bee;
}

.formulaire_div_button
{
	display: inline;
}

.formulaire_div_reset
{
	display: inline;
	margin-left:120px;
	margin-right:10px;
}

.formulaire_input
{
	font-family: Arial, Verdana;
	font-size: 11px;
	color: #202020;
	border: 1px solid #d6d6d6;
	background-color: #FFFFFF;
}
.formulaire_textarea
{
	background-color: #FFFFFF;
	font-family: Arial, Verdana;
	font-size: 11px;
	color: #202020;
	border: 1px solid #d6d6d6;
	width: 350px;
	height: 100px;
}
.formulaire_select
{
	font-family: Arial, Verdana;
	font-size: 11px;
	color: #202020;
	border: 1px solid #d6d6d6;
	background-color: #FFFFFF;
	width: 50px;
}
.formulaire_div_label
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
}
.formulaire_label
{
    display: block;
    float: left;
    width: 240px;
    padding: 0;
    margin: 5px 0 0 0;
    text-align: left;
}
.formulaire_element
{
    display: inline;
    float: left;
    margin: 5px 0 0 10px;
    padding: 0;
}
form label
{
    margin: 0 0 0 5px;
}
form br
{
    clear: left;
}
form span.error, form span.required
{
    color: red;
}
.error
{
	background-color: #fee;
}
pre
{
    margin-left: 9px;
    font-family: Arial,sans-serif;
    font-size: small;
	color:#c00;
}