/* CSS Document */

html { height: 100%; }

body {
	width: 100%;
	height: 100%;
	background: #FFFFFF url(sejour-charente-maritime.gif) repeat-x 0px 0px;
	margin: 0px;
	padding: 0px;
	scrollbar-face-color: #EEEEEE;
	scrollbar-shadow-color: #CCCCCC;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #CCCCCC;
	scrollbar-darkshadow-color: #CCCCCC;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #000000;
	font-size: 1em;
}
body.medium {font-size: 1em;}
body.large  {font-size: 1.3em;}

body, td, p, h1, h2, h3, h4, #contenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-size: 11px;*/
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

input, label, select {
	font-size: 0.70em;
}

#global {
	width: 100%;
	background: url(sejour-mer-charente.gif) repeat-y center top;
}

#page {
	width: 100%;
	height: 100%;
	background: url(sejour-mer.gif) no-repeat center 277px;
}

#conteneur {
	width: 980px;
	margin: 0px auto;
	background-color: #FFFFFF;
	position: relative;
}

h1#entete {
	background: url(charente-images.jpg) no-repeat 0px 0px;
	width: 980px;
	height: 125px;
	text-indent: -10000px;
}

#navigation {
	float: left;
	width: 158px;
	margin: 0px 30px 0px 10px;
	padding: 0px;
}
* html #navigation {
	margin: -58px 30px 0px 5px;
	padding: 0px;
}

#contenu {
	float: left;
	width: 750px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	color: #4F4F4F;
}

#navigationHaut {
	padding: 0px;
	float: right;
	margin: 10px 31px 5px 0px;
	width: 750px;
}
#navigationHaut div {
	text-align: right;
	margin: 0px 0px 5px;
	padding: 0px;
	clear: both;
}
#navigationHaut ul {
	float: right;
	margin: 0px 0px 5px;
	padding: 0px;
}
#navigationHaut ul li {
	float: left;
	margin: 0px 0px 0px 20px;
	padding: 0px;
}
#navigationHaut ul li a {
	font-size: 0.70em;
	color: #333333;
	font-weight: bold;
}


/* styleswitcher */

.styleswitcher_txt,.styleswitcher_skin {margin-bottom:3px;font-size:0.7em;}
.styleswitcher_txt .txt_normal {font-size:1.2em; margin:0 8px 0 7px; color: #333333; font-weight: bold;}
.styleswitcher_txt .txt_large {font-size:1.6em; margin-right:6px; color: #333333; font-weight: bold;}
.hidden {position:absolute; left:-9999px;}



img, h1, h2, h3, h4, form, ul, label, a {
	margin: 0px;
	padding: 0px;
	border: none;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
li {
	margin: 0px;
	padding: 0px;
	padding-left: 20px;
	text-align: justify;
}

.centrer {
	text-align: center;
}
.droite {
	text-align: right;
}
.justifier {
	text-align: justify;
}
.justifier07em {
	text-align: justify;
	font-size: 0.70em;
}
.clearBoth {
	clear: both;
	margin: 0px;
	padding: 0px;
}
.positionRelative {
	position: relative;
}

h2.BlancBold, h2.GrisBold {
	margin: 5px 0px;
}
.largeur100px {
	width: 105px;
}

.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}

#navigation li {
	text-align: left;
}
#navigation h2 {
	padding: 10px 0px 5px;
	text-align: center;
}
#navigation h3 {
	padding: 5px 0px;
	text-align: center;
}
#navigation h4 {
	margin-left: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-size: 11px;*/
	font-size: 0.70em;
	color: #333333;
	font-weight: bold;
}

#lieuxVisites img {
	margin-top: 20px;
}

/* LISTES */

ul#menuCharenteMaritime {
	background-color: #E5F5FB;
}

ul#menuIncontournables, ul#menuZoomSur {
	background-color: #F9EAF2;
}

ul#menuTourismeHandicap {
	background-color: #F5FBE6;
}

ul.listeSansMargesTypoGrise {
	margin: 0px 0px 10px 0px;
	padding: 0px;
}
ul.listeSansMargesTypoGrise li {
	margin: 0px;
	padding: 0px;
}
ul.listeSansMargesTypoGrise li img {
	margin-top: 10px;
}
ul.listeSansMargesTypoGrise li a {
	color: #333333;
	text-decoration: underline;
	margin: 0px;
	padding: 0px;
	font-size: 0.70em;
}


ul.listeSansMargesTypoGrise07 {
	margin: 0px 0px 10px 0px;
	padding: 0px;
}
ul.listeSansMargesTypoGrise07 li {
	margin: 0px;
	padding: 0px;
	color: #333333;
	font-size: 0.70em;
}


ul.listeSitesLabellises {
	margin: 0px;
	padding: 0px;
}
ul.listeSitesLabellises li {
	margin: 20px 0px 0px 0px;
	padding: 0px;
	color: #4F4F4F;
}
ul.listeSitesLabellises li a {
	color: #4F4F4F;
	text-decoration: underline;
	margin: 0px;
	padding: 0px;
}


#navigation ul {
	list-style: none;
	margin-bottom: 10px;
}
#navigation ul.listeMarge5px {
	margin-left: 5px;
}
#navigation ul.listeMarge5px li {
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-size: 11px;*/
	font-size: 0.70em;
	color: #333333;
	padding-left: 0px;
}
#navigation ul.listeMarge5px li a {
	color: #333333;
}
/*#navigation ul.ListePuceRose, #navigation ul.ListePuceGrise {
	margin: 3px 0px;
}*/

ul.ListePuceGrise li {
	background: url(puce-grise.gif) no-repeat 7px 6px;
	text-align: left;
}
ul.ListePuceRose li {
	background: url(puce-rose.gif) no-repeat 7px 6px;
	text-align: left;
}


/* 2008 */

h1.decouvrezCharente {
	background: url(decouvrez-charente.gif) no-repeat 0px 0px;
	text-indent: -10000px;
	font-size: 0px;
	height: 24px;
	width: 750px;
	margin-top: 10px;
}

div.txtDecouvrezCharente {
	background-color: #E5F5FB;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-size: 11px;*/
	font-size: 0.70em;
	color: #333333;
	padding: 10px;
	text-align: center;
}

ul.menuDecouvrezCharenteBloc {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.menuDecouvrezCharenteBloc li {
	width: 250px;
	margin: 0px;
	padding: 0px;
	float: left;
	text-align: center;
	background: #E5F5FB;
}

ul#menuDecouvrezCharente {
	margin: 0px;
	padding: 0px;
}
ul#menuDecouvrezCharente li {
	width: 250px;
	height: 90px;
	float: left;
	list-style: none;
	padding-left: 0px;
}
ul#menuDecouvrezCharente li h2 {
	width: 250px;
	height: 90px;
	text-indent: -10000px;
	font-size: 0px;
}
ul#menuDecouvrezCharente li.lesIles {
	background: #E5F5FB url(iles.gif) no-repeat center center;
}
ul#menuDecouvrezCharente li.leLittoral {
	background: #E5F5FB url(littoral.gif) no-repeat center center;
}
ul#menuDecouvrezCharente li.laCampagne {
	background: #E5F5FB url(campagnes.gif) no-repeat center center;
}
ul#menuDecouvrezCharente li a {
	width: 250px;
	height: 90px;
	display: block;
	text-indent: -10000px;
	font-size: 0px;
}


.titreIncontournables h1 {
	background: url(incontournables.gif) no-repeat 0px 0px;
	text-indent: -10000px;
	font-size: 0px;
	height: 24px;
	width: 750px;
	margin-top: 10px;
}

label {
	background: url(puce-grise.gif) no-repeat 7px 6px;
	padding-left: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-size: 11px;*/
	color: #4F4F4F;
	display: block;
}
select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-size: 11px;*/
	color: #4F4F4F;
	background-color: #FFFFFF;
	border: 1px solid #626262;
	margin-left: 20px;
	padding: 2px;
}

.marge20px {
	margin: 20px;
}
.padding10px {
	padding: 10px;
}
.paddingHB10px {
	padding-top: 10px;
	padding-bottom: 10px;
}
.margeBas10px {
	margin-bottom: 10px;
}
.margeGauche20px {
	margin-left: 20px;
}
.margeHaut20px {
	margin-top: 20px;
}
.margeHaut10px {
	margin-top: 10px;
}
.margeHautBas10px {
	margin-top: 10px;
	margin-bottom: 10px;
}
.margeInt5px {
	padding: 5px;
}
.margeInt5px a {
	padding: 0px;
}
input#formRecherche {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-size: 11px;*/
	color: #4F4F4F;
	background-color: #FFFFFF;
	border: 1px solid #626262;
	padding: 2px;
	width: 300px;
}


/* */

input.chpTextGris {
	font-family: Verdana, Arial, Helvetica, sans-serif; /*font-size: 9px;*/
	color: #4F4F4F;
	background-color: #FFFFFF;
	border: 1px solid #626262;
}
input.chpTextGris2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;	/*font-size: 9px;*/
	color: #4F4F4F;
	background-color: #F4FBFD;
	border: 1px solid #00A0D9;
}
input.chpTextRose {
	font-family: Verdana, Arial, Helvetica, sans-serif;	/*font-size: 9px;*/
	color: #C13082;
	background-color: #F3D6E6;
	border: 1px solid #C13082;
}
textarea.chpCommentaireGris {
	font-family: Verdana, Arial, Helvetica, sans-serif;	/*font-size: 9px;*/
	color: #4F4F4F;
	background-color: #FFFFFF;
	border: 1px solid #626262;
}
textarea.chpCommentaireGris2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;	/*font-size: 9px;*/
	color: #4F4F4F;
	background-color: #F4FBFD;
	border: 1px solid #00A0D9;
}
.FdCellGlobal {
	background-image: url(vacances-charente-maritime.gif);
	width: 979px;
}
.FdNavBas {
	font-family: Verdana, Arial, Helvetica, sans-serif;	/*font-size: 9px;*/
	text-decoration: none;
	background-image: url(index.html.2);
}
td.ContourOmbrePhotosBa {
	background-image: url(index.html.3);
}
td.ContourOmbrePhotosHo {
	background-image: url(index.html.4);
}
td.ContourOmbrePhotosDroite {
	background-image: url(index.html.5);
}
td.ContourOmbrePhotosGauche {
	background-image: url(index.html.6);
}
td.pointille {
	background-image: url(index.html.7);
	background-repeat: repeat-x;
}
.FdBleu {
	background-color : #00A0D9;
	vertical-align: middle;	
}
.FdBleuClair {
	background-color : #E5F5FB;
	vertical-align: middle;
}
.FdRose {
	background-color : #C13082;
	vertical-align: middle;	
}
.FdRoseClair {
	background-color : #F9EAF2;
	vertical-align: middle;	
}
.FdVert {
	background-color : #00A651;
	vertical-align: middle;	
}
.FdVertClair {
	background-color : #F5FBE6;
	vertical-align: middle;
}
.FdViolet {
	background-color : #824597;
	vertical-align: middle;
}
.FdVioletClair {
	background-color : #E6DAEA;
	vertical-align: middle;
}

.FdBleu2px {
	background-color : #00A0D9;
	height:2px;
	clear: both;
}
.FdBleu20px {
	background-color : #00A0D9;
	height:20px;	
}
.FdBlanc20px {
	background-color : #FFFFFF;
	height:20px;	
}
.FdBleuClair2px {
	background-color : #E5F5FB;
	height:2px;	
}
.FdBleuClair20px {
	background-color : #E5F5FB;
	height:20px;	
	vertical-align: middle;
}
.FdRose2px {
	background-color : #C13082;
	height:2px;
	clear: both;
}
.FdRose20px {
	background-color : #C13082;
	height:20px;	
}
.FdRoseClair2px {
	background-color : #F9EAF2;
	height:2px;	
}
.FdRoseClair20px {
	background-color : #F9EAF2;
	height:20px;
}
.FdVert2px {
	background-color : #00A651;
	height:2px;	
}
.FdVert20px {
	background-color : #00A651;
	height:20px;
}
.FdVertClair2px {
	background-color : #F5FBE6;
	height:2px;	
}
.FdViolet2px {
	background-color : #824597;
	height:2px;	
}
.FdViolet20px {
	background-color : #824597;
	height:20px;	
}
.FdVioletClair2px {
	background-color : #E6DAEA;
	height:2px;	
}

td.AlignamentHaut {
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.70em;
	color: #4F4F4F;
}

td.AlignamentHautSansTypo {
	vertical-align: top;
}

td.AlignamentBas {
	vertical-align: bottom;
}

table.AlignamentHaut {
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
td.AlignementHorMilieu {
	text-align: center;
}
td.AlignDroite {
	text-align: right;
}
p.AlignementHorMilieu {
	text-align: center;
}
table.AlignementHorMilieu {
	text-align: center;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

table.TableHauteur100Pourcent {
	height: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
table.TableLargeur95PourcentAlignDroite {
	width: 95%;
	float: right;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
table.TableLargeur100Pourcent {
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
table.TableLargeur95Pourcent {
	width: 95%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
table.TableLargeur50Pourcent {
	width: 50%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
td.TdHauteur150px {
	height: 150px;
}
td.TdHauteur100pxAlignMilieu {
	height: 100px;
	vertical-align: middle;
}
td.TdLargeur10px {
	width: 10px;
}
td.TdLargeur750px {
	width: 750px;
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.70em;
	color: #4F4F4F;
}
td.TdLargeur50Pourcent {
	width: 50%;
	vertical-align: top;
}


/* */

h2.Menu {
	font-size: 0.65em;
	color: #333333;
}

#contenu h3, #contenu h4 {
	margin: 20px 0px 0px;
}
#contenu h3.GrisBoldMargeHautBas {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 0.70em;
	color: #333333;
	font-weight: bold;
}

#lienAccesContenu {
	float: left;
	font-size: 0px;
	text-indent: -10000px;
}

#lienRetourHaut {
	float: left;
	padding-top: 15px;
}




