@charset "utf-8";

/* Éléments en général */
* {
  color: black !important;
  background-color: white !important;
  background-image: none !important;
  border: none !important;
}
body {
  margin: 2cm;
}
h1 {
  text-align: center;
}
a {
  text-decoration: none !important;
}

/* Éléments masqués */
#en-tete ul, #en-tete > img, #menu-principal, #menu, #pied div, #pied p img {
  display: none;
}

/* Images remplacées par leur alternative textuelle */
#en-tete img {
  width: auto;
  content: attr(alt);
}

/* Contenu */
#contenu {
  margin-left: 0;
}