

/* ----------------------------------------------------------------------------------- start left navigation */

.leftNavigation {
    float:left;
    width:20.73em;
}

.leftNavigation .productNavigation {
	background-color:#FFFFFF;
	width:20.73em; /*199px*/
}

/* NavHeader */
.leftNavigation .navHeaderPadding {
	border-bottom:1px solid #ccc;
}

.leftNavigation .navHeaderPadding .navHeader {
	font-size:2.4em; /*23px*/
}

.leftNavigation h1 {
    font-size:1.458em; /*23px*/
		line-height:1.214em;
    color:#000;
    margin:0;
    font-weight:bold;   
}

.leftNavigation .navHeaderPaddingSmall {
	padding:1.77em 1.04em 1.56em 1.04em; /* t r b l */
	border-bottom:0.21em solid #DDDDDD;
}

.leftNavigation h2 {
	font-size:1.35em; /*13px*/
    font-weight:bold;
    color:#999999;
    margin:0;
}

/* navigationBlock */
.leftNavigation .navigationBlock {
	width:20.73em; /*199px*/
	overflow:hidden;
}

.leftNavigation .navigationBlock .navHeaderPadding h1 a,
.leftNavigation .navigationBlock .navHeaderPadding h1 span {
    color:#000;
    text-decoration:none;
    display:block;
    padding-left:0.715em;
    padding-bottom:0.852em;
    padding-top:0.643em;
}    

.leftNavigation .navigationBlock .navItem a,
.leftNavigation .navigationBlock .subItem a {
    display:block;
    padding-top:0.815em;
    padding-bottom:0.906em;
}

.leftNavigation .navigationBlock .navItem a,
.leftNavigation .navigationBlock .subItem a {
    color:#333;
}

.leftNavigation .navigationBlock .navItem a:hover,
.leftNavigation .navigationBlock .subItem a:hover {
    color:#F60;
    text-decoration:none;
}

.leftNavigation .navItem a,
.leftNavigation .subItem a {
    font-size:1.15em; /*11px;*/
}

.leftNavigation .navItem {
    border-bottom:1px solid #CCC;
}

.leftNavigation .navigationBlock .subItems {
	padding-top:0.417em;
	padding-bottom:0.313em;
	border-bottom: 1px solid #CCC;	
}

.leftNavigation .navigationBlock .subSubItems {
	padding-bottom:0.833em;
}

.leftNavigation .navigationBlock .subItemLast .subSubItems {
	padding-bottom:0;
}

.leftNavigation .navigationBlock .subItem a,
.leftNavigation .navigationBlock .subSubItems a {
    padding-top:0.455em;
    padding-bottom:0.636em;
}

.leftNavigation .navItem a {
    padding-left:0.906em;
}

.leftNavigation .subItem a {
    padding-left:1.815em;
}

.leftNavigation .subSubItems a {
    padding-left:2.725em;
}

/* style for new img */
.leftNavigation .navItem img,
.leftNavigation .subItem img {
    font-size:0.8727em;	
    padding-right:0.72em;
    margin-top:-0.18em;
    margin-bottom:-0.27em;
}

.leftNavigation .navItem .open,
.leftNavigation .subItem .open {
    font-weight:bold;
    color:#333;
}

.leftNavigation .navItem .active,
.leftNavigation .subItem .active {
    font-weight:bold;
    color:#F60;
}

.leftNavigation span.navToggle {
	float:right;
	margin-right:0.45em;
	margin-top:0.36em;
	background:#ccc url('plus.gif') no-repeat;
	height:0.727em;
	width:0.727em;
	text-indent:0.727em;
	overflow:hidden;
	display:block;
}

.leftNavigation span.navToggleOpen {
	background-image:url('minus.gif');
}

.leftNavigation .navigationBlock .navItem a:hover span.navToggle,
.leftNavigation .navigationBlock .subItem a:hover span.navToggle {
	background-color:#f60;
	cursor:pointer;
}

.leftNavigation .subItemLast {
    
}

.leftNavigation .navigationBlock .shadow {
	width:20.73em;
	height:0.52em;
	padding-bottom:0.21em;
}

.leftNavigation .productNavigation .navigationBlock .shadow {
	visibility:hidden;
}

/* Ad content (modified ad) */

.leftNavigation .adContainer {
	width:20.73em; /*199px*/
	height:26.56em; /* 255px */
    display:block;
	overflow:hidden;
    margin-bottom:0.73em; /*7px;*/
}

.leftNavigation .adSeries {
    height:25.52em; /* 245px */
}

.leftNavigation .productRecallBorder {
    width:20.31em; /*195px;*/
    border:0.21em solid #FF6600; /*2px*/
}

.leftNavigation .adContainer .adImg {
    margin-top:4.69em; /*45px;*/
}

/* productItem */

.leftNavigation .navigationBlock .productItem {
    padding:0 0.42em 0 0.42em; /* t r b l */
    border-top:1px solid #DDDDDD;
    float:left;
    width:100%;
}

.leftNavigation .navigationBlock .productItemFirst {
    border:0;
}

.leftNavigation .navigationBlock .productItem .prodImg {
	float:left;
	height:3.33em; /*32px*/
	width:3.33em; /*32px*/
	margin-right:0.83em; /*8px*/
}

.leftNavigation .navigationBlock .productItem .prodName {
    float:left;
    width:78%; /*154px;*/
    padding:1.04em 0;
}

.leftNavigation .navigationBlock .productItem .prodName .prodNameActive, .leftNavigation .navigationBlock .productItem .prodNameNewImg .prodNameActive {
	color:#FF6600;
	font-weight:bold;
}

.leftNavigation .navigationBlock .productItem .prodName .prodNameSelected, .leftNavigation .navigationBlock .productItem .prodNameNewImg .prodNameSelected {
	font-weight:bold;
	color:#464646;
}

.leftNavigation .navigationBlock .subNavigationBlock {
	width:20.73em; /*199px*/
}

/* subNavigationBlock */
.leftNavigation .navigationBlock .subNavigationBlock .subItem {
	clear:both;
    margin-left:4.58em; /*44px*/
}

.leftNavigation .navigationBlock .subNavigationBlock .subItemActive {
    margin-left:3.54em; /*34px;*/
}

.leftNavigation .navigationBlock .subNavigationBlock .subItem .prodName {
    float:left;
    width:16.1em; /*155px;*/
    border-top:1px dotted #CCCCCC;
    padding:0.31em 0; /* t r b l */
}

.leftNavigation .navigationBlock .subNavigationBlock .subItem .prodNameLast {
    border:0;
}

.leftNavigation .navigationBlock .subNavigationBlock .subItem .linkImg {
    float:left; 
    margin-top:0.63em; /*6px;*/
}

.leftNavigation .navigationBlock .subNavigationBlock .subItem a.prodNameActive {
	font-weight:normal;
	color:#FF6600;
}

/* sideModules */
.leftNavigation .navigationBlock .sideModule {
	border: 1px solid #EBE8DB;
	padding:1.15em; /*11px*/
    padding-top:0.73em;
	background-color:#FAF9F4;
	padding-bottom:1.56em; /* 15px */
}

.leftNavigation .navigationBlock .sideModule .text {
    font-size:1.15em;
    padding-bottom:0.84em;
}

.leftNavigation .navigationBlock .sideModule .sideModuleImg {
    width:11.46em; /*110px;*/
    height:8.85em; /*85px;*/
    margin-top:0.52em; /*5px;*/
    margin-bottom:0.63em; /*6px;*/
}

.leftNavigation .navigationBlock .sideModule .sideModuleHeader {
	color:#333;
	font-size:1.458em; /*14px*/
	padding-bottom:0.63em; /*6px;*/
}

.leftNavigation .navigationBlock .sideModule .sideModuleLink {
	padding:0px; /* t r b l */
	margin:0px; /* t r b l */
	padding-bottom:0.21em; /*2px;*/
    font-size:1.15em;
}

.leftNavigation .navigationBlock .sideModule .sideModuleImageLink {
	display:block;
	height:3.75em; /*36px;*/
	padding:0.42em 0px 0.42em 0px; /* t r b l */
}

.leftNavigation .navigationBlock .sideModule .sideModuleImageLink .imageContainer {
	display:inline;
	float:left;
	width:5.83em; /*56px;*/
	height:3.75em; /*36px;*/
	overflow:hidden;
}

.leftNavigation .navigationBlock .sideModule .sideModuleImageLink .imageContainer a {
	padding-left:0em; /*13px*/
}

.leftNavigation .navigationBlock .sideModule .sideModuleImageLink .imageContainer img {
	width:5.83em; /*56px;*/
	height:3.75em; /*36px;*/
	padding-bottom:0.83em; /*8px;*/
}

.leftNavigation .navigationBlock .sideModule .sideModuleImageLink .linkContainer {
	display:inline;
	float:left;
	width:12.2em; /*118px;*/
	height:3.75em; /*36px;*/
	overflow:hidden;
}

.leftNavigation .navigationBlock .sideModule .sideModuleImageLink .linkContainer .linkImg {
	float:left; 
    display:inline; 
    margin-top:0.21em; /*2px;*/
}

.leftNavigation .navigationBlock .sideModule .sideModuleImageLink .linkContainer .textContainer {
	float:left; 
    width:11.1em;
}

.leftNavigation .navigationBlock .sideModule .sideModuleImageLink .linkContainer .textContainer a {
    padding:0;
}

.leftNavigation .navigationBlock .sideModule .sideModuleSubHeader {
	font-size:1.458em; /*14px*/
    color:#333;
	padding-bottom:0.31em /*3px;*/
}

.leftNavigation .navigationBlock .sideModule .sideModuleInnerBorder {
	display:block;
	margin:1.35em 0px 1.04em 0px; /* t r b l */
	background-color:#FFFFFF;
	height:0.31em; /*3px;*/
	overflow:hidden;
}

/*sideModuleSmall*/
.leftNavigation .navigationBlock .sideModuleSmall {
    border:1px solid #EBE8DB;
    background-color:#FAF9F4;
    width:20.52em;
    float:left;
}
.leftNavigation .navigationBlock .sideModuleSmall .modulePadding{
    padding:1.15em;
    float:left;
}

.leftNavigation .navigationBlock .sideModuleSmall .sideModuleImageLink {
    float:left;
}

.leftNavigation .navigationBlock .sideModuleSmall .sideModuleImageLink .imageContainer {
    float:left;
    padding-right:8px;
}

.leftNavigation .navigationBlock .sideModuleSmall .sideModuleImageLink .mainImg {
    width:5.83em; /*56px;*/
    height:5.83em; /*56px;*/
    padding-right:8px;
    float:left;
}

.leftNavigation .navigationBlock .sideModuleSmall .sideModuleImageLink .linkContainer {
    width:11.56em; /*111px;*/
    margin-left:6.67em; /*64px;*/
}

.leftNavigation .navigationBlock .sideModuleSmall .sideModuleImageLink .linkContainer .sideModuleHeader {
	color:#464646;
	padding-bottom:0.42em; /* 4px */
    font-size:1.15em;
}

.leftNavigation .navigationBlock .sideModuleSmall .sideModuleImageLink .linkContainer .textContainer {
	width:auto; 
    display: block;
	margin-left:1.04em;
    font-size:1.15em;
}

.leftNavigation .navigationBlock .sideModuleSmall .sideModuleImageLink .linkContainer .linkImg {
    float:left;
    margin-top:0.31em; /*3px;*/
}

* html .leftNavigation .navigationBlock .sideModuleSmall .sideModuleImageLink .linkContainer {
	margin:0px;
}

* html .leftNavigation .navigationBlock .sideModuleSmall .sideModuleImageLink .linkContainer .textContainer {
	margin:0px;
	}

/* Select store */
.leftNavigation .navigationBlock .sideModule .selectStore {
	padding-bottom:0.42em;/*4px;*/
	width:19.06em;
}
	
.leftNavigation .navigationBlock .sideModule .selectStore select {
	font-size:1.15em;
	width:12.33em;/*134px;*/
    margin-right:0.45em;
	margin-top:1px; /* px instead of em, due to Safari */
	margin-bottom:0.52em;
	float:left;
}
/*ending sideModules*/

.leftNavigation .navigationBlock .sideModuleLast {
	border-bottom: 0px;
}

.leftNavigation .sideModuleFill {
	background-color:#FAF9F4;
	height:100%;
	width:20.52em;/*197px;*/
	border-left: 1px solid #EBE8DB;
	border-right: 1px solid #EBE8DB;
	padding-bottom: 10000px;
	margin-bottom: -10000px;
	overflow: hidden;
}

.sideModuleLastEnd {
	display:block;
	width:20.73em;
	background-color:#EBE8DB;
	height:1px;
	overflow:hidden;
  float:left;
  clear:left;
}

/* ----------------------------------------------------------------------------------- end left navigation */

/* ----------------------------------------------------------------------------------- start right content */

.rightContent {
    float:left;
    margin-left:0;
    width:72.92em;

    /* Fixes */
    display:block;
    position:static;
    /*position: relative;*/
}

.rightContent .topLinkContainer {
    text-align:right; 
    padding:12px 0; 
}

.rightContent .flashAd {
	width:71.88em; /*690px*/
    height:34.38em; /*330px*/
	overflow:hidden;
	display:block;
}

.rightContent .productsHeaderContainer {
	margin-left:1.15em; /*11px;*/
	height:3.95em;
	line-height:3.45em;
}

.rightContent .productsHeaderContainer h1 {
	color:#333;
	text-align:center;
	font-size:1.875em;
    font-weight:normal;
    margin:0;
}

.rightContent .horizontalDivider {
    clear:both;
    display:block;
    background-color:#EBE8D8;
    height:1px;
    overflow:hidden;
    margin:1.04em 0 1.04em 1.15em;/*10px 0 10px 11px;*/
}

.rightContent .horizontalShadowContainer {
	height:2.08em; /*20px;*/
	visibility:hidden;
}

* html .rightContent .horizontalShadowContainer {
	width:71.88em;
}
.rightContent .horizontalShadowContainer .bgImg {
    height:0.73em;/*7px;*/
    width:100%;
}

/* ----------------------------------------------------------------------------------- start pagination */

.rightContent .paginationContainer {
	display:block;
	width:71.88em;/*690px;*/
	height:4.479em; /* 45px */
	background:#FFFFFF url(filter_bot_bg.gif) repeat-x scroll left bottom;
	border-top:1px solid #EBE8DB;
	border-bottom:1px solid #EBE8DB;
	clear:both;
	margin:1.04em 0 1.04em 0.94em; /*9px;*/
}

.rightContent .paginationContainerNoTopMargin {
	margin-top:0;
}

.rightContent .paginationContainer .paginationPadding {
	padding:1.25em 0 0 0;
}

.rightContent .paginationContainer form {
	float:left;
	margin:0;
}

.rightContent .paginationContainer form select {
	width:11.78em;
	padding:0;
	margin-left:0.91em;
	float:left;
	margin-top:1px;
}

.rightContent .paginationContainer form select.identifier {
    width:15.6em; /*170px;*/
}

.rightContent .paginationContainer form select.color {
    width:11.97em; /*130px;*/
}

.rightContent .paginationContainer form select.sorting {
    width:11.97em; /*130px;*/
}

.rightContent .paginationContainer .paginationLeft .selectLarge {
	width:15.4em;
}

.rightContent .paginationContainer .paginationLeft form div.buttonContainer,
.rightContent .paginationContainer .paginationLeft form div.button {
	margin-left:0.52em;
	float:left;
}
		
.rightContent .paginationContainer .paginationLeft span {
	font-weight:bold;
	font-size:1.15em;
	margin-left:0.91em;
	margin-right:-0.54em;
	line-height:1.63em;
	float:left;
}
		
.rightContent .paginationContainer .paginationRight {
	float:right;
	padding-right:0.83em;
}

.rightContent .paginationMenu {
	margin-left:0.94em;
	color:#333;
    clear:both;
}
	
.rightContent .paginationMenuTop {
	margin-bottom:1.04em;
}

.rightContent .paginationMenuBottom {
	margin-top:1.04em;
}

.rightContent .paginationMenu .paginationLeft {
	padding-left:1.04em;
}

.rightContent .paginationMenu .paginationLeft a {
	font-size:1.15em;
}

.rightContent .paginationMenu .paginationRight {
	padding-right:1.04em;
	float:right;
}

.rightContent .paginationMenu .paginationPage {
	color:#999;
	padding:0 0.73em 0 0.31em;
}

.rightContent .paginationMenu .paginationPage a {
	margin:0 -0.27em;
	font-size:1.15em;
}

.rightContent .paginationMenu .paginationPage span {
	margin:0 -0.27em;
}

.rightContent .paginationMenu .paginationPage span.active {
	color:#f60;
	font-weight:bold;
	font-size:1.15em;
}

.rightContent .paginationMenu .paginationRight a {
	color:#333;
}

.rightContent .paginationMenu .paginationButtonTextPaddingPrev {
	font-size:1.15em;
	font-weight:bold;
}

.rightContent .paginationMenu .paginationButtonTextPaddingNext {
	font-size:1.15em;
	font-weight:bold;
}

.rightContent .paginationMenu .paginationButtonTextPaddingPrev a {
	background:url('paging_arrow_left_active.gif') no-repeat left 3px;
	padding-left:9px;
}	

.rightContent .paginationMenu .paginationButtonTextPaddingNext a {
	background:url('paging_arrow_right_active.gif') no-repeat right 3px;
	padding-right:9px;
}

.rightContent .paginationMenu .paginationButtonTextPaddingPrev a:hover {
	background-image:url('paging_arrow_left_hover.gif');
}

.rightContent .paginationMenu .paginationButtonTextPaddingNext a:hover {
	background-image:url('paging_arrow_right_hover.gif');
}

.rightContent .paginationMenu .paginationButtonTextPaddingPrevInactive {
	background:url('paging_arrow_left_disabled.gif') no-repeat left 3px;
	padding-left:9px;
	color:#999;
}

.rightContent .paginationMenu .paginationButtonTextPaddingNextInactive {
	background:url('paging_arrow_right_disabled.gif') no-repeat right 3px;
	padding-right:9px;
	color:#999;
}
			
.rightContent .paginationMenu a:hover{
	color:#f60;
	text-decoration:none;
}
	
/* ----------------------------------------------------------------------------------- end pagination */
	
	/* ----------------------------------------------------------------------------------- start tabs */
	
	.rightContent .tabsContainer {
		display:block;
		padding-left:0.94em;/*9px;*/
        clear:left;
	}
	
    .rightContent .tabsContainerTop {
        height:2.60em; /*25px;*/
    }
    
	.rightContent .tabsContainer .tab {
		display:inline;
		float:left;
		padding-right:0.10em;/*1px;*/
		padding-bottom:0.10em;/*1px;*/
        width:14.27em; /*137px;*/
	}
	
    .rightContent .tabsContainer .tabFirst {
        width:14.06em; /*135px;*/
    }
    
	.rightContent .tabsContainer .tab .cornerImg {
		height:0.73em;/*7px;*/
		width:0.73em;/*7px;*/
	}
	
	.rightContent .tabsContainer .tab .leftTop {
		display:inline;
		float:left;
		overflow:hidden;
		height:0.73em;/*7px;*/
		width:0.73em;/*7px;*/
	}
	
	.rightContent .tabsContainer .tab .midTop {
		display:inline;
		float:left;
		background-color:#CCCCCC;
        width:89.6%;
		overflow:hidden;
		height:0.73em;/*7px;*/
	}
	
	.rightContent .tabsContainer .tab .midTopSelected {
		background-color:#EAEAEA;
	}
	
	.rightContent .tabsContainer .tab .rightTop {
		display:inline;
		float:left;
		overflow:hidden;
		height:0.73em;/*7px;*/
		width:0.73em;/*7px;*/
		clear:right;
	}
	
	.rightContent .tabsContainer .tab .linkContainer {
		display:block;
		clear:both;
		height:1.25em; /*12px;*/
        line-height:1.25em; /*12px;*/
        width: 100%;
		overflow:hidden;
		background-color:#CCCCCC;
	}
	
	.rightContent .tabsContainer .tab .linkContainerSelected {
		background-color:#EAEAEA;
	}
	
	.rightContent .tabsContainer .tab .linkContainer .padding {
		display:inline;
		float:left;
		height:1.46em;/*14px;*/
	}
	
	.rightContent .tabsContainer .tab .linkContainer .link {
		display:block;
		text-align:center;
        padding:0 0.73em 0 0.73em;
	}
	
	.rightContent .tabsContainer .tab .bottom {
		display:block;
		clear:both;
		height:0.42em;/*4px;*/
        width: 100%;
		background-color:#CCCCCC;
		overflow:hidden;
	}
	
	.rightContent .tabsContainer .tab .bottomSelected {
		background-color:#EAEAEA;
	}
	
	.rightContent .tabsContainer .tab .fadeBottomImg {
		height:0.42em;/*4px;*/
        width:100%;
	}
    
    .rightContent .tabsContainer .tab .linkContainer  .on {
        font-weight:bold;
        font-size:10px;
        color:#FF6600;
    }
    
    .rightContent .tabsContainer .tab .linkContainer a:link, .rightContent .tabsContainer .tab .linkContainer a:visited, .rightContent .tabsContainer .tab .linkContainer a:active {
        font-size:10px;
        color:#666666;
    }
    
    .rightContent .tabsContainer .tab .linkContainer a:hover {
        color:#3399FF;
    }

	/* ----------------------------------------------------------------------------------- end tabs */

	/* ----------------------------------------------------------------------------------- start products */

	.rightContent .productsContainer {
		display:block;
		padding-left:0.73em;/*7px;*/
	    overflow:hidden;
	}
	
    .rightContent .productsContainer .productPadding a {
        text-decoration:none;
    }
    
    .rightContent .productsContainer .productPadding a:hover .prodName, .rightContent .productsContainer .productPadding a:hover .prodDesc, .rightContent .productsContainer .productPadding a:hover .prodNameDual {
        text-decoration:underline;
    }
	
	.rightContent .productsContainer .productContainer {
		width:14.27em; /*137px;*/
		height:31.77em; /*305px;*/
		border-right:1px solid #EBE8D8;
		display:inline;
		float:left;
		overflow:hidden;
        position:relative;
	}

	.rightContent .productsContainer .productContainerLong {
		height:38.23em; /*367px;*/
	}
	
	.rightContent .productsContainer .productBottom {
		width:12.50em;/*120px;*/
		height:1px; /*238px;*/
		margin:0.42em 0.42em 0.42em 0.52em; /*4px 4px 4px 5px;*/
		padding-left:0.52em;/*5px;*/
		padding-right:0.42em;/*4px;*/
		background-color:#EBE8D8;
		display:inline;
		float:left;
		overflow:hidden;
	}
	
	.rightContent .productsContainer .productBottomFirst {
		margin-left:0.31em;/*3px;*/
		padding-left:0.31em;/*3px;*/
		width:12.81em;/*123px;*/
	}
	
	.rightContent .productsContainer .productContainerNoBorder {
		border-right:0px;
	}
	
	.rightContent .productsContainer .productContainer .productPadding {
		position:absolute;
        top:1.04em; /*10px;*/
        left:0;
		overflow:hidden;
        margin-left:0.94em;
        padding-left:0.63em;
        width:12.08em; /*116px;*/
	}

	.rightContent .productsContainer .edgeCase {
		height:30em;/*288px*/
	}
	
	.rightContent .productsContainer .productContainer .prodImg {
		width:11.46em;/*110px;*/
		height:11.46em;/*110px;*/
		margin-bottom:0.94em;/*9px;*/
	}
	
	.rightContent .productsContainer .productContainer .prodName {
		text-transform:uppercase;
		font-weight:bold;
		font-size:1.15em;/*11px*/
		display:block;
		line-height:1.182em;		
	}
	
	.rightContent .productsContainer .productContainer .prodNameDual {
		text-transform:uppercase;
		font-size:1.15em;/*11px*/
		line-height:1.182em;
	}
	
	.rightContent .productsContainer .productContainer .prodDesc {
		display:block;
		clear:left;
		font-size:1.15em;/*11px*/
		margin-top:-0.104em;
		margin-bottom:-0.104em;
		line-height:1.182em;
	}
	
	.rightContent .productsContainer .productContainer .prodPrice {
		font-weight:bold;
		color:#000;
		font-size:1.46em;	/* 14px	*/
		line-height:1.214em;
		text-decoration:none;
		letter-spacing:-0.02em;
		display:block;
		margin-bottom:0.142em;
	}
	
	.rightContent .productsContainer .productContainer .prodPriceDual {
		display:block;
		color:#545454;
		font-size:1.15em;/*11px*/
        text-decoration:none;
		line-height:1.182em;
	}
	
	.rightContent .productsContainer .productContainer .prodFamily,
    .rightContent .prodRecsContainer .prodRecContainer .prodFamily {
		color:#FF6600;
		display:block;
		margin-bottom:-0.104em;
        font-size:1.15em;
		line-height:1.182em;
	}
	
	.rightContent .productsContainer .productContainer .prodPriceFamily,
    .rightContent .prodRecsContainer .prodRecContainer .prodPriceFamily {
		display:block;
		color:#000;
		margin-bottom:0.273em;
        font-size:1.15em;
		line-height:1.182em;
	}
	
	.rightContent .productsContainer .productContainer .moreOptions,
    .rightContent .prodRecsContainer .prodRecContainer .moreOptions{
		display:block;
		color:#666;
        font-size:1.15em;
		line-height:1.182em;
	}

	.rightContent .productsContainer .productContainer .size,
    .rightContent .prodRecsContainer .prodRecContainer .size {
		display:block;
		color:#666;
        font-size:1.15em;
		line-height:1.182em;
		cursor:pointer;	
	}
		    
	.rightContent .productsContainer .productContainer .cartContainer {
        position:absolute;
        top:24.02em; /*20 px from bottom*/
        left:0px;
        margin-left:1.56em;
  }

	.rightContent .productsContainer .productContainerLong .cartContainer {
        top:29.48em; /*20 px from bottom*/
  }

    .rightContent .productsContainer .productContainer .cartContainer .compare,
    .rightContent .prodRecsContainer .prodRecContainer .cartContainer .compare {
        margin-top:0.521em;
        margin-bottom:0.208em;
        display:none;
    }

    .rightContent .productsContainer .productContainer .cartContainer .compare label,
    .rightContent .prodRecsContainer .prodRecContainer .cartContainer .compare label {
			font-size:1.15em;
			line-height:1.182em;
			position:relative;
			top:-0.182em;    
		}
  
    .rightContent .productsContainer .productContainer .cartContainer .compare input,
    .rightContent .prodRecsContainer .prodRecContainer .cartContainer .compare input {
        margin-left:0;
    }
    
    .rightContent .productsContainer .productContainer .cartContainer .linkContainer {
        width:12.08em; /*116px;*/
    }

	/* Used beside .cartContainer when an edge case*/
    .rightContent .productsContainer .productContainer .edgeCase {
        top:25.00em; /*240 px*/
    }
    
    .rightContent .productsContainer .productContainer .cart {
		display:block;
		padding:0px; /* t r b l */
		margin:0px; /* t r b l */
		width:1.67em;/*16px*/
		height:1.98em;/*19px*/
	}
	
	.rightContent .productsContainer .productContainer .cartNotAvailable {
		display:block;
		padding:0px; /* t r b l */
		margin:0px; /* t r b l */
		margin-left:2.08em;/*20px;*/
		margin-bottom:0.31em;/*3px;*/
		width:2.08em;/*20px*/
		height:2.19em;/*21px*/
	}
	
	.rightContent .productsContainer .productContainer .moreLink,
    .rightContent .prodRecsContainer .prodRecContainer .moreLink    {
		display:block;
		padding:0px 1.04em 0.36em 0 ; /* t r b l */
		margin:0px; /* t r b l */
        font-size:1.15em;
		line-height:1.09em; 
	}

	.rightContent .productsContainer .productContainer .stockLink,
    .rightContent .prodRecsContainer .prodRecContainer .stockLink    {
		display:block;
		padding:0px 1.04em 0.36em 0 ; /* t r b l */
		margin:0px; /* t r b l */
        font-size:1.15em;
		line-height:1.09em;
		color: #FF7F00; 
	}
	
	.rightContent .productsContainer .productContainer .newImgSmall{
		position:absolute;
        top:11.98em; /*115px;*/
        left:1.56em; /*15px;*/
        z-index:10;
    }

	/* ----------------------------------------------------------------------------------- end products */
	
	/* ----------------------------------------------------------------------------------- start large products */

	.rightContent .prodRecsContainer {
		display:block;
		margin-left:1.04em;/*10px;*/
		overflow:hidden;
		margin-bottom:1.04em;
		border-bottom:1px solid #EBE8D8;
	}
	
	.rightContent .prodRecsContainer .prodRecPadding {
		display:inline;
		float:left;
		padding:1.04em 1.46em 0 1.46em ;/*10px 14px 0px 10px;*/ /* t r b l */
	}
	
	.rightContent .prodRecsContainer .prodRecContainer {
		width:32.92em;/*316px;*/
		height:400px;
		overflow:hidden;
        position:relative;
	}
	
	.rightContent .prodRecsContainer .prodRecContainer .prodImg {
		margin-left:3.44em; /*33px;*/
		display:block;
		width:26.04em;/*250px*/
		height:26.04em;/*250px*/
	}
	
	.rightContent .prodRecsContainer .prodRecContainer .prodInfo {
		position:absolute;
		left:0px;
        top:188px;
	}

    .rightContent .prodRecsContainer .prodRecContainer .prodInfo a {
        text-decoration:none;
    }
    
    .rightContent .prodRecsContainer .prodRecContainer .prodInfo a:hover .prodName, 
    .rightContent .prodRecsContainer .prodRecContainer .prodInfo a:hover .prodInfoRow {
        text-decoration:underline;
    }

	.rightContent .prodRecsContainer .prodRecContainer .prodInfoRow {
		display:block;
		font-size:1.15em;/*11px*/
	}
	
	.rightContent .prodRecsContainer .prodRecContainer .prodName {
		text-transform:uppercase;
		font-weight:bold;
		display:block;
		font-size:1.15em;/*11px*/
        display:block;
        width:10.8em; /*120px;*/
	}
	
	.rightContent .prodRecsContainer .prodRecContainer .prodPrice {
		font-weight:bold;
		display:block;
		color:#000;
		font-size:2.29em;/*22px;*/
		padding-top:0.06em;
		text-decoration:none;
		line-height:1.214em;
	}
	
	.rightContent .prodRecsContainer .prodRecContainer .prodPriceDual {
		display:block;
		color:#545454;
		font-size:1.15em;/*11px*/
        text-decoration:none;
	}
	
	.rightContent .prodRecsContainer .prodRecContainer .cartContainer {
		display:block;
        position:absolute;
        top:315px;
        left:0;
        width:32.92em;/*316px;*/
		height:1.98em;/*19px;*/
	}

	.rightContent .prodRecsContainer .prodRecContainer .cart {
		display:block;
		width:1.67em;/*16px*/
		height:1.98em;/*19px*/
	}
	
	.rightContent .prodRecsContainer .prodRecContainer .cartNotAvailable {
		display:block;
		width:2.08em;/*20px*/
		height:2.19em;/*21px*/
	}
	
	.rightContent .prodRecsContainer .prodRecContainer .allProductsContainer {
		display:inline;
		float:right;
	}
    
	.rightContent .prodRecsContainer .prodRecBorder {
		display:inline;
		float:left;
		background-color:#EBE8D8;
		height:390px; /*285px;*/
		width:1px; /*1px;*/
		overflow:hidden;
        margin-top:1.04em;
	}

	/* ----------------------------------------------------------------------------------- end large products */
	
	/* ----------------------------------------------------------------------------------- start ads classes */

	.rightContent .adsContainer {
	    padding-left:0.94em; /*9px;*/
		width:72em;
	    display:block;
	    clear:both;
	    overflow:hidden;
	}
	
	.rightContent .bottomContainer {
		height:0.94em; /*9px;*/
	}
	
	.rightContent .adsContainer .adBottom {
	    width:17.08em;/*164px;*/
	    height:1px; /*1px;*/
	    margin:0.42em 0.42em 0.42em 0.52em;/*4px 4px 4px 5px;*/
	    background-color:#EBE8D8;
	    float:left;
	    overflow:hidden;
	}
		
	.rightContent .adsContainer .adBottomFirst {
	    margin-left:0;
	    padding-left:0.42em;
			clear:left;
	}
	
	.rightContent .adsContainer .adBottomLast {
	    width:17.19em;/*165px;*/
	    margin-right:0px;
	    clear:right;
	}
	
	.rightContent .seriesContainer {
		height:25.52em; /* 245px */
	}
	
	.rightContent .adsContainer .productRecallBorder {
	    border:0.21em solid #FF6600; /*2px*/
	    float:left;
        display:inline; /* NOTE!! IE fix. Otherwise it will create a 2px margin-left and split the row */
	    margin-left:0.10em; /*1px;*/
	    margin-right:0.21em; /*2px;*/
	}
	
	.rightContent .adsContainer .productRecallContainer {
		width:17.29em; /* 166px */
	    height:26.15em; /* 251px */
	    display:inline;
	    float:left;
        overflow:hidden;
	}
	
	.rightContent .adsContainer .adKnowledgeContainer {
		width:17.9em; /* 172px */
	    height:27.5em; /* 264px */
	    display:inline;
	    float:left;
	    border-left:1px solid #EBE8D8;
        overflow:hidden;
	}

	.rightContent .adsContainer #flashcontent, .rightContent .adsContainer #flashcontent_used {
		width:17.9em; /* 172px */
	    height:26.56em; /* 255px */
	    display:inline;
	    float:left;
        overflow:hidden;
		margin-left:0em;
	}
	
	.rightContent .adsContainer .adSeriesContainer {
		width:17.9em; /* 172px */
	    height:26.56em; /* 255px */
	    display:inline;
	    float:left;
	    border-left:1px solid #EBE8D8;
        overflow:hidden;
	}

	.rightContent .adsContainer .adSeriesContainerNoBorder {
		border:0;
		clear:left;
	}

	
	.rightContent .adsContainer .adContainerNoBorder {
		border:0px;
	  clear:right;
	}
	
	* html .rightContent .adsContainer .adContainerNoBorder {
	    clear:none;
	}
	
	.rightContent .adsContainer .content, .leftNavigation .adContainer .content  {
	    display:block;
	    margin:0.94em 1.56em 1.04em 1.56em; /* 9px 15px 10px 15px*/
	    text-align:center;
	}
	
	.rightContent .adsContainer .content a, .leftNavigation .adContainer .content a  {
	    color:#3399FD;
		display:block;
	}
	
	.rightContent .adsContainer .adImg, .leftNavigation .adContainer .adImg  {
	    height:11.98em; /* 115px */
	    border:0px;
	    clear:both;
        display:block;
	    margin-bottom:0.42em; /* 4px */
        margin-left:auto;
        margin-right:auto;
	}
    
    .rightContent .adsContainer .newImgContainer, .leftNavigation .adContainer .newImgContainer {
        position:relative;
        /*top:13.75em; /*132px;*/
        top:3.94em; /*34px;*/
        left:-0.42em; /* -4px  */
        text-align:left;
    }
    
	.rightContent .adsContainer .adKnowledgeContainer .content .adImg {
	    width:13.54em; /* 130px */
	}
	
	.rightContent .adsContainer .productRecallContainer .content .adImg {
	    width:13.54em; /* 130px */
	    margin:0 0.31em; /* 3px */
	}
	
	.rightContent .adsContainer .adSeriesContainer .content .adImg {
	    width:14.79em; /* 142px */
	}
	
	
	.rightContent .adsContainer .content .headerContainer, .leftNavigation .adContainer .content .headerContainer  {
		height:3.54em; /* 34px */
		overflow:hidden;
		margin-bottom:0.63em; /*8px;*/
	}

	.rightContent .adsContainer .content .headerContainerNewImg, .leftNavigation .adContainer .headerContainerNewImg {
	    margin-top:-1.458em; /*-14px;*/
	}
	
	.rightContent .adsContainer .content .headerContainer .header, .leftNavigation .adContainer .content .headerContainer .header {
	    font-size:1.456em; /* 14px*/
	    color:#333;
	    line-height:1.14em;
	    display:block;
	}
	
	.rightContent .adsContainer .content .headerContainer .subHeader, .leftNavigation .adContainer .content .headerContainer .subHeader {
	    font-size:1.46em; /* 14px*/
	    color:#999999;
	    padding-top:0.63em; /*6px;*/
	}
	
	.rightContent .adsContainer .content .text, .leftNavigation .adContainer .content .text {
	    font-size:1.15em; /* 11px*/
			line-height:1.18em;
	    color:#333;
	    text-align:center;
        display:block;
        padding-top:0.36em;
	}
	
	.rightContent .adsContainer .content .bullet, .leftNavigation .adContainer .content .bullet {
	    font-size:1.04em; /* 10px*/
	    color:#666666;
	    display:list-item;
	    list-style-position: inside;
	    padding-left:0.31em; /*3px;*/
	    text-align:left;
	}
	
	.rightContent .adsContainer .content .link, .leftNavigation .adContainer .content .link {
		display:block;
        padding-top:0.54em;
        font-size:1.144em;
        line-height:1.09em;
	}
	
	.rightContent .adBottomPadding {
		height:1.04em; /*10px;*/
		clear:both;
	}
	
	/* ----------------------------------------------------------------------------------- end ads classes */
	
	/* ----------------------------------------------------------------------------------- start services */
	.rightContent .servicesContainer {
	    padding-left:1.04em; /*10px;*/
	    display:block;
	    clear:both;
	}
	
	.rightContent .servicesContainer .serviceBorder {
	    border:1px solid #EBE8D8;
	    float:left;
	    margin-right:0.73em; /* 7px */
	}

	.rightContent .servicesContainer .noMargin {
	    margin:0px;
	}
	
	.rightContent .servicesContainer .serviceContainer {
		width:23.23em; /* 223px */
	    height:7.71em; /*74px */
        overflow:hidden;
	}
	
	.rightContent .servicesContainer .serviceContainerCenter {
		width:23.33em; /* 224px */
	}
	
	.rightContent .servicesContainer .serviceContainer .serviceContent {
	    padding:1.04em 0.73em 1.04em 0.73em;
	}
	
	.rightContent .servicesContainer .serviceContainer .serviceContent .imgContainer {
	    float:left;
	    display:inline;
	}
	
	.rightContent .servicesContainer .serviceContainer .serviceContent .textContainer {
	    width:13.6em; /* 150px; */
	    float:left;
        font-size:1.15em;
	}
	
	.rightContent .servicesContainer .serviceContainer .serviceContent .serviceImg {
	    width:5.21em; /* 50px */
	    height:5.21em; /* 50px */
	    margin-right:0.63em; /* 6px */    
	}
	
	.rightContent .servicesContainer .serviceContainer .serviceContent .linkImg {
	    margin-top:0.42em; /*4px;*/
	}
	
	.rightContent .servicesContainer .serviceContainer .serviceContent .textContainer .header {
	    display:block;
	}
	
	.rightContent .servicesContainer .serviceContainer .serviceContent .textContainer .text a, .rightContent .servicesContainer .serviceContainer .serviceContent .textContainer .text {
	    color:#333;
        text-decoration:none;
	}

	/* ----------------------------------------------------------------------------------- end services */
	
	/* ----------------------------------------------------------------------------------- start allSeries Module */
	.rightContent .allSeriesStart {
	    float:left;
	    display:inline;
	    width:0.94em; /*9px;*/
	    height:0.10em; /*1px;*/
	    clear:left;
	}
	
	.rightContent .allSeriesSplit {
	    float:left;
	    display:inline;
	    width:0.31em; /*3px;*/
	    height:0.10em; /*1px;*/
	}
	
	.rightContent .allSeriesContainer {
		float:left;
	    display:inline;
	    height:1.56em; /*15px;*/
	    width:27.92em; /*268px;*/
	    margin:0 3.94em 1.04em 3.94em; /*0 38px 10px 38px;*/
	    overflow:hidden;
	    background-color:#EBE7DB;
	}
	
	.rightContent .allSeriesContainer .textContainer {
		text-align:center;
	    display:inline;
	    width:23.33em; /*224px;*/
	    margin-left:1.56em; /*15px;*/
	    margin-right:1.56em; /*15px;*/
	    float:left;
	    padding-top:0.10em; /*1px;*/
	}
	
	.rightContent .allSeriesContainer .textContainer .text {
	    color:#666666;
	    display:inline;
	}
	
	.rightContent .allSeriesContainer .imgContainer {
	    float:left;
	}
	
	.rightContent .allSeriesContainer .endImg {
	    width:0.73em; /*7px*/
	    height:1.56em; /*15px*/
	}
	
	/* ----------------------------------------------------------------------------------- end allSeries Module */
	
    /* ----------------------------------------------------------------------------------- start Hero Banner */
    .rightContent .heroBannerContainer {
    	width:71.88em; /*690px*/
    	height:34.38em; /*330px*/
        margin-left:1.04em; /*10px;*/
    	overflow:hidden;
    	display:block;
    }
    
    .rightContent .heroBannerContainer .leftContainer {
        height:100%;
        float:left;
        display:inline;
    }

    .rightContent .heroBannerContainer .leftContainerL {
        width:51.04em; /*490px*/
    }
    
    .rightContent .heroBannerContainer .leftContainerS {
        width:40.63em; /*390px*/
    }
    
    .rightContent .heroBannerContainer .leftContainer .bgImg {
        height:34.38em; /*330px*/
        z-index:1;
    }

    .rightContent .heroBannerContainer .leftContainer .bgImgS {
        width:40.63em; /*390px*/
    }

    .rightContent .heroBannerContainer .leftContainer .bgImgL {
        width:51.04em; /*490px*/
    }
    
    .rightContent .heroBannerContainer .leftContainer .priceContainer {
        z-index:10;
        position:relative;
        height:6.04em; /*58px; */
        float:right;
        clear:right;
        margin-right:10px;
    }

    .rightContent .heroBannerContainer .leftContainer .priceContainerTop {
        top:-33.65em; /*-323px;*/
    }

    .rightContent .heroBannerContainer .leftContainer .priceContainerMid {
        top:-20.63em; /*-198px;*/
    }

    .rightContent .heroBannerContainer .leftContainer .priceContainerBottom {
        top:-6.77em; /*-65px;*/
    }

    .rightContent .heroBannerContainer .leftContainer .productName {
        font-weight:bold;
        color:#666666;
        display:block;
    }

    .rightContent .heroBannerContainer .leftContainer .productDescr {
        color:#666666;
        display:block;
    }

    .rightContent .heroBannerContainer .leftContainer .productPrice1 {
        font-size:2.92em; /*28px;*/
        font-weight:bold;
        color:#545454;
        display:inline;
    }
    .rightContent .heroBannerContainer .leftContainer .currencySign {
        font-size:1.88em; /*18px;*/
        font-weight:bold;
        vertical-align:super;
        display:inline;
    }

    .rightContent .heroBannerContainer .leftContainer .productPrice2 {
        color:#545454;
        display:inline;
    }
    
    .rightContent .heroBannerContainer .rightContainer {
        width:20.83em; /*200px;*/
        height:100%; /*330px;*/
        float:left;
        display:inline;
        overflow:hidden;
        /* Vertical align code */
        display:table;
        _position:relative;    /* IE code */
    }
    
    .rightContent .heroBannerContainer .rightContainerL {
        width:31.25em; /*300px;*/
    }
    
    .rightContent .heroBannerContainer .rightContainerS {
        width:20.83em; /*200px;*/
    }
    
    .rightContent .heroBannerContainer .rightContainer .adContainer {
        text-align:center;
        padding:0 1.04em 0 1.04em; /*60px 10px 0 10px;*/
        /* Vertical align code */
        display: table-cell; 
        vertical-align:middle;
        _position:absolute;         /* IE code */
        _top:50%;                   /* IE code */
    }
    
    .rightContent .heroBannerContainer .rightContainer .adContainer .tdContainer {
        text-align:center;
        /* Vertical align code */
        _position:relative;     /* IE code */
        _top:-50%;               /* IE code */
    }
    
    .rightContent .heroBannerContainer .rightContainer .adContainer .adHeader {
        font-weight:bold;
        font-size:2.92em; /*28px;*/
        color:#999999;
        display:block;
    }
    
    .rightContent .heroBannerContainer .rightContainer .adContainer .adSubHeader {
        font-size:1.15em; /*11px;*/
        color:#666666;
        display:block;
        padding-bottom:2.6em; /*25px;*/
    }

    .rightContent .heroBannerContainer .rightContainer .adContainer .adText {
        color:#666666;
        display:block;
    }

    .rightContent .heroBannerContainer .rightContainer .adContainer .adImg {
        width:15.73em; /*151px*/
        height:6.25em; /*60px*/
        border:0;
        padding:0.83em 1.46em 0.83em 1.46em; /*8px 14px;*/
    }
    
	.rightContent .heroBannerContainer .rightContainer .adContainer .linkContainer {
		display:block;
	}
    
    .rightContent .heroBannerContainer .rightContainer .adContainer .linkContainer a {
    	padding-left:1.04em;
    	background:url(link_arrow.gif) no-repeat center left;
    }
    
    /* ----------------------------------------------------------------------------------- end Hero Banner */
	
	/* ----------------------------------------------------------------------------------- start Hero Left Text */
    .rightContent .heroLeftTextContainer {
        width:71.88em; /*690px;*/
        height:28.13em; /*270px;*/
        display:block;
        margin-left:1.04em; /*10px;*/
        overflow:hidden;
    }
    
    .rightContent .heroLeftTextContainer .leftContainer {
        width:43.65em; /*419px;*/
        height:100%;
        display:inline;
        float:left;
        overflow:hidden;
        /* Vertical align code */
        display:table;
        _position:relative;    /* IE code */
    }
    
    .rightContent .heroLeftTextContainer .rightContainer {
        width:28.13em; /*270px;*/
        height:28.13em; /*270px;*/
        display:inline;
        overflow:hidden;
        float:left;
        clear:right;
    }
    
    .rightContent .heroLeftTextContainer .verticalDivider {
        background-color:#EBE8DB;
        width:0.10em;/*1px;*/
        height:26.04em; /*250px;*/
        display:inline;
        float:left;
        margin-top:1.04em; /*10px;*/
    }
    
    .rightContent .heroLeftTextContainer .leftContainer .td {
        padding:1.04em 4.69em 2.08em 4.69em; /*10px 45px 20px 45px;*/
        /* Vertical align code */
        display: table-cell; 
        vertical-align:middle;
        _position:absolute;         /* IE code */
        _top:50%;                   /* IE code */
    }
    
    .rightContent .heroLeftTextContainer .leftContainer .td .tdContainer {
        text-align:center;
        /* Vertical align code */
        _position:relative;     /* IE code */
        _top:-50%               /* IE code */
    }

    .rightContent .heroLeftTextContainer .leftContainer .td .tdContainer .header {
        color:#999999;
        line-height:1em; /*28px;*/
        font-size:2.92em; /*28px;*/
        font-weight:bold;
        padding-bottom:0.52em; /*20px;*/
    }

    .rightContent .heroLeftTextContainer .leftContainer .td .tdContainer .text {
        color:#666666;
        font-size:1.15em; /*11px;*/
        padding-bottom:1.88em; /*18px;*/
    }

    .rightContent .heroLeftTextContainer .leftContainer .td .tdContainer .linkContainer {
        text-align:center;
    }
    
    .rightContent .heroLeftTextContainer .rightContainer .img {
        margin-left:1.04em; /*10px;*/
		margin-top:1.04em; /*10px;*/
        width:26.04em; /*250px;*/
		height:26.04em; /*250px;*/
    }

    .rightContent .heroLeftTextContainer .link {
    	padding-left:1.04em;
    	background:url(link_arrow.gif) no-repeat 0px 0.31em;
    }

    /* ----------------------------------------------------------------------------------- end Hero Left Text */

	/* ----------------------------------------------------------------------------------- start link box */

	.allLinkBoxContainer {
		float: left; 
        padding-left: 4.38em; 
        padding-top: 1.04em;
		font-size:1.04em;
		font-weight: normal;

	}
	.allSeriesLinkBox {
		margin-right: 8.75em;
		float: left;
	}
	.allSeriesLinkBox2 {
		float:left;
	}
	.allSeriesLinkBoxInnerContainer {
		width:27.92em;
		text-align:left;
		height: 1.55em;
	}
	.allSeriesLinkBoxInner {
		float:left;
		background: #ebe7db;
		width:22.27em;
		text-align: center;
		height: 1.45em;
		padding-top:0.1em;
	}
	.allSeriesLinkBoxInnerLeft {
	float:left;
	}
	.allSeriesLinkBoxInnerLeft img {
	width:0.83em;
	}
	.allSeriesLinkBoxInnerRight img {
	width:0.83em;
	}
	.allSeriesLinkBoxInnerRight {
	float:left;	
	} 

	/* ----------------------------------------------------------------------------------- end link box */
	
	/* ----------------------------------------------------------------------------------- start all products link */
	
	.allProductsLink {
		text-align:right;
	}
	.allProductsLink a:hover, .allProductsLink a:visited, .allProductsLink .a:active {
		color:#66666;
	}

	.allProductsLink a:link{
		color:#66666;
	}

	/* ----------------------------------------------------------------------------------- end all products link */

    .rightContent .promotionHeadline {
        font-size:1.35em; /*13px;*/
        color:#999999;
        padding-left:0.83em; /*11px;*/
        padding-bottom:0.52em; /*10px;*/
    }
    
.rightContent .promotionHeadlineLink {
	padding:1.67em 0 0.625em 1.04em;
}
    
.rightContent .promotionHeadlineLink .text,
.rightContent .promotionHeadlineLink .divider,
.rightContent .promotionHeadlineLink .link {
	font-size:1.875em;
}

.rightContent .promotionHeadlineLink .divider {
	color:#ccc;
	margin-left:0.222em;
	margin-right:0.167em;
}

    
	.rightContent #flashcontent, .rightContent #flashcontent_used {
		margin-left:1em;
		overflow:hidden;
	}


/* ----------------------------------------------------------------------------------- end right content */

/* ------------------------------------------------- Added by AAS project - style classes for local store ad start  */
.leftNavigation .navigationBlock .sideModuleStoreOffers {
	border: 1px solid #ebe8db;	
    padding-top:0.73em;
	background-color:#faf9f4;
	padding-bottom:1.56em; 
	padding-left:0.94em; 	
}
.leftNavigation .navigationBlock .sideModuleStoreOffers .storeImageContainer .adStoreImg {
	width:146px; 
	height:127px; 
}
.leftNavigation .navigationBlock .sideModuleStoreOffers .selectStore {	
	width:19.06em;
}
.leftNavigation .navigationBlock .sideModuleStoreOffers .selectStore select {
	font-size:1em;
	height:1.77em;
	width:13.54em;
}
.leftNavigation .navigationBlock .sideModuleStoreOffers .selectStore img {
	width:4.38em;
	height:2.08em;
}
.mTop10 { 
	margin-top:1.04em;
}
#allProductsNavigation #localStoreOffersAD {
    width:10.78em;
}
.offerText
{
	font-size:1.25em;
	font-weight:bold;
	color:#464646;
}
.headerBlock {
	margin-bottom: 1.04em;
	overflow: hidden;
	height: auto;
	padding-top:0.52em;	
	padding-bottom:1.04em;
}
/* ------------------------------------------------- Added by AAS project - style classes for local store ad end  */

/* ------------------------------------------------- BTI FW10 start  */

.productBtiBack {
	background-color:#FF0000;
	margin:0 0 0.52em 0.52em;
	position:relative;
}

.rightContent .productsContainer .productContainer.productBtiBack {
	margin-top:-0.21em; 
}

.productBtiFront {
	background-color:#FFCC00;
	left:-0.52em;
	position:relative;
	text-align:center;
	top:-0.52em;
	padding:0.73em 0.31em 0.63em 0.31em;
}

.productBtiFront .prodName,
.productBtiFront .prodDesc,
.productBtiFront .prodInfoRow {
	color:#000;
}

.productBtiFront .prodInfoRow {
	margin-top:-0.104em;
}

.productBtiFront .prodPrice {
	margin:-0.05em 0;
}

.productBtiFront .prodPriceFamily {
	margin-top:-0.104em;
}

.rightContent .prodRecsContainer .prodRecContainer .productBtiFront .prodName , .productBTI .productBtiFront .prodName {
	width:auto;
}

.rightContent .productsContainer .productContainer .productBtiFront .prodPriceFamily {
	color:#000;
	margin-bottom:-0.21em;
}
		
.rightContent .prodRecsContainer .prodRecContainer .productBtiBack , .productBTI .productBtiFront {
	margin-bottom:0.42em;
}

.rightContent .prodRecsContainer .prodRecContainer .productBtiFront , .productBTI .productBtiFront {
	padding:0.73em 0.83em 0.52em 0.83em;	
}

.rightContent .prodRecsContainer .prodRecContainer .productBtiFront .prodPrice, .productBTI .prodPrice {
	color:#000;
	letter-spacing:-0.04em; /* -1px */
	padding:0 0.12em 0 0; /* 3px */
	font-size:2.5em;
	display:inline;
}	

.rightContent .prodRecsContainer .prodRecContainer .productBtiFront .prodUnit, .productBTI .prodUnit {
	color:#000;
	font-size:1.15em;
	display:inline;
	font-weight:bold;
	margin-left:-0.45em; /* -5px */
	padding-right:0.09em; /* 1px */
}	

.rightContent .prodRecsContainer .prodRecContainer .productBtiFront .prodFamily , .productBTI .prodFamily {
	margin-top:-0.104em;	
	display:block;
}

.rightContent .prodRecsContainer .prodRecContainer .productBtiFront .prodPriceFamily , .productBTI .prodPriceFamily {
	color:#000;
	margin-bottom:0.31em;
	display:block;
}		

.rightContent .prodRecsContainer .prodRecContainer .newImgSmall{
	position:absolute;
	z-index:1;
	top:-1.66em;
}

.productBTI a {
    text-decoration:none;
}

.productBTI a:hover .prodName, .productBTI a:hover .prodInfoRow {
    text-decoration:underline;
}

.productBTI .prodName {
	text-transform:uppercase;
	font-weight:bold;
	display:block;
	font-size:1.15em;/*11px*/
	display:block;
}

.productBTI .prodInfoRow {
	display:block;
	font-size:1.15em;/*11px*/
}

.productBTI .prodPrice {
	font-weight:bold;
	padding-top:0.04em; /* 1px */
	text-decoration:none;
}

.productBTI .prodFamily {
	font-weight:bold;
	color:#FF6600;	
}

.productBTI .newImgSmall {
	margin-bottom:0.52em;
}

.productBTI .productBtiContainer {
	position:relative;
	top:0.52em;
	float:left;
}

.dropdownBTI {
	clear:left;
	padding-top:0.94em;	
}

.dropdownBTI label {
	display: block;
}

/* ------------------------------------------------- BTI FW10 end  */

/* ------------------------------------------------- Tooltip FW10 start   */
/* Used for display of big image on mouseover on product image */
.tt {
    position:absolute;
    display:block;
    z-index:1000;
    overflow:hidden;
 }
 
.tt .ttcont {
    display:block;
    padding:0;
    color:#FFF;
}

.tt img.bigView {
    width:250px;
    height:250px;
    border:1px solid #CCC;
    background-color:#FFF;
}

.tt img.shadowB {
    display:block;
    border:0;
    margin:0;
    height:2px;
    opacity: 0.6;
    filter:alpha(opacity=60);
}

.tt img.shadowR {
    margin:0;
    border:0;
    width:2px;
    opacity: 0.6;
    filter:alpha(opacity=60);
}

/* ------------------------------------------------- Tooltip FW10 end   */

/* ------------------------------------------------- Long Benifit Ad start --------- */

.longBenifitAd {
	margin-left:0.94em;
	border:1px solid #EBE8DB;
	height:38.54em;
	position:relative;
}

.longBenifitAd .imageContainer{
	display:table;
	height:100%;
	width:35.94em;
	float:left;
}

.longBenifitAd .imageContainer .image {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.longBenifitAd .textContainer{
	padding:4.17em 1.04em 4.17em 1.56em;
	width:32.71em;
	height:30.21em;
	float:right;
}

.longBenifitAd .textContainer .text {
	overflow:auto;
	height:100%;
	padding-right:0.45em;
	font-size:1.15em;
	color:#333;
	line-height:1.27em;
}

/* ------------------------------------------------- Long Benifit Ad end --------- */

/* ------------------------------------------------- FlashContent start ---------- */

.firstFlashContent {
	margin-top:0.83em;
}

/* ------------------------------------------------- FlashContent end ------------ */

/* ------------------------------------------------- WEE start ---------- */

div.prfcontainer {
	position: relative;
	clear: both;
	font-size: 1.15em;	/* 11 px */
	margin: -0.363em 0;	/* 4px */	
}

div.prodInfo  div.prfcontainer {
  margin: -0.36em 0 0 0;
}

div.bti {
	padding-top: 0.363em !important; /* 4px */
}

div.prodInfo div.bti {
	padding-top: 0.454em !important; /* 5px */
}

div.prfcontainer a {
	color: #3399FD;
	text-decoration: none;
}

div.prfcontainer a:hover {
	text-decoration: underline !important;
}

div.prfcontainer .lessprice {
	color: #999;
}

div.prfcontainer .prf {
	color: #000;
	margin: 0.454em 0 0.272em 0; /* 5px 3px */
}

div.prodInfo div.bti div.prf {
	margin-top: 0.272em; /* 5px 3px */
}

div.prfcontainer .prflist {
	color: #000;
	margin: 0.272em 0 0.636em 0; /* 3px 7px*/	
}

div#prfinfo {
	position: absolute;
	z-index: 100;
	margin: 0;
	padding: 1.632em 1.56em 1.632em 1.56em;
	border: 1px solid #CCC;
	background-color: #fff;
	width: 270px;
	font-family: Verdana;
	font-size: 1.0em;
	display: none;
}

div#prfinfo .headline {
	margin: 0;
	padding: 0;
	font-size: 1.46em;
	color: #333;
}

div#prfinfo .body {
	margin: 1.15em 0 0 0;
	padding: 0;
	line-height: 1.67em;
	font-size: 1.15em;
	color: #333;
}

div#prfinfo .link {
	font-size: 1.15em;
	margin: 1.3em 0 0 0;
	padding: 0;
}

div#prfinfo a {
	color: #3399FD;
	text-decoration: none;
}

div#prfinfo a:hover {
	text-decoration: underline;
}

div#prfinfo .buttonContainer a:hover {
	text-decoration: none;
}

div#prfinfo .btns {
	margin: 0.864em 0 0 0;
	padding: 0;
	text-align: right;
}
/* ------------------------------------------------- WEE End ---------- */


/* ------------------------------------------------- NLP  Start ---------- */

.nlpContent {
    position:relative;
    text-align:left;
}

.nlpContent .loader {
    background:url("loading.gif") center center no-repeat;
    height:11.98em;
}

.nlpContent .leftBtn {
    background:url('btnLeft.png') no-repeat;
    width:24px;
    height:24px;
    position:absolute;
    left:0;
    top:35px;
    z-index:10;
}

.nlpContent .leftBtn:hover {
     background:url('btnLeftMouseOver.png') no-repeat;
}

.nlpContent .rightBtn {
    background:url('btnRight.png') no-repeat;
    width:24px;
    height:24px;
    position:absolute;
    right:0;
    top:35px;
    z-index:10;
}

.nlpContent .rightBtn:hover {
  background:url('btnRightMouseOver.png') no-repeat;
}

.nlpContent .nlpClipArea {
    position:absolute;
    width:142px;
    overflow:hidden;   
    height:220px;
}

.nlpContent .products {
    position:absolute;
}

.nlpContent .product {
    float:left;
    width:14.79em;
}

.nlpContent .image {
    text-align:center;
    position:relative;
}

.nlpContent .image .newLowerPriceImage {
    margin-top:-24px;
    margin-right:100px;
}

.nlpContent img {
    margin-top:-4px;
    margin-bottom:0.31em;
}

.nlpContent .name {
    text-align:left;
    font-size:11px;
    font-weight:bold;    
}
.nlpContent .description {
    text-align:left;
    font-size:1.15em;
}

.nlpContent .link {
    text-align:left;
}



/* ------------------------------------------------- NLP  Ends ---------- */


