/* ----------------------------------------------------------------------------------- start top banner */
.mainMsgContainer {
	width:93.75em; /*900px*/
    height:34.38em; /*330px*/
    display:block;
    margin-bottom:2.08em; /*8px;*/
    border:0;
    overflow:hidden;
    color:#545454; /* or #545454 */
}

.mainMsgContainer .leftContainer {
    width:74.79em; /*718px;*/
    height:100%;
    float:left;
    margin-right:0.21em; /*2px;*/
    position:relative;
    display:inline;
}

.mainMsgContainer .leftContainer .flashAd {
	width:74.79em; /*718px;*/
    height:34.38em; /*330px*/
	overflow:hidden;
	display:block;
}

.mainMsgContainer .leftContainer .bgImg {
    width:74.79em; /*718px;*/
    height:34.38em; /*330px;*/
    position:absolute;
    z-index:1;
}

.mainMsgContainer .leftContainer .textContainer {
    z-index:2;
    padding-top:2.60em; /*25px;*/
    padding-left:2.60em; /*25px;*/
}

.mainMsgContainer .leftContainer .productContainer {
    z-index:2;
    padding-right:2.60em; /*25px;*/
}

.mainMsgContainer .leftContainer .leftHeader {
    font-weight:bold;
    font-size:3.13em; /*30px;*/
    line-height:1em; /*32px;*/
    z-index:2;
}

.mainMsgContainer .leftContainer .newImgLarge {
    display:block;
}

.mainMsgContainer .leftContainer .product {
    font-weight:bold;
    font-size:1.88em; /*18px;*/
}

.mainMsgContainer .leftContainer .productLocal {
    font-size:1.46em; /*14px;*/
}

.mainMsgContainer .leftContainer .descr {
    font-size:1.15em; /*11px;*/
    display:block;
    line-height:1em; /*32px;*/
}

.mainMsgContainer .leftContainer .price {
    font-size:3.33em; /*32px;*/
    font-weight:bold;
    display:block;
    line-height:1em; /*32px;*/
}

.mainMsgContainer .leftContainer .priceLocal {
    font-size:1.88em; /*18px;*/
    display:block;
    line-height:1em; /*18px;*/
}

.mainMsgContainer .leftContainer .familyHeader {
    font-size:1.46em; /*14px;*/
    font-weight:bold;
    display:block;
    color:#FF6600;
}

.mainMsgContainer .leftContainer .familyPrice {
    font-size:1.46em; /*14px;*/
    display:block;
}

.mainMsgContainer a.link:link, .mainMsgContainer a.link:visited {
    display:block;
    font-size:1.15em; /*11px;*/
    text-decoration:none;
}

.mainMsgContainer a.link:active, .mainMsgContainer a.link:hover {
    text-decoration:underline;
}

.mainMsgContainer .rightContainer {
    width:18.75em; /*180px;*/
    height:100%;
    float:right;
    position:relative;
    display:inline;
}

.mainMsgContainer .rightContainer .flashAd {
	width:18.75em; /*180px;*/
    height:34.38em; /*330px*/
	overflow:hidden;
	display:block;
}

.mainMsgContainer .rightContainer .textContainer {
    z-index:2;
    padding:0 1.56em 0 1.56em; /*0 15px 0 15px;*/
}

.mainMsgContainer .rightContainer .rightHeader {
    font-weight:bold;
    font-size:1.88em; /*18px;*/
    line-height:1em; /*20px;*/
    z-index:2;
    display:block;
}

.mainMsgContainer .rightContainer .text {
    font-size:1.15em; /*11px;*/
}

.mainMsgContainer .rightContainer .text a, .mainMsgContainer .rightContainer .rightHeader a {
    display:block;
}

.mainMsgContainer .rightContainer .bgImg {
    width:18.75em; /*180px;*/
    height:34.38em; /*330px;*/
}

.firstFlashContent {
	margin-bottom:2.08em;
}
	

/* ----------------------------------------------------------------------------------- end top banner */