@charset "utf-8";

html,body,div,span,
applet,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dd,dl,dt,ul,ol,li,
form,fieldset,label,legend, 
table,caption,tbody,tfoot,thead,tr,th,td {
	margin:0; 
	padding:0;
	border:0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	line-height: 1.2;
	font-family: inherit;
	text-align: left;
	vertical-align: baseline;
}





:focus {outline: 0;}

table { border-collapse:collapse; border-spacing:0; } /* tables still need 'cellspacing="0"' in the markup */
caption, th, td {text-align: left; font-weight: normal;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}

em{font-style: italic;}
strong{font-weight: bold;}

ol,ul {list-style:none;} /* back : ul{padding:1em 0 1em 50px;} li{list-style-type: disc; display: list-item;} */
li {display: block;}

body{background-color:#fff;}
body,
input, select, textarea{
	font-family : Tahoma, Geneva, Arial, sans-serif;
/*	font-family : "Trade Gothic", TradeGothic, Tahoma, Geneva, Arial, sans-serif;*/
	font-size : 12px; color: #000; 
}
/*q:before,q:after,blockquote:before,blockquote:after { content:''; } */
.sepa{clear: both;}
.exlef{position:absolute; left:-2000px;}
.flocont:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.flocont{display: inline-block;}
.flocont{display: block;}
