/* default styles for extension "tx_wecdiscussion_pi1" */

/*-------------------------- MAIN DISCUSSION STYLES ---------------------------*/
.tx-wecdiscussion-pi1 {
	font-family: 	Arial, Tahoma, Verdana, "Times New Roman";
	font-size:		12px;
}
.tx-wecdiscussion-page {
	float:			left;
	width:			100%;
	max-width:		532px;
	min-width:		350px;
	margin:			0px;
	padding:		0px;
}
.tx-wecdiscussion-mainContent {
	float:			left;
	width:			75%;
	margin:			0px;
	padding:		0px;
}
.tx-wecdiscussion-sidebar {
	float:			right;
	width:			25%;
	padding:		0px;
	margin:			0px;
	background-color: #F0F0E0;
}
.tx-wecdiscussion-sidebar .gutter{
	padding:		6px;
}
.tx-wecdiscussion-actionbar {
	float:			left;
	width:			100%;
    margin: 		0px;
	padding:		0px;
	background-color: #F0F0E0;
}
.tx-wecdiscussion-actionbar span {
	float:			left;
    margin: 		0px;
	margin:			4px 0px 4px 10px;
	vertical-align: bottom;
}
.tx-wecdiscussion-actionbar .gutter{
	padding:		4px;
}
.tx-wecdiscussion-title {
	font-size:		16px;
	font-weight:	bold;
	text-align:		center;
	margin:			0px auto;
}
.tx-wecdiscussion-responseMsg {
	font-weight:	bold;
	color: 			#F02020;
	text-align: 	center;
	margin:			0px auto;
	margin-top: 	4px;
	margin-bottom: 	8px;
}
.tx-wecdiscussion-header {
	font-size:		14px;
	font-weight:	bold;
}
.tx-wecdiscussion-requiredText {
	font-size:		12px;
	font-weight:	bold;
	color:			#B03030;
}
.tx-wecdiscussion-error {
	font-size:	13px;
	font-weight:bold;
	color:		#3020F0;
}
.tx-wecdiscussion-search {
	float:			right;
	margin:			2px;
	margin-right:	10px;
}
.tx-wecdiscussion-smalltext {
	font-size:	9px;
}
.tx-wecdiscussion-button {
	text-align:center;
	padding:		3px 0px 3px 0px;
	text-decoration: none !important;	
}
.tx-wecdiscussion-button a, .tx-wecdiscussion-button a:active, .tx-wecdiscussion-button a:link, .tx-wecdiscussion-button a:visited {
    font-family: 	arial, tahoma, sans-serif;
	font-size:		12px;
	padding: 		2px 4px 2px 4px;
    margin:         0px 6px 2px 0px;
	border: 		1px #aaa solid;
	text-decoration: none !important;
	background-color:#777777 !important;
	color: 			 #FFFFFF !important;
}
.tx-wecdiscussion-button a:hover {
	border: 		1px #ccc solid;
	background-color: #AC0000 !important;
	color: 			#FFFFFF !important;
}

.tx-wecdiscussion-pagelink-section {
	display:		block;
	text-align:		center;
	margin:			0px auto;
}
.tx-wecdiscussion-pagelink {
	display:		inline;
	padding-left:	6px;
	padding-right:	6px;	
}
.tx-wecdiscussion-itemFullWidth {
	width:		100%;
	text-align:	center;
	margin:		0px auto;
	padding-top:10px;
	
}
.tx-wecdiscussion-itemColumn {
	float:none !important;
	vertical-align:top;
	padding:0px !important;
	margin-left:4px;
}
.tx-wecdiscussion-itemRow {
	vertical-align:top;
	padding-left:4px;
}
.tx-wecdiscussion-list {
	margin:		0px;
	margin-top: 4px;
	padding:	6px;
	font-size:	13px;
	background-color: #FFFFFF;
}
.tx-wecdiscussion-listHeader {
	font-family: 	arial, tahoma, sans-serif;
	font-size:		13px;
	font-weight:	bold;
}
.tx-wecdiscussion-listElement, .tx-wecdiscussion-listElement a, .tx-wecdiscussion-listElement a:visited, .tx-wecdiscussion-listElement a:link, .tx-wecdiscussion-listElement a:hover, .tx-wecdiscussion-listElementSelected a, .tx-wecdiscussion-listElementSelected a:visited, .tx-wecdiscussion-listElementSelected a:link {
	display:		block;
	font-size:		12px;
	padding:		3px 0px 0px 3px;
	margin:			0px;
	white-space:	nowrap;
	text-decoration: none !important;
	color:			#320C0C;
}
.tx-wecdiscussion-listElement a:hover {
	color:		#279838;
}
.tx-wecdiscussion-listElementSelected a, .tx-wecdiscussion-listElementSelected a:visited, .tx-wecdiscussion-listElementSelected a:link  {
	padding:	3px 0px 0px 6px;
	color: 		#C53434;
}
.tx-wecdiscussion-listElement li {
	margin-left:10px;
}
.tx-wecdiscussion-listElement a {
	display:	inline;
}
.tx-wecdiscussion-listElementAll {
	margin-top:		8px;
	margin-bottom:	8px;
	margin-left:	10px;
}
/*------------------------------- FORM -------------------------------------------*/
.tx-wecdiscussion-form, .tx-wecdiscussion-forumMessageSubject,
.tx-wecdiscussion-forumMessage, .tx-wecdiscussion-forumMessageInfo, .tx-wecdiscussion-forumMessageDivider,
.tx-wecdiscussion-forumMessageReplyButton, .tx-wecdiscussion-forumMessageReply, .tx-wecdiscussion-forumMessageReplyInfo {
	font-family: 	Arial, Tahoma, "Trebuchet MS", Georgia, sans-serif;
	font-size: 		12px;
}

.tx-wecdiscussion-forumMessageSubject {
	background:		#AAAA77;
	color:			#FFFFFF;
	font-weight: 	bold;
	font-family: 	"Trebuchet MS", Tahoma, Arial;
	font-size:		14px;
	padding-left:	6px;
	padding-top:	3px;
	padding-bottom:	3px;
}
.tx-wecdiscussion-forumMessageSubject a, .tx-wecdiscussion-forumMessageSubject a:link, .tx-wecdiscussion-forumMessageSubject a:visited {
	color:			#FFFFFF;
	text-decoration: none !important;
}
.tx-wecdiscussion-forumMessageSubject a:hover {
	color:			#C33;
}
.tx-wecdiscussion-forumMessageCommentNum {
	font-size:		11px;
	font-weight:	normal;
	padding-left:	4px;
}

.tx-wecdiscussion-forumMessage {
	padding:		2px 15px 0px 10px;
    background-color: #FFFFFF;
	line-height:	1.4em;
}
.tx-wecdiscussion-forumMessageReply {
	padding-left:	30px;
	padding-right:	30px;
	padding-top:	10px;
	color:			#444;
    background-color: #FFFFFF;
}

.tx-wecdiscussion-forumMessageInfo {
	font-size: 		10px;
	color:			#555;
	padding-left:	10px;
	padding-top:	3px;
	padding-bottom: 6px;
	border-top:		dotted 1px #888;
    color: 			#404040;
}
.tx-wecdiscussion-forumMessageDivider {
	margin: 	15px 0px 12px 0px;
}

.tx-wecdiscussion-forumMessageReplyButton, .tx-wecdiscussion-forumMessageReplyButton a {
	font-size: 	11px;
	color:		#555;
	margin-left:  2px;
	margin-right: 2px;
	text-decoration: none !important;
}
.tx-wecdiscussion-forumMessageReplyButton a:hover {
	background-color: #eee;
}

.tx-wecdiscussion-forumMessageReplyInfo {
	font-size: 	10px;
	color:		#555;
	padding-left:5px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top:	dotted 1px #888;
}

.tx-wecdiscussion-forumPreview, .tx-wecdiscussion-forumPreviewEntry, .tx-wecdiscussion-forumPreviewInfo, .tx-wecdiscussion-forumPreviewEntryHeader {
	margin:			2px;
	margin-left:	6px;
	font-family: 	Arial, Tahoma, "Trebuchet MS", georgia, sans-serif;
	font-size: 		10px;
	line-height: 	150%;
}
.tx-wecdiscussion-forumPreviewEntryHeader {
	font-size:		12px;
	font-weight:	bold;
}
.tx-wecdiscussion-forumPreview {
	width:			300px;
	font-size: 		12px;
	border:			1px solid #888;
    background-color: #FFFFFF;
}
.tx-wecdiscussion-forumPreviewInfo {
	font-size: 		9px;
	color:			#555;
	border-top:		dotted 1px #888;
    margin-bottom: 	6px;
}

/*----------- FORUM REPLY FORM --------------*/
.tx-wecdiscussion-formToggleOff {
	font-family: 	Arial, Tahoma, sans-serif;	font-size:		10px;
}
.tx-wecdiscussion-formToggleOn {
	font-family: 	Arial, Tahoma, sans-serif;	font-size:		13px;
}

.tx-wecdiscussion-form {
	clear:		both;
	width: 		98%;
	background-color: #F0F0E0;
	border: 	1px solid #333;
	margin:		0px auto;
	padding:	0px;
    margin-top:	4px;
    margin-bottom:4px;
	min-width: 350px;
	max-width: 800px;
}
.tx-wecdiscussion-form div.inputFormRow {
	clear: both; display:block;  margin:0px; padding:0px; padding-top: 4px;
}
.tx-wecdiscussion-form div.inputFormRow span.label {
	display: block; float: left;  width: 25%; text-align: right;
}
.tx-wecdiscussion-form div.inputFormRow span.textacross {
	display: block; float: left;  width: 100%;  text-align: center; margin: 0px auto;
}
.tx-wecdiscussion-form div.inputFormRow span.inputBox {
	display: block; float: right; width: 73%; text-align:left;
}
.tx-wecdiscussion-form div.inputFormRow span.inputBox input {
	width: 95%;
}
.tx-wecdiscussion-form div.inputFormRow span.inputBox textarea {
	 width:	95%;	height:85px;
}
.tx-wecdiscussion-form div.inputFormRow span.inputBox textarea .large {
	 width:	95%;	height:300px;
}
.tx-wecdiscussion-form fieldset {
	border: 0;
	margin: 3px;
	padding: 3px;
}
.tx-wecdiscussion-form div.header {
	display: block; float: left;  width: 100%;  text-align: center; margin: 0px auto;
}
.tx-wecdiscussion-spacer-req {
	display: inline;  width: 10px;  line-height: 1px;  margin: 0px;  padding: 0px; margin-left:4px;
}
.tx-wecdiscussion-spacer {
	clear:both;	height:0.1em; width:100%;
}
.tx-wecdiscussion-form-requiredMarker {
	color: #CC0000;
}

/* default styles for extension "tx_chcforum_pi1" */

	/* BASIC STUFF */
	#tx_chcforum-pi1 {
		font-family: verdana, sans-serif;
		font-size: 11px;
	}

	#tx_chcforum-pi1 caption {
		display: none;
	}

	#tx_chcforum-pi1 a {
		text-decoration: none;
		color : #364860;
	}

	#tx_chcforum-pi1 a:hover {
		text-decoration: none !important;
	}

	/* only one form in the forum */
	#tx_chcforum-pi1 form {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.tx-chcforum-pi1-noWrap {
		display: inline;
		white-space: nowrap;
	}

	.tx-chcforum-pi1-preTableWrap {
	/*	border: 1px solid #678BB0;
	*/	margin-bottom: 2px;
	}

	.tx-chcforum-pi1-postTableWrap {
		border: 1px solid #678BB0;
		margin-bottom: 2px;
	}

	/* GENERIC TABLE BEGIN */
	.tx-chcforum-pi1-Table {
		border: 1px solid #678BB0;
		background: #FFFFFF;
		margin-bottom: 2px;
		width: 100%;
	}

	.tx-chcforum-pi1-Table thead tr th {
		font-size: 13px;
		font-weight: bold;
		background: #464D67;
		padding: 5px;
		padding-top: 3px;
		padding-bottom: 3px;
		text-align: center;
		white-space: nowrap;
	}

	/* category title row */
	.tx-chcforum-pi1-Table tbody tr th {
		font-size: 15px;
		font-weight: bold;
		letter-spacing: 2px;
		background: #F3F5F8;
		padding: 5px;
		text-align: left;
	}

	/* category features row */
	.tx-chcforum-pi1-Table tbody tr td {
		font-size: 12px;
		background: #E3E7EF;
		padding: 5px;
	}
	/* GENERIC TABLE END */


	/* CATEGORY TABLE BEGIN */
	/* cell 1 */
	.tx-chcforum-pi1-catConferenceCell {
	}

	.tx-chcforum-pi1-catConferenceCell dl {
		margin: 0;
	}

	.tx-chcforum-pi1-catConferenceCell dt {
	}

	.tx-chcforum-pi1-catConferenceCell dd {
		font-size: 10px;
		margin-left: 5px;
	}

	.tx-chcforum-pi1-catConferenceCell dd.new {
		color: #FF0000;
	}

	/* cell 2 */
	.tx-chcforum-pi1-catThreadCell {
		text-align: center;
	}

	/* cell 3 */
	.tx-chcforum-pi1-catPostCell {
		text-align: center;
	}

	/* cell 4 */
	.tx-chcforum-pi1-catLastCell {
		font-size: 10px !important;
		vertical-align: top;
	}
	/* CATEGORY TABLE END */


	/* CONFERENCE TABLE BEGIN */
	/* cell 1 */

	.tx-chcforum-pi1-confThreadImage {
		text-align: center;
	}


	.tx-chcforum-pi1-confThreadSubjCell {

	}

	.tx-chcforum-pi1-confThreadNew {
		color: #FF0000;
		font-size: 10px;
		padding-left: 5px;
	}

	.tx-chcforum-pi1-confThreadBtns img {
		padding-top: 5px;
	}

	.tx-chcforum-pi1-confThreadBtns {
		padding-left: 5px;
	}

	/* cell 2 */
	.tx-chcforum-pi1-confThreadRepliesCell {
		text-align: center;
	}

	/* cell 3 */
	.tx-chcforum-pi1-confThreadAuthorCell {
		text-align: center;
	}

	/* cell 4 */
	.tx-chcforum-pi1-confThreadLastCell {
		font-size: 10px !important;
	}

	/* CONFERENCE TABLE END */

	/* NAVPATH BEGIN*/
	.tx-chcforum-pi1-navPath a {
		color: #6F6E70;
	}

	.tx-chcforum-pi1-navPath {
		line-height: 15px;
		color: #6F6E70;
		background: #E9E9E9;
		border-bottom: 1px solid #DEDEDE;
		margin-bottom: 1px;
		padding: 3px;
		font-size: 10px;
	}
	/* NAVPATH END*/

	/* PAGELINKS BEGIN */
	.tx-chcforum-pi1-pageLinksTop, .tx-chcforum-pi1-pageLinksBtm {
		color: #6F6E70;
		background: #E9E9E9;
		border-bottom: 1px solid #DEDEDE;
		font-size: 10px;
		line-height: 15px;
		padding: 3px;
		text-align: right;
		clear: both;
		padding-right: 5px;
	}

	.tx-chcforum-pi1-pageLinksBtm {
		margin-bottom: 1px;
	}
	/* PAGELINKS END */

	/* POST FORM BEGIN */
	.tx-chcforum-pi1-postForm {
		border: 1px solid #678BB0;
		background: #E3E7EF;
		padding: 5px;
		margin-bottom: 3px;
	}

	.tx-chcforum-pi1-postForm #formWhere {
		font-size: 14px;
		font-weight: bold;
		background: #464D67;
		padding: 5px;
		text-align: center;
		white-space: nowrap;
		margin-bottom: 7px;
		border: 1px solid #678BB0;
	}

	.tx-chcforum-pi1-postForm fieldset label {
		display: block;
		text-align: right;
		padding-right: 20px;
		padding-top: 3px;
		width: 60px;
		float: left;
	}

	.tx-chcforum-pi1-postForm fieldset {
		background-color: #E9E9E9;
	}

	.tx-chcforum-pi1-postForm fieldset#formTop {
		margin-bottom: 8px;
	}

	.tx-chcforum-pi1-postForm fieldset#formTop legend {
		margin-bottom: 3px;
		background-color: #E9E9E9;
		border: 1px solid #678BB0;
		padding: 2px;
		font-weight: bold;
	}

	.tx-chcforum-pi1-postForm fieldset#formBottom legend {
		background-color: #E9E9E9;
		border: 1px solid #678BB0;
		padding: 2px;
		font-weight: bold;
		margin-bottom: 5px;
	}


	.tx-chcforum-pi1-postForm fieldset#formTop input {
		display: block;
		width: 150px;
		float: left;
		padding: 2px;
		border: 1px solid #DEDEDE;
		margin-bottom: 2px;
	}

	.tx-chcforum-pi1-postForm textarea {
		border: 1px solid #DEDEDE;
		margin: 3px 0;
		width: 100%;
		height: 150px;
	}

	.tx-chcforum-pi1-postForm fieldset#formTop br {
		clear:left;
	}

	.tx-chcforum-pi1-formBtn {
		text-align: center;
	}

	.tx-chcforum-pi1-formBtn input {
		border: 1px solid #678BB0;
		font-size:10px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		margin:2px;
		background-color: #FFF;

	}

	.tx-chcforum-pi1-formBtnHov {
		border: 1px solid #666; 
		font-size:10px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		margin:2px;
		background-color: #FFF;
	/*	color: #CC0000;
	*/
		cursor:pointer;
	}

	.tx-chcforum-pi1-formBtnStyle {
		background-color: #FFF;
		border: 1px solid #678BB0;
		padding: 3px;
		margin: 3px;
	}

	.tx-chcforum-pi1-formBtnStyleHov {
		background-color: #FFF;
		border: 1px solid #C00;
	/*	color: #CC0000;
	*/
		cursor:pointer;
		padding: 3px;
		margin: 3px;
	}
	/* POST FORM END */

	/* SINGLE POST BEGIN */
	.tx-chcforum-pi1-singlePost {
		border: 1px solid #678BB0;
		margin: 3px 0;
	}

	/* top */
	.tx-chcforum-pi1-singlePost .author {
		background: #E3E7EF;
		padding: 3px;
		vertical-align: top;
		height: 78px;
	}

	.tx-chcforum-pi1-formEmicoStyle {
		margin: 3px;
	}

	.tx-chcforum-pi1-singlePost .im {
		vertical-align: middle;
		margin-top: 3px;
	}

	.tx-chcforum-pi1-singlePost .im a {
		margin-right: 10px;
	}

	.tx-chcforum-pi1-singlePost .im img {
		vertical-align: middle;
		border: 0px;
		padding-right: 2px;
		margin-bottom: 2px;
	}

	.tx-chcforum-pi1-singlePost .userPic {
		border: 1px solid #678BB0;
		float: right;
	}
	/* deprecated */
	.tx-chcforum-pi1-singlePost #userPic {
		border: 1px solid #678BB0;
		float: right;
	}

	/* middle */
	.tx-chcforum-pi1-singlePost .text {
		border-top: 1px solid #678BB0;
		border-bottom: 1px solid #678BB0;
		background: #E3E7EF;
	}

	.tx-chcforum-pi1-singlePost .scroller {
		overflow: auto;
		width: 95%;
		background: #FFF;
		min-height: 125px;
		text-indent: 0px;
		padding: 3px;
	}

	/* bottom */
	.tx-chcforum-pi1-singlePost .edit {
		background: #F3F5F8;
		padding: 3px;
		height: 19px;
		vertical-align: middle;
		margin-top: 3px;
	}

	.tx-chcforum-pi1-singlePost .edit a {
		margin-right: 30px;
	}

	.tx-chcforum-pi1-singlePost .edit img {
		vertical-align: middle;
		border: 0px;
	}

	.tx-chcforum-pi1-singlePost .attachment {
		background: #DEE3E7;
		padding: 3px;
	}

	.tx-chcforum-pi1-singlePost .attachment div {
		vertical-align: top;
	}

	.tx-chcforum-pi1-singlePost .attachment img {
		float: left;
		margin-right: 5px;
	}

	.tx-chcforum-pi1-singlePost .rate {
		background: #DEE3E7;
		border-top: 3px solid #FFFFFF ;
		padding: 3px;
	}

	.tx-chcforum-pi1-singlePost .rate input {
		background-color: #FFF;
		border: 1px solid #678BB0;
		font-size: 9px;
	}

	.tx-chcforum-pi1-singlePost .rate select {
		border: 1px solid #678BB0;
		font-size: 10px;
	}

	.tx-chcforum-pi1-singlePost .rate select option {
		height: 1.5em;
	}

	.tx-chcforum-pi1-singlePost .rate form {
		padding: 0;
		margin: 0;
		display: inline;
	}

	.tx-chcforum-pi1-singlePost .rate .rateStars {
		float: left;
		text-align: left;
		height: 1.85em;
	}

	.tx-chcforum-pi1-singlePost .rate .rateMenu {
		text-align: right;
		width: 100%;
		height: 1.85em;
	}

	.tx-chcforum-pi1-singlePost .offset {
		margin-left: 15px;
		margin-right: 15px;
	}

	.tx-chcforum-pi1-singlePost .codeCell {
		font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #006600;
		padding: 5px;
		background-color: #FAFAFA; 
		border: #D1D7DC; 
		border-style: solid;
		border-left-width: 1px; 
		border-top-width: 1px; 
		border-right-width: 1px; 
		border-bottom-width: 1px
	}

	.tx-chcforum-pi1-singlePost .quoteCell {
		background-color: #FAFAFA;
		font-size: 10px;
		padding: 5px;
		border: #D1D7DC; 
		border-style: solid;
		border-left-width: 1px; 
		border-top-width: 1px; 
		border-right-width: 1px; 
		border-bottom-width: 1px
	}

	.tx-chcforum-pi1-singlePost .quoteCellAuthor {
		border: 0px;
		font-weight: bold;
		padding: 3px 0;
	}

	.tx-chcforum-pi1-singlePost .quoteTable {
		border: 0px;
		margin: 15px 0;
	}

	.tx-chcforum-pi1-singlePost .text img {
		max-height: 350px;
		max-width: 350px;
	}

	.tx-chcforum-pi1-singlePostQuoteText {
		background-color: #FAFAFA;
		border: 1px solid #678BB0;
		font-size: 10px;
		padding: 5px;
	}


	/* SINGLE POST END */


	/* FOOTER BOX BEGIN */
	.tx-chcforum-pi1-footerBox {
		background: white;
		padding: 3px;
	/*	border: 1px solid #678BB0;
	*/	font-size: 10px; 
	}

	/* used for user listing */
	.tx-chcforum-pi1-footerBox div { 
		padding-top: 5px; 
		padding-left: 5px;
		font-size: 10px; 
	}
	/* FOOTER BOX END */

	/* HEADER BOX BEGIN */
	.header_center {	
	  text-align: center;
		height: 34px;
	}
	.header_text {
		font-size: 24px;
		line-height: 34px; 
		font-family: Verdana,Arial,Helvetica,sans-serif;
		font-weight: bold;
		font-variant: small-caps;
	}
	.header_small {
		margin-bottom: 3px;
		border: solid #678BB0 1px;
	}
	/* HEADER BOX END */

	/* TOOL BAR  BEGIN */
	.tx_chcforum-pi1-toolBar {
		padding-right: 5px;
		padding-top: 3px;
		padding-bottom: 3px;
		margin-bottom: 2px;
	}

	.tx_chcforum-pi1-toolBar img {
		vertical-align: middle;
		margin-left: 16px;
	}

	.tx_chcforum-pi1-toolBar div {
		text-align: right;
		font-size: 9px;
		font-weight: bold;
	}

	.tx_chcforum-pi1-subToolBar {
		background: #DEE3E7;
		margin-bottom: 1px;
		padding-right: 5px;
	}

	.tx_chcforum-pi1-subToolBar img {
		vertical-align: middle;
		margin-left: 16px;
	}

	.tx_chcforum-pi1-subToolBar div {
		margin: 0px;
		line-height: 15px;
		padding: 3px 0px 3px 0px;
		text-align: right;
		font-size: 9px;
		font-weight: bold;
		font-family: Verdana,Arial,Helvetica,sans-serif;
	}


	/* TOOL BAR  END */

	/* PROFILE BEGIN */
	.tx-chcforum-pi1-profileBorder {
		border: 1px solid #678BB0;
		padding: 3px;
	}

	.tx-chcforum-pi1-profileBorder #userPic {
		border: 1px solid #678BB0;
		float: right;
	}

	.tx-chcforum-pi1-profileBorder hr {
		clear: left;
		display: block;
		visibility: hidden;
	}

	.tx_chcforum-pi1-profileHdrBig {
		background: #DEE3E7;
		border: 1px solid #678BB0;
		padding: 5px;
		margin-bottom: 3px;
		font-size: 11px;
		font-weight: bold;
	}

	.tx_chcforum-pi1-profile_hdr {
		font-size: 11px;
	  font-weight: bold;
	  background: #E3E7EF;
	  padding: 2px;
		padding-left: 6px;
	}
	/* PROFILE END */

	/* MESSAGE BOX BEGIN */
	.tx-chcforum-pi1-errorBoxCell {
		background: #E3E7EF;
		font-weight: bold;
		text-align: left;
	}

	.tx-chcforum-pi1-messageBoxErrorNoBorder {
		background: #FFD6EF;
		font-weight: bold;
		text-align: left;
		margin-bottom: 3px;
		padding: 3px;
		font-weight: bold;
	}

	.tx-chcforum-pi1-messageBox, .tx-chcforum-pi1-messageBoxError {
		background: #FFCCCC;
		margin-bottom: 3px;
		padding: 3px;
		padding-left: 5px;
		font-weight: bold;
		border: 1px solid #CF1127;
		color: #CF1127;
	}
	/* MESSAGE BOX END */

	.tx-chcforum-pi1-forumTextBig {
		font-size: 14px;
		font-weight: bold;
	}

	.tx-chcforum-pi1-helpBox {
		background-color: #E9E9E9 !important;
		border-style: none;
	}

	.tx-chcforum-pi1-linkUp {
		background: #DEE3E7;
		border-bottom: 1px solid #DEDEDE;
		padding: 3px;
		padding-right: 5px;
		font-size: 10px;
		line-height: 15px;
		text-align: right;
	}

	.tx-chcforum-pi1-previewBoxCell {
		background: #464D67;
		text-align: center;
	}

	/* CWT COMMUNITY STYLES */

	#tx_chcforum-pi1 .tx-cwtcommunity-pi1 .userlistLetters {
		font-weight: bold;
	}
	#tx_chcforum-pi1 .tx-chcforum-pi1-Table .tx-cwtcommunity-pi1 form {
		margin: 0px;
		padding: 0px;
		font-family: arial, sans-serif;
	}
	#tx_chcforum-pi1 .tx-chcforum-pi1-Table .tx-cwtcommunity-pi1 td {
		font-family: arial, sans-serif;
		padding: 2px;
	}
	#tx_chcforum-pi1 .tx-chcforum-pi1-Table .tx-cwtcommunity-pi1 th {
		background: #E3E7EF;
		font-family: arial, sans-serif;
		font-size: 11px;
		padding: 2px;
		text-align: left;
		letter-spacing: 0px;
	}
/* default styles for extension "tx_thmailformplus_pi1" */
  .tx-thmailformplus-pi1 H2 { margin-top: 0px; margin-bottom: 0px; }
/* default styles for extension "tx_cssstyledcontent" */
/* Captions */
	DIV.csc-textpic-caption-c .csc-textpic-caption { text-align: center; }
	DIV.csc-textpic-caption-r .csc-textpic-caption { text-align: right; }
	DIV.csc-textpic-caption-l .csc-textpic-caption { text-align: left; }

	/* Needed for noRows setting */
	DIV.csc-textpic DIV.csc-textpic-imagecolumn { float: left; display: inline; }

	/* Border just around the image */
	DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG {
		border: 2px solid black;
		padding: 0px 0px;
	}

	DIV.csc-textpic-imagewrap { padding: 0; }

	DIV.csc-textpic IMG { border: none; }

	/* DIV: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DIV.csc-textpic-image { float: left; }

	/* UL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL { list-style: none; margin: 0; padding: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI { float: left; margin: 0; padding: 0; }

	/* DL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image { float: left; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DT { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD IMG { border: none; } /* FE-Editing Icons */
	DL.csc-textpic-image { margin: 0; }
	DL.csc-textpic-image DT { margin: 0; display: inline; }
	DL.csc-textpic-image DD { margin: 0; }

	/* Clearer */
	DIV.csc-textpic-clear { clear: both; }

	/* Margins around images: */

	/* Pictures on left, add margin on right */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-right: 10px;
	}

	/* Pictures on right, add margin on left */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}

	/* Pictures centered, add margin on left */
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption { margin: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image IMG { margin: 0; }

	/* Space below each image (also in-between rows) */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image { margin-bottom: 5px; }
	DIV.csc-textpic-equalheight DIV.csc-textpic-imagerow { margin-bottom: 5px; display: block; }
	DIV.csc-textpic DIV.csc-textpic-imagerow { clear: both; }

	/* No margins around the whole image-block */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-firstcol { margin-left: 0px !important; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-lastcol { margin-right: 0px !important; }

	/* Add margin from image-block to text (in case of "Text w/ images") */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap {
		margin-right: 10px !important;
	}
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap {
		margin-left: 10px !important;
	}

	/* Positioning of images: */

	/* Above */
	DIV.csc-textpic-above DIV.csc-textpic-text { clear: both; }

	/* Center (above or below) */
	DIV.csc-textpic-center { text-align: center; /* IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap { margin: 0 auto; }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image { text-align: left; /* Remove IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-text { text-align: left; /* Remove IE-hack */ }

	/* Right (above or below) */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap { float: right; }
	DIV.csc-textpic-right DIV.csc-textpic-text { clear: right; }

	/* Left (above or below) */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap { float: left; }
	DIV.csc-textpic-left DIV.csc-textpic-text { clear: left; }

	/* Left (in text) */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap { float: left; }

	/* Right (in text) */
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap { float: right; }

	/* Right (in text, no wrap around) */
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap { float: right; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-right-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */

	/* Left (in text, no wrap around) */
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap { float: left; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-left-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */
DIV.csc-textpic DIV.csc-textpic-imagerow-last { margin-bottom: 0; }
/* default styles for extension "tx_srfreecap_pi2" */
		.tx-srfreecap-pi2-image {}
		.tx-srfreecap-pi2-cant-read { font-size: .9em; }
		.tx-srfreecap-pi2-cant-read a { color:#788C9B; bold;}
		.tx-srfreecap-pi2-cant-read a:link { background-color:transparent; font-weight:bold; text-decoration:none; }