/* css/jalios/channel.css */
/* Message Box */
/* @import url('jalios/msgbox.css'); */
.mbox {
font-family: Arial, Helvetica, sans-serif;
width: 400px;
margin: 30px auto;
padding: 10px;
border: 1px solid #999999;
background: #FAFAFA;
background-image: url('msgBoxBg.gif');
background-repeat: repeat-x;
background-position: bottom;
}
.mbox .mboxTitle {
font-size: large;
line-height: 32px;
}
.mbox .mboxMsg {
font-size: small;
margin: 10px 0px 0px 37px;
padding: 0px;
}
.mbox .mboxMsg p {
margin-bottom: 0px;	
}
.mbox .mboxIcon {
float: left;
margin-right: 5px;
}
.mboxError   .mboxTitle { color: #FF0000; font-weight: bold;}
.mboxError              { border-color: #CC3333; }
.mboxWarning .mboxTitle { color: #FF6633; }
.mboxInfo    .mboxTitle { color: #0000FF; }
/* Form */
/* @import url('jalios/form.css'); */
/* Forms (Should be replaced by widget.css)*/
table.formBackground  {
border: 1px solid #999999;
background: #FAFAFA;
background-image: url('msgBoxBg.gif');
background-repeat: repeat-x;
background-position: bottom;
}
table.formBackground td  {
font-family: Arial, Helvetica, sans-serif;
}
table.formPanel       { background-color: transparent; }
td.formTitle          { 
color:#FFF;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: bold;
padding: 2px 6px;
text-align: left;
background-color: #5882B5;
}
td.formLabel          { padding: 0px; text-align: right; }
td.formInfo           { padding: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
td.formAdminTitle     { color:#FFFFFF; background-image: url('redtv.gif'); background-color: #CC0000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-align: left; }
span.formButton       { }
span.formDeleteButton { color: #FF0000; }
.formInfo             { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
.formInfo a           { text-decoration: none; color: #6633CC; }
.formInfo a:hover     { text-decoration: underline; }
.formMandatory        { color: #FF0000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 10pt }
.formLabel            { font-family: Arial, Helvetica, sans-serif; text-align: left; white-space:nowrap;}
.formTextfield        { border: 1px #666666 solid; background-color: #FFFFFF; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px; font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
.formTextfieldRight   { border: 1px #666666 solid; background-color: #FFFFFF; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; text-align: right;}
.formSelect           { border: 1px #666666 solid; background-color: #FFFFFF; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px; font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
.formDisabled         { color: gray; background-color: #DCDCDC; }
textarea.resizable {
display:block;
}
body.popupEdition {
background-color: #70A1DF;
}
#popupEdition {
padding: 2px 10px 0 10px;
margin: 0px;
border: 1px solid #70A1DF;
border-width: 15px 14px;
height:100%;
background-color: #F8FCFD;
}
/* Warning Area*/
.warningArea {
background:   #FFFFCC url('warning.gif') no-repeat scroll 8px 14px;
border:       1px solid #999999;
font-family:  Arial, Helvetica, sans-serif;
font-size:    11px;
padding:      10px 10px 10px 48px;
min-height:   42px;
}
/* Information Area */
.infoArea {
background:   #FFFFCC url('information.gif') no-repeat scroll 8px 14px;
border:       1px solid #999999;
font-family:  Arial, Helvetica, sans-serif;
font-size:    11px;
padding:      10px 10px 10px 48px;
}
.infoArea p {
margin-top:    0px;
margin-bottom: 10px;
}
.infoArea ul,
.infoArea ol {
margin-top:    0.5em;
margin-bottom: 5px;
line-height:   1.2em;
}
/* FormBox (without tabs) */
.formBox {
border: 1px solid black;
}
.formBox .infoArea {
padding:        10px 10px 0px 48px;
border-width:   0px 0px 1px 0px;
border-bottom:  1px solid #999999;
}
.formBox .inputArea {
padding:        5px;
padding-bottom: 10px;
background:     #FAFAFA url('formBg.gif') repeat-x;
font-family:    Arial, Helvetica, sans-serif;
font-size:      12px;
}
.formBox .inputArea .inputSet {
margin-top: 20px;
}
.formBoxButtons {
margin: 10px 0px 10px 0px;
}
/* Misc */
/* @import url('jalios/misc.css'); */
/* Misc */
p.t1 { color:#000000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-align: left; font-size: 12pt; }
p.t2 { color:#000000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-align: left; font-size: 10pt; }
.pager { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: black; text-align: center; }
.pager img { padding: 0px 3px; border: 0px solid transparent; }
.pager a { text-decoration: none; margin: 0px 0px; }
.pager a:hover { text-decoration: underline; color: #2B4D86; }
.pager .currentPage { }
span.highlight {background-color: #ffff70;}
p.abstractDetail { font-family: Arial, Helvetica, sans-serif; font-size: x-small; color: #999999}
a.abstractDetail { font-family: Arial, Helvetica, sans-serif; font-size: x-small; color: #666666; font-weight: bold}
img.icon { border: 0; vertical-align: text-bottom; }
/* Waiting AJAX message */
DIV.ajaxwait { 
font: bold 09pt Arial, Helvetica, sans-serif;
position: absolute;
top:   0;  right: 0;
padding: 2px 6px;
border: 1px solid #AA1111;
background-color: #CC4444;
color: #FFFFFF;
z-index: 100;
}
HTML>BODY DIV.ajaxwait { position: fixed; }
/* Search */
.inlineSearch { margin: 0; padding: 0; }
.inlineSearch #text { font-size: x-small; height: 1.1em; line-height: 1em;}
.inlineSearch #ok { margin: 0; padding: 0; border:0; background-color: transparent; font-size: x-small; }
.didyoumean strong { color: red; font-weight: normal; }
.didyoumean a { font-weight: bold; }
.didyoumean { font-family: Arial, Helvetica, sans-serif; }
/* Signup */
.charter { font-family: Arial, Helvetica, sans-serif; font-size: small; border: 1px #666666 solid; background-color: #EEEEEE; text-align: justify;}
.charter TD {padding: 1em;}
/* print view */
.caddyPage {
margin-bottom: 20px;
clear: both !important;
float: none !important;
position: relative !important;
}
.caddyCounter {
width: 40px;
position: absolute;
margin-top: 2px;
margin-left: -25px;
font-size: 14px;
}
.caddyTitle {
font-size: 18px;
font-family: arial, sans-serif;
border: 1px solid black;
padding: 7px 40px;
font-weight: bold;
background-color: #CCCCCC;
}
.caddyContent {
padding: 5px 5px 5px 40px;
clear: both;
}
/* ISO-639 language code icons/flags */
.iso639flag {
vertical-align: middle;
border: 0;
width: 16px;
height: 16px;
background-image: url('unknown.png'); 
background-position: 0 2px;
background-repeat: no-repeat;
}
.iso639flagSelect {
vertical-align: middle;
border: 0;
padding-left: 21px;
background-image: url('unknown.png'); 
background-position: 2px 2px;
background-repeat: no-repeat;
}
.ar-flag { background-image: url('arab-league-flag.gif'); }
.cs-flag { background-image: url('cz.png'); }
.da-flag { background-image: url('dk.png'); }
.de-flag { background-image: url('de.png'); }
.et-flag { background-image: url('ee.png'); }
.el-flag { background-image: url('gr.png'); }
.en-flag { background-image: url('gb.png'); }
.es-flag { background-image: url('es.png'); }
.fr-flag { background-image: url('fr.png'); }
.he-flag { background-image: url('il.png'); }
.it-flag { background-image: url('it.png'); }
.ja-flag { background-image: url('jp.png'); }
.lv-flag { background-image: url('lv.png'); }
.lt-flag { background-image: url('lt.png'); }
.hu-flag { background-image: url('hu.png'); }
.mt-flag { background-image: url('mt.png'); }
.nl-flag { background-image: url('nl.png'); }
.pl-flag { background-image: url('pl.png'); }
.pt-flag { background-image: url('pt.png'); }
.ru-flag { background-image: url('ru.png'); }
.sk-flag { background-image: url('sk.png'); }
.sl-flag { background-image: url('si.png'); }
.fi-flag { background-image: url('fi.png'); }
.sv-flag { background-image: url('se.png'); }
.tlh-flag { background-image: url('klingon-flag.gif'); }
.zh-flag { background-image: url('cn.png'); }
/* List */
/* @import url('jalios/list.css'); */
/* List */
table.listBorderBack { background-color: #EEEEEE; border: 1px solid; border-color: #999999 #666666 #666666 #999999;}
table.listBorder {background-color: #666660; }
table.listBorder ul, table.listBorder ol { margin: 0.1em 0em 0.1em 1.2em; padding: 0 0 0 0.5em; }
/* table.listBorder td ul { margin-top: 0; margin-bottom: 0; padding-left: 10px; margin-left: 10px;} */
table.listBackground {background-color: #e0e0e0; }
td.listHeader {color:#FFFFFF;  background-color: #A3BAFF; font-family: arial, helvetica, sans-serif; font-weight: bold; text-align: center; font-size: 10pt; white-space:nowrap;}
a.listHeader { color:#FFFFFF; font-family: arial, helvetica, sans-serif; font-weight: bold; text-align: center; }
a.listHeaderSel { color:#FFFF00; font-family: arial, helvetica, sans-serif; font-weight: bold; text-align: center; }
td.listEmptyHeader {background-color:#ffffff;}
.listEvenRow {background-color:#FAFAFA; font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
.listOddRow {background-color:#F0F0F0; font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
.listOverRow {background-color:#FFFFCC; font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
.listDiff .listOverRow {background-color:#FFFFFF;}
.listEvenRow A, .listOddRow A, .listOverRow A {color:#000000; text-decoration: none;}
.listEvenRow A:hover, .listOddRow A:hover, .listOverRow A:hover {color:#000000; text-decoration: underline;}
td.listKey {background-color:#F0F0F0; font-family: arial, helvetica, sans-serif; font-size: 10pt; font-weight: bold; text-align: right; white-space:nowrap;}
td.listValue {background-color:#FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
td.imported a { font-style: italic; color: #666666; }
/* Widget */
/* @import url('jalios/widget.css'); */
/* @import url('../js/calendar/calendar.css'); */
/* The main calendar widget.  DIV containing a table. */
.calendar {
position: relative;
display: none;
border-top: 2px solid #fff;
border-right: 2px solid #000;
border-bottom: 2px solid #000;
border-left: 2px solid #fff;
font-size: 11px;
color: #000;
cursor: default;
background: #d4d0c8;
font-family: tahoma,verdana,sans-serif;
}
.calendar table {
border-top: 1px solid #000;
border-right: 1px solid #fff;
border-bottom: 1px solid #fff;
border-left: 1px solid #000;
font-size: 11px;
color: #000;
cursor: default;
background: #d4d0c8;
font-family: tahoma,verdana,sans-serif;
}
/* Header part -- contains navigation buttons and day names. */
.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
text-align: center;
padding: 1px;
border-top: 1px solid #fff;
border-right: 1px solid #000;
border-bottom: 1px solid #000;
border-left: 1px solid #fff;
}
.calendar .nav {
background: transparent url('menuarrow.gif') no-repeat 100% 100%;
}
.calendar thead .title { /* This holds the current "month, year" */
font-weight: bold;
padding: 1px;
border: 1px solid #000;
background: #848078;
color: #fff;
text-align: center;
}
.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}
.calendar thead .daynames { /* Row <TR> containing the day names */
}
.calendar thead .name { /* Cells <TD> containing the day names */
border-bottom: 1px solid #000;
padding: 2px;
text-align: center;
background: #f4f0e8;
}
.calendar thead .weekend { /* How a weekend day name shows in header */
color: #f00;
}
.calendar thead .hilite { /* How do the buttons in header appear when hover */
border-top: 2px solid #fff;
border-right: 2px solid #000;
border-bottom: 2px solid #000;
border-left: 2px solid #fff;
padding: 0px;
background-color: #e4e0d8;
}
.calendar thead .active { /* Active (pressed) buttons in header */
padding: 2px 0px 0px 2px;
border-top: 1px solid #000;
border-right: 1px solid #fff;
border-bottom: 1px solid #fff;
border-left: 1px solid #000;
background-color: #c4c0b8;
}
/* The body part -- contains all the days in month. */
.calendar tbody .day { /* Cells <TD> containing month days dates */
width: 2em;
text-align: right;
padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
font-size: 80%;
color: #aaa;
}
.calendar tbody .day.othermonth.oweekend {
color: #faa;
}
.calendar table .wn {
padding: 2px 3px 2px 2px;
border-right: 1px solid #000;
background: #f4f0e8;
}
.calendar tbody .rowhilite td {
background: #e4e0d8;
}
.calendar tbody .rowhilite td.wn {
background: #d4d0c8;
}
.calendar tbody td.hilite { /* Hovered cells <TD> */
padding: 1px 3px 1px 1px;
border-top: 1px solid #fff;
border-right: 1px solid #000;
border-bottom: 1px solid #000;
border-left: 1px solid #fff;
}
.calendar tbody td.active { /* Active (pressed) cells <TD> */
padding: 2px 2px 0px 2px;
border-top: 1px solid #000;
border-right: 1px solid #fff;
border-bottom: 1px solid #fff;
border-left: 1px solid #000;
}
.calendar tbody td.selected { /* Cell showing selected date */
font-weight: bold;
border-top: 1px solid #000;
border-right: 1px solid #fff;
border-bottom: 1px solid #fff;
border-left: 1px solid #000;
padding: 2px 2px 0px 2px;
background: #e4e0d8;
}
.calendar tbody td.weekend { /* Cells showing weekend days */
color: #f00;
}
.calendar tbody td.today { /* Cell showing today date */
font-weight: bold;
color: #00f;
}
.calendar tbody .disabled { color: #999; }
.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
visibility: hidden;
}
.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
display: none;
}
/* The footer part -- status bar and "Close" button */
.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
}
.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
background: #f4f0e8;
padding: 1px;
border: 1px solid #000;
background: #848078;
color: #fff;
text-align: center;
}
.calendar tfoot .hilite { /* Hover style for buttons in footer */
border-top: 1px solid #fff;
border-right: 1px solid #000;
border-bottom: 1px solid #000;
border-left: 1px solid #fff;
padding: 1px;
background: #e4e0d8;
}
.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
padding: 2px 0px 0px 2px;
border-top: 1px solid #000;
border-right: 1px solid #fff;
border-bottom: 1px solid #fff;
border-left: 1px solid #000;
}
/* Combo boxes (menus that display months/years for direct selection) */
.calendar .combo {
position: absolute;
display: none;
width: 4em;
top: 0px;
left: 0px;
cursor: default;
border-top: 1px solid #fff;
border-right: 1px solid #000;
border-bottom: 1px solid #000;
border-left: 1px solid #fff;
background: #e4e0d8;
font-size: 90%;
padding: 1px;
}
.calendar .combo .label,
.calendar .combo .label-IEfix {
text-align: center;
padding: 1px;
}
.calendar .combo .label-IEfix {
width: 4em;
}
.calendar .combo .active {
background: #c4c0b8;
padding: 0px;
border-top: 1px solid #000;
border-right: 1px solid #fff;
border-bottom: 1px solid #fff;
border-left: 1px solid #000;
}
.calendar .combo .hilite {
background: #048;
color: #fea;
}
.calendar td.time {
border-top: 1px solid #000;
padding: 1px 0px;
text-align: center;
background-color: #f4f0e8;
}
.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
padding: 0px 3px 0px 4px;
border: 1px solid #889;
font-weight: bold;
background-color: #fff;
}
.calendar td.time .ampm {
text-align: center;
}
.calendar td.time .colon {
padding: 0px 2px 0px 3px;
font-weight: bold;
}
.calendar td.time span.hilite {
border-color: #000;
background-color: #766;
color: #fff;
}
.calendar td.time span.active {
border-color: #f00;
background-color: #000;
color: #0f0;
}
/* @import url('jalios/treecat.css'); */
UL.TreeCat SPAN.strong {
font-weight: bold;
}
UL.TreeCat,
UL.TreeCat UL{
font-size: 1px;
line-height: 1px;
color: #333333; 
list-style-type : none;
margin:  0px;
padding: 0px;
white-space: normal;
}
UL.TreeCat {
margin-top:    0.5em;
margin-bottom: 0.8em;
}
UL.TreeCat LI {
white-space: nowrap;
margin : 0px 2px 0px 0px;
font: 12px Arial, Helvetica, Sans-Serif;
line-height: 12px;
vertical-align: middle;
}
UL.TreeCat UL LI {
margin-left: 17px;
}
UL.TreeCat LI.close UL{
display: none;
}
UL.TreeCat A{
text-decoration: none;
color: #000000;
margin: 1px;
}
UL.TreeCat A:hover{
text-decoration: underline;
}
UL.TreeCat INPUT{
vertical-align: middle;
}
UL.TreeCat IMG{
width:  16px; height: 16px;
margin: 0em 2px;
vertical-align: middle;
background-repeat: no-repeat;
}
UL.TreeCat LI  IMG.loading {
width:  1px; height: 1px;
/*background-image: url('../images/jalios/icons/waitsmall.gif');*/
}
UL.TreeCat IMG.node{
width:  9px; height: 9px;
cursor: pointer;
margin: 1px 1px 5px 0px;
}
UL.TreeCat LI.open  IMG.node {
background-image: url('minus.gif');
}
UL.TreeCat LI.close IMG.node {
background-image: url('plus.gif');
}
UL.TreeCat LI.leaf  IMG.node {
cursor: auto;
background-image: url('s.gif');
}
UL.TreeCat LI IMG.visual {
width: 16px; height: 13px;
margin: 0px 2px 4px 1px;
background-image: url('closed_folder.gif');
}
UL.dragdrop LI IMG.visual {
cursor: url('hand.gif'), move;
}
UL.TreeCat LI IMG.highlight{
background-image: url('opened_folder.gif');
}
UL.TreeCat IMG.portal{
background-image: url('portal.gif');
}
UL.TreeCat IMG.portalr{
background-image: url('portalRedirect.gif');
}
UL.TreeCat IMG.portals{
background-image: url('multiportal.gif');
}
UL.TreeCat IMG.workspace{
background-image: url('work.gif');
}
UL.TreeCat IMG.workspaceM{
background-image: url('workM.gif');
}
UL.TreeCat IMG.workspaces{
background-image: url('workFilterOff.gif');
}
UL.TreeCat IMG.right{
width:  16px; height: 16px;
background-image: url('key.gif');
}
UL.TreeCat IMG.edit{
width:  16px; height: 16px;
background-image: url('edit.gif');
}
UL.TreeCat IMG.help{
width:  12px; height: 12px;
background-image: url('help.gif');
}
UL.TreeCat IMG.readable{
width:  15px; height: 12px;
background-image: url('tracked.gif');
}
DIV.treecat-msg{
font: 10px Arial, Helvetica, Sans-Serif;
background: #FFFFCC url('tip.gif') no-repeat;
background-position: 2px 1px;
padding: 2px 2px 2px 18px;
margin: 4px 0px 4px 0px;
color: #888888;
border: 1px solid #E8E803;
line-height: 16px;
cursor: default;
width: 20em;
}
UL.TreeCat LI.droppable{
background-color: #FFFFCC;
}
UL.TreeCat SPAN.disabled{
color: #666666;
font-style: italic;
}
/* ---------------------------------------- */
/*  This option enable inline category leaf */
/* ---------------------------------------- */
/*
UL.TreeCat LI.leaf{
display: inline;
clear: both;
}
*/
/* @import url('jalios/treegroup.css'); */
.WSTreeGroup {
font:        12px Arial, Helvetica, Sans-Serif;
margin-top:  0px;
border-bottom: 1px solid #999999;
}
.WSTreeGroup .title {
font-weight: bold;
white-space: nowrap;
background-color: #CCCCC0;;
padding: 5px 5px 5px 24px;
border-top: 1px solid #666666;
cursor: pointer;
background-repeat: no-repeat;
background-image: url('exp_plus.gif');
background-position:5px 7px;
}
.WSTreeGroup .open {
background-color: #DDDDD0;
background-image: url('exp_minus.gif');
}
.WSTreeGroup .tree {
padding: 0px 0px 0px 8px;
border-top: 1px solid #999999;
}
UL.TreeGroup .descendant {
background-color: #FFFFCC;
}
UL.TreeGroup .external {
color: #999999;
}
UL.TreeGroup .transversal {
font-style: italic;
}
UL.TreeGroup,
UL.TreeGroup UL{
font-size: 1px;
line-height: 1px;
color: #333333; 
list-style-type : none;
margin:  0px;
padding: 0px;
white-space: normal;
}
UL.TreeGroup {
margin-top:    2.5em;
margin-bottom: 12.8em;
}
UL.TreeGroup LI {
white-space: nowrap;
margin : 3px 2px 0px 0px;
font: 12px Arial, Helvetica, Sans-Serif;
line-height: 12px;
vertical-align: middle;
}
UL.TreeGroup UL LI {
margin-left: 20px;
}
UL.TreeGroup A{
text-decoration: none;
color: #000000;
margin: 1px;
}
UL.TreeGroup A:hover{
text-decoration: underline;
}
/* @import url('jalios/widget/autocomplete.css'); */
DIV.autocomplete UL{
color: #000000;
background-color: #FEFEFE;
border: 1px solid #888888;
list-style-type : none;
margin: 0px 0px 0px 1px;
padding:0px;
position: absolute;
}
DIV.autocomplete LI{
font: normal 8pt Arial, Helvetica, sans-serif;
list-style-type:none;
margin:  0px;
padding: 2px 4px;
line-height: 130%;
cursor:pointer;
white-space: nowrap;
}
DIV.autocomplete LI.selected { 
background-color: #FFFFBB;
}
DIV.autocomplete SPAN.info{
color: #888888;
}
INPUT.autocomplete{
color: #666666;
background: #E9F8DD url('autocomplete.gif') no-repeat 2px center ;
padding-left: 20px;
}
INPUT.treecatcomplete{
background-color: #E9F8DD;
margin-top: 4px;
width: 14em;
}
INPUT.treecatrefresh{
font-weight: bold;
color: #000000;
background-color: #ffff70;
}
DIV.autocomplete LI SPAN.match {
font-weight: bold;
}
DIV.autocomplete LI.nomatch {
background-color: #CC4444;
color: #FFFFFF;
font-weight: bold;
cursor: default;
}
DIV.autocomplete LI.info{
background-color: #ADBCC3;
color: #FFFFFF;
cursor: default;
}
.formArea            { 
background: #FAFAFA url('formBg.gif') repeat-x scroll 0%; 
padding: 10px 10px 20px 10px; 
border:  1px solid #999999;
}
.formInfo            { font-size: small ;  font-family: Arial, Helvetica, sans-serif;}
.formInfoSmaller     { font-size: x-small; font-family: Arial, Helvetica, sans-serif;}
.formMandatory       { font-size: small ;  font-family: Arial, Helvetica, sans-serif; color: #FF0000;}
.formLabel           { font-size: 11pt  ;  font-family: Arial, Helvetica, sans-serif; font-weight: bold;  text-align: left; white-space:nowrap;}
.formLabelHeader     { font-size: 11pt  ;  font-family: Arial, Helvetica, sans-serif; font-weight: bold;  text-align: center; white-space:nowrap;}
legend.formLabel     { font-size: 11pt  ; }
.formDescription     { font-size: small ; font-family: Arial, Helvetica, sans-serif; color: #666666; text-align: left; }
.formTextarea        { font-size: small ; font-family: Arial, Helvetica, sans-serif; border: 1px #999999 solid; background-color: #FFFFFF; padding: 1px;}
.formTextarea:focus  { background-color: #FFFFED; }
.formTextfield       { font-size: small ; font-family: Arial, Helvetica, sans-serif; border: 1px #999999 solid; background-color: #FFFFFF; padding: 1px;}
.formTextfield:focus { background-color: #FFFFED; }
.formChooserfield    { font-size: small ; font-family: Arial, Helvetica, sans-serif; border: 1px #999999 solid; background-color: #DDDDDD; padding: 1px;}
.formCheckbox        { margin: 1px; padding: 0px; vertical-align: middle;}
.formRadiobox        { margin: 1px; padding: 0px; vertical-align: middle;}
.formLabelbox        { font-size: small ; font-family: Arial, Helvetica, sans-serif; text-align: left;}
.formCombobox        { font-size: small ; font-family: Arial, Helvetica, sans-serif; }
.formListbox         { font-size: small ; font-family: Arial, Helvetica, sans-serif; }
.formUnits           { font-size: x-small  ; font-family: Arial, Helvetica, sans-serif; }
.formButton:hover    { border: 1px solid #999999;  }
.formButton          { font-size: small; 
font-family: Arial, Helvetica, sans-serif; 
background-color: #DDDDDD; 
border: 1px solid #666666; 
height: 23px; 
background-image: url('buttonBg.gif'); 
background-repeat: repeat-x; 
margin: 2px; 
padding: 0 6px; 
width:auto;
overflow:visible;
}
.seriousButton:hover { border: 1px solid #DD6666;  }
.seriousButton       { background: #CC9999 url('seriousButtonBg.gif'); 
color: #FFFFFF; 
border: 1px solid #990000; 
font-weight: bold; 
}
.mainButton:hover    { border: 1px solid #6666FF;  }
.mainButton          { 
background: #99BBEE url('mainButtonBg.gif'); 
color: #FFFFFF; 
border: 1px solid #333388;
font-weight: bold; 
}
.disabledButton:hover,
.formButton[disabled]{ border: 1px solid #666666;  }
.disabledButton      { background-color: #BCBCBC;
background-image: url('mainButtonDisbBg.gif');
color: #666666; 
border: 1px solid #666666;
}
.formDisabled        { color: gray; background-color: #DCDCDC; }
A.formButton         { 
font-size: x-small; 
font-family: Arial, Helvetica, sans-serif; 
border: 1px solid #666666; 
padding: 3px; 
color: #333333; 
text-decoration:none;
}
.UI_EDITOR_TEXTFIELD .tab-page,
.UI_EDITOR_TEXTAREA  .tab-page,
.UI_EDITOR_WIKIAREA  .tab-page { white-space: nowrap; }
.UI_EDITOR_TEXTFIELD_INTEGER .formTextfield { text-align: right; }
.UI_EDITOR_TEXTFIELD_DOUBLE  .formTextfield { text-align: right; }
.UI_EDITOR_DURATIONCHOOSER   .formTextfield { text-align: right; }
.UI_EDITOR_WARNAREA          .formTextarea  { background-color: #FFEECC; }
.UI_EDITOR_IMAGEMAPAREA      .formTextarea  { background-color: #FFEECC; }
.UI_EDITOR_RICHTEXT          .formRichText  {
background-color: #FFEECC;
border: 1px #999999 solid; 
padding: 10px;
}
/* Wysiwyg Popup Edition */
.UI_EDITOR_RICHTEXT .formRichTextLink  {
width: 640px; 
padding: 4px 2px;  
}
/* edits info and links */
.UI_EDITOR_RICHTEXT .editLinks {
}
.UI_EDITOR_RICHTEXT .editLink {
font-size: 9px; 
color: white;
text-decoration: none;
background-color: #DDDDDD; 
border: 1px solid #333388; 
background-image: url('mainButtonBg.gif'); 
background-repeat: repeat-x; 
padding: 2px 6px; 
cursor: default;
}
.UI_EDITOR_RICHTEXT .editLink:hover {
border: 1px solid #6666FF; 
}
.UI_EDITOR_RICHTEXT .editInfo {
background: transparent url('arrowSmallLeft.gif') no-repeat scroll left center;
padding-left: 11px;
margin-left: 10px;
color: brown;
}
/* preview and source links */
.UI_EDITOR_RICHTEXT .viewsLinks {
float: right;
}
.UI_EDITOR_RICHTEXT .srcLink, .UI_EDITOR_RICHTEXT .prevLink,
.UI_EDITOR_RICHTEXT .srcLinkDisabled, .UI_EDITOR_RICHTEXT .prevLinkDisabled { padding: 1px 5px; }
.UI_EDITOR_RICHTEXT .srcLink, .UI_EDITOR_RICHTEXT .prevLink { color: gray;}
.UI_EDITOR_RICHTEXT .showSrc .prevLinkDisabled { display: none; }
.UI_EDITOR_RICHTEXT .showSrc .srcLink { display: none; }
.UI_EDITOR_RICHTEXT .showSrc .srcLinkDisabled { font-weight: bold; background-color: #FFEECC;}
.showSrc textarea { display: block; }
.showSrc iframe { display: none; }
.UI_EDITOR_RICHTEXT .showPrev .srcLinkDisabled { display: none; }
.UI_EDITOR_RICHTEXT .showPrev .prevLink { display: none; }
.UI_EDITOR_RICHTEXT .showPrev .prevLinkDisabled { font-weight: bold; background-color: #fcfcf0;}
.showPrev textarea { display: none; }
/* preview and source content */
.UI_EDITOR_RICHTEXT textarea {
width: 640px; 
height: 300px;
background-color: #FFEECC;
border: 1px #999999 solid; 
}
.UI_EDITOR_RICHTEXT iframe.formRichTextPopup {
width: 640px; 
height: 300px;
border: 2px #999999 dotted; 
}
/* TextArea javascript resizer */
.textarea-resizer {
width: 500px; height: 6px; line-height: 1px; font-size: 1px;
cursor: s-resize;
background: url('resize-handle.gif') repeat scroll center top;
border: 1px solid #666666;
border-top: 0px;
}
.textarea-resized {
margin-bottom: 0px;
}
.inline-widget {
display: inline;
}
.float-widget {
float: left;
}
.nolist-widget LI {
list-style-type: none;
}
.nolist-widget OL,
.nolist-widget UL {
padding-left: 4px;
}
/* Tab */
/* @import url('jalios/tab.css'); */
/* **********************************************************
** Tabs container (==> tab-pane)
*/
.tab-pane {
position: relative;
width: 98%;
}
/* **********************************************************
** Tab top links (==> top-row > tab|tab_selected)
*/
.tab-row {
white-space: nowrap;
}
.tab-row .tab ,
.tab-row .tab_selected {
font-family: Arial, Helvetica, sans-serif;
font-size: small;
font-weight: normal;
display: inline;
position:  relative;
float: left;
top: 1px;
margin: 4px 0px 1px 0px;
padding: 2px 5px 3px 5px;
background:  #D0D0D0;
border:  1px solid;
border-color:  #999999 #666666 #999999 #999999;
border-bottom: none;
cursor: default;
}
.tab-row .tab a ,
.tab-row .tab_selected a {
font-family: Arial, Helvetica, sans-serif;
color: #000000;
text-decoration: none;
cursor: default;
}
.tab-row .tab a:hover,
.tab-row .tab_selected a:hover {
color:  blue;
}
/* Custom style for the selected tab */
.tab-row .tab_selected {
font-weight: bold;
padding: 5px 6px 4px 7px;
margin: 0px;
top: 2px;
border-width: 1px; 
border-color: #999999 #666666 #666666 #999999;
background:  #E4ECEE;
background-image: url('tabBg.gif');
background-repeat: repeat-x;
}
/* **********************************************************
** Tab Content (==> tab-page)
*/
.tab-single-pane ,
.tab-page {
clear: both;
border: 1px solid;
border-color:  #999999 #666666 #666666 #999999;
color: WindowText;
font: Message-Box;
padding: 10px;
background: #FAFAFA;
background-image: url('formBg.gif');
background-repeat: repeat-x;
}
.tab-page textarea {
position: relative;
}
.tab-page pre {
font-size: smaller;
}
.tab-page hr {
color: #DDDDDD;
background-color: #DDDDDD;
height: 1px;
border: 0;
}
/* **********************************************************
** Tab inside another tab
*/
.tab-page .tab-row .tab ,
.tab-page .tab-row .tab_selected {
border-color: #CCCCCC #AAAAAA #AAAAAA #CCCCCC;
}
.tab-page .tab-page {
background: #ECEEF0;
background-image: url('subFormBg.gif');
background-repeat: repeat-x;
background-position: bottom;
border-color: #CCCCCC #AAAAAA #AAAAAA #CCCCCC;
}
/* **********************************************************
** Following styles provided to prevent huge difference between
** styles used before tabpane setup and styles used after.
*/
h2.tab { 
font-family: Arial, Helvetica, sans-serif;
font-size: small;
font-weight: bold;
}
/* Body */
body {margin: 0; padding: 0px; background-color: #FFFFFF; }
/* Exception */
DIV.exception BUTTON{
font: bold 8pt Arial, Helvetica, sans-serif;
color: #FFFFFF;
background-color: #CC0000;
border:1px solid  #666666;
margin: 1px;
}
DIV.exception TEXTAREA { 
overflow:    scroll;
white-space: pre;
text-align:  left;
font-size: 8pt;
padding:   5px;
margin:    0px;
height:    300px;
width:     400px;
border:1px solid  #CC0000;
background-color: #DDDDDD;
color: #111111;
display: block;
}
HTML > BODY  DIV.exception TEXTAREA { width: 90%; }
/* Preview */
DIV.previewWFState {
background-color: #FFFFCC; 
vertical-align: middle;
margin: 5px;
border:1px solid #FFEE88;
}
DIV.previewWFStateTitle {
font: bold 12pt Arial, Helvetica, sans-serif;
text-align: left;
background-color: #FFEE88; 
padding: 4px 6px 2px 6px;
white-space:nowrap;
}
DIV.previewWFStateChooser {
font: 10pt Arial, Helvetica, sans-serif;
padding: 8px 4px 8px 8px;
}
.previewWFState FORM {
display: inline;
}
.previewWFState SELECT{
/*  font: bold 14pt Arial, Helvetica, sans-serif;
color: #EE5500;
*/
}
.previewWFState OPTION{
/*
font: 12pt Arial, Helvetica, sans-serif;
*/
}
/* Edit Area */
.hidden {
display: none;
}
.nowrap {
white-space: nowrap;
}
/* Tree */
.tree, .tree SPAN, .tree A, .tree TD {
border:0px solid red;
padding:0px;
margin:0px;
border-collapse:collapse;
font:12px Arial, Helvetica, sans-serif;
text-decoration:none;
color:black;
white-space:nowrap;
}
.tree A:hover { text-decoration: underline; }
.tree INPUT { width:12px; height:12px;}
.tree A.node IMG { border:0px;}
.ULtree , .ULtree UL { font: 12px Arial, Helvetica, Sans-Serif; color: #333333; list-style-type : none ; }
.ULtree LI           { font: 12px Arial, Helvetica, Sans-Serif; color: #333333; margin : 2px 2px 0px -25px ; white-space: nowrap; }
.ULtree A            { font: 12px Arial, Helvetica, Sans-Serif; color: #333333; text-decoration: none;}
.ULtree A:hover      { text-decoration: underline; }
.clickable           { cursor: pointer; }
/* Contextual Menu specific styles for some menu */
A.ctxPubMenu { margin-left: -5px; }
A.ctxMbrMenu { margin-left: -5px; }
A.ctxLoginSuMenu { margin-left: -2px; }
A.ctxLangMenu { }
A.ctxWsMenu { }
A.ctxEditAddMenu { }
TD.displayHeaderToolbar A.ctxPubMenu { 
position: relative; 
left: -13px; 
top:  -8px;
margin-left: 1px;
}
/* Global style for all thumbnail image */
img.thumbnail {
border: 1px solid #BBBBBB;
padding: 2px;
background-color: #EEEEEE;
margin: 5px;
}
/* css/custom.css */
/* Import WYSIWYG CSS */
/* @import url('wysiwyg.css'); */
/* Classic */
.classic                        { font: 16px; }
.classic TABLE                  { font: 16px/19px; }
.classic .normal,
.classic .normal TABLE          { font: 16px/19px; }
.classic .special,
.classic .special TABLE         { font: 12px/19px sans-serif; }
.classic .legend                { font: oblique 16px/19px; }
.classic CODE, .classic PRE     { font: 16px/19px monospace; }
.classic CODE		      		      { background: #F7F7F7; white-space: nowrap; }
.classic H1                     { font: bold 17px Verdana, sans-serif; }
.classic H2                     { font: bold 12px Verdana, sans-serif; }
.classic OL LI                  { list-style-position: inside; }
.classic UL LI                  { list-style: square inside; }
.classic TABLE                  { border-collapse: collapse; }
.classic THEAD TD               { font: bold 15px Verdana, sans-serif; background: #E0E0E0; }
.classic TFOOT TD               {                                      background: #F0F0F0; }
.classic .quotation { 
border-left-width: 0.4em;
border-left-style: solid;
border-left-color: #d2d2d2;
float: left;
background: #efefef url('bg_quote_right.gif') no-repeat right bottom;
padding: 0.4em 0.6em 1.5em 0.6em;
text-align: justify;
}
.classic TABLE.tablelayout { border-collapse: collapse; }
.classic TD .tablelayout { border: 0px; }
.classic .a_Gras                  { font-weight: bold; }
.classic .a_Italique              { font-style: italic; }
.classic .a_Souligne              { text-decoration: underline; }
.classic .b_AlignGauche           { text-align: left; }
.classic .b_AlignDroite           { text-align: right; }
.classic .b_AlignCentre           { text-align: center; }
.classic .b_AlignJustifie         { text-align: justify; }
.classic .c_JustifieGras          { text-align: justify; font-weight: bold; }
.classic .c_JustifieItalique      { text-align: justify; font-style: italic; }
.classic .c_JustifieSouligne      { text-align: justify; text-decoration: underline; }
.classic .c_JustifieGrasSouligne  { text-align: justify; font-weight: bold; text-decoration: underline; }
.classic .d_CentreGras            { text-align: center; font-weight: bold; }
.classic .d_CentreItalique        { text-align: center; font-style: italic; }
.classic .d_CentreSouligne        { text-align: center; text-decoration: underline; }
.classic .d_CentreGrasSouligne    { text-align: center; font-weight: bold; text-decoration: underline; }
/* Modern Red */
.infovae_rouge, .infovae_rouge TABLE { color: #222222; font-size:1em;  font-familly:Arial,Helvetica,sans-serif; }
.infovae_rouge .normal,.infovae_rouge .normal TABLE { font: 11pt/14pt Verdana, sans-serif; }
.infovae_rouge .special, .infovae_rouge .special TABLE { font: 13pt/14pt; }
.infovae_rouge .legend { font: 12pt/14pt Georgia,; }
.infovae_rouge CODE, .infovae_rouge PRE { font: 12pt/14pt monospace; }
.infovae_rouge CODE { background: #FFF0F0; white-space: nowrap; }
.infovae_rouge H1 { font-size:0.88em; font-weight:normal; color:#000000; margin:5px 0px 3px 0px;}
.infovae_rouge H2 { font-size:0.83em; font-weight:normal; color:#000000; margin:0px}
.infovae_rouge H3 { font-size:0.77em; font-weight:normal; color:#000000; margin:0px; }
.infovae_rouge H4 { font-size:0.72em; font-weight:normal; color:#000000; margin:0px; }
.infovae_rouge H5 { font-size:0.67em; font-weight:normal; color:#000000; margin:0px; }
.infovae_rouge H6 { font-size:0.62em; font-weight:normal; color:#000000; margin:0px; }
.infovae_rouge A { text-decoration:underline; color: #000000! important; }
.infovae_rouge A:hover { text-decoration:none; color: #000000; }
.infovae_rouge OL LI { list-style : upper-alpha outside; padding-bottom: 6pt; }
.infovae_rouge UL { margin:5px 0px 3px 0px; padding-left:20px; }
.infovae_rouge UL LI { ist-style-position:outside; list-style-image:url('bulletSquareRed.gif'); list-style-type:none; padding-bottom: 6pt; }
.infovae_rouge TABLE { border: 1pt solid #880A00; }
.infovae_rouge TD { text-align: left;   border: 1pt solid #CC0E00; padding: 3pt 6pt; }
.infovae_rouge TH { color: #880A00; font-weight: bold; text-align: center; border: 1pt solid #FF2110; padding: 3pt 6pt; }
.infovae_rouge THEAD TD { color: #FFFFFF; font-weight: bold; text-align: center; border: 1pt solid #FF2110; background: #CC0E00; }
.infovae_rouge TFOOT TD { color: #CC0E00; font-size: 10pt;   text-align: right; }
.infovae_rouge .quotation  { 	
border-top: 1px dotted #878787;	
border-bottom: 1px dotted #878787; 
border-left: 0;
float: left;
margin: 0.1em 0.5em 0.8em 0.5em;
background: #f7f7d7 url('bg_quote_left02.gif') no-repeat left top;
padding: 1em 0.8em 1em 3.6em;
text-align: justify;
}
.infovae_rouge .a_Gras                  { font-weight: bold; }
.infovae_rouge .a_Italique              { font-style: italic; }
.infovae_rouge .a_Souligne              { text-decoration: underline; }
.infovae_rouge .b_AlignGauche           { text-align: left; }
.infovae_rouge .b_AlignDroite           { text-align: right; }
.infovae_rouge .b_AlignCentre           { text-align: center; }
.infovae_rouge .b_AlignJustifie         { text-align: justify; }
.infovae_rouge .c_JustifieGras          { text-align: justify; font-weight: bold; }
.infovae_rouge .c_JustifieItalique      { text-align: justify; font-style: italic; }
.infovae_rouge .c_JustifieSouligne      { text-align: justify; text-decoration: underline; }
.infovae_rouge .c_JustifieGrasSouligne  { text-align: justify; font-weight: bold; text-decoration: underline; }
.infovae_rouge .d_CentreGras            { text-align: center; font-weight: bold; }
.infovae_rouge .d_CentreItalique        { text-align: center; font-style: italic; }
.infovae_rouge .d_CentreSouligne        { text-align: center; text-decoration: underline; }
.infovae_rouge .d_CentreGrasSouligne    { text-align: center; font-weight: bold; text-decoration: underline; }
.infovae_violet, .infovae_violet TABLE { padding:0 10px 10px; text-align:justify; width:97%; font-size:1em;  font-familly:Arial,Helvetica,sans-serif; }
.infovae_violet .normal,.infovae_violet .normal TABLE { font: 11pt/14pt Verdana, sans-serif; }
.infovae_violet .special, .infovae_violet .special TABLE { font: 13pt/14pt; }
.infovae_violet .legend { font: 12pt/14pt Georgia,; }
.infovae_violet CODE, .infovae_fond_violet PRE { font: 12pt/14pt monospace; }
.infovae_violet CODE { background: #FFF0F0; white-space: nowrap; }
.infovae_violet H1 { font-size:0.88em; font-weight:normal; color:#000000; margin:5px 0px 3px 0px;}
.infovae_violet H2 { font-size:0.83em; font-weight:normal; color:#000000; margin:0px; }
.infovae_violet H3 { font-size:0.77em; font-weight:normal; color:#000000; margin:0px; }
.infovae_violet H4 { font-size:0.72em; font-weight:normal; color:#000000; margin:0px; }
.infovae_violet H5 { font-size:0.67em; font-weight:normal; color:#000000; margin:0px; }
.infovae_violet H6 { font-size:0.62em; font-weight:normal; color:#000000; margin:0px; }
.infovae_violet A { text-decoration:underline; color: #000000 ! important; }
.infovae_violet A:hover { text-decoration:none; color: #000000; }
.infovae_violet OL LI { list-style : upper-alpha outside; padding-bottom: 6pt; }
.infovae_violet UL { margin:5px 0px 3px 0px; padding-left:20px; }
.infovae_violet UL LI { list-style-position:outside; list-style-image:url('bulletSquareViolet.gif'); list-style-type:none; padding-bottom: 6pt; }
.infovae_violet TABLE { border: 1pt solid #880A00; }
.infovae_violet TD { text-align: left;   border: 1pt solid #CC0E00; padding: 3pt 6pt; }
.infovae_violet TH { color: #880A00; font-weight: bold; text-align: center; border: 1pt solid #FF2110; padding: 3pt 6pt; }
.infovae_violet THEAD TD { color: #FFFFFF; font-weight: bold; text-align: center; border: 1pt solid #FF2110; background: #CC0E00; }
.infovae_violet TFOOT TD { color: #CC0E00; font-size: 10pt;   text-align: right; }
.infovae_violet .quotation  { 	
border-top: 1px dotted #878787;	
border-bottom: 1px dotted #878787; 
border-left: 0;
float: left;
margin: 0.1em 0.5em 0.8em 0.5em;
background: #f7f7d7 url('bg_quote_left02.gif') no-repeat left top;
padding: 1em 0.8em 1em 3.6em;
text-align: justify;
}
.infovae_violet .a_Gras                  { font-weight: bold; }
.infovae_violet .a_Italique              { font-style: italic; }
.infovae_violet .a_Souligne              { text-decoration: underline; }
.infovae_violet .b_AlignGauche           { text-align: left; }
.infovae_violet .b_AlignDroite           { text-align: right; }
.infovae_violet .b_AlignCentre           { text-align: center; }
.infovae_violet .b_AlignJustifie         { text-align: justify; }
.infovae_violet .c_JustifieGras          { text-align: justify; font-weight: bold; }
.infovae_violet .c_JustifieItalique      { text-align: justify; font-style: italic; }
.infovae_violet .c_JustifieSouligne      { text-align: justify; text-decoration: underline; }
.infovae_violet .c_JustifieGrasSouligne  { text-align: justify; font-weight: bold; text-decoration: underline; }
.infovae_violet .d_CentreGras            { text-align: center; font-weight: bold; }
.infovae_violet .d_CentreItalique        { text-align: center; font-style: italic; }
.infovae_violet .d_CentreSouligne        { text-align: center; text-decoration: underline; }
.infovae_violet .d_CentreGrasSouligne    { text-align: center; font-weight: bold; text-decoration: underline; }
.infovae_fond_violet, .infovae_fond_violet TABLE { background-color:#EFECF3; border-bottom:1px solid #CEC1DC; padding:0 10px 10px; text-align:justify; width:97%; font-size:1em;  font-familly:Arial,Helvetica,sans-serif; }
.infovae_fond_violet .normal,.infovae_fond_violet .normal TABLE { font: 11pt/14pt Verdana, sans-serif; }
.infovae_fond_violet .special, .infovae_fond_violet .special TABLE { font: 13pt/14pt; }
.infovae_fond_violet .legend { font: 12pt/14pt Georgia,; }
.infovae_fond_violet CODE, .infovae_fond_violet PRE { font: 12pt/14pt monospace; }
.infovae_fond_violet CODE { background: #FFF0F0; white-space: nowrap; }
.infovae_fond_violet H1 { font-size:0.88em; font-weight:normal; color:#000000; margin:5px 0px 3px 0px;}
.infovae_fond_violet H2 { font-size:0.83em; font-weight:normal; color:#000000; margin:0px; }
.infovae_fond_violet H3 { font-size:0.77em; font-weight:normal; color:#000000; margin:0px; }
.infovae_fond_violet H4 { font-size:0.72em; font-weight:normal; color:#000000; margin:0px; }
.infovae_fond_violet H5 { font-size:0.67em; font-weight:normal; color:#000000; margin:0px; }
.infovae_fond_violet H6 { font-size:0.62em; font-weight:normal; color:#000000; margin:0px; }
.infovae_fond_violet A { text-decoration:underline; color: #000000 ! important; }
.infovae_fond_violet A:hover { text-decoration:none; color: #000000; }
.infovae_fond_violet OL LI { list-style : upper-alpha outside; padding-bottom: 6pt; }
.infovae_fond_violet UL { margin:5px 0px 3px 0px; padding-left:20px; }
.infovae_fond_violet UL LI { list-style-position:outside; list-style-image:url('bulletSquareViolet.gif'); list-style-type:none; padding-bottom: 6pt; }
.infovae_fond_violet TABLE { border: 1pt solid #880A00; }
.infovae_fond_violet TD { text-align: left;   border: 1pt solid #CC0E00; padding: 3pt 6pt; }
.infovae_fond_violet TH { color: #880A00; font-weight: bold; text-align: center; border: 1pt solid #FF2110; padding: 3pt 6pt; }
.infovae_fond_violet THEAD TD { color: #FFFFFF; font-weight: bold; text-align: center; border: 1pt solid #FF2110; background: #CC0E00; }
.infovae_fond_violet TFOOT TD { color: #CC0E00; font-size: 10pt;   text-align: right; }
.infovae_fond_violet .quotation  { 	
border-top: 1px dotted #878787;	
border-bottom: 1px dotted #878787; 
border-left: 0;
float: left;
margin: 0.1em 0.5em 0.8em 0.5em;
background: #f7f7d7 url('bg_quote_left02.gif') no-repeat left top;
padding: 1em 0.8em 1em 3.6em;
text-align: justify;
}
.infovae_fond_violet .a_Gras                  { font-weight: bold; }
.infovae_fond_violet .a_Italique              { font-style: italic; }
.infovae_fond_violet .a_Souligne              { text-decoration: underline; }
.infovae_fond_violet .b_AlignGauche           { text-align: left; }
.infovae_fond_violet .b_AlignDroite           { text-align: right; }
.infovae_fond_violet .b_AlignCentre           { text-align: center; }
.infovae_fond_violet .b_AlignJustifie         { text-align: justify; }
.infovae_fond_violet .c_JustifieGras          { text-align: justify; font-weight: bold; }
.infovae_fond_violet .c_JustifieItalique      { text-align: justify; font-style: italic; }
.infovae_fond_violet .c_JustifieSouligne      { text-align: justify; text-decoration: underline; }
.infovae_fond_violet .c_JustifieGrasSouligne  { text-align: justify; font-weight: bold; text-decoration: underline; }
.infovae_fond_violet .d_CentreGras            { text-align: center; font-weight: bold; }
.infovae_fond_violet .d_CentreItalique        { text-align: center; font-style: italic; }
.infovae_fond_violet .d_CentreSouligne        { text-align: center; text-decoration: underline; }
.infovae_fond_violet .d_CentreGrasSouligne    { text-align: center; font-weight: bold; text-decoration: underline; }
/* Import Wiki */
/* @import url('wiki.css'); */
/* Wiki CSS */
.wiki p         { padding: 5px 0px 5px 0px; margin: 5px 0px 5px 0px; line-height: 120%; } 
.wiki p.first   { padding: 0px 0px 5px 0px; margin: 0px 0px 5px 0px; }
.wiki h1        { font-family: Arial, Helvetica, sans-serif;}
.wiki h2        { font-family: Arial, Helvetica, sans-serif;}
.wiki h3        { font-family: Arial, Helvetica, sans-serif;}
.wiki hr        { border-top: solid; border-width: 1px}
.wiki img       { border-width: 0}
.wiki table     { background-color: #000000; }
.wiki tr        { background-color: #FFFFFF;}
.wiki th        { background-color: #EEEEEE; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #000000; padding: 3px}
.wiki td        { padding: 3px; }
.wiki code      {}
.wiki a         {}
.wiki ol        {}
.wiki ul        {}
.wiki li        {}
.wiki dl        {}
.wiki dt        {}
.wiki dd        {}
.wiki pre {
display: block;
overflow: auto;
padding: 5px;
background-color: #F4F9FF;
border: 1px solid #CCCCCC;
clear: both;
}
.wiki q, .wiki blockquote {	
border-top:    1px dotted #878787;	
border-bottom: 1px dotted #878787; 
border-left: 0;
margin: 0.1em 0.5em 0.8em 0.1em;
background: #f7f7d7 url('bg_quote_left02.gif') no-repeat left top;
padding: 1em 0.8em 1em 3.6em;
text-align: justify;
}
/* Import Forum */
/* @import url('forum.css'); */
/* Forum */
table.forumBorder     { background-color: #666660; }
table.forumBackground { background-color: #e0e0e0; }
td.forumHeader        { color:#FFFFFF;  background-color: #CCCCC0; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-align: center; font-size: 10pt; white-space:nowrap;}
a.forumHeader         { color:#FFFFFF; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-align: center; }
a.forumHeaderSel      { color:#FFFF00; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-align: center; }
td.forumEmptyHeader   { background-color:#ffffff;}
tr.forumOddRow        { background-color:#e0e0e0; font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
tr.forumEvenRow       { background-color:#f0f0f0; font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
td.forumEvenRow       { background-color:#f0f0f0; font-family: Arial, Helvetica, sans-serif; font-size: 10pt }
td.forumOddRow        { background-color:#e0e0e0; font-family: Arial, Helvetica, sans-serif; font-size: 10pt }
.forumEvenRow A, 
.forumOddRow A        {color:#000000; font-weight: bold; text-decoration: none;}
.forumEvenRow A:hover, 
.forumOddRow A:hover  {color:#000000; font-weight: bold; text-decoration: underline;}
/* threadView */
DIV#threadView {
margin-bottom: 20px;
width: 98%;
}
DIV#threadView .message {
font-family: Arial, Helvetica, sans-serif;
font-size: small;
padding: 5px 0 0 30px;
margin: 0 0 0 0;
background-image: url('article.gif');
background-repeat: no-repeat;
background-position: 10px 5px;
}
DIV#threadView .message .message {
border-left: 1px dashed #CCCCCC;
}
DIV#threadView .details {
font-family: verdana, sans-serif;
font-size: x-small;
color: #666666;
}
/* Discussion table & post message */
DIV#discussionTable {
margin: 20px 0;
}
DIV#discussionTable DIV.post {
font-family: Arial, Helvetica, sans-serif;
border: 1px solid #666660;
margin-bottom: 5px;
padding: 5px;
background-color:#e0e0e0;
}
DIV#discussionTable DIV.oddRow  { 
background-color:#e0e0e0; 
}
DIV#discussionTable DIV.evenRow { 
background-color:#f0f0f0; 
}
DIV#discussionTable DIV.post div.reply {
float: right;
margin-right: 4px;
}
DIV#discussionTable DIV.post .reply {
font-size: small;
}
DIV#discussionTable DIV.post .writer {
background-repeat: no-repeat;
background-position: 0px 0px;
padding: 0 0 2px 0px;
float: left;
}
DIV#discussionTable DIV.post .writer p {
font-size: x-small;
/*display: inline;*/
margin: 0px 5px 0px 0px;
}
DIV#discussionTable DIV.post .writer p.author {
font-size: small;
font-weight: bold;
display: block;
margin-bottom: 0;
}
DIV#discussionTable DIV.post .writer p.author a { color: black; }
DIV#discussionTable DIV.post .title {
font-size: small;
font-weight: bold;
padding-bottom: 10px;
border-bottom: 1px dashed #CCCCCC;
}
DIV#discussionTable DIV.post .message {
background-color: #FFFFFF;
clear: both;
padding: 5px;
font-size: small;
}
/* Import Faq */
/* @import url('faq.css'); */
.Faq .entry {
margin-top:    10px;
margin-bottom: 20px;
}
.Faq .entry .question {
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: #000000;
}
/* Import Glossary */
/* @import url('glossary.css'); */
.Glossary .index { 
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
text-align: center;
}
.Glossary .indexLetter { 
font-weight: bold;
color: #000000;
}
.Glossary .emptyLetter { 
color: #999999;
}
.Glossary .letter { 
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
font-weight: bold;
color: #000000;
}
.Glossary .entry {
margin-top:    10px;
margin-bottom: 20px;
}
.Glossary .entry .term {
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: #000000;
}
.Glossary .entry .seealso .label {
font-weight: bold;
border-right: 0px;
border-left: 0px;
}
.Glossary .entry .translation .label {
font-weight: bold;
border-right: 0px;
border-left: 0px;
} 
/* Put your custom style here */
/* css/custom_fo.css */
