		/* taille du texte */

		input.text, .resume, #contenu .col1 .scol2  a,#contenu #tracker a,#conteneur #contenu  .col2 .flecheRouge div h3 a,#conteneur #hautPage .nav ul.navigation li a,#basPage p,select,#conteneur #contenu div.col2 .fRight label{
		font-size:1.1em !important;
		}
		#conteneur .btn, #contenu .col1 .contenu .scol2  a.home{font-size:1em !important;}
		#hautPage .nav .agrandir,#contenu .col1 #cnsa div span,#contenu .col1 .scol2 h2{
		font-size:1.7em;
		}
		#contenu p.btn a span.txt,.btn input,#mdph label,#contenu .col1 .scol3 li a,#contenu .scol3 h3 a,#contenu .scol3 p,#contenu .scol3 h3,#contenu .col1 #cnsa li a,#contenu .col1 #cnsa div p,#contenu .col1 .scol2 p,.interne#conteneur #contenu .ligne_rouge p,td,#tracker li,.interne.deux#conteneur   .srub li a,.interne.deux#conteneur   .srub li a.active,.interne.deux#conteneur #contenu .active2,.interne.deux#conteneur   .ssrub li a,.champs_recherche *,.interne,#contenu p.accroche,#conteneur #contenu .ancres li a,#conteneur #contenu .resume p.telecharger,#contenu p.btn a.txt,.tpl_accueil#conteneur .col2 ul li a,#result_recherche input,.result_suiv select,#conteneur #contenu div.col2 .fRight .result_suiv label,.fLeft ul li{
		 font-size:1.1em;
		 }
		#hautPage .nav .retressir,#hautPage .bandeau p,#contenu .col2 h2,#contenu .col1 .scol2 h3,#menu a,a.fRight,th,.interne .col2 p,.resume p.texte,.resume .divSpipDroite, .savoir,.interne  #contenu  li a,.interne  #contenu .col2 h3,.interne  #contenu .col2 h4{
		font-size:1.2em;
		}
		#hautPage .bandeau h1,#contenu .scol3 h2,#conteneur #contenu div.vert h3{
		font-size:1.6em;
		}
		.interne  #contenu .col2 h2{
		font-size:1.8em;
		}
		.interne  #contenu .champ, .interne  #contenu .valeur{
		font-size:1.2em;
		}
		
		#contenu #tracker a {
			font-size: 1.0em !important;
		}
		

