/* CSS Document */
body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-style:normal;
	background-color:#ffffff; /*#bdd3de;*/
}

body a {
	text-decoration:none;
	text-transform:none;
}

body a:hover {
	text-decoration: underline;
}

#fond {
	position: absolute;
	width: 780px;
	left: 50%;
	margin-left: -400px;
	height:600px;
	background-image:url(91576_fond-acceuil-ombre17-12-09.jpg);
	top:10px;
	margin-bottom:5%;
	color:#000000;
	/*border:solid #005278;
    	border-style: solid;
    	border-bottom-color: #333333;
    	border-right-color: #555555;
    	border-left-color: #BBBBBB;
   	border-top-color: #DDDDDD;*/
}

#fond img{
	border:none;
}

#adresse {
	color:#005278;
	font-size:9px;
	position:absolute;
	bottom:20px;
	left: 5px;
	padding:0px;
	margin:0px;
	border-right:solid #005278;
	margin-right:2px;
	
}
#adresse h1 {
	font-size:10px;
	font-weight:bold;
	margin:0px;
	padding:0px;
}
#lienListe {
	color:#005278;
	font-size:9px;
	position:absolute;
	bottom:20px;
	left: 265px;
	padding:0px;
	margin:0px;
	margin-right:2px;
}
#lienListe ul{
	padding:0px;
	margin:0px;
}
#lienListe li{
	list-style:none;
	padding:0px;
	margin-top:0px;
	margin-bottom:5px;
	margin-left:0px;
	margin-right:0px;
}
#lienListe a{
	color:#005278;
	font-weight:bold;
}
#recherche {
	color:#005278;
	font-size:10px;
	position:absolute;
	text-indent:5px;
	/*padding-left:10px;*/
	margin:0px;
	padding:0px;
	left: 618px;
	top: 151px;
}
#recherch form {
	margin:0px;
	padding:0px;
}

#recherche p{
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom:-7px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	/*margin:0px;*/
	padding:0px;
}
#recherche input {
	margin:0px;
	padding:0px;
	/*margin-bottom: -5px;*/
}

#inputSearch {
	/*margin:0px;
	padding:0px;*/
	margin-top:-5px;
	width: 98px;
	border: 2px solid #f9b700;
}

#submitSearch {
	padding:0px;
	margin:0px;
}


#menu1 {
	font-size:10px;
	font-weight:bold;
	text-align:right;
	border-right:solid #fdb813;
	margin:0px;
	padding:0px;
	/*padding-right: 10px;*/
	position:absolute;
	top:230px;
	/*bottom:140px;*/
	left:261px;
	color:#cccccc;
	width: 190px;
}
#menu1 a{
	color:#ffffff;
}
#menu1 ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
#menu1 li{
	/*margin:15px;*/
	margin-bottom:10px;
	margin-left:15px;
	margin-right:15px;
	margin-top:12px;
}

#menu2 {
	font-size:10px;
	font-weight:bold;
	text-align:left;
	/*padding-left: 10px;*/
	margin:0px;
	padding:0px;
	position:absolute;
	/*bottom:164px;*/
	color:#fdb813;
	left: 458px;
	top: 342px;
}
#menu2 a {
	color:#fdb813;
}

#menu2 ul{
	list-style:none;
	margin:0px;
	padding:0px;
	
	/*margin-left:-25px;
	_margin-left: 10px;*/
}
#menu2 li{
	/*margin-bottom:10px;*/
	margin:5px;
}

#vous {
	margin:0px;
	padding:0px;
	position:absolute;
	top:10px;
	left:550px;
	color:#005278;
	font-size:12px;
	font-weight:bold;
	
}

#menu3 {
	margin:0px;
	padding:0px;
	font-size:10px;
	font-weight:bold;
	text-align:left;
	border-left:solid #ffffff;
	position:absolute;
	top:10px;
	left:630px;
	color:#005278;
}

#menu3 a {
	color:#005278;
}

#menu3 ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
#menu3 li{
	margin:5px;
}

#animation {
	margin:0px;
	padding:0px;
	position:absolute;
	top:252px;
	left:5px;
	height:191px;
	width:255px;
	background-color:#005278;
	z-index:0;
}
#animation a{
	text-decoration:none;
	text-transform:none;
	margin:0px;
	padding:0px;
	font-weight:bold;
	font-size:12px;
	color:#ffffff;
}
#animation p{
	text-align:center;
	padding:2px;
	margin-bottom:4px;
	margin-right:0px;
	margin-top:4px;
	margin-left:20px;
	border:1px solid #FFFFFF;
}
#animation a:hover{
	text-decoration:underline;
	color:#cccccc;
}
#video {
	position:absolute;
	margin:0px;
	padding:0px;
	top:230px;
	left:50px;
	height:270px;
	width:320px;
	background-color:#005278;
	z-index:0;
}

/*RAJOUTER COLLOQUES + CALENDRIER*/

#actuColloque {
	position:absolute;
	right:115px;
	bottom:247px;
	width:80px;
	height:30px;
	text-align:center;
}

#actuColloque a {
	color:#005278;
	font-size:9px;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
	text-transform:none;
        margin:0px;
        padding:0px;
}

#actuColloque p {
	margin:0px;
        padding:0px;
}

#actuColloque a:hover {
	text-decoration: underline;
}

#actuCalendrier {
	position:absolute;
	right:9px;
	bottom:276px;
	width:100px;
	height:40px;
	text-align:center;
}

#actuCalendrier a {
	color:#005278;
	font-size:9px;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
	text-transform:none;
        margin:0px;
        padding:0px;
}

#actuCalendrier p {
	margin:0px;
        padding:0px;
}

#actuCalendrier a:hover {
	text-decoration: underline;
}


/*FIN RAJOUT*/

#actu {
	position:absolute;
	right:7px;
	bottom:20px;
	color:#005278;
	text-align:right;
	overflow:hidden;
	height:230px;
	width:190px;
	font-size:11px;
	
	
}

#actu a {
	text-decoration:none;
	text-transform:none;
	color:#005278;
}

#actu a:hover {
	text-decoration: underline;
}


#actu h1 {
	text-decoration:none;
	text-transform:none;
	font-style:normal;
	/*font-size:16px;*/
	font-weight:bolder;
	/*border-bottom:solid #005278;*/
	/*margin-bottom:30px;*/
	
	/*RAJOUTER*/
	margin-bottom:10px;
	font-size:13px;
}

#actu ul{
	list-style:none;
}

#actu .titre{
	font-weight:bold;
	margin-top:15px;
	margin-left:-30px;
}


/*FIN MODIF ACTU*/

.ombre {
	float:left;
	clear:left;
	background: url(http://www.univ-pau.fr/img/ombre.png) no-repeat bottom right;
	background-color:#fffff;
	margin: 10px 0 10px 10px !important;
	margin: 10px 0 10px 5px;
	padding: 0px;
	
}
 
.boite {
	
	background-color:#ffffff;
	position:relative;
	bottom:6px;
	right: 6px;
}
 .boiteTxt {
	
	padding:0px;
	margin:0px;
	background-color:#ffffff;
	
}

