/* style valide w3c */
#suivicomm1 td {
border-right:1px solid #ffffff;
}
#suivicomm2 td {
border-right:1px solid #999999;
padding:2px;
padding-left:5px;
vertical-align:middle;
border-bottom:1px solid #999999;
}
#suivicomm2 a {
color:#333333;
}
#suivicomm2 img {
margin-right:3px;
}
#suivicomm3 a {
text-decoration:none;
}
#suivicomm4 td {
border-right:1px solid #ffffff;
}
#suivicomm5 td {
border-right:1px solid #999999;
padding:2px;
padding-left:5px;
vertical-align:top;
}
#suivicomm5 a {
color:#333333;
}
#suivicomm6 td {
border-right:1px solid #999999;
border-bottom:1px solid #999999;
padding:1px;
padding-left:5px;
vertical-align:middle;
}
#blocinfo td {
background-color:#ccecff;
padding-left:20px;
font-family:arial;
font-size:11px;
color:#555555;
}
#blocinfo span {
font-family:arial;
font-size:10px;
color:#555555;
}
