.bea-portal-book-primary-content{padding:0px 0 1px 0;}
/*.bea-portal-book-primary-content{padding:31px 0 1px 0;}*/
/*.bea-portal-book-primary-content{padding:20px 0 1px 0;}*/

.bea_portal_body_header{	padding:0;	margin:0;	width:980px;	margin-left:auto;	margin-right:auto;	text-align:center;}

.bea_portal_body_header a{	text-decoration:none;}
	
#header3s{	width:980px;	margin-left:auto;	margin-right:auto;	text-align:center;	font-size:10px;	font-family:Arial,Helvetica,sans-serif;	color:#47473f;	background:#fff;}

#header3s div.header_barre_haute{
	width:980px;
	background:#f1f1e9;
	text-align:left;
	height:19px;
	line-height:19px;
	padding-left:2px;
}

#header3s div.header_haut_droite{
	position:absolute;
	margin-left:343px;
	width:641px;
	top:0;
	height:46px;
	text-align:left;
}

.header-top form{	
	margin:0;
	padding:0;
}

#header3s div.header_haut_droite div.header_commande_directe{
	float:left;padding:0 0 0 30px;margin-left:10px;background:url(cmddir.gif) no-repeat;width:70px;height:41px;line-height:10px;
}

#header3s div.header_haut_droite div.header_newsletter{float:left;}
#header3s div.header_haut_droite div.header_commande_directe a{color:#000;text-decoration:none;font-weight:bold;}
#header3s div.header_haut_droite div.header_commande_directe a:hover{text-decoration:underline;}
#header3s div.header_haut_droite div.header_commande_directe a span{font-size:9px;font-weight:normal;}
#header3s div.header_haut_droite div.header_mon_compte{float:left;padding:4px 0 0 25px;margin-left:10px;background:url(moncompte.gif) no-repeat;width:100px;height:20px;}
#header3s div.header_haut_droite div.header_mon_compte a{color:#000;text-decoration:none;}
#header3s div.header_haut_droite div.header_mon_compte a:hover{text-decoration:underline;}
#header3s div.header_haut_droite div.header_suivi{float:left;padding:2px 0 0 27px;margin-left:8px;margin-top:0;background:url(suivi.gif) no-repeat;width:102px;height:20px;}
#header3s div.header_haut_droite div.header_suivi a{color:#000;text-decoration:none;}
#header3s div.header_haut_droite div.header_suivi a:hover{text-decoration:underline;}
#header3s div.header_haut_droite div.header_panier{float:left;padding:4px 0 0 27px;margin-left:8px;background:url(panier.gif) no-repeat;height:20px;}
#header3s div.header_haut_droite div.header_panier a{color:#fff;font-weight:bold;text-decoration:none;}
#header3s div.header_haut_droite div.header_panier a:hover{text-decoration:underline;}
#header3s div.header_haut_droite div.header_nbarticles{float:left;padding:2px 0 0 25px;margin-left:8px;height:20px;}
#header3s div.header_haut_droite div.header_nbarticles a{color:#000;font-weight:bold;text-decoration:none;}
#header3s div.header_haut_droite div.header_nbarticles a:hover{text-decoration:underline;}
#header3s div.header_haut_droite div.header_nbarticles a span{color:#ff0046;}
#header3s div.header_barre_haute ul{margin:0;padding:0;width:600px;}
#header3s div.header_barre_haute ul li{display:inline;background:url(pucehg.gif) no-repeat;padding-left:8px;margin-right:10px;margin-left:0;padding-right:0;}#header3s div.header_barre_haute ul li.pucerouge{background:url(pucehgr.gif) no-repeat;}#header3s div.header_barre_haute ul li a{color:#47473f;text-decoration:none;}#header3s div.header_barre_haute ul li a:hover{text-decoration:underline;}#header3s div.logo3s{width:216px;height:43px;float:left;margin-top:7px;margin-bottom:-2px;margin-left:4px;}#header3s div.ligne1{background:#000;float:left;clear:both;height:31px;width:980px;color:#FFF;text-align:left;font-size:9px;}#header3s div.ligne1 a{color:#FFF;text-decoration:none;}#header3s div.ligne1 a:hover{text-decoration:underline;}#header3s div.ligne1 div.header_bonjour{float:left;width:250px;padding-top:4px;}#header3s div.ligne1 div.header_rechercher{float:left;margin-left:30px;padding-left:30px;height:30px;background:url(loupe_fonds.jpg) no-repeat;font-size:10px;}#header3s div.ligne1 div.header_rechercher ul{margin:0;padding:0;}#header3s div.ligne1 div.header_rechercher ul li{display:inline;}#header3s div.ligne1 div.header_rechercher ul li.texterechercher{line-height:10px;margin-bottom:10px;}#header3s div.ligne1 div.header_rechercher ul li input{height:20px;font-size:10px;}#header3s div.ligne1 div.header_rechercher ul li a{border:0;}#header3s div.ligne1 div.header_blog{float:left;margin-left:10px;display:block;}#header3s div.ligne1 div.header_blog img{border:0;}#header3s div.ligne1 div.header_3stv{float:left;margin-left:10px;display:block;}#header3s div.ligne1 div.header_3stv a img{border:0;}#header3s div.ligne1 div.header_4e{float:left;margin-left:10px;display:block;}#header3s div.ligne1 div.header_4e a img{border:0;}input,select,textarea{vertical-align:middle;margin-top:2px;margin-right:2px;margin-bottom:2px;margin-left:2px;font-size:small;}input,select,textarea{vertical-align:middle;margin-top:2px;margin-right:2px;margin-bottom:2px;margin-left:2px;font-size:small;position:relative;}div.divMsgMdr{width:350px;background:white;font-size:9pt;color:#234e87;font-family:arial;text-align:left;z-index:2008;}div.divMsgMdr ul{border:1px solid #888;margin:0;padding:0;width:100%;list-style-type:none;}
div.divMsgMdr ul li{margin:0;padding:3px;}

div.divMsgMdr ul li.selected{background-color:#234e87;color:#fff;}
div.divMsgMdr ul strong.highlight{color:#800;margin:0;padding:0;}

.header-newsletter{background:#cfcfcf;width:283px;height:43px;}

.header-newsletter-1{
	font-size:13px;font-weight:bold;width:98px;
}

.header-newsletter-1i{
	padding-left:3px;color:#6c3064;
}
.header-newsletter-1n{
	padding-left:3px;color:#c71667;
}
.header-newsletter-2 input{
	vertical-align:middle;font-size:11px;
}

.header-newsletter-3{
	font-weight:bold;width:31px;
}

.header-newsletter-champ{
	font-size:11px;
	border:1px solid #bebebe;
	height:21px;
	color:#2a2a2a;
	padding:2px 0;
	width:100%;
	}


/*.bea-portal-book-primary-content{padding:46px 0 1px 0;}*/.bea-portal-book-primary-content{padding:0px 0 1px 0;}#barreonglets{	width:980px;	margin-left:auto;	margin-right:auto;	text-align:center;	font-family:Arial, Helvetica, sans-serif;	color:#c2c2c2;  display:block;  clear:both; background:url(http://www.3suisses.fr/portail3s_img/3S/FRA/contenus/header/bg-barreonglets.gif) no-repeat bottom left;}#barreonglets ul{	border:1px solid #c2c2c2;	padding:2px;	margin:0;	width:180px;	background:#FFFFFF;	position:absolute;	float:left;	margin-top:34px;	display:none;	z-index:200;}#barreonglets ul#barreonglets_smenu16{	margin-left:-19px;}#barreonglets ul#barreonglets_smenu17{	margin-left:-74px;}#barreonglets ul#barreonglets_smenu18{	margin-left:-128px;}#barreonglets ul li{	height:16px;	line-height:16px;	list-style:none;	border-bottom:1px dotted #c2c2c2;	font-size:11px;	padding:3px;}#barreonglets ul li a{	color:#7e7e7e;	text-decoration:none;	font-size:11px;	display:block;}#barreonglets ul li a:hover{	/*background:#f2f2f2;*/	text-decoration:underline;	display:block;}#fraisportoffert{	position:absolute;	margin-top:26px;	left:50%;	margin-left:-490px;	display:none;}html>body #fraisportoffert{	margin-top:31px;}#marquee{	position:absolute;	width:980px;	/*margin-top:54px;*/	margin-top:25px;	left:50%;	margin-left:-490px;	display:none;	height:26px;	line-height:26px;}html>body #marquee{	/*margin-top:60px;*/	margin-top:31px;}#marquee a{	color:#000000;	font-size:12px;	text-decoration:none;	font-family:Arial, Helvetica, sans-serif;}#marquee a:hover{	text-decoration:underline;}


#blanc-sous-header{
	display:none;
}



