#centrer{
width:950px;
height:700px;
margin-left:auto;
margin-right:auto;
background-image:url('fond.jpg');
background-repeat:no-repeat;
border:1px solid #22BAE4;
}

#texte_droite {

height:100px;
float:right;
padding-right:150px;
margin-top:100px;
color:#00618E;
}

#zone_menu_haut{
width:880px;
height:26px;
line-height:26px;
margin-left:70px;
margin-top:214px;
/*background-color:#00618E;*/
}

#menu_off {
width:900px;
height:100px;
margin-left:0px;
margin-top:100px;
position:absolute;
background-image:url('pixel.gif');
background-repeat:repeat-x;
}

#menu_off_2 {
width:600px;
height:200px;
margin-left:0px;
margin-top:0px;
position:absolute;
background-image:url('pixel.gif');
background-repeat:repeat-x;
}

#zone_flash {
width:900px;
height:220px;
margin-left:29px;
}

#zone_menu_bas{
width:950px;
height:26px;
line-height:26px;
}

#drapeau {
width:200px;
height:26px;
line-height:26px;
float:left;
padding-left:50px;
}

#drapeau img {
border:0px;
}

#menu_bas {
width:473px;
height:26px;
line-height:26px;
text-indent:100px;
background-image:url('menu_bas.jpg');
background-repeat:no-repeat;
padding-right:21px;
text-transform:uppercase;
float:right;
}

/*#menu_bas ul {
padding:0px;
margin:0px;
}

#menu_bas li {
list-style-type:none;
margin-right:30px;
display:inline;
}*/

#zone_bouton {
width:400px;
height:114px;
padding-left:50px;
padding-top:30px;
float:left;
}

#zone_bouton img {
border:0px;
}

#actualite {
width:350px;
height:150px;
margin-left:560px;
margin-top:40px;
color:#FFFFFF;
text-align:justify;
}

/*menu haut gauche*/

/*ul.menu_haut {
padding:0px;
margin:0px;
text-transform:uppercase;
}
li.menu_haut {
list-style-type:none;
display:inline;
float:left;
padding-left:10px;
padding-right:10px;
}*/

td.menu_haut {
padding-left:10px;
padding-right:10px;
text-transform:uppercase;
}

a.menu_haut{
color: #FFFFFF;
text-decoration:none;
font-size:11px;
}

a.menu_haut:hover {
color: #FFFFFF;
text-decoration:none;
font-size:11px;
}	

a.menu_haut_actif {
color:#FFFFFF;
text-decoration:none;
font-size:11px;
}	

a.menu_haut_actif:hover {
color:#FFFFFF;
text-decoration:none;
font-size:11px;
}

/*menu haut droite*/

a.menu_haut_contact{
color: #FF3333;
text-decoration:none;
font-size:11px;
text-transform:uppercase;
}

a.menu_haut_contact:hover {
color: #C92828;
text-decoration:none;
font-size:11px;
text-transform:uppercase;
}	

a.menu_haut_contact_actif {
color:#C92828;
text-decoration:none;
font-size:11px;
text-transform:uppercase;
}	

a.menu_haut_contact_actif:hover {
color:#C92828;
text-decoration:none;
font-size:11px;
text-transform:uppercase;
}

span.titre_actualite {
color:#CEE5C8;
font-size:14px;
text-transform:uppercase;
font-weight:bold;
}

/*actualite*/

a.actualite{
color: #FFFFFF;
text-decoration:none;
font-size:12px;
}

a.actualite:hover {
color: #FFFFFF;
text-decoration:underline;
font-size:12px;
}	

/*menu haut actu*/

/*ul.menu_actu {
padding:0px;
margin:0px;
text-transform:uppercase;
}
li.menu_actu {
list-style-type:none;
display:inline;
float:left;
padding-left:7px;
padding-right:7px;
height:26px;
line-height:26px;
}*/

td.menu_actu {
padding-left:7px;
padding-right:7px;
height:26px;
line-height:26px;
}

a.menu_actu {
color:#FFFFFF;
font-size:12px;
text-transform:uppercase;
font-weight:bold;
text-decoration:none;
}

a.menu_actu:hover {
color:#CEE5C8;
font-size:12px;
text-transform:uppercase;
font-weight:bold;
text-decoration:none;
}

a.sous_menu_actu{
color: #FFFFFF;
text-decoration:none;
font-size:10px;
padding-left:10px;
padding-right:10px;
}

a.sous_menu_actu:hover {
color: #FFFFFF;
text-decoration:none;
font-size:10px;
padding-left:10px;
padding-right:10px;
}	