body{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
margin:0px;
background-color:#22BAE4;
}	

p {
padding:0px;
margin:7px;
}

#cartouche {
margin-left:auto;
margin-right:auto;
width:950px;
height:20px;
line-height:25px;
text-align:right;
font-size:11px;
color:#00618E;
}

#cartouche a {
color:#FFFFFF;
text-decoration:none;
}

#cartouche a:hover {
color:#FFFFFF;
text-decoration:underline;
}

#overDiv {
position:absolute;
visibility:hidden;
z-index:1000;
}

/* lien defaut */


a{
color :#00618E;
text-decoration:none;
}

a:hover{
color :#00618E;
text-decoration:underline;
}


/* SOUS MENU HAUT */

/*ul.sous_menu_haut {
padding:0px;
margin:0px;
background-color:#2B7CA0;
}
li.sous_menu_haut {
list-style-type:none;
height:20px;
line-height:20px;
}

li.sous_menu_haut_actif {
list-style-type:none;
height:20px;
line-height:20px;
background-color:#FFFFFF;
}*/

td.sous_menu_haut {
height:20px;
line-height:20px;
background-color:#2B7CA0;
}

td.sous_menu_haut_actif {
height:20px;
line-height:20px;
background-color:#FFFFFF;
}

div.sous_menu {
display:none;
z-index:1000;
position:absolute;
}

a.sous_menu_haut{
color: #FFFFFF;
padding-left:10px;
padding-right:10px;
text-decoration:none;
}

a.sous_menu_haut:hover {
color: #2B7CA0;
padding-left:10px;
padding-right:10px;
text-decoration:none;
}	

a.sous_menu_haut_actif {
color:#2B7CA0;
padding-left:10px;
padding-right:10px;
text-decoration:none;
}	

a.sous_menu_haut_actif:hover {
color:#2B7CA0;
padding-left:10px;
padding-right:10px;
text-decoration:none;
}

/* SOUS MENU HAUT  2*/

/*
ul.sous_menu_haut_2 {
padding:0px;
margin:0px;
background-color:#6CBE50;
}
li.sous_menu_haut_2 {
list-style-type:none;
height:20px;
line-height:20px;
}

li.sous_menu_haut_2_actif {
list-style-type:none;
height:20px;
line-height:20px;
background-color:#A7D896;
}
*/

td.sous_menu_haut_2 {
height:20px;
line-height:20px;
background-color:#6CBE50;
}

td.sous_menu_haut_2_actif {
height:20px;
line-height:20px;
background-color:#A7D896;
}



div.sous_menu_2 {
display:none;
z-index:1000;
position:absolute;
}

a.sous_menu_haut_2{
color: #FFFFFF;
text-decoration:none;
padding-left:10px;
padding-right:10px;
}

a.sous_menu_haut_2:hover {
color: #2B7CA0;
text-decoration:none;
padding-left:10px;
padding-right:10px;
}	

a.sous_menu_haut_2_actif {
color:#2B7CA0;
text-decoration:none;
padding-left:10px;
padding-right:10px;
}	

a.sous_menu_haut_2_actif:hover {
color:#2B7CA0;
text-decoration:none;
padding-left:10px;
padding-right:10px;
}

/* SOUS MENU ACTU */

/*ul.sous_menu_actu {
padding:0px;
margin:0px;
background-color:#6CBE50;
}
li.sous_menu_actu {
list-style-type:none;
height:20px;
line-height:20px;
}

li.sous_menu_actu_actif {
list-style-type:none;
height:20px;
line-height:20px;
background-color:#FFFFFF;
}*/

td.sous_menu_actu {
height:20px;
line-height:20px;
background-color:#6CBE50;
}

/* MENU GAUCHE */

ul.menu_gauche {
padding:0px;
margin:0px;
}
li.menu_gauche {
list-style-type:none;
margin-left:80px;
width:300px;
}

a.menu_gauche{
color: #878282;
text-decoration:none;
font-size:11px;
text-transform:uppercase;
font-weight:bold;
margin-left:5px;
}

a.menu_gauche:hover {
color: #00618E;
text-decoration:underline;
font-size:11px;
text-transform:uppercase;
font-weight:bold;
margin-left:5px;
}	

a.menu_gauche_actif {
color:#00618E;
text-decoration:none;
font-size:11px;
text-transform:uppercase;
font-weight:bold;
margin-left:5px;
}	

a.menu_gauche_actif:hover {
color:#00618E;
text-decoration:underline;
font-size:11px;
text-transform:uppercase;
font-weight:bold;
margin-left:5px;
}

/* SOUS MENU GAUCHE */

a.sous_menu_gauche{
color: #878282;
text-decoration:none;
font-size:11px;
font-weight:bold;
margin-left:5px;
}

a.sous_menu_gauche:hover {
color: #00618E;
text-decoration:underline;
font-size:11px;

font-weight:bold;
margin-left:5px;
}	

a.sous_menu_gauche_actif {
color:#00618E;
text-decoration:none;
font-size:11px;

font-weight:bold;
margin-left:5px;
}	

a.sous_menu_gauche_actif:hover {
color:#00618E;
text-decoration:underline;
font-size:11px;

font-weight:bold;
margin-left:5px;
}

/* PLAN DU SITE */

ul.sitemap {
padding:0px;
margin:0px;
}
li.sitemap {
list-style-type:none;
}

a.sitemap{
color: #878282;
text-decoration:none;
font-size:11px;
text-transform:uppercase;
font-weight:bold;
}

a.sitemap:hover {
color: #00618E;
text-decoration:none;
font-size:11px;
text-transform:uppercase;
font-weight:bold;
}

/* FORMULAIRE */
.boutton {
background-color:#00618C;
color:#FFFFFF;
}

input.input {
width:150px;
}

/*CARTE*/

a.carte{
color: #000000;
text-decoration:none;
}

a.carte:hover {
color: #999999;
text-decoration:none;
}