.attribute-link a { background:url(read_more.gif) no-repeat 0 2px; }
.event_listing { width:180px; padding:10px 25px 10px 15px; }

#dynamic-header1 { padding:0 0 5px 0; }

#footer_link .tipafriend { background:url(footer_tipafriend.gif) no-repeat 0 0; }
#footer_link .tipafriend:hover { background:url(footer_tipafriendo.gif) no-repeat 0 0; }
#footer_link .print { background:url(footer_print.gif) no-repeat 0 0; }
#footer_link .print:hover { background:url(footer_printo.gif) no-repeat 0 0; }
#footer_link .page_top { background:url(footer_page_top.gif) no-repeat 0 0; }
#footer_link .page_top:hover { background:url(footer_page_topo.gif) no-repeat 0 0; }
#footer_link .previous {  background:url(footer_previous.gif) no-repeat 0 0; }
#footer_link .previous:hover {  background:url(footer_previouso.gif) no-repeat 0 0; }
#footer_link .close { background:url(http://www.mayenne.cci.fr/extension/ccimayennesiege/design/ccimayennesiege/images/pagelayout/footer_close.gif) no-repeat 0 0; }
#footer_link .close:hover { background:url(http://www.mayenne.cci.fr/extension/ccimayennesiege/design/ccimayennesiege/images/pagelayout/footer_closeo.gif) no-repeat 0 0; }