body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family :sans-serif;
	font-size:0.8em;
	line-height: 1.4em;
	color: #000033;
	background : #fffff5 url(fond_page.gif) repeat-y;
	}	
fieldset {
	margin: 15px 20px 0px 20px;
	padding: 0px 20px 15px 20px;
        text-align : left;
        font-size:1.4em;
	border : 1px solid	rgb(197,215,156);
	color: #000033;
}
legend {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
 	color: #000033;       
}
dfn {
	font-style: normal;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
/* -------------------  PARAGRAPHES  -----------------------------  **/
p.bodytext {	
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 5px 0px;
	clear : right;
	clear : left;
}

p.hautpage {	
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
p.csc-section {	
	margin: 2px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
p.ariane {	
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 2px 0px;
	color:#ccff00;
}
p.baseline {	
	margin: 0px 0px 0px -25px;
	padding: 0px 0px 0px 0px;
	color: rgb(38,37,106);
}
p.acu-p-even {	
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 10px 0px;
}
p.acu-p-odd {	
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 10px 0px;
}
div.tx-indexedsearch-rules p {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px}
div.tx-indexedsearch-secHead p {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px}

div.tx-indexedsearch-browsebox p {
     	margin: 0px 0px 0px 0px;
	padding: 0px 0px 10px 0px;   
         font-weight:normal;
}
/* -------------------  SPAN  -----------------------------  **/
span.menu_on {
	background-color : #669900;
	color : #ffffff;
	width : 130px;
}
span.acu-uploads-description {
	font-weight : bold;
padding-left : 0px;
}
span.acu-uploads-fileName {
	padding-left : 10px;
}
div.tx-indexedsearch-rules span {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;font-weight:bold;}
span.tx-indexedsearch-title-number {
     	margin: 0px 0px 0px 0px;
	padding: 0px 3px 0px 5px;   
        font-weight:bold;
}

span.tx-indexedsearch-redMarkup {margin: 0px 0px 0px 0px; padding: 0px 2px 0px 2px; background-color: rgb(205,205,213);}

/* -------------------  HEADERS  -----------------------------  **/
H1{ 	
	margin: 0px 0px 0px -25px;
	padding: 10px 0px 5px 0px;
	color: rgb(38,37,106);
	font-size : 2.1em;
	letter-spacing : 0.1em;
	text-align : left;
}
H2{ 	
	margin: 0px 0px 0px -25px;
	padding: 20px 0px 0px 0px;
	color : #669900;
	font-size : 1.6em;
	letter-spacing : 0.1em;
	text-align : left;
        line-height:1.3em;

}

/* -------------------  LISTES  -----------------------------  **/
div.bloc_texte ul {
        margin-top : 0px;
        padding-top : 0px;
        margin-bottom : 5px;
        padding-bottom : 5px;
}
#menu {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	line-height : 1.3em;
}
#menu span {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 2px 0px;

}
#menu li {
	margin: 0px 0px 2px 0px;
	padding: 2px 0px 2px 10px;
	list-style : none ;
 	background : url(fond_menu.gif) no-repeat;
	background-position: 0px 0.1em; 
        border-bottom : 1px solid rgb(113,113,158);
}	
#menu li.on {
	margin: 0px 0px 2px 0px;
	padding: 2px 0px 2px 10px;
 	background : url(fond_menu.gif) no-repeat;
	background-position: 0px 0.1em; 
	color : #ccff00;
}
#menu ul li {
	margin: 3px 0px 3px -40px;
	padding: 2px 0px 1px 10px;
	border-bottom : 1px solid  rgb(90,90,142);
	border-left : 1px solid  rgb(90,90,142);
	background-color : rgb(66,66,125);	
}	
#menu ul li.on {
	margin: 3px 0px 3px -40px;
	padding: 2px 0px 1px 10px;
	color : #ccff00;
	background-color : rgb(66,66,125);	
}	
#menu ul ul li {
	margin: 2px 0px 2px -40px;
	padding: 2px 0px 1px 10px;
	background-color : rgb(90,90,142);	
}	
#menu ul ul li.on {
	margin: 2px 0px 2px -40px;
	padding: 1px 0px 1px 10px;
	color : #ccff00;
	background-color : rgb(90,90,142);	
}	
 dfn {
        font-size : 0.9em;
}
ul.ac-sitemap-ul a:link {
	color : #004acc;
        font-size : 0.9em;
        font-weight:normal;
}
ul.ac-sitemap-ul a:visited {
	color : #004acc;
        font-size : 0.9em;
        font-weight:normal;
}
ul.ac-sitemap-ul a:hover {
	color : #000000;
	text-decoration:none;
}
ul.ac-sitemap-ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}	
ul.ac-sitemap-ul li{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 18px;
	list-style : none ;
}	
ul.ac-sitemap-ul ul li{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 38px;
}	
ul.ac-sitemap-ul ul ul li{
	margin-top : 0px ;
        margin-bottom : 0px;
	padding: 0px 0px 0px 18px;
}	
ul.ac-sitemap-ul ul ul ul li{
	margin-top : 0px ;
        margin-bottom : 0px;
	padding: 0px 0px 0px 18px;
         border : 0;	
}
div.csc-menu ul { 
	margin: 10px 10px 10px 10px;
	padding: 0px 0px 0px 0px;
}
div.csc-menu ul li { 
	margin: 3px 0px 3px 0px;
	padding: 0px 0px 0px 0px;
}
div.acu-uploads ul li { 
	margin: 3px 0px 3px 0px;
	padding: 0px 0px 0px 0px;
}
/* -------------------  LIENS  -----------------------------  **/
a.tx-indexedsearch-secHead-link:link, a.tx-indexedsearch-secHead-link:visited {
	color: #ffffff;
	text-decoration:none;
	font-weight :normal;
}
div.tx-indexedsearch-secHead p a:hover {
	text-decoration:underline;
}
a:link, a:visited, a:active, a:focus {
	color: #004acc;
	text-decoration:underline;
	font-weight :bold;
}
a:hover {
	text-decoration:none;
        color : #000000;
}
a.menu:link, a.menu:visited, a.menu:active, a.menu:focus {
	color: #ffffff;
	text-decoration:none;
	font-weight :normal;
}
a.menu:hover {
	text-decoration:underline;
}

/* -------------------  LES ID  -----------------------------  **/
#site_hah {
	color : #fffffa;
	margin: 20px 3px 0px 3px;
	padding: 3px 0px 2px 0px;
	z-index : 2;
	background-color : rgb(202,23,22);
}
#logo{	
 float : left;
}
#titre_logo {	
	margin: 20px 0px 15px 20px;
	padding: 0px 0px 0px 0px;
}

#menuhaut{	
	margin: 0px 0px 0px 0px;
	padding: 5px 15px 0px 0px;
	text-align : right;
	height : 25px;
	color	: #ccff33;
	background : rgb(38,37,106) url(fond_menuhaut.gif);
	background-repeat : no-repeat; 
}
#menubas{	
	margin: 0px 0px 0px 0px;
	padding: 5px 15px 5px 0px;
	text-align : right;
	color	: #ccff33;
	background : rgb(38,37,106);
	clear : left;
	clear : right;
}
#bandeau_bleu {
	position: absolute;
	left:0px;
	top:155px;
	margin: 0px 3px 0px 3px;
	padding: 0px 0px 0px 0px;
	width : 174px;
	z-index : 4;
	font-size : 0.9em;
	background-color : rgb(38,37,106);
	color:#ccff00;
}
#label {
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color : rgb(38,37,106);

}
#site2 {
	color : #fffffa;
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 4px 0px;
	z-index : 2;
	background-color : rgb(203,23,22);
}
#page { 
	margin: 0px 0px 0px 205px;
	padding: 0px 0px 0px 0px;
}
#bloc { 
	margin: 0px 0px 0px 0px;
	padding: 0px 20px 20px 20px;
}

#pied {
	margin: 0px 0px 0px 180px;
	padding : 0px 0px 10px 0px;
	clear : left;
	clear : right;
}
#coords p {
	margin: 0px 0px 0px 0px;
	padding : 0px 0px 5px 0px;
	font-size : 0.8em;
	letter-spacing : 0.1em;
	line-height: 1.3em; 
	text-align : center;
	color : #000033;
}

#minilogo {
	text-align : center;
	margin: 0px 0px 0px 0px;
	padding : 10px 0px 5px 0px;
}

#ariane { 
	margin: 0px 0px 0px -25px;
	padding: 1px 0px 1px 20px;
	background-color : rgb(38,37,106);
}
#hautpage {
	margin: 0px 0px 0px 0px;
	padding : 0px 20px 20px 0px;
	text-align : right;
}	
/* -------------------  LES DIV  -----------------------------  **/
div.hautpage {
	margin: 0px 0px 0px 0px;
	padding : 0px 20px 20px 0px;
	text-align : right;
        clear:both;
}	
div.coucoucache {	
	position : absolute;
	left:0;
	top:-200px;
	visibility: hidden;
}
div.img_site2 {
	float : left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

div.bloc_texte { 
	margin: 10px 0px 10px 0px;
	padding: 5px 10px 10px 15px;
	border : 1px solid	rgb(197,215,156);
	background : rgb(253,255,242)  url(fond_bloc_texte.jpg) repeat-y ;
}
div.csc-menu{ 
	margin: 10px 0px 10px 0px;
	padding: 5px 10px 10px 15px;
	border : 1px solid	rgb(197,215,156);
	background : rgb(253,255,242)  url(fond_bloc_texte.jpg) repeat-y ;
}
div.acu-uploads { 
	margin: 10px 0px 10px 0px;
	padding: 10px 10px 10px 15px;
	border : 1px solid	rgb(197,215,156);
	background : rgb(253,255,242) url(fond_bloc_texte.jpg) repeat-y ;
}

div.ac-sitemap { 
	margin: 10px 0px 0px 0px;
	padding: 10px 10px 10px 15px;
	border : 1px solid	rgb(197,215,156);
	background : rgb(253,255,242) url(fond_bloc_texte.jpg) repeat-y ;
}

div.hautpage {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align : right;
}
div.tx-indexedsearch {
	margin: 10px 0px 10px 0px;
	padding: 5px 10px 10px 0px;
}
div.tx-indexedsearch-searchbox-line {margin-top : 5px}
div.tx-indexedsearch-searchbox-line-label {padding-right:5px;float : left}
div.tx-indexedsearch-searchbox-line-field {}
div.tx-indexedsearch-searchbox {
     	margin: 20px 0px 10px 0px;
	padding: 0px 0px 0px 0px;   
         font-size : 1.2em;
         font-weight : bold;
}
div.tx-indexedsearch-rules {
     	margin: 10px 0px 0px 0px;
	padding: 0px 10px 0px 10px;   
         font-size : 0.9em;
         font-style : italic;
         border : 1px dotted rgb(197,215,156) ;
}
div.tx-indexedsearch-whatis {
     	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;   
         font-size : 1.2em;
         font-weight : bold;
}
div.tx-indexedsearch-browsebox {
     	margin: 15px 0px 10px 0px;
	padding: 10px 10px 10px 10px;   
         font-size : 1em;
         border : 1px dotted rgb(197,215,156);
}
div.tx-indexedsearch-res {
     	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;   
         font-size : 1em;
	border : 1px solid	rgb(197,215,156);
	background : rgb(253,255,242) url(fond_bloc_texte.jpg) repeat-y ;        
}
div.tx-indexedsearch-res p {
     	margin: 10px 0px 10px 0px;
	padding: 0px 0px 0px 0px;   
}
div.tx-indexedsearch-secHead {
     	margin: 0px 0px 0px 0px;
	padding: 3px 5px 3px 5px;   
         font-size : 1em;
       background-color : rgb(38,37,106);       
       color:#ccff00;           
}
div.tx-indexedsearch-title {
     	margin: 0px 0px 0px 0px;
	padding: 0px 5px 0px 5px;   
}

div.tx-indexedsearch-descr {
     	margin: 0px 0px 0px 0px;
	padding: 0px 5px 0px 5px;   
           
}
div.tx-indexedsearch-info {
     	margin: 0px 0px 0px 0px;
	padding: 0px 5px 0px 5px;   
           
}
div.formtext {	
	margin: 10px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
        font-size : 0.8em;        
}
div.form_mention {	
	margin: 0px 0px 0px 0px;
	padding: 0px 20px 0px 20px;
        font-size : 0.9em; 
        font-style:italic        
}
div.form_bouton {	
	margin: 15px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
        text-align : center;        
}
div.img_site2 {
	float : left;
	margin: 0px 5px 0px 0px;
	padding: 0px 0px 0px 0px;
}
/* -------------------  LES IMAGES  -----------------------------  **/	
p.texte img {
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 15px 15px;
	float : right;
}
p.texte img.left {
	margin: 0px 0px 0px 0px;
	padding: 0px 15px 15px 0px;
	float : left;
}
p.texte img.pdf {
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 15px 0px;
	float : left;
}



/* -------------------  ADMIN PANEL  -----------------------------  **/	
TABLE.typo3-adminPanel { border: 1px solid #000000; background-color: #ffffcc; margin-left : 200px; margin-top:20px; margin-bottom:20px}

TABLE.typo3-adminPanel TR.typo3-adminPanel-hRow TD { background-color: rgb(197,215,156);  }


TABLE.typo3-adminPanel TR.typo3-adminPanel-itemHRow TD { background-color: #ffff99; }
TABLE.typo3-adminPanel TABLE, TABLE.typo3-adminPanel TD { border: 0px; }
TABLE.typo3-adminPanel TD FONT { font-family: sans-serif; font-size: 10px; color: #000000; }
TABLE.typo3-adminPanel TD A FONT { font-family: sans-serif; font-size: 10px; color: #000000; }			
TABLE.typo3-editPanel { border: 1px solid #000000; background-color: #ffffcc; margin-top:15px }
TABLE.typo3-editPanel TD { border: 0px;background-color: rgb(197,215,156); }
	
