html, body
{
	margin:0; padding:0;
	text-align:center;
	height:100%;
	font-size:14px;
	color:#363636;
	font-family:Arial, Helvetica, sans-serif;
}
	html
	{
		background:	#DBD5C7 url(repeat.jpg) repeat-x 0 0;
	}
	body
	{
		background:	url(main.jpg) no-repeat 50% 0;
	}
	h1, h2, h3, h4, h5, h6
	{
		margin:0;
		padding:8px 0;
	}
	h1
	{
		color:#225f82;
		text-transform:uppercase;
		font-size:20px;
	}
	h2
	{
		color:#836532; font-size:16px;
		font-weight:bold;
		margin:0; padding:0;
	}
	ul
	{
		margin:0;
		padding:4px 0;
		list-style-type:none;
	}
		ul li
		{
			margin:0; padding:0;
			display:block;
			sfont-weight:bold;
			scolor:#225f82;
		}
			ul li span
			{
				sfont-weight:normal;
				scolor:#363636;
				sborder-bottom:1px dotted #363636;
			}
	a img
	{
		border:none;
	}
	embed, object { outline:none; } 
	
	#container
	{
		width:960px;
		margin:0 auto;
		text-align:left;
	}
		#header
		{
			position:relative;	
		}
			#anim_c
			{
				position:absolute;
				width:190px; height:160px;
				top:15px;
				right:30px;
			}
		#main
		{
			position:relative;
			width:auto;
			top:232px;
			height:450px;
			
		}
			#mainanim
			{
				width:557px;
				height:437px;
				margin:7px;
				float:left;
			}
			#content
			{
				width:355px;
				float:right;
				margin:7px 18px 0 0;
			}