.imp				        { font-size: 11px; text-align: left; wi_dth:100%;}
.imp select			        { width:214px; font-size: 11px; margin-top: 2px; margin-bottom:5px;  }
.imp .recherche		        { font-size:12px; color:#0D0D37; font-weight:bold; margin-left:55px; !width:100%; text-align:right; !text-align:left; !margin-left:57px;}
.imp .recherche img	        { vertical-align: -30%;}
.imp .textArticle	        { font-size: 11px;  font-weight: bold; margin-top: 5px; margin-left: 5px;}
.imp .texteRecherche	    { float:left; width:80px; margin-top:5px; }

.imp .resultatEntite	            { margin:20px 0 0 20px; }
.imp .resultatEntite td	            { padding-bottom:30px; !padding-bottom:15px; vertical-align:top; width:240px; }
.imp .entite			    { font-weight: bold; color: #581d74; font-size: 12px; padding-bottom:10px; }
.imp .col1			    { padding-right:20px; !padding:0; width:50%; border-right: 1px solid #581d74; }
.imp .col1bis			    { padding-right:20px; !padding:0; width:100%; align:left;}

.imp .col1bis div .content          { padding-left:15px; }
.imp .col1 div			    { line-height:15px; }
.imp .col1 div .content             { padding-left:15px; !width:200px; !padding-left:0; }
.imp .col2			    { padding-left:20px; width:50%; }
.imp .col2 div			    { line-height:15px; }
.imp .col2 div .content             { padding-left:15px; !width:200px; !padding-left:0; }
.imp .supPuce			    { color:#00A0C6; padding-left:-15px; float:left; padding-right:5px; }

.imp .imageTitre 		    { background: url("picto_Titre.gif") top left no-repeat; height: 30px; padding-left:10px; padding-top:5px; !width:100%;}
* > .imp .imageTitre 		    { height: 25px; }
.imp .texteTitre 		    { background-color: #775549; font-weight: bold; color: #FFF; height: 21px; padding: 4px 0 0 5px; font-size: 12px; }

.imp .imageTitre2 		    { background: url("picto_Titre.gif") top left no-repeat; height: 30px; padding-left:10px; padding-top:5px;}
* > .imp .imageTitre2 		    { height: 25px; }

.imp .texteTitre2 		    { background-color: #775549; font-weight: bold; color: #fff; height: 21px; padding: 4px 0 0 5px; font-size: 12px; }

.imp .validerFormulaire			    { width:210px; font-size: 11px; font-weight: bold;color: #0D0D3; margin-top : 5px; text-align: right; }
.imp .validerFormulaire .texte	{ vertical-align:40%;}

.imp .btnFormulaire			        {  vertical-align:-30%; !vertical-align:20%; background-color:white; border:none; color:#0D0D37; font-weight: bold; font-size:12px; font-family: Verdana; cursor: pointer; !cursor:hand; text-align:left;}
.imp .btnFormulaireSearch       {  vertical-align:-30%; !vertical-align:20%; background-color:white; border:none; color:#0D0D37; font-weight: bold; font-size:12px; font-family: Verdana; cursor: pointer; !cursor:hand; text-align:right;}
.imp .btnFormulaireTheme		    { vertical-align:-30%; !vertical-align:20%; background-color:white; border:none; color:#0D0D37; font-weight: bold; font-size:12px; font-family: Verdana; cursor: pointer; !cursor:hand; text-align:right; !width:85px;}
.imp .pictoBtnFormulaire		    { color: #fff; cursor: pointer;width: 15px;height: 21px;font-size: 0px;background: url(fleche_BtnOK.gif) no-repeat top left; border: 0; } 