.agenda .puce_agenda { padding-right:5px; vertical-align:top;}
.agenda table            { font-family:Verdana; font-size:12px; font-weight:bold; }
.agenda .title           { width:300px; vertical-align:top; }
.agenda .date, .location { font-weight:normal; font-size:11px; padding-left:20px; vertical-align:top;}

