dl, dt, dd, ul, li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#menu
{
	position: absolute;
	top: 0;
	left: 0;
	z-index:100;
	width: 100%;
}

#menu dl
{
	float: left;
	margin: 0 1px;
	-width: 94px !important;
	-height: 10px !important;
}

#menu dt
{
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	background: #d11;
	border: 1px solid gray;
	padding-left: 5px;
	padding-right: 5px;
}

#menu dd
{
	border: 1px solid gray;
}

#menu li
{
	text-align: center;
	background: #d55;
	padding-left: 5px;
	padding-right: 5px;
}

#menu li a, #menu dt a
{
	color: #f8eacc;
	text-decoration: none;
	display: block;
	height: 100%;
	border: 0 none;
}

#menu li a:hover, #menu dt a:hover
{
	background: #f22;
}

#site
{
	position: absolute;
	z-index: 1;
	top : 70px;
	left : 10px;
	color: #000;
	background-color: #ddd;
	padding: 5px;
	border: 1px solid gray; 
}

a
{
	text-decoration: none;
	color: black;
	color: #222;
}

#icone
{
	margin-top: 8px;
	margin-left: 8px;
	width: 60px;
	height: 60px;
	cursor: pointer;
}