.dyn-table {
	background: url(documents-consultes.gif) no-repeat left bottom;	
	padding-bottom: 0.9em;
	display: block;
	position: relative;
	overflow: hidden;
}

.dyn-table .dyn-table-titre {
	background: url(documents-consultes-haut.png.1) no-repeat;
	zoom: 1;
	overflow: hidden;
	min-height: 20px;
	padding: 15px 15px 0 20px;
	font-family: Verdana, sans-serif;
	font-size: 0.8em;
	color: #555555;
}

* html .dyn-table .dyn-table-titre {
	position: relative
}

.dyn-table .dyn-table-titre-bottom {
	background: url(documents-consultes-milieu.png.1) no-repeat;
	width: 100%;
	height: 20px;
	float: none;
}

.dyn-table table {
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 0.6875em;
	margin-left: 15px;
	padding: 0 0;
	width: 525px;
}

.dyn-table table.dyn-table-specwidth {
	table-layout: auto;
}

.dyn-table table tr.dyn-variation {
	background-color: #E9F2F1;
}

.dyn-table table th, .dyn-table table td {
	display: table-cell;
	padding: 0;	
	line-height: 1.25em;
	padding-left: 10px;
	padding-right: 5px;
	border: 1px solid #B1B1B1;
	border-right: 0;
}
.dyn-table table caption {
	display: none;
}

.dyn-table table th {
	color: #555555;
	text-align: left;
	border-top: 0;
	height: 15px;
}

.dyn-table table td {
	vertical-align: top;
	border-bottom: 0;
	padding-top: 8px;
	padding-bottom: 5px;
	height: 15px;
}

.dyn-table table .dyn-premiere {
	border-left: 0;
	padding-left: 5px;
}
