/* Feuille de style Groupama pour la gestion des formulaires */

/* Documents les plus consultées / Contenu Externe / Fils RSS / Abonnement / rh (Aout 2009)*/
/*#documents-consultes, #contenu-externe, .mediatheque-contenu, #RSS-conteneur .section, #abonnement-conteneur .section, #rh-conteneur .section{background: url(../images/documents-consultes.png) no-repeat left bottom; padding-bottom: 0.5em; overflow: hidden;}*/
#documents-consultes, #contenu-externe, .mediatheque-contenu, #RSS-conteneur .section, #abonnement-conteneur .section{background: url(documents-consultes.png) no-repeat left bottom; padding-bottom: 0.5em; overflow: hidden;}
#rh-conteneur .section{background: url(documents-consultes.png) no-repeat left bottom; padding-bottom: 0.5em;}
#abonnement-conteneur .section{margin-top: 2px; padding-bottom: 1.65em;}
#rh-conteneur .section{margin-top: 2px; padding-bottom: 1.em;}
.mediatheque-contenu{background: none;}
.mediatheque-contenu div{padding: 17px 0 0; border-bottom: 1px solid #B1B1B1;}
.mediatheque-contenu div.dernier{border-bottom: 0;}
#documents-consultes h2, #contenu-externe h2, #RSS-conteneur .section h2, #abonnement-conteneur .section legend, #rh-conteneur .section legend{color: #555; background: transparent url(documents-consultes-haut.png) no-repeat; min-height: 15px; margin: 0; padding: 20px 20px 0;}
#documents-consultes h3, #contenu-externe h3, #RSS-conteneur .section h3{font: normal 0.8em Verdana, sans-serif; line-height: 0.875em; color: #555; background: transparent url(documents-consultes-haut.png) no-repeat; min-height: 15px; margin: 0; padding: 20px 20px 0;}
#abonnement-conteneur .section legend.offres-legende, #rh-conteneur .section legend.offres-legende{color: #555; background: transparent url(http://www.groupama.com/file/design/gcom/images/documents-consultes-haut-offres.gif) no-repeat;}
#abonnement-conteneur .section legend, #rh-conteneur .section legend{margin-left: -7px;}
#abonnement-conteneur .section legend span, #rh-conteneur .section legend span{width: 517px; display: block;line-height:0.875em;font-size:0.8em;font-family:Verdana,sans-serif;}
#abonnement-conteneur .section fieldset legend, #rh-conteneur .section fieldset legend{padding:0; margin:0; background:none;}
#abonnement-conteneur .section fieldset legend span, #rh-conteneur .section fieldset legend span{width:523px; font:bold 0.6875em Arial,sans-serif; color:#000; padding-bottom:7px;}
* html #abonnement-conteneur .section fieldset legend, #rh-conteneur .section fieldset legend{margin-left:-7px;}

.mediatheque-contenu h3{font-family: Verdana, sans-serif !important; font-weight: bold; font-size: 0.8em;}
#documents-consultes div#documents-consultes-span, #contenu-externe div#contenu-externe-span, #RSS-conteneur .section .section-span, #abonnement-conteneur .section .section-span, #abonnement-conteneur .section .section-span-newsletter, #abonnement-conteneur .section .section-span-offres, #rh-conteneur .section .section-span{background: url(documents-consultes-milieu.png) no-repeat; width: 100%; height: 20px; float: none;}
#abonnement-conteneur .section .section-span-newsletter{background: url(http://www.groupama.com/file/design/gcom/images/documents-consultes-milieu-nwl.gif) no-repeat;}
#abonnement-conteneur .section .section-span-offres{background: url(http://www.groupama.com/file/design/gcom/images/documents-consultes-milieu-offres.gif) no-repeat;}
#documents-consultes h4, .mediatheque-contenu h4{font-weight: bold; font-size: 0.6875em; line-height:1em; margin:0pt 0pt 1em; padding:0pt;}
.mediatheque-contenu h4{margin-bottom: 6px;}
.mediatheque-descr-image{margin-top: 17px;}
#documents-consultes div.document-consulte{margin: 0 20px 0.5em; border-bottom: 1px solid #B1B1B1; clear: left;}
#documents-consultes div.document-consulte-dernier{margin: 0 20px 0.5em;clear: left;}
#documents-consultes div.dernier-document-consulte{border-bottom: none;}
#documents-consultes ul{padding: 0; margin: 0 0 0.9em; overflow: hidden;}
.mediatheque-contenu ul.documents-telechargeables{padding: 0; margin: 0 0 1em; overflow: hidden;}
.mediatheque-contenu ul.documents-telechargeables{zoom: 1;}
#documents-consultes li, .mediatheque-contenu ul.documents-telechargeables li{width: 229px; padding: 0 0 0 30px; margin: 0; float: left;}
ul.documents-telechargeables li{margin: 0 0 5px 0 !important;}
#documents-consultes li.publication-pdf p, .mediatheque-contenu ul.documents-telechargeables li.publication-pdf p{margin-right: 10px;}
#documents-consultes p, .mediatheque-contenu p{font-size: 1em;}
.mediatheque-contenu p.date-publication{font-size: 0.6875em; color: #555555; padding-bottom: 3px;}
.mediatheque-contenu div.date-publication{font-size: 0.6875em; color: #555555; padding-bottom: 3px;}
#documents-consultes p.ajout-panier, #contenu-externe p.lien-externe, .mediatheque-contenu p.ajout-panier, .mediatheque-contenu p.lien-externe{font-size: 0.875em; background: url(fleche-noire.png) no-repeat left 4px; padding-left: 0.5em; margin-top: 0.125em;}
.mediatheque-contenu p.en-savoir-plus{font-size: 0.6875em; padding-bottom: 16px;}
#contenu-externe p.lien-externe, .mediatheque-contenu p.lien-externe{font-size: 0.6875em; font-weight: bold; margin-left: 10px; padding-bottom: 7px; margin-top: 0.4em;}
#documents-consultes p.ajout-panier a:hover, #documents-consultes p.ajout-panier a:focus, #contenu-externe p.lien-externe a:hover, #contenu-externe p.lien-externe a:focus{text-decoration: underline;}
#documents-consultes a, .mediatheque-contenu a{color: inherit;}
#contenu-externe iframe, #contenu-externe object{width: 529px; margin-left: 10px; border: 1px solid #FFFFFF;}
#documents-consultes input.ajout-panier, .mediatheque-contenu input.ajout-panier{width: auto; border: 0; margin: 0; padding: 0 0 1px 2px; font-size: 0.800em; background: url(fleche-noire.png) no-repeat left 4px; color: #000000;}
.mediatheque-contenu input.ajout-panier{font-size: 0.8em}
#RSS-conteneur p.intro{font-size: 0.75em;}
#RSS-conteneur .section p{margin-left: 20px; margin-right: 20px;}
#RSS-conteneur .section ul{margin: 0 17px 0 18px; padding: 0 0 7px; zoom: 1; overflow: hidden;}
#RSS-conteneur .section ul li{margin: 0; padding: 7px 0 5px 8px; background: url(fleche-noire.png) no-repeat 0 11px; line-height: 100%; border-bottom: 1px solid #FFFFFF;}
#RSS-conteneur .section ul li a:hover{text-decoration:underline}
#RSS-conteneur .section ul li.dernier{border-top: 1px solid #B1B1B1; border-bottom: 0;}
#RSS-conteneur .section ul li div, .js #RSS-conteneur .section ul li div.actif{position: relative; left: 0; top: 0; zoom: 1;}
.js #RSS-conteneur .section ul li div{position: absolute; left: -9000em; top: 0;}
#RSS-conteneur .section ul li div ul{margin: 7px 0 0; padding: 0;}
#RSS-conteneur .section ul li div ul li{float: left; width: 128px; height: 33px; padding: 0; background: none; border-bottom: 0;}
#RSS-conteneur .section ul li div p{margin: 5px 0 0; font-size: 1.0em;}
#RSS-conteneur .section ul li div input{width: 500px; height: 1.5em; font-size: 1.0em; color: #006E58;}
#abonnement-conteneur p.intro{font-size: 0.9em; padding-bottom: 5px;}
#abonnement-conteneur .section div.abonnement-champs{padding: 0 10px 0 21px; zoom: 1; overflow: hidden;}
#rh-conteneur .section div.rh-champs{padding: 0 10px 0 21px; zoom: 1; /*overflow: hidden;*/}
#rh-conteneur .section div.rh-champsMap{width: 250px; padding: 0 10px 0 21px; zoom: 1; overflow: hidden;}
#abonnement-conteneur .section div.abonnement-champs p, #rh-conteneur .section div.rh-champs p{padding-bottom: 7px;}
#abonnement-conteneur .section div.abonnement-champs div{zoom: 1; overflow: hidden; padding: 0 0 13px 13px;}
#rh-conteneur .section div.rh-champs div, #rh-conteneur .section div.rh-champsMap div{float:left; zoom: 1; overflow: hidden; padding: 2px 0 8px 13px;}
#abonnement-conteneur .section div.abonnement-champs div.dernier, #rh-conteneur .section div.rh-champs div.dernier, #rh-conteneur .section div.rh-champsMap div.dernier{padding-bottom: 0;}
#abonnement-conteneur .section div.abonnement-champs input, #rh-conteneur .section div.rh-champs input, #rh-conteneur .section div.rh-champsMap input{background: none; border: 0; width: 13px; height: 12px; margin: 0 10px 0 0; padding: 0; float: left;}
#rh-conteneur .section .rh-champs div.fakeLongInput{background:#D4E3E3 url(http://www.groupama.com/file/design/gcom/images/contact-champcle-notransp.gif) no-repeat; width: 290px; height:19px; margin-right:0pt; padding: 2px 0 0 0;}
#rh-conteneur .section div.rh-champs .fakeLongInput input{font-size: 0.625em; height: 18px; margin: 0; padding: 2px 5px 0 4px; border: none; background:transparent; width:280px;}
#rh-conteneur .section .rh-champs .fakeMediumInput{background: url(http://www.groupama.com/file/design/gcom/images/archives-champmotcle-notransp.gif) no-repeat; width: 255px; height:20px;}
#rh-conteneur .section .rh-champs .fakeShortInput{background: url(http://www.groupama.com/file/design/gcom/images/champ-education.gif) no-repeat; width: 145px; height:20px;}
#rh-conteneur .section div.rh-champs .fakeShortInput input{font-size: 0.625em; height: 18px; margin: 0; padding: 2px 5px 0 4px; border: none; background:transparent; width:120px;}
#rh-conteneur .section .rh-champs .fakeSmallInput{background: url(http://www.groupama.com/file/design/gcom/images/champ-date.gif) no-repeat; width: 100px; height:20px;}
#rh-conteneur .section div.rh-champs .fakeSmallInput input{font-size: 0.625em; height: 18px; margin: 0; padding: 2px 5px 0 4px; border: none; background:transparent; width:60px;}
#abonnement-conteneur .section div.abonnement-champs label, #rh-conteneur .section div.rh-champs label, #rh-conteneur .section div.rh-champsMap label{width: 480px; float: left; position: relative; left: 0; top: 0; font-size: 0.6875em; line-height: 1.2em; color: #565656;}
#abonnement-conteneur .section div.abonnement-champs label span, #rh-conteneur .section div.rh-champs label span, #rh-conteneur .section div.rh-champsMap label span{color: #006E58; text-transform: uppercase; padding-left: 3px;}
#abonnement-conteneur .section div.abonnement-champs div label, #rh-conteneur .section div.rh-champs div label, #rh-conteneur .section div.rh-champsMap div label{color: #000000;}
#rh-conteneur .section div.rh-champs div label, #rh-conteneur .section div.rh-champsMap div label{width: 200px;}
#rh-conteneur .section div.image-droite{float: right; padding: 0 17px 10px 0;}
#rh-conteneur .section div.rh-champs .rh-saisie{width: 150px;}
#abonnement-conteneur input.bouton-image{float: left; margin-top: 3px; margin-right: 7px;}
#abonnement-conteneur p#abonnement-confirmation{float: left; margin-top: 7px; color: #006E58;}

/* ----------------------------- */
/* Archives / Contact */
/* ----------------------------- */
/* Formulaire / Recherche / mediatheque : recherche */
#archives-selection, #recherche-selection, .mediatheque-selection{width: 550px; padding-bottom: 13px; background: url(http://www.groupama.com/file/design/gcom/images/archives-recherche.gif) no-repeat left bottom; color: #555555;}
.mediatheque-selection{position: relative;}
#archives-selection:after, #recherche-selection:after, .mediatheque-selection:after{display: block; height: 0; clear: both; visibility: hidden; content: ".";}
#archives-selection h2, #recherche-selection h2, h2.mediatheque-intro{font-weight: bold; font-size: 0.8em; padding-bottom: 6px;}
#archives-selection p, #recherche-selection p, p.mediatheque-description{font-size: 0.75em; padding-bottom: 30px;}
#archives-selection fieldset, #recherche-selection fieldset, .mediatheque-selection fieldset{position: relative; float: left; width: 550px;}
.mediatheque-selection fieldset{padding-bottom: 10px;}
#archives-selection fieldset.archives-blocdate, .mediatheque-selection fieldset.mediatheque-blocdate{width: 266px; padding-left: 9px; z-index: 3;}
.mediatheque-selection fieldset.mediatheque-blocdate{padding-bottom: 0;}
#archives-selection fieldset.archives-blocdate legend, .mediatheque-selection fieldset.mediatheque-blocdate legend{font-weight: bold; font-size: 0.75em; color: #555555;}
#archives-selection fieldset.archives-bloccriteresavances legend, #recherche-selection fieldset.recherche-bloccriteresavances legend, .mediatheque-selection fieldset.mediatheque-bloccriteresavances legend{font-size: 0em; margin: 0; padding: 0; height: 1px; zoom: 1; overflow: hidden;}
#archives-selection fieldset:after, #recherche-selection fieldset:after, .mediatheque-selection fieldset:after{display: block; height: 0; clear: both; visibility: hidden; content: ".";}
#archives-selection fieldset.archives-bloccriteresavances label, #recherche-selection fieldset.recherche-bloccriteresavances label, .mediatheque-selection fieldset.mediatheque-bloccriteresavances label{position: relative; left: 0; top: 0; font-weight: bold; font-size: 0.75em;}
.js #archives-selection fieldset select, .js #recherche-selection fieldset select, .js .mediatheque-selection fieldset select{position: absolute; left: -9000em; top: 0;}
#archives-selection input.bouton-image, #recherche-selection input.bouton-image, .mediatheque-selection input.bouton-image{float: right; margin-right: 15px;}
#recherche-selection input.bouton-image, #archives-selection input.bouton-image{margin-top: 15px;}
#archives-selection fieldset.archives-bloccriteresavances div.archives-bloccriteresavances-champ, #recherche-selection fieldset.recherche-bloccriteresavances div.recherche-bloccriteresavances-champ, .mediatheque-selection fieldset.mediatheque-bloccriteresavances div.mediatheque-bloccriteresavances-champ{float: left; width: 255px; padding: 11px 11px 0 9px;}
#recherche-selection fieldset.recherche-bloccriteresavances div.recherche-bloccriteresavances-champmotcle{padding: 11px 11px 0 9px;}
#recherche-selection fieldset.recherche-bloccriteresavances div.recherche-bloccriteresavances-champmotcle label{display: block;}
#archives-selection fieldset.archives-bloccriteresavances select, #recherche-selection fieldset.recherche-bloccriteresavances select, .mediatheque-selection fieldset.mediatheque-bloccriteresavances select{width: 255px;}


#archives-selection fieldset.archives-bloccriteresavances input, #recherche-selection fieldset.recherche-bloccriteresavances input{background:transparent; border: 0; font-size: 0.625em; padding: 4px 20px 3px 10px; width: 225px;}
#mediatheque-image .mediatheque-selection input.bouton-image{background-color:transparent; float: left; margin-top: 2.6em;}


/* Faux Select */
#archives-selection .fauxSelect, #recherche-selection .fauxSelect, .mediatheque-selection .fauxSelect{display: none;}
.js #archives-selection .fauxSelect, .js #recherche-selection .fauxSelect, .js .mediatheque-selection .fauxSelect{display: block; position: relative; float: left; color: #0E6E59;}
#archives-selection fieldset div.closed ul, #recherche-selection fieldset div.closed ul, .mediatheque-selection fieldset div.closed ul{visibility: hidden;}
#archives-selection fieldset div.opened ul, #recherche-selection fieldset div.opened ul, .mediatheque-selection fieldset div.opened ul{visibility: visible;}
#archives-selection fieldset .fauxSelect ul, #recherche-selection fieldset .fauxSelect ul, .mediatheque-selection fieldset .fauxSelect ul{background: #FFFFFF; margin: 0; padding: 0; border: 1px solid #0E6E59; border-top: 0; position: absolute; top: 1.7em; left: 5px;}
#archives-selection fieldset .fauxSelect ul li, #recherche-selection fieldset .fauxSelect ul li, .mediatheque-selection fieldset .fauxSelect ul li{line-height: 100%; padding: 3px 5px; cursor: pointer;}
#archives-selection fieldset .fauxSelect span, #recherche-selection fieldset .fauxSelect span, .mediatheque-selection fieldset .fauxSelect span{display: block; font-size: 0.6875em; line-height: 100%; padding: 5px 0 4px 10px; cursor: pointer;}
#archives-selection fieldset.archives-blocdate div.archives-mois div, .mediatheque-selection fieldset.mediatheque-blocdate div.mediatheque-mois div{width: 106px; background: url(http://www.groupama.com/file/design/gcom/images/archives-champmois-bas.gif) no-repeat left bottom; margin-right: 10px;}
#archives-selection fieldset.archives-blocdate div.archives-mois div span, .mediatheque-selection fieldset.mediatheque-blocdate div.mediatheque-mois div span{background: url(http://www.groupama.com/file/design/gcom/images/archives-champmois.gif) no-repeat left top;}
#archives-selection fieldset.archives-blocdate div.archives-mois div ul, .mediatheque-selection fieldset.mediatheque-blocdate div.mediatheque-mois div ul{width: 94px;}
#archives-selection fieldset.archives-blocdate div.archives-annee div, .mediatheque-selection fieldset.mediatheque-blocdate div.mediatheque-annee div{width: 86px; background: url(http://www.groupama.com/file/design/gcom/images/archives-champannee-bas.gif) no-repeat left bottom;}
#archives-selection fieldset.archives-blocdate div.archives-annee div span, .mediatheque-selection fieldset.mediatheque-blocdate div.mediatheque-annee div span{background: url(http://www.groupama.com/file/design/gcom/images/archives-champannee.gif) no-repeat left top;}
#archives-selection fieldset.archives-blocdate div.archives-annee div ul, .mediatheque-selection fieldset.mediatheque-blocdate div.mediatheque-annee div ul{width: 74px;}
#archives-selection fieldset.archives-bloccriteresavances .fauxSelect, #recherche-selection fieldset.recherche-bloccriteresavances .fauxSelect, .mediatheque-selection fieldset.mediatheque-bloccriteresavances .fauxSelect{width: 255px; background: url(http://www.groupama.com/file/design/gcom/images/archives-champavance-bas.gif) no-repeat left bottom;}
#archives-selection fieldset.archives-bloccriteresavances .fauxSelect span, #recherche-selection fieldset.recherche-bloccriteresavances .fauxSelect span, .mediatheque-selection fieldset.mediatheque-bloccriteresavances .fauxSelect span{background: url(http://www.groupama.com/file/design/gcom/images/archives-champavance.gif) no-repeat left top;}
#archives-selection fieldset.archives-bloccriteresavances .fauxSelect ul, #recherche-selection fieldset.recherche-bloccriteresavances .fauxSelect ul, .mediatheque-selection fieldset.mediatheque-bloccriteresavances .fauxSelect ul{width: 245px;}

/* Archives : Navigation / Recherche : Navigation / Mediatheque : Navigation */
.#archives-navigation, #recherche-navigation, .mediatheque-navigation{background: #FFFFFF url(http://www.groupama.com/file/design/gcom/images/archives-menu.gif) no-repeat left bottom; zoom: 1; overflow: hidden; color: #555555; padding: 23px 18px 9px 9px;}
#archives-navigation h2, #recherche-navigation h2, .mediatheque-navigation h2{font-weight: bold; font-size: 0.95em; padding-bottom: 10px;}
#archives-navigation ul, #recherche-navigation ul, .mediatheque-navigation ul{margin: 0; padding: 0; zoom: 1; overflow: hidden;}
#archives-navigation ul li, #recherche-navigation ul li, .mediatheque-navigation ul li{float: left; width: 1.8em; height: 2.0em; line-height: 1.8em;}
#archives-navigation ul li a, #archives-navigation ul li span, #recherche-navigation ul li a, #recherche-navigation ul li span, .mediatheque-navigation ul li a, .mediatheque-navigation ul li span{display: block; background: #444344 url(http://www.groupama.com/file/design/gcom/images/archives-menu-liste.gif) repeat-x left top; text-align: center; color: #FFFFFF; border: 1px solid #D2D1D1; border-right: 0;}
#archives-navigation ul li span, #recherche-navigation ul li span, .mediatheque-navigation ul li span{background: #0A5243 url(http://www.groupama.com/file/design/gcom/images/archives-menu-liste-on.gif) repeat-x left top;}
#archives-navigation ul li.premier a, #archives-navigation ul li.precedent a, #archives-navigation ul li.suivant a, #archives-navigation ul li.dernier a, #recherche-navigation ul li.premier a, #recherche-navigation ul li.precedent a, #recherche-navigation ul li.suivant a, #recherche-navigation ul li.dernier a, .mediatheque-navigation ul li.premier a, .mediatheque-navigation ul li.precedent a, .mediatheque-navigation ul li.suivant a, .mediatheque-navigation ul li.dernier a{background: none; border: 0;}
#archives-navigation ul li.premier img, #archives-navigation ul li.precedent img, #archives-navigation ul li.suivant img, #archives-navigation ul li.dernier img, #recherche-navigation ul li.premier img, #recherche-navigation ul li.precedent img, #recherche-navigation ul li.suivant img, #recherche-navigation ul li.dernier img, .mediatheque-navigation ul li.premier img, .mediatheque-navigation ul li.precedent img, .mediatheque-navigation ul li.suivant img, .mediatheque-navigation ul li.dernier img{width: 1.75em; height: 2.0em;}
#archives-navigation p, #recherche-navigation p, .mediatheque-navigation p{float: right; margin-top: -18px;}
.mediatheque-navigation p#mediatheque-pagination{float: none; text-align: right; width: 520px;}

/* Contact : Liste */
#contact-liste{width: 541px; border-bottom: 1px solid #555555; margin: 0 0 0 9px; padding: 0;}
#contact-liste h3{font-weight: bold;}
#contact-liste ul{margin:0 0 2em 0; padding: 0; zoom: 1; overflow: hidden;}
#contact-liste ul li{float: left; width: 240px; margin-right: 30px; line-height: 130%; padding-bottom: 22px; display: inline;}
#contact-liste ul li a, #contact-liste ul li a:active, #contact-liste ul li a:visited, #contact-liste ul li a:hover{text-decoration: underline;}
#contact-liste ul li div.contact-nom-prenom{font-weight: bold;}

/* Contact : formulaire / panier : inscription - identification - telechargement HD / Mediatheque : telechargement HD / Envoyer / Abonnement : inscription - identification */
#contact-formulaire, #envoyer-formulaire, #panier-compte-inscription, #panier-telechargement-hd, #mediatheque-telechargement-hd, #abonnement-compte-inscription{background: transparent url(http://www.groupama.com/file/design/gcom/images/contact-formulaire.gif) no-repeat left bottom; color: #555555; padding: 15px 10px 9px 9px; margin-bottom: 25px; zoom: 1;}
#envoyer-formulaire{padding-top: 0;}
#panier-compte-identification, #abonnement-compte-identification{float: left; width: 179px; color: #555555;}
#panier-compte-inscription, #abonnement-compte-inscription{float: left; width: 361px; background: none; margin-bottom: 0; padding: 0 0 0 9px;  border-left: 1px solid #B3B3B3;}
#contact-formulaire:after, #envoyer-formulaire:after, #panier-compte-inscription:after, #panier-compte-identification:after, #panier-telechargement-hd:after, #mediatheque-telechargement-hd:after, #abonnement-compte-inscription:after, #abonnement-compte-identification:after{display: block; height: 0; clear: both; visibility: hidden; content: ".";}
#contact-formulaire p, #envoyer-formulaire p{margin-bottom: 4px;}
#contact-formulaire fieldset legend, #panier-compte-inscription fieldset legend, #panier-compte-identification fieldset legend, #panier-telechargement-hd fieldset legend, #mediatheque-telechargement-hd fieldset legend, #abonnement-compte-inscription fieldset legend, #abonnement-compte-identification fieldset legend{font-weight: bold; font-size: 0.875em; color: #555555; margin-left: -10px; line-height: 120%; padding-top: 20px;}
#envoyer-formulaire fieldset legend{font-size: 0em; margin: 0; padding: 0; height: 1px; zoom: 1; overflow: hidden;}
#mediatheque-selection ul#mediatheque-listeerreurs,#archives-selection ul#archives-listeerreurs, #contact-formulaire fieldset ul#contact-listeerreurs, #envoyer-formulaire fieldset ul#envoyer-listeerreurs, #panier-compte-inscription fieldset ul#panier-inscription-listeerreurs, #panier-compte-identification fieldset ul#panier-identification-listeerreurs, #panier-telechargement-hd fieldset ul#panier-hd-listeerreurs, #mediatheque-telechargement-hd fieldset ul#mediatheque-hd-listeerreurs, #abonnement-compte-inscription fieldset ul#abonnement-inscription-listeerreurs, #abonnement-compte-identification fieldset ul#abonnement-identification-listeerreurs, #rh-conteneur fieldset ul#candidature-listeerreurs{margin: 0; padding: 0;}
#mediatheque-selection ul#mediatheque-listeerreurs li, #archives-selection ul#archives-listeerreurs li, #contact-formulaire fieldset ul#contact-listeerreurs li, #envoyer-formulaire fieldset ul#envoyer-listeerreurs li, #panier-compte-inscription fieldset ul#panier-inscription-listeerreurs li, #panier-compte-identification fieldset ul#panier-identification-listeerreurs li, #panier-telechargement-hd fieldset ul#panier-hd-listeerreurs li, #mediatheque-telechargement-hd fieldset ul#mediatheque-hd-listeerreurs li, #abonnement-compte-inscription fieldset ul#abonnement-inscription-listeerreurs li, #abonnement-compte-identification fieldset ul#abonnement-identification-listeerreurs li, #rh-conteneur fieldset ul#candidature-listeerreurs li{color: #C3390B; line-height: 1.25em;}
#contact-formulaire fieldset div, #envoyer-formulaire fieldset div, #panier-compte-inscription fieldset div, #panier-compte-identification fieldset div, #panier-telechargement-hd fieldset div, #mediatheque-telechargement-hd fieldset div, #abonnement-compte-inscription fieldset div, #abonnement-compte-identification fieldset div{float: left; margin-right: 20px; position: relative; z-index: 2;}
#contact-formulaire fieldset div div, #envoyer-formulaire fieldset div div, #panier-compte-inscription fieldset div div, #panier-compte-identification fieldset div div, #panier-telechargement-hd fieldset div div, #mediatheque-telechargement-hd fieldset div div, #abonnement-compte-inscription fieldset div div, #abonnement-compte-identification fieldset div div {margin-right:0;}
#mediatheque-telechargement-hd fieldset div div#mediatheque-hd-societe-conteneur{margin-right:20px;}
#panier-compte-inscription fieldset div, #abonnement-compte-inscription fieldset div{margin-right: 5px;}
#panier-compte-identification fieldset div, #abonnement-compte-identification fieldset div{margin-right: 0;}
#contact-formulaire fieldset div#contact-theme-conteneur, #contact-formulaire fieldset div#contact-message-conteneur, #envoyer-formulaire fieldset div#envoyer-theme-conteneur, #envoyer-formulaire fieldset div#envoyer-message-conteneur{margin-right: 0;}
#contact-formulaire fieldset div#contact-message-conteneur div, #envoyer-formulaire fieldset div#envoyer-message-conteneur div{float: none; margin-right: 0; width: 531px; height: 146px; background:  #D4E3E3 url(http://www.groupama.com/file/design/gcom/images/contact-champmessage.gif) no-repeat;}
#rh-conteneur fieldset div.rh-champs div.faux-select-conteneur, #rh-conteneur fieldset div.rh-champs div.faux-select-conteneur-petit, #rh-conteneur fieldset div.rh-champs span.faux-select-conteneur-petit, #contact-formulaire fieldset div.faux-select-conteneur, #envoyer-formulaire fieldset div.faux-select-conteneur, #panier-compte-inscription fieldset div.faux-select-conteneur, #panier-telechargement-hd fieldset div.faux-select-conteneur, #mediatheque-telechargement-hd fieldset div.faux-select-conteneur, #abonnement-compte-inscription fieldset div.faux-select-conteneur{z-index: 3;}
#contact-formulaire fieldset label, #envoyer-formulaire fieldset label, #panier-compte-inscription fieldset label, #panier-compte-identification fieldset label, #panier-telechargement-hd fieldset label, #mediatheque-telechargement-hd fieldset label, #abonnement-compte-inscription fieldset label, #abonnement-compte-identification fieldset label{position: relative; left: 0; top: 0; display: block; font-weight: bold; font-size: 0.6875em; line-height: 120%; padding-top: 1.5em; padding-bottom: 0.6em;}
#panier-compte-identification fieldset label {padding-top:30px}
#mediatheque-selection fieldset.erreur legend, #archives-selection fieldset.erreur legend, #contact-formulaire fieldset label.erreur, #envoyer-formulaire fieldset label.erreur, #panier-compte-inscription fieldset label.erreur, #panier-compte-identification fieldset label.erreur, #panier-telechargement-hd fieldset label.erreur, #mediatheque-telechargement-hd fieldset label.erreur, #abonnement-compte-inscription fieldset label.erreur, #abonnement-compte-identification fieldset label.erreur, #rh-conteneur .section div.rh-champs label.erreur{color: #C3390B;}
.js #contact-formulaire fieldset select, .js #envoyer-formulaire fieldset select, .js #panier-compte-inscription fieldset select, .js #panier-telechargement-hd fieldset select, .js #mediatheque-telechargement-hd fieldset select, .js #abonnement-compte-inscription fieldset select, .js #abonnement-telechargement-hd fieldset select{position: absolute; left: -9000em; top: 0;}
.js #rh-conteneur fieldset div.rh-champs div.faux-select-conteneur select, .js #rh-conteneur fieldset div.rh-champs div.faux-select-conteneur-petit select, .js #rh-conteneur fieldset div.rh-champs span.faux-select-conteneur-petit select{position: absolute; left: -9000em;}

#contact-formulaire fieldset div input, #envoyer-formulaire fieldset div input, #panier-compte-inscription fieldset div input, #panier-compte-identification fieldset div input, #panier-telechargement-hd fieldset div input, #mediatheque-telechargement-hd fieldset div input, #abonnement-compte-inscription fieldset div input, #abonnement-compte-identification fieldset div input{font-size: 0.625em; height: 17px; margin: 0; padding: 2px 5px 0 4px; border: none; background:transparent; width:150px;}

#contact-formulaire fieldset div#contact-mail-conteneur input, #contact-formulaire fieldset div#contact-objet-conteneur input, #envoyer-formulaire fieldset div#envoyer-mail-conteneur input, #envoyer-formulaire fieldset div#envoyer-objet-conteneur input, #panier-telechargement-hd fieldset div#panier-hd-mail-conteneur input, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-mail-conteneur input{background:transparent; width: 435px;}

#contact-formulaire fieldset input.bouton-image, #envoyer-formulaire fieldset input.bouton-image, #panier-compte-inscription fieldset input.bouton-image, #panier-compte-identification fieldset input.bouton-image, #panier-telechargement-hd fieldset input.bouton-image, #mediatheque-telechargement-hd fieldset input.bouton-image, #abonnement-compte-inscription fieldset input.bouton-image, #abonnement-compte-identification fieldset input.bouton-image, #rh-conteneur p input.bouton-image{float: right; margin-right: 6px; margin-top: 11px; display: inline;}
#panier-compte-inscription fieldset input.bouton-image, #abonnement-compte-inscription fieldset input.bouton-image{margin-right: 11px; margin-left: 100px;}
#panier-telechargement-hd fieldset div#panier-hd-activite-conteneur, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-activite-conteneur{zoom: 1; overflow: hidden; width: 520px;}
#panier-telechargement-hd fieldset div#panier-hd-activite-conteneur p, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-activite-conteneur p{padding-top: 14px; padding-bottom: 4px;}
#panier-telechargement-hd fieldset div#panier-hd-activite-conteneur input.panier-hd-activite, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-activite-conteneur input.mediatheque-hd-activite{background: none; width: 13px; height: 12px; margin: 0 10px 0 0; padding: 0; float: left;}
#panier-telechargement-hd fieldset div#panier-hd-activite-conteneur label.panier-hd-activite, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-activite-conteneur label.mediatheque-hd-activite{font-weight: normal; float: left; padding: 0; margin: 0 30px 0 0;}
#panier-telechargement-hd fieldset div#panier-hd-activite-conteneur div#panier-hd-professionnel-options, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-activite-conteneur div#mediatheque-hd-professionnel-options{margin-left: 7.7em; display: inline;}
#panier-telechargement-hd fieldset div#panier-hd-activite-conteneur div#panier-hd-telephone-conteneur, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-activite-conteneur div#mediatheque-hd-telephone-conteneur{margin-right: 0;}
#panier-telechargement-hd fieldset div#panier-hd-activite-conteneur div#panier-hd-professionnel-options div label, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-activite-conteneur div#mediatheque-hd-professionnel-options div label{padding-top: 0.8em;}
#panier-telechargement-hd fieldset div#panier-hd-objet-conteneur, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-objet-conteneur{zoom: 1; overflow: hidden; width: 520px; margin-top: 20px;}
#panier-telechargement-hd fieldset div#panier-hd-objet-conteneur fieldset legend, #panier-telechargement-hd fieldset div#panier-hd-activite-conteneur fieldset legend, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-objet-conteneur fieldset legend, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-activite-conteneur fieldset legend{font-weight: bold; font-size: 0.6875em; color: #555555; line-height: 120%; padding-top: 0; padding-bottom:7px;}
#panier-telechargement-hd fieldset div#panier-hd-activite-conteneur fieldset legend, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-activite-conteneur fieldset legend{padding-top:14px;}
#panier-telechargement-hd fieldset div#panier-hd-objet-conteneur fieldset legend span, #panier-telechargement-hd fieldset div#panier-hd-activite-conteneur fieldset legend span, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-objet-conteneur fieldset legend span, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-activite-conteneur fieldset legend span{display:block; margin-left:-2px;}
* html #panier-telechargement-hd fieldset div#panier-hd-objet-conteneur fieldset legend span{margin-left:2px;}
*+html #panier-telechargement-hd fieldset div#panier-hd-objet-conteneur fieldset legend span{margin-left:2px;}
* html #panier-telechargement-hd fieldset div#panier-hd-activite-conteneur fieldset legend span{margin-left:2px;}
*+html #panier-telechargement-hd fieldset div#panier-hd-activite-conteneur fieldset legend span{margin-left:2px;}
* html #mediatheque-telechargement-hd fieldset div#mediatheque-hd-objet-conteneur fieldset legend span{margin-left:2px;}
*+html #mediatheque-telechargement-hd fieldset div#mediatheque-hd-objet-conteneur fieldset legend span{margin-left:2px;}
* html #mediatheque-telechargement-hd fieldset div#mediatheque-hd-activite-conteneur fieldset legend span{margin-left:2px;}
*+html #mediatheque-telechargement-hd fieldset div#mediatheque-hd-activite-conteneur fieldset legend span{margin-left:2px;}
#panier-telechargement-hd fieldset div#panier-hd-conditions-conteneur, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-conditions-conteneur{zoom: 1; overflow: hidden; margin-top: 12px;}
#panier-telechargement-hd fieldset div#panier-hd-objet-conteneur p, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-objet-conteneur p{float: left; padding-right: 19px;}
#panier-telechargement-hd fieldset div#panier-hd-objet-conteneur div, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-objet-conteneur div{margin-right: 30px;}
#panier-telechargement-hd fieldset div#panier-hd-objet-conteneur input.panier-hd-objet, #panier-telechargement-hd fieldset div#panier-hd-conditions-conteneur input, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-objet-conteneur input.mediatheque-hd-objet, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-conditions-conteneur input{background: none; width: 13px; height: 12px; margin: 0 10px 0 0; padding: 0; float: left;}
#panier-telechargement-hd fieldset div#panier-hd-objet-conteneur label.panier-hd-objet, #panier-telechargement-hd fieldset div#panier-hd-conditions-conteneur label, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-objet-conteneur label.mediatheque-hd-objet, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-conditions-conteneur label{font-weight: normal; float: left; padding: 0; margin: 0;}
#panier-telechargement-hd fieldset div#panier-hd-conditions-conteneur label a, #mediatheque-telechargement-hd fieldset div#mediatheque-hd-conditions-conteneur label a{text-decoration: underline; color: #555555;}

#contact-formulaire fieldset div#contact-message-conteneur div textarea, #envoyer-formulaire fieldset div#envoyer-message-conteneur div textarea{font: 0.6875em Arial,Helvetica,sans-serif; color: #0E6E59; width: 516px; height: 133px; margin: 5px 0 0 5px; border: 0; overflow: auto;}

/* Contact : Faux Select formulaire / Panier : Faux Select inscription - telechargement HD / Envoyer / Abonnement : Faux Select inscription */
#contact-formulaire .fauxSelect, #envoyer-formulaire .fauxSelect, #panier-compte-inscription .fauxSelect, #panier-telechargement-hd .fauxSelect, #mediatheque-telechargement-hd .fauxSelect, #abonnement-compte-inscription .fauxSelect{display: none;}
.js #rh-conteneur .fauxSelect, .js #contact-formulaire .fauxSelect, .js #envoyer-formulaire .fauxSelect, .js #panier-compte-inscription .fauxSelect, .js #panier-telechargement-hd .fauxSelect, .js #mediatheque-telechargement-hd .fauxSelect, .js #abonnement-compte-inscription .fauxSelect{display: block; position: relative; float: left; color: #0E6E59; margin-right: 0;}
#rh-conteneur fieldset div.rh-champs div.faux-select-conteneur div.closed ul, #rh-conteneur fieldset div.rh-champs div.faux-select-conteneur-petit div.closed ul, #rh-conteneur fieldset div.rh-champs span.faux-select-conteneur-petit div.closed ul, #contact-formulaire fieldset div.closed ul, #envoyer-formulaire fieldset div.closed ul, #panier-compte-inscription fieldset div.closed ul, #panier-telechargement-hd fieldset div.closed ul, #mediatheque-telechargement-hd fieldset div.closed ul, #abonnement-compte-inscription fieldset div.closed ul{visibility: hidden;}
#rh-conteneur fieldset div.rh-champs div.faux-select-conteneur div.opened ul, #rh-conteneur fieldset div.rh-champs div.faux-select-conteneur-petit div.opened ul,  #rh-conteneur fieldset div.rh-champs span.faux-select-conteneur-petit div.opened ul, #contact-formulaire fieldset div.opened ul, #envoyer-formulaire fieldset div.opened ul, #panier-compte-inscription fieldset div.opened ul, #panier-telechargement-hd fieldset div.opened ul, #mediatheque-telechargement-hd fieldset div.opened ul, #abonnement-compte-inscription fieldset div.opened ul{visibility: visible;}
#rh-conteneur fieldset div.rh-champs div.faux-select-conteneur .fauxSelect ul, #rh-conteneur fieldset div.rh-champs div.faux-select-conteneur-petit .fauxSelect ul, #rh-conteneur fieldset div.rh-champs span.faux-select-conteneur-petit .fauxSelect ul, #contact-formulaire fieldset .fauxSelect ul, #envoyer-formulaire fieldset .fauxSelect ul, #panier-compte-inscription fieldset .fauxSelect ul, #panier-telechargement-hd fieldset .fauxSelect ul, #mediatheque-telechargement-hd fieldset .fauxSelect ul, #abonnement-compte-inscription fieldset .fauxSelect ul{background: #FFFFFF; margin: 0; padding: 0; border: 1px solid #0E6E59; border-top: 0; position: absolute; top: 1.7em; left: 5px;}
#rh-conteneur fieldset div.rh-champs div.faux-select-conteneur .fauxSelect ul li, #rh-conteneur fieldset div.rh-champs div.faux-select-conteneur-petit .fauxSelect ul li, #rh-conteneur fieldset div.rh-champs span.faux-select-conteneur-petit .fauxSelect ul li, #contact-formulaire fieldset .fauxSelect ul li, #envoyer-formulaire fieldset .fauxSelect ul li, #panier-compte-inscription fieldset .fauxSelect ul li, #panier-telechargement-hd fieldset .fauxSelect ul li, #mediatheque-telechargement-hd fieldset .fauxSelect ul li, #abonnement-compte-inscription fieldset .fauxSelect ul li{line-height: 100%; padding: 3px 5px; cursor: pointer;}
#contact-formulaire fieldset .fauxSelect span, #envoyer-formulaire fieldset .fauxSelect span, #panier-compte-inscription fieldset .fauxSelect span, #panier-telechargement-hd .fauxSelect span, #mediatheque-telechargement-hd .fauxSelect span, #abonnement-compte-inscription fieldset .fauxSelect span{display: block; font-size: 0.6875em; line-height: 100%; padding: 5px 0 4px 10px; cursor: pointer;}
#contact-formulaire fieldset .fauxSelect, #envoyer-formulaire fieldset .fauxSelect, #panier-compte-inscription fieldset .fauxSelect, #panier-telechargement-hd fieldset .fauxSelect, #mediatheque-telechargement-hd fieldset .fauxSelect, #abonnement-compte-inscription fieldset .fauxSelect{width: 66px; background: url(http://www.groupama.com/file/design/gcom/images/contact-champcivilite-bas.gif) no-repeat left bottom;}
#contact-formulaire fieldset .fauxSelect span, #envoyer-formulaire fieldset .fauxSelect span, #panier-compte-inscription fieldset .fauxSelect span, #panier-telechargement-hd fieldset .fauxSelect span, #mediatheque-telechargement-hd fieldset .fauxSelect span, #abonnement-compte-inscription fieldset .fauxSelect span{background: url(http://www.groupama.com/file/design/gcom/images/contact-champcivilite.gif) no-repeat left top;}
#contact-formulaire fieldset .fauxSelect ul, #envoyer-formulaire fieldset .fauxSelect ul, #panier-compte-inscription fieldset .fauxSelect ul, #panier-telechargement-hd fieldset .fauxSelect ul, #mediatheque-telechargement-hd fieldset .fauxSelect ul, #abonnement-compte-inscription fieldset .fauxSelect ul{width: 54px;}
#rh-conteneur fieldset div.rh-champs div.faux-select-conteneur .fauxSelect, #rh-conteneur fieldset div.rh-champs div.faux-select-conteneur-petit .fauxSelect, #rh-conteneur fieldset div.rh-champs span.faux-select-conteneur-petit .fauxSelect, #contact-formulaire fieldset div#contact-activite-conteneur .fauxSelect, #contact-formulaire fieldset div#contact-theme-conteneur .fauxSelect{width: 255px; background: url(http://www.groupama.com/file/design/gcom/images/archives-champavance-bas.gif) no-repeat left bottom;}
#rh-conteneur fieldset div.rh-champs div.faux-select-conteneur .fauxSelect span{width: 255px; background: url(http://www.groupama.com/file/design/gcom/images/archives-champavance.gif) no-repeat left bottom; display: block; font-size: 0.6875em; line-height: 100%; padding: 3px 0 0 10px; cursor: pointer;}
#rh-conteneur fieldset div.rh-champs div.faux-select-conteneur-petit .fauxSelect span, #rh-conteneur fieldset div.rh-champs span.faux-select-conteneur-petit .fauxSelect span{width: 142px; background: url(http://www.groupama.com/file/design/gcom/images/panier-champactivite.gif) no-repeat left bottom; display: block; font-size: 0.6875em; line-height: 100%; padding: 3px 0 0 10px; cursor: pointer;}
#rh-conteneur fieldset div.rh-champs div.faux-select-conteneur-petit .fauxSelect, #rh-conteneur fieldset div.rh-champs span.faux-select-conteneur-petit .fauxSelect{width: 142px; background: url(http://www.groupama.com/file/design/gcom/images/panier-champactivite-bas.gif) no-repeat left bottom;}
#rh-conteneur fieldset div.rh-champs div.faux-select-conteneur .fauxSelect, #rh-conteneur fieldset div.rh-champs div.faux-select-conteneur-petit .fauxSelect, #rh-conteneur fieldset div.rh-champs span.faux-select-conteneur-petit .fauxSelect{padding-left:0pt; overflow:visible;}
#rh-conteneur fieldset div.rh-champs div.faux-select-conteneur {overflow:visible;}
#rh-conteneur fieldset div.rh-champs div.faux-select-conteneur-petit, #rh-conteneur fieldset div.rh-champs span.faux-select-conteneur-petit{width:500px; overflow:visible;}
#contact-formulaire fieldset div#contact-activite-conteneur .fauxSelect span, #contact-formulaire fieldset div#contact-theme-conteneur .fauxSelect span{background: url(http://www.groupama.com/file/design/gcom/images/archives-champavance.gif) no-repeat left top;}
#rh-conteneur fieldset div.rh-champs div.fauxSelect ul, #contact-formulaire fieldset div#contact-activite-conteneur .fauxSelect ul, #contact-formulaire fieldset div#contact-theme-conteneur .fauxSelect ul{width: 243px;}
#rh-conteneur fieldset div.rh-champs div.faux-select-conteneur-petit div.fauxSelect ul, #rh-conteneur fieldset div.rh-champs span.faux-select-conteneur-petit div.fauxSelect ul{width: 130px;}
#panier-compte-inscription fieldset div#panier-inscription-activite-conteneur .fauxSelect, #abonnement-compte-inscription fieldset div#abonnement-inscription-activite-conteneur .fauxSelect{width: 142px; background: url(http://www.groupama.com/file/design/gcom/images/panier-champactivite-bas.gif) no-repeat left bottom;}
#panier-compte-inscription fieldset div#panier-inscription-activite-conteneur .fauxSelect span, #abonnement-compte-inscription fieldset div#abonnement-inscription-activite-conteneur .fauxSelect span{background: url(http://www.groupama.com/file/design/gcom/images/panier-champactivite.gif) no-repeat left top;}
#panier-compte-inscription fieldset div#panier-inscription-activite-conteneur .fauxSelect ul, #abonnement-compte-inscription fieldset div#abonnement-inscription-activite-conteneur .fauxSelect ul{width: 130px;}

.js #rh-conteneur fieldset div.rh-champs div.faux-select-conteneur .fauxSelect ul, .js #rh-conteneur fieldset div.rh-champs div.faux-select-conteneur-petit .fauxSelect ul{height:90px!important;overflow-x:hidden;overflow-y:auto;}

/* ----------------------------- */
/* Panier */
/* ----------------------------- */
#intro-2-sous-sous-rubrique #intro-2-sous-sous-rubrique-texte.panier-intro{padding-top: 7px; min-height: 57px;}
#intro-2-sous-sous-rubrique #intro-2-sous-sous-rubrique-texte.panier-intro p.chapeau a{text-decoration: underline;}
#panier-compte{zoom: 1; overflow: hidden; margin-bottom: 38px;}
#panier-message-bienvenue{font-weight: bold; font-size: 0.875em; color: #555555; padding-left: 8px;}

/* panier : liste */
#panier-liste{background: url(documents-consultes.png) no-repeat left bottom; padding-bottom: 0.9em; overflow: hidden; position: relative;}
#panier-liste div#panier-liste-actions, #panier-liste div#panier-liste-telechargements, #panier-liste div#panier-liste-effacertelechargements{background: transparent url(http://www.groupama.com/file/design/gcom/images/panier-liste-haut.png) no-repeat; zoom: 1; overflow: hidden; color: #565656; width: 100%; padding-top: 12px; height: 23px; padding-bottom: 16px; float: none;}
#panier-liste div#panier-liste-telechargements, #panier-liste div#panier-liste-effacertelechargements{height: auto; padding-bottom: 11px; background: none;}
#panier-liste div#panier-liste-effacertelechargements{padding-top: 7px; padding-bottom: 0;}
#panier-liste div#panier-liste-actions div, #panier-liste div#panier-liste-telechargements div, #panier-liste div#panier-liste-effacertelechargements div{float: right; padding-right: 15px; zoom: 1; overflow: hidden;}
#panier-liste div#panier-liste-actions div img, #panier-liste div#panier-liste-telechargements div img{float: left; margin-left: 7px; display: inline;}
#panier-liste div#panier-liste-effacertelechargements div .panier-effacerdonnees{border: 0; background: none; padding: 0; margin: 0; width: 13px; height: 12px;}
#panier-liste div#panier-liste-effacertelechargements div label{position: static; left: 0; top: 0; font-size: 0.6875em;}
#panier-liste div#panier-liste-actions p{position: absolute; left: 9px; top: 17px; font-weight: bold;}
#panier-liste div#panier-liste-telechargements p{text-align: right; font-size: 0.625em; padding-top: 5px;}
#panier-liste table{border-collapse: collapse; table-layout: fixed; width: 531px; font-size: 0.6875em; margin-left: 9px; padding: 0 0;}
#panier-liste caption{text-indent: -1000em; line-height: 0; font-size: 0;}
#panier-liste table tr.panier-variation{background-color: #E9F2F1;}
#panier-liste table th, #panier-liste table td{display: table-cell; padding: 0; border: 1px solid #B1B1B1; line-height: 1.25em; padding-left: 10px; padding-right: 5px; border-right: 0;}
#panier-liste table th{color: #555555; text-align: left; border-top: 0; border-bottom: 0;}
#panier-liste table td{vertical-align: top; border-bottom: 0; padding-top: 5px; padding-bottom: 4px;}
#panier-liste table th.premiere, #panier-liste table td.premiere{width: 23px; border-left: 0; padding: 4px 0 0 8px;}
#panier-liste table th.date, #panier-liste table td.date{width: 54px;}
#panier-liste table th.numero, #panier-liste table td.numero{width: 0px; display: none;}
#panier-liste table th.document{width: 205px;}
#panier-liste table th.media{width: 92px;}
#panier-liste table th span{position: absolute; left: -9000em; top: 0;}
#panier-liste td.publication-jpg, #panier-liste td.publication-zip, #panier-liste td.publication-general, #panier-liste td.publication-pdf, #panier-liste td.publication-word, #panier-liste td.publication-xls, #panier-liste td.publication-ppt, #panier-liste td.publication-audio, #panier-liste td.publication-video{width: 205px; padding-left: 37px; background-position: 11px 2px;}
#panier-liste table td input{border: 0; background: none; padding: 0; margin: 0; width: 13px; height: 12px;}
#panier-liste table td label{position: static; left: 0; top: 0;}

/* panier : identification > Voir contact */
/* panier : inscription > Voir contact */
/* panier : haute definition > Voir contact */

/* ----------------------------- */
/* Mediatheque */
/* ----------------------------- */
/* mediatheque : liste images */
#mediatheque-liste a.mediatheque-liste-retour{background: url(http://www.groupama.com/file/design/gcom/images/mediatheque-bouton-retour.gif) no-repeat left 1px; color: #555555; font-size: 0.6875em; padding-left: 19px;}
#mediatheque-liste h2{font-weight: bold; font-size: 0.75em; line-height: 0.75em; margin-top: 19px; margin-bottom: 8px;}
ul#mediatheque-liste-images{display: block; border-bottom: 1px solid #B1B1B1; zoom: 1; overflow: hidden; margin: 28px 8px 0 9px; padding: 0;}
ul#mediatheque-liste-images li{float: left; padding: 0 10px 10px 0;}
ul#mediatheque-liste-images li.image-selectionnee{background: url(http://www.groupama.com/file/design/gcom/images/mediatheque-liste-fleche.gif) no-repeat 41px bottom;}
ul#mediatheque-liste-images li div{width: 88px; height: 88px; border: 1px solid #B1B1B1; background: #F6F6F6;}
ul#mediatheque-liste-images li.image-selectionnee div{background: #AAAAAA;}
ul#mediatheque-liste-images li div img, ul#mediatheque-liste-images li div span{width: 70px; height: 50px; display: block; margin: 19px 9px 0 9px;}
ul#mediatheque-liste-images li div.image-verticale img, ul#mediatheque-liste-images li div.image-verticale span{width: 50px; height: 70px; margin: 9px 19px 0 19px;}
ul#mediatheque-liste-images li div span, ul#mediatheque-liste-images li div.image-verticale span{font-size: 0.9em; height: auto; min-height: 8px; margin-top: 0; line-height: 0.8em; text-align: center; color: #FFFFFF; cursor: pointer; padding-top: 1px;}
ul#mediatheque-liste-images li div span{display: block; background: #565656;}
#mediatheque-liste div#mediatheque-focus{background: url(http://www.groupama.com/file/design/gcom/images/contact-formulaire.gif) no-repeat left bottom; zoom: 1; overflow: hidden; padding: 39px 0 17px 9px; margin: 0;}
#mediatheque-liste div#mediatheque-focus img.visuel{float: left; margin-right: 12px;}
#mediatheque-liste div#mediatheque-focus div{padding-right: 20px; zoom: 1; overflow: hidden;}
#mediatheque-liste div#mediatheque-focus h2{margin-top: 0;}
#mediatheque-liste div#mediatheque-focus h3{font-weight: bold; font-size: 0.6875em; margin-bottom: 0;}
#mediatheque-liste div#mediatheque-focus p{margin-bottom: 16px;}
#mediatheque-liste div#mediatheque-focus input.ajout-panier{margin-bottom: 24px;}
.js div.mediatheque-masque, .js div.mediatheque-masque .mediatheque-navigation, .js div.mediatheque-masque .mediatheque-contenu{position: absolute; left: -9000em; top: 0;}
#mediatheque-recherche{zoom: 1; overflow: hidden; width: 550px;}
#mediatheque-onglets ul{margin: 0; padding: 0; zoom: 1; overflow: hidden;}
#mediatheque-onglets ul li{float: left;}
#mediatheque-onglets ul li a{display: block; width: 130px; text-align: center; background: url(http://www.groupama.com/file/design/gcom/images/mediatheque-onglets.gif) repeat-x left top; border-right: 1px solid #C7DFDA; margin-right: 1px; line-height: 120%; padding: 8px 0 9px;}
#mediatheque-onglets ul li a.premier{width: 140px; background: url(http://www.groupama.com/file/design/gcom/images/mediatheque-onglets-premier.gif) repeat-x left top;}
#mediatheque-onglets ul li a.dernier{width: 144px; background: url(http://www.groupama.com/file/design/gcom/images/mediatheque-onglets-dernier.gif) repeat-x left top; border-right: 0; margin-right: 0;}
#mediatheque-onglets ul li.mediatheque-actuel a{color: #006E58; background: url(http://www.groupama.com/file/design/gcom/images/mediatheque-onglets-on.gif) repeat-x left top; text-decoration: underline;}
#mediatheque-onglets ul li.mediatheque-actuel a.premier{background: url(http://www.groupama.com/file/design/gcom/images/mediatheque-onglets-premier-on.gif) repeat-x left top;}
#mediatheque-onglets ul li.mediatheque-actuel a.dernier{background: url(http://www.groupama.com/file/design/gcom/images/mediatheque-onglets-dernier-on.gif) repeat-x left top;}
.mediatheque-contenu div ul#mediatheque-liste-images{border-bottom: 0; margin: 3px 0 0;}
.mediatheque-contenu div ul#mediatheque-liste-images li{padding-bottom: 1px;}
.mediatheque-contenu div ul#mediatheque-liste-images li div{padding-top: 0;}

.texte-extrait-article-sous-sous-rubrique ul li{list-style-type:disc}
/* mediatheque : recherche > voir archives */
/* mediatheque : navigation > voir archives */
.fakeLongInput{background:#D4E3E3 url(http://www.groupama.com/file/design/gcom/images/contact-champmail-notransp.gif) no-repeat; width: 444px; height:20px; margin-right:0;}
.fakeShortInput{background:#D4E3E3 url(http://www.groupama.com/file/design/gcom/images/contact-champnom-notransp.gif) no-repeat; width: 169px; height:20px;}
.fakeMediumInput{background:#D4E3E3 url(http://www.groupama.com/file/design/gcom/images/archives-champmotcle-notransp.gif) no-repeat; width: 255px; height:20px;}
.fakeVerysmallInput{background:#D4E3E3 url(http://www.groupama.com/file/design/gcom/images/verysmallinput.gif) no-repeat; width: 159px; height:20px;}

/* ----------------------------- */
/* Carto */
/* ----------------------------- */

#conteneur-contenu-carto{width:100%; display: block;float: left; margin-left: 5px; margin-right: 5px;}
#bloc-principal-carto{width: 780px; display: block; float: left; padding 0px; margin: 0px; min-height: 10px;}

/* Pour les onglets */
#carto-onglets{background: transparent url(http://www.groupama.com/file/design/gcom/images/carto-fond-onglets.png) no-repeat; height: 50px;}
#carto-onglets.carto-sansonglets{background: transparent url(http://www.groupama.com/file/design/gcom/images/carto-fond-recherche-top.png) no-repeat left bottom; height: 10px;}
#carto-onglets ul{clear: both; height: 50px; margin: 0;  zoom: 1; overflow: hidden; padding-left: 10px;  padding-right: 10px;}
#carto-onglets ul li{float: left; width:335px; height: 40px; margin-top:10px; padding: 0; vertical-align: bottom;}
#carto-onglets ul li a{font-size:1.25em; float: left; width: 310px; text-align: center; line-height: 120%; margin:6px 10px; padding-left:5px; padding-right:5px;}
#carto-onglets ul li.carto-actuel{background: transparent url(http://www.groupama.com/file/design/gcom/images/carto-fond-onglets-on.png) no-repeat left top; }
#carto-onglets li.carto-separateur{background: transparent url(http://www.groupama.com/file/design/gcom/images/carto-onglets-separateur.png) no-repeat center center; width: 1px; padding-left: 30px; padding-right: 30px; }

/* Pour la recherche */
#carto-recherche, #carto-index-ville, #carto-onglets {width: 770px;}
#carto-recherche #carto-flash, #carto-recherche #carto-selection {width: 740px;}
#carto-recherche{max-height: 650px; background: transparent url(http://www.groupama.com/file/design/gcom/images/carto-fond-recherche.png) no-repeat left bottom;}
#carto-recherche, #carto-flash {padding: 0 10px 10px 10px;}
#carto-flash {text-align: center;}
#carto-recherche  #carto-selection{height: 130px; background: transparent url(http://www.groupama.com/file/design/gcom/images/carto-fond-criteres.png) no-repeat left top; position:relative; left: 5px; top:15px; padding: 10px 5px 5px 10px;}
#carto-recherche .carto-selection .carto-selection-entete {margin-bottom: 10px; display: block;}
#carto-recherche .carto-selection .carto-selection-contenu {margin-left: 20px;}
#carto-recherche .carto-selection div.carto-blocdepartement,
#carto-recherche .carto-selection div.carto-blocville,
#carto-recherche .carto-selection div.carto-blocpostal{width: 210px; height: 60px; margin-right:20px; float: left; z-index:2;}
#carto-recherche .carto-selection div.carto-separateur{background: transparent url(http://www.groupama.com/file/design/gcom/images/carto-separateur-large.png) no-repeat right bottom;}
#carto-recherche .carto-selection div.carto-blocdepartement div,
#carto-recherche .carto-selection div.carto-blocville div,
#carto-recherche .carto-selection div.carto-blocpostal div {float: left;}
#carto-recherche .carto-selection div.carto-blocdepartement div.carto-separateur,
#carto-recherche .carto-selection div.carto-blocville div.carto-separateur,
#carto-recherche .carto-selection div.carto-blocpostal div.carto-separateur {float: left;}
#carto-recherche .carto-selection .carto-selection-entete fieldset legend, 
#carto-recherche .carto-selection .carto-selection-contenu .carto-blocdepartement fieldset legend, 
#carto-recherche .carto-selection .carto-selection-contenu .carto-blocville fieldset legend,
#carto-recherche .carto-selection .carto-selection-contenu .carto-blocpostal fieldset legend {font-size:0.75em; font-weight:normal; color:black; left: -10px; position: relative;}
#carto-recherche input{font-size: 0.625em; border: none; background:transparent;} 
#carto-recherche div.fakeVerysmallInput input{width: 150px; height: 17px; margin: 0; padding: 2px 5px 4px 4px;}
#carto-recherche #carto-selection input.bouton-image{float: left; margin-left: 6px;}
#carto-recherche #carto-flash {z-index:1;}
/*#carto-recherche #carto-flash object{width: 700px; height: 300px;}*/

/* Carto : Faux Select */
.js #carto-recherche fieldset select{position: absolute; left: -9000em; top: 0;}
.js #carto-recherche .fauxSelect{display: block; position: relative; float: left; color: #0E6E59; margin-right: 0;}
#carto-recherche .carto-selection .carto-blocdepartement fieldset div.carto-departement div{width: 135px; background: url(faux-select-int.png) no-repeat left bottom;}
#carto-recherche .carto-selection .carto-blocdepartement fieldset div.carto-departement div span{background: url(faux-select-haut-int.png) no-repeat left top;}
#carto-recherche .carto-selection .carto-blocdepartement fieldset div.carto-departement div ul{white-space:nowrap;}
#carto-recherche .carto-selection fieldset .fauxSelect span{display: block; font-size: 0.6875em; line-height: 100%; padding: 5px 0 4px 10px; cursor: pointer;}
#carto-recherche .carto-selection fieldset div.opened ul{visibility: visible;}
#carto-recherche .carto-selection fieldset div.closed ul{visibility: hidden;}
#carto-recherche .carto-selection fieldset .fauxSelect ul.scrolling{height: 250px; overflow: auto; overflow-x: hidden;}
#carto-recherche .carto-selection fieldset .fauxSelect ul{background: #FFFFFF; margin: 0; padding: 0; border: 1px solid #0E6E59; border-top: 0; position: absolute; top: 1.7em; left: 5px;}
#carto-recherche .carto-selection fieldset .fauxSelect ul li{line-height: 100%; padding: 3px 5px; cursor: pointer; display: block;}
 
/** Carto : index des villes */
#carto-index-ville{background: transparent url(http://www.groupama.com/file/design/gcom/images/carto-fond-recherche-bord.png) repeat-y left 0px; padding-bottom:10px; padding-top:10px; z-index: 1;}
#carto-index-ville-fin{background: transparent url(http://www.groupama.com/file/design/gcom/images/carto-fond-recherche.png) no-repeat left bottom; height:10px; z-index: 2;}
#carto-index-ville #carto-recherche-navigation {background:transparent url(intro-lexique.gif) no-repeat scroll left bottom; margin-left: 20px;}
#carto-index-ville #carto-recherche-navigation .chapeau{font-weight: bold; font-size:0.75em; padding-bottom: 10px;}
#carto-index-ville #carto-recherche-navigation ul{margin: 0; padding: 0; zoom: 1; overflow: hidden;}
#carto-index-ville #carto-recherche-navigation ul li{float: left; width: 1.8em; height: 2.0em; line-height: 1.8em;}
#carto-index-ville #carto-recherche-navigation ul li a, 
#carto-index-ville #carto-recherche-navigation ul li span, 
#carto-index-ville #carto-recherche-navigation ul li strong{display: block; background: #444344 url(lexique-lettres.gif) repeat-x left top; text-align: center; color: #fff; border: 1px solid #D2D1D1; border-left: 0;}
#carto-index-ville #carto-recherche-navigation ul li strong{background: #0A5243 url(lexique-lettres-on.gif) repeat-x left top;}
#carto-index-ville #carto-recherche-navigation ul li span{background: #E5E5E5; color: #000000;}
#carto-index-ville #carto-recherche-navigation ul li.premier a{background: #444344 url(lexique-lettres-premier.gif) no-repeat left top; border: 0; border-right: 1px solid #D2D1D1; padding: 1px 0;}
#carto-index-ville #carto-recherche-navigation ul li.premier strong{background: #0A5243 url(lexique-lettres-premier-on.gif) no-repeat left top; border: 0; border-right: 1px solid #D2D1D1; padding-top: 1px;}
#carto-index-ville #carto-recherche-navigation ul li.premier span{background: #E5E5E5 url(lexique-lettres-premier-off.gif) no-repeat left top; border: 0; padding: 1px 0;}
#carto-index-ville #carto-recherche-navigation ul li.dernier a{background: #444344 url(lexique-lettres-dernier.gif) no-repeat right top; border: 0; padding: 1px 0;}
#carto-index-ville #carto-recherche-navigation ul li.dernier strong{background: #0A5243 url(lexique-lettres-dernier-on.gif) no-repeat right top; border: 0; padding-top: 1px;}
#carto-index-ville #carto-recherche-navigation ul li.dernier span{background: #E5E5E5 url(lexique-lettres-dernier-off.gif) no-repeat right top; border: 0; padding: 1px 0;}
#carto-index-ville #carto-recherche-result{background-image: none; margin-top: 10px; margin-left: 20px; padding-bottom:10px; display: block; overflow:hidden; } /* max-height: 400px;  overflow-x: hidden; overflow-y: auto; overflow : -moz-scrollbars-vertical;*/
#carto-index-ville #carto-recherche-result ul{padding:0; margin:0;}
#carto-index-ville #carto-recherche-result li{line-height: 1.375em; background: url(fleche-verte.png) no-repeat 0 4px; padding: 0 0 0 0.5em; float: left; width: 220px; margin-left: 10px; margin-top: 5px;}
#carto-index-ville #carto-recherche-result ul li a{font-size: 1.1em;}

/** Carto : liste */

/** Carto : detail */
