/* ***************************************************** */
/* ************************ COLOR ********************** */
/*
gamme 1 : #19744B
gamme 2 : #e75012
gamme 3 : #12959a 
gamme 4 : #1d5a9f
gamme 5 : #759937
gamme 6 : #e4a545
gamme 7 : #7459a6
gamme 8 : #ca1010
*/
/* ***************************************************** */

/***********************************
* ************ GAMME 1 *************
***********************************/
.gamme-1 h1 {color: #19744B;}
.gamme-1 h2 {color: #19744B;}
.gamme-1 h3 {background-image:url("carre_gamme_1.gif"); background-repeat:no-repeat; background-position:0px 5px; padding: 0 0 0 10px;}
/* ******************************** */
.gamme-1 .lire_suite { color:#6f6d67; background-image:url("fleche_gamme_1.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
*html .gamme-1 .lire_suite{ padding-left: 10px; }
.gamme-1 li {background-image:url("fleche_gamme_1.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
.gamme-1 .color-gamme-focus {font-weight:bold; color:#19744B;}
.gamme-1 .color-gamme-bold { color:#19744B;}
/* HP */
.gamme-1 .focus_type_hp .titre {color:#19744B; font-weight:bold; background-image:url("rond_gamme_1.gif"); background-repeat:no-repeat; background-position:0px 4px; padding-left:8px; margin-bottom:20px; margin-left:0px;}
.gamme-1 .focus_type_hp .date{color:#19744B; font-weight:bold;}
.gamme-1 .focus_type_hp .titre-color{color:#19744B; font-weight:bold; display:block; padding:0 0 5px 0;}
/* TITRE FLASH */
.gamme-1 .titre_flash {color:#19744B;}
.gamme-1 #titre_page {color:#19744B;}

/* TITRE MENU */
.gamme-1 #menugauche-bgr-titre {color:#19744B;}
/* LIENS */
.gamme-1 .col-centre-contenu a {color:#19744B;}
/* COMMUNIQUES */
.gamme-1 #communiques-HP a.comm{color:#19744B;}
/* AGENDA */
.gamme-1 #agenda-HP .date{color:#19744B; font-weight:bold;}
.gamme-1 #agenda-HP li {background-image:url("rond_gamme_1.gif"); background-repeat:no-repeat; background-position:0px 7px; padding-left:8px; margin-bottom:20px; margin-left:0px;}
/* OFFRES */
.gamme-1 #offres-HP li {background-image:url("rond_gamme_1.gif"); background-repeat:no-repeat; background-position:0px 4px; padding-left:8px;}
/*MENU */
.gamme-1 #col-gauche .menugauche_focus .menugauche-top {background-image:url("http://www.bouygues.com/cms/bouygues/css/gammes/menu/top_gamme_1.gif"); background-repeat:no-repeat; background-position:top left;}
.gamme-1 #col-gauche .menugauche_focus .menugauche-center {background-image:url("http://www.bouygues.com/cms/bouygues/css/gammes/menu/bottom_gamme_1.gif"); background-repeat:no-repeat; background-position:top left;}
/* niveau 1 */
.gamme-1 #col-gauche .menugauche-n-1 a:hover{background-image:url("large_fleche_gamme_1.gif"); background-repeat:no-repeat; background-position:0px 6px;}
.gamme-1 #col-gauche .menugauche-n-1-current a{background-image:url("large_fleche_gamme_1.gif"); background-repeat:no-repeat; background-position:0px 6px;}
/* FOCUS GAUCHE */
.gamme-1 #col-gauche .savoirplus li{background-image:url("big_fleche_gamme_1.gif"); background-repeat:no-repeat; background-position:0 4px; width: 100px;}
/* FOCUS MODELE TEMPLATE TWO */
.gamme-1 #col-droite table.focus_modele_template_two .titre {color: #19744B;}
.gamme-1 #col-droite table.focus_modele_template_two li {background-image:url("big_fleche_gamme_1.gif"); background-repeat:no-repeat; background-position:0 6px;}
/* FOCUS MODELE TEMPLATE ONE */
.gamme-1 table.focus_modele_template_one .top .titre_focus {color: #19744B;}
/* FOCUS GAUCHE */
.gamme-1 #col-gauche .savoirplus .savoirplus_top {color: #19744B;}
/* MODULE */
/* AGENDA */
.gamme-1 #agenda_page .date {background-image:url("carre_gamme_1.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#19744B;}
/* COMMUNIQUES PAGE */
.gamme-1 #communique_page .details{background-image:url("fleche_gamme_1.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
.gamme-1 #communique_page .date_annee_current {color:#19744B; }
.gamme-1 #communique_page .date {background-image:url("carre_gamme_1.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#19744B;}
/* CONTACT */
.gamme-1 #contact a{color: #19744B;}
.gamme-1 #contact_second {color: #19744B;}
.gamme-1 #contact_second a{color: #19744B;}
/* REJOINDRE */
.gamme-1 #rejoindre a{color: #19744B;}
/* POSTULER EN LIGNE */
.gamme-1 #postuler_ligne .bottom_left, .gamme-1 #postuler_ligne .bottom_left a {color: #19744B;}
/* RECHERCHE */
.gamme-1 #recherche a.recherche_liens {color: #19744B;}
/* PAGINATION */
.gamme-1 #pagination a.pagination_selected, .gamme-1 #pagination a:hover {color: #19744B;}
.gamme-1 #pagination a.pagination_selected {text-decoration: underline;}
/* FAQ */
.gamme-1 #faq .qr-item-selected .qr-q  {background-image:url("triangle_open_gamme_1.gif"); background-repeat:no-repeat; color:#19744B; }
.gamme-1 #faq .qr-item-selected .qr-r {border-bottom:1px solid #19744B;}
.gamme-1 #faq .qr-item-not-selected .qr-q {background-image:url("triangle_gamme_1.gif"); background-repeat:no-repeat; }
/* LIGNE DU TEMPS */
.gamme-1 #ligne_temps .date_annee_current {color:#19744B; }
.gamme-1 #ligne_temps .date {background-image:url("carre_gamme_1.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#19744B;}
.gamme-1 #ligne_temps li.current_first {background-image:url("left_gamme_1.gif"); background-repeat:repeat-x; background-position:top left;}
.gamme-1 #ligne_temps li.current{background-image:url("repeat_gamme_1.gif"); background-repeat:repeat-x; background-position:top left; }
.gamme-1 #ligne_temps li.current_end {background-image:url("right_gamme_1.gif"); background-repeat:repeat-x; background-position:top left;}
.gamme-1 #ligne_temps .clear {border-bottom:0px;}
/* PUBLICATIONS */
.gamme-1 #publication_page .detail .titre{background-image:url("carre_gamme_1.gif"); background-repeat:no-repeat; background-position:0px 5px;}
.gamme-1 #publication_page .detail li {background-image:url("raquo_gamme_1.gif"); background-repeat:no-repeat; background-position:0px 7px;}
.gamme-1 #publication_page .detail li a{color:#19744B;}
/* OFFRES */
.gamme-1 #offres table.tableau_offre tr.niveau_2 {background-color: #f0edf5;}
.gamme-1 #offres table.tableau_offre_gamme_1 th{background-color: #19744B;}
.gamme-1 #offres table.tableau_offre_gamme_1 td.first {color:#19744B;}
/* PRESENTATION DES COMPTES */
.gamme-1 #compte_presentation table.tableau_offre_gamme_1 th{background-color: #19744B;}
.gamme-1 #compte_presentation table.tableau_offre_gamme_1 td.first {color:#19744B;}
.gamme-1 #compte_presentation table.tableau_offre_gamme_1 tr.border td {border-top:1px solid #19744B;}
/* CARRE REMPLACEMENT FLASH HP */
.gamme-1 #navigation_carre li {background-image:url("carre_gamme_1.gif"); background-repeat:no-repeat; background-position:0px 5px;}
.gamme-1 #navigation_carre li a{background-image:url("fleche_gamme_1.gif"); background-repeat:no-repeat; background-position:0px 5px; color: #19744B;}

/***********************************
************** GAMME 2 *************
***********************************/
.gamme-2 h1 {color: #e75012;}
.gamme-2 h2 {color: #e75012;}
.gamme-2 h3 {background-image:url("carre_gamme_2.gif"); background-repeat:no-repeat; background-position:0px 5px; padding: 0 0 0 10px;}
/* ******************************** */
.gamme-2 .lire_suite { color:#6f6d67; background-image:url("fleche_gamme_2.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
*html .gamme-2 .lire_suite{ padding-left: 10px; }
.gamme-2 ul li {background-image:url("fleche_gamme_2.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
.gamme-2 .color-gamme-focus {font-weight:bold; color:#e75012;}
.gamme-2 .color-gamme-bold { color:#e75012;}
/* HP */
.gamme-2 .focus_type_hp .titre {color:#e75012; font-weight:bold; background-image:url("rond_gamme_2.gif"); background-repeat:no-repeat; background-position:0px 4px; padding-left:8px; margin-bottom:20px; margin-left:0px;}
.gamme-2 .focus_type_hp .date{color:#e75012; font-weight:bold;}
.gamme-2 .focus_type_hp .titre-color{color:#e75012; font-weight:bold; display:block; padding:0 0 5px 0;}
/* TITRE FLASH */
.gamme-2 .titre_flash {color:#e75012;}
.gamme-2 #titre_page {color:#e75012;}
/* TITRE MENU */
.gamme-2 #menugauche-bgr-titre {color:#e75012;}
/* LIENS */
.gamme-2 .col-centre-contenu a {color:#e75012;}
/* COMMUNIQUES */
.gamme-2 #communiques-HP a.comm{color:#e75012;}
/* AGENDA */
.gamme-2 #agenda-HP .date{color:#e75012; font-weight:bold;}
.gamme-2 #agenda-HP li {background-image:url("rond_gamme_2.gif"); background-repeat:no-repeat; background-position:0px 7px; padding-left:8px; margin-bottom:20px; margin-left:0px;}
/* OFFRES */
.gamme-2 #offres-HP li {background-image:url("rond_gamme_2.gif"); background-repeat:no-repeat; background-position:0px 4px; padding-left:8px;}
/*MENU */
.gamme-2 #col-gauche .menugauche_focus .menugauche-top {background-image:url("http://www.bouygues.com/cms/bouygues/css/gammes/menu/top_gamme_2.gif"); background-repeat:no-repeat; background-position:top left;}
.gamme-2 #col-gauche .menugauche_focus .menugauche-center {background-image:url("http://www.bouygues.com/cms/bouygues/css/gammes/menu/bottom_gamme_2.gif"); background-repeat:no-repeat; background-position:top left;}
/* niveau 1 */
.gamme-2 #col-gauche .menugauche-n-1 a:hover{background-image:url("large_fleche_gamme_2.gif"); background-repeat:no-repeat; background-position:0px 6px;}
.gamme-2 #col-gauche .menugauche-n-1-current a{background-image:url("large_fleche_gamme_2.gif"); background-repeat:no-repeat; background-position:0px 6px;}
/* FOCUS GAUCHE */
.gamme-2 #col-gauche .savoirplus li{background-image:url("big_fleche_gamme_2.gif"); background-repeat:no-repeat; background-position:0 4px; width: 100px;}
/* FOCUS MODELE TEMPLATE TWO */
.gamme-2 #col-droite table.focus_modele_template_two .titre {color: #e75012;}
.gamme-2 #col-droite table.focus_modele_template_two li {background-image:url("big_fleche_gamme_2.gif"); background-repeat:no-repeat; background-position:0 6px;}
/* FOCUS MODELE TEMPLATE ONE */
.gamme-2 table.focus_modele_template_one .top .titre_focus {color: #e75012;}
/* FOCUS GAUCHE */
.gamme-2 #col-gauche .savoirplus .savoirplus_top {color: #e75012;}
/* MODULE */
/* AGENDA */
.gamme-2 #agenda_page .date {background-image:url("carre_gamme_2.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#e75012;}
/* COMMUNIQUES PAGE */
.gamme-2 #communique_page .details{background-image:url("fleche_gamme_2.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
.gamme-2 #communique_page .date_annee_current {color:#e75012; }
.gamme-2 #communique_page .date {background-image:url("carre_gamme_2.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#e75012;}
/* CONTACT */
.gamme-2 #contact a{color: #e75012;}
.gamme-2 #contact_second {color: #e75012;}
.gamme-2 #contact_second a{color: #e75012;}
/* REJOINDRE */
.gamme-2 #rejoindre a{color: #e75012;}
/* POSTULER EN LIGNE */
.gamme-2 #postuler_ligne .bottom_left, .gamme-2 #postuler_ligne .bottom_left a {color: #e75012;}
/* RECHERCHE */
.gamme-2 #recherche a.recherche_liens {color: #e75012;}
/* PAGINATION */
.gamme-2 #pagination a.pagination_selected, .gamme-2 #pagination a:hover {color: #e75012;}
.gamme-2 #pagination a.pagination_selected {text-decoration: underline;}
/* FAQ */
.gamme-2 #faq .qr-item-selected .qr-q  {background-image:url("triangle_open_gamme_2.gif"); background-repeat:no-repeat; color:#e75012; }
.gamme-2 #faq .qr-item-selected .qr-r {border-bottom:1px solid #e75012;}
.gamme-2 #faq .qr-item-not-selected .qr-q {background-image:url("triangle_gamme_2.gif"); background-repeat:no-repeat; }
/* LIGNE DU TEMPS */
.gamme-2 #ligne_temps .date_annee_current {color:#e75012; }
.gamme-2 #ligne_temps .date {background-image:url("carre_gamme_2.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#e75012;}
.gamme-2 #ligne_temps li.current_first {background-image:url("left_gamme_2.gif"); background-repeat:repeat-x; background-position:top left;}
.gamme-2 #ligne_temps li.current{background-image:url("repeat_gamme_2.gif"); background-repeat:repeat-x; background-position:top left; }
.gamme-2 #ligne_temps li.current_end {background-image:url("right_gamme_2.gif"); background-repeat:repeat-x; background-position:top left;}
.gamme-2 #ligne_temps .clear {border-bottom:0px;}
/* PUBLICATIONS */
.gamme-2 #publication_page .detail .titre{background-image:url("carre_gamme_2.gif"); background-repeat:no-repeat; background-position:0px 5px;}
.gamme-2 #publication_page .detail li {background-image:url("raquo_gamme_2.gif"); background-repeat:no-repeat; background-position:0px 7px;}
.gamme-2 #publication_page .detail li a{color:#e75012;}
/* OFFRES */
.gamme-2 #offres table.tableau_offre tr.niveau_2 {background-color: #f0edf5;}
.gamme-2 #offres table.tableau_offre_gamme_2 th{background-color: #e75012;}
.gamme-2 #offres table.tableau_offre_gamme_2 td.first {color:#e75012;}
/* PRESENTATION DES COMPTES */
.gamme-2 #compte_presentation table.tableau_offre_gamme_2 th{background-color: #e75012;}
.gamme-2 #compte_presentation table.tableau_offre_gamme_2 td.first {color:#e75012;}
.gamme-2 #compte_presentation table.tableau_offre_gamme_2 tr.border td {border-top:1px solid #e75012;}
/* CARRE REMPLACEMENT FLASH HP */
.gamme-2 #navigation_carre li {background-image:url("carre_gamme_2.gif"); background-repeat:no-repeat; background-position:0px 5px;}
.gamme-2 #navigation_carre li a {background-image:url("fleche_gamme_2.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#e75012;}

/***********************************
************** GAMME 3 *************
***********************************/
.gamme-3 h1 {color: #12959a;}
.gamme-3 h2 {color: #12959a;}
.gamme-3 h3 {background-image:url("carre_gamme_3.gif"); background-repeat:no-repeat; background-position:0px 5px; padding: 0 0 0 10px;}
/* ******************************** */
.gamme-3 .lire_suite { color:#6f6d67; background-image:url("fleche_gamme_3.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
*html .gamme-3 .lire_suite{ padding-left: 10px; }
.gamme-3 li {background-image:url("fleche_gamme_3.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
.gamme-3 .color-gamme-focus {font-weight:bold; color:#12959a;}
.gamme-3 .color-gamme-bold { color:#12959a;}
/* HP */
.gamme-3 .focus_type_hp .titre {color:#12959a; font-weight:bold; background-image:url("rond_gamme_3.gif"); background-repeat:no-repeat; background-position:0px 4px; padding-left:8px; margin-bottom:20px; margin-left:0px;}
.gamme-3 .focus_type_hp .date{color:#12959a; font-weight:bold;}
.gamme-3 .focus_type_hp .titre-color{color:#12959a; font-weight:bold; display:block; padding:0 0 5px 0;}
/* TITRE FLASH */
.gamme-3 .titre_flash {color:#12959a;}
.gamme-3 #titre_page {color:#12959a;}
/* TITRE MENU */
.gamme-3 #menugauche-bgr-titre {color:#12959a;}
/* LIENS */
.gamme-3 .col-centre-contenu a {color:#12959a;}
/* COMMUNIQUES */
.gamme-3 #communiques-HP a.comm{color:#12959a;}
/* AGENDA */
.gamme-3 #agenda-HP .date{color:#12959a; font-weight:bold;}
.gamme-3 #agenda-HP li {background-image:url("rond_gamme_3.gif"); background-repeat:no-repeat; background-position:0px 7px; padding-left:8px; margin-bottom:20px; margin-left:0px;}
/* OFFRES */
.gamme-3 #offres-HP li {background-image:url("rond_gamme_3.gif"); background-repeat:no-repeat; background-position:0px 4px; padding-left:8px;}
/*MENU */
.gamme-3 #col-gauche .menugauche_focus .menugauche-top {background-image:url("http://www.bouygues.com/cms/bouygues/css/gammes/menu/top_gamme_3.gif"); background-repeat:no-repeat; background-position:top left;}
.gamme-3 #col-gauche .menugauche_focus .menugauche-center {background-image:url("http://www.bouygues.com/cms/bouygues/css/gammes/menu/bottom_gamme_3.gif"); background-repeat:no-repeat; background-position:top left;}
/* niveau 1 */
.gamme-3 #col-gauche .menugauche-n-1 a:hover{background-image:url("large_fleche_gamme_3.gif"); background-repeat:no-repeat; background-position:0px 6px;}
.gamme-3 #col-gauche .menugauche-n-1-current a{background-image:url("large_fleche_gamme_3.gif"); background-repeat:no-repeat; background-position:0px 6px;}
/* FOCUS GAUCHE */
.gamme-3 #col-gauche .savoirplus li{background-image:url("big_fleche_gamme_3.gif"); background-repeat:no-repeat; background-position:0 4px; width: 100px;}
/* FOCUS MODELE TEMPLATE TWO */
.gamme-3 #col-droite table.focus_modele_template_two .titre {color: #12959a;}
.gamme-3 #col-droite table.focus_modele_template_two li {background-image:url("big_fleche_gamme_3.gif"); background-repeat:no-repeat; background-position:0 6px;}
/* FOCUS MODELE TEMPLATE ONE */
.gamme-3 table.focus_modele_template_one .top .titre_focus {color: #12959a;}
/* FOCUS GAUCHE */
.gamme-3 #col-gauche .savoirplus .savoirplus_top {color: #12959a;}
/* MODULE */
/* AGENDA */
.gamme-3 #agenda_page .date {background-image:url("carre_gamme_3.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#12959a;}
/* COMMUNIQUES PAGE */
.gamme-3 #communique_page .details{background-image:url("fleche_gamme_3.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
.gamme-3 #communique_page .date_annee_current {color:#12959a; }
.gamme-3 #communique_page .date {background-image:url("carre_gamme_3.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#12959a;}
/* CONTACT */
.gamme-3 #contact a{color: #12959a;}
.gamme-3 #contact_second {color: #12959a;}
.gamme-3 #contact_second a{color: #12959a;}
/* REJOINDRE */
.gamme-3 #rejoindre a{color: #12959a;}
/* POSTULER EN LIGNE */
.gamme-3 #postuler_ligne .bottom_left, .gamme-3 #postuler_ligne .bottom_left a {color: #12959a;}
/* RECHERCHE */
.gamme-3 #recherche a.recherche_liens {color: #12959a;}
/* PAGINATION */
.gamme-3 #pagination a.pagination_selected, .gamme-3 #pagination a:hover {color: #12959a;}
.gamme-3 #pagination a.pagination_selected {text-decoration: underline;}
/* FAQ */
.gamme-3 #faq .qr-item-selected .qr-q  {background-image:url("triangle_open_gamme_3.gif"); background-repeat:no-repeat; color:#12959a; }
.gamme-3 #faq .qr-item-selected .qr-r {border-bottom:1px solid #12959a;}
.gamme-3 #faq .qr-item-not-selected .qr-q {background-image:url("triangle_gamme_3.gif"); background-repeat:no-repeat; }
/* LIGNE DU TEMPS */
.gamme-3 #ligne_temps .date_annee_current {color:#12959a; }
.gamme-3 #ligne_temps .date {background-image:url("carre_gamme_3.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#12959a;}
.gamme-3 #ligne_temps li.current_first {background-image:url("left_gamme_3.gif"); background-repeat:repeat-x; background-position:top left;}
.gamme-3 #ligne_temps li.current{background-image:url("repeat_gamme_3.gif"); background-repeat:repeat-x; background-position:top left; }
.gamme-3 #ligne_temps li.current_end {background-image:url("right_gamme_3.gif"); background-repeat:repeat-x; background-position:top left;}
.gamme-3 #ligne_temps .clear {border-bottom:0px;}
/* PUBLICATIONS */
.gamme-3 #publication_page .detail .titre{background-image:url("carre_gamme_3.gif"); background-repeat:no-repeat; background-position:0px 5px;}
.gamme-3 #publication_page .detail li {background-image:url("raquo_gamme_3.gif"); background-repeat:no-repeat; background-position:0px 7px;}
.gamme-3 #publication_page .detail li a{color:#12959a;}
/* OFFRES */
.gamme-3 #offres table.tableau_offre tr.niveau_2 {background-color: #f0edf5;}
.gamme-3 #offres table.tableau_offre_gamme_3 th{background-color: #12959a;}
.gamme-3 #offres table.tableau_offre_gamme_3 td.first {color:#12959a;}
/* PRESENTATION DES COMPTES */
.gamme-3 #compte_presentation table.tableau_offre_gamme_3 th{background-color: #12959a;}
.gamme-3 #compte_presentation table.tableau_offre_gamme_3 td.first {color:#12959a;}
.gamme-3 #compte_presentation table.tableau_offre_gamme_3 tr.border td {border-top:1px solid #12959a;}
/* CARRE REMPLACEMENT FLASH HP */
.gamme-3 #navigation_carre li {background-image:url("carre_gamme_3.gif"); background-repeat:no-repeat; background-position:0px 5px;}
.gamme-3 #navigation_carre li a{background-image:url("fleche_gamme_3.gif"); background-repeat:no-repeat; background-position:0px 5px; color: #12959a;}

/***********************************
************** GAMME 4 *************
***********************************/
.gamme-4 h1 {color: #1d5a9f;}
.gamme-4 h2 {color: #1d5a9f;}
.gamme-4 h3 {background-image:url("carre_gamme_4.gif"); background-repeat:no-repeat; background-position:0px 5px; padding: 0 0 0 10px;}
/* ******************************** */
.gamme-4 .lire_suite { color:#6f6d67; background-image:url("fleche_gamme_4.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
*html .gamme-4 .lire_suite{ padding-left: 10px; }
.gamme-4 li {background-image:url("fleche_gamme_4.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
.gamme-4 .color-gamme-focus {font-weight:bold; color:#1d5a9f;}
.gamme-4 .color-gamme-bold { color:#1d5a9f;}
/* HP */
.gamme-4 .focus_type_hp .titre {color:#1d5a9f; font-weight:bold; background-image:url("rond_gamme_4.gif"); background-repeat:no-repeat; background-position:0px 4px; padding-left:8px; margin-bottom:20px; margin-left:0px;}
.gamme-4 .focus_type_hp .date{color:#1d5a9f; font-weight:bold;}
.gamme-4 .focus_type_hp .titre-color{color:#1d5a9f; font-weight:bold; display:block; padding:0 0 5px 0;}
/* TITRE FLASH */
.gamme-4 .titre_flash {color:#1d5a9f;}
.gamme-4 #titre_page {color:#1d5a9f;}
/* TITRE MENU */
.gamme-4 #menugauche-bgr-titre {color:#1d5a9f;}
/* LIENS */
.gamme-4 .col-centre-contenu a {color:#1d5a9f;}
/* COMMUNIQUES */
.gamme-4 #communiques-HP a.comm{color:#1d5a9f;}
/* AGENDA */
.gamme-4 #agenda-HP .date{color:#1d5a9f; font-weight:bold;}
.gamme-4 #agenda-HP li {background-image:url("rond_gamme_4.gif"); background-repeat:no-repeat; background-position:0px 7px; padding-left:8px; margin-bottom:20px; margin-left:0px;}
/* OFFRES */
.gamme-4 #offres-HP li {background-image:url("rond_gamme_4.gif"); background-repeat:no-repeat; background-position:0px 4px; padding-left:8px;}
/*MENU */
.gamme-4 #col-gauche .menugauche_focus .menugauche-top {background-image:url("http://www.bouygues.com/cms/bouygues/css/gammes/menu/top_gamme_4.gif"); background-repeat:no-repeat; background-position:top left;}
.gamme-4 #col-gauche .menugauche_focus .menugauche-center {background-image:url("http://www.bouygues.com/cms/bouygues/css/gammes/menu/bottom_gamme_4.gif"); background-repeat:no-repeat; background-position:top left;}
/* niveau 1 */
.gamme-4 #col-gauche .menugauche-n-1 a:hover{background-image:url("large_fleche_gamme_4.gif"); background-repeat:no-repeat; background-position:0px 6px;}
.gamme-4 #col-gauche .menugauche-n-1-current a{background-image:url("large_fleche_gamme_4.gif"); background-repeat:no-repeat; background-position:0px 6px;}
/* FOCUS GAUCHE */
.gamme-4 #col-gauche .savoirplus li{background-image:url("big_fleche_gamme_4.gif"); background-repeat:no-repeat; background-position:0 4px; width: 100px;}
/* FOCUS MODELE TEMPLATE TWO */
.gamme-4 #col-droite table.focus_modele_template_two .titre {color: #1d5a9f;}
.gamme-4 #col-droite table.focus_modele_template_two li {background-image:url("big_fleche_gamme_4.gif"); background-repeat:no-repeat; background-position:0 6px;}
/* FOCUS MODELE TEMPLATE ONE */
.gamme-4 table.focus_modele_template_one .top .titre_focus {color: #1d5a9f;}
/* FOCUS GAUCHE */
.gamme-4 #col-gauche .savoirplus .savoirplus_top {color: #1d5a9f;}
/* MODULE */
/* AGENDA */
.gamme-4 #agenda_page .date {background-image:url("carre_gamme_4.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#1d5a9f;}
/* COMMUNIQUES PAGE */
.gamme-4 #communique_page .details{background-image:url("fleche_gamme_4.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
.gamme-4 #communique_page .date_annee_current {color:#1d5a9f; }
.gamme-4 #communique_page .date {background-image:url("carre_gamme_4.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#1d5a9f;}
/* CONTACT */
.gamme-4 #contact a{color: #1d5a9f;}
.gamme-4 #contact_second {color: #1d5a9f;}
.gamme-4 #contact_second a{color: #1d5a9f;}
/* REJOINDRE */
.gamme-4 #rejoindre a{color: #1d5a9f;}
/* POSTULER EN LIGNE */
.gamme-4 #postuler_ligne .bottom_left, .gamme-4 #postuler_ligne .bottom_left a {color: #1d5a9f;}
/* RECHERCHE */
.gamme-4 #recherche a.recherche_liens {color: #1d5a9f;}
/* PAGINATION */
.gamme-4 #pagination a.pagination_selected, .gamme-4 #pagination a:hover {color: #1d5a9f;}
.gamme-4 #pagination a.pagination_selected {text-decoration: underline;}
/* FAQ */
.gamme-4 #faq .qr-item-selected .qr-q  {background-image:url("triangle_open_gamme_4.gif"); background-repeat:no-repeat; color:#1d5a9f; }
.gamme-4 #faq .qr-item-selected .qr-r {border-bottom:1px solid #1d5a9f;}
.gamme-4 #faq .qr-item-not-selected .qr-q {background-image:url("triangle_gamme_4.gif"); background-repeat:no-repeat; }
/* LIGNE DU TEMPS */
.gamme-4 #ligne_temps .date_annee_current {color:#1d5a9f; }
.gamme-4 #ligne_temps .date {background-image:url("carre_gamme_4.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#1d5a9f;}
.gamme-4 #ligne_temps li.current_first {background-image:url("left_gamme_4.gif"); background-repeat:repeat-x; background-position:top left;}
.gamme-4 #ligne_temps li.current{background-image:url("repeat_gamme_4.gif"); background-repeat:repeat-x; background-position:top left; }
.gamme-4 #ligne_temps li.current_end {background-image:url("right_gamme_4.gif"); background-repeat:repeat-x; background-position:top left;}
.gamme-4 #ligne_temps .clear {border-bottom:0px;}
/* PUBLICATIONS */
.gamme-4 #publication_page .detail .titre{background-image:url("carre_gamme_4.gif"); background-repeat:no-repeat; background-position:0px 5px;}
.gamme-4 #publication_page .detail li {background-image:url("raquo_gamme_4.gif"); background-repeat:no-repeat; background-position:0px 7px;}
.gamme-4 #publication_page .detail li a{color:#1d5a9f;}
/* OFFRES */
.gamme-4 #offres table.tableau_offre tr.niveau_2 {background-color: #f0edf5;}
.gamme-4 #offres table.tableau_offre_gamme_4 th{background-color: #1d5a9f;}
.gamme-4 #offres table.tableau_offre_gamme_4 td.first {color:#1d5a9f;}
/* PRESENTATION DES COMPTES */
.gamme-4 #compte_presentation table.tableau_offre_gamme_4 th{background-color: #1d5a9f;}
.gamme-4 #compte_presentation table.tableau_offre_gamme_4 td.first {color:#1d5a9f;}
.gamme-4 #compte_presentation table.tableau_offre_gamme_4 tr.border td {border-top:1px solid #1d5a9f;}
/* CARRE REMPLACEMENT FLASH HP */
.gamme-4 #navigation_carre li {background-image:url("carre_gamme_4.gif"); background-repeat:no-repeat; background-position:0px 5px;}
.gamme-4 #navigation_carre li a{background-image:url("fleche_gamme_4.gif"); background-repeat:no-repeat; background-position:0px 5px; color: #1d5a9f;}


/***********************************
************** GAMME 5 *************
***********************************/
.gamme-5 h1 {color: #759937;}
.gamme-5 h2 {color: #759937;}
.gamme-5 h3 {background-image:url("carre_gamme_5.gif"); background-repeat:no-repeat; background-position:0px 5px; padding: 0 0 0 10px;}
/* ******************************** */
.gamme-5 .lire_suite { color:#6f6d67; background-image:url("fleche_gamme_5.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
*html .gamme-5 .lire_suite{ padding-left: 10px; }
.gamme-5 li {background-image:url("fleche_gamme_5.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
.gamme-5 .color-gamme-focus {font-weight:bold; color:#759937;}
.gamme-5 .color-gamme-bold { color:#759937;}
/* HP */
.gamme-5 .focus_type_hp .titre {color:#759937; font-weight:bold; background-image:url("rond_gamme_5.gif"); background-repeat:no-repeat; background-position:0px 4px; padding-left:8px; margin-bottom:20px; margin-left:0px;}
.gamme-5 .focus_type_hp .date{color:#759937; font-weight:bold;}
.gamme-5 .focus_type_hp .titre-color{color:#759937; font-weight:bold; display:block; padding:0 0 5px 0;}
/* TITRE FLASH */
.gamme-5 .titre_flash {color:#759937;}
.gamme-5 #titre_page {color:#759937;}
/* TITRE MENU */
.gamme-5 #menugauche-bgr-titre {color:#759937;}
/* LIENS */
.gamme-5 .col-centre-contenu a {color:#759937;}
/* COMMUNIQUES */
.gamme-5 #communiques-HP a.comm{color:#759937;}
/* AGENDA */
.gamme-5 #agenda-HP .date{color:#759937; font-weight:bold;}
.gamme-5 #agenda-HP li {background-image:url("rond_gamme_5.gif"); background-repeat:no-repeat; background-position:0px 7px; padding-left:8px; margin-bottom:20px; margin-left:0px;}
/* OFFRES */
.gamme-5 #offres-HP li {background-image:url("rond_gamme_5.gif"); background-repeat:no-repeat; background-position:0px 4px; padding-left:8px;}
/*MENU */
.gamme-5 #col-gauche .menugauche_focus .menugauche-top {background-image:url("http://www.bouygues.com/cms/bouygues/css/gammes/menu/top_gamme_5.gif"); background-repeat:no-repeat; background-position:top left;}
.gamme-5 #col-gauche .menugauche_focus .menugauche-center {background-image:url("http://www.bouygues.com/cms/bouygues/css/gammes/menu/bottom_gamme_5.gif"); background-repeat:no-repeat; background-position:top left;}
/* niveau 1 */
.gamme-5 #col-gauche .menugauche-n-1 a:hover{background-image:url("large_fleche_gamme_5.gif"); background-repeat:no-repeat; background-position:0px 6px;}
.gamme-5 #col-gauche .menugauche-n-1-current a{background-image:url("large_fleche_gamme_5.gif"); background-repeat:no-repeat; background-position:0px 6px;}
/* FOCUS GAUCHE */
.gamme-5 #col-gauche .savoirplus li{background-image:url("big_fleche_gamme_5.gif"); background-repeat:no-repeat; background-position:0 4px; width: 100px;}
/* FOCUS MODELE TEMPLATE TWO */
.gamme-5 #col-droite table.focus_modele_template_two .titre {color: #759937;}
.gamme-5 #col-droite table.focus_modele_template_two li {background-image:url("big_fleche_gamme_5.gif"); background-repeat:no-repeat; background-position:0 6px;}
/* FOCUS MODELE TEMPLATE ONE */
.gamme-5 table.focus_modele_template_one .top .titre_focus {color: #759937;}
/* FOCUS GAUCHE */
.gamme-5 #col-gauche .savoirplus .savoirplus_top {color: #759937;}
/* MODULE */
/* AGENDA */
.gamme-5 #agenda_page .date {background-image:url("carre_gamme_5.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#759937;}
/* COMMUNIQUES PAGE */
.gamme-5 #communique_page .details{background-image:url("fleche_gamme_5.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
.gamme-5 #communique_page .date_annee_current {color:#759937; }
.gamme-5 #communique_page .date {background-image:url("carre_gamme_5.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#759937;}
/* CONTACT */
.gamme-5 #contact a{color: #759937;}
.gamme-5 #contact_second {color: #759937;}
.gamme-5 #contact_second a{color: #759937;}
/* REJOINDRE */
.gamme-5 #rejoindre a{color: #759937;}
/* POSTULER EN LIGNE */
.gamme-5 #postuler_ligne .bottom_left, .gamme-5 #postuler_ligne .bottom_left a {color: #759937;}
/* RECHERCHE */
.gamme-5 #recherche a.recherche_liens {color: #759937;}
/* PAGINATION */
.gamme-5 #pagination a.pagination_selected, .gamme-5 #pagination a:hover {color: #759937;}
.gamme-5 #pagination a.pagination_selected {text-decoration: underline;}
/* FAQ */
.gamme-5 #faq .qr-item-selected .qr-q  {background-image:url("triangle_open_gamme_5.gif"); background-repeat:no-repeat; color:#759937; }
.gamme-5 #faq .qr-item-selected .qr-r {border-bottom:1px solid #759937;}
.gamme-5 #faq .qr-item-not-selected .qr-q {background-image:url("triangle_gamme_5.gif"); background-repeat:no-repeat; }
/* LIGNE DU TEMPS */
.gamme-5 #ligne_temps .date_annee_current {color:#759937; }
.gamme-5 #ligne_temps .date {background-image:url("carre_gamme_5.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#759937;}
.gamme-5 #ligne_temps li.current_first {background-image:url("left_gamme_5.gif"); background-repeat:repeat-x; background-position:top left;}
.gamme-5 #ligne_temps li.current{background-image:url("repeat_gamme_5.gif"); background-repeat:repeat-x; background-position:top left; }
.gamme-5 #ligne_temps li.current_end {background-image:url("right_gamme_5.gif"); background-repeat:repeat-x; background-position:top left;}
.gamme-5 #ligne_temps .clear {border-bottom:0px;}
/* PUBLICATIONS */
.gamme-5 #publication_page .detail .titre{background-image:url("carre_gamme_5.gif"); background-repeat:no-repeat; background-position:0px 5px;}
.gamme-5 #publication_page .detail li {background-image:url("raquo_gamme_5.gif"); background-repeat:no-repeat; background-position:0px 7px;}
.gamme-5 #publication_page .detail li a{color:#759937;}
/* OFFRES */
.gamme-5 #offres table.tableau_offre tr.niveau_2 {background-color: #f0edf5;}
.gamme-5 #offres table.tableau_offre_gamme_5 th{background-color: #759937;}
.gamme-5 #offres table.tableau_offre_gamme_5 td.first {color:#759937;}
/* PRESENTATION DES COMPTES */
.gamme-5 #compte_presentation table.tableau_offre_gamme_5 th{background-color: #759937;}
.gamme-5 #compte_presentation table.tableau_offre_gamme_5 td.first {color:#759937;}
.gamme-5 #compte_presentation table.tableau_offre_gamme_5 tr.border td {border-top:1px solid #759937;}
/* CARRE REMPLACEMENT FLASH HP */
.gamme-5 #navigation_carre li {background-image:url("carre_gamme_5.gif"); background-repeat:no-repeat; background-position:0px 5px;}
.gamme-5 #navigation_carre li a{background-image:url("fleche_gamme_5.gif"); background-repeat:no-repeat; background-position:0px 5px; color: #759937;}


/***********************************
************** GAMME 6 *************
***********************************/
.gamme-6 h1 {color: #e4a545;}
.gamme-6 h2 {color: #e4a545;}
.gamme-6 h3 {background-image:url("carre_gamme_6.gif"); background-repeat:no-repeat; background-position:0px 5px; padding: 0 0 0 10px;}
/* ******************************** */
.gamme-6 .lire_suite { color:#6f6d67; background-image:url("fleche_gamme_6.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
*html .gamme-6 .lire_suite{ padding-left: 10px; }
.gamme-6 li {background-image:url("fleche_gamme_6.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
.gamme-6 .color-gamme-focus {font-weight:bold; color:#e4a545;}
.gamme-6 .color-gamme-bold { color:#e4a545;}
/* HP */
.gamme-6 .focus_type_hp .titre {color:#e4a545; font-weight:bold; background-image:url("rond_gamme_6.gif"); background-repeat:no-repeat; background-position:0px 4px; padding-left:8px; margin-bottom:20px; margin-left:0px;}
.gamme-6 .focus_type_hp .date{color:#e4a545; font-weight:bold;}
.gamme-6 .focus_type_hp .titre-color{color:#e4a545; font-weight:bold; display:block; padding:0 0 5px 0;}
/* TITRE FLASH */
.gamme-6 .titre_flash {color:#e4a545;}
.gamme-6 #titre_page {color:#e4a545;}
/* TITRE MENU */
.gamme-6 #menugauche-bgr-titre {color:#e4a545;}
/* LIENS */
.gamme-6 .col-centre-contenu a {color:#e4a545;}
/* COMMUNIQUES */
.gamme-6 #communiques-HP a.comm{color:#e4a545;}
/* AGENDA */
.gamme-6 #agenda-HP .date{color:#e4a545; font-weight:bold;}
.gamme-6 #agenda-HP li {background-image:url("rond_gamme_6.gif"); background-repeat:no-repeat; background-position:0px 7px; padding-left:8px; margin-bottom:20px; margin-left:0px;}
/* OFFRES */
.gamme-6 #offres-HP li {background-image:url("rond_gamme_6.gif"); background-repeat:no-repeat; background-position:0px 4px; padding-left:8px;}
/*MENU */
.gamme-6 #col-gauche .menugauche_focus .menugauche-top {background-image:url("http://www.bouygues.com/cms/bouygues/css/gammes/menu/top_gamme_6.gif"); background-repeat:no-repeat; background-position:top left;}
.gamme-6 #col-gauche .menugauche_focus .menugauche-center {background-image:url("http://www.bouygues.com/cms/bouygues/css/gammes/menu/bottom_gamme_6.gif"); background-repeat:no-repeat; background-position:top left;}
/* niveau 1 */
.gamme-6 #col-gauche .menugauche-n-1 a:hover{background-image:url("large_fleche_gamme_6.gif"); background-repeat:no-repeat; background-position:0px 6px;}
.gamme-6 #col-gauche .menugauche-n-1-current a{background-image:url("large_fleche_gamme_6.gif"); background-repeat:no-repeat; background-position:0px 6px;}
/* FOCUS GAUCHE */
.gamme-6 #col-gauche .savoirplus li{background-image:url("big_fleche_gamme_6.gif"); background-repeat:no-repeat; background-position:0 4px; width: 100px;}
/* FOCUS MODELE TEMPLATE TWO */
.gamme-6 #col-droite table.focus_modele_template_two .titre {color: #e4a545;}
.gamme-6 #col-droite table.focus_modele_template_two li {background-image:url("big_fleche_gamme_6.gif"); background-repeat:no-repeat; background-position:0 6px;}
/* FOCUS MODELE TEMPLATE ONE */
.gamme-6 table.focus_modele_template_one .top .titre_focus {color: #e4a545;}
/* FOCUS GAUCHE */
.gamme-6 #col-gauche .savoirplus .savoirplus_top {color: #e4a545;}
/* MODULE */
/* AGENDA */
.gamme-6 #agenda_page .date {background-image:url("carre_gamme_6.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#e4a545;}
/* COMMUNIQUES PAGE */
.gamme-6 #communique_page .details{background-image:url("fleche_gamme_6.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
.gamme-6 #communique_page .date_annee_current {color:#e4a545; }
.gamme-6 #communique_page .date {background-image:url("carre_gamme_6.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#e4a545;}
/* CONTACT */
.gamme-6 #contact a{color: #e4a545;}
.gamme-6 #contact_second {color: #e4a545;}
.gamme-6 #contact_second a{color: #e4a545;}
/* REJOINDRE */
.gamme-6 #rejoindre a{color: #e4a545;}
/* POSTULER EN LIGNE */
.gamme-6 #postuler_ligne .bottom_left, .gamme-6 #postuler_ligne .bottom_left a {color: #e4a545;}
/* RECHERCHE */
.gamme-6 #recherche a.recherche_liens {color: #e4a545;}
/* PAGINATION */
.gamme-6 #pagination a.pagination_selected, .gamme-6 #pagination a:hover {color: #e4a545;}
.gamme-6 #pagination a.pagination_selected {text-decoration: underline;}
/* FAQ */
.gamme-6 #faq .qr-item-selected .qr-q  {background-image:url("triangle_open_gamme_6.gif"); background-repeat:no-repeat; color:#e4a545; }
.gamme-6 #faq .qr-item-selected .qr-r {border-bottom:1px solid #e4a545;}
.gamme-6 #faq .qr-item-not-selected .qr-q {background-image:url("triangle_gamme_6.gif"); background-repeat:no-repeat; }
/* LIGNE DU TEMPS */
.gamme-6 #ligne_temps .date_annee_current {color:#e4a545; }
.gamme-6 #ligne_temps .date {background-image:url("carre_gamme_6.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#e4a545;}
.gamme-6 #ligne_temps li.current_first {background-image:url("left_gamme_6.gif"); background-repeat:repeat-x; background-position:top left;}
.gamme-6 #ligne_temps li.current{background-image:url("repeat_gamme_6.gif"); background-repeat:repeat-x; background-position:top left; }
.gamme-6 #ligne_temps li.current_end {background-image:url("right_gamme_6.gif"); background-repeat:repeat-x; background-position:top left;}
.gamme-6 #ligne_temps .clear {border-bottom:0px;}
/* PUBLICATIONS */
.gamme-6 #publication_page .detail .titre{background-image:url("carre_gamme_6.gif"); background-repeat:no-repeat; background-position:0px 5px;}
.gamme-6 #publication_page .detail li {background-image:url("raquo_gamme_6.gif"); background-repeat:no-repeat; background-position:0px 7px;}
.gamme-6 #publication_page .detail li a{color:#e4a545;}
/* OFFRES */
.gamme-6 #offres table.tableau_offre tr.niveau_2 {background-color: #f0edf5;}
.gamme-6 #offres table.tableau_offre_gamme_6 th{background-color: #e4a545;}
.gamme-6 #offres table.tableau_offre_gamme_6 td.first {color:#e4a545;}
/* PRESENTATION DES COMPTES */
.gamme-6 #compte_presentation table.tableau_offre_gamme_6 th{background-color: #e4a545;}
.gamme-6 #compte_presentation table.tableau_offre_gamme_6 td.first {color:#e4a545;}
.gamme-6 #compte_presentation table.tableau_offre_gamme_6 tr.border td {border-top:1px solid #e4a545;}
/* CARRE REMPLACEMENT FLASH HP */
.gamme-6 #navigation_carre li {background-image:url("carre_gamme_6.gif"); background-repeat:no-repeat; background-position:0px 5px;}
.gamme-6 #navigation_carre li a{background-image:url("fleche_gamme_6.gif"); background-repeat:no-repeat; background-position:0px 5px; color: #e4a545;}


/***********************************
************** GAMME 7 *************
***********************************/
.gamme-7 .couleur-gamme-2 {color: #7459a6;}

.gamme-7 h1 {color: #7459a6;}
.gamme-7 h2 {color: #7459a6;}
.gamme-7 h3 {background-image:url("carre_gamme_7.gif"); background-repeat:no-repeat; background-position:0px 5px; padding: 0 0 0 10px;}
/* ******************************** */
.gamme-7 .lire_suite { color:#6f6d67; background-image:url("fleche_gamme_7.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
*html .gamme-7 .lire_suite{ padding-left: 10px; }
.gamme-7 li {background-image:url("fleche_gamme_7.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
.gamme-7 .color-gamme-focus {font-weight:bold; color:#7459a6;}
.gamme-7 .color-gamme-bold { color:#7459a6;}
/* HP */
.gamme-7 .focus_type_hp .titre {color:#7459a6; font-weight:bold; background-image:url("rond_gamme_7.gif"); background-repeat:no-repeat; background-position:0px 4px; padding-left:8px; margin-bottom:20px; margin-left:0px;}
.gamme-7 .focus_type_hp .date{color:#7459a6; font-weight:bold;}
.gamme-7 .focus_type_hp .titre-color{color:#7459a6; font-weight:bold; display:block; padding:0 0 5px 0;}
/* TITRE FLASH */
.gamme-7 .titre_flash {color:#7459a6;}
.gamme-7 #titre_page {color:#7459a6;}
/* TITRE MENU */
.gamme-7 #menugauche-bgr-titre {color:#7459a6;}
/* LIENS */
.gamme-7 .col-centre-contenu a {color:#7459a6;}
/* COMMUNIQUES */
.gamme-7 #communiques-HP a.comm{color:#7459a6;}
/* AGENDA */
.gamme-7 #agenda-HP .date{color:#7459a6; font-weight:bold;}
.gamme-7 #agenda-HP li {background-image:url("rond_gamme_7.gif"); background-repeat:no-repeat; background-position:0px 7px; padding-left:8px; margin-bottom:20px; margin-left:0px;}
/* OFFRES */
.gamme-7 #offres-HP li {background-image:url("rond_gamme_7.gif"); background-repeat:no-repeat; background-position:0px 4px; padding-left:8px;}
/*MENU */
.gamme-7 #col-gauche .menugauche_focus .menugauche-top {background-image:url("http://www.bouygues.com/cms/bouygues/css/gammes/menu/top_gamme_7.gif"); background-repeat:no-repeat; background-position:top left;}
.gamme-7 #col-gauche .menugauche_focus .menugauche-center {background-image:url("http://www.bouygues.com/cms/bouygues/css/gammes/menu/bottom_gamme_7.gif"); background-repeat:no-repeat; background-position:top left;}
/* niveau 1 */
.gamme-7 #col-gauche .menugauche-n-1 a:hover{background-image:url("large_fleche_gamme_7.gif"); background-repeat:no-repeat; background-position:0px 6px;}
.gamme-7 #col-gauche .menugauche-n-1-current a{background-image:url("large_fleche_gamme_7.gif"); background-repeat:no-repeat; background-position:0px 6px;}
/* FOCUS GAUCHE */
.gamme-7 #col-gauche .savoirplus li{background-image:url("big_fleche_gamme_7.gif"); background-repeat:no-repeat; background-position:0 4px; width: 100px;}
/* FOCUS MODELE TEMPLATE TWO */
.gamme-7 #col-droite table.focus_modele_template_two .titre {color: #7459a6;}
.gamme-7 #col-droite table.focus_modele_template_two li {background-image:url("big_fleche_gamme_7.gif"); background-repeat:no-repeat; background-position:0 6px;}
/* FOCUS MODELE TEMPLATE ONE */
.gamme-7 table.focus_modele_template_one .top .titre_focus {color: #7459a6;}
/* FOCUS GAUCHE */
.gamme-7 #col-gauche .savoirplus .savoirplus_top {color: #7459a6;}
/* MODULE */
/* AGENDA */
.gamme-7 #agenda_page .date {background-image:url("carre_gamme_7.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#7459a6;}
/* COMMUNIQUES PAGE */
.gamme-7 #communique_page .details{background-image:url("fleche_gamme_7.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
.gamme-7 #communique_page .date_annee_current {color:#7459a6; }
.gamme-7 #communique_page .date {background-image:url("carre_gamme_7.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#7459a6;}
/* CONTACT */
.gamme-7 #contact a{color: #7459a6;}
.gamme-7 #contact_second {color: #7459a6;}
.gamme-7 #contact_second a{color: #7459a6;}
/* REJOINDRE */
.gamme-7 #rejoindre a{color: #7459a6;}
/* POSTULER EN LIGNE */
.gamme-7 #postuler_ligne .bottom_left, .gamme-7 #postuler_ligne .bottom_left a {color: #7459a6;}
/* RECHERCHE */
.gamme-7 #recherche a.recherche_liens {color: #7459a6;}
/* PAGINATION */
.gamme-7 #pagination a.pagination_selected, .gamme-7 #pagination a:hover {color: #7459a6;}
.gamme-7 #pagination a.pagination_selected {text-decoration: underline;}
/* FAQ */
.gamme-7 #faq .qr-item-selected .qr-q  {background-image:url("triangle_open_gamme_7.gif"); background-repeat:no-repeat; color:#7459a6; }
.gamme-7 #faq .qr-item-selected .qr-r {border-bottom:1px solid #7459a6;}
.gamme-7 #faq .qr-item-not-selected .qr-q {background-image:url("triangle_gamme_7.gif"); background-repeat:no-repeat; }
/* LIGNE DU TEMPS */
.gamme-7 #ligne_temps .date_annee_current {color:#7459a6; }
.gamme-7 #ligne_temps .date {background-image:url("carre_gamme_7.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#7459a6;}
.gamme-7 #ligne_temps li.current_first {background-image:url("left_gamme_7.gif"); background-repeat:repeat-x; background-position:top left;}
.gamme-7 #ligne_temps li.current{background-image:url("repeat_gamme_7.gif"); background-repeat:repeat-x; background-position:top left; }
.gamme-7 #ligne_temps li.current_end {background-image:url("right_gamme_7.gif"); background-repeat:repeat-x; background-position:top left;}
.gamme-7 #ligne_temps .clear {border-bottom:0px;}
/* PUBLICATIONS */
.gamme-7 #publication_page .detail .titre{background-image:url("carre_gamme_7.gif"); background-repeat:no-repeat; background-position:0px 5px;}
.gamme-7 #publication_page .detail li {background-image:url("raquo_gamme_7.gif"); background-repeat:no-repeat; background-position:0px 7px;}
.gamme-7 #publication_page .detail li a{color:#7459a6;}
/* OFFRES */
.gamme-7 #offres table.tableau_offre tr.niveau_2 {background-color: #f0edf5;}
.gamme-7 #offres table.tableau_offre_gamme_7 th{background-color: #7459a6;}
.gamme-7 #offres table.tableau_offre_gamme_7 td.first {color:#7459a6;}
/* PRESENTATION DES COMPTES */
.gamme-7 #compte_presentation table.tableau_offre_gamme_7 th{background-color: #7459a6;}
.gamme-7 #compte_presentation table.tableau_offre_gamme_7 td.first {color:#7459a6;}
.gamme-7 #compte_presentation table.tableau_offre_gamme_7 tr.border td {border-top:1px solid #7459a6;}
/* CARRE REMPLACEMENT FLASH HP */
.gamme-7 #navigation_carre li {background-image:url("carre_gamme_7.gif"); background-repeat:no-repeat; background-position:0px 5px;}
.gamme-7 #navigation_carre li a{background-image:url("fleche_gamme_7.gif"); background-repeat:no-repeat; background-position:0px 5px; color: #7459a6;}

/***********************************
* ************ GAMME 8*************
***********************************/
.gamme-8 h1 {color: #ca1010;}
.gamme-8 h2 {color: #ca1010;}
.gamme-8 h3 {background-image:url("carre_gamme_8.gif"); background-repeat:no-repeat; background-position:0px 5px; padding: 0 0 0 10px;}
/* ******************************** */
.gamme-8 .lire_suite{ color:#6f6d67; background-image:url("fleche_gamme_8.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px; }
*html .gamme-8 .lire_suite{ padding-left: 10px; }
.gamme-8 li {background-image:url("fleche_gamme_8.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
.gamme-8 .color-gamme-focus {font-weight:bold; color:#ca1010;}
.gamme-8 .color-gamme-bold { color:#ca1010;}
/* HP */
.gamme-8 .focus_type_hp .titre {color:#ca1010; font-weight:bold; background-image:url("rond_gamme_8.gif"); background-repeat:no-repeat; background-position:0px 4px; padding-left:8px; margin-bottom:20px; margin-left:0px;}
.gamme-8 .focus_type_hp .date{color:#ca1010; font-weight:bold;}
.gamme-8 .focus_type_hp .titre-color{color:#ca1010; font-weight:bold; display:block; padding:0 0 5px 0;}
/* TITRE FLASH */
.gamme-8 .titre_flash {color:#ca1010;}
.gamme-8 #titre_page {color:#ca1010;}
/* TITRE MENU */
.gamme-8 #menugauche-bgr-titre {color:#ca1010;}
/* LIENS */
.gamme-8 .col-centre-contenu a {color:#ca1010;}
/* COMMUNIQUES */
.gamme-8 #communiques-HP a.comm{color:#ca1010;}
/* AGENDA */
.gamme-8 #agenda-HP .date{color:#ca1010; font-weight:bold;}
.gamme-8 #agenda-HP li {background-image:url("rond_gamme_8.gif"); background-repeat:no-repeat; background-position:0px 7px; padding-left:8px; margin-bottom:20px; margin-left:0px;}
/* OFFRES */
.gamme-8 #offres-HP li {background-image:url("rond_gamme_8.gif"); background-repeat:no-repeat; background-position:0px 4px; padding-left:8px;}
/*MENU */
.gamme-8 #col-gauche .menugauche_focus .menugauche-top {background-image:url("http://www.bouygues.com/cms/bouygues/css/gammes/menu/top_gamme_8.gif"); background-repeat:no-repeat; background-position:top left;}
.gamme-8 #col-gauche .menugauche_focus .menugauche-center {background-image:url("http://www.bouygues.com/cms/bouygues/css/gammes/menu/bottom_gamme_8.gif"); background-repeat:no-repeat; background-position:top left;}
/* niveau 1 */
.gamme-8 #col-gauche .menugauche-n-1 a:hover{background-image:url("large_fleche_gamme_8.gif"); background-repeat:no-repeat; background-position:0px 6px;}
.gamme-8 #col-gauche .menugauche-n-1-current a{background-image:url("large_fleche_gamme_8.gif"); background-repeat:no-repeat; background-position:0px 6px;}
/* FOCUS GAUCHE */
.gamme-8 #col-gauche .savoirplus li{background-image:url("big_fleche_gamme_8.gif"); background-repeat:no-repeat; background-position:0 4px; width: 100px;}
/* FOCUS MODELE TEMPLATE TWO */
.gamme-8 #col-droite table.focus_modele_template_two .titre {color: #ca1010;}
.gamme-8 #col-droite table.focus_modele_template_two li {background-image:url("big_fleche_gamme_8.gif"); background-repeat:no-repeat; background-position:0 6px;}
/* FOCUS MODELE TEMPLATE ONE */
.gamme-8 table.focus_modele_template_one .top .titre_focus {color: #ca1010;}
/* FOCUS GAUCHE */
.gamme-8 #col-gauche .savoirplus .savoirplus_top {color: #ca1010;}
/* MODULE */
/* AGENDA */
.gamme-8 #agenda_page .date {background-image:url("carre_gamme_8.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#ca1010;}
/* COMMUNIQUES PAGE */
.gamme-8 #communique_page .details{background-image:url("fleche_gamme_8.gif"); background-repeat:no-repeat; background-position:0px 5px; padding-left:12px; margin-left:10px;}
.gamme-8 #communique_page .date_annee_current {color:#ca1010; }
.gamme-8 #communique_page .date {background-image:url("carre_gamme_8.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#ca1010;}
/* CONTACT */
.gamme-8 #contact a{color: #ca1010;}
.gamme-8 #contact_second {color: #ca1010;}
.gamme-8 #contact_second a{color: #ca1010;}
/* REJOINDRE */
.gamme-8 #rejoindre a{color: #ca1010;}
/* POSTULER EN LIGNE */
.gamme-8 #postuler_ligne .bottom_left, .gamme-8 #postuler_ligne .bottom_left a {color: #ca1010;}
/* RECHERCHE */
.gamme-8 #recherche a.recherche_liens {color: #ca1010;}
/* PAGINATION */
.gamme-8 #pagination a.pagination_selected, .gamme-8 #pagination a:hover {color: #ca1010;}
.gamme-8 #pagination a.pagination_selected {text-decoration: underline;}
/* FAQ */
.gamme-8 #faq .qr-item-selected .qr-q  {background-image:url("triangle_open_gamme_8.gif"); background-repeat:no-repeat; color:#ca1010; }
.gamme-8 #faq .qr-item-selected .qr-r {border-bottom:1px solid #ca1010;}
.gamme-8 #faq .qr-item-not-selected .qr-q {background-image:url("triangle_gamme_8.gif"); background-repeat:no-repeat; }
/* LIGNE DU TEMPS */
.gamme-8 #ligne_temps .date_annee_current {color:#ca1010; }
.gamme-8 #ligne_temps .date {background-image:url("carre_gamme_8.gif"); background-repeat:no-repeat; background-position:0px 5px; color:#ca1010;}
.gamme-8 #ligne_temps li.current_first {background-image:url("left_gamme_8.gif"); background-repeat:repeat-x; background-position:top left;}
.gamme-8 #ligne_temps li.current{background-image:url("repeat_gamme_8.gif"); background-repeat:repeat-x; background-position:top left; }
.gamme-8 #ligne_temps li.current_end {background-image:url("right_gamme_8.gif"); background-repeat:repeat-x; background-position:top left;}
.gamme-8 #ligne_temps .clear {border-bottom:0px;}
/* PUBLICATIONS */
.gamme-8 #publication_page .detail .titre{background-image:url("carre_gamme_8.gif"); background-repeat:no-repeat; background-position:0px 5px;}
.gamme-8 #publication_page .detail li {background-image:url("raquo_gamme_8.gif"); background-repeat:no-repeat; background-position:0px 7px;}
.gamme-8 #publication_page .detail li a{color:#ca1010;}
/* OFFRES */
.gamme-8 #offres table.tableau_offre tr.niveau_2 {background-color: #f0edf5;}
.gamme-8 #offres table.tableau_offre_gamme_8 th{background-color: #ca1010;}
.gamme-8 #offres table.tableau_offre_gamme_8 td.first {color:#ca1010;}
/* PRESENTATION DES COMPTES */
.gamme-8 #compte_presentation table.tableau_offre_gamme_8 th{background-color: #ca1010;}
.gamme-8 #compte_presentation table.tableau_offre_gamme_8 td.first {color:#ca1010;}
.gamme-8 #compte_presentation table.tableau_offre_gamme_8 tr.border td {border-top:1px solid #ca1010;}
/* CARRE REMPLACEMENT FLASH HP */
.gamme-8 #navigation_carre li {background-image:url("carre_gamme_8.gif"); background-repeat:no-repeat; background-position:0px 5px;}
.gamme-8 #navigation_carre li a{background-image:url("fleche_gamme_8.gif"); background-repeat:no-repeat; background-position:0px 5px; color: #ca1010;}
