/* Begin calendar/box_calendar.html */
								
/* Style for calendar boxe with links to events */
.calendar h2{display:none;}
table.calendar{
	/* border-collapse: needed to apply border styles on <tr>, <col>, <colgroup>, <thead>, <tbody> and <tfoot> */
	/* Support: Mozilla: full, IE 5.5+: partial, Konqueror: none */
	border-collapse: collapse;
	font-size:1em;
	width:100%;
	border: 4px double #999;
}

table.calendar caption{
	font-weight:bold;
	font-size:1.4em;
}

table.calendar tr.calendar_nav a{
	color: #202020;
	text-decoration:none;
}
table.calendar tr.calendar_nav a:hover{
	text-decoration:underline;
}
table.calendar td{
	text-align:center;
	vertical-align:middle;
	width:12%;
	border: 1px solid #999;
}
table.calendar tr.calendar_days th, table.calendar tr.calendar_nav th{
	background:#f6f6f6;
/*	border:1px solid #0097C7;*/
	color:#000;
	font-size:1.1em;
	font-weight:bold;
	width:auto;
	text-align:center;
}
table.calendar td.today{
	border: 2px solid #E00000;
}
table.calendar td.no_day{
	color: #718589;
}
table.calendar td.past_day{
}
table.calendar td.event_day{
	background-color: #CAE1ED;
}

table.calendar td.event_day a{
	font-weight:bold;
	color:#333;
}

table.calendar_1_January{
}
table.calendar_1_February{
}
table.calendar_1_March{
}
table.calendar_1_April{
}
table.calendar_1_May{
}
table.calendar_1_June{
}
table.calendar_1_July{
}
table.calendar_1_August{
}
table.calendar_1_September{
}
table.calendar_1_October{
}
table.calendar_1_November{
}
table.calendar_1_December{
}

div.calendar_event{
}
div.calendar_event h5{
}
div.event_category, div.event_description{
}
div.event_start_end_time{
}
div.calendar_event_left{
	clear: left;
}
div.calendar_event_right{
}

/* End calendar/box_calendar.html */