

.text p, .text  dl,.text  ul{
display: block;
line-height:1.6em;
font-size:1em;
color:#444;
text-align:justify;
word-spacing:0.1em;
margin:0 0 1em 0;
}

.text dd {
  display: block;
/*  -moz-margin-start: 40px;*/
}

.text blockquote {
  display: block;
  margin: 1em 40px;
}

.text address {
  display: block;
  font-style: italic;
}

.text blockquote[type=cite] {
  display: block;
  margin: 1em 0px;
  -moz-padding-start: 1em;
  -moz-border-start: solid;
  border-color: blue;
  border-width: thin;
}

/*.text img { margin: 0 0 0 1.5em; }*/




/* Anchors
-------------------------------------------------------------- */

.text a:link      { color: #005193; text-decoration: none; border-bottom:1px dotted #333;}
.text a:visited   { color: #005193; text-decoration: none; border-bottom:1px dotted #333;}	
.text a:focus, 
.text a:hover     { color: #333; text-decoration: none; border-bottom:1px solid #5A5A5A;}
.text a:active	{ color: #333; }
.text .spip_documents a { border:none; }
.text .ancre { color:#005193; font-size:1.4em; text-decoration:none; border:none; font-weight:bold; }
.text .ancre a:link,
.text .ancre a:visited,
.text .ancre a:hover,
.text .ancre a:focus { color:#005193; text-decoration:none; border-bottom:1px dotted #005193; font-weight:bold; }

/* Heading
-------------------------------------------------------------- */



.text h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin: .67em 0;
}

.text h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: .83em;
  padding: 0.5em 0 0 0;
}

.text h2.intertitre {
  color: #62910D;
  display: block;
  font-size: 1.8em;
  font-weight: bold;
  margin-top: 40px;
}

.text h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: .5em;
}

.text h4 {
  display: block;
  font-weight: bold;
  margin-bottom: 1.33em;
}

.text h5 {
  display: block;
  font-size: 0.83em;
  font-weight: bold;
  margin-bottom: 1.67em;
}

.text h6 {
  display: block;
  font-size: 0.67em;
  font-weight: bold;
  margin-bottom: 2.33em;
}

.text pre {
  display: block;
  font-family: -moz-fixed;
  white-space: pre;
  margin: 1em 0;
}

/* Tables
-------------------------------------------------------------- */

.text table       { margin-bottom: 1.4em; width:100%; }
.text th          { font-weight: bold; background: #EAEAEA; }
.text th,
.text td          { padding: 4px 10px 4px 5px; }
.text tr.even td  { background: #f6f6f6; }
.text tfoot       { font-style: italic; }
.text caption     { background: #f6f6f6; }

.text table {
  display: table;
  border-spacing: 0px;
  border-collapse: separate;
  margin-top: 0;
  margin-bottom: 1em;
  text-indent: 0;
}

.text table[align="left"] {
  float: left;
}

.text table[align="right"] {
  float: right;
  text-align: start;
}

.text table[rules]:not([rules="none"]) {
  border-collapse: collapse;
}
   
/* caption inherits from table not table-outer */  
.text caption {
  text-align: left;
}

.text table[align="center"] > caption {
  margin-left: auto;
  margin-right: auto;
}

.text table[align="center"] > caption[align="left"] {
  margin-right: 0;
}

.text table[align="center"] > caption[align="right"] {
  margin-left: 0;
}

.text tr {
  vertical-align: inherit;

}


.text tbody {
  vertical-align: middle;
}

.text thead {
  display: table-header-group;
  vertical-align: middle;
}

.text tfoot {
  display: table-footer-group;
  vertical-align: middle;
}

/* for XHTML tables without tbody */
.text table > tr {
  vertical-align: middle;
}

.text td { 
  vertical-align: top;
  text-align: inherit; 
  padding: 5px;
border-bottom:1px #ccc solid;
}

.text th {
  display: table-cell;
  vertical-align: bottom;
  font-weight: bold;
padding: 5px;
}


/* inlines */

/*.text q:before {
  content: open-quote;
}

.text q:after {
  content: close-quote;
}*/

.text b, .text strong {
  font-weight: bolder;
  color:#000;
}

.text i,.text cite,.text  em,.text  var,.text  dfn {
  font-style: italic;
  color:#000;
}

.text ins {
  text-decoration: underline;
}

.text strike,.text  del {
  text-decoration: line-through;
}

.text big {
  font-size: larger;
}

.text small {
  font-size: smaller;
}

.text sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}

.text sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}

/* titles */
.text abbr[title],.text acronym[title] {
  border-bottom: dotted 1px;
}

/* Lists
-------------------------------------------------------------- */

.text ul {
  display: block;
  list-style-type: disc;
  margin:0 0 1em 0;
  padding-left:40px;
  text-align: left;
}

.text ol {
  display: block;
  list-style-type: decimal;
  margin:0 0 1em 0;
  padding-left:40px;
  text-align: left;
}

.text li {
  display: list-item;
}

/* nested lists have no top/bottom margins */
.text ul ul,.text ul ol, .text ul dl,
.text ol ul, .text ol ol, .text ol dl,
.text dl ul,.text dl ol, .text dl dl {
  margin-top: 0;
  margin-bottom: 0;
}

/* 2 deep unordered lists use a circle */
.text ol ul, .text ul ul{
  list-style-type: circle;
}

/* 3 deep (or more) unordered lists use a square */
.text ol ol ul, .text ol ul ul,  
.text ul ol ul, .text ul ul ul {
  list-style-type: square;
}


/* leafs */

/* <hr> noshade and color attributes are handled completely by
 * the nsHTMLHRElement attribute mapping code
 */
.text hr {
  display: block;
  height: 2px;
  border: 1px inset;
  margin: 0.5em auto 0.5em auto;
  color: gray;
}

.text hr[size="1"] {
  border-style: solid none none none;
}

/* Forms
------------------------------------------------*/

.nettoyeur{
	clear:both;
}

/* ----- LABELS ----- */
/*.text label,
.text .label{
	font-weight:bold;
	color:#000;
	margin:0;
	clear:both;
}*/

/* ----- FIELDS ----- */

/*select.select, select{
	margin:0;
	font-size:100%;
	color:#333;
	display:block;
}
input.text, input.forml, input.formo, textarea.textarea,textarea{
	margin:0 0 .5em 0;
	font-size:100%;
	color:#333;
	border-top:1px solid #7c7c7c;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #ddd;
	background:#fff url("../images/fieldbg.gif") repeat-x top;
	display:block;
	font-size:1em;
}
input.text, input.forml, input.formo, input.file{
	padding:2px 0 2px 0;
}
input.checkbox, input.radio{
	display:block;
	line-height:1.5em;
	margin:.6em 0 0 3px;
	width:13px;
	height:13px;
}

textarea,
textarea.textarea{
	font-family: Arial, sans-serif;
}

select,
select.select{
	margin:1px 0;
	padding:1px 0 0 0;
}
select.select[class]{
	margin:0;
	padding:1px 0 1px 0;
}
*:first-child+html select.select[class]{
	margin:1px 0;
}*/



/* ----- ERRORS ----- */

/*.erreur{
	color:red !important;
	font-weight:bold;
	margin:0;
}
*/
/* ----- REQUIRED ----- */
/*
form .spip_form_label_obligatoire{
	float:none;
	color:red !important;
	font-weight:bold;
	margin:0;
}*/

/* ----- INSTRUCTIONS ----- */

/*form li.focused{
	background-color:#fff7c0;
}
form .instruct{
	position:absolute;
	top:0;
	left:100%;
	z-index:1000;
	width:42%;
	margin:0 0 0 8px;
	padding:8px 10px 9px 10px;
	border:1px solid #e6e6e6;
	background:#f5f5f5;
	line-height:130%;
	font-size:80%;
	color:#444;
	visibility:hidden;
}
form .instruct small{
	font-size:105%;
}
form li.focused .instruct, form li:hover .instruct{
	visibility:visible;
}*/