/******************************************************************************/
/*                                                                            */
/* @copyright module                                                          */
/*                                                                            */
/* Theme: Default                                                             */
/*                                                                            */
/* This file is designed for use with Internet Explorer.                                                                 */
/*                                                                  */
/*                                                                  */
/*                                                                  */
/*                                                                  */
/*                                                                            */
/* This file was programatically generated with these options: theme=Engineering browser=ie locale=en config=CssStyles_LatinI.properties                                                                */
/*                                                                            */
/******************************************************************************/
/*  NOTE:  Comments inside CSS files cannot be nested inside each other.      */
/******************************************************************************/

/******************************************************************************/
/* General styles                                                             */
/******************************************************************************/


/*
GLOBAL CHANGES
removed all :visited, :hover, and :active links.  Global link styles should be inherited for all page elements.
*/

/* websphere styles removed
body { 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

table, input, textarea, button {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
}

/ * select has a special font family to fix a problem in Simplified Chinese * /
select {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
}

div, span, p, ul, li, td, th { 
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

pre {
    font-family: monospace;
    font-size: x-small;
}

a, .wpsLink, a:active, .wpsLink:active {
    color: #A64D21;
}

a:visited, .wpsLink:visited { 
    color: #665142;
}

a:hover, .wpsLink:hover { 
    color: #D94800;
}
*/


/*
.wpsLink, .wpsLink:active {
*/

/*Ben
.wpsLink {
    color: #A64D21;
}
*/

/*
.wpsLink:visited { 
    color: #665142;
}
*/

/*
.wpsLink:hover { 
    color: #D94800;
}
*/


/******************************************************************************/
/* Styles used in the themes                                                  */
/* Portlets should not use these styles since they may not be in all themes.  */
/******************************************************************************/

/*Elements from new template*/

body, html {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	/*color: #7f7f7f;*/
	color: #666666;
	margin: 0px;
	padding: 0px;
}
html { min-height: 100%; margin-bottom: 1px; }
a {
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	color: #0066CC;
	font-size: 1em;
	text-decoration: none;
}


a:hover {
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	color: #0066CC;
	font-size: 1em;
	text-decoration: underline;
}

a:visited {
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	color: #0066CC;
	font-size: 1em;
	text-decoration: none;
}

a:visited:hover {
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	color: #0066CC;
	font-size: 1em;
	text-decoration: underline;
}

a.bigLink {
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	color: #0066CC;
	font-size: 11px;
	text-decoration: none;
}

a.bigLink:hover {
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	color: #0066CC;
	font-size: 11px;
	text-decoration: underline;
}

a.darkLink {
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	color: #293234;
	font-size: 10px;
	text-decoration: none;
}

a.darkLink:hover {
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	color: #293234;
	font-size: 10px;
	text-decoration: underline;
}

.logoTopColumn {
  vertical-align: top;
  padding-top: 15px;
  padding-left: 20px;
  height: 58px;
  with: 170px;
}

.navTopColumn {
  vertical-align: top;
  text-align: right;
  height: 58px;
  width: 770px;
  padding-top: 1px;
  padding-bottom: 6px;
}

.title {
	color: #7f7f7f;
	border-top: 0px;
	text-align: left;
	clear: both;
	padding-top: 15px;
}

.titleECM {
	color: #7f7f7f;
	border-top: 0px;
	text-align: left;
	clear: both;
	padding-top: 15px;
}

.spacer {
	clear: both;
	height: 30px;
}

.footer {
	width: 940px;
	height: 35px;
	background-image: url(ALfooter-gradient-tile.gif);
	background-repeat: repeat-x;
	font-size: 0.5625em;
	color: #808080;
	padding-top: 20px;
	padding-left: 10px;
	text-align: left;
}


/*Form Styles */
.searchField{
	border: 1px solid #c3c3c3;
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	color: #000000;
	font-size: 1em;
	background-color: #ffffff;
	margin-top: 10px;
	padding: 1px;
	padding-top: 2px;
	width: 185px;
	height: 17px;
}

.textField{
	border: 1px solid #c3c3c3;
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	color: #7f7f7f;
	font-size: 10px;
	background-color: #ffffff;
}

.submit {
	border: 1px solid #c3c3c3;
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	color: #0066CC;
	font-size: 10px;
	background-color: #e4e3e3;
	height: 17px;
}

.dropShadow1 {
	border-right: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3; 
}

.dropShadow2 {
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb; 
}

.dropShadow3 {
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2; 
}


/*Layout Styles */
#container {
	margin: 0px;
	width: 940px;
	text-align: center;
}

.topSearch {
	float: right;
	clear: none;
	padding-top: 8px;
	text-align: right;
}

.leftColumn {
	padding-left: 10px;
	padding-right: 20px;
	width: 220px;
}

.midColumn {
	width: 460px;
}

.rightColumn {
	padding-left: 20px;
	padding-right: 10px;
	width: 201px;
}

.leftFloat {
	float: left;
	clear: none;
	text-align: left;
}

.rightFloat {
	float: right;
	clear: none;
	text-align: right;
}

/* Image/Flash Styles */
#logo {
	float: left;
	clear: none;
	padding-top: 17px;
	padding-right: 274px;
}

.topRss {
	padding-left: 10px;
}

#flashHeader {
	width: 940px;
	height: 232px;
	clear: both;
	padding-bottom: 10px;
}

.leftImg {
	margin-top: 20px;
	margin-right: 22px;
	width: 219px;
	height: 90px;
	background-image: url(AL-home-bttmImage-left.jpg);
	background-repeat: no-repeat;
	float: left;
	clear: none;
	text-align: left;
}

.midImg {
	margin-top: 20px;
	width: 459px;
	height: 90px;
	background-image: url(AL-home-bttmImage-center.jpg);
	background-repeat: no-repeat;
	float: left;
	clear: none;
	text-align: left;
}

.rightImg {
	margin-top: 20px;
	width: 221px;
	height: 90px;
	margin-left: 19px;
	background-image: url(AL-home-bttmImage-right.jpg);
	background-repeat: no-repeat;
	float: right;
	clear: none;
	text-align: left;
}

/*Navigation Styles */
.topNav {
	padding-top: 43px;
	text-align: right;
	clear: none;
}

.topNavbak {
	padding-top: 43px;
	float: left;
	clear: none;
}

#navBar {
	clear: both;
	width: 940px;
	height: 25px;
	background-image: url(AL-nav-btnTile-default.gif);
	background-repeat: repeat-x;
}

.topnavBar {
	clear: both;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	line-height:11px;
	text-transform:none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top:0px;
	padding-bottom:0px;
	background-image:url(AL-nav-btnTile-default.gif); 
	background-repeat:repeat-x;
	vertical-align:middle;
	
	
}

a.footItem {
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	color: #0066CC;
	font-size: 1em;
	text-decoration: none;
}

a.footItem:hover {
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	color: #0066CC;
	font-size: 1em;
	text-decoration: underline;
}

a.footItem:visited {
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	color: #0066CC;
	font-size: 1em;
	text-decoration: none;
}

a.footItem:visited:hover {
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	color: #0066CC;
	font-size: 1em;
	text-decoration: underline;
}


a.subNav {
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	color: #58a1b3;
	font-size: 11px;
	line-height: 30px;
	text-decoration: none;
}

a.subNav:hover {
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	color: #58a1b3;
	font-size: 11px;
	text-decoration: underline;
	line-height: 30px;
}


/*Homepage Specific*/
.titleRss {
	color: #7f7f7f;
	font-size: 11px;
	border-bottom: 1px solid #e0e0e0;
	text-align: left;
	clear: both;
	padding-top: 14px;
	padding-bottom: 10px;
}

.newsItem {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e0e0e0;
	text-align: left;
}

.readMore {
	padding-top: 10px;
	text-align: left;
}

.spotlight {
	color: #ffffff;
	font-size: 11px;
	padding-top: 72px;
	padding-left: 32px;
}

/*Bradley New Elements*/
.homepageLeftColumn {
 padding-left: 0px;
 padding-right: 20px;
 width: 220px;
}
 
.homepageMidColumn {
 width: 460px;
}
 
.homepageRightColumn {
 padding-left: 20px;
 padding-right: 0px;
 width: 220px;
}
 
.homepageTitle {
 color: #666666;
 font-size: 1em;
 text-align: left;
 clear: both;
 padding-top: 0px;
 padding-bottom: 4px;
 font-weight:bold;
}

.homepageDate {
 font-family: Verdana,Arial,Helvetica,Sans Serif;
 font-size: 0.80em;
}
a.homepageLink {
 font-family: Verdana, Arial, Helvetica, Sans Serif;
 color:  #0066CC;
 font-size: 1em;
 text-decoration: none;
}

a.homepageLink:visited {
 font-family: Verdana, Arial, Helvetica, Sans Serif;
 color:  #0066CC;
 font-size: 1em;
 text-decoration: none;
}

a.homepageLink:hover {
 font-family: Verdana, Arial, Helvetica, Sans Serif;
 color:  #0066CC;
 font-size: 1em;
 text-decoration: underline;
}
 
.homepageSectionSpacer {
 clear: both;
 height: 24px;
}

.homepageItem{
 padding-bottom: 10px;
}
.homepageNewsItem{
 line-height: 14px;
 padding-bottom: 14px;
}
 

/* TOOL BAR */

/* Bar under border containing the page group dropdown and login, etc. buttons */


.wpsToolBar {
    font-size: 13px;
    background-color: #ffffff;
    color: #000000; 
    border-right: 0px none #8c604c;
    border-bottom: 0px solid #8c604c;
    border-left: 1px solid #8c604c;
    padding: 0px 8px 0px 8px;
    margin: 0px;
    text-decoration: none;
}

.wpsToolBarNotMiddle {
    font-size: 13px;
    background-color: #ffffff;
    color: #000000; 
    border-right: 0px none #8c604c;
    border-bottom: 0px solid #8c604c;
    border-left: 0px solid #8c604c;
    padding: 0px 8px 0px 8px;
    margin: 0px;
    text-decoration: none;
}

/* Bar under border containing the page group dropdown and login, etc. buttons */
.wpsToolBarIcon {
    font-size: xx-small;
    background-color: #ceb8ae;
    color: #8c604c; 
    border-right: 0px none #8c604c;
    border-bottom: 1px solid #8c604c;
    border-left: 1px solid #8c604c;
    padding: 0px 0px ;
    margin: 0px;
}

/* Bar under border containing the page group dropdown and login, etc. buttons */
.wpsToolBarIconOn {
    font-size: xx-small;
    background-color: #8c604c;
    color: #8c604c; 
    border-right: 0px none #8c604c;
    border-bottom: 1px solid #8c604c;
    border-left: 1px solid #8c604c;
    padding: 0px 0px;
    margin: 0px;
}

/* Link color for the text on the tool bar */
/*
.wpsToolBarLink, .wpsToolBarLink:visited, .wpsToolBarLink:hover, .wpsToolBarLink:active {
	*/
.wpsToolBarLink {
    font-size: 12px;
    color:#000000;
    text-decoration: none;
}

/* Vertical separator between tool bar and place bar */
.wpsToolBarSeparator {
    background-color: #FFFFFF;
}

/* Background for the banner.  Note that the background color is hidden from
   legacy browsers for consistency, not because it can't handle the attribute.
   New in v5 */
.wpsToolbarBannerBackground {
    background-color: #e1d0c9; 
    background-image: url("banner.jpg");
    background-position: left bottom;     
    background-repeat: repeat-x;
    padding: 0px 0px;
    margin: 0px;
}


/* LINK BAR */

/* Bar under toolbar that shows links to customizer and assign permissions portlets */
.wpsLinkBar {
    color: #3c2921;
    background-repeat: no-repeat;
}

/* Link color for the text which can be found on the place bar outside of tabs */
/*
.wpsLinkBarLink, .wpsLinkBarLink:visited, .wpsLinkBarLink:hover, .wpsLinkBarLink:active {
	*/
.wpsLinkBarLink {
    color:#3c2921;
    text-decoration: underline;
}



/* PLACE BAR */

/* Bar under toolbar that shows the places */
.wpsPlaceBar {
	/*
    background-color: #8c604c;
    color: #FFFFFF;
    background-repeat: no-repeat;
    border-bottom: 1px solid #ffffff;
    */
 }

/* Link color for the text which can be found on the place bar outside of tabs */
 /*
.wpsPlaceBarLink, .wpsPlaceBarLink:visited, .wpsPlaceBarLink:hover, .wpsPlaceBarLink:active {
	*/
.wpsPlaceBarLink {
    color:#87766f;
    text-decoration: none;
}

/* 3D highlight for Place bar */
.wpsPlaceBar3dHighlight {
    background-color: #FF00FF;
}

/* 3D shadow for Place bar */
.wpsPlaceBar3dShadow {
    background-color: #87766f; 
    text-decoration: none; 
    border-left: 0px none #8c604c;
    /*border-right: 1px solid #8c604c;*/
}

/* Selected tab on Place bar */

.wpsSelectedPlace { line-height:0.9em; padding:4px 8px 8px 8px; background-image:url(bgrd_topnav_systxt.gif); background-repeat:repeat-x; background-position: left bottom; text-align: center; vertical-align: bottom;}

.topNavBg { background-image:url(bgrd_topnav.gif); background-position: left bottom; background-repeat:repeat-x;}


/* Icon next to selected tab on Place bar, such as 'Edit Page' - new in v5 */
.wpsSelectedPlaceIcon {
    color: #333333;
    background-color: #FFFFFF;
    text-decoration: none; 
    border-left: 0px none #8c604c;
    border-right: 0px none #8c604c;
    padding: 0px 2px;
    margin: 0px;
}

/* Link in Selected tab on Place bar */
/*
.wpsSelectedPlaceLink, .wpsSelectedPlaceLink:visited, .wpsSelectedPlaceLink:hover, .wpsSelectedPlaceLink:active {
*/
/* see comment for wpsUnSelectedPlaceLink */
/*
.wpsSelectedPlaceLink {
    color: #333333;
    background-color: #FFFFFF;
    text-decoration: none; 
}
*/
.wpsSelectedPlaceLink, .wpsSelectedPlaceLink:visited { text-decoration:none; }
.wpsSelectedPlaceLink:hover { text-decoration:underline; }

/* 3D highlight on selected tab on Place bar */
.wpsSelectedPlace3dHighlight {
    /*background-color: #B6B7D3;*/
}

/* 3D shadow on selected tab on Place bar */
.wpsSelectedPlace3dShadow {
    /*background-color: #5D5E96;*/
}

/* Unselected tabs on Place bar */
/*
.wpsUnSelectedPlace, .wpsUnSelectedPlace:visited, .wpsUnSelectedPlace:hover, .wpsUnSelectedPlace:active {
*/
/* navoff -> wpsUnSelectedPlace
.navoff { padding:4px 10px 4px 10px; }
*/
.wpsUnSelectedPlace {height:30px; color:#FFFFFF; background-color:#747678; padding:4px 4px 8px 3px; vertical-align: bottom; text-align: center; border-right: 1px solid #ffffff;}
/*
.wpsUnSelectedPlace {
    color: #FFFFFF;
    background-color:#747678;
    text-decoration: none; 
    border-left: 0px none #8c604c;
    border-right: 1px solid #8c604c;
    padding: 2px 4px;
    margin: 0px;
    text-align: center;
}
*/

/* Link in Unselected tabs on Place bar */
/*
.wpsUnSelectedPlaceLink, .wpsUnSelectedPlaceLink:visited, .wpsUnSelectedPlaceLink:hover, .wpsUnSelectedPlaceLink:active {
*/
/*
in common.css, the unselected nav bar items have style of nound.
we may use nound elsewhere, so wpsUnSelectedPlaceLink does
not replace nound.  However we'll change wpsUnSelectedPlaceLink so
it matches nound.
*/
/*
.wpsUnSelectedPlaceLink {
    color: #FFFFFF;
    background-color: #994c29;
    text-decoration: none;
}
*/
.wpsUnSelectedPlaceLink{text-decoration:none;}
.wpsUnSelectedPlaceLink:visited {text-decoration:none; }
.wpsUnSelectedPlaceLink:hover { text-decoration:underline; color:#0000FF;}

/* 3D highlight on unselected tabs on Place bar */
.wpsUnSelectedPlace3dHighlight {
    /*background-color: #994c29;*/
}

/* 3D shadow on unselected tabs on Place bar */
.wpsUnSelectedPlace3dShadow {
    /*background-color: #994c29;*/
}

/* PAGE BAR */

/* Bar under place bar that shows the pages */  
.wpsPageBar {
    background-color: #e1d0c9;
    border-bottom: 1px solid #FFFFFF;
 }

/* Link color for the text which can be found on the page bar outside of tabs */
 /*
.wpsPageBarLink, .wpsPageBarLink:visited, .wpsPageBarLink:hover, .wpsPageBarLink:active {
*/
.wpsPageBarLink {
    text-decoration: none;
}

/* 3D highlight for Page bar */
.wpsPageBar3dHighlight {
    background-color: #FD8C3E;
}

/* 3D shadow for Page bar */
.wpsPageBar3dShadow {
    background-color: #9999BB; 
    text-decoration: none; 
    border-left: 0px none #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

/* Selected tab on Page bar */
/*
.wpsSelectedPage, .wpsSelectedPage:visited, .wpsSelectedPage:hover, .wpsSelectedPage:active {
*/
.wpsSelectedPage {
    color: #333333;
    background-color: #E5EFF7;
    text-decoration: none; 
    border-left: 0px none #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 2px 4px;
    margin: 0px;
}

/* Icon next to selected tab on Page bar, such as 'Edit Page' - new in v5 */
.wpsSelectedPageIcon {
    color: #333333;
    background-color: #E5EFF7;
    text-decoration: none; 
    border-left: 0px none #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 0px 2px;
    margin: 0px;
}

/* Link in Selected tab on Page bar */
/*
.wpsSelectedPageLink, .wpsSelectedPageLink:visited, .wpsSelectedPageLink:hover, .wpsSelectedPageLink:active {
*/
.wpsSelectedPageLink {
    color: #333333;
    background-color: #E5EFF7;
    text-decoration: none;
}

/* 3D highlight on selected tab on Page bar */
.wpsSelectedPage3dHighlight {
    background-color: #FD8C3E;
}

/* 3D shadow on selected tab on Page bar */
.wpsSelectedPage3dShadow {
    background-color: #B74405;
}

/* Unselected tabs on Page bar */
/*
.wpsUnSelectedPage, .wpsUnSelectedPage:visited, .wpsUnSelectedPage:hover, .wpsUnSelectedPage:active {
*/
.wpsUnSelectedPage {
    color: #4D4348;
    background-color: #C3CDD9;
    text-decoration: none; 
    border-left: 0px none #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 2px 4px;
    margin: 0px;
}

/* Link in Unselected tabs on Page bar */
/*
.wpsUnSelectedPageLink, .wpsUnSelectedPageLink:visited, .wpsUnSelectedPageLink:hover, .wpsUnSelectedPageLink:active {
*/
.wpsUnSelectedPageLink {
    color: #4D4348;
    background-color: #C3CDD9;
    text-decoration: none;
}

/* 3D highlight on unselected tabs on Page bar */
.wpsUnSelectedPage3dHighlight {
    background-color: #FD8C3E;
}

/* 3D shadow on unselected tabs on Page bar */
.wpsUnSelectedPage3dShadow {
    background-color: #B74405;
}


/******************************************************************************/
/* Styles used in the skins                                                   */
/* These styles need to be defined in all themes for proper skin operation.   */
/******************************************************************************/

/* TREE NAVIGATION */

/* Selected branch in the tree navigation control - New in v5.0 */
/*
.wpsNavSelectedBranch, .wpsNavSelectedBranch:visited, .wpsNavSelectedBranch:hover, .wpsNavSelectedBranch:active {
*/
.wpsNavSelectedBranch {
    color: #8c604c;
    background-color: #ffffff;
    text-decoration: none;
}

/* Selected node in the tree navigation control - New in v4.2 */
/*
.wpsNavSelectedNode, .wpsNavSelectedNode:visited, .wpsNavSelectedNode:hover, .wpsNavSelectedNode:active {
*/
.wpsNavSelectedNode {
    color: #8c604c;
    background-color: #ffffff;
    text-decoration: none;
}

/* Unselected node in the tree navigation control - New in v4.2 */
/*
.wpsNavUnSelectedNode, .wpsNavUnSelectedNode:visited, .wpsNavUnSelectedNode:hover, .wpsNavUnSelectedNode:active {
*/
.wpsNavUnSelectedNode {
    color: #8c604c;
    background-color: #e1d0c9;
    text-decoration: none;
}

/* Unselectable node in the tree navigation control - New in v4.2 */
/*
.wpsNavUnSelectableNode, .wpsNavUnSelectableNode:visited, .wpsNavUnSelectableNode:hover, .wpsNavUnSelectableNode:active {
*/
.wpsNavUnSelectableNode {
    color: #8c604c;
    background-color: #e1d0c9;
    text-decoration: none;
}

/* Top level node in the tree navigation control - New in v4.2 */
.wpsNavLevel1 {
    font-weight: bold;
}

/* Size of icon on navigation node - such as show tools' edit icon - New in v5 */
.wpsNavNodeIcon {
    width: 16px;
    height: 16px;
}

/* Size of expand/collapse icon - New in v5 */
.wpsNavExpandCollapseIcon {
    width: 14px;
    height: 14px;
}


/* PORTLET TITLE */

/* used on portlet titlebar */
.wpsPortletTitle {
    background-color: #e1d0c9;
    color: #333333;
}

/* Used around portlet contents in the skin - New in v5.1
   Generally, this style only has a left bottom and right border turned on.
   Not all skins use this style.
*/
.wpsPortletBorder {
    border-width: 0px 1px 1px 1px;
    border-color: #e1d0c9;
    border-style: solid;
}

/* used on the background of portlet skin icons - New in v5 */
.wpsPortletTitleIconBackground {
    background-color: #ceb8ae;
    color: #FFFFFF;
    border-left: 1px solid #FFFFFF;
}

/* used on the background of portlet skin tools icons - New in v5 */
.wpsPortletTitleToolsIconBackground {
    background-color: #8c604c;
    color: #FFFFFF;
    border-left: 1px solid #FFFFFF;
}

/* Size of portlet titlebar icon - New in v5 */
.wpsPortletTitleIcon {
    width: 12px;
    height: 12px;
}

/* Non-standard sized portlet titlebar icon - New in v5 */
/* Use this style if your skin icons aren't 12 x 12 px.  This still enables resizing of the
   icons via CSS for accessibility. When scaling non-standard sized icons, you don't know the
   original size so it will look irregular.  Use em units for scaling to make the size relative
   to the font size. By default, this style has no definition. */
.wpsPortletTitleIconNonStandardSize, .wpsPortletTitleToolsIconNonStandardSize {
}


/******************************************************************************/
/* Styles for special portlets                                                */
/* These styles are reserved for IBM administrative portlets.                 */
/* General portlets should not use these styles as they are subject to change.*/
/******************************************************************************/

/* ADMINISTRATION PORTLETS */

/* Header bar and task manager selected tab*/
.wpsTableAdminHead {
    color: #333333;
    background-color: #CCCCCC;
}

/* Color for separator lines - matches icon background */
.wpsAdminHeadSeparator {
    background-color: #999999;
}

/* Status Message display - New in v5 */
.wpsStatusMsg {
    color: #000000;
    background-color: #FFFFFF;
    margin: 0px; 
    border: solid 1px #b0a8a8;
}


/* WELCOME/INSTRUCTION PORTLET */

/* Text for the welcome/instruction portlet - New in v5 */
/* General portlets should not use this style since it may be deleted in a future release. */
.wpsInstructionText {
    color: #7C655F;
    margin: 0.6em 0px 0px 0px;
}

/* Text that is emphasized in the welcome/instruction portlet - New in v5 */
/* General portlets should not use this style since it may be deleted in a future release. */
.wpsInstructionText em {
     font-weight: bold;
     font-style: normal;
     color: #D84300;
}

/* Reduces space between paragraphs in the welcome/instruction portlet - New in v5 */
/* General portlets should not use this style since it may be deleted in a future release. */
.wpsInstructionHeadText {
     font-weight: bold;
     font-size: small;
     color: #7C655F;
}


/******************************************************************************/
/* Styles used in portlets                                                    */
/*                                                                            */
/*   Portlets should only use styles in this section.                         */
/*   They should not use any of the styles defined in other sections.         */
/******************************************************************************/


/* INDENT STYLES - New in v5 */

/* Padding left of 4px - New in v5 */
.wpsIndentXSmall {
        padding-left: 4px; 
}

/* Padding left of about 8px - half the width of small size icon - New in v5 */
.wpsIndentSmall {
        padding-left: 8px; 
}

/* Padding left of 16px - width of small size icon - New in v5 */
.wpsIndentMedium {
        padding-left: 16px; 
}

/* Padding left of 32px - width of normal size icon - New in v5 */
.wpsIndentLarge {
        padding-left: 32px; 
}

/* Padding left of about 48px - New in v5 */
.wpsIndentXLarge {
        padding-left: 48px; 
}


/* PORLTET ACTION BUTTONS */

/* Text for tasks on header bar. Note that the text color is hidden from
   legacy browsers for consistency, not because it can't handle the attribute.
   New in v5 */
.wpsTaskIconText, .portlet-dlg-icon-label {
    font-weight: bold;
    color: #4D342E; 
    white-space: nowrap;
}

/* Text for disabled tasks on header bar. Note that the text color is hidden from
   legacy browsers for consistency, not because it can't handle the attribute. 
   New in v5 */
.wpsTaskDisabledIconText {
    font-weight: bold;
    white-space: nowrap;
    color: #A69985; 
}

/*
 Table surrounding the task on header bar. This style is present to disable the border="1" in
 the markup which was necessary to support legacy browsers.
 New in v5 */
.wpsTaskIconBorderTable, .wpsTaskDisabledIconBorderTable {
    border: 0px;
}

/* Background behind the task icon text.  Note that the background color is hidden from
   legacy browsers for consistency, not because it can't handle the attribute.
   New in v5 */
.wpsTaskIconTextBackground {
    background-color: #DBD3C5; 
    background-image: url("ButtonBackground.gif");
    background-repeat: repeat-x;
    background-position: left center;     
    border: 1px solid #804A3D;
    padding: 2px 4px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

/* Background behind the disabled task icon text.  Note that the background color is hidden from
   legacy browsers for consistency, not because it can't handle the attribute. 
   New in v5 */
.wpsTaskDisabledIconTextBackground {
    background-color: #DBD3C5; 
    background-image: url("ButtonBackground.gif");
    background-repeat: repeat-x;
    background-position: left center;     
    border: 1px solid #A69985;
    padding: 2px 4px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

/* Text labels for icons in portlet body - New in v5 */
.wpsDialogIconText, .portlet-icon-label {
    color: #4D342E;
}

/* Text labels for disabled icons in portlet body */
.wpsDialogDisabledIconText {
    color: #A69985;
}

/* Background for dialog icon - New in v5 */
.wpsDialogIconBackground {
    text-align: center;
    vertical-align: middle;
    background-color: #DBD3C5;
    background-image: url("DialogIconBackground.gif");
    background-repeat: repeat-x;
    background-position: left center; 
    border-top: 1px solid #804A3D;
    border-right: 0px none #804A3D;
    border-bottom: 1px solid #804A3D;
    border-left: 1px solid #804A3D;
    padding: 0px 0px;
    margin: 0px;
}

/* Background for dialog icon text - New in v5 */
.wpsDialogIconTextBackground {
    text-align: center;
    vertical-align: middle;
    background-color: #DBD3C5; 
    background-image: url("DialogIconTextBackground.gif");
    background-repeat: repeat-x;
    background-position: left center; 
    border-top: 1px solid #804A3D;
    border-right: 1px solid #804A3D;
    border-bottom: 1px solid #804A3D;
    border-left: 0px none #804A3D;
    padding: 2px 4px;
    margin: 0px;
    white-space: nowrap;
}

/* Background for disabled dialog icon - New in v5 */
.wpsDialogDisabledIconBackground {
    text-align: center;
    vertical-align: middle;
    background-color: #DBD3C5;
    background-image: url("DialogIconBackground.gif");
    background-repeat: repeat-x;
    background-position: left center; 
    border-top: 1px solid #A69985;
    border-right: 0px none #A69985;
    border-bottom: 1px solid #A69985;
    border-left: 1px solid #A69985;
    padding: 0px 0px;
    margin: 0px;
}

/* Background for dialog icon text - New in v5 */
.wpsDialogDisabledIconTextBackground {
    text-align: center;
    vertical-align: middle;
    background-color: #DBD3C5; 
    background-image: url("DialogIconTextBackground.gif");
    background-repeat: repeat-x;
    background-position: left center; 
    border-top: 1px solid #A69985;
    border-right: 1px solid #A69985;
    border-bottom: 1px solid #A69985;
    border-left: 0px none #A69985;
    padding: 2px 4px;
    margin: 0px;
    white-space: nowrap;
}

/* Size of icon on a dialog button - New in v5 */
.wpsDialogIcon {
    width: 16px;
    height: 16px;
}

/* Button bar area at top and bottom of portlet - New in v5 */
.wpsButtonBarTop, .wpsButtonBarBottom {
    background-color: #DFDFDF; 
}


/* PORTLET BACKGROUNDS AND TEXT STYLES */

/* Standard background for portlet */
.wpsPortletBack {
    background-color: #FFFFFF;
}

/* Background for portlet in edit and configure mode */
.wpsEditBack, .wpsConfigureBack {
    background-color: #FFFFFF;
}

/* Panel background for portion of advanced options - New in v5 */
.wpsAdvancedOptions { 
    background-color: #e4e4e4;
    border: solid 1px #4A4A4A;
    margin-left: 10px;
}

/* Background with emphasis color for portlet */
.wpsPortletColorBack {
    background-color: #CCCCCC;
}

/* Text for header in standard portlet and portlet in edit mode */
.wpsPortletHead, .wpsEditHead {
    font-weight: bold;
    color: #333333;
}

/* Text for section header in standard portlet and portlet in edit mode - New in v5 */
.portlet-section-header {
    font-weight: bold;
    color: #333333;
}

/* Text in body of standard portlet and portlet in edit mode - New in v5 */
.wpsPortletText, .wpsEditText, .wpsPortletSmText, .wpsEditSmText, .wpsPortletTinyText, .portlet-font {
    color: #333333;
}

/* Text for copyright information - New in v5 */ 
.wpsCopyrightText {
    font-size: xx-small;
    color: #999999;
}

/* Main portlet body style */
.wpsPortletBody, .portlet-section-body {
}

.portlet-section-alternate {
}

.portlet-section-selected {
}

.portlet-section-footer {
}

/* Text of a subheading - New in v5 */
.portlet-section-subheader {
    color: #333333;
}

/* PORTLET TABLES */

/* Text in row of table header */
.wpsTableHead {
    font-weight: bold;
    color: #989898;
    text-align: left;
}

/* Spacing around table header text */
.wpsTableHead th {
	padding: 3px;
}

/* Standard text within table - New in v5 */
.wpsTableText, portlet-table-text {
}

/* Standard table row */
.wpsTableRow, .wpsTableNrmRow {
    color: #333333;
    background-color: #ffffff;
}

/* Text in a selected cell range - New in v5 */
.wpsTableSelectedRow, .portlet-table-selected {
    color: #333333;
    background-color: #decaa7;
}

/* Shaded table row - used to alternate row colors with standard row - New in v5 */
/* For the v5 look, we have intentionally disabled alternating shaded table rows because
   we have lines between the rows.  However, Netscape 4.x cannot display borders
   properly so we still use the alternating shaded rows on legacy browsers. */
.wpsTableShdRow, .portlet-table-alternate {
    color: #333333;
}

/* Backward compatibility style to get lines between rows for WPS 4.x portlet tables - New in v5 */
/* Do not specify anything in these styles that you don't have to specify.  Because of CSS priorities,
   these styles will override any CSS on the actual <td> tag that isn't marked ! important. */
.wpsTableRow td, .wpsTableNrmRow td, .wpsTableShdRow td {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #aaaaaa;
    padding: 3px;
}


/* Text links in table header row */
/*
.wpsTableHeadLink, .wpsTableHeadLink:visited, .wpsTableHeadLink:hover, .wpsTableHeadLink:active {
*/
.wpsTableHeadLink {
    font-weight: bold;
    color: #989898;
}

/* Top-level table tag of table - New in v5 */
.wpsTable {
    border-width: 1px;
    border-style: solid;
    border-color: #aaaaaa;
}

.wpsTable td {
	vertical-align:top;
}

/* Styles for left, middle and right cells of the header row - New in v5 */
.wpsTableHeadStart, .wpsTableHeadMiddle, .wpsTableHeadEnd, portlet-table-header {
    font-weight: bold;
    color: #989898;
    text-align: left;
    background-color: #ffffff;
    border-width: 0px 0px 0px 0px;
    border-style: none;
    border-color: #aaaaaa;
}

/* Styles for left, middle and right cells of the header row where the text is center aligned. - New in v5 */
.wpsTableHeadStartAlignCenter, .wpsTableHeadMiddleAlignCenter, .wpsTableHeadEndAlignCenter {
    font-weight: bold;
    color: #989898;
    text-align: center;
    background-color: #ffffff;
    border-width: 0px 0px 0px 0px;
    border-style: none;
    border-color: #aaaaaa;
}

/* Styles for the left, middle and right cells of the header row where the column contains numeric data. - New in v5 */
.wpsTableHeadStartNumeric, .wpsTableHeadMiddleNumeric, .wpsTableHeadEndNumeric {
    font-weight: bold;
    color: #989898;
    text-align: right;
    background-color: #ffffff;
    border-width: 0px 0px 0px 0px;
    border-style: none;
    border-color: #aaaaaa;
}

/* Styles for the left, middle, and right cells of a data row. - New in v5 */
/* ! important is on some of these attributes to override the backward compatibility styles
   .wpsTableRow td, .wpsTableNrmRow td, .wpsTableShdRow td */
.wpsTableDataStart, .wpsTableDataMiddle, .wpsTableDataEnd, portlet-table-body {
    text-align: left;
    border-width: 1px 0px 0px 0px ! important;
    border-style: solid ! important;
    border-color: #aaaaaa ! important;
}

/* Styles for the left, middle and right cells of a data row where the text is center aligned. - New in v5 */
/* ! important is on some of these attributes to override the backward compatibility styles
   .wpsTableRow td, .wpsTableNrmRow td, .wpsTableShdRow td */
.wpsTableDataStartAlignCenter, .wpsTableDataMiddleAlignCenter, .wpsTableDataEndAlignCenter {
    text-align: center;
    border-width: 1px 0px 0px 0px ! important;
    border-style: solid ! important;
    border-color: #aaaaaa ! important;
}

/* Styles for the left, middle and right cells of a data row where the data in the column is numeric. - New in v5 */
/* ! important is on some of these attributes to override the backward compatibility styles
   .wpsTableRow td, .wpsTableNrmRow td, .wpsTableShdRow td */
.wpsTableDataStartNumeric, .wpsTableDataMiddleNumeric, .wpsTableDataEndNumeric {
    text-align: right;
    border-width: 1px 0px 0px 0px ! important;
    border-style: solid ! important;
    border-color: #aaaaaa ! important;
}

.portlet-table-footer{
}


/* PORTLET PAGING TABLES */

/* Styles for the top-level table tag and the cells containing the header, footer, and table body. - New in v5 */
.wpsPagingTable, .wpsPagingTableHeader, .wpsPagingTableFooter, .wpsPagingTableBody {
    border: 0px;
}

/* The size of icons in the paging header or footer - New in v5 */
.wpsPagingTableHeaderIcon, .wpsPagingTableFooterIcon {
    width: 16px;
    height: 16px;
}

/* The leftmost cell of the paging table header - New in v5 */
.wpsPagingTableHeaderStart {
    background-color: #decaa7;
    border-top: 1px solid #aaaaaa;
    border-right: 0px none #aaaaaa;
    border-bottom: 0px none #aaaaaa;
    border-left: 1px solid #aaaaaa;
}

/* All cells in the middle of the paging table header - New in v5 */
.wpsPagingTableHeaderMiddle {
    background-color: #decaa7;
    border-top: 1px solid #aaaaaa;
    border-right: 0px none #aaaaaa;
    border-bottom: 0px none #aaaaaa;
    border-left: 0px none #aaaaaa;
}

/* The rightmost cell of the paging table header - New in v5 */
.wpsPagingTableHeaderEnd {
    background-image: url("PagingTableTopRight.gif");
    background-repeat: no-repeat;
    background-position: right top;
    background-color: transparent;
}

/* The leftmost cell of the paging footer - New in v5 */
.wpsPagingTableFooterStart {
    background-color: #decaa7;
    border-top: 0px none #aaaaaa;
    border-right: 0px none #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
}

/* All cells in the middle of the paging table footer - New in v5 */
.wpsPagingTableFooterMiddle {
    background-color: #decaa7;
    border-top: 0px none #aaaaaa;
    border-right: 0px none #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    border-left: 0px none #aaaaaa;
}

/* The rightmost cell of the paging table footer - New in v5 */
.wpsPagingTableFooterEnd {
    background-image: url("PagingTableBottomRight.gif");
    background-repeat: no-repeat;
    background-position: right bottom; 
    background-color: transparent;
}

/* Added to the rightmost cell of the paging table header (only if no data in paging header) - New is v5.1 */
.wpsPagingTableHeaderEmpty {
	height:7px;
	width:7px;
	line-height:1px;
}

/* new style to allow for a second detail line in a row - New in v5.1 */
.wpsTableRowDetail td {
	border-width:0px;
   	text-align: left;
   	border-width: 0px ! important;
	padding:2px 3px 5px 3px;
}

/* new style for a section header row - New in v5.1 */
.wpsTableSectionHead, portlet-table-subheader {
    font-weight: bold;;
    color: #000000;
    text-align: left;
}

/* new style for a section header row - New in v5.1 */
.wpsTableSectionHead th {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #aaaaaa;
    padding: 3px 0 3px 5px;
}

/* new style to make the border of the top row stronger - New in v5.1 */
.wpsTableTopRow td {
    border-color: #aaaaaa ! important;
}

/* Added to the rightmost cell of the paging table header (only if no data in paging header) - New is v5.1 */
.wpsPagingTableHeaderEmpty {
	height: 7px;
	width: 7px;
	line-height: 1px;
}

/* new style to allow for a second detail line in a row - New in v5.1 */
.wpsTableRowDetail td {
	border-width: 0px;
   	text-align: left;
   	border-width: 0px ! important;
	padding: 2px 3px 5px 3px;
}

/* PORTLET FORM-RELATED TEXT STYLES */

/* Size of Radio buttons and Checkboxes - New in v5.1 */
.wpsCompactCheckBox, .wpsCompactRadioButton {
   height: 16px;
   margin-top: 0px;
   margin-bottom: 0px;
}

/* Text for form entryfields - New in v5 */
.wpsEditField, .portlet-form-input-field {
    border: 1px solid #999999;
}

/* Text for form buttons - New in v5 */
.wpsButtonText, .portlet-form-button { 
    font-weight: bold;
    color: #4D342E;
    background-color: #DBD3C5; 
    background-image: url("ButtonBackground.gif");
    background-repeat: repeat-x;
    background-position: left center; 
    border: 1px solid #804A3D;
    padding: 2px 4px;
    margin: 0px;
    text-align: center;
}

/* Text for disabled form buttons - New in v5 */
.wpsButtonDisabledText { 
    font-weight: bold;
    color: #A69985;
    background-color: #DBD3C5; 
    background-image: url("ButtonBackground.gif");
    background-repeat: repeat-x;
    background-position: left center; 
    border: 1px solid #A69985;
    padding: 2px 4px;
    margin: 0px;
    text-align: center;
}

/* Text for form browse button <input type="file" ...> - New in v5 */
.wpsBrowseButton {
}

/* Text for form element labels - New in v5 */
/* The wpsRequiredLabelText style should also used on the text explaining that the field is required even if it is in a footnote. */
.wpsLabelText, .portlet-form-field, .portlet-form-field-label, wpsRequiredLabelText {
    color: #333333;
}

/* Strong text in form element labels where a value is required - New in v5 */
.wpsRequiredLabelText strong {
    color: #ff0000;
}

/* Text for form element descriptions - New in v5 */
.wpsDescriptionText, .portlet-font-dim {
    color: #808080;
}

/* Text used for the descriptive label of the whole form (not the labels for fields) - New in v5 */
.portlet-form-label {
    color: #333333;
}


/* PORTLET MESSAGE AND INLINE HELP TEXT STYLES */

/* Text for error messages - New in v5 */
.wpsFieldErrorText, .portlet-msg-error {
    color: #C83030;
}

/* Text for warning messages - New in v5 */
.wpsFieldWarningText, .portlet-msg-alert {
    color: #333333;
}

/* Text for success messages - New in v5 */
.wpsFieldSuccessText, .portlet-msg-success {
    color: #333333;
}

/* Text for information messages -New in v5 */
.wpsFieldInfoText, .portlet-msg-info {
    color: #999999;
}

/* Text for inline help information - New in v5 */
.wpsInlineHelpText, .portlet-section-text {
    color: #666666;
}

/* Text for status messages such as "Progress: 80%" - New in v5 */
.portlet-msg-status {
    color: #333333;
}

/* Monospaced text for listboxes and other fields where columns need to line up - New in v5 */
.wpsFieldMonospaced {
    font-family: monospace;
    font-size: x-small;
}

/* Text to flag a line item such as with the text "new" - New in v5.1 */
.wpsFlagText {
   font-size: xx-small;
   color: #FF0000;
}

/* PORTLET MENUS */

/* General menu settings such as background color, margins, etc. - New in v5 */
.portlet-menu {
	background-color: #EEEEEE;  
	border-style: solid;
	border-color: #333333; 
	border-width: 1px;
    padding: 3px;
}

/* Normal, unselected menu item - New in v5 */
.portlet-menu-item {
	background-color: #EEEEEE;
	border-style: solid;
	border-color: #333333;
	border-width: 1px;
    padding: 3px;
}

/* Selected menu item - New in v5 */
.portlet-menu-item-selected {
	background-color: #aaaaaa;
	border-style: solid;
	border-color: #333333;
	border-width: 1px;
    padding: 3px;
}

/* Normal, unselected menu item when the mouse hovers over it - New in v5 */
.portlet-menu-item-hover {
	background-color: #cccccc;
	border-style: solid;
	border-color: #333333;
	border-width: 1px;
    padding: 3px;
}

/* Selected menu item when the mouse hovers over it - New in v5 */
.portlet-menu-item-hover-selected {
	background-color: #cccccc;
	border-style: solid;
	border-color: #333333;
	border-width: 1px;
    padding: 3px;
}

/* Normal, unselected menu item that has sub-menus - New in v5 */
.portlet-menu-cascade-item {
	background-color: #eeeeee;
   	border-style: solid;
	border-color: #333333;
	border-width: 1px;
    padding: 3px 3px 3px 3px;
}

/* Normal, unselected menu item that has sub-menus - New in v5 */
.portlet-menu-cascade-item-selected {
	background-color:#cccccc;
    border-style: solid;
	border-color: #333333;
	border-width: 1px;
    padding: 3px 3px 3px 3px;
}

/* Descriptive text for the menu (e.g. in a help context below the menu) - New in v5 */
.portlet-menu-description {
}

/* Menu caption - New in v5 */
.portlet-menu-caption {
	border-style: solid;
	border-color: #333333; 
	border-width: 1px;
}


/* PORTLET TABS */

/* Bar area on which tabs are displayed - New in v5 */
.wpsPortletTabBar { 
}

/* Area separating the tabs from the items below the tabs - New in v5 */
.wpsPortletTabBarSeparator {
    background-color: #bfa687;
    margin: 0px;
    padding: 0px;
    height: 3px;
}

/* The table displaying all of the tabs - New in v5 */
.wpsPortletTabSet {
    border: 0px;
    background-color: transparent;
}

/* The area of the tab set where the unselected tabs are displayed - New in v5 */
/*
.wpsPortletTab {
    border: 0px;
    background-color: transparent;
}
*/
/* RGA version */
/* comment out by cheng it is a same style sheet in comment.css
.wpsPortletTab { background-color:#707576; padding:6px 6px 6px 10px; border-bottom:1px solid #dddddd; }
*/
/* The area of the tab set where the selected tab is displayed - New in v5 */
/*
.wpsPortletSelectedTab {
    border: 0px;
    background-color: transparent;
}
*/
/* RGA version follows */
/* comment out by cheng it is a same style sheet in comment.css
.wpsPortletSelectedTab { background-color:#ffffff; padding:6px 6px 6px 10px;  border-top:1px solid #dddddd; border-left:1px solid #dddddd; border-right:1px solid #dddddd; }
*/
/* The top left cell of a 9 x 9 table displaying the unselected tab - New in v5 */
.wpsPortletTabTopStart {
    background-color: #f1e3ca;
    border-top: 1px solid #bfa687;
    border-right: 0px none #bfa687;
    border-bottom: 0px none #bfa687;
    border-left: 1px solid #bfa687;
    padding: 0px 2px 0px 2px;
    width: 5px;
    height: 5px;
}

/* The top center cell of a 9 x 9 table displaying the unselected tab - New in v5 */
.wpsPortletTabTopCenter {
    background-color: #f1e3ca;
    border-top: 1px solid #bfa687;
    border-right: 0px none #bfa687;
    border-bottom: 0px none #bfa687;
    border-left: 0px none #bfa687;
}

/* The top right cell of a 9 x 9 table displaying the unselected tab - New in v5 */
.wpsPortletTabTopEnd {
    background: url("PortletTabTopRight.gif");
    background-repeat: no-repeat;
    background-position: right top;
    border-style: none;
    background-color: transparent;
    padding: 0px 2px 0px 2px;
    width: 5px;
    height: 5px;
}

/* The middle left cell of a 9 x 9 table displaying the unselected tab - New in v5 */
.wpsPortletTabMiddleStart {
    background-color: #f1e3ca;
    border-top: 0px none #bfa687;
    border-right: 0px none #bfa687;
    border-bottom: 0px none #bfa687;
    border-left: 1px solid #bfa687;
}

/* The center cell of a 9 x 9 table displaying the unselected tab.  The tab text is displayed in this cell. - New in v5 */
.wpsPortletTabMiddleCenter {
    background-color: #f1e3ca;
    white-space: nowrap;
    border-style: none;
}

/* The middle right cell of a 9 x 9 table displaying the unselected tab - New in v5 */
.wpsPortletTabMiddleEnd {
    background-color: #f1e3ca;
    border-top: 0px none #bfa687;
    border-right: 1px solid #bfa687;
    border-bottom: 0px none #bfa687;
    border-left: 0px none #bfa687;
}

/* The bottom left cell of a 9 x 9 table displaying the unselected tab - New in v5 */
.wpsPortletTabBottomStart {
    background-color: #f1e3ca;
    border-top: 0px none #bfa687;
    border-right: 0px none #bfa687;
    border-bottom: 0px none #bfa687;
    border-left: 1px solid #bfa687;
    width: 5px;
    height: 5px;
}

/* The bottom center cell of a 9 x 9 table displaying the unselected tab - New in v5 */
.wpsPortletTabBottomCenter {
    background-color: #f1e3ca;
    border-style: none;
}

/* The bottom right cell of a 9 x 9 table displaying the unselected tab - New in v5 */
.wpsPortletTabBottomEnd {
    background-color: #f1e3ca;
    border-top: 0px none #bfa687;
    border-right: 1px solid #bfa687;
    border-bottom: 0px none #bfa687;
    border-left: 0px none #bfa687;
    width: 5px;
    height: 5px;
}


/* The top left cell of a 9 x 9 table displaying the selected tab - New in v5 */
.wpsPortletSelectedTabTopStart {
    background-color: #bfa687;
    border-top: 1px solid #bfa687;
    border-right: 0px none #bfa687;
    border-bottom: 0px none #bfa687;
    border-left: 1px solid #bfa687;
    padding: 0px 2px 0px 2px;
    width: 5px;
    height: 5px;
}

/* The top center cell of a 9 x 9 table displaying the selected tab - New in v5 */
.wpsPortletSelectedTabTopCenter {
    background-color: #bfa687;
    border-top: 1px solid #bfa687;
    border-right: 0px none #bfa687;
    border-bottom: 0px none #bfa687;
    border-left: 0px none #bfa687;
}

/* The top right cell of a 9 x 9 table displaying the selected tab - New in v5 */
.wpsPortletSelectedTabTopEnd {
    background: url("PortletSelectedTabTopRight.gif");
    background-repeat: no-repeat;
    background-position: right top;
    border-style: none;
    background-color: transparent;
    padding: 0px 2px 0px 2px;
    width: 5px;
    height: 5px;
}

/* The middle left cell of a 9 x 9 table displaying the selected tab - New in v5 */
.wpsPortletSelectedTabMiddleStart {
    background-color: #bfa687;
    border-top: 0px none #bfa687;
    border-right: 0px none #bfa687;
    border-bottom: 0px none #bfa687;
    border-left: 1px solid #bfa687;
}

/* The center cell of a 9 x 9 table displaying the selected tab. The tab text is displayed in this cell. - New in v5 */
.wpsPortletSelectedTabMiddleCenter {
    background-color: #bfa687;
    border-style: none;
    white-space: nowrap;
}

/* The middle right cell of a 9 x 9 table displaying the selected tab - New in v5 */
.wpsPortletSelectedTabMiddleEnd {
    background-color: #bfa687;
    border-top: 0px none #bfa687;
    border-right: 1px solid #bfa687;
    border-bottom: 0px none #bfa687;
    border-left: 1px solid #bfa687;
}

/* The bottom left cell of a 9 x 9 table displaying the selected tab - New in v5 */
.wpsPortletSelectedTabBottomStart {
    background-color: #bfa687;
    border-top: 0px none #bfa687;
    border-right: 0px none #bfa687;
    border-bottom: 0px none #bfa687;
    border-left: 1px solid #bfa687;
    width: 5px;
    height: 5px;
}

/* The bottom center cell of a 9 x 9 table displaying the selected tab - New in v5 */
.wpsPortletSelectedTabBottomCenter {
    background-color: #bfa687;
    border-style: none;
}

/* The bottom right cell of a 9 x 9 table displaying the selected tab - New in v5 */
.wpsPortletSelectedTabBottomEnd {
    background-color: #bfa687;
    border-top: 0px none #bfa687;
    border-right: 1px solid #bfa687;
    border-bottom: 0px none #bfa687;
    border-left: 0px none #bfa687;
    width: 5px;
    height: 5px;
}

/* Link for tab text - New in v5 */
/*
.wpsPortletTabLink, .wpsPortletTabLink:visited, .wpsPortletTabLink:active, .wpsPortletTabLink:hover {
*/
.wpsPortletTabLink {
    color: #333333;
}

/* Link for selected tab text - New in v5 */
/*
.wpsPortletSelectedTabLink, .wpsPortletSelectedTabLink:hover, .wpsPortletSelectedTabLink:visited, .wpsPortletSelectedTabLink:active {
*/
.wpsPortletSelectedTabLink {
    color: #ffffff;
}


/* PORTLET TOOLBARS */

/* Bar area on which tools are displayed - New in v5 */
.wpsPortletToolbar {
    background-color: #decaa7;
    border-top: 1px solid #f1e3ca;
    border-right: 1px solid #bfa687;
    border-bottom: 1px solid #bfa687;
    border-left: 1px solid #f1e3ca;
}

/*
 Section of the toolbar.  Usually there is only one.
 For the most part, this style is present to disable the border="1" in
 the markup which was necessary to support legacy browsers.
 New in v5 */
.wpsPortletToolbarSection {
   border-width: 0px;
}

/* Table displaying the tools in this section */
.wpsPortletToolbarSet {
}

/* A normal toolbar button */
.wpsPortletToolbarButton {    
    background-color: #decaa7;
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #decaa7;
}

/* A toolbar button with the mouse hovering over it */
.wpsPortletToolbarButtonRollover {
    background-color: #decaa7;
    padding: 3px;
    border-top: 1px solid #f1e3ca;
    border-right: 1px solid #bfa687;
    border-bottom: 1px solid #bfa687;
    border-left: 1px solid #f1e3ca;
}

/* A toolbar button with the mouse button pressed or selected */
.wpsPortletToolbarButtonPressed {
    background-color: #e3d4bb;
    padding: 3px;
    border-top: 1px solid #bfa687;
    border-right: 1px solid #f1e3ca;
    border-bottom: 1px solid #f1e3ca;
    border-left: 1px solid #bfa687;
}

/* A selected toolbar button */
.wpsPortletToolbarButtonSelected {
    background-color: #c0ad95;
    padding: 3px;
    border-top: 1px solid #bfa687;
    border-right: 1px solid #f1e3ca;
    border-bottom: 1px solid #f1e3ca;
    border-left: 1px solid #bfa687;
}

/* A toolbar button with the mouse hovering over it */
.wpsPortletToolbarButtonSelectedRollover {
    background-color: #c0ad95;
    padding: 3px;
    border-top: 1px solid #f1e3ca;
    border-right: 1px solid #bfa687;
    border-bottom: 1px solid #bfa687;
    border-left: 1px solid #f1e3ca;
}

/* An icon displayed on a toolbar button */
.wpsPortletToolbarButtonIcon {
    width: 16px;
    height: 16px;
}

/* A toolbar area displaying non-button controls such as text, or a dropdown */
.wpsPortletToolbarControl {
    padding: 3px;
}

/* Text on the toolbar */
.wpsPortletToolbarText {
    color: #333333;
}

/* Disabled text on the toolbar */
.wpsPortletToolbarDisabledText {
    color: #999999;
}

/* A link on the toolbar */
/*
.wpsPortletToolbarLink, .wpsPortletToolbarLink:hover, .wpsPortletToolbarLink:visited, .wpsPortletToolbarLink:active {
*/
.wpsPortletToolbarLink {
    color: #333333;
}


/* A separator between groups of toolbar items */
.wpsPortletToolbarSeparator {
    background-color: #bfa687;
    width: 1px;
    margin: 0px;
    padding: 0px;
    border-top: 0px none #bfa687;
    border-right: 1px solid #f1e3ca;
    border-bottom: 0px none #f1e3ca;
    border-left: 0px none #bfa687;
}

/* A spacer between groups of toolbar items  */
.wpsPortletToolbarSpacer {
    padding: 0px 2px 0px 2px; 
}

/* A separator between groups of toolbar items */
.wpsPortletToolbarHandle {
    background-color: #decaa7;
    padding: 0px;
    margin: 0px;
    width: 1px;
    border-top: 1px solid #f1e3ca;
    border-right: 1px solid #bfa687;
    border-bottom: 1px solid #bfa687;
    border-left: 1px solid #f1e3ca;
}


/* BREADCRUMB TRAILS */

/* Area on which breadcrumb trails are displayed. Also text that is not clickable. - New in v5 */
/*
.wpsBreadcrumbTrail {
    font-weight: bold;
}
*/
/* RGA version */
.wpsBreadcrumbTrail { font-size:.803em; padding-bottom:3px; }

/* Clickable breadcrumb trail text - New in v5 */
/*
.wpsBreadcrumbTrailLink, .wpsBreadcrumbTrailLink:hover, .wpsBreadcrumbTrailLink:visited, .wpsBreadcrumbTrailLink:active {
*/
/*
.wpsBreadcrumbTrailLink {
    font-weight: bold;
    color: #A64D21;
    text-decoration: underline;
}
*/

/* GENERIC ACCENT AND 3-D COLORS */
/* These styles are provided so portlets can build UI areas with theme      */
/* color-coordinated accent colors and 3D effects other than gray. Only     */
/* use these classes when no other classes are available for the particular */
/* UI you need to build.                                                    */


/* Surface area in a portlet requiring an accent color.  Use this style      */
/* on the main "surface" which needs the color. This style may also be used  */
/* without the corresponding highlight and shadow colors if desired. - New in v5 */
.wpsPortletAccentArea {
    background-color: #decaa7;
    color: #333333;
}

/* 3D highlight color for use with the accent area - New in v5 */
.wpsPortletAccentArea3DHighlight {
    background-color: #f1e3ca;
    color: #333333;
}

/* 3D shadow color for use with the accent area - New in v5 */
.wpsPortletAccentArea3DShadow {
    background-color: #bfa687;
    color: #333333;
}


/* WIZARDS */

/* Wizard Title Text- New in v5 */
.wpsWizardTitle {
    font-weight: bold;
    background-color: #c1c1c1;
    color: black;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Wizard Step Notification Text - New in v5 */
.wpsWizardStepNotification {
    background-color: #dfdfdf;
    color: black;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Wizard Bottom Submit Bar - New in v5 */
.wpsWizardBottomSubmit {
    background-color: #c1c1c1;
    color: black;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 25px;
}


/* Style for the pointer "hand" cursor. - New in v5.1 */
/* A style is needed for this because IE 4.x and 5.x do not support cursor:pointer and need cursor:hand instead. */
/* Use this style in place of inline styles in the markup. */
.wpsCursorPointer {
	cursor: hand;
}


/******************************************************************************/
/* Lotus Notes Portlet classes                                                */
/* General portlets should not use styles in this section.                    */
/******************************************************************************/

/* Background color and font settings for table cell that holds a weekday abbreviation (i.e. Fri) 
in the Lotus Notes Calendar Portlet */
.weekday_header {
    font-size: x-small;
    background-color: #999999;
    color: #333333;
}

/* Background color and font settings for table cell that holds a day number (i.e 17) for months 
other than the current month in the Lotus Notes Calendar Portlet */
.other_month_header {
    background-color: #E4E3E3;
    color: #7E7001;
    height: 20px;
}

/* Background color and font settings for table cell that holds a day number (i.e 17) for the current month 
in the Lotus Notes Calendar Portlet */
.current_month_header {
    background-color: #CBDBF3;
    color: #333333;
    height: 20px;
}

/* Background color and font settings for empty table cells for months other than the current month 
in the Lotus Notes Calendar Portlet */
.other_month_cell {
    background-color: #F0F0F0;
}

/* Background color and font settings for empty table cells for the current month in the Lotus Notes Calendar Portlet */
.current_month_cell {
    background-color: #FFFFFF;
    color: Black;
}

/* Background color and font settings for table cell that holds the current day number and name (i.e 17 Wednesday)
in the Lotus Notes Calendar Portlet */
.current_day_header {
    font-size: x-small;
    background-color: #92B5E6;
    color: #333333;
    height: 20px;
}

/* Background color and font settings for the current day number and name (i.e 17 Wednesday) text in the Lotus Notes Calendar Portlet */
a.current_day_header:link {
    background-color: transparent;
    color: #333333;
}

/* Background color and font settings for a day number (i.e 17) in a month other than the current month 
in the Lotus Notes Calendar Portlet */
a.other_month_header:link {
    background-color: transparent;
    color: #0000ff;
}

/* Background color and font settings for a day number (i.e 17) in the current month in the Lotus Notes Calendar Portlet */
a.current_month_header:link {
    background-color: transparent;
    color: #0050C9;
}


/* End of Lotus Notes Calendar Portlet classes */

/******************************************************************************/
/* Lotus WP Portlet classes                                                   */
/* General portlets should not use styles in this section.                    */
/******************************************************************************/

a.wpsPersonName {
	text-decoration: none;
	white-space: nowrap;
	color: #3366CC;
}

/*
a.wpsPersonName:visited {
	text-decoration: none;
	white-space: nowrap;
	color: #666699;
}

a.wpsPersonName:hover {
	text-decoration: underline;
	white-space: nowrap;
	color: #666699;
}
*/






/* End Lotus WP classes */


/*For new top nav. bar*/
a.navItem, a.navItem:visited {
	border-right: 1px solid #666666;
	border-left: 2px solid white;
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	/*color: #ffffff;*/
	color: black;
	font-size: 1.1em;
	padding:0px 10px 0px 11px;
	text-decoration: none;
	height: 25px;
	line-height: 23px;
	text-align: center;
	text-decoration: none;
	/*background-image: url(../images/off_grey.jpg);*/
	background-image: url(New_Top_Nav_c_d.jpg);
	font-weight:bold;
	display:block;
}

a.navItemFirst, a.navItemFirst:visited {
	border-right: 1px solid #666666;
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	/*color: #ffffff;*/
	color: black;
	font-size: 1.1em;
	padding:0px 10px 0px 10px;
	text-decoration: none;
	height: 25px;
	line-height: 23px;
	text-align: center;
	text-decoration: none;
	/*background-image: url(../images/off_grey.jpg);*/
	background-image: url(New_Top_Nav_c_d.jpg);
	font-weight:bold;
	display:block;
}



a.navItemEnd, a.navItemEnd:visited {
	border-right: 1px solid #666666;
	border-left: 2px solid white;
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	color: black;
	font-size: 1.1em;
	padding:0px 10px 0px 11px;
	text-decoration: none;
	height: 25px;
	line-height: 23px;
	text-align: center;
	/*background-image: url(../images/off_grey.jpg);*/
	background-image: url(New_Top_Nav_c_d.jpg);
	font-weight:bold;
	display:block;
}
a.navItem:hover {	
	color: black;
	text-decoration: underline;
	font-size: 1.1em;
}

a.navItemFirst:hover {	
	color: black;
	text-decoration: underline;
	font-size: 1.1em;
}
a.navItemEnd:hover {	color: black;
	text-decoration: underline;
	font-size: 1.1em;
}




a.selectedNavItem, a.selectedNavItem:visited {
	border-left: 2px solid white;
	border-right: 1px solid #6950A1;
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	color: WHITE;
	font-size: 1.1em;
	font-weight:bold;
	padding:0px 10px 0px 11px;
	text-decoration: none;
	height: 25px;
	line-height: 23px;
	text-align: center;
	/*background-color: #68469A;*/
	background-image: url(New_Top_Nav_c_a.jpg);
	display:block;
}

a.selectedNavItemFirst, a.selectedNavItemFirst:visited {
	/*border-left: 2px solid white;*/
	border-right: 1px solid #6950A1;
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	color: WHITE;
	font-size: 1.1em;
	font-weight:bold;
	padding:0px 10px 0px 10px;
	text-decoration: none;
	height: 25px;
	line-height: 23px;
	text-align: center;
	/*background-color: #68469A;*/
	background-image: url(New_Top_Nav_c_a.jpg);
	display:block;
}


a.selectedNavItem:hover {	
	color: WHITE;
	text-decoration: underline;
	font-size: 1.1em;
}
a.selectedNavItemFirst:hover {	color: WHITE;
	text-decoration: underline;
	font-size: 1.1em;
}

/*For new top nav. bar end*/

/*for verity search*/
.searchlabel{color:#666666; padding:10px 0px 4px 0px; margin:0px; font-size:1em;   font-weight:bold;}

.searchkeywords{
	font-size: 1em;
	color:  #000000;
}

/*for verity search end*/






