* {
	border: 0;
	margin: 0;
	padding: 0;
}

div#content {
	height: 482px;
	width: 940px;
	background: url("static.jpg") no-repeat;
}

div#content a {
	color: #000000;
	text-decoration: none;
}

div#content a:hover {
	text-decoration: underline;
}

div#title {
	position: absolute;
	top: 170px;
	left: 420px;
	color: #ffffff;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

p#mainTitle {
	width: 350px;
	font-size: 32px;
	color : Black;
	line-height : 100%;
}

p#subTitle {
	width: 350px;
	font-size: 11px;
	color : Black;
	line-height : 100%;
}

.grid {
  width: 913px;
  padding-top: 363px;
  padding-left: 25px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px
}

.grid-m1 {
  float: left;
  width: 0px;
  height: 1px;
}

.grid-c1 {
  float: left;
  width: 230px;
  height: 90px;
  line-height : 50%;
}

.grid-m2 {
  float: left;
  width: 20px;
  height: 1px;
}

.grid-c2 {
  float: left;
  width: 160px;
  height: 90px;
   line-height : 50%;
}

.grid-m3 {
  float: left;
  width: 20px;
  height: 1px;
}

.grid-c3 {
  float: left;
  width: 260px;
  height: 90px;
    line-height : 50%;
}

.grid-m4 {
  float: left;
  width: 20px;
  height: 1px;
}

.grid-c4 {
  float: left;
  width: 170px;
  height: 90px;
   line-height : 50%;
}

.about_text {
  line-height : 100%;
}