u/* THEME STYLES */

/*Theme for Bell labs Home Page*/

.belllabs {
}

.belllabs .row2 .col1 {
	width: 700px;
}

.belllabs .row2 .col2 {
	width: 220px;
	padding-left: 20px;
}

/*Theme for Lucent Home Page*/

.home {
}

.home .row2 .col1 {
	width: 294px;
}

.home .row2 .col2 {
	width: 294px;
	padding-left: 10px;
}

.home .row2 .col3 {
	width: 152px;
	padding-left: 10px;
}

/*Theme for these pages that the breadcrumbs from portlet i.e. Solutions,Products*/

.alternate2col2 {
}

.alternate2col2 .col1  {
	width: 700px;
}

.alternate2col2 .rowLast .col1  {
	width: 700px;
}

.alternate2col2 .rowLast .col2  {
	width: 220px;
	padding-left: 20px;
}

.alternate2col2 .rowLast .col1 .rowLast .col1 {
	width: 340px;
}

.alternate2col2 .rowLast .col1 .rowLast .col2 {
	width: 340px;
	padding-left: 20px;
}

/*
.alternate2col2 .col1  {
	width: 940px;
}

.alternate2col2 .col2  {
	width: 220px;
	padding-left: 20px;
}

.alternate2col2 .rowLast .col1 .row1 .col1 {
	width: 700px;
}

.alternate2col2 .col1 .rowLast .col2 {
	width: 340px;
	padding-left: 20px;
}
*/

/**/

/*Theme for Lucent Home Page*/

.homepage {
}

.homepage .col1 {
	width: 294px;
}

.homepage .col2 {
	width: 294px;
	padding-left: 10px;
}

.homepage .col3 {
	width: 152px;
	padding-left: 10px;
}

.homepageOld .row2 .col1 .row1 {
	width: 294px;
}

.homepageOld .row2 .col2 .row1 {
	width: 294px;
	padding-left: 10px;
}

.homepageOld .row2 .col2 .row2 {
	width: 294px;
	padding-left: 10px;
}

.homepageOld .row2 .col3 .row1 {
	width: 152px;
	padding-left: 10px;
}

/* Alternate 2col*/

.alternate2col {
}

.alternate2col .col1 {
	width: 700px;
}

.alternate2col .col2 {
	width: 220px;
	padding-left: 20px;
}

.alternate2col .col1 .rowLast .col1 {
	width: 340px;
}

.alternate2col .col1 .rowLast .col2 {
	width: 340px;
	padding-left: 20px;
}

.alternate2colOLD .row1 .col1 {
	width: 456px;
}

.alternate2colOLD .row1 .col2 {
	width: 294px;
	padding-left: 10px;
}

.alternate2colOLD .col1 .row3 .col1 {
	width: 223px;
}

.alternate2colOLD .col1 .row3 .col2 {
	width: 223px;
	padding-left: 10px;
}

/* Standard 3 col*/

.standard3col .row2 .col1 {
	width: 598px;
}

.standard3col .row2 .col2 {
	width: 152px;
	padding-left: 10px;
}

.standard3col .rowLast .col1 {
	width: 294px;
}

.standard3col .rowLast .col2 {
	width: 294px;
	padding-left: 10px;
}

.standard3col .rowLast .col3 {
	width: 152px;
	padding-left: 10px;
}

/* Standard 2 col*/

.standard2col {
}

.standard2col .col1  {
	width: 700px;
}

.standard2col .col2  {
	width: 220px;
	padding-left: 20px;
}

.standard2col .col1 .rowLast .col1 {
	width: 340px;
}

.standard2col .col1 .rowLast .col2 {
	width: 340px;
	padding-left: 20px;
}

.standard2colOld .row1 .col1 {
	width: 598px;
}

.standard2colOld .row1 .col2 {
	width: 152px;
	padding-left: 10px;
}

.standard2colOld .col1 .row1 {
	width: 598px;
}

.standard2colOld .col2 .row1 {
	width: 152px;
	padding-left: 10px;
}

/* Standard 2 col no explore / evaluate */

.standard2colnee {
}

.standard2colnee .col1  {
	width: 700px;
}

.standard2colnee .col2  {
	width: 220px;
	padding-left: 20px;
}

