/*core:2749902.43*/

* {
margin: 0px;
padding: 0px;
}
html, body {
background-color: #fff;
color: #000;
font: 13px/17px arial, sans-serif;
}
img {
border: none;
}
a {
color: #000;
text-decoration: none;
}
li {
list-style-type: none;
}
.hide {
display: none;
}
.unhide {
display: block;
}
.cl {
clear: both;
}



#container {
position: absolute;
top: 0px;
left: 0px;
width: 784px;
padding: 0px 0px 0px 10px;
z-index: 1000;
background-color: #fff;
}
* html #container { 
width: 794px;
widt\h: 784px;
}
#fullBanner {
position: relative;
text-align: center;
margin-bottom: 1px;
z-index: 2000;
}
#main {
position: relative;
width: 783px;
z-index: 1000;
}
#navi {
position: relative;
height: 106px;
width: 783px;
z-index: 1500;
}
#skyscraper {
position: absolute;
top: 0px;
left: 784px;
z-index: 2000;
}
#contentTop {
position: relative;
width: 783px;
line-height: 0px;
font-size: 0px;
z-index: 1100;
}
#contentLeftBottom {
position: relative;
z-index: 1100;
width: 465px;
margin: 17px 0px 0px 0px;
}
#content {
position: relative;
width: 783px;
z-index: 1000;
}
#BTOArtikel #content, #BTOPartnerContent1 #content, #BTOPartnerContent2 #content {
background: url(content-grad.gif) repeat-x;
}
#contentLeft {
float: left;
width: 465px;
margin: 9px 12px 0px 0px;
z-index: 1000;
overflow: hidden;
}
#contentRight {
float: left;
width: 306px;
z-index: 1000;
margin: 20px 0px 0px 0px;
}
* html #contentRight {
overflow: hidden;
}
#footer {
position: relative;
width: 783px;
margin: 13px 0px 0px 0px;
z-index: 1000;
}
#richmedia {
position: relative;
z-index: 2000;
}
#rectangleDiv {
position: relative;
}
#rectangleAd {
position: relative;
z-index: 2000;
margin: 0px 0px 8px 0px;
padding: 0px 0px 0px 3px;
}
#regTeaser01, #regTeaser02, #regTeaser03, #regTeaser {
position: relative;
z-index: 2000;
margin-top: 4px;
text-align: center;
}
#regTeaser01 img, #regTeaser02 img, #regTeaser03 img, #regTeaser img {
display: block;
}
#channelSign {
margin: 0px;
}
#channelSign img {
display: block;
}

