/*print:2749874.9*/

@media print{
#fullBanner, #skyscraper, #altBanner,
#contentLeft .footerNavi,
#contentBottom, 
#richmedia,
#contentLeft .quickLinks,
#contentLeft .socialBookmarks,
#contentLeft .searchBox,
#contentLeft .bdeElCon227,
#contentLeft .clm100 .teaser1,
#contentRight,
#contentLeftBottom,
#qTip,
#contentBar,
.bdePrintSend,
.elFull,
.sobo,
.photoCredits,
.GaS,
.back,
.dsmVotingContainer,
.module clm110,
.module clm100,
.module clm100 noLine, 
.module clm300,
.bdeElCon465,
.blockHeader, 
.chTsrLink, 
.bdeRegiobox,
.tib,
#serviceNavi,
#breakingNews,
#mainNavi,
#subNavi,
#GoogleSearch,
#salesNavi,
#naviShadow,
#footer  
{
display: none;
}
#logoBTO {
margin: 10px;
width: 29px;
height:61px;
background: url(logo__site-01.gif) no-repeat left; 
}
#BTOArtikel {
margin: 10px 0 0 10px;
width: 100%;
}
* html #contentRight {
overflow: visible;
}
* html #BTOArtikel {
margin: 40px 0 0 0;
width: 100%;
}
#contentLeft {
overflow: visible;
width:16cm;
}
#container {
position: static;
width: 100%;
}
* html #container {
position: static;
width: 100%;
}
#main {
margin: 15px 0 0 0;
position: static;
}
* html .txt {
width: 100%;
margin: 25px 0 25px 0;
}
* html .txt p {
font: 13px/15px arial, sans-serif;
}
}
