/*********** Surcouf ***********/
/*Liste top vente*/
#Content .toptitre{
	float:left;
	width:100%;
	height:49px;
}


.TopImg{
	float:left;
}

#Content .toptitre h3{
	width:auto;
	color: #000;
	padding-left:80px;
	margin-top:31px;
	text-align:left;
	background-color: #C3D9FF;
	text-transform: uppercase;
}

#Content .TopVente{
	width:100%;
	height:auto;
	background-color: #E8F1FF;
	float:left;
	padding-top:5px;
	margin-bottom:10px;
}

#Content .TopVente .Top_ligne_prod{
	width:228px;
	float:left;
}

#Content .TopVente .Top_ligne_prod .desc_prod{
	width:125px;
	float:right;
	margin: 2px 5px 8px 0;
}
#Content .TopVente .Top_ligne_prod .visu_prod{
	float:left;
	width:80px;
	margin-right:18px;
}

/*Fin top vente*/

.banner_top{
	height:45px;
}
/* Content */
#Content .titre_block{
	float:left;
	width:100%;
	background-color: #E61C08;
	text-align: right;
}

#Content .titre_block h3{
	float:left;
	width:auto;
	color:#fff;
	text-transform: uppercase;
}

#Content .titre_block a{
	color: #FFF960;
	display:block;
	margin-top:2px;
	padding-right:5px;
}

#Content .titre_block ul{
	width:auto;
	display: inline;
	float:right;
	margin-right:25px;
	margin-top:2px;
}

#Content .titre_block li.titre_block{
	width:auto;	
}

#Content .titre_block h3.compOpen, #Content .titre_block ul.compOpen, #Content .titre_block li.compOpen,  #Content .titre_block li a.compOpen{
	background: none;
}
#Content .titre_block h3.compClose, #Content .titre_block ul.compClose, #Content .titre_block li.compClose,  #Content .titre_block li a.compClose{
	background: none;
}

#Content .titre_block li{
	color:#FFDE23;
	margin-right:20px;
	float:left;
	display:inline;
	text-transform: none;
	text-align: right;
}

#Content .titre_block li.option{
	text-align: right;
	width:auto;
	display:inline;
	margin-right:0;
}

#Content .titre_block li a{
	display: inline;
	font-weight: normal;
	text-decoration: underline;
}

#Content .titre_block li a.titre_block{
	width:auto;	
	float:none;
}

#Content h3{
	color:#fff;
	font-size: 11px;
	font-weight: bold;
	padding: 2px 0 2px 9px;
}

#Content .Block_4prod{
	float:left;
	width:350px;
	height:353px;
	margin: 5px 5px 20px 0;
	display:inline;
}

#Content .Block_4prod .titre_block{
	width:350px;
}

#Content .ligne_prod{
	float:left;
	width:350px;
	background: url(http://www.surcouf.com/img/B2C/common/bg_ligneprod.gif) right repeat-y;
	height:83px;
	border-bottom:1px solid #fff;
}

#Content .ligne_prod .visu_prod{
	float:left;
	width:80px;
	margin-right:18px;
}

#Content .ligne_prod .desc_prod{
	float:left;
	width:170px;
	margin: 10px 10px 0 0;
}

#Content .desc_prod  p a{
	color:#000;
}

#Content .desc_prod  p a.redarrow{
	color:#E61C08;
}

#Content .desc_prod span{
	color:#E61c08;
}



#Content span.marque{
	color:#000;
	text-transform: uppercase;
	font-weight: bold;
}

#Content span.descriptionproduit{
	color:#000;
}

#Content .ligne_prod .picto_price{
	float:left;
	margin-top:10px;
}

#Content .op_flash{
	float:left;
	width:350px;
	height:353px;
	margin-top:5px;
}

/* Index Catalogue */
.Block_catalog{
	float:left;
	background: url(http://www.surcouf.com/img/B2C/common/bg_blockindex.jpg) bottom no-repeat #fff;
	width:705px;
	margin-bottom:5px;
	z-index:100;
}

/*#Content #layerCatalog{
	position:absolute;
	width:715px;
	top:-140px;
	left:140px;
	z-index:50;
	padding-top: 20px;
	voice-family: "\"}\"";
	voice-family:inherit;
		width:713px;
	voice-family: "\"{\"";
}*/




#layerCatalog{
	position:absolute;
	width:715px;
	/*top:65px;*/
	top:85px;
	left:50%;
	margin-left:-357px;
	z-index:500;
	/*padding-top: 20px;*/
	voice-family: "\"}\"";
	voice-family:inherit;
		width:713px;
	voice-family: "\"{\"";
}

#layerCatalog #contentCatalog{
	border: 1px solid #7A7A40;
	width:713px;
	z-index:50;
}


#layerCatalog .closecatalog{
	text-align: right;
	margin-right:5px;
}

#layerCatalog .Block_catalog{
  text-align:left;
	width:713px;
	border: 4px solid #E61C08;
	padding:5px 0;
	background-image: none;
	margin-bottom:0;
	voice-family: "\"}\"";
	voice-family:inherit;
		width:705px;
	voice-family: "\"{\"";
}

.Block_catalog .titre_block{
	float:left;
	width:705px;
	background-color: #E61C08;
	text-align: right;
	margin-bottom: 10px;
}

.Block_catalog .titre_block h3{
	float:left;
	width:auto;
}

#Content .Block_catalog .sticker_catlog{
	float:left;
	width:705px;
	margin: 5px 0 15px 0;
}

#Content .Block_catalog .sticker_catlog img.stick2{
	margin: 0 0 0 5px;
}

.index_col{
	float:left;
	width:352px;
}

.index_col .line_catalog{
	float:left;
	width:352px;
	margin-bottom:10px;
}

.index_col .visu_index{
	float:left;
	width:80px;
	text-align: center;
}

.index_col .link_prod{
	float:left;
	width:270px;
}

.index_col .link_prod h4{
	font-weight: normal;
	font-size:11px;
}

.index_col .link_prod h4 a{
	color:#E61C08;
	font-size: 13px;
	font-weight: bold;
	text-decoration: underline;
}

.index_col a{
	color:#000;
}

.index_col a:hover{
	text-decoration: underline;
}
/* Fin Index Catlogue */

/* Presentation de produit par ligne de trois */
#Content .Block_ligneprod{
	float:left;
	width:705px;
	margin-bottom:5px;
}

#Content .Block_ligneprod .ligneprod{
	float:left;
	width:705px;
	margin-top:10px;
}


#Content .Block_ligneprod .1erPrixligneprod .block_prod{
	float:left;
	width:234px;
}


#Content .ligneprod .visu_prod{
	float:left;
	width:80px;
	margin-left:0;
	
}

#Content .ligneprod .desc_prod{
	float:left;
	width:135px;
	margin-left:10px;
	display:inline;
}
/* Fin Presentation de produit par ligne de trois */

/* Les incontournables */
#Content .Block_incontournables{
	width:705px;
	margin-bottom:5px;
}

#Content .Block_incontournables .titre_block{
	margin-bottom:5px;
}

#Content .Block_incontournables .ligne_prod{
	width:705px;
	height:94px;
}

#Content .Block_incontournables .ligne_prod .pack{
	margin-top:10px;
	float:left;
	width:555px;
}

#Content .Block_incontournables .ligne_prod .pack img{
	vertical-align: middle;
	margin-right:5px;
}

#Content .Block_incontournables .ligne_prod .desc_prod{
	float:left;
	width:150px;
	text-align: left;
	margin:0;
}

/* Fin Les incontournables */
/* Meilleures ventes */
#Content .Block_Bestsells{
	float:left;
	width:705px;
}

#Content .Block_Bestsells .nav_bestsells{
	float:left;
	width:705px;
}

#Content .Block_Bestsells .nav_bestsells ul{
	position:relative;
	z-index:2;
	float:left;
}

#Content .Block_Bestsells .nav_bestsells p{
	background: #E61C08;
	text-align: right;
	padding: 2px 5px 2px 0;
	position:relative;
	margin-top: 15px;
	z-index:1;
}

#Content .Block_Bestsells .nav_bestsells p a{
	color:#fff960;
}

#Content .Block_Bestsells  ul.navleft_bestsells{
	float:left;
	width:220px;
	padding: 6px 0;
	background-color: #E61C08;
}

#Content .Block_Bestsells  ul.navleft_bestsells li{
	float:left;
	padding: 0 10px 0 10px;
	width:220px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:200px;
	voice-family: "\"{\"";
}

#Content .Block_Bestsells  ul.navleft_bestsells li.last_navleft{
	border-bottom:none;
}

#Content .Block_Bestsells  ul.navleft_bestsells li.bestsells_active{
	background-color: #FFDE23;
}

#Content .Block_Bestsells  ul.navleft_bestsells li.bestsells_active a{
	background: url(http://www.surcouf.com/img/B2C/common/arrow_red.gif) 0 7px no-repeat #FFDE23;
	color:#E61C08;
	border-bottom:1px solid #FFDE23;
}

#Content .Block_Bestsells  ul.navleft_bestsells li a{
	width:200px;
	color:#fff;
	font-weight: bold;
	padding:4px 0;
	display: block;
	border-bottom:1px solid #F37D16;
	padding-left:9px;
	background: url(http://www.surcouf.com/img/B2C/common/arrow_yellow.gif) 0 7px no-repeat;
	voice-family: "\"}\"";
	voice-family:inherit;
		width:191px;
	voice-family: "\"{\"";
}

#Content .Block_Bestsells .prod_Bestsells{
	float:left;
	width:465px;
	height:267px;
	margin-left:20px;
	overflow: auto;
}

#Content .prod_Bestsells .ligne_prod{
	float:left;
	width:448px;
	height:88px;
}

#Content .prod_Bestsells .ligne_prod .opinion_prod{
	float:left;
	width:95px;
	margin-top:25px;
}

#Content .prod_Bestsells .ligne_prod .opinion_prod p{
	width:72px;
	text-align: center;
}
/* Fin Meilleurs ventes */

/* Entete Descente de catalogue */
.Breadcrumb{
	margin-top:5px;
	margin-bottom:8px;
}

.BreadcrumbVide{
  	margin-top:0px;
	margin-bottom:0px;
}

.Breadcrumb a{
	color: #E61C08;
	text-decoration: underline;
}

#Container h2{
	font-size: 20px;
	font-weight: bold;
	margin-bottom:8px;
}

#Container h2 span{
	font-size: 20px;
	font-weight: normal;
}

.Block_list_descente{
	float:left;
	width:705px;
	margin-bottom:5px;
	padding-bottom:5px;
}
#Content .list_descente{
	float:left;
	width:160px;
	height:80px;
	border-right:1px solid #C0CAD8;
	margin-right:10px;
}

html>body #Content .list_descente{
	height:auto;
	min-height:80px;
}

#Content .last_list{
	width:175px;
	border-right:none;
	margin-right:0;
}

#Content .list_descente h3{
	color:#000;
	padding-left:0;
}

#Content .list_descente ul{
	/*margin-right: 5px;*/
}

#Content .list_descente li a{
	background: url(http://www.surcouf.com/img/B2C/common/arrow_red.gif) 0 4px no-repeat;
	padding-left:9px;
	text-decoration: underline;
}
/* Fin Entete Descente de catalogue */

/* Presentation des nouveaux produit par ligne de deux */
#Content .Block_news{
	float:left;
	width:460px;
	margin-bottom:5px;
	
}

#Content .Block_news .ligneprod{
	float:left;
	width:460px;
	margin-top:10px;
}

#Content .Block_news .ligneprod .block_prod{
	
}

#Content .Block_news .titre_block{
	width:455px;
}
/* Fin Presentation des nouveaux produit par ligne de deux */

/* 1er prix */
.block_1erprix{
	float:left;
	width:245px;
	height:auto;
	background: url(http://www.surcouf.com/img/B2C/common/bg_1erprix.jpg) repeat-y;
	margin-bottom:5px;
}
.block_1erpriximg{
	float:left;
	width:245px;
	height:auto;
	background: url(http://www.surcouf.com/img/B2C/common/Picto1erPrix.gif) no-repeat 180px 5px;
}
.block_1erprix h3{
	text-transform: uppercase;
	margin-bottom:10px;
}

#Content .block_1erprix .visu_prod{
	float:left;
	width:80px;
	margin-left: 10px
}

#Content .block_1erprix .desc_prod{
	float:left;
	width:140px;
	height:auto;
	margin: 20px 0 10px 10px;
	display:inline;
	/*text-color:#fff;*/
	color:#fff;
}

#Content .block_1erprix .Picto1erPrix{
	position:absolute;
	z-index:300059;
	float:left;
	width:81px;
	left: 717px;
	top: 126px;
}
.tools_list{
	float:left;
	width:100%;
	margin-bottom:10px;
}

.tools_list li{
	float:left;
}

.tools_list li{
	margin-right: 10px;
}
/* fin 1er prix */

/* Tableau liste produits */
.header_list_white{
	background-color:#fff;
	float:left;
	width:705px;
}
.list_head{
	float:left;
	background: url(http://www.surcouf.com/img/B2C/common/bg_listcompare.gif) 687px 8px no-repeat;
	width:705px;
}
.list_head .numbprod{
	float:left;
	width:560px;
	margin-bottom:5px;
}
.bg_liste{
	background: url(http://www.surcouf.com/img/B2C/common/bg_colleft.gif) bottom left no-repeat #fff;
}
.list_foot{
	float:left;
	padding-top:10px;
	background: url(http://www.surcouf.com/img/B2C/common/bg_listcompare.gif) 687px -40px no-repeat;
	width:705px;
	margin-bottom:5px;
}

.list_foot .pagination{
	float:left;
	width:560px;
	margin-bottom:5px;
}

.pagination{
	font-size: 13px;
	font-weight: bold;
}

.pagination span{
	font-size: 11px;
	font-weight: normal;
}
.table_listprod{
	float:left;
	width:705px;
	border-collapse: collapse;
}
.table_listprod th{
	border-right:1px solid #C0CAD8;
  text-align: center;
	vertical-align: top;
	padding-top:3px;
}

.table_listprod th.THMarque{
  border:0px solid;
  width:95px;
}

.table_listprod th.THDesign{
	width:95px;
}

.table_listprod thead td.TDempty{
	background-color: #DFEBFF;
	border-bottom:1px solid #DFEBFF;
}
.table_listprod td{
	border-right:1px solid #C0CAD8;
	text-align: center;
	padding:5px 0;
}

.table_listprod thead th{
	/*background: url(../img/common/arrow_blue_open.gif) center 18px no-repeat;*/
	background-color: #DFEBFF;
	font-weight: normal;
	height:25px;
	border-bottom:1px solid #DFEBFF;
}

.table_listprod thead th a{
	width:7px;
}

.table_listprod thead th a img{
	margin-top:2px;
}

.table_listprod thead th span{
	display:block;
	float:left;
	text-align: center;
	width:14px;
}

.table_listprod thead th.colsort{
/*	background: url(../img/common/arrow_black_open.gif) center 18px no-repeat;*/
	background-color: #C3D9FF;
	border-bottom:1px solid #C3D9FF;
}



.table_listprod tr.rowblue td{
	background-color: #E8F1FF;
}

.table_listprod tr.rowblue td.TDvisu, .table_listprod tr.rowblue td.TDSelcompare{
	background-color: #fff;
}

.table_listprod tr.rowblue td.TDdesc{
	background: url(http://www.surcouf.com/img/B2C/common/bg_listdesc.gif) right repeat-y;
}
.table_listprod tr.rowblue td.TDprice{
	background: url(http://www.surcouf.com/img/B2C/common/bg_listprice.gif) right repeat-y;
}
.table_listprod tr.rowblue td.TDdispo{
	background: url(http://www.surcouf.com/img/B2C/common/bg_listdispo.gif) right repeat-y;
}

.table_listprod td.TDvisu{
	width:90px;
	text-align: left;
}

.table_listprod td.TDvisu .zoomVisu{
	text-align: right;
	position:absolute;
	width:120px;
	margin-top:-20px;
	left:220px;
	background-color:#fff;
	border:1px solid #E61C08;
	padding:5px;
	z-index:10;
}

html>body .table_listprod td.TDvisu .zoomVisu{
	margin-top:-100px;
}
.table_listprod td.TDdesc{
	text-align: left;
	width:190px;
}

.table_listprod td.TDdesc .proddesc{
	padding-left: 10px;
}

.table_listprod td.TDdesc .proddesc p{
	margin-bottom:8px;
}

.table_listprod td.TDdesc .proddesc p a{
	text-decoration: underline;
}

.table_listprod td.TDdesc .proddesc a.linkdesc{
	background: url(http://www.surcouf.com/img/B2C/common/arrow_black_close.gif) 0 4px no-repeat;
	color:#000;
	font-weight: bold;
	padding-left:9px;
}

.table_listprod td.TDdesc .proddesc .shortdesc{
	display:none;
}

.table_listprod td.TDprice{
	width:80px;
	color:#E61c08;
}

.table_listprod td.TDprice span.price{
	font-size: 15px;
}

.table_listprod td.TDdispo{
	width:62px;
}

.table_listprod td.TDdispo a{
	/*background: url(../img/B2C/common/picto_interro.gif) no-repeat;*/
	padding-left: 0px;
	background: url(content.css) no-repeat;
	color:#e61c08;
}

.table_listprod td.TDopinion{
	width: 76px;
}

.table_listprod td.TDSelcompare{
	width: 18px;
	border:none;
	background: url(http://www.surcouf.com/img/B2C/common/bg_listselcompare.gif) center repeat-y;
}
html>body .table_listprod td.TDSelcompare{
	width: 19px;
}
/* Fin Tableau liste produits */


/* Fiche prod */
#Content .fiche_prod{
	width:705px;
	float:left;
	background: url(http://www.surcouf.com/img/B2C/common/bg_blockbleu2.jpg) bottom no-repeat;
	margin-bottom:5px;
}

#Content .fiche_prod .Block_prodvisu{
	float:left;
	width: 350px;
	margin-right:10px;
}

#Content .fiche_prod .visuprod{
	position:relative;
	width:350px;
	text-align: center;
	height:260px;
}

#Content .fiche_prod .layer_offre{
	position:relative;
	margin:-250px 0 0 200px;
	z-index:2;
	width:150px;
	text-align: right;
}

#Content .fiche_prod .layer_zoom{
	position:absolute;
	/*cursor:hand;*/
	cursor: pointer;
	width:320px;
	height:320px;
	border:1px solid #E72716;
	padding:13px;
	left:0px;
	top:0px;
	background-color:white;
	z-index:3;
}

#Content .fiche_prod .diaporama_prod{
	float:left;
	width: 200px;
	text-align: left;
	margin: 5px 0;
}

#Content .fiche_prod .option_fiche_prod{
	float:left;
	width:105px;
	margin-left:15px;
	text-align: left;
	margin-top: 20px;
}

.pictDiapo{
	background: url(http://www.surcouf.com/img/B2C/common/picto_diapo.gif);
}

.pictDiapo_on{
	background: url(http://www.surcouf.com/img/B2C/common/picto_diapo_on.gif);
}
#Content .fiche_prod .option_fiche_prod img{
	margin-right: 15px;
}

#Content .fiche_prod #diapoThb.diapoOn{
	width:180px;
	height:55px;
	overflow:hidden;
	display:block;
	float:left;
	margin-bottom: 25px;
}

#Content .fiche_prod #fleche_gauche.available{
	/*cursor:hand;*/
	cursor: pointer;
	background:url(http://www.surcouf.com/img/B2C/common/arrow_red_left.gif) center no-repeat;
	margin-top:20px;
	width:18px;
	height:20px;
	display:block;
	float:left;
	margin-left: 5px;
}
#Content .fiche_prod #fleche_droite.available{
	/*cursor:hand;*/
	cursor: pointer;
	background:url(http://www.surcouf.com/img/B2C/common/arrow_red.gif) center no-repeat;
	margin-top:20px;
	width:18px;
	height:20px;
	display:block;
	float:left;
}
#Content .fiche_prod #fleche_droite.nonavailable, #fleche_gauche.nonavailable{
	background:url(http://www.surcouf.com/img/B2C/common//spacer.gif) no-repeat;
	margin-top:20px;
	width:15px;
	height:20px;
	display:block;
	float:left;
}
#Content .fiche_prod #diapoThb .thumbon{
	display:block;
	float:left;
	width:46px;
	height:46px;
	margin:5px;
	border:1px solid red;
}
#Content .fiche_prod #diapoThb .thumboff{
	display:block;
	float:left;
	width:46px;
	height:46px;
	margin:5px;
	border:1px solid #DDE1E3;
}

#Content .fiche_prod .block_pictos{
	float:left;
	border-top:1px solid #DBDFE1;
	border-bottom:1px solid #DBDFE1;
	margin-left:10px;
	width:305px;
	text-align: center;
}

#Content .fiche_prod .option_technique{
	float:left;
	border-top:1px solid #DBDFE1;
	border-bottom:1px solid #DBDFE1;
	margin-left:10px;
	width:305px;
	text-align: center;
}

#Content .fiche_prod .option_technique ul{
	float:left;
	width:304px;
	margin:10px 0;
}

#Content .fiche_prod .option_technique ul li{
	float:left;
	width:152px;
	font-weight: bold;
	margin:3px 0;
	text-align: left;
}

#Content .fiche_prod .option_technique img{
	margin: 5px 3px;	
}

#Content .fiche_prod  .Block_prodprice{
	float:left;
	width:340px;
}

#Content .fiche_prod  .Block_prodprice .price_barre{
	font-size: 16px;
	font-weight: bold;
}

#Content .fiche_prod  .Block_prodprice .price{
	font-size: 40px;
}

#Content .fiche_prod  .Block_prodprice .stock{
	background: url(http://www.surcouf.com/img/B2C/common/bg_stock.gif) center center no-repeat;
	color:#fff;
	font-weight: bold;
	font-size: 22px;
	width:81px;
	text-align: center;
	height:41px;
	padding:16px 20px 0 20px;
	letter-spacing: 3px;
}

#Content .fiche_prod  .Block_prodprice .dispo{
	margin-bottom:10px;
}

#Content .fiche_prod  .Block_prodprice .dispo img{
	float:left;
	margin-right:10px;
}

#Content .fiche_prod .Block_proddesc{
	padding:10px;
}

#Content .fiche_prod .Block_prodprice select{
	width:258px;
}

#Content .fiche_prod .addbasket{
	float:left;
	width:320px;
	padding:20px 0;
	margin-bottom:10px;
	border-bottom:1px solid #DBDFE1;
}

#Content .fiche_prod .add_qty{
	float:left;
	margin-right:10px;
	background: url(http://www.surcouf.com/img/B2C/common/small_cartouche_red.gif) no-repeat;
	height:28px;
	width:50px;
	padding:4px 0 0 10px;
	voice-family: "\"}\"";
	voice-family:inherit;
		width:40px;
		height:24px;
	voice-family: "\"{\"";
}

#Content .fiche_prod .add_qty input{
	width:20px;
	text-align: right;
	float:left;
}

#Content .fiche_prod .add_qty a{
	width:7px;
	height:7px;
	margin: 2px 4px 1px 4px;
	float:left;
}
html>body #Content .fiche_prod .add_qty a{
	margin-top:0;
}

#Content .fiche_prod a.bt_add{
	float:left;
	background: url(http://www.surcouf.com/img/B2C/common/cartouche_rouge.gif) left 0 no-repeat;
	display:block;
	text-align: center;
	color:#fff;
	font-weight: bold;
	padding-top:6px;
	width:260px;
	height:28px;
	voice-family: "\"}\"";
	voice-family:inherit;
		height:22px;
	voice-family: "\"{\"";
}

#Content .fiche_prod .table_info{
	width:305px;
}

#Content .fiche_prod .table_info td{
	padding: 5px 0;
}

#Content .fiche_prod .table_info td.pict_info{
	width:50px;
	text-align: center;
}

#Content .fiche_prod .table_info td.info{
	padding-left: 10px;
}

#Content .Block_infoprod ul.nav_onglet li{
	text-align: center;
	
}
#Content .Block_infoprod ul.nav_onglet li a{
	padding: 3px 28px 0 15px;
	line-height:12px;
	height:28px;
	voice-family: "\"}\"";
	voice-family:inherit;
		height:25px;
	voice-family: "\"{\"";
}

#Content .Block_infoprod ul.nav_onglet li a.oneline{
	padding: 7px 28px 0 15px;
	height:28px;
	voice-family: "\"}\"";
	voice-family:inherit;
		height:21px;
	voice-family: "\"{\"";
	
}

#Content .Block_infoprod .prod_complement{
	float:left;
	width:705px;
	padding-left: 15px;
	voice-family: "\"}\"";
	voice-family:inherit;
		width:690px;
	voice-family: "\"{\"";
}

#Content .Block_infoprod .prod_complement h3{
	float:left;
	width:690px;
	color:#000;
	padding:10px 0;
	font-size: 13px;
	background: url(http://www.surcouf.com/img/B2C/common/bg_titreligneprod.gif) right repeat-y;
	margin-bottom:5px;
}

#Content .Block_infoprod .prod_complement .line_prod{
	float:left;
	width:690px;
	margin-bottom:10px;
}

#Content .Block_infoprod .prod_complement .visu_prod{
	float:left;
	width:50px;
}

#Content .Block_infoprod .prod_complement .desc_prod{
	float:left;
	width:370px;
}

#Content .Block_infoprod .prod_complement .desc_prod a{
	color:#E61c08;
}

#Content .Block_infoprod .prod_complement .price_prod{
	padding-top:5px;
	float:left;
	width:160px;	
}

#Content .Block_infoprod .prod_complement .price_prod span.price{
	font-size: 15px;
}

#Content .Block_infoprod .prod_complement .qty_prod{
	float:left;
	padding-top:5px;
	width:95px;
	text-align: center;
}

#Content .Block_infoprod .prod_complement .qty_prod input{
	width:25px;
	text-align: right;
	float:left;
	border:1px solid #C0CAD8;
	margin-left:10px;
	height:17px;
	voice-family: "\"}\"";
	voice-family:inherit;
		height:15px;
	voice-family: "\"{\"";
}

#Content .Block_infoprod .prod_complement .qty_prod span{
	float:left;
	display:block;
	width:18px;
}

html>body #Content .Block_infoprod .prod_complement .qty_prod span{
	margin:-3px 0;	
}

#Content .Block_infoprod .prod_complement .qty_prod span a{
	float:left;
	width:19px;
	height:8px;
	display:block;
}

#Content .Block_infoprod .prod_complement .qty_prod span a img{
	font-size: 0px;
	margin:0;
}

#Content .Block_infoprod .prod_complement .qty_prod p{
	width:100%;
	float:left;
	margin-top: 10px;
}

#Content .Block_infoprod .edito_complement{
	float:left;
	width:705px;
	padding: 15px 13px;
	background: url(http://www.surcouf.com/img/B2C/common/bg_blockbleu2.jpg) bottom no-repeat;
	voice-family: "\"}\"";
	voice-family:inherit;
		width:679px;
	voice-family: "\"{\"";
}

#Content .Block_infoprod .edito_complement h3{
	font-size: 13px;
	padding-bottom:10px;
	padding:0;
	color:#000;
}

#Content .Block_infoprod .edito_complement img{
	float:left;
	margin-right:7px;
}

#Content .Block_infoprod .edito_complement h3{
	padding-bottom:10px;
}

#Content .Block_infoprod .edito_complement .titre_edito{
	float:left;
	text-align: right;
	width:679px;
}

#Content .Block_infoprod .edito_complement .titre_edito h3{
	float:left;
}

#Content .Block_infoprod .edito_complement .titre_edito a{
	text-decoration: underline;
}

#Content .Block_infoprod .edito_complement .titre_edito span{
	margin-left: 38px;
}

#Content .Block_infoprod .table_compare{
	float:left;
	width:704px;
	background-color: #fff;
	border-collapse: collapse;
}

#Content .Block_infoprod .table_compare th{
	width:250px;
	padding-left: 95px;
}


#Content .Block_infoprod .table_compare td{
	width:455px;
	text-align: left;
	padding-left:35px;
}
/* Fin Fiche prod */

/* Comparateur */
.comparateur{
	display:none;
}

.comparator{
	width:950px;
	float:left;
	background-color: #F5F6F8;
	border-right:1px solid #C0CAD8;
	border-bottom:5px solid #fff;
	voice-family: "\"}\"";
	voice-family:inherit;
		width:949px;
	voice-family: "\"{\"";
}

.Maquette010{
	height:400px;
	width:950px;
	float:left;
}
.message{
	border:1px solid #C0CAD8;
	top:52px;
	height:100px;
	width:300px;
	background-image: url(http://www.surcouf.com/img/B2C/common/bg_blockbleu2.jpg);
	background-repeat: repeat-y;
	background-position: right;
	text-align:center;
	position: absolute;
	left: 338px;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
}
.comparator a, .comparator a:hover{
	text-decoration: underline;
}

#Content .table_compare{
	float:left;
	width:790px;
	background-color: #fff;
	border-collapse: collapse;
}

#Content .table_compare td{
	text-align: center;
	border-right:1px solid #C0CAD8;
	padding:5px 0;
}

#Content .table_compare th{
	border-left:1px solid #C0CAD8;
	border-right:1px solid #C0CAD8;
	width:150px;
	text-align: left;
	padding-left:8px;
}

.compClose{
	background: url(http://www.surcouf.com/img/B2C/common/arrow_yellow.gif) 99% 5px no-repeat;
}

.compOpen{
	background: url(http://www.surcouf.com/img/B2C/common/arrow_yellow_open.gif) 99% 5px no-repeat;
}

#Content .table_compare tr.lineblue td{
	background-color: #F4F8FF;
}

#Content .table_compare tr.lineblue td.empty{
	background-color: #fff;
}

#Content .table_compare tr.lineblue th{
		background: url(http://www.surcouf.com/img/B2C/common/bg_beginline_compare.gif) right no-repeat;
}
#Content .table_compare th.empty{
		border-left : none;
}

#Content .table_compare th.titre_block{
	float:none;
	text-align: left;
	border:none;
	width:100%;
	background-color: #E61C08;
	padding:1px 8px;
	color:#fff;
	text-transform: uppercase;
	border-bottom:1px solid #fff;
}
html>body #Content .table_compare th.titre_block{
	width:auto;
}
#Content .table_compare td.delete{
	height:15px;
	border-top:1px solid #FF5618;
	padding:1px 0;
	background: url(http://www.surcouf.com/img/B2C/common/bg_delete_compare.gif) 0 0 repeat-x;
}
#Content .table_compare td span.compare_desc{
	padding: 0 8px;
	display:block;
	text-align: justify;
	
}

.block_addprod_compare{
	padding-top:75px;
	text-align: center;
}

.block_addprod_compare a{
	background: url(http://www.surcouf.com/img/B2C/common/pict_addprod_tocompare.gif) center top no-repeat;
	display: block;
	padding-top:50px;
	
}
#Content .table_compare thead{
	display:inline-table;
}

#Content .table_compare theadArrow{
	display:inline-table;
}

#Content .table_compare tbody tr{
	/*display:none;*/
	/*display:inline-table;*/
	width:100%;
}
#MainContainer #Container #Content .titre_block p {
	float:left;
	display:block;
	color: #FFFFFF;
	margin:1px 5px 0 5px;
}
/* Fin Comparateur */
