/*
Feuille de style colonne droite
*/
#coldroite { font-size:0.9em;}
/* #coldroite div {width:210px !important;} */

/* Les titres onglets a droite */
table.pt-titreh2 {width:100%; width:206px !important; font-size:100%;border-collapse:collapse;border:0;position:relative;/*margin-top:2em;*/margin-bottom:0;border-bottom:solid 1px #B2B2B2;}
#coldroite>table.pt-titreh2 {margin-top:4em !important; }
table.pt-titreh2 td {color:#fff;padding:0; margin:0; border:0; vertical-align:top;}
table.pt-titreh2 td.pt-titre { padding:0 !important; font-size:1em;background-repeat:repeat-y; vertical-align:middle;}
table.pt-titreh2 h2 {font-size:1em;color:#FFF;margin:0 0 0 1em;}
table.pt-titreh2 td.pt-titre h2 {margin-left: 16px !important;}
table.pt-titreh2 td.pt-arrondi {text-align: right; vertical-align: top;}
table.fssml td h2 {font-size:1.285em !important;}

/* #coldroite #ic-o {left:120px;margin:0;margin-bottom:-40px !important;margin-bottom:-26px; border:0;} */

/* colonne droite */
#coldroite {float:left;width:194px; padding:0;}
#coldroite h2 {font-size:1.3em;}
#bloc-esptheme { margin:0 !important; padding:0 !important; border-top:0 !important;}

#coldroite>div>p.theme {margin-top:0;}

/* blocs col droite */
#coldroite a {color:#4D696F; font-weight:700;}
#coldroite .date {color:#4D696F;}
#coldroite .rappel-rubrique {font-size:1em;margin:0;}

#coldroite div {position:relative;/*padding:0 0 0 15px;*/width:192px !important;}
#coldroite div.bdrtop {/*border-top:solid 1px #B2B2B2; */padding-top:1.5em !important;}
#coldroite div p {margin:0.7em 0 0 0;padding:0 0 0 16px;}

/* Dossiers */

#coldroite div.dossier {width:160px /*176px*/!important; margin:0 0 0 16px;padding:0 0 1em 0px;position:relative;}
#coldroite>div>div.dossier {width:194px !important;}
#coldroite div.dossier * { padding:0; margin:0;}
#coldroite div.dossier a.descrip { color: #000;margin:0 0 0px 0!important;}
#coldroite div.dossier p {margin:0.7em 0 0.7em 0px;padding:0 0 0 4px;}
#coldroite .dossier h3 {font-size: 1.6em;/*margin:0.2em 0 !important;*/margin:5px 0 5px 0 !important;font-weight:900; padding-left:4px;}
/* couleurs dossier par defaut */
#coldroite .dossier {background-color:#faddd9;}
#coldroite .dossier img {
	position:relative;
	left:-18px;
	margin-bottom:7px;
	padding-right:20%;
	padding-left:16px;
	background-image:url(fond-foto-dossier-rouge.gif); 
	background-repeat: repeat-y;
	margin-top:0.2em;
}
/* dossier vert */
#coldroite .surweb {background-color:#def1ed !important; margin-top:0;}
#coldroite .surweb img {background-image:url(fond-foto-dossier-vert.gif) !important;}
/* dossier jaune */
#coldroite .jaune {background-color:#ffedbf !important; margin-top:0;}
#coldroite .jaune img {background-image:url(fond-foto-dossier.gif) !important;}
#coldroite .jaune-droit {background-color:#ffedbf !important; margin-top:0;}
#coldroite .jaune-droit img {background-image:url(fond-foto-dossier.gif) !important;}

#coldroite .theme { display: block; padding-bottom:0 !important; margin-bottom:-0.6em !important;color:#3d4c80; }
#coldroite.accueil div .dossier h3 a.cdrt {font-size:0.8em !important}
#coldroite #bloc-esptheme .theme {display: block;padding-bottom: 1em !important; }

#coldroite hr.separ { clear:left; margin:0.5em 0 0.5em 0; width:85%;}
div>hr.separ {margin:1em 0 1em 0 !important;}
#coldroite p.theme {padding:0 0 0 18px;margin:0 0 0 -15px !important;}



#coldroite div.bdrtop {/*border-top:solid 1px #B2B2B2 !important;*/}

#coldroite #bloc-esptheme {position:relative; border-top: solid 1px #b2b2b2;}

#coldroite p.theme {
	
	position:relative;left:14px !important; 
	left:0;padding:0px 0 10px 18px;
	background:url(puce-rouge.gif) no-repeat 0 0.3em;
}

#coldroite p.vert {
	
	position:relative;left:14px !important; 
	left:0;padding:0px 0 10px 18px;
	background:url(puce-verte.gif) no-repeat 0 0.3em;
}

#coldroite .dossier p.theme {
	border-bottom:1px solid #B2B2B2; 
	color:#3d4c80;
	display:block;
	margin:5px 0 -1px -15px !important;
	padding:0px 15px 0px 5px !important;
	width:100% !important;
}
#coldroite a.theme {color:#801582;text-decoration:none;}
#coldroite .dossier h2 /*, #coldroite .dossier h3*/ {margin:0.4em -32px 0 0; font-size: 1.6em !important; font-weight:900; display:block;padding:7px 0px 0 4px !important; border-bottom:1px solid #B2B2B2;}
#coldroite .dossier h2 {/*font-size:1.6em !important; margin:0.3em 0 0 0 !important;padding:0.5em 0px 0 0 !important;*/}
#coldroite>div>.dossier { padding-top:0.2em; margin-top:1.5em;}


#coldroite.menuaides p.theme {background-image:url(puce-verte.gif);}

#coldroite h3.neutre { position:relative;left:16px}
#coldroite h4.neutre { position:relative;left:16px}
#coldroite img.foto-g {margin:0 10px 0 0;float:left;}
#coldroite p.avfoto-g {float:left;position:relative; padding-left:16px !important;}
#coldroite hr { position:relative; left:16px;}

#coldroite .dossier h3.neutre { position:relative;left:4px}
#coldroite .dossier h4.neutre { position:relative;left:4px}

#coldroite.accueil table.pt-titreh2 {margin-top:3.5em !important;margin-top:1.8em;}
#coldroite.accueil table.pt-titreh2 td.pt-titre {background-position:2.3em 0em !important;}
#coldroite.accueil table.pt-titreh2 h2 {margin:0 0 0 0.6em;}
#coldroite.accueil table.pt-titreh2 td.pt-arrondi {background-color:#E61E02;}
#coldroite.accueil table.pt-titreh2 h2 span {color:#E61E02 !important;}


/* #coldroite.fiche div.dossier {width:162px !important;} */
/*
.colindex table.pt-titreh2 {margin-top:3em !important;width:204px; font-size:1em;}
.colindex table.pt-titreh2 td.pt-titre { vertical-align: top;padding:0;background-position:1.4em 0em;}
.colindex table.pt-titreh2 h2 {margin:0 0 0 0.5em;letter-spacing:-0.05em !important;letter-spacing:-0.05em;word-spacing:-0.05em !important;word-spacing:-0.05em;}
.colindex table.fssml h2 {letter-spacing:-0.03em !important;letter-spacing:-0.05em;word-spacing:-0.02em !important;word-spacing:-0.03em;}
#coldroite.colindex div { width:205px !important;}
#coldroite.colindex .dossier {margin:-4px 0 0 16px !important;margin:0 0 0 16px;padding:0 0 15px 2px;position:relative; width:194px !important;}
#coldroite.colindex .dossier p {margin:8px 0 8px 0!important;padding-right:10px;}
#coldroite.colindex .dossier img {float:left;position:relative;border-top:0;margin-right:10px;padding-right:0px;left:-18px !important; margin-top:0;}
#coldroite.colindex .dossier h2 {font-size:1.6em !important; margin:0.3em 0 0 0 !important;padding:0.5em 0 0 0;border-bottom:#B2B2B2 1px solid;}

#conteneur>table.titrindex {width:807px;}
#conteneur>table.titrindex tr>#ic-o {width:212px !important;}

#coldroite.colindex .dossier h3.comm {width:95px;font-size:1em !important; padding:0; margin:-100px 5px 0 0% !important;}
#coldroite.colindex .dossier h3.comm a { color:#000;}

#coldroite.colindex div a.lien {color:#000 !important;}
#coldroite.colindex ul.lien {margin:0.5em 10px 0 0; padding-left:0; list-style:none; position:relative;}
#coldroite.colindex ul.lien li {margin-bottom:0.3em;background-image:url(../images/puce-direct.gif); background-repeat: no-repeat; padding-left:0px; background-position:0 0.5em}

#coldroite.colindex #gp-ctr div.tbgpol {padding-left:6px;width:210px;}
#coldroite.colindex #gp-ctr div.tbgpol a {width:33%;float:left;text-align:center;margin:0.5em 0 0.5em 0;}
#coldroite.colindex #gp-ctr div.tbgpol a img {border:0;}
#coldroite.colindex #gp-ctr div.tbgpol h4.neutre { position:relative;left:16px !important}

*/
table.pt-titreh2 {margin-top:3em !important;width:204px; font-size:1em;}
table.pt-titreh2 td.pt-titre { vertical-align: top;padding:0;/* background-position:1.4em 0em;*/}
table.pt-titreh2 h2 {margin:0 0 0 0.5em;/*letter-spacing:-0.05em !important;letter-spacing:-0.05em;word-spacing:-0.05em !important;word-spacing:-0.05em;*/}
table.fssml h2 {letter-spacing:-0.03em !important;letter-spacing:-0.05em;word-spacing:-0.02em !important;word-spacing:-0.03em;}


#coldroite div { width:205px !important;}
#coldroite table div { width:auto !important;}
#coldroite .dossier {margin:-4px 0 0 16px !important;padding:0 32px 15px 2px !important;}
#coldroite .dossier p {margin:8px 0 8px 0!important;padding-right:10px;}
#coldroite .dossier img {float:left;position:relative;border-top:0;margin-right:10px;padding-right:0px;left:-18px !important; margin-top:0;}


#conteneur>table.titrindex {width:807px;}
#conteneur>table.titrindex tr>#ic-o {width:213px !important;}

#coldroite .dossier h3.comm {width:95px;font-size:1em !important; margin:-100px -32px 0 0px !important;padding:0 0px 0 0 !important;}
/*#coldroite.colindex .dossier h3.comm {width:95px;font-size:1em !important; padding:0; margin:-100px 5px 0 0% !important;}*/
#coldroite .dossier h3.comm a { color:#000;padding:0 0px 0 0 !important;margin:0px !important;}

#coldroite div a.lien {color:#000 !important;}
#coldroite ul.lien {margin:0.5em 10px 0 0; padding-left:0; list-style:none; position:relative;}
#coldroite ul.lien li {font-weight:bold; margin-left:8px; padding-left:8px;margin-bottom:0.3em;background-image:url(puce-lettre.gif);background-repeat:no-repeat;background-position:0 0.5em}

#coldroite #gp-ctr div.tbgpol {padding-left:6px;width:210px;}
#coldroite #gp-ctr div.tbgpol a {width:33%;float:left;text-align:center;margin:0.5em 0 0.5em 0;}
#coldroite #gp-ctr div.tbgpol a img {border:0;}
#coldroite #gp-ctr div.tbgpol h4.neutre { position:relative;left:16px !important}

#coldroite .dossier .theme { background-image:none !important}

/* .aides table.pt-titreh2 td.pt-titre h2 {margin-left:0 !important;} */
/* .aides table.pt-titreh2  {margin-left: 16px !important; margin-top:1.5em;} */
.aides p.theme { background-image:url(puce-verte.gif) !important;}

.aides img.foto-g {float:left;margin:0 10px 0px 16px !important;}
#coldroite div.aides div.content { width:210px !important}
#coldroite div.aides .dossier {margin-top:1px;}

#coldroite.politic div.dossier {width:204px !important;}
#coldroite.politic #ic-o {left:126px;}
#coldroite.politic img.img-dte,#coldroite.fiche img.img-dte {margin-left:0 !important}
#coldroite.politic div.dossier img {margin-left:2px !important}
#coldroite.acds div.dossier img { left:-16px;}


#coldroite #bloc-pro-appels h2 { margin-top:1em;padding-left:0;color:#29a684;font-size:1.7em;line-height:1.3em;padding-left:16px; background-image: url(puce-dh3-appels.gif); background-position: 0em 0.25em; background-repeat: no-repeat;}
#coldroite #bloc-pro-appels .dossier h3 {font-size:1.6em !important;border:0 !important; margin-bottom:0.3em;}
#coldroite #bloc-pro-appels h4 { font-size:1em; margin:0 0 0.5em 0;}
#coldroite #bloc-pro-appels img { float:left; margin-right:0.2em; margin-bottom:1em;}
#coldroite #bloc-pro-appels p{ margin-left:0; padding-left:5px;}
#coldroite #bloc-pro-appels p.date { clear:both; margin:0;}
#coldroite #bloc-pro-appels p.date span { font-weight:bold;color:#3e7160;}
#coldroite #bloc-pro-appels p.cloture span {color:#cc011e;}
#coldroite #bloc-pro-appels p.benef {font-weight: bold; width:60px !important; float:left;font-size:0.9em;}
#coldroite #bloc-pro-appels p.benef span { color:#3e7160;}
#coldroite #bloc-pro-appels hr.date-appels {margin-left:0; padding-left:0;width:70%; left:0;}
#coldroite #bloc-pro-appels p.texte { margin-bottom:1em;}
#coldroite #bloc-pro-appels h3.neutre { display:block; margin-bottom:0.5em; margin-top:0; }


#coldroite #bloc-pro-appels .dossier {width:194px !important;padding:16px 0 15px 0;margin: 0 0 1em 18px !important;}
#coldroite #bloc-pro-appels .dossier p.theme { display:inline; top:-0.5em; margin:1em 0 0 0px; padding: 0 0 0 0px; left:900px;}
#coldroite #bloc-pro-appels .dossier p.benef,#coldroite .dossier p.date { margin-left:0;background:url(puce-d-appels.gif) no-repeat 0 2px; position: relative; left:-2px !important; padding-left:8px; color:#000;}
#coldroite #bloc-pro-appels .dossier p.benef { float:none; width:96% !important;}
#coldroite #bloc-pro-appels .dossier p.benef span,#coldroite .dossier p.date span {color:#3e7160; font-weight: bold;}
#coldroite #bloc-pro-appels table.pt-titreh2 h2 {font-size:1.3em !important;color:#FFF !important;margin:0 0 0 1em !important;line-height:1.15em !important;padding-left:0 !important; background-image: none !important;}
#coldroite #bloc-pro-appels .fiche { padding-top:2em !important;}
#coldroite #bloc-pro-appels .fiche table.pt-titreh2 {width:100%; /*margin-top:1.5em;*/}
#coldroite #bloc-pro-appels .fiche .appel { padding-left:0;}
#coldroite #bloc-pro-appels .fiche p.theme {padding-left:18px;color:#3d7663;}
#coldroite #bloc-pro-appels .fiche h3.neutre { display: block; padding-bottom:0; margin:1em 0 0 16px !important; background:none;}
#coldroite #bloc-pro-appels .fiche table.pt-titreh2 h2 {font-size:1.25em !important;}
#coldroite #bloc-pro-appels .fiche table.pt-titreh2 h2 {margin:0 0 0 1em;}

#coldroite #bloc-pro-appels .fiche div.institution .theme { background-image:url(puce-bleue.gif);}
#coldroite #bloc-pro-appels .fiche div.information .theme {background-image:url(puce-verte.gif);}

#bloc-pro-appels .fiche table.pt-titreh2 td.pt-titre {background-position:2em 0em !important;}
#contenu>#coldroite>#bloc-pro-appels {padding-top:4em !important;}
#coldroite #bloc-pro-appels .fiche .dossier {width:160px !important;}
#coldroite #bloc-pro-appels .fiche>.dossier {width:192px !important;}


#coldroite #bloc-appels h2 { margin-top:1em;padding-left:0;color:#29a684;font-size:1.7em;line-height:1.3em;padding-left:16px; background-image: url(puce-dh3-appels.gif); background-position: 0em 0.25em; background-repeat: no-repeat;}
#coldroite #bloc-appels .appel { padding-left:16px;}
#coldroite #bloc-appels .appel h3 { margin:0; color:#5b6f92; font-size:1em;position:relative;left:-16px;padding-left:16px; background-image: url(puce-direct.gif); background-position: 0em 0.5em; background-repeat: no-repeat;}
#coldroite #bloc-appels .appel h4 { font-size:1em; margin:0 0 0.5em 0;}
#coldroite #bloc-appels .appel img { float:left; margin-right:0.2em; margin-bottom:1em;}
#coldroite p{ margin-left:0; padding-left:0;}
#coldroite #bloc-appels .appel p.date { clear:both; margin:0;padding:0;}
#coldroite #bloc-appels .appel p.date span { font-weight:bold;color:#3e7160;}
#coldroite #bloc-appels .appel p.cloture span {color:#cc011e;}
#coldroite p.benef {font-weight: bold; width:60px !important; float:left;font-size:0.9em;padding:0;}
#coldroite p.benef span { color:#3e7160;}
#coldroite #bloc-appels .appel hr.date-appels {margin-left:0; padding-left:0;width:70%; left:0;}
#coldroite p.texte { margin-bottom:1em;padding:0;}
#coldroite #bloc-appels h3.neutre { display:block; margin-bottom:0.5em; margin-top:0; }

#coldroite #bloc-appels .dossier {width:101% !important;padding:16px 0 15px 2px;margin-right:0 !important;margin-right:-2px; margin-top:0 !important; margin-bottom:1em;}
#coldroite #bloc-appels.fiche { padding-top:2em !important;}
#coldroite #bloc-appels.fiche table.pt-titreh2 {width:100%;}
#coldroite #bloc-appels.fiche .appel { padding-left:0;}
#coldroite #bloc-appels.fiche p.theme {padding-left:18px;color:#3d7663;}
#coldroite #bloc-appels.fiche h3.neutre { display: block; padding-bottom:0; margin:1em 0 0 16px !important; background:none;}

#coldroite #bloc-appels.fiche table.pt-titreh2 h2 {font-size:1.25em !important;}
#coldroite #bloc-appels.fiche table.pt-titreh2 h2 {margin:0 0 0 1em;}

#coldroite #bloc-appels.fiche div.institution .theme { background-image:url(puce-bleue.gif);}
#coldroite #bloc-appels.fiche div.information .theme {background-image:url(puce-verte.gif);}


#bloc-appels.fiche table.pt-titreh2 td.pt-titre {background-position:2em 0em !important;}
#contenu>#coldroite>#bloc-appels {padding-top:4em !important;}
#coldroite #bloc-appels.fiche .dossier {width:160px !important;}
#coldroite #bloc-appels.fiche>.dossier {width:192px !important;}


#coldroite #journal h2 {padding-bottom:0; margin-top:2em !important;margin-top:1.25em;width:100%; padding-left:17px; background:url(puce-rouge-journal.gif) no-repeat; background-position: 0 50%; font-size:1.6em;}
#coldroite #journal .bdrtop {width:100% !important;margin:0;padding:0.5em 0 0 0 !important;margin-top:-1.6em !important;margin-top:-2em;border-top: solid 1px #b2b2b2 !important}
#coldroite #journal .unjournal { /*padding-top:0.5em; */padding-left:16px; margin-bottom:1.5em; border-top: solid 1px #b2b2b2 !important; width:80% !important;}
#coldroite #journal .unjournal img {float:left; margin-bottom:0.6em;}
#coldroite #journal .unjournal h3.numero { margin:3em 0 0 100px;font-weight:900;font-size:2.2em !important;}
#coldroite #journal .unjournal p {clear:left;padding-left:0; width:120%}
#coldroite #journal form { padding:0; margin:0 0 0 16px;}
#coldroite #journal form select { font-size:0.9em; width:14em;}
#coldroite #journal form label {font-weight:bold; display:block; font-size:0.95em; margin-bottom:0.5em;}
#coldroite #journal form input { border:solid 1px #5a7773;padding:0;margin:0;width:2.2em !important;width:1.9em;height:3.3ex;cursor:pointer; background:#e81c01; color:#fff; font-size:0.9em;}

#coldroite table.pt-titreh2 h2 span {font-size:1.06em;}

#coldroite table.pt-titreh2 {margin-top:1.5em !important;margin-top:2em;}

#coldroite div.bdrtop {padding-top:0.8em !important;}

#coldroite div .margetop {margin-top: 1px !important;}
/* #coldroite>div>.margetop {margin-top: 1.6em !important;} */

.img-dte {margin-left:0;}

/* #coldroite table.institution td h2 {background-color:#4557b0 !important;} */
#coldroite table.institution td h2 span {color:#4557b0 !important; background-color:#fff;}
#coldroite table.institution td,table.institution td.pt-titre { background-image:url(fond-bleu.gif);}

/* #coldroite table.information td h2 {background-color:#29A687 !important;} */
#coldroite table.information td h2 span {color:#29A687 !important; background-color:#fff;}
#coldroite table.information td,table.information td.pt-titre { background-image:url(fond-vert.gif);}

/* #coldroite table.actualite.thematique td h2 {background-color:#3F5C3B !important;} */
#coldroite table.actualite.thematique td h2 span {color:#3F5C3B !important; background-color:#fff;}
#coldroite table.actualite.thematique td,table.actualite.thematique td.pt-titre { background-image:url(fond-vert.gif);}

/* #coldroite table.actualite.IDF td h2 {background-color:#E61E02 !important;} */
#coldroite table.actualite.IDF td h2 span {color:#E61E02 !important; background-color:#fff;}
#coldroite table.actualite.IDF td,table.actualite.IDF td.pt-titre { background-image:url(fond-rouge.gif);}

#coldroite.accueil table.institution td h2 span {color:#4557b0 !important; background-color:#fff;}
#coldroite.accueil table.information td h2 span {color:#29A687 !important; background-color:#fff;}
#coldroite.accueil table.actualite td h2 span {color:#E61E02 !important; background-color:#fff;}

.accueil table.fssml h2 {letter-spacing:-0.03em !important;letter-spacing:-0.05em;word-spacing:-0.02em !important;word-spacing:-0.03em;}

#coldroite table.pt-titreh2 td.pt-titre {background-position:1.1em 0em !important;}
#coldroite table.pt-titreh2 td.pt-titre {background-position:2.4em 0em !important;}

#coldroite.fiche2 table.pt-titreh2 { margin-top:2.5em;}
#coldroite.fiche2 table.pt-titreh2 td.pt-titre {background-position:2.3em 0em !important;}



table.pt-titreh2 {margin-top:3em !important;}


#coldroite #bloc-esptheme .dossier .theme {padding-bottom:0.5em !important;}

#coldroite div { border-top:0 !important;}

#coldroite .aides table.pt-titreh2 td.pt-titre {background-position:2.45em 0em !important;}

#coldroite a.descrip {display:block;color: #000;width:192px!important;margin:0 0 -15px 0!important;padding:0 !important;}

#coldroite #bloc-esptheme p.theme{padding: 0 0 0 18px;margin: 0 0 0 -15px !important;width:90%;}



#coldroite .margetop h3 { padding-top: 30px!important; padding-left: 2px!important;}
#coldroite .dossiermedia .theme { margin-bottom:0 !important;}
#coldroite .dossiermedia h4 { margin-left:2px;}
#coldroite .dossiermedia p.telecharger { width:192px!important; }
#coldroite .dossiermedia p.telecharger img { background-image:none !important; border:0; margin-right:0!important;}

#coldroite .jaunemedia {background-color:#ffedbf !important; margin-top:0;}
#coldroite .jaunemedia img {background-image:url(fond-foto-dossier.gif) !important;}
#coldroite .jaunemedia p.theme {border-bottom:1px solid #B2B2B2; color:#3d4c80;display:block;margin:5px 0 0 -15px !important;padding:3px 0px 2px 5px !important;width:100% !important;}


#coldroite h4 span.descrip {display:block;width:190px!important;}
#coldroite h3.bleu,#coldroite h3.vert {border-bottom:solid 1px #b2b2b2;width:96%;_width:90%;background-repeat:no-repeat;background-position:0 50%;padding-left:20px; margin-bottom:0.3em;}
#coldroite h3.bleu {background-image:url(puce-bleue-md.gif);}
#coldroite h3.vert {background-image:url(puce-verte-md.gif);}

#coldroite div.bleu p,#coldroite div.vert p {margin-left:20px; padding-left:0; margin-bottom:0;}
#coldroite div.bleu ul,#coldroite div.vert ul { list-style-type:none; margin-left:20px; padding-left:0; margin-top:0.2em;}
#coldroite div.bleu li a, #coldroite div.vert li span { background-repeat: no-repeat; background-position:0 50%; position:relative; left:-10px; padding-left:10px;}
#coldroite div.bleu li a {background-image:url(puce-p-bleu.gif);}
#coldroite div.vert li span {background-image:url(puce-p-vert.gif);}


#coldroite div.galerie .dossier {width:196px !important; margin-top:-1.3em !important; margin-bottom:1.5em;}
#coldroite div.galerie .dossier h3 { font-size:1.5em}
#coldroite div.galerie .dossier .theme {background-image:url(http://www.iledefrance.fr/fileadmin/templates/images/puce-jaune.gif) !important; background-repeat:no-repeat; background-position:0 0.2em; left:-1px !important;left:-16px; padding-left:18px; margin-bottom:0 !important; padding-right:5px}
#coldroite div.galerie p.theme {background-image:url(puce-verte.gif); font-size:1.1em;}
 
#coldroite div.galerie table.pt-titreh2 {margin-bottom:1.6em;}
#coldroite div.galerie>div>table.pt-titreh2 { margin-bottom:0.6em;}
#coldroite div.galerie #bloc-esptheme table.pt-titreh2 h2 {margin:0 0 0 1.2em !important;margin:0 0 0 2.8em;}
#coldroite div.galerie #bloc-esptheme table.pt-titreh2 td.pt-titre {background-position:2.6em 0em !important;}

#coldroite div.galerie #bloc-galerie {background-color:#d5dce2; width:207px !important; margin-top:3em}
#coldroite div.galerie>#bloc-galerie { border-top:solid 1px #d5dce2 !important;margin-top:3.2em !important;padding-bottom:5px; width:212px !important}
#coldroite div.galerie #bloc-galerie p {padding-left:20px; padding-right:0.6em;}
#coldroite div.galerie #bloc-galerie p.puce {padding-top:0.4em; margin-top:6em;background-image: url(puce-galerie-d.gif); background-position: 0 0; background-repeat: no-repeat;_width:170px;}
#coldroite div.galerie #bloc-galerie p.adresse { margin-top:10em;}
#coldroite div.galerie #bloc-galerie hr { margin:0; width:80%;}

#coldroite .dossier p.telecharger img {
background-image:none !important;
border:0pt none;
}
#coldroite .telecharger img {
border:0pt none !important;
float:left;
margin-bottom:7px;
margin-right:0px !important;
padding-right:0% !important;
width:auto;
}

#coldroite .bdrtop h3.comm {width:95px;font-size:1em !important; margin:-100px -5px 0 0px !important;padding:0 0px 0 0 !important;}
#coldroite .bdrtop h3.comm a { color:#000;padding:0 0px 0 0 !important;margin:0px !important;}


/**** BLOC EVENEMENT *****/

#coldroite div.bloc_event {
	width:196px!important;
	height:auto;
	margin:10px 0 0 10px;
	background:#d1d6dc;	
	color:#000;
	font-weight:bold;
}

#coldroite div.bloc_event h2{
	width:181px;
	background:#e61f02 url(puce-h42-actu.gif) no-repeat 0 4px;
	color:#fff;
	height:25px;
	padding:0px 0 0 15px;
	font-size:20px;
}	

#coldroite div.bloc_event h3{
	color:#000!important;
	font-weight:bold;
	font-size:18px;
	margin:0pt 0pt 10px;
}

#coldroite div.bloc_event h3 a{
	color:#000!important;
}

#coldroite div.bloc_event div.bloc_event_bas{
	width:196px!important;
	height:10px;
	background:#e61f02;
}	

#coldroite div.bloc_event div.bloc_event_middle{
	width:180px!important;
	margin: -10px 0px 10px 16px;
	
}	

#coldroite div.bloc_event div.bloc_event_accroche {
	width:179px!important;
	margin: 10px 0 0 0px;
	font-weight:normal;
}

#coldroite #bloc-esptheme.esp_theme h4.neutre {
	background:transparent url(puce-d-appels-contact.gif) no-repeat scroll 0%;
	left:0;
	position:relative;
	padding:0 0 0 17px;
}

#coldroite #bloc-esptheme.esp_theme img{
	margin:10px 0 10px 50px;
}
#coldroite #bloc-esptheme.esp_theme p{
	margin:0px 0 5px 0px;
}

#coldroite #bloc-esptheme.esp_theme h3.neutre{
	left:17px;
}

#coldroite #gp-ctr h4.neutre {
	background:transparent url(puce-h4-bleu.gif) no-repeat scroll 0%;
	left:0;
	position:relative;
	padding:0 0 0 20px;
}
#coldroite #gp-ctr h3.neutre {
	background:transparent url(puce-h4-bleu.gif) no-repeat scroll 0%;
	left:0;
	position:relative;
	padding:0 0 0 20px;
}

#coldroite .dossier h4.neutre a.cdrt{
	background:transparent url(puce-fd-gris.gif) no-repeat scroll 0%;
	left:-4px;
	position:relative;
	padding:0 0 0 20px;
}

#coldroite .surweb h4.neutre a.cdrt{
	background:transparent url(puce-d-appels-contact.gif) no-repeat scroll 0%;
	left:-4px;
	position:relative;
	padding:0 0 0 20px;
}	

#coldroite #bloc-esptheme.bdrtop h3.neutre a.cdrt{
	background:transparent url(puce-fd-gris.gif) no-repeat scroll 0%;
	left:-16px;
	position:relative;
	padding:0 0 0 20px;
}

#coldroite #bloc-esptheme.galerie h3.neutre a.cdrt{
	background:transparent url(puce-d-appels-contact.gif) no-repeat scroll 0%;
	left:-16px;
	position:relative;
	padding:0 0 0 20px;
}
#coldroite #or-reg h4.neutre {
	background:transparent url(puce-h4-bleu.gif) no-repeat scroll 0%;
	left:0;
	position:relative;
	padding:0 0 0 20px;
}
