/*
Feuille de style par defaut
Contient les styles utilises sur toutes les pages
*/
body {background-color:#ffffff;font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;font-size:100%;padding:0;margin:0; text-align:center;}
/*em {font-style: normal;font-weight:bold;}*/
p { margin:0; padding:0;}
.pusher {clear:both;font-size:1px;line-height:1px;height:1px}
p.colhaut {margin-top:0.1em;}
a {color:#000;}
/* Conteneur principal centre */
#conteneur {width:980px;position:relative;color:black;margin-bottom:1em;border:solid 1px black;padding:0; text-align:left; padding:0;}
body>#conteneur {margin:auto;}
.haut-d { font-weight: bold;}

/* table.ttitreh2 { float:left} */
/* Les icones outils */
#ic-o {/*position:absolute;top:13.3em; left:890px;width:auto; margin-left:3px;top:13.3em;left:887px;*/float:right;padding:0;margin:3px 0 0 0;}
/*#conteneur>#ic-o {top:13.3em;left:887px;}*/
#ic-o a {border:0;}
#ic-o a img {border:solid black; border-width:1px 0 0 1px;margin-bottom:-1px;}
#ic-o a img.bdrdte { border-right-width:1px;}


/* Les titres  */
h1 {margin:0;padding:0;}
h1 img {border:0;margin:0;padding:0;}
h1 a {border:0;margin:0;padding:0;}
h2 span {color:#E71E00; background-color:#fff; }
h2 {background-repeat:no-repeat;}
h3 { font-weight: 900; /*font-family:"Arial black", Arial, Verdana, Geneva, Helvetica,  sans-serif;*/}
/* #coldroite h3 { width:110% !important;} */
h3.comm {position:relative;float:right;}
h4 {position:relative;}


/* le petit bandeau premiere ligne */
#esp-h {height:1em;font-size:0.5em;padding-left:2em;}

/* la tetiere */
#tetiere {border-top:solid 1px black;background-color:#E71E00;margin:0 !important; margin:0 -2px 0 0;}
#tetiere img {float:left;}
#tetiere table {width:100%;border:0;border-collapse:collapse;margin:0;padding:0;}
#tetiere tr,#tetiere td,#tetiere div,#tetiere img {border:0;margin:0;padding:0;}
#tetiere td.tdh1 {background-color:#fff; vertical-align: bottom;}
/* #tetiere td.tdh1 img {margin-bottom:-5px; z-index: 10} */

/* menu selectionne */
a.menu-selec {background-color:#4557B0;color:#FFF;background-image:none;}
a:hover.menu-selec {background-color:#4557B0;color:#FFF;background-image:none}
.mn-s a.menu-selec {background-color:#4557B0;color:#FFF;background-image:none}
.mn-s a:hover.menu-selec {background-color:#4557B0;color:#FFF;background-image:none}

/* le bloc de recherche */
#tet-d {padding:0;margin:0 !important; margin:0 -2px 0 0;border:0;background-color:#E71E00 !important;font-size:0.71em;width:171px;float:right;border-collapse:collapse;}
#tet-d a {color:#FFF;font-size:1.1em;text-decoration:underline;}
#tet-d a:hover {text-decoration:none;}
#tet-d .haut {float:left;width:49%;text-align:center;padding:9px 0 6px 0;}
#tet-d .hgche {padding-left:0px;}
#tet-d .bas {padding-left:6px;padding-top:6px;}
#tet-d .bas h3 {line-height:1.6em;}
#form-recherche {padding:0;margin:0;}
form #recherche {border:solid 1px black;font-size:0.8em;margin-bottom:0px;width:124px;display:none;}
form #recherche2 {border:solid 1px black;font-size:0.8em;margin-bottom:0px;width:124px;}
form #ok-recherche {border:solid 1px black;color:#FFF;background-color:#5C768F;font-size:0.75em;padding:0;margin-left:-3px;margin-bottom:0px;}

/* les drapeaux */
#tetiere .langues {position:relative;clear:both;padding:0;margin:0;border:0;}
#tetiere .langues img {border:0;margin:0.3em 0.6em 0.3em 0.6em;}
#tetiere .langues .deco {background-image:url(haut-gauche.gif);background-repeat:no-repeat;background-position:0% 100%;width:86%;float:left;margin-bottom: 0;margin-top:0.5em;}
#tetiere .langues .decal img { margin-left:55px; }
#tetiere .langues .decal2 img { margin-left:97px; }


/* le menu haut */
#menu {height:36px;position:relative;border-top:solid 1px black;clear:both;background-color:#D6DDE3;width:980px !important;width:982px;margin:0;}
.menu-gauche {display:block;float:left;font-weight:bold;/*padding-top:3px !important; */padding-top:11px;text-align:center;background-color:#b6c1cd;width:118px;font-size:0.7em;color:black;text-decoration:none;height:25px;}
/*a.menu-gauche:hover {background-image:url(../images/fond-menu.gif);background-position:99% 0%;background-repeat:repeat-y;}*/
a.menu-gauche:hover {background-color:#4458af;color:#FFF;}
/* liens menu sur deux lignes */
.mn-s {background-color:#D6DDE3;font-size:0.7em;position:relative;float:left;width:766px;height:36px; padding:0;}
.mn-s a {color:black;display:block;font-weight:bold;text-decoration:none; padding:2px 1em 0 1em;}
/*.mn-s a:hover {background-image:url(../images/fond-menu.gif);background-position:right;background-repeat:repeat-y;}*/
.mn-s a:hover {background-color:#4458af;color:#FFF;}
.mn-s table {width:767px !important;width:768px; padding:0; border-collapse: collapse; margin:0; height:16px !important}
.mn-s table tr {height:17px;padding:0; margin:0;}
.mn-s table td {text-align:center;padding:0 !important;height:16px; margin:0;}
.mn-s table td h3 { padding:0;height:17px; margin:0;}
.mn-s table td a {text-align:center;height:17px;}
.mn-s table.t-mnu td,.mn-s table.t-mnu2 td {border-right:solid 1px black;}
.mn-s table.t-mnu {height:17px !important;}
.mn-s table.t-mnu2 {clear:right;border-top:solid 1px black;background-color:#D6DDE3;}
.mn-s table.t-mnu2 td a {height:16px;}

/* formulaire recherche (mode d'emploi,plan,recherche avancee) */
.haut-d {margin:0 !important; margin:0 -2px 0 0;clear:both;background-image:url(haut-droit.gif);background-repeat:no-repeat;background-position:206px 0px; background-color:#fff;font-size:0.8em;padding:2em 0 0 188px !important;color:#000;border-top:solid 1px black;}
.haut-d h3.neutre {font-weight:bold; font-size:0.9em;}
.haut-d a,.haut-d span {color:#5a7775 !important;}
.haut-d a:hover {text-decoration:none}
#conteneur>.haut-d {padding-left:176px;}
/*a.cm1{padding: 0 1.2em 0 1.2em;}
a.cm2{padding: 0 0.3em 0 0.3em;}
a.cm3{padding: 0 1.2em 0 1.2em;}*/

/* le bloc principal de contenu (col centre et droite)*/
#contenu {position:relative;float:right;width:790px !important;margin-left:10px;font-size:0.8em;margin-top:0;border-top:solid 1px black;}
#conteneur>#contenu {width:792px !important;}
#contenu a:hover { text-decoration: none; }
#colgauche div.avmarge{width:90% !important;border-right:solid 1px #b2b2b2 !important;}

/* le menu col de gauche */
#menu-g {position:relative;width:146px;float:left;background-color:#eef1f4;font-size:0.66em; font-weight:900;border-right:solid 1px #B2B2B2;margin: 4.6em 0 1em 0 !important;}
#conteneur>#menu-g {width:142px;}
#menu-g a,#menu-g h3.neutre { font-weight: 900;}
#menu-g h3.neutre a {padding-top:0.3em; padding-bottom:0.3em;color:#fff}
#menu-g h3.neutre a.black {padding-top:0.3em; padding-bottom:0.3em;color:#000}

/* le bloc actu  */
.menu-g-prem {background-color:#e71e00;border-bottom:solid 1px black; margin-bottom:1em; border-top:solid 1px black;}/*background-color:#faddd9;*/
.menu-g-prem div a {display:block;width:132px;color:black;text-decoration:none;border-bottom:solid 1px black;padding:0.2em 0 0.2em 4px;margin-left:10px;}
.menu-g-prem>div a {width:130px;margin-left:8px;}
.menu-g-prem div a:hover {background-image:url(fond-menu-prem.gif);background-position:right;background-repeat:repeat-y;}
.menu-g-prem div.dernier a {border-bottom:0;}
.menu-g-prem div.avec-fond,.menu-g-prem div.avec-fond a {color:#000!important;background-image:url(fond-menu-actif.gif)!important;background-position:right;background-repeat:repeat-y;}

/* le bloc informations.... */
.menu-g-haut {background-color:#48a996;border-bottom:solid 1px black; border-top:solid 1px black;margin-bottom:1em; }/*background-color:#c9e8e2;*/
.menu-g-haut div a {display:block;width:132px;color:black;text-decoration:none;border-bottom:solid 1px black;padding:0.2em 0 0.2em 4px;margin-left:10px;}
.menu-g-haut>div a {width:130px;margin-left:8px;}
.menu-g-haut div a:hover {background-image:url(fond-menu-prem.gif);background-position:right;background-repeat:repeat-y;}
.menu-g-haut div.dernier a {border-bottom:0;}

/* le bloc services externes.... */
.menu-g-inter {background-color:#5C768F;border-bottom:solid 1px black;border-top:solid 1px black;}
.menu-g-inter div a {display:block;width:132px;color:#fff!important;text-decoration:none;border-bottom:solid 1px black;padding:0.2em 0 0.2em 4px;margin-left:10px;}
.menu-g-inter>div a {width:130px;margin-left:8px;}
.menu-g-inter div a:hover {background-image:url(fond-menu-prem.gif);background-position:right;background-repeat:repeat-y;}
.menu-g-inter div.dernier a {border-bottom:0;}
.menu-g-inter div.avec-fond a {color:#000!important;background-image:url(fond-menu-actif.gif)!important;background-position:right;background-repeat:repeat-y;}

/* le bloc interactivite */
.menu-g-b {background-color:#D6DDE3;border-bottom:solid 1px white;border-top:solid 1px white;}
.menu-g-b div a {display:block;width:132px;color:black;text-decoration:none;border-bottom:solid 1px white;padding:0.2em 0 0.2em 4px;margin-left:10px;}
.menu-g-b>div a {width:130px;margin-left:8px;}
.menu-g-b div a:hover {background-image:url(fond-menu-prem.gif);background-position:right;background-repeat:repeat-y;}
.menu-g-b div.dernier a {border-bottom:0;}


/* le bloc contenant la frame*/

.menu-g-frame {
	background-image:url(fond-menu-frame.gif);
	background-position:top left;
	background-repeat:no-repeat;
	height:795px;
	margin:10px 0 0 0;
}


/* le bloc outils ..... */
/*.mnu-g-o {background-color:#D6DDE3;border-bottom:solid 1px white;border-top:solid 1px white;}
.mnu-g-o div a {display:block;width:132px;color:black;text-decoration:none;border-bottom:solid 1px white;padding:0.2em 0 0.2em 4px;margin-left:10px;}
.mnu-g-o>div a {width:130px;margin-left:8px;}
.mnu-g-o div a:hover {background-image:url(../images/fond-menu-outils.gif);background-position:right;background-repeat:repeat-y;}
.mnu-g-o div.dernier a {border-bottom:0;}*/

/* le bloc divers ..... */
#contacts { position:absolute;background:transparent; margin-left:10px;}
#menu-g #contacts, #menu-g #contacts.mnu-g-o div, #menu-g #contacts.mnu-g-o div a {border:0 !important;}
#menu-g #contacts.mnu-g-o div a { text-decoration: underline; }
#menu-g #contacts.mnu-g-o div a:hover { text-decoration: none; background-image: none; }
#menu-g #contacts.mnu-g-o {width:93%;}
#menu-g #contacts.mnu-g-o .avec-fond {background-color:#BEC8D2;}
#menu-g #contacts.mnu-g-o .avec-fond h3 a {text-decoration:none!important;}

/* le bloc espace perso */
div.t-log {margin-top:2em;border-bottom:solid 1px white;padding:0.2em 0 0.2em 1.2em;}
.t-log h3.t-log {padding-bottom:0.3em;}
div.t-log-text {padding:0.2em 0 0.2em 1.2em;margin-bottom:2em;}
.no_bmargin { margin-bottom:0!important; }
#form-login {margin:0 0 1em 0;padding:0 0 10px 5px;clear:both;background-color:#e2e6eb;border-bottom:solid 1px white;position:relative;}
#form-login label,#form-login a {margin-left:0.7em;}
#form-login a {color:#000;font-size:0.85em;}
#form-login #input-mdp,#form-login #input-login {border: solid 1px #5D767C;margin:0;width:133px;clear:both;font-size:0.9em;}
#form-login #input-mdp {display:inline;width:105px;margin-bottom:0.6em;}
#form-login #ok-login {display:inline;border:solid 1px black;background-color:#4d696f;color:#fff;padding:0;margin:0;margin-bottom:0.6em;font-size:0.8em; clear: right;}
#form-login h3.neutre a { color: #000000; }

/* le pied de page */
#pied-page {margin-top:20px !important;font-size:0.7em;text-align:center;border-top: solid 1px black;clear:both !important;padding:0.5em 0 0.5em 0;}
#pied-page a {color:#000;text-decoration:none; font-weight: normal;padding:0 2px 0 2px;}
/*.separ {padding:0 0.5em 0 0.5em;margin:0.5em 0 0.5em 0;}*/
/* filets */
hr {position:relative;height:1px;border:0;color:#B2B2B2;background-color:#B2B2B2;}
hr.separ {padding:0 0.5em 0 0.5em;margin:0.5em 0 0.5em 0;border-color:#b2b2b2; border-collapse: collapse; /*border-width:0.01ex; height:0.01ex;*/}
#adr a {color:#000;}
#adr a:hover {text-decoration:none;}

/* colonne centrale */
#colgauche {width:73%;float:left;border-right:solid 1px #B2B2B2;}

/* nom rubrique col centre */
.rappel-rubrique {color:#3D4D80;font-size:1.1em;font-weight:bolder;padding-top:1em;position:relative; border-bottom:solid 1px #b0b1b3;}

/* nom auteur */
.auteur { font-weight: bold; font-size:1em; color:#4d696f;}
.auteur span {font-weight:normal;}
.auteur .date { font-size:0.9em; font-weight:normal;}

div p.auteur { margin-left:12px; padding-top: 0.6em !important; padding-bottom: 0.6em !important;}


/* retour haut de page */
.top-p {position:relative;border:0;/*top:-2em;*/left:-2em;}

/* bas de page (coordonnees cridf) */
#adr {width:980px;position:relative;color:black;margin-bottom:1em;text-align:center;font-size:0.8em;}
body>#adr {margin:auto;}

/* liens evitement */
a.evit {color:#999; text-decoration:none;}
a:hover.evit {color:#000;}
/* titre sans style */
.neutre {display:inline; font-size:1em; font-weight: normal;}
/* abbr */
abbr,acronym {text-decoration:none; border-bottom:dashed 1px #000; cursor:help;}
abbr.neutre ,acronym.neutre {text-decoration:none; border-bottom:0; cursor:default;}

/* styles divers */
.img-dte {float:left;margin-left:-1.2em;margin-right:0.5em;margin-top:0.6em; margin-bottom:1em; z-index:10;}
img.aria {margin:0 0 0 0;width:6px;height:10px;}
a.theme {text-decoration: none;font-weight:bold; line-height:1.7em;}
a.theme:hover { text-decoration: underline !important;}
.hgche {padding-left:6px;}
.mgche {border-right:solid black 1px;width:94px;}
td.ss-b{border-right:0 !important;}
.gras {font-weight:bold;}
.italic { font-style: italic;}
.exerg {font-size:1.3em;}
.fleft { float:left; margin-right: 0.5em; margin-bottom: 0.5em;}
.cache {display:none;}
a.cdrt {color:#4d696f !important;}
.glosterme { font-weight: bold; color:#d12b37;}
/* tableau de donnees */
.tabdata {margin-left:14px; border:0; border-collapse: collapse; margin-bottom: 0;}
.tabdata td {padding:0; padding-left:20px; padding-right:0.5em; border-bottom:solid 1px #b0b6cc; vertical-align:middle;}
.tabdata td.prem {padding-left:20px;}
.tabdata th.puce { padding-left:13px; background-image:url(puce-blc-fd-gris.gif); background-position:3px 50%; background-repeat: no-repeat;}
.tabdata td.euro {text-align:right;padding-right:10px;}
.tabdata td.gras,.tabdata th { vertical-align:top; font-size:0.9em;}
.tabdata caption {margin-left:16px !important;margin-left:0;text-align:left;color:#3f7565;font-weight: bold;background-repeat:no-repeat;background-position:0% 50% !important; background-position:0% 30%;margin-top:0; padding-bottom:0.6em;}
.tabdata td.vtop { vertical-align:top;}
.tabdata td.puce {padding-left:10px; background-image:url(puce-td.gif); background-position:2px 50%; background-repeat: no-repeat;}

/* lien detail */
/*a.longdesc {color:#000;float:left;margin-left:1em; text-decoration:none; display:block; margin-right:1em; float:right;}*/
a.longdesc {color:#000; margin:0 1em 0 1em !important;padding:0 0 0px 0; text-decoration:none; float:left;}
a.longdesc:hover { text-decoration: underline !important;}
img.longdesc {border:0;}

a.lienstous {width:100% !important; text-align:left !important;}

/* bloc chiffres cles  */
/*.chiffre, .der-chif {width:155px !important;width:148px;padding:0 8px 20px 0;border-bottom:1px solid #b2b2b2;}*/
.chiffre{width:169px;padding:0 0px 20px 0;border-bottom:1px solid #b2b2b2;}
.der-chif {width:169px;padding:0 0px 20px 0;border-bottom:none;}
/*.chiffre img, .der-chif img {margin-left:23px;}*/
.chiffre div.visuel, .der-chif div.visuel {width:100%;float:left;margin: 0 0 0 0;text-align:center;}
.chiffre div.lien, .der-chif div.lien {margin:12px 0 0 20px;}
.tit-chif {/*height:1.6em;*/line-height:1.6em;font-size:1.6em;font-weight:bold;background-position:0% 50%;background-repeat:no-repeat;padding-left:22px;margin-top:0.8em !important;padding:0;}
.sous-tit {font-weight:bold; font-size:1.1em;}
.chiffre p, .der-chif p {padding:0;margin:0.6em 0 0 0;}
/* texte en couleur */


.chiffre .couleur {margin-top:0; margin-bottom:0;font-size:1.5em;font-weight:900;padding:0; /*line-height:1.0em;*/}
.der-chif .couleur {margin-top:0; margin-bottom:0;font-size:1.5em;font-weight:900;padding:0; /*line-height:1.0em;*/}
.chiffre p.couleur , .der-chif p.couleur {text-align:center;margin:0 0 0 0!important;font-weight:900;padding:0 0 0 0!important; /*line-height:1.0em;*/}

.chiffre p.couleur_t1 , .der-chif p.couleur_t1 {text-align:center!important;margin:0 0 0 0!important;padding:0 0 0 0!important; font-family:"Arial black", sans-serif;font-size:4em;font-weight:900;}
.chiffre p.couleur_t2 , .der-chif p.couleur_t2 {text-align:center!important;margin:0 0 0 0!important;padding:0 0 0 0!important; font-family:"Arial black", sans-serif;font-size:3em;font-weight:900;}
.chiffre p.couleur_t3 , .der-chif p.couleur_t3 {text-align:center!important;margin:0 0 0 0!important;padding:0 0 0 0!important; font-family:"Arial black", sans-serif;font-size:2em;font-weight:900;}

/* 3 tailles de chiffre cle */
.chiffre .t1 {font-family:"Arial black", sans-serif;font-size:4em;font-weight:900;}
.chiffre .t2 {font-family:"Arial black", sans-serif;font-size:3em;font-weight:900;/*line-height:1em;*/padding:0;}
.chiffre .t3 {font-family:"Arial black", sans-serif;font-size:2em;font-weight:900;}

.der-chif .t1 {font-family:"Arial black", sans-serif;font-size:4em;font-weight:900;}
.der-chif .t2 {font-family:"Arial black", sans-serif;font-size:3em;font-weight:900;/*line-height:1em;*/padding:0;}
.der-chif .t3 {font-family:"Arial black", sans-serif;font-size:2em;font-weight:900;}

/*.der-chif p em {font-weight:normal;font-style:italic;}
.der-chif p {width:88% !important;width:84%;}*/
.der-chif h4,.chiffre h4 { margin-bottom:0;}
/* date mise a jour avec icone */
.date-actu {font-size:0.85em;float:right;background-image:url(icone-archives.gif); background-position:0% 0%; background-repeat:no-repeat; padding-left: 22px !important; height:18px; color:#4d696f; margin:0.8em 0 0em 0;}
/* date mise a jour sans icone */
.date-actu2 {font-size:0.85em;text-align:right;float:right;background-image:none; background-position:0% 0%; background-repeat:no-repeat; padding-left: 0; height:18px; color:#4d696f; padding:0 10px 0em 0 !important;}

#avnav { position: relative; float:left; margin:0; padding:0; width:50px !important; margin-right:-50px !important;}
.navig-C { font-size:0.9em;}

/* menu gauche de la rubrique */
.m-d-s {background-color:#4458B1;margin-top:0em;margin-bottom:1em;border-bottom:solid 1px black;border-top:solid 1px black;}
.m-d-s div a {display:block;width:132px;color:#fff;text-decoration:none;border-bottom:solid 1px black;padding:0.2em 0 0.2em 4px;margin-left:10px;}
.m-d-s div a.encours {color:#000!important;background-image:url(fond-menu-actif.gif)!important;background-position:right;background-repeat:repeat-y;}
.m-d-s>div a {width:130px;margin-left:8px;}
.m-d-s div a:hover {background-image:url(fond-menu-prem.gif);background-position:right;background-repeat:repeat-y;}
.m-d-s div.dernier a {border-bottom:0;}

/* avec bordure basse */
.avbrdr {border-bottom:solid 1px #b2b2b2 !important;}

/* Formulaire envoi a un ami */
div.envoi-article {padding-top:2em;padding-bottom:0!important;margin:0!important;}
div.envoi-article h3 {display:block;float:left;padding-bottom:0.5em;}
div.envoi-article img.ico-envoi {display:block;float:left;margin-left:1em;}
div.envoi-article .cols2 {background-color:#D5DCE2;padding-bottom:1em;border-bottom:#FFF 1px solid;border-top:#FFF 1px solid!important;}
div.envoi-article .cols2 h4 {padding:0 0 0 1em;font-size:0.9em;font-weight:normal;margin:1em 0 0.5em 120px;background:url(puce-nbr-articles-trsports.gif) no-repeat 0 0em }
div.envoi-article .cols2 p {position:relative;margin:0 0 0 120px;padding-left:1em;color:#0F2267;font-weight:bold;}
div.envoi-article .cols2 img {margin-right:0;}
div.envoi-article .cols2 a {font-size:0.85em;padding-left:1em;}
.form-article {background-color:#D5DCE2;padding-top:1.5em;}
.form-article h4 {color:#0F2267;font-size:1.1em;padding-left:1em;background:url(puce-nbr-articles-trsports.gif) no-repeat 0 0em;margin:0!important; }
.form-article form {padding:1em 0 2em 2em!important;margin:0!important;}
.form-article form hr {color:#FFF;background-color:#FFF;width:100%;margin-top:1.5em;}
.form-article form p {padding:0 0 1em 0!important;margin:0!important;font-size:0.85em;position:relative;}
.form-article form label {position:relative;display:block;float:left;width:9em;font-weight:bold;font-size:0.85em;margin-bottom:2em;}
.form-article form label.ssmarg {margin-bottom:0em;}
.form-article form label.gd {width:31em;margin-top:1em;margin-bottom:1em;}
.form-article form label.moy {width:22em;margin-top:1em;margin-bottom:0.2em;}
.form-article form input {display:block;float:left;width:19em;border:#5D767A 1px solid;padding:0;}
.form-article form input.checkbox {width:1.5em;margin-top:0.8em;border:0;}
.form-article form input.btn {width:9em;float:right;cursor:pointer;margin:0 2em 2em 0;font-weight:bold;font-size:0.95em;background-color:#5C768F;border:#333 1px solid;color:#FFF;}
.form-article form textarea {width:460px;border:#5D767A 1px solid;padding:0;font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;font-size:1em;}


/* navigation basse */
#navig-basse { padding:0 !important;margin:15px 0 0 0;}
#nleft {width:41%;float:left;text-align:left; margin-left:0 !important;}
#ncter {width:10%;float:left;text-align:center;}
#nright {width:42%;float:left;text-align:right; /*padding-right:32px !important;*/}
#nleft img,#nright img {border:0;}
#ncter span { font-weight: bold;}
#nleft,#nright,#ncter {margin-top:0.8em;margin-bottom:0.2em;}
#nbot {text-align:center;margin-bottom:0.8em; margin-right: 30px;}
#nbot a,#nleft a,#nright a { color: #000;}
#nbot a:hover,#nleft a:hover,#nright a:hover { text-decoration: none;}

/* navigation basse avec Combo *//*
#nv-bs {margin:1em 0 1em 0;padding:0;}
#nv-bs .navig-G {float:left;padding:5px 10px 0 0;margin:0;width:17%}
#nv-bs .navig-G p {margin:0;padding:0;font-size:1em;font-weight:bold;}
#nv-bs .navig-C {float:left;padding:5px 10px 0 0;text-align:center;width:38%;}
#nv-bs .navig-C a img {float:left;padding-right:20px;}
#nv-bs .navig-D {float:left;padding:5px 10px 0 0; width:34%}
#nv-bs .navig-D a {float:left}
#nv-bs .navig-D form { float:right;}
#nv-bs a img {border:none;}
#nv-bs .navig-D select { font-size:0.8em; margin-right:0.2ex; height:2.6ex !important;height:3.3ex;}
#nv-bs .navig-D #btnpage {padding:0 0 2px 0!important;margin:0;font-size:0.8em;width:2.2em !important;width:1.9em;height:3ex !important;height:3.3ex;cursor:pointer;}
#nv-bs .navig-C ul {margin:0 0 0 3.5em !important;padding:0;}
#nv-bs .navig-C ul li {display:block;float:left;margin:0;padding:0 5px 0 5px;border-right:1px solid;}
#nv-bs .navig-C ul li.encours a {color:#FFF;text-decoration:none;font-weight:bold;}
#nv-bs .navig-C ul li a {color:#000;display:block}
#nv-bs .navig-C ul li a:hover {text-decoration:none}
*/

/* navigation basse */

/*#nleft {width:44%;float:left;text-align:left;}
#ncter {width:8%;float:left;text-align:center;}
#nright {width:44%;float:right;text-align:right; padding-right:0px !important;}
#nleft img,#nright img {border:0;}
#ncter span { font-weight: bold;}
#nleft,#nright,#ncter {margin-top:0.8em;margin-bottom:0.2em;}
#nbot {text-align:center;margin-bottom:0.8em; margin-right: 30px;}
#nbot a,#nleft a,#nright a { color: #000;}
#nbot a:hover,#nleft a:hover,#nright a:hover { text-decoration: none;}*/

/* navigation basse avec Combo */
#nv-bs {margin:1em 0 1em 0;padding:0; }

#nv-bs .navig-G {float:left;padding:5px 5px 0 0;margin:0;width:19%}
#nv-bs .navig-G p {margin:0;padding:0;font-size:1em;font-weight:bold;}
#nv-bs .navig-C {float:left;padding:5px 5px 0 0;text-align:center;width:50%;}
#nv-bs .navig-C a img {float:left;padding-right:10px;}
#nv-bs .navig-C a img.dte {float:right;padding-left:10px; padding-right:0;}
#nv-bs .navig-C img {float:left;padding-right:10px;}
#nv-bs .navig-C img.dte {float:right;padding-left:10px; padding-right:0;}
#nv-bs .navig-C ul {margin:0 auto 0 auto;padding:0;}
#nv-bs .navig-C ul li {display:inline;margin:0;padding:0 5px 0 5px;border-right:1px solid;}
#nv-bs .navig-C ul li.encours a {color:#FFF;text-decoration:none;font-weight:bold;}
#nv-bs .navig-C ul li.dernier {display:inline;margin:0;padding:0 5px 0 5px;border-right:none;}
#nv-bs .navig-C ul li a {color:#000;}
#nv-bs .navig-C ul li a:hover {text-decoration:none}
#nv-bs .navig-D {float:left;padding:5px 0px 0 0; width:27%;}
#nv-bs .navig-D a {float:left}
#nv-bs .navig-D form { float:right;}
#nv-bs a img {border:none;}
#nv-bs img {border:none;}
#nv-bs .navig-D select { font-size:0.8em;}
#nv-bs .navig-D #btnpage {padding:0 0 2px 0!important;margin:0;font-size:0.8em;width:2.2em !important;width:1.9em;height:3.3ex;cursor:pointer;}

p.avmargtop { margin-top:0.6em;}
.tx-smilemissionscompetences-pi2 p.avmargtop { font-weight:bold;margin-top:0px;}

.der-chif blockquote {margin-left:23px;width:60%;}

a.glossaire {color:#E71E00;}

.pdbt { padding-bottom:1em !important;}
a.correc {left:-8em !important;left:0;}
table.ttitreh2 h2 span { font-size:1.06em;}

.bouton { margin-left:0 !important; height:3ex !important; font-size:0.8em !important;}

#colgauche input#btndate,#colgauche input#btntheme {padding:0 0 2px 0!important;margin:0;font-size:0.8em;cursor:pointer; height:3.5ex; margin-left:0.2ex;color:#FFF;}
#colgauche input#btntheme { margin-top:-3ex;}
#colgauche div>input#btndate,#colgauche div>input#btntheme {height:3ex;}
#colgauche input#btndate {float:left;margin-top:0.7em !important;margin-top:0.5em;}

.ssmgtop { margin-top:0;}

.avertissement, .recherche-aide, .recherche-appel, .recherche-faq {margin: 0 0 0 20px !important;margin: 0 0 0 25px;}
form.chtm  {margin: 0 0 0 18px !important;margin: 0 0 0 23px;}

.bloc-rep div, #cherche-alfa, .cherche-alfa {margin : 0 0 0 21px !important;margin : 0 0 0 25px;}
.bloc-rep div .cherche-alfa {margin-left:0 !important;}


div#top {font-weight: bold;font-size:0.8em; margin:-1em 0 1.7em 0;padding:0 0 0 210px !important;}
div#top h3.neutre {font-weight:bold;}
div#top a, div#top span {color:#5a7775 !important;}
div#top a:hover {text-decoration:none}

/* titres caches */
.structure {position:absolute; left:-1600px;font-size:0.1em !important; line-height:0.1em !important; margin:0 !important; padding:0 !important;}




#nv-bs .navig-C ul li.encours {background-color:#5C768F;color:#fff;border-right:1px solid #000000;}
#nv-bs .navig-C ul li.encours_dernier{background-color:#5C768F;color:#fff;border-right:none;}
.no_pointer {cursor:default;}


/* Tableau avec titre de la rubrique */

/* Les titres onglets */
/*
table.ttitreh2 {background-color:#fff;font-size:130%;border-collapse:collapse; border:0;position:relative;margin-bottom:0;}
table.ttitreh2 td {color:#fff;padding:0; margin:0;}
table.ttitreh2 td.titre { font-size:0.8em;background-repeat:repeat-y;background-position:3.8em 0em;}
table.ttitreh2 h2{font-size:1.2em;color:#FFF;margin:0 0 0 2.45em;letter-spacing:0.05em;}
table.ttitreh2 td.arrondi {text-align: right; vertical-align: top;}
table.ttitreh2 h2 {margin:0 0 0 2.8em !important;margin:0 0 0 2.5em;}
table.ttitreh2 td.titre {background-image:url(../images/fond-rouge.gif);background-position:4.2em 0 !important;background-position:3.8em 0;}
table.ttitreh2 td.arrondi {background-color:#E71E00;}*/

table.ttitreh2 { background-color:#fff;}
table.ttitreh2 {font-size:130%;border-collapse:collapse; border:0;position:relative;margin-bottom:0;}
table.ttitreh2 td {color:#fff;padding:0; margin:0;}
table.ttitreh2 td.titre { font-size:0.8em;background-repeat:repeat-y;background-position:3.8em 0em;}
table.ttitreh2 h2 {font-size:1.2em;color:#FFF;margin:0 0 0 2.45em;letter-spacing:0.05em;}
/* table.ttitreh2 h2 {margin:0 0 0 3em;} */
table.ttitreh2 td.arrondi {text-align: right; vertical-align: top;}

table.ttitreh2-gris { background-color:#fff;}
table.ttitreh2-gris {font-size:130%;border-collapse:collapse; border:0;position:relative;margin-bottom:0;}
table.ttitreh2-gris td {color:#fff;padding:0; margin:0;}
table.ttitreh2-gris td.titre { font-size:0.8em;background-repeat:repeat-y;background-position:3.8em 0em;}
table.ttitreh2-gris h2 {font-size:1.2em;color:#FFF;margin:0 0 0 2.45em;letter-spacing:0.05em;}
/* table.ttitreh2 h2 {margin:0 0 0 3em;} */
table.ttitreh2-gris td.arrondi {text-align: right; vertical-align: top;}

.no_gras {font-weight:normal;}
.size_doc {font-weight:normal;font-size:10px;}

div.t-log-2 {padding:0.2em 0 0.2em 0;margin-top:2em;}
div.t-log-2 h3 {margin-left:1.2em;}
div.t-log-2 div.t-log-in {background-color:#D6DDE3;margin-left:0 !important; margin-top:0.5em;border-bottom:solid 1px white;border-top:solid 1px white; padding-bottom:0.5em;}
div.t-log-2 div.t-log-in p {background-image:url(http://www.iledefrance.fr/images/puce-login.gif);background-position:0 0.5em;background-repeat:no-repeat;width:132px;color:black;text-decoration:none;padding:0.5em 0 0.2em 1.2em;margin-left:0 !important;}
div.t-log-2 div.t-log-in p a { font-weight:normal !important;display:block;}
div.t-log-2 div.t-log-in p a:hover {background-image:url(http://www.iledefrance.fr/images/fond-menu-bas.gif);background-position:right;background-repeat:repeat-y;}

/* Mis en commentaire de chercher archives */
div#chercher_archive {
display:none;
}

div#toolsbox{
	height:55px;
	border-bottom:1px solid gray;
}

div#toolsbox div#readspeaker{
	width:67%;
	float:left;
	height:55px;
	border-right:1px solid gray;
}

div#toolsbox.une_col div#readspeaker{
	width:55%;
}

div#toolsbox div#readspeaker span#player{
	background-image:url(fond_readspeaker.gif);
	margin:11px 0 0 5px;
	padding-left:5px;
	padding-top:6px;
	background-repeat:no-repeat;
	height:33px;
	width:259px;
	float:left;
}

div#divtheme div#toolsbox div#readspeaker span#player{
	margin:11px 0 0 0px;
}

div#toolsbox div#readspeaker span#player.readspeaker_cr75{
	padding-left:4px;
	background:none;
	padding-top:2px;
}

div#toolsbox div#readspeaker span#player span.libelle{
	float:left;
	margin:3px 3px 0 2px;
	color:#4E4E4E;
}

div#toolsbox div#readspeaker span#player.readspeaker_cr75 span.libelle{
	margin:6px 6px 0 2px;
}

div#divtheme div#toolsbox div#readspeaker span#player.readspeaker_cr75 span.libelle{
	margin:6px 6px 0 0px;
}

div#toolsbox.une_col div#readspeaker span#player.readspeaker_cr75 span.libelle{
	margin:6px 10px 0 2px;
}

div#toolsbox div#readspeaker a{
	display:block;
	margin-top:11px;
	color:#4E4E4E;
	float:left;
}

div#divtheme div#toolsbox.deux_col_DL div#readspeaker a{
	margin-left:17px;
}

div#toolsbox.deux_col div#readspeaker a{
	padding-left:18px;
}

div#toolsbox div.link_tools{
	float:left;
	margin:11px 0 0 4px !important;
}



div#toolsbox.une_col div.link_tools{
	margin-left:30px !important;
}

div#toolsbox.deux_col div.link_tools.missions{
	margin:10px !important;
}

div#toolsbox div.link_tools a{
	display:block;
	float:left;
	color: #4E4E4E;
	text-decoration:none;
}

div#toolsbox div.link_tools a:hover{
	text-decoration:underline;
}
div#toolsbox div.link_tools a img{
	border:none;
	float:left;
	margin-top:5px;
}

a#tipafriend{
	width:86px;
}

#colgauche div.tx-smileremonteeactuthematique-pi1 div.bandeau div#une_seule div.premier{
	height:auto;
	padding:5px;
	margin-left:0;
	clear:both;
}
#colgauche div.tx-smileremonteeactuthematique-pi1 div.bandeau div#une_seule div.premier h3{
	margin-bottom:0.5em;
}
form#rech-archives .ex {
	margin-top:0 !important;
}
.tx-smilemissionscompetences-pi2 #clpgch .liste_mc{
	padding-top:1em;
}
#a-la-une .une_flash{
	margin-left:44px;
}
#a-la-une .une_flash .rappel-rubrique {
	padding-top:0;
}
