/* ***************************************** @IMPORT */
/* header M6 */
@import url(footer-header-m6.css);

/* ***************************************** BASE PLUGINS */
/* tabs */
.ui-tabs-hide { display: none; }
/* jscrollPane */
.scroll-pane { overflow:auto; /* spÃ©cifier width et height pour skin */ }
.jScrollPaneContainer { position:relative; overflow:hidden; z-index:1; }
.jScrollPaneTrack { position:absolute; cursor:pointer; right:0; top:0; height:100% !important; }
.jScrollPaneDrag { position:absolute; cursor:pointer; overflow:hidden; }
.jScrollPaneDragTop { position:absolute; top:0; left:0; overflow:hidden; }
.jScrollPaneDragBottom { position:absolute; bottom:0; left:0; overflow:hidden; }
.jScrollArrowUp { display: block; position: absolute; z-index: 1; top: 0; right: 0; text-indent: -2000px; overflow: hidden; }
.jScrollArrowDown { display: block; position: absolute; z-index: 1; bottom: 0; right: 0; text-indent: -2000px; overflow: hidden; }
/* ***************************************** STRUCTURE - HEADER - FOOTER */
body { font:normal 11px/1.3 "Trebuchet MS", Arial, Helvetica, sans-serif; color:#000; background:url("bg_body.jpg") repeat-y scroll center top #000000; }

#main { position:relative; width:1002px; margin:0 auto; background:url("bg_body2.jpg") no-repeat scroll -286px top transparent }
/* middle */
#colLC { width:697px; overflow:hidden; float:left; }
#colR { width:303px; /* overflow:hidden;*/ float:right; }
/* upFooter */
/*.upFooter { padding:20px 0 5px 0; background:url(images/bg-upfooter.png) repeat-x; }
.upFooterL { float:left; width:345px; margin-right:5px; }
.upFooterL ul, .upFooterR .googleZone { padding:10px; background:url(images/bg-upfooter-inner.png) repeat-x; height:100%; }
.upFooterL li { display:block; width:154px; width:154px; }
.upFooterR { float:right; width:300px; }
.upFooter .h2 { margin-bottom:10px; }*/
.copyright {clear:both;text-align:center;padding:20px 0 10px 0;font-size:10px;}

.divPreFooter{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.upFooter { padding:20px 0 5px 0; background:url(bg-upfooter.png) repeat-x; }
.upFooterL { float:left; width:345px; margin-right:5px; }
.upFooterL ul, .upFooterR .googleZone { padding:10px; background:url(bg-upfooter-inner.png) repeat-x; height:100%; }
.upFooterL li { display:block; width:154px; width:154px; }
.upFooterR { float:right; width:300px; }
.upFooter .h2 { margin-bottom:10px; }
.upFooter .h2 img {  border:0px }
.upFooter .googleAnnonce .title { font-weight:bold; }

.googleZone .h3 { text-transform:uppercase; color:#2D869C; font-size:16px; }
.googleZone .h3 span { color:#2b3d53; }
.googleZone .title { font-size:13px; font-weight:bold; text-decoration:underline; }
.googleAnnonce .link a { color:#2D869C; }

/* banniÃ¨res pub*/
#pub_dart_MBR_T_728x90 {color:white; text-align:center; }
#pub_dart_MBR_T_728x90 div, #pub_dart_MBR_T_728x90 embed, #pub_dart_MBR_T_728x90 iframe, #pub_dart_MBR_T_728x90 object, #pub_dart_MBR_T_728x90 img {margin:5px 0;}



/* ***************************************** HOME PAGE */
.clearer1O { clear:both; height:10px; }
.actus { }
.actus .actu { position:absolute; top:0; left:0;}

.logoProg { display:block; position:relative; width:100% }
.logoProg img { position:absolute; top:10px; right:10px; width:50px; height:48px;}

.logoPlayer { display:block; position:absolute; top:60px; left:60px; width:39px; height:35px; background:transparent url("player.png") no-repeat 0 0 }
.logoPlayer a { display:block; width:39px; height:35px; }
.logoPlayerH { display:block; position:absolute; top:20px; left:75px; width:39px; height:35px; z-index:10000; background:transparent url("player.png") no-repeat 0 0 }
.logoPlayerH a { display:block; width:39px; height:35px; }

.logoPlayerInfo { display:block; position:absolute; top:50px; left:140px; width:39px; height:35px; background:transparent url("player.png") no-repeat 0 0  }
.logoPlayerInfo a { display:block; width:39px; height:35px; }

.logoPlayerSerie { display:block; position:absolute; top:135px; left:65px; width:39px; height:35px; background:transparent url("player.png") no-repeat 0 0  }
.logoPlayerSerie a { display:block; width:39px; height:35px; }
.logoPlayerFilm { display:block; position:absolute; top:75px; left:140px; width:39px; height:35px; background:transparent url("player.png") no-repeat 0 0  }
.logoPlayerFilm a { display:block; width:39px; height:35px; }

/*#page-index img{margin-left:1px;}*/

#page-index #bloc_left { position:absolute; display:block; top:-2px; left:-285px; width:286px; height:1485px; background:transparent url(bg_left.jpg) no-repeat 0 0 }
#page-index #bloc_right { position:absolute; display:block; top:-2px; right:-286px; width:286px; height:1485px; background:transparent url(bg_right.jpg) no-repeat 0 0 }
div#middle { position:relative; margin:0 auto; background:none; width:1002px }
#page-index div#middleInner { background:none; width:1002px }
#page-index #colLC { padding:0; width:697px; }
#page-index #colR { border-left:1px solid #D6DDE2; width:302px; }
#page-index .sstitre { font-size:13px; font-weight:bold; color:#51c1dd!important }
#page-index div#container_footer { position:absolute; bottom:123px; display:block; width:1000px; height:210px; z-index:1;  background:transparent url(container_footer.png) no-repeat 0 0 }

#page-index div#m6highlight { height:284px; }
#page-index div#highlightFooter { display:block; width:1000px; height:11px; background: transparent url(highlight_ombre.png) no-repeat 0 0 }
#page-index div#m6highlightLeft .actu a img { position:absolute; top:0; left:0; display:block; width:695px; height:284px; z-index:1500; }
#page-index div#m6highlightLeft { float:left; position:relative; width:695px; height:284px; z-index:15002;}
#page-index div#m6highlightLeft .texteup { position:absolute; height:284px; top:0; left:0; z-index:16004;}
#page-index div#m6highlightLeft .texteup div#view { position:absolute; left:500px; top:117px; width:170px; text-align:center; color:#FFFFFF }
#page-index div#m6highlightLeft .texteup div#view span { color:#51c1dd }
#page-index div#m6highlightLeft span#m6copyright { position:absolute; right:60px; bottom:13px; width:170px; text-align:right; color:#FFFFFF; font-size:9px; z-index:11111 }
#page-index a#actuPrev { display:block; position:absolute; top:235px; left:10px; height:29px; width:25px; z-index:16001; background: transparent url(sprite_container.png) no-repeat -180px -259px }
#page-index a#actuNext { display:block; position:absolute; top:235px; left:29px; height:29px; width:25px; z-index:16000; background: transparent url(sprite_container.png) no-repeat -207px -259px }
#page-index div#m6highlightLeft div#TitleSerie { position:absolute; top:10px; left:500px; width:165px; color:#FFFFFF;text-transform: uppercase; z-index:16000; font-family:arial }
#page-index div#m6highlightLeft div#TitleSerie p { font-size:24px; line-height:25px; font-weight:bold; }
#page-index div#m6highlightLeft div#TitleSerie span { font-size:16px }
#page-index div#m6highlightLeft div#blocVideo { position:absolute; top:130px; left:493px; padding:2px 0 0 37px; width:187px; height:68px; background: transparent url(fond_video.png) no-repeat 0 0 }
#page-index div#m6highlightLeft div#blocVideo img { top:3px; left:37px; width:113px; height:63px; }
#page-index div#m6highlightLeft div#blocLienVideo { position:absolute; top:200px; left:493px; }
#page-index div#m6highlightLeft div#blocLienVideo span { display:block; padding:2px; width:190px; height:22px; color:#8fa9b7; line-height:16px; background:transparent url(highlight_lien.png) no-repeat 0 0 }
#page-index div#m6highlightLeft div#blocLienVideo span.arrow { padding-left:15px; height:10px; background: transparent url(sprite_container.png) no-repeat -198px -336px }
#page-index div#m6highlightLeft div#blocLienVideo span.arrow a { color:#b1c5d5 }
#page-index div#m6highlightLeft div#blocLienVideo span.arrow a:hover { color:#FFFFFF; text-decoration:none }
#page-index div#m6highlightRight { float:right; width:305px; height:auto }
#page-index div#m6highlightRight span.m6titlePub { display:block; text-align:right; color:#8fa9b7 }
#page-index div#m6highlightRight div#pub_dart_REC_M_300x250 { width:305px; height:auto; margin:8px 2px 0 2px  }

#page-index div#m6infoProg { margin-top:10px; height:233px; width:1002px }
#page-index div#m6infoProg div#infoserie { float:left; position:relative; margin-left:10px; display:block; height:233px; width:323px; background:transparent url(1.gif) no-repeat 0 0;}
#page-index div#m6infoProg div#infoserie p { color:#FFFFFF; margin-left:10px; width:156px; overflow:hidden}
#page-index div#m6infoProg div#infoserie div#blocLeft { float:left; width:166px }

#page-index div#m6infoProg div#infoserie div#blocRight { float:left; margin-left:10px; width:145px; }
#page-index div#m6infoProg div#infoserie div#blocRight span { display:block;  padding:2px; line-height:16px; background: transparent url(sprite_container.png) no-repeat -202px -294px }
#page-index div#m6infoProg div#infoserie div#blocRight .hr { height:1px; border:none; background: transparent url(hr_serie.png) no-repeat 0 0; }
#page-index div#m6infoProg div#infoserie div#blocRight span a { padding-left:10px; color:#51c1dd }

#page-index div#m6infoProg div#infofilm { float:left; position:relative; display:block; margin:0 7px; height:233px; width:323px; background:transparent url(3.gif) no-repeat 0 0; }
#page-index div#m6infoProg div#infofilm p { display:block; padding-left:10px; width:300px; color:#FFFFFF; }
#page-index div#m6infoProg div#infofilm p.sstitre { margin-left:2px; margin-bottom:2px; }
#page-index div#m6infoProg div#infofilm span { display:block; margin-left:13px; line-height:17px; height:19px; background: transparent url(sprite_container.png) no-repeat -202px -294px }
#page-index div#m6infoProg div#infofilm span a { padding-left:20px; color:#51c1dd } 
#page-index div#m6infoProg div#infofilm .hr { margin-left:10px; height:1px; border:none; background: transparent url(hr_serie.png) no-repeat 0 0; }

#page-index div#m6infoProg div#buzzVideo { float:left; position:relative; display:block; margin: -1px 5px 0 0; width:161px; height:235px; background: transparent url(fond_buzz.jpg) no-repeat 0 0; overflow:hidden }
#page-index div#m6infoProg div#buzzVideo p { margin:5px 5px 0 8px; color:#FFFFFF; font-size:12px; }
#page-index div#m6infoProg div#buzzVideo p.titre { margin:5px 0 0 10px; padding:0; width:140px; font-size:20px; font-weight:bold; color:#FFFFFF; font-family:arial }
#page-index div#m6infoProg div#buzzVideo p.titre span { color:#223b4c; }
#page-index div#m6infoProg div#buzzVideo p a { color:#FFFFFF; }
#page-index div#m6infoProg div#buzzVideo p.titreProg { margin-bottom: 10px; font-size:15px; font-weight:bold; color:#FFFFFF; line-height: 16px;}
#page-index div#m6infoProg div#buzzVideo p.contenu { line-height: 14px;}

#page-index div#m6infoProg div#m6actu { float:left; display:block; position:relative; margin:-1px 0 0 0; width:161px; height:235px; background: transparent url(fond_actu.jpg) no-repeat 0 0 }
#page-index div#m6infoProg div#m6actu img { position:relative; z-index:16; margin-left:1px; /margin-top:-4px  }
#page-index div#m6infoProg div#m6actu div#logoMSN { position:absolute; top:0; right:0; width:106px; height:35px; background:url(bg_actu_msn.png) scroll no-repeat 0 0; z-index:15 }
#page-index div#m6infoProg div#m6actu hr { margin:5px 0 0 12px; /margin-top:0; height:1px; width:140px; background-color:#85939b; color:#85939b; border:none; }
#page-index div#m6infoProg div#m6actu p { display:block; margin:5px 5px 0 0;  color:#FFFFFF;}
#page-index div#m6infoProg div#m6actu p.lien span { display:block; float:left; height:15px; width:15px; background: transparent url(sprite_container.png) no-repeat -195px -310px   }
#page-index div#m6infoProg div#m6actu p.lien a { display:block; padding-left:20px; color:#FFFFFF; line-height:13px; }
#page-index div#m6infoProg div#m6actu p.titre { margin:5px 0 0 10px; padding:0; width:140px; /height:30px; font-size:20px; font-weight:bold; color:#FFFFFF; font-family:arial; background:none; z-index:10000; /padding-top:5px }
#page-index div#m6infoProg div#m6actu p.titre a { color:#FFFFFF;}
#page-index div#m6infoProg div#m6actu p.titre span { color:#223b4c; }

#page-index div#m6infoProgBottom { position:relative; margin:20px 0 0 0; width:1002px; height:320px; z-index:1000; background:transparent url(container_footer.png) repeat-x 1px 120px }
#page-index div#m6infoProgBottom div#accesprive { float:left; margin-left:10px; display:block; height:293px; width:161px; background:transparent url(5.gif) no-repeat 0 0; }
#page-index div#m6infoProgBottom div#accesprive p { margin:8px 0 0 10px; width:130px; color:#FFFFFF }
#page-index div#m6infoProgBottom div#accesprive p.titreAcces a { font-weight:bold; font-size:12px; text-transform: uppercase; color:#FFFFFF;}

#page-index div#m6infoProgBottom div#rencontre { float:left; position:relative; display:block; margin:0 3px; height:293px; width:161px; background:transparent url(2.gif) no-repeat 0 0; }
#page-index div#m6infoProgBottom div#rencontre p { margin:8px 0 0 10px; color:#FFFFFF }
#page-index div#m6infoProgBottom div#rencontre p.titreRencontre a { font-weight:bold; font-size:12px; text-transform: uppercase; font-family:arial; color:#FFFFFF;}

#page-index div#m6infoProgBottom div#infofilm { float:left; position:relative; display:block; margin: 0 5px 0  0; width:325px; height:293px; background: transparent url(4.gif) no-repeat 0 0; }
#page-index div#m6infoProgBottom div#infofilm p { margin-left:10px; color:#FFFFFF }
#page-index div#m6infoProgBottom div#infofilm p.sstitre { margin-left:10px; margin-bottom:2px; }

#page-index div#m6infoProgBottom div#avantprem { float:left; display:block; margin-right: 5px; margin-left: 1px; width:325px; height:143px; background: transparent url(7.gif) no-repeat 0 0; }
#page-index div#m6infoProgBottom div#avantprem img { float:left; margin:0; width:163px }
#page-index div#m6infoProgBottom div#avantprem div#contenu { float:right; margin:5px 0 5px 5px;  width:150px }
#page-index div#m6infoProgBottom div#avantprem div#contenu p { color:#FFFFFF }
#page-index div#m6infoProgBottom div#avantprem div#contenu p.avantprem { line-height:20px; font-size:20px; font-weight:bold; text-transform: uppercase; font-family:arial}
#page-index div#m6infoProgBottom div#avantprem div#contenu p.nomserie { margin-top:6px; font-size:14px; font-weight:bold;}
#page-index div#m6infoProgBottom div#avantprem div#contenu p.nomserie a { font-size:14px; font-weight:bold; text-transform: uppercase; color: #FFFFFF;}
#page-index div#m6infoProgBottom div#avantprem div#contenu p.accroche { font-size:12px; font-weight:bold; color:#000000;}
#page-index div#m6infoProgBottom div#avantprem div#contenu p span { color:#0f1419 }

#page-index div#m6infoProgBottom div#prime { position: relative; float:left; display:block; margin: 6px 5px 0  0; width:325px; height:143px; background: transparent url(info_prime.png) no-repeat 0 0; }
#page-index div#m6infoProgBottom div#prime img{ position:absolute; top:0; left:0; margin-left:60px }
#page-index div#m6infoProgBottom div#prime p { float:left; margin:3px 20px 0 15px; font-size:24px; font-weight:bold; color:#FFFFFF;}
#page-index div#m6infoProgBottom div#prime a img.degrade { position:absolute; margin:0; top:0; left:1px; display:block; width:325px; height:107px; z-index:100; background:transparent url(masque_cesoir.png) no-repeat -30px 0 }

#page-index div#m6infoProgBottom div#prime div#contenu { margin: 5px 0 0 3px; position: absolute; top: 0; left: 0; z-index:10000; width:150px}
#page-index div#m6infoProgBottom div#prime div#contenu p { color:#FFFFFF; display: block;}
#page-index div#m6infoProgBottom div#prime div#contenu p.nomserie { font-size:18px; font-weight:bold; color:#4eb4c3; width: 142px;text-transform: uppercase; line-height: 20px; font-family:arial}
#page-index div#m6infoProgBottom div#prime div#contenu p.nomserie a {font-weight:bold; text-transform: uppercase; color:#4eb4c3;}
#page-index div#m6infoProgBottom div#prime div#contenu p.accroche { font-size:12px; font-weight:bold; color:#FFFFFF; width: 142px; line-height: 15px;}
#page-index div#m6infoProgBottom div#prime div#chaine_prime { float:left; margin-top:100px; width:330px }
#page-index div#m6infoProgBottom div#prime div#chaine_prime ul { margin:10px 0 0 30px }
#page-index div#m6infoProgBottom div#prime div#chaine_prime ul li { float:left; margin-left:10px }
#page-index div#m6infoProgBottom div#prime div#chaine_prime li#m6 { display:block; width:28px; height:20px; background: transparent url(sprite_container.png) no-repeat -172px -406px }
#page-index div#m6infoProgBottom div#prime div#chaine_prime li#w9.w9 { display:block; width:36px; height:18px; background: transparent url(sprite_container.png) no-repeat -202px -386px }
#page-index div#m6infoProgBottom div#prime div#chaine_prime li#w9 { display:block; width:36px; height:18px; background: transparent url(sprite_container.png) no-repeat -202px -406px }
#page-index div#m6infoProgBottom div#prime div#chaine_prime li#pp { display:block; width:43px; height:17px; background: transparent url(sprite_container.png) no-repeat -241px -405px  }
#page-index div#m6infoProgBottom div#prime div#chaine_prime li#teva { display:block; width:39px; height:17px; background: transparent url(sprite_container.png) no-repeat -287px -405px }
#page-index div#m6infoProgBottom div#prime div#chaine_prime li#m6.m6 { display:block; width:28px; height:20px; background: transparent url(sprite_container.png) no-repeat -172px -385px }
#page-index div#m6infoProgBottom div#prime div#chaine_prime li#pp.pp { display:block; width:43px; height:17px; background: transparent url(sprite_container.png) no-repeat -241px -387px  }
#page-index div#m6infoProgBottom div#prime div#chaine_prime li#teva.teva { display:block; width:39px; height:17px; background: transparent url(sprite_container.png) no-repeat -287px -387px }

#page-index div#m6Plus { padding-top:20px; height:261px; width:1002px; background:transparent url(container_plus.jpg) no-repeat 0 -2px;  }
#page-index div#m6Plus ul { margin:0 20px; }
#page-index div#m6Plus ul li { float:left; position:relative; margin-left:7px; overflow:hidden; zoom:1 }
#page-index div#m6Plus ul li p { display:block; margin-top:-4px; padding-top:8px; width:231px; height:141px; background:transparent url(bg_plus.png) no-repeat 0 0 }
#page-index div#m6Plus ul li p.titre { margin:0; padding:5px 0; width:218px;  height:20px; font-size:16px; font-family:arial; text-transform:uppercase; font-weight:bold; color:#FFFFFF; background:none }

#page-index div#m6Plus ul li p span { display:block; margin-left:5px; padding:5px 5px 5px 15px; width:200px; line-height:10px; font-weight:bold; background:url("sprite_container.png") no-repeat scroll -198px -355px transparent  }
#page-index div#m6Plus span.lienextra { display:inline; position:absolute; top:212px; left:0; padding:0; background:none; color:#e4e6e8;}
#page-index div#m6Plus span.lienextra span.liens { display:inline; padding:5px; margin:0; color:#e4e6e8; background:none }
#page-index div#m6Plus span.lienextra span.liens a{ color:#e4e6e8; }
#page-index div#m6Plus .m6PlusBleu { display:inline; color:#208090; padding:0; background:none; }
#page-index div#m6Plus div#PlusPrev { display:none; position:absolute; top:1059px; left:0; height:40px; width:25px; background: transparent url(sprite_container.png) no-repeat -178px -213px }
#page-index div#m6Plus div#PlusNext { display:none; position:absolute; top:1059px; right:0; height:40px; width:25px; z-index:1; background: transparent url(sprite_container.png) no-repeat -246px -213px }

#page-index div#Partenaire { display:block; width:1002px; height:194px; background: transparent url(fond_partenaire.jpg) no-repeat 1px 0 }
#page-index div#Partenaire ul.lien { padding-top:10px; margin-left:20px }
#page-index div#Partenaire ul.lien li { float:left; padding-left:2px; color:#a0a9b0;}
#page-index div#Partenaire ul.lien li a{ color:#a0a9b0;text-decoration:none }
#page-index div#Partenaire ul.lien li:first-child { color:#FFFFFF }
#page-index div#Partenaire ul.lien li a:hover{ color:#FFFFFF }
#page-index div#Partenaire ul.partenaire { margin-left:20px; }
#page-index div#Partenaire ul.partenaire li { float:left; margin:20px 0 0 7px; }
/* ***************************************** COMMUN */
#middle { overflow:hidden;}
#middle .h1 {position: relative;}
#middle .h1 img { display:block; }
#middle .banniere { position:relative; background-repeat:no-repeat; height:125px; width:1000px; overflow:hidden; }
#middle .banniere span { position:absolute; height:126px; width:1000px; text-indent:-5000px; }
.page-m6fr {margin:0 auto; }
/*.page-m6fr #middle {background-color:#fff;}*/
.page-m6fr #footer_all {background-color:#fff;}
.page-m6fr #middleInner {background:url(bg-middle-inner.png) repeat-x white; }
.page-m6fr #colLC { padding:10px 14px 0 14px; width:667px; }
.page-m6fr #colR { width:302px; }
.dateDiffusion {position:absolute;/*font-style:italic;*/font-size:11px;}
.dateDiffusion.titre {width: 850px; text-align: center;}
.dateDiffusion.titre h1 { font-size:28px; text-transform:uppercase; text-align: center;}
#menuMiddle li { display:inline; }
#menuMiddle li a { display:block; float:left; width:141px; text-align:center; line-height:28px; font-size:13px; background-repeat: no-repeat; background-position:top left; margin-right:1px; }
#menuMiddle li a span { display:block; /*height:100%;*/ background-repeat: no-repeat; background-position:top right; }
#menuMiddle li a:hover, #menuMiddle li.current a { text-decoration:none; }
#menuMiddle li.current a { font-weight:bold; }
#div3col { padding:0 0 5px 5px; }
.bloc-3col { position:relative; float:left; width:225px; height:202px; margin:5px 5px 0 0; overflow:hidden; }
.bloc-3col .degrade { position:absolute; background:url(bg-degrade-3col.png) repeat-x; padding:5px; width:216px; height:192px }
.bloc-3col h2 { font-size:15px; margin-bottom:8px; border-bottom-width:1px; border-bottom-style:solid; }
.bloc-3col li h1 { display:inline; }
.bloc-3col .more { position:absolute; right:10px; bottom:3px; }
.bloc-3col .scroll-pane { width:215px; height:150px; }
.bloc-3col p {text-align: justify;}
.hp-rubrique .module { height:202px; }
.hp-rubrique .module .degrade { height:192px; }
.more { font-size:10px; }
.pagination{ text-align:center; margin:10px 0; font-size:10px; }
.pagination a{ padding:0 3px; }
.pagination strong{ padding:0 3px; }
.pagination .prev { float:left; margin-left:5px; }
.pagination .next { float:right; margin-right:5px; }
.choixSaison { text-align:center;  font-size:10px;}
.choixSaison a { padding:0 3px;}
.choixSaison strong{ padding:0 3px; }
.choixSaison span {filter:alpha(opacity=20); opacity:0.20; -moz-opacity:0.20;}
.vosCommentaires .pagination .prev, .vosCommentaires .pagination .next { margin:0; }
.vosCommentaires { margin:0 0 5px 0; }
.vosCommentaires .inner { padding:10px; }
.vosCommentaires h2 { font-size:16px; padding:0 10px; }
.vosCommentaires .h3 { font-size:16px; font-weight:bold;}
.vosCommentaires .nbcommentaires { padding:5px 0; }
.vosCommentaires .commentaires { margin-bottom:10px; }
.vosCommentaires .commentaires li { position:relative; padding:10px 0 5px 0; border-bottom-width:1px; border-bottom-style:solid; margin:0; }
.vosCommentaires .pseudo { font-weight:bold; }
.vosCommentaires .alerter { padding-right:10px; }
.vosCommentaires form p { margin-top:10px; }
.vosCommentaires form .fL, .vosCommentaires form .fR { width:330px; }
.vosCommentaires .typeText { padding:1px 2px; width:322px; }
.vosCommentaires textarea { overflow:auto; width:652px; padding:1px 2px; }
.vosCommentaires img { vertical-align:middle; }
.vosCommentaires span { width:330px; }
.vosCommentaires label { font-weight:bold; display:block; }
.vosCommentaires label img { margin-left:20px; }
.vosCommentaires .typeSubmit { color:white; cursor:pointer; border:0;text-decoration:none;text-transform:uppercase;padding:0px 15px; -moz-border-radius: 3px;}
.googleAnnonce .title, .googleAnnonce .data, .googleAnnonce .link { display:block; /*line-height:13px;*/ }
.googleAnnonce .link { font-size:10px; }
.tri-liste { padding:0 0 10px 0; font-size:12px; margin-bottom: 10px; float:right; }
.tri-liste li { display:inline; border:0!important; padding:0!important; }
.tri-liste li a { padding:0 }
.tri-liste h1, .tri-liste h2 {display:inline;font-size:11px!important;}
.tri-liste .current { font-weight:bold; }

.smallWidth .inner { width:670px; float:left; }
.listes ul.paddingBottom {padding-bottom:20px;}
.listes li { padding:10px 0; border-top:1px solid #cdc8c2; }
.listes .first { border:0; padding-top:0; }
.listes img { float:left; }
.listes .splitRight { width:520px; }
.listes .more {position:relative;top:7px;}
.smallWidth .splitRight { width:510px; }
.titreListe  { background:url(bg-degrade-titres.png) repeat-y; padding:2px 5px; font-size:15px!important; font-weight:bold!important; margin-bottom:10px; }
.listes .h2, .listes h2 { font-size:15px; font-weight:bold; line-height:17px; }
.listes .h3, .listes h3 { font-size:13px; font-weight:normal; }
.listes .h4, .listes h4, .listeGaleries h3, .listeVideos h3 { font-size:13px; font-weight:normal; }
.listes .h5, .listes h5 { font-size:11px; line-height:normal; font-weight:normal; }
/*.listes p { margin-top:5px; }*/
.listes .boutons-pictos { padding:5px 0; }
.listeCandidats .splitRight,.listePersonnages .splitRight { width:520px; }
.listeCandidatsSecondaires ul { width:330px; }
.listeCandidatsSecondaires li { float:left; padding-right:5px; border:0; }
.listeCandidatsSecondaires li img { padding:0 11px 0 0; }
.listeCandidatsSecondaires .splitRight {width:170px;}
.listes-right { width:226px; float:right; }
.blocs-listes-right { margin:0 0 10px 0; }
.blocs-listes-right li { border:0; padding:5px 0; }
.blocs-listes-right h3, .blocs-listes-right .h3 {float:none;font-size:15px;font-weight:bold;margin-bottom:8px;}
.blocs-listes-right h4, .blocs-listes-right .h4 { float:right; width:130px; font-size:11px; line-height:13px; margin-bottom:3px; }
.blocs-listes-right p { float:right; width:130px; }
.fil { padding:10px 5px 20px 0; font-size:10px; }
.fil strong { font-weight:normal; }
.recherche { padding:5px 10px; margin:0 0 20px 0; line-height:19px; }
.recherche span { font-weight:bold; }
.recherche label { padding:0 2px 0 10px; line-height:19px; display:block; float:left; }
.recherche input { vertical-align:middle; float:left; }
.recherche select { float:left; }
.recherche .submit { padding:0; margin:0 0 0 5px; }
.lesCommentaires h5 { font-weight:normal; }
.marginBottom10px { margin-bottom:10px; }
.non-dispo {border-width:1px;border-style: solid; }
.ficheTech h1 {font-weight:normal;display:inline;}
.ficheTech li { margin-bottom:5px; }
/* addThis */
.addthis {padding:3px;}
#at_hover, #at15s_head {font-size:10px!important;}
/* ***************************************** PLAN DU SITE */
.plan-site { padding-top:10p; width:970px; }
.plan-site h2 { padding:1px 6px; margin-bottom:10px; text-transform:uppercase; color:#2a3e45; font-size:15px; font-weight:normal; background:#dde3e7 }
.plan-site ul { margin-bottom:10px; }
.plan-site li { line-height:13px; padding-bottom:8px; }
.plan-site li a { color:#2D869C; }
.plan-site li a span { color:#000; font-size:12px; }
.plan-site .fL, .plan-site .fR { width:328px; }
.plan-site .col{float: left; width: 318px; padding:0 0 0 8px;}
.plan-site .first{padding:0;}
#page-plan #colR { background:url(bg-col-right.png) repeat-x; }
/* ***************************************** RSS */
.rss { padding-top:10px; }
.rss .h1 { position:relative;top:-15px; }
.rss .fL, .rss .fR { width:328px; }
.rubriqueRSS { margin-bottom:20px; }
.rubriqueRSS-title {position:relative; background:#435a68 url(bg-rss-titres.png) repeat-x;height:27px; overflow:hidden;}

.rss h2 a{ text-transform:uppercase; color:white; font-size:18px; font-weight:bold; padding:1px 6px; }
.rss h2 a:hover {text-decoration:none;}
.rss h4 a { position:absolute;right:0;top:0;display:block; background: url(bg-logos-rss.jpg) no-repeat; width:95px;height:27px;text-indent:-5000px; }
.rss ul { background:#cad6dd; padding:5px 5px 2px 5px;}
.rss li { display:inline; }
.rss li .inner { display:block;background:#eff1f2; padding:5px;margin-bottom:3px;}
.rss h3 a { font-size:14px; color:#2d869c; display:block; background:url(bg-fleche-rss.gif) no-repeat top left; padding-left:20px;line-height:15px; }
.rss h3 a:hover {text-decoration:underline;}
* html .rss ul, 
* html .rss li .inner,
* html .rss h5 a  {zoom:1;}/* Has Layout IE6 */
.rss h5 a.open { background-position:bottom left;}
.rss .hide { background:none; padding:10px 0 0 0; margin:0; display:none; }
.rss li li a { display:inline-block; margin:0 12px 0 0; }
.rss li li img { vertical-align:middle; }
.rssTeva h4 a { background-position:right 0; }
.rssNeteco h4 a { background-position:right -27px; }
.rssClubic h4 a { background-position:right -54px; }
.rssTurbo h4 a { background-position:right -81px; }
.rssJeuxVideos h4 a { background-position:right -108px; }
.rssDeco h4 a { background-position:right -135px; }
.rssWideo h4 a { background-position:right -162px; }
.rssM6info h4 a { background-position:right -189px; }
.rssM6jeux h4 a { background-position:right -216px; }
#page-rss #colR { padding-top:108px; }
.rssAide { border:1px solid #d5dee4; margin:8px 0; width:290px; }
.rssAide h2 { color:#2d869c; padding:2px 10px; font-size:15px; background:#d5dee4; }
.rssAide p { padding:10px; text-align:justify; }
/* ***************************************** NOUS CONTACTER (FAQ) */
.faq { padding-top:10px; }
.faq h1 {}
.faq ul {padding-bottom:20px;}
.faq li { display:inline; }
.faq li .inner { margin-bottom:3px; padding:5px; }
.faq h2 a { font-size:14px; color:#2d869c; display:block; background:url(bg-fleche-rss.gif) no-repeat top left; padding-left:20px; height:14px; line-height:14px; }
.faq h2 a.open { background-position:bottom left }
.faq .hide { background:#EFF1F2; border:1px solid #CAD6DD; padding:10px 20px; margin:10px 20px 20px 20px; display:none; font-size:12px;}
.faq .hide a { color:#2d869c;}

#page-faq .contact {padding-bottom:20px;}
#page-faq .contact h3 { text-align:center; font-size:17px; font-weight:normal; background:url(bg-titre-compte.png) repeat-x; line-height:25px; margin-bottom:10px; }
#page-faq .contact form { width:500px; padding:20px 0; }
#page-faq .contact form p { margin-bottom:8px; }
#page-faq .contact label {  display:block; color:#5e5e5e;}
#page-faq .contact .typeText { padding:1px 2px; width:322px; border:1px solid #b5b8c8; vertical-align:top; }
#page-faq .contact select { padding:1px 2px; width:328px; border:1px solid #b5b8c8; vertical-align:top; }
#page-faq .contact textarea { overflow:auto; padding:1px 2px; width:322px; vertical-align:top; border:1px solid #b5b8c8; }
#page-faq .contact form :focus { background:#e1e6ea; }

#page-faq #colR { padding-top:70px; }

/* ***************************************** PAGE REGLEMENTS JEUX ANTENNES  */
.reglements-jeux { zoom:1; float:left; margin-top: 10px;}
.reglements-jeux .h1 { margin-bottom:8px; }
.reglements-jeux li { display:inline; }
.reglements-jeux li div { width:154px; height:160px; float:left; padding:0 10px 20px 0; }
.reglements-jeux li a { display:block; }
.reglements-jeux li h2{ font-size:14px; font-weight:bold; }
#page-reglements-jeux #colR { padding-top:70px; }
/* ***************************************** PAGE RESULTATS DE RECHERCHE  */
#page-resultats-recherche #colR { padding-top:50px; }
#page-resultats-recherche .googleZone { padding:10px; margin:0 0 10px 0; background:#edf0f1; }
#page-resultats-recherche .googleAnnonce { float:none!important; width:100%!important; }
#page-resultats-recherche .googleAnnonce .title { font-weight:bold; font-size:15px; }
#page-resultats-recherche #colR .googleZone { width:260px; }
/* ***************************************** PAGE METEO  */
#page-meteo #colR { padding-top:70px; }
.meteo iframe{ margin: 0 auto; display: block;} 
/* ***************************************** PAGE JEUX CONCOURS  */
.jeux-concours { padding-bottom:10px; }
#page-jeux-concours #colR { padding-top:70px; }
.jeux-concours .affiche { float:left; margin-bottom:10px;}
.jeux-concours .fR { width:430px; }
.jeux-concours p {margin-bottom:10px;}
.jeux-concours h1 { font-size:20px; font-weight:bold; text-transform:uppercase; position:relative; top:-8px; color:#e64416; }
.jeux-concours ul { margin-bottom:10px; }
.jeux-concours li { display:inline; color:#e64416; }
.jeux-concours li a { padding:0 5px 0 0; color:#e64416; }
.jeux-concours .btJouer { background-color:#e64416; background-image:url(bg-jouer.png); color:white; text-transform:uppercase; font-size:24px; font-weight:bold; text-align:center; padding:0; line-height:24px;height:24px; margin-top:20px; }
.jeux-concours .btJouer a { color:white; text-decoration:none; }
.jeux-concours iframe{ clear:both;display:block;width:100%;}
/* ***************************************** PAGE 404  */
.prog-populaires { padding-top:10px; }
.prog-populaires h2 { padding:1px 6px; margin-bottom:10px; text-transform:uppercase; color:#2a3e45; font-size:15px; font-weight:normal; background:#dde3e7 }
.prog-populaires p { margin-bottom:20px; }
.prog-populaires .fL, .prog-populaires .fR { width:328px; }
#page-404 #colR { padding-top:70px; }
/* ***************************************** PAGE MON COMPTE M6  */
.mon-compte div { margin-bottom:20px; text-align:center; }
.mon-compte a { color:#2D869C; }
.mon-compte .h2 { margin:0 0 10px 0; }
.mon-compte .titre { text-align:center; font-size:17px; font-weight:normal; background:url(bg-titre-compte.png) repeat-x; line-height:25px; margin-bottom:10px;padding:0; }
.mon-compte form { width:240px; margin:0 auto; }
.mon-compte label { width:60px; display:block; float:left; text-align:right; padding-right:5px; color:#5e5e5e; }
.mon-compte form p { text-align:center; padding:5px 0; }
.mon-compte .typeText { padding:1px 2px; vertical-align:top; width:160px; }
.boutons {background:url(bg-boutons-compte.png) repeat-x 0 0;border:0;color:white!important;text-decoration:none;text-transform:uppercase;cursor:pointer;padding:0px 15px;font-size:11px;display:inline; -moz-border-radius: 3px;-webkit-border-radius: 3px;}
.boutons:hover { background-position:0 -100px; text-decoration:none; }
input.boutons {padding-top:0;padding-bottom:0;}
*:first-child+html input.boutons{ padding:0 5px;}
* html input.boutons{ padding:0 5px;}
#page-mon-compte #colR { padding-top:70px; }
.mon-compte p.message { color:#5e5e5e; margin-bottom:10px; }
.mon-compte ul { margin:10px 0; }
.mon-compte li { display:inline; }
.mon-compte li a { text-align:center; display:block; float:left; margin-left:2px; width:72px; height:37px; padding:0; background:url(bg-logo-chaines.png) repeat-x; text-decoration:none; overflow:hidden; }
#erreur { color:#ED381B; font-weight:bold; text-align:left; }
.confirmation { font-weight:bold; text-align:center; }
.mdpOublie form { width:300px; }
.mdpOublie form label { width:auto; }
.post-inscription p { padding:10px; }
.post-inscription form { width:300px; margin-top:10px; }
.post-inscription form label { width:auto; }
.validation p { padding:10px; }
.inscription-newsletter p { padding:10px; }
.inscription form { width:460px; margin:0 auto; }
.inscription label { width:200px; display:inline; padding-right:5px; color:#5e5e5e; float:left; }
.inscription form p { padding:5px 0; }
.inscription form p.left { text-align:left; }
.inscription .typeText { padding:1px 2px; vertical-align:top; width:160px; }
.inscription .typeRadio { vertical-align:middle; float:left; }
.inscription .typeCheckbox { vertical-align:middle; }
.inscription.radio { text-align:left; }
.inscription .radio label { width:20px; }
.inscription form :focus { background:#e1e6ea; }
.inscription .cgu { padding-left:100px; }
.inscription .cgu label { float:left; display:inline; margin-left:10px; width:auto; }
/* ***************************************** PAGE MON COMPTE M6 INSCRIPT */
#page-mon-compte-inscrit #middleInner { padding:10px 15px 10px 15px; }
#menu-mon-compte { margin:0; }
#menu-mon-compte li { display:inline; }
#menu-mon-compte a { display:block; width:162px; margin:0; background:url(bg-titre-compte.png) repeat-x; float:left; text-align:center; line-height:22px; border-bottom:1px solid #cfd7dd; height:auto; color:black; }
#menu-mon-compte a:hover { background:#D7DCE1 }
#menu-mon-compte .ui-tabs-selected a { background:white!important; border:1px solid #cfd7dd; border-bottom:0; }
.moncompte-inner { border:1px solid #cfd7dd; border-top:0; padding:10px; text-align:left!important; margin:0!important; }
.moncompte-inner form { width:650px; margin:0 auto; }
.moncompte-inner label { width:240px; display:inline; padding-right:5px; color:#5e5e5e; float:left; }
.moncompte-inner form p { padding:5px 0; }
.moncompte-inner form p.left { text-align:left; }
.moncompte-inner .typeText { padding:1px 2px; vertical-align:top; width:160px; }
.moncompte-inner .typeRadio { vertical-align:middle; float:left; }
.moncompte-inner .typeCheckbox { vertical-align:middle; }
.moncompte-inner .radio { text-align:left; }
.moncompte-inner .radio label { width:20px; }
.moncompte-inner form :focus { background:#e1e6ea; }
#moncompte2 .cf { padding:0 0 0 80px; }
#moncompte2 form { width:auto; }
#moncompte2 .fieldset { width:220px; float:left; margin:10px; padding:10px; border:1px solid #cfd7dd; }
#moncompte2 .fieldset .h3 { font-size:12px; padding:0 10px; background:url(bg-titre-compte.png) repeat-x; font-weight:bold; }
#moncompte2 .typeText { padding:1px 2px; vertical-align:top; width:210px; }
#moncompte2 label { display:block; text-align:left; }
#moncompte3 { padding:20px; }
#moncompte3 label { text-align:left; }
#moncompte3 form { width:auto; }
#moncompte3 ul { float:left; width:33%; }
#moncompte4 { padding:20px; }
#moncompte4 label { text-align:left; }
#moncompte4 form { width:auto; }
#moncompte4 ul { float:left; width:33%; }

/* ***************************************** PAGES INDEX SERIES/EMISSION/SPECTACLE */

.page-index #colLC {border-right:1px solid #D6DDE2;width:671px;}

.aLaUne { float:left; width:685px; height:270px; margin-bottom:30px; }
.aLaUne li { display:block; width:221px; height:125px; overflow:hidden; float:left; margin:10px 7px 0 0; padding:0; position:relative; }
.aLaUne li a { display:block; width:221px; overflow:hidden; text-decoration:none; }
.aLaUne li .text { position:absolute; bottom:0; left:0; }
.aLaUne li .hot { display:block; width:201px; height:10px; overflow:hidden; text-transform:uppercase; background:#c6371f; font-size:14px; padding:5px 10px; filter:alpha(opacity=90); opacity:0.90; -moz-opacity:0.90; color:#fff; line-height:10px; font-weight:normal; }
.aLaUne li h2 a{ display:block; width:201px; background:#0e161d; text-transform:uppercase; padding:5px 10px 0 10px; filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70; color:#fff; }
.aLaUne li .h3 a{ display:block; width:201px; background:#0e161d; padding:0px 10px 5px 10px; filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70; color:#fff; font-size:11px; line-height:14px; font-weight:normal; }
.aLaUne li .h4 { display:none; width:201px; height:27px; overflow:hidden; background:#0e161d; padding:5px 10px; filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70; color:#fff; font-size:11px; line-height:14px; font-weight:normal; }
* html .aLaUne li .text {bottom:-1px;} /* ie6 hack */

.page-index .tri-liste { float:left; color:#6d838c;padding:0; font-size:12px;  margin: 10px 0;}
.page-index .tri-liste  li { display:inline; float:left; }
.page-index .tri-liste  a { color:#6d838c; }
.page-index .tri-liste  .current { color:black; font-weight:bold; }




.page-index .listes ul { width:330px; }
.page-index .listes li { float:left; padding-right:5px; border:0; }
.page-index .listes li img { padding:0 11px 0 0; }
.page-index .listes .splitRight {width:170px;}

.page-index .listes.large ul {width:660px;}
.page-index .listes.large li {border-top:1px solid #CDC8C2;}
.page-index .listes.large .splitRight {width:500px;}
.page-index .listes.large p {text-align: justify;}

.page-index .listes h2 a, .page-index .listes h2{text-transform:uppercase;color:#2D869C;font-size:12px;}
.page-index .listes .h4 {font-size:11px;}
.page-index .listes .h5 {font-size:11px;}

.page-index .liens a {color:#6d838c;}

.page-index .pagination a {color:#6d838c;}

.page-index #les-plus {padding:0;background:white;margin-bottom:30px;}
/* ***************************************** PAGES SERIES */
.page-series #colLC { padding:10px; width:677px; }
#page-series-hp #colLC { padding:0; width:697px }
.lesVideos li { padding:0 0 8px 0; }
.lesVideos li .visuel { float:left; width:76px; }
.lesVideos li h3, .lesVideos li p { float:right; width:130px; }
.lesVideos li h3 { line-height:14px; margin-bottom:3px; }
.lesPhotos .jcarousel-container { position:relative; width:215px; height:140px; overflow:hidden; margin:0 auto; }
.lesPhotos .jcarousel-next { width:15px; height:14px; background:url(btn-fleche.gif) no-repeat -15px 0; position:absolute; right:0px; bottom:0; }
.lesPhotos .jcarousel-prev { width:15px; height:14px; background:url(btn-fleche.gif) no-repeat 0 0; position:absolute; left:0px; bottom:0; }
.lesPhotos .jcarousel-clip { width:215px; }
.lesPhotos .jcarousel-item { width:215px; float:left; }
.galeriePortraits .jcarousel-container { position:relative; width:215px; height:140px; overflow:hidden; margin:0 auto; }
.galeriePortraits .jcarousel-next { width:15px; height:14px; background:url(btn-fleche.gif) no-repeat -15px 0; position:absolute; right:0px; bottom:0; }
.galeriePortraits .jcarousel-prev { width:15px; height:14px; background:url(btn-fleche.gif) no-repeat 0 0; position:absolute; left:0px; bottom:0; }
.galeriePortraits .jcarousel-clip { width:215px; }
.galeriePortraits .jcarousel-item { position:relative; width:215px; float:left; margin-right:5px; }
.galeriePortraits .jcarousel-item span { display:block; position:absolute; left:0; bottom:3px; background:black; text-align:center; color:white; width:212px; padding:3px; filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70; overflow:hidden; }
.pub-partenaires { position:relative; background:url(bg-partenaires.png) repeat-x; height:100px; padding:12px 10px; text-align: center; }
.pub-partenaires .degrade { position:absolute; background:url(bg-degrade-news.png) repeat-x; padding:10px; width:282px; height:140px }
.pub-partenaires p { font-weight:bold; }
.videosReplay { position:relative; background-repeat:repeat-x; padding:12px 10px; margin-bottom:8px; }
.videosReplay .h2 { font-size:15px;  margin-bottom:10px; }
.videosReplay .h2 span {float:left;line-height:35px; font-weight:bold;}
.videosReplay .h2 img {vertical-align:middle; float:right;}
.videosReplay li { float:left; padding:4px; margin-bottom:5px; background-color:#eff1f3;}
.videosReplay li .visuel { float:left; width:76px; }
.videosReplay li p { float:right; width:180px; }
.videosReplay li .h4 { font-weight:bold; }
.carouselPersonnages { width:677px; margin:0 auto 10px auto; padding:0 0 10px 0; background:white;}
.carouselPersonnages h2 { padding:1px 5px; font-weight:bold; font-size:15px; }
.carouselPersonnages .jcarousel-container { position:relative; width:635px; height:83px; overflow:hidden; padding:1px 21px; margin:0 auto; }
.carouselPersonnages .jcarousel-next { width:15px; height:14px; background:url(btn-fleche.gif) no-repeat -15px 0; position:absolute; right:2px; bottom:35px; }
.carouselPersonnages .jcarousel-prev { width:15px; height:14px; background:url(btn-fleche.gif) no-repeat 0 0; position:absolute; left:2px; bottom:35px; }
.carouselPersonnages .jcarousel-clip { width:635px; }
.carouselPersonnages .jcarousel-item { position:relative; width:123px; float:left; margin-right:5px; }
.carouselPersonnages .jcarousel-item span { display:block; position:absolute; left:0; bottom:0; background:black; text-align:center; color:white; width:117px; padding:3px; filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70; overflow:hidden; }
.carouselPersonnages .jcarousel-item a { text-decoration:none !important; }
.fiche { margin:0 0 10px 0; }
.fiche h1 { font-size:15px; font-weight:bold; margin-bottom: 0.5em;}
.fiche h2 { font-size:11px; line-height:normal; font-weight:normal; }
.fiche .h4 { font-size:13px; font-weight:normal; margin-bottom:5px; }
.fiche .h5 { font-size:11px; line-height:normal; font-weight:normal; }
.fiche .visuel { float:left; margin:0 10px 0 0; width:382px; }
.copyright-photo {font-size:9px; text-align:right!important; filter:alpha(opacity=30); opacity:.3}
.fiche p { text-align:justify; }
.fiche iframe{ clear:both;display:block;width:680px; }
.fiche .liste-boutons-pictos {height: 30px;}
.boutons-pictos { padding:10px 0; }
.boutons-pictos li { display:inline; border:0!important; }
.boutons-pictos a { float:left; display:block; padding:0 0 0 5px; text-decoration:none; filter:alpha(opacity=100); opacity:1; -moz-opacity:1; margin-right:5px; line-height:16px; color:white; }
.boutons-pictos span { display:block; background-image:url(bg-pictos.gif); background-repeat:no-repeat; padding:0 5px 0 22px; line-height:16px; }
.boutons-pictos a:hover { filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70;text-decoration:none; }
.boutons-pictos .picto-videos { background-position:0 -26px; }
.boutons-pictos .picto-photos { background-position:0 -56px; }
.boutons-pictos .picto-rating { background-position:0 3px; }
.pictos { padding:0px 10px; background:#C6C1BB; }
.pictos li { display:inline; border:0!important; }
.pictos span { background-image:url(bg-pictos.gif); background-repeat:no-repeat; line-height:11px; padding:0 0 0 18px; color:white; font-weight:bold; margin-right:10px; }
.pictos .picto-videos { background-position:0 -26px; }
.pictos .picto-photos { background-position:0 -56px; }
.blocPerso { /*clear:both;*/ margin-top:10px; }
.blocPerso h3 { padding:1px 5px; font-weight:bold; }
.blocPerso .titreListe {margin-top: 5px;}
#colLC .googleZone { padding:5px 10px; margin:20px 0; }
#colLC .googleAnnonce { float:left; width:48%; padding-top:5px; }
#colLC .googleAnnonce .title { font-weight:bold; }

/* PAGES PHOTOS */
.carouselGalerie { width:677px; margin:0 auto 10px auto; padding-bottom:10px; background:white; }
.carouselGalerie h2 { font-size:16px; padding:0 10px; }
.carouselGalerie .jcarousel-container { position:relative; width:614px; height:83px; overflow:hidden; padding:0 33px 0 34px; margin:0 auto; }
.carouselGalerie .jcarousel-next { width:15px; height:14px; background:url(btn-fleche.gif) no-repeat -15px 0; position:absolute; right:10px; bottom:35px; }
.carouselGalerie .jcarousel-prev { width:15px; height:14px; background:url(btn-fleche.gif) no-repeat 0 0; position:absolute; left:10px; bottom:35px; }
.carouselGalerie .jcarousel-clip { width:614px; height:83px; }
.carouselGalerie .jcarousel-item { position:relative; width:144px; height:81px; float:left; display:block; border:1px solid white; margin:0 10px 0 0; }
/*.carouselGalerie .jcarousel-item span { display:block;  background:black; text-align:left; color:white; width:152px; padding:3px; filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70; overflow:hidden; }*/
.carouselGalerie .jcarousel-item a {text-decoration:none;}
.carouselGalerie .jcarousel-item a:hover span, .carouselGaleriePhotos .current span { display:block; }
.carouselGalerie .current { border-color:#000!important; }
.carouselGalerie .jcarousel-item .text { position:absolute; bottom:0; left:0; }
.carouselGalerie .jcarousel-item .h3 { display:block; width:124px; background:#0e161d; padding:2px 10px; filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70; color:#fff; font-size:11px; line-height:14px; font-weight:normal; }
.carouselGalerie .jcarousel-item .h4 { display:none; width:124px; overflow:hidden; background:#0e161d; padding:2px 10px; filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70; color:#fff; font-size:11px; line-height:14px; font-weight:normal; }
.page-photos .tri-liste { padding:10px; margin:0; }
.page-photos .inner { background:white; width:676px; margin:0 auto; padding:3px 2px 3px 3px; }
.page-photos .inner .ui-tabs-selected a { font-weight:bold; }
.page-photos .listePhotos { width:676px; height:380px; overflow:hidden; margin-top:3px; text-indent: -5000px; }
.page-photos .navPhotos { margin:0 auto; text-align:center; padding:2px; }
.page-photos .navPhotos h2 {font-weight:normal;}
.page-photos h1 { font-size:15px; line-height:22px; text-align:left; overflow:hidden; padding:2px 10px }
.page-photos .inner .fL { display:block; width:109px; overflow:hidden; line-height:22px; }
.page-photos .btDiaporama { display:block; float:left; width:130px; overflow:hidden; line-height:22px; }
.page-photos .btPrev { position:relative; display:block; float:left; width:27px; height:23px; overflow:hidden; text-indent:-5000px; margin-right:5px; }
.page-photos .btNext { position:relative; display:block; float:left; width:27px; height:23px; overflow:hidden; text-indent:-5000px; }
.page-photos .btPrev span { position:absolute; top:0; left:0; background:url(btn-fleche.gif) no-repeat 0 -200px; width:100%; height:100%; }
.page-photos .btNext span { position:absolute; top:0; left:0; background:url(btn-fleche.gif) no-repeat -27px -200px; width:100%; height:100%; }
.copyright-galerie {font-size:9px; text-align:center; filter:alpha(opacity=30); opacity:.3}
/* PAGES VIDEOS */
.page-videos h1 { font-size:15px; line-height:22px; text-align:left; overflow:hidden; padding:2px 10px; }
.page-videos .inner { background:white; width:676px; margin:0 auto; padding:3px; }
.page-videos .inner .ui-tabs-selected a { font-weight:bold; }
.page-videos .tri-liste { margin:0; padding:0; }
.page-videos .carouselGalerie { padding:10px 0; }
.page-videos #playerVideo {display:block;margin:0 auto;}
/* ***************************************** PAGES EMISSIONS */
.page-emissions #colLC { padding:10px; width:677px; }
#page-emissions-hp #colLC { padding:0; width:697px }
.animateur .visuel { float:left; margin-right:5px; margin-top: 5px;}
.animateur .visuel.nofloat {float: none;}
.animateur h4 { font-size:15px; font-weight:normal; }
.test .visuel { float:left; margin-right:5px; }
.test h4 { font-size:15px; font-weight:normal; }
/* ***************************************** PAGES SPECTACLES */
.page-spectacles #colLC { padding:10px; width:677px; }
#page-spectacles-hp #div3col { padding:5px 0 0 0; margin:0 0 10px 0; }
.page-spectacles .affiche { padding:20px 0 5px 0; font-size:12px; text-align:justify; }
.intro-spectacles img { margin-right:10px; }
.intro-spectacles h1 { font-size:18px; font-weight:normal; }
.intro-spectacles p {text-align: justify;}
.page-spectacles .dates { height:250px; }
.page-spectacles .dates .degrade { height:240px; background-position:bottom; }
.page-spectacles .dates .scroll-pane { height:192px; }
.page-spectacles .dates li { padding:3px 0; }
.page-spectacles .dates h3 {margin-bottom:20px;}
/*.page-spectacles #playerVideoFlash { float:left; padding-top:10px;}
.page-spectacles #playerVideoFlash h2 { font-size:15px; margin-bottom:8px; }*/

/* ***************************************** PAGES FILMS */
.page-films #colLC { padding:10px; width:677px; }
#page-films-hp #colLC { padding:0; width:697px; }
.intro-films .bloc-3col { width:206px; height:265px; padding:10px; margin:0; overflow:hidden; }
.intro-films p { text-align:justify; }
.intro-films h1 {font-size:15px;margin-bottom:8px;}
#page-films-resume #div3col { position:relative;left:-10px;width:697px; }
.resume-films h1 { font-size:18px; font-weight:normal; }
.resume-films img { margin-right:10px; }
/* ***************************************** PAGES MOBILE */
#page-mobile #colLC { padding:27px 0 0 19px; width:442px; height:515px; background:url(bg-mobile.gif) 0 84px repeat-x; font-family:Arial, Helvetica, sans-serif; }
#page-mobile #colLC .free { margin:-5px 0 0 0; padding:0 4px 4px 0; text-align:right; }
#page-mobile #colLC .mobile { padding:0 0 0 32px; width:377px; }
#page-mobile #colLC h1 { padding:0 0 27px 0; font-size:14px; text-align:center; }
#page-mobile #colLC .formMobile { margin:0 0 0 16px; width:334px; background:#fff url(bg-mobile-top.gif) left top no-repeat; }
#page-mobile #colLC .formMobile form { padding:9px 0 3px 0; text-align:center; background:url(bg-mobile-bottom.gif) left bottom no-repeat; font-size:12px; }
#page-mobile #colLC .formMobile form p { padding:0 0 16px 0; }
#page-mobile #colLC .formMobile .inputText { width:80px; }
#page-mobile #colLC .services { padding:17px 0 0 0; text-align:center; font-size:12px; }
#page-mobile #colLC .services img { padding:22px 25px 0 0; }
#page-mobile #colLC .gallery { padding:12px 0 18px 0; text-align:center; }
#page-mobile #colLC .notice { font-size:9px; }
#page-mobile #colR { padding:71px 0 0 0; width:543px; height:515px; background:url(bg-mobile.gif) 0 84px repeat-x; }
/* ***************************************** GRILLE DES PROGRAMMES */
/*
#page-grille-programmes #main #colLC { border:none; }
#page-grille-programmes #main .semainier { padding:7px 0 16px 0; }
#page-grille-programmes #main .semainier .jcarousel-container { position:relative; width:641px; height:43px; overflow:hidden; padding:0 15px; }
#page-grille-programmes #main .semainier .jcarousel-next { width:15px; height:29px; background:url(images/btn-focus2.gif) no-repeat right 1px; position:absolute; right:0px; top:0px; filter:alpha(opacity=80); -moz-opacity:.80; opacity:0.80; }
#page-grille-programmes #main .semainier .jcarousel-prev { width:15px; height:29px; background:url(images/btn-focus2.gif) no-repeat left 1px; position:absolute; left:0px; top:0px; filter:alpha(opacity=80); -moz-opacity:.80; opacity:0.80; }
#page-grille-programmes #main .semainier .jcarousel-clip { width:641px; }
#page-grille-programmes #main .semainier .jcarousel-item { width:89px; margin-right:3px; }
#page-grille-programmes #main .semainier .jcarousel-item a { background:url(images/bg-semainier.gif) left top repeat-x; text-align:center; display:block; width:90px; height:26px; padding:3px 0; color:#283848; line-height:12px; }
#page-grille-programmes #main .semainier .jcarousel-item a:hover, #page-grille-programmes #main .semainier .jcarousel-item .on { background:url(images/bg-semainier.gif) 0 -29px repeat-x; color:#ccd4db!important; text-decoration:none; }

#page-grille-programmes #main .listes .splitRight { width:155px; }
#page-grille-programmes #main .listes ul { width:auto; }
#page-grille-programmes #main .listes li { float:left; padding:4px 0; width:330px; border-top:1px solid #ced4d9; }
#page-grille-programmes #main .listes li.first { border:none; }
#page-grille-programmes #main .listes li.first-col { margin:0 11px 0 0; }
#page-grille-programmes #main .listes li .hour { font-size:14px; font-weight:bold; color:#445a67; }
#page-grille-programmes #main .listes li.tonight-first { background:#b8c5cc url(images/bg-grille-first.gif) left top no-repeat; }
#page-grille-programmes #main .listes li.tonight-first .hour { font-size:15px; color:#000; font-weight:bold; text-transform:uppercase; }
#page-grille-programmes #main .listes li.tonight-second { background:#d4dae0 url(images/bg-grille-second.gif) left top no-repeat; }
#page-grille-programmes #main .listes li.tonight-second .hour { font-size:14px; color:#000; font-weight:bold; }
#page-grille-programmes #main .listes h2 a { font-size:14px; }
#page-grille-programmes #main #colR { padding:67px 0 0 0; }
*/

#page-grille-programmes #main #colLC { border:none; }
#page-grille-programmes #main .semainier { padding:7px 0 16px 0; }
#page-grille-programmes #main .semainier .jcarousel-container { position:relative; width:641px; height:43px; overflow:hidden; padding:0 15px; }
#page-grille-programmes #main .semainier .jcarousel-next { width:12px; height:40px; background:#c5ced6 url(btn-focus2.gif) no-repeat right 0px; position:absolute; right:0px; top:0px; filter:alpha(opacity=80); -moz-opacity:.80; opacity:0.80; }
#page-grille-programmes #main .semainier .jcarousel-prev { width:12px; height:40px; background:#c5ced6 url(btn-focus2.gif) no-repeat left 0px; position:absolute; left:0px; top:0px; filter:alpha(opacity=80); -moz-opacity:.80; opacity:0.80; }
#page-grille-programmes #main .semainier .jcarousel-clip { width:641px; }
#page-grille-programmes #main .semainier .jcarousel-item { width:89px; margin-right:3px; }
#page-grille-programmes #main .semainier .jcarousel-item a { background:url(bg-semainier.gif) 0 -66px repeat-x; text-align:center; display:block; width:89px; height:35px; padding:4px 0; color:#283848; }
#page-grille-programmes #main .semainier .jcarousel-item a:hover, #page-grille-programmes #main .semainier .jcarousel-item .on { background:url(bg-semainier.gif) 0 0 repeat-x; color:#ccd4db!important; text-decoration:none; }
#page-grille-programmes #main .horaire-semainier {background:url(bg-semainier.gif) 0 -43px repeat-x;color:#c9d3da;padding:3px 10px;}
#page-grille-programmes #main .horaire-semainier a {color:#c9d3da;}
#page-grille-programmes #main .horaire-semainier a.current {color:white;text-decoration:underline;}

#page-grille-programmes #main .scrollTo-Mask { width:671px; height:605px; overflow:hidden; position:relative; }
#page-grille-programmes #main .scrollTo-Content { height:605px; width:10000px; }
#page-grille-programmes #main .listes .splitRight { width:155px; }
#page-grille-programmes #main .listes ul { float:left; width:671px;  }
#page-grille-programmes #main .listes li { float:left; padding:4px 0; width:330px; border-top:1px solid #ced4d9; }
#page-grille-programmes #main .listes li.first { border:none; }
#page-grille-programmes #main .listes li.first-col { margin:0 11px 0 0; }
#page-grille-programmes #main .listes .hour { font-size:12px; font-weight:bold; color:#181e22; text-transform:uppercase; line-height:14px;}
#page-grille-programmes #main .listes li.tonight-first { background:#b8c5cc url(bg-grille-first.gif) left top no-repeat; }
#page-grille-programmes #main .listes li.tonight-second { background:#d4dae0 url(bg-grille-second.gif) left top no-repeat; }
#page-grille-programmes #main .listes h2 { line-height:11px;}
#page-grille-programmes #main .h5, #page-grille-programmes #main .h5 a {color:#8194a0;}
#page-grille-programmes #main .h4 {line-height:12px;padding-top:5px;}
#page-grille-programmes #main .signaletique {padding:5px 5px 0 5px;overflow:hidden;text-align:right;}
/*#page-grille-programmes #main .signaletique {display:inline;float:none;border:none;}*/
#page-grille-programmes #main .signaletique img {margin:0;float:none;}
#page-grille-programmes #main #colR { background:#E7EBEE url(bg-vos-soirees.png) repeat-x; }
#page-grille-programmes .vos-soirees {padding:8px 8px;}
#page-grille-programmes .vos-soirees .inner {background:url(http://www.m6.fr/style/images/bg-vos-soirees-inner.png) repeat-x; overflow:hidden;padding:44px 8px 0 8px;}
#page-grille-programmes .vos-soirees li {border-top:1px solid #ced4d9;padding:10px 0;}
#page-grille-programmes .vos-soirees .tonight-first {padding-bottom:10px;border:0;}
#page-grille-programmes .vos-soirees .tonight-first .hour {text-transform:uppercase;}
#page-grille-programmes .vos-soirees .tonight-first img {float:left;margin-bottom:5px;}
#page-grille-programmes .vos-soirees .tonight-first .h4 {clear:both;}
#page-grille-programmes .vos-soirees .splitRight { width:154px;}
#page-grille-programmes .vos-soirees .hour {font-size:11px;font-weight:bold; color:#181e22;background:url(puce-vos-soirees.gif) no-repeat 0 5px;padding:0 0 0 10px;}
#page-grille-programmes .vos-soirees h2 {padding:0 5px 0 0;}
#page-grille-programmes .vos-soirees h2 a, #page-grille-programmes .vos-soirees h2{text-transform:uppercase;color:#2D869C;font-size:12px;}
#page-grille-programmes .vos-soirees h2, #page-grille-programmes .vos-soirees .h5 {display:inline;}

/* ***************************************** POPUPS */
.popup { background:#9cadba url(bg-popup.png) repeat-x; text-align:center; overflow:hidden; font-size:12px; overflow:hidden; width:550px; padding:8px; }
.popup h1 { height:0; padding:37px 0 0 0; overflow:hidden; background-repeat:no-repeat; line-height:11px; width:550px; margin:0 auto; }
.closeWindow a { position:absolute; top:20px; right:20px; display:block; text-align:right; color:white; text-transform:uppercase; line-height:14px; background: url(bt-close.gif) no-repeat right; padding:0 25px 0 0; }
.page-m6fr .closeWindow a{color:#414243;}
.popup .marginBottom { margin-bottom:20px; }
.popup h2 { padding:1px 6px; margin-bottom:5px; text-transform:uppercase; color:#2a3e45; font-size:15px; font-weight:normal; background:#b5c2cc; text-align:center; }
.popup .googleZone { padding:5px 10px; background:white; width:530px; overflow:hidden; margin-bottom:5px; }
.popup .googleZone .h3 { font-size:11px; background:transparent; padding:0; display:none; }
.popup .googleAnnonce { width:50%; float:left; text-align:left; }
.popup .googleAnnonce .title { font-weight:bold; }
.popup .googleAnnonce .link a { color:#5986AC; }
.popup .copyright { position:absolute; bottom:0; left:0; color:#3e4c5c; text-align:center; width:550px; font-size:10px; }
#popup-infos-legales { width:550px; padding:8px; }
#popup-infos-legales h1 { background-image:url(t-infos-legales.jpg); }
#popup-contact h1 { background-image:url(t-service-telespectateur.jpg); }
#popup-inscription-newsletter h1 { background-image:url(t-mon-compte.jpg); }
#popup-cgu h1 { background-image:url(t-mon-compte.jpg); }
#popup-cgu p { padding:10px 20px 0 20px; }
#popup-cgu ul { padding:10px 20px 0 50px; }
#popup-cgu ul li { list-style-type:disc; margin-bottom:5px; }
.popup form { width:461px; padding:20px 0; }
.popup form p { margin-bottom:8px; }
.popup label { font-weight:bold; display:block; }
.popup .typeText { padding:1px 2px; width:322px; border:1px solid #b5b8c8; vertical-align:top; }
.popup select { padding:1px 2px; width:328px; border:1px solid #b5b8c8; vertical-align:top; }
.popup textarea { overflow:auto; padding:1px 2px; width:322px; vertical-align:top; border:1px solid #b5b8c8; }
.popup form :focus { background:#e1e6ea; }
.popup .btnHeader { text-transform:uppercase; display:inline-block; }
.popup form.newsletter { width:auto; }
.popup form.newsletter label { display:inline; vertical-align:middle; }
.popup form.newsletter input { vertical-align:middle; }
.popup form.newsletter .typeText { width:180px; }
/* ***************************************** DOWNLOAD IE8 */
#ie8 { display:none; background:url(bg_liseret_ie8.jpg) left top no-repeat; padding-top:3px; height:22px; width:1000px; color:#003366; font-family:trebuchet MS; font-size:12px; text-indent:40px; overflow:hidden; }
#ie8 a { color:#fff; }
/* ***************************************** PNG 24 IE6 */
* html .focusParisP .filtre {  background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/focus-paris-p.png', sizingMethod='crop');}
* html .focusW9 .filtre {  background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/focus-w9.png', sizingMethod='crop');}
* html .focusTeva .filtre {  background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/focus-teva.png', sizingMethod='crop');}
* html #lesNews .degrade, * html #AlaUne .degrade {background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bg-degrade-news.png', sizingMethod='scale');}
* html .upDegrade .inner {background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bg-degrade-news.png', sizingMethod='scale');}
* html .pub-partenaires {background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bg-partenaires.png', sizingMethod='scale');}
* html .bloc-3col .degrade {background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bg-degrade-3col.png', sizingMethod='scale');}
* html .page-series #middle h1 span {background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bg-titre-series.png', sizingMethod='scale');}
* html .listes h2 {background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bg-degrade-titres.png', sizingMethod='scale');zoom:1;}
* html .jeux-concours .btJouer {background:#9B0A1A; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bg-jouer.png', sizingMethod='crop');}
* html #AlaUne .text { background:#111; }
* html #AlaUne #nav-alaune { background:url(bg-nav-alaune.gif); }
* html #AlaUne #nav-alaune a { background:url(bg-nav-alaune-off.gif); }
* html #AlaUne #nav-alaune a.activeSlide { background:url(bg-nav-alaune-on.gif); }

/*CACHER LA TRANVCHE HORAIRE ACTUELLE */
#trancheHoraireActuel{display : none;}

/* HABILLAGE */
#link-skin { display:none; }

/* message stack output */

.messageStack {
  margin: 5px;
  font-size: 12px;
  color: #465584;
  background-color: #FFFCF5;
  border-width: 1px;
  border-style: dotted;
}

.messageStack ul li.warning {
 font-family: normal 11px/1.4 "Trebuchet MS", Arial, Helvetica, sans-serif;
 font-size: 100%;
 color: black;
 list-style-type: none;
 background-image: url(http://www.m6.fr/style/images/icons/warning.gif);
 background-repeat: no-repeat;
 background-position: 0 0.32em;
 padding-left: 15px;
}

.messageStack ul li.error {
 font-family: normal 11px/1.4 "Trebuchet MS", Arial, Helvetica, sans-serif;
 font-size: 100%;
 color: black;
 list-style-type: none;
 background-image: url(http://www.m6.fr/style/images/icons/error.gif);
 background-repeat: no-repeat;
 background-position: 0 0.32em;
 padding-left: 15px;
}

.messageStack ul li.notice {
 font-family: normal 11px/1.4 "Trebuchet MS", Arial, Helvetica, sans-serif;
 font-size: 100%;
 color: black;
 list-style-type: none;
 background-image: url(http://www.m6.fr/style/images/icons/notice.gif);
 background-repeat: no-repeat;
 background-position: 0 0.32em;
 padding-left: 15px;
}

/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.star-rating{float:left;width:13px;height:13px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden;position:relative;top:2px;}
div.star-rating, div.star-rating a{background:url(rating.gif) no-repeat 0 0px}
div.rating-cancel a,div.star-rating a{display:block;width:12px;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-position:0 -12px!important}
div.star-rating-hover a{background-position:0 -24px}
div.star-rating-readonly a{cursor:default !important}
div.star-rating{background:transparent!important;overflow:hidden!important}
div.rating-cancel {display:none;}
.notation {background:white;overflow:hidden;padding:5px; margin-bottom: 5px;}
.notation-liste {padding:5px; margin-bottom: 5px;}
.notation .sa-note{float:right;}
.notation span.fL {padding-right:5px;}
#notation-confim {padding-left:10px;}
/* END jQuery.Rating Plugin CSS */

/* programmes */
#programmes { padding:20px 4px 20px 12px; border-bottom:1px solid #d6dde2; background:url(http://www.m6.fr/style/images/bg-upProgrammes.png) repeat-x; line-height:13px; }
.page-index #programmes {padding: 0; margin: 10px 0 0 0;}
#programmes .h2 { float:left; width:226px; }
#programmes .scrollTo-Links { float:right; color:#6d838c; padding:10px 8px 0 0; font-size:12px; }
#programmes .scrollTo-Links li { display:inline; float:left; }
#programmes .scrollTo-Links a { color:#6d838c; }
#programmes .scrollTo-Links .current { color:black; font-weight:bold; }
#programmes .scrollTo-Mask { width:677px; height:270px; overflow:hidden; position:relative; }
#programmes .scrollTo-Content { height:270px; width:10000px; }
#programmes .scrollTo-Content ul { float:left; width:685px; height:270px; }
#programmes .scrollTo-Content li { display:block; width:221px; height:125px; overflow:hidden; float:left; margin:10px 7px 0 0; padding:0; position:relative; }
.page-index #programmes .scrollTo-Content li {margin:0 4px 10px 0;}
#programmes .scrollTo-Content li a { display:block; width:221px; overflow:hidden; text-decoration:none;}
#programmes .scrollTo-Content li .text { position:absolute; bottom:0; left:0; }
* html #programmes .scrollTo-Content li .text {bottom:-1px;} /* ie6 hack */
#programmes .scrollTo-Content li .hot { display:block; width:201px; height:10px; overflow:hidden; text-transform:uppercase; background:#c6371f; font-size:14px; padding:5px 10px; filter:alpha(opacity=90); opacity:0.90; -moz-opacity:0.90; color:#fff; line-height:10px; font-weight:normal; }
#programmes .scrollTo-Content li h2 a { display:block; width:201px; background:#0e161d; padding:5px 10px 0 10px; filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70; color:#fff; text-transform:uppercase; color:white;}
#programmes .scrollTo-Content li .h3 a{ display:block; width:201px; background:#0e161d; padding:0 10px 5px 10px; filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70; color:#fff; font-size:11px; line-height:14px; font-weight:normal; color:white;}
#programmes .scrollTo-Content li .h4 { display:none; width:201px; height:27px; overflow:hidden; background:#0e161d; padding:5px 10px; filter:alpha(opacity=70); opacity:0.70; -moz-opacity:0.70; color:#fff; font-size:11px; line-height:14px; font-weight:normal; }

/* focusProgramme */
.focusProgrammes { padding:20px 12px 8px 12px; border-bottom:1px solid #d6dde2; background:url(bg-upPortail.gif) repeat-x; }
.focusProgramme { position:relative; margin-top:10px; width:283px; height:111px; text-align:right; overflow:hidden; }
.focusProgramme img { height:112px; }
.focusProgramme .filtre { position:absolute; top:0; left:0; z-index:1; width:140px; height:111px; background-repeat:no-repeat; }
.focusProgramme .lienChaine { position:absolute; top:4px; left:4px; z-index:3; width:80px; height:30px; }
.focusProgramme .texte { position:absolute; top:38px; left:6px; z-index:2; text-align:left; }
.focusProgramme .texte .h4-first { text-transform:uppercase; font-weight:bold; }
.focusProgramme .texte .first { font-size:12px; line-height:13px; }
.focusProgramme .texte .h4-last { text-transform:uppercase; margin-top:14px;font-weight:bold; }
.focusProgramme .texte .last { font-size:10px; line-height:11px; }
.focusProgramme .texte a { color:black; }
/* specifique focusProgramme */
.focusParisP { background:#f97600; }
.focusParisP .filtre { background:url(focus-paris-p.png); }
.focusW9 { background:#964b9a; }
.focusW9 .filtre { background-image:url(focus-w9.png); }
.focusTeva { background:#98ce2c; }
.focusTeva .filtre { background-image:url(focus-teva.png); }

.module_recherche {margin: 10px;}
