/* tag */
p {margin: 0;}

/* generic */
.transp {filter:alpha(opacity=80); -moz-opacity:0.8; opacity: 0.8}

/* header */

#transverseBar {float: right;height: 29px;border: 0; padding: 0; background: #fff; color: #313c91}
#transverseGauche {float:right}
#transverseRecherche {width: 118px; margin-left: 5px}
#logo {margin-top: 10px}
#gentlemen {margin-left: 45px}

/*content */

#selectOk {margin-left: 2px}
#rubvie {padding-top: 150px}
#rubserv {padding-top: 140px}
#rubdec {padding-top: 130px}
.shadow1 {width: 180px; background: url(ombre1.gif) top right no-repeat}
.shadow2 {width: 190px; background: url(ombre2.gif) top right no-repeat}

.rubText {clear: both; margin-left: 10px; margin-right: 5px}
.rubText a {font-size: 12px}
.rubText p {color: #000000; margin-top: 10px}

/* footer */

#footerImg {margin-left: 50px; margin-right: 80px}