/* tag */
body {margin: 0; background-color: #fff}
body, a, input, table, tr, td, select, textarea, h1, h2, h3, h4, h5 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #666; line-height: 13px}
input, select, textarea {border: 1px solid #ccc; color: #666; background-color: #fff}
table {margin: 0; padding: 0}
table td {margin: 0; padding: 0}
form {margin: 0px; padding: 0px}
a img {border:0}
a {color: #2f3b90; text-decoration: none}
a:hover {text-decoration: underline}

p {margin-top:0px; margin-bottom:10px}
h1 {margin:0; padding: 0}
h1 img {width:0; height: 0}
h2 {display: none}
h3 {display: inline}

input.radio {border: 0px; background-color: transparent; vertical-align: middle}

/* generic */
.tabWidth {width: 760px}
.cpc {width: 100%}
.cpcHeight {height: 100%}
.tabCenter {margin-left: auto; margin-right: auto}
.tabRight {float: right}
.tabCol50 td {width: 50%; background: url(spacer_content.gif) no-repeat}
.tabCol33 td {width: 33%; background: url(spacer_content.gif) no-repeat}
.tabCol25 td {width: 25%; background: url(spacer_content.gif) no-repeat}
.tabColInnerMargin {margin: 10px; margin-left: 20px; margin-right: 5px}

.tabImgCol1 {padding-left: 10px; padding-top: 10px}
.tabImgCol2 {padding-left: 10px; padding-top: 13px; padding-right: 2px}
.tabImgCol3 {padding-right: 10px; padding-top: 10px}

.tabImgTop2 {height: 31px; background: url(tabImgTop.gif)}
.tabImgTop2Gd {height: 31px; background: url(tabImgTopGd.gif)}
.tabImgTop2 strong {display:block; padding: 10px 0px 0px 10px}
.tabImgTop2Gd strong {display:block; padding: 10px 0px 0px 10px}

.tabImgCol15pc {width: 15%; padding-left: 10px; padding-top: 10px}
.tabImgCol5pc {width:  5%; padding-left: 5px; padding-top: 13px; padding-right: 5px}
.tabImgCol30pc {width: 30%; padding-right: 10px; padding-top: 10px}
.tabImgCol27pc {width: 27%; padding-left: 10px; padding-top: 10px}
.tabImgCol5pc {width: 5%; padding-left: 5px; padding-top: 13px; padding-right: 5px}
.tabImgCol68pc {width: 68%; padding-right: 10px; padding-top: 10px}

#td150 {width: 150px}
#td153 {width: 153px}
.tdTop {vertical-align: top}
.tdMiddle {vertical-align: middle}
.tdBottom {vertical-align: bottom}
.tdLeft {text-align: left}
.tdCenter {text-align: center}
.tdRight {text-align: right}

.marginLeftRight {margin-left: 10px; margin-right: 10px}
.marginLeft {margin-left: 10px}
.marginRight {margin-right: 10px}

.marginTopBottom {margin-top: 10px; margin-bottom: 10px}
.marginTop {margin-top: 10px}
.marginBottom {margin-bottom: 10px}

.paddingLeftRight {padding-left: 10px; padding-right: 10px}
.paddingLeft {padding-left: 10px}
.paddingRight {padding-right: 10px}

.paddingTopBottom {padding-top: 10px; padding-bottom: 10px}
.paddingTop {padding-top: 10px}
.paddingTop3 {padding-top: 3px}
.paddingBottom {padding-bottom: 10px}

.bgWhite {background: #fff}
 
.textGrey {color: #666}

.debug, .debug tr, .debug td {border: 1px solid red}
.noDisplay {display: none}
.btNav {color: white; border-width:0px; background-color: #3C6DAF; text-decoration: none; text-align: center; padding-left: 1px; padding-right: 1px; cursor:pointer}

/* header */
#header {background: url(http://www.cg18.fr/themes/1/images/bando/bando01.jpg) no-repeat top right}
#seekSite {margin-left: 10px}
#validOk {margin-right: 5px}

.transparent {filter:Alpha(opacity=80);-moz-opacity:0.8;opacity:0.8}
.textFieldMiddle {width: 120px}
.btOk {font-weight:bold; height:18px ; color: white; border-width:0px; background-color: #3C6DAF; text-decoration: none; text-align: center; padding-left: 1px; padding-right: 1px; cursor:pointer}
.PosbtOk { padding-left:96px }

#progCol1 {width: 17px}
#progCol2 {width: 425px; height: 25px; padding-top: 10px}
#progCol3 {width: 165px}

.liseret {background: url(liseret_gauche.gif)}

/* content */
.menuList {margin: 0; padding: 0; display: inline}
.menuList li{display: inline; margin: 0; padding: 0; list-style-type: none}

.imgBg {padding: 10px; padding-top: 45px; margin-left: 10px;}
#imgBg1Col1 {width: 130px; padding: 5px}
#imgBg1Col2 {padding-top: 7px}

.itemTopTd {width: 14px}
#itemTopBg {background: url(top.gif)}

.itemMiddleTd {width: 5px}
.itemMiddleLeftBg {background: url(left.gif)}
.itemMiddleRightBg {background: url(right.gif)}

#itemBottomBg {background: url(bottom.gif)}
#itemTopTabHeight {height: 20px}

/* tablelistlight */

#page {background: url(pagination_fond.gif)}
#page a {padding: 3px}
#page .pageOn {color: #ccc; padding: 3px}

/* portlet */
.portletContent label, .portletContent input, .portletContent select {margin-left: 10px}
.portletContent .searchInput {width: 115px}
.portletContent .searchCheckbox {border: 0px solid #ccc; color: #666; background-color: #;}
.portletContent select {width: 118px; margin-top: 5px; margin-bottom: 5px}
.portletContent #btOk {float: right}
.portletContent #btOk18 {float: right; margin-right: 10px}

/* container */

#container {width: 760px}
#containerNewsletter {width: 570px}

.elu_jaune { border:2px solid #f4d000}
.elu_vert { border:2px solid #2cb033}
.elu_bleu { border:2px solid #2c41cb}
.elu_none { border:2px solid #fff}
.elu_rouge { border:2px solid #ff0000}
.elu_rose { border:2px solid #ff69b4}
.elu_gris { border:2px solid #808080}
.legende { width:100px; padding:5px}

.popup_imp { border:1px solid #2f3b90; margin-left: auto; margin-right: auto; padding:0px 5px 5px 5px}

.select450 { width:450px}
.td80 { width:80px }

/**************************************************** MENU ****************************************/

a.Smenu {}
a.Smenu:hover { color:#FFF; text-decoration:none}
.SmenuvieON { background-color:#f4d000; color:#FFF}
.SmenuservON { background-color:#2cb033; color:#FFF}
.SmenudecON { background-color:#2c41cb; color:#FFF}