/* ajax */
.ajax_userDiv {z-index:100000; position:relative; width:500px;}
.ajax_tooltip_content_ombra {z-index:100000; width:1px; height:1px; position:absolute; top:0px; left:0px; background-color:#373F41; -moz-opacity:0.60; -khtml-opacity:0.60; filter:alpha(opacity='60'); opacity:0.60; z-index:-1;}
.ajax_userDiv HR {height:1px; color:#FFFFFF; background-color:#FFFFFF; border-width:0px 0px 2px 0px; border-bottom:2px dotted #CCCCCC; margin-left:-6px; margin-right:-6px;}
INPUT#ok {margin:15px 10px 0 0; width:68px; height:23px; float:right; background: url(http://life.menstyle.it/static/img/site/cercabutton.gif) 0 0px no-repeat; border:0px; color:#3B484E; text-transform:uppercase; font-size:12px; font-weight:bold; cursor:pointer;letter-spacing:-1px;}
.chiudi {background-color:#454c4f; padding:3px; text-align:right; margin:10px -6px -21px -6px}
.chiudi A {font-size:10px; color:#D2D4D5; text-transform:uppercase; background: url('http://life.menstyle.it/static/img/admin/chiudi.gif') no-repeat center right; padding-right:18px;}

#tabCondividi {position:relative;margin:30px 0 0 0; height:20px;}
#tabCondividi ul {line-height:14px;background: url(http://www.gqmagazine.fr/img/bg_tab.gif) 3px 19px no-repeat;position:absolute;top:0; left:3px;_left:1px;font-size:11px;font-weight:bold;text-transform:uppercase;list-style:none}
#tabCondividi li {float:left; background:#D5D8D8; text-align:center; margin:5px 2px 0 2px;padding-top:0px;width:87px;}
#tabCondividi li a {display:block}
#tabCondividi li a:hover {color:#FFF}
#tabCondividi li.sel {border:#D0D4D5 1px solid;border-bottom:0;padding:5px 5px 0; background:#FFF; width:96px;margin-top:0; }
#tabCondividi li.sel a:hover {background:transparent}
#tabCondividi, #tabCondividi li a, #tabCondividi li.sel a:hover  {color:#7a823d;}
#tabCondividi li a:hover, #tabCondividi img, #tabCondividi  a:hover img {background:#adb857}
.condividiBox {margin:-1px 5px 20px; border:#D0D4D5 1px solid; background-color:#FFFFFF; font-size:11px;float:left; width:288px; display:inline; padding:20px 5px; text-align:left;}
.condividiBox INPUT, .condividiBox textarea {font-size:11px; border:1px solid #D0D4D5; padding:5px 5px 4px 5px; color:#000000 !important; font-weight:normal !important; margin:5px 0 -1px 0}
.condividiBox B {color:#7a823d;}
.condividiBox .quote {margin:0 0 0 30px; position:relative;}
.condividiBox .quote .open {font-family:Georgia; font-size:70px; color:#CCCCCC; position:absolute; top:-15px; left:-30px;}
