@import url("footer.css");
@import url("header.css");
body {
font-family:helvetica, arial, sans-serif;
font-size:12px;
background-color:#777;
}

a {
font-weight:700;
color:#011369;
}

a:link,a:visited,a:active {
text-decoration:none;
}

a:hover {
text-decoration:underline;
}

.story h1 a:hover {
text-decoration:none;
}

h1,h2,h3,h4,h5 {
color:#fff;
font-weight:700;
margin:0;
padding:0;
}

h2 a {
color:#fff;
margin:0;
padding:0;
}

h2.sectionTitle {
font-size:23px;
margin-bottom:20px;
}

h2.headLine a,h4.headLine a {
color:#011369;
}

h3,h4,h5,h2.headLine,h4.headLine {
font-size:13px;
}

strong,b {
font-weight:700;
}

i {
font-style:italic;
}

.xxsmall {
font-size:9px;
}

.xsmall {
font-size:10px;
}

.medium {
font-size:12px;
width:auto;
}

.xlarge {
font-size:18px;
}

.headlineItem .update-source {
white-space:nowrap;
display: block;
}

div.headlines a.storySource {
font-weight:400;
color:#034;
}

div.ad {
padding-bottom:10px;
}

a.multimediaItemType,h2.headLine a.multimediaItemType,h4.headLine a.multimediaItemType {
font-size:11px;
color:#fff !important;
background-color:#af0116;
padding:1px 3px;
}

p.adText {
font-size:11px;
color:#999;
text-align:center;
margin-bottom:5px;
}

.miscAd {
margin-bottom:20px;
text-align:center;
}

.miscAd img {
margin:auto;
}

table.cubeAd {
height:280px;
text-align:center;
vertical-align:middle;
width:336px;
border:1px solid #FFF;
border-collapse:collapse;
background-color:#CCC;
margin-bottom:20px;
position:relative;
zoom:1;
padding:0;
}

table.cubeAd .miscAd {
margin-bottom:0;
zoom:1;
padding:0;
}

table.cubeAd tbody,table.cubeAd tr,table.cubeAd td,table.cubeAd a,table.cubeAd img {
position:relative;
zoom:1;
}

div#container {
width:980px;
position:relative;
margin:0 auto;
}

div#branding,div#main,div#header,div#section {
width:980px;
}

div#branding {
padding-bottom:0;
}

div#homepageLink {
display:none;
}

div.slidingbillboard {
margin-left:5px;
padding-bottom:10px;
}

div#content {
float:left;
margin-left:5px;
text-align:left;
width:620px;
}

#windoid-body {
	background: #FFF;
	}
#windoid-body #content {
	float: none;
	border: 0;
	background: transparent;
	margin-left: 0;
	width: auto;
	}

div#content.fullwidth {
width:970px;
}

div#rail {
float:right;
margin-right:5px;
width:336px;
margin-bottom:10px;
position:relative;
zoom:1;
}

div#story-body div.articleRelates div#content {
width:auto;
}

div#contentBottom {
clear:both;
margin:0 5px;
}

#topLeftWide,#middleLeftWide,#bottomLeftWide,#topRightWide,#middleRightWide,#bottomRightWide {
width:620px;
padding:0 5px;
}

#topLeftNarrow,#middleLeftNarrow,#bottomLeftNarrow,#topRightNarrow,#middleRightNarrow,#bottomRightNarrow {
width:336px;
padding:0 5px;
}

#topRightWide,#middleRightWide,#bottomRightWide,#topRightNarrow,#middleRightNarrow,#bottomRightNarrow {
float:right;
}

.leaderboard {
padding-left:7px;
}

#topContentLeft {
float:left;
width:300px;
}

#topContentRight {
float:left;
padding-left:10px;
width:300px;
}

div#weatherbug p.wu-weather {
bottom:3px;
position:absolute;
right:3px;
z-index:10;
}

.contentContainer {
width:100%;
clear:both;
padding-bottom:10px;
}

div#breadcrumb {
font-size:11px;
float:left;
padding-left:5px;
}

.headLines .listitem .listitem-text-w-img {
float:left;
width:215px;
}

#module-promo {
margin-bottom:10px;
}

#module-promo #thumb-1,#module-promo #thumb-2 {
border:1px solid #FFF;
float:left;
margin-right:12px;
}

#module-promo #thumb-3 {
border:1px solid #FFF;
float:left;
}

#module-promo .buttons {
margin-top:5px;
text-align:right;
color:#FFF;
font-size:125%;
float:right;
}

#promo-title p {
color:#000;
font-size:125%;
padding-bottom:5px;
}

#module-promo .buttons span {
margin-right:10px;
float:left;
}

#module-promo .buttons #previous {
float:left;
margin-right:5px;
}

div#form-errors ul li.errorItems {
font-weight:700;
color:red;
}

div.headerimage {
margin:5px 0;
}

.photogalleryheader .section-sponsor {
float:right;
padding-top:35px;
width:225px;
position:relative;
}

.photogalleryheader .section-sponsor .sponsor-text {
max-width:100px;
max-height:65px;
position:absolute;
top:40%;
}

.photogalleryheader .section-sponsor .sponsor {
width:120px;
float:right;
height:65px;
}

div.customform ul,div.customform ol {
margin-left:40px;
}

div.customform ul li{
list-style-image:none;
list-style-position:inside;
list-style-type:disc;
}

div.customform ol li {
list-style-type:decimal;
}

div.module.customform {
float:left;
padding:10px;
}

div.clear {
clear:both;
}

.twoColumnSplit td.left, .twoColumnSplit td.right {
vertical-align:top;
width:50%;
padding-left:5px;
padding-right: 5px;
}

.twoColumnSplit td.divider {
border-right: 1px solid #CCC;
}
.twoColumnSplit td.dividerRight div.tdPadder{
_margin-left: 10px;
}
.threeColumnSplit td.module {
width:32%;
}

.threeColumnSplit div.module {
background:none;
border:none;
}

.threeColumnSplit {
text-align:left;
margin-bottom:20px;
padding:5px;
}

.threeColumnSplit td.colSpacer {
width:10px;
}

/* Sitemap Styles */
#sitemap-title h2 {
font-size:189%;
color:#058;
padding:5px;
}

#sitemap {
background-attachment:scroll;
background-color:transparent;
float:left;
width:980px;
padding:5px;
}

#sitemap-main a {
color:#036;
font-family:arial,helvetica,sans-serif;
font-size:11px;
line-height:14px;
text-decoration:none;
}

#sitemap-dark a {
color:#036;
font-family:arial,helvetica,sans-serif;
font-size:13px;
font-weight:700;
line-height:16px;
text-decoration:none;
}

#sitemap-dark a:link {
color:#036;
}

a#sitemap-sub {
color:#5780A9;
font-family:arial,helvetica,sans-serif;
font-size:11px;
line-height:14px;
padding-left:5px;
text-decoration:none;
}

a#sitemap-sub:link {
color:#5780A9;
}

#sitemap-title {
padding:5px;
}

#sitemap ul {
float:left;
width:182px;
}

#sitemap ul li ul {
padding-left:0;
}

/* Date Time Default Styles*/
div.dateStamp {
bottom:0;
left:585px;
position:absolute;
}

div.centered-logo div.dateStamp {
left:100px;
}

div.dateFormat2 div.dateTop,div.dateFormat3 div.dateTop {
text-transform:uppercase;
}

div.dateFormat2 div.dateBottom,div.dateFormat3 div.dateBottom {
font-size:20px;
text-transform:lowercase;
}

div.dateFormat1 div.dateTop span.year {
font-size:14px;
}

div.dateFormat1 div.dateTop span.day {
font-size:20px;
}

div.dateFormat3 {
border:1px solid #000;
text-align:center;
padding:5px;
}

/* Error pages */
div#main.error {
width:960px;
}

div.error {
margin-top:20px;
height:300px;
padding:15px;
}

div.error p {
padding:5px 0;
}

/* Columnist Module */
div.columnistPromo {
border-bottom:1px solid #FFF;
}

div.columnists {
padding-top:10px;
clear:both;
}

div.columnists div.bottom img.headlineThumb,div.featurePromo div.below img.headlineThumb {
float:none;
}

div.columnists img.headlineThumb {
margin-bottom:5px;
}

div.columnistsContent h4 {
font-size:16px;
}

div.columnistsContent p {
padding-bottom:5px;
position:relative;
zoom:1;
}

/*Sphere Tools */
.sphereTools {
margin-top:8px;
position:relative;
}

.sphereContent {
clear:both;
margin-bottom:10px;
}

div#content.article #sphereRelated .headerSphereRelated {
color:#000;
}

.sphereDocsetUrl {
color:#545454;
font-size:11px;
}

.sphereDocsetSeparator {
color:#999;
margin:0 0.25em;
}

#sphereRelated a.spherePowered {
float:right;
margin-bottom:5px;
margin-top:-10px;
}

#sphereRelated h3#sphereMainTitle {
color:#000;
font-style:normal;
margin:10px 0;
}

.TSN1c {
color:#000;
font:12px Arial, Helvetica, sans-serif;
font-weight:700;
}

/* Auto Racing */
.TSN1d {
color:#000;
font:11px Arial, Helvetica, sans-serif;
font-weight:700;
}

/* Sport News */
.TSN2 {
color:#FFF;
font:11px Arial, Helvetica, sans-serif;
font-weight:700;
background:#30658F;
}

.TSN5 {
font:11px Arial, Helvetica, sans-serif;
background:#F2F2F2;
}

.TSN6 {
color:#FFF;
font:11px Arial, Helvetica, sans-serif;
font-weight:700;
background:#000;
}

/* Golf */
.TSNHeader {
font:10px Verdana,Helvetica,Arial;
font-weight:700;
}

.TSNSubHeader {
color:#FFF;
font:10px Verdana,Helvetica,Arial;
font-weight:700;
background:#006;
}

.TSNData1 {
color:#000;
font:10px Verdana,Helvetica,Arial;
background:#EFEFEF;
}

.TSNData2 {
color:#000;
font:10px Verdana,Helvetica,Arial;
}

.TSN4 {
color:#000;
font:11px Arial, Helvetica, sans-serif;
font-weight:700;
background:#F2F2F2;
}

/* Regional Scores & News */
.TSN1b {
color:#C00;
font:11px Arial, Helvetica, sans-serif;
}

/* End Sports Network Module 
 Embeded Module Story Content */
div.embeddedStory div,div.embeddedStory h4 {
padding-left:5px;
padding-right:5px;
}

h4.embedStoryHeadline {
font-size:26px;
position:relative;
margin:10px 0 0;
}

div.embeddedStory div.byline {
color:#292727;
font-size:11px;
}

div.embedStoryBody {
padding-top:5px;
padding-bottom:5px;
}

/* End Embeded Module 
 Obit Search Styling */
div.obitsearch h2.header {
padding-bottom:4px;
}

div.obitsearch form {
margin-left:5px;
}

div.obitsearch #searchFooter {
margin-left:-5px;
}

/* End Obit Styling 
third party content */
.thirdPartyContent .thirdPartyContentPadder {
margin:8px 12px;
}

span.wthrtitle {
font-weight:700;
font-size:16px;
}

img,#sitemap ul li a,div.popular {
display:block;
}

h1,.xxlarge {
font-size:21px;
}

h2,.large {
font-size:15px;
}

.small,div#articleutil {
font-size:11px;
}

span.minutesAgo,p.last-updated,span.last-updated {
font-size:11px;
color:#AF0116;
font-style:italic;
}

.inLine h2,.inLine h3,.inLine h4,table.cubeAd div.miscAd img {
display:inline;
}

div.ad img,.skyScraper img,.cubeAd img {
margin:0 auto;
}

.cube,.skyScraper,div.cinesport {
text-align:center;
margin-bottom:20px;
}

.cube * {
margin:0 auto;
vertical-align:middle;
}

.googleAd,div.module,div.ticker-module,div#form-errors,table.module {
margin-bottom:20px;
}

.fullSpan,#module-promo #thumb-container,table.twoColumnSplit,.threeColumnSplit table,div#rightRailTopContent div.clearfix {
width:100%;
}

#topLeftWide,#middleLeftWide,#bottomLeftWide,#topLeftNarrow,#middleLeftNarrow,#bottomLeftNarrow,.headLines .listitem .listitem-thumb,#module-promo .buttons #next {
float:left;
}

#topCenterFull,#middleCenterFull,#bottomCenterFull,div.columnistsContent {
padding:0 5px;
}

div.center,div.centerAd,div.tivid,#sphereAdContainer {
text-align:center;
}

a#sitemap-main:hover,a#sitemap-dark:hover,a#sitemap-sub:hover {
color:#666;
text-decoration:underline;
}

#sitemap ul.first,#sitemap ul.second {
padding-left:10px;
}

#sitemap ul.third,#sitemap ul.fourth,#sitemap ul.fifth {
padding-left:15px;
}

.TSN1a,.TSN1 {
font:11px Arial, Helvetica, sans-serif;
}

.TSN1 a,.TSN1c a,.TSN1d a,.TSN5 a,.TSNData1 a,.TSNData2 a {
color:#000;
text-decoration:underline;
}

.TSN1 a:hover,.TSN1c a:hover,.TSN1d a:hover,.TSN5 a:hover,.TSNData1 a:hover,.TSNData2 a:hover {
color:#C00;
text-decoration:none;
}
/*third party content */
.thirdPartyContent .thirdPartyContentPadder{
	margin: 8px 12px;
}
span.wthrtitle{
	font-weight: bold;
	font-size: 16px;
}
/*end third party content */
.noBorder {border: 0px;}
.date {
    font-style: italic;
	}
#content_map {height:300px;}
ul.emptySubNav li a, ul.emptySubNav li a:hover, ul.emptySubNav li a:active, ul.emptySubNav li a:visited{text-decoration:none !important;}

.rule-horizontal-line {
	border-top: 1px solid;
	}
.slidingbillboard {
	text-align: center;
	}	
.slidingbillboard table{
	margin: 0px auto; 
	}
.slidingbillboard img{
margin: 0px auto; 
}

/* calendar styles */
.calTop .sponsorimage{
	float:right;
	text-align:right;
}
#calendar {
	padding: 0;
	margin: 0;
	border-left: 1px solid #ccc;
	text-align: center;
	width:inherit;
	*width:100%;
}
.narrow #calendar{
	width:100%;
}

#calendar .nav, #calendar .nav a {	
	text-align: center;
	text-decoration: none;
}	


#calendar caption {
	margin: 0;
	padding: 0;
	background: #ccc;
	color: #222;	 
	text-align: center;
}

#calendar th {
	color: #616B76;
	background: #f3f3f3;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

#calendar .today, #calendar td.today a, #calendar td.today a:link, #calendar td.today a:visited {
	background: #FFFFCC;
}

#calendar td {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height: 50px;
	text-align: left;
	width:14.25%;
}
#calendar td.lastMonth, #calendar td.nextMonth{
	background-color:#FAFAFA;
}

#calendar td a {
}
#calendar td a.sponsored{
	font-weight:bold;
}
tr.cal-row-4 span.TLdate-8, tr.cal-row-4 span.TLdate-7, tr.cal-row-4 span.TLdate-6, tr.cal-row-4 span.TLdate-5, tr.cal-row-4 span.TLdate-4, tr.cal-row-4 span.TLdate-3, tr.cal-row-4 span.TLdate-2, tr.cal-row-4 span.TLdate-1, span.hideTinyDate, tr.cal-row-0 span.TLdate-31,tr.cal-row-0 span.TLdate-30, tr.cal-row-0 span.TLdate-29, tr.cal-row-0 span.TLdate-28, tr.cal-row-0 span.TLdate-27, tr.cal-row-0 span.TLdate-26, tr.cal-row-0 span.TLdate-25, tr.cal-row-0 span.TLdate-24, tr.cal-row-0 span.TLdate-23, tr.cal-row-0 span.TLdate-22, tr.cal-row-0 span.TLdate-21, tr.cal-row-0 span.TLdate-20, tr.cal-row-0 span.TLdate-19, tr.cal-row-0 span.TLdate-18, tr.cal-row-0 span.TLdate-17, tr.cal-row-0 span.TLdate-16, tr.cal-row-0 span.TLdate-15{
	display:none;	
}
#calendar td a:link, #calendar td a:visited {	
	
}

#calendar td a:hover, #calendar td a:active {
	
}
#calendar li.hideItem{
	position:absolute;
	top:-9999em;
}
#calendar ul.calList{
	margin:2px 0px;
	display:block;
}
#calendar ul.calList li{
	display:block;
	padding:1px 2px 1px 2px;
}
table .aterisks{display:none;}
table.breastCancer .aterisks{
  color:#666666;
  display:inline;
  font-size:11px;
  line-height:1.6;
  margin-right:2px;
}
#calendar ul.calList li.moreLink{
  padding-left:2px;
  margin-top:10px;
}
#calendar ul.calList li.dateOnly{
  font-weight:normal;
  margin:0;
  padding:0;
  color:#bababa;
}
#calendar ul.calList li.dateOnly a{
  font-weight:bold;
}
#calendar ul.calList li.sponsored a{
	font-weight:bold;
}
/*end common cal styles */
/* calender pop-up styles */
.roundedCorners{display:block; }
.roundedCorners *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#FFFFFF}
.roundedCorners1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #e1e1e1;
  border-right:1px solid #e1e1e1;
  background:#f2f2f2}
.roundedCorners2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #d1d1d1;
  border-right:1px solid #d1d1d1;
  background:#f5f5f5}
.roundedCorners3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #f5f5f5;
  border-right:1px solid #f5f5f5;}
.roundedCorners4{
  border-left:1px solid #e1e1e1;
  border-right:1px solid #e1e1e1}
.roundedCorners5{
  border-left:1px solid #f2f2f2;
  border-right:1px solid #f2f2f2}
.roundedCornersfg{
  background:#FFFFFF}


.opacityBG{
  position:absolute;
  z-index:999999;
  background-color:#000;
  top:0;
  left:0;
}
.faceBoxHolder{
  position:absolute;
  width:625px;
  z-index:9999999999;
}
.faceMiddle{
  display:block;
  background-color:#fff;
  text-align:left;
  margin-left:auto;
  margin-right:auto;
}
.facePadder{
  padding:0px 20px 20px;
}
.faceMiddle li.moreLink, .faceMiddle .dateNum, .faceMiddle span.aterisks{
  display:none;
}
.faceBoxHolder .popRight{
  float:right;
  margin-right:8px;
}
.faceBoxHolder .popRight .cubeAd{
  width:336px;
  height:280px;
  background-color:#FAFAFA;
}
.faceBoxHolder a.closeFace{
  float:right;
  display:block;
  position:relative;
  right:-40px;
  top:-32px;
}
.faceBoxHolder .daySponsor{
 float:right;
 width:234px;
 height:60px;
 position:relative;
 top:-9px;
 right:-33px;
}

.faceBoxHolder .clearfix{
  display:block;
  clear:both;
  _clear:none;
  _display:inline-block;
}
.faceBoxHolder .popCenterHold{
  clear:both;
}
.faceBoxHolder ul li{
  list-style-type:disc;
  list-style-position:inside;
  margin:5px;
  line-height:1.5;
  font-size:110%;
}
.faceBoxHolder .popTop{
border-bottom-color:#CCCCCC;
border-bottom-style:dotted;
border-bottom-width:1px;
font-size:16px;
margin-bottom:15px;
padding-top:10px;
}
.faceBoxHolder .popTop .clearfix{
  *display:none;
}
.calendarHolderbreastCancer .bottomLeaderHolder{
  margin-top:20px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
  width:728px;
  height:90px;
}
/*end popup styles*/

#buy-this-link {
	margin-top:10px;
	width:100%;
	text-align:center;
}
#buy-this-link a img {
	display:inline;
}

/*BAQ-428*/
#story-body-parent p {
	margin-bottom:10px;
}

/* BAQ-539 */
/* taxonomy in-text ads */
.taxInTextAdHover {
	display:block;
	visibility:hidden;
	position:absolute;
	z-index:9999;
	background:transparent url(inTextShadow.png) no-repeat scroll right bottom;
	margin-top:1px;
}

.taxInTextShadow2 {
	background:transparent url(inTextShadow_bl.gif) no-repeat scroll -9px 100%;
	display:block;
}

.taxInTextShadow3 {
	background:transparent url(inTextShadow_tr.gif) no-repeat scroll 100% -9px;
	padding:0pt 5px 5px 0pt;
	display:block;
}

.taxInTextAdBlock {
	background-color:#fff;
	border:2px solid #ccc;
	padding:3px;
	width:245px;
}

.inTextTop {
	text-align:left;
	padding:6px 5px;
}
.inTextTop a {
	font-weight:bold;
}
.inTextBottom {
	background-color:#f5f5f5;
	padding:5px 4px;
}
.inTextAdDisclaimer {
	text-transform:uppercase;
	color:#999;
	font-size:9px;
	text-align:center;
}
.inTextArrowUp, .inTextArrowDn {
	width:245px;
	height:25px;
	position:absolute;
}
.inTextArrowUp {
	background:transparent url(inTextArrowUp.png) no-repeat scroll 50% 0px;
	top:-12px;
}
.inTextArrowDn {
	background:transparent url(inTextArrowDn.png) no-repeat scroll 50% 0px;
	bottom:-15px;
}

.taxInTextAdHover.up .inTextArrowUp,
.taxInTextAdHover.dn .inTextArrowDn {
	visibility:visible;
}

.taxInTextAdHover.up .inTextArrowDn,
.taxInTextAdHover.dn .inTextArrowUp {
	visibility:hidden;
}
	
/* end taxonomy in-text ads */

/* temporary for findlocal module per pager ticket 18158 */

div#tgwidget .tg-label a:link,
div#tg-widget .tg-label a:visited {
	color: #FFFFFF;
	font-weight: bold;
}

/* youtube widgets */
#youtubeSubmitSidebar {
    border: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#youtubeSubmitSidebar h2 {
    margin-bottom: 10px;
    margin-left: 4px;
}

#youtubeSubmitSidebar p {
    margin-bottom: 10px;
    margin-left: 4px;
}

#youtubeWidgetForm {
}

#youtubeWidgetPlayer {
	width: 312px;
	float: right;
	margin-right: 8px;
}
