div.graffiti {
    border: 1px solid #ddd;
    padding: 10px;
}
div.graffiti div.description h1{
	color: #063640;
}
div#content.graffiti {
    border: none;
    padding: 0;
}
div.graffiti div.description {
    margin-bottom: 10px;
}
div.graffiti div.description img {
    margin-right: 10px;
    float: left;
}
div.graffiti ul.comments {
    margin-bottom: 10px;
}
div.graffiti ul.comments textarea, div.graffiti div.comments textarea {
    width: 100%;
    height: 100px;
}
div.graffiti ul.comments li.preview {
    display: none;
}
div.graffiti ul.comments li p.preview {
    font-style: italic;
}
div.graffiti ul.comments li {
    margin-bottom: 5px;
}
div.graffiti ul.comments li p.comment-text {
    font-size: 12px;
}
div.graffiti ul.comments li p.username {
    font-size: 11px;
    color: #d55317;
}
div.graffiti ul.comments li p.username span.date {
    font-style: italic;
}
div.graffiti form {
    padding: 10px;
}
div.graffiti form p.instructions {
    font-weight: bold;
    margin-bottom: 5px;
	color: #fff;
}
div.graffiti form div.username {
    margin-bottom: 5px;
}
div.graffiti form div.comments {
	margin-bottom: 5px;
	margin-right: 2px;
	}
div.graffiti form label {
    font-size: 11px;
}
div.graffiti div.captcha-content {
    text-align: center;
    margin: 10px 0;
}
div.graffiti input.captcha-input {
    margin-top: 10px;
}
div.graffiti div.captcha-image img {
    border: 1px solid #ddd;
    margin-top: 10px;
}
div.graffiti div.submit {
    text-align: right;
}
div.graffiti div.submit input.submit {
	background: #3e667d;
	color: #fff;
	border: 0px;
	padding: 3px;
	font-size: 10px;
}