div#content.photo {
    overflow: hidden;
	text-align: center;
}
div.photo div.holder {
	display:inline-block;
	margin:0 auto;
	text-align:center;
}
div.photo img {
    display: inline;
}
div.photo h1{
	margin-top: 10px;
	text-align: left;
    color: #063640;
	padding-left: 10px;
}
div.photo p.information,
div.photo p.caption {
    font-size: 11px;
	text-align: left;
}
div.photo ul#tools {
    margin: 10px 0;
    display: block;
}
div.photo ul#tools li#email-tool {
    float: left;
    padding-right: 5px;
    border-right: 1px solid #ddd;
    margin-right: 5px;
    padding-left: 20px;
    background-image: url('atools-email.gif');
    background-position: 0px 0px;
    background-repeat: no-repeat;
}
div.photo div.returnlink{
    text-align: right;
}
div.photo div#gallery-subcontent {
	text-align: left;
}
div#photo-information h1{
	font-size:13px;
}