.texte-libre{
	font-family: Arial, helvetica, sans-serif;
	COLOR: #204D84;
	font-size: 8pt;
}

.rubrique-sous-titre{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
	text-align: left;
	height: 18px;
	list-style-type:none;
}
.article-sous-titre{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
	text-align: justify ;
	height: 18px;
	list-style-type:none;
	padding-bottom : 5px;
}

.chapeau{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-top : 10px;
	color: #234d7f;
	text-align: justify ;
}

