#droite_m .shadetabs {
list-style-type:none;
margin:3px auto 0 auto;
width:174px;
}

#droite_m .shadetabs li  {
background:none;
padding-left:0;
display:block;
float:left;
}

.shadetabs li a {
display:block;
height:18px;
width:44px;
}

.shadetabs li a#en_ligne_eu {
width:42px;
}

.contentstyle {
clear:left;
margin-bottom:1em;
padding:10px 10px 0 10px;
text-align:left;
width:156px;
}

#ajaxcontent_info a{
color:#EA0DAE;
font-weight:normal;
}

#ajaxcontent_org a{
color:#FD7F03;
font-weight:normal;
}

#ajaxcontent_eu a{
color:#5089CC;
font-weight:normal;
}

#droite_m .contentstyle p {
margin:5px 0 10px;
padding:0 10px;
}

.contentstyle h3 {
color:#DC0009;
font-size:11px;
padding-bottom:5px;
}

.contentstyle p strong {
color:#DC0009;
font-weight:normal;
}

#col_droite .contentstyle .lien a {
border-bottom:1px dashed #DC0009;
color:#DC0009;
padding:0;
}

#col_droite .contentstyle .lien a:hover {
border-bottom:1px solid #DC0009;
}