.options {
background:url(options.gif) repeat-x;
clear:both;
height:19px;
width:190px;
}

.options li {
background:url(options_li.gif) no-repeat right top;
display:block;
float:left;
padding-right:3px;
}

.archive {
background:url(archive.gif) no-repeat center center;
}
.comment {
background:url(comment.gif) no-repeat center center;
}
.print {
background:url(print.gif) no-repeat center center;
}
.font_moins {
background:url(font_moins.gif) no-repeat center center;
}
.font_plus {
background:url(font_plus.gif) no-repeat center center;
}
.send {
background:url(send.gif) no-repeat center center;
}
.doc {
background:url(doc.gif) no-repeat center center;
}
.pdf {
background:url(pdf.gif) no-repeat center center;
}
.acrobat {
background:url(acrobat.gif) no-repeat center center;
}
.dossier {
background:url(dossier.gif) no-repeat center center;
}
.dossier_off {
background:url(dossieroff.gif) no-repeat center center;
}
.options li a {
display:block;
height:19px;
width:20px;
}

.options .opt {
display:block;
height:9px;
margin:6px 5px;
width:37px;
}

.article {
clear:both;
margin-top:10px;
}
.article p a {
border-bottom:1px dashed #7BB517;
font-size:11px;
text-decoration:none;
}
.article p a:hover {
border-bottom:1px solid #7BB517;
}


#contenu .article h2 {
border:none;
color:#71695E;
font-size:10px;
line-height:10px;
font-weight:normal;
margin:0;
text-transform:uppercase;
}

#contenu .article h2 strong {
color:#7BB517;
display:block;
font-size:28px;
line-height:25px;
font-weight:normal;
text-transform:none;
margin-bottom:10px;
}

.article h3 {
color:#1B1B1F;
font-size:20px;
font-weight:normal;
line-height:20px;
margin-bottom:5px;
}

.article strong.date {
color:#7BB517;
font-size:12px;
}

.article p {
color:#333333;
font-size:11px;
line-height:16px;
margin-bottom:10px;
text-align:justify;
}
.article p b, .article p strong {font-size:11px;color:#333333; font-weight:bold;}
.article p.intro {
color:#040404;
font-size:15px;
font-weight:bold;
line-height:15px;
text-align:left;
}

.article h4 {
color:#6B6257;
font-size:15px;
font-weight:bold;
margin-bottom:5px;
}
.article ul {margin:10px 6px 10px 8px;
clear:left;
position:relative;
}
.article ul li {list-style:none;
background:url(square.gif) no-repeat 0 5px;
font-size:11px;
margin-top:4px;
padding-left:8px;
}

#colonne_g {
float:left;
width:376px;
}

#colonne_d {
float:right;
margin-top:14px;
width:190px;
}

p.legende {
color:#7C7C7C;
font-family:Tahoma, Verdana, Helvetica, sans-serif;
font-size:10px;
line-height:11px;
margin:0 3px 10px auto;
text-align:right;
width:95%;
}

#comments {
clear:both;
}

#comments h2, #add_comment h2 {
border-bottom:1px solid #D3D2CE;
color:#51493C;
font-size:16px;
margin-bottom:7px;
}

#comments h3 {
color:#70675A;
font-size:11px;
}

#comments p {
color:#333333;
font-family:Tahoma, Verdana, Helvetica, sans-serif;
font-size:10px;
margin-bottom:7px;
}

#smartlinks {
margin-top:20px;
margin-bottom:20px;
}

#smartlinks li {
	font-size:14px;
}

#smartlinks h2 {
border-bottom:1px solid #D3D2CE;
color:#51493C;
font-size:16px;
margin-bottom:7px;
}

#colonne_g .lien, p.lien   {
text-align:right;
}

#colonne_g .lien a,  p.lien a {
border-bottom:1px dashed #7BB517;
font-size:11px;
text-decoration:none;
}
#colonne_g .lien a:hover,  p.lien a:hover {
border-bottom:1px solid #7BB517;
}

#bonus {
height:170px;
}


#colonne_d_m {
background:url(colonne_d_m.gif) repeat-y;
text-align:left;
}
#colonne_d_b {
background:url(colonne_d_b.gif) no-repeat left bottom;
padding-bottom:6px;
}

#colonne_d_m h2 {
display:block;
height:18px;
margin-left:3px;
width:190px;
}

#colonne_d_m p {
padding:0 6px 4px;
}

#colonne_d_m ul {
margin:10px 6px 10px 8px;
}

#colonne_d_m li {
list-style:none;
background:url(square.gif) no-repeat 0 5px;
font-size:11px;
margin-top:4px;
padding-left:8px;
}

#colonne_d_m li a, .article li a {
color:#605445;
text-decoration:none;
}
#colonne_d_m li a:hover, .article li a:hover,.article li a.rose:hover {
text-decoration:underline;
}
.article li a.rose {
color:#7BB517;
font-size:11px;
text-decoration:none;
}
#colonne_d_m li strong {
color:#7BB517;
font-size:10px;
font-weight:normal;
}

#add_comment {
margin:5px 0 10px;
}
h6.dates {
background:url(agenda.gif) no-repeat 0 1px;
color:#A19D9A;
font-size:11px;
margin:5px 0 0 0;
padding-left:13px;
font-weight:normal;
}
a.sns {
color:#71695E;
text-decoration:none;
}
a.sns:hover {
text-decoration:underline;
}
div.recherche div.article {background:none;}
div.blphotos {width:180px;
padding:8px 0 0 10px;}
div.blphotos img {float:left;
margin:0 5px 5px 0;}
div.blphotos p {font-size:11px;}
div.blphotos p a {text-decoration:none;}
div.blphotos br {clear:left;}