.page_content {
clear:both;
margin-top:10px;
}

.page_content strong.date {
color:#7BB517;
font-size:12px;
}

.page_content p {
color:#333333;
font-size:11px;
line-height:16px;
margin-bottom:10px;
text-align:justify;
}
.page_content p b {color:#6B6257;}
.page_content p.intro {
color:#040404;
font-size:15px;
font-weight:bold;
line-height:17px;
text-align:left;
}
b.more {color:#6B6257;
font-size:15px;
}
.page_content h2 {
border-bottom:2px solid #D3D2CE;
color:#51493C;
font-size:15px;
margin:0 0 7px 0;
width:575px;}
#contenu .content h2 {width:575px;}

.page_content h2 a {
display:block;
width:100%;
color:#51493C;
text-decoration:none;
font-weight:bold;
}
.page_content h3 strong {color:#7BB517;
display:block;
font-size:28px;
line-height:25px;
font-weight:normal;
text-transform:none;
margin-bottom:10px;
border:none;
}
#contenu div.article h2 strong {line-height:26px;}
.page_content h3 {
border:none;
color:#71695E;
font-size:10px;
line-height:10px;
font-weight:normal;
text-transform:uppercase;
}
.page_content h4 strong {color:#1B1B1F;
font-size:20px;
font-weight:normal;
line-height:20px;
margin-bottom:5px;
text-transform: none;border:none;
}
.page_content h4 {
color:#71695E;
display:block;
font-size:18px;
line-height:18px;
font-weight:normal;
text-transform:none;
}
.page_content h4 b {
color:#6B6257;
display:block;
font-size:18px;
line-height:18px;
font-weight:normal;
text-transform:none;
}
.page_content h5 {
color:#1B1B1F;
font-size:24px;
font-weight:normal;
line-height:22px;
margin-bottom:10px;
}

.page_content ul {margin:5px 0 5px 50px;
	list-style:none;
	}
.page_content ul li {background:url(liste.gif) no-repeat 0 5px;
	padding:1px 0 1px 8px;
	font-size:11px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#333;
	}
.page_content .lien  {
text-align:right;
}

.page_content .lien a {
border-bottom:1px dashed #7BB517;
font-size:11px;
text-decoration:none;
}
.page_content .lien a:hover {
border-bottom:1px solid #7BB517;
}

#inscription, #formul  {margin:5px 0;}
#inscription fieldset {margin:0 0 0 50px;}
#inscription input,  #formul input {background:url(textarea.gif) no-repeat;
	height:14px;
	border:none;
	width:180px;
	padding:2px 0 0 5px;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333;
	}
	#inscription select, #formul select {background:#E5E4E0;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border:#D3D2CE 1px solid;
	width:180px;
	}
	#inscription .ssinput,  #formul .ssinput {background:none;
	width:20px;
	border:none;
	}
#inscription table,  #formul table {width:100%;
	margin:5px 0;
	font-size:11px;
	color:#333;
	}
#inscription table td, #formul table td{ border-bottom:1px solid #D3D2CE;
	padding:0 0 2px 0;}
#inscription table td b, #formul table td b {color:#7BB517; 
	font-weight:normal;
	}
#inscription p.liste, #formul p.liste, p.liste  {background: url(liste.gif) no-repeat 0 7px;
	padding:0 0 0 8px;
	margin:8px 0 12px 0;
	clear:left;
	}
#inscription input.submit, #formul  input.submit {background:url(submit_envoyer.gif) no-repeat;
border:none;
height:13px;
width:57px;
float:right;
	}	
input.retour {background:url(submit_envoyer.gif) no-repeat;
border:none;
height:13px;
width:57px;
float:right;
	}	
	
	
#inscription textarea.message, #formul	textarea.message {
clear:left;
width:320px;
height:80px; 
margin:5px 0 10px 0;
background:#E5E4E0;
}
p.small {font-size:10px;
	line-height:11px;
	color:#999;}
	a.btsuppinscript, a.btmodifier {display:block;
float:left;
margin:0 15px 0 0;
text-indent:-9999px;
border:none;
padding:0;
}
.btsuppinscript {background: url(suppinscription.gif) no-repeat;
width:152px;
height:13px;
}
.btmodifier {background:url(modifierinscription.gif) no-repeat;
width:141px;
height:13px;
}