html, body, form, fieldset, p, li, input, textarea {
font-family:Georgia, Verdana, Helvetica, sans-serif;
font-size:10px;
margin:0;
padding:0;
color:#605445;
}
input, textarea {
font-family:Tahoma, Verdana, Helvetica, sans-serif;
font-size:10px;
}
a img {
border:none;
}
a:hover {
text-decoration:underline;
}
html, body {
height:100%;
}
h1, h2, h3, h4, h5, h6, pre, hr,
blockquote, ul, ol, dl, address {
margin:0;
padding:0;
}
h1 span, h2 span, h3 span,
h4 span, h5 span, h6 span,
a span, legend span {
display:none;
}
form label, form input.submit:hover {
cursor:pointer;
}
fieldset {
border:none;
}
input, select, textarea {
font-size:100%;
}
ul {
list-style-type:none;
}
.clear {
clear:both;
visibility:hidden;
}
.float_l {
float:left;
}
.float_r {
float:right;
}