#search{
padding:10px 0px 0px 3px;
width:200px;
}

#search #searchBox{
width:100px;
}

#search #submit{
width:77px;
background:transparent url(rechercher.gif) no-repeat scroll 0% 0%;
border:medium none;
height:13px;
}

.rechercheSynomia{
float:left;
width:580px;
}

.affine_t{
background:transparent url(grid.gif) repeat scroll 0% 0%;
padding:10px 10px 0px 10px;
float:left; 
display:block; clear:both; 
}
.affine{
background:white;
display:block; clear:both;
float:left; 
}


.affine .affineSuivant{

 background:white !important;
 display:block; clear:both;
 padding:3px; 
 
}



.affine ul {
	display:block; clear:both; 
	float:left; margin:0; padding:5px; list-style-type:none;
	width:548px; 
}

.affine ul li {
width: 175px; float:left; display:inline;
background:none !important;
margin:0; padding:0
}
.affine ul li a{
display:block;width: 175px;
}

.estimation{
float:left;
}

.modeTrie{
float:right;
margin:0px;
}

.showResult{
clear:both;
float:right;
}

.resultats{
margin-top:50px;
}
.resultats .item{
padding-bottom:15px;
}

.resultats .item .itemTitle{
border:1px;
}
.resultats .item .itemCorps{

padding-left:16px;
}
.resultats .item .itemFooter{
padding-left:16px;
}

.pagination{
border:1px;
}

body {
background:#E6E6E6 url(fond.gif) repeat-y center top;
}

p strong, a {
color:#7BB517;
font-weight:normal;
}

p.puce {
background:url(fleches_noires.gif) no-repeat 0 5px;
padding-left:10px;
}

#main {
left:50%;
margin-left:-490px;
position:absolute;
top:0;
width:980px;
}

#header {
margin:0;
height:91px;
left:0;
position:absolute;
top:16px;
width:980px;
}

#contenu {
background:url(contenu.gif) repeat-y;
left:190px;
padding:0 8px 50px;
position:relative;
top:149px;
width:577px;
}

#nav {
background:url(nav_h.gif) repeat-x;
height:16px;
left:0;
position:absolute;
top:0;
width:980px;
}

#bandeau {
background:url(bandeau_h.gif) repeat-x;
height:36px;
left:0;
position:absolute;
top:107px;
width:980px;
}

#footer {
background:#fff url(footer.gif) repeat-x;
border-top:3px solid #fff;
visibility:hidden;
height:43px;
left:50%;
margin-left:-490px;
padding:3px 0 0 1px;
position:absolute;
width:979px;
}

#footer li {
border-right:1px solid #909292;
color:#040404;
float:left;
font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
padding:0 12px;
}

#footer li a {
color:#7C7C7C;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
text-decoration:none;
padding:0 3px;
}

#footer li a:hover {
color:#7BB517;
}


#col_gauche {
left:5px;
padding-right:10px;
position:absolute;
top:149px;
width:174px;
}

#col_gauche h2, #contenu .content h2 {
border-bottom:2px solid #A9A49E;
clear:right;
height:16px;
margin:4px 0;
width:175px;
} 


#col_gauche p {
font-size:11px;
line-height:14px;
margin-bottom:8px;
margin-left:2px;
}

#col_gauche .lien {
display:block;
position:relative;
left:-2px;
text-align:right;
}

#col_gauche .lien a {
border-bottom:1px dashed #7BB517;
text-decoration:none;
}

#col_gauche .lien a:hover {
border-bottom:1px solid #7BB517;
}

#col_gauche img {
float:right;
margin-left:10px;
}

#col_gauche p img {
float:none;
margin-left:0;
}

#bulle,#prochain_dossierswf {
overflow:hidden;
}

#col_droite {
background:#fff;
padding:0 8px 0 3px;
position:absolute;
right:0;
text-align:center;
top:149px;
width:181px;
}

.bouton {
display:block;
height:18px;
width:100%;
}

#menu {
margin-bottom:10px;
}

#menu li {
border-bottom:1px solid #E3E3E3;
}

#menu li a {
color:#7C7C7C;
display:block;
font-family:Tahoma, Verdana, Helvetica, sans-serif;
font-size:11px;
margin:1px 0;
text-decoration:none;
}

#menu li a:hover, #menu li a.active {
background:#7BB517;
color:#fff;
padding-left:5px;
}

#acces {
background:url(acces.gif) no-repeat;
left:230px;
position:absolute;
top:2px;
width:250px;
z-index:100;
}

#acces span {
color:#C1BCB7;
font-family:Tahoma, Verdana, Helvetica, sans-serif;
position:absolute;
right:16px;
top:-2px;
z-index:10;
}

#acces li ul {
background:#21201E;
display:none;
float:right;
list-style-type:none;
margin:0;
padding:4px;
position:absolute;
right:12px;
top:8px;;
width:117px;
}

#acces li ul li {
background:none;
border:0;
height:14px;
}

#acces li a:link, #acces li a:visited {
color:#868B93;
display:block;
height:10px;
position:relative;
}

#acces li ul li a:link,
#acces li ul li a:visited {
color:#E6E6E6;
display:block;
font-family:Tahoma, Verdana, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
height:14px;
text-decoration:none;
}

#acces li ul li a:hover {
background:#302E2B;
color:#fff;
}

#acces li ul li a.hover_fr:hover {
background:#7BB517;
}

#acces li ul li a.hover_info:hover {
background:#ED0CB0;
}

#acces li ul li a.hover_eu:hover {
background:#5089CC;
}

#acces li ul li a.hover_org:hover {
background:#F17E0C;
}

#acces li:hover ul {
display:block;
}

#rechercher {
left:525px;
position:absolute;
top:1px;
font-family:Tahoma, Verdana, Helvetica, sans-serif;
font-size:10px;
width:320px;
}

#rechercher a {
color:#C1BCB7;
position:absolute;
right:0;
top:0;
}

#rechercher label {
display:block;
float:left;
height:6px;
margin:4px 4px 0 0;
width:73px;
}

#rechercher label span {
display:none;
}

#rechercher .input {
background:#302E2B;
border:none;
border-bottom:2px solid #21201E;
color:#E6E6E6;
display:block;
float:left;
height:12px;
padding:0 5px;
width:115px;
}

#rechercher .submit {
background:url(submit_recherche.gif) no-repeat;
border:none;
float:left;
height:14px;
width:16px;
}

#mon_compte {
height:25px;
left:189px;
position:absolute;
top:3px;
width:606px;
}
#mon_compte ul {width:606px;
list-style:none;
}
#mon_compte ul li {display:inline;}
#mon_compte ul li a {display:block; height:28px;float:left;}
#mon_compte ul li a#lien1 {
background:url(mon_compte.gif) no-repeat;
width:98px;
}
#mon_compte ul li a#lien1:hover, #mon_compte ul li a#lien1.selected {
background-position: 0 -28px;
}
#mon_compte ul li a#lien2 {
background:transparent url(mon_compte.gif) no-repeat scroll -597px 0pt;
color:black;
text-decoration:none;
width:155px;
}

#mon_compte ul li a#lien2:hover, #mon_compte ul li a#lien2.selected {
background-position: -597px -28px;
}

#mon_compte ul li a#lien2 span{
display:block;
font-family:arial,Verdana,Helvetica,sans-serif;
font-size:8px;
font-weight:bold;
letter-spacing:0em;
margin:10px 0px 0px 12px;
text-transform:uppercase;
}

#mon_compte ul li a#lien3 {
background:url(mon_compte.gif) no-repeat -231px 0;
width:110px;
}
#mon_compte ul li a#lien3:hover, #mon_compte ul li a#lien3.selected {
background-position: -231px -28px
;}
#mon_compte ul li a#lien4 {
background:url(mon_compte.gif) no-repeat -341px 0;
width:125px;
}
#mon_compte ul li a#lien4:hover, #mon_compte ul li a#lien4.selected {
background-position: -341px -28px;
}
#mon_compte ul li a#lien5:hover, #mon_compte ul li a#lien5.selected {
background-position: -464px -28px;
}
#mon_compte ul li a#lien5{
background:url(mon_compte_presse.gif) no-repeat -464px 0;
width:123px;
}
#mon_compte ul li a#lien6{
background:url(mon_compte_presse.gif) no-repeat -587px 0;
width:144px;
}
#mon_compte ul li a#lien6:hover, #mon_compte ul li a#lien6.selected {
background-position: -587px -28px;
}

#abonnement {
background:url(abonnement.gif) no-repeat;
height:25px;
left:190px;
padding-left:3px;
position:absolute;
top:6px;
width:600px;
}

#je_mabonne {
display:block;
height:8px;
left:94px;
position:absolute;
top:9px;
width:67px;
}

#je_minscris {
display:block;
height:8px;
float:left;
width:69px;
margin:9px 15px 0 3px;

}

#abonnement label span, #newslet label span {
display:none;
}

#abonnement label {
display:block;
height:9px;
float:left;
margin-top:6px;
margin-left:3px;
width:75px;
}
#abonnement label.espace_perso {width:81px;margin-top:9px;}
#abonnement label.deja_abon {background:url(label_deja_abonne.gif) no-repeat; }

#abonnement .input, #newslet .input {
background:url(input_abo.gif) no-repeat;
border:none;
border-right:1px solid #F3F2F1;
float:left;
height:13px;
margin:4px;
padding:1px 3px;
width:84px;
}

#newslet .input {
margin-left:3px;
}

#abonnement input.input:focus, #newslet input.input:focus {
background:#83cf0a;
color:#fff;
}

#abonnement input.submit, #newslet input.submit {
background:url(submit_abonnement.gif) no-repeat;
border:none;
float:left;
height:13px;
margin:5px 7px 0 0;
width:17px;
}

#abonnement a {
color:#727170;
display:block;
padding-top:5px;
float:left;
}

#newslet {
position:absolute;
right:-5px;
top:7px;
width:200px;
}

#newslet .submit {
margin-right:2px;
}

#newslet label {
background:url(label_newsletter.gif) no-repeat;
display:block;
height:7px;
float:left;
margin-top:9px;
margin-left:3px;
width:92px;
}

#newslet .input {
width:80px;
}

#droite_b {
background:url(droite_b.gif) no-repeat left bottom;
margin-bottom:7px;
padding-bottom:5px;
width:180px;
}

#droite_t {
background:url(droite_t.gif) no-repeat;
}

#droite_m {
background:url(droite_m.gif) repeat-y;
}

#droite_m h2 {
height:19px;
margin-left:3px;
width:180px;
}

#droite_m p {
padding:0 6px 4px;
}

#droite_m ul {
margin:10px 6px 10px 8px;
}

#droite_m li {
background:url(square.gif) no-repeat 0 5px;
font-size:11px;
margin-top:4px;
padding-left:8px;
}

#droite_m li a {
color:#605445;
text-decoration:none;
}

#droite_m li strong {
color:#7BB517;
font-size:10px;
font-weight:normal;
}

#col_droite .lien {
text-align:right;
}

#col_droite .lien a {
border-bottom:1px dashed #7BB517;
font-family:Tahoma, Verdana, Helvetica, sans-serif;
text-decoration:none;
}

#col_droite .lien a:hover {
border-bottom:1px solid #7BB517;
}
#col_droite ul li a:hover {
text-decoration:underline;
}
#col_droite a.link, #colonne_d a.link  {
color:#7BB517;
text-decoration:none;
font-size:10px;
}
a.link:hover {
text-decoration:none;
}
#droite_m h3, #droite_m h2, #droite_m h3, #droite_m h4, #droite_m li, #droite_m p {
text-align:left;
}

#droite_m h3.agenda {
background:url(agenda.gif) no-repeat 0 1px;
color:#A19D9A;
font-size:11px;
margin:5px 0 0 7px;
padding-left:13px;
}

#droite_m h4 {
color:#605445;
font-size:11px;
font-weight:normal;
margin:5px 10px 0 20px;
}

#droite_m p.agenda {
font-size:11px;
margin:3px 0 0 14px;
}

#droite_m p.agenda b, #droite_m p.agenda b p, #droite_m p.agenda strong  {
color:#A19D9A;
font-size:11px;
}
#une {
margin-bottom:5px;
}

#articles {
background:url(articles_m.gif) repeat-y;
padding:5px 10px;
}

#articles_m {
background:url(grise.gif) repeat-y center top;
padding-bottom:5px;
width:550px;
}
#articles_o {
background:url(grise.gif) repeat-y center top;
padding-bottom:5px;padding:2px 20px;
}
.news {
float:left;
padding:2px 20px;
width:235px;
}
.news a {
font-size:11px;
}
#articles li a:hover {
text-decoration:underline;
}
.news h3, .breves h3 {
font-size:15px;
margin-bottom:5px;
}

.news h3 {
color:#51493C;
}

.breves h3 {
color:#786A5A;
}

#articles li {
background:url(square.gif) no-repeat 0 5px;
padding-left:8px;
}

#articles li a {
color:#605445;
text-decoration:none;
}

#articles li strong {
color:#7BB517;
font-weight:normal;
}

.ligne_r {
background:url(raye.gif);
clear:left;
height:9px;
}

.ligne {
background:#A7A49D;
clear:both;
height:2px;
margin-bottom:10px;
overflow:hidden;
width:175px;
}

.breves {
margin-bottom:10px;
width:175px;
}

.breves:after {    
content:"."; 
display:block; 
height:0; 
clear:both; 
visibility:hidden;
}

.breves p {
margin-bottom:6px;
font-size:11px;
}

.breves a {
text-decoration:none;
}

.breves .lien {
display:block;
float:right;
margin:0;
text-align:right;
}

.breves .lien a {
border-bottom:1px dashed #7BB517;
font-size:11px;
text-decoration:none;
}

.breves .lien a:hover {
border-bottom:1px solid #7BB517;
}

.breves .logo {
float:left;
margin-right:15px;
}

.focusactu {
float:left;
width:590px;
}

.focusactu div {
float:left;
height:220px;
padding:0 15px 10px 0;
width:181px;
}

.focusactu div img {
display:block;
}

h3.focusrubrique, #rub_qualite_de_vie, #rub_culture, #rub_economie, #rub_nature, #rub_enseignement, #rub_echappee_belle, #rub_sports___loisirs, #rub_societe, #rub_sports, #rub_territoires, #rub_vie_quotidienne, #rub_sciences_et_recherche, #rub_dossiers {
height:17px;
width:181px;
}

.focusactu div h4 {
background:url(focusactu.gif) repeat-x;
color:#5E554C;
font-size:12px;
line-height:13px;
padding:4px 6px 3px;
width:169px;
}

.focusactu div h4 a {
color:#5E554C;
font-size:12px;
font-weight:bold;
line-height:13px;
text-decoration:none;
}

.focusactu div h4 a:hover {
text-decoration:underline;
}

.focusactu div p {
font-size:11px;
padding:0 6px;
}

.focusactu div p a {
font-size:10px;
text-decoration:none;
}
.focusactu div p a.sns {
font-size:11px;}

.form {
padding:5px 0;
}

.form label {
background:url(fleches_roses.gif) no-repeat 0 4px;
clear:left;
float:left;
font-family:Tahoma, Verdana, Helvetica, sans-serif;
font-size:11px;
padding-left:12px;
width:65px;
}

.formpop label b {color:#7BB517; font-weight:normal;}
#logon_error, #profil_error, #profil_wait {font-size:12px;color:#7BB517;}

.form  input, .form textarea {
background:url(input_abo.gif) no-repeat;
border:none;
border-right:1px solid #F3F2F1;
float:left;
font-family:Tahoma, Verdana, Helvetica, sans-serif;
font-size:11px;
height:14px;
margin:0 5px 4px;
padding:1px 3px 0;
width:98px;
color:#fff;
}
#contenu div.content div.article p {font-size:11px;}

.form textarea{
background:#B6B5B5;
height:50px;
width:297px;
}
textarea.message {clear:left; width:320px;
height:80px; 
margin:5px 0 10px 0;}



.form p{
clear:left;
float:none;
}
.content p.liste {background: url(liste.gif) no-repeat 0 7px;
	padding:0 0 0 8px;
	margin:8px 0 12px 0;
	font-size:11px;
	}
	
.form input.submit {
background:url(submit_envoyer.gif) no-repeat;
border:none;
height:13px;
width:57px;
}

#formul input.bt_valider {background:  url(valider.gif) no-repeat;
border:none;
height:13px;
width:53px;
}

.form span.radio {
background:url(fleches_roses.gif) no-repeat 0 4px;
clear:left;
float:left;
font-family:Tahoma, Verdana, Helvetica, sans-serif;
font-size:11px;
padding-left:12px;
width:65px;
}

.form label.radio {
background:none;
clear:none;
height:auto;
width:auto;
}

.form input.radio {
background:none;
height:auto;
width:auto;
}
p.small {
font-size:10px;
line-height:11px;
color:#999;
clear:left;
}
p.small a {
font-weight:bold;
color:#999;
text-decoration:none;
}
p.small a:hover {text-decoration:underline;}
a.suivants {
background:url(fleches_roses.gif) no-repeat right 4px;
padding-right:12px;
margin-left:2px;
}
a.precedents {
background:url(fleches_roses_prec.gif) no-repeat 0 4px;
padding-left:12px;
margin-right:2px;
}
.dialogue {background:url(guil.gif) no-repeat;
padding:0 0 0 15px;
font-size:11px;
font-weight:bold;
color:#53493C;min-height:13px;
}
.dialogue p {background:url(guild.gif) no-repeat bottom right;
padding:0 15px 0 0;
min-height:13px;
}
.dialogue p a {color:#53493C;
text-decoration:none;
font-weight:bold;
}
#ajaxcontent_info p strong {color:#E90DA3;}
#ajaxcontent_fr p strong {color:#70AE00;}
#ajaxcontent_eu p strong {color:#5089CC;}
#ajaxcontent_org p strong {color:#F17E0C;}

.tabs, #formul table.tabs {
border-left:2px solid #A6A5A0;
font-size:10px;
margin:5px 0 10px 20px;
width:96%;
}

.tabs td, #formul table.tabs td {padding:3px 0 5px 8px;
border:none;
}
.checkbox, #formul input.checkbox, input.checkbox {
background:transparent none repeat scroll 0 0;
border:medium none;
height:17px;
margin:0;
width:17px;
}