#rubriques {
background:url(rubriques.gif) no-repeat;
}
#portrait {
background:url(portrait.gif) no-repeat;
}
#echappee_belle {
background:url(echappee_belle.gif) no-repeat;
height:22px;
padding:0 0 4px;
} 

#jouez {
background:url(jouez.gif) no-repeat;
}
#avis {
background:url(avis.gif) no-repeat;
}
#prochain_dossier {
background:url(prochain_dossier.gif) no-repeat;
}
#telechargez {
background:url(telechargez.gif) no-repeat;
}
#dossiers {
background:url(dossiers.gif) no-repeat;
}
#chat {
background:transparent url(chat.gif) no-repeat scroll 0%;
}
.je_participe {
background:url(je_participe.gif) no-repeat right top;
}
.je_reagis {
background:url(je_reagis.gif) no-repeat right top;
}
#rechercher label {
background:url(label_rechercher.gif) no-repeat;
}
#je_mabonne {
background:url(je_mabonne.gif) no-repeat;
}
#je_minscris {
background: url(j_minscris.gif) no-repeat;
}
.espace_perso{
background: url(espace_perso.gif) no-repeat;
}
#d_meteo {
background:url(d_meteo.gif) no-repeat;
}
#d_7_jours {
background:url(d_7_jours.gif) no-repeat;
}
#d_bientot {
background:url(d_bientot.gif) no-repeat;
}
#d_indicateurs {
background:url(d_indicateurs.gif) no-repeat;
}
#d_articlescommentes {
background:url(d_articlescommentes.gif) no-repeat;
}
#d_articleslus {
background:url(d_articleslus.gif) no-repeat;
}
#en_ligne_info {
background:url(onglet_info.gif) no-repeat;
}
#en_ligne_info:hover, .shadetabs li.selected a#en_ligne_info {
background:url(onglet_info.gif) no-repeat;
background-position:0 -18px;
}
#en_ligne_fr {
background:url(onglet_fr.gif) no-repeat;
}
#en_ligne_fr:hover, .shadetabs li.selected a#en_ligne_fr {
background:url(onglet_fr.gif) no-repeat;
background-position:0 -18px;
}
#en_ligne_net {
background:url(onglet_net.gif) no-repeat;
}
#en_ligne_net:hover, .shadetabs li.selected a#en_ligne_net {
background:url(onglet_net.gif) no-repeat;
background-position:0 -18px;
}
#en_ligne_eu {
background:url(onglet_eu.gif) no-repeat;
}
#en_ligne_eu:hover, .shadetabs li.selected a#en_ligne_eu {
background:url(onglet_eu.gif) no-repeat;
background-position:0 -18px;
}
#en_ligne_org {
background:url(onglet_org.gif) no-repeat;
}
#en_ligne_org:hover, .shadetabs li.selected a#en_ligne_org {
background:url(onglet_org.gif) no-repeat;
background-position:0 -18px;
}

#rub_accueil_cooperation {
background:url(rub_accueil_cooperation.gif) no-repeat;
}
#rub_culture {
background:url(rub_culture.gif) no-repeat;
}
#rub_economie {
background:url(rub_economie.gif) no-repeat;
}
#rub_dossiers, h3.focusrubrique {
background:url(rub_dossier.gif) no-repeat;
}
#rub_sciences_et_recherche {
background:url(rub_sciences_et_recherche.gif) no-repeat;
}
#rub_economie {
background:url(rub_economie_finance.gif) no-repeat;
}
#rub_education {
background:url(rub_education.gif) no-repeat;
}
#rub_environnement {
background:url(rub_environnement.gif) no-repeat;
}
#rub_politique {
background:url(rub_politique.gif) no-repeat;
}
#rub_societe {
background:url(rub_societe.gif) no-repeat;
}
#rub_sports___loisirs {
background:url(rub_sports.gif) no-repeat;
}
#rub_territoires {
background:url(rub_territoires.gif) no-repeat;
}
#rub_vie_quotidienne {
background:url(rub_vie_quotidienne.gif) no-repeat;
}
#rub_qualite_de_vie {
background:url(rub_qualite_de_vie.gif) no-repeat;
}
#rub_nature {
background:url(rub_nature.gif) no-repeat;
}
#rub_enseignement {
background:url(rub_enseignement.gif) no-repeat;
}
#rub_echappee_belle {
background:url(rub_echappee_belle.gif) no-repeat;
}

.opt {
background:url(options.gif.1) no-repeat;
}
#d_articlesdossier {
background:url(d_articlesdossier.gif) no-repeat;
}
#d_alire {
background:url(d_alire.gif) no-repeat;
}
#d_articleliste {
background:url(d_articlesliste.gif) no-repeat;
}
#d_complt {
background:url(d_complt.gif) no-repeat;
}
#d_photobonus {
background:url(d_bonus.gif) no-repeat;
}
#d_plusdinfos {
background:url(d_plusdinfos.gif) no-repeat;
}
#d_telecharger {
background:url(d_telecharger.gif) no-repeat;
}
h3#sitesregion {
background: url(sitesregion.gif) no-repeat;
margin:5px 0 0 0;
border-bottom:2px solid #a8a59e;
width:160px;
height:15px;
clear:left;
margin-left:8px;
}

#playerm { background:url(mediaplayer.gif) no-repeat;
width:569px;
height:304px;
padding:25px 0 0 0;
}