body {
	background-color: #ffffff;
	scrollbar-face-color: #000066;
	scrollbar-shadow-color: #ffffff;
	scrollbar-highlight-color: #ffffff;
	scrollbar-3dlight-color: #000066;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-track-color: #ffffff;
	scrollbar-arrow-color: #fd0500;
}
a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	text-transform: none;
	color: #990000;
	text-decoration: none;

}
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	text-transform: none;
	color: #333333;
	text-decoration: none;

}
a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	text-transform: none;
	color: #FF6600;
	text-decoration: none;

}

.textpres {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	color: #000066;
	font-weight: normal;
	line-height: normal;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
	border: 1px #666666 none; 
}
.titrelogoccirouge {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-style: normal;
	color: #FF0000;
	font-weight: normal;
	line-height: normal;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 0px;
	float: none;
	vertical-align: middle;


}
.imagetexte {
	font-style: normal;
	line-height: normal;
	font-style: normal;
	line-height: normal;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	border: 1px solid #000000;
	float: left;
	margin-right: 0px;
	padding: 0px;
}
.bloctextfondgris { 	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-style: normal; 
	color: #000066; 
	font-weight: normal; 
	line-height: normal; 
	padding-top: 4px; 
	padding-bottom: 4px; 
	padding-left: 4px; 
	padding-right: 4px;
	background-color: #EBEBEB; 
	border: 1px none #000066;

}
.bloctextfondrouge { 	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-style: normal; 
	color: #FFFFFF; 
	font-weight: normal; 
	line-height: normal; 
	padding-top: 4px; 
	padding-bottom: 4px; 
	padding-left: 4px; 
	padding-right: 4px;
	background-color: #FF0000; 
	border: 1px none #000066;
	
}
.icologoccititre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-style: normal;
	color: #003399;
	font-weight: normal;
	line-height: normal;
	border: none;
	vertical-align: middle;
	padding: 0px 4px;
: none; 	
	margin-right: 4px; 
}
.titremajusculebleu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-style: normal;
	color: #000066;
	font-weight: normal;
	line-height: normal;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 0px;
	float: none;
	text-transform: uppercase;

}
.bloctitredegradebleumarine {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	color: #FFFFFF;
	text-transform: uppercase;
	border-top: 0px none;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 0px none;
	background-image: url(onglet_degrade_bleufonce_drt.jpg);
	background-repeat: repeat-y;
	background-position: right top;
	padding-left: 2px;
	font-weight: bold;
	background-color: #000066;

}
.bloctitredegradebleuactu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	color: #FFFFFF;
	text-transform: uppercase;
	border-top: 0px none;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 0px none;
	background-image: url(onglet_degrade_bleufonce_drt.jpg);
	background-repeat: repeat-y;
	background-position: right top;
	padding-left: 1px;
	font-weight: bold;
	background-color: #000066;
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 0px;
}
.titrelogoccibleu {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-style: normal;
	color: #000066;
	font-weight: normal;
	line-height: normal;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 0px;
 	float: none;
}
.pucelogocci {

	font-style: normal; 
	color: #FFFFFF; 
	font-weight: normal; 
	line-height: normal; 
	padding-top: 0px; 	
	padding-bottom: 0px; 
	padding-left: 0px; 
	padding-right: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 	
	font-size: 14pt; 
	font-style: normal; 
	color: #003399; 
	font-weight: normal; 
	line-height: normal; 
	padding-top: 4px; 	
	padding-bottom: 4px; 
	padding-left: 4px; 
	padding-right: 4px; 
	border: none; 
	vertical-align: middle
	float
}
.pucelosange {

	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	border: none;
	padding: 0px 0px;
	float: left;
	vertical-align: middle;
}
.textpresbold {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	color: #000066;
	font-weight: bold;
	line-height: normal;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
	border: 1px #666666 none;
}
.bloctextcontact {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	color: #000066;
	font-weight: normal;
	line-height: normal;
	background-color: #FFFFFF;
	border: 1px solid #000066;
	text-align: left;
	padding: 2px;
	height: auto;
	width: auto;
	float: none;
	margin: 0px;
	clear: both;
}
.titrerouge {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	color: #FF0000;
	font-weight: bold;
	line-height: normal;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 1px;
	padding-right: 0px;
	vertical-align: middle;
	text-transform: uppercase;
}
.Style3 {
color: #FF6600;
}
.Style4 {
color: #FF0000;
}
.Style5 {
	color: #FFFFFF;
	font-weight: bold;
}
.Style6 {
font-size: 10px; 
font-style: normal; 
color: #000066; 
line-height: normal; 
padding-top: 0px; 
padding-bottom: 0px; 
padding-left: 2px; 
padding-right: 1px; 
font-family: Verdana, Arial, Helvetica, sans-serif;
}


.bloctextfondorange {

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-style: normal; 
	color: #FFFFFF; 
	font-weight: normal; 
	line-height: normal; 
	padding-top: 4px; 
	padding-bottom: 4px; 
	padding-left: 4px; 
	padding-right: 4px;
	background-color: #FF6600; 
	border: 1px none #000066;
}
.bloctextfondbleu {


	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-style: normal; 
	color: #FFFFFF; 
	font-weight: normal; 
	line-height: normal; 
	padding-top: 4px; 
	padding-bottom: 4px; 
	padding-left: 4px; 
	padding-right: 4px;
	background-color: #000066; 
	border: 1px none #000066;
}
