/*! $Id: article-layouts.css 6205 2009-09-21 16:03:38Z mseckert $ */
/*
* @author hillebrand
*/

/************************************************
* 												*
* body.sdtPath_overview							*
* 												*
* 												*
* #containerGlobal:								*
*												*
* div.sdtPath0_careers							*
* div.sdtPath0_chevrolet-worldwide				*
* div.sdtPath0_chevrolet-worldwide-ref			*
* div.sdtPath0_contact							*
* div.sdtPath0_contact-us						*
* div.sdtPath0_copyright						*
* div.sdtPath0_div.sdtPath0_dealer-locator		*
* div.sdtPath0_dealer-page						*
* div.sdtPath0_environment						*
* div.sdtPath0_experience						*
* div.sdtPath0_footer-home						*
* div.sdtPath0_global-content					*
* div.sdtPath0_help								*
* div.sdtPath0_home								*
* div.sdtPath0_imprint							*
* div.sdtPath0_models							*
* div.sdtPath0_offers							*
* div.sdtPath0_owners							*
* div.sdtPath0_reference-help					*
* div.sdtPath0_rss								*
* div.sdtPath0_sitemap							*
* div.sdtPath0_terms-and-conditions				*
* div.sdtPath0_webforms							*
*												*
* #containerMainContent:						*
*												*
* div.sdtPath1_advantages-for-owners			*
* div.sdtPath1_awards							*
* div.sdtPath1_brochure							*
* div.sdtPath1_buying-guide						*
* div.sdtPath1_certified-used-cars				*
* div.sdtPath1_compare-models					*
* div.sdtPath1_concept-cars						*
* div.sdtPath1_contact							*
* div.sdtPath1_current							*
* div.sdtPath1_finance							*
* div.sdtPath1_future-cars						*
* div.sdtPath1_gm-fleet							*
* div.sdtPath1_help								*
* div.sdtPath1_history							*
* div.sdtPath1_motability						*
* div.sdtPath1_news								*
* div.sdtPath1_newsletter						*
* div.sdtPath1_overview							*
* div.sdtPath1_owners-accessories				*
* div.sdtPath1_reasons-to-buy					*
* div.sdtPath1_request-information				*
* div.sdtPath1_rss								*
* div.sdtPath1_special-models					*
* div.sdtPath1_test-drive						*
* div.sdtPath1_used-cars						*
* div.sdtPath1_vehicle-manuals					*
* div.sdtPath1_view-all-vehicles				*
* div.sdtPath1_warranty							*
* div.sdtPath1_webforms-overview				*
* div.sdtPath1_what-drives-us					*
*												*
* div.sdtPath2_advantages-for-chevrolet-drivers	*
* div.sdtPath2_body-types						*
* div.sdtPath2_chevrolet-approved				*
* div.sdtPath2_compare-table					*
* div.sdtPath2_configurator						*
* div.sdtPath2_equipment-technical-data			*
* div.sdtPath2_fleet							*
* div.sdtPath2_fleet-contact					*
* div.sdtPath2_gallery							*
* div.sdtPath2_nubira-4d						*
* div.sdtPath2_nubira-sw						*
* div.sdtPath2_overview							*
* div.sdtPath2_used-car-locator					*
*												*
************************************************/
/****************************************
* Generic								*
****************************************/
.sdtPath0_help,
.articleLayout,
.newsLayout {
	font-size:12px;
	line-height:16px;
	color:#2e2e2e;
	/* color:green; */
}

/****************************************
* Table									*
****************************************/
#containerGlobal #modelCompareDB {
	display:none;
}
#containerMainContent table.contentTable,
#containerMainContent table.contentTable * {
	font-size:11px;
	vertical-align:top;
}
#containerMainContent table.contentTable {
	border-collapse:collapse;
	margin:10px 0 20px;
	border-top:1px solid #909090;
	border-right:none;
	border-bottom:1px solid #909090;
	border-left:none;
}
#containerMainContent table.contentTable tr th,
#containerMainContent table.contentTable tr td {
	padding:5px 14px 5px 14px;
}
#containerMainContent table.contentTable tr th {
	background-color:#e0e0e0;
	color:inherit;
	border-bottom:1px solid #b2b2b2;
}
#containerMainContent table.contentTable tr td {
	background-color:#fcfcfc;
	color:inherit;
	border-bottom:1px solid #b2b2b2;
	border-left:1px solid #b2b2b2;
}
#containerMainContent table.contentTable tr th.col1,
#containerMainContent table.contentTable tr td.col1 {
	padding-left:19px;
	border-left:none;
}
/* Tabelle 1-Spaltig:*/
#containerMainContent table.contentTable.tableColumns1 tr th,
#containerMainContent table.contentTable.tableColumns1 tr td {
	width:100%;
	padding-right:20px
}
/* Tabelle 2-Spaltig:*/
#containerMainContent table.contentTable.tableColumns2 tr th,
#containerMainContent table.contentTable.tableColumns2 tr td
{
	width:50%;
}
#containerMainContent table.contentTable.tableColumns2 tr th.col2,
#containerMainContent table.contentTable.tableColumns2 tr td.col2 {
	padding-right:20px
}
/* Tabelle 3-Spaltig:*/
#containerMainContent table.contentTable.tableColumns3 tr th,
#containerMainContent table.contentTable.tableColumns3 tr td
{
	width:30%;
}
#containerMainContent table.contentTable.tableColumns3 tr th.col3,
#containerMainContent table.contentTable.tableColumns3 tr td.col3 {
	padding-right:20px
}
/* Tabelle 4-Spaltig:*/
#containerMainContent table.contentTable.tableColumns4 tr th,
#containerMainContent table.contentTable.tableColumns4 tr td
{
	width:25%;
}
#containerMainContent table.contentTable.tableColumns4 tr th.col4,
#containerMainContent table.contentTable.tableColumns4 tr td.col4 {
	padding-right:20px
}
/* Tabelle 5-Spaltig:*/
#containerMainContent table.contentTable.tableColumns5 tr th,
#containerMainContent table.contentTable.tableColumns5 tr td
{
	width:20%;
}
#containerMainContent table.contentTable.tableColumns5 tr th.col5,
#containerMainContent table.contentTable.tableColumns5 tr td.col5 {
	padding-right:20px
}

/* Tabelle 6-Spaltig:*/
#containerMainContent table.contentTable.tableColumns6 tr th,
#containerMainContent table.contentTable.tableColumns6 tr td
{
	width:16%;
}
#containerMainContent table.contentTable.tableColumns6 tr th.col6,
#containerMainContent table.contentTable.tableColumns6 tr td.col6 {
	padding-right:20px
}

/* Tabelle 7-Spaltig:*/
#containerMainContent table.contentTable.tableColumns7 {
	width:711px;
}
#containerMainContent table.contentTable.tableColumns7 tr th
{
	width:71px;
}
#containerMainContent table.contentTable.tableColumns7 tr th.col7 {
	padding-right:20px
}

/* Tabelle 8-Spaltig:*/
#containerMainContent table.contentTable.tableColumns8 tr th,
#containerMainContent table.contentTable.tableColumns8 tr td
{
	width:12%;
}
#containerMainContent table.contentTable.tableColumns8 tr th.col8,
#containerMainContent table.contentTable.tableColumns8 tr td.col8 {
	padding-right:20px
}

/* Tabelle 9-Spaltig:*/
#containerMainContent table.contentTable.tableColumns9 tr th,
#containerMainContent table.contentTable.tableColumns9 tr td
{
	width:11%;
}
#containerMainContent table.contentTable.tableColumns9 tr th.col9,
#containerMainContent table.contentTable.tableColumns9 tr td.col9 {
	padding-right:20px
}

/* Tabelle 10-Spaltig:*/
#containerMainContent table.contentTable.tableColumns10 tr th,
#containerMainContent table.contentTable.tableColumns10 tr td
{
	width:10%;
}
#containerMainContent table.contentTable.tableColumns10 tr th.col10,
#containerMainContent table.contentTable.tableColumns10 tr td.col10 {
	padding-right:20px
}
/* modelCompare */

/* General */
#articleLayoutDetails h1.sendToFriend {
	border-bottom:1px solid #cfcfcf !important;
}
#articleLayoutDetails h1.sendToFriend .printComparison {
	margin-right:30px;
}
#containerMainContent #modelCompare tr td {
	/* display:none; */
	color:#434343;
}
#containerMainContent #modelCompare tr th.col0 {
	color:#626262;
}
#containerMainContent #modelCompare tr td.col3,
/* #containerMainContent #modelCompare tr td.col2,*/
#containerMainContent #modelCompare tr td.col1 {
	display:table-cell;
}
#containerMainContent #modelCompare tr td h2 {
	font-size:17px;
	color:#3e3e3e;
	font-weight:bold;
	margin-bottom:10px;
}
#containerMainContent #modelCompare tr td div.utilityLink {
	margin-bottom:20px;
}
#containerMainContent #modelCompare .button.cta2,
#containerMainContent #modelCompare .button.cta1 {
	width: 148px;
}
#containerMainContent #modelCompare .button.cta1 {
	margin-top:20px;
}

/* X */
#containerMainContent #modelCompare tr td {
	width:170px;
}
#containerMainContent #modelCompare tr td.col1 {
	padding-left:14px;
}
#containerMainContent #modelCompare {
	border:none;
}
#containerMainContent #modelCompare tr.row0 th,
#containerMainContent #modelCompare tr.row0 td {
	border-top:none;
	border-right:none;
	border-left:none;
	background-color:#fff;
}
#containerMainContent #modelCompare tr.cta1 th,
#containerMainContent #modelCompare tr.cta1 td,
#containerMainContent #modelCompare tr.cta2 th,
#containerMainContent #modelCompare tr.cta2 td {
	background-color:#fff;
	border:none;
}
#containerMainContent #modelCompare tr.row1 th,
#containerMainContent #modelCompare tr.row1 td {
	color:#434343;
	background-color:#e0e0e0;
	border-bottom:1px solid #b2b2b2;
	font-weight:bold;
	border-top:none;
	border-right:none;
	border-left:none;
}

/* Y */
#containerMainContent #modelCompare tr th {
	width:295px;
	padding-left:20px;
	background-color:#fcfcfc;
	color:inherit;
	border-right:1px solid #b2b2b2;
	border-bottom:1px solid #b2b2b2;
	border-left:none;
}
#containerMainContent #modelCompare tr.data {
	display:none;
}


/****************************************
* Article Layout						*
****************************************/

/* overview	only						*/
#containerGlobal div.articleLayout.layout2.bodytypeOverview,
#containerGlobal div.articleLayout.layout2.historyOverview,
#containerGlobal div.articleLayout.layout2.overview {
	padding-top:0;
}
#containerGlobal div.layout2.overview h1 {
	border:none;
	padding-top:15px;
	/* padding:0 0 6px 0; */
}
div.articleLayout.layout2.historyOverview #articleLayoutDetails {
	padding-top:40px;
}
div.layout2.historyOverview #articleLayoutDetails h1 {
	border:none;
	font-size:18px;
	line-height: 22px;
}
#containerGlobal div.layout2.bodytypeOverview h1 {
	border:none;
	/* padding:15px 0 0; */
	font-size:12px;
	margin:0;
	padding:0;
}
#containerGlobal div.layout2.noNav.noTeaser.manuals {
	/* selector TEST */
	/* background-color:yellow; */
}
#containerGlobal div.layout2.manuals h1,
#containerGlobal div.layout2.disclaimerOverview h1 {
	border:none;
}
#containerGlobal div.layout2.RSSoverview h1,
body #containerGlobal div.sdtPath1_help h1 {
	border:none;
	font-size:16px;
}
/* Welte */
div.sdtPath0_help div.sdtPath1_help #articleLayoutDetails {
	padding-left:130px;
}
#containerMainContent.helpOvervie {
	/* margin-left:135px; */
}
body div.sdtPath0_help div.sdtPath1_help #articleLayoutDetails h1,
body div.sdtPath0_help div.sdtPath1_help #articleLayoutDetails h2 {
	padding-left:10px;
}
div.sdtPath1_help #articleLayoutDetailsColumn1 .floatingBox {
	float:left;
	padding:10px 10px;
	margin:0px;
}
div.sdtPath1_help #articleLayoutDetailsColumn1 .outer {
	border:0px solid #ccc;
	width:240px;
	height:240px;
	padding:5px;
	margin:0px;
	background-image:url(http://www.chevrolet.fr/assets/images/global/webforms/border-box.jpg);
	background-repeat:no-repeat;
}
div.sdtPath1_help #articleLayoutDetailsColumn1 .boxContent {
	padding:10px;
}
div.sdtPath1_help #articleLayoutDetailsColumn1 p.telephoneNumber {
	font-size:24px;
	font-weight:bold;
}
/* </welte> */

div.sdtPath1_help #articleLayoutDetails .button.cta1,
div.sdtPath1_help #articleLayoutDetails .button.cta2 {
	float:left;
	margin:0px 0px 20px;
}
div.sdtPath1_help #articleLayoutDetails div.boxContent p {
	margin:0 0 10px;
}
body div.sdtPath0_help div.sdtPath1_help #articleLayoutDetails h1 {
	font-size:12px;
	margin:0;
}
body div.sdtPath0_help div.sdtPath1_help #articleLayoutDetails h2 {
	font-size:12px;
	margin:0 0 20px;
}
div.sdtPath1_help #articleLayoutDetails h2 {
	font-weight:normal;
	margin:0 0 22px;
	/* padding:0; */
}
div.sdtPath1_help #articleLayoutDetails div.boxContent h3 {
	margin:0 0 15px;
}
div.articleLayout.noTeaser.RSSoverview #articleLayoutDetails {
	padding-left:165px;
	width:711px;
}
div.articleLayout.RSSoverview #articleLayoutDetails h1,
div.articleLayout.RSSoverview #articleLayoutDetails h2 {
	/* padding-left:10px; */
}
div.articleLayout.RSSoverview #articleLayoutDetailsColumn1 .RSScontainer {
	clear:both;
	width:711px;
	overflow:hidden;
	/* border:1px solid orange; */
	margin:35px 0 55px;
}
div.articleLayout.RSSoverview #articleLayoutDetailsColumn1 .RSScolumn {
	float:left;
	width:200px;
	margin:0 20px 0 0;
	/* border:1px solid blue; */
}
div.articleLayout.RSSoverview #articleLayoutDetailsColumn1 .RSScolumn h2 {
	padding:0 0 10px;
	border-bottom:1px solid #cfcfcf;
	margin:0 0 5px;
}
div.articleLayout.RSSoverview #articleLayoutDetailsColumn1 .RSScolumn img {
	margin:0 10px 0 0;
	display:inline;
}
div.articleLayout.RSSoverview #articleLayoutDetailsColumn1 .RSScolumn a:link span {
	color:#b33037;
}
div.articleLayout.RSSoverview #articleLayoutDetailsColumn1 .RSScolumn a:visited span {
	text-decoration:none;
	color:#8c8c8c;
}
div.articleLayout.RSSoverview #articleLayoutDetailsColumn1 .RSScolumn a:hover span.textLink {
	text-decoration:underline;
}
div.articleLayout.RSSoverview #articleLayoutDetailsColumn1 .RSScolumn a:hover span {
	color:#b33037;
}
div.articleLayout.RSSoverview #articleLayoutDetailsColumn1 .RSScolumn a span.apendix,
div.articleLayout.RSSoverview #articleLayoutDetailsColumn1 .RSScolumn a span.apendix:hover,
div.articleLayout.RSSoverview #articleLayoutDetailsColumn1 .RSScolumn a:hover span.apendix:hover,
div.articleLayout.RSSoverview #articleLayoutDetailsColumn1 .RSScolumn a:hover span.apendix {
	text-decoration:none;
}

/**************************************/
div.sdtPath1_help #articleLayoutDetails,
div.articleLayout #articleLayoutDetails {
	width:711px;
	float:left;
	/* padding:59px 0 25px 0; */
	text-align:left;
	/* border:1px solid #f90; */
}

#articleLayout div.nonav,/* DEPRECATED */
div.sdtPath1_certified-used-cars #articleLayoutDetails,
div.sdtPath2_accessories #articleLayoutDetails,
div.sdtPath1_help #articleLayoutDetails,
div.articleLayout.noNav #articleLayoutDetails {
	width:926px;
	/* padding-left:37px; */
	margin-left:37px;
}
#articleLayoutDetails h1.sendToFriend {
	/* color:red; */
	position:relative;
}
#articleLayoutDetails h1.sendToFriend a.sendToFriend,
#articleLayoutDetails h1.sendToFriend div.sendToFriend,
#articleLayoutDetails h1.sendToFriend span.sendToFriend {
	position:absolute;
	right:0px;
	bottom:10px;
	font-weight:normal;
}
#articleLayoutDetails #flashcontent,
#articleLayoutDetails p,
#articleLayoutDetails img {
	margin:0 0 20px;
}
div.sdtPath1_future-cars #articleLayoutDetails h2.contentMainHeadline {
	float:left;
}

/* page type specific container positioning */
.containerLvl5Lvl6NavigationL1,/* DEPRECATED */
.containerLvl5Lvl6NavigationL2,/* DEPRECATED */
.containerLvl5Lvl6NavigationOfferLayout,/* DEPRECATED */
.containerLvl5Lvl6NavigationArticleLayout {
	width:195px;
	float:left;
	padding:34px 20px 60px 37px;
	/* border:1px solid #582; */
}
div.articleLayout #articleLayoutDetailsColumn1 {
	/* width:455px; */
	float:left;
	text-align:left;
	width:100%;
	/* border:1px solid #f09; */
}
div.articleLayout #articleLayoutDetailsColumn1 ul {
	list-style-type:disc;
	padding:0 0 15px 30px;
	/* border:1px solid #f09; */
}
div.articleLayout #articleLayoutDetailsColumn1 ul.justified {
	padding:0 0 15px 13px;
	/* border:1px solid #f09; */
}
div.articleLayout #articleLayoutDetailsColumn1 .button.cta1 {
	float:left;
}
div.articleLayout #articleLayoutDetailsColumn1 iframe {
	border:none;
	padding:0;
	margin:0;
}
#containerMainContent #newsLayoutDetailsColumn1 div.pictureFrame {
	float:left;
	width:320px;
	color:#8c8c8c;
	padding-bottom:10px;
	/* padding-right:21px; */
	/* border:1px solid #090; */
}
div.articleLayout #articleLayoutDetailsColumn1 div.pictureFrame {
	float:left;
	width:345px;
	color:#8c8c8c;
	font-size: 11px;
}
#containerMainContent #newsLayoutDetailsColumn1 div.pictureFrame.first,
div.articleLayout #articleLayoutDetailsColumn1 div.pictureFrame.first {
	padding-right: 20px;
}
#containerMainContent #newsLayoutDetailsColumn1 .segment,
div.articleLayout #articleLayoutDetailsColumn1 .segment {
	clear: left;
}
div.sdtPath2_accessories #articleLayoutDetailsColumn1 div.pictureFrame,
div.articleLayout.noTeaser #articleLayoutDetailsColumn1 div.pictureFrame {
	width:345px;
}
#containerMainContent #newsLayoutDetailsColumn1 div.pictureFrame img,
div.articleLayout #articleLayoutDetailsColumn1 div.pictureFrame img {
	border:none;
	padding-bottom:5px;
	margin-bottom:15px;
}
#containerMainContent #newsLayoutDetailsColumn1 div.pictureFrame img {
	padding: 0px;
	margin-bottom: 15px;
}
#containerGlobal div.offerLayout div.multicolumn,/* multicolumn */
#containerGlobal div.articleLayout div.multicolumn {
	/* multicolumn */
	width:455px;
}
/* ersetzt obiges 'multicolumn' */
div.sdtPath2_accessories #articleLayoutDetailsColumn1,
div.articleLayout.noTeaser #articleLayoutDetailsColumn1 {
	width:auto;
}
div.articleLayout div.nonav div.multicolumn,/* DEPRECATED */
div.sdtPath1_certified-used-cars #articleLayoutDetails #articleLayoutDetailsColumn1,
div.articleLayout.noNav #articleLayoutDetails div.multicolumn {
	width:674px;
}
div.articleLayout #articleLayoutDetailsColumn1 #recycling {
	border-top:1px solid #cfcfcf;
	margin-top:30px;
	padding-top:20px;
}
div.articleLayout #articleLayoutDetailsColumn1 #recycling table,
div.articleLayout #articleLayoutDetailsColumn1 #recycling table td,
div.articleLayout #articleLayoutDetailsColumn1 #recycling table th
{
	border:none;
	background-color:inherit;
}
div.articleLayout #articleLayoutDetailsColumn1 #recycling table td.col1 {
	width:171px;
	padding-left:25px;
	padding-right:25px;
}
div.articleLayout #articleLayoutDetailsColumn1 #recycling table td.col2 {
	vertical-align:middle;
	width:auto;
	padding-left:0;
	padding-right:0;
}
div.articleLayout #articleLayoutDetailsColumn1 #recycling table td.col3 {
	width:171px;
	padding-left:35px;
	padding-right:26px;
}
div.articleLayout #articleLayoutDetailsColumn1 #recycling table td.col2 img {
	margin:0;
	padding:0;
}
div.articleLayout #articleLayoutDetailsColumn1 table.chevroletApproved {
	margin-bottom:20px;
}
div.articleLayout #articleLayoutDetailsColumn1 table.chevroletApproved img {
	margin:0;
}
div.articleLayout #articleLayoutDetailsColumn1 table.chevroletApproved tr td {
	vertical-align:top;
	padding:0px;
	height:60px;
	/* color:#090; */
	/* border:1px solid #919; */
}
div.articleLayout #articleLayoutDetailsColumn1 table.chevroletApproved tr td.col1 {
	width:37px;
	padding-right:10px;
}
div.articleLayout #articleLayoutDetailsColumn1 table.motabiltyContact {
	margin-bottom:20px;
}
div.articleLayout #articleLayoutDetailsColumn1 table.motabiltyContact img {
	margin:5px 0;
	padding:0;
}
div.articleLayout #articleLayoutDetailsColumn1 table.motabiltyContact tr td {
	vertical-align:middle;
	padding:0px;
	/* color:#090; */
	/* border:1px solid #919; */
}
div.articleLayout #articleLayoutDetailsColumn1 table.motabiltyContact tr td.col1 {
	width:37px;
	padding-right:10px;
}

/* FC */
div.articleLayout #articleLayoutDetailsColumn1 div.contentMainHeadline {
	float:left;
	margin-bottom:30px;
}
div.articleLayout #articleLayoutDetailsColumn1 div.containerFutureCar {
	margin:0 0 10px;
	/* border:1px solid blue; */
}
div.articleLayout #articleLayoutDetailsColumn1 div.containerFutureCar div {
	float:left;
	width:455px;
	/* overflow:hidden; */
	/* background-color:blue; */
}
div.articleLayout #articleLayoutDetailsColumn1 div.containerFutureCar div.img {
	float:left;
	width:147px;
}
div.articleLayout #articleLayoutDetailsColumn1 div.containerFutureCar div.txt {
	float:right;
	/* width:455px; */
	width:288px;
	margin:0;
	padding:0;
}
div.articleLayout #articleLayoutDetailsColumn1 div.containerFutureCar div.txt p {
	margin:0 0 20px;
	padding:0;
}

/* manuals type100 START */
div.articleLayout.manuals #articleLayoutDetailsColumn1 div.tacticalOffer.toType100 {
	/* position:relative; */
	padding-top:0;
	float:right;
	padding-bottom:0;
	width:168px;
	margin:0 0 42px 30px;
	/* border:1px solid green; */
}
div.articleLayout.manuals #articleLayoutDetailsColumn1 div.tacticalOffer.toType100 h3 {
	font-weight:normal;
	font-size:11px;
	padding-bottom:10px;
}
div.articleLayout.manuals #articleLayoutDetailsColumn1 div.tacticalOffer div.type100 ul {
	/* position:absolute; */
	list-style-type:none;
	padding:0;
}
div.articleLayout.manuals #articleLayoutDetailsColumn1 div.tacticalOffer div.type100 ul li.header {
	position:relative;
	list-style-type:none;
	top:0;
	left:0;
	z-index:47;
}
div.articleLayout.manuals #articleLayoutDetailsColumn1 div.tacticalOffer div.type100 ul li.header span.selectedValue {
	/* content.css (line 682) */
	background-image:url(http://www.chevrolet.fr/assets/images/global/pulldown-buttons-background.png);
	background-position:0 0;
	background-repeat:no-repeat;
	cursor:pointer;
	font-weight:bold;
	height:11px;
	overflow:hidden;
	/* padding:4px 37px 12px 12px; */
	padding:4px 37px 12px 12px;
	float:left;
	width:121px;
	z-index:46;
	/* position:relative; */
	position:absolute;
	top:0;
	left:0;
	/* border:1px solid blue; */
}
div.articleLayout.manuals #articleLayoutDetailsColumn1 div.tacticalOffer div.type100 ul li.header ul.flyout {
	position:absolute;
	z-index:45;
	left:-4px;
	top:22px;
	/* float:left; */
	padding-bottom:9px;
	background-image:url(http://www.chevrolet.fr/assets/images/global/pulldown-flyout-background-bottom.png);
	background-position:bottom left;
	background-repeat:no-repeat;
	visibility:hidden;
	/* border:1px solid red; */
}
div.articleLayout.manuals #articleLayoutDetailsColumn1 div.tacticalOffer.toType100 ul li.header ul.flyout li {
	width:166px;
	background-image:url(http://www.chevrolet.fr/assets/images/global/pulldown-flyout-background-middle.png);
	background-repeat:repeat-y;
	background-position:0 0;
	padding:0 6px 0 6px;
}
div.articleLayout.manuals #articleLayoutDetailsColumn1 div.tacticalOffer.toType100 ul li.header ul.flyout li span {
	cursor:pointer;
	display:block;
	width:146px;
	height:15px;
	border-top:1px solid #C9C9C9;
	padding:3px 2px 0 17px;
	color:#4A4A4A;
	font-size:11px;
	background-color:#f5f5f5;
}
div.articleLayout.manuals #articleLayoutDetailsColumn1 div.tacticalOffer.toType100 ul li.header ul.flyout li span:hover {
	background-color:#dba551;
	color:#fff;
}
div.articleLayout.manuals #articleLayoutDetailsColumn1 div.tacticalOffer.toType100 ul li.header ul.flyout li.first span {
	/* padding-top:10px; */
	border-top:0;
}
/* manuals type100 END */

/* MM */
div.articleLayout #articleLayoutDetailsColumn1 div.containerManualRow {
	float:left;
	padding:8px 0 8px;
	/* border:1px solid blue; */
}
div.articleLayout #articleLayoutDetailsColumn1 div.containerManualRow.odd {
	background-color:#f4f4f4;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
div.articleLayout #articleLayoutDetailsColumn1 div.containerManualRow.odd.first {
	/* width:100%; */
}
div.articleLayout #articleLayoutDetailsColumn1 div.containerManualModul {
	width:461px;
	margin:0 0 19px;
	/* margin:0 0 7px; */
	float:left;
	/* border:1px solid blue; */
}
div.articleLayout #articleLayoutDetailsColumn1 div.containerManualModul.right {
	float:right;
	/* border:1px solid blue; */
}
div.articleLayout #articleLayoutDetailsColumn1 div.containerManualModul div.img {
	float:left;
}
div.articleLayout #articleLayoutDetailsColumn1 div.containerManualModul div.img img {
	margin:0;
}
div.articleLayout #articleLayoutDetailsColumn1 div.containerManualModul div.txt {
	float:right;
	/* width:455px; */
	/* width:288px; */
	width:295px;
	margin:0;
	padding:0;
}
div.articleLayout #articleLayoutDetailsColumn1 div.containerManualModul div.txt p {
	margin:0 0 20px;
	padding:0;
}
#templateL2DetailsColumn2 .conceptcarDownload {
	position:absolute;
	top:395px;
	width:160px;
}
#templateL2DetailsColumn2 .conceptcarDetail {
	position:absolute;
	top:430px;
}
div.articleLayout #articleLayoutDetailsColumn1 div.containerELVtakeBack {
	margin:0 0 10px;
	/* border:1px solid blue; */
}
div.articleLayout #articleLayoutDetailsColumn1 div.containerELVtakeBack div.col1 {
	float:left;
	width:200px;
}
div.articleLayout #articleLayoutDetailsColumn1 div.containerELVtakeBack div.txt {
	float:right;
	/* width:455px; */
	/* width:288px; */
	width:483px;
	margin:0;
	padding:0;
}
div.articleLayout #articleLayoutDetailsColumn1 div.containerELVtakeBack div.txt p {
	margin:0 0 20px;
	padding:0;
}
div.articleLayout #articleLayoutDetailsColumn2 {
	width:228px;
	float:right;
	text-align:left;
	/* padding-bottom:5px; */
	/* color:#9c9; */
	/* border:1px solid #8f0; */
	margin-bottom:20px;
}
#newsLayoutDetailsColumn2 div.tacticalOffer,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer {
	width:228px;
	float:right;
	padding:10px 0 12px;
	border-bottom:1px solid #cfcfcf;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	/* color:#007; */
}
#newsLayoutDetailsColumn2 div.tacticalOffer img,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer img {
	/* width:228px; */
	padding:0;
	margin:0;
	/* color:#007; */
}

/* temporäres Fixing des Type4 der Teaser in News */
#newsLayoutDetailsColumn2 div.tacticalOffer img {
	margin-bottom:5px;
}
#newsLayoutDetailsColumn2 div.tacticalOffer.toType4 a {
	font-size:11px;
}
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer * {
	font-size:11px;
}
#containerMainContent	#articleLayoutDetailsColumn2 div.tacticalOffer a,
#containerMainContent 	#articleLayoutDetailsColumn2 div.tacticalOffer a:active,
#containerMainContent 	#articleLayoutDetailsColumn2 div.tacticalOffer a:focus,
#containerMainContent 	#articleLayoutDetailsColumn2 div.tacticalOffer a:hover,
#containerMainContent 	#articleLayoutDetailsColumn2 div.tacticalOffer a:link,
#containerMainContent 	#articleLayoutDetailsColumn2 div.tacticalOffer a:visited {
	display:block;
}
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer a.externalLink {
	float:left;
}
/* only img below h1 */
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType0 {
	padding:0;
	border:none;
	/* border:1px solid #a0a; */
}
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType0 img {
	height:143px;
}
/* img below h1 */
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType1 {
	padding-top:0;
	font-size:0px;
	/* IE6 fix for line only */
}
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType11 div,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType1 div {
	float:left;
	padding:10px 0 0;
	font-size:11px;
}
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType1 img {
	height:143px;
	padding:0;
}
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType11 img {
	height:143px;
	margin:0 0 8px;
	padding:0;
}
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType2 div.type2 {
	float:right;
	width:120px;
	/* border:1px solid #9c9; */
	/* color:#9c9; */
}
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType2 img {
	width:100px;
	height:51px;
	border:1px solid #cfcfcf;
}
/* media online */
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType3 div.type3 {
	float:left;
	width:163px;
	/* border:1px solid #9c9; */
}
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType3 img {
	width:45px;
	height:45px;
	padding:0 10px 0;
}
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer div.type3 a {
	padding-top:11px;
	/* border:1px solid green; */
}
/* img + link banner below type 1/2 (Motability) */
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType4 {
}
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType4 img {
	padding:0 0 10px;
}
/* img only */
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType5 {
	/* padding-top:0; */
}
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType5 img {
	/* padding:0 0 5px 0; */
}
/* text only */
#newsLayoutDetailsColumn2 div.tacticalOffer.toType6,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType6 {
}
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType6 div.type6 {
}
/* text bold */
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType7 {
}
#containerMainContent 	#newsLayoutDetailsColumn2 		div.tacticalOffer.toType7 div.type7,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType7 div.type7 {
	font-weight:bold;
}
/* history */
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType11 {
	color:#8c8c8c;
	padding:0 0 40px;
	border:none;
}
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType0.firstTOtype0,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType1.firstTOtype1,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType2.firstTOtype2,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType3.firstTOtype3,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType4.firstTOtype4,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType5.firstTOtype5,
/* #containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType6.firstTOtype6,*/
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType7.firstTOtype7,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType8.firstTOtype8,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType9.firstTOtype9,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType10.firstTOtype10,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType11.firstTOtype11,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType12.firstTOtype12,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType13.firstTOtype13,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType14.firstTOtype14,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType15.firstTOtype15,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType16.firstTOtype16,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType17.firstTOtype17,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType18.firstTOtype18,
#containerMainContent 	#articleLayoutDetailsColumn2 	div.tacticalOffer.toType19.firstTOtype19 {
	padding-top:0;
}
div.articleLayout #articleLayoutDetails #articleLayoutDetailsColumn2 div.tacticalOffer.toType6.firstTOtype6 {
	padding:0;
	margin:0;
	height:0;
	overflow:hidden;
}
div.articleLayout #articleLayoutDetailsColumn1 	table.contentTable.tableColumns3.currentOffers tr th.col1,
div.articleLayout #articleLayoutDetailsColumn1 	table.contentTable.tableColumns3.currentOffers tr td.col1 {
	/* width:140px; */
	width:auto;
	color:red;
}
div.articleLayout #articleLayoutDetailsColumn1 table.contentTable.tableColumns3.currentOffers tr th.col2,
div.articleLayout #articleLayoutDetailsColumn1 table.contentTable.tableColumns3.currentOffers tr td.col2 {
	width:120px;
	color:green;
}
div.articleLayout #articleLayoutDetailsColumn1 table.contentTable.tableColumns3.currentOffers tr th.col3,
div.articleLayout #articleLayoutDetailsColumn1 table.contentTable.tableColumns3.currentOffers tr td.col3 {
	width:93px;
	color:blue;
}

/* N215 Offers */
div.articleLayout #articleLayoutDetailsColumn1 table.contentTable.tableColumns3.currentOffers2 tr td.col1 {
	font-weight:bold;
}
#containerMainContent 	#articleLayoutDetailsColumn2 	div img {
	float:left;
	padding:0 5px 5px 0;
}
#containerMainContent 	#articleLayoutDetailsColumn2 	div.clear {
	clear:both;
	height:0px;
}

/* MDS_N132_Konfigurieren_02b.html */
div.sdtPath2_configurator #containerContentModelOverview,
div.sdtPath3_configurator #containerContentModelOverview {
	overflow:hidden;
	/* border:solid 1px purple; */
	/* background-color:purple; */
}
div.sdtPath2_configurator #containerContentModelOverview #boxCompareTable,
div.sdtPath3_configurator #containerContentModelOverview #boxCompareTable {
	/* background-color:green; */
	/* border:solid 1px green; */
}
div.sdtPath2_configurator #containerContentModelOverview div.contentWrapper,
div.sdtPath3_configurator #containerContentModelOverview div.contentWrapper {
	/* background-color:pink; */
	/* border:solid 1px pink; */
	/* width:1000px; */
}
div.sdtPath2_configurator #containerContentModelOverview #boxCompareTable #tableScreen,
div.sdtPath3_configurator #containerContentModelOverview #boxCompareTable #tableScreen {
	/* overflow:hiddne; */
	/* position:static; */
	/* float:left; */
	/* border:none; */
	/* width:1000px; */

	/* margin-left:0; */
	margin-right:0;

	/* margin-left:auto; */
	/* margin-right:auto; */
	/* margin:0 auto; */
}

/***************************************
* Main content                         *
***************************************/
#containerMainContent img {
	display:block;
}

/****************************************
* News	Layout							*
****************************************/
#newsLayoutDetails {
	width:926px;
	overflow: hidden;
	margin: 0px 37px;
	text-align:left;
}
#newsLayoutDetails #newsLayoutDetailsColumn1 ul {
	list-style-type:disc !important;
	padding-left:30px;
	margin:15px 0;
}
#newsLayoutDetails h2.contentMainHeadline,
#newsLayoutDetails p {
	/* padding:6px 0 12px 0; */
	padding:0px 0 18px 0;
}
#newsLayoutDetailsColumn1 {
	float:left;
	text-align:left;
}
#newsLayoutDetailsColumn1 .segment {
	clear: left;
}
#containerMainContent #newsLayoutDetails div.multicolumn {
	/* multicolumn */
	/* width:455px; */
	width:660px;
}
#containerMainContent #newsLayoutDetailsColumn1 div.headLableLocation {
	font-size:16px;
	padding-bottom:10px;
}
#containerMainContent #newsLayoutDetailsColumn1 span.headLableNews {
	color:#535353;
	font-weight: bold;
}
#containerMainContent #newsLayoutDetailsColumn1 div.containerNewsIntro {
	padding-bottom:30px;
	display:none;
}
#containerMainContent #newsLayoutDetailsColumn1 div.containerNewsIntro.visible {
	/* display:inherit; */
	display:block;
	/* IE bug */
}
#containerMainContent #newsLayoutDetailsColumn1 div.containerNewsIntro div.img {
	float:right;
}
#containerMainContent #newsLayoutDetailsColumn1 div.containerNewsIntro div.txt {
	float:left;
	width:455px;
}
#containerMainContent #newsLayoutDetailsColumn1 div.containerNewsIntro div.txt p {
	padding-bottom:10px;
}
#containerMainContent #newsLayoutDetailsColumn1 div.containerNewsIntro h2.headLableH2,
#containerMainContent #newsLayoutDetailsColumn1 h1.headLableH1 {
	display:inline;
	font-size:12px;
	border:none;
	margin:0;
	padding:0;
}
#containerMainContent #newsLayoutDetailsColumn1 div.containerNewsIntro h2.headLableH2 a {
	color:#000;
	text-decoration:none;
	/*added bold as ordered by renke,mh 240509 */
	font-weight:bold;
}
#containerMainContent #newsLayoutDetailsColumn1 div.containerNewsIntro h2.headLableH2 a:hover {
	color:#B33037;
	text-decoration:underline;
}
#containerMainContent #newsLayoutDetailsColumn1 div.containerNewsIntro h2.headLableH2 a:visited {
	color:#8c8c8c;
}
#containerMainContent #newsLayoutDetailsColumn1 div.headLableLocation {
}
#containerMainContent #newsLayoutDetailsColumn1 div.headLableDate {
	font-size:11px;
	/*reduced padding from 18px to 5px as ordered by renke,mh 240509 */
	/* set to 10px to ease the pain... countries started to insert <br> instead */
	padding-bottom: 10px;
}

/* pictureFrame moved up! */
#containerMainContent #newsLayoutDetailsColumn1 #footerNavi {
	padding: 25px 0px 20px;
}
#newsLayoutDetailsColumn1 #footerNavi .utilityLink {
	font-size: 11px;
}
#newsLayoutDetailsColumn1 #footerNavi span.inactiveLink {
	color: #999;
	text-decoration: none;
}
#containerMainContent #newsLayoutDetailsColumn1 #footerNavi #naviRight {
	float: right;
	text-align: right;
	width: 400px;
}
#containerMainContent #newsLayoutDetailsColumn1 #footerNavi #naviRight .utilityLink {
	margin-left: 20px;
}

/* newsLayoutDetailsColumn2 */
#newsLayoutDetailsColumn2 {
	width:228px;
	float:right;
	text-align:left;
}
#newsLayoutDetailsColumn2 h3 {
	color: #000;
}
#newsLayoutDetailsColumn2 div.tacticalOffer.toType100 {
	height:55px;
	position:relative;
	padding-top:25px;
	float:left;
	padding-bottom:16px;
	margin:0;
	/* border:1px solid blue; */
}
#newsLayoutDetailsColumn2 div.tacticalOffer.toType100 h3 {
	font-weight:bold;
	padding-bottom:10px;
}
#newsLayoutDetailsColumn2 div.tacticalOffer div.type100 ul li.header {
	position:relative;
	top:0;
	left:0;
	z-index:47;
}
#newsLayoutDetailsColumn2 div.tacticalOffer div.type100 ul li.header span.selectedValue {
	background-image:url(http://www.chevrolet.fr/assets/images/global/pulldown-buttons-background.png);
	background-position:0 0;
	background-repeat:no-repeat;
	cursor:pointer;
	font-weight:normal;
	height:11px;
	overflow:hidden;
	/* padding:4px 37px 12px 12px; */
	padding:4px 37px 12px 12px;
	float:left;
	width:121px;
	z-index:46;
	/* position:relative; */
	position:absolute;
	top:0;
	left:0;
	/* color:red; */
	/* border:1px solid green; */
}
#newsLayoutDetailsColumn2 div.tacticalOffer div.type100 ul li.header ul.flyout {
	position:absolute;
	z-index:45;
	left:-4px;
	top:22px;
	padding-bottom:9px;
	background-image:url(http://www.chevrolet.fr/assets/images/global/pulldown-flyout-background-bottom.png);
	background-position:bottom left;
	background-repeat:no-repeat;
	visibility:hidden;
	/* border:1px solid red; */
}
#newsLayoutDetailsColumn2 div.tacticalOffer.toType100 ul li.header ul.flyout li {
	width:166px;
	background-image:url(http://www.chevrolet.fr/assets/images/global/pulldown-flyout-background-middle.png);
	background-repeat:repeat-y;
	background-position:0 0;
	padding:0 6px 0 6px;
}
#newsLayoutDetailsColumn2 div.tacticalOffer.toType100 ul li.header ul.flyout li span {
	cursor:pointer;
	display:block;
	width:146px;
	height:15px;
	border-top:1px solid #C9C9C9;
	padding:3px 2px 0 17px;
	color:#4A4A4A;
	font-size:11px;
	background-color:#f5f5f5;
}
#newsLayoutDetailsColumn2 div.tacticalOffer.toType100 ul li.header ul.flyout li span:hover {
	background-color:#dba551;
	color:#fff;
}
#newsLayoutDetailsColumn2 div.tacticalOffer.toType100 ul li.header ul.flyout li.first span {
	/* padding-top:10px; */
	border-top:0;
}
#newsLayoutDetailsColumn2 div.tacticalOffer.toType101 {
	/* float:left; */
	padding:17px 0 22px;
	font-size:11px;
	/* border:1px solid #290; */
}
#articleLayoutDetailsColumn2 div.tacticalOffer.toType101 a {
	display:inline;
}
#newsLayoutDetailsColumn2 div.tacticalOffer.toType101 div.type101 {
	padding:0;
}
#newsLayoutDetailsColumn2 div.tacticalOffer.toType101 div.type101 h3 {
	padding:0 0 16px 0;
	font-size:11px;
}
#newsLayoutDetailsColumn2 div.tacticalOffer.toType102 {
	padding:20px 0;
	font-size:11px;
	/* border:1px solid #290; */
}
#newsLayoutDetailsColumn2 div.tacticalOffer.toType102 img {
	/* width:auto; */
	clear:both;
	padding-bottom:18px;
	/* margin-bottom:18px; */
	/* border:1px solid #290; */
}
#newsLayoutDetailsColumn2 div.tacticalOffer.toType102 a {
	float:left;
	clear:both;
	/* border:1px solid #290; */
}
#newsLayoutDetailsColumn2 div.tacticalOffer.toType102 div.type102 {
	/* padding-bottom:15px; */
}
#newsLayoutDetailsColumn2 div.tacticalOffer.toType103 {
	padding:20px 0;
	border:none;
	font-size:11px;
	/* border:1px solid #290; */
}
#newsLayoutDetailsColumn2 div.tacticalOffer.toType103 img {
	padding:0 0 5px;
}
#newsLayoutDetailsColumn2 div.tacticalOffer.toType103 div.type103 a.externalLink {
	float:left;
	/* border:1px solid magenta; */
}
/* line only */
#newsLayoutDetailsColumn2 div.tacticalOffer.toType104 {
	padding:0;
	font-size:0px;
	/* IE6 fix */
}
#newsLayoutDetailsColumn2 div img {
	float:left;
	padding:0 5px 5px 0;
}

/* News Overview */
body.sdtPath_overview div.sdtPath0_experience #pictureEnumerator {
	height:25px;
	float:left;
	clear:left;
	width:100%;
}
body.sdtPath_overview div.sdtPath0_experience #pictureEnumerator ul.generatedPageNavigation li.listPrevious,
body.sdtPath_overview div.sdtPath0_experience #pictureEnumerator ul.generatedPageNavigation li.listNext,
body.sdtPath_overview div.sdtPath0_experience #pictureEnumerator ul.generatedPageNavigation li.listSeperator {
	background-color:inherit;
	border:none;
}
body.sdtPath_overview div.sdtPath0_experience #pictureEnumerator ul.generatedPageNavigation li.listSeperator {
	cursor:default;
}

/****************************************
* Accessories	Layout					*
****************************************/
div.sdtPath2_accessories #articleLayoutDetailsColumn2 {
	/* overwrites std */
	width:453px;
}
div.sdtPath2_accessories #articleLayoutDetailsColumn1 img {
	width:451px;
	height:252px;
	padding:0;
	margin:0 0 5px;
	border:1px solid #e4e4e4;
}
div.sdtPath2_accessories #articleLayoutDetailsColumn1 {
	position:relative;
}
div.sdtPath2_accessories #articleLayoutDetails {
	position:relative;
}
div.sdtPath2_accessories #articleLayoutDetailsColumn1 img.progressIndicator {
	width:auto;
	height:auto;
	padding:0;
	border:none;
	margin:0;
}
div.sdtPath2_accessories #accessoriesDatabase {
	display:none;
}
div.sdtPath2_accessories #containerAccessoriesListview div.linklist {
	float:left;
	width:169px;
	margin-right:13px;
}

/* /NEU */
div.sdtPath2_accessories #articleLayoutDetails p {
	margin:0;
}
div.sdtPath2_accessories h2 {
	font-size:32px;
}
div.sdtPath2_accessories h3 {
	font-size:12px;
	margin-top:10px;
	padding-top:0px;
	margin-bottom:10px;
}
div.sdtPath2_accessories h1 {
	margin-top:8px;
}
div.sdtPath2_accessories h3#headerSectionTitle {
	margin:2px 0 35px;
}
div.sdtPath2_accessories #headerAccessoryItemPrice,
div.sdtPath2_accessories #headerAccessoryItemPartnumber {
	display:inline;
}
div.sdtPath2_accessories #accessoryDescriptionText {
	margin-bottom:22px;
}
div.sdtPath2_accessories #linkPrintItem {
	margin-top:22px;
}
div.sdtPath2_accessories .h4 {
	/* CLASS h4,not h4 element! */
	font-weight:bold;
}
div.sdtPath2_accessories #containerAccessoriesListview {
	clear:both;
	overflow:hidden;
	border-top:1px solid #cfcfcf;
	margin:0px 40px 10px 40px;
	padding-top:10px;
	/* padding:10px 60px 10px 60px; */
	/* padding-top:10px; */
	position:relative;
}
div.sdtPath2_accessories #pictureEnumerator {
	padding-top:5px;
	padding-bottom:5px;
	height:20px;
	/* border:2px solid magenta; */
}
div.sdtPath2_accessories #pictureEnumerator span {
	padding:2px 5px 2px 5px;
	margin:5px 5px 5px 0;
	border:1px solid black;
	cursor:pointer;
	/* height:20px; */
	/* border:2px solid magenta; */
}
div.sdtPath2_accessories #pictureEnumerator span:hover {
	/* text-decoration:underline; */
	background-color:#eee;
}
div.sdtPath2_accessories #pictureEnumerator span.enumActive,
div.accessories #pictureEnumerator span.enumActive:hover {
	padding:3px 6px 3px 6px;
	background-color:#e8ae05;
	color:#fff;
	border:none;
	/* cursor:auto; */
}
div.sdtPath2_accessories #downloadCatalouge {
	position:absolute;
	top:15px;
	right:0px;
	/* align:right; */
}

/* ACTIVE! */
div.sdtPath2_accessories .linklist h4 {
	/* Abstand zw. Goldbox und Nachbarelement. */
	padding:0px 0 5px;
	margin-top:1px;
	/* border:1px solid red; */
}
/* div.sdtPath2_accessories .linklist li,*/
div.sdtPath2_accessories .linklist span
{
	display:block;
}
div.sdtPath2_accessories .linklist span {
	padding:3px 5px;
	/* border:1px solid red; */
}
div.sdtPath2_accessories .linklist li span {
	cursor:pointer;
}
div.sdtPath2_accessories .linklist li span:focus,
div.sdtPath2_accessories .linklist li span:hover,
div.sdtPath2_accessories .linklist li span:active {
	text-decoration:underline;
}
div.sdtPath2_accessories .linklist li.accessoryActive span {
	text-decoration:none;
	background-color:#e8ae05;
	color:#fff;
}
/* modelle-vergleichen-overview.html */
div.sdtPath0_models div.sdtPath1_compare-models #flashcontent {
	margin-top:-45px;
}
