/*! $Id: global-settings.css 6811 2009-10-29 16:34:00Z bhillebrand $ */

/* RESET */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input {
	margin:0;
	padding:0;
}
html {
	background-color:#fff;
	height:100%;
	margin-bottom:1px;
}
img {
	border:0;
}
body,td,th,input,select {
	font-family:Verdana,Arial,Helvetica,sans-serif;
}
h1,h2,h3, h4, .headline {
	font-weight:bold;
	font-size:12px;
	line-height:16px;
	color: #2e2e2e;
}
h2 {
	margin-bottom: 6px;
}
h1 {
	font-size:20px;
	line-height:24px;
	color: #3e3e3e;
}
ul {
	list-style-type:none;
}
a {
	text-decoration:none;
}
.wrapper {
	position:relative;
}
.floatRight {
	float:right;
}
.floatLeft {
	float:left;
}
.stopFloat {
	clear:both;
}
.nobr {
	white-space:nowrap;
}
/*h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th {
font-size:1em;
font-weight:normal;
font-style:normal;
}
ul,ol {
list-style:none;
}
fieldset,img {
border:none;
}
caption,th {
text-align:left;
}
table {
border-collapse:collapse;
border-spacing:0;
}
#omniture {
position:absolute;
}*/
/*
Z-INDEX
#containerHeadpart #navigationLvl1:55
#containerHeadpart #navigationLvl1 ul ul.navigationLvl2(+Lvl3 Lvl+4Teaser):54
#containerHeadpart:50
#navigationLvl4:49
#containerModelInformation:48
#mainContent:40
#containerLvl5Lvl6Navigation #navigationLvl6 li div.overBox:35
#containerLvl5Lvl6Navigation #navigationLvl6 li:34
Pulldown-Menue Data Tables ul:46
Pulldown-Menue Data Tables flyout ul:45
Index:Teaser-Slider Page-Identifier:40
Model-Overview:Table-Slider:
(Buttons) #containerContentModelOverview #boxCompareTable div.contentWrapper img.sliderButtonLeft:30
(Table) #containerContentModelOverview #boxCompareTable #tableScreen:29
 */