/*! $Id: main.css 6765 2009-10-27 11:26:23Z alex $ */
/* GLOBALS */
@import "global-settings.css";
@import "global-elements.css";
@import "content.css";
@import "links.css";
@import "navigations.css";
@import "article-layouts.css";
@import "technical-data-page.css";
@import "galleries.css";
@import "inline-windows.css";
@import "searchresults.css";

/* texts */
.txtSdt {
	font-size:11px;
	line-height:16px;
}

/* CONTAINER */
#containerGlobal {
	width:1000px;
	margin:0 auto;
	overflow:hidden;
	/* background-color:yellow; */
}
#containerHeadpart {
	/*background-image:url(/assets/images/global/header-background-1.jpg);
	background-repeat:no-repeat;*/
	height:84px;
	width:100%;
	position:relative;
	z-index:50;
}
#containerMainNavigation {
	position:absolute;
	top:47px;
	right:0px;
	width:829px;
}
#containerModelInformation {
	position:relative;
	z-index:48;
	height:39px;
}
#containerMainContent {
	width:100%;
	position:relative;
	z-index:40;
}
#containerMainContent ul.database {
	display:none;
}
#containerGlobal div.sdtPath1_help,
#containerGlobal div.sdtPath2_accessories,
#containerGlobal div.layout2 {
	/* padding:60px 0 40px; */
	/* margin:0; */
	padding:60px 0 0;
	/* margin:0 0 40px; */
	overflow:hidden;
	/* border:1px solid green; */
	/* background-color:orange; */
}
#containerGlobal div.sdtPath1_help h1,
#containerGlobal div.layout2 h1 {
	font-size:20px;
	border-bottom:1px solid #cfcfcf;
	margin:0 0 10px;
	padding:0 0 10px;
}
#containerContentPart2 {
	background-color:white;
	/*background-image:url(/assets/images/global/container-teaser-stage-background.jpg);
	background-position:0 0;
	background-repeat:no-repeat;*/
	position:relative;
	width:100%;
	height:40px;
	padding:18px 0 0 0;
}
#containerTeaserStage {
	clear:both;
	position:relative;
	/*background-position:left bottom;
	background-repeat:no-repeat;
	background-image:url(/assets/images/global/teaser-area-background.jpg);*/
	width:100%;
	overflow:hidden;
	background-color:white;
}
div#containerTeaserStage.oneRow {
	height:190px !important;
}
div#containerTeaserStage.twoRows {
	height:355px !important;
	width:auto;
}
#containerMediaStageSlider {
	clear:both;
	position:relative;
	background-position:0 0;
	background-repeat:repeat-y;
	width:100%;
	margin:0;
	padding:0;
}
div.additionalContent {
	position:relative;
}
#containerFooter {
	clear:both;
	padding:0 0 20px;
	margin:40px 16px 0;
	border-top:1px solid #cfcfcf;
	overflow: hidden;
}
div#containerFooter.type2 {
	border-top:0;
}

/* global clear div */
div.divClearBoth {
	clear:both;
	height:0px;
	font-size:0px;
	/* IE6 fix for line only */
}
