/*! $Id: technical-data-page.css 6811 2009-10-29 16:34:00Z bhillebrand $ */
a.teaserLink01 {
	text-decoration:underline;
	font-size:10px;
	font-weight:bold;
	color:#b33037;
}
.tableHeadIndex {
	background-color:#ddeeff !important;
	width:339px !important;
}
.tableHeadValue {
	background-color:#ddeeff !important;
	width:197px !important;
}
.pulldownHeaderBox1 {
	border-top: 1px solid rgb(201, 201, 201);
	border-left: 1px solid rgb(201, 201, 201);
	width: 196px;
	height: 41px;
	position: absolute;
	left: 371px;
	top: 90px;
	_top: 435px;
	background-color: rgb(119, 119, 119) !important;
}
.pulldownHeaderBox2 {
	border-top: 1px solid rgb(201, 201, 201);
	border-left: 1px solid rgb(201, 201, 201);
	width: 196px;
	height: 41px;
	position: absolute;
	left: 568px;
	top: 90px;
	_top: 435px;
	background-color: rgb(119, 119, 119) !important;
}
.pulldownHeaderBox3 {
	border-top: 1px solid rgb(201, 201, 201);
	border-left: 1px solid rgb(201, 201, 201);
	border-right: 1px solid rgb(201, 201, 201);
	width: 195px;
	height: 41px;
	position: absolute;
	left: 764px;
	top: 90px;
	_top: 435px;
	background-color: rgb(119, 119, 119) !important;
}
.activeCategory {
	background-image:url(http://www.chevrolet.fr/assets/images/global/arrows-data-tables-headline.png);
	background-repeat:no-repeat;
	padding-left:24px;
	font-weight:bold;
	cursor:pointer;
	background-position:0px -39px !important;
}
#containerMainContent #boxDataTable table.modelDataTable tr.categoryHeadline td:hover {
/*cursor:pointer; background-color:#000000;*/
	
}
#tableIdentifier a.plainTextLink, #tableLegend a.plainTextLink {
	color:#000000 !important;font-size:11px !important;font-weight:normal;
}
#containerMainContent #boxDataTable table.modelDataTable table td.index, #containerMainContent #boxDataTable table.modelDataTable table th.index {
	width:307px !important;
}
#containerMainContent #boxDataTable table.modelDataTable table td.index { 
	padding-left: 39px; color: #626262; font-weight: bold; width: 293px !important;
}
#containerMainContent #boxDataTable table.modelDataTable table {
	table-layout:fixed;
}
#containerMainContent #boxDataTable table.modelDataTable table td.valueContentOneColumn,
#containerMainContent #boxDataTable table.modelDataTable table td.valueContentTwoColumns,
#containerMainContent #boxDataTable table.modelDataTable table td.valueContentThreeColumns {
	padding: 7px 15px 8px 15px;
	background-color:#FBFBFB;
	border-bottom:1px solid #B2B2B2;
	border-left:1px solid #B2B2B2;	
	text-align:center;
}
#containerMainContent #boxDataTable table.modelDataTable table td.last {
	border-bottom:0 none;
}
#containerMainContent #boxDataTable table.modelDataTable table td.valueContentOneColumn {
	width:165px;
}
#containerMainContent #boxDataTable table.modelDataTable table td.valueContentTwoColumns {
	width:361px;
	background-color:#F5F5F5;	
}
#containerMainContent #boxDataTable table.modelDataTable table td.valueContentThreeColumns {
	width:557px;
	background-color:#F5F5F5;
}
/***************************************
* Moved from content.css:               */

#containerMainContent #boxDataTable {
	padding:0 35px 60px 35px;
	font-size:11px;
	position:relative;
}
#containerMainContent #boxDataTable #additionalLinks {
	position:relative;
	height:12px;
	padding:9px 0 0 0;
}
#containerMainContent #boxDataTable #additionalLinks a {
	float:right;
	margin-left:18px;
	font-size:10px;
}
#containerMainContent #boxDataTable h2 {
	font-size:16px;
	color:#444446;
}
#containerMainContent #boxDataTable p {
	padding-top:7px;
}
#containerMainContent #boxDataTable #tableIdentifier {
	height:30px;
	position:relative;
	margin-top:15px;
}
#containerMainContent #boxDataTable #tableIdentifier a {
	margin-right:18px;
	padding-top:10px;
	font-size:10px;
	float:left;
}
#containerMainContent #boxDataTable #tableIdentifier ul.pulldownHeader {
	position:absolute;
	width:170px;
}
#containerMainContent #boxDataTable #tableIdentifier ul li.header {
	height:25px;
}
#containerMainContent #boxDataTable #tableIdentifier ul li.header span.selectedValue {
	background-image:url(http://www.chevrolet.fr/assets/images/global/pulldown-buttons-background.png);
	background-repeat:no-repeat;
	background-position:0 0;
	height:11px;
	width:121px;
	overflow:hidden;
	padding:4px 37px 12px 12px;
	cursor:pointer;
	font-size:11px;
	font-weight:bold;
	position:absolute;
	z-index:46;
}
#containerMainContent #boxDataTable #tableIdentifier ul li.header span.selectedValue:hover {
	background-position:0 -26px;
}
#containerMainContent #boxDataTable #tableIdentifier #dropdown1 {
	left:348px;
}
#containerMainContent #boxDataTable #tableIdentifier #dropdown2 {
	left:545px;
}
#containerMainContent #boxDataTable #tableIdentifier #dropdown3 {
	left:742px;
}
#containerMainContent #boxDataTable #tableIdentifier ul li.header ul.flyout {
	position:absolute;
	z-index:45;
	left:-5px;
	top:15px;
	padding-bottom:9px;
	background-image:url(http://www.chevrolet.fr/assets/images/global/pulldown-flyout-background-bottom.png);
	background-position:bottom left;
	background-repeat:no-repeat;
	visibility:hidden;
}
#containerMainContent #boxDataTable #tableIdentifier ul li.header ul.flyout li {
	width:166px;
	background-image:url(http://www.chevrolet.fr/assets/images/global/pulldown-flyout-background-middle.png);
	background-repeat:repeat-y;
	background-position:0 0;
	padding:0 6px 0 6px;
}
#containerMainContent #boxDataTable #tableIdentifier ul li.header ul.flyout li span {
	cursor:pointer;
	display:block;
	width:146px;
	min-height:15px;
	height:15px;
	border-top:1px solid #C9C9C9;
	padding:3px 2px 0 17px;
	color:#4A4A4A;
	font-size:11px;
	background-color:#F5F5F5;
}
html > body #containerMainContent #boxDataTable #tableIdentifier ul li.header ul.flyout li span{
height:auto;
}
#containerMainContent #boxDataTable #tableIdentifier ul li.header ul.flyout li span:hover {
	background-color:#e8ae05;
	color:#fff;
}
#containerMainContent #boxDataTable #tableIdentifier ul li.header ul.flyout li.first span {
	padding-top:10px;
	border-top:0;
}
#containerMainContent #boxDataTable table.modelDataTable {
	width:926px !important;
}
#containerMainContent #boxDataTable table.modelDataTable tr.categoryHeadline td {
	width:912px !important;
	padding:7px 0 6px 14px;
	background-color:#E0E0E0;
	border-top:1px solid #909090;
	font-size:11px;
}
#containerMainContent #boxDataTable table.modelDataTable tr.categoryHeadline td span.category {
	background-image:url(http://www.chevrolet.fr/assets/images/global/arrows-data-tables-headline.png);
	background-repeat:no-repeat;
	background-position:2px 0;
	padding-left:24px;
	font-weight:bold;
	cursor:pointer;
}
#containerMainContent #boxDataTable table.modelDataTable tr.categoryHeadline td span.category.notOpenable {
	background-image:url(http://www.chevrolet.fr/assets/images/global/data-tables-headline-quad.jpg);
	background-position:2px 4px;
	cursor:default;
}
#containerMainContent #boxDataTable table.modelDataTable div.closerGraphic {
	background-image:url(http://www.chevrolet.fr/assets/images/global/data-tables-headlines-spacer.png);
	background-repeat:repeat-x;
	background-position:0 0;
	height:4px;
	font-size:3px;
	overflow:hidden;
}
#containerMainContent #boxDataTable table.modelDataTable div.categoryContent {
	display:none;
}
#containerMainContent #boxDataTable table.modelDataTable table {
	width:926px;
	font-size:11px;
}
#containerMainContent #boxDataTable table.modelDataTable table td {
	padding:8px 5px 7px 27px;
}
#containerMainContent #boxDataTable table.modelDataTable table td.index,
#containerMainContent #boxDataTable table.modelDataTable table th.index {
	/*width:307px;*/
}
#containerMainContent #boxDataTable table.modelDataTable table td.value,
#containerMainContent #boxDataTable table.modelDataTable table th.value {
	/*width:165px;*/
	text-align:center;
}
#containerMainContent #boxDataTable table.modelDataTable table th.index,
#containerMainContent #boxDataTable table.modelDataTable table th.value {
	height:0px;
}
#containerMainContent #boxDataTable table.modelDataTable table td.index {
	background-color:#FBFBFB;
	border-bottom:1px solid #B2B2B2;
}
#containerMainContent #boxDataTable table.modelDataTable table td.index.last {
	border-bottom:0;
}
#containerMainContent #boxDataTable table.modelDataTable table td.value {
	background-color:#FBFBFB;
	border-bottom:1px solid #B2B2B2;
	border-left:1px solid #B2B2B2;
	/*text-align:left; */
}
#containerMainContent #boxDataTable table.modelDataTable table td.value.last {
	border-bottom:0;
}
#containerMainContent #boxDataTable #tableLegend {
	border-top:1px solid #B2B2B2;
	width:926px;
	padding-top:5px;
	position:relative;
}
#containerMainContent #boxDataTable #tableLegend a.plainTextLink {
	margin-right:18px;
	padding-top:10px;
	font-size:10px;
	float:left;
}
#containerMainContent #boxDataTable #tableLegend #trim1ConfigurateButton,
#containerMainContent #boxDataTable #tableLegend #trim2ConfigurateButton,
#containerMainContent #boxDataTable #tableLegend #trim3ConfigurateButton {
	width:162px;
}
#containerMainContent #boxDataTable #tableLegend #trim1ConfigurateButton {
	position:absolute;
	top:10px;
	left:348px;
}
#containerMainContent #boxDataTable #tableLegend #trim2ConfigurateButton {
	position:absolute;
	top:10px;
	left:545px;
}
#containerMainContent #boxDataTable #tableLegend #trim3ConfigurateButton {
	position:absolute;
	top:10px;
	left:742px;
}
/***(END: Moved from content.css)*************************************/

#additionalLinks {
	height: 29px !important;
	padding:9px 0 0 0 !important;
	width:926px;
}
#additionalLinks .printLink, #additionalLinks .pdfLink {
	color:#000000 !important;
}
#headline {
	margin-left: 335px;
	margin-top:26px;
}
#modelname {
	float: left;
}
#headlineContainer {
	clear:both;
	height: 23px;
	font-size:15px;
	font-weight: bold;
	position:relative;
	top:0px !important;
	_display: inline;
	width:926px !important;
}
.containerRightLinks {
	float:right;
	width:350px;
}
.rightLink1 {
	float: left;
	width:80px;
	margin-right: 80px;
}
.rightLink2 {
	/*clear: left;*/
	float:right;
	margin-right: 5px;
}
/*
Moved to link.css

a.printLink {
	color:#4c4c4c;
	font-size:11px;
	cursor:pointer;
	background-image:url(/assets/images/global/printerIcon.jpg);
	background-repeat:no-repeat;
	background-position:center left;
	padding:4px 0 4px 25px;
	text-decoration:none;
}
a.pdfLink {
	color:#4c4c4c;
	font-size:11px;
	cursor:pointer;
	background-image:url(/assets/images/global/pdfIcon.jpg);
	background-position:center left;
	background-repeat:no-repeat;
	padding:4px 0 4px 25px;
	text-decoration:none;
}

a.pdfLink:hover,
a.printLink:hover {
	text-decoration:underline;
}
*/
.categoryHeadlineHover {
	background-color:#f0f0f0 !important;
	cursor:pointer;
	_height:12px;
}
.tr.categoryHeadlineHover td {
	_background-color:#f0f0f0 !important;
	_cursor:pointer;
	_width:912px !important;
	_padding:7px 0 6px 14px;
	_border-top:1px solid #909090;
}
tr.categoryHeadlineHover td span.category {
	_background-image:url(http://www.chevrolet.fr/assets/images/global/arrows-data-tables-headline.png);
	_background-repeat:no-repeat;
	_background-position:2px 0;
	_padding-left:24px;
	_font-weight:bold;
	_cursor:pointer;
}
tr.categoryHeadline td:hover {
	background-color:#f0f0f0 !important;
	cursor:pointer;
}
.categoryHeadline tr:hover {
	background-color:#f0f0f0 !important;
	cursor:pointer;
}
.popupWrapper {
	width:227px;
	display:none;
	position:absolute;
}
.popupTop {
	/*background-image:url(/assets/images/global/infoTop.png);
	background-repeat:no-repeat;*/
	width: 190px;
	padding: 5px 5px 5px 5px;
	position:absolute;
	left:0px;
	top:-5px;
}
.popupBottom {
	/*background-image:url(/assets/images/global/infoBottom.png);
	background-repeat:no-repeat;*/
	width: 190px;
	padding: 5px 5px 5px 5px;
	position:absolute;
	left:0px;
	top:227px;
	_top:229px;
	height:8px;
}
.popupArrowWrapper {
	width:19px;
	float:left;
	z-index:92;
	position:absolute;
	left:24px;
	top:-20px;
}
.popupContainerHolder {
	/*background-image:url(/assets/images/global/infoMiddle.png);*/
	width: 200px;
	height:230px;
	padding: 5px 5px 5px 5px;
	position:absolute;
	left:36px;
	top:-220px;
	float:right;
}
.popupContainerHolderTop {
	/*background-image:url(/assets/images/global/infoMiddle.png);*/
	width: 200px;
	height:230px;
	padding: 5px 5px 5px 5px;
	position:absolute;
	left:36px;
	top:-40px;
	float:right;
}
.popupContainer {
	_height:180px;
	width:200px;
	background-image:url(http://www.chevrolet.fr/assets/images/global/infoMiddle.png);
	background-repeat:repeat-y;
	_background-image:none;
	_background-repeat:no-repeat;
}
.popupHead {
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 10px;
	line-height:11px;
	margin-left:10px;
	margin-right:5px;
}
.popupCopy {
	color: #ffffff;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-left:5px;
	margin-right:5px;
	padding-bottom:5px;
}
.popupImg {
	padding-bottom: 5px;
	margin-left:5px;
}
.infoTableHolder {
	padding:0 0 0 27px !important;
}
.infoTable {
	width:100% !important;
	padding:0 !important;
	border:0 !important;
}
.infoTableFeature {
	width:285px !important;
	padding:8px 0px 7px 0px !important;
}
.infoTableIcon {
	margin-right:5px;
	padding:0px 0px 0px 0px !important;
}
.infoIcon:hover {
	cursor:pointer;
}
.infoIconHover {
	margin-right:5px;
	padding:0px 0px 0px 0px !important;
	cursor:pointer;
}
#containerMainContent #boxDataTable #additionalLinks #modelname {
	float:left;
	margin-left:0px;
	font-size:24px;
	color:#3e3e3e;
	font-family:Verdana;
}
td img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.empty {
	background-color: #ffffff !important;
	border-bottom:1px solid #f7f7f7 !important;
}

.dropdownInfobox2 {
	font-weight: bold;
	position: absolute;
	left: 585px;
	color:#000000;
	/*top: 400px;*/
	text-align:center;
	width:160px;
	line-height:20pt;/*display:block;*/
}
.dropdownInfobox3 {
	font-weight: bold;
	position: absolute;
	left: 785px;
	color:#000000;
	/*top: 400px;*/
	text-align:center;
	width:160px;
	line-height:20pt;/*display:block;*/
}
.buttonHide {
	display:none;
}
.buttonShow {
	display:block;
}
.dropdownActive {
	background-color:#e8ae05 !important;
	color:#eeeeee !important;
	display:block !important;
	_height:20px;
	_width:150px;
}
.dropdownPassive {
	background-color:#F5F5F5 !important;
	color:#4A4A4A !important;
	display:block !important;
	_height:20px;
	_width:150px;
}
#configureButtonContainer {
	float:right;
}
#container1 {
	position:absolute;
	top:10px;
	left:355px;
	width:163px;
}
#container2 {
	position:absolute;
	top:10px;
	left:560px;
	width:163px;
}
#container3 {
	position:absolute;
	top:10px;
	left:760px;
	width:163px;
}
#container {
	position:relative;
	top:0;
	left:0;
	width:163px;/*min-height:57px;background-color:#CCCCCC*/
}
.configureButtonLink {
	color:#FFFFFF !important;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold !important;
	text-decoration:none !important;
}
.configureButtonLink:hover {
	text-decoration:underline !important;
}
#hintergrund, #vordergrund {
	position:absolute;
	/*top:0px;*/
	left:0;
	width:100%;
	height:100%;
}
#hintergrund {
	z-index:0;
	top:-3px;
	min-height:15px;
}
#hintergrund p {
	width:100%;
	height:100%;
	margin:0;
	border:0;
	padding:0;
}
#hintergrund p img {
	/*width:100%;
	height:100%;*/
	margin:0;
	border:0;
}
#vordergrund {
	z-index:1;
	top:0px;
	text-align:center !important;
	padding-top:5px;
	padding-bottom:2px;
	min-height:15px;
	width:160px;
}
.buttonTop {
	margin-left:4px;
	margin-right:4px;
	background-image:url(http://www.chevrolet.fr/assets/images/global/buttons/technical-data/buttonTop.gif);
	background-repeat:repeat-x;
	font-size:2px;
	width:155px;
	height:4px;
}
.buttonBottom {
	margin-left:4px;
	margin-right:4px;
	background-image:url(http://www.chevrolet.fr/assets/images/global/buttons/technical-data/buttonBottom.gif);
	background-repeat:repeat-x;
	font-size:2px;
	width:155px;
	height:4px;
}
.buttonTopLeft {
	background-image:url(http://www.chevrolet.fr/assets/images/global/buttons/technical-data/buttonTopLeft.gif);
	background-repeat:no-repeat;
	position:absolute;
	top:0;
	left:0;
	font-size:2px;
	overflow:hidden;
	width:4px;
	height:4px;
}
.buttonTopRight {
	background-image:url(http://www.chevrolet.fr/assets/images/global/buttons/technical-data/buttonTopRight.gif);
	background-repeat:no-repeat;
	position:absolute;
	top:0;
	right:0;
	font-size:2px;
	overflow:hidden;
	width:4px;
	height:4px;
}
.buttonBottomLeft {
	background-image:url(http://www.chevrolet.fr/assets/images/global/buttons/technical-data/buttonBottomLeft.gif);
	background-repeat:no-repeat;
	position:absolute;
	top:0;
	left:0;
	font-size:2px;
	overflow:hidden;
	width:4px;
	height:4px;
}
.buttonBottomRight {
	background-image:url(http://www.chevrolet.fr/assets/images/global/buttons/technical-data/buttonBottomRight.gif);
	background-repeat:no-repeat;
	position:absolute;
	top:0;
	right:0;
	font-size:2px;
	overflow:hidden;
	width:4px;
	height:4px;
}
.containerTop {
	height:4px;
	width:163px;
}
.containerBottom {
	height:4px;
	width:163px;
	position: absolute;
	top:19px;
}
.dataTableLegendContainer {
clear:left; float:left;margin-top:60px;margin-bottom:20px;
}
.dataTableLegendTable {
color:#858585;font-size:11px;
}