
body {
        padding:0px;
        margin:0px;
        background-color:#eee;
        background:url(http://www.festival-avignon.com/css/img/motif.gif);
        overflow:hidden;
}


#texte {
    height:200px;

    z-index:5;
    position:absolute;
    width:310px;
    overflow:auto;
    left:50%;
    margin-left:-280px;
    top:106px;
    bottom:25px;

}
/* \ */
#texte {
    height:auto;
}
#contexte {
     z-index:5;
    position:absolute;
    width:160px;
    overflow:auto;
    left:50%;
    margin-left:40px;
    top:106px;
    bottom:20px;
}


#droite {
    z-index:5;
    position:absolute;
    width:150px;
    overflow:hidden;
    left:50%;
    margin-left:220px;
    top:5px;

}

#bordure {
        position:absolute;
        width:780px;
        left:50%;
        margin-left:-390px;
        top:0px;
        bottom:0px;
        background-color:#ffffff;
}

#fond {
         background:url(http://www.festival-avignon.com/css/fond5.jpg) no-repeat #000000;
         position:absolute;
        width:760px;
        left:50%;
        margin-left:-380px;
        top:10px;
        bottom:10px;
}

#menu {
             position:absolute;
             left:50%;
             margin-left:-280px;;
             top:3px;
             z-index:4;

}



#bas {
        z-index:4;
        position:absolute;
        background-color:#ffffff;
        width:760px;
        bottom:0px;
        height:12px;
        line-height:12px;
        font-size:10px;
        left:50%;
        margin-left:-380px;
        text-align:center;

}

#basdroite {
        float:right;
}
#basgauche {
        float:left;
}



#logo {
        position:absolute;
        z-index:5;
        left:50%;
        margin-left:-370px;
        top:10px;
        width:80px;


}



#subsubmenu {
        position:absolute;
        top:106px;
        left:50%;
        margin-left:-280px;
        width:310px;
        z-index:6;
        line-height:13px;
}

/*
#zoom {
        z-index:100000;
        position:absolute;

        bottom:20px;
        height:12px;
        width:12px;
        
        line-height:12px;
        font-size:10px;
        left:50%;
        
        margin-left:360px;
        text-align:center;
}
*/

#zoom {
        z-index:100000;
        position:absolute;
		bottom:10px;
        _bottom:20px;

        
        right:10px;

}
