#menu , #bas, #droite,#bordure,#fond,#zoom,#gauche{ 
    display:none;
    height:0px;
}

#logo {
    position:absolute;
    left:0px;
    top:0px;
    float:left;
}
img {
    border:0px;
}
#texte_a {
    width:100px;
    height:100px;
    float:left;
}

#texte {
height:auto;

}


form {
    display:none;
}

a, a:visited,a img {
    text-decoration:none;
    color:#000;
    border:0px;
}

.calendar_selected {
    font-weight:bold;
}



#contexte {
    margin-top:30px;
    height:auto;
}



body {
	height:auto;
}