/*
-----------------------------------------------
Style GIHP pour media screen
auteur:   Matthieu Faure // Open-S.com
version:  05/09/2005
----------------------------------------------- */

* {
	font-family : "Trebuchet MS",Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size: small;
} 

body {
	margin: 1em 5% 1em;
}

#prelude, #prelude a {
	font-size: xx-small;
	padding: 0;
	border: 0;
	margin: 0;
	text-align: right;
	color: #767676;
	background: white;
}

/* =header
 -------------------------------------------------- */
#header {
	text-align: right;
	float: left;
	width: 100%;
		/* width 100% indispensable sinon les elements non-float qui suivent vont remonter */
}

#logo img {
	float: left;
	margin: 0px 10px 0px 0px;
	border: 0;
}

#logo-texte {
	float: left;
	text-align: left;
	margin: 0;
}

.logo-gihp {
	color: #4d0302;
	background: white;
	font-style: italic;
	font-size: 1.5em;
	margin: 0;
}

.logo-languedoc-roussillon {
	font-style: italic;
	font-weight: 900;
	font-size: 1.5em;
	color: #767676;
	background: white;
	margin-top: 0.5em;
}

#slogan {
	margin-top: 10px;
}

#search {
	/*margin: 40px 0px 50px 0px;*/
}

/* =navivation
 -------------------------------------------------- */

#navigation {
	border: solid 1px white;
		/* Bug IE6/win (?): border necessaire pour que les deux niveaux de navigation soient colles */
	clear: both;
		/* indispensable pour distinguer le bloc du header de la suite (navigation);
			sans ca les floats de la nav peuvent remonter dans le header */
}

/* =nav1
 -------------------------------------------------- */
/* DEBUT Portes coulissantes: http://www.pompage.net/pompe/portescoulissantes/  */
#nav1 {
	float:left;
	width:100%;
	font-size:93%;
	line-height:normal;
	background: white;
}

#nav1 ul {
	margin:0;
	padding:0;
	list-style:none;
}

#nav1 li {
	float:left;
	background:url(bouton_00_gauche.png) no-repeat left top;
	margin:0;
	padding:0 0 0 5px; 
		/* 5px = largeur de bouton_00_gauche.png */
	text-align: center;
}

#nav1 a,
#nav1 span {
	display:block;
	background:url(bouton_00_droit.png) no-repeat right top;
	padding:5px 15px 5px 10px;
		/* padding droite et gauche defini a 15px ; mais padding-left = 15px - largeur de bouton_00_gauche.png = 15 - 5 = 10px */
}
/* FIN Portes coulissantes */


#nav1 span {
 font-weight: 900;
}

#nav1 a, 
#nav1 a:hover,
#nav1 a:link,
#nav1 a:visited {
 text-decoration: none;
 color: black;
}

#nav1 a:hover {
	text-decoration: underline;
}

/* =nav2
 -------------------------------------------------- */
/* DEBUT Fat Erik's breadcrumbs, references sur http://css.maxdesign.com.au/listamatic/horizontal33.htm */
#nav2 {
	list-style: none;
	padding: 5px;
	margin: 0 0 3px;
	font-size: 90%;
}

#nav2 li {
	display: inline;
	padding: 0;
	margin: 0;
}

#nav2 li:before { content: " | "; }
#nav2 li:first-child:before { content: ""; }

/*IE workaround*/
/*All IE browsers*/
* html #nav2 li {
	background-image: url(separateur_pipe.png);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 0 0.5em 0 1em;
	margin: 0 1em 0 -1em;
}

/*Win IE browsers - hide from Mac IE\*/
* html #nav2 { height: 1%; }

* html #nav2 li {
	display: block;
	float: left;
}

/*End hide*/
/*Mac IE 5*/
* html #nav2 li:first-child { background-image: none; }
/* FIN Fat Erik's breadcrumbs */

#nav2 a, 
#nav2 a:hover,
#nav2 a:link,
#nav2 a:visited {
 text-decoration: none;
 color: black;
}

#nav2 a:hover {
	text-decoration: underline;
}

#nav2 li#active2 {
 font-weight: 600;
}

/* =nav3
-------------------------------------------------- */
/* DEBUT Fat Erik's breadcrumbs, references sur http://css.maxdesign.com.au/listamatic/horizontal33.htm */
#nav3 {
	list-style: none;
	padding: 5px;
	margin: 0 0 3px;
	background: #5bbeff;
	font-size: 90%;
}

#nav3 li {
	display: inline;
	padding: 0;
	margin: 0;
}

#nav3 li:before { content: " | "; }
#nav3 li:first-child:before { content: ""; }

/*IE workaround*/
/*All IE browsers*/
* html #nav3 li {
	background-image: url(separateur_pipe.png);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 0 0.5em 0 1em;
	margin: 0 1em 0 -1em;
}

/*Win IE browsers - hide from Mac IE\*/
* html #nav3 { height: 1%; }

* html #nav3 li {
	display: block;
	float: left;
}

/*End hide*/
/*Mac IE 5*/
* html #nav3 li:first-child { background-image: none; }
/* FIN Fat Erik's breadcrumbs */

#nav3 a, 
#nav3 a:hover,
#nav3 a:link,
#nav3 a:visited {
	text-decoration: none;
	color: black;
}

#nav3 a:hover {
	text-decoration: underline;
}

#nav3 li#active3 {
	font-weight: 600;
}

/* =main
 -------------------------------------------------- */

#main {
	float: left;
	width: 71%;
	padding: 0 1% 0 0;
}

#main a,
#main a:hover {
	color: black;
}

/* =bandeau-graphique
 -------------------------------------------------- */
#bandeau-graphique {
	text-align: right;
	padding: 3px 3px 0px 3px;
}

/* =breadcrumb
 -------------------------------------------------- */
/* Fil d'ariane: Fat Erik's breadcrumbs, references sur http://css.maxdesign.com.au/listamatic/horizontal33.htm */

#breadcrumb {
	list-style: none;
	padding: 0;
	margin: 0;
}

#breadcrumb li {
	display: inline;
	padding: 0;
	margin: 0;
}

#breadcrumb li:before { content: "> "; }
#breadcrumb li:first-child:before { content: ""; }

/*IE workaround*/
/*All IE browsers*/
* html #breadcrumb li {
	background-image: url(breadcrumb_gt.png);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 0 0.5em 0 1em;
	margin: 0 1em 0 -1em;
}

/*Win IE browsers - hide from Mac IE\*/
* html #breadcrumb { height: 1%; }

* html #breadcrumb li {
	display: block;
	float: left;
}

/*End hide*/
/*Mac IE 5*/
* html #breadcrumb li:first-child { background-image: none; }
/* FIN Fat Erik's breadcrumbs */

/* =content
 -------------------------------------------------- */

#content {
	background: url(fond_sourire.png) no-repeat top center;
	line-height: 1.6em;
		/* Augmentation du line-height pour ameliorer la lisibilite */
}

#content img {
	/*float: left;*/
	border: none;
	padding: 5px;
}

.object-right {
	float: right;
}

.object-left {
	float: left;
}

.object-center {
	text-align: center;
	
}

/* =extra
 -------------------------------------------------- */
#extra {
	margin: 0 0 0 72%; /* 72% = #main width + #main padding-left + #main padding-right */
	padding: 0.2em 1%;
	border: solid 3px;
}

#extra form legend {
	display:none;
	visibility:hidden;
}

#extra form fieldset {
	margin:0;
	padding:0;
	border:none;
}

#extra form label {
	font-weight:bold;
}

#extra form input[type="submit"] {
	margin-top: 5px;
}

/* =footer
 -------------------------------------------------- */
#footer {
	clear: both;
	position: relative;
	background: url(footer_fond.png) repeat-x bottom left;
	text-align: center;
}

#footer a,
#footer a:hover {
	color: black;
}

#footer p { 
	/*display: inline;*/
}

#footer #logo-rikiki {
	
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 2px 3px;
}

div.clear-both
{
  clear:	both;
}