/* default styles for extension "tx_dropdownsitemap_pi1" */
	
	
		.tx-dropdownsitemap-pi1 a {
			font-size:100%;
			color:#015b9a;
			text-decoration: none;
		}		
		.tx-dropdownsitemap-pi1 a:hover {
			text-decoration: underline;
		}
		
		
		.tx-dropdownsitemap-pi1 #tx_dropdownsitemap_pi1_9 a{
			color: #015b9a;
		}
		
		.tx-dropdownsitemap-pi1 #tx_dropdownsitemap_pi1_8 a{
			color: #ff6600;
		}
		
		.tx-dropdownsitemap-pi1 #tx_dropdownsitemap_pi1_7 a{
			color: #990000;
		}
		
		.tx-dropdownsitemap-pi1 #tx_dropdownsitemap_pi1_6 a{
			color: #be31df;
		}
		
		.tx-dropdownsitemap-pi1 #tx_dropdownsitemap_pi1_5 a{
			color: #00a8ff;
		}
		
		.tx-dropdownsitemap-pi1 #tx_dropdownsitemap_pi1_4 a{
			color: #333333;
		}
		.tx-dropdownsitemap-pi1 li {
			list-style: none;
		}	
		
		
		
		/*.tx-dropdownsitemap-pi1 OL {
			margin: 0;
		}
		.tx-dropdownsitemap-pi1 OL OL{
			margin: 0 0 0 15px;
		}	
		.tx-dropdownsitemap-pi1 OL OL OL {
			margin: 0 0 0 30px;
		}*/
		
		
		
		
		.tx-dropdownsitemap-pi1 A {
			font-weight: bold;
		}
		.tx-dropdownsitemap-pi1 LI.open OL {
			display: block;
		}
		.tx-dropdownsitemap-pi1 LI.closed OL {
			display: none;
		}
		.tx-dropdownsitemap-pi1 LI.open UL {
			display: block;
		}
		.tx-dropdownsitemap-pi1 LI.closed UL {
			display: none;
		}
		.tx-dropdownsitemap-pi1 DIV {
			border: solid 1px #DFE2E3;
			/*background: #FAFBFB;*/
			background: #faf8f5;
			padding: 2px;
			margin-bottom: 5px;
		}
		.tx-dropdownsitemap-pi1 DIV.level_2 {
			background: #FFFFFF;
		}
		.tx-dropdownsitemap-pi1 DIV.level_2 A {
			font-weight: normal;
		}
		.tx-dropdownsitemap-pi1 DIV.level_3 {
			/*background: #FAFBFB;*/
			background: #faf8f5;
		}
		.tx-dropdownsitemap-pi1 DIV.level_4 {
			background: #FFFFFF;
		}
		.tx-dropdownsitemap-pi1 DIV.level_5 {
			/*background: #FAFBFB;*/
			background: #faf8f5;
		}
		.tx-dropdownsitemap-pi1 DIV.expAll {
			text-align: center;
			border: solid 1px #DFE2E3;
			/*background: #FAFBFB;*/
			background: #faf8f5;
		}
/* default styles for extension "tx_indexedsearch" */
		.tx-indexedsearch .tx-indexedsearch-browsebox LI { display:inline; margin-right:5px; }
		.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-button { width:100px; }
		.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-sword { width:150px; }
		.tx-indexedsearch .tx-indexedsearch-whatis { margin-top:10px; margin-bottom:5px; }
		.tx-indexedsearch .tx-indexedsearch-whatis .tx-indexedsearch-sw { font-weight:bold; font-style:italic; }
		.tx-indexedsearch .tx-indexedsearch-noresults { text-align:center; font-weight:bold; }
		.tx-indexedsearch .tx-indexedsearch-res TD.tx-indexedsearch-descr { font-style:italic; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-descr .tx-indexedsearch-redMarkup { color:red; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-info { background:#eeeeee; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead { margin-top:20px; margin-bottom:5px; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead H2 { margin-top:0px; margin-bottom:0px; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead TD { background:#cccccc; vertical-align:middle; }
		.tx-indexedsearch .tx-indexedsearch-res .noResume { color:#666666; }
		.tx-indexedsearch .tx-indexedsearch-category { background:#cccccc; font-size:16px; font-weight:bold; }

		/* Additional styles, needed for the tableless template_css.tmpl (styles don't conflict with the original template) */
		.tx-indexedsearch .res-tmpl-css { clear:both; margin-bottom:1em; }
		.tx-indexedsearch .searchbox-tmpl-css LABEL { margin-right:1em; width:10em; float:left; }
		.tx-indexedsearch .result-count-tmpl-css, .tx-indexedsearch .percent-tmpl-css { letter-spacing:0; font-weight:normal; margin-top:-1.2em; float:right; }
		.tx-indexedsearch .info-tmpl-css dt, .tx-indexedsearch dl.info-tmpl-css dd { float:left; }
		.tx-indexedsearch .info-tmpl-css dd.item-mtime { float:none; }
		.tx-indexedsearch .info-tmpl-css dd.item-path { float:none; }
/* default styles for extension "tx_cal_controller" */
		.tx-cal-controller, .tx-cal-controller table,.tx-cal-controller table td {
			font:11px Verdana,Arial,Helvetica,sans-serif;
			color:#000;
			}
		
		.tbll {
			background:url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/cal/template/img/shadow_l.gif) no-repeat;
			width:8px
			}
		
		.tblbot {
			background:url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/cal/template/img/shadow_m.gif) repeat-x;
			width:100%
			}
		
		.tblr {
			background:url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/cal/template/img/shadow_r.gif) no-repeat;
			width:8px
			}
		
		.rowOn {
			background-color:#cfc;
			border-top:1px solid #fff;
			border-left:1px solid #fff;
			}
		
		.rowOn2 {
			background-color:#cfc;
			border-top:1px solid #fff;
			}
		
		.rowOff {
			background-color:#E1E8F1;
			border-top:1px solid #fff;
			border-left:1px solid #fff;
			}
		
		.rowOff2 {
			background-color:#E1E8F1;
			border-top:1px solid #fff;
			}
		
		.rowToday {
			background-color:#cff;
			border-top:1px solid #fff;
			border-left:1px solid #fff;
			}
		
		.padd {
			padding:2px;
			}
		
		.eventbg_1 {
			background-color:#557CA3;
			padding:2px;
			}
		
		.eventbg_2 {
			background-color:#53A062;
			padding:2px;
			}
		
		.eventbg_3 {
			background-color:#E84F25;
			padding:2px;
			}
		
		.eventbg_4 {
			background-color:#B257A2;
			padding:2px;
			}
		
		.eventbg_5 {
			background-color:#D42020;
			padding:2px;
			}
		
		.eventbg_6 {
			background-color:#B88F0B;
			padding:2px;
			}
		
		.eventbg_7 {
			background-color:#73738C;
			padding:2px;
			}
		
		#allday a {
			font-size:9px;
			color:#fff;
			font-weight:900;
			text-decoration:none;
			}
		
		#allday a:hover {
			text-decoration:underline;
			}
		
		.eventbg2_1 {
			background-color:#6699CC;
			border:1px solid #557CA3;
			}
		
		.eventbg2_2 {
			background-color:#4FC464;
			border:1px solid #53A062;
			}
		
		.eventbg2_3 {
			background-color:#FF6D3B;
			border:1px solid #E84F25;
			}
		
		.eventbg2_4 {
			background-color:#EA62D4;
			border:1px solid #B257A2;
			}
		
		.eventbg2_5 {
			background-color:#FF5E56;
			border:1px solid #D42020;
			}
		
		.eventbg2_6 {
			background-color:#CCB21F;
			border:1px solid #B88F0B;
			}
		
		.eventbg2_7 {
			background-color:#9292A1;
			border:1px solid #73738C;
			}
		
		.dayborder {
			background-color:#fff;
			border-top:1px solid #A1A5A9;
			}
		
		.dayborder2 {
			background-color:#fff;
			border-top:1px dashed #ccc;
			}
		
		.title {
			background-image:url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/cal/template/img/time_bg.gif);
			padding:5px;
			}
		
		.title h1 {
			font-family: Helvetica,sans-serif;
			font-size: 18px;
			color:#000;
			margin:0;
			}
		
		.monthback {
			background-color:#A1A5A9;
			}
		
		.monthsmallbasic {
			background-color:#fff;
			text-align:left;
			vertical-align:top;
			}
		
		.monthmediumbasic {
			background-color:#fff;
			height:20px;
			width:20px;
			text-align:left;
			vertical-align:top;
			}
			
		.monthlargebasic {
			background-color:#fff;
			height:105px;
			width:105px;
			text-align:left;
			vertical-align:top;
			}
		
		.monthoff {
			background-color:#F2F2F2;
			}
		
		.monthon {
			background-color:#F2F9FF;
			}
			
		.monthselected {
			border: solid 1px red;
			}
		
		.montheventtop {
			background-image:url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/cal/template/img/side_bg.gif);
			border-top:1px solid #A1A5A9;
			}
		
		.montheventline {
			border-right:1px dotted #A1A5A9;
			}
		
		.medtitle {
			background-image:url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/cal/template/img/side_bg.gif);
			height:20px;
			margin-top:3px;
			font-weight:900;
			}
		
		.yearreg {
			background-color:#fff;
			height:30px;
			width:30px;
			text-align:right;
			vertical-align:top;
			font-size:9px;
			}
		
		.yearoff {
			background-color:#F2F2F2;
			height:30px;
			width:30px;
			text-align:right;
			vertical-align:top;
			font-size:9px;
			}
		
		.yearon {
			background-color:#F2F9FF;
			height:30px;
			width:30px;
			text-align:right;
			vertical-align:top;
			font-size:9px;
			}
		
		.yearmonth {
			background-color:#ccc;
			}
		
		.yearweek {
			background-color:#eee;
			width:30px;
			font-size:9px;
			font-weight:900;
			text-align:center;
			height:15px;
			}
		
		.eventborder {
			background-image:url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/cal/template/img/day_title.gif);
			border:1px #006699 solid;
			}
		
		.calborder {
			background-color:#fff;
			border:1px #A1A5A9 solid;
			}
		
		.dateback {
			background-color:#eee;
			}
		
		.weekborder {
			border-top:1px dashed #A1A5A9;
			border-right:1px solid #A1A5A9;
			}
		
		.weekborder2 {
			border-right:1px solid #A1A5A9;
			}
		
		.timeborder {
			border-right:2px solid #A1A5A9;
			border-top:1px dashed #A1A5A9;
			background-image:url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/cal/template/img/time_bg.gif);
			}
		
		.timeborder2 {
			border-right:2px solid #A1A5A9;
			border-top:1px solid #A1A5A9;
			background-image:url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/cal/template/img/time_bg.gif);
			}
		
		.navback {
			background-image:url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/cal/template/img/time_bg.gif);
			}
		
		.sideback {
			background-image:url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/cal/template/img/side_bg.gif);
			}
		
		a.psf {
			text-decoration:none;
			}
		
		a.psf:link {
			color:#0066FF;
			}
		
		a.psf:visited {
			color:#0066FF;
			}
		
		a.psf:active {
			color:#3366CC;
			}
		
		a.psf:hover {
			color:#000099;
			text-decoration:underline;
			}
		
		a.ps2 {
			text-decoration:underline;
			}
		
		a.ps2:link {
			color:#0066FF;
			}
		
		a.ps2:visited {
			color:#0066FF;
			}
		
		a.ps2:active {
			color:#3366CC;
			}
		
		a.ps2:hover {
			color:#000099;
			}
		
		a.ps3 {
			text-decoration:none;
			}
		
		a.ps3:link {
			color:#000;
			}
		
		a.ps3:visited {
			color:#000;
			}
		
		a.ps3:active {
			color:#000;
			}
		
		a.ps3:hover {
			color:#000;
			text-decoration:underline;
			}
		
		a.ps {
			text-decoration:none;
			}
		
		a.ps:link {
			color:#fff;
			}
		
		a.ps:visited {
			color:#fff;
			}
		
		a.ps:active {
			color:#fff;
			}
		
		a.ps:hover {
			color:#fff;
			text-decoration:underline;
			}
		.legend_calendar {
			font-size:9px;
			color:#000000;
			margin-top:1em;
			margin-left:1em;
		}
		
		.V9 {
		
			font-size:9px;
			color:#000000;
			}
		
		.V9 ul {
			margin-bottom: 0px;
			padding-bottom: 0px;
			margin-left:20px;
			padding-left:0px;
			}
		.V9 li {
			margin-bottom: 0px;
			padding-bottom: 0px;
			}
		
		.V10W {
		
			font-size:10px;
			color:#FFFFFF;
			text-decoration:none;
			}
		
		.V9W {
		
			font-size:9px;
			color:#FFFFFF;
			text-decoration:none;
			}
		
		.V10WB {
		
			font-size:10px;
			color:#FFFFFF;
			font-weight:900;
			}
		
		.V9G {
		
			font-size:9px;
			color:#666666;
			}
		
		.V10 {
		
			font-size:10px;
			color:#000000;
			}
		
		.V9BOLD {
		
			font-size:9px;
			font-weight:900;
			}
		
		.G10 {
		
			font-size:11px;
			color:#0066FF;
			}
		
		.G10B {
		
			font-size:11px;
			color:#000000;
			}
		
		.G10BOLD {
		
			font-size:11px;
			font-weight:900;
			}
		
		.G10G {
			font-size:11px;
			color:#A1A5A9;
			}
		
		.V12 {
		
			font-size:12px;
			color:#000000;
			}
		
		.eventfont {
		
			font-size:11px;
			color:#FFFFFF;
			}
		
		.query_style {
			font-size:11px;
		
			width:156px;
			margin-bottom:0;
			}
		
		.search_style {
			font-size:12px;
		
			width:134px;
			margin-bottom:0;
			}
		
		.login_style {
			font-size:11px;
		
			width:80px;
			margin-bottom:0;
			}
			
		.bold_link a:link{
			font-weight: bold;
		}
		
		.bold_link a:active{
			font-weight: bold;
		}
		
		.bold_link a:visited{
			font-weight: bold;
		}
		
		/*------------ Category style package: default (blue) - start ------------*/
		
		.default_categoryheader{
			background-color:#557CA3;
		}
		
		.default_categoryheader_bullet{
			color:#557CA3;
			font-size:13px;
		}
		
		.default_categoryheader_text{
			color:#000000;
			font-size:11px;
			margin-left:3px;
		}
		
		.default_categoryheader_legend_bullet{
			margin-left:3px;
		}
		
		.default_categoryheader_legend_text{
		}
		
		.default_categoryheader_allday{
			text-align:center;
		}
		
		.default_categorybody{
			background-color:#6699CC;
			border: 1px solid #557CA3;
			color: #fff;
		}
		
		.default_categorybody a:link{
			color: #fff;
		}
		
		/*------------ Category style package: default (blue) - end ------------*/	
		/*------------ Category style package: green - start ------------*/
		
		.green_catheader{
			background-color:#53A062;
		}
		
		.green_catheader_bullet{
			color:#4FC464;
			font-size:13px;
		}
		
		.green_catheader_text{
			color:#000000;
			font-size:11px;
			margin-left:3px;
		}
		
		.green_catheader_legend_bullet{
			margin-left:3px;
		}
		
		.green_catheader_bullet_text{
		}
		
		.green_catheader_allday{
			text-align:center;
		}
		
		.green_catbody{
			background-color:#4FC464;
			border: 1px solid #53A062;
			color: #fff;
		}
		
		.green_catbody a:link{
			color: #fff;
		}
		
		/*------------ Category style package: green - end ------------*/
		/*------------ Category style package: orange - start ------------*/

		.orange_catheader{
			background-color:#E84F25;
		}
		
		.orange_catheader_bullet{
			color:#FF6D3B;
			font-size:13px;
		}
		
		.orange_catheader_text{
			color:#000000;
			font-size:11px;
			margin-left:3px;
		}
		
		.orange_catheader_legend_bullet{
			margin-left:3px;
		}
		
		.orange_catheader_bullet_text{
		}
		
		.orange_catheader_allday{
			text-align:center;
		}
		
		.orange_catbody{
			background-color:#FF6D3B;
			border: 1px solid #E84F25;
			color: #fff;
		}
		
		.orange_catbody a:link{
			color: #fff;
		}
		
		/*------------ Category style package: orange - end ------------*/
		/*------------ Category style package: pink - start ------------*/
		
		.pink_catheader{
			background-color:#B257A2;
		}
		
		.pink_catheader_bullet{
			color:#EA62D4;
			font-size:13px;
		}
		
		.pink_catheader_text{
			color:#000000;
			font-size:11px;
			margin-left:3px;
		}
		
		.pink_catheader_legend_bullet{
			margin-left:3px;
		}
		
		.pink_catheader_bullet_text{
		}
		
		.pink_catheader_allday{
			text-align:center;
		}
		
		.pink_catbody{
			background-color:#EA62D4;
			border: 1px solid #B257A2;
			color: #fff;
		}
		
		.pink_catbody a:link{
			color: #fff;
		}
		
		/*------------ Category style package: pink - end ------------*/
		/*------------ Category style package: red - start ------------*/

		.red_catheader{
			background-color:#D42020;
		}
		
		.red_catheader_bullet{
			color:#FF5E56;
			font-size:13px;
		}
		
		.red_catheader_text{
			color:#000000;
			font-size:11px;
			margin-left:3px;
		}
		
		.red_catheader_legend_bullet{
			margin-left:3px;
		}
		
		.red_catheader_bullet_text{
		}
		
		.red_catheader_allday{
			text-align:center;
		}
		
		.red_catbody{
			background-color:#FF5E56;
			border: 1px solid #D42020;
			color: #fff;
		}
		
		.red_catbody a:link{
			color: #fff;
		}
		
		/*------------ Category style package: red - end ------------*/
		/*------------ Category style package: yellow - start ------------*/

		.yellow_catheader{
			background-color:#B88F0B;
		}
		
		.yellow_catheader_bullet{
			color:#CCB21F;
			font-size:13px;
		}
		
		.yellow_catheader_text{
			color:#000000;
			font-size:11px;
			margin-left:3px;
		}
		
		.yellow_catheader_legend_bullet{
			margin-left:3px;
		}
		
		.yellow_catheader_bullet_text{
		}
		
		.yellow_catheader_allday{
			text-align:center;
		}
		
		.yellow_catbody{
			background-color:#CCB21F;
			border: 1px solid #B88F0B;
			color: #fff;
		}
		
		.yellow_catbody a:link{
			color: #fff;
		}
		
		/*------------ Category style package: yellow - end ------------*/
		/*------------ Category style package: grey - start ------------*/

		.grey_catheader{
			background-color:#73738C;
		}
		
		.grey_catheader_bullet{
			color:#9292A1;
			font-size:13px;
		}
		
		.grey_catheader_text{
			color:#000000;
			font-size:11px;
			margin-left:3px;
		}
		
		.grey_catheader_legend_bullet{
			margin-left:3px;
		}
		
		.grey_catheader_bullet_text{
		}
		
		.grey_catheader_allday{
			text-align:center;
		}
		
		.grey_catbody{
			background-color:#9292A1;
			border: 1px solid #73738C;
			color: #fff;
		}
		
		.grey_catbody a:link{
			color: #fff;
		}
		
		/*------------ Category style package: grey - end ------------*/
		
		.bold {
			/*font-weight:bold;*/
		}
		
		.refresh_calendar {
			margin-right:5px;
		}
		
		/*  Start of moving stuff from the templat into this file */
		
		.tx-cal-controller .weekview{
			margin:0 auto;
		}
		
		.tx-cal-controller .weekview .nextweek_arrow, .tx-cal-controller .weekview .previousweek_arrow{
			width:16px;
			height:20px;
			border:0px;
			text-align:left;
		}
		
		.previsousweek_arrow {
			text-align:right;
		}
		
		/*------------- free & busy styles ----------*/
		.fnb_header{
			background-color:#444444;
		}
		
		.fnb_body{
			background-color:#888888;
			border: 1px solid #999999;
			color: #fff;
		}
/* default styles for extension "tx_femp3player_pi1" */
		.tx-femp3player-pi1 {
			text-align: center;
		}
		.tx-femp3player-pi1 TABLE {
			border: solid 1px #BCBCBC;
			margin-top: 5px;
			margin-bottom: 5px;
			border-collapse: collapse;
		}
		.tx-femp3player-pi1 TD {
			border: solid 1px #BCBCBC;
			padding: 5px;
		}
/* default styles for extension "tx_flvplayer_pi1" */
		.tx-flvplayer-pi1 {
			text-align: center;
		}
/* default styles for extension "tx_cssstyledcontent" */
	/* Captions */
	DIV.csc-textpic-caption-c .csc-textpic-caption { text-align: center; }
	DIV.csc-textpic-caption-r .csc-textpic-caption { text-align: right; }
	DIV.csc-textpic-caption-l .csc-textpic-caption { text-align: left; }

	/* Needed for noRows setting */
	DIV.csc-textpic DIV.csc-textpic-imagecolumn { float: left; display: inline; }

	/* Border just around the image */
	DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG {
		border: 2px solid black;
		padding: 0px 0px;
	}

	DIV.csc-textpic-imagewrap { padding: 0; }

	DIV.csc-textpic IMG { border: none; }

	/* DIV: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DIV.csc-textpic-image { float: left; }

	/* UL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL { list-style: none; margin: 0; padding: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI { float: left; margin: 0; padding: 0; }

	/* DL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image { float: left; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DT { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD IMG { border: none; } /* FE-Editing Icons */
	DL.csc-textpic-image { margin: 0; }
	DL.csc-textpic-image DT { margin: 0; display: inline; }
	DL.csc-textpic-image DD { margin: 0; }

	/* Clearer */
	DIV.csc-textpic-clear { clear: both; }

	/* Margins around images: */

	/* Pictures on left, add margin on right */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-right: 10px;
	}

	/* Pictures on right, add margin on left */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}

	/* Pictures centered, add margin on left */
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption { margin: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image IMG { margin: 0; }

	/* Space below each image (also in-between rows) */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image { margin-bottom: 5px; }
	DIV.csc-textpic-equalheight DIV.csc-textpic-imagerow { margin-bottom: 5px; display: block; }
	DIV.csc-textpic DIV.csc-textpic-imagerow { clear: both; }

	/* No margins around the whole image-block */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-firstcol { margin-left: 0px !important; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-lastcol { margin-right: 0px !important; }

	/* Add margin from image-block to text (in case of "Text w/ images") */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap {
		margin-right: 10px !important;
	}
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap {
		margin-left: 10px !important;
	}

	/* Positioning of images: */

	/* Above */
	DIV.csc-textpic-above DIV.csc-textpic-text { clear: both; }

	/* Center (above or below) */
	DIV.csc-textpic-center { text-align: center; /* IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap { margin: 0 auto; }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image { text-align: left; /* Remove IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-text { text-align: left; /* Remove IE-hack */ }

	/* Right (above or below) */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap { float: right; }
	DIV.csc-textpic-right DIV.csc-textpic-text { clear: right; }

	/* Left (above or below) */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap { float: left; }
	DIV.csc-textpic-left DIV.csc-textpic-text { clear: left; }

	/* Left (in text) */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap { float: left; }

	/* Right (in text) */
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap { float: right; }

	/* Right (in text, no wrap around) */
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap { float: right; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-right-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */

	/* Left (in text, no wrap around) */
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap { float: left; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-left-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */
/* default styles for extension "tx_gesformation_pi1" */


/**********************Accueil**************************/

.accueil_formation {
	width : 530px;
	text-align: center;
}

.accueil_formation img{
	margin: 10px;
}

/***********************Grade************************************/

.grade_formation .formation_resume {
	float: left;
	clear: both;
	width: 528px;
	_width: 530px;
	border-style: solid;
	border-width: 1px;
	border-color: #deddc8;
	background-color: #f4f1ec;	
	margin: 20px 0 0 0;
	padding: 0;
}

.grade_formation .formation_resume h2 {
	color: #ff6600;
	margin: 5px 0 0 5px;
	padding: 0 0 0 20px;
	font-size: 120%;
	text-transform: uppercase;
	font-weight: 800;
	background-image: url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/fileadmin/template/main/images/formations/puce_formation.gif);
	background-position: top left;
	background-repeat: no-repeat;
}

.grade_formation .formation_resume .case_parcours {
	float: right;
}
.grade_formation .formation_resume .case_parcours input {
	vertical-align: middle;
}

#content_middle .grade_formation .hautdepage a {
	float: right;
	color: #8b7f69;
	text-align: center;
	background-image: url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/fileadmin/template/main/images/formations/icone_hautdepage.gif);
	background-position: top center;
	background-repeat: no-repeat;
	margin: 10px 0 0 0;
	padding: 12px 0 0 0;
}

.grade_formation .formation_resume ul li{
	list-style-image:url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/fileadmin/template/main/images/commun/list_puce_orange.jpg);
	padding: 0;
	margin: 5px 0 0 0;
}

.grade_formation .formation_resume ul ul {
	margin: 0 0 0 -17px;
	_margin: 0 0 0 17px;
}

.grade_formation .formation_resume ul li li{
	list-style-image:url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/fileadmin/template/main/images/commun/pucerondenoir.gif);
	margin: 0 0 0 35px;
	/*list-style-image:url(../fileadmin/template/main/images/formations/list_rond.gif);*/
	/*list-style-image: none;*/
	/*list-style: square;*/
	vertical-align: middle;
}

.grade_formation .formation_resume ul ul ul{
	margin: 0 0 0 20px;
	_margin: 0 0 0 30px;
}

.grade_formation .formation_resume ul li li li{
	list-style-image:url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/fileadmin/template/main/images/formations/list_tiret2.gif);
	margin: 0;
}

.grade_formation .formation_resume li.parc{
	list-style-image:url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/fileadmin/template/main/images/formations/list_tiret2.gif);
	margin: 0 0 0 20px;
	_margin: 0 0 0 30px;
}

.grade_formation .formation_resume li.no_puce{
	list-style-type: none;
	list-style-image: none;
	color: #000000;
	font-size: 90%;
	font-weight: bold;
	text-transform: uppercase;
}

#content_middle .formation_resume a{
	color: #363435;
	vertical-align: middle;
}

#content_middle .formation_resume a:hover{
	color: #ff6600;
}

.grade_formation .formation_resume ul li a{
	color: #363435;
	text-transform: uppercase;
	text-decoration: none;
}

.tx-gesformation-pi1 .grade_formation .formation_resume ul li li a{
	color: #363435;
	text-transform: none;
	text-decoration: none;
}

/**************************Fiche**************************************/


.tx-gesformation-pi1 .formation_onglets{
	float:left;
	margin:0;
	padding:10px 0 10px 0;
	width:530px;
	background-color:#faf8f5;
}
.tx-gesformation-pi1 .fiche_top {
	float:left;
	margin:0;
	padding:0 20px 0 20px;
	width: 490px;
	_width:530px;
	text-align:left;
}

#main .tx-gesformation-pi1 .fiche_top p.champNoirPuce{
	background-image: url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/fileadmin/template/main/images/commun/list_puce_orange.jpg);
	background-repeat: no-repeat;
	background-position: left 4px;
	vertical-align: middle;
	color: #000000;
	padding: 0 0 0 10px;
}

#main .tx-gesformation-pi1 .fiche_top p.champListeRond {
	padding: 0 0 0 20px;
	margin: 0;
}
#main .tx-gesformation-pi1 .fiche_top p.champListeTiret {
	padding: 0 0 0 20px;
	margin: 0;
}

#main .tx-gesformation-pi1 .fiche_top a {
	color: #000000;
}

#main .tx-gesformation-pi1 .fiche_top a:hover {
	color: #FF6600;
}

#main .tx-gesformation-pi1 .fiche_top p.champNoirPuce a, #main .tx-gesformation-pi1 .fiche_top p.champListeTiret a {
	color: #000000;
}

#main .tx-gesformation-pi1 .fiche_top p.champNoirPuce a:hover, #main .tx-gesformation-pi1 .fiche_top p.champListeTiret a:hover {
	color: #FF6600;
}

.tx-gesformation-pi1 .fiche_bottom {
	float: left;
	clear: both;	
	width: 520px;
	margin:15px 0 0 5px;
	_margin:15px 0 0 2px;
	padding:0 0 10px 0;
	background-color:#FFFFFF;
	text-align:left;
	background-image:url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/ges_formation/res/fiche_bottom.gif);
	background-position:100% 100%;
	background-repeat:no-repeat;
}

.tx-gesformation-pi1 .onglets_contenus {
	float:left;
	clear:both;
	width:488px;
	_width: 520px;
	margin:0;
	padding:10px 15px 10px 15px;
	border-style:solid;
	border-width:0 1px 0 1px;
	border-color:#c5c5c5;
	text-align:left;
}

.tx-gesformation-pi1 .onglets_titre div {
	text-align:center;
	float: left;
	height: 29px;
	background-repeat: no-repeat;
}

.tx-gesformation-pi1 .onglets_titre .onglet11{
	width: 127px;
	background-image: url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/ges_formation/res/ong11.gif);
}
.tx-gesformation-pi1 .onglets_titre .onglet12{
	width: 133px;
	background-image: url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/ges_formation/res/ong12.gif);
}
.tx-gesformation-pi1 .onglets_titre .onglet13{
	width: 133px;
	background-image: url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/ges_formation/res/ong13.gif);
}
.tx-gesformation-pi1 .onglets_titre .onglet14{
	width: 127px;
	background-image: url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/ges_formation/res/ong14.gif);
}
.tx-gesformation-pi1 .onglets_titre .onglet21{
	width: 127px;
	background-image: url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/ges_formation/res/ong21.gif);
}
.tx-gesformation-pi1 .onglets_titre .onglet22{
	width: 133px;
	background-image: url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/ges_formation/res/ong22.gif);
}
.tx-gesformation-pi1 .onglets_titre .onglet23{
	width: 133px;
	background-image: url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/ges_formation/res/ong23.gif);
}
.tx-gesformation-pi1 .onglets_titre .onglet24{
	width: 127px;
	background-image: url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/ges_formation/res/ong24.gif);
}
.tx-gesformation-pi1 .onglets_titre .onglet31{
	width: 127px;
	background-image: url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/ges_formation/res/ong31.gif);
}
.tx-gesformation-pi1 .onglets_titre .onglet32{
	width: 133px;
	background-image: url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/ges_formation/res/ong32.gif);
}
.tx-gesformation-pi1 .onglets_titre .onglet33{
	width: 133px;
	background-image: url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/ges_formation/res/ong33.gif);
}
.tx-gesformation-pi1 .onglets_titre .onglet34{
	width: 127px;
	background-image: url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/ges_formation/res/ong34.gif);
}
.tx-gesformation-pi1 .onglets_titre .onglet41{
	width: 127px;
	background-image: url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/ges_formation/res/ong41.gif);
}
.tx-gesformation-pi1 .onglets_titre .onglet42{
	width: 133px;
	background-image: url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/ges_formation/res/ong42.gif);
}
.tx-gesformation-pi1 .onglets_titre .onglet43{
	width: 133px;
	background-image: url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/ges_formation/res/ong43.gif);
}
.tx-gesformation-pi1 .onglets_titre .onglet44{
	width: 127px;
	background-image: url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/typo3conf/ext/ges_formation/res/ong44.gif);
}

.tx-gesformation-pi1 .onglets_contenus .table_ue, .tx-gesformation-pi1 .fiche_ue .table_ue {
	width: 100%;
	border-width: 1px 0 1px 1px;
	border-color: #CCCCCC;
	border-style: solid;
	margin: 3px 0 7px 0;
}

.tx-gesformation-pi1 .onglets_contenus .table_ue td, .tx-gesformation-pi1 .fiche_ue .table_ue td {
	border-width: 0 1px 0 0;
	border-color: #CCCCCC;
	border-style: solid;
}



.tx-gesformation-pi1 .onglets_contenus .case_profil {
	float: right;
	margin-bottom: 10px;
	padding: 0;
}


.tx-gesformation-pi1 .onglets_contenus .case_profil input {
	vertical-align: middle;
}




#main .tx-gesformation-pi1 .onglets_contenus p.libelle_diplome {
	margin: 5px 0 3px 0;
	padding:0;
}

#main .tx-gesformation-pi1 .onglets_contenus p.libelle_semestre {
	margin: 5px 0 3px 0;
	padding:0;
	color: #666666;
}

#main .tx-gesformation-pi1 .onglets_contenus .table_ue td a{
	color: #000000;
}

#main .tx-gesformation-pi1 .onglets_contenus .table_ue td a:hover{
	color: #FF6600;
}

.tx-gesformation-pi1 .onglets_contenus .table_ue tr.ligne_ue td{
	border-width: 1px 1px 1px 0;
	border-color: #CCCCCC;
	border-style: solid;
}


#main .tx-gesformation-pi1 .onglets_contenus .table_ue td.texteOrange a{
	color: #ff6600;
	padding-top: 5px;
}


#main .tx-gesformation-pi1 .onglets_titre a{
	color: #8A7E6B;
	font-weight: bold;
	display: block;
	width: 127px;
	height: 17px;
	_height: 22px;
	padding: 5px 0 0 0;
	text-align: center;
}

#main .tx-gesformation-pi1 .onglets_titre a:hover, #main .tx-gesformation-pi1 .onglets_titre a:active{
	color: #FF6600;
	text-decoration: none;
}

#main .tx-gesformation-pi1 .onglets_titre a.lien_onglet_on{
	color: #FF6600;
	text-decoration: none;
}

#main .tx-gesformation-pi1 .onglets_titre a.lien_onglet_on:hover{
	text-decoration: none;
}


#main .tx-gesformation-pi1 .onglets_contenus p.champPuce span {
	color: #000000;
	font-weight: normal;
}


.tx-gesformation-pi1 .bloc_gauche {
	float: left;
	width: 220px;
	margin: 0 10px 0 0;
	padding: 0;
	_margin-bottom: 10px;
}
.tx-gesformation-pi1 .bloc_droit {
	float: left;
	width: 200px;
	padding: 0;
	margin: 0;
}

.tx-gesformation-pi1 .clear {
	clear: both;
}


/**************************************************UE***************************************/

.tx-gesformation-pi1 .fiche_ue .table_ue{
	border-width: 1px 0 1px 1px;
	border-color; #CCCCCC;
	border-style: solid;
}

.tx-gesformation-pi1 .fiche_ue .table_ue tr.entetecolonne td{
	border-width: 0 1px 1px 0;
	border-color; #CCCCCC;
	border-style: solid;
}

#main .tx-gesformation-pi1 .fiche_ue .table_ue td a{
	color: #000000;
}

#main .tx-gesformation-pi1 .fiche_ue .table_ue td a:hover{
	color: #FF6600;
}

#main .tx-gesformation-pi1 .fiche_ue p.champNoirPuce{
	background-image: url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/fileadmin/template/main/images/commun/list_puce_orange.jpg);
	background-repeat: no-repeat;
	background-position: left 4px;
	vertical-align: middle;
	color: #000000;
	padding: 0 0 0 10px;
}

/****************************************************Search formulaire rapide*************************/


.tx-gesformation-pi1 select{
	width: 175px;
}


.tx-gesformation-pi1 .selectformation {
	float: left;
	width: 175px;
	margin-top: 0;
	z-index: 0;
}

.tx-gesformation-pi1 .searchformation {
	float: left;
	width:35px;
}

.tx-gesformation-pi1 .selectformation_rub {
	float: left;
	width: 175px;
	padding: 0;
	margin-top:0;
	z-index: 0;	
}

.tx-gesformation-pi1 .searchformation_rub {
	float: left;
	width:35px;
}

.tx-gesformation-pi1 .searchformation, .tx-gesformation-pi1 .searchformation_rub {
	background-image:url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/css/..fileadmin/template/main/images/commun/submit.gif);
	background-repeat:no-repeat;
	background-position:top left;
	width:35px;
	height:62px;
	border:0;
	margin:0;
	padding:0;
}


/****************************************************Search*************************************/

#main .tx-gesformation-pi1 .formation_search p.pointille{
	clear:both;
	width: 100%;
	padding: 5px 0 15px 0;
	margin: 0 0 0 0;
	background-image:url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/fileadmin/template/main/images/commun/pointilles.gif);
	background-repeat:repeat-x;
	background-position:bottom;
}

#main .tx-gesformation-pi1 .formation_search p.pointille a{
	color: #ff6600;
}

.tx-gesformation-pi1 .formation_search table th{
	text-align: left;
	vertical-align: middle;
	width: 230px;
}

.tx-gesformation-pi1 .formation_search select, .tx-gesformation-pi1 .formation_search input.mot_cle{
	width: 300px;
}


.tx-gesformation-pi1 .formation_search .search_separateur{
	height: 5px;
}

#main .tx-gesformation-pi1 .formation_search p a{
	color:#000000;
}

#main .tx-gesformation-pi1 .formation_search p a:hover{
	color:#FF6600;
}



#main .tx-gesformation-pi1 .formation_search .search_mention{
	margin: 0 0 0 15px;
	padding: 0 0 0 15px;
	background-image:url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/fileadmin/template/main/images/commun/list_puce_orange.jpg);
	background-repeat:no-repeat;
	background-position:0 5px;	
}

#main .tx-gesformation-pi1 .formation_search .search_diplome{
	margin: 0 0 0 30px;
	padding: 0 0 0 15px;
	background-image:url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/fileadmin/template/main/images/commun/pucerondenoir.gif);
	background-repeat:no-repeat;
	background-position:0 5px;
}

#main .tx-gesformation-pi1 .formation_search .search_parcours{
	margin: 0 0 0 45px;
	padding: 0 0 0 15px;
	background-image:url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/fileadmin/template/main/images/formations/list_tiret2.gif);
	background-repeat:no-repeat;
	background-position:0 5px;
}

.tx-gesformation-pi1 .formation_search .bloc_type {
	float: left;
	clear: both;
	width: 528px;
	_width: 530px;
	border-style: solid;
	border-width: 1px;
	border-color: #deddc8;
	background-color: #f4f1ec;
	margin: 20px 0 10px 0;
	padding: 0 5px 10px 0;
}

.tx-gesformation-pi1 .formation_search .bloc_type h2 {
	color: #ff6600;
	margin: 5px 0 5px 5px;
	padding: 0 0 0 20px;
	font-size: 120%;
	text-transform: uppercase;
	font-weight: 800;
	background-image: url(http://www.univ-avignon.fr/fileadmin/templates/univ-avignon.fr/fileadmin/template/main/images/formations/puce_formation.gif);
	background-position: top left;
	background-repeat: no-repeat;
}

#main .tx-gesformation-pi1 .formation_search p.titreorange {
	font-weight: bold;
	color: #FF6600;
	text-align: left;
	margin: 10px 0 0 0;
}
