body{padding-bottom:37px!important;}
#mensenwat{
  margin: 0;
  left:0;
  bottom: 0;
  width: 100%;
  background:url(id_fondo.jpg) repeat-x top;
  min-height:36px;
  height:36px;
  text-align:center;
  position:fixed;
  z-index:999999999;
 
}
* html div#mensenwat {
position:absolute;
bottom:0px;
left: expression( ( -0 - mensenwat.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
  top: expression( (-mensenwat.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}
#mensenwat .gebruiker{
	margin: 0 auto;
	padding:0;
	text-align:left;
	width:990px;
	font-family:Arial, sans-serif;
	color:#FFF;
	font-size:11px;
	position:relative;
}

#gebruiker_shadow {
font-size:0;
height:1px;
width:100%;
z-index:9999;
background:transparent url(s.png) repeat-x scroll top;
height:12px;
left:0;
position:fixed;
bottom:32px;
}
* html #gebruiker_shadow {
 display:none;
}
#mensenwat .gebruiker a{color:#fff; _float:left;}
#mensenwat .gebruiker h3, #mensenwat .gebruiker p, #mensenwat .gebruiker ul{margin:0; float:left; padding:0; }
#mensenwat .gebruiker h3{padding:0px 10px 0px 0; *padding:0px 10px 0px 0; font-size:11px; height:34px; line-height:34px;}
/*bienvenida*/
#mensenwat .gebruiker h3.inQueid{ float:left;}
#inQueidWelcome{ display:block; float:left; font-size:11px; font-weight:bold; color:#FFF;}
#inQueidName{ display:block; float:left; margin:8px 5px 0 5px; color:#FFF; font-weight:bold; font-size:12px;padding:0 5px}
#inQueidPulso{ display:block; float:left;}

#mensenwat .gebruiker h3 img{vertical-align: middle;}
#mensenwat .gebruiker p{float:left;}
#mensenwat .gebruiker p.avataren{ height:36px; border-left:2px solid #696C6F; padding:0px 10px 0 5px; margin:0 0 0 10px;}
*html #mensenwat .gebruiker p.avataren{ height:34px;}
#mensenwat .gebruiker p.avataren img{border:none; margin:3px 0 0 0;}
#mensenwat .gebruiker p.status, #mensenwat .gebruiker p.welkomen{width:340px; padding:0px 5px 0 0; height:34px; line-height:34px; font-size:13px; color:#FFF;}
#mensenwat .gebruiker p.status strong, #mensenwat .gebruiker p.welkomen{ font-size:16px;}
#mensenwat .gebruiker p.status a{text-decoration:none}
#mensenwat .gebruiker p.welkomen{ padding:7px 5px 0 10px;border:0 ; border-left:1px solid #92A4C3;}
#mensenwat .gebruiker p.recorden{padding:7px 5px 0 25px; background:url(ic_facebook.gif) no-repeat left 6px; height:34px; }
#mensenwat .gebruiker p.recorden a{float:none; text-decoration:underline}
#mensenwat .gebruiker ul{list-style:none; margin:0 0;}
#mensenwat .gebruiker ul li{float:left;position:relative; margin:0 2px;}
#mensenwat .gebruiker ul li a{display:block; padding:0 4px; height:34px;}
#mensenwat .gebruiker ul li a.inicien{ font-size:11px; line-height:34px;}
#mensenwat .gebruiker ul li a.inicien_salon{ display:block; float:left; padding-left:27px;background:url(pulso.gif) no-repeat 0px 50%;}
#mensenwat .gebruiker ul li a.inicien_perfil{ display:block; float:left; padding-left:26px;background:url(perfil.gif) no-repeat 0 50%;}
#mensenwat .gebruiker ul li a.inicien_desconectar{ display:block; float:left; padding-right:18px;background:url(exit.gif) no-repeat 100% 50%;}

#mensenwat .gebruiker ul li a.info{ font-size:11px; line-height:34px;}
#mensenwat .gebruiker ul.pluglink, #mensenwat .gebruiker ul.serviceslink{border-left:1px solid #6B84AE; text-align:left ;}
#mensenwat .gebruiker ul.pluglink{padding-left:10px}
#mensenwat .gebruiker ul.serviceslink{border:none;}
#mensenwat .gebruiker ul.serviceslink li{margin-right:0;}
#mensenwat .gebruiker ul li a.gebruikersnaam{background:url(ic_gebruikersnaam.gif) no-repeat left 7px;text-decoration:none; padding:7px 20px 0 20px;}
#mensenwat .gebruiker ul li a.vanpulsen{background:url(ic_vanpulsen.gif) no-repeat left 7px; text-decoration:none; padding:7px 20px 0 20px}
#mensenwat .gebruiker ul li a.dicht_doen{background:url(ic_sessie.gif) no-repeat left 7px; text-decoration:none; padding:7px 0 0 20px}
a.ifacebook,a.iwindows,a.iyahooId,a.iopenId{width:18px!important; height:18px!important; padding:0px!important; margin:8px 2px 0 2px!important}
a.ifacebook:hover,a.iwindows:hover,a.iyahooId:hover,a.iopenId:hover{ background-color:#696C6F;}
a.ifacebook span ,a.iwindows span,a.iyahooId span,a.iopenId span{display:none;}
a.ifacebook{background:url(ic_facebook.gif) no-repeat center;}
a.iwindows{background:url(ic_windowslive.gif) no-repeat center;}
a.iyahooId{background:url(ic_yahooId.gif) no-repeat center;}
a.iopenId{background:url(ic_openId.gif) no-repeat center;}
#mensenwat form{margin:0; padding:4px; text-align:right}
#mensenwat form label{ text-align:left; display:block}
#mensenwat form input.text{display:inline; font-size:10px; border:1px solid #32558F; background:#fff; width:180px; font-size:11px; padding:3px }
#mensenwat form input.boton3 {
background:#E3E3E3;
border:1px solid #E3E3E3;
border-collapse:collapse;
color:#32558F;
cursor:pointer;
font-size:11px;
font-weight:normal;
height:22px;
margin:2px auto 5px auto;
padding:0;
vertical-align:middle;
}
.masInfo, .inopenId{
	z-index:999;
	display:none;
	position:absolute;
	text-align: left;
	text-decoration:none
}
.masInfo{
	bottom:36px; left:-2px; _left:-4px; width:300px;
}
.inopenId{
	bottom:29px; _bottom:28px; left:-2px; _left:-4px; width:200px;
}
#mensenwat .gebruiker ul.serviceslink li a.barSelected{
	background-color:#F9EFCA; 
	color:#333;
	font-weight:bold;
	border-left:1px solid #E0C896;
	border-right:1px solid #E0C896;
}
#mensenwat .gebruiker ul.serviceslink li a.barSelected;hover{
	color:#333!important;
}
#mensenwat .gebruiker ul.serviceslink li a:hover{color:#CCC;}

.masInfo li, .inopenId li{
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border:1px solid #E0C896; border-bottom:none;
	background-color:#F9EFCA; color:#333; font-size:12px!important; font-family:Arial, Verdana, sans-serif;
	display:block;
}
#mensenwat .gebruiker ul li ul li{font-size:11px;}
#mensenwat .gebruiker ul li ul li p{padding:4px;}
#mensenwat .gebruiker ul li ul li p.tit{display:block; background:#F63131; float:none; padding:2px; color:#fff; position:relative; font-weight:bold;border-bottom:1px solid #405C96; border-top:1px solid #9EABC4;}
#mensenwat .gebruiker ul li ul li p.tit a{position:absolute; right:2px; top:2px; font-size:10px; font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif; padding:0 2px; height:auto; width:auto; text-decoration:none; color:#444; background:#C1BFBF; border:1px solid #444;}
.login_reg{ position:absolute; top:0; right:5px;}
#mensenwat .gebruiker ul.login_reg a, #mensenwat .gebruiker ul.login_reg li.top6{ font-size:11px!important; font-weight:bold; line-height:34px;}
#mensenwat .gebruiker ul.login_reg a:hover{ color:#CCC;}

a.info{position:relative; /*this is the key*/ z-index:999999; text-decoration:underline; padding:5px}
a.info span{display: none; text-decoration:none;}
a.info:hover span{line-height:19px;display:block;position:absolute;bottom:23px; left:-288px; width:390px; padding:5px; border:1px solid #405C96;border-bottom:none;background-color:#E3E3E3; color:#2B2B2B; font-size:12px; font-family:Arial, Verdana, sans-serif;text-align: left; text-decoration:none;}
* html a.info:hover span{bottom:0px; top:23px; left:-283px; z-index:0; text-decoration:none; border-top:0px; border-bottom:1px solid #405C96;}


.queWindowtooltip {font:12px Arial, serif;position:absolute; display:block; padding:0 ; z-index:9999; color:#2B2B2B; line-height:20px;}
#queTooltip{width:469px;bottom:-2px; *bottom:31px;left:10px;}
	.queWindowtooltip .contentqueTooltip{ padding-bottom:11px; background:transparent url(logini_preview.gif) bottom right repeat-x;}
.queWindowtooltip .format{padding:3px 7px 7px 7px; background:#FCF9B5;border:1px solid #C0BB53; border-bottom:none;}
.queWindowtooltip .format strong{font-size:14px}
.queWindowtooltip .format .closeQueTooltip{
background:url(closeTooltip.gif) no-repeat;
display:block;
position:absolute;
right:5px;
top:5px;
width:16px;
height:15px;
}
.queWindowtooltip .format .closeQueTooltip span{ display:none}
