
.separa{border-top:1px solid #E8E6E0;font-size:1px;height:1px;margin:10px 0 9px}		
.modnav{height:17px;margin-bottom:5px; clear:both}	
.modnav .btI{float:left; margin-right:3px}
.modnav .btD{float:right; margin-left:3px}
.modnav span{float:left; margin:0 3px;padding-top:1px}
.modnav span a.activo{color:#fff; font-size:10px; font-weight:bold; background-color:#666}
#galeria .modnav span a.activo, .modWebtv .modnav span a.activo, .galeriaFotos .modnav span a.activo, .modmultimedia .modnav span a.activo, .modmultimedia2 .modnav span a.activo, .modmultimedia3 .modnav span a.activo, .modmultimedia4 .modnav span a.activo{background-color:#d30300; filter:alpha(opacity=75);-moz-opacity:.75;opacity:.75}
#galeria .modnav span a:hover, .modWebtv .modnav span a:hover, .galeriaFotos .modnav span a:hover, .modmultimedia .modnav span a:hover, .modmultimedia2 .modnav span a:hover, .modmultimedia3 .modnav span a:hover, .modmultimedia4 .modnav span a:hover{text-decoration:underline; background-color:#de4d4c; color:#fff}
.modnav span a:hover, .modnav3 span a:hover{text-decoration:underline; background-color:#858585; color:#fff}
.modnav span a{width:auto; font-size:10px; color:#333; font-weight:bold;  text-decoration:none;  margin:0 3px; padding:1px 5px 3px; background-color:#fff; vertical-align:top}
#galeria .modnav span a, .modWebtv .modnav span a, .galeriaFotos .modnav span a, .modmultimedia2 .modnav span a, .modmultimedia .modnav span a, .modmultimedia3 .modnav span a, .modmultimedia4 .modnav span a{background-color:#000; filter:alpha(opacity=75);-moz-opacity:.75;opacity:.75; color:#fff}
.modnav img, .modnav3 img{border:0}			
.modheadergris{background:#666 url(http://www.elcorreo.com/img/rd.titular-gris.gif) repeat-x top left; text-align:left}
.modheadergris .epigrafe{color:#666;font-size:11px; font-weight:bold; text-transform:uppercase; padding:2px 4px 3px 5px; margin:0}
.modheadergris .epigrafe a{color:#666; font-size:11px; text-decoration:none}
.modheaderrojo{background:#cc0000 url(http://www.elcorreo.com/img/rd.titular-rojo.gif) repeat-x top left;text-align:left}
.modheaderrojo .epigrafe{color:#fff;font-size:11px; font-weight:bold; text-transform:uppercase; padding:2px 4px 3px 5px; margin:0}
.modheaderrojo .epigrafe a{color:#fff; font-size:11px; text-decoration:none}			
.gris{background:#ccc url(http://www.elcorreo.com/img/rd.titular-gris.gif) repeat-x top left}
.gris .epigrafe{color:#666}
.gris .epigrafe a{color:#666; text-decoration:none}			
.rojo{background:#cc0000 url(http://www.elcorreo.com/img/rd.titular-rojo.gif) repeat-x top left}
.rojo .epigrafe{color:#fff}
.rojo .epigrafe a{color:#fff; text-decoration:none}		
.gris .epigrafe a:hover,.rojo .epigrafe a:hover,.modheadergris .epigrafe a:hover, .modheaderrojo .epigrafe a:hover, .apoyo-enlace .enlace a:hover,.modulo-gente .listado .listado-enlaces a:hover, .galeriaFotos .modulo .titulo a:hover, .modulo-gente .modulo .titulo a:hover,.modheadergris .epigrafe a:hover, .modblogautor .titulo a:hover, .modvideochat .titulo a:hover, .moddestacadopeq .titulo a:hover, .modpromocontenidos .titulo a:hover, .modpromocontenidospeq .titulo a:hover, .modWebtv .titulo a:hover, .galeriaFotos .modheader .epigrafe a:hover, .modulo-gente .modheader .epigrafe a:hover,.modblogautor .nombre-blogs a:hover, .blogs h4 a:hover,.blogs .nombre-blog a:hover, .modenlaces .modcontent .menu .enlace a:hover,.modservicios .servicio .nombre-servicio a:hover, .nubetags .ncontent a:hover,.modpdf .epigrafe a:hover, .modpdf .enlace a:hover, .modenlaces .epigrafe a:hover, .modcanales .antetitulo a:hover, .modcanales h3 a:hover, .modespeciales h3 a:hover{text-decoration:underline}
.modvideochat, .modblogautor, .modpromocontenidospeq, .modWebtv, .modulo-gente, .galeriaFotos, .fgris {background-color:#F2F2F2;font-family:Arial;margin-bottom:10px;padding:6px;text-lign:left;}	
.modWebtv .modcontent{background:#F2F2F2 url(http://www.elcorreo.com/img/rd.pixel-gris.gif) repeat-x scroll left bottom;margin-bottom:8px;padding-bottom:2px;}	
.modulo-gente .modheader{background:#000 url(http://www.elcorreo.com/img/rd.titular-negro.gif) repeat-x top left; text-align:left}
.modWebtv .modheader, .galeriaFotos .modheader{background:#cc0000 url(http://www.elcorreo.com/img/rd.titular-rojo.gif) repeat-x top left; text-align:left; height:19px}		
.epigrafe{color:#fff; font-size:11px; font-weight:bold; text-transform:uppercase; padding:2px 4px 3px 5px; margin:0}
.galeriaFotos .modheader .epigrafe a, .modulo-gente .modheader .epigrafe a{color:#fff; font-weight:bold; font-size:11px; text-decoration:none}		
.modWebtv .epigrafe, .galeriaFotos .epigrafe{ float:left}
.modWebtv .modheader a.mas, .galeriaFotos .modheader a.mas{color:#fff; font-size:11px; font-weight:bold; float:right; padding:2px 2px 0 0}		
.modWebtv .titulo a, .modWebtv .titulo {color:#003366;font-size:14px;font-weight:bold;line-height:19px;margin-bottom:3px;text-decoration:none;}		
.galeriaFotos .Bloqueimagen, .modulo-gente .Bloqueimagen{clear:both; margin:3px 0 0 0}
.galeriaFotos .bloqueI, .modulo-gente .bloqueI{float:left; width:49%}
.galeriaFotos .bloqueD, .modulo-gente .bloqueD{float:right; width:49%}
.galeriaFotos .modulo, .modulo-gente .modulo{margin:3px 0}
.moddestacadopeq  .modcontent .fotografia img, .modblogautor .modcontent .fotografia img, .modpromocontenidospeq .modcontent .fotografia img, .galeriaFotos .modulo img, .modulo-gente .modulo img,.modpromocontenidos .canales .photo img, .modcanales .canales .photo img {border:3px solid #d5d5d5}
.modblogautor .modcontent .fotografia a:hover img, .modespeciales .modulos a:hover img, .modcanales .canales a:hover .photo img, .moddestacadopeq  .modcontent .fotografia a:hover img, .modpromocontenidospeq .modcontent .fotografia a:hover img, .galeriaFotos .modulo a:hover img, .modulo-gente .modulo a:hover img, .modpromocontenidos .modcontent .fotografia a:hover img,  .modvideochat .modcontent .fotografia a:hover img, .modWebtv .photo a:hover img, .modWebtv .video a:hover embed, .visor a:hover embed, .bomba-A .photo embed:hover {filter:alpha(opacity=75);-moz-opacity:.75;opacity:.75}
.modpromocontenidos .apoyo-enlace, .modvideochat .apoyo-enlace{float:none;width:auto;}
.modpromocontenidos  .apoyo-enlace .enlace{width:80%}
.modpromocontenidospeq  .apoyo-enlace{ clear:both;float:none;margin:5px 0;width:auto;}
.modpromocontenidospeq .panoramica img{border:3px solid #D5D5D5}
.modpromocontenidospeq  .apoyo-enlace .enlace{width:80%}
.modulo-gente .modulo .titulo, .modulo-gente .modulo .titulo a{color:#003366; font-size:11px; font-weight:bold; text-transform:uppercase}		
.modulo-gente .modulo .titulo a, .galeriaFotos .modulo .titulo a{text-decoration:none}		
.galeriaFotos .modulo .subtitulo, .galeriaFotos .modulo .subtitulo a, .modulo-gente .modulo .subtitulo{color:#333;font-size:11px}
.galeriaFotos .modulo .subtitulo{height:30px}
.colC_articulo .modulo .photo, .colC .galeriaFotos .modulo .photo {border-bottom:3px solid #ccc;height:85px;overflow:hidden;width:146px;}
.colB .galeriaFotos .modulo .photo {height:70px; overflow:hidden; width:118px; border-bottom:3px solid #ccc;}
.modulo-gente .listado{height:17px;line-height:17px;margin:0 auto; text-align:center}
.modulo-gente .listado .listado-enlaces{display:inline; font-weight:bold; font-size:11px; margin:0 6px}
.modulo-gente .listado .listado-enlaces a{font-size:11px; color:#000; text-decoration:none}
.modWebtv .photo{float:left; width:63px; text-align:center; margin:0 auto}
.colC_articulo .modWebtv .photo, .colC .modWebtv .photo{float:left;width:74px; text-align:center; margin:0 auto}
.modWebtv .thumbnails a img:hover{border:1px solid #cc0000}
.modWebtv .thumbnails a img{border:1px solid #ccc}	
.colB .modWebtv .video{background-color:#000;width:254px;}
.nubetags{ font-family:"Arial"; padding:0; background-color:#FFF}
.nubetags .ntcontent{ display:block; color:#666}
.nubetags .ntcontent a.a{ color:#666; text-decoration:none}		
.nubetags .ntcontent h2{ font-size:18px}
.nubetags .ntcontent h3{ font-size:14px}
.nubetags .ntcontent h2 a{ display:inline; color:#666}
.nubetags .ntcontent h2 a:hover{text-decoration:underline}
.nubetags .ntcontent h3 a:hover{text-decoration:underline}
.nubetags .ntcontent h3 a{ display:inline; color:#666}
.nubetags h2, .nubetags h3 {display:inline}	
.moddestacadopeq .modcontent .fotografia, .modblogautor .modcontent .fotografia, .modpromocontenidospeq .modcontent .fotografia {float:right;margin-left:5px;width:121px}
.modblogautor .autor, .modpromocontenidospeq .autor{font-size:11px; color:#333; font-weight:bold}
.modblogautor .nombre-blogs, .modblogautor .nombre-blogs a, .modpromocontenidospeq .pieautor{font-size:10px; color:#cc0000; font-weight:bold; text-decoration:none; text-transform:uppercase}		
.modblogautor .antetitulo, .modpromocontenidospeq .fecha, .moddestacadopeq .fecha, .blogs .fecha{font-size:10px; color:#686868}		
.modblogautor .modcontent, .moddestacadopeq .modcontent, .modpromocontenidospeq .modcontent, .modpromocontenidos .modcontent{text-align:left; margin-top:4px}		
.modvideochat .titulo a, .modblogautor .titulo a, .modpromocontenidospeq .titulo a, .modpromocontenidos .titulo a, .moddestacadopeq .titulo a{color:#003366; font-size:16px; text-decoration:none; font-weight:bold}		
.modblogautor .subtitulo a, .modvideochat .subtitulo, .modvideochat .subtitulo a, .moddestacadopeq .subtitulo, .moddestacadopeq .subtitulo a, .modpromocontenidos .subtitulo, .modpromocontenidos .subtitulo a, .modpromocontenidospeq .subtitulo, .modpromocontenidospeq .subtitulo a {font-size:12px; color:#333; text-decoration:none}
.moddestacadopeq .antetitulo, .moddestacadopeq .antetitulo a, .modvideochat .antetitulo, .modvideochat .antetitulo a, .modWebtv .antetitulo, .modWebtv .antetitulo a {color:#cc0000;font-size:10px; text-transform:uppercase}				
.modpromocontenidos .modcontent .modulo{clear:both; padding:3px 0}
.modblogautor .modcontent .modulo,.modblogautor .modcontent .blogs{clear:both}
.apoyo-enlace{float:left;width:58%}
.apoyo-enlace .enlace {color:#000;font-size:11px;font-weight:bold;margin-left:50px;margin-top:-13px;}
.apoyo-enlace .enlace a{color:#000;font-size:11px;font-weight:bold; text-decoration:none}		
.apoyo-enlace .apoyo-enlace-epigrafe{ background-color:#666;color:#fff;font-family:"Small Fonts";font-size:8px;margin-top:15px;text-transform:uppercase;width:14%;} 
.zpc_colA .apoyo-enlace .apoyo-enlace-epigrafe {width:12%}
.modpromocontenidos .antetitulo{font-size:10px; color:#cc0000; font-weight:bold; text-transform:uppercase}
.modpromocontenidos, .moddestacadopeq {font-family:Arial;margin-bottom:10px;padding:6px;text-align:left;} 		
.modenlaces{float:left; margin-right:6px;width:396px; background: url(http://www.elcorreo.com/img/rd.fondo-modenlaces.gif) repeat-x top left}
.modpdf {float:right; padding:10px 5px;  text-align:left; width:255px; display:block; position:relative; background: url(http://www.elcorreo.com/img/rd.fondo-modenlaces.gif) repeat-x top left}
.modpdf .epigrafe{font-size:18px; color:#333; float:left; width:90px}
.modpdf .epigrafe a{font-size:18px; color:#333; text-decoration:none; font-weight:normal}		
.modpdf .photo{position:absolute; top:-10px; right:0; display:block}
.modpdf .photo a{display:block}
.modpdf .modcontent{background-color:#efefef; clear:both; display:block}
.modpdf .enlace{color:#666; font-size:12px; padding:24px;  *padding:12px}
.modpdf .enlace a{color:#666; font-size:12px; text-decoration:none}				
.modenlaces .modcontent .menu .enlace	{font-size:11px; color:#000; background:transparent url(http://www.elcorreo.com/img/rd.ico-lista.gif) no-repeat scroll 0 6px;margin:0;padding-left:10px}
.modenlaces .modcontent .menu .enlace a { font-size:11px; color:#000;text-decoration:none; font-weight:normal}			
.modenlaces .modheader{padding:10px}
.modenlaces .modcontent{text-align:left}
.modenlaces .epigrafe, .modenlaces .epigrafe a{font-size:18px; color:#333; text-decoration:none}		
.modenlaces .menu{border-top:1px solid #efefee; padding:2px; margin-left:10px}		
.modcanales{background: url(http://www.elcorreo.com/img/rd.fondo-canales.gif) repeat-x top left; border-bottom:1px solid #ededed; padding:10px 4px}
.modcanales .canales{float:left;margin-bottom:10px;margin-left:3px;margin-right:3px;width:118px;}
*html .modcanales .canales{width:118px; margin-left:1px; margin-right:2px}
.modcanales .antetitulo, .modcanales .antetitulo a{color:#000; font-size:10px; text-transform:uppercase;}
.modcanales .antetitulo a, .modcanales h3 a{text-decoration:none}		
.modcanales h3, .modcanales h3 a{font-size:11px; color:#666}
.modespeciales{margin-bottom:10px;padding-left:8px}
.modespeciales .modcontent{clear:both;padding:10px 8px 0 3px; *padding-top:5px; position:relative}
.modespeciales .bt-top {left:0;position:absolute;top:12px}		
.modespeciales .bt-bot {right:0;position:absolute;top:12px}		
.modespeciales .SlidingPanels{width:645px; margin-left:23px}		
.modespeciales .SlidingPanelsContentGroup {float:left;padding-top:2px;}		
.modespeciales .modulos{float:left; margin-right:6px; width:120px}	
.modespeciales .modulos  a img{border:3px solid #d5d5d5}
.modespeciales .modheader .epigrafe{letter-spacing:-1px;text-transform:uppercase; font-size:18px; color:#333; float:left; font-weight:bold}
.modespeciales .modheader a{margin-top:4px; float:right; color:#999; font-size:11px; font-weight:bold; text-decoration:none}
.modespeciales .modheader a:hover{text-decoration:underline}
.modespeciales .modheader .mas{margin-top:4px; float:right}
.mas{color:#999; font-size:11px; font-weight:bold}
.masinfo{color:#333;font-size:12px;text-decoration:none;}
.modespeciales h3{font-size:11px; color:#333; font-weight:bold}		
.modespeciales h3 a{text-decoration:none; font-size:11px; color:#333}		
.modservicios{margin:10px 0; clear:both}
.modservicios .modheader{margin-bottom:3px;padding-left:8px}
.modservicios .modheader .epigrafe{font-size:18px; color:#333; text-transform:uppercase; font-weight:bold}
.modservicios .modcontent{border:1px solid #efefee; padding:1px}
.modservicios .bloqueServicios{clear:both; background-color:#f7f7f7}
.modservicios .servicio{border-right:1px solid #fff; border-top:1px solid #EFEFEE;float:left;padding:5px;width:157px}
.modservicios .servicio .nombre-servicio a, 
.modservicios .servicio .nombre-servicio {font-size:11px; color:#333; text-align:left}
.modservicios .servicio .nombre-servicio a{text-decoration:none}		
.modservicios .servicio img{margin-right:10px; float:left}				
.google{background:transparent url(http://www.elcorreo.com/img/rd.fd-google.gif) repeat-x scroll left top;color:#666;font-size:11px;font-weight:bold;padding:0 0 4px 10px;text-transform:uppercase}	
.blogs{background:#F2F2F2 url(http://www.elcorreo.com/img/rd.fondo-blogs.gif) repeat-x scroll left top;clear:both;padding-bottom:4px;padding-top:5px;}
.blogs h4, .blogs h4 a{color:#003366; font-weight:bold; font-size:11px; text-decoration:none}		
.blogs .nombre-blog, .blogs .nombre-blog a{color:#666; font-size:11px; text-decoration:none; font-weight:normal}				
.estilo_tit{background:transparent url(http://www.elcorreo.com/img/rd.fd-google.gif) repeat-x scroll left top;color:#666;font-size:11px;font-weight:bold;padding:0 0 4px 10px;text-transform:uppercase; border:0}	
.positionR{position:relative}
.link-ico{background:transparent url(http://www.elcorreo.com/img/rd.sombra.png) no-repeat scroll left top; height:40px; left:70px; padding:5px; position:absolute; top:80px; width:142px}
.link-ico span{position:absolute; font-size:14px; color:#fff; text-transform:uppercase}
.link-ico a span{color:#fff;font-size:14px;right:10px;text-decoration:none;top:18px}
.link-ico a:hover span{text-decoration:underline}
.link-ico a img{border:0}
.C-prom-peque-2, .C-videochat-2{clear:both}

.menus-destacados {border-top:1px solid #D7D7D7}
.menus-destacados .boxheader {background-color:#E4E5E4;border-bottom:1px solid #CECECE;color:#666666 !important;font-size:15px !important;font-weight:bold;padding:5px;}
.menus-destacados .boxheader div {color:#555555 !important}
.menu-destacado a {background:#F0F0F0 url(http://www.elcorreo.com/img/rd.marca_lomas.png) no-repeat scroll 8px 8px;}
.menus-destacados a {border-bottom:1px solid #D7D7D7;color:#666666;display:block;font-size:11px;padding:3px 2px 3px 15px;text-transform:uppercase}
/*agencias*/
.mod-agencia{margin:10px 0}
.mod-agencia h3{color:#003366; font-size:12px; font-weight:bold; float:left; width:84%}
.mod-agencia h3 a{color:#003366; text-decoration:none}
.mod-agencia h3 a:hover{text-decoration:underline}
.mod-agencia .hora{color:#cc0000; font-size:11px; float:left; width:40px}
.mod-agencia .epigrafe{background:url(http://www.elcorreo.com/img/rd.bg_lomas_encab.jpg) repeat-x top left;border-left:1px solid #E3E3E3;border-right:1px solid #E3E3E3;color:#666;font-size:11px;font-weight:bold;height:18px;line-height:18px;margin:0 0 1px;padding:0 5px;text-transform:uppercase;}
.mod-agencia .modcontent{margin:5px 0;padding:10px 5px 2px;}
.mod-agencia .mod{margin:0 0 10px 0}
.mod-agencia .modfooter{border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; padding:5px 0}
.mod-agencia .modfooter .enlace a{clear:both;color:#003366;font-size:11px;font-weight:bold;margin:3px 0;padding:0 5px;text-decoration:none}
.mod-agencia .modfooter .enlace a:hover{text-decoration:underline}
#noticiasminuto .masinfo {border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:3px}
#noticiasminuto .masinfo a{color:#000; font-size:11px; font-weight:bold; text-decoration:none}
#noticiasminuto .masinfo a:hover{text-decoration:underline} 
.listado-agencias{margin-bottom:10px; padding:0 10px}
.listado-agencias .not-a{margin:20px 0}
.listado-agencias .not-a .fechahora{color:#cc0000; font-weight:bold; font-size:10px; margin-bottom:3px}
.listado-agencias .not-a h3{color:#003366; font-weight:bold; font-size:16px; margin-bottom:5px}
.listado-agencias .not-a h3 a{color:#003366; text-decoration:none}
.listado-agencias .not-a h3 a:hover{text-decoration:underline}
.listado-agencias .not-a .entradilla{color:#333; font-size:12px}
.listado-agencias .not-a .entradilla a{color:#333; text-decoration:none}
.listado-agencias .not-a .entradilla a:hover{text-decoration:underline} 
.hs_encabezado_agencias{background:transparent url(http://www.elcorreo.com/img/encabezado-agencias.gif) no-repeat scroll 0 0; clear:both; font-size:0.1em; height:26px; margin:0 auto 5px; text-indent:-999em;}
.ag{margin-left:10px}
/**/

/*ESTILO DE MODULOS CANALES COLUMNA-c*/
.modulocanales{display:block; border:0; height:auto}
#colC .modWebtv{width:300px}

/*LG*/
.publi-LG {font-family:Arial; font-size:10px; border-bottom:1px solid #e5e5e5; background-color:#fff; margin-bottom:10px; border-top:1px solid #fff; border-left:1px solid #fff; border-right:1px solid #fff}
.publi-LG .modheader{padding:0; margin:0; height:43px; width:313px}
.publi-LG .lg{float:left; width:171px; margin-left:1px}
*html .publi-LG .lg{margin-left:0}
*html .publi-LG img{padding-left:0}
.publi-LG .lg img{padding-left:1px}
.publi-LG .slogan img{padding-right:1px}
*:first-child+html .publi-LG .slogan img{padding-right:3px}
*html .publi-LG .slogan{width:137px}
.publi-LG .slogan {float:right; width:140px}
.publi-LG .carcasa{border-bottom:1px solid #ccc; position:relative; *margin-top:-5px; padding-bottom:8px;}
.publi-LG .video{position:absolute; top:8px; left:9px}


/*Publicidad Movistar*/
.movistarC{width:310px; margin:10px 0; font-family:arial; border:1px solid #ccc; position:relative}
.movistarC .bb{border:1px solid #fff}
.movistarC .bloque{background: url(http://www.elcorreo.com/img/publicidad/movistar/f-movistar.gif) repeat-x top left; height:186px; *height:192px}
.movistarC a img{border:0}
.movistarC .modhead{display:block; padding:5px; background: url(http://www.elcorreo.com/img/publicidad/movistar/linea-h.gif) repeat-x bottom left;}
.movistarC .logotipo{float:left; width:92px}
.movistarC .texto{color:#333; font-size:11px; width:205px; float:right; font-weight:normal; margin-top:8px; text-align:right}
.movistarC .texto a{color:#333; text-decoration:none}
.movistarC .texto a:hover{text-decoration:underline}
.movistarC .carcasa{position:absolute; z-index:2; left:33px;top:44px}
.movistarC .photo img{border:0 none;left:40px;position:absolute;top:15px;z-index:3;}
.movistarC h3{background-color:#000;bottom:17px;color:#fff;font-size:11px;font-weight:bold;left:40px;opacity:0.78;padding:2px 5px;position:absolute;width:140px;z-index:4;}
.movistarC h3 a{color:#fff;text-decoration:none}
.movistarC h3 a:hover{text-decoration:underline}
#teclado{background: url(http://www.elcorreo.com/img/publicidad/movistar/modulo-teclado.jpg) no-repeat top left; width:116px; height:127px; position:absolute; top:49px; *top:55px; left:120px;z-index:1;}

