.modmultimedia4, 
.modmultimedia3, 
.modmultimedia, 
.modmultimedia2{background: url(http://www.elcorreo.com/img/rd.fondo-modenlaces.gif) repeat-x top left; padding:7px 0}		
.modmultimedia .modcontent{background: url(http://www.elcorreo.com/img/rd.fondo-multimedia.gif) repeat-y top left}
.modmultimedia3 .modcontent, 
.modmultimedia4 .modcontent{background: url(http://www.elcorreo.com/img/rd.fondo-multimedia3.gif) repeat-y top left}
.modmultimedia2 .modcontent{background: url(http://www.elcorreo.com/img/rd.fondo-multimedia2.gif) repeat-y top left}
.modmultimedia .entradilla, 
.modmultimedia .entradilla a,
.modmultimedia3 .entradilla, 
.modmultimedia3 .entradilla a, 
.modmultimedia4 .entradilla,
.modmultimedia4 .entradilla a, 		
.modmultimedia2 .entradilla,
.modmultimedia2 .entradilla a{font-size:11px; font-weight:bold; color:#000; text-decoration:none; cursor:pointer}
.modmultimedia .entradilla a:hover,		
.modmultimedia3 .entradilla a:hover, 		
.modmultimedia4 .entradilla a:hover, 		
.modmultimedia2 .entradilla a:hover{text-decoration:underline}	
.modmultimedia2 .titulo, 
.modmultimedia4 .titulo, 
.modmultimedia3 .titulo, 
.modmultimedia .titulo, 
.modgrafico .titulo{font-size:14px; color:#333; font-weight:bold; text-transform:uppercase}
.modmultimedia .playerpeq .mas{text-align:left}
.modgrafico .modheader .mas, 
.modaudio .modheader .mas{float:right}
.modgrafico .titulo, .modaudio .titulo{float:left;width:65%}
.modaudio{clear:both}
.modaudio .modheader{height:21px}
.modaudio .enlaces{border-bottom:1px solid #d5d5d5; margin-bottom:2px; padding-bottom:2px}
.modaudio .enlaces a h3{font-size:11px; color:#000; text-decoration:none; cursor:default}
.modaudio .enlaces a:hover h3{text-decoration:underline}
.modaudio .enlaces h3{float:left; width:80%; font-size:11px; color:#000; margin-top:4px; }
*html .modaudio .enlaces h3{width:78%}
.modaudio .enlaces img{float:right}
.modgrafico .modcontent{clear:both}
.modmultimedia .modvideo .content,
.modmultimedia .modgaleria .content,
.modmultimedia2 .content, 
.modmultimedia4 .content,
.modmultimedia3 .content, .modmultimedia3 .modgaleria .content{clear:both; float:left; width:69%}
.modmultimedia4 .modvideo .content{clear:both; float:left; width:66%}
.modmultimedia3 .modvideo .content{float:left; width:100%}
.modmultimedia .modvideo{float:left; width:521px; background-color:#eaeaea; padding:5px 8px}
.modmultimedia2 .modvideo{width:384px; float:left; padding:5px 10px}	
.modmultimedia4 .modgaleria, 
.modmultimedia3 .modvideo{float:left; width:660px; background-color:#eaeaea; padding:5px 10px}
.modmultimedia .modgaleria{float:right; width:437px; background-color:#eaeaea; padding:5px 8px}		
.modmultimedia2 .modgaleria{float:left;margin-left:4px;padding:5px 10px;width:252px}
.modmultimedia2 .modgrafico{float:right; padding:5px 8px; width:302px}
.modgrafico .bloqueI{float:left; width:49%}
.modgrafico .bloqueI img{border:3px solid #D5D5D5;display:block;margin:0 0 5px 22px;text-align:right;} 
.modgrafico .bloqueD img{border:3px solid #D5D5D5;display:block;margin:0 0 5px 0;text-align:left;}
.modgrafico .bloqueD{float:right; width:49%}
.modmultimedia4 .modvideo, 
.modmultimedia3 .modgaleria{float:right; width:301px; /*background-color:#eaeaea;*/ padding:5px 8px}		
.modmultimedia .modplayerpeq{float:left; width:124px}
.modmultimedia .playerpeq{float:right; width:124px}
.modmultimedia4 .modgaleria .modplayerpeq {float:right; width:260px; position:relative}
.modmultimedia3 .modvideo .modplayerpeq{float:right; width:260px; position:relative}
.modmultimedia.player{position:relative}
.modmultimedia.logo{position:absolute; right:0; bottom:0}
.modmultimedia2 .modvideo .player,
.modmultimedia4 .modgaleria .player, 
.modmultimedia .modvideo .player, 
.modmultimedia3 .modvideo .player{float:left;width:384px}
.modmultimedia4 .modvideo .player{float:right; width:301px}
.modmultimedia3, .modmultimedia4
.modmultimedia .modvideo .playerpeq {float:right}
.modmultimedia3 .modvideo .playerpeq, .modmultimedia4 .playerpeq{float:left;margin:0 auto;text-align:left;width:130px;}
.modmultimedia3 .modvideo .dcha, .modmultimedia4 .dcha{text-align:right}
.modmultimedia .photo img, 
.modmultimedia3 .photo img, 
.modmultimedia4 .photo img{border:1px solid #ccc; width:120px}
.modmultimedia .photo, 
.modmultimedia3 .photo,
.modmultimedia4 .photo{margin-bottom:5px; height:82px;overflow:hidden;}
.modmultimedia  .modgaleria .visor, 
.modmultimedia .modvideo .visor,
.modmultimedia2  .modgaleria .visor, 
.modmultimedia3  .modgaleria .visor, 
.modmultimedia4  .modgaleria .visor,
.modmultimedia4 .modvideo .visor
{background-color:#000;height:279px;margin:0 auto;position:relative;text-align:center}
.modmultimedia .modgaleria .visor a  #imagenVisorv1, .modmultimedia2 .modgaleria .visor a #imagenVisorv2, .modmultimedia3 .modgaleria .visor a #imagenVisorv3, .modmultimedia4 .modgaleria .visor a #imagenVisorv4{margin-top:37px;overflow:hidden}
.modmultimedia .modnav, 
.modmultimedia2 .modnav, 
.modmultimedia3 .visor .modnav,  
.modmultimedia4 .visor .modnav{left:5px;position:absolute;top:6px; *width:95%; width:97%}
.modmultimedia4 .modplayerpeq .modnav, 
.modmultimedia3 .modplayerpeq .modnav{clear:both;padding-top:3px;width:260px;}
.modmultimedia .modgaleria .player{float:right; width:302px}
.modmultimedia .antetitulo, 
.modmultimedia3 .antetitulo, 
.modmultimedia4 .antetitulo, 
.modmultimedia2 .antetitulo{color:#cc0000; font-size:10px; font-weight:bold}
.modnav img{border:0}
.modmultimedia4 .logo{float:right;margin-top:28px;text-align:right;width:100px;}
.modmultimedia3 .logo{position:absolute;right:0;}
*html .modmultimedia3 .logo{ bottom:-30px}
.modmultimedia .logo, 
.modmultimedia2 .logo{float:right;margin-top:5px;text-align:right;width:100px;}
.modmultimedia .foto, 
.modmultimedia3 .foto, 
.modmultimedia4 .foto, 
.modmultimedia2 .foto{color:#666; font-weight:bold; font-size:10px; float:right}
.modgrafico .bloqueI a:hover img, 
.modgrafico .bloqueD a:hover img, 
.visor a:hover img, 
.modmultimedia .photo a:hover img, 
.modmultimedia3 .photo a:hover img, 
.modmultimedia4 .photo a:hover img,
.submultimedia .imagensubmultimedia a:hover img
{filter:alpha(opacity=75);-moz-opacity:.75;opacity:.75}		
.submultimedia{background-color:#fff}
.submultimedia .pestanas{background-color:#ebebeb; height:22px; border-bottom:1px solid #e4e4e4; position:relative}
.submultimedia .pestanas ul{width:740px; float:left; *width:735px; *padding-bottom:4px}		
.submultimedia .pestanas .btm{float:left; width:17px; margin-left:5px}
.submultimedia .pestanas ul li, .pestanas-masgalerias ul li  {display:inline; color:#333; font-size:11px; padding:0 10px; }
.pestanas-masgalerias ul li {padding:0 5px 0 10px}
.submultimedia .buscar{border-left:2px solid #fff; float:right;height:19px;padding:2px 4px; width:200px}
.submultimedia .buscar .caja{border:1px solid #C4C5A6;color:#474747;font-size:11px;padding:1px 2px;width:120px; float:left} 
.submultimedia .buscar .button{float:right; background:transparent url(http://www.elcorreo.com/img/rd.boton_submultimedia.gif) no-repeat scroll center bottom;border:0 none;color:#fff;font-size:11px;font-weight:bold;height:18px;text-align:center;vertical-align:bottom;width:62px; margin-left:2px}
.submultimedia .pestanas ul li a, 
.pestanas-masgalerias ul li a{color:#6a6a6a; text-decoration:none}
.submultimedia .pestanas ul li a:hover, 
.pestanas-masgalerias ul li a:hover{text-decoration:underline}
.submultimedia .pestanas ul li a.activo {margin-top:-1px; background-color:#fff;border-left:1px solid #E4E4E4;border-right:1px solid #E4E4E4;border-top:1px solid #E4E4E4;font-weight:bold;padding:5px;  }
.pestanas-masgalerias ul li a.activo{background-color:#F2F2F2;font-weight:bold;padding:3px 5px 2px 5px}
.submultimedia .pestanas .pestana-grupo{padding-top:5px}
.submultimedia .modcontenido{padding:5px 19px 5px 23px}
.submultimedia .galeria-contenido{display:block}
.submultimedia .galeria-contenido h3{clear:both;color:#003366;font-size:30px;margin-bottom:10px;margin-top:10px;}
.submultimedia .imagensubmultimedia{border:1px solid #cecece; margin:0 auto 10px; text-align:center; background-color:#000; padding:5px 0}		
.submultimedia .entradilla{color:#474747; font-size:12px}
.submultimedia .ico-play{float:left; margin-right:10px; background:#333 url(http://www.elcorreo.com/img/rd.multimediaplay.gif) no-repeat scroll 6px 3px;color:#fff;display:block;font-size:10px;font-weight:bold;padding:2px 5px 2px 18px;width:30px}
.submultimedia .ico-inicio{background:#333 url(http://www.elcorreo.com/img/rd.multimediainicio.gif) no-repeat scroll 6px 4px; color:#fff;display:block;float:left;font-size:10px;font-weight:bold;margin-right:5px;padding:2px 5px 2px 20px;width:30px}
.submultimedia .galeria-contenido{margin-bottom:15px}
.modulo-masgalerias{background-color:#f2f2f2; margin-bottom:10px; float:left; width:647px}
.modulo-masgalerias .pestanas-masgalerias{height:19px; padding-top:3px; background: url(http://www.elcorreo.com/img/rd.fd-masgalerias.gif) repeat-x top left; position:relative}
.modulo-masgalerias .listadothum p{color:#474747;float:left;font-size:11px;margin-left:4px;margin-right:0;/*width:90px*/ width:100px}
.modulo-masgalerias .listadothum p a{color:#474747; font-size:11px; text-decoration:none}
.modulo-masgalerias .listadothum p a:hover{text-decoration:underline}
.modulo-masgalerias .listadothum p img{display:block; height:57px;margin-bottom:5px;overflow:hidden;}
.modulo-masgalerias .listadothum p a:hover img{filter:alpha(opacity=75);-moz-opacity:.75;opacity:.75}
.bloqueMultimedia {float:left;margin-bottom:5px;padding-bottom:5px;width:955px;}
.bloqueMultimedia .MM-izda{float:left; width:647px}
.bloqueMultimedia .MM-dcha{float:right; width:300px}
.bloqueMultimedia .form_art{float:left; width:650px}
.bloqueMultimedia .roba{float:right; width:300px; height:250px;}
.comentarios{clear:both}
.modcontent-articulo{padding:5px 19px 5px 23px}
.modulo-masgalerias #ultimos, .modulo-masgalerias #relacionados{padding:8px; margin-top:5px}
.bloqueMultimedia .form_art {margin-top: 10px;}
.bloqueMultimedia .MM-dcha .adds{margin-left:10px}
