.logotipo_portal{ background-image: url(http://www.elcorreo.com/logotipos/elcorreo-240.png)}
.cabecera .cab_logo_ie{ top:34px; left:11px}

.mcmet_datos{background:none;}

body.orejas{background:none #EF800A!important}


#publisky{ display:none;}
body.orejas #publisky{ display:block; width:1002px; position:relative; text-align:center; margin:0 auto;}
body.orejas #publisky_izq{ top:0px; *top:-90px; display:block; float:left; position:fixed; width:121px; height:900px; z-index:999; margin-left:-131px;}
body.orejas #publisky_der{ top:0px; *top:-90px; display:block; float:right; position:fixed; width:121px; height:900px; z-index:999; margin-left:1012px}
*:first-child+html #publisky_izq { display:block; position:absolute!important; left:-131px; margin:0!important;}
*:first-child+html #publisky_der { display:block; position:absolute!important; left:1012px; margin:0!important;}
* html #publisky_izq{ display:block; position:absolute!important; left:-131px; margin:0!important;}
* html #publisky_der{ display:block; position:absolute!important; left:1012px; margin:0!important;}

