﻿
html * {
		margin:0px;
		padding:0px;
}

/* Algemene opmaak */
/* ************************************* */

a 			{color: #b81116; text-decoration: none;outline: none;}
a:hover 	{color: #3a4e5f; text-decoration:underline;}
li a:hover 	{text-decoration:none;}  
 
h1 			{color: #000000; font-size: 22px; line-height:26px; margin: 19px 0px 10px 0px;padding: 0px; font-weight:normal; clear:both; width:540px;}
h1.newsH1	{width: auto !important; }
h2 			{color: #ff0000; font-size: 1.0em; margin:12px 0 0 0;} 
h2.function {text-align:center;}
h3 			{color: #B81116;font-size: 1.0em; margin:0; padding:0px 0 1px 0px;}
h4 			{color: #B81116; font-size: 1.2em; margin-top:0px;}
h5 			{/*color: #B81116; font-size: 1.0em; margin:2px 0 2px 0;padding:0px;*/ }

h6 			{color: #B81116; font-size:	1.0em;margin:0; padding:4px 0 4px 0; }
p			{margin:0 10px 0 0; padding:10px;}

.alt 		{display: none;}
.clear 		{clear: both; font-size: 1px; line-height: 1px; height:1px;display: block;}
.linkpijl 	{padding-top: 4px; margin-right: 4px;}
.right 		{display: block; float: right; margin: 10px 10px 0 10px;}

.pdfLink	{ background:url('http://www.kia.fr/img/pdfIcon.gif') no-repeat left top;padding:5px 0px 5px 25px;}
thead tr 		{background: #002740; color: #fff; font-weight: bold; text-align: left;}
td, th 			{padding: 0px;  vertical-align: top; }

ul 				{list-style-position: outside; list-style-type: none;}
ol 				{list-style-position: outside;}

.logo			{position:absolute; top:80px;margin:0px 0 0 18px; }
.foto,.picture		{float: right; border: none 1px #e1e1e1; margin: 0 0 10px 10px;}
#intro 			{width: 583px; height: 390px;}
#space			{float:left; border:0px dashed red; background:#fff; width:500px;height:2px; clear:both;}
	
.newsItem 		{float:left;padding-bottom:8px;}	

.splitter		{ border-style:solid; border-color:#d5d2cf; border-width: 1px 0px 0px 0px; margin:10px; text-align:left;}

.readmore 		{
	float:left;
	background: url('arrow_readmore.gif') 0px 5px no-repeat ;
	padding-left: 9px;
	text-decoration: none !important;
	margin:1px 8px 11px 0px;
}
a.readmore:hover {color:#3a4e5f;
	background-position: 0px -8px;
}
a.readmore:visited {
	background-position: 0px -8px;
	color:#3a4e5f;
}

.newsList a:visited,
.newsList a:hover { color:#3a4e5f;}
.newsList a:visited .date,
.newsList a:hover .date { 	background-position: 0px -9px; }

.newsList li { display: block; width:520px; margin:0px !important;	list-style-type:none !important; padding-top:2px;}
.newsList a .date { display:block; width: 60px; float:left; cursor:pointer;}
.newsList a .headline { width: 445px; float:left;padding-bottom:0px; cursor:pointer;} 
.newsList a:hover { color:#3a4e5f;background-position: 0px -8px;} 

.newsList p { margin-left: 75px; padding:0px 10px 10px 10px;}
.pressNewsList li {margin-bottom: 5px; }

/* content template */
/* ************************************* */
#experience		{width:980px; height:170px;margin:0px;}

#contentContainer 		
{	width:980px;
}

#content 		
{
	min-height:363px;
	height: auto !important;

	padding: 0px; 
	margin:0px 20px;
	width:940px;
	background-color:#ffffff;
	color:#000;
	position:relative;
}


#content .readmore {
	text-decoration: underline;
}
#content .readmore:hover {
	text-decoration: none;
}

#col1 		{
	float:left;	
	height:100%;
	width:172px;
	margin:0px;
	padding:0px 0px 0px 20px;
	color:#000;
	}

	
#col2 { font-family: Arial, Helvetica, sans-serif; font-size:1.2em; height: 100%;width: 536px; float: left;  margin:0px; padding:0px 10px 15px 10px;}

#col12 { /* (col 1+2)*/
	font-family: Arial, Helvetica, sans-serif; font-size:1.2em;
	float:left;	
	height:100%;
	width:718px;
	margin:0px;
	padding: 0px 10px 0px 20px;
	color:#000;
	
	}


#col23 { font-family: Arial, Helvetica, sans-serif; font-size:1.2em; height: 100%;width: 728px; border-left: 1px solid #d5d2cf;float: left;  margin:0px;  padding:0px 10px 0px 10px;}

#col3 			{ float: right; width: 182px; margin:0px; padding:0px 10px 0px 0px;background :#fff;}

#colToolbox			{float:right;width: 182px; margin:0px; padding:20px 6px 0px 0px;}

#contentPageCol1 	{float: left; width: 175px; height:388px;margin: 0 1px 0 0px;}
#contentPageCol2 	{float: left; width: 175px; margin: 0 0px 0 6px; clear:right;}
#contentPageCol3 	{float: right; width: 175px; margin: 0 0px 0 4px;}

/* contentelementen  */
/* ************************************* */
#col2.content .intro { 
	font-size: 0.9em;
	line-height:1.5em;
	font-weight:bold;
	
}

p.intro { padding-left:0px;}

#col2.content ul { margin-bottom:10px;}
#col2.content ul li { list-style-position:inside !important; }


.contentHeaderSplitter { line-height:1px; font-size:1px; height:1px; clear: both; display: block;  background:url('bgContentHeaderSplitter.gif') repeat-x left top;}

#col2.content .subheader { 
	color: #B81116;
	font-weight:bold;
}
#col2.content .contentPicture {
	float:right;
	margin: 5px 10px;
}

#col2.content p {
	margin:0px 10px 10px 0px;
	padding: 0px;
}

#col2.content h5 {
	margin:10px 0px 0px 0px;
	padding:0px;
	font-size:1.0em;
}

#col2.content p a {
	text-decoration: underline; }
#col2.content p a:hover {
	text-decoration: none; }


#col2.content ul li { 
	list-style-type:disc;
	list-style-position:outside;
	
}
#col2.content ol li { 
	list-style-position:outside;
	margin-left:20px;
}

/* SITEMAP */
#sitemapLeft {
	width:545px;
	float:left;
	
}
#sitemapRight {
	width:150px;
	float:left;
	padding: 0px 10px;
	border:1px solid #cccccc;
	margin-bottom:10px;
}


#sitemapLeft a,#sitemapRight a { color: #000000; font-size:1.0em}
#sitemapLeft li ul a,#sitemapRight li ul a { color: #666666; font-size:1.1em  }
#sitemapRight li ul a { font-weight:bold;}
#sitemapRight li li ul a { font-weight:normal; }
#sitemapLeft a:hover,#sitemapRight a:hover { color: #b3000f; }
#sitemapLeft h5 { color: #4c4c4c; padding: 6px 10px; font-size:1.1em; }

#sitemapLeft li.model { 
	float:left;
	width:170px;
	padding:5px 10px 0px 0px;
	border-right:1px solid #ffffff;
	font-weight:bold;
}
#sitemapLeft li.rightModel { border-right:none; }

#sitemapRight li { 	font-weight:bold; list-style-type:none;color: #000000;margin-top:5px; }


#sitemapLeft li ul 
{
	background:url('bgContentHeaderSplitter.gif') repeat-x left bottom;
	padding-top:3px;
	padding-bottom:10px;
	border-bottom:0px solid #ffffff;
}
#sitemapRight li ul { 
	padding-top:3px;
	background:url('bgContentHeaderSplitter.gif') repeat-x center bottom;
	padding-bottom:10px;
	margin-left: 1px;
	border-bottom:0px solid #ffffff;
}
#sitemapRight li li ul { background:none; }
#sitemapRight li ul li ul { margin-left:10px;}

#sitemapLeft li.bottomModel ul,#sitemapRight li.bottomItem ul { border-bottom: none; background:none }

#sitemapLeft li ul li,#sitemapRight li ul li { 
	font-size:0.9em;
	font-weight:normal;
	line-height:16px;
	margin-top:0px;
	
}
/* Model Menu */
/* ************************************* */
#modelmenu {
	display:block;
	width:900px;
	height: 22px;
	background-image: url(bg_menu_model.gif);
	background-repeat:repeat-x;
}

#modelmenu a.modelmenuBtn {
	display:block;
	height:16px;
	padding:3px 15px;
	background-image: url(bg_menu_modelBorder.gif);
	background-repeat:no-repeat;
	background-position:right center;
	float:left;
	color: #000;
	}
#modelmenu a.modelmenuBtn:hover,#modelmenu a.active{
	background-image: url(bg_menu_modelActive.gif);
	background-repeat:repeat-x;
	color: #fff;
	text-decoration:none;
}
/* toolBox content specific*/
/* ************************************* */
.toolbox 		{width:182px; border:0; }

.toolboxTop 	{ height:11px;  padding:4px 5px 2px 5px; color:#626262; background: #e2e2e2 url('toolboxcontent_top.gif') no-repeat center top;font-weight:bold;font-size: 0.9em;text-transform:uppercase;}
.toolboxMiddle 	{ font-size:1.0em;background: url('toolboxcontent_middle.gif') repeat-y; padding-bottom:10px;}
.toolboxMiddleTools { background-color: #f9f9f9;} 	
.toolboxMiddleDownloads { background-color: #ffffff;} 	

.toolboxBottom 	{height:9px; background: url('toolboxcontent_bottom.gif') no-repeat; line-height:9px; }



 	/*download-panel*/
#Toolbox2 {
	margin: 12px 0px 12px 0px;
	padding: 10px;
	border-top:  1px solid #d8d5d2;
	border-bottom:  1px solid #d8d5d2;
}
#Toolbox2 h3 {
	font-size: 1.6em;
}
#Toolbox2 a {
	margin: 2px;
	display:block;
	padding-left:10px;
	color: #3a4e5f;
	background: url(linkArrowToolbox.gif) 0px 4px no-repeat;
}
 a:hover {
	color: #B81116;
}

#Toolbox2 #topselectie h5 {
	padding: 5px 0px;
	width: 175px;
	color: #b81116;
	font-weight: bold;
}
#Toolbox2 #topselectie li {
	margin-left:15px;
	list-style-type:disc!important;
}

#Toolbox2 .arrowFlash {
	background: url(linkArrowSubmenuActive.gif) 0px 4px no-repeat;
	padding-left:10px;
}

/* pagetools (print, adjust fontsize)*/

#tools { 
	display:block;
	float:right;
	padding:24px 0px 10px 0px;
	height: 20px;
}
#tools a 
{
	border:1px solid #dcdcdc;
	float: left;
	display:block;
	height: 20px;
	width: 36px;
}
#tools a span {
	display:none;
}

.btnTell {
	background: url(btnTell.gif) no-repeat;
}
.btnTell:hover {
	background: url(btnTellA.gif) no-repeat;
}
.btnPrint {
	background: url(btnPrint.gif) no-repeat;
}
.btnPrint:hover {
	background: url(btnPrintA.gif) no-repeat;
}
.btnSmaller { border-width:1px 0px !important;
	background: url(btnSmaller.gif) no-repeat;
}
.btnSmaller:hover {
	background: url(btnSmallerA.gif) no-repeat;
}
.btnLarger {
	background: url(btnLarger.gif) no-repeat;
}
.btnLarger:hover {
	background: url(btnLargerA.gif) no-repeat;
}

/* SPECS & PRICES  (Accordion-script)*/
#accordion {
	margin-right: 10px;
	margin-top:5px;
	font-family:Tahoma,Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}


.toggler {
	background-color: #d2dee8;
	/*cursor: pointer; */
	color: #3a4e5f;
	background-repeat: no-repeat;
	background-position: 5px center;
	padding:4px 10px; 
	border-color: #e0e6ec;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	display:block;
}
 

.specsWhite {
	background-color: #ffffff;
	padding-left: 10px;
	border-color: #e0e6ec;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
}
.specsBlue {
	background-color: #eef2f7;
	padding-left: 10px;
	border-color: #e0e6ec;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
}


.specsLabel {
	float:left;
	width: 255px;
	padding:5px 0px 0px 0px;
}
.specsItem {
	float:left;	
	width: 182px;
	padding:5px 5px 2px 5px;
	border-color: #e0e6ec;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
}

.specsModel {
	background-repeat: repeat-x;
	background-image: url(bg_specsModel.gif);
	background-position:left bottom;
	padding-left: 10px;
	font-weight:bold;
	border-color: #e0e6ec;
	border-style: solid;
	border-width: 1px;
}
.specsModel .specsLabel {
	text-align:right;
}

.specsModelItem {
	float:left;	
	width: 182px;
	padding:2px 5px 0px 5px;
	border-color: #e0e6ec;
	border-style: solid;
	border-width: 0px 0px 0px 1px;

}
.specsModel select {
	width: 180px;

}

.specsPrice{
	background-color: #B81116;
	padding-left: 10px;
	color: #ffffff !important;
	font-weight:bold;
	border-color: #e0e6ec;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
}

.specsPrice .specsLabel {
	background-color: #B81116;
	text-transform: uppercase;
}
.specsPrice .specsItem {
	font-size: 1.0em;
}

/* NEWS */

#newsItems {
	padding-top:10px;
	margin-top:10px;
	 
}
#newsItems li 
{
    padding:5px 0px;
	margin: 0 10px 0px 0;	
}

#newsItems li p { padding:5px 0 0 0; }
/*#newsItems li h5 { margin-top:-10px;}*/
#newsItems li h5 a { font-size:22px; line-height:28px; color: #262626; font-weight:normal; }
#newsItems li h5 a:hover { text-decoration:underline;}
#newsItems li .readmore
{
	display:block;
	float:none;
	margin-bottom: 20px;
}

#newsItems .NewsDate 
{
	display:block;
	color: #4c4c4c;
	font-weight:bold;
	font-size:0.9em;
}
 a.newsPic{
	display:block;
	float:left;
	margin:5px 10px 0px 0px;
	position:relative;
}

#newsItems  a.newsPic  { float:right; margin:5px 0px 15px 10px;}

a.newsPic img {
	border:1px solid #b1b1b1;
}
a.newsPic img.zoom 
{
	position:absolute;
	bottom:0px;
	right:0px;
	border:none;
}

/* occasion -search-*/
.occasionSelect {
	width: 240px;
	margin: 0px 0px;
	float:left;
}

.occasionSelect label {
	display:block;
	padding: 0px 0px;
	float: left;
}

.occasionSelect select {		
	display:block;
	width: 230px;
	float: left;
}
#ocN {
	display:block;
	margin:15px 170px;
	font-size:1.2em;
}
#ocN span {
	color:#c71300;
}
#btn_zoekOccasion {
	font-size:11px;
	font-weight:bold;
	cursor:pointer;
	margin:5px 181px;
}

	/*resultpage*/
#occasionResults li {margin-bottom: 28px;}
#occasionResults li .title {display:block; overflow: hidden;}
#occasionResults li .title h3 {display:block;float:left;}
#occasionResults li .title .price, #occasionDetail .price {display:block;float:right;font-weight:bold;}
#occasionDetail .price {font-size:1.2em;}

#occasionResults .occasionSpecs {display:block;float:left; width: 165px;line-height:16px;margin-right:17px; font-size:0.85em;}
#occasionResults .occasionSpecs dt {display:block;float:left;clear:left;width:85px;height:16px;padding:2px 0;overflow:hidden;color:#5f5e5e;border-bottom: 1px solid #D5D2CF;}
#occasionResults .occasionSpecs dd {display:block;float:left;width:70px;height:16px;padding:2px 0;overflow:hidden;border-bottom: 1px solid #D5D2CF;}
#occasionResults .occasionSpecsRight { margin-right: 0px !important;}
#occasionResults .carImage {float:left;margin-right:10px;border:solid 1px #d7d7d7;width:169px; min-height:80px; height:auto !important; height:80px;display:block;}
#occasionResults .carImage img {width:169px;}
#occasionResults .readmore {display:block;float:right;font-size:0.85em;width:93px;margin:15px 20px 0 0;background-position:left 3px;}
#occasionResults .readmore:hover {background-position:left -10px;}

	/* detail*/
#occasionImages	
{   position:relative;
	float:left;
	width:100%;
}
#occasionImages	#occasionImage {
	display:block;
	margin: 0 auto;
	max-width:425px;
	height: 286px;
	border:solid 1px #d7d7d7;
}	
div.scrollable { position:relative; width:88px;height:238px; overflow:hidden;} 
 
div.scrollable div.items { position:absolute; height:20000em; overflow:hidden;}


#occasionThumbs {display:block;float:right;width:88px;height:286px;padding:0px 7px 0px 7px;overflow:hidden;background: url('bg_occasion.gif') no-repeat 0 0;}

.prevPage,
.nextPage { height:24px; display:block; cursor: pointer;  }
.prevPage:hover,
.nextPage:hover { text-decoration: none; }

.prevImage,
.nextImage { top:0px;  background-repeat:repeat; background-image:url(spacer.gif); height:286px; width:140px; position:absolute;  display:block; cursor: pointer; }
.prevImage { left: 30px;}
.nextImage { right: 30px; margin-right:102px;}
.prevImage:hover {  text-decoration: none; background-image:url(arrow_left_occasion.png); background-position:left center; background-repeat:no-repeat;}
.nextImage:hover {  text-decoration: none; background-image:url(arrow_right_occasion.png); background-position:right center; background-repeat:no-repeat;}

#occasionThumbs .items a {
	border: 1px solid #ffffff;
	float:left;
	margin:2px 0;
}
#occasionThumbs .items a.active {
	border: 1px solid #B81116;
}
#occasionThumbs .items a:hover {
	border: 1px solid #D5D2CF !important;
}
#occasionThumbs .items a.active:hover {
	border: 1px solid #B81116 !important;
}
#occasionThumbs .items a img {height:58px;border:none;}
#occasionDetail h2 {
	font-size:1.1em;
}
#occasionDetail dl {display:block;clear:both;width:427px;margin-bottom:10px;}
#occasionDetail dt, #occasionDetail dd {display:block;float:left;height:17px;line-height:17px;border-bottom:solid 1px #d3d3d3;color:#5f5e5e;font-size:0.9em;}
#occasionDetail dt {width:120px;padding-right:5px;clear:left; font-weight:bold;}
#occasionDetail dd {width:302px}
#occasionDetail h5 { margin-top:5px; }

#pnlOccasionDealer {}
#pnlOccasionDealer h5 { text-transform:uppercase; font-size:13px; color: #666666; font-weight:bold; }
#pnlOccasionDealer {}
#pnlOccasionDealer {}

.pnlSquare { border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; width:170px; margin-top:5px;}
.pnlSquareInner {border-left:1px solid #cccccc; border-right:1px solid #cccccc; width:160px; margin:0 -1px; padding:7px 5px;}
.pnlSquareInner p { color: #3c3c3c; font-size:11px; margin:5px 0px; padding:0px;}


#extraOpties li {
	width: 240px;
	line-height:18px;
	float:left;
	padding-left:10px;
	background: url(bullet.gif) no-repeat left 8px;
}
#occasionDetail p {
	padding:0px;
	margin:10px 10px 10px 0px;
}
#occasionDetail #dealers { border: 1px solid #d5d2cf; width:500px;}

#occasionDetail .dealer {
	background-color: #e2ebf3;
	float:left;
	margin:0px;
	padding:5px 10px;
	width: 230px;
}

/* FAQ */

blockquote#faqselect label	{width: auto; font-weight: bold; margin: 0 10px 0 2px;}
blockquote#faqselect select {width: 200px; margin-right:20px;}
#faq li {
	list-style-type:none!important;
	list-style-position:outside !important;
	line-height:20px;
}
#faq li a{
	color: #b81115;
	padding-left: 10px;
	background: url(arrow_readmore.gif) no-repeat scroll 0 5px ;
}

#faq li a:hover{ color: #666666; background-position:0px -8px;}


.faqcontact { 
	margin: 10px 0px !important;
	border: 1px solid #d5d2cf; 
	padding:5px 10px !important;
	background-color: #e2ebf3;
}
/* DEALERFIND*/
#search .readmore {
	float: none; 
}
#search label {
	width:500px;
	display:block;
}
#search input,#search select {
	margin: 5px 10px 5px 0px;
	width: 210px;
	font-size:10pt;
	float:left;
}
#search select { margin-right: 14px; }

#search .search {
	background-color: #b30005;
	color: #ffffff;
	padding:0px 10px;
	font-weight:bold;
	font-size:11px;
	height: 20px;
	line-height:18px;
	margin-top:4px;
	position:relative;
	float:left;
	text-decoration:none;
}
.btnCorner 
{
	background-color: #b30005;
	color: #ffffff;
	padding:0px 10px;
	font-weight:bold;
	font-size:11px;
	height: 20px;
	line-height:18px;
	position:relative;
	display: -moz-inline-block;
	display: inline-block;	
	text-decoration:none;
}
.btnCorner:hover { color: #ffffff; text-decoration:none;}
.btnCornerPx { position:absolute; width:1px; height:1px;line-height:1px; font-size:1px;background-color: #e09ea0; }

#searchSmall {
	padding:10px;
	margin-top:75px;
}

#searchSmall select{
	width: 140px;
}

#searchSmall .radio {
	width: 140px;
}

#searchSmall .radio input {
	float:left;
}
#dealerCol { margin-top:75px;}
/* hack voor IE6 en IE7 om de twee pixel top-margin 
en de twee extra pixels formfield rendering tegen te gaan. */
* html div#searchSmall .radio input,
*+html div#searchSmall .radio input {
	margin-top:-2px !important;
}
/* einde hack */

#searchSmall .radio label {
	display:block;
	clear:none;
	width:110px;
}

#searchresult {
	margin-top:10px;
	margin-right: 10px;
}
#searchresult li {
	list-style-type:none !important;
	list-style-position:outside!important;
	padding: 5px 0px;
}

#searchresult a {
	display:block;
	font-weight:bold;
	
}
#searchresult span.highlight {
	font-weight:bold;
	color: #B81116;	
}

#dealersfound li{
	list-style-type:none !important;
	list-style-position:outside !important;
	border-top: 1px solid #D5D2CF;
	margin: 0px 10px;
}

#pcSearch { font-size:12px;border-color: #d5d2cf; border-style:solid; border-width: 1px 0px 1px 0px; padding:5px 0px 15px 0px; margin-bottom:10px;}
#pcSearch input { width: 50px; float:left; margin-right:5px; }
#pcSearch .search {  display:block;height:18px; width: 75px;float:left;margin:4px 0px 0px 0px !important; padding:0px !important; text-decoration:none !important;}
#foundCity { display:none;margin-top:5px;}
#postalcodeError { color:red;display:none;margin-top:5px;}
h6.searchLabel { font-size:12px; color:#000000;}
#pcSearch .plzMarker { float:left; margin-right: 10px;}

#dealersfound .readmore {
	background-position: 0px 5px;
	text-decoration:none;
	font-weight:normal;
}
#dealersfound a:hover.readmore {
	text-decoration:underline;
}


#dealersfound p {
	float:left;
	width: 230px;
}
#leasePrice p { width: 450px;}

#leasePrice span {
	float:left;
	display:block;
	width: 250px
}
#leasePrice span.label {
	font-weight:bold;
	width: 200px;
}
#btn_offerte {
	margin-top:10px;
}



/* no flash page*/
#noflashItems li {
	margin-right: 10px;
	padding: 10px 0px;
		
	border-bottom: 1px solid #e7e7e7;
}

#noflashItems .noflashPic{
	display:block;
	float:right;
	padding:5px;
}

a.noflashPic img {
	border:1px solid #e8e6e7;
}

#accordion .element {
/**/	height: auto !important;
}


/* ALL MODELS*/
#allmodels {
		position:absolute;
		background-color:#ffffff;
		width:695px;	
}


.AMpanel{
	float:left;
	width: 218px;
	margin: 0px 0px 7px 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #efefef #efefef #d3d3d3 #efefef ;
	background-color:#ecf3f9;
}
.AMpanel:hover {
	border-color: #b30004;
	cursor: pointer;
	text-decoration:none;

}


#allmodels .AMpic {
	width: 198px;
	text-align:center;
	background:  url(bg_allmodels.gif) repeat-x center bottom #ffffff;
	padding:10px;
	border-bottom: 1px solid #ffffff;
}
#allmodels .AMmodel {
	font-weight: bold;
	background: url('linkArrow.gif') 0px 4px no-repeat;
	padding-left: 10px;
	font-size:0.9em;
}
#allmodels .AMprice {
	color: #B81116;
	font-size:0.8em;
	font-weight:bold;
	margin-left: 15px;
}
#allmodels .AMinfo {
	margin: 5px 10px;
	color:#000000;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

#allmodels ul {
	margin: 5px 0px 5px 5px;
}
#allmodels li {
	list-style-type:square;
	line-height:14px;
	font-size:0.8em;
	list-style-position:outside;
	color:#4b4f52;
	margin-left:10px;
}


div.previous{ margin-right: 10px; float:left;text-align: left; }



#col2 div.pagePrevious a  { background:url("articleBack.gif") no-repeat scroll right 6px transparent; padding-right:8px; }
#col2 div.pageNext a  { background:url("articleNext.gif") no-repeat scroll left 6px transparent; padding-left:10px; }
#col2 div.pageNext{ text-align:right; }
#col2 div.pageNext, #col2 div.pagePrevious  { width:100px;}
#col2 div.pageNext,  #col2 div.previous,  #col2 div.pagePrevious { display:block;}

#col2 div.pagePrevious, #col2 div.pageNumbers, #col2 div.pageNext {	padding:0px 0px 0px 0px; float:left; }
#col2 span.pagingPoints, #col2 div.pagePrevious a, #col2 div.pageNumbers a, #col2 div.pageNext a { color:#858585; } 

#col2 div.pageNumbers {	 margin:0px auto; text-align:center; width:336px; }
#col2 div.pageNumbers .disabled {  color:#000000; } 
#col2 div.pageNumbers .disabled:Hover {	text-decoration:none; }
#col2 div.pagingBar {  margin-top:5px;  }
#col2 h1.invisible { display:none; }


/*#col2 div.pageNo { display:none; }*/
/* background:url("../img/articleBack.gif") no-repeat scroll right 2px transparent; */


div.extraTopSpacing { margin-top:20px;}

a.previous {
	line-height:40px;
}
#col2 div.next,#col2 div.previous { width: 80px;}
#col2 .pageNoShow {width:350px; display:block;}
.previous a,a.previous {
	padding-right: 10px;
	color: #858585;
	background: url('articleBack.gif') right 2px no-repeat ;
	font-size:0.8em;
	text-transform:uppercase;
	font-weight:bold;
}

.next {
	margin-left: 10px;
	float:right;
	display:block;
	text-align: right;
}
.next a {
	padding-left: 10px;
	color: #858585;
	font-size:0.8em;
	text-transform:uppercase;
	font-weight:bold;
	background: url('articleNext.gif') left 2px no-repeat ;
}
.next a:hover, .previous a:hover {text-decoration:underline;}

.pagingWrapper { width:100%;overflow: hidden; margin:5px 0px;}

.pageNo
{	width:270px;
	float:left;
	display:none;
	text-align: center;
}
.pagingbalk {display:block;line-height:18px;height:18px;padding-top:2px;margin:10px 0px;border-top:dashed 1px #c4c4c4;border-bottom:dashed 1px #c4c4c4;}
.pagingbalk .pageNo { width: 120px !important; }

#infoWinDealer { 
	font-size:11px;
}
#infoWinDealer h3 { 

	font-size:14px;
}
#infoWinDealer h4 { 

	font-size:12px;
}
#infoWinDealer table { 
	padding: 3px 0px 5px 0px;
}

#infoWinDealer td {
	padding: 2px 10px 2px 0px;
	vertical-align:top;
}

#priceTable {
	font-family:Tahoma,Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	width: 670px;
	font-weight:bold;
	text-align:center;
	border-collapse:collapse;
	border-right:1px solid #e0e6ec;
}

#priceTable TH { color: #ffffff;font-size:0.9em;padding:3px 5px;}
#priceTable TD { color: #000000;padding:3px 5px;border-bottom:1px solid #e0e6ec; border-left:1px solid #e0e6ec; }


#priceTable TH.infoDarkBlue {
	background-color: #3a4e5f;
	width:90px;
	border-bottom: 1px solid #c3ccd4;	
	border-top: 1px solid #c3ccd4;	
	border-right: 1px solid #c3ccd4;
}
#priceTable TH.infoDarkBlue.firstCell { border-left: 1px solid #c3ccd4;}


#priceTable TH.infoRed {
	background-color:#b30005;
	border-bottom: 1px solid #e0e6ec;	
	border-left:1px solid #e0e6ec;
	border-top:1px solid #e0e6ec;
}
#priceTable TR.fuel TH {
	background-color:#d2dee8;
	color: #3a4e5f;
	text-align:left;
	border-bottom: 1px solid #e0e6ec;	
	border-left: 1px solid #d2dee8;	
	text-transform:uppercase;
	padding-left: 20px;
}
#priceTable .fuel .firstCell { border-left: 1px solid #e0e6ec;
}

#priceTable TR.infoBlue TD {
	background-color:#eef2f7;
	border-left:1px solid #d1dae5;
}

#priceTable TD.firstCell {
	border-left:1px solid #e0e6ec !important;
}

#priceTable p,#priceTable td p,#priceTable th p {padding:0px; margin:0px; }
/* BOUTIQUE
=========================================*/

#boutiqueItems { width: 505px; border:1px solid #f3f3f3;margin-bottom:5px;}
#boutiqueItems.boutiqueOverview { border: none !important;}
#boutiqueItems li { margin:0px !important;padding:0px !important; display:block;list-style-type:none !important; list-style-position:outside !important; }

.boutiqueHeader { background: url('boutique_bg1.gif') repeat-x top center; width: 505px; height: 37px; color: #b30005; font-family: Verdana, Arial, Helvetica, sans-serif;}
.boutiqueHeader h3 { float:left; width: 285px; padding:0px 5px; font-size:12px; line-height:23px;}
.boutiqueHeader h4 { float:left; width: 135px; font-size:17px; line-height:23px;text-align:right; }
.boutiqueHeader h5 { float:left; width: 75px; font-size:11px; line-height:23px;font-weight:normal; text-align:center;}

.boutiqueHeaderOverview { background: url('boutique_bg1.gif') repeat-x top center; width: 505px; height: 37px; color: #b30005; font-family: Verdana, Arial, Helvetica, sans-serif;}
.boutiqueHeaderOverview h3 {font-size:12px; line-height:23px !important; }
#boutiqueItems .thumb { width: 70px;float:left;padding:0px 5px;  text-align:center;   }
#boutiqueItems .qty { width:60px;float:left;line-height:45px; text-align:center;  }
#boutiqueItems .product { width:275px;float:left;  line-height:45px; }
#boutiqueItems .price { width:60px;float:left;line-height:45px;   }


.boutiquePic {float:left; padding:10px;}

.BoutiqueSubItems { float:right;  width:240px !important; margin-bottom:15px; } 
.BoutiqueSubItems li { display:block;text-align: left; clear:both; }
.BoutiqueSubItems li label { width: 210px; background:url('boutique_bg2.gif') repeat-y right center; line-height:19px; margin-top:4px;font-family: Tahoma, Arial, Helvetica, sans-serif;font-size:11px;}
.BoutiqueSubItems li input { width: 16px; height:17px; border:1px solid #d4d0c8; padding:0px 2px; margin-left:-3px; }

.boutiqueTotal { font-weight:bold;height:40px;background:url('boutique_bg3.gif') repeat-x bottom center; /*border-top:1px solid #f3f3f3;*/ }


p.btnBoutique {
	float:right;
}
p.btnBoutiqueRetour {
	float:left;
}




#dealerHeading {
	background: url('bg_dealer.gif') repeat-x center top;
	height: 24px; 
	line-height: 24px; 
	font-weight: bold; color: #FFF; 
	text-align:left;
	width: 886px !important;
	padding-left:15px;
}

.dealerOpeninghours td  
{
	padding-right: 10px;
}


/* noflash
==================================================== */
#colActueel.highlight {  width:185px; padding-left:10px;}
#colActueel.highlight h2 { color: #B01116; font-size:16px; }
#colActueel.highlight ul { list-style-position:outside;  }
#colActueel.highlight li  { list-style-type: disc; font-weight:bold; margin-left:15px;font-size:11px; color:#585858; line-height:20px;}
#colActueel.highlight p.redright  { margin:0px;color: #B81116; font-weight:bold;font-size:11px;text-align:right; }

/* 
==================================================
Set visibility
*/
.invisible { visibility:hidden; display:none;}

/* KIA FR dealer*/
.dealertoolboxFR .toolboxMiddle {
	min-height: 0px !important;
}

#dealerLogin {
	width:300px;
	float:left;
}

#dealerLogin label {
	width: 80px;
	margin-right:10px;
	float:left;
	text-align:right;
}
#dealerLogin input {
	float:left;
	width:205px;
}
#dealerLogin .submit {
	width:auto;
	margin-top:15px;
	float:right;
}

#dealerLoginContent {
	float:right;
	width:250px;
	margin-right:30px;
}
#dealerLoginContent ul {
	margin-left:10px;
}
#dealerLoginContent li {
	display:block;
}
#dealerLoginContent li a {
	margin: 2px;
	padding-left:10px;
	color: #000;
	text-decoration:underline;
	background: transparent url(arrow_readmore.gif) no-repeat scroll 0 5px;
}
#dealerLoginContent li a:hover {
	color: #B81116;
	text-decoration:none;
}

.downloadList,.newsList {
	list-style-position:outside;
}



.downloadList li {
	/*background: transparent url(../img/arrow_readmore.gif) no-repeat scroll 0 5px;*/
	list-style-type:none !important;
	margin:0px 0px 5px 5px !important; 
}

.downloadList .readmore,.newsList .readmore,.imageLibraryList .readmore { float:right !important; margin-right:25px;}
/* .readmoreRight { float:right !important; margin:1px 25px 0px 8px;} */
.imageLibraryList {list-style-position:outside; margin-top:5px;}
.imageLibraryList li {
	width: 165px;
	height:180px;
	float:left;
	list-style-type:none !important;
	margin:0px 5px 5px 0px !important; 
}

.downloadLink { float:right; display:block; width:11px; height:11px; padding:2px 5px; background: url('download.gif') no-repeat center center;}
.date { color: #8f8f8f; font-size:0.8em; margin-right:5px; background: transparent url(arrow_readmore.gif) no-repeat scroll 0 4px;  padding-left:10px;}
.downloadType { color: #8f8f8f; font-size:0.8em;}

/* JOBS & Profiling */
.jobSummary { background-color: #f0efee; padding: 14px 9px 14px 14px; font-size:0.8em; width:480px; margin-bottom:10px;}
.jobSummary table { float:left; width: 235px;margin-right:5px; }
.jobSummary table th { width:115px; padding:2px 5px 2px 0px; }
.jobSummary table td { width:115px; padding:2px 0px; }

.jobSearch { background-color: #f0efee; padding: 14px 9px 14px 14px; font-size:0.8em; width:480px; margin-bottom:10px;}
.jobSearchCol { float:left;width: 235px;margin-right:5px;}
.jobSearch .search { float:right; margin-right:10px; width:auto; }
.jobSearch input { float:none; margin:0px; padding:0px; line-height:normal; }
.jobSearch .jobSearchCol select  { width:200px;}
.jobSearch .jobSearchCol input  { width:200px;}
.jobSearch label { float:none; margin:0px; padding:0px; font-weight:bold; height:auto; width:auto; line-height:normal;}

ul.jobList li { background:url('bullet.gif') no-repeat 10px 13px; list-style:none none !important; margin: 5px 15px 5px 0px !important; padding: 7px 10px 7px 25px; }
ul.jobList li.grey { background-color: #f0efee;}

ul.jobList li a { font-weight:bold;}
ul.jobList li a:hover {  text-decoration:underline;}
ul.jobList li .jobSpec { margin:2px 0px; font-size:0.8em;}

/* Modelchapter Navigation */
#modelChaptersNavigation { visibility:hidden; position:absolute; width:134px;z-index:998; margin-left:6px; top: 185px !important;}
#modelChaptersNavigation .handle {  margin-top:10px; margin-right:6px;z-index:999; text-indent: 0 !important; padding-right:2px; color:#4e4e4e; font-weight:bold; font-size:12px; text-transform:uppercase; text-align:center; padding-top:10px; width: 22px;background:url('modelChaptersNavigationHandleCorners.png') no-repeat left top;} 
#modelChaptersNavigation .handle .handleTop { cursor:pointer;display:none; height:10px;line-height:1px; }
#modelChaptersNavigation .handle .handleLabel { cursor:pointer;display:block; background:url('modelChaptersNavigationHandle.png') repeat-y left top;  }
#modelChaptersNavigation .handle .handleBottom { cursor:pointer;display:block; height:10px; line-height:1px;background: url('modelChaptersNavigationHandleCorners.png') no-repeat -140px top;}

#modelChaptersNavigation .handleHover { text-decoration:none;}
#modelChaptersNavigation .handleHover { background-position: -70px 0 !important;}
#modelChaptersNavigation .handleHover .handleLabel  { text-decoration:none; background-position:-70px 0 !important; color:#fff; }
#modelChaptersNavigation .handleHover .handleBottom { background-position: -210px 0 !important;}

#modelChaptersNavigation h3 {border-bottom:1px solid #c1bfbf; color:#2e2e2e; padding:5px 6px 1px 4px;background:url('modelChaptersNavigationTop.png') no-repeat left top; width:124px;}
#modelChaptersNavigation ul { background:url('modelChaptersNavigationMiddle.png') repeat-y left top; width:128px; padding-right:6px; /*min-height:130px; height:auto !important; height:130px;*/}
#modelChaptersNavigation ul li { border-bottom:1px solid #c1bfbf; } 
#modelChaptersNavigation ul li a { padding:4px 2px 4px 7px;color:#2c2c2c;background-color:#ffffff; width:119px;display:block;font-size:10px; font-weight:bold;} 
#modelChaptersNavigation ul li a.hover,
#modelChaptersNavigation ul li.open a { background-color:#b80005;color:#ffffff;  } 
#modelChaptersNavigation ul li a.active, #modelChaptersNavigation ul li.open ul li a.active  { color:#b80005; } 
#modelChaptersNavigation ul li.open a.active { color:#ffffff; }  

#modelChaptersNavigation ul li ul { display:none; min-height: 1px !important; background-image: none; border-top:1px solid #c1bfbf; width:128px; padding-right:0px;}
#modelChaptersNavigation ul li ul li { border-top:1px solid #e0e0e0; border-bottom-width:0px;}
#modelChaptersNavigation ul li ul li a,
#modelChaptersNavigation ul li.open ul li a { background-color:#ffffff;color:#626262;padding-left:16px; width:110px; }
#modelChaptersNavigation ul li ul li a.hover { background-color:#ffffff;color:#b80005;}
 
#modelChaptersNavigation .mcNavBottom { display:block;background:url('modelChaptersNavigationBottom.png') repeat left bottom; width:134px; height:15px;}

.contentHider { position: absolute; height: 500px; top: 185px; left: -250px;width:250px;background-color:#fff; z-index:999;}
.highslide-container { color:#000000;}
.hsForm .highslide-html { }


.popupPanelForm, .popupPanelFormExternal { width:574px; background-color: #4c85bf; padding-bottom:0px; color:#000;} /* margin:15px 0px 15px 15px; */
.popupPanelFormInner { background-color:#ffffff; margin:0px 20px;width:534px; height:424px;}
.popupPanelFormExternal .popupPanelFormInner { height:auto ;}

.popupPanelFormTop { background: url('popupPanelFormCorners.png') no-repeat left top;  width:574px; height:20px;}   
.popupPanelFormTop #mcHeaderPopup, .popupPanelFormExternal #mcHeaderPopup {padding: 15px 0 0 20px; }
.popupPanelFormBottom { height:14px; padding:0 0 4px; text-align:center; background: url('popupPanelFormCorners.png') no-repeat right bottom; } /* height:11px; margin-top:20px */
.popupPanelFormBottom .closeButton { background:url('btn_close.png') no-repeat left 3px; padding-left:14px; color:#ffffff; font-weight:bold; font-size:12px;}
.popupPanelFormTop .closeButton { margin:10px 10px 0px 0px;float:right; text-transform: uppercase;background:url('btn_close.png') no-repeat right 3px; padding-right:14px; color:#ffffff; font-weight:bold; font-size:11px; }
.popupPanelFormTop .closeButton:hover { text-decoration: none;}
.popupPanelFormTop .closeButton .closeLabel { border-bottom:1px solid Transparent;}
.popupPanelFormTop .closeButton:hover .closeLabel { border-bottom-color: #fff;}



#popupFormTestDrive .popupPanelFormExternal,
#popupFormBrochure .popupPanelFormExternal  { width:574px; padding-bottom:0px; }
#popupFormTestDrive .popupPanelForm , #popupFormBrochure .popupPanelForm { width:574px; padding-bottom:0px; height:530px; overflow:hidden;} 
#popupPanelFormDealerFinderid .popupPanelFormTop, #popupFormBrochure .popupPanelFormTop, #popupPanelFormid .popupPanelFormTop, #popupPanelFormTestDriveid .popupPanelFormTop { background: url('popupPanelFormCorners_black.png') no-repeat left top; width:574px; height:88px;}
#popupPanelFormDealerFinderid .popupPanelFormTop { height:65px; }

#popupFormTestDrive .popupPanelFormBottom, #popupFormDealerFinder .popupPanelFormBottom, #popupFormBrochure .popupPanelFormBottom { background:transparent url(popupPanelFormCorners_black.png) no-repeat scroll right bottom; }


.popupSteps { padding:7px 20px; min-height:16px; height:auto; height:16px;width:496px; background:url('bg_popupSteps.gif') no-repeat left top; margin-bottom:8px;}
.popupSteps ul { list-style: none none; }
.popupSteps ul li { display:block; float:left; padding-right:6px; font-size:12px;}
.popupSteps ul li a { color:#000000; }
.popupSteps ul li a.active { color:#b3000f; }
.popupSteps ul li a.disabled { color:#999999; cursor: default; } 
.popupSteps ul li a, .popupSteps ul li a.active, .popupSteps ul li a.disabled { text-decoration:none; }

#popupBrochureStep1 {}
#popupBrochureStep2 { padding-bottom:10px; }
.column1TestDrive  { float:left; width:100px; padding-left:20px; }
.column1TestDrive .centerDiv { text-align:center; }
.column1TestDrive img {  padding:10px 0px}
.column2TestDrive  { float:left; width:260px; padding-left:20px;}

#popupBrochureStep3, #popupBrochureStep4 { padding-left:20px; padding-right:20px; padding-bottom:10px; }
.popupBrochureStep4 { text-align:center; background-color:#F3F3F3; /*border:1px solid #E5E5E5;*/ padding-bottom:20px; border-top:0px; }
#popupFormBrochure #popupBrochureStep3 { background:transparent url(bgContentHeaderSplitterBlue.gif) repeat-x scroll left bottom; margin-bottom:60px; margin-top:10px;}
.popupBrochureStep4 img {margin-left:150px; padding-right:150px; margin-bottom:20px; }
.popupBrochureStep4 a.dfSubmit { margin-left:auto; margin-right:auto; background-color:#fff; margin-top:10px; display:block; color:#ffffff;font-weight:bold; font-size:10px;padding-top:4px; text-align:center; width:115px; height:16px; background:url('btn_brochure_dynform.gif') no-repeat center top;}
.popupBrochureStep4 span.liWantBrochureTitle { font-weight:bold;  }
.popupBrochureStep4 span.liWantBrochureTitle, .popupBrochureStep4 span.liWantBrochureSubtitle { font-size:13px; }

#popupBrochureStep3, #popupBrochureStep4 { border:1px solid #e5e5e5; background-color:#f3f3f3; min-height:400px; height:auto !important; height:400px; padding:10px 22px; width:490px; }
#ctl26_tdTestDrive_popupBrochureStep4 {z-index:9999; margin-top:-350px;}
#popupBrochureStep3 { min-height:50px; /*border-bottom:0px;*/ }

/* border:1px solid #e5e5e5; baclground: #f7f7f7 */
#popupFormTestDrive .popupImageOverview, #popupFormBrochure .popupImageOverview { background: url('bg_popupImageOverview.gif') repeat-x 0 14px;  }
.popupImageOverview { min-height:316px; height:auto !important; height:316px; margin:0px auto; padding:10px 0px 37px; width:494px; border-bottom:1px solid #E2E2E2  }
.popupImageOverview ul { list-style:none none;}
.popupImageOverview ul li { display:block; float:left; padding:10px 7px;}
.popupImageOverview ul li a { display:block; width:90px; padding:10px 15px 0px 4px; text-align:center; } 
#popupFormTestDrive .popupImageOverview ul li a:hover, #popupFormBrochure .popupImageOverview ul li a:hover { background-color:#f0f0f0; }

/* DE contact*/
.textView { padding-left:20px;}
.DE_formTitle { font-size:28px; color: #565656; padding-left: 65px; display:block;padding-top:17px;padding-bottom:15px }
.DE_formImg { display:block; float:left;}
.DE_calltoaction { font-size:15px;  }
.DE_calltoaction:hover { text-decoration: none;}
#DE_phoneCol,
#DE_emailCol { float:left; width:240px; padding:10px 5px 10px 0px;}




.popupImageOverview ul li a:hover { background-color:#ffffff; }
.popupImageOverview ul li a .modelname { font-size:12px;color:#2f2f2f; display:block; margin-top:5px;}
.popupImageOverview ul li .modelname { font-size:12px;color:#2f2f2f; display:block; margin-top:0px;}
.popupImageOverview ul li a:hover .modelname { color:#b3000f; text-decoration:none; }

#footerTeaserBoxContainer { padding:0px 20px;}
#footerTeaserBoxContainer #teaserBox { background: url('bg_teaserbox.png') no-repeat left top; width:931px; padding:11px 0px 0px 11px; height:124px;}
#footerTeaserBoxContainer #teaserBox .widgetBig,
#footerTeaserBoxContainer #teaserBox .widgetSmall { display:inline; background-color:#ececec; border:1px solid #cccccc;margin-right:10px; float:left;}
#footerTeaserBoxContainer #teaserBox h3 { margin-bottom:10px; color: #3c3c3c; font-size:18px;text-transform:uppercase;}
#footerTeaserBoxContainer #teaserBox input.textInput { font-size:12px; display:block; width:50px; padding:2px 3px; float:left; margin-right:10px;margin-bottom:5px; }
#footerTeaserBoxContainer #teaserBox label {  float:left; width:auto; display:block; color:#3c3c3c; padding-right:7px;padding-top:8px;margin-bottom:10px;}
#footerTeaserBoxContainer #teaserBox select { font-size:12px;display:block;float:left; width:160px; padding:3px; margin-right:10px;margin-bottom:5px !important;}
#footerTeaserBoxContainer #teaserBox .btn_widgetsubmit { color:#6e6e6e; text-transform:uppercase; float:left; margin: 0px; background:url('btn_widgetsubmit.gif') no-repeat left top; text-align:center; text-decoration:none; font-weight:bold;  height: 19px; padding-top:8px; width:162px;}
#footerTeaserBoxContainer #teaserBox .btnVersionCompare { float:left;display:block; text-transform:uppercase;color:#6e6e6e; background:url('btnVersionCompare.gif') no-repeat left top; width:107px;text-decoration:none;  padding-left:55px; height:19px; padding-top:8px; margin-bottom:8px;}

#footerTeaserBoxContainer #teaserBox #widgetCampaign { width: 360px; height:111px; }
#footerTeaserBoxContainer #teaserBox #widgetFindDealer { padding:9px;width: 342px;height:93px; }
#footerTeaserBoxContainer #teaserBox #widgetBuildYourOwn { padding:9px;width: 342px;height:93px; }

#footerTeaserBoxContainer #teaserBox #widgetBuildYourOwn .fromPricePanel { float:left; padding-bottom:5px;font-weight:bold;color: #3c3c3c; font-size:11px;}
#footerTeaserBoxContainer #teaserBox #widgetBuildYourOwn .fromPricePanel .fromPrice { font-size:13px;}
#footerTeaserBoxContainer #teaserBox #widgetOffer { padding:9px;width: 156px;height:93px;  }
#footerTeaserBoxContainer #teaserBox #widgetOffer a { display:block; color:#3c3c3c; text-transform:uppercase; text-decoration:none; }
#footerTeaserBoxContainer #teaserBox #widgetOffer a img { display:block;text-align:center; margin:2px auto;}
#footerTeaserBoxContainer #teaserBox #widgetOffer .modelname { font-size:12px; display:block; padding:1px 0px;}
#footerTeaserBoxContainer #teaserBox #widgetOffer .getbrochure { font-size:10px; display:block;padding:1px 0px;}


#footerButtonbar { background:url('footer_buttonbar.png') no-repeat left bottom; height:25px; width:940px; text-align:left; padding:0px;position:relative;}
#footerButtonbar ul { list-style: none none; padding-left:0px;}
#footerButtonbar ul li { cursor:pointer; float:left; padding:0px; height:25px;background:url('footer_buttonbar_splitter.png') repeat-y  left 2px;  }
#footerButtonbar ul li.firstItem { background-image:none;}
#footerButtonbar ul li .footerbuttonLabel { display:block; color:#fff; font-size:11px; line-height:14px; font-weight:bold; text-transform:uppercase; background-repeat:no-repeat; background-position:15px 5px; } 
#footerButtonbar ul li .footerbutton1 { background: url('btn_footer_buttonbar1.gif') no-repeat 15px 5px; padding:7px 15px 7px 60px;color:#fff; font-size:11px; line-height:14px; font-weight:bold; text-transform:uppercase; }
#footerButtonbar ul li .hoverFooterbutton1 {  background: url('btn_footerButton1Hover.png') no-repeat left top;}
#footerButtonbar ul li .hoverFooterbutton1 .footerbuttonLabel { color:#343434;}
#footerButtonbar ul li .footerbutton2 { background: url('btn_footer_buttonbar2.gif') no-repeat 15px 5px; padding:7px 15px 5px 38px;color:#fff; font-size:11px; line-height:14px; font-weight:bold; text-transform:uppercase;  }

#footerButtonbar ul li .hoverFooterbutton  {  background-color:#fff; background-position: 15px -33px;}
#footerButtonbar ul li .hoverFooterbutton .footerbuttonLabel { color:#343434;}

#switchDealerOverlay { position:absolute; left:-1px;bottom:25px;padding:0px 2px; width: 940px;height:0px; background: url('bg_switchmodelContainer.png') no-repeat left top; overflow:hidden; }

#switchDealerOverlay .browse { margin-top:4px;float:left; display:block; width:24px; background-color:#ffffff; background-image:url('arrow_switchmodel.gif'); background-repeat:no-repeat; height:100px;}
#switchDealerOverlay .prevPage { background-position: 8px 51px; }
#switchDealerOverlay .prevPage:hover { background-position: -28px 51px; }
#switchDealerOverlay .nextPage { background-position: -8px 51px;}
#switchDealerOverlay .nextPage:hover { background-position: -44px 51px;}
#switchDealerOverlay .disabled { background-image:none; cursor:default;}

#bookmarkOverlay { position:absolute; margin-left:-1px;bottom:24px; background: url('bg_bookmarkOverlayLeft.png') no-repeat left top; display:none; padding-left:4px;}
#bookmarkOverlay ul { height:24px;background: url('bg_bookmarkOverlayRight.png') no-repeat right top; padding-right:4px;}
#bookmarkOverlay ul li { background-image:none;}
#bookmarkOverlay ul li a { display:block; margin:4px; }

#footerButtonbar div.scrollable { position:relative; overflow:hidden; width: 882px; padding-top:14px; margin:0px 5px; height:100px; float:left; } 
#footerButtonbar div.scrollable ul { width:20000em; position:absolute; padding:0px; } 
#footerButtonbar div.scrollable ul li { float:left; display:block;height:100px; width:142px; padding:0px 2px 0px 3px; background-image:none;  } 
#footerButtonbar div.scrollable ul li a { display:block; height:100px; width:142px;}
#footerButtonbar div.scrollable ul li a:hover { background: url('bg_switchmodelItem.png') no-repeat left top;}
#footerButtonbar div.scrollable ul li a.active { background: url('bg_switchmodelItem.png') no-repeat left -150px; }
#footerButtonbar div.scrollable ul li a img { margin:0px auto; display:block;} 
#footerButtonbar div.scrollable ul li a .modelSnippetName { text-align:center; display:block; color:#343434;} 
/*div.items div.active { border:1px inset #ccc; background-color:#fff; }*/

.mcPanel { margin-bottom:1px;}
.mcPanel .mcPanelTop { margin:0px 20px; background:url('bg_bannerTop.png') no-repeat center top; width:940px; height:5px; line-height:1px; font-size:1px; }
.mcPanel .mcPanelContent { margin:0px 20px; background-color:#fff; padding:5px 10px 5px 20px; color:#3c3c3c} /* padding:5px 16px */

.mcPanel .mcPanelBottom {margin:0px 20px; background:url('bg_bannerBottom.png') no-repeat center top; width:940px; height:5px; line-height:1px; font-size:1px;}

.mcPanel .mcPanelContent h2 { font-size:22px; color: #3c3c3c; margin-left:0px; margin-bottom:10px; }
.mcPanel .mcPanelContent .contentText { width: 675px; font-size:1.1em; margin-bottom:10px; }
.mcPanel .mcPanelContent .contentText p { padding:0 0 10px; } /* padding:10px 0px;*/
.mcPanel .mcPanelContent .galleryImageList { list-style: none none;}
.mcPanel .mcPanelContent .galleryImageList li { display:block; float:left; width: 227px; height:200px; position:relative;}
.mcPanel .mcPanelContent .galleryImageList li a { position:absolute;padding-top:145px; padding-left:10px; top:0px; left:2px; background: url('bg_galleryImage.png') no-repeat left top; height:51px; width: 206px; color:#3c3c3c; font-size:1.1em; font-weight:bold;}
.mcPanel .mcPanelContent .galleryImageList li img { position:absolute; left:4px; top:2px;} 

.mcPanel .mcPanelContent .galleryVideoList { list-style: none none;}
.mcPanel .mcPanelContent .galleryVideoList li { display:block; float:left; width: 302px; height:221px; position:relative;}
.mcPanel .mcPanelContent .galleryVideoList li a { position:absolute;padding-top:159px; padding-left:10px; top:0px; left:2px; background: url('bg_galleryVideo.png') no-repeat left top; height:58px; width: 281px; color:#3c3c3c; font-size:1.1em; font-weight:bold;}
.mcPanel .mcPanelContent .galleryVideoList li img { position:absolute; left:4px; top:2px;} 

.mcPanel .mcPanelContent span.imageTitle, .mcPanel .mcPanelContent span.galleryVideoList { height:43px; width:200px; overflow:hidden; display:block; }

.highslide-heading { text-align:right;}
.highslide-heading a.close { background:url('galleryImageClose.gif') no-repeat right 2px; padding-right:15px; font-size:1.1em; text-transform:uppercase; color:#7f7f7f;}
.highslide-caption { padding:15px 20px !important;}
.highslide-caption h3 { text-transform:uppercase; color:#3c3c3c; font-size:16px;}
.highslide-caption p { font-size:1.1em; padding:5px 0px;}

.offerTemplateCenter .offerImageBig { margin-left:180px; }
.offerTemplateCollection .offerImageBig { margin-left:18px;}

a .offerImageCorner { cursor:pointer;}

.offerImageBig { float:left;display:inline;position:relative; height:354px; width:624px; background:url('bg_offerImageBig.png') no-repeat left top; padding:4px 5px; }
.offerImageBig .offerImageCorner { position:absolute; top:4px;left:5px;height:341px; padding-left:10px;width:602px; background:url('bg_offerImageBigCorner.png') no-repeat left top; }
.offerImageBig .offerImageCorner .offerCornerText1 { color:#fff; font-size:20px;}
.offerImageBig .offerImageCorner .offerCornerText2 { color:#fff; font-size:15px;}

.offerImageSmall { float:left;display:inline;position:relative; margin-left:8px; height:172px; width:303px; background:url('bg_offerImageSmall.png') no-repeat left top; padding:4px 5px; }
.offerImageSmall .offerImageCorner { position:absolute; top:4px;left:5px;height:161px; padding-left:10px;width:282px; background:url('bg_offerImageSmallCorner.png') no-repeat left top; }
.offerImageSmall .offerImageCorner .offerCornerText1 { color:#fff; font-size:16px;}
.offerImageSmall .offerImageCorner .offerCornerText2 { color:#fff; font-size:12px;margin-top:5px;}

.offerImageWide { position:relative; }
.offerImageWide .offerImageCorner { position:absolute; top:0px;left:0px;height:77px; padding-left:10px;width:312px; background:url('bg_offerImageBigCorner.png') no-repeat left top; }
.offerImageWide .offerImageCorner .offerCornerText1 { color:#fff; font-size:20px;}
.offerImageWide .offerImageCorner .offerCornerText2 { color:#fff; font-size:15px;margin-top:5px;}

.offerPrice { float:right; width:200px; height:60px; text-align:right; margin-right:10px; }
.offerPrice h2 { color: #3c3c3c; font-size:20px;}
.offerPrice h3 { color: #3c3c3c; font-size:15px; margin-top:5px;}

.btn_offer { display:block; background:url('btn_offer.gif') no-repeat left top; width: 163px;  text-align:center; color:#6e6e6e; padding: 8px 0;} 
.btn_offer:hover { text-decoration:none; }

.print { float:right; padding-left:20px;padding-top:5px; background:url('icon_print.gif') no-repeat left top; color:#6e6e6e; font-size:10px; font-weight:bold; text-transform:uppercase; margin-top:10px; margin-right:10px; height:11px;}

.pnlVersionContainer { padding:0px 40px;}
.pnlVersion { float:left;}

.pnlVersionSmall { width:225px; margin-bottom:50px;}
.pnlVersionBig { width: 450px;}
.pnlVersion .versionImageContainer { margin:0px auto; height: 260px;  }
.pnlVersion .versionImageContainerSmall { margin:0px auto; height: 135px;  }
.pnlVersion h2 { color:#ffffff; font-size:18px; text-transform:uppercase; margin-bottom:10px; }
.pnlVersion .versionDescription { color:#ffffff; font-size:1.1em; margin:0px 20px 20px 0px;}
.pnlVersion .versionPriceLabel {color:#ffffff;margin-bottom:5px; font-size:1.1em; font-weight:bold;}
.pnlVersion .versionPrice {color:#ffffff; font-size:16px; font-weight:bold; margin-bottom:20px;}
.pnlVersion .btnVersionCompare { display:block; text-transform:uppercase;color:#6e6e6e; background:url('btnVersionCompare.gif') no-repeat left top; width:107px; padding-left:55px; height:18px; padding-top:8px; margin-bottom:8px;}
.pnlVersion .btnVersionConfigure {display:block; text-transform:uppercase;color:#6e6e6e; background:url('btnVersionConfigure.gif') no-repeat left top; width:107px; padding-left:55px; height:18px; padding-top:8px; margin-bottom:8px;}
.pnlVersion .btnVersionCompare:hover { background: url(btnVersionCompare.gif) no-repeat scroll left bottom;} 
.pnlVersion .btnVersionConfigure:hover { background:url(btnVersionConfigure.gif) no-repeat scroll left bottom;} 
.pnlVersion .btnVersionCompare:hover, .pnlVersion .btnVersionConfigure:hover { text-decoration:none; color:#b3000f; }


#dealersearchWrapper { display:none;}
#testdriveDealersearch {display:none;}

    /* General styling */
    div#dealersearch * {
        font-family: Arial;
        font-size:11px;
    }
    div.ds-form-top {
        background-image: url(form-top.jpg);
	    background-repeat: no-repeat;
	    height: 7px;
	    line-height:1px;
	    font-size:1px;
    }
    .ds-form-content {
        background-image: url(form-content.jpg);
	    background-repeat: repeat-y;

    }
    .popupPanelFormInner .ds-form-content {
	    height: 376px; 
	    overflow-y: auto;	 
	    overflow-x: hidden;
    }
    #popupFormRegister .popupPanelFormInner .ds-form-content {
	    height: 415px; 
    }    
    div.ds-form-bottom 
    {
		
        background-image: url(form-bottom.jpg);
	    background-repeat: no-repeat;
	    height: 7px;
	    line-height:1px;
	    font-size:1px;
    }
        
    div#dealersearch div.screen {
        display: none;  
    }
    
    div#dealersearch strong.big {
        font-size: 18px;
        margin-left:20px;
    }
    div#dealersearch div.column {
        float: left;
        width: 247px;
        margin-left:20px;      
    }
    
    div#dealersearch div.clearer {
        clear: both;
    }
    div#dealersearch div.nofloat {
        float: none;
    }
    div#dealersearch .contentwrapper {
        padding: 0 20px;
    }
    .content#col2 div#dealersearch ul li {
        list-style: none !important;
        margin: 0;
        list-style-position: outside !important;
    }
    div#ds-dealer-on-map-window a.icon, 
    div#dealersearch a.icon {
	    background-repeat: no-repeat;
	    line-height: 22px;
	    padding-left: 27px;
	    display: block;
	    margin: 5px 0;
	    height: 22px;
	    color: #000000;
	    text-decoration: none;
	}
	div#dealersearch a.icon:hover {
	    text-decoration: underline;
	}
	div#dealer-on-map-window a.contact-dealer,
	div#dealersearch a.contact-dealer   {background-image: url(contact-dealer.jpg);}
	div#dealer-on-map-window a.directions,
	div#dealersearch a.directions       {background-image: url(directions.jpg);}
	div#dealersearch a.select-TestDrive,
	div#dealersearch a.ds-select-TestDrive {background-image: url(select-dealer.jpg);}
	div#dealersearch a.contact-retailer {background-image: url(contact-retailer.jpg);}
	div#dealersearch a.show-on-map      {background-image: url(show-on-map.jpg);}
	div#dealersearch a.vcard            {background-image: url(vcard.jpg);}
	div#dealersearch a.book-testdrive   {background-image: url(book-testdrive.jpg);}
	div#dealersearch div.messages {
	    display: none;
	}
	
	
	/* Nav */
	div#dealersearch ul.nav {
	    background-image: url(bgnav.jpg);
	    background-repeat: no-repeat;
	    width: 528px;
	    height: 30px;
	    line-height: 30px;
	    padding-left: 8px;
	    margin-bottom: 10px;
	}
	div#dealersearch ul.nav li {
	    float: left;
	}
	div#dealersearch ul.nav a {
	    padding: 0 12px;
	    background-image: url(bgnav-sep.jpg);
	    background-position: right center;
	    background-repeat: no-repeat;
	    color: #000000;
	}
	div#dealersearch ul.nav a:hover {
	    text-decoration:underline;
    }
	div#dealersearch ul.nav li.current a {
	    color: #B81116;
	    background-image: none;
	}
	div#dealersearch ul.nav li.current a:hover { text-decoration:none;}
	div#dealersearch ul.subnav {
	    margin-bottom: 0;
	    margin-top:10px;
	    width: 528px;
	}
	div#dealersearch ul.subnav li {
	    float: left;
	    background-image: url(nav-corner-right-up.jpg);
	    background-repeat: no-repeat;
	    background-position: right top;
	    margin-top: 1px;
	    position: relative;
	    z-index: 2;
	}
	div#dealersearch ul.subnav li a {
	    padding: 0 12px;
	    background-image: url(nav-corner-left-up.jpg);
	    background-position: left top;
	    background-repeat: no-repeat;
	    color: #a9a9a9;
	    height: 21px;
	    line-height: 21px;
	    display: block;
	    position: relative;
	    z-index: 2;
	}
	div#dealersearch ul.subnav li.current {
	    background-image: url(nav-corner-right-dw.jpg);
	    height: 22px;
	    line-height: 22px;
	    margin-top: 0px;
	}
	div#dealersearch ul.subnav li.current a {
	    color: #B81116;
	    background-image: url(nav-corner-left-dw.jpg);
	    height: 22px;
	    line-height: 22px;
	}
	div#dealersearch p.ds-directions-fromto {
	    width: 514px; 
	    padding: 10px;
	    border: 1px solid #d2d2d0;
	    margin: -2px 0 0 0;
	    position: relative;
	    background-color: #ffffff;
	}
    
    /* Maps */
    div.ds-marker {
	    width: 300px;
	}
	div.ds-marker h1 {
	    width: auto;
	    margin: 0;
	}
    div.ds-marker p, 
    div#dealersearch p {
	   padding: 5px 0;	 
	   line-height: 1.5em;
	}
    
    /* Screen: dealersearch */
    .ac_results li {
        cursor: pointer;
    }
    .ac_over {
        background-color: #B81116;
    }
    .ac_results {
        color: #000000;
    }
    div#dealersearch label {
	    width: auto;
	    float: none;
	    display: inline;
	    font-weight: bold;
	}
	div#dealersearch label.radio {
	    padding-right: 40px;
	    font-weight: normal;
	}
	div#dealersearch input.radio {
	    width: auto;
	}
	div#dealersearch input.text {
	    height: 16px;
	}
	div#dealersearch input#ds-search {
	    width: 340px;
	    float: left;
	}
	div#dealersearch a.dfSubmit {
	    float: left;
	    display:none;
	    margin-left: 0;
	    text-decoration: none;
	}
	div#dealersearch input.loading {
	    background-color: #ffffff;
	    background-image: url(indicator.gif);
	    background-repeat: no-repeat;
	    background-position: center center;
	}
	#ds-footer #ds-addresslist .latValue,
	#ds-footer #ds-addresslist .lngValue {
	    display:none;
	}
	#ds-footer {
	    display: none;
	}
	#ds-footer a {
	    color: #fff; 
	    background-color:#222;
	    text-decoration:none; 
	    display:block;
	    padding:3px 5px;
	    border-top:1px solid #fff;
	}
	#ds-footer a:hover {
	    background-color:#999;
	}
	#ds-footer #ds-searchfor span {
	    font-style:italic;
	    font-weight:bold;
	}
	#ds-footer #ds-addresslist {
	    margin-top:5px; 
	    color: #000000;
	}
	#ds-footer #ds-addresslist li {
	    height:20px; 
	    line-height:20px; 
	    cursor: pointer;
	}
	div#dealersearch div#ds-screen-searchform .ds-form-content {
	    padding: 5px 0 20px 0;
	}
	div#dealersearch .ds-form-content fieldset {
	    padding-left: 20px;
	    background-image: url(bgContentHeaderSplitter.gif);
	    background-repeat: repeat-x;
	    background-position: left bottom;
        margin-bottom: 10px;
    }
	
    /* Screen: results */
    ul#ds-resultslist {
	    margin: 0 !important;
	}
	.popupPanelFormInner #ds-resultslist { height:312px; }
	.popupPanelFormInner #ds-screen-searchform .ds-form-content { height: 386px;}

	ul#ds-resultslist li {
	    background-image: url(bgContentHeaderSplitter.gif);
	    background-repeat: repeat-x;
	    background-position: bottom left;
	    padding: 4px 0 2px 0;
	    margin: 0;
	}
	
    /* Screen: contact-details */
    
    /* Screen: dealer-on-map */
    div#dealersearch div#ds-googlemap {
	    width: 534px; 
	    height: 377px;
	    border: 1px solid #d2d2d0;
	    display: none;
	    margin-top:0px;
	    /*margin-top: -1px;*/
	}
    .popupPanelFormInner div#dealersearch div#ds-googlemap { height: 312px; }

    .popupPanelFormInner div#dealersearch div.oneDealer { height: 377px !important;}
    
	form.ds-directions-form {
	    display: none;
	    height: 135px;
	    width: 300px;
	}
	form.ds-directions-form input#ds-start-address {
	    width: 140px;
	    float: left;
	}
	form.ds-directions-form label {
	    color: grey;
	}
	form.ds-directions-form p.nomargin {
	    margin: 0 !important;
	}
    
    /* Screen: directions */
    div#dealersearch div.ds-before-directions {
        margin-top: 10px;
    }
    
    /* Screen: map-view */
		
	/* Pop-up */
	.popupPanelFormExternal div#dealersearch div#ds-screen-searchform .ds-form-content, .popupPanelForm div#dealersearch div#ds-screen-searchform .ds-form-content {	
       width: 534px;
       padding-top: 0 !important;      		
    }
    
    .popupPanelFormExternal div#dealersearch div#ds-screen-searchform .ds-form-bottom, .popupPanelForm div#dealersearch div#ds-screen-searchform .ds-form-bottom {
        width: 534px;
    }
  
	.popupPanelFormExternal div#dealersearch .ds-form-content, .popupPanelForm div#dealersearch .ds-form-content {
        background-image: none;
        background-color: #ffffff; 
        width: 534px;        
    }
    .popupPanelFormExternal div#dealersearch p.ds-directions-fromto, .popupPanelForm div#dealersearch p.ds-directions-fromto {
        background-image: url(form-bottom-popup.jpg);
        background-position: bottom left;
        background-repeat: no-repeat;
    }
    .popupPanelFormExternal div#dealersearch .ds-form-content ul.dfRows li, .popupPanelForm div#dealersearch .ds-form-content ul.dfRows li {
        min-height: 1px;
        _height: 1px;
        width: auto;
    }
    .popupPanelFormExternal div#dealersearch div.column{
        width: 237px;          
    }
    
    .popupPanelForm div#dealersearch div.column, .popupPanelFormExternal div#dealersearch div.column {
		  margin-left:20px;  
		  width: 205px;
    }
     
    #popupFormTestDrive div#dealersearch strong.big
    {
		margin-left:0px;
    }
    
    .showOnTestDrive { display: none; }

    .popupPanelForm  div#dealersearch h1, .popupPanelFormExternal div#dealersearch h1 {
        display: none;
    }
  
	.popupPanelForm div#dealersearch ul.nav, .popupPanelFormExternal div#dealersearch ul.nav { padding:0px 20px 0 15px; background-image: url(mcBgWhitePopup.gif); margin-bottom:5px; height:28px !important;}
	
	.popupPanelFormExternal div#dealersearch ul.nav a, .popupPanelForm div#dealersearch ul.nav a {
	    background-image: url(bgnav-sep-popup.jpg);
	    padding-left: 5px;
	}
	
	.popupPanelFormExternal div#dealersearch div#ds-googlemap, .popupPanelForm div#dealersearch div#ds-googlemap {
		margin:10px 0 0 0;
	}
	
	.popupPanelFormExternal div#dealersearch div#ds-googlemap, 
	.popupPanelFormExternal div#dealersearch p.ds-directions-fromto,	
	.popupPanelForm div#dealersearch div#ds-googlemap, 
	.popupPanelForm div#dealersearch p.ds-directions-fromto {
	    border: none;
	}
	.popupPanelFormExternal div#dealersearch ul.subnav li,
	.popupPanelForm div#dealersearch ul.subnav li {
	    background-image: none;
	}
	
	.popupPanelFormExternal div#dealersearch ul.subnav li a,
	.popupPanelForm div#dealersearch ul.subnav li a {
	    height: 19px;
	    line-height: 19px;
	    background-image: none;
	    color: #ffffff;
	}
	
	.popupPanelFormExternal div#dealersearch ul.subnav li.current,
	.popupPanelForm div#dealersearch ul.subnav li.current {
	    background-image: url(nav-corner-right-popup-dw.jpg);
	    height: 20px;
	    line-height: 20px;
	}
	
	.popupPanelFormExternal div#dealersearch ul.subnav li.current a,
	.popupPanelForm div#dealersearch ul.subnav li.current a {
	    background-image: url(nav-corner-left-popup-dw.jpg);
	    height: 20px;
	    line-height: 20px;
	    color: #B81116;
	}
	.popupPanelFormExternal div#dealersearch div#ds-directions,
	.popupPanelForm div#dealersearch div#ds-directions {
	    width: 524px;
	    height: 307px;
	    overflow-y: scroll;
	}
	/*.popupPanelFormExternal div#dealersearch ul#ds-resultslist {
	    height: 460px;
	    overflow-y: scroll;
	}*/
	.popupPanelFormExternal div#dealersearch .ds-form-content fieldset,
	.popupPanelForm div#dealersearch .ds-form-content fieldset {
	    background-image: url(popupPanelFormDivider.gif);
	    padding-bottom: 15px;
	}
	.popupPanelFormExternal div#dealersearch ul#ds-resultslist li,
	.popupPanelForm div#dealersearch ul#ds-resultslist li 	
	{
		background-image: url(popupPanelFormDivider.gif);
	}
	
	.popupPanelFormExternal #ds-screen-contact-details p, .popupPanelForm #ds-screen-contact-details p { margin: 0px !important; }
	

/* ModelChapters */
#mcHeaderFlash { position:absolute; left:285px; top:65px; }

#modelchaptersubmenu { text-align:center; margin-top:-27px; margin-bottom:13px; z-index:9999; } 
#modelchaptersubmenu a {font-size:12px; color:#9c9c9c; border-right:1px solid #9c9c9c; text-decoration:none; padding:0 5px 0 5px; }
#modelchaptersubmenu a.active { color:#ffffff; }
#modelchaptersubmenu a.last { border-right:none !important;  }
#modelchaptersubmenu a:hover {  color:#ffffff; }

#footnote .footerText { color:#FFF; font-size:10px; text-align:center; }

.mcPanel .mcPanelContent .offerImageWide #kia2009FlashContainer { padding: 9px 0 5px 0px; }
.mcPanel .mcPanelContent .offerImageWide .offerImageCorner { margin: 9px 0 0 0px; }
.mcPanel .mcPanelContent a.btn_offer { margin-bottom:50px; }

/* USRT */

 /* USRT General styling */
#ccPopupLayerID { overflow: -moz-scrollbars-vertical; overflow-x: hidden; overflow-y: auto; z-index:999999; display:none; border: 0px solid #ffffff; width:591px; height:540px; position:absolute; margin-top:-570px; margin-left:150px;  }
#PopupLayerID { overflow: -moz-scrollbars-vertical; overflow-x: hidden; z-index:999999; display:none; border: 0px solid #ffffff; width:591px; height:540px; position:absolute; margin-top:-150px; margin-left:150px;  }
#mcPopupWrapper { top:0px;display: none; z-index: 999; float:left;position: absolute; left:0px; background: #000; opacity: .8;filter: alpha(opacity=80); width:100%; height:100%;  }


#popupPanelFormDealerFinderid, #popupPanelFormTestDriveid, #popupPanelFormid {z-index:99999; }
#popupPanelFormDealerFinderid #popupWrapper3, #popupPanelFormTestDriveid #popupWrapper3, #popupPanelFormid  #popupWrapper3{ top:0px;display: none;z-index: 9998; float:left;position: absolute; left:0px; background: #000; opacity: .6;filter: alpha(opacity=60); }


.popupPanelFormExternal .popupSteps, .popupPanelForm .popupSteps { padding:7px 20px 0; background-image: url(mcBgWhitePopup.gif); margin-bottom:0px; height:21px !important;}
.popupPanelFormExternal .ds-form-top, .popupPanelForm .ds-form-top {margin-top:10px; background-image: url(mcBgWhitePopup.gif); margin-bottom:0px; height:5px !important;}
.popupPanelFormExternal div.ds-form-bottom, .popupPanelForm div.ds-form-bottom { background: transparent url('mcPopupBottomLayer.gif') no-repeat; }
.popupPanelFormExternal div.ds-form-content, .popupPanelForm div.ds-form-content {background-color:#FFFFFF;  background-image:none;  padding:0; color:#000; } /*  padding: 10px 18px 10px 18px; */ 
.popupPanelFormExternal .popupPanelFormInner .ds-form-content .dfUCRT fieldset, .popupPanelForm .popupPanelFormInner .ds-form-content .dfUCRT fieldset { background: url('bgContentHeaderSplitterBlue.gif') repeat-x left bottom; }
.popupPanelFormExternal .popupPanelFormInner , .popupPanelForm .popupPanelFormInner { background:none;  margin:0 20px; } /* padding:0 0 16px; */
.popupPanelFormExternal div#dealersearch div#td-screen-searchform div.td-form-top, .popupPanelForm div#dealersearch div#td-screen-searchform div.td-form-top {display:block !important;}

#popupPanelFormTestDriveid #td-screen-searchform , #popupPanelFormTestDriveid #td-screen-contact-details { margin-top:10px; }

#td-screen-contact-details strong.big { margin-left:0px !important; }
#td-screen-contact-details { margin-top:10px; }

#popupFormRegister div.ds-form-content .dfFieldset, #popupPanelFormDealerFinderid div.pf-form-content .dfFieldset { background:transparent url(bgContentHeaderSplitterBlue.gif) repeat-x scroll left bottom; padding-left:20px;  }

/* USRT BROCHURE FORM */
#popupFormBrochure { position:relative;}
#popupFormBrochure #popupBrochureStep3 {background-color:#FFF; background-position:center top; border:0px; font-size:13px;}
#popupFormBrochure .popupImageOverview ul li a { display:block; width:90px; padding:10px 5px 10px 4px; text-align:center;  } 
#popupFormBrochure #popupBrochureStep3 h1, #popupFormBrochure #popupBrochureStep4 h1 { font-size:13px; font-weight: bold; font-family:Arial; }
#popupFormBrochure #popupBrochureStep4, #popupFormTestDrive .popupBrochureStep4 { padding-bottom:20px; background-color:#fff; border:0px; } 
#popupFormBrochure #popupBrochureStep4 { margin:10px 0 0 0; min-height:0px !important;}
#popupFormBrochure .downloadIcon {margin-top:15px;}
#popupFormBrochure .popupBrochureStep4 {margin-top:10px;}
#popupBrochureStep4 ul {margin-left:75px !important;}
#popupBrochureStep4 h1 { margin:0px;}
#popupFormBrochure .popupBrochureStep4 { background-color:#fff !important; border:0px !important; }
#popupFormBrochure #td-screen-searchform { margin-top:10px; }
#popupFormBrochure #ctl17_bTestDrive_popupBrochureStep4 { margin-top:0px !important; background-image:url(form-bottom-popup.jpg); background-position:center bottom; }
.dfUCRTold .dfContactOptin .dflabel { width:0px; }

/* USRT TESTDRIVE FORM */
#popupFormTestDrive #td-screen-contact-details  div.column, #td-screen-contact-details div.column {margin-left:0px !important; }
#popupFormTestDrive #popupBrochureStep2 .column2TestDrive { width:370px; }
#popupFormTestDrive #popupBrochureStep2 .column1TestDrive, #popupFormTestDrive #popupBrochureStep2 .column2TestDrive { background:transparent url(bgContentHeaderSplitterBlue.gif) repeat-x scroll left bottom; min-height:135px; height:auto !important; height: 135px;}
#popupFormTestDrive #popupBrochureStep3, #popupFormBrochure #popupBrochureStep4 { background-color:#FFF; border:0px; font-family:Arial; font-size:13px; }
#popupFormTestDrive #popupBrochureStep3, #popupFormBrochure #popupBrochureStep3 { min-height:50px; margin:10px 0 0 0; } 
#popupFormTestDrive .popupBrochureStep4, #popupFormBrochure #popupBrochureStep4 { background-image:url(form-bottom-popup.jpg); background-repeat:no-repeat; background-position:center bottom; }
#popupFormTestDrive #popupBrochureStep3, #popupFormBrochure #popupBrochureStep3 { background-image:url(form-top-popup.jpg); background-repeat:no-repeat; }

/* USRT DEALERFINDER FORM */
#popupPanelFormDealerFinderid div.pf-form-top { background-image:url(form-top-popup.jpg) }
#popupPanelFormDealerFinderid div.pf-form-content { background-color:#FFF; min-height:210px; }
#popupPanelFormDealerFinderid div.pf-form-bottom { background-image:url(form-bottom-popup.jpg) }
#popupPanelFormDealerFinderid div.pf-form-top, #popupPanelFormDealerFinderid div.pf-form-bottom { height:7px; background-repeat:no-repeat; display:block !important; }
#popupPanelFormDealerFinderid div.pf-form-content .dfControl { width:300px !important; }
#popupPanelFormDealerFinderid div.pf-form-content .dfRadiobuttonList .dfGender  { min-height:0px; }
#popupPanelFormDealerFinderid div.pf-form-content .dfRadiobuttonList .dfGender label { line-height: 20px; }
#popupPanelFormDealerFinderid div.pf-form-content .optin { margin: 20px 0 10px 0 } 
#popupPanelFormDealerFinderid div.pf-form-content .dfControl { width:200px !important;  }
#popupPanelFormDealerFinderid div.pf-form-content .dfControl label { line-height: 20px;  }
#popupPanelFormDealerFinderid div.pf-form-content .optin label { width:300px; line-height:1.3em; }
#popupPanelFormDealerFinderid div.pf-form-content li.dfCheckboxList input {  margin-top:0px !important; }

/* USRT REGISTRATION FORM */
#popupFormRegister div.ds-form-content .dfSubmit { margin-left:auto; margin-right:auto; background-color:#fff; margin-top:10px; display:block; color:#ffffff;font-weight:bold; font-size:10px;padding-top:4px; text-align:center; width:115px; height:16px; background:url('btn_brochure_dynform.gif') no-repeat center top; padding-bottom:10px; }
#popupFormRegister div.ds-form-content .dfFieldset { padding-bottom:5px; margin-bottom:10px; margin-bottom:20px; }
#popupFormRegister .ds-form-content .dfSubOptin .dfCheckboxList label { width:340px; margin-bottom:10px; clear:none;  }
#popupFormRegister .ds-form-content .dfSubOptin .dfCheckboxList input { width:350px; margin-left:40px }
#popupFormRegister .dfContactOptin label, #popupFormRegister .dfSubOptin label { width:0px; }
#popupFormRegister .dfRows .dfSubOptin div.dfControl, #popupFormRegister .dfRows .dfSubOptin div.dfControl ul, #popupFormRegister .dfRows .dfSubOptin div.dfControl li{ width:450px;}
#popupFormRegister .dfRows .dfDateDropDown div.dfControl ul li { float:left; width:87px; padding-right:2px; }
#popupFormRegister .dfRows .dfDateDropDown div.dfControl ul li select { width:87px;  }

/* Dealer Content */
.contentHeading, .contentText { font-size:1em; }
.contentHeading { font-weight:bold; }
.contentText { font-weight:normal; }
.contentLink a { text-decoration:underline; color:#B81116; outline:medium none; }

.contentPeople table { width:536px; }


	