﻿html *,#outline { background: none !important; }
#globalnav,#header,#footerContainer,#mainMenu,#experience,#divider,#popup,#popupwrapper,#col1,#colToolbox,#footerOutline,#shadow_left,#shadow_right,#tools,#modelmenu 
{	display: none !important; }

#outline,#content {
	height: auto !important;
}

#col2,#col12,#content,#contentContainer {
	width: auto !important;
	height: auto !important;
	float: none !important;
	border: none !important;
  }
#container { left:auto !important; margin-left: auto !important; position:relative !important; width:auto !important; }


#accordion .element {
	height: auto !important;
}

#dealerprint {display:block !important;width:60%;}

.offerImageCorner { position:relative !important;}
.offerImageBig,
.offerImageSmall { float:none !important; margin-left: 10px !important;}
.print  { display:none !important;} 
.btn_offer { text-align:left !important;}