/*__________________________________________________________________________________________________________________________

Cette feuille de style contient les styles communs ŕ toutes les pages :
1. Propriétés de la page
2. Entęte
3. Menu principal
4. Gauche
5. Contenu
6. Droite
7. Plan du site
8. Pied de page
9. Vocalisation
10. Galerie photo
__________________________________________________________________________________________________________________________*/

/*__________________________________________________________________________________________________________________________

POUR VERIFIER LES EVENTUELS PBS DE MISE EN PAGE : VISUALISATION DU DECOUPAGE 
__________________________________________________________________________________________________________________________
table {border: 1px solid black;}
td {border: 1px dotted gray;}
div {border: 1px solid orange;}
img, form {border: 1px dashed blue;}
h1, h2, h3, h4, h5, h6, p {border: 1px solid yellow;}
ul {border: 1px solid green;}
li {border: 1px solid lightgreen;}
*/

/*__________________________________________________________________________________________________________________________

      1. PROPRIETES DE LA PAGE
__________________________________________________________________________________________________________________________*/

/* ________________________________ Propriétés du body ________________________________ */		
body
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	font: 62.5% "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #444;
	text-align: center;
	/* ___Décoration */
}

/* ________________________________ Conteneur global ________________________________ */
#outer_wrapper{
	/* ___Dimensions et positionnement */
	width: 96em;
	/* ___Marges */
	margin: 0 auto;
	padding-bottom: 1em;
	/* ___Texte */
	text-align: left;
	/* ___Décoration */
	background: #81001f;
}

/* ________________________________ Conteneur : menu gauche + contenu ________________________________ */
#container {
	/* ___Dimensions et positionnement */
	float:left;
	width:72.5em;
	display:inline; /* Evite le double margin dans IE */
	position: relative;
	/* ___Marges */
	margin-top: -0.5em;
	/* ___Texte */
	/* ___Décoration */
	background: #fff url(ombre_G_container.gif) top left repeat-y;
	z-index: 10;
}

#container #ombre_D {
	/* ___Dimensions et positionnement */
	width:72.5em;
	/* ___Marges */
	padding-top: 1em;
	padding-bottom: 2em;
	/* ___Texte */
	/* ___Décoration */
	background: url(ombre_D_container.gif) top right repeat-y;
}

#sans_coldroite #container,
.sans_col #container
{
	/* ___Dimensions et positionnement */
	width:96em !important;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

#sans_coldroite #container #ombre_D,
.sans_col #container #ombre_D
{
	/* ___Dimensions et positionnement */
	width:96em !important;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

/* ________________________________ Class permettant le retour dans le flux ________________________________ */
.clearfix:after {
	/* ___Dimensions et positionnement */
	display:block;
	height:0;
	clear:both;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	content: " ";
	visibility: hidden;
}

.clearfix {	
	/* ___Dimensions et positionnement */
	display: inline-block;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

/* masquage ŕ IE-mac \*/
* html .clearfix {
	/* ___Dimensions et positionnement */
	height: 1%;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

.clearfix {
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}
/* fin du masquage ŕ IE-mac */
-->

/* ________________________________ Pictos sur les liens de type fichier ou de type externe ________________________________ */
span.fichier img,
#contenu .actualite .fichier img
{
	/* ___Dimensions et positionnement */
	vertical-align: middle;
	float: none; 
	display: inline;
	/* ___Marges */
	margin-right: 0.3em;
	/* ___Texte */
	/* ___Décoration */
	border: 0;
}

.external-link-new-window
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	padding-right: 1.3em;
	/* ___Texte */
	/* ___Décoration */
	background: url(picto_lien_externe.png) center right no-repeat;
}

.externe img
{
	/* ___Dimensions et positionnement */
	vertical-align: baseline; 
	/* ___Marges */
	padding: 0 0.3em;
	/* ___Texte */
	/* ___Décoration */
	border: 0;
}

.lien_rub {
	/* ___Dimensions et positionnement */ 
	/* ___Marges */
	padding-left: 1em;
	/* ___Texte */
	/* ___Décoration */
	background: url(puce_carree.png) top left no-repeat;
	text-decoration: none;
}

.rss_icon
{
	/* ___Dimensions et positionnement */ 
	/* ___Marges */
	margin-right: 0.5em;
	/* ___Texte */
	/* ___Décoration */
	vertical-align: middle;
	border: 0;
	text-decoration: none;
}

/*__________________________________________________________________________________________________________________________

      2. ENTETE
__________________________________________________________________________________________________________________________*/

#entete {
	/* ___Dimensions et positionnement */
	width:96em;
	height:15em;
	/* ___Marges */
	margin: 0 auto;
	/* ___Texte */
	text-align: left;
	/* ___Décoration */
	background: url(fd_entete.jpg) top center no-repeat;
}

/* ________________________________ Accčs directs ________________________________ */	
#accueil #acces_directs li {
	/* ___Dimensions et positionnement */
	display: none;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

#acces_directs {
	/* ___Dimensions et positionnement */
	float: left;
	width: 62em;
	/* ___Marges */
	margin: 0;
	padding: 0.5em 0;
	/* ___Texte */
	/* ___Décoration */
}

#acces_directs li {
	/* ___Dimensions et positionnement */
	display: inline;
	/* ___Marges */
	/* ___Texte */
	padding: 0 0.5em;
	/* ___Décoration */
	border-right: 0.1em solid #444;
}

#accueil #acces_directs li.dernier {
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

#acces_directs li.dernier {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	padding-left: 1em;
	/* ___Décoration */
	border: 0;
}

#accueil #acces_directs li.dernier:before {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	content: "";
}

#acces_directs li.dernier:before {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	content: " // " attr(href);
}

#acces_directs li a {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #444;
	/* ___Décoration */
	text-decoration: none;
}

#acces_directs li a:hover,
#acces_directs li a:active,
#acces_directs li a:focus
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	text-decoration: underline;
}

/* ________________________________ Menu langues ________________________________ */	
#menu_langues {
	/* ___Dimensions et positionnement */
	float: left;
	/* ___Marges */
	margin: 0;
	padding: 0.3em 0;
	/* ___Texte */
	/* ___Décoration */
	list-style: none;
}

#menu_langues li {
	/* ___Dimensions et positionnement */
	float: left;
	/* ___Marges */
	margin: 0;
	padding: 0 0.5em;
	/* ___Texte */
	text-align: center;
	/* ___Décoration */
}

#menu_langues li a {
	/* ___Dimensions et positionnement */
	display: block;
	width: 1.3em;
	/* ___Marges */
	padding: 0.1em;
	/* ___Texte */
	color: #444;
	text-align: center;
	/* ___Décoration */
	border: 0.1em solid #999;
	background: #fff;
	text-decoration: none;
}

#menu_langues li a:hover,
#menu_langues li a:active,
#menu_langues li a:focus
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #fff;
	/* ___Décoration */
	background: #444;
}

/* ________________________________ Menu pratique ________________________________ */	
#menu_pratique {
	/* ___Dimensions et positionnement */
	float: right;
	height: 1.4em;
	/* ___Marges */
	margin: 0.5em 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

#menu_pratique li {
	/* ___Dimensions et positionnement */
	display: inline;
	/* ___Marges */
	padding: 0 0.4em;
	/* ___Texte */
	text-align: center;
	/* ___Décoration */
	border-left: 0.1em solid #444;
}

#menu_pratique li.premier {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	border-left: none;
}

#menu_pratique li.dernier {
	/* ___Dimensions et positionnement */
	display: none;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

#menu_pratique li.actif {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-weight: bold;
	/* ___Décoration */
}

#menu_pratique li a {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #444;
	/* ___Décoration */
	text-decoration: none;
}

#menu_pratique li a:hover,
#menu_pratique li a:active,
#menu_pratique li a:focus
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	text-decoration: underline;
}

#menu_pratique li#rech
{
	/* ___Dimensions et positionnement */
	display: none;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

/* ________________________________ Logo ________________________________ */	
#entete h1 {
	/* ___Dimensions et positionnement */
	float: left;
	/* ___Marges */
	margin: 0.3em 0 0 1em !important; margin: 0.15em 0 0 0.3em;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	background: #fff;
}

#entete h1 a {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	text-decoration: none;
}

#entete h1 a img {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	border: 0;
}

/* ________________________________ Recherche dans le site ________________________________ */	
#form_recherche {
	/* ___Dimensions et positionnement */ 
	float: right;
	width: 22em;
	/* ___Marges */
	margin: 5em 0.5em 0 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

#form_recherche fieldset {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	border: 0;
}

#form_recherche legend {
	/* ___Dimensions et positionnement */
	display: none;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

#form_recherche label {
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	/* ___Texte */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000;
	font-size: 1.1em;
	/* ___Décoration */
}

#form_recherche input#chp_recherche {
	/* ___Dimensions et positionnement */
	width:12.7em;
	vertical-align: middle;
	/* ___Marges */
	/* ___Texte */
	font-weight: bold;
	color: #81001F;
	/* ___Décoration */
	border: 0.1em solid #ccc;
}

#form_recherche input#btn_ok_recherche {
	/* ___Dimensions et positionnement */
	vertical-align: middle;
	/* ___Marges */
	margin: 0;
	padding: 0.2em 0.4em;
	/* ___Texte */
	color: #fff;
	font-weight: bold;
	font-size: 1.1em;
	/* ___Décoration */
	background: #81001F;
	border: 0;
}

/*__________________________________________________________________________________________________________________________

      3. MENU PRINCIPAL
__________________________________________________________________________________________________________________________*/

#menu_principal{
	/* ___Dimensions et positionnement */
	width: 96em;
	/* ___Marges */
	margin: -3.1em auto 0 auto!important; margin: -3.1em auto 0 0;
	padding: 0 0 0 0.5em;
	/* ___Texte */
	/* ___Décoration */
	list-style: none;
}

#menu_principal li{
	/* ___Dimensions et positionnement */
	float: left;
	/* ___Marges */
	margin: 0 0 0 0.1em;
	padding: 0;
	/* ___Texte */
	font-weight: bold;
	font-size: 1.4em;
	/* ___Décoration */
}

#menu_principal li a{
	/* ___Dimensions et positionnement */
	float: left;
	/* ___Marges */
	padding: 0 0 0 0.8em;
	/* ___Texte */
	/* ___Décoration */
	text-decoration: none;
	background: url(coin-gauche.png) 0% -250px no-repeat;
	cursor:pointer;
}

#menu_principal li#actif {
	/* ___Dimensions et positionnement */
	float: left;
	/* ___Marges */
	padding: 0 0 0 0.8em;
	/* ___Texte */
	/* ___Décoration */
	text-decoration: none;
	background: url(coin-gauche.png) 1px 0px no-repeat;
}
#menu_principal li a span {
	/* ___Dimensions et positionnement */
	float: left;
	/* ___Marges */
	padding: 0.6em 0.6em 0.3em 0;
	/* ___Texte */
	color: #fff;
	/* ___Décoration */
	text-decoration: none;
	background: url(coin-droit.png) 100% -250px no-repeat;
}

#menu_principal li#actif span {
	/* ___Dimensions et positionnement */
	float: left;
	/* ___Marges */
	padding: 0.6em 0.6em 0.3em 0;
	/* ___Texte */
	color: #fff;
	/* ___Décoration */
	text-decoration: none;
	background: url(coin-droit.png) 100% 0% no-repeat;
}

#menu_principal li a:hover,
#menu_principal li a:focus
{
	background-position: 0% 0px;
}

#menu_principal li a:hover span,
#menu_principal li a:focus span
{
	background-position: 100% 0px;
	color: #fff;
}

/*__________________________________________________________________________________________________________________________

      4. GAUCHE
__________________________________________________________________________________________________________________________*/

#gauche {
	/* ___Dimensions et positionnement */
	width:18.4em;
	float:left;
	display:inline;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

#menu_gauche {
	/* ___Dimensions et positionnement */
	width: 16.7em;
	/* ___Marges */
	margin: 0 0 0 1em;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	list-style: none;
}

/* ________________________________ 1e niveau ________________________________ */
#menu_gauche li {
	/* ___Dimensions et positionnement */
	clear: both;
	/* ___Marges */
	margin: 0;
	padding: 0 0 0.3em 0;
	/* ___Texte */
	color: #81001F;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.4em;
	/* ___Décoration */
}

#menu_gauche li a {
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	padding: 0.2em 0.3em;
	/* ___Texte */
	color: #81001F;
	/* ___Décoration */
	text-decoration: none;
	background: #d1d119;
}

#menu_gauche li.actif
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	padding: 0.2em 0.3em;
	margin-bottom: 0.3em;
	/* ___Texte */
	color: #fff;
	/* ___Décoration */
	background: #ed4d05;
}

#menu_gauche li.actif a,
#menu_gauche li a:hover,
#menu_gauche li a:active,
#menu_gauche li a:focus
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #fff;
	/* ___Décoration */
	background: #ed4d05;
}

#menu_gauche li.actif a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

/* ________________________________ 2e niveau ________________________________ */
#menu_gauche ul {
	/* ___Dimensions et positionnement */
	float: left;
	/* ___Marges */
	margin: 0;
	padding: 0.8em 0.2em;
	/* ___Texte */
	font-size: 0.6em;
	/* ___Décoration */
	list-style: none;
}

#menu_gauche ul li {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0.1em 0;
	/* ___Texte */
	font-weight: normal;
	text-transform: none !important;
	/* ___Décoration */
	list-style-image: none;
}

#menu_gauche ul li a,
#menu_gauche li.actif ul li a {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	color: #717101;
	/* ___Décoration */
	background: none;
}

#menu_gauche ul li.actif
{
	/* ___Dimensions et positionnement*/
	/* ___Marges */
	margin: 0 0 0 1em;
	padding: 0;
	/* ___Texte */
	color: #717101;
	font-weight: bolder;
	/* ___Décoration */
	background: none;
	text-decoration: none !important;
	list-style-image:url(fleche_menu_gauche.png);
}

#menu_gauche ul li a:hover,
#menu_gauche ul li a:active,
#menu_gauche ul li a:focus
{
	/* ___Dimensions et positionnement*/
	/* ___Marges */
	padding: 0;
	/* ___Texte */
	color: #717101;
	/* ___Décoration */
	background: none;
	text-decoration: underline;
}

/* ________________________________ 3e niveau ________________________________ */
#menu_gauche ul ul {
	/* ___Dimensions et positionnement */
	float: none;
	/* ___Marges */
	margin: 0 0 0 2em;
	padding: 0;
	/* ___Texte */
	font-size: 0.75em;
	/* ___Décoration */
	list-style: none;
}

#menu_gauche ul ul li a,
#menu_gauche li.actif ul ul li a {
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	margin: 0;
	padding: 0.1em 0;
	/* ___Texte */
	color: #444;
	/* ___Décoration */
}

#menu_gauche ul ul li.actif,
#menu_gauche ul ul li a:hover,
#menu_gauche ul ul li a:active,
#menu_gauche ul ul li a:focus
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0.1em 0;
	/* ___Texte */
	text-transform: none;
	color: #444;
	/* ___Décoration */
}

#menu_gauche ul ul li.actif a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #444;
	text-transform: none;
	/* ___Décoration */
}

/*__________________________________________________________________________________________________________________________

      5. CONTENU
__________________________________________________________________________________________________________________________*/

/* ________________________________ Fil d'ariane ________________________________ */
p#fil_ariane {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0.5em 5em 1em 1.5em;
	/* ___Texte */
	color: #fff;
	font-size: 1.1em;
	/* ___Décoration */
}

p#fil_ariane a {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #fff;
	/* ___Décoration */
}

/* ________________________________ Zone de contenu principal ________________________________ */

#contenu {
	/* ___Dimensions et positionnement */
	position: relative;
	/* ___Marges */
	margin-left:18.5em;
	/* ___Texte */
	/* ___Décoration */
}

.sans_col #contenu {
	/* ___Dimensions et positionnement */
	position: relative;
	/* ___Marges */
	margin-left:1.5em;
	/* ___Texte */
	/* ___Décoration */
}

#contenu a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #81001F;
	font-weight: bold;
	/* ___Décoration */
}

#contenu p,
#contenu dl,
#contenu blockquote
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.5em 1em 0.5em 0;
	padding: 0;
	/* ___Texte */
	font-size: 1.2em;
	line-height: 1.5em;
	/* ___Décoration */
}

#contenu blockquote p
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-size: 1em;
	/* ___Décoration */
}

#contenu ul
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin-right: 1em;
	/* ___Texte */
	font-size: 1.2em;
	line-height: 1.5em;
	/* ___Décoration */
}

#contenu ul ul
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-size: 1em;
	/* ___Décoration */
}

#contenu ol
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin-right: 1em;
	/* ___Texte */
	font-size: 1.2em!important;
	line-height: 1.5em;
	/* ___Décoration */
}

#contenu ol ol li, 
#contenu ul ol li
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-size: 0.8em;
	/* ___Décoration */
	list-style-image: none;
	list-style-type: decimal;
}

#contenu ul li
{
	/* ___Dimensions et positionnement 
	display:block;*/
	/* ___Marges */
	padding: 0;
	margin: 0;
	/* ___Texte */
	/* ___Décoration */
	list-style-image:url(puce_li.png);
	/*list-style-position: inside;*/
	list-style-type: square;
}

#contenu h1
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0 0 0.5em 0;
	padding: 0.3em 0 0 0.3em;
	/* ___Texte */
	font-size: 2em;
	color: #ed4d05;
	font-weight: normal;
	/* ___Décoration */
}

#contenu h1.dossier
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.5em 0 0 0;
	padding: 0 0 0 0.1em;
	/* ___Texte */
	font-size: xx-large;
	letter-spacing: 0.1em;
	/* ___Décoration */
}

#contenu h2
{
	/* ___Dimensions et positionnement */
	display: list-item;
	/* ___Marges */
	margin: 3em 1em 0.5em 1.5em !important;margin: 1.5em 1em 0.5em 1em;
	padding: 0;
	/* ___Texte */
	font-size: 1.4em;
	color: #9b9b01;
	/* ___Décoration */
	list-style-image:url(puce_h2.png);
	/*list-style-position: outside;*/
	list-style-type:square;
}

#contenu h3
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 1em 1em 0.5em 0;
	/* ___Texte */
	font-size: 1.3em;
	color: #ed4d05;
	/* ___Décoration */
}

#contenu h4
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 1em 1em 0.5em 0;
	/* ___Texte */
	font-size: 1.3em;
	color: #ed4d05;
	font-weight: normal;
	/* ___Décoration */
}

#contenu h5
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 1em 1em 0.5em 0;
	padding: 0;
	/* ___Texte */
	font-size: 1.2em;
	color: #8e2f30;
	font-weight: normal;
	/* ___Décoration */
}

#contenu h5 + p,
#contenu h6 + p
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

#contenu h6
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 1em 1em 0 0;
	padding: 0;
	/* ___Texte */
	font-size: 1.1em;
	color: #717101;
	font-weight: normal;
	/* ___Décoration */
}

#contenu .important
{
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	margin: 1em 1em 0.5em 0;
	padding: 0.5em;
	/* ___Texte */
	font-size: 1.3em;
	/*color: #ed4d05;*/
	color: #FF0000;
	font-weight: bold;
	/* ___Décoration */
	border: 0.1em solid #FF0000;
}

#contenu .bloc_dossier
{
	/* ___Dimensions et positionnement */
	clear: both;
	display: block;
	/* ___Marges */
	margin: 1em 1em 0.5em 0;
	padding: 0.5em;
	/* ___Texte */
	font-size: 1.2em;
	/* ___Décoration */
	border-top: 0.1em solid #ed4d05;
	background: #f2f4bc;
	/*background: #ffe5cc;*/
}

#contenu address
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-size: 1.2em;
	font-style: normal;
	/* ___Décoration */
}

/* ________________________________ Chapo ________________________________ */
#contenu #chapo
{
	/* ___Dimensions et positionnement 
	width: 98%!important; width: 100%;*/
	display: inline-block;
	/* ___Marges */
	margin: 0 1.5em 2em 0;
	/* ___Texte */
	/* ___Décoration */
	background: url(fd_chapo.png) top left repeat-x;
}

#contenu #chapo:after {
	/* ___Dimensions et positionnement */
	display:block;
	height:0;
	clear:both;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	content: " ";
	visibility: hidden;
}

#contenu #chapo h2
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.5em 2em!important;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

#contenu p.chapo,
#contenu address.chapo,
#contenu p.chapo h3,
#contenu #chapo h3
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	padding-left: 0.5em;
	/* ___Texte */
	font-weight: bold;
	font-style: normal;
	font-size: 1.1em;
	color: #81001F;
	line-height: 1.3em;
	/* ___Décoration */
}

#contenu p.categorie
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	padding: 0 0 0 0.5em;
	margin: 0;
	/* ___Texte */
	font-size: 0.9em;
	color: #444;
	line-height: 1.3em;
	/* ___Décoration */
}

#contenu p.categorie a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #444;
	font-weight: normal;
	/* ___Décoration */
}

#contenu #chapo .retour
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	padding: 0;
	margin: 0;
	/* ___Texte */
	font-size: 0.8em;
	/* ___Décoration */
	text-decoration: none;
}

#contenu #chapo .retour:hover
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	text-decoration: underline;
}

#contenu #img_rub
{
	/* ___Dimensions et positionnement */
	float: right;
	/*position: relative;
	 ___Marges */
	margin-left: 0.8em;
	margin-bottom: 0.5em;
	/* ___Texte */
	/* ___Décoration */
}

#contenu #img_rub span
{
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	margin: 0.5em;
	/* ___Texte */
	text-align: right;
	font-size: 1.1em;
	font-style: italic;
	color: #999;
	/* ___Décoration */
}

/*--- Dans le cas d'une page dossier ---*/
#contenu p.dossier
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0.5em;
	/* ___Texte */
	color: #FFF;
	font-weight: bold;
	/* ___Décoration */
	background: #81000F;
}

#contenu #img_bandeau
{
	/* ___Dimensions et positionnement */
	float: none;
	display: inline-block;
	/* ___Marges */
	margin: 0!important;
	padding: 0;
	/* ___Texte */
	text-align: left;
	/* ___Décoration */
}

#contenu #img_bandeau .news-single-img
{
	/* ___Dimensions et positionnement */
	float: none;
	/* ___Marges */
	margin: 0!important;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

#contenu #img_bandeau .news-single-img img
{
	/* ___Dimensions et positionnement */
	float: none!important;
	display: block;
	/* ___Marges */
	margin: 0!important;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

/* ________________________________ Menu interne (ancres) ________________________________ */
#contenu ul#menu_interne,
#contenu ul#menu_interne li
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	list-style-image: none;
	list-style: none;
}

#contenu ul#menu_interne li li
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	list-style: url(puce_menu_interne.png);
}

ul#menu_interne li a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #9b9b01;
	/* ___Décoration */
}

/* ________________________________ Images dans le contenu ________________________________ */

/* _____________ Images pages sommaires _____________ */

#accueil .csc-textpic
{
	/* ___Dimensions et positionnement */
	width: auto;
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

.csc-textpic
{
	/* ___Dimensions et positionnement */
	width: 53em;
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

.csc-textpic-image,
.csc-textpic-intext-left-nowrap
{
	/* ___Dimensions et positionnement */
	float: left;
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

.csc-textpic-clear
{
	/* ___Dimensions et positionnement 
	display: none;*/
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

.csc-textpic-text
{
	/* ___Dimensions et positionnement 
	clear: both;
	display: inline;*/
	/* ___Marges 
	margin: 1em;*/
	/* ___Texte */
	/* ___Décoration */
}

/* _____________ Images dans contenus _____________ */

#contenu a img
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration 
	border: 0.1em solid #fff;*/
}

#contenu a:hover img,
#contenu a:active img,
#contenu a:focus img
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration 
	border: 0.1em solid #81000F;*/
}

#contenu li a:hover img,
#contenu li a:active img,
#contenu li a:focus img
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	border: 0!important;
}

#contenu #tx-offreemploi-pi1 a:hover img,
#contenu #tx-offreemploi-pi1 a:active img,
#contenu #tx-offreemploi-pi1 a:focus img
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	border: 0.1em solid #fff!important;
}

.image_centre,
.csc-textpic-center
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.5em auto;
	/* ___Texte */
	text-align: center;
	/* ___Décoration */
}

.image_centre img,
.csc-textpic-center img
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0 auto;
	/* ___Texte */
	text-align: center;
	/* ___Décoration */
}

.image_gauche,
.csc-textpic-intext-left
{
	/* ___Dimensions et positionnement */
	float: left;
	display: inline;
	/* ___Marges */
	margin: 0.5em 1em 0.5em 0;
	/* ___Texte */
	/* ___Décoration */
}

.image_droite/*,
.csc-textpic-intext-right*/
{
	/* ___Dimensions et positionnement */
	float: right;
	display: block;
	position: relative;
	/* ___Marges */
	padding: 0.5em 1em;
	/* ___Texte */
	/* ___Décoration */
}

.image_centre img,
.csc-textpic-center img,
.image_gauche img,
.image_droite img/*,
.csc-textpic-intext-left img*/
{
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	border: 0.1em solid #cecece;
}

.image_centre span,
.csc-textpic-center span,
.image_gauche span,
.image_droite span/*,
.csc-textpic-intext-right span*/
{
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	margin: 0.5em 0;
	/* ___Texte */
	font-size: 1.1em;
	font-style: italic;
	color: #999;
	text-align: center;
	/* ___Décoration */
}

.image_zoom
{
	/* ___Dimensions et positionnement */
	display: list-item;
	/* ___Marges */
	margin: 0 0 0 1.7em;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	text-decoration: none;
	list-style: url(picto_zoom.png);
}

.image_droite .image_zoom
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	text-align: right;
	/* ___Décoration */
}

.image_zoom:hover,
.image_zoom:active,
.image_zoom:focus
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	text-decoration: underline;
}

#carte_reseau_anjoubus
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 2em 0;
	/* ___Texte */
	/* ___Décoration */
	border: 0;
}

/* ________________________________ Documents ________________________________ */
.documents
{
	/* ___Dimensions et positionnement 
	width: 48%;
	float: left;*/
	clear: both;
	/* ___Marges */
	margin: 2em 1em 1em 0;
	/* ___Texte */
	/* ___Décoration */
	background: url(ombre_H_doc.png) top left repeat-x;
}

.documents h3
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.5em 0 0 0;
	padding: 0.3em 0.5em 0.5em 2em;
	/* ___Texte */
	/* ___Décoration */
	background: url(picto_doc.png) top left no-repeat;
}

.documents ul
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0 0 0.5em 0;
	/* ___Texte */
	/* ___Décoration */
	background: url(ombre_B_doc.png) bottom left repeat-x;
}

#contenu .documents li
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	padding: 0.5em 0;
	/* ___Texte */
	line-height: 1.3em;
	/* ___Décoration */ 
	list-style-image: none;
	list-style: none;
}

.documents li span
{
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	/* ___Texte */
	font-size: 0.9em;
	/* ___Décoration */ 
}

.documents li span.fichier
{
	/* ___Dimensions et positionnement */
	display: inline;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */ 
}

/* ________________________________ Portrait ________________________________ */
.portrait
{
	/* ___Dimensions et positionnement 
	width: 48%;
	float: left;*/
	/* ___Marges */
	margin: 0.5em 1em 2em 0;
	padding: 0.5em;
	/* ___Texte */
	font-size: 1em;
	/* ___Décoration */
	border-top: 0.1em solid #81001F;
	border-bottom: 0.1em solid #81001F;
	background: url(guillemets_ouvrants.png) 0em 1em no-repeat;
}

.portrait cite
{
	/* ___Dimensions et positionnement */
	width: 60%!important;width: 90%;
	display: block;
	/* ___Marges */
	padding: 0 2em;
	margin-top: 0.5em;
	/* ___Texte */
	font-size: 1.2em;
	font-style: italic;
	line-height: 1.6em;
	/* ___Décoration */
	background: url(guillemets_fermants.png) bottom right no-repeat;
}

.portrait .nom
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-weight: bold;
	color: #9b9b01;
	/* ___Décoration */
}

.portrait img
{
	/* ___Dimensions et positionnement */
	float: right;
	/* ___Marges */
	margin: 0.5em 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	border: 0.1em solid #cecece;
}

/* ________________________________ Encadré Contact, Consultez aussi... ________________________________ */
#encadre
{
	/* ___Dimensions et positionnement */
	clear: both;
	/* ___Marges */
	margin: 1em 1em 1em 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	background: #ffe5cc url(ombre_G_encadre.png) top left repeat-y;
}

#contenu #encadre h3,
#contenu #encadre p
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin-left: 1.5em;
	margin-right: 1.5em;
	/* ___Texte */
	/* ___Décoration */
}

#contenu #encadre address
{
	/* ___Dimensions et positionnement 
	display: inline;*/
	/* ___Marges */
	margin:0 1.5em;
	padding: 0;
	/* ___Texte */
	font-size: 1.2em;
	font-style: normal;
	/* ___Décoration */
}

#encadre div {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	background: url(ombre_D_encadre.png) top right repeat-y;
}

#encadre .coins_haut_encadre {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	background: transparent url(angle_HG_encadre.png) top left no-repeat;
}

#encadre .coins_haut_encadre p {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0 0 0 0.5em !important;
	padding: 0;
	/* ___Texte */
	font-size: 0.7em;
	/* ___Décoration */
	background: transparent url(ombre_H_encadre.png) top left repeat-x;
}

#encadre .coins_haut_encadre span {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	display: block;
	padding: 0.8em 0.8em 0 0;
	background: url(angle_HD_encadre.png) top right no-repeat;
}

#encadre .coins_bas_encadre {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 1em 0 0 0;
	/* ___Texte */
	font-size: 0.7em;
	/* ___Décoration */
	background: url(angle_BG_encadre.png) bottom left no-repeat;
}

#encadre .coins_bas_encadre p {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0 0 0 0.5em !important;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	background: url(ombre_B_encadre.png) bottom left repeat-x;
}

#encadre .coins_bas_encadre span {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	display: block;
	padding: 0.8em 0.8em 0 0;
	background: url(angle_BD_encadre.png) bottom right no-repeat;
}

#contenu #encadre ul
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.5em 1em 0 2.5em;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

#contenu #encadre ul li
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	list-style:url(puce_carree.png);
	list-style-position: outside;
}

#contenu #encadre ul li a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #444;
	font-weight: normal;
	/* ___Décoration */
	text-decoration: none;
}

#contenu #encadre ul li a:hover,
#contenu #encadre ul li a:active,
#contenu #encadre ul li a:focus
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	text-decoration: underline;
}

/* ________________________________ Actualites ________________________________ */
#contenu form
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.5em 1em 0.5em 0;
	/* ___Texte */
	/* ___Décoration */
}

#contenu form fieldset
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	border: 0;
}

#contenu form legend
{
	/* ___Dimensions et positionnement */
	display: none;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

#contenu form label
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #81001F;
	font-weight: bold;
	font-size: 1.1em;
	/* ___Décoration */
	vertical-align: middle;
}

#contenu form select
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #444;
	font-size: 1.2em;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	/* ___Décoration */
	vertical-align: middle;
}

#contenu form input
{
	/* ___Dimensions et positionnement */
	width:auto;
	overflow:visible;
	/* ___Marges */
	margin-left: 0.5em;
	margin-right: 2.5em;
	padding: 0.1em 0.5em;
	/* ___Texte */
	color: #fff;
	font-weight: bold;
	font-size: 1.1em;
	/* ___Décoration */
	background: #81001F;
	border: 0;
	vertical-align: middle;
	cursor: pointer;
}

#contenu .nb_resultats
{
	/* ___Dimensions et positionnement */
	clear: both;
	/* ___Marges */
	margin: 1em 0;
	/* ___Texte */
	font-style: italic;
	/* ___Décoration */
}

#contenu .nb_resultats strong
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-style: normal;
	/* ___Décoration */
}

#contenu .actualite
{
	/* ___Dimensions et positionnement */
	clear: both;
	/* ___Marges */
	margin: 2em 0 0 0;
	/* ___Texte */
	/* ___Décoration */
}

#contenu .actualite img
{
	/* ___Dimensions et positionnement */
	float: left;
	/* ___Marges */
	margin: 0 0.5em 0.5em 0;
	/* ___Texte */
	/* ___Décoration */
	border: 0.1em solid #cecece;
}

#contenu .actualite img
{
	/* ___Dimensions et positionnement */
	float: left;
	/* ___Marges */
	margin: 0 0.5em 0.5em 0;
	/* ___Texte */
	/* ___Décoration */
	border: 0.1em solid #cecece;
}

.retour
{
	/* ___Dimensions et positionnement */
	display: list-item;
	clear:right;
	/* ___Marges */
	margin-right: 1em;
	/* ___Texte */
	text-align: right;
	/* ___Décoration */
	list-style: url(puce_retour.png);
}

p.retour
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-size: 0.8em;
	/* ___Décoration */
}

.date
{
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	/* ___Texte */
	font-size: 0.85em;
	font-weight: bold;
	color: #717101;
	/* ___Décoration */
}

h1 .date
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-size: 0.6em;
	/* ___Décoration */
}

#contenu .recherche,
#contenu .pagination
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	padding: 0.8em 0.5em;
	/* ___Texte */
	/* ___Décoration */
	background: #f2f4bc;
}

#contenu .recherche p
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	font-size: 1em;
	/* ___Texte */
	/* ___Décoration */
}

.tx-ttnews-browsebox
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	padding: 0;
	margin: 2em 0 1em 0;
	/* ___Texte */
	font-size: 1em;
	font-style: italic;
	/* ___Décoration */
	border: 0;
	background: none;
}

#contenu .pagination
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0.3em;
	/* ___Texte */
	text-align: center;
	/* ___Décoration */
}

#contenu .pagination ul
{
	/* ___Dimensions et positionnement */
	display: inline-block;
	vertical-align: middle;
	/*width: 47em;
	 ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte 
	font-size: 0.9em;*/
	font-style: normal;
	text-align: center;
	/* ___Décoration */
}

#contenu .pagination li
{
	/* ___Dimensions et positionnement */
	float: left;
	/* ___Marges */
	margin: 0 0.3em;
	padding: 0;
	/* ___Texte */
	color: #81001F;
	font-weight: bold;
	font-size: 0.85em;
	text-align: center;
	/* ___Décoration */
	list-style: none;
}

#contenu .pagination li a
{
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	padding: 0 0.4em;
	margin: 0 0.3em;
	/* ___Texte */
	color: #fff;
	/* ___Décoration */
	background: #81001F;
	text-decoration: none;
}

#contenu .pagination li.precedent a,
#contenu .pagination li.suivant a
{
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges 
	padding: 0 0.4em;*/
	/* ___Texte */
	color: #81000f;
	font-weight: normal;
	/* ___Décoration */
	background: none;
	text-decoration: underline;
	cursor: pointer;
}

#contenu .pagination li.precedent a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin-right: 4em;
	padding-left: 1em;
	/* ___Texte */
	/* ___Décoration */
	border-right: 0.1em solid #81000f;
	background:url(prededent.png) center left no-repeat;
}

#contenu .pagination li.suivant a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin-left: 4em;
	padding-right: 1em;
	/* ___Texte */
	text-align: right;
	/* ___Décoration */
	border-left: 0.1em solid #81000f;
	background:url(suivant.png) center right no-repeat;
}


/* ________________________________ Tableaux ________________________________ */
#contenu table,
#contenu th,
#contenu tr,
#contenu td
{
	/* ___Dimensions et positionnement */
	/* ___Marges*/
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	border-collapse: collapse;
}

#contenu table
{
	/* ___Dimensions et positionnement */
	/* ___Marges*/
	margin: 1em 1em 1.5em 0;
	/* ___Texte */
	font-size: 1em!important;
	/* ___Décoration */
}

#contenu table caption
{
	/* ___Dimensions et positionnement */
	display: none;
	/* ___Marges*/
	/* ___Texte */
	/* ___Décoration */
}

#contenu .tx-offreemploi-pi1 th
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte 
	font-size: 1.1em;*/
	/* ___Décoration */
}

#contenu th
{
	/* ___Dimensions et positionnement */
	/* ___Marges*/
	margin: 0 1em;
	padding: 0.3em;
	/* ___Texte */
	text-align: left;
	font-size: 1.4em;
	color: #9b9b01;
	/* ___Décoration */
}

#contenu #col_intitule
{
	/* ___Dimensions et positionnement */
	width: 16em;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

#contenu .tx-offreemploi-pi1 td
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte 
	font-size: 0.75em;*/
	/* ___Décoration */
}

#contenu td
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	padding: 0.3em;
	/* ___Texte */
	font-size: 1.2em;
	/* ___Décoration */
	border-top: 0.1em solid #ed4d05;
	border-bottom: 0.1em solid #ed4d05;
}

#contenu td img
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin-right: 0.3em;
	/* ___Texte */
	/* ___Décoration */
	border: 0; 
}

#contenu .cellule_centree
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	text-align: center;
	/* ___Décoration */ 
}

/* ________________________________ Btn haut ________________________________ */
#contenu .btn_haut
{
	/* ___Dimensions et positionnement */
	float: none;
	clear:both;
	/* ___Marges*/
	margin: 0 1em 0 0;
	padding: 2.5em 0 0 0;
	/* ___Texte */
	line-height: 1.1em;
	text-align: right;
	/* ___Décoration */
	background: url(btn_haut.png) bottom left no-repeat;
}

#contenu .btn_haut a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-weight: normal;
	color: #81001F;
	/* ___Décoration */
}

/* ________________________________ Délibérations ________________________________ */

#contenu form#form_delib fieldset
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	border: 0;
}

#contenu form#form_delib legend
{
	/* ___Dimensions et positionnement */
	display: none;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

#contenu form#form_delib label
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin-right: 0.5em;
	/* ___Texte */
	color: #81001F;
	font-weight: bold;
	font-size: 1.1em;
	/* ___Décoration */
	vertical-align: middle;
}

#contenu form#form_delib select
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #444;
	font-size: 1.2em;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	/* ___Décoration */
	vertical-align: middle;
}

#contenu form#form_delib .fond
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-weight: bold;
	/* ___Décoration */
	background: #ed4d05;
}

/* ________________________________ Formulaires Délib, bourses et catalogue insertion ________________________________ */
#contenu form#form_bourses,
#contenu form#form_insertion,
#contenu form#form_delib
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 1em 1.5em 1em 0;
	padding: 1em;
	/* ___Texte */
	font-size: 0.9em;
	/* ___Décoration */
	background: #f2f4bc;
}

#contenu form#form_insertion fieldset
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0 0 2em 0;
	padding: 0.5em;
	/* ___Texte */
	/* ___Décoration */
	border: 0.1em solid #9b9b01;
}

#contenu form#form_insertion legend
{
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	/* ___Texte */
	color: #9b9b01;
	font-weight: bold;
	font-size: 1.3em;
	/* ___Décoration */
}

#contenu form#form_bourses #civilite
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0 0 0 30%;
	/* ___Texte */
	/* ___Décoration */
}

#contenu form#form_bourses label,
#contenu form#form_insertion label
{
	/* ___Dimensions et positionnement */
	float: left;
	width: 30%;
	/* ___Marges */
	/* ___Texte */
	line-height: 2em;
	text-align: right;
	/* ___Décoration */
}

#contenu form#form_insertion label
{
	/* ___Dimensions et positionnement */
	clear: both;
	width: 40%;
	/* ___Marges */
	margin-right: 0.5em;
	/* ___Texte */
	/* ___Décoration */
}

#contenu form#form_bourses #civilite label
{
	/* ___Dimensions et positionnement */
	float: none;
	width: auto;
	/* ___Marges */
	margin: 0 2em 0 0;
	/* ___Texte */
	text-align: left;
	/* ___Décoration */
}

#contenu form#form_bourses input,
#contenu form#form_insertion input,
#contenu form#form_delib input,
#contenu form#form_rech_agenda input
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	padding: 0.2em;
	/* ___Texte */
	color: #81001F;
	font-weight: normal;
	/* ___Décoration */
	background: #fff;
	border: 0.1em solid #81001F;
	cursor:text;
}

#contenu form#form_rech_agenda input
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.1em 0;
	/* ___Texte */
	/* ___Décoration */
}

#contenu form#form_bourses #civilite input
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0 0.5em 0 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	cursor: pointer;
}

#contenu form#form_bourses #btn_envoyer,
#contenu form#form_insertion #btn_envoyer,
#contenu form#form_delib #btn_envoyer
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	text-align: center;
	/* ___Décoration */
}

#contenu form#form_bourses #btn_envoyer input,
#contenu form#form_insertion #btn_envoyer input,
#contenu form#form_delib #btn_envoyer input,
#contenu form#form_delib #premier,
#contenu form#form_delib #precedent,
#contenu form#form_delib #suivant,
#contenu form#form_delib #fin,
#contenu form#form_rech_agenda #ok_agenda
{
	/* ___Dimensions et positionnement */
	width:auto;
	overflow:visible;
	/* ___Marges */
	margin: 1em auto;
	padding:2px .5em 2px .5em;
	/* ___Texte */
	color: #fff;
	font-weight: bold;
	text-align: center;
	/* ___Décoration */
	background:#81001F;
	border: none;
	cursor:pointer;
}

#contenu form#form_delib #premier,
#contenu form#form_delib #precedent,
#contenu form#form_delib #suivant,
#contenu form#form_delib #fin
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 1em;
	/* ___Texte */
	/* ___Décoration */
}

/* ________________________________ Cantons / communes ________________________________ */
#contenu form#choix_commune,
#contenu form#choix_canton
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 1em 1.5em 1em 0;
	padding: 0.5em;
	/* ___Texte */
	/* ___Décoration */
	background: #f2f4bc;
}

#contenu img#carte_cantons
{
	/* ___Dimensions et positionnement */
	width: 41em;
	/* ___Marges */
	margin: 1em auto;
	/* ___Texte */
	text-align: center;
	/* ___Décoration */
	border: 0.1em solid #d4d922;
}

#contenu img#carte_transports_scolaires
{
	/* ___Dimensions et positionnement */
	width: 98%;
	height: 98%;
	/* ___Marges */
	margin: 1em auto;
	/* ___Texte */
	text-align: center;
	/* ___Décoration */
	border: 0.1em solid #d4d922;
}


/*__________________________________________________________________________________________________________________________

      6. DROITE
__________________________________________________________________________________________________________________________*/

#droite {
	/* ___Dimensions et positionnement */
	float: right;
	/*width: 22.5em;*/
	width: 225px;
	display: inline;
	/* ___Marges */
	margin-top: -0.5em;
	margin-left: -0.5em !important; margin-left: -1.8em;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

#droite div{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin-top: 0.5em;
	margin-bottom: 2em;
	padding: 1.3em 0 0.5em 0;
	/* ___Texte */
	font-size: 1.2em;
	line-height: 1.4em;
	/* ___Décoration */
	background: url(ombre_droite.png) top left repeat-y ;
	background: url(ombre_droite.gif) top left repeat-y;
}

#droite div div{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.2em 1em 1.5em 0.9em;
	padding: 0.2em 0;
	/* ___Texte */
	font-size: 1em;
	/* ___Décoration */
	background: #fff;
}

/* Affiche du titre module "lettre d'info" dans la colonne de droite sur la page "toutes les actus" */
#droite div .csc-header{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	font-size: 1em;
	/* ___Décoration */
	background: none;
}

#droite img {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	border: 0.1em solid #fff;
}

#droite h2{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0 0.4em 0.3em 0.3em;
	padding: 0.3em 0.6em;
	/* ___Texte */
	color:#81001F;
	font-size: 1.2em;
	/* ___Décoration */
	background: transparent url(fd_h2_droite.png) 0.1em 0em no-repeat;
}

#droite .premier_h2{
	/* ___Dimensions et positionnement */
	position: absolute;
	width: 21.3em;
	/* ___Marges */
	margin-top: -1.5em;
	/* ___Texte */
	/* ___Décoration */
	background: transparent url(fd_h2_droite_1e.png) 0.1em 0em no-repeat;
}

#droite a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #81001F;
	font-weight: bold;
	/* ___Décoration */
}

#droite a.autres
{
	/* ___Dimensions et positionnement */
	display: list-item;
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	text-align: right;
	font-size: 0.8em;
	/* ___Décoration */
	list-style:url(puce_carree.png);
}

/* ________________________________ Listes ________________________________ */
#droite ul
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.2em 1em 1.5em 0.9em;
	padding: 0.5em 1em 0.5em 1.7em;
	/* ___Texte */
	/* ___Décoration */
	background: #fff;
}

#droite li
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	list-style:url(puce_carree.png);
}

#droite li img
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	border: 0;
}

#droite ul#agenda
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.5em 1em;
	padding: 0 1em;
	/* ___Texte */
	/* ___Décoration */
}

#droite ul#agenda li
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0.1em 0;
	/* ___Texte */
	/* ___Décoration */
}

#droite ul#agenda li .date
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	line-height: 1em;
	/* ___Décoration */
}

#droite #a_telecharger
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin-top: 0.6em;
	margin-bottom: 0;
	/* ___Texte */
	/* ___Décoration */
	background: none;
}

#droite #a_telecharger li
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	list-style:url(picto_a_telecharger.png);
}


#droite li a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #444;
	font-weight: normal;
	/* ___Décoration */
	text-decoration: none;
}

#droite ul a:hover,
#droite ul a:active,
#droite ul a:focus
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	text-decoration: underline;
}

/* ________________________________ Texte ________________________________ */
#droite p,
#droite form
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.5em 1em 0.5em 0.9em;
	/* ___Texte */
	/* ___Décoration */
}

#droite div div p
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.5em;
	/* ___Texte */
	/* ___Décoration */
}

#droite div div p.bodytext{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0 0.5em!important;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

#droite div div p span.date{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0 0 1.5em 0;
	padding: 0;
	/* ___Texte */
	line-height: 0.5em;
	/* ___Décoration */
}


/* ________________________________ Formulaire inscription lettre d'info ________________________________ */
#droite form
{
	/* ___Dimensions et positionnement */
	width: auto !important; width: 15.5em;
	/* ___Marges */
	padding: 0.5em;
	/* ___Texte */
	/* ___Décoration */
	background: #fff;
}

#droite form fieldset
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	border: 0;
}

#droite form legend
{
	/* ___Dimensions et positionnement */
	display: none;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

#droite form p {	
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.5em 0 0 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

#droite input
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-size: 0.9em;
	color: #444;
	/* ___Décoration */
}

#droite .label {	
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #81001F;
	font-weight: bold;
	/* ___Décoration */
}

#droite #inscription {	
	/* ___Dimensions et positionnement */
	width: auto;
	overflow:visible;
	display: block;
	/* ___Marges */
	margin: 0.5em auto;
	padding: 0.3em 0.5em;
	/* ___Texte */
	color: #fff;
	font-weight: bold;
	/* ___Décoration */
	background: #81001F;
	border: 0;
	cursor: pointer;
}

#droite #courriel {	
	/* ___Dimensions et positionnement */
	width:16em;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

/*__________________________________________________________________________________________________________________________

      7. PLAN DU SITE
__________________________________________________________________________________________________________________________*/

#col1,
#col2
{	
	/* ___Dimensions et positionnement */
	width:48%!important;width:36%;
	float: left;
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

#col1 li,
#col2 li
{	
	/* ___Dimensions et positionnement */
	margin: 0;
	padding: 0;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

/* ________________________________ Liens ________________________________ */
#col1 a,
#col2 a
{	
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	text-decoration: none;
}

#col1 a:hover,
#col1 a:active,
#col1 a:focus,
#col2 a:hover,
#col2 a:active,
#col2 a:focus
{	
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	text-decoration: underline;
}

/* ________________________________ Liste ŕ puces ________________________________ */
#contenu ul.niveau1
{	
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0 0.5em;
	padding: 0;
	/* ___Texte */
	/* ___Décoration 
	list-style: none;*/
}

#contenu ul.niveau2,
#contenu ul.niveau3,
#contenu ul.niveau4,
#contenu ul.niveau5
{	
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

/* ________________________________ Liens pratiques ________________________________ */
.internal-link
{	
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte 
	font-size: 0.8em;
	line-height: 3em;*/
	/* ___Décoration */
}

#contenu ul.csc-menu
{	
	/* ___Dimensions et positionnement */
	clear: both;
	/* ___Marges */
	margin: 0 0.5em 0 0;
	padding: 0.5em 0 0 0;
	/* ___Texte */
	/* ___Décoration */
}

#contenu ul.csc-menu li
{	
	/* ___Dimensions et positionnement */
	float: left;
	display: block;
	/* ___Marges */
	/* ___Texte */
	font-weight: normal;
	/* ___Décoration */
	border-right: 0.1em solid #444;
}

#contenu ul.csc-menu li a
{	
	/* ___Dimensions et positionnement */
	/* ___Marges */
	padding: 0 0.5em;
	/* ___Texte */
	font-weight: normal;
	/* ___Décoration */
}

/* ________________________________ Niveau 1 ________________________________ */
#contenu li.niveau1
{	
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 1em 0 0 0;
	/* ___Texte */
	font-size: 1.2em;
	color: #9b9b01;
	/* ___Décoration */
	list-style-image:url(puce_h2.png);
	list-style-type:square;
	list-style-position: inside;
}

#contenu li.niveau1 a
{	
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #9b9b01;
	/* ___Décoration */
}

/* ________________________________ Niveau 2 ________________________________ */

#contenu li.niveau2
{	
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.6em 0 0 0;
	/* ___Texte */
	color: #ed4d05;
	font-size: 0.75em;
	line-height: normal;
	/* ___Décoration */
	list-style: none;
}

#contenu li.niveau2 a
{	
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #ed4d05;
	/* ___Décoration */
}

/* ________________________________ Niveau 3 ________________________________ */
#contenu li.niveau3
{	
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0 0 0 1.2em;
	/* ___Texte */
	color: #444;
	font-size: 1.1em;
	line-height: 1.5em;
	/* ___Décoration */
	list-style: url(puce_carree.png);
}

#contenu li.niveau3 a
{	
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #444;
	font-weight: normal;
	/* ___Décoration */
}

/* ________________________________ Niveau 4 ________________________________ */
#contenu li.niveau4,
#contenu li.niveau5
{	
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0 0 0 2em;
	/* ___Texte */
	color: #444;
	line-height: 1.5em;
	/* ___Décoration */
	list-style: url(puce_carree.png);
}

#contenu li.niveau5
{	
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte 
	font-size: 0.85em;*/
	/* ___Décoration */
}

/*__________________________________________________________________________________________________________________________

      8. PIED DE PAGE
__________________________________________________________________________________________________________________________*/

#pied_page {
	/* ___Dimensions et positionnement */
	width:96em;
	min-width:30em;
	clear:both; 
	/* ___Marges */
	margin: 0 auto;
	padding: 0 0 1.5em 1em;
	/* ___Texte */
	text-align: left;
	/* ___Décoration */
}

#pied_page img {
	/* ___Dimensions et positionnement */ 
	/* ___Marges 
	margin-left: 24em;*/
	/* ___Texte */
	/* ___Décoration */
	vertical-align: middle;
}

#pied_page a img#marque_anjou {
	/* ___Dimensions et positionnement */ 
	/* ___Marges */
	margin-left: 11em;
	/* ___Texte */
	/* ___Décoration */
	border: 0;
	text-decoration: none;
}

/* ________________________________ Menu pied de page ________________________________ */
#menu_pied_page {
	/* ___Dimensions et positionnement */ 
	display: inline;
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

#menu_pied_page li {
	/* ___Dimensions et positionnement */ 
	display: inline;
	/* ___Marges */
	padding: 0 0.2em;
	/* ___Texte */
	/* ___Décoration */
	border-right: 0.1em solid #444;
}

#menu_pied_page li.dernier {
	/* ___Dimensions et positionnement */ 
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	border-right: 0;
}

#menu_pied_page li a {
	/* ___Dimensions et positionnement */ 
	display: inline;
	/* ___Marges */
	/* ___Texte */
	color: #444;
	/* ___Décoration */
}

/*__________________________________________________________________________________________________________________________

      9. VOCALISATION
__________________________________________________________________________________________________________________________*/

#rs_div {
	/* ___Dimensions et positionnement */
	position: absolute;
	width: 26em;
	/* ___Marges */
	left: 40em;
	/* ___Texte */
	/* ___Décoration */
}

#rs_div a {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-weight: bold;
	/* ___Décoration */
}

#rs_div a img {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.4em;
	/* ___Texte */
	/* ___Décoration */
	border: 0;
	vertical-align: middle;
}

#rs_div a#btn_fermer {
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	/* ___Texte */
	font-weight: normal;
	text-align: right;
	/* ___Décoration */
	text-decoration: underline;
}

/*__________________________________________________________________________________________________________________________

      10. GALERIE PHOTO
__________________________________________________________________________________________________________________________*/

.tx-rgsmoothgallery-pi1 {
	/* ___Dimensions et positionnement*/
	float: left;
	width: 11em; 
	/* ___Marges */
	 margin: 1em;
	/* ___Texte */
	/* ___Décoration */
}
