/*__________________________________________________________________________________________________________________________

Cette feuille de style contient les styles d'impression :
1. Propriétés de la page
2. Entęte
3. Menu principal
4. Gauche
5. Contenu
6. Droite
7. Pied de page
__________________________________________________________________________________________________________________________*/

/*__________________________________________________________________________________________________________________________

POUR VERIFIER LES EVENTUELS PBS DE MISE EN PAGE : VISUALISATION DU DECOUPAGE 
__________________________________________________________________________________________________________________________
table {border: 1px solid black;}
td {border: 1px dotted gray;}
div {border: 1px solid orange;}
img, form {border: 1px dashed blue;}
h1, h2, h3, h4, h5, h6, p {border: 1px solid yellow;}
ul {border: 1px solid green;}
li {border: 1px solid lightgreen;}
*/

/*__________________________________________________________________________________________________________________________

      1. PROPRIETES DE LA PAGE
__________________________________________________________________________________________________________________________*/

/* ________________________________ Propriétés du body ________________________________ */		
body
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.5cm;
	padding: 0;
	/* ___Texte */
	font: 62.5% "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	/* ___Décoration */
}

/* ________________________________ Liens ________________________________ */
a:link, a:visited {
  color: #81001F;
  background: transparent;
  font-weight: bold;
  text-decoration: underline;
}

#contenu a:link:after, #contenu a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 80%;
  color: #81001F;
}

#contenu a[href^="/"]:after {
  content: " (http://www.cg49.fr" attr(href) ") ";
}
  
/* ________________________________ Zones inutiles ŕ l'impression ________________________________ */
#acces_directs,
#menu_langues,
#menu_pratique,
#form_recherche,
#menu_principal,
#gauche,
.categorie,
.image_zoom,
.retour,
.autres,
#contenu .recherche,
#contenu .pagination,
.btn_haut,
#a_telecharger,
#menu_pied_page
{
	/* ___Dimensions et positionnement */
	display: none;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

/* ________________________________ Conteneur global // Conteneur : menu gauche + contenu ________________________________ */
#outer_wrapper,
#container,
#container #ombre_D
{
	/* ___Dimensions et positionnement */
	width:auto;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	background: none;
}

/* ________________________________ Class permettant le retour dans le flux ________________________________ */
.clearfix:after {
	/* ___Dimensions et positionnement */
	display:block;
	height:0;
	clear:both;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	content: ".";
	visibility: hidden;
}

.clearfix {	
	/* ___Dimensions et positionnement */
	display: inline-block;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

/* masquage ŕ IE-mac \*/
* html .clearfix {
	/* ___Dimensions et positionnement */
	height: 1%;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

.clearfix {
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}
/* fin du masquage ŕ IE-mac */
-->

/* ________________________________ Pictos sur les liens de type fichier ou de type externe ________________________________ */
.fichier,
#contenu .actualite .fichier
{
	/* ___Dimensions et positionnement */
	vertical-align: middle;
	float: none; 
	/* ___Marges */
	margin-right: 0.3em;
	/* ___Texte */
	/* ___Décoration */
	border: 0;
	
}

.externe img {
	/* ___Dimensions et positionnement */
	vertical-align: baseline; 
	/* ___Marges */
	padding: 0 0.3em;
	/* ___Texte */
	/* ___Décoration */
	border: 0;
}

.lien_rub {
	/* ___Dimensions et positionnement */ 
	/* ___Marges */
	padding-left: 1em;
	/* ___Texte */
	/* ___Décoration */
	background: url(puce_carree.png) top left no-repeat;
	text-decoration: none;
}

/*__________________________________________________________________________________________________________________________

      2. ENTETE
__________________________________________________________________________________________________________________________*/

#entete {
	/* ___Dimensions et positionnement */
	width:auto;
	height: 12em;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	background: url(fd_entete.jpg) top left no-repeat;
}

/* ________________________________ Logo ________________________________ */	
#entete h1 {
	/* ___Dimensions et positionnement */
	float: left;
	/* ___Marges */
	margin: 0.3em 0 0 1em !important; margin: 0.3em 0 0 0.3em;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	background: #fff;
}

#entete h1 a {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	text-decoration: none;
}

#entete h1 a img {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	border: 0;
}

/*__________________________________________________________________________________________________________________________

      5. CONTENU
__________________________________________________________________________________________________________________________*/

/* ________________________________ Fil d'ariane ________________________________ */
p#fil_ariane {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.2cm 0;
	padding: 0;
	/* ___Texte */
	color: #000;
	font-size: 1.1em;
	/* ___Décoration */
}

p#fil_ariane a {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-weight: normal;
	color: #000;
	/* ___Décoration */
}

/* ________________________________ Zone de contenu principal ________________________________ */
#contenu a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #81001F;
	font-weight: bold;
	/* ___Décoration */
}

#contenu p,
#contenu dl,
#contenu blockquote
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.5em 0;
	padding: 0;
	/* ___Texte */
	font-size: 1.2em;
	line-height: 1.5em;
	/* ___Décoration */
}

#contenu ul
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-size: 1.2em;
	line-height: 1.5em;
	/* ___Décoration */
}

#contenu ul li
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	padding: 0;
	margin: 0;
	/* ___Texte */
	/* ___Décoration */
	list-style-image:url(puce_li.png);
	list-style-position: outside;
	list-style-type: square;
}

#contenu h1
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0 0 0.5em 0;
	padding: 0;
	/* ___Texte */
	font-size: 2em;
	color: #ed4d05;
	font-weight: normal;
	/* ___Décoration */
}

#contenu h2,
#droite h2,
#droite .premier_h2
{
	/* ___Dimensions et positionnement */
	display: list-item;
	/* ___Marges */
	margin: 2em 1em 1em 1.4em;
	padding: 0;
	/* ___Texte */
	font-size: 1.4em;
	color: #9b9b01;
	/* ___Décoration */
	list-style-image:url(puce_h2.png);
	list-style-position: outside;
	list-style-type:square;
}

#contenu h3
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 1em 1em 0.5em 0;
	/* ___Texte */
	font-size: 1.3em;
	color: #ed4d05;
	/* ___Décoration */
}

#contenu h4
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 1em 1em 0.5em 0;
	/* ___Texte */
	font-size: 1.3em;
	color: #ed4d05;
	font-weight: normal;
	/* ___Décoration */
}

#contenu h5
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 1em 1em 0.5em 0;
	padding: 0;
	/* ___Texte */
	font-size: 1.2em;
	color: #8e2f30;
	font-weight: normal;
	/* ___Décoration */
}

#contenu h5 + p,
#contenu h6 + p
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

#contenu h6
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 1em 1em 0 0;
	padding: 0;
	/* ___Texte */
	font-size: 1.1em;
	color: #717101;
	font-weight: normal;
	/* ___Décoration */
}

/* ________________________________ Chapo ________________________________ */
#contenu #chapo
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 1em 1.5em 2em 0;
	/* ___Texte */
	/* ___Décoration */
	background: none;
}

#contenu p.chapo,
#contenu address.chapo
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-weight: bold;
	font-style: normal;
	font-size: 1.1em;
	color: #81001F;
	line-height: 1.3em;
	/* ___Décoration */
}

#contenu #img_rub
{
	/* ___Dimensions et positionnement */
	float: right;
	position: relative;
	/* ___Marges */
	margin-left: 0.8em;
	/* ___Texte */
	/* ___Décoration */
}

#contenu #img_rub span
{
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	margin: 0.5em;
	/* ___Texte */
	text-align: right;
	font-size: 1.1em;
	font-style: italic;
	color: #999;
	/* ___Décoration */
}

/* ________________________________ Menu interne (ancres) ________________________________ */
#contenu #menu_interne li
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	list-style: url(puce_menu_interne.png);
}

#menu_interne li a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #9b9b01;
	/* ___Décoration */
}

/* ________________________________ Images dans le contenu ________________________________ */
.image_centre
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.5em auto;
	/* ___Texte */
	text-align: center;
	/* ___Décoration */
}

.image_centre img
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: auto;
	/* ___Texte */
	text-align: center;
	/* ___Décoration */
}

.image_gauche
{
	/* ___Dimensions et positionnement */
	float: left;
	display: inline;
	/* ___Marges */
	margin: 0.5em 1em 0.5em 0;
	/* ___Texte */
	/* ___Décoration */
}

.image_droite
{
	/* ___Dimensions et positionnement */
	float: right;
	display: block;
	position: relative;
	/* ___Marges */
	padding: 0.5em 1em;
	/* ___Texte */
	/* ___Décoration */
}

.image_centre img,
.image_gauche img,
.image_droite img
{
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	border: 0.1em solid #cecece;
}

.image_centre span,
.image_gauche span,
.image_droite span
{
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	margin: 0.5em 0;
	/* ___Texte */
	font-size: 1.1em;
	font-style: italic;
	color: #999;
	text-align: center;
	/* ___Décoration */
}



/* ________________________________ Documents ________________________________ */
#documents
{
	/* ___Dimensions et positionnement */
	width: 48%;
	float: left;
	clear: both;
	/* ___Marges */
	margin: 1em 1em 1em 0;
	/* ___Texte */
	/* ___Décoration */
	background: url(ombre_H_doc.png) top left repeat-x;
}

#documents h3
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.5em 0 0 0;
	padding: 0.3em 0.5em 0.5em 2em;
	/* ___Texte */
	/* ___Décoration */
	background: url(picto_doc.png) top left no-repeat;
}

#documents ul
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0 0 0.5em 0;
	/* ___Texte */
	/* ___Décoration */
	background: url(ombre_B_doc.png) bottom left repeat-x;
}

#contenu #documents li
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	padding: 0.5em 0;
	/* ___Texte */
	line-height: 1.3em;
	/* ___Décoration */ 
	list-style-image: none;
	list-style: none;
}

#documents li span
{
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	/* ___Texte */
	font-size: 0.9em;
	/* ___Décoration */ 
}

/* ________________________________ Portrait ________________________________ */
#portrait
{
	/* ___Dimensions et positionnement */
	width: 48%;
	float: left;
	/* ___Marges */
	margin: 1em 1em 1em 0;
	/* ___Texte */
	/* ___Décoration */
	border-top: 0.1em solid #81001F;
	border-bottom: 0.1em solid #81001F;
	background: url(guillemets_ouvrants.png) 0em 1em no-repeat;
}

#portrait blockquote
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	padding: 0 2em 0 2.5em;
	/* ___Texte */
	font-size: 1.3em;
	font-style: italic;
	line-height: 1.6em;
	/* ___Décoration */
	background: url(guillemets_fermants.png) bottom right no-repeat;
}

#portrait dt
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-weight: bold;
	color: #9b9b01;
	/* ___Décoration */
}

#portrait dl
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0 0 1em 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

#portrait dd
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

#portrait img
{
	/* ___Dimensions et positionnement */
	float: right;
	/* ___Marges */
	margin: 0.5em 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	border: 0.1em solid #cecece;
}

/* ________________________________ Encadré Contact, Consultez aussi... ________________________________ */
#encadre
{
	/* ___Dimensions et positionnement */
	clear: both;
	/* ___Marges */
	margin: 1em 1em 1em 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	background: #ffe5cc url(ombre_G_encadre.png) top left repeat-y;
}

#contenu #encadre h3,
#contenu #encadre p
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin-left: 1.5em;
	margin-right: 1.5em;
	/* ___Texte */
	/* ___Décoration */
}

#contenu #encadre address
{
	/* ___Dimensions et positionnement 
	display: inline;*/
	/* ___Marges */
	margin:0 1.5em;
	padding: 0;
	/* ___Texte */
	font-size: 1.2em;
	font-style: normal;
	/* ___Décoration */
}

#encadre div {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	background: url(ombre_D_encadre.png) top right repeat-y;
}

#encadre .coins_haut_encadre {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	background: transparent url(angle_HG_encadre.png) top left no-repeat;
}

#encadre .coins_haut_encadre p {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0 0 0 0.5em !important;
	padding: 0;
	/* ___Texte */
	font-size: 0.7em;
	/* ___Décoration */
	background: transparent url(ombre_H_encadre.png) top left repeat-x;
}

#encadre .coins_haut_encadre span {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	display: block;
	padding: 0.8em 0.8em 0 0;
	background: url(angle_HD_encadre.png) top right no-repeat;
}

#encadre .coins_bas_encadre {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 1em 0 0 0;
	/* ___Texte */
	font-size: 0.7em;
	/* ___Décoration */
	background: url(angle_BG_encadre.png) bottom left no-repeat;
}

#encadre .coins_bas_encadre p {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0 0 0 0.5em !important;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	background: url(ombre_B_encadre.png) bottom left repeat-x;
}

#encadre .coins_bas_encadre span {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	display: block;
	padding: 0.8em 0.8em 0 0;
	background: url(angle_BD_encadre.png) bottom right no-repeat;
}

#contenu #encadre ul
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0 0 0 2.5em;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

#contenu #encadre ul li
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	list-style:url(puce_carree.png);
}

#contenu #encadre ul li a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #444;
	font-weight: normal;
	/* ___Décoration */
	text-decoration: none;
}

#contenu #encadre ul li a:hover,
#contenu #encadre ul li a:active,
#contenu #encadre ul li a:focus
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	text-decoration: underline;
}

/* ________________________________ Actualites ________________________________ */
#contenu form
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.5em 1em 0.5em 0;
	/* ___Texte */
	/* ___Décoration */
}

#contenu form fieldset
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	border: 0;
}

#contenu form legend
{
	/* ___Dimensions et positionnement */
	display: none;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

#contenu form label
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #81001F;
	font-weight: bold;
	font-size: 1.1em;
	/* ___Décoration */
	vertical-align: middle;
}

#contenu form select
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #444;
	font-size: 1.2em;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	/* ___Décoration */
	vertical-align: middle;
}

#contenu form input
{
	/* ___Dimensions et positionnement */
	width:auto;
	overflow:visible;
	/* ___Marges */
	margin-left: 0.5em;
	margin-right: 2.5em;
	padding: 0.1em 0.5em;
	/* ___Texte */
	color: #fff;
	font-weight: bold;
	font-size: 1.1em;
	/* ___Décoration */
	background: #81001F;
	border: 0;
	vertical-align: middle;
	cursor: pointer;
}

#contenu .nb_resultats
{
	/* ___Dimensions et positionnement */
	clear: both;
	/* ___Marges */
	margin: 1em 0;
	/* ___Texte */
	font-style: italic;
	/* ___Décoration */
}

#contenu .nb_resultats strong
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-style: normal;
	/* ___Décoration */
}

#contenu .actualite
{
	/* ___Dimensions et positionnement */
	clear: both;
	/* ___Marges */
	margin: 1em 0 0 0;
	/* ___Texte */
	/* ___Décoration */
}

#contenu .actualite img
{
	/* ___Dimensions et positionnement */
	float: left;
	/* ___Marges */
	margin: 0 0.5em 0.5em 0;
	/* ___Texte */
	/* ___Décoration */
	border: 0.1em solid #cecece;
}

.date
{
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	/* ___Texte */
	font-size: 0.85em;
	font-weight: bold;
	color: #717101;
	/* ___Décoration */
}

h1 .date
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-size: 0.6em;
	/* ___Décoration */
}

#contenu .recherche,
#contenu .pagination
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	padding: 0.8em 0.5em;
	/* ___Texte */
	/* ___Décoration */
	background: #f2f4bc;
}

#contenu .pagination ul
{
	/* ___Dimensions et positionnement */
	display: inline-block;
	vertical-align: middle;
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

#contenu .pagination li
{
	/* ___Dimensions et positionnement */
	float: left;
	/* ___Marges */
	margin: 0 0.2em;
	/* ___Texte */
	color: #81001F;
	font-weight: bold;
	font-size: 0.9em;
	/* ___Décoration */
	list-style: none;
}

#contenu .pagination li a
{
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	padding: 0 0.4em;
	/* ___Texte */
	color: #fff;
	/* ___Décoration */
	background: #81001F;
	text-decoration: none;
}

/* ________________________________ Tableaux ________________________________ */
#contenu table,
#contenu th,
#contenu tr,
#contenu td
{
	/* ___Dimensions et positionnement */
	/* ___Marges*/
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	border-collapse: collapse;
}

#contenu table
{
	/* ___Dimensions et positionnement */
	/* ___Marges*/
	margin: 1em 1em 1.5em 0;
	/* ___Texte */
	/* ___Décoration */
}

#contenu table caption
{
	/* ___Dimensions et positionnement */
	display: none;
	/* ___Marges*/
	/* ___Texte */
	/* ___Décoration */
}

#contenu th
{
	/* ___Dimensions et positionnement */
	/* ___Marges*/
	margin: 0 1em;
	padding: 0.3em;
	/* ___Texte */
	text-align: left;
	font-size: 1.4em;
	color: #9b9b01;
	/* ___Décoration */
}

#contenu #col_intitule
{
	/* ___Dimensions et positionnement */
	width: 16em;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

#contenu td
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	padding: 0.3em;
	/* ___Texte */
	font-size: 1.2em;
	/* ___Décoration */
	border-top: 0.1em solid #ed4d05;
	border-bottom: 0.1em solid #ed4d05;
}

#contenu td img
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin-right: 0.3em;
	/* ___Texte */
	/* ___Décoration */
	border: 0; 
}

#contenu .cellule_centree
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	text-align: center;
	/* ___Décoration */ 
}

/* ________________________________ Btn haut ________________________________ */
#contenu .btn_haut
{
	/* ___Dimensions et positionnement */
	float: none;
	clear:both;
	/* ___Marges*/
	margin: 0 1em 0 0;
	padding: 2.5em 0 0 0;
	/* ___Texte */
	line-height: 1.1em;
	text-align: right;
	/* ___Décoration */
	background: url(btn_haut.png) bottom left no-repeat;
}

#contenu .btn_haut a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-weight: normal;
	color: #81001F;
	/* ___Décoration */
}


/*__________________________________________________________________________________________________________________________

      6. DROITE
__________________________________________________________________________________________________________________________*/

#droite {
	/* ___Dimensions et positionnement */
	margin-top: 1cm;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	border-top: 0.2cm solid #81001F;
}

#droite div{
	/* ___Dimensions et positionnement */
	width: auto;
	/* ___Marges */
	/* ___Texte */
	font-size: 1.2em;
	line-height: 1.4em;
	/* ___Décoration */
	background: none;
}

#droite div div{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-size: 1em;
	/* ___Décoration */
	background: #fff;
}

#droite h2,
#droite .premier_h2 {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-size: 1.2em;
	/* ___Décoration */
}

#droite img {
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	border: 0.1em solid #fff;
}

#droite a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #81001F;
	font-weight: bold;
	/* ___Décoration */
}

/* ________________________________ Listes ________________________________ */
#droite ul
{
	/* ___Dimensions et positionnement */
	/* ___Marges 
	margin: 0.2em 0 1.5em 0;*/
	margin: 0.5em 1.5em;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	background: #fff;
}

#droite li
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0.2em 0;
	/* ___Texte */
	/* ___Décoration */
	list-style:url(puce_carree.png);
}

#droite li img
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	border: 0;
}

#droite ul#a_votre_service
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.5em 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	list-style: none;
}

#droite ul#a_votre_service li
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	list-style: none;
}

#droite #a_votre_service li a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #81001F;
	font-weight: bold;
	/* ___Décoration */
	text-decoration: underline;
}

#droite #a_votre_service li span
{
	/* ___Dimensions et positionnement */
	display: block;
	/* ___Marges */
	/* ___Texte */
	font-size: 0.9em;
	/* ___Décoration */
}

#droite li a
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #444;
	font-weight: normal;
	/* ___Décoration */
	text-decoration: none;
}

#droite ul a:hover,
#droite ul a:active,
#droite ul a:focus
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
	text-decoration: underline;
}

/* ________________________________ Texte ________________________________ */
#droite p,
#droite form
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.5em 0;
	/* ___Texte */
	/* ___Décoration */
}

/* ________________________________ Formulaire inscription lettre d'info ________________________________ */
#droite form
{
	/* ___Dimensions et positionnement */
	width: auto !important; width: 15.5em;
	/* ___Marges */
	padding: 0.5em;
	/* ___Texte */
	/* ___Décoration */
	background: #fff;
}

#droite form fieldset
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
	border: 0;
}

#droite form legend
{
	/* ___Dimensions et positionnement */
	display: none;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

#droite form p {	
	/* ___Dimensions et positionnement */
	/* ___Marges */
	margin: 0.5em 0 0 0;
	padding: 0;
	/* ___Texte */
	/* ___Décoration */
}

#droite input
{
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	font-size: 0.9em;
	color: #444;
	/* ___Décoration */
}

#droite .label {	
	/* ___Dimensions et positionnement */
	/* ___Marges */
	/* ___Texte */
	color: #81001F;
	font-weight: bold;
	/* ___Décoration */
}

#droite #inscription {	
	/* ___Dimensions et positionnement */
	width: auto;
	overflow:visible;
	display: block;
	/* ___Marges */
	margin: 0.5em 0;
	padding: 0.3em 0.5em;
	/* ___Texte */
	color: #fff;
	font-weight: bold;
	/* ___Décoration */
	background: #81001F;
	border: 0;
	cursor: pointer;
}

#droite #courriel {	
	/* ___Dimensions et positionnement */
	width:16em;
	/* ___Marges */
	/* ___Texte */
	/* ___Décoration */
}

/*__________________________________________________________________________________________________________________________

      7. PIED DE PAGE
__________________________________________________________________________________________________________________________*/

#pied_page {
	/* ___Dimensions et positionnement */
	clear:both; 
	/* ___Marges */
	margin: 0 auto;
	padding: 0.8em 0 1.5em 0;
	/* ___Texte */
	text-align: center;
	/* ___Décoration */
}