/* Left Collumn */
.leftColumn {
	background-color: transparent;
	position: absolute;
	width: 194px;
	margin: 0;
	padding: 0;
}
#accesNewsletters {
	display: block;
	height: 25px;
	width: 156px;
	background-image: url(nav_newsletter.gif);
	background-repeat: no-repeat;
	background-position: top left;
	margin-bottom: 6px;
	padding: 12px 0 0 38px;
}
#accesNewsletters select {
	font-family: Arial, sans-serif;
	font-size: 10px;
	background-color: #eeeeee;
        width: 145px;
	color: #000000;
}
#votreAvis {
	display: block;
	height: 25px;
	width: 156px;
	background-image: url(nav_avis.gif);
	background-repeat: no-repeat;
	background-position: top left;
	margin-bottom: 15px;
	padding: 12px 0 0 38px;
}
#votreAvis a, #votreAvis a:link, #votreAvis a:hover, #votreAvis a:active, #votreAvis a:visited {
	font-family: Arial, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #000000;
}
#votreAvis a:hover {
	text-decoration: underline;
}
#NavPrincipale {
	background-color: transparent;
	background-image: url(nav_top.png);
	background-repeat: no-repeat;
	background-position: top left;
	margin: 0;
	padding: 8px 0 0 0;
}
#NavPrincipale dl {
	background-color: #754b85;
	background-image: url(nav_bottom.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	margin: 0;
	padding: 0 0 8px 0;
}
#NavPrincipale dt {
	position: relative;
	margin: 0;
	padding: 0;
	height: 34px;
	width: 194px;
	border-top: 1px solid #885e98;
	border-bottom: 1px solid #5d346d;
	background-color: #754b85;
	background-image: url(nav_cursorOff2.png);
	background-repeat: no-repeat;
	background-position: center right;
}
#NavPrincipale dt.emptyItem {
/*	background-image: url(../images/nav_cursorOff3.png);*/
}
#NavPrincipale dt.actif {
	background-color: #5d346d;
	background-image: url(nav_cursorOn2.png);
	background-repeat: no-repeat;
	background-position: center right;
}
#NavPrincipale a {
	display:block;
	margin: 0;
	padding: 0 0 0 12px;
	height: 34px;
	width: 182px;
}
#NavPrincipale a, #NavPrincipale a:link, #NavPrincipale a:hover, #NavPrincipale a:active, #NavPrincipale a:visited {
	font-family: Arial, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #ffffff;
}
.actif a, .actif a:link, .actif a:hover, .actif a:active, .actif a:visited  {
	font-weight: bold;
}
#NavPrincipale dd {
	margin: 0;
	padding: 8px 0 8px 0;
	background-color: #e36926;
}
#NavPrincipale ul {
	margin: 0 0 0 12px;
	padding: 0;
	color: #ffffff;
	background-color: #e36926;
	list-style: square inside;
}
* html #NavPrincipale ul { /* Hack ie... cette règle n'est visible que par ie */
	list-style: disc inside;
}
#NavPrincipale li {
	margin: 0 0 5px 0;
	padding: 0;
	background-color: #e36926;
}
#NavPrincipale li a {
	display:inline;
	margin: 0;
	padding: 0;
}
#NavPrincipale li a, #NavPrincipale li a:link, #NavPrincipale li a:hover, #NavPrincipale li a:active, #NavPrincipale li a:visited {
	font-family: Arial, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #ffffff;
}
#NavPrincipale li a:hover {
	text-decoration: underline;
}
#NavSecondaire {
	background-color: transparent;
	background-image: url(navBlue_top.png);
	background-repeat: no-repeat;
	background-position: top left;
	margin: 15px 0 0 0;
	padding: 7px 0 0 0;
}
#NavSecondaire dl {
	background-color: #6ab5dc;
	background-image: url(navBlue_bottom.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	margin: 0;
	padding: 0 0 8px 0;
}
#NavSecondaire dt {
	position: relative;
	margin: 0;
	padding: 0;
	height: 34px;
	width: 194px;
	border-top: 1px solid #7fc7ed;
	border-bottom: 1px solid #569fc5;
	background-color: #6ab5dc;
	background-image: url(navBlue_cursorOff2.png);
	background-repeat: no-repeat;
	background-position: center right;
}
#NavSecondaire dt.actif {
	background-color: #569fc5;
	background-image: url(navBlue_cursorOn2.png);
	background-repeat: no-repeat;
	background-position: center right;
}
#NavSecondaire a {
	display:block;
	margin: 0;
	padding: 0 0 0 12px;
	height: 34px;
	width: 182px;
}
#NavSecondaire a, #NavSecondaire a:link, #NavSecondaire a:hover, #NavSecondaire a:active, #NavSecondaire a:visited {
	font-family: Arial, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #000000;
}
.actif a, .actif a:link, .actif a:hover, .actif a:active, .actif a:visited  {
	font-weight: bold;
}
#NavSecondaire dd {
	margin: 0;
	padding: 8px 0 8px 0;
	background-color: #e36926;
}
#NavSecondaire ul {
	margin: 0 0 0 12px;
	padding: 0;
	color: #ffffff;
	background-color: #e36926;
	list-style: square inside;
}
#NavSecondaire li {
	margin: 0 0 5px 0;
	padding: 0;
	background-color: #e36926;
}
#NavSecondaire li a {
	display:inline;
	margin: 0;
	padding: 0;
}
#NavSecondaire li a, #NavSecondaire li a:link, #NavSecondaire li a:hover, #NavSecondaire li a:active, #NavSecondaire li a:visited {
	font-family: Arial, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #ffffff;
}
#NavSecondaire li a:hover {
	text-decoration: underline;
}

/* Footer */
.footer {
	margin: 0;
	width: auto;
	height: 24px;
	line-height: 24px;
	background-color: #d1d0d0;
	color: #545353;
	font-family: Verdana, serif;
	font-size: 9px;
	text-align: center;
}
.footer a, .footer a:link, .footer a:hover, .footer a:active, .footer a:visited {
	text-decoration: none;
	color: #545353;
}

/* misc */

.UpLink {
	padding-top: 20px;
	float: right;
}
.clearRight {
	clear: right;
	margin: 0;
	height: 1px;
}

#centerContent {
        min-height: 600px;
        height: auto !important;
        height: 600px;        
}

.centerColumn {
	background-color: #ebebeb;
	width: auto;
	padding: 0;
	margin: 0 0 0 217px;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.centerColumn hr {
	margin: 8px 0 8px 0;
	padding: 0;
	width: auto;
	border: 0 hidden #ebebeb;
	height: 5px;
	background-image: url(bord_simple.png);
	background-repeat: repeat-x;
	background-position: top left;
}
* html .centerColumn hr { /* Hack ie... cette règle n'est visible que par ie */
	width: 100%;
	border-top: 1px solid #c8c8c8;
	border-bottom: 1px solid #ffffff;
	height: 2px;
	background-image: none;
}
.centerColumn hr.point {
	background-image: url(bord_point.png);
	background-repeat: repeat-x;
	background-position: top left;
}
* html .centerColumn hr.point { /* Hack ie... cette règle n'est visible que par ie */
	width: 100%;
	border-top: 1px dotted #c8c8c8;
	border-bottom: 1px dotted #ffffff;
	height: 2px;
	background-image: none;
}
.centerColumn hr.double {
	margin: 25px 0 8px 0;
	background-image: url(bord_double.png);
	background-repeat: repeat-x;
	background-position: top left;
}
* html .centerColumn hr.double { /* Hack ie... cette règle n'est visible que par ie */
	width: 100%;
}
.centerColumn label {
  display: block;
}

