#cherie_meteo {
	width: 200px;
}

#cherie_meteo_contents {
	background: url('meteo.png') no-repeat;
	height: 60px;
	width: 175px;
	padding: 10px;
	white-space: normal;
	position: relative;
	filter: alpha(opacity=95);
	opacity: 0.95;
	-moz-opacity:0.95;
	text-align: left;
}

#cherie_meteo_beak {
	width: 28px;
	height: 38px;
}

* html #cherie_meteo_beak { /* Alpha transparencies hack for IE */
	background-image: none;
	filter: progid : DXImageTransform . Microsoft .
		AlphaImageLoader(src = 'images/corners/red_beak.png', sizingMethod =
		'crop');
}

#cherie_meteo_tl,#cherie_meteo_tr,#cherie_meteo_bl,#cherie_meteo_br,#cherie_meteo_t,#cherie_meteo_l,#cherie_meteo_r,#cherie_meteo_b
	{
	height: 0px;
	width: 0px;
}

#cherie_meteo h1 {
	color: #dd486e;
	font: 11px arial;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

#cherie_meteo h4 {
	color: #dd486e;
	font: 11px arial;
	font-weight: bold;
	margin: 0;
	padding: 0;
	display: inline;
}

#cherie_meteo h5 {
	color: #5a5c59;
	font: 10px arial;
	margin: 0;
	padding: 0;
}

#cherie_meteo h2,.cherie_meteo_temp {
	color: #5b5b5c;
	font: 11px arial;
	margin: 0;
	padding: 0;
}

#cherie_meteo h3 {
	color: #010000;
	font: 11px arial;
	font-weight: bold;
	margin: 0;
	padding: 0;
	padding-top: 5px;
}

.cherie_meteo_in {
	margin-left: -8px;
	margin-top: 0px;
	padding: 0;
	padding-right: 2px;
	width: 40px;
	float: left;
}

#cherie_meteo_close {
	float: right;
	margin-top: -1px;
	margin-right: 24px;
}

.clear {
	clear: both;
}

.cherie_meteo_head
{
	font: bold 12px Arial;
	color: #5b5b5b;
}