body{background:url(body-repeat.jpg) repeat-x scroll center top;background-color:#fff;}
#site{background:url(body-repeat.jpg) repeat-x scroll center top;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}

/* menu 4 */
#menu4_content .part_g,#menu4_content .part_d{margin-top:5px;margin-bottom:5px;}
#menu4_content .part_g{width:687px;}
#menu4_content .part_d{width:306px;margin-left:7px;background:transparent url(structure_center.png) repeat-x scroll 0 0;}
#menu4_content .part_d .middle li .txt{float:left;}

#content_part{clear:both;}

/* middle content */
#heart{width:687px;padding-bottom:10px;float:left;}
#sidebar{/*margin-left:7px;*/float:right;width:306px;padding-bottom:10px;background:#1c1c1c;}