/******************************************************************************/
/****************************   menus déroulants   ****************************/
/******************************************************************************/

#barreMenu {
   position: absolute;
   top : 127px;
   left: 198px;
   width: 700px;
}


#menu {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#menu li {
   float: left;
   position: relative;
   margin: 0;
   padding: 0 1px;
}
#menu .lastElt {
    background: none;
    padding-right: 0;
}
#menu li a {
   display: block;
   margin: 0;
   text-decoration : none;
   padding: 0px;
}
#menu li a:hover {
   text-decoration : underline;
}
/* bug sous IE, rend les sousSousMenu non visible*/
/*
#menu .sousMenu {
	filter:alpha(opacity=90);
	opacity: 0.90;
}
*/
#menu .sousMenu, #menu .sousMenu .sousSousMenu {
   display: none;
   position: absolute;
   width: 200px;
   list-style-type: none;
   margin: 0;
   padding : 0;
}
#menu .sousMenu li, #menu .sousMenu .sousSousMenu li {
   margin: 0;
   padding: 0;
   width: 200px;
}
#menu .sousMenu li a, #menu .sousMenu .sousSousMenu li a {
   display: block;
   color: black;
   font-size : 12px;
   padding: 2px 5px 2px 10px;
   text-decoration: none;
}
#menu .sousMenu li a:hover, #menu .sousMenu .sousSousMenu li a:hover {
   text-decoration: none;
}
/*sous-menus de niveau 2 et plus*/
#menu .sousMenu .sousSousMenu {
   margin: 0px;
   margin: -20px 0 0 200px;
}
#menu .sousMenu .sousSousMenu li {
   /*background-color : #afafff;*/
}
/*remplace les javascript => ne fonctionne pas sous ie6 et <*/
/*#menu li:hover > .sousMenu { display: block; }*/

/******************************************************************************/