/******************************************************************************/
/****************************   menus déroulants   ****************************/
/******************************************************************************/

div.title_prestation{
    font-size: 1.1em;
    padding: 5px;
    margin-bottom: 10px;
    background-color:#E2E2E2;
    color:black;
    font-weight: bold;
}

#menu_gauche {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#menu_gauche li {
   margin: 0px;
   padding: 0px;
   font-size: 1px;
}
#menu_gauche li a {
   display: block;
   margin: 0;
   padding: 5px;
   color : black;
   font-weight : bold;
   font-size : 12px;
   text-decoration : none;
   background-color: transparent;
}
#menu_gauche li a:hover {
   text-decoration : underline;
}


#menu_gauche .sousMenu, #menu_gauche .sousMenu .sousSousMenu {
   list-style-type: none;
}


#menu_gauche .sousMenu {
   margin: 0;
   padding: 0;
   margin: -25px 0px 0px 150px;
   position: absolute;
   background-color: #E2E2E2;
   border: 1px solid #A0A3B2;
   padding: 5px;
}
#menu_gauche .sousMenu li {
    margin: 0;
    padding: 0;
}
#menu_gauche .sousMenu li a {
   display: block;
   color: black;
   font-size : 11px;
   width: 145px;
   padding: 5px 0px 5px 15px;
   border: 0;
   text-decoration: none;
   background-color: transparent;
}


#menu_gauche .sousMenu .sousSousMenu {
    margin: 0;
    padding : 0;
}
#menu_gauche .sousMenu .sousSousMenu li {
   margin: 0;
   padding: 0;
}
#menu_gauche .sousMenu .sousSousMenu li a {
   display: block;
   width: 135px;
   color: black;
   font-weight: normal;
   font-size : 12px;
   padding: 5px 0px 5px 25px;
   border: 0;
   text-decoration: none;
   background-color: transparent;
}

#menu_gauche .sousMenu li a:hover, #menu_gauche .sousMenu .sousSousMenu li a:hover {
   background-color: #CCD3D9;
   text-decoration: none;
}

.menu_contextuel ul.sousMenu li{
    background: none;
}

/*remplace les javascript => ne fonctionne pas sous ie6 et <*/
/*#menu li:hover > .sousMenu { display: block; }*/

/******************************************************************************/