/*******************************************************************************
************************   surdéfinition des couleurs   ************************
*******************************************************************************/

body {
    background: #ffffff url(fondPageHoriz.jpg) repeat-x;
}
a {
    color: #336699;
}
h1 {
   color: #336699;
}
h2 {
	 color: #d10019;
}
h3 {
    color: #84a3c3;
}


.champ {
    border: none;
    color: #666666;
	background: url(fondChamp.png) no-repeat;
}


.entete_tableau{
    color: white;
    background-color: #17599f;
}

.moduleCatalogue .liste th {
   color: white;
   background-color: #17599f;
}
.moduleCatalogue .fiche h1{
   color: white;
   background-color: #0066cc;
}
.moduleCatalogue .fiche h2 {
    color: #9dc82e;
    background: none;
}

#zoneFormRecherche {
	background: url(fondRecherche.png) no-repeat;
}

.champRecherche {
	color: #666666;
}

#video_accueil h2 {
	color: #336699;
}

.habillageVideo {
	background: url(fondVideo.png) no-repeat;
}


/***************************         menus          ***************************/



#menu li a {
   color : white;
   text-transform: uppercase;
}
#menu li a:hover {
   color: black;
   text-decoration: none;
}
#menu .sousMenu{
    border: 1px solid #5b84ad;
    background-color: white;
}
#menu .sousMenu li, #menu .lastElt {
    background: none;
}
#menu .sousMenu li a {
   color: black;
   text-transform: none;
   background: white;
   border-left: 15px solid #5b84ad;
}
#menu .sousMenu .sousSousMenu {
    background-color: white;
    border: 1px solid #5b84ad;
}
#menu .sousMenu .sousSousMenu li a {
   color: #5b84ad;
   background: white;
   border-left: 15px solid #5b84ad;
}
#menu .sousMenu li a:hover, #menu .sousMenu .sousSousMenu li a:hover {
   background-color: #c9d7e6;
   border-left: 15px solid black;
}

#menu #menuLaCCIM {
	height: 25px;
	width: 74px;
	text-indent: -9999px;
	background: url(menuLaCCIM.png) no-repeat;
}

#menu #menuActualites {
	height: 25px;
	width: 94px;
	text-indent: -9999px;
	background: url(menuActualites.png) no-repeat;
}

#menu #menuPublications {
	height: 25px;
	width: 145px;
	text-indent: -9999px;
	background: url(menuPublications.png) no-repeat;
}

#menu #menuEconomie {
	height: 25px;
	width: 184px;
	text-indent: -9999px;
	background: url(menuEconomie.png) no-repeat;
}

#menu #menuOffre {
	height: 25px;
	width: 143px;
	text-indent: -9999px;
	background: url(menuOffre.png) no-repeat;
}

#menu #menuPrestations {
	height: 25px;
	width: 138px;
	text-indent: -9999px;
	background: url(menuPrestations.png) no-repeat;
}

#menu #menuLaCCIM:hover, #menu #menuActualites:hover, #menu #menuPublications:hover, #menu #menuEconomie:hover, #menu #menuOffre:hover, #menu #menuPrestations:hover {
	background-position: 0 -25px;
}



/***************************   structure générale   ***************************/
#fond {
	background: url(fondPage.jpg) center repeat-y;
}
#fond2 {
	background: url(fondPageBas.jpg) bottom center no-repeat;
}
#fond3 {
	background: url(fondPageHaut.jpg) top center no-repeat;
	padding-bottom: 60px;
}

#conteneur {
    background: white url(fondColonneGauche.jpg) repeat-y;
}
#conteneur2 {
    color: black;
    background: url(header.jpg) no-repeat;
}

#header {
    
}

#liste-icones a {
	color: white;
}
#liste-icones a:hover {
	text-decoration: none;
	color: black;
}

#corps {
    color: #666666;
}

#gauche h1, #video_accueil h1, #video_accueil h1 a {
	color: #333333;
}
#gauche h2.evenementImportant {
	color: #d10019;
}
#gauche h3 {
	color: #84a3c3;
}
#footer, #footer a {
    color: #666666;
}

#edito {

}

#actuAccueil {
    color: black;
}
#actuAccueil .ficheUne {
    background: #C8D0C3 url(fondActuAccueil.jpg) repeat-y;
}
#actuAccueil a {
    color: #cd1a73;
}
#actuAccueil h1 {
    color: black;
}
#actuAccueil h2 {
    color: black;
    border-bottom: 1px solid white;
}
#actuAccueil h3 {
    color: black;
}

#documents {
    background: url(zoneBas.jpg) no-repeat bottom left;
}
#documentsHaut {
    color: white;
    background: #17599f url(zoneHaut.jpg) no-repeat top left;
}
#documentsTitre {
    border-bottom: 1px solid #B8CA30;
}
#documents li {
    color: #B8CA30;
}
#documents a {
    color: white;
}


.cadreDroit {
    color: white;
    background: url(fondCadreHaut.png) no-repeat top left;
}
.cadreDroitTitrePremier {
    color: #2070FD;
    background: url(cadreDroitHautPremier.jpg) no-repeat top left;
}
.cadreDroitContenu {
    background: white url(fondCadre.png) bottom left no-repeat;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
.cadreDroitBas {
	background: url(fondCadreBas.png) no-repeat bottom left;
}
.cadreDroit h1 {
	color: #cfcfcf;
}

#droite li a {
	background: url(pictoFleche.png) 15px center no-repeat;
	text-decoration: none;
}
#droite li a:hover {
	color: white;
	background: #336699 url(survolLienCadre.png) left center no-repeat;
}


.menu_contextuel ul.sousMenu li, .menu_contextuel ul.sousSousMenu li {
	background: url(pictoFleche.png) 10px 13px no-repeat;
}


#signature {
    color: #333333;
}
#signature a{
    color:#333333;
}

.gauche-contact .moduleKmlArticles .fiche {
    width: 150px;
    text-align: justify;
    padding: 5px;
}
.gauche-contact .moduleKmlArticles .photoMdl {
    float: none;
    text-align: left;
}
.gauche-contact .moduleKmlArticles .photoMdl img {
    /*width: 300px;*/
    max-width: 120px;
    width: expression(this.width > 120 ? 120: true);
}
.captcha-form{
    padding: 10px;
}
.tab-captcha{
    position: relative;
    margin: auto;
}
.tab-captcha td{
    padding: 3px;
}

#video_accueil {
    background: url(filigraneCCIM.png) no-repeat;
}

#video_accueil .infosVideoAccueil {
	background: url(fondPremierItemVideo.png) no-repeat;
}

#video_accueil .infosVideo {
	background: url(fondItemVideo.png) no-repeat;
}

#video_accueil .infosDerniereVideo {
	background: url(fondDernierItemVideo.png) no-repeat;
}

/******************************************************************/
/************ formulaire sur site *********************************/
/******************************************************************/
#corps form hr{
    display: none;
}
#corps form .bouton{
    color: white;
    background-image: url(bouton.gif);
    background-repeat: no-repeat;
    padding: 0px;
    width: 300px;
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#corps form .captcha-form{
    border: 1px solid black;
}


/******************************************************************/
/************ calendrier ******************************************/
/******************************************************************/
#calendrier {
    border: 1px solid #666666;
    background-color: #ffffff;
}
#calendrier .enteteCalendrier {
    background-color: #17599f;
}
#calendrier .titre {
    color: white;
}
#calendrier a {
    color: #666666;
}
#calendrier a:hover {
    background-color: white;
}
#calendrier .joursVides {
    color: #000000;
    background-color: #e5e5e5;
}
#calendrier .joursNormaux {
    color: #000000;
    background-color: #e5e5e5;
}
#calendrier .aujourdHui {
    font-weight: bold;
    background-color: transparent;
}

.cadreDroitBicentenaire{

}

/******************************************************************/
/************ agenda light ****************************************/
/******************************************************************/
.fiche-titre-agenda{
    
}

/*******************************************************************/
/****** division date de mise a jour *******************************/
/*******************************************************************/
.datemaj{
    float: right;
    font-size: 10px;

}

.dateAgenda {
	background: url(fondDate.png) no-repeat;
	_background: url(fondDateIE6.png) no-repeat;
}
.dateAgenda .dateJour {
	color: white;
}
.dateAgenda .dateMois {
	color: #ffffff;
}

#signatureAzimut, #signatureAzimut a {
	color: #666666;
}