#header-print {display:block;}
#header {display:none;}
#droite {display:none;}
#gauche {display:none;}
#menu{display:none;}
#liste-icones{display:none;}
#outils{display:none;}
#signature{display:none;}

#conteneur {
    background: none;
}
#conteneur2 {
    background: none;
}
.gauche-contact .moduleKmlArticles .fiche {
    width: 100%;
}
.gauche-contact .moduleKmlArticles .fiche img{
    float: left;
    margin: 10px;
}
#conteneur {width:100%;}
#corps{margin-left:0px;}
#footer img{display:none;}
#footer .texte{position:relative;width:auto;}
