/*************************************************************************************/
/*************************************************************************************/
/*** Feuille de style principale pour l'habillage du site www.olympic.asso.fr
/*** Réalisée par : Lileo
/*************************************************************************************/
/*************************************************************************************/

/*************************************************************************************/
/*** Style généraux
/*************************************************************************************/

* { margin: 0; padding: 0;} 

/*html,body{ width: 100%; }*/

body{
	margin-top: 10px;
	background-color: #FFFFFF;
	font-size: 0.85em;
	font-family: "Trebuchet MS", Helvetica, Verdana, Arial, sans-serif; }

hr.spip {
	border: none;
	height:30px; 	
	background: url(separator.gif) no-repeat center center;
	margin: 10px 0; }
.spacer { clear:both; }
.invisible { visibility: hidden; }
.format_png { behavior: url(http://www.olympic.asso.fr/squelettes/css/iepngfix.htc); }
.date { font-size: 0.9em; color: #888; }
div.sommaire hr.spip { margin-bottom: 0; }

img { border: 0; margin: 0; padding: 0; behavior: url(http://www.olympic.asso.fr/squelettes/css/win_png.htc); }

/*object { z-index: 10; }*/

/*** Textes ***/
p { padding: 4px 0px; }	
p.surtitre { font-weight: bold;	color: #888; text-transform: capitalize; }
p.soustitre { font-weight: bold; font-size: 1.2em; padding-bottom: 15px; }
p.fil_ariane { padding-bottom: 10px; font-size: 0.8em; color: #888; text-align: right; }
div.chapo { font-size: 1.1em; color: #666; font-style: italic; padding-bottom: 10px; }
div.notes { font-size: 0.85em; color: #888; padding: 10px 0; }
div.precedent_suivant { height: 20px; padding-bottom: 20px; }
p.precedent { float: left; }
p.precedent a { padding-left: 16px; background: url(prev.gif) no-repeat center left; }
p.suivant { float: right; }
p.suivant a { padding-right: 16px; background: url(next.gif) no-repeat center right; }
p.lien a { padding-left: 16px; background: url(next.gif) no-repeat left center; }
p.actu a { /*padding-left: 11px; background: url(../img/puce1.gif) no-repeat center left; font-weight: bold;*/ }
p.rss a { padding-left: 20px; background: url(rss.gif) no-repeat center left; }
blockquote.spip { 
	padding: 10px 30px; 
	font-style: italic; 
	font-family: Times, serif; } 

/*** Liens hypertextes ***/
a { color: #cc0000; text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { /*text-decoration: line-through;*/ color: #880000; }
a.spip_glossaire { color: #000; border-bottom: black dotted 1px; }
a.spip_glossaire:hover { text-decoration: none; border-bottom-style: solid; }

/*** Titres ***/
h1, h4 { font-size: 1.2em; font-weight: bold; }
h2 { text-transform: uppercase; }
h5 { font-size: 1.05em; font-weight: bold; }
h1 { 
	padding-bottom: 15px; 
	text-align: left; 
	color: #bbb; 
	font-size: 2.5em; }
h3.spip { font-size: 1.5em; padding: 10px 0; }

/*** Listes ***/
ul.spip {
	padding-left: 20px; 
	padding-bottom: 4px; 
	list-style-type: square; 
	list-style-position: outside; }
/*li.spip { padding-left: 20px; }*/  

/*** Images ***/
img.spip_logos { margin: 5px 10px 5px 0; border: none; }
.article img.spip_logos { margin: 5px 0px 5px 15px; border: none; }
	
/*** Documents ***/
.spip_documents { text-align: center; font-size: 0.85em; }
.spip_documents_left { float: left; margin: 5px 15px 5px 0; }
.spip_documents_center { margin: 5px 15px; }
.spip_documents_right { float: right; margin: 5px 0 5px 15px; }
.spip_documents img { border: none; }
span.spip_documents_center { display: block; }
.spip_doc_titre { font-weight: bold; margin-left: auto; margin-right: auto; }
.spip_doc_titre span.normal { font-weight: normal; }
.spip_doc_descriptif { margin-left: auto; margin-right: auto; }
#journal .objet_multimedia { margin: 0 0 5px; text-align: left; }

/*** Tableaux ***/
table.spip { padding: 10px 0; }
table.spip th, table.spip td { padding: 2px 4px; }
table.spip tr.row_first { background-color: #ddd; }
table.spip tr.row_even { background-color: #f9f9f9; }
table.spip tr.row_odd { background-color: #eee; }

/*** Formulaires ***/
input { border: #ccc solid 1px; background-color: white; padding: 2px; font-size: 0.9em; }
input.input_button { 
	padding: 1px 0; 
	margin-left: 5px;
	border: #bb0000 solid 1px; 
	background-color: #cc0000;
	color: #fff; 
	text-align: center; 
	cursor: pointer; }
input.input_button:hover { background-color: #bb0000; }
input.input_radio, input.input_check { border: none; background-color: transparent; }

/*************************************************************************************/
/*** Structure des pages
/*************************************************************************************/

#page {	margin: 0 auto; width: 980px; /*z-index: 1;*/ }
#entete { /*z-index:0;*/  
	/*position: absolute; top: 30px;*/   
	width: 980px;
	position: relative; top: 20px; 
	background: url('bandeau1.jpg') no-repeat left top; }
body.secteur1 #entete.alternatif { background-image: url('bandeau1alt.jpg'); }
body.secteur2 #entete { background-image: url('bandeau2.jpg'); }
body.secteur48 #entete { background-image: url('bandeau48.jpg'); }
body.secteur55 #entete { background-image: url('bandeau55.jpg'); }
body.secteur98 #entete { background-image: url('bandeau98.jpg'); }
body.secteur99 #entete { background-image: url('bandeau99.jpg'); }
body.secteur100 #entete { background-image: url('bandeau100.jpg'); }
#entete #logo { position: relative; top: 20px; }
#entete object { float: right; margin: 10px 0; z-index:10; }
#principal	{ 
	position: relative; 
	top: 30px;
	width: 980px;
	text-align: left; }
#contenu_gauche {
	float: left;
	width: 730px;  
	min-height: 500px;
	height: auto !important;
	height: 500px;
	/*padding: 0 40px 0 0;*/ }
#menu_secondaire {
	margin-right: 530px; 
	font-size: 0.85em; }
#contenu_droit {
	width: 230px;
	float: right; 
	font-size: 0.85em; }
#contenu { 
	float: right;
	width: 510px; }


/*************************************************************************************/
/*** Menus
/*************************************************************************************/

#menus {
	position: absolute;
	width: 980px;
	z-index:100;
	top: 5px;
	/*margin: 0 auto;*/
	font-size: 0.90em; }
#menus dl, #menus dt, #menus dd, #menus ul, #menus li {
	margin: 0;
	padding: 0;
	list-style-type: none; }
#menus dl { float: left; width: 12.3%; }
#menus dt {
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	background: #f4f4f4;
	/*border: 1px solid #ddd;*/
	margin: 1px; }
#menus dd { display: none; z-index:100; }
#menus li { text-align: center; }
#menus li a, #menus dt a {
	color: #fff;
	text-decoration: none;
	display: block;
	height: 100%;
	border: 0 none;
	padding: 2px; }
#menus li a { border-top: 1px solid #444; }
#menus li.premier a { border: none; }
#menus li a {
	background-color: #000; 
	filter:alpha(opacity=80);
	-moz-opacity:.80;
	opacity:.80; }
#menus li a:hover { background-color: #cc0000; }

/*#menus dl { float: left; background-color: #fff; }
#menus dd { 
	position: absolute;
	min-width: 180px;
	width: auto;
	_width:180px; }
#menus dt a, #menus li a { display: block; }
#menus dt a { 
	font-weight: bold;
	font-size: 1.15em;
	padding: 0; 
	color: #000; 
	background: url(../img/cache_menu_d.gif) no-repeat top right; }
#menus dt a span { 
	padding: 4px 10px 8px;
	background: url(../img/cache_menu_g.gif) no-repeat top left; 
	display: block; }
#menus dd { border: red solid 1px; display: block; }
#menus dd a { color: #fff; padding: 2px 5px; }
#menus ul { 
	background-color: #000; 
	filter:alpha(opacity=80);
	-moz-opacity:.80;
	opacity:.80;}
#menus a:hover, #menus a:visited { text-decoration: none; }
#menus a:hover { color: #fff; background-color: #cc0000; }
#menus dt a.on { background-color: #000; color: #fff; }*/

/*** Séparateur ***/
#menus dl.menu_interval { display: none; border-left: #666 solid 5px; margin: 10px 0 4px 10px; width: 10px; height: 5px;}
#menus dl.menu_interval dt { visibility: hidden; }

/*************************************************************************************/
/*** Menu secondaire
/*************************************************************************************/

#menu_secondaire div.bg_haut { background: url(H99.gif) no-repeat top left; padding-top: 14px; }
#menu_secondaire div.bg_bas { background: url(B99.gif) no-repeat bottom left; padding-bottom: 14px; }
#menu_secondaire div.bg_milieu { background-color: #f4f4f4; padding: 0 5px 10px; }
div.menu_gauche { padding: 10px 0 6px; color: #666; border-top: #aaa dotted 1px; font-weight: normal; }
#menu_lecteur_mp3 { padding: 20px 0px; }
#menu_secondaire ul { margin-bottom: 5px; list-style-type: none; }
#menu_secondaire li { background: url(puce1.gif) no-repeat left 40%; padding-left: 12px; font-weight: bold; }
#menu_secondaire #menu_lecteur_mp3 li { background: none; padding: 0; font-weight: normal; }
.english_version li a { background: url(uk-flag.jpg) no-repeat center right; padding-right: 28px; }

#menu_radiolympic { position: absolute; } 
#menu_recherche { margin-top: 120px; }
#menu_sondages div.bg_haut { margin-top: 20px;  background: url(H100.gif) no-repeat top left; padding-top: 14px; }
#menu_sondages div.bg_bas { background: url(B100.gif) no-repeat bottom left; padding-bottom: 14px; }
#menu_sondages div.bg_milieu { background-color: #e6e6e6; padding: 0 0 10px; }
#menu_sondages h4 { text-align: center; color: #666; padding: 0 5px; }
div.sondage { margin: 5px 0 0; padding : 5px 0 0; border-top: #888 dotted 1px; overflow: auto; }
div.sondage.premier { border-top: none; }
.formulaire_sondage { width: 195px; }
/*.formulaire_sondage input.input_radio, .formulaire_sondage input.input_check { position: relative; top: 0.3em;}*/ 
.formulaire_sondage input.input_button { float: right; padding-right: 5px; }
.formulaire_sondage table { padding: 0 5px; }
.formulaire_sondage table td { padding: 2px 5px 2px 0; vertical-align: top; }
p.question_sondage { padding-left: 5px; padding-right: 5px; font-weight: bold; }
p.question_sondage span { font-weight: normal; }
#menu_secondaire div.sondage li { 
	margin: 0 0 5px; 
	padding: 2px 5px; 
	background: none; 
	background-color: #dadada;
	border-right: #c7c7c7 solid 5px;
	border-top: #cdcdcd solid 1px;
	/*border-top: #efefef solid 1px; 
	border-bottom: #d0d0d0 solid 1px;*/ 
	font-weight: normal; }
div.sondage li span { font-size: 0.85em; }
div.sondage div.jauge { float: left; background: #cc0000; height: 0.85em; margin-top: 0.3em; }

.formulaire_newsletter { }
.formulaire_recherche label {display: none; }
.formulaire_recherche input { width: 92%; }
.formulaire_newsletter input.input_text { float: left; width: 140px; } 
.formulaire_newsletter input.input_button {	width: 30px; }

body.radio { margin: 20px 20px; }
.player_mp3_multi { padding-top: 10px; }
.player_mp3_multi object { outline: none; }

/*************************************************************************************/
/*** Contenu droit
/*************************************************************************************/

#contenu_droit div.bg_haut { background: url(H01.gif) no-repeat top left; padding-top: 21px; }
#contenu_droit div.bg_bas { 
	background: url(B01.gif) no-repeat bottom left; 
	overflow: auto; 
	padding-bottom: 21px; }
#contenu_droit div.bg_milieu { background-color: #e7e7cf; /*padding: 0 5px;*/ }
#contenu_droit h4 { padding: 10px 0 4px; text-align: center; }
#contenu_droit #actus_olympic h4 { padding-top: 0; } 
#contenu_droit #journal h4 { padding-bottom: 10px; } 
#contenu_droit h4, h3.spip { color: #72723f; }
#contenu_droit p.plus_d_infos { padding-top: 0; }
/*#contenu_droit p.lien { text-align: right; }*/
div.plus, #journal, #actus_reseau, #fil_rss { border-top: #72723f dotted 1px; }
div.zone_contenu { padding: 0 5px; }
#journal { background-color: #D1D1B0; padding-bottom: 5px; margin: 0; }
p.actu, #contenu_droit p.spip { padding-left: 9px; background: url(P01.gif) no-repeat left 0.75em; }

/*p.plus, p.minus,*/ p.plus_d_infos { text-align: right; }
p.plus a, p.plus_d_infos a { background: url(plus.gif) no-repeat center left; padding-left: 12px; }
p.minus a { background: url(minus.gif) no-repeat center left; padding-left: 12px; }
div.plus { display:none; }

/*************************************************************************************/
/*** Variantes de couleur selon les secteurs ***/
/*************************************************************************************/

/*** Menu 1 - couleur foncée : #72723f - couleur claire : #e7e7cf ***/
#menus #menu1 { background-color: #e7e7cf; }
#menus #menu1 a { color: #828129; }
#menus #menu1 a:hover, #menus #menu1 a.on { background-color: #72723f; color: #fff; }

/*** Menu 2 - couleur foncée : #aab8b8 - couleur claire : ??? ***/
.secteur2 #contenu_droit div.bg_haut { background-image: url(H02.gif); }
.secteur2 #contenu_droit div.bg_bas { background-image: url(B02.gif); }
#menus #menu2, .secteur2 #contenu_droit div.bg_milieu { background-color: #e2eaea; }
.secteur2 #contenu_droit h4, .secteur2 h3.spip { color: #6ea8a9; }
.secteur2 div.plus, .secteur2 #journal, .secteur2 #actus_reseau,
.secteur2 #fil_rss { border-color: #6ea8a9; }
.secteur2 #journal { background-color: #C3D9D9; }  
#menus #menu2 a { color: #6ea8a9; }
#menus #menu2 a:hover, #menus #menu2 a.on { background-color: #6ea8a9; color: #fff; }
/*.secteur2 #principal { background: url(../img/traits/T02.jpg) repeat-y 75% top; }*/
.secteur2 p.actu, .secteur2 #contenu_droit p.spip { background-image: url(P02.gif); }

/*** Menu 3 - couleur foncée : #aeb584 - couleur claire : #e8eadb ***/
.secteur99 #contenu_droit div.bg_haut { background-image: url(H03.gif); }
.secteur99 #contenu_droit div.bg_bas { background-image: url(B03.gif); }
#menus #menu3, .secteur99 #contenu_droit div.bg_milieu { background-color: #e8eadb; }
.secteur99 #contenu_droit h4, .secteur2 h3.spip { color: #a2ab72; }
.secteur99 div.plus, .secteur99 #journal, .secteur99 #actus_reseau, 
.secteur99 #fil_rss { border-color: #a2ab72; }
.secteur99 #journal { background-color: #D3D6B8; }  
#menus #menu3 a { color: #a2ab72; }
#menus #menu3 a:hover, #menus #menu3 a.on { background-color: #a2ab72; color: #fff; }
/*.secteur99 #principal { background: url(../img/traits/T03.jpg) repeat-y 75% top; }*/
.secteur99 p.actu, .secteur99 #contenu_droit p.spip { background-image: url(P03.gif); }

/*** Menu 4 - couleur foncée : #82ae63 - couleur claire : #e9f2e1 ***/
.secteur98 #contenu_droit div.bg_haut { background-image: url(H04.gif); }
.secteur98 #contenu_droit div.bg_bas { background-image: url(B04.gif); }
#menus #menu4, .secteur98 #contenu_droit div.bg_milieu { background-color: #e9f2e1; }
.secteur98 #contenu_droit h4, .secteur2 h3.spip { color: #82ae63; }
.secteur98 div.plus, .secteur98 #journal, .secteur98 #actus_reseau, 
.secteur98 #fil_rss { border-color: #82ae63; }
.secteur98 #journal { background-color: #CCDEBD; }  
#menus #menu4 a { color: #82ae63; }
#menus #menu4 a:hover, #menus #menu4 a.on { background-color: #82ae63; color: #fff; }
/*.secteur98 #principal { background: url(../img/traits/T04.jpg) repeat-y 75% top; }*/
.secteur98 p.actu, .secteur98 #contenu_droit p.spip { background-image: url(P04.gif); }

/*** Menu 5 - couleur foncée : #b48163 - couleur claire : #e5dbd5 ***/
.secteur48 #contenu_droit div.bg_haut { background-image: url(H05.gif); }
.secteur48 #contenu_droit div.bg_bas { background-image: url(B05.gif); }
#menus #menu5, .secteur48 #contenu_droit div.bg_milieu { background-color: #e9e3d3; }
.secteur48 #contenu_droit h4, .secteur2 h3.spip { color: #b16a3f; }
.secteur48 div.plus, .secteur48 #journal, .secteur48 #actus_reseau, 
.secteur48 #fil_rss { border-color: #b16a3f; }
.secteur48 #journal { background-color: #D4CAB0; }  
#menus #menu5 a { color: #b16a3f; }
#menus #menu5 a:hover, #menus #menu5 a.on { background-color: #b16a3f; color: #fff; }
/*.secteur48 #principal { background: url(../img/traits/T05.jpg) repeat-y 75% top; }*/
.secteur48 p.actu, .secteur48 #contenu_droit p.spip { background-image: url(P05.gif); }

/*** Menu 6 - couleur foncée : #cc854b - couleur claire : ??? ***/
.secteur55 #contenu_droit div.bg_haut { background-image: url(H06.gif); }
.secteur55 #contenu_droit div.bg_bas { background-image: url(B06.gif); }
#menus #menu6, .secteur55 #contenu_droit div.bg_milieu { background-color: #faf2e0; }
.secteur55 #contenu_droit h4, .secteur2 h3.spip { color: #c67432; }
.secteur55 div.plus, .secteur55 #journal, .secteur55 #actus_reseau, 
.secteur55 #fil_rss { border-color: #c67432; }
.secteur55 #journal { background-color: #EBDCBC; }  
#menus #menu6 a { color: #c67432; }
#menus #menu6 a:hover, #menus #menu6 a.on { background-color: #c67432; color: #fff; }
/*.secteur55 #principal { background: url(../img/traits/T06.jpg) repeat-y 75% top; }*/
.secteur55 p.actu, .secteur55 #contenu_droit p.spip { background-image: url(P06.gif); }

/*** Menu 7 - couleur foncée : #81655c - couleur claire : ??? ***/
.secteur100 #contenu_droit div.bg_haut { background-image: url(H07.gif); }
.secteur100 #contenu_droit div.bg_bas { background-image: url(B07.gif); }
#menus #menu7, .secteur100 #contenu_droit div.bg_milieu { background-color: #f1e9e9; }
.secteur100 #contenu_droit h4, .secteur2 h3.spip { color: #874b39; }
.secteur100 div.plus, .secteur100 #journal, .secteur100 #actus_reseau, 
.secteur100 #fil_rss { border-color: #874b39; }
.secteur100 #journal { background-color: #E6D1D1; }  
#menus #menu7 a { color: #874b39; }
#menus #menu7 a:hover, #menus #menu7 a.on { background-color: #874b39; color: #fff; }
/*.secteur100 #principal { background: url(../img/traits/T07.jpg) repeat-y 75% top; }*/
.secteur100 p.actu, .secteur100 #contenu_droit p.spip { background-image: url(P07.gif); }

/*** Menu Forum ***/
#menus #menu8 { background-color: #f9f6e6; } 
#menus #menu8 a { color: #7d723f; }
#menus #menu8 a:hover, #menus #menu8 a.on { background-color: #7d723f; color: #fff; }

/*************************************************************************************/
/*** Pied de page
/*************************************************************************************/

#pied {
	height:100px;
	background: white url(pied2page.jpg) no-repeat center center;
	font-size: 0.70em;
	text-align: center;
	padding-top: 125px;
	padding-bottom:50px; }
#pied p { padding: 0; margin: 0; }
#pied a { color: #000; } 
#pied a:visited { text-decoration: none; }
#pied a.olympic { margin-right: 320px; }

/*************************************************************************************/
/*** Listes de rubriques ou d'articles
/*************************************************************************************/

#concerts_passes { font-size: 0.8em; padding-bottom: 10px; border-bottom: #ddd solid 1px; }
#concerts_passes div.plus { border: none; }
#concert_du_jour { font-size: 1.2em; border-bottom: #ddd solid 1px; }

div.concert { padding: 10px 0; clear: both; }

#liste_articles { font-size: 0.9em; }
#liste_rubriques div, div.article_de_liste { padding: 10px 0; }

.secteur95 div.article_de_liste { border-top: #ddd solid 1px; }
 
.articles_rss { font-size: 0.9em; }


/*************************************************************************************/
/*** Portfolio / journal
/*************************************************************************************/

#portfolio { padding: 10px 0px;	margin: 20px 0px 0px; }
#portfolio ul {	text-align: center; }#portfolio li {	display: inline; }
#portfolio a img { margin: 5px; padding: 3px; border: #ddd solid 1px; }
#portfolio a:hover img { border-color: #cc0000; }
#portfolio table img { margin-right: 5px; }
#portfolio table td {padding-bottom: 10px; }
#journal a img { margin: 5px 0; padding: 0; border: #000 solid 1px; }
#journal .film a img { border: none; behavior: url(http://www.olympic.asso.fr/squelettes/css/win_png.htc); }
#journal a:hover img { border-color: #cc0000; }
#journal .film a:hover img { border: none; }
.element_journal { margin: 0 10px 5px 0; padding: 0; vertical-align: top; float: left; }

#ImageBoxOverlay { background-color: #000; }
#ImageBoxCaption { background-color: #F4F4EC; }
#ImageBoxContainer {
	width: 250px;
	height: 250px;
	background-color: #F4F4EC; }
#ImageBoxCaptionText {
	font-weight: bold;
	padding-bottom: 5px;
	font-size: 13px;
	color: #000; }
#ImageBoxCaptionImages { margin: 0; }
#ImageBoxClose img { border: none; text-decoration: none; }
#ImageBoxNextImage {
	background-image: url(spacer.gif);
	background-color: transparent; }
#ImageBoxPrevImage {
	background-image: url(spacer.gif);
	background-color: transparent; }
#ImageBoxNextImage:hover {
	background-image: url(next_image.jpg);
	background-repeat:	no-repeat;
	background-position: right top; }
#ImageBoxPrevImage:hover {
	background-image: url(prev_image.jpg);
	background-repeat:	no-repeat;
	background-position: left top; }

/*************************************************************************************/
/*** Page des actus
/*************************************************************************************/

div.actus h2, div.pagination { margin-top: 15px; padding-top: 5px; border-top: #ddd solid 1px; }
div.actus h2.premier { padding-top: 0; border: none; }

