body {
	background-color: #CCCCCC;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.car_bleu {
	background-image: url(home_picto_bg.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
.car_gris {
	background-image: url(home_picto_bg_gris.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
.none {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2px;
}
.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}
a:hover.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}
.neuf {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #999;
}
.OngletON {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}
a:hover.OngletON {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}
.OngletOF {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #669900;
	text-decoration: none;
}
a:hover.OngletOF {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #669900;
	text-decoration: none;
}
.TitreRubrique {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
}
a:hover.TitreRubrique {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
}
.TitreRubriqueOrange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #DC002E;
	text-decoration: none;
}
a:hover.TitreRubriqueOrange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #99CC00;
	text-decoration: none;
}
.TitreSousRubrique {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #669900;
	text-decoration: none;
}
a:hover.TitreSousRubrique {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #DC002E;
	text-decoration: none;
}
.TitreSousRubriqueOrange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #DC002E;
	text-decoration: none;
}
a:hover.TitreSousRubriqueOrange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #DC002E;
	text-decoration: none;
}
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
a:hover.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #DC002E;
	text-decoration: none;
}
.rec {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
a:hover.rec {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #DC002E;
	text-decoration: none;
}
.path {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
}
a:hover.path {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #DC002E;
	text-decoration: underline;
}
.pathP {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:hover.pathP {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #DC002E;
	text-decoration: none;
}
.text-moyen {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
a:hover.text-moyen {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #DC002E;
	text-decoration: none;
}
.text-petit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
}
a:hover.text-petit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #DC002E;
	text-decoration: none;
}
.text-lili {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #000000;
}
a:hover.text-lili {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #DC002E;
	text-decoration: none;
}
.form {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	background-color: #FFFFFF;
	border: 1px solid #A7A6AA;
}
.form_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #A7A6AA;
}
.gab_titre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #DC002E;
	font-weight: bold;
}
a:hover.gab_titre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #DC002E;
	font-weight: bold;
	text-decoration: none;
}
.gab_sstitre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #DC002E;
}
a:hover.gab_sstitre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #99CC00;
	text-decoration: none;
}
.titretableau {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #99CC00;
}
.lien {
	color: #FF0000;
	text-decoration: underline;
}
a:hover.lien {
	color: #DC002E;
	text-decoration: none;
}
.tit_home {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #DC002E;
	font-weight: bold;
	text-decoration: none;
}
a:hover.tit_home {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #DC002E;
	font-weight: bold;
	text-decoration: none;
}
.txt_home {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #99CC00;
	font-weight: bold;
	text-decoration: none;
}
a:hover.txt_home {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #99CC00;
	font-weight: bold;
	text-decoration: none;
}
.tit_home_A {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #DC002E;
	font-weight: bold;
	text-decoration: none;
}
a:hover.tit_home_A {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #DC002E;
	font-weight: bold;
	text-decoration: none;
}
.txt_home_A {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #99CC00;
	font-weight: bold;
	text-decoration: none;
}
a:hover.txt_home_A {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #99CC00;
	font-weight: bold;
	text-decoration: none;
}
.divhidden
{
	height: 1;
	overflow: hidden;
}
.divtout
{
	height: auto;
	overflow: visible;
}
.cadreRouge {
	border: solid #DC002E 1px;
}
/* DEBUT IMAGE */
.highslide {
    cursor: url(http://www.cantal.fr/css/highslide/graphics/zoomin.cur), pointer;
    outline: none;
}
.highslide img {
	border: 1px solid #000000;
}
.highslide:hover img {
	border: 1px solid #000000;
}
.highslide-image {
	border: 1px solid #000000;
}
.highslide-image-blur {
}
.highslide-caption {
    display: none;
    border: 2px solid white;
    border-top: none;
    font-family: Verdana, Helvetica;
    font-size: 10pt;
    padding: 5px;
    background-color: white;
}
.highslide-loading {
    display: block;
	color: white;
	font-style: 'MS Sans Serif';
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
    text-decoration: none;
	padding: 3px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
    background-color: black;
}
a.highslide-credits,
a.highslide-credits i {
    padding: 2px;
    color: silver;
    text-decoration: none;
	font-size: 9px;
}
a.highslide-credits:hover,
a.highslide-credits:hover i {
    color: white;
    background-color: gray;
}
.highslide-display-block {
    display: block;
}
.highslide-display-none {
    display: none;
}
/* FIN IMAGE */