/* CSS Document */
/* ---- tag clouds ---- */
.tagcloud  {font: normal small Arial, Helvetica, sans-serif; text-align: justify;}
.tagcloud span a {line-height:20px; text-decoration:none}

.tagcloud span.level0 {font-size: 8px;}
.tagcloud span.level1 {font-size: 9px;}
.tagcloud span.level2 {font-size: 10px;}
.tagcloud span.level3 {font-size: 11px;}
.tagcloud span.level4 {font-size: 12px;}
.tagcloud span.level5 {font-size: 13px;}
.tagcloud span.level6 {font-size: 14px;}
.tagcloud span.level7 {font-size: 15px;}
.tagcloud span.level8 {font-size: 16px;}
.tagcloud span.level9 {font-size: 17px;}
.tagcloud span.level10 {font-size: 18px;}

.tagcloud span.level0 a {color:#DFDFDF;}
.tagcloud span.level1 a {color:#d6b8b8;}
.tagcloud span.level2 a {color:#a86666;}
.tagcloud span.level3 a {color:#7b4747;}
.tagcloud span.level4 a {color:#e70000;}
.tagcloud span.level5 a {color:#e70000;}
.tagcloud span.level6 a {color:#e70000;}
.tagcloud span.level7 a {color:#e70000;}
.tagcloud span.level8 a {color:#e70000;}
.tagcloud span.level9 a {color:#e70000; font-weight: bold}
.tagcloud span.level10 a {color:#ff0000; font-weight: bold}

.tagcloud span a:hover, .tagcloud span.level1 a:hover, .tagcloud span.level2 a:hover, .tagcloud span.level3 a:hover {color: white; background-color: #990000;}

.tagcloud dt {font-size: 14px; line-height: 19px; color:#e70000;}
.tagcloud dt a{font-size: 14px; line-height: 19px; color:#e70000;}
.tagcloud dd {font-size: 12px; line-height: 17px; color:#990000; padding-bottom: 4px;}
.tagcloud dd.tag {font-size: 12px; line-height: 17px; color:#666;  padding-bottom:16px;}
.tagcloud dd.tag a {color:.666; padding: 0 4px;}
.tagcloud span a:hover, .tagcloud span.level1 a:hover, .tagcloud span.level2 a:hover, .tagcloud span.level3 a:hover, .tagcloud a:hover {color: white; background-color: #990000;}

.nuage  {
	font: normal small/16px Arial, Helvetica, sans-serif;
	text-align: justify;
	text-transform: lowercase;
}
.nuage a {text-decoration:none}
.nuage a:hover {color: white; background-color: #990000;}
.nuage .level0 {font-size:8px;color:#DFDFDF;}
.nuage .level1 {font-size:10px;color:#d6b8b8;}
.nuage .level2 {font-size:12px;color:#a86666;}
.nuage .level3 {font-size:14px;color:#7b4747;}
.nuage .level4 {font-size:16px;color:#e70000;}
.nuage .level5 {font-size:18px;color:#e70000;}
.nuage .level6 {font-size:20px;color:#e70000;}
.nuage .level7 {font-size:22px;color:#e70000;}
.nuage .level8 {font-size:24px;color:#e70000;}
.nuage .level9 {font-size:26px;color:#e70000;font-weight: bold}
.nuage .level10 {font-size:28px;color:#FF3300;font-weight: bold}
.nuage_titre {font: bold normal 28px Arial, Helvetica, sans-serif;color:#cc0000;text-decoration:none;}

.petitnuage  {
	font: normal small/15px Arial, Helvetica, sans-serif;
	text-align: justify;
	text-transform: lowercase;
}
.petitnuage a {text-decoration:none}
.petitnuage a:hover {color: white; background-color: #990000;}
.petitnuage .level0 {font-size:8px;color:#DFDFDF;}
.petitnuage .level1 {font-size:9px;color:#d6b8b8;}
.petitnuage .level2 {font-size:10px;color:#a86666;}
.petitnuage .level3 {font-size:11px;color:#7b4747;}
.petitnuage .level4 {font-size:12px;color:#e70000;}
.petitnuage .level5 {font-size:13px;color:#e70000;}
.petitnuage .level6 {font-size:14px;color:#e70000;}
.petitnuage .level7 {font-size:15px;color:#e70000;}
.petitnuage .level8 {font-size:16px;color:#e70000;}
.petitnuage .level9 {font-size:17px;color:#e70000;font-weight: bold}
.petitnuage .level10 {font-size:18px;color:#FF3300;font-weight: bold}
.petitnuage_titre {font: bold normal 18px Arial, Helvetica, sans-serif;color:#cc0000;text-decoration:none;}

.micronuage  {
	font: normal small/13px Arial, Helvetica, sans-serif;
	text-align: justify;
	text-transform: lowercase;
}
.micronuage a {text-decoration:none}
.micronuage a:hover {color: white; background-color: #990000;}
.micronuage .level0 {font-size:8px;color:#DFDFDF;}
.micronuage .level1 {font-size:9px;color:#d6b8b8;}
.micronuage .level2 {font-size:9px;color:#a86666;}
.micronuage .level3 {font-size:10px;color:#7b4747;}
.micronuage .level4 {font-size:10px;color:#e70000;}
.micronuage .level5 {font-size:11px;color:#e70000;}
.micronuage .level6 {font-size:11px;color:#e70000;}
.micronuage .level7 {font-size:12px;color:#e70000;}
.micronuage .level8 {font-size:12px;color:#e70000;}
.micronuage .level9 {font-size:13px;color:#e70000;font-weight: bold}
.micronuage .level10 {font-size:13px;color:#e70000;font-weight: bold}
.micronuage_titre {font: bold normal 13px Arial, Helvetica, sans-serif;color:#cc0000;text-decoration:none;}
