/*#############  COLOR DEFINITION ###########*/

/*
	DARK BLUE - #101345
	LIGHT BLUE - #A0D1F0
*/

/*#############  BASIC LAYOUT ###########*/

body { margin: 0px;
		padding: 0px;
		font-family: Arial; }

#site_container { width:1000px;
			height: 100%;
			background-color: #FFFFFF;
			float: left; }

#page_container { width:799px;
		height: 100%;
		float: left;
		background: url(background.jpg) top left no-repeat;
		border-right: 1px solid black;
		 }

#commercial_container { width: 199px;
				height: 100%;
			   float: left;
			   background-color: #FFFFFF;
			   /* border-left: 1px solid black; */ }

#head { width: 799px;
		  height: 104px;
		  float: left;
		  background: url(header.jpg) top left no-repeat;
		 }

#subcontainer { float: left;
				width: 639px;
				height: 466px; }

#subcontainer_c { float: left;
				width: 639px;
				min-height: 600px;
				background-color: #ffffff;
				padding-bottom: 8px; }

#menu_container { 	width: 160px;
					height: 100%;
				  	float: left;
				  	margin-top: 8px; }

#menu_container_c { 	width: 160px;
					height: 100%;
				  	float: left;
				  	margin-top: 8px; }

#content_container { width: 492px;
					height: 100%;

					 float:left;
					 margin-top: 8px;
					  }

#content { 			width: 484px;
					height: 100%;
					float: left;
					padding-left: 8px;
					/* background-color: #A0D1F0; */
					font-family: Arial;
					font-size: 10pt; }

#right_container { width: 147px;
					float: left;
					padding-top: 8px;
					height: 100%; }

#right { width: 139px;
		float: left;
		padding-left: 8px;
		height: 100%; }

#news { float: right;
		width: 639px;
		height: auto; }

#footer { float: left;
		  height: 23px;
		  width: 799px;
		  border-top: 1px solid black;
		  border-bottom: 1px solid black;
		  background-color: #ffffff; }


/*#############  MENU ###########*/

#menu { width: 160px;
		height: 100%;
		float: left; }

#menu ul { margin: 0;
			padding: 0; }

#menu li {  height:40px;
			margin-bottom:1px;  }

.menu_field { 	background-color:#101345;
				height:30px;
				margin-bottom:1px;
				padding-left:10px;
				padding-top:10px;
				width:150px; }

.menu_field a { color:#FFFFFF;
				font-size:14px;
				font-weight:bold;
				text-decoration:none;
				font-family: times New Roman; }

.footer_menu {  float: left;
				float:left;
				font-size:11px;
				height:100%;
				padding-top: 4px;
				padding-left:30%;
				padding-right:30%;
				width:40%; }

.fmenu_link { color: #000000; }

.fmenu { padding-right: 30px;
         padding-left: 30px;
         border-right: 1px solid #000000; }

 .fmenu_end { padding-left: 30px;
          }

/*#############  COMMERCIAL COLUMN ###########*/

#commercial	{	margin-top: 114px;
				margin-left: 12px;
				width: 175px;
				float: left;
				height: 100%;
				 }

/*#############  FCE DEFINITION ###########*/

.teaser_box_root { width: 484px;
					height: 273px;
					margin-bottom: 8px;
					float: left; }

.teaser_box_header { background-color: #A0D1F0;
					font-size:14px;
					color: #101345;
					font-weight: bold;
					width: 466px;
					height: 28px;
					/* padding-top: 3px; */
					padding-left: 18px;
					float: left;  }

.teaser_box_content { background-color: #A0D1F0;
					font-size:14px;
					color: #101345;
					width: 484px;
					height: 245px;
					float: left;  }

.teaser_box_content table { margin: 0; }

/*-----------------------*/

.first_row_box_root { width: 139px;
					height: 273px;
					margin-bottom: 8px;
					float: left; }

.first_row_box_edge { background: url(edge_18.gif) top left no-repeat;
					font-size:14px;
					color: #101345;
					width: 18px;
					height: 27px;
					border-bottom: 1px solid #101345;
					float: left;  }

.first_row_box_header { background-color: #A0D1F0;
					font-size:14px;
					color: #101345;
					width: 121px;
					height: 27px;
					/*padding-top: 3px;*/
					font-weight: bold;
					border-bottom: 1px solid #101345;
					float: left;  }

.first_row_box_content { background-color: #A0D1F0;
					font-size: 11px;
					font-family: Arial;
					color: #101345;
					width: 139px;
					height: 245px;
					float: left;  }

/*-----------------------*/

.second_row_box_small1_root { width: 139px;
					height: 177px;
					margin-left: 8px;
					margin-bottom: 8px;
					float: left; }

.second_row_box_small2_root { width: 139px;
					height: 177px;
					margin-bottom: 8px;
					float: left; }

.second_row_box_small1_edge, .second_row_box_small2_edge  {
					background: url(edge_36.gif) top left no-repeat;
 					font-size:14px;
					color: #101345;
					width: 18px;
					height: 36px;
					border-bottom: 1px solid #101345;
					float: left;  }

.second_row_box_small1_header, .second_row_box_small2_header { background-color: #A0D1F0;
					font-size:14px;
					color: #101345;
					width: 121px;
					height: 36px;
					font-weight: bold;
					/*padding-top: 3px;*/
					border-bottom: 1px solid #101345;
					float: left;  }

.second_row_box_small1_content, .second_row_box_small2_content { background-color: #A0D1F0;
					font-size: 11px;
					font-family: Arial;
					color: #101345;
					width: 139px;
					height: 140px;
					float: left;  }


/*-----------------------*/

.second_row_box_big_root { width: 190px;
					height: 177px;
					margin-bottom: 8px;
					float: left; }

.second_row_box_big_edge { background: url(edge_36.gif) top left no-repeat;
					font-size:14px;
					color: #101345;
					width: 18px;
					height: 36px;
					border-bottom: 1px solid #101345;
					float: left;  }

.second_row_box_big_header { background-color: #A0D1F0;
					font-size:14px;
					color: #101345;
					font-weight: bold;
					width: 172px;
					height: 36px;
					/*padding-top: 3px;*/
					border-bottom: 1px solid #101345;
					float: left;  }

.second_row_box_big_content { background-color: #A0D1F0;
					font-size:11px;
					color: #101345;
					width: 188px;
					padding-left: 2px;
					height: 140px;
					float: left;  }

/*-----------------------*/

.news_box_root { width: 631px;
					height: auto;
					margin-top: 8px;
					margin-left: 8px;
					float: left; }

.news_box_header { background-color: #B1B6AF;
					font-size:14px;
					color: #101345;
					font-weight: bold;
					width: 100%;
					height: 28px;
					/* padding-top: 3px; */
					/* padding-left: 18px; */
					float: left;  }

.news_box_content {	font-size:12px;
					color: #505148;
					width: 100%;
					height: auto;
					float: left;
					  }

.news_box_content tr {	background: #D9DBD8; }
.news_box_content td {	padding-left: 5px;
						padding-right: 5px; }

.news_box_content p {	margin-top: 2px;
						margin-bottom: 2px; }

/*-----------------------*/

.gallery_box_root { width: 484px;
					height: auto;
					margin-bottom: 8px;
					float: left;
					background-color: #A0D1F0; }

.gallery_box_single { background-color: #A0D1F0;
					font-size:14px;
					color: #101345;
					width: 300px;
					height: auto;
					float: left;  }

.gallery_box_list { background-color: #A0D1F0;
					font-size:14px;
					color: #101345;
					width: 184px;
					height: 233px;
					float: left;  }

.gallery_box_content table { margin: 0; }


/*#############  MISC #############*/


.teaser_box_header h1, .second_row_box_big_root h1, .second_row_box_small1_root h1, .second_row_box_small2_root h1, .first_row_box_root h1 {
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	font-family: times New Roman; }

#content h1 { font-size: 14px; }

.teaser_box_content p, .second_row_box_big_content p, .second_row_box_small1_content p, .second_row_box_small2_content p, .first_row_box_content p {
	margin: 5px 3px 3px 3px;	 }

.teaser_box_content a, .second_row_box_big_content a, .second_row_box_small1_content a, .second_row_box_small2_content a, .first_row_box_content a {
	color: #E43505; text-decoration: none; }

.wtgallery_singlepic_pic { border: none; }
#wtgallery_singlepic_area { width: 280px }
.tx-wtgallery-pi1 { float: left;
					margin-left: 10px;
					margin-top: 10px;}
.wtgallery_listpic { margin: 2px; }
.wtgallery_listpic_pic { border: none; }

#home { float: left; position: absolute; left: 0px; top: 0px; width:235px; height: 104px; }
.home { float: left; width: 100%; height: 100%; }

img { border: none; }
