body{
	margin-bottom:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
}
img{
	border:0;
}
h2, h3{
	color:#666666;
	margin-left:5px;
	font-weight:normal;
}
h2{
	margin-bottom:2px;
	margin-top:0;
}
h3{
	margin-top:0;
	font-size:medium;
}
.date{
	font-size:smaller;
}
#conteneur{
	position:absolute;
	width:770px;
	top:10;
	left:50%;
	margin-left:-385px;
}
#header{
	position:absolute;
	height:106px;
	width:770px;
	top:0;
	left:0;
}
#logo{
	position:absolute;
	top:0;
	left:0;
}
#langues{
	position:absolute;
	top:5px;
	right:0px;
	color:#999999;
	font-size:xx-small;
}
#langues a:link, #langues a:visited, #langues a:active{
	color:#999999;
	text-decoration:none;
}
#langues a:hover{
	color:#666666;
	text-decoration:none;
}
#menu{
	position:absolute;
	top:81px;
	left:220px;
	height:25px;
}
#menu ul{
	margin:0;
	padding:0;
}
#menu li{
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
#menuGauche{
	position:absolute;
	top:150px;
	left:0;
	width:186px;
	background-color:#E6E6E6;
	font-size:small;
}
#menuGauche ul{
	margin:0;
	padding:0;
}
#menuGauche li{
	list-style:none;
	margin-left:5px;
	margin-bottom:6px;
}
#menuGauche a:link{
	color:#666666;
	text-decoration:none;
}
#menuGauche a:visited, #menuGauche a:active{
	color:#993300;
	text-decoration:none;
}
#menuGauche a:hover{
	color:#C90000;
	text-decoration:line-through;
}
#menuGaucheH{
	height:11px;
	background-image:url(hautMenuG.gif);
}
#menuGaucheB{
	height:11px;
	background-image:url(basMenuG.gif);
}
#contenu{
	position:absolute;
	top:150px;
	left:230px;
	width:510px;
	background-color:#E6E6E6;
}
#contenu p{
	padding-left:5px;
	padding-right:5px;
}
#contenuH{
	height:11px;
	background-image:url(hautMenuD.gif);
}
#contenuB{
	height:4em;
	background-image:url(basMenuD.gif);
	background-repeat:no-repeat;
	background-color:#FFFFFF;
}
#contenuDetail{
	position:absolute;
	top:150px;
	left:30px;
	width:710px;
	background-color:#E6E6E6;
}
#contenuDetail p{
	padding-left:5px;
	padding-right:5px;
}
#contenuDetailH{
	height:11px;
	background-image:url(haut700.gif);
}
#contenuDetailB{
	height:4em;
	background-image:url(bas700.gif);
	background-repeat:no-repeat;
	background-color:#FFFFFF;
}
#copyPhoto{
	color:#666666;
	font-size:xx-small;
}
#footer{}