/*** bloc droite ***/
.blocDroite {
	padding: 20px 8px;
	background: #e6f3f6 url('http://www.u-bordeaux1.fr/fileadmin/templates/v1/images/fond-bloc-droite.gif') repeat-x left top;
	margin-bottom: 1px;
	border-bottom: 2px solid #75becb;
}

	.blocDroite h2 {
		background: transparent url('http://www.u-bordeaux1.fr/fileadmin/templates/v1/images/fleche-colonne-droite.gif') no-repeat 0px 3px;
		padding: 0px 0px 2px 15px;
		font-size: 13px;
		color: #737373;
		border-bottom: 2px solid #75becb;
		margin-bottom: 15px;
	}
	
	.blocDroite p {
		margin: 5px 0px;
	}
	
	.blocDroite a {
		text-decoration: underline;
		color: #737373;
		/*background: transparent url('../images/icon-plus.gif') no-repeat left center;
		padding-left: 15px;*/
	}


/*** double colonnage page d'accueil ***/
#colonneGaucheAccueil {
	float: left;
	width: 58%;
}

#colonneDroiteAccueil {
	float: left;
	width: 38%;
	padding-left: 4%;
}



/*** deux colonnes pour contenu ***/
#colonneGauche {
	float: left;
	width: 48%;
}

#colonneDroite {
	float: left;
	width: 48%;
	padding-left: 4%;
}



/*** bloc info ***/
.blocInfo {
	width: 210px;
	margin-bottom: 15px;
}

.blocInfo h2 {
	font-size: 17px !important;
	color: #332a4e !important;
	background: #fff url('http://www.u-bordeaux1.fr/fileadmin/templates/v1/images/flexibles/fleche10-titre-blocInfo.png') no-repeat 0px 4px;
	padding-left: 18px;
}

.blocInfo .separateur {
	height: 8px;
	width: 210px;
	margin-bottom: 10px;
	background: #fff url('http://www.u-bordeaux1.fr/fileadmin/templates/v1/images/flexibles/fond-titre-blocInfo.png') no-repeat left top;
}

.blocInfo a {
	text-decoration: underline;
	color: #737373;
	/*background: transparent url('../images/icon-plus.gif') no-repeat left center;
	padding-left: 15px;*/
}



/*** news accueil ***/
#news-accueil {
	width: 311px;
}
	#news-accueil h4 {
		height: 29px;
		line-height: 29px;
		font-size: 9px;
		text-align: center;
		float: left;
	}
	
	#news-accueil h4 a,
	#news-accueil h4 a:hover {
		font-size: 9px;
		text-decoration: none;
	}
	
#agenda { width: 311px; }
	#agenda h4 {
		height: 12px;
		line-height: 12px;
	}
	
	#news-accueil h4.agenda a {
		display: block;
		width: 103px;
		height: 29px;
		color: #009897;
		background: url('http://www.u-bordeaux1.fr/fileadmin/templates/v1/images/flexibles/onglet-actif-first.gif') no-repeat left top;
	}
	#news-accueil h4.agenda a:hover {
		background: url('http://www.u-bordeaux1.fr/fileadmin/templates/v1/images/flexibles/onglet-actif-first.gif') no-repeat left top;
	}
	#agenda #contenuAgenda {
		background: #fff url('http://www.u-bordeaux1.fr/fileadmin/templates/v1/images/flexibles/fond-actus-accueil.png') no-repeat left top;
		min-height: 380px;
		padding: 8px;
	}
	
#actus { width: 311px; }
#actus h4 {
		height: 12px;
		line-height: 12px;
	}
	#news-accueil h4.actus {
		background: url('http://www.u-bordeaux1.fr/fileadmin/templates/v1/images/flexibles/onglet-inactif.gif') no-repeat left top;
	}
	#news-accueil h4.actus a {
		display: block;
		width: 104px;
		height: 29px;
		color: #332a4e;
		background: url('http://www.u-bordeaux1.fr/fileadmin/templates/v1/images/flexibles/onglet-inactif.gif') no-repeat left top;
	}
	#news-accueil h4.actus a:hover {
		background: url('http://www.u-bordeaux1.fr/fileadmin/templates/v1/images/flexibles/onglet-actif.gif') no-repeat left top;
		width: 104px;
	}
	#actus #contenuActus {
		background: #fff url('http://www.u-bordeaux1.fr/fileadmin/templates/v1/images/flexibles/fond-actus-accueil.png') no-repeat left top;
		min-height: 385px;
		padding: 8px;
	}
	
#culture { width: 311px; }
#culture h4 {
		height: 12px;
		line-height: 12px;
	}
	#news-accueil h4.vieEtudiante {
		background: url('http://www.u-bordeaux1.fr/fileadmin/templates/v1/images/flexibles/onglet-inactif-last.gif') no-repeat left top;
		width: 104px;
	}
	#news-accueil h4.vieEtudiante a {
		display: block;
		width: 104px;
		height: 29px;
		color: #00b1dc;
		background: url('http://www.u-bordeaux1.fr/fileadmin/templates/v1/images/flexibles/onglet-inactif-last.gif') no-repeat left top;
	}
	#news-accueil h4.vieEtudiante a:hover {
		background: url('http://www.u-bordeaux1.fr/fileadmin/templates/v1/images/flexibles/onglet-actif-last.gif') no-repeat left top;
	}
	#contenuCulture {
		background: #fff url('http://www.u-bordeaux1.fr/fileadmin/templates/v1/images/flexibles/fond-actus-accueil.png') no-repeat left top;
		min-height: 385px;
		padding: 8px;
	}