#globalContainer {
	width: 800px;
}
body { background: none; }
#container {
	background: none !important;
	padding: 0 0 0 0;
}
#header { display: none; }
#left { display: none; }
#center {
	background-image: none !important;
}
#center .rss, #center .print { display: none; }
#right .autre { display:none; }
#ariane { display: none; }
.blocDroite { background: none !important; }
#slogan { display: none; }
#footer { display: none; }