@charset "utf-8";
/* CSS Document */

/**********************/
/* menu-accessibilite  */
#menu-access{	position:absolute;	top:0;	right:0;	background:#252728;	height:20px;	line-height:20px;}
#menu-access a{ padding:5px; color:#fff; text-decoration:none;}
#menu-access a:hover{text-decoration: underline;}

/**********************/
/*     Menu NIV-1     */


ul#menu-niv-1 li{ display: inline;}
ul#menu-niv-1 li a{display:block; width:181px; height:28px; float:left; background-repeat:no-repeat; background-position:0 0; margin-left:1px; overflow:hidden;}
ul#menu-niv-1 li a:hover,
ul#menu-niv-1 li a#actif{background-position:0 -28px;}
ul#menu-niv-1 li a span{ margin-left:-9999px;}

li#actualite a{background-image:url(http://www.sqli.com/design/fre/images/menu-niv1-actualites.gif);}
li#offre a{background-image:url(http://www.sqli.com/design/fre/images/menu-niv1-offre.gif);}
li#groupe a{background-image:url(http://www.sqli.com/design/fre/images/menu-niv1-groupe.gif);}
li#contact a{background-image:url(http://www.sqli.com/design/fre/images/menu-niv1-contact.gif);}



/**********************/
/*     Menu NIV-2     */
ul#menu-niv-2{ position:absolute; top:103px; left:170px;}
ul#menu-niv-2 li a{display:block; width:131px; height:19px; float:left; background-repeat:no-repeat; background-position:0 0;}
ul#menu-niv-2 li a:hover, 
ul#menu-niv-2 li a#on{ background-position:0 -19px;}

div#menuroll_ {z-index:100;}
div#menuroll_ ul ul{ padding:5px 0;background:#242424;width:131px;z-index:100;}
div#menuroll_ ul ul li{ display:block;}
div#menuroll_ ul ul li a{display:block; width:110px; height:16px; float:left; color:#fff; margin:0 10px; text-decoration:none; text-align:right;border-bottom:solid 1px #505050; padding:0;}
li#offre li#activite li a, li#offre li#expertise li a{background:#242424;}
li#offre li#activite li a:hover, li#offre li#expertise li a:hover{background:#242424; text-decoration:underline;color:#00ffff;}


	
	/* Actualités */
	li#actualite li#communiques a{background-image:url(http://www.sqli.com/design/fre/images/menu-niv2-actualite-communiques.gif);}
	li#actualite li#evenements a{background-image:url(http://www.sqli.com/design/fre/images/menu-niv2-actualite-evenements.gif);}
	li#actualite li#revue-presse a{background-image:url(http://www.sqli.com/design/fre/images/menu-niv2-actualite-revue-presse.gif);}
	li#actualite li#phototheque a{background-image:url(http://www.sqli.com/design/fre/images/menu-niv2-actualite-phototheque.gif);}
	
	/* Notre offre */
	li#offre li#activite a{background-image:url(http://www.sqli.com/design/fre/images/menu-niv2-offre-activite.gif);}
	li#offre li#expertise a{background-image:url(http://www.sqli.com/design/fre/images/menu-niv2-offre-expertise.gif);}
	li#offre li#references a{background-image:url(http://www.sqli.com/design/fre/images/menu-niv2-offre-references.gif);}
	
	
	/* Le groupe */
	li#groupe li#portrait a{background-image:url(http://www.sqli.com/design/fre/images/menu-niv2-groupe-portrait.gif);}
	li#groupe li#fondamentaux a{background-image:url(http://www.sqli.com/design/fre/images/menu-niv2-groupe-fondamentaux.gif);}
	li#groupe li#finances a{background-image:url(http://www.sqli.com/design/fre/images/menu-niv2-groupe-finances.gif);}
	li#groupe li#carrieres a{background-image:url(http://www.sqli.com/design/fre/images/menu-niv2-groupe-carrieres.gif);}
	
	/* Contact */
	li#contact li#implantations a{background-image:url(http://www.sqli.com/design/fre/images/menu-niv2-contact-implantations.gif);}

/**********************/
/*     Menu NIV-3     */

ul.menu{background:#242424; padding-bottom:20px;}
ul.menu li{ margin:0 12px;  font-size:1.1em; min-height:16px; height:auto !important;height:16px; }
#enveloppe ul.menu li{background:none; padding-left:0;}
ul.menu li a{ padding:6px 0; color:#fff; text-decoration:none; display:block; padding-left:14px;border-bottom:solid 1px #505050;}
ul.menu li a:hover{ color:#00ffff; text-decoration:underline;}
ul.menu li a.encour{ background:url(http://www.sqli.com/design/fre/images/menu-puce.gif) 1px 9px no-repeat;}

ul.menu li li a.encour{ background:none; color:#00ffff;}

#enveloppe ul.menu li li{ margin:0 0 0 24px;  font-size:0.9em;}
#enveloppe ul.menu li li a{ padding-left:0;}

/**********************/
/*     Menu NIV-4     */

ul#menu-niv-4{ width:200px; float:left;}
