body {
	margin: 0;
	padding: 0;
	font: normal 12px Geneva, Arial, Helvetica, sans-serif;
}



a {
	color:#fe0000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border: none;
}

.important {
	color: #fe0000;
}

#mask { 
	position: fixed; 
	z-index: 100; 
	top: 0px; 
	left: 0px; 
	height: 100%; 
	width: 100%; 
	
}

#page {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
}

#header {
	margin: 0;
	padding: 0;
	height: 235px;
	width: 100%;
	margin: 0 auto 0px auto;
	background: url("bg-header.png");
	float: left;
	z-index: 1;
	position: relative;
}

#logo {
	background: #000;
	width: 300px;
	height: 105px;
	margin: 10px 15px 5px 15px;
	padding: 0;
	text-indent: -9999px;
	
	float: left;
	
}

#banner {
		
	float: left;
	margin-top: 13px;
	margin-left: 50px;
	
	width: 549px;
	height: 97px;
	
}

/******** MAIN MENU 
----------------------------------*/

#mainmenu {
	
	position: relative;
	padding: 0px;
	float: left;
	margin: 0 85px 10px 130px;
	
}

#mainmenu ul {
	display: inline;
	padding: 0;
	margin: 0;
	padding: 0.4em 0 0.3em 0;
}

#mainmenu ul li {
	display: inline;
	float: left;
	width: 175px;
	height: 47px;
	margin: 0px 24px 0px 0px;
}

#mainmenu ul li.last {
	margin: 0px 0px 0px 10px;
}

#mainmenu ul li a {
	display: block;
	width: 100%;
	height: 100%;
	/* hide text */
	font-size: 1px;
	color: #000;
}

#mainmenu ul li ul {
	display: none;
	float: left;
	height: 34px;
	margin: 0 0 0 -157px;
	position: relative;
	width: 604px;
	z-index: 1;
}

#mainmenu ul li ul li {
	display: inline;
	width: 124px;
	height: 34px;
	margin: 0px 2px 0px 0px;
}

/** STRUCTURE
----------------------------------*/

#wrapper1 {
	
	position: relative;
	background-image: url("bg-left-col.png"); 
	background-repeat: repeat-y;
	background-position:  294px 0px;
	float: left;
	
}

#wrapper2 {
	
	background: transparent url("bg-right-col.png") repeat-y 834px 0px;
	float: left;
	
}

#left-column {
	position: relative;
	float: left;
	width: 310px;
	padding: 40px 0px 0 0px;
	background: transparent url("bg-left-col-top.png") no-repeat top
		left;
}

/** BULLETINS (dépêches)
----------------------------------*/

#bulletins {
	width: 280px;
	height: 205px;
	margin-bottom: 20px;
}

/** RADIO GP 
---------------------------------*/

div#radiogp {
	width: 283px;
	height: 114px;
	padding: 42px 0 0 17px;
}

div#gpRadioPlayer {
	background: url("bg-radiogpplayer.png") no-repeat;
	width: 250px;
	height: 96px;
}

/** NEWS 
----------------------------------*/

.news-widget {

	margin-bottom: 10px;

}

#news-col {
	width: 300px;
	margin-left: 10px;
}

#news-col-top {
	height: 35px;
}

#news-col-content {
	
}

#news-col-content>div {
	overflow: auto;
}

#news-col .news-header {
	text-indent: -9999px;
	height: 53px;
}

#news-col .news-header.em {
	
}

#news-col .news-header.gp {
	
}

#news-col .news-piece {
	padding: 0 32px 20px 27px;
	overflow: auto;
}

#news-col .news-piece h3 {
	margin: 0;
	padding: 0;
	color: #fe0000;
	font-size: 16px;
}

#news-col .news-piece h4 {
	margin: 0;
	padding: 0;
	font-style: italic;
	font-size: 13px;
	color: #fff;
}

#news-col .news-piece .content {
	text-align: justify;
}

#news-col .news-piece p {
	
	margin: 0;
	padding: 0;
	
	color: #fff;
	
}

#news-col .news-piece h3 a,#news-col .news-piece h4 a {
	color: #fe0000;
}

#news-col .news-piece a {
	color: #000000;
}

#news-col .news-piece .content a:hover,#news-col .news-piece h4 a:hover
	{
	text-decoration: none;
}

#news-col .news-piece .buy-link a {
	color: #fe0000;
}

#news-col .news-header {

	height: 33px;

}

#news-col .news-header.em {

	background: url("news-em-header.png") no-repeat;
	
}

#news-col .news-header.gp {

	background: url("news-gp-header.png") no-repeat;

}

#news-col .news-piece .content, #news-col .news-piece .content a {

	color: #fff;

}


/**** SOCIAL NETWORKS WIDGETS
----------------------------------*/

.sn-widget {

	width : 300px;
	

}

.sn-widget .top {
	
	background: url("bg-sn-widget-top.png") no-repeat;
	height: 14px;

}

.sn-widget .middle {
	
	background: url("bg-sn-widget-middle.png");
	height: 129px;

}

.sn-widget .bottom {
	
	background: url("bg-sn-widget-bottom.png") no-repeat 4px 0px;
	height: 14px;

}

.sn-widget ul {

	margin: 0 0 0 0px;
	padding-left: 31px;
	padding-top: 3px;
	
	font-size: 11px;

}

.sn-widget ul li {

	list-style: none;
	margin-bottom: 3px;

}

.sn-widget ul li.last {

	margin-top: 14px;
	margin-bottom: 0px;

}

.sn-widget ul li a {

	color: #fe0000;

}

.sn-widget ul li img {

	vertical-align: middle;
	margin-right: 8px;

}

/**** CENTER COLUMN 
----------------------------------*/

#center-column {
	position: relative;
	background: #000;
	float: left;
	width: 509px;
	margin: 0 0px 0px 0px;
	padding: 15px 7px 0 9px;
}

/**** CONTENT 
----------------------------------*/

#content {
	margin-bottom: 0px;
	background-color: #fff;
}

#content > h1 {
	margin: 0;
	padding: 0;
	width: 509px;
	height: 56px;
	/* hides the text, since we have an image for display (see html code) */
	text-indent: -9999px;
}

#content > h1.search {
	
	background-image: url("header_search.png");
	height: 72px;
	
}

#content > h1.newsletter-club {
	
	background-image: url("header_bienvenu-au-club.png");
	background-position: -2px 0px;
	
}

#content > .content {
	background: #fff;
	padding: 15px 15px 0 15px;
	margin-top: 0px;
	overflow: hidden;
	
	text-align: justify;
}

#content>.bottom {
	background: #fff url("content-bottom.png");
	height: 16px;
}

#content>.content h2 {
	margin: 0;
	padding: 0;
}

#content > .content .genre {

	text-transform: lowercase;

}

#content>.content table {
	width: 470px border :   none;
	width: 100%;
}

#content > .content table td {
	
	text-align: left;
	
}

#content > .content table td.image img{
	
	border: solid 1px #000;
	
}

#content>.content table td.date {
	width: 125px;
	vertical-align: top;
	font-size: 12px;
}

#content>.content table td .infos {
	
	font-size: 0.9em;
}

#content>.content table td h1 {
	font-size: 12px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#content>.content table td a {
	color: #fe0000;
	text-decoration: none;
}

#content>.content table a:hover {
	text-decoration: underline;
}

#content>.content table td .separator {
	color: #ef0000;
}

#content>.content table td.month-header {
	width: 161px;
	height: 32px;
	background-repeat: no-repeat;
	text-indent: -9999px;
}

#content>.content table td.month-1 {
	background-image: url("janvier.png");
}

#content>.content table td.month-2 {
	background-image: url("fevrier.png");
}

#content>.content table td.month-3 {
	background-image: url("mars.png");
}

#content>.content table td.month-4 {
	background-image: url("avril.png");
}

#content>.content table td.month-5 {
	background-image: url("mai.png");
}

#content>.content table td.month-6 {
	background-image: url("juin.png");
}

#content>.content table td.month-7 {
	background-image: url("juillet.png");
}

#content>.content table td.month-8 {
	background-image: url("aout.png");
}

#content>.content table td.month-9 {
	background-image: url("septembre.png");
}

#content>.content table td.month-10 {
	background-image: url("octobre.png");
}

#content>.content table td.month-11 {
	background-image: url("novembre.png");
}

#content>.content table td.month-12 {
	background-image: url("decembre.png");
}


#content>.content table td .name {
	font-weight: bold;
}

#content>.content table td .venue {
	font-weight: normal;
}

/* ## CONTENT */ /** MIDDLE FOOTER **/
#center-column .footer {
	text-align: center;
}

#center-column .footer a {
	color: #ef0000;
}

#center-column .footer .separator {
	color: #fff;
}

/** RIGHT COLUMN
----------------------------------*/

#right-column {
	
	position: relative;
	float: left;
	width: 130px;
	padding: 35px 0 0 35px;
	background: transparent url("bg-right-col-top.png") no-repeat
		top left;
}

#rdv-list {

	position: absolute;

}

#rdv-list h1 {

	width: 112px;
	height: 86px;
	
	margin: 0 auto;
	
	text-indent: -9999px;

}

/** MAIN FOOTER 
----------------------------------*/

#footer {
	padding: 0px;
	margin: 0px 0 0 0;
	font-size: 1px;
	text-align: center;
	clear: both;
}

/* end of overall style */ /* begin data grid style */
table.dataGrid {
	background: white;
	border-collapse: collapse;
	width: 100%;
}

table.dataGrid th,table.dataGrid td {
	font-size: 0.9em;
	border: 1px #4F81BD solid;
	padding: 0.3em;
}

table.dataGrid th {
	background: #d3dfee;
	text-align: center;
}

table.dataGrid th.label {
	width: 150px;
}

table.dataGrid tr.odd {
	background: #E6F2FF;
}

/* end of data grid style */
.actionBar {
	margin: 10px;
}

.item {
	margin: 10px 0 0 0;
	border: 1px solid silver;
	padding: 5px;
}



/** MEDIAS 
----------------------------------*/

#videoplayerContainer {
	
	display: block;
	
}

.videoPlayerInnerContainer {
	
	position: relative;
	background: url("bg-videoplayer.png");
}

.videoPlayerContainerbottom {
	
	background: url("bg-videoplayer-bottom.png");
	height: 25px;
}

.videoPlayerInnerContainer object, .videoPlayerInnerContainer embed{
	
	position: absolute;
	top: 50%;
	left: 50%;
	
	
}

#_videoplayer {
	display: none;
	position: absolute;
	top: 0;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background: background-color : #000;
	filter: alpha(opacity = 80);
	-moz-opacity: 0.80;
	opacity: 0.80;
}

#_videoplayer .portlet {
	width: 640px;
	height: 480px;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: -240px;
	position: relative;
	top: 50%;
}

/** NEWSLETTER SUBSCRIPTION FORM 
----------------------------------*/

#nl-subscription {
	
	position: relative;
	float: left;
	width: 610px;
	height: 54px;
	margin-left: 25px;
	
	z-index: -1;
	
}

#nl-subscription form {
	position: relative;
	width: 100%;
	height: 100%;
	background: url("bg-newsletter-form.png") no-repeat;
	padding: 0;
	margin: 0;
}

#nl-subscription form input.text {
	position: absolute;
	top: 17px;
	right: 8px;
	width: 120px;
	height: 12px;
	margin-right: 10px;
	font-size: 9px;
	padding: 0;
}

#nl-subscription form .extra-fields {
	position: absolute;
	width: 400px;
	height: 454px;
	background: url("bg-subscription-form-extra-fields.png")
		no-repeat;
	display: none;
	top: 45px;
	left: 300px;
	z-index: 10;
}

#nl-subscription form .extra-fields .close {
	position: absolute;
	top: 14px;
	right: 17px;
	width: 30px;
	height: 25px;
}

#nl-subscription form .extra-fields .close a {
	display: block;
	width: 100%;
	height: 100%;
	background: url("bt-close.png") no-repeat;
}

#nl-subscription form .extra-fields .close a:hover {
	background: url("bt-close-over.png") no-repeat;
}

#nl-subscription form .choices {
	position: absolute;
	top: 170px;
	left: 50px;
}

/** 
* the background img of each label is set in the nl subscription component 
* of newsletter module through jQuery 
**/

#nl-subscription form .choices label {
	width: 250px;
	height: 31px;
	display: block;
	margin-top: -24px;
	margin-bottom: -14px;
	background-repeat: no-repeat;
	background-position: 20px 0px;
	text-indent: -9999px;
}

#nl-subscription form .choices input.cb {
	margin-bottom: 0px;
}

#nl-subscription form .submit {
	position: absolute;
	bottom: 20px;
	left: 110px;
}

#nl-subscription form .submit input {
	width: 51px;
	height: 28px;
	background: url("bt-ok.png") no-repeat 0 1px;
	border: none;
}

#nl-subscription form .submit input:hover {
	background: url("bt-ok-over.png");
}

#nl-subscription form .message {
	position: absolute;
	top: 70px;
	left: 200px;
	width: 170px;
	padding: 5px;
}

#nl-subscription form .error {
	border: solid #fe0000 1px;
	background: #fecccc;
}

/** SEARCH 
----------------------------------*/

#search {
	position: relative;
	z-index: -1;
	width: 330px;
	height: 55px;
	background: url("bg-search-form.png");
	float: right;
}

#search .header {

	text-indent: -9999px;

}

#search #search-form {
	float: right;
	padding-right: 15px;
	margin-top: -4px;
}

#search #search-form input.text {
	width: 120px;
	height: 11px;
	margin-right: 10px;
	font-size: 9px;
	padding: 0px;
}

#search #search-form input.submit {
	width: 51px;
	height: 28px;
	background: url("bt-ok.png") no-repeat 0 1px;
	border: none;
}

#search #search-form input.submit:hover {
	background: url("bt-ok-over.png");
}

#search-results {
	background: #FFF;
}

#search-results a {

	color: #fe0000;

}

#content > .content #search-results h2 {

	height: 47px;
	float:left;
	margin:0 0 10px -16px;
	padding:0;
	width:108%;
	
	text-indent: -9999px;
	
}

#search-results .pages h2 {

	background: url("bg-header-search-pages.png");
	
}


#search-results .pages h3 {

	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 3px;
	
}

#search-results .artists h2 {

	background: url("bg-header-search-artists.png");
	
}

#search-results .events h2 {

	background: url("bg-header-search-events.png");
	
}

#search-results .tracks  h2 {

	background: url("bg-header-search-tracks.png");
	
}

#search-results .videos h2 {

	background: url("bg-header-search-videos.png");
	
}

#search-results table {
	float: left;
}


/** SUBSCRIBE - INFOS 
----------------------------------*/

.handle {
	height: 24px;
	background: red;
	cursor: pointer;
	font-size: 20px;
}

/** THICKBOX 
----------------------------------*/

#TB_closeAjaxWindow {
	width: 150px;
	height: 25px;
}

#TB_closeAjaxWindow a {
	display: block;
	width: 100%;
	height: 100%;
	background: url("bt-close-tb.png");
}

#TB_closeAjaxWindow a:hover {
	background: url("bt-close-tb_over.png");
}

#TB_title {
	float: right;
	width: 150px;
}

/** DETAIL 
----------------------------------*/

.detail {
	
	margin-top: 0px;
	
}

.detail h1, .detail h2 {
	
	margin: 0 0 15px 0;
	
}

/* hide content that will be shown by adujstContentheight js function in tb.js */
.detail > .content {
	
	display: none;
	
}

/* but do not hide the content if it is included in another detailed view like when we show the events of
an artist rendez-vous */
.events .detail > .content {
	
	display: block;
	overflow: hidden !important;
	height: auto !important;
	
}



.detail .header .left {
	position: relative;
	float: left;
	width: 205px;
}

.detail .header .middle {
	position: relative;
	float: left;
}

.detail .header .share-box {
	
	position: relative;
	clear: both;
	
	width: 249px;
	height: 44px;
	
	top: -10px;
	left: 235px;
	
	background: url("bg-share-box.png") no-repeat;
	
	padding-top: 9px;
	padding-left: 100px;
	
}

.events .detail .header .share-box {

	top: 0px;
	
}
	
.detail .header .share-box a {

	float: left;
	margin-right: 14px;

}

.detail .header .share-box a.email{

	float: left;

}

.detail .content .main {
	
	float: left;
	width: 100%;
	background: #fff;
	margin-bottom: 20px;
	
}

.detail .content .main .text .description {

	text-align: justify;

}

.detail .content .main .text .description h1, 
.detail .content .main .text .description h2
{

	margin: 0;
	padding: 0;
	color: #000;
	
	font-size: 16px;
	line-height: 18px;
	
}

.detail .extras .events .event {

		margin-bottom: 20px;

}


.detail .content .extras {
	float: left;
	position: relative;
	width: 100%;
	background: #fff;
}

.detail .extras-section {
	position: relative;
	color: #fff;
	margin-top: 30px;
	margin-bottom: 10px;
}

.detail .extras-section .top {
	height: 13px;
	background: url("bg-detail-extras-section-top.png");
}

.detail .extras-section .middle {
	position: relative;
	padding-top: 15px;
	padding-bottom: 27px;
	padding-left: 225px;
	background-color: #000;;
	background-position: 60px 8px;
	background-repeat: no-repeat;
}

.detail .extras-section .bottom {
	height: 13px;
	background: url("bg-detail-extras-section-bottom.png");
}

.detail .extras-section.events .middle {
	background-image: url("stamp-events.png");
}

.detail .extras-section.events table {
	font-size: 12px;
	height: auto;
}

.detail .extras-section.events table td {
	vertical-align: top;
}

.detail .extras-section.events table td.date {
	width: 105px;
}

.detail .extras-section.events table a {
	color: #fff;
}

.detail .extras-section.events table td.date a,
.detail .extras-section.events table a.buy-link,
.detail .extras-section.events table .separator
	{
	color: #fe0000;
}

.detail .extras-section.events table a:hover {
	text-decoration: underline;
}

.detail .extras-section.tracks .middle {
	background-image: url("stamp-tracks.png");
}

.detail .extras-section.videos .middle {
	background-image: url("stamp-videos.png");
}

.detail .extras-section.share .middle {
	background-image: url("stamp-share.png");
}

.detail .extras-section.private-area {
	margin-top: 34px;
	margin-bottom: -16px;
}

.detail .extras-section.private-area .stamp {
	position: absolute;
	width: 196px;
	height: 62px;
	background-image: url("stamp-private-area.png");
	top: -18px;
	left: 15px;
	z-index: 1;
}

.detail .extras-section.private-area .middle {
	padding-top: 50px;
	padding-left: 50px;
}

.detail .extras-section.private-area .middle .private-medias {

	margin-bottom: 15px;
	
}

.detail .contacts {
	
}

.detail .contacts a {
	color: #fff;
}

.detail .contacts .contact-attribute-label {
	color: #fe0000;
}

.detail .contacts div {
	font-size: 12px;
	height: 30px;
	padding-top: 9px;
}

.detail .contacts .contacts-prod {
	background: url("stamp-prod.png") no-repeat top left;
	padding-left: 220px;
}

.detail .contacts .contacts-booking {
	background: url("stamp-booking.png") no-repeat top left;
	padding-left: 102px;
}

.detail .contacts .contacts-promo {
	background: url("stamp-promo.png") no-repeat top left;
	padding-left: 118px;
}

.detail .main .images {
	
	float: left;
	width: 276px;
	text-align: center;
	font-size: 1px;
	
}

.detail .main .images .image {
	
	margin-bottom: 15px;
	
}

.detail .main .images .image img {
	
	border: solid 1px #000;
	
}

.detail .main .text {
	
	float: left;
	margin-right: 24px;
	width: 500px;
	
}

.detail .main .text h1 {
	
	font-size: 30px;
	text-transform: uppercase;
	
}



/** ARTIST DETAIL 
----------------------------------*/


.detail.artist {
	
}


.detail.artist .images.rendez-vous img {
	
	border: none;
	
}

.detail.artist .content {
	
	padding-top: 15px;
	
}

.artist .main .text h1 {
	
	color: #000;
}


.artist .main .text h1 .genre {
	font-size: 10px;
	color: #fe0000;
}

.artist .main .text a {
	text-decoration: none;
	color: #fe0000;
}

.artist .main .text a:hover {
	text-decoration: underline;
}

/** EVENT DETAIL 
----------------------------------*/


/*			header
----------------------------------*/

.detail .header {
	position: relative;
	z-index: 1;
	background: url("bg-event-detail-header.png") 27px 0px;
	width: 100%;
	height: 153px;
	color: #fff;
}

.detail .header.rdv {

	background: url("bg-event-detail-header-rdv.png") 27px 0px;
	height: 164px;
}

.detail.event .header .separator {
	color: #fe0000;
}

.detail.event .header .left {
	width: 297px;
	height: 145px;
}

.detail.event .header .middle {
	height: 145px;
	width: 490px;
}

.detail.event .header .left .date {
	width: 185px;
	margin-top: 30px;
	margin-left: 30px; font-size : 20px;
	line-height: 20px; text-transform : uppercase;
	text-align: center;
	font-size: 20px; line-height : 20px;
	text-transform: uppercase;
}

.detail.event .header.rdv .left .date {
	
	margin-top: 41px;
}

.detail.event .header .left .time {
	
	height: 14px;
	margin-top: 6px;
	margin-left: 143px;
	font-size: 10px;
	
}

.detail.event .header .left .price {
	width: 143px;
	text-align: right;
	color : #000;
	margin-top: 5px;
	margin-left: 70px;
	font-size: 10px;
	color: #000;
}

.detail.event .header .left .buy-link {
	margin-top: -6px;
	margin-left: 70px;
	width: 143px;
	text-align: right;
	color: #fe0000;
	font-size: 12px;
}

.detail.event .header .left .buy-link a {
	color: inherit;
}

.detail.event .header .left .promoter {
	
	font-size:10px;
	height:30px;
	line-height:11px;
	margin-right:86px;
	margin-top:4px;
	text-align:right;
	width:auto;
	
}

.detail.event .header .middle .name {
	margin-top: 28px; 
	font-size : 30px;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
}

.detail.event .header.rdv .middle .name {
	margin-top: 39px; 
}

.detail.event .header .middle .genre {
	margin-top: 0px;
	font-size: 11px;
	color: #000;
	text-transform: uppercase;
}

.detail.event .header .middle .venue-city {
	position: absolute;
	bottom: 19px;
	width: 480px; font-size : 12px;
	color: #000;
	text-transform: uppercase;
	font-size: 12px
}

.detail.event .header.rdv .middle .venue-city {
	bottom: 9px;
}

/*			content 
----------------------------------*/

.detail.event .content {
	
	position: relative;
	z-index: 0;
	
	height: 1px;
	
	overflow: auto;
	margin-top: -8px;
	padding-top: 50px;
	
	
	width: 100%;
	
}

.events .detail .content {

	clear: both;
	
}

.detail.event .content .main .text h1 {

	color: #fe0000;
	line-height: 30px;
		
}

.detail.event .content .artists .text h1 {

	color: #000;
	line-height: 30px;
		
}

.detail.event .content .artists .artist .name.weight-0 { font-size: 16px }
.detail.event .content .artists .artist .name.weight-1 { font-size: 20px }
.detail.event .content .artists .artist .name.weight-2 { font-size: 22px }
.detail.event .content .artists .artist .name.weight-3 { font-size: 24px }
.detail.event .content .artists .artist .name.weight-4 { font-size: 26px }
.detail.event .content .artists .artist .name.weight-5 { font-size: 30px }

.detail.event .content .main h1 .with {

	color: #000;
	font-size: 12px;
	/*margin-left: -57px;
	margin-right: 20px;*/
	margin-bottom: 5px;
	text-transform: none;
		
}

.detail.event .content .main h1 .separator {

	color: #000;
		
}


.detail.event .content .infos {
	
	text-align: center;
	margin-bottom: 20px;
		
}

.detail.event .content .infos .separator {

	color: #fe0000;
		
}

.detail.event .content .infos .buy-link a {
	
	font-size: 12px;
	color: #fe0000;
	
}

/** MEDIAS 
----------------------------------*/

.medias {
	
	margin: 0px 0px;
	
}


.medias .image {
	margin: 0px 5px 0px 0px;
}

.medias a {
	color: #fff;
	font-size: 12px;
}

#content > .content table.medias {
	
	font-size: 12px;
	width: auto;
	height: 0px;
	
}

table.medias td {
	vertical-align: top;
}

table.medias td.owner {
	width: auto;
	text-align: left;
	white-space: nowrap;
}

table.medias td.separator {
	width: 10px
	white-space: nowrap;
}

table.medias td a.control {
	display: block;
	float: left;
	height: 16px;
	text-transform: uppercase;
	padding-right: 20px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 100% 2px;
}

table.medias td a.play-button {
	color: #fff;
	background-image: url("bt-play.png");
}

table.medias td a.stop-button {
	color: #fe0000;
	background-image: url("bt-stop.png");
}

/* Send to Friend
----------------------------------*/

.extras-section.share .middle {

	padding-bottom: 10px; 

}

#sendToFriend_iframe {
	
	margin: 0;
	padding: 0;
	width: 580px;
	height: 95px;

}

div#sendToFriend {
	
	float: left;
	background: #000;
	color: #fff;
	
	width: 100%;
	height: 100%;
	
	
}

div#sendToFriend form {
	
	margin: 0px;
	padding: 0px;
	
}

div#sendToFriend form label, div#sendToFriend form input {
	
	float: left;
	margin-right: 5px;
	
}

div#sendToFriend form input {
	
	width: 128px;
	
}

div#sendToFriend form input.message {
	
	width: 496px;
	
}

div#sendToFriend form div {
	
	float: left;
	
}

div#sendToFriend form .submit input {
	
	width: 51px;
	height: 28px;
	background: url("bt-ok.png") no-repeat 0 1px;
	border: none;
	
	font-size: 1px;
	
}

div#sendToFriend form .submit input:hover {
	
	background: url("bt-ok-over.png");
	
}

div#sendToFriend .message {
	
	margin-bottom: 3px;
	
}

div#sendToFriend form input.error {
	
	background: #fe0000;
	
}



/* FEATURED
----------------------------------*/

body.featured {

	background: none;

}

body.featured #page {

	width: 512px;
	height: 530px;
	
}

body.featured #content {

	background: none;
	
	width: 100%;
	height: 100%;

}

body.featured #content .featured {
	
	width: 100%;
	height: 100%;
	
	position: relative;

}

body.featured #content .featured .top {
	
	background: url("bg-featured-top.png") no-repeat top left;
	width: 100%;
	height: 112px;

}

body.featured #content .featured .middle {
	
	background: url("bg-featured-middle.png");
	height: 372px;
	width: 100%;

}

body.featured #content .featured .bottom {
		
	background: url("bg-featured-bottom.png") no-repeat bottom left;
	width: 100%;
	height: 63px;
	
}

body.featured #content .featured .middle > .content {
	
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -240px;
	margin-left: -232px;

}

body.featured #content .featured .middle > .content .more {

	text-align: center;
	
}

body.featured #content .featured .middle > .content .more a {

	color: #fe0000;
	
}

#videoplayerContainerForFeaturedEvent {

	width: 468px;
	height: 351px;
	
	background: url("bg-featured-event-video.png");

}

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}

.ui-helper-hidden-accessible {
	position: absolute;
	left: -99999999px;
}

.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}

.ui-helper-clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.ui-helper-clearfix {
	display: inline-block;
}

/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix {
	height: 1%;
}

.ui-helper-clearfix {
	display: block;
}

/* end clearfix */
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter: Alpha(Opacity = 0);
}

/** ADD THIS **/

.addthis_toolbox {

	width: 100px;

}

/* DEBUG */
.debug {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	background: #ddd;
}