.Auberge {
	font-family: "Lucida Blackletter", Arial, "Times New Roman";
	font-size: 12mm;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;

}
.Stille {
	font-family: "Lucida Blackletter", Arial, "Times New Roman";
	font-size: 4mm;
	font-style: normal;
	line-height: 6mm;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
}
.adresse {
	font-family: "Lucida Blackletter", Arial, "Times New Roman";
	font-size: 5mm;
	font-style: normal;
	line-height: 6mm;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
}
.e-mail {
	font-family: "Lucida Blackletter", Arial, "Times New Roman";
	font-size: 5mm;
	font-style: normal;
	line-height: 6mm;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	background-color: #CC6666;
}
.open {
	font-family: "Lucida Blackletter", Arial, "Times New Roman";
	font-size: 4mm;
	font-style: normal;
	line-height: 5mm;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
}
.Languages {
	font-family: "Lucida Blackletter", Arial, "Times New Roman";
	font-size: 4mm;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
}
.navi {
	font-family: "Lucida Blackletter", Arial, "Times New Roman";
	font-size: 4mm;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #CCCCCC;
	cursor: auto;

}
.text-rooms {
	font-family: "Lucida Blackletter", Arial, "Times New Roman";
	font-size: 8mm;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
}
.text-rooms-small {
	font-family: "Lucida Blackletter", Arial, "Times New Roman";
	font-size: 6mm;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
}
