
.blacklink 
{
	font-family: Arial, geneva, helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}


.blacklink:Active 
{
	font-family: Arial, geneva, helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
}

.blacksmall 
{
	font-family: Arial, geneva, helvetica, sans-serif;
	color: #000000;
	font-size: 11px; 
}


.bod 
{
	
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    line-height: 15px;
}

.chkbox 
{
	
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    line-height: 15px;
}

/* BEGIN: For the wrapping of radio buttons in Search Page */
.radioButtonSearch
{
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
}
.radioButtonSearch Label
{
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
}

.radioButtonSearch Input
{
	float : left;
	vertical-align: top;
}
/* END: For the wrapping of radio buttons in Search Page */

.bodload 
{
	font-family: arial, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	color: #cc3300;
	background: #ffffff;
	text-decoration: none;
	border-style: solid;
	border-color: #444444;
	border-left: 1px solid #444444;
	border-right: 1px solid #444444;
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
	font-weight: bold;
}


.bodloadgrey 
{
	font-family: arial, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
	background: #E7E8E9;
	text-decoration: none;
	border-style: solid;
	border-color: #444444;
	border-left: 0px solid #444444;
	border-right: 0px solid #444444;
	border-top: 0px solid #444444;
	border-bottom: 0px solid #444444;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
	font-weight: bold;
}


.searchbod 
{
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
    color: #000000;
    line-height: 18px;    
}


a.searchbod:link
{
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
    color: #557799;
	text-decoration: none;
}


a.searchbod:visited
{
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
    color: #993399;
	text-decoration: none;
}


a.searchbod:hover
{
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
    color: #557799;
	text-decoration: underline;
}

/* Used for file attachment text and links, 'You May View' text*/
.eleven 
{ 
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 11px;
    color: #666666; /* light grey */
}

.formbutton 
{
	background-color: Blue;
	font-family: Arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	border-top:1px #006699;
	border-bottom:1px #003333;
	border-left:1px #006699;
	border-right:1px #003333;
	border-style:solid; 
	background:#006699;
	color:#ffffff;
}


.grey 
{
	font-family: Arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	color: #666666; /* grey */
}


.greysmall 
{
	font-family: Arial, geneva, helvetica, sans-serif;
	color: #666666;
	font-size: 11px; 
}

.intro 
{
	font-family: Arial, geneva, helvetica, sans-serif;
	font-size:14px;
	line-height:21px;
	color:#000000; /* black */
}

.righthead 
{  
	font-family: Arial, geneva, helvetica, sans-serif;
	font-size:13px;
	font-weight: bold; 
	color:#333333; /* Dark Grey */
}

.rightheadContactUs 
{  
	font-family: Arial, geneva, helvetica, sans-serif;
	font-size:13px;
	font-weight: bold; 
	color:#CC3300; /* RED */
}


.sortableMenu 
{
	padding-left: 2px;
	padding-right: 0px;
	visibility: hidden;
	display: none;
}

.sortableMenuBar 
{
	padding-right: 4px;
	padding-left: 7px;
	background: #e7e8e9;
	padding-bottom: 6px;
	padding-top: 5px;
}


.sortableMenuBar a
{
	border-right: gray 1px solid;
	padding-right: 6px;
	border-top: gray 1px solid;
	padding-left: 6px;
	font-weight: bold;
	font-size: 11px;
	background: #d8d9da;
	padding-bottom: 2px;
	border-left: gray 1px solid;
	color: gray;
	padding-top: 2px;
	border-bottom: gray 1px solid;
	font-family: Arial, geneva, helvetica, sans-serif;
	text-decoration: none;
}


.sortableMenuBar a:link 
{
	font-size: 11px;
	color: #557799;
	background: #ffffff;
	text-decoration: none;
	border-style: solid;
	border-color: #444444;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #444444;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #444444;
}


.sortableMenuBar a:visited 
{
	font-size: 11px;
	color: #006699;
	background: #ffffff;
	text-decoration: none;
	border-style: solid;
	border-color: #444444;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #444444;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #444444;
}


.sortableMenuBar a:hover 
{
	font-size: 11px;
	color: #cc3300;
	background: #ffffff;
	text-decoration: none;
	border-style: solid;
	border-color: #444444;
	border-left: 1px solid #444444;
	border-right: 1px solid #444444;
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
}

.sortableMenuBar a.greyButton:hover
{
	border-right: gray 1px solid;
	padding-right: 6px;
	border-top: gray 1px solid;
	padding-left: 6px;
	font-weight: bold;
	font-size: 11px;
	background: #d8d9da;
	padding-bottom: 2px;
	border-left: gray 1px solid;
	color: gray;
	padding-top: 2px;
	border-bottom: gray 1px solid;
	font-family: Arial, geneva, helvetica, sans-serif;
	text-decoration: none;
}

.subhead 
{
    font-family: Arial, geneva, helvetica, sans-serif;
    font-size: 14px;
	font-weight: bold;
	color: #cc3300; /* orange */
}


.subhead a:link
{
    font-family: Arial, geneva, helvetica, sans-serif;
    font-size: 14px;
	font-weight: bold;
	color: #cc3300; /* orange */
	text-decoration: none;
}


.subhead a:hover
{
    font-family: Arial, geneva, helvetica, sans-serif;
    font-size: 14px;
	font-weight: bold;
	color: #cc3300; /* orange */
	text-decoration: underline;
}


.subhead a:visited
{
    font-family: Arial, geneva, helvetica, sans-serif;
    font-size: 14px;
	font-weight: bold;
	color: #cc3300; /* orange */
	text-decoration: underline;
}


.subhead2 
{
    font-family: Arial, geneva, helvetica, sans-serif;
    font-size: 13px;
	font-weight: bold;
	color: #cc3300; 
}
/*
 DCO 02.11.2010 RMT4586 - Anchor Tags behave as links
 Modifications : 
   Added subheader2Anchor and subheader2Anchor a:hover 
*/
.subhead2Anchor
{
    font-family: Arial, geneva, helvetica, sans-serif;
    font-size: 13px;
	font-weight: bold;
	color: #cc3300; 
}

.subhead2Anchor a:hover
{
    font-family: Arial, geneva, helvetica, sans-serif;
    font-size: 13px;
	font-weight: bold;
	color: #cc3300; /* orange */
	text-decoration: None;
}

.labelStyle
{
   	width:300px;
   	display:block;
   	float:left; 
   	clear:left;
}
	
.textfield
{
	 border-top:1px #333333; 
	 border-bottom:1px #cccccc; 
	 border-left:1px #333333; 
	 border-right:1px #cccccc; 
	 border-style:solid; 
	 background:#ffffff; 
	 font-family: arial, geneva, helvetica, sans-serif;
	 font-size: 12px;	
	 resize: none; 	 	 
}
	 
.textfield Label 
{
	border-top:1px #333333;
	border-bottom:1px #cccccc; 
	border-left:1px #333333; 
	border-right:1px #cccccc; 
	border-style:solid; 
	background:#ffffff; 
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	}

.textfield Input
{
	 border-top:1px #333333; 
	 border-bottom:1px #cccccc; 
	 border-left:1px #333333; 
	 border-right:1px #cccccc; 
	 border-style:solid; 
	 background:#ffffff; 
	 font-family: arial, geneva, helvetica, sans-serif;
	 font-size: 12px;
	 }

	 
.title 
{
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 21px; 
	color: #cc3300; /* orange */
}


.topichead 
{
    font-family: Arial, geneva, helvetica, sans-serif;
    font-size: 14px;
	color: #cc3300;
}


a.bodload:link
{
	font-size: 11px;
	color: #cc3300;
	background: #ffffff;
	text-decoration: none;
	border-style: solid;
	border-color: #444444;
	border-left: 1px solid #444444;
	border-right: 1px solid #444444;
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
}


a.bodload:visited
{  
	font-size: 11px;
	color: #cc3300;
	background: #ffffff;
	text-decoration: none;
	border-style: solid;
	border-color: #444444;
	border-left: 1px solid #444444;
	border-right: 1px solid #444444;
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
}


a.a:link 
{
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	color: #557799;
	text-decoration: none;
}


a.a:visited 
{
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	color: #993399;
	text-decoration: none;
}


a.a:hover 
{
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	color: #557799;
	text-decoration: underline;
}



a:link 
{
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	color: #557799;
	text-decoration: none;
}


a:visited 
{
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	color: #993399;
	text-decoration: none;
}


a:hover 
{
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	color: #557799;
	text-decoration: underline;
	cursor:pointer;
}


a.anchor:link 
{ 
	font-family: Arial, Geneva, Helvetica, Sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #557799;
	line-height: 10px;

}


a.anchor:visited 
{ 
	font-family: Arial, Geneva, Helvetica, Sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #006699;
	line-height: 10px;
}


a.anchor:hover
{ 
	text-decoration: underline;
}


a.body:link
{ 
	font-family: Arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	color: #557799;
}


a.body:visited
{ 
	font-size: 12px;
}


a.body:hover
{ 
	text-decoration: underline;
}


a.bodlinkunderline:link
{
	font-family: Arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	color: #557799;
	text-decoration: underline;
}


a.bodlinkunderline:visited
{
	font-family: Arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	color: #993399;
	text-decoration: underline;
}


a.bodlink:link 
{  
 font-size: 11px;
 color: #cc3300;
 background: #ffffff;
 text-decoration: none;
 border-style: solid;
 border-color: #444444;
 border-left: 1px solid #444444;
 border-right: 1px solid #444444;
 border-top: 1px solid #444444;
 border-bottom: 1px solid #444444;
}


a.bodlink:visited 
{  
 font-size: 11px;
 color: #cc3300;
 background: #ffffff;
 text-decoration: none;
 border-style: solid;
 border-color: #444444;
 border-left: 1px solid #444444;
 border-right: 1px solid #444444;
 border-top: 1px solid #444444;
 border-bottom: 1px solid #444444;
}


a.botnav:link  
{  
 font-size: 11px;
 color: #cc3300;
 background: #ffffff;
 text-decoration: none;
 border-style: solid;
 border-color: #444444;
 border-left: 1px solid #444444;
 border-right: 1px solid #444444;
 border-top: 1px solid #444444;
 border-bottom: 1px solid #444444;
}


a.botnav:visited 
{  
 font-size: 11px;
 color: #cc3300;
 background: #ffffff;
 text-decoration: none;
 border-style: solid;
 border-color: #444444;
 border-left: 1px solid #444444;
 border-right: 1px solid #444444;
 border-top: 1px solid #444444;
 border-bottom: 1px solid #444444;
}


a.botnav:hover 
{  
 font-size: 11px;
 color: #cc3300;
 background: #ffffff;
 text-decoration: underline;
 border-style: solid;
 border-color: #444444;
 border-left: 1px solid #444444;
 border-right: 1px solid #444444;
 border-top: 1px solid #444444;
 border-bottom: 1px solid #444444;
}
 

a.eleven:link 
{ 
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 11px;
    color: #557799; /* blue */
    text-decoration: None;
}


a.eleven:visited 
{ 
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 11px;
    color: #006699;
    text-decoration: None;
}


a.eleven:hover 
{ 
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 11px;
    color: #557799;
    text-decoration: underline;
}
/* CSS class use for bottom navigation text */
.elevenb
{
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 11px;
    color: #666666; /* light grey */
}

a.elevenb:link 
{ 
	font-family: arial, geneva, helvetica, sans-serif;
    font-weight: bold;
	font-size: 11px;
	color: #557799; /* blue */
	text-decoration: none;
}


a.elevenb:visited 
{ 
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 11px;
	color: #006699;
	font-weight: bold;
}


a.elevenb:hover 
{ 
	text-decoration: underline;
}

/*Updated color property from light grey to blue gray */
a.greylink:link 
{
	color: #557799;
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 12px;
}

/*Updated color property from light grey to blue gray */
a.greylink:visited 
{
	color: #557799;
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}

/*Updated color property from light grey to blue gray */
a.greylink:hover 
{
	color: #557799;
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
}

a.greysmall:link 
{
	color: #666666;
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 11px;	
}


a.greysmall:visited 
{
	color: #666666;
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}


a.greysmall:hover 
{
	color: #666666;
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 11px;
	text-decoration: underline;	
}



h1 
{
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 21px; 
	font-weight: normal;
    color: #cc3300; /* orange */
	padding: 0;
	margin: 0;
}


h2 
{
    font-family: arial, geneva, helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	line-height:24px;
	color:#000000; /* black */
	padding: 0;
	margin: 0;
}


span.copyright 
{
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 10px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px
}


span.disclosure 
{
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 10px;
    line-height: 8px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
}


span.legal 
{
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 10px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
}


ul
{
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	padding-left: 10px;
    margin: .5em;
}


ul.linklist	
{
	font-family: arial, geneva, helvetica, sans-serif;
	list-style-type: disc;
	padding-left: 10px;
	margin: .5em;
}


ul.links
{
	font-family: arial, geneva, helvetica, sans-serif;
	background-repeat: no-repeat;
	padding-left: 30px;
	margin: .5em;
	list-style-type: square;
	color: #cccccc;
	line-height: 20px;
	
}


ul.links-ni	
{
	font-family: arial, geneva, helvetica, sans-serif;
	background-repeat: no-repeat;
	padding-left: 10px;
	margin: .5em;
	list-style-type: disc;
	color: #cccccc;
	line-height: 20px;
}

ul.list-ni	
{
	font-family: arial, geneva, helvetica, sans-serif;
	background-repeat: no-repeat;
	padding-left: 10px;
	margin: .5em;
	list-style-type: disc;
}


ol
{
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 12px;
	padding-left: 10px;
	list-style-type: decimal;
	margin: 2em;
}


.backgroundblue 
{
background: #EBF6FA; 
}

.blacksmallbold 
{
	font-family:Arial, geneva, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}


.bodybold 
{
	font-family: Arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	line-height: 15px;	
}


.orange 
{
	color: #CC3300;
}

.orangehead 
{
	font-family: Arial, Geneva, Helvetica, Sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #CC3300; /* orange */
}


.redbold 
{
	font-weight: bold;
	color: red;
}


.sectionhead 
{
	font-family: Arial, geneva, helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #CC3300;	/* orange */
}


a.twelvebold:link 
{
	font-family: Arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #557799;
}


a.twelvebold:visited 
{
	font-family: Arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #006699;
}


a.twelvebold:hover 
{
	text-decoration:underline;
}


td.tabular 
{
 border-bottom: 1px solid;
 border-color: #e8e8e8;
 font-size: 11px;
}


#sortByIndustry 
{
	visibility: visible;
	display: block;
}


#sortClient1 
{
	visibility: visible;
	display: block;
}


#sortResearch1 
{
	visibility: visible;
	display: block;
}


#sortServices1 
{
	visibility: visible;
	display: block;
}



.MetaInfo
{ 
    font-family: arial, Geneva, Helvetica, sans-serif;
    font-size: 11px;
    color: black;
}


.MetaInfo a
{ 
    font-family: arial, Geneva, Helvetica, sans-serif;
    font-size: 11px;
    color: #557799;
    text-decoration: None;
}


.MetaInfo a:visited 
{ 
    font-family: arial,Geneva, Helvetica, sans-serif;
    font-size: 11px;
    color: #006699;
    text-decoration: None;
}


.MetaInfo a:hover 
{ 
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 11px;
    color: #557799;
    text-decoration: underline;
}


.breadcrumbs 
{ 
	font-family: Arial; 
	font-size: 11px; 
	color: #666666; 
	text-decoration: none; 
}  


.breadcrumbs a:link 
{ 
	font-family:Arial; 
	font-size: 11px; 
	color: #557799; 
	font-weight: bold; 
	text-decoration: none;
}  


.breadcrumbs a:visited 
{ 
	font-family:Arial; 
	font-size: 11px;  
	color: #557799; 
	text-decoration: none; 
	font-weight: bold;
}  


.breadcrumbs a:hover 
{ 
	font-family:Arial; 
	font-size: 11px;  
	color: #557799; 
	text-decoration: underline; 
	font-weight: bold;
}  

.greyhead2 
{
	font-family: arial, geneva, helvetica, sans-serif;
	color: #666666; 
	font-size: 16px;
	font-weight: bold;
	text-decoration: none; 
}


.blackhead2 
{
	font-family: arial, geneva, helvetica, sans-serif;
	color: 000000;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none; 
}


.blackhead4 
{
	font-family: arial, geneva, helvetica, sans-serif;
	color: 000000;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none; 
}


h3
{
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: ff0000;
}


a.redlink6 
{
	color: FF0000;		
	text-decoration: underline; 
	font-weight: bold;
}


.bluesubhead
{
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 10px;
    color: #006699;
}


.greybold
{  
	font-family: Arial, geneva, helvetica, sans-serif;
	font-size:12px;
	font-weight: bold; 
	color:#666666; 
}

/* Default attributes of table container for entire calendar */
.table-style {
	font-family: arial;
	border-width: 1px; 
	border-style: solid; 
	border-color: #a0a0a0; 
	background-color:  #A9A9A9;
	font-family: arial; 
	font-size: 11px;
}

/* Default attributes of DIV containing table container for entire calendar.
 * You probably don't want to alter this style.
 */
.div-style
{
	display: block;
	z-index: 999;
	position: absolute;
}

/* Default attributes used in calendar title (month and year columns).*/
.title-style {
	padding: 2px;
	font-family: arial; 
	font-size: 12px;
	font-weight: bold; 
	color: White;	
}

/* Default attributes used in calendar title background.*/
.title-background-style {
	background-color: #666699;
}

/* Normal appearance of controls in calendar title. */
/* Note: The right, left and down icons are images, which must be edited if you need to change them. */
.title-control-normal-style {
	border-style: solid;
	border-width: 1px;
	border-color: #3a6ea5; 
	cursor: pointer;
}

/* Moused-over (selected) appearance of controls in calendar title. */
.title-control-select-style {
	border-style: solid;
	border-width: 1px;
	border-color: #3a6ea5; 
	cursor: pointer;
}

/* Default attributes of drop down lists (month and year). */
.dropdown-style {
	font-family: arial; 
	font-size: 11px; 
	border-width: 1px; 
	border-style: solid; 
	border-color: #a0a0a0;
	background-color: #cee3ef;
	cursor: pointer;
}

/* Default attributes selected (mouse-over) item in drop down lists (month and year). */
.dropdown-select-style {
	background-color: #3a6ea5;
}

/* Default attributes unselected (mouse-off) item in drop down lists (month and year). */
.dropdown-normal-style {
	background-color: #000000;
}

/* Default attributes of calendar body (weekday titles and numbers). */
.body-style {
	padding: 5px;
	background-color: silver;
	font-family: verdana; 
	font-size: 10px;
}

/* Attributes of current day in calendar body. */
.current-day-style {
	color: red;
	font-weight: bold;
	text-decoration: none;
}

/* Attributes of end-of-week days (Sundays) in calendar body. */
.end-of-weekday-style {
	color: #909090;
	text-decoration: none;
}

/* Attributes of all other days in calendar body. */
.normal-day-style {
	color: black;
	text-decoration: none;
}

/* Attributes of border around selected day in calendar body. */
.selected-day-style {
	border-style: solid;
	border-width: 1px; 
	border-color: #a0a0a0;
}

/* Default attributes of designated holidays. */
.holiday-style {
	background-color: #FFDDDD;
}

/* Attributes of today display at bottom on calendar */
.today-style {
	padding: 0px;
	color: black;
	background-color: #cee3ef;
	text-align: center;
	text-decoration: none;
}

/* Attributes of week number division (divider.gif) */
.weeknumber-div-style {
	background-color: #d0d0d0; 
	padding: 0px;
}


.checkBoxList TR
{
	vertical-align: top;
	text-align :left ;
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    line-height: 20px;
}


.checkBoxList TD
{
	vertical-align: top;
	text-align :left ;
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    line-height: 20px;
}


.checkBoxList Label
{
	float : left 
}

.checkBoxList Input
{
	float : left 
}

.radioButtonList TR
{
	vertical-align: top;
	text-align :left;
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    line-height: 19px;
}

.radioButtonList TD
{
	vertical-align: top;
	text-align :left ;
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    line-height: 19px;
}

.radioButtonList Label
{
	float: none;
	position: static;
	text-align: left;
}

.radioButtonList Input
{
	float : left 
}

td.controlLabel 
{ 
	font-weight: bold; 
	font-size: smaller;
	font-family:Arial, geneva, helvetica, sans-serif
}
		
a.helpLink:link
{
	font-size: xx-small;
	color: blue; 
	font-family: Arial, geneva, helvetica, sans-serif;
	text-decoration: underline
}

a.helpLink:visited
{
	font-size: xx-small;
	color: blue; 
	font-family: Arial, geneva, helvetica, sans-serif;
	text-decoration: underline
}

a.helpLink:hover
{
	font-size: xx-small;
	color: blue; 
	font-family: Arial, geneva, helvetica, sans-serif;
	text-decoration: underline
}

/* survey reports css classes */

.surveyheader
{ 
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #000000; 
    text-decoration: None;
}

.surveyheader a:link 
{ 
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #000000; 
    text-decoration: None;
}


.surveyheader a:visited 
{ 
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    text-decoration: None;
}


.surveyheader a:hover 
{ 
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color:#000000;
    text-decoration: underline;
}

.surveyLinks
{ 
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
    color: #000000; 
    text-decoration: None;
}

.surveyLinks a:link 
{ 
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
    color: #0000FF; 
    text-decoration: underline;
}


.surveyLinks a:visited 
{ 
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
    color: #0000FF;
    text-decoration: underline;
}


.surveyLinks a:hover 
{ 
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
    color:#0000FF;
    text-decoration: underline;
}

.surveyLinksB
{ 
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #000000; 
    text-decoration: None;
}

.surveyLinksB a:link 
{ 
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #0000FF; 
    text-decoration: underline;
}


.surveyLinksB a:visited 
{ 
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #0000FF;
    text-decoration: underline;
}


.surveyLinksB a:hover 
{ 
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color:#0000FF;
    text-decoration: underline;
}

.response
{ 
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
    color: #0000FF; 
    text-decoration: None;
}
.response a:link 
{ 
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
    color: #0000FF; 
    text-decoration: none;
}


.response a:visited 
{ 
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
    color: #0000FF;
    text-decoration: none;
}


.response a:hover 
{ 
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
    color:#0000FF;
    text-decoration: none;
}

.disclaimer
{
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 11px;
    color: #666666;
    line-height: 15px;
}

/*RMT 2433 - created css classes for default console*/
.dcrighthead 
{  
	font-family: Arial, geneva, helvetica, sans-serif;
	font-size:13px;
	font-weight: bold; 
	color:#333333; /* Dark Grey */
}

a.defaultconsole:link 
{
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	color: #557799;
	text-decoration: none;
}


a.defaultconsole:visited 
{
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	color: #993399;
	text-decoration: none;
}


a.defaultconsole:hover 
{
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	color: #557799;
	text-decoration: underline;
}

.channelToolTitle
{ 
     font-family: Arial, Helvetica, sans-serif;
     font-size: 12pt;
     font-weight : bold;
     color: #66CC00;
     text-decoration: none; 
}

.channelToolLabel	
{ 
     font-family: arial, geneva, helvetica, sans-serif;
     font-size: 12px;
     color: #000000;
     text-decoration: none; 
}

.channelToolErrorMessage	
{ 
     font-family: arial, geneva, helvetica, sans-serif;
     font-size: 12px;
     color: #FF0000;
     text-decoration: none; 
}

.channelToolCheckList	
{ 
     font-family: arial, geneva, helvetica, sans-serif;
     font-size: 12pt;
     color: #000000;
     font-weight: bold;
     text-decoration: none; 
}

.channelToolDynamicLabel
{ 
     font-family: arial, geneva, helvetica, sans-serif;
     font-size: 12px;
     color: #000000;
     font-weight: bold;
     text-decoration: none; 
}

.channelToolButton
{

     font-family: arial, geneva, helvetica, sans-serif;
     font-size: 11px;
     color: #000000;
     text-decoration: none; 
}

.channelToolLabel a:link
{
	text-decoration: underline;
	color: #0000FF;
}

.channelToolLabel a:visited
{
	text-decoration: underline;
	color: #993399;
}

.channelToolCheckList a:link
{
	text-decoration: underline;
	color: #0000FF;
    font-size: 12pt;
}

.channelToolCheckList a:visited
{
	text-decoration: underline;
	color: #993399;
	font-size: 12pt;
}
/*END RMT 2433*/


/*START RMT 2914*/
table.navbar 
{
	font-size: 13px; margin: 0px; 
	padding: 0px; 
	border: 0px; 
	font-weight: bold;
	border-collapse:collapse; 
	vertical-align: top; 
	cursor:default;
}

table.menu 
{
	font-size: 13px; 
	margin: 1px; 
	padding: 0px; 
	font-weight: bold; 
	border-collapse:collapse; 
	border: 0px; 
	vertical-align: top;}
	
div.menuNormal 
{
	display: none; 
	position:static; 
	margin: 0px; 
	padding:0px; 
}

div.menuHover 
{
	border: 1px solid #666666; 
	background-color: white; 
	position:absolute; 
	display:table; 
	margin: 0px; 
	padding:0px; 
}
	
tr.menuNormal 
{
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
    color: #666666;	
	padding: 0px; 	
	vertical-align: top; 
	background-color: white; 
	text-decoration:none; 
	white-space:nowrap;
}

tr.menuHover 
{
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 13px;
	padding: 0px; 
	color: white; 
	vertical-align: top; 
	background-color: #666666; 
	border-collapse:collapse;
	white-space:nowrap;
}

tr.menuHover a.menuItem
{
	font-size: 13px; 
	text-decoration: none; 
	color: white; 
	background-color: #666666; 
	display:block;
	cursor:pointer;
}
			
tr.menuNormal a.menuItem
{
	font-size: 13px;
	text-decoration: none; 
	color: #666666; 
	background-color: white; 
	display:block;
	cursor:pointer;
}

tr.menuHover td

{
	white-space: nowrap;
	border-collapse:collapse;
	}
	
	tr.menuNormal td{
	white-space: nowrap;
	border-collapse:collapse;
	}

tr.menuSmall 
{
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 11px;
    color: #666666;	
	padding: 0px; 	
	vertical-align: top; 
	background-color: white; 
	text-decoration:none; 
	white-space:nowrap;
}

tr.menuHoverSml 
{
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 11px;
	padding: 0px; 
	color: white; 
	vertical-align: top; 
	background-color: #666666; 
	border-collapse:collapse;
	white-space:nowrap;
}

tr.menuHoverSml a.menuItemSml
{
	font-size: 11px; 
	text-decoration: none; 
	color: white; 
	background-color: #666666; 
	display:block;
	cursor:pointer;
}
			
tr.menuSmall a.menuItemSml
{
	font-size: 11px;
	text-decoration: none; 
	color: #666666; 
	background-color: white; 
	display:block;
	cursor:pointer;
}

a.menuListItem:link 
{
	font-size: 13px;
	text-decoration: none; 
	color: #666666; 
	background-color: white; 
	display:block;
}	

a.menuListItem:visited 
{
	font-size: 13px;
	text-decoration: none; 
	color: #666666; 
	background-color: white; 
	display:block;
}

a.menuListItem:hover 
{
	font-size: 13px; 
	text-decoration: none; 
	color: white; 
	background-color: #666666; 
	display:block;
	cursor:pointer;
}
	
a.menuListItemSml:link 
{
	font-size: 11px;
	text-decoration: none; 
	color: #666666; 
	background-color: white; 
	display:block;
}	

a.menuListItemSml:visited 
{
	font-size: 11px;
	text-decoration: none; 
	color: #666666; 
	background-color: white; 
	display:block;
}	

a.menuListItemSml:hover 
{
	font-size: 11px; 
	text-decoration: none; 
	color: white; 
	background-color: #666666; 
	display:block;
	cursor:pointer;
}

tr.menuHover td
{
	white-space: nowrap;
}
	
tr.menuNormal td
{
	white-space: nowrap;
}
	
tr.menuHover a.menulinkitem
{
	text-decoration: none;
	background-color: #666666;
	color: #ADD8E6;
	display: block;}
			
tr.menuNormal a.menulinkitem
{
	text-decoration: none;
	background-color: white;
	color: black;
	display: block;
}
	
td.list 
{
	vertical-align:top;
}
	
td.centerArrow 
{
	vertical-align:middle;
	text-align: center;
	width:15px;
	white-space: nowrap;
	text-decoration:none;
}
	
td.rightArrow
{
	vertical-align:middle;
	text-align: right;
	width:15px;
	white-space: nowrap;
	text-decoration:none;
}
	
/*END RMT 2914*/	

/* START of RMT 3250 Enable Text Resizing on Old CMS Templates */
/* Created new css classes for RVA links */

.RVA a:link 
{
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	color: #557799;
	text-decoration: none;
}



.RVA  a:visited 
{
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	color: #993399;
	text-decoration: none;
}

.RVA a:hover 
{
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 12px;
	color: #557799;
	text-decoration: underline;
	cursor:pointer;
}

/*Created new css classes for Top Attachment text and links (i.e. PDF links)*/
/*This is used in ContentCommon.xslt for Top Attachment*/

a.eleven2:link 
{ 
	font-family: arial, geneva, helvetica, sans-serif;
    font-size: 11px;
    color: #557799; /* blue */
    text-decoration: None;
}

a.eleven2:visited
{ 
    color: #006699;
    text-decoration: None;
}

a.eleven2:hover
{ 
    color: #557799;
    text-decoration: underline;
}
 
/* END of RMT 3250 Enable Text Resizing on Old CMS Templates */

/* RMT3360 updated ArticleToos to remove height in tr */
#ArticleToolsHeight
{
height: 20px;
}
/*End of RMT3360*/

/* RMT 3359: Fix for SIR 469*/
.bodnavgeneric
{
    font-family: arial, geneva, helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    line-height: 15px;
}

/*DCO 02.19.2010 - Set the value of FirstDivHeight/HomePageHeight from 502 to 501*/
/*RMT3352 Homepage template / HomePageV2.xslt: transferred the attribute HEIGHT from the table*/
#FirstDivHeight
{
height: 501;
}

#HomePageHeight
{
height: 501;
}
/*End of RMT3352*/

/* RMT3547	- Contact Us Enhancement
   MRVA		- 10/09/08 */
.ContactUsTitle
{
	font-family: Arial, geneva, helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #cc3300; /* orange */
}
/* End of RMT3547 */

/* START CSS classes that update the tab section UI */
.bodloadTab 
{
	font-family: arial, Geneva, Helvetica, sans-serif;
	font-size:  0.75em;
	color: #557799;
	background: #ffffff;
	text-decoration: none;
	border-style: solid;
	border-color: #557799;
	border-left: 0px solid #557799;
	border-right: 1px solid #557799;
	border-top: 1px solid #557799;
	border-bottom: 1px solid #557799;
	padding: 2px;
	padding-left: 8px;
	padding-right: 8px;
	font-weight: bold;
}


.sortableMenuBarTab 
{
	padding-right: 4px;
	padding-bottom: 6px;
	padding-top: 5px;
}


.sortableMenuBarTab a
{
	border-right: gray 1px solid;
	padding-right: 6px;
	border-top: gray 1px solid;
	padding-left: 6px;
	font-weight: bold;
	font-size: 0.75em;
	background: #557799;
	padding-bottom: 2px;
	border-left: gray 1px solid;
	color: gray;
	padding-top: 2px;
	border-bottom: gray 1px solid;
	font-family: Arial, geneva, helvetica, sans-serif;
	text-decoration: none;
}


.sortableMenuBarTab a:link 
{
	font-size: 0.75em;
	color: #557799;
	background: #ffffff;
	text-decoration: none;
	border-style: solid;
	border-color: #557799;
	border-left: 0px solid #557799;
	border-right: 1px solid #557799;
	border-top: 1px solid #557799;
	border-bottom: 1px solid #557799;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
}


.sortableMenuBarTab a:visited 
{
	font-size: 0.75em;
	color: #557799;
	background: #ffffff;
	text-decoration: none;
	border-style: solid;
	border-color: #557799;
	border-left: 0px solid #557799;
	border-right: 1px solid #557799;
	border-top: 1px solid #557799;
	border-bottom: 1px solid #557799;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
}

a.bodloadTab:link
{
	font-size:  0.75em;
	color: #ffffff;
	background: #557799;
	text-decoration: none;
	border-style: solid;
	border-color: #557799;
	border-left: 0px solid #557799;
	border-right: 1px solid #557799;
	border-top: 1px solid #557799;
	border-bottom: 1px solid #557799;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
}


a.bodloadTab:visited
{  
	font-size: 0.75em;
	color: #ffffff;
	background: #557799;
	text-decoration: none;
	border-style: solid;
	border-color: #557799;
	border-left: 0px solid #557799;
	border-right: 1px solid #557799;
	border-top: 1px solid #557799;
	border-bottom: 1px solid #557799;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
}


.sortableMenuBarTab a:hover 
{
	font-size: 0.75em;
	color: #ffffff;
	background: #557799;
	text-decoration: none;
	border-style: solid;
	border-color: #557799;
	border-left: 0px solid #557799;
	border-right: 1px solid #557799;
	border-top: 1px solid #557799;
	border-bottom: 1px solid #557799;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.sortableMenuBarLeftBorder a:link
{
	border-left: 1px solid #557799;
}

.sortableMenuBarLeftBorderIE
{
	border-left: 1px solid #557799;
}


/* END CSS classes that updates the tab section UI */

#tableIntentBased
{
	visibility:hidden;
}

/* Start RMT 3134 Centering of Pages*/
#centerpage
	{    
	margin:0px auto;
	padding:0px;
	width:780px;
	position:relative;
	background-color: #ffffff;
	}

Body.centering
	{ 
	text-align: center;  
	margin: 0px;  
	padding:0px;
	background-color: #dcdcdc;
	font-family: arial, geneva, helvetica, sans-serif;
	}

#centerconsole 
	{ 
	display: inline; 
	margin-left: 5px; 
	position:absolute; 
	left: 100%; 
	width: auto; 
	height: auto; 
	top: 94px
	}

form
{ 
	margin:0;
	padding:0;
}
/* End RMT 3134 Centering of Pages*/