.InputBordered{
	border: 1px solid grey;
}

div.annsoc-theme, div.annsoc-theme-right{
	float: left;
	width: 22.7em; /* 284px */
	/*border-bottom: .08em dotted gray;  1px */
	margin: 0 auto;
	margin-bottom: 1.67em; /* 10px */
	padding-bottom: .83em; /* 10px */
	height: 17em; /* 190px */
}

div.annsoc-theme-right{
	margin-left: .75em; /* 9px */
}

a.annsoc-theme {
	padding-left: 1em; /* 12px */
	background: url(puce_fleche.gif) left .17em no-repeat; /* 2px */
}

a.annsoc-stheme {
	padding-left: 1em; /* 12px */
	background: url(bullet.gif) left .17em no-repeat; /* 2px */
}

a.annsoc-recherche {
	padding-left: 1.5em; /* 18px */
	background: url(search.png) no-repeat; /* 2px */
}

div.TableauResultR {
	width: 46em;
	height: 4.05em;
}

div.TableauResult {
	width: 46em;
}

div.TabLeftR {
	color: black;
	float:left;
	text-align:left;
	width:23em;
}
div.TabMiddleR {
	color: black;
	float:left;
	text-align:center;
	width:15em;
}
div.TabRightR {
	color:#005AA1;
	float:left;
	font-weight:bold;
	text-align:center;
	width:8em;
}

div.TabLeft {
	border: 1px dashed grey;
	color: black;
	float:left;
	font-weight:bold;
	text-align:center;
	width:23em;
}
div.TabMiddle {
	color: black;
	float:left;
	font-weight:bold;
	text-align:center;
	width:15em;
	border-top:1px dashed grey;
	border-bottom: 1px dashed grey;
}
div.TabRight {
	border: 1px dashed grey;
	color:black;
	float:left;
	font-weight:bold;
	text-align:center;
	width:7em;
}

a.annsoc-PagePrec {
	padding-left: 1.5em; /* 12px */
	background: url(precedente.gif) left .17em no-repeat; /* 2px */
} 

a.annsoc-PageSuiv {
	padding-right: 3em; /* 12px */
	background: url(suivante.gif) no-repeat scroll 4.1em 50%; /* 2px */
}

 