a.expand
{
	font-weight:normal;
	padding-left:1em;
	cursor:pointer;
}

a.expand2
{
	font-weight:normal;
	padding-left:1em;
}

.sondageouverts li
{
	border-bottom:0.08em dotted gray;
	margin-bottom:1.67em;
	padding-bottom:0.83em;
	width:100%;
	float:left;
	margin:15px -5px;
	padding:5px 5px 10px;
	/*width:550px;*/
}

.sondageouverts ul
{
	float:left;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	width: 100%;
}

.sondagefermes ul
{
	/*margin-left:10px;
	width:540px;*/
}

.sondageouverts .btn
{
	float: right;
	margin-right: 20px;
}

#ul-poll li {
	background:transparent url(bg-li-poll.png) no-repeat scroll right top;
	margin:0 0 10px 5px;
	padding:0;
	border-bottom: none;
}

.charts-poll
{
	background:#1d95d2 repeat-x scroll left top;/*005AA1*/
	color:#FFFFFF;
	float:right;
	font-size:90%;
	height:20px;
	letter-spacing:-1px;
	line-height:22px;
	margin:0 0 0 10px;
	overflow:hidden;
	padding:0 2px 0 0;
	text-align:right;
}

.charts-poll1
{
	background:#005AA1 repeat-x scroll left top;/**/
	color:#FFFFFF;
	float:right;
	font-size:90%;
	height:20px;
	letter-spacing:-1px;
	line-height:22px;
	margin:0 0 0 10px;
	overflow:hidden;
	padding:0 2px 0 0;
	text-align:right;
}


.charts-poll-zero
{
	background:transparent repeat-x scroll left top;
	color:#FFFFFF;
	float:right;
	font-size:90%;
	height:20px;
	letter-spacing:-1px;
	line-height:22px;
	margin:0 0 0 10px;
	overflow:hidden;
	padding:0 2px 0 0;
	text-align:right;
}

#ul-poll{
	width: 95%;
}

.poll-portlet-bleu{
	background-color: #CAE7F3;
}

#contenu i {
	color:#005AA1;
}

.DotedNone b{
	color:#005AA1;	
}