@charset "utf-8";
/* CSS Document */

#webcamBody {
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
}

#webcamBody ul {
	float:left;
	margin:0;
	padding:0;
}

#webcamBody img {
	border:0;
}

div #panoframe {
	background:#009EE0 none repeat scroll 0 0;
	/*overflow: auto;*/
	margin: 0pt;
	padding: 0pt;
	cursor: auto;
	height:262px;
	overflow-x:hidden;
	overflow-y:auto;
	position:absolute;
	width:576px;
}

.formCam {
	float:left;
}



.listeHistorique {
float: left;
border: 0;
width: 180px;
height: 20px;
font-size: 11px;
color: #005AA1;
}


#nomPan {
float:left;
font-weight: bold;
border: 0;
height: 15px;
width: 308px;
font-size: 9px;
color: #FFF;
background-color: #005AA1;
text-align:center;
}



#command {
	/*left:258px;*/
	position: absolute;
	margin-top: -47px;
	margin-left: 258px;
	height: 46px;
	width: 318px;
	z-index:6;
}

#command a {
	display:block;
	float: left;
	height: 25px;
}



#contCam {
	float: left;
	width: 576px;
}

#colGauche {
	float:left;
	width: 256px;
	background-color: #E7E7E7;
	padding-right: 2px;
}

#colDroite {
	float:left;
	width: 318px;
}

#bandeauVisuel {
	overflow:hidden;
	height: 262px;
	width: 576px;
}

.marginTop8 {
	margin-top: -8px;
}

#contflash {
	height: 266px
}

#contImages {
	height: 284px;
	overflow: auto;
	width: 232px;
	/*
	padding-left: 6px;
	*/
	margin-left:auto;
	margin-right:auto;
	margin-top: 8px;
}


#contImages li {
	float:left; 
	list-style-type:none;
	padding: 0 0 3px 6px;
	font-size: 9px;
	font-weight: bold;
	width: 94px;
}

#contImages li a {
	color: #005AA1;
	text-decoration: none;
}

#contImages li a:hover {
	color: #009EE0;
}


#contAide {
	/*width:234px;*/
	position:absolute;
	color:#fff;
	font-size:10px;
	margin-top: 226px;
	padding: 1px 12px 1px 12px;
	background-color: #009EE0;
	z-index:6;
}

#selectPanoDiv {
	
}

a.camVieux {
	background-image:url(onglet_cam.gif);
	background-position:0 -22px;
	background-repeat:no-repeat;
	color:#FFFFFF;
	display:block;
	float:left;
	font-size:12px;
	font-weight:bold;
	height:22px;
	line-height:22px;
	padding-left:6px;
	text-decoration:none;
	width:201px;
}

a.camVieux:hover  {
	text-decoration:none;
	/*background-color:#009EE0;*/
}

a.camPlages {
	background-image:url(onglet_cam_biseau.gif);
	background-position:0 0;
	background-repeat:no-repeat;
	color:#FFFFFF;
	display:block;
	float:left;
	font-size:12px;
	font-weight:bold;
	height:22px;
	line-height:22px;
	margin-left:-22px;
	overflow:visible;
	padding-left:6px;
	text-decoration:none;
	width:200px;
}

a.camPlages:hover {
	text-decoration:none;
  	/*background-position: 0 -22px;*/
 	/*margin-left:-30px;*/
}

a.camNovotel {
	background-image:url(onglet_cam_biseau.gif);
	background-position:0 0;
	background-repeat:no-repeat;
	color:#FFFFFF;
	display:block;
	float:left;
	font-size:12px;
	font-weight:bold;
	height:22px;
	line-height:22px;
	margin-left:-23px;
	overflow:visible;
	padding-left:6px;
	text-decoration:none;
	width:201px;
}

a.camNovotel:hover {
	text-decoration:none;
  	/*background-position: 0 -22px;*/
 	/*margin-left:-30px;*/
}


.floatLeft {
	float: left;
}


.bleuClair {
	overflow:hidden;
	height: 23px;
	padding: 3px 0 0 5px;
	background-color: #009EE0;
}


.bleuClair li {
	float:left;
	list-style-type: none;
	color: #FFF;
	font-size: 11px;
	font-weight: bold;
	line-height: 20px;
	padding-left: 20px;
}


.bleuFonce {
	float:left;
	height: 18px;
	width: 318px;
	padding: 5px 0 0 0;
	background-color: #005AA1;
}


.resetFloat{
	clear: both; float: none;
}




/* CSS de l'ancienne iframe */


/* specifique page contenant le pano et affichee dans l'iframe */
.area {
	CLEAR: left;
	border: #005AA1 thin dashed;
	FLOAT: left;
	OVERFLOW: visible;
	POSITION: absolute;
	Z-INDEX: 2;
	text-decoration: none;
	margin: 0px;
}

.areaLinked {
	border:thin dashed #0097d2;
}

.libelleLinked {
	background-color:#0097d2;
}

.area2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	OVERFLOW: visible;
	POSITION: absolute;
	Z-INDEX: 1;
}

.libelle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #005AA1;
	padding-left: 2px;
	padding-right: 2px;
}

.area span {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #005AA1;
	border: 0px;
	float: left;
	text-decoration: none;
}

/* definition specifique au select de la page pano */
/*#panoselect {
	position: fixed;
	left:0;
	top:241px;
    width: 235px;
    height: 18px;
    color: #005AA1;
    font-size: 11px;
    line-height: 18px;
    margin: 3px 0 0 12px;
    border:0;
}*/


