/* Mise en page CSS du site pour print */
/* Mise en page CSS du site Mairie Meyzieu pour print */
/* //////////////////////////////////////////////////////// GLOBAL STRUCTURE /////////////////////////////////////////////////////// */
* {margin: 0px;padding: 0px;}

body {font-family: Arial, Verdana, Helvetica, sans-serif ;margin: 0px;padding: 0px; background:url(bg_accueil.jpg) top left repeat-x;}

img {border: 0 none; }

h1 {}
h2 {}
h3 {}
h4 {}
div {background-color:transparent}
p {text-align: left;}
strong {}
a:link, a:active, a:visited  {text-decoration: none;}
a:hover {text-decoration: underline;}
ul, li, dd {list-style-type: none;}
abbr, acronym {border-bottom: 1px dotted #6B6251;cursor:help;}
hr { display:none}
.myhr {clear:both; visibility:hidden; overflow:hidden; height:0px; display:block}



.imgAccueil {float:none !important;}
.myImg{margin:10px 0 10px 3px; float:right;}
.myImg  img{padding:0 15px}
.myImg .rightSide {width:11px;height:158px;float:left;}
.myImg2{width:194px; height:11px;}
.myImg2  img{padding:11px 0px 14px 0}


/* //////////////////////////////////////////////////////// GESTION DES DIV HOME/////////////////////////////////////////////////////// */

div#container{ margin-left:auto;margin-right:auto;margin-top:0;padding:0;text-align:left;width:955px;}

.navigation_rapide {height:0; overflow:hidden;}

/* -------------------------------------------------------- Header -----------------------------------------------------------------*/
div#header {height:336px;width:981px; background: url(http://www.meyzieu.fr/images/fond_header.jpg) top left no-repeat; position:relative;}

/* ------------------------------------------------------- barre outils ----------------------------------------------------------------*/
div#header #outils ul{display:none}
/* ------------------------------------------------------- Main nav ----------------------------------------------------------------*/
div#header #mainnav { display:none}
/* ------------------------------------------------------- Main nav_page-int----------------------------------------------------------------*/

/* ------------------------------------------------------- galerie_visuels ----------------------------------------------------------------*/
div#header #galerie_visuels{ top:20px; z-index:1; height:315px; width:955px;position:absolute; left:0px}
/* -------------------------------------------------------- Logo -----------------------------------------------------------------*/

div#logo_meyzieu {float:left;width:378px;height:117px;margin-left:13px;display:inline;top:228px;z-index:2;position:absolute;left:0px}
div#logo_meyzieu img {}
div#logo_meyzieu h1{ color:#000000}

/* -------------------------------------------------------- Recherche -----------------------------------------------------------------*/
div#header #search{ display:none}
/* --------------------------------------------------------- Content ------------------------------------------------------------------*/
div#content {width:955px;margin:0 auto; height:640px; font-size:0.9em;}

/* --------------------------------------------------------- Col_gauche ------------------------------------------------------------------*/
div#content #col_gauche {width:398px; background:url(bg_col_left.jpg) top left repeat-y; height:613px;
margin-left:4px;float:left;}

div#content #col_gauche h2{font-size:1.4em; font-weight:bold; color:#ed6205; margin: 10px 5px 2px 0px;}
div#content #col_gauche h3{font-size:1em; font-weight:bold; color:#0582bc; border-bottom: dotted 1px #0582bc; padding:4px 0px 3px 0px ; margin-right:10px;}
div#content #col_gauche p{font-size:0.85em; color:#000000; padding:0px; margin-right:10px;margin-top:5px;}

div#content #col_gauche p a{background:url(puce_orange.gif) 0px 4px no-repeat;font-size:0.75em;color:#ed6205; padding-left :10px; }
div#content #col_gauche p a:hover{text-decoration:none; color: #0582bc;}

div#content #col_gauche ul li {display:inline;}
div#content #col_gauche ul li a.btn {background:none;}
div#content #col_gauche ul li a.btn:hover{background:none; text-decoration:none;}
div#content #col_gauche ul li a{background:url(puce_orange.gif) 0px 4px no-repeat;font-size:0.75em;color:#ed6205; padding-left :10px;}
div#content #col_gauche ul li a:hover{text-decoration:none; color: #0582bc;}

div#content #col_gauche #actualites{margin-left:19px;width:362px;}
div#content #col_gauche #actualites div.img_actu { width: 329px; height: 168px; }
div#content #col_gauche #actualites div.img_actu div.image {line-height:168px; }
div#content #col_gauche #actualites img{}

div.ombre_left { float: left; }
div.image { float: left; text-align:center;}
div.image img { vertical-align:middle; }
div.ombre_right { float: left; }

div#content #col_gauche #breves{margin-left:19px;width:362px;}
div#content #col_gauche #breves dl {}
div#content #col_gauche #breves dl dt {font-size:1em; font-weight:bold; color:#0582bc; border-bottom: dotted 1px #0582bc; padding:4px 0px 3px 0px ; margin-right:10px;}

div#content #col_gauche #breves dl dd{background:url(border_bottom.jpg) center bottom no-repeat; height:25px; padding:5px 0 0;}
div#content #col_gauche #breves dl dd a{background:url(puce_orange.gif) 0px 4px no-repeat;font-size:0.75em;color:#ed6205; padding-left :10px; }
div#content #col_gauche #breves dl dd a:hover{text-decoration:none; color: #0582bc;}

/* --------------------------------------------------------- Col_centrale ------------------------------------------------------------------*/

div#content #col_centrale {width:300px;float:left;padding-left:9px;}
div#content #col_centrale h2 { background:url(fleche_rose.gif) 2px 4px no-repeat;font-size:1.4em; font-weight:bold; color:#bc004f; margin: 10px 5px 2px 0px; padding-left:23px; }
div#content #col_centrale h3 {font-size:1em; font-weight:bold;color:#bc004f; border-bottom: dotted 1px #bc004f; padding:8px 0px 3px 0px; margin:0 0 5px;}
div#content #col_centrale p{font-size:0.85em; color:#000000; padding:5px 0px 5px 0px; }
div#content #col_centrale p a{background:url(puce_rose.gif) 0px 4px no-repeat; color:#bc004f;padding-left:10px; font-size:0.85em; }
div#content #col_centrale p a:hover{text-decoration:none; color: #0582bc;}

div#content #col_centrale ul li a{background:url(puce_rose.gif) 0px 4px no-repeat; color:#bc004f;padding-left:10px; font-size:0.75em;}
div#content #col_centrale ul li a:hover{text-decoration:none; color: #0582bc;}

div#content #col_centrale #agenda { width:300px; height:215px;}
div#content #col_centrale #agenda div.img_agenda{height:156px; border :1px solid #DEDEDE; float:left; padding:5px; margin-top:10px; }

div#content #col_centrale #agenda #dates {float:left;height:157px;width:155px; margin-top:10px;}

div#content #col_centrale #agenda #dates dl{margin-left:10px;}
div#content #col_centrale #agenda #dates dl dt {font-size:0.75em; font-weight:bold; color: #000000; background:url(bg_date.jpg) top left no-repeat; padding-left:12px; height:18px; width:61px; display:block; padding-top:2px;}
div#content #col_centrale #agenda #dates dl dd{height:10px; border-bottom: dotted 1px #DEDEDE; margin:2px 0 4px; padding:0 0 8px;}
div#content #col_centrale #agenda #dates dl dd a{color:#000000;font-size:0.75em;}
div#content #col_centrale #agenda #dates dl dd a:hover{text-decoration:none; color: #bc004f;}

div#content #col_centrale #agenda #dates  dd a.tous {background:url(puce_rose.gif) 0px 4px no-repeat;color:#bc004f;font-size:0.75em; padding-left:10px }
div#content #col_centrale #agenda #dates dd a.tous:hover{text-decoration:none;color: #0582bc;}

div#content #col_centrale #dossier{}
div#content #col_centrale #dossier p{ margin-top:5px;}
div#content #col_centrale #dossier .img_dossier{ width:299px; height: 139px; }
div#content #col_centrale #dossier .img_dossier .image {}
div#content #col_centrale #dossier img{}
/* --------------------------------------------------------- Col_droite ------------------------------------------------------------------*/
.home #col_droite{background: url(bg_col_droite.jpg) top left no-repeat; }

div#content #col_droite{ display:none }

div#content #col_gauche h2{font-size:1.4em; font-weight:bold; color:#ed6205; margin: 10px 5px 2px 0px;}

div#content #col_droite #meyzieu_pratique{ width:180px; margin-left:26px;}
div#content #col_droite #meyzieu_pratique h2{font-size:1.3em; color:#0582bc; margin: 10px 5px 6px 8px; font-weight:normal;}
div#content #col_droite #meyzieu_pratique ul li{border-bottom: dotted 1px #91aebc;margin:4px 23px 4px 9px; }
div#content #col_droite #meyzieu_pratique ul li a{font-weight:bold; color:#0582bc; }
div#content #col_droite #meyzieu_pratique ul li a:hover{color:#0C629F}


div#content #col_droite #faq{ width:180px; margin-left:26px;}
div#content #col_droite #faq h2{background:transparent url(demarches_bg_rub_off.jpg) no-repeat scroll left top;color:#0582BC;font-size:1.1em;font-weight:bold;height:24px;margin:10px 5px 6px 8px;padding:5px 0 0 10px;}
div#content #col_droite #faq p{color:#0582bc; margin: 10px 5px 6px 8px; font-weight:bold;}
div#content #col_droite #faq ul li{border-bottom: dotted 1px #91aebc; margin:4px 23px 4px 9px; }
div#content #col_droite #faq ul li a{font-weight:normal; color:#000000; background:url(puce_noir.jpg) left 3px no-repeat; padding:0 0 0 10px; }
div#content #col_droite #faq ul li a:hover{color:#0582bc}

div#content #col_droite #meyzieu_acces{ width:180px; margin-left:26px;}
div#content #col_droite #meyzieu_acces div.middle{border: dotted 1px #91aebc; margin:10px; padding:0px}
div#content #col_droite #meyzieu_acces h2{font-size:1.1em; color:#0582bc; margin: 10px 5px 6px 8px; font-weight:bold;}
div#content #col_droite #meyzieu_acces ul li {display:none}
div#content #col_droite #meyzieu_acces ul li{margin:4px 23px 4px 9px; }
div#content #col_droite #meyzieu_acces ul li a{font-weight:normal; color:#000000; background:url(puce_noir.jpg) left 3px no-repeat; padding:0 0 0 10px;  }
div#content #col_droite #meyzieu_acces ul li a:hover{color:#0582bc}


div#content #col_droite div.top {background:url(top.jpg) top left no-repeat;  display:block; height:10px;  width:180px}
div#content #col_droite div.content {width:180px}
div#content #col_droite div.content ul li{display:block; width:180px; margin:0px;}
div#content #col_droite div.bottom {background:url(bottom.jpg) top left no-repeat; display:block; height:10px;  width:180px}

/* //////////////////////////////////////////////////////// GESTION DES DIV PAGE RUBRIQUES/////////////////////////////////////////////////////// */

/*------------------------------------------------------------------------Breadcrumb ----------------------------------------------------------------*/
div#content #contenu_page_rubrique #ariane {width:100%; text-align:left;color: #463e38; margin:10px 0px 10px 28px; float:left}
div#content #contenu_page_rubrique #ariane p {color:#66605A; float:left;font-size: 0.75em;padding:2px 3px 0px 0px;  }
div#content #contenu_page_rubrique #ariane ul {color:#66605A;  float:left}
div#content #contenu_page_rubrique #ariane ul li {display:inline; border-right: 1px solid #CCCCCC; padding:0px 3px 0px 3px;  font-size: 0.75em; }
div#content #contenu_page_rubrique #ariane ul li:last-child { border-right:none 0px; }
div#content #contenu_page_rubrique #ariane a{color:#66605A;text-decoration:none; }
div#content #contenu_page_rubrique #ariane ul li a:hover{text-decoration: none; color:#0582BC}
div#content #contenu_page_rubrique ul li.actif{color:#0582BC; font-weight:bold;}

/* -----------------------------------------------------------------------Content ------------------------------------------------------------------*/

div#content #contenu_page_rubrique {width:725px; height:auto; float:left;}
div#content #col_droite #nav_deploye dd ul li a { height:auto}

/*-----------------------------------------------------------------------FLUX ARTICLES-----------------------------------------------------------------------*/
div#content #contenu_page_rubrique #flux_articles{width:482px;float:left}
div#content #contenu_page_rubrique #flux_articles div.articles{margin-left:30px; border-bottom:1px solid gray; padding-bottom:15px;}
div#content #contenu_page_rubrique #flux_articles h2{font-size:1.4em; font-weight:bold;padding:14px 5px 0 0; }
div#content #contenu_page_rubrique #flux_articles div.articles h3 { font-size:1em; font-weight:bold; color:#0582bc; border-bottom: dotted 1px #0582bc; padding:4px 0px 3px 0px ; margin:5px 0;}
div#content #contenu_page_rubrique #flux_articles div.articles h3 a { color:#0582bc; }

div#content #contenu_page_rubrique #flux_articles div.articles p{font-size:0.75em; color:#000000; padding:5px 0px 5px 0px; font-weight:bold; line-height:1.5em;}
div#content #contenu_page_rubrique #flux_articles div.articles p a{color:#bc004f;font-size:1em; }
div#content #contenu_page_rubrique #flux_articles div.articles p a:hover{color:#bc004f; text-decoration:none; }

div#content #contenu_page_rubrique #flux_articles div.articles p a.suite{color:#ffffff;width:144px;height:18px; display:block; padding:2px 0px 0px 10px;}
div#content #contenu_page_rubrique #flux_articles div.articles p a.suite:hover{color:#ffffff;text-decoration:none;}

div#content.meyzieu #contenu_page_rubrique #flux_articles div.articles p a.suite{background:url(btn_suite_meyzieu.jpg) top left no-repeat;}
div#content.meyzieu #contenu_page_rubrique #flux_articles div.articles p a.suite:hover{background:url(btn_suite_meyzieu.jpg) bottom left no-repeat;text-decoration:none;}

div#content.municipale #contenu_page_rubrique #flux_articles div.articles p a.suite{background:url(btn_suite_municipale.jpg) top left no-repeat;}
div#content.municipale #contenu_page_rubrique #flux_articles div.articles p a.suite:hover{background:url(btn_suite_municipale.jpg) bottom left no-repeat;text-decoration:none;}
div#content.demarches #contenu_page_rubrique #flux_articles div.articles p a.suite{background:url(btn_suite_demarches.jpg) top left no-repeat;}
div#content.demarches #contenu_page_rubrique #flux_articles div.articles p a.suite:hover{background:url(btn_suite_demarches.jpg) bottom left no-repeat;text-decoration:none;}
div#content.economie #contenu_page_rubrique #flux_articles div.articles p a.suite{background:url(btn_suite_economie.jpg) top left no-repeat;}
div#content.economie #contenu_page_rubrique #flux_articles div.articles p a.suite:hover{background:url(btn_suite_economie.jpg) bottom left no-repeat;text-decoration:none;}
div#content.jeunesse #contenu_page_rubrique #flux_articles div.articles p a.suite{background:url(btn_suite_jeunesse.jpg) top left no-repeat;}
div#content.jeunesse #contenu_page_rubrique #flux_articles div.articles p a.suite:hover{background:url(btn_suite_jeunesse.jpg) bottom left no-repeat;text-decoration:none;}
div#content.solidarite #contenu_page_rubrique #flux_articles div.articles p a.suite{background:url(btn_suite_solidarite.jpg) top left no-repeat;}
div#content.solidarite #contenu_page_rubrique #flux_articles div.articles p a.suite:hover{background:url(btn_suite_solidarite.jpg) bottom left no-repeat;text-decoration:none;}
div#content.culture #contenu_page_rubrique #flux_articles div.articles p a.suite{background:url(btn_suite_culture.jpg) top left no-repeat;}
div#content.culture #contenu_page_rubrique #flux_articles div.articles p a.suite:hover{background:url(btn_suite_culture.jpg) bottom left no-repeat;text-decoration:none;}

div#content.loisirs #contenu_page_rubrique #flux_articles div.articles p a.suite{background:url(btn_suite_loisirs.jpg) top left no-repeat;}
div#content.loisirs #contenu_page_rubrique #flux_articles div.articles p a.suite:hover{background:url(btn_suite_loisirs.jpg) bottom left no-repeat;text-decoration:none;}

div#content #contenu_page_rubrique #flux_articles div.articles div.img_article{background: url(bg_img_fluxarticle.jpg) top left no-repeat; }
div#content #contenu_page_rubrique #flux_articles div.articles img{}

/*--------------------------------------------------------------------COL CENTRALE-----------------------------------------------------------------------*/

div#content #contenu_page_rubrique #actu_en_bref{width:218px; float:right; margin-top:20px; height:auto}
div#content #contenu_page_rubrique #actu_en_bref div.img_actu_bref{ background: url(bg_img-actuenbref.jpg) top left no-repeat; width:200px; padding:14px 0; margin-left:12px}
div#content #contenu_page_rubrique #actu_en_bref div.img_actu_bref img{margin:0px 0px 0px 0px; }
div#content #contenu_page_rubrique #actu_en_bref h2{font-size:1em; font-weight:bold; color:#ed6205; margin: 0px 5px 2px 12px; padding:0px; }

div#content #contenu_page_rubrique #actu_en_bref div.flux_actus{padding:10px 16px 0; background:url(bottom.jpg) center bottom no-repeat; clear:both;  }
div#content #contenu_page_rubrique #actu_en_bref div.flux_actus dl dt {font-size:0.75em; font-weight:bold; color:#ED6205;}

div#content #contenu_page_rubrique #actu_en_bref div.flux_actus dd {font-size:0.75em; color:#000000; padding:2px 0px 2px 0px;}
div#content #contenu_page_rubrique #actu_en_bref div.flux_actus dd.titre{font-size:0.75em; color:#000000; padding:5px 0px 5px 0px; font-weight:bold; }
div#content #contenu_page_rubrique #actu_en_bref div.flux_actus dd a.suite{color:#ED6205; background:url(puce_orange.gif) left 4px no-repeat; padding-left: 10px; display:block; margin-bottom:10px;}
div#content #contenu_page_rubrique #actu_en_bref div.flux_actus dd a.suite:hover{text-decoration:underline;}

div#content #contenu_page_rubrique #phototeque {display:none}
div#content #contenu_page_rubrique #phototeque h2{font-size:1em; font-weight:bold; color:#BC004F; margin:0px; padding:0px 0px 5px 0px;}
div#content #contenu_page_rubrique #phototeque #visu{height:auto; width:194px;}
div#content #contenu_page_rubrique #phototeque #description {height:25px; width:194px; background:#BC004F;}
div#content #contenu_page_rubrique #phototeque #description p{color:#FFFFFF;font-size:0.7em; padding:5px 5px 5px 10px;}
div#content #contenu_page_rubrique #phototeque #description p a{ color:#FFFFFF;  text-decoration:none; margin-left:30px;padding-left:15px; background:url(ico_zoom.jpg) top left no-repeat}
div#content #contenu_page_rubrique #phototeque #description p a:hover{ color:#000000; text-decoration:none;}

div#content #contenu_page_rubrique #phototeque p{color: #000000;font-size:0.7em;padding:5px; }
div#content #contenu_page_rubrique #phototeque p a.tous{ background:url(puce_rose.gif) 0px 4px no-repeat;color:#bc004f; padding-left:10px}
div#content #contenu_page_rubrique #phototeque p a.tous:hover{text-decoration:none; color: #bc004f;}

/*--------------------------------------------------------------------COL-DROITE--------------------------------------------------------------------------*/
div#content #col_droite #nav_deploye {margin:15px 0px 15px 0px;}
div#content #col_droite #nav_deploye dl{width:180px;margin-left:26px; }
div#content #col_droite #nav_deploye h4{font-weight:bold; font-size:1.2em; margin-top:10px; margin-bottom:5px;padding:5px 0px 0px 30px;  }
div#content #col_droite #nav_deploye dt.actif{ color:#FFFFFF; font-weight:bold; display:block;height:20px;padding:5px 0px 0px 10px;}
div#content #col_droite #nav_deploye dt a{color:#000000; font-weight:bold; display:block;height:20px;padding:5px 0px 0px 10px; margin:5px 0px 5px 0px; }
div#content #col_droite #nav_deploye dt a:hover{color:#ffffff;text-decoration:none;}
div#content #col_droite #nav_deploye dd a{display:block;text-decoration:none;  font-weight:bold; padding:5px 0px 0px 12px; }
div#content #col_droite #nav_deploye dd.actif{font-weight:bold; padding:5px 0px 0px 12px;  }
div#content #col_droite #nav_deploye dd a:hover{color:#FFFFFF; text-decoration:none;}
div#content #col_droite #nav_deploye dd ul{margin-top:5px; margin-bottom:5px; margin-right:10px;}
div#content #col_droite #nav_deploye dd ul li {padding:2px 0px 2px 0px; border-bottom:#000000 1px dotted;background:none;}
div#content #col_droite #nav_deploye dd ul li.actif { font-weight:normal;}
div#content #col_droite #nav_deploye dd ul li a{color:#000000;font-weight:normal;background:none;padding:2px 5px 2px 0px;}
div#content #col_droite #nav_deploye dd ul li a:hover{text-decoration:none; background:none;}

div#content.meyzieu #col_droite{background:url(bg_col_meyzieu.jpg) top left no-repeat; font-size:0.75em; }
div#content.meyzieu #col_droite #nav_deploye h4{color:#0f86be; }
div#content.meyzieu #col_droite #nav_deploye dd a{color:#0f86be;}
div#content.meyzieu #col_droite #nav_deploye dt a{background:url(meyzieu_bg_rub_off.jpg) top left no-repeat; color:#0f86be;}
div#content.meyzieu #col_droite #nav_deploye dt.actif{background:url(meyzieu_bg_rub_on.jpg) top left no-repeat; }
div#content.meyzieu #col_droite #nav_deploye dt a:hover{background:url(meyzieu_bg_rub_on.jpg) top left no-repeat;color:#FFFFFF;}
div#content.meyzieu #col_droite #nav_deploye dd.actif{background:url(puce_meyzieu.jpg) left 7px  no-repeat;color:#0f86be; }
div#content.meyzieu #col_droite #nav_deploye dd a{background:url(puce_meyzieu.jpg) left 7px  no-repeat; color:#000000; }
div#content.meyzieu #col_droite #nav_deploye dd a:hover{background:url(puce_meyzieu.jpg) left 7px  no-repeat;color:#0f86be;}
div#content.meyzieu #col_droite #nav_deploye dd ul li a {background:none;}
div#content.meyzieu #col_droite #nav_deploye dd ul li a:hover{text-decoration:none; background:none;}
div#content.meyzieu #col_droite.meyzieu #nav_deploye dd ul li.actif {color:#0f86be;}

div#content.municipale #col_droite{background:url(bg_col_municipale.jpg) top left no-repeat; font-size:0.75em; }
div#content.municipale #col_droite #nav_deploye h4{color:#058299; }
div#content.municipale #col_droite #nav_deploye dd a{color:#058299;}
div#content.municipale #col_droite #nav_deploye dt a{background:url(municipale_bg_rub_off.jpg) top left no-repeat; color:#058299;}
div#content.municipale #col_droite #nav_deploye dt.actif{background:url(municipale_bg_rub_on.jpg) top left no-repeat; }
div#content.municipale #col_droite #nav_deploye dt a:hover{background:url(municipale_bg_rub_on.jpg) top left no-repeat;color:#FFFFFF;}
div#content.municipale #col_droite #nav_deploye dd.actif{background:url(puce_municipale.jpg) left 7px  no-repeat;color:#058299; }
div#content.municipale #col_droite #nav_deploye dd a{background:url(puce_municipale.jpg) left 7px  no-repeat; color:#000000; }
div#content.municipale #col_droite #nav_deploye dd a:hover{background:url(puce_municipale.jpg) left 7px  no-repeat;color:#058299;}
div#content.municipale #col_droite #nav_deploye dd ul li a {background:none;}
div#content.municipale #col_droite #nav_deploye dd ul li a:hover{text-decoration:none; background:none;}
div#content.municipale #col_droite #nav_deploye dd ul li.actif {color:#058299;}

div#content.demarches #col_droite{background:url(bg_col_demarches.jpg) top left no-repeat; font-size:0.75em; }
div#content.demarches #col_droite #nav_deploye h4{color:#8a979f; }
div#content.demarches #col_droite #nav_deploye dd a{color:#8a979f;}
div#content.demarches #col_droite #nav_deploye dt a{background:url(demarches_bg_rub_off.jpg) top left no-repeat; color:#8a979f;}
div#content.demarches #col_droite #nav_deploye dt.actif{background:url(demarches_bg_rub_on.jpg) top left no-repeat; }
div#content.demarches #col_droite #nav_deploye dt a:hover{background:url(demarches_bg_rub_on.jpg) top left no-repeat;color:#FFFFFF;}
div#content.demarches #col_droite #nav_deploye dd.actif{background:url(puce_demarches.jpg) left 7px  no-repeat;color:#8a979f; }
div#content.demarches #col_droite #nav_deploye dd a{background:url(puce_demarches.jpg) left 7px  no-repeat; color:#000000; }
div#content.demarches #col_droite #nav_deploye dd a:hover{background:url(puce_demarches.jpg) left 7px  no-repeat;color:#8a979f;}
div#content.demarches #col_droite #nav_deploye dd ul li a {background:none;}
div#content.demarches #col_droite #nav_deploye dd ul li a:hover{text-decoration:none; background:none;}
div#content.demarches #col_droite #nav_deploye dd ul li.actif {color:#8a979f;}

div#content.economie #col_droite{background:url(bg_col_economie.jpg) top left no-repeat; font-size:0.75em; }
div#content.economie #col_droite #nav_deploye h4{color:#fe8f00; }
div#content.economie #col_droite #nav_deploye dd a{color:fe8f00;}
div#content.economie #col_droite #nav_deploye dt a{background:url(economie_bg_rub_off.jpg) top left no-repeat; color:#fe8f00;}
div#content.economie #col_droite #nav_deploye dt.actif{background:url(economie_bg_rub_on.jpg) top left no-repeat; }
div#content.economie #col_droite #nav_deploye dt a:hover{background:url(economie_bg_rub_on.jpg) top left no-repeat;color:#FFFFFF;}
div#content.economie #col_droite #nav_deploye dd.actif{background:url(puce_economie.jpg) left 7px  no-repeat;color:#fe8f00; }
div#content.economie #col_droite #nav_deploye dd a{background:url(puce_economie.jpg) left 7px  no-repeat; color:#000000; }
div#content.economie #col_droite #nav_deploye dd a:hover{background:url(puce_economie.jpg) left 7px  no-repeat;color:#fe8f00;}
div#content.economie #col_droite #nav_deploye dd ul li a {background:none;}
div#content.economie #col_droite #nav_deploye dd ul li a:hover{text-decoration:none; background:none;}
div#content.economie #col_droite #nav_deploye dd ul li.actif {color:#dfe8f00;}

div#content.solidarite #col_droite{background:url(bg_col_solidarite.jpg) top left no-repeat; font-size:0.75em; }
div#content.solidarite #col_droite #nav_deploye h4{color:#ed7900; }
div#content.solidarite #col_droite #nav_deploye dd a{color:ed7900;}
div#content.solidarite #col_droite #nav_deploye dt a{background:url(solidarite_bg_rub_off.jpg) top left no-repeat; color:#ed7900;}
div#content.solidarite #col_droite #nav_deploye dt.actif{background:url(solidarite_bg_rub_on.jpg) top left no-repeat; }
div#content.solidarite #col_droite #nav_deploye dt a:hover{background:url(solidarite_bg_rub_on.jpg) top left no-repeat;color:#FFFFFF;}
div#content.solidarite #col_droite #nav_deploye dd.actif{background:url(puce_solidarite.jpg) left 7px  no-repeat;color:#ed7900; }
div#content.solidarite #col_droite #nav_deploye dd a{background:url(puce_solidarite.jpg) left 7px  no-repeat; color:#000000; }
div#content.solidarite #col_droite #nav_deploye dd a:hover{background:url(puce_solidarite.jpg) left 7px  no-repeat;color:#ed7900;}
div#content.solidarite #col_droite #nav_deploye dd ul li a {background:none;}
div#content.solidarite #col_droite #nav_deploye dd ul li a:hover{text-decoration:none; background:none;}
div#content.solidarite #col_droite #nav_deploye dd ul li.actif {color:#ed7900;}

div#content.jeunesse #col_droite{background:url(bg_col_jeunesse.jpg) top left no-repeat; font-size:0.75em; }
div#content.jeunesse #col_droite #nav_deploye h4{color:#FB66AB; }
div#content.jeunesse #col_droite #nav_deploye dd a{color:#FB66AB;}
div#content.jeunesse #col_droite #nav_deploye dt a{background:url(jeunesse_bg_rub_off.jpg) top left no-repeat; color:#FB66AB;}
div#content.jeunesse #col_droite #nav_deploye dt.actif{background:url(jeunesse_bg_rub_on.jpg) top left no-repeat; }
div#content.jeunesse #col_droite #nav_deploye dt a:hover{background:url(jeunesse_bg_rub_on.jpg) top left no-repeat;color:#FFFFFF;}
div#content.jeunesse #col_droite #nav_deploye dd.actif{background:url(puce_jeunesse.jpg) left 7px  no-repeat;color:#FB66AB; }
div#content.jeunesse #col_droite #nav_deploye dd a{background:url(puce_jeunesse.jpg) left 7px  no-repeat; color:#000000; }
div#content.jeunesse #col_droite #nav_deploye dd a:hover{background:url(puce_jeunesse.jpg) left 7px  no-repeat;color:#FB66AB;}
div#content.jeunesse #col_droite #nav_deploye dd ul li a {background:none;}
div#content.jeunesse #col_droite #nav_deploye dd ul li a:hover{text-decoration:none; background:none;}
div#content.jeunesse #col_droite #nav_deploye dd ul li.actif {color:#FB66AB;}

div#content.culture #col_droite{background:url(bg_col_culture.jpg) top left no-repeat; font-size:0.75em; }
div#content.culture #col_droite #nav_deploye h4{color:#933288; }
div#content.culture #col_droite #nav_deploye dd a{color:#933288;}
div#content.culture #col_droite #nav_deploye dt a{background:url(culture_bg_rub_off.jpg) top left no-repeat; color:#933288;}
div#content.culture #col_droite #nav_deploye dt.actif{background:url(culture_bg_rub_on.jpg) top left no-repeat; }
div#content.culture #col_droite #nav_deploye dt a:hover{background:url(culture_bg_rub_on.jpg) top left no-repeat;color:#FFFFFF;}
div#content.culture #col_droite #nav_deploye dd.actif{background:url(puce_culture.jpg) left 7px  no-repeat;color:#933288; }
div#content.culture #col_droite #nav_deploye dd a{background:url(puce_culture.jpg) left 7px  no-repeat; color:#000000; }
div#content.culture #col_droite #nav_deploye dd a:hover{background:url(puce_culture.jpg) left 7px  no-repeat;color:#933288;}
div#content.culture #col_droite #nav_deploye dd ul li a {background:none;}
div#content.culture #col_droite #nav_deploye dd ul li a:hover{text-decoration:none; background:none;}
div#content.culture #col_droite #nav_deploye dd ul li.actif {color:#933288;}

div#content.loisirs #col_droite{background:url(bg_col_loisirs.jpg) top left no-repeat; font-size:0.75em; }
div#content.loisirs #col_droite #nav_deploye h4{color:#8cc400; }
div#content.loisirs #col_droite #nav_deploye dd a{color:#8cc400;}
div#content.loisirs #col_droite #nav_deploye dt a{background:url(loisirs_bg_rub_off.jpg) top left no-repeat; color:#8cc400;}
div#content.loisirs #col_droite #nav_deploye dt.actif{background:url(loisirs_bg_rub_on.jpg) top left no-repeat; }
div#content.loisirs #col_droite #nav_deploye dt a:hover{background:url(loisirs_bg_rub_on.jpg) top left no-repeat;color:#FFFFFF;}
div#content.loisirs #col_droite #nav_deploye dd.actif{background:url(puce_loisirs.jpg) left 7px  no-repeat;color:#8cc400; }
div#content.loisirs #col_droite #nav_deploye dd a{background:url(puce_loisirs.jpg) left 7px  no-repeat; color:#000000; }
div#content.loisirs #col_droite #nav_deploye dd a:hover{background:url(puce_loisirs.jpg) left 7px  no-repeat;color:#8cc400;}
div#content.loisirs #col_droite #nav_deploye dd ul li a {background:none;}
div#content.loisirs #col_droite #nav_deploye dd ul li a:hover{text-decoration:none; background:none;}
div#content.loisirs #col_droite #nav_deploye dd ul li.actif {color:#8cc400;}


div#content.agenda #col_droite{background:url(bg_col_agenda_dossier.jpg) top left no-repeat; font-size:0.75em; }
div#content.agenda #col_droite #nav_deploye h4{color:#BC004F; }
div#content.agenda #col_droite #nav_deploye dd a{color:#BC004F;}
div#content.agenda #col_droite #nav_deploye dt a{background:url(agenda_dossier_bg_rub_off.jpg) top left no-repeat; color:#BC004F}
div#content.agenda #col_droite #nav_deploye dt.actif{background:url(agenda_dossier_bg_rub_on.jpg) top left no-repeat; }
div#content.agenda #col_droite #nav_deploye dt a:hover{background:url(agenda_dossier_bg_rub_on.jpg) top left no-repeat;color:#FFFFFF;}
div#content.agenda #col_droite #nav_deploye dd.actif{background:url(puce_meyzieu.jpg) left 7px  no-repeat;color:#BC004F; }
div#content.agenda #col_droite #nav_deploye dd a{background:url(puce_meyzieu.jpg) left 7px  no-repeat; color:#000000; }
div#content.agenda #col_droite #nav_deploye dd a:hover{background:url(puce_meyzieu.jpg) left 7px  no-repeat;color:#BC004F;}
div#content.agenda #col_droite #nav_deploye dd ul li a {background:none;}
div#content.agenda #col_droite #nav_deploye dd ul li a:hover{text-decoration:none; background:none;}
div#content.agenda #col_droite.meyzieu #nav_deploye dd ul li.actif {color:#BC004F}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



/* //////////////////////////////////////////////////////// GESTION DES DIV PAGE ARTICLES/////////////////////////////////////////////////////// */


div.cs_sommaire{width:450px; background:#F3F3F3; float:none !important; overflow:none; !important;}
div.cs_sommaire h4{ float:left;font-weight:bold !important; padding:0px 5px 3px !important; margin:0px;font-size:0.9em !important;}
div.cs_sommaire ul{padding-top:0px;}
div.cs_sommaire ul li{font-size:0.9em !important; line-height:normal; display:inline; background:none!important; float:left; border-left: 1px solid #CCCCCC; padding-right:10px; padding-top:0px;}
div.cs_sommaire ul li a{ text-decoration:none !important; }

/*div.cs_sommaire_inner ul li{ background:none }
div#outil_sommaire div.cs_sommaire_titre_avec_fond, div.cs_sommaire_titre_sans_fond { text-align:left; color: #000000; font-size:0.75em; border:none; background:none;}*/


div#content #contenu_page_rubrique #contenu_article{ width:680px; float:left; margin-left:10px; }
div#content #contenu_page_rubrique #contenu_article div.articles{margin-left:30px; background:url(border_bottom.jpg) bottom center no-repeat; padding-bottom:35px; float:left}
div#content #contenu_page_rubrique #contenu_article h2{font-size:1.4em; font-weight:bold; padding:16px 5px 0 37px; }

div#content.meyzieu #contenu_page_rubrique #contenu_article h2,div#content.meyzieu #contenu_page_rubrique #flux_articles h2{background:url(ico_meyzieu.jpg) top left no-repeat; color:#0f86be;padding:14px 5px 0 37px;}
div#content.municipale #contenu_page_rubrique #contenu_article h2,div#content.municipale #contenu_page_rubrique #flux_articles h2{background:url(ico_municipale.jpg) left 6px no-repeat;color:#058299;}
div#content.demarches #contenu_page_rubrique #contenu_article h2,div#content.demarches #contenu_page_rubrique #flux_articles h2{background:url(ico_demarches.jpg) top left no-repeat;color:#8a979f;}
div#content.economie #contenu_page_rubrique #contenu_article h2,div#content.economie #contenu_page_rubrique #flux_articles h2{background:url(ico_economie.jpg) top left no-repeat;color:#FE8F00;}
div#content.solidarite #contenu_page_rubrique #contenu_article h2,div#content.solidarite #contenu_page_rubrique #flux_articles h2{background:url(ico_solidarite.jpg) top left no-repeat;color:#ed7900;}
div#content.jeunesse #contenu_page_rubrique #contenu_article h2,div#content.jeunesse #contenu_page_rubrique #flux_articles h2{background:url(ico_jeunesse.jpg) top left no-repeat;color:#fa549f;}
div#content.culture #contenu_page_rubrique #contenu_article h2,div#content.culture #contenu_page_rubrique #flux_articles h2{background:url(ico_culture.jpg) top left no-repeat;color:#933288; padding-right:5px;}
div#content.loisirs #contenu_page_rubrique #contenu_article h2,div#content.loisirs #contenu_page_rubrique #flux_articles  h2{background:url(ico_loisirs.jpg) top left no-repeat;color:#8cc400;}

div#content #contenu_page_rubrique #contenu_article div.articles h3{ font-size:1.2m; font-weight:bold; color:#0582bc; border-bottom: dotted 1px #0582bc; padding:4px 0px 3px 0px ; margin:10px 0;}
div#content #contenu_page_rubrique #contenu_article div.articles h3.meyzieu{ border-bottom: dotted 1px #0582bc; }
div#content #contenu_page_rubrique #contenu_article div.articles h3.municipale{ border-bottom: dotted 1px #058299; }
div#content #contenu_page_rubrique #contenu_article div.articles h3.demarches{ border-bottom: dotted 1px #8A979F; }
div#content #contenu_page_rubrique #contenu_article div.articles h3.economie{ border-bottom: dotted 1px #F9B300; }
div#content #contenu_page_rubrique #contenu_article div.articles h3.solidarite{ border-bottom: dotted 1px #ed7900; }
div#content #contenu_page_rubrique #contenu_article div.articles h3.jeunesse{ border-bottom: dotted 1px #fa549f; }
div#content #contenu_page_rubrique #contenu_article div.articles h3.culture{ border-bottom: dotted 1px #933288; }
div#content #contenu_page_rubrique #contenu_article div.articles h3.loisirs{ border-bottom: dotted 1px #8cc400; }


div#content #contenu_page_rubrique #contenu_article div.articles h4{ font-size:0.9em; font-weight:bold; color:#fa549f; padding:4px 0px 3px 0px;margin:5px 0px 0px 0px;}
div#content.meyzieu #contenu_page_rubrique #contenu_article div.articles h4{color:#0F86BE;}
div#content.municipale #contenu_page_rubrique #contenu_article div.articles h4{color:#058299;}
div#content.demarches #contenu_page_rubrique #contenu_article div.articles h4{color:#8a979f;}
div#content.economie #contenu_page_rubrique #contenu_article div.articles h4{color:#FE8F00;}
div#content.solidarite #contenu_page_rubrique #contenu_article div.articles h4{color:#ed7900;}
div#content.jeunesse #contenu_page_rubrique #contenu_article div.articles h4{color:#fa549f;}
div#content.culture #contenu_page_rubrique #contenu_article div.articles h4{color:#933288;}
div#content.loisirs #contenu_page_rubrique #contenu_article div.articles h4{color:#8cc400;}

div#content #contenu_page_rubrique #contenu_article div.articles p.chapo{font-size:0.8em; color:#0582bc;padding:4px 10px 0px 0px ; margin:8px 0px 20px 0px; font-weight:bold; line-height:1.5em; }

div#content #contenu_page_rubrique #contenu_article div.articles p.resultat{ background:url(fleche_rose.gif) left 10px  no-repeat;font-size:0.9em; color:#BC004F;padding:10px 20px 3px; width:auto; font-weight:bold; }

div#content #contenu_page_rubrique #contenu_article div.articles p{font-size:0.8em; color:#000000; padding:5px 0px 5px 0px; line-height:1.5em;}
div#content #contenu_page_rubrique #contenu_article div.articles p a{color:#0582BC; font-weight:bold; }
div#content #contenu_page_rubrique #contenu_article div.articles p a:hover{color:#0582BC; text-decoration:underline; }

div#content.meyzieu #contenu_page_rubrique #contenu_article div.articles p a:hover, div#content.meyzieu #contenu_page_rubrique #contenu_article div.articles ul li a:hover{color:#0582BC;}
div#content.municipale #contenu_page_rubrique #contenu_article div.articles p a:hover, div#content.municipale #contenu_page_rubrique #contenu_article div.articles ul li a:hover{color:#058299;}
div#content.demarches #contenu_page_rubrique #contenu_article div.articles p a:hover, div#content.demarches #contenu_page_rubrique #contenu_article div.articles ul li a:hover{color:#8a979f;}
div#content.economie #contenu_page_rubrique #contenu_article div.articles p a:hover, div#content.economie #contenu_page_rubrique #contenu_article div.articles ul li a:hover{color:#FE8F00;}
div#content.solidarite #contenu_page_rubrique #contenu_article div.articles p a:hover, div#content.solidarite #contenu_page_rubrique #contenu_article div.articles ul li a:hover{color:#ed7900;}
div#content.jeunesse #contenu_page_rubrique #contenu_article div.articles p a:hover, div#content.jeunesse #contenu_page_rubrique #contenu_article div.articles ul li a:hover{color:#fa549f;}
div#content.culture #contenu_page_rubrique #contenu_article div.articles p a:hover, div#content.culture #contenu_page_rubrique #contenu_article div.articles ul li a:hover{color:#933288;}
div#content.loisirs #contenu_page_rubrique #contenu_article div.articles p a:hover, div#content.loisirs #contenu_page_rubrique #contenu_article div.articles ul li a:hover{color:#8cc400;}


div#content #contenu_page_rubrique #contenu_article div.articles ul { padding-left:10px; padding-top:10px;}
div#content #contenu_page_rubrique #contenu_article div.articles ul li{ background:url(puce_meyzieu.jpg) left 4px  no-repeat; padding-left:13px; font-size:0.pem; line-height:1.5em; margin-bottom:5px;font-size:0.8em;}

div#content #contenu_page_rubrique #contenu_article div.articles ul li a{color:#000000; text-decoration:underline; }
div#content #contenu_page_rubrique #contenu_article div.articles ul li a:hover{color:#0582BC;text-decoration:underline; }
div#content.meyzieu #contenu_page_rubrique #contenu_article div.articles ul li{ background:url(puce_meyzieu.jpg) left 5px  no-repeat;}
div#content.municipale #contenu_page_rubrique #contenu_article div.articles ul li{ background:url(puce_municipale.jpg) left 5px  no-repeat; }
div#content.demarches #contenu_page_rubrique #contenu_article div.articles ul li{ background:url(puce_demarches.jpg) left 5px  no-repeat; }
div#content.economie #contenu_page_rubrique #contenu_article div.articles ul li{ background:url(puce_economie.jpg) left 5px  no-repeat; }
div#content.solidarite #contenu_page_rubrique #contenu_article div.articles ul li{ background:url(puce_solidarite.jpg) left 5px  no-repeat; }
div#content.jeunesse #contenu_page_rubrique #contenu_article div.articles ul li{ background:url(puce_jeunesse.jpg) left 5px  no-repeat; }
div#content.culture #contenu_page_rubrique #contenu_article div.articles ul li{ background:url(puce_culture.jpg) left 5px  no-repeat; }
div#content.loisirs #contenu_page_rubrique #contenu_article div.articles ul li{ background:url(puce_loisirs.jpg) left 5px  no-repeat; }


div#content #contenu_page_rubrique #contenu_article div.articles div.img_article{background: url(bg_img_article.jpg) top left no-repeat;float:left; width:375px; padding-left:19px; margin-top:20px; overflow:hidden}
div#content #contenu_page_rubrique #contenu_article div.articles div.img_article img{ }

/*---------------------------------------------------------------------PIED DE PAGE ARTICLE --------------------------------------------------------------------*/
div#content #contenu_page_rubrique #contenu_article div.infos_plus { display:none}

div#content #contenu_page_rubrique #contenu_article div.articles div.echanges { display:none}


/*---------------------------------------------------------------------PAGE AGENDA---------------------------------------------------------------------*/
div#content.agenda #contenu_page_rubrique #contenu_article h2,div#content.agenda #contenu_page_rubrique #flux_articles h2{background:url(ico_agenda_dossier.jpg) top left no-repeat; color:#BC004F; padding:0px 5px 0 25px;}
div#content.agenda #contenu_page_rubrique #contenu_article div.articles #dates{ margin:10px 0px 10px 0px; float:left}
div#content.agenda #contenu_page_rubrique #contenu_article div.articles #dates dl{margin-left:10px;}
div#content.agenda #contenu_page_rubrique #contenu_article div.articles #dates dl dt {font-size:1em; font-weight:bold; color:#BC004F; border-bottom: dotted 1px #BC004F; padding:4px 0px 3px 0px ; margin:10px 0;  }
div#content.agenda #contenu_page_rubrique #contenu_article div.articles #dates span.date{font-size:0.75em; font-weight:bold;color:#000000;background:url(bg_date.jpg) left top no-repeat;padding-left:12px; height:18px; width:61px; display:block; padding-top:2px; margin: 0 0 0 -5px }
div#content.agenda #contenu_page_rubrique #contenu_article div.articles #dates dl dd{margin:2px 0 4px; padding:0 0 8px;}
div#content.agenda #contenu_page_rubrique #contenu_article div.articles #dates dl dd a{color:#000000;font-size:0.75em;}
div#content.agenda #contenu_page_rubrique #contenu_article div.articles #dates dl dd a:hover{text-decoration:none; color: #bc004f;}

/*---------------------------------------------------------------------PAGE DOSSIER ---------------------------------------------------------------------*/

/*---------------------------------------------------------------------PAGE EMPLOI---------------------------------------------------------------------*/

div#content.municipale #contenu_page_rubrique #contenu_article div.articles dl#liste_offres{}
div#content.municipale #contenu_page_rubrique #contenu_article div.articles dl#liste_offres dt a{color:#058299; font-size:0.8em;background:url(puce_municipale.jpg) left 3px  no-repeat; padding-left:13px; }
div#content.municipale #contenu_page_rubrique #contenu_article div.articles dl#liste_offres dt a:hover{text-decoration:none;}

div#content.municipale #contenu_page_rubrique #contenu_article div.articles dl#liste_offres dd.ensavoirplus a,div#content.municipale #contenu_page_rubrique #contenu_article div.articles a.postuler { background:url(btn_action.jpg) top left no-repeat;color:#ffffff;font-size:0.75em; font-weight:bold; height:22px; width:96px; display:block;text-align:center;padding-top:3px;}
div#content.municipale #contenu_page_rubrique #contenu_article div.articles dl#liste_offres dd.ensavoirplus a:hover,div#content.municipale #contenu_page_rubrique #contenu_article div.articles a.postuler{ text-decoration:none;}

/* ------------------------------------------------------ Print and top ---------------------------------------------------------------*/

div#content #contenu_page_rubrique #services { display:none}

/* -------------------------------------------------------- Footer -----------------------------------------------------------------*/

div#footer{width:970px; height:112px; margin:20px 0px 10px 0px; float:left}
div#footer #logo_ville{float:left; margin:15px 15px 15px 25px; }
div#footer #infos {float:left; margin:32px 0 10px 0;}
div#footer #acces{ display:none}

div#footer #coordonnees p{font-size:0.7em;color:#66605a; padding-left:6px;  margin-bottom:3px;}
div#footer #coordonnees a{color:#bc004f; padding-left:5px; margin-left:7px;} 
div#footer #coordonnees a:hover{text-decoration:none; color: #0582bc; } 
div#footer #infos_legales p{font-size:0.7em;color:#66605a; padding-left:6px;  margin-bottom:3px;}
div#footer #infos_legales a{color:#bc004f;padding-left:5px; margin-left:7px;} 
div#footer #infos_legales a:hover{text-decoration:none; color: #0582bc;} 
div#footer #label_argent{float:right;margin:27px 29px 11px;}

/* ///////////////////////////////////////////////////// GESTION DES ROLL-OVER /////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////// GESTION DES STYLES ///////////////////////////////////////////////////// */

.txt {font-family: Arial, Helvetica, sans-serif;font-size: .7em;font-style: normal;font-weight: normal;color: #012537;}
.mentions {font-family: Arial, Helvetica, sans-serif;font-size: .8em;color: #666666;}

/* /////////////////////////////////////////////////////// GESTION DU FORMAIRE DE CONTACT ///////////////////////////////////////////////////// */

div#filtre {width:656px; float:left; margin-top:15px}
div#filtre form fieldset{ height:50px; border:dotted 1px #D5D4D2; padding:2px 5px 0; margin:0px 0 11px 11px; float:left ; }
div#filtre form fieldset legend { font-size:0.75em; font-weight: bold; color: #999999;border:none; margin:5px; padding-left:5px; padding-right:5px; background-color:#FFFFFF; display:block}
div#filtre form fieldset label{font-size: .75em; color:#BC004F ; margin:0px 5px 0px 5px; font-weight:bold}
div#filtre form fieldset select#filtre_mois, div#filtre form fieldset select#filtre_jour, div#filtre form fieldset select#filtre_mois, div#filtre form fieldset select#filtre_annee, div#filtre form fieldset select#filtre_themes{font-size:0.75em;color:#333333;border:1px solid #CCCCCC; padding:2px 5px 2px 5px; text-align:left; }
div#filtre form input[type=submit] {background:url(btn_filtrer.jpg) top left no-repeat;border:none transparent;color:#FFFFFF;display:block;height:18px; font-weight:bold; font-size: .75em;margin-top:28px; padding-bottom:2px; width:63px;float:right;}
div#filtre form input[type=submit]:hover {background:url(btn_filtrer.jpg) bottom left no-repeat;}

div.spip_forms{ float:left; color:#0F86BE;font-family:Arial, Helvetica, sans-serif;}
div.spip_forms fieldset {float:left; color:#000000; background:url(bg_form.jpg) top left no-repeat; width:649px;border:none; margin-bottom:9px;margin-top:11px;}
div.spip_forms legend{ margin-top:10px; margin-bottom:10px; font-size:1em; font-weight:bold; color:#0F86BE; }

div.spip_forms form label {float:left;width: 30%; text-align: right; padding:7px;color:#0F86BE; font-size:0.75em; font-weight:bold; }
div.spip_forms input.texte {float:none; width:33%; margin-top:5px; margin-bottom:5px; padding:2px; border:1px solid #C3D7DF; font-size:0.75em;color:#0F86BE;}
div.spip_forms input.texte_obligatoire {float:none;width:33%; margin-top:5px; margin-bottom:5px; border:1px solid #C3D7DF;color:#000000;font-size:0.75em; padding:2px; color:#0F86BE;}

div.spip_forms select.select_obligatoire{border:1px solid #C3D7DF;color:#0F86BE;float:left;font-size:0.75em;margin:3px 0 0;padding:2px;width:52%;}

div.spip_forms textarea.zone_texte_obligatoire,div.spip_forms textarea.zone_texte_obligatoirechamp_obli_oubli{float:none;height:60px; margin-top:10px; margin-bottom:2px; border:1px solid #C3D7DF ; width:50%;color:#0F86BE;font-family:Arial, Helvetica, sans-serif; font-size:0.75em;padding:5px}
div.spip_forms textarea.zone_texte{float:none;height:60px; margin-top:2px; margin-bottom:2px; border:#CCCCCC 1px solid; width:50%;color:#C3D7DF;font-family:Arial, Helvetica, sans-serif;font-size:0.75em; padding:5px}

div.spip_forms .spip_bouton input[type=submit]{ background:url(btn_action.jpg) top left no-repeat;border:none transparent;color:#FFFFFF;display:block;height:22px; float:right;font-weight:bold; width:96px; margin-right:20px;padding-bottom:3px; margin-top:-30px; font-size:0.8em;}
div.spip_forms .multiple label { font-weight: normal; float:none; }
span.nettoyeur { clear:both; float:left; }
span.details{float:left;  display:none; }
p.obligatoire{ font-weight:normal; font-size:0.75em;color:#0F86BE; }
div#content #contenu_page_rubrique #contenu_article div.articles p.obligatoire { margin-top:10px;font-weight:normal; font-size:0.75em;color:#0F86BE }
span.erreur{color:#033851; font-size:0.6em; float:none}

/* /////////////////////////////////////////////////////// GESTION DU FORMAIRE NEWSLETTER /////////////////////////////// */

/*div.formulaire_spip formulaire_inscription form.formulaire-spiplistes-abo fieldset{float:left; background:url(../images/bg_form.jpg) top left no-repeat; width:649px;border:#FFFFFF none; margin-bottom:9px;margin-top:11px;}*/
legend{ margin-top:10px; margin-bottom:10px; font-size:1em; font-weight:bold; color:#0F86BE; }
label {color:#0F86BE; font-size:0.75em;}
label.inscrip { padding:10px 0px 10px 10px; }
label.format {padding:10px 0px 10px 10px;}
ul li label{color:#0F86BE; font-size:0.95em; font-weight:bold; padding-left:8px; padding-bottom:3px}



/*div#content.meyzieu #contenu_page_rubrique #contenu_article div.articles ul li.liste{ background:none; margin-top:5px;}*/

input.texte {float:left; width:33%; margin-top:5px; margin-bottom:5px; padding:2px; border:1px solid #C3D7DF; font-size:0.75em;color:#0F86BE;}
input.texte_obligatoire {float:left;width:33%; margin-top:5px; margin-bottom:5px; border:1px solid #C3D7DF;color:#000000;font-size:0.75em; padding:2px; color:#0F86BE;}

div.action input[type=submit]{ background:transparent url(btn_action.jpg) no-repeat scroll left top;border:medium none transparent;color:#FFFFFF;display:block;float:left;font-size:0.8em;font-weight:bold;height:22px;margin-left:7px;margin-top:10px;padding-bottom:3px;width:96px;}
/* /////////////////////////////////////////////////////// GESTION DU PLAN DU SITE ///////////////////////////////////////////////////// */

div#content #contenu_article div.articles h3 a{color:#0582bc; font-size:1.25em }
div#content #contenu_article div.articles h3 a:hover{text-decoration:none;}
div#content #contenu_article div.articles ul.plan_site li{ background:none}
div#content #contenu_article div.articles ul.plan_site li a { font-size:1.1em;text-decoration:none !important; font-weight: bold}
div#content #contenu_article div.articles ul.plan_site li ul li a{color:#333333 !important; font-size:1.25em !important; font-weight:normal;}
div#content #contenu_article div.articles ul.plan_site li a:hover{}

div#content #contenu_article div.articles h3.meyzieu a, div#content #contenu_article div.articles ul.plan_site.meyzieu li a{color:#0582bc !important;}
div#content #contenu_article div.articles ul.plan_site.meyzieu li {background:url(puce_meyzieu.jpg) left 5px  no-repeat;}
div#content #contenu_article div.articles ul.plan_site.meyzieu li ul li a{background:none;}



div#content #contenu_article div.articles h3.municipale a, div#content #contenu_article div.articles ul.plan_site.municipale li a{color:#058299 !important;background:url(puce_municipale.jpg) left 5px  no-repeat;}
div#content #contenu_article div.articles h3.demarches a, div#content #contenu_article div.articles ul.plan_site.demarches li a{color:#8a979f !important; background:url(puce_demarches.jpg) left 5px  no-repeat;}
div#content #contenu_article div.articles h3.economie a, div#content #contenu_article div.articles ul.plan_site.economie li a{color:#f9b300 !important;}
div#content #contenu_article div.articles h3.solidarite a, div#content #contenu_article div.articles ul.plan_site.solidarite li a{color:#ed7900 !important;}
div#content #contenu_article div.articles h3.jeunesse a, div#content #contenu_article div.articles ul.plan_site.jeunesse li a{color:#fa549f !important;}
div#content #contenu_article div.articles h3.culture a, div#content #contenu_article div.articles ul.plan_site.culture li a{color:#933288 !important;}
div#content #contenu_article div.articles h3.loisirs a, div#content #contenu_article div.articles ul.plan_site.loisirs li a{color:#8cc400 !important;}

div#content div.rub_annexes{ margin-top:20px;}
div#content div.rub_annexes ul li a{ color:#0582bc; font-size:1em !important;color:#0582bc }
div#content div.rub_annexes ul li a:hover{ text-decoration:none; color:#333333;}
div#content div.rub_annexes ul li ul li a{ color:#333333; text-decoration:none;font-size:.9em !important;color:#0582bc }




div#tags ul li a.keyword_1 {font-weight:normal; color:#333333}
div#tags ul li a.keyword_2 {font-weight:bold; color:#333333}
div#tags ul li a.keyword_3 {font-weight:normal; color:#0582BC}
