/* -------------------------------------------
	Feuille de style general SPL
   ------------------------------------------- */

body #container #contenu_article #spl_wrapper #spl_conteneur {
	font-size: 1em;
	}
* html body #container #contenu_article #spl_wrapper #spl_conteneur {
	/*font-size: medium;*/
	font-size: 1em;
	height: 1%; /* IE display bug fix */
	}
* > html body #container #contenu_article #spl_wrapper #spl_conteneur {
	font-size: 1em;
	}

/* --- Reglages generiques ------------------- */
#spl_conteneur .spl_cadre div.spl_contenu { border-color:#FFFFFF;}

#container #contenu_article #spl_wrapper #spl_conteneur {
	clear: both;
	padding: 6px;
	font-weight: normal;
	font-style: normal;
	background: white;
	}
#container #contenu_article #spl_wrapper #spl_conteneur {
	font-family: arial,verdana,helvetica,sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	text-align: left;
	color: #333
	}
#container #contenu_article #spl_wrapper #spl_conteneur * {
	font-family: arial,verdana,helvetica,sans-serif;
	margin: 0;
	padding: 0;
	outline: none;
	font-size: 0.95em;
	text-align: left;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	text-indent: 0;
	letter-spacing: 0;
	}
#container #contenu_article #spl_wrapper #spl_conteneur div {
	margin: 0;
}
#container #contenu_article #spl_wrapper #spl_conteneur p {
	padding-bottom: 0.5em;
	0.9em;
	}
#container #contenu_article #spl_wrapper #spl_conteneur table {
	position: static;
	float: none;
}
#container #contenu_article #spl_wrapper #spl_conteneur em {
	font-style: normal;
	}
#container #contenu_article #spl_wrapper #spl_conteneur em.spl_small {
	font-size: 90%;
	font-weight: normal;
	}
#container #contenu_article #spl_wrapper #spl_conteneur strong {
	font-weight: bold;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_addresse {
	margin-bottom: 1em;
	font-style: normal;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_adresse p {
	margin: 0;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_clear {
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 0;
	line-height: 0;
	font-size: 1%;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_hidden{
	display: none;
	}

/* --- Liens --------------------------------- */

body #container #contenu_article #spl_wrapper #spl_conteneur a {
	display: inline;
	color: #000000;
	list-style-type: none;
	list-style-image: none;
	text-decoration: none;
	font-weight: bold;
	border: none;
	background-color: transparent;
	}
#container #contenu_article #spl_wrapper #spl_conteneur a:hover {
	text-decoration:none;
	background-color: transparent;
	color:#0582BC;
	
	}
#container #contenu_article #spl_wrapper #spl_conteneur a img {
	border:none;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_lien_externe {
	padding-left:16px;
	background:url(http://www.meyzieu.fr/images/spl-std-0604/spl_lien_externe.gif) no-repeat 0 4px;
}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_lienfort {
	display:block;
	margin-top:1em;
	font-weight: bold;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_pagetop {
	clear: both;
	width: 100%;
	margin: -2em 0 0.5em;
	text-align: right;
	font-size: 0.95em;
	display: none;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_aide {
	float: left;
	padding-left: 20px;
	background: url(http://www.meyzieu.fr/images/spl-std-0604/spl_aide.gif) no-repeat 0 50%;
	}
	
#container #contenu_article #spl_wrapper #spl_conteneur a.spl_aide  {
	font-size: 0.95em;
}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_comment {
	float: left;
	margin-right: 10px;
	padding-right: 20px;
	background: url(http://www.meyzieu.fr/images/spl-std-0604/spl_comment.gif) no-repeat 100% 0;

	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_print {
	padding: 0.2em 20px 0.2em 0;
	background: transparent url(http://www.meyzieu.fr/images/spl-std-0604/spl_print.gif) no-repeat 100% 0;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_close {
	padding: 0.2em 20px 0.2em 0;
}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_pagetop a {
	padding-left: 10px;
	background: url(http://www.meyzieu.fr/images/spl-std-0604/spl_haut_page.gif) no-repeat 0 50%;
	}

/* --- Titres -------------------------------- */

#container #contenu_article #spl_wrapper #spl_conteneur h1,

#container #contenu_article #spl_wrapper #spl_conteneur h3,
#container #contenu_article #spl_wrapper #spl_conteneur h4 {
	margin-top: 0;
	width: auto;
	height: auto;
	line-height: 1em;
	}
#container #contenu_article #spl_wrapper #spl_conteneur h2 {
	font-size: 1.3em;
	padding-top: 0;
	padding-bottom: 6px;
}
#container #contenu_article #spl_wrapper #spl_conteneur h1,

#container #contenu_article #spl_wrapper #spl_conteneur h3,
#container #contenu_article #spl_wrapper #spl_conteneur h4 {
	display: block;
	float: none;
	padding: 0;
	margin: 0;
	font-weight: bold;
	line-height: 1em;
	background: none;
	}
#container #contenu_article #spl_wrapper #spl_conteneur h1 {
	/* TD210606 position: relative;*/
	font-size: 117%;
	}
#container #contenu_article #spl_wrapper #spl_conteneur h2 {

	/* TD210606 position: relative;*/
	top:0;
	padding:0 0 6px;
	border-bottom: 0;
	}
#container #contenu_article #spl_wrapper #container #contenu_article #spl_wrapper #spl_conteneur h3 { font-size:1.1em;}
#container #contenu_article #spl_wrapper #spl_conteneur h4 {
color:#0582BC;
font-size:1em;
margin:10px 0px 10px 0px;
padding-left:10px;
font-weight:bold;


	}
#container #contenu_article #spl_wrapper #spl_conteneur h5 {
	padding-top: 0.5em;
	font-size: 100%;
	}
#container #contenu_article #spl_wrapper #spl_conteneur h2.page_title{
	padding: 0 0 1em 7px;
	font-size: 150%;
	font-weight: normal;
	background: transparent;
	}
#spl_conteneur .spl_titre_doc,
#container #contenu_article #spl_wrapper #spl_conteneur .spl_titre_info,
#container #contenu_article #spl_wrapper #spl_conteneur .spl_titre_lieu,
#container #contenu_article #spl_wrapper #spl_conteneur .spl_titre_plus,
#container #contenu_article #spl_wrapper #spl_conteneur .spl_titre_rech {
	
	background-repeat: no-repeat;
	background-position: 8px 0;
	display:none;
	}
#container #contenu_article #spl_wrapper #container #contenu_article #spl_wrapper #spl_conteneur .spl_titre_info {
	background-image: url(http://www.meyzieu.fr/images/spl-std-0604/spl_info.gif);
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_titre_lieu {
	background-image: url(http://www.meyzieu.fr/images/spl-std-0604/spl_lieu.gif);
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_titre_plus {
	background-image: url(http://www.meyzieu.fr/images/spl-std-0604/spl_plus.gif);
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_titre_rech{
	background-image: url(http://www.meyzieu.fr/images/spl-std-0604/spl_rech.gif);
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_titre_doc {
	background-image: url(http://www.meyzieu.fr/images/spl-std-0604/spl_doc.gif);
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_titre_loc {
	float: left;
	width: 48%;
	font-size: inherit;
	font-weight: bold;
	}
* html #container #contenu_article #spl_wrapper #spl_conteneur .spl_titre_loc {
	float: none;
  display: inline-block;
	/*position: relative;*/
	width: 49%;
	}
	
#container #contenu_article #spl_wrapper #spl_conteneur #spl_ancre_tout_savoir .spl_titre_info h2.spl_titre_main{
border-bottom:1px dotted #0582BC !important;
color:#0582BC !important;
padding:0px 0px 6px 0px !important;
font-size:1.1em;
background:none;
}	
	
#container #contenu_article #spl_wrapper #spl_conteneur h3.spl_titre_main,
#container #contenu_article #spl_wrapper #spl_conteneur h3.spl_titre_form,
#container #contenu_article #spl_wrapper #spl_conteneur h3.spl_titre_phone {
border-bottom:1px dotted #0582BC;
color:#0582BC;
	}
#container #contenu_article #spl_wrapper #spl_conteneur h3.spl_titre_main,
#container #contenu_article #spl_wrapper #spl_conteneur h3.spl_titre_form,
#container #contenu_article #spl_wrapper #spl_conteneur h3.spl_titre_phone {
border-bottom:1px dotted #0582BC !important;
color:#0582BC !important;
padding:0px 0px 6px 0px !important;
font-size:1.1em;}

#container #contenu_article #spl_wrapper #spl_conteneur .spl_cadre .spl_titre_fiche {
    padding:5px 0px 6px 0px;
	margin:5px 0px 5px 0px;
	border-bottom:1px dotted #8A979F !important;
	color: #0582BC;
	font-size:1.05em;
	

	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_cadre .spl_titre_chapitre,
#container #contenu_article #spl_wrapper #spl_conteneur .spl_cadre .spl_titre_sous_chapitre{
	}
#container #contenu_article #spl_wrapper #container #contenu_article #spl_wrapper #spl_conteneur .spl_cadre .spl_contenu h3,
#container #contenu_article #spl_wrapper #container #contenu_article #spl_wrapper #spl_conteneur .spl_cadre .spl_contenu h4 {
color:#0582BC;
font-size:1.6em;
font-weight:normal;
margin-top:1em;
	}
	

	
	
/* --- Fenetre d'aide ------------------------ */

#container #contenu_article #spl_wrapper #spl_aide_en_ligne em {
	font-style: italic;
	}
#container #contenu_article #spl_wrapper #spl_aide_en_ligne .gui_element {
	padding: 0 6px;
	font-weight: bold;
	border: 1px solid #999;
	background: #d8d8d8;
	}
#container #contenu_article #spl_wrapper #spl_aide_en_ligne .spl_exemple {
	margin-top: -0.5em;
	padding-left: 2em;
	}
#container #contenu_article #spl_wrapper #spl_aide_en_ligne .spl_exemple em {
	font-style:normal;
	color: black;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_fermer_aide {
	margin:1em auto;
	width: auto;
	text-align: center;
	}



/* --- Entete de page ------------------------ */

#container #contenu_article #spl_wrapper #spl_conteneur #spl_entete {
	margin-bottom: 0.5em;
	padding-left: 60px;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	font-size: 150%;
	font-family: Arial,Helvetica,sans-serif;
	color: #404040;
	background: url(http://www.meyzieu.fr/images/spl-std-0604/big_main.gif) no-repeat;
}

/* --- Breadcrumb ---------------------------- */

#container #contenu_article #spl_wrapper #spl_conteneur #spl_breadcrumb {
	clear: both;
	width: 100%;
	/*padding-bottom: 1em;
	font-size: 90%;*/
	text-align:left;
	display:visible;
	color:#8A979F;
	font-size:1.1em;
	font-weight:bold;
	padding:16px 5px 10px 36px;
	background:transparent url(ico_demarches.jpg) no-repeat scroll left top;	
}


#container #contenu_article #spl_wrapper #spl_conteneur #spl_breadcrumb a{
	color:#8A979F;
	font-size:1em;
}

/* --- Pied de page -------------------------- */

#container #contenu_article #spl_wrapper #spl_conteneur #spl_piedpage {
	padding: 4px 1em 0;
	line-height: 1.5em;
	background-color: #F1F5FF;
	display:none;
	}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_piedpage ul {
	float:right;
	}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_piedpage li {
	display:inline;
	line-height:2em;
	}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_piedpage_gauche {
	float:left;
}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_piedpage_droit {
	float:right;
}

/* --- Sommaire ----------------------------- */

#container #contenu_article #spl_wrapper #spl_conteneur #spl_sommaire .spl_titre_sommaire {
	background-color: transparent;
		display:none;
	}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_sommaire .spl_sommaire_gauche,
#container #contenu_article #spl_wrapper #spl_conteneur #spl_sommaire .spl_sommaire_droit {
	display:none;
	float: left;
	width: auto;
	margin: 0 2em 2em 0;
	padding: 0 0 0 2em;
	border: 0;
	}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_sommaire li {
	margin: 0;
	padding: 0;
	line-height:1.5em;
	list-style-type: none;
	list-style-image: none;
	display:none;
	}

/* --- Colonnes ------------------------------ */

#container #contenu_article #spl_wrapper #spl_conteneur .spl_colonne_gauche,
#container #contenu_article #spl_wrapper #spl_conteneur .spl_colonne_droite {
	width: 48%;
	font-size:100%;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_colonne_gauche {
	float: left;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_colonne_droite {
	float: right;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_accueil_gauche {
	float: left;
	width: 66%;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_accueil_droite {
	float: right;
	width: 33%;
	}
/* --- Onglets ------------------------------- */

#container #contenu_article #spl_wrapper #spl_conteneur #spl_onglets {
	height: auto;
	border-bottom: 1px solid;
	}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_onglets .spl_onglet {
	width: 49%;
	overflow: hidden;
	}
* html #container #contenu_article #spl_wrapper #spl_conteneur #spl_onglets .spl_onglet {
	width:48%;
  border-top: 1px solid;
}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_onglet_gauche {
	float: left;
	}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_onglet_droit {
	float: right;
	}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_onglets .spl_onglet h2 {
  border: 1px solid;
  border-top: 0;
  border-bottom: 0;
  background-position: 8px 40%;
	}
#container #contenu_article #spl_wrapper #spl_onglets .spl_onglet h2 {
	height:2.2em;
  line-height: 2.2em;
	overflow:hidden;
	}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_onglets div.spl_onglet h2 a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	}
body #container #contenu_article #spl_wrapper #spl_conteneur div.spl_actif h2 a {
	color: #333;
	}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_onglets div.spl_onglet h2 a:hover {
	text-decoration: none;
	}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_onglets .spl_actif {
	background-color: white;
  margin-bottom: -1px;
  padding-bottom: 1px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_onglets .spl_actif h2 {
	background-color: white;
	}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_onglets .spl_actif .ar {
	background-color: white;
	}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_onglets .spl_actif .ah {
	background-color: white;
	}
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_contenu_onglet {
	margin-bottom: 2em;
	clear: both;
	padding: 1em;
	border: 1px solid;
	border-top:0;
	}

/* --- Cadres -------------------------------- */

#container #contenu_article #spl_wrapper #spl_conteneur .spl_cadre {
	width:100%;
	margin: 0 0 2em;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_cadre .spl_contenu {
	clear: both;
	padding: 0.5em 8px 0;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_cadre .spl_contenu_gauche {
	float: left;
	width: 49%;
	margin-bottom:10px;

	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_cadre .spl_contenu_droit {
	float: left;
	width: 48%;
	margin-left: -1px;
	padding-left: 2%;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_fort,
#container #contenu_article #spl_wrapper #spl_conteneur .spl_fort .spl_contenu {
border-color:#FFFFFF;
	
	}

/* --- Source d'information ------------------------- */

#container #contenu_article #spl_wrapper #spl_conteneur .spl_source {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border: 0;
	background: transparent;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_source img {
	padding-left: 0.5em;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_source * {
	margin: 0;
	padding: 0;
	border: 0;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_signature {
	padding: 1em 0 0.5em;
	border: 0;
	background: transparent;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_signature p {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 11px;
	line-height: 0.7em;
	color:#999999;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_signature p strong {font-weight: normal;}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_signature_nationale {
	font-weight: bold;
	font-style: normal;
	}
#container #contenu_article #spl_wrapper #spl_conteneur hr {
	clear: both;
	width: auto;
	margin: 0.5em 0 0;
	height: 1px;
	border-width: 1px 0 0 0;

	}
*+html #container #contenu_article #spl_wrapper #spl_conteneur hr {
	width: 100%;
	}
	
/* --- Listes ------------------------------- */

#container #contenu_article #spl_wrapper #spl_conteneur ul {
	list-style-type: none;
	list-style-image: none;
	background:transparent;
	margin: 10px 0px 0px 0px;
	padding: 0;
	}
#container #contenu_article #spl_wrapper #spl_conteneur ul li {
	width:auto;
	height:auto;
	background:none;
	margin: 0;
	padding-bottom: 0.5em;
	padding-left:6px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur ul li p {
	padding: 0;
}
#container #contenu_article #spl_wrapper #spl_conteneur ul ul {
	padding-top: 0.5em;
	list-style-type: none;
	}
#container #contenu_article #spl_wrapper #spl_conteneur ul.spl_liste {
	margin-left: 2em;
	}
#container #contenu_article #spl_wrapper #spl_conteneur ul.spl_liste li {
	list-style-type: square;
	background:none;
	}
#container #contenu_article #spl_wrapper #spl_conteneur ul.spl_liste li p {
	display: inline;
	}
#container #contenu_article #spl_wrapper #spl_conteneur ul.spl_liste ul li {
	list-style-type: disc;
	}

/* --- Liste dépliante ----------------------- */

#container #contenu_article #spl_wrapper #spl_conteneur .spl_toggler {
	padding-left: 14px;
	background-repeat: no-repeat;
	background-position: 0 0.4em;
	}
#container #contenu_article #spl_wrapper #spl_conteneur p.spl_open {
	background-image: url(http://www.meyzieu.fr/images/spl-std-0604/spl_ouvert.gif);
	}
#container #contenu_article #spl_wrapper #spl_conteneur p.spl_closed {
	background-image: url(http://www.meyzieu.fr/images/spl-std-0604/spl_ferme.gif);
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_block {
	padding-left: 14px;
	padding-bottom: 1em;
}

/* --- Formulaires --------------------------- */

#container #contenu_article #spl_wrapper #spl_conteneur form {
	background-color: white;
	}
#container #contenu_article #spl_wrapper #spl_conteneur fieldset {
	border: 0;
	}
#container #contenu_article #spl_wrapper #spl_conteneur legend, #spl_conteneur label, #spl_conteneur .spl_contenu label {
	display: none;
	}
#container #contenu_article #spl_wrapper #spl_conteneur input, #spl_conteneur select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #333;
	}
#container #contenu_article #spl_wrapper #spl_conteneur input.spl_submit {
	margin-left: 0.3em;
	padding: 0;
	text-align: center;
	cursor: pointer;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_champ_saisie {
	padding: 2px;
	background: white;
	border: 1px solid #999;
	}
#container #contenu_article #spl_wrapper #spl_conteneur #listeCommune, #spl_conteneur #spl_listeCommune {
	padding: 0;
	}
#container #contenu_article #spl_wrapper #spl_conteneur #search, #spl_conteneur #listeCommune, #spl_conteneur #spl_search, #spl_conteneur #spl_listeCommune {
	width:75%;
	}
#container #contenu_article #spl_wrapper #spl_conteneur #codePostal, #spl_conteneur #spl_codePostal {
	width:5em;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_hints {
	margin: 0;
	padding: 0 0 0.5em;
	font-size: 90%;
	}
#container #contenu_article #spl_wrapper #spl_conteneur p.spl_erreur {
	font-size: 90%;
	font-weight: bold;
	color: #900;
	}
	
/* --- Flash information ---------------------- */

#container #contenu_article #spl_wrapper #spl_conteneur .spl_flash {
	padding: 1em 1em 0;
	margin-bottom: 1.5em;
	background: none;
	border: 2px dotted #0582BC;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_flash p {
	text-align: justify;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_flash h2 {
	padding: 0 0 1em 20px; font-weight:bold; background:none
	
	}

/* ---Tableaux -------------------------------- */

#container #contenu_article #spl_wrapper #spl_conteneur .spl_tableau {
	border-collapse: collapse;
}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_tableau td {
	padding: 0.25em 0.5em;
	text-align: center;
	border:1px solid #ccc;
}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_tableau td p {
	padding:0;
	text-align: center;
}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_tableau td.spl_montant {
	text-align: right;
}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_tableau td.spl_montant p {
	text-align: right;
}

/* --- Actualites DF -------------------------- */

#container #contenu_article #spl_wrapper #spl_conteneur .spl_news_more {
	padding-left: 16px;
	font-weight: normal;
	background: url(http://www.meyzieu.fr/images/spl-std-0604/spl_lien_externe.gif) no-repeat 0 50%;
	}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_news_list_title {
	padding-left: 36px;
	background: url(http://www.meyzieu.fr/images/spl-std-0604/spl_actu.gif) no-repeat 0 50%;
	}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_news_list_title .spl_news_more {
	font-size: 12px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_news_list {
	margin: 0;
	padding: 6px 0 0 0;
	list-style: none;
	line-height: 1.2em;
}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_news_title {
	display: block;
	padding-left: 12px;
	font-weight: bold;
	color: #333;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_news_title span {
	display: block;
	float: left;
	width: 9px;
	margin-left: -6px; /* IE6 wrongly doubles float margin width */
	text-indent: -700em;
	background: url(http://www.meyzieu.fr/images/spl-std-0604/spl_expando.gif) no-repeat 0 50%;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_news_title > span {
	margin-left: -12px; /* Modern browsers */
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_news_title em {
	color: #999;
	font-size: 91%;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_news_content {
	display: none;
	margin: 0.5em 0 0.5em 12px;
	color: #484848;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_news_expanded .spl_news_title span {
	background-position: 100% 50%;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_news_expanded .spl_news_content {
	display: block;
	}

/* --- Divers --------------------------------- */

#container #contenu_article #spl_wrapper #spl_conteneur .spl_centre * {
	vertical-align: middle;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_indent {
	padding-left: 2em;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_logo_cerfa {
	padding-right: 34px;
	/*white-space: nowrap;*/
	background: url(http://www.meyzieu.fr/images/spl-std-0604/logoCerfa.gif) no-repeat 100% 50%;
	zoom: 1;
	}
#container #contenu_article #spl_wrapper #spl_conteneur span.spl_maigre {
	display:inline;
	font-weight: normal;
	color: #0582BC;
	background:transparent;
	font-size:1em;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_pagination {
	margin: 0.5em 0;
}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_accessibilite {
	margin-top: 1em;
}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_accessibilite span {
	padding-left: 17px;
	background: url(http://www.meyzieu.fr/images/spl-std-0604/spl_accessibilite.gif) no-repeat 0 50%;
}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_marge_bas {
	padding-bottom: 0.75em;
	}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_short_br {
	margin: 0;
	padding: 0;
	font-size: 0.5em;
	line-height: 1em;
	text-indent: -9999px;
	}






/* -------------------------------------------
	Feuille de style rond SPL
   ------------------------------------------- */






#container #contenu_article #spl_wrapper #spl_conteneur div#spl_contenu_gauche {
	float:left;
	width:66%;
	}
#container #contenu_article #spl_wrapper #spl_conteneur div#spl_contenu_droit {
	float:right;
	width:33%;
	}
#container #contenu_article #spl_wrapper #spl_conteneur span.ar,
#container #contenu_article #spl_wrapper #spl_conteneur span.ah,
#container #contenu_article #spl_wrapper #spl_conteneur span.at {
	display: none;
	margin: 0;
	padding: 0;
	height: 1px;
	line-height: 1px;
	font-size: 1%;
	overflow: hidden;
	border-left: 1px solid;
	border-right: 1px solid;
	}
#container #contenu_article #spl_wrapper #spl_conteneur span.ar1 {
	margin:0 6px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur span.ar2 {
	margin: 0 4px;
	border-width: 2px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur span.ar3 {
	margin: 0 3px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur span.ar4 {
	margin: 0 2px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur span.ar5 {
	margin: 0 1px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur span.ar6 {
	margin: 0 1px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_fort span.ar2 {
	margin: 0 4px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_fort span.ar3 {
	margin: 0 3px;
	border-width: 4px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_fort span.ar4 {
	margin: 0 2px;
	border-width: 3px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_fort span.ar5 {
	margin: 0 1px;
	border-width: 3px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_fort span.ar6 {
	margin: 0 1px;
	border-width: 2px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_fort span.ar7 {
	border-width: 3px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur span.at1 {
	border-width: 2px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur span.at2 {
	border-width: 2px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur span.at3 {
	border-width: 3px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur span.at4 {
	border-width: 6px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_fort span.at1 {
	border-width: 3px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_fort span.at2 {
	border-width: 3px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_fort span.at3 {
	border-width: 4px;
	}
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_fort span.at4 {
	border-width: 7px;
	}


/* -------------------------------------------
	Feuille de style color SPL
   ------------------------------------------- */
#spl_conteneur div.spl_fort div.spl_contenu{border-color:#FFFFFF;}

#container #contenu_article #spl_wrapper{ background:none !important; border:none !important;}

#container #contenu_article #spl_wrapper #spl_conteneur h2{color:#0582BC;}
#container #contenu_article #spl_wrapper #spl_conteneur h3, #container #contenu_article #spl_wrapper #spl_conteneur ul li h3#container #contenu_article #spl_wrapper #spl_conteneur em{
padding:5px 0px 6px 0px;
margin:5px 0px 5px 0px;
border-bottom:1px dotted #8A979F !important;
color: #0582BC;
font-size:1.05em;
border-color:#4974F2}

#container #contenu_article #spl_wrapper #spl_conteneur h5,#container #contenu_article #spl_wrapper #spl_conteneur .spl_source p, #container #contenu_article #spl_wrapper #spl_conteneur .spl_signature_nationale, #container #contenu_article #spl_wrapper #spl_conteneur div.spl_pied2{color:#66605A; font-weight:normal;}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_cadre .spl_contenu_gauche,#container #contenu_article #spl_wrapper #spl_conteneur .spl_cadre .spl_contenu_droit,#container #contenu_article #spl_wrapper #spl_conteneur div.spl_pied{}
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_pagination{background-color:#F1F5FF}
#container #contenu_article #spl_wrapper #spl_conteneur hr{}

#container #contenu_article #spl_wrapper #spl_conteneur div.spl_cadre{}
#container #contenu_article #spl_wrapper #spl_conteneur .spl_cadre div.spl_contenu{ border: 1px dotted #8A979F; background-color:#FFFFFFF;  }
#container #contenu_article #spl_wrapper #spl_conteneur span.ar,#container #contenu_article #spl_wrapper #spl_conteneur span.at{}
#container #contenu_article #spl_wrapper #spl_conteneur span.ah{}
#container #contenu_article #spl_wrapper #spl_conteneur span.ar1{}

#container #contenu_article #spl_wrapper #spl_conteneur div.spl_fort{border-color:#8A979F}
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_fort div.spl_contenu{ border: 1px dotted #8A979F }
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_fort h2{ display: none;color:#0582BC; border-bottom:1px dotted #0582BC;}
/*#container #contenu_article #spl_wrapper #spl_conteneur div.spl_fort span.ar{background-color:#F1F5FF;border-color:#8A979F}
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_fort span.ar1,#container #contenu_article #spl_wrapper #spl_conteneur div.spl_fort span.ar2{background-color:#8A979F}
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_fort span.ah{background-color:#8A979F;border-color:#8A979F}
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_fort span.at{background-color:#F1F5FF;border-color:#8A979F}*/

#container #contenu_article #spl_wrapper #spl_conteneur div#spl_onglets{}
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_onglet h2{color:#333;background-color:#F1F5FF; }
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_onglet h2 a {color: #669}
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_onglet{border-color:#F1F5FF}
/*#container #contenu_article #spl_wrapper #spl_conteneur div.spl_onglet span.ar{background-color:#F1F5FF;border-color:#C4D3FF}
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_onglet span.ah{background-color:#F1F5FF;border-color:#C4D3FF}
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_onglet span.ar1{background-color:#C4D3FF}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_onglets .spl_actif span.ar{border-color:#C4D3FF}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_onglets .spl_actif span.ah{border-color:#C4D3FF}
#container #contenu_article #spl_wrapper #spl_conteneur #spl_onglets .spl_actif span.ar1{background-color:#C4D3FF}*/
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_section{}
#container #contenu_article #spl_wrapper #spl_conteneur div.spl_contenu_onglet{}

#container #contenu_article #spl_wrapper #spl_conteneur #spl_piedpage{display:none;}





#container #contenu_article #spl_wrapper #spl_conteneur #divspl_ancre_faq{ border:hidden; background:#EFEFEF; color:#BC004F }