/* Layout
-------------------------------------------------------------- */
#content{ background-position: 490px top; }
#content-main,
#content-sub1{
	float: left;
	padding-top: 15px;
}
#content-main{
	width: 490px;
	padding-bottom: 15px;
}
#content-sub2{
	overflow: hidden;
	float: right;
	width: 208px;
	padding-top: 15px;
}

/* Highlight
-------------------------------------------------------------- */
#highlight{
	height: 357px;
	overflow: hidden;
	background: #222;
	border-bottom: 1px solid #111;
}
#highlight h2{ text-transform: uppercase; }
#highlight ul{
	margin: 0;
	list-style: none;
}
#highlight a{
	text-decoration: none;
	color: #FFF;
}

/* top story */
#top-story .base{
	float: left;
	width: 615px;
	height: 357px;
	overflow: hidden;
}
#top-story .base img{
	display: block;
	width: 615px;
	height: 357px;
}
#top-story div{
	float: right;
	padding: 1.8em;
	width: 330px;
}
#top-story .infos2{ color: #666; }
#top-story h2{
	line-height: 1.1;
	font-size: 2em;
	font-family: Helvetica, Arial, sans-serif;
}
#top-story p strong{
	display: block;
	margin: 30px 0 -10px;
	color: #FFF;
}
#top-story ul h2{
	font-size: 1em;
	line-height: 1.4;
	margin-left: 30px;
	font-weight: normal;
	text-transform: none;
}
#top-story ul h2 a{ color: #999; }
#top-story li{ padding-bottom: 0; }
#top-story p em{
	display: block;
	padding-top: 1em;
	color: #666;
	font: normal .83em/1em verdana, sans-serif;
}
#top-story h2 span{ display: none; }
#top-story .base .picto{
	width: 100px;
	height: 78px;
	right: 50%;
	bottom: 50%;
	margin-right: -50px;
	margin-bottom: -39px;
}
#top-story .base .p-photo	{ background-position: -100px -95px; }
#top-story .base .p-video	{ background-position: -200px -95px; }
#top-story .base .alpha{
	filter : alpha(opacity=20);
    -moz-opacity : 0.2;
    opacity : 0.2;
}

/* Flash Match && london-live
-------------------------------------------------------------- */
#london-live,
#flash-match{
	padding-bottom: 1em;
	border-bottom: 1px solid #CCC;
}
#london-live .more,
#flash-match .more{ clear: none; }
#london-live{
	background:url(london.png) right bottom no-repeat;
	margin-bottom:2em;
	}
#london-live .fil a em{
	color:#777;
	font-family:'times', 'times new roman', serif;
	font-size:1.1em;
	}
#london-live .ticker-pagine li{ background-position:-167px top; }
#london-live .ticker-pagine .ticker-prev{ background-position:-172px top; }
#london-live .subtitle{
	padding-left:15px;
	color:#777;
	font-weight:bold;
	font-family:'times', 'times new roman', serif;
	font-style:italic;
	text-transform:uppercase;
	float:left;
	display:block;
	margin-top:-2px;
	}

/* Headlines
-------------------------------------------------------------- */
.headlines{
	clear: both;
	padding: 0 7px 15px;
}
.headline{
	float: left;
	width: 222px;
	padding: 0 8px;
	margin-bottom: 0;
	border:0;
}
/*.headline h3{ margin-bottom: 1em; }*/
.headline .base{
	float: none;
	margin-right: 0;
	margin-bottom: 1em;
}
.headline .infos1,
.headline .infos{
	display: none;
}
.headlines{ zoom:1 }
.headline p{ margin:0 0 15px; }

/* Ticker
-------------------------------------------------------------- */
.ticker{
	position: relative;
	overflow: hidden;
	height: 63px;
	padding: 2px 0;
	margin-bottom: 1em;
}
.ticker-mover{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	/**/width: 1000px;
}
.ticker li{
	float: left;
	padding: 0;
	/**/width: 163px;
}
.ticker li div{
	height: 65px;
	padding: 0 5px 0 15px;
	border-right: 1px solid #CCC;
}
.ticker li .special{
	border-right: 0;
}
.ticker-pagine{
	float: right;
	margin: 0 1em 0 .25em;
	list-style: none;
}
.ticker-pagine li{
	float: left;
	width: 6px;
	height: 11px;
	margin: 0 2px;
	text-indent: -999em;
	line-height: 1;
	font-size: 1%;
	cursor: pointer;
	background: url(sprite.png) -155px top no-repeat;
}
.ticker-pagine .ticker-prev{ background-position: -161px top; }
.ticker-pagine .off{ visibility: hidden; }

/* Frontpage IE fix
-------------------------------------------------------------- */
* html #content-main *{ zoom: 1; }
*+html #content-main *{ zoom: 1; }
* html #top-story li{ zoom: 1; }
*+html #top-story li{ zoom: 1; }
*+html #top-story { zoom: 1; }


/*
* html #overall #logo a{
	display: block;
	width: 198px;
	height: 152px;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/includes/cobrand/img/logo-haiti.png"', sizingMethod="crop");
	background-image:none;
	cursor:pointer;
}
*/