body {
  line-height: 1.5;
  font-family: Times, "Helvetica Neue", Arial, Helvetica, sans-serif;   
  color:#000;
  background: none;
  font-size: 10pt;
}


/* Layout
-------------------------------------------------------------- */
#branding,
#navigation,
#club-access,
#site-info,
#content-sub1,
#services,
#article-related,
.toolbar,
#article-photo,
#sub-nav,
body > ul:first-child{
	display: none;
}
.container {
  background: none;
}

hr { 
  background:#ccc; 
  color:#ccc;
  width:100%;
  height:2px;
  margin:2em 0;
  padding:0;
  border:none;
}
hr.space {
  background: #fff;
  color: #fff;
}

/* Article
-------------------------------------------------------------- */
#article-head h1{ font-size: 15px; }
#article-head{ padding: 0; }
#article-body{ padding-top: 15px; }

/* Text
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif; }
code { font:.9em "Courier New", Monaco, Courier, monospace; } 

img { float:left; margin:1.5em 1.5em 1.5em 0; }
a img { border:none; }
p img.top { margin-top: 0; }

blockquote {
  margin:1.5em;
  padding:1em;
  font-style:italic;
  font-size:.9em;
}

.small  { font-size: .9em; }
.large  { font-size: 1.1em; }
.quiet  { color: #999; }
.hide   { display:none; }


/* Links
-------------------------------------------------------------- */

a:link, a:visited {
  background: transparent;
  font-weight:700;
  text-decoration: underline;
}

a:link:after, a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 90%;
}