#agriSalon .aLienLogo {
	display: block;
	margin: 6px 0 0;
	text-align: center;
}
#agriSalon a.lienArtAgri:link, #agriSalon a.lienArtAgri:visited, #agriSalonDossiers a.lienListe:link, #agriSalonDossiers a.lienListe:visited {
	border-bottom: 1px dotted #8c8c8c;
	color: #333;
	display: block;
	font-size: 10px;
	font-weight: normal;
	padding: 4px 3px;
	text-decoration: none;
}
#agriSalon a.lienArtAgri:hover strong, #agriSalonDossiers a.lienListe:hover {
	color: #666;
	text-decoration: underline;
}
#agriSalon a.lienArtAgri em {
	color: #407fcb;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
}
#agriSalon a.lienArtAgri em span {
	font-size: 10px;
	font-weight: normal;
}
#agriSalon a.lienArtAgri strong, #agriSalonDossiers a.lienListe strong {
	font-size: 11px;
}
#agriSalon h3, #agriSalonCours h3 {
	color: #407fcb;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	margin: 0;
}
#agriSalonCours .aLienCours {
	float: right;
	margin: 0 0 0 5px;
}
#agriSalonCours .cours {
	margin: 8px 0;
}