
/* Début résultat élections tableau */

.europeennes {
  border-bottom:1px solid #E3E3E3;
  margin-bottom:15px;
  overflow:none;
  padding:0 0 15px;
  text-decoration:none;
}
.europeennes .resultatEuropeenees1 {
  padding-bottom:0 0 15px 0;
}
.europeennes .resultatEuropeenees2 {
  padding-bottom:0 0 15px 0;;
}
.europeennes td.cellTitre {
  background-color:#f3f5fa;
  font-size:12px;
  font-weight:bold;
  padding-left:10px;
  height:25px;
}
.europeennes td.cellTitre2 {
  background-color:#f3f5fa;
  font-size:12px;
  font-weight:bold;
  padding-left:10px;
  height:25px;
  text-align:center;
}
.europeennes td.cellule {
  background-color:white;
  text-align:center;
  font-size:12px;
  width:25%;
}
.europeennes td.cellVide {
  background-color:white;
  border:0;
}
.europeennes td.cellule2 {
  background-color:white;
  text-align:left;
  font-size:12px;
  padding:5px 10px 5px 10px;
}
.europeennes td.cellule3 {
  background-color:white;
  text-align:center;
  font-size:12px;
  padding:5px 10px 5px 10px;
  width:18%;
}
.europeennes .page span {
	color:#333;
	font-family:tahoma,arial;
	font-size:22px;
	font-weight:bold;
	margin:0 0 4px;
	padding:0 0 0 0;
}

/* Fin résultat élections tableau*/

/* Début carte 3 regions */

.resultats3Regions .resultatsRegions {
	background:none repeat scroll 0 0 #0669b2;
	color:#FFF;
	font-size: 12px;
	font-weight: bold;
	margin:0;
	padding: 5px 15px;
}

.resultats3Regions .carteResultats {
	margin:0 0 10px 0;
	border-left: 1px solid #0669b2;
	border-right: 1px solid #0669b2;
	border-bottom: 1px solid #0669b2;
}

/* Fin carte 3 regions */














/* ###################################################################################*/
/* ####           REPRIS DE BASE.CSS, MENU.CSS, TETIERE.CSS, ACTU.CSS              ###*/
/* ###################################################################################*/








body {
	background: url('fd_Body.png') repeat-y center top;
	font-family: arial, DejaVu Sans Condensed, sans-serif;
	margin: 0;
	padding: 0;
}
img {
	border: none;
}
#page {
}
#contour {
	left: 0;
	margin: 0 auto 0px;
	overflow: auto;
	padding: 0;
	position: relative;
	top: 0;
	width: 1000px;
}
#conteneur {
	background: url('fd_Conteneur.gif') repeat-y;
	_height: 1%;
	overflow: auto;
	padding: 0 0 0 10px;
	_padding: 0 0 0 7px;
	position: relative;
	left: 0;
	top: 0;
	width: 990px;
}
#megaColGColC {
	float: left;
	overflow: hidden;
	width: 812px;
}
#pubMega {
	padding: 14px 0 0 32px;
	position: relative;
	left: 0;
	top: 0;
	width: 772px;
	z-index: 50;
}
#colCentre #pubPosition2, #colCentre #pubPosition3, #colCentre #pubLeft1, #colCentre #pubLeft2 {
	border: none;
	text-align: center;
}
#pubTop {
	margin: 0 0 14px;
}
#colGauche {
	float: left;
	margin: 0 20px 0 0;
	_margin: 0 17px 0 0;
	padding: 14px 0 0;
	width: 472px;
}
#colGauche .bloc .article .sslien, #colCentre .bloc .article .sslien {
	color: #141414;
	display: block;
	font-size: 11px;
	_height: 1%;
	overflow: auto;
	text-decoration: none;
}
#colCentre .bloc .article .sslien img {
	float: right;
	margin: 0 0 0 20px;
	width: 125px;
}
#colCentre .bloc .article .sslien strong {
	color: #333;
	display: block;
	font-size: 16px;
	font-weight: bold;
	line-height: 23px;
	padding: 0;
	text-decoration: none;
}
h1.page, h1.pageActuTtr {
	border-bottom: 1px solid #698fd7;
	color: #ed1c24;
	font-size: 19px;
	font-weight: bold;
	margin: 0 0 10px;
	padding: 0;
	text-transform: uppercase;
}
#colCentre {
	float: left;
	margin: 0 20px 0 0;
	padding: 14px 0 0;
	width: 300px;
}
#AgendaRech, #infoContinu, #sportContinu, #MatchL1, #directMatchL1, #TeamCompo, #ClassementMatch, #newsletter, #blog, #forum, #temoignages, #regions, #avis, #chez, #colCentre .bloc, #colCentre .blocCadre, #colCentre .blocEdito, #colCentre #commBlogUne {
	border-bottom: 3px solid #e6eaf4;
	margin: 0 0 10px;
}
#AgendaRech h1, #infoContinu h1, #sportContinu h1, #MatchL1 h1, #directMatchL1 h1, #TeamCompo h1, #ClassementMatch h1, #newsletter h1, #blog h1, #forum h1, #temoignages h1, #regions h1, #avis h1, #chez h1, #colCentre .bloc h1, #colCentre .blocCadre h1, #colCentre .blocEdito h1, #colCentre #commBlogUne h1 {
	background: #d4dcee;
	color: #407fcb;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 3px 15px;
	text-transform: uppercase;
}
#regions h3, .bloc h3 {
	color: #316eb8;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#MatchL1 .article, #TeamCompo .article, #ClassementMatch .article, #AgendaRech .article, #blog .article, #newsletter .article, #forum .article, #temoignages .article, #regions .article, #avis .article, #chez .article, #colCentre .bloc .article, #colCentre .blocCadre .article, #colCentre .blocEdito .article, #colCentre #commBlogUne .article {
	border-left: 3px solid #e6eaf4;
	border-right: 3px solid #e6eaf4;
	color: #333;
	font-size: 11px;
	_height: 1%;
	overflow: auto;
	padding: 13px 13px 11px;
}
#regions a.lienArt:link, #regions a.lienArt:visited {
	color: #333;
	display: block;
	font-size: 11px;
	_height: 1%;
	overflow: auto;
	text-decoration: none;
}
#regions a.lienArt img, #colCentre .bloc a.lienArt img {
	float: right;
	margin: 0 0 0 5px;
	width: 125px;
}
#regions a.lienArt strong, #colCentre .bloc a.lienArt strong {
	display: block;
	font-size: 16px;
}
#regions a.lienArt:hover strong, #colCentre .bloc a.lienArt:hover strong {
	text-decoration: underline;
	color: #666666;
}
#colDroite {
	float: left;
	padding: 14px 0 0;
	width: 178px;
}
#pubSky {
	margin: 0 0 20px 10px;
	padding: 0;
	text-align: center;
	width: 160px;
}
#piedPage {
	background: #0c51a6;
	color: #fff;
	font-size: 11px;
	margin: 0;
	padding: 4px;
	text-align: center;
}
#piedPage a.lpp {
	border-left: 1px solid #fff;
	color: #fff;
	padding: 0 6px;
	text-decoration: none;
}
#piedPage a.lpp:hover {
	text-decoration: underline;
}
#piedPageBas {
	color: #316EB8;
	font-size: 9px;
	font-weight: bold;
	margin: 0pt;
	padding: 4px;
	text-align: center;
}
#piedPage li, #piedPageBas li {
	display: inline;
	list-style-type: none;
}
#piedPageBas a.lpp {
	border-left: 1px solid #316EB8;
	color: #316EB8;
	padding: 0pt 5px;
	text-decoration: none;
}

/* ######################### */
#demainOF h1 {
	color: #316eb8;
	font-size: 14px;
	margin: 30px 0 5px;
	padding: 0;
	text-transform: uppercase;
}
#demainOF h2 {
	color: #333333;
	font-size: 19px;
	margin: 0 0 40px;
	padding: 0;
}
#municipalesLight {
	background: url('http://www.ouest-france.fr/design/images/elections/fdMunicipalesLight.jpg') no-repeat right top;
	overflow: auto;
	_height: 1%;
}
.lstDpt {
	background: url('http://www.ouest-france.fr/design/images/elections/fdLstDpt.png') repeat-x left top #eff2f8;
	_height: 1%;
	margin: 0 0 20px;
	overflow: hidden;
	padding: 18px 0 0;
}
.lstDpt h2 {
	background: url('fdTtrLstDep.png') no-repeat top left;
	color: #407fcb;
	font-size: 14px;
	height: 60px;
	margin: 0 17px 10px;
	padding: 2px 0 0 67px;
	text-transform: uppercase;
}
.lstDpt h2 span {
	color: #333;
	display: block;
	font-size: 16px;
	margin: 8px 0 0;
}
.lstDpt .liste1 {
	display: block;
	float: left;
	margin: 0;
	padding: 0 0 20px 80px;
	width: 160px;
}
.lstDpt .liste2 {
	display: block;
	float: left;
	margin: 0;
	padding: 0 0 20px;
	width: 160px;
}
.lstDpt a:link, .lstDpt a:visited {
	color: #333;
	display: block;
	font-size: 12px;
	padding: 2px 5px;
	text-decoration: none;
}
.lstDpt a em {
	color: #407fcb;
	font-style: normal;
	font-weight: bold;
}
.lstDpt a strong {
	font-weight: normal;
	text-decoration: underline;
}
.lstDpt a:hover strong {
	font-weight: bold;
}
#logoElec {
	height: 54px;
	padding: 22px 0pt 0pt;
	text-align: center;
	width: 315px;
}
#presseRegionaleElec {
	float: right;
	padding: 32px 10px 10px;
	text-align: center;
	width: 158px;
}
#dossiersSpeElec {
	background: transparent url(http://www.ouest-france.fr/design/images/elections/fd_dossiersSpeElec.jpg) repeat-x scroll 0%;
	float: right;
	height: 100px;
	margin: 0pt;
	overflow: hidden;
	width: 504px;
}
#dossiersSpeElec1 {
	background: transparent url(http://www.ouest-france.fr/images/fd_dossiersSpeElec1.jpg) repeat-x scroll 0%;
	float: right;
	height: 100px;
	margin: 0pt;
	overflow: hidden;
	width: 504px;
}
#elections {
	background: #f1f2f3;
	color: #fff;
	font-size: 12px;
	margin: 0 0 20px 9px;
	overflow: auto;
	padding: 0;
	text-align: left;
	width: 160px;
}
#colCentre #elections {
	border-bottom: 3px solid #E6EAF4;
	margin: 0pt 0pt 10px;
	width: auto;
}
#elections h1 {
	background: #5380cb;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	margin: 5px;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}
#colCentre #elections h1 {
	background: #d4dcee;
	color: #407fcb;
	margin: 0;
	padding: 3px 15px;
	text-align: left;
}
#elections .article {
	padding: 9px 10px;
}
#colCentre #elections .article {
	background: #fff;
	border-left: 3px solid #E6EAF4;
	border-right: 3px solid #E6EAF4;
	color: #333333;
	font-size: 11px;
	overflow: auto;
	padding: 13px 13px 11px;
}
#elections p.sortantTitre {
	color: #316EB8;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
#elections strong.sortantNom {
	color: #333;
	text-transform: none;
}
#colDroite #elections strong.sortantNom {
	display: block;
}
#elections .commune {
	color: #316eb8;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
#elections .tour {
	color: #333;
	margin: 0 0 10px;
}
#municipaleRechVille {
	border-bottom: 3px solid #e6eaf4;
	margin: 0 0 10px;
}
#municipaleRechVille .article {
	background: url('http://www.ouest-france.fr/design/images/elections/fdRechVille.png') no-repeat right top #5380cb;
	border: 3px solid #e6eaf4;
	border-bottom: none;
	color: #333;
	font-size: 11px;
	_height: 1%;
	overflow: auto;
	padding: 6px 13px 11px;
}
#colGauche #municipaleRechVille .rechCommune {
	padding: 0;
	margin: 0;
	width: auto;
}
#municipaleRechVille h4 {
	color: #fff;
	font-size: 14px;
	margin: 0;
	text-align: right;
	width: 185px;
}
#colGauche #municipaleRechVille .rechCommune h4 {
	color: #fff;
	font-size: 14px;
	height: auto;
	margin: 0 0 10px;
	text-align: right;
	text-transform: none;
	width: 360px;
}
#municipaleRechVille form {
	_height: 1%;
	margin: 10px 0 0 40px;
	overflow: auto;
}
#colGauche #municipaleRechVille .rechCommune form {
	float: right;
	margin: 0 5px 0 0;
	width: 227px;
}
#colGauche #municipaleRechVille .rechCommune form .fdForm {
	width: auto;
}
#municipaleRechVille .ligne {
	border: 1px solid #fff;
	float: left;
	margin: 0;
}
#colGauche #municipaleRechVille .ligne input, #municipaleRechVille .ligne input {
	background: #fff;
	border: 1px solid #5380cb;
	margin: 0;
	width: 146px;
}
#municipaleRechVille .btn {
	float: left;
	margin: 0 0 0 7px;
}
.elecEntete {
	margin: 0 0 20px;
}
.elecEnteteLigne {
	border-bottom: 1px solid #e3e3e3;
	color: #333;
	font-size: 11px;
	padding: 3px 0;
}
.elecEnteteLigne a:link, .elecEnteteLigne a:visited {
	color: #0c51a6;
	display: block;
	float: right;
	font-weight: bold;
}
.elecEntete strong {
	color: #316eb8;
	font-size: 12px;
}
.elecPresListe {
	border: 1px solid #698fd7;
	_height: 1%;
	margin: 0 0 10px;
	overflow: auto;
	padding: 0 0 4px;
}
.elecPresListeTitre {
	background: #d4e5f6;
	color: #316eb8;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 4px;
	padding: 8px;
	text-align: center;
}
.elecPresListeTitre em {
	color: #eb030c;
	display: block;
	font-size: 10px;
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
}
.elecPresListe div.photoCandidat {
	float: right;
	padding: 0 4px 0 0;
}
.elecPresListe div.photoListe {
	float: left;
	padding: 0 0 0 4px;
}
.elecPresListe .photoCandidat img, .elecPresListe .photoListe img {
	height: 153px;
}
.elecListeDesc {
	margin: 0 0 1px;
}
.elecListeDescLign1 {
	background: #d4e0ee;
	color: #5380cb;
	font-size: 11px;
	font-weight: bold;
}
.elecListeDesc td.nom {
	padding: 4px 5px;
	white-space: nowrap;
	width: 220px;
}
.elecListeDesc td.mandats {
	padding: 4px 5px;
	text-align: right;
	width: 232px;
}
.elecListeDescLign2 {
	background: #e9eff6;
	color: #666;
	font-size: 11px;
}
.elecListeDesc td.dateNaissance, .elecListeDesc td.profession {
	empty-cells: show;
	padding: 4px 5px;
}
a.ResultLign:link, a.ResultLign:visited {
	border-bottom: 1px solid #e3e3e3;
	color: #316eb8;
	display: block;
	font-size: 12px;
	font-weight: bold;
	_height: 1%;
	overflow: auto;
	padding: 4px 5px;
	text-decoration: none;
}
a.ResultLign span {
	color: #333;
	font-size: 12px;
}
/*a.ResultLign span {
	color: #666;
	float: right;
	font-size: 11px;
	font-weight: normal;
}
*/
a.ResultLign:hover {
	background: #e3e3e3;
}
.Lign {
	color: #000;
	font-size: 9pt;
	margin: 4px 0px;
}
a.LienBas:link, a.LienBas:active, a.LienBas:visited {
	color: #0c51a6;
	text-decoration: none;
}
A.LienBas:hover {
	color: #0c51a6;
	text-decoration: underline;
}
.pageActuListArtTtr {
	color: #0c51a6;
	font-size: 18px;
	font-weight: bold;
}
a.lienActu:link, a.lienActu:visited {
	background: #d4e5f6;
	color: #0c51a6;
	display: block;
	font-size: 11px;
	font-weight: bold;
	margin: 0 0 20px;
	padding: 5px;
	text-align: right;
	text-decoration: none;
}
a.lienActu:hover {
	color: #000;
	text-decoration: underline;
}
a.GalerieCandidat:link, a.GalerieCandidat:visited, div.galerieCandidat {
	border: 1px solid #698fd7;
	display: block;
	_display: inline;
	float: left;
	height: 225px;
	margin: 1px 7px 10px;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 220px;
}
a.GalerieCandidat:hover {
	background: #d4e5f6;
	border: 2px solid #000;
	margin: 0 6px 9px;
}
a.GalerieCandidat strong, div.galerieCandidat strong {
	background: #d4e5f6;
	color: #eb030c;
	display: block;
	font-size: 11px;
	height: 28px;
	margin: 0 0 7px;
	padding: 4px 0;
	text-transform: uppercase;
}
a.GalerieCandidat strong em, div.galerieCandidat strong em {
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
}
a.GalerieCandidat span {
	background: #698fd7;
	color: #fff;
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 16px;
	padding: 2px 0 0;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 220px;
}
cite.photoCandidat, cite.photoListe {
	background: #fff;
	border: 1px solid #000;
	color: #000;
	display: block;
	font-style: normal;
	font-weight: bold;
	padding: 20px 0 0;
	text-align: center;
}
cite.photoCandidat {
	background: url('http://www.ouest-france.fr/design/images/elections/silhouette.png') no-repeat center center;
}
.elecPresListe cite.photoCandidat {
	_display: inline;
	float: right;
	height: 133px;
	margin: 0 4px 0 0;
	width: 120px;
}
.elecPresListe cite.photoListe {
	_display: inline;
	float: left;
	height: 133px;
	margin: 0 0 0 4px;
	width: 333px;
}
.photoListe em {
	color: #666666;
	display: block;
	font-size: 10px;
	font-style: italic;
	text-align: justify;
}
a.GalerieCandidat cite.photoCandidat, div.galerieCandidat cite.photoCandidat {
	_display: inline;
	float: left;
	height: 133px;
	margin: 0 0 0 48px;
	width: 120px;
}
a.GalerieCandidat .photoCandidat img, div.galerieCandidat .photoCandidat img {
	height: 158px;
}
#colCentre .bloc a.lienVideo:link, #colCentre .bloc a.lienVideo:visited {
	color: #333;
	display: block;
	font-size: 11px;
	_height: 1%;
	margin: 0 0 4px;
	overflow: auto;
	padding: 0 0 4px;
	text-decoration: none;
}
#colCentre .bloc a.lienVideo img {
	margin: 0 0 0 17px;
}
#colCentre .bloc a.lienVideo strong {
	display: block;
	font-size: 14px;
	padding: 0 0 3px;
	text-transform: uppercase;
}
#colCentre .bloc a.lienVideo:hover strong {
	text-decoration: underline;
	color: #666666;
}

/* #################################################*/
/* ####                RESULTATS                 ###*/
/* #################################################*/

h1.ttrTour {
	border: 3px solid #E6EAF4;
	clear: both;
	color: #FF0000;
	display: block;
	font-size: 14px;
	margin: 0 0 15px;
	padding: 3px 15px;
}
h2.commune, h2.canton {
	background: #5396DE;
	clear: both;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 10px;
	padding: 3px 10px;
	text-align: left;
}
h2.commune {
	background: #97C0ED;
}
#elecConseil {
	background: #e9eff6;
	clear: both;
	margin: 0 0 25px;
	overflow: auto;
	padding: 5px 0;
}
#elecConseil em {
	color: #666666;
	display: block;
	float: left;
	font-size: 11px;
	font-style: normal;
	padding: 0 0 2px 20px;
	width: 215px;
}
.elecStat {
	color: #333333;
	font-size: 11px;
	padding: 0 0 0 10px;
	margin: 0 0 10px;
}
.elecStat table {
	border: solid 1px #d4dcee;
	border-collapse: collapse;
	margin: 5px 0 0;
	width: 220px;
}
.elecStat table td {
	padding: 1px 15px 1px 0;
	text-align: right;
}
.elecStat .libelle {
	font-weight: bold;
	padding: 1px 4px;
	text-align: left;
}
.elecPortraitCandidat, .elecPortraitCandidatCanto {
	border: 1px solid #5396de;
	float: left;
	margin: 0 0 20px 10px;
	min-height: 325px;
	text-decoration: none;
	width: 219px;
}
.elecPortraitCandidatCanto {
	min-height: 120px;
}
.elecPortraitCandidat2 {
	background-color: #d4e5f6;
	border: 1px solid #5396de;
	float: left;
	margin: 0 0 20px 10px;
	min-height: 120px;
	text-decoration: none;
	width: 142px;
}
.elecPortraitCandidat h1, .elecPortraitCandidatCanto h1 {
	background-color: #D4E5F6;
	color: #EB030C;
	font-size: 12px;
	margin: 0 0 8px;
	min-height: 30px;
	padding: 4px;
	text-align: center;
	text-transform: uppercase;
}
.elecPortraitCandidat2 h1 {
	color: #666666;
	font-size: 12px;
	margin: 0;
	min-height: 60px;
	padding: 4px;
	text-align: center;
}
.elecPortraitCandidat h1 span, .elecPortraitCandidatCanto h1 span {
	font-weight: normal;
	font-size: 10px;
}
.elecPortraitCandidat2 h1 span {
	display: block;
	font-weight: normal;
}
.elecPortraitCandidat .photoCandidat {
	height: 213px;
	margin: 0 0 12px;
	overflow: hidden;
	text-align: center;
}
.elecPortraitCandidat cite.photoCandidat {
	background: transparent url(http://www.ouest-france.fr/images/silhouette.png) no-repeat scroll center;
	border: none;
	color: #d4e5f6;
	display: block;
	font-style: normal;
	font-size: 12px;
	font-weight: normal;
	height: 163px;
	margin: 0 0 12px;
	padding: 50px 0 0 0;
	text-align: center;
}
.elecPortraitCandidat .resEluListe, .elecPortraitCandidatCanto .resEluListe {
	color: #1e529d;
	font-size: 11px;
	padding: 0 0 0 15px;
}
.elecPortraitCandidatCanto .elu {
	background: #eb030c;
	position: relative;
	top: -8px;
	text-align: center;
}
.elecPortraitCandidat .stat, .elecPortraitCandidatCanto .stat {
	border-collapse: collapse;
	font-size: 12px;
	text-align: center;
	width: 130px;
}
.elecPortraitCandidat2 .stat {
	border-collapse: collapse;
	font-size: 12px;
	text-align: center;
	width: 120px;
}
.elecPortraitCandidat .stat td, .elecPortraitCandidatCanto .stat td {
	border: 1px solid #5396de;
	color: #000;
	padding: 2px 0;
}
.elecPortraitCandidat2 .stat td {
	border: 2px solid #d4e5f6;
	padding: 2px 0;
}
.elecPortraitCandidat .stat .libelle, .elecPortraitCandidatCanto .stat .libelle {
	background: #d4e5f6;
	color: #1e529d;
}
.elecPortraitCandidat2 .stat .libelle {
	background: #FFFFFF;
	color: #1e529d;
}
.elecPortraitCandidat h3 {
	color: #1e529d;
	font-size: 11px;
	font-weight: normal;
	padding: 0;
	margin: 0;
}
.elecListeElu {
	clear: both;
	margin: 0 0 30px;
	width: 470px;
}
.elecListeElu a:link, .elecListeElu a:visited, #elecConseil a:link, #elecConseil a:visited {
	background: transparent url(http://www.ouest-france.fr/images/puce_bleue_6x9.gif) no-repeat scroll 10px 10px;
	background-color: #e9eff6;
	color: #1E529D;
	display: block;
	height: 24px;
	margin: 0 5px;
	padding: 6px 0 0 20px;
	text-decoration: none;
	width: 440px;
}
.elecListeElu span.libelle, #elecConseil span.libelle {
	color: #333333;
	float: left;
	font-size: 14px;
	font-weight: bold;
}
.elecListeElu span.btn, #elecConseil span.btn {
	color: #1E529D;
	float: right;
	font-size: 12px;
	font-weight: bold;
	margin-right: 10px;
}
.elecListeElu .tabListe {
	clear: both;
}
.elecListeElu .liste {
	background: url(http://www.ouest-france.fr/images/fd_listeElu.gif) repeat-y;
	line-height: 17px;
	vertical-align: top;
	width: 235px;
}
.elecListeElu .horsliste {
	background: url(http://www.ouest-france.fr/images/fd_horsListeElu.gif) repeat-y;
	line-height: 17px;
	width: 470px;
}
.elecListeElu .liste h2, .elecListeElu .horsliste h2 {
	background: url(http://www.ouest-france.fr/images/fd_listeEluTtr.gif) repeat-y;
	color: #316eb8;
	font-size: 12px;
	margin: 0;
	padding: 0 0 0 18px;
	text-align: left;
}
.elecListeElu .horsliste h2 {
	background: url(http://www.ouest-france.fr/images/fd_horsListeEluTtr.gif) repeat-y;
}
.elecListeElu .liste h3, .elecListeElu .horsliste h3 {
	color: #666666;
	font-size: 11px;
	font-weight: normal;
	padding: 0 0 0 15px;
	margin: 0;
}
.message {
	color: #316eb8;
	font-size: 12px;
	font-weight: bold;
	padding: 15px 0;
}
.elecNavigation {
	border-left: 3px solid #E6EAF4;
	border-right: 3px solid #E6EAF4;
	color: #333333;
	font-size: 11px;
	overflow: auto;
	padding: 10px 13px 11px;
}
.elecNavigation a.lien:link, .elecNavigation a.lien:visited {
	border-bottom: 1px dotted #8C8C8C;
	color: #333333;
	display: block;
	font-size: 11px;
	font-weight: normal;
	padding: 4px 3px;
	text-decoration: none;
}
.lstCanton {
	margin: 0 0 20px;
}
.lstCanton p {
	color: #333;
	font-size: 14px;
	font-weight: bold;
}
.cantonsDep {
	border-bottom: 1px solid #e3e3e3;
	_height: 1%;
	overflow: auto;
}
a.lien1Canton:link, a.lien1Canton:visited {
	color: #316eb8;
	display: block;
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 5px;
	text-decoration: none;
	width: 340px;
}
a.lien1Canton:hover {
	background: #e3e3e3;
}
.lstCommuneCanton {
	color: #999;
	cursor: pointer;
	display: block;
	float: right;
	font-size: 9px;
	padding: 10px 5px 0 0;
	text-align: right;
	width: 115px;
}
.communeCanton {
	background: #e9eff6;
	clear: both;
	padding: 1px;
}
.communeCanton a.ResultLign:link, .communeCanton a.ResultLign:visited {
	border: none;
	color: #666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	padding: 2px 5px 2px 20px;
	text-decoration: none;
}
.communeCanton a.ResultLign:hover {
	background: none;
	color: #000;
}