.electionsRechercheCommunes {
	margin:0 0 10px;
}
#intro_sanslien h1 {
  display:none;
}
#intro_sanslien .sslien {
  text-align:center;
}
#intro_sanslien .sslien strong{
  padding:0px 0 10px;
  display:block;
}
#carteDep {
  border-left:3px solid #0669b2;
  border-right:3px solid #0669b2;
  padding-top:5px;
}
#rechercheCom {
  border-bottom:3px solid #0669b2;
  border-left:3px solid #0669b2;
  border-right:3px solid #0669b2;
  border-top:1px solid #0669b2;
  background:#aecbe5 url('fd_rechercheCommuneEuro2009.gif') repeat-x scroll center top;
  padding-bottom:15px;
  padding-top:15px;
  margin:0;
}

#pieddecarte {
	background-color:#0669B2;
}
#pieddecarte h5 {
	margin:0;
	padding: 10px 0 10px 15px;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}
#pieddecarte ul {
	margin:0 0 10px 0;
	padding: 0 0 10px 15px;
}
#pieddecarte ul li {
	font-size: 13px;
	font-weight: bold;
	list-style-type: none;
	margin:2px 0 0 0;
	color: #FFF;
}
#pieddecarte ul li a:link,
#pieddecarte ul li a:visited {
	list-style-type: none;
	font-size: 13px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}

#pieddecarte ul li a:hover {
	list-style-type: none;
	font-size: 13px;
	font-weight: bold;
	color: #FFF;
	text-decoration: underline;
}

#zoneSuggestionVille {
  margin-bottom:0px;
}
#titreTetiere {
  cursor:pointer;
}