.galeriesUne {
	border-left: 3px solid #E6EAF4;
	border-right: 3px solid #E6EAF4;
	overflow:auto;
	height: 1%;
	position: relative;
	_margin-left: 6px;
}
.vignettesGal {
	float: left;
	width: 123px;
  _width: 120px;/* a sup*/
	font-size: 12px;
	font-weight: bold;
	padding: 0 12px 0 12px;
	_padding: 0 6px 0 10px;
	margin: 7px 0 8px 0;
	display: block;
	cursor: pointer;
	height: 130px;
}
#colGauche .blocCadre .galeriesUne {
	border: 3px solid #E6EAF4;
	height: 1%;
	position: relative;
	_margin-left: 6px;
	padding: 12px;
}
a.vignettesGal:link, a.vignettesGal:visited {
	color: black;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	display: block;
}
a.vignettesGal:hover {
	text-align: center;
	overflow: hidden;
	display: block;
	color: #666666;
	text-decoration: underline;
}
.vignettesGal img {
	text-decoration: none;
}
.photos_gal {
	height: 85px;
	overflow: hidden;
}
#colGauche .galeriesUne .lienPlus {
	border: 0 none;
	display: block;
	float: left;
	padding: 1px 0;
	width: 330px;
}

/* Galeries photo Version 1*/
#colGauche .galerieUne, #colGauche .galerieListe {
	_height: 1%;
	overflow: auto;
	padding: 0px;
}
#colGauche .galerieListe {
	margin-bottom: 15px
}
#colGauche .blocCadre .galeriesUne {
	border: 3px solid #E6EAF4;
	display: block;
	height: 1%;
	position: relative;
	overflow: auto;
	_margin-left: 6px;
}
#colDroite .galerieUne {
	_height: 1%;
	overflow: auto;
	padding: 2px 10px 9px;
}
#colGauche .galerieContenant {
	_height: 1%;
	overflow: auto;
}
#colGauche .galerieUne a.uneGal:link, #colGauche .galerieUne a.uneGal:visited, #colGauche .galerieListe a.uneGal:link, #colGauche .galerieListe a.uneGal:visited {
	border: 2px solid #d4e5f6;
	color: #333;
	display: block;
	float: left;
	font-size: 11px;
	font-weight: bold;
	height: 170px;
	margin: 2px;
	overflow: hidden;
	padding: 5px 0 10px;
	position: relative;
	left: 0;
	top: 0;
	text-align: center;
	text-decoration: none;
	width: 145px;
	_width: 145px;
}
#colDroite .galerieUne a.uneGal:link, #colDroite .galerieUne a.uneGal:visited {
	color: #333;
	display: block;
	float: left;
	font-size: 11px;
	font-weight: bold;
	height: 170px;
	margin: 2px;
	overflow: hidden;
	padding: 5px 0 10px;
	position: relative;
	left: 0;
	top: 0;
	text-align: center;
	text-decoration: none;
	width: 135px;
	_width: 134px;
}
#colGauche .galerieUne a.uneGal:hover, #colGauche .galerieListe a.uneGal:hover {
	border-color: #173289;
}
#colDroite .galerieUne a.uneGal:hover {
	background-color: #fff;
}
#colGauche .galerieContenant a.uneGal:link, #colGauche .galerieContenant a.uneGal:visited {
	border: 2px solid #d4e5f6;
	color: #333;
	display: block;
	float: left;
	font-size: 11px;
	font-weight: bold;
	height: 170px;
	margin: 2px;
	overflow: hidden;
	padding: 5px 0 10px;
	position: relative;
	left: 0;
	top: 0;
	text-align: center;
	text-decoration: none;
	width: 149px;
}
#colGauche .galerieUne a.uneGal span, #colGauche .galerieListe a.uneGal span, #colGauche .galerieContenant a.uneGal span {
	color: #fff;
	/* display: block;*/
	/* font-size: 1px;*/
	line-height: 126px;
	/* height: 126px;*/
	margin: 3px 0;
	overflow: hidden;
	text-align: center;
	width: 135px;
}
#colDroite .galerieUne a.uneGal span {
	color: #fff;
	line-height: 126px;
	margin: 3px 0;
	overflow: hidden;
	text-align: center;
	width: 135px;
}
#colGauche .galerieUne a.uneGal span img, #colGauche .galerieListe a.uneGal span img, #colGauche .galerieContenant a.uneGal span img, #colDroite .galerieUne a.uneGal span img {
	vertical-align: middle;
}
#colGauche .galerieUne a.uneGal strong, #colGauche .galerieListe a.uneGal strong, #colGauche .galerieContenant a.uneGal strong, #colDroite .galerieUne a.uneGal strong {
	cursor: pointer;
	display: block;
	padding: 0 2px;
}
#colGauche .galerieUne a.uneGal em, #colGauche .galerieListe a.uneGal em, #colGauche .galerieContenant a.uneGal em, #colDroite .galerieUne a.uneGal em {
	bottom: 2px;
	color: #316eb8;
	cursor: pointer;
	display: block;
	font-style: normal;
	font-weight: normal;
	position: absolute;
	right: 5px;
}
#colGauche .galerieUne a.uneGal em cite, #colGauche .galerieListe a.uneGal em cite, #colGauche .galerieContenant a.uneGal em cite, #colDroite .galerieUne a.uneGal em cite {
	font-style: normal;
}

/* --  Nouvelle façon, google friendly  -- */
#colCentre .uneGal {
	background: none;
	cursor: pointer;
	padding: 0 0 12px;
	position: relative;
	left: 0;
	top: 0;
}
#colCentre .uneGal .vignette, #colCentre .uneGal .vignetteHover {
	background-color: #000;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	height: 131px;
	overflow: hidden;
}
#colCentre .uneGal .vignetteHover {
	border: 4px solid #000;
	height: 123px;
}
#colCentre .uneGal .vignette img, #colCentre .uneGal .vignetteHover img {
	display: none;
}
#colCentre .uneGal h2 {
	font-size: 16px;
	margin: 6px 0 0;
	padding: 0;
}
#colCentre .uneGal a {
	color: #333;
	text-decoration: none;
}
#colCentre .uneGal .nbrPhoto {
	color: #316eb8;
	font-size: 11px;
	position: absolute;
	bottom: 0;
	right: 0;
}

/* --  fin nouvelle façon  -- */
#colGauche .galerieGrandePhoto {
	border: 1px solid #173289;
	border-top: none;
	margin: 0 0 20px;
	padding: 5px;
	text-align: center;
}
#colGauche .galerieGrandePhoto img {
	margin: 0;
}
#colGauche .galeriePresentation {
	font-size: 13px;
	padding: 0 5px;
	text-align: left;
}
#colGauche .galerieGrandePhoto .galerieDescPhoto {
	padding: 0 5px 15px;
}
#colGauche .galerieGrandePhoto .galerieTitreLegende {
	color: #333;
	font-size: 13px;
	margin: 0;
	padding: 0;
	text-align: left;
}
#colGauche .galerieGrandePhoto .galerieCreditDateDepot {
	color: #333;
	font-size: 11px;
	text-align: left;
	display: block;
	margin: 0;
	padding: 0;
	text-align: left;
}
#colGauche .galerieGrandePhoto .galerieCreditDateDepot span {
	background: url('http://www.ouest-france.fr/design/images/copyright.gif') no-repeat 5px 3px;
	border-left: 1px solid #333;
	padding-left: 16px;
}
.galerieGrandePhoto .galerieListeGal {
	background: #e2e9f1;
	margin: 0 0 10px;
	padding: 5px;
	text-align: left;
}
.galerieGrandePhoto .galerieListeGal p {
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.galerieGrandePhoto .galerieListeGal a.aListeGal:link, .galerieGrandePhoto .galerieListeGal a.aListeGal:visited {
	display: block;
	color: #316eb8;
	font-size: 12px;
	font-weight: bold;
	padding: 0 2px;
	text-decoration: none;
}
.galerieGrandePhoto .galerieListeGal a.aListeGal em {
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
}
.galerieGrandePhoto .galerieListeGal a.aListeGal:hover {
	background-color: #fff;
}
.detailBAcontact {
	font-size: 15px;
	font-weight: bold;
	_height: 1%;
	margin: 0;
	overflow: auto;
	text-align: center;
}
.detailBAcontact a:link, .detailBAcontact a:visited {
	color: #316EB8;
	text-decoration: none;
}
.detailBAcontact a:hover {
	text-decoration: underline;
}
.detailBAcontact a.lienAvisContact {
	float: right;
}
.detailBAcontact a.lienAmiContact {
	float: left;
}

/* ####################################################################### */
.EcardContour {
	font-size: 12px;
}
.albumEcard {
	_height: 1%;
	margin: 0 0 10px;
	padding: 0 0 1px;
	overflow: auto;
}
.albumEcard .presentation {
	font-size: 13px;
	padding: 0 5px 10px;
}
.albumEcard p.vignette {
	background: #000;
	float: left;
	height: 134px;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 14px 0 0;
	text-align: center;
	width: 148px;
}
.albumEcard p.vignette span {
	line-height: 120px;
	color: #000;
}
.albumEcard p.vignette img {
	vertical-align: middle;
}
.albumEcard .qui {
	float: right;
	_height: 1%;
	overflow: auto;
	width: 310px;
}
.albumEcard .message {
	clear: both;
}
.albumEcard h6 {
	border-bottom: 1px solid #ddd;
	color: #316eb8;
	font: bold 12px verdana, sans-serif;
	margin: 10px 0 4px;
	padding: 0;
}
.albumEcard .lign {
	padding: 2px 0 0;
	margin: 0;
}
.albumEcard .lign .ttrLigne {
	color: #333333;
	display: block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 95px;
}
.albumEcard .ZnSaisie, .albumEcard textarea {
	border: 1px solid #ccc;
	background: #fff;
	font: normal 11px verdana, sans-serif;
	width: 200px;
}
.albumEcard .message .ttrLigne {
	padding: 0 0 0 30px;
	width: 95px;
}
.albumEcard .message .ZnSaisie, .albumEcard .message textarea {
	width: 300px;
}
.albumEcard .btn {
	margin: 5px 0 10px 160px;
}

/* --  jcarousel - planche contacte  -- */
.jcarousel-container {
	background: #000;
	height: 85px;
	margin: 3px 0 0;
	position: relative;
}
.jcarousel-next {
	background-image: url('http://www.ouest-france.fr/design/images/flchSuiv.gif');
	background-position: center center;
	background-repeat: no-repeat;
	border-left: 1px solid #fff;
	cursor: pointer;
	float: right;
	height: 85px;
	position: absolute;
	right: 0;
	top: 0;
	width: 17px;
}
.jcarousel-prev {
	background-image: url('http://www.ouest-france.fr/design/images/flchPrec.gif');
	background-position: center center;
	background-repeat: no-repeat;
	border-right: 1px solid #fff;
	cursor: pointer;
	float: left;
	height: 85px;
	position: absolute;
	left: 0;
	top: 0;
	width: 17px;
}
.jcarousel-prev:hover, .jcarousel-next:hover {
	background-color: #173289;
}
.jcarousel-next span, .jcarousel-prev span {
	display: none;
}
.jcarousel-clip {
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	overflow: hidden;
	position: absolute;
	left: 18px;
	top: 0;
	width: 432px;
}
.jcarousel-list {
	background: #fff;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	left: 0;
	top: 0;
}
.jcarousel-item {
	float: left;
	height: 85px;
	list-style: none;
	margin: 0 3px 0 0;
	width: 84px;
}
.jcarousel-item a:link, .jcarousel-item a:visited {
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center center;
	border-width: 1px;
	border-style: solid;
	border-color: #fff;
	color: #404040;
	display: block;
	height: 83px;
	position: relative;
	text-decoration: none;
}
.jcarousel-item a:hover {
	border-color: #173289;
}
.jcarousel-item a span {
	display: none;
}
.jcarousel-item a strong {
	background-color: #000;
	color: #fff;
	display: block;
	font-size: 10px;
	font-weight: normal;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 82px;
}
.jcarousel-item a#courante {
	background-color: #fff;
	border-color: #000;
	cursor: default;
}
.jcarousel-item a#courante strong {
	background-color: #fff;
	color: #000;
	font-weight: bold;
}

/* --  Vote Etoiles   -- */
.galerieVote {
	background: #000;
	color: #fff;
	font-size: 12px;
	_height: 1%;
	margin: 0;
	overflow: auto;
	padding: 3px 5px;
	position: relative;
}
.galerieVote .noteActuelle {
	float: right;
	padding: 3px 0 0;
	width: 182px;
}
.galerieVote .etoiles {
	float: right;
	padding: 0;
	width: 84px;
}
.galerieVote .votezPour {
	float: left;
	padding: 3px 0 0;
	width: 182px;
}

/* --  Upload -- */
#PreviewImage, #PreviewImage li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#PreviewImage li.listImages {
	margin: 0 0 20px;
}
.listImages  hr {
	display: none;
}
#zonePhoto {
	position: relative;
	left: 0;
	top: 0;
}
#PreviewImage table {
	border: none;
	border-bottom: 1px solid #316eb8;
	border-collapse: collapse;
	height: 271px;
	margin: 0 0 10px;
	padding: 0;
	width: 470px;
}
#PreviewImage table td {
	color: #333;
	font-size: 12px;
	padding: 10px 10px 0;
}
#PreviewImage table td.tdImageUpload {
	background: #316eb8;
	color: #fff;
	font-size: 10px;
	text-align: center;
	vertical-align: top;
	width: 100px;
}
#PreviewImage table td.tdImageUpload span {
	display: block;
	margin: 10px 0 0;
	text-align: left;
}
#PreviewImage table td.tdChampUpload {
	background: #e2e9f1;
}
#PreviewImage table td.tdChampUpload label {
	display: block;
	width: 150px;
}
#PreviewImage table td.tdChampUpload .nomVille {
	display: none;
}
#PreviewImage table td input, #PreviewImage table td textarea {
	border: 1px solid #316eb8;
	margin: 0 0 12px;
	width: 300px;
}
#PreviewImage table td.tdChampUpload span.nomVille {
	display: none;
}
#PreviewImage table td.tdChampUpload .btn {
	float: right;
	width: 150px;
}
#PreviewImage table td.tdChampUpload .aBtn {
	margin: 0 0 2px;
}
#divGoogleMap {
	background: #d3ecff;
	border: 3px solid #316eb8;
	height: 255px;
	padding: 5px;
	position: absolute;
	left: 0;
	top: 0;
	width: 334px;
}
#divGoogleMap .ligne {
	font-size: 12px;
	margin: 0 0 5px;
}
#divGoogleMap #map {
	height: 200px;
	margin: 0 0 5px;
	position: relative;
	left: 0;
	top: 0;
	width: 334px;
}
#divGoogleMap .btn {
	_height: 1%;
	overflow: auto;
	width: 330px;
}
#divGoogleMap .aBtn {
	float: right;
	margin: 0 10px 0 0;
}
.photoupload-queue {
	list-style: none;
	margin: 0;
	padding: 0;
}
.photoupload-queue li {
	background: url("http://www.ouest-france.fr/design/images/puce_upload.png") no-repeat 0 10px;
	border-bottom: 1px solid #698fd7;
	list-style-type: none;
	margin: 0;
	padding: 5px 0 5px 25px;
}
.photoupload-queue .queue-file {
	font-size: 12px;
	font-weight: bold;
}
.photoupload-queue .queue-size {
	color: #00b0f0;
	font-size: 11px;
	margin-left: 10px;
}
.photoupload-queue .queue-loader {
	background-color: #d3ecff;
	border: 1px solid #214f73;
	color: #fff;
	font-size: 11px;
	margin: 3px 0;
	position: relative;
	text-align: right;
}
.photoupload-queue .queue-subloader {
	background-color: #316eb8;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	width: 0%;
}
.photoupload-queue .input-delete {
	background: url("http://www.ouest-france.fr/design/images/pictoSupprimer.gif") no-repeat 0 0;
	border: none;
	float: right;
	height: 15px;
	text-decoration: none;
	width: 16px;
}
.conditions {
	background: #e2e9f1;
	height: 100px;
	margin: 0 0 10px;
	overflow: auto;
	padding: 10px;
}
.conditions h3 {
	color: #316eb8;
	font-size: 13px;
	margin: 0 0 10px;
	padding: 0;
}
.conditions p {
	color: #141414;
	font-size: 12px;
	margin: 0 0 5px;
}
.conditions p em {
	font-size: 11px;
	font-style: normal;
}
.validConditions {
	color: #3c3c3c;
	font-size: 12px;
	margin: 0 0 20px;
}
#galeriePhotoPush .saisiePush {
	_height: 1%;
	overflow: auto;
}
#galeriePhotoPush .saisiePush .ligne {
	float: left;
	_height: 1%;
	overflow: auto;
	padding: 0 0 0 50px;
	width: 230px;
}
#galeriePhotoPush .znSaisieLigne {
	border: 1px solid #316eb8;
	margin: 4px 0 0;
	width: 220px;
}
#galeriePhotoPush .btn {
	float: left;
	_height: 1%;
	overflow: hidden;
}