#listeJeu .listeArticle, #listeLot .listeArticle {
	background: none;
	clear: both;
	margin: 0;
	padding: 0;
}
#listeJeu, #reglementJeu {
	float: left;
	padding: 0 0 20px;
}
#listeJeu a.lienFilm:link, #listeJeu a.lienFilm:visited, #listeLot a.lienFilm:link, #listeLot a.lienFilm:visited {
	border-bottom: 1px solid #D4E5F6;
	color: #1E1E1E;
	display: block;
	float: left;
	font-size: 12px;
	margin: 0 0 5px;
	padding: 10px;
	text-decoration: none;
	width: 452px;
	_width: 449px;
}
#listeJeu a.lienFilm:hover, #listeLot a.lienFilm:hover {
	background: #D4E5F6 none repeat scroll 0%;
}
#listeJeu a.lienFilm strong, #listeLot a.lienFilm em {
	color: #333333;
	display: block;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
}
#listeLot a.lienFilm strong {
	font-weight: normal;
}
#listeJeu .listeArticle em {
	color: #316EB8;
	display: block;
	font-style: normal;
	font-weight: bold;
}
#listeJeu .date {
	color: #666666;
	display: block;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px;
}
#listeJeu a.lienFilm img, #listeLot a.lienFilm img {
	float: right;
	margin: 0 0 0 5px;
}
#listeJeu a.lienFilm cite {
	background: transparent url(puce_plus.gif) no-repeat scroll 0 5px;
	color: #316EB8;
	display: block;
	font-weight: bold;
	font-style: normal;
	font-size: 11px;
	margin: 10px 0 0;
	padding: 0 0 0 10px;
	text-decoration: underline;
}
#listeJeu .pagination, #listeLot .pagination, #listeGagnant .pagination {
	background: none;
	border-bottom: 1px solid #D4E5F6;
	clear: both;
	color: #0C51A6;
	float: left;
	font-size: 12px;
	font-weight: bold;
	height: auto;
	margin: 0 0 20px;
	padding: 5px 0 10px;
	text-align: center;
	width: 100%;
}
#listeJeu .paginSuiv, #listeLot .paginSuiv, #listeGagnant .paginSuiv {
	float: right;
	font-size: 11px;
	padding: 0pt 1px;
	width: 100px;
}
#listeJeu a.aPaginSuiv:link, #listeJeu a.aPaginSuiv:visited, #listeLot a.aPaginSuiv:link, #listeLot a.aPaginSuiv:visited, #listeGagnant a.aPaginSuiv:link, #listeGagnant a.aPaginSuiv:visited {
	background: #5396DE none repeat scroll 0%;
	color: #FFFFFF;
	display: block;
	height: auto;
	padding: 1px 5px;
	text-align: right;
	text-decoration: none;
	width: auto;
}
#listeJeu .paginPrec, #listeLot .paginPrec, #listeGagnant .paginPrec {
	float: left;
	font-size: 11px;
	padding: 0pt 1px;
	width: 100px;
}
#listeJeu a.aPaginPrec:link, #listeJeu a.aPaginPrec:visited, #listeLot a.aPaginPrec:link, #listeLot a.aPaginPrec:visited, #listeGagnant a.aPaginPrec:link, #listeGagnant a.aPaginPrec:visited {
	background: #5396DE none repeat scroll 0%;
	color: #FFFFFF;
	display: block;
	height: auto;
	padding: 1px 5px;
	text-align: left;
	text-decoration: none;
	width: auto;
}
#listeJeu a.aPaginPrec:hover, #listeJeu a.aPaginSuiv:hover, #listeLot a.aPaginPrec:hover, #listeLot a.aPaginSuiv:hover, #listeGagnant a.aPaginPrec:hover, #listeGagnant a.aPaginSuiv:hover {
	background: #0C51A6 none repeat scroll 0%;
}
#listeJeuExclu a.lienFort:link, #listeJeuExclu a.lienFort:visited {
	border-bottom: 1px solid #E3E3E3;
	color: #333333;
	display: block;
	float: left;
	font-size: 16px;
	margin: 0 0 5px;
	padding: 1px 5px 3px;
	position: relative;
	text-decoration: none;
}
#listeJeuExclu a.lienFort:hover {
	background: #f2f2f2;
	color: #666666;
	text-decoration: none;
}
#listeJeuExclu a.lienFort img {
	float: right;
	margin: 0 0 0 5px;
	width: 100px;
}

/* --  DETAIL  -- */
.photoJeu {
	float: right;
	margin: 0pt 0pt 0pt 15px;
}
#ficheJeu .article {
	overflow: auto;
	padding: 0pt 1px 20px 10px;
}
#ficheJeu h1.titreArt {
	color: #333333;
	font-family: arial, sans-serif;
	font-size: 22px;
	line-height: 20px;
	margin: 10px 0pt;
	padding: 0pt;
}
#ficheJeu h2.chapoArt {
	color: #316EB8;
	font-family: arial, sans-serif;
	font-size: 12px;
	margin: 0pt 0pt 5px;
	padding: 0pt;
	text-align: justify;
}
#ficheJeu .partenaire {
	background: #D4E5F6;
	font-size: 12px;
	_height: 1%;
	overflow: auto;
	padding: 16px;
	margin: 0 0 20px;
}
#ficheJeu a.partenaireLien {
	color: #ff4800;
}

/* --  JOUER  -- */
#jouerJeu .ligne {
	margin: 30px 0 0 0;
}
#jouerJeu input.znSaisieLigne {
	border: 1px solid #7F9DB9;
	color: #666666;
	font-size: 13px;
	float: left;
	margin-right: 5px;
	padding: 2px;
	width: 380px;
}
#merciJeu h4.puce {
	color: #333;
	font-size: 14px;
	margin: 0;
}
#merciJeu .presentation, #pasDeJeu .presentation, #pasDeGagnant .presentation, #reglementJeu .presentation {
	font-size: 12px;
	margin: 0 0 20px;
}
form.lstQuestion {
	border: 4px solid #D4E5F6;
	color: #141414;
	font-size: 12px;
	margin: 0pt 0pt 15px;
	overflow: auto;
	padding: 10px;
}
.lstQuestion .ligne {
	border-bottom: 1px solid #D4E5F6;
	margin-bottom: 15px;
}
.lstQuestion .ttrLigne {
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding: 0 0 4px 10px;
}
.ttrLigne a.indice {
	display: inline;
	color: #316EB8;
	font-weight: bold;
}
.lstQuestion ul {
	margin: 0;
	padding: 4px 0 5px;
	list-style: none;
}
.lstQuestion ul li.reponse {
	padding: 0 50px;
	font-size: 12px;
}

/* --  GAGNANT  -- */
#listeGagnant .gagnantsTabl {
	margin: 10px 0 20px;
	width: 100%;
}
#listeGagnant th.ttr {
	background: #D4E5F6;
	text-align: left;
	font-size: 13px;
	padding: 2px 0;
	text-transform: uppercase;
}
#listeGagnant td.pseudo {
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #D4E5F6;
	padding: 2px;
}
#listeGagnant td.lot {
	font-size: 12px;
	border-bottom: 1px solid #D4E5F6;
	padding: 2px;
	empty-cells: show;
	white-space: nowrap;
}