.pagination a, .pagination .numPage, .pagination .numUnePage {
}
.pagination {
	background: url('http://www.ouest-france.fr/design/images/bck_top.png') repeat-x;
	margin: 15px 0 0;
	text-align: center;
	padding: 10px 8px 5px 8px;
	height: 30px;
	font-family: verdana, sans-serif;
	font-size: 12px;
}
.galerieGrandePhoto .pagination {
	margin: 0;
}
.specialPgBott .pagination, .paginationBottom {
	background: url('http://www.ouest-france.fr/design/images/bck_bottom.png') repeat-x;
	margin: 0;
	text-align: center;
	padding: 10px 8px 5px 8px;
	height: 30px;
	font-family: verdana, sans-serif;
	font-size: 12px;
}
.paginSuiv {
	display: block;
	float: right;
	text-align: right;
}
a.aPaginSuiv {
	display: block;
	width: 31px;
	height: 25px;
	background: url('http://www.ouest-france.fr/design/images/suivant02.png') no-repeat;
	border: 0px solid green;
}
a.aPaginSuiv span {
	display: none;
}
.paginPrec {
	display: block;
	float: left;
	text-align: left;
}
a.aPaginPrec {
	display: block;
	width: 31px;
	height: 25px;
	background: url('http://www.ouest-france.fr/design/images/prece02.png') no-repeat;
	border: 0px solid green;
}
a.aPaginPrec span {
	display: none;
}
a.aPaginSuiv:hover, a.aPaginPrec:hover {
	font-weight: bold;
}
.numPage {
	font-weight: bold;
	padding: 0 5px;
	border-right: 1px solid #000;
}
.numUnePage {
	font-weight: bold;
	padding: 0 5px;
}
.lstNumPage {
	marging-top: 15px;
	border-left: 1px solid #000;
}
a.aNumPage {
	padding: 0 5px;
	border-right: 1px solid #000;
	color: #000;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}