@CHARSET "ISO-8859-1";

/**
 * @version    $Revision: 44451 $
 * @date       $Date: 2010-01-22 11:41:01 +0100 (Fri, 22 Jan 2010) $
 */

/* HEADER */
#header, #header a {
   font-family: arial, sans-serif ;
}   

#header {
   margin-top:5px;
   margin-bottom:5px;
   width:1000px;
   height:80px;
   overflow:hidden;
}

.sport #header {
   margin-bottom:0;
   z-index: 999999;
}

#header p, #header h1, #header h2, #header h3, #header h4, #header h5 {
font-size:12px;
font-weight:normal;
}

#header form {
   margin-bottom:0px;
   /*line-height: 16px;*/
}
#header input {
   padding: 2px 2px;	
}
#header .pageTitle {
   display:none;
}

#header .logo {
   float:left;
   margin-top:10px;
   width:410px;
}

#header .logo .logoSmall {
   width:100%;
   margin:2px 0 0 3px;
}

#header .logo .maj {
   font-size:9px;
   margin-top:5px;
}
html>/**/body #header .logo .maj {margin-top:2px;}

#header .headerTitle {
   width:100%;
   margin-top:0px;
   text-align:center;
}


#header .search {
   float:left;
   width:206px;
   margin-top:7px;
}
html>/**/body #header .search {width:209px;}

#header .search,
#header .search a {
   font-size:11px;
}

#header .search .tabOff_0,
#header .search .tabOff_1,
#header .search .link a {
   color:#666;
}

#header .search .tabOn_0,
#header .search .tabOn_1 {
   color:#333;
   font-weight:bold;
}

#header .search input {
   margin:2px 0px 7px 0px;
   font: arial, sans-serif;
}

#header .search .inputBox {
   width:170px;
}


#header .advert {
   float:right;
}


/* login blocks */


#header .links {
   float:left;
   width:182px;
   border-left:1px dotted #888;
   height:73px;
   padding-left:9px;
   margin-top:5px;
   position:relative;
}
html>/**/body #header .links {width:166px;height:69px;}

#header .links a img {
   float:left;
   margin-right:2px;
}

#header .links div a {
   font-size:11px;
   line-height:13px;
}

#header .links .login {
   font-weight:bold;
   font-size:11px;
   line-height:13px;
   min-height:21px;
}
* html #header .links .login {height:21px;}

/* login */

#loginBoxContainer,
#loginBoxContainerCommentaire {
   width:100%;
   height:100%;
   position:absolute;
   top: 0px;
   left: 0px;
   text-align:center;
   z-index:1000;
}
#loginBoxContainer, #loginBoxContainer a,
#loginBoxContainerCommentaire, #loginBoxContainerCommentaire a  {
   font-family: arial, sans-serif;
}   

#loginBoxContainer .loginBox,
#loginBoxContainerCommentaire .loginBox {
   text-align:left;
   width:500px;
   margin:auto;
   border:2px solid #666;
   margin-top:250px;
   background:#fff;
   z-index:1000;
}

#loginBoxContainer .loginBox .title,
#loginBoxContainerCommentaire .loginBox .title {
   background: url(titleBar2.gif) top left repeat;
   color:#fff;
   text-transform:uppercase;
   height:34px;
   font-weight:bold;
   line-height:34px;
   overflow:hidden;
   position:relative;
}

#loginBoxContainer .loginBox .title div,
#loginBoxContainerCommentaire .loginBox .title div {
   margin-left:12px;
   font-size:16px;
}

#loginBoxContainer .loginBox .title img,
#loginBoxContainerCommentaire .loginBox .title img {
   position:absolute;
   right:12px;
   top:11px;
}

#loginBoxContainer .loginBox .column1,
#loginBoxContainerCommentaire .loginBox .column1 {
   width:300px;
   float:left;
   border-right:1px dotted #666;
   margin:25px 0;
}

#loginBoxContainer .loginBox form,
#loginBoxContainerCommentaire .loginBox form {
   margin-left:25px;
   display: block;
}

#loginBoxContainer .loginBox form,
#loginBoxContainer .loginBox form a,
#loginBoxContainerCommentaire .loginBox form,
#loginBoxContainerCommentaire .loginBox form a {
   font-size:11px!important;
}

#loginBoxContainer .loginBox form label,
#loginBoxContainerCommentaire .loginBox form label {
   font-size:13px;
   font-weight:bold;
   margin-bottom:3px;
   display:block;
}

#loginBoxContainer .loginBox form .inputBox,
#loginBoxContainerCommentaire .loginBox form .inputBox {
   width:240px;
   line-height:20px;
   font-size:13px;
   margin-bottom:15px;
}

#loginBoxContainer .loginBox form input,
#loginBoxContainerCommentaire .loginBox form input {
   vertical-align: middle;
}

#loginBoxContainer .loginBox form .checkbox,
#loginBoxContainerCommentaire .loginBox form .checkbox {
   margin-bottom:15px;
}

#loginBoxContainer .loginBox .button, 
#loginBoxContainerCommentaire .loginBox .button {
   background:url(arrow_button.gif) right center no-repeat #36c;
   padding-right:16px;
   margin:3px 0;
}

#loginBoxContainer .loginBox .column2,
#loginBoxContainerCommentaire .loginBox .column2 {
   float:left;
   padding-top:75px;
   text-align:center;
   width:196px;
}
* html #loginBoxContainer .loginBox .column2 {width:190px;}
* html #loginBoxContainerCommentaire .loginBox .column2 {width:190px;}

#loginBoxContainer .loginBox .column2,
#loginBoxContainer .loginBox .column2 a,
#loginBoxContainerCommentaire .loginBox .column2,
#loginBoxContainerCommentaire .loginBox .column2 a {
   font-weight:bold!important;
}

#loginBoxContainer .loginBox .column2 img,
#loginBoxContainerCommentaire .loginBox .column2 img {
   margin-top:5px;
}

/* FLOATING BOXES */

#floatingBg, #floatingBgCommentaire {
   width:100%;
   height:1000%;
   background: url(login.gif) top left;
   position:absolute;
   top: 0px;
   left: 0px;
   text-align:center;
   z-index:999;
}

/* default */

#header .default .login {
   padding-top:6px;
   padding-right:16px;
   margin-bottom:10px;
   min-height:19px;
   height:19px;
}

/* free */

#header .free .quickLinks {
   background:url(newspaper.jpg) bottom right no-repeat;
}

#header .free .link {
   background:url(arrow.png) 0px 2px no-repeat;
   padding-left:8px;
   margin-bottom:2px;
}

#header .free .weather {
   clear:both;
}

#header .free .weather img {
   margin-right:3px;
}

/* subscribed */

#header .subscribed {
   width:383px!important;
}
html>/**/body #header .subscribed {width:371px!important;}

#header .subscribed .tools {
   position:absolute;
   top:3px;
   right:0px;
}

#header .subscribed .tools img {
   margin-right:3px;
}

#header .subscribed .tools a {
   display:block;
   float:left;
   line-height:17px;
   margin-left:10px;
}
html>/**/body #header .subscribed .tools a {line-height:19px;}

#header .subscribed .login {
   margin-top:8px;
   float:left;
   width:170px;
}

#header .subscribed .quickLinks {
   float:left;
   width:200px;
   margin-top:8px;
}

#header .subscribed .link {
   background:url(arrow.png) 0px 2px no-repeat;
   padding-left:8px;
   margin-bottom:2px;
   margin-left:10px;
   float:left;
   display:inline;
}
html>/**/body #header .subscribed .link {background:url(arrow.png) 0px 4px no-repeat;}

#header .subscribed .weather {
   clear:both;
}

#header .subscribed .weather a {
   display:block;
   float:left;
   margin-right:15px;
}

#header .subscribed .weather img {
   margin-right:3px;
}

#header .subscribed .weather .personnalise {
   margin-left: 180px;
   background:url(arrow.png) 0px 2px no-repeat;
   padding-left:8px;
   float:left;
   height: 18px;
   display:inline;
}
