@CHARSET "ISO-8859-1";
/**
 * @version    $Revision: 44802 $
 * @date       $Date: 2010-02-09 13:19:34 +0100 (Tue, 09 Feb 2010) $
 */
body {
   margin:0px;
   background:#fff;
   font:13px/16px arial, sans-serif;
   color:#222;
}

td {
   font:13px/16px arial, sans-serif;
}

ul {
   margin:0px;
   padding:0px;
}

li {
   list-style:none;
}

a {
   color:#0045A3;
   text-decoration:none;
}

a:hover {
   color:#900;
   text-decoration:underline;
}

p, h1, h2, h3, h4, h5 {
   padding:0px;
   margin:0px;
   font-weight:normal;
   font-size:12px;
}

form {
   margin:0px;
}

input, select {
   font-size:12px;
}

.clear {
   clear:both;
}

input.button {
   background:#36c;
   font:bold 11px arial, sans-serif;
   color:#fff;
   border-top:1px solid #69c;
   border-right:2px solid #36c;
   border-bottom:2px solid #36c;
   border-left:1px solid #69c;
}

input.button {
   padding: 0 6px;
   width: 0;  /* IE table-cell margin fix */
   overflow: visible;
}

input.button[class] {  /* IE < 7 ignores [class] */
   width: auto;  /* cancel margin fix for other browsers */
}


.ea_link {
   color: #bf8000;
   font-weight: bold;
}

.questionnaire {
   font: 11px arial;
   margin-bottom: 10px;
   padding: 0px;
}


/*GENERAL*/

/*PAGE STRUCTURE*/
.outerContainer {
   width:100%;
   text-align:center;
}

.innerContainer {
   width:1000px;
   margin:auto;
   text-align:left;
}

#leftColumn {
   float:left;
   margin-right:20px;
   width:680px;
   overflow:hidden;
   display:inline;
}

/* RIGHT COLUMN BLOCKS*/

#rightColumn {
   float:left;
   width:300px;
   overflow:hidden;
   margin-top:20px;
}

#rightColumn .title {
   background:url(titleBar2.gif) top left repeat-x;
   font:bold 18px/21px arial, sans-serif;
   padding-top:15px;
   margin-bottom:10px;
   text-align: left;
   letter-spacing: -0.5px;
   color: #222222;
}

#rightColumn .title a {
   color: #222;	
}

/* DEPECHES */
#rightColumn #depechesBlock {
   border-bottom:1px solid #ccc;
   margin-bottom:20px;
   padding-bottom:7px;
   position:relative;
}

#rightColumn #depechesBlock h4 {
   width: 260px;
   float:right;
   margin-bottom:8px;
   padding: 0;
}

#rightColumn #depechesBlock .timestamp {
   color:#900;
   font-size:11px;
   font-weight: bold;
   float: left;
}

#rightColumn #depechesBlock h4 .source {
   color: #444;
   font-size:11px;
}

#rightColumn #depechesBlock .toutes_depeches a {
   font-size:11px;
   line-height:14px;
}

#rightColumn #depechesBlock .toutes_depeches {
   position:absolute;
   padding-top:15px;
	top:4px;
	right:0;
}

#rightColumn #depechesBlock .link {
   background:url(abonneContent.gif.1) 0px 3px no-repeat;
   padding: 0 0 0 22px;
   font-size:11px;
   line-height:21px;
   margin-bottom:0px;
}

#rightColumn #depechesBlock .link img {
	/*
   float:left;
   margin-right:5px;
   position:relative;
   */
}

#rightColumn #depechesBlock .link a {
	/*
   font-size:11px;
   line-height:14px;
   */
}

#rightColumn #depechesBlock h5 {
   margin-top:0px;
}

/* BLOGS */
.blogContent{
	width:300px;
	height:188px;
	overflow: auto;
}
.blogsList li{
   margin-bottom: 5px;
}
html > body .blogsList li{
   overflow: hidden;
}
* html .blogsList li{
   height: 1%;
}
.blogImg{ float:left; width:87px;}
.block-blog-detail{ float:right; width:180px; padding-right: 5px;}
.block-blog-detail-large{ float:right; width:190px; padding-right: 5px;}
.block-blog-detail h4, .block-blog-detail-large h4{ font-size:10px; color:#666666; text-transform:uppercase;}
.block-blog-detail p, .block-blog-detail-large p{
   background:transparent url(arrow.gif) no-repeat 0 3px;
   margin:0;
   padding:0;
   padding-left:10px;
}

.blogContent .reaction a {
   background:transparent url(reaction.png) no-repeat scroll 0 2px;
   font-size:11px;
   font-weight:bold;
   padding-left:15px;
}
#blogsBlock {
   border-bottom:1px solid #CCCCCC;
   margin-bottom:20px;
   padding-bottom:7px;
}
#blogsBlock .link{
   background:none;
   padding-left:0;
   font-weight: bold;
   margin-bottom: 5px;
   text-align: left;
}
#blogsBlock .link a{
   background:transparent url(arrow.png) no-repeat scroll 0 4px;
   padding-left:10px;
}
.blogHighlight{
   background-color: #eaeaea;
   font-size: 12px;
   font-weight: bold;
   padding: 5px 5px 5px 10px;
   color: #000;
   margin-top: 3px;
   margin-bottom: 10px;
}
html > body .blogHighlight{
   overflow: hidden;
}
* html .blogHighlight{
   height: 1%;
}
.blogHighlight img{
   float: right;
   margin-left: 5px;
}
.blogHighlight .linkTitle{
   background:transparent url(arrow_grey.gif) no-repeat 0 3px;
   padding-left:10px;
   margin-top: 5px;
   font-size: 10px;
   text-transform: uppercase;
   font-weight: bold;
   float: left;
   width:180px;
}
.blogHighlight a:hover{
   color:#990000;	
}

#blogsBlock li.withImage {
   height: 58px;
}

#blogsBlock li .image {
   float:left;
   height: 58px;
   width: 87px;
   overflow: hidden;
   /*border:1px solid #ccc;*/
}

html>/**/body #blogsBlock li .image {width:96px;}

#blogsBlock li .image .crop {
   height: 44px;
   overflow: hidden;
   border: solid 1px #fff;
   /*float: right;*/
}
   
#blogsBlock li .image img {
   vertical-align: text-bottom;
   display:block;
}

/* SUR LE WEB */
#revueWebBlock {
   border-bottom:1px solid #ccc;
   margin-bottom:20px;
   padding-bottom:7px;
   position:relative;
}

#revueWebBlock .title{
   font: bold 18px/21px arial, sans-serif;
   color: #222222;  
}

#revueWebBlock .title img {
   position:absolute;
   right:0px;
}

#revueWebBlock .link {
   background:url(surLeWeb.gif) 0px 5px no-repeat;
   padding-left:14px;
   margin-bottom:10px;
}

#revueWebBlock .abonne img {
   float:left;
   margin-right:5px;
   position:relative;
}

#revueWebBlock .abonne a {
   font-size:11px;
}

#revueWebBlock .abonne {
   margin-top:4px;
}

#revueWebBlock .type {
   color:#555;
   font-size:11px;
   font-weight:normal;
   float:left;
   margin-right:4px;
   position:relative;
   top:1px;
   text-transform:uppercase;
}

#revueWebBlock .helpBoxRightCol {
   position:absolute;
   top:10px;
   right:18px;
   width:260px;
}
html>/**/body #revueWebBlock .helpBoxRightCol {width:260px;}


/* LES PLUS */

#lesPlusBlock {
   border-bottom:1px solid #ccc;
   margin-bottom:20px;
   width:300px;
}

#lesPlusBlock .tabs {
   position:relative;
   z-index:2;
}

#lesPlusBlock .tabs a:hover {
   text-decoration:none;
}

#lesPlusBlock .tabOn_0, #lesPlusBlock .tabOff_0 {
   margin-right:4px;
}

#lesPlusBlock .tabs .tabOn_0,
#lesPlusBlock .tabs .tabOn_1 {
   float:left;
   width:148px;
   height:56px;
}

#lesPlusBlock .tabs .tabOn_0 {
   background:url(lesPlusTab0_on.gif) top left no-repeat;
}

#lesPlusBlock .tabs .tabOn_1 {
   background:url(lesPlusTab1_on.gif) top left no-repeat;
}

#lesPlusBlock .tabs .tabOff_0,
#lesPlusBlock .tabs .tabOff_1 {
   float:left;
   width:148px;
   height:55px;
   background:url(lesPlusTab_off.gif) top left no-repeat;
}

#lesPlusBlock .tabs .tabOff_0 a,
#lesPlusBlock .tabs .tabOff_1 a,
#lesPlusBlock .tabs .tabOn_0 a,
#lesPlusBlock .tabs .tabOn_1 a {
   font:bold 17px arial, sans-serif;
   color:#333;
   display:block;
   margin-top:10px;
   margin-left:10px;
}

#lesPlusBlock .tabs .tabOn_0 a,
#lesPlusBlock .tabs .tabOn_1 a {
   color:#333;
}

#lesPlusBlock .tabs .tabOff_0 a,
#lesPlusBlock .tabs .tabOff_1 a  {
   color:#666;
}

#lesPlusBlock .links {
   border-top:1px solid #ccc;
   position:relative;
   top:-1px;
   z-index:-1;
   padding-top:10px;
}
html>/**/body #lesPlusBlock .links {z-index:1;}

#lesPlusBlock .depuis {
   font-size:11px;
   margin-bottom:2px;
}

#lesPlusBlock .depuis .tabOn_0,
#lesPlusBlock .depuis .tabOn_1 {
   color:#333;
   font-weight:bold;
}

#lesPlusBlock h4 {
   padding:6px 0;
   list-style-type: decimal;
   text-indent: -16px;
   padding-left:16px;
   float: left;
}

#lesPlusBlock .first_image {
   width: 190px;
}

#lesPlusBlock .separateur {
	clear: both;
   width: 100%;
   line-height: 1px;
   margin: 0;
   padding: 0;
   border-bottom:1px dotted #c8c8c8;
}

#lesPlusBlock .image a {
   float:right;
   padding:1px;
   border:1px solid #ccc;
   height: 58px;
   margin-bottom: 3px;
}

#lesPlusBlock .image {
   overflow: hidden;
   float: right;
}

#lesPlusBlock .reaction a {
   background:url(reaction.png) 0 2px no-repeat;
   font:bold 11px arial, sans-serif;
   padding-left:15px;
}



/* VOTRE AVIS */
#votreAvisBlock {
   border-bottom:1px solid #ccc;
   margin-bottom:20px;
   padding-bottom:7px;
   width:300px;
}

#votreAvisBlock .title{
   font: bold 18px/21px arial, sans-serif;
   color: #222222;  
}

#votreAvisBlock form {
   margin:0 0 6px 0;
}

#votreAvisBlock form table {
   margin:7px 0;
}


#votreAvisBlock form td {
   padding:3px 4px 4px 0;
   font-size:13px;
   vertical-align: top;
}

#votreAvisBlock .link a {
   font-size:11px;
}

/* VOTRE EDITION PAVE ABONNES */
#votreEdition {
	border-bottom:1px solid #ccc;
	margin-bottom:20px;
}

#votreEdition img {
	vertical-align:middle;
}

#votreEdition .title {
	background:url(titleBar3.gif) top left repeat-x;
	padding-top:14px;
	margin-bottom:12px;
}

#votreEdition .title1 {
	color:#666;
	font-weight:bold;
	font-size:12px;
}

#votreEdition .new {
	padding-bottom:7px;
	border-bottom:1px solid #ccc;
}

#votreEdition .new a {
	font-size:11px;
}

#votreEdition .new img {
	margin-right:4px;
}

#votreEdition .meteo {
	margin-bottom:6px;
}

#votreEdition #bloc_abonnes_premium{
   /* border-bottom:1px solid #CCCCCC; */
   padding-bottom:6px;
}

#votreEdition #bloc_abonnes_premium a{
   font-size:11px;
}

#votreEdition #bloc_abonnes_premium .headline{
   font:17px/18px georgia, serif;
}

#votreEdition #bloc_abonnes_premium .headline a {
   color:#222;
}

#votreEdition #bloc_abonnes_premium .headline .newspaper {
   float:left;
   margin:0px;
   border:1px solid #ccc;
   margin-right:7px;
   height:105px;
   overflow:hidden;
   margin-bottom: 8px;
}



#votreEdition .meteo a {
	font-size:11px;
}

#votreEdition .meteo .title1 {
	float:left;
	width:80px;
	margin-top:3px;
}

#votreEdition .meteo .cities {
	float:left;
	width:220px;
}

#votreEdition .meteo .link {
	float:left;
	margin-right:15px;
	margin-top:3px;
}

#votreEdition .meteo img {
	margin-right:4px;
}

#votreEdition .links .link {
	border-top:1px dotted #ccc;
	padding:3px 0 5px 0;
	width:140px;
	float:left;
}

#votreEdition .links .odd {
	margin-right:20px;
}

#votreEdition .links .link a {
	color:#666;
	font-weight:bold;
	font-size:12px;
}

#votreEdition .links img {
	margin-left:4px;
}

#votreEdition .votreDesk {
	border-top:1px solid #ccc;
	padding-top:3px;
}

#votreEdition .votreDesk .navigation {
	position:relative;
	height:26px;
   position:relative;
   width:300px;
   overflow:hidden;
}

#votreEdition .votreDesk .navigation div {
	float:left;
	text-align:center;
	margin:4px 4px 0px 0;
   font-weight:bold;
	font-size:11px;
	line-height:12px;
}

#votreEdition .votreDesk .navigation a {
	display:block;
	color:#666;
	border:2px solid #d6d6d6;
   background:#D6D6D6 none repeat scroll 0% 0%;
	color:#666666;
	font-weight:bold;
	height:17px;
	width:23px;
	font-size:11px;
	line-height:12px;
	overflow:hidden;
}
html>/**/body #votreEdition .votreDesk .navigation a {height:12px;width:19px;}

#votreEdition .votreDesk .navigation .pause {
	text-align:center;
	margin:4px 4px 0px 0;
   font-weight:bold;
	font-size:11px;
	line-height:13px;
	margin-right:0px!important;
   color:#666;
	border:2px solid #d6d6d6;
	background:#d6d6d6;
	font-weight:bold;
	height:16px;
   
	width:23px;
	overflow:hidden;
   text-align:center;
   cursor:pointer;
}
html>/**/body #votreEdition .votreDesk .navigation .pause { height:13px;}

#votreEdition .votreDesk .navigation .pauseOff {
	background:#FFFFFF none repeat scroll 0% 0%;
   border:2px solid #E1B608;
   color:#8F6707;
}

#votreEdition .votreDesk .image {
	border:1px solid #ccc;
	padding:1px;
	margin-bottom:8px;
}

#votreEdition .votreDesk .image img {
	vertical-align:top;
}

#votreEdition .votreDesk .link {
	font-size:11px;
	margin-bottom:12px;
}

#votreEdition .votreDesk .link a {
	text-transform:uppercase;
	font-size:12px;
}

#votreEdition .votreDesk .type {
	color:#ad8100;
	text-transform:uppercase;
	font-size:12px;
}

#votreEdition .votreSelection .title1 {
	position:relative;
	padding-top:5px;
	text-transform:uppercase;
   border-top:1px dotted #CCCCCC;
   margin-bottom:10px;
}

#votreEdition .votreSelection #rss_help{
   border:solid 1px #BDBDBD;
   padding:5px;
}

#votreEdition .votreSelection  .error {
   background-color:#BD0001;
   color:#FFFFFF;
   padding:4px;
   border:solid 4px #BDBDBD;
   margin-top:4px;
   margin-bottom:4px;
   display:none;
}

#votreEdition .votreSelection  .arrow {
   cursor:pointer;
}


#votreEdition .votreSelection .selection{
   float:left;
   width:148px;
}

html>/**/body #votreEdition .votreSelection span {position:relative;top:1px;left:2px;}

#votreEdition .votreSelection .ajouter {
	position:absolute;
	top:7px;
	right:0px;
}

#votreEdition .votreSelection .title2 {
   background:transparent url(votreEditionAbonnesSel.gif) repeat-x scroll left top;
   margin-bottom:3px;
   margin-top:8px;
   padding:2px 0pt 0pt 5px;
   position:relative;
   color:#666666;
   display:block;
   font-size:11px;
   font-weight:bold;
   height:19px;
   line-height:19px;
   overflow:hidden;
   text-transform:uppercase;
}


#votreEdition .votreSelection .title3 {
	position:relative;
	margin-top:4px;
	margin-bottom:3px;
   color:#666;
	font-weight:bold;
}


#votreEdition .votreSelection .title3 a {
	display:block;
	height:19px;
	line-height:19px;
	color:#666;
	font-weight:bold;
	overflow:hidden;
	text-transform:uppercase;
}
html>/**/body #votreEdition .votreSelection .title2 a {line-height:16px;}

#votreEdition .votreSelection .title2 img {
	vertical-align:middle;
	margin-right:4px;
}
html>/**/body #votreEdition .votreSelection .title2 img {position:relative;top:-2px;}

#votreEdition .votreSelection .tools {
	position:absolute;
	right:0px;
	top:0px;
	z-index:1;
}

#votreEdition .votreSelection .tools a {
	display:block;
	float:left;
	margin-left:4px;
}

#votreEdition .votreSelection .tools img {
	top:0px!important;
}

#votreEdition .votreSelection .link {
	background:url(arrow.png) 0px 4px no-repeat;
	padding-left:12px;
	margin-bottom:4px;
	font-size:11px;
}


#votreEdition  .votreDesk  .navigation .num-off
 {
   background:#D6D6D6 none repeat scroll 0% 0%;
   border:2px solid #D6D6D6;
   color:#666666;
   text-decoration:none;
   text-align:center;
   width:23px; height:13px;
   font:normal 9px verdana, sans-serif;
   float:left;
   margin:0px; margin-right:3px; padding:0px;
   cursor:pointer;
}
#votreEdition  .votreDesk  .navigation .num-on
{
   background:#FFFFFF none repeat scroll 0% 0%;
   border:2px solid #E1B608;
   color:#8F6707;
   text-align:center;
   width:23px; height:13px;
   float:left;
   margin:0px; margin-right:3px; padding:0px;
   
}
#votreEdition  .votreDesk  .navigation .num-last-off
{
   color:#666;
   background:#D6D6D6 none repeat scroll 0% 0%;
   border:2px solid #E1B608;
   text-decoration:none;
   text-align:center;
   width:23px; height:13px;
   font:normal 9px verdana, sans-serif;
   float:left;
   margin:0px; margin-right:3px; padding:0px;
   cursor:pointer;
}
}
#votreEdition  .votreDesk  .navigation .num-last-on
{
   background:#FFFFFF none repeat scroll 0% 0%;
   border:2px solid #E1B608;
   color:#8F6707;
   text-align:center;
   width:23px; height:13px;
   float:left;
   margin:0px; margin-right:3px; padding:0px;
}
#votreEdition  .button
{
   margin-left:3px;
   cursor:pointer;
}
html > body  #votreEdition .votreDesk  .navigation .num-off { width:21px; height:13px; }
html > body  #votreEdition .votreDesk  .navigation .num-on { width:21px; height:13px; }
html > body  #votreEdition .votreDesk  .navigation .num-last-off { width:21px; height:13px; }
html > body  #votreEdition .votreDesk  .navigation .num-last-on { width:21px; height:13px; }

/** GENERIQUE */
#rightColumn .rightColumnBlock {
   border-bottom:1px solid #ccc;
   margin-bottom:20px;
   padding-bottom:7px;
   position:relative;
}

/* ADVERTISEMENTS */
.banner728,
#topAdvert {
   clear:both;
   text-align:center;
   background-color:#e7e7e7;
}

#twoColumnAdvert {
   margin-bottom:0px;
   text-align:center;
}

#AdvertFrame2 {
   margin-bottom:0px;
   padding:0 0;
   clear:both;
}

#AdvertFrame2 a {
   color:#1f884d;
}

#AdvertFrame2 a b {
   text-decoration:underline;
   color:#013696;
}

#rightColumnAdvert {
   margin-bottom:25px;
   clear:both;
   text-align:center;
}

/* help */

.helpBox {
   text-align:left;
   /* border:2px solid #666; */
   background:#efefef;
   z-index:1000;
   position:relative;
}

.helpBox .title {
   text-transform:uppercase;
   height:24px;
   font-weight:bold;
   line-height:24px;
   margin-left:12px;
}

.helpBox .close {
   position:absolute;
   right:4px;
   top:4px;
}

.helpBox p {
   margin:12px;
}

.helpBoxRightCol {
   text-align:left;
   /*border:2px solid #666;*/
   background:#efefef;
   z-index:1000;
   position:relative;
}

.helpBoxRightCol .titleBox {
   text-transform:uppercase;
   height:24px;
   font-weight:bold;
   line-height:24px;
   margin-left:12px;
}

.helpBoxRightCol .close {
   position:absolute;
   right:4px;
   top:4px;
}

.helpBoxRightCol p {
   margin:12px;
}


/* MINUTE PAR MINUTE */

#minuteParMinute
{
   border-bottom:1px solid #CCCCCC;
   margin-bottom:20px;
   padding-bottom:7px;
   position:relative;
}

/* DERNIERE MINUTE */

#derniereMinute {
   margin-bottom:20px;
   position:relative;
}

#derniereMinute .title {
   background:#900;
   font-weight:bold;
   font-size:13px;
   color:#fff;
   padding:12px 10px;
   width:122px;
   vertical-align:middle;
}

#derniereMinute .news {
   font-size:13px;
   color:#000;
   background:#ff3;
   vertical-align:middle;
   height:50px;
   padding-left:12px;
}

#derniereMinute b {
   font-size:16px;
}

#derniereMinute .closeWindow {
   font-size:16px;
   position:absolute;
   top:4px;
   right:4px;
}

.barreSondage {
   background:url(bg_redbar.gif) top left repeat-x;
   float: left;
   height: 16px;
   margin-top: 2px;
}

.resultatSondage {
   width: 290px;
   float: left;
}

.pourcentageSondage {
   float: left;
   margin-left: 5px;
   font-size: 12px;
   line-height: 16px;
   font-weight: bold;
}

.ligneSondage {
   width: 100%;
   margin-top: 5px;
   margin-bottom: 13px;  
}


/* PAVE RESTEZ CONNECTE */

.logosConnection{
   margin-bottom: 5px;
}
html > body .logosConnection{
   overflow: hidden;
}
* html .logosConnection{
   height: 1%;
}
.logosConnection li{
   width: 145px;
   height: 33px;
   float: left;
   margin-right: 10px;
   border-bottom:1px dotted #999999;
   padding: 5px 0;
}
.logosConnection li.oddItem{
   margin-right: 0;
}
.logosConnection li a{
   padding: 10px 0 0 40px;
   background: 0 0 no-repeat transparent;
   color: #333333;
   display: block;
   height: 33px;
   text-decoration: none;
   font-weight: bold;
}
.logosConnection li a:hover{
   color: #990000;
   text-decoration: underline;
}	
.logosConnection li.last{
   border-bottom: none;
}

/* Edition abo - page perso 
 * Elements communs
 */
.lienPagePersoOrReac {
   font-family:arial,sans-serif;
   font-size:13px;
   line-height:17px;
   color:#0045A3;
   text-decoration:underline;
   font-weight:bold;
}

/* pages abonnes - edition gratis */
#zonePromotion .jeBlock .titrePagesAbo {
	margin-bottom: 10px;
	text-transform: uppercase; 
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	
}

#zonePromotion .jeBlock .titrePagesAbo {
	width: 200px;
	float: left;
}

#zonePromotion .jeBlock .pagesAboBlock {
	border:1px solid #ccc;
	float:left;
	width:200px;
	position:relative;
	height:129px;
}

#zonePromotion .jeBlock .pagesAboBlock td {
	width:33%;
	text-align:center;
	font-size:9px;
	line-height:9px;
	vertical-align:top;
	padding:1px 2px;
}

#zonePromotion .jeBlock .pagesAboBlock .row1 td {
	padding-top:4px;
}

#zonePromotion .jeBlock .pagesAboBlock a {
	color:#666;
}

#zonePromotion .jeBlock .pagesAboBlock img {
	margin-bottom:2px;
}
html>/**/body #zonePromotion .jeBlock .pagesAboBlock img {margin-bottom:0px;}


#zonePromotion .jeBlock .pagesAboBlock span {
	display:block;
}

/* pages abonnes - edition abonnes */
#votreEdition .pagesAboBlock {
	padding-top:10px;
	margin-bottom:10px;
}

#votreEdition .pagesAboBlock table {
	border:1px solid #efc41a;
}

#votreEdition .pagesAboBlock .row1 td,
#votreEdition .pagesAboBlock .row2 td {
	width:25%;
	text-align:center;
	font-size:10px;
	line-height:11px;
	vertical-align:top;
}

#votreEdition td.titleAbo {
	font-size:12px;
	text-transform:uppercase;
	color:#666;
	font-weight:bold;
	text-align:left;
}

#votreEdition .pagesAboBlock .row1 td {
}

#votreEdition .pagesAboBlock a {
	color:#666;
}

#votreEdition .pagesAboBlock img {
	margin-bottom:2px;
}


#votreEdition .pagesAboBlock span {
	display:block;
}

#votreEdition .pagesAboBlock td.buttonAbo {
	text-align:left;
} 

.PP_btStd{
   border: solid 1px #ce9f0b;
	background: url(bg_btClub.gif) 0 0 repeat-x #f3c73c;
	color: #7c5900;
	padding-top: 0px;
   padding-left:12px;
   padding-right:12px;
   padding-bottom:3px;
	font-weight: bold;
   font-size:11px;
   height:18px;
   font-weight: bold;
   margin-right:2px;
   vertical-align:top;
   float:left;
   cursor:pointer;
}