@CHARSET "ISO-8859-1";
/**
 * @version    $Revision: 45810 $
 * @date       $Date: 2010-03-17 15:52:19 +0100 (Wed, 17 Mar 2010) $
 */

/* MENU BAR */

#menuBar {
   margin-bottom:0px;
   border-right:1px solid #ddd;
   background:#ddd;
   width:1000px;
}

#menuBar li {
   list-style:none;
}

#menuBar td {
   text-align:center;
 }

#menuBar a {
   font:13px/16px arial, sans-serif;
}

/*  level 1  */
#menuBar table.level1 {
   width:1000px;
   background:url(menuBarTab_off.gif) top left repeat-x;
   height:31px;
   position:relative;
   z-index:200;
}

#menuBar .level1 td {
   border-left:1px solid #bbb;
}

#menuBar .level1 a {
   font-weight:bold;
   font-size:11px;
   line-height:33px;
   text-transform:uppercase;
   height:31px;
   display:block;
   overflow:hidden;
   text-decoration:none;
}

#menuBar .level1 td.logoHome {
   background:url(nav-une.gif) top left no-repeat;
   width: 30px;
}

#menuBar .level1 a:hover {
   text-decoration:none;
}
/*
#menuBar .gratuit a:hover {
   background:url(/medias/www/img/bg/menuBarTab_on.gif) top center no-repeat #fff;
   color:#fff!important;
}
*/
#menuBar .level1 .abonnes_page a {
   color:#d38700;
}
#menuBar .level1 .abonnes a {
   color:#d38700;
}

#menuBar .level1 .abonnes a span {
   background:url(menuBar_abonneLink.gif) 0 12px repeat-x;
}

#menuBar .level1 .abonnes_page a:hover span {
   background:url(menuBar_abonneLink.gif) 0 12px repeat-x;
   color:#FFFFFF;
}

#menuBar .level1 .abonnes a:hover span {
   background:none;
}

#menuBar .level1 .abonner {
   width:200px;
   vertical-align:top;
   border-left:0px solid #bbb;
}

#menuBar .level1 .abonner a {
   background:url(abonnerAuMonde.gif) top left no-repeat;
   width:200px;
   height:26px;
   display:block;
   margin-top:4px;
}

#menuBar .gratuit .tabOn a .sport{
   background:url(menuBarTab_on_sport.gif) top center no-repeat #fff !important;
   color:#fff!important;
}

#menuBar a .sport {
   padding: 10px 5px;
}

#menuBar .gratuit .tabOn a .sport #img_grise {
   display:none;
}

#menuBar .gratuit .tabOn a .sport #img_blanche {
   display:block;
}

#menuBar .gratuit .tabOff a .sport #img_grise {
   display:block;
}

#menuBar .gratuit .tabOff a .sport #img_blanche {
   display:none;
}

#menuBar .gratuit .tabOn a{
   background:url(menuBarTab_on.gif) top center no-repeat #fff;
   color:#fff!important;
}

#menuBar .level1 .gratuit a {
   color:#666;
}

#menuBar .level1 .abonnes a {
   color:#d38700;
}

#menuBar .abonnes .tabOn a{
   background:url(menuBarTab_gold_on.gif) top center no-repeat #fff;
   color:#fff!important;
}

#menuBar .abonnes_page .tabOff  a span
{
   background:transparent url(menuBar_abonneLink.gif) repeat-x scroll 0 12px;
}

#menuBar .abonnes_page .tabOff a:hover{
   background:url(menuBarTab_gold_ssflech.gif) top center no-repeat #fff;
   color:#fff!important;
}

/*  level 2  */

#menuBar .menuBarBottom {
   border-left:1px solid #ccc;
   /*border-right:1px solid #ccc;*/
   width:1000px;
   background:#fff;
   position:relative;
   z-index:1;
   top:-1px;
   padding:0 5px;
}
html>/**/body #menuBar .menuBarBottom {width:989px;}

#menuBar .level2 {
   position:relative;
   top:1px;
}

#menuBar .level2 table {
   position:relative;
   z-index:2;
}

#menuBar .level2 .flecheBas {
   background:url(horloge.gif) 1px 0px no-repeat;
   cursor:pointer;
   width: 15px;
  
}
#menuBar .level2 .flecheBas .in
{
    border-right:solid 1px #CCCCCC;
}

#menuBar .level2 .first {
   width: 15px;
}

#menuBar .level2 td {
   /*background:url(/medias/www/img/bg/menuBarTab_level2_off.gif) bottom center repeat-x #fff;*/
   height:37px;
   padding:0px 7px;
}
/*
#menuBar .level2 td.rollover {
   background:url(/medias/www/img/bg/menuBarTab_level2_on.gif) bottom center no-repeat #fff;
}*/

#menuBar .level2 a {
   color :#0045A3;
   text-decoration:none;
   font-size:13px;
   font-weight:normal;
   line-height:16px;
}

#menuBar .level2 a:hover {
   text-decoration:none;
	color:#990000;
}


#menuBar .level2 .special a {
   font-size:11px;
   line-height:13px;
}

#menuBar .level2 td.divider {
   background:url(menuBar_special.gif) center left no-repeat;
   width:1px;
   overflow:hidden;
   padding:0px;
}

#menuBar .level2 .special td {
   text-align:left;
   padding-right:15px;
}


/*  level 3  */

#menuBar .level3 {
	background:#fff;
   /*height:135px;*/
   overflow:hidden;
   border-bottom:1px solid #ccc;
   /* border-right:1px solid #ccc; */
   border-left:1px solid #ccc;
   position:relative;
   z-index:1;
   top:-1px;
}
* html #menuBar .level3 {width: 1001px;}
html>/**/body #menuBar .level3 {width:999px;}

#menuBar .level3 .closeWindow {
   font-size:16px;
   position:absolute;
   top:4px;
   right:4px;
   z-index:999;
}

#menuBar .level3 .loaderLevel3 {
   width: 100%;
   text-align:center;
   padding-top: 30px;
   padding-bottom: 30px;
}

#menuBar .level3 td {
   text-align:left;
   height:137px;
}

#menuBar .level3 .image {
   float:left;
   border:1px solid #ccc;
   padding:1px;
   margin:12px 12px 0px 12px;
   height:112px;
   overflow:hidden;
}
html>/**/body #menuBar .level3 .image {height:103px;width:auto;max-width:155px;}
* html #menuBar .level3 .image {height:107px;}

#menuBar .level3 .sansImage {
   float:left;
   padding:1px;
   margin:12px 12px 0px 12px;
   height:112px;
   overflow:hidden;
}

html>/**/body #menuBar .level3 .sansImage {height:103px;width:auto;max-width:155px;}
* html #menuBar .level3 .sansImage {height:107px;}

#menuBar .level3 .link a {
   float:left;
   display:block;
   font:bold 16px georgia, serif;
   width:250px;
   margin-right:12px;
}

#menuBar .level3 .sequence a {
   color:#900;
   font-weight:bold;
   text-transform:uppercase;
}

#menuBar .level3 .link_2 a {
   float:left;
   display:block;
   font: bold 16px georgia, serif;
   width:425px;
   margin-right:12px;
}

#menuBar .level3 ul {
   float:left;
   border-left:1px dotted #999;
   padding-left:12px;
}

#menuBar .level3 li {
   margin:0px;
   margin-bottom:10px!important;
   width: 475px;
}
* html #menuBar .level3 li {clear: left;}

#menuBar .level3 .reaction a {
   background:url(reaction.png) 0 2px no-repeat;
   font:bold 11px arial, sans-serif;
   padding-left:15px;
}

#menuBar #ceQueJaiLoupe {
   width:998px;
   border-top : solid 1px #CCCCCC;
   border-right : solid 1px #CCCCCC;
}

* html #menuBar #ceQueJaiLoupe {
   border-right :none;
}

.LM_missingNews{
	position: absolute;
	background: url(http://www.lemonde.fr/medias/www/img/ce_que_jai_manque/depeche/bg.gif) left bottom repeat-x #fff;
	border: solid 1px #d0d0d0;
	z-index: 9000;
	padding: 20px 0;
	width: 998px;
	left: 50%;
	margin-left: -500px;
	top: 158px;
	text-align: left;
}
.pictoTime{
	position: absolute;
	margin-top: -58px;
	left: -1px;
	z-index: 5000;
}
.LM_MN_close{
	position: absolute;
	right: 15px;
	background: url(close.gif) right 4px no-repeat transparent;
	padding-right: 14px;
	color: #717171;
}
.LM_notMember .LM_MN_close{
	bottom: 15px;
}
.LM_MN_close:hover{
	background-image: url(close_on.gif);
	color: #e5b600;
	text-decoration: none;
}
#ceQueJaiLoupe h1{
	padding: 0 15px;
	margin-bottom: 15px;
	font-size: 11px;
}
#ceQueJaiLoupe h1 strong{
	position: absolute;
	top: -5000px;
}
.LM_floatR{
	float: right;
}
.LM_newsContainer{
	background: url(bg_col.gif) 0 0 repeat-y transparent;
}
html > body .LM_newsContainer{
	overflow: hidden;
}
* html .LM_newsContainer{
	height: 1%;
}
.LM_newsHighlight{
	width: 465px;
	float: left;
	margin: 0 13px;
	display: inline;
}
.LM_newsCol{
	width: 225px;
	margin: 0 13px;
	float: left;
	padding-top: 5px;
	display: inline;
}
.LM_newsContainer h2 a{
	font-size: 17px!important;
   font:17px arial,sans-serif!important;
   font-weight:bold!important;
}
.LM_newsCol h2 a{
	font-size: 11px!important;
   
   font:11px arial,sans-serif!important;
   font-weight:bold!important;
}

.LM_newsHLText{
	width: 245px;
	float: left;
}
.LM_newsHighlight p{
	font-size: 13px;
	color: #000;
	margin-bottom: 10px;
}
.LM_newsHighlight img{
	float: left;
	margin-right: 20px;
}
.LM_newsCol h2{
   line-height: 9px!important;
	font-size: 11px;
}
.LM_newsCol li{
	margin-bottom: 10px!important;
   width:auto!important;
}

.LM_newsHLText p
{
   font:13px arial,sans-serif!important;
}
.LM_newsCol ul
{
   border :none!important;
   padding:0px!important;
}
.LM_since{
	color: #525252;
	font-weight: normal;
   font:11px arial,sans-serif!important;
}
.LM_notMember{
	padding: 0 15px;	
}
.LM_notMember p{
	color: #000;
	margin-bottom: 10px;
   font:14px arial,sans-serif!important;
}

#ceQueJaiLoupe {
   background: url(bg.gif) 0 bottom repeat-x transparent;
}

/* FIN Manquer */
