﻿.menuHaut
{
    background: url("fondMenu.gif");
    background-repeat:no-repeat;
    width:1003px;
    position:absolute;
    height:24px;
    text-align:left;
    padding:0px !important;
    margin-top:35px;
    z-index:200;    
}
.menuHaut ul,.menuHaut li
{
    padding: 0px !important;
    margin:0px !important;
}
.menuHaut li a,.menuHaut li a:visited
 {
    display:block;
    font-size:13px;
    padding-top:6px;
    width:auto!important;
    text-decoration:none; 
    color:#FFFFFF;
 }
.menuHaut li a:hover
 {
    font-family:Arial; 
    color:#58585a; 
 }
 
div.myCollapsiblePanel
{
    overflow:hidden;
}
.myCollapsiblePanel ul 
{    
    list-style-type:none;  
    background-color:#ffffff;
    list-style-type:none; 
    display:block;    
    padding-bottom:5px !important; 
}
 .menuHaut .MenuNiveau1_1,.menuHaut .MenuNiveau1_2, .menuHaut .MenuNiveau1_3, .menuHaut .MenuNiveau1_4, .menuHaut .MenuNiveau1_5
 {
    font-family:Arial;
    font-weight:bold;
    color:#ffffff; 
    float:left;
    list-style-type:none; 
    position:absolute;
 
 }
 


 /***menu créer reprendre ...*/
.menuHaut li.MenuNiveau1_1 
 {  
    left:20px;
    
}
 .menuHaut li.MenuNiveau1_1  a 
 {      
    padding-left:20px!important;  
    padding-right:10px!important;
    padding-bottom:4px!important;
 }

 .menuHaut .MenuNiveau1_1 .myCollapsiblePanel
 {  
    width:326px;
 }
 a.lienMenuCreer:hover, a.lienMenuCreer_Selected:hover, .lienMenuCreer a:hover, a:hover .lienMenuCreer
 {
    color:#53b7f6!important;

 }
  /*
 .menuHaut .MenuNiveau1_1 .myCollapsiblePanel ul
 {  

 }*/
 .menuHaut .MenuNiveau1_1 .myCollapsiblePanel ul li
 {
        display:block;
        border-bottom:1px solid #53b7f6;
        margin-left:14px !important;     
        margin-right:10px !important;                 
 }
.menuHaut .MenuNiveau1_1 .myCollapsiblePanel ul li a 
 {  
        color:#53b7f6; 
        display:block;
        padding-bottom:5px!important;        
        padding-left:5px!important;  
 } 
 
  /***menu innover ...*/
.menuHaut li.MenuNiveau1_2 
 {  
    left: 346px;      
 }
 .menuHaut li.MenuNiveau1_2  a 
 {  
    padding-left:20px!important;  
    padding-right:10px!important;
    padding-bottom:4px!important;
 }
 .menuHaut .MenuNiveau1_2 .myCollapsiblePanel
 {  
    width:152px;
 }
 .menuHaut .MenuNiveau1_2 .myCollapsiblePanel ul li
 {
        display:block;
        border-bottom:1px solid #ffc800;
        margin-left:14px !important;   
        margin-right:10px !important;                        
 }
.menuHaut .MenuNiveau1_2 .myCollapsiblePanel ul li a 
 {  
        color:#ffc800; 
        display:block;
        padding-bottom:5px!important;        
        padding-left:5px!important;        
 } 
  a.lienMenuInnover:hover, a.lienMenuInnover_Selected:hover, a.lienMenuInnover_Selected
 {
    color:#ffc800!important;
 }
 
/***********************/
/***menu Former ...*/
.menuHaut li.MenuNiveau1_3 
 {  
    left: 497px;      
 }
 
 .menuHaut li.MenuNiveau1_3  a 
 {  
    padding-left:20px!important;  
    padding-right:10px!important;
    padding-bottom:4px!important;
 }
 .menuHaut .MenuNiveau1_3 .myCollapsiblePanel
 {  
    width:257px;
 }
 .menuHaut .MenuNiveau1_3 .myCollapsiblePanel ul li
 {
        display:block;
        border-bottom:1px solid #ff9c00; 
        margin-left:14px !important;  
        margin-right:10px !important;                               
 }
.menuHaut .MenuNiveau1_3 .myCollapsiblePanel ul li a 
 {  
        color:#ff9c00; 
        display:block;
        padding-bottom:5px!important;        
        padding-left:5px!important;      
 } 
 
   a.lienMenuFormer:hover,a.lienMenuFormer_Selected:hover,a.lienMenuFormer_Selected
 {
    color:#ff9c00!important
 }
/***********************/
/***menu integrer ...*/
.menuHaut li.MenuNiveau1_4 
 {  
    left: 585px;      
 }
 .menuHaut li.MenuNiveau1_4  a 
 {  
    padding-left:20px!important;  
    padding-right:10px!important;
    padding-bottom:4px!important;
 }
 .menuHaut .MenuNiveau1_4 .myCollapsiblePanel
 {  
    width:170px;
 }
 .menuHaut .MenuNiveau1_4 .myCollapsiblePanel ul li
 {
        display:block;
        border-bottom:1px solid #b5cd00;             
        margin-left:14px !important; 
        margin-right:10px !important;                      
 }
.menuHaut .MenuNiveau1_4 .myCollapsiblePanel ul li a 
 {  
        color:#b5cd00; 
        display:block;
        padding-bottom:5px!important;        
        padding-left:5px!important;      
 } 
 
    a.lienMenuIntegrer:hover,a.lienMenuIntegrer_Selected:hover,a.lienMenuIntegrer_Selected
 {
    color:#b5cd00!important
 }
/***********************/
/***menu connaitre ...*/
.menuHaut li.MenuNiveau1_5 
 {  
    left: 754px;      
 }
 .menuHaut li.MenuNiveau1_5  a 
 {  
    padding-left:20px!important;  
    padding-right:10px!important;
    padding-bottom:4px!important;
 }
 .menuHaut .MenuNiveau1_5 .myCollapsiblePanel
 {  
    width:224px;
 }
 .menuHaut .MenuNiveau1_5 .myCollapsiblePanel ul li
 {
        display:block;
        border-bottom:1px solid #189cae;
        margin-left:14px !important;    
        margin-right:10px !important;                       
 }
.menuHaut .MenuNiveau1_5 .myCollapsiblePanel ul li a 
 {  
        color:#189cae; 
        display:block;
        padding-bottom:5px!important;        
        padding-left:5px!important;       
 } 
     a.lienMenuEkoscopie:hover,a.lienMenuEkoscopie_Selected:hover
 {
    color:#189cae!important
 }
 


 /*******************************/
 /*         Menu du bas         */  
 /*******************************/
 
 .ulMenuBas
 {
     list-style: none;
     margin: 0px;
     padding: 0px;
 }
 
 .ulMenuBas li
 {
     display: inline;
 }
 
 .ulMenuBas a, .ulMenuBas span
 {
    margin-left: 16px;
    margin-top: 8px;
    color: #A6A6A6;    
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
    text-decoration: none;
 }
 
 /*******************************/
 /*    Menu Gauche              */
 /*******************************/
 .menu
 {
    background: url("cadreWhiteFooter.gif") no-repeat white bottom;  
    padding-bottom: 10px;
        zoom:1; 
 }
.menu .ulMenuGauche
{
    margin: 0px!important;
    padding: 0px!important;
    background: url("cadreWhiteHeader.gif") white  top no-repeat;
    width:180px;
    padding-top: 10px!important;
    overflow-x:hidden;
    zoom:1;
}
.menu .ulMenuGauche li
{
    margin: 0px!important;
    padding: 0px!important; 
    list-style-type:none; 
    padding-top:5px!important;
    padding-bottom:5px!important;
    margin-left: 15px!important;
}
.menu .ulMenuGauche .liMenuNiveau1
{
    border-bottom: 1px solid #d0d0d0;
    width:155px;  
}
.menu .ulMenuGauche .liMenuNiveau1 *
{
    overflow:visible !important;
}
.menu .ulMenuGauche .liMenuNiveau1 .aMenuNiveau1,.menu .ulMenuGauche .liMenuNiveau1 .aMenuNiveau1:visited, .menu .ulMenuGauche .liMenuNiveau1 span
{
    margin: 0px!important;
    padding: 0px!important;
    font-size:13px;
    font-weight:bold;
    font-family:Arial;
    color:#000000;
    margin-left:0px;
    text-decoration: none;
    display:block; 
    padding-bottom: 3px!important;    
}
.menu .ulMenuGauche .liMenuNiveau1 a.aMenuNiveau1:hover, .menu .ulMenuGauche .liMenuNiveau1 a.aMenuNiveau1_Selected
{
    font-size:13px;
    font-weight:bold;
    font-family:Arial;
    margin: 0px!important;
    padding: 0px!important;
    color:#1898a8; 
    display:block;  
    text-decoration: none;
    padding-bottom: 3px!important;  
}
.menu .ulMenuGauche ul ,.menu .ulMenuGauche ul li
{
    margin: 0px!important;
    padding: 0px!important;
}
.menu .ulMenuGauche ul li
{
    padding-top:5px!important;
    padding-bottom:5px!important;
}

.menu .ulMenuGauche .liMenuNiveau1 ul li a,.menu .ulMenuGauche .liMenuNiveau1 ul  li a:visited, .menu .ulMenuGauche .liMenuNiveau1 ul  li span
{
    color:#707173;
    font-size:11px;
    font-weight:bold;
    font-family:Arial;    
    display:block;
    text-decoration:none;
    border: 0px;
    padding-bottom: 5px!important;       
    }
.menu .ulMenuGauche li ul li a:hover,.menu .ulMenuGauche li ul  li a.aMenuNiveau2_Selected
{
    color:#1898a8;
    font-size:11px;
    font-weight:bold;
    font-family:Arial;    
    margin-left:0px;
    display:block;
    text-decoration:none;
    border: 0px; 

    
    }  
    
 /*   .aMenuNiveau3
    {
        margin-left:10px;
    }
    .aMenuNiveau3:hover
    {
        margin-left:10px!important;
    }    

    .aMenuNiveau4
    {
        margin-left:15px;
    }
    .aMenuNiveau4:hover
    {
        margin-left:15px!important;
    }    */

/***************************************************************/
/*******************Menu      webtv*****************************/
/***************************************************************/
.mois
{
	margin: 0px;
	padding: 0px;
	padding-left: 8px;
	list-style: none;
	font-size: 13px;	
	margin-bottom:5px;
}

.mois li
{	
	display: inline;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 13px;
    font-family: Arial;

}

.mois a
{
	color: #a6a6a6;
	text-decoration: none;
}

.mois a:hover, .mois a:selected
{
	color: white;
} 
 
.ceMoisCi
{
	clear: left;
	color: white;
	margin: 0px;
	padding: 5px 5px;
	font-size:14px;
} 
 


.onglet
{
	padding: 0px;
	margin: 0px;
	list-style: none;
	width: 100%;
	margin-bottom:40px;
}  

.onglet li
{
    float: left;
    margin-left: 0px;
    padding-left: 0px;
}

.onglet a
{
    display: block;
    width: 120px;
    background: url("onglet.gif") no-repeat;
    text-decoration: none;
    text-align: center;
    padding-top: 7px;
    color:#9f9f9f;
    margin: 0px;
    font-size: 10px;
    font-family: Arial;
    font-weight:bold;
    height:23px;
}

.onglet a:hover, .onglet a:selected,.onglet a:active, .ThemeSelected
{
	background: url("ongletOver.gif") no-repeat #1A1A1A !important;
} 

.hrContenu
{
    clear:both;
    height:0px;
    margin:0px;
    padding:0px;
    visibility:hidden;
}


.ulTheme
{
    list-style-type:none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.divResumeActualite ul.ulListeThemeActualite,
.divThemeActualite ul.ulListeThemeActualite
{
    list-style-type:none;
    background-color:#aaaaaa;
    height:30px;
    margin:0px;
    padding:0px; 
}

.divResumeActualite ul.ulListeThemeActualite li,
.divThemeActualite ul.ulListeThemeActualite li
{
    float:left;
    display:inline-block;
    list-style-type: none;
    margin:0px;
    padding:0px;
    text-align:center;
}
.divResumeActualite ul.ulListeThemeActualite li a.lienThemeActualite ,
.divResumeActualite ul.ulListeThemeActualite li span.lienThemeActualite ,
.divThemeActualite ul.ulListeThemeActualite li a.lienThemeActualite ,
.divThemeActualite ul.ulListeThemeActualite li span.lienThemeActualite 
{
    display:block;
    font-family:Arial;
    font-size:13px;
    font-weight:bold; 
    text-decoration: none;
    color:#ffffff;   
    padding-top:10px;
    padding-left:10px;
    padding-left:20px;
    padding-bottom:6px;
    background: url("ombreGriseGrise.gif") no-repeat left top #aaaaaa;
}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelected span.lienThemeActualite, 
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelected a.lienThemeActualite ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelected span.lienThemeActualite, 
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelected a.lienThemeActualite 
{
    background: url("ombreGriseBlanche.gif") no-repeat left top #ffffff;
    color:#1898a8;   
}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremier a.lienThemeActualite ,
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremier span.lienThemeActualite ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremier a.lienThemeActualite ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremier span.lienThemeActualite 
{
    background:none;
    background-color:#FFFFFF;
    color:#1898a8;   
    padding-left:10px;
}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivant a.lienThemeActualite ,
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivant span.lienThemeActualite ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivant a.lienThemeActualite ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivant span.lienThemeActualite 
{
    background: url("ombreBlancheGrise.gif") no-repeat left top #aaaaaa;
    color:#FFFFFF;   
}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualitePremier a.lienThemeActualite ,
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualitePremier span.lienThemeActualite ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualitePremier a.lienThemeActualite ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualitePremier span.lienThemeActualite 
{
    background:none;
    background-color:#aaaaaa;
    color:#FFFFFF;   
    padding-left:10px;
}


.divThemeAgenda ul.ulListeThemeAgenda
{
    background-color:#aaaaaa;
    height:30px;
    margin:0px;
    padding:0px;
    margin-bottom:10px;
}

.divThemeAgenda ul.ulListeThemeAgenda li
{
    float:left;
    display:inline-block;
    list-style-type: none;
    margin:0px;
    padding:0px; 
    text-align:center;
}
.divThemeAgenda ul.ulListeThemeAgenda li a.lienThemeAgenda ,
.divThemeAgenda ul.ulListeThemeAgenda li span.lienThemeAgenda 
{
    display:block;
    font-family:Arial;
    font-size:13px;
    font-weight:bold; 
    text-decoration: none;
    color:#ffffff;   
    padding-top:10px;
    padding-left:10px;
    padding-left:20px;
    padding-bottom:6px;
    background: url("ombreGriseGrise.gif") no-repeat left top #aaaaaa;
}
.divThemeAgenda ul.ulListeThemeAgenda li.liThemeAgendaSelected span.lienThemeAgenda, 
.divThemeAgenda ul.ulListeThemeAgenda li.liThemeAgendaSelected a.lienThemeAgenda 
{
    background: url("ombreGriseBlanche.gif") no-repeat left top #ffffff;
    color:#1898a8;   
}
.divThemeAgenda ul.ulListeThemeAgenda li.liThemeAgendaSelectedPremier a.lienThemeAgenda ,
.divThemeAgenda ul.ulListeThemeAgenda li.liThemeAgendaSelectedPremier span.lienThemeAgenda 
{
    background:none;
    background-color:#FFFFFF;
    color:#1898a8;   
    padding-left:10px;
}
.divThemeAgenda ul.ulListeThemeAgenda li.liThemeAgendaSuivant a.lienThemeAgenda ,
.divThemeAgenda ul.ulListeThemeAgenda li.liThemeAgendaSuivant span.lienThemeAgenda 
{
    background: url("ombreBlancheGrise.gif") no-repeat left top #aaaaaa;
    color:#FFFFFF;   
}
.divThemeAgenda ul.ulListeThemeAgenda li.liThemeAgendaPremier a.lienThemeAgenda ,
.divThemeAgenda ul.ulListeThemeAgenda li.liThemeAgendaPremier span.lienThemeAgenda 
{
    background:none;
    background-color:#aaaaaa;
    color:#FFFFFF;   
    padding-left:10px;
}


.divMenu img
{
    margin-left: 20px;
}

.PlanDuSite
{
    list-style:top;
}
.PlanDuSite div
{
    overflow:visible !important;
}
.PlanDuSite ul
{
    list-style-type:none !important;
    margin:auto!important;
    padding:auto!important;
    padding-left:20px;
    overflow:visible !important;
}
.PlanDuSite a
{
    display:block;
    font-family:Arial;
    font-size:1.1em !important;
    text-decoration: none;  
    color:#000000 !important;
}
.PlanDuSite a:hover
{
    display:block;
    font-family:Arial;
    font-size:1.1em !important;
    text-decoration: none;  
    color:#1898a8 !important;
}

/************************************/
/*      Style menu actualité        */
.ulMenuActualite
{
    background: url("cadreWhiteHeader.gif") no-repeat top white;  
    margin: 0px;
    padding:10px;
}
.ulMenuActualite li,
.ulMenuActualite ul
{
    margin: 0px;
    padding: 0px;
    list-style:none;
}
.ulMenuActualite li
{
    padding-left:15px;
    padding-top:5px;
    padding-bottom:5px;
}
.ulMenuActualite li a
{
    font-size:13px;
    font-weight:bold;
    font-family:Arial;
    margin-bottom:12px;
    color:#1898a8;
    margin-left:0px;
    text-decoration: none;
    border: 0px;
}
.ulMenuActualite li ul li a
{
    color:#000000;
    text-transform:capitalize;
    font-size:12px;
}
.ulMenuActualite li ul li a.selected
{
    color:#1898a8 !important;
}
/************************************/


}
/************************************/

/************************************/
/*      Style boutons               */
a.Retour
{
    background:url(puceRetour.gif) no-repeat left top;
    height:17px;
    padding-left:23px;
    
    font-size:10px;
    font-weight:bold;
    font-family:Arial;
    color:#58585a;
    text-decoration: none;
}
a.Droite
{
    float:right;
    padding-right:15px;
}
/************************************/


/*****Coleur bleu pour créer reprendre...***/


.divResumeActualite ul.ulListeThemeActualite li a.lienThemeActualiteCreer ,
.divResumeActualite ul.ulListeThemeActualite li span.lienThemeActualiteCreer ,
.divThemeActualite ul.ulListeThemeActualite li a.lienThemeActualiteCreer ,
.divThemeActualite ul.ulListeThemeActualite li span.lienThemeActualiteCreer 
{
    display:block;
    font-family:Arial;
    font-size:13px;
    font-weight:bold; 
    text-decoration: none;
    color:#ffffff;   
    padding-top:10px;
    padding-left:10px;
    padding-left:20px;
    padding-bottom:6px;
    background: url("ombreBleuBleu.gif") no-repeat left top #53b7f6;   

}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedCreer span.lienThemeActualiteCreer, 
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedCreer a.lienThemeActualiteCreer ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedCreer span.lienThemeActualiteCreer, 
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedCreer a.lienThemeActualiteCreer 
{
    background: url("ombreBleuBlanche.gif") no-repeat left top #ffffff;
    color:#1898a8;   

}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremierCreer a.lienThemeActualiteCreer ,
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremierCreer span.lienThemeActualiteCreer ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremierCreer a.lienThemeActualiteCreer ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremierCreer span.lienThemeActualiteCreer
{
    background:none;
    background-color:#FFFFFF;
    color:#1898a8;   
    padding-left:10px;
}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivantCreer a.lienThemeActualiteCreer ,
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivantCreer span.lienThemeActualiteCreer ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivantCreer a.lienThemeActualiteCreer ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivantCreer span.lienThemeActualiteCreer 
{
    background: url("ombreBlancheBleu.gif") no-repeat left top #53b7f6;
    color:#FFFFFF;
}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualitePremierCreer a.lienThemeActualiteCreer ,
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualitePremierCreer span.lienThemeActualiteCreer ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualitePremierCreer a.lienThemeActualiteCreer ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualitePremierCreer span.lienThemeActualiteCreer 
{
    background:none;
    background-color:#53b7f6;
    color:#FFFFFF;   
    padding-left:10px;
}



/*****Coleur jaune pour innover...***/


.divResumeActualite ul.ulListeThemeActualite li a.lienThemeActualiteInnover ,
.divResumeActualite ul.ulListeThemeActualite li span.lienThemeActualiteInnover ,
.divThemeActualite ul.ulListeThemeActualite li a.lienThemeActualiteInnover ,
.divThemeActualite ul.ulListeThemeActualite li span.lienThemeActualiteInnover 
{
    display:block;
    font-family:Arial;
    font-size:13px;
    font-weight:bold; 
    text-decoration: none;
    color:#ffffff;   
    padding-top:10px;
    padding-left:10px;
    padding-left:20px;
    padding-bottom:6px;
    background: url("ombreJauneJaune.gif") no-repeat left top #ffc800;   
}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedInnover span.lienThemeActualiteInnover, 
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedInnover a.lienThemeActualiteInnover ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedInnover span.lienThemeActualiteInnover, 
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedInnover a.lienThemeActualiteInnover 
{
    background: url("ombreJauneBlanche.gif") no-repeat left top #ffffff;
    color:#1898a8;   

}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremierInnover a.lienThemeActualiteInnover ,
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremierInnover span.lienThemeActualiteInnover ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremierInnover a.lienThemeActualiteInnover ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremierInnover span.lienThemeActualiteInnover
{
    background:none;
    background-color:#FFFFFF;
    color:#1898a8;   
    padding-left:10px;
}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivantInnover a.lienThemeActualiteInnover ,
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivantInnover span.lienThemeActualiteInnover ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivantInnover a.lienThemeActualiteInnover ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivantInnover span.lienThemeActualiteInnover 
{
    background: url("ombreBlancheJaune.gif") no-repeat left top #ffc800;
    color:#FFFFFF;
}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualitePremierInnover a.lienThemeActualiteInnover ,
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualitePremierInnover span.lienThemeActualiteInnover ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualitePremierInnover a.lienThemeActualiteInnover ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualitePremierInnover span.lienThemeActualiteInnover 
{
    background:none;
    background-color:#ffc800;
    color:#FFFFFF;   
    padding-left:10px;
}

/*****Coleur orange pour former...***/


.divResumeActualite ul.ulListeThemeActualite li a.lienThemeActualiteFormer ,
.divResumeActualite ul.ulListeThemeActualite li span.lienThemeActualiteFormer ,
.divThemeActualite ul.ulListeThemeActualite li a.lienThemeActualiteFormer ,
.divThemeActualite ul.ulListeThemeActualite li span.lienThemeActualiteFormer 
{
    display:block;
    font-family:Arial;
    font-size:13px;
    font-weight:bold; 
    text-decoration: none;
    color:#ffffff;   
    padding-top:10px;
    padding-left:10px;
    padding-left:20px;
    padding-bottom:6px;
    background: url("ombreorangeorange.gif") no-repeat left top #ff9c00;   

}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedFormer span.lienThemeActualiteFormer, 
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedFormer a.lienThemeActualiteFormer ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedFormer span.lienThemeActualiteFormer, 
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedFormer a.lienThemeActualiteFormer 
{
    background: url("ombreorangeBlanche.gif") no-repeat left top #ffffff;
    color:#1898a8;   

}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremierFormer a.lienThemeActualiteFormer ,
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremierFormer span.lienThemeActualiteFormer ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremierFormer a.lienThemeActualiteFormer ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremierFormer span.lienThemeActualiteFormer
{
    background:none;
    background-color:#FFFFFF;
    color:#1898a8;   
    padding-left:10px;
}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivantFormer a.lienThemeActualiteFormer ,
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivantFormer span.lienThemeActualiteFormer ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivantFormer a.lienThemeActualiteFormer ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivantFormer span.lienThemeActualiteFormer 
{
    background: url("ombreBlancheorange.gif") no-repeat left top #ff9c00;
    color:#FFFFFF;
}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualitePremierFormer a.lienThemeActualiteFormer ,
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualitePremierFormer span.lienThemeActualiteFormer ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualitePremierFormer a.lienThemeActualiteFormer ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualitePremierFormer span.lienThemeActualiteFormer 
{
    background:none;
    background-color:#ff9c00;
    color:#FFFFFF;   
    padding-left:10px;
}

/*****Coleur vert pour integrer...***/


.divResumeActualite ul.ulListeThemeActualite li a.lienThemeActualiteIntegrer ,
.divResumeActualite ul.ulListeThemeActualite li span.lienThemeActualiteIntegrer ,
.divThemeActualite ul.ulListeThemeActualite li a.lienThemeActualiteIntegrer ,
.divThemeActualite ul.ulListeThemeActualite li span.lienThemeActualiteIntegrer 
{
    display:block;
    font-family:Arial;
    font-size:13px;
    font-weight:bold; 
    text-decoration: none;
    color:#ffffff;   
    padding-top:10px;
    padding-left:10px;
    padding-left:20px;
    padding-bottom:6px;
    background: url("ombrevertvert.gif") no-repeat left top #b5cd00;   

}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedIntegrer span.lienThemeActualiteIntegrer, 
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedIntegrer a.lienThemeActualiteIntegrer ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedIntegrer span.lienThemeActualiteIntegrer, 
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedIntegrer a.lienThemeActualiteIntegrer 
{
    background: url("ombrevertBlanche.gif") no-repeat left top #ffffff;
    color:#1898a8;   

}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremierIntegrer a.lienThemeActualiteIntegrer ,
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremierIntegrer span.lienThemeActualiteIntegrer ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremierIntegrer a.lienThemeActualiteIntegrer ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremierIntegrer span.lienThemeActualiteIntegrer
{
    background:none;
    background-color:#FFFFFF;
    color:#1898a8;   
    padding-left:10px;
}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivantIntegrer a.lienThemeActualiteIntegrer ,
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivantIntegrer span.lienThemeActualiteIntegrer ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivantIntegrer a.lienThemeActualiteIntegrer ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivantIntegrer span.lienThemeActualiteIntegrer 
{
    background: url("ombreBlanchevert.gif") no-repeat left top #b5cd00;
    color:#FFFFFF;
}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualitePremierIntegrer a.lienThemeActualiteIntegrer ,
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualitePremierIntegrer span.lienThemeActualiteIntegrer ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualitePremierIntegrer a.lienThemeActualiteIntegrer ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualitePremierIntegrer span.lienThemeActualiteIntegrer 
{
    background:none;
    background-color:#b5cd00;
    color:#FFFFFF;   
    padding-left:10px;
}

/*****Coleur turquoise pour ekoscopie...***/


.divResumeActualite ul.ulListeThemeActualite li a.lienThemeActualiteEkoscopie ,
.divResumeActualite ul.ulListeThemeActualite li span.lienThemeActualiteEkoscopie ,
.divThemeActualite ul.ulListeThemeActualite li a.lienThemeActualiteEkoscopie ,
.divThemeActualite ul.ulListeThemeActualite li span.lienThemeActualiteEkoscopie 
{
    display:block;
    font-family:Arial;
    font-size:13px;
    font-weight:bold; 
    text-decoration: none;
    color:#ffffff;   
    padding-top:10px;
    padding-left:10px;
    padding-left:20px;
    padding-bottom:6px;
    background: url("ombreturquoiseturquoise.gif") no-repeat left top #168fa0;   

}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedEkoscopie span.lienThemeActualiteEkoscopie, 
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedEkoscopie a.lienThemeActualiteEkoscopie ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedEkoscopie span.lienThemeActualiteEkoscopie, 
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedEkoscopie a.lienThemeActualiteEkoscopie 
{
    background: url("ombreturquoiseBlanche.gif") no-repeat left top #ffffff;
    color:#1898a8;   

}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremierEkoscopie a.lienThemeActualiteEkoscopie ,
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremierEkoscopie span.lienThemeActualiteEkoscopie ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremierEkoscopie a.lienThemeActualiteEkoscopie ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSelectedPremierEkoscopie span.lienThemeActualiteEkoscopie
{
    background:none;
    background-color:#FFFFFF;
    color:#1898a8;   
    padding-left:10px;
}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivantEkoscopie a.lienThemeActualiteEkoscopie ,
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivantEkoscopie span.lienThemeActualiteEkoscopie ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivantEkoscopie a.lienThemeActualiteEkoscopie ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualiteSuivantEkoscopie span.lienThemeActualiteEkoscopie 
{
    background: url("ombreBlancheturquoise.gif") no-repeat left top #168fa0;
    color:#FFFFFF;
}
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualitePremierEkoscopie a.lienThemeActualiteEkoscopie ,
.divResumeActualite ul.ulListeThemeActualite li.liThemeActualitePremierEkoscopie span.lienThemeActualiteEkoscopie ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualitePremierEkoscopie a.lienThemeActualiteEkoscopie ,
.divThemeActualite ul.ulListeThemeActualite li.liThemeActualitePremierEkoscopie span.lienThemeActualiteEkoscopie 
{
    background:none;
    background-color:#168fa0;
    color:#FFFFFF;   
    padding-left:10px;
}


/*************************************************************/
/******Specifique menu segment formation**********************/
/*************************************************************/

.sousThemeFormation
{
        margin:0px;
        position:absolute;
        top:15px;
        margin-left:240px;
        z-index:0;
}


/************************************/
/*      Style menu Agenda           */
.ulMenuAgenda
{
    margin: 0px !important;
    padding: 0px !important;
    background: url("cadreWhiteHeader.gif") white  top no-repeat;
    padding:10px !important;
    width:150px;
    list-style-type:none;
    overflow:hidden;
}
.ulMenuAgenda li,
.ulMenuAgenda ul
{
    margin: 0px;
    padding: 0px;
 
}
.ulMenuAgenda li
{
    padding-left:3px;
    padding-top: 5px ;
    padding-bottom: 5px;     
    margin-top:-1px!important; 
}
.ulMenuAgenda li.Titre
{
    font-size:13px;
    font-weight:bold;
    font-family:Arial;
    color:#1898a8;
    margin-left:0px;
    margin:0px !important;

    /*margin-bottom:5px!important;*/
    zoom:1;    

}
.ulMenuAgenda li a:link,
.ulMenuAgenda li.selected a
{
    font-size:13px;
    font-weight:bold;
    font-family:Arial;
    color:#000000;
    margin:0px;
    text-decoration: none;
    margin:0px !important; 
}
    
.ulMenuAgenda li ul li a
{
    /*color:#000000;
    text-transform:capitalize; 
    font-size:10px;*/
}

.ulMenuAgenda li a:hover,
.ulMenuAgenda li a:active, 
.ulMenuAgenda li ul li.selected a,
.ulMenuAgenda li a:hover,
.ulMenuAgenda li.selected a
{
    color:#1898a8!important;
}