/* ////// params ///////// */
.scrollPerso .jScrollPaneTrack { background: url(http://media.mth.net/comedie_prod/images/corps/serie/asc/asc_fond.jpg) repeat-y; border-bottom:1px solid #4B2359;border-top:1px solid #4B2359; }
.scrollPerso .jScrollPaneDrag { background: url(http://media.mth.net/comedie_prod/images/corps/serie/asc/asc_barre.jpg) repeat-y; }

#contenu_serie_1 .jScrollPaneDrag { background: url(http://media.mth.net/comedie_prod/images/corps/serie/asc/asc_barre.jpg) repeat-y; }
#contenu_serie_1 .jScrollPaneTrack { background: url(http://media.mth.net/comedie_prod/images/corps/serie/asc/asc_fond.jpg) repeat-y; border-bottom:1px solid #4B2359;border-top:1px solid #4B2359; }
#contenu_serie_5 .jScrollPaneDrag { background: url(http://media.mth.net/comedie_prod/images/corps/serie/asc/asc_barre.jpg) repeat-y; }
#contenu_serie_5 .jScrollPaneTrack { background: url(http://media.mth.net/comedie_prod/images/corps/serie/asc/asc_fond.jpg) repeat-y; border-bottom:1px solid #4B2359;border-top:1px solid #4B2359; }

#annexe .jScrollPaneDrag { background: url(http://media.mth.net/comedie_prod/images/corps/serie/asc/asc_barre.jpg) repeat-y; }
#annexe .jScrollPaneTrack { left:0px;background: url(http://media.mth.net/comedie_prod/images/corps/serie/asc/asc_fond.jpg) repeat-y; border-bottom:1px solid #4B2359;border-top:1px solid #4B2359; }

#texte .scrollPerso .jScrollPaneDrag {background:#FE5BB1;background-image:none;}


.programme .scrollPerso .jScrollPaneTrack {background: url(http://media.mth.net/comedie_prod/images/corps/asc_base/asc_fond.jpg) repeat-y; border-bottom:1px solid #4B2359;border-top:1px solid #4B2359;}
.programme #gauche a.jScrollArrowUp,
.programme #gauche a.jScrollArrowDown {display:none;}
.page_recherche .scrollPerso .jScrollPaneTrack { background:#EA6305; border:1px solid #D15703;}
.page_recherche .scrollPerso .jScrollPaneDrag { background:#FFD000; }




.artiste .scrollPerso .jScrollPaneTrack { background:#E6101E; border:1px solid #C0101E;}
.artiste .scrollPerso .jScrollPaneDrag { background:#FFD000; }


.holder {clear:both;width:100%;}
#liste_episodes {height:300px;overflow:auto;}
#conteneur_scroll_1 {height:452px;overflow:auto;}#conteneur_artiste #conteneur_scroll_1 {width:350px;}
#conteneur_scroll_2 {height:452px;overflow:auto;}
#conteneur_artiste .jScrollArrowUp,#conteneur_artiste .jScrollArrowDown{display:none;}

/* ////// FIN params ///////// */

.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background: #aaa;
}
.left .jScrollPaneTrack {
	left: 0px;
}

#contenu_serie_5 .jScrollPaneTrack {
	left: 0px;
}

#contenu_serie_5 .jScrollPaneContainer.first{
margin-top:10px;
margin-bottom:10px;
}

#contenu_serie_1 .jScrollPaneContainer{
margin-top:5px;

}

.jScrollPaneDrag {
	position: absolute;
	background: #666;
	cursor: pointer;
	overflow: hidden;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	height: 9px;
}
a.jScrollArrowUp:hover {
	/*background-color: #f60;*/
}

a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	height: 9px;
}
a.jScrollArrowDown:hover {
	/*background-color: #f60;*/
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #f00;*/
}