@import url(structure-generale.css);
@import url(structure-liste-article.css);
@import url(commentaires_rub.css);
@import url(question_du_jour_rub.css);
@import url(col-centre-etroite.css);
@import url(col-droite-large.css);
@import url(coul-rub-art.css);
@import url(colorbox.css);

/* --- ARTICLES DE UNE --- */
#articleUne {background:#FFF; width:640px;margin-bottom:20px;}
#articleUne h1 { font-size:33px; font-weight:bold; margin-bottom:7px; }
#listeArticlesUne {background:#FFF; width:470px; float:left; margin:0 20px 0 0; border-top:1px solid #DCDCDC;}
#listeArticlesUne .unArticle { float:left; position:relative; width:470px; padding:20px 0; border-bottom:1px solid #DCDCDC; clear:both;}

.photoUne  { position:relative; margin-top:10px;}
.photoUne .layer-reactions-une { background:transparent url(layer-reactions-une.png) no-repeat scroll left top; font-weight:bold; overflow:hidden; position:absolute; z-index:1100; width:95px; height:29px; top:0; left:0; font-size:13px; padding-left:30px; line-height:29px;}
.photoUne  .layer-reactions-une a {color:#FFF; }
.photoUne img.picto { position:absolute; z-index:1300; width:95px; height:15px; top:15px; left:15px; }
.chapoUne { position:relative; margin-top:10px; font-size:15px;color:#666;}

/* Bloc : L'actualité en vidéos */
.video {background: #505050 url(bg-titre-blocvideo.png) repeat-x left top; }
.video ul { list-style-type:none;  float:left; padding: 0 20px 0 30px; margin-bottom:10px;}
.video li { float:left; margin-right:10px; width:130px}
.video a.link { display:block; color:#fff; font-size:12px; text-align:center; }
.video div.bottom { clear:both;  border-top:1px solid #787878; padding:4px 10px 2px 10px; height:23px;}
.video div.bottom  a.toutesvideos { display:block; float:right; color:#CCC; font-size:11px; line-height:22px; padding-right:23px; background: url(blocs-flechegrisclair.png) no-repeat right center;}
.video div.bottom form { width:310px;}

#search_video { float:left; display: inline; margin:0; padding:0; color:#333; font-size:12px; }
#search_video input.champtexte {background: url(search-video-bg.png) no-repeat left; border:none; width:237px; height:16px; margin:0; padding:2px 10px;}
#search_video input.ok { width:33px; height:20px; margin-bottom:-1px; }

/* Bloc Et aussi 970 */
.module-970 { float:left; margin:0 10px 5px 10px;}
.module-970 .top { width:960px; background:url(bg-titre-bloccentral-dark.png) repeat-x left top; color:#FFF; line-height:20px; height:20px; padding-left:10px; font-size:12px; font-weight:bold;}
.etaussi { float:left; background:#E6E6E6; padding-bottom:10px; width:970px;}
.etaussi ul { float:left; list-style-type:none; margin:0; padding:0 20px; width:925px;}
.etaussi li { float:left; width:144px; margin:0 4px 0 5px; padding:0; }
.etaussi li .surtitre { font-size:11px; color:#005A78;}
.etaussi li a { display:block; padding:5px 0 0 0; color:#333; font-size:12px;}
.etaussi li img { border:1px solid #505050; margin-bottom:5px; }
.etaussi a.acces {background:url(blocs-flechegrise-nomargin.png) no-repeat left; color:#333; padding:1px 0 1px 21px; font-size:11px; border-top:1px solid #BEBEBE; margin-top:5px; line-height:25px;  }