/*QUESTION DU JOUR*/

/*DANS PAGES RUBRIQUE*/
div.kes-rubg{border-bottom:1px solid#DCDCDC;clear:both;padding:10px 0 20px;position:relative;width:470px;}
div.kes-rub{position:relative;font-size:12px;}
div.kes-rub-clear{clear:both;height:1px;overflow:hidden;position:relative;}
div.kes-rub p.kes-tit{position:relative;font-family:Arial,Helvetica,sans-serif;font-size:19px;font-weight:bold;color:#333366;margin:0px 0px 10px 0px;}
                                             
/*SUR FOND FONCE*/
div.kes-rub div.kes-1{position:relative;background-color:#005a78;background-image:url('http://www.leparisien.fr/icons/kesjour/bg_kes_1.gif');background-position:10px 0px;background-repeat:no-repeat;padding:20px;color:#fff;}
div.kes-rub div.kes-1 p.kes{position:relative;font-family:Arial,Helvetica,sans-serif;font-size:19px;font-weight:bold;margin:0px 0px 10px 0px;color:#fff;}
div.kes-rub div.kes-1 p.kes a{color:#fff;}
div.kes-rub div.kes-1 a.nb-reac-kes{background-image:url('http://www.leparisien.fr/icons/kesjour/ico_reac_kes.png');background-position:0px 2px;background-repeat:no-repeat;padding-left:17px;color:#ffffff;}
div.kes-rub div.kes-1 span.nb-votants-kes{background-image:url('http://www.leparisien.fr/icons/kesjour/ico_votants_kes.png');background-position:0px 2px;background-repeat:no-repeat;padding-left:17px;color:#ffffff;}
div.kes-rub div.kes-1 div.vote-oui-non{position:relative;width:235px;height:25px;background-image:url('http://www.leparisien.fr/icons/kesjour/bg_vote_oui_non_kes_1.png');background-position:left top;background-repeat:no-repeat;}
div.kes-rub div.kes-1 div.vote-oui-non span{position:relative;font-size:12px;font-weight:bold;padding-left:25px;top:2px;}
div.kes-rub div.kes-1 div.vote-oui-non span.oui{color:#360;text-transform:uppercase;}
div.kes-rub div.kes-1 div.vote-oui-non span.non{color:#c03;text-transform:uppercase;}
div.kes-rub div.kes-1 div.kes-rep{}
div.kes-rub div.kes-1 div.kes-rep div.oui-non{position:relative;float:left;width:30px;margin-right:10px;text-align:right;text-transform:uppercase;}
div.kes-rub div.kes-1 div.kes-rep div.barre-oui-non{position:relative;float:left;width:200px;height:13px;margin-right:10px;margin-bottom:5px;overflow:hidden;background-color:#c8dcf0;border:1px solid#c8dcf0;background-position:0px 0px;background-repeat:no-repeat;}
div.kes-rub div.kes-1 div.kes-rep div.barre-oui-non.oui{background-image:url('http://www.leparisien.fr/icons/kesjour/barre_oui.png');}
div.kes-rub div.kes-1 div.kes-rep div.barre-oui-non.non{background-image:url('http://www.leparisien.fr/icons/kesjour/barre_non.png');}
div.kes-rub div.kes-1 div.kes-rep div.pourcent{position:relative;float:left;text-align:left;text-transform:uppercase;}

/*SUR FOND CLAIR*/
div.kes-rub div.kes-2{position:relative;background-color:#e6e6e6;padding:10px 20px 5px 20px;color:#333;}
div.kes-rub div.kes-2 input.item{position:relative;float:left;z-index:50;margin-right:8px;}
div.kes-rub div.kes-2 p.question{position:relative;margin:0px 0px 10px 0px;padding-left:30px;font-size:14px;line-height:24px;}
div.kes-rub div.kes-2 div.kes-rep{position:relative;}
div.kes-rub div.kes-2 div.kes-rep div.reponse{position:relative;margin-bottom:5px;color:#333;}
div.kes-rub div.kes-2 div.kes-rep div.barre-rep{position:relative;float:left;width:200px;height:10px;margin-right:10px;margin-bottom:10px;overflow:hidden;background-color:#fff;background-image:url('http://www.leparisien.fr/icons/kesjour/barre_rep.png');background-position:0px 0px;background-repeat:no-repeat;}
div.kes-rub div.kes-2 div.kes-rep div.pourcent{position:relative;float:left;top:-2px;text-align:left;text-transform:uppercase;color:#005a78;}