
/* styles de caractères divers  --------------------------------------------------------------------------------------------------------------------------------------------- */

.fluide { display: inline; }
.centre { text-align: center; }
.lisible, 
.lisible a { 
	color: #ffffff; background: #000000; 
	font-family: Verdana, sans-serif; 
	/*font-size: 0.9em; */
	text-transform: lowercase;
	font-variant : small-caps;
	font-weight: 700;
	}
.lisible a:hover { 
	color: #0179ff;
	}

.gras { font-weight: bold; color : #ff0000; }
.bold { font-weight: bold; }

.whitetext { color: #ffffff; }
.white    { color: #fff; font-weight: bold; font-size: 1.1em; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; background-color: transparent; text-transform: uppercase; }
.white:hover { text-decoration:none ; color:#000000; background-color: #ffffff; }
.fond_blanc { background-color: #ffffff; margin-bottom: 20px; padding: 5px; }

.red { color: #fe210d; }
.red { color: #fe210d; font-weight: bold; }
.date_orange { color: #f04a00; font-weight: bold;  }
.orange { color: #f04a00; text-align: center; }
.marron { color: #4f2700; }
.gris55, .grey { color: #555555; }
.gris69 { color: #696969; }
.gris_dc { background-color: #dcdcdc; }
.attention_faible { color: #b22222 }
.attention_forte { color: #f00; font-weight: bold; }
	
	
.blue   { color: #0099ff; }
.blue:hover { text-decoration:none ; color:#ffa800; }


.normal { color: #888888; font-style: normal; font-variant: normal; font-weight: normal; text-transform: none; }

.provenance  {  color: #454545; font-style: normal; text-transform: lowercase; font-variant: small-caps; font-weight: normal; }

.comment { color: #808080; font-size: .9em; }
a.comment:hover { color: #ff4500; }


.justifie  { font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-align: justify; }



.smalltext  { color: #696969; font-size: 10px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-align: justify; }
.supersmalltext  { color: #696969; font-size: 9px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-align: justify }
.confirm { color: #000; font-size: .9em; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; background-color: #ff8c00; text-align: center; }

.date { color: #787878; font-weight: bold; font-size: 1.1em; }
.stabilo { color: #286299; font-weight: bold; background-color: yellow; text-transform: none; }

.galerieorder  { color: #800000; }
.galerieorder:hover    { color: #ffffff; background-color: #800000; }

.nom  { color: #000; text-transform: capitalize; font-weight : bold; }

.real  { color: #808080; font-size: 10px; background-color: #ffffff; margin-bottom: 5px; }
.real:hover { color: #f5f5f5; font-size: 10px; background-color: #808080; }

.transbox {
	filter:alpha(opacity=95);
	-moz-opacity:0.95;
	opacity: 0.95;
	}

#invalide, .invalide {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5;
	}
	
	
.liste_presse    { margin-left: 50px; margin-bottom: 25px; }
.liste    { color: #000000; }
.liste:hover   { color: #ff7200; text-decoration: none; }
.folder { font-weight: bold; text-transform: capitalize; }
.indente { margin-left: 25px; margin-bottom: 25px; }
.interne { font-weight: normal; text-transform: none; margin-right: 5px; }
.no_file { margin-left: 34px; margin-right: 5px; }
.icone_presse { width: 34px; height: 35px; margin-right: 5px; }
.taille { margin-left: 10px; color: #444444; }

.equipe_nom { font-weight: bold; font-size: 1.3em; text-transform: capitalize;  }
.equipe_poste { font-size: 1.1em; }
.equipe_contactez { font-size: 0.9em; color: #555555; }

.notule { margin-bottom: 5px; }
.flamand { font-style: oblique; margin-bottom: 5px; }

.titre_action { text-transform: capitalize; font-size: 1.2em; color: #ff1212; font-weight: bold; }
.paragraphe_actions { margin-bottom: 35px; }

.style { color: #696969; text-decoration: none; }
.style:hover { color: #ffffff; background-color: #696969; text-decoration: none; }

.alpha { text-align: center; margin: 10px; color: #cccccc; }
.alpha a { color: #808080; margin: 0 3px; }
.alpha a:hover { color: #dd3333; }

.reservation_admin { background-color: #ffffff; margin-bottom: 50px; padding: 10px; }
.reservation_nombre { background-color: #c0c0c0; text-align: center; color: #000000; }
.reservation_nombre strong { font-size: 1.25em; font-weight: 800; }
.reservation_exp_carte { color: #fe210d; }
.reservation_exp_carte_over { color:#ff8c00 ; }




















