@charset "utf-8";
/* CSS Document */

dl, dt, dd, ul, li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}


#menu dl {
	float: left;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 0px;
}

#menu dt {
	text-align: right;
}

#menu dd {
	position:absolute;
	overflow:visible;
	padding-left : 10px;
	width: 200px;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-position: bottom;
	background-repeat: repeat-y;
	filter : alpha(opacity=90);
	-moz-opacity : 0.9;
	text-indent: 10px;
	z-index: 100;
}


#menu li {
	border: 0 none;
	padding-top: 5px;
}

#menu li a{
	color: #FFFFFF;
	font-weight: normal;
}


#menu li a:hover {
	color:#000000;
}

#smenu1 {
	background-image: url(fd_ss_menu_01.gif);
}
#smenu2 {
	background-image: url(fd_ss_menu_02.gif);
}
#smenu3 {
	background-image: url(fd_ss_menu_03.gif);
}
#smenu4 {
	background-image: url(fd_ss_menu_04.gif);
}
#smenu5 {
	background-image: url(fd_ss_menu_05.gif);
}
#smenu6 {
	background-image: url(fd_ss_menu_06.gif);
}
#menu {
	height: 38px;
	background-image: url(fd_menu_hor.jpg);
	background-repeat: no-repeat;
}

#menuleft{	
	background-image: url(fd_sousmenu_left_right.gif);
	background-repeat: repeat-y;
	background-position: right;
	width:160px;	}
	

.menugauche {
	font-family:  Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	margin-left: 0px;
	padding-top : 5px;
	margin-bottom: 5px;
	width: 160px;
	list-style:none;
	background-repeat: repeat-y;
	background-position: right;
	}
	
	
.menugauche a {
	color: #333333;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	}	
		
.menugauche a:hover {
	color: #0099CC;
	}	
		
.menugauche_on {
	font-size: 12px;
	color:#0099CC;
	font-weight:bold;

}
	
.menugauche03_on {
	padding-left: 20px;
	padding : 5px;
	font-size: 10px;
	background-image:url(pointill_hor.gif);
	background-repeat: repeat-x;
	background-position: bottom;

}
	
.menugauche03 {
	color: #0099CC;
	padding : 10px;
	background-image:url(pointill_hor.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	}
	
#finmenugauche {
margin-left:-22px;}



#fil_ariane {
	font-family:Tahoma, Arial, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #666666;
}

#fil_ariane a {
	color: #666666;
	text-decoration: none;
}
