@media print {
    div.article {
	padding:    15px;
	text-align: left;
	width:      728px;
    }

    div.article #content {
	border: 0;
    }

    div.article #date {
	font-size: 1em;
	color:     #000000;
    }

    div.article .border-dotted-top-bot-62991F,
    div.article  #url-form,
    div.article #logotype,
    div.article #css-select-city,
    div.article .global-nav-container,
    div.article .dp-selector,
    div.article .roxen-action-toolbar-on,
    div.article .roxen-action-toolbar-off,
    div.article #margin-1,
    div.article #margin-2,
    div.article #margin-3,
    div.article #margin-4,
    div.article #margin-5,
    div.article #ad1,
    div.article #ad3,
    div.article #mt-rating,
    div.article #aggregated-content-wrap,
    div.article #mt-comments,
    div.article #nav-search,
    div.article .dotted-line-180,
    div.article .metro-generated-fact,
    div.article .metro-generated-quote,
    div.article .related-stories-bg,
    div.article .tools,
    div.article .footer-links,
    div.article .classifieds-bg,
    div.article .quicklinks, 
    div#column-4-5 {
	display:none;
    }

    div.article .col-567 {
	width: 728px;
    }

    div.article h1 {
	margin-top: 30px; 
    }

    div.article .v-small {
	color: #000000;
	font-size: 1em;
    }

    div.article .border-dotted-bottom-62991F {
	border:0;
    }

    /* this is the same as the class padding-top-10 and color-000 */
    div.article .article-paragraph {
	padding-top:10px;
	color:#000000;
    }    
}

@media all {
    body.print div.article {
	padding:    15px;
	text-align: left;
	width:      728px;
    }

    body.print div.article #content {
	border: 0;
    }

    body.print div.article #date {
	font-size: 1em;
	color:     #000000;
    }

    body.print div.article .border-dotted-top-bot-62991F,
    body.print div.article  #url-form,
    body.print div.article #logotype,
    body.print div.article #css-select-city,
    body.print div.article .global-nav-container,
    body.print div.article .dp-selector,
    body.print div.article .roxen-action-toolbar-on,
    body.print div.article .roxen-action-toolbar-off,
    body.print div.article #margin-1,
    body.print div.article #margin-2,
    body.print div.article #margin-3,
    body.print div.article #margin-4,
    body.print div.article #margin-5,
    body.print div.article #ad1,
    body.print div.article #ad3,
    body.print div.article #mt-rating,
    body.print div.article #aggregated-content-wrap,
    body.print div.article #mt-comments,
    body.print div.article #nav-search,
    body.print div.article .dotted-line-180,
    body.print div.article .metro-generated-fact,
    body.print div.article .metro-generated-quote,
    body.print div.article .related-stories-bg,
    body.print div.article .tools,
    body.print div.article .footer-links,
    body.print div.article .classifieds-bg,
    body.print div.article .quicklinks, 
    body.print div#column-4-5  {
	display:none;
    }

    body.print div.article .col-567 {
	width: 728px;
    }

    body.print div.article h1 {
	margin-top: 30px; 
    }

    body.print div.article .v-small {
	color: #000000;
	font-size: 1em;
    }

    body.print div.article .border-dotted-bottom-62991F {
	border:0;
    }

    /* this is the same as the class padding-top-10 and color-000 */
    body.print div.article .article-paragraph {
	padding-top:10px;
	color:#000000;
    }
}
