body {color:#000; font:normal 87.5%/1.6 "Times New Roman", Times, serif;}

p, ul, li, dl, dt, dd {font-size:1em;}
p, ul {margin:0.3cm 0; list-style:none;}

form {font:normal 1em "Times New Roman", Times, serif;}
form * {vertical-align:middle;}

a {color:#d10014;}
img {border:0;}

.clearer {height:0; clear:both; font-size:0; line-height:0;}

/*Logo*/
h1 {margin:0 0 0.3cm 0;}
h1 img {display:block;}

/*Titres sections*/
h2 img {display:none;}
h2 {margin:0 0 0.3cm 0; color:#d10014; font-size:1.8em; font-weight:bold;}

/*Autres titres*/
h3 {margin:0 0 0.4cm 0; color:#d10014; font-size:1.5em;}
h4 {margin:0 0 0.4cm 0; font-size:1.2em;}
h5 {margin:0 0 0.4cm 0; font-size:1em;}

/* A ne pas afficher */
#universIndependants, #sideMenus, #sideDivers, #footer, .nav, .outils, .tri, .more, .zoom, .pub, .submit {display:none;}

/* Chemin de navigation */
#track {margin:0.2cm 0; list-style:none;}
#track li {display:inline;}

/* Contenu */
.infoLiberte span, span.adresse {display:block; margin:0.5cm; font-size:1.2em; font-weight:bold; text-align:center;}

.thumbs img {display:block;}

.picto {float:right;}

#main .item {padding-top:0.4cm; clear:both; border-top:1px solid black;}
#main .item .visuels, #main .item .thumbs, .actualites .thumbs {display:block; padding-bottom:0.4cm; width:4cm; float:left;}
#main .item .minimize {width:13cm; float:right;}
#main .item p {margin:0; padding-bottom:0.4cm;}

.univers #main .item, .herosHome #main .item {padding:0 0.5cm 0.5cm 0; width:3.5cm; clear:none; float:left; border:0;}

.complexe .field {margin:0.3cm 0;}
.complexe fieldset {margin:0.1cm 0;}

.dispoProduits, .legal {clear:both;}
.legal {font-style:italic;}

.comments, .buyOrDelete {width:6cm; float:left;}
.buyOrDelete label {display:block; text-align:center;}

#main ul {list-style:square;}

/*tmp:événements*/
#popup.playstation3 #main {padding:0.2cm; border:1px solid #000;}
#popup.playstation3 #main h2 {margin-right:0.2cm; float:left;}
#popup.playstation3 #main h2 img {display:block;}
#popup.playstation3 #identite {margin-top:0; color:#dd0404; font-size:1.2em; font-weight:bold;}
#popup.playstation3 #impression {display:none;}
#popup.playstation3 p.legal {margin-bottom:0;}
