/*-------------------- Navigation Principale --------------------------*/

#navcontainer ul
{
	padding: 0;
	margin: 0;
}

#navcontainer ul li {
	display: inline;
}

#navcontainer ul li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	padding-top:0px;
	color:#999999;
	text-decoration: none;
	float: left;
	border-right: 1px solid #ffffff;
	width:105px;
	line-height:20px;
	background-color:#000000;
}

#navcontainer ul li a#boutique {
	width:106px;
	color:#FFFFFF;
	border-right: none;
	background:url(http://www.tv8montblanc.com/images/picto_fleche_boutique.gif) right center no-repeat;
	background-color:#0066cc;
}

#navcontainer ul li a:hover {
	color:#ffffff;
}

#navcontainer ul li a:hover#boutique {
	border-right: none;
	background:url(http://www.tv8montblanc.com/images/picto_fleche_boutique_over.gif) right center no-repeat;
	background-color:#0099FF;
}

#navcontainer ul li#active a {
	background-color:#e30f26;
	color:#ffffff;
}

#navcontainer ul li#active a:hover {

}

#navcontainer ul li#active a#boutique {
	background:url(http://www.tv8montblanc.com/images/picto_fleche_boutique.gif) right center no-repeat;
	background-color:#0066cc;
}

#navcontainer ul li#active a:hover#boutique {

}

