body{
background: #fff url(body.png) no-repeat center 0;
color: #034766;
font-family: "Trebuchet MS", arial, helvetica, sans-serif;
font-size: 62.5%;
margin:15px 0 2.5em 0;
}
#screen{
position:absolute;
background: url(cadre.png) repeat-y right top;
font-size: 1.15em;
width: 978px;
padding: 0 0 0 13px;
margin: 0 auto;
margin-top:-8px;
margin-bottom: 2em;
position: relative;
}
/*--- footer --*/
#logo_pied{
width:101px;
height:43px;
position:absolute;
right:5px;
}
#adress{
color:#FABB00;
position:absolute;
right:187px;
margin-top:3px;
font-size:1.2em;
margin-left:440px;
background-color:#061128;
}
#acces_pratiques{
color: #fff;
float:left;
width:450px;
margin-left:0;
padding-left:0;
background-color:#061128;
}
#acces_pratiques li{
display: block;
float: left;
padding: 20px 0.8em 0 0.8em;
background:red;
}
#acces_pratiques a{
color:#cfcfcf;
font-weight:bold;
text-decoration: none;
}
#acces_pratiques li:hover,
#acces_pratiques a:hover,
#acces_pratiques li:focus,
#acces_pratiques a:focus{
color: #fff;
}
#acces_pratiques li#haut_page{
background: url(haut_page.png) no-repeat 50% 0;
}
#acces_pratiques li#plan_site{
background: url(plan_site.png) no-repeat 50% 0;
}
#acces_pratiques li#contact{
background: url(contact.png) no-repeat 50% 5px;
}
#acces_pratiques li#accessibilite{
background: url(accessibilite.png) no-repeat 50% 0;
}
#acces_pratiques li#goodies{
background: url(goodies.png) no-repeat 50% 0;
}
#acces_pratiques li#mentions_legales{
background: url(mentions_legales.png) no-repeat 50% 0;
}
/*-- Colonne droite --*/
#resa{
	background:url(reserver.gif) no-repeat top left;
	background-color:#3C649B;
  padding:15px 0 15px 80px;
	border-bottom:1px solid #F8B457;
}
#resa a{
color:#fff;
text-decoration:none;
font-weight:bold;
font-size:1.2em;
background-color:#3C649B;
}
#resa a span{
font-size:1.8em;
font-weight:normal;
}
#col3_t3 #resa a:hover,
#col3_t3 #resa a:focus,
#col2 #resa a:hover,
#col2 #resa a:focus{
 color:#FFA516;
}
#Hcopy{
margin:10px;
padding:10px 10px 50px 10px;
border-top:1px dotted #004f75;
border-bottom:1px dotted #004f75;
font-style:italic;
font-size:0.99em;
}
#col3_t3 h3{
padding-left:15px;
font-weight:normal;
}
#col3_t3 ul{
margin-left:-25px;
}
#rappel{
border-bottom:1px dotted #004f75;
text-align:center;
padding-top:43px;
padding-left:35px;
background:url(linkimage.gif) no-repeat center center;
}
#rappel a{
 color:#fff;
 text-decoration:none;
 background-color:#1D1C68;
 line-height:1.3em;
}
#col3_t3 #rappel a:hover,
#col3_t3 #rappel a:focus,
#col3 #rappel a:hover,
#col3 #rappel a:focus{
color:#FFA516;
}
#rappel .question{
 color:#fff;
 font-size:1.3em;
 font-weight:bold;
}
#rappel .ou{
display:block;
padding-top:10px;
margin-left:-35px;
color:#004C9A;
}
/*-- Generiques --*/
a:hover,
a:focus{
color:#ff0000;
}
.cache{
position:absolute;
top:-10000px;
height:1px;
width:1px;
font-size:0;
overflow:hidden;
}
img{
border:none;
}
.marge_bas{
margin-bottom:60px;
}
.nopuce{
list-style-type:none;
}
#screen #evit a{
display:block;
position:absolute;
right:40px;
width:155px;
color:#fff;
font-weight:bold; 
padding:1px;
text-decoration:none;
z-index:2;
}
#screen #evit a:focus{
color:#044195;
}
.cboth{
 clear:both;
}
#Bd_orange{
width:100%;
height:31px;
background-color:#F28D00;
}
.bold{
 font-weight:bold;
}
/*---*/
/*-- bandeau --*/
#head, #head_interieur{
background:url(deco_bandeau.jpg) no-repeat -1px 0;
height:247px;
width:978px;
position:relative;
}
#head_interieur{
background:url(deco_bandeau_interieur.jpg) no-repeat -1px 0;
height:120px;
}
#menu_site,#menu_site_interieur{
margin:40px 0 0 0;
padding:0;
position:absolute;
right:-25px;
list-style-type:none;
}
#menu_site{
top:2px;
}
#menu_site_interieur li a{
display:block;
margin-left:40px;
margin-right:5px;
}
#menu_site li a{
display:block;
text-decoration:none;
color:#044195;
font-weight:bold;
padding:23px 0 0 40px;
 width:145px;
}
#menu_site li a:hover,
#menu_site li a:focus,
#menu_site_interieur li a:hover,
#menu_site_interieur li a:focus,
#menu_site_interieur #site_courant a:hover,
#menu_site_interieur #site_courant a:focus{
color:#ff0000;
}
#menu_site #handicap a{
padding:23px 0 0 70px;
}
#affaire{
width:280px;
height:41px;
background:url(finistere_affaires.png) no-repeat bottom left;
}
#nautisme{
width:280px;
height:41px;
background:url(finistere_nautisme.png) no-repeat bottom left;
}
#randonnees{
width:280px;
height:41px;
background:url(finistere_randonnees.png) no-repeat bottom left;
}
#enfamille{
width:280px;
height:41px;
background:url(finistere_enfamille.png) no-repeat bottom left;
}
#handicap{
width:310px;
height:30px;
background:url(finistere_handicap.png) no-repeat top left;
position:relative;
left:-30px;
}
#menu_site_interieur{
top:-25px;
right:4px;
}
#menu_site li{
height:43px;
}
#menu_site_interieur li.item{
margin:0;
padding:0 0 0 50px;
background:url(acces_minisites_item.png) no-repeat bottom right;
min-width:15em;
}
#site_courant{
margin:0;
background:url(site_courant.png) no-repeat bottom right;
padding:0 0 0 50px;
min-width:15em;
}
#menu_site_interieur #site_courant a,
#evit a{
text-decoration:none;
color:#FA5800;
font-weight:bold;
}
#menu_site_interieur li a{
text-decoration:none;
color:#044195;
font-weight:bold;
}
#logo, #logo_interieur{
position:absolute;
width:157px;
height:104px;
}
#logo{
top:0;
left:-180px;
}
#logo_interieur{
left:-160px;
top:0;
}
/*-- menu --*/
#menu, #menu_interieur{
margin:5px 1px 0 0;
padding:0;
}
#menu li, #menu_interieur li{
float:left;
width:23.5%;
height:80px;
background-color:#F28D00;
list-style-type:none;
border-left:1px solid #fff;
border-bottom:1px solid #F28D00;
padding:20px 0 0 13px; 
}
#menu li{
height:130px;
}
#menu_interieur li{
height:76px;
padding:10px 0 0 13px;
border-bottom:10px solid #c0c0c0;
}
#equip{
border-left:1px solid #F28D00;
background:url(eqp_accueil.png) no-repeat bottom left; 
}
#equip:hover,
#equip_int:hover,
#acti:hover,
#acti_int:hover,
#heber:hover,
#heber_int:hover,
#info:hover,
#info_int:hover,
#equip:hover a,
#equip_int:hover a,
#acti:hover a,
#acti_int:hover a,
#heber:hover a,
#heber_int:hover a,
#info:hover a,
#info_int:hover a,
#equip:focus,
#equip_int:focus,
#acti:focus,
#acti_int:focus,
#heber:focus,
#heber_int:focus,
#info:focus,
#info_int:focus,
#equip:focus a,
#equip_int:focus a,
#acti:focus a,
#acti_int:focus a,
#heber:focus a,
#heber_int:focus a,
#info:focus a,
#info_int:focus a{
background-color:#FA5800;
}
#equip a:focus,
#acti a:focus,
#heber a:focus,
#info a:focus{
background-color:#FA5800;
}
#equip_int{
background:url(eqp_menu_inter.png) no-repeat bottom left;
}
#acti{
background:url(act_accueil.png) no-repeat bottom left;
}
#acti_int{
background:url(act_menu_inter.png) no-repeat bottom left;
}
#heber{
border-bottom:1px solid #fff;
background:url(heber_accueil.png) no-repeat bottom left;
}
#heber_int{
background:url(hbg_menu_inter.png) no-repeat bottom left;
}
#info{
background:url(info_accueil.png) no-repeat bottom left;
}
#info_int{
background:url(info_menu_inter.png) no-repeat bottom left;
}
#menu li a, #menu_interieur li a{
color:#fff;
background-color:#F28D00;
font-size:1.7em;
text-decoration:none;
}
#menu_interieur li a{
font-size:1.6em;
}
#menu_interieur li.actif{
background-color:#FA5800;
border-bottom:10px solid #FA5800;
}
#menu_interieur li.actif a{
background-color:#FA5800;
} 
/*-- Menu Secondaire --*/
#menu_secondaire{
background-color: #ffa516;
border-top: 1px solid #55706b;
color: #214343;
/*#55706b*/
font-size: 1.2em;
margin: 0 0 0.8em 0;
list-style-type:none;
padding:2.1em 0 0 0;
}
#menu_secondaire li{
border-bottom: 1px solid #000;
padding: 0;
margin:0;
}
#menu_secondaire em{
font-style: normal;
font-weight: 700;
}
#menu_secondaire a{
background-color:transparent;
color: #214343;
/*color:#55706b;*/
text-decoration: none;
padding: 0.3em  0.5em;
display: block;
}
.first_item{
border-top: 1px solid #000;
}
#menu_secondaire li a.Ractive{
 background-color:#FF8800;
 font-weight:bold;
 color:#fff;
}
#col1_t1 #menu_secondaire a:hover,
#col1_t1 #menu_secondaire a:focus{
color:#fff;
background-color:#fa5700;
}
/*---structure contenu ---*/
/* accueil */
#col1,#col2,#col3{
 float:left;
 min-height:600px; 
}
#col1{
 width:36.9%;
 padding-left:125px;
 padding-right:0.3em;
}
#col2{
 width:24.7%;
 border-right:1px solid black;
 background-color:#6C93CA; 
}
#col3{
width:24.5%;
}
#carte{
 padding:5px;
 font-size:2em;
 color:#ffa516;
 text-decoration:none;
 display:block;
 width:230px;
 height:148px;
 background:#fff url(carte_accueil.png) no-repeat bottom left;
 border-bottom:1px solid #ffa516; 
}
#carte:hover,
#carte:focus{
color:#ff0000;
}
#plus{
 border-bottom:1px solid #ffa516; 
}
#plus li a{
 color:#DF7E00;
 font-size:1.1em;
 text-decoration:none;
 font-weight:bold;
}
#plus li a:hover,
#plus li a:focus{
 color:#ff0000;
}
#meteo{
 display:block;
 padding-top:40px;
 padding-left:30px;
 text-decoration:none;
 color:#fff;
 font-weight:bold;
 width:210px;
 height:3.3em;
 background:#6C93CA url(meteo.png) no-repeat top left;
 border-bottom:1px solid #F8B457;
}
.plussize{
 font-size:1.2em;
}
.plus{
 color:#DF7E00;
}
#meteo span{
 display:block;
 font-size:2em;
 padding-left:110px;
 margin-top:-5px;
}
#meteo:hover,
#meteo:focus{
 color:#ffa516;
}
/*#col1 a{
color:#109DDD;
}*/
#col1 a:hover,
#col1 a:focus{
color:#ff0000;
}
/*-- class pour image accueil --*/
.fleft{
float:left;
margin:5px 5px 5px -123px;
}
/*interieur*/
#col1_t1,#col2_t2,#col3_t3{
 float:left;
 min-height:600px; 
}
#col1_t1{
 width:17%;
 margin-top:-30px;
}
#col2_t2{
 width:55.5%;
 border-right:1px solid black;
 padding-left:25px;
 padding-bottom:30px;
}
#col3_t3{
width:24.5%;
}
#col1_t1 a:hover,
#col2_t2 a:hover,
#col3_t3 a:hover,
#col1_t1 a:focus,
#col2_t2 a:focus,
#col3_t3 a:focus
{
color:#ff0000
}
#ariane{
padding-left:20%;
}
#ariane a{
color: #034766;
text-decoration:none;
}
#ariane a:hover,
#ariane a:focus{
color:#ff0000;
}
#titre-cadre{
min-height:46px;
border-top:1px solid #000;
border-bottom:1px solid #000;
margin-left:-25px;
padding-left:25px;
}
#titre-int{
color: #253F5C;
font-size: 2em;
font-weight: normal;
margin: 0;
background: #fff;
min-height:56px;
}
.texte_orange,
h3.texte_orange{
color: #ff8c00;
font-weight: bold;
}
.oft_data{
padding-bottom:10px;
background:url(ligne.png) no-repeat bottom left;
}
.oft_data h3{
color:#A85417;
}
a,
.oft_data a,
.col2_t2_g a,
.col2_t2_r a{
color:#0A6890;
}
.col2_t2_g, 
.col2_t2_r{
float:left;
width:48%;
padding-top:25px;
}
.col2_t2_r{
margin-left:20px;
}
ul.adresse{
list-style-type:none;
margin:0;
padding:0;
}
.col2_t2_bottom{
clear:both;
background:url(doubletraitvertical.png) repeat-y left;
background-color:#DFE9EC;
padding:1px 3px 3px 15px;
width:90%;
}
.encadre_bleu{
 padding:3px 3px 3px 6px;
 background:url(doubletraitvertical.png) repeat-y left;
background-color:#E7F0F3;
}
.encadre_bleu a:hover,
.encadre_bleu a:focus{
color:#ff0000;
}
.col2_t2_bottom ul
.encadre_bleu ul{
	margin-top:-10px;
  margin-left:-15px;
}
.col2_t2_bottom ul li ul,
.col2_t2_bottom ul li,
.encadre_bleu ul li ul,
.encadre_bleu ul{
	margin-top:10px;
}
.nomarge{
	margin-top:0;
}
#toolbox{
	margin:0;
	padding:0;
	float:right;
	width:28px;
	min-height:65px;
}
#toolbox li{
  list-style-type:none;
	margin:0;
	padding:0;
	height:28px;
}
.ecard{
 display:block;
 float:left;
 width:25%;
 min-height:100px;
 background-color:#F7F7F7;
 border:1px solid #DDDDDD;
 text-align:center;
 padding:1em;
}
.ecard a{
 display:block;
 width:6em;
 background-color:#fff;
 color:#109DDD;
 font-weight:bold;
 border:1px solid #DDDDDD;
 margin:5px auto 0 auto;
 text-decoration:none;
}
/* recherche */
#recherche{
border-bottom: 1px solid #55706b;
margin-top: 0.5em;
padding: 0 0 0.3em 0.5em;
}
#recherche label{
color: #f28d00;
font-size: 1.2em;
font-weight: 700;
}
#mots_cle{
width:9em;
}
#envoi{
background:url(fond_rech.png) top left no-repeat;
width:30px;
height:22px;
border:none;
padding-left:12px;
font-weight:bold;
color:#3C649B;
}
#recherche2{
margin-top: 0.5em;
padding: 0 0 0.3em 0.5em;
}
#recherche2 label{
color: #fff;
font-size: 1.4em;
font-weight: 700;
}
#recherche2 #mots_cle{
width:10em;
background-color:#6C93CA;
color:#fff;
border:1px solid #fff;
}
#recherche2 #mots_cle:hover,
#recherche2 #mots_cle:focus{
background-color:#6184B5;
}
#recherche2 #envoi{
background:url(fond_rech2.png) top left no-repeat;
width:80px;
height:26px;
border:none;
font-weight:bold;
color:#3C649B;
vertical-align:top;
}
#chapo{
 font-weight:bold;
}
.result{
 text-decoration:none;
 padding:0.3em 0 1.3em 0;
 border-bottom:1px dotted #004000; 
}
/*--- formulaires ---*/
span.obligatoire{
color:#f28d00;
font-weight:bold
}
#envoi_ami label,
#Fcontact .labd{
float:left;
width:18em;
text-align:right;
margin-right:5px;
}
#envoi_ami .valider,
#Fcontact .valider,
#envoi_ecard .valider{
color: #fff;
background: #f90;
border: 1px solid #f90;
font-size: 1em;
font-weight: 700;
padding: 0 0.2em;
}
#envoi_ecard input{
width:100%;
}
#envoi_ecard .valider{
width:6em;
}
#Fcontact fieldset{
 margin:0 0 0 -33px;
 border:none;
}
.form_col_g,
.form_col_d{
 float:left;
 width:49%;
}
#legend_intro{
 font-size:1.2em;
 font-weight:bold;
 text-align:center;
 padding:0.3em;
 color:#fff;
 background-color:#E38800;
}
.orange_bottom{
 margin:5px 0 0 0;
 padding:10px 0 0 0;
}
/*---Footer ---*/
#footer{
 width:978px;
 min-height:73px;
 background:url(pied_page.png) no-repeat top left;
 position:relative;
 bottom:0;
 margin-left:auto;
 margin-right:auto;
 margin-top:-23px;
 right:-7px;
}
