body{
color: #034766;
font-family: "Trebuchet MS", arial, helvetica, sans-serif;
font-size: 62.5%;
margin:15px 0 2.5em 0;
}
/*-- Generiques --*/
img{
border:none;
}
.marge_bas{
margin-bottom:60px;
}
.nopuce{
list-style-type:none;
}
.cboth{
 clear:both;
}
/*---structure contenu ---*/
#evit,#h1,#menu,#menu_site_interieur,#menu_interieur,#ariane,#toolbox{
display:none;
}
#col1,#col3{
display:none; 
}
#col2{
 width:100%
}
/*interieur*/
#col1_t1,#col3_t3{
 display:none;; 
}
#col2_t2{
 width:100%;
}
#titre-cadre{
min-height:46px;
border-top:1px solid #000;
border-bottom:1px solid #000;
margin-left:-25px;
padding-left:25px;
}
#titre-int{
color: #253F5C;
font-size: 2em;
font-weight: normal;
margin: 0;
background: #fff;
min-height:56px;
}
.texte_orange,
h3.texte_orange{
color: #ff8c00;
font-weight: bold;
}
.oft_data{
padding-bottom:10px;
background:url(ligne.png) no-repeat bottom left;
}
.oft_data h3{
color:#A85417;
}
a,
.oft_data a,
.col2_t2_g a,
.col2_t2_r a{
color:#0A6890;
}
.col2_t2_g, 
.col2_t2_r{
float:left;
width:48%;
padding-top:25px;
}
.col2_t2_r{
margin-left:20px;
}
ul.adresse{
list-style-type:none;
margin:0;
padding:0;
}
.col2_t2_bottom{
clear:both;
background:url(doubletraitvertical.png) repeat-y left;
background-color:#DFE9EC;
padding:1px 3px 3px 15px;
width:90%;
}
.encadre_bleu{
 padding:3px 3px 3px 6px;
 background:url(doubletraitvertical.png) repeat-y left;
background-color:#DFE9EC;
}
.encadre_bleu a:hover,
.encadre_bleu a:focus{
color:#ff0000;
}
.col2_t2_bottom ul
.encadre_bleu ul{
	margin-top:-10px;
  margin-left:-15px;
}
.col2_t2_bottom ul li ul,
.col2_t2_bottom ul li,
.encadre_bleu ul li ul,
.encadre_bleu ul{
	margin-top:10px;
}
.nomarge{
	margin-top:0;
}
#toolbox{
	margin:0;
	padding:0;
	float:right;
	width:28px;
	min-height:65px;
}
#toolbox li{
  list-style-type:none;
	margin:0;
	padding:0;
	height:28px;
}
/* recherche */
#recherche{
display:none;
}
#chapo{
 font-weight:bold;
}
/*---Footer ---*/
#footer{
 display:none;
}
