#solution #solutiontop{ height: 4px; background: url(content_top_01.png) 0 0 no-repeat;}
#solution #solutiononglets{ width: 536px; min-height: 355px; background: url(content_side_01.png) 0 0 repeat-y;}
* html #solution #solutiononglets{ height: 355px;}
#solution #solutiononglets dd ul{ margin: 10px 0 0 35px; padding: 0;}
#solution #solutionbottom{ height: 3px; background: url(content_bottom_01.png) 0 -1px no-repeat;}
#solution dd{ margin: 0; padding: 1px 4px; background-position: center;}
#solution dd ul{ padding: 63px 0 0 36px; margin: 0 0 0 0;}
#solution li{ padding-left:18px; background:url(puce-solutions.png) no-repeat 0 0.5em;}
#solution li a{ font-weight: bold; font-size: 1.1em; color: #3c3c3c; text-decoration: none;}
#solution li a:hover{ color: #E9030A;}
.listesolutions{ display: block; margin: 0pt auto; overflow: hidden; width: 528px; padding: 1px 4px; background-repeat: no-repeat; color:#E9030A; font-size: 15px;}
.listesolutions div{ min-height: 212px; margin: 0 0 0 0;}
* html .listesolutions div{ height: 212px;}
.listesolutions h4{ margin: 10px 0 10px 30px; line-height: 18px; font-size: 18px; font-weight:normal;}
.listesolutions ul{ padding: 20px 0 0 36px; line-height: 22px; font-size: 11px; width: 492px;}
.listesolutions h2{ margin: 15px 0 5px 10px; color: #0099FF;}
.listesolutions p{ padding: 5px 10px 15px 10px;}
.accordion_toggle a {text-decoration: none; color: transparent !important; color: inherit;}
.accordion_toggle a:hover span{ background: url(visu-solution.png) center 0px no-repeat; margin: 0pt auto; text-decoration: none; border-bottom: 2px solid #fff; height: 19px;}
.accordion_toggle a span{ display: block; color: white; font: 13px/150% Arial, Helvetica, Verdana, sans-serif; text-transform: uppercase; text-indent: 10px; font-weight: bold; width: 528px; margin: 0pt auto; text-decoration: none; border-bottom: 2px solid transparent; background: url(visu-solution.png) center -19px no-repeat; height: 19px; cursor: hand;}
.accordion_toggle a:link{ text-decoration: none;}
.accordion_toggle_active a:link{ text-decoration: none;}
.accordion_toggle_active a span{ display: block; margin: 0pt auto; text-decoration: none; border-bottom: 2px solid transparent; background: url(visu-solution-on.png) center center no-repeat; height: 19px;}
.accordion_toggle_active a:hover span{ display: block; margin: 0pt auto; text-decoration: none; border-bottom: 2px solid transparent; background: url(visu-solution-on.png) center center no-repeat; height: 19px !important;}