#particulieronglets ul a.banque {width: 166px; height: 33px; background: url(ma-banque.gif) 0 0;}
#particulieronglets ul a.banqueOn, #particulieronglets ul a.banque:hover {width: 166px; height: 33px; background: url(ma-banque.gif) 0 -33px;}
#particulieronglets ul a.banqueLock {color:#424242; text-align:center; font-size:11px; font-weight:bold; text-decoration:none; padding-top:17px; background: url(ma-banque-bg.gif) 0 0; width: 166px; height: 16px;}
#particulieronglets ul a.banqueLock:hover {color:#e9020d; padding-top:12px; background: url(ma-banque-bg.gif) 0 -33px; width: 166px; height: 21px;}
#particulieronglets ul a.banqueLockOn {color:#e9020d; text-align:center; font-size:11px; font-weight:bold; text-decoration:none; width: 166px; padding-top:12px; background: url(ma-banque-bg.gif) 0 -33px; height: 21px;}
#particulieronglets ul a.banqueLockOn_FO_Auth {color:#424242; text-align:center; font-size:11px; font-weight:bold; text-decoration:none; width: 166px; padding-top:12px; background: url(ma-banque-bg.gif) 0 -33px; height: 21px;}
#particulieronglets ul a.banqueLockOn_FO_Auth:hover {color:#e9020d;}
#particulieronglets ul #besoin.besoin a, #particulieronglets ul #besoin a {color:#424242; font-size:10px; font-weight:bold; font-style:italic; text-decoration:none; line-height:1; padding:6px 0 0 10px; background: url(selectionner-besoins-bg.gif) 0 0; width: 154px; height: 27px;}
#particulieronglets ul #besoin.besoin a span, #particulieronglets ul  #besoin a span {font-size:14px; font-style:italic;}
#particulieronglets ul #besoin.besoinOn a, #particulieronglets ul #besoin.besoin a:hover, #particulieronglets ul #besoin a:hover { color:#e9020d; font-weight:bold; font-style:italic; font-size:10px; text-decoration:none; line-height:1; padding:6px 0 0 10px; background: url(selectionner-besoins-bg.gif) 0 -33px; width: 154px; height: 27px;}
#particulieronglets ul #besoin.besoinOn a span {font-size:14px; font-style:italic;}
#particulieronglets ul #produit.produit a, #particulieronglets ul #produit a {color:#424242; font-size:10px; font-weight:bold; font-style:italic; text-decoration:none; line-height:1; padding:6px 0 0 10px; background: url(decouvrez-produit-service-bg.gif) 0 0; width: 188px; height: 27px;}
#particulieronglets ul #produit.produit a span, #particulieronglets ul #produit a span {font-size:14px; font-style:italic;}
#particulieronglets ul #produit.produitOn  a, #particulieronglets ul #produit.produit a:hover, #particulieronglets ul #produit a:hover {color:#e9020d; font-weight:bold; font-style:italic; font-size:10px; text-decoration:none; line-height:1; padding:6px 0 0 10px; background: url(decouvrez-produit-service-bg.gif) 0 -33px; width: 188px; height: 27px;}
#particulieronglets ul #produit.produitOn a span {font-size:14px; font-style:italic;}
.ongletbis ul a.en-bref{margin-left: 3px; height: 19px; display:inline;}
* html .ongletbis li {margin-top:1px;}
*+ html .ongletbis li {margin-top:1px;}
.ongletbis li {margin-top:2px; padding-top:6px;}
.ongletbis ul a.en-bref span {padding-top:4px;}
.ongletbis ul a.en-bref span.onglet-title {background: url(onglet_bref_off_title.png) 0 0 repeat-x;}
.ongletbis ul a.en-bref span.onglet-right {width:8px; padding-left: 5px; background: url(onglet_bref_off_right.png) 0 0 no-repeat;}
.ongletbis ul a.en-bref span.onglet-left {padding-left: 10px; width:15px; background: url(onglet_bref_off_left.png) 0 0 no-repeat;}
.ongletbis ul a.en-bref:hover span.onglet-title,.ongletbis ul a.en-bref.on span.onglet-title{background: url(onglet_bref_on_title.png) 0 0 repeat-x;}
.ongletbis li a.en-bref:hover span.onglet-left,.ongletbis li a.en-bref.on span.onglet-left{background: url(onglet_bref_on_left.png) 0 0 no-repeat;}
.ongletbis li a.en-bref:hover span.onglet-right,.ongletbis li a.en-bref.on span.onglet-right{background: url(onglet_bref_on_right.png) 0 0 no-repeat;}
