#contenu {
	background-image: url(marge-general.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#smenu li.sel{
	background-image: url(smenu-puce.gif);
	background-repeat: no-repeat;
}
ul {
	color:#5491af
}
li {
	color:#5491af
}
.coul {
	color:#5491af
}
