BODY { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:11px;}

/* for forms */
.inputtext { font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size:small; color:#000000; font-weight:normal;}
.prompt { font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size:small; color:#000000; font-weight:bold; }
LEGEND {font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size:small; color:#000000; font-weight:bold;}
.CMessage {font-size:small; font-weight:bold; color:#000000;}
.WMessage {font-size:small; font-weight:bold; color: #f30034;}
.btn { font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size:small; font-weight:bold; COLOR: #000000; BACKGROUND-COLOR: transparent;}

/*links classes*/
.searchLink { font-size:small; font-weight:bold; text-decoration:none; }
.searchLink:hover { font-size:small; font-weight:bold; text-decoration:underline; }
.searchLink:active { font-size:small; font-weight:bold; text-decoration:underline; }


/* --- Text color's and size's styles --- */
/* --- Start */

/* basic colors */
.TitleH2textOrngBasicStatic { color:#F97D17; font-size:70%;  }
.TitleH2textOrngBasicStaticB { color:#F97D17; font-size:70%; font-weight:bold; }
.TitleH2textOrngBasicStaticU { color:#F97D17; font-size:70%; text-decoration: underline; 
	font-weight:bold;}

.TitleH2textOrngBasic { color:#F97D17; font-size:small; font-weight:bold; }	
.TitleH2textOrngBasicB { color:#F97D17; font-size:small; font-weight:bold; }
.TitleH2textOrngBasicU { color:#F97D17; font-size:small; text-decoration: underline; 
	font-weight:bold;}
	
.TitleH2textGrnBasic { color:#57BC60; font-size:small; font-weight:bold; }
.TitleH2textGrnBasicB { color:#57BC60; font-size:small; font-weight:bold; }
.TitleH2textGrnBasicU { color:#57BC60; font-size:small; text-decoration: underline; 
	font-weight:bold;
}

a.TitleH2textGrnBasic { border-bottom: 0px; }
a.TitleH2textGrnBasic:visited { border-bottom: none 0px; }
a.TitleH2textGrnBasic:hover { text-decoration:underline;}

.TitleH2textVltBasic { color:#8D13FE; font-size:small; font-weight:bold; }
.TitleH2textVltBasicB { color:#8D13FE; font-size:small; font-weight:bold; }
.TitleH2textVltBasicU { color:#8D13FE; font-size:small; text-decoration: underline; 
	font-weight:bold;
}

a.TitleH2textVltBasic { border-bottom: 0px; }
a.TitleH2textVltBasic:visited { border-bottom: none 0px; }
a.TitleH2textVltBasic:hover { text-decoration:underline;}

.TitleH2textBlBasic { color:#1595FF; font-size:small; font-weight:bold; }
.TitleH2textBlBasicB { color:#1595FF; font-size:small; font-weight:bold; }
.TitleH2textBlBasicU { color:#1595FF; font-size:small; text-decoration: underline; 
	font-weight:bold;
}

a.TitleH2textBlBasic { border-bottom: 0px; }
a.TitleH2textBlBasic:visited { border-bottom: none 0px; }
a.TitleH2textBlBasic:hover { text-decoration:underline;}

.TitleH2textDBlBasic { color:#354DDE; font-size:small; font-weight:bold; }
.TitleH2textDBlBasicB { color:#354DDE; font-size:small; font-weight:bold; }
.TitleH2textDBlBasicU { color:#354DDE; font-size:small; text-decoration: underline; 
	font-weight:bold;
}

a.TitleH2textDBlBasic { border-bottom: 0px; }
a.TitleH2textDBlBasic:visited { border-bottom: none 0px; }
a.TitleH2textDBlBasic:hover { text-decoration:underline;}

/* brown color */
.textBrwSmall { color:#984C09; font-size:small; font-weight:bold; }
.textBrwNormalS { color:#984C09; font-size:small; font-weight:bold; }
.textBrwNormal { color:#984C09; font-size:medium; font-weight:bold; }
.textBrwLarge { color:#984C09; font-size:large; font-weight:bold; }

.textBrwLSmall { color:#867663; font-size:small; font-weight:bold; }
.textBrwLNormal { color:#867663; font-size:medium; font-weight:bold; }
.textBrwLLarge { color:#867663; font-size:large; font-weight:bold; }

/* green color */
.textGrnSmall { color:#139809; font-size:small; font-weight:bold; }
.textGrnNormal { color:#139809; font-size:medium; font-weight:bold; }
.textGrnLarge { color:#139809; font-size:large; font-weight:bold; }

.textGrnLSmall { color:#678663; font-size:small; font-weight:bold; }
.textGrnLNormal { color:#678663; font-size:medium; font-weight:bold; }
.textGrnLLarge { color:#678663; font-size:large; font-weight:bold; }

/* violet color */
.textVltSmall { color:#780998; font-size:small; font-weight:bold; }
.textVltNormal { color:#780998; font-size:medium; font-weight:bold; }
.textVltLarge { color:#780998; font-size:large; font-weight:bold; }

.textVltLSmall { color:#766386; font-size:small; font-weight:bold; }
.textVltLNormal { color:#766386; font-size:medium; font-weight:bold; }
.textVltLLarge { color:#766386; font-size:large; font-weight:bold; }

/* blue color */
.textBlSmall { color:#0B75BE; font-size:small; }
.textBlSmallB { color:#0B75BE; font-size:small; font-weight:bold; }
.textBlNormal { color:#0B75BE; font-size:medium; font-weight:bold; }
.textBlLarge { color:#0B75BE; font-size:large; font-weight:bold; }

.textBlLSmall { color:#637386; font-size:small; font-weight:bold; }
.textBlLSmallU { color:#637386; font-size:small; font-weight:bold; 
	text-decoration: underline;}
.textBlLNormal { color:#637386; font-size:medium; font-weight:bold; }
.textBlLLarge { color:#637386; font-size:large; font-weight:bold; }

/* dark blue color */
.textDBlSmall { color:#0C0998; font-size:small; font-weight:bold; }
.textDBlNormal { color:#0C0998; font-size:medium; font-weight:bold; }
.textDBlLarge { color:#0C0998; font-size:large; font-weight:bold; }
.textDBlSmall_ { color:#0C0998; font-size:small; font-weight:normal; }
.textDBlSmallU_ { color:#0C0998; font-size:small; font-weight:normal; 
	text-decoration: underline; }

.textDBlLSmall { color:#636886; font-size:small; font-weight:bold; }
.textDBlLSmallU { color:#636886; font-size:small; font-weight:bold; 
	text-decoration: underline;}
.textDBlLNormal { color:#636886; font-size:medium; font-weight:bold; }
.textDBlLLarge { color:#636886; font-size:large; font-weight:bold; }

/* black color */
.textBlackSmaller { color:#000000; font-size:xx-small; font-weight:normal; }
.textBlackSmallerB { color:#000000; font-size:xx-small; font-weight:bold; }

.textBlackS { color:#000000; font-size:x-small; font-weight:bold; }

.textBlackSmall { color:#000000; font-size:small; font-weight:normal; }
.textBlackSmallB { color:#000000; font-size:small; font-weight:bold; }
.textBlackSmallU { color:#000000; font-size:small; text-decoration: underline; 
	font-weight:bold;}

.textBlackSmallBigger { color:#000000; font-size:small; font-weight:normal; }
.textBlackSmallBiggerB { color:#000000; font-size:small; font-weight:bold}

.textBlackBig { color:#000000; font-size:medium; font-weight:bold}

.TitleH3textBlackNormal { color:#000000; font-size:small; font-weight:normal; }
.TitleH3textBlackNormalB { color:#000000; font-size:small; font-weight:bold; }

.textBlackLarge { color:#000000; font-size:large; font-weight:normal; }
.textBlackLargeB { color:#000000; font-size:large; font-weight:bold; }

/* grey color */
.textGrSmall { color:#505050; font-size:small; font-weight:bold; }
.textGrNormal { color:#505050; font-size:medium; font-weight:bold; }
.textGrLarge { color:#505050; font-size:large; font-weight:bold; }


/* white color */
.textWhiteSmall { color:#ffffff; font-size:small; 
	text-decoration: none;  border-bottom: none 0px #000000; }
.textWhiteSmallU { color:#ffffff; font-size:small; 
	text-decoration: none;  border-bottom: none 0px #000000;}

.textWhiteNormal { color:#ffffff; font-size:medium; }
.textWhiteNormalB { color:#ffffff; font-size:medium; font-weight:bold; }

.textWhiteLarge { color:#ffffff; font-size:large; }
.textWhiteLargeB { color:#ffffff; font-size:large; font-weight:bold; }


/* for TABLES */
CAPTION {font-size:medium; font-weight:bold; color:#000000; }

.alignLT {text-align:left; vertical-align:top;}
.alignLM {text-align:left; vertical-align:middle;}
.alignLB {text-align:left; vertical-align:bottom;}

.alignCT {text-align:center; vertical-align:top;}
.alignCM {text-align:center; vertical-align:middle;}
.alignCB {text-align:center; vertical-align:bottom;}

.alignRT {text-align:right; vertical-align:top;}
.alignRM {text-align:right; vertical-align:middle;}
.alignRB {text-align:right; vertical-align:bottom;}

/* --- End */

/* additional classes */
.licat {
list-style-image: url("cat_item.gif");
margin-bottom:10px;
margin-top:10px;
margin-left:15px;
color:#139809; 
font-size:80%; 
font-weight:bold;
}

.linone {
list-style-image:url("null.gif");;
}

.ulinfo {
	margin-top:10px;	
	margin-left:-24px;
}

.orngSmall {  color:#F97D17; color:#F97D17; font-size:x-small; }

