/* Style for the main menu on the left, u must let it*/


#gotoContent {
position:absolute;
left:0px;
top:0px;
}
.menu {
font-size:90%;
vertical-align:top;
padding-right:20px;
}

.content {
font-size:small;
vertical-align:top;
padding-right:50px;
padding-left:20px;
border-left : 1px solid #FB7809;
padding-bottom:15px;
width:100%;
}

ul {
margin-top:0px;
margin-bottom:0px;
margin-left:0px;
padding-left:24px;
}

ol {
margin-top:0px;
margin-bottom:0px;
}


/* For the header table, bg of the left orange td */
.bgRightLine {
	background-image: url(right_lineorange.gif);
	width:25px;
	background-repeat: repeat;
}


/* Style for the tool bottom nav */
.bgcolor2 {
	color:white;
	background-color: #FB7809;
	padding-top:2px;
	 padding-bottom:2px;
}


#logo {
position:absolute;
left:0px;
top:1px;
}

.recherche {
margin-top:0px;
padding-left:15px;
background-color: #FFFFFF;
}
.decoform
{
width:92px;
font-size:90%;
height:14px;
}
.btnform{
width:22px;
font-size:90%;
height:21px;
}

.bgOrangeBlue {
	background-repeat: repeat;
	background-image: url(left_vertical_line.gif);
	width:34px;
background-color: white;
}

/* Style for the img of the tool bottom nav */
.footercorner {
text-align:right;
vertical-align:top;
background-image: url(toolbg.gif);
height:25px;
width:25px;
}


/* Style for the path*/
.bgwhite{
background-color: #FBF9F8;
color:#878C91 ;
width:100%;
padding-right:50px;
padding-left:20px;
padding-bottom:20px;
}

/* used for the second tr of the 4th td of the header table, hope to be clear...*/
.bgwhite1{
background-color: #FBF9F8;
width:100%;
}

.formulairerecherche {
margin-bottom: -1px;
margin-top:2px;
font-size:90%;
}


.tdlogo {
background-color:white;
}

/* Style for the 3 links forum, actu and Newsletter*/
.actu {
	margin-top:0px;
	margin-bottom:0px;
	padding:0px;
	background-color: #ECF3F8;
	font-size:90%;
	width:100%;
	text-align:center;
	padding-top:0px;
	padding-bottom:3px;
	padding-left:45px;
	}
.headerNav{
	width:100%;
	text-align:center;
}

/* decalage0, decalage1, decalage2 etc..are used for the top second menu : forum, Newsletter...*/
.decalage0 { 
float:left; 
width:17%; 
margin-left:0.5em;
} 

.decalage1 { 
float:left; 
width:17%; 
margin-left:0.5em;
} 

.decalage2 { 
float:left; 
width:26%;
margin-left:0.5em; 
} 

.decalage3 { 
float:left; 
width:28%;
margin-left:0.5em; 
} 

#bottomtab { visibility: visible; margin-bottom: 0; position: absolute; bottom: 0 } 

.tdtableBottom{
width:45%;
}

.bgcolor1 {
	color:white;
	background-color: #FB7809;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	font-size:70%;
}


/*Ajout du 24/06 */

.titreh1 {
margin-top:0px;
font-size:110%;
}


.petit{
font-size:small
}
.petitbold{
font-size:small;
font-weight:bold;
margin-top:10px;
margin-bottom:2px;
}
.petitbold1{
font-size:small;
font-weight:bold;
margin-top:13px;
margin-bottom:2px;
}
.actualites{
font-size: small;
color:#000690;
font-weight:bold;
margin-top:0px;
margin-bottom:3px;
}
.sous_titrePatate{
font-size: small;
font-weight:bold;
margin-top:0px;
margin-bottom:2px;
}
.lienActualites{
font-size: x-small;
color:#000690;
font-weight:bold;
margin-top:5px;
text-align:right;
}

.tiretsActu {
background-image: url(trait_blue.gif);
background-repeat: repeat;
width: 100%; 
height:19px; 
}

.zoom{
font-size: small;
color:#F47A22;
font-weight:bold;
margin-top:0px;
margin-bottom:3px;
}
.tiretsZoom {
background-image: url(trait_orange.gif);
background-repeat: repeat;
width: 100%; 
height:19px; 
}

.realisation
{
margin-top: -25px;
margin-left: 20px;
font-size: small;
color:#F47A22;
width:200px;
position:absolute;
}

.citation{
width:60%;
margin-left:19%;
margin-top:-40px;
margin-bottom:14px;
font-weight:bold;
font-size:small;
color:#020957;
}

.citationAuteur{
text-align:right;
margin-top:-3px;
font-size:x-small;
}