.olmenu {
/*padding-top:-10px;*/
}

/* styles for qout */

.liquot {
list-style-image: url("bulletOrng_small.gif");
vertical-align:middle;
margin-bottom:10px;
font-weight:bold;
color:#F97D17;
}

.liquotON {
list-style-image: url("bulletOrng_small.gif");
vertical-align:middle;
margin-bottom:10px;
font-weight:bold;
}

.lisubmenuquot {
list-style-image: url("point.gif");
margin-top:5px;
font-weight:normal;
color:#000000;
}

.lisubmenuquotON {
list-style-image: url("pointOrng.gif");
margin-top:5px;
font-weight:normal;
color:#000000;
}

a.liquot { text-decoration:none; border-bottom: 0px; }
a.liquot:visited { text-decoration:none; border-bottom: none 0px; }
a.liquot:hover { text-decoration:underline;}
a.liquot:active { text-decoration:underline; border-bottom: none 0px; }


.lisubmenuquotLink { text-decoration:none; color:#000000; }
a.lisubmenuquotLink:visited { text-decoration:none; border-bottom: none 0px; }
a.lisubmenuquotLink:hover { text-decoration:underline; color:#000000;text-decoration:underline; }
a.lisubmenuquotLink:active { text-decoration:underline; border-bottom: none 0px; }

/* styles for ressources */

.liressources {
list-style-image: url("bulletGrn_small.gif");
vertical-align:middle;
margin-bottom:10px;
font-weight:bold;
color:#57BC60;
}

.liressourcesON {
list-style-image: url("bulletGrn_small.gif");
vertical-align:middle;
margin-bottom:10px;
font-weight:bold;
color:#57BC60;
}

.lisubmenuressources {
list-style-image: url("point.gif");
margin-top:5px;
font-weight:normal;
color:#000000;
}

.lisubmenuressourcesON {
list-style-image: url("pointGrn.gif");
margin-top:5px;
font-weight:normal;
color:#000000;
}

a.liressources { text-decoration:none; border-bottom: none 0px; }
a.liressources:visited { text-decoration:none; border-bottom: none 0px; }
a.liressources:hover { text-decoration:underline; }
a.liressources:active { text-decoration:underline; border-bottom: none 0px; }

.lisubmenuressourcesLink { text-decoration:none; color:#000000; }
a.lisubmenuressourcesLink:visited { text-decoration:none; border-bottom: none 0px; }
a.lisubmenuressourcesLink:hover { text-decoration:underline; color:#000000; }
a.lisubmenuressourcesLink:active { text-decoration:underline; border-bottom: none 0px; }

/* styles for gta */

.ligta {
list-style-image: url("bulletVlt_small.gif");
vertical-align:middle;
margin-bottom:10px;
font-weight:bold;
color:#8D13FE;
}

.ligtaON {
list-style-image: url("bulletVlt_small.gif");
vertical-align:middle;
margin-bottom:10px;
font-weight:bold;
color:#8D13FE;
}

.lisubmenugta {
list-style-image: url("point.gif");
margin-top:5px;
font-weight:normal;
color:#000000;
}

.lisubmenugtaON {
list-style-image: url("pointVlt.gif");
margin-top:5px;
font-weight:normal;
color:#000000;
}

a.ligta { text-decoration:none; border-bottom: none 0px; }
a.ligta:visited { text-decoration:none; border-bottom: none 0px; }
a.ligta:hover { text-decoration:underline; }
a.ligta:active { text-decoration:underline; border-bottom: none 0px; }

.lisubmenugtaLink { text-decoration:none; color:#000000; }
a.lisubmenugtaLink:visited { text-decoration:none; border-bottom: none 0px; }
a.lisubmenugtaLink:hover { text-decoration:underline; color:#000000; }
a.lisubmenugtaLink:active { text-decoration:underline; border-bottom: none 0px; }

/* styles for label */

.lilabel {
list-style-image: url("bulletBl_small.gif");
vertical-align:middle;
margin-bottom:10px;
font-weight:bold;
color:#1595FF; 
}

.lilabelON {
list-style-image: url("bulletBl_small.gif");
vertical-align:middle;
margin-bottom:10px;
font-weight:bold;
color:#1595FF; 
}

.lisubmenulabel {
list-style-image: url("point.gif");
margin-top:5px;
font-weight:normal;
color: #000000;
}

.lisubmenulabelON {
list-style-image: url("pointBl.gif");
margin-top:5px;
font-weight:normal;
color: #000000;
}

a.lilabel { text-decoration:none; border-bottom: none 0px; }
a.lilabel:visited { text-decoration:none; border-bottom: none 0px; }
a.lilabel:hover { text-decoration:underline; }
a.lilabel:active { text-decoration:underline; border-bottom: none 0px; }

.lisubmenulabelLink { text-decoration:none; color:#000000; }
a.lisubmenulabelLink:visited { text-decoration:none; border-bottom: none 0px; }
a.lisubmenulabelLink:hover { text-decoration:underline; color:#000000; }
a.lisubmenulabelLink:active { text-decoration:underline; border-bottom: none 0px; }

/* styles for trophees */

.litrophees {
list-style-image: url("bulletDBl_small.gif");
vertical-align:middle;
margin-bottom:10px;
font-weight:bold;
color:#354DDE;
}

.litropheesON {
list-style-image: url("bulletDBl_small.gif");
vertical-align:middle;
margin-bottom:10px;
font-weight:bold;
color:#354DDE;
}

.lisubmenutrophees {
list-style-image: url("point.gif");
margin-top:5px;
font-weight:normal;
color:#000000;
}

.lisubmenutropheesON {
list-style-image: url("pointDBl.gif");
margin-top:5px;
font-weight:normal;
color:#000000;
}

a.litrophees { text-decoration:none; border-bottom: none 0px; }
a.litrophees:visited { text-decoration:none; border-bottom: none 0px; }
a.litrophees:hover { text-decoration:underline; }
a.litrophees:active { text-decoration:underline; border-bottom: none 0px; }

.lisubmenutropheesLink { text-decoration:none; color:#000000; }
a.lisubmenutropheesLink:visited {text-decoration:none; border-bottom: none 0px; }
a.lisubmenutropheesLink:hover { text-decoration:underline; color:#000000; }
a.lisubmenutropheesLink:active { text-decoration:underline; border-bottom: none 0px; }

/***** styles for homepage main navigation *****/
.txtqout {	font-weight:bold; color:#F97D17; }
.txtressources { font-weight:bold; color:#57BC60; }
.ligta { font-weight:bold; color:#8D13FE; }
.txtlabel { font-weight:bold; color:#1595FF; }
.litrophees { font-weight:bold; color:#354DDE; }

a.txtqout { text-decoration:none; border-bottom: none 0px; }
a.txtqout:visited { text-decoration:none; border-bottom: none 0px; }
a.txtqout:hover { text-decoration:underline; }
a.txtqout:active { text-decoration:underline; border-bottom: none 0px; }

a.txtressources { text-decoration:none; border-bottom: none 0px; }
a.txtressources:visited { text-decoration:none; border-bottom: none 0px; }
a.txtressources:hover { text-decoration:underline; }
a.txtressources:active { text-decoration:underline; border-bottom: none 0px; }

a.ligta { text-decoration:none; border-bottom: none 0px; }
a.ligta:visited { text-decoration:none; border-bottom: none 0px; }
a.ligta:hover { text-decoration:underline; }
a.ligta:active { text-decoration:underline; border-bottom: none 0px; }

a.txtlabel { text-decoration:none; border-bottom: none 0px; }
a.txtlabel:visited { text-decoration:none; border-bottom: none 0px; }
a.txtlabel:hover { text-decoration:underline; }
a.txtlabel:active { text-decoration:underline; border-bottom: none 0px; }

a.litrophees { text-decoration:none; border-bottom: none 0px; }
a.litrophees:visited { text-decoration:none; border-bottom: none 0px; }
a.litrophees:hover { text-decoration:underline; }
a.litrophees:active { text-decoration:underline; border-bottom: none 0px; }