/******************************************************************************
* insInsets.css
******************************************************************************/

.insSimpleInset {
	border: 1px solid #aaaaaa;
}

.insSimpleInset .insTitle-text,
.insSimpleInset .insTitle-img,
.insSimpleInset .insTitle-bg-img {
	text-align:center;
	border-bottom:1px solid #aaaaaa;
	padding:0.3em;
	margin:0px;
}

.insTitleFull .insTitle-text,
.insTitleFull .insTitle-img,
.insTitleFull .insTitle-bg-img {
	color:#408080;
	background-color:#aaaaaa;
}

.insSimpleInset .insContent {
	padding:0px;
	padding-left:0.3em;
	padding-right:0.3em;
}

.insBGImageInset {
	background-position:top left;
	background-repeat:no-repeat;
}

.insBGImageInset .insFullcontent {
	padding:0px;
	border:0px;
	height:100%;
	width:100%;
	overflow:hidden;
}

.insBGImageInset .insTitle-text,
.insBGImageInset .insTitle-img,
.insBGImageInset .insTitle-bg-img {
	text-align:center;
	padding:0.3em;
	margin:0px;
}