/* TAGS */
body, img, table, ul, li, div, h1, h2, h3, h4, p {
	padding:0;
	margin:0;
	border-collapse:collapse;
	border:0;
}

body, a, table {
	color:#BFE0EB;
}

body {
	width:100%;
	background: #286D88 url(drop_shadows.gif) repeat-y top center;
	min-width:960px;
	font:75%/130% Arial, Verdana, sans-serif; /* 12px */
}

h1 {
	margin-left:88px;
	width:231px;
}

h2 {
	font-weight:bold;
	font-size: 1.75em;
	line-height:1.25em;
	color:#C0FAFE;
	
	padding-bottom:20px;
	background: url(vagues.gif) no-repeat bottom left;
	margin-bottom:16px;
}

h3 {
	font-weight:bold;
	font-size:1.5em;
	color:#fff;
	
	margin-bottom:12px;
}

h4 {
	font-weight:bold;
	font-weight:1.17em;
	color:#BFE0EB;
}

/* LAYOUT */

.wrapper {
	background: url(fond_photos.jpg) no-repeat top center;
	width:100%;
	min-width:960px;
}

#inner_wrapper {
	margin-right:auto;
	margin-left:auto;
	width:960px;
	display:block;
	
	padding-top:19px;
}

#contenu {
	padding:35px 50px 18px 50px;
	width:614px;
	min-height:600px; /* on compense en JS pour IE6 */
	float:right;
	margin-right:5px;
}

#footer {
	width:100%;
	margin-bottom:12px;
}

#colonne_gauche {
	padding:21px 5px 0 7px;
	width:139px;
	float:left;
}

/* NAVIG DU HAUT */

#navig_haut {
	float:right;
	list-style-type:none;
	margin:78px 10px 0 0;
	padding:0;
}

#navig_haut li {
	display:inline;
}

#navig_haut a {
	background: transparent url(navig_haut_debut.gif) no-repeat; 	
	display: block;
	float: left;
	height: 25px;
	margin-left:2px;
	text-decoration:none;
	
	color:#003370;
	font-size:0.92em;
}

#navig_haut a.selected {
	background-image:url(navig_haut_debut_selected.gif); 	
	color:#fff;
}

#navig_haut a span {	
    background: transparent url(navig_haut_fin.gif) no-repeat top right;
	margin-left:9px; /* ne pas embarquer par dessus _debut.gif */
	
	padding-right:12px;
	padding-left:3px;
	
	display: block;
	line-height: 23px;	
	padding-top:2px;
} 

#navig_haut a.selected span {
	background-image:url(navig_haut_fin_selected.gif); 	
}

#navig_haut a:hover {
	background-position: 0 -25px;
}

#navig_haut a.selected:hover {
	background-position: top left;
}


#navig_haut a:hover span {
	background-position: right -25px;
}

#navig_haut a.selected:hover span {
	background-position: right top;
}

/* NAVIG PRINCIPALE */

#navig_principale {
	margin-left:16px;
}

#navig_principale li {
	display:inline;
}

#navig_principale li a {
	display:block;
	float:left;
	margin:12px 12px 12px 12px;
	
	line-height:24px;
	
	font-weight:bold;
	color:#fff;
	text-decoration:none;
}

#navig_principale li img {
	display:block;
	float:left;
	margin-top:18px;
}

#navig_principale li a:hover, 
#navig_principale li a.selected {
	color:#fade56;
}

#navig_principale li a#navig_item_aquarium:hover, 
#navig_principale li a#navig_item_aquarium.selected {
	color:#B4ED86;
}

/* SOUS NAVIG GAUCHE */

#navig_gauche {
	list-style:none;
	width:132px;
}

#navig_gauche li {
	width:132px;
}


#navig_gauche a {
	display:block;
	font-weight:bold;
	color:#A4DBF2;
	text-decoration:none;
	
	width:108px;
	padding:9px 12px 8px 12px;
	
	background:url(pattern_separateur_sous_navig.gif) repeat-x bottom left;
	
	position:relative;
}

#navig_gauche a:hover {
	color:#fff;
}

#navig_gauche a img {
	position:absolute;
	top:5px;
	left:-12px;
}

/* BANDE PHOTOS */
#photos {
	float:right;
	width:235px;
	margin-top:20px;
	
	color:#77C6DC;
	font-size:0.92em;
}

#photos div {
	margin-bottom:12px;
}

#photos img {
	margin-bottom:5px;
}

/* BLOC TEXTE */
.bloc_texte .date, .bloc_texte a, .bloc_texte .orange {
	color:#FBB03B
}

.bloc_texte .bleu {
	color:#58adcb;
}

.separateur {
	width:100%;
	background:url(pattern_separateur.gif) repeat-x center left;
	height:1px;
	line-height:1px;
	margin:12px 0 12px 0;
}

h3.deroulant {
	width:100%;
	font-size:1.17em;
}

h3.deroulant a {
	background: transparent url(deroulant_debut.gif) no-repeat; 	
	display: block;
	height: 48px;
	text-decoration:none;
	
	color:#fff;
	text-transform:uppercase;
	
	cursor:pointer;
	
}

h3.deroulant a span {	
    background: transparent url(deroulant_fin.gif) no-repeat top right;
	margin-left:40px; /* ne pas embarquer par dessus _debut.gif */
	
	padding-right:12px;
	padding-left:3px;
	
	display: block;
	line-height: 46px;	
	padding-top:2px;
} 

h3.deroulant.selected a {
	background-image: url(deroulant_debut_selected.gif);
	color:#172569;
}

h3.deroulant.selected a span {
	background-image: url(deroulant_fin_selected.gif);
	
}

h3.deroulant {
	margin-bottom:0;
}

.a_derouler {
	margin-bottom:12px;
}

h3.deroulant {
	margin-bottom:10px;
}

h3.deroulant.selected {
	margin-bottom:0px;
}

.a_derouler .body_deroulant {
	background-color:#def2f7;
	padding:0 20px 0 20px;
	color:#2b85bb;
}

.a_derouler .footer_deroulant {
	background: transparent url(deroulant_debut_selected_bas.gif) no-repeat; 	
	height: 20px;
}

.a_derouler .footer_deroulant span {	
    background: transparent url(deroulant_fin_selected_bas.gif) no-repeat top right;
	margin-left:40px; /* ne pas embarquer par dessus _debut.gif */	
	display: block;
	line-height: 20px;	
}

.body_deroulant h4, .body_deroulant a {
	color:#172569;
}

.bloc_texte ul {
	margin-top:10px;
	margin-bottom:10px;
}

.bloc_texte ul ul {
	margin-top:5px;
}

.bloc_texte li {
	margin-top:3px;
	list-style:none;
	background:url(bullet.gif) no-repeat 2px 2px;
	padding-left:20px;
}


a.fichier {
	padding:2px 0 0 22px;
	color:#fff;
}

a.fichier_pdf {
	background:url(pdf.gif) no-repeat 0 0;
}

/* IMPRIMER */

#imprimer {
	float:right;
	width:90px;
}

#imprimer a, #imprimer .vert {
	color:#fff;
	font-size:0.83em;
	line-height:1.3em;
}

#imprimer img {
	float:left;
}

#imprimer .vert {
	color:#51969A;
	font-style:italic;
}

/* FOOTER */

#footer, #footer a {
	color:#2B85BB;
}

#footer {
	font-size:0.92em;
	color:#2B85BB;
}

#footer #signature {
	float:right;
	color:#265065;
	font-size:0.91em; /*10/11, on est deja dans le footer... */
	text-decoration:none;
}

#footer .blanc, #footer .blanc a {
	color:#fff;
}

/* ACCUEIL */
#wrapper_accueil {
	background-image: url(fond_accueil.jpg);
}

#wrapper_accueil #contenu {
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	width: 920px;
}

#bannieres, #a_surveiller, #aquarium {
	float:right;
}

#presentation {
	width:450px;
	font-size:0.92em;
	color:#fff;
}

#presentation h2 {
	font-size:1.64em;
	background:none;
	margin:0 0 8px 0;
	padding:0;
	color:#fff;	
}

#a_surveiller {
	padding-top:15px;
	padding:15px 20px 10px 20px;
	width:177px;
	height:278px;
	background:url(fond_a_surveiller.gif) no-repeat top left;
	overflow:hidden;
	
	color:#fff;
	font-size:0.92em;
}

#a_surveiller a {
	text-decoration:none;
	color:#fff;
}

#a_surveiller .date {
	color:#2b85bb;
	font-size:0.92em;
}

#a_surveiller h3 {
	margin:0 0 18px 0;
	padding:0;
}

#a_surveiller .titre {
	margin:0;
	padding:0;
	color:#172569;
	font-weight:bold;
	font-size:1.09em;
	display:block;
}

#a_surveiller .separateur {
	background-image:url(pattern_separateur_a_surveiller.gif);	
}

#bannieres {
	width:204px;
	text-align:center;
	margin-left:25px;
}

#bannieres a {
	display:block;
	margin-bottom:10px;
}

.bloc_accueil h2 {
	margin:0;
	padding:0;
	background:none;
}

.bloc_accueil h2 img {
	margin-bottom:3px;
}

.bloc_accueil {
	width:450px;
	height:300px;
	margin-top:2px;
}

.bloc_accueil .intro {
	float:right;
	width:172px;
	height:225px;
	overflow:hidden;
	margin-top:-20px;
	
	font-size:0.92em;
}

.bloc_accueil .intro .photo {
	margin-bottom:10px;
}

.bloc_accueil .intro .savoir_plus img {
	margin-top:10px;
}

.slideshow, .slideshow img {
	width:270px;
	height:205px;
}

.slideshow {
	overflow:hidden;
}

/* PAGES PLEINE LARGEUR */

#wrapper_pleine_largeur {
	background-image: url(fond_pleine_largeur.jpg);
}

#wrapper_pleine_largeur #contenu {
	width: 860px;
}

/* PAGES AVEC SOUS-NAVIG */

#wrapper_avec_sous_navig {
	background-image: url(fond_sous_navig.jpg);
}

#wrapper_avec_sous_navig #contenu {
	float:right;
	width: 465px;
}

h2.avec_image {
	background:none;
	padding:0;
}

#wrapper_avec_sous_navig h2.avec_image {
	/* il faut tricher un peu, parce que Excursions en mer est trop large pour s'afficher avec la sous-navig */
	margin-left:-25px;
}

/* FOURCHETTE BLEUE */

.tableau_especes {
	color:#172569;
	font-weight:bold;
	width:100%;
}

.tableau_especes td {
	margin:5px;
	background-color:#fff;
	border:3px solid #def2f7;
	text-align:center;
	
	height:32px;
	vertical-align:middle;
}

.tableau_especes tr.head td {
	background-color:#2D6F80;
	color:#def2f7;
	text-align:left;
	vertical-align:top;
	padding:9px 12px 5px 12px;
	font-size:0.92em;
}

.tableau_especes td.fourchette {
	border-right:0;
	padding-left:3px;
	padding-right:3px;
}

.tableau_especes td.nom {
	border-left:0;
	text-align:left;
}

/* AQUARIUM */
.fond_aquarium {
	background-color:#fff;
	width:805px;
	
	padding:20px 25px 20px 25px;
	
	color:#172569;
}

.fond_aquarium h3 {
	margin-top:0;
	color:#07130A;
}

.fond_aquarium .espece {
	color:#7abd21;
	font-weight:bold;
}

.fond_aquarium table {
	margin-top:15px;
	width:100%;
}
.fond_aquarium td {
	padding-right:40px;
}
.fond_aquarium td.last {
	padding-right:0;
}
.fond_aquarium td img {
	margin-bottom:5px;
}

.fond_aquarium .separateur {
	background-image:url(separateur_aquarium.gif);
}

/* LIENS - A PROPOS */
.bloc_lien img {
	margin-right:15px;
}

.bloc_lien td {
	vertical-align:top;
	color:#58ADCB;
}

.bloc_lien a {
	display:block;
	color:#fff;
	font-size:1.17em;
	margin-top:2px;
	margin-bottom:3px;
}

.bloc_lien h4 {
	color:#BFE0EB;
	font-weight:bold;
	font-size:1.17em;
}

/* ACTUALITES */
.actualites h3 a {
	color:#fff;
}

/* GOOGLE MAP */
#map_container {
	margin-top:20px;
	width:100%px;
}
#map {
	margin-top:20px;
	width:450px;
	height:300px;
}

/* POUR IMPRESSION */
.print {
	display:none;
}

.screen {
	display:block;
}