html{
	background-color:#cbac97;
}

body{
	background-color:#cbac97;
	margin:0px;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	text-align:center;
	font-family:Arial;
	font-size:12px;
	height:100%;
	display:table;
}

#haut{
	float:left;
	width:980px;
	height:160px;
	text-align:left;
}

h2{
	font-weight:normal;
	margin-bottom:40px;
	font-family:Verdana;
	font-size:18px;
	color:#c10f12;
}

h3{
	font-family:Arial;
	font-weight:bold;
	font-size:13px;
}


#haut_1{
	width:980px;
	height:120px;
	float:left;
	background-image:url('haut.gif');
	background-repeat:no-repeat;
	background-color:#e34d34;
}

#haut_2{
	position:relative;
	float:left;
	width:980px;
	height:47px;
	top:-40px;
	background-image:url('gauche_top1.gif');
	background-repeat:no-repeat;
	z-index:100;
}

#height_100{
	position:relative;
	width:980px;
	height:200px;
	margin:0px;
	padding:0px;
	margin-left:auto;
	margin-right:auto;
	background-image:url('page_fond.gif');
}

#page{
	position:relative;
	top:-40px;
	float:left;
	width:980px;
	background-color:white;
	background-image:url('page_fond.gif');
		
}

#page2{
	float:left;
	width:980px;
	background-image:url('fond_contenu.gif');
	background-repeat:no-repeat;
	background-position:center top;
}

#gauche{
	float:left;
	width:260px;
	background-image:url('gauche_top2.gif');
	background-repeat:no-repeat;
}

#centre{
	float:left;
	position:relative;
	width:460px;
	text-align:left;
	background-repeat:no-repeat;
}

#centre_in{
	padding:0px 10px 10px 0px;
	text-align:justify;
	font-size:13px;
	color:#3E3E3E;
}

#droite{
	float:right;
	position:relative;
	width:192px;
	top:40px;
	right:18px;
	text-align:left;
	font-family:Verdana;
	font-size:11px;
	color:#404040;
	background:url('boite_fond.gif');
	overflow:hidden;
}

#droite_in{
	position:relative;
	top:-10px;
	left:10px;
	width:170px;
	padding:0px 0px 10px 0px;
	overflow:hidden;
}


.boite_top{
	position:relative;
	width:192px;
	height:27px;
	background-image:url('boite_top.gif');
}

.boite_bottom{
	position:relative;
	width:192px;
	height:13px;
	background-image:url('boite_bottom.gif');
}

.boite_top_in{
	position:relative;
	top:7px;
	height:18px;
	font-family:Verdana;
	font-size:11px;
	color:#4c4a49;
	font-weight:bold;
	letter-spacing:4px;
	text-align:right;
	margin-right:5px;
}

.boite_titre{
	font-weight:bold;
	letter-spacing:3px;
	color:#43526d;
	text-align:center;
	margin-top:30px;
}

#chemin{
	float:left;
	width:490px;
	text-align:left;
	padding:0px 0px 4px 0px;
	border-bottom:1px dashed #c0c0c0;
	margin-bottom:17px;
}

#menu{
	position:relative;
	top:-24px;
	width:730px;
	height:24px;
	margin-left:251px;
	font-family:Arial;
	font-size:13px;
	background-color:#7e744e;
	background-image:url('menu_fond3_2.jpg');
	background-position:right;
	overflow:hidden;
}

.menu_carre{
	float:left;
	position:relative;
	top:6px;
	width:11px;
	height:7px;
	background-image:url('carre2.gif');
	background-repeat:no-repeat;
}

.carre3{
	float:left;
	position:relative;
	top:5px;
	width:11px;
	height:7px;
	background-image:url('carre3.gif');
	background-repeat:no-repeat;
}

.carre4{
	float:left;
	position:relative;
	top:5px;
	width:11px;
	height:7px;
	background-image:url('carre4.gif');
	background-repeat:no-repeat;
}

#menu_rubriques{
	position:relative;
	top:-24px;
	height:23px;
	margin-left:251px;
	cursor:pointer;
	font-size:11px;
	background-image:url('menu_fond.gif');
	text-align:left;
}

.menu_cat_1{
	float:left;
	color:#37374b;
	font-weight:bold;
	height:24px;
	cursor:pointer;
	background-image:url('tab_fond.gif');
}

.menu_cat_1_hover{
	float:left;
	background-color:white;
	color:black;
	font-weight:bold;
	height:24px;
}

.tab_gauche{
	width:5px;
	height:24px;
	float:left;
	background-image:url('tab_gauche.gif');
}

.tab_gauche_select{
	width:5px;
	height:24px;
	float:left;
	background-image:url('tab_gauche_select.gif');
}

.tab_droite{
	width:5px;
	height:24px;
	float:left;
	background-image:url('tab_droite.gif');
	margin-right:1px;
}

.tab_droite_select{
	width:5px;
	height:24px;
	float:left;
	background-image:url('tab_droite_select.gif');
	margin-right:1px;
}

.menu_souscat_1{
	float:left;
	cursor:pointer;
}

.menu_souscat_1_hover{
	float:left;
	background-color:white;
	color:black;
	cursor:pointer;
	background-image:url('menu_fond2.gif');
}

.menu_souscat_1_select{
	float:left;
	background-color:white;
	color:black;
	cursor:pointer;
	background-image:url('menu_fond2b.gif');
}

.menu_cat_1_select{
	float:left;
	color:black;
	font-weight:bold;
	height:24px;
	cursor:pointer;
	background-color:#f2ab15;
	background-image:url('tab_fond_select.gif');
}

.menu_cat_2{
	background-color:#e6e6e6;
	padding:4px;
	cursor:pointer;
}

.a_menu_cat_1_select{
	color:black;
	text-decoration:none;
}

.a_menu_cat_1{
	color:white;
	text-decoration:none;
}

.gauche_cadre{
	height:190px;
	margin:0px 20px 0px 20px;
	text-align:center;
	overflow:hidden;
	font-family:Verdana;
	font-size:11px;
	background-color:white;
}

.cadre_haut{
	margin:0px 20px 0px 20px;
}

.cadre_haut_in{
	height:19px;
	margin-left:auto;
	margin-right:auto;
}

.cadre_haut_titre{
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
	letter-spacing:4px;
	padding:7px 25px 7px 0px;
	text-align:right;
}

.cadre_haut_titre_actualite{
	background:top center no-repeat url('gauche_cadre_top.gif');
}

.cadre_haut_titre_evenement{
	background:top center no-repeat url('gauche_cadre_top.gif');
}

.gauche_cadre_tab{
	position:relative;
	top:2px;
	width:44px;
	float:left;
	cursor:pointer;
	text-align:center;
	color:#6d6d6d;
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
}

.gauche_cadre_tab_select{
	position:relative;
	top:2px;
	width:44px;
	float:left;
	background-color:white;
	cursor:pointer;
	text-align:center;
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
	color:#6d6d6d;
	background-image:url('gauche_cadre_tab_center_select.gif');
}

.gauche_cadre_tab_gauche{
	float:left;
	width:15px;
	height:18px;
}

.gauche_cadre_tab_droite{
	float:right;
	width:15px;
	height:18px;
}

.gauche_cadre_tab_gauche_select{
	float:left;
	width:7px;
	height:18px;
	background-image:url('gauche_cadre_tab_gauche_select.gif');
}

.gauche_cadre_tab_droite_select{
	float:right;
	width:7px;
	height:18px;
	background-image:url('gauche_cadre_tab_droite_select.gif');
}

#cadre_actualites{
	position:relative;
	height:320px;
	padding-top:11px;
	color:#404040;
}

#cadre_actualites_in{	
	background:center url('gauche_cadre_fond.gif');
}

.cadre_bottom{
	width:260px;
	height:11px;
	font-size:0px;
	background:bottom center no-repeat url('gauche_cadre_bottom.gif');
}

.cadre_actualites_tab_center{
	padding-top:2px;
}

.cadre_actualites_titre{
	color:#4c4a49;
}

.cadre_actualites_in{
	height:200px;
	text-align:left;
	padding:10px 10px 5px 10px;
	line-height:16px;
	text-align:justify;
	overflow:hidden;
}

#cadre_evenements{
	position:relative;
	height:320px;
	top:0px;
	padding-top:11px;
	color:#404040;
}

#cadre_evenements_in{
	height:150px;
	padding-left:20px;
	background:center url('gauche_cadre_fond.gif');
	font-family:Verdana;
	font-size:11px;
}

.cadre_evenements_in{
	float:left;
	width:140px;
	height:120px;
	line-height:16px;
	text-align:left;
	margin:10px 0px 0px 0px;
	overflow:hidden;
}

a{
	color:#800000;
	text-decoration:none;
}

.titre{
	font-family:Verdana;
	font-size:18px;
	color:#c10f12;
}

.a_titre_2{
	color:#8f3739;
}

.titre3{
	color:#808080;
	font-family:Arial;
	font-size:11px;
}

#bas{
	position:relative;
	float:left;
	width:980px;
	height:98px;
	top:40px;
	background-image:url('bas.gif');
	background-repeat:no-repeat;
	color:#202020;
	text-align:center;
	font-family:Verdana;
	font-size:11px;
}


#bas_top{
	float:right;
	margin:55px 25px 0px 0px;
}

#bas_menu{
	padding-top:64px;
}

#bas a {
	color:black;
}

#bas a:hover{
	text-decoration:underline;
}

#bas_fleche{
	width:14px;
	height:19px;
	background-image:url('fleche_top.gif');
}

.photo_entete{
	float:left;
	margin:0px 20px 10px 0px;
}

#rechercher{
	float:right;
	height:18px;
	position:relative;
	top:-31px;
	padding:4px 10px 0px 8px;
}

.archives_select{
	font-family:Verdana;
	font-size:11px;
}

.archives_titre{
	color:#4b4b4b;
	font-style:italic;
}

li{
	background-image:url('carre2.gif');
	background-repeat:no-repeat;
	background-position:0px 5px;
	margin-bottom:7px;
	list-style: none;
	padding-left:12px;
}