
/*
 * Correction des styles HTML par defaut
 */

.structure {
	display: none;
}
h1,h2,h3,h4 {
	margin-top: 0em;
	margin-bottom: 0em;
	font-size: 100%;
	font-weight: normal;
}

/*
 * Styles generaux
 */

/* bien regler la marge (bugs IE) */
body { background: white; margin: 10px; font-family:Arial;}
a { text-decoration: none; color: #034a93; }
a:hover { text-decoration: underline; }
a.spip_out { text-decoration: none; color: #a02020; }
a.spip_in, a.spip_url { text-decoration: none; color: #2020a0; }
a.spip_glossaire { text-decoration: none; color: #20a020; }

.chapo {
	font-family: Arial;
	font-weight: bold;
	text-align: left;
	font-size: 16px;
}
.texte, .texte p.spip {
	font-family: Arial;
	font-size:13px;
	text-align: left;
}
.ps {
	font-family: Georgia, Garamond, Times, serif;
	text-align: justify;
	font-size: 85%;
}
.notes {
	font-family: Georgia, Garamond, Times, serif;
	text-align: left;
	font-size: 80%;
}

/*
 * Ici les styles pour le contenu
 */
/*
.contenu2 h1,h2 {
	font-size: 120%;
	font-weight: bold;
}
.contenu2 h1,h2.titre-extrait {
	font-size: 160%;
	font-weight: bold;
}
.contenu2 h1,h2.titre-texte {
	font-size: 190%;
	font-weight: bold;
}
.contenu2 .surtitre {
	font-size: 110%;
	font-weight: bold;
	font-variant: small-caps;
}
.contenu2 .detail {
	font-size: 80%;
	color: #303030;
}
.extrait {
	border: groove 2px #a0a0a0;
	padding: 1em;
	font-size: 85%;
}
*/

/*
 * Disposition a l'ecran
 */

#principal {
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}

#plan {
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}

#navigation {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.encart {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

