/*** Module ticker ***/
#idalgo { display:block; position:relative; width:290px; height:298px; overflow:hidden; background-color:#FFF; border:none; margin:0; padding:0; }

#idalgo * { font-family:Arial, Verdana, sans-serif; font-size:11px; margin:0; padding:0; line-height:11px; vertical-align:middle; list-style:none; border:none; }
#idalgo .off { display:none;  }
#idalgo .on  { display:block; }
#idalgo a { text-decoration:none; color:#000; cursor:pointer; }

#idalgo #idalgo_content #idalgo_ticker { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/header.gif) no-repeat; padding-top:38px; }

#idalgo #idalgo_content #idalgo_ticker #idalgo_menu { display:block; position:relative; width:298px; height:43px; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul { position:relative; display:block; width:298px; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li { display:inline; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a { position:absolute; height:43px; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a span { display:none; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a#button_idalgo_jupiler_matchlist     { left:0px; width:47px; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a#button_idalgo_ligue1_matchlist      { left:45px; width:48px; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a#button_idalgo_premier_matchlist     { left:92px; width:49px; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a#button_idalgo_liga_matchlist        { left:138px; width:48px; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a#button_idalgo_calacio_matchlist     { left:185px; width:47px; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a#button_idalgo_bundesliga_matchlist  { left:232px; width:59px; }

#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_jupiler-but_on          { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/be_on.gif)  no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_jupiler-but_off         { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/be_off.gif) no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_ligue1-but_on           { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/fr_on.gif)  no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_ligue1-but_off          { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/fr_off.gif) no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_premier-but_on          { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/an_on.gif)  no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_premier-but_off         { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/an_off.gif) no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_liga-but_on             { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/es_on.gif)  no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_liga-but_off            { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/es_off.gif) no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_calacio-but_on          { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/it_on.gif)  no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_calacio-but_off         { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/it_off.gif) no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_bundesliga-but_on       { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/al_on.gif)  no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_bundesliga-but_off      { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/al_off.gif) no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_jupiler-but_on-live     { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/be-live_on.gif)  no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_jupiler-but_off-live    { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/be-live_off.gif) no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_ligue1-but_on-live      { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/fr-live_on.gif)  no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_ligue1-but_off-live     { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/fr-live_off.gif) no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_premier-but_on-live     { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/an-live_on.gif)  no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_premier-but_off-live    { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/an-live_off.gif) no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_liga-but_on-live        { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/es-live_on.gif)  no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_liga-but_off-live       { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/es-live_off.gif) no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_calacio-but_on-live     { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/it-live_on.gif)  no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_calacio-but_off-live    { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/it-live_off.gif) no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_bundesliga-but_on-live  { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/al-live_on.gif)  no-repeat; }
#idalgo #idalgo_content #idalgo_ticker #idalgo_menu ul li a.champ_bundesliga-but_off-live { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/al-live_off.gif) no-repeat; }

#idalgo #idalgo_content #idalgo_ticker .matchlist .menu { height:16px; line-height:16px; vertical-align:middle; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .menu li { position:absolute; line-height:16px; line-height:16px; vertical-align:middle; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .menu li a { height:16px; line-height:16px; vertical-align:middle; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .menu li.current { left:10px; padding-left:8px; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .menu li.next { left:100px; padding-left:8px; }
#idalgo #idalgo_content #idalgo_ticker .matchlist.current .menu li.current a,
#idalgo #idalgo_content #idalgo_ticker .matchlist.next .menu li.next a { font-size:12px; }
#idalgo #idalgo_content #idalgo_ticker .matchlist.current .menu li.current { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/fleche_on.gif) no-repeat left center; }
#idalgo #idalgo_content #idalgo_ticker .matchlist.current .menu li.next { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/fleche_off.gif) no-repeat left center; }
#idalgo #idalgo_content #idalgo_ticker .matchlist.next .menu li.current { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/fleche_off.gif) no-repeat left center; }
#idalgo #idalgo_content #idalgo_ticker .matchlist.next .menu li.next { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/fleche_on.gif) no-repeat left center; font-size:12px; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .menu li.classement { right:10px; padding-left:8px; background:url(http://www.lalibre.be/foot2008/ticker/cache/media/fleche_off.gif) no-repeat left center; }

#idalgo #idalgo_content #idalgo_ticker .matchlist .list { background-color:#ebf5fe; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .list li { position:relative; height:19px; line-height:19px; border-bottom:1px solid white; background-color:#FFF; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .list li.over { background-color:#7d2447; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .list li.over a { color:#FFF; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .list li.over a span.score,
#idalgo #idalgo_content #idalgo_ticker .matchlist .list li.over a span.score.date { color:#FFF; font-weight:bold; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .list li.out  { background-color:#eee; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .list li a { height:19px; line-height:19px; vertical-align:middle; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .list li a span { position:absolute; height:19px; line-height:19px; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .list li a span.equipe { }
#idalgo #idalgo_content #idalgo_ticker .matchlist .list li a span.equipe.win { font-weight:bold; font-size:12px; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .list li a span.temps { width:30px; left:4px; top:3px; text-align:center; height:14px; line-height:14px; overflow:hidden; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .list li a span.temps.current { background:url(http://www.lalibre.be/foot2008/ticker/cache/media/gif_anime_live.gif) #4db103; color:#FFF; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .list li a span.temps.ter { background-color:#CC0000; color:#FFF; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .list li a span.temps.mt { background-color:#ff9900; color:#FFF; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .list li a span.local { width:97px; left:34px; text-align:right; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .list li a span.score { width:50px; left:131px; font-weight:bold; color:#dd520d; font-size:12px; text-align:center; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .list li a span.score.date { font-size:11px; font-weight:normal; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .list li a span.visiteur { width:104px; left:181px; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .list li a span.suivi { width:14px; left:277px; background:url(http://www.lalibre.be/foot2008/ticker/cache/media/plus_off.gif) no-repeat left center; }
#idalgo #idalgo_content #idalgo_ticker .matchlist .list li.over a span.suivi { width:14px; left:277px; background:url(http://www.lalibre.be/foot2008/ticker/cache/media/plus_on.gif) no-repeat left center; }
