.form-field {font-family:verdana,arial,helvetica,sans-serif; font-size:10px; color:#000000; 
font-weight:normal;} .t7 { color:#666666; text-decoration:none; } .t7:hover { 
color:#CC0000; text-decoration:underline; } .t6 { color:#000000; text-decoration:none; 
; font-size: 10px } .t6:hover { color:#CC0000; text-decoration:underline; } .t5 
{ color:#3E3E3E; text-decoration:underline; } .t5:hover { color:#7D7D7D; text-decoration:underline; 
} .milieunews { font-size : 10px; color:#000000; text-decoration:underline; } 
.milieunews:hover { font-size : 10px; color:#CC0000; text-decoration:underline; 
} .afp {font-size : 10px; color:#000000; text-decoration:underline; } .afp:hover 
{font-size : 10px; color:#CC0000; text-decoration:underline; } .mobiledroite {color:#006600; 
text-decoration:none; } .mobiledroite:hover {color:#00CC00; text-decoration:underline; 
} .mobilehome1 {color:#006600; text-decoration:underline; } .mobilehome1:hover 
{color:#00CC00; text-decoration:underline; } .mobilehome {color:#000000; text-decoration:underline; 
} .mobilehome:hover {color:#00CC00; text-decoration:underline; } .markethome {color:#cc0099; 
text-decoration:none; } .markethome:hover {color:#CC66FF; text-decoration:underline; 
} .marketinterne {color:#6F2493; text-decoration:none; } .marketinterne:hover 
{color:#cc66ff; text-decoration:underline; } .thematique { font-size : 10px; color:#000000; 
text-decoration:none; } .thematique:hover { font-size : 10px; color:#000000; text-decoration:underline; 
} .funinso {color:#FF9900; text-decoration:underline; } .funinso:hover {color:#339999; 
text-decoration:underline; } .funinso_bis {color:#FF9900; text-decoration:none; 
} .funinso_bis:hover {color:#339999; text-decoration:underline; } .funhumour {color:#000000; 
text-decoration:underline; } .funhumour:hover {color:#FF6600; text-decoration:underline; 
} .funannonces {color:#339999; text-decoration:none; } .funannonces:hover {color:#339999; 
text-decoration:underline; } .encheresinterne {color:#6F2493; text-decoration:none; 
} .encheresinterne:hover {color:#cc66ff; text-decoration:underline; } .t6bis { 
color:#CC0000; text-decoration:none; } .t6bis:hover { color:#CC0000; text-decoration:underline; 
}
.animauxannonces {color:#326696; text-decoration:none; } 
.animauxannonces:hover {color:#326696; text-decoration:underline; }


.autoannonces {color:#000099; text-decoration:none; } 
.autoannonces:hover {color:#000099; text-decoration:underline; }

.telekurs {
	color:#000000; font-size:11px; text-decoration:none; font-family: Arial, Helvetica, sans-serif;
} 
.telekurs:hover {
	color:#CC0000;
	font-size:11px; font-family: Arial, Helvetica, sans-serif; text-decoration: underline;
} 


.NewsSport {color:#000066; font-size:11px;font-face="arial" text-decoration:none; } 
.NewsSport:hover {color:#3366CC; font-size:11px;font-face="arial" text-decoration:underline; } 

.NewsSportBis {color:#3366CC; font-size:11px;font-face="arial" text-decoration:none; } 
.NewsSportBis:hover {color:#3366CC; font-size:11px;font-face="arial" text-decoration:underline; } 

.afpSport {font-size : 10px; color:#000000; text-decoration:underline; } 
.afpSport:hover {font-size : 10px; color:#CC0000; text-decoration:underline; }


