#layout-page-accueil {
	color: #000;
	width: 984px;
	margin: 10px auto;
	background:#fff url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/visuel_bout_gauche.gif) 215px 91px no-repeat;
	border: 4px solid #dfdfdf;
}
#layout-page-accueil #fondMg {
	margin:72px 0 0 0; /* hauteur normale 112px */
	float: left;
	width:229px;
	background: transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/mg_fond.gif) 0 0 repeat-y;
}

#sousmenu {
	/*position:absolute;*/
	float:left;
	display:block;
}
#decouvrir-accueil {
	width:271px;
	height:88px;
	display:block;
	/*float:left;
	position:relative;*/
}
#decouvrir-accueil a{
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/decouvrir.gif) 0 0 no-repeat;
	width:271px;
	height:88px;
}
#decouvrir-accueil a:hover{
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/decouvrir.gif) 0 100% no-repeat;
}

#accueil-contentPage {
	width:631px;
	float:right;
}

#flashaccueil{
	width:755px;
	height:223px;
	background: #fff url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/visuel.jpg) 0 0 no-repeat;
}


/* NEWS */
#bloc-edito {
	width:274px;

}
#bloc-edito h2 {
	background:#fff url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/actu_titre.gif) 0 28px no-repeat;
	font-size:1em;
	padding: 30px 0 0 23px;
	color:#999;
}
.accueil-edito {
	padding: 0 30px 0 26px;
}
.accueil-edito dt{
	font-size: 1.15em;
	color: #004494;
	line-height:1em;
	margin: 8px 0 4px 0;
}
.accueil-edito dd{
	line-height:1.1em;
}


#bloc-actus {
	width:356px;
	text-align:left;
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/fond_accueil_cache.gif) 0 0 repeat-y;
	padding: 0 0 10px 0;
}
#bloc-actus h2 {
	background:#fff url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/actu_titre.gif) 5px 0 no-repeat;
	font-size:1em;
	padding: 2px 0 0 28px;
	color:#999;
}
.accueil-news {
	padding: 0 30px 0px 26px;
}
.accueil-news dt{
	font-size: 1.15em;
	color: #f77e01;
	line-height:1em;
	margin: 8px 0 4px 0;
}
.accueil-news dd{
	line-height:1.1em;
	padding:0;
	margin:0;
	text-indent:0;
	display:block;
	list-style-type:none;
	list-style-position:inside;
}

.accueil-news dd img{
	padding:1px;
	border:1px solid #DFDFDF;
	margin-right:5px;
}
.accueil-news dt a{
	color: #f77e01;
	text-decoration:none;
}
.accueil-news dt a:hover{
	color: #f77e01;
	text-decoration:underline;
}


#bloc-agenda {
	width:356px;
	text-align:left;
	padding: 0 0 0 0;
}
#bloc-agenda h2 {
	background:#fff url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/agenda_titre.gif) 0 0 no-repeat;
	font-size:1em;
	padding: 2px 0 0 28px;
	color:#999;
}
.accueil-agenda {
	padding: 0 30px 0px 26px;
}
.accueil-agenda dd{
	display:none;
}
.accueil-agenda dt{
	font-size: 1.15em;
	color: #e2001a;
	line-height:1em;
	margin: 2px 0 0 0;
	padding: 0 0 0 10px;
	background:#fff url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/agenda_puce.gif) 0 2px no-repeat;
}
.accueil-agenda dt a{
	color: #e2001a;
	text-decoration:none;
}
.accueil-agenda dt a:hover{
	color: #e2001a;
	text-decoration:underline;
}




#bloc-enbref {
	width:356px;
	text-align:left;
	padding: 15px 0 0 0;
}
.accueil-enbref {
	padding: 0 30px 0px 26px;
}
.accueil-enbref dd{
	line-height:1.1em;
}
.accueil-enbref dt{
	font-size: 1.2em;
	color: #999;
	line-height:1em;
	margin: 5px 0 0 0;
}
.accueil-enbref dt a{
	color: #999;
	text-decoration:none;
}
.accueil-enbref dt a:hover{
	color: #999;
	text-decoration:underline;
}


#bloc-sondage {
	width:276px;
	text-align:left;
	padding: 0 0 0 40px;
	margin: 0 0 0 30px;
}
#bloc-sondage .module {
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/sondage_fond.gif) 0 0px no-repeat;
	min-height:100px;
}
#bloc-sondage .module h2{
	font-size: 1.3em;
	color: #004494;
	margin:0;
}
#bloc-sondage .module h3{
	font-size: 1.1em;
	color: #999;
	margin:0 0 0 15px;
}
#bloc-sondage .module li {
	list-style-type:none;
	list-style-image:none;
	font-size: 1.1em;
	color: #000;
	margin: 0 0 0 15px;
	vertical-align:middle;
}
#bloc-sondage .module input {
	border:none;
	vertical-align:middle;
}
#bloc-sondage .module input.valid, #bloc-sondage .module input.valid:focus {
	font-size: .8em;
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/bt_ok.gif) 0 0 no-repeat;
	color:#DFDFDF;
	width:32px;
	height:27px;
	margin-right:80px;
}
#bloc-sondage .module input.valid:hover {
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/bt_ok.gif) 0 100% no-repeat;
	color:#DFDFDF;
}



/***** SELECT BOX **********/

#entreeprofil {
 	height: 49px;
	background:#fff url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/visuel_bout_bas.gif) 14px 0px no-repeat;
	margin:223px 0 0 0;
	padding:0;
	text-align:right;
}
#entreeprofil #fondselect{
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/selectbox.gif) 423px 0px no-repeat;
	margin:0 0 0 0;
	padding:9px 16px 0 0;
}
#entreeprofil #fondselect select{
	border:none;
	margin:2px 0px 0 0;
	width:185px;
	vertical-align: top;
}
#entreeprofil input {
	border:none;
}
#entreeprofil input.valid, #entreeprofil input.valid:focus {
	font-size: .8em;
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/bt_ok.gif) 0 0 no-repeat;
	color:#DFDFDF;
	width:32px;
	height:27px;
}
#entreeprofil input.valid:hover {
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/bt_ok.gif) 0 100% no-repeat;
	color:#DFDFDF;
}
.frmShdwSelectDropChosen{
	margin:3px 3px 3px 5px;
	padding: 0 0 0 2px !important;
	padding: 0 0 3px 2px;
	font-size:.9em;
	float:left;
	border-right:1px solid #cccccc;
	border-left:1px solid #ffffff !important;
	border-left:0;
	display:block;
	cursor:pointer;
	/*some stuff for IE*/
	color:#666666;
	text-decoration:none;
}

.frmShdwSelectDropShown{
	margin:3px 3px 3px 5px;
	padding: 0 0 0 2px;
	font-size:.9em;
	float:left;
	border-right:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	position:absolute;
	background:#ffffff;
}

.frmShdwSelectDrop{
	display:none;
}

.fakeSelectImg{
	border:0;
	margin:5px 5px 0px 0px;
}

.frmShdwSelectDropShown a{
	display:block;
	margin:0;
	padding:0px;
	border-bottom:1px dashed #ffffff;
	text-decoration:none;
	color:#666666;
}

	.frmShdwSelectDropShown a.selected{
		background:#f7f7f7;
		color:#000000;
		border-bottom:1px dashed #cccccc;
	}

	.frmShdwSelectDropShown a.selected:after{
		content:" <<";
	}


	.frmShdwSelectDropShown a:hover{
		background:#f7f7f7;
		border-bottom:1px dashed #cccccc;
		text-decoration:none;
		color:#666666;
	}

	.frmShdwSelectDropShown a:hover:after{
		content:" <<";
	}



/****   moteur de recherche   ****/
#layout-page-accueil #globalSearch {
	margin: .0 0 0 0;
	padding: 66px 0 0 74px;
	color: #DFDFDF;
	text-align:left;
	background: transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/recherche_fond.gif) 0 0 no-repeat;
	/*height:76px;*/
	width:207px;
	/*float:left;*/
}
#layout-page-accueil #globalSearch label {
	font-size: .8em;
}
#layout-page-accueil #globalSearch input {
	font-size: .8em;
	border:none;
	vertical-align: top;
	width:157px;
}
#layout-page-accueil #globalSearch input.valid, #globalSearch input.valid:focus {
	font-size: .8em;
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/bt_ok_recherche.gif) 0 0 no-repeat;
	color:#DFDFDF;
	width:32px;
	height:27px;
}
#layout-page-accueil #globalSearch input.valid:hover {
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/bt_ok_recherche.gif) 0 100% no-repeat;
	color:#DFDFDF;
}












p.accueil-posted {
	margin: 5px 0 0 0 !important;
	padding:0 !important;
	text-align:right;
}

.accueil-actus {
	float: right;
	width:365px;
}
.accueil-news-Cols {
	border:5px solid #6bc3e9;
	border-top: none;
	border-bottom:1px solid #6bc3e9;
	margin: 0 0 10px 0;
	background-color:#F0F0F0;
	padding: 5px;
}
h2#titre-actus{
	background-color:#6bc3e9;
	color:#fff;
	font-style:italic;
	font-size:1em;
	font-weight:bold;
	text-transform:uppercase;
	padding:2px 0 0 5px;
	margin-top: 10px;
}
.accueil-news-Cols dt {
	color:#00667f;
	font-weight:bold;
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/puce_ronde.gif) 1% 70% no-repeat;
	padding: 5px 0 0 15px;
}
.accueil-news-Cols dt a {
	color:#00667f;
	font-weight:bold;
}
.accueil-news-Cols dt a:hover {
	color:#DFDFDF;
}
h2#titre-flash{
	background-color:#ccc;
	color:#fff;
	font-style:italic;
	font-size:1em;
	font-weight:bold;
	text-transform:uppercase;
	padding:2px 0 0 5px;
	margin-top: 20px;
}
.accueil-flash {
	border:5px solid #ccc;
	border-top: none;
	border-bottom:1px solid #ccc;
	margin: 0 0 2px 0;
	background-color:#f5f5f5;
	padding: 5px;
}
.accueil-flash dt {
	color:#ccc;
	font-weight:bold;
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/puce_ronde.gif) 1% 70% no-repeat;
	padding: 5px 0 0 15px;
}

