.TABLE-form-gpr {
	font: 11px Arial, Helvetica, sans-serif;
	color: #00539E;
	border: 1px solid #ccc;
	border-top: none;
	width: 99%;
	border-collapse:collapse;
}
.TABLE-form-gpr th {
	border-top: 1px solid #ccc;
	font-weight: normal;
	text-align: left;
	padding: 0 5px;
	color: #00539E;
}
.TABLE-form-gpr tr { border-top: 1px solid #ccc; }
.TABLE-form-gpr td {
	text-align: center;
	border: 1px solid #ccc;
}

.TABLE-form-gpr .entete {
	padding: 0 10px;
	text-align: center;
}

.FORM-noLabel {	padding-left: 20px; }
.FORM-bold { font-weight: bold; }
.FORM-italic { font-style: italic; }
.FORM-puce {
	font-weight: bold;
	display: list-item;
	list-style: url('http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/fleche.gif') inside;
}

h4.FORM-encadre {
	color: #00539E;
	border: 1px solid #ccc;
	padding: 4px;
}
h4.FORM-sousligne {
	color: #00539E;
	padding: 0 0 1px 5px;
	border-bottom: 1px solid #ccc;
}
h4.FORM-defaut { color: #00539E; }