
/* menu haut */
#enteteprint {
	display:none;
}

#Mh-visuel h1, #Mh-visuel p.mh-stitre { display: none; }
#Mh-visuel h2 { display: none; }

#Menu-outils {
	padding: 0;
	margin: 0;
	text-align: left;
	border-bottom: 1px solid #dfdfdf;
	background-color:#dfdfdf;
	height:20px;
}
#Menu-outils ul {
	padding: 0;
	margin: 0 0 0 20px;
	height:20px;
}

#Menu-outils ul li{
	display:inline !important;
	margin: 0;
	padding:0;
}
#Menu-outils ul li a {
	color:#9e9894;
	display:block;
	float:left;
	padding:0px 0 0px 7px;
	margin: 0 5px 0 0;
	height:20px;
	font-weight:bold;
	text-decoration:none;
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/mh_gauche.gif) 0 0 no-repeat;
}
#Menu-outils ul li a span{
	display:block;
	float:none;
	padding:2px 15px 1px 8px;
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/mh_droite.gif) right 0 no-repeat;
}
#Menu-outils ul li a:hover span {
	color:#00438f;
	background-position: right -21px;
}
#Menu-outils ul li a:hover {
	color:#00438f;
	background-position: left -21px;
}

/* Colonne */
#Main {
	float: left;
	width: 100%;
	/*background:transparent url(../../images/visuel_bout_gauche.gif) 226px 70px no-repeat;
	background:transparent url(../../images/fond_accueil.gif) 100% 0 repeat-y;*/
	background: url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/fond_page.gif) 253px 0 repeat-y;
	margin:0 0 0 0;
}
#Main-accueil {
	float: left;
	width: 100%;
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/fond_accueil.gif) 100% 0 repeat-y;
	margin:0 0 0 0;
	border:none;
	padding:0;
}
#col-Content {
	float: right;
	width: 740px;
	margin: 0 0 0 0;
}
#col-Main {
	float:left;
	width:740px;
}
#accueil-col-Content {
	float: right;
	width: 694px;
	margin: 0 0 0 0;
}
#visuelflash-accueil {
	float: left;
	position:absolute;
	margin-left:-61px;
}
#visuelflash {
	float: left;
	position:absolute;
	margin-left:-10px;
}


#col-Md {
	float:right;
	width:43px;
	text-align:right;
	margin:0 0px 0 0;
	padding-right:5px;
}
#col-Md img{

}


/* menu gauche */
#col-Mg {
	margin:0 0 0 0;
	float: left;
	width:239px;
	position:relative;
}

#fondMg {
	margin:71px 0 0 0;
	float: left;
	width:229px;
	background: transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/mg_fond.gif) 0 0 repeat-y;
}

#Main-accueil .Mg {
	background: transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/mg_haut.gif) 0 0 no-repeat;
	margin:0;
	padding: 90px 0 0 0;
}
.Mg {
	background: transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/mg_haut_page.gif) 0 0 no-repeat;
	margin:0;
	padding: 90px 0 0 0;
}
.Mg h2 {
	display:none;
}
.Mg h2 span{
	display:none;
}

.Mg-Menu {
	background: transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/mg_bas.gif) 0 100% no-repeat;
	padding: 0 0 12px 0;
	min-height:140px;
	height:auto !important;
	height:140px;
}
.Mg-Menu ul {
	margin: 0;
	list-style-type: none;
}
.Mg-Menu ul li span.menuRubrique {
	display: none;
	margin:0 0 5px 0;
}
.Mg-Menu ul li {
	margin:0 0 8px 0;
	padding: 0 12px 1px 0;
}

.Mg-Menu ul li a {
	background: transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/mg_puce.gif) 0 4px no-repeat;
	padding: 0 0 1px 15px;
	display:block;
	text-decoration:none;
	font-size: 1.15em;
	font-weight:bold;
	color:#fff;
	line-height:1em;
}
.Mg-Menu ul li a:hover {
	background: transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/mg_puce2.gif) 0 4px no-repeat;
	color:#e30119;
}
.Mg-Menu ul li strong a{
	color:#e30119;
	background: transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/mg_puce2.gif) 0 4px no-repeat;
}

.Mg-Menu ul ul  {
	margin: 8px 0 0 0;
	padding: 0;
}
.Mg-Menu ul ul li {
	margin: 0 0 4px 15px;
	padding: 0 12px 1px 0;
}
.Mg-Menu ul ul li a {
	background: transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/mg_puce3.gif) 0 4px no-repeat;
	padding: 0 0 0 10px;
	display:block;
	text-decoration:none;
	font-size: 1em;
	font-weight:bold;
	color:#fff;
	line-height:1em;
}
.Mg-Menu ul ul li a:hover {
	color:#e30119;
	background: transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/mg_puce3.gif) 0 4px no-repeat;
}
.Mg-Menu ul ul li strong a {
	color:#e30119;
	background: transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/mg_puce3.gif) 0 4px no-repeat;
}


#decouvrir {
	width:244px;
	height:89px;
	display:block;
	float:left;
	overflow: hidden;
}
#decouvrir a{
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/decouvrir_2.gif) 0 0 no-repeat;
	width:244px;
	height:89px;
}
#decouvrir a:hover{
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/decouvrir_2.gif) 0 100% no-repeat;
}

/* Footer */

#Menu-pied {
	padding: 0;
	margin: 0;
	text-align: right;
	border-top: 1px solid #dfdfdf;
	background-color:#dfdfdf;
	height:20px;
}
#Menu-pied h2 {
	display:none;
}
#Menu-pied ul {
	padding: 0;
	margin: 0 15px 0 0;
	height:20px;
}

#Menu-pied ul li{
	display:inline !important;
	margin: 0;
	padding:0;
}
#Menu-pied ul li a {
	color:#9e9894;
	display:block;
	float:right;
	padding:0px 0 0px 6px;
	margin: 0 5px 0 0;
	height:20px;
	font-weight:bold;
	text-decoration:none;
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/mb_gauche.gif) 0 -21px no-repeat;
}
#Menu-pied ul li a span{
	display:block;
	float:none;
	padding:1px 15px 2px 8px;
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/mb_droite.gif) right -21px no-repeat;
}
#Menu-pied ul li a:hover span {
	color:#00438f;
	background-position: right 0px;
}
#Menu-pied ul li a:hover {
	color:#00438f;
	background-position: left 0px;
}

#contentFooter {
	text-align: left;
	background: #7fb2bf url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/fond_bottom2.gif) 0 0 repeat-y !important;
	margin:0;
	padding:0;
}
#contentFooter li {
	display: inline;
	padding: 0 .5em;
	color: #747474;
}
#contentFooter #bandeverte {
	background: #7fb2bf url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/fond_bottom1.gif) 0 0 repeat-y;
	height:17px;
}
#contentFooter li a { color: #747474; }
#contentFooter li a:hover {	color: #0055A0; }

#copyright-terms {
	font-size: .8em;
	padding: .2em .2em .2em 1em;
	color: #00667f;
	margin:0;
}
#contentFooter #actengo-logo {
	margin:.8em 1em 1px 0;
	width: 86px;
	height: 18px;
	vertical-align: bottom;
	float:right;
	border:none;
}
.hautPage {
	height: 16px;
	width: 79px;
	margin: .7em;
}
.w3c {
	height: 15px;
	width: 80px;
	margin: 0 .5em;
}

/* N derniers / moteur de rechercher */
div.nav-header {
	font-size: .9em;
	border: #999 solid 1px;
	background-color: #eee;
	margin-bottom: 1em;
}
ul.nav-header { list-style: none; }
div.nav-header ol {	margin: 1em 0 1em 2em !important; }
ul.nav-header, div.nav-header li {}
div.nav-header a {	color: #0a317b; }
div.nav-header a:hover {
	color: #838789;
	text-decoration: underline;
}

/* menu raccourcis autres sites */
h2.titre_autres_sites {
	display:none;
}
#autres_sites{
	text-align:right;
	margin-top:18px;
}
#autres_sites li{
	border:1px solid #eaeaea;
	border-bottom:1px solid #ccc;
	border-right:none !important;
	margin: 0 0 1px 2px;
	list-style-type:none;
	background-color:#fff;

}
#autres_sites li a{
	color:#959494;
	display:block;
	text-decoration: none;
	width:32px;
}
#autres_sites li a:hover{
	color:#fff;
}

#autres_sites li#Ass {
	display:none;
}

#autres_sites li#Dir a{
	border-right:7px solid #00a19c;
	padding: 0 1px 0 0;
}
#autres_sites li#Dir a:hover{
	background-color:#00a19c;
}

#autres_sites li#DRH a{
	border-right:7px solid #aa1e6a;
	padding: 0 1px 0 0;
}
#autres_sites li#DRH a:hover{
	background-color:#aa1e6a;
}

#autres_sites li#Ass a{
	border-right:7px solid #DFDFDF;
	padding: 0 1px 0 0;
}
#autres_sites li#Ass a:hover{
	background-color:#DFDFDF;
}

#autres_sites li#Ani a{
	border-right:7px solid #b5d023;
	padding: 0 1px 0 0;
}
#autres_sites li#Ani a:hover{
	background-color:#b5d023;
}

#autres_sites li#Res a{
	border-right:7px solid #752741;
	padding: 0 1px 0 0;
}
#autres_sites li#Res a:hover{
	background-color:#752741;
}


#autres_sites li#Ami a{
	border-right:7px solid #F07A0B;
	padding: 0 1px 0 0;
}
#autres_sites li#Ami a:hover{
	background-color:#F07A0B;
}

#autres_sites li#Syst a{
	border-right:7px solid #d2239f;
	padding: 0 1px 0 0;
}
#autres_sites li#Syst a:hover{
	background-color:#d2239f;
}

#autres_sites li#Doc a{
	border-right:7px solid #005c9d;
	padding: 0 1px 0 0;
}
#autres_sites li#Doc a:hover{
	background-color:#005c9d;
}

#autres_sites li#Qua a{
	border-right:7px solid #33b433;
	padding: 0 1px 0 0;
}
#autres_sites li#Qua a:hover{
	background-color:#33b433;
}

#autres_sites li#Fin a{
	border-right:7px solid #eb0000;
	padding: 0 1px 0 0;
}
#autres_sites li#Fin a:hover{
	background-color:#eb0000;
}


