/* Moteur de recherche */
#globalSearch {
	margin: .0 0 0 0;
	padding: 63px 0 0 37px;
	color: #DFDFDF;
	text-align:left;
	background: transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/recherche_fond.gif) -36px -3px no-repeat;
	height:76px;
	width:207px;
	float:left;
}
#globalSearch label {
	font-size: .8em;
}
#globalSearch input {
	font-size: .8em;
	border:none;
	vertical-align: top;
	width:157px;
}
#globalSearch input.valid, #globalSearch input.valid:focus {
	font-size: .8em;
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/bt_ok_recherche.gif) 0 0 no-repeat;
	color:#DFDFDF;
	width:32px;
	height:27px;
}
#globalSearch input.valid:hover {
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/bt_ok_recherche.gif) 0 100% no-repeat;
	color:#DFDFDF;
}
ol.globalSearch li { padding-bottom: .5em;	}
ol.globalSearch strong {
	color:#fff;
	font-weight:bold;
	font-size:1.1em;
	background-color:#999;
	padding:0 .1em;
}
#globalSearch fieldset {
	border: 0;
	padding: 0;
	vertical-align: middle;
	display: inline;
}

/* *** Annuaire de liens et basedoc*** */
#contentPage #rechercheMenu {
	padding: 12px 0 0 0;
	margin:5px 0 15px 0;
}
#contentPage #rechercheMenu li{
	display:block;
	list-style-type:none;
	list-style-image:none;
	background: url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/puce1.gif) 0 4px no-repeat;
	padding:0 0 0 8px;
	margin:0 0 0 20px;
	line-height:1.2em;
	color: #ff8300;
}
#contentPage #rechercheMenu a {
	color: #ff8300;
	padding: 0;
	margin:0;
	text-decoration:none;
	font-weight:bold;
}
#contentPage #rechercheMenu a:hover { color: #f2000b; }
#contentPage #rechercheMenu .selected a {
	color: #f2000b;
}
#contentPage #rechercheMenu-contenu label {
	font-weight:bold;
	color:#999;
}

#contentPage .categorie {
	padding: 0;
	margin:0 0 15px 40px;
}
#contentPage .categorie li a{
	font-weight:bold;
	color:#999;
	text-decoration:none;
	font-size:1.1em;
}
#contentPage .categorie li a:hover{
	color:#f2000b;
	text-decoration:underline;
}
#contentPage .categorie ul li a{
	font-weight:normal;
	color:#999;
	text-decoration:none;
	font-size:1em;
}
#contentPage .categorie ul li a:hover{
	color:#f2000b;
	text-decoration:underline;
}
#contentPage .center {
	margin:0 0 3px 0 !important;
}
#contentPage .form_note {
	display:none;
}
#contentPage .div_note {
	display:inline;
}
#contentPage .form_note {
}
#contentPage .div_note span {
	/*padding-left:1px;
	padding-right:0px;
	margin-right:-1px;
	padding-top:0px;
	margin-bottom:0px;
	margin-left:0;*/
	padding:0;
	margin:0;
}
#contentPage .div_note span .etoile {
	margin:0;
	padding:0;
	vertical-align: middle;
}



/* *** login *** */
.members {
	margin: 5px 14px 5px 18px;
	border:1px solid #eee;
	padding: 10px 10px 10px 15px;
}
.members li {
	font-weight:bold;
	color: #747474;
	margin-bottom:5px;
	list-style-type: none;
}
.members li a {	color: #747474; }
.members li a:hover{
	color: #0055A0;
	text-decoration: none;
}
.members img { margin-right: 10px; }

/* lettre d'info */
#newsLetters {
	margin: 5px 14px 5px 18px;
	border:1px solid #eee;
	padding: 10px 10px 10px 15px;
}


/* NEWS en Liste */
#contentPage dl.listeArticle {
	margin-bottom: 1em;
	position: relative;
}
#contentPage dl.listeArticle dt {
	padding: 0;
}
#contentPage dl.listeArticle dt.listeArticle-date {
	margin: 0;
	color:#999;
	font-size: .9em;
}
#contentPage dl.listeArticle dd {
	padding: 0 0 1em 0 ;
	margin: 1em 0;
	border-bottom: 1px solid #F0F0F0;
}
#contentPage dl.listeArticle dd img{
	padding:1px;
	border:1px solid #DFDFDF;
	margin-right:5px;
}
#contentPage dl.listeArticle dt a {
	font-size: 1.2em;
	text-decoration: none;
	font-weight: bold;
}
#contentPage dl.listeArticle dt a:hover {
}


/* *** pub *** */
#skyscraper {
	background:#dfdfdf url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/pub_haut.gif) 0 0 no-repeat;
	width:177px;
	padding: 42px 0 0 0;
	margin:0 0 0 0;
}
#skyscraper_bas {
	background:transparent url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/pub_bas.gif) 0 100% no-repeat;
	width:177px;
	padding: 0 0 32px 0;
}

/* *** Annuaire de liens *** */
.lien_cat a{
	font-size:1.3em;
	text-decoration:none !important;
	font-weight:bold;
	color:#004494 !important;
	background:#fff url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/mg_puce2.gif) 0 6px no-repeat !important;
	padding: 0 0 0 14px;
}
.lien_cat a:hover {
	color:#f2000b !important;
}
.lien_sous_cat a {
	font-size:1.1em;
	text-decoration:none !important;
	font-weight:bold;
	color:#004494 !important;
	background:#fff url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/agenda_puce.gif) 0 4px no-repeat !important;
	padding: 0 0 0 10px;
}
.lien_sous_cat a:hover {
	text-decoration:underline !important;
	color:#f2000b !important;
}
.lien_sous_cat li {
	list-style-image:none !important;
	list-style-type:none !important;
	display:block !important;
	margin:0 !important;
}



/* *** boutique *** */
#contentBoutique h3{
	margin-bottom:0;
}
#contentBoutique .TABLE-list h3{
	margin:0;
}
#contentBoutique .TABLE-list p{
	margin:0 !important;
}
#contentPage #nav_boutique{
	border:1px solid #DFDFDF;
	/*border-left:none;
	border-right:none;*/
	background-color:#F0F0F0;
	margin:0 0 10px 0;
	padding: 5px;
}
#contentPage #nav_boutique a {
	color: #f2000b;
	padding: 0;
	margin:0;
	text-decoration:none;
	font-weight:bold;
}
#contentPage #nav_boutique a:hover { color: #ff8300 ; }
#contentPage #nav_boutique span { color: #ff8300 ; padding: 0; font-weight:bold; }

#contentPage #nav_boutique ul{
	padding:0;
	margin:0;
}
#contentPage #nav_boutique ul li{
	display:block;
	list-style-type:none;
	list-style-image:none;
	background: url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/puce1.gif) 0 4px no-repeat;
	padding:0 0 0 10px;
	margin:0 0 0 0;
	line-height:1.2em;
	font-size:1.1em;
}
#contentPage #nav_boutique ul ul li{
	display:block;
	list-style-type:none;
	list-style-image:none;
	background: url(http://www.toulouse.cci.fr/site/modele/defaut/charte/defaut/images/puce2.gif) 2px 6px no-repeat;
	font-size:.9em;
	font-weight:normal;
}
#contentPage #nav_boutique ul ul li a{
	font-weight:normal;
}
#contentBoutique table{
	margin:0;
}
#contentBoutique table td{
}
#totaux {
	text-align:right;
	margin: 6px 6px 10px 0;
}
.prix {
	/*font-size:1.6em;*/
	font-size:1.3em;
	color:#004494;
	text-align:center;
}
.remise {
	font-size:1.2em;
	color:#ff8300;
	text-align:center;

}