body {
	background-color: #fff;
	background-image: none;
	color: #000;
	font-family: "Times New Roman",Times,serif;
	font-size: 11pt;
	margin: 0;
	padding: 0;
	line-height: 125%;
}

* { float: none !important; }
img, a img,:link img,:visited img { border:none; }
.noPrint, noscript, hr,
.flash, #refFlash,
.pagination, .pagination-text,
#Mp, #Mh, .Mg, #Mg-sousnav, #Accessible, .accueil-posted, #entreeprofil,
#contentFooter ul, #Menu-pied, #visuelflash, #visuelflash-accueil,
#fildariane, #fildariane-start, #Menu-outils, #topNav, #globalSearch, #contentFooter img, #bandeverte, #autres_sites, h2.titre_autres_sites { display: none !important; }

.Mg li div { background-image: none !important; }
#Mh-visuel { clear:both; }
#enteteprint h1 { float: left !important; width:49%;}
#enteteprint h2 { float: right !important; width:49%; text-align: right }
#enteteprint .mh-stitre { clear: both; }

#commande #Mh-visuel, #commande #contentHeader { display:none !important;}
#table-commande, #table-commande tbody, #table-commande tr, #table-commande td { border:none; }
#table-commande table, #table-commande table tbody, #table-commande table tr, #table-commande table td { border:1px solid #000; }
#contentFooter { text-align: center; border-top: 1pt solid #000 }
.posted { text-align: right; font-style: italic }
.pageBreak { page-break-after: always; }

#skyscraper,
.suite-gauche, .suite-droite, .suite-droite-bleue, .suite-gauche-bleue, .suite-droite-blanche, .suite-gauche-blanche {
	display:none;
}


blockquote, q {
	font-style: italic;
	quotes: '\0000ab\0000a0' '\0000a0\0000bb' '\00201c\0000a0' '\0000a0\00201d';
	border-left: 1pt solid #000;
	padding: 5pt;
}
blockquote cite { font-style: normal; }

.blocInfo {
	font-size: 10pt;
	padding: 5pt;
}
h3.Info { border-bottom: 1pt dotted #000; }

h1,h2,h3,h4,h5,caption,thead { /*font-family: Arial,Helvetica,sans-serif;*/ }

#contentHeader h2 {
	font-size: 17pt;
	line-height: 200%;
	border-bottom: 2pt solid #000;
	text-transform: uppercase;
}

h2 { font-size: 15pt; }

h3 {
	font-size: 13pt;
	margin-top: 3%;
	margin-bottom: 0%;
}

h4, h5 {
	font-size: 10pt;
	margin-top: 3%;
	margin-bottom: 0%;
}

h4 { border-bottom: 1pt solid #000; }
input {
	border:none;
}
#bondecommande table,#bondecommande table tr,#bondecommande table td{
	border:none;
}
#bondecommande table.center td{
	text-align:center;
}

caption{
	font-size: 10pt;
	color: #000;
	background-color: #aaa;
	margin: 3pt 0;
}

thead {
	font-size: 10pt;
	color: #000;
	background-color: #ccc;
}

table,td{
	border: 1pt solid #666;
	border-collapse: collapse;
	padding: 3pt;
}


a:link, a:visited {
/*	color: #520;*/
	background: transparent;
	font-weight: bold;
	text-decoration: underline;
}
/*
#contentPage a:link:after, #contentPage a:visited:after {
	content: " (" attr(href) ") ";
  	font-size: 90%;
 }
#contentPage a[href^="/"]:after {
	content: " (http://www.actengo.com" attr(href) ") ";
}

#contentPage acronym {
	border-style:none;
}
#contentPage acronym.premier:before {
	content: attr(title)" (";
}
#contentPage acronym.premier:after {
	content: ")";
}
*/