﻿body {background:#cacaca url("http://css.yamaha-motor-europe.com/bg01.gif") repeat-x; margin:0;}
body.print_version, body.print_version div.product_visual {background:none; margin:0; padding:0; left:0; top:0;}
div {display:block;}
body, div, td, select,input,textarea {font:11px Verdana, Arial, Helvetica, sans-serif; color:#333; line-height:15px;}

select,input,textarea {border:1px solid #000; color:#666;}
img {border:0; display:inline;}
td {empty-cells:show;}
table {border:0;}
form {margin-top:0; margin-bottom:0;}

input.dealer {font:normal 11px Verdana, Arial, Helvetica, sans-serif; color:#333; width:215px; margin-bottom:7px;}
select.dealer {font:normal 11px Verdana, Arial, Helvetica, sans-serif; color:#333; width:215px; margin-bottom:7px;}
input.dealer2 {font:normal 11px Verdana, Arial, Helvetica, sans-serif; color:#333; width:200px; margin-bottom:7px;}
select.dealer2 {font:normal 11px Verdana, Arial, Helvetica, sans-serif; color:#333; width:200px; margin-bottom:7px;}
input.wishlist {font:normal 11px Verdana, Arial, Helvetica, sans-serif; color:#333; width:205px;}
input.parts {font:normal 11px Verdana, Arial, Helvetica, sans-serif; color:#333; width:125px;}

span.but {font-size:7px; position:relative; top:-1px;}
span.legenda {font-size:10px; color:#ccc; position:relative; top:-2px; margin-left:3px; margin-right:10px;}
div.spacer10 {height:10px;}
div.spacer10lightgrey {height:10px; background-color:#e3e3e3;}
div.spacer10white {height:10px; width:740px; background-color:#fff; margin-left:20px; margin-right:5px;}
div.spacer20white {height:20px; width:740px; background-color:#fff; margin-left:20px; margin-right:5px;}

div.topnav {background-color:#fff; width:740px; margin:0 5px 0 20px; padding:7px 0; height:45px;}
.crum {position:absolute; top:70px; padding-left:30px; font-size:14px;}
.crum a {color:#666; text-decoration:none; font-weight:normal;}
.crum span {text-decoration:none; font-weight:bold; color:#006bbb;}
.nav_logo {width:125px; border-right:#e3e3e3 solid 1px;}
div.topnav input,select {bottom:3px;}
div#flashVR {border:1px solid #333;}
.hvisual {padding-bottom:20px; background:#fff;}
#flashcontent {background:#FFFFFF;}

div.pluginCont {position:relative; width:150px; background-color:#cacaca; bottom:0; padding:5px;}
div.pluginTxt {position:relative; line-height:13px;}
div.pluginTxt a {text-decoration:none;}
div.pluginIcon {position:relative; float:right;}

div.product_group_entrances {width:750px; margin-left:10px; margin-right:5px;}
div.product_group_entrances a {color:white; text-decoration:none;}

div.product_segment_entrances {width:740px; margin-left:20px; margin-right:5px;}
div.module_blocks {background-color:#fff; width:740px; margin-left:20px; margin-right:5px;}
div.nav_systemwide {width:740px; margin-left:20px; margin-right:5px; margin-bottom:10px;}
div.nav_systemwide img.rss_icon {margin:3px 4px -3px 0;}
div.subnav {width:750px; margin-left:10px; margin-right:5px;}

div.product_navigation {background-color:#e3e3e3; height:30px; width:740px; margin-left:20px; margin-right:5px; z-index:1;}
div.acc_navigation {background-color:#e3e3e3; height:40px; width:740px; margin-left:20px; margin-right:5px;}
div.visual,div.hvisual {width:740px; margin-left:20px; margin-right:5px;}
div.segment_visual_top {height:30px; width:740px; margin-left:20px; margin-right:5px;}
div.segment_visual {height:150px; width:740px; margin-left:20px; margin-right:5px;}
div.product_visual {width:740px; margin-left:20px; margin-right:5px;}
div.acc_results {background-color:#fff; width:740px; margin-left:20px; margin-right:5px;}
div.select_models {background-color:#fff; width:740px; margin-left:20px; margin-right:5px;}
div.parts_results {background-color:#fff; width:740px; margin-left:20px; margin-right:5px;}
div.acc_detail {background-color:#fff; width:740px; margin-left:20px; margin-right:5px; padding-top:10px;}
div.dealer_visual {width:740px; margin-left:20px; margin-right:5px;}
div.dl_search {width:740px; margin-left:20px; margin-right:5px;}
div.dealer_tab {display:inline; background-color:#fff; height:20px; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; padding:2px 10px 0 20px;}
div.dealer_tab_selected {display:inline; background-color:#fff; height:20px; color:#c00; font-size:11px; font-weight:bold; border-right:1px solid #e3e3e3; border-bottom:1px solid #fff; padding:2px 10px 0 20px;}
div.models_block {width:740px; margin-left:20px; margin-right:5px;}
div.segment_introduction {margin:10px; background-color:#e3e3e3;}



div.actionblock	{position:relative; display:block; width:220px;margin:10px 10px 20px 10px;}
div.actionblock div.abs_link_bg {position:absolute; z-index:2; bottom:0px; left:0px; right:0px; width:220px; height: 18px; background-color:#666; -moz-opacity:0.85;opacity:0.85;filter:alpha(opacity=85);}
div.actionblock div.abs_link {position:absolute; z-index:3; bottom:0px; left:0px; right:0px; width:220px;height:18px;}
div.actionblock div.abs_link a.ab {display:block; padding:3px 5px 3px 5px;font-size:10px; line-height:12px;}
div.actionblock div.abs_link a.ab:hover {text-decoration:underline;}
div.actionblock div.abs_link a.ab img {position:absolute; right:6px; top:7px;}
div.as_title {position:relative; display:block; height: 18px; color:#666; font-weight:bold; font-size:12px}
.corp_content div.as_title {height: 13px;}
div.as_subtitle {position:relative; display:block; height:18px;margin-bottom: 10px; padding:1px 4px 0px 5px; background:#cc0000; color:#fff;font-size:10px}
div.as_subcategory {position:relative; display:block; height:10px;margin-bottom: 2px; padding:1px 0px 0px 0px; color:#000;font-size:10px;font-weight:bold;}


div.as_news_list_item {margin:5px 0 7px 0; letter-spacing:0.1px;} 
div.as_news_list_item a {display:inline-block; color:#000; font-size:10px; text-decoration:none; padding-right:15px; background-image:url("http://css.yamaha-motor-europe.com/more.gif"); background-repeat:no-repeat; background-position:right 0.45em;}

li.list1 a {color:#000; font-size:10px; text-decoration:none; padding-right:10px; background:url("http://css.yamaha-motor-europe.com/more.gif") no-repeat right 0.45em;}
/*li.list1 a {color:#000; font-size:10px; text-decoration:none;} {padding-right:10px; background:url("http://css.yamaha-motor-europe.com/more.gif") no-repeat right 0.45em;}*/


div.line_spacer, .lineHR {margin-top:3px; border-top:#e3e3e3 solid 1px;}


div.fl {float:left;}
div.fr {float:right;}
.clear {clear:both; font-size:0em; height:0; line-height:0; margin:0; padding:0;}

div.corp_content ul {margin:0; margin-left:0; padding-left:0; list-style-type:none;}
div.corp_content li.list1 {width:200px; padding:2px 0 4px 0; border-bottom:1px solid #e3e3e3;}
div.corp_content li.list1_last {width:200px; padding:2px 0 4px 0; border:none; margin-bottom:17px;}
div.corp_content li.list1 img {margin-left:3px;}

div.dealersearch select {width:215px; margin-bottom:5px;}
div.dealersearch input {width:215px; margin-bottom:5px; padding-left:3px;}
div.dealersearch a img {margin-left:2px;}

table.num_list {width:220px;}
table.num_list tr.last th {border:none;}
table.num_list tr.last td {border:none;}
table.num_list tr.last td a.but_red2 {float:right;}
table.num_list th {font-size:11px; border-bottom:solid 1px #ccc; font-weight:normal; width:15px; text-align:left; vertical-align:top; padding:4px 4px 0 0;}
table.num_list td {border-bottom:solid 1px #ccc; padding:4px;}
table.num_list td a img {margin-left:3px;}
table.num_list img.list {margin-top:4px;}

div.product_info {width:750px; margin-left:20px; margin-right:0;}
div.product_imagegallery {background-color:#fff; width:740px; margin-left:20px; margin-right:0;}
div.product_features_images {background-color:#fff; width:700px; margin-left:20px; margin-right:0;}
div.product_video {background-color:#fff; width:740px; margin-left:20px; margin-right:0;}

div.corp_video {width:96.7%; background-color:#fff; margin-left:20px;}
div.but_centered {text-align:center; background-color:#fff; width:740px; margin-right:0; padding-top:20px; padding-bottom:10px;}
div.productlinks {margin-left:8px; margin-top:6px;}
div.dealer_detail_top {width:700px; margin-bottom:20px; margin-top:20px; margin-left:10px;}
div.wish_list_header {margin-left:10px; margin-right:10px; background-color:#fff; padding-top:35px;}
div.wish_list_mailto {margin-left:10px; margin-right:10px; background-color:#e3e3e3;}
div.red {margin-left:10px; margin-right:10px; background-color:#e00b15;}
div.lightgrey {margin-left:10px; margin-right:10px; background-color:#e3e3e3;}
div.acc_home {width:380px;}
div.parts_home {margin-left:10px; width:310px;}
div.dd {background-color:#fff; width:150px; margin-top:2px; border:1px solid #666;}
div.ddlist {z-index:100; position:absolute; margin-top:-1px; display:none;}
div.more_photos {background-color:#e3e3e3; width:400px; padding-top:5px; padding-bottom:5px; padding-right:5px; margin-left:10px; margin-top:-2px; text-align:right;}
div.corp_content {background-color:#fff; width:740px; margin-left:20px; margin-right:0;}
div.corp_header {color:#c00; font-weight:normal; font-size:22px; padding-bottom:7px;}
div.corp_sub_header {color:#c00; font-weight:normal; font-size:13px; padding-bottom:17px;}
div.corp_intro {font-weight:bold; margin-bottom:13px;}
div.corp_paragraph {margin-bottom:13px;}
div.corp_paragraph span.sub_title {display:block; color:#c00; font-weight:bold; margin-bottom:2px;}
div.corp_paragraph span.newsdate {display:block; color:#336699; margin-bottom:2px;}
div.corp_illu {float:left; margin:4px 16px 2px 0; padding-bottom:2px;}
div.corp_illu td.caption {background-color:#f1f1f1; color:#666; font-size:10px; font-weight:normal; letter-spacing:-1px; padding-left:2px; padding-bottom:2px;}
div.corp_illu_news {margin:0 0 20px 20px;}
div.corp_illu_news td.caption {background-color:#f1f1f1; color:#666; font-size:10px; font-weight:normal; letter-spacing:-1px; padding-left:2px; padding-bottom:2px;}
div.article_date {margin-bottom:5px; font-size:11px; color:#999;}

div.select_models input {margin:-2px 3px -2px -4px;}

/* SITEMAP */
div#sitemap {background:#fff; padding-bottom:25px;}
div#sitemap div.sitemap {float:left; width:236px; margin:0 10px 10px 0;}
div#sitemap div#sitemap_home {margin:0 10px 0 0;}
div#sitemap ul {margin:0; padding:0;}
div#sitemap div.sitemap ul.sitemap {background-color:#c00; margin-left:10px; margin-top:10px;}
div#sitemap div.sitemap ul.sitemap_darkgray {background-color:#757575; margin-left:10px; margin-top:10px;}
div#sitemap_home ul.sitemap {background-color:#c00; margin-left:10px;}
div#sitemap ul ul {background:#fff;}
div#sitemap li {list-style:none;}
ddiv#sitemap li li {background:#fff;}
div#sitemap li span {display:block; color:#fff; font-size:11px; font-weight:bold; text-decoration:none; height:16px; padding:3px 0 2px 20px;}
div#sitemap li li span {display:block; color:#757575; margin-left:21px;}
div#sitemap li li li span {display:block; color:#757575; margin-left:34px; font-weight:normal;}

div#sitemap li a {display:block; background:url("http://css.yamaha-motor-europe.com/arrow.gif") 3px 2px no-repeat; color:#fff; font-size:11px; font-weight:bold; text-decoration:none; height:16px; padding:3px 0 2px 20px;}
div#sitemap li a:hover {background:url("http://css.yamaha-motor-europe.com/arrow_lightgrey.gif") 3px 2px no-repeat; color:#cacaca; text-decoration:underline;}
div#sitemap li li a {margin-left:20px; background:url("http://css.yamaha-motor-europe.com/arrow_lightgrey.gif") 3px 2px no-repeat; color:#757575;}
div#sitemap li li a:hover {color:#c00;}
div#sitemap li li li a {margin-left:34px; font-weight:normal;}
div#sitemap li li li a:hover {font-weight:normal;}

/* google search page */
form#g_form {position:relative; left:10px; top:3px; width:auto;}
input#g_input {position:relative; left:3px; padding:1px 2px 1px 5px; margin:0; width:120px;}
input#g_submit {position:relative; color:black; padding:0 1px; border:solid 1px #999; margin:0;}
/*ie fix*/
* html form#g_form {margin-left:10px;}
* html form#g_form input {vertical-align:top;}
* html form#g_form input#g_input {padding-bottom:2px;}
* html form#g_form input#g_submit {margin-top:1px; padding-bottom:2px; height:18px;}
*:first-child+html form#g_form {margin-left:10px;}
*:first-child+html form#g_form input {vertical-align:top;}
*:first-child+html form#g_form input#g_input {padding-bottom:2px;}
*:first-child+html form#g_form input#g_submit {margin-top:1px; padding-bottom:2px; height:18px;}
div#g_wrapper {padding-top:10px;}
div#g_resultlist {float:left; width:500px;}
div#g_resultlist p {margin:0 0 12px 0; padding:0;}
div#g_as {float:right; width:185px; padding:7px 0 0 7px; border-left:solid 1px #ccc; margin-bottom:30px;}

div#g_as div.as_title {color:#000; font-size:10px; margin-bottom:3px;}
div#g_as a {color:#000; font-size:10px; font-weight:normal;}
div#g_as li.list1 {border:none; margin:0; padding:0;}
div#g_as li.list1_last {border:none; margin:0; padding:0;}
div#g_as ul {;}
div.as_bottom {border-bottom:solid 1px #ccc; height:1px; font-size:0; margin:9px 0 7px 0;}
div.g_sponsored {background-color:#e8e8ff; margin-bottom:15px; overflow:hidden;}
div.g_sponsored a {color:#00c;}

div.g_result {margin-bottom:15px; margin-left:10px;}
div.g_result2 {margin-bottom:15px; margin-left:50px;}
span.mime {color:#00c; font-size:7pt; text-transform:uppercase;}
span.href {color:#008000;}
span.didUmean {color:#D00000;}
.g_info_gray {color:#666;}
div.g_searchbox {margin-top:10px; margin-bottom:15px; width:100%; text-align:center;}
div.g_searchboxtable {display:inline;}
div.g_searchboxtable td {vertical-align:top; text-align:left;}
div.hr {height:1px; font-size:0; background:#ccc; margin:5px 0 15px 0;}
td#g_options a {color:#00c; font-size:7pt; margin-left:4px;}
div#g_searchresults {color:#000;}
div#g_searchresults a.g_pages {color:#666;}
div#g_searchresults a.g_pages:visited {color:#666;}
table#g_searchdata {width:100%; height:24px; background:#e5ecf9; border-bottom:solid 1px #cacdcf; margin-bottom:15px;}
table#g_searchdata td {font-size:7pt; vertical-align:bottom; line-height:7pt;}
div#g_pages {margin-top:20px; width:100%; text-align:center;}
div#g_pages b {color:#c00;}
div#g_filtered {margin-bottom:10px;}
div#g_filtered a {color:#00c;}
div#g_filtered a:visited {color:#551a8b;}
a.g_navlink {color:#00c; font-weight:bold; text-decoration:underline;}
a.g_more_link {color:#7776be;}
a.g_pagelink {color:#00c; font-size:110%;}
a.g_pagelink:visited {color:#551a8b; font-size:110%;}
input#g_input {color:#333; vertical-align:top;}

div#g_searchform {position:absolute; top:55px; right:16px;}

div.productlinks ul {margin-left:0; padding-left:0; list-style-type:none;}
div.productlinks li.list1first {width:110px; padding:0 0 1px 11px; border-bottom:1px solid #ccc; border-top:1px solid #ccc; background:url("http://css.yamaha-motor-europe.com/bullet.gif") no-repeat;}
div.productlinks li.list1 {width:110px; padding:0 0 1px 11px; border-bottom:1px solid #ccc; background:url("http://css.yamaha-motor-europe.com/bullet.gif") no-repeat;}
div.productlinks li.list2first {width:130px; padding:0 0 1px 11px; border-bottom:1px solid #ccc; border-top:1px solid #ccc; background:url("http://css.yamaha-motor-europe.com/bullet.gif") no-repeat;}
div.productlinks li.list2 {width:130px; padding:0 0 1px 11px; border-bottom:1px solid #ccc; background:url("http://css.yamaha-motor-europe.com/bullet.gif") no-repeat;}
div.productlinks a {font-weight:bold; color:#666; text-decoration:none;}
div.productlinks a:hover {color:#e00b15;}

div.dealer_tab a {font-weight:bold; color:#666; text-decoration:none;}
div.dealer_tab a:hover {color:#c00;}

div.dealer_tab_selected a {font-weight:bold; color:#c00; text-decoration:none;}

ul.dl_locations {margin-left:0; padding-left:0; list-style-type:none;}
ul.dl_locations li {padding:0 0 1px 11px; background-image:url("http://css.yamaha-motor-europe.com/bullet.gif"); background-repeat:no-repeat;}
ul.dl_locations li a {font-weight:normal; font-size:11px; color:#333; text-decoration:none;}
ul.dl_locations li a:hover {text-decoration:underline;}

div.corp_content ul.museum {margin-left:8px; margin-top:10px; padding-left:0; list-style-type:disc;}
div.corp_content ul.museum li {margin-left:8px; font-weight:normal; font-size:10px;}

ul.detailed_range {margin-left:10px; margin-bottom:15px; margin-top:5px; padding-left:0; list-style-type:none;}
ul.detailed_range li {padding:0 0 0 11px; background-image:url("http://css.yamaha-motor-europe.com/detailed_range_bullet.gif"); background-repeat:no-repeat;}
ul.top5 {margin-bottom:0; margin-top:0; margin-left:23px; list-style-type:decimal;}
ul.top5li {margin-top:1px;}
ul.productrange {margin-left:0; margin-bottom:0; padding-left:0; list-style-type:none;}
li.pr_motorcycles {padding:0 0 1px 18px; background:url("http://css.yamaha-motor-europe.com/bullet_motorcycles.gif") no-repeat; color:#f00; font-weight:bold; font-size:9px; letter-spacing:1px;}
li.pr_scooters {padding:0 0 1px 18px; background:url("http://css.yamaha-motor-europe.com/bullet_scooters.gif") no-repeat; color:#f00; font-weight:bold; font-size:9px; letter-spacing:1px;}
li.pr_50ccgearbox {padding:0 0 1px 18px; background:url("http://css.yamaha-motor-europe.com/bullet_50ccgearbox.gif") no-repeat; color:#f00; font-weight:bold; font-size:9px; letter-spacing:1px;}
li.pr_atv {padding:0 0 1px 18px; background:url("http://css.yamaha-motor-europe.com/bullet_atv.gif") no-repeat; color:#B39D69; font-weight:bold; font-size:9px; letter-spacing:1px;}
li.pr_marine {padding:0 0 1px 18px; background:url("http://css.yamaha-motor-europe.com/bullet_marine.gif") no-repeat; color:#2D52A7; font-weight:bold; font-size:9px; letter-spacing:1px;}
li.pr_golfcars {padding:0 0 1px 18px; background:url("http://css.yamaha-motor-europe.com/bullet_golfcars.gif") no-repeat; color:#669900; font-weight:bold; font-size:9px; letter-spacing:1px;}
li.pr_snowmobiles {padding:0 0 1px 18px; background:url("http://css.yamaha-motor-europe.com/bullet_snowmobiles.gif") no-repeat; color:#7FAED3; font-weight:bold; font-size:9px; letter-spacing:1px;}
li.pr_generators {padding:0 0 1px 18px; background:url("http://css.yamaha-motor-europe.com/bullet_generators.gif") no-repeat; color:#F5AD00; font-weight:bold; font-size:9px; letter-spacing:1px;}

img.gallery {margin-left:5px; margin-top:5px; margin-right:5px; margin-bottom:5px;}
img.selected {border:2px solid #c00; margin-left:3px; margin-top:3px; margin-right:3px; margin-bottom:3px;}

table.dl_search_result {width:680px; border-bottom:1px solid #e3e3e3;}
table.download {width:220px; border-bottom:1px solid #cacaca; margin-bottom:20px;}
td.dl_search_result_nr {width:35; vertical-align:top; text-align:center; padding-top:9px; background-image:url("http://css.yamaha-motor-europe.com/dl_search_result_nr_bg.gif"); background-repeat:no-repeat; color:#fff; font-weight:bold;}
td.dl_search_result_nr span {position:relative; left:-4px; text-align:center;}
td.dl_search_result_data {vertical-align:top; padding-top:8px; padding-bottom:10px;}


td.white {background-color:#fff;}
td.blue {background-color:#369;}
td.red {background-color:#e00b15;}
td.darkgrey {background-color:#B1B1B1;}
td.darkdarkgrey {background-color:#666;}
td.grey {background-color:#cacaca;}
td.lightgrey {background-color:#e3e3e3;}
td.subnav {background-color:#757575; color:white; font-weight:bold; text-align:left; padding:0 9px 2px 9px; margin:0;}

td.subnav_acc {background-color:#e00b15; padding-left:5px;}
td.model {background-image:url("http://css.yamaha-motor-europe.com/model_bg.gif"); width:120px;}
td.acc_model {background-image:url("http://css.yamaha-motor-europe.com/model_bg.gif");}
td.acc_result {width:120px; padding-top:20px; vertical-align:top;}
td.acc_title {font-size:14px; color:#e00b15; font-weight:bold; line-height:18px; padding-left:10px; padding-bottom:5px; vertical-align:bottom;}
td.group_selector {height:30px; background-color:#e00b15; vertical-align:bottom; padding-bottom:2px; padding-left:4px; font-family:Arial; font-weight:normal; font-size:9px; color:#fff; line-height:12px; cursor:pointer;}
td.scooters_group_selector {height:30px; background-color:#f00; vertical-align:bottom; padding-bottom:2px; padding-left:4px; font-family:Arial; font-weight:normal; font-size:9px; color:#fff; line-height:12px; cursor:pointer;}
td.snowmobiles_group_selector {height:30px; background-color:#7FAED3; vertical-align:bottom; padding-bottom:2px; padding-left:4px; font-family:Arial; font-weight:normal; font-size:9px; color:#fff; line-height:12px; cursor:pointer;}
td.motorcycles_group_selector {height:30px; background-color:#f00; vertical-align:bottom; padding-bottom:2px; padding-left:4px; font-family:Arial; font-weight:normal; font-size:9px; color:#fff; line-height:12px; cursor:pointer;}
td.marine_group_selector {height:30px; background-color:#2D52A7; vertical-align:bottom; padding-bottom:2px; padding-left:4px; font-family:Arial; font-weight:normal; font-size:9px; color:#fff; line-height:12px; cursor:pointer;}
td.gearbox_group_selector {height:30px; background-color:#f00; vertical-align:bottom; padding-bottom:2px; padding-left:4px; font-family:Arial; font-weight:normal; font-size:9px; color:#fff; line-height:12px; cursor:pointer;}
td.atv_group_selector {height:30px; background-color:#B39D69; vertical-align:bottom; padding-bottom:2px; padding-left:4px; font-family:Arial; font-weight:normal; font-size:9px; color:#fff; line-height:12px; cursor:pointer;}
td.golfcars_group_selector {height:30px; background-color:#669900; vertical-align:bottom; padding-bottom:2px; padding-left:4px; font-family:Arial; font-weight:normal; font-size:9px; color:#fff; line-height:12px; cursor:pointer;}
td.generators_group_selector {height:30px; background-color:#F5AD00; vertical-align:bottom; padding-bottom:2px; padding-left:4px; font-family:Arial; font-weight:normal; font-size:9px; color:#fff; line-height:12px; cursor:pointer;}
td.over_segment_selector {height:30px; background-color:#e00b15; vertical-align:bottom; padding-bottom:2px; padding-left:4px; font-family:Arial; font-weight:normal; font-size:9px; color:#fff; line-height:12px; cursor:pointer;}
td.cellbg {background-image:url("http://css.yamaha-motor-europe.com/cellbg.gif");}
td.cellbg2 {background-image:url("http://css.yamaha-motor-europe.com/cellbg2.gif");}
td.specs_header {background-color:#e3e3e3; width:380px; color:#c00; font-weight:bold; padding-left:10px; padding-top:2px; padding-bottom:3px;}
td.specs_item {width:150px; font-size:10px; font-weight:bold; text-align:right; border-bottom:1px solid #cacaca; padding-right:10px; padding-bottom:1px;}
td.specs_value {width:230px; font-size:10px; border-bottom:1px solid #cacaca;}
td.videonav {text-align:right; width:140px; color:#c00; padding-right:0; border-bottom:1px solid #e3e3e3;}
td.videonav_selected {text-align:right; width:140px; font-size:10px; font-weight:bold; border-bottom:1px solid #e3e3e3; background-color:#fff;}

td.corp_videonav {text-align:right; color:#c00; padding-right:0; border-bottom:1px solid #e3e3e3;}
td.corp_videonav_selected {text-align:right; font-size:10px; font-weight:bold; border-bottom:1px solid #e3e3e3; background-color:#fff;}

td.dl_header_motorcycles {background-color:#f00; padding:0 0 1px 20px; color:#fff; font-size:10px; font-weight:bold;}
td.dl_header_scooters {background-color:#f00; padding:0 0 1px 20px; color:#fff; font-size:10px; font-weight:bold;}
td.dl_header_atv {background-color:#B39D69; padding:0 0 1px 20px; color:#fff; font-size:10px; font-weight:bold;}
td.dl_header_generators {background-color:#F5AD00; padding:0 0 1px 20px; color:#fff; font-size:10px; font-weight:bold;}
td.dl_header_golfcars {background-color:#669900; padding:0 0 1px 20px; color:#fff; font-size:10px; font-weight:bold;}
td.dl_header_snowmobiles {background-color:#7FAED3; padding:0 0 1px 20px; color:#fff; font-size:10px; font-weight:bold;}
td.dl_header_marine {background-color:#2D52A7; padding:0 0 1px 20px; color:#fff; font-size:10px; font-weight:bold;}
td.sm_header {background-color:#c00; height:18px; padding:0 0 2px 5px; color:#fff; font-size:10px; font-weight:bold; vertical-align:bottom;}
td.dl_header {background-color:#c00; height:30px; padding:0 0 4px 9px; color:#fff; font-size:10px; font-weight:bold; vertical-align:bottom;}
td.cm_item_header {width:144px; padding:2px 20px 2px 0; font-size:10px; color:#c00; font-weight:bold; text-align:right; vertical-align:top; border-bottom:1px solid #e3e3e3;}
td.cm_item {width:144px; padding:2px 20px 2px 0; font-size:10px; font-weight:bold; text-align:right; vertical-align:top; border-bottom:1px solid #e3e3e3;}
td.cm_value {width:144px; padding:2px 0 2px 0; vertical-align:top; border-bottom:1px solid #e3e3e3;}
td.cm_model {background-image:url("http://css.yamaha-motor-europe.com/model_bg.gif"); width:144px;}
td.newslist {background-color:#F7F7F7; text-align:right; padding:4px 3px 6px 4px; border-bottom:1px solid #e3e3e3;}
td.newslist_top {background-color:#EFEFEF; text-align:right; padding:4px 3px 6px 4px; border-bottom:1px solid #e3e3e3; color:#336699; font-size:10px; font-weight:bold;}
td.newslist_active {background-color:#fff; text-align:right; padding:4px 3px 6px 4px; border-bottom:1px solid #e3e3e3; color:#c00; font-size:10px; font-weight:normal;}
td.vote_result {background-color:#336699; text-align:right; padding:3px 5px 3px 2px; color:#fff; font-size:11px; font-weight:bold;}
td.stf {background:#e3e3e3 url("http://css.yamaha-motor-europe.com/stf_back.gif") right top no-repeat; padding-top:20px;}
td.fin_calc_header {background:#e3e3e3; padding:8px 0 7px 20px; color:#c00; font-weight:bold; font-size:13px;}
td.fin_calc_header_payment {padding:8px 0 7px 20px; color:#369; font-weight:bold; font-size:13px;}
td.fin_calc_data {background:#e3e3e3; padding:5px 0 5px 0; font-weight:bold; font-size:10px;}
td.fin_calc_end {background:#e3e3e3; padding:12px 0 15px 0; font-weight:normal; font-size:10px; color:#666;}
td.fin_calc_data span {width:115px; background-color:#fff; padding:1px 0 2px 5px; font-weight:normal; font-size:10px;}
td.fin_calc_data span.payment {width:115px; background-color:#fff; padding:1px 0 2px 5px; font-weight:bold; color:#369; font-size:10px;}
td.mm_header {background:#F5AD00; padding:3px 0 3px 10px; font-weight:bold; color:#fff; border-bottom:1px solid #fff;}
td.mm_header2 {background:#ccc; padding:3px 0 3px 10px; font-weight:bold; border-bottom:1px solid #fff;}
td.mm_data {background:#e3e3e3; padding:1px 0 0 10px; font-weight:normal; border-bottom:1px solid #fff;}
td.mm_header span {width:140px; background-color:#fff; padding:1px 0 2px 5px; font-weight:normal; font-size:10px;}
td.sitemap {width:220px; background-color:#F9F9F9; padding:10px 10px 5px 10px;}
td.sitemap ul {margin-top:2px; margin-left:0; margin-bottom:2px; padding-left:0; list-style-type:none;}
td.sitemap li {padding:0 0 1px 17px; background-image:url("http://css.yamaha-motor-europe.com/sitemap_arrow2.gif"); background-repeat:no-repeat;}
td.mus_nav {padding:0 19px 1px 19px; background-color:#369;}
td.mus_nav_sel {padding:0 19px 1px 19px; background-color:#e00b15;}

td.dl_header_motorcycles2 {background-color:#f00; padding:2px 0 3px 10px; color:#fff; font-size:10px; font-weight:bold;}
td.dl_header_scooters2 {background-color:#f00; padding:2px 0 3px 10px; color:#fff; font-size:10px; font-weight:bold;}
td.dl_header_atv2 {background-color:#B39D69; padding:2px 0 3px 10px; color:#fff; font-size:10px; font-weight:bold;}
td.dl_header_generators2 {background-color:#F5AD00; padding:2px 0 3px 10px; color:#fff; font-size:10px; font-weight:bold;}
td.dl_header_golfcars2 {background-color:#669900; padding:2px 0 3px 10px; color:#fff; font-size:10px; font-weight:bold;}
td.dl_header_snowmobiles2 {background-color:#7FAED3; padding:2px 0 3px 10px; color:#fff; font-size:10px; font-weight:bold;}
td.dl_header_marine2 {background-color:#2D52A7; padding:2px 0 3px 10px; color:#fff; font-size:10px; font-weight:bold;}
td.dl_bottom {height:20px; background-image:url("http://css.yamaha-motor-europe.com/dl_bottom.gif");}
td.tableheader {background-color:#e3e3e3; font-weight:bold; padding-left:10px; padding-top:2px; padding-bottom:3px;}
td.tableheader2 {background-color:#999; color:#fff; font-weight:bold; padding-left:10px; padding-top:2px; padding-bottom:3px;}
td.tabledata {padding-left:10px; padding-top:2px; padding-bottom:3px; vertical-align:top;}
td.tablecontent {padding-left:10px; padding-top:5px; padding-bottom:3px; vertical-align:top;}
td.sizes {padding-left:10px; padding-top:2px; padding-bottom:1px; border-bottom:1px solid #e3e3e3; vertical-align:top;}
td.parts_header {background-color:#e3e3e3; padding-left:5px; padding-top:3px; padding-bottom:3px; border-top:1px solid #999; font-weight:bold;}
td.part {padding-left:5px; padding-top:3px; padding-bottom:1px; border-bottom:1px solid #e3e3e3;}
td.part_pdf {padding-top:3px; padding-bottom:1px; border-bottom:1px solid #e3e3e3; text-align:right;}

td.action_header {height:20px; background-color:#c00; color:#fff; font-weight:bold; padding-left:5px; padding-right:5px;}

td.action_body {padding-left:5px; padding-right:5px; height:70px; background:#e3e3e3 url("http://css.yamaha-motor-europe.com/action_back_white.gif") right bottom no-repeat; vertical-align:top;}

td.action_header_red {background-color:#c00; color:#fff; font-weight:bold; padding-left:10px; padding-top:2px; padding-bottom:3px;}
td.action_header_grey {background-color:#666; color:#fff; font-weight:bold; padding-left:10px; padding-top:2px; padding-bottom:3px;}
td.action_header_blue {background-color:#336699; color:#fff; font-weight:bold; padding-left:10px; padding-top:2px; padding-bottom:3px;}

td.action_content_grey {background:#e3e3e3 url("http://css.yamaha-motor-europe.com/action_back_white.gif") right bottom no-repeat; padding-left:10px; padding-top:5px; padding-bottom:10px; vertical-align:top;}
td.action_content_grey_dealer {background:#e3e3e3 url("http://css.yamaha-motor-europe.com/action_back_dealer.gif") right bottom no-repeat; padding-left:10px; padding-top:5px; padding-bottom:10px; vertical-align:top;}
td.action_content_grey_poll {background:#e3e3e3 url("http://css.yamaha-motor-europe.com/action_back_poll.gif") right bottom no-repeat; padding-left:10px; padding-top:5px; padding-bottom:10px; vertical-align:top;}
td.content_grey {background:#e3e3e3; padding-left:10px; padding-top:3px; padding-bottom:3px; vertical-align:top; border-bottom:1px solid #fff;}
td.content_grey2 {background:#ccc; padding-left:4px; padding-right:4px; padding-top:3px; padding-bottom:3px; vertical-align:top; text-align:right; border-bottom:1px solid #fff; color:#c00; font-weight:bold;}
td.action_content {background:#e3e3e3; padding-left:0; padding-right:0; padding-top:0; padding-bottom:0; vertical-align:top; text-align:right;}
td.content_grey3 {background:#e3e3e3; padding-left:0; padding-right:0; padding-top:0; padding-bottom:0; vertical-align:top; text-align:right;}
td.action_content_white {background:#fff url("http://css.yamaha-motor-europe.com/action_back_grey.gif") right bottom no-repeat; padding-left:10px; padding-top:5px; padding-bottom:10px; vertical-align:top;}
td.action_content_white2 {background:#fff url("http://css.yamaha-motor-europe.com/action_back_grey2.gif") right bottom no-repeat; padding-left:10px; padding-top:5px; padding-bottom:10px; vertical-align:top;}
td.wishlistbut {background-color:#A5A5A5; padding-left:10px; padding:4px 10px 2px 10px;}
td.wishlistbut_selected {background-color:#fff; padding:4px 10px 2px 10px; color:#c00; font-size:11px; font-weight:bold;}
td.country_header {background-color:#999; padding:2px 0 3px 5px; color:#fff; font-size:10px; font-weight:bold;}
td.country {vertical-align:top; padding:2px 0 3px 5px; font-size:10px; border-bottom:1px solid #e3e3e3;}
td.country_name {vertical-align:top; padding:2px 0 3px 5px; font-size:10px; border-bottom:1px solid #e3e3e3;}
td.country_data {vertical-align:top; padding:2px 0 3px 5px; font-size:10px; border-bottom:1px solid #e3e3e3;}
td.corp_nav1 {background-color:#e3e3e3; width:140px; color:#c00; font-size:10px; font-weight:bold; border-bottom:1px solid #fff; padding:1px 0 2px 2px;}
td.corp_nav1_sel {background-color:#fff; width:140px; color:#c00; font-size:10px; font-weight:bold; border-bottom:1px solid #fff; padding:1px 0 2px 2px;}
td.corp_nav1_back {background-color:#e3e3e3; width:140px; border-bottom:1px solid #fff; border-top:1px solid #fff; padding:1px 0 2px 2px;}
td.corp_nav2 {background-color:#e3e3e3; width:140px; border-bottom:1px solid #fff;}
td.corp_nav2_sel {background-color:#fff; width:140px; color:#c00; font-size:10px; font-weight:bold; border-bottom:1px solid #fff; padding:1px 0 2px 12px;}
td.acc_result span {position:relative; top:-3px; left:1px;}
td.acc_model span {position:relative; top:-3px; left:1px;}
td.sizes span {position:relative; top:-3px; left:1px;}
td.dl_link {background-color:#e3e3e3; border-bottom:1px solid #fff; padding:1px 0 3px 0;}

td.country a:link, td.country a:visited, td.country a:active {color:#333; font-size:10px; font-weight:bold; text-decoration:none;}
td.country a:link:hover, td.country a:visited:hover {text-decoration:underline;}

td.newslist a:link, td.newslist a:visited, td.newslist a:active {color:#333; font-size:10px; font-weight:normal; text-decoration:none;}
td.newslist a:link:hover, td.newslist a:visited:hover {text-decoration:underline;}

td.specs_header a:link, td.specs_header a:visited, td.specs_header a:active {color:#C00; font-size:11px; font-weight:bold; text-decoration:none;}
td.specs_header a:link:hover, td.specs_header a:visited:hover {text-decoration:underline;}

td.sitemap a:link, td.sitemap a:visited, td.sitemap a:active {color:#333; font-size:11px; font-weight:bold; text-decoration:none;}
td.sitemap a:link:hover, td.sitemap a:visited:hover {text-decoration:underline;}


td.sitemap li a:link, td.sitemap li a:visited, td.sitemap li a:active {color:#333; font-size:10px; font-weight:normal; text-decoration:none;}
td.sitemap li a:link:hover, td.sitemap li a:visited:hover {text-decoration:underline;}

td.corp_nav2 a:link, td.corp_nav2 a:visited, td.corp_nav2 a:active {display:block; background-color:#e3e3e3; color:#333; font-size:10px; font-weight:normal; text-decoration:none; padding:1px 0 2px 12px;}
td.corp_nav2 a:link:hover, td.corp_nav2 a:visited:hover {background-color:#fff;}

td.newslist_top a:link, td.newslist_top a:visited, td.newslist_top a:active {color:#336699; font-size:10px; font-weight:normal; text-decoration:none;}
td.newslist_top a:link:hover, td.newslist_top a:visited:hover {text-decoration:underline;}

td.country_name a:link, td.country_name a:visited, td.country_name a:active {color:#c00; font-size:10px; font-weight:normal; text-decoration:none;}
td.country_name a:link:hover, td.country_name a:visited:hover {text-decoration:underline;}

td.wishlistbut a:link {color:#fff; font-size:11px; font-weight:bold; text-decoration:none;}


div.more_photos a.img:link, div.more_photos a.img:visited, div.more_photos a.img:active {border:2px solid #e3e3e3; margin-left:5px;}
div.more_photos a.img:link:hover, div.more_photos a.img:visited:hover {border:2px solid #c00;}

div.corp_paragraph a:link, div.corp_paragraph a:visited, div.corp_paragraph a:active {color:#c00; text-decoration:none;}
div.corp_paragraph a:link:hover, div.corp_paragraph a:visited:hover {text-decoration:underline;}

td.acc_result a.img:link, td.acc_result a.img:visited, td.acc_result a.img:active {border:2px solid #fff;}
td.acc_result a.img:link:hover, td.acc_result a.img:visited:hover {border:2px solid #c00;}

td.corp_videonav_selected a:link, td.corp_videonav_selected a:visited {display:block; color:#c00; font-size:10px; font-weight:bold; text-decoration:none; padding-right:10px; text-decoration:none;}

td.corp_videonav a:link, td.corp_videonav a:visited, td.corp_videonav a:active {display:block; color:#333; font-size:10px; font-weight:bold; text-decoration:underline; padding-right:10px;}
td.corp_videonav a:link:hover {background-color:#fff;}

td.videonav_selected a:link, td.videonav_selected a:visited {display:block; color:#c00; font-size:10px; font-weight:bold; text-decoration:none; padding-right:10px;}

td.videonav a:link, td.videonav a:visited, td.videonav a:active {display:block; color:#333; font-size:10px; font-weight:bold; text-decoration:none; padding-right:10px;}
td.videonav a:hover {text-decoration:underline;}


td.corp_nav1 a:link, td.corp_nav1 a:visited, td.corp_nav1 a:active {display:block; color:#333; font-size:10px; font-weight:bold; text-decoration:none; padding:1px 0 2px 5px;}
td.corp_nav1 a:link:hover, td.corp_nav1 a:visited:hover {background-color:#fff;}

td.subnav a:link, td.subnav a:visited, td.subnav a:active {color:#fff; font-size:10px; text-decoration:none;}
td.subnav a:link:hover, td.subnav a:visited:hover {text-decoration:underline;}

td.subnav_acc a:link, td.subnav_acc a:visited, td.subnav_acc a:active {color:#fff; font-weight:normal; font-size:10px; text-decoration:none;}
td.subnav_acc a:link:hover, td.subnav_acc a:visited:hover {text-decoration:underline;}

a.systemwide:link, a.systemwide:visited, a.systemwide:active {color:#666; font-weight:bold; font-size:10px; text-decoration:none;}
a.systemwide:link:hover, a.systemwide:visited:hover {text-decoration:underline;}

a.smallgrey:link, a.smallgrey:visited, a.smallgrey:active {color:#666; font-weight:normal; font-size:10px; text-decoration:none;}
a.smallgrey:link:hover, a.smallgrey:visited:hover {text-decoration:underline;}

a.small:link, a.small:visited, a.small:active {color:#333; font-weight:normal; font-size:11px; text-decoration:none;}
a.small:link:hover, a.small:visited:hover {text-decoration:underline;}

a.xsmall:link, a.xsmall:visited, a.xsmall:active {color:#333; font-weight:normal; font-size:10px; text-decoration:none;}
a.xsmall:link:hover, a.xsmall:visited:hover {text-decoration:underline;}

a.smalllightgrey:link, a.smalllightgrey:visited, a.smalllightgrey:active {color:#999; font-weight:normal; font-size:10px; text-decoration:none;}
a.smalllightgrey:link:hover, a.smalllightgrey:visited:hover {text-decoration:underline;}

a.but_grey:link, a.but_grey:visited, a.but_grey:active {height:18px; background-color:#e3e3e3; color:#666; font-weight:bold; font-size:11px; text-decoration:none; padding:0 9px 0 9px; border-bottom:1px solid #999; border-right:1px solid #999;}
a.but_grey:link:hover, a.but_grey:visited:hover {background-color:#c00;}

a.but_yellow:link, a.but_yellow:visited, a.but_yellow:active {height:18px; background-color:#F5AD00; color:#fff; font-weight:bold; font-size:11px; text-decoration:none; padding:0 9px 0 9px; border-bottom:1px solid #999; border-right:1px solid #999;}
a.but_yellow:link:hover, a.but_yellow:visited:hover {background-color:#c00;}

a.but_red:link, a.but_red:visited, a.but_red:active {height:18px; background-color:#e00b15; color:#fff; font-weight:bold; font-size:11px; text-decoration:none; padding:0 9px 0 9px; border-bottom:1px solid #999; border-right:1px solid #999;}
a.but_red:link:hover, a.but_red:visited:hover {background-color:#c00;}

a.but_red2:link, a.but_red2:visited, a.but_red2:active {height:18px; background-color:#e00b15; color:#fff; font-weight:bold; font-size:11px; text-decoration:none; padding:0 4px 0 4px; border-bottom:1px solid #999; border-right:1px solid #999;}

a.but_red2:link:hover, a.but_red2:visited:hover {height:18px; background-color:#c00; color:#fff; font-weight:bold; font-size:11px; text-decoration:none; padding:0 4px 0 4px; border-bottom:1px solid #999; border-right:1px solid #999;}

div.dealersearch a.but_red2:link, div.dealersearch a.but_red2:visited, div.dealersearch a.but_red2:active {border:none; padding-right:10px; background:url("http://css.yamaha-motor-europe.com/more.gif") right 0.45em no-repeat; color:#c00; font-size:10px; line-height:12px;}
div.dealersearch a.but_red2:link:hover, div.dealersearch a.but_red2:visited:hover {text-decoration:underline;}

a.but_red3:link, a.but_red3:visited, a.but_red3:active {height:18px; background-color:#e00b15; color:#fff; font-weight:bold; font-size:9px; text-decoration:none; padding:0 4px 0 4px; border-bottom:1px solid #999; border-right:1px solid #999;}
a.but_red3:link:hover, a.but_red3:visited:hover {background-color:#c00;}

a.but_blue:link, a.but_blue:visited, a.but_blue:active {height:18px; background-color:#336699; color:#fff; font-weight:bold; font-size:11px; text-decoration:none; padding:0 9px 0 9px; border-bottom:1px solid #999; border-right:1px solid #999;}
a.but_blue:link:hover, a.but_blue:visited:hover {background-color:#c00;}

a.but_darkgrey:link, a.but_darkgrey:visited, a.but_darkgrey:active {height:18px; background-color:#666; color:#fff; font-weight:bold; font-size:11px; text-decoration:none; padding:0 9px 0 9px; border-bottom:1px solid #999; border-right:1px solid #999;}
a.but_darkgrey:link:hover, a.but_darkgrey:visited:hover {background-color:#c00;}

a.but_white:link, a.but_white:visited, a.but_white:active {height:18px; background-color:#fff; color:#666; font-weight:bold; font-size:11px; text-decoration:none; padding:0 9px 0 9px; border-bottom:1px solid #999; border-right:1px solid #999;}
a.but_white:link:hover, a.but_white:visited:hover {background-color:#c00;}

a.dealer:link, a.dealer:visited, a.dealer:active {color:#c00; font-weight:bold; font-size:11px; text-decoration:underline; padding-bottom:2px;}

a.dealer_link:link, a.dealer_link:visited, a.dealer_link:active {color:#c00; font-weight:normal; font-size:11px; text-decoration:none;}
a.dealer_link:link:hover, a.dealer_link:visited:hover {text-decoration:underline;}

a.gen:link, a.gen:visited, a.gen:active {color:#c00; font-weight:bold; font-size:11px; text-decoration:none;}
a.gen:link:hover, a.gen:visited:hover {text-decoration:underline;}

a.prev_next:link, a.prev_next:visited, a.prev_next:active {color:#333; font-weight:bold; font-size:11px; text-decoration:none;}
a.prev_next:link:hover, a.prev_next:visited:hover {text-decoration:underline;}


td a.decade:link, td a.decade:visited, td a.decade:active {color:#fff; font-weight:bold; font-size:10px; text-decoration:none;}


td.part a:link, td.part a:visited, td.part a:active {color:#333; font-weight:normal; font-size:11px; text-decoration:none;}
td.part a:link:hover, td.part a:visited:hover {text-decoration:underline;}

td.corp_nav1_back a:link, td.corp_nav1_back a:visited, td.corp_nav1_back a:active {color:#333; font-weight:bold; font-size:10px; text-decoration:none;}
td.corp_nav1_back a:link:hover, td.corp_nav1_back a:visited:hover {color:#c00;}

div.actionblock a.ab:link, div.actionblock a.ab:visited, div.actionblock a.ab:active {color:#000; font-size:10px; text-decoration:none; line-height:1.2em;}

table.num_list a:link, table.num_list a:visited, table.num_list a:active {display:inline-block; color:#c00; font-weight:bold; text-decoration:none; padding-right:10px; background:url("http://css.yamaha-motor-europe.com/more.gif") no-repeat right 0.45em;}
table.num_list a:link:hover, table.num_list a:visited:hover {text-decoration:underline;}

table.num_list a.but_red2:link, table.num_list a.but_red2:visited, table.num_list a.but_red2:active {padding:0 10px 0 0; background:url("http://css.yamaha-motor-europe.com/more.gif") right 0.45em no-repeat; border:none; color:#c00; font-size:10px; line-height:12px;}
table.num_list a.but_red2:link:hover, table.num_list a.but_red2:visited:hover {text-decoration:underline;}

div.actionblock a.smallgrey:link, div.actionblock a.smallgrey:visited, div.actionblock a.smallgrey:active {background:none; color:#a0a0a0; font-size:9px; text-decoration:none; line-height:1.1em; font-weight:normal;}
div.actionblock a.smallgrey:link:hover, div.actionblock a.smallgrey:visited:hover {text-decoration:underline;}
div.abs_link a.ab:link, div.abs_link a.ab:visited, div.abs_link a.ab:active , div.abs_link a.ab:link:hover, div.abs_link a.ab:visited:hover {color:#fff; font-weight:normal; font-size:10px; text-decoration:none;}


a.red, a.red:link, a.red:active, a.red:visited, a.red:hover {color:#e00b15; font-size:10px; font-weight:bold; text-decoration:none;}

a.nproduct:link, a.nproduct:visited, a.nproduct:active {text-decoration:none; color:#000;}
a.nproduct:link:hover, a.nproduct:visited:hover {text-decoration:underline;}

div.corp_content a.nproduct:link, div.corp_content a.nproduct:visited, div.corp_content a.nproduct:active {color:#c00; font-weight:bold; font-size:10px; line-height:1.8em; text-decoration:none; padding-right:10px; background:url("http://css.yamaha-motor-europe.com/more.gif") right 0.45em no-repeat;}
div.corp_content a.nproduct:link:hover, div.corp_content a.nproduct:visited:hover {text-decoration:underline;}




.red {color:#e00b15; font-size:11px;}
.red_bold {color:#e00b15; font-weight:bold; font-size:11px;}
.blue {color:#336699; font-size:11px;}
.blue_bold {color:#336699; font-weight:bold; font-size:11px;}
.grey_bold {color:#666; font-weight:bold; font-size:11px;}
.grey_bold_small {font-size:10px; color:#666; font-weight:bold;}
.subtitle {color:#c00; font-weight:bold; padding-bottom:2px; font-size:11px;}
.header {color:#c00; font-weight:bold; font-size:17px; padding-bottom:24px;}
.small {font-size:10px; line-height:14px;}
.small_red {color:#e00b15; font-size:10px; line-height:14px;}
.colour {font-size:10px; color:#666;}
.official_dealer {font-size:14px; color:#e00b15; font-weight:bold; line-height:18px;}
.category {font-size:17px; color:#c00; font-weight:bold; line-height:18px;}
span.smallgrey {color:#a0a0a0; font-size:9px; text-decoration:none; line-height:1.1em; font-weight:normal;}

div.mov {padding:42px 0 0 0; background:#fff;}
div.mov .movlinks {font-size:10px; color:#666;}
div.mov .movlinks a {color:#CB0101; text-decoration:none; padding:0 10px 0 0; background:url("http://css.yamaha-motor-europe.com/more.gif") right 0.45em no-repeat;}
div.mov .movlinks a:hover {color:#666; text-decoration:underline;}

.movlinks {vertical-align:top;}
.movlinks ul {list-style:none; margin:0 0 0 0; padding:0;}
.movlinks li {font-weight:bold; padding:0.3em 1.5em; margin:0 20px 0 0; width:auto;}
.movlinks li.lst {border:none;}

.b_crums_td div {position:relative; height:23px; top:0; font-size:14px; background:white; letter-spacing:0.02em;}
.b_crums a {text-decoration:none; color:#666;}
.b_crums a:hover {text-decoration:underline;}
.b_crums .active {font-weight:bold; color:#df0001;}

#container {text-align:left; margin:0;}
#nav, #nav ul {float:left; z-index:100; list-style:none; background:#fff; font-weight:normal; padding:2px 0 0 0; margin:0;}


#nav a {display:block; color:#707070; font-size:10px; text-decoration:none; padding:0.15em 9px;}
#nav li {float:left; padding:0;}
#nav li ul {position:absolute; left:-999em; height:auto; width:13.9em; font-weight:normal; margin:0; background:#E3E3E1;}
#nav li li {}
#nav li ul a {width:13.9em;}
#nav li ul ul {margin:-1.7em 0 0 13.9em;}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {left:-999em;}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {left:auto;}
#nav li li a:hover, #nav li li a.sfhover {color:#fff;}
#nav li :hover, #nav li.sfhover {color:#e00b15;}
#nav li li:hover, #nav li li.sfhover {width:13.9em; background:#e00b15;}

/* Support for the "iehover-fix.js" */

ul.nav iframe {position:absolute; left:0; top:0; z-index:-1; /* This is the line which makes sure the iFrame is over the dropdowns */
filter:progid:DXImageTransform.Microsoft.Alpha("style=0,opacity=0");}

* html ul.nav li {z-index:201;}

a.lnk_print, a.lnk_email {color:#757575; font-size:10px; font-weight:bold; background:url("http://css.yamaha-motor-europe.com/printer.gif") no-repeat left 10%; padding:5px 0 0 23px; margin-right:24px; text-decoration:none;}
a.lnk_print:hover, a.lnk_email:hover {text-decoration:underline;}
a.lnk_email {background-image:url("http://css.yamaha-motor-europe.com/email.gif");}

/* this is for IE 5.0
select.hide {visibility:hidden;}
/* End Support for the "iehover-fix.js" */

div.bttm_box_general {position:relative;}


/* TAKEN FROM motorcss */
h1,h2,h3,h4,h4,h5,h6,b {margin:0; padding:0;}

div.pluginCont {width:170px;}
.techspec {font-size:12px;}
div.ptw_video {width:740px; background:#fff; margin-left:20px;}

/*updated or new*/
.segment_block {position:relative; float:right; padding:15px 0 20px 0; top:0; margin:0;}
.segment_block p {margin-top:0.5em;}
.segment_block div.thmb_img {padding-top:10px;}
.segment_block div.thmb_img a {background:none;}
.segment_block div a:hover {text-decoration:underline;}
.segment_block b {position:relative; color:#000; float:right; font-size:12px;}
.segment_block div {position:relative; font-size:10px; line-height:1.2; color:#666;}


/*HB:removed this because of scrolling segment overviews*/
/*.bg_segm tr {position:relative;}*/
.bg_segm div.segment_block {width:159px;}
.bg_segm_sub div.segment_block {width:220px;}
.bg_segm {background-color:#ffffff; padding-top:15px;}
.bg_segm_sub .segment_block .thmb_txt a {padding-right:10px; background:url("http://css.yamaha-motor-europe.com/more.gif") no-repeat right 60%;}
.bg_segm_sub .segment_block {margin:0; padding:0 0 20px 0;}

div.thmb_lbl {font-size:11px; font-weight:bold; padding-bottom:3px;}
.thmb_txt {width:100%;}

div.OverviewTitle a {padding-left:2px; display:block; text-decoration:none; color:#fff; width:100%;}
div.OverviewTitle a:hover {text-decoration:none;}

/* moved to global .lineHR {margin-top:3px; border-top:#cccccc solid 1px;}*/

div.product_visual {position:relative; padding:0; background:#fff;}
div.product_visual div {font-size:10px; color:#666;}
div.product_visual a:hover {color:#666; text-decoration:underline;}

.l_col {width:187px; font-size:9px; padding:0; margin:0;}
.r_col {position:relative; width:533px; padding:0; margin:0;}

div.prod_nav {margin:0 0 40px 10px; width:187px;}
div.prod_nav ul {list-style:none; margin:16px 0 0 0; padding:0;}
div.prod_nav li {font-weight:bold; padding:0.3em 1.5em; margin:0 20px 0 0; border-bottom:1px solid #e3e3e3; width:auto;}
div.prod_nav li.lst {border:none;}

/* Submenu */
div.prod_nav ul.submenu {list-style:none; margin-top:0; margin-left:1.4em;}
div.prod_nav ul.submenu li {color:#999; font-weight:normal; padding:0; margin:0; border:none;}
div.prod_nav li.lst {border:none;}

div.grey_bar {background-color:#555; height:35px; -moz-opacity:0.90; opacity:0.90; filter:alpha("opacity=90");}
.grey_bar h1 {position:relative; top:10px; left:10px; color:#fff; letter-spacing:-0.2px; font-weight:bold; font-size:11px;}

.r_col div.grey_bar {position:absolute; width:533px; left:0; top:0;}
.r_col .img_nav_box {position:absolute; top:0; left:4px;}
.r_col .img_nav_box div {position:absolute;}

.r_col .lft {left:4px; top:5px; z-index:3;}
.r_col .rght {left:499px; top:5px; z-index:3;}
.r_col .img_nav_bar {overflow:hidden; left:35px; height:35px; width:460px; z-index:2;}
.r_col .img_nav_bar img {margin:1px; border:solid 2px #5c5c5c;}
.r_col .img_nav_bar a {position:relative; background:none;}

#colour_bar {text-align:right;position:relative; top:45px;width:300px;padding:2px;left:226px; font-weight:bold; font-size:12px; background-color:transparent; }
#colour_bar span {position:relative; top:5px; left:10px; color:#333; margin-right:15px;}

html>body div.prod_nav li a {width:auto;}

.content_frame {position:relative; top:0; left:0;}

div.prod_img {left:0; top:0; width:533px;}

.dwnld_pdf {position:relative; left:10px; width:160px; height:auto; padding-bottom:20px;}
.dwnld_txt {position:relative; left:0; color:#757575; font-weight:bold; line-height:1.2em;}
.dwnld_ico {position:relative; float:left; left:0;}

.txt_box {position:relative; line-height:1.3em; padding-top:15px;}
.txt_box h2 {font-size:12px; color:#000; padding:0 0 3px 0; margin:0;}
.txt_box a:hover {color:#666; text-decoration:underline;}

div.bttm_box {position:relative; padding-top:15px; padding-left:10px;}
.bttm_box p {color:#AAA; line-height:10px;}

.price_box1 {position:relative; left:10px; padding:5px; width:160px;}
.price_box1 b {color:#000;}
.price_box1 p {line-height:11px; color:#cacaca;}
.price_box1 small {color:#666;}

.product_images {width:533px; height:300px; float:right;}
.product_details {width:533px; height:300px; float:right;}

.color_thumbs {position:absolute; left:0; top:35px; width:55px; z-index:2; background:#fff; height:265px; bottom:0;}
.color_thumbs img {border:#ffffff solid 2px; padding:0; margin:2px 1px 2px 1px;}
.color_thumbs a {position:relative; background:none;}

td.tech_openclose {background:#666; color:#fff; font-size:15px; padding:2px; width:15px; text-align:center;}

#noframe_3 .content .techtable td {padding-right:0;}

table.techspec {width:100%;}
table.techspec td {font-size:10px; color:#666; line-height:12px;}
table.techspec .techspec_white td {background:#fff;}
table.techspec .techspec_grey td {background:#e3e3e3;}
table.techspec td.techspec_label {width:160px; font-weight:bold; padding-left:10px;}
table.techspec td.techspec_value {width:373px;}
table.techspec td.techspec_feature ul {line-height:12px; padding:10px 0 0 20px;}
.techtitle {vertical-align:middle; font-weight:bold; color:#666; text-decoration:none;margin-top:10px;}
.tech_header {background:#006bbb; text-indent:10px; color:#fff; width:500px;}

div.printcolours {margin:0 0 0 10px; width:187px;}
div.printcolours p.colorlabel {color:#525252; font-size:10px;}
div.printcolours img {margin:2px 0 2px 0; width:180px;}
div.printlogo {margin:4px 0 4px 10px;}


div.pluginCont {position:relative; background:none; width:200px;}
div.pluginTxt {position:relative; line-height:12px; top:0;}
div.pluginTxt a {text-decoration:none; font-weight:bold; color:#666;}
div.pluginIcon {top:0; margin:0;}


.dwnld_img {z-index:15; text-align:right; position:relative; height:12px; top:300px; width:300px; padding:2px; left:226px; line-height:10px;}
.dwnld_img a {color:#c00; font-size:9px;}
.dwnld_img em {font-style:normal; color:#000; font-size:9px;}

table.sm_list td.check {border-bottom:1px solid #e3e3e3; vertical-align:top; padding:2px 0 2px 0; font-size:10px;}
table.sm_list td.check input {height:12px; margin:2px; border:0;}
td.cm_button {background:#0066CC; vertical-align:top; text-align:right;}
td.cm_button table.button {background-color:#fff; padding:0 20px 10px 20px;}


/*country selector*/
select#country_select {position:relative; left:211px; top:50px; z-index:2;}
* html #country_select {margin:2px 5px 0 0; float:right;}
*:first-child+html #country_select {left:224px; float:right;}


	/*	 Subscribe form ("TCMS")
	---------------------------------------------- */
	.subscribeForm {float:left; width:720px;}
	.subscribeForm .content {float:left; width:535px;}
	.subscribeForm .content h1 {background-color:#c00; color:#fff; font:bold 11px Verdana, Arial, Helvetica, sans-serif; line-height:16px; margin-bottom:6px; padding:4px 0 2px 10px;}
	.subscribeForm .content h2 {color:#666; font:bold 11px Verdana, Arial, Helvetica, sans-serif; line-height:15px; padding:3px 10px 3px 10px;}
	.subscribeForm .content p {color:#666; font:11px Verdana, Arial, Helvetica, sans-serif; line-height:15px; margin:0; padding:0 10px 15px 10px;}
	.subscribeForm .content img.introImg {float:left; margin:0 10px 10px 0}
	.subscribeForm .content fieldset p {padding:0 10px 12px 0;}
	.subscribeForm .content p a {color:#666; text-decoration:underline;}
	
	
		/*	 Form ("TCMS")
		---------------------------------------------- */
		.form {border-top:#d9d9d9 solid 1px; display:inline; float:left; margin-left:10px; padding-top:9px; width:525px;}
		.form fieldset {border:0; margin:0 0 6px 0; padding:0; width:535px;}
		.form .fullWidth {width:525px;}
		.form .fullWidth h2 {padding:3px 10px 16px 0;}
		.form .fullWidth p {padding-left:0;}
		.form legend {display:none;}
		
		.form div {clear:both; margin-bottom:11px; }
		.form div div {margin-bottom:3px;}
		.form div.step {clear:none;}
		.form label {color:#666; cursor:pointer; float:left; font-weight:bold; line-height:13px; padding-left:2px;}
		.form label a {color:#666; text-decoration:underline;}
		.form label.front {width:155px; padding:0;}
		
		.form .text {border:1px solid #e0e0e0; padding:2px 0 1px 5px; font:11px Verdana, Arial, Helvetica, sans-serif; float:left; width:165px; margin:0 5px 0 0;}
		.form .file {border:1px solid #e0e0e0; padding:2px 0 1px 5px; font:1em Verdana, Arial, Helvetica, sans-serif; float:left; width:174px; margin:0 5px 0 0;}
		.form select {font:1em Verdana, Arial, Helvetica, sans-serif; float:left; width:172px; margin:0 5px 0 0;}
		.form textarea {border:1px solid #000; padding:3px 2px 3px 5px; font:1em Verdana, Arial, Helvetica, sans-serif; float:left; width:165px; margin:0 5px 0 0; height:98px; overflow:auto;}
		
		.form .radio {float:left; margin-top:3px; height:15px;}
		.form .checkbox {border:0; float:left; margin-left:0; margin-top:0; height:15px;}
		
		.form span.hint {line-height:1.9em;float:left; font-style:italic; white-space:nowrap;}
		.form span.hint label {float:none; margin:0; padding:0; line-height:1em; font-size:1em;}
		
		.form .button {background-color:#c00; border:solid 1px; border-color:#e00a14 #ccc #ccc #e00a14; clear:both; color:#fff; cursor:pointer; float:left; font:bold 11px Verdana, Arial, Helvetica, sans-serif; line-height:15px; margin:0; padding:0 6px 0 5px;}
		.form .multibutton {background-color:#c00; border:solid 1px; border-color:#e00a14 #ccc #ccc #e00a14; color:#fff; cursor:pointer; float:left; font:bold 11px Verdana, Arial, Helvetica, sans-serif; line-height:15px; margin:0 5px 0 0; padding:0 6px 0 5px;}
		.form .buttonright {float:right; padding:2px 5px 2px 5px;}
		
		.form .collection label {font-weight:normal;}

		.form .collection div {float:left;}
		.form .vertical div {float:none; overflow:auto;}
		.form .vertical input {clear:left;}
		.form .twoColumn {width:100px; float:left; margin-bottom:5px;}
		
		.form .char2 {width:19px;}
		.form .char4 {width:31px;}
		.form .char7 {width:58px;}
		
		.form .messageArea {background:#c00 url("http://css.yamaha-motor-europe.com/bg-message.gif") no-repeat 0 0; float:right; padding:0; margin:0; width:190px;}
		.form .messageArea .border1 {background:url("http://css.yamaha-motor-europe.com/bg-message.gif") no-repeat 0 100%; padding:0; margin:0;}
		.form .messageArea .background1 {color:#fff; background:url("http://css.yamaha-motor-europe.com/questionmark.gif") no-repeat 10px 10px; padding:6px 10px 0 28px; width:152px; min-height:40px}
		.form .messageArea .background1 p {color:#fff; font-size:11px; font-weight:normal; margin:0; padding:0;}
		.form .messageArea .background1 label {color:#333; font-weight:normal; line-height:15px; padding:1px 0 8px 0;}
		
		.form .message p {color:#000; font-weight:bold; margin-bottom:10px;}
		.form .message ul {margin:0 0 10px 0; list-style:none; padding:0;}
		.form .message .front {color:#c00; font-weight:bold;}
		.form .message li {color:#c00; margin-left:0; padding:0;}
		.form .message li label {float:none; font-weight:bold;}
		.form .message li span {display:block; color:#000; padding-bottom:3px;}
		.form .message select {border:2px solid #c00; color:#c00;}
		.form .message textarea {border:2px solid #c00; color:#c00; padding:2px 1px 2px 4px;}
		.form .message input.text {border:1px solid #c00; color:#c00;}
		.form .message input.file {border:1px solid #c00; color:#c00;}
	
		.form .lineSpacer {display:block; clear:both; border-top:#d9d9d9 solid 1px; font-size:1px; line-height:1px; margin-bottom:7px}
		.form div.favouriteClass		{clear:both; display:block; margin:5px 0 10px 0}
		.form div.formbuttons		{margin-top:15px}
	
	.subscribeForm .relatedItems {float:right; width:175px;}
	.subscribeForm .relatedItems .box {background-color:#fafafa; float:left; padding:9px 10px 10px 10px; width:155px;}
	.subscribeForm .relatedItems .box a {color:#666; display:block; font-size:10px; font-weight:bold; padding-bottom:7px; text-decoration:underline;}
	.subscribeForm .relatedItems .box h1 {color:#666; font:bold 11px Verdana, Arial, Helvetica, sans-serif; line-height:15px;}
	.subscribeForm .relatedItems .box h2 {color:#666; font:bold 11px Verdana, Arial, Helvetica, sans-serif; line-height:15px;}
	.subscribeForm .relatedItems .box p {color:#666; font:11px Verdana, Arial, Helvetica, sans-serif; line-height:15px; margin:0; padding:0 0 7px 0;}
	.subscribeForm .relatedItems .box input.in {background-color:#fdfdfd; border:#dedede solid 1px; color:#999; margin-bottom:12px; padding:0 0 3px 9px; width:144px;}
	.subscribeForm .relatedItems .box input.submit {background-color:#c00; border:solid 1px; border-color:#e00a14 #ccc #ccc #e00a14; clear:both; color:#fff; cursor:pointer; font:bold 11px Verdana, Arial, Helvetica, sans-serif; line-height:15px; margin:0; padding:0 6px 0 5px; width:auto; overflow:visible}
	.subscribeForm .relatedItems .spacer {border-top:#d7d7d7 solid 1px; clear:both; display:inline; float:left; font-size:1px; line-height:1px; margin:0 0 0 10px; padding:0; width:155px;}
	.subscribeForm .relatedItems .bg2 {background-color:#f0f0f0;}
	.subscribeForm .relatedItems .bg2 h2 {color:#999;}
	.subscribeForm .relatedItems form {text-align:center}

.header_img_txt {position:absolute;padding-top:20px;padding-left:10px;font-family:tahoma;font-weight:bold;font-size:normal;font-size:11px;color:#666;}
.header_img_txt h2{font-size:20px;color:#CC0000;}






/* new PTW details  */
#product_visual div.mov {padding:9px; border:solid 1px #eee; background:#fff;}
#product_visual div.mov .movlinks {font-size:10px; color:#666;}
#product_visual div.mov .movlinks a {color:#CB0101; text-decoration:none; padding:0 10px 0 0; background:url("http://css.yamaha-motor-europe.com/more.gif") right 0.45em no-repeat;}
#product_visual div.mov .movlinks a:hover {color:#666; text-decoration:underline;}

#product_visual .movlinks {vertical-align:top;}
#product_visual .movlinks ul {list-style:none; margin:0.6em 0 0 0; padding:0;}
#product_visual .movlinks li {font-weight:bold; padding:0.2em 1.5em 0.2em 0; margin:0 20px 0 0; width:auto;}
#product_visual .movlinks li.lst {border:none;}

#container {text-align:left; margin:0;}
#nav, #nav ul {float:left; z-index:100; list-style:none; background:#fff; font-weight:normal; padding:2px 0 0 0; margin:0;}


#nav a {display:block; color:#707070; font-size:10px; text-decoration:none; padding:0.15em 9px;}
#nav li {float:left; padding:0;}
#nav li ul {position:absolute; left:-999em; height:auto; width:13.9em; font-weight:normal; margin:0; background:#E3E3E1;}
#nav li li {}
#nav li ul a {width:13.9em;}
#nav li ul ul {margin:-1.7em 0 0 13.9em;}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {left:-999em;}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {left:auto;}
#nav li li a:hover, #nav li li a.sfhover {color:#fff;}
#nav li :hover, #nav li.sfhover {color:#e00b15;}
#nav li li:hover, #nav li li.sfhover {width:13.9em; background:#e00b15;}

/* Support for the "iehover-fix.js" */

ul.nav iframe {position:absolute; left:0; top:0; z-index:-1; /* This is the line which makes sure the iFrame is over the dropdowns */
filter:progid:DXImageTransform.Microsoft.Alpha("style=0,opacity=0");}

* html ul.nav li {z-index:201;}

a.lnk_print, a.lnk_email {color:#757575; font-size:10px; font-weight:bold; background:url("http://css.yamaha-motor-europe.com/printer.gif") no-repeat left 10%; padding:5px 0 0 23px; margin-right:24px; text-decoration:none;}
a.lnk_print:hover, a.lnk_email:hover {text-decoration:underline;}
a.lnk_email {background-image:url("http://css.yamaha-motor-europe.com/email.gif");}

/* this is for IE 5.0
select.hide {visibility:hidden;}
/* End Support for the "iehover-fix.js" */

div.bttm_box_general {position:relative;}


/* TAKEN FROM motorcss */
h1,h2,h3,h4,h4,h5,h6,b {margin:0; padding:0;}


div.pluginCont {width:170px;}
.techspec {font-size:12px;}
div.ptw_video {width:740px; background:#fff; margin-left:20px;}

/*updated or new*/
.segment_block {position:relative; float:right; padding:15px 0 20px 0; top:0; margin:0;}
.segment_block p {margin-top:0.5em;}
.segment_block div.thmb_img {padding-top:10px;}
.segment_block div.thmb_img a {background:none;}
.segment_block div a:hover {text-decoration:underline;}
.segment_block b {position:relative; color:#000; float:right; font-size:12px;}
.segment_block div {position:relative; font-size:10px; line-height:1.2; color:#666;}


/*HB:removed this because of scrolling segment overviews*/
/*.bg_segm tr {position:relative;}*/
.bg_segm div.segment_block {width:159px;}
.bg_segm_sub div.segment_block {width:220px;}
.bg_segm {background-color:#ffffff; padding-top:15px;}
.bg_segm_sub .segment_block .thmb_txt a {padding-right:10px; background:url("http://css.yamaha-motor-europe.com/more.gif") no-repeat right 60%;}
.bg_segm_sub .segment_block {margin:0; padding:0 0 20px 0;}

div.thmb_lbl {font-size:11px; font-weight:bold; padding-bottom:3px;}
.thmb_txt {width:100%;}

div.OverviewTitle a {padding-left:2px; display:block; text-decoration:none; color:#fff; width:100%;}
div.OverviewTitle a:hover {text-decoration:none;}

#product_visual div.product_visual {position:relative; padding:0; background:#fff; width:740px; margin:0 0 0 20px}
#product_visual div.product_visual div {font-size:10px; color:#666;}
#product_visual div.product_visual a:hover {color:#666; text-decoration:underline;}

#product_visual .l_col {position:relative; float:left; width:180px; font-size:9px; padding:0; margin:0;}
	#product_visual div.l_col h1		{font-size:12px; margin:0 0 18px 20px; padding-top:5px; color:#c00}
#product_visual .r_col {position:relative; float:left; width:540px; padding:0; margin:0 0 0 10px;}

#product_visual div.prod_top		{position:relative; height:40px}
	#product_visual div.prod_top h1		{font-size:12px; margin:0 0 0 20px; padding-top:5px; color:#c00}
	#product_visual .prod_top_line	{position:absolute; bottom:0; left:10px; height:1px; width:730px; background:transparent url(http://css.yamaha-motor-europe.com/bg_prod_nav.gif) no-repeat bottom left; margin:0; padding:0}

#product_visual div.prod_nav {margin:0 0 20px 10px; width:167px;}
#product_visual div.prod_nav ul {list-style:none; margin:0; padding:0;}
#product_visual div.prod_nav li {font-weight:bold; padding:3px 5px 3px 10px; margin:0 5px 0 0; border-bottom:1px solid #e3e3e3; width:auto;}
#product_visual div.prod_nav li.lst {border:none;}
#product_visual div.prod_nav li a {background:url(http://css.yamaha-motor-europe.com/more.gif) right 0.4em no-repeat;}


/* Submenu */
#product_visual div.prod_nav ul.submenu 				{position:absolute; top:-40px; left:190px; overflow:hidden; height:40px; width:540px; background:transparent url(http://css.yamaha-motor-europe.com/bg_prod_nav.gif) repeat-x bottom left; list-style:none; margin:0; padding:0}
#product_visual div.prod_nav ul.submenu li 				{float:left; width:134px; height:39px; background:transparent url(http://css.yamaha-motor-europe.com/bg_prod_submenu.gif) repeat-x bottom left; border:none; border-top:solid 1px #e3e3e3; border-right:solid 1px #e3e3e3; font-weight:normal; padding:0; margin:0; text-align:center}
#product_visual div.prod_nav ul.submenu li.active 		{background:#fff; border:none; border-top:solid 1px #eaeaea; border-right:solid 1px #e3e3e3; font-weight:normal; text-align:center}
#product_visual div.prod_nav ul.submenu li.first 		{width:133px; border-left:solid 1px #e3e3e3; border-right:solid 1px #e3e3e3}

#product_visual div.prod_nav ul.submenu li.first1 		{width:106px;border-width:1px 0; border:solid 1px #e3e3e3;}
#product_visual div.prod_nav ul.submenu li.first2 		{width:267px; border-left:solid 1px #e3e3e3; border-right:solid 1px #e3e3e3}
#product_visual div.prod_nav ul.submenu li.first3 		{width:178px; border-left:solid 1px #e3e3e3; border-right:solid 1px #e3e3e3}
#product_visual div.prod_nav ul.submenu li.first4 		{width:133px; border-left:solid 1px #e3e3e3; border-right:solid 1px #e3e3e3}
#product_visual div.prod_nav ul.submenu li.first5 		{width:106px; border-left:solid 1px #e3e3e3; border-right:solid 1px #e3e3e3}


#product_visual div.prod_nav ul.submenu li.subtab1 		{width:106px;}
#product_visual div.prod_nav ul.submenu li.subtab2 		{width:268px;}
#product_visual div.prod_nav ul.submenu li.subtab3 		{width:179px;}
#product_visual div.prod_nav ul.submenu li.subtab4 		{width:134px;}
#product_visual div.prod_nav ul.submenu li.subtab5 		{width:107px;}

#product_visual div.prod_nav ul.submenu li span		{display:block; line-height:12px; font-weight:bold; padding:12px; color:#c00; font-size:12px}
#product_visual div.prod_nav ul.submenu li a		{display:block; line-height:12px; font-weight:normal; padding:12px; color:#666; font-size:11px; background:none}

#product_visual .content_frame {position:relative; top:10px; left:0;}

#product_visual div.prod_img {position:relative; width:540px;}

#product_visual .dwnld_pdf {position:relative; left:10px; width:160px; height:auto; padding-bottom:20px; }
#product_visual .dwnld_txt {position:relative; left:0; color:#757575; font-weight:bold; line-height:1.2em;}
	#product_visual .dwnld_txt a {background:none; color:#c00; text-decoration:none}
	#product_visual .dwnld_txt small {color:#999; font-weight:normal}
#product_visual .dwnld_ico {position:relative; float:left; left:0;}

#product_visual .txt_box {position:relative; line-height:1.3em; padding-top:15px;}
#product_visual .txt_box h2 {font-size:12px; color:#000; padding:0 0 3px 0; margin:0;}
#product_visual .txt_box a:hover {color:#666; text-decoration:underline;}

#product_visual div.bttm_box {position:relative; padding-top:15px; padding-left:10px; padding-bottom:1px}
#product_visual .bttm_box p {color:#AAA; line-height:10px;}

#product_visual .price_box1 {position:absolute; bottom:26px; left:10px; padding:8px; height:78px; width:166px; background:transparent url(http://css.yamaha-motor-europe.com/bg_prod_price.gif) no-repeat top left}
#product_visual .price_box1 b {color:#000;}
#product_visual .price_box1 p {line-height:11px; color:#cacaca;}
#product_visual .price_box1 small {color:#666;}

#product_visual .price_box {position:absolute; line-height:19px; bottom:26px; left:10px; padding:0 ; width:170px; background:transparent url(http://css.yamaha-motor-europe.com/bg_prod_price_side.gif) repeat-y top left}
	#product_visual .price_box_top {position:absolute; top:0; left:0; height:6px; width:170px; background:transparent url(http://css.yamaha-motor-europe.com/bg_prod_price_top.gif) no-repeat top left}
	#product_visual .price_box_bottom {position:absolute; bottom:0; left:0; height:6px; width:170px; background:transparent url(http://css.yamaha-motor-europe.com/bg_prod_price_bottom.gif) no-repeat top left}
	#product_visual .price_box_content {padding:7px 6px 7px 6px}
	#product_visual .price_box b {color:#000; white-space:nowrap}
	#product_visual .price_box p {line-height:11px; color:#cacaca;}
	#product_visual .price_box small {color:#666;}
	
/* NEW, RELATIVE POSITION  */
#product_visual .pricebox {position:relative; line-height:19px; left:10px; padding:0 ; width:170px; background:transparent url(http://css.yamaha-motor-europe.com/bg_prod_price_side.gif) repeat-y top left}
	#product_visual .pricebox_top {position:absolute; top:0; left:0; height:6px; width:170px; background:transparent url(http://css.yamaha-motor-europe.com/bg_prod_price_top.gif) no-repeat top left}
	#product_visual .pricebox_bottom {position:absolute; bottom:0; left:0; height:6px; width:170px; background:transparent url(http://css.yamaha-motor-europe.com/bg_prod_price_bottom.gif) no-repeat top left}
	#product_visual .pricebox_content {padding:7px 6px 7px 6px}
	#product_visual .pricebox b {color:#000; white-space:nowrap}
	#product_visual .pricebox p {line-height:11px; color:#cacaca;}
	#product_visual .pricebox small {color:#666;}

#product_visual .product_images {width:540px; height:360px; float:none;}
#product_visual .product_details {width:504px; height:360px; float:none;}

#product_visual .color_thumbs {position:absolute; left:0; top:35px; width:55px; z-index:2; background:#fff; height:265px; bottom:0;}
#product_visual .color_thumbs img {border:#ffffff solid 2px; padding:0; margin:2px 1px 2px 1px;}
#product_visual .color_thumbs a {position:relative; background:none;}

#product_visual td.tech_openclose {background:#666; color:#fff; font-size:15px; padding:2px; width:15px; text-align:center;}

#product_visual #noframe_3 .content .techtable td {padding-right:0;}

#product_visual table.techspec {width:100%;}
#product_visual table.techspec td {font-size:10px; color:#666; line-height:12px;}
#product_visual table.techspec .techspec_white td {background:#fff;}
#product_visual table.techspec .techspec_grey td {background:#e3e3e3;}
#product_visual table.techspec td.techspec_label {width:160px; font-weight:bold; padding-left:10px;}
#product_visual table.techspec td.techspec_value {width:373px;}
#product_visual table.techspec td.techspec_feature ul {line-height:12px; padding:10px 0 0 20px;}
#product_visual .techtitle {vertical-align:middle; font-weight:bold; color:#666; text-decoration:none; margin-top:0}
#product_visual .tech_header {background:#c00; text-indent:10px; color:#fff; width:500px;}

#product_visual div.printcolours {margin:0 0 0 10px; width:187px;}
#product_visual div.printcolours p.colorlabel {color:#525252; font-size:10px;}
#product_visual div.printcolours img {margin:2px 0 2px 0; width:180px;}
#product_visual div.printlogo {margin:4px 0 4px 10px;}

#product_visual div#expand_360_layer			{display:none; position:absolute; width:100%; height:100%; top:0; z-index:60; right:0; cursor:pointer; background-color:#fff; border:solid 1px #e3e3e3; filter:alpha(opacity=35); opacity: 0.35; -moz-opacity:0.35;}
#product_visual div#expand_360					{display:none; position:absolute; top:115px; z-index:60; right:0; cursor:pointer; background-color:#fff; border:solid 1px #e3e3e3; }
#product_visual div#expand_360 span				{display:block; padding:10px; color:#444; text-decoration:none}
#product_visual div#collapse_360				{position:absolute; top:115px; z-index:60; right:0; cursor:pointer; border:solid 1px #e3e3e3; }
#product_visual div#collapse_360 span			{display:block; padding:10px; color:#444; text-decoration:none}
#product_visual div#prod_swf_spacer				{width:540px; height:455px}
#product_visual div.prod_swf					{position:absolute; right:0; top:0; z-index:50; width:540px; height:292px; border-bottom:solid 5px #e3e3e3; background-color:#fff}
#product_visual div.prod_swf_expanded			{position:absolute; right:-10px; top:-5px; z-index:50; width:740px; height:455px; border-bottom:solid 5px #e3e3e3; background-color:#fff}

#product_visual div.pluginCont {position:relative; background:none; width:200px;}
#product_visual div.pluginTxt {position:relative; line-height:12px; top:0;}
#product_visual div.pluginTxt a {text-decoration:none; font-weight:bold; color:#666;}
#product_visual div.pluginIcon {top:0; margin:0;}

#product_visual #main_img			{cursor:pointer}
#product_visual #img_thumbs			{display:none; position:relative; width:538px; height:265px; overflow:hidden; z-index:90; border:solid 1px #eee; padding-bottom:10px}
#product_visual #img_thumbs	a		{display:block; float:left; z-index:90; border:solid 1px #f1f1f1; margin:13px 0 0 13px}
#product_visual #img_nav_prev		{display:block; position:absolute; top:115px; left:-1px; z-index:200; width:30px; height:40px; border:solid 1px #e3e3e3; background:#f6f6f6 url(http://css.yamaha-motor-europe.com/bg_img_nav_prev.gif) no-repeat 10px 13px; filter:alpha(opacity=85); opacity: 0.85; -moz-opacity:0.85;}
#product_visual #img_nav_next		{display:block; position:absolute; top:115px; right:-1px; z-index:200; width:30px; height:40px; border:solid 1px #e3e3e3; background:#f6f6f6 url(http://css.yamaha-motor-europe.com/bg_img_nav_next.gif) no-repeat 10px 13px; filter:alpha(opacity=85); opacity: 0.85; -moz-opacity:0.85;}

#product_visual #colour_thumbs			{position:absolute; top:310px; left:0; width:540px; text-align:center; z-index:90}
#product_visual #colour_thumbs_spacer		{position:relative; width:540px; height:30px; text-align:center; z-index:80}
#product_visual #colour_name			{margin:19px 0 1px 0; font-weight:bold}
#product_visual #colour_name h3				{font-size:12px}
#product_visual #colour_thumbs	ul		{margin:0; padding:0}
#product_visual #colour_thumbs	li		{margin:0; padding:0; width:40px; height:40px; list-style:none; display:inline}
	
#product_visual #colour_thumbs li a			{}
#product_visual #colour_thumbs img			{width:40px; height:40px; border:solid 1px #999; cursor:pointer}
#product_visual img#colourimg_nav_prev			{border:none; height:40px; background:#fff url(http://css.yamaha-motor-europe.com/bg_img_nav_prev.gif) no-repeat 19px 13px; filter:alpha(opacity=85); opacity: 0.85; -moz-opacity:0.85;}
#product_visual img#colourimg_nav_next			{border:none; height:40px; background:#fff url(http://css.yamaha-motor-europe.com/bg_img_nav_next.gif) no-repeat 11px 13px; filter:alpha(opacity=85); opacity: 0.85; -moz-opacity:0.85;}

#product_visual .img_actions 			{height:29px; border-bottom:solid 1px #eee; border-left:solid 1px #eee; border-right:solid 1px #eee; }
#product_visual #view_img 				{float:left; position:relative; padding:0 13px 0 13px}
#product_visual #view_img a				{display:block; float:left; margin:8px 0 0 0; }
#product_visual #view_img a.disabled	{cursor:default; filter:alpha(opacity=65); opacity: 0.65; -moz-opacity:0.65; font-weigth:normal}
#product_visual #view_img a.enabled		{font-weigth:bold}
#product_visual a#gridview				{background:transparent url(http://css.yamaha-motor-europe.com/bg_gridview.gif) no-repeat 0 3px; padding:0 0 0 29px; margin-right:14px; text-decoration:none; color:#444}
#product_visual a#fullframeview			{background:transparent url(http://css.yamaha-motor-europe.com/bg_fullframeview.gif) no-repeat 0 3px; padding:0 0 0 29px; text-decoration:none; color:#444}
#product_visual #counter_img 			{float:right; position:relative; text-align:center}
#product_visual #counter_img span 		{display:block; float:left; margin:8px 12px 0 12px}
#product_visual #dwnld_img 				{display:none; float:right; position:relative; cursor:pointer; width:auto; left:auto; top:auto; border-right:none; text-align:center; padding:0; padding-left:15px; background:transparent url(http://css.yamaha-motor-europe.com/bg_download.gif) no-repeat top left}
#product_visual #dwnld_img span			{display:block; line-height:11px; padding:3px 12px 0 12px}
#product_visual #dwnld_img b 			{color:#c00; text-decoration:none; font-weight:bold}

#product_visual div#disclaimer_360			{position:absolute; bottom:8px; z-index:60; right:3px; background-color:#fff; filter:alpha(opacity=65); opacity: 0.65; -moz-opacity:0.65;}
#product_visual div#disclaimer_360 span		{display:block; padding:3px 5px 3px 5px; color:#444; text-decoration:none; font-size:90%}

#product_visual #main_img_container			{position:relative;}
#product_visual #gallery_disclaimer			{background-color:#FFFFFF;width:536px; bottom:0; left:0; margin:2px;  position:absolute; filter:alpha(opacity=80); opacity: 0.80; -moz-opacity:0.80;}
*html #product_visual #gallery_disclaimer	{bottom:30px}									
#gallery_disclaimer	span					{color:#666666; display:block; padding:3px 5px; font-size:90%;}

#product_visual div.acc_header  				{position:absolute; top:-30px; right:0; }
#product_visual div.acc_header p  				{margin:0; padding:0}
#product_visual div#acc_product_accessories  	{padding-top:0}

/* NEW BREADCRUMBS TRAIL */
div.breadcrumbs					{position:relative; height:23px; top:0; padding-right:10px; font-size:14px; background:white; margin:0 5px 0 20px;  letter-spacing:0.02em; }
	div.breadcrumbs ul				{position:relative; height:23px; font-size:14px; letter-spacing:0.02em; margin:0; padding:0; margin-left:10px}
		div.breadcrumbs li				{list-style:none; float:left; padding-right:3px}
		div.breadcrumbs a 				{text-decoration:none; color:#666;}
		div.breadcrumbs a:hover 		{text-decoration:underline;}
		div.breadcrumbs .active 		{font-weight:bold; color:#df0001;}

