div#area_top,
div.area_left,
div#toolbar-top,
div#site_image,
div.area_image,
div.area_image img,
div#area_bottom,
div#area_bottom .folder_link,
td#pagelayout_left,
td#pagelayout_left div,
td#pagelayout_right,
div#site_header,
div#site_header_relative,
div#site_title,
div#site_image,
.header_img,
div#site_image a img,
div#bypass,
div#bypass ul,
div#bypass ul li,
#searchbox,
.searchblock,
li.search_option,
ul.search_options,
#searchbox .defaultbutton,
#searchbox input,
.search_options input,
div#footer,
div#tipafriend,
div#downloadpdf,
div#historyprevious,
div.popup_l_menu,
div.popup_l_menu ul,
div.popup_l_menu ul li,
div.popup_l_menu ul li ul,
div.popup_l_menu ul li ul li,
div.popup_l_menu a,
div.popup_r_menu,
div.popup_r_menu ul,
div.popup_r_menu ul li,
div.popup_r_menu ul li ul,
div.popup_r_menu ul li ul li,
div.popup_r_menu a,
div.popup_t_menu,
div.popup_t_menu ul,
div.popup_t_menu ul li,
div.popup_t_menu ul li ul,
div.popup_t_menu ul li ul li,
div.popup_t_menu ul li ul li ul,
div.popup_t_menu a,
.inline_v_menu,
.inline_v_menu li,
.inline_v_menu dl,
.inline_v_menu dt,
.inline_v_menu dd,
.inline_v_menu ul,
.inline_v_menu a,
div#pagelayout_pathdesign,
div#pagelayout_pathdesign p,
div#pagelayout_pathdesign p a,
div#pagelayout_currentdate,
div#latest_article_list,
div#latest_article_list_title,
div#latest_article_list_articles,
div#latest_article_list_articles p,
div#latest_article_list_articles a,
div.linktool,
div.linktool_bottom,
div.linktool_title,
div.linktool_body,
div.linktool_text,
div.linktool_link,
div.linktool_link a,
div.shortnews,
div.shortnews_bottom,
div.shortnews_title,
div.shortnews_body,
p.shortnews_separator,
p.shortnews,
p.shortnews a,
div#footer,
div#footer a,
div#tipafriend,
div#printpage,
div#historyprevious{
visibility:hidden;
height:0;
width:0;
padding:0;
margin:0;
border:none;
}
div#pagelayout_allcontent{
width:100%;
margin: 0;
padding: 0;
}
td#pagelayout_nodecontent{
width:100%;
}

.Titre {
display : block;
}

.tab_Scolarite {
border : solid 1px #ccc;
width : 100%;
}

H1.Fiche {
}

H1.Fiche img.impression {
float : right;
}

span.plaquette {
background: url(PDF_16x16.png) no-repeat top left;
margin : 0 0 0 0;
padding : 0 0 0 1.2em;
}

#cadre_entete {
margin : 0;
padding : 0;
overflow : auto;
}

#cadre_entete .colonne1 {
margin : 0;
padding : 0;
float : left;
}

#cadre_entete .colonne2 {
margin : 0;
padding : 0;
float : right;
width : 25em;
}

#cadre_entete ul.parcours {
margin : 0.5em 0 0 0.5em;
padding : 0;
list-style-position: inside;
}

#cadre_entete H1 {
border :  solid 0px black;
}
