/* Forms (Should be replaced by widget.css)*/

table.formBackground  {
  border: 1px solid #999999;
  background: #FAFAFA;
  background-image: url("msgBoxBg.gif");
  background-repeat: repeat-x;
  background-position: bottom;
}
table.formBackground td  {
  font-family: Arial, Helvetica, sans-serif;
}
table.formPanel       { background-color: transparent; }
td.formTitle          { 
  color:#FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 2px 6px;
  text-align: left;
  background-color: #5882B5;
}
td.formLabel          { padding: 0px; text-align: right; }
td.formInfo           { padding: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
td.formAdminTitle     { color:#FFFFFF; background-image: url(http://www.bretagne.fr/internet/images/jalios/layout/bg/redtv.gif); background-color: #CC0000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-align: left; }
span.formButton       { }
span.formDeleteButton { color: #FF0000; }
.formInfo             { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
.formInfo a           { text-decoration: none; color: #6633CC; }
.formInfo a:hover     { text-decoration: underline; }
.formMandatory        { color: #FF0000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 10pt }
.formLabel            { font-family: Arial, Helvetica, sans-serif; text-align: left; white-space:nowrap;}
.formTextfield        { border: 1px #666666 solid; background-color: #FFFFFF; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px; font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
.formTextfieldRight   { border: 1px #666666 solid; background-color: #FFFFFF; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; text-align: right;}
.formSelect           { border: 1px #666666 solid; background-color: #FFFFFF; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px; font-family: Arial, Helvetica, sans-serif; font-size: 10pt}

.formDisabled         { color: gray; background-color: #DCDCDC; }

#popupEdition H1.boTitle {
  background: none;
  padding: 2px 2px 2px 0;
  border: 0;
}

/* Warning Area*/
.warningArea {
  background:   #FFFFCC url("warning.gif") no-repeat scroll 8px 14px;
  border:       1px solid #999999;
  font-family:  Arial, Helvetica, sans-serif;
  font-size:    11px;
  padding:      10px 10px 10px 48px;
  min-height:   42px;
}

/* Information Area */

.infoArea {
  background:   #FFFFCC url("information.gif") no-repeat scroll 8px 14px;
  border:       1px solid #999999;
  font-family:  Arial, Helvetica, sans-serif;
  font-size:    11px;
  padding:      10px 10px 10px 48px;
  
}
.infoArea p {
  margin-top:    0px;
  margin-bottom: 10px;
}

.infoArea ul,
.infoArea ol {
  margin-top:    0.5em;
  margin-bottom: 5px;
  line-height:   1.2em;
}

/* FormBox (without tabs) */
.formBox {
  border: 1px solid black;
}

.formBox .infoArea {
  padding:        10px 10px 0px 48px;
  border-width:   0px 0px 1px 0px;
  border-bottom:  1px solid #999999;
}

.formBox .inputArea {
  padding:        5px;
  padding-bottom: 10px;
  background:     #FAFAFA url("http://www.bretagne.fr/internet/images/jalios/layout/bg/formBg.gif") repeat-x;
  font-family:    Arial, Helvetica, sans-serif;
  font-size:      12px;
}

.formBox .inputArea .inputSet {
  margin-top: 20px;
}

.formBoxButtons {
  margin: 10px 0px 10px 0px;
}

/* Front form edition */
table.pubEditForm td {
  margin: 3px;
  padding: 3px;
}
