/* <?xml version="1.0" encoding="UTF-8"?><XMLCSS> */

/* -------------------------------------------------------------------- */
/* |||||||||||||||||||||||||||| STATIC TABS ||||||||||||||||||||||||||| */
/* -------------------------------------------------------------------- */

/* Portlet Selection Tab */
@import url("http://www.bretagne.fr/internet/css/jalios/staticTab.css");

/* -------------------------------------------------------------------- */
/* ||||||||||||||||||||||| RESULT DISPLAY ||||||||||||||||||||||||||||| */
/* -------------------------------------------------------------------- */

/* Result Display */
@import url("http://www.bretagne.fr/internet/css/resultdisplay.css");

/* -------------------------------------------------------------------- */
/* |||||||||||||||||||||||| FULL DISPLAY |||||||||||||||||||||||||||||| */
/* -------------------------------------------------------------------- */

/* Full Display */
@import url("http://www.bretagne.fr/internet/css/fulldisplay.css");

/* -------------------------------------------------------------------- */
/* ||||||||||||||||||| ABSTRACT SKINNABLE CSS ||||||||||||||||||||||||| */
/* -------------------------------------------------------------------- */

/* <CSS label="JSS - Orange" value="JSSorange" type="PortletSkinable" target="SkinBox" description="Style for Jalios Simple Skin AbstractPortletSkinable" /> */
@import url("http://www.bretagne.fr/internet/types/AbstractPortletSkinable/JaliosSimpleSkin/orange.css");

/* <CSS label="JSS - Red" value="JSSred" type="PortletSkinable" target="SkinBox" description="Style for Jalios Simple Skin AbstractPortletSkinable" /> */
@import url("http://www.bretagne.fr/internet/types/AbstractPortletSkinable/JaliosSimpleSkin/red.css");

/* <CSS label="JSS - Blue" value="JSSblue" type="PortletSkinable" target="SkinBox" description="Style for Jalios Simple Skin AbstractPortletSkinable" /> */
/* @import url("../../types/AbstractPortletSkinable/JaliosSimpleSkin/default.css");*/


/* -------------------------------------------------------------------- */
/* ||||||||||||||||||||||||| COMMON CSS ||||||||||||||||||||||||||||||| */
/* -------------------------------------------------------------------- */

BODY                   { color: black;  padding: 0px;                 }
.form                  { font: normal 8pt arial,helvetica,sans-serif; color: #333333; border: 1px solid #333333; }
.Portlet               {}
.PortletSkinable       {}
.Portlet A             { color: #333388; text-decoration: none;     }
.Portlet A:hover       { text-decoration: underline;                }

/* Member photo thumnail */
.Member.fullDisplay img.thumbnail {
  margin: 5px 5px 5px 0;
} 

/* WebPage thumnail */
.WebPage.resultDisplay img.thumbnail,
.WebPage.fullDisplay img.thumbnail {
  margin: 5px 5px 5px 0;
}

.WebPage.resultDisplay a.thumbnail,
.WebPage.fullDisplay a.thumbnail {
  float: left;
}

 /* Span used when there is no image to display */
 .WebPage.resultDisplay a.thumbnail span,
 .WebPage.fullDisplay a.thumbnail span {
   display: block;
   border: 1px solid #BBBBBB;
   color: #888888;
   background-color: #EEEEEE;
   text-align: center;
   margin: 5px 5px 5px 0;
 }
 .WebPage.resultDisplay a.thumbnail span {
   width: 64px; /* img width (60) + img padding (2*2) */
   height: 48px; /* img height (44) + img padding (2*2) */
   font-size: 44px;
 }
 .WebPage.fullDisplay a.thumbnail span {
   width: 124px; /* img width (120) + img padding (2*2) */
   height: 94px; /* img height (90) + img padding (2*2) */
   font-size: 90px;
 }

/* -------------------------------------------------------------------- */
/* |||||||||||||||||||||| PORTLET ROW CSS ||||||||||||||||||||||||||||| */
/* -------------------------------------------------------------------- */

/* <CSS label="Standard" value="Standard" type="PortletRow" target="SkinItem" description="Style for all PortletRow" /> */
.PortletRow_Standard .tabNav  A                { background-color: #888888; color: #FFFFFF;                               }
.PortletRow_Standard .tabNav  A:hover          { background-color: #DDDDDD; color: #333333;                               }
.PortletRow_Standard .tabNav  A.active,
.PortletRow_Standard .tabNav  A:link.active, 
.PortletRow_Standard .tabNav  A:visited.active { background-color: #DDDDDD; border-bottom-color: #DDDDDD; color: #333333; }
.PortletRow_Standard .tabMain                  { background-color: #DDDDDD;                         }

/* -------------------------------------------------------------------- */
/* ||||||||||||||||||||| PORTLET COLUMN CSS ||||||||||||||||||||||||||| */
/* -------------------------------------------------------------------- */

/* <CSS label="Standard" value="Standard" type="PortletColumn" target="SkinItem" description="Style for all PortletRow" /> */
.PortletColumn_Standard .tabNav  A                { background-color: #888888; color: #FFFFFF;                               }
.PortletColumn_Standard .tabNav  A:hover          { background-color: #DDDDDD; color: #333333;                               }
.PortletColumn_Standard .tabNav  A.active,
.PortletColumn_Standard .tabNav  A:link.active, 
.PortletColumn_Standard .tabNav  A:visited.active { background-color: #DDDDDD; border-bottom-color: #DDDDDD; color: #333333; }
.PortletColumn_Standard .tabMain                  { background-color: #DDDDDD;                         }


/* -------------------------------------------------------------------- */
/* ||||||||||||||||| QUERY/FOREACH REFINED CSS |||||||||||||||||||||||| */
/* -------------------------------------------------------------------- */
/* <CSS label="Standard" value="Standard" type="PortletQueryForeachDetail" target="SkinItem" description="Style for all PortletQueryForeach" /> */

.PortletQueryForeachDetail .title        { background-repeat: no-repeat; background-position: 2px 6px; padding-left: 12px;  }

.PortletQueryForeachDetail_Standard               { font: normal 12px arial,helvetica,sans-serif; }
.PortletQueryForeachDetail_Standard .result       { margin-bottom: 15px; }
.PortletQueryForeachDetail_Standard td            { font: normal 12px arial,helvetica,sans-serif; }
.PortletQueryForeachDetail_Standard .title        { font-size: 12px; font-weight: bold; background-repeat: no-repeat; background-position: left 4px; padding-left: 12px;  }
.PortletQueryForeachDetail_Standard .abstract p   { margin: 0; padding: 0; }
.PortletQueryForeachDetail_Standard .author       { font-weight: bold;  }
.PortletQueryForeachDetail_Standard .date         { font-style: italic; }
.PortletQueryForeachDetail_Standard .PagerLink    { font-weight: bold;  }
.PortletQueryForeachDetail_Standard .addNew       { font-weight: bold;  }
.PortletQueryForeachDetail_Standard .categories   { display: inline; }
.PortletQueryForeachDetail_Standard .reviewBlock  { display: inline; margin-left: 10px;}

/* <CSS label="Title" value="Title" type="PortletQueryForeachDetail" target="SkinItem" description="Style for all PortletQueryForeach" /> */

.PortletQueryForeachDetail_Title                  { font: normal 12px arial,helvetica,sans-serif; }
.PortletQueryForeachDetail_Title td               { font: normal 12px arial,helvetica,sans-serif; }
.PortletQueryForeachDetail_Title .title           { font-weight: bold; background-repeat: no-repeat; background-position: left 4px; padding-left: 12px;  }
.PortletQueryForeachDetail_Title .abstract p      { margin: 0; padding: 0; }
.PortletQueryForeachDetail_Title .PagerLink       { font-weight: bold;  }
.PortletQueryForeachDetail_Title .addNew          { font-weight: bold;  }

/* -------------------------------------------------------------------- */
/* |||||||||||||||||||||| QUERY/FOREACH CSS ||||||||||||||||||||||||||| */
/* -------------------------------------------------------------------- */
/* <CSS label="Standard" value="Standard" type="PortletQueryForeach" target="SkinItem" description="Style for all PortletNavigate" /> */

.PortletQueryForeach_Standard P                { }
.PortletQueryForeach_Standard TD               { font-size: 90%; }
.PortletQueryForeach_Standard .abstractDetail  { font-size: 90%; }
.PortletQueryForeach_Standard .PagerLink       { font: bold 9pt arial,helvetica,sans-serif;  }
.PortletQueryForeach_Standard .addNew   { font-weight: bold;  }

/* -------------------------------------------------------------------- */
/* |||||||||||||||||||||||| NAVIGATE CSS |||||||||||||||||||||||||||||| */
/* -------------------------------------------------------------------- */
/* <CSS label="White" value="White" type="PortletNavigate" target="SkinItem" description="Style for all PortletNavigate" /> */

.PortletNavigate_White                    { font: bold 10pt arial,helvetica,sans-serif; color: white; white-space: nowrap;}
.PortletNavigate_White A                  { font: bold 10pt arial,helvetica,sans-serif; color: white; white-space: nowrap;}
.PortletNavigate_White .locationPrefix    { font: bold 10pt arial,helvetica,sans-serif; color: white; white-space: nowrap;}
.PortletNavigate_White .locationSeparator { font: bold 10pt arial,helvetica,sans-serif; color: white; white-space: nowrap;}

/* <CSS label="Black" value="Black" type="PortletNavigate" target="SkinItem" description="Style for all PortletNavigate" /> */

.PortletNavigate_Black                    { font: bold 10pt arial,helvetica,sans-serif; color: black; white-space: nowrap;}
.PortletNavigate_Black A                  { font: bold 10pt arial,helvetica,sans-serif; color: black; white-space: nowrap;}
.PortletNavigate_Black .locationPrefix    { font: bold 10pt arial,helvetica,sans-serif; color: black; white-space: nowrap;}
.PortletNavigate_Black .locationSeparator { font: bold 10pt arial,helvetica,sans-serif; color: black; white-space: nowrap;}

/* <CSS label="JSS" value="JSS" type="PortletNavigate" target="SkinItem" description="Style for Jalios Simple Skin PortletNavigate" /> */

.PortletNavigate_JSS       { font: bold 10pt arial,helvetica,sans-serif; color: #CC0000; height: 25px; vertical-align: top; white-space: nowrap;}
.PortletNavigate_JSS  A    { font: bold 10pt arial,helvetica,sans-serif; color: #CC0000; white-space: nowrap;}


/* -------------------------------------------------------------------- */
/* ||||||||||||||||||||||||| MENU CSS ||||||||||||||||||||||||||||||||| */
/* -------------------------------------------------------------------- */
/* <CSS label="White" value="White" type="PortletMenu" target="SkinItem" description="Style for all PortletMenu" /> */

.PortletMenu_White     { font: bold 10pt arial,helvetica,sans-serif; color: white; white-space: nowrap;}
.PortletMenu_White A   { font: bold 10pt arial,helvetica,sans-serif; color: white; white-space: nowrap;}

/* <CSS label="JSS" value="JSS" type="PortletMenu" target="SkinItem" description="Style for Jalios Simple Skin PortletNavigate" /> */
.PortletMenu_JSS       { font: bold 10pt arial,helvetica,sans-serif; color: #CC0000; height: 25px; vertical-align: top; white-space: nowrap;}
.PortletMenu_JSS  A    { font: bold 10pt arial,helvetica,sans-serif; color: #CC0000; white-space: nowrap;}


/* -------------------------------------------------------------------- */
/* ||||||||||||||||||||| LOGIN/LOGOUT CSS ||||||||||||||||||||||||||||| */
/* -------------------------------------------------------------------- */
/* <CSS label="Standard" value="Standard" type="PortletLogin" target="SkinItem" description="Style for all PortletLogin" /> */

.PortletLogin_Standard  TD         { font: bold 10pt arial,helvetica,sans-serif; color: black;}
.PortletLogin_Standard .Login      { font-size: 9pt; }
.PortletLogin_Standard .Password   { font-size: 9pt; }

/* <CSS label="Modern" value="Modern" type="PortletLogin" target="SkinItem" description="Style for all PortletLogin" /> */

.PortletLogin_Modern  INPUT            { font-size: 11px; margin: 0px; }
.PortletLogin_Modern  TD               { margin: 0; padding: 0; font-family: arial,helvetica,sans-serif; font-size: 10px; }
.PortletLogin_Modern .Intro            { text-align: left; font-size: 11px; padding: 3px; border: 1px solid #999; background-color: #DDD; }
.PortletLogin_Modern .Login            { padding-top: 3px; }
.PortletLogin_Modern .Login INPUT      { font-size: 10px; }
.PortletLogin_Modern .Password INPUT   { font-size: 10px; }
.PortletLogin_Modern .formInfo         { padding: 3px 0px; }
.PortletLogin_Modern .formInfo INPUT   { margin-right: 3px; }

/* -------------------------------------------------------------------- */
/* |||||||||||||||||||||||| SIGNUP CSS |||||||||||||||||||||||||||||||| */
/* -------------------------------------------------------------------- */
/* <CSS label="Standard" value="Standard" type="PortletSignUp" target="SkinItem" description="Style for all PortletSignUp" /> */

.PortletSignUp_Standard  TD        { font: normal 10pt arial,helvetica,sans-serif; color: black;}


/* -------------------------------------------------------------------- */
/* |||||||||||||||||||||||| SEARCH CSS |||||||||||||||||||||||||||||||| */
/* -------------------------------------------------------------------- */
/* <CSS label="Standard" value="Standard" type="PortletSearch" target="SkinItem" description="Style for all PortletSearch" /> */

.PortletSearch_Standard  TD  A    { font: bold 10pt arial,helvetica,sans-serif; color: white; text-decoration:none }

/* -------------------------------------------------------------------- */
/* |||||||||||||||||||||| TOPMEMBER CSS ||||||||||||||||||||||||||||||| */
/* -------------------------------------------------------------------- */
/* <CSS label="Standard" value="Standard" type="PortletTopMember" target="SkinItem" description="Style for all PortletTopMember" /> */

.PortletTopMember_Standard  .Title     { font: bold 10pt arial,helvetica,sans-serif; color: black; }
.PortletTopMember_Standard  .Link      { font: bold 9pt arial,helvetica,sans-serif; color: black; }

/* -------------------------------------------------------------------- */
/* |||||||||||||||||||||||| LOCATION CSS |||||||||||||||||||||||||||||| */
/* -------------------------------------------------------------------- */
/* <CSS label="Standard" value="Standard" type="PortletLocation" target="SkinItem" description="Style for all PortletLocation" /> */

.PortletLocation_Standard             { font: bold 10pt arial,helvetica,sans-serif; }
.PortletLocation_Standard A           { font: bold 10pt arial,helvetica,sans-serif; }
.PortletLocation_Standard .prefix     { font: bold 10pt arial,helvetica,sans-serif; }
.PortletLocation_Standard .separator  { font: bold 10pt arial,helvetica,sans-serif; }

/* -------------------------------------------------------------------- */
/* ||||||||||||||||||||||||||| RSS CSS |||||||||||||||||||||||||||||||| */
/* -------------------------------------------------------------------- */
/* <CSS label="Standard" value="Standard" type="PortletRSS" target="SkinItem" description="Style for all PortletRSS" /> */

.PortletRSS_Standard .PortletRSS					{  }
.PortletRSS_Standard .RssTitle    				{ font: bold   11pt Arial,Helvetica,Sans-Serif; }
.PortletRSS_Standard .RssDescription			{ font: normal 10pt Arial,Helvetica,Sans-Serif; }
.PortletRSS_Standard .RssItemLink		 			{ font: bold   10pt Arial,Helvetica,Sans-Serif; }
.PortletRSS_Standard .RssItemDescription	{ font: normal  9pt Arial,Helvetica,Sans-Serif; background-color:#ffffcc; padding: 6px; margin-bottom: 6px;  }

/* </XMLCSS> */



