/*
 * <link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
 */
.printHide {
  display : none;
}

.printOnly {
  display : block;
}

acronym:after {
  content: " (" attr(title) ")";
}

abbr:after {
  content: " (" attr(title) ")";
}

#content a.external.text:after, #content a.external.autonumber:after {
    /* Expand URLs for printing */
    content: " (" attr(href) ") ";
}