/* Texte Classic */
.normal { 
	font-family: Georgia, "Trebuchet MS", "Times New Roman";
	font-size: 13px;
	color: #666666;
	line-height: 1.25em;
}
.normal .titre {
	font-size: 15px;
	color: #00286b;
	font-weight: bold;
	margin-bottom: 5px;
	font-family: Georgia;	
}
.normal p {
	margin-bottom: 15px;
}
/* Texte Encadre */
.normal .encadre {
	background-color: #f4f7e0;
	border: 1px solid #a3c000;
	padding: 20px;
	font-family: Trebuchet MS;
	font-size: 0.92em;
	line-height: 1.1em;
	color: #464646;
	margin-top: 20px;
	margin-bottom: 20px;
}
.normal .titreEncadre {
	font-family: Trebuchet MS;
	font-size: 1.3em;
	color: #000000;
	margin-top: 5px;
	padding-bottom: 10px;	
	line-height: 24px;	
	font-weight: bold; 
}
.normal strong {
	font-weight:bold;
}
.normal em * {
	font-style: italic;
}
.normal .deuxcols{
	float:left;
	margin:0pt 15px 15px 0pt;
	width:307px; 
}


