#conteneur {
position: absolut;
width: 460px;
height: auto;
background-color: #FFFFFF;
}

#bloc1 {
background-color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 11px;
font-weight: normal;
color: #000000;
background-color:#FFFFFF;
width:460px;
border-width: 0px 0px 0px 0px;
padding: 0px 0px 5px 0px;
}

#bloc2 {
background-color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 11px;
font-weight: normal;
color: #000000;
background-color:#FFFFFF;
width: 227 px;
border-width: 0px 0px 0px 0px;
padding: 0px 0px 5px 0px;
}


#titre-monument {
	font-size:14px;
	font-weight:bold;
}
.titre-monument-td {
	background-color:#BA1F15;
    border: solid #FFFFFF;
    border-width: 0px 0px 1px 0px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    padding:2px;
  }

#contenu {
	background-color:#FFFFFF;
    border: solid #BA1F15;
    border-width: 1px 1px 1px 1px;
    padding:5px;
}

#contenu li {
    list-style-image: url(puce-ronde-rouge.gif);
    list-style-position: outside;
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 20px;
}

.monuments-animation {
	background-color: #E4C2C1;
	background-color: #f1f1f1;
	margin-bottom:2px;
	padding:2px 2px;
}