@charset "utf-8";
/* --------------------------------------------------------------------------------------------- Reset */
	body {
		font-size:11pt;
		font-family:"times new Roman", times, serif
	}
	a {
		color:#000;
		text-decoration:none
	}
	img {border:none}
	strong {font-weight:bold}
	em {font-style:italic}
/* --------------------------------------------------------------------------------------------- Elements masques */
	.masquer,
	img,
	div.image,
	#top,
	#navigation_profil,
	#tetiere,
	#navigation_transversale,
	#fil_rss,
	#navigation_principale,
	h2.tout_image,
	#video,
	#carousel,
	#colonne02,
	#colonne03,
	#outils,
	#pied_page {display:none}
/* --------------------------------------------------------------------------------------------- Elements modifiés */
	#entete h1 {
		border-bottom:0;
		margin-bottom:35px
	}
	#entete h1 img, h2.actualites {display:block}
	h1 {border-bottom:1px solid #000}
	h2 {border-bottom:1px dashed #666}
/* --------------------------------------------------------------------------------------------- Elements ameliores */
/* ------------------------------------------------------------------------- Liens */
	a:after {
		font-size:.9em;
		text-decoration:underline
	}
	a.lien_externe:after {content:" (" attr(href) ") "}
	a[href^="/"]:after {content:" (http://www.hautenormandie.fr" attr(href) ") "}
	#entete h1 a:after,
	#fil_ariane a:after {content:""}
/* ------------------------------------------------------------------------- Custom tags */
	abbr, acronym {border:none}
	acronym:after, abbr:after {content:" (" attr(title) ") "}
	#adresse abbr:after {content:""}
	blockquote:after {content:" (" attr(cite) ") "}