.cols-left .side-col { float:left; width:260px; }
.cols-left .main-col { float:right; width:670px; }

.hidden {
    display:block !important;
    font-size:0 !important;
    height:0 !important;
    left:2000px;
    line-height:0 !important;
    margin:0 !important;
    overflow:hidden !important;
    padding:0 !important;
    position:absolute;
    top:-2000px;
    width:0 !important;
}

/***** top title bar  *********/
.title-bar { background:url(sites_top_titlebar_bg.png) repeat-x; margin:10px 0 8px; }
.title-bar-in {background:url(sites_top_titlebar_left.png) no-repeat left; }
.title-bar-in-in {background:url(sites_top_titlebar_right.png) no-repeat right; }
.title-bar h2 {  
    font-size:1.8em;
    margin-left:18px; 
    font-weight:normal;
    height:21px;
    padding:3px 0 1px 33px;
    background:url("ico_agenda.png") no-repeat scroll 0 3px transparent;
}

/**** espace perso - side box ******/
.espaceperso-left-box { background: url(espaceperso_sidebox_bg.png) repeat-y ; margin-bottom:6px; }
.espaceperso-left-box-in { background: url(espaceperso_sidebox_bot.png) no-repeat bottom; }
.espaceperso-left-box-in-in { padding:9px; background: url(espaceperso_sidebox_top.png) no-repeat top; }
.espaceperso-left-box h3.title { font-size:1.8em; color:#a80330; font-weight: bolder; font-style: italic; text-align:left; margin-bottom:18px; padding:0; }
.espaceperso-left-box p { font-size:1.2em; color:#353336; text-align: justify; margin-bottom:5px; }

.espaceperso-page h2 { background:url(ico_agenda.png) no-repeat scroll 0 3px; }
.espaceperso-page h2.ico-profil { background:url(ico_profil.png) no-repeat scroll 0 2px; }
.espaceperso-page { padding-left:20px !important; padding-right:15px !important; }
.espaceperso-page label { width:104px; display:inline-block; text-align:right; padding-right:3px; font-size:1.2em; }
.espaceperso-page .input-text,
.espaceperso-page .input-file { width:216px; border:1px solid #cfcfcf; padding:1px 2px; }
.espaceperso-page .input-select { width:224px; border:1px solid #cfcfcf; height:18px; padding:0px; }
.espaceperso-page input.red { border-color:#f30808; }
.espaceperso-page .input-text-small { width:33px; border:1px solid #cfcfcf; height:16px; padding:0px 2px; }

.espaceperso-page span.post-label { font-size:11px; }
.espaceperso-page p.required-info { display:inline; color:#f30808; }

/***** espace perso box - [default elemets] *******/
.espaceperso-left-box h3 { color:#353336; font-size:1.4em; font-weight:normal; text-align:center; padding:0 0 6px; }
.espaceperso-left-box .spacer { background: url(leftbox-fadeline.png) no-repeat bottom center; height:2px; width:100%; display:block; margin:0 0 11px;}
ul.espaceperso-small-list li { font-size:1.1em; line-height:1.27; background:url(arr_black.png) no-repeat 0px 3px; padding: 0 10px; margin:0 0 4px;}
ul.espaceperso-small-list li a { color:#A80330; }
ul.espaceperso-list li { font-size:1.2em; line-height:1.27; background:url(arr_black.png) no-repeat 0px 4px; padding: 0 10px; margin:0 0 3px;}
ul.espaceperso-list li a {color:#353336;}
ul.espaceperso-list li.red { background-image:url(arr_red.png); }
ul.espaceperso-list li.red a { color:#a80330; }

.perso-info-box { margin: 0 0 18px; }
.perso-info-box img { float:left; margin: 0 9px 0 0; } 
.perso-info-box .perso-infos { margin-left:90px; color:#353336; }
.perso-info-box .perso-infos p.hello-text { font-size:1.2em; margin:0 0 12px; padding:8px 0 0; }
.perso-info-box .perso-infos p.profil-name { font-size:1.2em; margin:0 0 5px; padding:8px 0 0; font-weight:bold; }
.perso-info-box .perso-infos .profil-type { font-size:1.1em; }

.perso-info-box .perso-infos ul { margin:0 1px 19px; }
.perso-info-box .perso-infos ul li { line-height:1.17; font-size:1em;  background:url(arr_black.png) no-repeat 0px 2px; padding:0 0 0 10px; }
.perso-info-box .perso-infos ul li span.big-date { font-size:1.2em }
.perso-info-box .perso-infos a.messages-info { font-weight:bold; color:#a80330; background:url(ico_mail.png) no-repeat 0px 1px; margin-left:-3px; padding-left:22px; }

/****** espace perso - content list *******/
.espaceperso-page .bord-bot { background:url(espaceperso_main_bot.png) no-repeat bottom; height:4px; line-height:1; }
.espaceperso-main-wrapper {  padding-bottom:4px; line-height:normal;}
ul.espaceperso-main { color:#353336; background:url(espaceperso_main_bg.png) repeat-y; padding:0 1px; }
ul.espaceperso-main li .head { background:#6b696c; font-weight:normal; font-size:1.2em; color:#fff; margin-bottom:1px; }
ul.espaceperso-main li .head h2,
ul.espaceperso-main li .head a {
    color:#fff;
    display:block;
    background:url(arr_white_bg.png) no-repeat 0 8px;
    padding:6px 0 6px 13px;
    margin-left:9px;
    font-weight:normal;
    font-size:1em;
    }
ul.espaceperso-main li .head a:hover { text-decoration:none; color:#fff; }
ul.espaceperso-main li .head span.trigger { float:right; width:11px; height:9px; background:url(trigger_up.png) no-repeat 0 0; margin:2px 8px 0 0; }
ul.espaceperso-main li .body { display:none; }
ul.espaceperso-main li .body .espaceperso-list { margin:0 22px; padding:11px 0;}
ul.espaceperso-main li .sub-head { background:#dededf; font-size:1.1em; padding:2px 8px; }
ul.espaceperso-main li .sub-head-empty { background:#dededf; height:15px;  }
ul.static li .body { display:block; padding:9px 27px 8px 10px; }

ul.espaceperso-main li.open .head { margin-bottom:0; }
ul.espaceperso-main li.open .head span.trigger { background-image:url(trigger_down.png); }
ul.espaceperso-main li.open .body { display:block; }
ul.espaceperso-main li.first .head { background: #6b696c url(espaceperso_main_top.png) no-repeat top; margin:0 -1px; padding:0 1px;}


ul.message-list li {
    background:url(ico_mail2.png) no-repeat left top;
    height:27px;
    padding:5px 5px 5px 35px;
    border-bottom:1px solid #dededf;
    color:#353336;
}
ul.message-list li a { color:#353336; }
ul.message-list li .left { float:left; margin-right:70px; font-size:1.1em; }
ul.message-list li .right { float:right; width:70px; text-align:right; }
ul.message-list li .subject, ul.message-list li .date { margin-bottom:7px; } 
ul.message-list li .sender { font-weight:bold; }

ul.espaceperso-main .photo-upload-set { margin-top:15px; padding-bottom:9px; }
ul.espaceperso-main .photo-upload-set img { float:left; border:1px solid #767176; margin:0 17px 0 2px; }
ul.espaceperso-main .photo-upload-set h4 { font-size:1.1em; margin-bottom:5px; }
ul.espaceperso-main .photo-upload-set .input-button { }
ul.espaceperso-main .profil-edit-fields ul li { padding-bottom:4px; }
ul.espaceperso-main h3, ul.espaceperso-main .divider { font-weight:normal; font-size:1.4em; padding-bottom:7px; border-bottom:1px solid #e3e2e2; margin:20px 0 12px 0; }
ul.espaceperso-main .divider { margin-top:0;}
ul.espaceperso-main h3 span.obligatory-info { font-size:0.71em; color:#bdbdbd;}
ul.espaceperso-main .buttons { margin-top:16px; }
ul.espaceperso-main .buttons button { border:0; padding-bottom:3px; font-size:1.2em; width:80px; height:27px; background:url(btn-bg1.png) no-repeat ; cursor: pointer;}

/*********** mes dossiers ***********/
ul.my-records li .body { display:block; padding:11px 19px 11px 18px; }
.my-records-list .row { margin-bottom:30px; }
.my-records-list .row .row-in li.my-record {
    display:inline-block;
    width:182px;
    height:138px;
    position:relative;
    font-weight:bold;
    font-size:1.2em;
    margin-right:38px;
    }
.my-records-list .row .row-in li.my-record a { color:#353336; }
.my-records-list .row .row-in .opacity-field {  position:absolute; padding:5px; width:172px; height:49px; bottom:0; background:url(bg_submenu-trans.png) -20px -10px; }
.my-records-list .row .row-in .opacity-field .date { display:block; margin-top:3px;  }
.my-records-list .row .row-in .r-links { position:absolute; bottom:5px; text-align:right; width:170px; padding:0 6px;  }
.my-records-list .row .row-in .r-links .left { float:left; }
.my-records-list .row .row-in .r-links a { color:#b52a50 !important; }
.my-records-list .row .row-in li.last { margin-right:0; }

/** pager **/
ul.espaceperso-main .page-navigation {  text-align:center; }
ul.espaceperso-main .page-navigation a { font-size:1.2em; color:#504e51; }
ul.espaceperso-main .page-navigation span { color:#a80330; font-weight:bold; font-size:1.6em;}

/**************** page profil *************/
ul.espaceperso-main .espaceperso-list .span-label { display:inline-block; width:218px; }
ul.espaceperso-main .espaceperso-list .simple-text { display:inline-block; padding-left:35px; color:#a80330; }


/*********** ****************/
.shade-box {background: url(side_box_fill.png) repeat-y; margin: 0 0 13px; width: 258px;}
.shade-box .inbox {background: url(side_box_top.png) no-repeat;}
.shade-box .in-inbox {background: url(side_box_bottom.png) no-repeat left bottom; padding: 6px 6px 9px;}
.conttact h3 {
    border-bottom:2px solid #2E2C35;
    margin:0 6px 5px 6px;
    padding:13px 0 6px 25px ;
    font-size:1.4em; font-weight:normal; background:url(ico_contact.png) no-repeat 0 6px;
}
.conttact ul li address { font-size:1.09em; font-weight:normal; color:#a80330; font-style: normal; line-height:1.2; }
.conttact ul { padding:0 9px; }
.conttact ul li { padding:5px 0; }
.conttact ul li .head { font-size:1.27em; color:#3a3232; font-weight:bold; margin-bottom:3px; }
.conttact ul li .body { font-size:1.09em; font-weight:normal; }
.conttact ul li .body p { margin-bottom:4px; line-height:1.09; }
.conttact ul li a { color:#a80330; }
.conttact h4 { font-weight:bold; font-size:1.4em; font-style:italic; margin:9px 0 14px 0; padding:0 9px;}

.border1-block .red { color:#a80330; }
.border1-block {background: url(contact_form_fill.png) repeat-y; margin: 4px 0 0; }
.border1-block .inblock {background: url(contact_form_bottom.png) no-repeat left bottom; padding: 0 0px 40px 0px;}
.border1-block .in-inblock {background: url(contact_form_top.png) no-repeat; margin: 0; width: 693px; }
.contact-form .in-inblock { min-height:657px; }
.border1-block .head { padding-top:12px; padding-left:18px; margin-bottom:42px; }
.border1-block .head h1 {
    font-weight:normal;
    font-size:1.8em;
    background:url("ico_book.png") no-repeat scroll 0 0px transparent;
    height:21px;
    padding:3px 0 3px 33px;
}
.border1-block .body { padding-left:104px; }
.border1-block .body p { color:#a80330; font-size:1.2em; margin-bottom:25px; }
.border1-block .body p.sbjct { color:#292a2f; font-size:1.4em; margin-bottom:25px;  }
.border1-block .body p.sbjct span { color:#a80330; font-weight:bold; font-style:italic; }
.border1-block ul li.form-item { margin-bottom:9px; }
/*** 2 cols ***/
.border1-block ul li.col2 { width:486px; } 
.border1-block ul li.col2 .col-1 { float:left; width:228px; margin-right:20px; }
.border1-block ul li.col2 .col-2 { float:right; width:228px; }
.border1-block ul li.col2 .input-text { width:228px; }

.border1-block ul li label { display:block; font-size:1.2em; margin:0 0 5px; }
.border1-block ul li .input-text {
    background:none repeat scroll 0 0 #F0F0F0;
    border:1px solid #DCDCDC;
    font-size:1.2em;
    padding:4px 1px;
    width:486px;
}
.border1-block ul li .input-textarea {
    background:none repeat scroll 0 0 #F0F0F0;
    border:1px solid #DCDCDC;
    font-size:1.2em;
    padding:4px 1px;
    width:486px;
    height:137px; 
}
.border1-block .body .btn-line { text-align:right; width:490px; }
.border1-block .body .btn-line p { float:left; font-size:1em; color:#a80330; }
.border1-block .body .btn-line span { background:none repeat scroll 0 0 #A80330; display:inline-block; text-align:center;}
.border1-block .body .btn-line input {
    background:none repeat scroll 0 0 transparent;
    border:medium none;
    color:#FFFFFF;
    font-size:1.2em;
    font-weight:bold;
    padding:2px 9px;
}
.postuler .body p { color:#434149;}

/******** side box google map *******/
.gmap h3 { background:url("ico_gmap.png") no-repeat scroll 4px 3px; }
.gmap .gmap-map { margin-left:2px; }

/******** commune map ************/
.commune-map .head h1 { background: url(ico_house.png) no-repeat 3px 0; }
.commune-map-raz .body, 
.commune-map .body { padding-left:130px; margin-top:-30px; }
/* side box */
.commune .in-inbox { min-height:260px; }
.commune .in-inbox h4 { color:#a80330; font-size:1.2em; }

.commune-map-raz .head h1 { background: url(ico_commune.png) no-repeat 1px 0; }

/******** widee box ********/
/* tag site, */
.tag-grid { padding-left:20px !important; padding-right:15px !important;}
.widee-box { background:url(http://www.somme.fr/extension/cg80/design/cg80/images/tag_box_fill.png) repeat-y; width:941px; } 
.widee-box .inbox { background:url(http://www.somme.fr/extension/cg80/design/cg80/images/tag_box_bottom.png) no-repeat bottom; }
.widee-box .in-inbox { background:url(http://www.somme.fr/extension/cg80/design/cg80/images/tag_box_top.png) no-repeat top; padding:5px 1px 5px;}
.widee-box .grey-head { background:#6b696c; padding:1px 10px 5px 10px; }
.widee-box .grey-head h2 { color:#fff; font-size:1.2em; background:url(http://www.somme.fr/extension/cg80/design/cg80/images/arr_right.png) no-repeat 0 2px; padding-left:12px; } 
.widee-box .body { padding:23px 33px 10px 33px; }

/** pagination **/
.widee-box .page-navigation {  text-align:center; }
.widee-box .page-navigation a { font-size:1.2em; color:#504e51; }
.widee-box .page-navigation span { color:#a80330; font-weight:bold; font-size:1.6em;}
.widee-box .my-records-list .row .row-in li.my-record { margin-right:44px; }
.widee-box .my-records-list .row .row-in li.last{ margin-right:0px; }

/******** super wide box ********/
.super-wide-box { background:url(swide_box_fill.png) repeat-y; width:949px; margin-top:10px; } 
.super-wide-box .wide-inbox { background:url(swide_box_bottom.png) no-repeat bottom; }
.super-wide-box .wide-in-inbox { background:url(swide_box_top.png) no-repeat top; padding:5px 1px 5px;}
.super-wide-box .head { padding:5px 0 0 14px; }
.super-wide-box .head h1 { font-weight:normal; font-size:1.8em; height:22px; padding:4px 0 0 32px; background: url(ico_lock.png) no-repeat 0 0;}
.super-wide-box .body { padding:27px 28px 10px 28px; font-size:1.2em; }
.super-wide-box .body .red { color:#a80330; }

    /* Acces reglemente, register */
    .register-form .wide-in-inbox { min-height:640px; }
    .login-set { width:705px; margin:0 auto; margin-top:30px; }
    .login-set .left { float:left; }
    .login-set .right { float:right; }
    .login-box { width:327px; background:url(login_box_fill.png) repeat-x; }
    .login-box .inbox { background:url(login_box_left.png) no-repeat left; }
    .login-box .in-inbox { height:180px; background:url(login_box_right.png) no-repeat right; padding:0; position:relative; }
    .login-box h2 { font-size:1.5em; color:#a80330; font-style:italic; padding:12px 0 0 12px; }
    .login-box h2 span { background:#f2efef; padding:0 3px; }
    .login-box .content { padding: 10px 15px 0 15px; }
    .login-set .right .content p { color:#606165; line-height:1.09; margin-bottom:5px; text-align:justify; }
    
    .mdp-form .btn-line span,
    .login-box .btn-line span {
        background:none repeat scroll 0 0 #A80330;
        display:inline-block;
        text-align:center;
    }
    .mdp-form .btn-line input ,
    .login-box .btn-line input {
        background:none repeat scroll 0 0 transparent;
        border:medium none;
        color:#FFFFFF;
        font-weight:bold;
        padding:1px 3px;
    }
    
    .login-box .buttons { position:absolute; bottom:15px; right:15px;}
    .login-box .right .content { padding-top: 14px; }
    .login-box ul li { margin-bottom:5px; }
    .login-box ul li label { display:block; font-size:1em; margin:0 0 3px; }
    
    .mdp-form .mdp-set .input-text,
    .login-box ul li .input-text {
        background:none repeat scroll 0 0 #fff;
        border:2px solid #e0dfdf;
        font-size:1em;
        padding:3px 1px;
        width:292px;
    }
    /** MDP **/
    .mdp-form .wide-in-inbox { min-height:640px; }
    .mdp-form .mdp-set { margin-top:15px; }
    .mdp-form .mdp-set label { display:block; font-size:1em; margin:0 0 6px; }
    .mdp-form .mdp-set .input-text { background:#f0f0f0; }
    
    /* Mentiones legelaes - imprint-txt */
    .imprint-txt .head h1 { background-image: url(ico_house.png); }
    .imprint-txt ul li { margin-bottom:16px; }
    .imprint-txt ul li h2 { font-size:1.17em; color:#a80330; font-style:italic; margin-bottom:3px; }
    .imprint-txt p,.imprint-txt address { line-height:1.2; font-style:normal; margin-bottom:6px; color:#393740;}
    .imprint-txt a {color:#a80330; text-decoration:underline; }
    .imprint-txt a:hover, .imprint-txt a:focus {text-decoration:none; }
    
    /* Meteo box */
    .meteo-box .head h1 { background-image: url(ico_globe.png); background-position: 3px 3px;}
    .meteo-box .col2-set .col-1 { float:left; width:399px; }
    .meteo-box .col2-set .col-2 { float:right; width:465px; padding-top:5px; }
    .meteo-box .col2-set .col-2 p { margin-bottom:12px;}
    .meteo-box .col2-set .col-2 p a { color:#a80330; }
    .meteo-box .col2-set .col-2 .meteo-dmc-image {  margin-bottom:10px; position:relative; }
    .meteo-box .col2-set .col-2 .opacity-bottom { height:18px; padding-top:4px; position:absolute; left:0px; top:56px; width:98px; background:url(bg_submenu-trans.png) repeat scroll -20px -10px; text-align:center; color:#292a2f; }
    .meteo-box .wide-in-inbox { min-height:640px; }
    
/********** forum ***********/
.forum-page { padding-top:8px !important; }
.forum-page .main-col { width:684px; padding-left:8px; }
.forum-page .main-col .title-bar { margin:4px 0 10px 0; width:684px; }
.forum-page .title-bar h1,
.forum-page .title-bar h2 { background:url(ico_forum.png) no-repeat 0 2px; margin-left:11px; padding-left:40px; } 
.side-col .categories .inbox { background:url(categories_box_top.png) no-repeat top ;}
.side-col .categories h3 { margin-bottom:10px; font-size:1.4em; color:#fff; text-transform:uppercase; font-weight:bold; padding:2px 0 0 5px; border:0; }
.categories ul.cats-side-list { padding:2px 10px 10px 10px; }
.categories ul.cats-side-list li { padding:0; font-weight:normal; font-size:1.2em; }
.categories ul.cats-side-list li a { color:#2e2c35; }
.categories ul.cats-side-list li a:hover { text-decoration:underline; }
.categories ul.cats-side-list li span {color:#a70230;}
.side-col .mag .in-inbox { text-align:center; padding: 15px 10px;}
.forum-page .comments { margin-top:26px; }
.forum-page .comments .add-comment { padding-left:25px;}
.forum-page .comments .add-comment .btn-line span { background:#A80330;}
 
/** pager **/
.forum-page .page-navigation {  text-align:center; padding:15px 0 0 22px; }
.forum-page .page-navigation a { font-size:1.2em; color:#504e51; }
.forum-page .page-navigation span { color:#a80330; font-weight:bold; font-size:1.6em;}

.forum-page .main-col p.page-links { margin:12px 4px 0 0; font-size:1.1em; text-align:right; color:#353336; }
.forum-page .main-col p.page-links a { color:#a80330; text-align:right; }

    /* categories list */
    .forum-list { margin-top:4px;}
    .forum-list li.item-box { background:url(forum1_box_fill.png) repeat-x 0 0; margin-bottom:6px; }
    .forum-list li.item-box .inbox { height:159px; background:url(forum1_box_right.png) no-repeat right top;  }
    .forum-list li.item-box .in-inbox { height:159px; background:url(forum1_box_left.png) no-repeat left top;  }
    .forum-list li.item-box .in-img img { width:131px; float:left;}
    .forum-list li.item-box .col-1 { float:left; width:357px; border-right:1px solid #e2e2e3; height:159px;}
    .forum-list li.item-box .col-1 .body { margin-left:131px; padding:8px 10px 10px; }
    .forum-list li.item-box .col-1 .body h2 { font-size:1.2em; margin-bottom:15px; width:350px; line-height:1.5;}
    .forum-list li.item-box .col-1 .body h2 a { color:#353336; }
    .forum-list li.item-box .col-1 .body p { color:#737373; font-size:1.1em; line-height:1.27; text-align:justify; margin-bottom:12px; text-indent:17px;} 
    .forum-list li.item-box .col-2 { float:right; width:300px; padding-right:16px; height:159px;}
    .forum-list li.item-box .col-2 .body { padding-top:10px; }
    .forum-list li.item-box .col-2 p.title { color:#a80330; font-size:1.2em; border-bottom:1px solid #e3e3e3; padding-bottom:9px; margin-bottom:9px;}
    .forum-list li.item-box .col-2 ul li { margin-bottom: 10px; padding-left:13px; font-size:1.1em; font-weight:bold; background: url(arrow_red.png) no-repeat 0 0; }
    .forum-list li.item-box .col-2 ul li a { color:#353336; }
    
    /* forum list */
    .forum-list li.item-box .body dt { font-size:1.2em; font-weight:normal; }
    .forum-list li.item-box .body dd { font-size:1.1em; font-weight:normal; color:#a80330; padding:7px 0 0 10px; margin-bottom:10px; }
    .forum-list li.item-box .body dd a {  color:#a80330;}
    
    .posts-list li.item-box .col-1 { float:left; width:537px; border-right:1px solid #e2e2e3; position:relative; }
    .posts-list li.item-box .col-2 { float:right; width:146px; padding:0px; position:relative; }
    .posts-list li.item-box .col-1 .body { margin:0; padding:18px 10px 0; }
    .posts-list li.item-box .col-1 .body h2 { font-size:1.2em; }
    .forum-list li.item-box .col-2 ul li { background:none; padding:0px; font-weight:normal; }
    .posts-list li.item-box .col-2 .body { margin:0; padding:8px 10px 0 3px; }
    .forum-list li.item-box a.bottom-link { display:block; position:absolute; color:#a80330; text-decoration: underline; font-size:1.1em; right:10px; bottom:10px; }
    .forum-list li.item-box a.bottom-link:hover { text-decoration:none; }
    
    /* forum post-view */
    .posts-view li.item-box .body ul.share-ic li { float:left; margin: 0 3px 0 0; }
    .posts-view li.item-box  { background:url(forum2_fill.png) #ff0000 repeat-y; font-size:1px;}
    .posts-view li.item-box .inbox { height:auto; background:url(forum2_top.png) no-repeat top; font-size:10px; } 
    .posts-view li.item-box .in-inbox { height:auto; background:url(forum2_bottom.png) no-repeat bottom; }
    .posts-view li.item-box .col-1 { height:auto; border:none; width:546px; }
    .posts-view li.item-box .col-1 .body { padding:17px 15px 10px 17px; margin:0; }
    .posts-view li.item-box .col-2 { float:right;  padding-right:16px; width:113px; }
    
    /* forum responses */
    .forum-response { margin-top:15px; background:url(forum3_bg.png) repeat-y left;}
    .forum-response li.item-box { background:url("forum3_fill.png") repeat-y 0 0; margin-bottom:12px; font-size:0px; }
    .forum-response li.item-box .inbox { height:auto; background:url("forum3_top.png") no-repeat top; font-size:10px; }
    .forum-response li.begin .inbox { height:auto;background:url("forum3_begin.png") no-repeat top ;  }
    .forum-response li.item-box .in-inbox { height:auto; background:url("forum3_bottom.png") no-repeat bottom ;  }
    .forum-response li.end .in-inbox { height:auto; background:url("forum3_end.png") no-repeat bottom ;  }
    .forum-response li.item-box .col-1 { padding-left:45px; height:auto; border:none; width:129px; }
    .forum-response li.item-box .col-1 .body { margin:0px; padding:12px 0;  }
    .forum-response li.item-box .col-2 { height:auto; width:482px; }
    .forum-response li.item-box .col-2 .body { margin:0px; padding:14px 0px; }
    .forum-response .body h3 { font-weight:bolder; font-size:1.2em; color:#353336; margin-bottom:17px; }
    .forum-response .body p { font-size:1.2em; color:#737373; margin-bottom:12px; text-indent:20px; line-height:1.2; text-align:justify; }
    
/* ********** admin page **********/
.admin-page .main-block .in-inblock { padding:15px 19px; min-height:780px; }
.admin-page .head h1 { font-weight:normal; background:url(ico_admin.png) no-repeat 0 0; height:24px; padding-left:33px; padding-top:4px;}
.admin-page .main-block .in-inblock .body { padding:20px 69px; }
.admin-page .main-block .in-inblock .body p { color:#393740; font-size:1.2em; line-height:1.2em; text-align:justify; }
.admin-page .main-block .in-inblock .body .admin-frame { margin-top:25px; }