/*********************************************************************************************************************/
/***********************************                cssCalendar                ********************************************/
/*********************************************************************************************************************/

.calendar-table {
	width: 100%;
	padding: 1em;
	border: 1px solid #dcdcdc;
	background-color: #ffffff;
}

.calendar-table a {
	text-decoration: underline;
}

.calendar-table td, 
.calendar-table th {
	padding: 3px;
	text-align: center;
}

.calendar-table th {
	color: #333333;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
}

.calendar-table caption {
	color: #333333;
}

.linked_today {
	padding: 2px;
	color: #333333;
	background-color: transparent;
	cursor: pointer;
	text-decoration: underline;
	border: 1px solid #969696;
}

.linked_today_nolink {
	padding: 2px;
	color: #333333;
	background-color: transparent;
	text-decoration: none;
	border: 1px solid #969696;
}

.linked_day {
	padding: 2px;
	color: #FFFFFF;
	background-color: #969696;
	cursor: pointer;
	text-decoration: underline;
	border: 0;
}


/**************** List view CSS **********************/

.newsCalendar_listHeader {
	font-size: 1.5em;
	font-weight: bold;
	background-color: #c8bb89;
	color: #ffffff;
	border: 1px solid #c8bb89;
	padding: 0.5em;
}

.newsCalendar_listBody {
	padding: 1em;
}

.newsCalendar_listItem {
	font-size: 1em;
	padding-left: 1em;
}

.newsCalendar_listItemHeader {
	font-weight: bold;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
	font-size: 1.25em;
}

.bottomMonthLink {
	display: none;
}
