/*********************************************************************************************************************/
/***********************************                cssContextMenu                ********************************************/
/*********************************************************************************************************************/

.rcMenuContainer {
    font-family: Verdana, Arial;
    position: absolute;
    border: 0;
    background: #ffffff;
    padding: 2px;
    z-index: 10;
}

.rcMenuContainer .rcMenuItem {
    width: 200px;
    float: left;
    font-size: 11px;
    font-weight: normal;
    padding: 3px;
    text-decoration: none;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #969696;
}

.rcMenuContainer .rcMenuItemHover {
    width: 200px;
    float: left;
    font-size: 11px;
    font-weight: normal;
    padding: 3px;
    text-decoration: underline;
   /*background-color: #969696;
    color: #ffffff;*/
    border: 1px solid #969696;
}

.rcMenuItemText {
    font-size: 100%;
    font-weight: bold;
    border: 0px;
    padding: 2px;
    color: #FFFFFF;
    border: 0;
    background: #969696;
    text-align: center;
}

.rcMenuItemTextExt {
    font-size: 11px;
    font-weight: normal;
    border: 1px dotted gray;
    padding: 2px;
} 

.rcMenuSeparator{
    color: #969696;
    height: 1px;
    width: 200px;
}

.rcImage {
	padding-right: 4px; 
}

