/*********************************************************************************************************************/
/***********************************                  PRINT               ********************************************/
/*********************************************************************************************************************/

/*******************************************************************************/
/**********     GENERAL     ****************************************************/
/*******************************************************************************/

body {
	margin: 0;
	padding: 0;
	background: none;

}


/*******************************************************************************/
/**********     STRUCTURE DE BASE     ****************************************************/
/*******************************************************************************/

#global  {
	width: 700px;
	margin: 0 auto;
	background: none;
}

* html #global  {
	width: 700px;
	background:  none;
}

#gauche {
	display: none;
}

#milieu {
	float: left;
	width: 470px;
	margin: 0;
	padding: 0 10px 0 0;
	background-color: #ffffff;
}

#droite {
	float: left;
	width: 200px;
	margin: 0;
	padding: 0;
}

* html #droite {
	width: 200px;
}

#milieu-bas {
	display: none;
}

#milieu-bas ul {
	display: none;
}

#milieu-bas-footer {
	margin: 0;
	padding: 15px 0 0 5px;
	text-align: center;
	background: transparent url(footer-bg-noombre.gif) no-repeat scroll right top;
}

#footer {
	display: none;
}

.left {
	float: left;
}

/*******************************************************************************/
/**********     GAUCHE     ****************************************************/
/*******************************************************************************/

#gauche-haut {
	/*position: relative;
	margin: 0;
	padding: 0 10px 0 20px;
	width: 189px;
	float: left;
	height: 174px;
	background: none;
	*/
	display: none;
}

#gauche-haut form { 
	display: none;
}

#gauche-haut #accroche {
	display: none;
}

#gauche-milieu {
	display: none;
}


/*******************************************************************************/
/**********     MILIEU     ****************************************************/
/*******************************************************************************/

#milieu-haut {
	display: block;
	width: 445px;
	height: 130px;
	margin: 0;
	padding: 0;
	float: none;
} 

#milieu-haut img{
	display: none;
} 
#milieu-haut .logo-print {
	display: block;
}

#milieu-haut .logo-print img{
	display: block;
	float: left;
}

#milieu-haut .titre_rubrique {
	position: relative;
	clear: both;
	text-align: left;
	top: 0;
	left: 0;
}

#milieu-haut .titre_rubrique p {
	position: relative;
	top: 0;
	left: 0;
	color: #000000;
	margin-left: 15px;
}

#milieu-haut #menu_haut {
	display: none;
}

* html #milieu-haut .titre_rubrique p {
	top: 0;
}

* + html #milieu-haut .titre_rubrique p {
	top: 0;
}


#milieu-milieu {
	float: none;
	background-color: #ffffff;
	padding: 0px 0px 15px 0px;
	width: 445px;
}

* html #milieu-milieu {
	margin-top: 10px;
	padding-right: 0;
}

*+ html #milieu-milieu {
	margin-top: 10px;
}

#milieu-milieu .milieu-contenu-normal {
	width: 440px;
	float: none;
}

#milieu-milieu .contenu dt img {
	float: none;
}

#milieu-milieu .contenu .contenu-bloc1 {
	background-color: #f4f4f4;
}

#milieu-milieu .contenu .contenu-bloc1, 
#milieu-milieu .contenu .contenu-bloc2 {
	margin: 0 0 20px 0;
	padding: 10px;
}

.milieu-cadre-grand {
	float: left;
	margin: 0px 0 0 15px;
	padding-left: 0;
}

* html .milieu-cadre-grand {
	margin: 0px 0 0 9px;
	padding-left: 0;
}

.milieu-cadre-grand .dossier-illustration {
	float: left;
	margin: 10px 10px 0 0;
	width: 137px;
}

.milieu-cadre-grand .dossier-illustration p {
	float: left;
}

#milieu-milieu .actu_une_dossiers h3{
	padding: 1px 0 0 0;
	
}

.actu_une_dossiers td {
	margin: 0;
	padding: 0 10px 0 0;
}

.cadre-haut-grand {
	width: 442px;
	float: left;
	height: 3px;
	margin: 0;
	padding: 0;
}

.cadre-milieu-grand {
	width: 442px;
	float: left;
	border: none;
	padding: 12px 0 12px 0;
	margin: 0;
}

.cadre-bas-grand {
	width: 442px;
	float: left;
	height: 3px;
	background: transparent url(bg_hr.gif.1) repeat-x scroll left bottom;
	margin: 0;
	padding: 0;
}

.milieu-cadre-petit {
	float: left;
	width: 202px;
	margin: 10px 0 0 0;
	padding-left: 8px;
}

.gauche {
	float: left;
	width: 202px;
	margin: 10px 7px 0 4px;
}

* html .gauche {
	width: 202px;
	margin: 10px 2px 0 3px;
}

.cadre-haut-petit {
	width: 202px;
	float: left;
	height: 13px;
}

* html .cadre-haut-petit {
	margin: 0 0 -1px 0;
}

.cadre-milieu-petit {
	width: 188px;
	float: left;
	border: none;
	padding: 5px 16px;
}

.cadre-milieu-petit h2{
	margin: 0;
	padding: 0;
}

.cadre-bas-petit {
	width: 202px;
	float: left;
	height: 3px;
}

#milieu-bas {
	float: left;
	text-align: right;
	width: 447px;
	padding: 2px 0px 30px 10px;
}

* html #milieu-bas {
	width: 400px;
}


/*******************************************************************************/
/**********     DROITE     ****************************************************/
/*******************************************************************************/

#droite-haut {
	display: block;
	background: none;
	padding: 0;
	margin: 0;
	height: 130px;
	float: none;
}

#droite-haut h2{
	margin: 0;
	padding: 90px 0 0 0;
	color: #000000;
}

#droite-haut img{
	display: none;
}

#droite-milieu {
	padding: 5px 0px 10px 0px;
	float: left;
	width: 195px;
	margin: 25px 0 40px 0;
	float: none;
}

#droite-milieu .bloc-droite {
	width: 190px;
	padding: 0;
	margin: 0;
}

.bloc-note .bloc-note-haut {
	float: left;
	margin: 0;
	padding: 0;
	height: 134px;
	width: 200px;
}

* +html .bloc-note .bloc-note-haut {
	height: 140px;
}

.bloc-note .bloc-note-bas {
	float: left;
	margin: 0;
	padding: 0px 0 0 0;
	width: 200px;
}

* html .bloc-note .bloc-note-bas {
	float: left;
	margin: 0px 0 0 0;
	padding: 0;
	width: 200px;
}

.hr_dotted_style {
	height: 28px;
	clear: both;
}

#milieu-milieu .contenu .nav_lvl4 {
	width: 450px;
	list-style-type: none;
	float: left;
	padding-top: 10px;
	margin-left: 15px;
	background: #ffffff url(bg_hr.gif.1) repeat-x scroll left top;
}

* html #milieu-milieu .contenu .nav_lvl4 {
	margin-left: 7px;
}

#milieu-milieu .contenu .nav_lvl4 ul {
	width: 450px;
	list-style-type: none;
	float: left;
	margin: 0 0 15px 0;
	padding: 2px 0 15px 0px;
	background: transparent url(bg_hr.gif.1) repeat-x scroll left bottom;
}

#milieu-milieu .contenu .nav_lvl4 ul li {
        float: left;
	width: 192px;
	padding: 0 10px 0 12px;
	background: url("bg_puce_lvl4.gif") no-repeat 0 4px;
	margin: 4px 3px;
}

* html #milieu-milieu .contenu .nav_lvl4 ul li {
	width: 192px;
}

.commentaire_elu {
	clear: both;
	background: transparent url(bg_hr.gif.1) repeat-x scroll left bottom;
}

.eeluscanton_recherche {
	display: none;
}

.pas-manquer, 
.actu_une {
	width: 445px;
}



