/******************************************************************************/
/*              	CSS Extension DropDownSiteMap			      */
/******************************************************************************/

#milieu-milieu .tx-dropdownsitemap-pi1 img {
	border: 0;
	vertical-align: middle;
	margin-right: 6px;
}

#milieu-milieu .tx-dropdownsitemap-pi1 ul,
#milieu-milieu .tx-dropdownsitemap-pi1 ol {
	list-style: none;
	margin: 0px;
  	padding: 0px;
}

#milieu-milieu .tx-dropdownsitemap-pi1 a,
#milieu-milieu .tx-dropdownsitemap-pi1 a:link,
#milieu-milieu .tx-dropdownsitemap-pi1 a:visited,
#milieu-milieu .tx-dropdownsitemap-pi1 a:hover,
#milieu-milieu .tx-dropdownsitemap-pi1 a:active {
	color: #333333;
  	background-color: inherit;
	font-family: Arial,Helvetica,Verdana,sans-serif,"Courier New";
	font-size: 1.2em;
}

#milieu-milieu .tx-dropdownsitemap-pi1 div {
	margin-left: 20px;
	margin-top: 2px;
	padding: 2px;
}

#milieu-milieu .tx-dropdownsitemap-pi1 li {
	background: none;
}

#milieu-milieu .tx-dropdownsitemap-pi1 li.open ol {
	display: block;
}

#milieu-milieu .tx-dropdownsitemap-pi1 li.closed ol {
	display: none;
}

#milieu-milieu .tx-dropdownsitemap-pi1 li.open ul {
	display: block;
}

#milieu-milieu .tx-dropdownsitemap-pi1 li.closed ul {
	display: none;
}

#milieu-milieu .tx-dropdownsitemap-pi1 span.ifsub {
	font-weight: normal;
	text-transform: inherit;
}

#milieu-milieu .tx-dropdownsitemap-pi1 span.spc {
	text-transform: uppercase;
	font-style: italic;
}

#milieu-milieu .tx-dropdownsitemap-pi1 .description {
	font-style: italic;
	font-size: 80%;
	margin-left: 5px;
}

#milieu-milieu .tx-dropdownsitemap-pi1 div.level_2 a {
	color: #333333;
	font-size: 1.1em;
	font-weight: normal;
}

#milieu-milieu .tx-dropdownsitemap-pi1 div.expAll {
	color: inherit;
	padding: 15px;
}

#milieu-milieu .tx-dropdownsitemap-pi1 img{
	margin-right: 5px;
}


