@charset "utf-8";
/* CSS Document */
#vigilanceSmall img{
	border:0px;
}

#vigilanceBig img{
	border:0px;
}

 .vigilanceTitre{
	background-image: url(popIn_titre_vigilance.png);
	background-repeat: no-repeat;
	background-position: left;
	background-color:#b2cfde;
	height:33px;
	line-height:30px;
	padding: 0px 0 0 15px;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #333;
}

.vigilanceNiveau{
	text-decoration:none;
	color:black;
}

.vigilanceNiveau:hover{
	text-decoration:underline;
}

 #vigilanceSmall .acces a{
	display:block;
	background-image: url(popIn_acces_site.png);
	background-repeat: no-repeat;
	background-position: left;
	height:37px;
	line-height:30px;
	width:191px;
	padding: 0 0 0 0;
	margin:0px;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFF;
	text-decoration:none;
	border:0px;
	background-color:#b2cfde;
}
#vigilanceSmall .acces a:hover{
	color: #333;
}
#vigilanceSmall .picto{
	background-image: url(popIn_niveau_picto.png);
	background-repeat: no-repeat;
	background-position: left;
	height:37px;
	width:36px;
	padding: 0 0 0 0;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFF;
}

#vigilanceSmall .niveau{
	background-image: url(popIn_niveau.png);
	background-repeat: no-repeat;
	background-position: left;
	height:37px;
	width:133px;
	line-height:30px;
	padding: 0 0 0 0;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#vigilanceBig .niveau{
	background-image: url(popIn_niveau.png.1);
	background-repeat: no-repeat;
	background-position: left;
	padding: 0 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size:14px;
}
#vigilanceBig .color{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size:14px;
	color:#ff7a00;
}
#vigilanceBig{
	font-family: Arial, Helvetica, sans-serif;
	height:191px;
}
#vigilanceBig .info{
	background-image: url(popIn_information.png);
	background-repeat: no-repeat;
	background-position: left;
		
}
#vigilanceBig .info h1{
	font-size:13px;
	margin:0;
	padding: 28px 10px 10px 10px;
	color:#C00;
}
#vigilanceBig .info p{
	font-size:11px;
	margin:0;
	padding: 0 10px;
}
#vigilanceBig .acces a{
	display:block;
	background-image: url(popIn_acces_site.png.1);
	background-repeat: no-repeat;
	background-position: left;
	height:46px;
	line-height : 30px;
	width:202px;
	padding: 0 0 0 0;
	font-size:14px;
	font-weight: bold;
	color: #FFF;
	text-decoration:none;
	border:0px;
	background-color:#b2cfde;
}
#vigilanceBig .acces a:hover{
	color: #333;
}