body{
background:#FAF8F4 url(fond.gif) repeat-x;
margin:0px;
padding:0px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: #326496;
SCROLLBAR-FACE-COLOR: #EBEBEB; SCROLLBAR-HIGHLIGHT-COLOR: #EBEBEB; SCROLLBAR-SHADOW-COLOR: #4A7EAE; SCROLLBAR-3DLIGHT-COLOR: #FFFFFF; SCROLLBAR-ARROW-COLOR:  #193D6F; SCROLLBAR-TRACK-COLOR: #FAF8F4; SCROLLBAR-DARKSHADOW-COLOR: #5A4F41;}


.fond {
	background-image:    url(chambre.gif);
	background-repeat: repeat-x;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;

}
.courant {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #326496;

}
.grasbleu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #477AAD;

}
#actu_eco a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #AA0000;
	text-decoration: none;

}
#actu_eco  a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #477AAD;
	text-decoration: none;
}
#actu_eco  a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #AA0000;
	text-decoration: none;
}

#nav a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #477AAD;
	text-decoration: none;
	line-height:10px;

}
#nav a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #AA0000;
	line-height:10px;
	text-decoration: none;
}
#nav a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #326496;
	line-height:10px;
	text-decoration: none;
}

a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #477AAD;
	text-decoration: none;

}
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #AA0000;
	text-decoration: underline;
}
a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #326496;
	text-decoration: none;
}
.grasroug {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #AB0000;
}
.petit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;

}
.border {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #A3C3DC;
	border-right-color: #326496;
	border-bottom-color: #326496;
	border-left-color: #A3C3DC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #FFFFFF;
	color: #30658F;


}
.courantj {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: justify;
	color: #326496;


}
.sstitre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #326496;


}
.titre {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #5894C7;
}
.titrouge {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #AC0D0D;
}
.stage {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #6F92B5;
	color: #FFFFFF;
	border: 1px solid #98B1CA;
	font-weight: bold;


}
.sstitrejaune {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #F4F0D9;
}
.grostitre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #5894C7;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FAF8F4;
	border-right-color: #FAF8F4;
	border-bottom-color: #7EA6C5;
	border-left-color: #FAF8F4;
	list-style-type: none;
	font-weight: bold;



}
.grasblanc {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.courantbleu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3A658F;

}
.titreblue {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #326496;
}
.legende {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
	font-weight: bold;


}
.puce {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #AA0303;

}
.grogris {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #666666;

}
.bordgris {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #326496;
	background-color: #FAF8F4;
	border: 1px solid #E5E4E0;
}
.zoom {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #AA0303;
	border-right-color: #55172B;
	border-bottom-color: #55172B;
	border-left-color: #AA0303;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #FFFFFF;
	color: #666666;

}
.tablo {

	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E0DFDE;
	border-right-color: #BCBAB8;
	border-bottom-color: #BCBAB8;
	border-left-color: #E0DFDE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #F5F5F5;
	color: #30658F;
}
.tablo1 {


	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E0D5C5;
	border-right-color: #93774F;
	border-bottom-color: #93774F;
	border-left-color: #E0D5C5;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #EEEAE4;
	color: #30658F;
}
 
  .tabover{
	background-color:#F3F2EE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
  .tabnormal2{
	background-color:#E7E6E2;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
  .tabnormal1{
	background-color:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
  
.tablo2 {



	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #C0DAEF;
	border-right-color: #4178A5;
	border-bottom-color: #4178A5;
	border-left-color: #C0DAEF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #ECF6FF;
	color: #30658F;
}
.fondnuages {
	background-image: url(chambre.gif.1);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #326496;

}
.petitbleu {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #326496;
}
.gras {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #326496;
}
.petitblc {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}
.petitroug {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #AB0000;
}
.gris {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #666666;
}
.grostitres {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #000000;
	border-left-color: #FFFFFF;
	list-style-type: none;
}
.boldbleu {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #5894C7;
}
.cote {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #326496;
	background-color: #FFFFFF;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #98B1CA;
	border-left-color: #98B1CA;
	border-right-width: 1px;
	border-left-width: 1px;
}
.cotes {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #316499;
	background-color: #94B5D0;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #195A8F;
	border-left-color: #195A8F;
	border-right-width: 1px;
	border-left-width: 1px;
}
.prix {


	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #FFFFFF;
}
.sommaire {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #FFFFFF;
}
.courantblc {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.piti {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
	line-height: 9px;

}
.puces {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #326496;
}
.grostitred {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #AC0D0D;
}
.actutab {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #FFFFFF;
	color: #30658F;
	background-image: url(fond_tab.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	border: 1px solid #B5B5B5;

}
.courantgris {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}
.courantred {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #AC0D0D;
}

.filet_or {border-left:4px #E96E24 solid;padding:0 0 0 15px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: #323232;}
.fileblc {border-bottom:1px #FFF solid;padding:0 0 2px 0;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: #FFF;}
.fileblc a {color: #FFF;text-decoration:none;}
.fileblc a:hover, .fileblc a:visited {color: #FFF;text-decoration:none;}
