ul#nav, ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;

}
ul#nav li {
	position: relative;
	width:100%;
	float:left;
	clear:left;
}

#nav li ul {
	position: absolute;
	top: -15px;
/* SL - layer archive position haut */
	margin-left:-999em;
	min-height:0;
}
/* Styles for Menu Items */
ul#nav li a {
	display:block;
	padding:0 5px;
/*	width:138px; */
}
* html ul#nav a {
	width:100%;
	w\idth:100%;
}

/* this sets all hovered lists to red */
#nav li:hover a,#nav li.over a,
#nav li:hover li a:hover,#nav li.over li a:hover {
   color: #000000;
   /*background-color: #FFCC00;*/
}

/* set dropdown to default */
#nav li:hover li a,#nav li.over li a {
    color: #777;
  /* background-color: #ffffcc; */
}
#nav li ul li a {
} /* Sub Menu Styles */
#nav li:hover ul,#nav li.over ul {
	margin-left:100px;
	margin-top: 14px;
}
#sub-nav {
	border: 1px solid #666666;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	background-color: #FFF5F0;
	width: 400;
/* SL - layer archive	width */

}

#sub-nav li a:link {
	font-size: 10px;
	line-height: 12px;
	color: #000000;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FF6600;
	padding-top: 2px;


}
#sub-nav li a:hover {
	/*background-color: #FFCC00;*/
}

.epresse {
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #FF6600;
	padding: 5px;


}
.epresse p {
	margin: 0px;
	padding: 0px;
}

/* SL - NEWSLETTER */
.newsletter {
	margin: 0px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	border: 1px solid #FCD103;
}
.newsletter p {
	margin: 0px;
	padding: 0px;
}
.newsletterFormText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: right;
	padding-right: 5px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
}

.newsletterFormText2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #999999;
}

#m {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #999999;
}


.newsletterFormTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: left;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #666666;
	border: 1px solid #999999;
	background-color: #FCD103;
}
.newsletterBoutonL {
	padding-top: 2px;
	padding-bottom: 2px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}

.newsletterBoutonR {
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}
.newsletterLine {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}
.newsletterBoutonR input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	background-color: #FCD103;
	text-align: center;
	border: 1px solid #999999;
	color: #666666;
}
#m input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #E9E9E9;
	border: 1px solid #CCCCCC;
}
