
#recherche{
/*border: solid 1px #999;*/
margin-bottom:10px;
font-size:11px;
}
.ImageAvisDeces{
	display:block;
	padding:2px;
	border:10px solid #3a67bf;
}
.NomAvisDeces{
font-family: Arial, Helvetica, sans-serif;
color: #4d4d4d;
font-size: 12px;
text-transform:uppercase;
font-weight:bold;
}
.legende{
	font-family: Arial, Helvetica, sans-serif;
	color: #6a94e1;
	font-size: 12px;
}
#recherche caption{
	font-family: Arial, Helvetica, sans-serif;
	color: #4d4d4d;
	font-size: 14px;
	font-weight:bolder;
	text-align:left;
	text-transform:uppercase;
}
.avisOver{
background-color:#FFFFFF;
color:#4d4d4d;
}
.avisodd{
background-color:#a4bde5;
color:#4d4d4d;
}
.curseur{
cursor:pointer;
text-decoration:underline;
}

.listedesavistable{
background-color:#c8d3e4;
border-left:solid 1px #ffffff;
border-top:solid 1px #ffffff;
border-right:solid 1px #ffffff;
}

#listeAvis th{
height:10px;
text-align:center;
background-color:#FFFFFF;
color:#4d4d4d;
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
display:none;
}
#IDlistedesavistable td{
height:25px;
padding:5px;
}
.listeAvistr{
border-bottom:solid 1px #ffffff;
}

/*-----------------------*/

.TabbedPanels {
	margin: 0px;
	padding: 0px;
	float: left;
	clear: none;
	width: 100%; /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
}

.TabbedPanelsTabGroup {
	margin: 0px;
	padding: 0px;
}

#TabbedPanels1 ul{
margin:0;
padding:0;
list-style-position: inside;
}
	
#TabbedPanels1 li{
margin:0;
padding:0px 3px 1px 0px;
}

.TabbedPanelsTab {
padding:0px;
margin:0px;
position: relative;
float: left;
list-style: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
	height:20px;
}

.TabbedPanelsContentGroup {
	position: relative;
	display:block;
	clear: both;
	padding:0;
	margin:0;
	/*border-left: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
*/}

.TabbedPanelsContent {
padding:4px;
}


#messageDiv{
display:none;
}
#suggestions{
width:400px;
/*
height:250px;
overflow:auto;*/
border:#CCCCCC solid 1px;
cursor:pointer;
background-color:#FFFFFF;
}
.titreChoix{
height:20px;
color:#FFFFFF;
background-color:#A1BAE2;
border:#CCCCCC solid 1px;
	font-family: Arial, Helvetica, sans-serif;
	color: #4d4d4d;
	font-size: 14px;
	font-weight:bolder;
}
#suggestion1{
padding:10px;
margin:0px;
}
#suggestion2{
margin:0px;
padding:10px;
cursor:pointer;
}
#suggestion3{
margin:0px;
padding:10px;
cursor:pointer;
}
.suggestionChoisie{
background-color:#DDEEFF;
/*#DDEEFF;B8F5B1*/
}
.suggestionsNonChoisie{
background-color:#FFFFFF;
}
.texteBleuGras{
	color:#6a94e1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	
}

