fon@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
}
body {
	margin: 0px;
	padding: 0px;
}
img{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
iframe{
	overflow: hidden;
	display: block;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.imframe{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	overflow: hidden;
	display: block;
}

#Navigation-Header,#NavigationHeader {
	position: fixed;
	top: 0;
	z-index: 100;
	background-image: url(header-bg.png);
	background-repeat: repeat-x;
	background-position: center top;
	width: 100%;
	height: 165px;
}
#container_entete {
	position: relative;
	z-index: 5;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	width: 960px;
	height: auto;
	text-align: center;
}
#logoBioparc {
	background-image: url(logoentete.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	display: block;
	height: 135px;
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
	text-align: center;
}
.menu-haut {
	padding: 0px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
	display: block;
	width: 960px;
	height: auto;
	background-color: transparent;
	text-align: center;
}
#menu-secondaire {
	width: 960px;
	height: auto;
	position: absolute;
	margin-top: -21px;
	clear: both;
}
#menu-secondaire ul {
	width: 650px;
	height: 20px;
	position: relative;
	margin-top: 0px;
	text-align: center;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	list-style-type: none;
}
#menu-secondaire ul li {
	-moz-border-radius: 2px 2px 0px 0px;
	float: left;
	width: auto;
	background-color: #f69810;
	margin-right: 1px;
	list-style-type: none;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	padding-right: 0px;
	padding-left: 0px;
	text-transform: uppercase;
	margin-left: 1px;
}
#menu-secondaire ul li a {
	-moz-border-radius: 2px 2px 0px 0px;
	background-color: #f69810;
	list-style-type: none;
	text-decoration: none;
	color: #FFF;
	height: auto;
	width: auto;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0px;
}
#menu-secondaire ul li a:hover {
	-moz-border-radius: 2px 2px 0px 0px;
	text-decoration: none;
	background-image: url(care.png);
	background-repeat: repeat;
}
.fond-blanc {
	background-color: #FFF;
	display: block;
	margin: 0px;
	min-height:500px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}
#contenair {
	height: auto;
	width: 960px;
	position: relative;
	margin-top: 500px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display: block;
	visibility: visible;
	background-color: #FFF;
	background-image: none;
	bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#content {
	width: 650px;
	position: relative;
	text-align: left;
	display: block;
	height: auto;
	padding: 0px;
	float: left;
	bottom: 0px;
	background-color: #FFF;
	left: 20px;
	top: 40px;
	background-image: url(pointille.gif);
	background-repeat: repeat-y;
	background-position: center center;
}
.colonne-G {
	display: block;
	width: 303px;
	padding-right: 20px;
	height: auto;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	float: left;
	position: relative;
	background-color: #FFF;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.colonne-G p {
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: 16px;
	color: #3a3a3c;
}
.colonne-G h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: normal;
	text-transform: uppercase;
	color: #51ae31;
	text-decoration: none;
	font-weight: normal;
	margin-bottom: 20px;
}
.colonne-G h2 {
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: 16px;
	color: #3a3a3c;
	font-weight: bold;
}
.colonne-actualites {
	float: left;
	display: block;
	width: 303px;
	padding-left: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	background-color: transparent;
	position: relative;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	line-height: 16px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.logo-rss {
	float: right;
	display: block;
	position: relative;
	height: 67px;
	width: 117px;
	padding: 0px;
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.colonne-D {
	margin-bottom: 50px;
	background-color: #FFF;
	display: block;
}
.colonne-D h1 {
	font-size: 20px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: normal;
	color: #e75600;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: -10px;
}
.colonne-D p {
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: 16px;
	color: #3a3a3c;
}
#sidebar {
	height: auto;
	width: 248px;
	background-color: transparent;
	margin-top: 40px;
	margin-right: 20px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	color: #000;
	text-align: left;
	display: block;
	margin-bottom: 40px;
	position: relative;
	float: right;
}
.logo-sidebar {
	height: auto;
	margin-bottom: 20px;
	width: 250px;
	float: right;
	position: relative;
	text-align: left;
}
#wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	background-attachment: fixed;
	background-image: url(body-bg.jpg);
	background-repeat: repeat-x;
	background-position: center 600px;
}
/*Footer*/

#masse-gris {
	background-color: #CCC;
	width: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	position: relative;
	height: 20px;
	border-bottom-width: thick;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	clear: both;
	bottom: 0px;
}
.footer {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #FFF;
	background-color: #527b2e;
	width: 920px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: 20px;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-right: 20px;
	padding-left: 20px;
	position: relative;
	display: block;
	clear: both;
	bottom: 0px;
}
.footer p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #FFF;
	display: block;
	float: left;
}
.logo-Audace a, .logo-AudaceC a:visited {
	background-image: url(logo-audace.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 12px;
	width: 60px;
	display: block;
	float: right;
}
.logo-Audace a:hover, .logo-Audace a:active {
	background-image: url(logo-audaceHover.png);
	background-position: center top;
	background-repeat: no-repeat;
}
.feuille-G {
	display: block;
	height: 103px;
	width: 104px;
	position: absolute;
	background-image: url(feuille-G.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0px;
	padding: 0px;
	top: -67px;
	left: -104px;
}
.feuille-D {
	display: block;
	height: 103px;
	width: 104px;
	position: absolute;
	background-color: transparent;
	margin-top: -75px;
	right: -104px;
	background-image: url(feuille-D.png);
	background-repeat: no-repeat;
	background-position: center top;
}
/*Footer IE*/

/**html .feuille-D {
	display: block;
	height: 103px;
	width: 104px;
	position: absolute;
	background-color: transparent;
	right: -104px;
	background-image: url(../images/feuille-D.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: -98px;
}*/
/*Images de fond*/
#background {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height:auto;
}
#background div {
	background:url(http://www.bioparc.ca/_ui/images/bg/degradePhoto.png) repeat-x;
	height: 40px;
	width: 100%;
	position: absolute;
	bottom:0;
}
#background img {
	width: 100%;
	height: auto;
	min-width: 815px;
}
/*/////////////////////////////
  ////////              ////////
 ////////  CSS DEFAULT ////////
////////              ////////
/////////////////////////////*/


#sidebar-menu {
	border-right-width: 2px;
	border-right-style: dotted;
	border-right-color: #666;
	background-color: #EDEDED;
	float: left;
	margin: 0px;
	width: 150px;
	padding: 0px;
	clear: both;
}
#sidebar-menu a {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	color: #51ae31;
	text-decoration: none;
	font-weight: bold;
	display: block;
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	padding: 0px;
}
#sidebar-menu a:hover {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	background-color: #ffc002;
	background-image: url(flesh-PointeG.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding: 0px;
}
.content-default {
	background-color: transparent;
	width: 920px;
	margin-top: 40px;
	margin-bottom: 100px;
	display: block;
	float: right;
	margin-right: 20px;
}
.colonne-images {
	float: right;
	width: 304px;
	margin-bottom: 50px;
	text-align: center;
	height: 100%;
	margin-top: 35px;
	background-color: transparent;
	display: block;
}
.BoiteTextes {
	float: left;
	background-color: transparent;
	width: 310px;
	padding-right: 10px;
}
.BoiteTextes h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: normal;
	font-weight: bold;
	color: #51ae31;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.BoiteTextes p {
	font-size: 14px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: 20px;
	color: #3a3a3c;
}
.BoiteTextesGeneral {
	float: left;
	background-color: #FFF;
	width: 590px;
	padding-right: 10px;
	margin-bottom: 20px;
}
.BoiteTextesGeneral h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: normal;
	font-weight: bold;
	color: #e75600;
	text-transform: uppercase;
}
.BoiteTextesGeneral p {
	font-size: 14px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: 20px;
	color: #3a3a3c;
}
.BoiteTextesGeneral a, .BoiteTextesGeneral a:link {
	color: #000;
	text-decoration: underline;
	font-weight: bold;
}
.BoiteTextesGeneral a:visited{
	color: #666;
	text-decoration: none;
}
.BoiteTextesGeneral a:hover {
	color: #333;
	text-decoration: none;
}


/*/////////////////////////////
  ////////              ////////
 ////////  Bioparc04   ////////
////////              ////////
/////////////////////////////*/
.TextesBioparc04 {
	background-color: transparent;
	width: 100%;
	float: left;
}
.TextesBioparc04 h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: normal;
	text-transform: uppercase;
	color: #e75600;
	text-decoration: none;
	font-weight: bold;
	margin-bottom: 20px;
	display: block;
	margin-left: 0px;
}
.TextesBioparc04 p {
	font-size: 14px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: 20px;
	color: #3a3a3c;
}
.TextesBioparc04 a, .TextesBioparc04 a:link {
	color: #000;
	text-decoration: underline;
	font-weight: bold;
}
.TextesBioparc04 a:visited{
	color: #666;
	text-decoration: none;
}
.TextesBioparc04 a:hover {
	color: #333;
	text-decoration: none;
}


/*/////////////////////////////
  ////////              ////////
 //////  Menu Secondaire  //////
////////              ////////
/////////////////////////////*/

.base-menuSecondaire {
	position:absolute;
	text-align:center;
	width: 960px;
	height: auto;
	z-index: 50;
	background-color: transparent;
	margin-top: -34px;
}

/* container UL start here */


ul.menu {
	position : relative;
	list-style-type : none;
	padding : 0;
	bottom : 0;
	font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size : 11px;
	display: block;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 55px;
	width: 900px;
	text-align: center;
	top: 0px;
	left: 0px;
}
ul.menu a, ul.menu a:hover {
	text-decoration:none;
	font-size : .8em;
}
/* define LI tags */
ul.menu li.level-one,
ul.menu li.has-submenu,
ul.menu li.active {
	position : relative;
	float : left;
	line-height : 25px;
	background-repeat : no-repeat;
	background-image : url(li-right.png);
	background-position : right top;
	margin-right: 2px;
}
ul.menu li.has-submenu {
	background-image : url(li-right-arrow.png);
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
ul.menu li.active {
	background-position : right bottom;
}

/* define all tags A in LI */
ul.menu li.level-one a {
	line-height : 25px;
	display : block;
	float : left;
	color : #FFF;
	background-image : url(li-left.png);
	background-repeat : no-repeat;
	background-position : left top;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	background-color: transparent;
	padding-top: 9px;
	padding-right: 15px;
	padding-bottom: 0;
	padding-left: 15px;
}
ul.menu li.active a {
	color : #414141;
	background-position : left bottom;
	padding-top: 3px;
	padding-right: 15px;
	padding-bottom: 3px;
	padding-left: 15px;
}
ul.menu li.has-submenu a {
	padding-right : 25px;
	color: #FFF;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 25px;
	font-weight: bold;
	text-transform: uppercase;
}
/* on mouse hover, display background center for first level LI */
ul.menu li.level-one:hover {
	background-position : right center;
	color:black;
	margin-bottom: 0px;
}

ul.menu li.level-one:hover a {
	padding-top : 2px;
	padding-bottom : 4px;
	margin-bottom: 0px;
}
/* on mouse hover, display background center for first level A */
ul.menu li.level-one:hover a {
	background-position : left center;
	margin-bottom: 0px;
}
/* define UL submenu in first level LI */
ul.menu li.level-one ul {
	display : none;
	position : absolute;
	top : 31px;
	left : 0;
	width : 190px;
	list-style-type : none;
	padding : 5px 0 0;
	margin : 0;
	background-image : url(ul-top.png);
	background-repeat : no-repeat;
	background-position : left top;
}
/* delete inherited properties for next level LI */
ul.menu li.level-one li {
	display : block;
	float : none;
	padding : 0 !important ;
	margin : 0 !important ;
	line-height : 21px;
	background-image : none;
}
ul.menu li.level-one li a {
	line-height : 21px;
	padding : 0 10px !important;
	margin : 0 1px;
	width : 100%;
	display : block;
	float : none;
	background-image : none;
	background-color : transparent;
	color:white;
	font-size: 12px;
	text-transform: none;
	text-align: left;
}
ul.menu li.level-one ul li a:hover {
	background-color : #afaeab;
	font-size: 12px;
	text-transform: none;
}
ul.menu li.level-one ul li.separator,
ul.menu li.level-one ul li.separator:hover {
	background-image : url(separator.png);
	background-position : left;
	background-repeat : repeat-x;
	background-color : transparent;
	height : 2px !important;
	line-height : 2px !important;
	padding : 0 !important;
	margin : 1px 5px 0 !important;
	font-size : 0;
}

ul.menu li.level-one ul li.bottom-menu,
ul.menu li.level-one ul li.bottom-menu:hover {
	background-image : url(ul-bottom.png);
	background-position : left bottom;
	background-repeat : no-repeat;
	background-color : transparent;
	height : 5px !important;
	line-height : 5px !important;
	padding : 0 !important;
	margin : 0 !important;
	font-size : 0;
}
/* add properties for "standard" browsers (not IE6) */
ul.menu li.level-one ul li > a {
	display : block;
	width : auto;
}
/* on mouse hover, show sub menu UL */
ul.menu li.level-one:hover ul {
	display : block;
}
