body,td,th 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

BODY
{
	background-color: #ffffff;
	SCROLLBAR-FACE-COLOR: #C3D7F1;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #000000;
	SCROLLBAR-3DLIGHT-COLOR: #000000;
	SCROLLBAR-ARROW-COLOR: #000000;
	SCROLLBAR-TRACK-COLOR: #013983;
	SCROLLBAR-DARKSHADOW-COLOR: #000000;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;


	list-style-image: url(fleche_orange.gif);
}
a:link 
{
	color: #122D6B;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
a:visited 
{
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: 122D6B;
}
a:hover 
{
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: underline;	
	color: #4E74A3;
}
a:active 
{
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: 000000;
}
input 
{  
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; border-style: 1px
}


.Style1 {
	font-size: 15px;
	font-weight: bold;
}
.Style3 {color: #C10000}
.Style4 {color: #000000}
.Style5 {
	color: #FFFFFF;
	font-weight: bold;
}
.Style6 {color: #000000}
.Style7 {font-size: 12px}
.Style8 {
font-size: 10px;
color: #0F4689;
}


.TITRE {color: #194F92; font-weight: bold;	font-size: 18px; text-align:left}
.TITRE1 {color: #FF4200; font-weight: bold;	font-size: 18px; text-align:left}
.TITRE2 {color: #DCD007; font-weight: bold;	font-size: 18px; text-align:left}
.TITRE3 {color: #14A914; font-weight: bold;	font-size: 18px; text-align:left}
.TITRE4 {color: #1A9C76; font-weight: bold;	font-size: 18px; text-align:left}
.TITRE5 {color: #57A2BD; font-weight: bold;	font-size: 18px; text-align:left}
.TITRE6 {color: #9B2061; font-weight: bold;	font-size: 18px; text-align:left}
.TITRE7 {color: #003399; font-weight: bold;	font-size: 18px; text-align:left}
.TITRE8 {color: #EC2013; font-weight: bold;	font-size: 18px; text-align:left}
.TITRE9 {color: #D26F2D; font-weight: bold;	font-size: 18px; text-align:left}
.TITRE_CULTURE {color: 24AD96; font-weight: bold;	font-size: 18px; text-align:left}

.TEXTE {color: #000000;	font-size: 12px; text-align:justify}


.FOND{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#194F92,endcolorstr=#C1CFE1);}
.FOND1{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#FF4200,endcolorstr=#FAD5BB);}
.FOND2{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#DCD007,endcolorstr=#FFF7C9);}
.FOND3{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#B3E4A0,endcolorstr=#3BAF0D);}
.FOND4{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#1A9C76,endcolorstr=#A0E4D0);}
.FOND5{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#0DADAF,endcolorstr=#BDEAEB);}
.FOND6{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#77209B,endcolorstr=#DDBDEB);}
.FOND_CULTURE{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#A5E6DB,endcolorstr=#38C0AA);}



.DEG{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#194F92,endcolorstr=#FFFFFF);}
.DEG1{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#FF4200,endcolorstr=#FFFFFF);}
.DEG2{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#DCD007,endcolorstr=#FFFFFF);}
.DEG3{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#B3E4A0,endcolorstr=#FFFFFF);}
.DEG4{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#1A9C76,endcolorstr=#FFFFFF);}
.DEG5{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#0DADAF,endcolorstr=#FFFFFF);}
.DEG6{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#77209B,endcolorstr=#FFFFFF);}

.RUB{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=1,startcolorstr=#FFFFFF,endcolorstr=#194F92);}
.RUB1{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=1,startcolorstr=#FFFFFF,endcolorstr=#FAD5BB);}
.RUB2{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=1,startcolorstr=#FFFFFF,endcolorstr=#FFF7C9);}
.RUB3{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=1,startcolorstr=#FFFFFF,endcolorstr=#82CE64);}
.RUB4{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=1,startcolorstr=#FFFFFF,endcolorstr=#A0E4D0);}
.RUB5{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=1,startcolorstr=#FFFFFF,endcolorstr=#BDEAEB);}
.RUB6{FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=1,startcolorstr=#FFFFFF,endcolorstr=#DDBDEB);}

.vert {
	FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#FF4200,endcolorstr=#FFFFFF); 
}
.vert2 {
	FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#C3D7F1,endcolorstr=#013983); 
}

.toolbar_top {
	FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#C3D7F1,endcolorstr=#FFFFFF); VERTICAL-ALIGN: middle; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
}
.toolbar_gris {
	FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#FFFFFF,endcolorstr=#DEDEDE); VERTICAL-ALIGN: top; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
}

.img 
{ filter: progid:DXImageTransform.Microsoft.shadow( direction=135,color=#666666,strength=3) 
}

select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}.vague {
	background-image: url(_vague_verte2.gif);
	background-repeat: no-repeat;
}
.Style17 {color: #003366}