/* CSS Document */ /* dexia sofaxis */
* {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
	background-color: #F3F3F3;
}

img {
	border: none;
}

h1 {
	margin-bottom: 10px;
	font-size: 1.2em;
	color: #506E0A; /*MLO  #9C3*/
}
h2{
	font-size: 0.8em;
	color: #506E0A;
}
h3 {
	font-size: 0.8em;
	color: #506E0A;
}

li {
	list-style-type: none;
}

table {
	border: 1px solid #666;
}

.table_structure {
	border: 0;
}

td {
	padding: 2px;
	margin: 1px;
}

.table_structure td {
	vertical-align: top;
	padding: 5px;
}

th {
	padding: 2px;
	color: #FFF;
	background-color: #666;
	font-weight: normal;
	font-size: 0.7em;
}

caption {
	margin: 5px 0 2px 0;
	font-size: 0.7em;
	font-weight: normal;
	text-align: left;
}

#global {
	background-color: #FFF;
	position: relative;
	width: 950px;
	margin: 0 auto;
	/*
	background-image:url(../img/global_fond.gif);
	background-repeat:repeat-y;
	*/
}

#conteneur_menu {
	position: absolute;
	top: 97px;
	left: 0;
	width: 210px;
}

#menu {
	min-height: 140px;
	padding-left: 5px;
	background-color: #333;
	background-image: url(menu_fond.gif);
	background-repeat: repeat-y;
	font-size: 0.7em;
}

* html  #menu {
	height: 140px;
}

#menu a {
	display: block;
	text-decoration: none;
}

#menu ul {
	background-color: #333;
	font-weight: bold;
}

#menu li {
	display: inline;
	text-decoration: none;
	color: inherit;
}

#menu li a {
	padding: 10px 5px 10px 18px;
	border-top: 1px solid #424242;
	border-bottom: 1px solid #1A1A1A;
	color: #FFF;
}

#menu li a.current {
	color: #9C3;
}

#menu li a:hover {
	text-decoration: none;
	color: #9C3;
	background-color: #424242;
}

#menu ul ul {
	background-color: #CCC;
}

#menu ul ul li {
	font-size: 1em;
}

#menu ul ul li a {
	padding: 5px 5px 5px 15px;
	color: #333;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #999;
}

#menu ul ul li a.current {
	padding: 5px 5px 5px 15px;
	background-color: #EEE;
	color: #506E0A;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #999;
}

#menu ul ul li a:hover {
	color: #000;
	background-color: #EEE;
}

#menu ul ul ul li a {
	padding: 5px 5px 5px 30px;
	color: #333;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #999;
}

#menu ul ul ul li a.current {
	padding: 5px 5px 5px 30px;
	background-color: #EEE;
	color: #506E0A;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #999;
}

#menu ul ul ul li a:hover {
	color: #000;
	background-color: #EEE;
}

#menu ul ul ul ul li a {
	padding: 5px 5px 5px 45px;
	color: #333;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #999;
}

#menu ul ul ul ul li a.current {
	padding: 5px 5px 5px 45px;
	background-color: #EEE;
	color: #F94600;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #999;
}

#menu ul ul ul ul li a:hover {
	color: #000;
	background-color: #EEE;
}

.menu a {
	text-decoration: none;
	color: inherit;
}

.menu a:hover {
	text-decoration: none;
	color: inherit;
}

* html .menu a {
	text-decoration: none;
	color: #FFF;
}

* html .menu a:hover {
	text-decoration: none;
	color: #9C3;
}

.menu_current {
	padding: 5px 0 5px 0;
	margin: 0 5px 0 5px;
	background-color: #333;
	border-top: 1px solid #424242;
	border-bottom: 1px solid #1A1A1A;
	list-style-type: none;
	list-style-position: outside;
	font-weight: bold;
	line-height: 1.2em;
	color: #9C3;
}

.sousmenu {
	padding: 5px 0 5px 5px;
	margin: 0 5px 0 5px;
	background-color: #AAA;
	color: #000;
	border-top: 1px solid #424242;
	border-bottom: 1px solid #1A1A1A;
	list-style-type: none;
	font-weight: bold;
	line-height: 1.2em;
}

.sousmenu:hover {
	background-color: #424242;
}

.sousmenu a {
	color: #000;
	text-decoration: none;
}

.sousmenu a:hover {
	text-decoration: none;
	color: #9C3;
}

#menu_accroche {
	text-align: center;
}

#header {
	background-image: url(bandeau_center.jpg);
	background-repeat: repeat-x;
	height: 97px;
}

#header a,#header a:hover {
	color: #FFF;
	text-decoration: none;
}

#header .separ {
	margin: 0 7px 0 7px;
}

#header_left {
	float: left;
	height: 87px;
	width: 603px;
	background-image: url(bandeau_left.jpg);
	background-repeat: no-repeat;
	padding: 10px 0 0 20px;
}

#header_left img {
	float: left;
	margin-right: 17px;
}

#header_left .baseline{
	padding-top:17px;
	color:#FFF;
	font-size:0.8em;
	font-weight:bold;
}

#header_right {
	float: right;
	height: 87px;
	width: 293px;
	background-image: url(bandeau_right.jpg);
	background-repeat: no-repeat;
	padding: 10px 20px 0 0;
	text-align: right;
}
#header_right_absolute{
	position: absolute;
	top: 9px;
	right: 30px;
	width: 250px;
}
#header_right h2 {
	padding-top: 19px;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
}
#header_right .baseline{
	padding-top:14px;
	color:#FFF;
	font-size:1.1em;
	font-weight:bold;
}
#header_right ul{
	padding-left:100px;
}
#header_right li{
	float : left;
	font-size:	0.6em;
}
#header_right li{
	padding: 0 10px;
}
#header_right .first{
	background-image: url(header_separ.gif);
	background-repeat: no-repeat;
	background-position: 0 1px;
}

#societe {
	height: 25px;
	background-image: url(societe_fond.gif);
	background-repeat: repeat-x;
}

#societe h2 {
	padding: 4px 0 0 23px;
	color: #16008D;
	font-size: 0.8em;
}

#societe span {
	float: right;
	width: 207px;
	height: 22px;
	color: #FFF;
	padding: 7px 0 0 23px;
	background-color: #8DBA2D;
	font-size: 0.8em;
	font-weight: bold;
	text-align: left;
	color: #000;
}

#search {
	margin: 105px 0 0 5px;
	vertical-align: bottom;
}

#search label {
	display: none;
	font-weight: bold;
}

#search .saisie {
	background-color: #EEE;
	border: 2px solid #EEE;
}

#search .bouton {
	color: #000;
	border: 1px solid #EEE;
	background-color: #EEE;
}

#bandeau_accueil {
	width: 720px;
	margin-left: 210px;
	height: 140px;
}

#bandeau_accueil img {
}

#bandeau_accroche{
	position: absolute;
	right: 0;
}

#bandeau_accroche,#accroche {
	width: 210px;
	height: 134px;
	padding: 6px 0 0 20px;
	background-color: #8DBA2D;
	text-align: center;
}

#bandeau_accroche h3,#accroche h3,#menu_accroche h3 {
	font-size: 0.8em;
	margin-bottom: 7px;
	text-align: left;
	color: #000;
}

#bandeau_accroche p{
	font-size: 13px !important;
	font-weight: bold;
	margin-top: 7px !important;
	margin-bottom: 0 !important;
	text-align: left;
	color: #000;
}
#accroche p{
	font-weight: bold;
	margin-top: 0.8em;
	text-align: left;
	color: #000;
}

#bandeau_accroche * a,#accroche * a {
	color: #000;
}

#bandeau_accroche form,#accroche form {
	margin-bottom: 30px;
	text-align: left;
}

#bandeau_accroche input,#accroche input {
	font-size: 10px;
}

* html #bandeau_accroche input,* html #accroche input {
	font-size: 10px;
	padding: 2px 0 0 2px;
}

#bandeau_accroche label,#accroche label {
	display: none;
}

#bandeau_accroche button,#accroche button {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	cursor: pointer;
}

* html #bandeau_accroche button,* html #accroche button {
	font-size: 11px;
	margin-left: 5px;
}

#contenu {
	margin: 0 0 0 210px;
	padding: 0 0 10px 30px;
}

#contenu h3 {
	margin-top: 10px;
}

#contenu h4 {
	font-size: 0.7em;
}

#contenu p {
	margin-bottom: 10px;
	font-size: 0.7em;
}

#contenu ul {
	font-size: 0.7em;
	margin-bottom: 1em;
}

#contenu li {
	list-style-image: url(li_circle_999.gif);
	margin-left: 23px;
}

#centre { /* Page sans marge a droite */
	float: left;
	margin-top: 20px;
	width: 660px;
}

#gauche { /* Page avec marge a droite */
	float: left;
	width: 470px;
}

#droite { /* Page avec marge a droite */
	float: right;
	width: 230px;
}

#pathfinder {
	margin: 4px 0 4px 0;
	font-size: 0.7em;
	color: #000;
}

#pathfinder a {
	color: #000;
}


#animation{
	padding-top:134px;
}
/*
#animation h2{
	font-size:0.9em;
	font-weight: normal;
	color:#666;
}
#animation h3{
	font-size:0.8em;
	color:#9C3;
}
#animation a, #animation a:hover, #animation a:visited{
	color:#9C3;
}
*/
#corps {
	min-height: 375px;
	padding-top: 20px;
}

* html  #corps {
	height: 400px;
}

#corps h3 {
	padding: 0.2em 0 0.2em 0.3em;
	background-color: #506E0A;
	color: #FFF;
	font-size: 0.8em;
}

#corps a,#corps a:visited {
	color: #506E0A;
	font-size: 1em;
}

#basdepage {
	margin: 20px 0 20px 0;
}

#basdepage a {
	color: #666 !important;
	text-decoration: none;
	font-size: 0.7em !important;
}

.multi_colonne {
	margin-bottom: 20px;
}

#footer {
	height: 30px;
	padding-top: 10px;
	background-color: #F3F3F3;
	font-size: 0.7em;
	color: #333;
	text-align: center;
}
#footer ul{
	padding-left:26px;
}
#footer li {
	float:left;
	padding: 0 10px;
	background-image: url(footer_separ.gif);
	background-repeat: no-repeat;
	background-position: 0 1px;
}
#footer .first {
	background-image: none;
}

#footer a {
	color: #333;
	text-decoration: none;
}

.actualite_gauche {
	float: left;
	width: 194px;
	border-right: 1px solid #999;
	padding: 0 20px 0 0;
}

.actualite_gauche {
	float: left;
	width: 194px;
	border-right: 1px solid #999;
	padding: 0 20px 0 0;
}

.actualite_droite {
	float: left;
	width: 194px;
	padding: 0 20px 0 20px;
}

.actualite_gauche a,.actualite_droite a {
	color: #A5D442;
	background-image: url(http://www.dexia-sofaxis.com/file/resources/sites/sfx/img/puce_inferieur_A5D442.gif);
	background-repeat: no-repeat;
	padding-left: 10px;
}

.actualite_gauche h3, .actualite_droite h3 {
	margin-bottom: 6px;
}
.actuhome{
	padding:0 !important;
	color: #506E0A !important;
	background-color:#FFF !important;
}
.alerte {
	color: #C00;
}

.alerte h2 {
	color: #C00;
}

.alerte li {
	list-style-image: url(http://www.dexia-sofaxis.com/file/resources/sites/sfx/img/li_circle_C30.gif);
	margin-left: 23px;
}

.animation {
	padding: 0.5em;
}

.animation h2 {
	font-size: 0.8em;
	color: #506E0A;
}

.animation h3 {
	font-size: 1em;
	font-weight: normal;
	color: #666;
}

.animation a,.animation a:hover,.animation a:visited {
	color: #506E0A;
}

.bas {
	padding-top: 5px;
}

.bas p {
	color: #FFF;
	font-size: 10px;
}

.bloc {
	display: block;
}

.chapo {
	font-size: 0.8em;
	font-weight: bold;
}

.chapo strong {
	font-size: 1.3em;
	color: #6F98C7; /*mlo#5C86B8*/
}

.clair {
	background-color: #EFEFEF;
	font-size: 0.7em;
}

.clear {
	clear: both;
}

.col_gauche {
	float: left;
	width: 47%;
}

.col_droite {
	float: right;
	width: 47%;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
	margin: 0 0 5px 10px;
}

.fonce {
	background-color: #DEDEDE;
	font-size: 0.7em;
}

.haut {
	height: 63px;
}

.H2_plan_accueil {
	font-size:0.7em;
	margin-bottom:9px;
}
.H2_plan {
	font-size:0.7em;
}
#logo_accessiweb{
	margin:12px;
}
.picto_pdf {
	display: block;
	background-image: url(icon_pdf.gif);
	background-repeat: no-repeat;
	padding: 0 0 5px 22px;
	margin: 3px 0 5px 0;
	color: #506E0A;
}

.picto_excel {
	display: block;
	background-image: url(icon_excel.gif);
	background-repeat: no-repeat;
	padding: 0 0 5px 22px;
	margin: 3px 0 5px 0;
	color: #506E0A;
}

.picto_media {
	display: block;
	background-image: url(icon_media.gif);
	background-repeat: no-repeat;
	padding: 0 0 5px 22px;
	margin: 3px 0 5px 0;
	color: #506E0A;
}

.picto_ppt {
	display: block;
	background-image: url(icon_ppt.gif);
	background-repeat: no-repeat;
	padding: 0 0 5px 22px;
	margin: 3px 0 5px 0;
	color: #506E0A;
}

.picto_word {
	display: block;
	background-image: url(icon_word.gif);
	background-repeat: no-repeat;
	padding: 0 0 5px 22px;
	margin: 3px 0 5px 0;
	color: #506E0A;
}

.picto_html {
	display: block;
	background-image: url(icon_htm.gif);
	background-repeat: no-repeat;
	padding: 0 0 5px 22px;
	margin: 3px 0 5px 0;
	color: #506E0A;
}

.picto_pdf:hover,.picto_pdf:visited,.picto_swf:hover,.picto_swf:visited,.picto_doc:hover,.picto_doc:visited,.picto_excel:hover,.picto_excel:visited,.picto_media:hover,.picto_media:visited,.picto_ppt:hover,.picto_ppt:visited,.picto_word:hover,.picto_word:visited,.picto_html:hover,.picto_html:visited
	{
	color: #506E0A;
}

.picto_word_grande {
	display: block;
	background-image: url(icon_doc_grande.gif);
	background-repeat: no-repeat;
	background-position: 0 5px;
	margin-bottom: 10px;
	padding: 10px 0 20px 35px;
	color: #506E0A;
}

.picto_pdf_grande {
	display: block;
	background-image: url(icon_pdf_grande.gif);
	background-repeat: no-repeat;
	background-position: 0 5px;
	margin-bottom: 10px;
	padding: 10px 0 20px 35px;
	color: #506E0A;
}

.picto_swf_grande {
	display: block;
	background-image: url(icon_swf_grande.gif);
	background-repeat: no-repeat;
	background-position: 0 5px;
	margin-bottom: 10px;
	padding: 10px 0 20px 35px;
	color: #506E0A;
}

.picto_excel_grande {
	display: block;
	background-image: url(icon_excel_grande.gif);
	background-repeat: no-repeat;
	background-position: 0 5px;
	margin-bottom: 10px;
	padding: 10px 0 20px 35px;
	color: #9C3;
}

.invisible {
	display: none;
}

.lien_bouton {
	padding: 0.1em 0.1em 0.1em 0.3em;
	margin-right: 2.1em;
	background-color: #B5D708;
	border-top: 1px solid #CBEA5A;
	border-right: 1px solid #739506;
	border-bottom: 1px solid #739506;
}

.lien_bouton a {
	text-decoration: none;
}

.lien_header,.lien_header_dernier {
	float: left;
	width: 70px;
	height: 40px;
	padding: 10px;
	text-align: center;
	border-left: 1px solid #FFF;
}

.lien_header_dernier {
	border-right: 1px solid #FFF;
}

.lien_header a,.lien_header_dernier a {
	font-size: 0.6em;
	color: #FFF;
	text-decoration: none;
}

.logo {
	margin: 53px 0 0 45px;
}

.logo_partenaire {
	margin: 10px 15px;
}

.pays {
	float: left;
	width: 133px;
	padding-left: 145px;
	text-align: center;
	color: #FFF;
}

.plan {
	color: #000 ! important;
	text-decoration: none;
}


.soustitre {
	font-family: verdana, Helvetica, sans-serif;
	font-size: 1.2em;
	line-height: 1em;
	color: #BBB; /*mlo DDD*/
}

.table_form {
	width: 100%;
	font-size: 10px;
}

.table_form input,.table_form textarea {
	margin: 3px;
	font-size: 10px;
}

.table_form textarea {
	display: block;
}

.titre {
	padding: 0 0 5px 0;
	font-family: verdana, Helvetica, sans-serif;
	font-size: 1.2em;
	color: #FFF;
}

.titreactualite {
	font-size: 24px;
	color: red;
}

.soustitrehome {
	font-size: 1em;
	font-weight: normal;
	color: #666;
	margin-bottom: 10px;
}