a
{
font-size: 11px;
color:#333333;
font-family: Arial;
}
.navigueblanche
{
font-size: 11px;
font-family: Arial;
text-decoration: none;
color:#FFFFFF;
}

.navigueblanche:hover
{
font-size: 11px;
font-family: Arial;
text-decoration: none;
color:#FFFFFF;
}
.naviguebleu
{
font-size: 11px;
font-family: Arial;
text-decoration: none;
color:#3F76B8;
}

.naviguebleu:hover
{
font-size: 11px;
font-family: Arial;
text-decoration: none;
color:#000000;
}

.sousnaviguebleu
{
font-size: 11px;
font-family: Arial;
text-decoration: none;
color:#000000;
}

.sousnaviguebleu:hover
{
font-size: 11px;
font-family: Arial;
text-decoration: none;
color:#3F76B8;
}
.navigueverte
{
font-size: 11px;
font-family: Arial;
text-decoration: none;
color:#5E9E6A;
}

.navigueverte:hover
{
font-size: 11px;
font-family: Arial;
text-decoration: none;
color:#000000;
}

.sousnavigueverte
{
font-size: 11px;
font-family: Arial;
text-decoration: none;
color:#333333;
}

.sousnavigueverte:hover
{
font-size: 11px;
font-family: Arial;
text-decoration: none;
color:#000000;
}

.type1
{
font-size: 11px;
font-family: Arial;
color:#000000;
}

.type2
{
font-size: 11px;
font-family: Arial;
text-decoration: none;
color:#666666;
}

.type3
{
font-size: 11px;
font-family: Arial;
text-decoration: none;
color:#4582CA;
}
.type4
{
font-size: 11px;
font-family: Arial;
text-decoration: none;
color:#5E9E6A;
}
/* Styles pour Internet Explorer et Netscape 6.x */
TEXTAREA { background-image: url("rubrique4.html.2");background-repeat: no-repeat; background-position: center; background-color: #F1F0F0; border-width: 1px; border-color: #AFAFAF; border-style: double; font-family: arial; font-size: 11px; color: # 4F4F4F; text-align: left; }
INPUT { background-color: #F1F0F0; border-width: 1px; border-color: #AFAFAF; border-style: solid; font-family: arial; font-size: 11px; color: #4F4F4F; }
SELECT { background-color: #F1F0F0; font-family: arial; font-size: 11px; color: #4F4F4F; text-align: center; }

#zoneFlash {
	display:block;
	width:468px;
	height:60px;
	position:absolute;
	left:36.5%;
	top:8px;
}

#zonePub {
	display:block;
	width:210px;
	height:100%;
	position:absolute;
	right:-10%;
	top:147px;
}


#zonePub img {
	border:none;
	margin-bottom:5px;
}

#content {
	width:1040px;
	position:absolute;
	left:50%;
	margin-left:-520px;
}

