/* 

   BOUTONS STANDARDS - www.sepaq.com


:: TABLE DES MATIERES -----------------------------------------------

   Boutons sur balise A
   Boutons sur balise INPUT

*/


/* 

:: BOUTONS SUR BALISE A ---------------------------------------------
   
   VARIATIONS
   standard - gris pale ->
   .back - gris pale <-
   .fermer - gris pale X
   .vert - vert ->
   .vert.return - vert <-|
   .vert.ajouter - vert +
   .vert.annuler - vert X
*/

/* BOUTONS GRIS PALES */
a.button {
 background: transparent url(http://www.sepaq.com/resources/images/interface/btn_fleche.gif) no-repeat right 0;
 border: 1px solid #a1a1a1 !important;	
 color: #4c4c4c !important;
 cursor: pointer;
 font: 11px Arial, Helvetica, sans-serif;
 margin: 0 5px 1px 0;
 padding: 2px 31px 2px 11px;
 padding-bottom:2px !important;
 text-decoration: none;
 text-transform: uppercase;
}
a.button:hover {
 background: transparent url(http://www.sepaq.com/resources/images/interface/btn_fleche.gif) no-repeat right -18px;
 color: #37752f !important;
 text-decoration: none;
}
a.button.small {
	text-transform: none;
	font-size: 10px;
	margin:0;
 	padding: 2px 25px 2px 4px !important;
}
#head a.button:hover {
 background: transparent url(http://www.sepaq.com/resources/images/interface/btn_fleche.gif) no-repeat right -18px;
}
a.button.back {
 background: white url(http://www.sepaq.com/resources/images/interface/btn_back.gif) no-repeat left top;
 padding-left: 28px !important;
 padding-right: 10px !important;
 text-decoration: none;
}
a.button.back:hover {
 background: white url(http://www.sepaq.com/resources/images/interface/btn_back.gif) no-repeat left -18px;
 text-decoration: none;
}
a.button.fermer {
 background: white url(http://www.sepaq.com/resources/images/interface/btn_fermer.gif) no-repeat right top;
 text-decoration: none;
}
a.button.fermer:hover {
 background: white url(http://www.sepaq.com/resources/images/interface/btn_fermer.gif) no-repeat right -18px;
 text-decoration: none;
}
a.button.mini { text-transform: none; padding: 2px 24px 1px 4px !important; }

/* BOUTONS VERTS */
a.button.vert {
 background: transparent url(http://www.sepaq.com/resources/images/interface/btn_fleche_verte.gif) no-repeat right top;
 border: 1px solid #3f7e37 !important;	
 color: white !important;
 cursor: pointer;	
 font: 11px Arial, Helvetica, sans-serif;
 margin: 0 5px 1px 0 !important;
 text-decoration: none;
 text-transform: uppercase;
}

a.button.vert:hover {
	color:#fff;
	text-decoration: none;
	background: transparent url(http://www.sepaq.com/resources/images/interface/btn_fleche_verte.gif) no-repeat right -20px;
}

a.button.vert.return { 
 background: transparent url(http://www.sepaq.com/resources/images/interface/btn_modifier_vert.gif) no-repeat left top; 
 padding-left: 28px !important;
 padding-right: 10px !important;
}
a.button.vert.return:hover { background: transparent url(http://www.sepaq.com/resources/images/interface/btn_modifier_vert.gif) no-repeat left -18px; }

a.button.vert.ajouter { background: transparent url(http://www.sepaq.com/resources/images/interface/btn_ajouter_vert.gif) no-repeat right top; }
a.button.vert.ajouter:hover { background: transparent url(http://www.sepaq.com/resources/images/interface/btn_ajouter_vert.gif) no-repeat right -18px; }

a.button.vert.annuler { background: transparent url(http://www.sepaq.com/resources/images/interface/btn_supprimer_vert.gif) no-repeat right top; }
a.button.vert.annuler:hover { background: transparent url(http://www.sepaq.com/resources/images/interface/btn_supprimer_vert.gif) no-repeat right -18px; }

/* 

:: BOUTONS SUR BALISE INPUT -----------------------------------------
   
*/
input.button {
 background: transparent url(http://www.sepaq.com/resources/images/interface/btn_fleche.gif) no-repeat right top;
 border: 1px solid #a1a1a1 !important;	
 color: #4c4c4c !important;
 cursor: pointer;
 font: 11px Arial, Helvetica, sans-serif;
 margin: 0 5px 1px 0;
 padding: 2px 31px 1px 11px !important;
 text-decoration: none;
 text-transform: uppercase;
}
input.button.float_right { margin-right: 0 !important; }

input.button:hover {
 background: transparent url(http://www.sepaq.com/resources/images/interface/btn_fleche.gif) no-repeat right -18px;
 color: #37752f !important;
 text-decoration: none;
}

input.button.footer {
 margin: 7px 0 13px 9px;
}
input.button.back {
 background: white url(http://www.sepaq.com/resources/images/interface/btn_fleche_back.gif) no-repeat left center;
 padding-left: 28px;
 padding-right: 10px;
}
input.button.back:hover { background-image: url(http://www.sepaq.com/resources/images/btn_fleche_hover_back.gif); }

input.button.reverse {
 background: url(http://www.sepaq.com/resources/images/btn_vert.gif) right no-repeat;
 border: 1px solid white;;
 color: white;
 font-weight: bold;
 height: 18px;
 padding-left: 20px;
 padding-right: 36px;
}
input.button.reverse:hover { background: url(http://www.sepaq.com/resources/images/btn_vert_hover.gif) right no-repeat; }


.buttonsBox {
	padding:10px 0 15px 30px;
}


/* BOUTONS VERTS */
input.button.vert {
 background: transparent url(http://www.sepaq.com/resources/images/interface/btn_fleche_verte.gif) no-repeat right top;
 border: 1px solid #3f7e37 !important;	
 color: white !important;
 cursor: pointer;	
 font: 11px Arial, Helvetica, sans-serif;
 padding: 2px 31px 2px 11px !important;
 margin: 0 5px 1px 0 !important;
 text-decoration: none;
 text-transform: uppercase;
}
input.button.vert:hover {
	color: #fff;
	text-decoration: none;
	background: transparent url(http://www.sepaq.com/resources/images/interface/btn_fleche_verte.gif) no-repeat right -20px;
}


/*

 :: Search button

*/
#btn_search {
  background: url(http://www.sepaq.com/resources/images/interface/header/bouton_search.png) no-repeat;
  cursor: pointer;
}
#btn_search:hover {
  background: url(http://www.sepaq.com/resources/images/interface/header/bouton_search.png) no-repeat 0 -21px;
}