/*

:: GENERAL -----------------------------------------------------------------------

*/
.jqmWindow #popover_header {
 width: 730px; 
 height: 17px;  
 padding: 7px 5px 17px 15px; 
 background: url('ombre_onglets.jpg') repeat-x 0 10px;
}
.jqmWindow #popover_header div#popover_header_col_1 {
 float: left; 
 width: 670px;
}
.jqmWindow.friend #popover_header div#popover_header_col_1 {
 width: 588px;
 height: 24px;
}
.jqmWindow #popover_header div#popover_header_col_1 h3 {
 margin: 2px 0 0 0; 
 font-size: 16px;
}
.jqmWindow.friend #popover_header div#popover_header_col_1 h3 {
 margin: 4px 0 0 0; 
}
.jqmWindow #popover_header div#popover_header_col_1 img {
 margin-left: 10px; 
 padding-top: 0px;
}
.jqmWindow #popover_header div#popover_header_col_2 {
 float: left; 
 text-align: right; 
 width: 55px;
}
.jqmWindow #popover_header div#popover_header_col_2 a {
 margin-left: 10px;
}
.jqmWindow #popover {
 width: 720px; 
 height: 435px; 
 overflow: auto; 
 padding: 0 15px 15px 15px; 
 clear: both;
}
.jqmWindow #popover .popover_content {
 padding: 8px 0 0 0;
}
.jqmWindow.friend #popover_header {
 width: 643px; 
 height: 17px;  
 padding: 7px 5px 17px 15px; 
 background: url('ombre_onglets.jpg') repeat-x 0 10px;
}
.jqmWindow #popover table.forfaits th {
 text-align: center;
}
.jqmWindow #popover table.forfaits tr.titres_forfaits th {
 font-weight: bold;
}



.popover_content ul {
	margin-left: 2px;
}
.popover_content ul li {
	margin-left: 13px;
	list-style-type: disc;
	margin-bottom: 6px;
}




/*

:: FORFAITS -----------------------------------------------------------------------

*/

#forfait_popover {
  font: 12px Arial, Helvetica, sans-serif;
  background: #ffffff;
}

#forfait_popover  #popover {
  height: 410px; 
  overflow: auto; 
}

body#popover  div#popover {
  height: 410px; 
  overflow: auto; 
}

/* Forfaits */
#forfait_popover #popover .liste_forfaits {
  overflow: hidden;
  background: #ffffff;
}
#forfait_popover #popover .liste_forfaits_gauche {
  float: left; 
  width: 150px;
  background: #ffffff;
}
#forfait_popover #popover .liste_forfaits_droite {
  background: #ffffff;
  float: left; 
  width: 330px;
}
#forfait_popover #popover .liste_forfaits_gauche div.bloc {
  background: #ffffff;
  border: 1px solid #c6c6c6;
  padding: 10px;
  width: 113px;
}
#forfait_popover #popover .liste_forfaits_gauche div.bloc p {
  background: #ffffff;
  font-size: 10px;
  line-height: 12px;
  margin: 0;
  padding: 0;
}
#forfait_popover #popover .liste_forfaits_gauche div.bloc span.montant {
  background: #ffffff;
  color: #51779c;
  font: normal 24px Arial, Helvetica, sans-serif;
  line-height: 40px;
}
#forfait_popover #popover .liste_forfaits_droite h4:first-child {
  margin-top: 3px;
}
#forfait_popover #popover_header_col_1 h3 {
 clear: left;
}
#forfait_popover #popover_header_col_1 h3 img {
  float: left;
}
#forfait_popover #popover_header_col_1 h3 span {
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 35px;
}



/*

:: ENVOYER A UN AMI -------------------------------------------------------

*/
#send_to_friend dt {
  color: #5d605d;
  margin-bottom: 2px;
}
#send_to_friend dt label {
  font-weight: bold;
}
#send_to_friend dt span {
  font-weight: normal;
  color: #a00;
}
/* POPOVER */
#send_to_friend dd label {
 display: block;
 color: #a00;
 font-size: 11px;
}
#send_to_friend dd label.error {
 display: block;
 margin: 3px 0 0 0;
}

#send_to_friend dd {
  margin-bottom: 9px;
}
#send_to_friend #col_01 {
  padding: 0 0 0 68px;
  margin: 24px 0 0 0;
  float: left; 
  width: 193px; 
  display: block;
  background: url('icn_send_to_friend.gif') no-repeat;
}
#send_to_friend #col_02 {
  padding: 0 0 0 28px;
  margin: 24px 0 0 0;
  border-left: 1px dotted #bfbfbf;
  float: left; 
  width: 342px; 
  display: block;
}
#send_to_friend input {
	width: 158px;
}
#send_to_friend textarea {
	width: 340px;
 	height: 120px;
}

