/* 

   FEUILLE DE STYLE PRINCIPALE - www.sepaq.com


:: TABLE DES MATIERES -----------------------------------------------

   Titres
   Listes
   Positionnement
   Zone de titre
   Conteneur principal
   Elements textes standards
   Tableaux
   Styles utilisateurs
   Onglets de navigation
   Outils - Icones
   Fil d'Ariane
   Bas de page


:: PALETTE DE COULEURS ----------------------------------------------

   #274E27 - Vert fonce
   #3A5426 - Vert foret
   #496530 - Vert clair
   #4A8456 - Vert turquoise
   #5D605D - Gris moyen
   #2C5DA0 - Bleu, hyperliens
   #A1A1A1 - Gris pale, contours
   #DAD9D4 - Gris tres pale, contours, onglets
   #EDEDED - Blanc grise, fond


:: IMPORTATIONS -----------------------------------------------------
*/
@import url(reset.css);    /* CSS reset */
@import url(header.css);   /* En-tete et navigation principale */
@import url(buttons.css);  /* Boutons */
@import url(jqmodal.css);  /* jqModal - fenetre popover */
@import url(prettyPhoto.css);  /* Popover prettyphoto */
/*
   ------------------------------------------------------------------
*/


/* 

:: TITRES -----------------------------------------------------------

*/
h1 {
 color: #496530;
 font: bold 14px Arial, Helvetica, sans-serif;
 text-transform: uppercase;
}
h2 {
 color: #274E27;
 font: bold 12px Arial, Helvetica, sans-serif;
}
h3 {
 color: #415d37;
 font: bold 14px Arial, Helvetica, sans-serif;
 margin-top: 16px;
 margin-bottom: 7px;
}
h3 span.date {
 color: #5D605D;
 font-size: 10px;
}
h4 {
 font: bold 12px Arial, Helvetica, sans-serif;
 color: #5D605D;
 margin-top: 14px;
 margin-bottom: 8px;	
}


/* 

:: LISTES -----------------------------------------------------------

*/
#container ul {
 line-height: 14px;
 list-style-type: disc;
 margin-left: 5px;
 padding-left: 10px;
}
#container ul li ul {
 line-height: 13px;
 list-style-type: circle;
 margin-left: 5px;
 padding-left: 10px;
}
#container ol {
 line-height: 14px;
 list-style-type: decimal;
 margin-left: 5px;
 padding-left: 10px;
}
#container .col ul { margin-bottom: 14px; margin-top: 4px; }
#container .col li { margin-bottom: 5px; }


/*

:: POSITIONNEMENT ---------------------------------------------------
 
*/
.spacerTop { margin-top: 25px; } /* Insere une marge en haut de l'element designe */
.clear_both { float: none; clear: both; }
.clear { float: none; clear: both; }
.float_left { float: left; }
.float_right { float: right; }
.hide_block { display: none; }
.break { overflow: hidden; }
#container .hide_underline { border-bottom: none !important; }
.no_top_margin { margin-top: 0 !important; }
.no_top_padding { padding-top: 0 !important; }
.no_bottom_margin { margin-bottom: 0 !important; }
.no_bottom_padding { padding-bottom: 0 !important; }
blockquote { margin-left: 15px; }


/*

:: OMBRES ----------------------------------------------------------
 
*/
.cols {
  overflow: hidden;
  min-height: 555px;
}

.ombre_540 { background: url(ombre_gauche.gif) repeat-y 568px 0; }
.ombre_380 { background: url(ombre_gauche.gif) repeat-y 408px 0; }
.ombre_645 { background: url(ombre_gauche.gif) repeat-y 634px 0; }

/* 

:: ZONE DE TITRE ----------------------------------------------------
 
   Hauteurs
   336px - Gnral
   220px - Produits
   120px - Transac
   90px - Carte interactive

*/
#zone_titre {
 width: 980px;
 margin: 0 auto;
 height: 336px;
}
.produit #zone_titre { height: 220px; }
.transac #zone_titre { height: 120px; }
.carte #zone_titre { height: 90px; }

#zone_titre h1 {
 width: 250px;
 height: 336px;
 text-indent: -5000px;
}
.carte #zone_titre h1 { width: 980px; }
.produit #zone_titre h1 { height: 220px; }


/* 

:: CONTENEUR PRINCIPAL ----------------------------------------------

   Definition des largeurs de colonnes standardisees
   | 980 px |
   | 740 px | (nouvelles)
   | 326 px | 326 px | 326 px | (avec sparateurs, produits)
   | 325 px | 325 px | 325 px | (sans sparateurs, transac - login)
   | 540 px | 380 px | (standard, etablissements)
   | 380 px | 540 px | (fiches de produits)
   | 490 px | 490 px | (2 colonnes de meme largeur, transac)

   Ombrages a placer sur le div ayant la classe 'col'
   .ombre_gauche
   .ombre_top
   .ombre_top_short

*/
#container {
 width: 980px;
 background: white repeat-x;
 margin: 0 auto;
/* overflow: hidden; */
 min-height: 600px;
}
#container .col {
 float: left;
 /* padding-bottom: 2000px; */
 /* margin-bottom: -2000px; */
}
#container .col.multi { /* Utilis lorsqu'il y a plusieurs types de colonnes en haut dans une meme page */
 padding-bottom: 0px;
 margin-bottom: 0px;
}

/*.col 203 - Colonne de 203 pixels*/
#container .col209 {
	float: left;
	display: inline;
	position: relative;
	width: 185px;
	padding:15px 9px;
}

/* .col215 - Colonne de 215 pixels */
#container .col .col215 { width: 187px; padding: 15px 12px 25px 12px; }
#container .col .col215.first { margin-left: 0;  width: 187px; padding-right: 0; }
#container.forfaits .col .col215 a { border-bottom: 0; }

/* .col325 - Colonne de 325 pixels */
#container .col .col325 { width: 296px; padding: 15px 15px 25px 15px; }

/* .col326 - Colonne de 326 pixels */
#container .col .col326 { width: 296px; padding: 15px 0 25px 14px; margin-left: 14px; }
#container .col .col326.first { margin-left: 0; }

/* .col330 - Colonne de 330 pixels */
#container .col .col330 { width: 300px; padding: 15px 15px 25px 15px; }

/*.col 340 - Colonne de 340 pixels*/
#container .col .col340 {width:310px; padding:15px 15px 25px 15px;}

/* .col380 - Colonne de 380 pixels */
#container .col .col380 { width: 380px; padding: 15px 15px 25px 15px; }

/* .col490 - Colonne de 490 pixels */
#container .col .col490 { width: 460px; padding: 15px 15px 25px 15px; }

/* .col540 - Colonne de 540 pixels */
#container .col .col540 { width: 540px; padding: 15px 15px 25px 15px; }

/* .col640 - Colonne de 640 pixels */
#container .col .col640 {width: 610px; padding: 15px 15px 25px 15px;}

/* .col650 - Colonne de 650 pixels */
#container .col .col650 { width: 620px; padding: 15px 15px 25px 15px; }

/* .col740 - Colonne de 740 pixels */
#container .col .col740 { width: 740px; padding: 15px 15px 25px 15px; }

/* .col980 - Colonne de 980 pixels */
#container .col .col980 { width: 950px; padding: 15px 15px 25px 15px; }


.cat {
  width: 297px;
  float: left;
  margin-left: 29px;
}
.cat.first { margin-left: 0; }


#container #texte {
 margin: 45px 25px 35px 8px;
}

/* Ombrages de fond, a placer sur la balise class="col" */
#container .ombre_gauche {
 background: white url('ombre_gauche.gif') repeat-y top left;
}
#container .ombre_droite {
 background: white url('ombre_droite.gif') repeat-y top right;
}
#container .ombre_droite_fake {
 background: white url('ombre_droite.gif') repeat-y 274px 0;
}
#container .ombre_top {
 background: url('ombre_box_top.png') repeat-x top;
}
#container .ombre_bas {
 background: url('http://www.sepaq.com/resources/images/interface/container/ombre_bas.gif') repeat-x bottom;
}
#container .ombre_top_short {
 background: url('ombre_top_short.png') repeat-x top;
}
#container .box {
 padding: 15px;
 border-top: #bfbfbf dotted 1px;
}

/*

:: SOUS-COLONNES POUR LES TEXTES ----------------------------------------
   Divise un champ texte en 2 colonnes egales
   
   2 colonnes :
   La colonne 1 sera definie avec les styles colsplit_2 et alpha
   La colonne 2 sera definie avec les styles colsplit_2 et omega

  3 colonnes :
   La colonne 1 sera definie avec les styles colsplit_3 et alpha
   La colonne 2 sera definie avec les styles colsplit_3
   La colonne 3 sera definie avec les styles colsplit_3 et omega

*/
.colsplit_2 { 
  float: left;
  margin: 15px;
  width: 47%;
}
.colsplit_3 { 
  float: left;
  margin: 15px;
  width: 31%;
}
.alpha { margin-left: 0; }
.omega { margin-right: 0; }


/*

:: ELEMENTS TEXTES STANDARDS ----------------------------------------

*/
p {
 line-height: 13px;
 margin-bottom: 12px;
}
p.demiSpacerTop {
 margin-top: -6px;
}
sup {
 font-size: smaller;
 line-height: normal;
 vertical-align: super;
}
#container p {
/* clear: both; */
 line-height: 16px;
}
#container p.justify {
 text-align: justify;
}
#container h2 {
 color: #3A5426;
 font: bold 14px Arial, Helvetica, sans-serif;
 margin-top: 8px;
 padding: 5px 0;
 text-transform: uppercase;
}

#container a {
 border-bottom: 1px dotted #4a7bbe; 
 color: #2C5DA0;
 padding-bottom: 0px; 
 text-decoration: none;
}
#container a:hover, #container a:active {
 border-bottom-color: #b57161;
 color: #944736;
}
#container #news_ticker {
 border-top: #bfbfbf 1px dotted;
 border-bottom: #bfbfbf 1px dotted;
 height: 24px;
 margin-bottom: 0;
}
#container #news_ticker h3 {
 float: left;
 font: 14px Arial, Helvetica, sans-serif;
 margin-top: 4px;
 margin-right: 7px;
 background: url(icone_news.png) no-repeat 2px 1px;
 padding-left: 16px;
}
#container #news_ticker h3 a {
 border-bottom: none;
 border-right: 1px dotted #bfbfbf;
 color: #274E27;
 padding: 2px 7px 2px 5px;	
}
#container #news_ticker h3 a:hover, #container #news_ticker h3 a:active {
 color: #496530;
}
#container #news_ticker div.content {
 color: #5D605D;
 display: block;
 float: left;
 margin-top: 6px;
}
#container #news_ticker div.content ul#newsticker  {
 padding: 0;
 margin: 0;
 list-style-type: none;
}
#container #news_ticker div.content ul#newsticker li  {
  display: list-item;
}
#container #news_ticker div.content ul#newsticker li a  {
 border-bottom: none;
 color: #5d605d;
}
#container #news_ticker div.content ul#newsticker li a:hover  {
 text-decoration: underline;
 color: #3A5426;
}
#container #news_ticker div.rss {
  display: block;
  float: right;
  margin-top: 5px;
  margin-right: 3px;
}
#container #news_ticker div.rss a {
 border-bottom: none;
}


#container .box.news a {
 border: 0;
}
#container .box.news a.en_vedette {
 display:block;
 float: left;
 margin-bottom: 15px;
 overflow: hidden;
}
#container .box.news a.en_vedette img {
  margin-bottom: 0;
}
#container .box.news div.news_item {
 float: left;
 line-height: 14px;
 margin-bottom: 9px; /* 15px moins le 6px du <p> */
 width: 350px;
}
#container .box.news div.news_item a {
 display: inline;
 float: none;
 border-bottom: 1px dotted #4a7bbe;
 text-decoration: none;
}
#container .box.news div.news_item h3 a {
	border-bottom:0;
}

#container .box.news div.news_item h3 a:hover {
	border-bottom:1px dotted #274E27;
}

#container .box.news div.news_item_forfait {
 width: 175px;
 float: left;
 margin-bottom: 9px; /* 15px moins le 6px du <p> */
 line-height: 14px;
}
#container .col380 .box.news div.news_item {
 width: 263px;
}

/*
#container .col380 .box.news div.news_item a {
 padding-right: 10px;
 background: url('../images/interface/container/arrow_link.gif') no-repeat center right;
}
*/

#container .col380.bordure img {
 margin: -1px;
 border: 1px solid #bfbfbf;
}
#container .box p {
 line-height: 15px;
}
#container .box h3 {
 color: #274e27;
 font: 14px Arial, Helvetica, sans-serif;
 margin: 0 0 2px 0;
}
#container .box h3 a {
 color: #274e27;
 border-bottom: none;
}
#container .box h3 a:hover {
 text-decoration: underline;
}
#container hr {
 clear: both;
 border: none;
 border-top: #bfbfbf dotted 1px;
 margin: 15px 0 15px 0;
 height: 1px;
}
#container .box hr {
 margin: 15px -15px 15px -15px;
}

#container .box.news img {
  margin: 1px 8px 15px 0;
  border: #C0C1C0 solid 1px;
  float: left;
  padding: 3px;
  background-color: white;
}
#container .box.news a:hover img {
  border: #808180 solid 1px;
}

#container .box.news .news_item img {
 float: none;
 border: none;
 margin: 0 0 0 5px;
 vertical-align: middle;
}
#container div.partenaires a {
 border-bottom: none;
}
#container div.partenaires img {
 padding: 12px 22px 12px 2px;
}

/* NEWS PAGE */
#news_page h3 {
  margin-top: 10px;
}
#news_page h3 a {
  border-bottom: none;
  color: #415d37;
}
#news_page .date { padding-left: 8px; }
#news_page .contenu {  padding-right: 25px; }

/* 

:: TABLEAUX ---------------------------------------------------------

*/
table {
 border-collapse: collapse;
 margin: 0;
 padding: 0;
}
table th {
 background: url('ombre_top_short.jpg') repeat-x;
 border: 1px solid #d6d5d0;
 color: #395325;
 font-size: 12px;
 padding: 10px;
}
table tr td.onglet {
 background: #f5f5f5;
}
table tr td {
 border: 1px solid #d6d5d0;
 padding: 10px;
}
div.distances table {
 font-size: 10px;
}
div.distances table tr td {
 padding: 7px;
}


/*

:: STYLES UTILISATEURS ----------------------------------------------

   Styles de textes qui seront appliques 
   par les utilisateurs du CMS

   .rss - affiche l'icone de telechargement d'un feed rss
   .bottom_line - ajoute une ligne en bas du titre h2 ou h3
   .download - cree une lien de document a telecharger avec une fleche a gauche
   .pdf - affiche l'icone de document pdf
   .pdf_list - affiche l'icone de document pdf
   .lien - affiche un lien par ligne, pour les groupes d'hyperliens

*/
#container h2.rss { padding: 0; }
#container h2.rss a  {
 background: url('rss_logo.gif') no-repeat center left;
 display: block;
 color: #3A5426;
 border-bottom: none;
 padding: 5px 0 5px 20px;
}
#container h2.rss a:hover, #container h2.rss a:active {
 background-image: url('rss_logo_hover.gif');
}

#container h2.bottom_line {  
 border-bottom: 1px dotted #bfbfbf;
 margin-top: 15px;
 margin-bottom: 15px;
 font-weight: bold;
}
#container h2.bottom_line.no_bottom_margin { margin-bottom: 0; }
#container h3.bottom_line {
	border-bottom: 1px dotted #bfbfbf;
        margin-top: 15px;
	margin-bottom: 15px;
	font-weight: bold;
  padding-bottom: 1px;
}
#container h3.bottom_line.no_bottom_margin { margin-bottom: 0; }

#container a.download {
 display: block;
 height: 11px;
 line-height: 17px;
 border-bottom: none;
 font: 12px Helvetica, Arial, sans-serif;
 color: #274e27;
 padding: 6px 2px 6px 26px;
 margin-left: -2px;
 background: url('icn_download.gif') no-repeat 2px center;
}
#container a.download:hover {
 background: #d7d7ce url('icn_download.gif') no-repeat 2px center;
}

#container a.pdf {
 line-height: 17px; 
 font: 11px Helvetica, Arial, sans-serif;
 padding: 6px 16px 0 0;
 margin: 5px 0 5px 0;
 background: url('icn_pdf.gif') no-repeat center right;
}
#container a.link {
 line-height: 17px; 
 font: 11px Helvetica, Arial, sans-serif;
 padding: 6px 14px 0 0;
 margin: 5px 0 5px 0;
 background: url('icn_link.gif') no-repeat right 5px;
}

#container a.pdf_list {
 display: block;
 line-height: 17px; 
 border-bottom: none; 
 font: 11px Helvetica, Arial, sans-serif;
 padding: 2px 2px 2px 25px; 
 margin: 5px 2px 5px 0;
 background: url('icn_pdf.gif') no-repeat 6px center; 
}
#container a.pdf_list img { vertical-align: middle; }
#container a.pdf_list:hover { text-decoration: underline; }

#container a.lien {
 width: 85%;
 display: block; 
 line-height: 17px;
 border-bottom: none; 
 font: 11px Helvetica, Arial, sans-serif;
 padding: 1px 2px 1px 25px; 
 margin: 5px 2px 5px 0;
 background: url('icn_link.gif') no-repeat 6px center; 
}
#container a.lien:hover { text-decoration: underline; }

#container a.lien_interne {
 width: 85%;
 display: block; 
 line-height: 17px;
 border-bottom: none; 
 font: 11px Helvetica, Arial, sans-serif;
 padding: 1px 2px 1px 0; 
 margin: 5px 2px 5px 0;
}
#container a.lien_interne:hover { text-decoration: underline; }

#container a.lien_solo {
 line-height: 17px; 
 font: 11px Helvetica, Arial, sans-serif;
 padding: 6px 16px 0 0;
 margin: 5px 0 5px 0;
 background: url('icn_link.gif') no-repeat center right;
}


/*

:: ONGLETS DE NAVIGATION --------------------------------------------
   Chargement d'un nouveau HTML  chacun des onglets

*/
#tabs_main {
 clear: both;
 background: url('ombre_onglets.jpg') repeat-x;
 height: 30px;  
 padding: 0;
 margin: 0;
}
.index #tabs_main { 
  padding-top: 10px; /* Marge de haut plus grande pour les onglets de l'accueil */
  background-position: 0 10px;
}  
#tabs_main li {
 display: block;
 float: left;
 margin-right: 13px;
}
#tabs_main li a {
 background-color: #EDEDED;
 border: 1px solid #DAD9D4;
 border-bottom: none;
 color: #3A5426;
 display: block;
 font-size: 13px;
 height: 14px;
 padding: 7px 11px;
 text-transform: uppercase;
}
#tabs_main li:hover a {
 background-color: #ddd;
 color: #4A8456;
 height: 14px;	
 padding: 7px 11px;
}
#tabs_main li a:hover {
 color: #4A8456;
}
#tabs_main li.active a {
 background-color: white;
 height: 15px;
}
#tabs_main li.active a:hover {
 cursor: default;
 color: #3A5426;
}
#tabs_sub {
 clear: both;
 height: 27px;
 padding-left: 7px;
 border-bottom: 1px solid #dad9d4;
 color: #9ca992;
 text-transform: uppercase;
}
#tabs_sub li {
 display: block;
 float: left;
 padding: 5px 10px 3px 0;
 margin: 2px 10px 2px 0;
 border-right: 1px dotted #dad9d4;
 height: 14px;
}
#tabs_sub li:last-child {
 border-right: none;
}
#tabs_sub li a {
 color: #9ca992;
 text-transform: uppercase;
 font: bold 11px Arial, Helvetica, sans-serif;
 border-bottom: none;
}
#tabs_sub li a:hover {
 color: #3a5426;
}
#tabs_sub li.active a {
 color: #3a5426;
}


/*

:: OMBRE DE HAUT DE PAGE --------------------------------------------
   Remplace les onglets de navigation lorsqu'ils sont absents

*/
#ombre_hr {
 background: url('ombre_onglets.jpg') repeat-x 0 -12px;
 height: 18px;
 padding: 0;
 margin: -15px 0 0 0;
}
#ombre_hr_marge {
 background: url('ombre_onglets.jpg') repeat-x 0 -12px;
 height: 18px;
}
#ombre_hr_head {
 background: url('ombre_onglets.jpg') repeat-x 0 26px;
 height: 18px;
 padding: 38px 0 0;
 margin: 0;
/* clear: both;  */
/* position: relative;
 top: -15px; */
}
.ombre_header {
  background: url('ombre_onglets.jpg') repeat-x 0 bottom;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/*

:: OUTILS - ICONES --------------------------------------------------

*/
#container #tools {
 float: left;
 width: 200px;
 height: 24px;
 border-top: #bfbfbf 1px dotted;
 border-bottom: #bfbfbf 1px dotted;	
 padding: 0;
 text-align: right;
 margin: 15px 15px 15px 0;
 overflow: hidden;
}
#container .col #tools {
 float: none;
 width: auto;
 margin: 0 0 15px 0;
}
#container #tools img {
 margin-left: 7px;
}
#container #tools_main {
 float: left;
 width: 72px;
 height: 21px;
 padding-top: 0;
 text-align: right;
 margin: 0 10px 0 0;
}
#container .col #tools_main {
 float: none;
 margin: 0 0 15px 0;
 width: auto;
}
#container #tools_main img {
 margin-left: 7px;
}

/* 

 :: FIL D'ARIANE ----------------------------------------------------

*/
#container #breadcrumb {
 float: left;
 width: 750px;
 height: 24px;
 border-top: #bfbfbf 1px dotted;
 border-bottom: #bfbfbf 1px dotted;
 margin: 15px 0 15px 15px;
}
#container #breadcrumb a {
 display: block;
 float: left;
 color: #745e31;
 border-bottom: 0;
 padding-right: 14px;
 margin-right: 7px;
 text-transform: uppercase;
 font-size: 15px;
 margin-top: 4px;
}
#container #breadcrumb a:first-child {
 margin-left: 7px;
 font-size: 12px;
 margin-top: 7px;
 background: url('http://www.sepaq.com/resources/images/interface/container/separateur.gif') no-repeat right center;
}

#container #breadcrumbSolo {
 float: left;
 width: 750px;
 height: 24px;
 border-top: #bfbfbf 1px dotted;
 border-bottom: #bfbfbf 1px dotted;
 margin: 15px 0 15px 15px;
}
#container #breadcrumbSolo a {
 display: block;
 float: left;
 color: #745e31;
 border-bottom: 0;
 padding-right: 14px;
 margin-right: 7px;
 text-transform: uppercase;
 font-size: 15px;
 margin-top: 4px;
}

/* 

:: BAS DE PAGE ------------------------------------------------------

*/
#footer {
	border-top: #dad9d4 1px solid;
	width: 940px;
	height: 68px;
	margin: 0 auto;
	background: white url(ombre_footer.gif) repeat-x;
	padding: 19px 20px 0 20px;
}
#footer .contact {
	float: left;
	color: #3b2829;
	font-size: 18px;
}
#footer .contact span {
	border-left: 1px dotted #888;
	margin: 0 9px 0 12px;
}
#footer .contact a {
	color: #3b2829;
	text-transform: uppercase;
	text-decoration: none;
}
#footer .contact a:hover {
	border-bottom: 1px dotted #3b2829;
}
/* Aligne l'image verticalement avec le texte */
#footer .contact img {
	vertical-align: middle;
	margin-bottom: -2px;
	width: 16px;
	height: 17px;
}
#footer .copyright {
	float: right;
	color: #5d605d;
}
#footer .copyright a {
	color: #5d605d;
	text-decoration: none;
}
#footer .copyright a:hover, #footer .copyright a:active {
	text-decoration: underline;
	color: #7d807d;
}

/*

:: BLOC DE NAVIGATION PAR SECTIONS  --------------------------------------------
   Present sur l'index principal

*/
#container .sections {
	font: 14px Arial, Helvetica, sans-serif;
	margin: 13px 0 18px 0;
}
#container .sections a {
	color: #4d3636;
	border-bottom: none;
	display: block;
	width: 150px;
	float: left;
	padding: 4px 0 4px 40px;
	margin: 1px 0;
	background-position: 8px center;
	background-repeat: no-repeat;
  }
  #container .sections a#link_affaires { background-image: url('affaire.gif'); }
  #container .sections a#link_boutique { background-image: url('boutique.gif'); }
  #container .sections a#link_bulletins { background-image: url('bulletins.gif'); }
  #container .sections a#link_carte { background-image: url(carte.gif); }
  #container .sections a#link_carteparc { background-image: url(carteparc.gif); background-position: 4px center; }
  #container .sections a#link_cheques { background-image: url('cheques.gif'); }
  #container .sections a#link_concours { background-image: url('concours.gif'); }
  #container .sections a#link_dern_minute { background-image: url(derniere_minute.gif); background-position: 11px center; }
  #container .sections a#link_distinctions { background-image: url('distinctions.gif'); }
  #container .sections a#link_groupes { background-image: url('groupes.gif'); }
  #container .sections a#link_neige { background-image: url('conditions_neige.gif'); }
  #container .sections a#link_scolaire { background-image: url('scolaire.gif'); }
  #container .sections a#link_securite { background-image: url('securite.gif'); }
  #container .sections a#link_neige { background-image: url('neige.png'); }

  #container .sections a.link_bleu { color: #3f85a0; }

#container .sections a:hover, #container .sections a:active {
	background-color: #eee;
}
#container .sections hr {
  clear: both;
  border: none;
  border-top: 1px dotted #bfbfbf;
  margin: 0;
  padding: 0;
  height: 1px;
}

/* ----------------------------------------------
	Affichage de la carte de localisation
        Etablissement : Information
	---------------------------------------------- 
*/
#container a.carte_localisation {
  border-bottom: none;
  display: block;
  margin: 15px 0;
}


/* ----------------------------------------------
	Hub de produits
	---------------------------------------------- 
*/

.produit .texte_intro {
 padding: 0 15px;
}

.produit .titre {
	float: left;
	width: 750px;
	height: 24px;
	border-top: #bfbfbf 1px dotted;
	border-bottom: #bfbfbf 1px dotted;
	margin: 15px 0 15px 15px;
        overflow: hidden;
}
.produit .titre h3 {
	color: #496530;
	text-transform: uppercase;
	font: normal 18px Arial, Helvetica, sans-serif;
        padding: 0;
        margin: 1px 0 0 9px;
        letter-spacing: 1px;
}
.produit .col h3.icn {
        display: block;
        height: 30px;
	color: #3d7737;
	text-transform: uppercase;
	font: normal 13px Arial, Helvetica, sans-serif;
        padding: 0 0 0 34px;
        margin: 3px 0 15px 0;
        line-height: 30px;
}
.produit.forfaits .col h3.icn {
        margin: 15px 0 5px 0;
}

.produit .col h3.camping { background: url('act_camping.gif') no-repeat; }
.produit .col h3.chalet { background: url('act_chalet.gif') no-repeat; }
.produit .col h3.hotellerie { background: url('act_hotel.gif') no-repeat; }

.produit .col h3.randonnee { background: url('act_randonnee.gif') no-repeat; }
.produit .col h3.plan_eau { background: url('rf_plan_eau.gif') no-repeat; }
.produit .col h3.escalade { background: url('act_escalade.gif') no-repeat; }
.produit .col h3.observation { background: url('act_observation.gif') no-repeat; }
.produit .col h3.gastronomie { background: url('act_gastronomie.gif') no-repeat; }
.produit .col h3.peche { background: url('act_ico_peche.gif') no-repeat; }
.produit .col h3.chasse { background: url('act_chasse.gif') no-repeat; }
.produit .col h3.spa_scandinave { background: url('act_spa_scandinave.gif') no-repeat; }

.produit .col h3.plein-air { background: url('act_randonnee.gif') no-repeat; }
.produit .col h3.romance { background: url('act_romance.gif') no-repeat; }
.produit .col h3.golf{ background: url('act_golf.gif') no-repeat; }
.produit .col h3.villegiature { background: url('act_randonnee.gif') no-repeat; }
.produit .col h3.detente { background: url('act_detente.gif') no-repeat; }
.produit .col h3.corporatif { background: url('act_corpo.gif') no-repeat; }





.produit.hub #container .col ul  {
 margin: 13px 0 35px 0;
 padding-left: 0;
 list-style-type: none; 
}
.produit.hub #container .col li {
 margin: 0;
 padding: 0;
}
.produit.hub #container .col li a {
 display: block;
 width: 290px;
 border-bottom: 1px dotted #bfbfbf;
 text-decoration:none;
 color: #496530;
 padding: 0 0 0 7px;
 font-size: 12px;
 height: 24px;
 line-height: 24px;
}
.produit.hub #container .col li a:hover {
 border-bottom: 1px dotted #bfbfbf;
 color: #698550;
 background-color: #eee;
}

/* ----------------------------------------------
	Caroussel de photos
	---------------------------------------------- 
*/
div.caroussel_thumbs {
  padding: 13px 0 10px 10px;
  margin-bottom: 15px;
}
#container div.caroussel_thumbs a {
	border-bottom: none;
	text-decoration: none;
}
div.caroussel_thumbs img {
	border: 1px solid #c6c6c6;
	padding: 3px;
	background-color: white;
	margin-right: 6px;
	margin-bottom: 6px;
}
div.caroussel_thumbs a:hover img {
/*	background-color: #bbb; */
	border: 1px solid #888;
}
.carousselImageViewerWindow {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -275px;
    width: 600px;
    background-color: #333;
    color: #333;
    border: 25px solid #333;
    padding: 0;
}

.carousselImageViewerWindow #main_image {
    margin: 0 0 30px 0;
    height: 402px;
    width: 600px;
    background: black;
}
.carousselImageViewerWindow #main_image img{
    margin-bottom: 1px;
}
.carousselImageViewerWindow .caroussel {
    width: 702px;
    margin: 0 auto;
}
#container .carousselImageViewerWindow ul {
 margin-left: 0;
 padding-left: 0;
}
.carousselImageViewerWindow  .caroussel li {
   width: 75px;
   height: 51px;
   border: 3px double #111;
   margin: 0 12px 0 0;
   background: #000;
}
.carousselImageViewerWindow .caroussel li div {
    left: 240px
}
.carousselImageViewerWindow .caroussel li div .caption {
    font: italic 0.7em/1.4 georgia,serif;
}
.carousselImageViewerWindow .caption {
    display: block;
    width: 100%;
    text-align: right;
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #bbb;
}
#carousselImageViewer .jqmClose {
 position: absolute;
 font: bold 14px Arial, Helvetica, sans-serif;
 float: right;
}
#carousselImageViewer .gallery_scroller {
 overflow: auto;
 width: 600px;
 height: 80px;
}


/* ----------------------------------------------
	Affichage des forfaits
	---------------------------------------------- 
*/

/* Forfaits */
#container .liste_forfaits {
 overflow: hidden;
 display: block;
 padding:5px 0 5px 55px;
}
#container .liste_forfaits_gauche { float: left; width: 150px; }
#container .liste_forfaits_droite { float: left; width: 330px; }
#container .liste_forfaits_gauche div.bloc {
 border: 1px solid #c6c6c6;
 width: 117px;
 padding: 9px;
 background: white;
}
#container .liste_forfaits_gauche div.bloc p {
 margin: 0;
 padding: 0;
 font-size: 10px;
 line-height: 12px;
}
#container .liste_forfaits_gauche div.bloc span.montant {
 font: normal 24px Arial, Helvetica, sans-serif;
 color: #51779c;
 line-height: 40px; 
}
#container .liste_forfaits_droite h4:first-child { margin-top: 3px; }
#forfait_item h3 {
  margin-bottom: 5px;
  margin-top: 0;
  overflow: hidden;
}
#forfait_item h3 span {
  display: block;
  margin:7px 0 0 38px;
  vertical-align: middle
}
#forfait_item h3 img {
  display: block;
  float: left;
  margin-right: 5px;
  vertical-align: middle;
}
#forfait_item .forfait_item_desc {
  overflow: hidden;
  display: block;
  padding:5px 0 5px 38px;
}
#container .box.box_forfait hr {  margin: 0; }
#forfait_item .forfait_item_gauche {
  float: left;
  width: 150px;
  margin: 0 0 10px;
}
#forfait_item .forfait_item_gauche div.bloc {
  background: white none repeat scroll 0 0;
  border: 1px solid #C6C6C6;
  padding: 9px;
  width: 117px;
}
#forfait_item .forfait_item_gauche div.bloc p {
  font-size: 10px;
  line-height: 12px;
  margin: 0;
  padding: 0;
}
#forfait_item .forfait_item_gauche div.bloc span.montant {
  color:#51779C;
  font-family:Arial,Helvetica,sans-serif;
  font-size:24px;
  line-height:40px;
}
#forfait_item .forfait_item_gauche img {
  border: 1px solid #BFBFBF;
  margin: 3px 15px 15px 0;
}
#forfait_item .forfait_item_droite {
  float: left;
  width: 320px;
  margin: 0 0 10px;
}
#forfait_item .forfait_item_droite h4:first-child { margin-top: 0; }



/* ----------------------------------------------
	Evenements
	---------------------------------------------- 
*/
.event_date {
	margin-right: 3px;
	font-weight: bold;
}

/* Cache les onglets et acccordeons */
.ui-tabs .ui-tabs-hide {
   display: none;
 }


body #container #breadcrumb a { color: #745e31; }
body #container #breadcrumb a:first-child { background: url('separateur_pq.gif') no-repeat right center; }
body #container #breadcrumbSolo a { color: #274E27; }

/* ----------------------------------------------
	Couleurs - Parcs Quebec
	---------------------------------------------- 
*/
body.pq #container #breadcrumb a { color: #745e31; }
body.pq #container #breadcrumb a:first-child { background: url('separateur_pq.gif') no-repeat right center; }
body.pq #container #breadcrumbSolo a { color: #745e31; }

/* ----------------------------------------------
	Couleurs - Reserves Fauniques
	---------------------------------------------- 
*/
body.rf #container #breadcrumb a { color: #949d5e; }
body.rf #container #breadcrumb a:first-child  { background: url('separateur_rf.gif') no-repeat right center; }
body.rf #container #breadcrumbSolo a { color: #949d5e; }

/* ----------------------------------------------
	Couleurs - Centres Touristiques
	---------------------------------------------- 
*/
body.ct #container #breadcrumb a, body.ct #container #breadcrumbSolo a { color: #5179a5; }
body.ct #container #breadcrumb a:first-child { background: url('separateur_ct.gif') no-repeat right center; }
body.ctf #container #breadcrumbSolo a { color: #5179a5; }

/* ----------------------------------------------
	Couleurs - Sepaq Anticosti
	---------------------------------------------- 
*/
body.san #container #breadcrumbSolo a { color: #8b4231; }


/* ----------------------------------------------
Filtres
	---------------------------------------------- 
*/
#filtre_reseaux {
 background: url(filtres_background.gif) repeat-x;
 display: block;
 height: 20px;
 margin: 12px 0 0;
 text-transform: uppercase;
 width: 100%;
}
#filtre_reseaux span {
 border-left: 1px solid #bababa;
 border-right: 1px solid #f4f4f4;
 color: #717171;
 float: left;
 font-weight: bold;
 height: 20px;
 line-height: 20px;
 overflow: hidden;
 padding: 0 12px 0 6px;
}
#selectNetwork #filtre_reseaux span {
 font-size: 10px;
 padding: 0 8px 0 6px;
 line-height: 20px;
 vertical-align: middle;
}
#selectNetwork #filtre_reseaux span:first-child { border-left: none; }
#selectNetwork #filtre_reseaux span:last-child { border-right: none; }
#filtre_reseaux span#fil_label, #filtre_reseaux span#fil_tous {
 color: #3b6e33;
}
#filtre_reseaux span#fil_label { border-left: none; padding-left: 15px; }
#filtre_reseaux span#fil_ct { border-right: none; }
#filtre_reseaux span input { float: left; }
#filtre_reseaux span label {
 float: left; 
 line-height: 20px;
 height: 20px;
}
#filtre_reseaux #fil_tous.active { 	background:transparent url(filtre_actif_all.gif) 0 0 repeat-x; }
#filtre_reseaux #fil_pq.active { background:transparent url(filtre_actif.gif) 0 0 repeat-x; }
#filtre_reseaux #fil_rf.active { background:transparent url(filtre_actif_rf.gif) 0 0 repeat-x; }
#filtre_reseaux #fil_ct.active { background:transparent url(filtre_actif_ct.gif) 0 0 repeat-x; }
#filtre_reseaux span.active label { color: white; }

.liste_bloc_forfaits { padding-bottom: 15px; }
.bloc_forfait {
 display: block;
 margin: 0;
 cursor: pointer;
}
#container a.bloc_forfait {
 border: none;
 padding: 15px;
}
#container a.bloc_forfait:hover {
  background: url('ombre_box_top.png') repeat-x top;
}
#container .bloc_forfait h3 {
 margin-top: 0;
 margin-bottom: 5px;
 overflow: hidden;
}
.bloc_forfait h3 img {
 vertical-align: middle;
 margin-right: 5px;
display: block; float: left;
}
.bloc_forfait h3 span {
 display: block;
 margin: 7px 0 0 38px;
 vertical-align: middle;
}
.forfaitTitre {
 background: url(onglet_2_off_ct.gif);
 color: white;
 display: block;
 height: 26px;
 line-height: 26px;
 padding-left: 15px;
 text-transform: uppercase;
 width: 525px;
 margin-top: 12px;
}
#AIG .forfaitTitre, #PAN .forfaitTitre, #BIC .forfaitTitre,
#FRO .forfaitTitre, #GAS .forfaitTitre, #GMA .forfaitTitre,
#GRJ .forfaitTitre, #HGO .forfaitTitre, #BON .forfaitTitre,
#BOU .forfaitTitre, #JAC .forfaitTitre, #MIG .forfaitTitre,
#MME .forfaitTitre, #MOR .forfaitTitre, #MSB .forfaitTitre,
#MOT .forfaitTitre, #MVA .forfaitTitre, #OKA .forfaitTitre,
#PIN .forfaitTitre, #PLA .forfaitTitre, #PTA .forfaitTitre,
#SAG .forfaitTitre, #SSL .forfaitTitre, #YAM .forfaitTitre {
 background: url(onglet_2_off_pq.gif);
} 
#ASH .forfaitTitre, #ASN .forfaitTitre, #CHC .forfaitTitre,
#AMW .forfaitTitre, #LAU .forfaitTitre, #LVY .forfaitTitre,
#MAS .forfaitTitre, #MAT .forfaitTitre, #PAL .forfaitTitre,
#SPC .forfaitTitre, #POD .forfaitTitre, #POR .forfaitTitre,
#RIM .forfaitTitre, #ROM .forfaitTitre, #STM .forfaitTitre {
 background: url(onglet_2_off_rf.gif);
} 


#container .bloc_forfait .bloc {
 float: right;
 padding: 12px 8px 8px;
 background-color: white;
 border: 1px solid #c6c6c4;
 width: 117px;
}
#container .bloc_forfait .bloc p {
 color: #5D605D;
 margin: 0 0 -5px;
 padding: 0;
 font-size: 10px;
 line-height: 12px;
}
.bloc_forfait .bloc .montant {
 font: normal 24px Arial, Helvetica, sans-serif;
 color: #51779c;
 line-height: 40px; 
}



/***********************************************************************************************************************************************/
.smallGameForm h3{margin-top:0px; color:#59574b;}
.smallGameForm h3{margin-top:0px; color:#59574b;}
.borderedBox{border:1px solid #a2a39e; padding:2px 5px;}
.smallGameForm .subCol{float:left; margin:0px 30px 0px 0px; padding:0px 0px 0px 0px;}
.smallGameForm .box_info div.col_info .subCol label{display:block; margin:0px 0px; padding:0px 0px; line-height:12px;}
.smallGameForm .box_info .secCol{width:190px;}
/***********************************************************************************************************************************************/


/***********************************************************************************************************************************************/
.dayFishingForm h3{margin-top:0px; margin-left: 61px; color:#59574b;}
.dayFishingForm h3{margin-top:0px; color:#59574b;}
.borderedBox{border:1px solid #a2a39e; padding:2px 5px;}
.dayFishingForm .subCol{float:left; margin:0px 30px 0px 0px; padding:0px 0px 0px 0px;}
.dayFishingForm .box_info div.col_info .subCol label{display:block; margin:0px 0px; padding:0px 0px; line-height:12px;}
.dayFishingForm .box_info .secCol{width:190px;}
/***********************************************************************************************************************************************/




/*

:: ZONE VIDEO --------------------------------------------
   Affichage des videos sur l'index du site

*/

#zonevideo {
 background: transparent url(zone-video-bkg.gif) repeat-x 0 0;
 margin-bottom: 22px;
}
#zonevideo a { border-bottom: none ! important; }

#t_zone_video { width: 380px; height: 48px; }

.video { margin-top:1px;padding: 0;}

div.video h3 {
	margin:0;
	background: transparent url(zone-video-h3.gif) repeat-x 0 0;
	height:24px;
	line-height: 24px;
	padding-left:10px;
}
div.video h3:hover {
  background-image: url(zone-video-h3-hover.gif);
}


	div.video h3,
	div.video h3 a {
		color: #2c5da0;
		cursor: pointer;
		font-size: 12px;
	}
	
	div.video div.desc {
		background: #e5e5e5 url(http://www.sepaq.com/resources/images/interface/zone-video-desc.png) repeat-x 0 0;
		padding:10px;
		position: relative;
                height: 139px;
	}

.video_thumbnail {
 float: left;
 display: inline;
 position: relative;
}
	
	.video_thumbnail img {
		width:240px;
	}
	
.video .video_link {
 position: absolute;
 left: 256px;
 bottom: 0; 
 line-height:20px;
}
	div.video div.video_link a {
		border-width: 0;
	}

	div.video div.video_link a {
		text-decoration: none;
	}
#container .video .video_link p {
 line-height: 13px;
}
.play_button {
 position: relative;
 bottom: 23px;
 right: 23px;
}
#zone_video_image {
  background: url(t_zone_video.png) no-repeat 0 0;
  width: 380px;
  height: 47px;
  text-indent: -5000px;
}
.lang_en #zone_video_image {
  background-image: url(t_zone_video_en.png);
}


/*  Affichage du lightbox video */

#video_lightbox {
 background-color: black;
}

#pp_full_res iframe {
 overflow: hidden;
}

/* 

:: NAVIGATION PAR ONGLETS - SECURITE -----------------------------------------------------------

*/
#container ul.tab_nav {
  background: #3f8434;
  display: block;
  height: 22px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#container ul.tab_nav li { display: inline; }
#container ul.tab_nav li a {
  border-bottom: none;
  color: #d8cdbb;
  line-height: 22px;
  padding: 0px 7px 0px 8px;
  border-left: 1px dotted white;
}
#container ul.tab_nav li:first-child a {
  border-left: none;
}
#container ul.tab_nav li a.selected {
  color: white;
}

#container a.btn_securite {
  display: block;
  text-indent: -5000px;
  border-bottom: none;
  width: 380px;
  height: 63px;
  background: url(btn_securite.png) no-repeat 0 0;
  margin-bottom: 25px;
}
#container a.btn_securite:hover {
  background: url(btn_securite.png) no-repeat 0 -63px;  
}
.lang_en #container a.btn_securite {
  background: url(btn_securite_en.png) no-repeat 0 0;
}
.lang_en #container a.btn_securite:hover {
  background: url(btn_securite_en.png) no-repeat 0 -63px;  
}



/* 

 :: NEWS TICKER -----------------------------------------------------------

*/

.newsticker {
  list-style-type: none;
  padding: 0px;
  margin: 0;
}
.newsticker a {
  text-decoration: none;
  color: rgb(0,0,0);
}

/* *******************
   PopUp
   *******************
*/
.pop_up {
	z-index: 2;
	position: absolute;
	background: url(overlay_clear.png);
	padding: 15px 15px 15px 15px;
	/*
top: 50%;
        margin-top: -150px;
	left: 30%;
        margin-left: -250px;
*/
	top:0;
}
.pop_up.calendar {
	left:0;
}

.pop_up .pop_up_body {
	background: #fff;
	border: 1px solid #ddd;
	padding: 0;
    /* width: 325px; */
}

.pop_up.calendar .pop_up_body {
        width: 825px;
}
.pop_up_body .btn {
	float: left;
	margin: 0px 10px;
}
.pop_up_body hr {
	border: 0px;
	background: none;
}

.popHebergement table {
	margin:10px 0;
}

.popHebergement table th,
.popHebergement table td {
	vertical-align:middle;
	text-align:center;
}

.popHebergement table tr td:first-child {
	text-align:left;
}




#pop_up_1 {
	float: left;
 	width: 280px;
    padding: 0 15px 0 30px;
}
#pop_up_1 .form,
dl.form {
}
#pop_up_1 .form dt,
dl.form dt {
	width: 75%;
	color: #315726;
	font-size: 12px;
	margin: 10px 0px;
}

dl.form dt {
	margin:0;
}

#pop_up_1 .form dd {
	margin: 10px 0px;
}

dl.form dd {
	margin-bottom:10px;
}

#pop_up_1 .form select,
dl.form .short select {
	width: 75px;
}

#pop_up_1 .form input.qte,
dl.form input.qte {
	width: 50px;
}

#pop_up_2 {
	float: left;
/*	width: 475px; */
	margin: 0px 0px 0px 25px;
}
#pop_up_2 h3 img {
	margin-right: 5px;
	vertical-align: middle;
}


.pop_up_body #titre_popover {
 display: block;
 width: 295px;
 height: 55px;
 background: url('bg_calPopUp.gif') repeat-x 0 15px;
 border-bottom: none;
 padding: 15px 15px 0 15px;
 margin-left: -30px;
/*  margin-right: -15px; */
}
.pop_up_body #pop_up_2 #titre_popover {
 width: 475px;
}

.pop_up_body #titre_popover img {
	margin-right: 5px;
	vertical-align: middle;
}
.pop_up_body #titre_popover span {
	margin-right: 5px;
	vertical-align: middle;
        color: #3a5426;
        font-size: 14px;
        margin-left: 5px;
}


#pop_up_3 { 
        padding: 0 15px 15px 15px;
}

#container a.unitRemoveButton {
 border-bottom: none;
}



/*

 :: JOURNAL DU PARC --------------------------------------------

*/
.journal_parc {
  padding: 3px;
  border-top: #bfbfbf dotted 1px;
  border-bottom: #bfbfbf dotted 1px;
  margin-bottom: 20px;
}

#selectedUnitsTable th,#selectedUnitsTable td{
	padding:10px 8px;
}


/* 

 :: Carte interactive temp (en construction)

*/
#mapContainerSoon {
  width: 950px;
  height: 520px;
  background: url(carte_soon.jpg) no-repeat;
}
.lang_en #mapContainerSoon {
  background: url(carte_soon_en.jpg) no-repeat;
}


.doc_corpo {
  float: left; 
  width: 160px;
  height: 240px;
}
.doc_corpo .doc_lien {
  width: 130px;
  display: block;
  margin-bottom: 5px;
}
.doc_corpo .doc_titre {
  padding-right: 30px;
}
#container .doc_corpo .doc_titre a, #container .doc_corpo a.doc_lien {
  line-height: 14px;
  border-bottom: none;
}

/*

 :: Organisation - Resources humaines (emploi)

*/
.emploi { background: #f2f2f2; margin-top: -3px; }
#container .emploi a.emploi_lien { border-bottom: 1px dotted #bfbfbf; display: block; padding: 8px 8px 8px 33px; background: url(emploi_crochet.png) no-repeat 7px 7px; }
#container .emploi a.emploi_lien:hover { background-color: #e2e2e2; }
.emploi span { font-weight: bold; }
.emploi_texte { background: #e1e1e1; padding: 15px 12px 5px; }
.emploi_texte span { color: #2c5da0; font-weight: bold; }

/*

 :: Carte interactive - cacher le textbox 

*/
#safari_remember_field { display: none; }
#ie_historyFrame { display: none; }


/*

 :: Popover hbergement (pour Safari seulement)

*/
.tableau_line_header, .tableau_line {
  width: auto;
  overflow: hidden; 
  clear: both;
}
.tableau_line_header { 
  color:#395325; 
  font-size:11px;
  margin-top: 7px;
}
.tableau_line {
  font-size: 11px;
}
.tableau_line div, .tableau_line_header div {
  vertical-align:middle;
  text-align:center;
  float: left; 
  padding: 7px;
  border-collapse: collapse;
}
.tableau_line div:first-child {
  text-align:left;
  font-weight: bold;
  color:#395325; 
}
.tableau_line_header div {
  border: 1px solid #D6D5D0;
  border-left: none;
  background:transparent url(ombre_top_short.jpg) repeat-x scroll 0 0;
  height: 32px;
}
.tableau_line div {
  border-bottom: 1px solid #D6D5D0;
  border-right:  1px solid #D6D5D0;
  height: 23px;
}
.tableau_line div:first-child, .tableau_line_header div:first-child {
  border-left: 1px solid #D6D5D0;
}
.tableau_line div.even {
 background-color: #f7f7f7;
}

/*

 :: LOCATION TAG ----------------------------------------------------------------------------------------
 
*/
#location_tag {
  position: absolute; right: 50%; top: 412px; margin-right: -477px;
  display: block;
  height: 22px;
  padding: 0 6px 0 27px;
  font: 12px Arial, Helvetica, sans-serif;
  color: white;
  background: url(location_tag.png) no-repeat top left;
  text-decoration: none;
  line-height: 22px;
}
#location_tag:hover {
  background-position: 0 -22px;
  color: white;
} 


/* Gestion d'affichage en anglais */
.lang_en #acces_info {
  display: none;
}
.lang_en li#conserver {
  display: none;
}
.lang_en li#decouvrir {
  display: none;
}



/*

 :: CONDITIONS DE NEIGE ----------------------------------------------------------------------------------

*/
.neige table th { 
  background-image: url(table_top_turquoise.png);
  color: white;
  font-weight: bold;
}
.neige #zone_titre { height: 220px; }
.neige #zone_titre h1 { height: 220px; }
.produit .texte_intro { padding: 0 15px; }

.neige .titre {
  float: left;
  width: 750px;
  height: 24px;
  border-top: #bfbfbf 1px dotted;
  border-bottom: #bfbfbf 1px dotted;
  margin: 15px 0 15px 15px;
  overflow: hidden;
}

.neige .titre h3 {
  color: #496530;
  text-transform: uppercase;
  font: normal 18px Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 1px 0 0 9px;
  letter-spacing: 1px;
}
.neige #container a.button.meteo {
  float: right;
  margin-right: 0;
  margin-top: 5px; 
  margin-bottom: 10px;
}
.neige .neige_logo_etablissement {
  padding-right: 8px; 
  margin-right: 8px;
}
.neige .neige_header {
  position: relative; 
  margin-bottom: 5px;
}
.neige .neige_header .date {
  margin-bottom: 10px; 
  position: absolute; 
  bottom: -9px; 
  right: 1px;
}
.neige .neige_wrapper {
  padding: 15px 15px 0; 
  border: 1px solid #D6D5D0;
}
.neige .neige_table_new {
  width: 210px; 
  float: left; 
  background-color: white;
}
.neige .neige_table_act {
  width: 679px; 
  background-color: white;
}
.neige .neige_table_wrapper {
  min-height: 168px;
  margin-left: 237px; 
  margin-bottom: 5px; 
}

.neige .neige_table_new .header {
  border-right: none; 
  font-weight: bold;
}
.neige .neige_table_new .merge {
  border-left: none;
}
.neige .neige_table_act .header {
  font-weight: bold;
}
.neige .date b {
  font-size: 9px;
}
.neige .message {
  margin-top: 8px; 
  width: 750px;
  padding-bottom: 12px;
  line-height: 15px;
}
.neige .separator {
  float: left; 
  height: 161px; 
  margin-left: 13px; 
  border-left: 1px dotted #aaa;
}



/*

 :: MESSAGES ERREUR

*/
#errorMessages {
  color: #A00;
  font-weight: bold;
  font-size: 110%;
}


/*

 :: TWITTER
    Sur le hub Rseau Spaq

*/
#twitter {
  float: left;
}
#container #twitter a {
  border-bottom: none; 
  display: block; 
  background: url(twitter.png) no-repeat 8px 5px; 
  line-height: 25px; 
  height: 25px; 
  padding-left: 29px;
  padding-right: 6px;
  color: #6e6f6e;
}
#container #twitter a:hover {
  color: #4e4f4e;
  background-color: #efefef;
}



/* 

 :: QUICK RESERVATION 

*/

#quick_reservation ul {
  margin:0;
  padding:0;
}
#quick_reservation .col ul li {
  list-style: none;
  margin-bottom:0;
  position: relative;
}
#quick_reservation ul li a {
  border-width: 0;
  display: block;
  padding:6px;
  color: #1d7ba3;
}
#quick_reservation ul li a:hover {
  color: #1d7ba3;
}
#PQ-list ul li a,
#RF-list ul li a,
#CT-list ul li a {
  background-image : url(arrow_link_sprite.gif);
  background-repeat: no-repeat;
  background-position: 168px center;
  border-bottom:1px dotted #b2b2b2;
}
#PQ-list ul li a:hover,
#RF-list ul li a:hover,
#CT-list ul li a:hover {
  background-position: -50px center;
  -moz-box-shadow: 1px 1px 10px #d4d4d4;
  -webkit-box-shadow:1px 1px 10px #d4d4d4;
  border-color: #d2d2d2;
}
#quick_reservation #products-list li a{
  color: #3A5426;
  text-transform: uppercase;
  font-size: 12px;
  padding: 11px 10px 11px 40px;
  border-bottom:1px dotted #d2d2d2;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 5px 2px;
}
#quick_reservation #products-list li a:hover {
  color: #2C5DA0;
  -moz-box-shadow: 1px 1px 10px #cdcdcd;
  -webkit-box-shadow: 1px 1px 10px #cdcdcd;
  position: relative;
  z-index: 10;
  background-position: 5px -38px;
}
#quick_reservation #products-list li a.active {
/*  background-color: #fff; */
  color: #2C5DA0;
  -moz-box-shadow: none; 
  -webkit-box-shadow: none; 
  margin-right:-15px;
  position: relative;
  z-index: 100;
  background-position: 5px -38px;
}
#quick_reservation #products-list li span {
  position: absolute;
  background: url(choix_fleche.png) no-repeat;
  display: block; width: 356px; height: 50px;
  top: -8px; left: -8px; z-index: 80;
}


#quick_reservation #products-list li a.CAMPIN { background-image: url(act_camping_mini.gif); }
#quick_reservation #products-list li a.CHALET { background-image: url(act_chalet_mini.gif); }
#quick_reservation #products-list li a.HOTEL { background-image: url(act_hotel_mini.gif); }
#quick_reservation #products-list li a.SKI { background-image: url(act_ski_mini.gif); }
#quick_reservation #products-list li a.PCHJRS { background-image: url(act_pechejour_mini.gif); }
#quick_reservation #products-list li a.CHSJRS { background-image: url(act_chasse_mini.gif); }
#quick_reservation #products-list li a.CROISI { background-image: url(act_croisiere_mini.gif); }
#quick_reservation #products-list li a.CARTEPARC { background-image: url(act_carteparcs_mini.gif); }
#quick_reservation #products-list li a.CERCAD { background-image: url(act_cheques_mini.png); }
#quick_reservation #products-list li a.PECHE { background-image: url(act_pechejour_mini.gif); }

#container #quick_reservation .col .col640 { overflow: hidden; background: url(bg_camping.gif) no-repeat right 52px; min-height:240px; }

#container #quick_reservation .col .col640.CAMPIN { background-image: url(bg_camping.gif); }
#container #quick_reservation .col .col640.CHALET { background-image: url(bg_chalet.gif); }
#container #quick_reservation .col .col640.HOTEL { background-image: url(bg_hotel.gif); }
#container #quick_reservation .col .col640.SKI { background-image: url(bg_ski.gif); }
#container #quick_reservation .col .col640.PCHJRS { background-image: url(bg_peche.gif); }
#container #quick_reservation .col .col640.CHSJRS { background-image: url(bg_chasse.gif); }
#container #quick_reservation .col .col640.CROISI { background-image: url(bg_croisiere.gif); }
#container #quick_reservation .col .col640.CARTEPARC { background-image: url(http://www.sepaq.com/resources/images/transac/bg_carteparcs.gif); }
#container #quick_reservation .col .col640.CERCAD { background-image: url(http://www.sepaq.com/resources/images/transac/bg_cheques.png); }
#container #quick_reservation .col .col640.PECHE { background-image: url(bg_peche.gif); }

#container #quick_reservation .col .col340 h2 { background: url(icon_1.png) 8px 1px no-repeat; padding-left: 37px; }
#container #quick_reservation .col .col640 h2 { background: url(icon_2.png) 8px 1px no-repeat; padding-left: 37px; }
#container #quick_reservation .col .col640 h2 span { text-transform: none;  }



/*

 :: NORMES GRAPHIQUES 

*/

.normes table.logos { margin-bottom: 15px; }
.normes table.logos, .normes caption, .normes tbody, .normes tr, .normes th, .normes td { vertical-align: middle; }
.normes table.logos td.logo { width: 240px; text-align: left; padding-left: 15px; }
.normes table.logos th { border: none; background: none; font-weight: bold; font-size: 11px; text-align: center; vertical-align: bottom; }
.normes table.logos tr td { text-align: center; width: 77px; padding: 4px 9px; }
.normes table.logos tr td img { padding: 5px; }
.normes #container table.logos tr td a { border-bottom: none; }
.normes table .even { background-color: #f7f7f7; }
/* Borders */
.normes table.logos tr td { border: none; }
.normes table.logos td.logo { border-right: 1px solid #D6D5D0; }
.normes table.logos tbody { border: 1px solid #D6D5D0; }



/*  

 :: TABLEAU D'HEBERGEMENT

*/
.hebergement #container h2#title_sector { margin-top: 0; padding-top: 0; }
.hebergement #container h2.bottom_line { margin-bottom: 15px; }
.hebergement #unitsSelectionArea { margin-top: 0; }
.hebergement #unitDetail .col540 { padding-bottom: 0; }
.hebergement #nextButtonArea .button.next_step { padding-left: 26px; padding-right: 44px; }
.hebergement #nextButtonArea { margin-right: 25px; margin-top: 16px; }


/*

 :: BOUTON VERS TABLEAU D'HEBERGEMENT

*/
#zone_hebergement {
  display: block;
  height: 48px;
  border-top: 1px #d1d1d1 solid;   border-bottom: 1px #d1d1d1 solid; 
}
#zone_hebergement a {
  display: block;
  height: 48px;
  border-bottom: none;
  background: #fbf7e0;
  color: #3A5426;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: 10px 9px;
  font-size: 13px;
  padding-left: 46px;
  line-height: 50px;
}
#zone_hebergement a:hover {
  background: white;
  color: #478db1;
  background-repeat: no-repeat;
  background-position: 10px -31px;
  -moz-box-shadow: 1px 1px 10px #cdcdcd;
  -webkit-box-shadow: 1px 1px 10px #cdcdcd;
}
#zone_hebergement a span {
  background: url("arrow_link_sprite_vertical.gif");
  background-position: 300px -6px;
  background-repeat: no-repeat;
  padding-right: 25px;
}
#zone_hebergement a:hover span {
  background: url("arrow_link_sprite_vertical.gif");
  background-position: 300px -31px;
  background-repeat: no-repeat;
}