* {
	font-family:arial, helvetica, sans-serif;
	letter-spacing: 1px;
}
body {
	margin:0;
	padding:0px;
	text-align:left;
	font-size:77%;
	background:#000;
	font-size:80% !important;
	font-size:80%;
	color:#fff;
	width:100%
}
a {
	word-break-inside:hyphenate
}
.space {
	font-size:0%;
	display:inline !important;
	display:none
}
#lienPrioritaire {
	position:absolute;
	margin:0 !important;
	margin:-4px;
	left:280px;
	top:0px;
	padding:0;
	width:0px;
	height:0px;
	font-size:0%;
	overflow:hidden;
}
#lienPrioritaire li {
	margin:0;
	padding:0;
	list-style-type:none;
	background-color:red;
	font-size:0%;
	height:0%
}
#lienPrioritaire img {
	border:none
}
#accesRapide {
	position:absolute;
	margin:0 !important;
	left:280px;
	top:0px;
	margin:-4px;
	padding:0;
	width:0px;
	height:0px;
	font-size:0%;
	overflow:hidden;
}
#accesRapide li {
	margin:0;
	padding:0;
	list-style-type:none;
	background-color:black;
	font-size:0%;
	height:0%
}
#accesRapide img {
	border:none
}
a.taille0 {
	font-size:0%;
	height:0%;
	color:#000000
}
acronym {
	cursor:help
}
div#conteneur {
	width:100%;
	text-align:left;
	border-bottom:6px solid #3D484C
}
.chapeau {
	font-weight:bold
}
#carteMeteo img {
	FLOAT:right
}
.blocGauche a {
	text-decoration:underline;
	background:none
}
.blocGauche a:hover {
	text-decoration:none;
	background:none
}
#rechercheHaut {
	float:left
}
#logoCdl {
	padding:0px;
	margin:10px 5px 0px 0px;
	float:right;
	width:188px;
	text-align:center
}
#logoCdl a:link, #logoCdl a:hover, #logoCdl a:visited, #logoCdl a:active {
	text-decoration:none;
	color:white;
	font-size:small !important;
	font-size:small;
	font-weight:normal
}
#logoCdl #imgLogoCdl {
	
}
#logoCdl #lienCdl {
	position:absolute;
	top:0px;
	left:0px
}

legend {display:none;}
#ligneFormRadio legend {display:block !important;}
#formatsouhaiteAbo { padding-top:2px;}
#formatsouhaite { padding-top:2px;}

.TitreModule {
	display:inline-block !important;
	white-space:normal !important;
	color:#9ACD00;
	text-decoration:none;
	line-height:1.3em;
}
.TitreModule * {
	white-space:normal !important;
	display:inline-block !important;
}
.souligne {text-decoration:underline !important;}
form, fieldset {
	border:none;
	margin:0;
	padding:0
}
a {
	color:#fff;
	font-size:100% !important;
	font-size:100%;
	text-decoration:underline
}
a:hover {
	text-decoration:none
}
img {
	border:none
}
div.clearBoth {
	clear:both
}
div.clearBoth1 {
	clear:both
}
div.clear {
	clear:both;
	display:none
}
.cache {
	display:none
}
.separeActu {
	padding:0px;
	margin:0px;
	position:relative;
	top:-10px;
	left:5px
}
#logoHcz {
	float:left;
	margin-right:0px !important;
	margin-right:25px
}
#bandeau {
	text-align:left;
	font-weight:bold;
	padding:0 0 0 0;
	margin:0 0 0 0
}
#bandeau a {
	color:#fff;
	font-size:1.1em;
	text-decoration:none;
	background:url('3x1999.gif') bottom left repeat-x
}
#laBanniere {
	margin-left:257px !important;
	margin-left:260px;
	letter-spacing:0px
}
#laBanniere * {
	letter-spacing:0px !important;
}
#laBanniereBis {
	
}
#persoAffichage {
	float:left
}
#persoAffichage ul {
	margin:0;
	padding:0
}
#persoAffichage ul li {
	float:left;
	margin:0;
	padding:0;
	list-style-type:none;
	font-size:230%
}
#persoAffichage ul li a {
	background:none
}
#persoAffichage ul li img {
	vertical-align:-.8em !important;
	vertical-align:-.77em !important!;
	vertical-align:-.7em;
}
#persoAffichage ul .lienParamsAffichage, #persoAffichage ul .lienParamsAudio {
	padding:0 0 0 40px;
	font-size:100% !important
}
#persoAffichage ul .lienParamsAffichage a, #persoAffichage ul .lienParamsAudio a {
	padding:0;
	display:block;
	text-decoration:none;
	font-size:110% !important;
	width:42px;
	height:40px
}
#persoAffichage ul .lienParamsAffichage a span, #persoAffichage ul .lienParamsAudio a span {
	position:absolute;
	z-index:-2000
}
#persoAffichage ul .lienParamsAffichage a {
	background:url('puce_loupe.png') center left no-repeat
}
#persoAffichage ul .lienParamsAudio a {
	background:url('puce_audio.png') center left no-repeat
}
#persoAffichage ul .lienParamsAudio {
	padding-left:15px
}
p.bodytext {
	padding:0px !important;
	border:0px !important;
	margin:0px !important
}
#banniereMilieu {
	background :black url('bas.png') bottom left repeat-x;
	margin:0px auto;
	padding:15px 10px 0 20px
}
#banniere {
	background-color:#666666;
	vertical-align:middle;
	padding-bottom:6px;
	height:1%;
}
#logos {
	background-color:#8C9293
}
#bandeauBanniere {
	padding:0 10px 0 10px;
	text-align:center;
	float:left
}
#logosContenu {
	background-color:#3F494B
}
#imgBanniere {
	background-color:#666666;
	text-align:center;
	margin-top:5px
}
#imgLogoHdcz {
	float:left
}
h1 {
	margin:0
}
#menuHaut {
	float:left;
	padding:0 0 0 10px;
	font-weight:normal;
	margin:0px
}
#menuHaut ul {
	margin:0px;
	padding:0px
}
#menuHaut li {
	float:left;
	margin:0px 10px 0 0;
	padding:7px 10px 6px 0;
	border-right:1px solid gray;
	list-style-type:none;
	font-size:0.9em
}
#panier {
	float:right;
	margin:0px 10px 0 0;
	padding:7px 10px 0 0;
	font-size:1em !important;
	font-size:0.8em;
	font-weight:normal
}
#logoCdl a:link, #logoCdl a:hover, #logoCdl a:visited, #logoCdl a:active {
	text-decoration:none
}
.degrade {
	background:url('degrade_haut.jpg') repeat-x top left;
	padding-bottom:20px
}
li#dernierLi {
	margin-right:0px
}
#contenu {
	padding:0px;
	background:url('degrade_droite.jpg') repeat-x bottom left;
	margin:0px
}
#contenu2 {
	padding:0px;
	background:url('degrade_court.jpg') repeat-x bottom left;
	margin:0px
}
#contenuGauche {
	float:left;
	width:17%;
	height:100%;
	margin:0 0 10px 0;
	padding:0 0 0 10px
}
#pagination {
	width:100%;
	color:#99CC01;
	text-align:center
}
#pagination a {
	color:#99CC01
}
#pagination span {
	font-weight:bold
}
#contenuMilieu {
	float:left;
	width:56%;
	background-color:black;
	margin:0px;
	padding:0 5px 0 25px;
	height:100%
}
#contenuIntMilieu {
	padding:0 10px 0 10px;
	text-align:center;
	margin:0px
}
#contenuDroite {
	width:21%;
	float:right;
	height:100%;
	margin:0px;
	right:1px
}
#contenuGaucheInt {
	float:left;
	width:20%;
	overflow:hidden
}
#contenuMilieuInt {
	float:left;
	width:50%
}
#contenuDroiteInt {
	width:30%;
	float:right
}
.bloc {
	border-left:6px solid #FD6700;
	padding:0px;
	margin:0 0 10px 0;
	font-size:0.95em !important;
	font-size:0.7em
}
.bloc a, .bloc a:link, .bloc a:visited, .bloc a:active {
	text-decoration:underline;
	color:white;
	font-size:1.1em !important;
	font-size:1.3em
}
.bloc a:hover {
	text-decoration:none;
	color:white
}
.bloc h2 {
	color:#FD6700;
	font-size:100%;
	text-align:left;
	padding:0 0 0 0px;
	margin:0 0 0 5px
}
.bloc .titreMenu {
	color:#FD6700;
	font-weight:bold;
	font-size:137.5% !important;
	font-size:190%;
	text-align:left;
	padding:0 0 0 0px;
	margin:0 0 0 5px
}
#blocEnCeMoment {
	border-left:6px solid #424A4A;
	padding:0px;
	margin:0 0 15px 0;
	vertical-align:top
}
#blocEnCeMoment h2 {
	color:white;
	font-size:x-large;
	text-align:left;
	padding:0 0 0 5px;
	margin:0
}
#blocEnCeMoment h2 a {
	text-decoration:none
}
#blocEnCeMoment #txtEnCeMoment {
	padding:0 0 0 5px;
	margin:0 0 0 0
}
.blocRech {
	border:0px;
	padding:0 0 10px 0;
	margin:0 0 10px 0;
	font-size:1em
}
.bloc2, .bloc3, .bloc4, .bloc5 {
	border:0px;
	padding:0 0 10px 0;
	margin:0 0 10px 0;
	font-size:1em
}
.bloc2 h2, .bloc2 h3, .bloc3 h2, .bloc3 h3, .bloc4 h2, .bloc5 h2, .bloc4 h3, .bloc5 h3 {
	color:#FCFF3E;
	font-size:1.3em;
	border-bottom:5px solid #FCFF3E;
	text-align:left;
	padding:0 0 5px 0;
	margin:0 0 5px 0
}
.bloc2 ul, .bloc3 ul, .bloc4 ul, .bloc5 ul {
	list-style-image:url(new_puce_jaune.gif);
	list-style-type:circle;
	margin:0 0 0 10px;
	padding:0 0 0 10px
}
.bloc2 li, .bloc3 li, .bloc4 li, .bloc5 li, .tsLoisirs li a {
	padding:0 0 0 0px;
	margin:5px 0 0 0;
	vertical-align:middle;
	font-size:1.0em;
	color:#FCFF3E !important;
}
.bloc2 li ul, .bloc3 li ul, .bloc4 li ul, .bloc5 li ul {
	list-style-image:url(new_petit_puce_jaune.gif)
}
.bloc2 #toutesLesActus, .bloc3 #toutesLesActus, .bloc4 #toutesLesActus, .bloc5 #toutesLesActus {
	margin:30px 0 0 10px
}
.bloc2 .txtBlc, .bloc3 .txtBlc, .bloc4 .txtBlc, .bloc5 .txtBlc {
	color:white
}
.bloc2 a:link, .bloc2 a:visited, .bloc2 a:active {
	text-decoration:underline;
	color:white;
	font-size:1.0em !important;
	font-size:1.0em
}
.bloc3 a:link, .bloc3 a:visited, .bloc3 a:active {
	text-decoration:underline;
	color:white;
	font-size:1.0em !important;
	font-size:1.0em
}
.bloc4 a:link, .bloc4 a:visited, .bloc4 a:active {
	text-decoration:underline;
	color:white;
	font-size:1.0em !important;
	font-size:1.0em
}
.bloc5 a:link, .bloc5 a:visited, .bloc5 a:active {
	text-decoration:underline;
	color:white;
	font-size:1.0em !important;
	font-size:1.0em
}
.bloc2 a:hover {
	text-decoration:none;
	color:white
}
.bloc3 a:hover {
	text-decoration:none;
	color:white
}
.bloc4 a:hover {
	text-decoration:none;
	color:white
}
.bloc5 a:hover {
	text-decoration:none;
	color:white
}
.bloc2 #pharmaBraille div {
	float:left;
	padding:5px 0 0 0;
	font-size:1.0em
}
.bloc3 #pharmaBraille div {
	float:left;
	padding:5px 0 0 0;
	font-size:1.0em
}
.bloc4 #pharmaBraille div {
	float:left;
	padding:5px 0 0 0;
	font-size:1.0em
}
.bloc5 #pharmaBraille div {
	float:left;
	padding:5px 0 0 0;
	font-size:1.0em
}
.bloc2 #pharmaBraille #pharmaImg {
	float:right
}
.bloc3 #pharmaBraille #pharmaImg {
	float:right
}
.bloc4 #pharmaBraille #pharmaImg {
	float:right
}
.bloc5 #pharmaBraille #pharmaImg {
	float:right
}
#pharmaBraille #pharmaImg a:link, #pharmaBraille #pharmaImg a:hover, #pharmaBraille #pharmaImg a:visited, #pharmaBraille #pharmaImg a:active {
	text-decoration:none;
	background:url('style.css')
}
h2 {
	font-size:x-large;
	margin-top:0px
}
.txtActu ul {
	margin:0 0 0 10px;
	padding:0 0 0 10px
}
.txtActu li {
	list-style-image:url('new_puce_orange.gif');
	list-style-type:disc;
	padding:0px;
	margin:0px;
	line-height:20px;
	color:#FD6700
}
.padding5 {
	padding:5px
}
.padding15 {
	padding:15px
}
#programmeTele h2 {
	font-size:100% !important;
	font-size:110%;
	margin-top:0px;
	padding-top:10px;
	padding-left:0px
}
#programmeTele {
	padding-left:15px;
	padding-right:10px
}
#programmeTele h3 {
	margin-left:-25px
}
#programmeTele ul {
	padding-top:5px;
	padding-bottom:5px;
	margin-top:0;
	margin-bottom:0
}
#formProgTele {
	padding:0px;
	margin:0px
}
#formProgTele #chaine, #formProgTele #jour {
	width:98%;
	margin:0 0 10px 0;
	background-color:#FDFFB0;
	padding:0px
}
#formProgTele #progLigne {
	margin:10px 0 10px 0
}
#formProgTele #mot, #formProgTele #labelMot {
	
}
#formProgTele #mot {
	background-color:#FDFFB0
}
#formProgTele #heuremin, #formProgTele #heuremax {
	margin:0 0 0px 0;
	background-color:#FDFFB0
}
#formProgTele #boutonSubmit {
	width:8em;
	font-weight:900;
	background-color:#FCFF3E;
	margin:5px;
	margin-bottom:15px
}
#txtDocument li {
	display:block
}
#txtDocument li a {
	line-height:20px;
	background:none
}
#txtDocument li a:hover {
	text-decoration:none;
	line-height:20px;
	background:none
}
.txtActu p {
	padding:0px 10px 0px 15px
}
.photoReader {
	text-align:right;
	padding-left:5px
}
.photoD {
	float:right;
	padding-left:5px
}
.photoM {
	padding-left:5px;
	text-align:center
}
.photoDDocument {
	float:right;
	padding-left:15px
}
.blocActuMilieu {
	padding:0px;
	margin:0px;
	vertical-align:bottom
}
.blocActuMilieu #titrePrincipal {
	border-bottom:6px solid white;
	text-align:left;
	margin:0 0 20px 0 !important;
	margin:0 0 20px 0;
	padding:0px
}
.blocActuMilieu #titrePrincipal h2 {
	font-size:280% !important;
	font-size:250%;
	float:left;
	color:white;
	text-align:left;
	padding:0px;
	margin:0px
}
.blocActuMilieu #date {
	float:right;
	padding:25px 0 0 0
}
.blocActuMilieu  #lienActu {
	margin:10px 0 0 0
}
.blocActuMilieu #lienActuHdcz {
	margin:10px 0 0 0
}
.blocActuMilieu #lienActuHdcz a, .blocActuMilieu #lienActu a {
	color:#99CC00;
	font-size:0.9em
}
.blocInternet {
	border:1px solid #fff;
	padding:5px;
	text-align:justify
}
#actuAFP {
	width:58%;
	text-align:left;
	float:left;
	height:100%;
	margin:0 5px 10px 0;
	padding:0px
}
#actuHdcz {
	width:41% !important;
	width:38%;
	text-align:left;
	float:left;
	height:100%;
	margin:0 0 15px 0
}
.titre {
	vertical-align:top;
	padding:0 0 5px 0;
	margin:0 0 5px 0;
	border-bottom:6px solid #49493F;
	font-size:0.9em !important;
	font-size:0.9em
}
.titre img {
	vertical-align:top;
	padding:0 5px 0 0;
	margin:0px
}
.titreContenu {
	padding:0 0 5px 0;
	margin:0 0 20px 0;
	border-bottom:6px solid #9ACD00;
	vertical-align:middle
}
.titreContenu img {
	vertical-align:top;
	padding:0 5px 0 0;
	margin:0px
}
.photoContenu {
	float:right;
	vertical-align:text-top;
	margin:0 0 0px 5px
}
.navigation {
	margin:0 0 10px 0px;
	width:100%;
	padding:0 0 5px 0;
	border-bottom:1px solid #49493F
}
.navigation a {
	font-size:1em
}
.navigationRech {
	margin:0px 0px 10px 0px !important;
	padding:0px 0px 5px 0px !important;
	border-bottom:1px solid #49493F !important
}
.navigationRech a {
	font-size:1em
}
.blocContenu {
	border-left:6px solid #99CC01;
	padding:0 0 0 5px;
	margin:-5px 0 0 0;
	color:#99CC01
}
.blocContenu ul {
	list-style-image:url(new_puce_verte.gif);
	list-style-type:none;
	margin:0 0 10px 15px;
	padding:0px;
	color:#fff
}
.blocContenu li {
	line-height:1.5em;
	margin:0px;
	padding:0 0 0 0px;
	color:#9ACD00;
}
.ANPE li {
	color:#FFFFFF !important;
}
.blocContenu a:link, .blocContenu a:visited, .blocContenu a:active, .blocContenu a:hover {
	color:white;
	text-decoration:underline
}
.blocContenu a:hover {
	text-decoration:none
}
.blocSite {
	padding:0 0 0 5px;
	margin:-5px 0 0 0;
	font-size:0.95em !important;
	font-size:0.8em;
	color:#99CC01
}
.blocSite ul {
	list-style-image:url(new_puce_verte.gif);
	list-style-type:none;
	margin:0 0 0px 15px;
	padding:0px;
	color:#fff
}
.blocSite li {
	line-height:1.5em;
	margin:0px;
	padding:0 0 0 0px
}
.blocSite h3 {
	margin:20px 0px 0px 0px
}
.blocSite h4 {
	font-size:150% !important;
	font-size:150%
}
.blocSite a:link, .blocSite a:visited, .blocSite a:active, .blocSite a:hover {
	color:white;
	text-decoration:none;
	font-size:120%
}
.blocSite .premParag {
	padding:0 5px 5px 0;
	margin:0px;
	vertical-align:middle
}
.blocSite ul li h3 {
	font-size:60%;
	margin:15px 0 10px -15px
}
.lien {
	font-size:95% !important;
	font-size:95%
}
.lienMilieu {
	padding:10px 0 3px 0;
	clear:both;
	font-size:95% !important;
	font-size:95%
}
.lienMilieu a {
	color:#9ACD00;
	text-decoration:underline;
	font-size:1em !important;
	font-size:1em;
	margin:0px;
	padding:0px
}
.lienMilieu img {
	margin:0px;
	padding:0 2px 0 0
}
.actuInt {
	padding:0px;
	margin:0px;
	height:100%
}
.actuInt .photo {
	float:left;
	padding-right:5px;
	vertical-align:text-top;
	display:inline
}
.photo a {
	font-size:100%
}
#contenuMilieu {
	overflow:hidden
}
h4 {
	margin:0px;
	padding:0px
}
#divFormRecherche input {
	float:left
}
#divFormRecherche label {
	float:left
}
#divButtonRechercher {
	float:left
}
#contenuMilieu h2 {
	font-size:130% !important;
	font-size:130%;
	color:#FFFFFF
}
#contenuMilieu .titreContenu h2 {
	font-size:180% !important;
	font-size:180%;
	font-weight:600;
	padding:0px 0px 0px 0px;
	display:inline;
	color:#99CC01
}
#contenuMilieu h3 {
	font-size:150% !important;
	font-size:150%;
	font-weight:600;
	padding:0px 0px 0px 0px;
	display:inline;
	color:#99CC01
}
.source a {
	line-height:40px
}
.petitBlocG {
	text-align:left;
	border-bottom:1px solid #49493F;
	width:100%;
	padding:0px 0 10px 0;
	margin:0 0 10px 0
}
.petitBlocG .photo {
	float:left;
	padding-right:5px;
	vertical-align:text-top;
	display:inline
}
.petitBlocG p {
	padding:0 5px 1em 0;
	margin:0px;
	vertical-align:text-top
}
.petitBlocG p .titreActuPart {
	font-weight:bold
}
.petitBlocContenu {
	text-align:left;
	border-bottom:1px solid #49493F;
	width:100%;
	height:100%;
	padding:2px 0 0 0;
	margin:10px 0 -10px 10px;
	text-align:justify
}
.blocGauche {
	text-align:left;
	padding-left:5px;
	line-height:25px;
	font-weight:bold
}
.blocDroite {
	text-align:right;
	width:100%;
	line-height:25px;
	font-weight:bold
}
#formRechercher {
	float:right;
	text-align:right;
	padding-top:5px
}
#formRechercher #recherche {
	background-color:#D1D1D1
}
#formRechercher #valider {
	background-color:#D1D1D1;
	font-weight:900;
	width:2.5em
}
.paddingPetitBloc br, .textePartenaire br {
	letter-spacing:normal
}
#filAriane {
	padding:5px
}
.pProduit {
	
}
.ulProduit li {
	line-height:20px
}
.ulProduit a {
	font-size:0.9em
}
.ulDocument li {
	margin-right:50px;
	font-size:100% !important;
	font-size:75%
}
.petitBlocD {
	border:1px solid #fff;
	text-align:left;
	width:100%;
	position:relative;
	text-align:justify
}
.petitBlocActu {
	border:1px solid #fff;
	text-align:left;
	width:100%;
	position:relative;
	text-align:justify
}
.programme {
	margin:0px;
	padding:0px;
	list-style-type:none
}
.programme p {
	padding-bottom:0
}
.image {
	float:right
}
.programme li {
	margin:0 0 1.2em 0;
	padding:5px;
	clear:left
}
.programme li a {
	font-size:1em !important;
	font-size:0.9em
}
.programme img {
	float:left;
	margin:0 5px 0 0
}
.programme .texte {
	float:left
}
.txtSource {
	text-align:center;
	margin:20px 0 10px 0
}
.txtSource .sourceImg {
	margin:10px
}
.txtSource a {
	font-size:100%
}
#menuBas {
	padding:5px 0 30px 0;
	text-align:left;
	margin:0px;
	font-size:90% !important;
	font-size:80%
}
.menuBasG {
	float:left
}
.menuBasD {
	width:350px;
	float:right
}
.menuBasD ul {
	display:none
}
.menuBasG a:link, .menuBasG a:hover, .menuBasG a:active, .menuBasG a:visited {
	font-size:100% !important;
	font-size:100%
}
#rechercheProg #chaine optgroup {
	font-style:normal;
	font-weight:normal
}
.optionPrinc {
	color:#fff;
	background:#000;
	font-style:normal !important;
	font-weight:normal !important
}
.optionPrinc option {
	background-color:#fdffb0;
	color:black
}
#droite {
	float:left
}
#droite li {
	list-style-type:none;
	float:left;
	margin:10px 0px 0px 5px
}
#droite span {
	display:none
}
#gauche {
	float:left
}
.clearBoth {
	clear:both
}
#formRechercherConso {
	margin:0px;
	padding:0px
}
#rechercheConso {
	border:none;
	margin:0px 0 10px 0;
	text-align:left;
	padding:0 0 0 3px
}
#rechercheConso #rechConsoMarque, #rechercheConso #rechConsoCat {
	width:100%;
	margin:0 0 5px 0;
	padding:0px;
	background-color:#FDFFB0
}
#rechercheConso #validerConsoMarque, #rechercheConso #validerConsoCat {
	width:100px;
	font-weight:900;
	background-color:#FCFF3E;
	margin-left:25%
}
#rechercheConso #rechercheLibelle {
	text-align:left;
	width:100%
}
.invisible {
	display:none
}
.txtCentre {
	text-align:center;
	margin-left:0px !important
}
.txtCentre img {
	margin-top:10px;
	margin-bottom:10px
}
#formRechLoisirs label {
	display:block
}
#formRechLoisirs select {
	width:15em
}
.selectANPE {
	width:25em;
	scrollbar-face-color:#9ACD00;
	scrollbar-arrow-color:#000000;
	scrollbar-track-color:#CCCCCC;
	scrollbar-3dlight-color:#AAAAAA;
	scrollbar-darkshadow-color:#898989;
	background:#EBFFAE
}
#formRechLoisirs .boutonValiderLoisir {
	width:35px;
	font-weight:900;
	background-color:#FCFF3E;
	padding:0px;
	margin:0px
}
.fomulaire {
	width:95%;
	text-align:left;
	border-left:6px solid #99CC01;
	padding:0 0 0 5px;
	margin:-5px 0 0 0;
	color:#99CC01
}
.fomulaire .texte {
	text-align:left;
	line-height:1em;
	display:block;
	font-weight:normal
}
#seDeconnecter form {
	width:80px;
	border-left:0px;
	padding:0 0 0 0px;
	margin:0px 0 0 0;
	color:#fff;
	font-weight:bold
}
.paddingPetitBloc form, .texteContenu form {
	width:95%;
	border-left:6px solid #99CC01;
	padding:0 0 0 5px;
	margin:-5px 0 0 0;
	color:#fff;
	font-weight:bold;
	scrollbar-face-color:#9ACD00;
	scrollbar-arrow-color:#000000;
	scrollbar-track-color:#CCCCCC;
	scrollbar-3dlight-color:#AAAAAA;
	scrollbar-darkshadow-color:#898989
}
.form1 {
	width:95%;
	border-left:0px;
	padding:0 0 0 5px;
	margin:-5px 0 0 0;
	color:#fff;
	font-weight:bold
}
#mailform {
	clear:both
}
.paddingPetitBloc h1 {
	display:none
}
.csc-mailform-field input {
	border-left:0px
}
.csc-mailform-field {
	height:35px
}
#mailformpass {
	
}
.paddingPetitBloc .texte, .texteContenu .texte {
	text-align:left;
	line-height:1em;
	display:block;
	font-weight:normal
}
.paddingPetitBloc input, .texteContenu input {
	background:#EBFFAE;
	margin-left:5px
}
.paddingPetitBloc div, .texteContenu div {
	margin-left:10px
}
.paddingPetitBloc textarea, .texteContenu textarea {
	background:#EBFFAE;
	margin-left:5px
}
.description {
	margin:0px;
	padding:0px;
	clear:both
}
#sidentifier {
	margin-right:117px
}
#formtype_mail {
	margin-left:130px
}
#boutonSubmit {
	margin-left:250px
}
#carteMeteo img {
	BORDER-RIGHT:medium none;
	PADDING-RIGHT:10px;
	BORDER-TOP:medium none;
	PADDING-LEFT:10px
}
.gaucheForm {
	float:left;
	width:130px
}
#gaucheForm2 {
	float:left;
	width:160px
}
#droiteForm2 {
	float:left;
	width:334px
}
#gaucheForm3 {
	float:left;
	width:130px
}
#droiteForm3 {
	float:left;
	width:298px !important;
	width:320px
}
.gaucheFormMail {
	float:left;
	width:80px
}
.droiteFormMail {
	float:right;
	width:332px
}
.gaucheFormMailSub {
	float:left;
	width:70px
}
.droiteFormMailSub {
	float:right;
	width:352px
}
#seDeconnecter {
	float:right
}
.droiteForm, #droiteFormCheck {
	float:left;
	width:354px
}
#droiteFormCheck {
	margin-left:20px
}
#droiteForm textarea {
	font-size:91%;
	clear:both
}
.ligneTexte textarea {
	font-size:120%;
	clear:both
}
.ligneTexte {
	text-align:right;
	font-weight:normal;
	font-size:80%
}
.ligneFormMail {
	width:450px;
	clear:both;
	padding:5px 0px 5px 0px
}
.ligneForm, #ligneForm {
	clear:both;
	padding:5px 0px 5px 0px
}
#ligneForm3 {
	clear:both;
	padding:5px 0px 5px 0px
}
#msgErr {
	color:white;
	padding:5px 5px 5px 10px;
	font-weight:bold;
	background:url(picto_attention.png) no-repeat;
	padding-left:40px;
	margin-left: 5px;
	border:2px solid #FD6700;
}
#gaucheFormCheck {
	width:130px;
	float:left
}
#droiteFormCheck input {
	background:#000000
}
#formatsouhaite {
	display:none
}
#logoHczImpr, #menuBasImpr {
	display:none
}
.csc-mailform-submit, #boutonSubmit {
	/*float:right;*/
	margin-right:30px;
}
.submit_envoyer_ami {
	float:right;
	margin-right:0px
}
.csc-mailform-submit2 {
	float:right;
	margin-right:5px
}
.droiteFormInscriptionFormat label {
	font-weight:normal;
	color:white
}
.droiteFormInscriptionFormat input {
	background:none
}
#planMenuUtilitaires {
	border-left:6px solid #99CC01;
	margin:0px 0px 0px 0px;
	padding:0px;
	color:#99CC01;
	float:left
}
#planMenuUtilitaires ul {
	margin:0px 0px 0px 10px;
	padding:0px
}
#planMenuUtilitaires li {
	list-style-type:none;
	margin:0px;
	padding:0px
}
#planMenuServices {
	border-left:6px solid #99CC01;
	margin:0px 0px 0px 1px;
	padding:0px 0px 0px 10px;
	font-weight:bold;
	color:#99CC01;
	float:left
}
#planMenuServices ul {
	margin:0px 0px 0px 1px;
	padding:0px
}
#planMenuServices li {
	list-style-type:none;
	font-weight:normal;
	margin:0px;
	padding:0px
}
.planSiteGauche {
	float:left;
	margin:0px;
	padding:0px
}
.planSiteDroite {
	float:left;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 60px
}
.planMenuGauche {
	line-height:20px;
	padding:0px 0px 0px 10px;
	margin:0px;
	border-left:6px solid #99CC01
}
.planMenuGauche ul {
	padding:0px;
	margin:0px;
	list-style-type:none;
	margin-left:0px
}
ul.planMenuGauche ul {
	margin-left:55px
}
.planMenuGauche li {
	padding:0px 0px 10px 0px;
	margin:0px
}
#titreListe {
	color:#99CC01;
	font-weight:bold
}
#filleMenuGauche li {
	padding:0px 0px 0px 1px;
	margin-left:0px;
	font-weight:normal
}
.ulResultatProgTele li {
	margin-bottom:20px
}
#divRecherche, .divTexteRecherche, .divLigneRecherche, .divTitreDocRecherche {
	margin:0px !important
}
#divPagination {
	text-align:center;
	float:left;
	width:100%
}
#divPagination span {
	display:none !important
}
#divPagination * {
	display:block;
	float:left;
	width:3em
}
#divPaginationRech {
	padding:20px 0px 0px 0px;
	text-align:center;
	color:#99CC01
}
#divPaginationRech a {
	color:#99CC01
}
.news-catRootline {
	margin:0px;
	padding:0px
}
.menusport {
	font-weight:bold;
	color:#FFFFFF;
	padding-left:8px;
	padding-right:15px;
}
.navig {
	color:#FFFFFF;
	text-decoration:none
}
#tableauANPE {
	border-left:2px solid #CCCCCC;
	margin:5px
}
#tableauANPE2 {
	clear:both
}
.tableauANPETr {
	padding:3px 0px 3px 0px;
	clear:both;
	font-weight:normal
}
.tableauANPETr strong {
	padding:0px;
	margin:-10px
}
#tableauANPETd {
	float:left
}
.tableauANPETr label {
	margin:3px 0px 3px 0px
}
.divPaginationRech {
	margin-left:-30px !important;
	position:relative !important
}
.texteANPE {
	font-weight:normal;
	color:#ffffff
}
.texteANPEDetail {
	font-weight:normal;
	padding:0px;
	margin:0px;
	color:#ffffff
}
.texteANPEDetailVert {
	font-weight:normal;
	padding:0px;
	color:#9ACD00
}
#tableauANPE {
	margin:0px;
	padding:0px
}
.tableauANPETr select {
	scrollbar-face-color:#9ACD00;
	scrollbar-arrow-color:#000000;
	scrollbar-track-color:#CCCCCC;
	scrollbar-3dlight-color:#AAAAAA;
	scrollbar-darkshadow-color:#898989;
	background:#EBFFAE
}
.texteANPE label {
	margin:0px;
	padding:0px
}
.texteANPESpan {
	font-weight:normal;
	padding:9px
}
.formPageANPE form {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background:#000000;
	width:95%;
	border-left:0px solid #ff0000;
	color:#fff;
	font-weight:normal;
	scrollbar-face-color:#9ACD00;
	scrollbar-arrow-color:#000000;
	scrollbar-track-color:#CCCCCC;
	scrollbar-3dlight-color:#AAAAAA;
	scrollbar-darkshadow-color:#898989
}
@media print {
	.clearBoth, #bandeau, #contenuGauche, #contenuDroite, #menuBas {
	display:none
	}
	#logoHcz {
		display:block
	}
	body {
		font-size:10pt;
		background:#FFFFFF
	}
	#contenu, #contenuMilieu {
		width:620px;
		padding:none;
		margin:none;
		float:none;
		border:none;
		background:#FFFFFF
	}
	#contenuMilieu {
		padding:0px;
		margin:0px
	}
	#logoHczImpr {
		display:block;
		height:75px
	}
	#imgLogoHdczImpr {
		clear:both;
		float:left
	}
	#menuBasImpr {
		display:block;
		text-align:left
	}
	img {
		margin-top:5px;
		border:10px 10px 10px 10px
	}
	#conteneur {
		width:100%;
		text-align:left;
		border-bottom:6px solid #FFF
	}
}
.lien {
	text-decoration:none
}
.blockCentre {
	text-align:center
}
#blocActuVideo h3 {
	display:block;
	margin-top:10px;
	margin-bottom:10px
}
#videow {
	margin-right:auto;
	margin-left:auto;
	min-height:458px;
	height:458px;
	line-height:458px;
	width:528px;
	background:#000;
	color:#ffffff;
	text-align:center;
	border:3px solid white
}

#videowSon {
	margin-right:auto;
	margin-left:auto;
	min-height:45px;
	height:45px;
	line-height:45px;
	width:428px;
	background:#000;
	color:#ffffff;
	text-align:center;
	border:3px solid white
}
#telechargement {
	margin-top:30px
}
#contour {
	display:none;
	padding:4px 0 4px 0;
	width:530px;
	min-height:17px;
	margin-left:auto;
	margin-right:auto;
	padding:2px;
	font-weight:bold
}
.colonneG {
	float:left
}
.colonneD {
	float:left
}
.Captions {
	display:none
}
.annuleStyle form {
	border:none;
	margin:0;
	padding:0
}
.meteoRegion, div.paddingBlocMeteo, div.paddingBlocMeteo div {
	margin-left:0px !important
}
#carteNationale {
	padding-right:10px
}
#carteNationaleMeteo {
	padding-right:10px;
	float:left
}
.carteAujourdhui {
	width:100%;
	padding-top:30px;
	margin:0 auto;
	margin-left:-10px !important
}
.conteneurCartesMeteo {
	float:left;
	width:100%;
	padding-top:30px;
	margin:0 auto;
	margin-left:-10px !important
}
.paddingBloc, .paddingBlocMeteo {
	width:100%;
	text-align:left
}
.carteAujourdhuiDept {
	width:100%;
	margin-left:-10px !important
}
.cartesMeteo {
	text-align:left;
	width:100%;
	color:#99cc01;
	font-size:150%
}
.cartesMeteoTitre {
	text-align:left;
	width:100%;
	color:#99cc01;
	font-size:150%;
	font-weight:bold
}
.dept {
	width:98%;
	margin:0 0 10px 0;
	background-color:#FDFFB0;
	padding:0px
}
.meteoville {
	margin-left:0 !important
}
.meteoville img {
	float:left;
	padding-right:10px
}
.petitBlocCartesRegion {
	text-align:left;
	border-bottom:none;
	width:100%;
	height:100%;
	padding:2px 0 0 0;
	margin:10px 0 -10px 10px;
	text-align:justify
}
.petitBlocCartesRegionMeteo {
	text-align:left;
	border-bottom:none;
	width:100%;
	height:100%;
	padding:2px 0 0 0;
	margin:30px 0 -10px 0 !important;
	text-align:justify
}
.blocSiteTDF {
	padding:0 0 0 5px;
	margin:-5px 0 0 0;
	font-size:0.95em;
	color:#99CC01
}
.blocSiteTDF ul {
	list-style-image:url(new_puce_verte.gif);
	list-style-type:none;
	margin:0 0 0px 15px;
	padding:0px;
	color:#fff
}
.blocSiteTDF li {
	line-height:1.5em;
	margin:0px;
	padding:0 0 0 0px
}
.blocSiteTDF h3 {
	margin:20px 0px 0px 0px
}
.blocSiteTDF h4 {
	font-size:150%
}
.blocSiteTDF a:link, .blocSiteTDF a:visited, .blocSiteTDF a:active {
	color:white;
	text-decoration:underline
}
.blocSiteTDF a:hover {
	color:white;
	text-decoration:none
}
.langFixed {
	width:150px;
	margin-left:0px !important
}
.select {
	background-color:#EBFFAE;
	scrollbar-face-color:#9ACD00; 
	scrollbar-arrow-color:#000000; 
	scrollbar-track-color:#CCCCCC; 
	scrollbar-3dlight-color:#AAAAAA; 
	scrollbar-darkshadow-color:#898989;

}
.clear {
	clear:both
}
.blocSiteTDF .premParag {
	padding:0 5px 5px 0;
	margin:0px;
	vertical-align:middle
}
.blocSiteTDF #dateParru {
	margin:15px 0 0 -16px;
	list-style:none;
	color:#99CC01
}
.enLigneTDF {
	margin:0;
	padding:0;
	list-style-type:none
}
.divLang {
	margin :0 !important;
	padding :0;
	margin-bottom:15px;
	vertical-align:text-top
}
.displayNone {
	display:none
}
.optionDecale {
	padding-left:20px;
	color:#000
}
.alignGauche {
	width:35%;
	margin-left:-10px !important;
	margin-right:5px !important;
	float:left
}
.alignDroite {
	width:65%;
	text-align:justify;
	float:left
}
.navigationH {
	margin:15px 0 5px -1px !important;
	width:100%;
	padding:0;
	border-bottom:1px solid #49493F
}
.horoscope {
	text-align:justify;
	margin-left:0px !important
}
.signe {
	text-transform:uppercase
}
.displayRight {
	float:right
}
.divA {
	width:29px;
	height:25px;
	background:url('a.gif.1') 0 0 no-repeat;
	float:left
}
.divB {
	width:29px;
	height:25px;
	background:url('b.gif') 0 0 no-repeat;
	float:left
}
.divC {
	width:29px;
	height:25px;
	background:url('c.gif') 0 0 no-repeat;
	float:left
}
.divD {
	width:29px;
	height:25px;
	background:url('d.gif') 0 0 no-repeat;
	float:left
}
.divE {
	width:29px;
	height:25px;
	background:url('e.gif') 0 0 no-repeat;
	float:left
}
.divF {
	width:29px;
	height:25px;
	background:url('f.gif') 0 0 no-repeat;
	float:left
}
.divG {
	width:29px;
	height:25px;
	background:url('g.gif') 0 0 no-repeat;
	float:left
}
.divH {
	width:29px;
	height:25px;
	background:url('h.gif.1') 0 0 no-repeat;
	float:left
}
.divI {
	width:29px;
	height:25px;
	background:url('i.gif') 0 0 no-repeat;
	float:left
}
.divJ {
	width:29px;
	height:25px;
	background:url('j.gif') 0 0 no-repeat;
	float:left
}
.divK {
	width:29px;
	height:25px;
	background:url('k.gif') 0 0 no-repeat;
	float:left
}
.divL {
	width:29px;
	height:25px;
	background:url('l.gif') 0 0 no-repeat;
	float:left
}
.divM {
	width:29px;
	height:25px;
	background:url('m.gif') 0 0 no-repeat;
	float:left
}
.divN {
	width:29px;
	height:25px;
	background:url('n.gif') 0 0 no-repeat;
	float:left
}
.divO {
	width:29px;
	height:25px;
	background:url('o.gif') 0 0 no-repeat;
	float:left
}
.divP {
	width:29px;
	height:25px;
	background:url('p.gif') 0 0 no-repeat;
	float:left
}
.divQ {
	width:29px;
	height:25px;
	background:url('q.gif') 0 0 no-repeat;
	float:left
}
.divR {
	width:29px;
	height:25px;
	background:url('r.gif') 0 0 no-repeat;
	float:left
}
.divS {
	width:29px;
	height:25px;
	background:url('s.gif') 0 0 no-repeat;
	float:left
}
.divT {
	width:29px;
	height:25px;
	background:url('t.gif') 0 0 no-repeat;
	float:left
}
.divU {
	width:29px;
	height:25px;
	background:url('u.gif') 0 0 no-repeat;
	float:left
}
.divV {
	width:29px;
	height:25px;
	background:url('v.gif') 0 0 no-repeat;
	float:left
}
.divW {
	width:29px;
	height:25px;
	background:url('w.gif') 0 0 no-repeat;
	float:left
}
.divX {
	width:29px;
	height:25px;
	background:url('x.gif') 0 0 no-repeat;
	float:left
}
.divY {
	width:29px;
	height:25px;
	background:url('y.gif') 0 0 no-repeat;
	float:left
}
.divZ {
	width:29px;
	height:25px;
	background:url('z.gif') 0 0 no-repeat;
	float:left
}
.divPasFlash {
	border:1px solid white;
	margin-bottom:1em;
	padding:5px
}
.zoneGrise {
	width:100%;
	font-size:small;
	background-color:#444 !important;
	color:white;
	margin:3px 0 0 0 !important;
	border:1px solid white
}
.contenuRTE {
	margin-bottom:20px
}
.blocContenuANPE {
	border-left:6px solid #99CC01;
	padding:0 0 0 5px;
	margin:15px 0 0 0px !important;
	color:#99CC01
}
.blocContenuANPE ul {
	list-style-image:url(new_puce_verte.gif);
	list-style-type:none;
	margin:0 0 10px 15px;
	padding:0px;
	color:#fff
}
.blocContenuANPE li {
	line-height:1.5em;
	margin:0px;
	padding:0 0 0 0px;
	color:#9ACD00;
}
.blocContenuANPE a:link, .blocContenuANPE a:visited, .blocContenuANPE a:active, .blocContenuANPE a:hover {
	color:white;
	text-decoration:underline
}
.blocContenuANPE a:hover {
	text-decoration:none
}
.petitBlocGANPE {
	text-align:left;
	border-bottom:1px solid #49493F;
	padding:0px 0 5px 0px !important;
	margin:0 0 5px 0 !important
}
/*#persoAffichage ul li a img {
	visibility:visible !important;
	visibility:hidden
}
#persoAffichage ul li a {
	width:272px;
	height:44px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='', sizingMethod='scale') !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fileadmin/templates/images/logos/logo_cdl.png', sizingMethod='crop');
	cursor:pointer;
	display:inline-block
}*/


#droiteForm select {
	background-color:#EBFFAE;
	scrollbar-face-color:#9ACD00; 
	scrollbar-arrow-color:#000000; 
	scrollbar-track-color:#CCCCCC; 
	scrollbar-3dlight-color:#AAAAAA; 
	scrollbar-darkshadow-color:#898989;

}


/******************************************************************/
/* Styles pour le texte en ligne (span) : différentes couleurs	*/
/****************************************************************/
span.couleurOrangeFonceRTE, p.couleurOrangeFonceRTE {
	color:#FD6700;
}

span.couleurJauneFonceRTE, p.couleurJauneFonceRTE {
	color:#FCFF3E;
}

span.couleurVertFonceRTE, p.couleurVertFonceRTE {
	color:#99CC00;
}


/********************************************************************/
/*	Recherche Google																*/
/********************************************************************/

#searchcontrol .gsc-control { width : 650px; }
#searchcontrol .gsc-control a { color:#fff;}
#searchcontrol .gsc-control a  b{ color:#fff;}
#searchcontrol .gs-visibleUrl-short {display:none;}
#searchcontrol  .gsc-expansionArea {padding-left:0px;margin-left:0px;}
#searchcontrol  .gsc-cursor-page { color:#99CC00}
#searchcontrol  .gsc-trailing-more-results {display:none;}
#searchcontrol  .gsc-cursor {text-align:center !important;}

#searchcontrol  td.gsc-clear-button {
	background-color:#ff0000;
	display:none !important;
}

#searchcontrol  .gsc-resultsHeader td.gsc-twiddle-opened div.gsc-twiddle {
	background-image: none;
}

#searchcontrol  .gsc-results-selector {
	display:none;
}

#searchcontrol .gsc-webResult {
	margin-top:10px;
}

#searchcontrol .gsc-control {
	border-left: 6px solid #99cc01;
}
#searchcontrol .gsc-control form {
	border-left:none;
}

#searchcontrol .paddingPetitBloc div, .texteContenu div {
	margin-left:0px !important;
}

/* Espace SAUR */
.modifierCompte {
	background:#EBFFAE;
	width:150px;
	color:#000;
	padding:5px 0px 0px 5px;
	height:20px;
	float:right;
	text-align:center;
	text-decoration:none;
}
.modifierCompte a, .deconnexion a {
	color:#000 !important!;
	text-decoration:none;
}
.deconnexion, .boutonModif {
	background:#EBFFAE;
	width:130px;
	color:#000;
	padding:-1px 0px 0px 5px;
	margin-right:15px;
	cursor:pointer;
	height:25px;
	border:0;
	float:right;
	text-align:center;
	text-decoration:none;
}
.boutonModif {
	width:160px;
}

.demandeImp {
	background:#EBFFAE;
	width:190px;
	color:#000;
	padding:-1px 0px 0px 5px;
	margin-right:15px;
	cursor:pointer;
	height:25px;
	border:0;
	float:right;
	text-align:center;
	text-decoration:none;
}
.txtBlanc {
	color:#ffffff !important;
	margin-left:-5px !important;
}
.photoDSAUR {
	float:right;
	padding-left:5px;
}
.espaceSAUR #ligneForm{
	clear:none !important;
	padding:5px 0px 5px 0px;
}
.paddingPetitBlocSAUR div {
	margin-left:0px !important;
}
.oui form {
	
}
.oui span{
	padding-top:2px;
	
}
.boutonConfirmation {
	background:#EBFFAE;
	width:50px;
	color:#000;
	padding:-1px 0px 0px 5px;
	margin-right:15px;
	cursor:pointer;
	height:25px;
	border:0;
	float:left;
	text-align:center;
	text-decoration:none;
}
/******************/

.aDroite {
	float:left;
	font-weight:normal !important;
}

.aGauche {
	float:left;
	/*width:200px !important;*/
}

.caracteresAgrandis {
	font-size:210% !important;
}