/*Liens*/
.menuabasccueil a       { color: #ffffff; font-weight: lighter; font-size: 12px; text-decoration: none }
.menuabasccueil a:hover { color:#FF3333; text-decoration: none }

/*Img Fond*/
#cadre { position: absolute; top: 0px; left: 0px; visibility:none; z-index: 0;}

/*Tableau liens*/
#tableau { position: absolute; z-index: 1; top:0px; left:0px; width:960px;  margin-top:20px; margin-right:20px; margin-left:20px;}
.bordure {background-image:url("trait3.png"); background-repeat:repeat-y; }
.fleches {color:#FF3333;}

/*Bandeau logos*/
#bandeaulogo {position: absolute; top:175px; left: 0px; width:1000px; visibility:none; z-index: 1;}
