@import url(http://www.magma.fr/css/catalog_notns4.css);


#paniertableau {
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
	background-color:#000000;
	height:30px;
	width:100%;
}

.panier1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FF0000;
	font-weight:bold;
}

.panier2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	font-weight:normal
}


#paniertableau a:hover {text-decoration: none; border:none }
.paniertableau { text-decoration:none; border:none}
