img.png {
behavior: url(http://www.sopra.com/styles/styles/iepngfix.htc);
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color:#D9D3D3;
		margin:0 auto;

}
.affich_page ul li {

list-style-image:url(puce_li.gif);
margin-left: -24px;
font-size:11px;
font-family:Arial, Helvetica, sans-serif;
color:#666666;
}

.affich_page ul li ul li {

list-style-image:url(puce_li_2.gif);
margin-left: -24px;
}

.back {
background-image:url(http://www.sopra.com/styles/back.gif);
background-repeat:repeat-x;
background-position:bottom;
}

INPUT
{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	border: 1px solid #f16b79;
	background-color: #FFFFFF;
}


TEXTAREA
{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	border: 1px solid #f16b79;
	background-color: #FFFFFF;
}

SELECT
{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	border: 1px solid #f16b79;
	background-color: #FFFFFF;
}

td {
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#666666;
	text-align: left;
	vertical-align:top;
}
td.AUDIO {
background-image:url(audio_icon.gif);
background-position: 0% 30%;
background-repeat: no-repeat;
padding-left:20px;
color:#000000;
vertical-align:middle;
height:25px;

}
td.search
{
	text-align: right;
	vertical-align:middle;
}
.BCKG_default {
	background-color:#D9D3D3;
}
.bkg_finance {
	background:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
padding-left:16px;
padding-right:10px;
vertical-align:top;
text-align: left;
	background-image:url(Finance_bkg.jpg);
	background-repeat: no-repeat;
	 background-position: bottom;
}
.BKG_Finance_right {
	background-image:url(bkg_white.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	}

.BKG_events {
	background-image:url(bkg_publications.jpg);
	background-repeat: no-repeat;
	background-position: bottom right ;
}
.filet_top {
background-image:url(right_filet.gif);
background-repeat: repeat-y;
}
.filet_bottom {
background-image:url(right_filet.gif);
background-repeat: repeat-y;
background-position: top right;
 vertical-align:bottom;
}
.filet_bottom_print {
background-image:url(http://www.sopra.com/content_data/sopragrp/images/right_filet_print.gif);
background-repeat: repeat-y;
background-position: top right;
 vertical-align:bottom;
}

.filet_border {
background-image:url(bottom_filet.gif);
background-repeat: repeat-x;
 background-position: top right;
	
}
.filet_menus {

background-image:url(filet_menus.gif);
background-repeat: repeat-x;
background-position: top right;
	
}

.top_menu_cell {
border-bottom: 1px solid #F5EFEF;
border-top: 1px solid #F5EFEF;
border-left: 1px solid #F5EFEF;
border-right: 1px solid #F5EFEF;
width:95px;
}

a.menu_top {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color:#6c6969;
}

#dropmenudiv{
position:absolute;
color:#000000;
border-bottom-width: 1;
border-bottom: 1px solid #F5EFEF;
border-left: 1px solid #F5EFEF;
border-right: 1px solid #F5EFEF;
font:normal 32px Arial, Helvetica, sans-serif;
line-height:18px;
z-index:100;
}

#dropmenudiv a{
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid #F5EFEF;
padding: 1px 0;
text-decoration: none;
}

#dropmenudiv a:hover{ /*hover background color*/
color:#CC000;
}


.left_menu {
background-image:url(left_menu.gif);
background-repeat: repeat-y;
}


.left_menu_col
{

background-image:url(left_fond.gif);
background-repeat: repeat-y;
}

.left_cell
{
padding-left:16px;
}

.align_left
{
padding-left:16px;
}

.left_menu_cell {
background-image:url(fond_left_menu.gif);
background-repeat:no-repeat;
background-position:bottom;
padding-left:16px;
}

.title_left_menu, a {
color:#000000;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
text-decoration:none;
}

.ss_title_left_menu, a {
color:#777777;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
text-decoration:none;

}

a:hover {
color:#DA162E;
}

.homepage_left_top{
background-image:url(top_left_finance.gif);
}

.homepage_left {
background-image:url(fond_left_finance.gif);
background-repeat:repeat-y;

/*
	background-color:#F8F8F8;
	border-right: 1px solid #FFC9CF;*/
	
	}
.homepage_middle {
	background-color:#FFFFFF;
	border-right: 1px solid #FFC9CF;
	}
.filet_h {
	background-color:#FFFFFF;
	border-top: 1px solid #FFC9CF;
	}	



.right_part
{

padding-left:34px;


}

.Subtitle
{
font-family:Arial, Helvetica, sans-serif;
color:#666666;
font-weight:bold;
font-size:11px;
}

.Title
{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#DA162E;
font-weight:bold;
}

.title_content
{
font-size:12px;
color:#DA162E;
font-weight:bold;
}

.Title_offre
{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:bold;
color:#000000;
border-bottom:1px solid #ec8a96;
}

.Top_fillet2 
{
font-size:13px;
font-weight:bold;
border-bottom:1px solid #c9c9c9;
color:#DA162E;

}

.Top_fillet2 a
{
font-size:13px;
font-weight:bold;
color:#DA162E;

}
.Top_fillet2 a:hover
{
color:#000000;

}

.Abstract
{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
 color:#666666;
/* color:#DA162E;*/
}

.Text1
{
font-family:Arial, Helvetica, sans-serif;
color:#666666;
font-size:11px;
}

.page
{
padding-right:10px;
}

.thirdcolumn
{
	background-image: url(right_fond.gif); 
	background-repeat:repeat-y;
}


.thirdcolumn_cell
{

border-left:1px solid #ec8a96;
text-align:left;
}

.thirdcolumn_cell_refsg
{
border-left:1px solid #ec8a96;

text-align:center;
}

.thirdcolumn_cell_article
{
text-align:left;
padding-left:5px;
border-left:1px solid #ec8a96;

}

.thirdcolumn_fin
{
	background-image: url(right_fond.gif);
	background-repeat:repeat-y;
	border-left:1px solid #ec8a96;
	border-bottom:1px solid #ec8a96;
}

.thirdcolumn_title
{

border-bottom:1px solid #ec8a96;

}

.bg_3e_colonne
{
	background-image: url(fond_droite.gif);

}

.bgcolor_3e_colonne
{
background-color:#FFFFFF;
}

.hp_date { 
	background-image: url(puce.gif);
	background-position: 8px;
	text-indent: 30px;
	background-repeat: no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#DA1A31;
	text-decoration:none;
	font-weight: bold;
	}
.hp_left_title 
{
		background-image: url(puce.gif);
	background-position: 8px 1px;
		background-repeat: no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-left:30px;
	padding-right:10px;
	color:#424242;	
}

.hp_middle_title 
{
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:11px;
color:#999999;
padding-top:5px;
padding-left:16px;
padding-right:10px;
}

.hp_subtitle
{
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:11px;
color:#DA162E;
padding-left:16px;
padding-right:10px;
}
.hp_abstract
{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
padding-left:16px;
padding-right:10px;
vertical-align:top;
text-align: left;
}
.hp_vline
{
	background-color:#FFFFFF;
	border-right: 1px solid #FFC9CF;
	}	
.talented
{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#DA162E;
text-align: left;
}

.talented_client
{
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#DA162E;
text-align: left;
}

.cours_bourse
{
padding-top:12px;
background-image:url(page_top2.gif); 
background-repeat:no-repeat;
padding-left:8px;
}
.search_box
{

background-repeat:repeat-y;
background-image:url(fond_search_page.gif);
vertical-align:middle;
}
.search_box2
{

background-repeat:repeat-y;
background-image:url(fond_search_page2.gif);
vertical-align:middle;
}
.search_box_detail
{
vertical-align:middle;
text-align:center;
}

.gray_color
{
color:#ff0000;
}
.copyright
{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:[gray_color];
text-align: right;
}
.copyright_client
{
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:[gray_color];
text-align: right;
}

.Subtitle_list,a
{
color:#000000;
font-weight:normal;

}

.Subtitle_list
{
color:#DA162E;
font-weight:bold;
}

.border_list
{
border-bottom:1px solid #d9d3d3;

}

.list_archive
{

text-align:right;
vertical-align:top;

}

.archive_box
{
padding-right:5px;

}

.red_color
{
	color:#DA162E;
}

.menu_finance {
	background-image: url(puce_li.gif); 
	background-position:  25px;
	padding-left:37px;
	background-repeat: no-repeat;
/*	text-decoration:none;*/
	}
	
.sous_menu_finance{

	background-image: url(icon_nav_arrow.gif); 
	background-position:  33px 4px ;
	padding-left:47px;
	padding-right:5px;	
	background-repeat: no-repeat;
/*	text-decoration:none;*/
	
}
	
.link_finance { 
	background-image: url(puce_tr.gif); 
	background-position: 25px;
	text-indent: 32px;
	background-repeat: no-repeat;
	font-style:italic;
	}
.link_finance2 { 
	background-image: url(puce_tr.gif); 
	background-position: 8px 4px;
	text-indent: 14px;
	background-repeat: no-repeat;
	font-style:italic;
	}

td.finance
{
	text-indent: 32px;
}
.finance_doc {
padding-left:8px;
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
color:#000000;
}

.list_portal
{
padding-left:35px;
}

.last_cal_fin
{
padding-left:35px;
color:#DA162E;
font-weight:bold;
}
.left_menu_pays
{
padding-left:16px;
}

.location_filet
{
background-color: #DA162E;
}

.ss_title_finance_left_menu
{
color:#777777;
padding-left:32px;


}

.Link_top
{
color:#666666
}

hr
{
width:90%;
height:1px;
border-style:solid;
border-color:#cccccc;
}

hr.menus_lists
{
height:1px;
border-style:solid;
border-color:#666666;
padding-left:2px;
}
.left_menu_cell_offre
{
background-image:url(fond_left_menu.gif);
background-repeat:no-repeat;
background-position:bottom;
padding-left:16px;
font-weight:bold;
}

.table_client
{
background-color:#FFFFFF;
padding-left:17px;
padding-right:20px;
}

.fin_client
{
border-bottom:1px solid #666666;
}

.bottom_client
{
font-size: 10px;
color:#6c6969;

}

.close_bourse
{
font-style:italic;
}



.Top_fillet {
font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
background-color: #FFFFFF; 
vertical-align:middle;
text-align:left ;
	background-image: url(filet_offer_top.gif);
	background-repeat: repeat-x;
}


.Bottom_fillet {
font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	vertical-align:middle;
	text-decoration: none;
background-color: #FFFFFF; 
	background-image: url(filet_offer_bottom.gif);
	background-repeat: repeat-x;
}




.page_event
{
padding-left:20px;
padding-right:10px;
}

.confirmation_event
{
color:#DA162E;
font-weight:bold;
}

.title_form
{
border-bottom:1px solid #666666;
color:#DA162E;
font-weight:bold;
font-size:12px;
}
td.align_diapo {
text-align:center;
vertical-align:middle;
background-color:#d9d3d3;}

.Missing {
font-family: Arial, Helvetica, sans-serif;
font-size:12px; color:#FF0000;
}
.cellule_blanc{
border-top:2px solid #ffffff
}

.cellule_noire{
border-top:2px solid #dddddd
}

.cellule_noire_2{
border-top:2px solid #dddddd;
border-left:2px solid #dddddd;
border-right:2px solid #dddddd;
}

.no_border{
	border:0;
	
}
.subtitle_offre
{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:bold;
color:#DA162E;
/*border-bottom:1px solid #ec8a96;	*/
}


.left_cell_offre
{
padding-left:15px;
padding-right:5px;
}

.Title_offre_form
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
/*color:#000000;*/
color:#DA162E;
border-bottom:1px solid #ec8a96;
}
.subtitle_offre_form
{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:bold;
color:#DA162E;
/*border-bottom:1px solid #ec8a96;	*/
}