div#menu{
	font-family : Verdana;
	font-size : 10px;
	font-weight : bold;
	color : white;
}

#logo{
/*	background : url(../../static/img/logo.png) no-repeat 1px !important; background : none; 
	filter : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/home_en/static/img/logo.png', sizingMethod='image');
*/	
	width : 225px;
	height : 35px;
	
	position : absolute;
	left : 9px;
	top : 8px;
}

.logo_white{
	background : url(logo.png) no-repeat 1px !important; background : none; 
	filter : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/home_en/static/img/logo.png', sizingMethod='image');
}

.logo_black{
	background : url(logo_black.png) no-repeat 1px !important; background : none; 
	filter : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/home_en/static/img/logo_black.png', sizingMethod='image');
}
.logo_colour{
	background : url(logo_colour.png) no-repeat 1px !important; background : none; 
	filter : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/home_en/static/img/logo_colour.png', sizingMethod='image');
}

#logoImage{
	width : 225px;
	height : 35px; 
	
	position : absolute;
	left : 2px;
	top : 2px;
}

/* TOP MENU */

div.topmenu{
	background : left url(bg_topmenu_new.png) no-repeat !important; background : none;
	filter : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/home_en/static/img/bg_topmenu_new.png', sizingMethod='scale');
}


#menu .topsize_search{
	width : 545px; wid\th : 515px;
}

#menu .topsize_mid{
	width : 485px; wid\th : 455px;
}

div.topmenu, ul.topmenu{
	height : 25px;
	
	/* !! Dit bepaald de positie van het topmenu. !!*/
	width : 540px; wid\th : 540px;
	/*width : 550px; wid\th : 520px;*/
	
	
	position : absolute;
	right : 0px;
	top : 32px;
	padding: 1px 0 0 30px !important; padding: 1px 8px 0 30px;
                z-index: 9;
}

ul.topmenu li{
	float : left;
	margin : 6px 0 6px 8px;
	color : #CED2D6;
}

ul.topmenu a{
	display : block;
	color : #CED2D6;
	text-decoration : none;
	
	background : url(vline.gif) repeat-y right;
	padding : 0 9px 1px 0;
}
ul.topmenu a:hover{color : white;}

ul.topmenu .last{
	background : none;
}

ul.topmenu .search{
	margin :  4px 0 0 5px;
	width:150px;}

ul.topmenu #searchtext{
	background : url(bg_searchbox_new.png) no-repeat !important; background : none;
	filter : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/home_en/static/img/bg_searchbox_new.png', sizingMethod='image');
	padding : 1px 4px 1px 2px;
	margin : 0;
	border : 0;
	cursor : text;
	display:block;
	float:left;
	font-family : MS Sans Serif, Tahoma, Arial;
	font-size : 8pt;
	color : white;
	
}


/* TOP MENU SUBMENU */
#container ul.topmenu ul li{
	margin : 0;
}
#container ul.topmenu ul a{
	width : 151px; wid\th : 125px;
	padding : 5px 5px 5px 18px;
}
#container ul.topmenu ul a:hover{
	background : url(small_arrow_blue.gif) no-repeat 135px 50%; /* #335175 */
}
#container ul.topmenu ul{
	background : url(language.png) no-repeat;
	
	width : 151px;
	height : 143px;
	margin : 5px 0 0 -20px;
}

/* MAIN MENU */

ul#mainmenu{
	margin-top : 45px;
	position:relative;
	height : 25px;
	width : 100%;
	background-color : black;
                z-index: 7;
}

ul#mainmenu li{
	float : left;
}

ul#mainmenu a{
	float : left;
	height : 20px;
	display : block;
	text-decoration : none;
	
	font-family : Verdana;
	font-size : 8.5pt;
	color : #BFBFBF;
	
	padding : 5px 25px 0 25px;
	background : url(arrow_right_gray.gif) no-repeat 10px 8px;
}
ul#mainmenu a:hover, ul#mainmenu a.active{
	color : white;
	background : url(arrow_right_white.gif) no-repeat 10px 8px;
}

a#nolink:hover { cursor:default }

div.mainmenu_shadow_home{
	background : url(bg_menu.png) repeat-x !important; background : none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/home_en/static/img/bg_menu.png', sizingMethod='scale');
	margin-bottom: 180px;
	height : 17px;
}

div.mainmenu_shadow{
	background : url(bg_menu.png) repeat-x !important; background : none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/home_en/static/img/bg_menu.png', sizingMethod='scale');
	height : 17px;
}

ul#mainmenu ul li a, ul.topmenu ul li a{
	padding : 5px 5px 5px 18px;
	height : 13px;
	margin : 0 0 1px 1px;
	background : none;
	float : none;
	color : white;
	cursor : pointer; cursor : hand;
}
ul#mainmenu ul li a:hover, ul.topmenu ul li a:hover, #container ul#mainmenu li#tires ul ul li a:hover{
	background : #335175 url(small_arrow_blue.gif) no-repeat 140px 50%;
}

/* MENUS */

ul#mainmenu li ul, ul.topmenu li ul{
	position : absolute;
	height : 119px;
	display : none;
	z-index : 10;
}

ul#mainmenu li#quicktools{
               float : right;
}
ul#mainmenu li#quicktools ul a{width : 170px; wid\th : 147px;}
ul#mainmenu li#quicktools ul{
	background : url(quicktools.png) no-repeat;

	width : 171px;
	margin : 25px 0 0 -85px !important; margin : 25px 0 0 -171px;
}

ul#mainmenu li#advice ul a,
ul#mainmenu li#services ul a{width : 169px; wid\th : 147px;}
ul#mainmenu li#goodyear ul a{width : 169px; wid\th : 147px !important; wid\th : 146px;}
ul#mainmenu li#advice ul,
ul#mainmenu li#services ul,
ul#mainmenu li#goodyear ul,
ul#mainmenu li#handel ul{
	background : url(goodyear.png) no-repeat;
	width : 343px;
	margin : 25px 0 0 -34px;
	/margin : 25px 0 0 -220px;
}

ul#mainmenu li#services ul{
	margin : 25px 0 0 16px; 
	/margin : 25px 0 0 -100px;
}

ul#mainmenu li#goodyear ul a{float : left;}

/* TIRES MENU */

ul#mainmenu li#tires ul{
	background : url(tires.png) no-repeat;
	width : 682px;
	
	margin : 25px 0 0 -4px;
	/margin : 25px 0 0 -90px;
}

ul#mainmenu li#tires ul a{
	width : 169px;
	height : 59px; hei\ght : 37px;
	padding : 22px 0 0 0;
	text-align : center;
	float : left;
	display : inline;
}
ul#mainmenu li#tires ul li.first a{
	width : 169px;
	height : 118px; hei\ght : 66px;
	padding : 52px 0 0 0;
	margin : 0 0px 0 0;
	display : inline;
	text-align : center;
}

#container ul#mainmenu li#tires ul ul{
	width : 169px;
	position : static;
	margin : 0 0 0 1px !important; margin : 0 0 0 1px;
	display : none;
	height : 59px;
}
* html #container ul#mainmenu li#tires ul ul{
	background : #335175;
}

#container ul#mainmenu li#tires li.last a{
	display : block;
	width : 169px;
	float : none;
	position : static;
	margin : 0 0 1px 1px;
	padding : 7px 0 0 0;
	height : 29px; hei\ght : 22px;
}


#container ul#mainmenu li#tires li.first ul{
	width : 168px;
	height : 119px;
	
	margin : 0 1px 0 0 !important; margin : 0;
}

#container ul#mainmenu li#tires ul ul a{
	width : 165px; wid\th : 142px;
	text-align : left;
	padding : 7px 5px 7px 18px;
	height : 23px; hei\ght : 14px;

}
#container ul#mainmenu li#tires li.first ul a{
	padding : 4px 5px 5px 18px;
	margin: 0 4px 0 0;
}
#container ul#mainmenu li#tires ul ul a:hover{
	background : url(small_arrow_blue.gif) no-repeat 140px 50%;
}


/* WIDE HOME MENU */

#go_search{
	width : 9px;
	height : 15px;
	background : url(arrow_gray.gif) no-repeat 135px 50%; /* #335175 */
	background-position: center right;
	display: block;
	float: left;	
	cursor: pointer;
	padding : 0px 5px 0px 0px;
}