@charset "utf-8";
/* CSS Document */
/*En attente



*/

/* CLASSES GENERALES >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><*/

body {
	margin: 0px;
	padding: 0px;
	background-color:#FFFFFF;
	background-image: url(fond_body.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#general {
	padding: 0px;
	width: 980px;
	margin-left: -490px;
	position: absolute;
	left: 50%;
	background: none;
}

#entete {
	float:left;
	position:relative ;
	margin: 0px;
	padding: 0px;
	width: 980px;
	height: 210px;
}

#header_left a {
	display: block;
	float: left;
	height: 200px;
	width: 708px;

}

#header_left {
	float: left;
	height: 200px;
	width: 708px;
	margin: 0px;
	padding: 0px;
	background-image: url(fond_header_left.gif);
}



#milieu {
	z-index: 0;
	float:left;
	position:relative ;
	margin: 0px;
	padding: 0px;
	width: 980px;
	background-color:#0076ad ;
}

#pieddepage {
	z-index: 0;
	display:block;
	float:left;
	position:relative;
	margin: 0px;
	padding: 0px;
	width: 980px;
	background-image: url(footer.jpg);
	background-color:#0076ad;
	background-repeat: no-repeat;
	background-position: center top;
}

/* MENU PRINCIPAL >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


#menu {
	z-index: 1010;
	float:left;
	position:relative;
	width: 975px;
	height: 33px;
	margin: 0px;
	padding-top: 5px;
	padding-left: 5px;
	background-image: url(fond_menu.jpg);
	background-repeat: repeat-y;
	background-position: center top;
}

.home {
	background-color: #000000;
}

/* MENU PRINCIPAL >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

#milieu iframe {
	background-color: #FFFFFF;
	width: 970px;
	height: 1000px;
	margin: 5px;
	padding: 0px;
}


/* CELLULES >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/* ENTETE */

#header_left {
	float: left;
	background-color: transparent;
	height: 200px;
	width: 708px;
	margin: 0px;
	padding: 0px;
}


#header_right {
	float: left;
	height: 200px;
	width: 272px;
	margin: 0px;
	padding: 0px;
}

#infos_utiles img{
	border: 0px;
}

#infos_utiles ul{
	float: right;
	margin: 3px;
	padding: 0px;
	list-style-type: none;
	width: auto;

}

#infos_utiles li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	text-align: left;
	cursor: pointer;
	width: 5.8em;
	float: left;
}


#infos_utiles a{
	display: block;
	background-color: #FFFFFF;
	color: #666666;
	text-decoration: none;
	margin-right: 2px;
	padding-top: 0.2em;
	padding-right: 0.75em;
	padding-bottom: 0.2em;
	padding-left: 0.75em;
	font-size: 0.6em;
	font-family: Geneva, Arial, Helvetica, sans-serif;

}

#infos_utiles a:hover{
	display: block;
	background-color: #FFFFFF;
	color: #FF9900;
	text-decoration: none;
	margin-right: 2px;
	padding-top: 0.2em;
	padding-right: 0.75em;
	padding-bottom: 0.2em;
	padding-left: 0.75em;
	font-size: 0.6em;
	font-family: Geneva, Arial, Helvetica, sans-serif;

}

#header_right hr{
	clear: both;
	visibility: hidden;
}

.version_a {
	display: block;
	float: right ;
	margin-top: 3px;
	margin-left: 2px;
	margin-right: 0px;
	padding: 0px ;
}

#visite span{
	float: left ;
	background-color: #CCCCCC;
}

#visite img{
	float: left ;
	border: 0px;
	margin-right: 5px;
}

.visite {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	color: #333333;
	text-decoration: underline;
}

.visite:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	color: #FF9900;
	text-decoration: none;
}


.conditions {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #FF9900;
	text-decoration: none;
}

.conditions:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #333333;
	text-decoration: none;
}



/* Pied de Page */
#pieddepage p {
	margin: 0px;
	padding-right: 5px;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 0.8em;
	clear: both;
}

#mentions {
	margin: 0px;
	padding-top: 3px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	display: block;
	text-align: center;
	font-size: 0.8em;
}


#mentions a {
	font-family: Arial, Helvetica, sans-serif;
	color: #12579c;
	text-decoration: underline;
}

#mentions a:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	text-decoration: none;
}