/* 
www.vinci.com
Frederic RENARD pour Vinci
Derniere modification le 10/12/2008
*/
*{margin:0!important;padding:0!important}
body{margin:0 2em 1em!important}
table{border-collapse:collapse;margin-left:1em}
td,th{border:1px solid #000;padding:.4em}
#logo{position:relative;float:right!important;text-align:right;left:auto;top:auto;right:auto;bottom:auto}
#header,#title,#nav,#main-nav,#sub-nav{width:100%;color:#000;letter-spacing:0;border-style:none}
#title,#main-nav,#sub-nav{background:#F5F5F5 -1000px -1000px!important;padding-left:1em!important}
#title h1,#nav li{text-transform:none;background:-1000px -1000px}
#title h1{font-size:1.1em}
#content{border-top:1px solid #999;padding-top:1em!important}
#nav ol{list-style:none}
#nav li{display:inline}
#nav li a.on{display:inline;color:#000;font-weight:bold;text-decoration:none}
#content h2{font-size:1em}
img,#content.margin{border-style:none}
#tools,#links,#styleswitcher,#search,#summary,#context,#footer,.empty,#nav a,a.archiv,a.back,a.pdf,a.print,a.sort,a.download,a.pop,a.form,a.icalabo,a.icaltel,a.top,.carriere caption{display:none}