/* ------- Footer V1 - Opodo ----- */
#footerWrapper-opodo {
    width: 740px;
    font-size: 10px;
    font-family: Verdana, Arial, sans-serif; 
	 color: #000;
    background-color: #FFF;
	 margin: 50px 0 20px 10px;
}
#footerWrapper-opodo #footerRichContent {
	padding: 10px;
	border-top: 5px solid #E3E3E3;
	border-bottom: 4px solid #E3E3E3;
	clear: both;
	background: #F7F7E7;
	font-size: 10px;
}
#footerWrapper-opodo #footerInformations,
#footerWrapper-opodo #footerInternational, 
#footerWrapper-opodo #footerPayment,
#footerWrapper-opodo #footerCorporate,
#footerWrapper-opodo #footerOtherLinks {
	padding: 8px 0;
	border-bottom: 1px solid #E3E3E3;
	clear: both;
	font-size: 10px;
}
#footerWrapper-opodo a {
    color: #888;
	 text-decoration: none;
	 font-size: 10px;
}
#footerWrapper-opodo a:hover {
    color: #900;
	 text-decoration: underline;
	 font-size: 10px;
}
#footerWrapper-opodo #footerRichContent dd a {
	 color: #000;
	 font-size: 10px;
}
#footerNewsletterOptin p.all {
	clear: both;
	padding: 5px 0 0 0;
	margin-right: 3px;
}
#footerNewsletterOptin p.all a:link, #footerNewsletterOptin p.all a:visited {
	text-decoration: none;
	padding-right: 16px;
	color: #F60;
	background: url(arrow.gif.1) no-repeat 100% 60%;
}
#footerNewsletterOptin p.all a:hover {
	text-decoration: underline;
}
#footerNewsletterOptin p.all a:active {
	text-decoration: none;
	color: #F60;
}
#footerWrapper-opodo p {
    color:#888;
	 margin: 0;
	 padding: 0;
	 font-size: 10px;
}
#footerWrapper-opodo dl#footerServices {
	 width: 440px;
	 float: left;
	 margin: 0;
	 padding: 0;
	 border-right: 1px solid #DDD;
	 font-size: 10px;
}
#footerWrapper-opodo dt {
	 color: #900;
	 font-weight: bold;
	 margin: 0 0 0.5em 0;
	 padding: 0;
	 font-size: 14px;
}
#footerWrapper-opodo dl#footerServices dd {
	 margin: 0 20px 0 0;
	 padding: 0 0 0 20px;
	 line-height: 2em;
	 width: 40%;
	 float: left;
	 font-size: 10px;
}
#footerWrapper-opodo dl#footerServices dd#footer-suivi {
	background: url(icon-suivi.gif) no-repeat 0 50%;
}
#footerWrapper-opodo dl#footerServices dd#footer-horaires {
	background: url(icon-horaires.gif) no-repeat 0 50%;
}
#footerWrapper-opodo dl#footerServices dd#footer-checkin {
	background: url(icon-checkin.gif) no-repeat 0 50%;
}
#footerWrapper-opodo dl#footerServices dd#footer-sms {
	background: url(icon-sms.gif) no-repeat 0 50%;
}
#footerWrapper-opodo dl#footerServices dd#footer-conseils {
	background: url(icon-conseils.gif) no-repeat 0 50%;
}
#footerWrapper-opodo dl#footerServices dd#footer-visas {
	background: url(icon-visas.gif) no-repeat 0 50%;
}
#footerWrapper-opodo dl#footerServices dd#footer-transferts {
	background: url(icon-transferts.gif) no-repeat 0 50%;
}
#footerWrapper-opodo dl#footerServices dd#footer-omg {
	background: url(icon-omg.gif) no-repeat 0 50%;
	line-height: 1.2em;
}
#footerWrapper-opodo dl#footerServices dd#footer-groupes {
	background: url(icon-group.gif) no-repeat 0 50%;
}
#footerWrapper-opodo dl#footerServices dd#footer-feed {
	background: url(icon-feed.gif) no-repeat 0 50%;
}
#footerWrapper-opodo dl#footerServices dd#footer-cofinoga {
	background: url(icon-cofinoga.gif) no-repeat 0 50%;
	line-height: 1.2em;
}
#footerWrapper-opodo dl#footerServices dd#footer-medic {
	background: url(icon-medic.gif) no-repeat 0 50%;
}
#footerWrapper-opodo dl#footerServices dd#footer-aide {
	background: url(icon-aide.gif) no-repeat 0 50%;
}
#footerWrapper-opodo dl#footerServices dd#footer-photos {
	background: url(icon-photos.gif) no-repeat 0 50%;
}
#footerWrapper-opodo #footerNewsletterOptin {
	float: right;
	width: 260px;
	font-size: 10px;
}
#footerWrapper-opodo #footerNewsletterOptin form {
	padding: 0;
	margin: 0;
	border: none;
	font-size: 10px;
}
#footerWrapper-opodo #footerNewsletterOptin h3 {
	margin: 0 0 7px 0;
	padding: 0;
	font-size: 14px;
	line-height: 20px;
	color: #900;
}
#footerWrapper-opodo #footerNewsletterOptin label {
	font-weight: normal;
	color: #333;
	font-size: 10px;
}
#footerWrapper-opodo #footerNewsletterOptin input#footerEmail {
	padding: 4px;
	border: 1px solid #CCC;
	font-size: 11px;
	width: 220px;
	color: #333;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
#footerWrapper-opodo #footerNewsletterOptin input.footerSubmit{
	margin-bottom: -7px;
}

#footerWrapper-opodo #footerNewsletterOptin p {
	font-size: 10px;
	color: #000;
	margin: 5px 0 4px 0;
	line-height: 1.4em;
}
#footerWrapper-opodo p#rssOptin {
	font-size: 10px;
	font-weight: bold;
	color: #F60;
	line-height: 1.4em;
	padding-top: 10px;
	padding-left: 20px;
	background: url(icon-feed.gif) no-repeat 0 100%;
}
#footerWrapper-opodo p#rssOptin a {
	color: #F60;
	font-size: 10px;
}
#footerWrapper-opodo p#footerInformations {
    color: #DDD;
	 border-top: 1px solid #E3E3E3;
	 font-size: 10px;
}
#footerWrapper-opodo p#footerInformations a {
    color: #900;
	 font-size: 10px;
}
#footerWrapper-opodo p#footerInternational img {
    margin-bottom: -2px;
}
#footerWrapper-opodo p#footerLicense {
	 margin-top: 10px;
	 font-size: 10px;
}
#footerWrapper-opodo p#footerLicense img {
    float: left;
	 margin: 0 5px -2px -5px;
}
#footerWrapper-opodo p#footerOtherLinks {
	 font-size: 9px;
	 color: #DDD;
}
#footerWrapper-opodo p#footerOtherLinks a {
	 color: #888;
	 font-size: 9px;
}
#footerRichContent:after,
dl#footerServices:after {
	content: ".";
	display: block;
	height: 0;
	text-indent: -5000px;
	visibility: hidden;
	clear: both;
}
#footerRichContent, dl#footerServices {display: inline-block;}
* html #footerRichContent, * html dl#footerServices {height:1%;}
#footerRichContent, dl#footerServices {display: block;}

/* ------- Footer V1.2 - Opodo ----- */
#dv_footer-opodo * {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:0em;
	padding:0em;
}
#dv_footer-opodo {
	background-color:transparent;
	min-width:920px;
	width:57.5em;
}
#dv_footer-opodo {
	float:left;	
}
#dv_footer-opodo ul {
	list-style-type:none;
}
#dv_footer-opodo ul li {
	display:inline;
}
#dv_footer-opodo a,
#dv_footer-opodo p {
	font-size:0.625em;
	color:black;
}
#dv_footer-opodo a:hover {
	text-decoration:underline;
}

/* Bloc Services */
#dv_footer-opodo #footerRichContent {
	background-color:#f7f7e7;
	min-width:920px;
	width:57.5em;
	border-top:5px solid #E3E3E3;
	border-bottom:4px solid #E3E3E3;
	min-height:140px;
}
#dv_footer-opodo #footerRichContent h2,
#dv_footer-opodo #dv_newsletter h3 {
	margin:0em;
	color:#990000;
	font-size:0.875em;
	padding:0.5em;
	padding-bottom:0.25em;
}
#dv_footer-opodo ul#footerServices {
	float:left;
	min-width:575px;
	width:36em;
	border-right:1px solid #E3E3E3;
	padding-bottom:0.7em;
}
#dv_footer-opodo ul#footerServices li {
	float:left;
	min-width:280px;
	width:17.5em;
	margin-left:0.45em;
}
#dv_footer-opodo ul#footerServices li a {
	padding-left:2em;
}

/* Icon Service */
#dv_footer-opodo ul#footerServices li#footer-horaires {
	background: url(icon-horaires.gif) left bottom no-repeat;
}
#dv_footer-opodo ul#footerServices li#footer-checkin {
	background: url(icon-checkin.gif) left bottom no-repeat;
}
#dv_footer-opodo ul#footerServices li#footer-conseils {
	background: url(icon-conseils.gif) no-repeat left bottom;
}
#dv_footer-opodo ul#footerServices li#footer-visas {
	background: url(icon-visas.gif) no-repeat left bottom;
}
#dv_footer-opodo ul#footerServices li#footer-transferts {
	background: url(icon-transferts.gif) no-repeat left bottom;
}
#dv_footer-opodo ul#footerServices li#footer-omg {
	background: url(icon-omg.gif) no-repeat left bottom;
}
#dv_footer-opodo ul#footerServices li#footer-cofinoga {
	background: url(icon-cofinoga.gif) no-repeat left bottom;
}
#dv_footer-opodo ul#footerServices li#footer-medic {
	background: url(icon-medic.gif) no-repeat left bottom;
}
#dv_footer-opodo ul#footerServices li#footer-aide {
	background: url(icon-aide.gif) no-repeat left bottom;
}
#dv_footer-opodo ul#footerServices li#footer-photos {
	background: url(icon-photos.gif) no-repeat left bottom;
}
#dv_footer-opodo ul#footerServices li#footer-carteOpodo {
	background: url(icon_carteCofinoga.gif) no-repeat left bottom;
}
/* #dv_footer-opodo ul#footerServices li#footer-photos {
	background: url(http://www.opodo.fr/img_opodo/headfoot/icon-suivi.gif) no-repeat 0 50%;
}
#dv_footer-opodo ul#footerServices li#footer-feed {
	background: url(http://www.opodo.fr/img_opodo/headfoot/icon-feed.gif) no-repeat 0 50%;
}
#dv_footer-opodo ul#footerServices li#footer-groupes {
	background: url(http://www.opodo.fr/img_opodo/headfoot/icon-group.gif) no-repeat 0 50%;
}
#dv_footer-opodo ul#footerServices li#footer-sms {
	background: url(http://www.opodo.fr/img_opodo/headfoot/icon-sms.gif) no-repeat 0 50%;
} */

/* Navigation Fin de page */
#dv_footer-opodo ul#dv_navBarBottom,
#dv_footer-opodo ul#dv_navBarOtherLinks,
#dv_footer-opodo #dv_navBarCorporate,
#dv_footer-opodo #dv_navBarInternational {
	border-bottom:1px solid #E3E3E3;
	min-height:25px;
	padding-top:0.25em;
}
#dv_footer-opodo ul#dv_navBarOtherLinks {
	padding-top:0.3em;
}
#dv_footer-opodo ul#dv_navBarBottom,
#dv_footer-opodo ul#dv_navBarOtherLinks {
	text-align:center;
	min-width:920px;
	width:57.5em!Important;
}
#dv_footer-opodo ul#dv_navBarOtherLinks li,
#dv_footer-opodo ul#dv_navBarBottom li {
	display:inline;
	margin:0em;
	padding:0em;
}
#dv_footer-opodo ul#dv_navBarBottom li a,
#dv_footer-opodo ul#dv_navBarOtherLinks li a {
	color:#990000;
	border-right:1px solid #990000;
	padding-right:0.5em;
}
#dv_footer-opodo ul#dv_navBarOtherLinks li a {
	color:#6c6c6c;
	border-right:1px solid #6c6c6c;
}
#dv_footer-opodo #dv_navBarCorporate {
	min-height:40px;
}
#dv_footer-opodo #dv_navBarCorporate p,
#dv_footer-opodo #dv_navBarInternational p {
	color:#6c6c6c;
	padding-top:0.35em;
}
#dv_footer-opodo #dv_navBarCorporate p#footerLicense img {
	float:left;
	margin-right:1em;
}
#dv_footer-opodo #dv_navBarInternational ul {
	position:absolute;
	margin-top:-0.95em;
	margin-left:6em;
	min-width:750px;
	width:46.875em!Important;
}
#dv_footer-opodo #dv_navBarInternational ul li img {
	border:none;
}
#dv_footer-opodo a {
	text-decoration:none;
}
