.j {
font:9px Verdana;
}
.j2 {
font:9px Verdana;
color:#FF0000;
}
#breve {
  width:586px;
  .width:590px;
  text-align:left;
  padding:6;
  font:11px Verdana;
  line-height:14px;
  margin:5 0 5 0;
  .margin:10 0 5 10;
  }
#swf {
	position:absolute;
	z-index:1;
	top:138px;
	left:10px;
	.left:20px;
}
/* lien verdana noir */
.vn11
{
	font-size:11px;
	font-family:Verdana;
	color:#000000;
	font-weight:bold;
	text-decoration:none;
}
a:hover.vn11
{
	font-size:11px;
	font-family:Verdana;
	color:#000000;
	font-weight:bold;
	text-decoration:underline;
}
/* verdana blanc gras */
.vb11
{
	font-size:11px;
	font-family:Verdana;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
}
/* verdana blanc */
.vb10
{
	font-size:10px;
	font-family:Verdana;
	color:#FFFFFF;
	text-decoration:none;
}
a:hover.vb10
{
	font-size:10px;
	font-family:Verdana;
	color:#FFFFFF;
	text-decoration:underline;
}

/* verdana prix */
.vr15
{
	font-size:13px;
	font-family:Verdana;
	color:#FF0000;
	font-weight:bold;
	line-height:18px;
}
/* arial blanc */
.vb9
{
	font-size:9px;
	font-family:Verdana;
	color:#FFFFFF;
}
/* arial bleu */
.vb9-2
{
	font-size:9px;
	font-family:Verdana;
	color:#646A86;
}
/* lien verdana rouge */
.vr11
{
	font-size:11px;
	font-family:Verdana;
	color:#FF0000;
	font-weight:bold;
	text-decoration:none;
	line-height:18px;
}
a:hover.vr11
{
	font-size:11px;
	font-family:Verdana;
	color:#FF0000;
	font-weight:bold;
	text-decoration:underline;
	line-height:18px;
}
.vg11
{
	font-size:11px;
	font-family:Verdana;
	color:#333333;
	line-height:16px;
}
/* lien verdana gris */
.vg10
{
	font-size:10px;
	font-family:Verdana;
	color:#333333;
	text-decoration:none;
	line-height:16px;
}
a:hover.vg10
{
	font-size:10px;
	font-family:Verdana;
	color:#333333;
	text-decoration:underline;
	line-height:16px;
}
.ar11
{
	font-size:10px;
	font-family:Arial;
	color:#FF0000;
	line-height:18px;
	text-decoration:none;
}
a:hover.ar11
{
	font-size:10px;
	font-family:Arial;
	color:#FF0000;
	line-height:18px;
	text-decoration:underline;
}
.ar9
{
	font-size:9px;
	font-family:Verdana;
	color:#000000;
	line-height:18px;
}
.input
{
	font-size:11px;
	font-family:Verdana;
}
body
	{
	background-repeat:no-repeat;
	background-position:620px 0px;
	}
/* page offres accueil*/
.ligne
	{
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	}
.Table
{
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	border-top-width: 0px;
	background-color:#EFEFEF;
}
.Cell_accueil{
	border-width: 1px;
	border-style:solid;
	border-color:#CCCCCC;
	background-color:#EFEFEF;
	padding: 3 7 0 7;
}
/* page actualites accueil*/
.vr10B
	{
	font-size:10px;
	font-family:Verdana;
	color:#FF0000;
	font-weight:bold;
	line-height:10px;
	text-decoration:none;
	line-height:16px;
	}
a:hover.vr10B
	{
	font-size:10px;
	font-family:Verdana;
	color:#FF0000;
	font-weight:bold;
	line-height:10px;
	text-decoration:underline;
	line-height:16px;
	}
/* page promotions*/
.Table2
{
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
}
.vr15
	{
	font-size:13px;
	font-family:Verdana;
	color:#FF0000;
	font-weight:bold;
	line-height:18px;
	}
.vg12
	{
	font-size:12px;
	font-family:Verdana;
	color:#333333;
	font-weight:bold;
	line-height:18px;
	text-decoration:none;
	}
a:hover.vg12
	{
	text-decoration:underline;
	}
.vg11-L
	{
	font-size:11px;
	font-family:Verdana;
	color:#666666;
	line-height:18px;
	}
.vbl11
	{
	font-size:11px;
	font-family:Verdana;
	color:#0099CC;
	line-height:18px;
	text-decoration:none;
	}
a:hover.vbl11
	{
	text-decoration:underline;
	}
.vr22
	{
	font-size:22px;
	font-family:Verdana;
	color:#FF0000;
	}
.rL
{
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	border-bottom-width:0px;
	border-top-width:0px;
	border-right-width:0px;
}

