/* Defaults
------- */
body {background: #fff;}
* {margin: 0; padding: 0; font-size: 1em;}
img, fieldset {border: none;}
ul {list-style: none;}
table {border-collapse: collapse; border-spacing: 0; empty-cells: show;}
select > option {padding: 0 16px 0 3px;}
textarea {overflow: auto;}
button {border-style: inset; border-width: 0; border: none; background: none; vertical-align: middle;}
acronym {border-bottom: dotted 1px;}
hr, legend, .wai {display: none;}
/*:focus {outline: none;}*/
body, select, input, textarea, button, a {color: #666;}
a:hover, button:hover {color: #103184;}


* {font-family: arial,FreeSans,verdana,sans-serif;}
#mainFooter {font-family: 'Arial Black',arial,FreeSans,verdana,sans-serif;}

sub, sup {font-size: 0.85em; line-height: 0.5em; text-transform: none;}
sub {vertical-align: -0.3em;}
a {text-decoration: none;}
.content a {text-decoration: underline;}
.content ul li {list-style: disc; margin-left: 2.5em;}
.content ul ul li {list-style: square;}

.content h2,
.content h3,
.content h4 {font-weight: normal;}

body {font-size: 68.802%; line-height: 1.5459;}

.content h1 {font-size: 1.639em; margin-bottom: 0.944em; line-height: 0.944;}
#intro h1 {line-height: 1.3; font-size: 2em; font-weight: normal; margin-bottom: 0.5em;}
.content h2 {font-size: 1.455em; position: relative; top: -0.04em; margin: 0 0 1.0629em 0; line-height: 1.0629;}
.content h3 {font-size: 1.272em; position: relative; top: -0.03em; margin: 0 0 1.2149em 0;  line-height: 1.2149; font-weight: bold;}
.content h4,
#intro {font-size: 1.091em; margin: 0 0 1.417em 0; line-height: 1.417;}
.content p,
.content ul,
.content ol,
.content .illustration,
.content .inset {margin-bottom: 1.545em;}

/*.content h2 + h3 {margin-top: -1.2149em;}*/
.content h3 + h4 {margin-top: -1.417em;}

.content small,
.content .legend,
#subFooter,
#quickLinks,
#keepInTouch,
#welcomer ul,
#breadcrumbs {font-size: 0.909em; line-height: 1.6;}

#navigation li,
#nav2 {font-size: 0.818em; line-height: 1.6;}
#navigation .sub li {font-size: 1em; line-height: 1.8;}

#mainFooter strong {font-size: 1.3em; margin: 0 0 1.308em 0; line-height: 1.231;}

#elseWhere {line-height: 1.455;}
#elseWhere strong {font-size: 1.182em; margin: 0 0 1.308em 0; }



