/*
//================================================================
//  book.css
//================================================================
//        $Id: book.css,v 1.5 2007/06/01 15:41:02 libert-li Exp $
//================================================================
//   $RCSfile: book.css,v $
//  $Revision: 1.5 $
//      $Date: 2007/06/01 15:41:02 $
//    $Author: libert-li $
//================================================================
*/

/*
Marquage CVS
$Header: /data/cvs/repository_v1.0/applis/src/fo/ebxapp/ebx/framework/skins/ebxDefault/css/book.css,v 1.5 2007/06/01 15:41:02 libert-li Exp $
*/

.bea-portal-book-primary {
    padding: 0px; margin: 0px; width: 100%; background-color: #ffffff;
}

.bea-portal-book-primary-content {
    padding: 0px; vertical-align: top;
}

.bea-portal-book-primary-page {
    padding: 0px; margin: 0px; width:100%;
}

.bea-portal-book {
    margin: 0px; border-style: solid; border-width: 0px; border-color: #333366;
}

.bea-portal-book-content {
    scrollbar-base-color:#d8d8e5;
}

.bea-portal-book-page {
    background-color: #ffffff; padding: 0px; margin: 0px;
}