@charset "UTF-8";
/* CSS Document */

body {
background-color:#bcc19c;
margin:0px;
padding:0px;
font-size:12px;
color:#4C444F;
font-family: Arial, Helvetica, sans-serif;
}



#content {
width:980px;
margin-left:auto;
margin-right:auto;
background-image:url(fond_repeat.gif);
background-repeat:repeat-y;
padding:0 6px 0 5px;
clear:both;
}

#haut_de_page {
clear:both;
height:32px;
background-image:url(fond_haut_de_page.gif);
background-repeat:no-repeat;
text-align:left;
width:957px;
padding:10px;
text-align:left;
}

#bandeau {
clear:both;
width:977px;
height:149px;
background-image:url(bandeau.gif);
background-repeat:no-repeat;
}

#contenu {
text-align:left;
clear:both;
width:965px;
padding:0 6px 0 15px;
margin:20px 0 0 0;
}