body {
	background-position: top center;
	background-repeat: repeat-y;
	color: #333;
	font-family: "Trebuchet MS";
	margin: 0;
	padding: 0;
	text-align: left;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.inlineFontSize70 {
	display: inline;
	font-size: 70%;
}

span.fontSize70 ul,div.fontSize70 ul,div.introCtnList ul,div.footerCtnList ul,.blogSummary ul,table.metier td ul
	{
	list-style-position: inside;
	list-style-type: disc;
	margin: 0 0 0 5px;
	padding: 0 0 0 10px;
}

.blog .blogSummary ul li {
	margin: 0;
	padding: 0;
	text-indent: 0;
}

input {
	margin: 0;
	padding: 0;
}

a {
	color: #333;
	position: relative;
	text-decoration: none;
}

a:hover {
	color: #333;
	text-decoration: underline;
}

img {
	border: none;
}

#page,.page {
	margin: 0 auto;
	width: 995px;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.boldUnderline {
	font-weight: 700;
	text-decoration: underline;
}

#header {
	text-align: left;
}

#header .bloc_logo {
	float: left;
	height: 137px;
	width: 157px;
}

#header .bloc_logo a {
	display: block;
	margin: 25px 30px 0 55px;
}

#header .bloc_logo .logo_jahia a {
	display: inline;
	margin: 0;
}

#header .bandeau {
	height: 195px;
	overflow: hidden;
	width: 80%;
}

.twoColumnsTemplate #header .bandeau{
	position: relative;
	left:70px;
}

#header .logo_jahia,#header .bandeau_jahia {
	position: absolute;
}

#navigation_haut {
	margin-left: 231px;
	margin-top: -90px;
	position: relative;
	width: 564px;
}
.twoColumnsTemplate #navigation_haut {
	width: 764px;
}

#navigation_haut .nav_haut {
	background-image: url(bg_nav_haut_no_separations.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
	min-height: 29px;
	padding: 25px 8px 0;
}

.twoColumnsTemplate #navigation_haut .nav_haut {
	background-image: url(bg_nav_haut_no_separations_large.gif);
}

#navigation_haut .nav_haut ul {
	float: left;
	font-size: 90%;
	font-weight: 700;
	list-style-type: none;
	width: 100%;
}

#navigation_haut .nav_haut ul.more_items {
	border-top: 1px dotted #C8C8C8;
	margin-top: 2px;
}

#navigation_haut .nav_haut li {
	float: left;
	padding: 2px 1%;
	text-align: center;
	width: 22%;
}

#navigation_haut .nav_haut .navHautAddLink {
	clear: both;
	display: block;
}

#navigation_haut .nav_haut li.navHautItemSep1,#navigation_haut .nav_haut li.navHautItemSep2,#navigation_haut .nav_haut li.navHautItemSep3,#navigation_haut .nav_haut li.navHautItemSep4,#navigation_haut .nav_haut li.navHautItemSep5,#navigation_haut .nav_haut li.navHautItemSep6,#navigation_haut .nav_haut li.navHautItemSep7,#navigation_haut .nav_haut li.navHautItemSep8
{
	border-left: 1px solid #C8C8C8;
	font-size: 1px;
	height: 35px;
	width: 1px;
	padding : 0;
}

#footer {
	padding-top: 10px;
	text-align: center;
}

#footer .pad_img {
	margin-right: 20px;
}

#footer p {
	margin: 10px 0 7px;
}

.page #menu_gauche {
	margin-top: -10px;
}

#menu_gauche {
	margin: 0 auto;
	text-align: left;
	width: 196px;
}

#menu_gauche .input,#menu_gauche .select,.select01,#centre_page #liste_doc .input,#centre_page #liste_doc .select,#centre_page #liste_doc .select1
	{
	border: 1px solid #C6C9BF;
	color: #333;
	font-family: "Trebuchet MS";
	font-size: 70%;
	padding-left: 5px;
	width: 80%;
}

.select01 {
	font-size: 81%;
	width: 99%;
}

#menu_gauche .input_img,#centre_page .bloc_agenda_cult .input_img {
	vertical-align: bottom;
}

#menu_gauche .liste_menu_G {
	color: #004D9F;
	font-size: 70%;
	list-style-type: none;
	margin: 5px 0 0;
}

#menu_gauche .sous_liste_menu_G {
	color: #004D9F;
	font-size: 100%;
	list-style-type: none;
	margin: 5px 0 0 10px;
}

#menu_gauche .liste_menu_G li {
	background-image: url(puce1.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
	padding: 0 0 5px 15px;
}

#menu_gauche .liste_menu_G li.level1 {
	background-image: none;
	margin: 0 0 15px;
	padding: 0;
}

#menu_gauche .bloc_menu_gauche .liste_menu_G h3.titre_G {
	font-size: 105%;
}

#menu_gauche .liste_menu_G li.closed,#menu_gauche .sous_liste_menu_G li.closed
	{
	background-image: url(puce1.gif);
}

#menu_gauche .sous_liste_menu_G li {
	background-image: url(puce1.gif);
	background-repeat: no-repeat;
	padding: 0 0 5px 15px;
}

#menu_gauche .sous_liste_menu_G li.hiddenMenuItem {
	border: 1px dashed;
}

#menu_gauche .liste_menu_G li.opened,#menu_gauche .sous_liste_menu_G li.opened
	{
	background-image: url(puce1_bas.gif);
}

#menu_gauche .liste_menu_G li.current a {
	font-weight: 700;
	text-decoration: underline;
}

#menu_gauche .liste_menu_G li.notCurrent a {
	font-weight: 400;
	text-decoration: none;
}

#menu_gauche .bloc_nom_extranet h3.titre_G {
	background-color: #98B20D;
	background-repeat: no-repeat;
	color: #FFF;
	padding: 10px;
	position: relative;
}

#menu_gauche .bloc_recherche,#menu_gauche .bloc_menu_gauche,#menu_gauche .bloc_profil
	{
	margin: 10px 0 15px;
	width: 196px;
}

#menu_gauche .bloc_recherche {
	position: relative;
}

#menu_gauche .bloc_recherche p {
	margin: 3px 0;
}

#menu_gauche .bloc_recherche span {
	font-size: 65%;
}

#menu_gauche .bloc_recherche h3.titre_G,#menu_gauche .bloc_menu_gauche h3.titre_G,#menu_gauche .bloc_profil h3.titre_G
	{
	background-color: #004C9F;
	background-image: url(bg_titre_G_recherche.png);
	background-repeat: no-repeat;
	color: #FFF;
	font-size: 75%;
	min-height: 22px;
	padding: 8px 30px 0 10px;
}

#menu_gauche .bloc_recherche .pad_menu_G {
	padding: 10px 10px 0;
}

#centre_page h1.titre_G {
	color: #FFF;
	font-size: 150%;
	font-weight: 400;
	margin-bottom: 5px;
	min-height: 34px;
	padding: 4px 0 0 10px;
}

#menu_gauche .bloc_profil {
	background-image: url(bg_bloc_profil.png);
	background-repeat: no-repeat;
	display: block;
	min-height: 70px;
}

#menu_gauche .bloc_profil h3.titre_G {
	background: none;
}

.select_disabled {
	color: #CECECE;
}

#menu_gauche .bloc_menu_gauche {
	background-image: url(degarde_liste_domaine.jpg);
	background-position: bottom left;
	background-repeat: no-repeat;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

#menu_gauche .bloc_menu_gauche .picto_fleche h3.titre_G {
	background-image: url(bg_titre_G_recherche.png);
}

#menu_gauche .bloc_menu_gauche .picto_question h3.titre_G {
	background-image: url(bg_titre_G_profil.png);
}

#menu_gauche .bloc_menu_gauche .picto_coche h3.titre_G {
	background-image: url(bg_titre_G_domaines.png);
}

#menu_gauche .bloc_menu_gauche .couleur_bleu h3.titre_G {
	background-image: url(bg_titre_G_domaines_bleu.png);
}

#menu_gauche .bloc_menu_gauche .couleur_violet h3.titre_G {
	background-image: url(bg_titre_G_domaines_violet.png);
}

#menu_gauche .bloc_menu_gauche .couleur_orange h3.titre_G {
	background-image: url(bg_titre_G_domaines_orange.png);
}

#menu_gauche .bloc_menu_gauche .couleur_jaune h3.titre_G {
	background-image: url(bg_titre_G_domaines_jaune.png);
}

#menu_droit {
	background-image: url(separauteur_droit.png);
	background-position: bottom left;
	background-repeat: no-repeat;
	margin-top: -170px;
	overflow: visible;
	padding-bottom: 8px;
	position: relative;
	text-align: left;
	width: 199px;
	z-level: 100px;
}

#menu_droit .bloc_liens {
	min-height: 115px;
}

#menu_droit .bloc_ombre {
	background-image: url(bg_degarde_D.gif);
	background-repeat: repeat-y;
}

#menu_droit .liste_menu_D {
	font-size: 70%;
	line-height: 18px;
	list-style-type: none;
	margin-left: 20px;
	padding-top: 10px;
	width: 155px;
}

#menu_droit .liste_menu_D li {
	padding-left: 27px;
}

#menu_droit .liste_menu_D .newsletter,#menu_droit .liste_menu_D .forum,#menu_droit .liste_menu_D .contact,#menu_droit .liste_menu_D .plan,#menu_droit .liste_menu_D .rss,#menu_droit .liste_menu_D .authent,#menu_droit .liste_menu_D .documentation,#menu_droit .liste_menu_D .faq
	{
	background-image: url(bg_newsletter.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

#menu_droit .liste_menu_D .forum {
	background-image: url(bg_forum.png);
	background-position: 0 50%;
}

#menu_droit .liste_menu_D .contact {
	background-image: url(bg_contact.png);
	background-position: 0 50%;
}

#menu_droit .liste_menu_D .plan {
	background-image: url(bg_plan.png);
	background-position: 0 50%;
}

#menu_droit .liste_menu_D .rss {
	background-image: url(rss_orange.png);
	background-position: 2px 50%;
}

.date_revue_presse {
	color: #A6BD1A;
	font-size: 80%;
	text-align: right;
}

.bloc_presse {
	clear: both;
	padding-top: 10px;
}

.bloc_presse h3 {
	background: transparent url(bg_titre_vert.png) no-repeat
		scroll 0 5px;
	color: #A0B913;
	font-size: 90%;
	padding-left: 15px;
	padding-right: 40px;
}

.bloc_presse .chapo {
	background-color: #EFEFFF;
	font-size: 80%;
	margin-top: 5px;
}

.press_review_detail {
	float: left;
	font-size: 70%;
	margin-top: 5px;
}

.press_review_detail .titre_bloc {
	color: #A0B913;
	font-size: 120%;
	font-weight: 700;
	margin-bottom: 5px;
	margin-top: 5px;
}

.press_review_detail .sous_titre_bloc {
	font-style: italic;
	margin-top: 2px;
}

.rvp_item {
	float: left;
	margin-top: 20px;
	width: 100%;
}

.journal_bloc,.domain_bloc,.theme_bloc,.comment_bloc,.link_bloc {
	background-color: #EFEFFF;
	clear: both;
	float: left;
	margin-left: 2%;
	padding: 2px 5px;
	width: 98%;
}

.link_bloc {
	background: transparent url(fleche_orange.gif) no-repeat
		scroll 0 3px;
	margin: 5px 0 5px 10px;
	padding-left: 20px;
}

.journal_label,.domain_label,.theme_label {
	float: left;
	font-weight: 700;
	text-decoration: underline;
	width: 20%;
}

.journal_value,.domain_value,.theme_value {
	float: left;
	width: 75%;
}

.filter_links a {
	color: #CCC;
	font-size: 11px;
	margin: 2px 5px;
}

#menu_droit .bloc_agenda {
	background-color: #A0B913;
	background-image: url(bg_haut_agenda.png);
	background-repeat: no-repeat;
	clear: both;
	margin-left: 4px;
	overflow: visible;
	padding: 30px 10px 10px;
	width: 152px;
}

#centre_page .agenda_centre {
	background-color: #A6BD1A;
	border: 2px solid #EFF5CB;
	float: left;
	margin-bottom: 20px;
	margin-left: 4px;
	margin-top: 10px;
	padding: 10px;
	width: 152px;
}

#centre_page .agenda_centre h3 {
	color: #FFF;
	font-size: 80%;
	font-weight: 400;
	text-align: center;
}

#centre_page .img_particip,#centre_page .img_agenda_event_detail,#centre_page .img_agenda_event
	{
	float: right;
	margin-left: 10px;
	margin-right: 0;
}

#centre_page .img_particip,#centre_page .img_agenda_event_detail {
	border: 1px solid #A0B913;
	padding: 1px;
}

#menu_droit h3 span.titre_blanc1,#centre_page .entete_annuaire h3 span.titre_blanc1,#menu_droit h3 span.titre_blanc2,#centre_page .entete_annuaire h3 span.titre_blanc2,.bloc_agenda_cult h3 span.titre_blanc1,.bloc_agenda_cult h3 span.titre_blanc2,#menu_droit h3 span.titre_blanc01 a,#menu_droit h3 span.titre_blanc01,span.titre_blanc1_bg
	{
	color: #FFF;
	font-weight: 400;
}

#menu_droit h3 span.titre_blanc01 {
	color: #65760B;
	display: block;
	font-size: 70%;
	text-align: center;
}

#centre_page .entete_annuaire h3 {
	float: left;
	margin-right: 10px;
	width: 140px;
}

.grey_date,.grey_month {
	color: #DEDEDE;
}

span.titre_blanc1_bg {
	background-image: url(rond02.png);
	background-position: right top;
	background-repeat: no-repeat;
	padding-bottom: 8px;
	padding-right: 98px;
}

#menu_droit h3 span.titre_blanc2,.bloc_agenda_cult h3 span.titre_blanc2,#centre_page .entete_annuaire h3 span.titre_blanc2
	{
	color: #FFF;
	font-size: 100%;
}

#menu_droit .bas_bloc_agenda {
	background-image: url(bg_bas_agenda.png);
	background-repeat: no-repeat;
	height: 17px;
	margin-left: 2px;
}

#menu_droit h3 span.titre_blanc1 {
	font-size: 80%;
	font-weight: 400;
}

#menu_droit .bloc_zoom {
	background-color: #FFF;
	margin-left: 4px;
	margin-top: 10px;
	padding-top: 10px;
	width: 172px;
}

h3.titre_D {
	background-color: #004C9F;
	background-image: url(bg_zoom.png);
	background-repeat: no-repeat;
	color: #FFF;
	font-size: 110%;
	font-weight: 400;
	min-height: 28px;
	padding: 8px 0 0 10px;
}

#menu_droit .bloc_zoom h4.titre_bleu,#centre_page .article h4.titre_bleu,#centre_page #page_communique .article h4.titre_bleu,#centre_page .article2 h4.titre_bleu,#centre_page .article1 h4.titre_bleu
	{
	color: #004D9F;
	font-size: 70%;
}

.img_zoom {
	margin-top: 7px;
}

#menu_droit .bloc_zoom .txt_lien {
	background-image: url(flesche.png);
	background-position: 0 70%;
	background-repeat: no-repeat;
	color: #004D9F;
	display: block;
	font-size: 60%;
	margin-bottom: 4px;
	margin-top: 4px;
	padding-left: 20px;
}

#centre_page {
	position: relative;
	width: 564px;
	overflow: hidden;
}

.editMode #centre_page {
	margin-top: 54px;
}

#navigation_haut .couleur_bleu a:hover,#centre_page #plan .couleur_bleu,#centre_page #plan .couleur_bleu a
	{
	color: #004296;
}

#navigation_haut .couleur_orange a:hover,#centre_page #plan .couleur_orange,#centre_page #plan .couleur_orange a
	{
	color: #E38133;
}

#navigation_haut .couleur_jaune a:hover,#centre_page #plan .couleur_jaune,#centre_page #plan .couleur_jaune a
{
	color: #F4A701;
}

#centre_page .centre {
	background-image: url(bg_ombre_centre.gif);
	background-repeat: repeat-y;
	height: auto;
	margin-left: 0;
	min-height: 50px;
	padding: 10px 30px 20px;
	text-align: left;
	width: 504px;
}

.twoColumnsTemplate #centre_page .centre {
	background-image: url(bg_ombre_centre_large.gif);
}


#centre_page .bas_centre {
	_margin: 15px 0 -30px -30px;
	background-image: url(bg_bas_centre.png);
	background-repeat: no-repeat;
	background-position : 0 100%;
	height: 12px;
	margin: 15px 0 -20px -30px;
	width: 564px;
}

.twoColumnsTemplate #centre_page .bas_centre {
	background-image: url(bg_bas_centre_large.png);
	width: 764px;
	margin: 15px 0 -20px -15px;
}

.colone_gauche {
	margin-left: -5px;
	margin-right: 18px;
	padding-top: 10px;
	position: relative;
	width: 275px;
}

.colone_droite {
	margin-top: 25px;
	width: 216px;
}

.fleche_centre {
	float: none !important;
	vertical-align: text-bottom;
}

#centre_page .Bleu .titre_G_right h1.titre_G {
	background: url(bg_la_une.png) no-repeat left top;
}

#centre_page .Vert .titre_G_right h1.titre_G {
	background: url(bg_la_une_turquoise.png) no-repeat left top;
}

#centre_page .Rouge .titre_G_right h1.titre_G {
	background: url(bg_la_une_orange.png) no-repeat left top;
}

#centre_page .Mauve .titre_G_right h1.titre_G {
	background: url(bg_la_une_magenta.png) no-repeat left top;
}

#centre_page h2.titre_bleu,#centre_page h3.titre_bleu,#centre_page h2.titre_bleu_bg,#centre_page #page_communique h2.titre_bleu_bg
	{
	color: #005AA9;
	font-size: 100%;
}

#centre_page h3.titre_bleu {
	font-size: 70%;
	min-height: 25px;
}

#centre_page .separateur_01 {
	background-image: url(bg_separateur.png);
	background-repeat: repeat-x;
	clear: both;
	height: 4px;
	margin: 15px 10px 10px 0;
}

#centre_page .div_en_bref {
	background: #fff url(bg_div_en_bref.png) 100% 0 repeat-y;
	border-bottom: 1px solid #dadada;
	border-left: 1px solid #dadada;
	clear: both;
	float: left;
	margin: 0 0 20px;
	width: 100%;
}

#centre_page .div_en_bref .ctnr01 {
	background: url(bg_div_en_bref.png) 0 0 repeat-x;
	clear: both;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}

#centre_page .div_en_bref .ctnr01 .ctnr02 {
	background: url(topright_corner_en_bref.png) 100% 0 no-repeat
		;
	clear: both;
	float: left;
	margin: 0;
	padding: 3% 3% 0;
	width: 94%;
}

#centre_page .div_en_bref h2.txt_rouge {
	background: url(bg_pointilles_en_bref.gif) 0 100% repeat-x;
	clear: both;
	display: block;
	float: left;
	height: auto;
	margin: 0 0 3%;
	padding: 0 0 4px;
	width: 100%;
}

#centre_page .div_en_bref .contenu_en_bref {
	clear: both;
	float: left;
	height: auto;
	margin: 0;
	padding: 5px 2% 0;
	width: 96%;
}

#centre_page .contenu_en_bref ul {
	float: left;
	font-size: 70%;
	line-height: 10px;
	list-style-type: none;
	width: 100%;
}

#centre_page .contenu_en_bref li {
	float: left;
	font-size: 80%;
	padding-bottom: 10px;
	width: 100%;
}

#centre_page .pointilles_en_bref {
	background: url(bg_pointilles_en_bref.gif) 0 0 repeat-x;
	display: none;
	font-size: 1%;
	margin: 0;
	padding: 0;
}

#centre_page h2.txt_rouge {
	background-repeat: no-repeat;
	clear: both;
	color: #EC3777;
	font-size: 110%;
	font-weight: 400;
	margin: 0;
	padding: 12px 0 0 11px;
}

#centre_page .div_evenement {
	background: none !important;
	border: 2px solid #EC3777;
	border-left: 0;
	border-right: 0;
	clear: both;
	height: 1%;
	margin-bottom: 10px;
	overflow: visible;
}

#centre_page .entete_evenement {
	background: url(bg_haut_evenement_border.png) 0 0 no-repeat;
	border-right: 2px solid #EC3777;
	height: 90px;
	margin-top: -2px;
	padding: 0;
	position: relative;
}

#centre_page .entete_evenement img {
	margin: 5px;
}

#centre_page .contenu_evenement {
	border-bottom: 0;
	border-left: 2px solid #EC3777;
	border-right: 2px solid #EC3777;
	border-top: 0;
	padding: 5px 10px 0;
}

#centre_page .contenu_evenement h2.txt_rouge {
	background-image: none;
	height: auto;
	line-height: 18px;
	margin-bottom: 4px;
	padding: 0;
}

#centre_page .contenu_evenement .separateur_rouge {
	border-top: 1px solid #F59BBB;
	height: 5px;
	margin-top: 5px;
}

#centre_page .bas_evenement {
	_margin-top: -6px;
	_top: 2px;
	background-image: url(bas_evenement.png);
	background-position: 100% 100%;
	background-repeat: no-repeat;
	border-left: 2px solid #EC3777;
	height: 18px;
	margin-bottom: -2px;
	position: relative;
}

#centre_page .contenu_bloc_avis {
	background-color: #EDEDE9;
	background-image: url(bg_haut_avis.png);
	background-position: left top;
	background-repeat: no-repeat;
	padding: 10px;
}

#centre_page .contenu_bloc_avis p {
	margin: 8px 0 2px;
}

#centre_page .contenu_bloc_avis .input_img {
	float: right;
	margin-top: -22px;
}

#centre_page .bas_bloc_avis {
	background-image: url(bg_bas_avis.png);
	background-repeat: no-repeat;
	height: 7px;
}

#centre_page .dossier {
	background-image: url(bg_dossiers.jpg);
	background-repeat: no-repeat;
	margin-top: 0;
	padding: 0 10px 5px;
}

#centre_page .dossier h2.titre_rose {
	color: #F3D3D4;
	font-size: 180%;
	font-weight: 400;
}

#centre_page .dossier span,#centre_page .dossier h3.titre_blanc {
	color: #fff;
}

#centre_page .dossier a.no_underline {
	clear: left;
}

#centre_page #accueil .float_left02 .pad_txt a.lienBoiteTexte {
	background-image: url(fleche.gif);
	background-position: 0 3px;
	background-repeat: no-repeat;
	color: #004D9F;
	display: block;
	font-size: 70%;
	margin-top: 4px;
	padding-left: 20px;
}

div.dossier a.lienBoiteDossier {
	background-image: url(fleche_blanche.gif);
	background-position: 0 3px;
	background-repeat: no-repeat;
	color: #FFF;
	display: block;
	font-size: 70%;
	margin-top: 4px;
	padding-left: 20px;
}

#centre_page .article.news h4.titre_bleu {
	margin-bottom: 7px;
	margin-top: 2px;
}

#centre_page .chemain_fer span a,#centre_page .chemain_fer1 span a {
	color: #004D9F;
	font-weight: 700;
	text-decoration: none;
}

#centre_page .chemain_fer span,#centre_page .chemain_fer1 span {
	color: #6E6E6E;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 55%;
}

#centre_page .chemain_fer1 {
	background-color: #FFF;
	display: block;
	margin-bottom: 9px;
}

#centre_page .chemain_fer1 .txt_gris {
	color: #666;
	font-size: 100%;
}

#centre_page .chemain_fer1 span {
	background-color: #FFF;
	color: #004D9F;
}

#centre_page .option_haut {
	background-repeat: repeat-y;
	height: 21px;
	padding-top: 0;
	text-align: right;
}

#centre_page .option_haut #liens_option_haut a {
	display: block;
	float: right;
	height: 21px;
	margin-left: 10px;
	width: 22px;
}

#centre_page .option_haut #liens_option_haut a.lowerFontSizeLink {
	background: url(a_moin.jpg) no-repeat;
}

#centre_page .option_haut #liens_option_haut a.upperFontSizeLink {
	background: url(a_plus.jpg) no-repeat;
}

#centre_page .option_haut #liens_option_haut a.printLink {
	background: url(print.jpg) no-repeat;
}

#centre_page .option_haut #liens_option_haut a.sendFriendLink {
	background: url(send.jpg) no-repeat;
}

#centre_page .option_haut #liens_option_haut a.jahia_button {
	width: auto;
}

.gauche {
	position: relative;
	width: 231px;
	z-index: 2000;
	overflow: hidden;
}

.droit {
	width: 199px;
}

div.tab_calendrier {
	margin-bottom: 5px;
	margin-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
}

.agenda_centre div.tab_calendrier {
	border: 1px solid #EFF5CB;
}

table.tab_calendrier {
	color: #FFF;
	font-size: 70%;
}

table.tab_calendrier th {
	font-weight: 400;
	padding-bottom: 5px;
	text-align: right;
	width: 14%;
}

table.tab_calendrier td {
	text-align: right;
}

table.tab_calendrier .selected a {
	color: #FFF;
	font-size: 100%;
	text-decoration: underline;
}

table.tab_calendrier .selected01 {
	font-size: 100%;
	padding: 2px;
}

table.tab_calendrier .selected01 a {
	background-color: #8DA40F;
	color: #AEC425;
}

a.lien_even {
	color: #FFF;
	display: block;
	font-size: 70%;
	text-align: center;
	text-decoration: underline;
}

.separatuer_pointille {
	background-image: url(separateur_pointille.png);
	background-repeat: no-repeat;
	height: 15px !important;
	margin-left: -10px;
	margin-right: -9px;
	margin-top: 5px;
	position: relative;
}

.float_right {
	float: right;
	margin: 0 5px 15px 0;
	padding: 0;
}

.label1 {
	display: block;
	font-size: 70%;
}

.float_left,.float_left01,.float_left02 {
	float: left;
	margin: 0 5px 15px 0;
	padding: 0;
}

#page_emploi_detail .float_right {
	margin-bottom: 0;
}

.bloc_agenda_cult {
	background-color: #9FB811;
	background-image: url(bg_bloc_agenda_cult.png);
	background-repeat: no-repeat;
	clear: both;
	float: left;
	margin-top: 20px;
	min-height: 80px;
	padding: 30px 10px 0;
	width: 484px;
}

.agendaHeader_57,.agendaHeader_100 {
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	width: 57%;
}

.agendaHeader_97,.blogHeader_97 {
	width: 97%;
}

#centre_page .bloc_agenda_cult h3 {
	float: left;
	width: 30%;
}

#centre_page .bloc_agenda_cult h3 span {
	color: #fff;
	float: none;
}

#centre_page .bloc_agenda_cult div {
	color: #65760B;
	font-size: 70%;
}

#centre_page .bloc_agenda_cult div.fontSize70 {
	color: #65760B;
	float: left;
	width: 30%;
}

#centre_page .bloc_agenda_cult .input {
	border: solid 1px #65760B;
	font-size: 100%;
	margin-bottom: 1px;
	padding: 3px;
	width: 80%;
}

.minHeight55 {
	min-height: 55px;
}

.input1 {
	border: solid 1px #65760B;
	margin-bottom: 1px;
	width: 85%;
}

#centre_page .bas_bloc_agenda_cult {
	background-image: url(bas_bloc_agenda_cult.png);
	background-repeat: no-repeat;
	clear: left;
	height: 25px;
}

#centre_page .pagination a,#centre_page .pagination1 a,#centre_page #page_communique .pagination a
	{
	color: #65760B;
	font-weight: 400;
	text-decoration: underline;
}

#centre_page .pagination,#centre_page .pagination1,#centre_page .fiche_conseiller .pagination1,#centre_page #page_communique .pagination
	{
	color: #65760B;
	font-weight: 700;
	text-align: center;
	word-spacing: 6px;
}

#centre_page .separateur,#centre_page #page_communique .separateur,#centre_page #diaporama .separateur
	{
	background-image: url(separateur_centre.png);
	background-repeat: repeat-x;
	clear: both;
	height: 5px;
	margin: 5px 0;
}

#centre_page .img1 {
	margin-right: 10px;
}

#centre_page p {
	margin: 5px 0;
}

#centre_page h4 {
	margin-top: -4px;
}

#centre_page h4 span.titre_gris {
	color: #999;
	font-weight: 400;
}

.txt_gris a {
	color: #666;
	text-decoration: underline;
}

.txt_gris {
	color: #666;
}

.txt_vert,.txt_bleu {
	color: #65760B;
	font-size: 90%;
}

.lien_haut_page {
	background-image: url(haut_page.png);
	background-position: center right;
	background-repeat: no-repeat;
	font-size: 65%;
	padding-right: 15px;
	text-align: right;
}

#centre_page .agenda_pagination {
	color: #65760B;
	margin: 0 auto;
	text-align: center;
	width: 20%;
	word-spacing: 4px;
}

#centre_page .pagination1 {
	background-image:
		url(precedant.gif);
	background-position: 83% 50%;
	background-repeat: no-repeat;
	font-weight: 400;
	text-align: right;
	word-spacing: normal;
}

#centre_page .agenda_retour a {
	color: #65760B;
	text-decoration: none;
}

#centre_page .agenda_retour {
	background-image:
		url(precedant.gif);
	background-position: 65% 50%;
	background-repeat: no-repeat;
	font-weight: 400;
	text-align: right;
	word-spacing: normal;
}

.paginationLink,.currentPaginationLink,.paginationPreviousLink,.paginationNextLink
	{
	display: block;
	float: left;
	line-height: 11px;
	padding-right: 4px;
}

#centre_page .agenda_pagination .paginationPreviousLink {
	background: url(http://www.regioncentre.fr/jahia/jsp/jahia/templates/portail/CR_Centre_Portail_templates/css/images_css/precedant.gif) no-repeat left top;
	height: 11px;
	margin-right: 6px;
	width: 14px;
}

#centre_page .agenda_pagination .paginationNextLink {
	background: url(suivant.png) no-repeat left top;
	height: 11px;
	margin-left: 6px;
	width: 14px;
}

#centre_page .entete_bloc_info,#centre_page .bas_bloc_info {
	background-image: url(haut_bloc_infos.png);
	background-repeat: no-repeat;
	height: 11px;
	margin-top: -5px;
}

#centre_page .bas_bloc_info {
	background-image: url(bas_bloc_infos.png);
	margin-bottom: 20px;
}

#centre_page .bloc_info {
	border-left: 2px solid #9FB811;
	border-right: 2px solid #9FB811;
	padding: 0 10px;
}

#centre_page .entete_annuaire {
	background-image: url(bg_entete_annuaire_allonge.jpg);
	background-repeat: no-repeat;
	height: 120px;
	margin-bottom: -10px;
	margin-top: 20px;
	padding: 30px 10px 10px;
}

#centre_page .entete_annuaire .input_radio input {
	clear: left;
	vertical-align: middle;
}

#centre_page .entete_annuaire .input_radio select {
	float: right;
	margin: 0 0 20px;
	width: 115px;
}

#centre_page .entete_annuaire .input_radio fieldset .annuaire_input_select
	{
	float: left;
	margin: 0;
}

#centre_page .entete_annuaire .input_radio fieldset .annuaire_select {
	float: right;
	position: relative;
}

#centre_page .entete_annuaire .input_radio a.input_img,#centre_page .entete_annuaire .input a.input_img
	{
	background-image: url(bt_afficher_bleu.png);
	clear: right;
	display: block;
	float: right;
	height: 17px;
	line-height: 17px;
	width: 56px;
}

#centre_page .entete_annuaire .search_options {
	width: 320px;
}

#centre_page .entete_annuaire .input input {
	float: left;
	margin-left: 10px;
	width: 100px;
}

#centre_page .table_annuaire td a.fleche_tri_asc,#centre_page .table_annuaire td a.fleche_tri_desc,#centre_page .table_annuaire td a.fleche_tri_asc_current,#centre_page .table_annuaire td a.fleche_tri_desc_current,#centre_page #liste_doc td a.fleche_tri_asc,#centre_page #liste_doc td a.fleche_tri_desc,#centre_page #liste_doc td a.fleche_tri_asc_current,#centre_page #liste_doc td a.fleche_tri_desc_current
	{
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 6px;
	line-height: 1%;
	padding-right: 4px;
	width: 9px;
}

#centre_page .table_annuaire td a.fleche_tri_asc,#centre_page #liste_doc td a.fleche_tri_asc
	{
	background-image: url(up.gif);
}

#centre_page .table_annuaire td a.fleche_tri_desc,#centre_page #liste_doc td a.fleche_tri_desc
	{
	background-image: url(down.gif);
}

#centre_page .table_annuaire td a.fleche_tri_asc_current,#centre_page #liste_doc td a.fleche_tri_asc_current
	{
	background-image: url(up_blanc.gif);
}

#centre_page .table_annuaire td a.fleche_tri_desc_current,#centre_page #liste_doc td a.fleche_tri_desc_current
	{
	background-image: url(down_blanc.gif);
}

#centre_page .entete_annuaire .input_right {
	margin-top: -15px;
	text-align: right;
}

#centre_page .table_annuaire th {
	background-color: #D8E4F0;
	padding: 5px;
}

#centre_page .table_annuaire td {
	padding: 5px;
}

#centre_page .table_annuaire .ligne_colore {
	background-color: #F0F5F9;
}

.legende {
	margin: 2px 0 20px 5px;
}

.legende span {
	color: #666;
	float: left;
	font-size: 60%;
	width: 30%;
}

span.legende_width {
	margin: 0 3px;
	width: 38%;
}

#centre_page .table_annuaire .pied_table {
	background-image: url(bg_pied_table.png);
	background-repeat: repeat-x;
	height: 10px;
}

#centre_page .entete_annuaire .input_radio {
	color: #004D9F;
	font-size: 70%;
	margin: 0;
}

a.annuaire {
	color: #004D9F;
	position: relative;
	text-decoration: none;
}

a.annuaire:hover {
	color: #004D9F;
	text-decoration: underline;
}

#centre_page .fiche_conseiller {
	background-image: url(bg_fiche_conseiller.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	margin-top: 25px;
	min-height: 300px;
}

#centre_page .fiche_conseiller p {
	margin-top: 20px;
}

#centre_page .fiche_conseiller .pagination1 {
	background-image: url(fleche_bleu.png);
	background-position: 0 50%;
	background-repeat: no-repeat;
	color: #333;
	float: right;
	font-weight: 400;
	padding-left: 25px;
	word-spacing: normal;
}

#centre_page .fiche_conseiller .cadre_img {
	background-image: url(bg_img_connseiller.png);
	background-repeat: no-repeat;
	height: 172px;
	margin-right: 15px;
	padding-top: 10px;
	text-align: center;
	width: 119px;
}

.table_annuaire .ficheDetail {
	display: table-row;
	font-size: 133%;
}

#centre_page h2.titre_bleu_bg,#centre_page #page_communique h2.titre_bleu_bg,#centre_page #aides h2.titre_bleu_bg
	{
	background-image: url(bg_titre_bleu.png);
	background-position: 0 70%;
	background-repeat: no-repeat;
	font-size: 110%;
	font-weight: 400;
	margin: 25px 0 10px;
	padding-left: 10px;
}

#centre_page .article h3.titre_noir,#centre_page .article2 h3.titre_noir,#centre_page .article1 h3.titre_noir
	{
	font-size: 100%;
	padding-top: 5px;
}

#centre_page .article h4.titre_bleu,#centre_page #page_communique .article h4.titre_bleu,#centre_page .article2 h4.titre_bleu,#centre_page .article1 h4.titre_bleu
	{
	margin: 13px 0 5px;
}

#centre_page .article .float_left,#centre_page .article2 .float_left,#centre_page .article1 .float_left
	{
	float: left;
	margin-right: 20px;
}

#centre_page .article .txt_lien,#centre_page .article .txt_lien_picto,#centre_page .article2 .txt_lien,#centre_page .article1 .txt_lien
	{
	background-image: url(fleche.gif);
	background-position: 100% 70% !important;
	background-repeat: no-repeat;
	display: inline !important;
	padding-right: 20px;
	width: auto !important;
}

#centre_page .article1 h3.titre_noir {
	font-size: 90%;
	padding: 0;
}

#centre_page .article1 h4.titre_bleu {
	margin: 3px 0 0;
	padding: 0;
}

#centre_page .article1 h3.titre_bleu {
	color: #004D9F;
	font-size: 100%;
	font-weight: 400;
}

.articles_pagination a.next {
	background-image: url(fleche.gif);
	display: inline-block;
	height: 11px;
	line-height: 11px;
	width: 14px;
}

.articles_pagination a.prev {
	background-image: url(fleche_bleu.gif);
	display: inline-block;
	height: 11px;
	line-height: 11px;
	width: 14px;
}

#centre_page .bloc_bleu {
	background-color: #F0F5F9;
	margin: 20px 0 25px;
	padding: 10px;
}

#centre_page .article2 p {
	margin: 15px 0;
}

#centre_page .bloc_bleu li {
	background-image: url(puce2.png);
	background-repeat: no-repeat;
	padding-left: 10px;
}

#centre_page .article2 .padding {
	margin: 5px 0 0;
}

#centre_page #page_communique h2.titre_bleu_bg,#centre_page #page_emploi h2.titre_bleu_bg,#centre_page #page_emploi_detail h2.titre_bleu_bg
	{
	background-image: url(bg_titre_blanc.png);
	background-position: top left;
	background-repeat: no-repeat;
	color: #fff;
	height: 30px;
	margin-bottom: 20px;
	padding-top: 15px;
}

#centre_page #page_communique .separateur {
	margin: 17px 0;
}

#centre_page #page_communique h4 {
	margin: 10px 0 5px;
}

#centre_page #page_communique h4 span {
	line-height: 17px;
}

#centre_page #page_communique .float_right {
	margin: 23px 0 0 5px;
}

#centre_page #page_communique .article .pagination1,#centre_page #liste_doc #div_detail_document .pagination1
	{
	background-image: url(fleche_bleu.png);
}

#centre_page #liste_doc #div_detail_document .detail_doc .pagination1 {
	background-position: 0 2px;
	float: right;
	margin-top: 4px;
	padding-left: 20px;
}

#centre_page #contact h2.titre_bleu_bg,#centre_page #newsletter h2.titre_bleu_bg,#centre_page #plan h2.titre_bleu_bg
#centre_page #forum h2.titre_bleu_bg,#centre_page #forum_noarch h2.titre_bleu_bg
	{
	background-image: url(bg_titre_vert.png);
	color: #9FB811;
}

#centre_page #contact .bloc_formulaire,#centre_page #newsletter .bloc_formulaire,#centre_page #diaporama .bloc_formulaire,#centre_page #aides .bloc_formulaire
	{
	background-color: #F9FBEC;
	margin: 5px 0 25px;
	padding: 20px 10px;
}

#centre_page #contact .bloc_formulaire h3 span,.form_g1 {
	color: #9FB811;
	font-size: 60%;
}

#centre_page #contact .form_generated_row .form_submit {
	float: none;
}

#centre_page #contact .form_generated_row label.form_g {
	width: 35%;
}

.form_generated_row table.form_saved_posts {
	background-color: #9FB811;
	clear: both;
	font-size: 70%;
	margin: 10px 0;
	width: 100%;
}

.form_generated_row table.form_saved_posts tr td {
	background-color: #E7F594;
	color: #000;
	font-weight: 400;
}

.form_generated_row table.form_saved_posts tr.title th {
	background-color: #9FB811;
	color: #FFF;
	font-weight: 700;
	padding: 0 4px;
}

.form_g,.form_g1,#centre_page #recherche .form_g1,#centre_page #recherche .form_g2
	{
	float: left;
	font-size: 70%;
	padding-top: 2px;
	width: 20%;
}

#centre_page #contact .bloc_formulaire .form_g3 {
	float: left;
	font-size: 70%;
	padding-top: 2px;
	width: 32%;
}

#centre_page #contact .bloc_formulaire .input,#centre_page #contact .bloc_formulaire .input1,#centre_page #recherche .input,#centre_page #recherche .input1,#centre_page #recherche .input2,#centre_page #newsletter .bloc_formulaire .input,#centre_page #newsletter .bloc_formulaire .input1,#centre_page #liste_doc .input,#centre_page #liste_doc .select,#centre_page #liste_doc .select1,#centre_page #recherche .input3,#centre_page #recherche .input4
	{
	border: 2px inset;
	color: #333;
	font-family: "Trebuchet MS";
	font-size: 70%;
	padding-left: 5px;
	width: 40%;
}

#centre_page #contact .bloc_formulaire .input1,#centre_page #recherche .input1
	{
	width: 42%;
}

.form_donne,#centre_page #newsletter .bloc_formulaire .form_donne1 {
	margin-bottom: 10px;
	position: relative;
}

.form_generated .form_donne {
	float: left;
	font-size: 70%;
}

.form_generated .row_border {
	border: 1px solid #9FB811;
	margin: 4px 0;
	padding: 10px;
}

#contact_formulaire .submitInput,#contact_formulaire .resetInput {
	background: url(bt_envoyer_vert.gif) no-repeat left top;
	border: none;
	cursor: pointer;
	font-size: 0;
	height: 17px;
	width: 76px;
}

#contact_formulaire .resetInput {
	background: url(bt_annuler_vert.gif) no-repeat left top;
	margin-left: 50px;
}

#contact_formulaire .step1 {
	background-color: #F9FBEC;
	border: 1px solid #9FB811;
	color: #9FB811;
	font-size: 70%;
	margin: 10px;
	padding: 10px;
	position: relative;
}

#contact_formulaire .formParamsIntro {
	font-size: 110%;
	font-weight: 700;
	margin-bottom: 6px;
}

#contact_formulaire .step1 .paramTitle {
	font-weight: 700;
	padding: 0 2px;
	text-decoration: underline;
}

.displayTextAfterPost {
	margin: 10px 0;
}

.displayTextAfterPost,.backToFormLink {
	font-size: 70%;
	padding-left: 10px;
}

.formResultListing .fileLink {
	display: block;
	line-height: 16px;
	min-height: 16px;
	padding-left: 18px;
}

.formResultListing .actionLink {
	margin-left: 3px;
}

#contact_formulaire .errorMsgBloc {
	font-size: 70%;
	padding: 10px 10px 6px 0;
}

#contact_formulaire .errorMsgBloc .errorMsg {
	padding-bottom: 4px;
}

.formResultListingIntro {
	color: #9FB811;
	float: left;
	font-size: 70%;
	padding-left: 10px;
}

.formResultListing .pageLinks {
	color: #9FB811;
	float: right;
	font-size: 70%;
}

.formResultListing .pageLinks a {
	color: #9FB811;
}

#centre_page #FAQ h2.titre_bleu_bg {
	background-image: url(bg_titre_bleu1.png);
}

#centre_page #FAQ h3.theme_bleu {
	color: #004D9F;
	cursor: pointer;
	font-size: 12px;
	padding: 10px 0 10px 11px;
}

#centre_page #FAQ fieldset h3.theme_bleu {
	cursor: default;
}

#centre_page #FAQ span.theme_bleu {
	color: #004D9F;
	font-size: 12px;
	font-weight: 700;
	padding: 10px 0 10px 11px;
}

#centre_page #FAQ .theme_faq {
	margin-top: 10px;
	padding: 0 0 10px;
}

#centre_page #FAQ .btn_afficher {
	margin-top: -30px;
	text-align: right;
}

#centre_page #FAQ .select {
	border: 1px solid #C6C9BF;
	color: #333;
	font-family: "Trebuchet MS";
	padding-bottom: 0;
	padding-left: 5px;
}

#centre_page #FAQ .questions_reponses_spacer {
	height: 10px;
}

#centre_page #FAQ .questions_reponses_list {
	margin-left: 20px;
}

#centre_page #FAQ .contenu_bloc_arrondi {
	cursor: pointer;
}

#centre_page #FAQ .questions_reponses_item h4.titre_bleu {
	color: #004D9F;
	font-size: 70%;
	margin: 13px 0 5px;
}

#centre_page #recherche h3 {
	color: #004D9F;
	font-size: 105%;
	margin-bottom: 10px;
}

#centre_page #recherche h2.titre_bleu_bg {
	background-image: url(bg_titre_bleu3.png);
	background-position: 0 65%;
	color: #004D9F;
	margin-top: -5px;
}

#centre_page #recherche .bloc_formulaire,#centre_page #multimedia .bloc_formulaire,#centre_page #multimedia_video .bloc_formulaire,#centre_page #multimedia_audio .bloc_formulaire,#centre_page #diaporama .bloc_formulaire,#centre_page #aides .bloc_formulaire
	{
	padding: 0 20px 0 11px;
}

#centre_page #recherche .form_g1,#centre_page #recherche .form_g2 {
	color: #333;
	font-size: 70%;
	font-weight: 400;
	height: 110px;
	width: 36%;
}

#centre_page #recherche .input_radio {
	margin-top: 13px;
}

#centre_page #recherche .input_img {
	letter-spacing: 13px;
	margin: 15px 0 20px;
	padding-top: 5px;
	position: relative;
}

#centre_page #recherche .input3 {
	width: 10%;
}

#centre_page #recherche .input4 {
	float: right;
	margin-top: -17px;
	width: 40%;
}

#centre_page #recherche .form_donne a {
	color: #004D9F;
	text-decoration: underline;
}

#centre_page #recherche .form_donne a:hover {
	color: #004D9F;
	text-decoration: none;
}

#centre_page #recherche .search_button {
	background-image: url(bt_rechercher.gif);
	background-repeat: no-repeat;
	display: inline-block;
	height: 17px;
	line-height: 11px;
	width: 76px;
}

#centre_page #recherche .search_button.save_search {
	background-image: url(bt_sauver_recherche.gif);
	width: 120px;
}

.advancedSearchBreaker {
	clear: both;
	height: 10px;
	overflow: hidden;
}

#centre_page #recherche .advancedSearchButtons {
	float: center;
}

#centre_page #resultat_recherche h2.titre_bleu_bg {
	background-image: url(bg_titre_bleu2.png);
	background-position: 0 65%;
}

#centre_page #recherche h4.titre_bleu a {
	font-size: 110%;
	text-decoration: underline;
}

#centre_page #recherche .pagination a.next {
	background-image: url(flesche.png);
	background-position: 0 2px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 13px;
	line-height: 11px;
	width: 14px;
}

#centre_page #recherche .pertinence {
	float: left;
	margin-right: 5px;
}

#centre_page #recherche .star {
	background-image: url(etoile.gif);
	background-position: 0 40%;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 16px;
	line-height: 9px;
	width: 9px;
}

#centre_page #recherche .pagination a.prev {
	background-image: url(fleche_bleu.png);
	background-position: 0 2px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 13px;
	line-height: 11px;
	width: 14px;
}

.lexiqueFilters .presentation {
	width: 65%;
}

#centre_page #page_emploi h2.titre_bleu_bg,#centre_page #page_emploi_detail h2.titre_bleu_bg
	{
	background-image: url(bgrose_titre_blanc.png);
}

#centre_page #page_emploi_detail h2.titre_bleu_bg {
	float: left;
	margin-top: 5px;
	width: 50%;
}

#centre_page #page_emploi .haut_bloc_rose,#centre_page #page_emploi .bas_bloc_rose
	{
	background-image: url(bg_entete_bloc_rose.png);
	background-repeat: no-repeat;
	height: 13px;
}

#centre_page #page_emploi .padding,#centre_page #liste_doc .padding {
	margin: 10px 0 20px;
}

#centre_page #page_emploi .bas_bloc_rose {
	background-image: url(bg_bas_bloc_rose.png);
	margin: 0;
	padding: 0;
	width: 505px;
}

#centre_page #page_emploi .bloc_rose,#centre_page #page_emploi_detail .bloc_rose
	{
	background-color: #F5EBF1;
	padding: 0 10px;
}

#centre_page #page_emploi .bloc_rose h3,#centre_page #liste_doc .bloc_rose h3
	{
	color: #A44F85;
	font-size: 75%;
}

#centre_page #page_emploi .bloc_rose .separateur_01 {
	background-image: url(separateur_rose.png);
	height: 2px;
	margin: 4px 0;
}

#centre_page #page_emploi .bloc_rose label {
	font-size: 70%;
	margin-right: 25px;
}

#centre_page #page_emploi .bloc_rose .float_right {
	background-image: url(bg_envoyer_rose.png);
	background-repeat: no-repeat;
	font-size: 70%;
	height: 22px;
	margin-bottom: 0;
	padding-left: 24px;
}

#centre_page #page_emploi .submitInput {
	background: url(bt_afficher_rose.gif) no-repeat left top;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 0;
	height: 17px;
	margin-top: 5px;
	width: 56px;
}

#centre_page #page_emploi .table,#centre_page #liste_doc .table {
	border-bottom: 10px solid #A44F85;
	margin-bottom: 20px;
}

#centre_page #page_emploi .table div,#centre_page #liste_doc .table div
	{
	background-image: url(bg_entete_table_emploi.png);
	background-repeat: no-repeat;
	height: 11px;
}

#centre_page #page_emploi .table div.actionMenuContainer,#centre_page #liste_doc .table div.actionMenuContainer,#centre_page #page_emploi .table div.menu,#centre_page #liste_doc .table div.menu
	{
	background-image: none;
	height: auto;
}

#centre_page #page_emploi .table th,#centre_page #liste_doc .table th {
	background-color: #934677;
	background-image: url(bg_td_emploi.png);
	background-repeat: repeat-x;
	color: #fff;
	font-size: 75%;
	padding: 0 6px 6px;
}

#centre_page #page_emploi .table td,#centre_page #liste_doc .table td {
	font-size: 70%;
	padding: 6px;
}

#centre_page #page_emploi .table .tr_colore,#centre_page #liste_doc .table .tr_colore
	{
	background-color: #F5EBF1;
}

#centre_page #page_emploi .emploi_pagination {
	color: #A44F85;
	text-align: center;
	word-spacing: 6px;
}

#centre_page #page_emploi_detail h3 {
	font-size: 90%;
	padding-bottom: 4px;
}

#centre_page #page_emploi_detail h3 span.reference {
	color: grey;
	font-size: 80%;
}

#centre_page #page_emploi_detail h4 {
	color: grey;
	float: left;
	font-size: 72%;
}

#centre_page #page_emploi_detail .float_right_pad {
	background-image:
		url(fleche_rose_preced.png);
	background-position: 0 50%;
	background-repeat: no-repeat;
	float: right;
	margin-top: 35px;
	padding-left: 20px;
}

#centre_page #page_emploi_detail .bloc_rose {
	_position: relative;
	padding: 10px 10px 5px;
}

#centre_page #page_emploi_detail .txt_rose {
	color: #A44F85;
	font-weight: 400;
}

#centre_page #page_emploi_detail h5 {
	color: #A44F85;
	font-size: 70%;
	font-weight: 400;
	margin-bottom: 4px;
}

#newsletter .submitInput,#newsletter .resetInput {
	background: url(bt_sabonner_vert.gif) no-repeat left top;
	border: none;
	cursor: pointer;
	font-size: 0;
	height: 17px;
	width: 76px;
}

#newsletter .resetInput {
	background: url(bt_annuler_vert.gif) no-repeat left top;
	margin-left: 10px;
}

#centre_page #newsletter h2.titre_bleu_bg {
	background-image: url(bg_titre_vert01.png);
}

#centre_page #newsletter .bloc_formulaire h3,#centre_page #newsletter .bloc_formulaire h4
	{
	font-weight: 400;
}

#centre_page #newsletter .bloc_formulaire h4 {
	font-size: 70%;
	margin-bottom: 15px;
	margin-top: 15px;
}

#centre_page #newsletter .bloc_formulaire,#centre_page #diaporama .bloc_formulaire,#centre_page #aides .bloc_formulaire
	{
	background: none;
	margin: 0;
	padding: 0 10px 10px;
}

#centre_page #newsletter .bloc_formulaire .nl_subscribe_item .separateur
	{
	font-size: 1px;
	margin: 0;
}

#centre_page #newsletter .bloc_formulaire .nl_subscribe_item .form_g,#centre_page #newsletter .bloc_formulaire .nl_subscribe_item .form_g1
	{
	width: 95%;
}

#centre_page #newsletter .bloc_formulaire .form_donne1 {
	text-align: right;
	width: 80%;
}

#centre_page #newsletter h4 {
	color: #000;
	font-weight: 400;
	margin-bottom: 6px;
}

#centre_page #newsletter h4 span.titre_noir,#centre_page #newsletter h4.titre_noire
	{
	color: #333;
	font-size: 75%;
	line-height: 13px;
}

#centre_page #newsletter h4 span.titre_vert,#centre_page #newsletter h4.titre_vert
	{
	color: #9FB811;
	font-size: 75%;
	line-height: 13px;
}

#centre_page #newsletter h4.titre_vert {
	background-image: url(puce3.png);
	background-position: 0 80%;
	background-repeat: no-repeat;
	margin-top: 10px;
	padding-left: 8px;
}

#centre_page #newsletter h4.titre_noire {
	margin-top: 4px;
}

#centre_page #newsletter p {
	margin: 2px 0 20px;
}

#centre_page #newsletter p span a {
	color: #9FB811;
	text-decoration: underline;
}

#centre_page #multimedia h2.titre_bleu_bg {
	background-image: url(bg_titre_bleu4.png);
}

#centre_page #multimedia .bloc_formulaire,#centre_page #multimedia_video .bloc_formulaire,#centre_page #multimedia_audio .bloc_formulaire,#centre_page #diaporama .bloc_formulaire,#centre_page #aides .bloc_formulaire
	{
	padding: 0 10px 0 0;
}

#centre_page #multimedia .pagination {
	color: #004D9F;
	margin-top: 10px;
}

#centre_page #multimedia h3,#centre_page #multimedia_video h3,#centre_page #multimedia_audio h3.titre_bleu_bg
	{
	background-image: url(separateur_centre.png);
	background-repeat: repeat-x;
	color: #004D9F;
	margin-top: 10px;
	padding-top: 10px;
	width: 100%;
}

#centre_page #multimedia h3 span,#centre_page #multimedia_video h3 span
	{
	background-image: url(puce2.png);
	background-position: 0 25%;
	background-repeat: no-repeat;
	font-size: 65%;
	padding-left: 10px;
}

#centre_page #multimedia .padding p {
	margin: 4px 0 7px;
}

#centre_page #multimedia .padding span.voir_video,#centre_page #multimedia span.ecouter_extrait,#centre_page #multimedia span.voir_flash
	{
	background-image: url(icone_video.png);
	background-position: 0 50%;
	background-repeat: no-repeat;
	display: block;
	padding-left: 25px;
}

#centre_page #multimedia span.ecouter_extrait {
	background-image: url(icone_ecouter.png);
	display: block;
	padding-left: 30px;
}

#centre_page #multimedia span.voir_flash {
	background-image: url(icone_flash.png);
	display: block;
	padding-left: 20px;
}

#centre_page #multimedia_audio h2.titre_bleu_bg,#centre_page #diaporama h2.titre_bleu_bg,#centre_page #lexique h2.titre_bleu_bg,#centre_page #liste_doc h2.titre_bleu_bg
	{
	background-image: url(http://www.regioncentre.fr/jahia/jsp/jahia/templates/portail/CR_Centre_Portail_templates/css/images_css/bg_titre_bleu_generale.png);
}

#centre_page #multimedia_video h2.titre_bleu_bg span,#centre_page #multimedia_audio h2.titre_bleu_bg span,#centre_page #diaporama h2.titre_bleu_bg span,#centre_page #lexique h2.titre_bleu_bg span,#centre_page #liste_doc h2.titre_bleu_bg span
	{
	background-color: #fff;
	font-size: 100%;
	padding-right: 5px;
}

#centre_page #articles h2.titre_bleu_bg span,#centre_page #sommaire h2.titre_bleu_bg span,#centre_page #contact h2.titre_bleu_bg span,#centre_page #annuaireGraineCentre h2.titre_bleu_bg span,#centre_page #explorateur_delibs h2.titre_bleu_bg span,#centre_page #rssDistant h2.titre_bleu_bg span
	{
	background-color: #fff;
	padding: 4px;
}

#centre_page #multimedia_video h3.titre_bleu_bg,#centre_page #multimedia_audio h3.titre_bleu_bg
	{
	background-position: 0 100%;
	font-size: 75%;
	margin-top: 0;
	padding: 10px 0;
}

#centre_page #multimedia_video .voir_video li,#centre_page #multimedia_audio .voir_audio li,#centre_page #multimedia_video .voir_flash li
	{
	background-image: url(icone_video.png);
	background-repeat: no-repeat;
	margin-top: 15px;
	padding-left: 25px;
}

#centre_page #multimedia_video .bloc_gris,#centre_page #multimedia_audio .bloc_gris
	{
	background-color: #F1F2F2;
	background-image: url(entete_bloc_gris.png);
	background-repeat: no-repeat;
	margin-top: 10px;
	padding: 10px 10px 5px;
}

#centre_page #multimedia_video .bloc_gris p,#centre_page #multimedia_audio .bloc_gris p
	{
	line-height: 14px;
	margin: 5px 0 10px;
}

#centre_page #multimedia_video .bas_bloc_gris,#centre_page #multimedia_audio .bas_bloc_gris
	{
	background-image: url(bas_bloc_gris.png);
	background-repeat: no-repeat;
	height: 9px;
	margin: 0;
}

#centre_page #multimedia_video span.txt_bleu,#centre_page #multimedia_video span.txt_noir_small,#centre_page #multimedia_audio span.txt_noir_small,#centre_page #multimedia_audio span.txt_bleu
	{
	font-size: 65%;
	line-height: 8px;
}

#centre_page #multimedia_video .bloc_ombre {
	background-image: url(bg_ombre_video.png);
	background-repeat: repeat-y;
	padding: 10px 0 5px;
	text-align: center;
	width: 313px;
}

#centre_page #multimedia_video .pad_img,#centre_page #multimedia_audio .pad_img
	{
	padding-top: 8px;
	vertical-align: top;
}

#centre_page #multimedia_video .pagination1,#centre_page #multimedia_audio .pagination1
	{
	background-image: url(fleche_bleu.png);
	background-position: 0 2px;
	float: right;
	margin-top: 22px;
	padding-left: 20px;
}

#centre_page #multimedia_audio .pagination1 {
	margin-right: -180px;
}

#centre_page #multimedia_audio h3.txt_bleu {
	background-image: url(puce2.png);
	background-repeat: no-repeat;
	font-size: 75%;
	margin: 20px 0 10px;
	padding-left: 10px;
}

#centre_page #multimedia_audio h3.txt_bleu span {
	font-size: 100%;
	font-weight: 700;
}

#centre_page #multimedia_audio .voir_audio li {
	background-image: url(icone_ecouter.png);
	padding-left: 30px;
}

#centre_page #multimedia_video .voir_flash li {
	background-image: url(icone_flash.png);
	padding-left: 30px;
}

#centre_page #multimedia_audio table {
	background-image: url(bg_separateur.png);
	background-repeat: repeat-x;
	margin-top: 5px;
}

#centre_page #multimedia_audio .bloc_ombre {
	background-image: url(bg_ombre_audio.png);
	background-repeat: no-repeat;
	height: 40px;
	padding-top: 10px;
	text-align: center;
	width: 312px;
}

#centre_page #multimedia_audio .bloc_gris {
	margin-top: 50px;
}

#centre_page #diaporama .separateur,#centre_page #aides .separateur {
	height: 2px;
	margin: 3px 0 18px;
}

#centre_page #diaporama .diaporama_item {
	float: left;
	margin: 10px 9px;
	width: 150px;
}

#centre_page #diaporama .bloc_ombre div.diapo {
	background-image: url(bg_ombre_diapo.png);
	background-repeat: no-repeat;
	padding: 10px;
	text-align: center;
}

#centre_page #diaporama .bloc_ombre div.diapo div.diapo_inner {
	height: 100px;
	overflow: hidden;
	position: relative;
	width: 130px;
}

#centre_page #diaporama td {
	padding-bottom: 20px;
}

#centre_page #diaporama .bloc_ombre p.lien_agrandir {
	background-image: url(icone_agrandir.png);
	background-position: 70% 55%;
	background-repeat: no-repeat;
	font-size: 65%;
	margin: 8px 0 0;
	text-align: right;
}

#centre_page #diaporama .bloc_ombre p.lien_agrandir a {
	display: block;
	text-align: center;
}

#centre_page #diaporama .bloc_ombre p span {
	font-size: 65%;
	text-align: center;
}

#centre_page #diaporama #div_image_agrandie .pagination1 {
	background-image: url(fleche_bleu.png);
	background-position: 0 2px;
	float: right;
	padding-left: 20px;
}

#centre_page #lexique .liste h3 {
	background-image: url(separateur_centre.png);
	background-position: bottom left;
	background-repeat: repeat-x;
	color: #004D9F;
	font-size: 95%;
	letter-spacing: 1px;
	margin-bottom: 20px;
	padding: 0 0 10px 10px;
}

#centre_page #lexique .liste div,#centre_page #lexique .liste h4 {
	margin-bottom: 13px;
	padding-left: 10px;
}

#centre_page #lexique .liste h4 {
	color: #004D9F;
	font-size: 80%;
	margin-bottom: 3px;
}

#centre_page #lexique .contenu_bloc_arrondi {
	border-left: 2px solid #E5EDF5;
	border-right: 2px solid #E5EDF5;
	height: auto;
	padding: 10px;
}

#centre_page #lexique .contenu_bloc_lexique div.presentation {
	width: 60%;
}

#centre_page #lexique .contenu_bloc_lexique table {
	padding-top: 6px;
	width: 40%;
}

#centre_page #lexique .contenu_bloc_lexique span {
	color: #004D9F;
	font-size: 75%;
}

#centre_page #lexique .contenu_bloc_lexique span.search_lexique_link {
	float: left;
	margin-top: 10px;
}

#centre_page #lexique .contenu_bloc_lexique table td a {
	color: #333;
	text-decoration: underline;
}

#centre_page #lexique .contenu_bloc_lexique table td {
	font-size: 85%;
	padding: 1px 5px;
	text-align: center;
}

#centre_page #lexique table td span.en_cour {
	background-color: #004D9F;
	color: #fff;
}

#centre_page #aides .txt_lien,#centre_page #aides .txt_lien1,#centre_page #plan .txt_lien,#centre_page #plan .txt_lien1
	{
	float: left;
	margin-bottom: 25px;
	width: 47%;
}

#centre_page #aides .txt_lien1,#centre_page #plan .txt_lien1 {
	margin-left: 20px;
	width: 48%;
}

#centre_page #aides .txt_lien h3,#centre_page #aides .txt_lien1 h3,#centre_page #plan .txt_lien h3,#centre_page #plan .txt_lien1 h3
	{
	color: #DC6200;
	font-size: 85%;
	font-weight: 400;
	margin-bottom: 4px;
}

#centre_page #aides .txt_lien h3 a:hover,#centre_page #aides .txt_lien1 h3 a:hover
	{
	color: #DC6200;
	text-decoration: underline;
}

#centre_page #aides h2.titre_bleu_bg,#centre_page #aides_2 h2.titre_bleu_bg,#centre_page #aides_3 h2.titre_bleu_bg
	{
	background-image: url(bg_titre_orange.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 110%;
	height: 40px;
	padding-left: 10px;
	padding-top: 15px;
}

#centre_page #aides_2 .pagination1,#centre_page #aides_3 .pagination1 {
	background-image: url(fleche_orange.png);
	background-position: 0 2px;
	float: right;
	padding-left: 20px;
}

#centre_page #aides_3 .pagination1 {
	margin-top: 45px;
}

#centre_page #plan .sitemapGroup {
	clear: both;
	width: 100%;
}

#centre_page #plan a {
	color: #004D9F;
	cursor: pointer;
}

#centre_page #plan h2.titre_bleu_bg {
	background: url(puce1.gif) no-repeat 0 50%;
	margin: 0 0 10px;
}

#centre_page #plan.sitemap h2.titre_bleu_bg {
	background: url(bg_titre_vert02.png) no-repeat 0 70%;
}

#centre_page #plan h2 a {
	background-color: #FFF;
	color: #005AA9;
	font-size: 90%;
	padding-right: 5px;
}

#centre_page #plan h3 {
	background-color: #F6F6F6;
	font-size: 70%;
	font-weight: 400;
	margin: 5px 0;
	padding: 4px 15px;
}

#centre_page #plan ul {
	float: left;
	font-size: 70%;
	margin-bottom: 10px;
	margin-left: 2%;
	padding-left: 4px;
	width: 45%;
}


#centre_page #plan ul ul {
	border-left: 1px solid;
	font-size: 100%;
	margin-bottom: 0;
	margin-left: 4px;
	width: 98%;
}

#centre_page #plan ul li {
	clear: left;
	padding: 2px 0;
	zoom: 1;
}

#centre_page #plan ul ul li {
	padding-left: 16px;
}

#centre_page #plan ul a.folder_unfolder_plus,#centre_page #plan ul a.folder_unfolder_moins
	{
	background: #004D9F url(sitemap_plus.png) no-repeat;
	cursor: pointer;
	display: block;
	float: left;
	height: 9px;
	margin-right: 5px;
	margin-top: 3px;
	overflow: hidden;
	width: 9px;
}

#centre_page #plan ul a.folder_unfolder_moins {
	background-image: url(sitemap_moins.png);
}

#centre_page #plan .couleur_bleu ul a.folder_unfolder_plus,#centre_page #plan .couleur_bleu ul a.folder_unfolder_moins
	{
	background-color: #004296;
}

#centre_page #plan .couleur_violet ul a.folder_unfolder_plus,#centre_page #plan .couleur_violet ul a.folder_unfolder_moins
	{
	background-color: #A44F85;
}

#centre_page #plan .couleur_orange ul a.folder_unfolder_plus,#centre_page #plan .couleur_orange ul a.folder_unfolder_moins
	{
	background-color: #DC6200;
}

#centre_page #plan .couleur_jaune ul a.folder_unfolder_plus,#centre_page #plan .couleur_jaune ul a.folder_unfolder_moins
	{
	background-color: #F4A701;
}

#centre_page .circular_menu {
	height: 300px;
	margin: 10px auto;
	padding: 0;
	position: relative;
	width: 300px;
}

#centre_page #plan ul#circular_menu {
	height: 300px;
	margin: 0;
	padding: 0;
	width: 300px;
}

#centre_page #plan ul#circular_menu li {
	background-color: #FFF;
	filter: alpha(opacity =   75);
	opacity: 0.75px;
	padding: 2px;
	position: absolute;
	width: 150px;
}

#centre_page #plan ul#circular_menu.nbElems12 li.elem1,#centre_page #plan ul#circular_menu.nbElems11 li.elem1,#centre_page #plan ul#circular_menu.nbElems10 li.elem1,#centre_page #plan ul#circular_menu.nbElems9 li.elem1,#centre_page #plan ul#circular_menu.nbElems8 li.elem1,#centre_page #plan ul#circular_menu.nbElems7 li.elem1,#centre_page #plan ul#circular_menu.nbElems6 li.elem1,#centre_page #plan ul#circular_menu.nbElems5 li.elem1,#centre_page #plan ul#circular_menu.nbElems4 li.elem1,#centre_page #plan ul#circular_menu.nbElems3 li.elem1,#centre_page #plan ul#circular_menu.nbElems2 li.elem1,#centre_page #plan ul#circular_menu.nbElems1 li.elem1
	{
	left: 75px;
	text-align: center;
	top: 5px;
}

#centre_page #plan ul#circular_menu.nbElems12 li.elem2,#centre_page #plan ul#circular_menu.nbElems11 li.elem2,#centre_page #plan ul#circular_menu.nbElems10 li.elem2,#centre_page #plan ul#circular_menu.nbElems9 li.elem2,#centre_page #plan ul#circular_menu.nbElems8 li.elem2,#centre_page #plan ul#circular_menu.nbElems7 li.elem2
	{
	left: 230px;
	text-align: left;
	top: 37px;
}

#centre_page #plan ul#circular_menu.nbElems12 li.elem3,#centre_page #plan ul#circular_menu.nbElems11 li.elem3,#centre_page #plan ul#circular_menu.nbElems6 li.elem2
	{
	left: 262px;
	text-align: left;
	top: 75px;
}

#centre_page #plan ul#circular_menu.nbElems12 li.elem4,#centre_page #plan ul#circular_menu.nbElems11 li.elem4,#centre_page #plan ul#circular_menu.nbElems8 li.elem3,#centre_page #plan ul#circular_menu.nbElems7 li.elem3,#centre_page #plan ul#circular_menu.nbElems4 li.elem2
	{
	left: 280px;
	text-align: left;
	top: 140px;
}

#centre_page #plan ul#circular_menu.nbElems12 li.elem5,#centre_page #plan ul#circular_menu.nbElems11 li.elem5,#centre_page #plan ul#circular_menu.nbElems6 li.elem3,#centre_page #plan ul#circular_menu.nbElems3 li.elem2
	{
	left: 265px;
	text-align: left;
	top: 197px;
}

#centre_page #plan ul#circular_menu.nbElems12 li.elem6,#centre_page #plan ul#circular_menu.nbElems11 li.elem6,#centre_page #plan ul#circular_menu.nbElems10 li.elem5,#centre_page #plan ul#circular_menu.nbElems9 li.elem5,#centre_page #plan ul#circular_menu.nbElems7 li.elem4,#centre_page #plan ul#circular_menu.nbElems8 li.elem4
	{
	left: 230px;
	text-align: left;
	top: 245px;
}

#centre_page #plan ul#circular_menu.nbElems12 li.elem7,#centre_page #plan ul#circular_menu.nbElems10 li.elem6,#centre_page #plan ul#circular_menu.nbElems8 li.elem5,#centre_page #plan ul#circular_menu.nbElems6 li.elem4,#centre_page #plan ul#circular_menu.nbElems4 li.elem3,#centre_page #plan ul#circular_menu.nbElems2 li.elem2
	{
	left: 75px;
	text-align: center;
	top: 275px;
}

#centre_page #plan ul#circular_menu.nbElems12 li.elem8,#centre_page #plan ul#circular_menu.nbElems11 li.elem7,#centre_page #plan ul#circular_menu.nbElems10 li.elem7,#centre_page #plan ul#circular_menu.nbElems9 li.elem6,#centre_page #plan ul#circular_menu.nbElems8 li.elem6,#centre_page #plan ul#circular_menu.nbElems7 li.elem5
	{
	left: -80px;
	text-align: right;
	top: 245px;
}

#centre_page #plan ul#circular_menu.nbElems12 li.elem9,#centre_page #plan ul#circular_menu.nbElems11 li.elem8,#centre_page #plan ul#circular_menu.nbElems9 li.elem7,#centre_page #plan ul#circular_menu.nbElems6 li.elem5,#centre_page #plan ul#circular_menu.nbElems3 li.elem3
	{
	left: -117px;
	text-align: right;
	top: 197px;
}

#centre_page #plan ul#circular_menu.nbElems12 li.elem10,#centre_page #plan ul#circular_menu.nbElems11 li.elem9,#centre_page #plan ul#circular_menu.nbElems8 li.elem7,#centre_page #plan ul#circular_menu.nbElems7 li.elem6,#centre_page #plan ul#circular_menu.nbElems4 li.elem4
	{
	left: -130px;
	text-align: right;
	top: 140px;
}

#centre_page #plan ul#circular_menu.nbElems12 li.elem11,#centre_page #plan ul#circular_menu.nbElems11 li.elem10,#centre_page #plan ul#circular_menu.nbElems9 li.elem8,#centre_page #plan ul#circular_menu.nbElems6 li.elem6
	{
	left: -110px;
	text-align: right;
	top: 75px;
}

#centre_page #plan ul#circular_menu.nbElems12 li.elem12,#centre_page #plan ul#circular_menu.nbElems11 li.elem11,#centre_page #plan ul#circular_menu.nbElems10 li.elem10,#centre_page #plan ul#circular_menu.nbElems9 li.elem9,#centre_page #plan ul#circular_menu.nbElems8 li.elem8,#centre_page #plan ul#circular_menu.nbElems7 li.elem7
	{
	left: -80px;
	text-align: right;
	top: 37px;
}

#centre_page #plan ul#circular_menu.nbElems5 li.elem2 {
	left: 265px;
	text-align: left;
	top: 80px;
}

#centre_page #plan ul#circular_menu.nbElems5 li.elem3 {
	left: 250px;
	text-align: left;
	top: 225px;
}

#centre_page #plan ul#circular_menu.nbElems5 li.elem4 {
	left: -75px;
	text-align: right;
	top: 250px;
}

#centre_page #plan ul#circular_menu.nbElems5 li.elem5 {
	left: -130px;
	text-align: right;
	top: 100px;
}

#centre_page #plan ul#circular_menu.nbElems10 li.elem3,#centre_page #plan ul#circular_menu.nbElems9 li.elem3
	{
	left: 273px;
	text-align: left;
	top: 93px;
}

#centre_page #plan ul#circular_menu.nbElems10 li.elem4,#centre_page #plan ul#circular_menu.nbElems9 li.elem4
	{
	left: 273px;
	text-align: left;
	top: 185px;
}

#centre_page #plan ul#circular_menu.nbElems10 li.elem9,#centre_page #plan ul#circular_menu.nbElems9 li.elem8
	{
	left: -123px;
	text-align: right;
	top: 93px;
}

#centre_page #plan ul#circular_menu.nbElems10 li.elem8,#centre_page #plan ul#circular_menu.nbElems9 li.elem7
	{
	left: -123px;
	text-align: right;
	top: 185px;
}

#centre_page #aides_2 .liste h3 {
	background-image: url(separateur_centre.png);
	background-position: bottom left;
	background-repeat: repeat-x;
	color: #DC6200;
	font-size: 90%;
	font-weight: 400;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

#centre_page #aides_2 .liste h2,#centre_page #aides_3 h4 {
	color: #DC6200;
	font-size: 75%;
	margin-bottom: 3px;
}

#centre_page #aides_2 .liste ul {
	margin-bottom: 15px;
	margin-left: 13px;
}

#centre_page #aides_2 .liste li {
	background-image: url(puce5.png);
	background-repeat: no-repeat;
	padding-left: 15px;
}

#centre_page #aides_3 h3 span {
	font-size: 110%;
	font-weight: 700;
}

#centre_page #aides_3 .bloc_bleu {
	background-color: #FBEEE3;
	margin: 0 0 15px;
}

#centre_page #aides_3 .bloc_bleu h4 {
	color: #333;
	font-size: 70%;
	font-weight: 400;
	margin: 0;
}

#centre_page #aides_3 .bloc_bleu li {
	background-image: url(puce6.png);
}

#centre_page #aides_3 .entete_bloc_info {
	background-image: url(haut_bloc_contact.png);
}

#centre_page #aides_3 .bas_bloc_info {
	background-image: url(bas_bloc_contact.png);
}

#centre_page #aides_3 .bloc_info {
	border-color: #DC6200;
	padding: 0 10px 0 15px;
}

#centre_page #aides_3 .bloc_info h4 {
	margin: 0;
	padding-bottom: 8px;
}

#centre_page #aides_3 .bloc_info span span {
	color: #DC6200;
	font-size: 100%;
}

#centre_page #aides_3 h3 {
	color: #DC6200;
	font-size: 90%;
	font-weight: 400;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

#centre_page #liste_doc .bloc_rose {
	padding: 8px;
}

#centre_page #liste_doc .bloc_rose,#centre_page #liste_doc .table .tr_colore
	{
	background-color: #E3EBF4;
}

#centre_page #liste_doc .bloc_rose .separateur {
	background-image: url(http://www.regioncentre.fr/jahia/jsp/jahia/templates/portail/CR_Centre_Portail_templates/css/images_css/separateur_bleu.gif);
}

#centre_page #liste_doc .table {
	border-color: #004D9F;
}

#centre_page #liste_doc .table div {
	background-image: url(http://www.regioncentre.fr/jahia/jsp/jahia/templates/portail/CR_Centre_Portail_templates/css/images_css/bg_entete_table_emploi_bleu.png);
}

#centre_page #liste_doc .table th {
	background-color: #004D9F;
	background-image: url(bg_td_emploi_bleu.png);
}

#centre_page #liste_doc .input {
	height: 15px;
	width: 30%;
}

#centre_page #liste_doc .select,#centre_page #liste_doc .select1 {
	height: 20px;
	width: 20%;
}

#centre_page #liste_doc a.input_img {
	background-image: url(bt_afficher_bleu.png);
	background-repeat: none;
	display: block;
	float: right;
	height: 17px;
	line-height: 17px;
	margin-right: 10px;
	margin-top: 3px;
	width: 56px;
}

#DWT1 {
	background: orange !important;
	height: auto !important;
	margin: 0 auto !important;
	width: 995px;
}

.breaker {
	clear: both;
	height: 0;
	overflow: hidden;
}

.Fleft {
	float: left !important;
}

.Fright {
	float: right !important;
}

.bloc_formulaireVT {
	background-color: #F9FBEC;
	font-size: 80%;
	margin: 5px 0 15px;
	padding: 10px;
}

.bloc_formulaireVT span {
	color: #9FB811;
	font-size: 120%;
}

.bloc_formulaireVT form h1 {
	color: #9FB811;
	font-size: 130%;
	margin-bottom: 10px;
}

.bloc_formulaireVT table tbody tr td.globalsettings h1 {
	color: #9FB811;
	font-size: 90%;
	margin-bottom: 10px;
}

.bloc_formulaireVT table tbody tr td.globalsettings table tbody tr td {
	color: #000;
	font-size: 85%;
}

.bloc_formulaireVT form b {
	color: #9FB811 !important;
	font-size: 85%;
}

.bloc_sommaire {
	padding: 0 10px;
	position: relative;
}

#sommaire .arbo h3.titre_bleu {
	color: #004D9F;
	font-size: 11pt;
	font-weight: 700;
}

#sommaire .arbo li {
	margin-bottom: 1em;
}

#sommaire .arbo a.sommaire_link {
	background-image: url(puce1_bleu.gif);
	background-repeat: no-repeat;
	color: #004D9F;
	font-size: 10pt;
	font-weight: 700;
	padding-left: 10px;
	position: static;
}

#sommaire .arbo div {
	font-size: 130%;
}

.navItemDesc {
	background-color: #F6F6F6;
	font-size: 70%;
	font-weight: 400;
	margin: 5px 0;
	padding: 5px 10px;
}

#accueil {
	clear: both;
	margin-top: 5px;
}

.layout_100,.layout_50,.layout_66,.layout_34,.layout_33,.layout_60,.layout_40
	{
	float: left;
	margin-bottom: 5px;
}

.layout_50 {
	padding: 0 1%;
	width: 47%;
}

.layout_66 {
	padding: 0 1%;
	width: 62%;
}

.layout_33 {
	padding: 0 1%;
	width: 30%;
}

.layout_60 {
	padding: 0 1%;
	width: 57%;
}

.layout_40 {
	padding: 0 1%;
	width: 37%;
}

#accueil fieldset.unlocked,#accueil fieldset.unlocked fieldset,#accueil fieldset.workflow,#accueil fieldset.workflow fieldset,#accueil fieldset.partialLocked,#accueil fieldset.partialLocked fieldset,#accueil fieldset.completeLocked,#accueil fieldset.completeLocked fieldset
	{
	position: static;
}

#accueil div.menu {
	font-size: 11px;
	position: relative;
}

fieldset .layout_60 {
	width: 55%;
}

.no_right_pad {
	padding-right: 0;
}

.metier {
	font-size: 12px;
}

.RSS_popup {
	color: #333;
	font-family: "Trebuchet MS";
	padding: 10px 20px;
	width: 700px;
}

.RSS_popup p,.RSS_popup a {
	font-size: 80%;
}

.RSS_popup .RSS_popup_btn_fermer {
	bottom: 20px;
	position: absolute;
	right: 40px;
}

.searchHighlightedText {
	background: #C7D8EA;
	font-weight: 700;
}

#blogFilterBox select {
	float: left;
	width: 83%;
}

dt.blogEntryTitle a,.entry h1 {
	color: #65760B;
	font-family: Trebuchet MS;
	font-size: 120%;
	font-weight: 700;
}

dl.previously h2 {
	font-size: 120%;
}

ul.blogCategs {
	float: left;
	width: 50%;
}

ul.blogCategs li a {
	color: #65760B;
	font-size: 80%;
	font-weight: 700;
}

div.blog h2 {
	color: #65760B;
	font-size: 120%;
	font-weight: 700;
}

.searchSubmit {
	background-image: url(bt_ok.gif);
	background-repeat: no-repeat;
	display: block;
	float: right;
	height: 21px;
	width: 22px;
}

.bloc_agenda_cult .searchSubmit {
	background-image: url(bt_ok_vert.gif);
	background-repeat: no-repeat;
	display: block;
	float: right;
	height: 21px;
	width: 21px;
}

div.welcome,div.layout1 {
	color: #6E6E6E;
	font-size: 75%;
	font-weight: 700;
	padding: 4px 22px 0;
}

div.welcome span.hello,div.layout1 {
	color: #00AFD7;
}

div.welcome a {
	color: #6E6E6E;
}

div.layout1 {
	margin-top: 40px;
	padding: 0;
}

div.layout1 input {
	margin-top: 10px;
	width: 100px;
}

#milieu_rss	h4.titre_flux a {
	background-image: url(rss_orange.png);
	background-position: 0 2px;
	background-repeat: no-repeat;
	color: #004D9F;
	display: block;
	margin: 13px 0 5px;
	padding-left: 22px;
	position: relative;
}

#milieu_rss div.rsslistelement {
	display: block;
	float: left;
	font-size: 70%;
	font-weight: 400;
	margin: 0 0 15px;
}

#milieu_rss div.DOUBLE {
	float: left;
	padding-right: 3%;
	width: 47%;
}

#milieu_rss div.rsslistelement div.rssReaderItem div.rssReaderContent {
	padding: 5px 0;
}

#milieu_rss div.rsslistelement div.rssReaderItem a.rssReaderLink {
	color: #004D9F;
	display: inline;
	font-weight: 700;
	margin: 5px 0 0 10px;
}

#milieu_rss div.rsslistelement div.orange div.rssReaderItem a.rssReaderLink
	{
	color: #F9AF0F;
}

#milieu_rss div.rsslistelement div.magenta div.rssReaderItem a.rssReaderLink
	{
	color: #E3325C;
}

#milieu_rss div.rsslistelement div.turquoise div.rssReaderItem a.rssReaderLink
	{
	color: #4CC1A8;
}

#milieu_rss div.rsslistelement div.bleuciel div.rssReaderItem a.rssReaderLink
	{
	color: #1AA6C9;
}

#milieu_rss div.rsslistelement div.rssReaderItem div.rssReaderContent a.rssReaderImageLink,#milieu_rss div.rsslistelement div.rssReaderItem div.rssReaderContent a.rssReaderImageLink img
	{
	display: block;
	float: left;
	margin: 0 5px 0 0;
	width: 92px;
}

a.rssItemProviderLink {
	background-image: url(rss_orange.png);
	background-position: 0 2px;
	background-repeat: no-repeat;
	color: #004D9F;
	padding-left: 22px;
}

.introCtnList,.footerCtnList {
	font-size: 70%;
	overflow: hidden;
	width: 504px;
}

.introCtnList_item,.footerCtnList_item {
	padding: 5px 10px;
}

.visuelIntro_droite,.visuelFooter_droite,.visuelIntro_,.visuelIntro_gauche,.visuelFooter_,.visuelFooter_gauche
	{
	float: left;
	margin: 8px 5px 5px 0;
}

.visuelIntro_droite,.visuelFooter_droite {
	float: right;
	margin: 8px 0 5px 5px;
}

#lexique .introCtnList_item {
	padding-top: 1px;
}

#aides .introCtnList {
	background-color: #FEE5CB;
}

#newsletter .introCtnList {
	background-color: #EFF5CB;
}

.abonnementOffres .submitInput,.abonnementOffres .resetInput {
	background: url(bt_sabonner_vert.gif) no-repeat left top;
	border: none;
	cursor: pointer;
	float: left;
	font-size: 0;
	height: 17px;
	width: 76px;
}

.abonnementOffres .resetInput {
	background: url(bt_annuler_vert.gif) no-repeat left top;
	display: block;
	margin-left: 50px;
}

.entete_bloc_arrondi_gauche {
	background: url(coin_sup_gauche.png) no-repeat left top;
	height: 7px;
	padding-left: 8px;
}

.entete_bloc_arrondi_droite {
	background: url(coin_sup_droit.png) no-repeat right top;
	height: 7px;
	padding-right: 8px;
}

.entete_bloc_arrondi_centre {
	background-color: #F2F6FA;
	border-top: 2px solid #E5EDF5;
	font-size: 0;
	height: 5px;
}

.bas_bloc_arrondi_gauche {
	background: url(coin_inf_gauche.png) no-repeat left top;
	height: 7px;
	padding-left: 8px;
}

.bas_bloc_arrondi_droite {
	background: url(coin_inf_droit.png) no-repeat right top;
	height: 7px;
	padding-right: 8px;
}

.bas_bloc_arrondi_centre {
	background-color: #F2F6FA;
	border-bottom: 2px solid #E5EDF5;
	font-size: 0;
	height: 5px;
}

.contenu_bloc_arrondi {
	background-color: #F2F6FA;
	border-left: 2px solid #E5EDF5;
	border-right: 2px solid #E5EDF5;
	height: 1%;
	padding: 0 2px;
}

.entete_bloc_semi_arrondi {
	background: #E3EBF4 url(coin_sup_gauche_no_border.png)
		no-repeat left top;
	font-size: 0;
	height: 5px;
	padding-left: 5px;
}

.bas_bloc_semi_arrondi {
	background: #E3EBF4 url(coin_inf_droit_no_border.png)
		no-repeat right top;
	font-size: 0;
	height: 5px;
	padding-right: 5px;
}

.doc {
	background: url(http://www.regioncentre.fr/jahia/jsp/jahia/templates/portail/CR_Centre_Portail_templates/images/files/doc.png) no-repeat left top;
}

.exe {
	background: url(http://www.regioncentre.fr/jahia/jsp/jahia/templates/portail/CR_Centre_Portail_templates/images/files/exe.png) no-repeat left top;
}

.file {
	background: url(http://www.regioncentre.fr/jahia/jsp/jahia/templates/portail/CR_Centre_Portail_templates/images/files/file.png) no-repeat left top;
}

.html {
	background: url(http://www.regioncentre.fr/jahia/jsp/jahia/templates/portail/CR_Centre_Portail_templates/images/files/html.png) no-repeat left top;
}

.image {
	background: url(http://www.regioncentre.fr/jahia/jsp/jahia/templates/portail/CR_Centre_Portail_templates/images/files/img.png) no-repeat left top;
}

.link {
	background: url(http://www.regioncentre.fr/jahia/jsp/jahia/templates/portail/CR_Centre_Portail_templates/images/files/link.png) no-repeat left top;
}

.pdf {
	background: url(http://www.regioncentre.fr/jahia/jsp/jahia/templates/portail/CR_Centre_Portail_templates/images/files/pdf.png) no-repeat left top;
}

.ppt {
	background: url(http://www.regioncentre.fr/jahia/jsp/jahia/templates/portail/CR_Centre_Portail_templates/images/files/ppt.png) no-repeat left top;
}

.sound {
	background: url(http://www.regioncentre.fr/jahia/jsp/jahia/templates/portail/CR_Centre_Portail_templates/images/files/sound.png) no-repeat left top;
}

.txt {
	background: url(http://www.regioncentre.fr/jahia/jsp/jahia/templates/portail/CR_Centre_Portail_templates/images/files/txt.png) no-repeat left top;
}

.video {
	background: url(http://www.regioncentre.fr/jahia/jsp/jahia/templates/portail/CR_Centre_Portail_templates/images/files/video.png) no-repeat left top;
}

.xls {
	background: url(http://www.regioncentre.fr/jahia/jsp/jahia/templates/portail/CR_Centre_Portail_templates/images/files/xls.png) no-repeat left top;
}

.pagination_item {
	padding: 0 2px;
}

.pagination_current a {
	font-weight: 700;
	text-decoration: none;
}

.pagination_next {
	background: url(flesche.png) no-repeat left 50%;
	margin-left: 5px;
	padding: 7px;
	vertical-align: middle;
}

.pagination_previous {
	background: url(fleche_bleu.png) no-repeat left 50%;
	margin-right: 5px;
	padding: 7px;
	vertical-align: middle;
}

.picto_file {
	margin: 0 2px;
	vertical-align: bottom;
}

#form_participatif {
	background-color: #EFF7FF;
	border: 1px solid #54A4DE;
	margin: 10px;
}

#form_participatif label.error {
	clear: both;
	color: red;
	float: left;
	font-size: 70%;
}

#form_participatif .custom_simple_form .title {
	background-color: #FFF;
	color: #74B3F8;
	font-weight: 700;
	padding: 4px;
	text-align: center;
}

#form_participatif .custom_simple_form .label {
	color: #74B3F8;
	float: left;
	font-size: 90%;
	font-weight: 700;
	margin: 5px 0;
	padding: 5px;
	width: 30%;
}

#form_participatif .custom_simple_form .data {
	float: left;
	padding: 5px;
	width: 60%;
}

#form_participatif .custom_simple_form .data a {
	color: #74B3F8;
	font-size: 70%;
	font-weight: 700;
}

#form_participatif .custom_simple_form .data input,#form_participatif .custom_simple_form .data textarea,#form_participatif .custom_simple_form .submit input
	{
	border: 1px solid #CCC;
	color: grey;
}

#form_participatif .custom_simple_form .submit {
	background-color: #FFF;
	color: #74B3F8;
	padding: 5px;
	text-align: center;
}

#form_participatif .custom_simple_form .submit input {
	background-color: #FFF;
	border: 1px solid #74B3F8;
	color: #74B3F8;
	text-align: center;
}

#form_participatif .custom_simple_form .submit input:hover {
	background-color: #74B3F8;
	color: #FFF;
	cursor: pointer;
}

.participChapo {
	color: #74B3F8;
	font-style: italic;
	margin: 2px 0;
	padding: 10px;
}

.participContent {
	color: #666;
	margin: 2px 0;
	padding: 10px;
}

#activate_form_link {
	color: #74B3F8;
	cursor: pointer;
	font-size: 12px;
	font-weight: 700;
	margin: 20px 0;
}

.nicEditCopyRight {
	color: grey;
	font-size: 60%;
	text-align: center;
}

.particip_item {
	margin: 15px 0 10px;
}

.particip_item h2 {
	border-bottom: 1px solid;
	color: #A0B913;
	font-size: 100%;
	margin-bottom: 5px;
}

.particip_item h3 {
	color: grey;
	font-size: 70%;
}

#newsletterForm input {
	background-color: #FFF;
	border: 1px solid #3196BD;
	color: #3196BD;
}

#newsletterForm input:hover {
	background-color: #3196BD;
	border: 1px solid #3196BD;
	color: #FFF;
	cursor: pointer;
}

.config_newsletter_item {
	clear: both;
	font-size: 70%;
}

.config_newsletter_item .label,.config_newsletter_item .value {
	float: left;
	padding: 5px;
}

.config_newsletter_item .label {
	font-weight: 700;
	width: 20%;
}

.twoColumnsTemplate #centre_page .centre {
	padding-left: 2%;
	padding-right: 2%;
	width: 96%;
}

#PageNewsLetter .width_100_percent {
	width: 98%;
}

#PageNewsLetter .width_70_percent {
	float: left;
	width: 70%;
}

#PageNewsLetter .width_30_percent {
	float: left;
	padding-left: 1%;
	width: 29%;
}

#PageNewsLetter .width_70_percent .layout_100 {
	padding: 0 2%;
	width: 96%;
}

#PageNewsLetter .width_30_percent .layout_100,#PageNewsLetter .width_30_percent .layout_50,#PageNewsLetter .width_30_percent .layout_60,#PageNewsLetter .width_30_percent .layout_40
	{
	margin-right: 2%;
	width: 98%;
}

.nl_intro,.nl_footer,.nl_unsubscribe,.nl_contact {
	background-color: #EFF7FF;
	clear: both;
	margin: 10px 0;
	padding: 10px;
}

h1,h2,h3,h4,#menu_droit .bloc_zoom p,#centre_page #page_communique .bloc_bleu h4,#centre_page #diaporama .bloc_ombre p
	{
	margin: 0;
}

span.fontSize70,div.fontSize70 {
	display: block;
	font-size: 70%;
}

form,#centre_page #contact .editing_form {
	margin: 0;
	padding: 0;
}

.none,.displayNone,.press_review_detail .titre_revue,#menu_gauche .bloc_zoom h3.titre_D,#navigation_haut .nav_haut li.navHautItemSep1,#navigation_haut .nav_haut li.navHautItemSep5,#centre_page .chemain_fer1 .chemin_fer_intro,#menu_gauche label,#centre_page #liste_doc .bloc_rose label,.agendaHeader_57 h1.titre_G,.agendaHeader_97 h1.titre_G,.blogHeader_97 h1.titre_G,.table_annuaire .ficheResume,.formGeneratedRow.hiddenField,#centre_page #recherche .star span,.isToHide,.empty_menu_item,div.nl_unsubscribe
	{
	display: none;
}

.boldText,#menu_gauche .liste_menu_G li.level1 .titre_G a,#centre_page .contenu_en_bref a,.current,.txt_noir_bold,.form_g1,.pageLinks .current,#centre_page #recherche .searchLabelTitle
	{
	font-weight: 700;
}

.displayBlock,#centre_page #contact label,#centre_page #newsletter .bloc_formulaire label
	{
	display: block;
}

.error,#texte_notification {
	color: red;
	font-weight: 700;
}

#navigation_haut .nav_haut .menu,#menu_gauche .bloc_profil .menu,#menu_droit .menu,#lexique .liste .menu,.faqThemesList .menu,#div_diaporama .menu,.communiquesList .menu,.sondageList .menu,.referencesList .menu,.agendaEventsList .menu,.articlesList .menu,.listeAides .menu,.listeMetiers .menu,.multimediaList .menu,.liste .menu,.revuePresseList .menu,.listeAnnuaireGraine .menu,.explorateurDelibsList .menu,#rssDistant .menu,#newsLetterList .menu,.newsletterBlock_inline .menu,#centre_page .article .txt_noir_small,#centre_page #page_communique .txt_noir_small,#centre_page .article2 .txt_noir_small,#centre_page .article .txt_lien,#centre_page .article2 .txt_lien,#centre_page .article1 .txt_noir_small,#centre_page .article1 .txt_lien,#centre_page .article .txt_lien_picto,#centre_page #page_communique .txt_bleu,#centre_page .bloc_formulaire .actionMenuContainer,.form_generated .form_zone_texte,#centre_page #recherche label,#centre_page #recherche .pagination,#centre_page #recherche .article,div.searchLinkDiv,#centre_page #diaporama .bloc_formulaire .txt_noir_blold,#centre_page #diaporama .bloc_ombre h3,#centre_page #plan .sitemapDesc_edit_list,.sommaireParamsList .menu,.sommaireParamsItem,#sommaire .arbo div.menu,#centre_page #newsletter .article h3.titre_noir
	{
	font-size: 70%;
}

#centre_page .entete_annuaire .menu,#centre_page .contenu_evenement span
	{
	font-size: 60%;
}

#rssDistant .rsslistelement .menu,#menu_droit .liste_menu_D .menu,#centre_page #contact .form_generated .form_donne .input,#centre_page #recherche h4,.RSS_popup h1,dl.previously #comments h4 span a
	{
	font-size: 100%;
}

#navigation_haut .nav_haut fieldset,.bloc_presse h3 span,.comment_bloc,.form_generated_row table.form_saved_posts tr.even td,#form_participatif .custom_simple_form .nicEdit-main
	{
	background-color: #FFF;
}

#menu_gauche .select,#centre_page #aides_3 h4,#centre_page #aides_3 .padding
	{
	margin-left: 10px;
}

#menu_gauche .liste_menu_G a,#menu_gauche .liste_menu_G a:hover,#menu_gauche .sous_liste_menu_G a,#menu_gauche .sous_liste_menu_G a:hover,#menu_gauche .liste_menu_G li.level1 li a,#menu_gauche .liste_menu_G li.level1 li a:hover,.link_bloc a,#menu_droit .bloc_zoom span,#centre_page .entete_annuaire span,#centre_page .entete_annuaire h3 span.titre_blanc2,#centre_page .entete_annuaire h3 span.titre_blanc1,.txt_bleu,#centre_page .article a,#centre_page .article2 a,#centre_page .article1 a,#centre_page .article2 a,.articles_pagination a,#centre_page #page_communique .txt_noir_small,#centre_page #page_communique .pagination,#centre_page #page_communique .pagination a,#centre_page #page_communique .bloc_bleu span,#centre_page #page_communique .bloc_bleu li,#centre_page #page_communique h4 span,#centre_page #liste_doc .pagination,#centre_page #liste_doc .pagination a,.commmuniques_pagination a,#centre_page #liste_doc #div_detail_document .pagination1 a,#centre_page #FAQ .contenu_bloc_arrondi .faq_pagination a,#centre_page #resultat_recherche .pagination,#centre_page #lexique .pagination,#centre_page #lexique .pagination a,#centre_page #resultat_recherche .pagination a,#centre_page #resultat_recherche .txt_bleu1,#centre_page #recherche .txt_bleu1,#centre_page #recherche .pagination,#centre_page #recherche .pagination a,.lexique_pagination a,#centre_page #multimedia .padding a,#centre_page #multimedia_video .voir_video li a,#centre_page #multimedia_video .voir_video li a:hover,#centre_page #multimedia_audio .voir_audio li a,#centre_page #multimedia_audio .voir_audio li a:hover,#centre_page #multimedia_video .voir_flash li a,#centre_page #multimedia_video .voir_flash li a:hover,#centre_page #multimedia_video .pagination1 a,#centre_page #multimedia_audio .pagination1 a,#centre_page #diaporama #div_image_agrandie .pagination1 a,#centre_page #plan,#centre_page #liste_doc .bloc_rose h3,#milieu_rss div.rsslistelement div.bleu div.rssReaderItem a.rssReaderLink
	{
	color: #004D9F;
}

#menu_gauche .liste_menu_G li.level1 a,#menu_gauche .liste_menu_G li.level1 a:hover,#menu_gauche .liste_menu_G li.level1 .menu a:hover,#centre_page .agenda_centre h3 .titre_blanc01 a,#menu_droit h3 span.titre_blanc01 a.currentMonth,table.tab_calendrier .selected.selected01 a,a.lien_even:hover,.form_generated_row table.form_saved_posts tr.title th a
	{
	color: #FFF;
}

#menu_gauche .liste_menu_G li.level1 .menu a,#navigation_haut ul li a,#centre_page #newsletter span.titre_noir,#centre_page #newsletter .bloc_formulaire h3,#centre_page #newsletter .bloc_formulaire h4,#centre_page #diaporama .bloc_ombre div p a,#centre_page #diaporama .bloc_ombre h3 a,#comments
	{
	color: #000;
}

#menu_gauche .liste_menu_G li.notCurrent a:hover,#menu_gauche .bloc_recherche span a,#centre_page #accueil .float_left02 .pad_txt a.lienBoiteTexte:hover,#centre_page .chemain_fer1 span a,.lien_haut_page a:hover,#centre_page .pagination1 a:hover,#centre_page .agenda_retour a:hover,#centre_page .bloc_info a,#centre_page .article .txt_noir_small a,#centre_page #page_communique .txt_noir_small a,#centre_page .article2 .txt_noir_small a,#centre_page .article a.underline,#centre_page .article1 .txt_noir_small a,#centre_page .article1 a.underline,#centre_page .article2 a.underline,#centre_page #plan a:hover,div.layout1 div.title,.pagination_item a,.nl_intro a,.nl_footer a,.nl_unsubscribe a,.nl_contact a
	{
	text-decoration: underline;
}

#menu_gauche .bloc_nom_extranet h3.titre_G:first-line,#centre_page h3.titre_noir,#centre_page .contenu_evenement h3.titre_noir,#centre_page .article h3.titre_noir,#centre_page .article2 h3.titre_noir,#centre_page .article1 h3.titre_noir,#centre_page .dossier h3.titre_blanc,#centre_page #page_communique .bloc_bleu h4 span.txt_noir_bold,#centre_page #contact span.titre_noir,#centre_page #newsletter span.titre_noir,#centre_page #resultat_recherche .txt_bleu1,#centre_page #recherche .txt_bleu1,#centre_page #page_emploi .bloc_rose span,#centre_page #liste_doc .bloc_rose span,#centre_page #aides .bloc_formulaire .txt_noir_blold,.layout_100 fieldset legend,.layout_50 fieldset legend,.layout_66 fieldset legend,.layout_34 fieldset legend,.layout_33 fieldset legend,.layout_60 fieldset legend,.layout_40 fieldset legend
	{
	font-size: 75%;
}

#centre_page .agenda_centre .tab_calendrier,.entete_annuaire .float_left,#centre_page .bloc_bleu ul,#centre_page #multimedia_video .bloc_ombre div
	{
	margin-top: 5px;
}

#menu_droit h3 span.titre_blanc01 a,#menu_droit h3 span.titre_blanc01 a:hover,table.tab_calendrier .selected a:hover,#centre_page h4 span.titre_item_agenda a,#centre_page .agenda_pagination a
	{
	color: #65760B;
}

#menu_droit .bloc_zoom .fontSize70,.blogHeader_97,.faqThemesList,#milieu_rss div.rsslistelement div.rssReaderItem
	{
	margin-top: 10px;
}

#navigation_haut ul li a:hover,#centre_page .option_haut #liens_option_haut a:hover,#centre_page .pagination1 a,#centre_page .agenda_pagination .paginationPreviousLink:hover,#centre_page .agenda_pagination .paginationNextLink:hover,#centre_page .entete_annuaire .input_radio a.input_img:hover,#centre_page .entete_annuaire .input a.input_img:hover,#centre_page .table_annuaire td a.fleche_tri_asc:hover,#centre_page .table_annuaire td a.fleche_tri_desc:hover,#centre_page .table_annuaire td a.fleche_tri_asc_current:hover,#centre_page .table_annuaire td a.fleche_tri_desc_current:hover,#centre_page #liste_doc td a.fleche_tri_asc:hover,#centre_page #liste_doc td a.fleche_tri_desc:hover,#centre_page #liste_doc td a.fleche_tri_asc_current:hover,#centre_page #liste_doc td a.fleche_tri_desc_current:hover,#centre_page #recherche a.search_button:hover,#centre_page #recherche .pagination a.next:hover,#centre_page #recherche .pagination a.next,#centre_page #recherche .pagination a.prec:hover,#centre_page #recherche .pagination a.prec,#centre_page #plan ul a:hover
	.folder_unfolder,#centre_page #liste_doc a.input_img:hover,a.no_underline:hover,.searchSubmit:hover,.articles_pagination a,.commmuniques_pagination a,.faq_pagination a,.emploi_pagination a,.articles_pagination a:hover,.commmuniques_pagination a:hover,.faq_pagination a:hover,.emploi_pagination a:hover
	{
	text-decoration: none;
}

#navigation_haut .couleur_violet a:hover,#centre_page #plan .couleur_violet,#centre_page #plan .couleur_violet a,#centre_page #page_emploi .emploi_pagination a,#centre_page #page_emploi_detail .float_right_pad a
	{
	color: #A44F85;
}

#navigation_haut .nav_haut li.navHautItem1,#navigation_haut .nav_haut li.navHautItem5,#centre_page .entete_annuaire .filter_choice,#centre_page #contact .form_generated_row,#centre_page #newsletter .bloc_formulaire .nl_subscribe_item,.break,.startNewCol,dl.previously fieldset,#form_participatif .row
	{
	clear: both;
}

#centre_page .contenu_evenement h3.titre_noir,#centre_page .article.news .newsText,#centre_page #liste_doc .introText
	{
	margin-bottom: 5px;
}

#centre_page #accueil .float_left02 .pad_txt img,#centre_page .img {
	vertical-align: middle;
}

#centre_page .article.news,#centre_page #multimedia_video h3,#centre_page #multimedia_video table,#centre_page #multimedia_audio table
	{
	margin-bottom: 20px;
}

#centre_page .article.news span.date,dl.previously #comments h4 {
	font-size: 90%;
}

table.tab_calendrier td a,table.tab_calendrier td a:hover {
	color: #65760B;
	text-decoration: none;
}

table.tab_calendrier .selected01 a:hover,table.tab_calendrier .selected.selected01 a:hover
	{
	color: #AEC425;
}

div .float_left02 img,#milieu_rss div.rssBoxRight {
	float: right;
}

.float_left01,.layout_66 div img {
	margin-right: 0;
}

#centre_page h4 span.titre_item_agenda,#centre_page h4 span.titre_gris,.detail_metier_intitule
	{
	color: #65760B;
	font-size: 95%;
}

#centre_page .table_annuaire,#centre_page #recherche .txt_noir_blold,#centre_page #multimedia .txt_noir_blold,#centre_page #multimedia_video .txt_noir_blold,#centre_page #multimedia_audio .txt_noir_blold,#centre_page #diaporama .txt_noir_blold
	{
	color: #004D9F;
	font-size: 75%;
}

#centre_page #div_annuaire .table_annuaire .tr_colore2,#centre_page #liste_doc .table .tr_colore2
	{
	background-color: #CECECE;
}

#centre_page #div_annuaire .table_annuaire .tr_colore2 td,#centre_page #liste_doc .table .tr_colore2 td
	{
	margin: 0;
	padding: 5px 6px;
}

#centre_page .fiche_conseiller .pagination1 a,#centre_page #multimedia .pagination a,#centre_page #aides .txt_lien li a,#centre_page #aides .txt_lien1 li a,#centre_page #plan .txt_lien li a,#centre_page #plan .txt_lien1 li a,#centre_page #plan .txt_lien li li a,#centre_page #plan .txt_lien1 li li a,#centre_page #aides_2 .liste li a
	{
	color: #333;
}

#centre_page .article1,#centre_page #page_communique,#centre_page #page_emploi,#centre_page #page_emploi_detail,#centre_page #FAQ,#centre_page #resultat_recherche,#centre_page #recherche,#centre_page #multimedia,#centre_page #multimedia_video,#centre_page #multimedia_audio,#centre_page #diaporama,#centre_page #aides,#centre_page #lexique,#centre_page #aides_2,#centre_page #aides_3,#centre_page #plan,#centre_page #liste_doc
	{
	margin-bottom: 25px;
}

.articles_pagination,#centre_page #FAQ .faq_pagination {
	color: #004D9F;
	text-align: center;
}

#centre_page #page_communique .article h4.titre_bleu,#centre_page #multimedia_video p
	{
	margin: 2px 0 4px;
}

#centre_page #page_communique .article,#centre_page #lexique .lexiqueFilters
	{
	margin: 10px 0 15px;
}

.commmuniques_pagination,.lexique_pagination {
	color: #004D9F;
	text-align: center;
	word-spacing: 6px;
}

#centre_page #contact .bloc_formulaire h3,#centre_page #newsletter .bloc_formulaire h3,#centre_page #sommaire h2.titre_page.titre_bleu_bg,.sommaireParamsItem
	{
	margin-bottom: 10px;
}

#contact_formulaire .submitInputWrapper,.nl_unsubscribe,.nl_contact {
	text-align: center;
}

#centre_page #FAQ .questions_reponses_item,#centre_page #page_emploi_detail .padding01,#centre_page #page_emploi_detail .bloc_rose,#centre_page #aides .txt_lien ul,#centre_page #aides .txt_lien1 ul,#centre_page #plan .txt_lien ul,#centre_page #plan .txt_lien1 ul,#centre_page #aides_3 .padding
	{
	margin-bottom: 15px;
}

#centre_page #recherche .form_g,#centre_page #recherche .form_g2,#centre_page #recherche .input1
	{
	width: 32%;
}

#centre_page #recherche .input,#centre_page #newsletter .bloc_formulaire .form_g,#centre_page #newsletter .bloc_formulaire .form_g1,#centre_page #newsletter .bloc_formulaire .input,#centre_page #liste_doc .select1
	{
	width: 30%;
}

#centre_page #recherche .input2,#centre_page #newsletter .bloc_formulaire .input1,.config_newsletter_item .value
	{
	width: 50%;
}

#centre_page #recherche h1 .searchResultTitle,.grey {
	color: #004D9F;
	font-size: 50%;
}

#centre_page #resultat_recherche .txt_bleu_gras,#centre_page #recherche .txt_bleu_gras,#centre_page #page_emploi_detail .txt_noir_bold,#centre_page #page_emploi_detail .txt_rose
	{
	font-size: 100%;
	font-weight: 700;
}

#centre_page #page_emploi_detail .padding,#centre_page #page_emploi_detail .padding01,#centre_page #multimedia .padding,#centre_page #aides .txt_lien li,#centre_page #aides .txt_lien1 li,#centre_page #plan .txt_lien li,#centre_page #plan .txt_lien1 li,#centre_page #plan.sommaire
	{
	padding-left: 10px;
}

#centre_page #diaporama #div_image_agrandie h3,#aides_3 .separateur {
	margin-top: -22px;
}

#centre_page #aides .txt_lien h3 a,#centre_page #aides .txt_lien1 h3 a,#centre_page #aides_2 .pagination1 a,#centre_page #aides_3 .pagination1 a
	{
	color: #DC6200;
}

#userShell,#DWT2 {
	margin: 0 auto !important;
	width: 995px;
}

.bloc_formulaireVT table tbody tr td.globalsettings,#sondage .introCtnList
	{
	background-color: #F9FBEC;
}

.bloc_formulaireVT td.globalsettings b,.bloc_formulaireVT form {
	color: #9FB811;
	font-size: 85%;
}

.bloc_formulaireVT form label,.bloc_formulaireVT form input {
	color: #000;
	font-size: 85%;
}

.layout_100,#milieu_rss div.SIMPLE,#forum_noarch .introCtnList,#lexique .introCtnList,.twoColumnsTemplate #centre_page
{
	width: 100%;
}

#milieu_rss	div.bleu h4.titre_flux a,div.bleu a.rssItemProviderLink {
	background-image: url(rss_orange.png);
	color: #004D9F;
}

#milieu_rss	div.orange h4.titre_flux a,div.orange a.rssItemProviderLink
	{
	background-image: url(rss_bleu.png);
	color: #F9AF0F;
}

#milieu_rss	div.magenta h4.titre_flux a,div.magenta a.rssItemProviderLink
	{
	background-image: url(rss_magenta.png);
	color: #E3325C;
}

#milieu_rss	div.bleuciel h4.titre_flux a,div.bleuciel a.rssItemProviderLink
	{
	background-image: url(rss_bleuciel.png);
	color: #1AA6C9;
}

#milieu_rss	div.turquoise h4.titre_flux a,div.turquoise a.rssItemProviderLink
	{
	background-image: url(rss_turquoise.png);
	color: #4CC1A8;
}

#page_communique .introCtnList,#diaporama .introCtnList {
	background-color: #EDF1FA;
}

#div_annuaire .introCtnList,#explorateur_delibs .introCtnList {
	background-color: #EDF1FA;
	margin-top: 20px;
}

#liste_doc .introCtnList,#page_emploi .introCtnList,#newsletter .bloc_formulaire .footerCtnList
	{
	width: 484px;
}

.agendaEventsList {
	font-size: 100%;
}

.agendaEventsList h4 {
	font-size: 100%;
}

.agendaEventsList h4 span {
	color: #999999;
	font-size: 80%;
	font-weight: normal;
}

.agendaEventsList h4 a.titre {
	color: #65760B;
	font-size: 90%;
	margin-top: 5px;
}

.agendaEventsList div.desc div.date {
	color: #666666;
	font-weight: bold;
}

.agendaEventsList div.desc,.agendaEventsList div.desc_long {
	margin: 5px 0px;
	font-size: 70%;
}

.agendaEventsList div.desc_long {
	display: none;
}

#centre_page .agendaEventsList .img_agenda {
	border: 1px solid #65760B;
	float: right;
	margin: 0 0 5px 5px;
}

.menu_from_bigl {
	background-color: #E8FF9C;
	border: 1px solid #55980A;
}

#menu_gauche .liste_menu_D {
	margin-left:0;
	padding-left:16px;
	padding-top:14px;
	width:auto;
}

#menu_gauche .weatherItemList{
	font-size:11px;
	padding-left:0px;
	padding-top:4px;
}

#menu_gauche .weatherItemList h4{
	font-size:11px;
}


#menu_gauche .liste_menu_D li.weatherList,#menu_droit .liste_menu_D li.weatherList{
	width : 33%;
	float: left;
	padding:0;
}


.ephemeride{
	font-size : 11px;
	color:#4B4B85;
}

#menu_droit .ephemeride .bloc_zoom_inner {
	padding-left: 6px;
}


.ephemeride_date{
	color:#004D9F;
	font-size : 12px;
	font-weight:bold;
	text-align: center;
}
.ephemeride_date:FIRST-LETTER {
	text-transform: uppercase;
}

.ephemeride_celebrate_title{
	color:#666666;
	font-weight:bold;
	text-align: center;
}
.ephemeride_celebrate{
	color:#666666;
	text-align: center;
}
.meteo_block{
	clear : both;
	margin: 4px 0px;
}
.meteo_city{
	border-bottom : 1px solid #004D9F;
	cursor: pointer;
}

#menu_gauche .liste_menu_D .meteo_city a{
	color : #004D9F;
}

.redacteurArticle {
    font-size: 70%;
    color: #999;
    font-style: italic;
    text-align: right;
    margin: 1em 0;
}
