/* Largeurs */
.w100{ width: 100%; }
.w99{ width: 99%; }
.w90{ width: 90%; }
.w70{ width: 70%; }
.w60{ width: 60%; }
.w50{ width: 50%; }
.w30{ width: 30%; }
.w20{ width: 20%; }
.w650p{ width: 650px; }
.w300p{ width: 300px; }
.w272p{ width: 272px; }
.w250p{ width: 250px; }
.w225p{ width: 220px; }
.w160p{ width: 160px; }
.w70p{ width: 70px; }
.w50p{ width: 50px; }

/* Hauteurs */
.h100{ height: 100%; }
.h150p{ height: 150px; }
.h100p{ height: 100px; }
.h50p{ height: 50px; }
.h30p{ height: 30px; }
.h20p{ height: 20px; }
.h16p{ height: 16px; }
.h15p{ height: 15px; }
.h10p{ height: 10px; }

/* Alignement vertical */
.vatop{ vertical-align: top; }
.vabottom{ vertical-align: bottom; }
.vamiddle{ vertical-align: middle; }

/* Alignement horizontal */
.taleft{ text-align: left; }
.tacenter{ text-align: center; }
.taright{ text-align: right; }
.tajustify{ text-align:justify; }

/* Taille de la police */
.fsxxsmall{ font-size:xx-small; }
.fsxsmall{ font-size:x-small; }
.fssmall{ font-size:small; }
.fslarge{ font-size:large; }
.fs9{ font-size: 9px; }
.fs10{ font-size: 10px; }
.fs11{ font-size: 11px; }
.fs12{ font-size: 12px; }

/* Style police */
.fsitalic{ font-style: italic; }
.fwbold{ font-weight: bold; }
.tdunderline{ text-decoration:underline; }
.tdnone{ text-decoration:none; }

/* Couleurs du texte */
.rose{ color: #AA004B; }
.noir{ color: #000; }
.white{ color: #fff; }
.red{ color: #f00; }

/* Couleurs de fond */
.bgjaune_pale{ background-color: #FFFFCF; }
.bgrose_pale{ background-color: #FFEFFF; }
.bgrose{ background-color: #AA004B; }
.bgnoir{ background-color: #000; }
.bggris{ background-color: #f4f4f4; }
.bggris2{ background-color: #ededed; }
.bgrouge{ background-color: #FF0000; }
.bgvert{ background-color: #019b2c; }

/* Margin */
.mauto{ margin: 0px auto; }
.m0{ margin: 0px; }
.mt-5{ margin-top:-5px; }
.mt0{ margin-top:0px; }
.mt3{ margin-top:3px; }
.ml-40{ margin-left:-40px; }
.ml0{ margin-left:0px; }
.ml40{ margin-left:40px; }
.mr10{ margin-right:10px; }

/* Padding */
.p0{ padding: 0px; }
.p5{ padding: 5px; }
.p10{ padding: 10px; }
.pb10{ padding-bottom: 10px; }
.pb20{ padding-bottom: 20px; }
.pb50{ padding-bottom: 50px; }
.pt10{ padding-top: 10px; }
.pt16{ padding-top: 16px; }
.pt20{ padding-top: 20px; }
.pl5{ padding-left: 5px; }
.pl10{ padding-left: 10px; }
.pl20{ padding-left: 20px; }
.pl35{ padding-left: 35px; }
.pl38{ padding-left: 38px; }
.pr5{ padding-right: 5px; }
.pr10{ padding-right: 10px; }

/* Affichage */
.dnone{ display: none; }
.dinline{ display: inline; }
.dblock{ display: block; }
.drow{ display: table-row; }
.dtable{ display: table; }
.dcell{ display:table-cell; }

/* Border */
.bcollapse{ border-collapse:collapse; }
.b1noir{ border: 1px solid black; }
.bt1noir{ border-top: 1px solid black; }
.b1noir_dashed{ border:1px dashed black; }

/* Zindex */
.zi1{ z-index:1; }
.zi2{ z-index:2; }

/* Liste */
.lscircle{ list-style-type:circle }