
body
{
	margin-left: 15em;
}

a.linkOver
{
	color: #FFF;
}

.blanc a
{
	color: #FFF;
}

#menu
{
	position: absolute;
	left: 23px;
	width: 115px;
	height: 450px;
	margin:0px;
	padding-left:50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #58585A;
	text-align:left;
	background-image:url(fond_menu.gif);
	background-repeat:no-repeat;
	background-position: left top;
	z-index:10;

}

#menu span
{
	display:none;
}

#menu ul
{


	border-top: 1px #FFFFFF solid;
	border-left: 1px #FFFFFF solid;
	border-right: 1px #636466 solid;
	border-bottom: 1px #636466 solid;
	background-color: #C0AD86;
	background-color: #EAE2CF;
	margin: 0px;
	padding: 0px;
	position: absolute;
	width: 115px;

}

#menu ul a
{
	color: #000px;
		background-color: #EAE2CF;
		border-bottom: 1px #FFF solid;
		font-size: 11px;
		font-weight: normal;
}

#menu ul a:hover
{
	color: #FFF;
	background-color: #CC0000;
}

#menu ul a:focus
{
	color: #FFF;
	background-color: #CC0000;
}

#menu ul a.linkOver
{
	color: #FFF;
	background-color: #937F67;
}

#menu li
{
	margin: 0px;
	padding: 0px;
	display: block;
	float: left;  
	width: 115px;
	line-height:16px;
			list-style: none;

}

#menu li ul
{
	visibility: hidden;
	margin-left: 115px;
	margin-top: -20px;
	z-index:100;
	display:inline;
}

#menu a
{
	text-align: left;
	color: #58585A;
	font-weight: normal;
	display: block;
	width: 115px;
	line-height:16px;
	text-decoration: none;
	margin: 0px;
	padding:2px;
}

#menu a:focus
{
	color: #FFF;
	background-color: #CC0000;
}

#menu a:hover
{
	color: #CC0000;
}

#menu span
{
	display: none;
}

* html #menu li
{
	display: inline;
	float: none;
}
