/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
th, td { vertical-align:bottom; }
body { line-height: 1; }

ul { list-style-type: none; }
ol { list-style-type:decimal; }

blockquote, q { quotes: none; font-style:italic; }

:focus { outline: 1px dotted #CCCCCC; }
body:focus { outline:0; }

ins { text-decoration: underline; }
del { text-decoration: line-through; }

table { border-collapse: collapse; border-spacing: 0; }

small { font-size:80%; }
big { font-size:150%; }

sup { vertical-align:sup; }
sub { vertical-align:sub; }
sup, sub { font-size:90%; }

input, textarea {
	padding:0;
	margin:0;
	font-family:inherit;
	font-size:inherit;
}

.clear { clear:both; }

font {
	font-size:inherit;
	background-color:inherit;
	color:inherit;
	font-family:inherit;
	font-style:inherit;
	text-align:inherit;
	text-decoration:inherit;
}