/*----------------------
Propriétés de la page
----------------------*/

body {
	color: #000;
        font: 0.85em Arial, Verdana, sans-serif;
        margin: 0;
        text-align: center;
        /* pour centrer horizontalement la boite #page dans IE/Win */
        background-color: #FFF;
}
form {
margin: 0px;
padding: 0px;
display:inline;
vertical-align: middle;
}
INPUT.recherche {
	BORDER-RIGHT: #7f7f7f 1px solid; BORDER-TOP: #7f7f7f 1px solid; BORDER-LEFT: #7f7f7f 1px solid; BORDER-BOTTOM: #7f7f7f 1px solid; width:100px;
}
INPUT.submit {
	BORDER-RIGHT: #7f7f7f 1px solid; BORDER-TOP: #7f7f7f 1px solid; BORDER-LEFT: #7f7f7f 1px solid; BORDER-BOTTOM: #7f7f7f 1px solid;
}
INPUT.ok {
	BORDER-RIGHT: #7f7f7f 1px solid; BORDER-TOP: #7f7f7f 1px solid; BORDER-LEFT: #7f7f7f 1px solid; BORDER-BOTTOM: #7f7f7f 1px solid;font: 0.85em Arial, Verdana, sans-serif;
}
INPUT.rechercher {
	BORDER-RIGHT: #7f7f7f 1px solid; BORDER-TOP: #7f7f7f 1px solid; BORDER-LEFT: #7f7f7f 1px solid; BORDER-BOTTOM: #7f7f7f 1px solid;
}
INPUT.detail {
	BORDER-RIGHT: #7f7f7f 1px solid; BORDER-TOP: #7f7f7f 1px solid; BORDER-LEFT: #7f7f7f 1px solid; BORDER-BOTTOM: #7f7f7f 1px solid;width:90px;
}

SELECT.liste {
	BORDER-RIGHT: #7f7f7f 1px solid; BORDER-TOP: #7f7f7f 1px solid; BORDER-LEFT: #7f7f7f 1px solid; BORDER-BOTTOM: #7f7f7f 1px solid;
}

#rechercher .submit {
	FONT-SIZE: 0.95em; BACKGROUND: #fff; COLOR: #000;
}
#rechercher .recherche {
        FONT-SIZE: 0.95em;
}

#page
{
        position: relative;
        text-align: left; /* pour annuler l'heritage de text-align:center de BODY */
        margin: 1em auto; /* auto pour centrer horizontalement la boite dans BODY
                                                 pour le navigateurs autres que IE/WIN */
        padding: 0;
        width: 57em; /*ou 100% pour largeur fluide pleine largeur */
}

/* On cache l'entete imprimer */
#entete_imprimer {
	display: none;
}

#entete 
{
        position: relative;
        margin: 0px 0px 0px 0px;
        padding: 0;
        background-color: #FFFFFF;
	text-align: right;
        overflow: hidden;
        z-index: 10;
	font-size: 0.85em;
}

img.img_bandeau 
{
	display:block;
	margin-left: auto;
	margin-right: auto;
}

#navigation
{
	text-align: left;
	font-size: 1.25em;
}

#menu_gauche
{
	position: relative;
	width:19%;
        /* border: solid 1px black; */
	padding-right:5px;
	background-color: #FFFFFF;
        text-align: right;
        overflow: visible;
        z-index: 10;
        /* font-size: 85%; */
	float: left;
        border-right: solid 1px black;
	margin-right: -1px;
}

#contenu_accueil
{
	position: relative;
	width:36em;
        padding-right:10px;
        padding-left:10px;
        background-color: #FFFFFF;
	overflow: hidden;
        z-index: 10;
	float: left;
	border-left: solid 1px black;
        border-right: solid 1px black;
	font-size: 0.85em;
	text-align: center;
}

#page_accueil {
        text-align: center;
}

#contenu_accueil img 
{
	margin: 5px;
}

#contenu
{
	position: relative;
        /*width:595px;*/
        width:57%;
        padding-left:10px;
        padding-right:10px;
        background-color: #FFFFFF;
        overflow: hidden;
        z-index: 10;
        float: left;
	/*border-left: solid 1px black;
        border-right: solid 1px black;*/
	border-right: solid 1px black;
	border-left: solid 1px black;
	text-align: justify;
	font-size: 0.85em;
}

#contenu img 
{
	margin: 5px;
}

#contenu-carte
{
        position: relative;
        /*width:595px;*/
        width:40em;
        padding-left:10px;
        padding-right:10px;
        background-color: #FFFFFF;
        overflow: hidden;
        z-index: 10;
        float: left;
        /*border-left: solid 1px black;
        border-right: solid 1px black;*/
        /* border-right: solid 1px black;*/
        border-left: solid 1px black;
        text-align: center;
        font-size: 0.85em;
}


#contenu1
{
	position: relative;
}

#menu_droit
{
        position: relative;
        width:19%;
        /* border: solid 1px black; */
        padding-left:5px;
        background-color: #FFFFFF;
        overflow: hidden;
        z-index: 10;
        float: left;
	border-left: solid 1px black;
	margin-left: -1px;
}

#bas_de_page
{
	position: relative;
	width: 100%;
	background-color: #FFFFFF;
        overflow: hidden;
        z-index: 10;
        text-align: center;
	float: left;
        font-size: 0.85em;
}

hr
{
	color: black;
	background-color: black;
	border-color: black;
	height: 1px;
	border: 0;
}
/*
.hr_menu_gauche {
        color: #B41621;
        background-color: #B41621;
        border-color: #B41621;
        height: 1px;
        border: 0;
	margin: 0;
	_margin: -7px 0;
	padding: 0;
}
*/
.test {
	border-bottom: 1px solid; 
}

.titre_article
{
	float: left;
	width: 90%;
}

.pdf
{
	float: left;
	width: 5%;
}

.img_lang
{
	vertical-align: middle;
}

img
{
	border: 0;
}

h1
{
	font-size: 1.6em;
	color: #B41621;
	text-align: left;
}

h2
{
	font-size: 1.5em;
	color: #B41621;
	text-align: left;
}

h3
{
	font-size: 1.4em;
	color: #B41621;
	text-align: left;
}

h4
{
	font-size: 1.3em;
	color: #B41621;
	text-align: left;
}

h5
{
	font-size: 1.2em;
	color: #B41621;
	text-align: left;
}

h6
{
	font-size: 1.1em;
	color: #B41621;
	text-align: left;
}

.texte_relief
{
	font-weight: bold;
}

.texte_avertissement
{
	color: #B41621;
	font-weight: bold;
	font-size: 1.2em;
}

.texte_annotation
{
	font-weight: normal;
        font-style: italic;	
}

.photo_legende
{
	font-weight: normal;
        font-style: italic;
	font-size: 0.9em;
	color: black;
}

.date
{
	color: black;
	font-size: 0.6em;
	font-weight: normal;
	font-style: italic;
}
	
.date_accueil
{
	color: black;
	font-size: 0.9em;
	font-weight: normal;
	font-style: italic;
}

a
{
	color: #0A385A;
}

a:active
{
	color: red;
}

a:visited
{
	color: #B41621;
} 
a:hover
{
	color: #B41621;
}

.meme_rubrique
{
        color: #0A385A;
        font-size: 0.9em;
        text-decoration: none;
        font-weight: bold;
}

.mcc_domaine
{
        color: #0A385A;
        font-size: 1em;
        text-decoration: none;
        font-weight: bold;
}

.mcc_diplome
{
        color: #0A385A;
        font-size: 1em;
        text-decoration: none;
}

.meme_rubrique
{
        color: #0A385A;
        font-size: 1em;
        text-decoration: none;
        font-weight: bold;
}

a.rubrique 
{
	color: #0A385A;
	font-size: 1em;
	text-decoration: none;
	font-weight: bold;
}

a.rubrique:hover
{
        color: #B41621;
        font-size: 1em;
        text-decoration: none;
        font-weight: bold;
}

a.rubrique:visited
{
        color: #0A385A;
        font-size: 1em;
        text-decoration: none;
}

.rubrique_ouverte
{
	color: #B41621;
	font-size: 1em;
	text-decoration: none;
	font-weight: bold;
}

a.sous_rubrique
{
	color: #0A385A;
	font-size: 0.85em;
	text-decoration: none;
}

a.sous_rubrique:hover
{
	color: #B41621;
	font-size: 0.85em;
        text-decoration: none;
}

a.sous_rubrique:visited
{
	color: #0A385A;
	font-size: 0.85em;
	text-decoration: none;
}

a.sous_rubrique:visited:hover
{
	color: #B41621;
	font-size: 0.85em;
	text-decoration: none;
}

.sous_rubrique_ouverte
{
	color: #0A385A;
	font-size: 0.85em;
	text-decoration: none;
	font-weight: bold;
}

a.sous_rubrique_ouverte_centre
{
        color: #B41621;
        font-size: 1em;
        text-decoration: none;
        font-weight: bold;
}

a.sous_rubrique_ouverte_centre:visited
{
        color: #B41621;
        font-size: 1em;
        text-decoration: none;
        font-weight: bold;
}

a.sous_rubrique_centre
{
        color: #0A385A;
        font-size: 1em;
        text-decoration: none;
}

a.sous_rubrique_centre:visited
{
        color: #0A385A;
        font-size: 1em;
        text-decoration: none;
}

a.ssous_rubrique
{
        color: #B41621;
        font-size: 0.85em;
        text-decoration: none;
}

.ssous_rubrique_ouverte
{
        color: #B41621;
        font-size: 0.85em;
        text-decoration: none;
	font-style: italic;
        font-weight: bold;
}

a.sssous_rubrique_ouverte
{
        color: #B41621;
        font-size: 0.85em;
        text-decoration: none;
        font-weight: bold;
}

.retour_menu
{
	line-height: 35px;
}

a.lien_onglet
{
	color: #0A385A;	
	text-decoration: none;
}

a.lien_onglet:visited
{
        color: #0A385A;
        text-decoration: none;
}
a.lien_onglet:hover
{
	color: #B41621;	
	text-decoration: none;
}



/* Menu droit 
#menu_droit a {
	color: #0A385A;
        font-size: 0.85em;
        text-decoration: none;
}
*/

#menu_droit .titre {
	color: #B41621;
	font-size: 1.2em;
	text-decoration: none;
	font-weight: bold;
}

.liste_deroulante {
	text-align:center;
}

.select_court {
	width: 350px;
}

.select_long {
	width: 500px;
}


a.resume {
	text-decoration: none;
	color: black;
}
a.resume:visited {
	text-decoration: none;
	color: black;
}
a.resume:hover {
	text-decoration: underline;
	color: #B41621;
}
a.titre_resume {
	text-decoration: none;
	color: #B41621;
	font-size: 1.4em;
}
a.titre_resume:visited {
	text-decoration: none;
	color: #B41621;
}
a.titre_resume:hover {
	text-decoration: underline;
	color: #B41621;
}
a.menu_droite {
        text-decoration: none;
        color: #0A385A;
	font-size: 0.85em;
}
a.menu_droite:visited {
        text-decoration: none;
        color: #0A385A;
}
a.menu_droite:hover {
        text-decoration: underline;
        color: #B41621;
}

/*
#spip table {
	border: 1;
}
*/
