body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a {
	color: #000000;
	text-decoration: none;
}
SELECT {color:#006975;background-color:#FFFFFF;font-size:10px; font-family:arial;border: 1px solid #999999;}
.fond_page {
	background-color: #FFFFFF;
	background-position: top;
}
.fond_sky {
	width: 164px;
	background: url(fond_sky.gif) repeat-y top left;
	background-color: #FFFFFF;
}
.fond_menu {
	background-color: #FFA200;
	background-position: top;
}
.fond_horizontale {
	background-image: url(fond_nav.gif);
}
.fond_navigation {
	background: url(fond_nav.gif);
}
.fond_cesoir {
	background-color: #000000;
}
.fond_itemprog {
	background-image: url(fond_prog.gif);
}
.fond_itemsortie {
	background-image: url(fond_sortie.gif);
}

/* Espace Liens Promo */

.fond_lienspromo {
	text-align: center;
}

.lienspromo {
	background-color: #F5F5F5;
	font-size: 10px;
	color: #606060;
}

.lienspromo_bloc_rectangle {
	margin: 5px 5px 10px 10px;
	width: 608px;
}

.lienspromo_bloc_carre {
	margin: 5px 5px 10px 10px;
	width: 282px;
}

.titre_lienspromo {
	padding-right: 5px;
	background-color: #E5E5E5;
	font-size: 10px;
	color: #606060;
	text-align: right;
}

.offre_lienspromo {
	font-size: 11px;
	color: #FFA200;
	font-weight: bold;
}

.url_lienspromo {
	color: #EE7800;
	font-size: 11px;
	font-weight: bold;
}


.verd11orangeb {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #F18D23;
}
.verd9blanc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}
a.verd11blanc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.verd10blanc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
a.verd10blanc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.verd11blanc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
a.verd11blancb {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
.verd11blancb {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
.verd11gris {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ACACAC;
}
.verd11noir {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.verd11noirb {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.verd14noirb {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.fond_recherche {
	background-color: #416C76;
}
.fond_newsletter {
	background-color: #0C4350;
}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #000000;
	text-align: center;
}
.formulaire {
	border: 1px solid #000000;
}
.verd12noirb {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.imagebordblanc {
	border: 1px solid #FFFFFF;
}
.imagebordnoir {
	border: 1px solid #000000;
}
#nav ul { /* all lists */
padding: 0;
margin: 0;
list-style: none;
}
#nav a {
display: block;
color: #000;
text-decoration:none;
font-size:14px;
margin:0 0px;
}
#nav li { /* all list items */
float: left;
/* width: 230px; width needed or else Opera goes nuts */
background: #FFA200;
padding:0px 0px;
}
#nav li ul li { /* all list items */
background: #FEF3DD;
width: 230px; /* width needed or else Opera goes nuts */
border-bottom:1px solid #FFA200;
padding:0;
}
#nav ul li ul { /* second-level lists */
position: absolute;
width: 10px;
left: -1000px; /* using left instead of display to hide menus because display: none isn't read by screen readers */
margin:-1px 0 0 0px;
}
#nav ul li ul a {
margin:0;
padding:0 0px;
width: 230px;
font-size:10px;
line-height:18px;
}
#nav ul li ul a:hover {
background:#FFFFFF;
}
#nav li ul ul { /* third-and-above-level lists */
margin: -22px 0 0 210px;
}
#nav li:hover ul ul, #nav li.sfhover ul ul {
left: -1000px;
}
#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul { /* lists nested under hovered list items */
left: auto;
}
#nav a.submenu {background: 130px 5px #FEF3DD;}
#nav a.submenu:hover { background: 130px 5px #FFFFFF
!important;}
#nav .firstsubmenu { border-top:1px outset #FEF3DD;}
