#page {min-height: 0;}
#container {padding: 0;}
#wrapper {background: none;}

#content {height: 531px; position: relative; color: #fff; font-size: 0.857em;}
#content a {color: #fff;}

#intro {float: left; padding: 100px 0 0 0; width: 620px;}
#intro h1 {font-size: 2.5em; font-weight: normal; padding: 0 0 0 43px; font-family: 'Trebuchet MS',FreeSans,sans-serif; margin: 0 0 0.75em 0; line-height: 1; text-shadow: 1px 1px 1px rgba(0,0,0,0.75);}

#intro .anchors {font-size: 1em; display: table-cell; display: inline-block;}
#intro .anchors li {list-style: none; margin: 0 0 1px 0;}
html>body #intro .anchors li {background: url('000-50.png'); background: rgba(0,0,0,0);}
html>body #intro .anchors li:hover {background: url('7d7d7d-50.png'); background: rgba(125,125,125,0);}
#intro .anchors a {display: block; padding: 2px 24px 2px 15px; text-align: right; background-color: rgba(0,0,0,0.5); text-shadow: 1px 1px 1px #000; background-image: url('challenges-anchor.gif'); background-position: -9999px 0.4em; background-repeat: no-repeat;}
#intro .anchors a:hover {background-color: rgba(125,125,125,0.5); background-position: 100% 0.4em;}

#info {width: 350px; float: right; height: 531px; position: relative; font-size: 0.917em;}
html>body #info {background: url('000-21.png'); background: rgba(0,0,0,0.21);}

#alerts {width: 174px; bottom: 258px; position: absolute; right: 0;}
#alerts .meta {text-transform: uppercase; font-weight: normal; display: block; margin-bottom: 0.2em;}
#alerts h2 {font-family: 'Trebuchet MS',FreeSans,sans-serif; font-size: 2em; font-weight: normal; padding: 0.15em 5px 0 10px; margin: 0 0 0.1em 0;}
#newsRotater {background: #db1100; position: relative;}
#newsRotater h3 {margin: 0 0 0.3em 0; font-weight: normal;}
#alerts .news {padding: 0 10px; height: 120px; overflow-y: auto;}
#newsRotater {height: 150px; padding-bottom: 30px;}
#info .item {display: none;}
#info .current {display: block;}

#info .rnNav {position: absolute; bottom: 5px; right: 5px; z-index: 50;}
#info .rnBtn {display: block; float: left; background: #7f7f7f; margin-left: 4px; padding: 0 0.2em; color: #fff;}
#info button.current {background: #000;}

.info .item a {display: block; width: 100%; height: 100%; position: relative;}
.info .news a {display: inline; width: auto; height: auto; position: static;}
.info .news a:hover {text-decoration: underline;}
.info .item a:hover {color: #efefef;}
.info .item {height: 128px; background-position: 0 0; background-repeat: no-repeat;}
.info .item .inner {display: block; padding: 8px; line-height: 1.2;}
.info .item .white,
.info .item .white * {color: #fff;}
.info .item .black,
.info .item .black * {color: #000;}
.info .item strong {font-family: 'Trebuchet MS',FreeSans,sans-serif; font-weight: normal;}
.info .item .meta {display: block;}

#so1 {position: absolute; left: 0; top: 275px; width: 174px; height: 128px;}
#so2 {position: absolute; right: 0; top: 275px; width: 174px; height: 128px;}

#so1 .item,
#so2 .item {position: absolute; left: 0; top: 0; width: 174px;}

.info .focus strong {font-size: 1.75em;}
.info .tv {width: 174px;}
.info .tv .inner {background: #000;}
html>body .info .tv .inner {padding-bottom: 35px; background: url('d-tv-mask.png') 0 100% no-repeat;}
.info .tv strong {font-size: 2em;}
.info .tv em {display: block; width: 54px; height: 11px; position: absolute; top: 8px; right: 8px; text-indent: -9999px; font-style: normal; overflow: hidden; background: url('d-tv.gif') 0 0 no-repeat; z-index: 2;}

/* Challenges
----- */
.scripted #challenges {position: absolute; top: 0; left: 0; width: 980px; height: 531px; background: #000; z-index: 100; color: #fff; font-size: 0.857em; display: none; overflow-x: hidden;}
#challenges.challenging {display: block;}
.scripted #challenges a {color: #fff;}

.scripted .challenge {position: absolute; top: 77px; left: 67px; width: 842px; height: 365px; display: none;}
.scripted .current {display: block;}
.scripted .challenge h2 {font-size: 2em; font-weight: normal;}
.scripted .challenge .title .meta {font-size: 0.833em; text-transform: uppercase;}
.scripted .challenge .title strong {font-weight: normal;}
.scripted .challenge .title {width: 307px; height: 122px; position: absolute; padding: 1px 12px 0 18px;}

.challenge li {background-position: -9999px -9999px; background-repeat: no-repeat;}
.scripted .challenge li {width: 169px; height: 122px; position: absolute; list-style: none; font-size: 0.95em; background-color: #011e2c; background-position: 0 100%;}
.scripted .challenge li a {width: 147px; height: 110px; border: solid 1px #000; display: block;  padding: 5px 10px;}
.scripted .challenge li a:hover {border: solid 1px #db1100;}

.scripted li.type-2 {background-position: 0 0;}
.scripted li.type-2 a {position: relative;}
.scripted li.type-2 a span {display: block; background: #fff; position: absolute; bottom: 5px; left: 6px; width: 142px; padding: 3px 6px; color: #000; min-height: 44px;}
.scripted li.type-2 a span em {color: #159fdb; font-style: normal;}

.scripted li.type-2 {background-position: 0 0;}
.scripted li.type-2 a {position: relative;}
.scripted li.type-2 a span {display: block; background: #000; position: absolute; bottom: 5px; left: 6px; width: 142px; padding: 3px 6px; color: #fff; min-height: 44px;}
.scripted li.type-2 a > span {background: url('000-75.png'); background: rgba(0,0,0,0.75);}
.scripted li.type-2 a span em {color: #159fdb; font-style: normal;}

.scripted .p-a {top: 0;}
.scripted .p-b {top: 122px;}
.scripted .p-c {top: 244px;}

.scripted .p-1 {left: 0;}
.scripted .p-2 {left: 169px;}
.scripted .p-3 {left: 338px;}
.scripted .p-4 {left: 507px;}
.scripted .p-5 {left: 676px;}

.summaryBtn {border: solid 1px #44575f; z-index: 100; position: absolute; bottom: 10px; left: 10px; color: #44575f; padding: 1px 5px; cursor: pointer;}
.summaryBtn:hover {color: #fff; border: solid 1px #fff;}
.nextBtn {z-index: 100; position: absolute; top: 78px; right: 0; cursor: pointer; width: 60px; height: 370px; overflow: hidden; text-indent: -9999px;}
html>body .nextBtn {background: url('challenges-next.png') 0 50% no-repeat;}
.nextBtn:hover {background-position: -120px 50%;}
.prevBtn {z-index: 100; position: absolute; top: 78px; left: 0; cursor: pointer; width: 60px; height: 370px; overflow: hidden; text-indent: -9999px;}
html>body .prevBtn {background: url('challenges-prev.png') 0 50% no-repeat;}
.prevBtn:hover {background-position: -121px 50%;}

.nextBtn:active,
.nextBtn:focus,
.prevBtn:active,
.prevBtn:focus {border: none; outline: none;}

#highlight {position: absolute; width: 860px; height: 377px; left: 0; top: 69px; padding: 10px 60px; background: #011e2c; display: none; z-index: 150;}
#highlight2 {position: absolute; width: 860px; height: 377px; left: 0; top: 69px; padding: 10px 60px; background: #011e2c; display: none; z-index: 151;}
#highlight.type2,
#highlight2.type2 {background: #000;}
#challenges .on {display: block;}
#challenges .moving {opacity: 0.75; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";}

#highlightMedia {float: left; width: 400px;}
#highlightData {float: right; width: 400px; padding-top: 60px; margin-right: 30px;}

.type2 #highlightMedia {width: 485px; padding-top: 35px;}
.type2 #highlightMedia img,
.type2 #highlightMedia object {border: solid 1px #159fdb;}
.type2 #highlightMedia object {display: block;}
.type2 #highlightMedia object object {border: none;}

#highlightMedia .legend {font-size: 1.167em; padding-top: 0.5em;}

.type2 #highlightData {width: 330px; padding-top: 35px; color: #ccc;}
.type2 #highlightData .head {color: #fff;}

.type2 #highlightData .head em {font-style: normal; color: #159fdb;}

#highlightData .npslinks {margin: 1em 0 0 0;}
#highlightData .npslinks a {background-image: url('nps-tv.gif'); background-position: 0 0.3em; color: #41F8FA;}
#highlightData .npslinks a:hover {color: #fff; background-position: -1000px 0.3em;}

#highlightData .head {font-size: 1.5em; margin-bottom: 0.8em;}

#highlight .closeBtn,
#highlight2 .closeBtn {width: 52px; height: 52px; overflow: hidden; text-indent: -9999px; position: absolute; right: 13px; top: 10px; background: url('highlight-close.gif') 0 0 no-repeat; z-index: 155;}
#highlight .closeBtn:hover,
#highlight2 .closeBtn:hover {background-position: -101px 0;}

.ovNextBtn {z-index: 151; position: absolute; top: 9px; right: 0; cursor: pointer; width: 60px; height: 370px; overflow: hidden; text-indent: -9999px;}
html>body .ovNextBtn {background: url('challenges-next.png') 0 50% no-repeat;}
.ovNextBtn:hover {background-position: -120px 50%;}
.ovPrevBtn {z-index: 151; position: absolute; top: 9px; left: 0; cursor: pointer; width: 60px; height: 370px; overflow: hidden; text-indent: -9999px;}
html>body .ovPrevBtn {background: url('challenges-prev.png') 0 50% no-repeat;}
.ovPrevBtn:hover {background-position: -121px 50%;}

#highlight button:active,
#highlight button:focus {border: none; outline: none;}

#highlightMedia .stripe {}
#highlightMedia .stripe .item {width: 117px; float: left; margin: 0 3px 3px 0; position: relative;}
#highlightMedia .stripe .item a img {opacity: 0.75; -moz-opacity: 0.75; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; display: block;}
#highlightMedia .stripe .item a:hover img,
#highlightMedia .stripe .item a.on img {opacity: 1; -moz-opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}

#highlightMedia .stripe .item span {position: absolute; bottom: 1px; left: 1px; width: 109px; background: url('fff-75.png'); background: rgba(255,255,255,0.65); display: block; color: #000; text-align: center; line-height: 1.05; padding: 2px 3px 2px 3px; font-size: 0.85em; border-top: solid 1px #ababab;}

#highlightMedia .innerNav {margin-bottom: 4px; float: right;}
#highlightMedia .innerNav li {float: left; position: relative;}
#highlightMedia .innerNav li a {width: 14px; height: 14px; overflow: hidden; display: block; float: left; margin: 5px 0 5px 5px; text-indent: -9999px; background: #33454C; border: solid 1px #33454C;}
#highlightMedia .innerNav li strong a {background: #159fdb; border: solid 1px #159fdb;}
#highlightMedia .innerNav li a:hover,
#highlightMedia .innerNav li a.on {border: solid 1px #159fdb;}

#highlightMedia .innerNav li .tooltip {display: none; position: absolute; bottom: 28px; left: 13px; padding: 0 0 12px 0; margin-left: -50px; background: url('tt.gif') 50% 100% no-repeat; height: 12px; width: 100px;}
#highlightMedia .innerNav li .tooltip span {display: block; white-space: nowrap; background: #159fdb; padding: 2px 5px; position: absolute; bottom: 12px; /*left: -50%;*/}
#highlightMedia .innerNav li .on {display: block;}

.type2 #highlightMedia object {float: right;}
.type2 #highlightMedia object object {float: none;}
.type2 #highlightMedia .legend {clear: right; text-align: right;}

/* 
----- */
#footWrap {min-height: 65px; clear: left;}
#footer {padding: 28px 10px 5px 0; min-height: 0;}
html>body #footer {background: url('footer-mask.png') 100% 0 no-repeat;}

/* 
----- */
#footWrap:after,
.content:after,
.block:after,
#highlight:after,
#highlightMedia:after,
#highlightMedia .stripe:after,
#highlightMedia .innerNav:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}