/* CONTENT CSS - 20060522 */

/* This stylesheet should contain all styles for content class templates */

/* Translation */

div.block div.original
{
    background-color: #ecece4;
    margin: 0.5em 0 0.5em 0;
    padding: 0.2em;
    border: 1px dashed #bfbeb6;
}

/* BOX GENERAL DESIGN */

div.border-box
{
    margin-bottom: 1em;
}

/* Default box style */

div.border-box div.border-tl
{
    background: url(border-tl.gif) no-repeat top left;
}

div.border-box div.border-tr
{
    background: url(border-tr.gif) no-repeat top right;
    padding: 0 4px 0 4px;
}

div.border-box div.border-tc
{
    font-size: 0;
    height: 4px;
    background: url(border-tc.gif) repeat-x top left;
}

div.border-box div.border-ml
{
    background: url(border-ml.gif) repeat-y center left;
}

div.border-box div.border-mr
{
    background: url(border-mr.gif) repeat-y center right;
    padding: 0 1px 0 1px;
}

div.border-box div.border-mc
{
    height: 1%; /* Preventing margins on content from breaking the box (for IE) */
    background-color: #ffffff;
    padding: 0.5em 0.75em 0.5em 0.75em;
}

div.border-box div.border-mc:before, div.border-box div.border-mc:after /* Preventing margins on content from breaking the box */
{
    content: "-";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

div.border-box div.border-bl
{
    background: url(border-bl.gif) no-repeat bottom left;
}

div.border-box div.border-br
{
    background: url(border-br.gif) no-repeat bottom right;
    padding: 0 4px 0 4px;
}

div.border-box div.border-bc
{
    font-size: 0;
    height: 4px;
    background: url(border-bc.gif) repeat-x bottom left;
}

/* Box 2 */

div.box-2 div.border-tl
{
    background-image: url(border-tl.gif.1);
}

div.box-2 div.border-tr
{
    background-image: url(border-tr.gif.1);
}

div.box-2 div.border-tc
{
    background-image: url(border-tc.gif.1);
}

div.box-2 div.border-ml
{
    background-image: url(border-ml.gif.1);
}

div.box-2 div.border-mr
{
    background-image: url(border-mr.gif.1);
}

div.box-2 div.border-mc
{
    background: #d4d5da url(border-mc.gif) repeat-x top left;
}

div.box-2 div.border-bl
{
    background-image: url(border-bl.gif.1);
}

div.box-2 div.border-br
{
    background-image: url(border-br.gif.1);
}

div.box-2 div.border-bc
{
    background-image: url(border-bc.gif.1);
}

/* Box 3 */

div.box-3 div.border-tl
{
    background-image: url(border-tl.gif.2);
}

div.box-3 div.border-tr
{
    background-image: url(border-tr.gif.2);
}

div.box-3 div.border-tc
{
    background-image: url(border-tc.gif.2);
}

div.box-3 div.border-ml
{
    background-image: url(border-ml.gif.2);
}

div.box-3 div.border-mr
{
    background-image: url(border-mr.gif.2);
}

div.box-3 div.border-mc
{
    background: #f4f4f4 url(border-mc.gif.1) repeat-x top left;
}

div.box-3 div.border-bl
{
    background-image: url(border-bl.gif.2);
}

div.box-3 div.border-br
{
    background-image: url(border-br.gif.2);
}

div.box-3 div.border-bc
{
    background-image: url(border-bc.gif.2);
}

/* Infobox - header*/

div.infobox-header
{
    margin-bottom: 0;
}

div.infobox-header h2
{
    margin: 5px 0px 6px 0px;
    padding: 0;
    font-size: 14px;
}

div.infobox-header div.border-tl
{
    background-image: url(border-tl.gif.3);
}

div.infobox-header div.border-tr
{
    background-image: url(border-tr.gif.3);
}

div.infobox-header div.border-tc
{
    background-image: url(border-tc.gif.3);
}

div.infobox-header div.border-ml
{
    background-image: url(border-ml.gif.3);
}

div.infobox-header div.border-mr
{
    background-image: url(border-mr.gif.3);
}

div.infobox-header div.border-mc
{
    background: #d1d1c4 url(border-mc.gif.2) repeat-x top left;
    padding: 0 6px 0 6px;
}

div.infobox-header div.border-bl
{
    background-image: url(border-bl.gif.3);
}

div.infobox-header div.border-br
{
    background-image: url(border-br.gif.3);
}

div.infobox-header div.border-bc
{
    background-image: url(border-bc.gif.3);
}

/* Infobox */

div.infobox div.attribute-image
{
    margin: 0.5em 0.5em 0.5em 0;
    float: left;
}

div.infobox div.border-tl
{
    background-image: url(border-tl.gif.4);
}

div.infobox div.border-tr
{
    background-image: url(border-tr.gif.4);
}

div.infobox div.border-tc
{
    background-image: url(border-tc.gif.4);
}

div.infobox div.border-ml
{
    background-image: url(border-ml.gif.4);
}

div.infobox div.border-mr
{
    background-image: url(border-mr.gif.4);
}

div.infobox div.border-mc
{
    background: #ffffff url(border-mc.gif.3) repeat-x top left;
    padding: 3px 6px 3px 6px;
}

div.infobox div.border-bl
{
    background-image: url(border-bl.gif.4);
}

div.infobox div.border-br
{
    background-image: url(border-br.gif.4);
}

div.infobox div.border-bc
{
    background-image: url(border-bc.gif.4);
}

/* TABLES */

table.cols
{
    width: 100%;
    margin: 1em 0 1em 0;
    border: none;
}

table.cols th, table.cols td
{
    padding: 0.5em;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    vertical-align: top;
}

table.cols th
{
    font-weight: bold;
    color: #525345;
    background-color: #DFDFDF;
    white-space: nowrap;
    text-align: left;
    background-image: url(th_bg.png);
    background-repeat: repeat-x;
    background-position: top left;
}

table.cols td
{
    font-weight: normal;
}

table.cols th:first-child, table.cols td:first-child
{
    border-left: 1px solid #ffffff;
}

table.cols col.bglight, div.bglight
{
    background-color: #F1F1ED;
}

table.cols col.bgdark, div.bgdark
{
    background-color: #EAE9E1;
}

table.cols tr.bglight:hover, table.cols tr.bgdark:hover
{
    background-color: #EAE9E1;
}

table.cols tr.bglight:hover td, table.cols tr.bgdark:hover td
{
    background-color: #F1F1ED;
}

table.cols a
{
    border-bottom-color: #EAE9E1;
}

table.renderedtable
{
    width: 100%;
    margin: 1em 0 1em 0;
    border: none;
}

table.renderedtable th, table.renderedtable td
{
    padding: 0.5em;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    vertical-align: top;
}

table.renderedtable th
{
    font-weight: bold;
    color: #525345;
    background-color: #DFDFDF;
    white-space: nowrap;
    text-align: left;
    background-image: url(th_bg.png);
    background-repeat: repeat-x;
    background-position: top left;
}

table.renderedtable td
{
    font-weight: normal;
}

table.renderedtable th:first-child, table.renderedtable td:first-child
{
    border-left: 1px solid #ffffff;
}

table.renderedtable tr.bglight, div.bglight
{
    background-color: #F1F1ED;
}

table.renderedtable tr.bgdark, div.bgdark
{
    background-color: #EAE9E1;
}

table.renderedtable tr.bglight:hover, table.renderedtable tr.bgdark:hover
{
    background-color: #EAE9E1;
}

table.renderedtable tr.bglight:hover td, table.renderedtable tr.bgdark:hover td
{
    background-color: #F1F1ED;
}

table.renderedtable a
{
    border-bottom-color: #EAE9E1;
}

table.comparison
{
    width: 100%;
    margin: 1em 0 1em 0;
    border: none;
}

table.comparison th, table.comparison td
{
    padding: 0.5em;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    vertical-align: top;
}

table.comparison th
{
    font-weight: bold;
    color: #525345;
    background-color: #DFDFDF;
    white-space: nowrap;
    text-align: left;
    background-image: url(th_bg.png);
    background-repeat: repeat-x;
    background-position: top left;
}

table.comparison td
{
    font-weight: normal;
}

table.comparison th:first-child, table.comparison td:first-child
{
    border-left: 1px solid #ffffff;
}

table.comparison col.bglight, div.bglight
{
    background-color: #F1F1ED;
}

table.comparison col.bgdark, div.bgdark
{
    font-weight: bold;
    color: #525345;
    background-color: #DFDFDF;
    white-space: nowrap;
    text-align: left;
}

table.comparison tr.bglight:hover, table.comparison tr.bgdark:hover
{
    background-color: #F1F1ED;
}

table.comparison tr.bglight:hover td, table.comparison tr.bgdark:hover td
{
    background-color: #EAE9E1;
}

table.comparison a
{
    border-bottom-color: #EAE9E1;
}

/* AUTHOR AND DATE FOR ALL FULL OBJECTS */

div.content-view-full div.attribute-byline p.author
{
    margin-right: 0.2em;
    display: inline;
    font-size: 0.9em;
}

div.content-view-full div.attribute-byline p.date
{
    margin: 0 0.2em 0 0.2em;
    display: inline;
    color: #CCCCCC;
    font-size: 0.9em;
}

div.content-view-full div.attribute-byline p.placement
{
    margin-left: 0.2em;
    display: inline;
}

div.content-view-full div.attribute-byline p.count
{
    margin-left: 0.2em;
    display: inline;
}

/* AUTHOR AND DATE FOR ALL CHILD OBJECTS */

div.content-view-full div.content-view-line div.attribute-byline p
{
    display: inline;
}

/* NAVIGATORS */

div.content-navigator
{
    display: block;
}

div.content-navigator div
{
    display: inline;
    text-align: center;
}

div.content-navigator div.content-navigator-separator, div.content-navigator div.content-navigator-separator-disabled
{
    padding-left: 4px;
    padding-right: 4px;
}

div.content-navigator div.content-navigator-arrow
{
    font-size: 150%;
}

/* PAGE NAVIGATION */

div.pagenavigator
{
    text-align: center;
    clear: both;
}

div.pagenavigator span.previous
{
    float: left;
}

div.pagenavigator span.next
{
    float: right;
}

/* ATTIRBUTE HEADER */

div.attribute-header h1
{
    font-size: 1.8em;
    font-weight: normal;
    background-image: url(attribute_header_bg_medium.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 25px;
    color: #000000;
    margin-bottom: 0;
}

div.attribute-header h1.long
{
    font-size: 1.8em;
    font-weight: normal;
    background-image: url(attribute_header_bg_long.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 25px;
    color: #000000;
    margin-bottom: 0;
}


/* GENERAL ICONS */
.attribute-tipafriend a, .attribute-pdf a, .attribute-print a, .attribute-rss a
{
    padding-left: 22px;
    background-position: left top;
    background-repeat: no-repeat;
}

.attribute-tipafriend a
{
    background-image: url('tip_icon.gif');
}

.attribute-pdf a
{
    background-image: url('pdf_icon.gif');
}

.attribute-print a
{
    background-image: url('http://www.nice.fr/extension/ezwebin/design/ezwebin/images/icons/print_icon.jpg');
}

.attribute-rss a
{
    background-image: url('rss_icon.gif');
}

/* BROWSE */

div.context-toolbar div.block div.right
{
    text-align: right;
}

/* SITEMAP */

div.content-view-sitemap table td
{
    vertical-align: top;
}

div.content-view-sitemap ul
{

}

div.content-view-sitemap ul
{
    padding: 0;
    margin: 0.75em 0 1em 0;
}

div.content-view-sitemap ul ul
{
    margin: 0.3em 0 0.5em 12px;
}

div.content-view-sitemap ul
{
    list-style-type: none;
}

div.content-view-sitemap ul li
{
    margin: 0 0 0.5em 2em;
    padding: 0 0 0 14px;
    background-image: url(sidemenu_bullet.png);
    background-repeat: no-repeat;
    background-position: 0 0.3em;
    line-height: 1.25em;
}

/* Tag Cloud */

div.content-view-tagcloud
{
    text-align: center;
}

/* FORUM */

input.forum-new-reply
{
    margin: 0.75em 0.25em 0.25em 0;
}

input.forum-new-topic
{
    margin: 0.75em 0.25em 0.25em 0;
}

input.forum-keep-me-updated
{
    margin: 0.75em 0.25em 0.25em 0;
}

div.content-view-full div.class-forum-topic table.forum p.date
{
    font-weight: bold;
}

div.content-view-full div.class-forum-topic table.forum p.author-signature
{
    border-top: 1px solid #fff;
    padding-top: 5px;
}

div.content-view-line div.class-forum table.forum
{
    background-image:url(forum_table_bg.png);
    background-position: bottom left;
    background-repeat: repeat-x;
    padding-bottom: 5px;
}

div.content-view-line div.class-forum table.forum td ul
{
    margin-left: 1.25em;
    padding: 0;
}

div.content-view-line div.class-forum table.forum td ul li
{
    margin: 0;
    padding: 0;
}

div.content-view-line div.class-forum table.forum td ul li a
{
    font-size: 0.7em;
    font-weight: normal;
}

div.content-view-line div.class-forum table.forum th
{
    background-image: url(forum_th_bg.png);
    background-position: top left;
    background-repeat: repeat-x;
    background-color: #E0E0D4;
}

div.content-view-line div.class-forum table.forum td
{
    background-color: #F2F1ED;
}

div.content-view-full div.class-forums table.forum
{
    background-image:url(forum_table_bg.png);
    background-position: bottom left;
    background-repeat: repeat-x;
    padding-bottom: 5px;
}

div.content-view-full div.class-forums table.forum td ul
{
    margin-left: 1.25em;
    padding: 0;
}

div.content-view-full div.class-forums table.forum td ul li
{
    margin: 0;
    padding: 0;
}

div.content-view-full div.class-forums table.forum td ul li a
{
    font-size: 0.7em;
    font-weight: normal;
}

div.content-view-full div.class-forums table.forum th
{
    background-image: url(forum_th_bg.png);
    background-position: top left;
    background-repeat: repeat-x;
    background-color: #E0E0D4;
}

div.content-view-full div.class-forums table.forum td.last-reply a
{
    background-image:url(last_reply.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

div.content-view-full div.class-forums table.forum td.forum a
{
    background-image:url(forum.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

div.content-view-full div.class-forums table.forum td.forum div.attribute-short
{
    margin-left: 20px;
}

div.content-view-full div.class-forums table.forum td.last-reply p.date
{
    margin-left: 20px;
}

div.content-view-full div.class-forums table.forum td
{
    background-color: #F2F1ED;
}

/* IMAGE */

div.attribute-image
{
    margin: 0.25em 0 0.5em 0;
}

div.content-view-full div.attribute-image
{
    float: right;
    margin-left: 0.5em;
    margin-right: 0;
}

div.content-view-full div.class-image div.attribute-image
{
    margin-left: 0;
    float: none;
}

div.content-view-full div.attribute-image div.caption
{
    background-color: #EAE9E1;
    font-size: 0.8em;
    text-align: center;
    margin: 2px 0 0 0;
}

div.content-view-full div.attribute-image div.caption p
{
    padding: 3px;
    margin: 0;
}

div.content-view-line div.attribute-image
{
    float: left;
    margin-right: 0.5em;
    margin-left: 0;
}

div.content-view-embed div.attribute-image
{
    float: left;
    margin-right: 0.5em;
    margin-left: 0;
}

div.object-left div.content-view-embed div.class-image div.attribute-image
{
    margin: 0;
    float: none;
}

div.object-right div.content-view-embed div.class-image div.attribute-image
{
    margin: 0;
    float: none;
}

div.object-center div.class-image
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.object-center div.content-view-embed div.class-image div.attribute-image
{
    margin: 0;
    float: none;
}

div.content-view-embed div.class-image div.attribute-caption
{
    background-color: #EAE9E1;
    font-size: 0.8em;
    text-align: center;
    margin: 2px 0 0 0;
}

div.object-center div.content-view-embed div.class-image div.attribute-caption
{
    margin: 2px auto 0 auto;
}

div.content-view-embed div.class-image div.attribute-caption p
{
    padding: 3px;
    margin: 0;
}

/* ARTICLE */

div.content-view-full div.class-article div.attribute-header h1
{
    background: none;
    padding-bottom: 0;
    margin-bottom: 0.25em;
}

div.content-view-full div.class-article div.attribute-byline
{
    background-image: url(attribute_header_bg_medium.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    margin-bottom: -0.25em;
    display: block;
}

div.content-view-full div.class-article div.attribute-short
{
    font-weight: bold;
}

div.content-view-line div.class-article div.attribute-short
{
    font-weight: normal;
}

div.content-view-embed div.class-article div.attribute-short
{
    font-weight: normal;
}

div.content-view-full div.class-article div.attribute-long
{
    background-image: url(attribute_header_bg_medium.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 56px;
}

div.attribute-tipafriend
{
    background-image: url(attribute_header_bg_medium.png);
    background-position: top center;
    background-repeat: no-repeat;
    margin-top: 2em;
}

div.attribute-tipafriend p
{
    padding-top: 2em;
}

div.attribute-tipafriend a
{
    padding-left: 26px;
    background-position: left center;
}

/* COMMENT */

div.content-view-full div.class-comment div.attribute-header h1
{
    background: none;
    padding-bottom: 0;
    margin-bottom: 0.25em;
}

div.content-view-full div.class-comment div.attribute-byline
{
    background-image: url(attribute_header_bg_medium.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 25px;
    margin-bottom: -0.25em;
    display: block;
}

/* ARTICLE (main-page)*/

div.content-view-full div.class-article-mainpage div.attribute-short
{
    font-weight: bold;
}

div.content-view-line div.class-article-mainpage div.attribute-short
{
    font-weight: normal;
}

div.content-view-full div.class-article-mainpage div.attribute-header h1
{
    background: none;
    padding-bottom: 0;
    margin-bottom: 0.25em;
}

div.content-view-full div.class-article-mainpage div.attribute-byline
{
    background-image: url(attribute_header_bg_medium.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    margin-bottom: -0.25em;
    display: block;
}

div.content-view-full div.class-article-mainpage div.pagenavigator
{
    background-image: url(attribute_header_bg_medium.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 56px;
}

div.attribute-article-index
{
    float: right;
    clear: right;
    width: 14em
}
/* BLOG */

div.class-blog
{
    width: auto; /* This can be changed to any fixed width if desired */
    margin: 0 auto 0 auto; /* General method for centering content if fixed page width, for other browsers than IE */
    text-align: left; /* Reset IE method for centering page, to stop all other content on the page from centering */
}

div.columns-blog
{
    padding: 0 17em 0 0;
}

div.main-column-position
{
    width: 100%;
    float: left;
}

div.noextrainfo div.main-column
{
    margin-right: 0;
}

div.extrainfo-column-position
{
    width: 17em;
    margin-right: -17em;
    float: left;
}

div.columns-blog div.main-column
{
    margin: 0 0.25em 0 0; /* Space between main and other columns */
}

div.class-blog div.attribute-byline p.tags
{
    margin-right: 0.2em;
    display: inline;
    font-size: 0.9em;
}

div.class-blog div.attribute-byline p.author
{
    margin-right: 0.2em;
    display: inline;
    font-size: 0.9em;
}

div.class-blog div.attribute-byline p.date
{
    margin: 0 0.2em 0 0;
    display: inline;
    color: #CCCCCC;
    font-size: 0.9em;
}

div.content-view-line div.class-blog-post div.attribute-header a
{
    text-decoration: none;
    color: #000000;
}

div.content-view-line div.class-blog-post div.attribute-header a:hover
{
    color: #000000;
}

/* BLOG - CALENDAR*/

div.calendar
{
   width: 195px;
   background-color: #f4f4f4;
}

div.calendar div.calendar-tl
{
    background: url(calendar-corner-tl.gif) no-repeat top left;
}

div.calendar div.calendar-tr
{
    background: url(calendar-corner-tr.gif) no-repeat top right;
}

div.calendar div.calendar-bl
{
    background: url(calendar-corner-bl.gif) no-repeat bottom left;
}

div.calendar div.calendar-br
{
    background: url(calendar-corner-br.gif) no-repeat bottom right;
    padding: 6px;
}

div.calendar div.content
{
    background-color: #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
}

div.calendar div.month h2
{
    font-size: 1em;
    font-weight: bold;
    color: #525345;
    margin: 0 0 0.25em 0;
    padding-top: 3px;
    text-align: center;
}

div.calendar div.month a
{
    color: #525345;
    text-decoration: none;
}

div.calendar div.previous, div.calendar div.next
{
    font-weight: bold;
    margin: 0 4px 0 4px;
    padding-top: 0.1em;
    display: inline; /* Fix for IE */
}

div.calendar div.previous
{
    float: left;
}

div.calendar div.next
{
    float: right;
}

div.calendar div.previous p, div.calendar div.next p
{
    display: inline;
}

div.calendar div.table
{
    padding: 4px;
}

div.calendar table
{
    width: 100%;
}

div.calendar th, div.calendar td
{
    color: #525345;
    width: 14%;
    padding: 0.25em 0 0.25em 0;
    border: 1px solid;
    border-color: #ffffff #e0e0e0 #e0e0e0 #ffffff;
    text-align: center;
}

div.calendar th
{
    font-size: 0.8em;
    font-weight: normal;
}

div.calendar td
{
    font-size: 0.9em;
    font-weight: normal;
}

div.calendar th.left, div.calendar td.left
{
    border-left: none;
}

div.calendar th.right, div.calendar td.right
{
    border-right: none;
}

div.calendar tr.top th
{
    border-top: none;
}

div.calendar tr.bottom td
{
    border-bottom: none;
}

div.calendar td a
{
    text-decoration: none;
}

div.calendar td.today
{
    font-weight: bold;
    color: #d02020;
}

div.calendar td.currentselected
{
    background-color: #e0e0e0;
}

div.calendar td em
{
    font-style: normal;
}

/* DOCUMENTATION PAGE */

div.content-view-full div.class-documentation-page div.attribute-byline
{
    clear: both;
    font-size: 0.85em;
    font-weight: bold;
    background-image: url(attribute_header_bg_medium.png);
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 4em;
    padding-top: 10px;
    margin-top: 2em;
}

div.content-view-full div.class-documentation-page div.attribute-byline p
{
    display: inline;
}

div.content-view-full div.class-documentation-page div.attribute-byline p.published
{
    text-align: left;
    float: left;
    width: 48%;
}

div.content-view-full div.class-documentation-page div.attribute-byline p.modified
{
    text-align: right;
    float: right;
    width: 48%;
}

/* LINK */

div.content-view-line div.class-link div.controls
{
    margin-bottom: 0.75em;
}

/* EDIT */

div.content-edit div.attribute-header h1.long
{
    padding-bottom: 46px;
}

div.content-edit div.attribute-language
{
    margin-top: -43px;
    margin-bottom: 20px;
    padding-left: 2px;
}

/* EDIT - MULTIOPTION */

div.block table.special
{
    border-bottom: 1px solid #EAE8E1;
    margin-bottom: 0.5em;
}

div.block table.special th.tight
{
    width: 3%;
    text-align: left;
}

div.block table.special th
{
    width: 94%;
    text-align: left;
}

/* FILE */

div.content-view-line div.class-file h2
{
    background-image: url(attribute_header_bg_medium.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 25px;
    margin-bottom: -0.5em;
}

div.content-view-line div.class-file div.attribute-file
{
    background-color: #F1F2ED;
    padding: 0.1em 0 0.1em 0.5em;
}

div.content-view-line div.class-file
{
    margin-bottom: 2em;
}

/* COMMENT */

div.content-view-line div.class-comment h3
{
    margin-top: 0.5em;
}

div.content-view-line div.class-comment
{
    border: 1px solid #EAE8E1;
    padding: 0 0.5em 0.25em 0.5em;
    margin: 1em 0 1em 0;
}

div.content-view-line div.class-comment div.attribute-byline
{
    background: none;
    padding-bottom: 0;
    margin-bottom: 0;
    display: inline;
}

div.content-view-line div.class-comment p.author
{
    float: right;
    clear: right;
    width: 48%;
    display: block;
    text-align: right;
    margin-top: -0.1em;
    font-style: italic;
}

div.content-view-line div.class-comment p.date
{
    float: left;
    clear: left;
    width: 48%;
    display: block;
    margin: 0 0.2em 0 0.2em;
    display: inline;
    color: #CCCCCC;
    font-size: 0.9em;
}

/* INFOBOX */

div.infobox div.controls
{
    padding-top: 0.5em;
    text-align: right;
    border-top: 1px dotted #EAE8E1;
}

/* GALLERY */

div.content-view-children div.content-view-line
{
    clear: left;
}

div.content-view-full div.class-gallery div.attribute-link
{
    clear: both;
}

div.content-view-full div.class-gallery div.content-view-galleryline
{
    border: 1px solid #EFEEE9;
    margin: 0 1.25em 1em auto;
    padding: 5px;
    float: left;
}

div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-image
{
    float: none;
    margin: 0;
    padding: 0;
}

div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-image p
{
    margin: 0;
    padding: 0;
}

div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-image img
{
    display: block;
    margin: 0;
    padding: 0;
}

div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-image a
{
    margin: 0;
    padding: 0;
    display: inline;
}

div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-name
{
    border-top: 1px solid #EFEEE9;
    background-image: url(img_caption_bg.png);
    background-position: left top;
    background-repeat: repeat-x;
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;
}
div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-name p
{
    margin: 0;
    padding: 0.5em 0 0.4em 0;
}

div.content-view-full div.class-gallery div.content-view-children
{
    background-image: url(attribute_header_bg_medium.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    margin:0;
    padding: 0 0 30px 0;
    float:left;
    width: 100%;
    clear: both;
}

div.content-view-embed div.class-gallery div.content-view-children
{
    background: none;
}

/* FACTBOX */

div.factbox
{
    width: 17em;
}

div.factbox-header
{
    margin-bottom: 0;
}

div.factbox-header h2
{
    margin: 1px 0px 3px 0px;
    padding: 0;
    font-size: 16px;
}

div.factbox-header div.border-tl
{
    background-image: url(border-tl.gif.5);
}

div.factbox-header div.border-tr
{
    background-image: url(border-tr.gif.5);
}

div.factbox-header div.border-tc
{
    background-image: url(border-tc.gif.5);
}

div.factbox-header div.border-ml
{
    background-image: url(border-ml.gif.5);
}

div.factbox-header div.border-mr
{
    background-image: url(border-mr.gif.5);
}

div.factbox-header div.border-mc
{
    background: #D5D5C2 url(border-mc.gif.4) repeat-x top left;
    padding: 0 6px 0 6px;
}

div.factbox-header div.border-bl
{
    background-image: url(http://www.nice.fr/extension/ezwebin/design/ezwebin/images/factbox-header/border-bl.gif);
}

div.factbox-header div.border-br
{
    background-image: url(http://www.nice.fr/extension/ezwebin/design/ezwebin/images/factbox-header/border-br.gif);
}

div.factbox-header div.border-bc
{
    background-image: url(http://www.nice.fr/extension/ezwebin/design/ezwebin/images/factbox-header/border-bc.gif);
}

div.factbox-content div.attribute-image
{
    margin: 0.5em 0.5em 0.5em 0;
    float: left;
}

div.factbox-content div.border-tl
{
    background-image: url(http://www.nice.fr/extension/ezwebin/design/ezwebin/images/factbox/border-tl.gif);
}

div.factbox-content div.border-tr
{
    background-image: url(http://www.nice.fr/extension/ezwebin/design/ezwebin/images/factbox/border-tr.gif);
}

div.factbox-content div.border-tc
{
    background-image: url(http://www.nice.fr/extension/ezwebin/design/ezwebin/images/factbox/border-tc.gif);
}

div.factbox-content div.border-ml
{
    background-image: url(border-ml.gif.6);
}

div.factbox-content div.border-mr
{
    background-image: url(border-mr.gif.6);
}

div.factbox-content div.border-mc
{
    background: #ECECE3 url(border-mc.gif.5) repeat-x top left;
    padding: 3px 6px 3px 6px;
}

div.factbox-content div.border-bl
{
    background-image: url(border-bl.gif.5);
}

div.factbox-content div.border-br
{
    background-image: url(border-br.gif.5);
}

div.factbox-content div.border-bc
{
    background-image: url(border-bc.gif.5);
}

/* FRONTPAGE */

div.content-view-full div.class-frontpage
{
    background-color: #FFFFFF;
    padding: 0 0.5em 0 0.25em;
}

div.content-view-full div.class-frontpage div.attribute-billboard
{
    text-align: left;
    margin-top: 0em;
    padding-top: 0.25em;
    background-color: #FFFFFF;
    background-image: url(billboard_bg.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 22px;
}

div.content-view-full div.class-frontpage div.attribute-billboard img
{

}

div.content-view-full div.class-frontpage div.columns-frontpage
{
    padding: 0 246px 0 246px;
}

div.content-view-full div.noleftcolumn div.columns-frontpage
{
    padding-left: 0;
}

div.content-view-full div.norightcolumn div.columns-frontpage
{
    padding-right: 0;
}

div.content-view-full div.class-frontpage div.columns-frontpage div.left-column-position
{
    width: 246px;
    margin-left: -246px;
    float: left;
    display: inline; /* Fix for IE double margin bug */
}

div.content-view-full div.noleftcolumn div.columns-frontpage div.left-column-position
{
    display: none;
}

div.content-view-full div.leftcolumn div.columns-frontpage div.left-column-position div.left-column
{
    margin-right: 1em;
}

div.content-view-full div.class-frontpage div.columns-frontpage div.right-column-position
{
    width: 246px;
    margin-right: -246px;
    float: left;
}

div.content-view-full div.norightcolumn div.columns-frontpage div.right-column-position
{
    display: none;
}

div.content-view-full div.rightcolumn div.columns-frontpage div.right-column-position div.right-column
{
    margin-left: 1em;
}

div.content-view-full div.class-frontpage div.columns-frontpage div.center-column-position
{
    width: 100%;
    float: left;
}

div.content-view-full div.noleftcolumn div.columns-frontpage div.center-column-position div.center-column
{
    margin-left: 0;
    padding-right: 0;
}

div.content-view-full div.norightcolumn div.columns-frontpage div.center-column-position div.center-column
{
    margin-right: 0;
    padding-left: 0;
}
div.content-view-full div.class-frontpage div.columns-frontpage div.center-column-position div.center-column
{
    margin: 0; /* Space between main and other columns */
}

div.content-view-full div.class-frontpage div.attribute-bottom-column
{
    clear: both
}

/* USER EDIT */

div.user-edit div.attribute-header h1
{
    font-size: 1.8em;
    font-weight: normal;
    background-image: url(attribute_header_bg_long.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    color: #000000;
    margin-bottom: -0.25em;
}

/* PRODUCT */

div.content-view-line div.class-product
{
    clear: both;
}

div.content-view-embed div.content-view-line div.class-product
{
    clear: none;
}

div.vertically_listed_sub_items div.content-view-embed div.content-view-line
{
    clear: both;
}

div.content-view-full div.class-product div.relatedorders
{
    background-image: url(attribute_header_bg_medium.png);
    background-position: center top;
    background-repeat: no-repeat;
    margin-top: 20px;
    padding-top: 5px;
}

div.content-view-full div.class-product div.attribute-price
{
    font-size: 1.4em;
}

div.content-view-line div.class-product div.attribute-price
{
    font-size: 1.1em;
    font-weight: bold;
}

div.products div.content-view-embed div.class-product div.attribute-price
{
    font-size: 1.1em;
    font-weight: normal;
}

div.horizontally_listed_sub_items div.content-view-embed div.class-product div.attribute-price
{
    font-size: 1.1em;
    font-weight: normal;
}

div.content-view-embed div.class-product div.attribute-price
{
    font-size: 1.1em;
    font-weight: normal;
}

div.content-view-embed div.class-product div.attribute-price span.old-price
{
    font-weight: normal;
    font-size: 0.9em;
}

div.content-view-embed div.class-product div.attribute-price span.new-price
{
    font-weight: normal;
    font-size: 1.1em;
}

div.content-view-embed div.class-product div.attribute-price span.discount-percent
{
    font-weight: normal;
}

div.content-view-line div.class-product div.attribute-price p.ex-vat
{
    display: none;
}

div.vertically_listed_sub_items div.content-view-embed div.content-view-line div.class-product div.attribute-image
{
    float: right;
    clear: right;
    margin-left: 0.5em;
}

div.horizontally_listed_sub_items div.content-view-embed div.content-view-horizontallylistedsubitems
{
    text-align: center;
}

div.horizontally_listed_sub_items div.content-view-embed div.content-view-horizontallylistedsubitems div.class-product div.attribute-image
{
    float: none;
    margin: 0;
}

div.horizontally_listed_sub_items div.content-view-embed div.content-view-horizontallylistedsubitems div.class-product h2
{
    padding-left: 0;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 10px;
}

div.horizontally_listed_sub_items div.content-view-embed div.content-view-horizontallylistedsubitems div.class-product div.attribute-price
{
    font-size: 1.2em;
}

/* PRODUCT - Productbox-header */

div.productbox-header
{
    margin-bottom: 0;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
div.productbox-header div.border-tl
{
    background-image: url(border-tl.gif.6);
}

div.productbox-header div.border-tr
{
    background-image: url(border-tr.gif.6);
}

div.productbox-header div.border-tc
{
    background-image: url(border-tc.gif.6);
}

div.productbox-header div.border-ml
{
    background-image: url(border-ml.gif.7);
}

div.productbox-header div.border-mr
{
    background-image: url(border-mr.gif.7);
}

div.productbox-header div.border-mc
{
    background: #fff;
    text-align: center;
}

div.productbox-header div.border-bl
{
    background-image: url(border-bl.gif.6);
}

div.productbox-header div.border-br
{
    background-image: url(border-br.gif.6);
}

div.productbox-header div.border-bc
{
    background-image: url(border-bc.gif.6);
}

/* PRODUCT - Productbox */

div.productbox
{
    margin-left: 0.25em;
    margin-right: 0.25em;
}

div.productbox a
{
    font-weight: bold;
}

div.productbox div.border-tl
{
    background-image: url(border-tl.gif.7);
}

div.productbox div.border-tr
{
    background-image: url(border-tr.gif.7);
}

div.productbox div.border-tc
{
    background-image: url(http://www.nice.fr/extension/ezwebin/design/ezwebin/stylesheets/images/productbox/border-tc.gif);
}

div.productbox div.border-ml
{
    background-image: url(border-ml.gif.8);
}

div.productbox div.border-mr
{
    background-image: url(border-mr.gif.8);
}

div.productbox div.border-mc
{
    background: #fff url(border-mc.gif.6) repeat-x top left;
    text-align: center;
}

div.productbox div.border-bl
{
    background-image: url(border-bl.gif.7);
}

div.productbox div.border-br
{
    background-image: url(border-br.gif.7);
}

div.productbox div.border-bc
{
    background-image: url(border-bc.gif.7);
}

/* EMBED - HIGHLIGHTED OBJECT */

div.highlighted_object
{
    background-image: url(highlighted_object_bg.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 9px;
}

div.highlighted_object h2
{
    margin-top: 0;
    color: #525345;
    font-size: 1.4em;
    font-weight: normal;
}

div.highlighted_object h2 a
{
    color: #525345;
}

/* EMBED - ITEMIZED SUB ITEMS */

div.itemized_sub_items
{
    width: 18em;
}

div.itemized_sub_items div.content-view-embed h2
{
    padding-left: 0.75em;
    font-size: 1.4em;
    font-weight: normal;
    margin-top: 0;
}

div.itemized_sub_items div.content-view-embed h2 a
{
    color: #535548;
    text-decoration: none;
}

div.itemized_sub_items div.content-view-embed ul
{
    margin: 0;
}

div.itemized_sub_items div.content-view-embed ul li
{
    margin: 0.25em 0 0.25em 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    background-image: none;
}

div.itemized_sub_items div.content-view-embed ul li a
{
    background-image: url(sidemenu_bullet.png);
    background-position: 0.2em 0.5em;
    background-repeat: no-repeat;
    padding-left: 18px;
    display: block;
    font-size: 0.9em;
}

div.itemized_sub_items div.content-view-embed div.attribute-byline
{
    margin: 0 0 0 17px;
    font-size: 0.9em;
    padding: 0;
    background: none;
    font-weight: normal;
}

/* EMBED - ITEMIZED SUBTREE ITEMS */

div.itemized_subtree_items
{
    width: 18em;
}

div.itemized_subtree_items div.content-view-embed h2
{
    padding-left: 0.75em;
    font-size: 1.4em;
    font-weight: normal;
    margin-top: 0;
}

div.itemized_subtree_items div.content-view-embed h2 a
{
    color: #535548;
    text-decoration: none;
}

div.itemized_subtree_items div.content-view-embed ul
{
    margin: 0;
}

div.itemized_subtree_items div.content-view-embed ul li
{
    margin: 0.25em 0 0.25em 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    background-image: none;
}

div.itemized_subtree_items div.content-view-embed ul li a
{
    background-image: url(sidemenu_bullet.png);
    background-position: 0.2em 0.5em;
    background-repeat: no-repeat;
    padding-left: 18px;
    display: block;
    font-size: 0.9em;
}

/* EMBED - VERTICALLY LISTED SUB ITEMS */

div.vertically_listed_sub_items div.content-view-embed div.content-view-children
{
    font-size: 0.85em;
}

div.vertically_listed_sub_items div.content-view-embed div.content-view-children div.separator
{
    display: none;
}

div.vertically_listed_sub_items
{
    margin-bottom: 0.5em;
}

div.vertically_listed_sub_items div.content-view-embed h2
{
    padding-left: 1em;
    font-size: 1.4em;
    font-weight: normal;
}

div.vertically_listed_sub_items div.content-view-embed div.content-view-line h2
{
    padding-left: 0;
    font-size: 1.2em;
}

/* EMBED - HORIZONTALLY LISTED SUB ITEMS */

div.horizontally_listed_sub_items div.content-view-embed div.content-view-horizontallylistedsubitems
{
    text-align: left;
}

div.horizontally_listed_sub_items div.content-view-embed div.split-content
{
    font-size: 0.85em;
}

div.horizontally_listed_sub_items div.content-view-embed h2
{
    padding-left: 1em;
    font-size: 1.4em;
    font-weight: normal;
    margin-top: 0;
    padding-top: 0.25em;
}

div.horizontally_listed_sub_items div.content-view-embed div.content-view-horizontallylistedsubitems h2
{
    padding-left: 0;
    font-size: 1.2em;
}

/* POLL STYLES */

div.poll-result td.poll-resultbar td.poll-percentage, div.poll-result td.poll-resultbar td.poll-votecount
{
    font-style: italic;
    font-size: 85%;
}

div.poll-result td.poll-resultbar td.poll-percentage
{
    text-align: left;
}

div.poll-result td.poll-resultbar td.poll-votecount
{
    text-align: right;
}

div.poll-result p
{
    font-weight: bold;
}

div.poll-result div.chart-bar-resultbox
{
    margin: 0.5em 0 0.5em 0;
    width: 100%;
}

div.poll-result div.chart-bar-resultbar
{
    height: 14px;
}

div.poll-result td.poll-resultname
{
    padding-right: 5px;
}

div.poll-result td.poll-resultbar
{
    padding-left: 5px;
}

div.poll-result td.poll-resultbar table
{
    width: 300px;
}

div.poll-result div.chart-bar-resultbox
{
    background-color: #eeeeee;
}

div.poll-result div.chart-bar-resultbar
{
    background-color: #444;
}


div.content-poll-results
{
    width: 100%;
}

div.content-poll-results ul
{
    margin-left: 0;
}

div.content-poll-results li
{
    list-style-type: none;
}

div.content-poll-results span.option
{
    font-weight: bold;
    float: left;
}

div.content-poll-results span.votes
{
    font-weight: normal;
}

div.content-poll-results span.value
{
    font-weight: bold;
    margin-top: 1.7em;
    float: right;
}

div.content-poll-results div.resultblock
{
    width: 100%;
    margin: -1.2em 0 0.5em 0;
    float: left;
}

div.content-poll-results div.resultedge-start
{
    padding-right: 4em;
}

div.content-poll-results div.resultedge-end
{
    border: 1px solid black;
}

div.content-poll-results div.resultbox
{
    background-color: #bcbbaf;
    width: 100%;
}

div.content-poll-results div.resultbar
{
    background-color: #4b7198;
    height: 20px;
}

div.content-poll-results div.result-divider
{
    height: 20px;
}

/* QUOTE */

div.quote
{
    background-image: url(quote-tl.gif);
    background-position: top left;
    background-repeat: no-repeat;
    padding-top: 19px;
}

div.quote-design
{
    padding-bottom: 19px;
    background-image: url(quote-br.gif);
    background-position: bottom right;
    background-repeat: no-repeat;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 1em;
}

div.quote-design p.author
{
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
}

/* SEPARATOR */

div.separator
{
    background-image: url(separator.jpg);
    background-repeat: no-repeat;
    height: 20px;
    clear: both;
}

/* SPLIT THREE */

div.split
{
    clear: both;
}

div.split-content
{
    border: none;
}

div.split div.three-left
{
    width: 31%;
    float: left;
}

div.split div.three-right
{
    width: 31%;
    float: right;
}

div.split div.three-center
{
    margin: 0 35% 0 35%;
}

div.break
{
    clear: both;
    font-size: 1px; /* Fix for IE */
    height: 1px;
    margin-bottom: -1px;
}

/* AGENDA */

div#ezagenda_calendar_left
{
    width: 228px;
    float: left;
}

div#ezagenda_calendar_container
{
    width: 228px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

div#ezagenda_calendar_container div.border-box div.border-tl
{
    background: transparent url(border-tl.gif.8) no-repeat scroll left top;
}

div#ezagenda_calendar_container div.border-box div.border-tr
{
    background:transparent url(border-tr.gif.8) no-repeat scroll right top;
}

div#ezagenda_calendar_container div.border-box div.border-tc
{
    background:transparent url(border-tc.gif.7) repeat-x scroll left top;
}

div#ezagenda_calendar_container div.border-box div.border-ml
{
    background: transparent url(border-ml.gif.9) repeat-y scroll left center;
}

div#ezagenda_calendar_container div.border-box div.border-mr
{
    background:transparent url(border-mr.gif.9) repeat-y scroll right center;
}

div#ezagenda_calendar_container div.border-box div.border-mc
{
    background:#F4F4F4 url(http://www.nice.fr/extension/ezwebin/design/ezwebin/images/agendabox/border-mc.gif) repeat-x scroll left top;
    padding: 0.25em 0 0.25em 0;
}

div#ezagenda_calendar_container div.border-box div.border-bl
{
    background: transparent url(border-bl.gif.8) no-repeat scroll left bottom;
}

div#ezagenda_calendar_container div.border-box div.border-br
{
    background: transparent url(border-br.gif.8) no-repeat scroll right bottom;
}

div#ezagenda_calendar_container div.border-box div.border-bc
{
    background:transparent url(border-bc.gif.8) repeat-x scroll left bottom;
}

div#ezagenda_calendar_container table
{
    background-image:url(cal_bg.png);
    background-repeat: repeat-x;
    background-position: top left;
    background-color: #F0F0F0;
    margin: auto;
    text-align: left;
    font-size: 0.85em;
}

div#ezagenda_calendar_container table th
{
    font-weight: bold;
    text-align: center;
    height: 20px;
    border: 1px solid;
    border-color: #fefffc #dee0dd #dee0dd #fefffc;
    border-top: 0px;
}

div#ezagenda_calendar_container table td
{
    padding: 8px;
    border: 1px solid;
    border-color: #fefffc #dee0dd #dee0dd #fefffc;
    text-align: center;
}

div#ezagenda_calendar_container table .first_col
{
    border-left: 0px;
}

div#ezagenda_calendar_container table .last_col
{
    border-right: 0px;
}

div#ezagenda_calendar_container table  tr.calendar_heading th
{
    border: 0px;
    padding-bottom: 12px;
}

div#ezagenda_calendar_container table  tr.calendar_heading th a
{
    text-decoration: none;
}

div#ezagenda_calendar_container table td.ezagenda_selected
{
    background-color: #e4e5e4;
}

div#ezagenda_calendar_container table td.ezagenda_current, div#ezagenda_calendar_container table td.ezagenda_current a
{
    color: #df1d42;
    font-weight: bold;
}

div#ezagenda_calendar_right
{
    vertical-align: top;
    padding-left: 12px;
    margin-left: 225px;
}

.event-calendar-programview div#ezagenda_calendar_right
{
    margin-left: auto;
    padding: 0;
}
.event-calendar-programview .block .right
{
    text-align: right;
}


div#ezagenda_calendar_right table.ezagenda_month_event
{
    border: 1px solid #f1f1ed;
    margin-bottom: 5px;
    width: 99%;
       table-layout: fixed;
       border-collapse: collapse;
       vertical-align: top;
}

table.ezagenda_month_event td.ezagenda_month_label
{
    vertical-align: top;
    padding-left: 7px;
    padding-right: 7px;
    width: 50px;
}

table.ezagenda_month_event td.ezagenda_month_label h2
{
    border: 1px solid #d2d2c5;
    padding: 4px;
    color:#979797;
    font-size: 1.8em;
    font-weight: normal;
    background-color: #eeeee5;
    width: 39px;
    margin-top: 9px;
    background-image:url(date_bg.png);
    background-position: center bottom;
    background-repeat: repeat-x;
    text-align: center;
}

table.ezagenda_month_event td.ezagenda_month_info
{
    width: auto;
    vertical-align: top;
    padding-top: 8px;
}

table.ezagenda_month_event td.ezagenda_month_info h4, div#ezagenda_calendar_today div.ezagenda_day_event h4
{
    margin: 0;
    font-size: 1.1em;
}

table.ezagenda_month_event td.ezagenda_month_info p
{
    margin-top: 0;
    margin-bottom: 5px;
    clear: both;
}

table.ezagenda_month_event span.ezagenda_date
{
    float: left;
    margin-right: 6px;
}

div#ezagenda_calendar_today
{
/*    float: left;*/
    margin-top: 14px;
    width: 228px;
}

div#ezagenda_calendar_today div.ezagenda_day_event
{
    border: 1px solid #f1f1ed;
    margin-bottom: 4px;
    padding: 7px;
}


span.ezagenda_keyword
{
    display: block;
    font-size: 90%;
    color: #888;
}

span.ezagenda_date
{
    display: block;
    font-size: 90%;
    color: #555;
}

div.content-view-embed div#ezagenda_calendar_container
{
    width: auto;
}

div#sidebar_calendar_today div
{
    text-align: left;
    padding-left: 10px
}

div#sidebar_calendar_today a
{
    display: block;
    text-decoration: none;
    position: relative
}

div#sidebar_calendar_today a span.ezagenda_date
{
    position: absolute;
    right: 10px;
    top: 0em;
}

/* CONTENTSTRUCTURE */

div#sidemenu div.contentstructure ul li a
{
    border: none;
}

div#sidemenu div.contentstructure ul
{
    margin: 0;
    padding: 0;
}

div#sidemenu div.contentstructure ul ul
{
    margin: 0.25em 0 0 0.5em;
}

div#sidemenu div.contentstructure ul ul ul
{
    margin: 0 0 0 1em;
}

div#sidemenu div.contentstructure li
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-image: url(left-line.gif);
    background-repeat: repeat-y;
    background-position: left;
}

div#sidemenu div.contentstructure ul ul div
{
    color: #000000;
    text-decoration: none;
    padding: 2px 0 2px 0;
}

div#sidemenu div.contentstructure li div a
{
    font-size: 0.9em;
    text-decoration: none;
    color: #000;
    padding: 0 2px 0 4px;
}

div#sidemenu div.contentstructure li.topchapter, div#sidemenu div.contentstructure li.topchapter-selected
{
    font-weight: bold;
    margin: 0.5em 0 0.5em 0;
    padding-left: 10px;
    background-image: url(http://www.nice.fr/extension/ezwebin/design/ezwebin/images/linklist-bullet.gif);
    background-repeat: no-repeat;
    background-position: 0 0.4em;
}

div#sidemenu div.contentstructure li.topchapter-selected a
{
    color: #000;
    text-decoration: none;
}

div#sidemenu div.contentstructure li.currentnode a:hover
{

}

div#sidemenu div.contentstructure li.topchapter-selected li a
{
    font-weight: bold;
    color: #328F00;
    text-decoration: none;
}

div#sidemenu div.contentstructure li.topchapter-selected li a:hover
{

}

div#sidemenu div.contentstructure li.topchapter-selected li li a
{
    color: #0090FF;
    font-weight: normal;
    text-decoration: none;
}

div#sidemenu div.contentstructure li.topchapter-selected a:hover
{

}

div#sidemenu div.contentstructure li
{
    font-weight: normal;
}

div#sidemenu div.contentstructure li ul div
{
    background-image: url(left-item.gif);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 8px;
}

div#sidemenu div.contentstructure li div.first
{
    background-image: url(left-corner-top.gif);
    background-repeat: no-repeat;
    background-position: top left;
}

div#sidemenu div.contentstructure li.last
{
    background-image: url(left-corner-end.gif);
    background-repeat: no-repeat;
    background-position: top left;
}

div#sidemenu div.contentstructure li.currentnode a, div#sidemenu div.contentstructure li.topchapter-selected li.currentnode a
{
    font-weight: bold;
    text-decoration: underline;
}

div#sidemenu div.contentstructure li.topchapter-selected li.currentnode ul a
{
    font-weight: normal;
    text-decoration: none;
}

div#sidemenu div.contentstructure li div a:hover, div#sidemenu div.contentstructure li.topchapter-selected li.currentnode ul a:hover
{

}

/* Diff styles */

div#diffview ul
{
    margin: 0 0 0.5em 0;
    padding: 0.25em 0.5em 0.25em 0.5em;
    border-bottom: 1px solid #808080;
    display: block;
}

div#diffview li
{
    font-size: 0.85em;
    margin: 0 0.5em 0 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

div.attribute-view-diff
{
    padding: 0.25em;
    border: 1px solid #d7d7d2;
}

div.attribute-view-diff label
{
   color: #75756c;
}

div.attribute-view-diff-old
{
    padding-bottom: 0.25em;
    border-bottom: 1px dashed #bfbfb7;
}

div.attribute-view-diff-new
{
    padding-top: 0.25em;
}

ins
{
    color: #008000;
    text-decoration: none;
    border-bottom: 1px solid #00b000;
}

del
{
    color: #d98078;
    text-decoration: line-through;
}

ins:hover, del:hover
{
    background-color: #ffffff;
}

ins:hover
{
    color: #006000;
    border-bottom: none;
}

del:hover
{
    color: #852c25;
    text-decoration: none;
}

div.blockchanges ins, div.blockchanges del
{
    color: #000000;
    padding-left: 0.5em;
    text-decoration: none;
    border-bottom: none;
    display: block;
}

div.blockchanges ins
{
    border-left: 0.5em solid #008000;
}

div.blockchanges del
{
    border-left: 0.5em solid #d98078;
}

div.previous ins
{
    display: none;
}

div.previous del
{
    color: #000000;
    background-color: #ffff00;
    border-bottom: none;
    text-decoration: none
}

div.latest del
{
    display: none;
}

div.latest ins
{
    color: #000000;
    background-color: #ffff00;
    border-bottom: none;
    text-decoration: none;
}

/* BASKET */

div.shop-basket ul
{
    margin: 0;
    padding: 0;
}

div.shop-basket ul li
{
    display: block;
    float: left;
    margin-right: 1em;
    list-style-type: none;
    list-style-image: none;
    padding: 0;
}

div.shop-basket ul li.selected
{
    font-weight: bold;
}

/* SHOP - USERREGISTER */

div.shop-userregister ul
{
    margin: 0;
    padding: 0;
}

div.shop-userregister ul li
{
    display: block;
    float: left;
    margin-right: 1em;
    list-style-type: none;
    list-style-image: none;
    padding: 0;
}

div.shop-userregister ul li.selected
{
    font-weight: bold;
}

/* SHOP - CONFIRMORDER */

div.shop-confirmorder ul
{
    margin: 0;
    padding: 0;
}

div.shop-confirmorder ul li
{
    display: block;
    float: left;
    margin-right: 1em;
    list-style-type: none;
    list-style-image: none;
    background: none;
    padding: 0;
}

div.shop-confirmorder ul li.selected
{
    font-weight: bold;
}

/* PRICE */

span.old-price
{
    text-decoration: line-through;
    font-size: 0.9em;
}

span.new-price
{
    color: #0290FF;
    font-weight: bold;
}

span.discount-percent
{
    font-size: 0.9em;
}

/* HISTORY */
div.content-history div.context-controls div.left
{
    width: 18%;
}

div.content-history div.context-controls div.right
{
    width: 80%;
    text-align: right;
}

div.content-history div.context-controls div.right input.button
{
    display: inline;
}

div#diffview div.context-toolbar div.block ul li
{
    background: none;
}

/* BASKET */

div.shop-basket ul li
{
    background-image: none;
}

div.shop-userregister ul li
{
    background-image: none;
}