/* PAGELAYOUT CSS - 20060522 */

/* FULL PAGE */

div#page
{
    width: 770px; /* This can be changed to any fixed width if desired */
    margin: 0 auto 0 auto; /* General method for centering content if fixed page width, for other browsers than IE */
    text-align: left; /* Reset IE method for centering page, to stop all other content on the page from centering */
}

/* HEADER */

div#header
{
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-top: 0.25em;
    background-color: #FFFFFF;
    padding-bottom: 0.75em;
}

div#header ul
{
    margin: 0;
    padding: 0.25em 0 0.25em 0;
}

div#header ul li
{
    list-style-type: none;
    list-style-image: none;
    padding: 0;
    margin: 0;
    float: left;
    background-image: none;
}

div#logo
{
    float: left;
    margin: 1em 0 0 1.5em;
}

div#usermenu
{
    background-image: url(header_bg.png);
    background-position: top left;
    background-repeat: repeat-x;
    height: 25px;
}

div#languages
{
    background-image: url(header_bg_left.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    float: left;
    clear: left;
    width: 24%;
    height: 25px;
    font-size: 0.85em;
}

div#languages ul li
{
    margin-left: 5px;
}

div#languages a
{
    padding-right: 2px;
}

div#links
{
    background-image: url(header_bg_right.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    float: right;
    clear: right;
    text-align: right;
    padding-right: 0;
    font-size: 0.85em;
    font-weight: bold;
    height: 25px;
    width: 75%;
}

div#links ul li
{
    float: right;
}

div#links a
{
    color: #515346;
    border-left: 1px solid #CECEC2;
    padding-left: 8px;
    padding-right: 8px;
    height: 18px;
}

div#searchbox
{
    width: 20em; /* Needs to be sufficient width to fit both text input and submit button to avoid Konqueror breaking the line between them */
    margin-top: 1.75em;
    margin-right: 1em;
    text-align: right;
    float: right;
}

input#searchtext
{
    border: 1px solid #A5ACB2;
    font-size: 0.85em;
    width: 12em;
}

input#searchbutton
{
    margin-top: -0.1em;
}

/* TOP MENU */

div#topmenu
{
    margin: 0;
    padding: 0 0.25em 0 0.2em;
    background-color: #FFFFFF;
}

div#topmenu ul
{
    margin: 0;
    padding: 0;
    background-image: url(topmenu_bg.png);
    background-repeat: repeat-x;
    height: 33px;
}

div#topmenu li
{
    background-image: none;
    height: 33px;
    margin: 0;
    float: left;
    padding: 0;
    font-size: 0.85em;
    font-weight: bold;
    list-style-type: none;
    list-style-image: none;
}

div#topmenu li.selected
{
    background-image: url(topmenu_bg_selected.png);
    background-repeat: repeat-x;
    background-position: left top;

}

div#topmenu li a
{
    text-decoration: none;
    color: #4F5241;
    border-right: 1px solid #C3C4B6;
    display: block;
    float: left;
    margin: 0;
    padding: 15px;
    margin-top: 4px;
    padding-top: 2px;
    padding-bottom: 0;
    height: 22px;
    line-height: 22px;
    background-color: transparent;
}

div#topmenu li a:hover
{
    border-bottom: 3px solid #ABAB9E;
}

div#topmenu ul#topmenu-secondlevel
{
    height: 29px;
    background-image: none;
    background-color: #F5F6F1;
    border-bottom: 1px solid #E9E9E1;
}

div#topmenu ul#topmenu-secondlevel li
{
    height: 29px;
}

div#topmenu ul#topmenu-secondlevel li.selected,
div#topmenu ul#topmenu-secondlevel li.selected a
{
    font-style: italic;
    background-image: none;
}

div#topmenu ul#topmenu-secondlevel li a
{
    color: #555;
    height: 20px;
    line-height: 20px;
    border-right: 1px solid #E9E9E1;
}

div#topmenu ul#topmenu-secondlevel li a:hover
{
    color: #111;
}

div#topmenu ul#topmenu-secondlevel li.selected a span
{
    padding-bottom: 0px;
    background-image: none;
}

/* PATH */

div#path
{
    padding: 0.5em 0.5em 0.5em 2em;
    font-size: 0.85em;
}

div#path p
{
    margin: 0;
}

/* COLUMNS */

div#columns
{
   padding: 0 14em 0 14em;
}

div.nosidemenu div#columns
{
   padding-left: 0;
}

div.noextrainfo div#columns
{
   padding-right: 0;
}

/* SIDE MENU */

div#sidemenu-position
{
    width: 14em;
    margin-left: -14em;
    float: left;
    display: inline; /* Fix for IE double margin bug */
}

div.nosidemenu div#sidemenu-position
{
    display: none;
}

div#sidemenu ul
{
    list-style-type: none;
    margin: 0.5em 0 0.5em 0;
}

div#sidemenu ul li
{
    margin: 0.25em 0 0.25em 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    background-image: none;
}

div#sidemenu div.box div.box-content
{
    padding-left: 0.75em;
    padding-right: 0;
}

div#sidemenu h4
{
    margin: 0;
}

div#sidemenu h4 a
{
    color: #525345;
    text-decoration: none;
}

div#sidemenu ul.menu-list a.selected
{
    font-weight: bold;
}

div#sidemenu ul.submenu-list
{
    list-style-type: none;
    margin-left: 1em;
}

div#sidemenu ul.submenu-list a.selected
{
    font-weight: bold;
}

div#sidemenu ul.menu-list li a, div#sidemenu ul.submenu-list li a
{
    background-image: url(sidemenu_bullet.png);
    background-position: 0.2em 0.5em;
    background-repeat: no-repeat;
    padding-left: 18px;
    display: block;
    font-size: 0.85em;
}

/* MAIN AREA */

div#main-position
{
    width: 100%;
    float: left;
}

div#main
{

}

div.nosidemenu div#main-position
{
    margin-left: 0;
}

div.noextrainfo div#main-position
{
    margin-right: 0;
}

/* EXTRA CONTENT */

div#extrainfo-position
{
    width: 14em;
    margin-right: -14em;
    float: left;
}

div.noextrainfo div#extrainfo-position
{
    display: none;
}

div#extrainfo
{

}

/* FOOTER */

div#footer
{
    clear: both; /* Ensures that the footer is pushed properly below the columns */
    text-align: center;
    padding-top: 1.25em;
    background-image: url(footer_bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    font-size: 0.85em;
    margin-bottom: 0.25em;
}

div#footer address
{
    font-style:normal;
}

div#sidemenu
{
    padding: 0 0.25em 0 0;
}

div#extrainfo
{
    padding: 0 0 0 0.25em;
}