/*BEGIN STYLES.CSS*/
/*-----------------------------------------------------------------------------
  [CSS Styles - Imports]
				
-----------------------------------------------------------------------------*/
 
/*-----------------------------------------------------------------------------
  [CSS general - Général]
  
  Feuille de style générique
  
  1.  Init
  2.  2.  Page / #body
  3.  Liens / a
  4.  Styles
  5.  Titre
				
-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------
  [1.  Init]		
*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
fieldset, img {
	border: 0;
}
option {
	padding-left: 0.4em;
}
ul, ol, dl {
	margin: 1em 0;
	padding-left: 30px
}
dl {
	margin: 1em 0;
}
dd {
	padding-left: 40px;
}
blockquote {
	margin: 0 0 1em 1.5em;
}
p {
	margin: 1em 0;
}
td, th {
	padding: 1px;
}
html {
	height: 100%;
	margin-bottom: 1px;
}
strong {
	font-weight: bold;
}
/*-----------------------------------------------------------------------------
  [2.  Page]		
*/

body {
	background: #ffffff;
	color: #646464;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 150%;
}
#body {
	margin:0 auto;
	padding:0px;
	width:100%;
}
/*-----------------------------------------------------------------------------
  [3.  Liens]		
*/

a {
	color: #646464;
}
a:link {
	color: #646464;
}
a:hover {
	color: #dd0000;
}
/*#content-block a,#content a:link,#content a:visited{border-bottom:1px dotted #999;}*/
/*-----------------------------------------------------------------------------
  [4.  Styles]		
*/

.bold {
	font-weight: bold;
}
.redbold {
	font-weight: bold;
	color: #dd0000;
	font-size: 14px;
}
.italic {
	font-style: italic;
}
.underline {
	text-decoration: underline
}
.red {
	color: #dd0000;
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.clearer {
	clear: both;
	padding:0px !important;
	margin:0px;
}
.widget {
	display: block;
}
.widget .link {
	color: #dd0000;
}
.widget:hover .link {
	text-decoration: none;
}
/*-----------------------------------------------------------------------------
  [5.  Titre]		
*/

h1 span {
	display: none;
}
#capt {
	position:absolute;
	top:28px;
	display:none;
}
#capt div.inner {
	background:#ffffff;
	border:1px solid #ccc;
	color: #666666;
	padding:5px;
}
#capt img.arrow {
	margin-bottom:-1px;
	width:125px;
	display:block;
}
/*-----------------------------------------------------------------------------
  [CSS form - Formulaires]
  
  Feuille de style pour les formulaires
  
  1.  Formulaire / .form
  2.  Champ de formulaire / .form-input
  3.  Bouton / .form-button
				
-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------
  [1.  Formulaire]		
*/
 
form.form p {
	padding: 0;
	margin: 0;
}
/*-----------------------------------------------------------------------------
  [2.  Champ de formulaire]		
*/

.form-input {
	background: #fff url(textbox-background.png) repeat-x top left;
	border: 1px solid #c3c3c3;
	color: #646464;
	padding: 3px;
}
/*-----------------------------------------------------------------------------
  [3.  Bouton]		
*/

.form-button {
	background: #fff url(button-background.png) repeat-x top left;
	border: 1px solid #e8e8e9;
	padding: 3px;
}
.form-button.hover {
	color: #dd0000;
	cursor: pointer;
}
#top-menu-main-accueil {
	background-image: url(accueil.png);
	width: 96px;
}
#top-menu-main-accueil:hover {
	background-image: url(accueil_hover.png);
}
#top-menu-main-internet {
	background-image: url(internet.png);
	width: 87px;
}
#top-menu-main-internet:hover {
	background-image: url(internet_hover.png);
}
#top-menu-main-telephone {
	background-image: url(telephone.png);
	width: 108px;
}
#top-menu-main-telephone:hover {
	background-image: url(telephone_hover.png);
}
#top-menu-main-television {
	background-image: url(television.png);
	width: 108px;
}
#top-menu-main-television:hover {
	background-image: url(television_hover.png);
}
#top-menu-main-boutique {
	background-image: url(boutique.png);
	width: 110px;
}
#top-menu-main-boutique:hover {
	background-image: url(boutique_hover.png);
}
#top-menu-main-assistance {
	background-image: url(assistance.gif); /*png >> Gif pour Rodolphe le 11/12/08 TEMPORAIRE*/
	width: 122px;
}
#top-menu-main-assistance:hover {
	background-image: url(assistance_hover.png);
}
#reminder {
	width:100px !important;
	height:48px !important;
	background:url(reminder.png) no-repeat !important;
}
/*END STYLE.CSS*/




/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
		  [/accueil]--------------------------------------------------------------------
		-----------------------------------------------------------------------------*/
		
		
		/* CSS pour le composant: /layouts/base */
		
		/*-----------------------------------------------------------------------------
		  [Composant /layouts/base]
		  
		1. Main / #main
			2. Main left / .left
				2.1 Submenu / #submenu
				2.2 Contenu / #content-container
				2.3 Navigation inter section / #inter-section-nav
			3. Main right / .right
				3.1 Widget / .widget
	
		-----------------------------------------------------------------------------*/
				
		/*-----------------------------------------------------------------------------
			[1. Main]
		*/
		#mainbg {
	background: transparent url(bg3.gif) repeat-x left top;
	width:100%
}
#main { /*border-bottom: 1px solid #858483;*/
	margin:0px;
	padding:0px;
	width:100%;
	margin:auto;
}
/*-----------------------------------------------------------------------------
			[2. Main left]
		*/
		
		#main .left {
	border-right: 1px solid #bababa;
	float: left;
	width: 749px;
}
#main .left-100p {
	float: left;
	width: 100%;
}
/*-----------------------------------------------------------------------------
			[2.1 Submenu]
		*/
		
		#submenu {
	background: white url(sub-menu-background.png) repeat-x left top;
	border-bottom: 1px solid #bababa;
	height: 31px;
	width: 100%;
}
#submenu .back {
	background: white url(sub-menu-back-button.png) no-repeat left top;
	display: block;
	float: left;
	height: 31px;
	width: 76px;
}
#submenu .back span {
	display: none;
}
#submenu ul {
	float: right;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#submenu ul li {
	display: inline;
}
#submenu ul li a {
	display: block;
	float: left;
	height: 31px;
	padding: 0px;
	text-decoration: none;
}
#submenu ul li a span {
	display: none;
}
/*-----------------------------------------------------------------------------
			[2.2 Contenu]
		*/
		
		#content-container {
	background: transparent url(content-container-background.png) repeat-x;
}
#content .content-title {
	font-size: 150%;
	line-height: 120%;
	padding: 30px 20px 20px 20px;
	text-transform: uppercase;
}
#content .content-title span {
	display: inline;
}
/*-----------------------------------------------------------------------------
			[2.3 Navigation inter section]
		*/
		
		#inter-section-nav {
	clear: both;
	margin: auto auto 3px auto;
	width: 100%;
}
#inter-section-nav div.arrow {
	background: white url(background.png) repeat-x left top;
	border: 1px solid #e6e6e6;
	display: block;
	height: 25px;
	margin: 3px;
	padding: 2px;
	width: 250px;
}
#inter-section-nav div.arrow .inner {
	display: block;
	height: 25px;
	line-height: 25px;
}
#inter-section-nav div.arrow-left {
	float: left;
	text-align: right;
}
#inter-section-nav div.arrow-left .inner {
	background: url(left-arrow.png) no-repeat left center;
	padding-left: 25px;
	padding-right: 10px;
}
#inter-section-nav div.arrow-right {
	float: right;
}
#inter-section-nav div.arrow-right .inner {
	background: url(right-arrow.png) no-repeat right center;
	padding-left: 10px;
	padding-right: 25px;
}
/*-----------------------------------------------------------------------------
			[3. Main right]
		*/
		
		#main .right {
	color: #fff;
	float: left;
	height: 100%;
	width: 198px;
}
/*-----------------------------------------------------------------------------
			[3.1 Widget]
		*/
		
		#main .right .widget {
	background: transparent url(right-widgets-separator.png) no-repeat 10px 0;
	border: 0;
	color: #666666;
	margin-top: 15px;
	padding-top: 15px;
}
#main .right .first {
	background: none;
	margin-top: 0px;
	padding-top: 0px;
}
#main .right .widget div div {
	padding-left: 60px;
}
#main .right .widget div div h1 {
	color: #3c3c3c;
	font-size: 12px;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
	padding: 0;
}
#main .right .widget div div h1 span {
	display: inline;
}
#main .right .widget div div p {
	margin: 0;
}
/*-----------------------------------------------------------------------------
		  [Composant /layouts/base]
		  
		-----------------------------------------------------------------------------*/
		
			
		/*-----------------------------------------------------------------------------
			[1. Top]
		*/
		#topbg {
	background: transparent url(bg1.gif) repeat-x left 10px;
	width:100%
}
#top { /*background: #fff url(../../im/components/partials/top/bg.png) repeat-x left top;*/ /*border-bottom: 1px solid #8e8e8e;*/
	height: 112px;
	margin: 0px;
	padding: 0px;
	width: 950px;
	margin: auto;
}
/*-----------------------------------------------------------------------------
			[2. Logo]
		*/
		
		#top-logo {
	background: transparent url(logo.png) no-repeat left top;
	display: block;
	float: left;
	height: 112px;
	margin: 0px;
	padding: 0px;
	width: 232px;
}
#top-logo span {
	display: none;
}
/*-----------------------------------------------------------------------------
			[3. Menus]
		*/
		
		#top-menu {
	float: left;
	height: 112px;
	width: 713px; /* 950 - 237 */
}
/*-----------------------------------------------------------------------------
			[3.1 Nav]
		*/
		
		#top-menu-nav {
	border-bottom: 1px solid #bebebe;
	float: left;
	height: 32px;
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#top-menu-nav li {
	display: inline;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	vertical-align:middle;
	padding: 18px 10px 10px 15px;/*margin-right: 20px;*/
}
#top-menu-nav li.a1 {
	background:url(topbar.png) 0px 15px no-repeat;
}
#top-menu-nav li.a1:hover {
	background:url(topbar.png) 0px -15px no-repeat;
}/**/
#top-menu-nav li.f1 {
	padding-right:0px
}
#top-menu-nav li a {
	color: #555555;
	text-decoration: none;
}
#top-menu-nav li a:hover {
	color: #dd0000;
	text-decoration: none;
}
/*-----------------------------------------------------------------------------
			[3.2 Main menu]
		*/
		
		#top-menu-main {
	float: left;
	list-style: none;
	margin: 0px;
	margin-top: 10px;
	padding: 0px;
	width: 100%;
}
#top-menu-main li {
	display: inline;
}
#top-menu-main li a {
	display: block;
	float: left;
	height: 69px;
	margin-left: 1px;
	margin-right: 1px;
	padding: 0px;
	text-decoration: none;
}
#top-menu-main li a span {
	display: none;
}
/*-----------------------------------------------------------------------------
		  [Composant /layouts/base]
		  
		-----------------------------------------------------------------------------*/
		
			
		/*-----------------------------------------------------------------------------
			[1. Bottom]
		*/
		#bottombg {
	background: transparent url(bg4.gif) repeat-x left top;
	width:100%
}
#bottom { /*background: #fff url(../../im/components/partials/bottom/bg.png) repeat-x top left;*/
	padding-bottom: 20px;
	width:950px;
	margin:auto;
}
/*-----------------------------------------------------------------------------
			[2. Infos]
		*/
		
		#bottom-infos {
	background: transparent url(separator.png) no-repeat 0px 25px;
	float: right;
	height: 222px;
	margin-top: 0px;
	padding: 5px 25px 10px 25px;
}
#bottom-infos h2 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}
#bottom-infos h2 span {
	display: inline;
}
#bottom-infos ul {
	margin: 0px;
	padding: 0px;
}
#bottom-infos ul li {
	margin: 0px;
	padding: 0px;
}
#bottom-infos ul li a {
	color:#999999;
	font-weight:normal;
	text-decoration:none;
}
#bottom-infos ul li a:hover {
	color: #dd0000;
}
/*-----------------------------------------------------------------------------
			[3. Liens / Sitemap]
		*/
		
		#bottom-links {
	float: left;
}
#bottom-links h1 {
	color: #3c3c3c;
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0px 0px 5px;
}
#bottom-links div {
	background: transparent url(separator.png) repeat-y 0px 15px;
	float:left;
	height: 200px;
	padding: 5px 10px 10px 10px;
}
#bottom-links .first {
	background-image: none;
	float:left;
	padding: 5px 10px 10px 10px;
}
#bottom-links .indent-15 {
	background-image: none;
	padding-left: 15px;
}
#bottom-links .indent-20 {
	background-image: none;
	padding-left: 20px;
}
#bottom-links div h2 {
	color: #999999;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}
#bottom-links div h2 a:hover {
	color: #dd0000;
}
#bottom-links div h2 span {
	display: inline;
}
#bottom-links div ul {
	margin: 0px;
	padding: 0px;
}
#bottom-links div ul li {
	margin: 0px;
	padding: 0px;
}
#bottom-links div ul li a {
	color:#999999;
	font-weight:normal;
	text-decoration:none;
}
#bottom-links div ul li a:hover {
	color: #dd0000;
}
/*-----------------------------------------------------------------------------
			[4. Menu]
		*/
		
		#bottom-menu {
	border-bottom: 1px solid #f3f3f3;
	border-top: 1px solid #f3f3f3;
	clear: both;
	margin: auto;
	padding: 0px;
	width: 95%;
}
#bottom-menu ul {
	margin: 0px;
	padding: 0px;
}
#bottom-menu ul li {
	display: inline;
	margin: 0px;
	padding: 0px;
}
#bottom-menu ul li a {
	color: #a5a5a5;
	display: block;
	float: left;
	padding: 10px 20px 10px 0px;
}
#bottom-menu ul li a:hover {
	color: #dd0000;
}
/*-----------------------------------------------------------------------------
			[5. Mentions légales]
		*/
		
		#bottom-mentions {
	color: #a5a5a5;
}
/*-----------------------------------------------------------------------------
		  [Composant /layouts/base]
		  
		-----------------------------------------------------------------------------*/
		
			
		/*-----------------------------------------------------------------------------
			[Abonnement]
		*/
		
		#widget-abonnement div img {
	display: block;
	margin: 5px auto 10px auto;
}
#widget-abonnement div div {
	background: transparent url(ligne.png) no-repeat 15px 0px;
}
#widget-abonnement .form {
	text-align: right;
	margin-top: 8px;
}
#widget-abonnement .form p {
	padding: 3px;
	margin: 0px;
}
#widget-abonnement .form .input {
	width: 120px;
	height: 20px;
	margin: 2px;
	font-size: 12px;
	color: #494949;
}
/*-----------------------------------------------------------------------------
			[Pas de ligne]
		*/
		
		#widget-pas-de-ligne div img {
	display: block;
	margin: 5px auto 5px auto;
}
#widget-pas-de-ligne div div {
	background: transparent url(pas-de-ligne.png) no-repeat 15px 0px;
}
/*-----------------------------------------------------------------------------
			[Callback]
		*/
		
		#widget-callback div div {
	background: transparent url(callback.png) no-repeat 20px 0px;
}
/*-----------------------------------------------------------------------------
		  [Composant /layouts/base]
		  
		-----------------------------------------------------------------------------
		
			
		#widget-eva { border: 1px solid #f3f2f2; height: 234px; }

#widget-eva div { background: #fff url(../../im/components/widgets/eva/eva.png) no-repeat; height: 174px; }

#widget-eva div.hover { background-image: url(../../im/components/widgets/eva/eva_hover.png); }

#widget-eva div div span { display: none; }

#widget-eva div p { padding: 3px; }

#widget-eva .form-input { width:162px; }

#main .right #widget-eva { background: url(../../im/global/widgets/right-widgets-separator-4.png) no-repeat scroll 10px 0pt; margin-top: 30px; padding-left: 20px; }*/

/* CSS pour le composant: /widgets/home/colonne-droite/freebox-hd */
		
		/*-----------------------------------------------------------------------------
		  [Composant /widgets/home/colonne-droite/freebox-hd]
		  
		-----------------------------------------------------------------------------
				
		#widget-colonne-freebox .inner { background-image: url(../../im/components/accueil/home/freebox-icon.png); }

#widget-colonne-freebox .inner h1 { background-image: url(../../im/components/accueil/home/freebox.png); }

#widget-colonne-freebox .text-block { margin-bottom: 10px; }*/

/* CSS pour le composant: /widgets/home/colonne-droite/internet */
		
		/*-----------------------------------------------------------------------------
		  [Composant /widgets/home/colonne-droite/internet]
		  
		-----------------------------------------------------------------------------
				
		#widget-colonne-internet .inner { background-image: url(../../im/components/accueil/home/internet-icon.png); }

#widget-colonne-internet .inner h1 { background-image: url(../../im/components/accueil/home/internet.png); }*/

/* CSS pour le composant: /widgets/home/colonne-droite/telephone */
		
		/*-----------------------------------------------------------------------------
		  [Composant /widgets/home/colonne-droite/telephone]
		  
		-----------------------------------------------------------------------------
				
		#widget-colonne-telephone .inner { background-image: url(../../im/components/accueil/home/telephone-icon.png); }

#widget-colonne-telephone .inner h1 { background-image: url(../../im/components/accueil/home/telephone.png); }
*/
/* CSS pour le composant: /widgets/home/colonne-droite/television */
		
		/*-----------------------------------------------------------------------------
		  [Composant /widgets/home/colonne-droite/television]
		  
		-----------------------------------------------------------------------------
				
		#widget-colonne-television .inner { background-image: url(../../im/components/accueil/home/tv-icon.png); }

#widget-colonne-television .inner h1 { background-image: url(../../im/components/accueil/home/television.png); }
*/
/* CSS pour le composant: /accueil/index */
				/*--------------------------------------------------------------------------------------------------------------------------------------------------------------
		  [Composant /accueil/index]
		  
		Page d'accueil principale
	
		1. Content / #content
			2. Colonne gauche / .content-left
				2.1 Header / #header
				2.2 Colone gauche gauche / .content-left-left
					2.2.1 Ligne fixe / #ligne-tel
					2.2.2 Pas de ligne fixe / #pas-ligne
					2.2.3 Besoin d'aide / #telephone
					2.2.4 Collectivités / #collectivite
				2.3 Colonne gauche droite / .content-left-right
					2.3.1 Free en 2 min / #free-en-2-min
					2.3.2 20 exclusivités / #exclus
					2.3.3 Boutons / .links
			3. Widgets / .widget
			4. Colonne droite / .content-right
			5. Bottom / .content-bottom
	
		-----------------------------------------------------------------------------*/
				
		/*-----------------------------------------------------------------------------
			[1. Content]
		*/
		
		#submenu {
	display: none;
}
#main .left {
	border: 0;
}
#content-container {
	background: none;
}
#content { /*margin-top: 15px;*/ /*temporaire rodolphe*/
}
#cont_row1 { /*height:250px;*/
	width:100%;
	background: transparent url(bg3.gif) repeat-x left top;
}
#cont_row2 { /*height:570px;*/
	width:100%;
	background: transparent url(bg3.gif) repeat-x left top;
}
#cont_row2_2 {
	width:950px;
	margin:auto;
}
#cont_row2_2 h1 {
	font-size:20px;
	color:#666;
	padding-top:10px;
}
.blockhome {
	width:950px;
	margin:auto;
}
/*.blockhome li { list-style:none; float:left; }
.blockhome ul a {
  display:block;
  padding:6px 10px;
  text-decoration:none!important;
  margin:1px;
  margin-left:0;
  font:10px Verdana;
  color:#FFF;
  background:#444;
}
.blockhome ul a:hover {
  color:#FFF;
  background:#111;
  }
.blockhome ul a.selected {
  margin-bottom:0;
  color:#000;
  background:snow;
  border-bottom:1px solid snow;
  cursor:default;
  }*/


#inscript_title {
	background: transparent url(2999.png) no-repeat left 5px;
	width:950px;
	height:62px
}
#inscript {
	height:185px;
	margin-bottom:1px;
}
/*#inscript div.widget:hover {border:3px solid #E0E0E0;}*/

#inscription {
	width:320px;
	height: 185px;
	float:left;
	line-height:2em;
	clear:both;
	overflow: visible;
}
.alt {
	position:relative;
	display:none; /*border:2px solid #FFF;*/
}
.leg {
	padding:5px;
	background-color:white;
	display:none;
	font-weight:bold;
}
.alertjs {
	padding:10px;
	background-color:#FFC;
	font-weight:bold;
	font-size: 14px;
}
#offre_fbx {
	width:349px;
	height: 185px;
	float:left;
	overflow: hidden;/**/
}
#fbx_detail {
	width:150px;
	height: 185px;
	float:left;
	overflow: hidden;/**/
}
#da_exclus {
	width:129px;
	height:92px;
	overflow: hidden;/**/
	float:left;
	display:block;
}
#degroup {
	width:129px;
	height:92px;
	overflow: hidden;/**/
	float:left;
	display:block;
}
#tabz {
	padding-top:10px;
}
.mini {
	font-size:11px;
	font-weight:normal;
}
#tabz ul, #fenetre ul {
	margin:0;
	padding:0;
}
#tabz ul.head li h3 {
	font-size:18px;
	font-weight:bold;
	width:100%
}
#tabz ul.head li {
	list-style:none;
	margin-top:10px;
	float:left;
}
#tabz ul.head li a {
	font-size:14px;
	font-weight:bold;
	padding:5px;
	border:3px solid #E0E0E0;
	float:left;
	background: white;
	width:300px;
	height:37px;
	border-bottom:3px solid #CCC;
	display:block;
	color: #999;
	line-height: 18px;
}
#tabz ul.head li a.selected {
	border:3px solid #CCC;
	height:40px;
	border-bottom:none;
	color:#666
}
#tabz div.tab {
	height:150px;
	background: white;
	width:932px;
	border:3px solid #ccc;
	border-top:none;
	padding:5px;
	overflow: hidden;
	display:block;
	float: left;
}
#tabz div.tab ul {
}
#tabz div.tab li {
	list-style:none;
	float:left;
}
#tabz div.home_elm {
	width:150px;
	padding:5px;
	padding-top:55px;
	float:left;
	display:block;
	line-height:normal;
}
#tabz div.home_elm_hover {
	position:relative;
	width:186px;
	height:5px;
	background-color:red;
	display:none;
	left:-18px;
}
#tabz div.tab div.home_elm {
	list-style:none;
	display:block;
	margin-left:0px;
	background: transparent url(tabz.png) no-repeat;
	padding: 55px 18px 10px 18px;
}
#tabz div.tab div.home_elm a {
	text-decoration:underline;
	color:red;
}
#bloc_promo {
	width:933px;
	margin:auto;
	height:198px;
	background: white;
	border:3px solid #ccc;
	margin-top:20px;
	margin-bottom:30px
}
.scroller {
	float:left;
	width:35px;
	height:198px;
	vertical-align:middle;
	overflow:hidden;
	cursor:crosshair;
}
#left {
	width:0px;
	background: url(masymas.png) no-repeat left top;
}
#left a {
	margin:auto;
	vertical-align:middle;
}
#fenetre {
	float:left;
	width:895px;
	height:198px;
	overflow: hidden;
	position:relative;
}
#right {
	float:right;
	background: url(masymas.png) no-repeat -35px top;
}
#slides {
	height:200px;
	width:1800px;
	position:relative; /*left:-10px;*/
	top:0px;
	overflow:hidden;
}
#slides li {
	list-style:none;
	width:190px;
	height:190px;
	margin-left:20px;
	float:left;
	display:block;
	padding:5px
}
#inscription > div {
	padding-left:35px;
}
div.gimmemo {
	display:none;
	position:absolute; /*left:360px; top:-4px; */
	height:44px;
	width:332px;
	z-index:9999;
	background:white;
	padding:5px;
	overflow:hidden;
	clear:both;
	line-height:normal;
	border-left:none
}
div.gimmemo ul {
	margin:0;
	padding:0px;
}
div.gimmemo ul li {
	background: url(list-arrow-red.png) no-repeat 0px 8px;
	line-height: 15px;
	margin-left: 15px;
	padding-left: 10px;
}
div.gimmemo h3 {
	color:#C00;
	font-size:14px;
	font-weight:bold;
}
div.A {
	border:4px solid #C00;
	border-left:none
}
div.B {
	border:4px solid #CCC;
	border-left:none
}
div.C {
	border:4px solid #DFDFDF;
	border-left:none
}
.hidden {
	display:none;
}
#flashsrc_container {
	display: block;
	width: 620px;
	visibility: visible;
	position:absolute;
	z-index:9999;
	display:none;
	border:4px solid #E0E0E0;
	background-color:white;
}
#flashsrc_title_inner span.left {
	float:left
}
#flashsrc_title_inner span.right {
	float:right
}
#flashsrc_body img {
	margin:0;
	padding:0;
}
#flashsrc_body_inner {
	height: 488px;
	display: block;
	margin:0px;
	padding:0px;
}
#flashsrc_toolbar_inner {
	margin-top: 0px;
}
#flashsrc_nav_close {
}
/*-------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
			[2. Colonne gauche]
		*/
		
		#content .content-left {
	float: left;
	width: 550px;
	margin-top: 15px;/*temporaire rodolphe*/
}
/*-----------------------------------------------------------------------------
			[2.1 Header]
		*/
		
		#content .header {
	background: url(header.png) no-repeat;
	height: 150px;
	width: 534px;
}
#content .header span {
	display: none;
}
/*-----------------------------------------------------------------------------
			[2.2 Colonne gauche gauche]
		*/
		
		#content .content-left .content-left-left {
	float: left;
	width: 300px;
}
/*-----------------------------------------------------------------------------
			[2.2.1 Ligne fixe]
		*/
		
		
#ligne-tel {
	height:54px;
	display:block;
	border:4px solid #C00;
	background: transparent url(ligne-tel.png) repeat-x left top;
	overflow:visible;
	cursor:crosshair;
}
#ligne-tel h2 {
	background: url(ligne-tel.png) no-repeat top right;
	height: 21px;
	margin-bottom: 10px;
}
#ligne-tel h2 span {
	display: none;
}
#ligne-tel form {
	background: #fff;
	margin: auto;
	margin-top: 0px;
	padding: 2px;
	text-align: left;
	width: 270px;
	margin-right:10px;
}
#ligne-tel form input {
	float: left;
}
#ligne-tel form .form-input {
	background: #fff;
	border: 1;
	font-size: 18px;
	height: 20px;
	line-height: 20px;
	width: 110px;
}
#ligne-tel form .form-button {
	background: url(test-votre-ligne.png) no-repeat;
	height: 27px;
	width: 133px;
	float:right;
}
#ligne-tel form .form-button:hover {
	background: url(test-votre-ligne_hover.png) no-repeat;
}
/*-----------------------------------------------------------------------------
			[2.2.2 Pas de ligne fixe]
		*/
		
#pas-ligne {
	height:54px;
	border:4px solid #CCC;
	background: transparent url(ligne.png.1) repeat-x left top;
	overflow:visible;
	cursor:crosshair;
}
#pas-ligne h2 span {
	display: none;
}
#pas-ligne span {
	float:left;
	margin-top: 14px;
	font-size: 18px;
	color:#999999;
	padding-left:10px;
}
#pas-ligne a.ouvrir-une-ligne-button {
	background: url(ouvrir-une-ligne.png) no-repeat;
	border: 1px solid #ccc;
	display: block;
	float: right;
	height: 27px;
	width: 130px;
	margin-top: 10px;
}
#pas-ligne a.ouvrir-une-ligne-button:hover {
	background: url(ouvrir-une-ligne_hover.png) no-repeat;
}
#pas-ligne a.ouvrir-une-ligne-button .hidden {
	display: none;
}
/*-----------------------------------------------------------------------------
			[2.2.3 Besoin d'aide]
		*/
#telephone {
	height:54px;
	background: transparent url(ligne.png.1) repeat-x left top;
	overflow:visible;
	border:4px solid #DFDFDF;
	cursor:crosshair;
}
#telephone h2 {
	background: url(telephone.png.1) no-repeat top right;
	height: 21px;
}
#telephone h2 span {
	display: none;
}
#telephone span {
	float:left;
	margin-top: 14px;
	font-size: 18px;
	color:#999999;
	padding-left:10px
}
#telephone span.num {
	float:left;
	margin-top: 14px;
	font-size: 25px;
	color:#c00;
	padding-left:10px
}
#telephone a {
	color: #dd0000;
}
#telephone a:hover {
	text-decoration: underline;
}
/*-----------------------------------------------------------------------------
			[2.2.4 Collectivités]
		*/
		
		#collectivite {
	font-size: 0.9em;
}
#collectivite a {
	color: #dd0000;
}
#collectivite a:hover {
	text-decoration: underline;
}
/*-----------------------------------------------------------------------------
			[2.3 Colonne gauche droite]
		*/
		
		#content .content-left .content-left-right {
	float: left;
	margin-top: 15px;
	padding-left: 30px;
	width: 190px;
}
/*-----------------------------------------------------------------------------
			[2.3.1 Free en 2 min]
		*/
		
		#free-en-2-min {
	background: url(video.png) no-repeat;
	display: block;
	height: 134px;
	margin: auto;
	margin-bottom: 10px;
	width: 174px;
}
#free-en-2-min .hidden {
	display: none;
}
/*-----------------------------------------------------------------------------
			[2.3.2 20 exclusivités]
		*/
		
		#exclus {
	background: url(20-exclusivites.png) center center no-repeat;
	border: 1px solid #e6e6e6;
	display: block;
	height: 90px;
	margin: auto;
	width: 168px;
}
#exclus span {
	display: none;
}
/*-----------------------------------------------------------------------------
			[2.3.2 20 Fibre optique]
		*/
		
		#fibre-optique {
	background: url(fibre-optique-100-mega.png) center center no-repeat;
	display: block;
	height: 134px;
	margin: auto;
	margin-bottom: 10px;
	width: 174px;
}
#fibre-optique span {
	display: none;
}
/*-----------------------------------------------------------------------------
			[2.3.3 boutons]
		*/
		
		#content .content-left-right .links {
	border: 1px solid #e6e6e6;
	display: block;
	height: 20px;
	margin: 7px auto 7px auto;
	padding: 2px;
	width: 170px;
}
/*-----------------------------------------------------------------------------
			[3. Widgets]
		*/
		
		#content .widget {
	text-align: left;
}
#content .widget .inner {
	background-position: 10px 0px;
	background-repeat: no-repeat;
}
#content .widget .inner h1 {
	background-repeat: no-repeat;
	height: 22px;
}
#content .widget .inner h1 span {
	display: none;
}
#content .widget .inner {
	padding-left: 90px;
}
#content .widget .inner ul, #content .widget .inner ul li {
	margin: 0;
	padding: 0;
}
#content .widget .link {
	color: #dd0000;
	font-weight: bold;
}
/*-----------------------------------------------------------------------------
			[4. Colonne droite]
		*/
		
		#content .content-right {
	float: right;
	padding: 0px 0pt 0pt 60px;/* padding: 40px 0pt 0pt 60px; modifié rodolphe 11/12/2008*/
	width: 340px;
}
#content .content-right .widget {
	border-bottom: 4px solid #e6e6e6;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
#content .content-right #rodolphe {/*modifié rodolphe 11/12/2008*/
	border-bottom: 4px solid #e6e6e6;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
#content .content-right .last {
	border-bottom: 0;
}
/*-----------------------------------------------------------------------------
			[5. Bottom]
		*/
		
		#content .content-bottom {
	clear: both;
	margin-bottom:20px;
}
#content .content-bottom .widget {
	background: url(bg-box.png) repeat-x bottom left;
	border: 1px solid #eaeaea;
	float: left;
	height: 165px;
	margin: 4px; /*padding: 7px;*/
	width: 226px;
}
#content .content-bottom .widget:hover {
	border: 1px solid #FF0000;
}
#content .content-bottom .widget .inner {
	background-position: 0px 0px;
	padding:0;
	margin:0;/*padding-left: 70px;*/
}
/*Rodolphe coucou!-----------------------------------------------------------------
			#top-menu-main {
	background: transparent url(../../im/components/accueil/home/rodolphe_bg.jpg ) no-repeat bottom right;
}
#rodolphe {
	width:338px;
	height:30px;
	margin-left:2px;
	background: transparent url(../../im/components/accueil/home/rodolphe_btn.png ) no-repeat top right;
	float:right;
}
#rodolphe:hover {
	width:338px;
	height:30px;
	margin-left:2px;
	background: transparent url(../../im/components/accueil/home/rodolphe_btn_hover.png ) no-repeat top right
}
#rodolphe span {
	display: none;
}*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/	


/* Import des styles pour les menus */
		
		
		/*-----------------------------------------------------------------------------
		    [Gestion des menu/sous-menu]
		-----------------------------------------------------------------------------*/
		
		
		/* Avtivation du menu nav */
		#top-menu-nav a.freebox {
	color: #dd0000;
	text-decoration: none;
}
/* Activation du menu principal */
		#top-menu-main-accueil {
	background-image: url(accueil_active.png);
}
#top-menu-main-accueil:hover {
	background-image: url(accueil_active.png);
}
#widget-bloc-promo-4 ul {
	padding:0px;
	margin:0px;
}
