
.ad_zone_contentad {
  width:300px;
  margin-left:20px;
  margin-bottom:16px;
  display:none;
  }
.ad_badge {
  border-top: 1px solid #9e9e9e;
  }
.ad_core {
  overflow:hidden;
  }


/* zone individual styles */

#adition_zone_banner {
  width:990px;
  max-height:90px;
  text-align:right;  
  margin-bottom:9px;
  }
#adition_zone_banner img {  display:inline;  }

#adition_zone_sky {
  position:absolute; top:0px; left:1000px;
  }
