/* see http://www.oswt.co.uk/xhtml_css_layouts/ for more compatible templates*/ 
html, body {
  font-family: verdana, arial;
  font-size: 10px;
  padding:0;
	margin:0;
}
body{
  color: #4d4d4d;
	background: url('texture_background.gif');
}

#container{
  width:1000px;
  margin:0 auto;
  background: url('container_background.gif');
  padding-bottom: 20px;
}
#wrapper{
  float: left;
  width: 100%;
}
#wrapper2{
  background: url('colonnes_background.gif');
}
#content{
  margin-left: 220px;
  margin-right: 220px;
}
#navigation{
  float:left;
  width:223px;
  margin-left:-1000px;
  height: 100%;
}
#extra{
  float:left;
  width:208px;
  margin-left:-208px;
}
#footer{
  clear:left;
  width: 100%;
}

/*inBox styles */
#header{
  width:1000px;
  margin:0 auto;
	padding: 0;
	padding-top: 9px;
  background: url('head.gif') bottom right no-repeat;
  height: 59px;
  }
  #header #titre {
    height: 50px;
    width: 750px;
    float: left;
    }
    #header #titre h1 {display: none}
  #header #date{
    margin: 0;
    padding: 0;
    text-align: right;
    font-weight: bold;
    padding: 8px;
    margin-right: 20px;
  }
  #header #search{
    margin: 0;
    padding: 0;
    text-align: right;
    margin-right: 10px;
    margin-top: 2px;
  }
  #header #search form{
      margin: 0;
      padding: 0;
    }
    #header #search input{
       /*bouton de soumission*/
       margin: 0;
       padding: 0;
       font-size: 10px;
       border: none;
       font-weight: bold;
       background: transparent;
    }
    #header #search #query{
      /* boite de saisie*/
       font-size: 10px;
       border: 1px solid #C6C4C7;
       border-bottom: 2px groove #C6C4C7;
       font-weight: normal;
       background: white;
    }

#banneer{
  margin: 0;
  padding: 0;
  width: 994px;
  height: 99px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 9px;
}
#menu_container{
  font-weight: bold;
  color : #fff;
  background: url('bloc_menu.gif');
  }
  #menu_container #home{
    float: left;
    margin-left: 5px;
    margin-top : 3px;
    /*margin-bottom : 2px;*/
  }
  #menu_container #fleche_menu_gauche{
    margin-left: 5px;
    margin-top : 3px;
  }
  #menu_container #fleche_menu_droite{
    margin-left: 5px;
    margin-top : 3px;
  }
  #menu_container #lang{
    margin-left: 10px;
    margin-top: 3px;
    padding-left: 115px;    
    height: 15px;
    }
    #menu_container #lang a{
      display: inline;
    }
    
#content #path{
    color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    height: 17px;  
  }   
  #content #path a{
    color: white;
    font-size: 10px;
    text-decoration: none;
  }
  #content #path h2.titre_contenu{
    display: inline;
    margin: 0;
    padding: 0;
    padding-top: 3px;
    padding-right: 5px;
    font-size: 10px;
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform : uppercase;
  }
  #content #path div{
    height: 47px;  
  }
  #content #path div.titre_path{
    margin: 0;
    padding: 0;
    padding-top: 3px;
    padding-left: 5px;
    background: url('en_tete_path.gif') top left repeat-x; 
  }     
  
#navigation #pad{
  margin: 0;
	margin-left: 8px;
	margin-right: 15px;
  padding: 0;
  padding-bottom: 100px;
  background: #F3F0D9 url('FG.jpg') top left;
  }
  #navigation #pad h2{
    font-size: 12px;
    height: 17px;
    margin: 0;
    padding:0;
    padding-top: 2px;
    padding-left: 8px; 
    color: white;
    }
    #navigation #pad h2 a{
      color: white;
    }
  #navigation #pad a{
    color: #898045;
    text-decoration: none;
    font-weight: bold;
  }
  
  #navigation #pad .folder_top_select{
    margin: 0;
    padding: 0;
    background: url('bloc_pad_top_select.gif') top left no-repeat;
    margin-top: 4px;
    height: 4px;
  }
  #navigation #pad .folder_select{
    margin: 0;
    padding: 0;
    background: url('bloc_pad_select.gif') top left repeat-y;
  }
  #navigation #pad .folder_bottom_select{
    margin: 0;
    padding: 0;
    /*background: url('/images/style/bloc_pad_bottom_select.gif') top left no-repeat;*/
    margin-bottom: 4px;
    height: 4px;
  }
  
  #navigation #pad .folder_top{
    margin: 0; 
    padding: 0;
    background: url('bloc_pad_top_abaisse.gif') top left no-repeat;
    margin-top: 4px;
    height: 4px;
  }
  #navigation #pad .folder{
    margin: 0;
    padding: 0;
    background: url('bloc_pad_abaisse.gif') top left repeat-y;
  }
  #navigation #pad .folder_bottom{
    margin: 0;
    padding: 0;
    background: url('bloc_pad_bottom_abaisse.gif') top left no-repeat;
    margin-bottom: 4px;
    height: 4px;
  }
  
  #navigation #pad .sub_folder_top{
    margin: 0; 
    padding: 0;
    /*
    background: url('/images/style/bloc_pad_top_abaisse.gif') top left no-repeat;
    margin-top: 4px;
    height: 4px;
    */
  }
  #navigation #pad .sub_folder{
    margin: 0;
    padding: 0;
    padding-top: 4px;
    padding-left: 15px;
    padding-bottom: 4px;
    background: url('bloc_pad_select.gif') top left repeat-y;
  }
  #navigation #pad .sub_folder_bottom{
    margin: 0;
    padding: 0;
    /*
    background: url('/images/style/bloc_pad_bottom_abaisse.gif') top left no-repeat;
    margin-bottom: 4px;
    height: 4px;
    */
  }


  #navigation #pad .content{
    margin-top: 4px;
    margin-bottom: 4px;
  }
  #navigation #pad .sub_content{
    margin-top: 4px;
    margin-bottom: 4px;
    }
    #navigation #pad .sub_content a{
      color: #B1A96B;
      padding-left: 15px;
      text-decoration: none;
      font-weight: bold;
    }
    
  #navigation #pad .button{
    min-height: 20px;
  }
  #navigation #pad .button img{
    margin-right: 5px;
  }
  
#extra #util{
  width: 200px;
	margin-right: 8px;
	background: #F3F0D9 url('FD.jpg') top left;
  }
  #extra #util h2{
    font-size: 12px;
    height: 17px;
    text-align: right;
    margin: 0;
    padding:0;
    padding-top: 2px;
    padding-right: 8px; 
    color: white;
  }
  #extra #util a{
    color: #49483C;
    text-decoration: none;
    font-weight: bold;
  }
  #extra #util ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    padding-left: 0;
  }
  #extra #util ul li{
    list-style-type: none;
    text-align: right;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  #extra #util div{
    background: #F3F0D9;
    margin-bottom: 10px;
    }
    #extra #util #pratique h2{
      background: url('en_tete_util_pratique.gif') top left no-repeat;
    }
    #extra #util #media h2{
      background: url('en_tete_util_media.gif') top left no-repeat;
    }
    #extra #util #sesame h2{
      background: url('en_tete_util_sesame.gif') top left no-repeat;
    }
    #extra #util #vienauvergne h2{
      background: url('en_tete_util_vienauvergne.gif') top left no-repeat;
    }

#foot{
  width:1000px;
  margin:0 auto;
	padding: 0;
	padding-top: 10px;
	height: 30px;
	background: url('foot.gif') top left no-repeat;
  }

  #foot #shortcuts{
    float: left;
    margin-top: 6px;
    margin-left: 10px;
  }
  #foot #webring{
    margin-top: 6px;
    float: left;
  }
  #foot #social{    
    float: left;
  }
  #foot #logo_uda{
    
  }
/* general styles */
a img,:link img,:visited img{border: none;}
a {color: #CA5507}
a:hover {}
input{}
.pager{}
.map{list-style-type: none;}
.search_results{}
#list_open_folder{
  margin: 0;
  padding: 0;
}
#child_folders li, #child_contents li, #open_folder li{ 
  margin: 8px; 
  list-style-type: none;
}
.description{
  margin: 0;
  padding: 0;
  }
  .description p{
    margin: 0;
    padding: 2px;
  }
.note_container{
  height: 35px;
  text-align: right;
  }
  .note_container .note{
    float: right;
    margin: 3px;
    padding: 2px;
    width: 170px;
    text-align: right;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid gray;
    background: #E2DFFF;
  }
.odd{
  background: #eeeeee;
  border: 1px solid #cccccc;
  border-left: none;
  border-right: none;
}
.paire{
  background: #ffffff;
  border: 1px solid #cccccc;
  border-left: none;
  border-right: none;
}
h3{
  font-size: 16px;
  font-weight: bold;
  color: #3c3924;
  border-bottom: 1px solid #3c3924;
} 
h4{
  color: #3c3924;
  font-size: 12px;
  font-weight: normal;
  color: #000000;
}
h5{} 
h6{}
