/*-------------------------------------------------------------------------------------------------*/
/*
______________________
ACTIVEPORTAIL - COULEUR
______________________
Version 4.4
Feuille de style ActivePortail
_________________________________________________________

*/

h1{
color:#5c033e;
}

h2{
color:#5c033e;
}

h3{
color:#5c033e;
}

a{
color:#5c033e;
}

a:hover{
color:#666666;
}

#barre_utilisateur{
color:#ffffff;
}

#barre_utilisateur a{
color:#d5d5d5;
}

#ariane a {
color:#5c033e;
}

.titre_article{
color:#5c033e;
}

#menu_n1 li a:hover{
color:#000000;
}

#menu_n1 li a.selected{
color:#5c033e;
}

#menu_n2 li li{
background:url('menu_n2_puce_verte.gif') no-repeat 10px 13px;
margin:0px;
}

#menu_n2 li li a{
color:#5c033e;
}

#menu_n2 li li a:hover{
color:#999999;
}

.bloc_droite h1{
color:#5c033e;
}

.bloc_droite a.voir{
color:#000000;
}

.bloc_droite p.ligne_bloc_droite{
background:url('bloc_droite_puce_violet.gif') no-repeat left 13px;
}

.bloc_droite a{
color:#000000;
}

.libelle{
color:#5c033e;
}

.table_article li{
background:url('bloc_droite_puce_violet.gif') no-repeat 20px 5px;
}

/* STYLES TINY MCE */

.tiny_contact{
background:url('tiny_puce_contact.gif') no-repeat top left;
padding:0px 0px 0px 20px;
color:#000000;
}

.tiny_soustitre{
background:url('tiny_puce_violet.gif') no-repeat left 4px;
padding:0px 0px 0px 20px;
font-size:12px;
font-weight:bold;
color:#000000;
}

.tiny_titre{
font-size:14px;
font-weight:bold;
color:#777777;
}