/* ACTUALITES */

.actualites{
overflow:auto;
width:100%;
}

.actualites .bloc_contenu{
overflow:auto;
padding:0px 10px 10px 10px;
}

.actualites h2{
color:#e50049;
font-size:24px;
border:none;
margin:0px;
padding:10px 10px 0px 10px;
}

.actualites .article{
overflow:auto;
padding:10px 0px;
border-bottom:solid 1px #d4d4d4;
}

.actualites p.titre{
color:#000000;
font-size:14px;
margin:0px 0px 10px 0px;
font-weight:bold;
}

.actualites p.texte{
color:#000000;
font-size:12px;
margin:0px;
font-weight:normal;
}

.actualites img{
float:left;
width:120px;
height:90px;
background:#dddddd;
margin-right:10px;
}

/* EN LIGNE */

.en_ligne{
overflow:auto;
width:100%;
background:#eeeeee;
}

.en_ligne .bloc_contenu{
overflow:auto;
padding:0px 10px 10px 10px;
}

.en_ligne h2{
color:#e50049;
font-size:24px;
border:none;
margin:0px;
padding:10px 10px 0px 10px;
}

.en_ligne .article{
overflow:auto;
padding:10px 0px;
border-bottom:solid 1px #d4d4d4;
}

.en_ligne p.titre{
color:#000000;
font-size:14px;
margin:0px 0px 10px 0px;
font-weight:bold;
}

.en_ligne p.texte{
color:#000000;
font-size:12px;
margin:0px;
font-weight:normal;
}

.en_ligne img{
float:left;
width:120px;
height:90px;
background:#dddddd;
margin-right:10px;
}

/* ANJOU ECO */

.anjou_eco{
overflow:auto;
width:100%;
border-bottom:solid 1px #ffffff;
}

.anjou_eco .bloc_contenu{
overflow:auto;
padding:10px 0px;
}

.anjou_eco h2{
color:#ffffff;
font-size:24px;
border:none;
margin:0px;
padding:10px 0px 0px 0px;
}

.anjou_eco img{
display:block;
width:210px;
height:140px;
background:#dddddd;
}

.anjou_eco p{
color:#ffffff;
font-size:12px;
}

/* KIOSQUE */

.kiosque{
overflow:auto;
width:100%;
border-bottom:solid 1px #ffffff;
}

.kiosque .bloc_contenu{
overflow:auto;
padding:10px 0px;
}

.kiosque h2{
color:#ffffff;
font-size:24px;
border:none;
margin:0px;
padding:10px 0px 0px 0px;
}

.kiosque p{
color:#ffffff;
font-size:12px;
margin:10px 0px;
}

.kiosque a.newsletter{
color:#ffffff;
font-size:12px;
text-decoration:none;
background:url('ico_newsletter.gif') no-repeat center left;
padding-left:20px;
}

.kiosque a.annuaire{
color:#ffffff;
font-size:12px;
text-decoration:none;
background:url('ico_annuaire.gif') no-repeat center left;
padding-left:20px;
}

.kiosque a.rss{
color:#ffffff;
font-size:12px;
text-decoration:none;
background:url('ico_rss.gif') no-repeat center left;
padding-left:20px;
}

/* PUB */

.pub{
overflow:auto;
width:100%;
border-bottom:solid 1px #ffffff;
}

.pub .bloc_contenu{
overflow:auto;
padding:10px 0px;
}

.pub img{
display:block;
width:210px;
height:140px;
background:#dddddd;
}

/* SONDAGE */

.sondage{
overflow:auto;
width:100%;
border-bottom:solid 1px #e50049;
}

.sondage .bloc_contenu{
overflow:auto;
padding:10px 0px;
}

.sondage h2{
color:#e50049;
font-size:24px;
border:none;
margin:0px;
padding:10px 0px 0px 0px;
}

.sondage p.question{
color:#000000;
font-size:12px;
margin:0px;
padding:5px 0px;
font-weight:bold;
}

.sondage p.reponse{
color:#000000;
font-size:12px;
margin:0px;
padding:5px 0px;
font-weight:normal;
}

/* VIDEO */

.video{
overflow:auto;
width:100%;
border-bottom:solid 1px #e50049;
}

.video .bloc_contenu{
overflow:auto;
padding:10px 0px;
}

.video h2{
color:#e50049;
font-size:24px;
border:none;
margin:0px;
padding:10px 0px 0px 0px;
}

/* BLOC DROITE */

.bloc_droite{
overflow:auto;
width:100%;
background:url('bloc_droite_haut_bg.gif') no-repeat top left;
margin:0px 0px 20px 0px;
}

.bloc_droite .bloc_contenu{
clear:both;
overflow:auto;
padding:0px 10px;
background:url('bloc_droite_bas_bg.gif') no-repeat bottom left;
}

.bloc_droite h1{
float:left;
width:110px;
color:#93a800;
font-size:18px;
border:none;
margin:0px;
padding:10px 10px;
line-height:20px;
}

.bloc_droite a.voir{
float:right;
width:60px;
color:#93a800;
font-size:12px;
border:none;
margin:0px;
padding:10px 0px;
line-height:20px;
text-decoration:none;
}

.bloc_droite p.ligne_bloc_droite{
color:#000000;
margin:0px;
padding:10px 0px 10px 10px;
background:url('bloc_droite_puce_verte.gif') no-repeat left 13px;
border-bottom:solid 1px #d7d7d7;
}

/* ARTICLE */

.article{

}

.article h1{
font-size:22px;
font-weight:normal;
color:#93a800;
}

.article p.soustitre{
font-weight:bold;
color:#777777;
font-size:14px;
}

.article p.puce_verte{
background:url('article_puce_verte.gif') no-repeat left 3px;
padding-left:20px;
color:#000000;
font-size:12px;
}

.article p.puce_grise{
background:url('article_puce_grise.gif') no-repeat left 0px;
padding-left:20px;
color:#000000;
font-size:12px;
}



