div#access_partenaires li { margin-bottom:10px; } 
div#access_partenaires li a { font-size:1.2em ; }
div#access_partenaires li strong { color:#555;}
div#access_partenaires fieldset { background:white; border:1px solid #669; padding:15px;  } 


div#access_offres  ul { margin:0; padding:0; } 
div#access_offres  ul li { list-style:none;  margin-bottom:20px; margin-left:10px; padding:0;  border-left:5px solid #f90;}
div#access_offres  ul li ul li  { list-style:disc inside; color:#f90; margin-bottom:4px; margin-left:0px; border-left:none;   background:none; }
div#access_offres  ul li div { margin-left:10px; } 
div#access_offres  fieldset { background:white; border:1px solid #669; padding:15px;  }
div#access_offres  fieldset p { margin:3px 0; }
div#access_offres  fieldset h3 { color:#f90; }
div#access_offres  li h2 { float:left; text-align:left; margin:0; padding:4px 0; font-size:1.3em; font-weight:bold; }
div#access_offres  li h2 a { margin:0; padding:0; }
div#access_offres  li img.fleche {float:left; padding:0; margin:0; }
div#access_offres  li blockquote { margin:0 0 0 10px ; }
div#access_offres  input.input_int { width:100px; }
div#access_offres  label { display:inline; font-weight:normal; }
div#access_offres  input.input_checkbox { border:none; } 

div#access_offres div.encadre {padding:1em; }
div#access_offres div.encadre ul.accessmenu li { border:none; list-style:disc inside; margin:0.4em 0 0.8em  0.8em; }
div#access_offres div.encadre h4 { font-size:1.2em; margin:0.5em 0 1em 0; }
div#access_moncompte fieldset { background:white; border: 1px solid #669; padding:10px 30px; margin:0;  }
div#access_moncompte fieldset label { margin:0; } 
div#access_moncompte  h3 { color: #f90; }
div#access_moncompte  input.input_text { width:180px; }
div#access_moncompte  select { width:335px; } 

div#access_voir_inscrits ul { margin:0 0 0 10px; padding:0; }
div#access_voir_inscrits  li  { list-style:none; margin-bottom:15px; }



