
#guide_des_aides { width: 600px; padding: 10px; }


/*************** guide des aides *************/
#guide_des_aides_liste  ul  { margin:0; padding:0; }
#guide_des_aides_liste  ul { margin-left:8px; }
#guide_des_aides_liste  li {  list-style:disc; color:#FF9900;  text-align:justify;  margin:3px 0 3px 20px; padding:5px; } 
#guide_des_aides_liste  ul ul li { list-style:disc; color:#444; margin:3px 0 3px 10px; padding:0;  border:none;}
#guide_des_aides_liste  li p.links { display:block; text-align:right; }
#guide_des_aides_liste  li p a { display:inline;  }
#guide_des_aides_liste  li p { color:#333; }
#guide_des_aides_liste  h4 { border:none; }
#guide_des_aides_liste  h2 {  font-size:1.4em; color:#333; font-weight:bold; border-bottom:2px solid #FF9900; margin-top:20px;  }
#guide_des_aides_liste  h3 { margin:8px 0 0 5px; padding:0;  }
#guide_des_aides_liste  h3 img { margin:0; padding:0; }
#guide_des_aides_liste  strong  { border:none; font-size:1em; font-weight:bold;  padding:0; margin:3px 0;  color:#333; }
/*#guide_des_aides_liste  a { text-align:right; width:100%; margin:5 0 px; }*/

#guide_des_aides_liste blockquote { margin:3px 0 0 15px; }


#guide_des_aides_fiche h1 {
	font-size: 1.4em;
	border-bottom-width:0;
}
#guide_des_aides_fiche h2 {
	font-size: 1.3em; color:#555; font-weight:bold;
	border-bottom-width:0;
}

#guide_des_aides_fiche h2 { padding:0; margin:25px 0 5px 0; }
#guide_des_aides_fiche h3 { font-size: 1.2em; padding:0; margin:10px 0 0 0; border-bottom:1px solid #faa34e; }
#guide_des_aides_fiche ul,
#guide_des_aides_fiche ol { padding:0; margin:0 0 0 8px; }
#guide_des_aides_fiche li { padding:0; margin:5px 0 0 16px; list-style:disc;}
#guide_des_aides_fiche p { margin:3px 0 3px 10px; }
#guide_des_aides_fiche ul ul li { list-style:square; color:#222; margin:2px 0 2px 10px; padding:0;  border:none;}


#guide_des_aides_fiche div.download  { clear:none; }
#guide_des_aides_fiche .download li { list-style:none; margin:3px 0 3px 10px; padding:5px 0; }
#guide_des_aides_fiche .download h3 {margin-left:0.8em; }

#guide_des_aides_formulaire ul  { margin:0.2em 0.5em 1em 1em; padding:0 0.5em; }
#guide_des_aides_formulaire li {  list-style:disc; color:#FF9900;  }
 

#guide_des_aides.formulaire LABEL{
	display:inline;
	font-size:0.7em;
	font-weight:bold;
	margin-bottom:0.2em;
	color:red;
}
#guide_des_aides.formulaire SELECT{
	font-size:0.7em;
	margin-bottom:2em;
}

#guide_des_aides_choix_ve,
#guide_des_aides_choix_di { width:350px; }

div.formulaire {
	position:absolute;
	left:20px;
	top:150px;	
}
div.liste {
	position:absolute;
	top:150px;
}
div.fiche {
	position:absolute;
	top:150px;
}

#guide_des_aides_fiche  fieldset, #guide_des_aides_liste  fieldset,#guide_des_aides_formulaire fieldset {  background-color:#f3f3f3; } 
#guide_des_aides_fiche  fieldset p , #guide_des_aides_liste  fieldset p { margin:0.2em 1em; } 

#guide_des_aides_formulaire fieldset { display:inline; float:left; width:350px; padding:8px; }
#guide_des_aides_formulaire li { list-style:disc; } 
#guide_des_aides_formulaire label { display:inline; } 
#guide_des_aides_formulaire input.input_radio { margin-left:12px; } 


div#guide_des_aides_liste p.surtitre { padding:0; display:inline;  margin:3px 0;  font-size:1.2em; color:#555; }



div#gda_basket { border:1px solid #f90; padding:0; background-color:#fbfbfb; }
div#gda_basket.vide { visibility:hidden; }
div#gda_basket h3 { margin:0; background-color:#fc3; border-bottom:1px solid #f90; 
                     text-align:center; font-size:1.1em; font-weight:bold; color:#333; padding:0.2em;}
div#gda_basket div#gda_basket_contenu  { padding:0.5em; font-size:1em; margin:0; }
div#gda_basket div#gda_basket_contenu ul li.actif a { color:#ED2B36;}
div#gda_basket div#gda_basket_contenu ul {border-bottom:1px solid #f90; margin-bottom:0.3em;}

div#gda_basket div#baskettools {margin:0; padding:0; }
div#gda_basket div#baskettools a.gnal {margin-left:0.8em;}
div#gda_basket div#baskettools a.gnal img {vertical-align:middle; margin:0 0.2em 0 0;}
div#gda_basket div#basketmsg {margin:0; padding:0; text-align:center;}
div#gda_basket div#basketmsg img {vertical-align:middle; margin:0 0 0 0.3em;}
div.gdaln { margin:0 0 0 1em;}

