<style type="text/css">
<!--
.Style1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
-->
</style>
<body bgcolor="#F0F0F0">  
<marquee class="Style1">
D&eacute;couvrez la <a href="http://www.cannes.aeroport.fr/environnement/environnement.htm" target="_blank">rubrique environnement ici</a><br>
</marquee>
</body>