/******************************************************************************
* bsGrid.css
******************************************************************************/
/* grille neutre */
.bsGrid{
	overflow:hidden;	/*give layout*/
	border-collapse:collapse;
}

.bsGrid > caption{
	text-align:center;
	font-weight:bold;
}

.bsGrid > tbody > tr > th{
	background-color:#C0C0C0;
}

.bsGrid > tbody > tr > th, 
.bsGrid > tbody > tr > td{
	padding : 0em;
}

.bsGrid > tbody > tr > td,
.bsGrid > tbody > tr > th{
	padding: 0.5em;
}

/* grille damier */
.bsChessboardGrid{
	overflow:hidden;	/*give layout*/
	border-collapse:collapse;
}

.bsChessboardGrid > caption{
	text-align:center;
	font-weight:bold;
}

.bsChessboardGrid > tbody > tr > th, 
.bsChessboardGrid > tbody > tr > td{
	padding : 0em;
}

.bsChessboardGrid > tbody > tr > th{
	background-color:#C0C0C0;
}

.bsChessboardGrid > tbody > tr.odd > td.odd{
	background-color:#eee;
}

.bsChessboardGrid > tbody > tr.even > td.even{
	background-color:#eee;
}

.bsChessboardGrid > tbody > tr > td,
.bsChessboardGrid > tbody > tr > th{
	padding: 0.5em;
}


/* grille alternance colonnes */
.bsAlternateColGrid{
	overflow:hidden;	/*give layout*/
	border-collapse:collapse;
}

.bsAlternateColGrid > caption{
	text-align:center;
	font-weight:bold;
}

.bsAlternateColGrid > tbody > tr > th, 
.bsAlternateColGrid > tbody > tr > td{
	padding : 0em;
}

.bsAlternateColGrid > tbody > tr > th{
	background-color:#C0C0C0;
}

.bsAlternateColGrid > tbody > tr > td.odd{
	background-color:#eee;
}

.bsAlternateColGrid > tbody > tr > td,
.bsAlternateColGrid > tbody > tr > th{
	padding: 0.5em;
}

/* grille alternance lignes */
.bsAlternateRowGrid{
	overflow:hidden;	/*give layout*/
	border-collapse:collapse;
}

.bsAlternateRowGrid > caption{
	text-align:center;
	font-weight:bold;
}

.bsAlternateRowGrid > tbody > tr > th, 
.bsAlternateRowGrid > tbody > tr > td{
	padding : 0em;
}

.bsAlternateRowGrid > tbody > tr > th{
	background-color:#C0C0C0;
}

.bsAlternateRowGrid > tbody > tr.odd{
	background-color:#eee;
}

.bsAlternateRowGrid > tbody > tr > td,
.bsAlternateRowGrid > tbody > tr > th{
	padding: 0.5em;
}
