/******************************************************************************
* ishGrid.css
*******************************************************************************

*******************************************************************************
*                                                                             *
* Copyright 2007
*                                                                             *
******************************************************************************/

.ishGrid {
	margin-top:0.5em;
	margin-bottom:0.5em;
	border-collapse:collapse;
}

.ishGrid > tbody > tr > td {
	padding:0.5em;
}

.ishGrid > thead > tr > th {
	padding:0.5em;
}