/* These hieghts and widths should be edited to your images */	
ul#pikame{
	margin:0 auto 0 auto;
	color:#FFFFFF;
	padding-left:0;
	width:450px;
	/*margin:0 auto 0 auto;*/
	z-index:1;}
.pika_main{
	margin:0 auto 0 auto;
	color:#FFFFFF;
	width:450px;
	padding-right:0;
	/*margin:0 auto 0 auto;*/}
ul#pikame li{
	list-style:none;
	color:#FFFFFF;
	margin : 5px 0 0 20px;
	padding:0 10px 0 0;
	float:left;
	z-index:1;}
/* thats all you NEED to edit. But continue if you'd like. */
ul#pikame li img{cursor:pointer;height:42px;}
.pika_main img{border:1px solid #FF9600;}
.pika_main{color:#FFFFFF;}
.pika_subdiv { color:#FFFFFF; }
.pikachoose li{color:#FFFFFF;float:left;position:relative;overflow:hidden;list-style:none;}
.pika_play{position:absolute;top:10px;right:20px;z-index:1;}
.pika_play a{position:relative;margin-left:auto;cursor:pointer;}
.pika_play img{border:none !important;}
.pika_caption {text-decoration:underline;padding:5px;margin-top:-42px;width:440px;height:30px;text-align:left;color:#000000;z-index:1}
.pika_navigation a{font-size: 90%;color:#0092d0;text-decoration: none;}
.pika_navigation a:hover{text-decoration: underline;}
.pika_navigation{padding:10px 0 0 0;clear:both;text-align:center;z-index:1}
