
/****** Général *******/
.noBorder { border:none !important }
.invisible{ display:none }
.lien {
	padding-top:3px;
	margin-left:4px;
}
.relatif { position:relative }
.width45 { width:45px }
.margeLeft5 { margin-left:5px }
.gris { color:#a5a5a5 }
.marginLeft100 { margin-left:100px }
*+html .zIndexNeg,* html .zIndexNeg { z-index:-1 }
*+html .visibilityLow,* html .visibilityLow { visibility:hidden }
.numPageLarge {/*overwrite*/
	float:left;
	width:280px;
	margin-left:210px;
}

.tcenter { text-align:center }
.pointer {cursor:pointer }
.w71 { width:71px }
.w75 { width:75px }
.w65 { width:65px }
.w74 { width:74px }
.w63 { width:63px }
.w45 { width:45px }
.w51 { width:51px }
.w149 { width:149px }
.w420 { width:420px }
.w93 { width:93px }
.PL5 { padding-left:5px}
.PL68 { padding-left:68px }
/************************/





/****** Onglets ******/
.onglets { clear:both }
.clearboth { clear:both }
.onglets .departSelected .onglet {
	background:url(depart_arrivee_03.gif);
	width:93px;
	height:20px;
}
.onglets .arriveeNoSelected .onglet {
	background:url(depart_arrivee_04.gif);
	width:93px;
	height:20px;
}
.onglets .arriveeSelected .onglet {
	background:url(arrivee_depart_03.gif);
	width:93px;
	height:20px;
}
.onglets .departNoSelected .onglet {
	background:url(arrivee_depart_04.gif);
	width:93px;
	height:20px;
}
.onglets .onglet { cursor:pointer }
.onglets p{
	font-size:10px;
	color:#ffffff;
	width:485px;
	margin:-6px 0 0 0;
	padding-left:15px;
}

/************************/




div.sepForm {
	border-bottom:1px solid #cfd0d2;
	margin:8px 0 8px 0;
	width:240px;
	line-height:0;
	font-size:0;
}

div.sepFormLarge {
	border-bottom:1px solid #cfd0d2;
	margin:8px 0 8px 0;
	width:685px;
	line-height:0;
	font-size:0;
}

.cadreBlancBleu{
	background:#e5edf7 url(fond_degrade_03_03.gif) top repeat-x;
	width:702px;
	border:1px solid #DDD;
}
.espaceV_Form {
	margin:5px 0 0 0;
	padding:0 0 5px 5px;
}
.espaceV_Form label { display:block }
.espaceV_Form input, .espaceV_Form select {
	border:1px solid #DDD;
	font-size:12px;
}

.formulaire{
	width:265px;
	margin:5px 0 5px 0;
	position:absolute;
	top:0px;
	left:0px;
	border-right:1px solid #cfd0d2;
}
.recherche_vol{
	margin-left:5px;
}
.fondForm{width:240px;
	height:213px;
	margin:5px 0 5px 0;
	padding-right:15px;
	/*border-right:2px solid #d3d3d3;*/
	position:relative;
	top:0px;left:0px;
}
.conteneurForm{
	position:relative;
}
.infoCentrale{
	width:170px;
	margin:20px 16px 0 0;
}
.infoCentrale p{
	/*margin-top:15px;
	width:160px;
	position:relative;*/
}
.pub{
	width:223px;
	margin:5px 2px 5px 0;
	text-align:center;
}
.pub p{
	margin-bottom:0px;
	text-align:right;
}
.selection{
	position:absolute;
	top:30px;
	left:5px;
	margin-top:5px;
	width:235px;
	border-color:#81a4d7; border-style:solid;
	border-width:2px;
	z-index:50;
}

/***** Bubulle ******/
.bulle {
	position:absolute;
	left:260px;
	top:-15px;
}
* html .bulle { left:255px }
.bulle_haut {
	background:url(infobullebleu_03.gif) no-repeat;
	width:197px;
	height:7px;
	line-height:0;
	font-size:0;
}
.bulle_milieu {
	/*background:url(../../../img/modules/recherche_vol/infobullebleu_05.gif);*/
	background-color:#E5EDF7;
	width:197px;
}
.bulle_bas {
	background:url(infobullebleu_11.gif) no-repeat;
	width:197px;
	height:7px;
	line-height:0;
	font-size:0;
}
.bulle_milieu p {
	width:180px;
	margin:0 auto 0 auto;
	padding:0 0 4px 0;
}
/*********************/




option.lienOrange:hover, option.lienOrangeGauche:hover {
text-decoration: underline
}
option.lienOrange {
font-weight: 700;
color: #ff6600;
font-size: 11px;
text-decoration: none;
padding-left: 6px;
background-image: url("http://www.lyonaeroports.com/styles/themes/images/puce_lien_orange.gif");
background-repeat: no-repeat;
background-position: 0px 5px;
}

.cadreBlancBleu table {
	width:686px;

}
.cadreBlancBleu table tr.content { background-color:#FFF }
.cadreBlancBleu table tr.content td { vertical-align:top; padding:10px 0 10px 0;  }
.cadreBlancBleu table tr.separate { background-color:#e7eef7 ; height:2px; padding:0; font-size:0; line-height:0; margin:0 }

a.detail_volShow, a.detail_volClose {
	background:url(picto_detail_1.gif) no-repeat right;
	color:#ff6600;
	padding:0 16px 0 0;
	text-decoration:none;
	float:right;
	margin:6px 2px 0 0;
	cursor:pointer;
}
a.detail_volClose { background:url(picto_detail_2.gif) no-repeat right; }

* html a.detail_volShow { margin-right:6px }
a.detail_volShow:hover { text-decoration:underline }

* html a.detail_volClose { margin-right:6px }
a.detail_volClose:hover { text-decoration:underline }

a.detail_volCloseLink {
	background:url(picto_detail_3.gif) no-repeat right;
	padding:0 15px 0 0;
	color:#ff6600;
	cursor:pointer;
	float:right;
}

a.detail_volCloseLink:hover { text-decoration:underline }


div.info_vol {
	background-color:#dfeaf7;
	width:585px;
	margin:0 10px 0 0;
	text-align:left;
	padding:10px 20px 10px 20px;
}


span.retard {
	display:block;
	height:18px;
	line-height:18px;
	color:#FFF;
	background-color:#ff7519;
	padding:0 1px 0 1px;
}
* html span.retard { width:45px }
p.detail_titre {
	font-size:14px;
	font-weight:bold;
	margin:0 0 10px 0;
}
p.detail_titre2 {
	font-size:12px;
	font-weight:bold;
	margin:0 0 10px 0;
}
p.detail_date {
	display:block;
	float:left;
	width:290px;
	margin:0;
}
div.detail_horaire {
	display:block;
	float:left;
	width:250px;
	margin:0;
}
div.detail_horaire p { margin:2px 0 2px 0 }

div.detail_separate {
	height:3px;
	background-color:#f4f7fc;
	line-height:0;
	font-size:0;
	margin:10px 0 10px 0;
	width:585px;
}

div#tableOnlgets {
	height:21px;
	float:right;
	margin-top:-9px;
	position:relative;
}

*+html div#tableOnlgets { margin-right:9px }
* html div#tableOnlgets { margin-right:5px }

a.tableOnglet {
	float:left;
	text-decoration:none;
	color:#545454;
	display:block;
	line-height:22px;
	margin-right:1px;
	cursor:pointer;
}
a.tableOnglet:hover { text-decoration:underline }

span.tableOngletLeft {
	background:url(onglettableau_07.gif) no-repeat;
	width:8px;
	height:21px;
	float:left;
	display:block;
}
span.tableOngletMid {
	background:url(onglettableau_08_01.gif) repeat-x;
	height:21px;
	display:block;
	float:left;
}
span.tableOngletRight {
	background:url(onglettableau_09.gif) no-repeat;
	width:8px;
	height:21px;
	float:left;
	display:block;
}
span.tableOngletMid span {
	color:#a5a5a5;
}

.ongletSelect { font-weight:bold }

div#labelOnlgetVols {
	float:left;
	line-height:180%;
	margin-right:5px;
}



span.erreurSaisie {
	float:left;
	color:#FFF;
	margin:2px 0 3px 5px;
	display:block;
	position:relative;
}
* html span.erreurSaisie { margin:0 0 3px 2px; }
span.erreurSaisieLeft {
	background:url(erreursaisie_left.gif) no-repeat;
	width:5px;
	height:22px;
	float:left;
	display:block;
}
span.erreurSaisieMid {
	background:url(erreursaisie_mid.gif) repeat-x;
	height:22px;
	float:left;
	line-height:22px;
	padding:0 4px 0 4px;
	width:220px;
	display:block;
}
span.erreurSaisieRight {
	background:url(erreursaisie_right.gif) no-repeat;
	width:5px;
	height:22px;
	float:left;
	display:block;
}

/*width:490px;*/

div.aucunVol, div.loadingVol {
	background:url(fond_rayures.gif) repeat;
	width:500;
	min-height:75px;
	margin:0 auto 15px auto;
}
* html div.aucunVol { height:75px }
div.aucunVol img {
	float:left;
	margin:15px 0 0 60px;
}
div.aucunVol p {
	width:350px;
	display:block;
	margin:15px 0 4px 8px;
	float:left;
}

div.loadingVol {
	text-align:center;
	padding-top:15px;
}
div.loadingVol img {
	float:left;
	margin-left:120px;
}
div.loadingVol span {
	line-height:40px;
	font-size:14px;
	color:#044870;
	float:left;
	width:300px;
	text-align:left;
	margin:0 0 0 8px;
}