#leftcolumnLocation{width:592px;padding:10px;float:left;}
#rightcolumnLocation{width:335px;padding:10px 0px 10px 13px;float:left;}
#leftcolumnLocation{background:#fff;-moz-border-radius:12px;-webkit-border-radius:12px;-moz-box-shadow:0px 0px 10px #ccc;-webkit-box-shadow:0px 0px 10px #ccc;}
#shippingactivityandregularshippinglineLocation{width:315px;padding:40px 10px 0px 10px;float:left;background:url(top_mvmtnavires.png) no-repeat top left;}
#shippingactivityandregularshippinglineLocation ul.normal li{list-style-type:none;background:url(ul-normal_pink.gif) no-repeat left center;padding-left:12px;}
#shippingactivityandregularshippinglineLocation a.link{text-decoration:none;color:#404142;}
#shippingactivityandregularshippinglineLocation a.link:hover{text-decoration:none;color:#933774;}
#blockbottomLocation{width:335px;height:12px;margin-bottom:12px;float:left;background:#fff;-moz-border-radius-bottomleft:12px;-webkit-border-bottom-left-radius:12px;-moz-border-radius-bottomright:12px;-webkit-border-bottom-right-radius:12px;}
#shippingactivityandregularshippinglineLocation h1.title,#shippingactivityandregularshippinglineLocation .heading-one{color:#933774;}
#shombottomLocation{width:335px;height:45px;float:left;margin-bottom:12px;background:url(shom_bottom.png) no-repeat top left;}
#secondfreecontentrowLocation div.freeMargin{background:#fff;-moz-border-radius:12px;-webkit-border-radius:12px;float:left;width:94%;padding:10px;margin-bottom:12px;}