@charset "utf-8";
/* --------------------------------------------------------------------------------------------- Communs */
/* ------------------------------------------------------------------------- Espacements */
	.espacement01 {margin-bottom:10px}
	.espacement02 {margin-bottom:20px}
	.espacement03 {margin-bottom:30px}
	#contenu .espacement04 {padding-bottom:2px}
/* ------------------------------------------------------------------------- Alignements */
	.alignement01 {text-align:left}
	.alignement02 {text-align:right}
	.alignement03 {text-align:center}
/* ------------------------------------------------------------------------- Titres */
	h1 {
		font-size:1.9em;
		color:#666;
		margin:0 0 10px 0
	}
	h1.court {padding-right:206px}
	body.sous_niveaux_2_noeud_10681 h1 {color:#df5d8e}
	body.sous_niveaux_2_noeud_10679 h1 {color:#ee3d32}
	body.sous_niveaux_2_noeud_10680 h1 {color:#4575c9}
	body.sous_niveaux_2_noeud_10685 h1 {color:#003399}
	body.sous_niveaux_2_noeud_10684 h1 {color:#62a100}
	body.sous_niveaux_2_noeud_10682 h1 {color:#90215d}
	body.sous_niveaux_2_noeud_10683 h1 {color:#614246}
	body.sous_niveaux_2_noeud_10991 h1 {color:#5f4f48}
	h1 span {
		display:block;
		font-size:.8em;
		margin-top:5px
	}
	#contenu.contenu h2 {
		font-size:1.2em;
		color:#682f02;
		padding:0 0 4px 0
	}
	div.contenu h3 {
		font-size:1.1em;
		color:#555;
		padding:0 0 2px 0
	}
	div.contenu h4 {
		font-size:1em;
		color:#666;
		padding:0 0 1px 0
	}
	div.contenu h5,
	div.contenu h6 {
		font-size:1em;
		color:#777;
		padding:0 0 1px 0
	}
	
/* ------------------------------------------------------------------------- Paragraphes */
	div.contenu p {
		line-height:1.4em;
		padding:0 0 15px 0
	}
/* --------------------------------------------------------------- Meta */
	div.contenu p.meta {
		overflow:hidden;
		line-height:normal;
		font-size:.9em;
		color:#666;
		background:#f7f6f3;
		padding:5px;
		margin:0 0 10px 0
	}
/* ------------------------------------------------------------------------- Liens */
	div.contenu a {
		color:#0069a3;
		text-decoration:underline
	}
	div.contenu a:hover, div.contenu a:focus, div.contenu a.focus {text-decoration:none}
	div.contenu a.infobulle {
		font-weight:bold;
		color:#8c3e5f;
		border-bottom:1px dashed #8c3e5f;
		text-decoration:none
	}
	div.contenu a.infobulle:hover, div.contenu a.infobulle:focus, div.contenu a.infobulle.focus {border:0}
/* ------------------------------------------------------------------------- Listes */
	div.contenu ul,
	div.contenu ol {
		overflow:hidden;
		height:100%;
		line-height:1.4em;
		padding:0 10px 15px 10px
	}
	div.contenu ul li {
		background:url(disc.gif) no-repeat left 6px;
		padding:0 0 2px 12px
	}
	div.contenu ol li {
		list-style-type:decimal-leading-zero;
		list-style-position:outside;
		padding:0 0 2px 0;
		margin:0 0 0 30px
	}
	div.contenu ul li ul,
	div.contenu ol li ol {padding:2px 0 0 15px}
	div.contenu ul li ul li {background-image:url(cercle.gif)}
/* --------------------------------------------------------------- Listes de liens */
	div.contenu ul.liste_liens li {background:url(puce01.gif) no-repeat left 5px}
	div.contenu ul.liste_liens li a span {
		font-size:.9em;
		color:#666
	}
/* ------------------------------------------------------------------------- Citations */
	div.contenu q {
		font-style:italic;
		color:#666
	}
	/*div.contenu q:before {
		content:open-quote
	}
	div.contenu q:after {
		content:close-quote
	}*/
	div.contenu blockquote {
		overflow:hidden;
		height:100%;
		min-height:30px;
		font-style:italic;
		background:#f7f6f3 url(citation.gif) no-repeat 98% 8px;
		padding:5px 45px 5px 5px;
		margin:0 0 15px 0
	}
	/*div.contenu blockquote:before {
		content:open-quote
	}
	div.contenu blockquote:after {
		content:close-quote
	}*/
	div.contenu blockquote p {padding-bottom:0}
/* ------------------------------------------------------------------------- Object */
	div.object-left, div.object-right, div.object-center, div.object-none {margin-bottom:10px}
	div.object-left {
		float:left;
		margin-right:10px
	}
	div.object-right {
		float:right;
		margin-left:10px
	}
	div.object-center {text-align:center}
/* ------------------------------------------------------------------------- Tableaux de données */
	table.tableau_donnees {
		width:100%;
		border-collapse:collapse;
		border-top:1px solid #ccc;
		border-left:1px dashed #ccc;
		margin:0 0 15px 0
	}
	table.tableau_donnees caption {
		text-align:left;
		font-weight:bold;
		color:#555;
		padding:0 0 4px 0
	}
	table.tableau_donnees tr th {
		background:#e4f5fe;
		border-bottom:1px solid #ccc;
		border-right:1px dashed #ccc;
		padding:4px
	}
	table.tableau_donnees tr th p {padding-bottom:0}
	table.tableau_donnees tr td {
		vertical-align:top;
		border-bottom:1px dashed #ccc;
		border-right:1px dashed #ccc;
		padding:6px 4px
	}
	table.tableau_donnees tr.alterne td {background-color:#f7f7f7}
	table.tableau_donnees tr.survol td {background-color:#efefef}
/* ------------------------------------------------------------------------- Mise en avant */
	div.mise_en_avant {
		overflow:hidden;
		height:100%;
		background:#f7f6f3;
		padding:10px 10px 0 10px;
		margin:0 10px 15px 10px
	}
/* ------------------------------------------------------------------------- Fichiers en téléchargement */
	a.attribute-pdf {
		background:url(pdf_pt.gif) no-repeat left top;
		padding:0 0 0 15px
	}
	a.attribute-msword {
		background:url(word.gif) no-repeat left top;
		padding:1px 0 1px 22px
	}
	a.attribute-pdf span,
	a.attribute-msword span {
		font-size:.9em;
		color:#000
	}
/* --------------------------------------------------------------------------------------------- Contenu */
	#contenu.contenu {
		font-family:Arial, Helvetica, sans-serif;
		/*font-size:1.1em;*/
		color:#000
	}
/* ------------------------------------------------------------------------- Vue line */
	div.vue_line {
		clear:both;
		overflow:hidden;
		height:100%;
		background:url(separation.gif) repeat-x left top;
		padding:8px 0 5px 0
	}
	div.vue_line img {
		float:left;
		margin:0 10px 0 0
	}
	div.vue_line_texte {
		overflow:hidden;
		height:100%
	}
	div.contenu div.vue_line h2 a {
		color:#666;
		text-decoration:none
	}
	div.contenu div.vue_line a:hover,
	div.contenu div.vue_line a:focus,
	div.contenu div.vue_line a.focus {text-decoration:underline}
	div.vue_line h2 span {
		font-size:.8em;
		color:#ff8800
	}
	div.contenu div.vue_line h2 span a {color:#ff8800}
	div.vue_line h3 {
		font-size:1.1em;
		color:#0069a3
	}
	div.vue_line h3 a {text-decoration:none}
	div.vue_line a.lien_continuation {
		color:#ff8800;
		background:url(lien_continuation_couleur01.gif) no-repeat left center;
		text-decoration:none;
		padding:0 0 0 18px
	}
	div.contenu div.vue_line p {padding-bottom:5px}
	div.contenu div.vue_line p.meta {
		float:right;
		font-size:.8em;
		margin-left:10px;
		margin-bottom:0;
		padding-bottom:2px;
		padding-top:2px
	}
/* ------------------------------------------------------------------------- Agenda */
/* ----------------------------------------------------- Calendrier */
	#calendrier {
		overflow:hidden;
		height:100%;
		background:#f8faed;
		padding:8px 4px;
		margin:0 10px
	}
	#calendrier a:hover,
	#calendrier a:focus {text-decoration:overline}
/* --------------------------------- Navigation mois par mois */
	#navigation_mois {
		text-align:center;
		font-weight:bold;
		padding:0;
		margin-bottom:5px
	}
	#navigation_mois li {
		display:block;
		float:left;
		width:15%;
		padding:0;
		margin:0
	}
	#navigation_mois li a {
		font-size:1.1em;
		color:#0069a3
	}
	#navigation_mois #mois_courant {width:69%}
/* --------------------------------- Tableau */
	#calendrier table {
		width:100%;
		table-layout:fixed;
		border-collapse:collapse;
		text-align:center
	}
/* ------------- Jours de la semaine */
	#calendrier table tr th {
		color:#fff;
		background:#666;
		padding:2px 0
	}
	#calendrier table tr th abbr {border:0}
/* ------------- Cellule de tableau */
	#calendrier table tr td {
		font-size:.9em;
		padding:4px 0
	}
	#calendrier table tr td a {
		color:#0069a3;
		font-weight:bold
	}
/* ------------- Jour selectionne */
	#calendrier table tr td.jour_selectionne a {
		display:block;
		background:#0069a3;
		color:#fff;
		cursor:text;
		text-decoration:none;
		padding:2px 0
	}
	#calendrier table tr td.jour_selectionne a:hover,
	#calendrier table tr td.jour_selectionne a:focus {text-decoration:none}
/* ------------- Jour "J" */
	#calendrier table tr td.jour_j {
		font-weight:bold;
		color:#f39910
	}
	#calendrier table tr td.jour_j a {color:#f39910}
	#calendrier table tr td.jour_j.jour_selectionne a {color:#fff}
/* ------------------------------------------------------------------------- Fiches */
/* --------------------------------------------------------------- Listing des fiches */
	#contenu ul.onglets {
		overflow:hidden;
		height:100%;
		line-height:normal;
		padding:0
	}
	#contenu ul.onglets li {
		display:inline;
		background:none;
		padding:0;
		margin:0
	}
	#contenu ul.onglets li a {
		position:relative;
		display:block;
		float:left;
		width:76px;
		height:105px;
		text-align:center;
		font-weight:bold;
		color:#000;
		text-decoration:none;
		background:#e7e7e7;
		border-right:1px solid #fff;
		border-bottom:1px solid #fff;
		padding:8px
	}
	#contenu ul.onglets li a img {
		display:block;
		margin:0 0 3px 0
	}
	#contenu ul.onglets li a:hover,
	#contenu ul.onglets li a:focus {background:#f1f1f1}
	/* Fiche selectionne */
	#contenu ul.onglets li.ui-tabs-selected a {
		filter:alpha(opacity=30);
		-moz-opacity:0.30;
		background-image:none;
		background-color:#f4f4f4;
		cursor:text
	}
/* --------------------------------------------------------------- Fiche */
	#fiche {
		overflow:hidden;
		height:100%;
		background:#e7e7e7;
		padding:15px;
		margin:0 0 10px 0
	}
	div.ui-tabs-hide {display:none}
	div.fiche div.colonne {
		float:left;
		width:245px;
		margin:0 30px 0 0
	}
	div.fiche p {padding:0 0 10px 0}
/* ------------------------------------------------------------------------- Recherche */
	div.recherche div.mise_en_avant {border:1px solid #dddbcf}
/* ----------------------------------------------------- Lien aide */
	#moteur_recherche a {
		position:relative;
		float:right;
		top:2px
	}
	#moteur_recherche select {margin-left:10px}
/* ----------------------------------------------------- h3 */
	div.recherche h3.pdf {
		background:url(pdf.gif) no-repeat left 0;
		padding-left:22px
	}
	div.recherche h3.word {
		background:url(word.gif) no-repeat left 0;
		padding-left:22px
	}
/* ----------------------------------------------------- Fil d'ariane */
	p.fil_ariane {
		font-size:.9em;
		color:#555
	}
/* ----------------------------------------------------- Lien voir tout */
	div.recherche p.voir_tout {padding:2px 15px}
/* --------------------------------------------------------------------------------------------- Colonne 02 (droite) */
	body.sous_niveaux_2_noeud_10991 #colonne02 {font-size:1.1em}
/* ------------------------------------------------------------------------- Paragraphes */
	#colonne02 p {
		padding-left:10px;
		padding-right:10px
	}
/* ------------------------------------------------------------------------- Listes */
	#colonne02 ul {padding-bottom:0}
	#colonne02 ul li {padding-bottom:10px}
	body.sous_niveaux_2_noeud_10991 #colonne02 ul li a {
		color:#010101;
		text-decoration:none
	}
	body.sous_niveaux_2_noeud_10991 #colonne02 ul li a:hover,
	body.sous_niveaux_2_noeud_10991 #colonne02 ul li a:focus,
	body.sous_niveaux_2_noeud_10991 #colonne02 ul li a.focus {text-decoration:underline}
	#colonne02 ul li span.meta {font-size:.9em}
/* ------------------------------------------------------------------------- Object */
	#colonne02 div.object-left {margin-left:10px}
	#colonne02 div.object-right {margin-right:10px}
/* ------------------------------------------------------------------------- Adresse */
	#colonne02 address {
		text-align:center;
		padding:0 10px
	}
/* --------------------------------------------------------------------------------------------- Glossaire */
	#glossaire li {
		float:left;
		width:228px;
		margin-bottom:5px
	}
/* --------------------------------------------------------------------------------------------- Galeries */
/* ------------------------------------------------------------------------- Theme */
	div.theme {
		border:1px solid #d0d0d0;
		background:#e8e8e8;
		padding:10px
	}
	div.theme img {
		border:2px solid #fff;
		margin:10px 18px
	}
/* ----------------------------------------------------- Lien voir le thème */
	div.voir_theme {
		text-align:right;
		font-weight:bold;
		padding:0 0 20px 0
	}
	div.voir_theme a {
		float:right;
		background:#e8e8e8;
		padding:4px 10px
	}	
/* ------------------------------------------------------------------------- Diaporama */
	#diaporama {
		float:left;
		width:100%;
		margin-top:10px
	}
	#diaporama a.lightbox.externe {
		background:none;
		padding-right:0
	}
	#diaporama a.lightbox {text-decoration:none}
	#diaporama a.lightbox img {
		border:1px solid #ccc;
		padding:5px;
		margin:0 34px 20px 0
	}
	#diaporama a.lightbox:hover img, #diaporama a.lightbox:focus img, #diaporama a.lightbox.focus img {background:#e4e4e4}
/* ------------------------------------------------------------------------- Ecard */
	#ecard {
		border:1px solid #d0d0d0;
		background:#e8e8e8;
		padding:10px;
		margin:0 0 20px 0
	}
	#ecard a {text-decoration:none}
	#ecard img {
		border:2px solid #fff;
		margin:10px
	}
	#ecard div.object-center img {margin-bottom:5px}
	/*#ecard div.image span.legende, #ecard div.image span.copyright {font-size:1em}*/
/* ------------------------------------------------------------------------- Wallpaper */
	div.wallpaper {
		float:left;
		width:100%;
		border-bottom:1px dashed #ccc;
		padding:0 0 15px 0;
		margin:0 0 15px 0
	}
	div.wallpaper img {
		float:left;
		background:#e8e8e8;
		padding:5px
	}
	div.wallpaper ul {float:left}
/* --------------------------------------------------------------------------------------------- Sondage */
	fieldset.question_sondage {
		clear:both;
		border:0;
		margin:0 0 14px 0
	}
	fieldset.question_sondage legend {
		font-size:1.1em;
		font-weight:bold;
		color:#682f02;
		margin-bottom:7px
	}
	fieldset.question_sondage legend span {
		display:block;
		width:730px
	}
	fieldset.question_sondage div {
		clear:both;
		padding:0 0 0 20px;
		margin:0 0 5px 0
	}
	fieldset.question_sondage input {
		float:left;
		width:13px;
		height:13px;
		margin:0 4px 0 0
	}
/* --------------------------------------------------------------------------------------------- Commentaires */
	#commentaires {
		clear:both;
		overflow:hidden;
		padding:0 217px 0 0;
		margin:5px 0
	}
	#commentaires h2 {margin-bottom:10px}
	div.commentaire {padding:0 15px}
	div.commentaire em {
		float:right;
		margin-top:-20px
	}
	div.commentaire blockquote strong {font-style:normal}
/* --------------------------------------------------------------------------------------------- Divers */
	span.contre_les_robots {display:none}
	div.annuaire {line-height:1.5em}
/* --------------------------------------------------------------------------------------------- Pagination */
	div.contenu .pagination {
		background:url(separation.gif) repeat-x left top;
		padding:10px 0 5px 0
	}
	div.contenu ol.glossaire {
		font-size:.8em;
		background:none;
		padding-bottom:15px
	}
	div.contenu .pagination li {
		float:left;
		background:none;
		padding:0;
		margin:0 10px 5px 0
	}
	div.contenu ol.glossaire li {
		list-style-type:none;
		list-style-position:outside;
		margin-right:7px
	}
	div.contenu .pagination li a,
	div.contenu .pagination li span {
		display:block;
		float:left;
		border:1px solid #0069a3;
		padding:2px 6px;
		text-decoration:none
	}
	div.contenu .pagination li a {
		color:#fff;
		background:#0069a3
	}
	div.contenu .pagination li a:hover,
	div.contenu .pagination li a:focus,
	div.contenu .pagination li a.focus,
	div.contenu .pagination li span {
		color:#0069a3;
		background:#fff
	}
/* --------------------------------------------------------------------------------------------- Navigation */
	div.contenu p.navigation {
		overflow:hidden;
		background:url(separation.gif) repeat-x left top;
		padding-top:10px
	}
	div.contenu p.navigation a.precedent {
		background:url(precedent.gif) no-repeat left 5px;
		padding-left:10px
	}
	div.contenu p.navigation a.suivant {
		float:right;
		background:url(suivant.gif) no-repeat right 5px;
		padding-right:10px
	}