.titres {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-weight: bold; color: #000000; text-decoration: none}
.txt {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; color: #000000; text-decoration: none; line-height: normal}
.titssmall {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bold; color: #0066CC; text-decoration: none}
body
{
scrollbar-face-color: #940066;
scrollbar-arrow-color: #FF9900;
scrollbar-shadow-color: #F26C4F;
scrollbar-highlight-color: #FF9900;
scrollbar-3dlight-color: #FDC689;
scrollbar-base-color: #940066;
scrollbar-darkshadow-color: #A0410D;
scrollbar-track-color: #F9EFF8;
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; color: #000000; text-decoration: none
} 
.legende {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #666666; text-decoration: none}
.legende_gras { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bold; color: #660000; text-decoration: none }
.dev_bt2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #FFFFFF; text-decoration: none ; cursor: hand; background-color: #993300}
.dev_bt3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #FFFFFF; text-decoration: none ; cursor: hand; background-color: #993300}
.dev_bt { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #CCCCCC; text-decoration: none ; cursor: hand; background-color: #666666}
.champformulaire {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #000000; text-decoration: none; clip:   rect(   ); cursor: default; line-height: normal; border: 1px #999999 solid}
.ssnavig {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: bold; color: #889EFF; text-decoration: none; line-height: normal}
.ssnavig:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: bold; color: #FFFFFF; text-decoration: none; line-height: normal}
.ssnavig_titres {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #FF9900; text-decoration: none; clip:   rect(   )}
td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; color: #000000; font-style: normal; line-height: normal}
.txt_gras { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: bold; color: #000000; text-decoration: none }
.txt_lien {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; color: #FF9933; text-decoration: underline}
.txt_lien:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; color: #FF6600; text-decoration: underline}
.ssnavig_clique { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: bold; color: #999999; text-decoration: none ; line-height: normal}
.ssnavig_titresblanc { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; clip: rect( ) }
.ssnavigsmall {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: bold; color: #FFFFFF; text-decoration: none}
.ssnavigsmall:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #FFFFFF; text-decoration: none; font-style: normal; font-weight: bold}
body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; color: #000000; text-decoration: none; line-height: normal}
.txt_justifie { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; color: #000000; text-decoration: none ; text-align: justify; line-height: normal}
.txt_gras_coul { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bold; color: #CC0000; text-decoration: none ; line-height: normal}
.txt_gras_coul_lien { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bold; color: #000099; text-decoration: none; line-height: normal}
.txt_gras_coul_lien:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bold; color: #666666; text-decoration: underline; line-height: normal}
.titres_noir { font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-style: normal; font-weight: bold; color: #000000; text-decoration: none }
a {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; color: #000000; text-decoration: underline}
.ssnavig_bleu { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: bold; color: #889EFF; text-decoration: none; line-height: normal }
.ssnavig_bleu:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #FFFFFF; text-decoration: underline}
.ssnavig_jaune { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: bold; color: #483A24; text-decoration: none; line-height: normal }
.ssnavig_jaune:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #FFFFFF; text-decoration: underline}
.ssnavig_rouge { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: bold; color: #1C0700; text-decoration: none; line-height: normal }
.ssnavig_rouge:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #FFFFFF; text-decoration: underline}
.txt_small {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: bold; color: #000000; text-decoration: none}
.txt_small:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: bold; color: #FF9900; text-decoration: underline}
.cg11_titre { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bold; color: #660000; text-decoration: none ; line-height: normal}
.cg11_txt { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #660000; text-decoration: none ; line-height: normal}
.cg11_lien {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #660000; text-decoration: underline}
.cg11_lien:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #FFFFFF; text-decoration: underline}
.ssnavigsmall_rouge {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: bold; color: #000000; text-decoration: none}
.ssnavigsmall_rouge:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: bold; color: #FFFFFF; text-decoration: underline}
.date_actu { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #666666; text-decoration: none }
.encadre_titre {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #660000; text-decoration: none}
.encadre_titrerouge { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #BA1F00; text-decoration: none }
.encadre_legende { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #993300; text-decoration: none }
.encadre_txt { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: normal; color: #660000; text-decoration: none }
.encadre_titrerouge:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #FFFFFF; text-decoration: underline}
.encadre_txtgras { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: bold; color: #660000; text-decoration: none }
.encadre_txtnoir { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #000000; text-decoration: none }
.encadre_txtnoirgras { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #000000; text-decoration: none }
.actu_date { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #666666; text-decoration: none }
.actu_titre { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #000000; text-decoration: none }
.actu_surtitrebleu { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: bold; color: #000099; text-decoration: none }
.actu_surtitrejaune { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: bold; color: #FCBB00; text-decoration: none }
.actu_surtitreorange { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: bold; color: #FF7F00; text-decoration: none }
.actu_surtitrerouge { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: bold; color: #D54C04; text-decoration: none }
.actu_txt { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: normal; color: #000000; text-decoration: none }
.actu_txtgras { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: bold; color: #000000; text-decoration: none }
.chemin {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #666666; text-decoration: none}
.chemin_lien { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #000066; text-decoration: underline}
.chemin_lien:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #FF9900; text-decoration: underline}
.chemin_orange { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #FF7F00; text-decoration: none }
.lettrine {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; line-height: normal; font-weight: bold; color: #003366; text-decoration: none}
.cg11_txtgris { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #666666; text-decoration: none ; line-height: normal }
.cg11_titregris { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bold; color: #666666; text-decoration: none ; line-height: normal }
.cg11_liengris { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #999999; text-decoration: underline }
.cg11_liengris:hover { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #FF9900; text-decoration: underline }
