#ID_Specials {
	margin-top: 65px;
}

/* Login in Specials */
#ID_SpLogin {
	background: url(bg_SpLogin.png?2009-09-15) 0 bottom no-repeat;
	border: 0;
	border-top: 1px solid #ccc;
	height: 62px;
	margin: 0 0 6px 25px;
	padding: 6px 0 6px 6px;
	width: 291px;
}

/* Link zur aktuellen Ausgabe */
.Currentissue {
	position: absolute;
	top: 295px;
	width: 900px;
}
.Currentissue ul li {
	float: left;
	height: 35px;
	padding-top: 4px;
}
.Currentissue ul li a {
	background: url(link.png?2009-09-15) right -395px no-repeat;
	color: #39c;
	padding-right: 12px;
	text-decoration: none;
}
.Currentissue ul li a:focus,
.Currentissue ul li a:hover,
.Currentissue ul li a:active {
	color: #069;
}
.Currentissue .Current {
	margin-right: 100px;
}
.Currentissue .Current span {
	background: #eee;
	margin-right: 6px;
}
/*
.Currentissue .PDF {
	background: url(../images/bg_PDF.png?2009-09-15) right 0 no-repeat;
	margin-right: 6px;
	padding-right: 100px;
}
*/
.Currentissue .PDF a {
	background: url(bg_PDF.png?2009-09-15) right 0 no-repeat;
	display: block;
	height: 35px;
	margin-right: 6px;
	padding-right: 100px;
}
.Currentissue .PDF a:focus,
.Currentissue .PDF a:hover,
.Currentissue .PDF a:active,
.Currentissue .PDF a:focus span,
.Currentissue .PDF a:hover span,
.Currentissue .PDF a:active span {
	color: #069 !important;
}
.Currentissue .PDF a span {
	background: url(link.png?2009-09-15) right -395px no-repeat;
	color: #39c;
	padding-right: 12px;
}

/* Listing */
#ID_Listing ul li .Date {
	color: #999;
}
#ID_Listing ul li.LeadStory .Date {
	color: #666;
	display: inline !important;
}