body {
	font-family: Palatino Linotype, Georgia, Garamond, Times New Roman, serif;
	font-size: 62.5%;
}
h1 {
	font-size: 2.2em;
}
h2 {
	font-size: 1.8em;
}
h2 {
	font-size: 1.4em;
}
#ID_Date {
	margin: 5px 0 20px 0;
	padding: 0 0 0 6px;
	border-bottom: 5px solid #48AED0;
}
hr {
	display: none;
}
.Content {
	font-size: 1.2em;
	font-family: Arial, sans-serif;
	line-height: 140%;
}
.Lead {
	font-size: 1.2em;
	font-family: Arial, sans-serif;
	font-weight: bold;
	line-height: 140%;
}
img {
	border: 0;
}

/* Bilder */
.ImageBoxLeft {
	clear: both;
	float: left;
	margin: 0 18px 18px 0;
}
.ImageBoxRight {
	clear: both;
	float: right;
	margin: 0 0 18px 18px;
}
.ImageBoxLeft .Title,
.ImageBoxRight .Title {
	color: #666;
	font-size: 11px;
	margin-top: 6px;
}
.ImageBoxLeft .Copyright,
.ImageBoxRight .Copyright {
	color: #999;
	font-size: 11px;
}

/* Bildergalerie (Vom Admin angelegt) */
.ImageGallery ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.ImageGallery ul li {
	clear: left;
	margin: 0;
	padding: 0;
}

p.Link {
	clear: both;
	margin: 30px 0 0 0;
	border-top: 1px solid #999;
	font-style: italic;
	font-size: 1.2em;
}