/* Social Bookmarks allgemein */
.Bookmark ul.submenu {
	width: 350px;
}
.Bookmark ul.submenu li a {
	background-repeat: no-repeat;
	display: block;
	float: left !important;
	height: 16px;
	margin: 0 12px 6px 0;
	padding-left: 24px !important;
	width: 80px !important;
}
#ID_Specials ul.submenu {
	left: 500px;
	width: 250px;
}
.Bookmark ul.submenu li.wong a {
	background-image: url(mister-wong.png) !important;
}
.Bookmark ul.submenu li.delicious a {
	background-image: url(del.icio.us.png) !important;
}
.Bookmark ul.submenu li.google a {
	background-image: url(google.png) !important;
}
.Bookmark ul.submenu li.myspace a {
	background-image: url(myspace.png) !important;
}
.Bookmark ul.submenu li.linkarena a {
	background-image: url(linkarena.png) !important;
}
.Bookmark ul.submenu li.facebook a {
	background-image: url(facebook.png) !important;
}
.Bookmark ul.submenu li.twitter a {
	background-image: url(twitter.png) !important;
}
.Bookmark ul.submenu li.netvibes a {
	background-image: url(netvibes.png) !important;
}
.Bookmark ul.submenu li.yigg a {
	background-image: url(yigg.png) !important;
}
.Bookmark ul.submenu li.digg a {
	background-image: url(digg.png) !important;
}
.Bookmark ul.submenu li.webnews a {
	background-image: url(webnews.png) !important;
}
.Bookmark ul.submenu li.folkd a {
	background-image: url(folkd.png) !important;
}
.Bookmark ul.submenu li.oneview a {
	background-image: url(oneview.png) !important;
}
.Bookmark ul.submenu li.lufee a {
	background-image: url(lufee.png) !important;
}
.Bookmark ul.submenu li.alltagz a {
	background-image: url(alltagz.png) !important;
}