/* @group misc */

a img 
	{
	border-style: none;
	}
 
h1 
	{
	font: italic 16px/18px "Lucida sans", Times, "Times New Roman", Georgia, serif;
	padding: 0px;
	margin-bottom: 10px;
	margin-top: 20px;
	}

h1.Yellow 
	{
	font: italic 16px/18px "Lucida sans", Georgia, Times, "Times New Roman", serif;
	color: #e2a917;
	padding: 0px;
	margin-bottom: 10px;
	margin-top: 20px;
	}

h1.Pink 
	{
	font: italic 16px/18px "Lucida sans", Georgia, Times, "Times New Roman", serif;
	color: #e22861;
	padding: 0px;
	margin-bottom: 10px;
	margin-top: 20px;
	}

h1.Orange 
	{
	font: italic 16px/18px "Lucida sans", Georgia, Times, "Times New Roman", serif;
	color: #ff4407;
	padding: 0px;
	margin-bottom: 10px;
	margin-top: 20px;
	}

h1.Blue 
	{
	font: italic 16px/18px "Lucida sans", Georgia, Times, "Times New Roman", serif;
	color: #1958c6;
	padding: 0px;
	margin-bottom: 10px;
	margin-top: 20px;
	}
 
/* mise en forme du contenu */
 
.imgG 
	{
	margin: 9px 9px 9px 0px;
	float: left;
	}

.imgD 
	{
	margin: 9px 0 9px 9px;
	float: right;
	}
 
.image-haut 
	{
	margin: 9px 0;
	padding: 0;
	}
 
.image-cadre 
	{
	border-width: 9px;
	border-style: solid;
	}
 
.img-cache
	{
	position: absolute;
	display: none;
	left: 0px;
	top: -20000px
	}
 
.ft 
	{
   clear: both;
	height: 0px;
	margin: 0px;
	padding: 0px;
	border-style: none;
	background-image: none;
	}
 
.justify 
	{
	text-align: justify;
	}
 
/* @end */
 
body {
	background:url(bodybg.jpg) repeat-x top #fff;
	margin:0;
	padding:0;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:12px;
}
 
#wrapper 
	{
	margin: 0 auto;
	padding: 0;
	width: 1024px;
	background: url(wrapperbg.jpg) no-repeat;
	}
 
#header 
	{
	width: 907px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	top: 0;
	height: 349px;
	left: 0;
	z-index:10;
	}
 
#flashflag 
	{
	padding: 0;
	width: 500px;
	float: left;
	margin: 0;
	}
 
#flashflag a object
	{
	cursor: pointer;
	}
 
#content 
	{
	width: 920px;
	right: 1px;
	position: relative;
	padding: 5px 0 0;
	margin: 0 auto;
	z-index:1;
	}
 
#homeleftcol 
	{
	float: left;
	margin: 0;
	padding: 14px 0 0;
	}
 
#homerightcol 
	{
	float: left;
	width: 507px;
	margin: 0;
	}
 
#pageleftcol 
	{
	float: left;
	margin: 0;
	padding: 14px 0 0;
	width: 205px;
	}
 
#pagecentercol 
	{
	float: left;
	width: 507px;
	margin: 0;
	}
 
#pagerightcol 
	{
	float: right;
	margin: 0;
	padding: 14px 0 0;
	width: 205px;
	}
 
/* @group Agenda */
 
#agenda 
	{
	margin: 0;
	padding: 20px 0 0;
	color: #333;
	}
 
#view-filter-title 
	{
	float: left;
	margin-right: 5px;
	}
 
#view-filter 
	{
	float: left;
	}
 
p.agenda-date a, p.agenda-date a :link, p.agenda-date a:visited 
	{
	color: #333;
	text-decoration: none;
	}
 
p.agenda-date a:hover 
	{
	color: #fc4823;
	}
 
p.agenda-info 
	{
	padding: 5px;
	border-bottom: 1px dotted #fc4823;
	margin-bottom: 10px;
	}
 
p.agenda-content 
	{
	border-bottom: 5px solid #e87f26;
	padding-bottom: 5px;
	margin-bottom: 20px;
	}

.RoundboxCal 
	{ 
	margin: 0 7px;
	text-align: justify;
	background: no-repeat 0px 1px url(http://www.cr-guyane.fr/ressources/_site/images/Calendard.jpg);
	}

.CalDay 
	{
	margin-bottom: 15px;
	margin-top: 0;
	padding-left: 30px;
	font: bold 13px "Lucida Sans", "Lucida Grande", "Trebuchet MS", Times;
	color: #000;
	padding-top: 7px;
	}

.CalContent 
	{
	color: #000;
	border-top: 1px solid #a095be;
	}

.CalTime 
	{
	background: left 1px  no-repeat url(http://www.cr-guyane.fr/ressources/_site/images/CalTime.jpg);
	padding-left: 15px;
	margin-top: 5px;
	margin-bottom: 0;
	}

.CalPlace 
	{
	background: left 1px url(http://www.cr-guyane.fr/ressources/_site/images/CalPlace.jpg) no-repeat;
	padding-left: 15px;
	margin-left: 5px;
	}

.CalTitle 
	{
	font-weight: bold;
	margin-top: 5px;
	background: left 1px url(http://www.cr-guyane.fr/ressources/_site/images/CalTitle.jpg) no-repeat;
	padding-left: 15px;
	margin-bottom: 5px;
	}

.CalDesc 
	{
	padding: 7px;
	background: #fff;
	margin-top: 2px;
	margin-bottom: 10px;
	margin-left: 16px;
	color: #2c2c2c;
	border: 1px solid #d7c8ff;
	}

.Today 
	{
	background: no-repeat left 1px url(http://www.cr-guyane.fr/ressources/_site/images/Today.jpg);
	padding-left: 15px;
	text-align: left;
	margin-right: 10px;
	}

.ThisWeek 
	{
	margin-right: 10px;
	padding-left: 15px;
	background: left 1px no-repeat url(http://www.cr-guyane.fr/ressources/_site/images/ThisWeek.jpg);
	}

.LastWeek 
	{
	padding-left: 15px;
	margin-right: 10px;
	background: no-repeat left 1px url(http://www.cr-guyane.fr/ressources/_site/images/LastWeek.jpg);
	}
	
	/* @end */
 
/* @group tables */
 
td img 
	{
	vertical-align: middle;
	margin: 0 5px 0 0;
	padding: 0;
	}
 
th, td 
	{
	border-style: none;
	padding: 5px;
	margin: 0;
	border-width: 0;
	}
 
 th      
	{ 
	font-weight:bold;
	margin: 0;
	padding: 0;
	}
 
table 
	{
	margin-bottom: 15px;
	padding: 0;
	border-width: 0;
	border-style: none;
	border-collapse: separate;
	border-spacing: 0;
	margin-top: 10px;
	}
 
td.edit 
	{
	width: 50px;
	text-align: center;
	}
 
tr.blanc 
	{
	background-color: #fff;
	}
 
/* tableau bleu */
 
table.bleu 
	{
	width: 100%;
	color: #333;
	margin: 0;
	background-color: #eff3f5;
	padding: 0;
	border: 5px solid #a9bfd4;
	}
 
table.bleu td 
	{
	border-bottom: 1px solid #a9bfd4;
	border-right: 1px solid #a9bfd4;
	}
 
table.bleu th 
	{
	background-color: #3c4e7e;
	color: #fff;
	margin: 0;
	padding: 7px;
	border-right: 1px solid #a9bfd4;
	}
 
/* tableau rose */
 
table.rose 
	{
	width: 100%;
	color: #333;
	margin: 0;
	background-color: #fdebeb;
	border: 5px solid #fcb5c8;
	}
 
table.rose th 
	{
	padding: 5px;
	background-color: #92355c;
	color: #fff;
	border-right: 1px solid #fcb5c8;
	}
 
table.rose td 
	{
	border-bottom: 1px solid #fcb5c8;
	border-right: 1px solid #fcb5c8}
 
/* tableau vert */
 
table.vert 
	{
	width: 100%;
	color: #333;
	margin: 0;
	background-color: #f0fff4;
	border: 5px solid #a8ce92;
	}
 
table.vert th 
	{
	padding: 5px;
	background-color: #537e2e;
	color: #fff;
	border-right: 1px solid #a8ce92;
	}
 
table.vert td 
	{
	padding: 5px;
	border-bottom: 1px solid #a8ce92;
	border-right: 1px solid #a8ce92;
	}
 
/* tableau gris */
 
table.gris 
	{
	width: 100%;
	color: #333;
	margin: 0;
	background-color: #eee;
	border: 5px solid #999;
	}
 
table.gris th 
	{
	padding: 5px;
	background-color: #333;
	color: #fff;
	border-right: 1px solid #999;
	}
 
table.gris td 
	{
	padding: 5px;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	}
 
/* tableau violet */
 
table.violet 
	{
	width: 100%;
	color: #333;
	margin: 0;
	background-color: #efecfe;
	border: 5px solid #bebae5;
	}
 
table.violet th 
	{
	padding: 5px;
	background-color: #6d3eaa;
	color: #fff;
	border-right: 1px solid #bebae5;
	}
 
table.violet td 
	{
	padding: 5px;
	border-right: 1px solid #bebae5;
	border-bottom: 1px solid #bebae5;
	}
 
/* tableau orange */
 
table.orange 
	{
	width: 100%;
	color: #333;
	margin: 0;
	background-color: #fdf0d2;
	border: 5px solid #eda681;
	}
 
.table-cadre-orange 
	{
	padding: 3px;
	background-color: #eda681;
	}
 
table.orange th 
	{
	padding: 5px;
	background-color: #ed6e2a;
	color: #fff;
	border-right: 1px solid #eda681;
	}
 
table.orange td 
	{
	padding: 5px;
	border-right: 1px solid #eda681;
	border-bottom: 1px solid #eda681;
	}
 

 
/* @end */
 
/* @group plan */

ul.box-map 
	{ 
	
	text-align: left;
	list-style-type: none;
	margin: 20px 0 0;
	padding: 0;
	text-transform: uppercase;
	}
 
ul.box-map li 
	{
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #fc4823;
	}
 
ul.box-map li:last-child 
	{
	border-bottom-style: none;
	}
 
ul.box-map li a, ul.box-map li a:link, ul.box-map li a:visited 
	{
	color: #0d6b00;
	text-decoration: none;
	}
 
ul.box-map li a:hover 
	{
	color: #e46800;
	}
 
ul.box-map ul 
	{
	list-style-type: none;
	margin: 0 0 0 50px;
	padding: 0;
	text-transform: capitalize;
	}
 
ul.box-map li ul li ul li 
	{
	background: url(sec_sheet.jpg) no-repeat left center;
	padding-left: 15px;
	}
 
ul.box-map li ul li ul a, ul.box-map li ul li ul a:link, ul.box-map li ul li ul a:visited 
	{
	color: #1672b8;
	}
 
ul.box-map li ul li ul a:hover 
	{
	color: #fc4823;
	}
	
	/* @end */
 
/* @group menu accordéon */
 
#accordioncontainer 
	{
	width: 205px;
	margin: 0;
	padding: 0;
	font: 11px Verdana;
	}
 
#accordioncontainer h2 
	{
	background: url(smallcolheaderbg.png) no-repeat center top;
	margin: 0;
	height: 45px;
	color: #fff;
	font: bold 12px/50px Verdana, Geneva, sans-serif;
	padding: 5px 0 0 20px;
	}
 
/* chapitres */
 
ul#navigation 
	{
	list-style-type: none;
	margin: 0;
	padding: 0 15px;
	background-image: url(smallcolbg.png);
	}
 
ul#navigation li 
	{
	margin-left: 0;
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid #ed9c02;
	}
 
ul#navigation li:last-child 
	{
	border-bottom-style: none;
	}
 
ul#navigation li img 
	{
	text-align: right;
	float: right;
	margin: 0;
	padding: 0;
	clear: left;
	cursor: pointer;
	}
 
ul#navigation li a, ul#navigation li a:link, ul#navigation li a:visited
	{
	color: #0d6b00;
	text-decoration: none;
	text-transform: capitalize;
	margin: 0;
	padding: 0;
	width: 120px;
	display: inline;
	}
 
ul#navigation li a:hover 
	{
	color: #e46800;
	}
 
/* sections */
 
ul#navigation ul 
	{
	list-style-type: none;
	margin: 15px 0 0 10px;
	padding: 0;
	}
 
ul#navigation ul li 
	{
	margin: 0;
	border-top: 1px dotted #ed9c02;
	padding: 5px 0;
	border-bottom-style: none;
	}
 
ul#navigation ul li:first-child 
	{
	border-style: none;
	}
 
ul#navigation ul li a, ul#navigation ul li a:link, ul#navigation ul li a:visited 
	{
	color: #1672b8;
	}
 
ul#navigation ul li a:hover
	{
	color: #fc4823;
	}
 
#accordioncontainer div.accordioncontainer-footer 
	{
	height: 15px;
	margin: 0 0 10px;
	background: url(smallcolfooter.png) no-repeat;
	width: 205px;
	padding: 0;
	}
 

 
/* @end */
 
/* @group Menu principal */

#nav {
	font: bold 12px Verdana, Geneva, sans-serif;
	height:40px;	
	margin: 0 auto;
	padding: 0;
	color: #fff;
	position: relative;
	z-index:100;
	right: 2px;
	}

#nav dl {
	margin:0;
	padding:0;
	width: 149px;
	height:40px;
	border-right: 1px solid #c46018;
	border-left: 1px solid #edb02b;
	display:block;
	float:left;
	}
 
#nav dl:first-child 
	{
	border-left-style: none;
	width: 151px;
	}
 
#nav dl:last-child 
	{
	border-right-style: none;
	width: 150px;
	}
 
#nav dl dt a, #nav dl dt a:link, #nav dl dt a:visited
	{
	color: #fff;
	text-decoration: none;
	display:block;
	height:40px;
	text-align:center;
	line-height: 40px;
	}
 
#nav dl dt a:hover 
	{
	background: url(navhover.jpg) no-repeat;
	line-height: 40px;
	text-align: center;
	height:40px;
	}

#nav dt 
	{
	margin: 0;
	padding: 0;
	}

#nav dd {
	display:block;
	margin:0;
	padding:0;
	background-color:#ed9c02;
	border-style: none;
	}

#nav dd ul {
	display:block;
	margin:0;
	padding:0;
	list-style:none;
	text-align:left;
	border: 1px solid #fff;
	}

#nav dd ul li a, #nav dd ul li a:link, #nav dd ul li a:visited
	{
	color: #fff;
	display:block;
	text-decoration:none;
	font-size: 10px;
	padding: 10px 5px;
	border-top: 1px solid #fff;
	}

#nav dd ul li a:hover
	{
	background-color:#e66801;
	}

#nav dl dd {display: none;}
#nav dl:hover dd {display: block;}
 
/* @end */
 
/* @group Manifestion */
 
.manif 
	{
	padding: 0;
	float: left;
	width: 205px;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	text-align: center;
	}
 
.manif h2 
	{
	background: url(smallcolheaderbg.png) no-repeat center top;
	margin: 0;
	height: 45px;
	color: #fff;
	font: bold 12px/50px Verdana, Geneva, sans-serif;
	padding: 5px 0 0 20px;
	text-align: left;
	}
 
.manif div 
	{
	background-image: url(smallcolbg.png);
	margin: 0;
	font-family: Georgia;
	padding: 0;
	}
 
.manif ul 
	{
	list-style-type: none;
	margin: 0;
	display: block;
	background-image: url(smallcolbg.png);
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	}
 
.manif ul li.list-title 
	{
	color: #e46800;
	text-align: center;
	border-style: none;
	font: bold 14px Georgia;
	padding-left: 0;
	background-image: none;
	padding-bottom: 4px;
	margin-bottom: 10px;
	padding-top: 5px;
	}
 
.manif ul li.last-item 
	{
	background-image: none;
	text-align: right;
	}
 
.manif ul li 
	{
	padding: 0;
	margin-right: 0;
	margin-top: 10px;
	margin-left: 0;
	}
 
.manif ul li a, .manif ul li a:link, .manif ul li:visited, .manif ul li:visited:hover 
	{
	display: block;
	padding: 0;
	margin: 0;
	}

 
.manif div.manif-footer 
	{
	height: 15px;
	margin: 0;
	background: url(smallcolfooter.png) no-repeat;
	width: 205px;
	}
 
/* @end */
 
/* @group Contenu page */
 
#pagecontent 
	{
	width: 507px;
	}
 
/* lien RSS */
 
#pagecontentheader 
	{
	background: url(headlinesheaderbg.png) no-repeat;
	text-align: right;
	width: 502px;
	margin: 0;
	height: 20px;
	padding: 4px 0 0;
	}
 
#pagecontentheader a, #pagecontentheader  a:link, #pagecontentheader a:visited   /*, #nav dl dt a:hover */
	{
	color: #fff;
	text-decoration: none;
	font: bold 12px Verdana;
	padding-right: 30px;
	}
 
#pagecontentheader a:hover 
	{
	color: #0d6b00;
	}
 
#pagecontentbox  
	{
	background: url(headlinesbg.png) repeat-y center;
	padding-right: 15px;
	padding-left: 15px;
	font-family: Verdana;
	}

#pagecontentbox a
	{
	color: #0070b8;
	}
	
/* titres */
 

  
#pagecontentbox h2 
	{
	color: #e46800;
	font: bold 14px Verdana;
	border-bottom: 1px solid #e46800;
	padding: 0;
	margin: 0;
	}
 
#pagecontentbox h3 
	{
	color: #0d6b00;
	font: bold 14px Georgia;
	padding: 10px 0 0;
	margin: 0;
	}
 
#pagecontentbox h3 a, #pagecontentbox h3 a:link, #pagecontentbox h3 a:visited 
	{
	text-decoration: none;
	color: #106300;
	}
 
#pagecontentbox h3 a:hover 
	{
	color: #e46800;
	}
 
#pagecontentbox h4 
	{
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-left: 10px;
	}
 
#pagecontentbox h4 a, #pagecontentbox h4 a:link, #pagecontentbox h4 a:visited 
	{
	text-decoration: none;
	color: #106300;
	}
 
#pagecontentbox h4 a:hover 
	{
	color: #e46800;
	}
 
#pagecontentbox p 
	{
	padding: 5px 0;
	font-family: Verdana;
	text-align: justify;
	margin-top: 0;
	margin-bottom: 0;
	}
 
 
#pagecontentfooter 
	{
	background: url(headlinesfooter.png) no-repeat center center;
	width: 507px;
	height: 15px;
	}
 
/* @end */
 
/* @group recherche */
 
/*formulaire de recherche*/
#search 
	{
	padding: 0;
	position: relative;
	top: 33px;
	width: 300px;
	float: right;
	margin: 0;
	left: 60px;
	}
 
#search input 
	{
	background: none;
	border-style: none;
	}
 
#search input[type="text"] 
	{
	padding: 3px;
	width: 200px;
	font-size: 12px;
	}
 
#search input[type="submit"]
	{
	cursor: pointer;
	}
 
#search label 
	{
	display: none;
	}
 
/* résultats recherche */
 
#pagecontentbox #search-results h4 
	{
	padding: 0 0 5px;
	margin: 20px 0;
	}
 
#pagecontentbox #search-results h3 span 
	{
	font-style: italic;
	color: #e46800;
	}
 
#search-results ol 
	{
	font-family: Georgia;
	color: #333;
	font-style: italic;
	}
 
#search-results ol li 
	{
	padding: 7px 0;
	border-bottom: 1px dotted #ccc;
	}
 
#search-results ol li a, #search-results ol li a:link, #search-results ol li a:visited
	{
	padding: 5px 0;
	margin-bottom: 5px;
	color: #0d6b00;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana;
	}
 
#search-results ol li a:hover 
	{
	color: #e46800;
	}
 

 
/* @end */
 
/* @group En savoir plus */
 
a.readmore, a.readmore:link, a.readmore:visited 
	{
	/*color: #0d6b00;*/
	color:#0070b8;
	margin-top: 10px;
	display: block;
	text-align: right;
	text-decoration: none;
	font-size: 11px;
	}
 
a.readmore:hover 
	{
	color: #e46800;
	}
 
/* @end */
 
/* @group pied de page */
 
#footer 
	{
	height:65px;
	width:922px;
	margin:0;
	text-align:center;
	font: 12px/65px Verdana;
	color: #000;
	background: url(footerbg.png) no-repeat;
	}
 
#footer a, #footer a:link, #footer a:visited 
	{
	color: #000;
	}
 
#footer a:hover 
	{
	color: #333;
	text-decoration: none;
	}
 
/* @end */
 
/* @group Président, Actus */
 
/* styles président/actu page d'accueil */
 
.smallcol 
	{
	padding: 0;
	float: left;
	width: 205px;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	}
 
.smallcol h2 
	{
	background: url(smallcolheaderbg.png) no-repeat center top;
	margin: 0;
	height: 45px;
	color: #fff;
	font: bold 12px/50px Verdana, Geneva, sans-serif;
	padding: 5px 0 0 20px;
	}
 
.smallcol h3 
	{
	color: #e46800;
	font: bold 14px Georgia;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #f9c801;
	}
 
.smallcol div 
	{
	background-image: url(smallcolbg.png);
	margin: 0;
	font-family: Georgia;
	padding: 0;
	}
 
.smallcol ul 
	{
	list-style-type: none;
	margin: 0;
	display: block;
	background-image: url(smallcolbg.png);
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	}
 
.smallcol ul li.list-title 
	{
	color: #e46800;
	text-align: center;
	border-style: none;
	font: bold 14px Georgia;
	padding-left: 0;
	background-image: none;
	padding-bottom: 4px;
	margin-bottom: 10px;
	padding-top: 5px;
	}
 
.smallcol ul li.first-item 
	{
	border-style: none;
	}
 
.smallcol ul li.last-item 
	{
	background-image: none;
	text-align: right;
	}
 
.smallcol ul li 
	{
	border-top: 1px solid #ed9c02;
	background: url(tag.png) no-repeat left center;
	padding-left: 10px;
	padding-right: 5px;
	}
 
.smallcol ul li a, .smallcol ul li a:link, .smallcol ul li:visited 
	{
	padding-left: 20px;
	text-decoration: none;
	color: #0d6b00;
	font: italic bold 12px Georgia;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	}
 
.smallcol ul li a:hover 
	{
	color: #e46800;
	}
 
.smallcol div.smallcol-footer 
	{
	height: 15px;
	margin: 0;
	background: url(smallcolfooter.png) no-repeat;
	width: 205px;
	}
 
/* @end */
 
/* @group Media browser */
 
#media {
	background:url(cadre_media.png) bottom center no-repeat;
	width:412px;
	height:244px;
	margin:0;
	padding:0;
	
}
 
/*mediathèque menu
--------------------------------------------*/
#md_menu ul {
	background:url(btn_media.png) no-repeat;
	width:398px;
	height:34px;
	list-style-type:none;
	display:block;
	margin:7px;
	padding:0;
}

#md_menu ul li {
	height:34px;
	list-style-type:none;
	display:block;
	line-height:30px;
	float:left;
	text-align:center;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#FFFFFF;
	font-weight:bold;
	font-size:12px;
	margin:0;
	padding:0;
}

.video {
	display:block;
	width:110px;
	margin:0;
	padding:0;
}

.photo {
	display:block;
	width:146px;
	margin:0;
	padding:0;
}

.bibl {
	display:block;
	width:142px;
	margin:0;
	padding:0;
}

#md_menu a {
	text-decoration:none;
	color: #fff;
	margin:0;
	padding:0;
}

.video a:hover {
	background:url(v_over.png) top left;
	display:block;
	width:110px;
	height:33px;
	text-decoration:none;
	color:#FFFFFF;
	margin:0;
	padding:0;
}

.photo a:hover {
	background:url(http://www.cr-guyane.fr/ressources/_site/images/p_over.png) top left;
	display:block;
	width:146px;
	height:33px;
	text-decoration:none;
	color:#FFFFFF;
	margin:0;
	padding:0;
}

.bibl a:hover {
	background:url(http://www.cr-guyane.fr/ressources/_site/images/b_over.png) top left;
	display:block;
	width:142px;
	height:33px;
	text-decoration:none;
	color:#FFFFFF;
	margin:0;
	padding:0;
}

#md_cont {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:412px;
	padding:0;
	text-align:center;
}

#vtek table {
	width:100%;
	border-collapse:collapse;
	margin-left:20px;
	text-align:right;
	padding:0;
	border:0;
}
 
#vtek a, #vtek a:link, #vtek a:visited
	{
	color: #0d6b00;
	font-family: Verdana;
	}
 
#vtek a:hover
	{
	color: #e46800;
	}
 
/* taille cellule td vidéothèque */
	

#vtek td {
	vertical-align:middle;
	}

#vtek .left {
	width:56px;
}

#vtek .centre {
	width:275px;
}

#ptek table {
	background:url(photo.png) bottom right no-repeat;
	width:93%;
	border-collapse:collapse;
	margin-left:20px;
	padding:0;
	border:0;
}
 
/* taille cellule td photothèque */
 
#ptek td {
	height: 20px;
	width:33%;
	vertical-align:middle;
}

#ptek {
	display:none;
}

.photo:hover #ptek {
	display:block;
}

#btek table {
	background:url(pdf.png) bottom right no-repeat;
	width:93%;
	border-collapse:collapse;
	margin-left:20px;
	padding:0;
	border:0;
}
 
/* taille cellule td bibliothèque */

#btek td {
	height: 20px;
	width:33%;
	vertical-align:middle;
}

#btek {
	display:none;
}
 
#ptek a {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:11px;
	color:#0d6b00;
	text-align:right;
	margin-top:10px;
}
#ptek a:hover {
	text-decoration:none;
	color:#e46800;
}
#ptek h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	font-style:italic;
	font-weight:bold;
	text-align:justify;
	margin:10px 0 5px 0;
	padding:0;
	color:#e46800;
}
#btek a {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:11px;
	color:#0d6b00;
	text-align:right;
	margin-top:10px;
}
#btek a:hover {
	text-decoration:none;
	color:#e46800;
}
#btek h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	font-style:italic;
	font-weight:bold;
	text-align:justify;
	margin:10px 0 5px 0;
	padding:0;
	color:#e46800;
}
 

 
/* @end */
 
/* @group événement */
 
.event 
	{
	padding: 0;
	float: left;
	width: 205px;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	}
 
.event h2 
	{
	background: url(smallcolheaderbg.png) no-repeat center top;
	margin: 0;
	height: 45px;
	color: #fff;
	font: bold 12px/50px Verdana, Geneva, sans-serif;
	padding: 5px 0 0 20px;
	}
 
.event div 
	{
	background-image: url(smallcolbg.png);
	margin: 0;
	font-family: Georgia;
	padding: 0;
	}
 
.event ul 
	{
	list-style-type: none;
	margin: 0;
	display: block;
	background-image: url(smallcolbg.png);
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	}
 
.event ul li.list-title 
	{
	color: #e46800;
	text-align: center;
	border-style: none;
	font: bold 14px Georgia;
	padding-left: 0;
	background-image: none;
	padding-bottom: 4px;
	margin-bottom: 10px;
	padding-top: 5px;
	}
 
.event ul li.last-item 
	{
	background-image: none;
	text-align: right;
	}
 
.event ul li 
	{
	padding: 0;
	margin-right: 0;
	margin-top: 10px;
	margin-left: 0;
	}
 
.event ul li a, .event ul li a:link, .event ul li:visited, .event ul li:visited:hover 
	{
	display: block;
	padding: 0;
	margin: 0;
	}

 
.event div.event-footer 
	{
	height: 15px;
	margin: 0;
	background: url(smallcolfooter.png) no-repeat;
	width: 205px;
	}
 
/* @end */
 
/* @group agenda */
 
.agenda 
	{
	padding: 0;
	float: left;
	width: 205px;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	}
 
.agenda h2 
	{
	background: url(smallcolheaderbg.png) no-repeat center top;
	margin: 0;
	height: 45px;
	color: #fff;
	font: bold 12px/50px Verdana, Geneva, sans-serif;
	padding: 5px 0 0 20px;
	}
 
.agenda div 
	{
	background-image: url(smallcolbg.png);
	margin: 0;
	font-family: Georgia;
	padding: 0;
	}
 
.agenda ul 
	{
	list-style-type: none;
	margin: 0;
	display: block;
	background-image: url(smallcolbg.png);
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	clear: both;
	}
 
.agenda ul li.list-title 
	{
	color: #e46800;
	text-align: center;
	border-style: none;
	font: bold 14px Georgia;
	padding-left: 0;
	background-image: none;
	padding-bottom: 4px;
	margin-bottom: 10px;
	padding-top: 5px;
	}
 
.agenda ul li:first-child 
	{
	border-style: none;
	}
 
.agenda ul li 
	{
	border-top: 1px solid #ed9c02;
	color: #333;
	display: block;
	clear: both;
	padding: 5px 5px 5px 0;
	font-family: Verdana;
	}
 
.agenda ul li span 
	{
	display: block;
	float: left;
	color: #0d6b00;
	font: bold 11px/30px Georgia;
	margin-right: 5px;
	padding: 0;
	}
 
.agenda ul li a, .agenda ul li a:link, .agenda ul li:visited 
	{
	padding-left: 40px;
	text-decoration: none;
	/*color: #0d6b00;*/
	color:#3b3b3b;
	/*font: italic bold 12px Georgia;*/
	font: 11px Verdana, Geneva, sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	}
 
.agenda ul li a:hover 
	{
	color: #e46800;
	}
 
.agenda div.agenda-footer 
	{
	height: 15px;
	margin: 0;
	background: url(smallcolfooter.png) no-repeat;
	width: 205px;
	}
 
.view-filter 
	{
	margin: 0 0 30px;
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
	}
 
.view-filter a, .view-filter a:link, .view-filter a:visited
	{
	color: #0d6b00;
	text-decoration: none;
	}
 
.view-filter a:hover 
	{
	color: #e46800;
	}
 
/* @end */
 
/* @group headlines */
 
/* Style du bloc la Une */
 
#headlines 
	{
	width: 507px;
	}
 
/* lien RSS */
 
#headlinesheader 
	{
	background: url(headlinesheaderbg.png) no-repeat;
	text-align: right;
	width: 502px;
	margin: 0;
	height: 20px;
	padding: 4px 0 0;
	}
 
#headlinesheader a, #headlinesheader  a:link, #headlinesheader a:visited 
	{
	color: #fff;
	text-decoration: none;
	font: bold 12px Verdana;
	padding-right: 30px;
	}
 
#headlinesheader a:hover 
	{
	color: #0d6b00;
	}
 
#headlinescontainer  
	{
	background: url(headlinesbg.png) repeat-y center;
	padding-right: 15px;
	padding-left: 15px;
	}
 
/* titres */
 
#headlinescontainer h2 
	{
	color: #e46800;
	font: bold 14px Verdana;
	border-bottom: 1px solid #e46800;
	padding: 0;
	margin: 0;
	}
 
#headlinescontainer h3 
	{
	color: #0d6b00;
	font: bold 14px Georgia;
	margin: 0px;
	padding: 10px 0 0;
	}
 
#headlinescontainer p 
	{
	margin: 0px;
	padding: 5px 0;
	font-family: Verdana;
	text-align: justify;
	}
 
/* petits blocs */
 
#tinycolscontainer 
	{
	margin: 0px;
	padding: 0;
	}
 
#tinycolscontainer div.tinycols 
	{
	width: 150px;
	float: left;
	}
 
.middlecol 
	{
	margin-right: 13px;
	margin-left: 13px;
	}

 
#tinycolscontainer div.tinycols p 
	{
	margin: 0;
	}
 
#tinycolscontainer h3 
	{
	margin: 0;
	padding: 2px 0 0;
	}
 
#tinycolscontainer h2 
	{
	margin: 0;
	}
 
#headlinesfooter 
	{
	background: url(headlinesfooter.png) no-repeat center center;
	width: 507px;
	height: 15px;
	}
 
/* @end */
 
/* @group zoom + accès direct */
 
#closer 
	{
	
	}
 
#closerheader 
	{
	width: 507px;
	height: 16px;
	background: url(closerheaderbg.png) no-repeat center;
	}
 
#closercontainer 
	{
	background: url(headlinesbg.png) repeat-y center;
	}
 
#closercontainer h2 
	{
	color: #e46800;
	font: bold 14px Verdana;
	border-bottom: 1px solid #e46800;
	margin: 0 14px 0 15px;
	padding: 0;
	}
 
#closercontainer h3 
	{
	color: #0d6b00;
	font: bold 14px Georgia;
	margin: 0 14px 0 15px;
	padding: 5px 0 0;
	}
 
#closercontainer div#zoom 
	{
	width: 347px;
	float: left;
	}
 
#closercontainer div#access 
	{
	width: 160px;
	float: right;
	}
 
#closercontainer div#access h2 
	{
	margin: 0 15px 0 0;
	}
 
#closercontainer div#access h3 
	{
	margin: 0 15px 0 0;
	}
 
#closercontainer div#access ul 
	{
	list-style-type: none;
	margin: 5px 0 10px;
	padding: 0;
	}
 
#closercontainer div#access ul a, #closercontainer div#access ul a:link, #closercontainer div#access ul a:visited 
	{
	color: #0d6b00;
	/*color: #0070b8;*/
	font: 11px Verdana;
	}
 
#closercontainer div#access ul a:hover 
	{
	color: #e46800;
	text-decoration: none;
	}
 
#closercontainer p 
	{
	margin: 0 14px 10px 15px;
	padding: 5px 0;
	font-family: Verdana;
	text-align: justify;
	}
 
#closerfooter 
	{
	background: url(headlinesfooter.png) no-repeat center center;
	width: 507px;
	height: 15px;
	}
 

 
/* @end */
 
/* @group Inscription Newsletter */
 
#newslettercontainer 
	{
	width: 200px;
	padding: 0;
	position: relative;
	top: 6px;
	float: right;
	margin: 0;
	left: 37px;
	}
 
#newslettercontainer input 
	{
	background: none;
	border-style: none;
	}
 
#newslettercontainer input[type="text"] 
	{
	padding: 3px;
	width: 120px;
	font-size: 12px;
	}
 
#newslettercontainer input[type="submit"]
	{
	cursor: pointer;
	margin-left: 5px;
	}
 
#newslettercontainer label 
	{
	display: none;
	}
 
/* @end */
 
/* @group fil d'ariane */
 
#filariane 
	{
	width: 550px;
	margin: 0;
	position: relative;
	top: 3px;
	padding: 5px;
	font-size: 14px;
	color: #fff;
	left: 0;
	font-weight: bold;
	}
 
#filariane a, #filariane a:link, #filariane:visited 
	{
	color: #fff;
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
	}
 
#filariane a:hover 
	{
	text-decoration: underline;
	color:#000;
	}
 
/* @end */
 
/* @group marketing */
 
#marketing 
	{
	padding: 10px 0;
	margin: 0 0 20px;
	}
 
#marketing a img
	{
	margin: 0 0 0 5px;
	padding: 0;
	vertical-align: middle;
	}
 
#marketing a, #marketing a:link, #marketing a:visited
	{
	color: #0d6b00;
	text-decoration: none;
	}
 
#marketing a:hover 
	{
	color: #e46800;
	}
 
/* @end */
 
/* @group actus */
 
#news-index h4 
	{
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-left: 10px;
	}
 
#news-index h4 a, #news-index h4 a:link, #news-index h4 a:visited 
	{
	text-decoration: none;
	color: #106300;
	}
 
#news-index h4 a:hover 
	{
	color: #e46800;
	}
 
#news-archives 
	{
	margin-top: 18px;
	}

#news-archives h2 
	{
	margin-bottom: 18px;
	}

#news-archives h3 
	{
	margin-left: 10px;
	margin-bottom: 18px;
	}

#news-archives ul 
	{
	list-style-type: none;
	margin: 0 0 10px 60px;
	padding: 0;
	display: block;
	width: 400px;
	clear: both;
	}

#news-archives ul li 
	{
	float: left;
	}

#news-archives ul li a, #news-archives ul li a:link, #news-archives ul li a:visited 
	{
	display: block;
	width: 50px;
	color: #fff;
	text-decoration: none;
	background-color: #759c38;
	text-align: center;
	font-size: 11px;
	padding: 5px;
	margin-right: 1px;
	margin-bottom: 1px;
	}

#news-archives ul li a:hover 
	{
	background-color: #e69300;
	color: #fff;
	}
 
/* bloc actus */
 
/* @group glider */
 
div#glider 
	{
	width: 180px;
	text-align: justify;
	margin: 0 auto 10px;
	padding: 0;
	}
 
.controls 
	{
	padding: 0;
	margin: 5px 0 1px;
	}
 
.controls a, .controls a:link, .controls a:visited
	{
	width: 47px;
	display: block;
	float: left;
	padding: 5px;
	margin-right: 1px;
	text-align: center;
	font: bold 12px Verdana;
	text-decoration: none;
	}
 
.controls a:hover 
	{
	background-color: #333;
	color: #fff;
	}
 
div.scroller { 
	/* modify width and height of scrolling section if necessary	*/		
	width: 180px; 
	overflow: hidden;
	padding: 0;
	color: #333;
	font-size: 14px;
	margin: 0;
	}
	div.scroller div.section {
		/* modify width and height of each section as needed (should match the size of the scroller window)	*/		
		width: 190px;
		float:left;
		overflow: hidden;	
		}
	div.scroller div.content {
		width: 10000px;
		}
/* @end */
 
#news-container 
	{
	padding: 0;
	float: left;
	width: 205px;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	}
 
#news-container h2 
	{
	background: url(smallcolheaderbg.png) no-repeat center top;
	margin: 0;
	height: 45px;
	color: #fff;
	font: bold 12px/50px Verdana, Geneva, sans-serif;
	padding: 5px 0 0 20px;
	}
 
#news-container h3 
	{
	color: #e46800;
	font: 14px Verdana;
	margin: 0;
	padding: 7px;
	text-align: center;
	background-color: #f9c801;
	}

 
#news-container ul li.list-title 
	{
	color: #e46800;
	text-align: center;
	border-style: none;
	font: bold 14px Georgia;
	padding-left: 0;
	background-image: none;
	padding-bottom: 4px;
	margin-bottom: 10px;
	padding-top: 5px;
	}
 
#news-container ul li.first-item 
	{
	border-style: none;
	}
 
#news-container ul li.last-item 
	{
	background-image: none;
	text-align: right;
	}
 
ul#news-list 
	{
	background-image: url(smallcolbg.png);
	list-style-type: none;
	margin: 0;
	display: block;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;

	}
 
ul#news-list li 
	{
	border-top: 1px solid #ed9c02;
	background: url(tag.png) no-repeat left center;
	padding-left: 10px;
	padding-right: 5px;
	}
 
ul#news-list p 
	{
	font-family: Verdana;
	}
 
ul#news-list li a, ul#news-listli a:link, ul#news-list li:visited 
	{
	padding-left: 20px;
	text-decoration: none;
	color: #0d6b00;
	font: italic bold 12px Georgia;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	}
 
ul#news-list li a:hover 
	{
	color: #e46800;
	}
 
#news-container-footer
	{
	height: 15px;
	margin: 0;
	background: url(smallcolfooter.png) no-repeat;
	width: 205px;
	}
 
/* bloc archives */
 
.orange 
	{
	color: #fff;
	background-color: #e69300;
	}
 
.green 
	{
	background-color: #759c38;
	color: #fff;
	}
 
.blue 
	{
	background-color: #5e76c6;
	color: #fff;
	}
 
/* bloc 1 */
 
#bloc-archives-container 
	{
	padding: 0 15px;
	margin: 0;
	background: url(smallcolbg.png) repeat-y;
	}
 
ul.bloc-archives 
	{
	display: block;
	font-family: Verdana;
	padding: 0;
	margin: 0;
	clear: both;
	background-image: none;
	}

ul.bloc-archives li 
	{
	border-style: none;
	background-image: none;
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	}

ul.bloc-archives li a, ul.bloc-archives li a:link, ul.bloc-archives li a:visited 
	{
	display: block;
	color: #fff;
	text-decoration: none;
	background-color: #e69300;
	text-align: center;
	padding: 5px;
	margin-right: 1px;
	margin-bottom: 1px;
	width: 47px;
	font: 11px Verdana;
	}

ul.bloc-archives li a:hover , ul.bloc-archives li a.actif 
	{
	background-color: #ffd597;
	color: #fc4823;
	}
 
/* bloc 2 */
 
ul.bloc-archives-2 
	{
	display: block;
	font-family: Verdana;
	padding: 0;
	margin: 0;
	clear: both;
	background-image: none;
	}

ul.bloc-archives-2 li 
	{
	border-style: none;
	background-image: none;
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	}

ul.bloc-archives-2 li a, ul.bloc-archives-2 li a:link, ul.bloc-archives-2 li a:visited 
	{
	display: block;
	color: #fff;
	text-decoration: none;
	background-color: #759c38;
	text-align: center;
	padding: 5px;
	margin-right: 1px;
	margin-bottom: 1px;
	width: 47px;
	font: 11px Verdana;
	}

ul.bloc-archives-2 li a:hover , ul.bloc-archives-2 li a.actif 
	{
	background-color: #d9fdbe;
	color: #148f19;
	}
 
/* bloc 3 */
 
ul.bloc-archives-3 
	{
	display: block;
	font-family: Verdana;
	padding: 0;
	margin: 0;
	clear: both;
	background-image: none;
	}

ul.bloc-archives-3 li 
	{
	border-style: none;
	background-image: none;
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	}

ul.bloc-archives-3 li a, ul.bloc-archives-3 li a:link, ul.bloc-archives-3 li a:visited 
	{
	display: block;
	color: #fff;
	text-decoration: none;
	background-color: #5e76c6;
	text-align: center;
	padding: 5px;
	margin-right: 1px;
	margin-bottom: 1px;
	width: 47px;
	font: 11px Verdana;
	}

ul.bloc-archives-3 li a:hover , ul.bloc-archives-3 li a.actif 
	{
	background-color: #ddfbfe;
	color: #1958c6;
	}
 

 
/* @end */