#news-archives ul li a, #news-archives ul li a:link, #news-archives ul li a:visited, div#bloc-archives-container h3 
	{
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	}
 
.orange, .green, .blue 
	{
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
    -moz-border-topright-radius: 3px;
    -moz-border-topleft-radius: 3px;
	}
 