.tx-keyac-pi1 .cal-teaser h3 {
		font-size: 1em; 
		margin: 0 !important;
		padding: 0 !important;	
	}
	.tx-keyac-pi1 .cal-teaser h3 a {
		color: #000;
		background: transparent  url('pict_menu.gif') no-repeat center left !important; 	 
		padding-left: 10px !important;
	}
	

.tx-keyac-pi1 table {
		border-collapse:collapse;
		margin:0;
		width: auto;
		border : none;
	}

.tx-keyac-pi1 table th { border: none; background: transparent;}
.tx-keyac-pi1 table td { border: none; }
	