/* default styles for extension "tx_dropdownsitemap_pi1" */
        .tx-dropdownsitemap-pi1 UL, .tx-dropdownsitemap-pi1 OL {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }
        .tx-dropdownsitemap-pi1 A, .tx-dropdownsitemap-pi1 A:link, .tx-dropdownsitemap-pi1 A:visited, .tx-dropdownsitemap-pi1 A:hover, .tx-dropdownsitemap-pi1 A:active {
            color: #FF8700;
            background-color: inherit;
        }
        .tx-dropdownsitemap-pi1 DIV {
            margin-left: 20px;
            margin-top: 2px;
            padding: 2px;
        }
        .tx-dropdownsitemap-pi1 LI.open OL {
            display: block;
        }
        .tx-dropdownsitemap-pi1 LI.closed OL {
            display: none;
        }
        .tx-dropdownsitemap-pi1 LI.open UL {
            display: block;
        }
        .tx-dropdownsitemap-pi1 LI.closed UL {
            display: none;
        }
        .tx-dropdownsitemap-pi1 SPAN.ifsub {
            text-transform: uppercase;
            font-weight: bold;
        }
        .tx-dropdownsitemap-pi1 SPAN.spc {
            text-transform: uppercase;
            font-style: italic;
        }
        .tx-dropdownsitemap-pi1 .description {
            font-style: italic;
            font-size: 80%;
            margin-left: 5px;
        }
        .tx-dropdownsitemap-pi1 DIV {
        }
        .tx-dropdownsitemap-pi1 DIV.level_2 {
        }
        .tx-dropdownsitemap-pi1 DIV.level_3 {
        }
        .tx-dropdownsitemap-pi1 DIV.level_4 {
        }
        .tx-dropdownsitemap-pi1 DIV.level_5 {
        }
        .tx-dropdownsitemap-pi1 DIV.expAll {
            border: solid 1px #DBA83B;
            background-color: #FCF2C8;
            color: inherit;
            padding: 5px;
        }
        .tx-dropdownsitemap-pi1 IMG {
            margin-right: 5px;
        }
/* default styles for extension "tx_ul2fecas_pi1" */
		.tx-ul2fecas-pi1 {display: inline;}
/* default styles for extension "tx_keyac_pi1" */

	.tx-keyac-pi1 {
		margin-top: 10px;
		margin-left: 0;
		margin-right: 0;
		width: auto;
	}


/***************************/
/* STYLES FOR TEASER VIEW  */
/***************************/
	.tx-keyac-pi1 .cal-teaser {
		border:none;
		width: auto;
		font-size: 0.9em;
	}
	.tx-keyac-pi1 .cal-teaser div.teasernoitem {margin: 10px 0 10px 5px;}

	.tx-keyac-pi1 .cal-teaser div.teasereventitem {margin-bottom: 10px;}

	.tx-keyac-pi1 .cal-teaser h3 {
		font-size: 1em; 
		margin: 0 !important;
		padding: 0 !important;	
	}
	.tx-keyac-pi1 .cal-teaser h3 a {
		color: #000;
		background: transparent  url('http://www.univ-lille2.fr/typo3temp/clear.gif') no-repeat center left !important; 	 
		padding-left: 10px !important;
	}


	.tx-keyac-pi1 .cal-teaser h3 a:hover { text-decoration:underline; }

	.tx-keyac-pi1 .cal-teaser .teaserdate {color: #666666; font-size: 0.9em; padding-left: 10px;}
	.tx-keyac-pi1 .cal-teaser .teaserorga {}
 	.tx-keyac-pi1 .cal-teaser .teasercat {color: #666666; font-size: 0.9em; padding-left: 10px;}
	.tx-keyac-pi1 .teaserbodytext p { text-indent: 10px;}

	.tx-keyac-pi1 .cal-teaser .header {
		display:block;
		color:#FFF;
		vertical-align:middle;
		font-weight:bold;
		font-size:1.3em;
		height:1.4em;
		padding-left:0.7em;
		margin-bottom:0.3em;
	}
	.tx-keyac-pi1 .cal-teaser a:link,
	.tx-keyac-pi1 .cal-teaser a:visited {
		text-decoration:none;
	}

/**************************************/
/* STYLES FOR CALENDAR and LIST VIEW  */
/**************************************/


	.tx-keyac-pi1 div.listitem {
		padding-left: 3px;
		font-size: 0.8em;
		margin: 5px 0 5px 0;
	}

	.tx-keyac-pi1 span.listlinktosingle {
		padding-left: 5px;
	}

	.tx-keyac-pi1 span.listtitle {
		padding-left: 15px;
		font-weight: bold;
	}
	.tx-keyac-pi1 span.calendarplace,
	.tx-keyac-pi1 span.calendarcat, 
	.tx-keyac-pi1 span.calendarorga {
		padding-left: 15px;
	}


	.tx-keyac-pi1 #navigation {
		height:2em;
		margin-bottom:1em;
		text-align:center;
	}

	.tx-keyac-pi1 .monthnavig {
		text-align:center;
	}

	.tx-keyac-pi1 .monthnavig table.tabmonthnavig {
		margin-left: auto;
		margin-right: auto;
		font-size: 0.8em;
	}

	.tx-keyac-pi1 .monthnavig table.tabmonthnavig td{
		text-align: right;
	}


	.tx-keyac-pi1 #pfeil_zurueck   {
		padding-top:0.6em;
		/*float:left;*/
		width:1.6em;
		height:3em;
		margin-right:0.4em;
	}
	.tx-keyac-pi1 #pfeil_vor {
		padding-top:0.6em;
		/*float:right;*/
		/*float:left;*/
		width:1.6em;
		height:3em;
	}
	.tx-keyac-pi1 #pfeil_vor img.vor,
	.tx-keyac-pi1 #pfeil_zurueck img.zurueck {
		width: 1.5em;
		height: 1.5em;
		border:0;
	}
	.tx-keyac-pi1 #pfeil_vor[id] img.vor {
	}

	.tx-keyac-pi1 .navigvornext {
		margin-left: auto;
		margin-right: auto;
		width: auto;
		text-align: center;
	}
	.tx-keyac-pi1 table.calendar {
		margin-bottom:10px;
		/*float:left;*/
		/*margin:0em 0.6em 2em 0;*/
		margin-left: auto;
		margin-right: auto;
		font-size: 0.9em;
	}
	.tx-keyac-pi1 table.calendar th {
		background:#ececec;
		text-align:center;
		padding:2px;
		font-weight:bold;
		font-size: 0.9em;	
		/*border:1px solid black;*/
		color:black;
	}
	.tx-keyac-pi1 table.calendar td {
		width:1.4em;
		height:1.6em;
		text-align:center;
		background:#ececec;
		border:1px solid #ececec;
	}	
	.tx-keyac-pi1 table.calendar td.day,
	.tx-keyac-pi1 table.calendar td.week {
		color:#b6b4b4;
		background:#e0e0e0;
		border:1px solid #e0e0e0;
		font-weight:bold;
	}
	#content[id] .tx-keyac-pi1 table.calendar td {
		padding:0;
	}
	.tx-keyac-pi1 table.calendar td.today {
		background: #CCC; 
	}
	.tx-keyac-pi1 table.calendar td.cat1,
	 .tx-keyac-pi1 table.calendar td.todaycat1 {
		border: 1px solid #ffd200;
	}
	.tx-keyac-pi1 table.calendar td.cat2,
	.tx-keyac-pi1 table.calendar td.todaycat2 {
		border: 1px solid #32b135;
	}
	.tx-keyac-pi1 table.calendar td.cat3,
	.tx-keyac-pi1 table.calendar td.todaycat3 {
		border: 1px solid #111a9c;
	}
	.tx-keyac-pi1 table.calendar td.cat4,
	.tx-keyac-pi1 table.calendar td.todaycat4 {
		border: 1px solid #FF0000;
	}
	.tx-keyac-pi1 table.calendar td.cat5,
	.tx-keyac-pi1 table.calendar td.todaycat5 {
		border: 1px solid #b325c4;
	}
	.tx-keyac-pi1 table.calendar td.cat6,
	.tx-keyac-pi1 table.calendar td.todaycat6 {
		border: 1px solid #e71678;
	}
	.tx-keyac-pi1 table.calendar td.cat7,
	.tx-keyac-pi1 table.calendar td.todaycat7 {
		border: 1px solid #bb1515;
	}
	.tx-keyac-pi1 table.calendar td.cat8,
	.tx-keyac-pi1 table.calendar td.todaycat8 {
		border: 1px solid #fcff00;
	}
	.tx-keyac-pi1 table.calendar td.cat9,
	.tx-keyac-pi1 table.calendar td.todaycat9 {
		border: 1px solid #3cff00;
	}
	.tx-keyac-pi1 table.calendar td.cat10,
	.tx-keyac-pi1 table.calendar td.todaycat10 {
		border: 1px solid #ff6c00;
	}
	.tx-keyac-pi1 table.calendar td.cat99,
	.tx-keyac-pi1 table.calendar td.todaycat99 {
		border: 1px solid;
		border-left-color:#ffd200;
		border-top-color:#32b135;
		border-right-color:#111a9c;
		border-bottom-color:#b325c4;
	}
	.tx-keyac-pi1 table.calendar td.todaycat1,
	.tx-keyac-pi1 table.calendar td.todaycat2,
	.tx-keyac-pi1 table.calendar td.todaycat3,
	.tx-keyac-pi1 table.calendar td.todaycat4,
	.tx-keyac-pi1 table.calendar td.todaycat5,
	.tx-keyac-pi1 table.calendar td.todaycat6,
	.tx-keyac-pi1 table.calendar td.todaycat7,
	.tx-keyac-pi1 table.calendar td.todaycat8,
	.tx-keyac-pi1 table.calendar td.todaycat9,
	.tx-keyac-pi1 table.calendar td.todaycat10,
	 .tx-keyac-pi1 table.calendar td.todaycat99 {
		background: #CCC;
	}
	.tx-keyac-pi1 .calswitch {
		text-align: center;
		margin : 0;
		padding: 5px 0 5px 0;
		font-size: 0.9em;
	}


	/* Kalender - Listenansicht  */
	.tx-keyac-pi1 .termine-item {
		margin:10px 0 0 0 ;
		margin: 0;
		font-size: 0.9em;
	}
	.tx-keyac-pi1 .termine-item img {
		vertical-align:middle;
	}



	/* Kalender - Legende */
	.tx-keyac-pi1 .legende {
		margin: 0;
		border:1px solid #cccccc;
		padding: 2px;
		font-size: 0.8em;
	}

	.tx-keyac-pi1 .calswitchlegon {
		margin: 0;
		text-align: center;
	}

	.tx-keyac-pi1 .calswitchlegoff {
		margin: 0;
		text-align: center;
	
	}
	.tx-keyac-pi1 .legende img {
		vertical-align:middle;
		margin-right:6px;
	}

/**************************/
/* STYLES FOR SINGLE VIEW */
/**************************/

	.tx-keyac-pi1 .ul2cal-single-header {
		font-weight: bold;
		text-align: center;
		font-size: 1.2em;
		color : #888888;
		margin: 10px 0 10px 0;
	}

	.tx-keyac-pi1 .ul2cal-single-catlabel {
		color : #444444;
		font-style: italic;
		text-align: center;	
		margin: 10px 0 10px 0;	
	}

	.tx-keyac-pi1 .ul2cal-content-label {
		margin:0;                      
		font-weight: bold;
	}
	.tx-keyac-pi1 .ul2cal-content-rubri {
		margin-left: 10px;
		margin-bottom: 10px;                      
	}

	.tx-keyac-pi1 .ul2cal-content-backlink {
		text-align : right;
		margin-right : 20px;
	}

	.tx-keyac-pi1 p {
		margin-top:0;
	}
/**************************/
/* STYLES FOR OVERLIB TIP */
/**************************/
	ol_fgcolor = "#CCCCFF"

	ol_bgcolor = "#FF0000"

	ol_textcolor = "#000000"

	ol_capcolor = "#FFFFFF"

	ol_closecolor = "#9999FF"

	ol_textfont = "Verdana,Arial,Helvetica,sans-serif"

	ol_captionfont = "Verdana,Arial,Helvetica,sans-serif"

	ol_closefont = "Verdana,Arial,Helvetica,sans-serif"

/* default styles for extension "tx_flvplayer_pi1" */
		.tx-flvplayer-pi1 {
			text-align: center;
		}
/* default styles for extension "tx_cssstyledcontent" */
/* Captions */
	DIV.csc-textpic-caption-c .csc-textpic-caption { text-align: center; }
	DIV.csc-textpic-caption-r .csc-textpic-caption { text-align: right; }
	DIV.csc-textpic-caption-l .csc-textpic-caption { text-align: left; }

	/* Needed for noRows setting */
	DIV.csc-textpic DIV.csc-textpic-imagecolumn { float: left; display: inline; }

	/* Border just around the image */
	DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG {
		border: 2px solid black;
		padding: 0px 0px;
	}

	DIV.csc-textpic-imagewrap { padding: 0; }

	DIV.csc-textpic IMG { border: none; }

	/* DIV: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DIV.csc-textpic-image { float: left; }

	/* UL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL { list-style: none; margin: 0; padding: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI { float: left; margin: 0; padding: 0; }

	/* DL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image { float: left; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DT { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD IMG { border: none; } /* FE-Editing Icons */
	DL.csc-textpic-image { margin: 0; }
	DL.csc-textpic-image DT { margin: 0; display: inline; }
	DL.csc-textpic-image DD { margin: 0; }

	/* Clearer */
	DIV.csc-textpic-clear { clear: both; }

	/* Margins around images: */

	/* Pictures on left, add margin on right */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-right: 10px;
	}

	/* Pictures on right, add margin on left */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}

	/* Pictures centered, add margin on left */
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption { margin: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image IMG { margin: 0; }

	/* Space below each image (also in-between rows) */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image { margin-bottom: 5px; }
	DIV.csc-textpic-equalheight DIV.csc-textpic-imagerow { margin-bottom: 5px; display: block; }
	DIV.csc-textpic DIV.csc-textpic-imagerow { clear: both; }

	/* No margins around the whole image-block */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-firstcol { margin-left: 0px !important; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-lastcol { margin-right: 0px !important; }

	/* Add margin from image-block to text (in case of "Text w/ images") */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap {
		margin-right: 10px !important;
	}
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap {
		margin-left: 10px !important;
	}

	/* Positioning of images: */

	/* Above */
	DIV.csc-textpic-above DIV.csc-textpic-text { clear: both; }

	/* Center (above or below) */
	DIV.csc-textpic-center { text-align: center; /* IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap { margin: 0 auto; }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image { text-align: left; /* Remove IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-text { text-align: left; /* Remove IE-hack */ }

	/* Right (above or below) */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap { float: right; }
	DIV.csc-textpic-right DIV.csc-textpic-text { clear: right; }

	/* Left (above or below) */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap { float: left; }
	DIV.csc-textpic-left DIV.csc-textpic-text { clear: left; }

	/* Left (in text) */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap { float: left; }

	/* Right (in text) */
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap { float: right; }

	/* Right (in text, no wrap around) */
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap { float: right; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-right-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */

	/* Left (in text, no wrap around) */
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap { float: left; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-left-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */
	
	/* Browser fixes: */
	
	/* Fix for unordered and ordered list with image "In text, left" */
	.csc-textpic-intext-left ol, .csc-textpic-intext-left ul { padding-left: 40px; overflow: auto; height: 1%; }
DIV.csc-textpic DIV.csc-textpic-imagerow-last { margin-bottom: 0; }