.tabEvenements { padding: 0 0; margin: 0;}
.pt {	padding: 5px 0 ;}
.tabEvenements h3 {
	margin: 0;
	padding: 0;
	font : bold 11px Arial, Helvetica, sans-serif;
	padding : 0;
	text-align : center;
	display : block;
}
.tabEvenements a {
	width : 78px;
	padding : 5px 0 0 0;
	height : 20px;
	display : block;
	cursor: pointer;
	text-decoration: none;
	color: #a20061;
}
.tabEvenements a:hover {
	color: white;
	background: #FC3 url(http://www.mp2.aeroport.fr/mp2css/img/ongletevnt.gif) no-repeat;
}
div.accordion { width : 390px; }
div.accordion .title {
	position: relative;
	float: left; 
	height: 20px;
	width: 390px;
	overflow: hidden;
}

div.accordion h2{ 
	margin: 0 ;
	padding: 3px 0;
	font-size: 11px; 
	color: #FFF;
	font-weight: bold;
	text-align: center;
	background: #a20061 url(http://www.mp2.aeroport.fr/mp2css/img/titre/h2309.gif) top no-repeat;
	/*text-transform: capitalize;*/
	height: 20px;
	width: 390px;
	overflow: hidden;
}

div.accordion td { border-top: 3px solid #fff; border-bottom: 1px solid #f5a32e;}
div.accordion .evenement_date{ text-align: center; font-size: 10px; }
div.accordion .evenement_label { font-size: 9px; }
div.accordion .evenement_ville { background: #f5a32e url(http://www.mp2.aeroport.fr/mp2css/img/ville-evnt.gif) left no-repeat; color: #FFFFFF; padding-left: 10px; color:#000000; font-size: 10px; }
div.accordion .evenement_link{ border-right: 1px solid #f5a32e;}
div.accordion a img{ border: none; }

.event_search {
	margin: 5px 0 0 0;
	padding: 0;
	width: 390px;
	float: left;
	color:  #FFF;
	background: #AB1D43 url(http://www.mp2.aeroport.fr/mp2css/img/form_bg.gif) no-repeat bottom;
}
.event_search form  {
	margin: 0;
	padding: 5px 0 10px 0;
	text-align: center;
	color:  #FFF;
}
.event_search input { border: 2px solid #e32d82; color:  #a20061;}

.event_search .buttonSubmit { border: 2px solid #e32d82;  font-size: 10px; color: #e32d82; background-color: #FFF}
.event_search .selectVille{ border: 2px solid #e32d82; font-size: 10px ;	color:  #a20061; }
