@import url(home_evenements.css);
.main_home {
	float: left;
	width: 390px;
}
#carte_mp2 {
	margin: 0;
	padding: 0 0 5px 0;
}
#carte_mp2 h1{
		margin: 0 0 5px 0;
		padding: 5px 0;
		background: #FC3 url(h2309_j.gif) top no-repeat;
	color: #AB1D43;
	font-size: 12px
}
.tooltip {
	width: 200px; 
	font-family: Arial, Helvetica, sans-serif;
	color: #584912;
	text-decoration: none;
	text-align: center;
}
.tooltip span.top { 
	padding: 30px 8px 0; 
	font-size: 14px;
	font-weight: bolder; 
	color: #3F89FF;
	background: url(bt.gif) no-repeat top;
}
.tooltip b.bottom { padding:3px 8px 15px; color: #548912; background: url(bt.gif) no-repeat bottom}


.mp2_events h1{
	background: #FC3 url(h2309_j.gif) top no-repeat;
	color: #AB1D43;
	padding: 7px 0 3px 0;
	margin: 0 0 5px 0 ;
	font-size: 16px;

}

.news_mp2 {
	float : left;
	width : 390px;
	padding : 5px 0;
}
.news_mp2 h1 {
	background: #FC3 url(h2309_j.gif) top no-repeat;
	color: #AB1D43;
	padding: 7px 0 3px 0;
	margin: 0;
	font-size: 16px;

}
.news_mp2 .curlcontainer {
	border : 1px solid #FFCC33;
}
.news_mp2  .curlbox {
	/*background : url(img/corner.gif) no-repeat bottom right;*/
	position : relative;
	padding: 5px;
}
.news_mp2 .date {
	text-align: right;
	padding: 0 5px 0 0;
	font-size: 10px;
	background-color: #FFFFFF;
	border-top: 1px dotted #FFCC33;
}
.news_mp2 h2 {
	font-size: 14px;
	color: #AB1D43;
	margin: 0px 0px 0px 0px;
	font-weight: bold;
	line-height: 120%;
	text-align: center;
}

.news_mp2 h2 a {
	color: #AB1D43;
	text-decoration: none;
}

.news_mp2 h2 a:hover {
	background: transparent url(title_h2_bg.png) top left repeat;
}
        
.news_mp2 a {
	color: #007dc4;
	font-weight: bold;
	text-decoration: none;
}
.news_mp2 a:hover {
	font-weight: bold;
	text-decoration: underline;
	color: #7fbee1;	
}
.news_mp2 p{
	padding: 5px;
	margin: 0;
	font-size: 11px;color:#454545;
}
.clear { clear: both;}
.home_skyscanner {
	margin-left: 5px;
	float: left;
	width: 205px;
}
.home_skyscanner h1{
	background: #FFCC33 url(bg_titre_205_j.gif) top no-repeat;
	color: #AB1D43;
	padding: 7px 0 3px 0;
	margin: 0 0 5px 0 ;
	font-size: 12px;
}
#iframe_skyscanner {
	background: url(bigloading.gif) center 120px no-repeat;
	border: 1px solid #FFCC33;
}
#iframe_skyscanner .conditions {
	text-align: center;
	background-color: #FFCC33;
}
#iframe_skyscanner .conditions a{
	text-decoration: none;
	font-weight: bold;
	color: #AB1D43;
}
#iframe_skyscanner .conditions a:hover{
	text-decoration: underline;
}
/* resa ryanair*/
.resa_ryanair { width: 203px; display: block; border: 1px solid #FC3; color: #00549a; font-size: 12px; padding-bottom: 5px; }
.resa_ryanair h1{ font-size: 12px; background: #FFCC33;  color: #00549a;}
.resa_ryanair a {
	text-decoration: underline;
	color: #00549a;	
}
.resa_ryanair a:hover {
	text-decoration: underline overline;
	background-color: #ffcc33;
}
.resa_ryanair ul { list-style: none; margin: 0; padding: 0;}
	.resa_ryanair li {  margin: 0; padding: 0 0 0 5px;}

.home_booking {
	position: relative;
	margin-left: 5px;
	float: left;
	width: 205px;
}