@import url(menu.css);
body {
	margin: 0 auto;
	padding: 0;
	font: 11px Arial, Helvetica, sans-serif;
}
a img { border: none; }
a { outline: none; }
/*a {color: #3333CC;}
a:hover { color:#993399}
 a:visited { text-decoration: none;}*/

#nofooter {
	margin: 0;
	background: #FFF url(site_bg.gif) center repeat-y;
}

#main {
	position: relative;
	margin: 0 auto;
	width: 980px;
	background: transparent; 
}
/* Header */
#header {
	position: relative;
	margin: 0 auto;
	width: 980px;
	padding: 0;
	background: #FFCC33;
	z-index: 10;
}
#header h1 a{
	position: relative;
	float: left;
	margin: 0 auto;
	width: 980px;
	height: 127px;
	padding: 0;
	background: #transparent;
	z-index: 10;
	text-indent: -10000px;	
}
#header_swf {
	position: relative;
	margin: 0 auto;
	width: 980px;
	height: 127px;	
	padding: 0;
	background: #FFCC33 url(mp2background.gif);
	/*z-index: 10;*/
}
#header_png {
	position: absolute;
	margin: 0 auto;
	width: 980px;
	height: 127px;	
	padding: 0;
	z-index: 12;
	/*background: url(img/mp2-vivez-plus-fort.gif) no-repeat;*/
}
* html #header_png { background: url(Bmp2.gif); }

#header a img{ border: none; padding: 0; margin: 0;}

#menu {
	position: relative;
	float: left;
	padding: 0;
	margin: 0;
	width: 810px;
	padding-left: 170px;
/*	border-top: 5px solid #0051A9;*/
	background-color: #AB1D43;
	z-index: 15;	
}

/* main left */
#main_left {
	position: relative;
	float: left;
	margin: 0 auto;
	width: 165px;
	background: transparent;
}
#espace_pub {
	margin: 0;
	padding: 15px 0;
	background: #FC3 url(mp2dest_h.gif) top no-repeat ;
}
#espace_pub .intpub {
	margin: 0 5px;
	padding: 5px 0;
	background-color: #FFF !important;
	text-align: center;
	position: relative;
}
#vols_directs {
	margin: 0;
	padding: 20px 0 0 0;
	background: #FC3 url(mp2dest_h.gif) top no-repeat ;
}
#vols_directs .int {
	margin: 0 5px;
	padding: 5px 0;
	line-height: 20px;
	font-weight: bold;
	font-size: 16px;
	background-color: #FFF !important;
	text-align: center;
	position: relative;
	color: #889126;
	border-bottom: 2px dotted #ccc;
}
#vols_directs .int h1{
	padding: 0;
	margin: 0;
	font-size: 16px;
	color: #889126;

}
#vols_directs ul {
	margin: 0 5px;
	padding: 10px 0;
	list-style: none;
	line-height: 15px;
	font-weight: bold;
	font-size: 12px;
	background-color: #FFF !important;	
	position: relative;
}
#vols_directs ul a {
	width: 120px; 
	margin: 1px 0 0 0 ;
	padding: 1px 0 1px 30px;
	text-decoration: none;
	display: block;
	background: #FFF url(avion01.gif) left no-repeat ; 
}
#vols_directs ul a.dest {color: #27912F;}
#vols_directs ul a.destnew { background: #FFF url(avion01.gif) left no-repeat ; color: #0087ff}
#vols_directs ul a.destfin { background: #FFF url(avion01.gif) left no-repeat ; color: #66CC66}
#vols_directs ul a.desthotel {color: #FF5EA9;}

#vols_directs ul a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #bcc641;
}
#vols_directs ul a.active {
	color: #FFF;
	text-decoration: none;
	background-color: #bcc641;
}
#vols_directs .conditions {
	text-align: right;
	margin: 0 5px;
	padding: 10px 0;
	border-top: 2px dotted #ccc;
	background: #FFFFFF;
}
#vols_directs .faq {
	position: relative;
	margin: 0 5px;
	padding: 5px 0 5px 5px;
	list-style: none;
	line-height: 15px;
	font-weight: bold;
	font-size: 12px;
	background: #FFF;	
}
#vols_directs .faq a{
	width: 145px;
	display: block;
	padding: 5px 0;
	background: #FFCC33;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
}
#vols_directs .faq a:hover{
	width: 145px;
	display: block;
	padding: 5px 0;
	background: #f5a32e;
	text-decoration: none;
	text-align: center;
	color: #FFCC33;
}
#vols_directs .vols_bottom {
	height: 35px;
	position: relative;
	background: #FFCC33 url(mp2dest_b.gif) top no-repeat;
}
/*
#vols_directs ul .dest{
	margin: 0;
	padding: 0 0 0 25px;
	color: #007DC4;
	text-decoration: none;
	display: block;
}
*/


/* main right */
#main_right {
	position: relative;
	float: left;
	margin: 0 auto;
	width: 815px;
	background: transparent;
}
#content {
	margin-top: 5px;
	margin-left: 5px;
	position: relative;
	width: 810px;
	background: transparent; 
}

/* footer */
#footer {
	float: left;
	padding: 5px 0;
	position: relative;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	background: #37424A;
	/*border-top: 1px solid #FC3;*/
	color: white;
	font-size: 10px;
}
#footer a{
	text-decoration: none;
	color: #FFD701;
}
#footer a:hover{
	text-decoration: underline;
	color: white;
}
.spacer { clear: both; }

/* historique des pages */

#content #historique {
	padding: 2px 0 5px 0;
	font-variant:small-caps;
}

#content #historique a {
	text-decoration : none;
	color : #ffffff;
	font-weight : bold;
	padding: 2px 10px 2px 5px;
	background: #7ac4ea url(bg_historique.jpg) no-repeat right;
}
#content #historique a:hover {
	text-decoration : underline;
	color : #ffffff;
	font-weight : bold;
}
#content #historique .histo_page {
	text-decoration : none;
	color: #000000 ;
	font-weight : bold;
	padding: 2px 10px 2px 5px;
	background: #dcf0fa url(bg_historique_page.jpg) no-repeat right;
}
 #historique .histo_page:first-letter {	font-variant:small-caps;}
/* Titres Génériques */
h1 {
	padding: 0;
	font: bold 22px Arial, Helvetica, sans-serif;
	color: #fdb731;
	background-color: transparent ;
	text-align: center;
}
.mp_iframe { background: url(bigloading.gif) center 180px no-repeat; }
h1.generique {
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
	color: #6e85bb;
	text-align: center;
	text-decoration: none;
	border: 2px dotted #6e85bb;
	background: #eee;
}
h1.big { color:#FFFF00; background: #425059; padding: 5px 0; text-align: center; margin-bottom: 5px; font: bold 14px Verdana, Arial, Helvetica, sans-serif}





#container-left { float: left;	width: 165px; background: #AB1D43}

#container-left h1 { 
	margin: 5px 5px 0 5px;
	padding: 15px 5px 10px;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	color: #E62D88;
	background: white url(h1-left.png) top no-repeat;
	border-bottom: 2px dotted #AB1D43;
}
#container-left ul {
	font-size: 12px;
	margin: 0 5px;
	padding: 10px 0;
	background: white;
	border-bottom: 2px dotted #AB1D43;
	list-style: none;
}
#container-left ul li {
	line-height: normal;
	padding: 0;
	margin: 0;
	background: white url(avion.png) 2px 2px no-repeat;
	font-weight: bold;
	color: #0099EE;
}
#container-left a, #container-left .new-flight a{ 
	padding: 2px 0 2px 25px;
	text-decoration: none;
	display: block;
	height: 15px;
 }
#container-left .on-flight a{ 
	color: #E62D88;
	background: white url(avion-new.png) 2px 2px no-repeat;
 }
#container-left .new-flight a {
	color: #0099EE;
	background: white url(avion.png) 2px 2px no-repeat;
}
#container-left .end-flight a {
	color: #507B8C;
	background: white url(avion-end.png) 2px 2px no-repeat;
}

#container-left a:hover {
	color: white;
	background: #0099EE url(avion-bg.png)  2px 2px no-repeat;
}
#container-left a.active {
	color: white;
	background: #0099EE url(avion-bg.png)  2px 2px no-repeat;
}

#container-left #legend {
	margin: 0 5px 10px;
	padding: 10px 5px 20px 5px;
	color:  #0099EE;
	font-size: 11px;
	text-align: left;
	background: white url(etiquette-bottom.png) bottom no-repeat
}


/*Menu mp mp2 mpevasion*/
#header-content ul.menu-mp { width: 300px; z-index: 1000; position: absolute;   top: 90px; margin-left: -30px}
ul.menu-mp li{
	display:inline !important;
	float:right !important;
	list-style-type:none !important;
	height:30px !important;
	cursor:pointer !important;
	padding:0 !important;
	background-color:transparent !important;
	border:0 none !important;
	outline:0 none !important;
	clear:none !important;
	text-indent: -9999px;
}
li.site-mp a { display: block; width: 80px; height:30px}
li.site-mp2 a { display: block; width: 84px; height:30px}
li.site-mpevasion a { display: block; width: 135px; height:30px}

li.site-mp { background: url('mp.png') top no-repeat !important; width: 80px; }
li.site-mp:hover { background-position: center bottom !important;}
li.site-mp2 { background: url('mp2.png') center top no-repeat !important; width: 84px; margin-left: -20px;}
li.site-mp2:hover { background-position: center bottom !important;}
li.site-mpevasion { background: url('mpevasion.png') center top no-repeat !important; width: 135px; margin-left: -20px;}
li.site-mpevasion:hover { background-position: center bottom !important;}

