.fondtab {
	background-color: F8F9FA;
	background-image: url(ville.gif);
	border: 1px solid #4D4E4E;
	background-repeat: repeat-x;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #39449D;

}
.fontab {
	background-attachment: fixed;
	background-color: #F4F4F2;
	background-image: url(nature.gif);
	background-repeat: repeat-y;
	background-position: right top;
}
.carre {
	background-attachment: fixed;
	background-image: url(cci.gif.1);
	background-repeat: repeat-x;
	background-position: right top;
}
.fond {
	background-image: url(vague.gif);
	background-position: right bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #4D4E4E;


}
.courant {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}
.boldbleu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2C3693;
	font-weight: bold;

}
.courantbleu {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #2A3594;
}
.petitbleu {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #2A3594;
}
.fonds {

	background-image: url(vagues.gif);
	background-position: right bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.sstitregris {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #8B8D8D;
	font-weight: bold;
}
.puce {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #E32922;
}
a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #B01E22;
	text-decoration: none;
}
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #2C3693;
	text-decoration: underline;
}
a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	text-decoration: none;
}
.sstitrebleu {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2A3594;
	font-weight: bold;
}
.boldrouge {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #B01E22;
	font-weight: bold;
}
.bold {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #98989E;
	font-weight: bold;
}
.champs {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #4D4E4E;
	border: 1px solid #4D4E4E;
	background-color: #FFFFFF;

}
.sstitre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #6B6F72;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B01E22;
	background-color: #FFFFFF;



}
