body
{
	font-family: Verdana,Geneva,Kalimati,sans-serif;
	font-size:12px;
	background-color:#E3E3E3;
	margin-left:0px;
	margin-right:0px;
	behavior: url(http://www.pierrefonds.aeroport.fr/style_change/csshover.htc);
 }
