a {
  color:#99CC00;
}

h1 {
padding-bottom:5px;
margin-top:0px;
font-size:1.5em;
font-weight:bold;
}

h2 {
font-size:1.1em;
}   

h3{
font-size:1.0em;
font-weight:bold;
}

h4{
font-size:1.0em;
}

ul, ol {
	margin:0px; padding:0px;
	overflow:hidden;
}
ul li, ol.plansite1 li {
	list-style:none;
	margin:0px; padding-left:12px;
	background:url(li_niveau1.gif) no-repeat 0px 4px;
        margin-bottom:5px;
        color:#666666;
}

ul ul li, ol.plansite2 li {
	list-style:none;
	margin:0px; padding-left:24px;
	background:url(li_niveau2.gif) no-repeat 6px 6px;
}
ul ul ul li, ol.plansite3 li  {
	background:none;
	list-style:square;
	margin:0px; padding-left:36px;
}

.plandusite ol.plansite1 li a {
color: #666666;
font-weight:bold;
}

.plandusite ol.plansite2 li a {
color: #99CC00;
font-weight:normal;
}

.plandusite ol {
padding-left:23px;
}

.plandusite ol.plansite3, .plandusite ol.plansite3 ol {
padding-left:38px;
}

.plandusite ol.plansite3 li{
	padding-left:0px;
}

ol li {
  list-style:none;
  margin:0px; padding-left:16px;
  background:url(li_niveau2.gif) no-repeat 0px 6px;
}

.encadre_fiche ul.list_005 li, ul.detail_commentaire_niveau1 li.non_niveau1,
ul.liste_actualites_0004 li, ul.liste_actualites_0005 li, ul.liste_actualites_0001 li, 
ul.liste_articles_0004 li, ul.liste_articles_0002 li {
	background:none;
	padding-left:0px;
}

ul.detail_commentaire_niveau1 li.non_niveau1 {
	list-style:none;
}
#all_site {
position: relative;
margin: 0 auto 0 auto;
width: 996px;
text-align: left;
background:url(bord_site.jpg) repeat-y left top;
margin-bottom:10px;
}

div.colonne_contenu{
float:left;
height:100%;
padding:0 10px;
text-align:left;
width:695px;
}

#contenu_avec_encadres{
float:left;
height:100%;
/*padding-bottom:15px; */
width:725px;
}

#conteneur_contenu{
clear:both;
float:left;
height:100%;
margin:auto;
width:100%;
background:url(bg_conteneur_contenu.gif) repeat-y;
}

body.recherche #conteneur_contenu {
	background:none;
}

#conteneur_header{
width:100%;
height:100%;
position:relative;
padding-left:2px;
}

#bloc_fil_recherche{
float:left;
height:42px;
padding-top:20px;
width:984px;
padding-left:10px;
}

#encadre{
float:left;
height:100%;
width:258px;
}

.first_encadre{
margin-top:-15px;
}

.encadre_fiche, .encadre_recherche{
height:100%;
width:258px;
float:left;
padding-bottom:15px;
}

#menu_bar{
padding-left:3px;
}

#logo {
display:inline;
float:left;
margin:0 auto 2px;
overflow:hidden;
padding-left:5px;
width:986px;
}
#lyon2 {
float:left;
display:inline;
}
#udl {
display:inline;
float:right;
margin-right:5px;
position:relative;
text-align:right;
}
#udl a {
background: transparent url(logo-universite-lyon.jpg) no-repeat 0 0;
display: block;
width: 133px;
height: 60px;
}
#udl span {
color:#002C74;
font-size:10px;
left:0;
position: absolute;
top: 10px;
}
#udl a span {
display:none;
text-indent: -20000px;
}

/* Footer */
#conteneur_footer{
background-image:url(fond_footer.jpg);
background-repeat:repeat-x;
clear:both;
height:34px;
margin:0 0 0 2px;
width:990px;
}

#contenu_footer div#fond_rss{
background-image:url(fond_rss.png.1);
}

#contenu_footer div#fond_news{
background-image:url(fond_newsletter.png.1);
}

#contenu_footer div#fond_contact{
background-image:url(fond_contact.png.1);
}


h4.position_annuaire{
padding-left:22px;
}

#bandeau{
float:left;
margin-top:17px;
width:100%;
clear:both;
margin-bottom:3px;
}

html[xmlns] #bandeau{
height:auto;
}

ul#menu_principal{
background-image:url(fond_menu.jpg.1);
}

ul#menu_principal ul.sousmenu li.last a.bouton_ssmenu:hover span, 
ul#menu_principal ul.sousmenu li.first a.bouton_ssmenu:hover span, 
ul#menu_principal ul.sousmenu li a.bouton_ssmenu:hover span{
color: #99cc00;
min-height:15px;
padding-right:13px;
padding-top:1px;
padding-bottom:2px;
}

ul#menu_principal ul.sousmenu li.last a.bouton_ssmenu:hover, ul#menu_principal ul.sousmenu li.first a.bouton_ssmenu:hover, ul#menu_principal ul.sousmenu li a.bouton_ssmenu:hover{
display:block;
text-decoration:none;
}

ul#menu_principal ul.sousmenu li.last a.bouton_ssmenu:hover span{
background:url(last_item_ss_menu_hover_droite.gif) no-repeat right bottom;
}

ul#menu_principal ul.sousmenu li.last a.bouton_ssmenu:hover{
background:url(last_item_ss_menu_hover_gauche.gif) no-repeat left bottom;
}

ul#menu_principal ul.sousmenu li.first a.bouton_ssmenu:hover span{
background:url(first_item_ss_menu_hover_droite.gif) no-repeat right top;
}

ul#menu_principal ul.sousmenu li.first a.bouton_ssmenu:hover{
background:url(first_item_ss_menu_hover_gauche.gif) no-repeat left top;
}

ul#menu_principal ul.sousmenu li a.bouton_ssmenu:hover span{
background:url(item_ss_menu_hover_droite.gif) no-repeat right top;
}

ul#menu_principal ul.sousmenu li a.bouton_ssmenu:hover{
background:url(item_ss_menu_hover_gauche.gif) no-repeat left top;
}

div#acces_autres_sites {
	width: 986px;
}

p#ariane {
width:695px;
}
#recherche_simple {
padding-left:63px;
}

p#ariane a.lien_rouge{
  color:#99CC00;
  text-decoration:none;
}

p#ariane a.lien_rouge:hover{
  text-decoration:underline;
}


.style1 a{
  color:#99CC00;
  text-decoration:none;
}

.style1 a:hover{
  color:#99CC00;
  text-decoration:underline;
}

.style1 .fond_titre_paragraphe {
background:url(gdcarre.png) no-repeat 0% 30%;
}

.style1 h2 {
padding-left:25px;
border-bottom:1px solid #CCCCCC;
padding-bottom:6px;
}

.style2 a{
  color:#99CC00;
  text-decoration:none;
}

.style2 a:hover{
  color:#99CC00;
  text-decoration:underline;
}

.style2 div.contenu_style2{
border-top:none;
padding-top:0.7em;
}

.style2 .fond_titre_paragraphe {
background:url(ptcarre.png) no-repeat 0 5px;
}

.style2 h2 {
padding-left:20px;
border-bottom:1px solid #CCCCCC;
padding-bottom:6px;
}

.style5 {
	border-top:0px;
	padding-top:0px;
}
.style5 h2 {
  background: #fff url(puce_colonne_centre.jpg.1) no-repeat 0 7px;
  color: #ff3366;
}

p#ariane a.lien_couleur{
  color:#99CC00;
}
.puce_colonne_gauche{
  background-image:url(puce_colonne_centre.jpg.1);
}
#encadre p.bouton_recherche {
  margin-top:0;
}
p.bouton_recherche input{
  background-image:url(bouton_ok_recherche.jpg);
}
.encadre_fiche.first {
  margin-top:-18px;
}

.fond_encadre_fiche{
  background:#fff url(carres-verts.png) no-repeat 206px 4px;
}

.encadre_fiche h2, .encadre_recherche h2 {
  font-size: 1.1em;
  padding-bottom: 5px;
  margin:0;
  width:202px;
}

.position_titre_colonne-droite_module_sans_picto {
  border-bottom: 1px solid #ccc;
  margin-bottom:10px;
  width:258px;
}

p.select {
  margin:2px 0;
}
p.select select {
  width:268px;
}

#encadre h3 {
  margin-bottom: 0;
}
ul.liste_forma, ul.liste_forma li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.liste_forma li a, ul.liste_forma li a:link {
  color: #666;
}
ul.liste_forma li span {
  color: #99CC00;
}
liens_home {
  text-align: center;
}
.separateur.debut {
  padding-top : 0;
  border: none;
}
.enumeration_encadre_fiche ul li, .bloc_encadre_gauche ul.list_002 li, .bloc_encadre_droit ul.list_002 li, ul.list_002 li {
  background:url(puce-enum-verte.png) 0 0.5em no-repeat;
}
#contenu_footer {
  margin-right: 9px;
}

.colonne_fond ul.list_004, ul.list_006{
padding:0;
list-style:none;
padding:0;
display:block;

}

ul.list_004 li{
padding-bottom:5px;
padding-top:5px;
padding-left:20px;
background:url(puce_colonne_centre.jpg.1) 0 0.65em no-repeat;
}

ul.list_004 li span{
color:#99CC00;
}


ul.list_004 li a{
color:#99CC00;
text-decoration:none;
}

ul.list_004 li a:hover{
text-decoration:underline;
}

ul.list_006 li a{
color:#666666;
text-decoration:none;
}

ul.list_006 li a:hover, ul.list_006 li.lien_actif a, ul.list_006 li.lien_actif a:hover{
color:#99CC00;
text-decoration:none;
}

.icone-18.participer { background-image:url(icone_reagir.jpg) }
.icone-18.imprimer   { background-image:url(icone_imprimer.jpg) }
.icone-18.mail       { background-image:url(icone_mail.jpg) }

#barre_lien, #barre_lien2 {
background:none;
padding-left:0px;
width:100%;     
}

#barre_lien2 .actions{
left:3px;
}

body.actualite #date_lieu{
padding-left:0;
}

body.article h1, body.actualite h1, body.cours h1, body.defaultstructureksup h1, body.ueup h1, body.laboratoire h1, body.annuaireksup h1, body.documentation h1, body.formation h1{
border-top:1px solid #cccccc;
border-bottom:1px solid #cccccc;
padding-top:3px;
padding-bottom:6px;
padding-right:13px;
margin-top:0px;
font-size:1.5em;
font-weight:bold;
line-height:130%;
}

body.article div.fond_transparent, body.actualite div.fond_transparent, body.defaultstructureksup div.fond_transparent, body.ueup div.fond_transparent, body.laboratoire div.fond_transparent, body.annuaireksup div.fond_transparent, body.documentation div.fond_transparent, body.formation div.fond_transparent{
background:url(fond_transparent.png) left top repeat-y;
position:relative;
}

body.article div.icone_titre, body.actualite div.icone_titre, body.defaultstructureksup div.icone_titre, body.ueup div.icone_titre, body.laboratoire div.icone_titre, body.annuaireksup div.icone_titre, body.documentation div.icone_titre, body.formation div.icone_titre{
background:url(puce_h1.gif) no-repeat;
position:absolute;
right:0px;
bottom:6px;
height:12px;
width:12px;
}

body.pagelibre div.fond_transparent {
background:url(gdcarre.png) no-repeat 10px 3px;
}

body.pagelibre div.fond_transparent h1 {
padding-left:25px;
border-bottom:1px solid #CCCCCC;
padding-bottom:0px;
margin: 0 10px;
margin-bottom: 0.7em;
}

body.recherche div.icone_titre {
	display:none;
}

/* Classes pour les onglets */
body.formation .contenu_onglet1,
body.formation .contenu_onglet2,
body.formation .contenu_onglet3,
body.formation .contenu_onglet4,
body.formation .contenu_onglet5 {
display: none;
}


body.formation #onglet_actif {
display: block;
}

#onglets {
background:transparent url(onglet_fond.png) repeat-x scroll 0 1.9em;
float:left;
font-size:0.9em;
font-weight:bold;
line-height:normal;
width:100%;
margin-bottom:10px;

}

#onglets ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0 0 0 0.5em;
}

#onglets #actif {
background-image:url(onglet_select_d.png);
}

#onglets #actif a {
background-image:url(onglet_select_g.png);
color:#484747;
}

#onglets a {
background:transparent url(onglet_nonselect_g.png) no-repeat scroll left top;
color:#999999;
display:block;
padding:8px 1em 3px;
text-decoration:none;
}

#onglets li {
background:transparent url(onglet_nonselect_d.png) no-repeat scroll right top;
float:left;
margin:0 0.1em;
padding:0;
}


.fond_encadre_rubrique{
float:left;
background-image:url(fond_encadre.jpg);
background-repeat:no-repeat;
margin-bottom:15px;
background-position:left top;
width:258px;
min-height:35px;
}

.fond_encadre_rubrique .icone_rss {
	clear:both;
	display:block;
	padding:16px 0px 0px 0px;
	text-align:right;
}
.fond_encadre_rubrique .icone_rss a {
	position:relative;
	padding:0px 30px 0px 0px;
	color:#666666;
}
.fond_encadre_rubrique .icone_rss a img {
	position:absolute; top:-7px; right:0px;
	padding:5px 0px 0px 7px;
}

.contenu_encadre_rubrique {
margin-bottom:15px;
}

.encadre_rubrique_titre, .encadre_rubrique_titre_sans_logo{
color:#FFFFFF;
float:left;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1.2em;
padding-left:20px;
padding-top:2px;
width:190px;
letter-spacing:5px;
text-transform:uppercase;
}

.encadre_rubrique_titre a, .encadre_rubrique_titre_sans_logo a{
color:#FFFFFF;
text-decoration:none;
}

p.input input
{
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #D9D9D9;
color:#666666;
height:18px;
padding-top:2px;
width:252px;
}

p.select select
{
border: 1px solid #D9D9D9;
background: #FFFFFF;
height:23px;
width:252px;
color:#666666;
padding-left:3px;
padding-top:2px;
}

body.formation .para-an h3, body.cours .para-an h3, body.ueup .para-an h3{
color:#ff3366;
}

.para-an2 h3, .titres_bloc_contenu_encadres h3{
color:#ff3366;
margin:0;
margin-bottom:5px;
}

.para-an2 ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;

}

.para-an2 ul li{
padding-bottom:5px;
padding-top:5px;
padding-left:20px;
background:url(puce_info_pratique.jpg) 0 0.75em no-repeat;
}

.para-an2 ul.sans_style li, .para-an2 ul.sans_style2 li{
padding-bottom:0px;
padding-top:0px;
padding-left:0px;
background:none;
}

.para-an2 ul li a{
color:#99CC00;
text-decoration:none;
}

.para-an2 ul li a:hover{
text-decoration:underline;
}

body.actualite div.colonne_fond{
background-image:url(fond_actu.jpg);
background-repeat:no-repeat;
background-position:100% 0%;
}

body.article div.colonne_fond{
background-image:url(fond_article.jpg);
background-repeat:no-repeat;
background-position:100% 0%;
}

body.cours div.colonne_fond{
background-image:url(fond_cours.jpg);
background-repeat:no-repeat;
background-position:100% 0%;
}

body.defaultstructureksup div.colonne_fond{
background-image:url(fond_structure.jpg);
background-repeat:no-repeat;
background-position:100% 0%;
}

body.ueup div.colonne_fond{
background-image:url(fond_ue.jpg);
background-repeat:no-repeat;
background-position:100% 0%;
}

body.laboratoire div.colonne_fond{
background-image:url(fond_labo.jpg);
background-repeat:no-repeat;
background-position:100% 0%;
}

body.annuaireksup div.colonne_fond{
background-image:url(fond_annuaire.jpg);
background-repeat:no-repeat;
background-position:100% 0%;
}

body.formation div.colonne_fond{
background-image:url(fond_formation.jpg);
background-repeat:no-repeat;
background-position:100% 0%;
}

body.annuaireksup div.coordonnees{
margin-left:160px;
}

body.annuaireksup div.coordonnees_sansphoto{
margin-left:0px;
}

body.annuaireksup div.coordonnees_sansphoto{
margin-left:0px;
}

body.ueup div.cours_rattaches{
margin-left:0px;
}

body.ueup div.cours_rattaches ul li{

}

body.ueup div.ueup_rattachees{
margin-left:0px;
}

body.ueup div.ueup_rattachees ul li{

}

.para-an2 ul.sans_style2{
padding:0;
display:block;
list-style-type:disc;
padding-left:35px;
}

.para-an2 ul.sans_style{
padding:0;
display:block;
list-style-type:disc;
padding-top:10px;
}

.para-an2{
width:669px;
height:100%;
float:left;
background:#F5F5F5;
padding-top:5px;
margin-top:10px;
padding-left:5px;
padding-right:20px;
margin-bottom:20px;
padding-bottom:10px;
}

#bas_site{
background:url(bas_site.jpg) no-repeat left bottom;
float:left;
height:5px;
margin:0 auto;
width:996px;
}

img.position_puce_recherche{
vertical-align: middle;
}

#bloc_resultats_recherche ul li.fond_bloc_gris{
padding-left:20px;
background:url(puce_resultat_gris.jpg) 0.7em 0.2em no-repeat;
background-color:#F0F0F0;
margin-bottom:11px;
padding-bottom:1px;
padding-left:20px;
}

div.fond_bloc_gris{
padding-left:20px;
background-color:#F0F0F0;
margin-bottom:11px;
padding-bottom:5px;
padding-left:5px;
padding-top:5px;
}

#bloc_resultats_recherche ul li.annonce_sans_description{

padding-top:3px;
padding-bottom:3px;
background:url(puce_resultat_gris.jpg) 0.7em 0.4em no-repeat;
background-color:#F0F0F0;
padding-left:20px;
margin-bottom:11px;
}

#bloc_resultats_recherche ul li.fond_bloc_blanc{
padding-left:20px;
background:url(puce_resultat_blanc.jpg) 0.7em 0.2em no-repeat;
margin-bottom:11px;
padding-bottom:1px;
padding-left:20px;
}

div.fond_bloc_blanc{
padding-left:20px;
margin-bottom:11px;
padding-bottom:5px;
padding-left:5px;
padding-top:5px;
}

div.fond_bloc_blanc h3, div.fond_bloc_gris h3 {
color:#666666;
}

div.fond_bloc_blanc h3, div.fond_bloc_gris h3 a, div.fond_bloc_blanc h3 a, div.fond_bloc_gris h3 a:hover, div.fond_bloc_blanc h3 a:hover   {
color:#666666;
text-decoration:none;
}

.style4{
float:left;
padding:5px 5px 5px 5px;
margin-bottom:10px;
}

.style4 h3{
clear:both;
margin:0;
padding:0;
background:url(puce_resultat_blanc.jpg) no-repeat 0 0.1em;
padding-left:15px;
padding-bottom:5px;
}

.style4 p{
font-size:0.9em;
margin:0;
padding:0;
}

.style4 .bloc_style4_first{
width:216px;
float:left;
padding-left:0px;
}

.style4 .bloc_style4{
width:216px;
float:left;
padding-left:16px;
}

.style4 .separateur_style4{
background-image:url(barre_separation_style4.jpg);
background-repeat:no-repeat;
background-position:100% 50%;
height:117px;
width:1px;
float:left;
}

li.niveau1 p.repondre, li.non_niveau1 p.repondre {
background:url(icone_reagir.jpg) no-repeat 0.9em top;
}

ul.detail_commentaire_niveau2{
padding-top:10px;
}

p.repondre {
margin:0;
padding-bottom:0px;
}

p.repondre a {
color:#99CC00;
font-size:0.9em;
text-decoration:none;
}

p.repondre a:hover{
text-decoration:underline;
}

p.commentaire_titre {
padding:0px 0px 0px 10px;
}

ul.list_005 em{
color:#99CC00;
display:block;
font-style:normal;
font-weight:bold;
width:80%;
font-size:0.8em;
}

ul.list_005 em a{
color:#99CC00;
text-decoration:none;
}

ul.list_005 em a:hover{
text-decoration:underline;
}

div.encadre_recherche p input.valider{
background-image:url(bouton_ok_recherche.jpg);
background-position:left top;
background-repeat:no-repeat;
border:medium none;
color:transparent;
font-size:0;
height:19px;
width:24px;
}

.infos_pratiques ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;

}

.infos_pratiques ul li{
padding-bottom:5px;
padding-top:5px;
padding-left:20px;
background:url(puce_info_pratique.jpg) 0 0.75em no-repeat;
}

.infos_pratiques ul.sans_style li, .para-an2 ul.sans_style2 li{
padding-bottom:0px;
padding-top:0px;
padding-left:0px;
background:none;
}

.infos_pratiques ul li a{
color:#99CC00;
text-decoration:none;
}

.infos_pratiques ul li a:hover{
text-decoration:underline;
}

form.gestion #valider-formulaire input.bouton{
background-image:url(bouton_ok_recherche.jpg);
background-position:left top;
background-repeat:no-repeat;
border:medium none;
color:transparent;
font-size:0;
height:19px;
width:24px;
}

#conteneur_contenu form.signin {
	float:none;
	padding:3em;
	margin:0 auto;
	width:580px;
}
#conteneur_contenu form.signin ul li {
	background-image:none;
	list-style: none;
	margin-bottom: 4px;
	overflow: hidden;
	zoom: 1;
}
#conteneur_contenu form.signin label {
	display: block;
	float: left;
	font-weight: bold;
	line-height: 28px;
	padding-right: 8px;
	text-align: right;
	width: 110px;
}
#conteneur_contenu form.signin .elem {
	float: left;
	padding: 3px 0px;
}
#conteneur_contenu form.signin .elem a {
	font-size: 11px;
	padding-left: 5px;
}
#conteneur_contenu form.signin .elem input {
	font-size: 16px;
	width: 220px;
}
form.signin #valider-formulaire {
	left:525px;
	position:absolute;
}

#recherche_avancee input.valider{
background-image:url(bouton_ok_recherche.jpg);
background-position:left top;
background-repeat:no-repeat;
border:medium none;
color:transparent;
font-size:0;
height:19px;
width:24px;
}

ul.liste_actualites_0001, ul.liste_actualites_0009 {
clear:both;
}

ul.liste_actualites_0001 li{
border-bottom:none;
}

ul.liste_actualites_0002 li{
background:url(puce-enum-verte.png) 0 0.5em no-repeat;
}

ul.liste_actualites_0003 li{
background:url(puce-enum-verte.png) 0 0.5em no-repeat;
}

ul.liste_actualites_0006 li{
background:url(puce_resultat_blanc.jpg) 0.7em 0.2em no-repeat;
}

ul.liste_actualites_0008 li{
background:url(puce-enum-verte.png) 0 0.5em no-repeat;
}

ul.liste_articles_0001 li{
background:url(puce_resultat_blanc.jpg) 0.7em 0.2em no-repeat;
}

ul.liste_articles_0003 li{
background:url(puce-enum-verte.png) 0 0.5em no-repeat;
}

ul.liste_articles_0006 li{
background:url(puce-enum-verte.png) 0 0.5em no-repeat;
}

ul.liste_articles_0008 li{
background:url(puce-enum-verte.png) 0 0.5em no-repeat;
}

ul.liste_documents_0001 li{
background:url(puce_resultat_blanc.jpg) 0.7em 0.2em no-repeat;
}

ul.liste_documents_0002 li{
background:url(puce-enum-verte.png) 0 0.5em no-repeat;
}

ul.liste_documents_0003 li{
background:url(puce-enum-verte.png) 0 0.5em no-repeat;
}


#pagination a, #pagination span{
color:#99CC00;
}

body.pagelibre div.colonne_contenu{
float:left;
height:100%;
padding:0;
text-align:left;
width:715px;
}

body.pagelibre #contenu_avec_encadres{
float:left;
height:100%;
/*padding-bottom:15px;*/
width:725px;
}

body.pagelibre div#contenu_sans_encadres {
width:994px
}

body.pagelibre h1 {
padding-left: 10px;
}

body.recherche div.colonne_contenu{
border-right:1px solid #CCCCCC;
float:left;
height:100%;
padding-right:10px;
text-align:left;
width:695px;
}

body.recherche div#contenu_sans_encadres {
padding:0 10px;
width:974px;
}

div#contenu_sans_encadres {
background:url(bg_conteneur_contenu_blanc.gif) repeat-y;
}

ul#formation{
padding-left:0px;
}

div.colonne {
background:url(px_cccccc.gif) repeat-y right top;
height:100%
}

div.derniere_colonne {
background:none;
}

#encadre ul {
	overflow:visible;
}

ul.liste_actualites_0001 h2.titre_liste,
ul.liste_actualites_0009 h2.titre_liste {
	padding-left:0px;
}

/** @group Social sharing */
/* @end */
