#page #header #headerparts #liensechapement ul {
	list-style: none;
	padding-top: 10px;
	float: right;
}
#page #header #headerparts #liensechapement ul li {
	list-style: none;
	float: left;
	padding: 0px 5px;
	color: #FFFFFF;
	border-right:1px solid #fff;
}
#page #header #headerparts #liensechapement ul li.last {
  border-right:none;
}
#page #header #headerparts #liensechapement ul li a {
	line-height: 18px;
	color: #FFFFFF;
	text-decoration: none;
}
#page #header #headerparts #liensechapement ul li a:hover {
	border-bottom: #FFFFFF 1px dotted;
}

#page #header #navigation ul {
	list-style: none;
	overflow:hidden;
}
#page #header #navigation ul li {
	list-style: none;
	float: left;
}
#page #header #navigation ul li a, #page #header #navigation ul li span {
	line-height: 23px;
	padding: 0px 15px;
	color: #000;
	font-size: 1.2em;
	text-decoration: none;
}
#page #header #navigation ul li a:hover {
	border-bottom: #F7931D solid 5px;
}


/* ------------------------------------------------------------------------------------
Menu vertical
------------------------------------------------------------------------------------ */

dl#sousnav {list-style-type: none; margin-top: 84px;}
dl#sousnav dt {padding-left: 0px; list-style-type: none;}

dl#sousnav dt {
	margin: 10px 0px 0px 0px;
	text-decoration: none;
	/*background-image: url("../images/li-nivo1.jpg");
	background-position: top;
	background-repeat: repeat-x;*/
	font-size: 1.1em;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #FFF;
}
html > body dl#sousnav dt {border-bottom: 1px dotted #FFF;}

dl#sousnav dt a {text-decoration: none;}

dl#sousnav dt.activeSousnav {
	font-weight: bold;
	padding-left: 13px;
	background: url('http://www.intuiti.net/images/snav_n1_active.jpg') no-repeat left 50%;
}

dd#sousmenu ul {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}

dd#sousmenu ul li {
	list-style: none;
	text-decoration: none;
	margin: 4px 0px 0px 15px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}

dd#sousmenu ul li a {
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}

dd#sousmenu ul li.activeSousmenu {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-weight: bold;
	padding-left: 13px;
	background: url("http://www.intuiti.net/images/snav_n2_active.jpg") no-repeat left 50%;
	color: #F87D04;
}

dd#sousmenu ul {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}

dd#sousmenu ul li {
	list-style: none;
	text-decoration: none;
	margin: 4px 0px 0px 15px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}

dd#sousmenu ul li a {
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}

dd#sousmenu ul li.activeSousmenu {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-weight: bold;
	padding-left: 13px;
	background: url("http://www.intuiti.net/images/snav_n2_active.jpg") no-repeat left 50%;
	color: #F87D04;
}




dd.sousmenu ul {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}

dd.sousmenu ul li {
	list-style: none;
	text-decoration: none;
	margin: 4px 0px 0px 15px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}

dd.sousmenu ul li a {
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}

dd.sousmenu ul li.activeSousmenu {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-weight: bold;
	padding-left: 13px;
	background: url("http://www.intuiti.net/images/snav_n2_active.jpg") no-repeat left 50%;
	color: #F87D04;
}


/* ------------------------------------------------------------------------------------
Fil d'Ariane
------------------------------------------------------------------------------------ */

#page p#filariane {
	list-style: none;
	padding-top: 15px;
	margin: 0px 0px 0px 0px;
  	display: inline;
  	color: #8F4484; /*previous : #F87D05;*/
  	display:block;
}

#page p#filariane a  {color: #8F4484; text-decoration: underline; }

#page p#filariane a:hover { color: #8F4484; text-decoration: none; }

#page p#filariane a:active { color: #8F4484; text-decoration: none; }

#page p#filariane a:visited { color: #8F4484; text-decoration: underline; }


/* ------------------------------------------------------------------------------------
Footer
------------------------------------------------------------------------------------ */

#page #footer #liensfooter ul {
	list-style: none;
}
#page #footer #liensfooter ul li {
	list-style: none;
	float: left;
	color: #FFFFFF;
}
#page #footer #liensfooter ul li a{
  border-left:1px solid #fff;
  padding: 0px 5px;
}
#page #footer #liensfooter ul li.first a{
  border-left:none;
}
#page #footer #liensfooter ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
#page #footer #liensfooter ul li a:hover {
	border-bottom: #FFFFFF 1px dotted;
}