/* == SOLDES == */

/* ====== Header & structure ======*/
body				{background-image:url(body_background.png.1);}
body.adherents		{background-image:url(body_background_adherents.png);}
body.telech			{background-image:url(body_background_telech.png);}
body.myfnac			{background-image:url(body_background_myfnac.png);}
body#laboFnac       {background-image:url(body_background_labo.png);}

/* header top */
#header{
  background:transparent url(header-background.png) no-repeat 8px 2px;
}
	/* logo*/
	#header #titre {margin:2px 0 0 5px;_margin:2px 0 0 2px}
	#header #titre a{
	  background-image:url(logo-fnac.png.1);
	}

	/* slogan */
	#adslogan{position:absolute;left:116px;top:2px;float:none;margin:0}

	/* mininav */
	#mininav{margin-right:5px;padding-left:0}
	#mininav, #mininav ul{background:none;}
	#mininav ul{padding-right:0}
	#mininav li {border-color: #FFF;}
	#mininav li, #mininav li a{color:#FFF}
	* html #mininav ul{/*pour bug ie6*/	width:24em;}
	/* panier */
	#mon_panier .basketInfo {color:#FFF;}


/* taille des onglets principaux */
	#m_rayons, #m_adherents, #m_spectacles, #m_soldes {
		min-width:102px;
		width:8.5em;
	}
	#m_labo, #m_fnaclive {
		min-width:96px;
		width:8em;
	}
	#m_myfnac {
		min-width:90px;
		width:7.5em;
	}

	#m_telechargement {
		min-width:192px;
		width:16em;
	}
	/* Univers Adherent */
	.adherents #menu li#m_adherents{
		width:7em;
	}



/* onglet soldes */
#menu li#m_soldes , #menu li#m_soldes div{background:none;}
#menu li#m_soldes div a {width:87px;height:24px;background-image:url(onglet-soldes.png);}




/*========================
======= HOME Gene ======== 
========================*/


/* bando tournant */
.blocBannerSoldes {
	width:752px;
	height:187px;
	background:url(backg.png) no-repeat 0 0;
}
.bannerSoldes {
	padding:13px 0 0 13px;
}
.IS_IE .blocTexteBanner {
	width:187px;
	margin-left:561px;
	padding:1px 1px 0 0;
}
.blocTexteBanner {
	width:187px;
	margin-left:564px;
	padding:1px 1px 0 0;
}
.texteBannerActif {
	cursor:pointer;
	background:url(fleche.png) no-repeat 0 0;
	background-color:#d30000;
	color:#ffffff;
}
.texteBannerInactif {
	cursor:pointer;
	background:none;
	background-color:none;
	color:#666666;
}
.contentTexteBanner {
	padding:7px 0 7px 0;
	margin:0 0 0 20px;
}


/* ---------------------------------
   block soldes Affaires de fnac et Bons plans
--------- styles communs #HG-allBlocks ------------ */

#HG-allBlocks{
	width:751px;
}
#HG-allBlocks .line3cols .col, #HG-allBlocks .line3cols .last-col{
	width:231px;
}
#HG-allBlocks img{
	display:block;
}
#HG-allBlocks .line3cols .col  {
	float:left;
}
#HG-allBlocks .line3cols .last-col {
	float:right;
}
#HG-allBlocks .line3cols{
	padding:0 14px 0 16px;
}
#HG-allBlocks .line3cols .col {
	margin-right:14px;
}
#HG-allBlocks h3,#HG-allBlocks h2{
	font-size:1%;
	margin:0;
}
#HG-allBlocks .line3cols .plus{
	display:block;
	width:231px;
	height:34px;
	text-indent:-5000px;
	background: url(bt-plus-d-offres.png) no-repeat 0 0;
	color:#fff;
}
#HG-bonsPlans .line3cols .plus{
	background: url(bt-plus-d-offres-trans.png) no-repeat 0 0;
}
#HG-bonsPlans .line3cols .vide{
	display:block;
	width:231px;
	height:34px;
	background: url(bt-plus-d-offres-vide.png) no-repeat 0 0;
}
#HG-allBlocks ul{
	margin:0;
	padding:0;
}
#HG-allBlocks li{
	margin:0;
	padding:9px 15px;
	list-style-type:none;
}
#HG-allBlocks li strong {
	color:#000;
}
#HG-allBlocks li.first strong {
	font-size:1.2em;
}
#HG-allBlocks li.first{
	border-top:none;
}
#HG-allBlocks span.prx {
	display:block;
	font-weight:bold;
	font-size:1.2em;
	color:#DD0000;
}
#HG-allBlocks span.detail{
	color:#999;
	display:block;
}
#HG-allBlocks li del {
	color:#000;
	font-weight:normal;
	font-size:12px
}
#HG-allBlocks li img {
	display:inline;
}
#HG-allBlocks .fontsm {
	font-size:0.96em;
}



/* block soldes (styles particuliers) */
	#HG-soldes {
		background:url(bg-blkSoldes.jpg) no-repeat 0 55px;
		height:100%;
	}
	#HG-soldes h2{
		height:55px;
	}
	#HG-soldes ul {
		background-color:#FFF;
	}
	#HG-soldes li {
		border-top:1px solid #ba0000;
		background:url(li-soldes.png) repeat-y left top;
	}
	#HG-soldes li {
		color:#ba0000;
	}
	#HG-soldes li.lastArticle{
		background:url(li-last-soldes.png) repeat-y left bottom;
	}


/* block Affaires de Fnac (styles particuliers) */
	#HG-affaires{
		background:url(bg-blkAffaires.jpg) no-repeat 0 62px;
	}
	#HG-affaires h2{
		font-size:0;
		height:62px;
	}
	#HG-affaires ul {
		background:transparent url(bg-ul-blkAffaire.png) no-repeat 0 0;
		border:1px solid #c3c3c3;
		border-top:0;
		border-bottom:0;
	}
	#HG-affaires li {
		border-top:1px solid #adadad;
	}


/* block Bons Plans (styles particuliers) */
	#HG-bonsPlans{
		background:url(bg-BlkBonsPlans.jpg) no-repeat 0 55px;
	}
	#HG-bonsPlans h2{
		height:55px;
	}
	#HG-bonsPlans ul {
		background:#fff url(bonsplans-ul-bg.png) no-repeat 0 0;
		border:1px solid #c3c3c3;
		border-top:0;
		border-bottom:0;
	}
	#HG-bonsPlans li {
		border-top:1px solid #adadad;
	}


/* block plus de bons plans */
	#plusbonsPlans{
		padding-left:12px;
	}
	#plusbonsPlans h2{
		display:none;
	}
	#plusbonsPlans img{
		display:block;
	}
	#plusbonsPlans ul{
		margin:0;
		padding:0;
		background:none;
		border:none
	}
	#plusbonsPlans li{
		width:245px;
		margin:0;
		padding:0;
		list-style-type:none;
		float:left;
		font-weight:bold;
		font-size:13px;
		border:0;
		height:26px;
	}
	#plusbonsPlans li.larger{
		/*width:250px;*/
	}
	#plusbonsPlans li a{
		display:block;
		background:url(puce-plusbonsplans.png) no-repeat left center;
		color:#000;
		padding:4px 0 4px 30px;
		height:18px;
	}


/* avantages fnac */

#avantagesFnac{
	margin:0;
	padding:0;
	font-size:0.9em;
}
#avantagesFnac .header{
	padding:0 0 0 14px
}
#avantagesFnac .header h2 img{
	padding-top:10px;
	padding-bottom:0;
}
ul.soldes_avantages {
	list-style-type:square;
	padding:0 0 0 10px;
	margin-left:14px;
	padding:0 0 0 18px !important!;
	margin-left:6px !important!;
	margin-bottom:0 !important!;
	/* ie7 */_margin-bottom:0;
	border:none;
}
ul.soldes_avantages li {
	margin:9px 3px;
	padding:0;
	font-weight:bold;
	color:#DE9C00;
	border:none;
	width:152px;
}
ul.soldes_avantages li.first{
	margin-top:0
}
ul.soldes_avantages li.last{
	margin-bottom:0
}
ul.soldes_avantages li span {
	font-weight:normal;
	color:#555454;
}

/* bloc top recherch (reprise de noel) */
#TopRechNoel {margin-top:15px}
#TopRechNoel #topRecherche{margin:0;font-size:0.9em;text-align:center}
#TopRechNoel #topRecherche li{font-size:11px;margin:0 5px 0 5px;}
#TopRechNoel #topRecherche li.medium{font-size:14px;}
#TopRechNoel #topRecherche li.big{font-size:18px;}






/*==========================
======= HOME Soldes ======== 
==========================*/

#Hsoldes h1{
	font-size:1.3em;
	font-weight:normal;
	color:#DD0000
}
#Hsoldes h2{
	font-size:0;
	margin:0;
	padding:0;
	height:82px;
}
#Hsoldes{
	margin:0;
	padding:0;
}
#Hsoldes .none{
	display:none !important
}
#cols-Hsoldes{
	width:971px;
	height:1037px;
	position:relative;
}
#cols-Hsoldes .col{
	height:1037px;
	width:481px;
	position:absolute;
}
#cols-Hsoldes #col-soldes{
	top:0;
	left:0
}
#cols-Hsoldes #col-affaires{
	top:0;
	left:490px
}
#cols-Hsoldes .box{
	float:left;
	width:244px;
}
#cols-Hsoldes .boxlast{
	float:right;
	width:237px;
}
#cols-Hsoldes ul,#cols-Hsoldes li{
	margin:0;
	padding:0;
	list-style:none
}
#cols-Hsoldes img{
	display:block
}
#cols-Hsoldes .line1{
	height:201px
}  
#cols-Hsoldes h3{
	font-size:1%;
	margin:0;
}
#cols-Hsoldes dl{
	height:102px
}

	#col-soldes .box dl{
		background:url(soldes-box-otherprods.png) no-repeat 0 0
	}
	#col-soldes .boxlast dl{
		background:url(soldes-boxlast-otherprods.png) no-repeat 0 0
	}
	#col-soldes .box-lastline dl{
		background:url(soldes-box-lastline-otherprods.png) no-repeat 0 0
	}
	#col-soldes .boxlast-lastline dl{
		background:url(soldes-boxlast-lastline-otherprods.png) no-repeat 0 0
	}
	#col-affaires .box dl{
		background:url(affaires-box-otherprods.png) no-repeat 0 0
	}
	#col-affaires .boxlast dl{
		background:url(affaires-boxlast-otherprods.png) no-repeat 0 0
	}
	#col-affaires .box dl.cr8{
		background:url(affaires-box-cr8-otherprods.png) no-repeat 0 0
	}
	#col-affaires .boxlast dl.cr8{
		background:url(affaires-boxlast-cr8-otherprods.png) no-repeat 0 0
	}
	#col-affaires .box-lastline dl{
		background:url(affaires-box-lastline-otherprods.png) no-repeat 0 0
	}
	#col-affaires .boxlast-lastline dl{
		background:url(affaires-boxlast-lastline-otherprods.png) no-repeat 0 0
	}



#cols-Hsoldes dt, #cols-Hsoldes  dd{
	line-height:1.02
}
#cols-Hsoldes dt{
	font-size:1.3em;
}
.box dt, .box dd{
	padding-left:23px;
	margin-left:0;
}
.boxlast dt, .boxlast dd{
	padding-left:17px;
	margin-left:0;
}
dt.duo{
	border-top:1px solid #fff;
}
.box dt.duo{
	margin:12px 10px 0 5px;
	padding:5px 0 0 17px;
}
#col-affaires .box dt.duo{
	margin-left:6px;
	padding-left:16px;
}
.boxlast dt.duo{
	margin:12px 8px 0 1px;
	padding:5px 0 0 17px;
}
#col-affaires .boxlast dt.duo{
	margin:12px 7px 0 2px;
}

#cols-Hsoldes dt a{
	padding-left:10px;
	background:transparent url(chevron.gif) no-repeat left 8px;
}
/* hacks ie  pour #cols-Hsoldes dt.duo a (background-position) */
*+html #cols-Hsoldes dt.duo a, * html #cols-Hsoldes dt.duo a{
	background-position:left 9px
}
#cols-Hsoldes dt.duo a{
_background-position:left 9px;
}
#cols-Hsoldes dt span{
	font-size:12px
}
#cols-Hsoldes dd.price{
	margin-top:7px;
	color:#ff0000;
	font-weight:bold;
	font-size:1.5em
}
#cols-Hsoldes dd.price del{
	color:#000;
	font-weight:normal;
	font-size:12px
}
#cols-Hsoldes .familyLink{
	height:31px;
	margin:0 !important;
	position:relative;
}
#cols-Hsoldes .familyLink a{
	display:block;
	width:92px;
	height:24px;
	position:absolute;
	font-size:0%;
	top:6px;
}
.box .familyLink a{
	left:23px;
}
.boxlast .familyLink a{
	left:14px;
}

	#col-soldes .box .familyLink{
		background:url(soldes-box-plusdoffres.png) no-repeat 0 0;
	}
	#col-soldes .boxlast .familyLink{
		background:url(soldes-boxlast-plusdoffres.png) no-repeat 0 0;
	}
	#col-soldes .box-lastline .familyLink{
		background:url(soldes-box-lastline-plusdoffres.png) no-repeat 0 0;
	}
	#col-soldes .boxlast-lastline .familyLink{
		background:url(soldes-boxlast-lastline-plusdoffres.png) no-repeat 0 0;
	}
	#col-affaires .box .familyLink{
		background:url(affaires-box-plusdoffres.png) no-repeat 0 0;
	}
	#col-affaires .boxlast .familyLink{
		background:url(affaires-boxlast-plusdoffres.png) no-repeat 0 0;
	}
	#col-affaires .box-lastline .familyLink{
		background:url(affaires-box-lastline-plusdoffres.png) no-repeat 0 0;
	}
	#col-affaires .boxlast-lastline .familyLink{
		background:url(affaires-boxlast-lastline-plusdoffres.png) no-repeat 0 0;
	}


#cols-Hsoldes  dl span.dispeblock{
	margin-top:2px
}



	  
/* zone plus d'offres et petits prix */
 
#soldesplus{
	margin:35px 5px 0 4px;
	width:962px;
}
#soldesplus ul{
	width:962px;
	height:190px;
	position:relative;
}
#soldesplus li {
	position:absolute;
	top:0;
	width:230px
}
#soldesplus li#vignette01 {
	left:0
}
#soldesplus li#vignette02 {
	left:245px
}
#soldesplus li#vignette03 {
	left:495px
}
#soldesplus li#vignette04 {
	left:735px
}



#soldesplus dl,#soldesplus dt,#soldesplus dd{
	list-style:none;
	color:#666666
}
 #soldesplus h2{
	height:22px
}






.soldes .plus {padding:0;margin:0}
.soldes .plus li{margin:0;padding:0;list-style-type:none;width:196px;float:left;display:inline;color:#DD0000}
.soldes .plus img, .soldes .plus strong{display:block}
.soldes .plus img{width:196px;height:100px}
.soldes .plus strong{text-align:center;padding:5px 35px 0 35px}
.soldes .plus em{font-style:normal;color:#DD0000}
      
 

/* == MENU MP (plan du site inside) == */
/*#page_2cols #content {position:relative;}*/
#masque {z-index:11;height:1250px;width:986px;background-color:#000;position:absolute;top:0px;left:0;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity: 0.6;opacity: 0.6;display:none;}
#detail {z-index:14;position:absolute;top:-423px;left:-6px;width:966px;display:none;height:493px}
#detail .contenu {position:relative;}
#detail .contenu {width:966px;height:493px;background:url(bg_plan.png.1) no-repeat 0 0;}
#detail .contenu #content{background-image:none;}
#detail .fermeture {position:absolute;top:22px;left:927px;width:19px;height:18px;z-index:15;}
#detail .fermetureBis {position:absolute;top:386px;left:0px;width:192px;height:47px;z-index:15;}
#detail ul {border-color:#fff;}
#navigation.menu-mp dl #detail li, #navigation.menu-mp dl #detail li a {color:#000;}
#detail .contenu .plan #content h3, #detail .contenu .plan #content h3 a {color:#000;}
#detail .contenu .plan #content h2 {border-bottom: none !important;margin:0;padding:6px 0 14px 0}
#detail .contenu .plan #content h2 a {color:#CC0000;}
#detail .contenu .plan #content h2 a:hover {text-decoration:none;}
#detail .contenu .plan #content {width:762px;padding-left:210px;padding-top:33px;}
#detail .contenu .plan #content p {padding-left:53px;background:url(new_plan.png.1) no-repeat 0 0;padding-top:16px;padding-bottom:10px;}
#navigation .blockBottom {height:7px;background:transparent url(nav-bg_gris-bottom.png) no-repeat bottom left}