/*www.equallia.com - 2007*/

/*******************selecteurs*/
*{
	margin: 0;
	padding: 0;
}
object {
	margin: 1;
  display: block;
}

body{
	padding: 10px 0;
	text-align: center;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 62.5%;
	color: #404040;
	background: White;
}
img{
	border: none;
}
li{
	list-style-type: none;
}
select, input, label{
	vertical-align: middle;
}
blockquote{
	margin-left: 10px;
}
.center a:hover{
	text-decoration: underline;
}
ol li{
	list-style-type: decimal;
	list-style-position: inside;
}
table {
	margin: 0;
	padding: 0;
	
}
td{
	margin: 0;
	padding: 0;
	vertical-align : top;
	padding: 5px;
	}
/*******************************structure*/

.center{
	width: 914px;
	margin: 0 auto;
	text-align: left;
}
.header{
	width: 914px;
	margin-bottom: 22px;
	
}
.footer{
	width: 914px;
	overflow: hidden;
	margin-top: 10px;
	padding: 10px 0;
	text-align: center;
	border-top: 1px solid #C5C5C5;
}
.content_page{
	width: 914px;
	overflow: hidden;
}
.left{
	float: left;
	width: 626px;
}
.right{
	float: left;
	width: 288px;
}
/***************************header*/

.hide{
	position: absolute;
	left: -1000px;
	top: -1000px
}
.tools{
	width: 914px;
	text-align: right;
}
.tools label,.tools a {
	font-weight: bold;
	padding-right: 3px;
	font-size: 1.1em;
	text-decoration: none;
	color: Black;
}
#search{
	width: 125px;
	padding: 1px 2px 2px 2px;
	border-left: 1px solid #C5C5C5;
	border-bottom: 1px solid #C5C5C5;
	border-top: 1px solid #C5C5C5;
	border-right: none;
	font-size: 1.1em
}
.bt_submit{
	border: none;
	background: url(bt_ok.gif) no-repeat;
	width: 19px;
	height: 19px;
	cursor: hand;
	cursor: pointer;
}
#lang{
	margin-right: 5px;
	border: 1px solid #C5C5C5;
	font-size: 1.1em
}
.tools span{
	padding: 0 5px;
	color: #C5C5C5;
	font-size: 1.5em;
	line-height: 0;
}
.content_nav{
	width: 910px;
}
.content_nav img{
	float: left;
}
.nav_top{
	float: right;
	padding: 24px 0 0 0;
}
.nav_top li{
	float: left;
	padding: 0 8px 5px 8px;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	color: Black;
	position: relative;
}
.nav1{
	border-bottom: 2px solid #1052A8;
}
.nav2{
	border-bottom: 2px solid #A3BF2A;
}
.nav3{
	border-bottom: 2px solid #0075B3;
}
.nav4{
	border-bottom: 2px solid #0090D9;
}
.nav5{
	border-bottom: 2px solid #68BCEA;
}
.nav6{
	border-bottom: 2px solid #C6E3F6;
}
.nav_top a{
	text-decoration: none;
	color: #6E6E6E;
}
.nav_top ul{
	float: none;
	left: 0;
	top: 22px;
	background-color: #FFF;
}
.nav_top .nav_out{
	display: none;
}
.nav_top .nav_on{
	display: block;
	position: absolute;
	z-index: 2;
}
.nav_top ul li{
	float: none;
	padding: 0;
	border-top: 1px dashed #C5C5C5;
	font-weight: normal;
	text-transform: none;
	font-size: 1.1em;
}
* html .nav_top ul li{
	font-size: 1px;  /* marges sur IE 6 : avec filtre a cause de Firefox Mac */
}
.nav_top ul .first{
	border: none;
}
.nav_top ul li.survol{
	background: #0092DD;
}
.nav_top ul li.survol a{
	color: #FFF;
}
.nav_top ul li.hors{
	background: #FFF;
}
.nav_top ul li a{
	display: block;
	padding: 5px 10px;
	color: Black;
	white-space: nowrap;
}
* html .nav_top ul li a {
	font-size: 13.2em;  /* marges sur IE 6 : avec filtre a cause de Firefox Mac */
}
.nav_top ul li a:hover{
	background: #0092DD;
	color: White;
}

/*footer*/
.footer ul{
	float: left;
	width: 766px;
	padding-left: 74px
}
.footer p{
	float: right;
}
.footer li{
	display: inline;
	padding: 0 1px;
	color: Black;
	font-size: 1.1em
}
.footer li a{
	color: Black;
	text-decoration: none;
}
/************************************commun*/
.link{
	padding: 0 0 2px 10px;
	font-weight: bold;
	height: 1%;
	overflow: hidden;
}
.pdf{
	background: url('picto_pdf.gif') no-repeat;
	font-weight: bold; padding-left:20px; padding-right:0; padding-top:0; padding-bottom:7px
}
.image{
	background: url('picto_image.gif') no-repeat;
	font-weight: bold; padding-left:20px; padding-right:0; padding-top:0; padding-bottom:7px
}
.url{
	background: url('picto_url.gif') no-repeat;
	font-weight: bold; padding-left:20px; padding-right:0; padding-top:0; padding-bottom:7px
}
.video{
	background: url('picto_video.gif') no-repeat;
	font-weight: bold; padding-left:20px; padding-right:0; padding-top:0; padding-bottom:7px
}
.video{
	background: url('picto_son.gif') no-repeat;
	font-weight: bold; padding-left:20px; padding-right:0; padding-top:0; padding-bottom:7px
}
.video{
	background: url('picto_video.gif') no-repeat;
	font-weight: bold; padding-left:20px; padding-right:0; padding-top:0; padding-bottom:7px
}
.rss{
	background: url('picto_rss.gif') no-repeat;
	font-weight: bold; padding-left:25px; padding-right:0; padding-top:0; padding-bottom:7px
}

/***************************************navigation gauche*/

.nav_right{
	width: 268px;
	padding: 30px 0 20px 20px;
	margin-bottom: 20px;
	min-height: 99px;
}

* html .nav_right{
	height: 99px;
}
.nav_right h2{
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-size: 2.2em;
	color: White;
	border-bottom: 1px solid white
}
.nav_right li{
	width: 100%
}
.nav_right li a{
	display: block;
	padding: 5px;
	color: White;
	font-size: 1.1em;
	text-decoration: none;
}
.nav_on{
	font-weight: bold;
}
.nav_right li {
	margin-top: -3px
}
html>body .nav_right li{
	margin: 0
}
*:first-child+html .nav_right li{
	margin-top: -3px
}
.s_nav li a{
	padding-left: 15px;
}
/*************************************page article*/
.content_article{
	overflow: hidden;
	margin-right: 30px;
}
.left h1{
	margin-top: 30px;
	font-size: 2.5em;
	font-weight: normal;
}
.left h1 span{
	font-size: 0.45em;
	font-weight: normal;
}
.chapeau{
	margin: 5px 0 10px 0; 
	padding: 20px 0 10px 0;
	font-weight: bold;
	font-size: 1.2em;
	border-top: 1px dashed #B3B3B3;
	border-bottom: 1px dashed #B3B3B3;
}
.chapeau p{
	margin-bottom: 10px
}
body .content_page .content_article .chapeau h2{
	font-size: 1.2em;
	margin-bottom: 10px
}
.content_article h2, .content_sitemap h2{
	margin-bottom: 10px;
	font-size: 1.5em;
}
.content_h2{
	margin:0 0 10px 10px;
	overflow: hidden;
	width: 97%
}
.content_h2 h3{
	display: inline;
	padding-bottom: 2px;
	font-size: 1.33em;
	border-bottom: 1px none #B3B3B3;
	margin-top: 1.25em;
	margin-bottom: 0.25em;
}
.content_h2 div{
	margin: 10px 0;
}
.content_h2 h4{
	padding:0 0 2px 8px;
	font-size: 1.3em;
	height: 1%;
	overflow: hidden;
	margin-top: 1.25em;
	margin-bottom: 0.25em;
}
.content_h2 h5{
	margin-top: 1.25em;
	margin-bottom: 0.25em;
}
.content_h2 h6{
	margin-top: 1.25em;
	margin-bottom: 0.25em;
}
.content_h2 p, .content_h2 ul, .content_h2 ol{
	margin-bottom: 10px;
	font-size: 1.33em;
	line-height: 121%;
}
.content_h2 ul, .content_h2 ol{
	margin-left: 20px
}
.content_h2 li{
	padding-left: 10px
}
.content_h2 img{
	float: left;
	margin: 0 10px 0 5px
}

.content_h2 p img{
	float: none;
	
}

.col_left{
	float: left;
	width: 245px;
	margin-right: 15px
}
.col_right, .content_listes{
	overflow: hidden;
	height: 1%
}
.mod_cons, .mod_legende{
	padding: 13px 0 13px 13px;
	margin-bottom: 10px
}
.mod_cons h3{
	font-size: 1.2em;
	margin-bottom: 10px;
}
.mod_cons p, .mod_cons ul,  .mod_cons ol{
	margin: 10px;
	font-size: 1.1em
}
.mod_cons li{
	padding: 0 0 2px 10px
}
.mod_img_right{
	text-align: right;
}
.legende{
	font-size: 1.1em;
	padding: 5px 0;
	font-style: italic;
}

/*******************************page recherche*/

.chap_liste{
	margin: 5px 0 10px 0; 
	padding: 20px 0 10px 0;
	font-weight: bold;
	font-size: 1.2em;
	border-top: 1px dashed #B3B3B3;
}
.chap_liste h2, .chap_rss h2, .para_rss h2{
	margin-bottom: 10px;
	font-size: 1.2em
}
.mod_select{
	margin-bottom: 10px;
	padding: 10px 0 5px 5px;
	background: #EAECEE;
	border: 1px solid #B3B3B3;
}
.mod_select h3{
	font-size: 1.5em;
	margin-bottom: 3px;
}
.mod_select p{
	margin-bottom: 20px;
	font-size: 1.1em;
	font-weight: bold;
}
.mod_select select{
	width: 19.0em;
	margin-right: 8px;
	border: 1px solid #B3B3B3;
}
.pagination{
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
	padding: 3px 0;
	background: #EAECEE;
	border-top: 1px dashed #B3B3B3;
	border-bottom: 1px dashed #B3B3B3;
}
.p_pre{
	display: block;
	float: left;
	background: url('bt_preced.gif') no-repeat 0 2px;
	color: White;
	text-decoration: none;
	text-transform: uppercase; padding-left:15px; padding-right:10px; padding-top:2px; padding-bottom:2px
}
.p_sui{
	display: block;
	float: right;
	background: url('bt_suiv.gif') no-repeat 0 2px;
	color: White;
	text-decoration: none;
	text-transform: uppercase; padding-left:15px; padding-right:10px; padding-top:2px; padding-bottom:2px
}
.pagination p{
	float: left;
	margin-left: 130px;
	font-size: 1.1em;
}
.pagination label{
	font-weight: bold;
}
.pagination select{
	width: 4.0em;
	font-size: 1.1em;
	border: 1px solid #B3B3B3;
	text-align: center;
}
.mod_liste{
	margin-bottom: 20px;
	padding: 0 0 20px 0;
	border-bottom: 1px dashed #B3B3B3;
}
.mod_liste div, .mod_liste_end div{
	padding-left: 10px;
	border-left-style: solid;
	border-left-width: 9px;
	overflow: hidden;
	height: 1%
}
.mod_liste div img{
	float: left;
	margin: 0 10px 0 0
}
.mod_liste h3, .mod_liste_end h3{
	font-size: 1.1em;
	font-style: italic;
	font-weight: normal;
}
.mod_liste p, .mod_liste_end p{
	font-size: 1.1em;
	margin-bottom: 5px;
}
.mod_liste_end{
	margin-bottom: 20px;
}
/***********************************page rss*/

.chap_rss{
	margin: 5px 0 0 0; 
	padding: 20px 0 20px 0;
	font-size: 1.2em;
	border-top: 1px dashed #B3B3B3;
	border-bottom: 1px dashed #B3B3B3;
}
.para_rss{
	padding: 20px 0 20px 0;
	font-size: 1.2em;
}
body .content_article .mod_liste .flux h3{
	margin-bottom: 5px;
	font-size: 1.2em
}
body .content_article .mod_liste .flux h3 img{
	vertical-align: middle;
	float: none;
}
.gray{
	padding: 2px;
	background: #EBECF0;
}

.rss_list div{
  border-left-style: none;
}
.rss_list{
  border-bottom-style: none;
  padding: 0;
  margin-bottom: 10px;
}
.gray a{
	text-decoration: none;
	color: #221C1E;
}
/********************************page bourse*/

.tables_bourse caption{
	display: none;
}
.tables_bourse tr {
	font-size: 1.3em;
	font-weight: bold;
}
.tables_bourse td span {
	font-style: italic;
	font-weight: normal;
}
.tables_bourse td {
	padding: 3px 2px 1px 2px;
	border: 1px solid #ccc;
	vertical-align: bottom;
	background-color :#f6f6f6;
}
.tables_bourse th {
	padding:3px 2px 1px 2px;
	border:1px solid #0092dd;
	background-color:#0092DD;
	color:#fff;
}
.graph p, .graph label{
	font-size: 1.1em
}

/***********************************modules*/

.mod_acc_white{
	margin-bottom: 10px;
	padding: 10px 13px;
	border: 1px solid #B3B3B3;
}
.mod_acc_white h3{
	font-size: 1.2em
}
.euros{
	margin-bottom: 10px;
	font-weight: bold;
	color: #0092DD;
	font-size: 1.2em
}
.block_color{
	padding: 8px 8px 0 8px
}
.mod_contact{
	margin-bottom: 10px;
	padding: 10px 13px;
	border: 1px solid #B3B3B3;
	font-size: 1.1em;
}
.mod_contact h2{
	margin-bottom: 10px;
	font-size: 2.2em;
	font-weight: normal;
}
.mod_contact li{
	padding-left: 10px;
	margin-bottom: 0.25em;
}
.mod_contact p, .mod_news p{
	margin-bottom: 10px;
	font-size: 1.1em
}
.mod_zoom{
	margin-bottom: 10px;
	padding: 10px 8px 0 8px;
	border: 1px solid #B3B3B3;
}
.mod_zoom h2, .mod_suggest h2, .mod_news h2{
	margin-bottom: 10px;
	font-size: 2.2em;
	font-weight: normal;
}
.mod_zoom p{
	margin-bottom: 10px;
	font-size: 1.1em;
	text-align: right;
}
.mod_zoom h3, .mod_news h3{
	font-size: 1.2em
}
.mod_zoom img{
	margin: 3px 0
}
.mod_zoom p a{
	padding-left: 10px;
}
.mod_suggest{
	margin-bottom: 10px;
	padding: 10px 13px;
	border: 1px solid #B3B3B3;
}
.mod_suggest p{
	margin-bottom: 10px;
	font-size: 1.1em;
	font-weight: bold;
}
.mod_suggest li{
	font-size: 1.1em;
	margin-bottom: 2px;
	padding-left: 10px
}
.mod_suggest li a{
	text-decoration: none;
	color: Black;
}
.mod_suggest select{
	font-size: 11px;
	width: 260px;
}
.mod_news{
	margin-bottom: 10px
}
.mod_bourse{
	margin-bottom: 10px;
	padding: 10px 15px 5px 15px;
	background: #D9EBF4;
	border: 1px solid #78B6D4;
}
.mod_bourse h3{
	margin-bottom: 3px;
	font-size: 2.0em;
	color: #006291;
	font-weight: normal;
}
.mod_bourse p{
	margin-bottom: 5px;
	font-size: 1.1em;
	color: #006291;
}
.mod_bourse strong{
	font-size: 1.3em
}
.mod_bourse a{
	padding-left: 8px;
	background: url(picto_link_marine.gif) no-repeat 0 4px;
	color: #006291;
	font-weight: bold;
}
/*****************************sitemap*/

.content_bandeau_sitemap{
	width: 914px;
	overflow: hidden;
	margin-bottom: 20px
}
.context_sitemap{
	float: left;
	width: 263px;
	height: 109px;
	padding: 40px 0 0 25px;
	background: #0092DD;
}
.context_sitemap h1{
	padding-bottom: 10px;
	border-bottom: 1px solid white;
	font-size: 2.5em;
	color: White;
	font-weight: normal;
}
.content_sitemap{
	width: 914px;
}
.content_sitemap table{
	width: 914px;
	border-collapse: collapse;
	background: #EAECEE;
}
.content_sitemap table td{
	text-align: center;
	font-size: 1.2em;
	border: 1px solid #B3B3B3
}
.content_sitemap table td a{
	text-decoration: none;
	color: Black;
	display: block;
	line-height: 150%
}
.td_transversal a{
	border-left: 12px solid #0092DD;
}
.td_electronics a{
	border-left: 12px solid #962381;
}
.td_industries a{
	border-left: 12px solid #CD5B24;
}
.td_merchant a{
	border-left: 12px solid #D8C900;
}
.td_healthcare a{
	border-left: 12px solid #64B8DE;
}
.td_gas a{
	border-left: 12px solid #A2BE2B;
}
/******************************home*/

/*******************************business line */

.news_home_transversal img, .news_home_transversal_s div{
	border-left-color: #0092DD;
}
.news_home_transversal .link, .news_home_transversal_s .link, .zoom_transversal{
	background: url('picto_link_transversal.gif') no-repeat 0 4px;
}
.news_home_transversal .link a, .news_home_transversal_s .link a, .zoom_transversal{
	color: #0092DD;
}
.news_home_industries img, .news_home_industries_s div{
	border-left-color: #CD5B24;
}
.news_home_industries .link, .news_home_industries_s .link, .zoom_industries{
	background: url('picto_link_industrie.gif') no-repeat 0 4px;
}
.news_home_industries .link a, .news_home_industries_s .link a, .zoom_industries{
	color: #CD5B24;
}
.news_home_merchant img, .news_home_merchant_s div{
	border-left-color: #D8C900;
}
.news_home_merchant .link, .news_home_merchant_s .link, .zoom_merchant{
	background: url('picto_link_merchant.gif') no-repeat 0 4px; 
}
.news_home_merchant .link a, .news_home_merchant_s .link a, .zoom_merchant{
	color: #D8C900; 
}
.news_home_electronics img, .news_home_electronics_s div {
	border-left-color: #962381;
}
.news_home_electronics .link, .news_home_electronics_s .link, .zoom_electronics{
	background: url('picto_link_electronics.gif') no-repeat 0 4px;
}
.news_home_electronics .link a, .news_home_electronics_s .link a, .zoom_electronics{
	color: #962381;
}
.news_home_healthcare img, .news_home_healthcare_s div {
	border-left-color: #64B8DE;
}
.news_home_healthcare .link, .news_home_healthcare_s .link, .zoom_healthcare{
	background: url('picto_link_healthcare.gif') no-repeat 0 4px;
}
.news_home_healthcare .link a, .news_home_healthcare_s .link a, .zoom_healthcare{
	color: #64B8DE;
}
.news_home_gas img, .news_home_gas_s div{
	border-left-color: #A2BE2B;
}
.news_home_gas .link, .news_home_gas_s .link, .zoom_gas{
	background: url('picto_link_gas.gif') no-repeat 0 4px;
}
.news_home_gas .link a, .news_home_gas_s .link a, .zoom_gas{
	color: #A2BE2B;
}

/**************************page*/
.content_bandeau_home{
	width: 914px;
	/*overflow: hidden;*/
	margin-bottom: 30px;
	z-index: 1;
	height:17.6em;
}

*+html .content_bandeau_home{
	height:auto;
	}
	
*html .content_bandeau_home{
	height:auto;
	}
	
.content_bandeau_home h1{
	position: absolute;
	left: -1000px;
	top: -1000px
}
.visual{
	float: left;
	width: 626px
}
.context{
	float: left;
	width: 288px;
}
.country_label{
	padding-bottom: 3px;
	color: White;
	font-size: 1.2em;
	font-weight: bold;
}
.select a{
	display: block;
	width: 228px;
	height: 16px;
	background: url('bkg_select.gif') no-repeat;
	color: Black;
	font-size: 1.1em;
	text-decoration: none; padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px
}
.select a:hover{
	text-decoration: none;
}
.select_option{
	display: none;
}
.select_option_vu{
	position: absolute;
	width: 230px;
	background: White;
	padding: 3px;
	border-bottom: 1px solid #DADADA;
	border-left: 1px solid #DADADA;
	border-right: 1px solid #DADADA;
	z-index: 1
}
.select_option_vu li{
	margin-bottom: 2px;
}
.select_option_vu li a{
	font-size: 1.1em;
	letter-spacing: 0.1em;
	color: Black;
	text-decoration: none;
}
.promo{
	height: 67px;
	padding: 21px 0 0 15px;
}
.country{
	width: 273px;
	height: 62px;
	padding: 26px 0 0 15px;
}
.promo h2{
	font-size: 1.8em;
	color: White;
	font-weight: normal;
	margin-bottom: 5px;
}
.promo p{
	font-size: 1.1em
}
.promo p a{
	padding-left: 10px;
	background: url('picto_link_white.gif') no-repeat 0 0.4em;
	color: White;
	font-weight: bold
}
/***********************************************contenu central*/
.content_colls{
	width: 914px;
	overflow: hidden;
}
.left_home{
	float: left;
	width: 290px;
	margin-right: 25px;
}
.right_home{
	float: left;
	width: 599px
}
.left_home h2, .right_home h2{
	margin-bottom: 15px;
	font-size: 2.1em;
	font-weight: normal;
}
.mod_acc_blue{
	width: 258px;
	margin-bottom: 10px;
	padding: 10px 15px;
	background: #D9EBF4;
	border: 1px solid #78B6D4;
}
.mod_acc_blue h3{
	margin-bottom: 3px;
	font-size: 2.0em;
	color: #006291;
	font-weight: normal;
}
.info_top{
	margin-bottom: 5px;
	color: #006291;
}
.info_top p, .info_com p{
	font-size: 1.1em
}
.info_top a{
	padding-left: 8px;
	background: url('picto_link_marine.gif') no-repeat 0 4px;
	color: #006291;
	font-weight: bold
}
.info_com{
	color: #666666;
	font-weight: bold;
}
.info_com a{
	color: #666666;
	padding-left: 8px;
	background: url('picto_link_marine.gif') no-repeat 0 4px;
}
.info_com p span{
	color: Black;
	font-weight: normal;
}
.content_mod_news{
	width: 599px;
	overflow: hidden;
	border-top: 1px dashed #B3B3B3;
	border-bottom: 1px dashed #B3B3B3;
	margin-bottom: 20px;
	padding: 15px 0 5px 0;
}

.mod_news_home_s, .mod_news_home{
	width: 596px;
	overflow: hidden;
	margin-bottom: 10px
}

.mod_news_home_s div{
	padding-left: 15px;
	border-left-style: solid;
	border-left-width: 9px
}
.mod_news_home img{
	float: left;
	margin: 0 15px 5px 0;
	border-left-width: 9px;
	border-left-style: solid;
}
.mod_news_home h3, .mod_news_home_s h3{
	font-size: 1.2em;
}
.mod_news_home p, .mod_news_home_s p{
	font-size: 1.1em;
	line-height: 140%
}
.mod_free h3{
	margin-bottom: 10px;
	font-size: 2.0em;
	font-weight: normal;
}
.mod_free h4{
	font-size: 1.2em;
	font-weight: bold;
}
.mod_free p, .mod_free ul{
	margin-bottom: 10px;
	font-size: 1.1em;
	line-height: 140%
}
.mod_free li{
	padding-left: 8px;
	height: 1%
}
.mod_free img{
	float: left;
	margin: 0 10px 5px 0;
}

p.tag-list{
font-size: .9em;
margin-right: .2em;
color:#555;
}
p.tag-list span{
margin:.1em .5em;
text-transform:uppercase;
}
p.tag-list span.first{
margin-left: 0;
}



table.simple_financial_datas {
margin-left:2em;
width:400px;
border-collapse:collapse;
margin-bottom:3.33em;
}
table.simple_financial_datas tr{
font-size:1.33em;
}
table.simple_financial_datas td, table.simple_financial_datas th{
border:1px solid #ccc;
border-width:1px 0;
padding: .4em .55em .27em .55em;
line-height:1em;
vertical-align:middle;
}
table.simple_financial_datas td{
text-align:right;
}
table.simple_financial_datas th{
text-align:left;
}
table.simple_financial_datas caption{
font-size:1.5em;
color:#0092DD;
text-align:left;
border:1px solid #ccc;
border-width:0 0 3px 0;
font-weight:bold;
}
table.simple_financial_datas tr.highlight {
font-size:1.45em;
background-color:#CFEAF9;
}
table.simple_financial_datas tr.highlight {
font-size:1.45em;
background-color:#CFEAF9;
font-weight:bold;
}
table.simple_financial_datas caption em {
        font-size:.7em;
}
