.left_home {
	background-color:white;
	clear:both;
	width:100%;
	margin-bottom:13px;
	padding-left:13px;
}

.left_home h2, .right_home h2 
{	font-size:2.1em;
	font-weight:normal;
	margin-bottom:0px;
}


.right_home {
	background-color:white;
	width:110%;
}

.right {
float:left;
width:auto;
}

.content_mod_news { 
	background-color:white;
	clear:both;
	width:100%;
	border-bottom:0px dashed #B3B3B3;
	border-top:0px dashed #B3B3B3;
	padding-top:0px !important;
	padding-top:5px;
	padding-bottom:0px;
	margin-bottom:13px;
}

.mod_acc_blue {
background:#D9EBF4 none repeat scroll 0%;
border:1px solid #78B6D4;
margin-bottom:0px;
padding:10px 15px;
width:258px;
}

.mod_suggest {
border:1px solid #B3B3B3;
margin-bottom:0px;
padding:10px 13px;
height:112px;
}

#ajaxZone {
	width:260px;
	float:left;
	margin-right:10px;
	height:112px;
}

#moduleBourse {
	width:260px;
	float:left;
	margin-right:10px;
}

.mod_contact {
	width:260px;
	float:left;
	margin-right:10px;
}

.mod_free {
	float:left;
	border:none;
	padding:0px;
	margin:0px;
}

.mod_free table {
	background-color:white;
	border:0px;
	padding:0px;
	margin:0px;
	border-spacing: 0px;
	border-collapse: collapse;
}

.mod_suggest {
	width:260px;
	float:left;
	margin-right:10px;
}

.mod_news_home {
	display: none;
}

#menus {
	width: 200px ;
	float: left; 
	padding-bottom: 13px !important;
	padding-bottom: 0px
}

.content_bandeau_home {
	height:17.6em;
	margin-bottom:13px;
	width:914px;
	z-index:1;
	clear:both;
}

.tools {
	float:right;
	padding-top:0.5em;
	text-align:right;
	width:414px;
}

body {
	background:White none repeat scroll 0%;
	color:#404040;
	font-family:Helvetica,Arial,Sans-serif;
	font-size:62.5%;
	padding:0pt 0pt !important;
	padding:10pt 0pt;
	text-align:center;
}

.header {
	margin-bottom:13px;
	width:914px;
}

#offre li {
	background:transparent url(fleche_gr15882.gif) no-repeat scroll 0px 6px;
	margin:0pt 0pt 2px 4px;
	padding-left:7px;
	width:169px !important;
	width:158px;
}

ul #offre {
	float:left;
	font-size:1.4em;
	line-height:130%;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0pt;
	width:169px;
}

ul#offre a#indus {
	color:#C4B300;
}

ul#offre a#grande {
	color:#E55300;
}

ul#offre a#elect {
	color:#AC0481;
}

ul#offre a#sante {
	color:#00B2DE;
}

ul#offre a#autre {
	color:#4FA600;
}

.mod_free img {
	float:left;
	margin:0px;
}

.mod_free td {
	padding:0px;
}

.footer{
	margin-top:0px;
}