/* default styles for extension "tx_dropdownsitemap_pi1" */
        .tx-dropdownsitemap-pi1 UL, .tx-dropdownsitemap-pi1 OL {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }
        .tx-dropdownsitemap-pi1 A, .tx-dropdownsitemap-pi1 A:link, .tx-dropdownsitemap-pi1 A:visited, .tx-dropdownsitemap-pi1 A:hover, .tx-dropdownsitemap-pi1 A:active {
            color: #FF8700;
            background-color: inherit;
        }
        .tx-dropdownsitemap-pi1 DIV {
            margin-left: 20px;
            margin-top: 2px;
            padding: 2px;
        }
        .tx-dropdownsitemap-pi1 LI.open OL {
            display: block;
        }
        .tx-dropdownsitemap-pi1 LI.closed OL {
            display: none;
        }
        .tx-dropdownsitemap-pi1 LI.open UL {
            display: block;
        }
        .tx-dropdownsitemap-pi1 LI.closed UL {
            display: none;
        }
        .tx-dropdownsitemap-pi1 SPAN.ifsub {
            text-transform: uppercase;
            font-weight: bold;
        }
        .tx-dropdownsitemap-pi1 SPAN.spc {
            text-transform: uppercase;
            font-style: italic;
        }
        .tx-dropdownsitemap-pi1 .description {
            font-style: italic;
            font-size: 80%;
            margin-left: 5px;
        }
        .tx-dropdownsitemap-pi1 DIV {
        }
        .tx-dropdownsitemap-pi1 DIV.level_2 {
        }
        .tx-dropdownsitemap-pi1 DIV.level_3 {
        }
        .tx-dropdownsitemap-pi1 DIV.level_4 {
        }
        .tx-dropdownsitemap-pi1 DIV.level_5 {
        }
        .tx-dropdownsitemap-pi1 DIV.expAll {
            border: solid 1px #DBA83B;
            background-color: #FCF2C8;
            color: inherit;
            padding: 5px;
        }
        .tx-dropdownsitemap-pi1 IMG {
            margin-right: 5px;
        }
/* default styles for extension "tx_newloginbox_pi3" */
	.tx-newloginbox-pi3-listrow TH { background:#ccc; padding:0 .5em; white-space:nowrap; }
	.tx-newloginbox-pi3-listrow TD { background:#eee; padding:0 .5em; }
	.tx-newloginbox-pi3-singleView TH { background:#ccc; padding:0 .5em; text-align:right; white-space:nowrap; }
	.tx-newloginbox-pi3-singleView TD { background:#eee; padding:0 .5em; }
/* default styles for extension "tx_srfeuserregister_pi1" */
		.tx-srfeuserregister-pi1 p { margin-top: .5em; margin-bottom: 0; padding: 0 .3em; text-indent: 0; }
		.tx-srfeuserregister-pi1 h4 { margin-top: 0; padding-left: .3em; }
		.tx-srfeuserregister-pi1 legend { padding: 0 .5em; font-weight: bold; }
		.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-notice { font-style: italic; margin-bottom: 1em; }
		.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-trash { margin-bottom: 2em; }
		.tx-srfeuserregister-pi1 a { padding-left: 14px; background-image: url("internal_link.gif"); background-repeat: no-repeat; background-position: 0% 60%; text-decoration:none; }
		.tx-srfeuserregister-pi1 label { margin: 0; padding: 0; }
		.tx-srfeuserregister-pi1 label span { color: #ff0000; }
		.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-error { color: #ff0000; }
		.tx-srfeuserregister-pi1 input { margin: 0; padding: 0 .5em 0 0; }
		.tx-srfeuserregister-pi1 input[type=password] { margin-right: 1em; }
		* html .tx-srfeuserregister-pi1 input.tx-srfeuserregister-pi1-password { margin-right: 1em; }
		.tx-srfeuserregister-pi1 input[type=radio], .tx-srfeuserregister-pi1 input[type=checkbox] { background-color: transparent; }
		* html .tx-srfeuserregister-pi1 input.tx-srfeuserregister-pi1-radio, * html .tx-srfeuserregister-pi1 input.tx-srfeuserregister-pi1-checkbox { background-color: transparent; }		
		.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-delete-icon { margin-left: 1em; background-color: transparent; }
		.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-delete-icon:hover { cursor: pointer; }
		.tx-srfeuserregister-pi1 a.tx-srfeuserregister-pi1-file-view { padding-left: 15px; background-image: url("internal_link_new_window.gif"); background-color: transparent; background-repeat: no-repeat; font-size: .8em; margin-left: 1em; }
		.tx-srfeuserregister-pi1 ul { margin: 0; padding: 0; list-style-position: inside; }
		.tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checkboxes { list-style-type: none; }
		.tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checkboxes li { margin: 0 0 .3em 0; padding: 0; }
		.tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checkboxes li label { margin: 0; padding: 0 0 0 .5em; }
		.tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checked-values li { float: left; padding: 0 2em 0 0; margin: 0; }
		.tx-srfeuserregister-pi1 dl { margin: 0; padding: 1em 0 0 0; }
		.tx-srfeuserregister-pi1 dt, .tx-srfeuserregister-pi1 dd { margin: 0; padding: 0 0 .5em 0; float: left; }
		.tx-srfeuserregister-pi1 dt { clear: both; width: 25%; text-align: right; padding-right: 1em; }
		.tx-srfeuserregister-pi1 dd { text-align: left; width: 50%; }
		.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-multiple-checkboxes dt { width: auto; padding-right: 0; }
		.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-multiple-checkboxes dd { width: auto; }
		* html .tx-srfeuserregister-pi1 dd { float: none; }
		.tx-srfeuserregister-pi1 dd p { margin-top: 0; margin-bottom: .5em; padding: 0; }
		.tx-srfeuserregister-pi1 dd label { padding: 0 1em 0 .5em; }
/* default styles for extension "tx_srlanguagemenu_pi1" */
   .tx-srlanguagemenu-pi1 p { font-family: Verdana, sans-serif; font-size: .8em; line-height:100%; color: #35006d; margin-top: 8px; padding: 0; text-indent: 0; }
   .tx-srlanguagemenu-pi1 img { margin: 0 5px; padding: 0; border-style: none; }
   .tx-srlanguagemenu-pi1 .CUR { float: left; font-size: .8em; }
   .tx-srlanguagemenu-pi1 .CUR a { background-color: transparent; color: #35006d; text-decoration: none; font-weight: bold; }
   .tx-srlanguagemenu-pi1 .CUR a:focus, .tx-srlanguagemenu-pi1 .CUR a:hover, .tx-srlanguagemenu-pi1 .CUR a:active { color:#333333; }
   .tx-srlanguagemenu-pi1 .NO { float: left; font-size: .8em; }
   .tx-srlanguagemenu-pi1 .NO a { background-color:transparent; color: #35006d; text-decoration:none; font-weight:bold; }
   .tx-srlanguagemenu-pi1 .NO a:focus, .tx-srlanguagemenu-pi1 .NO a:hover, .tx-srlanguagemenu-pi1 .NO a:active { color:#333333; }
   .tx-srlanguagemenu-pi1 .INACT { float: left; font-size: .8em; }
   .tx-srlanguagemenu-pi1 .INACT a { background-color:transparent; color: #35006d; text-decoration: none; font-weight: normal; }
   .tx-srlanguagemenu-pi1 .INACT a:focus, .tx-srlanguagemenu-pi1 .INACT a:hover, .tx-srlanguagemenu-pi1 .INACT a:active { color: #333333; }
   .tx-srlanguagemenu-pi1 .SPC {  float: left; font-family: Verdana, sans-serif; font-size: .8em; line-height: 100%; color: #35006d; }
   .tx-srlanguagemenu-pi1 fieldset { }
   .tx-srlanguagemenu-pi1 fieldset legend { }
   .tx-srlanguagemenu-pi1 fieldset label { display: none; }
   .tx-srlanguagemenu-pi1 fieldset select { font-size: .8em; font-family: Verdana, sans-serif; background-color: #35006d; color: white; font-weight: bold; }
   .tx-srlanguagemenu-pi1 fieldset option.tx-srlanguagemenu-pi1-option-0 { }
/* default styles for extension "tx_cssstyledcontent" */
/* Captions */
	DIV.csc-textpic-caption-c .csc-textpic-caption { text-align: center; }
	DIV.csc-textpic-caption-r .csc-textpic-caption { text-align: right; }
	DIV.csc-textpic-caption-l .csc-textpic-caption { text-align: left; }

	/* Needed for noRows setting */
	DIV.csc-textpic DIV.csc-textpic-imagecolumn { float: left; display: inline; }

	/* Border just around the image */
	DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG {
		border: 2px solid black;
		padding: 0px 0px;
	}

	DIV.csc-textpic-imagewrap { padding: 0; }

	DIV.csc-textpic IMG { border: none; }

	/* DIV: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DIV.csc-textpic-image { float: left; }

	/* UL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL { list-style: none; margin: 0; padding: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI { float: left; margin: 0; padding: 0; }

	/* DL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image { float: left; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DT { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD IMG { border: none; } /* FE-Editing Icons */
	DL.csc-textpic-image { margin: 0; }
	DL.csc-textpic-image DT { margin: 0; display: inline; }
	DL.csc-textpic-image DD { margin: 0; }

	/* Clearer */
	DIV.csc-textpic-clear { clear: both; }

	/* Margins around images: */

	/* Pictures on left, add margin on right */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-right: 10px;
	}

	/* Pictures on right, add margin on left */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}

	/* Pictures centered, add margin on left */
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption { margin: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image IMG { margin: 0; }

	/* Space below each image (also in-between rows) */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image { margin-bottom: 5px; }
	DIV.csc-textpic-equalheight DIV.csc-textpic-imagerow { margin-bottom: 5px; display: block; }
	DIV.csc-textpic DIV.csc-textpic-imagerow { clear: both; }

	/* No margins around the whole image-block */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-firstcol { margin-left: 0px !important; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-lastcol { margin-right: 0px !important; }

	/* Add margin from image-block to text (in case of "Text w/ images") */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap {
		margin-right: 10px !important;
	}
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap {
		margin-left: 10px !important;
	}

	/* Positioning of images: */

	/* Above */
	DIV.csc-textpic-above DIV.csc-textpic-text { clear: both; }

	/* Center (above or below) */
	DIV.csc-textpic-center { text-align: center; /* IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap { margin: 0 auto; }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image { text-align: left; /* Remove IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-text { text-align: left; /* Remove IE-hack */ }

	/* Right (above or below) */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap { float: right; }
	DIV.csc-textpic-right DIV.csc-textpic-text { clear: right; }

	/* Left (above or below) */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap { float: left; }
	DIV.csc-textpic-left DIV.csc-textpic-text { clear: left; }

	/* Left (in text) */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap { float: left; }

	/* Right (in text) */
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap { float: right; }

	/* Right (in text, no wrap around) */
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap { float: right; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-right-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */

	/* Left (in text, no wrap around) */
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap { float: left; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-left-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */
	
	/* Browser fixes: */
	
	/* Fix for unordered and ordered list with image "In text, left" */
	.csc-textpic-intext-left ol, .csc-textpic-intext-left ul { padding-left: 40px; overflow: auto; height: 1%; }
DIV.csc-textpic DIV.csc-textpic-imagerow-last { margin-bottom: 0; }
/* default styles for extension "tx_meta_feedit_pi1" */
		/* default styles for extension "tx_meta_feedit_pi1" */
		DIV.typo3-dyntabmenu-tabs{margin-top:5px; padding-right:20px}
		DIV.typo3-dyntabmenu-divs P.c-descr{font-style:italic; padding:3px 10px 5px 10px; background:#e7dba8}
		TABLE.typo3-dyntabmenu TD.tabact{color:#FFF; border:solid black 1px; background:#CCC}
		TABLE.typo3-dyntabmenu TD.tab{color:#CCC; border:solid #555 1px;  background:#FFF}
		TABLE.typo3-dyntabmenu TD.tab_over, TABLE.typo3-dyntabmenu TD.tabact_over, TABLE.typo3-dyntabmenu TD.disabled_over{color:#000; border:solid #555 1px;  background:#EEE}
		TABLE.typo3-dyntabmenu TD.disabled{color:#000; border:solid #555 1px;  background:#FFF}
		TABLE.typo3-dyntabmenu TD.tab_over, TABLE.typo3-dyntabmenu TD.tabact_over, TABLE.typo3-dyntabmenu TD.disabled_over{color:#000; border:solid #555 1px;  background:#EEE}
		TABLE.typo3-dyntabmenu TD.tab, TABLE.typo3-dyntabmenu TD.tabact, TABLE.typo3-dyntabmenu TD.disabled, TABLE.typo3-dyntabmenu TD.tab_over, TABLE.typo3-dyntabmenu TD.tabact_over, TABLE.typo3-dyntabmenu TD.disabled_over{border-radius:3px; -moz-border-radius:3px; border-bottom:0px}
		TABLE.typo3-dyntabmenu TD A{color:#CCC; text-decoration:none; display:block; width:100%; padding:2px; padding-left:5px; padding-right:5px}
		TABLE.typo3-dyntabmenu TD.tabact A, TABLE.typo3-dyntabmenu TD.tab_over A{font-weight:bolder; color:#000}
		.tx-metafeedit-error{font-size:14x;  margin:5px;  width:99%;  background-color:#c2cff9; font-weight:bold; color:#005BC3;  padding:0em;  align:left;  outline:Black thick;  margin-right:10px}
		.tx-metafeedit-form-field{font-size:12px; margin:5px; width:97%; background-color:#EFEFEF; padding:5px; align:left; outline:Black thick; margin-right:10px}
		.tx-metafeedit-form-field INPUT{}
		.tx-metafeedit-blog-itemwrap{margin:5px; width:97%; background-color:#766b55; padding:5px; text-align:left}
		.tx-metafeedit-blog_label{text-align:left;  float:left;  width:10em}
		.tx-metafeedit-blog_field{font-size:12px; margin:5px; width:97%; background-color:#EFEFEF; padding:5px; text-align:left; outline:Black thick; margin-right:10px}
		.tx-metafeedit-form-button-date {display:inline;margin-left:10px;}
		//.tx-metafeedit-form-button-date INPUT{width:5%!important;}
		.tx-metafeedit-form-field TEXTAREA{width:98%}
		.tx-metafeedit-preview-value{font-size:12px; margin:5px; width:97%; background-color:#EFEFEF; padding:5px; outline:Black thick; margin-right:10px}
		.tx-metafeedit-form-error-field{font-size:14px; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; color:#005BC3}
		.tx-metafeedit-header{font-size:14px; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; color:#005BC3;margin:0px}
		.tx-metafeedit-form-label{font-size:14px; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; color:#FFF; width:100%; background-color:#CCC}
		.tx-metafeedit-preview-label{font-size:14px; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; color:#FFF; width:100%; background-color:#CCC}
		.tx-metafeedit-as-fs {clear:both;}
		fieldset {margin-bottom:5px;}
		.tx-metafeedit-fsc {float:left;margin-left:5px; margin-bottom:5px}
		.tx-metafeedit-fsl { background-color:#CCC}
		.tx-metafeedit-fsrm {float:left;}
		.tx-metafeedit-asl {clear:left;}
		.tx-metafeedit-advancedSearch-check{margin-right:15px;float:left;margin-bottom:5px}
		.tx-metafeedit-editmenu-list{font-size:14px; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; color:#005BC3}
		.tx-metafeedit-editmenu-list  A{font-size:14px; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; color:#005BC3}
		.tx-metafeedit-lettersearch{float:left; width:1.5em}
		.tx-metafeedit-editmenu-list-table{width:100%; border-collapse:collapse; border:1px solid #000}
		.tx-metafeedit-editmenu-list-table TD{border:1px solid #000}

		.tx-metafeedit-editmenu-list-table-header{ background-color:#CCC;  text-align:left;  font-size:14px; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; color:#FFF}
		.tx-metafeedit-form-required-message{font-size:14px; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; color:#005BC3}

		.tx-metafeedit-preview-row{ background-color:#EEE; text-align:left;  font-size:10px; font-family:Verdana,Arial,Helvetica,sans-serif; color:#000}

		.tx-metafeedit-editmenu-list-table-row, .tx-metafeedit-list-row-1, .tx-metafeedit-list-row-0{background-color:#EEE; text-align:left !important; font-weight:bold; font-size:10px; font-family:Verdana,Arial,Helvetica,sans-serif; color:#000}

		.tx-metafeedit-list-row-2{background-color:#FFF; text-align:left !important; font-weight:bold; font-size:10px; font-family:Verdana,Arial,Helvetica,sans-serif; color:#000}

		.tx-metafeedit-editmenu-list a{  color:#666; font-family:Verdana,Arial,Helvetica,sans-serif!important; font-weight:bold; font-size:10px!important; text-decoration:none}
		.tx-metafeedit-editmenu-list a:visited{color:#666; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; font-size:10px; text-decoration:none}

		.tx-metafeedit-editmenu-list a:hover{color:#005BC3; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; font-size:10px; text-decoration:underline}
		.tx-metafeedit-list_field a img{border:0}
		.tx-metafeedit-preview-value a img{border:0}
		.tx-metafeedit-searchbox {float:right;}
		.tx-metafeedit-alphabeticalSearch {float:left;}
		.tx-metafeedit-searchbox form{ padding-left:1.5em;  background-image:url("loupe_petit.png");  background-repeat:no-repeat; background-position:0% 0em}

		.tx-metafeedit-list_table_field img{border:0}
		.tx-metafeedit-editmenu-list-table-row, .tx-metafeedit-list-row-2, .tx-metafeedit-list-row-1, .tx-metafeedit-list-row-0{width:25%; vertical-align:top}

		.tx-metafeedit-form-error-field{ padding-left:1.5em;  background-image:url("drapeau_petit");  background-repeat:no-repeat; background-position:0% 45%}
		.tx-metafeedit-form-required-message{ padding-left:1.5em;  background-image:url("drapeau_petit");  background-repeat:no-repeat; background-position:0% 45%}

		.tx-metafeedit-list_table_field_image{height:65px}

		.tx-metafeedit-editmenu-list-table{width:100%}
		.tx-metafeedit-list_table_field_username{font-size:10px; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; color:#005BC3}
		.tx-metafeedit-advancedSearch{ clear:left}

		.tx-metafeedit-calendarSearch{clear:left}

		.tx-metafeedit-advancedSearch-input{float:left; width:14em}
		.tx-metafeedit-advancedSearch-select{float:left; width:14em}
		.tx-metafeedit-advancedSearch-input input{float:left; width:14em}
		.tx-metafeedit-advancedSearch-select select{float:left; width:14em}
		.tx-metafeedit-advancedSearch-date{float:left}
		.tx-metafeedit-advancedSearch-radio{float:left}
		.tx-metafeedit-advancedSearch-check{float:left}
		.tx-metafeedit-advancedSearch-actions{clear:both}
		.tx-metafeedit-advancedSearch-action{float:left}
		.activeLinkWrap a{float:left; color:#000!important; margin-left:0.6em; margin-right:0.6em; font-size:1.1em!important}
		.inactiveLinkWrap{float:left; margin-left:0.2em; margin-right:0.2em}
		.disabledLinkWrap{float:left; color:red; margin-left:0.2em; margin-right:0.2em}

		/*.tx-metafeedit-browsebox {clear:both;}*/
		.tx-metafeedit-browsebox-SCell {padding:0px}
		.tx-metafeedit-browsebox table{border-collapse:collapse;}
		.tx-metafeedit-browsebox tr{height:12px;}
		.tx-metafeedit-browsebox td{padding:1px;margin:0px;height:12px}
		.tx-metafeedit-browsebox p{height:12px}
		.tx-metafeedit-actions{clear:both;vertical-align:top;height:35px;display:inline}
		.tx-metafeedit-general-actions{float:right;height:35px;width:50%;display:inline}
		.tx-metafeedit-navigation-actions{float:left;height:35px;width:45%;display:inline}
		.tx-metafeedit-general-actions .tx-metafeedit-link{font-size:14px; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; color:#005BC3; float:right; margin-right:10px}
		.tx-metafeedit-general-actions .tx-metafeedit-action{font-size:14px; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; color:#005BC3; float:right; margin-right:10px}
		.tx-metafeedit-navigation-actions .tx-metafeedit-link{font-size:14px; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; color:#005BC3; float:left; margin-right:10px}
		.tx-metafeedit-navigation-actions .tx-metafeedit-action{font-size:14px; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; color:#005BC3; float:left; margin-right:10px}
		.tx-metafeedit-action {float:left;}
		.tx-metafeedit-action-pdf, .tx-metafeedit-action-csv, .tx-metafeedit-action-excel {width: 35px; height: 35px;}
		.tx-metafeedit-action{background-color:#fff; font-size:12px; color:#444; font-weight:bold; border:0px; text-decoration:none}
		.tx-metafeedit-action-SAVE{/*background-image:url(/typo3conf/ext/meta_feedit/res/edit_petit.png)!important; */background-repeat:no-repeat; margin-left:25px; cursor:pointer; cursor:hand; width:100px; height:40px;  Chris Bell ...}
		.tx-metafeedit-action-PUBLIER{ float:left!important; margin:0px 0px 0px 0px!important; margin-left:20px!important; margin-top:0px!important; position:top}
		.tx-metafeedit-action-MESOFFRES{float:left!important; margin-left:20px!important}
		.tx-metafeedit-action-BACK{background-image:url(retour_petit.png)!important; background-repeat:no-repeat; clear:left!important; margin-left:25px; cursor:pointer; width:100px; height:20px}
		.tx-metafeedit-action-DELETE{background-image:url(poubelle_petit.png)!important; background-repeat:no-repeat; margin-left:25px; cursor:pointer; width:100px; height:40px}
		.tx-metafeedit-action-NEW{background-image:url(edit_petit.png)!important; background-repeat:no-repeat; margin-left:25px; cursor:pointer; width:100px; height:40px}

		.tx-metafeedit-link a{color:#666; font-size:10px!important; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; font-size:14px; text-decoration:none}
		.tx-metafeedit-link a:visited{color:#666; font-size:10px!important; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; font-size:14px; text-decoration:none}
		.tx-metafeedit-link-edit a, .tx-metafeedit-link-edit a{ line-height:2.5em;  padding-top:1.6em;  padding-bottom:1.6em;  padding-left:1.8em;  background-image:url("edit_petit.png");  background-repeat:no-repeat; background-position:0% 60%}
		.tx-metafeedit-link-csv a{ line-height:2.5em;  padding-top:1.6em;  padding-bottom:1.6em;  padding-left:1.8em;  background-image:url("csv_petit.png");  background-repeat:no-repeat; background-position:0% 60%}
		.tx-metafeedit-link-html a{ line-height:2.5em;  padding-top:1.6em;  padding-bottom:1.6em;  padding-left:1.8em;  background-image:url("html_petit.png");  background-repeat:no-repeat; background-position:0% 60%}
		.tx-metafeedit-link-xls a{ line-height:2.5em;  padding-top:1.6em;  padding-bottom:1.6em;  padding-left:1.8em;  background-image:url("xls_petit.png");  background-repeat:no-repeat; background-position:0% 60%}
		.tx-metafeedit-link-consult a, .tx-metafeedit-link-consult a{ line-height:2.5em;  padding-top:1.6em;  padding-bottom:1.6em;  padding-left:1.8em;  background-image:url("loupe_petit.png");  background-repeat:no-repeat; background-position:0% 60%}
		.tx-metafeedit-link-create a, .tx-metafeedit-link-create a{ line-height:6em; margin-top:6em;  padding-top:1.6em;  padding-bottom:1.6em;  padding-left:5em;  background-image:url("edit_petit.png");  background-repeat:no-repeat; background-position:0% 60%}
		.tx-metafeedit-link-delete a, .tx-metafeedit-link-delete a{  line-height:2.5em;  padding-top:1.6em;  padding-bottom:1.6em; padding-left:1.8em;  background-image:url("poubelle_petit.png");  background-repeat:no-repeat; background-position:0% 60%}
		.tx-metafeedit-link-delete-list a{ line-height:2.5em;  padding-left:1.8em;  padding-top:5px;  padding-bottom:5px;  valign:bottom;  background-image:url("poubelle_petit.png")}
		.tx-metafeedit-link-back a, .tx-metafeedit-link-back a{ line-height:6em;  padding-top:1.6em;  padding-bottom:1.6em;  padding-left:5em;  background-image:url("retour_petit.png");  background-repeat:no-repeat; background-position:0% 45%}
		.tx-metafeedit-link-delete-ok a{ line-height:6em;  padding-top:1.6em;  padding-bottom:1.6em;  padding-left:6em;  background-image:url("ok_petit.png");  background-repeat:no-repeat; background-position:0% 45%}
		.tx-metafeedit-link-delete-ko a{  line-height:6em;  padding-top:1.6em;  padding-bottom:1.6em;  padding-left:6em;  background-image:url("ko_petit.png");  background-repeat:no-repeat; background-position:0% 45%}

		.tx-metafeedit-link-preview .tx-metafeedit-link {padding-top:1.5em;padding-bottom:1.5em;}

		.tx-metafeedit-link-delete-ko { height:2em;}
		.tx-metafeedit-link-delete-ok { height:2em;}


		#metafeedit-calendar{empty-cells:show; margin:10px auto 0; width:155px;  background-color:#fff; font-family:Verdana,Arial,Helvetica,sans-serif;  font-size:1em}
		#metafeedit-calendar caption{background-color:#fff}
		#metafeedit-calendar td{background-color:#ccc}
		#metafeedit-calendar td a{background-color:#999}
		#metafeedit-calendar #today{background-color:red}
		#metafeedit-calendar #next a{padding-right:10px; text-align:right}
		#metafeedit-calendar #prev a{padding-left:10px; text-align:left}
		#metafeedit-calendar a{display:block}
		#metafeedit-calendar caption{text-align:center; width:100%}
		#metafeedit-calendar td{padding:3px 0; text-align:center}
		#metafeedit-calendar td.pad:hover{background-color:#fff}
		.tx-metafeedit-form-required-marker { display: inline; }
		.tx-metafeedit-grid-row-alt-1 TD{background:#FFF; border:1px; border-style:solid; font-weight:bold}
		.tx-metafeedit-grid-row-alt-2 TD{background:#EEE; border:1px; border-style:solid; font-weight:bold}
		.tx-metafeedit-grid-table{border-collapse:collapse}
		.tx-metafeedit-grid-row-alt-2 .tx-metafeedit-form-data{background:#EFEFFF}
		.tx-metafeedit-form-asfield {width:11em!important;}
		.tx-metafeedit-advancedSearch-input{margin-right:15px !important; margin-right:8px; width:120px; float:left; #margin-top:5px; margin-bottom:5px}
		.tx-metafeedit-advancedSearch-input input{width:120px}
		.tx-metafeedit-advancedSearch-select{margin-right:15px !important; margin-right:15px; float:left; margin-bottom:5px}
		.tx-metafeedit-advanvedSearch-select input{width:20px}
		.tx-metafeedit-advancedSearch-input tx-metafeedit-advancedSearch-tx_metabookingdb_reglement-input tx-metafeedit-advancedSearch-tx_metabookingdb_reglement-input-mt_especes{clear:both}
		.tx-metafeedit-advancedSearch-tx_metabookingdb_reglement-input-mt_cheque{clear:both !important; clear:none}
		.tx-metafeedit-advancedSearch-tx_metabookingdb_reglement-select-spectateur{clear:none !important; clear:both}
		.tx-metafeedit-advancedSearch-date{width:98%; clear:both; float:right}
		.tx-metafeedit-grid_field{margin-top:-9px;  margin-left:-2px}
		.tx-metafeedit-form-data{height:19px}
		.tx-metafeedit-action {float:left;}
		.tx-metafeedit-grid input{vertical-align:text-bottom; margin-top:0px !important; margin-top:10px; margin-left:0px !important; margin-left:5px}
		#blockfiltre{float:right; margin-right:20px; margin-top:10px}
		/*
		.btnPDF{background-color:white; background-image:url(/typo3conf/ext/meta_feedit/res/iconePdf.gif); border:0; background-repeat:no-repeat; cursor:pointer; width:35px; height:35px}
		.btnXLS{background-color:white; background-image:url(/typo3conf/ext/meta_feedit/res/iconeExcel.gif); border:0; background-repeat:no-repeat; cursor:pointer; width:35px; height:35px}
		.btnCSV{background-color:white; background-image:url(/typo3conf/ext/meta_feedit/res/iconeCsv.gif); border:0; background-repeat:no-repeat; cursor:pointer; width:35px; height:35px}
		*/
		.btnPDF{background-color:white;text-indent: -1000em;background-image:url(iconePdf.gif); border:0; background-repeat:no-repeat; cursor:pointer; width:35px; height:35px}
		.btnXLS{background-color:white;text-indent: -1000em;background-image:url(iconeExcel.gif); border:0; background-repeat:no-repeat; cursor:pointer; width:35px; height:35px}
		.btnCSV{background-color:white;text-indent: -1000em;background-image:url(iconeCsv.gif); border:0; background-repeat:no-repeat; cursor:pointer; width:35px; height:35px}
		.meta_cl{float:left;}
		.meta_cli{clear:right;}
		.meta_cli table{border-collapse:collapse;padding:0px;margin:0px;}
		.meta_cli table td{border-collapse:collapse;padding:0px;margin:0px;}
		.meta_clr{position:absolute;z-index:500;border:1px solid;background:#ffffff;}
		.wait {background:white;height:16px;width:16px;cursor:pointer;background:white url(loading1.gif)!important}
		.wdgt_arr {float:left;background:white;height:15px;width:15px;cursor:pointer;background:white url(arrow.gif)!important;border:1px solid;margin-right:10px;margin-top:1px;padding:0}
		.wdgt_input{height:15px;margin:0px;padding:0px;}
		.wdgt_logo{margin-right:10px;padding:0px;}
		gb {display:none;}
		