/* COOKIE CRUM */
#cookiecrum {padding:3px;padding-left:15px;color:#090909;font-size: 10px;}
.crum_sep{color: #000000;}

/* NAVIGATION */
.navig_0,.navig_1,.navig_2 {margin-bottom:3px;padding-bottom:2px;padding-top:2px;}
.navig_0 {background-color:#c80000;text-transform:uppercase;font-size:10px;}
.navig_1 {margin-top:3px;text-transform:uppercase;background-color:#bdbdbd;font-size:9px;}
.navig_2 {background-color:#d7d7d7;text-transform:capitalize;font-size:9px;margin-bottom:0px;padding-bottom:2px;padding-top:0px;}

.navig_0_on,.navig_1_on,.navig_2_on {}

.navig_0 a:link,.navig_0 a:visited {color:#ffffff; text-decoration:none; font-weight:bold;}
.navig_1 a:link,.navig_1 a:visited {margin-left:10px;color:#000000; text-decoration:none; font-weight:bold;display:block;}
.navig_2 a:link,.navig_2 a:visited {margin-left:15px;color:#000000; text-decoration:none; font-weight:bold;display:block;}

.navig_0 a:hover,.navig_1 a:hover,.navig_2 a:hover,.navig_0 a:active,.navig_1 a:active,.navig_2 a:active {color: #000000; text-decoration: none; font-weight: bold;}

.navig_0 a,.navig_1 a,.navig_0_on a,.navig_1_on a,.navig_2 a,.navig_2_on a {padding-left:15px;}

.navig_1 a,.navig_1_on a {}
.navig_2 a,.navig_2_on a {} 


/* .navig_0,.navig_1,.navig_2 {font-size:10px;width:145px;margin-bottom:3px;padding-bottom:2px;padding-top:2px;text-transform:uppercase;}
.navig_0 {background-color:#c80000;}
.navig_1,.navig_2 {background-color:#bdbdbd;font-size:9px;}

.navig_0_on,.navig_1_on,.navig_2_on {}

.navig_0 a:link,
.navig_0 a:visited {color:#ffffff; text-decoration:none; font-weight:bold;}
.navig_1 a:link,
.navig_1 a:visited,
.navig_2 a:link,
.navig_2 a:visited {margin-left:5px;color:#000000; text-decoration:none; font-weight:bold;}

.navig_0 a:hover,
.navig_1 a:hover,
.navig_2 a:hover,
.navig_0 a:active,
.navig_1 a:active,
.navig_2 a:active
{color: #000000; text-decoration: none; font-weight: bold;}

.navig_0 a,.navig_1 a,.navig_0_on a,.navig_1_on a,.navig_2 a,.navig_2_on a {padding-left:15px;}

.navig_1 a,.navig_1_on a {}
.navig_2 a,.navig_2_on a {} 
NAVIGATION */

