div#megaboardX10 {width:984px;background:url(bkg_megaboard.gif);text-align:center;}

#megaboardX10 div {text-align:center;}


#bannerTopRight {position:absolute;left:336px;top:42px;}
#boutonRight3 {width:120px;margin-left:15px;padding-bottom:10px;}
#Col4, #Col3Bloc2Col2 {position:relative;}
#skyscraperRight2 {}

#marketing_home {padding-top:10px;clear:both;}
#rectanglePub {text-align:center;margin-top:38px;margin-bottom:30px;clear:both;}
#rectanglePub div {width:300px;margin-left:auto;margin-right:auto;}
#rectanglePub img, #rectanglePub object {}
