/* Specific css ***************************************************************/
/*div.menu_div_2 a:hover,a.a_menu_div_2_selected,
a.menu_div_3_0_selected,a.menu_div_3_1_selected,a.menu_div_3_2_selected,
a.menu_div_3_3_selected,a.menu_div_3_4_selected,a.menu_div_3_5_selected{
 font-weight            : bold;
}
div#m1_0{
 border                 : 1px solid #FEBD00;
}

#m1_1{
  border                : 1px solid #6CC0DC;
}

#m1_2{
  border                : 1px solid #FE9D22;
}

#m1_3{
  border                : 1px solid #8BB016;
}

#m1_4{
  border                : 1px solid #A3A3A2;
}

#m1_5{
  border                : 1px solid #C22567;
}*/

/*End of specific css *********************************************************/


/* An absolutely positioned and hidden DIV (treated as a layer in NS4). */
.menudiv {
 font-weight            : normal; /* ben */ 
 position               : absolute;
 visibility             : hidden;
 z-index                : 1000;
 min-width			: 210px;
 overflow   : auto;
 /*border                 : 1px solid #9965AF;/*FFFFCC*/
 background-color       : #E8E8E8;
 layer-background-color : #E8E8E8; 
 padding                : 5px 0px;
 font: 14px/22px Arial, Helvetica, sans-serif;
 /* Borders:     Top    Right  Bottom    Left   */
 /*border-color:   #FFFFCC #666633 #666633 #FFFFCC;*/
 /*filter:alpha(opacity=70);
 -moz-opacity:0.7;
 opacity:0.7;
 margin: 0px;
 */
 /* layer-background-color is non-standard and NS4 only. */
 /* Here's a cool effect, try uncommenting this, althought it's non-standard: */
 /* filter: alpha(opacity=80); -moz-opacity: 0.8; opacity: 0.8 */

}


/* Formatting to apply to the elements inside the "menudiv" class elements. */
/* Of course, you can put whatever you want within the menu divs, these are just examples. */

.menudiv .header {
 text-align               : center;
 /*border-bottom            : 2px dashed #999966;*/
 margin-bottom            : 5px;
  /*width: 100%;*/
 /* font-weight: bold; */
}

.menudiv a {
 display                  : block;
 color                    : #000000;
 text-decoration          : none;
  /*text-indent: 5px;*/
}

/* I'm using :hover and :active pseudo-classes for link mouse effects. 


/*
The script will automatically assign a class of "highlighted" to elements that currently
have an active submenu, so here's a little CSS to format links within a .menudiv element.
*/
.menudiv .highlighted {
 background-color         : #DAEF0C 
 filter:alpha(opacity=100);
 -moz-opacity             : 1;
 opacity                  : 1;
 border-color             : #DAEF0C ;
 color                    : #B90C03;
}

/* The links in the upper-left that pop out 'divMenu' menus. */
.trigger a {
 font                     : Bold 14px Arial, Helvetica, sans-serif;
 color                    : #003366;
 text-decoration          : none;
}

/* Likewise, style active trigger links */
.trigger a.highlighted {
 color                    : #CC9966;
}

.newbaspage{
  font-family             : Arial, sans-serif,Verdana, Helvetica;
  font-size               : 11px;
  text-decoration         : none;
  text-align              : left;
  font-weight             : normal;
  font-variant            : normal;
  letter-spacing          : 1px;
  color                   : #333333;
}



/* menu_div_2 *****************************************************************/
.menu_div_2,.menu_div_2_selected {
  padding                 : 0px;
  font-family             : Arial, Verdana, Helvetica, sans-serif;
  font-size               : 12px;
  font-style              : normal;
  font-variant            : normal;
  font-weight             : bold;
  font-variant            : normal;
  text-decoration         : none;
  vertical-align          : middle;
  color                   : #000000;
  margin-right            : 0px;
  /*padding-left						: 15px;
  background							: #E8E8E8 url(fr/navigation/fleche_puce.gif) no-repeat 3px 50%;*/
}

.menu_div_2 a,.menu_div_2_selected a {
  padding-left            : 15px;
  padding-right           : 5px;
  font-weight						  : 400;
  /*border-bottom           : 1px dashed #CDCDCD;*/
}
.menu_div_2_selected a {
  font-weight						  : 700;
  /*border-bottom           : 1px dashed #CDCDCD;*/
}
div.menu_div_2 a:hover {
 background							: #FFFFFF url(fleche_puce.gif) no-repeat 3px 50%;/*E8E8E8*/
}
div.follow {
 background							: transparent url(fleche_puce.gif) no-repeat 95% 50%;
}
div.follow a:hover {
 background							: #FFFFFF url(fleche_puce.gif) no-repeat 95% 50%;/*E8E8E8*/
}
