
/* - ploneCustom.css - */
@media all {
/* http://www.uha.fr/portal_css/ploneCustom.css?original=1 */
/* */
/* */
#visual-portal-wrapper {
margin: 0 auto 0 auto;
width: 1000px;
position: relative;
}
li.plain a {
background-color: #5286d6;
}
#content {
padding: 1em 0 0 0 !important;
}
.documentContent {
padding-bottom: 5px !important;
}
#portal-column-one .visualPadding {
padding: 1em 0em 1em 10px;
}
.documentFirstHeading {
background: transparent url(logo_actualites.gif) no-repeat left;
padding-left: 20px;
}
.tileHeadline a {
color: #153d82 !important;
}
.tileBody {
}
.tileFooter {
}
.tileFooter a {
background: transparent url(puce4.gif) no-repeat left;
padding-left: 12px;
color: #ffaa00 !important;
}
/* */
.contentViews li a {
background-color: #5286d6;
}
.contentViews li.selected a {
background-color: #103c84;
}
/* */
#portal-top {
}
#portal-header {
padding-top: 78px;
}
#portal-logo  {
margin: 0;
padding:0;
position: absolute;
top: 0;
left: 0;
width: 1000px;
z-index: 0;
}
#portal-globalnav  {
position: relative;
padding-left: 200px;
text-transform: capitalize;
z-index: 1;
}
#portal-globalnav li.selected a {
border: none;
color: white;
text-transform: capitalize;
}
#portal-globalnav li a {
border: none;
color: white;
padding: 2px 1em 0px 1em;
text-transform: capitalize;
}
#portal-globalnav li.plain a {
background-color: #5286d6;
color: white;
text-transform: capitalize;
}
#portal-globalnav li.plain a:hover {
background-color: #103c84;
color: white;
}
/* */
/* */
#portal-personaltools {
border: none;
}
/* */
/* */
#portal-top #portal-breadcrumbs .breadcrumbsBackground {
background: transparent url(global_nav_background.png) no-repeat left;
float: left;
padding-left: 131px;
height: 21px;
}
#portal-top #portal-breadcrumbs {
background: #ffdb42 url(breadcrumbs_bottom.png) repeat-x bottom;
padding-bottom: 4px;
padding: 0;
border: 0;
position: relative;
z-index: 0 !important;
height: 21px;
}
/* */
.contentActions {
position: relative;
z-index: 100!important;
}
.documentActions {
position: relative;
z-index: 100!important;
}
#portal-searchbox {
position: absolute;
top: 93px;
right: 0px;
clear: none;
height: 25px;
overflow: visible !important;
}
#portal-searchbox input {
font-size: 7pt;
}
input.searchButton {
color: white;
background-image: none;
background-color: #528ade;
padding: 0;
}
#portal-searchbox .hiddenStructure {
display: visible;
}
/* */
#portal-siteactions {
position: absolute;
left: 850px;
top: 10px;
z-index: 5;
}
#portal-siteactions li {
display: list-item;
}
#portal-siteactions li a {
color: #94c3ff;
border: none;
text-transform: uppercase;
padding-left: 14px;
font-size: 7pt;
}
#portal-siteactions li a:hover {
border: none;
color: white;
background-color: transparent;
}
#portal-siteactions li#siteaction-sitemap a {
background: transparent url(logo_plan_site.gif) no-repeat left;
}
#portal-siteactions li#siteaction-sitemap a:hover {
background: transparent url(logo_plan_site_over.gif) no-repeat left;
}
#portal-siteactions li#siteaction-plan_acces a {
background: transparent url(logo_plan_acces.gif) no-repeat left;
}
#portal-siteactions li#siteaction-plan_acces a:hover {
background: transparent url(logo_plan_acces_over.gif) no-repeat left;
}
#portal-siteactions li#siteaction-accueil a {
background: transparent url(accueil.gif) no-repeat left;
}
#portal-siteactions li#siteaction-accueil a:hover {
background: transparent url(accueil_over.gif) no-repeat left;
}
/* */
.portlet {
}
.portletHeader {
height: 16px;
border: none;
background: #103c84 url(portlet_logo.gif) no-repeat right;
}
.portletHeader a {
color: White;
display:block;
background-image: none;
}
.portletHeader a:first-letter {
text-transform: uppercase;
}
.portletItemSingle {
padding: 0;
}
#portlet-image-of-the-day dd {
margin: 0;
}
/* */
/* */
#uha-homepage {
width: 100%;
}
#uha-homepage #home_left {
float: left;
width: 46%;
}
#uha-homepage #home_right {
width: 50%;
float: left;
margin-left: 1em;
}
/* */
#topics {
font-family: Arial;
margin-top: 1em;
font-size: 9pt;
border-bottom: dotted black 1px;
padding-bottom: 1.5em;
}
#topics a {
color: #1e5dc4;
background: #e0eaec url(topic_link.gif) no-repeat bottom right;
font-weight: bold;
padding: 2px 16px 2px 12px;
border: none;
text-decoration: none;
}
#topics a:hover {
background-color: #ffdb45;
}
/* */
/* */
#uha-homepage #home_left #tips dt {
background-color: #103c84;
color: white;
border: solid #666666 1px;
border-bottom: none;
float: left;
padding: 1px 1.5em 1px 1.5em;
font-weight: normal;
font-size: 8pt;
}
#uha-homepage #home_left #tips dt:first-letter {
text-transform: lowercase;
}
#uha-homepage #home_left #tips dd {
border: solid #666666 1px;
background-color: #e9eef2;
float: left;
margin: 0;
clear: both;
width: 100%;
font-size: 8pt;
position: relative;
padding: 0;
}
#uha-homepage #home_left #tips dd img {
float: left;
margin-right: 5px;
border: none;
height: 100%;
}
#uha-homepage #home_left #tips #more {
border: none;
text-decoration: underline;
background: transparent url(puce1.gif) no-repeat left;
padding-left: 7px;
position: absolute;
bottom: 5px;
right: 10px;
}
#uha-homepage #home_left #tips .link-external {
background-image: none;
margin: 0;
padding: 0;
}
/* */
/* */
#uha-homepage #home_right #news_list h2 {
display: block;
overflow: hidden;
padding-top: 22px;
height: 0px !important;
height /**/: 22px;
background: transparent url(actu.gif) no-repeat;
}
#uha-homepage .newsBody .newsImage {
float: left;
width: 25%;
border: none;
}
#uha-homepage .newsBody .newsImage img {
border: solid 1px #133e82;
}
#uha-homepage .newsBody {
margin-top: 1em;
color: #1d5ec2;
border-bottom: dotted black 1px;
width: 100%;
}
#uha-homepage .lastNews {
border: none;
}
#uha-homepage .newsContent {
padding: 0;
}
#uha-homepage .newsContent .visualClear {
overflow: hidden;
display: block;
height: 5px !important;
}
#uha-homepage .newsTitle {
font-weight: bold;
}
#uha-homepage .newsDescription {
color: #1b61c3;
}
#uha-homepage .newsFooter {
padding-bottom: 5px;
margin-top: 6px;
}
#uha-homepage .newsFooter a {
background: transparent url(puce4.gif) no-repeat left;
padding-left: 12px;
color: #ffaa00;
text-decoration: underline;
border: none;
float: left;
}
#uha-homepage .newsDate {
color: #9c9a9c;
font-weight: bold;
font-size: 7pt;
float: right;
}
/* */
#uha-homepage #home_right #news_themes h2 {
font-weight: lighter;
color: #153d82;
}
#uha-homepage #home_right #news_themes {
width: 100%;
}
#uha-homepage #home_right #news_themes #news-themes-list {
float: left;
}
#uha-homepage #home_right #news_themes a {
display: block;
background: transparent url(puce4.gif) no-repeat left;
padding-left: 12px;
text-decoration: none;
margin-top: 5px;
font-size: 8pt;
}
#uha-homepage #home_right #news_themes img {
border: solid 1px #133e82;
float: left;
margin-right: 1.5em;
}
/* */
/* */
/* */
#portlet-navigation-tree {
background-color: #e7ebef;
}
#portlet-navigation-tree .navTreeItem .contenttype-plone-site a {
background: transparent url(site_icon.gif) no-repeat 5px center;
}
#portlet-navigation-tree .navTreeItem .contenttype-plone-site a:hover {
background: #4271ad url(site_icon.gif) no-repeat 5px center;
}
#portlet-navigation-tree .navTreeItem .contenttype-plone-site a.navTreeCurrentItem {
background: #ffdb42 url(site_icon.gif) no-repeat 5px center;
}
#portlet-navigation-tree .navTreeItem {
list-style-type: none;
list-style-image: none;
}
li.navTreeItem a {
border: none !important;
border-bottom: white solid 1px !important;
margin-left: 1px;
}
#portlet-navigation-tree .navTreeItem div {
background-image: none;
}
#portlet-navigation-tree .navTreeItem a {
background: transparent url(puce1.gif) no-repeat 5px;
}
#portlet-navigation-tree .navTreeItem a:hover {
color: white;
background: #4271ad url(puce1.gif) no-repeat 5px;
}
#portlet-navigation-tree .navTreeItem a.navTreeCurrentItem {
background: #ffdb42 url(puce5.gif) no-repeat 5px;
}
/* */
#portlet-navigation-tree .navTreeLevel1 .navTreeItem a {
background: transparent url(puce3.gif) no-repeat left;
}
#portlet-navigation-tree .navTreeLevel1 .navTreeItem a.navTreeCurrentItem {
background: #ffdb42 url(puce3.gif) no-repeat left;
}
#portlet-navigation-tree .navTreeLevel1 .navTreeItem a:hover {
color: white;
background: #4271ad url(puce2.gif) no-repeat left;
}
/* */
.navTreeLevel2 {
margin-left: 0;
}
#portlet-navigation-tree .navTreeLevel2 .navTreeItem a {
background: transparent url(puce3.gif) no-repeat 10px;
padding-left: 2em;
}
#portlet-navigation-tree .navTreeLevel2 .navTreeItem a.navTreeCurrentItem,
#portlet-navigation-tree .navTreeLevel2 .navTreeItem a:hover {
color: white;
background: #4271ad url(puce2.gif) no-repeat 10px;
}
/* */
.navTreeLevel3 {
margin-left: 0;
}
#portlet-navigation-tree .navTreeLevel3 .navTreeItem a {
background: transparent url(puce3.gif) no-repeat 20px;
padding-left: 3em;
}
#portlet-navigation-tree .navTreeLevel3 .navTreeItem a.navTreeCurrentItem,
#portlet-navigation-tree .navTreeLevel3 .navTreeItem a:hover {
color: white;
background: #4271ad url(puce2.gif) no-repeat 20px;
}
/* */
.navTreeLevel4 {
margin-left: 0;
}
#portlet-navigation-tree .navTreeLevel4 .navTreeItem a {
background: transparent url(puce3.gif) no-repeat 25px;
padding-left: 3em;
}
#portlet-navigation-tree .navTreeLevel4 .navTreeItem a.navTreeCurrentItem,
#portlet-navigation-tree .navTreeLevel4 .navTreeItem a:hover {
color: white;
background: #4271ad url(puce2.gif) no-repeat 25px;
}
/* */
.listingBar {
background-color: #103c84;
border-color: #63656b;
border-style: solid;
border-width: 1px;
padding: 0em 1em;
text-align: center;
text-transform: lowercase;
vertical-align: top;
margin: 1em 0em;
font-size: 94%;
clear: both;
color: yellow;
}
.listingBar span.previous,
.listingPrevious {
text-align: left;
float: left;
margin-right: 1em;
color: yellow;
}
.listingBar span.next,
.listingNext {
text-align: right;
float: right;
margin-left: 1em;
color: yellow;
}
.listingBar img {
vertical-align: middle;
}
.listingBar a {
text-decoration: none;
color: yellow;
}
/* */
/* */
#portal-footer {
background-color: white;
border: none;
color: #fcae03;
margin-top: 5px;
}
#portal-colophon {
display: none;
}
/* */
div.paragImgG img {
float: left;
margin-right:10px;
margin-bottom:10px;
}
div.paragImgG ul li {
margin-left:20px;
}
.leftPlaced ul li {
margin-left:20px;
}
div.paragImgD img {
float: right;
margin-left:10px;
margin-bottom:10px;
}
div.paragImgD li {
margin-left:20px;
}
blockquote {
padding-left: 0.5em;
margin-left: 0;
border-left: 0px;
}

}

