
/* - demo.css - */
/* http://www.uha.fr/portal_css/demo.css?original=1 */
ul#menu1, ul#menu1 ul {
list-style-type:none;
margin: 0;
padding: 0;
}
ul#menu1 a {
display: block;
text-decoration: none;
}
ul#menu1 li#ssmenu {
margin-top: 1px;
width:300px;
list-style-type:none;
}
ul#menu1 li#ssmenu a {
color:black;
}
ul#menu1 li#ssmenu a:hover {
}
ul#menu1 li#ssmenu ul li a {
color:#0066FF;
font-size:10px;
}
ul#menu1 li#ssmenu ul li {
margin-left:20px;
list-style-type:none;
}
ul#menu1 li#ssmenu ul li a:hover {
color:#000;
}

