/* CSS Document */

table#choixstat {
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	width: 650px;
	
	margin: 25px 10px 0px 30px;
}

#infos_passagers
{

background-image:url(fond_degrade.gif);
background-repeat:repeat-x;
min-height:400px;
border: 1px solid #CCCCCC;

}

#p_infos_pass{

font-family:Arial, Helvetica, sans-serif;
font-size:11px;

color:#000000;

font-style:normal;
text-align:justify;
margin:5px 10px 10px 15px;

}

#rub_infos_passa h1{

font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#000000;
text-decoration:underline;
font-style:normal;
margin:10px 0 10px 15px; 
text-align:left;
text-transform:uppercase;

}

#bordure_actus_indispo
{
	width:450px;
}

#publications{

font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
font-weight: bold;
font-style:italic;
text-align:center;

}

td#selecstat a {
	background-repeat: repeat-x;
	background-image:url(fond_bleu_centre.jpg);
	/*width: 100px;*/
	padding: 6px;
	font: normal normal 600 14px, "Arial Narrow", Helvetica, sans-serif;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}
 td#selecstat {
	background-repeat: repeat-x;
	background-image: url(fond_bleu_centre.jpg);
	width: 100px;
	padding: 6px;
	font: normal normal 600 13px, "Arial Narrow", Helvetica, sans-serif;
	color: #FFFFFF;
	text-align: center;
}

 td#deselecstat{
 	border-left: 1px solid #CCCCCC;
	background-repeat: repeat-x;
	background-image: url(fond_deselec_stat.gif);
	width: 100px;
	padding: 6px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-align: center;
	text-decoration:none;
}


td#deselecstat a{
 	
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-align: center;
	text-decoration:none;
}

table#compagnies
{
background-color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color: #6F6F6F;
text-align:justify;
background-color:#F2FEFF;


}
div#plan
{
	text-align:justify;
	margin:0 0 0 150px;
}

#titre_plan
{
padding:5px 0 5px 15px;
font-size:13px;
color:#0066FF;
list-style-type:square;

}
#titre_plan a
{

text-decoration:none;
font-family:Arial, Helvetica, sans-serif;
color:#003A8C;
font-weight:bold;
}

#contenu_plan
{
	font-size:12px;
	padding:5px 0 5px 50px;
	margin:0;
		
}

#contenu_plan a
{
	color:#3361a3;
	text-decoration:none;
	font-style:italic;	
}

#historique
{
font-family:"Monotype Corsiva";
font-size:15px;
line-height:19px;
color:#9C0E26;

}

a {
	text-decoration: none;
}


#compagnies td
{
	text-align:center;
	
}

tr#titre_compagnies
{
	font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
text-align:center;
color: #6F6F6F;
}
td#colonne_compagnies
{
padding:5px 0 5px 10px;
text-align:justify;
}
table#tableau_stats
{
background-color:#FFFFFF;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#6F6F6F;
font-weight:normal;
margin:0 0 0 30px;

}
tr#titre_tab_stats
{
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#6F6F6F;
font-weight:bold;

}

tr#titre_tableau_stats
{
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
background-image:url(fond_bleu_centre.jpg);
background-repeat:repeat-x;

}

td#colonne_gauche_stats
{
text-align:justify;
padding:0 0 0 10px;
}


#centralAccueil {
margin-top: 35px;
margin-left: 150px;
margin-right: auto;
padding: 0;
width: 546px;
background-color: #FFFFFF;
min-height: 520px;
}
#centraleCourante {
margin-top: 35px;
margin-left: 150px;
width: 720px;
background-color: #FFFFFF;
min-height:450px;

}

#introParagraf {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	font-style: normal;
	font-weight: bold;
	color: #2F2F2F;
	margin: 5px 5px 10px auto;
	padding-left: 10px;
	text-align: left;
	
}
#courant {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	font-style: normal;
	font-weight: normal;
	text-align: justify;
	color: #2F2F2F;
	margin: 5px 5px 10px auto;
	padding-left: 10px;
	
}

#courant2
{
	min-height:270px;
}
div#retrait {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	font-style: normal;
	font-weight: normal;
	text-align: justify;
	color: #2F2F2F;
	margin: 5px 5px 10px 30px;
	padding-left: 10px;
}
table#paragraf{
	width: 550px;
}
#paragraf td {
font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	font-style: normal;
	font-weight: normal;
text-align: left;
border: 1px dotted #93AAAA;
padding-left: 5px;
}

#courant a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
}
#date {
	text-align: right;
	font: italic normal 11px/12px Arial, Helvetica, sans-serif;
	/*background-image: url(../img/image_titre.gif);
	background-position: left;
	background-repeat: no-repeat;*/
	margin: 0px 0px 0px auto;
	padding: 5px 0px 5px 0px;
	color: #0079EE;
	background-color: #E2F7F8;
}
#auteur {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	font-style: normal;
	font-weight: normal;
	color: #B22222;
}
#auteur a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	font-style: normal;
	font-weight: normal;
	color: #B22222;
	text-decoration: none;
}

h1 {
color: #798EBD;
font-family: Arial, Helvetica, sans-serif;
font-size:18px;
text-align: left;
}

h1#titre_rubrique{

color: #3384EE;
font-family: Arial, Helvetica, sans-serif;
font-size:18px;
font-style: italic;
margin: 15px 0px 15px 10px;
text-align: left;

}

#footer h1 {
color: #FFFFFF;
font-family: Arial, Helvetica, sans-serif;
font-size:9px;
text-align: center;
text-decoration: none;
}
#taxi{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: normal;
	text-align: center;
}
#taxi a {
color: #FFFFFF;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
text-align:center;
text-decoration: none;
}


td#img_c2fpa{
margin:0;
padding:0;
border:0;
}

body {
text-align : center;
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
background-color: #3994DD;
margin: 0;
padding: 0;
}
#header {
/*position: relative;
top: 0px;
left: 15px;*/
	width:900px;
	margin: 0 auto;
	padding : 0px 0px 15px 0px;
	border:0px;
	background-color: #FFFFFF;
	
}
#spacer {
float: right;
}

#conteneur {
position: relative;
top: 0px;
	width:930px;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px; 
	text-align: center;
	/*height: auto;*/
}

#pied {
height: 30px;
background-color: #99CC99;
}

#menugauche {
/*position: absolute;
top: 196px;
left: 15px;
	list-style-type: none;
	margin: 5px 0px 0px 15px;
	padding:0;
	width: 140px;
	background-color: #FFFFFF;
	border-bottom: 1px dotted #DEDEDE;
	border-right: 1px dotted #DEDEDE; */
}

#crise a {
position: absolute;
	left: 165px;
	top: 183px;
	z-index: 10;
	width: 540px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
	background-color: #FFFFFF;
	font: bold 11px/30px Arial, Helvetica, sans-serif;
	color: #FF6600;
	text-decoration: none;
	border-bottom: 2px double #555555;
	border-left: 1px dotted #888888;
	border-right: 2px double #555555;
	border-top: 1px dotted #888888;
}

#crise a:hover{
	text-decoration: underline;
}

#menugauche li {
margin-bottom: 5px;
}

#fondBlanc {
/*position: absolute;
top: 170px;
left: 15px;*/
margin-top: 0px;
margin-left: 15px;
	width: 800px;
	background-color: #FFFFFF;
	height: 700px;
}

#menugauche a {
margin: 0 0px;
color: #000000;
text-decoration: underline;
}
#menugauche a:hover {
text-decoration: none;
}

#bordure_actus_indispo{

	font-family: Arial, Helvetica, sans-serif;
	padding-right:10px; padding-bottom:10px; padding-top:10px;
	margin : 0 0 15px 0;
	background-color:#FFFFFF;
	border: 1px solid #CCCCCC;
	width:540px;
	position:relative;
}

p { font-family:Arial, Helvetica, sans-serif;
font-size:11px;
text-align:left;
margin: 0px 10px 0px 50px;
color: #798EBD;
}

p#p_horaires
{
	font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-style:italic;
text-align:center;
margin: 0px 10px 0px 50px;
color: #798EBD;
}


.cachediv {
		visibility: hidden;
		overflow: hidden;
		height: 1px;
		margin-top: -1px;
		position: absolute;
		
	}

a#txtDep_Arr {
font-family:Arial, Helvetica, sans-serif;
font-size: 11px;
font-style:normal;
text-decoration:none;
padding:  5px 5px 5px 5px; 
color:#FFFFFF;
font-weight:bold;
margin: 0;
}

td#tabDep{
background-color:#F15A22;
text-align:center;
border:1px solid  #999999;
}

td#tabArr{
background-color:#657171;
text-align:center;
border:1px solid  #999999;
}

dl, dt, dd, ul, li {
margin : 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
text-align:left;
list-style-type: none;
}


dl#menu {
/*position: absolute;
top: 196px;
left: 15px;*/
margin: 0px 0px 0px 0px;
width:140px;
text-align:left;
cursor: pointer;
}

dt#menu:hover {
	position:relative;
	cursor: pointer;
	top: 0;
	left: 0;
}

#txtdate{
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
color: #FFFFFF;
background-color: #3994DD;
margin:10px 20px 40px 10px;
border:1px solid #3994DD;

}

dl#menu dt {
background-image: url(fond_bleu.jpg);
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#FFFFFF;
font-weight: bold;
font-style:italic;
margin: 5px auto 0px 0px;
padding-left: 5px;
text-align:left;
line-height:31px;
width: 151px;
cursor: pointer;
}

div#pave_commerces p
{
	font-size:11px;
	color:#000000;
	font-weight:bold;

	margin:5px 5px 5px 7px;
}

dl#menu dd {
text-align:left;
border: 0px solid gray;
width:140px;
}

dl#menu li {
background: #EBF4FB;
color: #A8AEB3;
margin: 0px 0px 0px 18px;
border-top: 1px solid #B9C5B5;
width:130px;
line-height: 15px;
}

dl#menu li a, dl#menu dt a {
text-decoration: none;
text-align: left;
color: #003B8E;
font-size:10px;
font-style: normal;
background : #FFFFFF;
display: block;
padding: 0 0 0 5px;
/*width:140px;*/
font-family: Arial, Helvetica, sans-serif;
}

#chemin{
font-family: Arial, Helvetica, Sans-serif;
font-size:10px;
margin: 0px 0px 10px 0px;
color: #696969;
text-align : left;
}
h3#titreParagraf {
	text-align: right;
	font: italic bold 15px/16px Arial, Helvetica, sans-serif;
	/*background-image: url(../img/image_titre.gif);
	background-position: left;
	background-repeat: no-repeat;*/
	margin: 0px 0px 10px auto;
	padding: 5px 5px 5px 5px;
	color: #0079EE;
	border-bottom: 1px;
	border-bottom-color: #515151; 
	border-bottom-style: dotted;
	
}
#souligneTitre{
	/*background: transparent url(../img/soulign_titre_par.gif) no-repeat top right;
	width: 350px;
	height: 1px;
	margin: 0;
	padding: 0;*/
}
hr#soulignTitre {
display: block;
color: #0079EE;
background-color:#0079EE;
height: 1px;
margin: -7px 0px 0px auto ;
padding: 0px 0px 0px 0px;
border: 0;
/*text-align: right;
width: 440px;*/
}

dl#menu li a:hover, dl#menu dt a:hover {
background:#FF6600;
color:#FFFFFF;
}

#mentions {
font-family: Arial, sans-serif;
position: absolute;
bottom : 200px;
left : 10px;
color: #000;
background-color: #ddd;
}
#mentions a {text-decoration: none;
color: #222;
}
#mentions a:hover{text-decoration: underline;
}
div#pave_actu {
/*background-image:url("../img/fonds_paves/fond_actu.jpg");*/
height:93px;
}

div#pave_commerces {
background-image:url("fond_commerces.jpg");
height:93px;
margin-top: 10px;
}

div#pave_commerces h2{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#414D4E;
padding:5px 15px 0px 10px;
text-align:left;
font-style:italic;
}

div#pave_guad {
background-image:url("fond_guad.jpg");
height:93px;
margin-top: 10px;
}

div#pave_guad h2{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#FFFFFF;
margin: 10px 0px 0px 0px;
padding:5px 10px 0px 10px;
text-align:right;
font-style:italic;
font-weight:bold;
text-decoration:none;
}

div#lien_bandeau {
position:absolute;
top: 0px;
left: 490px;
text-align:center;
padding-top: 5px;
}

div#lien_bandeau a{
color : #75B4E9;
text-decoration:none;
}

#txtBloc{
/*position: : absolute;
	top: 160px;*/
background-image: url(fond_bleu.jpg);
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#FFFFFF;
font-weight: bold;
font-style:italic;
margin: 5px auto 0px 0px;
padding-left: 5px;
text-align:left;
line-height:31px;
width: 151px;
}

#txtBlocViolet{
/*position: : absolute;
	top: 160px;*/
background-image: url(bouton_grippe_fond.jpg);
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#FFFFFF;
font-weight: bold;
font-style:italic;
margin: 5px auto 0px 0px;
padding-left: 5px;
text-align:left;
line-height:31px;
width: 151px;
}
#txtBlocViolet a{
color: #FFFFFF;
text-decoration: none;
cursor: pointer;
}

div#menu_n
{
	position: relative;
	
}

#txtBloc a{
color: #FFFFFF;
text-decoration: none;
cursor: pointer;
}

#colonneGauche {
	position: absolute;
	top: 178px;
	left: 0px;
width: 156px;
}

#colonneDroite {
	position: absolute;
	top: 159px;
	right: 2px;
width: 206px;
background: transparent;
}



div#meteo{

position: absolute; text-align:center; width:150px; height:61px;  overflow:hidden; z-index:1; padding:0;
clip:rect(35px, 87px, 55px, 10px);

margin:0 0 0px 50px;
left:0;
top:200px;
}

.deroulant_sites{
width: 90px;
font-size : 9px;
color: #75B4E9;

}

div#lien_bandeau {
position: absolute;
top: 0px;
left: 620px;
align:center;
padding-top: 5px;

}

div#lien_bandeau a{
color : #75B4E9;
text-decoration:none;

}


div#pave_actu h2{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#FF6600;
margin: 0px 0px 0px 0px;
padding: 5px 10px 5px 10px;
text-align:right;
font-style:italic;
}

div#pave_actu p{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#526060;
margin: 0px 0px 0px 0px;
padding: 5px 5px 0px 30px;
text-align:justify;
font-weight:bold;
width: 395px;
}
div#menu_interne a{
font-style: Arial, Helvetica, Sans-serif;
font-size:11px;
color: #696969;
background-color:#EBF5FE;
text-decoration:none;
margin: 20px 0px 10px 0px;
padding-left: 5px;
}

div#menu_interne{
margin: 20px 0px 10px 0px;
padding-left: 0px;
}
div#courant > img {
	display: block;
}
div#pubBasse {

	
	
	height: 65px;
	margin: 0 auto;
	
}
div#pubBasse2 {
	
	width: 720px;
	height: 65px;
	margin: 0 auto;
	padding: 60px 0px 0px 0px;
}
