#headerNavigationLift .universList li.itemEvt a{
					background: url(bg_tab.png) no-repeat !important;
					width:142px;
										
			}
#headerNavigationLift .universList li.itemEvt a span{
visibility:hidden;
					
					}