/* Scoops 2010 STYLSHEET ***************************************************/

body{
	background: #fff;	
}
	#pageLift{
		background: #f1f1f1 url(bg_page.jpg) no-repeat center 0
	}
	#contentLift {
		min-height:1200px !important;
	}
	* html body #contentLift{
		height:1200px !important	
	}
/* ! */
.stdTitleBlock{
	background: url(bg_home.png) no-repeat 0 0	
}
	.stdTitleBlock .carouselController li a {
		background: url(bg_home.png) no-repeat 100% -4px;
	}
		.stdTitleBlock .carouselController li a span {
			background: url(bg_home.png) no-repeat -2542px -4px;	
		}
	.stdTitleBlock .carouselController li.active a {
		background-position: 100% -34px;
	}
		.stdTitleBlock .carouselController li.active a span {
			background-position: -2542px -34px;	
		}
			.stdTitleBlock .carouselController li.active a span span{
				background: url(picto_activeControler.png) no-repeat center 30px;
				color:#582a67
			}
.productItemDisplay .pdtName a{
	color:#e2001a	
}
.stdContentProductBlock{
	background: url(bg_home.png) no-repeat -959px 100%	
}
	.stdContentProductBlock .innerProductBlock{
		border: 0px none;
		padding-left:2px;
		padding-right:1px;
		background:#ffe900 url(bg_products.jpg) no-repeat;
	}
	.stdContentProductBlock .seeAll a{
		color:#fff;
	}
/* ! */
.stdHomeContentBlock .homeTitle{
	background: url(bg_home.png) no-repeat -1px -46px;
	color:#e2001a;
}
.homeProductListContainer{
	background: url(bg_home.png) no-repeat -1920px 0
}
	.homeProductListContainer .carouselHeading li.active a{
		background: url(bg_home.png) no-repeat 0 -83px;
		color:#e2001a;
	}
/* ! */
.skinItemDisplay{
	padding: 0;
	width:400px;
	height:128px;
	position:relative;
}
	.skinItemDisplay .pushInfoPart{
		float:left;	
		width:120px;
	}
		.skinItemDisplay .pushInfoPart img{
			display:block;	
		}
	.skinItemDisplay .visuPart{
		border: 0px none;
		position:relative;
		width:115px;
		padding-top:16px;
	}
		.skinItemDisplay .visuPart .promoPart{
			position:absolute;
			top:14px;
			left:30px;	
		}
		.skinItemDisplay .descPart {
			width:160px;
			padding:12px 0 0 0
		}

.stdTitleBlock .title {
	color: #e2001a;
}
.stdContentProductBlock .seeAll a{
	background:transparent url(http://pics.auchan.fr/img/common/bg_puces.png) no-repeat scroll 0 5px;
	color:#db0001;
}
.homeProductListContainer .carouselHeading li{
	background:transparent url(bg_carouselListSeparator.png) no-repeat scroll 11px 100%;
}
/* Home boutique */
.cataloguePdtContainer .pdtSellTitle {
	background: transparent url(bg_boutique.png) no-repeat scroll 0 0
}
.cataloguePdtContainer .innerCataloguePdt{
	background:#edd02a url(bg_products_boutique.jpg) no-repeat scroll 0 0;
}
.cataloguePdtContainer{
	background:#edd02a url(bg_boutique.png) no-repeat scroll 0 100%;
}
.cataloguePdtContainer .innerCataloguePdt{
	border:none;
}
.cataloguePdtContainer .pdtSellTitle {
	color:#e2001a;
}