BODY {
font-family: Verdana, Tahoma, Arial, sans-serif;
font-size : 10px;
color : #5A5D5A;
background-color : #D6D7D6;
margin: 0px;
margin-bottom: 5;
}
TABLE {
font-family: Verdana, Tahoma, Arial, sans-serif;
font-size: 11px;
color: #5A5D5A;
border-spacing: 0px;
}
TD {
padding: 0px;
vertical-align: top;
}
INPUT, TEXTAREA, SELECT {
font-family: Verdana, Tahoma, Arial, sans-serif;
font-size : 10px;
color : #5A5D5A;
font-weight :normal;
}
IMG {
border: none
}
HR {
background-color: #CECFCE;
color: #CECFCE;
border: 0;
height: 1px;
}
A {
color: #3282B2;
text-decoration: none;
}
A:HOVER {
color: #A1B2B5;
}
#menugauche {
background-color: #1061B5;
padding-left: 4;
padding-right: 4;
background-image: url("menugauche_fond.gif");
background-repeat: repeat-x;
}
#menugauche UL {
margin: 0;
padding: 0;
}
#menugauche LI {
background-color: #6FC02C;
margin: 0;
padding: 0;
list-style:none;
}
#menugauche A {
display: block;
background-image: url("menugauche_puce.gif");
background-repeat: no-repeat;
background-position: 10 10;
padding: 5;
padding-left: 20;
color: #FFF;
font-weight: bold;
text-decoration: none;
font-size: 11;
}
#smenugauche1 {
border-bottom: 15px solid #D30C38;
}
#smenugauche1 LI {
background-color: #D30C38;
}
#smenugauche1 A {
display: block;
padding: 5;
padding-left: 20;
background-image: url("menugauche_puce2.gif");
background-repeat: no-repeat;
background-position: 10 9;
color: #FFF;
font-weight: bold;
text-decoration: none;
font-size: 10;
}
#smenugauche2 {
}
#smenugauche2 LI {
background-color: #FF0F84;
}
#smenugauche2 A {
display: block;
background-image: url("style.css");
border-bottom: 1px solid #D30C38;
border-left: 10px solid #D30C38;
border-right: 10px solid #D30C38;
padding-left: 10;
color: #FFF;
font-weight: normal;
text-decoration: none;
}
#smenugauche2 A:HOVER {
background-color: #FF5FAD;
}
#smenugauche2_on {
background-color: #FF5FAD;
}
#smenugauche3 {
}
#smenugauche3 LI {
background-color: #FFA200;
}
#smenugauche3 A {
display: block;
background-image: url("style.css");
border-bottom: 0;
border-left: 10px solid #D30C38;
border-right: 10px solid #D30C38;
padding: 3;
padding-left: 10;
color: #FFF;
font-weight: normal;
text-decoration: none;
}
#smenugauche3 A:HOVER {
background-color: #FFB229;
}
#smenugauche3_on {
background-color: #FFB229;
}
#encartgauche {
background-color: #91CD13;
border-top: 4px solid #D6D7D6;
padding: 7;
color: #FFFFFF;
}
#encartgauche UL {
margin: 0;
padding: 0;
}
#encartgauche LI {
margin: 0;
padding: 3;
list-style:none;
border-bottom: 1px solid #D6D7D6;
}
#encartgauche A {
text-decoration: none;
color: #FFF;
}
#encartgauchetitre {
background-color: #FFF;
padding: 10;
margin-bottom: 7;
text-align: center;
background-image: url(encart_gauche.gif);
background-repeat: no-repeat;
font-size: 12;
font-weight: bold;
color: #376F07;
}
#bottom {
border-top: 5px solid #FFF;
background-color: #1061B5;
padding: 7;
text-align: center;
color: #DCD9D9;
}
#bottom A {
color: #DCD9D9;
text-decoration: none;
}
#main {
width: 780;
}
#rechercher {
height: 62;
border-left: 1px solid #FFF;
background-image: url(rechercher_fond.gif);
background-repeat: no-repeat;
background-color: #D30C38;
}
#menuhaut {
background-image: url(menuhaut_fond.gif);
}
#menuhaut UL {
margin: 0;
margin-top: 2;
padding: 0;
}
#menuhaut LI {
float: left;
margin: 0;
margin-left: 1;
margin-right: 1;
padding-left: 15;
padding-right: 15;
list-style:none;
}
#menuhaut A {
display: block;
font-size: 12;
color: #FFF;
text-decoration: none;
font-weight: bold;
padding-top: 2;
padding-bottom: 2;
}
#menuhaut1 A {
padding-top: 3;
padding-bottom: 3;
}
#menuhaut1 {
background-color: #ABC71B;
}
#menuhaut2 {
background-color: #4CA404;
}
#menuhaut3 {
background-color: #D30C38;
}
#smenuhaut3 {
position: relative;
margin-left: 129px;
}
#smenuhaut3 LI {
margin: 0;
background-color: #FF0F84;
border-left: 1px solid #F7F3F7;
border-right: 1px solid #F7F3F7;
border-top: 2px solid #F7F3F7;
}
#smenuhaut3 LI:HOVER {
background-color: #FF5FAD;
}
#smenuhaut3 A {
font-weight: normal;
font-size: 10;
}
#menuhaut4 {
background-color: #D30C38;
}
#menuhaut5 {
background-color: #D30C38;
}
#divrecherche {
padding-left: 30;
padding-top: 12;
color: #DBF7A0;
}
#divrecherche INPUT {
border: 1px solid #393C3A;
color: #393C3A;
margin: 2;
}
#ok {
background-color: #F7E239;
color: #393C3A;
font-weight: bold;
width: 25;
}
#logo {
background-color: #D30C38;
}
#bandeau {
background-color: #D30C38;
/*
background-image: url(images/bandeau.gif);
background-repeat: no-repeat;
*/
}
#content {
background-color: #FFF;
padding-left: 10;
padding-right: 10;
padding-bottom: 10;
}
#flash {
color: #FFF;
font-size: 11;
padding: 10;
background-color: #FFA200;
}
H1{
background-image: url("menugauche_puce.gif");
background-repeat: no-repeat;
background-position: 10 12;
color: #FFF;
padding-top: 5;
padding-bottom: 4;
padding-left: 20;
border-right: 4px solid #D6D7D6;
}
H2 {
font-size: 12px;
background-image: url("puce_zoom.gif.1");
background-repeat: no-repeat;
background-position: 0 2;
padding-left: 15;
}
H3 {
font-size: 12px;
background-image: url("puce.gif");
background-repeat: no-repeat;
background-position: 0 5;
padding-left: 10;
}
H4 {
color: #000;
font-size: 12px;
}
H5 {
color: #000;
font-size: 11px;
}
H6 {
color: #000;
font-size: 11px;
}
H7 {
color: #000;
font-size: 11px;
}
#menuimmogauche {
background-color: #FFB229;
padding-left: 4;
padding-right: 4;
background-image: url("menugauche_fond.gif");
background-repeat: repeat-x;
}
#menuimmogauche UL {
margin: 0;
padding: 0;
}
#menuimmogauche LI {
background-color: #1061B5;
margin: 0;
padding: 0;
list-style:none;
}
#menuimmogauche A {
display: block;
background-image: url("menugauche_puce.gif");
background-repeat: no-repeat;
background-position: 10 10;
padding: 5;
padding-left: 20;
color: #FFF;
font-weight: bold;
text-decoration: none;
font-size: 12;
}
#smenuimmogauche1 {
border-bottom: 15px solid #DEDEDE;
}
#smenuimmogauche1 LI {
background-color: #DEDEDE;
}
#smenuimmogauche1 A:HOVER {
background-color: #FFB229;
}
#smenuimmogauche1 A {
display: block;
padding: 5;
padding-left: 20;
background-image: url("menugauche_puce.gif");
background-repeat: no-repeat;
background-position: 10 9;
color: #1061B5;
font-weight: bold;
text-decoration: none;
font-size: 12;
}
#smenuimmogauche1 A:HOVER {
color: #fff;
}
#encartgaucheimmo {
background-color: #FFB229;
text-align: center;
}
#imprimer {
background-image: url("fax.gif");
background-repeat: no-repeat;
background-position: 0 2px;
padding: 3px;
padding-left: 20px;
}
#affichagenda A {
color: #5A5D5A;
}
#affichagenda A:HOVER {
color: #959595;
}
#affichactu A {
color: #5A5D5A;
}
#affichactu A:HOVER {
color: #959595;
}