@charset "UTF-8";
/* CSS Document */

/* @group GENERIC CLASSES */

/* all stuff to hide */.hidden-D{ display:none;}.hidden-L{ left:-2000px;position: absolute;width: 200px; float: left;}
.hidden-T{ text-indent:-200em;}
/* all stuff to clear */.clear-B{ clear:both;}.clear-R{ clear:right;}.clear-L{ clear:left;}

/* txt to align */.align-R{ text-align: right;}.align-L{ text-align: left;}

/* Majuscule */
.maj{ text-transform: uppercase;}
/* stuff to resize img with ems, whitout using width and height attributes in img element -according to WAI-AAA, WCAG2 and html5 - prairycat saying */.wh-100pc{ width:100%; height:100%;}
/* all stuff to say goodby to style attribute and use spaces in class attribute -according to WAI-AAA, WCAG2 and html5 - prairycat saying */.m-0{ margin:0px;}.m-2{ margin:2em;}

/* list */
dl, dt, dd, ul, ul li {	margin: 0;	padding: 0;	list-style-type: none;}

ol {
	margin-left: 20px;
	padding: 0;	
}

/* Accentuation taille police */
.font-up1{
	 font-size: 120%;
}
.font-down-1{
	 font-size: 75%;
}

a, a img{ border:none; outline: none;}
div{ position:relative;}
form{margin:0;}

/* @end */

