@charset "UTF-8";
/* CSS Document */

/* @group Couleurs*/
.universite, .en_savoir___sur_l_um {color: #377563;}
.formation{color: #009DDA;}
.recherche{color: #73A544;}
.international{color: #4B53BB;}
.etudiant, .la_vie_etudiante{color:#E83E2D;}
.entreprise, .entreprises{color: #EC8420}
.reseaux, .l_universite_et_ses_reseaux{color: #8B5374}
/* @end */

/* @group General */
html {
height:100%;
}
body {
	margin:0;
	padding:0;
	line-height: 1.5em;
	min-height:100%;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	font-size:62.5%;
	background :#81c7e7 url(home-body-background.png) repeat-x 0 0;
}

a, a img{ border:none; outline: none;}
div{ position:relative;}
form{margin:0;}

/* @end */

/* @group titrage */
h1 a {/* this ruleset keeps the root link in the title from standing out */	font-weight: normal;	color: #000;	}h1 {	font-size: 3.0em;	font-weight: normal;	margin-top: 0em;
	/*both set to zero and padding in header div used intead to deal with compound ie pc problems that are beyound summary in a simple comment.*/	margin-bottom: 0em;	}h2 {	font-size: 3.0em;	font-weight: normal;	}h3 {	font-size: 1.8em;	font-weight: normal;
	line-height: 120%;	}h4 {	font-size: 1.2em;/*Modif Style envoyée par PDelage*/	font-weight: normal;
	margin:10px 0 4px;}
#area-default h4 {
		font-weight : bold;
	}h5 {	font-size: 1.5em;	font-weight: normal;
	margin:8px 0 3px;	}h6 {	font-size: 1.3em;	font-weight: normal;
	margin:6px 0 1px;	}


/* @end */



/* @group Access - liens d'évitements */
#easy-access{
	position:absolute;
}
/* @end */

/* @group Contenu */

div.maincontainer{
	height:100%;
	width: 100%;
}

/* @group Bdx Top */

div.bdx-top{
	height: 136px;
	width:970px;
	text-align: right;	
}

/* @group logo */
div.bdx-top h1 a{
	position: absolute;
	width: 280px;
	height: 70px;
	left: 0;
	margin: 30px 0 0 20px;
}
/* @end */

/* @group Liens hauts de pages (ToolLinks) */

div.bdx-top .toolslinks{
	margin-left: auto;
}
	div.bdx-top .toolslinks li{
		display: inline;
		margin-left: 22px;
		font-size: 1.1em;
	}
	div.bdx-top .toolslinks li a{
		display: inline-block;
		color: white;
		text-decoration: none;
		margin-bottom: 0;
		padding: 10px 0 0 10px;
		border-left: 1px solid #fff;
	}
		div.bdx-top .toolslinks li a:hover{text-decoration: underline;}

/* @end */

/* @group Flags langues */
div.bdx-top .flags{
	float:right;
	margin:12px 20px 0 4px;
}
div.bdx-top .flags .flag{
	display:  inline-block;
	width: 17px;
	height: 13px;
	margin-right: 1px;
	background :transparent url(go-flags.png) no-repeat 0 0;
}
			.bdx-top .flags a {
				text-decoration : none;			
			}
			
			.bdx-top .flags a.french{
				background-position : 0 top;
			}
				.bdx-top .flags a.french:hover, .bdx-top .flags a.frenchactif{
					background-position : 0 bottom;
				}
			.bdx-top .flags a.english{
				background-position :  -20px top;
			}
				.bdx-top .flags a.english:hover, .bdx-top .flags a.englishactif{
					background-position : -20px bottom;
				}
			.bdx-top .flags a.spain{
				background-position :  -40px top;
			}
				.bdx-top .flags a.spain:hover, .bdx-top .flags a.spainactif{
					background-position : -40px bottom;
				}
			.bdx-top .flags a.china{
				background-position :  -60px top;
			}
				.bdx-top .flags a.china:hover, .bdx-top .flags a.chinaactif{
					background-position : -60px bottom;
				}
			.bdx-top .flags a.german{
				background-position :  -80px top;
			}
				.bdx-top .flags a.german:hover, .bdx-top .flags a.germanactif{
					background-position : -80px bottom;
				}

/* @end */

/* @group Research */

	.bdx-top .research{
		display:block;
		width:240px;
		padding: 0;
		float:right;
		margin:9px 0 0 0;
		text-align:left;
	}
		.bdx-top label{

		}
		.bdx-top input[type=text]{
			border:none;
			margin:2px 0 0 72px;
			background-color:transparent;
			width:145px;
			min-height: 14px;
		}
			.bdx-top input[type=image]{
				vertical-align: top;
				margin-top: -18px;
				float: right;			
			}
/* @end */

/* @end */

/* @group Footer */
div.bdx-footer{
	height: 180px;
	width:970px;
	background :transparent url(home-bdxfooter-background.png) no-repeat 0 0;
	text-align: right;
}
	div.bdx-footer ul{
		padding-top: 10px;
		font-size: 1.1em;
	}
	div.bdx-footer ul li{
		display: inline;
		padding: 0 8px;
		border-right: 1px solid #fff;
	}
		div.bdx-footer ul li.last{
			border: none;
			padding-right: 0;
		}
	div.bdx-footer ul li a{
		color:#fff;
		text-decoration: none;
		
	}
		div.bdx-footer ul li a:hover{
			text-decoration: underline;
		}

div.bdx-footer .adress {
	float: left;
	color: #fff;
	padding-left: 32px;
	text-align: left;
}	
/* @end */



/* @end */
