.ui-tabs {
    font-family:sans-serif !important;
    font-size:0.85em !important;
    margin:0 0 1em 0;
    width:auto;
}

.ui-tabs-panel {
    padding:0.5em !important;
    border:none !important ;
}

div.image-container input.submit {
	font-family:sans-serif;
}

div.image-container label {
    font-weight:bold;
}

div.image-container a.image-button {
    text-decoration:none;
    font-weight: normal;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-bottom: 2px solid #2f475f;
    border-right: 2px solid #2f475f;
    background-color: #4d7299;
    background-image: url(button.gif);
    background-repeat: repeat-x;
    background-position: top;
    padding: 0em 0.5em 0em 0.5em;
    margin: 1em 0 1em 0;
}

div.image-container div.image-preview {
    display:block;
    width:420px;
}

div.image-container div.image-preview div.ajax-content {
    margin:50px 0 0 0;
}

div.image-container div.image-preview-info {
	display:block;
	float:left;
	width:400px;
	margin:0 0 10px 0;
}

div.image-container div.image-filter {
    font-size:0.85em !important;
}