.smileCalendar { 
	display:none;
	position:absolute;
	z-index:888;
	width:auto!important;
}

.smileCalendar div{
	width:160px!important;
	margin:0 0 5px 0!important;
}

.smileCalendar table{
	margin:0!important;
	padding:0!important;
}

.smileCalendar tr th,
.smileCalendar tr td{
	padding: 2px!important;
}

.calendar_button { 
	margin-top:12px!important;
	text-transform:capitalize;
}