/* *** METEO *** */
	
#meteoJour {
	position:absolute;
	z-index:200000;
	top:10px;
	left:-250px;
	}
	
#voirMeteo {
	position:absolute;

	top:58px;
	left:5px;
	}
	
#voirMeteo, #btnClose {
	cursor:pointer;
	}

#btnClose {
	margin-left:310px;
	}
	

#meteo h2 {
	font-size:18px;
	color:#009933;
	margin-bottom:35px;
	}

#blocMeteo {
	margin-left:20px;
	}
		
#meteoJour {
	
	width:400px;
	display:none;
	}
	
#decoMeteo {
	
	background:url(fd.png) no-repeat right top;
	width:365px;
}

#meteoJourHeader {
	background:url(bkgMeteo_01.png) no-repeat;
	width:400px;
	height:20px;

}

#meteoJourContent {
	background:url(bkgMeteo_02.png) repeat-y;
	width:377px;
	padding:0 0 0 25px;

}

#meteoJourFooter {
	background:url(bkgMeteo_06.png);
	height:26px;
	width:400px;

}	
.meteoJour {
	width:75px;
	float:left;
	}
	
.clearer {
	clear:both;
	height:1px;
	line-height:1px;
	}

.infoMeteo {
	text-align:center;
	margin-top:3px;
	color:#333333;
	}

/* *** / METEO *** */