/* Form ajouter commentaire
------------------------------------------ */
.ajout-commentaire,
.ajout-message{
	margin-bottom: 10px;
}
.ajout-commentaire .b-title{
	padding: 0 0 12px;
	border-bottom: 0;
}
.ajout-commentaire.loading{
	min-height: 100px;
	background: url(loader.gif) right 15px no-repeat;
}
#modal .ajout-commentaire.loading{ background-position: right 40px; }
.ajout-commentaire .commentaire,
.ajout-message .commentaire{ margin-bottom: 15px; }
.ajout-commentaire .commentaire:first-child,
.ajout-message .commentaire:first-child{ margin-bottom: 10px; }
.ajout-message .commentaire label,
.ajout-message .commentaire .sweet-field,
.ajout-commentaire .commentaire label,
.ajout-commentaire .commentaire .sweet-field{
	display: block;
	margin-bottom: 0;
}
.ajout-commentaire .commentaire .sweet-field{
	width: 285px;
}
.ajout-message .commentaire textarea,
.ajout-commentaire .commentaire textarea{
	height: 70px;
}
.ajout-message .user,
.ajout-commentaire .user{
	padding: 0 0 5px;
	margin: 0;
}
.ajout-message div.user,
.ajout-commentaire div.user{
	margin-bottom: 5px;
}
.ajout-message .user label,
.ajout-message .user .sweet-field,
.ajout-commentaire .user label,
.ajout-commentaire .user .sweet-field{
	width: 89px;
}
.ajout-message input[name="quick-pseudo"],
.ajout-commentaire input[name="quick-pseudo"],
.ajout-message input[name="connect-pseudo"],
.ajout-commentaire input[name="connect-pseudo"]{
	margin-right: 9px;
}
.ajout-message .commentaire label span,
.ajout-commentaire .commentaire label span{
	float: right;
	padding-right: 3px;
	font-size: 20px;
	line-height: 1;
	margin-top: -5px;
}
.ajout-commentaire .commentaire label span.stop{ color: #F10; }
.ajout-message p.user,
.ajout-message .cgu,
.ajout-commentaire p.user,
.ajout-commentaire .cgu{
	font-size: 11px;
}
.ajout-message p.user a,
.ajout-message .cgu a,
.ajout-commentaire p.user a,
.ajout-commentaire .cgu a{
	color: #05B;
}
.ajout-message p.user a:hover,
.ajout-message .cgu a:hover,
.ajout-commentaire p.user a:hover,
.ajout-commentaire .cgu a:hover,
.ajout-message p.user a:focus,
.ajout-message .cgu a:focus,
.ajout-commentaire p.user a:focus,
.ajout-commentaire .cgu a:focus{
	text-decoration: underline;
}
.ajout-message .cgu,
.ajout-commentaire .cgu{
	float: left;
}
.ajout-message .i-valider,
.ajout-commentaire .sweet-button{ float: right; }
#modal .b-title{ display: none; }

.ajout-commentaire .connect,
.ajout-commentaire .messconnect,
.ajout-commentaire .valid,
.ajout-commentaire .errors{ display: none; }

.ajout-commentaire .email-commentaire{ display: none; }

