
.f-alain-acco
{
	background-image: url(speakers.css);
}
.f-kady-adoum-douass
{
	background-image: url(speakers.css);
}
.f-aline-afanoukoe
{
	background-image: url(http://photo.europe1.fr/speakers/2375.png);
}
.f-antonin-amado
{
	background-image: url(speakers.css);
}
.f-laurent-baffie
{
	background-image: url(http://photo.europe1.fr/speakers/1515.png);
}
.f-astrid-bard
{
	background-image: url(speakers.css);
}
.f-pierre-louis-basse
{
	background-image: url(http://photo.europe1.fr/speakers/21.png);
}
.f-faustine-bollaert
{
	background-image: url(http://photo.europe1.fr/speakers/1494.png);
}
.f-aymeric-caron
{
	background-image: url(http://photo.europe1.fr/speakers/2355.png);
}
.f-patrick-cohen
{
	background-image: url(http://photo.europe1.fr/speakers/2095.png);
}
.f-alexandre-delperier
{
	background-image: url(http://photo.europe1.fr/speakers/2054.png);
}
.f-jean-michel-dhuez
{
	background-image: url(speakers.css);
}
.f-michel-drucker
{
	background-image: url(http://photo.europe1.fr/speakers/2034.png);
}
.f-marie-drucker
{
	background-image: url(http://photo.europe1.fr/speakers/2094.png);
}
.f-caroline-dublanche
{
	background-image: url(http://photo.europe1.fr/speakers/1.png);
}
.f-olivier-duhamel
{
	background-image: url(http://photo.europe1.fr/speakers/1514.png);
}
.f-jean-pierre-elkabbach
{
	background-image: url(http://photo.europe1.fr/speakers/10.png);
}
.f-michel-field
{
	background-image: url(http://photo.europe1.fr/speakers/37.png);
}
.f-marc-olivier-fogiel
{
	background-image: url(http://photo.europe1.fr/speakers/2074.png);
}
.f-jacky-gallois
{
	background-image: url(http://photo.europe1.fr/speakers/30.png);
}
.f-pascal-humeau
{
	background-image: url(http://photo.europe1.fr/speakers/1075.png);
}
.f-laurent-jaoui
{
	background-image: url(speakers.css);
}
.f-sophie-larmoyer
{
	background-image: url(http://photo.europe1.fr/speakers/566.png);
}
.f-thierry-lecamp
{
	background-image: url(http://photo.europe1.fr/speakers/23.png);
}
.f-emmanuel-maubert
{
	background-image: url(speakers.css);
}
.f-jean-marc-morandini
{
	background-image: url(http://photo.europe1.fr/speakers/207.png);
}
.f-veronique-mounier
{
	background-image: url(http://photo.europe1.fr/speakers/2334.png);
}
.f-nagui
{
	background-image: url(http://photo.europe1.fr/speakers/2437.png);
}
.f-pascal-normand
{
	background-image: url(speakers.css);
}
.f-benjamin-petrover
{
	background-image: url(speakers.css);
}
.f-jacques-pradel
{
	background-image: url(http://photo.europe1.fr/speakers/29.png);
}
.f-anne-roumanoff
{
	background-image: url(http://photo.europe1.fr/speakers/2357.png);
}
.f-alexandre-ruiz
{
	background-image: url(http://photo.europe1.fr/speakers/2154.png);
}
.f-laurent-ruquier
{
	background-image: url(http://photo.europe1.fr/speakers/13.png);
}
.f-dominique-souchier
{
	background-image: url(http://photo.europe1.fr/speakers/25.png);
}
.f-frederic-taddei
{
	background-image: url(http://photo.europe1.fr/speakers/538.png);
}
.f-pierre-vilno-de
{
	background-image: url(speakers.css);
}
.f-caroline-weill
{
	background-image: url(speakers.css);
}


* html .f-alain-acco
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=""', sizingMethod="crop");
	background-image:none;
}
* html .f-kady-adoum-douass
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=""', sizingMethod="crop");
	background-image:none;
}
* html .f-aline-afanoukoe
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/2375.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-antonin-amado
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=""', sizingMethod="crop");
	background-image:none;
}
* html .f-laurent-baffie
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/1515.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-astrid-bard
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=""', sizingMethod="crop");
	background-image:none;
}
* html .f-pierre-louis-basse
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/21.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-faustine-bollaert
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/1494.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-aymeric-caron
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/2355.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-patrick-cohen
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/2095.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-alexandre-delperier
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/2054.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-jean-michel-dhuez
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=""', sizingMethod="crop");
	background-image:none;
}
* html .f-michel-drucker
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/2034.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-marie-drucker
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/2094.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-caroline-dublanche
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/1.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-olivier-duhamel
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/1514.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-jean-pierre-elkabbach
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/10.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-michel-field
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/37.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-marc-olivier-fogiel
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/2074.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-jacky-gallois
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/30.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-pascal-humeau
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/1075.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-laurent-jaoui
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=""', sizingMethod="crop");
	background-image:none;
}
* html .f-sophie-larmoyer
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/566.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-thierry-lecamp
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/23.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-emmanuel-maubert
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=""', sizingMethod="crop");
	background-image:none;
}
* html .f-jean-marc-morandini
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/207.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-veronique-mounier
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/2334.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-nagui
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/2437.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-pascal-normand
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=""', sizingMethod="crop");
	background-image:none;
}
* html .f-benjamin-petrover
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=""', sizingMethod="crop");
	background-image:none;
}
* html .f-jacques-pradel
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/29.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-anne-roumanoff
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/2357.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-alexandre-ruiz
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/2154.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-laurent-ruquier
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/13.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-dominique-souchier
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/25.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-frederic-taddei
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://photo.europe1.fr/speakers/538.png"', sizingMethod="crop");
	background-image:none;
}
* html .f-pierre-vilno-de
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=""', sizingMethod="crop");
	background-image:none;
}
* html .f-caroline-weill
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=""', sizingMethod="crop");
	background-image:none;
}