.ds_box {
	background-color: #FFF;
	border: 1px solid #C1AD73;
	position: absolute;
	z-index: 32767;
}

.ds_box2 {
	background-color: #FFF;
	border: 1px solid #C1AD73;
	position: absolute;
	z-index: 32000;
	width:159px;
	height:128px;
}

.ds_tbl {
	background-color: #FFF;
}

.ds_head {
	background-color: #C1AD73;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	/*font-size: 11px;*/
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
}

.ds_subhead {
	background-color: #ECE6D3;
	color: #000;
	/*font-size: 10px;*/
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	width: 22px;
}

.ds_cell {
	background-color: #EEE;
	color: #000;
	/*font-size: 11px;*/
	font-size: 1em;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px;
	cursor: pointer;
}

.ds_cell:hover {
	background-color: #F3F3F3;
} /* This hover code won't work for IE */
