/* GLOBAL */
/*html { font-size: 100% }*/
* {
	padding:0px;
	margin:0px;
}
body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	/*font-size:11px;*/
	font-size:0.7em;
	color:black;
	background-color:white;
}
.global {
	width:1003px;
	margin:0px auto 0px auto;
	position:relative;
	background-color:#FFFFFF;
}
.clear {
	clear:both;
	font-size:1px;
	height:1px;
}

/* ENTETE */
.entete {
	position:relative;
	background-image:url(fond_entete.gif);
	background-repeat:repeat-x;
	height:132px;
	clear:both;
	margin-bottom: -10px;
}
.entete h1 {
	background-image:url(logo.gif.1);
	background-repeat:no-repeat;
	height:132px;
}
.entete h1 span {
	visibility:hidden;
}
.entete h1 a {
	text-decoration:none;
	display:block;
	height:90px;
	width:190px;
	/*font-size:10px;*/
	font-size:0.6em;
}
.entete .photo {
	position:absolute;
	top:0px;
	right:40px;
}
.entete .photo .angle_ne {
	position:absolute;
	top:0px;
	right:0px;
	background-image:url(angle_ne.gif);
	background-repeat:no-repeat;
	display:block;
	width:11px;
	height:11px;
}
.entete .photo .angle_so {
	position:absolute;
	bottom:0px;
	left:0px;
	background-image:url(angle_so.gif);
	background-repeat:no-repeat;
	display:block;
	width:11px;
	height:11px;
}
.entete .photo .angle_se {
	position:absolute;
	bottom:0px;
	right:0px;
	background-image:url(angle_se.gif);
	background-repeat:no-repeat;
	display:block;
	width:11px;
	height:11px;
}
.contact {
	position:absolute;
	top:5px;
	left:340px;
}
.contact a {
	text-decoration:none;
	background-image:url(contact.gif);
	background-repeat:no-repeat;
	display:block;
	width:106px;
	height:14px;
}
.contact span {
	visibility:hidden;
}
.plan {
	position:absolute;
	top:20px;
	left:300px;
}
.plan a {
	text-decoration:none;
	background-image:url(plan.gif);
	background-repeat:no-repeat;
	display:block;
	width:77px;
	height:14px;
}
.plan span {
	visibility:hidden;
}
.rechercher {
	background-repeat: no-repeat;
	padding: 0px 0px 0px 75px;
	position:absolute;
	top:37px;
	left:240px;
}
.rechercher label {
	display: none;
}
.rechercher input {
	border: 0px;
	padding: 1px 2px 1px 2px;
	float: left;
}
.rechercher a {
	text-decoration: none;
	background-color: #ffffff;
	background-image: url(ok.gif);
	background-repeat: no-repeat;
	background-position: center;
	width: 23px;
	height:16px;
	padding: 1px 0px 1px 0px;
	display: block;
	float: left;
}
.rechercher a span {
	display:none;
}





/*.rechercher {
	position:absolute;
	top:42px;
	left:240px;
	background-image:url(../images/fr/rechercher.gif);
	background-repeat:no-repeat;
	padding-left:80px;
	padding-right:10px;
}
.rechercher a {
	background-image:url(../images/fr/ok.gif);
	background-repeat:no-repeat;
	width:22px;
	height:24px;
	text-decoration:none;
	padding:0px 3px 0px 0px;
	background-color:white;
}
.rechercher span {
	visibility:hidden;
}
.rechercher input {
	border:0;
	font-size: 0.9em;
	padding:2px;
	width:135px;
}*/

.rechercher .thesaurus {
	background-image:url(thesaurus.gif);
	background-color: transparent;
	background-repeat: no-repeat;
	height: 11px;
	width: 83px;
	padding: 0px;
	margin: 4px 0px 0px 0px;
	display: block;
	float: left;
	clear: left;
}
.rechercher .thesaurus span {
	display: none;
}

/* MENU */
#menu * {
	z-index:1000;
}
ul#menu {
	list-style:none;
	position:absolute;
	top:76px;
	left:26px;
	/*width:945px;*/
	height:83px;
}
ul#menu span {
	visibility:hidden;
}
#menu li {
	list-style: none;
	float:left;
	width:105px;
}
#menu li li {
	position:relative;
	list-style:none;
	float:left;
}/*
#menu li:hover > ul {
	display:block;
}*/
#menu a {
	color:white;
	/*font-size:10px;*/
	font-size: 0.9em;
	text-decoration: none;
	display: block;
}
#menu ul {
	width:120px;
	display:none;
	position:absolute;
	margin-left:-6px;
}
#menu ul a {
	font-weight:normal;
	background-color:#114092;
	width:105px;
	padding:2px 5px 2px 10px;
	display:block;
}
#menu ul ul {
	top:-10px;
	left:135px;
	margin-left:0px;
}
#menu ul ul.style08, #menu ul ul.style07, #menu ul ul.style06 {
	top:-10px;
	left:-135px;
	margin-left:0px;
}
#menu ul ul a {
	width:120px;
	display:block;
}
#menu ul a {
	font-weight:normal;
	width:120px;
	background-image:url(puce_menu.gif);
	background-repeat:no-repeat;
	background-position:top left;
	display:block;
}
#menu .style00 {
	background-image:url(style00_bas.gif);
	background-repeat:no-repeat;
	background-position:bottom left;
	padding-bottom:11px;
	width:135px;
}
#menu .style00 li.haut {
	background-image:url(style00_haut.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:11px;
	width:135px;
}
#menu .style01 {
	background-image:url(style01_bas.gif);
	background-repeat:no-repeat;
	background-position:bottom left;
	padding-bottom:11px;
	width:135px;
}
#menu .style01 li.haut {
	background-image:url(style01_haut.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:11px;
	width:135px;
}
#menu .style02 {
	background-image:url(style02_bas.gif);
	background-repeat:no-repeat;
	background-position:bottom left;
	padding-bottom:11px;
	width:135px;
}
#menu .style02 li.haut {
	background-image:url(style02_haut.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:11px;
	width:135px;
}
#menu .style03 {
	background-image:url(style03_bas.gif);
	background-repeat:no-repeat;
	background-position:bottom left;
	padding-bottom:11px;
	width:135px;
}
#menu .style03 li.haut {
	background-image:url(style03_haut.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:11px;
	width:135px;
}
#menu .style04 {
	background-image:url(style04_bas.gif);
	background-repeat:no-repeat;
	background-position:bottom left;
	padding-bottom:11px;
	width:135px;
}
#menu .style04 li.haut {
	background-image:url(style04_haut.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:11px;
	width:135px;
}
#menu .style05 {
	background-image:url(style05_bas.gif);
	background-repeat:no-repeat;
	background-position:bottom left;
	padding-bottom:11px;
	width:135px;
}
#menu .style05 li.haut {
	background-image:url(style05_haut.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:11px;
	width:135px;
}
#menu .style06 {
	background-image:url(style06_bas.gif);
	background-repeat:no-repeat;
	background-position:bottom left;
	padding-bottom:11px;
	width:135px;
}
#menu .style06 li.haut {
	background-image:url(style06_haut.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:11px;
	width:135px;
}
#menu .style07 {
	background-image:url(style07_bas.gif);
	background-repeat:no-repeat;
	background-position:bottom left;
	padding-bottom:11px;
	width:135px;
}
#menu .style07 li.haut {
	background-image:url(style07_haut.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:11px;
	width:135px;
}
#menu .style08 {
	background-image:url(style08_bas.gif);
	background-repeat:no-repeat;
	background-position:bottom left;
	padding-bottom:11px;
	width:135px;
}
#menu .style08 li.haut {
	background-image:url(style08_haut.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:11px;
	width:135px;
}

#menu .style00 .surlign {
	background-color:#b10429;
}
#menu .style01 .surlign {
	background-color:#abc91d;
}
#menu .style02 .surlign{
	background-color:#0081ce;
}
#menu .style03 .surlign {
	background-color:#5863a9;
}
#menu .style04 .surlign {
	background-color:#870e66;
}
#menu .style05 .surlign {
	background-color:#009896;
}
#menu .style06 .surlign {
	background-color:#e12d7c;
}
#menu .style07 .surlign {
	background-color:#fca00b;
}
#menu .style08 .surlign {
	background-color:#e50d35;
}


#menu .style00 a {
	background-color:#c2083c;
}
#menu .style01 a {
	background-color:#c1d82f;
}
#menu .style02 a {
	background-color:#009cdc;
}
#menu .style03 a {
	background-color:#7480be;
}
#menu .style04 a {
	background-color:#a21983;
}
#menu .style05 a {
	background-color:#00b0af;
}
#menu .style06 a {
	background-color:#ea4397;
}
#menu .style07 a {
	background-color:#fdb713;
}
#menu .style08 a {
	background-color:#ed174e;
}

#menu .style00 a:hover {
	background-color:#b10429;
}
#menu .style01 a:hover {
	background-color:#abc91d;
}
#menu .style02 a:hover{
	background-color:#0081ce;
}
#menu .style03 a:hover {
	background-color:#5863a9;
}
#menu .style04 a:hover {
	background-color:#870e66;
}
#menu .style05 a:hover {
	background-color:#009896;
}
#menu .style06 a:hover {
	background-color:#e12d7c;
}
#menu .style07 a:hover {
	background-color:#fca00b;
}
#menu .style08 a:hover {
	background-color:#e50d35;
}

/* GAUCHE */
.gauche {
	width:201px;
	float:left;
	background-image:url(fond_gauche.gif);
	background-repeat: no-repeat;
	background-position:top;
	padding-top:50px;
}
.gauche_bas {
	width:201px;
	background-image:url(fond_gauche_bas.gif);
	background-repeat: no-repeat;
	background-position:bottom;
	clear:both;
	height:11px;
	display:block;
}
.gauche .height {
	height:507px;
	float:right;
	width:1px;
	font-size:1px;
}
.gauche .archives {
	border: 0px;
	margin: 0px 0px 10px 14px;
}
/*.box_newsletter {
	float:left;
	width:149px;
	margin-bottom:10px;
	padding-left:14px;
}
.box_newsletter .newsletter_contenu {
	background-color:#c1ad73;
	float:left;
	width:129px;
	padding:0px 10px 0px 10px;
}
.box_newsletter .newsletter_contenu p {
	color:#FFFFFF;
	font-weight:bold;
	margin-bottom:2px;
}
.box_newsletter .newsletter_contenu a {
	background-image:url(../images/fr/ok2.gif);
	background-repeat:no-repeat;
	width:22px;
	height:14px;
	text-decoration:none;
	padding:0px 3px 0px 0px
}
.box_newsletter .newsletter_contenu span {
	visibility:hidden;
}
.box_newsletter .newsletter_contenu input {
	border:0;
	font-size:10px;
	padding:2px;
	width:100px;
}
.box_newsletter .newsletter_haut {
	height:12px;
	display:block;
	float:left;
	width:149px;
	background-repeat:no-repeat;
	background-position:bottom;
	background-image:url(../images/box01/haut.gif);
}
.box_newsletter .newsletter_bas {
	height:12px;
	display:block;
	float:left;
	width:149px;
	background-repeat:no-repeat;
	background-position:top;
	background-image:url(../images/box01/bas.gif);
}*/

/*.box02 {
	float:left;
	width:149px;
	margin-bottom:10px;
	padding-left:14px;
}
.box02 .box02_contenu {
	background-color:#ffffff;
	float:left;
	width:129px;
	padding:0px 10px 0px 10px;
}
.box02 .box02_contenu ul li a {
	color:#c1ad73;
	font-weight:bold;
	text-decoration:none;
}
.box02 .box02_contenu ul li a:hover {
	text-decoration:underline;
}
.box02 .box02_contenu ul li {
	list-style:none;
	background-image:url(../images/box02/puce.gif);
	padding-left:10px;
	background-position: top left;
	background-repeat:no-repeat;
}
.box02 .box02_haut {
	height:12px;
	display:block;
	float:left;
	width:149px;
	background-image:url(../images/box02/haut.gif);
	background-repeat:no-repeat;
	background-position:bottom;
}
.box02 .box02_bas {
	height:12px;
	display:block;
	float:left;
	width:149px;
	background-image:url(../images/box02/bas.gif);
	background-repeat:no-repeat;
	background-position:top;
}*/


/* DROITE */
.droite {
	width:210px;
	/*padding-left: 7px;*/
	/*float:left;*/
	float: right;
	/*display:none;*/
				position: absolute;
				top: 213px;
				right: 0px;
}

/* NAVIGATION */
.nav {
	width:565px;
	float:left;
	padding:45px 10px 10px 10px;
	color:#b6a982;
	/*font-size:10px;*/
	font-size: 0.9em;
}
.nav a {
	color:#b6a982;
	text-decoration:none;
}
.nav a:hover {

	color:#b6a982;
	text-decoration:underline;
}

/* OPTIONS */
.options {
	height: 24px;
	width: 580px;
	float: left;
}
.options a {
	background-repeat: no-repeat;
	height: 19px;
	width: 19px;
	margin: 0px 0px 0px 10px;
	display: bloc;
	float: right;
}
.options a.print {
	background-image: url(picto_imprimer.gif);
}
.options a.pdf {
	background-image: url(picto_pdf.gif);
}
.options a.ami {
	background-image: url(picto_email.gif);
}
.options a.txt_moins {
	background-image: url(picto_txtmoins.gif);
}
.options a.txt_plus {
	background-image: url(picto_txtplus.gif);
}
.options a.blocnotes {
	background-image: url(picto_blocnotes.gif);
}
.options a span {
	display: none;
}

/* CONTENU */
.contenu {
	width:575px;
	float:left;
	padding:0px 5px 5px 5px;
	position:relative;
}
.contenu ul li  {
	list-style:none;
}

/* A LA UNE */
.a_la_une h2 {
	/*font-size:18px;*/
	font-size: 1.3em;
	font-weight:bold;
	font-style: italic;
	color:#c1ad73;
	margin-bottom:14px;
}
.a_la_une {
	margin-bottom:20px;
}
.a_la_une h3 {
	/*font-size:11px;*/
	font-size: 1.2em;
	width:auto;
}
.a_la_une h3 a {
	/*color:#4f3c15;*/
	color:#000000;
	/*font-size:13px;*/
	font-size: 1.2em;
	font-weight:bold;
	text-decoration:none;
}
.a_la_une h3 a:hover {
	color:#850f29;
}
.a_la_une p {
	margin-bottom: 5px;
}
.a_la_une p span {
	font-weight:bold;
}
.a_la_une img {
	float:right;
	margin:3px 0px 10px 10px;
}
.a_la_une .rss img {
	float:left;
	margin:0px 5px 0px 0px;
}
.a_la_une a {
	color:#000000;
	text-decoration:none;
}
.a_la_une a:hover {
	color:#850f29;
	text-decoration:none;
}
/* ACTUALITES */
.actualites h2 {
	/*font-size:15px;*/
	font-size: 1.3em;
	font-weight:bold;
	font-style: italic;
	color:#c1ad73;
	margin-bottom:10px;
	padding-bottom:10px;
	background-image: url(pointilles.gif);
	background-repeat: repeat-x;
	background-position: bottom left;
}
.actualites h3 {
	/*font-size:11px;*/
	font-size: 1em;
}
.actualites h3 a {
	/*color:#4f3c15;*/
	/*color:#fa9900;*/
	color:#000000;
	/*font-size:13px;*/
	font-size: 1.2em;
	font-weight:bold;
	text-decoration:none;
}
.actualites .suite {
	margin-top:14px;
	text-align:right;
}
.actualites .suite a {
	color:#850f29;
	font-weight:normal;
	text-decoration:underline;
}
.actualites .suite a:hover {
	text-decoration:none;
}
.actualites h3 a:hover {
	color:#850f29;
}
.actualites .bouton {
	float: right;
}
.actualites .rss img {
	float:left;
	margin:0px 5px 0px 0px;
}
.actualites .bouton2 {
	float: left;
}
.actualites p span {
	font-weight:bold;
}
.actualites p  {
	text-align:justify;
	padding:0px 0px 5px 0px;
}
.actualites .actu  {
	padding: 0px 0px 10px 0px;
	margin: 10px 0px 10px 0px;
	background-image: url(pointilles.gif);
	background-repeat: repeat-x;
	background-position: bottom left;
}
.actualites img {
	float:left;
	margin:3px 10px 5px 0px;
}
.actualites a {
	color:#000000;
	text-decoration:none;
}
.actualites a:hover {
	color:#850f29;
	text-decoration:none;
}

/* ACTUALITES DETAIL */
.actualites_detail ul li {
	list-style: disc;
}

.actualites_detail {
	float:left;
	width:575px;
	background-image:url(fond_actu.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:10px;
}
.actualites_detail .fond {
	float:left;
	width:565px;
	padding:5px;
}
.actualites_detail .date {
	color:#70706f;
	/*font-size:10px;*/
	font-size: 0.9em;
}
.actualites_detail h2 {
	background-image:url(fond_h2a.gif);
	background-repeat:no-repeat;
	background-position:top right;
	/*font-size:18px;*/
	font-size: 1.6em;
	font-weight:bold;
	color:#c1ad73;
	margin-bottom:5px;
	padding-left:30px;
	height:23px;
}
.actualites_detail h3 {
	float:left;
	background-image:url(fond_h3.gif);
	background-repeat:no-repeat;
	background-position:bottom right;
	color:#850f29;
	/*font-size:13px;*/
	font-size: 1.2em;
	padding-bottom:5px;
	margin-bottom:5px;
}
.actualites_detail p span {
	font-weight:bold;
}
.actualites_detail p  {
	text-align:justify;
	padding:0px 0px 3px 0px;
}
.actualites_detail .actualites_detail_left  {
	float:left;
	/*width:315px;*/
	width:565px;
	/*padding-right:10px;*/
}
.actualites_detail .actualites_detail_left h3 {
	width:320px;
}
.actualites_detail .actualites_detail_right {
	float:right;
	/*float:left;*/
	width:240px;
	margin-left:5px;
	margin-bottom:5px;
}
.actualites_detail .actualites_detail_right .visuel img {
	float:right;
	clear:both;
}
.actualites_detail .detail  {
	clear:left;
}
.actualites_detail .actualites_detail_right .all_actu {
	width:240px;
	float:left;
	clear:right;
	background-color:#f5f2e9;
	margin-top:10px;
}
.actualites_detail .actualites_detail_right .all_actu_bas {
	background-image:url(bas_all_actu.gif);
	background-repeat:no-repeat;
	background-position:bottom left;
	width:240px;
	height:12px;
}
.actualites_detail .actualites_detail_right .all_actu_haut {
	background-image:url(haut_all_actu.gif);
	background-repeat:no-repeat;
	background-position:top right;
	height:20px;
	line-height:20px;
	margin:1px 1px 1px 1px;
	padding:0px 15px 0px 10px;
	font-weight:bold;
	color:#4f3c15;
	float:left;
}
.actualites_detail .actualites_detail_right .all_actu ul {
	clear:left;
	margin:10px 10px 0px 10px;
}
.actualites_detail .actualites_detail_right .all_actu ul li {
	background-image:url(puce_all_actu.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:10px;
	list-style: none;
}
.actualites_detail .actualites_detail_right .all_actu ul li a {
	text-decoration:none;
	color:#97844e;
}
.actualites_detail .actualites_detail_right .all_actu ul li a:hover {
	text-decoration:underline;
}
.actualites_detail .actualites_detail_right .all_actu a {
	text-decoration:none;
	color:#850f29;
}
.actualites_detail .actualites_detail_right .all_actu a:hover {
	text-decoration:underline;
}
p.zoom {
	text-align:left;
	padding-left:10px;
	position:absolute;
	width:60px;
	height:21px;
	line-height:17px;
	background-image:url(zoom.gif);
	background-repeat:no-repeat;
	background-position:top left;
	top:40px;
	right:20px;
}

p.zoom a {
	/*font-size:9px;*/
	font-size: 0.8em;
	text-decoration:none;
	color:#746333;
	font-weight:bold;
}
p.zoom a:hover {
	color:#000000;
}
#zoom_photo {
	position:absolute;
	top:57px;
	right:10px;
	/*background-color:#00FF00;*/
}

/* ACTUALITES INDEX */
.actualites_index .fond {
	float:left;
	width:565px;
	padding:5px;
}
.actualites_index {
	padding-top:10px;
}
.actualites_index h2 {
	background-image:url(fond_h2.gif);
	background-repeat:no-repeat;
	background-position:top right;
	/*font-size:18px;*/
	font-size: 1.6em;
	font-weight:bold;
	color:#c1ad73;
	margin-bottom:5px;
	padding-left:30px;
	height:23px;
}
.actualites_index ul {
	float:left;
	width:565px;
	margin-top:5px;
}
.actualites_index ul li {
	float:left;
	width:565px;
	background-image:url(fond_actu_index.gif);
	background-repeat:repeat-y;
	margin-bottom:10px;
}
.actualites_index ul li p {
	text-align:justify;
	margin-top:7px;
	clear:both;
}
.actualites_index h3 {
	float:left;
	background-image:url(fond_h3.gif);
	background-repeat:no-repeat;
	background-position:bottom right;
	/*font-size:13px;*/
	font-size: 1.2em;
	padding-bottom:5px;
	margin-bottom:3px;
}
.actualites_index h3 a {
	color:#4f3c15;
	text-decoration:none;
}
.actualites_index h3 a:hover {
	color:#850f29;
}
.actualites_index .date {
	color:#70706f;
	/*font-size:10px;*/
	font-size: 0.9em;
}
.actualites_index .clear {
	background-color:#FFFFFF;
}
.actualites_index .visuel {
	float:left;
	width:140px;
	display:block;
}
.actualites_index .info {
	float:left;
	width:417px;
}
p.bouton2 {
	float:right;
	margin:0px 0px 2px 0px;
}
p.bouton2 a {
	font-weight:normal;
	text-decoration:none;
	padding-left:10px;
	color:#c5093d;
}
p.bouton2 a:hover {
	text-decoration:underline;
}

/* BOUTON */
p.bouton {
	text-align:center;
	margin:5px 0px 5px 0px;
}
p.bouton a {
	font-weight:normal;
	text-decoration:none;
	background-image:url(bouton_left.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:10px;
	color:#FFFFFF;
}
p.bouton a span {
	font-weight:normal;
	text-decoration:none;
	background-image:url(bouton_right.gif);
	background-repeat:no-repeat;
	background-position:top right;
	padding-right:10px;
}
p.bouton a:hover {
	color:#ac6373;
}

p.bouton_plus a 
{
	font-size:0.9em;
	font-weight:normal;
	text-decoration:none;
	color:#850f29;
}
p.bouton_plus a:hover {
	text-decoration:underline;
}

p.bouton3 {
	float:right;
	text-align:center;
	margin:5px 0px 5px 0px;
}
p.bouton3 a {
	font-weight:normal;
	text-decoration:none;
	background-image:url(bouton_left.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:10px;
	color:#FFFFFF;
}
p.bouton3 a span {
	font-weight:normal;
	text-decoration:none;
	background-image:url(bouton_right.gif);
	background-repeat:no-repeat;
	background-position:top right;
	padding-right:10px;
}
p.bouton3 a:hover {
	color:#ac6373;
}
/* PAGINATION */
.pagination {
	clear:both;
	color:#FFFFFF;
	text-align:center;
	font-weight:bold;
}
.pagination .left {
	background-image:url(bouton_left.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:10px;
}
.pagination .right {
	background-image:url(bouton_right.gif);
	background-repeat:no-repeat;
	background-position:top right;
	padding-right:10px;
}
.pagination a {
	color:#FFFFFF;
	font-weight:normal;
	text-decoration:none;
}
.pagination a:hover {
	color:#ac6373;
}


/* ERREUR 404 */
.erreur {
	float:left;
	width:575px;
	background-image:url(fond_actu.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:10px;
}
.erreur .fond {
	float:left;
	width:565px;
	padding:5px;
}
.erreur h2 {
	background-image:url(fond_h2a.gif);
	background-repeat:no-repeat;
	background-position:top right;
	/*font-size:18px;*/
	font-size: 1.6em;
	font-weight:bold;
	color:#c1ad73;
	margin-bottom:5px;
	padding-left:30px;
	height:23px;
}
.erreur p span {
	font-weight:bold;
}


/* PLAN DU SITE */
.plan_site {
	float:left;
	width:575px;
	background-image:url(fond_actu.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:10px;
}
.plan_site .fond {
	float:left;
	width:565px;
	padding:5px;
}
.plan_site h2 {
	background-image:url(fond_h2a.gif);
	background-repeat:no-repeat;
	background-position:top right;
	/*font-size:18px;*/
	font-size: 1.6em;
	font-weight:bold;
	color:#c1ad73;
	margin-bottom:5px;
	padding-left:30px;
	height:23px;
}
.plan_site ul {
	margin: 3px 27px 3px 27px;
	color:#c1ad73;
}
.plan_site ul ul {
	margin: 5px 0px 5px 27px;
}
.plan_site li a {
	text-decoration:none;
}
.plan_site li a:hover {
	text-decoration:underline;
}
.plan_site li.style a {
	color:#998959;
}
.plan_site li.style00 a {
	color:#a30834;
}
.plan_site li.style01 a {
	color:#99ab24;
}
.plan_site li.style02 a {
	color:#0084b9;
}
.plan_site li.style03 a {
	color:#626da5;
}
.plan_site li.style04 a {
	color:#85146c;
}
.plan_site li.style05 a {
	color:#009b9a;
}
.plan_site li.style06 a {
	color:#cb3a83;
}
.plan_site li.style07 a {
	color:#cd950e;
}
.plan_site li.style08 a {
	color:#c71544;
}
.plan_site li span {
	/*font-size:15px;*/
	font-size: 1.3em;
	font-weight:bold;
}
.plan_site li.style {
	border-bottom:#c1ad73 dashed 1px;
}
.plan_site li.style00 {
	border-bottom:#c1ad73 dashed 1px;
}
.plan_site li.style01 {
	border-bottom:#c1ad73 dashed 1px;
}
.plan_site li.style02 {
	border-bottom:#c1ad73 dashed 1px;
}
.plan_site li.style03 {
	border-bottom:#c1ad73 dashed 1px;
}
.plan_site li.style04 {
	border-bottom:#c1ad73 dashed 1px;
}
.plan_site li.style05 {
	border-bottom:#c1ad73 dashed 1px;
}
.plan_site li.style06 {
	border-bottom:#c1ad73 dashed 1px;
}
.plan_site li.style07 {
	border-bottom:#c1ad73 dashed 1px;
}
.plan_site li li {
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:10px;
}
.plan_site li.style li {
	background-image:url(puce.gif);
}
.plan_site li.style00 li {
	background-image:url(puce00.gif);
}
.plan_site li.style01 li {
	background-image:url(puce01.gif);
}
.plan_site li.style02 li {
	background-image:url(puce02.gif);
}
.plan_site li.style03 li {
	background-image:url(puce03.gif);
}
.plan_site li.style04 li {
	background-image:url(puce04.gif);
}
.plan_site li.style05 li {
	background-image:url(puce05.gif);
}
.plan_site li.style06 li {
	background-image:url(puce06.gif);
}
.plan_site li.style07 li {
	background-image:url(puce07.gif);
}
.plan_site li.style08 li {
	background-image:url(puce08.gif);
}


/* CONTACTEZ NOUS */
.contact_nous {
	float:left;
	width:575px;
	background-image:url(fond_actu.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:10px;
}
.contact_nous .fond {
	float:left;
	width:565px;
	padding:5px;
}
.contact_nous h2 {
	background-image:url(fond_h2a.gif);
	background-repeat:no-repeat;
	background-position:top right;
	/*font-size:18px;*/
	font-size: 1.6em;
	font-weight:bold;
	color:#c1ad73;
	margin-bottom:5px;
	padding-left:30px;
	height:23px;
}
.contact_nous p {
	margin:5px 0px 5px 0px;
}
.contact_nous p.titre {
	color:#850f29;
	font-weight:bold;
	/*font-size:12px;*/
	font-size: 1.1em;
}
.contact_nous a {
	color:#ad9960;
	text-decoration:underline;
}
.contact_nous a:hover {
	text-decoration:none;
}


/* RECHERCHE PAR MOTS CLES */
.recherche_mots {
	float:left;
	width:575px;
	background-image:url(fond_actu.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:10px;
}
.recherche_mots .fond {
	float:left;
	width:565px;
	padding:5px;
}
.recherche_mots h2 {
	background-image:url(fond_h2a.gif);
	background-repeat:no-repeat;
	background-position:top right;
	/*font-size:18px;*/
	font-size: 1.6em;
	font-weight:bold;
	color:#c1ad73;
	margin-bottom:5px;
	padding-left:30px;
	height:23px;
}
.recherche_mots .resultats {
	text-align:center;
	margin:10px 0px 10px 0px;
}
.recherche_mots .resultats span {
	color:#850f29;
	font-weight:bold;
}
.recherche_mots ul {
	margin-bottom:10px;
}
.recherche_mots ul li {
	margin:3px 17px 10px 17px;
	background-image: url(puce.gif.1);
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:10px;
}
.recherche_mots ul li a {
	color:#c1ad73;
	text-decoration:none;
}
.recherche_mots ul li a:hover {
	color:#850f29;
}
.recherche_mots p {
	text-align:justify;
}
.recherche_mots p span {
	font-weight:bold;
}

/* MENU BAS */
.menu_bas {
	text-align:center;
}
.menu_bas a {
	text-decoration:none;
	color:#c1ad73;
}
.menu_bas a:hover {
	text-decoration:underline;
}

/* MENTIONS LEGALES */
.mentions_legales {
	float:left;
	width:575px;
	background-image:url(fond_actu.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:10px;
}
.mentions_legales .fond {
	float:left;
	width:565px;
	padding:5px;
}
.mentions_legales h2 {
	background-image:url(fond_h2a.gif);
	background-repeat:no-repeat;
	background-position:top right;
	/*font-size:18px;*/
	font-size: 1.6em;
	font-weight:bold;
	color:#c1ad73;
	margin-bottom:5px;
	padding-left:30px;
	height:23px;
}
.mentions_legales p {
	margin-bottom:20px;
}
.mentions_legales a {
	text-decoration:none;
	color:#c1ad73;
}
.mentions_legales a:hover {
	color:#850f29;
}


/* PAGE NEWSLETTER */
.page_newsletter {
	float:left;
	width:575px;
	background-image:url(fond_actu.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:10px;
}
.page_newsletter .fond {
	float:left;
	width:565px;
	padding:5px;
}
.page_newsletter h2 {
	background-image:url(fond_h2a.gif);
	background-repeat:no-repeat;
	background-position:top right;
	/*font-size:18px;*/
	font-size: 1.6em;
	font-weight:bold;
	color:#c1ad73;
	margin-bottom:5px;
	padding-left:30px;
	height:23px;
}
.page_newsletter ul {
	margin-top:10px;
	margin-bottom:10px;
}
.page_newsletter ul li {
	margin-left:70px;
	margin-right:30px;
	list-style:disc;
}
.page_newsletter a {
	text-decoration:none;
	color:#c1ad73;
}
.page_newsletter a:hover {
	color:#850f29;
}


/* BOX FORMULAIRE */
.box_form {
	float:left;
	width:500px;
	margin-top:10px;
	margin-bottom:10px;
	padding-left: 30px;
	clear:both;
}
.box_form .box_form_contenu {
	float:left;
	background-color:#f4f1e7;
	width:480px;
	padding:0px 10px 0px 10px;
}
.box_form .box_form_haut {
	height:12px;
	display:block;
	float:left;
	width:500px;
	background-image:url(haut.gif);
	background-repeat:no-repeat;
	background-position:bottom;
}
.box_form .box_form_bas {
	height:41px;
	display:block;
	float:left;
	width:500px;
	background-image:url(bas.gif);
	background-repeat:no-repeat;
	background-position:top;
}
.box_form .box_form_contenu label {
	display:block;
	float:left;
	clear:left;
	width:135px;
	text-align:right;
	margin:2px;
}
.box_form .box_form_contenu input {
	border: #d9d4c1 solid 1px;
	/*font-size:10px;*/
	font-size: 0.9em;
	padding:2px;
	width:250px;
	float:left;
	margin:2px;
}
.box_form .box_form_contenu textarea {
	border: #d9d4c1 solid 1px;
	/*font-size:10px;*/
	font-family: Verdana;
	font-size: 1.0em;
	padding:2px;
	height: 100px;
	width:250px;
	float:left;
	margin:2px;
}
.box_form .box_form_contenu .champ01 {
	height:40px;
}
.box_form .box_form_contenu p.bouton a {
	margin-left: 5px;
	margin-right: 5px;
}
.box_form .box_form_contenu .checkbox {
	padding-left: 135px;
}
.box_form .box_form_contenu .checkbox label {
	text-align: left;
	width: auto;
	clear: none;
}
.box_form .box_form_contenu .checkbox input {
	text-align: right;
	border: none;
	height: auto;
	width: auto;
	clear:left;
}




/* FAQ */
.faq {
	float:left;
	width:575px;
	background-image:url(fond_actu.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:10px;
}
.faq .fond {
	float:left;
	width:565px;
	padding:5px;
}
.faq h2 {
	background-image:url(fond_h2a.gif);
	background-repeat:no-repeat;
	background-position:top right;
	/*font-size:18px;*/
	font-size: 1.6em;
	font-weight:bold;
	color:#c1ad73;
	margin-bottom:5px;
	padding-left:30px;
	height:23px;
}
.faq p {
	margin:5px 0px 5px 0px;
}
.faq p.question {
	color:#850f29;
	font-weight:bold;
	/*font-size:12px;*/
	font-size: 1.1em;
}
.faq p.faq_titre {
	font-weight:bold;
	/*font-size:12px;*/
	font-size: 1.1em;
	text-align:center;
	margin-bottom:20px;
}
.faq p.bt_reponse a {
	color:#ad9960;
	text-decoration:underline;
}
.faq p.bt_reponse a:hover {
	text-decoration:none;
}

.faq p.reponse {
	margin-left: 30px;
	margin-right:30px;
	margin-bottom:20px;
	text-align:justify;
}
.faq a {
	color:#ad9960;
	text-decoration:underline;
}
.faq ul li {
	margin-bottom:10px;
	list-style:none;
}
.faq ul li a {
	color:#850f29;
	font-weight:bold;
	/*font-size:12px;*/
	font-size: 1.1em;
	background-image:url(puce_sommaire.gif);
	background-repeat:no-repeat;
	padding-left:15px;
}

/* chat */
.chat {
	float:left;
	width:575px;
	background-image:url(fond_actu.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:10px;
}
.chat .fond {
	float:left;
	width:565px;
	padding:5px;
}
.chat p.titre {
	color:#850f29;
	font-weight:bold;
	/*font-size:12px;*/
	font-size: 1.1em;
	margin-bottom: 20px;
}

.chat h2 {
	background-image:url(fond_h2a.gif);
	background-repeat:no-repeat;
	background-position:top right;
	/*font-size:18px;*/
	font-size: 1.6em;
	font-weight:bold;
	color:#c1ad73;
	margin-bottom:5px;
	padding-left:30px;
	height:23px;
}
.chat select {
	background-color:#ffffff;
	border:#e1d1a4 solid 1px;
	/*font-size:11px;*/
	font-size: 1em;
	padding:2px 3px 2px 3px;
	margin-left:5px;
}
.chat p.liens_themes {
	text-align:right;
	margin-right:10px;
	margin-bottom:20px;
}
.chat ul {
	float:left;
	width:565px;
	margin-top:5px;
}
.chat ul li {
	float:left;
	width:565px;
	margin-bottom:10px;
}
.chat ul li p {
	text-align:justify;
	margin-top:7px;
	clear:both;
}
.chat h3 {
	float:left;
	background-image:url(fond_h3.gif);
	background-repeat:no-repeat;
	background-position:bottom right;
	/*font-size:13px;*/
	font-size: 1.2em;
	padding-bottom:5px;
	margin-bottom:3px;
}
.chat h3 a {
	color:#4f3c15;
	text-decoration:none;
}
.chat h3 a:hover {
	color:#850f29;
}
.chat .clear {
	background-color:#FFFFFF;
}
.chat .visuel {
	float:left;
	width:130px;
	display:block;
}
.chat .info {
	float:right;
	width:417px;
}




/* LIENS UTILES */
.liens {
	float:left;
	width:575px;
	background-image:url(fond_actu.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:10px;
}
.liens .fond {
	float:left;
	width:565px;
	padding:5px;
}
.liens h2 {
	background-image:url(fond_h2a.gif);
	background-repeat:no-repeat;
	background-position:top right;
	/*font-size:18px;*/
	font-size: 1.6em;
	font-weight:bold;
	color:#c1ad73;
	margin-bottom:5px;
	padding-left:30px;
	height:23px;
}
.liens select {
	background-color:#ffffff;
	border:#e1d1a4 solid 1px;
	/*font-size:11px;*/
	font-size: 1em;
	padding:2px 3px 2px 3px;
	margin-left:5px;
}
.liens p.liens_themes {
	text-align:right;
	margin-right:10px;
	margin-bottom:20px;
}
.liens ul {
	float:left;
	width:565px;
	margin-top:5px;
}
.liens ul li {
	float:left;
	width:565px;
	margin-bottom:10px;
}
.liens ul li p {
	text-align:justify;
	margin-top:7px;
	clear:both;
}
.liens h3 {
	float:left;
	background-image:url(fond_h3.gif);
	background-repeat:no-repeat;
	background-position:bottom right;
	/*font-size:13px;*/
	font-size: 1.2em;
	padding-bottom:5px;
	margin-bottom:3px;
}
.liens h3 a {
	color:#4f3c15;
	text-decoration:none;
}
.liens h3 a:hover {
	color:#850f29;
}
.liens .clear {
	background-color:#FFFFFF;
}
.liens .visuel {
	float:right;
	width:130px;
	display:block;
}
.liens .info {
	float:left;
	width:417px;
}




/* QUIZ */

.quiz {
	background-image: url(boite.gif);
	width: 560px;
	margin: 0px 0px 0px 10px;
	position: relative;
}
.quiz .clear {
	background-color: #ffffff;
}
.quiz .etape {
	color: #95865c;
	/*font-size: 12px;*/
	font-size: 1.1em;
	font-weight: bold;
	display: block;
	position: absolute;
	top: 15px;
	right: 15px;
}
.quiz .quiz-h {
	background-image: url(boite-h.gif);
	background-repeat: no-repeat;
	width: 490px;
	padding: 0px 70px 0px 0px;
	margin: 0px;
}
.quiz .quiz-h .clear {
	background-color: transparent;
}
.quiz .quiz-b {
	background-image: url(boite-b.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
	width: 544px;
	padding: 5px 9px 34px 7px;
	float: left;
}
.quiz h3 {
	color: #ffffff;
	/*font-size: 16px;*/
	font-size: 1.5em;
	background-color: #c4083d;
	background-image: url(titre-h.gif);
	background-repeat: no-repeat;
	background-position: top right;
	margin: 0px;
	float: left;
}
.quiz h3 b {
	background-image: url(titre-b.gif);
	background-repeat: no-repeat;
	background-position: bottom right;
	padding: 0px 17px 0px 0px;
	display: block;
}
.quiz h3 span {
	background-image: url(titre.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
	border-top: 1px solid #c1ad73;
	padding: 6px 0px 8px 15px;
	display: block;
}
.quiz .intro {
	color: #484335;
	font-weight: bold;
	font-style: italic;
	margin: 0px 0px 20px 0px;
}

.quiz .question, .quiz .resultat {
	background-color: #ffffff;
	background-image: url(question-h.gif);
	background-repeat: no-repeat;
	background-position: top right;
	width: 544px;
	float: left;
	clear: left;
}
.quiz .resultat {
	margin: 20px 0px 0px 0px;
	float: none;
}
.quiz .question p, .quiz .resultat p {
	font-weight: bold;
	background-image: url(question-b.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
	padding: 11px 10px 11px 4px;
	margin: 0px;
}
.quiz .question span, .quiz .resultat span {
	color: #786837;
	/*font-size: 14px;*/
	font-size: 1.25em;
	/*font-weight: normal;*/
	/*font-style: italic;*/
	text-align: center;
	letter-spacing: -2px;
	background-image: url(numero.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 21px;
	width: 24px;
	padding: 3px 0px 0px 0px;
	margin: -5px 10px 0px 0px;
	display: block;
	float: left;
}
.quiz .resultat span.diagramme {
	background-image: none;
	height: auto;
	width: auto;
	padding: 0px;
	margin: 10px 0px 0px 0px;
	float: none;
}
.quiz .resultat span.textSimple {
	color: #000000;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	letter-spacing: 0px;
	background-image: none;
	height: auto;
	width: auto;
	padding: 0px 0px 0px 90px;
	margin: 10px 0px 0px 0px;
	float: none;
}
.quiz .reponse {
	background-color: #e2ddcd;
	background-image: url(reponse-h.gif);
	background-repeat: no-repeat;
	background-position: top right;
	width: 544px;
	float: left;
	clear: left;
}
.quiz .reponse p {
	background-image: url(reponse-b.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
	padding: 11px 20px 11px 16px;
	margin: 0px;
}
.quiz .reponse img {
	float: left;
	margin: 0px 10px 0px 0px;
}
.quiz .reponse .choix {
	float: left;
}
.quiz .reponse .clear {
	background-color: transparent;
	display: block;
}
.quiz .reponse input {
	margin: 0px 6px 0px 0px;
}
.quiz .reponse label {
	margin: 2px 0px 2px 0px;
	display: block;
}
.quiz .bouton {
	background-image: url(bouton-d.gif);
	background-repeat: no-repeat;
	background-position: top right;
	height: 38px;
	padding: 0px 20px 0px 0px;
	position: absolute;
	bottom: -15px;
	right: 37px;
}
.quiz .bouton a {
	color: #c5083d;
	/*font-size: 17px;*/
	font-size: 1.5em;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
	background-image: url(bouton-g.gif);
	background-repeat: no-repeat;
	height: 33px;
	padding: 5px 0px 0px 18px;
	display: block;
	float: right;
}
.quiz .bouton2 {
	background-image: url(bouton-d.gif);
	background-repeat: no-repeat;
	background-position: top right;
	height: 38px;
	padding: 0px 20px 0px 0px;
	position: absolute;
	bottom: -15px;
	left: 35px;
}
.quiz .bouton2 a {
	color: #c5083d;
	/*font-size: 17px;*/
	font-size: 1.5em;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
	background-image: url(bouton-g.gif);
	background-repeat: no-repeat;
	height: 33px;
	padding: 5px 0px 0px 18px;
	display: block;
	float: left;
}

.quiz .intro2 {
	color: #484335;
	font-weight: bold;
	font-style: italic;
	margin: 0px 0px 10px 0px;
}
.quiz .formulaire_titre {
	background-color: #ffffff;
	background-image: url(formulaire-b.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
	margin: 0px 0px 30px 0px;
}
.quiz .formulaire_titre .clear {
	background-color: #ece6d3;
}
.quiz .formulaire_titre h4 {
	color: #c1ad73;
	/*font-size: 13px;*/
	font-size: 1.2em;
	font-style: italic;
	padding: 7px 0px 7px 29px;
	margin: 0px;
	float: left;
}
.quiz .formulaire_titre a {
	color: #484335;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
	text-align: center;
	background-image: url(formulaire-h.gif);
	background-repeat: no-repeat;
	background-position: top right;
	width: 186px;
	padding: 4px 7px 4px 7px;
	display: block;
	float: right;
}
.quiz .formulaire {
	background-color: #e2ddcd;
	background-image: url(reponse-h.gif);
	background-repeat: no-repeat;
	background-position: top right;
}
.quiz .formulaire p {
	background-image: url(reponse-b.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
	padding: 11px 20px 11px 16px;
	margin: 0px;
}
.quiz .formulaire label {
	text-align: right;
	width: 195px;
	padding: 3px 5px 0px 0px;
	margin: 0px 0px 3px 0px;
	display: block;
	float: left;
	clear: left;
}
.quiz .formulaire label.ville {
	width: 50px;
	clear: none;
}
.quiz .formulaire input {
	/*font-size: 11px;*/
	font-size: 1em;
	border: 1px solid #7f9db9;
	width: 300px;
	float: left;
}
.quiz .formulaire input.cp {
	width: 50px;
}
.quiz .formulaire input.ville {
	width: 193px;
}
.quiz .formulaire textarea {
	/*font-size: 11px;*/
	font-size: 1em;
	border: 1px solid #7f9db9;
	height: 50px;
	width: 300px;
	margin: 0px 0px 4px 0px;
	float: left;
}
.quiz .formulaire .clear {
	background-color: transparent;
	display: block;
}

/* ACTUALITES DETAIL */
.agenda_detail {
	float:left;
	width:575px;
	background-image:url(fond_actu.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:10px;
}
.agenda_detail .fond {
	float:left;
	width:565px;
	padding:5px;
}
.agenda_detail .date {
	color:#70706f;
	/*font-size:10px;*/
	font-size: 0.9em;
}
.agenda_detail .commune {
	color:#70706f;
	/*font-size:10px;*/
	font-size: 0.9em;
	margin-bottom: 10px;
}
.agenda_detail .type {
	color:#70706f;
	/*font-size:10px;*/
	font-size: 0.9em;
	font-weight: bold;
	text-align: right;
	margin-bottom: 10px;
}
.agenda_detail h2 {
	background-image:url(fond_h2a.gif);
	background-repeat:no-repeat;
	background-position:top right;
	/*font-size:18px;*/
	font-size: 1.6em;
	font-weight:bold;
	color:#c1ad73;
	margin-bottom:5px;
	padding-left:30px;
	height:23px;
}
.agenda_detail h3 {
	float:left;
	background-image:url(fond_h3.gif);
	background-repeat:no-repeat;
	background-position:bottom right;
	color:#850f29;
	/*font-size:13px;*/
	font-size: 1.2em;
	padding-bottom:5px;
	margin-bottom:5px;
}
.agenda_detail p span {
	font-weight:bold;
}
.agenda_detail p  {
	text-align:justify;
	padding:0px 0px 3px 0px;
}
.agenda_detail p.bouton {
	text-align: center;
}
.agenda_detail .agenda_detail_left  {
	float:left;
	/*width:315px;*/
	width:565px;
	/*padding-right:10px;*/
}
.agenda_detail .agenda_detail_left h3 {
	width:320px;
}
.agenda_detail .agenda_detail_right {
	float:right;
	/*float:left;*/
	width:240px;
	margin-left:5px;
	margin-bottom:5px;
}
.agenda_detail .agenda_detail_right .visuel img {
	float:right;
	clear:both;
}
.agenda_detail .detail  {
	clear:left;
}

.agenda_detail .agenda_detail_right .all_actu {
	width:240px;
	float:left;
	clear:right;
	background-color:#f5f2e9;
	margin-top:10px;
}
.agenda_detail .agenda_detail_right .all_actu_bas {
	background-image:url(bas_all_actu.gif);
	background-repeat:no-repeat;
	background-position:bottom left;
	width:240px;
	height:12px;
}
.agenda_detail .agenda_detail_right .all_actu_haut {
	background-image:url(haut_all_actu.gif);
	background-repeat:no-repeat;
	background-position:top right;
	height:20px;
	line-height:20px;
	margin:1px 1px 1px 1px;
	padding:0px 15px 0px 10px;
	font-weight:bold;
	color:#4f3c15;
	float:left;
}
.agenda_detail .agenda_detail_right .all_actu ul {
	clear:left;
	margin:10px 10px 0px 10px;
}
.agenda_detail .agenda_detail_right .all_actu ul li {
	background-image:url(puce_all_actu.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:10px;
}
.agenda_detail .agenda_detail_right .all_actu ul li a {
	text-decoration:none;
	color:#97844e;
}
.agenda_detail .agenda_detail_right .all_actu ul li a:hover {
	text-decoration:underline;
}

.search {
	width:240px;
	float:left;
	clear:right;
	background-color:#f5f2e9;
	margin-top:10px;
}
.search_full, .search_full2 {
	width: 545px;
	float:left;
	clear:right;
	background-color:#f5f2e9;
	margin:10px 10px 5px 10px;
	display: none;
}
.search_bas {
	background-image:url(bas_all_actu.gif);
	background-repeat:no-repeat;
	background-position:bottom left;
	width:240px;
	height:12px;
	clear: left;
}
.search_full .search_bas, .search_full2 .search_bas {
	background-image:url(bas_all_actu_full.gif);
	width: 545px;
}
.search_haut {
	background-image:url(haut_all_actu.gif);
	background-repeat:no-repeat;
	background-position:top right;
	height:20px;
	line-height:20px;
	margin:1px 1px 10px 1px;
	padding:0px 15px 0px 10px;
	font-weight:bold;
	color:#4f3c15;
	float:left;
}
.search_droite {
	width: 270px;
	margin: 31px 10px 0px 10px;
	float: right;
}
.search label, .search_full label {
	width: 75px;
	padding: 3px 0px 0px 10px;
	float: left;
	clear: left;
}
.search_full2 label {
	width: 140px;
	padding: 3px 0px 0px 50px;
	display: block;
	float: left;
	clear: left;
}
.search label.radio, .search_full label.radio {
	width: 120px;
	padding: 0px;
	margin: 0px 0px 3px 0px;
	float: left;
	clear: none;
}
.search input, .search_full input {
	/*font-size:11px;*/
	font-size: 1em;
	width: 140px;
	margin: 2px 0px 2px 0px;
	float: left;
}
.search_full2 input {
	/*font-size:11px;*/
	font-size: 1em;
	width: 250px;
	padding: 1px 2px 1px 2px;
	margin: 2px 0px 2px 0px;
	float: left;
}
.search_full2 input.file {
	/*font-size:11px;*/
	font-size: 1em;
	width: auto;
	padding: 2px 3px 2px 3px;
	margin: 2px 0px 2px 0px;
	float: left;
}
.search input.radio, .search_full input.radio {
	/*font-size:11px;*/
	font-size: 1em;
	width: auto;
	margin: 2px 0px 2px 0px;
	float: left;
}
.search input.date, .search_full input.date {
	width: 70px;
}
.search img, .search_full img {
	border: none;
	margin: 5px 0px 0px 5px;
}
.search em, .search_full em {
	font-style: normal;
	width: 20px;
	margin: 4px 0px 0px 0px;
	float: left;
	clear: left;
}
.search img, .search_full img {
	border: none;
	margin: 5px 0px 0px 5px;
	float: left;
}
.search select, .search_full select {
	/*font-size:11px;*/
	font-size: 1em;
	margin: 2px 0px 2px 0px;
	float: left;
}
.agenda_detail .search p.bouton, .recherche_mots .search_full p.bouton {
	text-align: right;
	padding: 8px 10px 0px 0px;
	margin: 0px;
	clear: both;
}
.agenda_detail .search p.bouton a, .recherche_mots .search_full p.bouton a {
	margin-right: 0px;
	margin-left: 10px;
}

/* ACTUALITES LISTING */
.recherche_mots p.bouton {
	text-align: center;
}
.recherche_mots p.bouton a {
	margin-right: 5px;
	margin-left: 5px;
}
table.listing {
	/*border-top: 1px solid #c1ad72;
	border-left: 1px solid #c1ad72;*/
	width: 545px;
	margin: 15px 10px 10px 10px;
}
table.listing th {
	color: #850f29;
	background-color: #f6f3e9;
	border-bottom: 1px solid #c1ad72;
	padding: 2px 5px 3px 5px;
}
table.listing th a {
	color: #850f29;
}
table.listing th a.croissant {
	background-image: url(tri_croissant.gif);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 10px;
}

table.listing th a.ncnd {
	background-image: url(tri_ncnd.gif);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 10px;
}


table.listing th a.decroissant {
	background-image: url(tri_decroissant.gif);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 10px;
}
table.listing th a:hover {
	text-decoration: none;
}
table.listing td {
	text-align: center;
	background-color: #ffffff;
	border-bottom: 1px solid #c1ad72;
	padding: 7px 5px 8px 5px;
	cursor: pointer;
}
table.listing th.principale, table.listing td.principale {
	text-align: left;
	width: 100%;
}
table.listing td a {
	color: #000000;
}
table.listing td a:hover {
	text-decoration: none;
}
table.listing img {
	border: none;
	margin: -2px 0px -3px 0px;
}
table.listing tr:hover > td {
	background-color: #faf9f4;
}

/* ECARDS */
.ecard {
	float:left;
	width:575px;
	background-image:url(fond_actu.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:10px;
}
.ecard .fond {
	float:left;
	width:565px;
	padding:5px;
}
.ecard h2 {
	background-image:url(fond_h2a.gif);
	background-repeat:no-repeat;
	background-position:top right;
	/*font-size:18px;*/
	font-size: 1.6em;
	font-weight:bold;
	color:#c1ad73;
	margin-bottom:5px;
	padding-left:30px;
	height:23px;
}
.ecard p.titre {
	color:#850f29;
	font-weight:bold;
	/*font-size:12px;*/
	font-size: 1.1em;
	margin-bottom: 20px;
}

.ecard .zone_listing {
                padding: 0px 0px 0px 0px;
                width:570px;
}

.ecard .listing {
	text-align: center;
	width: 150px;
	padding: 20px;
	margin: 0px;
	float: left;
}
.ecard .listing p {
	clear: both;
}
.ecard .listing label {
	color:#850f29;
	font-weight: bold;
}
.ecard .listing input {
	margin: 2px 0px 0px 0px;
}
.ecard .box_form h4 {
	color:#850f29;
	font-weight:bold;
	/*font-size:12px;*/
	font-size: 1.1em;
	margin: 0px 0px 10px 0px;
	clear: left;
}
.ecard .box_form .clear {
	height: 20px;
}
.ecard .visu {
	background-image: url(ecard_h.gif);
	background-repeat: no-repeat;
	margin: 20px 0px 0px 20px;
}
.ecard .visu .visu_b {
	background-image: url(ecard_b.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
	width: 485px;
	padding: 20px;
}
.ecard .visu .visu_b img {
	margin: 0px 20px 0px 0px;
	float: left;
}
.ecard .visu .visu_b img.timbre {
	margin: 0px 17px 10px 15px;
	float: right;
}


/* envoyer_ami */
.envoyer_ami {
	float:left;
	width:575px;
	background-image:url(fond_actu.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:10px;
}
.envoyer_ami .fond {
	float:left;
	width:565px;
	padding:5px;
}
.envoyer_ami h2 {
	background-image:url(fond_h2a.gif);
	background-repeat:no-repeat;
	background-position:top right;
	/*font-size:18px;*/
	font-size: 1.6em;
	font-weight:bold;
	color:#c1ad73;
	margin-bottom:5px;
	padding-left:30px;
	height:23px;
}
.envoyer_ami p.titre {
	color:#850f29;
	font-weight:bold;
	/*font-size:12px;*/
	font-size: 1.1em;
	margin-bottom: 20px;
}
.envoyer_ami .zone_listing {
	padding: 0px 0px 0px 0px;
}
.envoyer_ami .listing {
	text-align: center;
	width: 150px;
	padding: 20px;
	margin: 0px;
	float: left;
}
.envoyer_ami .listing p {
	clear: both;
}
.envoyer_ami .listing label {
	color:#850f29;
	font-weight: bold;
}
.envoyer_ami .listing input {
	margin: 2px 0px 0px 0px;
}
.envoyer_ami .box_form h4 {
	color:#850f29;
	font-weight:bold;
	/*font-size:12px;*/
	font-size: 1.1em;
	margin: 0px 0px 10px 0px;
	clear: left;
}
.envoyer_ami .box_form .clear {
	height: 20px;
}
.envoyer_ami .visu {
	background-image: url(index.html.2);
	background-repeat: no-repeat;
	margin: 20px 0px 0px 20px;
}
.envoyer_ami .visu .visu_b {
	background-image: url(index.html.3);
	background-repeat: no-repeat;
	background-position: bottom left;
	width: 485px;
	padding: 20px;
}
.envoyer_ami .visu .visu_b img {
	margin: 0px 20px 0px 0px;
	float: left;
}
.envoyer_ami .visu .visu_b img.timbre {
	margin: 0px 17px 10px 15px;
	float: right;
}

/* MAGAZINES */
.magazine {
	background-image: url(fond_actu.gif);
	background-repeat: no-repeat;
	background-position: top left;
	width: 575px;
	padding-top: 10px;
	float: left;
}
.magazine .accroche {
	background-color:#e4dcc3;
	background-image:url(fond_accroche.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	padding:10px;
	margin:0px 10px 10px 10px;
	border:#d1c7aa solid 1px;
	text-align:justify;
}
.magazine .accrocheB {
	background-repeat:repeat-x;
	background-position:bottom;
	padding:10px;
	margin:0px 10px 10px 10px;
	border:#d1c7aa solid 1px;
	text-align:justify;
}

.magazine .accrocheB a {
	color:#850f29;
}
.magazine .accrocheB a:hover {
	text-decoration:none;
}
.magazine .accroche a {
	color:#850f29;
}
.magazine .accroche a:hover {
	text-decoration:none;
}
.magazine .fond {
	padding: 5px;
	width: 565px;
	float: left;
}
.magazine h2 {
	color: #c1ad73;
	/*font-size: 18px;*/
	font-size: 1.6em;
	font-weight: bold;
	background-image: url(fond_h2a.gif);
	background-repeat: no-repeat;
	background-position: top right;
	height: 23px;
	padding-left: 30px;
	margin-bottom: 5px;
}
.magazine .detail h3 {
	color: #000000;
	/*font-size: 11px;*/
	font-size: 1em;
	font-weight: bold;
	background-image:url(index.html.4);
	height: 17px;
	padding: 3px 0px 0px 15px;
}
.magazine .detail h3 a {
	color: #000000;
}
.magazine .detail h3 a:hover {
	text-decoration: none;
}
.magazine .detail h4 {
	color: #000000;
	/*font-size: 11px;*/
	font-size: 1em;
	font-weight: normal;
	background-image:url(index.html.5);
	height: 17px;
	padding: 3px 0px 0px 15px;
}
.magazine .detail h5 {
	color: #5b5135;
	/*font-size: 11px;*/
	font-size: 1em;
	margin: 25px 0px 0px 0px;
}
.magazine .detail p.auteur {
	color: #5b5135;
	/*font-size: 11px;*/
	font-size: 1em;
	background-image:url(index.html.6);
	height: 17px;
	padding: 13px 15px 0px 15px;
	clear: both;
}
.magazine .detail p.auteur span {
	float: right;
}
.magazine .detail p.reponse {
	color: #000000;
	/*font-size: 11px;*/
	font-size: 1em;
	text-align: justify;
	padding: 10px 10px 10px 10px;
	clear: both;
}
.magazine .detail p.liens {
	text-align: right;
	background-image: none;
	border-top: 1px solid #dbddcb;
	width: 545px;
	padding: 2px 0px 0px 0px;
	margin: 0px 10px 25px 10px;
	float: none;
	clear: both;
}
.magazine .detail p.liens a {
	color: #9b9780;
	margin: 0px 0px 0px 10px;
}
.magazine .detail p.liens a:hover {
	text-decoration: none;
}
.magazine p.pagination {
	height: 13px;
	padding: 0px 0px 0px 50px;
	margin: 10px 0px 15px 0px;
	float: left;
}
.magazine p.bouton {
	height: 13px;
	padding: 0px 50px 0px 0px;
	margin: 10px 0px 15px 0px;
	float: right;
}
/*.magazine a.bouton {
	color: #023649;
	font-size: 11px;
	font-size: 1em;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
	background-image:url(../images/magazine/bouton-g.gif);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 8px;
	margin: 10px 30px 0px 0px;
	float: right;
}
.magazine a.bouton span {
	background-image:url(../images/magazine/bouton-d.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 1px 7px 2px 0px;
	display: block;
}*/
.magazine .thematique {
	background-color: #ffffff;
	background-image: url(index.html.7);
	background-repeat: repeat-x;
	width: 565px;
	margin: 15px 0px 20px 0px;
	clear:both;
}
.magazine .thematique .thematique_droite {
	background-image: url(index.html.8);
	background-repeat: no-repeat;
	background-position: top right;
	border-left: 1px solid #ede7c7;
	width: 535px;
	padding: 10px 20px 0px 10px;
	float: left;
}
.magazine .thematique .thematique_bas {
	background-image: url(index.html.9);
	background-repeat: no-repeat;
	height: 10px;
	clear: left;
}
.magazine .thematique h3 {
	/*font-size: 13px;*/
	font-size: 1.2em;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
}
.magazine .thematique span.photo {
	text-align: center;
	width: 150px;
	display: block;
	float: left;
}
.magazine .thematique span.photo img {
	border: none;
	margin: 0px 10px 5px 0px;
}
.magazine .thematique p {
	text-align: justify;
}
.magazine .thematique a {
	color: #850f29;
}
.magazine .thematique a:hover {
	text-decoration: none;
}
.magazine table.listing {
	margin: 10px 5px 10px 5px;
	clear: both;
}
.magazine .box_form h4 {
	color:#850f29;
	font-weight:bold;
	/*font-size:12px;*/
	font-size: 1.1em;
	background-image: none;
	margin: 0px 0px 10px 0px;
	clear: left;
}



/* FORUM */
.forum {
	background-image: url(fond_actu.gif);
	background-repeat: no-repeat;
	background-position: top left;
	width: 575px;
	padding-top: 10px;
	float: left;
}
.forum .fond {
	padding: 5px;
	width: 565px;
	float: left;
}
.forum h2 {
	color: #c1ad73;
	/*font-size: 18px;*/
	font-size: 1.6em;
	font-weight: bold;
	background-image: url(fond_h2a.gif);
	background-repeat: no-repeat;
	background-position: top right;
	height: 23px;
	padding-left: 30px;
	margin-bottom: 5px;
}
.forum .detail h3 {
	color: #000000;
	/*font-size: 11px;*/
	font-size: 1em;
	font-weight: bold;
	background-image:url(titre_thematique.gif);
	height: 17px;
	padding: 3px 0px 0px 15px;
}
.forum .detail h3 a {
	color: #000000;
}
.forum .detail h3 a:hover {
	text-decoration: none;
}
.forum .detail h4 {
	color: #000000;
	/*font-size: 11px;*/
	font-size: 1em;
	font-weight: normal;
	background-image:url(titre_message.gif);
	height: 17px;
	padding: 3px 0px 0px 15px;
}
.forum .detail h5 {
	color: #5b5135;
	/*font-size: 11px;*/
	font-size: 1em;
	margin: 25px 0px 0px 0px;
}
.forum .detail p.auteur {
	color: #5b5135;
	/*font-size: 11px;*/
	font-size: 1em;
	background-image:url(fond_auteur.gif);
	height: 17px;
	padding: 13px 15px 0px 15px;
	clear: both;
}
.forum .detail p.auteur span {
	float: right;
}
.forum .detail p.reponse {
	color: #000000;
	/*font-size: 11px;*/
	font-size: 1em;
	text-align: justify;
	padding: 10px 10px 10px 10px;
	clear: both;
}
.forum .detail p.liens {
	text-align: right;
	background-image: none;
	border-top: 1px solid #dbddcb;
	width: 545px;
	padding: 2px 0px 0px 0px;
	margin: 0px 10px 25px 10px;
	float: none;
	clear: both;
}
.forum .detail p.liens a {
	color: #9b9780;
	margin: 0px 0px 0px 10px;
}
.forum .detail p.liens a:hover {
	text-decoration: none;
}
.forum p.pagination {
	height: 13px;
	padding: 0px 0px 0px 50px;
	margin: 10px 0px 15px 0px;
	float: left;
}
.forum p.bouton {
	height: 13px;
	padding: 0px 50px 0px 0px;
	margin: 10px 0px 15px 0px;
	float: right;
}
/*.forum a.bouton {
	color: #023649;
	font-size: 11px;
	font-size: 1em;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
	background-image:url(../images/forum/bouton-g.gif);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 8px;
	margin: 10px 30px 0px 0px;
	float: right;
}
.forum a.bouton span {
	background-image:url(../images/forum/bouton-d.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 1px 7px 2px 0px;
	display: block;
}*/
.forum .thematique {
	background-color: #ffffff;
	background-image: url(boite_thematique.gif);
	background-repeat: repeat-x;
	width: 565px;
	margin: 15px 0px 20px 0px;
	clear:both;
}
.forum .thematique .thematique_droite {
	background-image: url(boite_thematique_droite.gif);
	background-repeat: no-repeat;
	background-position: top right;
	border-left: 1px solid #ede7c7;
	width: 534px;
	padding: 10px 20px 0px 10px;
	float: left;
}
.forum .thematique .thematique_bas {
	background-image: url(boite_thematique_bas.gif);
	background-repeat: no-repeat;
	height: 10px;
	clear: left;
}
.forum .thematique h3 {
	/*font-size: 13px;*/
	font-size: 1.2em;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
}
.forum .thematique span.photo {
	text-align: center;
	width: 150px;
	display: block;
	float: left;
}
.forum .thematique span.photo img {
	border: none;
	margin: 0px 10px 5px 0px;
}
.forum .thematique p {
	text-align: justify;
}
.forum .thematique a {
	color: #850f29;
}
.forum .thematique a:hover {
	text-decoration: none;
}
.forum table.listing {
	margin: 10px 5px 10px 5px;
	clear: both;
}
.forum .box_form h4 {
	color:#850f29;
	font-weight:bold;
	/*font-size:12px;*/
	font-size: 1.1em;
	background-image: none;
	margin: 0px 0px 10px 0px;
	clear: left;
}



/* BLOGS */
.blog {
	background-image: url(fond_actu.gif);
	background-repeat: no-repeat;
	background-position: top left;
	width: 575px;
	padding-top: 10px;
	float: left;
}
.blog .fond {
	padding: 0px;
	width: 565px;
	float: left;
}
.blog h2 {
	color: #c1ad73;
	/*font-size: 18px;*/
	font-size: 1.6em;
	font-weight: bold;
	background-image: url(fond_h2a.gif);
	background-repeat: no-repeat;
	background-position: top right;
	height: 23px;
	padding-left: 30px;
	margin-bottom: 5px;
}
.blog .detail h3 {
	color: #000000;
	/*font-size: 11px;*/
	font-size: 1em;
	font-weight: bold;
	background-image:url(titre_thematique.gif);
	height: 17px;
	padding: 3px 0px 0px 15px;
}
.blog .detail h3 a {
	color: #000000;
}
.blog .detail h3 a:hover {
	text-decoration: none;
}
.blog .detail h4 {
	color: #000000;
	/*font-size: 11px;*/
	font-size: 1em;
	font-weight: normal;
	background-image:url(titre_message.gif);
	height: 17px;
	padding: 3px 0px 0px 15px;
}
.blog .detail h5 {
	color: #5b5135;
	/*font-size: 11px;*/
	font-size: 1em;
	margin: 25px 0px 0px 0px;
}
.blog .detail p.auteur {
	color: #5b5135;
	/*font-size: 11px;*/
	font-size: 1em;
	background-image:url(fond_auteur.gif);
	height: 17px;
	padding: 13px 15px 0px 15px;
	clear: both;
}
.blog .detail p.auteur span {
	float: right;
}
.blog .detail p.message, .blog .detail p.commentaire {
	color: #000000;
	/*font-size: 11px;*/
	font-size: 1em;
	text-align: justify;
	padding: 10px 10px 10px 10px;
	clear: both;
}
.blog .detail p.message img {
	margin: 0px 10px 5px 0px;
	float: left;
}
.blog .detail p.liens {
	text-align: right;
	background-image: none;
	border-top: 1px solid #dbddcb;
	width: 545px;
	padding: 2px 0px 0px 0px;
	margin: 0px 10px 25px 10px;
	float: none;
	clear: both;
}
.blog .detail p.liens a {
	color: #9b9780;
	margin: 0px 0px 0px 10px;
}
.blog .detail p.liens a:hover {
	text-decoration: none;
}
.blog .detail p.reference {
	color: #9b9780;
	text-align: right;
	border-top: 1px solid #dbddcb;
	width: 545px;
	padding: 2px 0px 0px 0px;
	margin: 0px 10px 25px 10px;
	clear: both;
}

.blog p.pagination {
	height: 13px;
	padding: 0px 0px 0px 50px;
	margin: 10px 0px 15px 0px;
	float: left;
}
.blog p.bouton {
	height: 13px;
	padding: 0px 50px 0px 0px;
	margin: 10px 0px 15px 0px;
	float: right;
}
.blog .presentation {
	background-color: #ffffff;
	background-image: url(boite_thematique.gif);
	background-repeat: repeat-x;
	width: 565px;
	margin: 15px 0px 20px 0px;
}
.blog .presentation .presentation_droite {
	background-image: url(boite_thematique_droite.gif);
	background-repeat: no-repeat;
	background-position: top right;
	border-left: 1px solid #ede7c7;
	width: 535px;
	padding: 10px 20px 0px 10px;
	float: left;
}
.blog .presentation .presentation_bas {
	background-image: url(boite_thematique_bas.gif);
	background-repeat: no-repeat;
	height: 10px;
	clear: left;
}
.blog .presentation h3 {
	/*font-size: 10px;*/
	font-size: 1em;
	font-weight: normal;
	margin: 0px 0px 5px 0px;
}
.blog .presentation span.photo {
	text-align: center;
	width: 150px;
	display: block;
	float: left;
}
.blog .presentation span.photo img {
	border: none;
	margin: 0px 10px 5px 0px;
}
.blog .presentation h3 em {
	font-weight: bold;
}
.blog .presentation p {
	text-align: justify;
}
.blog .presentation a {
	color: #850f29;
	/*font-size: 13px;*/
	font-size: 1.2em;
	font-weight: bold;
}
.blog .presentation a:hover {
	text-decoration: none;
}
.blog table.listing {
	margin: 10px 5px 10px 5px;
	clear: both;
}
.blog .box_form {
	margin-top: 25px;
}
.blog .box_form h4 {
	color:#850f29;
	font-weight:bold;
	/*font-size:12px;*/
	font-size: 1.1em;
	background-image: none;
	margin: 0px 0px 10px 0px;
	clear: left;
}




/* ESPACE DOCUMENTAIRE */
.documentaire {
	background-image: url(fond_actu.gif);
	background-repeat: no-repeat;
	background-position: top left;
	width: 575px;
	padding-top: 10px;
	float: left;
}
.documentaire .fond {
	padding: 5px;
	width: 565px;
	float: left;
}
.documentaire h2 {
	color: #c1ad73;
	/*font-size: 18px;*/
	font-size: 1.6em;
	font-weight: bold;
	background-image: url(fond_h2a.gif);
	background-repeat: no-repeat;
	background-position: top right;
	height: 23px;
	padding-left: 30px;
	margin-bottom: 5px;
}
.documentaire h3 {
	float:left;
	background-image:url(fond_h3.gif);
	background-repeat:no-repeat;
	background-position:bottom right;
	color:#850f29;
	/*font-size:13px;*/
	font-size: 1.2em;
	padding-bottom:5px;
	margin-bottom:5px;
}
.documentaire p.thematique {
	text-align: center;
	margin:10px 0px 10px 0px;
}
.documentaire p.thematique select {
	border:#e1d1a4 solid 1px;
	/*font-size:11px;*/
	font-size: 1em;
}
.documentaire p.bouton {
	text-align: center;
	margin-top: 10px;
}
.documentaire p.bouton a {
	margin-left: 5px;
	margin-right: 5px;
}
.documentaire p {
	text-align: justify;
	margin: 5px 0px 5px 0px;
	clear: both;
}
.documentaire li {
	background-image: url(puce_all_actu.gif);
	background-repeat: no-repeat;
	padding-left: 10px;
	margin: 0px 0px 2px 10px;
}
.documentaire li a {
	color: #850f29;
}
.documentaire li a:hover {
	text-decoration: none;
}

/* MES PAGES */
.mes_pages {
	background-image: url(fond_actu.gif);
	background-repeat: no-repeat;
	background-position: top left;
	width: 575px;
	padding-top: 10px;
	float: left;
}
.mes_pages .fond {
	padding: 5px;
	width: 565px;
	float: left;
}
.mes_pages h2 {
	color: #c1ad73;
	/*font-size: 18px;*/
	font-size: 1.6em;
	font-weight: bold;
	background-image: url(fond_h2a.gif);
	background-repeat: no-repeat;
	background-position: top right;
	height: 23px;
	padding-left: 30px;
	margin-bottom: 5px;
}
.mes_pages h3 {
	float:left;
	background-image:url(fond_h3.gif);
	background-repeat:no-repeat;
	background-position:bottom right;
	color:#850f29;
	/*font-size:13px;*/
	font-size: 1.2em;
	padding-bottom:5px;
	margin-bottom:5px;
}
.mes_pages p.thematique {
	text-align: center;
	margin:10px 0px 10px 0px;
}
.mes_pages p.thematique select {
	border:#e1d1a4 solid 1px;
	/*font-size:11px;*/
	font-size: 1em;
}
.mes_pages p.bouton {
	text-align: center;
	margin-top: 10px;
}
.mes_pages p.bouton a {
	margin-left: 5px;
	margin-right: 5px;
}
.mes_pages p {
	text-align: justify;
	margin: 5px 0px 5px 0px;
	clear: both;
}
.mes_pages li {
	background-image: url(puce_all_actu.gif);
	background-repeat: no-repeat;
	padding-left: 10px;
	margin: 0px 0px 2px 10px;
}
.mes_pages li a {
	color: #850f29;
}
.mes_pages li a:hover {
	text-decoration: none;
}
.mes_pages table.listing td {
	cursor: auto;
}
.mes_pages table.listing tr:hover > td {
	background-color: #ffffff;
}

/* MES DOCUMENTS */
.mes_documents {
	background-image: url(fond_actu.gif);
	background-repeat: no-repeat;
	background-position: top left;
	width: 575px;
	padding-top: 10px;
	float: left;
}
.mes_documents .fond {
	padding: 5px;
	width: 565px;
	float: left;
}
.mes_documents h2 {
	color: #c1ad73;
	/*font-size: 18px;*/
	font-size: 1.6em;
	font-weight: bold;
	background-image: url(fond_h2a.gif);
	background-repeat: no-repeat;
	background-position: top right;
	height: 23px;
	padding-left: 30px;
	margin-bottom: 5px;
}
.mes_documents h3 {
	float:left;
	background-image:url(fond_h3.gif);
	background-repeat:no-repeat;
	background-position:bottom right;
	color:#850f29;
	/*font-size:13px;*/
	font-size: 1.2em;
	padding-bottom:5px;
	margin-bottom:5px;
}
.mes_documents p.thematique {
	text-align: center;
	margin:10px 0px 10px 0px;
}
.mes_documents p.thematique select {
	border:#e1d1a4 solid 1px;
	/*font-size:11px;*/
	font-size: 1em;
}
.mes_documents p.bouton {
	text-align: center;
	margin-top: 10px;
}
.mes_documents p.bouton a {
	margin-left: 5px;
	margin-right: 5px;
}
.mes_documents p {
	text-align: justify;
	margin: 15px 0px 15px 10px;
	clear: both;
}
.mes_documents li {
	background-image: url(puce_all_actu.gif);
	background-repeat: no-repeat;
	padding-left: 10px;
	margin: 0px 0px 2px 10px;
}
.mes_documents li a {
	color: #850f29;
}
.mes_documents li a:hover {
	text-decoration: none;
}

.mes_documents iframe {
	height: 520px;
	width: 545px;
	margin: 0px 0px 0px 10px;
}
.gestionnaire_fichiers {
	background-image: url(bloc_iframe.gif);
	background-position: bottom left;
	height: 400px;
	padding: 0px;
	margin: 0px;
}
.gestionnaire_fichiers .entete {
	background-color: #f5f2e9;
	background-image: none;
	height: auto;
	padding: 5px;
	margin: 0px;
}
.gestionnaire_fichiers input {
	font-family: Verdana;
	font-size: 1em;
	width: 250px;
	padding: 2px;
	margin: 0px 0px 2px 0px;
	vertical-align: middle;
}
.gestionnaire_fichiers p.bouton {
	text-align: left;
	margin: 0px;
	display: inline;
}
.gestionnaire_fichiers p {
	margin: 10px 0px 0px 0px;
}
.gestionnaire_fichiers .erreur {
	color: red;
	font-style: italic;
	background-image: none;
	width: auto;
	padding: 0px;
	float: none;
}
.gestionnaire_fichiers ul {
	height: 310px;
	padding: 0px;
	margin: 15px 0px 0px 15px;
	overflow: auto;
}
.gestionnaire_fichiers li {
	font-size: 1.1em;
	border: 1px solid #ffffff;
	list-style: none;
	height: 85px;
	width: 228px;
	padding: 2px 5px 2px 5px;
	margin: 0px 15px 15px 0px;
	display: block;
	float: left;
	overflow: hidden;
}
.gestionnaire_fichiers li:hover {
	border: 1px solid #ece6d3;
	cursor: default;
}
.gestionnaire_fichiers li img {
	border: none;
	margin: 0px 10px 0px 0px;
	float: left;
}
.gestionnaire_fichiers li a {
	color: #000000;
	font-weight: bold;
	text-decoration: underline;
}
.gestionnaire_fichiers li a:hover {
	text-decoration: none;
}

.gestionnaire_fichiers li a.lienSupp {
	color: #000000;
	font-size: 0.9em;
	font-weight: normal;
}

.gestionnaire_fichiers li p {
	font-size: 0.75em;
	margin: 5px 0px 0px 0px;
}

/* BUREAU VIRTUEL */
.bureau_virtuel {
	background-color: #6e6082;
	background-image: url(fond.jpg);
	background-repeat: no-repeat;
	margin: 0px -5px 0px -5px;
}
.bureau_virtuel_bas {
	background-image: url(fond_bas.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
	padding: 0px 0px 15px 0px;
}

.bureau_virtuel_bas .col_g span a {
	color:#000000;
}
.bureau_virtuel_bas .col_g span a:hover {
	text-decoration: none;
}


.bureau_virtuel h2 {
	/*font-size: 16px;*/
	font-size: 1.4em;
	font-weight: normal;
	margin: 0px 0px 0px -3px;
}
.bureau_virtuel h2 span {
	background-image: url(fond_nom.gif);
	background-repeat: repeat-y;
	padding: 10px 10px 0px 25px;
	display: block;
}
.bureau_virtuel h2 span.bas {
	background-image: url(bas_nom.png);
	background-repeat: no-repeat;
	height: 35px;
	padding: 0px;
}

.bureau_virtuel .col_g {
	width: 257px;
	padding: 0px 0px 0px 3px;
	float: left;
}
.bureau_virtuel .col_d {
	width: 319px;
	padding: 25px 3px 0px 0px;
	float: right;
}
.bureau_virtuel .bloc_demande {
	background-image: url(bloc_demande.png);
	height: 34px;
	width: 242px;
	padding: 43px 7px 0px 0px;
	margin: 0px 0px 25px 0px;
}
.bureau_virtuel .bloc_demande h3 {
	display: none;
}
.bureau_virtuel .bloc_demande p {
	text-align: center;
	height: 13px;
	padding: 4px 0px 5px 0px;
	margin: 0px;
}
.bureau_virtuel .bloc_demande a {
	color: #000000;
	background-image: url(bouton_demande-g.gif);
	background-repeat: no-repeat;
	background-position: center left;
	height: 22px;
	padding: 4px 0px 5px 11px;
}
.bureau_virtuel .bloc_demande a span {
	background-image: url(bouton_demande-d.gif);
	background-repeat: no-repeat;
	background-position: top right;
	height: 22px;
	padding: 4px 11px 5px 0px;
}
.bureau_virtuel .bloc_demande a:hover {
	text-decoration: none;
}
.bureau_virtuel .bloc_stockage {
	background-image: url(bloc_stockage.png);
	height: 57px;
	width: 176px;
	padding: 43px 60px 0px 13px;
	margin: 15px 0px 0px 0px;
}
.bureau_virtuel .bloc_stockage h3 {
	display: none;
}
.bureau_virtuel .bloc_stockage p {
	margin: 0px;
}
.bureau_virtuel .bloc_stockage a {
	color: #000000;
}
.bureau_virtuel .bloc_stockage a:hover {
	text-decoration: none;
}
.bureau_virtuel .bloc_mauve {
	background-image: url(bloc_mauve.gif);
	background-repeat: no-repeat;
	width: 249px;
	padding: 20px 0px 0px 0px;
	margin: 15px 0px 0px 0px;
}
.bureau_virtuel .bloc_mauve h3 {
	color: #ffffff;
	/*font-size: 12px;*/
	font-size: 1.1em;
	font-style: italic;
	background-image: url(bloc_mauve_titre.gif);
	background-repeat: no-repeat;
	height: 18px;
	padding: 2px 0px 0px 15px;
	margin: -19px 0px 10px 1px;
}
.bureau_virtuel .bloc_mauve_bas {
	background-image: url(bloc_mauve_bas.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
	width: 232px;
	padding: 0px 12px 9px 5px;
	margin: 0px;
}

.bureau_virtuel .bloc_mauve a {
	color: #000;
}
.bureau_virtuel .bloc_mauve a:hover {
	text-decoration: none;
}

.bureau_virtuel .bloc_mauve_bas p {
	margin: 0px 0px 0px 10px;
}
.bureau_virtuel .bloc_mauve_bas p.bouton {
	text-align: right;
	background-image: url(bloc_mauve_ok.gif);
	background-repeat: no-repeat;
	background-position: top right;
	height: 15px;
	padding: 3px 10px 0px 0px;
	margin: 0px 15px 0px 0px;
}


.bureau_virtuel .bloc_mauve_bas p.bouton a {
	background: transparent;
	padding: 0px 5px 0px 5px;
}
.bureau_virtuel .bloc_mauve_bas p.bouton a span {
	padding: 0px;
	visibility: hidden;
}
.bureau_virtuel .bloc_blocnotes {
	background-image: url(bloc_blocnotes.png);
	height: 78px;
	width: 253px;
	padding: 80px 20px 0px 0px;
	margin: 15px 0px 0px 36px;
	position: relative;
}
.bureau_virtuel .bloc_blocnotes h3 {
	display: none;
}
.bureau_virtuel .bloc_blocnotes p {
	text-align: center;
	margin: 0px;
}
.bureau_virtuel .bloc_blocnotes p.bouton {
	text-align: left;
	margin: 25px 0px 0px 20px;
}
.bureau_virtuel .bloc_blocnotes a {
	color: #000000;
	font-weight: bold;
}
.bureau_virtuel .bloc_blocnotes .aide {
	background-image: url(aide.gif);
	background-repeat: no-repeat;
	height: 18px;
	width: 18px;
	display: block;
	position: absolute;
	top: 10px;
	right: 28px;
}
.bureau_virtuel .bloc_blocnotes .aide span {
	display: none;
}
.bureau_virtuel .bloc_blocnotes a:hover {
	text-decoration: none;
}
.bureau_virtuel .bloc_sondage {
	background-image: url(bloc_sondage.gif);
	background-repeat: no-repeat;
	height: 36px;
	width: 253px;
	margin: 15px 0px 0px 36px;
	display: block;
}
.bureau_virtuel .bloc_sondage span {
	display: none;
}
.bureau_virtuel .bloc_blog {
	background-image: url(bloc_blog.gif);
	height: 36px;
	width: 253px;
	margin: 15px 0px 0px 36px;
	display: block;
}
.bureau_virtuel .bloc_blog span {
	display: none;
}
.bureau_virtuel .bloc_blog2 {
	background-image: url(bloc_blog2.gif);
	height: 36px;
	width: 253px;
	margin: 15px 0px 0px 36px;
	display: block;
}
.bureau_virtuel .bloc_blog2 span {
	display: none;
}
.bureau_virtuel .en_cours {
	width: 319px;
	position: relative;
}
.bureau_virtuel .en_cours h3 {
	background-image: url(en_cours.gif);
	background-repeat: no-repeat;
	height: 25px;
	margin: 0px;
}
.bureau_virtuel .en_cours h3 span {
	display: none;
}
.bureau_virtuel .en_cours table {
	/*font-size: 10px;*/
	font-size: 0.9em;
}
.bureau_virtuel .en_cours th {
	font-weight: normal;
	text-align: center;
	background-color: #e3d29d;
	border-right: 1px solid #c1ad73;
	padding: 1px 5px 4px 5px;
}
.bureau_virtuel .en_cours td {
	color: #554821;
	text-align: center;
	background-color: #ffffe9;
	border-right: 1px solid #c1ad73;
	padding: 3px 5px 4px 5px;
}
.bureau_virtuel .en_cours td.principale {
	text-align: left;
	width: 100%;
}

.bureau_virtuel .en_cours td.principale a {
	color: #000000;
}

.bureau_virtuel .en_cours td.principale a:hover {
	text-decoration: none;
}
.bureau_virtuel .en_cours td.last {
	border: none;
}
.bureau_virtuel .en_cours img {
	border: none;
	position: relative;
	z-index: 100;
}
.bureau_virtuel .en_cours .tableau_bas {
	/*font-size: 10px;*/
	font-size: 0.9em;
	background-image: url(tableau_bas.png);
	background-repeat: no-repeat;
	height: 22px;
	padding: 7px 0px 0px 3px;
}
.bureau_virtuel .en_cours .tableau_bas span {
	background-repeat: no-repeat;
	height: 19px;
	margin: 0px 3px 0px 0px;
	display: block;
	float: left;
}
.bureau_virtuel .en_cours .tableau_bas span.legende_encours {
	background-image: url(bouton_encours.gif);
	padding: 0px 0px 0px 14px;
}
.bureau_virtuel .en_cours .tableau_bas span.legende_valide {
	background-image: url(bouton_valide.gif);
	padding: 0px 0px 0px 14px;
}
.bureau_virtuel .en_cours .tableau_bas span.legende_incomplet {
	background-image: url(bouton_incomplet.gif);
	padding: 0px 0px 0px 11px;
}
.bureau_virtuel .en_cours .tableau_bas span.legende_refuse {
	background-image: url(bouton_refuse.gif);
	padding: 0px 0px 0px 13px;
}
.bureau_virtuel .en_cours .tableau_bas span span {
	background-image: url(bouton_legende.gif);
	background-position: top right;
	height: 16px;
	padding: 3px 9px 0px 5px;
	margin: 0px;
}
.bureau_virtuel .en_cours .arrondi {
	background-image: url(arrondi_tableau.gif);
	background-repeat: no-repeat;
	background-position: top right;
	height: 39px;
	width: 100%;
	position: absolute;
	top: 25px;
	left: 0px;
	z-index: 50;
}




/* DEMANDE */
.demande {
	background-image: url(fond_actu.gif);
	background-repeat: no-repeat;
	background-position: top left;
	width: 575px;
	padding-top: 10px;
	float: left;
}
.demande .fond {
	padding: 5px;
	width: 565px;
	float: left;
}
.demande h2 {
	color: #c1ad73;
	/*font-size: 18px;*/
	font-size: 1.6em;
	font-weight: bold;
	background-image: url(fond_h2a.gif);
	background-repeat: no-repeat;
	background-position: top right;
	height: 23px;
	padding-left: 30px;
	margin-bottom: 5px;
}
.demande .detail h3 {
	color: #000000;
	/*font-size: 11px;*/
	font-size: 1em;
	font-weight: bold;
	background-image:url(titre_thematique.gif);
	height: 17px;
	padding: 3px 0px 0px 15px;
}
.demande .detail h3 a {
	color: #000000;
}
.demande .detail h3 a:hover {
	text-decoration: none;
}
.demande .detail h4 {
	color: #000000;
	/*font-size: 11px;*/
	font-size: 1em;
	font-weight: normal;
	background-image:url(titre_message.gif);
	height: 17px;
	padding: 3px 0px 0px 15px;
}
.demande .detail h4 span {
	background-repeat: no-repeat;
	width: 150px;
	padding: 0px 0px 0px 22px;
	float: right;
}
.demande .detail h4 span.encours {
	background-image:url(picto_encours2.gif);
}
.demande .detail h4 span.valide {
	background-image:url(picto_valide2.gif);
}
.demande .detail h4 span.refuse {
	background-image:url(picto_refuse2.gif);
}
.demande .detail h4 span.incomplet {
	background-image:url(picto_incomplet2.gif);
}
.demande .detail h5 {
	color: #5b5135;
	/*font-size: 11px;*/
	font-size: 1em;
	margin: 25px 0px 0px 0px;
}
.demande .detail p.auteur, .demande .detail p.auteur2 {
	color: #5b5135;
	/*font-size: 11px;*/
	font-size: 1em;
	font-weight: bold;
	background-image:url(fond_auteur.gif.1);
	height: 17px;
	padding: 13px 15px 0px 15px;
	margin: 10px 0px 0px 0px;
	clear: both;
}
.demande .detail p.auteur2 {
		margin: 0px 0px 0px 0px;
}
.demande .detail p.auteur span, .demande .detail p.auteur2 span {
	font-weight: normal;
	float: right;
}
.demande .detail p.objet {
	color: #000000;
	background-image:url(fond_objet.gif);
	height: 17px;
	padding: 1px 15px 0px 15px;
	margin: 0px;
}
.demande .detail p.objet span {
	color: #888a74;
	/*font-size: 10px;*/
	font-size: 0.9em;
	padding: 1px 0px 0px 0px;
	float: right;
}
.demande .detail p.reponse {
	color: #000000;
	/*font-size: 11px;*/
	font-size: 1em;
	text-align: justify;
	padding: 10px 10px 20px 10px;
	clear: both;
}
.demande .detail ul {
	padding: 0px;
	margin: -15px 0px 20px 20px;
}
.demande .detail li {
	background-image: url(puce_all_actu.gif);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 10px;
	margin: 0px;
	list-style: none;
}
.demande .detail li a {
	color: #850f29;
	text-decoration: underline;
}
.demande .detail a:hover {
	text-decoration: none;
}
.demande p.bouton {
	height: 13px;
	padding: 0px 50px 0px 0px;
	margin: 10px 0px 0px 0px;
	float: right;
}
.demande .box_form h4 {
	color:#850f29;
	font-weight:bold;
	/*font-size:12px;*/
	font-size: 1.1em;
	background-image: none;
	margin: 0px 0px 10px 0px;
	clear: left;
}






/* MAGAZINES */
.magazine .boite {
	background-color: #ffffff;
	background-image: url(boite_magazine.gif);
	background-repeat: repeat-x;
	width: 168px;
	margin: 15px 5px 5px 5px;
	/*clear:both;*/
	float: left;
	color: #850f29;
}
.magazine .boite .boite_droite {
	text-align: center;
	background-image: url(boite_magazine_droite.gif);
	background-repeat: no-repeat;
	background-position: top right;
	border-left: 1px solid #ede7c7;
	width: 147px;
	padding: 10px 10px 0px 10px;
	float: left;
}
.magazine .boite .boite_droite .hauteur {
	font-size: 1px;
	height: 160px;
	width: 1px;
	float: left;
}
.magazine .boite .boite_bas {
	background-image: url(boite_magazine_bas.gif);
	background-repeat: no-repeat;
	height: 10px;
	clear: left;
}
.magazine .boite h3 {
	/*font-size: 13px;*/
	font-size: 1.2em;
	font-weight: bold;
	margin: 0px;
}
.magazine .boite div.img {
	height: 110px;
}
.magazine .boite img {
	border: none;
}
.magazine .boite p {
	text-align: justify;
}
.magazine .boite a {
	color: #850f29;
}
.magazine .boite a:hover {
	text-decoration: none;
}





ul.rssStyle {
	margin: 0px 0px 0px 20px;
}
ul.rssStyle li {
	background-image: url(puce.gif.2);
	background-repeat: no-repeat;
	padding: 0px 0px 5px 10px;
	float: none;
}
ul.rssStyle a {
	color: #c1ad73;
	/*font-size: 12px;*/
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
}
ul.rssStyle a:visited {
	color: #c1ad73;
}
ul.rssStyle a:hover {
	text-decoration: underline;
}
ul.rssStyle img {
	border: none;
	vertical-align: bottom;
}



div#zoom, div#divMessage, div.divMessage, #divAide {
	text-align: right;
	background-color: #ffffff;
	background-image: url(titre_zoom.gif);
	background-repeat: repeat-x;
	border-left: 2px solid #850f29;
	border-right: 2px solid #850f29;
	border-bottom: 2px solid #850f29;
	position: absolute;
	top: 300px;
	left: 400px;
	z-index: 5000;
}
#divAide {
	width: 250px;
	padding: 0px 0px 5px 0px;
}
div#PopupEnregistrer {
	width: 250px;
	padding: 0px 2px 0px 0px;
	top: 200px;
	left: 160px;
}
div#zoom a, div#divMessage a, div#PopupEnregistrer a, #divAide a {
	color: #ffffff;
	/*font-size: 9px;*/
	font-size: 0.8em;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
	padding: 0px 2px 0px 0px;
}
#divAide p {
	text-align: left;
	padding: 5px 5px 0px 5px;
	margin: 0px;
}	
div#zoom a:hover, div#divMessage a:hover, div#PopupEnregistrer a:hover, #divAide a:hover {
	color: #ac6373;
}
div#PopupEnregistrer div {
	text-align: left;
	padding: 10px 8px 10px 10px;
}
div#zoom img, div#divMessage img, div#PopupEnregistrer img {
	margin: 10px;
}
div#zoom h3, div#divMessage h3, div#PopupEnregistrer h3, #divAide h3 {
	/*font-size: 11px;*/
	font-size: 1em;
	margin: 0px 0px 10px 0px;
}
div#zoom p.bouton, div#divMessage p.bouton, div#PopupEnregistrer p.bouton {
	margin-top: 10px;
}
div#zoom p.bouton a, div#divMessage p.bouton a, div#PopupEnregistrer p.bouton a {
	font-weight:normal;
	text-decoration:none;
	background-image:url(bouton_left.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:10px;
	color:#FFFFFF;
}





/* POPUP front*/
div.popupfront {
	background-color: #e2ddcd;
	/*background-image: url(../images/popup.gif);*/
	background-image: url(boite.gif);
  background-repeat: repeat-x;
	border: 1px solid #c1ad73;
	width: 280px;
	padding: 0px 10px 10px 10px;
	position: absolute;
	top: 40%;
	left: 40%;
	z-index:1000000;
}
div.popupfront a.fermer {
	background-image: url(popup_fermer.gif);
	height: 11px;
	width: 11px;
	margin: 0px -10px 7px auto;
	display: block;
}
div.popupfront a.fermer span {
	display: none;
}
div.popupfront h2 {
	/*font-size: 12px;*/
	font-size: 1.1em;
	margin: 0px 0px 10px 0px;
}
div.popupfront p {
	/*font-size: 11px;*/
	font-size: 1em;
	margin: 5px 0px 0px 0px;
}
div.popupfront span.bouton_mini {
	margin-top: 10px;
	float: right;
}
div.popupfront .bouton {
	background-image: url(bouton-d.gif);
	background-repeat: no-repeat;
	background-position: top right;
	height: 38px;
	padding: 0px 20px 0px 0px;
	position: absolute;
	bottom: -15px;
	right: 37px;
}
div.popupfront .bouton a {
	color: #c5083d;
	/*font-size: 17px;*/
	font-size: 1.5em;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
	background-image: url(bouton-g.gif);
	background-repeat: no-repeat;
	height: 33px;
	padding: 5px 0px 0px 18px;
	display: block;
	float: right;
}





/* MINI PLAYER */

.mini_player {
	position: relative;
}
.mini_player .mini_logo {
	background-image: url(mini_logo.png);
	background-repeat: no-repeat;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/web/images/web_tv/mini_logo.png', sizingMethod='crop');
	height: 35px;
	width: 35px;
	display: block;
	position: absolute;
	top: 0px;
	left: 279px;
}