/* The largest banner on the home page */
#teaser {
	overflow: hidden;
	margin-bottom: 30px;
	text-align: center;
	color: #F0F0F0;
	font-size: 30px;
	height: 270px;
	background-color: #E6E6E6;	
}

/* Align banners to left side */
#teaser A {
	float: left;
}

/* Place holder for banners */
.bannerHolder {
	margin-bottom: 10px;
}

/* here goes banners-specific styles */
.banner {
	width: 390px;
	margin-bottom: 10px;
	overflow: hidden;
}

.advertiseBlocks {
	overflow: hidden;
	margin-bottom: 10px;
}

/* 2 banners in right area sizes and positions */
.rightMiddleBannersArea {
	width: 190px;
	height: 236px;
	overflow: hidden;
	float: left;
}
.rightMiddleBannersArea DIV {
	margin-bottom: 10px;
}
/* right blue banner */
.rightBannersArea {
	width: 190px;
	height: 236px;	
	float: left;
	padding-left: 10px;
}

.homeBannersTop {
	float: left;
}

.banner-990x236 {
	width: 990px;
	height: 236px;
	overflow: hidden;
}

.banner-990x118 {
	width: 990px;
	height: 118px;
	overflow: hidden;
	margin-bottom: 10px;
}

.banner-590x236 {
	width: 590px;
	height: 236px;
	overflow: hidden;
	float: left;
}

.banner-390x236 {
	width: 390px;
	height: 236px;
	overflow: hidden;
	margin-left: 10px;
	float: left;
}

.banner-590x118 {
	width: 590px;
	height: 118px;
	overflow: hidden;
	float: left;
}

.banner-390x118 {
	width: 390px;
	height: 118px;
	overflow: hidden;
	margin-left: 10px;
	float: left;
}

.banner-390x113 {
	width: 390px;
	height: 113px;
	overflow: hidden;
	margin-left: 10px;
	float: left;
}

.banner-190x113 {
	width: 190px;
	height: 113px;
	overflow: hidden;
	margin-left: 10px;
	float: left;
}

.banner-190x236 {
	width: 190px;
	height: 236px;
	overflow: hidden;
	margin-left: 10px;
	float: left;
}

.banner-bottom {
	margin-top: 10px;
}

/* Make dotted border for banners */
.dottedBorder {
	border-style: dotted;
	border-width: 1px;
	border-color: #09438B;
	padding: 4px;
	margin-bottom: 20px;
}

/* Banners container */
.advContainer {
	 float: right;
	 width: 790px;
}

.bottomBannersCloud {
	margin: 40px 0 0 0;
	overflow: hidden;
	zoom: 1;
	clear: both;
	float: left;
}

/* Fix for IE (hasLayout) */
.bottomBannersCloud .leftCol {
	zoom: 1;
}

/* left bottom banner for shopping cart */ 
.advBlockShoppingCart {
  float: left;
  width: 321px;
  height: 169px;
}


/* Banners with gift cards */
.giftCard {
	float: left;
	background-color: #E6E6E6;
	width: 196px;
	height: 137px;
	border-right: 1px solid #F7F7F7;
}

/* Last gift cards series banner */
.lastGiftCard {
	border-right: 0px solid #FFFFFF;
	width: 196px;
}

/* Description for the gift card series banners */
.giftCard .gcInfo {
	height: 114px;
	border-bottom: 1px solid #F7F7F7;
	font-size: 0;
}

.giftCard a.gcLink {
	height: 22px;
	display: block;
	line-height: 20px;
	font-size: 11px;
	font-weight: bold;
	padding-left: 38px;
	background: #858585 url(gcLink.png) no-repeat;
}

.giftCard a.gcLink,
.giftCard a.gcLink:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #858585;
}