/********************************/
/* CAROUSEL                     */
/********************************/

/* Carousel placeholder */
.carousel {
	/*position: relative;*/
	padding: 6px 5px 10px 5px;
	//padding: 6px 10px 10px 10px;
	background: url(http://www.castorama.fr/store/images/bg-carousel.png) repeat-x 0 0;
	margin-bottom: 39px;
	zoom: 1;
	//overflow: hidden;
	clear: both;
}

/* Hide images */
.carousel .lImage {
	display: none;
}

/* Carousel mouseover popup */
.carouselPopup {
	z-index: 8000;
	position: absolute;
	top: -20px;
	padding-right: 7px;
	padding-bottom: 8px;
	background: transparent url(menuShadowBox.png) no-repeat scroll 100% 100%;
	left: 0;
	width: 170px;
	visibility: hidden;
}

/* Carousel mouseover popup container */
.carouselPopup .inside {
	background-color: #fff;
	border: 1px solid #9DA0A4;
	width: 150px;
	min-height: 220px;
	height: auto !important;
	height: 220px;
	padding: 10px;
	text-align: center;
	position: relative;
}


/* Rewrite product Promo messages for Carousel images */
.carouselPopup .inside .prodHighlight {
	z-index: 10000;
	top: 9px;
}

/* Carousel popup discount */
.carouselPopup .discount {
	width: 41px;
	height: 29px;
	position: absolute;
	right: 26px;
	background: url(discount.png) no-repeat;
	line-height: 21px;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	top:20px;
}

.carouselPopup .hasHighlight {
	padding-top: 32px;
	position: relative;
	margin-top:-10px;
}

/* Carousel popup discount */
.carouselPopup .hasHighlight .discount {
	top: 42px;
}

/* Carousel popup image */
.carouselPopup .image IMG {
	width: 125px;
	height: 125px;
}

/* Carousel popup image */
.carouselPopup .image {
	margin-bottom: 10px;
}

/* Carousel popup price placeholder */
.carouselPopup .price {
	margin-top: 5px;
}

/* Carousel popup add to cart button */
.carouselPopup .buttonCart {
	margin-top: 10px;
}

/* Carousel list placeholder */
.carThumbs {
	float: left;
	width: 850px;
	height: 76px;
	position: relative;
	overflow: hidden;
	margin-left: 5px;
}

/* Carousel list */
.carousel UL {
	height: 75px;
	overflow: hidden;
	width: 850px;
	margin: 1px auto 0 auto;
}

/* Carousel list item */
.carousel UL LI {
	background: none;
	margin: 0 5px 0 5px;
	padding: 0;
	float: left;
	clear: none;
	//display: inline; /* Override just for IE */
}

/* Carousel list link */
.carousel UL LI A {
	display: block;
	width: 73px;
	height: 73px;
	border: 1px solid #9da0a4;
	position: relative;
	//overflow: hidden;	/* Override just for IE */
}

/* Product Image */
.carousel UL LI A IMG {
	width: 73px;
	height: 73px;
	display: none;
	background-repeat: no-repeat;	
}

/* Prev and Next placeholders */
.carPrev,
.carNext {
	margin: 0 5px 0 5px;
	//margin: 0; /* Override just for IE */
	position: relative;
}

/* Prev and Next buttons */
.carPrev A,
.carPrev IMG,
.carNext A,
.carNext IMG {
	display: block;
	width: 55px;
	height: 76px;
	background: #b0b0b0 url(http://www.castorama.fr/store/images/button-carousel.png) no-repeat 0 0;
	text-indent: -100em;
	overflow: hidden;
}

/* Prev button */
.carPrev A {
	float: left;
}

.carPrev IMG {
	float: left;
	background-position: -55px 0 !important;
}

/* Next button */
.carNext A {
	float: right;
	background-position: 0 -76px !important;
}

.carNext IMG {
	float: right;
	background-position: -55px -76px !important;
}

.carProdCountHolder  {
	position: relative;
	
}

/* Counter of carousel items */
.carProdCount {
	font-weight: bold;
	position: absolute;
	right: 10px;
	top: -25px;
	/*display: none;*/
}