/********************************/
/* CLOUD                        */
/********************************/

/* Cloud container */
.cloud {
	background-color: #f4f4f4;
	border: 1px solid #9fa1a4;
	width: 388px;
	float: right;
	height: 135px;
	overflow: hidden;
}

/* Remove underline from all cloud links */
.cloud A {
	text-decoration: none;
}

/* Set position  */
.cloud SPAN {
	display: inline-block;
	margin-top: -2px;
	margin-right: 3px;
}

/* Fix for firefox */
@-moz-document url-prefix() {
  .cloud SPAN {margin-right: 0;}
}

/* Internal cloud area */
.cloudContent {
	padding: 11px 4px 0px 10px;
	font-weight: bold;
	height: 122px;
	//height: 120px;
	overflow: hidden;
}

/* Header for cloud area */
.cloud H3 {
	text-transform: uppercase;
	font-size: 11px;
	display: block;
	color: #09438B;
	margin-bottom: 4px;
}

/* Position for links with different level */
.level1 {padding: 10px 0 1px 0;}
.level2 {padding: 9px 0 1px 0;}
.level3 {padding: 7px 0 1px 0;}
.level4 {height: 28px;}

/* Colors for links with different level */
.level1 A, .level1 A:hover {font-size: 12px; color: #939191; font-weight: normal;}
.level2 A, .level2 A:hover {font-size: 14px; color: #6c6a6a;}
.level3 A, .level3 A:hover {font-size: 17px; color: #09438B;}
.level4 A, .level4 A:hover {font-size: 23px; color: #303030;}

/*************************************/
/* Universe colors for Level 3 links */
/*************************************/
/* Pink blue */
.cloud.pinkPage H3,
.cloud.pinkPage .level3 A,
.cloud.pinkPage .level3 A:hover
{color: #b51E3B;}

/* Green blue */
.cloud.greenPage H3,
.cloud.greenPage .level3 A,
.cloud.greenPage .level3 A:hover
{color: #A1BE23;}

/* Dark blue */
.cloud.darkbluePage H3,
.cloud.darkbluePage .level3 A,
.cloud.darkbluePage .level3 A:hover
{color: #5A7B88;}

/* Light blue */
.cloud.lightbluePage H3,
.cloud.lightbluePage .level3 A,
.cloud.lightbluePage .level3 A:hover
{color: #41C0EB;}

/* Brown */
.cloud.brownPage H3,
.cloud.brownPage .level3 A,
.cloud.brownPage .level3 A:hover
{color: #88816F;}

/* Red */
.cloud.redPage H3,
.cloud.redPage .level3 A,
.cloud.redPage .level3 A:hover
{color: #ED1d25;}

/* Blue */
.cloud.bluePage H3,
.cloud.bluePage .level3 A,
.cloud.bluePage .level3 A:hover
{color: #09438B;}
