@import url("http://www.castorama.fr/documents/styles/style-frd.css");
@import url("http://www.castorama.fr/documents/styles/style-css3.css");

.productBlock .productContent .productDecription p a.offre {
	color: #ED1D25; 
	display: block;
	background: transparent url(http://www.castorama.fr/documents/images/aroowRed.gif) no-repeat scroll 0 50%
	margin-top: 10px;
	clear: left; 
}