/* Promo headers above product images */
.prodHighlight {
	padding-right: 10px;
	text-align: right;
	position: absolute;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	width: 132px;
	line-height: 23px;
	top: 0px;
	left: 0px;
}

/* Main color and background for promo headers above product images */
.prodHighlight {
	color: #ffffff;
	background: url(http://www.castorama.fr/store/images/prodH.gif) no-repeat 0 0;
}

/* Rewrite colors */
.pinkH 		{background-position: 0 0;}
.greenH 	{background-position: 0 -32px;}
.darkblueH 	{background-position: 0 -64px;}
.lightblueH {background-position: 0 -96px;}
.brownH 	{background-position: 0 -128px;}
.redH 		{background-position: 0 -160px;}
.yellowH 	{background-position: 0 -192px;
				color: #ed1d25;}
.blueH {
			background-color: #09438b !important;
			background-image: none !important;
			height: 23px !important;
}

/* Rewrite colors for list view */
.fDescription .pinkH,
.productListe .pinkH      {color: #b51E3B; text-transform: uppercase;}
.fDescription .greenH,
.productListe .greenH     {color: #a1be23; text-transform: uppercase;}
.fDescription .darkblueH,
.productListe .darkblueH  {color: #5a7b88; text-transform: uppercase;}
.fDescription .lightblueH,
.productListe .lightblueH {color: #41C0EB; text-transform: uppercase;}
.fDescription .brownH,
.productListe .brownH     {color: #7c7564; text-transform: uppercase;}
.fDescription .redH,
.productListe .redH       {color: #eb1c24; text-transform: uppercase;}
.fDescription .yellowH,
.productListe .yellowH    {color: #fbee2e; text-transform: uppercase;}
.fDescription .blueH,
.productListe .blueH      {color: #09438b; text-transform: uppercase;}

/* Override promo messages position and width on home page */
.universOP .prodHighlight,
.homePage .prodHighlight {
	width: 115px;
	top: -23px;
}

/* Override promo messages width for random generated product on home page */
.homePage .productHeaderB2 .prodHighlight {
	width: 132px;
}

/* Override position of Product image promo message on product description page */
.productImage .prodHighlight {
	left: auto;
	top: 10px;
	right: 10px;
}