/* Right navigation area layer */
.rightNavigationArea {
	width: 190px;
	float: right;
	clear: right;
	margin-top: 10px;
	border-top: 1px solid #d6d6d6;
}

/* Gradient background */
.rightNavigationArea .menuPoint {
	background: url(http://www.castorama.fr/store/images/rightMenuBg.gif) repeat-x;
}

/* Title for point of the right navigation */
.rightNavigationArea .menuPoint H2.title {
	display: block;
	height: 28px;
	text-transform: uppercase;
	overflow: hidden;
	background: url(http://www.castorama.fr/store/images/icoRightMenu_expand.gif) 9px 19px no-repeat;
	color: #3a3a3a;
	font-weight: bold;
	font-size: 12px;
	padding: 13px 0 0 20px;
	cursor: pointer;
}

/* Active point of the right navigation (white text) */
.rightNavigationArea .menuPoint.open H2.title {
	color: #fff;
	background: url(http://www.castorama.fr/store/images/icoRightMenu_collapse.gif) 9px 19px no-repeat;
}

/* Background colors of the active point of the right navigation */
.rightNavigationArea.pinkPage .menuPoint.open H2.title 		{background-color: #b51E3B;}
.rightNavigationArea.greenPage .menuPoint.open H2.title 	{background-color: #a1be23;}
.rightNavigationArea.darkbluePage .menuPoint.open H2.title 	{background-color: #5A7B88;}
.rightNavigationArea.lightbluePage .menuPoint.open H2.title {background-color: #41c0eb;}
.rightNavigationArea.brownPage .menuPoint.open H2.title 	{background-color: #7c7563;}
.rightNavigationArea.redPage .menuPoint.open H2.title 		{background-color: #eb1c24;}
.rightNavigationArea.bluePage .menuPoint.open H2.title 		{background-color: #09438b;}


/* Level 3 header */
.rightNavigationArea .menuPoint H3 {
	font-size: 11px;
	margin-bottom: 8px;
}

/* Level 3 header with top border */
.rightNavigationArea .menuPoint H3.topBorder {
	border-top: 1px solid #d7d7d7;
	padding-top: 8px;
}

/* Borders for content part of a point of the right navigation */
.rightNavigationArea .menuPoint .content {
	border-left: 1px solid #d6d6d6;
	border-right: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	display: none;
}

.rightNavigationArea .menuPoint .content A IMG {
	margin: 0 auto;
}

/* Show content part if class "open" is exists  */
.rightNavigationArea .menuPoint.open .content {
	display: block;
	padding: 13px 10px 20px;
}

/* Right navigation content lists */
.rightNavigationArea .menuPoint.open .content UL {
	display: block;
	list-style: none;
	margin-top: 8px;
	margin-bottom: 8px;
}

.rightNavigationArea .menuPoint.open .content LI {
	padding-left: 16px;
	margin-top: 5px;
}

/* Right navigation content lists bullets */
.rightNavigationArea.redPage .menuPoint.open .content LI 	{background: url(http://www.castorama.fr/store/images/aroowRed.gif) 0 1px no-repeat;}
.rightNavigationArea.greenPage .menuPoint.open .content LI 	{background: url(http://www.castorama.fr/store/images/icoGreenArrow.png) 0 1px no-repeat;}
.rightNavigationArea.brownPage .menuPoint.open .content LI 	{background: url(http://www.castorama.fr/store/images/bulletLargeBrown.png) 0 1px no-repeat;}
.rightNavigationArea.bluePage .menuPoint.open .content LI 	{background: url(http://www.castorama.fr/store/images/bulletLargeBlue.png) 0 1px no-repeat;}
.rightNavigationArea.darkbluePage .menuPoint.open .content LI {background: url(http://www.castorama.fr/store/images/linkBulletGray.png) 0 1px no-repeat;}
.rightNavigationArea.pinkPage .menuPoint.open .content LI 	{background: url(http://www.castorama.fr/store/images/icoRedArrow.png) 0 1px no-repeat;}
.rightNavigationArea.lightbluePage .menuPoint.open .content LI   {background: url(http://www.castorama.fr/store/images/bulletLargeBlue.png) 0 1px no-repeat;}

/* Global rule for list divided by line */
.rightNavigationArea .menuPoint.open .content UL.separatedLi LI {
	margin: 0;
	padding: 7px 0 7px 16px;
	border-top: 1px solid #b6b6b6;
	background-position: 0px 9px;
}

/* Except for global rule for list divided by line */
.rightNavigationArea .menuPoint.open .content UL.separatedLi LI.noline {
	border-top: 0;
}