 .custom_content_container h1 {
 	color: #474747; 
 	font-size: 22px; 
 	font-weight: bold; 
 	padding: 0.475em 20px; 
 	border: none;
	} 	
 .custom_content_container p {
 	font-size: 1em; 
 	padding: 0.475em 20px 0.45em 22px; 
 	color: #323232;
 	}
.custom_content_container .content {
	background-color: #fff;
	}
.custom_content_container .cadre {
	border: 1px solid #c7c7c7; 
	margin: 2em;
	}
.custom_content_container .cadre h2 {
	color: #09438b; 
	font-size: 1.5em; 
	font-weight: bold; 
	padding: 0.475em 20px; 
	position:relative; 
	width: 80%;
	margin-bottom: 0;
	}
.custom_content_container .cadre h3 {
	color: #fff; 
	font-size: 1.25em; 
	font-weight: bold; 
	padding: 0.6em 20px; 
	border-top: 1px solid #c7c7c7; 
	background: #c7c7c7;
	}
.custom_content_container .cadre h4 {
	color: #09438b; 
	font-size: 1.25em; 
	font-weight: bold; 
	padding: 0.6em 20px; 
	border-top: 1px solid #c7c7c7; 
	border-bottom: 1px solid #c7c7c7;
	}
.custom_content_container .cadre p {
	font-size: 1em; 
	padding: 0.475em 20px 0.45em 20px; 
	background-color: #f1f1f1; 
	margin: 0; color: #323232;
	}
.custom_content_container .cadre p.centre {
	text-align: center;
	}
.custom_content_container .cadre p span {
	font-weight: bold;
	}
.custom_content_container .cadre p span.livraisongratuite {
	font-weight: bold; 
	text-transform:uppercase; 
	color: #b62c43;
	}
.custom_content_container .cadre .tableau {
	padding: 0.475em 20px 0.45em 20px; 
	background-color: #f1f1f1; 
	margin: 0; 
	}
.custom_content_container .cadre .tableau table {
	border: 1px solid #c7c7c7; 
	border-right:none; 
	border-bottom:none; 
	margin: 1em auto 0 auto; 
	background-color: #fff;
	}
.custom_content_container .cadre .tableau table.centre tr th {
	color: #fff; 
	background-color:#c7c7c7; 
	text-transform: uppercase;
	font-size: 10px; 
	font-weight:bold;
	}
.custom_content_container .cadre .tableau table.centre tr td,
.custom_content_container .cadre .tableau table.centre tr th {
	text-align: center;
	}
.custom_content_container .cadre .tableau table tr td,
.custom_content_container .cadre .tableau table tr th {
	border-right: 1px solid #c7c7c7; 
	border-bottom: 1px solid #c7c7c7; 
	padding: 0.5em; 
	color: #323232;
	}
.custom_content_container .cadre .tableau table tr th.half {
	width: 50%; 
	}
.custom_content_container a.hautdepage {
	font-size: 1em; 
	font-weight: normal; 
	display:block; 
	float: right; 
	margin: -26px 10px 0 0; 
	padding: 0; 
	}
            
.custom_content_container ul.links {
	list-style-type: none; 
	list-style-position: outside; 
	margin: 10px 0 10px 0; 
	padding : 0 0 0 20px; 
	width: 45%; 
	float: left;
	}
.custom_content_container ul.third {
	width: 30%;
	}
.custom_content_container ul.links li {
	list-style-type: none; 
	list-style-position: outside; 
	margin: 0; 
	padding : 0; 
	background: none; 
	padding : 3px 0 3px 0; 
	}
.custom_content_container ul.links li a {
	background: transparent url(http://www.castorama.fr/store/images/static_content/icoBlueArrow.png) scroll no-repeat 0 4px; 
	padding : 3px 0 3px 20px; 
	color: #09438c;
	}
                    
.custom_content_container .spacer {
	display: block; 
	clear: both; 
	height: 1px; 
	border:none; 
	visibility: hidden; 
	overflow: hidden;
	}
	
.custom_content_container p a {
	background: none;
	padding: 0;
	font-weight: normal;
	}	
	
.custom_content_container .fourth {
	float: left; 
	width: 238px; 
	margin: 10px 10px 10px 0;
	}	
	
.custom_content_container .height356 {
	height: 356px;
}

.custom_content_container .height160 {
	height:160px;
	}
.custom_content_container .height196 {
	height:196px;
	}

.custom_content_container .white p {
	background-color:#FFFFFF;
	clear:both;
	display:block;
}

.custom_content_container .fourth p a {
	background: transparent url(icoBlueArrow.png) scroll no-repeat 0 4px; 
	margin: 0;
	padding : 3px 0 3px 20px; 
	color: #09438c; 
	font-weight: bold;
	}
	
.custom_content_container .colonne4 {
	float: left; 
	width: 240px; 
	margin: 0 10px 10px 0;
	}
.custom_content_container .colonne4 .fourth,
.custom_content_container .colonne4 .white {
	margin: 10px 0 0 0;
	}
.custom_content_container .services .cadre h2 {
	width: 91%; 
	padding-right: 0; 
	overflow:hidden;
	margin-bottom: 0;
	}
.custom_content_container .services .cadre h5 {
	padding: 45px 105px 40px 20px; 
	font-size: 12px; 
	line-height: 19px;
	background: transparent url(http://www.castorama.fr/store/images/static_content/services-lancezvous.gif) scroll no-repeat 143px 20px; 
	}
		
.custom_content_container .colonne4 .cadre img.azur {
	width: 176px; 
	height: 23px; 
	margin: 0 auto; 
	display: block; 
	text-align: center; 
	padding: 3px 0 5px 0;
	}

.custom_content_container .services .cadre p  {
	padding-right: 5px;
	}
.custom_content_container .services .cadre p a {
	font-weight: normal;
	}

.custom_content_container .services .manuellancezvous {
	background: transparent url(http://www.castorama.fr/store/images/static_content/lightGrayGradientBg.gif) scroll repeat-x 0 0;
	}
.custom_content_container .services .manuellancezvous p {
	background: none;
	}
	
.custom_content_container .services ul.lancezvous {
	list-style-type: none;
	}
.custom_content_container .services ul.lancezvous li {
	list-style-type: none; 
	font-weight: bold; 
	color: #4b4c4c;  
	padding-bottom: 5px; display:block;
	}
.custom_content_container .services ul.lancezvous li span {
	font-weight: normal; 
	display: block;
	}	
	
.custom_content_container.cadre p span.petit {
	font-size:10px;
}		

.custom_content_container div.pose1, div.pose2, div.pose3, div.pose4 {
	float: left; 
	}
.custom_content_container div.pose2, 
.custom_content_container div.pose3, 
.custom_content_container div.pose4 { 
	margin-right: 0;
	}
.custom_content_container div.pose1 {
	background: transparent url(http://www.castorama.fr/store/images/static_content/pose-01.gif) scroll no-repeat 0 0; 
	height: 299px;
	}
.custom_content_container div.pose2 {
	background: transparent url(http://www.castorama.fr/store/images/static_content/pose-02.jpg) scroll no-repeat right bottom; 
	width: 737px; 
	}
.custom_content_container div.pose3 {
	background: transparent url(http://www.castorama.fr/store/images/static_content/pose-03.jpg) scroll no-repeat right bottom; 
	width: 737px; 
	}
.custom_content_container div.pose4 {
	width: 737px; 
	margin: 10px 0 10px 0; 
	position: relative; 
	left: 250px; 
	display:block; 
	clear: both; 
	background-color: #f1f1f1;
	}

.custom_content_container div.pose4 h2 {
	background-color: #fff; 
	width: 697px;
	}
.custom_content_container .cadre .tableaupose table {
	float: left; 
	}
.custom_content_container .cadre .tableaupose table tr td {
	text-align: center; font-weight: bold; color: #fff;
	}
.custom_content_container .cadre .tableaupose table tr td.violet {
	background-color: #A98ABB;
	}
.custom_content_container .cadre .tableaupose table tr td.jaune {
	background-color: #F6A800;
	}
.custom_content_container .cadre .tableaupose table tr td.orange {
	background-color: #EE7F00;
	}
.custom_content_container .cadre .tableaupose table tr th {
	background-color:#EE7F00; 
	color: #fff;
	}
	
.custom_content_container .cadre .tableaupose p {
	width: 255px; 
	float: left; 
	padding-right: 100px; 
	background: transparent url(http://www.castorama.fr/store/images/static_content/pose-tva.gif) scroll no-repeat top right; 
	padding-bottom: 20px;
	}

.custom_content_container div.third {
	float: left; 
	margin: 10px 0 10px 0;	
	}

.custom_content_container .last {
	margin-right: 0;
	}
	
.custom_content_container  ul.liste {
	list-style-type: none; 
	list-style-position: outside; 
	padding : 0 0 10px 20px; 
	float: left; 
	display: block; 
	width: 218px;
	}
.custom_content_container  ul.liste li {
	list-style-type: none; 
	list-style-position: outside; 
	margin: 0; 
	padding : 0; 
	display: block; 
	background: none; 
	padding : 0 0 0 9px; 
	background:transparent url(http://www.castorama.fr/store/images/static_content/bulletDarkBlue.png) no-repeat scroll 0 5px;
	}
	
.custom_content_container  div.third ul.liste {
	width: 330px; 
	list-style-type: decimal;
	}
.custom_content_container  div.third ul.liste li {
	padding-bottom: 7px;
	}
	
.custom_content_container  ul.petit {
	font-size: 10px; 
	color: #999; 
	width: 500px;
	}
.custom_content_container  ul.petit li {
	list-style-type: none; 
	list-style-position: outside; 
	margin: 0; 
	padding : 0; 
	display: block; 
	padding : 0 0 0 9px; 
	background:transparent url(http://www.castorama.fr/store/images/static_content/bulletCyan.png) no-repeat scroll 0 5px;
	}
.custom_content_container ul.nobullet li {
	background: none; 
	padding: 0;
	}
	
.custom_content_container .cadre .tableau table tr th span {
	font-size:10px;
	font-weight:normal;
}	

.custom_content_container UL.liste.petit {
	color: #232323;
	}	
	
.custom_content_container  .fourth p span.petit {
	font-weight: normal;
	font-size: 10px;
	} 	
	
.custom_content_container .cadre h2 {
	color: #09438b;
	font-size: 1.5em;
	font-weight: bold;
	padding: 0.475em 20px;	
	position: relative;
	width: 80%;
}	