#unsubscribe .whitePopupContent.popupFormContainer {
	width: 500px;
}

#unsubscribe .f-inputs {
	overflow: hidden;
	padding-left:0;
}

#unsubscribe .formMainBlock LABEL {
	width: 70px;
}

#unsubscribe .f-inputs LABEL {
	width:450px;
	text-align: left;
}