.votre-magasin {
	margin: 20px 0 0 0;
	overflow: hidden;
	float: left;
	/*float: none;*/
	width: 790px;
}

.clientspace .votre-magasin {
	margin-top: 0px;
}

.karte-header {
	padding: 15px 0 15px 0;
	clear: both;
	display: block;
}

.karte-left,
.karte-right {
	float: left;
}

.karte-left {
	width: 410px;
	border-right: 1px solid #b0b0b0;
}

.karte-region {
	position: relative;
	font-size: 10px;
	height: 245px;
	width: 410px;
}

.karte-region A {
	text-decoration: none;
}

.karte-small {
	position: absolute;
	right: 40px;
	top: 0;
	text-align: center;
	width: 45px;
}

.karte-big {
	margin: 0 auto;
}

.karte-left IMG {
	display: block;
	margin: 0 auto;
}

.karte-right {
	padding-left: 20px;
}

.karte-right LABEL {
	display: block;
	font-weight: bold;
	margin-bottom: 2px;
}

.karte-right div.selectbox-wrapper {
	top: 0;
	margin-left: 0;
}

.karte-right .ddWrapper {
	float: none;
	margin-bottom: 25px;
}

.magasins_banner {
	margin-top: 20px;
}

.magasins_banner DIV {
	background-color: #e9e9e9;
	margin: 1px 0 1px 0;
	padding: 10px;
}

.magasins_banner DIV P {
	margin-bottom: 5px;
}

.votre-magasin .productBlock {
	width: 790px;
}

.votre-magasin .productContent {
	width: 485px;
}

.votre-magasin .productImage {
	padding: 1px;
	width: 291px;
}

.votre-magasin .mapImage {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	width: 230px;
	padding: 0;
	text-align: center;
	position: relative;
	float: left;
	margin-right: 10px;
}

.mapImage .imgControlsBlock {
	margin: 0 0 4px 4px;
}

.mapImage .imgControlsBlock .controlButton {
	margin: 0;
}

.votre-magasin .productDecription {
	color: #484542;
	width: 100%;
}

.votre-magasin .productDecription H2 {
	text-transform: uppercase;
	color: #09438b;
	font-weight: bold;
	font-size: 12px;
}

.votre-magasin .productDecription P {
	padding: 3px 0 15px 0;
}

.votre-magasin .buttonSelMag {
	margin-top: 10px;
}

.votre-magasin .buttonOK,
.votre-magasin .selectbox {
	display: inline;
}

.votre-magasin .buttonOK {
	margin-left: 10px;
}

.votre-magasin .magservices {
	border: 1px solid #dbdbdb;
	padding: 12px;
	margin-top: 31px;
	margin-bottom: 41px;
	overflow: hidden;
	zoom: 1;
}

.votre-magasin .magservices UL {
	float: left;
	width: 50%;
	margin-top: 10px;
}

.votre-magasin .magservices UL LI {
	background-image: url(bulletBlack.png);
}

.magComment {
	/*margin-top: 41px;*/
	overflow: hidden;
}

.magComment .rightColumn {
	width: 243px;
	float: left;
}

.votre-magasin .productDecription .magComment P {
	padding: 10px 0 0 0;
}

.votre-magasin .magComment ul li {
	background-image: url(bulletBlack.png);
}

.magComment FORM {
	margin-top: 10px;
	margin-bottom: 10px;
}

.magComment FORM P {
	font-weight: bold;
	color: #09438b;
	padding-bottom: 10px;
}

.magComment FORM FIELDSET {
	margin-top: 12px;
	border:0;
	position: relative;
}

.magComment FORM FIELDSET INPUT {
	margin-bottom: 3px;
	width: 134px;
}

.magComment .buttonCalcul {
	top: 0px;
	left: 145px;
	position: absolute;
	width: 86px;
}

.magComment .imgControlsBlock {
	margin-bottom: 0;
}

.magComment .darkBlueLink {
	margin: 10px 0 0 10px;
	float: left;
	padding: 0 0 0 18px;
	width: 180px;
	display: inline-block;
	background: url(icoBlueArrow.png) no-repeat 0 1px;
	font-weight: bold;
}

.magComment .controlButton {
	margin-left: 0px;
}

#itineraire {
  position: absolute;
}
