/** Copyright 2007 Google Inc. All rights reserved. */

/**
 * CSS styles for the Custom Search Engine overlay built on top of AJAXSearch
 * API
 */

.cse-closeResults {
  float: right;
}

.cse-closeResults a {
  display:block;
  padding: 3px 5px;
  border: 1px solid #666;
  color:  #000;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  font-size: 10pt;
}

.cse-closeResults a:hover {
  background-color: #dddddd;
  border: 1px solid #000000;
}

.cse-overlay-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #000;
}

.cse-overlay {
  text-align: left;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
  width: 600px;
  background-color: #FFF;
  border: 1px solid #333;
  font-size: 12pt;
}

/**
 * Custom AJAXSearch styles
 */

.gsc-resultsHeader,
.gs-visibleUrl-short,
.gs-watermark
 { display: none; }

.gs-visibleUrl {
  color: #008000;
  font-size: 10pt;
}

.gs-visibleUrl-long {
  overflow: hidden;
}

.gs-title {
  font-size: 13pt;
}

.gs-snippet{
  font-size: 10pt;
}

.gsc-trailing-more-results,
.gsc-webResult,
.gs-divider {
  margin-bottom: 1em;
}

.gs-divider {
  margin-bottom: 1em;
  text-align: center;
  color: #676767;
}


/**
 * Default AJAXSearch styles largely from
 * http://www.google.com/uds/css/gsearch.css
 */

/* control inputs
 * .gsc-search-box : the container that hosts the text input area
 * .gsc-input : the text input area
 */
form.gsc-search-box {
  font-size: 13px;
  margin-top : 0px;
  margin-right : 0px;
  margin-bottom : 4px;
  margin-left : 0px;
  width: 300px;
}

/*
 * This table contains the input element as well as the search button
 * Note that the search button column is fixed width, designed to hold the
 * button div's background image
 */
table.gsc-search-box {
  border-style : none;
  border-width : 0px;
  border-spacing : 0px 0px;
  width : 100%;
  margin-bottom : 2px;
}

table.gsc-search-box td {
  vertical-align : middle;
}

table.gsc-search-box td.gsc-input {
  padding-right : 2px;
}

td.gsc-search-button {
  width : 1%;
}

/**
 * undo common generic table rules
 * that tend to impact branding
 */
table.gsc-branding td,
table.gsc-branding {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border : none;
}

table.gsc-branding {
  border-style : none;
  border-width : 0px;
  border-spacing : 0px 0px;
  width : 100%;
}

td.gsc-branding-text {
  vertical-align : top;
}

td.gsc-branding-text div.gsc-branding-text {
  padding-bottom : 2px;
  text-align : right;
  color : #676767;
  font-size : 11px;
  margin-right : 2px;
}

td.gsc-branding-img-noclear {
  width : 51px;
  vertical-align : bottom;
}

td.gsc-branding-img {
  width : 65px;
  vertical-align : bottom;
}

table.gsc-branding-vertical td.gsc-branding-text div.gsc-branding-text {
  margin-right : 0px;
  text-align : center;
}

table.gsc-branding-vertical td.gsc-branding-img-noclear {
  text-align : center;
}

div.gsc-branding-img,
div.gsc-branding-img-noclear,
img.gsc-branding-img,
img.gsc-branding-img-noclear {
  padding-top : 1px;
}

img.gsc-branding-img,
img.gsc-branding-img-noclear {
  margin : 0 0 0 0;
  padding-right : 0;
  padding-left : 0;
  padding-bottom : 0;
  border : none;
  display : inline;
}

a.gsc-branding-clickable {
  cursor : pointer;
}

input.gsc-search-button {
  margin-left : 2px;
}

/*
 * Given that this is sitting in a variable width tabel cell, the idea is
 * for it to consume the entire cell. The adjacent cell contains the search
 * button and that is a fixed width cell.
 */
input.gsc-input {
  padding-left : 2px;
  border-style : solid;
  border-width : 1px;
  border-color : #BCCDF0;
  width : 99%;
}

.gsc-results .gsc-cursor-box .gsc-trailing-more-results {
  margin-bottom : 0px;
  display : inline;
}

.gsc-results .gsc-cursor {
  display : inline;
}

.gsc-results .gsc-cursor-box {
  margin-bottom : 10px;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
  cursor : pointer;
  color : #000000;
  text-decoration: underline;
  margin-right : 8px;
  display : inline;
}

.gsc-cursor-page{
	font-size:10pt;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  color : #A90A08;
  font-weight : bold;
  text-decoration: none;
}

/**********************************************************/

/*** MOTEUR DE RECEHRCHE ***/

/*
		div,td,.n a,.n a:visited{
			color:#000
		}
		.ts td,.tc{
			padding:0
		}
		.ts,.tb{
			border-collapse:collapse
		}
		.ti{
			display:inline
		}
		.ti{
			display:inline-table
		}
		.f{
		color:#ccc
		}
		.flc,a.fl{
			color:#ccc
		}
		a,.w,.q:visited,.q:active,.q,.b a,.b a:visited{
			color:#777
		}
		a:visited{
			color:#369
		}
		a:active{
			color:#777
		}
		.t{
			background:#fff;
			color:#000;
			padding:5px 1px 4px
		}
		.bb{
			border-bottom:1px solid #369
		}
		.bt{
			border-top:1px solid #369
		}

		.h{
			color:#36c
		}
		.i{
			color:#ccc
		}

		.z{
			display:none
		}
		div.n{
			margin-top:1ex
		}
		.n a,.n .i{
			font-size:10pt
		}
		.n .i,.b a{
			font-weight:bold
		}
		.b a{
			font-size:12pt
		}
		#np,#nn,.nr,#logo span,.ch{
			cursor:pointer;
			cursor:hand
		}
		.ta{
			padding:3px 3px 3px 5px
		}
		#tpa2,#tpa3{
			padding-top:9px
		}
		.sl,.r{
			display:inline;
			font-weight:normal;
			margin:0
		}
		.sl{
			font-size:84%
		}
		.r{
			font-size:100%
		}
		.e{
			margin:.75em 0
		}
		.sm{
			display:block;
			margin:0;
			margin-left:40px
		}
		.slk td{
			padding-top:5px;
			padding-left:40px;
			vertical-align:top;
			font-size:84%
		}
		.slk div{
			text-indent:-10px;
			padding-left:10px
		}
		.csb,.n div,#logo span{
			background:url(/images/nav_logo3.png) no-repeat;
			height:26px;
			overflow:hidden
		}
		.n .nr{
			background-position:-60px 0;
			width:16px
		}
		#np{
			width:44px
		}
		#nf{
			background-position:-26px 0;
			width:18px
		}
		#nc{
			background-position:-44px 0;
			width:16px
		}
		#nn{
			margin-right:34px;
			width:66px
		}
		#nl{
			width:46px
		}
		#nn,#nl{
			background-position:-76px 0
		}
		#logo{
			display:block;
			height:52px;
			margin:13px 0 7px;
			overflow:hidden;
			position:relative;
			width:150px
		}
		#logo span{
			background-position:0 -26px;
			height:100%;
			left:0;
			position:absolute;
			top:0;
			width:100%
		}
		.ss{
			background:url(/images/nav_logo3.png) no-repeat;
			background-position:0 -87px;
			display:block;
			left:0;
			overflow:hidden;
			position:absolute;
			top:0
		}
		.cps{
			overflow:hidden;
			height:18px;
			width:114px
		}
		body,td,div,.p,a{
			font-family:arial,sans-serif
		}

		#sd{
			font-size:84%;
			font-weight:bold
		}
		#ap{
			font-size:64%
		}

		.ra{
			border:1px solid #369;
			margin-top:1ex;
			margin-left:1em
		}

*/


		*{
			font-family:arial,sans-serif
		}

		/* gs-webResult gs-result */
		#res .g{
			margin:1em 0
		}

		/* div.gs-title */
		#res h2.r{
			display:inline;
			font-weight:normal;
			margin:0
		}

		/* gs-snippet */
		#res td.j{
			width:34em
		}

		/* fichier */
		#res .f{
			color:#ccc
		}
		#res .f i{ /* phrase 'version texte' */
			display:none;
		}
		#res a,#res .w{
			color:#777
		}
		#res .b a,#res .b a:visited{
			font-size:10pt;
			color:#777;
		}

		/* a.gs-title */
		#res a.l{
			font-size:12pt
		}
		#res a{
			color:#777
		}
		#res a:visited{
			color:#369
		}
		#res a:active{
			color:#777
		}

		/* gs-visibleUrl */
		#res .a{
			color:#06c
		}


/* ------- pagination ---------- */

		#navbar.n a,#navbar.n a:visited{
			color:#000
		}

		#navbar .i{
			color:rgb(0, 102, 153);
		}

		/*.z{
			display:none
		}*/
		#navbar.n{
			margin-top:1ex
		}
		#navbar.n a,#navbar.n a:visited{
			color:#000
		}
		#navbar.n a,#navbar.n .i{
			font-size:10pt
		}
		#navbar.n .i,#navbar .b a{
			font-weight:bold
		}
		#navbar.n .b a{
			font-size:12pt;
			color:#777;
		}

		/*******************************/

		#navbar table td{
			padding:4px 3px 2px 3px;
		}

		#navbar.n td a,#navbar.n td a:visited{
			color:#000
		}

		#navbar table td .i{
			color:rgb(0, 102, 153);
		}

		/*.z{
			display:none
		}*/
		#navbar.n{
			margin-top:1ex
		}
		#navbar.n td a,#navbar.n td a:visited{
			color:#000
		}

		#navbar.n td a,#navbar.n td .i{
			font-size:10pt
		}
		#navbar.n td .i,#navbar td.b a{
			font-weight:bold
		}
		#navbar.n td.b a{
			font-size:12pt;
			color:#777;
		}

/** FIN MOTEUR DE RECHERCHE **/

