@CHARSET "ISO-8859-1";
#CPColGauche
{
	position: relative;
	display: block;
	width: 230px;
	float: left;
	margin: -80px 10px 35px 0;
}

#CPColGauche img
{
	border: 0;
	display: inline;
}

#CGBlocService
{
	margin: 10px 0;
	border: 0;
}

#CGBlocService ul, #CGBlocService li
{
	margin:0;
	padding:0;
}
#CGBlocService .libelleServices
{
	margin-left:25px;
}

#CGBlocService ul
{
	padding-left :100px;
	border: 0;
	background-color: transparent;
	background-repeat:no-repeat;
	background-position: 50px 4px;
	list-style-type: none;
	min-height:50px;
	/* bug ie6 */
	height:auto !important; 
	height:50px;
}

.CGService li
{
	border: 0;
}

#CGBlocService ul li ul, #CGBlocService ul li h4
{
    padding-left: 15px;
    border: 0;
    min-height:0px;
}

.CGService li ul li a
{
    color:orange;
    text-decoration: none;
    line-height:15px;
}

.CGService li a
{
	color:#494949;
	text-decoration: none;
	line-height:20px;
}

.CGService li a:hover
{
	text-decoration: underline;
}

.logoServicesPerso
{
	background-image:url('http://www.eure-en-ligne.fr/jsp/jahia/templates/eure-en-ligne/eure-en-ligne/images/colonneGauche/logoServicesPerso.png');
}

.logoServicesAsso
{
	background-image:url('http://www.eure-en-ligne.fr/jsp/jahia/templates/eure-en-ligne/eure-en-ligne/images/colonneGauche/logoServicesAsso.png');
}

.logoServicesPro
{
	background-image:url('http://www.eure-en-ligne.fr/jsp/jahia/templates/eure-en-ligne/eure-en-ligne/images/colonneGauche/logoServicesPro.png');
}

#CGBlocDiversServices
{
	margin: 20px 0 0 50px;
}

#CGCadreVertHaut
{
	background:transparent url('http://www.eure-en-ligne.fr/jsp/jahia/templates/eure-en-ligne/eure-en-ligne/images/colonneGauche/petitCadreHaut.gif') no-repeat; 
	width:101px; 
	height:10px;
	font-size: 0;
}

#CGCadreVertMilieu
{
	background:transparent url('http://www.eure-en-ligne.fr/jsp/jahia/templates/eure-en-ligne/eure-en-ligne/images/colonneGauche/petitCadreMilieu.gif') repeat-y; 
	width:101px; 
}

#CGCadreVertMilieu h5
{
	text-align:center;
	color:#000000;
}		

#CGCadreVertMilieu li
{
	list-style: none; 
	color:#EC7405;
	background: transparent url('http://www.eure-en-ligne.fr/jsp/jahia/templates/eure-en-ligne/eure-en-ligne/images/colonneCentre/orangeBulletL12H13.gif') no-repeat scroll 0 -1px;
	margin:3px 0 0 3px;
	padding-left:12px;
}

#CGCadreVertMilieu li a
{
	color:#494949;
}

#CGCadreVertMilieu li a:hover
{
	text-decoration: none;	
}		

#CGCadreVertBas
{
	background:transparent url('http://www.eure-en-ligne.fr/jsp/jahia/templates/eure-en-ligne/eure-en-ligne/images/colonneGauche/petitCadreBas.gif') no-repeat; 
	width:101px; 
	height:27px;	
}

.espaceDialogueUL, .espaceDialogueLI
{
	margin:0;
	padding:0;
}