/*******************************************************************
	Styles propres aux formulaires
*******************************************************************/


.erreur
{
	font-weight: bold;
	color: #FF0000;
}

fieldset
{
	border: 1px solid #003399;
	background-repeat: repeat-x;
	background-position: bottom;
	width: 680px;
}

.label
{
	/*background-color:Red;*/
	/*color: #0076BC;*/
	/*font-weight:bold;*/
	vertical-align: middle;
	width: 25%;
	padding: 0 0.5em 0 0;
	display: inline;
	float: left;
	text-align: right;
}

.labelMdpConfirm
{
	color: #0076BC;
	font-weight:bold;
	padding: 0em 0.5em 0 0;
	display: inline;
	text-align: right;
}

.zone
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FFFFFF;
	border: 1px #7F9DB9 solid;
}
.zonelecture
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FFFFFF;
	border: 1px #7F9DB9 solid;
}
.zoneNum
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FFFFFF;
	border: 1px #7F9DB9 solid;
}
.zone-presentation
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FFFFFF;
	padding-bottom: 15px;
}
.button, button
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid;
	background-color:#AAC9EF;
	margin-left: 2px;
}

.bo_formContainer input, select
{
	margin-bottom: 2px;
}
