body { 
	background-color: #ffffff; 
	margin: 0 auto;
	padding: 0; 
	text-align: center;
}
#conteneur {
	width: 990px;
	margin: 0 auto;
	border : 0;
	line-height: 0.9em;
}
#header {
	margin: 0;
	padding: 0;
}
#header .cci {
	display: block;
	width: 990px;
	height: 95px;
	background: url(bandeau-cci.gif) left top no-repeat;
}
#header .cdf {
	display: block;
	width: 990px;
	height: 95px;
	background: url(bandeau-cdf.gif) left top no-repeat;
}
#header .logo {
	float: left;
	width: 120px;
	height: 85px;
}
#searchForm {
	float: right;
	padding-right: 90px;
	margin-top: 50px;
	text-align: left;
}
#searchForm label {
	color: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;

}
#menu {
	width: 200px !important;
	background-color : #333399;
	vertical-align: top;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	padding-bottom: 20px;
}
#menu dl {
	margin: 0 0 10px 0;
	width: 200px;
}
#menu dt {
	display: block;
	background: url(menu_j.gif) top left no-repeat;
	height: 21px;
	color: #333399;
	text-align: center;
	padding-top: 3px;
}
#menu dt a {
	color: #333399;
	text-decoration: none;
}
#menu dt a:hover {
	color: #ff3366;
}
#menu ul {
	margin: 5px;
}
#menu li {
	margin: 0;
	padding: 0 0 2px 0;
	list-style-type: none;
}
#menu li a {
	color: #fff;
	text-decoration: none;
}
#menu li a:hover{
    color: #ff3366;
}

#cip {
	text-align: center;
	color: #db4318;
	font-size: 0.8em;
	margin: 20px 0;
}
#form_breves {
	text-align: center;
	color: #ffff00;
}


#content {
	width: 780px;
	padding: 10px 15px 10px 15px;
	vertical-align: top;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #333399;
}
#content td {
	color:#333399;
}
#footer {
	height: 50px;
	text-align: center;
	background-color: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #333399;
	border-top: solid 1px #333399;
	padding-top: 10px;
}
 /* Uniquement pour page accueil */
.homeBlock {
	display: block;
	width: 545px;
	height: 110px;
	margin: 10px 0;
}
.homeBlock a {
	font-size:12px;
	font-weight:bold;
	color:#990033;
}
.homeBlock span {
	display: block;
	height: 94px;
	padding-top: 25px;
}

#homeRightMenu {
	float: right;
	margin: -9px -15px; 0 0;
	padding: 0;
	width: 210px;
	height: 100%;
	border: #cfd9e1 solid 1px;
}
#homeRightMenu h2 {
	height: 20px;
	text-align: center;
	background: url(menu_bl.gif) center no-repeat;
	font-weight: bold;
	font-size: 9pt;
	font-style: normal;
	color: #990033;
	margin: -1px 0 0 0;
	padding-top: 2px;
}
#homeRightMenu p {
	margin: 6px 3px;
}
#homeRightMenu #journal {
	text-align: center;
	margin-bottom: 10px
}
#homeRightMenu #journal img {
	margin: 2px 0 5px 0;
}
#homeRightMenu #agenda  {
	margin-bottom: 10px;
}
#homeRightMenu #agenda a {
	text-decoration: none;
}
#homeRightMenu #event {
	height: 155px;
	text-align: center;
}
#homeRightMenu #event img {
	float: left;
	vertical-align: middle;
}
#homeRightMenu #breves a {
	text-decoration: none;
}

/* Accueil Centre de formation */
#homeCdf li {
	margin-bottom: 5px;
}
#homeCdf h1 {
	text-align: left;
}
#homeCdf h1 a {
	text-decoration: none;
}

/*********************************/
h1 {
	font-size: 1.8em;
	font-weight: bold;
	font-style: italic;
	line-height: 1.1em;
	color: #333399;
	text-align: center;
	margin: 1.2em 0;
}
h2 {
	font-size: 1.4em;
	font-weight: bold;
	color: #990033;
	text-align: center;
	margin: 1em 0;
}
h3 {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	margin: 0.5em 0;
}
h4 {
	font-size: 1.1em;
	font-weight: bold;
	color: #990033;
	margin: 0.5em 0;
}
h5 {
	font-size: 1.1em;
	font-weight: bold;
}
p, pre {
	margin: 0 0 1.4em 0;
}
blockquote {
	margin: 0 0 1.4em 1.4em;
}
ul, ol {
	margin: 0 1.4em 1.4em 1.6em;
}
hr {
	color: #333399;
	width: 80%;
	text-align: center;
	height: 1px;
	clear: both;
}

.center {
	text-align: center;
}
.right {
	float: right;
}
.left {
	float: left;
}
.margin15 {
	margin: 0 15px;
}
.clear {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}

a {
	color: #333399;
}
a:hover {
	color: #ff3366;
}

a.tm {
	font-weight: bold;
    color: #333399;
	text-decoration: none; 
}
a:hover.tm {
	color: #ff3366;
}

a.tmc {
	font-weight: bold;
    color: #333399;
	text-decoration: none;
	text-transform:uppercase;
}
a:hover.tmc {
	color: #ff3366;
}

   

/************* STYLE POUR BARRE DE NAV ENTREPRISE*************/
/* lien blanc */
a.onglet2 {
	text-decoration:none;
	vertical-align : 25%;
}
a.onglet2:hover {
	color: #FF3366 !important;
}

/* Liens de nav Transcommerce */
a.onglet {
	font-weight: bold;
	color: #ffffff !important;
	text-decoration: none;
}
a.onglet:hover {
    color: #FF3366 !important;
}

/*bleu ciel*/
.chif {
    FONT-SIZE:7pt;
    COLOR: #99CCFF;
    vertical-align : 25%;    
}
/*************FIN STYLE POUR BARRE DE NAV ENTREPRISE*************/



/*titre en rouge petite capitale*/
.titrg{
    FONT-WEIGHT: bold;
    TEXT-TRANSFORM: uppercase;
    COLOR: #990033;
}


.breveTitle {
	display:block;
	width:100%;
	padding:1px;
	background-color:#d4e6f6;
	font-weight:bold;
	color: #333399;
	margin-top: 5px;
}

.smallrg {
	font-size: 7pt;
	color: #990033;
}

.smallbl {
	font-size: 7pt;
}
.date {
	font-weight: bold;
	color: #990033;
}

/*---cellules fond bleu clair pour contenu et police bleu----*/
/*ex : tableau de page chiffres*/
.ciel {
    background: #f0f0fa;
    text-align : right;
}

.cielcentre {
    background: #f0f0fa;
    text-align : center;
}

.cieleft {
    background: #f0f0fa;
    text-align: left;
}
.sstit, td.tit {
	background: #6567e3;/*#3399FF;*/
	font-weight: bold;
	color: #FFFFFF !important;
	text-align: center;
}


 /* Page formation continue */
#fcNotes {
	float:right;
	width:33%;
	padding:3px;
	background-color:#eeeeee;
}

/* Page formation Apprentissage */
#arianeCdf {
	width:300px;
	float:left;
}

/* Revue de presse*/
.r2p_titre {
    FONT-SIZE: 7pt;
    FONT-WEIGHT: bold;
	COLOR: #333399;
    TEXT-DECORATION: none; 
}

a:hover.r2p_titre{
    COLOR: #FF3366;
}

