

/*
 * Mise en page des textes (bordures...)
 */

.chapo {
	line-height: 1.4em;
	margin-top: 1em;
}
.texte {
}
.ps {
	padding-top: 0.6em;
	margin-top: 0.6em;
	border-top: 1px dashed #404040;
}
.notes {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
	border-top: 1px solid #a0a0a0;
	padding: 1.5em;
}

/*
 * Habillage des menus et de la navigation
 */

.menu  { background-color: #0f0; margin: 0px 0px 16px; padding: 0px; border-top: 0px none; border-right: 1px solid #a0a0a0; border-bottom: 1px solid #a0a0a0; border-left: 1px solid #a0a0a0 }
.menu ul {
	display: block;
	margin: 0px;
	padding: 0px;
	padding-bottom: 4px;
	list-style: none;
}
.menu ol {
	display: block;
	margin: 0px;
	padding: 0px;
	padding-bottom: 4px;
	list-style: none;
}
.menu-titre  { font-size: 90%; background-color: #a52a2a; margin: 0px; padding: 3px 4px 2px; border-top: 1px solid #a0a0a0; border-bottom: 1px dashed #d0d0d0 }
.menu-item {
	margin: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 80%;
}

/* Des couleurs specifiques selon les types de menus */

.general		{ background-color: #f8f8e8; text-align:center; }
.general .menu-titre 	{ background-color: #fcfcf0; }
.breves 		{ background-color: #ffeaea; }
.breves .menu-titre	{ background-color: #fff2f2; text-align:center; }

.divers 		{ background-color: #eaeaff; }
.divers .menu-titre	{ background-color: #f2f2ff; text-align:center; }

.forums 		{ background-color: #e8f8f8; }
.forums .menu-titre	{ background-color: #f0fcfc; text-align:center; }


/*
 * Styles pour le contenu (c-a-d. la colonne principale)
 */

.contenu {
	margin: 15px;
}
.contenu h2.titre-extrait {
}
.contenu h2.titre-texte {
}
.contenu .surtitre {
	margin-top: 0em;
	margin-bottom: 0em;
}
.contenu .detail {
	margin-left: 2em;
}
.contenu .detail .important {
	color: #a02020;
}
.extrait {
	margin: 0.1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 2em;
	margin-right: 0.1em;
	line-height: 1.4em;
}
.liste-articles {
	margin-top: 1em;
	margin-bottom: 1em;
	clear: left;
}
.contenu .forum-repondre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 90%;
	font-weight: bold;
	margin-top: 0.6em;
}


/*
 * Disposition a l'ecran : colonnes, encarts, cartouches
 */

#principal {
	position: absolute;
	left: 30%;
	/*left: 18em;*/
	top: 0px;
	margin: 0px;
	padding: 0px;
	/*margin-right: 2em;*/
	margin-right: 3%;
	margin-top: 1.5em;
}

#plan {
	position: absolute;
	left: 2em;
	top: 0px;
	margin: 0px;
	padding: 0px;
	margin-right: 2em;
	margin-top: 2em;
}

#navigation {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24%;
	/*width: 14em;*/
	padding: 0px;
	margin: 0px;
	/*margin-left: 1.8em;*/
	margin-left: 3%;
	margin-top: 1.5em;
}

.encart  { float: right; margin: 1em 0px 0em 4%; top: 0px; width: 34% }

.cartouche  { margin-bottom: 0em }

.spip_logos {
	margin: 3px;
	border-width: 0px;
}

/*
 * Habillage du plan du site
 */

.plan-secteur  { font-size: 80%; clear: right; margin-top: 0em; margin-bottom: 2em }

.plan-secteur h1    { font-weight: bold; font-size: 150%; text-decoration: underline; background-color: transparent; text-align: left; margin: 0px; display: block }
.plan-secteur  a1 { color: black; font-weight: bold; text-align: left; margin: 0px; padding: 0px; display: block }
.plan-rubriques   { list-style-type: disc; clear: left; display: block }
.plan-rubrique      { font-weight: bold; margin: 0px; padding: 0px; display: inline }
.plan-rubrique a { font-weight: bold; margin: 0px; padding: 0px; display: inline }
.plan-articles    { list-style-type: square; clear: left; margin-top: 0.2em; margin-bottom: 0.2em }
.plan-article  { color: black; list-style-type: square; clear: left; margin-bottom: 0px; padding-bottom: 0px }
.plan-article a { color: black; clear: left }
li.plan-article a { color: black; list-style-type: square; clear: left }
/* Eclaircissement progressif des rubriques en fonction de la profondeur */

ul .plan-rubrique     { color: white; text-decoration: underline; border: #b8b8b8 }
ul .plan-rubriques   { list-style-type: square; margin: 0px 0px 5px 30px; padding: 0px; border: #b8b8b8 }
ul ul .plan-rubrique   { border: #d0d0d0 }
ul ul .plan-rubrique a { color: #808080; border: #d0d0d0 }
ul ul ul .plan-rubrique   { border: #e8e8e8 }


/*
 * Habillage des forums
 */

ul.forum-total {
	display: block;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.forum-fil {
	margin-top: 3em;
}
.forum-fil ul {
	display: block;
	margin: 0px;
	margin-left: 2em;
	padding: 0px;
	list-style: none;
}
.forum-titre {
	font-weight: bold;
	font-size: 120%;
}
.forum-item {
	margin: 0px;
	padding: 1em;
	padding-top: 0.5em;
	padding-bottom: 0em;
	text-align: justify;
	color: #303030;
	font-size: 80%;
}
.forum-repondre-message {
	text-align: right;
}

/* Boite d'un forum : eclaircissement progressif des bords */

ul .forum {
	border: 1px solid #909090;
	padding: 0px;
	margin: 0px;
	margin-bottom: 1em;
}
ul ul .forum {
	border: 1px solid #a4a4a4;
}
ul ul ul .forum {
	border: 1px solid #b8b8b8;
}
ul ul ul ul .forum {
	border: 1px solid #cccccc;
}
ul ul ul ul ul .forum {
	border: 1px solid #e0e0e0;
}
ul ul ul ul ul ul .forum {
	border: 1px dashed #e0e0e0;
}

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */

ul .forum-chapo {
	border: 0px;
	border-bottom: 1px dashed #b8b8b8;
	margin: 0px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 2px;
	font-size: 90%;
	background: #c4e0e0;
}
ul ul .forum-chapo {
	background: #d4e8e8;
}
ul ul ul .forum-chapo {
	background: #e4f0f0;
}
ul ul ul ul .forum-chapo {
	background: #f4f8f8;
}
ul ul ul ul ul .forum-chapo {
	background: #ffffff;
}


/*
 * Habillage des petitions
 */

.signatures {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
}
.signatures td, .signatures th {
	border: 0.4em;
}
.signatures-titre {
	clear: right;
	font-weight: bold;
	font-size: 120%;
	text-align: center;
	padding: 0.5em;
	margin: 0px;
}
.signature-date {
	white-space: nowrap;
	background: #e4f0f0;
	padding: 0.5em;
}
.signature-nom {
	font-weight: bold;
	background: #ecf4f4;
	padding: 0.2em;
	text-align: center;
}
.signature-message {
	font-size: 85%;
	background: #f4f8f8;
	padding: 0.4em;
	text-align: justify;
}


/*
 * Formulaires
 */

.formrecherche {
	background-color: #f2f2f2;
	color: #505030;
	margin: 0px;
	padding: 2px;
	border: solid 1px #909090;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-weight: normal;
}

.formulaire {
	color: black;
	margin: 0px;
	margin-bottom: 16px;
	padding: 4px;
	border: 1px solid #a0a0a0;
	background-color: #f6f6f6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-weight: normal;
}
.forml {
	background-color: #ececec;
	margin: 4px;
	padding: 1px;
	border: dashed 1px #909090;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
}
.spip_bouton {
	border: 2px solid #404040;
	padding: 3px;
	background: #d0d0d0;
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}

.spip-admin {
}


