/*################################### ANDIL :: 27/07/2006 ###################################*/
body, html {
	margin: 10px 0 0 0;
	padding: 0 0 0 0;
}
ul {
	margin: 5px 0 0 0;
	padding: 0 0 0 0;
}
li {
	padding: 0 0 0 0;
}
a {
	text-decoration:none;
}

/*### Header ###*/
#header {
	width: 964px;
	
	background: url(header_bckg.jpg) 0 0 no-repeat;
	text-align:left;
	padding: 127px 0 0 0;
}
#header #logo {
	width: 617px;
	height:80px;
}
#header #adresse {
	z-index:10;
	position:relative;
	top:-12px;
	left:155px;
	width:800px;
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #888;
	font-weight:bold;
}
#header #plan_acces {
	z-index:15;
	position:relative;
	top:-45px;
	left:839px;
	width:120px;	
}

/*### Contenu ###*/
#contenu {
	width: 964px;
	height: 490px;
	margin: -25px 0 0 0;
	
	background: url(contenu_bckg.gif) 0 0 no-repeat;
	text-align:left;
}
#recherche {
	padding: 15px 0 0 17px;
	float: left;
}
#recherche #champ {
	height: 18px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	background: #FFF url(loupe.gif) no-repeat;
	background-position: 3px center;
	padding-left: 16px;
	width: 150px; height: 15px; 
	color: #8f8f8f;
	border: 1px solid #b4b4b4;
}
#tools {
	padding: 16px 15px 0 0px;
	float:right;
}
#contenu #gauche {
	float:left;
	width:610px;
	padding: 10px 0 0 15px;
}
#contenu #gauche #rubriques {
	float:left;
	width:300px;
	height:190px;
	
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	font-size:14px;
	color:#5f5f5f;
}
#contenu #gauche #rubriques li {
	list-style-type: none;
}
#contenu #gauche #rubriques li a {
	line-height:23px;
	background:url(li_rubs.gif) 15px 2px no-repeat;
	padding: 0 0 5px 52px; 
	color:#5f5f5f;
}
#contenu #gauche #rubriques li a:hover {
	background:url(li_rubs2.gif) 15px 2px no-repeat;
	color:#9b0010;
}
#contenu #gauche #rubriques li a:visited {
	/*color:#9a9a9a;*/
	color:#5f5f5f;
}

#contenu #gauche #facultes {
	float:left;
	width:300px;
	height:190px;
	margin: 0 0 -10px 10px;
	
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#909090;
}
#contenu #gauche #facultes ul {
	margin:17px 0 0 0;
}
#contenu #gauche #facultes li {
	list-style-type:none;
}
#contenu #gauche #facultes li a {
	line-height:20px;
	background:url(li_facs.gif) 15px 5px no-repeat;
	padding: 0 0 5px 28px; 
	color:#5f5f5f;
}
#contenu #gauche #facultes li a:hover {
	background:url(li_facs2.gif) 15px 5px no-repeat;
	color:#9b0010;
}
#contenu #gauche #facultes li a:visited {
	/*color:#9a9a9a;*/
	color:#5f5f5f;
}
#contenu #gauche #profils {
	height:200px;
	background:url(profils_bckg.gif) 12px 29px no-repeat;
	margin:10px 0 0 0;
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#484848;
}
#contenu #gauche #profils a {
	color:#5f5f5f;
}
#contenu #gauche #profils a:hover {
	color:#9b0010;
}
#contenu #gauche #profils a:visited {
	/*color:#888;*/
	color:#5f5f5f;
}
#contenu #gauche #profils li {
	list-style-type:none;
}
#contenu #gauche #profils #etudiants, #contenu #gauche #profils #personnels, #contenu #gauche #profils #entreprises {
	float:left;
	width:183px;
	height:125px;
	padding: 8px 0px 0 20px;
	line-height:18px;
	
	font-weight:bold;
}
#contenu #gauche #profils #etudiants #titre, #contenu #gauche #profils #personnels #titre, #contenu #gauche #profils #entreprises #titre {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	font-size:14px;
	color:#9b0010;
	
	line-height:13px;
	height: 28px;
}
#contenu #gauche #profils #intranet {
	margin: 5px 0 0 13px;
}

#contenu #droite {
	float:right;
	width:315px;
	padding: 10px 10px 0 0;
}
#contenu #droite #agenda #actus {
	height:220px;
	overflow:auto;
}
#contenu #droite a {
	/*color: #ff6600;*/
	color:#5f5f5f;
}

#contenu #droite a:hover {
	color: #9b0010;
}
#contenu #droite #agenda #actu, #contenu #droite #alaune #scoop {
	width:296px;
	text-align:justify;
	line-height:11px;
	margin:5px 0 0 0;
}
#contenu #droite #agenda #actu #titre, #contenu #droite #alaune #scoop #titre {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	font-size:11px;
	color:#555454;
}
#contenu #droite #agenda #actu #corps, #contenu #droite #alaune #scoop #corps {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#888;
}
#contenu #droite #agenda #actu #suite, #contenu #droite #alaune #scoop #suite {
	margin:10px 0 0 0;
	text-align:right;
	clear:both;
}

#contenu #footer {
	padding: 5px 0 0 18px;
	
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	font-size:10px;
	color:#9b0010;
}
#contenu #footer a {
	color:#9b0010;
	text-decoration:underline;
}
#contenu #footer a:visited {
	color:#888;
	text-decoration:none;
}


