/*********** Confo Corp ***********/

/* Footer */

	/* block services engages conforama */
				
		#serviceEngageConfo h2{
			margin: 0 0 9px 0;
		}
		html>/**/body #serviceEngageConfo h2{
			margin: 0 0 6px 0;
		}
		
		.encartServiceEngage{
			width: 174px;
			float: left;
			overflow: auto;
		}
		
		.firstEncartServiceEngage{
			width: 173px;
		}
		
		.encartServiceEngage h3, .encartServiceEngageFakeH3{
			font-size: 11px;
			text-transform: uppercase;
			font-weight: bold;
			margin: 0 0 5px 0;
			padding: 4px 5px 4px 10px;
			border-top: solid 5px #f4c600;
			padding-left: 10px;
			background: #3d3188;
		}
		.encartServiceEngageFakeH3{
			margin: 0 0 5px 0;
			width: 250px;
			height: 14px;
			float: right;
		}
		
		.encartServiceEngage h3, .encartServiceEngage h3 a{color: #FFF;}
		
		.contenuEngageConfo{
			padding: 0 5px 0 10px;
		}
		
		.encartServiceEngage p{
			margin-bottom: 5px;
		}
		
		.setServiceBackground{
			overflow: auto;
			background: #FFF url("bg_serv_engage.gif") repeat 0px 0px;
		}
		.blockRightContextuel .illustr{
			float: left;
			margin-right: 10px;
		}
		.blockRightContextuel .illustr img{
			display: block;
		}
		#serviceEngageConfo .colTypeRight p, #serviceEngageConfo .colTypeRight h2{
			margin: 0 0 0 0;
			padding: 0;
			color: #707070;
		}
		
		#serviceEngageConfo .colTypeRight{margin-top: 25px;}
		
		#serviceEngageConfo .colTypeRight h2{margin-bottom: 5px;}
		html>body #serviceEngageConfo .colTypeRight h2{margin-bottom: 5px;}
		html>/**/body #serviceEngageConfo .colTypeRight h2{margin-bottom : 0;}
		
		#serviceEngageConfo .colTypeRight a{
			display: inline;
			padding-left: 10px;
			background: transparent url("puce_blue.gif") no-repeat -0px 4px;
			color: #244996;
		}
		
		#serviceEngageConfo .borderBottom{
			margin-bottom: 15px;
		}
		.borderBottom{
			width: 235px;
			border-bottom: solid 1px #cfccc9;
			overflow: auto;
		}
		
		#serviceEngageConfo form{
			overflow: auto;
		}
		html>body #serviceEngageConfo form p label{
			display: block;
		}
		#serviceEngageConfo form p, #serviceEngageConfo form p input{margin-top: 10px; display: block;}
		
		#serviceEngageConfo form input{
			display: block;
			float: left;
			margin-right: 5px;
		}
		
		
	/*/ block services engages conforama  */
	/* liste footer */
		#footer{
			margin: 20px auto 0 auto;
			width: 960px;
			text-align: center;
			border-top: solid 1px #cfccc9;
			padding-top: 5px;
			list-style-type: none;
			position: relative;
			height: 30px;
		}
		#footer li{
			display: inline;
		}
		#footer li, #footer li a{
			color: #707070;
			display: inline;
			margin-right: 6px;
		}
		
		#footer li.lasteElementFooter{margin-right: 0;}
	
		#footer.footerCheckOut{
			text-align: left;
		}
	
	/*/ liste footer */

/*/ Footer */
