/*********** Confo Corp ***********/

/* Contenu et structure de la home page du site confo corp */
	/* breadCrump */
		#breadCrump{
			overflow: auto;
			margin: 15px 0 10px 0;
			width: 960px;
			height: 14px;
		}
		#breadCrump, #breadCrump a, #breadCrump span{
			color: #244996;
		}
		#breadCrump a, #breadCrump span{
			display: block;
			float: left;
			margin-right: 10px;
		}
		#breadCrump span.displayNone{display: none;}
		#breadCrump a{
			background: transparent url("puce_blue.gif") no-repeat 0px 4px;
			padding-left: 10px;
		}
	/*/ breadCrump */
	
	/* colonnage home */
		#leftCol{
			width: 695px;
			float: left;
		}
		#rightCol{
			position: relative;
			width: 250px;
			height: 500px;
			float: left;
			text-align: right;
			margin-left: 15px;
			padding-top: 210px;
		}
		
		#rightCol #scalpBlock{
			position: absolute;
			top: -75px;
			z-index: 150;
			right: 0;
			display: block;
			width: 250px;
			float: none;
			clear: both;
		}
		
		
		#listAccesRight span{display: none;}
		
		#leftCol div.displayNone h1{display: none;}
		
	/*/ colonnage home*/
	
	/* encart référencement de la home */
	#contentAllWebsite #footerHomeConfo{
		border: solid 1px #cfcbc8;
		padding: 25px 15px 15px 15px;
		text-align: left;
		width: 920px;
		position: relative;
		margin: 0 auto;
		display: none;
	}
	#footerHomeConfo #linkCloseHome{
		display: block;
		width: 60px;
		height: 19px;
		position: absolute;
		top: 0;
		right: 0;
		display: none;
	}
	
	#footerHomeConfo h2{
		font-size: 1.1em;
		margin: 0;
		padding: 0;
	}
	#footerHomeConfo h2, #footerHomeConfo p{
		margin-bottom: 10px;
		color: #6f6f6f;
	}
	/*/ encart référencement de la home */
	
/*/ Contenu et structure de la home page du site confo corp */