/*********** Confo Corp ***********/
/* Feuille d'impression */

/* Header */
#header{
	height:auto;
	min-height:auto;
	padding-bottom: 0;
}

#headerCenterTopLeft ul, #headerCenterTopRight, #headerCenterBottomMenu, #searchNewsletterDiv, #posNavTop{
	display:none;
}

#logo{
	position:static;
}

#baseLine{
	/*margin-top:25px;*/
}

#breadCrump{
	height:auto;
	margin:0;
	overflow:auto;
	width:640px;
	
}
/* Fin Header */


/* Display None */
#breadCrumb, #footer, #rightCol, .colTypeRight, .setServiceBackground, .colTypeRight240, .encartHead, .btAddCriteres, .listHead, .listFoot, .TDSelCompare, .btFloatR, .buttonLinks, .bandeauTop .btFloatR, .pdtDetailTools, .basketGestion, #contentMenuMiniFarandole, #contentVignettesMiniFarandole, .qtyBloc ul, .trSubmits, .tdMontage, .guideEdito #btArticle, #encartGuide{
	display:none;
}
/* Display None */


/* Structure */
#leftCol{
	float:none;
	width:960px;	
}

#contentAllWebsite{
	/*position:static;*/
	text-align:inherit;
	width:640px;
}


#corpHtml, .colTypeLeft, .mainConteneurType{
	margin:0;
	/*position:static;*/
	width:960px;
}

.colTypeLeft h2{
	display:none;
}
/* Fin structure */

/* Farandole */
.titleMenuFarandole ul{
	display:none;
}

.setOverflow{
	overflow:inherit!important;
	width:640px;
	height:auto!important;
	position:static;
	display:block;
}

.mainFarandole{
	float:none;
	width:640px;
	position:static;
}

.mainFarandole a.linkPuce{
	display:none;
}

.bodyFarandole{
	float:none;
	width:640px;
	overflow:inherit;
	position:static;
	border: none;
}

.setWidth{
	position:static!important;
	width:640px!important;
	top:inherit!important;
	left:inherit!important;
}

.farandoleElement{
	padding:0;
	border-right: none;
}

.illustrFarandoleElement{
	padding-left:0;	
}

.farandoleDescriptPdt{
	padding-left:0;
	padding-right:0;
	position:static;
	margin:0;
	height:auto!important;
}

.farandoleDescriptPdt .pastilleImage{
	position:static;
}

.farandoleDescriptPdt h3{
	font-size: 15px;
}
/* Farandole en ligne */
.farandoleElement{
	float:none;
	width:640px;
	height:120px;
}

.illustrFarandoleElement{
	float:left;
	width: 200px;
	display:inline;
	text-align: left;
}
/* Fin Farandole */

.bandeauDemarque{
	float:none;
	width:640px;
}

.bandeauDemarque .bandeauSelection{
	border:none;
	color:#8C899E;
	float:none;
	height:auto;
	margin:0;
	width:640px;
}

.bandeauDemarque .visuDemarque{
	display:none;
}

.bandeauDemarque .titreBandeau{
	width:auto;
}

.bandeauDemarque ul{
	width:290px;
	display:none;
}

.bandeauDemarque li{
	margin:0;
	display:block;
	width:100%;
}

.bandeauTop{
	width:580px;
	height: auto;
}

/* catalogue */
.tableListprod{
	width:640px;
	height: auto;
	float: none !important;
	
}
.line2Prod{float: none !important;}
.tableListprod td.TDdesc {
	width: auto;
}

.line2Prod{
	float:none;
	width:640px;
	border-bottom:none;
}
/*
.colLeftProd, .blockColProd{
	width:300px;
	border-right:none;
	border-bottom:1px solid #CFCCC9;
}
*/

html>/**/body .line2Prod{
	float:none;
	width:840px;
	border-bottom:none;
}


html>/**/body .blockColProd{
	width:400px;
	border-right:none;
	border-bottom:1px solid #CFCCC9;
}


.blockColProd{
	width:300px;
	border-right:none;
	border-bottom:1px solid #CFCCC9;
}

.blockColProd .descProd{
	height:auto;
	position:static;
	width: auto;
	float:none;
}
/* Fin catalogue */

/* Fiche prod */

.pdtDetailLeft{
	margin: 0;
	display:block;
	float: left;
}

.pdtDetailRight{float: left; width: 437px;}

.pdtDetailBloc1{
	float:none!important;
	
} .pdtDetailBloc2{
	float:none!important;
	
} .ongletContainer{
	float:none!important;
	
} .moreInfosBloc {
	float:none!important;
	display:block;
	width: 437px;
	
}

#diapoImgPopin img,#diapoImg img{
	overflow: inherit!important;
	width:auto;
	display:inline!important;
}

.detailContentScroll{
	overflow:inherit!important;
	height:auto;
}
.navOnglet li a{
	display:none;
}

.navOnglet li.ongletACtive a{
	display:block;
	font-size: 1.3em;
}

.tdDelete{
	display:none;
}
/* Process de commande */

/* Evenementiel */
.blocEvent{
	border:none;
	width:640px;
}
.blocEventInt{
	width: 241px;
}
.blocEventInt h3, .blocEventInt div{
	margin:5px;
	padding:0;
}

.eventDossier, .eventDossierLast{
	padding-left:0;
	padding-right:0;
}

.listHead h3.floatLeft{
	float:none;
	width:640px;
}

.blocBrand.floatLeft, .blocPartner.floatLeft{
	float:none;
	width:640px;
}

.blocBrand.floatRight, .blocPartner.floatRight{
	float:none;
	width:640px;
}

/* Popin */

.bodyPopin{
	width:640px;
	position:static;
	padding:0;
	border:none;
}

.headerPopin{
	overflow:inherit;
	width:640px;
}

.headerPopin h2{
	float:none;
	width:638px;
}

a.btClose, a.btClose span, .headerPopin ul{
	display:none;
}

.pdtsComparison .tabTechniques{
	width:640px;
}

#contentPopin, #contentPopinZoom{
	width:640px!important;
	position:static!important;
	padding:0;
	border:none!important;
	margin:0!important; 
}     

div.popin{
	position:static!important;
	margin-left:0!important;
	left:0!important;
	top:0!important;
	width:640px!important;
}

#bodyGuide{
	width:640px;
	float:none;
}

.navHome a span{
	display:inline;
	font-size: 15px;
}

.navHome h3 {
	position:static;
	display:inline;
	margin: 0 15px;
}

.guideEdito{
	margin:0;
}

.guideEdito .guideEditoRight{
	float:none;
	width:640px;
}

.guideEdito .guideEditoRight h4{
	display:block;
	width:640px;
}

.mainConteneurType #embededPoductSheet #diapoImg img,
.mainConteneurType #embededPoductSheet #diapoImgPopin img{
	opacity:1 !important;
}

/* Confirmation Order */
.contentConfirmOrder p#introCheckOut{
	font-size:1.27em;
	font-weight:bold;
	margin-bottom:15px;
}
.contentConfirmOrder p{
	margin-bottom:15px;
}
.contentConfirmOrder .recapHeader{
	font-size:1.27em;
	font-weight:bold;
	margin-bottom:15px;
}
.contentConfirmOrder .orderContent #tabLivraison{
	border:1px solid #CFCCC9;
	margin-bottom:15px;
}
.contentConfirmOrder .orderContent #tabLivraison td{
	border:1px solid #CFCCC9;
	padding:0px 5px;
}
.contentConfirmOrder .orderContent #tabLivraison td.tdPrice{
	text-align:right;
}

/* */
.embededPoductSheet{
	width:960px!important;
	float:none!important;
	display:block!important;
	margin:0!important;
	overflow:auto !important;
	
}
#kitchen{
	width:640px!important;
	float:none!important;
	display:block!important;
	margin:0!important;
	overflow:auto !important;
}
.pdtComposition{
	float:none!important;
	display:block!important;
	margin:0!important;
	width: 100%!important;
}
.pdtCompositionPrice{
	float:none!important;
	display:block!important;
	margin:0!important;
	width: 100%!important;
}
.pdtCompositionScroll{
	height:100%!important;
	overflow:inherit!important;
}


/**/

/*
html>body #contentAllWebsite{
	position:relative !important;
}
*/

.pdtCompositionPrice{
	float:none;
	margin:0;
	display:block;
}


.blockColProd .descProd .caracProd {width: auto;}
.blockColProd .descProd ul {width: auto;}




.dispoMapFrance{display: none;}
/*ie6*/
*html .pdtDetailLeft{width: 300px;	margin: 0;	padding:0;}
*html .ongletContainer{width: 300px;	margin: 0;	padding:0;}
*html .pdtDetailTools{width: 300px;margin: 0;	padding:0;}
*html .detailContentScroll{width: 300px;margin: 0;	padding:0;} 
*html  #diapoImg img{width: 300px !important; height: auto !important;}
*html .pdtDetailLeft{	margin: 0;	padding:0;}
*html .pdtDetailBloc1{width: 300px;	margin: 0;	padding:0;}
*html .pdtDetailBloc2{	margin: 0;	padding:0;}
*html .moreInfosBloc {	margin: 0;	padding:0;}
*html .btLinks{width: 300px;	margin: 0;	padding:0;}


