/* taille des encarts type */

.contentEncartType{
	margin-bottom: 10px;
}
.encartType{
	display: block;
	position: relative;
	float: left;
}
.encartType a, .encartType img{display: block;}

.encartEntier{
	width: 100%;
}

.encartUnTier{
	width: 210px;
	margin-left: 10px;
}

.encartDeuxTier{
	width: 475px;
	margin-left: 10px;
}
.encartMoitier{
	width: 342px;
	margin-left: 10px;
}
.encartPremier{margin-left: 0;}

.encartSpaceRight{
	margin-left: 0;
	margin-right: 10px;
}
.encartSpaceLeft{
	margin-left: 10px;
	margin-right: 0px;
}