/*******************************************/
/*    Infobulle */
/*******************************************/
#wf2-infobulle { display:none; z-index:50; position:absolute; top:50%; left:50%; margin-left:-200px; margin-top:-222px; width:400px; height:245px; }
body > #wf2-infobulle { position:fixed; }
* html #wf2-infobulle  {
  left:expression( ( (screen.width-100)/2 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft :document.body.scrollLeft ) ) + 'px' ); 
  top:expression( ( (screen.height-122)/2 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop :document.body.scrollTop ) ) + 'px' ); 
}
		div#wf2-maincol { padding-top:70px;background:#fff url('http://www.euriware.fr/materials-ie/images/logo.jpg') 5px  10px no-repeat;}
		div#wf2-maincol { overflow:auto; border:1px solid #cc0033; font-family:arial,helvetica,lucida;font-size:11px;}
		div#wf2-maincol h1 { margin:10px; font-family: Verdana,Helvetica,Arial,sans-serif;color:#000; text-align:justify; font-size:12px; }
		div#wf2-maincol p { margin:10px; font-family: Verdana,Helvetica,Arial,sans-serif;color: #000; text-align:justify; }
		div#wf2-maincol a { text-decoration:none; color:#5d82a9;; }
		div#wf2-maincol a:hover,
		div#wf2-maincol a:focus { text-decoration:underline; }
