/**************** GENERAL ********************/

.chemin {
	font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #D1C8C8; }
.texte {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;}
.CorpsParaText {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;}
.bullet_boite {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #5D85A9; }
.titre { 
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #5F9E45; }

.lien_boite_menu {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #5D85A9; text-decoration: none;}
a.lien_boite_menu:link {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #5D85A9; text-decoration: none;}
a.lien_boite_menu:hover {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #646E98; text-decoration: underline;}
a.lien_boite_menu:active {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #646E98; text-decoration: underline;}
a.lien:link {
	font-family: Arial, Helvetica, sans-serif; color: #5D85A9; font-size: 12px; text-decoration: underline;}
a.lien:hover {
	font-family: Arial, Helvetica, sans-serif; color: #5F9E45; font-size: 12px; text-decoration: none; background-color:#E9E9E9;}
a.lien:active {
	font-family: Arial, Helvetica, sans-serif; color: #5F9E45; font-size: 12px; text-decoration: none; background-color:#E9E9E9;}
a.lien:visited {
	font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: 12px; text-decoration: underline;}
	
/**************** PAGE d'ACCUEIL ********************/
.titre_boite {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; }
.titre_onglet {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; }
.lien_onglet_actualite {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #CC0033; text-decoration: none;}
a.lien_onglet_actualite:link {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #CC0033; text-decoration: none;}
a.lien_onglet_actualite:hover {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #CC0033; text-decoration: underline;}
a.lien_onglet_actualite:active {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #CC0033; text-decoration: underline;}
.lien_onglet_evenements {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #5D85A9; text-decoration: none;}
a.lien_onglet_evenements:link {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #5D85A9; text-decoration: none;}
a.lien_onglet_evenements:hover {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #5D85A9; text-decoration: underline;}
a.lien_onglet_evenements:active {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #5D85A9; text-decoration: underline;}
.lien_boite {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; text-decoration: underline;}
a.lien_boite:link {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; text-decoration: underline;}
A.lien_boite:hover { 
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; text-decoration: underline;}
A.lien_boite:active {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; text-decoration: underline;}

/**************** GROUPE EURIWARE ********************/
.management_nom {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #5D85A9; }
	
/**************** METIERS ********************/
/**************** SOLUTIONS ********************/
/**************** CLIENTS ********************/
.titre_boite_client {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #5F9E45; }
/**************** CARRIERE ********************/
/**************** PRESSE ********************/
.puce {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FDC232;
}

.lien_boite_presse {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #CC0033; text-decoration: underline;}
a.lien_boite_presse:link {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #CC0033; text-decoration: underline;}
A.lien_boite_presse:hover { 
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #CC0033; text-decoration: underline;}
A.lien_boite_presse:active {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #CC0033; text-decoration: underline;}


/*************** EVENEMENTS *******************/
.lien_boite_event {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #5F9E45; text-decoration: underline;}
a.lien_boite_event:link {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #5F9E45; text-decoration: underline;}
A.lien_boite_event:hover { 
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #5F9E45; text-decoration: underline;}
A.lien_boite_event:active {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #5F9E45; text-decoration: underline;}


/* STYLES POUR REFERENCEMENT

/* Version pour un lien sur du texte */

a.lienplan,
a.lienplan:hover,
a.lienplan:visited,
a.lienplan:active,
a.lienplan:focus
{
  font-size: 9px;
  color: #D1C8C8;
  cursor: text;
  text-decoration: none;
  /*
  autres propriétés eventuellement nécessaires
  font-family;
  font-size;
  font-weight;
  */
}
/* Fin version pour un lien sur du texte */


/* Version pour un lien sur une image

a.lienplan,
a.lienplan:hover,
a.lienplan:visited,
a.lienplan:active,
a.lienplan:focus
{
  cursor: default;
  text-decoration: none;
  border:none;
}
/* autres propriétés eventuellement nécessaires
a.lienplan img {
  border:none;
}
*/

/* Fin version pour un lien sur une image */

/* FIN STYLES POUR REFERENCEMENT */


body { 
SCROLLBAR-face-color: #EBCECF;
SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
SCROLLBAR-SHADOW-COLOR: #ffffff;
SCROLLBAR-3DLIGHT-COLOR: #ffffff;
SCROLLBAR-ARROW-COLOR: #cc0033;
SCROLLBAR-TRACK-COLOR: #F6F6F8;
SCROLLBAR-DARKSHADOW-COLOR: #ffffff }

/* OLD */
.txtGrisClair {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #808285;
}
A.txtGrisClair:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #373737;
}
A.txtGrisClair:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #373737;
}
.txtBaseline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #AA2D2F;
	font-weight: bold;
	text-decoration: none;
}
.txtRouge15 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #cc0033;
	font-weight: bold;
	text-decoration: none;
}
.txtBlanc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.txtJaune {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FDC232;
}
.txtBleu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #5D85A9;
}
.txtForm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.linkBlack {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.linkRouge:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #cc0033;
	text-decoration: underline;
}
.linkRouge {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #cc0033;
	text-decoration: underline;
}
.linkRouge9:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #cc0033;
	text-decoration: underline;
}
.linkRouge9 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #cc0033;
	text-decoration: underline;
}
a.linkBleu:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #5D85A9;
	text-decoration: underline;
}
a.linkNoirPetit:link{	font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:9px; text-decoration:none}
a.linkNoirPetit:visited{ font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:9px; text-decoration:none}
a.linkNoirPetit:active{ font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:9px; text-decoration:none}
a.linkNoirPetit:hover{ font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:9px; text-decoration:underline}

a.RollRedBlack11:link{	font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:11px; text-decoration:none}
a.RollRedBlack11:visited{ font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:11px; text-decoration:none}
a.RollRedBlack11:active{ font-family: Arial, Helvetica, sans-serif; color:#cc0033; font-size:11px; text-decoration:none}
a.RollRedBlack11:hover{ font-family: Arial, Helvetica, sans-serif; color:#cc0033; font-size:11px; text-decoration:underline}

.selectfooter {color:#cc0033; font-size:10px; font-family:Arial; width:167px}