body.john_lewis { background:#96b3e3 url(john-lewis.jpg) no-repeat scroll 50% 0; }
body.john_lewis #root { background: #ffffff none repeat scroll 0 0; }
body.john_lewis #content { background-color: #ffffff; }
body.john_lewis #footer { background-color: #ffffff; }
body.john_lewis #content { margin-bottom: 0 !important; } 

body.ski_travel { background:#ffffff url(wallpaper_canada.jpg) no-repeat fixed 50% 0; }
body.ski_travel #root { background: #ffffff none repeat fixed 0 0; }
body.ski_travel #content { background-color: #ffffff; }
body.ski_travel #footer { background-color: #ffffff; }
body.ski_travel #content { margin-bottom: 0 !important; } 

body.no_partner { background: none; }
body.no_partner #root { background: #ffffff none repeat fixed 0 0; }
body.no_partner #content { background-color: #ffffff; }
body.no_partner #footer { background-color: #ffffff; }
body.no_partner #content { margin-bottom: 0 !important; } 

body.furtherEd { background:#ffffff url(ncfe.jpg) no-repeat fixed 50% 0; }
body.furtherEd #root { background: #ffffff none repeat fixed 0 0; }
body.furtherEd #content { background-color: #ffffff; }
body.furtherEd #footer { background-color: #ffffff; }
body.furtherEd #content { margin-bottom: 0 !important; }

/* Racing */
.racing { padding: 0 0 2em; font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif; }
.racing h2 { color: #333; font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif; font-size: 1.8em; }
.racing h3 { overflow: hidden; color: #B22; font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif; font-weight: 700; font-size: 1.1em; text-transform: uppercase; }
.racing h3.separated { margin: 0 0 15px; padding: 0 0 8px; border-bottom: 4px solid #cdcdcd; }
.racing h3 a.right { float: right; font-size: 1.1em; font-weight: 400; text-transform: none; }
.racing .table { margin-top: 5px; padding: 10px 8px 0; border: 1px solid #cdcdcd; background: #fff url("video-editors-choice-background.png") repeat-x 0 0; }
.racing table { width: 100%; border-collapse: collapse; font-size: 1.3em; }
.racing table th { padding: 1em 0; color: #125581; text-align: left; }
.racing table td { padding: 1.25ex 0; border-top: 1px solid #cdcdcd; }
.racing table a.nagme { float: right; margin-right: 10px; }
a.nagme { float: left; width: 43px; padding: 0 1px 3px 17px; background: transparent url("nagme.png") no-repeat 0 0; color: #fff; font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif; font-size: 9px; font-weight: 400; line-height: 12px; text-align: center; }
a.nagme:hover { background-position: 0 100%; color: #fff; text-decoration: none; }
