﻿/* CSS Document */
.container
{
	position:relative;
	width:515px;
	margin:5px 10px 10px 5px;
} 
/*Encadré*/
.productDisplay{
	position:relative;
	width:156px;
	height:220px;
	border:0px solid #c6c6c6;
	background-color:#FFFFFF;	
	float:left;
	margin:0 10px 10px 0;

}
.productDeco{
	position:relative;
	border:0px solid #ffffff;
	padding:4px;
}
.productDisplay div.productDetailsDisplay{
	position:relative;
	height:90px;
}
/*Image*/
.productDisplay div.productDetailsPicto{
	position:relative;
	float:right;
}

/* Fond bleu ajouter commande */
.productDisplay div.productBottomDisplay{
	position:relative;
	height:42px;
	background-color:#ebedf1;
	padding:4px 10px 0 10px;

}

/**/
.divIdentite{
	position:relative;
	width:150px;
	border:0px solid #ebedf1;
	background-color:#FFFFFF;	
	float:left;
	margin:0 10px 10px 0;
}

.divmonPanier{
	position:relative;
	width:325px;
	border:0px solid #e0dedf ;
	background-color:#FFFFFF;	
	float:left;
	margin:0 10px 10px 0;
	text-align:left;
}
.divmonPanierLibelle
{
	text-align:left;
	background-image:url(Ombre_ht.gif);
	background-repeat:repeat-x;

}
.divtraitSeparationPanier
{
	background-color:#FFFFFF;
	width:inherit;
	height:inherit;
	border-top:1px solid #ebedf1;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:5px;
	margin-top:5px;
	}
.divNomArticle
{
	width:150px; height:auto;
	float:left;
	text-align:left;
}
.divQuantite
{
	width:50px; height:auto;
	float:left;
	text-align:center;
}
.divNomElu
{
	margin-left:10px;
	margin-right:10px;
	margin-bottom:5px;
	margin-top:5px;
}
.divtraitSeparationNomElu
{
	background-color:#FFFFFF;
	width:inherit;
	height:inherit;
	border-top:1px solid #ebedf1;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:5px;
	margin-top:5px;
	}
.divPU
{
	width:50px; height:auto;
	float:left;
	text-align:right;
}
.divMot
{
	width:100px; height:auto;
	float:left;
	text-align:center;
}
.divTotal
{
	width:50px; height:auto;
	float:right;
	text-align:right;
}
.divSeparator
{
	width:50px; height:auto;
	float:left;
	}
.divMot
{
	width:30px; height:auto;
	float:left;
	text-align:left;
}
.divTotalPanier
{
	background-color:#ecf5f2;
	width:490px;
	border-top:1px solid #ebedf1;
	}
.divSoldeEnCours
{
	margin-left:10px;
	margin-right:10px;
	text-align:left;
		}
.divBoutonCommander
{
	vertical-align:top;
	text-align:right;
	margin-right:10px;
	}
.divErreur
{
	position:absolute;
	display:none;
	background-color:#ecf5f2;
	border:1px solid #ebedf1;
	width:400px;
	height:50px;
	text-align:center;
	color:Red;

	left:50%;
	padding:15px;

	-moz-opacity:.50;


	}
	
	
.divErreurSolde
{
	position:absolute;
	display:none;
	background-color:#ecf5f2;
	border:1px solid #ebedf1;
	width:400px;
	height:50px;
	text-align:center;
	color:Red;
	top:50%;
	left:40%;
	padding:15px;

	-moz-opacity:.50;


	}
.imageArticle
{ 
	text-align:center;
	border:1px solid #ebedf1;
	margin-left:1px;
	margin-right:1px;
	margin-bottom:1px;
	margin-top:1px;
	padding:15px;
}

.divLigneCommande
{
	position:absolute;
	/*display:none;*/
	border:1px solid #ebedf1;
	width:400px;
	
	text-align:center;
	top:30%;
	left:30%;
	background-color:#ecf5f2;
	
	z-index:2000;
	


	}
/* Fin Coffret */


