h1 .chemin {
	color:#928300;
}

h2 {
	color:#928300;
}

a:hover {
	color:#928300;
}

ul {
	color:#928300;
}

li {
	color:#928300;
	list-style-type:square
}

.actu h1 {
	color:#928300;
}

.article h1{
	color: #928300;
}

.article h2 {
	color: #928300;
}

.article ul {
	color:#928300;
}

.article li {
	color:#928300;
}

.btn {
	background-color: #928300;
	border: 1px solid #484100;
}

#lapage #lecontenu .news ul {
	color:#928300;
}

#lapage #lecontenu .news li {
	color:#928300;
}

#lepied {
	background-image: url(prise-1.png);
}

