body {
	background-color:#ffffff;
	height:100%;
	margin:0px;
	padding:0px;
}

#lapage {
	background-image:none;
}

#entete {
	width:700x;
	padding: 0px 40px 110px 40px;
}

#bandeauflash {
	visibility:hidden;
}

#partagersur {
	visibility:hidden;
}

#logo {
	visibility: visible;
}

#lecontenu {
	padding: 120px 40px 120px 40px;
}

#lepied {
	visibility:hidden;
}

.boutons {
	visibility:hidden;
}