


/* -----------------------------------------------------------------------
topnav
screen styles tagesschau.de rebrush
author: stefan bruemmer, vektorfabrik.de

1:1 ubernahme von  masternavi_neu.css mit 2 zusaetzen am ende des dokuments

version: 29.07.09
----------------------------------------------------------------------- */


/* Seitencontainer */

#wrapper {
width: 100%; 
display: block;
margin: 0;
padding: 0;
float: left;
}

/* Container fuer gesamten Content-Bereich. Linke, rechte und mittlere Spalte */

#ardAll {
    width: 998px !important; 
    margin: 0 auto !important;
}

#content { 
width: 100%;
padding: 0;
float: left;
background: #fff;
margin: 0;
}

img { border: 0; }


.left { float: left; }
.right { float: right; }


.inv { display: none !important; }



.marke {
	clear: both;
	padding: 0;
	margin: 0;
	width: 100%;
	float: left;
	height: 32px;
	}
	
.marke p {
	padding: 0.75em 0 0 0;
	margin: 0;
	float: left;
	display: inline;
	color: #fff;
	font-size: 0.7em;
	}
	
.marke img.ardde {
	padding: 0;
	margin: 0;
	float: right;
	display: block;
	}



/* Container fuer die Reiter selbst  */	
.NaviContainer {
	clear: both;
	padding: 0;
	margin: 0;
	width: 100%;
	float: left;
	background: #c1d5e4 url("sprites.png") no-repeat left top;
	} 


.NaviContainer .listContainer {
	width: 100%;
	margin: 0;
	padding: 0;
	float: left;
	}

.NaviContainer ul {
	margin: 0;
	padding: 0;
	display: block;
	} 
	

.NaviContainer ul.right {
	margin: 0;
	padding: 0;
	float: right;
} 

	

.NaviContainer li {
	font-size: 0.75em;
	list-style-type: none;
	float: left;
	}

.NaviContainer a {
	color: #001a4b;
	text-decoration: none;
	display: block;
	padding: 0.6em 14px;
	margin: 0;
	text-align: center;
	background: none;
	text-decoration: none !important;
	}
	
.NaviContainer ul.right a {
	color: #fff;
	padding: 0.6em 13px 0.6em 13px;
	}
	
 /* IE 6 * fuer beste Darstellung der Abstaende, v.a. auf 800_600 */
** .NaviContainer ul.right a { padding: 0.6em 13px 0.6em 14px; }

/* IE 6 * fuer beste Darstellung der Abstaende, v.a. auf 800_600 */
*html .NaviContainer a { padding: 0.6em 13px 0.6em 13px; }
*html .NaviContainer ul.right a { padding: 0.6em 11px 0.6em 12px; }

/* IE 7 * fuer beste Darstellung der Abstaende, v.a. auf 800_600 */
*+html .NaviContainer a { padding: 0.6em 13px 0.6em 13px; }
*+html .NaviContainer ul.right a { padding: 0.6em 11px 0.6em 12px; }




/* Das sind die ganzen hovers fuer die onmouseovers */

a.home:hover, a.home:focus, a.home:active { background: url("sprites.png") no-repeat left -90px; }

a.nachrichten:hover, a.nachrichten:focus, a.nachrichten:active { background: url("sprites.png") no-repeat -97px -90px; }

a.sport:hover, a.sport:focus, a.sport:active { background: url("sprites.png") no-repeat -201px -90px; }

a.boerse:hover, a.boerse:focus, a.boerse:active { background: url("sprites.png") no-repeat -266px -90px; }

a.ratgeber:hover, a.ratgeber:focus, a.ratgeber:active { background: url("sprites.png") no-repeat -333px -90px; }

a.wissen:hover, a.wissen:focus, a.wissen:active { background: url("sprites.png") no-repeat -419px -90px; }

a.kultur:hover, a.kultur:focus, a.kultur:active { background: url("sprites.png") no-repeat -494px -90px; }

a.kinder:hover, a.kinder:focus, a.kinder:active { background: url("sprites.png") no-repeat -562px -90px; }

a.intern:hover, a.intern:focus, a.intern:active { background: url("sprites.png") no-repeat -632px -90px; color: #001a4b !important; }


a.fernsehen:hover, a.fernsehen:focus, a.fernsehen:active { background: url("sprites.png") no-repeat -738px -90px; color: #001a4b !important; }

a.radio:hover, a.radio:focus, a.radio:active { background: url("sprites.png") no-repeat -833px -90px; color: #001a4b !important; }

a.mediathek:hover, a.mediathek:focus, a.mediathek:active { background: url("sprites.png") no-repeat -898px -90px; color: #001a4b !important; }





/* AKTIV */

a.homeaktiv { background: url("sprites.png") no-repeat left -90px; }

/* braucht die Tagesschau, wenn Nachrichten AKTIV */
a.nachrichtenaktiv { background: url("sprites.png") no-repeat -97px -90px; }

/* braucht der Sport, wenn Sport AKTIV */
a.sportaktiv { background: url("sprites.png") no-repeat -201px -90px; }

/* braucht die Boerse, wenn Boerse AKTIV */
a.boerseaktiv { background: url("sprites.png") no-repeat -266px -90px; }


a.ratgeberaktiv { background: url("sprites.png") no-repeat -333px -90px; }
a.wissenaktiv { background: url("sprites.png") no-repeat -419px -90px; }
a.kulturaktiv { background: url("sprites.png") no-repeat -494px -90px; }
a.kinderaktiv { background: url("sprites.png") no-repeat -562px -90px; }
a.internaktiv { background: url("sprites.png") no-repeat -632px -90px; color: #001a4b !important; display: block; }

a.fernsehenaktiv { background: url("sprites.png") no-repeat -738px -90px; color: #001a4b !important; }
a.radioaktiv { background: url("sprites.png") no-repeat -833px -90px; color: #001a4b !important; display: block; }
a.mediathekaktiv { background: url("sprites.png") no-repeat -898px -90px; color: #001a4b !important; display: block; }

a.radiopopaktiv { background: url("sprites.png") no-repeat -833px -90px; color: #001a4b !important; }

.impretc {
	clear: both;
	padding: 8px 8px 7px 8px;
	margin: 0;
	width: 982px;
	float: left;
	border: 0;
	display: inline;
	}
	
** .impretc { padding: 8px 8px 9px 8px; }
	
*html .impretc { padding: 8px 8px 12px 8px; }
*+html .impretc { padding: 8px 8px 12px 8px; }
	

body .impretc { background: url("header_tsde1000x78.jpg") no-repeat 0 0; }



.impretc span.pixel { float: left; }
	
.impretc span.pixel img { width: 19.25em; height: 3.65em; }
	

.impretc ul {
	display: inline;
	padding: 0;
	margin: 0.5em 0.5em 0 0.5em;
	float: right;
	border-left: 1px solid #fff;
	}

.impretc ul li {
	clear: both;
	display: inline;
	padding: 0 0.25em 0.12em 0.75em;
	margin: 0;
	float: left;
	font-size: 0.65em;
	color: #fff;
	list-style-type: none;
	}
	
*html .impretc ul li { padding: 0 0.25em 0.25em 0.75em;	}

.impretc ul li a:link, .impretc ul li a:visited {text-decoration: none; color: #fff; }

.impretc ul li a:hover, .impretc ul li a:active, .impretc ul li a:focus  {text-decoration: underline; color: #fff; }
	
	
/* DasErste */
.impretcFit.fernsehencol .impretc ul li { color: #264966; }


/* Boerse */
.impretcFit.boersecol .ardDate p { color: #000; }	
.impretcFit.boersecol .impretc ul li { color: #000; }
	
	


.impretcFit.fernsehencol .impretc li a:link, .impretcFit.fernsehencol .impretc ul li a:visited  {text-decoration: none; color: #264966; }
.impretcFit.fernsehencol .impretc li a:hover, .impretcFit.fernsehencol .impretc li a:active, .impretcFit.fernsehencol .impretc li a:focus {text-decoration: underline !important; color: #264966; }


.impretcFit.boersecol .impretc li a:link, .impretcFit.boersecol .impretc ul li a:visited  {text-decoration: none; color: #001a4b; }

.impretcFit.boersecol .impretc li a:hover, .impretcFit.boersecol .impretc li a:active, .impretcFit.boersecol .impretc li a:focus {text-decoration: underline !important; color: #001a4b; }


/* zusatz von bruemmer */
.NaviContainer a {padding-top: 0.7em;}
.impretc{height:63px;}




