

#titre_site h1{
	margin: 0px;
	padding: 0px;
	height: 148px;
	width: 292px;
	text-indent: -1000em;
}

#titre_site h1 a{
	display: block;
	height: 148px;
	background: transparent;
	text-decoration: none;
}
#titre_n1_to_hide{
	display: none;
}
.header_date_text{
	font-family: Trebuchet MS;
	width: 100%;
	margin: 0px;
	padding: 0px;
	padding-left: 15px;
	text-align: left;
	font-size: 10px;
	font-weight: bold;
	
}
.td_rootline{
	height: 18px;
	padding-left: 15px;
	padding-right: 15px;
}
.header_rootline_text{
	color: #999999;
	background-color: transparent;
	text-align: left;
	font-size: 10px;
}
.header_rootline_text a, .header_rootline_text a:visited, .header_rootline_text a:hover{
	background-color: transparent;
	color: #999999;
}
.header_rootline_text a:hover{
	background-color: transparent;
	color: #999999;
	text-decoration: underline;
}
.rootline_separator{
	font-weight: bold;
	font-size: 10px;
}
.div_titre_du_niveau{
	height: 20px;
	width: 173px;
}
ul, ol{
	padding-top: 5px;
	padding-bottom: 10px;
}
#titre_page_courante{
	margin-top: 10px;
	background-color: transparent;
	color: red;
	font-size: 14px;
	font-weight: bold;
	text-align:left;
}
p.bodytext, p, table.bodytext{
	font-size: 11px;
	text-align: justify;
}
#texte_principal ul, #texte_principal ol{
	font-size: 11px;
	text-align: justify;
}
/*ul, h3{
	padding: 0px;
	margin: 0px;
}*/
/*h1{

	margin-top: 10px;
	margin-bottom: 10px;
	background-color: transparent;
	color: red;
	text-align:left;
	font-size: 110%;
	font-weight: bold;
}*/
h1{

	margin-top: 10px;
	margin-bottom: 10px;
	background-color: transparent;
	color: #1A3167;
	text-decoration:underline;
	text-align:left;
	font-size: 24px;
	font-style:italic;
	font-family:tahoma;
	font-weight: normal;
}

h2{
	background: transparent url(http://www.pointe-a-pitre.cci.fr/fileadmin/templates/site/charte/images/puce_h2.gif) no-repeat;
	height: 29px;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 35px;
	color: #011b56;
	font-size: 14px;
	font-weight: bold;
}
/*h2:hover{
	background: transparent url(../images/puce_h2_over.gif) no-repeat;
}*/
h3{
	background-color: transparent;
	/*color: #ff8202;
	text-decoration: underline;*/
	font-size: 13px;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
}
h4{
	background-color: transparent;
	color: orange;
	font-size: 12px;
	font-weight: bold;
}
.content_central_div {
	padding-top:10px;
	text-align:left;
}

.content_central_div ul{
	font-size: 11px;
}
#texte_principal{
	/*font-size: 78%;*/
	text-align:left;
}
.titre_de_la_page{
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 15px;
	padding-bottom: 0px;
}
.rootline_de_la_page{
	padding-left: 15px;
	padding-right: 15px;
}
.choisir_rubriques{
	padding-bottom: 20px;
	font-family: Trebuchet MS;
}
#img_les_missions_cci{
	width: 100%;
	height: 253px;
	background: transparent url(http://www.pointe-a-pitre.cci.fr/fileadmin/img/photos/les_missions_de_la_cci.jpg) no-repeat center top;
}
.recherche_avancee {
	font-size: 10px;
	color:#1C3365;
	cursor:hand;
	
	text-align:right;
}

/* Formulaire d'inscription */
label {
font-size:11px;
text-align:left;
}
dd {
font-size:11px;
}

dt {
font-size:11px;
}

