/* CSS Document */


#bloc_contenu_html {
	width: 543px;
	height: 543px;
	font-size: 11px;
	line-height: 10px;

}

#bloc_election1 {
	width: 350px;
	position: relative;
	float:left;
}
#bloc_election2 {
	width: 150px;
	text-align:center;
	position: relative;
	float:left;
}

#bloc_info_transport
{
	display: none;
	width:138px;
	position:absolute;
	border: #cccccc 1px solid;
	background-color: #e9e9e9;
	top:36px;
	left:214px;
	padding-top:8px;
	padding-bottom:8px;
	line-height:10px;
	padding-left:4px;
}

#bloc_info_transport a, a:hover, a:focus
{
	text-decoration:none;
}

#bloc_info_transport img
{
	border : #000000 0px solid;
}

.class_transport4 {
	display: none;
}

.class_transport3 {
	width:138px;
	position:absolute;
	border: #cccccc 1px solid;
	background-color: #e9e9e9;
	top:36px;
	left:214px;
	padding-top:8px;
	padding-bottom:8px;
	line-height:10px;
	padding-left:4px;
}

#bloc_info_transport2 a, 
a:hover, 
a:focus
{
	text-decoration:none;
}

#bloc_info_transport2 img
{
	border : #000000 0px solid;
}


#bloc_col_centre {
	float: left;
	left:0px;
	left:-1px !important;
	position: relative;
	width: 543px;
	text-align: left;
	border: #cccccc 1px solid;
	padding-left: 8px;
	margin-bottom: 20px;
	background-color: #f7f7f7;
	padding-top: 8px;
}

#bloc_col_centre_transverse {
	float: left;
	position: relative;
	width: 543px;
	text-align: left;
}

#bloc_col_gauche {
	margin: 0;
	width: 178px;
	float: left;
	position: relative;
	left: 0px;
}

#bloc_col_droite {
	width: 215px;
	float: left;
	position: relative;
	left: -1px;
	left: -2px !important;
 	border: #cccccc 1px solid;
	background-color: #e9e9e9;
	text-align: left;
	margin-bottom: 10px;
}
#bloc_col_droite_transverse {
	width: 215px;
	float: left;
	position: relative;
	top:29px;
	top:32px !important;
	left: 9px;
	left: -1px !important;
 	border: #cccccc 1px solid;
	background-color: #e9e9e9;
	text-align: left;
	margin-bottom: 10px;
}

#bloc_col_droite_pub {
	width: 150px;
	float: left;
	position: relative;
	text-align: right;
	padding-left: 25px;
}


#bloc_bandohaut {
	width: 950px;
	position: relative;
	margin: 0 auto;
	text-align: left;
	height:75px;
	background-image: url(fd_bando_haut.jpg);
	background-repeat: repeat-x;
}
#bloc_fonctionnalites a, #bloc_fonctionnalites #readspeaker {
	float:right;
}
	
#bloc_fonctionnalites #readspeaker {
	padding-top:3px;
	background-image: url(fd_fonctionnalites.gif);
	background-repeat:repeat-x;
	overflow:hidden;
	width:64px;
}
#bloc_fonctionnalites {
	position:absolute;
	left:351px;
	top:0px;
	width:200px;
	height:27px;
	z-index:1;
	text-align: right;
}

#bloc_fonctionnalites  #readspeaker {
	position:relative;
	height:24px;
}

#bloc_fonctionnalites_2 {
	position:absolute;
	left:403px;
	top:0px;
	width:193px;
	height:27px;
	z-index:1;
	text-align: right;
}

#bloc_fonctionnalites_2 a{
	float:right;
}
#bloc_fonctionnalites_dossier {
	position:absolute;
	left:363px;
	top:0px;
	width:161px;
	height:27px;
	z-index:1;
	text-align: right;
}


#bloc_standard {
	position: relative;
	text-align: left;
	padding-top: 10px;
	margin-bottom: 10px;
}

.bloc_context {
	width: 210px;
	position: relative;
	margin-left: 5px;
	text-align: left;
	margin-bottom: 10px;
}

.bloc_context_milieu {
	width: 187px;
	position: relative;
	text-align: left;
	border-left: #cccccc 1px solid;
	border-right: #cccccc 1px solid;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-right: 5px;
	font-size: 11px;
	padding-bottom: 5px;
}

.bloc_context_haut {
	width: 205px;
	height: 5px;
	position: absolute;
	top: -5px;
}

.bloc_context_bas{
	position: relative;
	width: 205px;
	height: 5px;
	top: 0px;
}

.bloc_context_transverse {
	width: 210px;
	position: relative;
	margin-left: 5px;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

#bloc_context_pub {
	width: 120px;
	position: relative;
	padding-left: 45px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#bloc_context_voircarte {
	width: 120px;
	position: relative;
	padding-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#bloc_contenu_general {
	width: 950px;
	position: relative;
	margin: 0 auto;
	text-align: left;
}


#bloc_menugauche {
	width: 177px;
	position: relative;
	text-align: left;
	border: #cccccc 1px solid;
	background-color: #ffffff;
	font-size: 11px;
}

#bloc_bt_transversal {
	width: 175px;
	position: relative;
	margin-top:30px;
	margin-bottom: 20px;
	font-size: 11px;
}

#bloc_accesrapide {
	width: 217px;
	position: absolute;
	text-align: right;
	height:24px;
	left: 726px;
	top: 49px;
}

#bloc_recherche {
	width: 226px;
	position: absolute;
	height:24px;
	left: 712px;
	top: 0px;
	z-index: 10;
	color: #FFFFFF;
	background-color: #000000;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	border: #cccccc 1px solid;
}

#bloc_espace {
	width: 949px;
	position: relative;
	margin: 0 auto;
	text-align: left;
	height:28px;
	border-left: #cccccc 1px solid;
}

#bloc_chemin{
	width: 758px;
	position: absolute;
	text-align: left;
	height:14px;
	left: 180px;
	font-size: 10px;
	top: 14px;

}

#bloc_espace_generic {
	width: 949px;
	position: relative;
	margin: 0 auto;
	text-align: left;
	height:21px;
	border-top: #cccccc 1px solid;
}

#map{

}

#bloc_cartelegende {
	width:177px;
	z-index:1;
	border-top: #cccccc 1px solid;
	border-left:  #cccccc 1px solid;
	border-bottom:  #cccccc 1px solid;
	padding-left: 2px;
	padding-right: 2px;
	position: relative;
	background-color: #FFFFFF;
	top: 23px;
	float: left;
	margin-left: -128px;
	margin-right: -9px;

}

#bloc_cartelegende2 {
	width:180px;
	width:177px !important;
	z-index:1;
	border-top: #cccccc 1px solid;
	border-left:  #cccccc 1px solid;
	border-bottom:  #cccccc 1px solid;
	padding-left: 2px;
	padding-right: 2px;
	position: relative;
	background-color: #FFFFFF;
	top: 23px;
	float: left;
	margin-left: -173px;
	margin-left: -170px !important;
	margin-right: -9px;

}

#bloc_cartelegende3 {
	width:280px;
	width:277px !important;
	z-index:1;
	border-top: #cccccc 1px solid;
	border-left:  #cccccc 1px solid;
	border-bottom:  #cccccc 1px solid;
	padding-left: 2px;
	padding-right: 2px;
	position: relative;
	background-color: #FFFFFF;
	top: 23px;
	float: left;
	margin-left: -286px;
	margin-left: -283px !important;
	margin-right: -9px;

}

#bloc_carto_can {
	position:relative;
	border: #cccccc 1px solid;
	background-color: #FFFFFF;
	width:527px;
	float: left;
	margin-bottom:10px;

}
#bloc_carto2 {
	position:relative;
	border: #cccccc 1px solid;
	background-color: #FFFFFF;
	width:527px;
	margin-bottom:10px;
}
#bloc_carto {
	position:relative;
	border: #cccccc 1px solid;
	background-color: #FFFFFF;
	width:532px;
	float: left;
	margin-bottom:10px;
}

#bloc_carto_liste {
	position:relative;
	border: #cccccc 1px solid;
	background-color: #FFFFFF;
	width:532px;

}

#bloc_titre_article {
	width:348px;
	z-index:1;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	color:#403a3e;
	margin-bottom: 12px;
	margin-top: -5px;
}

#titre_fiche {
	font-size: 13px;
	letter-spacing: 2px;
	color:#403a3e;
	padding-left:5px;
	margin-right:10px;
	padding-top: 5px;
	height: 20px;
	background-color: #FFFFFF;
	font-weight: bold;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	clear: both;
	}
#titre_fiche2 {
	font-size: 13px;
	letter-spacing: 1px;
	color:#403a3e;
	padding-left:5px;
	margin-right:10px;
	padding-top: 5px;
	height: 40px;
	background-color: #FFFFFF;
	font-weight: bold;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	clear: both;
	line-height:30px;
	}

#bloc_contenu_article {
	width:532px;
	padding-top: 3px;
	color:#403a3e;
	margin-bottom: 10px;
	position: relative;
}

#bloc_contenu_reagir {
	width:532px;
	padding-top: 3px;
	color:#403a3e;
	margin-bottom: 10px;
	position: relative;
	display:none;
}


#bloc_contenu_intro {
	width:532px;
	padding: 5px;
	color:#403a3e;
	margin-bottom: 10px;
	position: relative;
}



#bloc_maj {
	width:530px;
	padding-top: 3px;
	color:#403a3e;
	margin-bottom: 15px;

	position: relative;
	font-size: 10px;
}
#bloc_maj2 {
	width:530px;
	padding-top: 45px;
	color:#403a3e;
	margin-bottom: 15px;
	position: relative;
	font-size: 10px;
}

#bloc_hautpage{
	width: 45px;
	position: absolute;
	left: 488px;
	top: 5px;
}

#bloc_contenu_generic{
	width: 580px;
	position: relative;
	text-align: left;
	border: #cccccc 1px solid;
	padding: 8px;
	background-color: #f7f7f7;
	margin-bottom:8px;
}

#bloc_contenu_transverse{
	width: 535px;
	position: relative;
	text-align: left;
	border: #cccccc 1px solid;
	padding: 8px;
	background-color: #f7f7f7;
	margin-bottom:8px;
}

#bloc_gauche_maj{
	margin:0;
	float:left;
	text-transform: lowercase;
}

#bloc_droite_maj{
	margin:0;
	float:right;
}

#bloc_titre_reagir {
	width:363px;
	z-index:1;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	color:#403a3e;
	margin-bottom: 12px;
	margin-top: -5px;
	display:none;
}

#bloc_col_reagir {
	float: left;
	left: 178px;
	left: 179px !important;
	position: relative;
	width: 543px;
	text-align: left;
	border: #cccccc 1px solid;
	padding-left: 8px;
	margin-bottom: 20px;
	background-color: #f7f7f7;
	padding-top: 8px;
	display:none;
}

#bloc_fonctionnalites_reagir {
	position:absolute;
	left:358px;
	top:0px;
	width:193px;
	height:27px;
	z-index:1;
	text-align: right;
	display:none;
}

#bloc_maj_reagir{
	width:530px;
	padding-top: 3px;
	color:#403a3e;
	margin-bottom: 15px;
	font-style: italic;
	position: relative;
	font-size: 10px;
	display:none;
}

#bloc_maj_blog{
	width:530px;
	padding-top: 3px;
	color:#403a3e;
	margin-bottom: 15px;
	font-style: italic;
	position: relative;
	font-size: 10px;
	display:none;
}

#bloc_titre_blog {
	width:363px;
	z-index:1;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	color:#403a3e;
	margin-bottom: 12px;
	margin-top: -5px;
	display:none;
}

#bloc_col_blog {
	float: left;
	left: 178px;
	left: 179px !important;
	position: relative;
	font-size: 11px;
	width: 543px;
	text-align: left;
	border: #cccccc 1px solid;
	padding-left: 8px;
	margin-bottom: 20px;
	background-color: #f7f7f7;
	padding-top: 8px;
	display:none;
}


#bloc_fonctionnalites_blog {
	position:absolute;
	left:358px;
	top:0px;
	width:193px;
	height:27px;
	z-index:1;
	text-align: right;
	display:none;
}

#bloc_loading2 {
	position:absolute;
	border: #cccccc 1px solid;
	background-color: #ffffff;
	width:200px;
	height:50px;
	left:100px;
	top:180px;
	padding-top:15px;
	text-align:center;
	z-index:10;
}
#bloc_loading {
line-height:0px;
}


#image_site{
	width:280px;

}

#description_publication{
	font-size: 11px;
	font-weight: bold;
}

/********************
********ESSAI********
*********************/

.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus,
.star-rating .current-rating{
background: url(star1.gif) left -1000px repeat-x;
}
.star-rating{
position:relative;
width:150px;
height:30px;
overflow:hidden;
list-style:none;
margin:0;
padding:0;
background-position: left top;
}
.star-rating li{
display: inline;
}
.star-rating a,
.star-rating .current-rating{
position:absolute;
top:0;
left:0;
text-indent:-1000em;
height:30px;
line-height:30px;
outline:none;
overflow:hidden;
border: none;
}
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus{
background-position: left bottom;
}
.star-rating a.one-star{
width:20%;
z-index:6;
}
.star-rating a.two-stars{
width:40%;
z-index:5;
}
.star-rating a.three-stars{
width:60%;
z-index:4;
}
.star-rating a.four-stars{
width:80%;
z-index:3;
}
.star-rating a.five-stars{
width:100%;
z-index:2;
}
.star-rating .current-rating{
z-index:1;
background-position: left center;
}
