/* CSS Document */ 


a.bulle_glossaire{
    position:relative; 
    z-index:24; background-color:#ccc;
    color:#000;
    text-decoration:none}

a.bulle_glossaire:hover{z-index:25; background-color:#ff0}

a.bulle_glossaire span{
	display: none;
	    color:#15F;
}

a.bulle_glossaire:hover span{ 
/*le contenu de la balise span ne 
sera visible que pour l'état a:hover */
 display:block; 
 position:absolute;
    
    
    top:2em; left:2em; width:15em;
    border:1px solid #6699cc;
    background-color:#eeeeee; color:#6699cc;
    text-align: justify;
    font-weight:none;
    padding:1px;
    
    }

.tooltip 
		{
			font-size: 10px; 
			background-color:#ffffff;
			font-weight:bold;
			color: #7AA9B3;
			border:2px #7AA9B3 solid;
			padding: 5px;
			width: 100px;
		}
		
.debug {
	position:absolute;
	top: 0px;
	left: 800px;
	border: #ff0000 1px solid; 
	font-size: 10px; 
	font-family: arial;
	background-color: #E9EEF2; 
	z-index: 10000;
}

iframe {
	border: 1px solid #fff;
}
	
body {
	margin: 0;
	padding :0;
	background-color: #ffffff;
	text-align:center;
	font-family: arial, Tahoma ;
	color: #403a3e;
	font-size:11px;
}

fieldset {
	padding:100px;
	background-color: #ffffff;
}


form {
	margin: 0;
}

.label {
	display:none;
}

.h2 {
	display:inline;
}

h3 {
	font-weight:bold;
	font-size:11px;
}


.hidden {
	position:absolute;
	visibility:hidden;
	top:-2000px;
}
.centrer{
  text-align: center;
}

.clear{
  clear: both;
}

.numvert{
 	color:#009D57;
	font-weight:bold;
}

.mdr{
	width:229px;
	height:110px;
}

.inline{
	display:inline
}


.typo_plus {
	font-size: 18px;
}


.titre {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
}

a {
	text-decoration: underline;
	color: #403a3e;
}

a:hover, a:focus {
	text-decoration: underline;
	color: #777777;
}

a.lienss:link {
	text-decoration: none;
}

a.lienss:visited {
	text-decoration: none;
}

a.lienss:hover {
	text-decoration: underline;
}

a.lienss:active {
	text-decoration: none;
}


a.lienhome:link, a.lienhome:active, a.lienhome:hover, a.lienhome:visited {
	text-decoration: none;
}

a.lienh2footer:link, a.lienh2footer:active, a.lienh2footer:hover, a.lienh2footer:visited {
	font-size: 10px;
	font-weight:normal;
	display:inline;
}

.imgrss {
	border:0;
	padding:5px 5px 0px 0px;
}

.rss {
	height:80px
}

.ligne {
	width:450px;
	height:25px;
}
.retrait {
	width:510px;
	margin:15px;
	padding:15px;
	background-color:#fff;
	border:1px solid #ccc;
}

.imgrhone {
	border:0;
	margin-left: 49px;
}

.imgcanton {
	border:0;
	margin-left: 200px;
}
.imgssborder a{
	border:0;
}
.imgssborder {
	border:0;
}

.img_menu {
	position:absolute;
	top:-1px;
	border:0px;
	width:170px;
	height:1px;
} 
.img_off {
border: 3px solid #cccccc;
height:60px;
width:115px
} 

.img_on, .img_off a:hover img, .img_off img a:active{
border: 3px solid #ff0000;
height:60px;
width:115px
}



.chemin_fer2{
	font-size:11px;
}

.img {
	border: 1px solid #999999;
}

.imgarticle {
	border: 1px solid #999999;
	width:490px;
	height:182px;
}


.border {
	border:solid 1px #ccc;
}
.marge_droite {
	border: 1px solid #999999;
	margin-right:6px;
}
.marge_droite2 {
	padding-right:6px;
}
.marge1 {
	margin:2px;
}
.marge_droite {
	padding-right:10px;
}

.marge2 {
	padding:10px;
}

.class_colonne{
	margin-right:2px;
	width: 280px;
	float: left;
	position: relative;
	left: 0px;
	padding-bottom: 15px;
}
.mandat {
	width:200px
}

.vign_phototec {
	border: 1px solid #999999;
	margin-right: 4px;
	float: left;
	margin-top: 4px;
	width:85px;
	height:40px;
}

.vign_list{
	border: 1px solid #999999;
	margin: 5px;
}
 
.logo {
	padding-left: 218px;
	border:0;
}
 
.select1 {
	border: #009DDC 1px solid; 
	font-size: 11px; 
	padding-bottom: 2px; 
	color: #000000; 
	padding-top: 2px; 
	font-family: arial;
	background-color: #E9EEF2; 
}

.input {
	border: #009DDC 1px solid; 
	font-size: 11px; 
	padding-bottom: 2px; 
	color: #009DDC; 
	padding-top: 2px; 
	font-family: arial;
	background-color: #E9EEF2; 
}

.menu_rub {
	font-weight: bold;
	background-color: #f5f5f5;
	width: 177px;
	display: block;
	height: 25px;
	text-align: center;
	padding-top: 5px;
	margin-bottom: -5px;
}

.right {
	text-align: right;
	vertical-align: top;
}
.left {
	text-align: left;
}
.aligngauche {
	text-align: left;
	float:left;

}

.liste {
	float:left;
	padding-top: 5px;
}
.liste_recherche {
	float:left;
	padding-top: 5px;
	width:450px;
}

.titre_fiche {
	padding-left:5px;
	margin-right:10px;
	padding-top: 5px;
	height: 20px;
	background-color: #FFFFFF;
	font-weight: bold;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	clear: both;
}

.titre_recherche{
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	color:#403a3e;
	text-align:center;

}

.bloc_commune {
	width:460px;
	margin-top: 20px;
	margin-bottom: 10px;
	clear: both;
}

.bloc_commune_intro {
	float:left;
	position:relative;
	width:240px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.sstitre_fiche {
	width:100%;
	padding-left:5px;
	font-weight: bold;
	border-bottom: 1px solid #111111;
}

.bt_ok {
	border: #009DDC 1px solid; 
	font-size: 11px; 
	padding-bottom: 2px; 
	color: #009DDC; 
	padding-top: 1px; 
	font-family: Arial, Helvetica, sans-serif;
	background-color: #E9EEF2; 
	height: 19px;
}

.bt_rechercher{
	border: #009DDC 1px solid; 
	font-size: 11px; 
	padding-bottom: 2px; 
	color: #009DDC; 
	margin-top:5px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #E9EEF2; 
	height: 19px;
}

.erreur {
	font-weight:bold;
	color:red;
	padding:5px;
	font-size: 12px;
}

.bloc_gauche{
	margin:0;
	float:left;
}

.bloc_gauche_footer{
	margin:0;
	position: absolute;
	left: 658px;
	text-align: right;
	top: 18px;
	width: 289px;
}

.bloc_droite{
	margin:0;
	float:right;
}

.fieldset_recherche1{
	width: 460px;
	border: #cccccc 1px solid;
	padding: 4px 4px 15px 4px;
	margin-bottom:8px;
	padding-left:70px;
	font-weight: bolder;
}

.fieldset_recherche2{
	width: 440px;
	border: #cccccc 1px solid;
	padding: 4px 4px 15px 4px;
	margin-bottom:8px;
	padding-left:70px;
	font-weight: bolder;
}

/*   PAGINATION              */
.pagination {
	padding-left:20px;
	height: 15px;
	clear: both;
	border-bottom: 1px solid #ccc;
	padding-top: 15px;
}
	
.pages {
	float: left;
	width:100px;
}
	
.pagination_chiffre_on {
	width:25px;
	height:15px;
	float: left;
	text-align: center;
	font-weight: bold;
	background-color:#009ddc;
}
	
.pagination_chiffre a{
	width:25px;
	height:15px;
	float: left;
	text-align: center;
	font-weight: bold;
	text-decoration:none;
}

.pagination_chiffre  a:hover, .pagination_chiffre a:active {
	width:25px;
	height:15px;
	background-color:#009ddc;
	color:#FFFFFF;
}

.pagination_nav{
	width:100px;
	float: left;
	text-align: center;
}

.pagination_separateur {
	width:1px;
	float: left;
	text-align: center;
}
	
.titre_separateur {
	font-weight: bold;
	width: 550px;
	display: block;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	border: 1px solid #ccc;
	margin-top:10px;
	background-color: #FFFFFF;
	margin-bottom: 10px;
	clear: both;
	height: 20px;
}
	
.titre_separateur2 {
	font-weight: bold;
	width: 270px;
	display: block;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	border: 1px solid #ccc;
	margin-top:10px;
	background-color: #FFFFFF;
	margin-bottom: 10px;
	clear: both;
	height: 20px;
}

/*   AGENDA               */
.rdv_date {
	width: 170px;
	font-weight: bold;
	float: left;
}
	
.rdv_separateur {
	padding:0px 2px 0px 2px;
	float:left;
}
	
.rdv_savoir_plus {
		width: 150px;
		float:right;
}
	
.rdv_eve {
	width: 300px;
	float: left;
	font-weight: bold;
}
	
.rdv {
	width: 540px;
	display: block;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	padding-left: 20px;
	clear: both;
	min-height:25px !important;
	height: 15px;
	background-color: #FFFFFF;
	border-bottom: 1px dotted #ccc;
}

.rdv2{
	width: 540px;
	display: block;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	padding-left: 20px;
	clear: both;
	min-height:25px !important;
	height: 15px;
	background-color: #f5f5f5;
	border-bottom: 1px dotted #ccc;
}
	
.rdv_rub {
	font-weight: bold;
	width: 550px;
	display: block;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	border: 1px solid #ccc;
	margin-top:40px;
	background-color: #FFFFFF;
	margin-bottom: 15px;
	clear: both;
	height: 20px;
}

/* marches publics */



.bloc_marche_ref{
	width: 57px;
	position: absolute;
	text-align: right;
	font-size: 11px;
	border: #cccccc 1px solid;
	padding: 4px 4px 4px 4px;
	background-color: #FFFFFF;
	margin-bottom:8px;
	height: 20px;
	left: -67px;
	top: -1px;
	font-weight: bolder;
}

.contenu_marche{
	width: 300px;

}
.marche_date_lim{
	padding-bottom:4px;

}

.contenu_marche2{
	width: 168px;
	position:absolute;
	left: 280px;
	top: 5px;
	height: 71px;
	text-align: right;

}
.bloc_liste_marche{
	width:440px;
	padding: 6px;
	color:#403a3e;
	margin-bottom: 10px;
	position: relative;
	background-color: #FFFFFF;
	border: #cccccc 1px solid;
	min-height:80px !important;
	height:80px;
	margin-left: 70px;

}


/* recherche */

.bloc_num_rech{
	width: 20px;
	position: absolute;
	text-align: right;
	font-size: 11px;
	border: #cccccc 1px solid;
	padding: 6px 4px 4px 4px;
	background-color: #FFFFFF;
	margin-bottom:8px;
	height: 20px;
	left: -30px;
	top: -1px;
	font-weight: bolder;
}

.bloc_liste_rech{
	width:520px;
	padding: 6px;
	color:#403a3e;
	margin-bottom: 10px;
	position: relative;
	background-color: #FFFFFF;
	border: #cccccc 1px solid;
	min-height:80px;
	margin-left: 40px;

}
.bloc_contenu_liste{
	width:520px;
	padding: 6px;
	color:#403a3e;
	margin-bottom: 10px;
	position: relative;
	background-color: #FFFFFF;
	border: #cccccc 1px solid;
	min-height:80px

}

.bloc_liste_suite {
	position:absolute;
	left:403px;
	top:-1px;
	width:129px;
	height:27px;
	z-index:1;
	text-align: right;
}

.bloc_titre_liste {
	width:363px;
	z-index:1;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 1px;
	color:#403a3e;
	margin-top: 0px;
	margin-bottom: 2px;
	padding-left: 4px;
}
/***********************************/


.bloc_liste_generic{
	width:470px;
	padding: 6px;
	color:#403a3e;
	margin-bottom: 10px;
	position: relative;
	background-color: #FFFFFF;
	border: #cccccc 1px solid;
	min-height:80px;
	margin-left: 40px;

}


.bloc_liste_suite_generic {
	position:absolute;
	left:353px;
	top:-1px;
	width:129px;
	height:27px;
	z-index:1;
	text-align: right;
}














/**************************************/
.jackette_publication {
	border: 1px solid #999999;
	margin-right: 4px;
	float: left;
	margin-top: 4px;
	width:100px;
	height:133px;
	text-align:left;
}

.bloc_numero{
	width: 550px;
	display: block;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	border: 1px solid #ccc;
	margin-top:10px;
	background-color: #FFFFFF;
	margin-bottom: 10px;
	clear: both;
	}
.gras {
	font-weight:bold;
}
.maigre {
	font-weight:normal;
}

.couleurElu {
	background-color:#FFFFCC;
}
.bloc_numero_titre{
	font-weight: bold;
	}

.pharmacie_impaire{
	background-color: #FFFFFF;
	}

.pharmacie_paire{
	background-color: #f5f5f5;
	}

.numero_impaire{
	background-color: #FFFFFF;
	}

.numero_paire{
	background-color: #f5f5f5;
	}
.separateur_numero{
	padding-left:5px;
	padding-top: 5px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
	
#fichelu p {
	display:inline;

}
.spamfilter {
	display:none;
}