.row {
	clear:both;
	height: 25px;
	width: 510px;
}

.label2 {
	float: left;
	width: 150px;
	text-align: right;
	font-weight: normal;
	padding: 1px;
}

.formchamp {
	float: right;
	width: 350px;
	text-align: left;
	padding-left:2px;
	padding: 1px;
}
 
.formulaire {
width: 525px;
background-color: #ffffff;
border: 1px solid #cccccc;
padding: 5px;
margin: 0px auto;
}

.titreform {
	padding-left:150px;
	font-weight:bold;
	margin: 5px;
}

#sondageFDL h3{
	font-weight:bold;
	padding :5px;
	margin : 5px;
}

#sondageFDL .chiffre{
	border: #009DDC 1px solid; 
	font-size: 11px; 
	padding: 1px; 
	margin:1px;
	width:10px;
	color: #009DDC; 
	font-family: arial;
	background-color: #E9EEF2;
}

#sondageFDL .bt_ok{
	margin-left: 150px;
}

#sondageFDL fieldset{
	width: 480px;
	border: #cccccc 1px solid;
	padding: 10px;
	margin-bottom:8px;
	}
	