#menu {
	width: 949px;
	height: 50px;
	margin: 0 auto;
	position: relative;
	font-size: 11px;
	border-left: #cccccc 1px solid;
	
}


#menu ul {
	padding-right: 0px; 
	padding-left: 0px;  
	padding-bottom: 0px; 
	margin: 0px; 
	width: 100%; 
	line-height: 28px; 
	padding-top: 0px; 
	list-style-type: none; 
	position: relative; 
	height: 28px;

}

#menu ul li {
	float: left;
	text-align: center;
}

#menu ul li .actif a{
	color:	#000;
	font-weight:	bold;
}

#menu ul li span {
	font-weight:bold;
}

#menu ul li {
	background-repeat: no-repeat;
	background-position: left top;
}

#menu ul li.m1 {
	background: url(m1.gif); 
	width: 178px
}

#menu ul li.m2 {
	background: url(m2.gif); 
	width: 178px
}

#menu ul li.m3 {
	background: url(m3.gif); 
	width: 178px
}
#menu ul li.m4 {
	background: url(m4.gif); 
	width: 178px
}


#menu ul li ul {
	display: none;
}

#menu ul li.actif {
	background-position: right top;
	text-decoration: none;
}

#menu ul li.actif ul {
	display: block;
	text-decoration: none;
}

#menu ul ul {
	display: none; 
	left: 0px; 
	width: 949px; 
	position: absolute; 
	top: 28px;
	border-right: #cccccc 1px solid;
	border-bottom: #cccccc 1px solid;

}

.coul1 {
	background: #009ddc; 
}

.coul2 {
	background: #f16377; 
}

.coul3 {
	background: #fdb813; 
}

.coul4 {
	background: #72c167; 
}
.coul1b {
	background-color:#aee0ea;
}

.coul2b {
	background-color:#fac6c5;
}

.coul3b {
	background-color:#ffe3b7;
}

.coul4b {
	background-color:#cce6c5;
}

#menu ul ul {
	line-height: 22px; 
	height: 22px
}

#menu ul ul li {
	line-height: 22px; 
	height: 22px;
	margin: 0px 10px 0px 5px;
}

#menu ul ul a {
	color: #fff; 
	text-decoration: none;
	cursor:pointer;
}

#menu ul ul a:hover {
	color: #000000;
	text-decoration: none;
}

#menu_carto
{
	margin: 0;
	padding: 0;
	list-style-type: none; 
	text-decoration:none;
}
#menu_carto a
{
	text-decoration:none;
}

#menu_carto ul li a
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration:none;

}



.smenu_carto {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style-type: none;
	border-bottom: #cccccc 1px solid;
	border-top: #cccccc 1px solid;

} 

.epa_eph {
	padding: 0px 0px 0px 14px;


} 

	 

