

.cadredossier {
	position:relative;
	width : 504px;
	background-color: #ffffff;
	border: 1px solid #aaaaaa;
	margin-left :2px !important;
	margin-left :4px;
	padding: 10px 10px 10px 10px;
	top:0px !important;
    top:-2px;



}
.tabdossier {
	position:relative;

	margin-left :0px !important;
	margin-left :2px;
	width: 520px;


}

.tabList ul {
	margin : 0;
	padding : 0;
	width : 530px;
	height : 39px;

}
.tabList ul li {
	float : left;
	list-style : none;
	line-height : 15px;
	text-align : center;
	height : 40px;
	width : 130px;
	margin-left:2px;
	text-decoration : none;


}

.tabList ul li a {
	color : #666666;
	padding-left :3px;
	display : block;
	text-decoration : none;
	height : 38px;
	padding-top:2px;
	background-image: url(fd_onglet.gif);

}

.tabList ul li.actif { 
	padding-bottom : 1px;
	margin-bottom : 0;

}
	
.tabList ul li.actif a {
	position:relative;
	color : black;
	background-image: url(fd_onglet_on.gif);
	text-decoration : none;
	font-weight: bold;
	z-index: 20;
}

/* Tableaux */
#tab_contenu {
	width: 950px;

}
.tableau {
	text-align: center;
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
	width: 530px;
	border-collapse:collapse;
}

.typo_tab {
	font-size: 10px;
}

.tab {
	text-align: center;
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
	width: 530px;
}

.tab td{
	padding:2px;
}

.tab_titre {
	background-color:#cccccc;
    color: #403a3e;
	text-align: center;
	border-bottom: 1px solid #aaaaaa;
}

.tab_paire {
	background-color:#E9E9E9;
}

.tab_impaire {
	background-color:#F5F5F5;
}

.tab_marge_gauche {
	padding-left:5px;
}
