/*                                                    */
/*  main 'top-level' form elements                    */
/*                                                    */
@import "calendar.css";

.cform { 
	margin:10px 0 0 0; 
	width: 450px; 
}

.cform fieldset	{ 
	margin-top:10px; 
	padding:5px 0 0 0; 
	border:none;
	background:none; 
}

.cform .cf_hidden {
	display:none; 
	border:none!important;
	background:none!important;
	padding:0!important;
	margin:0!important;
}

.cform legend { 
	border-bottom:1px solid #BAC4D8;
	color:#BAC4D8;
	font:normal 1.6em "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;;
	line-height:1em;
	padding:0pt 0pt 0.3em;
	text-transform:uppercase;
	margin:0;
}

ol.cf-ol { 
	margin:0!important; 
	padding:0!important; 
}

ol.cf-ol li	{
	background:none!important; 
	margin:8px 0!important; /*some themes may interfere otherwise*/
	padding:0; 
	list-style:none!important; 
	text-align:left;
	line-height:1.1em;
}


/*                                                    */
/* just for text-only fields (no input)               */
/*                                                    */

ol.cf-ol li.textonly {
	padding:3px 0; 
	text-align:left;
	letter-spacing:1px;
	font-size:15px;
}


/*                                                    */
/* global definitions for field labels                */
/*                                                    */
.cform label {
	font:normal 1.1em Verdana;	
	line-height:1.3em;
	color:#009EDF;
	display:block;
	margin:12px 0pt 2px;
	text-align:left;
	width:70%;
}

label.cf-before {
	width:100px;
	display:-moz-inline-box; /*for mozilla*/
	display:inline-block; /*for Opera & IE*/	
	margin:4px 5px 0 0; 
	vertical-align:top;
}

label.cf-after 	{
	display:-moz-inline-box; /*for mozilla*/
	display:inline-block; /*for Opera & IE*/	
	margin:4px 0 0 6px;
	width:120px;
	text-align:left;	
	vertical-align:top;
}


label.cf-before span,
label.cf-after span {
	display:block;
}

label.cf-group-after {
	display:-moz-inline-box; /*for mozilla*/
	display:inline-block; /*for Opera & IE*/
	margin:4px 0 0 2px;
	width:86px;
	text-align:left;
	vertical-align:top;
}
label.cf-group-after span {
	width:86px;
	display:block;
}

/*                                                    */
/*   FORM FIELDS general formatting                   */
/*                                                    */

.cform input,
.cform textarea,
.cform select { 
	padding:6px 3px;
	background: #161616; 
	border:1px solid #222222;
	border-top: 1px solid #222222; 
	color:#989898;
	font:normal 1.1em Verdana;	
}
.cform input:hover,
.cform textarea:hover,
.cform select:hover	{
	background:#393939; 
}

.cform input:focus,
.cform textarea:focus,
.cform select:focus	{ 
	background:#393939; 
}

.cform textarea,
.cform input {
	width:270px; 
}
.cform select {
	width:278px; /* attempt to have equal length */
}  

.cform select.cfselectmulti	{ 
	height:6.5em; 
}

.cform textarea {
	height: 6em;
	overflow:auto;
}

/*                                                    */
/*   radio button title                               */
/*                                                    */

ol.cf-ol li.cf-box-title {
	font-size:15px;
	letter-spacing:2px;
	margin:15px 0pt 0pt !important;
}

/*                                                    */
/*   check boxes                                      */
/*                                                    */

.cform input.cf-box-a,
.cform input.cf-box-b 	{
	vertical-align:top;
	margin:2px 0 0 0; 
	width:16px;
	height:22px;
	border:none; 
	background:none;
}


/*                                                    */
/* check box groups                                   */
/*                                                    */

ol.cf-ol li.cf-box-group {
	padding: 0 0 5px 0; 
} 

/*                                                    */
/* formatting for text:  "(required)"  & other        */
/*                                                    */

span.reqtxt,
span.emailreqtxt { 
	color:#E2017B;
	font-size:0.8em;
	display:-moz-inline-box; /*for mozilla*/
	display:inline-block; /*for Opera & IE*/
	vertical-align:top;
	text-align:left;
	margin-left:3px;
}

/*                                                    */
/*   FORM submit button                               */
/*                                                    */

p.cf-sb {
	padding: 0!important;
	margin: 0;
	text-align:left;
}
.cform input.backbutton,
.cform input.resetbutton,
.cform input.sendbutton	{
	background:#191D28 url(dark_open_XL_submit.jpg) repeat-x left bottom; 
	border:1px solid #333D51;
	color:#A0ABBF;
	font-size:14px;
	margin:5px 5px 0 0;
	text-align:center;
	text-transform:uppercase;
	width:140px;
	padding:2px;	 
}
.cform input.resetbutton {
	width: auto;
}
.cform input.backbutton {
	width: auto;
}

/*                                                    */
/*   FORM FIELDS enhanced error display               */
/*                                                    */
ol.cf-ol li.cf_li_err {
	background:#FFDFDF url(li-err-bg-dark.png) repeat!important;
	border-color:#DF7D7D;
	border-style:solid;
	border-width:1px 0pt;
	padding:5px 0!important;
	margin:5px 0!important;
}

ol.cf-ol li ul.cf_li_text_err {
	margin:0 0 0 5px;
	padding:0;
	color:#f8f1f1;
}

ol.cf-ol ul.cf_li_text_err li {
	font-weight:bold; 
	font-size:1.1em;
	background:url(icon-alert-dark.png) no-repeat left 1px!important;
	list-style:none!important;
	text-indent:0;
	margin:0 0 2px!important;
	padding-left:15px;
}
ol.cf-ol ul.cf_li_text_err li:before {
	content:'';
}

/*                                                    */
/* 'visitor verification' related styles              */
/*                                                    */

label.seccap {
	margin-top: 6px;
}
label.secq,
label.secq span {
	display:inline;
}
label.secq {
	vertical-align:middle;
}

input.secinput {
	width:45px;
	margin: 3px 0 0 10px;
	vertical-align:middle;
}

#cforms_captcha6,
#cforms_captcha5,
#cforms_captcha4,
#cforms_captcha3,
#cforms_captcha2,
#cforms_captcha {
	height:15px;
	width:50px;
	padding: 4px 4px 5px;
	margin: 0;
	vertical-align:middle;
}

img.captcha	{
	vertical-align:top;
	margin:0 0 0 10px!important;
	padding:0!important;
	border:none!important;
	float:none!important;
}

img.captcha-reset {
	vertical-align:top;
	background:	url(captcha_reset_black.gif) no-repeat;
	border:none!important;
	margin-left:3px;
	width:21px;
	height:21px;
}

img.imgcalendar {
	border:none;
}

/*                                                    */
/*   formatting for invalid user inputs               */
/*                                                    */

.cform .cf_error {
	color:#ad2929;
	border:5px solid #BAC4D8;
	padding:3px;
	width:262px;
}
.cform .cf_errortxt,
div.mailerr {
	color:#ad2929;
}
div.mailerr {
	display:block;
}

/*                                                    */
/* change formatting of response msgs here            */
/*                                                    */

div.cf_info {
	color:#f8f1f1;
	display:none;
	padding:10px 15px!important;
	width:420px;
	line-height:1.3em;
	margin:10px 0;
}
div.cf_info ol {
	margin:0;
	padding:5px 15px 0 30px;
}
div.cf_info ol li {
	padding:1px 0;
	margin:2px 0;
}
div.cf_info a	{
	color:white!important;
	text-decoration:underline!important;
}
div.success {
	background:#333333 none repeat scroll 0%;
	color:#BAC4D8;
	display:block;
}
div.failure {
	display:block;
	background:#FFDFDF url(li-err-bg-dark.png) repeat!important;
	border-color:#DF7D7D;
	border-style:solid;
	border-width:1px 0pt;
}
div.waiting {
	background:#F9F9F9;
	color:#AAAAAA;
	display:block;
}
/*                                                    */
/* disabled fields [disabled] does not work on IE!    */
/*                                                    */

[disabled] {
	color:#dddddd;
	border-color:#dddddd!important;
	background:none!important;
}
.disabled {
	border-color:#dddddd!important;
}

/*                                                    */
/* upload box styling                                 */
/*                                                    */

.cform input.cf_upload  {
	width:220px;
	background: #f9f9f9;
	border:1px solid #888888;
}

/*                                                    */
/*  Other: link love                                  */
/*                                                    */
.linklove {
	width:450px;
	margin:6px 0 10px!important;
	padding:0!important;	
	text-align:left!important;
}
.linklove a,
.linklove a:visited {
	font-size: 0.8em;
	font-family: Tahoma;
	color:#aaaaaa!important;
}

/*                                                    */
/*  Other: browser hacks                              */
/*                                                    */
* html .cform legend { 
	position:absolute; 
	top: -10px; 
	left: -7px; 
	margin-left:0;
}
* html .cform fieldset {
	position: relative;
	margin-top:15px;
	padding-top:25px; 
}
*+html .cform legend { 
	position:absolute; 
	top: -10px; 
	left: -7px; 
	margin-left:0;
}
*+html .cform fieldset {
	position: relative;
	margin-top:15px;
	padding-top:25px; 
}
* html ol.cf-ol,
* html ol.cf-ol li{	
	display:inline-block; /*for IE6!!*/
}
*+html ol.cf-ol,
*+html ol.cf-ol li{	
	display:inline-block; /*for IE6!!*/
}
* html img.captcha	{
	margin-top:1px!important;
}
*+html img.captcha	{
	margin-top:1px!important;
}
