/* Message Box */
@import url("msgbox.css");

/* Form */
@import url("form.css");

/* Misc */
@import url("misc.css");

/* List */
@import url("list.css");

/* Widget */
@import url("widget.css");

/* Tab */
@import url("tab.css");

/* Body */
body {margin: 0; padding: 0px; background-color: #FFFFFF; }

/* Exception */
DIV.exception BUTTON{
  font: bold 8pt Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  background-color: #CC0000;
  border:1px solid  #666666;
  margin: 1px;
}
DIV.exception TEXTAREA { 
  overflow:    scroll;
  white-space: pre;
  text-align:  left;
  font-size: 8pt;
  padding:   5px;
  margin:    0px;
  height:    300px;
  width:     400px;
  border:1px solid  #CC0000;
  background-color: #DDDDDD;
  color: #111111;
  display: block;
}
HTML > BODY  DIV.exception TEXTAREA { width: 90%; }

/* Preview */

DIV.previewWFState {
  background-color: #FFFFCC; 
  vertical-align: middle;
  margin: 5px;
  border:1px solid #FFEE88;
}

DIV.previewWFStateTitle {
	font: bold 12pt Arial, Helvetica, sans-serif;
	text-align: left;
	background-color: #FFEE88; 
	padding: 4px 6px 2px 6px;
  white-space:nowrap;
}

DIV.previewWFStateChooser {
  font: 10pt Arial, Helvetica, sans-serif;
  padding: 8px 4px 8px 8px;
  
}

.previewWFState FORM {
	display: inline;
}

.previewWFState SELECT{
/*  font: bold 14pt Arial, Helvetica, sans-serif;
  color: #EE5500;
  */
  
}
.previewWFState OPTION{
	/*
  font: 12pt Arial, Helvetica, sans-serif;
  */
}

/* Edit Area */
.hidden {
  display: none;
}
.nowrap {
  white-space: nowrap;
}


/* Tree */
.tree, .tree SPAN, .tree A, .tree TD {
 border:0px solid red;
 padding:0px;
 margin:0px;
 border-collapse:collapse;
 font:12px Arial, Helvetica, sans-serif;
 text-decoration:none;
 color:black;
 white-space:nowrap;
}
.tree A:hover { text-decoration: underline; }
.tree INPUT { width:12px; height:12px;}
.tree A.node IMG { border:0px;}

.ULtree , .ULtree UL { font: 12px Arial, Helvetica, Sans-Serif; color: #333333; list-style-type : none ; }
.ULtree LI           { font: 12px Arial, Helvetica, Sans-Serif; color: #333333; margin : 2px 2px 0px -25px ; white-space: nowrap; }
.ULtree A            { font: 12px Arial, Helvetica, Sans-Serif; color: #333333; text-decoration: none;}
.ULtree A:hover      { text-decoration: underline; }
.clickable           { cursor: pointer; }

/* Contextual Menu specific styles for some menu */
A.ctxPubMenu { margin-left: -5px; }
A.ctxMbrMenu { margin-left: -5px; }
A.ctxLoginSuMenu { margin-left: -2px; }
A.ctxLangMenu { }
A.ctxWsMenu { }
A.ctxEditAddMenu { }

TD.displayHeaderToolbar A.ctxPubMenu { 
  position: relative; 
  left: -13px; 
  top:  -8px;
  margin-left: 1px;
}

/* Global style for all thumbnail image */
img.thumbnail {
  border: 1px solid #BBBBBB;
  padding: 2px;
  background-color: #EEEEEE;
  margin: 5px;
}
