/* List */

table.listBorderBack { background-color: #EEEEEE; border: 1px solid; border-color: #999999 #666666 #666666 #999999;}
table.listBorder {background-color: #666660; }
table.listBorder ul, table.listBorder ol { margin: 0.1em 0em 0.1em 1.2em; padding: 0 0 0 0.5em; }
/* table.listBorder td ul { margin-top: 0; margin-bottom: 0; padding-left: 10px; margin-left: 10px;} */
table.listBackground {background-color: #e0e0e0; }
td.listHeader {color:#FFFFFF;  background-color: #A3BAFF; font-family: arial, helvetica, sans-serif; font-weight: bold; text-align: center; font-size: 10pt; white-space:nowrap;}
a.listHeader { color:#FFFFFF; font-family: arial, helvetica, sans-serif; font-weight: bold; text-align: center; }
a.listHeaderSel { color:#FFFF00; font-family: arial, helvetica, sans-serif; font-weight: bold; text-align: center; }
td.listEmptyHeader {background-color:#ffffff;}
.listEvenRow {background-color:#FAFAFA; font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
.listOddRow {background-color:#F0F0F0; font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
.listOverRow {background-color:#FFFFCC; font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
.listDiff .listOverRow {background-color:#FFFFFF;}
.listEvenRow A, .listOddRow A, .listOverRow A {color:#000000; text-decoration: none;}
.listEvenRow A:hover, .listOddRow A:hover, .listOverRow A:hover {color:#000000; text-decoration: underline;}


td.listKey {background-color:#F0F0F0; font-family: arial, helvetica, sans-serif; font-size: 10pt; font-weight: bold; text-align: right; white-space:nowrap;}
td.listValue {background-color:#FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 10pt}

td.imported a { font-style: italic; color: #666666; }




