
@import url(http://www.loire-atlantique.fr/cg44/js/calendar/calendar.css);
@import url(http://www.loire-atlantique.fr/cg44/css/jalios/treecat.css);
@import url(http://www.loire-atlantique.fr/cg44/css/jalios/treegroup.css);
@import url(http://www.loire-atlantique.fr/cg44/css/jalios/widget/autocomplete.css);

.formArea            { 
                       background: #FAFAFA url(http://www.loire-atlantique.fr/cg44/images/jalios/layout/bg/formBg.gif) repeat-x scroll 0%; 
                       padding: 10px 10px 20px 10px; 
                       border:  1px solid #999999;
                     }
.formInfo            { font-size: small ;  font-family: Arial, Helvetica, sans-serif;}
.formInfoSmaller     { font-size: x-small; font-family: Arial, Helvetica, sans-serif;}
.formMandatory       { font-size: small ;  font-family: Arial, Helvetica, sans-serif; color: #FF0000;}
.formLabel           { font-size: 11pt  ;  font-family: Arial, Helvetica, sans-serif; font-weight: bold;  text-align: left; white-space:nowrap;}
.formLabelHeader     { font-size: 11pt  ;  font-family: Arial, Helvetica, sans-serif; font-weight: bold;  text-align: center; white-space:nowrap;}
legend.formLabel     { font-size: 11pt  ; }
.formDescription     { font-size: small ; font-family: Arial, Helvetica, sans-serif; color: #666666; text-align: left; }
.formTextarea        { font-size: small ; font-family: Arial, Helvetica, sans-serif; border: 1px #999999 solid; background-color: #FFFFFF; padding: 1px;}
.formTextarea:focus  { background-color: #FFFFED; }
.formTextfield       { font-size: small ; font-family: Arial, Helvetica, sans-serif; border: 1px #999999 solid; background-color: #FFFFFF; padding: 1px;}
.formTextfield:focus { background-color: #FFFFED; }
.formChooserfield    { font-size: small ; font-family: Arial, Helvetica, sans-serif; border: 1px #999999 solid; background-color: #DDDDDD; padding: 1px;}
.formCheckbox        { margin: 1px; padding: 0px; vertical-align: middle;}
.formRadiobox        { margin: 1px; padding: 0px; vertical-align: middle;}
.formLabelbox        { font-size: small ; font-family: Arial, Helvetica, sans-serif; text-align: left;}
.formCombobox        { font-size: small ; font-family: Arial, Helvetica, sans-serif; }
.formListbox         { font-size: small ; font-family: Arial, Helvetica, sans-serif; }
.formUnits           { font-size: x-small  ; font-family: Arial, Helvetica, sans-serif; }
.formButton:hover    { border: 1px solid #999999;  }
.formButton          { font-size: small; 
                       font-family: Arial, Helvetica, sans-serif; 
                       background-color: #DDDDDD; 
                       border: 1px solid #666666; 
                       height: 23px; 
                       background-image: url("http://www.loire-atlantique.fr/cg44/images/jalios/layout/bg/buttonBg.gif"); 
                       background-repeat: repeat-x; 
                       margin: 2px; 
                       padding: 0 6px; 
                       width:auto;
                       overflow:visible;
                     }
.seriousButton:hover { border: 1px solid #DD6666;  }
.seriousButton       { background: #CC9999 url("http://www.loire-atlantique.fr/cg44/images/jalios/layout/bg/seriousButtonBg.gif"); 
                       color: #FFFFFF; 
                       border: 1px solid #990000; 
                       font-weight: bold; 
                     }
.mainButton:hover    { border: 1px solid #6666FF;  }
.mainButton          { 
											 background: #99BBEE url("http://www.loire-atlantique.fr/cg44/images/jalios/layout/bg/mainButtonBg.gif"); 
                       color: #FFFFFF; 
                       border: 1px solid #333388;
                       font-weight: bold; 
                     }
.disabledButton:hover,
.formButton[disabled]{ border: 1px solid #666666;  }
.disabledButton      { background-color: #BCBCBC;
                       background-image: url("http://www.loire-atlantique.fr/cg44/images/jalios/layout/bg/mainButtonDisbBg.gif");
                       color: #666666; 
                       border: 1px solid #666666;
                     }
.formDisabled        { color: gray; background-color: #DCDCDC; }



A.formButton         { 
                       font-size: x-small; 
                       font-family: Arial, Helvetica, sans-serif; 
                       border: 1px solid #666666; 
                       padding: 3px; 
                       color: #333333; 
                       text-decoration:none;
                     }
.UI_EDITOR_TEXTFIELD .tab-page,
.UI_EDITOR_TEXTAREA  .tab-page,
.UI_EDITOR_WIKIAREA  .tab-page { white-space: nowrap; }



.UI_EDITOR_TEXTFIELD_INTEGER .formTextfield { text-align: right; }
.UI_EDITOR_TEXTFIELD_DOUBLE  .formTextfield { text-align: right; }
.UI_EDITOR_DURATIONCHOOSER   .formTextfield { text-align: right; }
.UI_EDITOR_WARNAREA          .formTextarea  { background-color: #FFEECC; }
.UI_EDITOR_IMAGEMAPAREA      .formTextarea  { background-color: #FFEECC; }
.UI_EDITOR_RICHTEXT          .formRichText  {
	background-color: #FFEECC;
	border: 1px #999999 solid; 
	padding: 10px;
}

/* Wysiwyg Popup Edition */

.UI_EDITOR_RICHTEXT .formRichTextLink  {
  width: 640px; 
  padding: 4px 2px;  
}

  /* edits info and links */
.UI_EDITOR_RICHTEXT .editLinks {
  float: right;
}
.UI_EDITOR_RICHTEXT .editLink {
  font-weight: bold;
}
.UI_EDITOR_RICHTEXT .editInfo {
 background: transparent url("http://www.loire-atlantique.fr/cg44/images/jalios/icons/arrowSmallRight.gif") no-repeat scroll right center;
 padding-right: 11px;
 margin-right: 10px;
 color: brown;
}
.UI_EDITOR_RICHTEXT .editLink {
 background: transparent url("http://www.loire-atlantique.fr/cg44/images/jalios/icons/external.gif") no-repeat scroll right center;
 padding-right: 13px;
}

  /* preview and source links */
.UI_EDITOR_RICHTEXT .srcLink, .UI_EDITOR_RICHTEXT .prevLink,
.UI_EDITOR_RICHTEXT .srcLinkDisabled, .UI_EDITOR_RICHTEXT .prevLinkDisabled { padding: 1px 5px; }
.UI_EDITOR_RICHTEXT .srcLink, .UI_EDITOR_RICHTEXT .prevLink { color: gray;}
.UI_EDITOR_RICHTEXT .showSrc .prevLinkDisabled { display: none; }
.UI_EDITOR_RICHTEXT .showSrc .srcLink { display: none; }
.UI_EDITOR_RICHTEXT .showSrc .srcLinkDisabled { font-weight: bold; background-color: #FFEECC;}
.showSrc textarea { display: block; }
.showSrc iframe { display: none; }
.UI_EDITOR_RICHTEXT .showPrev .srcLinkDisabled { display: none; }
.UI_EDITOR_RICHTEXT .showPrev .prevLink { display: none; }
.UI_EDITOR_RICHTEXT .showPrev .prevLinkDisabled { font-weight: bold; background-color: #fcfcf0;}
.showPrev textarea { display: none; }

  /* preview and source content */
.UI_EDITOR_RICHTEXT textarea {
  width: 640px; 
  height: 300px;
	background-color: #FFEECC;
	border: 1px #999999 solid; 
}
.UI_EDITOR_RICHTEXT iframe.formRichTextPopup {
  width: 640px; 
  height: 300px;
	border: 2px #999999 dotted; 
}

/* TextArea javascript resizer */

.textarea-resizer {
 width: 500px; height: 6px; line-height: 1px; font-size: 1px;
 cursor: s-resize;
 background: url("http://www.loire-atlantique.fr/cg44/images/jalios/icons/resize-handle.gif") repeat scroll center top;
 border: 1px solid #666666;
 border-top: 0px;
}
.textarea-resized {
 margin-bottom: 0px;
}

.inline-widget {
	display: inline;
}

.float-widget {
	float: left;
}

.nolist-widget LI {
	list-style-type: none;
}
.nolist-widget OL,
.nolist-widget UL {
  padding-left: 4px;
}
