/* Wiki CSS */

.wiki p         { padding: 5px 0px 5px 0px; margin: 5px 0px 5px 0px; line-height: 120%; } 
.wiki p.first   { padding: 0px 0px 5px 0px; margin: 0px 0px 5px 0px; }
.wiki h1        { font-family: Arial, Helvetica, sans-serif;}
.wiki h2        { font-family: Arial, Helvetica, sans-serif;}
.wiki h3        { font-family: Arial, Helvetica, sans-serif;}
.wiki hr        { border-top: solid; border-width: 1px}
.wiki img       { border-width: 0}
.wiki table     { background-color: #000000; }
.wiki tr        { background-color: #FFFFFF;}
.wiki th        { background-color: #EEEEEE; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #000000; padding: 3px}
.wiki td        { padding: 3px; }
.wiki code      {}
.wiki a         {}
.wiki ol        {}
.wiki ul        {}
.wiki li        {}
.wiki dl        {}
.wiki dt        {}
.wiki dd        {}

.wiki pre {
  display: block;
  overflow: auto;
  padding: 5px;
  background-color: #F4F9FF;
  border: 1px solid #CCCCCC;
  clear: both;
}

.wiki q, .wiki blockquote {	
  border-top:    1px dotted #878787;	
  border-bottom: 1px dotted #878787; 
  border-left: 0;
  margin: 0.1em 0.5em 0.8em 0.1em;
  background: #f7f7d7 url(http://www.loire-atlantique.fr/cg44/images/jalios/layout/bg_quote_left02.gif) no-repeat left top;
  padding: 1em 0.8em 1em 3.6em;
  text-align: justify;
}
