/******************************************************************************
* cg50WdWidgetPhoto.css
*******************************************************************************

*******************************************************************************
*                                                                             *
* Copyright 2006									                          *
*                                                                             *
******************************************************************************/

#cg50WdPhoto .cmWidgetOpt 
{
    height:8px;  
    padding-left:5px; 
    font-size:0.1em; 
}

#cg50WdPhoto .cmWidgetOpt a.cmPlus,
#cg50WdPhoto .cmWidgetOpt a.cmMinus
{
    background-repeat:no-repeat;
    background-position:top left;
    display:block;
    width:13px;
    height:8px; 
    float:left;
}

#cg50WdPhoto .cmWidgetOpt a.cmPlus
{
    background-image:url('cmWidgetPlus.png'); 
}

#cg50WdPhoto .cmWidgetOpt a.cmMinus
{
    background-image:url('cmWidgetMinus.png'); 
}

#cmPage #cg50WdPhoto .cmC5
{
    padding-bottom:1px;
    zoom:1;
}

#cmPage #cg50WdPhoto .cmC5 .insLevel1
{
    background-image: url('c5BottomRight.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

#cmPage #cg50WdPhoto .cmC5 .insLevel2
{
    background-image: url('c5BottomLeft.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}

#cmPage #cg50WdPhoto .cmC5 .insLevel3
{
    background-image: url('c5TopRight.png');
    background-repeat: no-repeat;
    background-position: right top;
}

#cmPage #cg50WdPhoto .cmC5 .insLevel4
{
    background-image: url('c5TopLeft.png');
    background-repeat: no-repeat;
    background-position: left top;
    padding: 15px;
    padding-top:10px;
}

#cmPage #cg50WdPhoto .cmC5 .insLevel4 h3
{
    font-size: 1.1em;
    padding: 0px;
    margin: 0px;
    color:#24a3de;
}

#cmPage #cg50WdPhoto .cmC5 .insLevel4 .insContent
{
    padding-bottom:10px;
}

#cg50WdPhoto .cmPhoto
{
    text-align:center;
}

#cg50WdPhoto .cmNavigation
{
    clear:both;
    margin-top:5px;
}

#cg50WdPhoto .cmPhoto a.cmLeft
{
    display:block;
    background-image: url('cmPhotoBtnLeft.png');
    background-repeat: no-repeat;
    background-position: left top;
    width:7px;
    height:11px;
    float:left;
    margin-left:10px;
}

#cg50WdPhoto .cmPhoto a.cmRight
{
    display:block;
    background-image: url('cmPhotoBtnRight.png');
    background-repeat: no-repeat;
    background-position: left top;
    width:7px;
    height:11px;
    float:right;
    margin-right:10px;
}

#cg50WdPhoto .cmPhoto a.cmLnk
{
    display:block;
    float:left;
    margin-left:7%;
    line-height:1em;
    color:#000000;
}