/******************************************************************************
* cg50WdWidgetOffreEmploi.css
*******************************************************************************

*******************************************************************************
*                                                                             *
* Copyright 2006									                          *
*                                                                             *
******************************************************************************/

#cmPage #cg50WdOffreEmploi .cmC3
{
    padding-bottom:1px;
    zoom:1;
}

#cmPage #cg50WdOffreEmploi .cmC3 .insLevel1
{
    background-image: url('c3BottomRight.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

#cmPage #cg50WdOffreEmploi .cmC3 .insLevel2
{
    background-image: url('c3BottomLeft.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}

#cmPage #cg50WdOffreEmploi .cmC3 .insLevel3
{
    background-image: url('c3TopRight.png');
    background-repeat: no-repeat;
    background-position: right top;
}

#cmPage #cg50WdOffreEmploi .cmC3 .insLevel4
{
    background-image: url('c3TopLeft.png');
    background-repeat: no-repeat;
    background-position: left top;
    padding: 6px;
    padding-bottom:10px;

}

#cmPage #cg50WdOffreEmploi .cmC3 .insLevel4 h3
{
    font-size: 0.9em;
    padding: 0px;
    padding-top:2px;
    padding-bottom:4px;
    margin: 0px;
    color:#1470b3;
    text-transform:uppercase;
    padding-left:25px;
}

#cmPage #cg50WdOffreEmploi .cmC3 .insLevel4 .insContent
{
    font-size: 0.8em;
    padding: 2px;  
    text-align:center; 
    padding-bottom:10px; 
}

#cg50WdOffreEmploi .cmTxt
{
    clear:both;
    display:block;
    text-align:left;
}

#cg50WdOffreEmploi .cmLnk
{
    display:block;
    text-align:left;
    margin-top:3px;
}

#cg50WdOffreEmploi .cmLnk a
{
    background-image: url('cmBtnSavoirPlus.png');
    background-repeat: no-repeat;
    background-position: left top;
    display:block;
    width:87px;
    height:24px;
    text-align:left;
    clear:both;
}

#cg50WdOffreEmploi .cmImg
{
    border:solid 1px #4f94c6;
}