/* Feuille de style pour impression. Mai 2009 Nuxeo */

body, p, table, div, tr, td {
  font-size:12px;
  color:black;
width : 100%;
background : white;
}
.bbody {width : 80%; margin-left : 20px;}
img {border : none;}
td.smallColumn {display : none;}
div.articleBoxes {display : none;}

body, table td, .contentSide, td.fullWidth, td.contentSide, table.misillNG td.contentSide, {
  background-image:none;
  background-color:none;
background : white;
}

.misillText, .misillSearch, .banner, .navbar, .breadcrumbs, .blueColumn, .footerLogos, .footerText, td.side, td.corner, td.spacerColumn, #misillActions, .hidden {
  display:none;
}

table.misillNG td.topLeftCorner, table.misillNG td.topSide, table.misillNG td.topRightCorner, table.misillNG td.leftSide, table.misillNG td.headerLeftSide, table.misillNG td.rightSide, table.misillNG td.headerRightSide, table.misillNG td.footerLeftSide, table.misillNG td.footerSide, table.misillNG td.footerRightSide, table.misillNG td.bottomLeftCorner, table.misillNG td.bottomSide, table.misillNG td.bottomRightCorner {
background-image : none; background-color : none; display : none; background : white}



#wrapper {display : none}
#image {display : none}
#menutop {display : none}
#fullsize {display : none}

table.misillNGPageContainer {
  margin:0;
}

table.misillNG, table.misillNG td.fullWidth, table.mainContainer, table.mainContainer td.mainColumn {
  width:100% !important;
}

table.misillNG td.fullWidth, .footerSide {
  height:0;
background-color : none;
background-image : none;
background : white;
}

a:link, a:visited {
	text-decoration: underline;
	}

table.misillNG td.contentSide {background : white;}
body {background : white;}
#backbody {background : white;}