
body, td, th, div, a, input, select, p, textarea, label, ul, li{
	font-family:arial, verdana;
	font-size: 11px;
	-webkit-text-size-adjust:none;  
}


A.focus
{
	COLOR: Black;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	TEXT-DECORATION: none;
	WIDTH: auto;
	/*HEIGHT: 20px;
	*/
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	border: #000000 none;
	clip: rect( );
	letter-spacing : normal;
	margin-left : 2px;
}
	
A.focus:hover 
{
	COLOR: Black;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	TEXT-DECORATION: underline;
	WIDTH: auto;
	/*HEIGHT: 20px;
	*/
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	border: #000000 none;
	clip: auto;
	letter-spacing : normal;
	margin-left : 2px;
}

scrollingDD{
	background-color : #0062ad;
	color : Fuchsia;
}