h1, h2, h3{ margin:0px;}
h3{ margin-bottom:2px;}
body a{ text-decoration:none;}
body a:hover{ text-decoration:underline;}
a.bold{ font-size:11px; font-weight:bold;}
a.big{ font-size:16px; font-weight:bold;}
#greyinstitution, #greysupervision, #greyeurosysteme, #greymonetaire, #greypublications, #greystatistiques{ margin:0px;}
#greyinstitution li, #greysupervision li, #greyeurosysteme li, #greymonetaire li, #greypublications li, #greystatistiques li{ margin-top:4px;}
#greyinstitution div{ background:#F3F2F9 url(fleche.gif) no-repeat; padding-left:10px;}
#greysupervision div{ background:#F3F2F9 url(fleche.gif.1) no-repeat; padding-left:10px;}
#greyeurosysteme div{ background:#F3F2F9 url(fleche.gif.2) no-repeat; padding-left:10px;}
#greymonetaire div{ background:#F3F2F9 url(fleche.gif.3) no-repeat; padding-left:10px;}
#greypublications div{ background:#F3F2F9 url(fleche.gif.4) no-repeat; padding-left:10px;}
#greystatistiques div{ background:#F3F2F9 url(fleche.gif.5) no-repeat; padding-left:10px;}
#whiteinstitution, #whitesupervision, #whiteeurosysteme, #whitemonetaire, #whitepublications, #whitestatistiques{ margin:0px;}
#whiteinstitution li, #whitesupervision li, #whiteeurosysteme li, #whitemonetaire li, #whitepublications li, #whitestatistiques li{ margin-top:4px;}
#whiteinstitution div{ background:#FFFFFF url(fleche.gif) no-repeat; padding-left:10px;}
#whitesupervision div{ background:#FFFFFF url(fleche.gif.1) no-repeat; padding-left:10px;}
#whiteeurosysteme div{ background:#FFFFFF url(fleche.gif.2) no-repeat; padding-left:10px;}
#whitemonetaire div{ background:#FFFFFF url(fleche.gif.3) no-repeat; padding-left:10px;}
#whitepublications div{ background:#FFFFFF url(fleche.gif.4) no-repeat; padding-left:10px;}
#whitestatistiques div{ background:#FFFFFF url(fleche.gif.5) no-repeat; padding-left:10px;}
td.midleft{ background:#FFFFFF url(fndmidleft.gif);}
td.focus{ background:#FFFFFF url(fndfocus.gif);}
td.focustrait{ background:#FFFFFF url(fndfocustrait.gif);}
td.midsep{ background:#F3F2F9 url(midsep.gif);}
td.midright{ background:#FFFFFF url(fndmidright.gif);}
td.midhome{ background-color:#F3F2F9;}
