<style type="text/css">
	BODY{font-family: verdana,helvetica,sans-serif;	font-size:10px;color :black;}
	TD{font-family: verdana,helvetica,sans-serif;font-size:10px;color :black;}
	th{font-family: verdana,helvetica,sans-serif;font-size:10px;color :black; font-weight:bold;}
	form{font-family: verdana,helvetica,sans-serif;font-size:10px;color : #000000;}
	input{font-family: verdana,helvetica,sans-serif;font-size:10px;color : #000000;}
	select{font-family: verdana,helvetica,sans-serif;font-size:10px;color : #000000;z-index:1;}
	textarea{font-family: verdana,helvetica,sans-serif;font-size:10px;color : #000000;}
	
	.rouge{font-family: verdana,helvetica,sans-serif;font-size:11px;color :#E5174B;font-weight:bold;}
	.vsetesici{font-family: verdana,helvetica,sans-serif;font-size:10px;color :white;font-weight:bold;}
	.menud{font-family: verdana,helvetica,sans-serif;font-size:10px;color :white;line-height:15px;}
	.pratique{font-family: verdana,helvetica,sans-serif;font-size:10px;color :black;font-weight:bold;line-height:15px;}
	.pbr{font-family: arial,helvetica,sans-serif;font-size:4px;color:#3A82DB;}
	
	a:link{ text-decoration: none;font-size:10px;color:#000000;font-family: verdana,arial,helvetica,sans-serif;}
	a{ text-decoration: none;font-size:10px;color:#0000000;font-family: verdana,arial,helvetica,sans-serif;}
	a:active{ text-decoration: none;font-size:10px;	color:#000000;font-family: verdana,arial,helvetica,sans-serif;}
	a:visited{ text-decoration: none;font-size:10px;color:#000000;font-family: verdana,arial,helvetica,sans-serif;}
	a:hover{ text-decoration: none;font-size:10px;color:#005190;font-family: verdana,arial,helvetica,sans-serif;}

	a:link.vsetesici{ text-decoration: none;font-size:10px;color:white;font-family: verdana,arial,helvetica,sans-serif;font-weight:bold;}
	a.vsetesici{ text-decoration: none;font-size:10px;color:white;font-family: verdana,arial,helvetica,sans-serif;font-weight:bold;}
	a:active.vsetesici{ text-decoration: none;font-size:10px;color:white;font-family: verdana,arial,helvetica,sans-serif;font-weight:bold;}
	a:visited.vsetesici{ text-decoration: none;font-size:10px;color:white;font-family: verdana,arial,helvetica,sans-serif;font-weight:bold;}
	a:hover.vsetesici{ text-decoration: underline;font-size:10px;color:white;font-family: verdana,arial,helvetica,sans-serif;font-weight:bold;}

	/*<!-- Menu de droite-->*/
	.titremenud{font-family: verdana,helvetica,sans-serif;font-size:12px;color : #FFFFFF;font-weight:bold;}
	.menud{font-family: verdana,helvetica,sans-serif;font-size:10px;color :white;line-height:15px;}
	a:link.menud{ text-decoration: none;font-size:10px;color:white;font-family: verdana,arial,helvetica,sans-serif;line-height:15px;}
	a.menud{ text-decoration: none;font-size:10px;color:white;font-family: verdana,arial,helvetica,sans-serif;line-height:15px;}
	a:active.menud{ text-decoration: none;font-size:10px;color:white;font-family: verdana,arial,helvetica,sans-serif;line-height:15px;}
	a:visited.menud{ text-decoration: none;font-size:10px;color:white;font-family: verdana,arial,helvetica,sans-serif;line-height:15px;}
	a:hover.menud{ text-decoration: underline;font-size:10px;color:white;font-family: verdana,arial,helvetica,sans-serif;line-height:15px;}
	
	.menuderoulantd{font-family: verdana,helvetica,sans-serif;font-size:10px;color :white;line-height:15px;}
	a:link.menuderoulantd{ text-decoration: none;font-size:10px;color:white;font-family: verdana,arial,helvetica,sans-serif;line-height:15px;}
	a.menuderoulantd{ text-decoration: none;font-size:10px;color:white;font-family: verdana,arial,helvetica,sans-serif;line-height:15px;}
	a:active.menuderoulantd{ text-decoration: none;font-size:10px;color:white;font-family: verdana,arial,helvetica,sans-serif;line-height:15px;}
	a:visited.menuderoulantd{ text-decoration: none;font-size:10px;color:white;font-family: verdana,arial,helvetica,sans-serif;line-height:15px;}
	a:hover.menuderoulantd{ text-decoration: underline;font-size:10px;color:white;font-family: verdana,arial,helvetica,sans-serif;line-height:15px;}

	.menuderoulanth{font-family: verdana,helvetica,sans-serif;font-size:10px;color :black;line-height:15px;}
	a:link.menuderoulanth{ text-decoration: none;font-size:10px;color:black;font-family: verdana,arial,helvetica,sans-serif;line-height:15px;}
	a.menuderoulanth{ text-decoration: none;font-size:10px;color:black;font-family: verdana,arial,helvetica,sans-serif;line-height:15px;}
	a:active.menuderoulanth{ text-decoration: none;font-size:10px;color:black;font-family: verdana,arial,helvetica,sans-serif;line-height:15px;}
	a:visited.menuderoulanth{ text-decoration: none;font-size:10px;color:black;font-family: verdana,arial,helvetica,sans-serif;line-height:15px;}
	a:hover.menuderoulanth{ text-decoration: underline;font-size:10px;color:black;font-family: verdana,arial,helvetica,sans-serif;line-height:15px;}

</style>