
BODY {background-color:#e5f3ff;margin:0px;font:10px Verdana,Arial,sans-serif;color:#000}
HR {color:#12619c;height:1px;width:100%;text-align:center}
A.ministre {color:0B4F98;font-weight:bold;text-decoration:none}
A.ministre:hover {color:0B4F98;font-weight:bold;text-decoration:underline}
/****************************** HEADER */

#logo {background:url(bg_top.gif.1);background-position:right;background-repeat: no-repeat;text-align:center;vertical-align:top;padding-top:0px}

TD.lang {font:bold 10px Verdana,Arial,sans-serif;color:#fff;text-decoration:none;text-align:center;background:url(bg_lang.gif.1);height:19px;padding-right:17px}
TD.lang A {font:bold 10px Verdana,Arial,sans-serif;color:#fff;text-decoration:none;margin:0px 5px}
TD.lang A:hover {font:bold 10px Verdana,Arial,sans-serif;color:#fff;text-decoration:underline;margin:0px 5px}

TD.searchbox {color:#000;font:bold 10px/18px Verdana,sans-serif;height:62px;background:url(bg_search.gif.1)}

INPUT,SELECT,TEXTAREA,INPUT.search {font: 10px Verdana, Helvetica, Arial, sans-serif;border:1px solid #a70034;color:#000;background-color:#fff}
INPUT.search {width:11em}
INPUT.button {font:bold 10px/10px Verdana, Helvetica, Arial, sans-serif;border:1px solid #a70034;color:#fff;background-color:#a70034;margin-left:1px;height:16px}
INPUT.reset {font:bold 10px/10px Verdana, Helvetica, Arial, sans-serif;border:1px solid #999;color:#fff;background-color:#999;margin-left:1px;height:16px}

SPAN.advsearch A {font:bold 10px/18px Verdana,sans-serif;color:#a70034;background-color:#c9e6ff;text-decoration:none}
SPAN.advsearch A:hover {font:bold 10px/18px Verdana,sans-serif;color:#a70034;background-color:#c9e6ff;text-decoration:underline}

TD.navsoussites {background:#f5f5f5;padding-top:0px}
TD.navsoussitespage {background:#fff;padding-top:0px}
#soussites {display:block;padding:0;margin:0;border:0;height:18px}
#soussites UL {background-color:#004d8d;width:100%;list-style:none;padding:0;margin:0;border-top:1px solid #fff;border-right:1px solid #fff;height:18px}
#soussites LI {background-color:#004d8d;list-style:none;padding:0;margin:0;display:inline;vertical-align:middle;border-left:1px solid #fff}
#soussites A {font:bold 9px/16px Verdana,Arial,sans-serif;color:#fff;text-decoration:none;padding:0px 4px;margin:0px;background-color:#004d8d;height:18px}
#soussites A:hover {font:bold 9px/16px Verdana,Arial,sans-serif;color:#fff;text-decoration:none;padding:0px 4px;margin:0px;background-color:#a70034;height:18px}

TD.navoutils {background:#fff url(bg_outils2.gif.1) 100% 0% repeat-y;vertical-align:top;height:18px}
TD.navoutilspage {background:#fff;vertical-align:top;height:18px}
#outils {width:562px;border-top:1px solid #fff;border-left:1px solid #fff;background:url(bg_outils.gif.1) #c9e6ff;vertical-align:top}
#outils A {font:9px Verdana,Arial,sans-serif;color:#a70034;text-decoration:none}
#outils A:hover {font:9px Verdana,Arial,sans-serif;color:#a70034;text-decoration:underline}
TD.primus {background:#c9e6ff}
SPAN.endoutils {background:url(outils_end.gif.1);float:right;width:5px;height:17px;display:inline}
SPAN.endoutilspage {background:url(outils_endpage.gif.1);float:right;width:5px;height:17px;display:inline}

/****************************** COLONNE DE GAUCHE */
#navmain {}
#navmain TD {background:url(rubriquea.gif.1) no-repeat 100% 100%;height:16px}
#navmain A {font:10px Verdana,Arial,sans-serif;color:#fff;text-decoration:none;padding-left:22px}
#navmain A:hover {font:10px Verdana,Arial,sans-serif;color:#fff;text-decoration:none;padding-left:22px}


TD.leftcol {vertical-align:top}
TD.leftendcol {width:181px}


/*************** MENU DYNAMIQUES BEGIN *****************/

a.dynmenu1 {display:block;padding:0;border-width:0px 1px 1px 1px;border-style:solid;border-color:#0d4d83;color:#036;text-decoration:none;font-weight:bold;padding-left:4px;background:#c9e6ff; cursor:pointer}

a.dynmenu2 {display:block;padding:0;border-width:0px 1px 1px 1px;border-style:solid;border-color:#0d4d83;color:#036;text-decoration:none;font-weight:bold;padding-left:4px;background:#c9e6ff; cursor:pointer}

a.dynmenu3 {display:block;padding:0;border-width:0px 1px 1px 1px;border-style:solid;border-color:#0d4d83;color:#036;text-decoration:none;font-weight:bold;padding-left:4px;background:#c9e6ff;cursor:pointer}

a.dynmenu4 {display:block;padding:0;border-width:0px 1px 1px 1px;border-style:solid;border-color:#0d4d83;color:#036;text-decoration:none;font-weight:bold;padding-left:4px;background:#c9e6ff;cursor:pointer}

a.dynmenu5 {display:block;padding:0;border-width:0px 1px 1px 1px;border-style:solid;border-color:#0d4d83;color:#036;text-decoration:none;font-weight:bold;padding-left:4px;background:#c9e6ff;cursor:pointer}

a.dynmenu1:hover, a.dynmenu2:hover, a.dynmenu3:hover, a.dynmenu4:hover, a.dynmenu5:hover {display:block;padding:0;border-width:0px 1px 1px 1px;border-style:solid;border-color:#0e4d83;color:#a70034;text-decoration:none;font-weight:bold;padding-left:4px;background:#fff ;cursor:pointer}

a.lastdynmenu1 {display:block;padding:0;border-width:0px 1px 1px 1px;border-style:solid;border-color:#0d4d83;color:#036;text-decoration:none;font-weight:bold;padding-left:4px;background:#c9e6ff;cursor:pointer}

a.lastdynmenu2 {display:block;padding:0;border-width:0px 1px 1px 1px;border-style:solid;border-color:#0d4d83;color:#036;text-decoration:none;font-weight:bold;padding-left:4px;background:#c9e6ff;cursor:pointer}

a.lastdynmenu3 {display:block;padding:0;border-width:0px 1px 1px 1px;border-style:solid;border-color:#0d4d83;color:#036;text-decoration:none;font-weight:bold;padding-left:4px;background:#c9e6ff;cursor:pointer}

a.lastdynmenu4 {display:block;padding:0;border-width:0px 1px 1px 1px;border-style:solid;border-color:#0d4d83;color:#036;text-decoration:none;font-weight:bold;padding-left:4px;background:#c9e6ff;cursor:pointer}

a.lastdynmenu5 {display:block;padding:0;border-width:0px 1px 1px 1px;border-style:solid;border-color:#0d4d83;color:#036;text-decoration:none;font-weight:bold;padding-left:4px;background:#c9e6ff;cursor:pointer}

a.lastdynmenu1:hover, a.lastdynmenu2:hover, a.lastdynmenu3:hover, a.lastdynmenu4:hover, a.lastdynmenu5:hover  {display:block;padding:0;border-width:0px 1px 1px 1px;border-style:solid;border-color:#0e4d83;color:#a70034;text-decoration:none;font-weight:bold;padding-left:4px;background:#fff;cursor:pointer}

/*************** MENU DYNAMIQUES END *****************/

#menuleft1 DIV {background:url(tm_01.gif.1);height:16px; background-repeat:no-repeat;background-position:top right;}
#menuleft2 DIV {background:url(tm_02.gif.1);height:16px; background-repeat:no-repeat;background-position:top right;}
#menuleft3 DIV, #menuleft4 DIV, #menuleft5 DIV {background:url(tm_03.gif.1);height:16px; background-repeat:no-repeat;background-position:top right;}


#menuleft1 A.sub {display:block;padding:0;border-width:0px 1px 1px 1px;border-style:solid;border-color:#0d4d83;color:#036;text-decoration:none;font-weight:bold;padding-left:4px;background:#c9e6ff;}
#menuleft2 A.sub {display:block;padding:0;border-width:0px 1px 1px 1px;border-style:solid;border-color:#0e4d83;color:#036;text-decoration:none;font-weight:bold;padding-left:4px;background:#c9e6ff;}
#menuleft3 A.sub, #menuleft4 A.sub, #menuleft5 A.sub {display:block;padding:0;border-width:0px 1px 1px 1px;border-style:solid;border-color:#0e4d83;color:#036;text-decoration:none;font-weight:bold;padding-left:4px;background:#c9e6ff;}
#menuleft1 A.sub:hover,#menuleft2 A.sub:hover,#menuleft3 A.sub:hover,#menuleft4 A.sub:hover, #menuleft5 A.sub:hover  {display:block;padding:0;border-width:0px 1px 1px 1px;border-style:solid;border-color:#0e4d83;color:#a70034;text-decoration:none;font-weight:bold;padding-left:4px;background:#fff;}

.submenuin {color:#a70034;vertical-align:middle;text-indent:11px;background:#fff url(arrow_on.gif.1) no-repeat 0% 50%}
IMG.logo {display:none}

/**** BOITES DE DROITE ***/
.magazine A.sub {display:block;padding:0;border-width:0px; color:#000;text-decoration:none;font-weight:bold;width:100%;}
.magazine A.sub:hover {display:block;padding:0;border-width:0px; color:#a70034;text-decoration:none;font-weight:bold;width:100%;}

.boxrighttitle {font-size:10px; font-family:Verdana,Arial,sans-serif; font-weight: bold; color: rgb(255, 255, 255); background: rgb(18, 97, 156); width:124px; display:block; margin-top:5px; text-align:center}

/**** FIN BOITES DE DROITE ***/

/**** BOITES DE GAUCHE ****/
#menuleft1 .file_list_detailed{display:block;padding:0;border-width:0px 1px 1px 1px;border-style:solid;border-color:#0d4d83;color:#036;text-decoration:none;font-weight:bold;padding-left:4px;background:#c9e6ff;left:0px;top:0px}
#menuleft1 .file_list_compact{display:block;padding:0;border-width:0px 1px 1px 1px;border-style:solid;border-color:#0d4d83;color:#036;text-decoration:none;font-weight:bold;padding-left:4px;background:#c9e6ff;;left:0px;top:0px}

/**** FIN BOITE DE GAUCE ***/

/****************************** CENTRE */
TD.content {background-color:#fff;vertical-align:top;padding:15px;height:100%}
TD.contentpage {background-color:#fff;vertical-align:top;padding:15px 37px 30px 15px;width:594px;height:100%}
body>TD.contentpage {width:542px}

TD.ezcontent {background-color:#fff;vertical-align:top;padding:15px}


DIV.titulo {background:#c9e6ff;height:21px;vertical-align:middle;margin:0;padding:0;border:0;width:auto;margin-bottom:10px;display:block}
DIV.titulo .txtune {background:url(t_alaune_bg.gif.1) no-repeat 0% 100%;font:bold 13px Verdana,Arial,sans-serif;color:#fff;height:100%;padding-left:20px}
DIV.titulo .endune {background:url(t_alaune_end.gif.1) no-repeat 0% 100%}
DIV.titulo .txt {background:url(t_bg.gif.1) no-repeat 0% 100%;font:bold 13px Verdana,Arial,sans-serif;color:#fff;height:100%;padding-left:20px}
DIV.titulo .end {background:url(t_end.gif.1) no-repeat 0% 100%}

.articles {width:100%}
.articles TD {vertical-align:middle}

.articles A {color:#a70034;text-decoration:none}
.articles A:hover {color:#a70034;text-decoration:underline}

SPAN.more {margin:5px 0px 20px 0px;display:block}
SPAN.more A {font-weight:bold;color:#a70034;text-decoration:none}
SPAN.more A:hover {font-weight:bold;color:#a70034;text-decoration:underline}


TD.bottomnavbar {background-color:#fff;font:bold 9px Verdana,Arial,sans-serif;text-align:center;color:#12619c;max-height:50px}
TD.bottomnavbar A:link, TD.bottomnavbar A:visited {font:bold 9px Verdana,Arial,sans-serif;text-align:center;color:#12619c;text-decoration:none}
TD.bottomnavbar A:hover, TD.bottomnavbar A:active {font:bold 9px Verdana,Arial,sans-serif;text-align:center;color:#a70034;text-decoration:none}

TD.bottom {font:9px Verdana,Arial,sans-serif;color:#fff;text-align:center;background:#12619c;width:470px}
TD.bottompage {font:9px Verdana,Arial,sans-serif;color:#fff;text-align:center;background:#12619c;width:528px}
TD.bottom A:link,TD.bottom A:visited,TD.bottompage A:link,TD.bottompage A:visited {background-color:#12619c;font:9px Verdana,Arial,sans-serif;color:#fff;text-decoration:none}
TD.bottom A:hover,TD.bottom A:active,TD.bottompage A:hover,TD.bottompage A:active {background-color:#12619c;font:9px Verdana,Arial,sans-serif;color:#fff;text-decoration:underline}

/********************************************* CONTENU TEMPLATES ************/

DIV.courant {padding-left:17px}
DIV.courant A {color:#a70034;text-decoration:none}
DIV.courant A:hover {color:#a70034;text-decoration:underline}

.resume {font:bold 10px Verdana,Arial,sans-serif;color:#0e4d83;margin-top:10px}

.boxtop {background:#f5f5f5 url(box_bg_top.gif.1);border-right: 1px solid #004d8d;height:13px}
.boxmid {background:#f5f5f5;border-left: 1px solid #004d8d;border-right: 1px solid #004d8d;padding:0 15px}
.boxbot {background:#f5f5f5 url(box_bg_bottom.gif.1);border-left: 1px solid #004d8d;margin-bottom:20px;height:13px;text-align:right}

TABLE.box {}
TABLE.box THEAD TH {background:#004d8d;font:bold 10px Verdana,sans-serif;color:White;text-align:left;padding:2px 5px}
TABLE.box TBODY TH {font:10px Verdana,sans-serif;color:Black;text-align:right;background:#c9e6ff url(http://www.defense.gouv.fr/design/defense/images/bullet2.gif) no-repeat 100% 50%;padding-right:15px;padding-left:5px}
TABLE.box TFOOT TD {font:10px Verdana,sans-serif;color:Black;text-align:right;background:White}
TABLE.box TD {background:#f5f5f5;font:bold 10px Verdana,sans-serif;color:White;text-align:center}
TABLE.box TD.aleft {background:#f5f5f5;font:10px Verdana,sans-serif;color:Black;text-align:left}
TABLE.box TD.aright {background:#f5f5f5;font:10px Verdana,sans-serif;color:Black;text-align:right}
TABLE.box TD.none {background:White;font:10px Verdana,sans-serif;color:Black;text-align:right;vertical-align:top}
TABLE.box TFOOT TD.none {background:White;font:10px Verdana,sans-serif;color:Black;text-align:left;vertical-align:top}

UL.mini {list-style:square;margin:0 0 0 15px;padding:10px 0 0 0}
UL.mini LI {margin-bottom:15px}
UL.mini A {font:bold 10px Verdana,Arial,sans-serif;text-decoration:none}
UL.mini A:hover {font:bold 10px Verdana,Arial,sans-serif;text-decoration:underline}

UL.brevesmini {list-style:square;margin:0 0 0 15px;padding:10px 0 0 0}
UL.brevesmini LI {margin-bottom:15px}
UL.brevesmini A {font:10px Verdana,Arial,sans-serif;text-decoration:none;color:Black}
UL.brevesmini A:hover {font:10px Verdana,Arial,sans-serif;text-decoration:none}

UL.breves {list-style:none;margin:0;padding:10px 0 0 0}
UL.breves LI {margin-bottom:15px}
UL.breves A {font:10px Verdana,Arial,sans-serif;text-decoration:none;color:Black}
UL.breves A:hover {font:10px Verdana,Arial,sans-serif;text-decoration:none}

UL.dossiers {list-style:none;margin:0;padding:10px 0 0 0}
UL.dossiers LI {margin-bottom:15px;display:block}
UL.dossiers A {font:10px Verdana,Arial,sans-serif;text-decoration:none;color:Black}
UL.dossiers A:hover {font:10px Verdana,Arial,sans-serif;text-decoration:none}

OL.anchor {margin:0 0 0 25px;padding:10px 0}
OL.anchor A {font:10px Verdana,Arial,sans-serif;text-decoration:none;color:Black}
OL.anchor A:hover {font:10px Verdana,Arial,sans-serif;text-decoration:none}

TABLE.webz TD {vertical-align:top;background-color:#efefef}
TABLE.webz A {font:10px Verdana,Arial,sans-serif;text-decoration:none;color:Black}
TABLE.webz A:hover {font:10px Verdana,Arial,sans-serif;text-decoration:none}

.pictoresult {float:left;margin:0 10px 0 0}
.faq {margin:0 0 0 25px;padding:10px 0}
.faq LI {margin-bottom:15px}
.pictofaq {margin:0 7px 0 0}

.left {float:left;margin-right:15px}
.right {float:right;margin-left:15px}
.left IMG {border:1px solid #12619c;margin:0}
.right IMG {border:1px solid #12619c;margin:0}
.legende {color:#777}

/****************************** COLONNE DE DROITE */
TD.rightcol {vertical-align:top;width:124px}
TD.rightendcol {vertical-align:top;width:66px}
TD.rightcolpage {vertical-align:bottom;width:66px;background:#ffffff url(b_tothetop.gif.1)}

DIV.gris {background:#f5f5f5;padding-top:15px}
DIV.gris IMG {background:#f5f5f5;margin-bottom:12px}

DIV.imghead {width:124px;height:76px;background:#12619c url(bloc_mag_head.gif.1)}
DIV.imghead SPAN {position:relative;top:59px;font:bold 10px Verdana,Arial,sans-serif;color:#fff;background-color:#12619c;border-top:1px solid #fff;padding:1px 2px; width:124px; height:18px;text-align:center;}

.magazine {background:#f5f5f5;border-right:1px solid #12619c;border-left:1px solid #12619c;padding:5px 5px 0 5px}

DIV.blocend {width:124px;height:16px;background:url(bloc_end.gif.1)}

/************************ RAJOUT POUR REFONTE */

TABLE.boxTitle{}
TABLE.boxTitle TD.txt {background:url(box_title_bg.gif.1) repeat 0% 100%;font:bold 13px Verdana,Arial,sans-serif;color:#fff;}
TABLE.boxTitle TD.end {background:url(box_title_right.gif.1) no-repeat 0% 100%;}


