.menu UL {
	list-style-type: none;
	list-style-image: none;
	margin-bottom: 15px;
	margin-left: 5px;
	margin-top: -1px;
	padding-left: 0px;
}
.menu A { 
  font-size: xx-small; 
  text-decoration: none;
  color: #000000
}
.menu A:hover {
  text-decoration: none;
  color: #C33100
}
.menu_selected {
	font-size: xx-small;
	color: #A23313;
}
.menu_selected A {
  text-decoration: none;
  color: #A23313
}
.menu_selected A:hover { 
  text-decoration: none;
  color: #C33100
}
.menu_zone_selected {
	font-size: xx-small;
	color: #836647;

}
.menu_zone_selected A {
  text-decoration: none;
  color: #836647 
}
.menu_zone_selected A:hover {
  text-decoration: none;
  color: #C33100
}
TABLE.couleur_menu { background-color: #E6E0DB; }
.menu LI {
	line-height: 10px;
	margin-top: 5px;
	
}
.menu {
	font-size: xx-small;

}
.menu A:link { color: #000000 }
.menu A:visited { color: #000000 }
.menu_selected A:link { color: #A23313 }
.menu_selected A:visited {
	color: #A23313;
}
.menu_zone_selected A:link { color: #836647 }
.menu_zone_selected A:visited { color: #836647 }
.srub {
	border-left: thin solid #a23313;
}
.srub2 {
	border-left: thin solid #a23313;
	margin-top: 2px;
	padding-left: 3px;
	padding-bottom: 0px;
	background-color: #F3F3F3;
}
.sbrub3 {
	padding-bottom: 0px;
	padding-left: 7px;
	font-size: x-small;
}
