BODY {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #000000;
	background-color: #FFFFFF;
	text-align: justify;

}

EM {

  color: #C33100;

  font-style: normal

}

ROUGE {
	color: red;
	}
EM2 {
  color: black;
  font-family : Monotype Corsiva;
  font-size: 20;
  font-style:bold;
  text-align : center;
}

t {
  color: black;
  font-family : Times New Roman;
  font-size: 12;
  text-align : right;
}
EM3 {
  color: black;
  font-family : Monotype Corsiva;
  font-size: 48;
  text-align : center;
}
.EM4 {
  color: #836647;
  font-family : 	font-family: Arial, Helvetica, sans-serif;
  font-size: 13;
}

TABLE { border-spacing: 0 }

TD { padding: 0 }

TD.gris { background-color: #999999 }

TD.noir { background-color: #000000 }

A { text-decoration: none }

A:link { color: #695139 }

A:visited { color: #695139 }

A:hover { color: #C33100 }

.bandeau_navigation {

  font-size: xx-small;

  color: #C33100;

}
.bandeau_navigation2 {

  font-size: 11;
  font-style:bold;
  color: #7F8FB2

}
.contenu {

  font-size: 12;
  font-style:bold;
  color: #7F8FB2;

}
.bandeau_navigation3 {

  font-size: 14;
	
  color: #7F8FB2

}
.emb {

  font-size: 14;

  color: #C33100

}
.bandeau_navigation4 {

  font-size: 13;
  font-style:bold;  color: #7F8FB2

}

.bandeau_navigation A:hover {

  text-decoration: none;

  color: #C33100

}
.bandeau_navigation2 A:hover {

  text-decoration: none;
  font-style: bold;
  color: #7F8FB2

}
.bandeau_navigation3 A:hover {

  text-decoration: none;

  color: #7F8FB2

}


.bandeau_navigation A { color: #836647 }
.bandeau_navigation2 A { color: #7F8FB2 }
.bandeau_navigation3 A { color: #7F8FB2 }
.bandeau_navigation A:visited { color: #836647 }
.bandeau_navigation2 A:visited { color: #7F8FB2 }
.bandeau_navigation3 A:visited { color: #7F8FB2 }

.plan_navigation { font-size: xx-small }


.orientation:link { color: #a52223 }
.orientation:visited { color: #a52223 }
.orientation:hover { color: #836647 }
.orientation:active { color: #a52223 }
