/* [paginaDeInicio.css] ============================================================================================================*/
/* [paginaDeInicio.css] Contenidos __________________________________________________________________________________*/
body#paginaDeInicio div#contenidos, 
body#paginaDeInicio div#columnaLateralDerecha {
	margin-top: 0px;
}
body#paginaDeInicio div#contenidos {
	width: 645px;
	padding: 0px;
	margin:0px;
    float:left;
    border-top:1px solid #e4e9ef;
}

body#paginaDeInicio div#contenidos div#columna_0 {
	width: 640px;
	padding: 8px 0px 5px 5px;
	float: left;
}

body#paginaDeInicio div#contenidos div#franjaHora {
	width: 637px;
	padding:3px 0px 2px 4px;
	margin:0px;
    float:left;
 /*   background: url('/img/interfaz/bg-menuinferior.gif') top left;*/
    font-size:9px;
    color:#990000;
    border-left:5px solid #E4E7EC;
    border-bottom:1px solid #E4E7EC;
    background-color:#fff;
}



/************* PARTE INFERIOR 'CELDITAS DE BREBES' ******************/

body#paginaDeInicio div#contenidos div#columna_0 div.breuGrafic{
	width: 155px;
	margin:5px 5px 5px 0px;
	float: left;
}

body#paginaDeInicio div#contenidos div#columna_0 div.breuGrafic img{
	width:148px;
	height:80px;
	margin:0;
	border:1px solid silver;
	padding:0px;
}


body#paginaDeInicio div#contenidos div#columna_0 div.breuGrafic dd{
	display:none;
}

body#paginaDeInicio div#contenidos div#columna_0 div.breuGrafic h3 {
  font-weight: bold;
	font-family: "Verdana", "Arial", "Helvetica", sans-serif;
	font-size: 11px;
	line-height:14px;
}

body#paginaDeInicio div#contenidos div#columna_0 div.breuGrafic h3 a{
	margin:0;
	padding:0;
	color: #000000;
}
body#paginaDeInicio div#contenidos div#columna_0 h3 {
  font-weight: bold;
	font-family: "Verdana", "Arial", "Helvetica", sans-serif;
	font-size: 13px;
	line-height:17px;
}

body#paginaDeInicio div#contenidos div#columna_0 h3 a{
	margin:0;
	padding:0;
	color: #000000;
}

/****************************************************************/

div#contenidos hr {
	height: 1px;
	margin:5px 0px 0px 0px;
	padding:0px;
	background-color:#e4e9ef;
	color:#e4e9ef;
	width:100%;
}


*html div#contenidos hr {
	margin:0px 0px -5px 0px;
	padding:0px;
}


/************* NOTICIA CON IMAGEN VERTICAL COLUMNA DERECHA ******************/

body#paginaDeInicio div#contenidos div#columna_2 div#VerticalDerecha{
    width:192px;
    background-color:#efefef;
    padding:6px;
    margin:0px 0px -3px 0px;
    }
body#paginaDeInicio div#contenidos div#columna_2 div#VerticalDerecha2{
    width:192px;
    background-color:#FFFFFF;
    padding:6px;
    margin:0px 0px -3px 0px;
    }
body#paginaDeInicio div#contenidos div#columna_2 div#VerticalDerecha3{
    width:214px;
    background-color:#efefef;
    padding:8px;
    margin:0px 0px -2px 0px;
    }


body#paginaDeInicio div#contenidos div#columna_2 div#VerticalDerecha dd{
    display:none;
    }

body#paginaDeInicio div#contenidos div#columna_2 div#VerticalDerecha dl img{
    width:180px;
    padding:0px;
    background-color:gray;
    padding:1px;
    border:3px solid #fff;
    
    }
body#paginaDeInicio div#contenidos div#columna_2 div#VerticalDerecha3 dl img{
    width:200px;
    padding:0px;
    padding:1px;
    border:2px solid #fff;
    
    }


/************* NOTICIA CON MINIATURA A IZQUIERDA Y SUBTIT A DERECHA ******************/

body#paginaDeInicio div#contenidos div#columna_1 dl.MiniLeft,
body#paginaDeInicio div#contenidos div#columna_2 dl.MiniLeft{
    width:108px;
    height:60px;
    float:left;
    margin:3px 10px 0px 0px;
    }


body#paginaDeInicio div#contenidos div#columna_1 dl.MiniLeft dd,
body#paginaDeInicio div#contenidos div#columna_2 dl.MiniLeft dd{
    display:none;
    }

body#paginaDeInicio div#contenidos div#columna_1 dl.MiniLeft img,
body#paginaDeInicio div#contenidos div#columna_2 dl.MiniLeft img{
    padding:0px;
    margin:2px 0px 0px 0px;
    border:1px solid silver;
    }

body#paginaDeInicio div#contenidos div#columna_1 div.SubtitRight,
body#paginaDeInicio div#contenidos div#columna_2 div.SubtitRight{
    font-size:12px;
    margin-top:8px;
    }
body#paginaDeInicio div#contenidos div#columna_0 div.SubtitElecciones{
  	font-size:12px;
	line-height:16px;
   	margin: 0px 10px 10px 5px;
	}
  
body#paginaDeInicio div#contenidos div#columna_0 div.SubtitElecciones ol li{	
	list-style-type: none;
    text-indent:10px;
    padding-left: 0px;
	background: url('bg-subti.gif') top left no-repeat;
}

    
body#paginaDeInicio div#contenidos div#columna_1 div.SubtitRight ol li,
body#paginaDeInicio div#contenidos div#columna_2 div.SubtitRight ol li{
    line-height:13px;
	margin:0 0 3px 0;
	text-indent:8px;
	padding-left: 0px;
	background: url('bg-subti.gif') top left no-repeat;
    }


/****************************************************************/

body#paginaDeInicio div#contenidos div#columna_1 {
	width: 390px;
	padding: 0px 7px 0px 5px;
	float: left;
	border-right: 1px solid #E4E7EC;


}

body#paginaDeInicio div#contenidos div#columna_2 {
	width: 232px;
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 0px 0px;
	float: left;
    }
	 
* html body#paginaDeInicio div#contenidos div#columna_2 {
	width: 225px;
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 0px 0px;
	float: left;
    }

body#paginaDeInicio div#contenidos div#columna_3 {
	width: 324px;
	float: left;
}

body#paginaDeInicio div#contenidos div#columna_0 h2,
body#paginaDeInicio div#contenidos div#columna_1 h2,
body#paginaDeInicio div#contenidos div#columna_2 h2,
body#paginaDeInicio div#todosLosTitulares h2 {
	font-size: 9px;
	line-height:10px;
	font-weight: normal;
	text-transform:uppercase;
	color:#666;
	margin:4px 0 4px 0;
	padding:0px;
	}

body#paginaDeInicio div#contenidos div#columna_0 h2 span.hora,
body#paginaDeInicio div#contenidos div#columna_1 h2 span.hora,
body#paginaDeInicio div#contenidos div#columna_2 h2 span.hora, 
body#paginaDeInicio div#todosLosTitulares span.hora {
	color: #B10304;
}

body#paginaDeInicio div#contenidos div#columna_0 h3
body#paginaDeInicio div#contenidos div#columna_1 h3 {
	margin:2px 0 2px 0;
	padding:0;
	color: #000000;

    font-weight: normal;

	font-family: Verdana, Arial, Helvetica, "sans-serif";
	font-size: 18px;
	line-height: 19px;

	letter-spacing: 0px;
	word-spacing: 1px;
}

body#paginaDeInicio div#contenidos div#columna_2 h3 {
	margin:2px 0 2px 0;
	padding:0;

	font-family: "Verdana", "Arial", "Helvetica", sans-serif;
	font-size: 13px;
	line-height: 14px;
	word-spacing: 1px;
	letter-spacing:0px;
}


body#paginaDeInicio div#contenidos div#columna_0 h3.principal {
	font-size: 24px;
	line-height: 26px;
	word-spacing: -1px;
	letter-spacing:-1px;
	font-weight:bold;

}

body#paginaDeInicio div#contenidos div#columna_0 h3.barsa {
	font-size: 13px;
	line-height: 15px;	
	font-weight:bold;
	

}

body#paginaDeInicio div#contenidos div#columna_0 h3.barsa {
	font-size: 10px;
	line-height: 17px;
	word-spacing: -1px;
	letter-spacing:-1px;
	

}
/*AQUI AFEGEIXO CODI*/
 div#contenidos div#columna_0 h3.eua {
	font-size: 24px;
	line-height: 26px;
	word-spacing: -1px;
	letter-spacing:-1px;
	font-weight:bold;
}

body#paginaDeInicio div#contenidos div#columna_0 h3.Grande {
	font-size: 13px;
	line-height: 17px;
	font-weight:bold;
	word-spacing: -1px;
	letter-spacing:-2px;
	text-align:center;
	padding-bottom:5px;

}
body#paginaDeInicio div#contenidos div#columna_0 h3.Eleccions {
	font-size: 38px;
	line-height: 42px;
	word-spacing: -1px;
	letter-spacing:-1px;
	text-align:center;
	padding-bottom:5px;

}

body#paginaDeInicio div#contenidos div#columna_0 h3.GrandeLeft {
	font-size: 38px;
	line-height: 40px;
	font-weight:bold;
	word-spacing: -1px;
	letter-spacing:-1px;
	text-align:left;
	padding-bottom:5px;

}
body#paginaDeInicio div#contenidos div#columna_0 h3.GrandeLeft2 {
	font-size: 13px;
	line-height: 17px;
	font-weight:bold;
	padding-bottom:5px;

}

body#paginaDeInicio div#contenidos div#columna_1 h3{


}

body#paginaDeInicio div#contenidos div#columna_1 h3.principal {
	font-size: 24px;
	line-height: 24px;
	word-spacing: -1px;
	letter-spacing:-1px;

}


body#paginaDeInicio div#contenidos div#columna_0 div.Aderecha {
	float:left;
	width:245px;

}

body#paginaDeInicio div#contenidos div#columna_0 div.Aderecha ol li{
	float:left;
	width:245px;
	margin:0px 0 10px 10px;


}

body#paginaDeInicio div#contenidos div#columna_0 div.Aderecha ul li{
	width:245px;
    margin:5px 0 5px 10px;
	float:left;

}



body#paginaDeInicio div#contenidos div#columna_1 h4 {
	margin:2px 0 3px 0;
	padding:0;
	color: #000000;

	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 14px;

	letter-spacing: 0px;
	word-spacing: 1px;

}

body#paginaDeInicio div#contenidos div#columna_2 h4 {
	margin:2px 0 3px 0;
	padding:0;
	color: #000000;

	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 17px;

	letter-spacing: 0px;
	word-spacing: 1px;

}


body#paginaDeInicio div#contenidos div#columna_0 dl dt img,
body#paginaDeInicio div#contenidos div#columna_1 dl dt img,
body#paginaDeInicio div#contenidos div#columna_2 dl dt img{
	margin-top: 3px; padding: 2px;
	border: 1px solid #E6E7EC;
}
body#paginaDeInicio div#contenidos div#columna_2 dl dd{
	display:none;
}
body#paginaDeInicio div#contenidos div#columna_0 dl dd,
body#paginaDeInicio div#contenidos div#columna_1 dl dd,
body#paginaDeInicio div#contenidos div#columna_2 dl dd{
	margin: 0px 10px 0px 0px;
	font-size: 9px;
	text-align: left;
	color:#727272;
}

body#paginaDeInicio div#contenidos div#columna_0 p.peuvideo,
body#paginaDeInicio div#contenidos div#columna_1 p.peuvideo,
body#paginaDeInicio div#contenidos div#columna_2 p.peuvideo{
	margin: 3px 10px 0px 0px;
	font-size: 9px;
	line-height:13px;
	text-align: left;

	color:#727272;
}

body#paginaDeInicio div#contenidos div#columna_0 ul {
	margin: 0px 0px 0px 0;
	list-style-type: none;

}

body#paginaDeInicio div#contenidos div#columna_0 ul li {
	color:#3370cb;
    width:280px;
	font-size:11px;
	line-height:14px;
	font-weight:bold;
	margin: 2px 20px 4px 5px;
	float:left;
}


body#paginaDeInicio div#contenidos div#columna_1 ul,
body#paginaDeInicio div#contenidos div#columna_2 ul {
	margin: 5px 0 7px 0;                                          /*         */
	/*margin: 5px 0px 0px 0;*/
	list-style-type: none;
}

body#paginaDeInicio div#contenidos div#columna_1 ul li, 
body#paginaDeInicio div#contenidos div#columna_2 ul li {
	color:#3370cb;
	font-size:11px;
	line-height:13px;
	font-weight:bold;
	margin: 5px 0px 0px 0px;
}

body#paginaDeInicio div#contenidos div#columna_0 ul li a, 
body#paginaDeInicio div#contenidos div#columna_1 ul li a, 
body#paginaDeInicio div#contenidos div#columna_2 ul li a{
	color:#3370cb;
}

body#paginaDeInicio div#contenidos div#columna_0 ul li span.epirec,
body#paginaDeInicio div#contenidos div#columna_1 ul li span.epirec,
body#paginaDeInicio div#contenidos div#columna_2 ul li span.epirec{
	color:#3370cb;
	font-size:10px;
	font-weight:400;
	text-transform:uppercase;
}
body#paginaDeInicio div#contenidos div#columna_0 ol,
body#paginaDeInicio div#contenidos div#columna_1 ol,
body#paginaDeInicio div#contenidos div#columna_2 ol {
	margin: 0px 0px 10px 0px;
    list-style-type: none;
    text-indent:10px;
}

body#paginaDeInicio div#contenidos div#columna_0 ol li{
   width:280px;
	margin: 10px 20px 15px 5px;
    list-style-type: none;
    text-indent:10px;
    float:left;
    line-height:16px;
	text-indent:8px;
	padding-left: 0px;
	background: url('bg-subti.gif') top left no-repeat;
}
    
body#paginaDeInicio div#contenidos div#columna_1 ol li, 
body#paginaDeInicio div#contenidos div#columna_2 ol li {
    line-height:17px;
	margin:3px 0 0 0;
	text-indent:8px;
	padding-left: 0px;
	background: url('bg-subti.gif') top left no-repeat;
}

body#paginaDeInicio div#contenidos div#columna_0 p,
body#paginaDeInicio div#contenidos div#columna_1 p, 
body#paginaDeInicio div#contenidos div#columna_2 p {
   clear:both;
	margin:0 0 0 0;                                              /*   top -6     */
	/*margin:3px 0 0 0;*/
	/*padding:2px 0 0 0;*/ 
}

div#contenidos div#columna_0 p a.comments
 {
float:left;
}
body#paginaDeInicio div#contenidos div#columna_0 p a.comments,
body#paginaDeInicio div#contenidos div#columna_1 p a.comments, 
body#paginaDeInicio div#contenidos div#columna_2 p a.comments {
   color: #555555;
	font-size: 11px;
	line-height:19px;
	margin:0 0 3px 0;
	padding:0 0 0 13px; 
	background: url('comenticon.gif') 0px 2px no-repeat;
}
body#paginaDeInicio div#contenidos div#columna_0 p a:hover.comments,
body#paginaDeInicio div#contenidos div#columna_1 p a:hover.comments, 
body#paginaDeInicio div#contenidos div#columna_2 p a:hover.comments {
   color: #AD1508;
}

/**************** staff ********************/

body#paginaDeInicio div#contenidos div#staff div#columna_0 p.tituloSeccion {
	margin-bottom: 3px;
	font: bold 13px "Arial", "Helvetica", sans-serif;
	text-transform: uppercase;
	color:#900;
}
body#paginaDeInicio div#contenidos div#staff h1{
	margin:2px 0 4px 2px;
	padding:0;
	color: #900;
		font-weight: normal;
	font-family: "Verdana", "Arial", "Helvetica", sans-serif;
	font-size: 15px;
	line-height: 19px;
	Float:left;
	width:100%;
}

body#paginaDeInicio div#contenidos div#staff h2{
	margin:2px 0 4px 2px;
	padding:0;
	color: #900;
		font-weight: normal;
	font-family: "Verdana", "Arial", "Helvetica", sans-serif;
	font-size: 10px;
	line-height: 15px;
	Float:left;
	width:100%;
	
}

body#paginaDeInicio div#contenidos div#staff h3{
	margin:2px 0 4px 2px;
	padding:0;
	color: #900;
		font-weight: normal;
	font-family: "Verdana", "Arial", "Helvetica", sans-serif;
	font-size: 18px;
	line-height: 19px;
	Float:left;
	width:100%;
}


body#paginaDeInicio div#contenidos div#staff div#columna_0 p{
	margin: 0px 10px 5px 0px;
	padding:3px;
	font-size: 13px;
	text-align: left;
	color:#00386d;
	border:1px solid #efefef;
	width:620px;
    font-weight: normal;
    padding:4px;
    display:block;
}



/* [paginaDeInicio.css] Contenidos Adicionales ______________________________________________________________________*/
body#paginaDeInicio div#desplegableDestacados p.tituloSeccion,
body#paginaDeInicio div#desplegableServicios p.tituloSeccion {
	font: bold 12px "Arial", "Helvetica", "Verdana", sans-serif;
}


body#paginaDeInicio div#desplegableDestacados ul#navegacionDestacados li,
body#paginaDeInicio div#desplegableServicios ul#navegacionServicios li {
	float: left;
}

body#paginaDeInicio div#desplegableDestacados ul#navegacionDestacados a:hover, 
body#paginaDeInicio div#desplegableServicios ul#navegacionServicios a:hover {
	font-weight: bold;
}

body#paginaDeInicio div#contenidosAdicionales {
	padding-left: 5px;
}

body#paginaDeInicio div#contenidosAdicionales div.botonesPublicidad {
    float:left; 
    width:640px; 
    height:70px; 
    }

body#paginaDeInicio div#contenidosAdicionales div.botonesPublicidad p {
	width: 126px;
	margin: 0px 45px 20px 0px;
	float: left;
	font: 10px "Tahoma", "Verdana", "Arial", sans-serif;
	color: #02376D;
	text-align: justify;
	
}

body#paginaDeInicio div#contenidosAdicionales div.botonesPublicidad p.ultimo {
	margin: 0px 0px 20px 1px;
}

body#paginaDeInicio div#contenidosAdicionales div.botonesPublicidad p img.botonPublicidad120x30 {
	margin-bottom: 3px; padding: 2px;
}

body#paginaDeInicio div#contenidosAdicionales img.botonPublicidad640x30 {
	margin-top: 10px;
	float: left;
}


body#paginaDeInicio div#desplegableDestacados,
body#paginaDeInicio div#desplegableServicios {
	width: 638px;
	margin-bottom: 15px; padding-bottom: 10px;
	float: left;
	border: 1px solid #00386D;
}

body#paginaDeInicio div#desplegableDestacados ul#navegacionDestacados,
body#paginaDeInicio div#desplegableServicios ul#navegacionServicios {
	height: 25px;
	border-bottom: 1px solid #00386D;
}

body#paginaDeInicio div#desplegableDestacados ul#navegacionDestacados li a,
body#paginaDeInicio div#desplegableServicios ul#navegacionServicios li a {
	display: block;
	width: 95px; height: 18px;
	padding-top: 7px;
	font: 12px "Tahoma", "Verdana", "Arial", "Helvetica", sans-serif;
	color: #00386D;
	text-align: center;
	border-right: 1px solid #00386D;
}

body#paginaDeInicio div#desplegableDestacados ul#navegacionDestacados li a:hover,
body#paginaDeInicio div#desplegableServicios ul#navegacionServicios li a:hover {
	text-decoration: none;
}

body#paginaDeInicio div#desplegableDestacados ul#navegacionDestacados li a.ultima,
body#paginaDeInicio div#desplegableServicios ul#navegacionServicios li a.ultima {
	border-right: none;
	width: 92px;
}

body#paginaDeInicio div#desplegableDestacados ul#navegacionDestacados li a.actual,
body#paginaDeInicio div#desplegableServicios ul#navegacionServicios li a.actual {
	font-weight: bold;
	background: #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableDestacados ul#navegacionDestacados li a#enlaceFirmas,
body#paginaDeInicio div#desplegableServicios ul#navegacionServicios li a#enlaceTienda {
	width: 65px;
}

body#paginaDeInicio div#desplegableDestacados p.tituloSeccion,
body#paginaDeInicio div#desplegableServicios p.tituloSeccion {
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
}

body#paginaDeInicio div#desplegableDestacados h2, 
body#paginaDeInicio div#desplegableServicios h2 {
	margin-bottom: 5px;
	text-transform:uppercase;
	font-size: 10px;
	font-weight: normal;
}

body#paginaDeInicio div#desplegableDestacados h3,
body#paginaDeInicio div#desplegableServicios h3,
body#paginaDeInicio div#todosLosTitulares h3 {
	margin:0;
	padding:0;
    font: 12px "Verdana", "Tahoma", sans-serif;
	line-height:14px;
}

body#paginaDeInicio div#desplegableDestacados h3 a,
body#paginaDeInicio div#desplegableServicios h3 a,
body#paginaDeInicio div#todosLosTitulares h3 a{
	font-weight:600;
	color:#036;
	margin:0;
}

/************* MENU INFERIOR DE PORTADA *****************/
body#paginaDeInicio ul#menuinferior {
    width:640px;
    margin:10px 0px 15px 0px;
    background: url('bg-menuinferior.gif') top left;
    height:23px;
    line-height:25px;
    float:left;
    
}

body#paginaDeInicio ul#menuinferior li{
    float:left;
    position:relative;
    padding:2px 10px 2px 20px;
    margin:2px 20px 2px 10px;
    display:block;
    line-height:15px;
    border-left:1px solid #e6e6e6;
    border-right:1px solid #e6e6e6;
    background: #fff url('iconoEnlaceGolAGol.gif') no-repeat 4px 6px;
    }
    
body#paginaDeInicio ul#menuinferior li#mastitulares{
    float:left;
    position:relative;
    padding:2px 5px 2px 15px;
    margin:2px 30px 2px 10px;
    display:block;
    line-height:15px;
    border-left:1px solid #e6e6e6;
    border-right:1px solid #e6e6e6;
    background: #fff url('iconoMasTit.gif') no-repeat 4px 5px;
    }    

body#paginaDeInicio ul#menuinferior li a{
 color:#373737;
 font-size:11px;
 font-weight:bold;
}


/* [paginaDeInicio.css] Contenidos Adicionales: Otra informacion __________________________________________*/
/************************** PUBLICIDAD SKYCRAPER Y CONTENIDOS GRUPO ZETA ******************************/
/*
body#paginaDeInicio div#otraInformacion {
	width: 320px; height: 600px; 
	margin-left: 18px; padding: 4px;
	float: right;
	border: 1px solid #E6E6E6;
	text-align: center;
}
*/
body#paginaDeInicio div#PUBrascaielos {
    width:320px;
    margin:0px 0px 0px 0px;
    padding-left:20px;
    display:block;
    float:right;
    position:relative;
    background: #fff url('bg_skaycraper.gif') no-repeat 0px 0px;
}

div#QDQ {
    width:320px;
    float:right;
    padding-bottom: 20px;
}
div#hotelopia {
    width:320px;
    float:right;
    padding-bottom: 20px;
}

div#ColumnaDretaInferior
{
	width:320px;
    margin:0px 0px 0px 0px;
    /*padding-left:20px;*/
    display:block;
    float:right;
    position:relative;
}

/*
body#paginaDeInicio div#contenidosAdicionales div#zetainfo{
    width:303px;
    float:right;
    position:relative;
    overflow:hidden;

}

body#paginaDeInicio div#contenidosAdicionales div#zetainfo ul{
width:280px;
font: 11px "Verdana", "Tahoma", sans-serif;
padding:5px;
margin-left:10px;
list-style-type:none;
}
body#paginaDeInicio div#contenidosAdicionales div#zetainfo ul li {
border:1px solid white;    
}


body#paginaDeInicio div#contenidosAdicionales div#zetainfo ul li a{
color:#900; 
margin:3px 0px 3px 0px;
padding:0;
font-weight:bold;
}

body#paginaDeInicio div#contenidosAdicionales div#zetainfo ol{
list-style-type:none;
margin:0;
padding:0;
}


body#paginaDeInicio div#contenidosAdicionales div#zetainfo ul li ol li a{
color:#00386d;
font-size:11px;
margin:2px 0px 2px 0px;
padding-left:5px;
font-weight:normal;
display:block;
background: url('/img/interfaz/bullets/flechaRecursosRelacionadosNoticia.gif') no-repeat 0px 2px;
}
/****************************************************************************/

body#paginaDeInicio div#contenidosAdicionales  div#zetainfo p.tituloSeccion {
	margin: 10px 10px;
	font-size: 14px;
	text-align: left;
	text-transform:uppercase;
	border-bottom:1px solid #b10304;
	letter-spacing:2px;
}

body#paginaDeInicio div#contenidosAdicionales div#zetainfo dl {
	margin-left: 10px;
	font: 11px "Tahoma", "Verdana", sans-serif;
	text-align: left;
	color: #00386D;
}

body#paginaDeInicio div#contenidosAdicionales div#zetainfo dl dt {
	font-weight: bold;
}

body#paginaDeInicio div#contenidosAdicionales div#zetainfo dl dd {
	margin: 0px 0px 5px 0px;
}

body#paginaDeInicio div#contenidosAdicionales div#zetainfo dl dd dl {
	margin: 0px 0px 0px 0px;
}

body#paginaDeInicio div#contenidosAdicionales div#zetainfo dl dd dl dt {
	color: #333;
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
}

body#paginaDeInicio div#contenidosAdicionales div#zetainfo dl dd dl dd a{
	color: #00386D;
}



/* [paginaDeInicio.css] Contenidos Adicionales: Bloque Informacion ________________________________________*/
body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados,
body#paginaDeInicio div#desplegableDestacados div#suplementos,
body#paginaDeInicio div#desplegableDestacados div#editorial,
body#paginaDeInicio div#desplegableDestacados div#firmas,
body#paginaDeInicio div#desplegableDestacados div#humorGrafico,
body#paginaDeInicio div#desplegableDestacados div#golAGol,
body#paginaDeInicio div#desplegableDestacados div#cartelera {
	padding: 10px 10px 30px 10px;
}

body#paginaDeInicio div#desplegableDestacados div#suplementos,
body#paginaDeInicio div#desplegableDestacados div#editorial,
body#paginaDeInicio div#desplegableDestacados div#firmas,
body#paginaDeInicio div#desplegableDestacados div#humorGrafico,
body#paginaDeInicio div#desplegableDestacados div#golAGol,
body#paginaDeInicio div#desplegableDestacados div#cartelera {
	display: none;
}


/* [paginaDeInicio.css] Contenidos Adicionales: Bloque Informacion: Destacados __________________*/
body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_1 {
	width: 100px;
	margin-right: 10px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_1 img#portadaEdicionImpresa {
	width: 91px; height: 127px;
	border-right: 1px solid #E6E6E6;
	background: #EEE;
}

body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_1 p.masPequeno {
	font-size: 10px;
}

body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_2 {
	width: 115px; 
	margin-right: 5px; padding-right: 5px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_2 p{
	color:#003376;
	font-weight:bold;
}

body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_2  p.tituloSeccion{
	color:#b10304;
	font-weight:normal;
}

body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_2 form {
	margin-top: 5px;
}

body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_2 form input {
	margin: 2px 5px 0px 0px;
}

body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_2 form input.botonVotar {
	margin: 10px 5px 0px 0px;
}

body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_3,
body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_4  {
	width: 130px; 
	margin-right: 10px; padding-right: 5px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_2 dl dt img,
body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_3 dl dt img,
body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_4 dl dt img {
	width: 125px; height: 40px;
	background-color: #E3E6ED;
}

body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_2 dl dd,
body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_3 dl dd,
body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_4 dl dd {
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_2 ul li,
body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_3 ul li,
body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_4 ul li {
	font: 10px "Tahoma", "Verdana", "Arial", sans-serif;
	
}

body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_2 ul li a,
body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_3 ul li a,
body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_4 ul li a{
	background: url('bulletEsquinita.gif') 0px 4px no-repeat;
	padding:1px 0px 1px 5px;
}


body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_2 p.verMas,
body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_3 p.verMas,
body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_4 p.verMas {
	margin-top: 10px;
	text-align: right;
}

body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_2 p.verMas a,
body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_3 p.verMas a,
body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_4 p.verMas a {
	color: #003970;
	font-size: 12px;
	text-decoration: underline;
}

body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_5 {
	float: left;
	width: 80px; 
}
body#paginaDeInicio div#desplegableDestacados div#contenidosDestacados div.bloque_5 a {
	font-size: 11px;
	
}


/* [paginaDeInicio.css] Contenidos Adicionales: Bloque Informacion: Suplementos _________________*/
body#paginaDeInicio div#desplegableDestacados div#suplementos div.bloque_1 {
	width: 280px;
	margin-right: 10px; padding-right:  5px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableDestacados div#suplementos div.bloque_1 p.tituloSeccion {
	font-weight: normal;
}

body#paginaDeInicio div#desplegableDestacados div#suplementos div.bloque_1 img#portadaSuplemento {
	width: 91px; height: 127px;
	float: left;
	border-right: 1px solid #E6E6E6;
	background: #EEE;
}

body#paginaDeInicio div#desplegableDestacados div#suplementos div.bloque_1 ul {
	margin-left: 100px;
	color: #00376C;
	font-size: 11px;
	font-weight: bold;
}

body#paginaDeInicio div#desplegableDestacados div#suplementos div.bloque_1 ul li {
	margin:0px 0px 10px 0px; padding-left: 10px;
	background: url('flechaListaSuplemento.gif') no-repeat 0px 4px;
}

body#paginaDeInicio div#desplegableDestacados div#suplementos div.bloque_2 {
	width: 147px;
	margin-right: 10px; padding-right:  5px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableDestacados div#suplementos div.bloque_2 img.publicidad140x140 {
	margin-right: 3px;
}


/* [paginaDeInicio.css] Contenidos Adicionales: Bloque Informacion: Editorial ___________________*/
body#paginaDeInicio div#desplegableDestacados div#editorial div.bloque_1,
body#paginaDeInicio div#desplegableDestacados div#editorial div.bloque_2 {
	width: 293px;
	margin: 0px 10px 0px 0px; padding: 20px 10px 20px 0px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableDestacados div#editorial div.bloque_2 {
	margin: 0px 0px 0px 0px; padding: 20px 10px 20px 0px;
	border-right: none;
}

body#paginaDeInicio div#desplegableDestacados div#editorial div.bloque_1 h2,
body#paginaDeInicio div#desplegableDestacados div#editorial div.bloque_2 h2 {
	font-size: 13px;
	text-transform:uppercase;
}


/* [paginaDeInicio.css] Contenidos Adicionales: Bloque Informacion: Firmas ______________________*/
body#paginaDeInicio div#desplegableDestacados div#firmas div.bloque_1 {
	width: 210px;
	margin-right: 10px; padding-right:  5px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableDestacados div#firmas div.bloque_1 p.autorDelArticulo {
	margin-bottom: 5px;
	color: #000;
	font-weight: bold;
}

body#paginaDeInicio div#desplegableDestacados div#firmas div.bloque_1 p.tituloDelArticulo {
	margin-bottom: 5px;
	color: #00386D;
	font-weight: bold;
	font-style: italic;
}

body#paginaDeInicio div#desplegableDestacados div#firmas div.bloque_2 {
	width: 225px;
	margin-right: 10px; padding-right:  5px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableDestacados div#firmas div.bloque_2 p.tituloDelArticulo {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

body#paginaDeInicio div#desplegableDestacados div#firmas div.bloque_2 p.autorDelArticulo {
	margin-bottom: 5px;
	color: #00386D;
	font-size: 11px;
}

body#paginaDeInicio div#desplegableDestacados div#firmas div.bloque_3 {
	width: 147px;
	float: left;
}

body#paginaDeInicio div#desplegableDestacados div#firmas div.bloque_3 img.publicidad140x140 {
	margin-right: 3px;
}


/* [paginaDeInicio.css] Contenidos Adicionales: Bloque Informacion: Humor GrÃ¡fico _______________*/
/********* CAS *******/

body#paginaDeInicio div#desplegableDestacados div#humorGrafico div.bloque_altunaCAS p.tituloSeccion,
body#paginaDeInicio div#desplegableDestacados div#humorGrafico div.bloque_nandoCAS p.tituloSeccion,
body#paginaDeInicio div#desplegableDestacados div#humorGrafico div.bloque_ferreresCAS p.tituloSeccion
{background-color:white; border-bottom:1px solid #666; margin-top:0px;}

body#paginaDeInicio div#humorGrafico div.bloque_altunaCAS {
	width: 140px;
    height:140px;
	margin:0px 0px 0px 0px; 
	padding:0px;
	float: left;
	background: url('altunaCAS.gif') -90px -100px no-repeat;
	border:1px solid #666;
}

body#paginaDeInicio div#humorGrafico  div.bloque_nandoCAS {
	width: 140px;
    height:140px;
	margin:0px 15px 0px 5px; 
	padding:0px;
	float: left;
	background: url('nandoCAS.gif') -90px -100px no-repeat;
	border:1px solid #666;
}

body#paginaDeInicio div#humorGrafico div.bloque_ferreresCAS {
    width: 140px;
    height:140px;
	margin:0px 7px 0px 3px; 
	padding:0px;
	float: left;
	background: url('ferreresCAS.gif') -90px -100px no-repeat;
	border:1px solid #666;
}

/********* CAT *******/
body#paginaDeInicio div#humorGrafico div.bloque_altunaCAT p.tituloSeccion,
body#paginaDeInicio div#humorGrafico div.bloque_nandoCAT p.tituloSeccion,
body#paginaDeInicio div#humorGrafico div.bloque_ferreresCAT p.tituloSeccion
{background-color:white; border-bottom:1px solid #666; margin-top:0px;}

body#paginaDeInicio div#humorGrafico div.bloque_altunaCAT {
	width: 140px;
    height:140px;
	margin:0px 0px 0px 0px; 
	padding:0px;
	float: left;
	background: url('altunaCAT.gif') -90px -100px no-repeat;
	border:1px solid #666;
}

body#paginaDeInicio div#humorGrafico  div.bloque_nandoCAT {
	width: 140px;
    height:140px;
	margin:0px 15px 0px 5px; 
	padding:0px;
	float: left;
	background: url('nandoCAT.gif') -90px -100px no-repeat;
	border:1px solid #666;
}

body#paginaDeInicio div#humorGrafico div.bloque_ferreresCAT {
    width: 140px;
    height:140px;
	margin:0px 7px 0px 3px; 
	padding:0px;
	float: left;
	background: url('ferreresCAT.gif') -90px -100px no-repeat;
	border:1px solid #666;
}

/********* fin humor P2 *************/

body#paginaDeInicio div#desplegableDestacados div#humorGrafico div.bloque_1, 
body#paginaDeInicio div#desplegableDestacados div#humorGrafico div.bloque_3 {
	width: 140px;
	margin-right: 5px; padding:  0px 0px 10px 5px;
	float: left;
	border-right: 1px solid #E6E6E6;

}

body#paginaDeInicio div#desplegableDestacados div#humorGrafico p.tituloSeccion {
	margin: 15px 0px 13px 0px;
}

body#paginaDeInicio div#desplegableDestacados div#humorGrafico div.bloque_1 img, 
body#paginaDeInicio div#desplegableDestacados div#humorGrafico div.humor img,
body#paginaDeInicio div#desplegableDestacados div#humorGrafico div.bloque_3 img {
	padding:0px;
	border: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableDestacados div#humorGrafico div.bloque_4 {
	width: 147px;
	float: left;
}

body#paginaDeInicio div#desplegableDestacados div#humorGrafico div.bloque_4 img.publicidad140x140 {
	margin-right: 3px;
}


/* [paginaDeInicio.css] Contenidos Adicionales: Bloque Informacion: Gol a Gol ___________________*/
body#paginaDeInicio div#desplegableDestacados div#golAGol div.bloque_1  {
	width: 460px;
	margin-right: 10px; padding-right:  5px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableDestacados div#golAGol div.bloque_1 label {
	float: right;
	font-weight: bold;
	text-align: right;
	font-size: 11px;
}
	
body#paginaDeInicio div#desplegableDestacados div#golAGol div.bloque_1 label select {
	font-size: 11px;
	margin-right: 10px;
}

body#paginaDeInicio div#desplegableDestacados div#golAGol div.bloque_1 table {
	width: 220px;
	margin: 10px 0px 10px 0px;
	float: left;
	font-size: 10px;
}

body#paginaDeInicio div#desplegableDestacados div#golAGol div.bloque_1 table td.estadoDelPartido{
	padding: 1px 3px;
	color: #013E51;
	font-weight: bold;
	text-align: center;
	background-color: #B1B6B9;
}

body#paginaDeInicio div#desplegableDestacados div#golAGol div.bloque_1 table td.resultadoDelPartido{
	padding: 1px 3px;
	color: #B40709;
	text-align: center;
	background-color: #E6EBEF;
}

body#paginaDeInicio div#desplegableDestacados div#golAGol div.bloque_1 table td.contrincantesDelPartido {
	padding: 1px 3px;
	background-color: #F6F6F6;
}

body#paginaDeInicio div#desplegableDestacados div#golAGol div.bloque_1 p#enlacesGolAGol a {
	font-size: 11px;
	padding-left: 15px;
	color: #B10304;
	background: url('iconoEnlaceGolAGol.gif') no-repeat 0px 2px;
}

body#paginaDeInicio div#desplegableDestacados div#golAGol div.bloque_1 p#leyendaGolAGol {
	margin-top: 5px;
	font: 9px "Tahoma", "Verdana", "Arial", sans-serif;
	color: #00386D;
}

body#paginaDeInicio div#desplegableDestacados div#golAGol div.bloque_1 p#leyendaGolAGol abbr {
	font-weight: bold;
}

body#paginaDeInicio div#desplegableDestacados div#golAGol div.bloque_2 {
	width: 140px;
	float: left;
	
}

/* [paginaDeInicio.css] Contenidos Adicionales: Bloque Informacion: Cartelera ___________________*/
body#paginaDeInicio div#desplegableDestacados div#cartelera div.bloque_1, 
body#paginaDeInicio div#desplegableDestacados div#cartelera div.bloque_2 {
	width: 219px;
	margin-right: 8px; padding-right:  10px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableDestacados div#cartelera div.bloque_4 {
	width: 139px;
	margin-right: 8px; padding-right:  10px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableDestacados div#cartelera div.bloque_1 p, 
body#paginaDeInicio div#desplegableDestacados div#cartelera div.bloque_2 p,
body#paginaDeInicio div#desplegableDestacados div#cartelera div.bloque_4 p{
	margin-bottom: 5px;
	font: 11px "Tahoma", "Verdana", "Arial", sans-serif;
}

body#paginaDeInicio div#desplegableDestacados div#cartelera div.bloque_4 {
	margin-right: 0px; padding-right: 0px;
	border-right: none;
}

body#paginaDeInicio div#desplegableDestacados div#cartelera p.tituloSeccion {
	margin-bottom: 10px;
}

body#paginaDeInicio div#desplegableDestacados div#cartelera div.bloque_1 img, 
body#paginaDeInicio div#desplegableDestacados div#cartelera div.bloque_2 img {
	padding: 2px;
	margin:0px 2px 2px 0px;
	float:left;
	border: 1px solid #E6E6E6;
}

/* [paginaDeInicio.css] Contenidos Adicionales: Bloque Servicios __________________________________________*/
body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados,
body#paginaDeInicio div#desplegableServicios div#tiendas,
body#paginaDeInicio div#desplegableServicios div#escola,
body#paginaDeInicio div#desplegableServicios div#loterias,
body#paginaDeInicio div#desplegableServicios div#pparticipacion,
body#paginaDeInicio div#desplegableServicios div#elTiempo,
body#paginaDeInicio div#desplegableServicios div#promociones,
body#paginaDeInicio div#desplegableServicios div#iniciativas {
	padding: 10px 10px 30px 10px;
	}

body#paginaDeInicio div#desplegableServicios div#tiendas,
body#paginaDeInicio div#desplegableServicios div#escola,
body#paginaDeInicio div#desplegableServicios div#loterias,
body#paginaDeInicio div#desplegableServicios div#pparticipacion,
body#paginaDeInicio div#desplegableServicios div#elTiempo,
body#paginaDeInicio div#desplegableServicios div#promociones,
body#paginaDeInicio div#desplegableServicios div#iniciativas {
	display: none;
}


/* [paginaDeInicio.css] Contenidos Adicionales: Bloque Servicios: Recomendados __________________*/
body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados,
body#paginaDeInicio div#desplegableServicios div#escola {
	padding: 5px;
}

body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_1,
body#paginaDeInicio div#desplegableServicios div#escola div.bloque_1 {
	width: 120px;
	padding-left: 10px;
	margin-right: 5px; padding-right: 5px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_1 form  input.campoDeBusqueda, 
body#paginaDeInicio div#desplegableServicios div#escola div.bloque_1 form  input.campoDeBusqueda {
	width: 100px; height: 14px;
	border: 1px solid #B10304;
}

body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_1 form  input.botonDeBusqueda,
body#paginaDeInicio div#desplegableServicios div#escola div.bloque_1 form  input.botonDeBusqueda {
	margin: 5px 0px 10px 25px;
}

body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_1 ul li a,
body#paginaDeInicio div#desplegableServicios div#escola div.bloque_1 ul li a {
	padding-left: 10px;
	font: bold 10px "Tahoma", "Verdana", "Arial", sans-serif;
	text-decoration: underline;
	background: url('flechaListaSuplemento.gif') no-repeat 0px 2px;
}

body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_2,
body#paginaDeInicio div#desplegableServicios div#escola div.bloque_2 {
	width: 150px;
	margin-right: 10px; padding: 0px 10px;
	float: left;
	border-right: 1px solid #E6E6E6;
}
/*
body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_3  {
	width: 105px;
	margin-right: 10px; padding-right:  5px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_3 img {
	width: 96px; height: 63px;
	padding-right: 2px;
	border: 1px solid #E6E6E6;
	background: #EEE;
}

body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_3 p {
	font: 10px "Tahoma", "Verdana", "Arial", sans-serif;
}

body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_3 p strong {
	color: #00386D;
}
*/
body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_4, 
body#paginaDeInicio div#desplegableServicios div#escola div.bloque_4 {
	width: 120px;
	margin-left: 10px;
	margin-right: 10px; padding-right:  2px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_4 p,
body#paginaDeInicio div#desplegableServicios div#escola div.bloque_4 p {
	margin: 5px 0px 8px 0px;
	font: 10px "Tahoma", "Verdana", "Arial", sans-serif;
}

body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_5,
body#paginaDeInicio div#desplegableServicios div#escola div.bloque_5  {
	width: 120px;
	padding-right:  5px;
	float: left;
}

body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_5 ul li a,
body#paginaDeInicio div#desplegableServicios div#escola div.bloque_5 ul li a {
	font: 11px "Tahoma", "Verdana", "Arial", sans-serif;
	color: #000;
}

body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_5 ul li,
body#paginaDeInicio div#desplegableServicios div#escola div.bloque_5 ul li {
	height: 18px;
	padding-left: 20px;
	border-bottom: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_5 ul li#enlaceAmorAmistad {
	background: url('iconoAmorAmistad.gif') no-repeat 0px 0px;
}

body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_5 ul li#enlaceHoroscopo {
	background: url('iconoHoroscopo.gif') no-repeat 0px 0px;
}

body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_5 ul li#enlaceCanalMotor {
	background: url('iconoMotor.gif') no-repeat 0px 0px;
}

body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_5 ul li#enlaceLoterias {
	background: url('iconoLoterias.gif') no-repeat 0px 0px;
}

body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_5 ul li#enlaceMovil {
	background: url('iconoMovil.gif') no-repeat 0px 0px;
}

body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_5 ul li#enlaceElTiempo {
	background: url('iconoElTiempo.gif') no-repeat 0px 0px;
}

body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_5 ul li#enlaceDell {
	background: url('iconoRegalos.gif') no-repeat 0px 0px;
}

body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_5 ul li#enlaceHoteles {
	background: url('iconoHotel.gif') no-repeat 0px 0px;
}

body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_5 ul li#enlaceLibrosRevistasComics {
	background: url('iconoLibrosRevistasComics.gif') no-repeat 0px 0px;
}
body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_5 ul li#clasificados {
		background: url('icoclasi.gif') 0px 0px no-repeat;
	}
	
body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_1 p.tituloSeccion,
body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_2 p.tituloSeccion,
body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_3 p.tituloSeccion,
body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_4 p.tituloSeccion,
body#paginaDeInicio div#desplegableServicios div#serviciosRecomendados div.bloque_5 p.tituloSeccion,
body#paginaDeInicio div#desplegableServicios div#escola div.bloque_1 p.tituloSeccion,
body#paginaDeInicio div#desplegableServicios div#escola div.bloque_2 p.tituloSeccion,
body#paginaDeInicio div#desplegableServicios div#escola div.bloque_3 p.tituloSeccion,
body#paginaDeInicio div#desplegableServicios div#escola div.bloque_4 p.tituloSeccion,
body#paginaDeInicio div#desplegableServicios div#escola div.bloque_5 p.tituloSeccion {
	margin: 0px 0px 5px 0px;
	color: #B10304;
	font-size: 11px;
	font-weight: bold;
}


/* [paginaDeInicio.css] Contenidos Adicionales: Bloque Servicios: Tienda ________________________*/
body#paginaDeInicio div#desplegableServicios div#tiendas div.bloque_1  {
	width: 148px;
	margin-right: 10px; padding-right:  5px;
	float: left;
}

body#paginaDeInicio div#desplegableServicios div#tiendas div.bloque_1 ul li {
	height: 19px;
	padding-left: 20px;
	border-bottom: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableServicios div#tiendas div.bloque_1 ul li#enlaceAlimentacionBebidas {
	background: url('iconoAlimentacionBebidas.gif') no-repeat 0px 0px;
}

body#paginaDeInicio div#desplegableServicios div#tiendas div.bloque_1 ul li#enlaceImagenSonido {
	background: url('iconoImagenSonido.gif') no-repeat 0px 0px;
}

body#paginaDeInicio div#desplegableServicios div#tiendas div.bloque_1 ul li#enlaceDeportes {
	background: url('iconoDeportes.gif') no-repeat 0px 0px;
}

body#paginaDeInicio div#desplegableServicios div#tiendas div.bloque_1 ul li#enlaceLibrosRevistasComics {
	background: url('iconoLibrosRevistasComics.gif') no-repeat 0px 0px;
}

body#paginaDeInicio div#desplegableServicios div#tiendas div.bloque_1 ul li#enlaceRegalos {
	background: url('iconoRegalos.gif') no-repeat 0px 0px;
}

body#paginaDeInicio div#desplegableServicios div#tiendas div.bloque_1 ul li a {
	font: 11px "Tahoma", "Verdana", "Arial", sans-serif;
}

body#paginaDeInicio div#desplegableServicios div#tiendas div.bloque_1 input.campoDeBusqueda {
	width: 100px; height: 20px;
	margin-right: 5px;
	position: relative; top: 3px;
	float: left; 
	border: 1px solid #B10304;
}

body#paginaDeInicio div#desplegableServicios div#tiendas div.contenedorDeBloques {
	width: 300px;
	margin-right: 10px;
	float: left;
	border-right: 1px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableServicios div#tiendas div.bloque_2, 
body#paginaDeInicio div#desplegableServicios div#tiendas div.bloque_3  {
	width: 127px; height: 130px;
	padding: 0px 7px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableServicios div#tiendas div.bloque_3 {
	border-right: none;	
}

body#paginaDeInicio div#desplegableServicios div#tiendas div.bloque_2 img,
body#paginaDeInicio div#desplegableServicios div#tiendas div.bloque_3 img {
	width: 96px; height: 63px;
	margin: 0px 15px; padding-right: 2px;
	border: 1px solid #E6E6E6;
	background: #EEE;
}

body#paginaDeInicio div#desplegableServicios div#tiendas div.bloque_2 p,
body#paginaDeInicio div#desplegableServicios div#tiendas div.bloque_3 p {
	font: 10px "Tahoma", "Verdana", "Arial", sans-serif;
}

body#paginaDeInicio div#desplegableServicios div#tiendas div.bloque_2 p strong,
body#paginaDeInicio div#desplegableServicios div#tiendas div.bloque_3 p strong {
	color: #00386D;
}


body#paginaDeInicio div#desplegableServicios div#tiendas div.bloque_5 {
	width: 140px;
	float: left;
}

body#paginaDeInicio div#desplegableServicios div#tiendas div.bloque_2 p.tituloSeccion, 
body#paginaDeInicio div#desplegableServicios div#tiendas div.bloque_3 p.tituloSeccion {
	margin: 0px 0px 5px 0px;
	font: bold 11px "Arial", "Helvetica", "Verdana", sans-serif;
}


/* [paginaDeInicio.css] Contenidos Adicionales: Bloque Servicios: Loterias ______________________*/
body#paginaDeInicio div#desplegableServicios div#loterias div.bloque_1 {
	width: 180px;
	margin-right: 10px; padding-right:  5px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableServicios div#loterias div.bloque_1 dl dt {
	font: bold 11px "Tahoma", "Arial", "Verdana", sans-serif;
	color: #000;
}

body#paginaDeInicio div#desplegableServicios div#loterias div.bloque_1 dl dd {
	margin-bottom: 5px;
	font: 10px "Tahoma", "Arial", "Verdana", sans-serif;
}

body#paginaDeInicio div#desplegableServicios div#loterias div.bloque_1 p a,
body#paginaDeInicio div#desplegableServicios div#loterias div.bloque_2 p a {
	margin: 0px 0px 0px -10px; padding-left: 10px;
	font-weight: bold;
	color: #00386D;
	text-decoration: underline;
	background: url('flechaListaSuplemento.gif') no-repeat 3px 3px;
}

body#paginaDeInicio div#desplegableServicios div#loterias div.bloque_2 {
	width: 263px;
	margin-right: 10px; padding-right:  5px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableServicios div#loterias div.bloque_2 p a {
	position: relative; top: 9px;
}

body#paginaDeInicio div#desplegableServicios div#loterias div.bloque_3 {
	width: 140px;
	float: left;
}


/* [paginaDeInicio.css] Contenidos Adicionales: Bloque Servicios: Participacion _________________*/
body#paginaDeInicio div#desplegableServicios div#pparticipacion div.bloque_1 {
	width: 90px;
	margin-right: 10px; padding: 0px 15px 0px 5px;
	float: left;
	border-right: 1px solid #E6E6E6;
	height:150px;
}

body#paginaDeInicio div#desplegableServicios div#pparticipacion div.bloque_2,{
	width: 70px;
	margin-right: 10px; padding: 0px 15px 0px 5px;
	float: left;
	border-right: 1px solid #E6E6E6;
		height:150px;

}

body#paginaDeInicio div#desplegableServicios div#pparticipacion div.bloque_3 {
	width: 110px;
	margin-right: 10px; padding: 0px 15px 0px 5px;
	float: left;
	border-right: 1px solid #E6E6E6;
		height:150px;

}

body#paginaDeInicio div#desplegableServicios div#pparticipacion div.bloque_1 ul li a,
body#paginaDeInicio div#desplegableServicios div#pparticipacion div.bloque_2 ul li a,{
	color: #000;
	font-size: 11px;
	list-style-type:none;
	background: url('flechaListaSuplemento.gif') no-repeat -3px 3px;
	padding-left:5px;
}

body#paginaDeInicio div#desplegableServicios div#pparticipacion div.bloque_3 ul li a {
	color: #000;
	font-size: 11px;
	list-style-type:none;
}


body#paginaDeInicio div#desplegableServicios div#pparticipacion div.bloque_1 ul li a {
	text-decoration: underline;
}

body#paginaDeInicio div#desplegableServicios div#pparticipacion div.bloque_3 ul li {
	height: 17px;
	padding-left: 25px;
	border-bottom: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableServicios div#pparticipacion div.bloque_3 ul li#enlacePintadas {
	background: url('iconoPintadas.gif') no-repeat 0px 0px;
}

body#paginaDeInicio div#desplegableServicios div#pparticipacion div.bloque_3 ul li#enlacePasatiempos {
	background: url('iconoPasatiempos.gif') no-repeat 0px 0px;
}

body#paginaDeInicio div#desplegableServicios div#pparticipacion div.bloque_3 ul li#enlaceCorazonadas {
	background: url('iconoCorazonadas.gif') no-repeat 0px 0px;
}

body#paginaDeInicio div#desplegableServicios div#pparticipacion div.bloque_3 ul li#enlaceChistes {
	background: url('iconoChistes.gif') no-repeat 0px 0px;
}

body#paginaDeInicio div#desplegableServicios div#pparticipacion div.bloque_3 ul li#enlacePostales {
	background: url('iconoPostales.gif') no-repeat 0px 0px;
}

body#paginaDeInicio div#desplegableServicios div#pparticipacion div.bloque_4 {
	width: 140px;
	float: left;
}


/* [paginaDeInicio.css] Contenidos Adicionales: Bloque Servicios: El Tiempo _____________________*/
body#paginaDeInicio div#desplegableServicios div#elTiempo div.bloque_1 {
	width: 150px;
	margin-right: 15px; padding-right:  5px;
	float: left;
}

body#paginaDeInicio div#desplegableServicios div#elTiempo div.bloque_1 img#miniMapaDelTiempo {
	width: 144px; height: 110px;
	background: #EEE;
	float: left;
	border:1px solid #999;
}

body#paginaDeInicio div#desplegableServicios div#elTiempo div.bloque_2 {
	width: 130px;
	margin-right: 15px; padding: 20px 10px 0px 0px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableServicios div#elTiempo div.bloque_2 ul {
	font-size: 11px;
	font-weight: bold;
	list-style-type: disc;
	list-style-image: url('flechaListaContenidos.gif');
}

body#paginaDeInicio div#desplegableServicios div#elTiempo div.bloque_2 ul#previsionDiaDeHoy li{
	margin-left:20px;
	margin-bottom: 5px; padding-bottom: 10px;
	border-bottom: 1px solid #E6E6E6;
		width:100px;

}

body#paginaDeInicio div#desplegableServicios div#elTiempo div.bloque_2 ul#previsionProximosDias {
	margin-bottom: 10px;padding-bottom: 10px;
	border-bottom: 1px solid #E6E6E6;
	font-weight: normal;
}

body#paginaDeInicio div#desplegableServicios div#elTiempo div.bloque_2 ul#previsionProximosDias li {
	position: relative; left: 20px;
}

body#paginaDeInicio div#desplegableServicios div#elTiempo div.bloque_2 p a {
	display: block;
	margin: 15px 0px 0px -5px; padding-left: 13px;
	font-size: 12px;
	font-weight: bold;
	color: #003C78;
	background: url('flechaListaSuplemento.gif') no-repeat 3px 3px;
}

body#paginaDeInicio div#desplegableServicios div#elTiempo div.bloque_3 {
	width: 122px;
	margin-right: 10px; padding-right: 10px; 
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableServicios div#elTiempo div.bloque_3 p {
	margin-bottom: 5px;
	font-size: 11px;
}

body#paginaDeInicio div#desplegableServicios div#elTiempo div.bloque_3 p a {
	margin-left: -5px; padding-left: 12px;
	background: url('flechaListaSuplemento.gif') no-repeat 3px 2px;
}

body#paginaDeInicio div#desplegableServicios div#elTiempo div.bloque_4 {
	width: 147px;
 	float: left;
}


/* [paginaDeInicio.css] Contenidos Adicionales: Bloque Servicios: Promociones ___________________*/
body#paginaDeInicio div#desplegableServicios div#promociones div.bloque_1 {
	width: 150px;
	margin-right: 15px; padding-right:  10px;
	float: left;
	border-right: 1px solid #E6E6E6;
} 

body#paginaDeInicio div#desplegableServicios div#promociones div.bloque_1 img.fotoPromocion {
	margin-right: 7px;
	border: 1px solid #E6E6E6;
	background: #EEE;
} 

body#paginaDeInicio div#desplegableServicios div#promociones div.bloque_1 img#botonComprarEnPromociones {
	width: 15px; height: 82px;
	background: #EEE;
}

body#paginaDeInicio div#desplegableServicios div#promociones div.bloque_2 {
	width: 220px;
	margin:0px 15px 0px 0px; padding:0px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableServicios div#promociones div.bloque_2 p {
	margin-bottom:5px;
	font-size:12px;
}

body#paginaDeInicio div#desplegableServicios div#promociones div.bloque_2 p strong {
	color: #B10304;
}

body#paginaDeInicio div#desplegableServicios div#promociones div.bloque_2 img.fotoPromocion {
    margin-right: 10px;
	border: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableServicios div#promociones div.bloque_3 {
	width: 200px;
	float: left;
}

body#paginaDeInicio div#desplegableServicios div#promociones div.bloque_3 p.enlacePieDeBloque {
	margin-top: 60px;
	text-align: right;
}

body#paginaDeInicio div#desplegableServicios div#promociones div.bloque_3 ul li a {
	text-decoration: underline;
}

body#paginaDeInicio div#desplegableServicios div#promociones div.bloque_3 p a {
	padding-left: 12px;
	font-weight: bold;
	color: #00386D;
	background: url('flechaListaSuplemento.gif') no-repeat 3px 3px;
}


/* [paginaDeInicio.css] Contenidos Adicionales: Bloque Servicios: Iniciativas ___________________*/
body#paginaDeInicio div#desplegableServicios div#iniciativas div.bloque_1  {
	width: 98px;
	margin-right: 13px; padding-right:  5px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableServicios div#iniciativas div.bloque_1 p {
	margin-bottom: 15px;
	font-size: 11px;
}

body#paginaDeInicio div#desplegableServicios div#iniciativas div.bloque_1 p.tituloSeccion {
	margin: 0px 0px 5px 0px;
	font-size: 12px;
}

body#paginaDeInicio div#desplegableServicios div#iniciativas div.bloque_2  {
	width: 105px;
	margin-right: 10px; padding-right:  5px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableServicios div#iniciativas div.bloque_2 p.tituloSeccion {
	margin: 0px 0px 15px 0px;
	font-size: 10px;
	font-weight: normal;
}

body#paginaDeInicio div#desplegableServicios div#iniciativas div.bloque_2 p.tituloSeccion strong {
	font-size: 12px;
}

body#paginaDeInicio div#desplegableServicios div#iniciativas div.bloque_2 img {
	width: 95px; height: 101px;
	border: 1px solid #E6E6E6;
	background: #EEE;
}

body#paginaDeInicio div#desplegableServicios div#iniciativas div.bloque_3  {
	width: 92px;
	padding-right: 5px;
	float: left;
}

body#paginaDeInicio div#desplegableServicios div#iniciativas div.bloque_3 p  {
	font-size: 11px;
}

body#paginaDeInicio div#desplegableServicios div#iniciativas div.bloque_3 p.tituloSeccion  {
	font-size: 12px;
}

body#paginaDeInicio div#desplegableServicios div#iniciativas div.bloque_4 {
	width: 143px;
	margin-right: 10px; padding: 0px 10px;
	float: left;
	border-right: 1px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
}

body#paginaDeInicio div#desplegableServicios div#iniciativas div.bloque_3  {
	width: 92px;
	padding-right:  5px;
	float: left;
}

body#paginaDeInicio div#desplegableServicios div#iniciativas div.bloque_5 img {
	width: 75px; height: 75px;
	margin: 10px 0px 10px 0px;
	border: 1px solid #E6E6E6;
	background: #EEE;
}

body#paginaDeInicio div#desplegableServicios div#iniciativas div.bloque_5 p {
	font-size: 11px;
}

body#paginaDeInicio div#desplegableServicios div#iniciativas div.bloque_5 p.tituloSeccion  {
	font-size: 12px;
}


/* [paginaDeInicio.css] InformaciÃ³n Adicional / Skycraper ___________________________________________________________*/



/* [paginaDeInicio.css] Otros titulares _________________________________________________________________________*/

body#paginaDeInicio div#contenedor div#contenidosAdicionales div#OtrosTitulares div.otrosTitulares div.titulares span.FirmasSecc {
	display:none;
}

div.titulares h3 {
	padding: 0 0 0 4px;
}

div.titulares h3 {
	padding: 0 0 0 0;
}

body#paginaDeInicio div.otrosTitulares {
	padding-left: 0px;
    margin:0;
    padding-top:5px;
    background: url('bg-otrostitulares.gif') 25px 0px repeat-y;
    float:left;
    width:640px;
}

div#OtrosTitulares div.otrosTitulares div.titulares {
	width: 305px;
	height: 60px;
	margin:0 0 8px 5px; 
	padding:0px 0px 6px 5px;
    float:left;
	
}
body#paginaDeInicio div.otrosTitulares h2{
	font-size: 10px;
	line-height:10px;
	font-weight: normal;
	text-transform: uppercase;
	color:#666;
	margin:2px 0 0 0;
	padding:0px;
	text-transform:uppercase;
}

div.otrosTitulares div.titulares h3 {
	padding: 0 0 0 5px;
}

div.otrosTitulares div.titulares h2 span.hora font {
	display: none !important;
}

body#paginaDeInicio div.otrosTitulares h3 a{
	margin:2px 0 4px 0;
	padding:0;
	color: #373737;
    font-weight: bold;
	font-family: "Verdana", "Arial", "Helvetica", sans-serif;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0px;
	word-spacing: 1px;
}

body#paginaDeInicio div.otrosTitulares h3 a{
	margin:2px 0 4px 0;
	padding:0;
	color: #373737;
    font-weight: bold;
	font-family: "Verdana", "Arial", "Helvetica", sans-serif;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0px;
	word-spacing: 1px;
}


body#paginaDeInicio div.otrosTitulares h3 a:hover{
text-decoration:underline;
}

body#paginaDeInicio div.OtrosTitulares p.tituloSeccion {
text-transform:uppercase;
}

/* Portada Barça */

table.portadaBarsa 
{
    width: 640px !important;   
}
td.celdaPortadaBarsa 
{
   width: 213px !important;  
   vertical-align:top !important; 
   /*border:1px solid #898989;*/
}
td.celdaPortadaBarsa ul li.noticia {
    width: auto !important;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
    padding: 0px !important;    
    }
	 
td.celdaPortadaBarsa h3, td.celdaPortadaBarsa h3 a {    
	color: #000;
	font-weight: bold !important;
	font-family: Verdana, Arial, Helvetica, "sans-serif" !important;
	font-size: 13px !important;
	line-height: 14px !important;
	word-spacing: 1px !important;
	letter-spacing:0px !important;
}

td.celdaPortadaBarsa ul li.noticia a
{   
    /*color:Orange !important;*/
    }

/* --- Buscador --- */

columnaLateralDerechaBuscador {
	float:right;
}
body#paginaDeInicio div#contenidos div#columna_0 h7{
   width:645px;
	margin: 0px 0px 5px 5px;
    list-style-type: none;
    text-indent:10px;
    float:left;
    line-height:16px;
	text-indent:8px;
	padding-left: 0px;
	background: url('bg-subti.gif') top left no-repeat;
}


