/* Surcharge des styles du calendrier JS */
.calendar {
  background: #c8d0d4;
}

.calendar table {
  background: #c8d0d4;
}

.calendar thead .title { /* This holds the current "month, year" */
  background: #788084;
}

.calendar thead .name { /* Cells <TD> containing the day names */
  background: #e8f0f4;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  background: #d8e0e4;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  background: #b8c0c4;
}

.calendar table .wn {
  background: #e8f4f0;
}

.calendar tbody .rowhilite td {
  background: #d8e4e0;
}

.calendar tbody .rowhilite td.wn {
  background: #c8d4d0;
}

.calendar tbody td.selected { /* Cell showing selected date */
  background: #d8e0e4;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background: #788084;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  background: #d8e0e4;
}

/* Combo boxes (menus that display months/years for direct selection) */
.calendar .combo {
  background: #d8e0e4;
}

.calendar .combo .active {
  background: #c8d0d4;
}

.calendar .combo .hilite {
  color: #aef;
}
