
/* ################################################################################################################## */
/* Définit les styles de la colonne de droite du site */
/* ################################################################################################################## */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de la colonne de droite de l'accueil */
/* Sert pour les élements de la colonne de droite et la portlet Sondage */
/* ------------------------------------------------------------------------------------------------------------------ */
.portletColonneDroite .colonneDroite {
  margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.portletColonneDroite .titreColonneDroite {
	margin: 0px 0px 0px 0px;
	padding: 0px;	
	/* la largeur vaut 2px de plus car sur blocColonneDroite il y a une bordure de 1px à droite et à gauche */
	width : 150px;
	background: #52841F url(http://www.loire.fr/images/custom/internet/contenu/titre_fond.gif) no-repeat top left;
}
.portletColonneDroite .titreColonneDroite h2 {
  margin: 0px;
	padding: 3px 0px 3px 5px;
	color: #FFFFFF;
	font-weight: bold;
}
.portletColonneDroite .titreColonneDroite h2 a {
	color: #FFFFFF;
}

.portletColonneDroite .blocColonneDroite {
	margin: 0px 0px 15px 0px;
	padding: 2px 2px 2px 2px;	
	border: 1px solid #A2BE28;
	width : 144px;
}
.portletColonneDroite .blocColonneDroite .imageColonneDroite {
	float:right;
	margin: 0px 0px 2px 0px;
}
/* Surcharge des styles pour le bloc "Rss" en colonne de droite */
.portletColonneDroite .blocColonneDroite .imageRSS {
	float:right;
	margin: 0px 0px 2px 2px;
}

/* Styles pour le bloc "sondage" */
/* Surcharge du style "action" */
.portletColonneDroite .blocColonneDroite .action{
  text-align: center;
  margin: 5px 0px 5px 0px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles particuliers pour le bloc météo */
/* ------------------------------------------------------------------------------------------------------------------ */
#mContent {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
#meteo p {
	margin: 0px;
	padding: 0px;
	color: #000000;
	text-align: center;
	font-size : 80%;
}
#mIco {
	width: 75px;
	height: 66px;
	background : transparent url(http://www.loire.fr/images/custom/meteo/meteo.gif) no-repeat center left;
	text-align : center;
}
#mIco p img {
	float : none;
}
p#mJour {
	font-weight: bold;
}
p#mDate {
	font-weight: bold;
}
p#mTemperature {
	font-weight: bold;
}
p#mDescription {
  text-transform: uppercase;
}
