
/* ################################################################################################################## */
/* Définit les styles généraux du site */
/* ################################################################################################################## */

/* Style des portlets ligne et colonne dans les portails */
/* Pour contrer le bug IE qui laisse un espace en bas du div de la portlet et le tableau interne de classe Row */
table.Row, table.Col {
  vertical-align: bottom;
}

.referencement {
	margin: 0px;
	padding: 0px;
  display: none;
  visibility: hidden;
  cursor:default;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles généraux de portlet */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Style du div englobant l'ensemble du site (Permet de fixer sa taille pour un affichage en 1024) */
#portailInternet {
  margin: 20px auto 0px;
  padding: 0px;
	width : 1000px;
	background-color : #fff;
}

/* Pour traiter le bug sous ie du décalage entre le bandeau et la partie centrale */
.portletClear {
	clear: both;
}

/* Sert à faire la bordure de la portlet centrale dans les portails */
#zoneCentraleBordure td.pos_1 {
	background: transparent url(http://www.loire.fr/images/custom/internet/portlet/filet_fond.gif) repeat-y top right;
}
#zoneCentraleBordure td.pos_1 td.pos_1 {
	background: none;
}
