
/* ################################################################################################################## */
/* Définit les styles de la page centrale pour l'accueil et pour les listes */
/* ################################################################################################################## */

/* Ce style va surcharger la marge droite des styles ImageAlaune pour la gestion des médias pleine largeur */
.noMarginRight{
	margin-right:0px !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles de la partie "A la une" */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de la portlet */
#aLaUne {
  margin: 0px;
  padding: 0px 0px 10px 0px;
}
/* Style de l'élément */
.blocALaUne{
  margin: 0px;
  padding: 0px 0px 10px 0px;
  zoom: 1; /*MSIE : hidden content fixe and overflow implementation */
}
/* Surcharge du h1 commun */
.blocALaUne h1 {
  margin: 0px 0px 3px 0px;
  padding: 0px;
}
.blocALaUne .imageALaUne {
  float: left;
  margin: 3px 10px 5px 0px;
  padding: 0px;
}
/* Surcharge de la partie liste des vidéos */
.blocALaUne .listeVideos{
	display : none ;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles de la partie "En Bref" */
/* ------------------------------------------------------------------------------------------------------------------ */
#zoneTotem {
  margin: 0px 0px 0px 0px;
  padding : 0px 20px 0px 0px;
}
.blocTotem {
	margin: 0px 0px 10px 0px;
	padding: 2px 2px 2px 2px;	
	border: 1px solid #DBDADB;
  zoom: 1; /*MSIE : hidden content fixe and overflow implementation */
}
/* Surcharge du h2 commun */
.blocTotem h2 {
  margin: 0px 0px 10px 0px;
  font-size: 130%;
}
.blocTotem .imageTotem{
	margin: 0px;
	padding:0px;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles de la partie "En Bref" */
/* ------------------------------------------------------------------------------------------------------------------ */
#enBref {
  margin: 0px 0px 0px 0px;
  padding : 0px;
}
.blocEnBref {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 5px 0px;
  zoom: 1; /*MSIE : hidden content fixe and overflow implementation */
	background-image: url(http://www.loire.fr/images/custom/internet/navigation/pointille.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
}
/* Surcharge du h2 commun */
.blocEnBref h2 {
  margin: 0px 0px 10px 0px;
  font-size: 130%;
}
.blocEnBref .imageEnBref{
	margin: 0px 10px 5px 0px;
	padding:0px;
  float:left;
}
/* Surcharge du lien */
.blocEnBref .lien{
  text-align: right;
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de l'affichage "liste" des contenus */
/* ------------------------------------------------------------------------------------------------------------------ */
#listeContenu{
  margin: 0px 0px 0px 8px ;
	padding: 20px 0px 0px 0px;
}
/* Pour le message des offres d'emploi */
#listeContenu p{
  margin: 0px;
	padding: 0px;
	font-weight: normal;
}
.blocListeContenu{
	margin: 0px;
	padding: 0px 10px 20px 0px;
	zoom:1;
}
/* Surcharge du h2 commun */
.blocListeContenu h2 {
	margin: 0px;
	font-size: 140%;
}
.blocListeContenu .imageListe{
	float:left;
	margin: 0px 5px 5px 0px;
}
/* Surcharge du lien */
.blocListeContenu .lien{
  text-align: right;
}
.blocListeContenu .lien a{
  text-decoration: underline;
}
/* Surcharge de la partie liste des vidéos */
.blocListeContenu .listeVideos{
	display : none ;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles de la partie "Zoom sur" */
/* ------------------------------------------------------------------------------------------------------------------ */
#zoomSur{
	background : #e5edde;
	padding : 15px;
}
#zoomSur p.linkWebTv{
	margin:0px;
	padding:0px;
}
#zoomSur p.linkWebTv a{
	background: url(http://www.loire.fr/images/custom/internet/navigation/puceWebTv.gif) no-repeat;
	margin: 10px 0px;
	padding: 0px 20px;
	display: block;
	height: 16px;
	color: #42483e;
	text-decoration: none;
	font-size: 120%;
}
.blocZoomSur {
	background: #616360;
	padding: 5px 20px 10px 20px;
	color : #FFFFFF;
}
.blocZoomSur h2{
	margin : 10px 0px;
	color : #FFFFFF;
}
.blocZoomSur a {
	color : #FFFFFF;
}
.blocZoomSur a:hover {
	color : #FA6231;
}
/* Surcharge de la partie liste des vidéos */
.blocZoomSur .listeVideos{
	display : none ;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles de la partie "E services" */
/* ------------------------------------------------------------------------------------------------------------------ */
#e-services{
	background : url(http://www.loire.fr/images/custom/internet/portlet/e-services.gif) no-repeat ;
	padding : 50px 0 0 0 ;
	margin : 20px 0 ;
}
#e-services ul img{
	display: block ;
	margin : 0 auto ;
}
#e-services ul {
	list-style: none ;
	margin : 0 ;
	padding : 0 ;
	font-size: 85% ;
}
#e-services ul li{
	display : block ;
	float : left ;
	width : 120px ;
	height: 100px ;
	text-align : center ;
}
#e-services ul li a{
	text-decoration : none ;
	color : #000000;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles de la partie "Goodies" */
/* ------------------------------------------------------------------------------------------------------------------ */
#goodies{
	
}
.blocGoodies{
	width : 128px ;	
	float : left ;
	text-align : center ;
	background : url(http://www.loire.fr/images/custom/internet/portlet/goodiesBottom.gif) no-repeat bottom left;
	padding-bottom : 12px;
}
.blocGoodies .title{
	background : url(http://www.loire.fr/images/custom/internet/portlet/goodiesTop.gif) no-repeat ;
	height: 20px ;
	color : #45423D ;
	font-size : 80%;
	font-weight: bold;
	padding-top : 8px ;
}
.blocGoodies .content{
	background-color: #EFF8FF ;
}
#goodies .withoutMargin{
	margin-right : 0 ;
}
#goodies .withMargin{
	margin-right : 25px;
}
#goodies  a{
	text-decoration : none ;
	cursor : pointer ;
}