
/* ################################################################################################################## */
/* Définit les styles de l'affichage des contenus du site */
/* ################################################################################################################## */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style général de l'affichage des contenus */
/* ------------------------------------------------------------------------------------------------------------------ */
#contenuPrincipal {
  margin: 5px 0px 5px 8px;
  padding: 5px 0px 5px 0px;
}

/* Puce générale pour tous les contenus  TODO : supprimer apres controle*/
/*#contenuPrincipal ul {
  list-style-image: url(../../../images/custom/internet/contenu/puce.gif);
}*/
/* Marge droite pour décaler les puces des images en float:left sous FF */
/*#contenuPrincipal ul li {
  margin: 0px 0px 0px 10px;
}*/

/* Style du bloc de contenu qui sert à dissocier la partie centrale de la partie droite */
#blocContenu {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  float: left;
  width: 100%;
}

/* Styles de l'affichage des infos "réduites" (Chapeau et vignette) */
#contenuPrincipal .chapeau {
  margin: 0px 0px 10px 0px;
	font-weight: bold;
	font-family : Geneva, Arial, Helvetica, sans-serif;
	font-size: 140%;
}
/* Affichage de la vignette */
#contenuPrincipal .chapeau .imageChapeau{
  margin: 0px 5px 5px 5px;
	float : left;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de l'affichage des contenus par type de contenu */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Affichage des images & légendes associées pour Page Texte */
#blocContenu dl {
	margin: 0px;
	padding: 0px;
	text-align:left;
}
#blocContenu dl.alignGauche {
  margin: 0px 20px 10px 0px;
  float:left;
  text-align:left;
}
#blocContenu dl.alignDroite {
  margin: 0px 0px 10px 20px;
  float:right;
  text-align:right;
}
#blocContenu dd {
  margin: 0px;
  padding: 0px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style des pages spécifiques (Configuration logicielle, ) */
/* ------------------------------------------------------------------------------------------------------------------ */
#configurationLogicielle li.isNotInstalled a {
	border-bottom : thin solid red;
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* Style pour les video ds les pages textes et actus */
/* ------------------------------------------------------------------------------------------------------------------ */
#contenuPrincipal .blocVideoContenu{
	margin: 0px 5px 0px 0px;
	padding: 0px;
	float: left;
}