/* Forms (Should be replaced by widget.css)*/

table.formBackground  { background-color: #F0F0F0; border: 1px solid #999999; }
table.formPanel       { background-color: transparent; }
td.formTitle          { color:#FFFFFF; background-color: #CCCCC0; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-align: left; }
td.formLabel          { font-family: Arial, Helvetica, sans-serif; text-align: right; font-size: 10pt; white-space:nowrap;}
td.formInfo           { font-family: Arial, Helvetica, sans-serif; font-size: 10pt;}
td.formAdminTitle     { color:#FFFFFF; background-image: url(http://www.loire.fr/images/jalios/layout/bg/redtv.gif); background-color: #CC0000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-align: left; }
span.formButton       { }
span.formDeleteButton { color: #FF0000; }
.formInfo             { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
.formInfo a           { text-decoration: none; color: #6633CC; }
.formInfo a:hover     { text-decoration: underline; }
.formMandatory        { color: #FF0000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 10pt }
.formLabel            { font-family: Arial, Helvetica, sans-serif; text-align: left; white-space:nowrap;}
.formTextfield        { border: 1px #666666 solid; background-color: #FFFFFF; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px; font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
.formTextfieldRight   { border: 1px #666666 solid; background-color: #FFFFFF; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; text-align: right;}
.formSelect           { border: 1px #666666 solid; background-color: #FFFFFF; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px; font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
.formWarning          { color: red; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }

.formDisabled         { color: gray; background-color: #DCDCDC; }

body.popupEdition {
  background-color: #70A1DF;
}
#popupEdition {
  padding: 2px 10px 0 10px;
  margin: 0px;
  border: 1px solid #70A1DF;
  border-width: 15px 14px;
  height:100%;
  background-color: #F8FCFD;
}

/* Information Area */

.infoArea {
  background:   #FFFFCC url("http://www.loire.fr/images/jalios/icons/information.gif") no-repeat scroll 8px 14px;
  border:       1px solid #999999;
  font-family:  Arial, Helvetica, sans-serif;
  font-size:    11px;
  padding:      10px 10px 10px 48px;
  
}
.infoArea p {
  margin-top:    0px;
  margin-bottom: 10px;
}

/* FormBox (without tabs) */
.formBox {
  border: 1px solid black;
}

.formBox .infoArea {
  padding:        10px 10px 0px 48px;
  border-width:   0px 0px 1px 0px;
  border-bottom:  1px solid #999999;
}

.formBox .inputArea {
  padding:       5px;
  margin-bottom: 10px;
  background:    #FAFAFA url("http://www.loire.fr/images/jalios/layout/bg/formBg.gif") repeat-x;
  font-family:      Arial, Helvetica, sans-serif;
  font-size:        12px;
}

.formBox .inputArea .inputSet {
  margin-top: 20px;
}

.formBoxButtons {
  margin: 10px 0px 10px 0px;
}