/* <?xml version="1.0" encoding="ISO-8859-1"?><XMLCSS> */

/* Les importations doivent être faites avant les définitions de style */

/* ################################################################################################################## */
/* Styles génériques du site */
/* ################################################################################################################## */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Définition des styles génériques */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Style permettant de remettre à zéro les positionnements flottants */
/* (Souvent utilisé de cette façon "<br class="clear" />") */
.clear {
 	clear: both !important;
	border: none !important;
	height: 0px !important;
	width: auto !important;
	background: none !important;
	padding: 0 !important;
	margin: 0 !important;
	float: none !important;
	display: block !important;
	z-index: 99999999 !important;
	font-size: 0 !important;
}

.floatLeft{float:left;}
.floatRight{float:right;}
.noBackground{background: none;}

/* Style de l'accessibilité */
/* TODO Renommer les deux premiers pour le troisième */
.bypass, .accessLayout, .zoneAccessible {
	margin: 0px;
	padding: 0px;
	position: absolute;
	left: 0px;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow:hidden;
	/* Pour IE 6 sinon la zone crée un décalage notemment sur la navigation centrale */
	display:none;
}

/* </XMLCSS> */
