.dynamic-tab-pane-control.tab-pane {
	position:	relative;
	width:		98%;
  margin-top: 3px;
}

.dynamic-tab-pane-control .tab-row .tab , .tab_selected {
	font-family: Arial, Helvetica, sans-serif;
	cursor: Default;
	display: inline;
	margin: 3px -2px 1px 2px;
	float: left;
	padding: 2px 5px 3px 5px;
	background:	#D0D0D0;
	border:	1px solid;
	border-color:	#999999 #666666
		    #666666 #999999;
	border-bottom: 0;
	z-index: 1;
	position:	relative;
	top: 0;
}

.dynamic-tab-pane-control .tab-row .tab.selected , .tab_selected{
  border-bottom: 0;
	z-index: 3;
	padding: 5px 6px 4px 7px;
	margin:	1px -3px -2px 0px;
	top: -1px;
	background:	#E4ECEE;
  background-image: url("http://www.loire.fr/images/jalios/layout/bg/tabBg.gif");
  background-repeat: repeat-x;
}

.dynamic-tab-pane-control .tab-row .tab a , .tab_selected a {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration:	none;
	cursor:				default;
}

.dynamic-tab-pane-control .tab-row a:hover , .tab_selected a:hover {
	color:	blue;
}

.tab-single-pane,
.dynamic-tab-pane-control .tab-page {
	clear:			both;
	border:			1px solid;
	border-color:	#999999 #666666 #666666 #999999;
	margin-top: -1px;
	color:			WindowText;
	font:			Message-Box;
	padding:		10px;
  background: #FAFAFA;
  background-image: url("http://www.loire.fr/images/jalios/layout/bg/formBg.gif");
  background-repeat: repeat-x;
}
html > body .dynamic-tab-pane-control .tab-page {
  position: relative;
  top: -1px;
  margin-top: 0px;
}
.dynamic-tab-pane-control .tab-page .tab-page {
  background: #ECEEF0;
  background-image: url("http://www.loire.fr/images/jalios/layout/bg/subFormBg.gif");
  background-repeat: repeat-x;
  background-position: bottom;
  border-color: #CCCCCC #AAAAAA
        #AAAAAA #CCCCCC;
}

.dynamic-tab-pane-control .tab-page .tab-row .tab ,.dynamic-tab-pane-control .tab-page .tab_selected {
  border-color: #CCCCCC #AAAAAA
        #AAAAAA #CCCCCC;
}

.tab-page hr {
  color: #DDDDDD;
  background-color: #DDDDDD;
  height: 1px;
  border: 0;
}

.dynamic-tab-pane-control .tab-row {
	z-index:		1;
	white-space:	nowrap;
}

H2.tab, H2.tab_selected {
  font-size: medium;
  font-weight: normal;
}
H2.tab {
  font-size: small;
}
H2.tab_selected {
  font-size: small;
  font-weight: bold;
}