/* DropDown and single TAGS (jalios:workspace jalios:edit jalios:lang */

DIV.superTagDropDown          {
  color: #191970 ; 
  font: normal 9pt arial,helvetica,sans-serif;
  text-align: left; white-space: nowrap;
  position: absolute; z-index: 9999;
  background-color: white;  border: 1px solid gray;
}
DIV.superTagDropDown a          { 
  color: #191970 ; 
  font: normal 9pt arial,helvetica,sans-serif;
  text-decoration: none;
  padding: 2px 4px;
}
DIV.superTagDropDown a:hover    {
  color: #191970 ; 
  font: normal 9pt arial,helvetica,sans-serif;
  text-decoration: underline;
  background-color: #FFFFCC;
}
DIV.superTagDropDown a.superTag {
  color: #191970 ; 
  font: normal 9pt arial,helvetica,sans-serif;
  text-decoration: none;
  display: block;
  border-bottom: 1px dotted #F0F0F0;
}
DIV.superTagDropDown a.superTag:hover {
  color: #191970 ; 
  font: normal 9pt arial,helvetica,sans-serif;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid gray;
}

.editTagDropDown { }
.editTag { }

.workspaceTagDropDown { }
.workspaceTag { }

.langTagDropDown { }
.langTag { }
