
/* ################################################################################################################## */
/* Définit les styles de l'affichage de la partie "Video" */
/* ################################################################################################################## */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Affichage des thèmes de la bibliothèque de vidéos */
/* ------------------------------------------------------------------------------------------------------------------ */
.themes {
	margin: 0px;
	padding: 0px;
	width:100%;
	border-collapse: collapse;
}

.modeTheme, .modeThemeLast {
	margin: 0px;
	padding: 0px;
	width:33%;
  height: 100%;
  text-align: center;
  vertical-align: top;
}
.modeThemeLast {
  border-left : 1px dotted #339;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style pour l'affichage des liens de consultations et téléchargement */
/* ------------------------------------------------------------------------------------------------------------------ */

.blocVideo {
  margin: 10px 0px 10px 0px;
  padding: 0px;
}
/* utilisé aussi dans les pages textes et les actualités */
ul.listeVideos {
  margin: 20px 0px 0px 40px;;
	font-weight: bold;
}
.blocVideo ul.listeVideosBis {
  margin: 0px 0px 0px 40px;;
	font-weight: bold;
}
