/* ################################################################################################################## */
/* Définit les styles de l'affichage de la partie "agenda" */
/* ################################################################################################################## */

#agendaRecherche{
	width: 600px;
}

/* Style du lien de retour vers l'agenda dans la fiche item d'agenda */
.agendaRetour{
	margin: 0px;
	padding: 6px 0px 6px 30px;
	background-image: url(http://www.loire.fr/images/custom/internet/contenu/retour.gif);
	background-position: 2px 3px;
	background-repeat: no-repeat;
	font-weight: bold;
}

/* ################################################################################################################## */
/* Définit les styles de l'affichage de la partie "artiste" */
/* ################################################################################################################## */
.vignetteArtiste{
  margin: 0px 15px 10px 0px;
	float: left;
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* Affichage réduit
/* ------------------------------------------------------------------------------------------------------------------ */

.colonneDroite .blocColonneDroite h2.titreArtiste,h2.titreArtiste{
	font-size: 19px;
	margin: 0px 0px 0px 0px;
	font-family: Arial,Verdana;
}

h3.sousTitreArtiste{
	font-size: 16px;
	margin-top: 0px;
}

.titreColonneDroite h3.sousTitreArtiste{
	margin:0;
	padding:0 5px 5px;
}

.blocALaUne .vignetteArtiste, 
.blocEnBref .vignetteArtiste, 
.blocListeContenu .vignetteArtiste{
  margin-bottom: 0;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Affichage full
/* ------------------------------------------------------------------------------------------------------------------ */
h1.titreArtiste{
  margin: 0px 0px 0px 0px;
	padding: 0px;
	font-size: 19px;
	font-family: Arial,Verdana;
}

.bandeauArtiste {
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

.ficheArtiste div.classic p {
 margin: 0px;
 padding: 0px;
}
