
/* ################################################################################################################## */
/* Définit les styles de l'affichage de type "Annuaire" */
/* ################################################################################################################## */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles de la fiche élu */
/* ------------------------------------------------------------------------------------------------------------------ */
.ficheElu {
	margin : 1em 0;
}
.ficheElu .separator {
	padding-left : .5em;
	border-left : 1px solid #ccc;
}
.ficheElu dl, .ficheElu dt, .ficheElu dd {
	margin : 0;
	padding : 0;
}
.ficheElu ul, .ficheElu li {
	margin : 0;
	padding : 0;
}
.ficheElu p.photo {
	margin : 5px;
	padding : 0;
}
.ficheElu .nom {
	font-weight : bold;
}
.ficheElu .fonction {
	margin-top : .5em;
	color : #A7CB2B;
	font-weight: bold;
}
.ficheElu .autreFonction {
	color : #A7CB2B;
}
.ficheElu .adresse {
	margin-top : 1em;
	color : #9b9b9b;
}
.ficheElu .telephone {
	margin-top : 1em;
	padding : 0;
}
.ficheElu .telephone strong, .ficheElu .fax strong, .ficheElu .siteInterne strong, .ficheElu .siteExterne strong, .ficheElu .courriel strong {
	display : block;
	float : left;
	margin-right:3px;
	width : auto;
}
.ficheElu .canton{  
}
.ficheElu .canton .photo {
  	margin : 1em 0 0 0;
	padding : 0;
}
.ficheElu .canton .nom cite {display : block;}
