
@import url(http://www.loire.fr/js/calendar/calendar.css);
@import url(http://www.loire.fr/css/jalios/treecat.css);

.formInfo            { font-size: small ; font-family: Arial, Helvetica, sans-serif;}
.formMandatory       { font-size: small ; font-family: Arial, Helvetica, sans-serif; color: #FF0000;}
.formLabel           { font-size: 11pt ; font-family: Arial, Helvetica, sans-serif; font-weight: bold;  text-align: left; white-space:nowrap;}
legend.formLabel     { font-size: 11pt }
.formDescription     { font-size: small ; font-family: Arial, Helvetica, sans-serif; color: #666666; text-align: left; }
.formTextarea        { font-size: small ; font-family: Arial, Helvetica, sans-serif; border: 1px #666666 solid; background-color: #FFFFFF; padding: 1px;}
.formTextarea:focus  { background-color: #FFFFED; }
.formTextfield       { font-size: small ; font-family: Arial, Helvetica, sans-serif; border: 1px #666666 solid; background-color: #FFFFFF; padding: 1px;}
.formTextfield:focus { background-color: #FFFFED; }
.formChooserfield    { font-size: small ; font-family: Arial, Helvetica, sans-serif; border: 1px #666666 solid; background-color: #DDDDDD; padding: 1px;}
.formCheckbox        { }
.formRadiobox        { }
.formLabelbox        { font-size: small ; font-family: Arial, Helvetica, sans-serif; text-align: left;}
.formCombobox        { font-size: small ; font-family: Arial, Helvetica, sans-serif; }
.formListbox         { font-size: small ; font-family: Arial, Helvetica, sans-serif; }
.formUnits           { font-size: x-small  ; font-family: Arial, Helvetica, sans-serif; }
.formButton:hover    { border: 1px solid #999999;  }
.formButton          { font-size: small; 
                       font-family: Arial, Helvetica, sans-serif; 
                       background-color: #DDDDDD; 
                       border: 1px solid #666666; 
                       height: 23px; 
                       background-image: url("http://www.loire.fr/images/jalios/layout/bg/buttonBg.gif"); 
                       background-repeat: repeat-x; 
                       margin: 2px; 
                       padding: 0 6px; 
                       width:auto; 
                       overflow:visible; 
                     }
.seriousButton:hover { border: 1px solid #DD6666;  }
.seriousButton       { background: #CC9999 url("http://www.loire.fr/images/jalios/layout/bg/seriousButtonBg.gif"); 
                       color: #FFFFFF; 
                       border: 1px solid #990000; 
                       font-weight: bold; 
                     }
.mainButton:hover    { border: 1px solid #6666FF;  }
.mainButton          { 
											 background: #99BBEE url("http://www.loire.fr/images/jalios/layout/bg/mainButtonBg.gif"); 
                       color: #FFFFFF; 
                       border: 1px solid #333388;
                       font-weight: bold; 
                     }
.disabledButton:hover,
.formButton[disabled]{ border: 1px solid #666666;  }
.disabledButton      { background-color: #BCBCBC;
                       background-image: url("http://www.loire.fr/images/jalios/layout/bg/mainButtonDisbBg.gif");
                       color: #666666; 
                       border: 1px solid #666666;
                     }
.formDisabled        { color: gray; background-color: #DCDCDC; }



A.formButton         { 
                       font-size: x-small; 
                       font-family: Arial, Helvetica, sans-serif; 
                       border: 1px solid #666666; 
                       padding: 3px; 
                       color: #333333; 
                       text-decoration:none;
                     }
.UI_EDITOR_TEXTFIELD .tab-page,
.UI_EDITOR_TEXTAREA  .tab-page,
.UI_EDITOR_WIKIAREA  .tab-page { white-space: nowrap; }



.UI_EDITOR_TEXTFIELD_INTEGER .formTextfield { text-align: right; }
.UI_EDITOR_TEXTFIELD_DOUBLE  .formTextfield { text-align: right; }
.UI_EDITOR_DURATIONCHOOSER   .formTextfield { text-align: right; }
.UI_EDITOR_WARNAREA          .formTextarea  { background-color: #FFEECC; }
.UI_EDITOR_IMAGEMAPAREA      .formTextarea  { background-color: #FFEECC; }