/* ################################################################################################################## */
/* Définit les styles d'affichage du champ texte riche en BACK OFFICE (TODO Uniquement ?) */
/* ################################################################################################################## */
/* Style général du contenu du champ texte riche */
/* TODO Problème du style général en BO avec les différents sites */
/* TODO EN FO, on arrive à surcharger car ce sont les styles généraux qui sont pris en compte A valider ... */
.classic {
  font-size: 1em;
	color:#333333;
}
.classic TABLE                  { border-collapse: collapse ; }

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles des tags HTML proposés dans l'éditeur (doivent être identiques à ceux du site internet pour visualisation BO)
/* TODO Comment faire pour qu'o ait l'apparence de l'un ou autre site en BO car ici on impose le style internet */
/* TODO Faut il réafficher ces styles ici ? */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles des niveaux d'affichage */
.classic h1 {
	margin: 10px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	color:#A2BE28;
	font-size : 130%;
	font-weight : bold;
}
.classic h2 {
	margin: 10px 0px 10px 10px;
	padding: 0px;
	color:#A2BE28;
	font-size : 120%;
	font-weight : bold;
}
.classic h3 {
	margin: 0px;
	padding: 10px 0px 5px 0px; 
	color:#008FAD;
	font-size: 140%;
	font-weight : bold;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles proprosées dans l'éditeur de texte riche */
/* ------------------------------------------------------------------------------------------------------------------ */
.classic .gras_invisible {
  font-weight:500;
}
