/* for Firefox - damit zeigt er keine gepunktete Linie um Flashes */

object { outline:none; }

/* ------------------------------------------------------ C-BEREICH EMBEDDED PLAYERS ----------------------------------------------- */ 

/* common styles */

#playercontent img
{
    border: 0px;
}

#playercontent a:hover, #playercontent a:focus, #playercontent a:active
{
    text-decoration: none;
}



#playercontent #playerback
{
    position:absolute;
    background-image:url(player_c_back.png);
    width: 590px;
    height: 195px;
    padding-top: 0px;
}

#playercontent #playerflash
{
    clear: both;
    margin-left: 6px;
    padding-top: 0px;
}

#playercontent #flashcontent 
{
    clear:both;
    width: 286px;
    height: 189px;
}

#playercontent #geowindow
{
    display: none;
	background: none;
	width: 280px;
    margin-top: 30px;
	margin-left: 0px;
}

#playercontent #geowindow p, #playercontent #geowindow a
{
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	padding: 6px;
}

#playercontent #geowindow a
{
	font-weight: bold;
	padding: 0px;
}

#playercontent #playerlist 
{
    position:relative;
    top: 6px;
    left: 298px;
    width: 286px;
    height: 190px;
}

#playercontent #playerlist #listtopmenu 
{
    font-size: 0px;
}
#playercontent #playerlist #listtopmenu #videodetails
{
    height: 14px;
    float: left;
    margin-right: 2px;
}

#playercontent #playerlist #listtopmenu #detailslink, 
#playercontent #playerlist #listtopmenu #morevideoslink
{
    margin-left: 5px;
    margin-right: 5px;
}

#playercontent #playerlist #listtopmenu #morevideos
{
    height: 15px;
}

/* -------------------------------------- Potential dead image links here! ---------------------------------------- */

#playercontent #playerlist #listtopmenu .topmenubuttonleft, 
#playercontent #playerlist #listtopmenu .topmenuactivebuttonleft{
    background-image:url(topmenu_inactive_left.gif); 
    float:left; 
    width: 5px;
    height: 15px;
}
#playercontent #playerlist #listtopmenu .topmenuactivebuttonleft
{
    background-image:url(topmenu_active_left.gif); 
}

#playercontent #playerlist #listtopmenu .topmenubuttonmiddle, 
#playercontent #playerlist #listtopmenu .topmenuactivebuttonmiddle
{
    background-image:url(topmenu_inactive.gif); 
    float:left; 
    padding-bottom: 1px; 
    padding-top: 2px;
    
    /* nur für Safari */
    height: 12px;
}

#playercontent #playerlist #listtopmenu .topmenuactivebuttonmiddle
{
    background-image:url(topmenu_active.gif); 
}

#playercontent #playerlist #listtopmenu .topmenubuttonright, 
#playercontent #playerlist #listtopmenu .topmenuactivebuttonright
{
    background-image:url(topmenu_inactive_right.gif); 
    float:left; 
    width:5px; 
    height: 15px;
}

#playercontent #playerlist #listtopmenu .topmenuactivebuttonright
{
    background-image:url(topmenu_active_right.gif); 
}

#playercontent #playerlist #listtopmenu a 
{
    font: bold 9px  Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

/* -------------------------------------- Potential dead image links END ---------------------------------------- */

/*--------------------------------------------- "No Flash Found" info box --------------------------------------- */

/* 07.01.: Neue Styles für Text, wenn Flash nicht gefunden */
#playercontent #flashcontent h2
{
    color:#FFFFFF; 
    text-transform: uppercase;
    font-size: 12px; 
    padding: 5px; 
    text-align:center;
}

#playercontent #flashcontent p
{
    color:#FFFFFF; 
    font-size: 10px;
    font-weight: normal;
    padding: 5px
}

#playercontent #flashcontent a
{
    color:#FFFFFF; 
}

/* ----------*/

#playercontent #playerlist #listtopmenu .highlightlink 
{
    color: #003283;
}

#playercontent #playerlist .linkprogrammplan 
{
	background:url(arrowright.gif) no-repeat center right;
    font: bold 9px  Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    float: right;
    margin-top: 7px;
    padding-right:5px;
}

#playercontent .listitemscontainer
{
    width: 282px;
    height: 159px;
    padding-top: 2px;
    font-size: 0;
}

/*
#playercontent .listitemscontainermedium
{
    height: 166px;
}*/

#playercontent #marginmaker /*, #playercontent #marginmakermedium, #playercontent #marginmakerbig */
{
    background-color:#FFFFFF; 
    height:155px; 
    margin-left:3px; 
    margin-top: 1px; 
    width:280px;
}

/*
#playercontent #marginmakermedium
{
    height:161px; 
}

#playercontent #marginmakerbig
{
    height:179px; 
}*/

#playercontent .listitemscontainer #pane1 
{
	width: 278px;
    height: 153px;
    position:relative;
    right: 3px;
    left: 0px;
    top: 1px;
    background-color: #FFFFFF;
}

/*
#playercontent .listitemscontainermedium #pane1
{
    height: 159px;
}*/

#playercontent .listitemscontainer
{
    width: 286px;
    background-color: #E8E8E8;
    clear: both;
}

#playercontent .listitemscontainer #videodetailsbox, 
#playercontent .listitemscontainer #morevideosbox
{
    margin-top: 0px;
}

#playercontent .listitemscontainer #morevideosbox
{
    display: none;
}

#playercontent .listitemscontainer  h1
{
	font: bold 10px  Verdana, Arial, Helvetica, sans-serif;
    color: #ff6600;
    margin: 0px;
	padding: 3px 0px 0px 4px;
}

#playercontent .listitemscontainer .listline, 
#playercontent .listitemscontainer #firstlistline
{
    margin-left: 2px; 
    margin-top: 1px; 
	margin-bottom: 1px;
    padding: 0px; 
    border: 0px;
}
#playercontent .listitemscontainer #firstlistline
{
    margin-left: 2px; 
    margin-top: 5px; 
}

#playercontent .listitemscontainer .listblock
{
	width: 265px; 
    margin-left: 2px; 
    margin-top: 4px; 
    margin-bottom: 0px;
	min-height: 13px;
    background-color: #FFFFFF;
	line-height: 1;
	clear: both;
}

#playercontent .listitemscontainer .listicon
{
    margin-top: 0px; 
    margin-left: 0px; 
    margin-right: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
    float:left;
}

#playercontent .listitemscontainer h2, 
#playercontent .listitemscontainer h3, 
#playercontent .listitemscontainer p, 
#playercontent .listitemscontainer .listtime 
{
    font:bold 10px  Verdana, Arial, Helvetica, sans-serif; 
	color: #333333;
    padding: 0px;
    margin: 0px;
}

#playercontent .listitemscontainer .detailsheadline,  
#playercontent .listitemscontainer .detailstext 
{
    font-size: 11px;
    margin-left: 3px;
}

#playercontent .listitemscontainer #listheaderschedule
{
    padding-top: 8px; 
    padding-bottom: 2px;
	clear: both;
}

#playercontent .listitemscontainer .listtime
{
	font-size: 9px;
    float: right; 
    font-weight: normal;
    margin-top: 0px;
    margin-right: 2px;
}

#playercontent .listitemscontainer p
{
    font-weight: normal;
	margin-top: 3px; 
	margin-left: 25px;
}

#playercontent .listitemscontainer 
{
    font-weight: normal;
}

#playercontent .listitemscontainer h2
{
    color: #003283; 
    padding-top: 0px; 
    padding-bottom: 0px;
}

#playercontent .listblock h2
{
    padding-top: 0px;
}

#playercontent .listblock .listdetail h3
{
    margin-left: 15px;
    margin-bottom: 5px;
    text-transform: none;
}

#playercontent .listitemscontainer .blueheader{
        
    font:bold 10px  Verdana, Arial, Helvetica, sans-serif; 
    position: relative;
    top: 1px;
    margin: 0 0 0 0px;
    color: #003282;
    
    padding-top: 3px; 
    padding-bottom: 3px;
    line-height: 1;
}

#playercontent .listblock .listdetail p
{
    margin-left: 15px;
    line-height: 14px;
}

#playercontent .listblock .listdetail .linkbutton
{
    margin-left: 17px;
}

/* optional bulleted lists */

#playercontent .listblock .listdetail ul,
#playercontent .listblock .listdetail ol
{
    margin-left: 22px;
}

#playercontent .listblock .listdetail li
{
    font-size: 10px;
    padding: 2px;
    margin-top: 0px;
    line-height: 14px;
    list-style-type: none;
    list-style-position: outside;
    
    /*list-style-image: url(bullet.gif); */
    
    margin-left: -7px;
    margin-bottom: 8px;
}

/* These two styles control a workaround for missing list bullets (which for some reason 
are NOT displayed within the program listing area, NO MATTER what styles are applied, not
even with the !important override). Hence there's an artificial constuct consisting of a 
small list bullet GIF, followed by a paragraph which is appropriately floated and indented
to create an appearance of a bulleted item. */

#playercontent .listblock .listdetail li img /* custom list item bullet */
{
    margin-top: 4px; 
}

#playercontent .listblock .listdetail li p /* list item content */
{
    margin-top: -2px;
    margin-left: 10px;
}

#playercontent .listitemscontainer h3, 
#playercontent .listitemscontainer p
{
	margin-top: 6px; 
    margin-left: 14px;
}
#playercontent .listitemscontainer p
{
	margin-top: 8px; 
}

#playercontent .listitemscontainer a
{
    color: #003282;
	font-size: 10px;
	font-weight: bold;
}

#playercontent .listitemscontainer .magazinename
{
    font-size: 11px;
}
#playercontent .listitemscontainer .listdetail{
    margin-left: 0px;
	display: none;
	color: #333333;
}

#playercontent .listitemscontainer .listimage
{
    margin-left: 16px; 
    float:left; 
    padding-right: 4px; 
    margin-bottom: 10px;
}

#playercontent .listitemscontainer .linkbutton, 
#playercontent .listitemscontainer .linkbuttonleft, 
#playercontent .listitemscontainer .linkbuttonmiddle, 
#playercontent .listitemscontainer .linkbuttonright
{
    height: 14px; 
}


#playercontent .listitemscontainer .linkbuttonleft, 
#playercontent .listitemscontainer .linkbuttonmiddle, 
#playercontent .listitemscontainer .linkbuttonright
{
    float: left;
}

#playercontent .listitemscontainer .linkbutton
{
    margin-top: 8px; 
    margin-left: 14px; 
    padding-bottom: 5px;
    clear: both;
}

#playercontent .listitemscontainer .detailsboxlink
{
    margin-left: 4px; 
    margin-top: 8px;
}

#playercontent .listitemscontainer .linkbuttonleft
{
	/*background-image:url(/flash/images/tv_shared/linkbutton_left_w.gif); */
    background-image:url(linkbutton_left.png);
    width: 10px; 
}

#playercontent .listitemscontainer .linkbuttonmiddle 
{
    background-image:url(linkbutton.png); 
    /*padding-top: 1px;*/
}

#playercontent .listitemscontainer .linkbuttonright 
{
	/*background-image:url(/flash/images/tv_shared/linkbutton_right_w.gif);*/ 
    background-image:url(linkbutton_right.png);
    width:11px;
}

#playercontent .listitemscontainer .linkbuttonlink 
{
    position: relative;
    top: 2px; /*3px;*/
    color:#003282; 
    font-size: 9px; 
    text-transform: uppercase; 
    font-weight: bold;
}

#playercontent #pagesContainer 
{
    text-align: center; 
    margin-top: 5px;
    margin-bottom: 5px;
}

#playercontent #pagesContainer a
{
    font:bold 9px  Verdana, Arial, Helvetica, sans-serif; 
    color: #AFAFAF;
    padding: 0px 5px 0px 0px;
    margin: 0px;
}

#playercontent #pagesContainer .arrowleft, 
#playercontent #pagesContainer .arrowright, 
#playercontent #pagesContainer .pagehighlight 
{
    color: #003283;
}

#playercontent #pagesContainer .arrowleft
{
    padding-right: 14px;   
}

#playercontent #pagesContainer .arrowright
{
    padding-left: 10px;
}

#playercontent .scroll-pane {
    position:relative;
    overflow: auto;
    float: left;
    background-color: #FFFFFF;
}

#playercontent .jScrollPaneContainer {
    position: relative;
    background-color:#FFFFFF;
	width: 278px;
    height: 153px;
    right: 3px;
    left: 1px;
    top: 1px;
    overflow: hidden;
    z-index: 1;
}

#playercontent .jScrollPaneTrack {
    position: absolute;
    cursor: pointer;
    right: 0px;
    height: 100%;
    background: #E8E8E8;
}
#playercontent .jScrollPaneDrag {
    position: absolute;
    background: #999999;
    cursor: pointer;
    overflow: hidden;
}
#playercontent .jScrollPaneDragTop {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
#playercontent .jScrollPaneDragBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
#playercontent a.jScrollArrowUp {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    text-indent: -2000px;
    overflow: hidden;
    background-image:url(scroller_up.gif);
    height: 10px;
}

#playercontent a.jScrollArrowDown {
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    right: 0px;
    text-indent: -2000px;
    overflow: hidden;
    background-image:url(scroller_down.gif);
    height: 10px;
}

#playercontent a.jScrollArrowUp:hover {
    /*background-color: #f60;*/
}

#playercontent a.jScrollArrowDown:hover {
    /*background-color: #f60;*/
}
#playercontent a.jScrollActiveArrowButton, #playercontent a.jScrollActiveArrowButton:hover {
    /*background-color: #f00;*/
}

/*
#playercontent .listitemscontainerbig
{
    height: 183px;
}*/


/* ------------- 3-CHANNEL AAR 219 specific styles ------ */

#three_channel_player #buttonlist 
{
	margin-bottom: 3px;
    margin-left: 5px;
	height: 24px;
}
#three_channel_player #buttonlist li
{
    margin: 0px;
	line-height: 0px;
	float: left;
}
#three_channel_player .streamnavibuttons 
{
    background-image:url(white20.png);
    font: bold 10px  Verdana, Arial, Helvetica, sans-serif;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 1px;
}
#three_channel_player .navihighlight 
{
    background: none;
    background-color: #FF6600;
}
#three_channel_player .streamnavibuttons a
{
    color: #FFFFFF;
}
#three_channel_player .mainnavilink
{
    text-transform: uppercase;
}
#three_channel_player .playerlogo {
	margin-left: 0px; /* wuz 22px;*/
}
{
    text-transform: uppercase;
}

#three_channel_player .spacer18
{
    height: 18px;
}

#three_channel_player #playerlist
{
	top: 9px;
}

#three_channel_player .listitemscontainer .listblock
{
	margin-left: 0px;
}

#three_channel_player .listitemscontainer .broadcastname
{
    font-size: 10px;
	color: #003282;
	
	margin-top: 2px; /* wuz 0px */
	margin-left: 2px; /* wuz 0px */
	
	padding-top: 0px;
	
	/* temporary fix until proper design change is available*/
	/*width: 102px;*/
	width: auto;
}
#three_channel_player .listitemscontainer .broadcastheadline
{
    /*padding-left: 4px; */
	margin-top: 5px;
	margin-left: 5px; margin-right: 5px;
	
	color: #333333;
}

/* careful: the teaser text is no longer a paragraph, it's in anchor tags now! */
#three_channel_player .listitemscontainer .broadcastdescription
{
    margin-left: 6px; /*109px;*/
	margin-top: 5px; /* was 6px */
	margin-right: 6px;
	
	/* added properties for the teaser text links */
	color:#333333;
    display:block;
    font-weight:normal;
    line-height: 14px;
    outline:none; /* warning: not supported by IE6! */
}

#three_channel_player .listitemscontainer .region
{
	/*
    margin-left: 109px;
    margin-top: 6px;
    margin-right: 6px;
    margin-bottom: -4px; */
    
    font-weight: bold;
    margin: 1px 0 0 5px;
}

#three_channel_player .listitemscontainer .region_noimage
{
	margin-left: 5px;
	margin-top: 15px;
}

#three_channel_player .listitemscontainer .broadcastdescription_noimage
{
    margin-left: 5px;
    margin-top: 6px;
    margin-right: 6px;
}

#three_channel_player .listitemscontainer .teaserimage
{
	/*display: block;*/
	float: left;
	width: 98px;
	height: auto;
	margin: 7px 7px 5px 5px; /* top was 9px, bottom was 10px */
}

#three_channel_player .listitemscontainer .teasernoimage
{
	display: none;
}

#three_channel_player .listitemscontainer .repetitionsheader
{
	font-size: 11px;
	font-style: italic;
	/*font-weight: bold;*/
	margin: 10px 5px 14px 5px; /* bottom wuz 8 */
	clear: left;
}

#three_channel_player .repetitionslist
{	
}

#three_channel_player .listitemscontainer .repetitionslist p
{
	margin:3px 0 0 5px; /* top wuz 5 */
	font-size: 10px;	
}

#three_channel_player .listitemscontainer .linkbuttonclose
{
    margin-left: 5px;
}

/* styles for MP4 download/help text popup */
#three_channel_player #download_popup {
    
    display: none; /* initially closed */
    
    position: absolute;
    left: 5px;
    top: 5px;
    width: 574px;
    height: 201px;
    z-index: 3;
        
    background-color: #FFF;
    border: 3px solid #CCC;
    
    /* experimental transparency stuff*/
    opacity: 1.0; 
    
    font-size: 11px;
    line-height: 1.2em; 
}

#three_channel_player #download_popup p {  
    font-size:10px;
    margin:20px 0 10px;
}

#three_channel_player #download_popup .download_link, #three_channel_player #download_popup .mp4media_link {
    display: block;
    /*margin: 0 8px;*/
    padding: 1px;

    font-size: 100.01%;
    font-weight: bold;
    
    color: #003282;
    /*background-color: #EAF4FD;*/
}

#three_channel_player #download_popup .mp4media_link {
    margin-top: 10px;       
}

#three_channel_player #download_popup .close_link {
    float: right;
    margin: 2px;
    text-decoration:none !important;
}

#three_channel_player #download_popup .close_text {    
    float:right;
    
    font-size: 10px !important;
    line-height:1em !important;
    
    padding: 0;
    margin: 3px 2px 2px 2px;
}

#three_channel_player #download_popup img {
    border: 0 none;
    margin: 2px; 
}



/* ---------------------- specific overrides for different players ------------------ */

#c_player 
{ 
    position: relative;	
}

#c_player #loading_box {

    background: #FFFFFF url(loading.gif) no-repeat 50% 50%;
    display:block;     
    position:absolute;
    height: 180px; 
    width: 574px;     
    left: 5px; 
    top: 4px;     
    border: 3px solid #CCC;    
    z-index:3;
}

#c_player #playerflash
{
    margin-top: 6px;
}

#c_player .listitemscontainer div.listblock img.listline 
{
	margin-left: 0px;
}

#c_player #playercontent .listitemscontainer .listblock 
{
	margin-top: 1px;
}

/* ---------------------------------------------------------------------------------- */

#three_channel_player 
{
	position: relative; /* for absolutely positioned children */
}

#three_channel_player #loading_box {
    background: #FFFFFF url(loading.gif) no-repeat 50% 50%;
    display:block; /* initially shown until DOM is completely loaded */   
    
    position:absolute;
    height: 180px; /*188px;*/
    width: 574px; /*584px;*/
    
    left: 5px; /*205px;*/ 
    top: 27px; /* 4px;*/
    
    border: 3px solid #CCC;    
    z-index:3;
}

#three_channel_player #playercontent
{
	margin-bottom: 10px;
}

#three_channel_player #playerback
{
    height: 218px; /*wuz: 215 */
}

#three_channel_player #marginmaker 
{
	height: 177px; /*179px;*/
}

#three_channel_player .listitemscontainer 
{
	height: 181px; /*183px;*/
}

#three_channel_player .listitemscontainer .listtime {
	margin-top: 1px;
	margin-right: 9px;
}

#three_channel_player .listitemscontainer #pane1 
{
	height: 175px; /*177px;*/
	
	/* prevents content from jittering when the scroller
    gets displayed */
	width: 278px !important;	
	
	display: none; /* initially hidden until DOM is completely loaded */
}

#three_channel_player .listitemscontainer .linkbutton 
{
	margin-left: 5px; /* 7px */
}

#three_channel_player .listitemscontainer .linkbuttonlink
{
	line-height: 8px;
}

/* ----------------------------------------------------------------------------------- */

#mainContent .episode_detail #detail_player {
	margin-top: 7px; /* 5px */
    margin-bottom: 5px;
    position: relative; /* needed e.g. for absolutely positioned popup divs etc. */
}

#detail_player #playercontent {
	
	/*Note: this container's height has to be set explicitly, otherwise
	the subsequent document content will move up and down (for unknown reasons) if
	the container's children are dynamically hidden or shown */
	
	height: 195px; 
}

#detail_player #playerflash{	
    margin-top: 6px;
}

#detail_player #playerlist{	
}

#detail_player .listitemscontainer {
    height: 181px;
}

#detail_player .listitemscontainer #marginmaker {
	height: 177px;
}

#detail_player .listitemscontainer #pane1 {
	height: 175px;
}

#detail_player .listitemscontainer h1 {
	margin-bottom: -3px;
}

#detail_player .listitemscontainer h1#listheaderschedule {
	padding-top: 6px; /* original is 8px */
	margin-bottom: -1px !important;
}

#detail_player .listitemscontainer .listblock {
    padding:2px 0 4px;
}

#detail_player .listitemscontainer .listicon {
    margin-top: -1px; 
}

#detail_player .listitemscontainer .blueheader {
	
    /* Note the display: block here. Without this, the 
       title lines in the detail page player will
       slide "under" the "+" icons if the text length
       exceeds two lines. The left margin of 15px gives 
       the proper position, and is also required so that
       the (now block-level) "blueheader" anchors don't
       overlap the triggerblock anchors for the "+" anchors,
       which would hide these from mouse clicks!
    */
    
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    
    margin:-1px 35px -1px 15px;
    /*margin: 0 0 0 15px;*/
}

#detail_player .listitemscontainer .listimage {
    margin-top:3px;	
}

#detail_player .listitemscontainer .listdetail .region {
	margin-left: 119px;
    margin-top: 6px; 
    margin-right: 6px;
    margin-bottom: -4px;
    font-weight: normal; /*bold;*/		
}

#detail_player .listitemscontainer .listdetail .listdate {
	margin-left: 15px; /*119px;*/
	margin-top: 5px;
}

#detail_player .listitemscontainer .linkbutton {
    margin-left:15px;    
}

#three_channel_player .listitemscontainer .infobutton {
	
    float: left;
    clear: none;    
    margin-left: 5px;
}

#three_channel_player .listitemscontainer .infobutton .linkbuttonmiddle {    
   padding-right: 3px;
}

#three_channel_player .listitemscontainer .downloadbutton {
    float: left;	
}

#three_channel_player .listitemscontainer .mp4link {
    color: #FFF;    
}

/* alt. background images for download buttons */
#playercontent .listitemscontainer .blueleft {
    background-image:url(bluelinkbutton_left.png);
    background-repeat: no-repeat;
    width: 9px;
}

#playercontent .listitemscontainer .bluemiddle {
     background-image:url(bluelinkbutton.png);
     background-repeat: repeat-x; 
}

#playercontent .listitemscontainer .blueright {
    background-image:url(bluelinkbutton_right.png);
    background-repeat: no-repeat;
}

#detail_player .listitemscontainer .linkbuttonlink {
	text-transform: none;
	color: #FFF;
	top: 2px; /*original is 3px */
}

/* styles for the "loading progress" box that covers up the player until 
the whole page is loaded */
#detail_player #loading_box {

    background: #FFFFFF url(loading.gif) no-repeat 50% 50%;
    display:block; /* initially shown until DOM is completely loaded */   
    
    position:absolute;
    height: 180px; /*188px;*/
    width: 574px; /*584px;*/
    
    left: 5px; /*205px;*/ 
    top: 4px; /*379px;*/
    
    border: 3px solid #CCC;    
    z-index:3;
}

/* styles for MP4 download/help text popup */
#detail_player #download_popup {
	
	display: none; /* initially closed */
	
	position: absolute;
	left: 5px;
	top: 4px;
	width: 574px;
	height: 180px;
	z-index: 3;
		
	background-color: #FFF;
	border: 3px solid #CCC;
	
	/* experimental transparency stuff*/
	opacity: 1.0; 
	
	font-size: 11px;
	line-height: 1.2em;	
}

#detail_player #download_popup p {	
    #font-size:10px;
    margin:20px 0 10px;
}

#detail_player #download_popup .download_link, #detail_player #download_popup .mp4media_link {
	display: block;
	/*margin: 0 8px;*/
	padding: 1px;

	font-size: 100.01%;
	font-weight: bold;
	
	color: #003282;
	/*background-color: #EAF4FD;*/
}

#detail_player #download_popup .mp4media_link {
    margin-top: 10px;		
}

#detail_player #download_popup .close_link {
	float: right;
	margin: 2px;
	text-decoration:none !important;
}

#detail_player #download_popup .close_text {	
	float:right;
	
	font-size: 10px !important;
	line-height:1em !important;
	
	padding: 0;
	margin: 3px 2px 2px 2px;
}

#detail_player #download_popup img {
	border: 0 none;
	margin: 2px; 
}


/* ----- additional styles for the episode detail page ---------- */

/*
#mainContent .listitemscontainer .listdetail .downloadlinkbutton
{
    margin-top: 8px; 
    margin-left: 14px; 
    padding-bottom: 5px;
    clear: both;
    
    float: left;
}*/

/*
#mainContent .listitemscontainer .listdetail .downloadlinkbuttonlink 
{
    position: relative;
    top: 3px;
    color:#FFFFFF; 
    font-size: 9px;
    font-weight: bold;
}

#mainContent .listitemscontainer .listdetail .downloadlinkbuttonleft
{
    background-image:url(/flash/images/tv_shared//bluelinkbutton_left.png);
    
    float: left;
    height: 14px;
    width: 9px; 
}

#mainContent .listitemscontainer .listdetail .downloadlinkbuttonmiddle 
{
    background-image:url(/flash/images/tv_shared//bluelinkbutton.png); 
    
    float: left;
    height: 14px;
}

#mainContent .listitemscontainer .listdetail .downloadlinkbuttonright 
{
    background-image:url(/flash/images/tv_shared/bluelinkbutton_right.png);
    
    float: right;
    width: 9px;
    height: 14px;
}*/
/*
#mainContent .detail .detailContentTeaserContainer {
    padding-bottom: 10px;
}*/

/*
#mainContent .detail .mainEpisodeHeader {
    padding-top: 6px;
}*/

/*
#mainContent .detail .dottedline {
    border-bottom: 1px dotted #003282;
}*/

/*
#mainContent .detail .videocontentbox .detailContentBlock .widelink {
    width: 55.3em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    padding: 0px;
}*/

#mainContent .episode_detail {
	border-bottom: none;
}

#mainContent .episode_detail .episodeSelector {
	margin-top: 0px;
	margin-bottom: 10px; /* distance to headline */
}

#mainContent .episode_detail .episodeSelector .divis {
    padding:0;
}

#mainContent .episode_detail .episodeSelector .episodeContainer {
    min-height: 20px; /*25px;*/
    margin-top: -7px;
    margin-bottom: 2px;
}

#mainContent .episode_detail .episodeSelector .episodeContainer  .episodeChooseText{
    float:left; 
    font-size:10px; 
    margin-top:2px; 
    padding-bottom:0px;
}

#mainContent .episode_detail .episodeSelector .episodeContainer  .episodeArrow{
    float:right; 
    border: 0px;
}

#mainContent .episode_detail .episodeSelector .episodeContainer  .episodeTime{
    font-size: 10px; 
    font-weight: bold; 
    padding-left: 10px; 
    padding-right: 10px; 
    float: right;
    color: #003282;
    margin-top: 1px; /* 0px */
}

#mainContent .episode_detail .videocontentbox {
    padding-top: 5px; /*6px;*/
}

#mainContent .episode_detail .videocontentbox .detailContentBlock {
    display: none;
    margin-left: 12px;
    margin-bottom: 12px; /* temporary! */
}

#mainContent .episode_detail .videocontentbox .triggerbigblock {
	display: block;
	margin: 0 0 0 8px;
    text-decoration: none;
}

#mainContent .episode_detail .videocontentbox .headlowercase {
    text-transform: none;
    padding: 0;
    margin: 0 0 0 16px;
}

#mainContent .episode_detail .videocontentbox .listbigicon {
    
    border: 0px none; 
    margin: 3px -2px 0; /* -2px necessary to properly align the 
    icons with the left edge of the containing box */
    
    padding: 0 6px 0 0;
    
    /*margin-left: 13px;*/ /*6px;*/ 
    /*margin-top: 3px; */
    /*padding-right: 6px; *//*5px;*/
    
    
    
}

#mainContent .episode_detail .videocontentbox .videocontentteaser {
    margin-left: 8px;
    margin-top:3px;
}

#mainContent .episode_detail .videocontentbox .detailContentBlock .actionFooter .noUnderline {
    text-decoration: none;
}

/* invisible anchor tags that are used to carry the VOD popup urls */
#mainContent .episode_detail .popup_url
{
	display: none;
}

/* overrides for picture teaser box */

#mainContent .episode_detail .videocontentbox .picBoxDetailTop {
	margin-left: 9px;
}

#mainContent .episode_detail .videocontentbox .picBoxDetailTop .captionBox,
#mainContent .episode_detail .videocontentbox .picBoxDetailTop .captionBoxPortrait {
    margin-right: 8px;
}

/* in-text images for topic blocks */
#mainContent .episode_detail .detailContent span img {
	margin-top: 8px;
}

/* overrides for dotted horizontal divider lines, margins and paddings on various elements */

#mainContent .episode_detail .videocontentbox h4.detailContentTeasertext {
    padding: 0;
    margin-left: 4px;
}

#mainContent .episode_detail .videocontentbox .detailContentBlock .detailContent p {
	padding: 0;
	margin-left: 13px;
}

#mainContent .episode_detail .videocontentbox .detailContentBlock .actionFooter {
	border: none;
	margin-bottom: -16px; /*-15px;*/
	margin-top: 5px;
}

#mainContent .episode_detail .socialBookmarks {
	border-bottom: none;
	margin-bottom: -8px;
}

