/* Version 0.98 */
/* A4.1 global print style */
detailContent
/* ----------------------------------------------------------------------------------------------- */
/* 1 Font-size------------------------------------------------------------------------------------ */
body { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }

/* 1.1 Basic Layout ------------------------------------------------------------------------------ */
#headBack, #spacer, #leftColumn, #headBar, .partNav, #headLinks, #headLinks1, #headLinks2, 
#headLinks3, #headLinks4, #headLinks5, #headLanguage,
#noDivis, iframe, #dayPic, #multi, #contentFooter, 
.actionFooter, .socialBookmarks, .mediaLink { display: none !important; }

h4  { display: none !important; }
h4.detailContentTeasertext { display: block !important; }

body #wrapper { width: 489pt; padding: 0; margin: 0; }

#head {  float: none; }
#headLogo { width: 100%; height: auto; }

html>body #head h1, #headSlogan { width: 100%; background: none; height: auto; border: none; }
#head h1 { height: auto; }

#head h1 a { width: 100%; height: auto; color: #000; text-decoration: none; text-transform: uppercase; font-size: 12pt; line-height: 15pt; letter-spacing: .5pt; }
#head h1 span { display: block; } 
#headSlogan h2 { color: #000; margin: 0; font-size: 9.5pt; margin-top: 4pt; padding-bottom: 7pt; margin-bottom: 7pt; border: none; }

#mainContent { min-width: 0; max-width: none; float: left; }
#contentWrapper { background: none; border: none; }

fieldset { display: none; }
font { font-size: 16px; }

/* ----------------------------------------------------------------------------------------------- */
/* 2 Basic inline Styles ------------------------------------------------------------------------- */
.up	{ text-transform: uppercase; }
ol#quickjump { display: none; }
hr { display: none; }
a { color: #000; text-decoration: none; }
.invisible{ display: none; }

/* 2.1 form -------------------------------------------------------------------------------------- */
input, select, option, optgroup, textarea{ font-family: Arial, Helvetica, sans-serif; }
input, select{ font-size: 8pt; line-height: 10pt; }
option{ color: #000; }
input{ border: .5pt solid #000; }

/* 2.2 button ------------------------------------------------------------------------------------ */
.button{ display: none; }

/* ---------------------------------------------------------------------------------------------------------------------------------- */
	/* 3.1 Head slogan */
	#slogan { display: none; }
	
/* 3.5 Head date */
#date { margin-bottom: 10px; font-weight: bold; display: none; }

/* ----------------------------------------------------------------------------------------------- */
/* 5 Multipurpose -------------------------------------------------------------------------------- */
#multi{ border-top: none; overflow: visible; width: 115pt; margin-top: -1.231em; }
#multi div{ background: none; }

#multi div#spacerMpb{ display: none; }
#multi h5, #multi #dayPic h5, #multi #languageSelector h5{ 
color: #000; font-size: 8pt; background: none; line-height: 10pt; padding: 0 .9em;
border: none; border-bottom: .5pt solid #000; font-weight: bold;
}
#multi #dayPic h5{  }

#multi p{ font-size: 8pt; line-height: 10pt; }

#multi a{ color: #000; }
#multi div img{ border: .5pt solid #000; }

#multi .sym{ display: inline; border-bottom: .5pt solid #000; }

#multi div .symVideo a, #multi div .symAudio a, #multi div .symDW a, #multi div .symEx a, #multi div .symForum a,
#multi div .symSurvey a, #multi div .symGallery a, #multi div .symEmail a, #multi div .symDownload a, #multi div .symFeedback a,
#multi div .subLink a, #multi div .singleLink a{ padding-left: 0; background: none; }
#multi p.linkExplanation{ padding-left: 0; }

#multi .multiRadio, #multi .multiTv{ display: none; }

#multi .picBox{ border: .5pt solid #000; border-width: 0 .5pt .5pt .5pt; }
#multi .picBox img{ width: 115pt; height: 50pt; }
#multi #dayPic .goPic{ display: none; }

#multi #languageSelector{ border: .5pt solid #000; background: none; }
#multi #languageSelector p { border-bottom: .5pt solid #000; }
#multi #languageSelector a { color: #000; background: none; font-size: 8pt; line-height: 10pt; font-weight: normal; border: none; }
#multi .languageSelectorArabic span, #multi .languageSelectorRussian span, #multi .languageSelectorChinese span{ visibility: visible; }
#multi #languageSelector a.languageSelectorRussian, #multi #languageSelector a.languageSelectorArabic,
#multi #languageSelector a.languageSelectorChinese{ background: none; }
#multi #languageSelector fieldset{ border-right: none; }
#multi #languageSelector .button{ display: none; }
#multi #languageSelector option.firstItem{ background: #fff; }

/* ----------------------------------------------------------------------------------------------- */
/* 6 mainContent Basic inline styles ------------------------------------------------------------- */
.clearing, #mainContent div.clearing{ clear: both; line-height: 0; display: block; border: none; margin: 0; padding: 0; }

/* 6.1.2 caption */
#mainContent h1,h2,h3,h4,h5 { margin: 10px 0px 5px 0px; }
#mainContent h2 { font-size: 14pt; color: #000; }
#mainContent h2 a { color: #000; }

#mainContent h3, #mainContent h4 { color: #000; font-size: 12pt; letter-spacing: .5pt; }
#mainContent h5 { display: none; }

/* 6.1.3 continuous text */
#mainContent p { padding: 0px; margin: 0; font-size: 16px; }
#mainContent p.advice { color: #000; text-decoration: underline; }
#mainContent p.footnote { font-size: 8pt; line-height: 13pt; }

/* 6.1.4 Go button */
#mainContent .goText { display: none; }

/* 6.2 maincontent box formating ----------------------------------------------------------------- */
#mainContent div { border: none; margin: 0px 0px 0px 0px; }
#mainContent div div { border: none; }

/* 6.2.1 Division line for boxed function elments*/
#mainContent div.divis { border-bottom: .5pt solid #000; }

/* 6.2.2 blockBox / Online default Channel Highlight */
#mainContent div.Presenter, #mainContent div.blockBox, #mainContent .basicForm, #mainContent .extendedForm, #mainContent .popupBoxed,
#mainContent div.Forum { background: none; border: none; }

#mainContent .Presenter h2, #mainContent .Presenter p { font-size: 8pt; line-height: 10pt; }

/* 6.2.4 inlineBox */
#mainContent .inlineBox { font-size: 8pt; background: none; color: #555; }
#mainContent .inlineBox h4, #mainContent .inlineBox p.goText { font-size: 8pt; line-height: 10pt; background: none; color: #000;  border-top: 1pt solid #000; border-bottom: .5pt solid #000; }
 #mainContent .inlineBox p.goText a .goText { display: none; }
#mainContent .inlineBox p { font-size: 8pt; line-height: 10pt; }
#mainContent .inlineBox ol p { border: .5pt solid #000; border-width: .5pt 0; }
#mainContent h3.boxed { color: #000; background: none; }

 /* 6.2.4.1 Icon for Headline of Forum, Gallery and Survey Teaser */
 #mainContent h3.symGallery, #mainContent h3.symForum, #mainContent h4.symSurvey { background: none; padding-left: 0; }
 #mainContent h3.symForum, #mainContent h4.symSurvey { background: none; }

/* 6.2.5 Teaserbox */
#mainContent div.teaserboxContainter, #mainContent div.threeColumnContainter { background: none; }
#mainContent .teaserboxBorder { display: none; }
#mainContent .teaserboxInline {  border: none; }
#mainContent .teaserText { margin-bottom: 10px; }

/* 6.2.6 ExternArticle */
#mainContent .ExternArticle .symExtern { border-top: none; }
#mainContent .ExternArticle div, #mainContent .ExternArticle div.symExtern { background: none; border: none; }
#mainContent .ExternArticle div { border: none; }
#mainContent .ExternArticle .symExtern a, #mainContent .ExternArticle h2 a, #mainContent .ExternArticle a { color: #000; background: none; } 

/* 6.3 detail ------------------------------------------------------------------------------------ */
#mainContent .detail { border-bottom: none; padding-bottom: 0; }
#mainContent .detail h5 { color: #000; font-size: 8pt; background: none; line-height: 10pt; border: none; border-bottom: .5pt solid #000; }

/* 6.3.1 DetailContent */
#mainContent div.detailTeaserBox { width: auto !important; }
#mainContent .detailContent a { color: #000; text-decoration: underline; }
#mainContent .detailContent p { padding: 10px 0px;  }
#mainContent .detailContent .MsoNormal { margin: 0px; padding: 0px }
#mainContent .detail h4 { display: block; }
#mainContent .actionFooter h4 { display: none; }

/* 6.4 singleLink -------------------------------------------------------------------------------- */
#mainContent p.singleLink, #mainContent a.singleLink,
#mainContent p.singleLinkMail, #mainContent a.singleLinkMail { font-size: 8pt; line-height: 10pt;}
#mainContent p.singleLink a, #mainContent a.singleLink, #mainContent p.singleLinkMail, #mainContent a.singleLinkMail { padding-left: 0; background: none; }
#mainContent p.singleLink span.sym, #mainContent a.singleLink span.sym,
#mainContent p.singleLinkMail span.sym, #mainContent a.singleLinkMail span.sym  { display: inline; border-bottom: .5pt solid #000; }

/* 6.4.2 singleLink medialinklist */
#mainContent .symAudioVideo p.singleLink, #mainContent .symDW p.singleLink, #mainContent .symExtern p.singleLink, #mainContent .symForum p.singleLink,
#mainContent .symSurvey p.singleLink, #mainContent .symGallery p.singleLink, #mainContent .symDownload p.singleLink,
#mainContent .symFeedback p.singleLink, #mainContent .symContact p.singleLink { margin-left: 0; }

/* 6.4.3 singleLink detail medialinklist */
#mainContent .detail .symAudioVideo p.singleLink, #mainContent .detail .symDW p.singleLink, #mainContent .detail .symExtern p.singleLink, 
#mainContent .detail .symForum p.singleLink, #mainContent .detail .symSurvey p.singleLink, #mainContent .detail .symGallery p.singleLink, 
#mainContent .detail .symDownload p.singleLink, #mainContent .detail .symFeedback p.singleLink, #mainContent .detail .symContact p.singleLink { 
 margin-left: 0; }

/* 6.5 linklists --------------------------------------------------------------------------------- */
#mainContent li p { font-size: 8pt; line-height: 10pt; }

 /* 6.5.1.1 HotelSearchResult*/
 #mainContent .linklistSeperated li ol li{ font-size: 8pt; }
 #mainContent .linklistSeperated .linkExplanation .goText a { color: #000; }

/* 6.5.2 linklists hover */
#mainContent li a { color: #000; }
 
/* 6.5.3.2 detail linklist symInformationSpaced, see 45 CIRAF detail */
#mainContent .symInformationSpaced ol { height: auto; overflow: visible; }
#mainContent .symInformationSpaced .even { background: none; border: .5pt solid #000; }
 
/* 6.5.3.5 detail linklist dossierlinks */
#mainContent div.dossierLinkTitle  { display: none; }

/* 6.6 Medialinklist Items ----------------------------------------------------------------------- */
#mainContent li.symAudio, #mainContent li.symVideo, 
#mainContent .symDW li,  #mainContent li.symDW,
#mainContent li.symEx, #mainContent li.symEmail,
#mainContent .symForum li, #mainContent li.symForum,
#mainContent .symSurvey li, #mainContent li.symSurvey,
#mainContent .symGallery li, #mainContent li.symGallery,
#mainContent .symDownload li, #mainContent li.symDownload,
#mainContent .symFeedback li, #mainContent li.symFeedback { margin-left: 0; }
#mainContent .symAudioVideo a, #mainContent .symDW a, #mainContent .symExtern a, #mainContent .symForum a,
#mainContent .symSurvey a, #mainContent .symGallery a, #mainContent .symDownload a,
#mainContent .symFeedback a, #mainContent .symContact a, #mainContent .symEmail a { 
 margin-left: 0; padding-left: 0; background: none; }
 
#mainContent .detail .symDW a,  #mainContent .inlineBox .symDW a, #mainContent .detail .subLink a { background-image: none; }

/* 6.6.0.1 Medialinklist Items in inlineBox / used in ID30 Survey*/
#mainContent .inlineBox li.symAudio a, #mainContent .inlineBox li.symVideo a, #mainContent .inlineBox li.symDW a,
#mainContent .inlineBox li.symEx a, #mainContent .inlineBox li.symForum a, #mainContent .inlineBox li.symSurvey a,
#mainContent .inlineBox li.symGallery a, #mainContent .inlineBox li.symEmail a, #mainContent .inlineBox li.symDownload a,
#mainContent .inlineBox li.symFeedback a, #mainContent .inlineBox li.subLink a { margin-left: 0; }

/* 6.6.1 Medialinklist Items Bf icon explanation */
.symVideo span.sym, .symAudio span.sym, .symDW span.sym, .symEx span.sym, .symForum span.sym,
.symSurvey span.sym, .symGallery span.sym, .symEmail span.sym, .symDownload span.sym, .symFeedback span.sym { display: inline; border-bottom: .5pt solid #000; }

/* 6.6.5 detail Medialinklist Items*/
#mainContent .detail .symAudioVideo, #mainContent .detail .symDW, #mainContent .detail .symExtern,
#mainContent .detail .symForum, #mainContent .detail .symSurvey, #mainContent .detail .symGallery,
#mainContent .detail .symDownload, #mainContent .detail .symFeedback,
#mainContent .detail .symInformation, #mainContent .detail .symContact, #mainContent .detail .symService, #mainContent .symInformationSpaced { /* 1em = 10px */
 font-size: 8pt; line-height: 10pt;  border: .5pt solid #000; border-width: .5pt .5pt 1pt; background: none; }

/* Medialinklist hover */
#mainContent .detail .symAudioVideo a, #mainContent .detail .symDW a, #mainContent .detail .symExtern a, #mainContent .detail .symForum a,
#mainContent .detail .symSurvey a, #mainContent .detail .symGallery a, #mainContent .detail .symDownload a, #mainContent .detail .symFeedback a,
#mainContent .detail .symContact a { color: #000; }

/* 6.6.8 special detail Medialinklist Dossierdetail */
#mainContent .Dossierdetail .symAudioVideo, #mainContent .Dossierdetail .symDW { font-size: 8pt; }

/* 6.6.9 detail Medialinklist Hotelicons */
#mainContent .detail .symService li { padding-left: 0; }
#mainContent .symService li,
#mainContent .symService .symHotelklima, #mainContent .symService .symHotelbar, #mainContent .symService .symHotelbusi, 
#mainContent .symService .symHotelcafe, #mainContent .symService .symHotelkonf, #mainContent .symService .symHotelnichtrau, 
#mainContent .symService .symHotelrest, #mainContent .symService .symHotelservice, #mainContent .symService .symHoteltv, 
#mainContent .symService .symHotelgolf, #mainContent .symService .symHoteltennis, #mainContent .symService .symHotelfit ,
#mainContent .symService .symHotelpool, #mainContent .symService .symHotelkinder { background: none; }

/* 6.7 Teaserbox inline styles ------------------------------------------------------------------- */
#mainContent div.teaserbox h3 { color: #000; font-size: 12pt; background: none; line-height: 10pt; padding: 0 .9em; }
#mainContent div.teaserbox h2 { font-size: 12pt; line-height: 10pt; }
#mainContent .teaserboxInline a { color: #000; text-decoration: none; }

/* 6.7.1. Teaserbox list items hover */
#mainContent .teaserbox .teaserboxInline div a { padding-left: .3em; color: #000; }

/* 6.8 image formating --------------------------------------------------------------------------- */
#mainContent img { border: none; display: block;  margin-right: 10px; width: auto !important;}
#mainContent span.picBoxInlineUneven, #mainContent span.picBoxInlineUnevenPortrait,
#mainContent span.picBoxInlineEven, #mainContent span.picBoxInlineEvenPortrait {
	display: block; float: left; margin: 10px 11px 0 0; font-weight: normal; }



/* 6.8.1 Detail top pic */
#mainContent .picBoxDetailTop, #mainContent .symMagnifier { padding-left: 0; float: left; }

/* 6.8.2 landscape box, contentbanner box */
#mainContent div.LandscapeBox, #mainContent div.ContentBannerBox {
 border: none; padding: 0; margin: 0; background: none; height: auto; }
 
#mainContent div.ContentBannerBox { height: auto; } 
#mainContent div.LandscapeBox h2, #mainContent div.ContentBannerBox h2 { margin: 0; padding: 0; }
#mainContent div.LandscapeBox h2 a, #mainContent div.ContentBannerBox h2 a { display: block; height: auto; }
#mainContent div.ContentBannerBox h2 a { height: auto; }
#mainContent div.LandscapeBox h2 span, #mainContent div.ContentBannerBox h2 span { display: block; }

/* 6.8.3 Ciraf imagemaps*/
#mainContent .WorldMap img { float: none; }
#mainContent .WorldMap span { display: none; }
#mainContent .WorldMap span.lastItem { width: auto; height: auto; font-size: 8pt; background: none; border: none; display: block; margin: 0; }
#mainContent .WorldMap a { padding: 0; color: #000; width: auto; }

/* 3.9 caption of pictures ----------------------------------------------------------------------- */
#mainContent .caption { color: #555; font-size: 8pt; line-height: 11pt; }
#mainContent .caption span { display: none; }
#mainContent .caption span.symMagnifier {  }
#mainContent .symMagnifier { padding-left: 0; background: none; }
#mainContent .caption a { color: #555; text-decoration: none; display: block; } 

/* 6.10 Subelements -------------------------------------------------------------------------------*/ 
/* 6.10.1 actionFooter, only work in IE prior 5.0 */
#mainContent .actionFooter, #mainContent .actionFooterBottom { display: none; }
#mainContent .actionFooter a, #mainContent .actionFooterBottom a { color: #000; font-size: 8pt; border-left: .5pt solid #000; }

/* 6.10.3 Forum resultNumbers */
#mainContent div.forumTablelegendBottom { border-bottom: .5pt solid #000; }
#mainContent .forumTablelegend p, #mainContent .forumTablelegend p { border: .5pt solid #000; background: none; }
#mainContent .forumTablelegend h4, #mainContent .forumTablelegend h4 {  background: none; border: .5pt solid #000; border-right: none; }
#mainContent .forumTablelegend ul.resultNumbers { border: .5pt solid #000; }
#mainContent .forumTablelegend .resultNumbers li a { background: none; }
#mainContent .forumTablelegend .resultNumbers li.resultNumbersFirstLink a,
#mainContent .forumTablelegend .resultNumbers li.resultNumbersFirstLink { border: none; }
#mainContent .forumTablelegend .goText span { font-size: 8pt; } 

/* 6.10.5 additional Information */
#mainContent p.addHeader { color: #000; font-size: 8pt; }
#mainContent p.addLink { color: #000; }

/* 6.10.6 author */
#mainContent p.author { padding-bottom: 1.308em; }

/* 6.10.7 subNavigation */
#mainContent ol.subNavigation, #mainContent .detail .subNavigation { color: #000; }
#mainContent ol.subNavigation li {  font-size: 8pt; } 
#mainContent ol.subNavigation a { padding-left: 0; background: none; font-weight: normal; } 
#mainContent ol.subNavigation strong { padding-left: 0; font-weight: bold; }

/* 6.11 Table ------------------------------------------------------------------------------------ */
table { color: #000; font-size: 12pt; line-height: 10pt; } 
#mainContent table h5 a { color: #000; font-weight: bold; }
th { color: #000; line-height: 10pt; }
#mainContent .tableGray { border-top: .5pt solid #000; }
#mainContent .tableWhite { border-top: .5pt dashed #000; }

/* 6.11.1 Table Forum */
#mainContent .Forum table thead { background: none }
#mainContent .Forum table th { font-size: 8pt; }
#mainContent .Forum td { border-top: .5pt solid #000; }
#mainContent .Forum table a { color: #000; }
#mainContent .Forum table .ForumRe td, #mainContent .Forum table .ForumReRe td, #mainContent .Forum table .ForumReReRe td,
#mainContent .Forum table .ForumReReReRe td, #mainContent .Forum table .ForumReReReReReRe td { border: none; }
#mainContent .Forum table tr.even { background: none; }

#mainContent .ForumRe div, #mainContent .ForumReRe div, #mainContent .ForumReReRe div, #mainContent .ForumReReReRe div,
#mainContent .ForumReReReReRe div { line-height: 0; border: .5pt solid #000; border-width: 0 0 .5pt .5pt; }
#mainContent .Forum .enabled { background: none; border: 1pt solid #000; }

/* 6.11.2 liveLink */
#mainContent .liveLink { border-top: .5pt solid #000; }

/* 6.12 Popup ------------------------------------------------------------------------------------ */
#mainContent p.closePopup, #mainContent p.closePopupHead { display: none; }
.popup h1 { height: auto; width: 100%; position: static; background: none;  text-transform: uppercase; font-size: 12pt; line-height: 15pt; letter-spacing: .5pt;  margin-left: 16pt; }
.popup h1 span { display: block; }
.popup h1 a { height: auto; width: 100%; display: block; }

/* 6.12.0.1 PopupBoxed Gallery/Feedback Popup */
#mainContent .popupBoxed p, #mainContent .popupBoxed ol { font-size: 8pt; line-height: 10pt; }

/* 6.12.1 Popup Navigation */
#mainContent div.popupNav { border: .5pt solid #000; border-width: .5pt 0; color: #000; }
#mainContent div.popupNav p { font-size: 8pt; border-left: .5pt solid #000; margin-left: -.5pt; }
#mainContent div.popupNav a { color: #000; }
#mainContent div.popupNav p.firstItem { border-left: none; margin-left: -.5pt; }
#mainContent div.popupNav p.firstItem a {  display: inline; width: auto; height: auto; float: none; margin: 0; padding-right: 0; background: none; }
#mainContent div.popupNav p a span { display: block; }
#mainContent div.popupNav p a { display: block; width: auto; background: none;} 
#mainContent div.popupNav p a.lastItem { background: none; }

/* 6.12.2 Media Popup */
#mainContent div.mediaPopup h2 { background: none; padding-left: 16pt; }
#mainContent div.mediaPopup h4 { border-top: .5pt dashed #000; }

/* 6.12.3 Survey Popup */
#mainContent .Survey .inlineBox li { border: none; }
#mainContent .inlineBox div.SurveyResult { color: #000; }
#mainContent .inlineBox .SurveyResult span { background: none; border: .5pt solid #000; }

/* 6.12.5 Sitemap Popup*/
#mainContent .sitemap ul { background: none; }
#mainContent .sitemap li { background: none; font-size: 8pt; color: #000; }
#mainContent .sitemap li a, #mainContent .sitemap li li, #mainContent .sitemap li li a, #mainContent .sitemap li li li a { color: #000; }

/* 6.14 extended Form ---------------------------------------------------------------------------- */
#mainContent form.extendedForm fieldset { border-top: .5pt solid #000; }
#mainContent form.extendedForm .fieldsetLight { border-style: dashed; }
#mainContent form.extendedForm fieldset.firstItem { border: none; }
#mainContent form.extendedForm p { font-size: 8pt; }
form.inputForm textarea { border: .5pt solid #000; }
#mainContent form.extendedForm .formSubmit input.button { display: none; }

/* 6.14.1 formDoubleInput*/
form.extendedForm p.formDoubleInput,
form.extendedForm p.formDoubleRadio { font-size: 8pt; }
html>form.extendedForm .formDoubleInput label, html>form.extendedForm .formDoubleInput input,
html>form.extendedForm .formDoubleRadio label, html>form.extendedForm .formDoubleRadio input {   font-size: 8pt; }

/* 6.14.4 scroll Box*/
#mainContent div.scrollBox {  font-size: 8pt; line-height: 10pt; height: auto; overflow: auto; border: .5pt solid #000; }
#mainContent div.scrollBox h5 { font-size: 8pt; }

/* 6.15 channels --------------------------------------------------------------------------------- */
#mainContent .cInteractive p.advice, #mainContent .cInlineInteractive p.advice { color: #000; }
#mainContent form.cInteractive, #mainContent div.cInteractive, #mainContent div.cOrganization, #mainContent form.cOrganization, 
 #mainContent div.cRadio, #mainContent div.cTv, #mainContent form.cTv, #mainContent div.cRadio table tr.even { background: none; }

/* 6.15.1 channel Linklist */
 #mainContent .detail div.cRadioLinklist, #mainContent .detail div.cRadioLinklist h5, 
  #mainContent .detail div.cRadioLinklist .even { background: none; color: #000; }

