/* == Apercu == */
#en_mode_apercu {
	background-color : #ff5716;
	color : #332e44;
	font-size : 1.1em;
	font-weight : 700;
	margin : 0;
	padding : 0.4em 0 1.1em 0;
	text-align : center;
	width : 100%;
}


/* ===	=Commentaires === */
div#lien_cache {
display : none;
}

a#commentaires_afficher {
display: block;
}

div#commentaires_masquer {
display: none;
}


ul#commentaires li {
list-style-type : none;
}

/* ===	=Fiche =PageLibre === */

/*  ligne et colonnage */

div.ligne {
clear : left;
margin : 0;
padding:6px 12px;
}

div.premiere_ligne {
border : 0;
}

div.colonne {
float : left;
}

div.colonne_deco {
float:left;
width:95%;
padding : 0 0 6px 12px;
}

/* Fix Toolbox */
div.colonne_deco * li div {
display : inline;
}

div.derniere_colonne div.colonne_deco {
margin-right : 0;
}

div.premiere_colonne div.colonne_deco {
border : 0;
padding-left : 0;
}


.photo{
float:right;
padding-left:15px;
padding-bottom:10px;
clear:both;
}

#date_modification{
	float:right;
}



/******************************************
	=Fiche =Formation
******************************************/
body.formation .contenu_onglet1,
body.formation .contenu_onglet2,
body.formation .contenu_onglet3,
body.formation .contenu_onglet4,
body.formation .contenu_onglet5 {
display: none;
float:left;
}

body.formation #contenu_onglet1,
body.formation #contenu_onglet2,
body.formation #contenu_onglet3,
body.formation #contenu_onglet4,
body.formation #contenu_onglet5 {
display: none;
float:left;
}

body.formation #onglet_actif {
display: block;
}

body.formation #onglet_actif #contenu_tab{
display: block;
}

/* Plan du site */
.plandusite li {
	padding:3px;
	padding-left:15px;
	list-style-type : none;	
}

.plansite1 li {
	padding-bottom:15px;
}

.plansite2 li {
	padding-bottom:3px;
}

/* flux rss */
ul.fluxrss li {
	padding-bottom:10px;
	list-style-type : none;	
}
ul.fluxrss li span {
	display : block;
}
