#conteneur {
	width:670px;
	margin:0px;
}
#encadres {
	width:150px;
}
#main {
	width:500px;
}
#contenu_avec_encadres #content {
	float:left;
	width:510px;
	padding:0px;
}

#header{
	background:none;
}
#date_modification {
	display:none;
}
#content .tableau {
	float:none;
}

*{
padding:0;
margin:0;
}

body {
	background:none;
}

#header {
	height:100px;
}

#content p{
	clear:none;	
}

#contenu_avec_encadres {
	background:none;
}

#lightbox,#lightbox-overlay{
	display:none;
	visibility:hidden;
	z-index:0;	
}


/******************************************
	=Fiche =Formation
******************************************/
.formation #content .tableau ul#onglets{
	display: none;	
}

.formation #fil_ariane{
	display: none;	
}


.formation .contenu_onglet1 .contenu_tab,
.formation .contenu_onglet2 .contenu_tab,
.formation .contenu_onglet3 .contenu_tab,
.formation .contenu_onglet4 .contenu_tab,
.formation .contenu_onglet5 .contenu_tab{
	display: block;
	margin:0px;
	padding:0px;
}

body.formation .contenu_onglet1,
body.formation .contenu_onglet2,
body.formation .contenu_onglet3,
body.formation .contenu_onglet4,
body.formation .contenu_onglet5 {
	display: block;
}

body.formation #contenu_onglet1,
body.formation #contenu_onglet2,
body.formation #contenu_onglet3,
body.formation #contenu_onglet4,
body.formation #contenu_onglet5 {
	display:block;
	clear:both;
	width:510px;
}

body.formation #onglet_actif {
	display: block;
	clear:both;
	width:510px;
}

.contenu_titreprint{
	display:block;
	padding-top:40px;
	padding-bottom:10px;
}
.contenu_titreprint h2{
	padding:0px 0px 5px 0px;
	font-size:18px;
	border-bottom:1px solid #000000;
}

.printlink, .avance, .print { display:none }
#recherche_simple{ display:none }
.clearboth { clear:none }
