*{
	margin:0;
	padding:0;
}

/* Suprime le bord autour des liens firefox */
a{outline: none;color:#1365AB;font-weight:bold;}
a:focus{-moz-outline-style: none;}

html,body{height:100%; width:100%;}	

body {	
	background:url(bck.jpg) top center repeat-x;
	background-color:#55bce7;
	font-family:Verdana;
	font-size:11px;
	line-height: 16px;
}

/************************************ Select raccourci ****************************************/

div.selectbox-wrapper {
  position:absolute;
  width:400px;
  background-color:white;
  border:1px solid #0b6bb1;
  margin:0px;
  padding:0px;
  text-align:left;
  height:100px;
  overflow: auto;
  |margin-top:-5px;

}
div.selectbox-wrapper ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.selectbox-wrapper ul li#selected { 
  background-color: #EAF2FB;
}
div.selectbox-wrapper ul li.current { 
  background-color: #CDD8E4;
}
div.selectbox-wrapper ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  cursor:pointer;
}

label {
    display: block;
}

/* pour bouton radio */
div.champs_form label {
  display: inline;
  padding: 2px;
}

.selectbox /* look&fell of  select box*/
{
  margin: 0px 5px 5px 0px;
 |margin: 0px 5px 3px 0px;
  padding: 3px 0 0 5px;
  font-size: 10px;
  font-weight:bold;
  width : 187px; 
  display : block;
  text-align:left; 
  background: url('bg_select.png') no-repeat left;
  height:18px;
  cursor: pointer;
  color: #FFF;
border: none;
}

#header select {
	background: url('bg_select.png') no-repeat left;
}


/***********************************************************************************************
**                                                                                            **
**                                         STRUCTURE                                          **
**                                                                                            **
***********************************************************************************************/

/************************************ Elements du haut ****************************************/
#conteneur{
	position: relative;
	margin:0 auto 0 auto;
	width:944px;
}

#header{
	height:130px;
}

#bandeau #logo{
	position:relative;
	left: 30px;
}

/* raccourci de droite
********************************/
#bandeau #raccourci{
	position:absolute;
	top:12px;
	margin-left:740px;
	display:block;
	width:187px;
	z-index: 10;
}
#bandeau #raccourci a{
	margin-bottom:3px;
	display:block;
}

#bandeau #raccourci select{
	width: 190px;
	margin-bottom: 5px;
	background-color: #1365ab;
	font-size: 11px;
	color:#FFFFFF;
	border:0;
}

#bandeau #recherche_simple{
	position:absolute;
	top:91px;
	margin-left:740px;
	display:block;
	width:189px;
}
.bouton{
	vertical-align:middle;
}
#conteneur .recherche{
	width:160px;
}
#conteneur .avance{
	vertical-align:top;
}

/* Menu principal du haut
********************************/
#menu_principal{
	position:absolute;
	top:97px;
	display:block;
	width: 687px;
}

#menu_principal #langue{
	padding: 10px 0;
}

#menu_principal #langue a{
	float:right;
	display:block;
	padding-left: 5px;
}

#menu_principal img{
	float:left;
}
#menu_principal ul{
	list-style-type:none;		
}
#menu_principal ul li{
	display:block;
	float:left;	
	height:23px;
	background:transparent url(bg_menu.png) repeat-x top left;
	padding:9px 0 0 7px;
	color:#1365ab;	
}

#menu_principal ul li a{
	position: relative;
	padding:0;
	margin:0;
	/*display:block;*/
	text-decoration:none;
	font-size:11px;
	color:#1365ab;
	font-weight: bold;
	font-family:Helvetica, Arial, sans-serif;
}

/*#menu_principal ul li a:hover,#menu_principal ul li a .current{
	color:#fff;
	background:transparent url(img/bg_menu_on.png) repeat-x top left;
}*/


#menu_principal ul li a:hover{
	color:#fff;
}

#menu_principal ul li.selected{
	background:transparent url(bg_menu_on.png) repeat-x top left;
}
#menu_principal ul li.selected a{
	color:#fff;
}

/* Liens haut et langues
********************************/
#haut{
	position:absolute;
	top:11px;
	text-align:right;
	width:687px;
	/*margin-left:385px;*/
	display:block;	
}

/*** MENU GAUCHE INTERIEUR ****/
#navigation{
	width: 200px;
	float:left;
}

#navigation ul.niveau1{
	margin-bottom:30px;
}

#navigation ul.niveau1 a{
	display:block;
	min-height: 22px !important;
	font-size: 12px; 
	font-family:Helvetica,Arial,sans-serif;
	padding:3px 0 0 25px;
	border-top: 2px solid white;
}

#navigation ul.niveau2 a, #navigation ul.niveau2Visible a{
	display:block;
	min-height: 20px !important;
	font-weight: bold;
	font-size: 11px;
	padding:5px 5px 0 45px;
	width: 126px;
	border-top: 2px solid white;	
}



/************************************ Elements du centre **************************************/
#main{
	margin-top:9px;
	width:705px;
}

#main2{
	margin-top:9px;
	width:944px;
}

#main #arrondi_haut{
	background:url(arrondi_haut_main.gif) no-repeat;
	width: 705px;
	height:9px;
}	

#main #arrondi_bas{
	background:url(arrondi_bas_main.gif) no-repeat;
	width: 705px;
	/*background-color:#fff;*/
	height:6px;
	float:left;
}

#main2 #arrondi_haut{
	background:url(arrondi_haut_main2.gif) no-repeat;
	width: 944px;
	height:9px;
}	

#main2 #arrondi_bas{
	background:url(arrondi_bas_main2.gif) no-repeat;
	width: 944px;
	height:6px;
	/*background-color:#fff;*/
	float:left;
}
/* UJM : remplacement des encadre_lien par les encadrés générique sur la page d'accueil
#encadres .encadre_lien{
	background-color:#99d100;
	margin-bottom:10px;
	margin-top:5px;
}

#encadres .encadre_lien span{
	color: #FFFFFF;
	font-weight: bold;
	display:block;
	padding:5px 10px 5px 10px;
}

#encadres .encadre_lien .conteneur_lien_accueil{
	overflow:hidden;
	padding:0 10px 10px 10px;
}

#encadres .encadre_lien a{
	margin:0;
	display:block;
	color: #06508e;
	font-weight: bold;
	background:url(img/puce_lien_accueil.gif) no-repeat;
	padding: 0 5px 0 10px;
	float:left;
}
*/

#contenu_sans_encadres{
	background-color:#fff;
	margin:5px 0 0 0;
	min-height: 300px;;
	overflow:hidden;	
	width:944px;
}


#contenu_avec_encadres{
	background-color:#fff;
	/*overflow:visible;*/
	float:left;
}

#contenu_avec_encadres p{
	/*UJM padding:12px;*/
	padding-bottom:5px;
}

#content .photo_gauche{
	float:left;
	margin: 0 10px 10px 0;
}

/**** CONTENU CENTRALE AVEC ENCADRES *****/

#contenu_avec_encadres #content{
	float:right;
	padding-right: 40px;
	width: 450px;
}

#contenu_avec_encadres #content.noleftnav{
/*	padding-left: 40px;*/
	width: 650px;
}

#contenu_sans_encadres #content{
	float:left;
	/*UJM width: 700px;*/
	padding-right: 40px;
	min-height: 450px;
	width:704px;
	/*UJM padding-left:10px;*/
}

#contenu_sans_encadres #content.noleftnav{
	padding-left: 40px;
	width:864px;
}

#content #fil_ariane{
	margin: 10px 0;
	color:#8f8f8f; 
}

#content #fil_ariane a{
	color:#8f8f8f; 
}

#content #fil_ariane a:hover{
	text-decoration:underline;
}

#content #header_content{
	/*UJM height: 80px;*/
 	/*clear:both;*/
 	width:100%;
 	float:left;
}

#content #header_content p{
	clear:both;
	padding-bottom:10px;
}

#content .vignette_entite{
	float:right;
}

#content .actu{
	padding: 10px 0;
	clear:both;
}

#content p{
	clear:none;
}

#content h1{
	font-size: 28px;
	font-weight: 100;
	line-height:35px;
	float:left;
	/* UJM height: 30px;
	padding-top: 40px;*/
	padding-top: 15px;
	margin-bottom: 15px;
	width:100%;
}
#content #header_content h1{
	width:434px;
	padding-top:0px;
}

/* titre des paragraphes */
#content h2{
	font-weight:bold;
}

/* titre des sections dans les fiches */
#content h3,.accueil .para-an h3{
	font-size:16px;
	font-weight:100;
	font-weight:bold;
	line-height:25px;
	padding-top: 10px;
}


#content #res_recherche{
	clear:both;
	padding: 10px;
	width:680px;
}

#content #res_recherche p, #content #res_recherche li{
	padding-bottom: 10px;
}

#content #res_recherche span{
	color: black;
}

#content #res_recherche ul{
	margin-left: 15px;
}

#content #res_recherche a{
	color:#1968ac;
	font-weight: bold;
	text-decoration: underline;
}

/*#content #res_recherche .bouton a{
	padding-left: 10px;
}

#content #res_recherche .bouton{
	text-align:right;
}	*/

#content #res_recherche .pagination{
	text-align:center;
}

/** TABLEAU **/
#content .tableau{
	/*clear:both;*/
	/*margin: 20px 0;*/
	float:left;
}

#content .tableau strong{
	color:#000;
}


#content .tableau ul#onglets{
	clear:both;
	margin:0px;
	
}

#content .tableau ul#onglets li{
	list-style-type:none;
	float:left;
	font-weight:bold;
	margin-right: 1px;
	font-size: 11px;
}

#content .tableau ul#onglets li a{
	padding:3px;
	display:block;
	float:left;
	height: 20px;
}

#content .tableau ul#onglets .dernier_onglet a{
	padding-right:7px;!important;
	padding-right:5px;
}


#content .tableau ul#onglets li a:hover{
	color:#fff;
	text-decoration:none;
}

.tableau #contenu_tab{
	float:left;
	width: 452px;
	padding: 5px;
}

.tableau #contenu_tab a{
	text-decoration:underline;
	font-weight:bold;
	color:#1365ab;
}

.tableau #contenu_tab .col_gauche, .tableau #contenu_tab .col_centre, .tableau #contenu_tab .col_droit, 
#contenu_tab .col_gauche, #contenu_tab .col_centre, #contenu_tab .col_droit {
	float:left;
	width: 137px;
	padding: 5px;
}

.tableau #contenu_tab .col_droit{
	border-right: 0px;
}

.tableau .arrondi_bas_petit{
	float:left;
}

.tableau span.arrondi_onglet_gauche, .tableau span.arrondi_onglet_droit, .bloc_commentaire span.arrondi_onglet_gauche, .bloc_commentaire span.arrondi_onglet_droit{
	width: 5px;
	height:26px;
	display: block;
	float:left;
}

.bloc_commentaire .haut_bloc{
	clear:both;
}

.bloc_commentaire h4{
	padding:3px;
	display:block;
	float:left;
	height: 20px;
	font-size:11px;
}

.bloc_commentaire .titre_commentaire{
	width: 443px;
	color: #FFFFFF;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	font-weight: bold;
}

.arrondi_haut_bloc_bleu{
	width: 453px;
	height:8px;
	margin-top:10px;
}

.arrondi_bas_bloc_bleu{
	width: 453px;
	height:8px;
	margin-bottom:10px;
}

.bloc_bleu{
	width: 433px;
	padding:0px 10px 0px 10px;
	overflow: hidden;
}

.label_bloc{
	float:left;
	width: 100px;
	text-align: right;
	font-weight:bold;
}

.para_bloc{
	float:right;
	width: 325px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.item_bloc{
	/*border:1px solid black;*/
	clear:both;
}

.bloc_commentaire .haut_bloc{
	width: 453px;
	height:6px;
}

.bloc_commentaire .bas_bloc{
	width: 453px;
	height:9px;
}

.bloc_commentaire .date_commentaire{
	width: 443px;
	padding-left: 10px;
	padding-bottom: 5px;
}

.bloc_commentaire .contenu_commentaire{
	width: 443px;
	padding-left: 10px;
	padding-bottom: 5px;
}

.bloc_commentaire .contenu_commentaire p{
	padding-right: 10px;	
}

#form_centrale{
	clear:both;
}
#form_centrale .ligne_form {
	display:block;
	clear:none;
	width:100%;
}

#form_centrale span{
	display:block;
	float:left;
	/*UJM width: 88px;*/
	width: 200px;
	height: 21px;
	padding:7px 0 7px 7px;
}

#form_centrale .champs_form{
	/*UJM width: 593px;*/
	width: 473px;
	padding:5px 0 5px 5px;
	float:left;
	height: 25px;
}

#form_centrale .champs_form img{
	display:inline;
	padding:0px;
	margin:0px;
}

/* UJM CA */
.recherche #content FORM SELECT{
	width: 450px;
}
.recherche #content FORM .ChampSaisie{
	width: 440px;
	text-align:left;
}
.recherche #content FORM .readonly{
	width: 250px;
	text-align:left;
}
.recherche #content FORM .date INPUT{
	width: 70px;
}

.bouton_form, #form_centrale .bouton_form, #res_recherche .bouton_form{
	margin-top: 20px;
	float:right;
	/*ujm margin: 10px 0 10px 10px;*/
}

.bouton_form a, #form_centrale .bouton_form a, .encadre_nav_auto .bouton_form a, #content #res_recherche .bouton_form a{
	margin-left: 5px;
	padding:2px 0 0 7px;
	display:block;
	height: 18px;
	float: left;
	color: #FFFFFF;
	text-decoration: none;
	/*font-weight: bold;*/
}

.bouton_form a:hover, #form_centrale .bouton_form a:hover, .encadre_nav_auto .bouton_form a:hover, #res_recherche .bouton_form a:hover{
	text-decoration: none;
}

.bouton_form span, #form_centrale .bouton_form span, .encadre_nav_auto .bouton_form span, #res_recherche .bouton_form span{
	display:block;
	height: 20px;
	width: 6px;
	float: left;
}


/************************************ Elements de droite **************************************/
#encadres{
	width:230px;
	float:right;
	margin-top: 5px;
}

#encadres .encadre_nav_auto{
	/*padding: 10px;	*/
}

#encadres .encadre_nav_auto form{
	padding: 10px;
	overflow: hidden;
}

#encadres .encadre_nav_auto label{
	display:block;
	float:left;
	margin:0px;
	padding-right:10px;
	width: 200px;
}

#encadres .encadre_nav_auto p.radio span{
display: block;
}

#encadres .encadre_nav_auto p.radio label{
display: inline;
float: none;
width: auto;
}

#encadres .encadre_nav_auto .bouton_form{
	/*display:inline;*/
	width:180px; float:left;
	margin:0px;
	padding:10px 0px 10px 30px;
}

#encadres .encadre_nav_auto .ligne_form{
	margin-bottom: 10px;
}

#encadres .encadre_nav_auto form p {
	padding-bottom:5px;
	text-align:left;
}

/* UJM CA */
#encadres .encadre_nav_auto FORM SELECT{
	width: 180px;
}
#encadres .encadre_nav_auto FORM .ChampSaisie{
	width: 174px !important;
	width: 176px;
	text-align:left;
}
#encadres .encadre_nav_auto FORM .readonly{
	width: 120px;
	text-align:left;
}
#encadres .encadre_nav_auto .date{
	width: 70px !important;
	width: 70px;
	margin-bottom:5px;
	margin-top:5px;
}


#encadres .encadre_generique, #encadres .encadre_rubrique, #encadres .encadre_nav_auto{	
	margin-top:5px;
	margin-bottom:10px;
}

#encadres .encadre_img {
	margin-top:5px;
	margin-bottom:10px;	
}

#encadres .encadre_generique .encadre_contenu, 
#encadres .encadre_rubrique .encadre_contenu, 
#encadres .encadre_nav_auto .encadre_contenu,
#encadres .encadre_nav_auto .encadre_contenu_recherche{	
	background-color:#fff;
}

/*#encadres .encadre_generique p, #encadres .encadre_nav_auto p{
	padding:7px 10px 0 10px;*/
#encadres .encadre_generique div.encadre_contenu, #encadres .encadre_rubrique div.encadre_contenu{
	padding:7px 10px 7px 10px;
	font-size:10px;
	color:#000;
	line-height:12px;
}

#encadres .encadre_generique h2, #encadres .encadre_nav_auto h2{
	font-size:14px;
	font-weight:bold;
	/*font-weight:100;
	font-size: 18px;*/
	padding: 5px 0 3px 10px;
	/*height: 23px;*/
}

#encadres .encadre_nav_auto h2{
 font-size: 14px;
 font-weight:bold;
}


#encadres .encadre_fiche{
	margin-top:5px;
	margin-bottom:19px;
}

#encadres .encadre_fiche h2{
	font-weight:100;
	font-size: 18px;
	padding: 2px 0 0 10px;
}

/*#encadres .encadre_fiche p, .encadre_structure p{*/
#encadres .encadre_fiche div.encadre_contenu, .encadre_structure div.encadre_contenu, .encadre_nav_auto div.encadre_contenu {
	padding:7px 10px 10px 10px;
	font-size:10px;
	color:#000;
}

#encadres .encadre_rubrique h2{
	font-size: 18px;
	font-weight:normal;
	padding: 5px 0 0 10px;
	height: 20px;
}

#encadres .encadre_rubrique ul{
	padding: 10px;
	padding-left: 20px;
}

#encadres .encadre_rubrique ul li{
	/*list-style-type:none;*/
	margin-bottom: 5px;
	
}

/*ujm */
#encadres .encadre_nav_auto ul {
	padding-left:0px;
	font-size:10px;
	color:#000;
}

#encadres .encadre_rubrique ul li span{
	color: #000000;
}

.encadre_structure{
	/*margin-top:30px;*/
}

#encadres .encadre_fiche h2, .encadre_structure h2{
	font-weight:100;
	font-size: 18px;
	padding: 5px 0 0 10px;
}



/************************************ Elements du bas *****************************************/
#footer{
	padding-top:10px;
	padding-bottom: 10px;
	text-align:center;
	clear: both;
	color: #FFFFFF;
}

#footer ul#outils{
	
}

#footer ul#outils li{
	list-style-type: none;
	display:inline;
}

#footer ul#outils li a{
	margin:0 5px;
	font-size:9px;
	font-weight:bold;
	color:#fff;
}




/***********************************************************************************************
**                                                                                            **
**                                     TYPOGRAPHIE                                            **
**                                                                                            **
***********************************************************************************************/

/************************************ Liens ***************************************************/
a{
	font-family:Verdana;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

/* haut
********************************/
a.avance{
	color:#1365ab;
	font-size:9px;
}

#haut a{
	color:#FFFFFF;
	font-size:9px;
	font-weight:bold;
	font-family:Helvetica, Arial, sans-serif;
}

/* droite
********************************/
#encadres .encadre_fiche a{
	color:#1365ab;
	font-weight:bold;
	line-height:12px;	
}
#encadres .encadre_generique a{
	color:#1365ab;
	font-weight:bold;
	line-height:15px;
}



/* Centre
********************************/
.colonne_titre{
	color:#fff;
	font-size:16px;
	font-weight:bold;
}


/************************************ Elements du haut ****************************************/



/* Liens haut et langues
********************************/
#haut{
	color:#b1cbe5;
}





/************************************ Elements de droite **************************************/



/*************************************** ACTUS *************************************************/
.style1{
	clear:both;
}

.style1 h2{
	font-size:16px;
	padding-left: 20px;
	font-weight: 100;
	font-weight:bold;
	margin-bottom: 5px;
}
.style1 .style1_deco{
	padding-bottom:5px;
}

.actu_titre, .actu_date{
	font-size:11px;
	font-weight:bold;	
}

.actu_titre a{
	color:#1365ab;
}

.vignette_actu{
	clear:both;
	float:left;
	padding:0px 15px 10px 0px;
	width:80px;
}

.colonne_deco{
	/*width:100%;*/
}

.style2{
	/*margin: 20px 0;*/
	float:left;
	width:100%;
}

.style2 h2{
	margin:0;
	padding:0;
	height: auto;
	color: #FFFFFF;
	font-size:16px;
}

.style2 h2 span{
	display:block;
	float:left;
}

.style2 .coinD_style2{
	float:right;
	width: 12px;
	height: 25px;
}

.style2 .coinG_style2{
	width: 31px;
	height: 25px;
}

.style2 .titre_style2 {
	padding-top: 5px;
	height:auto;
	padding-bottom: 5px;
	color: #FFFFFF;
	font-size:16px;
}

.style2 .style2_deco{
	padding: 10px;
}

.style3{
	/*width: 227px;*/
	width: 100%;
	float:left;
}

.style3 h2{
	font-size:16px;
	font-weight: 100;
	font-weight:bold;
	margin-bottom: 10px;
}


.style3bis h2{
	text-align:center;
}

.sansstyle, .style1, .style2, .style3, .style4 {
	padding-bottom: 15px;
}

.sansstyle li, .style3 li, .style1 li, .style2 li, #encadres li {
	list-style-type:none;
}

#content .style3 p{
	margin:0;
	padding:0;
}
#content .style3 a{
	/*background: url(img/puce_style3.gif) no-repeat;
	padding-left: 10px;*/
	font-weight:bold;
	color: #1365ab;
}

.style4 {
	width: 100%;
	float:left;
}
.style4 div.title {
	height:auto;
	background-color:#98d001;
	padding-left:14px;
	padding-top:4px;
	padding-bottom:6px;
	margin-bottom:6px;
}

.style4 div.title h2 {
	background:url(puce_lien_accueil.gif) no-repeat;
	padding: 0 5px 0 10px;
	color:#fff;
	font-size:17px;
	font-weight:bold;

}

/* Default header */
#header{
	background:url(header1_bleu.jpg) no-repeat;
}


/************************************************ GESTION DES TEMPLATES COULEURS ********************************************/

/*********** TEMPLATE BLEU *****************/
/*********** TEMPLATE bleu *****************/

#bleu #fil_ariane .selected{
	color:#62b6ff;
}

#bleu #header{
	background:url(header1_bleu.jpg) no-repeat;
}

#bleu #encadres .encadre_generique h2, #bleu #encadres .encadre_nav_auto h2{
	background:url(fond_titre_encadre_gen_bleu.gif) no-repeat;
	color: #FFFFFF;
	/*background-color: #62b6ff;*/
}


#bleu #encadres .encadre_fiche,#bleu #res_recherche{
	background-color:#e0f0ff;
}

#bleu #encadres .encadre_fiche h2, #bleu .encadre_structure h2{
	color: #62b6ff;
}

#bleu #encadres .encadre_rubrique h2{
	background:url(fond_titre_encadre_rub_bleu.gif) no-repeat;
	color: #62b6ff;
}

#bleu #encadres .encadre_rubrique strong,#bleu #encadres .encadre_rubrique ul li{
	color: #62b6ff;
}

#bleu .encadre_structure{
	background-color: #e0f0ff;
	width: 175px;
}


/*menu niveau 1 */
#bleu #navigation ul.niveau1{
	/*background-color:#d0ecc2;*/
	
}

#bleu #navigation ul.niveau1 li{
	list-style-type:none;
	width:186px;
}

#bleu #navigation ul.niveau1 a{
	color:#62b6ff;
	background:url(fond_nav1_bleu.gif) no-repeat;
}


#bleu #navigation ul.niveau1 a.survol, #bleu #navigation ul.niveau1 a.selected{
	color: #FFFFFF;
	text-decoration:none;
	background:url(fond_nav1_bleu_RO.gif) no-repeat;
	/*height: 22px;*/
}

#bleu .arrondi_bas_petit{
	background:url(http://portail.univ-st-etienne.fr/ujm/img/arrondi_petit_bas_bleu.gif) no-repeat;
	width: 462px;
	height:6px;
}

#bleu .arrondi_bas_grand{
	background:url(arrondi_grand_bas_bleu.gif) no-repeat;
	width: 700px;
	height:6px;
}

#bleu .arrondi_haut_grand{
	background:url(arrondi_grand_haut_bleu.gif) no-repeat;
	width: 700px;
	background-color:#e0f0ff;
	height:6px;
}

#bleu .arrondi_haut_bloc_bleu{
	background:url(arrondi_haut_bloc_bleu.gif) no-repeat;
	background-color:#e0f0ff;
}

#bleu .arrondi_bas_bloc_bleu{
	background:url(arrondi_bas_bloc_bleu.gif) no-repeat;
}

#bleu .bloc_bleu{
	background-color:#e0f0ff;
}

#bleu .label_bloc{
	color:#62b6ff;
}

#bleu .item_bloc{
	/*border:1px solid black;*/
	clear:both;
}

#bleu .bloc_commentaire span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_bleuF_gauche.gif) no-repeat;
}

#bleu .bloc_commentaire span.arrondi_onglet_droit{
	background:url(arrondi_onglet_bleuF_droit.gif) no-repeat;
}

#bleu .bloc_commentaire h4{
	background-color: #1968ab;
	color:#82c4ff;
}

#bleu .bloc_commentaire .haut_bloc{
	background:url(haut_bloc_commentaire_bleu.gif) no-repeat;
	background-color:#1968ab;
}

#bleu .bloc_commentaire .bas_bloc{
	background:url(bas_bloc_commentaire_bleu.gif) no-repeat;
}

#bleu .bloc_commentaire .date_commentaire{
	background:url(back_date_commentaire.gif) repeat-y;
}

#bleu .bloc_commentaire .contenu_commentaire{
	background:url(back_contenu_commentaire.gif) repeat-y;
}

#bleu .bloc_commentaire .titre_commentaire{
	background-color:#1968ab;
}



/*menu niveau 2 */
#bleu #navigation ul.niveau2,#bleu #navigation ul.niveau2Visible{
	/*background-color:#e9f6e2;*/
}

#bleu #navigation ul.niveau2 li, #bleu #navigation ul.niveau2Visible li{
	list-style-type:none;
	/*height: 25px;	*/
}

#bleu #navigation ul.niveau2 a, #bleu #navigation ul.niveau2Visible a{
	color:#62b6ff;
	background:url(fond_nav2_bleu.gif) no-repeat;
	background-color:#f1f8ff;
}

#bleu #navigation ul.niveau2 a:hover, #bleu #navigation ul.niveau2Visible a:hover, #bleu #navigation ul.niveau2Visible a.selected{
	color: #FFFFFF;
	text-decoration:none;
	background:url(fond_nav2_bleu_RO.gif) no-repeat;
	background-color:#98cfff;
}

/*Contenu centrale avec encadres*/
#bleu #content h1 , #bleu #content h3, 
#bleu.accueil .para-an h3,
#bleu #navigation .navigation-collaboratif h3,
#bleu #content #res_recherche li, 
#bleu #content .liste-pardefaut li{
	color: #62b6ff;
}

/* ligne séparatrice du contenu */
#bleu #content h3, #bleu #content_avec_encadres h3,
#bleu.accueil .para-an h3 {
	border-bottom:1px solid #62b6ff;
	margin-bottom:5px;
}

/***********ACTUS***********/
#bleu .style1 h2 {
	background: url(puce_style1_bleu.gif) no-repeat;
	color: #62b6ff;
}

#bleu .style2 h2{
	background: url(fond_style2_bleu.gif) repeat;
}

#bleu .style2 .coinG_style2{
	background:url(coinG_style2_bleu.gif) no-repeat;	
}

#bleu .style2 .coinD_style2{
	background:url(coinD_style2_bleu.gif) no-repeat;	
}

#bleu .style1 .style1_deco{
	border-top: 1px solid #62b6ff;
	border-bottom: 1px solid #62b6ff;
}

#bleu .actu_date{
	color:#62b6ff;
}

#bleu .actu_titre{
	background:url(puce_style1_titre_bleu.gif ) no-repeat;
	padding-left: 15px;
}
#bleu ul.liste-actualites li.actu .actu_titre,
#rouge ul.liste-actualites li.actu .actu_titre,
#orange ul.liste-actualites li.actu .actu_titre,
#jaune ul.liste-actualites li.actu .actu_titre,
#rose ul.liste-actualites li.actu .actu_titre,
#violet ul.liste-actualites li.actu .actu_titre,
#vertC ul.liste-actualites li.actu .actu_titre,
#vertF ul.liste-actualites li.actu .actu_titre {
	display:block;
}
#bleu .style2 .style2_deco{
	background-color:#e0f0ff;
}

#bleu .style3 h2{
	color: #62b6ff;
}

/*** TABLEAU ***/
#bleu .tableau  #contenu_tab{
	color:#62b6ff;
}

/*#bleu #content .tableau ul li{
	background-color:#3cae00;
}*/

#bleu #content .tableau ul#onglets li a{
background-color:#62b6ff;
}

#bleu #content .tableau ul#onglets li#actif a{
	color:#62b6ff;
	background-color:#e0f0ff;
}

#bleu #content .tableau ul#onglets li#actif a:hover{
	color:#62b6ff;
}

/*#bleu #content .tableau ul#onglets li#actif{
	background-color:#e3f3da;
	color:#3cae00;
}*/

#bleu #content .tableau ul#onglets li a{
	color:#efffff;
}

#bleu #content .tableau ul#onglets li a:hover{
	color:#fff;
	text-decoration:none;
}

#bleu .tableau #contenu_tab{
	background-color:#e0f0ff;
}

#bleu .tableau #contenu_tab .col_centre{
	border-right: 1px solid #62b6ff;
	border-left: 1px solid #62b6ff;
}

#bleu .tableau #contenu_tab .col_droit{
	border-right: 0;
}

#bleu .tableau span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_bleu_gauche.gif) no-repeat;
}

#bleu .tableau span.arrondi_onglet_droit{
	background:url(arrondi_onglet_bleu_droit.gif) no-repeat;
}

#bleu .tableau li#actif span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_bleu_gauche_RO.gif) no-repeat;
}

#bleu .tableau li#actif span.arrondi_onglet_droit{
	background:url(arrondi_onglet_bleu_droit_RO.gif) no-repeat;

}

/*formulaire*/
#bleu #form_centrale .ligne_form span{
	color: #62b6ff;
	border-top:1px solid #62b6ff;
	border-left:1px solid #62b6ff;
}

#bleu #form_centrale .champs_form{
	background-color: #e0f0ff;
	border:1px solid #62b6ff;
	border-bottom:0;
}

#bleu .encadre_nav_auto form{
	color: #62b6ff;
}

#bleu .bouton_form a, #bleu  #form_centrale .bouton_form a, #bleu .encadre_nav_auto .bouton_form a{
	background:url(arrondiG_bouton_bleu.gif) no-repeat;
	background-color: #62b6ff;
}

#bleu .bouton_form span, #bleu #form_centrale .bouton_form span,#bleu .encadre_nav_auto .bouton_form span{
	background:url(arrondiD_bouton_bleu.gif) no-repeat;
}


#bleu #res_recherche .bouton_form a{
	background:url(arrondiG2_bouton_bleu.gif) no-repeat;
	background-color: #62b6ff;
}

#bleu #res_recherche .bouton_form span{
	background:url(arrondiD2_bouton_bleu.gif) no-repeat;
}
/*********** FIN TEMPLATE bleu *****************/


/*********** FIN TEMPLATE BLEU *****************/
/*********** TEMPLATE VERT *****************/

#vert #fil_ariane .selected{
	color:#3bae00;
}

#vert #header{
	background:url(header1_vert.jpg) no-repeat;
}

#vert #encadres .encadre_generique h2, #vert #encadres .encadre_nav_auto h2{
	background:url(fond_titre_encadre_gen_vert.gif) no-repeat;
	color: #FFFFFF;
	/*background-color: #38af00;*/
}


#vert #encadres .encadre_fiche,#vert #res_recherche{
	background-color:#e3f3da;
}

#vert #encadres .encadre_fiche h2, #vert .encadre_structure h2{
	color: #3bae00;
}

#vert #encadres .encadre_rubrique h2{
	background:url(fond_titre_encadre_rub_vert.gif) no-repeat;
	color: #3bae00;
}

#vert #encadres .encadre_rubrique strong,#vert #encadres .encadre_rubrique ul li{
	color: #3bae00;
}

#vert .encadre_structure{
	background-color: #e3f3da;
	width: 175px;
}


/*menu niveau 1 */
#vert #navigation ul.niveau1{
	/*background-color:#d0ecc2;*/
	
}

#vert #navigation ul.niveau1 li{
	list-style-type:none;
	width:186px;
}

#vert #navigation ul.niveau1 a{
	color:#3bae00;
	background:url(fond_nav1_vert.gif) no-repeat;
}


#vert #navigation ul.niveau1 a.survol, #vert #navigation ul.niveau1 a.selected{
	color: #FFFFFF;
	text-decoration:none;
	background:url(fond_nav1_vert_RO.gif) no-repeat;
	/*height: 22px;*/
}

#vert .arrondi_bas_petit{
	background:url(arrondi_petit_bas_vert.gif) no-repeat;
	width: 462px;
	height:6px;
}

#vert .arrondi_bas_grand{
	background:url(arrondi_grand_bas_vert.gif) no-repeat;
	width: 700px;
	height:6px;
}

#vert .arrondi_haut_grand{
	background:url(arrondi_grand_haut_vert.gif) no-repeat;
	width: 700px;
	background-color:#e3f3da;
	height:6px;
}

/* bloc + commentaire */
#vert .arrondi_haut_bloc_bleu{
	background:url(arrondi_haut_bloc_vert.gif) no-repeat;
	background-color:#e3f3da;
}

#vert .arrondi_bas_bloc_bleu{
	background:url(arrondi_bas_bloc_vert.gif) no-repeat;
}

#vert .bloc_bleu{
	background-color:#e3f3da;
}

#vert .label_bloc{
	color:#38af00;
}

#vert .item_bloc{
	/*border:1px solid black;*/
	clear:both;
}

#vert .bloc_commentaire span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_gauche.gif) no-repeat;
}

#vert .bloc_commentaire span.arrondi_onglet_droit{
	background:url(arrondi_onglet_droit.gif) no-repeat;
}

#vert .bloc_commentaire h4{
	background-color: #38af00;
	color:#e3f3da;
}

#vert .bloc_commentaire .haut_bloc{
	background:url(haut_bloc_commentaire_vert.gif) no-repeat;
	background-color:#38af00;
}

#vert .bloc_commentaire .bas_bloc{
	background:url(bas_bloc_commentaire_vert.gif) no-repeat;
}

#vert .bloc_commentaire .date_commentaire{
	background:url(back_date_commentaire_vert.gif) repeat-y;
}

#vert .bloc_commentaire .contenu_commentaire{
	background:url(back_contenu_commentaire_vert.gif) repeat-y;
}

#vert .bloc_commentaire .titre_commentaire{
	background-color:#38af00;
}


/*menu niveau 2 */
#vert #navigation ul.niveau2,#vert #navigation ul.niveau2Visible{
	/*background-color:#e9f6e2;*/
}

#vert #navigation ul.niveau2 li, #vert #navigation ul.niveau2Visible li{
	list-style-type:none;
/*	min-height: 25px !important;	*/
}

#vert #navigation ul.niveau2 a, #vert #navigation ul.niveau2Visible a{
	color:#3bae00;
	background:url(fond_nav2_vert.gif) no-repeat;
	background-color:#e3f3da;
}

#vert #navigation ul.niveau2 a:hover, #vert #navigation ul.niveau2Visible a:hover, #vert #navigation ul.niveau2Visible a.selected{
	color: #FFFFFF;
	text-decoration:none;
	background:url(fond_nav2_vert_RO.gif) no-repeat;
	background-color:#7eca56;
}

/*Contenu centrale avec encadres*/
#vert #content h1, #vert #content h3, 
#vert.accueil .para-an h3,
#vert #navigation .navigation-collaboratif h3, 
#vert #content #res_recherche li,
#vert #content .liste-pardefaut li{
	color: #3bae00;
}
/* ligne séparatrice du contenu */
#vert #content h3, #vert.accueil .para-an h3{
	border-bottom:1px solid #3bae00;
	margin-bottom:5px;
}


/***********ACTUS***********/
#vert .style1 h2 {
	background: url(puce_style1_vert.gif) no-repeat;
	color: #3bae00;
}

#vert .style2 h2 {
	background: url(fond_style2_vert.gif) repeat-x;
}

#vert .style2 .coinG_style2{
	background:url(coinG_style2_vert.gif) no-repeat;	
}

#vert .style2 .coinD_style2{
	background:url(coinD_style2_vert.gif) no-repeat;	
}

#vert .style1 .style1_deco{
	border-top: 1px solid #3bae00;
	border-bottom: 1px solid #3bae00;
}

#vert .actu_date{
	color:#3bae00;
}

#vert .actu_titre{
	background:url(puce_style1_titre.gif) no-repeat;
	padding-left: 15px;
}

#vert .style2 .style2_deco{
	background-color:#e3f3da;
}

#vert .style3 h2{
	color: #3bae00;
}

/*** TABLEAU ***/
#vert .tableau #contenu_tab{
	color:#3bae00;
}

/*#vert #content .tableau ul li{
	background-color:#3cae00;
}*/

#vert #content .tableau ul#onglets li a{
background-color:#3cae00;
}

#vert #content .tableau ul#onglets li#actif a{
	color:#3cae00;
	background-color:#e3f3da;
}

#vert #content .tableau ul#onglets li#actif a:hover{
	color:#3cae00;
}

/*#vert #content .tableau ul li#actif{
	background-color:#e3f3da;
	color:#3cae00;
}*/

#vert #content .tableau ul#onglets li a{
	color:#e3f3da;
}

#vert #content .tableau ul#onglets li a:hover{
	color:#fff;
	text-decoration:none;
}

#vert .tableau #contenu_tab{
	background-color:#e3f3da;
}

#vert .tableau #contenu_tab .col_centre{
	border-right: 1px solid #3bae00;
	border-left: 1px solid #3bae00;
}

#vert .tableau #contenu_tab .col_droit{
	border-right: 0;
}

#vert .tableau span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_gauche.gif) no-repeat;
}

#vert .tableau span.arrondi_onglet_droit{
	background:url(arrondi_onglet_droit.gif) no-repeat;
}

#vert .tableau li#actif span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_gauche_RO.gif) no-repeat;
}

#vert .tableau li#actif span.arrondi_onglet_droit{
	background:url(arrondi_onglet_droit_RO.gif) no-repeat;
}

/*formulaire*/
#vert #form_centrale .ligne_form span{
	color: #3bae00;
	border-top:1px solid #38af00;
	border-left:1px solid #38af00;
}

#vert #form_centrale .champs_form{
	background-color: #e3f3da;
	border:1px solid #38af00;
	border-bottom:0;
}

#vert .encadre_nav_auto form{
	color: #3bae00;
}

#vert .bouton_form a, #vert  #form_centrale .bouton_form a, #vert .encadre_nav_auto .bouton_form a{
	background:url(arrondiG_bouton_vert.gif) no-repeat;
	background-color: #3bae00;
}

#vert .bouton_form span,#vert #form_centrale .bouton_form span,#vert .encadre_nav_auto .bouton_form span{
	background:url(arrondiD_bouton_vert.gif) no-repeat;
}

#vert #res_recherche .bouton_form a{
	background:url(arrondiG2_bouton_vert.gif) no-repeat;
	background-color: #3bae00;
}

#vert #res_recherche .bouton_form span{
	background:url(arrondiD2_bouton_vert.gif) no-repeat;
}
/*********** FIN TEMPLATE VERT *****************/

/*********** TEMPLATE ROUGE *****************/

#rouge #fil_ariane .selected{
	color:#d30003;
}


#rouge #header{
	background:url(header1_rouge.jpg) no-repeat;
}

#rouge #encadres .encadre_generique h2, #rouge #encadres .encadre_nav_auto h2{
	background:url(fond_titre_encadre_gen_rouge.gif) no-repeat;
	color: #FFFFFF;
	/*background-color: #d30003;*/
}


#rouge #encadres .encadre_fiche,#rouge #res_recherche{
	background-color:#fedddd;
}

#rouge #encadres .encadre_fiche h2, #rouge .encadre_structure h2{
	color: #d30003;
}

#rouge #encadres .encadre_rubrique h2{
	background:url(fond_titre_encadre_rub_rouge.gif) no-repeat;
	color: #d30003;
}

#rouge #encadres .encadre_rubrique strong,#rouge #encadres .encadre_rubrique ul li{
	color: #d30003;
}

#rouge .encadre_structure{
	background-color: #fedddd;
	width: 175px;
}


/*menu niveau 1 */
#rouge #navigation ul.niveau1{
	/*background-color:#d0ecc2;*/
	
}

#rouge #navigation ul.niveau1 li{
	list-style-type:none;
	width:186px;
}

#rouge #navigation ul.niveau1 a{
	color:#d30003;
	background:url(fond_nav1_rouge.gif) no-repeat;
}


#rouge #navigation ul.niveau1 a.survol, #rouge #navigation ul.niveau1 a.selected{
	color: #FFFFFF;
	text-decoration:none;
	background:url(fond_nav1_rouge_RO.gif) no-repeat;
	/*height: 22px;*/
}

#rouge .arrondi_bas_petit{
	background:url(http://portail.univ-st-etienne.fr/ujm/img/arrondi_petit_bas_rouge.gif) no-repeat;
	width: 462px;
	height:6px;
}

#rouge .arrondi_bas_grand{
	background:url(arrondi_grand_bas_rouge.gif) no-repeat;
	width: 700px;
	height:6px;
}

#rouge .arrondi_haut_grand{
	background:url(arrondi_grand_haut_rouge.gif) no-repeat;
	width: 700px;
	background-color:#fedddd;
	height:6px;
}
/* bloc + commentaire */
#rouge .arrondi_haut_bloc_bleu{
	background:url(arrondi_haut_bloc_rouge.gif) no-repeat;
	background-color:#fedddd;
}

#rouge .arrondi_bas_bloc_bleu{
	background:url(arrondi_bas_bloc_rouge.gif) no-repeat;
}

#rouge .bloc_bleu{
	background-color:#fedddd;
}

#rouge .label_bloc{
	color:#d30003;
}

#rouge .item_bloc{
	/*border:1px solid black;*/
	clear:both;
}

#rouge .bloc_commentaire span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_rouge_gauche.gif) no-repeat;
}

#rouge .bloc_commentaire span.arrondi_onglet_droit{
	background:url(arrondi_onglet_rouge_droit.gif) no-repeat;
}

#rouge .bloc_commentaire h4{
	background-color: #d30003;
	color:#fedddd;
}

#rouge .bloc_commentaire .haut_bloc{
	background:url(haut_bloc_commentaire_rouge.gif) no-repeat;
	background-color:#d30003;
}

#rouge .bloc_commentaire .bas_bloc{
	background:url(bas_bloc_commentaire_rouge.gif) no-repeat;
}

#rouge .bloc_commentaire .date_commentaire{
	background:url(back_date_commentaire_rouge.gif) repeat-y;
}

#rouge .bloc_commentaire .contenu_commentaire{
	background:url(back_contenu_commentaire_rouge.gif) repeat-y;
}

#rouge .bloc_commentaire .titre_commentaire{
	background-color:#d30003;
}


/*menu niveau 2 */
#rouge #navigation ul.niveau2,#rouge #navigation ul.niveau2Visible{
	/*background-color:#e9f6e2;*/
}

#rouge #navigation ul.niveau2 li, #rouge #navigation ul.niveau2Visible li{
	list-style-type:none;
	/*height: 25px;	*/
}

#rouge #navigation ul.niveau2 a, #rouge #navigation ul.niveau2Visible a{
	color:#d30003;
	background:url(fond_nav2_rouge.gif) no-repeat;
	background-color:#fff0f0;
}

#rouge #navigation ul.niveau2 a:hover, #rouge #navigation ul.niveau2Visible a:hover, #rouge #navigation ul.niveau2Visible a.selected{
	color: #FFFFFF;
	text-decoration:none;
	background:url(fond_nav2_rouge_RO.gif) no-repeat;
	background-color:#e45b5d;
}

/*Contenu centrale avec encadres*/
#rouge #content h1,#rouge #content h3, 
#rouge.accueil .para-an h3,
#rouge #navigation .navigation-collaboratif h3, 
#rouge #content #res_recherche li,
#rouge #content .liste-pardefaut li{
	color: #d30003;
}
/* ligne séparatrice du contenu */
#rouge #content h3,#rouge.accueil .para-an h3{
	border-bottom:1px solid #d30003;
	margin-bottom:5px;
}


/***********ACTUS***********/
#rouge .style1 h2 {
	background: url(puce_style1_rouge.gif) no-repeat;
	color: #d30003;
}

#rouge .style2 h2 {
	background: url(fond_style2_rouge.gif) repeat-x;
}

#rouge .style2 .coinG_style2{
	background:url(coinG_style2_rouge.gif) no-repeat;	
}

#rouge .style2 .coinD_style2{
	background:url(coinD_style2_rouge.gif) no-repeat;	
}

#rouge .style1 .style1_deco{
	border-top: 1px solid #d30003;
	border-bottom: 1px solid #d30003;
}

#rouge .actu_date{
	color:#d30003;
}

#rouge .actu_titre{
	background:url(puce_style1_titre_rouge.gif ) no-repeat;
	padding-left: 15px;
}

#rouge .style2 .style2_deco{
	background-color:#fedddd;
}

#rouge .style3 h2{
	color: #d30003;
}

/*** TABLEAU ***/
#rouge .tableau #contenu_tab{
	color:#d30003;
}

/*#rouge #content .tableau ul li{
	background-color:#3cae00;
}*/

#rouge #content .tableau ul#onglets li a{
background-color:#d30003;
}

#rouge #content .tableau ul#onglets li#actif a{
	color:#d30003;
	background-color:#fedddd;
}

#rouge #content .tableau ul#onglets li#actif a:hover{
	color:#d30003;
}

/*#rouge #content .tableau ul li#actif{
	background-color:#e3f3da;
	color:#3cae00;
}*/

#rouge #content .tableau ul#onglets li a{
	color:#ffe3e3;
}

#rouge #content .tableau ul#onglets li a:hover{
	color:#fff;
	text-decoration:none;
}

#rouge .tableau #contenu_tab{
	background-color:#fedddd;
}

#rouge .tableau #contenu_tab .col_centre{
	border-left: 1px solid #d30003;
	border-right: 1px solid #d30003;
}

#rouge .tableau #contenu_tab .col_droit{
	border-right: 0;
}

#rouge .tableau span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_rouge_gauche.gif) no-repeat;
}

#rouge .tableau span.arrondi_onglet_droit{
	background:url(arrondi_onglet_rouge_droit.gif) no-repeat;
}

#rouge .tableau li#actif span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_rouge_gauche_RO.gif) no-repeat;
}

#rouge .tableau li#actif span.arrondi_onglet_droit{
	background:url(arrondi_onglet_rouge_droit_RO.gif) no-repeat;

}

/*formulaire*/
#rouge #form_centrale .ligne_form span{
	color: #d30003;
	border-top:1px solid #d30003;
	border-left:1px solid #d30003;
}

#rouge #form_centrale .champs_form{
	background-color: #fedddd;
	border:1px solid #d30003;
	border-bottom:0;
}

#rouge .encadre_nav_auto form{
	color: #d30003;
}

#rouge .bouton_form a,#rouge  #form_centrale .bouton_form a, #rouge .encadre_nav_auto .bouton_form a{
	background:url(arrondiG_bouton_rouge.gif) no-repeat;
	background-color: #d30003;
}

#rouge .bouton_form span,#rouge #form_centrale .bouton_form span,#rouge .encadre_nav_auto .bouton_form span{
	background:url(arrondiD_bouton_rouge.gif) no-repeat;
}

#rouge #res_recherche .bouton_form a{
	background:url(arrondiG2_bouton_rouge.gif) no-repeat;
	background-color: #d30003;
}

#rouge #res_recherche .bouton_form span{
	background:url(arrondiD2_bouton_rouge.gif) no-repeat;
}
/*********** FIN TEMPLATE ROUGE *****************/

/*********** TEMPLATE orange *****************/

#orange #fil_ariane .selected{
	color:#ff9c00;
}

#orange #header{
	background:url(header1_orange.jpg) no-repeat;
}

#orange #encadres .encadre_generique h2, #orange #encadres .encadre_nav_auto h2{
	background:url(fond_titre_encadre_gen_orange.gif) no-repeat;
	color: #FFFFFF;
	/*background-color: #ff9d00;*/
}


#orange #encadres .encadre_fiche,#orange #res_recherche{
	background-color:#fff2de;
}

#orange #encadres .encadre_fiche h2, #orange .encadre_structure h2{
	color: #ff9c00;
}

#orange #encadres .encadre_rubrique h2{
	background:url(fond_titre_encadre_rub_orange.gif) no-repeat;
	color: #ff9c00;
}

#orange #encadres .encadre_rubrique strong,#orange #encadres .encadre_rubrique ul li{
	color: #ff9c00;
}

#orange .encadre_structure{
	background-color: #fff2de;
	width: 175px;
}


/*menu niveau 1 */
#orange #navigation ul.niveau1{
	/*background-color:#d0ecc2;*/
	
}

#orange #navigation ul.niveau1 li{
	list-style-type:none;
	width:186px;
}

#orange #navigation ul.niveau1 a{
	color:#ff9c00;
	background:url(fond_nav1_orange.gif) no-repeat;
}


#orange #navigation ul.niveau1 a.survol, #orange #navigation ul.niveau1 a.selected{
	color: #FFFFFF;
	text-decoration:none;
	background:url(fond_nav1_orange_RO.gif) no-repeat;
	/*height: 22px;*/
}

#orange .arrondi_bas_petit{
	background:url(http://portail.univ-st-etienne.fr/ujm/img/arrondi_petit_bas_orange.gif) no-repeat;
	width: 462px;
	height:6px;
}

#orange .arrondi_bas_grand{
	background:url(arrondi_grand_bas_orange.gif) no-repeat;
	width: 700px;
	height:6px;
}

#orange .arrondi_haut_grand{
	background:url(arrondi_grand_haut_orange.gif) no-repeat;
	width: 700px;
	background-color:#fff2de;
	height:6px;
}

/* bloc + commentaire */

#orange .arrondi_haut_bloc_bleu{
	background:url(arrondi_haut_bloc_orange.gif) no-repeat;
	background-color:#fff2de;
}

#orange .arrondi_bas_bloc_bleu{
	background:url(arrondi_bas_bloc_orange.gif) no-repeat;
}

#orange .bloc_bleu{
	background-color:#fff2de;
}

#orange .label_bloc{
	color:#ff9d00;
}

#orange .item_bloc{
	/*border:1px solid black;*/
	clear:both;
}

#orange .bloc_commentaire span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_orange_gauche.gif) no-repeat;
}

#orange .bloc_commentaire span.arrondi_onglet_droit{
	background:url(arrondi_onglet_orange_droit.gif) no-repeat;
}

#orange .bloc_commentaire h4{
	background-color: #ff9d00;
	color:#ffffff;
}

#orange .bloc_commentaire .haut_bloc{
	background:url(haut_bloc_commentaire_orange.gif) no-repeat;
	background-color:#ff9d00;
}

#orange .bloc_commentaire .bas_bloc{
	background:url(bas_bloc_commentaire_orange.gif) no-repeat;
}

#orange .bloc_commentaire .date_commentaire{
	background:url(back_date_commentaire_orange.gif) repeat-y;
}

#orange .bloc_commentaire .contenu_commentaire{
	background:url(back_contenu_commentaire_orange.gif) repeat-y;
}

#orange .bloc_commentaire .titre_commentaire{
	background-color:#ff9d00;
}

/*menu niveau 2 */
#orange #navigation ul.niveau2,#orange #navigation ul.niveau2Visible{
	/*background-color:#e9f6e2;*/
}

#orange #navigation ul.niveau2 li, #orange #navigation ul.niveau2Visible li{
	list-style-type:none;
	/*height: 25px;	*/
}

#orange #navigation ul.niveau2 a, #orange #navigation ul.niveau2Visible a{
	color:#ff9c00;
	background:url(fond_nav2_orange.gif) no-repeat;
	background-color:#fffaf1;
}

#orange #navigation ul.niveau2 a:hover, #orange #navigation ul.niveau2Visible a:hover, #orange #navigation ul.niveau2Visible a.selected{
	color: #FFFFFF;
	text-decoration:none;
	background:url(fond_nav2_orange_RO.gif) no-repeat;
	background-color:#ffc05c;
}

/*Contenu centrale avec encadres*/
#orange #content h1,#orange #content h3, 
#orange.accueil .para-an h3,
#orange #navigation .navigation-collaboratif h3, 
#orange #content #res_recherche li,
#orange #content .liste-pardefaut li{
	color: #ff9c00;
}
/* ligne séparatrice du contenu */
#orange #content h3,#orange.accueil .para-an h3{
	border-bottom:1px solid #ff9c00;
	margin-bottom:5px;
}


/***********ACTUS***********/
#orange .style1 h2 {
	background: url(puce_style1_orange.gif) no-repeat;
	color: #ff9c00;
}

#orange .style2 h2 {
	background: url(fond_style2_orange.gif) repeat-x;
}

#orange .style2 .coinG_style2{
	background:url(coinG_style2_orange.gif) no-repeat;	
}

#orange .style2 .coinD_style2{
	background:url(coinD_style2_orange.gif) no-repeat;	
}

#orange .style1 .style1_deco{
	border-top: 1px solid #ff9c00;
	border-bottom: 1px solid #ff9c00;
}

#orange .actu_date{
	color:#ff9c00;
}

#orange .actu_titre{
	background:url(puce_style1_titre_orange.gif ) no-repeat;
	padding-left: 15px;
}

#orange .style2 .style2_deco{
	background-color:#fff2de;
}

#orange .style3 h2{
	color: #ff9c00;
}

/*** TABLEAU ***/
#orange .tableau #contenu_tab{
	color:#ff9c00;
}

/*#orange #content .tableau ul#onglets li{
	background-color:#3cae00;
}*/

#orange #content .tableau ul#onglets li a{
background-color:#ff9c00;
}

#orange #content .tableau ul#onglets li#actif a{
	color:#ff9c00;
	background-color:#fff2de;
}

#orange #content .tableau ul#onglets li#actif a:hover{
	color:#ff9c00;
}

/*#orange #content .tableau ul li#actif{
	background-color:#e3f3da;
	color:#3cae00;
}*/

#orange #content .tableau ul#onglets li a{
	color:#fff2de;
}

#orange #content .tableau ul#onglets li a:hover{
	color:#fff;
	text-decoration:none;
}

#orange .tableau #contenu_tab{
	background-color:#fff2de;
}

#orange .tableau #contenu_tab .col_centre{
	border-right: 1px solid #ff9c00;
	border-left: 1px solid #ff9c00;
}

#orange .tableau #contenu_tab .col_droit{
	border-right: 0;
}

#orange .tableau span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_orange_gauche.gif) no-repeat;
}

#orange .tableau span.arrondi_onglet_droit{
	background:url(arrondi_onglet_orange_droit.gif) no-repeat;
}

#orange .tableau li#actif span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_orange_gauche_RO.gif) no-repeat;
}

#orange .tableau li#actif span.arrondi_onglet_droit{
	background:url(arrondi_onglet_orange_droit_RO.gif) no-repeat;

}

/*formulaire*/
#orange #form_centrale .ligne_form span{
	color: #ff9c00;
	border-top:1px solid #ff9c00;
	border-left:1px solid #ff9c00;
}

#orange #form_centrale .champs_form{
	background-color: #fff2de;
	border:1px solid #ff9c00;
	border-bottom:0;
}

#orange .encadre_nav_auto form{
	color: #ff9c00;
}

#orange .bouton_form a,#orange  #form_centrale .bouton_form a, #orange .encadre_nav_auto .bouton_form a{
	background:url(arrondiG_bouton_orange.gif) no-repeat;
	background-color: #ff9c00;
}

#orange .bouton_form span,#orange #form_centrale .bouton_form span,#orange .encadre_nav_auto .bouton_form span{
	background:url(arrondiD_bouton_orange.gif) no-repeat;
}

#orange #res_recherche .bouton_form a{
	background:url(arrondiG2_bouton_orange.gif) no-repeat;
	background-color: #ff9c00;
}

#orange #res_recherche .bouton_form span{
	background:url(arrondiD2_bouton_orange.gif) no-repeat;
}

/*********** FIN TEMPLATE orange *****************/

/*********** TEMPLATE jaune *****************/

#jaune #fil_ariane .selected{
	color:#ffb500;
}

#jaune #header{
	background:url(header1_jaune.jpg) no-repeat;
}

#jaune #encadres .encadre_generique h2, #jaune #encadres .encadre_nav_auto h2{
	background:url(fond_titre_encadre_gen_jaune.gif) no-repeat;
	color: #FFFFFF;
	/*background-color: #ffcd00;*/
}


#jaune #encadres .encadre_fiche,#jaune #res_recherche{
	background-color:#fffade;
}

#jaune #encadres .encadre_fiche h2, #jaune .encadre_structure h2{
	color: #ffb500;
}

#jaune #encadres .encadre_rubrique h2{
	background:url(fond_titre_encadre_rub_jaune.gif) no-repeat;
	color: #ffb500;
}

#jaune #encadres .encadre_rubrique strong,#jaune #encadres .encadre_rubrique ul li{
	color: #ffb500;
}

#jaune .encadre_structure{
	background-color: #fffade;
	width: 175px;
}


/*menu niveau 1 */
#jaune #navigation ul.niveau1{
	/*background-color:#d0ecc2;*/
	
}

#jaune #navigation ul.niveau1 li{
	list-style-type:none;
	width:186px;
}

#jaune #navigation ul.niveau1 a{
	color:#ffb500;
	background:url(fond_nav1_jaune.gif) no-repeat;
}


#jaune #navigation ul.niveau1 a.survol, #jaune #navigation ul.niveau1 a.selected{
	color: #FFFFFF;
	text-decoration:none;
	background:url(fond_nav1_jaune_RO.gif) no-repeat;
	/*height: 22px;*/
}

#jaune .arrondi_bas_petit{
	background:url(http://portail.univ-st-etienne.fr/ujm/img/arrondi_petit_bas_jaune.gif) no-repeat;
	width: 462px;
	height:6px;
}

#jaune .arrondi_bas_grand{
	background:url(arrondi_grand_bas_jaune.gif) no-repeat;
	width: 700px;
	height:6px;
}

#jaune .arrondi_haut_grand{
	background:url(arrondi_grand_haut_jaune.gif) no-repeat;
	width: 700px;
	background-color:#fffade;
	height:6px;
}

/* bloc + commentaire */

#jaune .arrondi_haut_bloc_bleu{
	background:url(arrondi_haut_bloc_jaune.gif) no-repeat;
	background-color:#fffade;
}

#jaune .arrondi_bas_bloc_bleu{
	background:url(arrondi_bas_bloc_jaune.gif) no-repeat;
}

#jaune .bloc_bleu{
	background-color:#fffade;
}

#jaune .label_bloc{
	color:#ffcd00;
}

#jaune .item_bloc{
	/*border:1px solid black;*/
	clear:both;
}

#jaune .bloc_commentaire span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_jaune_gauche.gif) no-repeat;
}

#jaune .bloc_commentaire span.arrondi_onglet_droit{
	background:url(arrondi_onglet_jaune_droit.gif) no-repeat;
}

#jaune .bloc_commentaire h4{
	background-color: #ffcd00;
	color:#ffffff;
}

#jaune .bloc_commentaire .haut_bloc{
	background:url(haut_bloc_commentaire_jaune.gif) no-repeat;
	background-color:#ffcd00;
}

#jaune .bloc_commentaire .bas_bloc{
	background:url(bas_bloc_commentaire_jaune.gif) no-repeat;
}

#jaune .bloc_commentaire .date_commentaire{
	background:url(back_date_commentaire_jaune.gif) repeat-y;
}

#jaune .bloc_commentaire .contenu_commentaire{
	background:url(back_contenu_commentaire_jaune.gif) repeat-y;
}

#jaune .bloc_commentaire .titre_commentaire{
	background-color:#ffcd00;
}

/*menu niveau 2 */
#jaune #navigation ul.niveau2,#jaune #navigation ul.niveau2Visible{
	/*background-color:#e9f6e2;*/
}

#jaune #navigation ul.niveau2 li, #jaune #navigation ul.niveau2Visible li{
	list-style-type:none;
	/*height: 25px;	*/
}

#jaune #navigation ul.niveau2 a, #jaune #navigation ul.niveau2Visible a{
	color:#ffb500;
	background:url(fond_nav2_jaune.gif) no-repeat;
	background-color:#fffdf1;
}

#jaune #navigation ul.niveau2 a:hover, #jaune #navigation ul.niveau2Visible a:hover, #jaune #navigation ul.niveau2Visible a.selected{
	color: #FFFFFF;
	text-decoration:none;
	background:url(fond_nav2_jaune_RO.gif) no-repeat;
	background-color:#ffdf5c;
}

/*Contenu centrale avec encadres*/
#jaune #content h1,#jaune #content h3, 
#jaune.accueil .para-an h3,
#jaune #navigation .navigation-collaboratif h3,
#jaune #content #res_recherche li,
#jaune #content .liste-pardefaut li{
	color: #ffb500;
}
/* ligne séparatrice du contenu */
#jaune #content h3,#jaune.accueil .para-an h3{
	border-bottom:1px solid #ffb500;
	margin-bottom:5px;
}


/***********ACTUS***********/
#jaune .style1 h2 {
	background: url(puce_style1_jaune.gif) no-repeat;
	color: #ffb500;
}

#jaune .style2 h2 {
	background: url(fond_style2_jaune.gif) repeat-x;
}

#jaune .style2 .coinG_style2{
	background:url(coinG_style2_jaune.gif) no-repeat;	
}

#jaune .style2 .coinD_style2{
	background:url(coinD_style2_jaune.gif) no-repeat;	
}

#jaune .style1 .style1_deco{
	border-top: 1px solid #ffb500;
	border-bottom: 1px solid #ffb500;
}

#jaune .actu_date{
	color:#ffb500;
}

#jaune .actu_titre{
	background:url(puce_style1_titre_jaune.gif ) no-repeat;
	padding-left: 15px;
}

#jaune .style2 .style2_deco{
	background-color:#fffade;
}

#jaune .style3 h2{
	color: #ffb500;
}

/*** TABLEAU ***/
#jaune .tableau #contenu_tab{
	color:#ffb500;
}

/*#jaune #content .tableau ul li{
	background-color:#3cae00;
}*/

#jaune #content .tableau ul#onglets li a{
background-color:#ffcd00;
}

#jaune #content .tableau ul#onglets li#actif a{
	color:#ffb500;
	background-color:#fffade;
}

#jaune #content .tableau ul#onglets li#actif a:hover{
	color:#ffb500;
}

/*#jaune #content .tableau ul li#actif{
	background-color:#e3f3da;
	color:#3cae00;
}*/

#jaune #content .tableau ul#onglets li a{
	color:#fffade;
}

#jaune #content .tableau ul#onglets li a:hover{
	color:#fff;
	text-decoration:none;
}

#jaune .tableau #contenu_tab{
	background-color:#fffade;
}

#jaune .tableau #contenu_tab .col_centre{
	border-right: 1px solid #ffb500;
	border-left: 1px solid #ffb500;
}

#jaune .tableau #contenu_tab .col_droit{
	border-right: 0;
}

#jaune .tableau span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_jaune_gauche.gif) no-repeat;
}

#jaune .tableau span.arrondi_onglet_droit{
	background:url(arrondi_onglet_jaune_droit.gif) no-repeat;
}

#jaune .tableau li#actif span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_jaune_gauche_RO.gif) no-repeat;
}

#jaune .tableau li#actif span.arrondi_onglet_droit{
	background:url(arrondi_onglet_jaune_droit_RO.gif) no-repeat;

}

/*formulaire*/
#jaune #form_centrale .ligne_form span{
	color: #ffb500;
	border-top:1px solid #ffb500;
	border-left:1px solid #ffb500;
}

#jaune #form_centrale .champs_form{
	background-color: #fffade;
	border:1px solid #ffb500;
	border-bottom:0;
}

#jaune .encadre_nav_auto form{
	color: #ffb500;
}

#jaune .bouton_form a, #jaune  #form_centrale .bouton_form a, #jaune .encadre_nav_auto .bouton_form a{
	background:url(arrondiG_bouton_jaune.gif) no-repeat;
	background-color: #ffb500;
}

#jaune .bouton_form span, #jaune #form_centrale .bouton_form span, #jaune .encadre_nav_auto .bouton_form span{
	background:url(arrondiD_bouton_jaune.gif) no-repeat;
}

#jaune #res_recherche .bouton_form a{
	background:url(arrondiG2_bouton_jaune.gif) no-repeat;
	background-color: #ffb500;
}

#jaune #res_recherche .bouton_form span{
	background:url(arrondiD2_bouton_jaune.gif) no-repeat;
}
/*********** FIN TEMPLATE jaune *****************/

/*********** TEMPLATE rose *****************/

#rose #fil_ariane .selected{
	color:#cd2f9a;
}

#rose #header{
	background:url(header1_rose.jpg) no-repeat;
}

#rose #encadres .encadre_generique h2, #rose #encadres .encadre_nav_auto h2{
	background:url(fond_titre_encadre_gen_rose.gif) no-repeat;
	color: #FFFFFF;
	/*background-color: #cd2f9a;*/
}


#rose #encadres .encadre_fiche,#rose #res_recherche{
	background-color:#f7e0f0;
}

#rose #encadres .encadre_fiche h2, #rose .encadre_structure h2{
	color: #cd2f9a;
}

#rose #encadres .encadre_rubrique h2{
	background:url(fond_titre_encadre_rub_rose.gif) no-repeat;
	color: #cd2f9a;
}

#rose #encadres .encadre_rubrique strong,#rose #encadres .encadre_rubrique ul li{
	color: #cd2f9a;
}

#rose .encadre_structure{
	background-color: #f7e0f0;
	width: 175px;
}


/*menu niveau 1 */
#rose #navigation ul.niveau1{
	/*background-color:#d0ecc2;*/
	
}

#rose #navigation ul.niveau1 li{
	list-style-type:none;
	width:186px;
}

#rose #navigation ul.niveau1 a{
	color:#cd2f9a;
	background:url(fond_nav1_rose.gif) no-repeat;
}


#rose #navigation ul.niveau1 a.survol, #rose #navigation ul.niveau1 a.selected{
	color: #FFFFFF;
	text-decoration:none;
	background:url(fond_nav1_rose_RO.gif) no-repeat;
	/*height: 22px;*/
}

#rose .arrondi_bas_petit{
	background:url(http://portail.univ-st-etienne.fr/ujm/img/arrondi_petit_bas_rose.gif) no-repeat;
	width: 462px;
	height:6px;
}

#rose .arrondi_bas_grand{
	background:url(arrondi_grand_bas_rose.gif) no-repeat;
	width: 700px;
	height:6px;
}

#rose .arrondi_haut_grand{
	background:url(arrondi_grand_haut_rose.gif) no-repeat;
	width: 700px;
	background-color:#f7e0f0;
	height:6px;
}
/* bloc + commentaire */
#rose .arrondi_haut_bloc_bleu{
	background:url(arrondi_haut_bloc_rose.gif) no-repeat;
	background-color:#f7e0f0;
}

#rose .arrondi_bas_bloc_bleu{
	background:url(arrondi_bas_bloc_rose.gif) no-repeat;
}

#rose .bloc_bleu{
	background-color:#f7e0f0;
}

#rose .label_bloc{
	color:#cd2f9a;
}

#rose .item_bloc{
	/*border:1px solid black;*/
	clear:both;
}

#rose .bloc_commentaire span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_rose_gauche.gif) no-repeat;
}

#rose .bloc_commentaire span.arrondi_onglet_droit{
	background:url(arrondi_onglet_rose_droit.gif) no-repeat;
}

#rose .bloc_commentaire h4{
	background-color: #cd2f9a;
	color:#f7e0f0;
}

#rose .bloc_commentaire .haut_bloc{
	background:url(haut_bloc_commentaire_rose.gif) no-repeat;
	background-color:#cd2f9a;
}

#rose .bloc_commentaire .bas_bloc{
	background:url(bas_bloc_commentaire_rose.gif) no-repeat;
}

#rose .bloc_commentaire .date_commentaire{
	background:url(back_date_commentaire_rose.gif) repeat-y;
}

#rose .bloc_commentaire .contenu_commentaire{
	background:url(back_contenu_commentaire_rose.gif) repeat-y;
}

#rose .bloc_commentaire .titre_commentaire{
	background-color:#cd2f9a;
}

/*menu niveau 2 */
#rose #navigation ul.niveau2,#rose #navigation ul.niveau2Visible{
	/*background-color:#e9f6e2;*/
}

#rose #navigation ul.niveau2 li, #rose #navigation ul.niveau2Visible li{
	list-style-type:none;
	/*height: 25px;	*/
}

#rose #navigation ul.niveau2 a, #rose #navigation ul.niveau2Visible a{
	color:#cd2f9a;
	background:url(fond_nav2_rose.gif) no-repeat;
	background-color:#fbf1f8;
}

#rose #navigation ul.niveau2 a:hover, #rose #navigation ul.niveau2Visible a:hover, #rose #navigation ul.niveau2Visible a.selected{
	color: #FFFFFF;
	text-decoration:none;
	background:url(fond_nav2_rose_RO.gif) no-repeat;
	background-color:#de79bf;
}

/*Contenu centrale avec encadres*/
#rose #content h1,#rose #content h3, 
#rose.accueil .para-an h3,
#rose #navigation .navigation-collaboratif h3,
#rose #content #res_recherche li,
#rose #content .liste-pardefaut li{
	color: #cd2f9a;
}
/* ligne séparatrice du contenu */
#rose #content h3,#rose.accueil .para-an h3{
	border-bottom:1px solid #cd2f9a;
	margin-bottom:5px;
}


/***********ACTUS***********/
#rose .style1 h2 {
	background: url(puce_style1_rose.gif) no-repeat;
	color: #cd2f9a;
}

#rose .style2 h2 {
	background: url(fond_style2_rose.gif) repeat-x;
}

#rose .style2 .coinG_style2{
	background:url(coinG_style2_rose.gif) no-repeat;	
}

#rose .style2 .coinD_style2{
	background:url(coinD_style2_rose.gif) no-repeat;	
}

#rose .style1 .style1_deco{
	border-top: 1px solid #cd2f9a;
	border-bottom: 1px solid #cd2f9a;
}

#rose .actu_date{
	color:#cd2f9a;
}

#rose .actu_titre{
	background:url(puce_style1_titre_rose.gif ) no-repeat;
	padding-left: 15px;
}

#rose .style2 .style2_deco{
	background-color:#f7e0f0;
}

#rose .style3 h2{
	color: #cd2f9a;
}

/*** TABLEAU ***/
#rose .tableau #contenu_tab{
	color:#cd2f9a;
}

/*#rose #content .tableau ul li{
	background-color:#3cae00;
}*/

#rose #content .tableau ul#onglets li a{
background-color:#cd2f9a;
}

#rose #content .tableau ul#onglets li#actif a{
	color:#cd2f9a;
	background-color:#f7e0f0;
}

#rose #content .tableau ul#onglets li#actif a:hover{
	color:#cd2f9a;
}

/*#rose #content .tableau ul li#actif{
	background-color:#e3f3da;
	color:#3cae00;
}*/

#rose #content .tableau ul#onglets li a{
	color:#f7e0f0;
}

#rose #content .tableau ul#onglets li a:hover{
	color:#fff;
	text-decoration:none;
}

#rose .tableau #contenu_tab{
	background-color:#f7e0f0;
}

#rose .tableau #contenu_tab .col_centre{
	border-right: 1px solid #cd2f9a;
	border-left: 1px solid #cd2f9a;
}

#rose .tableau #contenu_tab .col_droit{
	border-right: 0;
}

#rose .tableau span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_rose_gauche.gif) no-repeat;
}

#rose .tableau span.arrondi_onglet_droit{
	background:url(arrondi_onglet_rose_droit.gif) no-repeat;
}

#rose .tableau li#actif span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_rose_gauche_RO.gif) no-repeat;
}

#rose .tableau li#actif span.arrondi_onglet_droit{
	background:url(arrondi_onglet_rose_droit_RO.gif) no-repeat;

}

/*formulaire*/
#rose #form_centrale .ligne_form span{
	color: #cd2f9a;
	border-top:1px solid #cd2f9a;
	border-left:1px solid #cd2f9a;
}

#rose #form_centrale .champs_form{
	background-color: #f7e0f0;
	border:1px solid #cd2f9a;
	border-bottom:0;
}

#rose .encadre_nav_auto form{
	color: #cd2f9a;
}

#rose .bouton_form a, #rose  #form_centrale .bouton_form a, #rose .encadre_nav_auto .bouton_form a{
	background:url(arrondiG_bouton_rose.gif) no-repeat;
	background-color: #cd2f9a;
}

#rose .bouton_form span, #rose #form_centrale .bouton_form span, #rose .encadre_nav_auto .bouton_form span{
	background:url(arrondiD_bouton_rose.gif) no-repeat;
}

#rose #res_recherche .bouton_form a{
	background:url(arrondiG2_bouton_rose.gif) no-repeat;
	background-color: #cd2f9a;
}

#rose #res_recherche .bouton_form span{
	background:url(arrondiD2_bouton_rose.gif) no-repeat;
}

/*********** FIN TEMPLATE rose *****************/

/*********** TEMPLATE violet *****************/

#violet #fil_ariane .selected{
	color:#7b55c9;
}

#violet #header{
	background:url(header1_violet.jpg) no-repeat;
}

#violet #encadres .encadre_generique h2, #violet #encadres .encadre_nav_auto h2{
	background:url(fond_titre_encadre_gen_violet.gif) no-repeat;
	color: #FFFFFF;
	/*background-color: #7254ca;*/
}


#violet #encadres .encadre_fiche,#violet #res_recherche{
	background-color:#e7dcff;
}

#violet #encadres .encadre_fiche h2, #violet .encadre_structure h2{
	color: #7b55c9;
}

#violet #encadres .encadre_rubrique h2{
	background:url(fond_titre_encadre_rub_violet.gif) no-repeat;
	color: #7b55c9;
}

#violet #encadres .encadre_rubrique strong,#violet #encadres .encadre_rubrique ul li{
	color: #7b55c9;
}

#violet .encadre_structure{
	background-color: #e7dcff;
	width: 175px;
}


/*menu niveau 1 */
#violet #navigation ul.niveau1{
	/*background-color:#d0ecc2;*/
	
}

#violet #navigation ul.niveau1 li{
	list-style-type:none;
	width:186px;
}

#violet #navigation ul.niveau1 a{
	color:#7b55c9;
	background:url(fond_nav1_violet.gif) no-repeat;
}


#violet #navigation ul.niveau1 a.survol, #violet #navigation ul.niveau1 a.selected{
	color: #FFFFFF;
	text-decoration:none;
	background:url(fond_nav1_violet_RO.gif) no-repeat;
	/*height: 22px;*/
}

#violet .arrondi_bas_petit{
	background:url(http://portail.univ-st-etienne.fr/ujm/img/arrondi_petit_bas_violet.gif) no-repeat;
	width: 462px;
	height:6px;
}

#violet .arrondi_bas_grand{
	background:url(arrondi_grand_bas_violet.gif) no-repeat;
	width: 700px;
	height:6px;
}

#violet .arrondi_haut_grand{
	background:url(arrondi_grand_haut_violet.gif) no-repeat;
	width: 700px;
	background-color:#e7dcff;
	height:6px;
}

/* bloc + commentaire */

#violet .arrondi_haut_bloc_bleu{
	background:url(arrondi_haut_bloc_violet.gif) no-repeat;
	background-color:#e7dcff;
}

#violet .arrondi_bas_bloc_bleu{
	background:url(arrondi_bas_bloc_violet.gif) no-repeat;
}

#violet .bloc_bleu{
	background-color:#e7dcff;
}

#violet .label_bloc{
	color:#7254ca;
}

#violet .item_bloc{
	/*border:1px solid black;*/
	clear:both;
}

#violet .bloc_commentaire span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_violet_gauche.gif) no-repeat;
}

#violet .bloc_commentaire span.arrondi_onglet_droit{
	background:url(arrondi_onglet_violet_droit.gif) no-repeat;
}

#violet .bloc_commentaire h4{
	background-color: #7254ca;
	color:#ffffff;
}

#violet .bloc_commentaire .haut_bloc{
	background:url(haut_bloc_commentaire_violet.gif) no-repeat;
	background-color:#7254ca;
}

#violet .bloc_commentaire .bas_bloc{
	background:url(bas_bloc_commentaire_violet.gif) no-repeat;
}

#violet .bloc_commentaire .date_commentaire{
	background:url(back_date_commentaire_violet.gif) repeat-y;
}

#violet .bloc_commentaire .contenu_commentaire{
	background:url(back_contenu_commentaire_violet.gif) repeat-y;
}

#violet .bloc_commentaire .titre_commentaire{
	background-color:#7254ca;
}

/*menu niveau 2 */
#violet #navigation ul.niveau2,#violet #navigation ul.niveau2Visible{
	/*background-color:#e9f6e2;*/
}

#violet #navigation ul.niveau2 li, #violet #navigation ul.niveau2Visible li{
	list-style-type:none;
	/*height: 25px;	*/
}

#violet #navigation ul.niveau2 a, #violet #navigation ul.niveau2Visible a{
	color:#7b55c9;
	background:url(fond_nav2_violet.gif) no-repeat;
	background-color:#f4f0ff;
}

#violet #navigation ul.niveau2 a:hover, #violet #navigation ul.niveau2Visible a:hover, #violet #navigation ul.niveau2Visible a.selected{
	color: #FFFFFF;
	text-decoration:none;
	background:url(fond_nav2_violet_RO.gif) no-repeat;
	background-color:#aa8fde;
}

/*Contenu centrale avec encadres*/
#violet #content h1,#violet #content h3, 
#violet.accueil .para-an h3,
#violet #navigation .navigation-collaboratif h3,
#violet #content #res_recherche li,
#violet #content .liste-pardefaut li{
	color: #7b55c9;
}

/* SPEC h3 */
#violet #content h3,#violet.accueil .para-an h3{
	border-bottom:1px solid #aa8fde;
	margin-bottom:5px;
}
/***********ACTUS***********/
#violet .style1 h2 {
	background: url(puce_style1_violet.gif) no-repeat;
	color: #7b55c9;
}

#violet .style2 h2 {
	background: url(fond_style2_violet.gif) repeat-x;
}

#violet .style2 .coinG_style2{
	background:url(coinG_style2_violet.gif) no-repeat;	
}

#violet .style2 .coinD_style2{
	background:url(coinD_style2_violet.gif) no-repeat;	
}

#violet .style1 .style1_deco{
	border-top: 1px solid #7b55c9;
	border-bottom: 1px solid #7b55c9;
}

#violet .actu_date{
	color:#7b55c9;
}

#violet .actu_titre{
	background:url(puce_style1_titre_violet.gif ) no-repeat;
	padding-left: 15px;
}

#violet .style2 .style2_deco{
	background-color:#e7dcff;
}

#violet .style3 h2{
	color: #7b55c9;
}

/*** TABLEAU ***/
#violet .tableau #contenu_tab{
	color:#7b55c9;
}

/*#violet #content .tableau ul li{
	background-color:#3cae00;
}*/

#violet #content .tableau ul#onglets li a{
background-color:#7b55c9;
}

#violet #content .tableau ul#onglets li#actif a{
	color:#7b55c9;
	background-color:#e7dcff;
}

#violet #content .tableau ul#onglets li#actif a:hover{
	color:#7b55c9;
}

/*#violet #content .tableau ul li#actif{
	background-color:#e3f3da;
	color:#3cae00;
}*/

#violet #content .tableau ul#onglets li a{
	color:#e7dcff;
}

#violet #content .tableau ul#onglets li a:hover{
	color:#fff;
	text-decoration:none;
}

#violet .tableau #contenu_tab{
	background-color:#e7dcff;
}

#violet .tableau #contenu_tab .col_centre{
	border-right: 1px solid #7b55c9;
	border-left: 1px solid #7b55c9;
}

#violet .tableau #contenu_tab .col_droit{
	border-right: 0;
}

#violet .tableau span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_violet_gauche.gif) no-repeat;
}

#violet .tableau span.arrondi_onglet_droit{
	background:url(arrondi_onglet_violet_droit.gif) no-repeat;
}

#violet .tableau li#actif span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_violet_gauche_RO.gif) no-repeat;
}

#violet .tableau li#actif span.arrondi_onglet_droit{
	background:url(arrondi_onglet_violet_droit_RO.gif) no-repeat;

}

/*formulaire*/
#violet #form_centrale .ligne_form span{
	color: #7b55c9;
	border-top:1px solid #7b55c9;
	border-left:1px solid #7b55c9;
}

#violet #form_centrale .champs_form{
	background-color: #e7dcff;
	border:1px solid #7b55c9;
	border-bottom:0;
}

#violet .encadre_nav_auto form{
	color: #7b55c9;
}

#violet .bouton_form a, #violet  #form_centrale .bouton_form a, #violet .encadre_nav_auto .bouton_form a{
	background:url(arrondiG_bouton_violet.gif) no-repeat;
	background-color: #7b55c9;
}

#violet .bouton_form span, #violet #form_centrale .bouton_form span, #violet .encadre_nav_auto .bouton_form span{
	background:url(arrondiD_bouton_violet.gif) no-repeat;
}

#violet #res_recherche .bouton_form a{
	background:url(arrondiG2_bouton_violet.gif) no-repeat;
	background-color: #7b55c9;
}

#violet #res_recherche .bouton_form span{
	background:url(arrondiD2_bouton_violet.gif) no-repeat;
}
/*********** FIN TEMPLATE violet *****************/


/*********** TEMPLATE vertC *****************/

#vertC #fil_ariane .selected{
	color:#93c205;
}

#vertC #header{
	background:url(header1_vertC.jpg) no-repeat;
}

#vertC #encadres .encadre_generique h2, #vertC #encadres .encadre_nav_auto h2{
	background:url(fond_titre_encadre_gen_vertC.gif) no-repeat;
	color: #FFFFFF;
	/*background-color: #93c205;*/
}


#vertC #encadres .encadre_fiche,#vertC #res_recherche{
	background-color:#e3f19a;
}

#vertC #encadres .encadre_fiche h2, #vertC .encadre_structure h2{
	color: #93c205;
}

#vertC #encadres .encadre_rubrique h2{
	background:url(fond_titre_encadre_rub_vertC.gif) no-repeat;
	color: #e3f19a;
}

#vertC #encadres .encadre_rubrique strong{
	color: #93c205;
}

#vertC .encadre_structure{
	background-color: #e3f19a;
	width: 175px;
}


/*menu niveau 1 */
#vertC #navigation ul.niveau1{
	/*background-color:#d0ecc2;*/
	
}

#vertC #navigation ul.niveau1 li{
	list-style-type:none;
	width:186px;
}

#vertC #navigation ul.niveau1 a{
	color:#93c205;
	background:url(fond_nav1_vertC.gif) no-repeat;
}


#vertC #navigation ul.niveau1 a.survol, #vertC #navigation ul.niveau1 a.selected{
	color: #FFFFFF;
	text-decoration:none;
	background:url(fond_nav1_vertC_RO.gif) no-repeat;
	height: 22px;
}

#vertC .arrondi_bas_petit{
	background:url(http://portail.univ-st-etienne.fr/ujm/img_etu/arrondi_petit_bas_vertC.gif) no-repeat;
	width: 462px;
	height:6px;
}

#vertC .arrondi_bas_grand{
	background:url(arrondi_grand_bas_vertC.gif) no-repeat;
	width: 700px;
	height:6px;
}

#vertC .arrondi_haut_grand{
	background:url(arrondi_grand_haut_vertC.gif) no-repeat;
	width: 700px;
	background-color:#e3f19a;
	height:6px;
}

/* bloc + commentaire */
#vertC .arrondi_haut_bloc_bleu{
	background:url(arrondi_haut_bloc_vertC.gif) no-repeat;
	background-color:#e3f19a;
}

#vertC .arrondi_bas_bloc_bleu{
	background:url(arrondi_bas_bloc_vertC.gif) no-repeat;
}

#vertC .bloc_bleu{
	background-color:#e3f19a;
}

#vertC .label_bloc{
	color:#93c205;
}

#vertC .item_bloc{
	/*border:1px solid black;*/
	clear:both;
}

#vertC .bloc_commentaire span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_vertC_gauche.gif) no-repeat;
}

#vertC .bloc_commentaire span.arrondi_onglet_droit{
	background:url(arrondi_onglet_vertC_droit.gif) no-repeat;
}

#vertC .bloc_commentaire h4{
	background-color: #93c205;
	color:#ffffff;
}

#vertC .bloc_commentaire .haut_bloc{
	background:url(haut_bloc_commentaire_vertC.gif) no-repeat;
	background-color:#93c205;
}

#vertC .bloc_commentaire .bas_bloc{
	background:url(bas_bloc_commentaire_vertC.gif) no-repeat;
}

#vertC .bloc_commentaire .date_commentaire{
	background:url(back_date_commentaire_vertC.gif) repeat-y;
}

#vertC .bloc_commentaire .contenu_commentaire{
	background:url(back_contenu_commentaire_vertC.gif) repeat-y;
}

#vertC .bloc_commentaire .titre_commentaire{
	background-color:#93c205;
}


/*menu niveau 2 */
#vertC #navigation ul.niveau2,#vertC #navigation ul.niveau2Visible{
	/*background-color:#e9f6e2;*/
}

#vertC #navigation ul.niveau2 li, #vertC #navigation ul.niveau2Visible li{
	list-style-type:none;
	/*height: 25px;*/	
}

#vertC #navigation ul.niveau2 a, #vertC #navigation ul.niveau2Visible a{
	color:#93c205;
	background:url(fond_nav2_vertC.gif) no-repeat;
}

#vertC #navigation ul.niveau2 a:hover, #vertC #navigation ul.niveau2Visible a:hover, #vertC #navigation ul.niveau2Visible a.selected{
	color: #FFFFFF;
	text-decoration:none;
	background:url(fond_nav2_vertC_RO.gif) no-repeat;
}

/*Contenu centrale avec encadres*/
#vertC #content h1,#vertC #content h3, 
#vertC.accueil .para-an h3
#vertC #navigation .navigation-collaboratif h3,
#vertC #content #res_recherche li,
#vertC #content .liste-pardefaut li{
	color: #93c205;
}
/* ligne séparatrice du contenu */
#vertC #content h3,#vertC.accueil .para-an h3{
	border-bottom:1px solid #93c205;
	margin-bottom:5px;
}

/***********ACTUS***********/
#vertC .style1 h2 {
	background: url(puce_style1_vertC.gif) no-repeat;
	color: #93c205;
}

#vertC .style2 h2 {
	background: url(fond_style2_vertC.gif) repeat-x;
}

#vertC .style2 .coinG_style2{
	background:url(coinG_style2_vertC.gif) no-repeat;	
}

#vertC .style2 .coinD_style2{
	background:url(coinD_style2_vertC.gif) no-repeat;	
}


#vertC .style1 .style1_deco{
	border-top: 1px solid #93c205;
	border-bottom: 1px solid #93c205;
}

#vertC .actu_date{
	color:#93c205;
}

#vertC .actu_titre{
	background:url(puce_style1_titre_vertC.gif ) no-repeat;
	padding-left: 15px;
}

#vertC .style2 .style2_deco{
	background-color:#e3f19a;
}

#vertC .style3 h2{
	color: #93c205;
}

/*** TABLEAU ***/
#vertC .tableau #contenu_tab{
	color:#93c205;
}

/*#vertC #content .tableau ul li{
	background-color:#3cae00;
}*/

#vertC #content .tableau ul#onglets li a{
background-color:#93c205;
}

#vertC #content .tableau ul#onglets li#actif a{
	color:#93c205;
	background-color:#e3f19a;
}

#vertC #content .tableau ul#onglets li#actif a:hover{
	color:#93c205;
}

/*#vertC #content .tableau ul li#actif{
	background-color:#e3f3da;
	color:#3cae00;
}*/

#vertC #content .tableau ul#onglets li a{
	color:#e3f19a;
}

#vertC #content .tableau ul#onglets li a:hover{
	color:#fff;
	text-decoration:none;
}

#vertC .tableau #contenu_tab{
	background-color:#e3f19a;
}

#vertC .tableau #contenu_tab .col_centre{
	border-right: 1px solid #93c205;
	border-left: 1px solid #93c205;
}

#vertC .tableau #contenu_tab .col_droit{
	border-right: 0;
}

#vertC .tableau span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_vertC_gauche.gif) no-repeat;
}

#vertC .tableau span.arrondi_onglet_droit{
	background:url(arrondi_onglet_vertC_droit.gif) no-repeat;
}

#vertC .tableau li#actif span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_vertC_gauche_RO.gif) no-repeat;
}

#vertC .tableau li#actif span.arrondi_onglet_droit{
	background:url(arrondi_onglet_vertC_droit_RO.gif) no-repeat;

}

/*formulaire*/
#vertC #form_centrale .ligne_form span{
	color: #93c205;
	border-top:1px solid #93c205;
	border-left:1px solid #93c205;
}

#vertC #form_centrale .champs_form{
	background-color: #e3f19a;
	border:1px solid #93c205;
	border-bottom:0;
}

#vertC .encadre_nav_auto form{
	color: #93c205;
}


#vertC .bouton_form a, #vertC  #form_centrale .bouton_form a, #vertC .encadre_nav_auto .bouton_form a{
	background:url(arrondiG_bouton_vertC.gif) no-repeat;
	background-color: #93c205;
}

#vertC .bouton_form span, #vertC #form_centrale .bouton_form span, #vertC .encadre_nav_auto .bouton_form span{
	background:url(arrondiD_bouton_vertC.gif) no-repeat;
}

#vertC #res_recherche .bouton_form a{
	background:url(arrondiG2_bouton_vertC.gif) no-repeat;
	background-color: #93c205;
}

#vertC #res_recherche .bouton_form span{
	background:url(arrondiD2_bouton_vertC.gif) no-repeat;
}
/* Arrondi en haut de la zone centrale */
#vertC #main #arrondi_haut{
	background:url(arrondi_haut_main.gif.1) no-repeat;
}	

#vertC #main2 #arrondi_haut{
	background:url(arrondi_haut_main2.gif.1) no-repeat;
}

#vertC #main #arrondi_bas{
	background:url(arrondi_bas_main.gif.1) no-repeat;
}

#vertC #main2 #arrondi_bas{
	background:url(arrondi_bas_main2.gif.1) no-repeat;
}

/* body etu  */
body#vertC {	
	background:url(bck_etu.jpg) top center repeat-x;
	background-color:#feda19;
}
/*********** FIN TEMPLATE vertC *****************/


/*********** TEMPLATE vertF *****************/

#vertF #fil_ariane .selected{
	color:#0ba78d;
}

#vertF #header{
	background:url(header1_vertF.jpg) no-repeat;
}

#vertF #encadres .encadre_generique h2, #vertF #encadres .encadre_nav_auto h2{
	background:url(fond_titre_encadre_gen_vertF.gif) no-repeat;
	color: #FFFFFF;
	/*background-color: #0ba78d;*/
}


#vertF #encadres .encadre_fiche,#vertF #res_recherche{
	background-color:#d0f4ed;
}

#vertF #encadres .encadre_fiche h2, #vertF .encadre_structure h2{
	color: #0ba78d;
}

#vertF #encadres .encadre_rubrique h2{
	background:url(fond_titre_encadre_rub_vertF.gif) no-repeat;
	color: #0ba78d;
}

#vertF #encadres .encadre_rubrique strong{
	color: #0ba78d;
}

#vertF .encadre_structure{
	background-color: #d0f4ed;
	width: 175px;
}


/*menu niveau 1 */
#vertF #navigation ul.niveau1{
	/*background-color:#d0ecc2;*/
	
}

#vertF #navigation ul.niveau1 li{
	list-style-type:none;
	width:186px;
}

#vertF #navigation ul.niveau1 a{
	color:#0ba78d;
	background:url(fond_nav1_vertF.gif) no-repeat;
}

#vertF #navigation ul.niveau1 a.survol, #vertF #navigation ul.niveau1 a.selected{
	color: #FFFFFF;
	text-decoration:none;
	background:url(fond_nav1_vertF_RO.gif) no-repeat;
	/*height: 22px;*/
}

#vertF .arrondi_bas_petit{
	background:url(http://portail.univ-st-etienne.fr/ujm/img_intranet/arrondi_petit_bas_vertF.gif) no-repeat;
	width: 462px;
	height:6px;
}

#vertF .arrondi_bas_grand{
	background:url(arrondi_grand_bas_vertF.gif) no-repeat;
	width: 700px;
	height:6px;
}

#vertF .arrondi_haut_grand{
	background:url(arrondi_grand_haut_vertF.gif) no-repeat;
	width: 700px;
	background-color:#d0f4ed;
	height:6px;
}

/* bloc */
#vertF .arrondi_haut_bloc_bleu{
	background:url(arrondi_haut_bloc_vertF.gif) no-repeat;
	background-color:#d0f4ed;
}

#vertF .arrondi_bas_bloc_bleu{
	background:url(arrondi_bas_bloc_vertF.gif) no-repeat;
}

#vertF .bloc_bleu{
	background-color:#d0f4ed;
}

#vertF .label_bloc{
	color:#0ba78d;
}

/* commentaire */
#vertF .bloc_commentaire span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_vertF_gauche.gif) no-repeat;
}

#vertF .bloc_commentaire span.arrondi_onglet_droit{
	background:url(arrondi_onglet_vertF_droit.gif) no-repeat;
}

#vertF .bloc_commentaire h4{
	background-color: #0ba78d;
	color:#ffffff;
}

#vertF .bloc_commentaire .haut_bloc{
	background:url(haut_bloc_commentaire_vertF.gif) no-repeat;
	background-color:#0ba78d;
}

#vertF .bloc_commentaire .bas_bloc{
	background:url(bas_bloc_commentaire_vertF.gif) no-repeat;
}

#vertF .bloc_commentaire .date_commentaire{
	background:url(back_date_commentaire_vertF.gif) repeat-y;
}

#vertF .bloc_commentaire .contenu_commentaire{
	background:url(back_contenu_commentaire_vertF.gif) repeat-y;
}

#vertF .bloc_commentaire .titre_commentaire{
	background-color:#0ba78d;
}


/*menu niveau 2 */
#vertF #navigation ul.niveau2,#vertF #navigation ul.niveau2Visible{
	/*background-color:#e9f6e2;*/
}

#vertF #navigation ul.niveau2 li, #vertF #navigation ul.niveau2Visible li{
	list-style-type:none;
	/*height: 25px;*/	
}

#vertF #navigation ul.niveau2 a, #vertF #navigation ul.niveau2Visible a{
	color:#0ba78d;
	background:url(fond_nav2_vertF.gif) no-repeat;
}

#vertF #navigation ul.niveau2 a:hover, #vertF #navigation ul.niveau2Visible a:hover, #vertF #navigation ul.niveau2Visible a.selected{
	color: #FFFFFF;
	text-decoration:none;
	background:url(fond_nav2_vertF_RO.gif) no-repeat;
}

/*Contenu centrale avec encadres*/
#vertF #content h1,
#vertF #content h3,
#vertF.accueil .para-an h3,
#vertF #navigation .navigation-collaboratif h3,
#vertF #content #res_recherche li,
#vertF #content .liste-pardefaut li{
	color: #0ba78d;
}
/* ligne séparatrice du contenu */
#vertF #content h3,#vertF.accueil .para-an h3{
	border-bottom:1px solid #0ba78d;
	margin-bottom:5px;
}


/***********ACTUS***********/
#vertF .style1 h2 {
	background: url(puce_style1_vertF.gif) no-repeat;
	color: #0ba78d;
}

#vertF .style2 h2 {
	background: url(fond_style2_vertF.gif) repeat-x;
}

#vertF .style2 .coinG_style2{
	background:url(coinG_style2_vertF.gif) no-repeat;	
}

#vertF .style2 .coinD_style2{
	background:url(coinD_style2_vertF.gif) no-repeat;	
}

#vertF .style1 .style1_deco{
	border-top: 1px solid #0ba78d;
	border-bottom: 1px solid #0ba78d;
}

#vertF .actu_date{
	color:#0ba78d;
}

#vertF .actu_titre{
	background:url(puce_style1_titre_vertF.gif ) no-repeat;
	padding-left: 15px;
}

#vertF .style2 .style2_deco{
	background-color:#d0f4ed;
}

#vertF .style3 h2{
	color: #0ba78d;
}

/*** TABLEAU ***/
#vertF .tableau #contenu_tab{
	color:#0ba78d;
}

/*#vertF #content .tableau ul li{
	background-color:#3cae00;
}*/

#vertF #content .tableau ul#onglets li a{
background-color:#0ba78d;
}

#vertF #content .tableau ul#onglets li#actif a{
	color:#0ba78d;
	background-color:#d0f4ed;
}

#vertF #content .tableau ul#onglets li#actif a:hover{
	color:#0ba78d;
}

/*#vertF #content .tableau ul li#actif{
	background-color:#e3f3da;
	color:#3cae00;
}*/

#vertF #content .tableau ul#onglets li a{
	color:#d0f4ed;
}

#vertF #content .tableau ul#onglets li a:hover{
	color:#fff;
	text-decoration:none;
}

#vertF .tableau #contenu_tab{
	background-color:#d0f4ed;
}

#vertF .tableau #contenu_tab .col_centre{
	border-right: 1px solid #0ba78d;
	border-left: 1px solid #0ba78d;
}

#vertF .tableau #contenu_tab .col_droit{
	border-right: 0;
}

#vertF .tableau span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_vertF_gauche.gif) no-repeat;
}

#vertF .tableau span.arrondi_onglet_droit{
	background:url(arrondi_onglet_vertF_droit.gif) no-repeat;
}

#vertF .tableau li#actif span.arrondi_onglet_gauche{
	background:url(arrondi_onglet_vertF_gauche_RO.gif) no-repeat;
}

#vertF .tableau li#actif span.arrondi_onglet_droit{
	background:url(arrondi_onglet_vertF_droit_RO.gif) no-repeat;

}

/*formulaire*/
#vertF #form_centrale .ligne_form span{
	color: #0ba78d;
	border-top:1px solid #0ba78d;
	border-left:1px solid #0ba78d;
}

#vertF #form_centrale .champs_form{
	background-color: #d0f4ed;
	border:1px solid #0ba78d;
	border-bottom:0;
}

#vertF .encadre_nav_auto form{
	color: #0ba78d;
}


#vertF .bouton_form a, #vertF  #form_centrale .bouton_form a, #vertF .encadre_nav_auto .bouton_form a{
	background:url(arrondiG_bouton_vertF.gif) no-repeat;
	background-color: #0ba78d;
}

#vertF .bouton_form span, #vertF #form_centrale .bouton_form span,#vertF .encadre_nav_auto .bouton_form span{
	background:url(arrondiD_bouton_vertF.gif) no-repeat;
}

#vertF #res_recherche .bouton_form a{
	background:url(arrondiG2_bouton_vertF.gif) no-repeat;
	background-color: #0ba78d;
}

#vertF #res_recherche .bouton_form span{
	background:url(arrondiD2_bouton_vertF.gif) no-repeat;
}

/* Arrondi en haut de la zone centrale */
#vertF #main #arrondi_haut{
	background:url(arrondi_haut_main.gif.2) no-repeat;
}	

#vertF #main2 #arrondi_haut{
	background:url(arrondi_haut_main2.gif.2) no-repeat;
}

#vertF #main #arrondi_bas{
	background:url(arrondi_bas_main.gif.2) no-repeat;
}

#vertF #main2 #arrondi_bas{
	background:url(arrondi_bas_main2.gif.2) no-repeat;
}

/* body etu  */
body#vertF {	
	background:url(bck.jpg.1) top center repeat-x;
	background-color:#56e9dd;
}
/*********** FIN TEMPLATE vertF *****************/


/*********** Personnalisation *******************/
/*
.bloc_actu{
	overflow:auto;
}

.colonne_titre{
	height:20px;
	background-color:#98d001;
	padding-left:14px;
	padding-top:4px;
	margin-bottom:6px;
}

#colonne_gauche{
	background-color:#fff;
	margin:0 373px 5px 12px;
	width:279px;
}
#colonne_gauche p, #colonne_droite p{
	padding:6px;
}

#colonne_droite{
	width:373px;
	float:right;
	margin-right:12px;
}
#colonne_droite .image{
	position:relative;
	background-color:#fff;
	margin:5px 12px 5px 0;
	width:60px;
}
#colonne_droite .contenu{
	width:290px;
	margin-right:10px;
	float:right;
}
.actuHome_titre{
	background:url(img/bulle.gif) top left no-repeat;
	padding-left:18px;
}
.actu_date{
	margin-bottom:5px;
}
.news{
	margin-bottom:12px;
}

.colonne_titre{
	color:#fff;
	font-size:16px;
	font-weight:bold;
}
*/


.accueil #encadres .encadre_lien{
	background-color:#99d100;
	margin-bottom:10px;
	margin-top:5px;
}

.accueil #encadres .encadre_lien h2{
	color: #FFFFFF;
	font-weight: bold;
	display:block;
	padding:5px 10px 5px 10px;
	
	font-family:Verdana;
	font-size:11px;
	line-height:16px;
}

.accueil #encadres .encadre_lien .encadre_contenu{
	overflow:hidden;
	padding:0 10px 10px 10px;
}

.accueil #encadres .encadre_lien a{
	margin:0;
	display:block;
	color: #06508e;
	font-weight: bold;
	background:url(puce_lien_accueil.gif) no-repeat;
	padding: 0 5px 0 10px;
	float:left;
}

.accueil #encadres .encadre_lien ul{
	list-style-type:none;
	padding:0px;
	weight:50px;
	list-style-position: inside;
}

#bleu #encadres .encadre_lien h2{
	background:none;
	color:#FFFFFF;
}


/************************************ Elements du centre **************************************/
.colonne div{
	font-size:10px;
	color:#000;
	/*line-height:11px;*/
	/*text-align:justify;*/
}

.colonne em a{
	font-weight:bold;
}

.accueil .colonne ul {
	list-style: none;
}
.accueil .colonne ul li em a{
	background:url(bulle.gif) top left no-repeat;
	padding-left:18px;
	color:#1365ab;
}
.accueil .colonne ul li .date-liste{
	display:block;
	margin-bottom:5px;
	color:#98d001;
	font-size:11px;
	font-weight:bold;	
}

.arrondi_haut_grand{
	clear:both;
}

div.colonne_deco .liste-objets li div {
display : block;
}

div.bouton_form div {
	float:left
}

.bouton_form {
float:left;
}

dl dt {
	float:left;
}

dl dd {
	padding-bottom:5px;
}

.offresstagesemplois .para-an dl dd {
	margin-left:35%;
}

.para-an ul, #telecharger {
	list-style: none;
}

.ueup #content TABLE{
	width:450px;
	float:left;
}
.ueup TABLE th{
	text-align:left;
	width:50%;
	vertical-align: top;
}

.ueup #encadres TABLE{
	width:210px;
}

.both{
	clear:both;
}
.actu .both{
	clear:both;
	/*background:#00FF00;*/
	font-size:1px; line-height:1px;
}

.left{
	float:left;
}

#betweentab{
	width:10px;
	float:left;
}

#recherche_simple INPUT {
	color:#aaa;
}


#content .tableau #contenu_tab dl dt {
color:#000;
font-weight:bold;
width:100%;
}
#content .tableau #contenu_tab dl dd {
float:left;
margin:0;
}
/* hack CSS pour IE */
* html body.formation dl.type_1 dd {
height : 2.5em;
}

/* style en gras des encadres */
div.encadre_contenu a{
	color:#1365AB;
	font-weight:bold;	
}

/* ne pas afficher la légende des images */
.legende{
	display:none;
}

.actualite .date{
padding-top:10px;
}

#contenu_avec_encadres p#chapeau, #contenu_avec_encadres div#resume, #contenu_avec_encadres div#objet, #contenu_avec_encadres #domaines_formation{
	padding-bottom:10px;
	color:#8F8F8F;
}

.article #date{
	font-weight: bold;
}

.para-annuaire{
	padding-bottom:10px;
}

.ueup #details th, .ueup #volumes_horaires th{
	text-align:right;
	padding-right:4px;
}

.formation dt, .laboratoire dt, .offresstagesemplois dt, .document dt{
	font-weight: bold;
}

.offresstagesemplois dt{
	text-align:right;
	width:35%;
	margin-right:3px;
}

.offresstagesemplois #content .bloc_bleu .para-an {
	padding-top:0px;
}

.offresstagesemplois #content .bloc_bleu .para-an h3 {
	padding-top:0px;	
	margin:0px 5px;
}

/* liste de document */
.liste-actualites .actu_resume{
	/*margin-left:15px;*/
}
.liste-actualites .actu_resume0006, .liste-actualites .actu_resume0004{
	margin-left:15px;
}
.sansstyle .liste-actualites .actu_resume0006, .style1 .liste-actualites .actu_resume0006, .style2 .liste-actualites .actu_resume0006{
	margin-left:15px;
}

.style3 .liste-actualites .actu_date0003, .style3 .liste-actualites .actu_date0004,.style3 .liste-actualites .actu_resume0004{
	margin-left:15px;
}
.sansstyle .liste-actualites .actu_date0003,.sansstyle .liste-actualites .actu_date0004, .style1 .liste-actualites .actu_date0003,.style1 .liste-actualites .actu_date0004, .style2 .liste-actualites .actu_date0003,.style2 .liste-actualites .actu_date0004, .style1 .liste-actualites .actu_date0003{
	margin-left:15px;
}

.sansstyle .liste-articles .s0001,.sansstyle .liste-articles .s0003,.style1 .liste-articles .s0001,.style1 .liste-articles .s0003, .style2 .liste-articles .s0001, .style2 .liste-articles .s0003{
	margin-left:15px;
}

.style3 .liste-articles .s0001, .style3 .liste-articles .s0003{
	margin-left:15px;
}


.sansstyle .liste-documents .s0001,.sansstyle .liste-documents .s0002,.sansstyle .liste-documents .s0003,.style1 .liste-documents .s0001,.style1 .liste-documents .s0002,.style1 .liste-documents .s0003, .style2 .liste-documents .s0001, .style2 .liste-documents .s0002, .style2 .liste-documents .s0003{
	margin-left:15px;
}

.style3 .liste-documents .s0001, .style3 .liste-documents .s0003{
	margin-left:15px;
}

#bleu .actu_titre_vignette,
#vert .actu_titre_vignette,
#rose .actu_titre_vignette,
#jaune .actu_titre_vignette,
#orange .actu_titre_vignette,
#rouge .actu_titre_vignette,
#violet .actu_titre_vignette,
#vertC .actu_titre_vignette,
#vertF .actu_titre_vignette{
	background:none;
	padding-left: 0px;
}

.liste-actualites .vignette_right {
	/*padding:0px 0px 10px 95px;*/
	float:left;
	/*	width:309px;*/
}
.actu .liste-actualites .vignette_right,
.intranet .liste-actualites .vignette_right {
	width:309px;
}
.vieetudiante .liste-actualites .vignette_right,
#vertF .liste-actualites .vignette_right,
#vertC .liste-actualites .vignette_right  {
	width:289px;
}

.accueil .liste-actualites li {
	padding-bottom:10px;	
}

.accueil .liste-actualites .vignette_right span, 
.accueil .liste-actualites .vignette_right div {
	width:270px;
}
.accueil .liste-actualites .vignette_right span {
	display:block;
}
.accueil .liste-actualites .vignette_right br {
	display:none;
}

.liste-documents .vignette_right,
.liste-articles .vignette_right {
	padding-left:95px;	
}

.download-liste {
	display:block;	
	margin-left:0px;
}

.sansstyle .liste-documents .download-liste.s0002,
.style1 .liste-documents .download-liste.s0002,
.style2 .liste-documents .download-liste.s0002,
.style3 .liste-documents .download-liste.s0002 {
	margin-left:0px;
}

.liste-documents li {
	padding-top:5px;
	padding-bottom:5px;
}
	
.doublefleche{
	font-weight: bold;
	font-size:smaller;
	padding-left:5px;
}
/* formulaire */
.gestion label, .objet-formulaire label {
	display:inline;
	vertical-align:top;
}
#content .gestion FORM SELECT{
	width: auto;
}
#content  FORM.gestion .ChampSaisie{
	width: auto;
	text-align:left;
}
#content FORM.gestion .readonly{
	width: auto;
	text-align:left;
}
#content FORM.gestion .date INPUT{
	width: auto;
}


/* flux rss */
.fluxrss a {
	font-size:11px;
	font-weight:bold;	
	color:#1365ab;
}

.gestion ul {
	list-style-type:none;
}

IMG {
	border:0px;
}

.navigation-collaboratif {
	padding-right:10px;
}

.navigation-collaboratif #espace{
	padding-left:5px;
}

.navigation-collaboratif li{
	list-style-type: none;
}

.navigation-collaboratif #liste_espaces select {
	width: 150px;
}

.navigation-collaboratif fieldset {
	border:0px;	
}

.collaboratif #content TABLE {
	width:100%;
}

/* extension de fichier */
.fileext {
 	text-indent:5px;
}

.print{
	float:right;
}

/* actualité champs date dans l encadré de droite */
#encadres .encadre_nav_auto .date{
	padding-top:0px;
}

/* fiche annuaire */
.annuaireksup .para-annuaire .title {
	font-weight:bold;
	padding-right:5px;
	float:left;
	width:75px;
	text-align:right;
}
.annuaireksup .para-annuaire .annuaire-fct {
	margin-left:80px;
}

.annuaireksup .mail {
	padding-bottom:15px;
}

.para-an{
	padding-top:5px;
	padding-bottom:5px;
	clear:both;
}

.contenu_titreprint{
	display:none;
}

#descriptif {
	clear:both;
}

.marchepublic .attribution, .marchepublic .renseignement {
	width:100%;	
}

.marchepublic .attribution .titre,.marchepublic .renseignement .titre  {
	color:#000;
	font-weight:bold;
	width:50%;
	text-align:right;
	padding-right:10px;
}
.marchepublic .attribution td,.marchepublic .renseignement td  {
	width:50%;
	vertical-align:top;
}

.formation #villes {
	clear:both;
}
.defaultstructureksup #villes,
.laboratoire #villes {
	display:none;
}
.clearboth {
clear:both
}

.photo {
clear:both;
}

.et_apres dt {
	float:none;
}

.formation .para-an ul.parcours{
	list-style-type: disc;
	list-style-position:inside;
}

.formation .para-an ul.parcours ul{
	list-style-type: none;
	list-style-position:none;
}

.formation .parcours ul{
	margin-left:15px;
}
.formation .parcours ul li {
	padding-bottom:3px;
}

.formation #content h1,.laboratoire #content h1 {
font-size:20px;
font-weight:100;
line-height:30px;
}

/** affichage des puces sur les listes par default **/
#content .sansstyle ul.liste-pardefaut,
#content .style1 ul.liste-pardefaut,
#content .style2 ul.liste-pardefaut,
#content .style3 ul.liste-pardefaut,
#content #encadres ul.liste-pardefaut {
	margin:0px 0px 0px 25px;
}
#content .sansstyle ul.liste-pardefaut li,
#content .style1 ul.liste-pardefaut li,
#content .style2 ul.liste-pardefaut li,
#content .style3 ul.liste-pardefaut li,
#content #encadres ul.liste-pardefaut li {
	list-style-type: disc;
	/*list-style-position:inside;*/
	list-style-position:outside;
	padding-bottom:5px;
}

#connexion ul {
	list-style-type: none;
	list-style-position: inside;
}

#personne_dsi span {
	display:block;
	font-weight: bold;
}

fieldset {
padding:10px;
margin-bottom:10px;
}

legend {
padding:0px 10px;
}

#divsts {
display:none;
}

#connexion #profil {
	display:none;
}



/****/

#content ul, #content ol {
	margin:0px 0px 0px 25px;
}
#content .style3 ul, #content .style1 ul, #content .style2 ul, #content #encadres ul {
	margin:0px 0px 0px 0px;
}
#content .sansstyle ul {
	margin:0px 0px 0px 25px;
}
#content .sansstyle ul li,
#content .sansstyle ul.liste-pardefaut li {
	/*list-style-type:disc;*/
	list-style-type:none;
}
#content .sansstyle .style1 ul.liste-offresstagesemplois li,
#content .sansstyle .style2 ul.liste-offresstagesemplois li,
#content .sansstyle .style3 ul.liste-offresstagesemplois li,
#content .sansstyle .style4 ul.liste-offresstagesemplois li {
	list-style-image:url(puce_style1_titre_bleu.gif);
}

.sansstyle ol li, .style3 ol li, .style1 ol li, .style2 ol li {
	list-style-type:decimal;
}
.sansstyle ul li, .style3 ul li, .style1 ul li, .style2 ul li {
	list-style-type:disc;
}
.style3 ul li, .style1 ul li, .style2 ul li {
	margin:0px 0px 0px 25px;
}

.style3 ul.liste-objets li, .style1 ul.liste-objets li, .style2 ul.liste-objets li {
	margin:0px 0px 0px 0px;
}

.sansstyle ol.liste-objets li, .style3 ol.liste-objets li, .style1 ol.liste-objets li, .style2 ol.liste-objets li {
	list-style-type:none;
}
.sansstyle ul.liste-objets li, .style3 ul.liste-objets li, .style1 ul.liste-objets li, .style2 ul.liste-objets li {
	list-style-type:none;
}


#content .sansstyle ol li 
#content .style1 ol li,
#content .style2 ol li,
#content .style3 ol li,
#content .style4 ol li {
	list-style-type:decimal;
}

#content .sansstyle ol.liste-objets li 
#content .style1 ol.liste-objets li,
#content .style2 ol.liste-objets li,
#content .style3 ol.liste-objets li,
#content .style4 ol.liste-objets li {
	list-style-type:none;
}

#content .sansstyle ol ul li,
#content .sansstyle ul li,
#content .style1 ol ul li,
#content .style1 ul li,
#content .style2 ol ul li,
#content .style2 ul li,
#content .style3 ol ul li,
#content .style3 ul li,
#content .style4 ol ul li,
#content .style4 ul li {
	list-style-type:disc;
}

#content .sansstyle ol ul.liste-objets li,
#content .sansstyle ul.liste-objets li,
#content .style1 ol ul.liste-objets li,
#content .style1 ul.liste-objets li,
#content .style2 ol ul.liste-objets li,
#content .style2 ul.liste-objets li,
#content .style3 ol ul.liste-objets li,
#content .style3 ul.liste-objets li,
#content .style4 ol ul.liste-objets li,
#content .style4 ul.liste-objets li {
	list-style-type:none;
}

#content .sansstyle ul.liste-pardefaut li,
#content .style1 ul.liste-pardefaut li,
#content .style2 ul.liste-pardefaut li,
#content .style3 ul.liste-pardefaut li,
#content .style4 ul.liste-pardefaut li {
	list-style-type:disc;
}


#content .sansstyle li.actu {
	list-style-type:none;
}
#content .sansstyle ul.liste-objets {
	margin:0px 0px 0px 0px;
}
#content .sansstyle .style1 ul.liste-objets,
#content .sansstyle .style2 ul.liste-objets,
#content .sansstyle .style3 ul.liste-objets,
#content .sansstyle .style4 ul.liste-objets {
	margin:0px 0px 0px 25px;
}
#content #telecharger {
	margin:0px 0px 0px 0px;
}
.para-an ul {
	list-style: disc;
}
li.actu {
	list-style:none;
}
#contenu_tab .contenu_tab_colonnes {
	width:452px;
	float:left;
}
#bleu #contenu_tab .contenu_tab_colonnes {
	background:transparent url(fond_colonnes_bleu.gif) repeat-y;
	background-color:#e0f0ff;
}
#vert #contenu_tab .contenu_tab_colonnes{
	background:transparent url(fond_colonnes_vert.gif) repeat-y;
}
#rouge #contenu_tab .contenu_tab_colonnes{
	background:transparent url(fond_colonnes_rouge.gif) repeat-y;
}
#orange #contenu_tab .contenu_tab_colonnes{
	background:transparent url(fond_colonnes_orange.gif) repeat-y;
}
#jaune #contenu_tab .contenu_tab_colonnes{
	background:transparent url(fond_colonnes_jaune.gif) repeat-y;
}
#rose #contenu_tab .contenu_tab_colonnes{
	background:transparent url(fond_colonnes_rose.gif) repeat-y;
}
#violet #contenu_tab .contenu_tab_colonnes{
	background:transparent url(fond_colonnes_violet.gif) repeat-y;
}
#vertC #contenu_tab .contenu_tab_colonnes{
	background:transparent url(fond_colonnes_vertC.gif) repeat-y;
}
#vertF #contenu_tab .contenu_tab_colonnes{
	background:transparent url(fond_colonnes_vertF.gif) repeat-y;
}

.accueil .para-an {
	padding:5px 15px 5px 15px;
}

.etudiant .photo {
	float:right;
	padding:0px 0px 10px 10px;
	background:#FFFFFF;
}
.etudiant .para-an {
	clear:none;
}

.liste-offresstagesemplois .bold {
	font-weight: bold;
}

.liste-offresstagesemplois li {
	padding-bottom:10px;	
}

#bleu ul.liste-offresstagesemplois li {
	padding-left:15px; background:transparent url(puce_style1_titre_bleu.gif ) no-repeat 0px 2px;
}
#rouge ul.liste-offresstagesemplois li {
	padding-left:15px; background:transparent url(puce_style1_titre_bleu.gif ) no-repeat 0px 2px;
}
#orange ul.liste-offresstagesemplois li {
	padding-left:15px; background:transparent url(puce_style1_titre_bleu.gif ) no-repeat 0px 2px;
}
#jaune ul.liste-offresstagesemplois li {
	padding-left:15px; background:transparent url(puce_style1_titre_bleu.gif ) no-repeat 0px 2px;
}
#rose ul.liste-offresstagesemplois li {
	padding-left:15px; background:transparent url(puce_style1_titre_bleu.gif ) no-repeat 0px 2px;
}
#violet ul.liste-offresstagesemplois li {
	padding-left:15px; background:transparent url(puce_style1_titre_bleu.gif ) no-repeat 0px 2px;
}
#vertC ul.liste-offresstagesemplois li {
	padding-left:15px; background:transparent url(puce_style1_titre_bleu.gif ) no-repeat 0px 2px;
}
#vertF ul.liste-offresstagesemplois li {
	padding-left:15px; background:transparent url(puce_style1_titre_bleu.gif ) no-repeat 0px 2px;
}

#content p.publie_news {
	clear:both;
}


/** newsletter **/

/*#newsletter h2 {
	padding:5px 0px 5px 0px;
	font-weight:bold; color:#62B6FF;
	border-bottom:1px solid #62B6FF;
}
#newsletter .style2 .titre_style2 {
	padding:0px;
	font-weight:bold; color:#62B6FF;
}

#newsletter .coinD_style2,
#newsletter .coinG_style2 {
	display:none;
}

#newsletter .style2 .style2_deco {
	padding:0px;
}*/

#newsletter {
	width:800px;	
}

#newsletter .style3 h2 {
	color:#62B6FF;
}
#newsletter .style1 h2 {
	background: url(puce_style1_bleu.gif) no-repeat;
	color: #62b6ff;
}
#newsletter .style2 h2{
	background: url(fond_style2_bleu.gif) repeat;
}
#newsletter .style2 .coinG_style2{
	background:url(coinG_style2_bleu.gif) no-repeat;	
}
#newsletter .style2 .coinD_style2{
	background:url(coinD_style2_bleu.gif) no-repeat;	
}
#newsletter .style1 .style1_deco{
	border-top: 1px solid #62b6ff;
	border-bottom: 1px solid #62b6ff;
}
#newsletter .actu_date{
	color:#62b6ff;
}
#newsletter .actu_titre{
	background:url(puce_style1_titre_bleu.gif ) no-repeat;
	padding-left: 15px;
}
#newsletter .style2 .style2_deco{
	background-color:#e0f0ff;
}
#newsletter .style3 h2{
	color: #62b6ff;
}
#newsletter h1 , #newsletter h3 {
	color: #62b6ff;
}
#newsletter h3{
	border-bottom:1px solid #62b6ff;
	margin-bottom:5px;
}

#content ul#commentaires {
	margin:0px;
}

/* desactivation de la rubrique intranet */
#menu_principal ul li.rub-intranet {
	display:none;
}

/* ajout des styles de présentation pour la saisie en front-office */
/* pb affichage toolbox */
iframe {
	width:100%;
}

.gestion label { display:block }

/* saisie front office Offre stage-emplois */
#content form.gestion #TMP_SECTEURS_ACTIVITES, #content form.gestion #TMP_FILIERE {
width:250px;
}

.accueil .premiere_colonne .style2,.accueil .premiere_colonne .style4 {
	width:277px;
}

.accueil .derniere_colonne .style2,.accueil .derniere_colonne .style4 {
	width:368px;
}




/* =========================
TAG de login DSI
===========================*/
div.titre_login_dsi_tag{
color: #62B6FF;
font-size: 22px;
margin-bottom: 15px;
font-weight:100;
}