@CHARSET "ISO-8859-1";

#espace_perso {
	position: relative;
	left: 0px;
	padding: 5px;
	width: 290px;
	z-index: 10;
}
#recherche {
	position: relative;
	text-align: left;
	top: 30px;
	left: 380px;
	height: 300px;
}

#caracteres {
	position: absolute;
	top: 20px;
	left: 700px;
}
#caracteres_sans_js {
	position: absolute;
	top: 40px;
	left: 670px;
}

#logo {
	position: absolute;
	top: 0px;
	left: 20px;
}

#slogan {
	position: absolute;
	top: 160px;
	left: 100px;
	color: #35346D;
	width: 400px;
	text-align: right;
	font-size: 160%;
}

#slogan .capital {
	font-weight: bold;
}
	

#fond_petales {
	position: absolute;
	top: 208px;
	left: 20px;
}


#fond_enfant {
	position: absolute;
	top: 300px;
	left: 420px;
}

#menu_accueil {
	position: relative;
	left: 130px;
	width: 270px;
}

#barre_info {
	position: relative;
	margin-top: 10px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	vertical-align: top;
}

#barre_info table {
	width: 100%;	
	border-top: #4b6eb3 solid 2px;
	border-bottom: #4b6eb3 solid 2px;
}

#liste_partenaires {
	position: relative;
	top: 0px;
}

#bas_de_page {
	position: relative;
	text-align: center;
}

#liens_internes {
	visibility: visible;
	text-align: right;
	width: 28%;
}
#liens_internes a {
	color: #ffffff;
	font-size: 110%;
}

#flashcontent{
	width: 300px;
	height: 210px;
}

#flashcontentanimation {
	width: 300px;
	height: 210px;
}
