






body {
  font: 70% Arial, sans-serif, Verdana, Helvetica;
  background: #ffffff;
  color: black;
  margin: 0;
  padding: 0;
}

body .popup {
  font: 70% Arial, sans-serif, Verdana, Helvetica;
}

a {
  text-decoration: none;
  color: #436976;
  background-color: transparent;
}

a.strong {
  font-weight: bold;
}

img {
  border: 0;
  vertical-align: middle;
}

p {
  margin: 0.5em 0 1em 0;
  line-height: 133%;
}
p a {
  text-decoration: underline;
}
p a:visited {
  color: Purple;
  background-color: transparent;
}
p a:active {
  color: Red;
  background-color: transparent;
}
a:hover {
  text-decoration: none;
}
p img {
  border: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  background-color: transparent;
  font: 100% Arial, sans-serif, Verdana, Helvetica;
  font-weight: bold;
  margin: 0;
  padding-top: 0.5em;
}
h1 {
  font-size: 140%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 130%;
  margin-bottom: 1em;
}
h3 {
  font-size: 120%;
}
h4 {
  font-size: 110%;
}
h5 {
  font-size: 105%;
}
h6 {
  font-size: 100%;
}

ol, ul {
  padding: 0;
  margin: 0;
  line-height: 133%;
}
ul a, ol a {
  text-decoration: underline;
}

dt {
  font-weight: bold;
  padding-left: 1em;
}
dt a {
  text-decoration: none;
}
dd {
  margin: 0;
  padding: 0.3em 0 0 2em;
}


a[hreflang]:after {
  content: "\0000a0[" attr(hreflang) "]";
  color: #663300;
  background: transparent;
}

legend {
  padding: 0.5em 0em 0.5em 0em;
}

textarea {
  color: black;
  background-color: white;
  font: 100% Arial, sans-serif, Verdana, Helvetica;
}
input {
  font: 100% Arial, sans-serif, Verdana, Helvetica;
  color: black;
  background-color: white;
  vertical-align: middle;
}
select {
  font: 100% Arial, sans-serif, Verdana, Helvetica;
  vertical-align: top;
}
abbr, acronym, .explain {
  color: black;
  background-color: transparent;
}
q, blockquote {
  font-style: italic;
  font-size: 100%;
}
code {
  font-size: 100%;
  color: black;
  background-color: #eeeeee;
}
pre {
  font-size: 100%;
  padding: 1em;
  border: 0px none;
  color: black;
  background-color: #eeeeee;
  overflow: auto;
}


#idioma p {
  margin-top: 0;
}

.logo {
  margin: 0.2em 0em 0.3em 1em;
  padding: 0;
}

.note {
  font-size: smaller;
}

.even {
  background-color: #eeeeee;
}

.odd {
  background-color: white;
}

.pending {
  font-weight: bold;
  color: #ffa500;
}

.work {
  font-weight: bold;
  color: blue;
}

.draft {
  font-weight: bold;
  color: #5555ff;
}

.published {
  font-weight: bold;
  color: #22a522;
}

.deferred {
  font-weight: bold;
  color: #ff6600;
}

.expired {
  font-weight: bold;
  color: #ff0033;
}

.locked {
  border: 1px solid #ff6600;
  color: #ff6600;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.url {
  color: #666666
}

input.standalone, button.standalone {
  background: #ffffff url(buttonbg_e7.png) bottom left repeat-x;
  background-image: none;
  color: #454545;
  border: 1px outset #999999;
}

input.context {
  background: #ffffff url(buttonbg_e7.png) bottom left repeat-x;
  background-image: none;
  color: #454545;
}

input.destructive {
  background: #ffffff url(buttonbg_e7.png) bottom left repeat-x;
  background-image: none;
  color: #454545;
}


div.batchLayout {
  text-align: right;
  background-color: #eeeeee;
}

div.pageNavigationLayout {
  text-align: center;
  background-color: #eeeeee;
}

.contact {
  text-align: center;
  margin: 0;
  padding: 1px 0 1px 0;
}

div.message {
  background: #ffca31;
  color: black;
  font: normal 110% Arial, sans-serif, Verdana, Helvetica;
  margin: 1em 0;
  padding: 0.5em 1em;
  vertical-align: middle;
}

div.message a {
  background: #ffca31;
  color: black;
  text-decoration: underline;
}

div.description {
  font: 100% Arial, sans-serif, Verdana, Helvetica;
  display: block;
  margin-bottom: 0.5em;
  line-height: 133%;
}

div.documentActions {
  float: right;
  margin-top: 1em;
}

div.documentActions li {
  display: inline;
}

div.searchBox {
  float: right;
  text-align: right;
  padding: 0;
  margin: 0;
  clear: right;
  background-color: transparent;
  color: black;
  text-transform: none;
  width: 40%;
}

div.headerActions {
  float: right;
  text-align: right;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 4px;
}

div.headerActions li {
  display: inline;
}

div.pathBar {
  padding: 1px 1em 1px 1em;
  text-transform: none;
}

div.row {
  clear: both;
}

div.label {
  font-weight: bold;
}

div.field {
  padding: 0;
  text-align: left;
  margin-top: 0.2em;
  margin-bottom: 0.6em;
}

span.legend {
  font-weight: bold;
}

div.popupImg {
  padding: 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.hiddenItem {
  background-color: #eeeeee;
}

div.nodeselected {
  background-color: #ffc02a;
}



span.selectedLang {
  background: #003a6b;
  color: #ffffff;
  font-weight: bold;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
a.availableLang {
  text-decoration: underline;
}
a.availableLang:hover {
  text-decoration: none;
}


div.accesskeys, div.accesskeysUsage {
  border: 1px solid #999999;
  background-color: #dddddd;
  padding: 1em;
  margin: 0.5em 0 2em 0;
}


.contactInfo li {
  display: inline;
  margin: 1em;
}

.conformanceStatement {
  text-align: center;
}

.conformanceStatement li {
  display: inline;
}

.conformanceStatement img {
  margin: 1em;
}


.CalendarArrow {
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.CalendarTitle {
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

p.help {
  font-style: italic;
}

table.calendar td {
  white-space: nowrap;
  background-color: white;
  width: 1.5em;
}

table.calendar a {
  text-decoration: none;
  color: black;
}

table.calendar td.event {
  background-color: #eeeeee;
  text-decoration: none;
}

table.calendar td.todayevent {
  background-color: #eeeeee;
}

table.calendar td.weekdays {
  background-color: #eeeeee;
}

table.calendar th {
  background-color: #eeeeee;
  white-space: nowrap;
}

table.localRoleForm th {
  text-align: left;
}

span.highlightedSearchTerm {
  background-color: #ffff00;
}

span.searchFor {
  font-weight: bold;
}

/* hack for IE6 bugs */
/* Hides from IE5-mac \*/
* html .group {height: 1%}
* html div.box {height: 1%}
* html div.box .content {height: 1%}
* html div.document {height: 1%}
/* End hide from IE-mac */

.netscape4 {
  display: none;
}

table {
  font-size: 100%;
}

hr {
  height: 1px;
  color: #838183;
  background-color: transparent;
}

h1, h2 {
  border-bottom: 1px solid #838183;
}

form {
  border: none;
}

textarea {
  border: 1px inset #757575;
  padding: 0.1em;
}
input {
  border: 1px inset #757575;
  margin-bottom: 1px; /* IE bug fix */
  padding: 0.1em;
}
select {
  font: 100% Arial, sans-serif, Verdana, Helvetica;
  border: 1px inset #757575;
  vertical-align: top;
}

abbr, acronym, .explain {
  border-bottom: 1px dotted black;
  cursor: help;
}

ol, ul {
  padding-left: 3em;
  margin: 0;
}

.content li, #content li {
  padding: 0em 0em 0.4em 0em;
}

ul.fileChoice {
  padding-left: 0;
  list-style-type: None;
}

button {
  background: #ffffff url(buttonbg_e7.png) bottom left repeat-x;
  border: 1px outset #999999;
  margin: 0.2em;
  padding: 0.1em;
  font: 100% Arial, sans-serif, Verdana, Helvetica;
}

button:hover {
  background: #e7e7e7 url(buttonbg_bc.png) bottom left repeat-x;
}

input.standalone, button.standalone {
  background: #ffffff url(buttonbg_e7.png) bottom left repeat-x;
  cursor: pointer;
  font: 100% Arial, sans-serif, Verdana, Helvetica;
  font-weight: normal;
  padding: 2px 5px 2px 5px;
  text-transform: none;
}

input.standalone:hover, button.standalone:hover {
  background: #e7e7e7 url(buttonbg_bc.png) bottom left repeat-x;
}

input.context {
  background: #ffffff url(buttonbg_e7.png) bottom left repeat-x;
  cursor: pointer;
  font: 100% Arial, sans-serif, Verdana, Helvetica;
  font-weight: normal;
  padding: 2px 5px 2px 5px;
  text-transform: none;
  border: 1px outset #999999;
}

input.context:hover {
  background: #e7e7e7 url(buttonbg_bc.png) bottom left repeat-x;
}

input.destructive {
  background: #ffffff url(buttonbg_e7.png) bottom left repeat-x;
  border: 1px outset #757575;;
  cursor: pointer;
  font: 100% Arial, sans-serif, Verdana, Helvetica;
  font-weight: normal;
  padding: 2px 5px 2px 5px;;
  text-transform: none;
}

input.destructive:hover {
  background: #e7e7e7 url(buttonbg_bc.png) bottom left repeat-x;
  border: 1px solid #ff0000;
}

input.noborder {
  background: transparent;
  border: none;
  margin: 0;
}

input.searchButton {
  font-size: 100% ! important;
  margin-bottom: 1px ! important;
}

input.moveUp {
  background: white url(buttonbg_e7.png) bottom left repeat-x;
}
input.moveDown {
  background: white url(buttonbg_e7.png) bottom left repeat-x;
}
input.moveTop {
  background: white url(buttonbg_e7.png) bottom left repeat-x;
}
input.moveBottom {
  background: white url(buttonbg_e7.png) bottom left repeat-x;
}


form {
  margin: 0;
}

form.workflow {
  padding: 0 0 0.8em 0;
}

form.workflow dl {
  font-weight: bold;
}

form.workflow dd {
  margin-left: 0;
}


table.columns td.left {
  background: #9cb2cd;
}
table.columns td.right {
  background: #eeeeee url('rightcol_bg.png') repeat-y;
}

table.listing {
  width: 100%;
}

table.listing caption {
  font-weight: bold;
}

table.listing td {
  padding: 0.4em;
}

table.listing thead tr th {
  text-align: center;
}

table.listing thead td {
  background-color: #003a6b;
  color: white;
  text-align: center;
  font-weight: bold;
}

table.listing tbody td {
  background-color: #eeeeee;
  color: black;
}

table.listing tbody tr.odd td {
  background-color: #ffffff;
  color: black;
}

table.listing tbody tr.even td {
  background-color: #eeeeee;
  color: black;
}

table.listing .action {
  font-weight: bold;
  text-align: left;
}


form#loginForm {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 30em;
}
table#login th {
  width: 12em;
}

table#portalConfiguration th {
  width: 18em;
  padding-bottom: 1em;
}
table#portalConfiguration td {
  width: 18em;
  padding-bottom: 1em;
}

table#subscriptions td {
  text-align: center;
}

table#subscriptions .action {
  text-align: left;
}

table.localRolesAssignment {
  width: 100%;
  padding: 0;
  margin: 0.4em;
  margin-bottom: 2em;
  border: 0.1em solid black;
}

table.localRolesAssignment td.assignedRole {
  text-align: center;
}

table.localRolesAssignment td.inheritedRole {
  text-align: center;
  background: #ffff99;
}

span.inheritedRole {
  background: #ffff99;
}

table.localRolesAssignment td.inheritedBlockedRole {
  text-align: center;
  background: #ff9999;
}

span.inheritedBlockedRole {
  background: #ff9999;
}


div.top {
  background: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
}

.contact {
  background: #eeeeee;
  border-top: 1px solid #003a6b;
  border-bottom: 1px solid #003a6b;
  width: 100%;
}

div.document {
  font: 120% Arial, sans-serif, Verdana, Helvetica;
  background: White;
}

div.message {
  border: 2px solid #333333;
}

div.pathBar {
  border-bottom-color: #838183;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

div.row {
  margin: 0em 0em 0.5em 0em;
  position:relative;
}

div.label {
  font-weight: bold;
  display: inline;
}

.required {
  padding-right: 0.5em;
  background: url(required.png) right no-repeat;
}

.error {
  background: #ffca31;
  border: 2px solid #333333;
  padding: 1em;
  margin: 0em;
}

span.legend {
  font-size: 80%;
  padding: 0.5em 0em 0.5em 0em;
  position : relative;
  top: -0.8em;
  left: 0;
}

.group {
  margin: 0em;
  padding:10px 0 20px 0;
}

.comment_box {
  border: 1px solid #bcbcbc;
  margin: 1em 0 1em 1em;
  padding: 5px 10px 10px 20px;
}

.user_roles {
  margin: 1em 0 1em 0;
  padding: 0.7em 0em 0.7em 0em;
}

.header_roles {
  font-weight: bold;
  background: #b1acb2;
}

.assign_roles {
  padding-top: 0.7em;
}

table.calendar {
  border: 0px solid #838183;
  text-align: right;
}

table.calendar a:hover {
  text-decoration: none;
}

table.calendar th {
  border: none;
  font-weight: bold;
  text-align: center;
}

table.calendar td {
  width: 1.5em;
}

table.calendar td.weekdays {
  border: 0px solid #838183;
  border-style: solid none;
  text-align: center;
}

table.calendar td.event {
  font-weight: bold;
}

table.calendar td.todayevent {
  border: 2px solid #ffa500;
  font-weight: bold;
}

table.calendar td.todaynoevent {
  border-collapse: collapse;
  border: 2px solid #ffa500;
}


.tooltipControl {
  color: #000000;
  background: #ffffe1;
  border: 1px solid #000000;

  margin-left: 1em;
}

.tooltipControl:hover {
  background: #ffffb8;
}

.tooltipArea {
  color: #000000;
  background: #ffffe1;
  border: 1px solid #000000;
  padding: 0.8em;
  font-weight: normal;
  font-size: 80%;
  text-align: left;

  position: inherit;
  left: -15em;
  top: 1.5em;
  width: 20em;

  visibility: hidden;
  display: none;
  z-index: 1000;
}


div.mailboxerNoArchive {
  border-top: solid;
  border-width: 1px;
}

td.mailboxerMonth {
  background-color: #eeeeee;
  text-align: center;
}


div.bookSummary {
  width: 100%;
  border: 1px solid black;
  padding: 0.5em;
}

div.bookSummaryNav {
  text-align: center;
  width: 100%;
  background-color: #eeeeee;
}

li.summaryEntries {
  margin: 0.5em;
}

div.bookPageHeader {
  border-bottom: 1px solid black;
}

div.bookPageNavigation {
}

div.bookPageInfo {
  float: right;
}


#bylineFolder {
  clear: both;
  text-align: left;
}

#byline {
  clear: both;
  text-align: right;
  margin-top: 2em;
}


div.hidden {
  visibility: hidden;
  display: none;
}

div.visible {
  visibility: visible;
  display: block;
}


#advancedSearchForm {
  font-size: 90%;
}

#advancedSearchZCText {
  text-align: right;
}

p.advancedSearchButton {
  text-align: right;
}

#advancedSearchForm fieldset {
  border: none;
  border-left: 0px solid #838183;
  border-bottom: 0px solid #838183;
  padding: 0.5em 0em 0.5em 0em;
  margin: 0.5em;
}

span.advancedSearchColumn {
  padding-left: 1em;
  float:left;
  width:12em;
}

div.drophover {
  border-bottom: 3px solid black;
}

div.drophover-in {
  background: #ffe68f;
  border: 1px solid black;
}

#ajax_psm {
  background: #ffac0b;
  color: white;
  padding: 8px;
  border: 1px solid black;
  float: right;
  font-weight: bold;
  position: absolute;
    -moz-border-radius: 4px;
  }

div.draggable:hover {
  background: #efefef;
}

div.more_block {
  padding-left: 10px;
}

div.batchLayout, div.pageNavigationLayout {
  color: #666666;
  margin: 0 2px 0 2px;
  padding: 3px 20px 3px 0;
}

table.folderButtons {
  padding-top: 1.2em;
}

