#backoffice_template #login_form{
    padding:40px 10px 10px 10px;
    width: 280px;
    border:1px solid #A9A89D;
    margin: 200px auto;
    background:#E6E5DA url(logo_lille.png) no-repeat top center;
	font-size:0.8em;
}

#backoffice_template #login_form .buttonArea{
    text-align: center;
}

#backoffice_template #error{
    padding:40px 10px 10px 10px;
    width: 600px;
    border:1px solid #A9A89D;
    margin: 200px auto;
    background:#E6E5DA url(logo_lille.png) no-repeat top center;
	font-size:0.8em;
}

#backoffice_template #error .back{left:0}
