body{
    width: 1024px;
    margin: 0px auto;
}

#twocols_right_template #centerSlot{
	padding-top:30px;
}

#twocols_right_template #rightSlot{
	padding-top:40px;	
}


#leftSlot{
    padding:10px 0 0 15px;
	width:211px;
}

#rightSlot{
    margin:0px;
    padding:45px 15px 0 0;
}

#centerSlot{
    padding:0 40px 0 35px;
}

#footerSlot{
}

.popup{width:910px}
