body{
	margin:0;
	font:62.5% Arial, Helvetica, sans-serif;
	min-width:1000px;
}

.primary Gul li {
	font-size: 1.2em;
}

.uppercase{
	text-transform: uppercase;
}

img{border:none;}
a{
	color:#1B5A82;
	text-decoration:none;
}
a:hover{text-decoration:underline;}
input,
textarea,
select{
	font:100% arial,sans-serif;
	vertical-align:middle;
}
form,fieldset{
	margin:0;
	padding:0;
	border:none;
}
#wrapper{
	width:100%;
	overflow:hidden;
}
#header{
	width:100%;
}
.top-box{
	width:753px;
	margin:0 auto;
	padding:28px 0 3px 217px;
	position:relative;
	z-index:10;
}
.top-box:after{
	content:"";
	display:block;
	clear:both;
}
.top-info{
	float:right;
	width:295px;
	margin:6px 0 0 3px;
	position:relative;
}
* html .top-info{margin-left:0;}
.top-info .container{
	background:url(bg-top-info-l.gif) no-repeat;
	float:left;
}
.top-info .container .bg-r{
	background:url(bg-top-info-r.gif) no-repeat 100% 0;
	float:left;
}
#textchanger{
	float:left;
	background:url(icon-invalid.gif) no-repeat;
	padding:1px 0 0 23px;
	white-space:nowrap;
	overflow:hidden;
	position:relative;
}
#textchanger a{
	float:left;
	height:25px;
	cursor:pointer;
	color:#2e80ac;
	font-size:11px;
	line-height:25px;
	position:relative;
	white-space:nowrap;
}
#textchanger a:hover{
	text-decoration:none;
	background:url(bg-top-info-hover.gif) repeat-x;
	color:#fff;
}
.decrease{padding:0 1px 0 5px;}
.increase{padding:0 1px;}
.reset{padding:0 7px 0 2px;}
.top-info .actions{
	margin:1px 0 0;
	height:25px;
	width:75px;
	float:left;
	position:relative;
	z-index:100;
	overflow:hidden;
}
.top-info .actions a{
	float:left;
	position:relative;
	text-indent:-9999px;
	height:25px;
	outline:none;
	background:url(bg-actions.gif) no-repeat;
	z-index:10;
}
.top-info .actions a.print{width:26px;}
.top-info .actions a.email{
	width:20px;
	background-position:-26px 0 !important;
}
.top-info .actions a.add-to{
	width:29px;
	background-position:-46px 0 !important;
}
.top-info a.print:hover{
	text-decoration:none;
	background-position:0 -25px !important;
}
.top-info a.email:hover{
	text-decoration:none;
	background-position:-26px -25px !important;
}
.top-info a.add-to:hover{
	text-decoration:none;
	background-position:-46px -25px !important;
}
.form-research{
	float:right;
	width:124px;
	height:19px;
	padding:6px 0 0 9px;
	background:url(bg-research.gif) no-repeat;
}
.form-research label{display:none;}
.form-research .txt{
	float:left;
	margin:0 6px 0 0;
}
.form-research .txt input{
	float:left;
	background:#2e80ac;
	border:solid #69a4c4;
	border-width:0 0 0 1px;
	padding:1px 5px 0;
	width:85px;
	line-height:13px;
	height:13px;
	color:#fff;
}
#btn-search{
	float:left;
	width:15px;
	height:14px;
	background:url(btn-search.gif) no-repeat;
	cursor:pointer;
	border:0;
}
#btn-search:hover,
#btn-search.hover{background-position:0 -14px !important;}
#nav{
	float:left;
	list-style:none;
	padding:0;
	margin:0;
	position:relative;
	z-index:999;
}
#nav:after{
	content:"";
	display:block;
	clear:both;
}
#nav li{
	float:left;
	position:relative;
	z-index:10;
	margin:0 -6px 0 0;
}
#nav li a{
	float:left;
	padding:4px 49px 0 9px;
	background:url(bg-nav.gif) no-repeat;
	width:93px;
	height:28px;
	color:#20526a;
	font-size:10px;
	line-height:13px;
}
#nav li a:hover{
	color:#fff;
	text-decoration:none;
	background-position:0 -32px !important;
}
#nav li:hover a,
#nav li.hover a{
	color:#fff;
	text-decoration:none;
	background-position:0 -32px !important;
}
#nav li:hover,
#nav li.hover{
	position:relative;
}
#nav li:hover .drop,
#nav li.hover .drop{
	display:block;
}
.drop{
	width:144px;
	padding:35px 0 7px;
	display:none;
	position:absolute;
	top:0;
	left:0;
	background:url(bg-drop-btm.gif) no-repeat 0 100%;
}
.drop ul{
	height:1%;
	overflow:hidden;
	list-style:none;
	padding:3px 4px 0 4px;
	margin:0;
	background:url(bg-drop-m.gif) repeat-y;
}
#nav .drop ul li{
	width:100%;
	overflow:hidden;
	float:none;
	margin:0;
}
#nav .drop ul li a{
	display:block;
	background:url(bul-drop.gif) no-repeat 5px 6px !important;
	height:1%;
	float:none;
	padding:0 0 0 16px;
	font-size:10px;
	line-height:15px;
	color:#154e74;
	width:auto;
	margin:0;
}
#nav .drop ul li a:hover{
	background:#cce3f0 url(bul-drop-hover.gif) no-repeat 5px 6px !important;
	color:#154e74;
}
.h-holder-1{
	width:100%;
	background:#40a3d4 url(bg-header-inner.jpg) repeat-x 0 100%;
	clear:both;
}
#header.page-acc .h-holder-1{background:#40a3d4 url(bg-header.jpg) repeat-x 0 100%;}
.h-holder-2{
	width:100%;
	background:url(bg-header-top.gif) repeat-x;
}
.header-box{
	width:970px;
	margin:0 auto;
	padding:12px 0 9px;
}
.header-box:after{
	content:"";
	display:block;
	clear:both;
}
#header h1{
	float:left;
	position:relative;
	margin:-78px 0 0;
}
.print-logo{display:none;}
#header h1 a{
	display:block;
	outline:none;
	width:200px;
	height:232px;
	cursor:pointer;
}
#header h1 a img{
	display:block;
	border:0;
}
.header-box .place-holder{
	float:right;
	width:753px;
	height:163px;
	position:relative;
}
.header-box .place-holder img{display:block;}
.header-box .color-scheme{
	position:absolute;
	list-style:none;
	padding:0;
	margin:0;
	top:61px;
	right:13px;
	width:200px;
}
.header-box .color-scheme li{
	width:100%;
	overflow:hidden;
	padding:0 0 6px;
}
.header-box .color-scheme li a{
	float:right;
	/*text-indent:-9999px;*/
	text-transform: uppercase;
	font-weight:bold;
	color: #FFFFFF;
	font-size: 12px;
	/*height:12px*/
}

.header-box .color-scheme li a.green{
	background:url(ttl-creatures.gif) no-repeat;
	width:172px;
}
.header-box .color-scheme li a.orange{
	background:url(ttl-entreprises.gif) no-repeat;
	width:96px;
}
.header-box .color-scheme li a.violet{
	background:url(ttl-collectivites.gif) no-repeat;
	width:104px;
}
#main{
	width:100%;
	background:url(bg-main-inner.jpg) repeat-x;
	clear:both;
}
#main.home{background:url(bg-main.jpg) repeat-x;}
.main-holder{
	width:970px;
	margin:0 auto;
}
.main-holder:after{
	content:"";
	display:block;
	clear:both;
}
.twocolumns{
	width:100%;
	overflow:hidden;
	margin:0 0 17px;
}
#content{
	float:right;
	width:623px;
	overflow:hidden;
	background:url(bg-content.gif) repeat-y;
}
#content .cols-holder{
	width:100%;
	position:relative;
}
#content .cols-holder:after{
	content:"";
	display:block;
	clear:both;
}
#content .col-l{
	float:left;
	overflow:hidden;
	width:405px;
	margin:0 32px 0 0;
}
#content .col-r{
	float:left;
	width:166px;
	overflow:hidden;
	padding:0 9px 0 11px;
}
#content .blocks-holder{
	width:657px;
	margin:0 0 0 -33px;
	overflow:hidden;
	position:relative;
}
#content .block{
	width:186px;
	float:left;
	position:relative;
	display:inline;
	margin:0 0 0 33px;
}
#content .block .heading{
	display:table;
	width:100%;
	height:64px;
}
#content .block .h-cont{
	width:100%;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
* html #content .block .heading{position:relative;}
*+html #content .block .heading{position:relative;}
* html #content .block .h-cont{
	position:absolute;
	padding:18px 0 0;
	top:50%;
}
* +html #content .block .h-cont{
	position:absolute;
	padding:18px 0 0;
	top:50%;
}
* html #content .block h2{
	position:relative;
	top:-50%;
}
*+html #content .block h2{
	position:relative;
	top:-50%;
}
#content .block h2{
	position:relative;
	margin:0;
	font-size:15px;
	line-height:18px;
	color:#fff;
	margin:18px 0 0;
}
#content .block h2 a{
	color:#fff;
	position:relative;
	z-index:999;
}
#content .green-box .heading{background:url(bg-heading-green.jpg) no-repeat;}
#content .orange-box .heading{background:url(bg-heading-orange.jpg) no-repeat;}
#content .violet-box .heading{background:url(bg-heading-violet.jpg) no-repeat;}
#content .block .txt-box{
	padding:45px 5px 0;
	height:1%;
	position:relative;
}
#content .block .txt-box:after{
	content:"";
	display:block;
	clear:both;
}
#content .block h3{
	margin:-39px 0 8px;
	width:100%;
	text-align:center;
	font-size:1.2em;
	line-height:1.167em;
}
#content .green-box{color:#a2b427;}
#content .orange-box{color:#eca214;}
#content .violet-box{color:#af22d8;}
#content .green-box .txt-box a:hover{color:#a2b427;}
#content .orange-box .txt-box a:hover{color:#eca214;}
#content .violet-box .txt-box a:hover{color:#af22d8;}
#content .block ul{
	list-style:none;
	padding:0 0 18px 19px;
	margin:0;
	height:1%;
	overflow:hidden;
}
#content .block ul li{
	height:1%;
	padding:0 0 4px 9px;
	vertical-align:middle;
	overflow:hidden;
}
#content .green-box li{background:url(bul-green.gif) no-repeat 0 5px;}
#content .orange-box li{background:url(bul-orange.gif) no-repeat 0 5px;}
#content .violet-box li{background:url(bul-violet.gif) no-repeat 0 5px;}
#content .block ul a{
	text-decoration:underline;
	font:normal 1.1em/1.273em Verdana, Arial, Helvetica, sans-serif;
	color:#3f3e3e;
}
#content .img-box{
	width:100%;
	overflow:hidden;
	padding:0 0 16px;
}
.txt-le-tarn,
.txt-les-entreprises{
	text-indent:-9999px;
	outline:none;
	float:left;
	width:186px;
	height:79px;
}
.txt-le-tarn{
	background:url(txt-le-tarn.gif) no-repeat;
	margin:0 33px 0 0;
}
.txt-les-entreprises{background:url(txt-les-enterprises.gif) no-repeat;}
.articles{
	height:1%;
	background:url(bg-articles.jpg) repeat-x;
}
.articles:after{
	content:"";
	display:block;
	clear:both;
}
.articles .heading{
	height:25px;
	overflow:hidden;
	background:url(bg-articles-heading.jpg) no-repeat;
	margin:0 0 14px;
}
.articles .heading h2{
	float:left;
	padding:0 0 0 9px;
	font-size:14px;
	color:#fff;
	line-height:25px;
	margin:0;
}
.form-info{
	float:right;
	padding:0 9px 0 0;
}
.form-info fieldset{float:right;}
.form-info label{display:none;}
.form-info select{
	float:left;
	margin:4px 8px 0 0;
	font-size:10px;
}
.btn-rss{
	text-indent:-9999px;
	background:url(btn-rss.gif) no-repeat;
	outline:none;
	float:left;
	width:16px;
	height:16px;
	margin:5px 0 0;
}
.articles .box{
	width:100%;
	overflow:hidden;
	background:url(bg-articles-m.gif) repeat-y;
	margin:0 0 8px;
}
.articles .bg-t{
	width:100%;
	overflow:hidden;
	background:url(bg-articles-t.gif) no-repeat;
}
.articles .bg-b{
	height:1%;
	padding:2px 17px 5px 14px;
	overflow:hidden;
	background:url(bg-articles-b.gif) no-repeat 0 100%;
}
.articles .listing{
	list-style:none;
	padding:0;
	margin:0;
	height:1%;
	overflow:hidden;
}
.articles .listing li{
	background:url(sep-articles.gif) repeat-x;
	height:1%;
	vertical-align:middle;
	overflow:hidden;
	padding:4px 0 0;
	font-size:1.2em;
	line-height:1.667em;
	color:#b6191d;
}
.articles .listing li:first-child{background:none;}
.articles .listing li a{
/*	font-weight:bold;*/
	color:#0c3c60;
}
.services{
	list-style:none;
	padding:0 0 11px;
	margin:0;
	height:1%;
	overflow:hidden;
	background:url(sep-services.gif) repeat-x 0 100%;
}
.services li{
	height:1%;
	vertical-align:middle;
	overflow:hidden;
	padding:0 0 0 18px;
	margin:6px 0 0;
}
.services li.publicks{background:url(icon-home.gif) no-repeat 0 55%;}
.services li.formal{background:url(icon-formals.gif) no-repeat 0 55%;}
.services li.tele{background:url(icon-tele.gif) no-repeat 0 55%;}
.services li.partners{background:url(icon-partners.gif) no-repeat 0 55%;}
.services a{
	display:block;
	height:1%;
	background:#f1f7fb;
	padding:0 0 0 6px;
	color:#0c3c60;
	font-size:1.1em;
	line-height:1.455em;
}
.services a:hover{
	background:#236b94;
	text-decoration:none;
	color:#fff;
}
.link{
	height:1%;
	display:block;
	overflow:hidden;
	color:#fff;
	white-space:nowrap;
	background:#0c3c60 url(bul-white.gif) no-repeat 4px 60%;
	padding:0 0 0 12px;
	font-size:1.1em;
	line-height:1.455em;
}
.link:hover{
	background-color:#236b94 !important;
	text-decoration:none;
}
.logos{
	list-style:none;
	padding:0 0 6px;
	margin:0;
	height:1%;
	overflow:hidden;
}
.logos li{
	width:100%;
	overflow:hidden;
	padding:9px 0 0;
}
.logos li a{
	text-indent:-9999px;
	display:block;
	outline:none;
	height:49px;
	width:166px;
}
.logos li a.produit:hover{background-position:0 -49px !important;}
.aside{
	float:left;
	width:308px;
	background:#fff;
}
.aside .heading{
	background:url(bg-heading-blue.jpg) no-repeat;
	height:1%;
	height:43px;
	padding:21px 17px 0;
	overflow:hidden;
}
.aside .heading h2{
	font-size:15px;
	line-height:19px;
	margin:0;
	color:#fff;
	white-space:nowrap;
	position:relative;
}
.aside .heading h2 a{
	color:#fff;
	float:left;
	position:relative;
	z-index:999;
}
.aside .heading h2 em{
	display:block;
	font-weight:normal;
}
.aside .posts{
	list-style:none;
	padding:0 18px;
	margin:0;
	height:1%;
	overflow:hidden;
}
.aside .posts .box{
	background:url(bg-posts.jpg) no-repeat;
	width:272px;
	height:110px;
	overflow:hidden;
	margin:18px 0 0;
}
.aside .posts .illustration{
	cursor:pointer;
	float:left;
	z-index:10;
	position:relative;
	padding:1px 5px 1px 1px;
	margin:0 20px 0 0;
	height:108px;
	background:url(sep-posts.gif) repeat-y 100% 0;
}
* html .aside .posts .illustration{margin:0 17px 0 0;}
.aside .posts .illustration img{display:block;}
.aside .posts .illustration em{
	position:absolute;
	z-index:1;
	left:0;
	top:0;
	height:110px;
	background:url(bg-posts-ill.gif) no-repeat;
	width:5px;
}
.aside .posts .txt-box{
	display:table;
	height:108px;
	margin:1px 5px 0 0;
}
.aside .posts  .entry-ttl{
	display:table-cell;
	vertical-align:middle;
}
.aside .posts  .entry-ttl a{
	color:#0c3c60;
	font-size:1.4em;
	line-height:1.214em;
	float:left;
}
* html .aside .posts .txt-box{position:relative;}
*+html .aside .posts .txt-box{position:relative;}
* html .aside .posts  .entry-ttl{
	position:absolute;
	top:50%;
}
*+html .aside .posts  .entry-ttl{
	position:absolute;
	top:50%;
}
* html .aside .posts  .entry-ttl a{
	position:relative;
	top:-50%;
}
*+html .aside .posts  .entry-ttl a{
	position:relative;
	top:-50%;
}
.blue-main,
.green-main,
.violet-main,
.orange-main{
	width:100%;
	overflow:hidden;
	padding:0 0 20px;
}
.primary-holder{
	float:right;
	width:753px;
	padding:11px 0 0;
}
.primary{
	float:left;
	width:520px;
}
.breadcrumbs{
	list-style:none;
	padding:0 0 0 12px;
	margin:-3px 0 6px;
	height:1%;
	overflow:hidden;
	background:url(bul-breadcrumbs.gif) no-repeat 0 55%;
}
.breadcrumbs li{
	display:inline;
	font-size:1.1em;
	line-height:1.273em;
	color:#4b4b4a;
}
.breadcrumbs li.active{text-decoration:underline;}
.primary .breadcrumbs li a{
	white-space:nowrap;
	text-decoration:none;
	color:#000;
}
.p-block{
	width:100%;
	overflow:hidden;
}
.p-block .t,
.p-block .b{
	width:100%;
	overflow:hidden;
	height:10px;
}
.p-block .t{background:url(bg-p-block-t.gif) no-repeat;}
.p-block .b{background:url(bg-p-block-b.gif) no-repeat;}
.p-block .m{
	height:1%;
	background:url(bg-p-block-m.gif) repeat-y;
	min-height:335px;
	padding:0 14px 2px 12px;
}
* html .p-block .m{height:335px;}
.primary h2{
	width:477px;
	line-height:25px;
	font-size:14px;
	color:#fff;
	padding:0 10px;
	margin:0 0 5px -3px;
}
.blue-main h2{background:#1b5a82 url(bg-primary-ttl-blue.gif) no-repeat;}
.green-main h2{background:#a2b427 url(bg-primary-ttl-green.gif) no-repeat;}
.violet-main h2{background:#af22d8 url(bg-primary-ttl-violet.gif) no-repeat;}
.orange-main h2{background:#eca214 url(bg-primary-ttl-orange.gif) no-repeat;}
.primary .marked{
	width:100%;
	overflow:hidden;
}
.primary .marked p{color:#4b4b4a;}
.primary p, .primary li{
	color:#000;
	font-size: 12px;
	/*line-height:1.182em;*/
	margin: 0;
	text-align:justify;
}
.p-block li {
	margin: 0 0 0 20px;
}
.primary h3{
	margin: 4px 0 0;
	font-size:1.2em;
	line-height:1.167em;
}
.blue-main h3{color:#1b5a82;}
.green-main h3{color:#a2b427;}
.violet-main h3{color:#af22d8;}
.orange-main h3{color:#eca214;}
.aside2{
	float:right;
	width:216px;
	overflow:hidden;
}
.aside2 .a-block{
	width:100%;
	overflow:hidden;
	margin:0 0 13px;
}
.aside2 .a-block .t,
.aside2 .a-block .b{
	width:100%;
	overflow:hidden;
	height:9px;
}
.blue-main .aside2 .a-block .t{background:url(bg-a-block-blue-t.gif) no-repeat;}
.green-main .aside2 .a-block .t{background:url(bg-a-block-green-t.gif) no-repeat;}
.violet-main .aside2 .a-block .t{background:url(bg-a-block-violet-t.gif) no-repeat;}
.orange-main .aside2 .a-block .t{background:url(bg-a-block-orange-t.gif) no-repeat;}
.blue-main .aside2 .a-block .b{background:url(bg-a-block-blue-b.gif) no-repeat;}
.green-main .aside2 .a-block .b{background:url(bg-a-block-green-b.gif) no-repeat;}
.violet-main .aside2 .a-block .b{background:url(bg-a-block-violet-b.gif) no-repeat;}
.orange-main .aside2 .a-block .b{background:url(bg-a-block-orange-b.gif) no-repeat;}
.aside2 .a-block .m{
	height:1%;
	overflow:hidden;
	padding:0 10px 0 9px;
}
.blue-main .aside2 .a-block .m{background:url(bg-a-block-blue-m.gif) repeat-y;}
.green-main .aside2 .a-block .m{background:url(bg-a-block-green-m.gif) repeat-y;}
.violet-main .aside2 .a-block .m{background:url(bg-a-block-violet-m.gif) repeat-y;}
.orange-main .aside2 .a-block .m{background:url(bg-a-block-orange-m.gif) repeat-y;}
.aside2 .a-block .heading{
	width:182px;
	margin:0 0 6px -2px;
	padding:0 6px 0 9px;
	overflow:hidden;
	height:25px
}
.blue-main .a-block .heading{background:url(bg-a-block-ttl-blue.gif) no-repeat;}
.green-main .a-block .heading{background:url(bg-a-block-ttl-green.gif) no-repeat;}
.violet-main .a-block .heading{background:url(bg-a-block-ttl-violet.gif) no-repeat;}
.orange-main .a-block .heading{background:url(bg-a-block-ttl-orange.gif) no-repeat;}
.aside2 .a-block .heading h3{
	color:#fff;
	font-size:14px;
	line-height:25px;
	float:left;
	margin:0;
}
.aside2 .a-block .heading .btn-rss{float:right;}
.aside2 .a-block .form-info{
	float:none;
	height:1%;
	overflow:hidden;
	padding:0 0 7px;
}
.aside2 .a-block .form-info fieldset{float:none;}
.aside2 .a-block .form-info select{width:193px;}
.aside2 .a-inner{
	width:100%;
	overflow:hidden;
	padding:0 0 7px;
}
.aside2 .a-inner .a-inner-t,
.aside2 .a-inner .a-inner-b{
	width:100%;
	overflow:hidden;
	height:8px;
}
.aside2 .a-inner .a-inner-t{background:url(bg-a-inner-t.gif) no-repeat;}
.aside2 .a-inner .a-inner-b{background:url(bg-a-inner-b.gif) no-repeat;}
.aside2 .a-inner .a-inner-m{
	height:1%;
	overflow:hidden;
	padding:0 13px 0 10px;
	background:url(bg-a-inner-m.gif) repeat-y;
}
.aside2 .a-inner .news{
	list-style:none;
	margin:0;
	padding:0;
	height:1%;
	overflow:hidden;
}
.aside2 .a-inner .news li{
	height:1%;
	vertical-align:middle;
	overflow:hidden;
	background:url(sep-services.gif) repeat-x;
	padding:9px 0 6px;
}
.aside2 .a-inner .news li:first-child{
	background:none;
	padding-top:0;
}
.aside2 .a-inner .news li .date{
	display:block;
	color:#b6191d;
	font-size:1.2em;
	line-height:1.167em;
}
.aside2 .a-inner .news li h4{
	color:#0c3c60;
	margin:0 0 3px;
	font-size: 12px;
	font-weight: normal;

	line-height:1.167em;
}
.aside2 .a-inner .news li h4 a{color:#0c3c60;}
.aside2 .a-inner .news p{
	color:#000;
	font-size:1.1em;
	line-height:1.182em;
	margin:0;
}
.aside2 .info-block{
	height:1%;
	overflow:hidden;
	padding:0 9px 12px;
}
.aside2 .info-block h4{
	font-size:1.4em;
	line-height:1.143em;
	padding:0 0 2px;
	margin:0 0 7px;
	background:url(sep-services.gif) repeat-x 0 100%;
}
.blue-main .aside2 .info-block h4{color:#1b5a82;}
.green-main .aside2 .info-block h4{color:#a2b427;}
.violet-main .aside2 .info-block h4{color:#af22d8;}
.orange-main .aside2 .info-block h4{color:#eca214;}
#main .blue-main .aside2 .link{background-color:#236b94;}
#main .green-main .aside2 .link{background-color:#a2b427;}
#main .violet-main .aside2 .link{background-color:#af22d8;}
#main .orange-main .aside2 .link{background-color:#eca214;}
#main .blue-main .aside2 .link:hover{background-color:#1b5a82 !important;}
#main .green-main .aside2 .link:hover{background-color:#818f1f !important;}
#main .violet-main .aside2 .link:hover{background-color:#af22d8 !important;}
#main .orange-main .aside2 .link:hover{background-color:#eca214 !important;}
.aside2 .contacts strong{
	font-size:1.1em;
	color:#000;
	line-height:1.273em;
	display:block;
}
.aside2 .contacts em{
	font-style:normal;
	display:block;
	font-size:1.1em;
	line-height:1.273em;
	color:#000;
}
.aside2 .contacts .email{
	font-size:1.1em;
	line-height:1.273em;
	color:#000;
}
.aside2 .contacts .email a{
	text-decoration:underline;
	color:#1b5a82;
}
.blue-main .aside2 .contacts .email a:hover{color:#b6191d;}
.green-main .aside2 .contacts .email a:hover{color:#a2b427;}
.violet-main .aside2 .contacts .email a:hover{color:#af22d8;}
.orange-main .aside2 .contacts .email a:hover{color:#eca214;}
.aside2 .practic ul{
	list-style:none;
	padding:0;
	margin:0;
	height:1%;
	overflow:hidden;
}
.aside2 .practic li{
	height:1%;
	vertical-align:middle;
	overflow:hidden;
	padding:0 0 2px;
}
.aside2 .practic li a{
	cursor:pointer;
	color:#000;
	float:left;
	font-size:1.1em;
	line-height:1.273em;
}
.aside2 .practic li a img{
	float:left;
	margin:0 7px 0 0;
}
.blue-main .aside2 .practic li a:hover{color:#b6191d;}
.green-main .aside2 .practic li a:hover{color:#a2b427;}
.violet-main .aside2 .practic li a:hover{color:#af22d8;}
.orange-main .aside2 .practic li a:hover{color:#eca214;}
* html .aside2 .practic li a img{margin:0 4px 0 0;}
.aside2 .a-block .listing{
	list-style:none;
	padding:0;
	margin:0;
	height:1%;
	overflow:hidden;
}
.aside2 .a-block .listing li{
	height:1%;
	vertical-align:middle;
	overflow:hidden;
	padding:2px 0 0;
}
.aside2 .a-block .listing li a{
	float:left;
	padding:0 0 0 10px;
	font-size:1.1em;
	line-height:1.273em;
}
.blue-main .aside2 .a-block .listing li a{
	color:#1b5a82;
	background:url(bul-footer-blue.gif) no-repeat 0 55%;
}
.green-main .aside2 .a-block .listing li a{
	color:#000;
	background:url(bul-green.gif) no-repeat 0 55%;
}
.violet-main .aside2 .a-block .listing li a{
	color:#000;
	background:url(bul-violet.gif) no-repeat 0 55%;
}
.orange-main .aside2 .a-block .listing li a{
	color:#000;
	background:url(bul-orange.gif) no-repeat 0 55%;
}
.blue-main .aside2 .listing li a:hover{
	color:#b6191d;
	background:url(bul-drop-hover.gif) no-repeat 0 55%;
}
.green-main .aside2 .listing li a:hover{
	color:#a2b427;
}
.violet-main .aside2 .listing li a:hover{
	color:#af22d8;
	background:url(bul-violet.gif) no-repeat 0 55%;
}
.orange-main .aside2 .listing li a:hover{
	color:#eca214;
	background:url(bul-orange.gif) no-repeat 0 55%;
}
.aside2 .a-block .txt-marked{
	margin:13px 0 3px 1px;
	padding:0 0  4px;
	font-size:1.2em;
	line-height:1.167em;
	display:block;
	height:1%;
	background:url(sep-services.gif) repeat-x 0 100%;
}
.blue-main .aside2 .a-block .txt-marked{
	color:#1b5a82;
	background:url(sep-services.gif) repeat-x 0 100%;
}
.green-main .aside2 .a-block .txt-marked{
	color:#a2b427;
	background:url(sep-sidebar-green.gif) repeat-x 0 100%;
}
.violet-main .aside2 .a-block .txt-marked{
	color:#af22d8;
	background:url(sep-sidebar-violet.gif) repeat-x 0 100%;
}
.orange-main .aside2 .a-block .txt-marked{
	color:#eca214;
	background:url(sep-sidebar-orange.gif) repeat-x 0 100%;



}
.aside2 .a-block .txt-marked span{
	display:block;
	height:1%;
	padding:0 0 0 9px;
}
.blue-main .aside2 .a-block .txt-marked span{background:url(bul-drop-hover.gif) no-repeat 0 55%;}
.green-main .aside2 .a-block .txt-marked span{background:url(bul-green.gif) no-repeat 0 55%;}
.violet-main .aside2 .a-block .txt-marked span{background:url(bul-violet.gif) no-repeat 0 55%;}
.orange-main .aside2 .a-block .txt-marked span{background:url(bul-orange.gif) no-repeat 0 55%;}
.aside2 .section{
	height:1%;
	overflow:hidden;
	padding:0 25px;
}
.sidebar{
	width:168px;
	padding:15px 15px 0 14px;
	float:left;
	background:#fff;
}
.sidebar .box{
	height:1%;
	overflow:hidden;
	padding:0 0 4px;
}
.sidebar .box h4{
	font-size:1.3em;
	line-height:1.231em;
	margin:0 0 4px;
	padding:0 0 2px;
}
.blue-main .sidebar .box h4{
	background:url(sep-sidebar-blue.gif) repeat-x 0 100%;
}
.blue-main .sidebar .box h4 a{
	color:#1b5a82;
}
.green-main .sidebar .box h4{
	background:url(sep-sidebar-green.gif) repeat-x 0 100%;
}
.green-main .sidebar .box h4 a{
	color:#a2b427;
}
.violet-main .sidebar .box h4{
	background:url(sep-sidebar-violet.gif) repeat-x 0 100%;
}
.violet-main .sidebar .box h4 a{
	color:#af22d8;
}
.orange-main .sidebar .box h4{
	background:url(sep-sidebar-orange.gif) repeat-x 0 100%;
}
.orange-main .sidebar .box h4 a{
	color:#eca214;
}
.sidebar .box ul{
	list-style:none;
	padding:0 0 0 1px;
	margin:0;
	height:1%;
	overflow:hidden;
}
.sidebar .box ul li{
	padding:0 0 2px 10px;
	height:1%;
	overflow:hidden;
	vertical-align:middle;
}
.sidebar .box ul li a sup{
	font-size:8px;
	vertical-align:top;
}
.sidebar .box ul li a, .sidebar .box ul li b{
	font-size: 12px;
	line-height:1.2em;
	color:#000;
}
.blue-main .sidebar .box ul li{background:url(bul-drop-hover.gif) no-repeat 0 5px;}
.green-main .sidebar .box ul li{background:url(bul-green.gif) no-repeat 0 5px;}
.violet-main .sidebar .box ul li{background:url(bul-violet.gif) no-repeat 0 5px;}
.orange-main .sidebar .box ul li{background:url(bul-orange.gif) no-repeat 0 5px;}
.blue-main .sidebar .box ul li a:hover{color:#b6191d;}
.green-main .sidebar .box ul li a:hover{color:#a2b427;}
.violet-main .sidebar .box ul li a:hover{color:#af22d8;}
.orange-main .sidebar .box ul li a:hover{color:#eca214;}

.blue-main .sidebar .box ul li b{color:#b6191d;}
.green-main .sidebar .box ul li b{color:#a2b427;}
.violet-main .sidebar .box ul li b{color:#af22d8;}
.orange-main .sidebar .box ul li b{color:#eca214;}


.primary .box{
	width:100%;
	padding:17px 0 0;
	overflow:hidden;
}
.primary .box h3{
	font-size:1.2em;
	line-height:1.167em;
	margin:0 0 6px;
	padding:0 0 3px;
}
.primary .box h3 span{
	display:block;
	padding:0 0 0 8px;
	height:100%;
}
.blue-main .primary .box h3{
	color:#1b5a82;
	background:url(sep-sidebar-blue.gif) repeat-x 0 100%;
}
.green-main .primary .box h3{
	color:#a2b427;
	background:url(sep-sidebar-green.gif) repeat-x 0 100%;
}
.violet-main .primary .box h3{
	color:#af22d8;
	background:url(sep-sidebar-violet.gif) repeat-x 0 100%;
}
.orange-main .primary .box h3{
	color:#eca214;
	background:url(sep-sidebar-orange.gif) repeat-x 0 100%;
}
.blue-main .primary .box h3 span{background:url(bul-drop-hover.gif) no-repeat 0 55%;}
.green-main .primary .box h3 span{background:url(bul-green.gif) no-repeat 0 55%;}
.violet-main .primary .box h3 span{background:url(bul-violet.gif) no-repeat 0 55%}
.orange-main .primary .box h3 span{background:url(bul-orange.gif) no-repeat 0 55%;}
.primary .box p{padding:0 0 5px;}
.primary .box ul{
	width:100%;
	overflow:hidden;
	list-style:none;
	padding:0;
	margin:0;
}
.primary .box ul li{
	padding:0 0 0 11px;
	height:100%;
	overflow:hidden;
	vertical-align:middle;
}
.blue-main .primary .box ul li{background:url(bul-drop-hover.gif) no-repeat;}
.green-main .primary .box ul li{background:url(bul-green.gif) no-repeat 0 55%;}
.violet-main .primary .box ul li{background:url(bul-violet.gif) no-repeat 0 55%}
.orange-main .primary .box ul li{background:url(bul-orange.gif) no-repeat 0 55%;}
.primary .box ul li a{
	color:#000;
	font-size:1.1em;
	line-height:1.455em;
}
.primary .box ul li a:hover{text-decoration:none;}
.blue-main .primary .box ul li a:hover{color:#b6191d;}
.green-main .primary .box ul li a:hover{color:#a2b427;}
.violet-main .primary .box ul li a:hover{color:#af22d8;}
.orange-main .primary .box ul li a:hover{color:#eca214;}
#footer{
	clear:both;
	width:970px;
	margin:0 auto;
	padding:14px 0 40px;
	overflow:hidden;
	border-top:1px solid #4881a4;
}
.btm-info{
	float:left;
	padding:0 100px 0 19px;
	width:490px;
	overflow:hidden;
}
.btm-info .ttl{
	display:block;
	padding:0 0 0 32px;
	margin:0 0 6px;
	color:#0c3c60;
	font-size:1.2em;
	line-height:1.167em;
	background:url(icon-info.gif) no-repeat 0 55%;
}
.btm-info .adr-holder{
	height:1%;
	padding:0 0 0 32px;
	overflow:hidden;
	background:url(sep-btm-info.gif) no-repeat 27px 0;
}
.btm-info .adr-holder address{
	float:left;
	width:166px;
	padding:0 30px 0 0;
	font-style:normal;
	color:#0c3c60;
	font-size:1.1em;
	line-height:1.182em;
}
.btm-info .adr-holder address strong{
	font-size:1em;
	display:block;
	margin:0 0 3px;
}
.btm-info .adr-holder address span{
	display:block;
	font-size:1em;
}
.btm-listing{float:left;}
.btm-listing div{
	float:left;
	width:133px;
	padding:0 10px 0 0;
}
.btm-listing strong{
	color:#0c3c60;
	font-size:1.2em;
	line-height:1.167em;
}
.btm-listing ul{
	list-style:none;
	padding:0 0 0 0;
	margin:0;
	width:100%;
	overflow:hidden;
}
.btm-listing ul li{
	height:1%;
	overflow:hidden;
	font-size:1.1em;
	line-height:1.364em;
}
.btm-listing ul li a{
	padding: 0 0 0 10px;
	background:url(bul-footer-blue.gif) no-repeat 0 55%;
	float:left;
	color:#0c3c60;
}
.btm-listing ul li a:hover{
	color:#b6191d;
	background:url(bul-btm-info.gif) no-repeat 0 55%;
}
.iso{
	float:right;
	width:40px;
	color:#882529;
	font-size:1.1em;
	line-height:1.273em;
	text-align:center;
}
.empty{display:none;}

.highlight{
	border: 1px solid #FFAAAA;
	background-color: #FFDDDD;
	padding-left: 2px;
	padding-right: 2px;
}

/* sitemap */
.sitemap h2 { height: 17px; margin-top: 8px; line-height: 17px; font-size: 8pt; text-transform: uppercase; }
.sitemap h2 a, .sitemap h2 a:hover { color: #ffffff; text-decoration: none; }
.sitemap h3 { padding: 2px 2px 2px 8px; }
.sitemap-green h2 { background: #a2b427; }
.sitemap-green h3 { color: #a2b427; border-bottom: 1px dotted #a2b427; background: transparent url(bul-green.gif) 0% 50% no-repeat; }
.sitemap-green h3 a, .sitemap-green h3 a:hover { color: #a2b427; text-decoration: none; }
.sitemap-orange h2 { background: #eca214; }
.sitemap-orange h3 {color: #eca214; border-bottom: 1px dotted #eca214; background: transparent url(bul-orange.gif) 0% 50% no-repeat; }
.sitemap-orange h3 a, .sitemap-orange h3 a:hover { color: #eca214; text-decoration: none; }
.sitemap-violet h2 { background: #af22d8; }
.sitemap-violet h3 {color: #af22d8; border-bottom: 1px dotted #af22d8; background: transparent url(bul-violet.gif) 0% 50% no-repeat; }
.sitemap-violet h3 a, .sitemap-violet h3 a:hover { color: #af22d8; text-decoration: none; }
.sitemap-blue h2 { background: #1b5a82; }
.sitemap-blue h3 {color: #1b5a82; border-bottom: 1px dotted #1b5a82; background: transparent url(bul-footer-blue.gif) 0% 50% no-repeat; }
.sitemap-blue h3 a, .sitemap-blue h3 a:hover { color: #1b5a82; text-decoration: none; }

/* download */
table.download { width: 100%; }
table.download td, table.download th { padding: 3px; text-align: left; }
table.download th { background-color: #f1f7fb; }
table.download td { border-bottom: 1px dotted #dce9f2; }

/* contact form */
p.txt-error { color: #ff0000; }
input.error, textarea.error, select.error { border: 1px solid #ff0000; background-color: #ffaaaa; }

.form-required{
	color: #FF0000;
}
.info-block{
	font-size: 11px;
}
