#wrapper{
	overflow:visible;
	width:100%;
}

* {
	font: Arial, Helvetica, sans-serif;
}

#footer{
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
.btm-info{
	padding:20px 0 0 185px;
	float:left;
	color:#0c3c60;
	font-size:14px;
	line-height:16px;
	width:400px;
}
.btm-info address{
	font-style:normal;
	float:left;
	display:inline;
	width:45%;
	margin:0 0 0 20px;
}
.btm-info address strong,
.btm-info address span{display:block;}
.btm-listing{
	clear:both;
	width:100%;
	padding:20px 0 0;
}
.btm-listing .box{
	float:left;
	width:45%;
}
.iso{
	float:right;
	display:inline;
	width:40px;
	margin:30px 20px 0 0;
	color:#882529;
	font-size:14px;
	line-height:16px;
	text-align:center;
}
.top-box,
.place-holder,
.img-box,
form,
.aside .illustration,
.link,
.logos,
.col-r,
.sidebar,
.aside2 .section,
.btn-rss,
.aside,
.btm-info .ttl,
.btm-listing,
/*.green-main,
.violet-main,
.orange-main,
.actual,*/

#header h1,
.a-block .txt-marked{display:none;}
#content{
	width:100%;
}
.print-logo{
	position:relative;
	display:block;
	margin:0 0 20px;
}
.print-logo a{
	background:url(logo.png) no-repeat;
	display:block;
	width:161px;
	height:143px;
}
.print-logo a img{
	display:block;
	border:0;
}
a{
	color:#000;
	text-decoration:none;
}
ul{
	list-style:none;
	padding:0;
	margin:0;
}
.breadcrumbs{
	list-style:none;
	padding:0;
	width:100%;
	overflow:hidden;
	margin:0 0 20px;
}
.breadcrumbs li{
	display:inline;
	font-size:14px;
	line-height:16px;
	color:#4b4b4a;
}
.breadcrumbs li.active{text-decoration:underline;}
.breadcrumbs li a{
	white-space:nowrap;
	text-decoration:none;
	color:#000;
}
#content .block{
	float:left;
	width:30%;
}
#content .block .heading{
	height:40px;
}
#content h2{font-size:15px;}
#content .block h3{
	margin-top:0;
	font-size:14px;
}
.primary{
	float:left;
	width:67%;
	margin:0 2% 0 0;
}
.aside2{
	float:right;
	width:30%;
	padding:40px 0 0;
	font-size:14px;
	line-height:16px;
	color:#000;
}
.p-block{
	width:100%;
 	overflow:hidden;
}
.p-block h2{
	font:bold 16px/18px Arial, Helvetica, sans-serif;
	color:#1b5a82;
	margin:0 0 17px;
}
.p-block p{
	color:#4b4b4a;
	font-size:14px;
	line-height:16px;
	margin:0 0 17px;
}
.p-block h3{
	font:14px/16px Arial, Helvetica, sans-serif;
	color:#1b5a82;
	margin:0;
	font-size:14px;
	line-height:16px;
}
.aside2 h3,
.aside2 h4{
	color:#1b5a82;
	font:bold 16px/18px Arial, Helvetica, sans-serif;
	margin:0 0 13px;
}
.aside2 .contacts strong,
.aside2 .contacts span,
.aside2 .contacts em{
	display:block;
}
.aside2 .contacts em{font-style:normal;}
.aside2 p{
	margin:0;
	line-height:20px;
}
.aside2 .practic ul{
	list-style:none;
	padding:0;
	margin:0;
}
.aside2 .practic li{padding:0 0 2px;}
.aside2 .practic li a{
	cursor:pointer;
	color:#000;
}
.aside2 .practic li a img{display:none;}
.aside2 .info-block, .aside2 .a-block{padding-bottom:40px !important;}
.aside2 .listin li{
	line-height:22px;
}
.articles{
	width:100%;
	padding:10px 0 0;
}

.aside2 .a-inner .news li h4{
	margin:0 0 3px;
	font-size:0.9em;
	line-height:1.167em;
}
