.envoyer {
	background-image: url(valider.gif);
	background-repeat: no-repeat;
	width: 58px;
	height: 14px;
	border: none;
}
#nomaero {
	font: normal normal bold 14px/100% Arial, Helvetica, sans-serif;
	color: #C3002D;
	margin: 0px;
	padding: 2px;
}
#TitreParagraphe {
	font: normal normal bold 12px/100% Arial, Helvetica, sans-serif;
	color: #C3002D;
	margin: 0px;
	padding: 5px;
}
p#TitreRub {
font: normal normal bold 18px/normal "Arial Narrow",Arial, sans-serif;
color: #888888;
}

#bouton {
	border: 0px;
	margin: 20px;
}



td#fond_deleg
{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
text-align:center;
background-color:#F5EFE7;

}

#textecourant {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: left;
	color: Black;
}
div#colgauche {
	border: 1px dotted #AAAAAA;
	margin: 20px 10px auto 10px ;
	padding: 5px 5px 5px 5px;
	width: 260px;
	background-color: White;
	float: left;
}
div#coldroit {
	border: 1px dotted #AAAAAA;
	margin: 20px 10px auto 290px ;
	padding: 0px 5px 5px 5px;
	width: 260px;
	background-color: White;
	
}
#central {
	margin: 15px 25px 5px 25px;
	width: 370px;
	border: 1px solid #AAAAAA;
	font: normal normal 11px/15px Arial, Helvetica, sans-serif;
	text-align: center;
}
#central th {
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 3px 0px;
	border-bottom: 1px solid #AAAAAA;
	font: normal bold 11px/17px Arial, Helvetica, sans-serif;
	text-align: center;
}
.taxi{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCCCCC;
	font-weight: normal;
}
.taxi a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCCCCC;
	font-weight: normal;
	text-decoration: none;
}

#central td {
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 3courantpx 0px;
	font: normal normal 11px/15px Arial, Helvetica, sans-serif;
	text-align: center;
}
em {
	font: italic normal 11px Arial, Helvetica, sans-serif;
	color: #FF4500;
	
}
#auteur em {
	font: italic normal 11px Arial, Helvetica, sans-serif;
	color: #FF4500;
	margin: 5px auto 10px 15px;
	text-align: left;
}

body {
	Scrollbar-face-color: #D4D0C8;
	Scrollbar-highlight-color: #D4D0C8;
	Scrollbar-shadow-color: #000000;
	Scrollbar-3dlight-color: #FFFFFF;
	
	Scrollbar-arrow-color: #000000;
	Scrollbar-track-color: #D4D0C8;
	Scrollbar-darkshadow-color: #000000;
	margin-top: 0px;
	padding-top: 0px;

	text-align:center;
	
	
}

td { 
text-decoration: none;
color: #000000; 
font-size: 11px
}

td#corps {
	border-top: 0px;
	border-bottom: 0px;
	vertical-align: top;
	margin:0 0 0 50px;
	text-align:center;
}
div#global {
	border: 1px solid #CCCCCC;
	/*font-size:1em;*/
	/*border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;*/
	margin: 0px auto 0px auto ;
	padding: 0px 0px 0px 0px;
	width: 720px;
	background-color: White;
		
}

h2#codes {
	font: normal bold 16px/18px "Arial Narrow", Arial, sans-serif;
	text-align: right;
	color: #C3002D;
	margin: 10px 0px 15px 0px;
	padding: 5px 5px 0px 0px;
	width: auto;
} 
hr#filetHaut {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 720px;
	color: #CCCCCC;
	size: 1px;
	text-shadow: none;
}

hr#menu {
	margin: 1px 0px 1px 0px;
	padding: 0px 0px 0px 0px;
	width: 145px;
	color: #CCCCCC;
}
hr#separateur {
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 150px;
	color: #CCCCCC;
	size: 1px;
}

div#pubHaute {
	
	width: 720px;
	height: 65px;
	margin: 0px 0px 5px 1px;
	padding: 5px 0px 0px 0px;
}
div#pubSky {
	
	width: 126px;
	height: 610px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
div#plan {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: right ;
	height: 21px;

}
td#navigationGauche {
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#CCCCCC;
	background-color: #F9F8F6;
	vertical-align: top;
}
td#navigationDroit {
	border-left: 1px solid #CCCCCC;
	background-color: #F9F8F6;
	vertical-align: top;
}

 table#choixstat {
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	width: 550px;
	margin: 25px 10px 25px 10px;
}
 td#selecstat a {
	background-repeat: repeat-x;
	background-image: url(fond_selec_stat.gif);
	/*width: 100px;*/
	padding: 6px;
	font: normal normal 600 14px, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}
 td#selecstat {
	background-repeat: repeat-x;
	background-image: url(fond_selec_stat.gif);
	/*width: 100px;*/
	padding: 6px;
	font: normal normal 600 13px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-align: center;
	
}

 td#deselecstat{
 	border-left: 1px solid #CCCCCC;
	background-repeat: repeat-x;
	background-image: url(fond_deselec_stat.gif);
	width: 100px;
	padding: 6px;
	font: normal normal normal 13px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	text-align: center;
}
td#affichestatgras {
	border-left: 1px solid #CCCCCC;

	border-bottom: 1px solid #CCCCCC;

	margin: 25px 10px 25px 10px;
	font: normal normal bold 13px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

table#affichestat {
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	margin: 5px 10px 25px 10px;
	width: 550px;
	font: normal normal normal 13px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
} 
table#formstat {
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	margin: 5px 5px 25px 10px;
	padding: 5px 10px 5px 10px;
	width: 525px;
	font: normal normal normal 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
table#genformstat {
	border:0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 600px;

}
table#formstat td {
	border-left: 0px solid #CCCCCC;
	border-right: 0px solid #CCCCCC;
	border-bottom: 0px solid #CCCCCC;
	border-top: 0px solid #CCCCCC;
	margin: 5px 10px 25px 5px;
	padding: 3px 5px 3px 10px;
	font: normal normal bold 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
} 
#formStatGras {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
	font: normal normal bold 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}

#majstatcentrer {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font: normal normal bold 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
#majstatretrait {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
	font: normal normal normal 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
#majstat{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font: normal normal bold 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
td#affichestat {
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	font: normal normal normal 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
}
td#affichestatgras {
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	font: normal normal bold 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
}
 #entetestat{
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background-repeat: repeat-x;
	background-image: url(fond_deselec_stat.gif);
	padding: 4px;
	font: normal normal bold 13px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	text-align: center;
}
 #entetestatcol1{
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 4px;
	font: normal normal bold 13px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	text-align: left;
}
 #entetestatcol2{
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 4px 4px 4px 12px;
	font: normal normal normal 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	text-align: left;
}

td#tableauaeroport {
	border-bottom: 1px solid #CCCCCC;
	vertical-align: top;
	margin-top: 0px;
}
p#accueilHaut {
	
	height: 15px;
	margin: 0px;
	padding: 0px;
}
#idExtranet form p {
	font: normal normal 11px Arial, Helvetica, sans-serif;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 0px;

}

#idChamps form p {
	text-align: right;
	margin-top: 5px;
	margin-bottom: 0px;
}

p#identifiant {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: left;
	text-indent: 5px;
}

p#texte {
	font: normal normal normal 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	line-height: 10px;
	text-indent: 30px;
}

p#texte2 {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: left;
	line-height: 13px;
	text-indent: 10px;
}
p#actu{
	font: normal normal normal 10px Arial, sans-serif;
	text-align: left;
	line-height: 13px;
	padding: 0px 0px 0px 5px;
	margin: 0px 0px 0px 0px;
}
#ca{
	font: normal normal normal 10px Arial, sans-serif;
	text-align: left;
	line-height: 13px;
	padding: 5px 0px 5px 5px;
	margin: 0px 0px 0px 0px;
	text-align: left;

}
td#situationTexte {
	width: 275px;
	padding: 5px 5px 5px 5px;
	border: 1px solid #AAAAAA;
	font: normal bold 11px/17px Arial, Helvetica, sans-serif;
	text-align: justify;
}
td#situationImage {
	width: 275px;
	padding: 5px 5px 5px 5px;

	font: normal bold 11px/17px Arial, Helvetica, sans-serif;
	border: 1px solid #AAAAAA;
	text-align: center;	
}

table#site {
	width: 550px;
	margin: 10px 5px 10px 10px;
	padding: 5px;
	font: normal bold 11px/17px Arial, Helvetica, sans-serif;
	border: 1px solid #AAAAAA;
	
}

/*#lienSite a { font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	font: bold 13px/25px Arial, Helvetica, sans-serif;
	color: #C3002D;}*/

div#lienSite a{font-family: Arial, Helvetica, sans-serif;			
			color:#C3002D;			
			font-style:normal;
			font-weight:bold;}

p#ssTitrePage {
	text-align: left;
	margin: 5px 5px 25px 5px;
	padding: 5px 10px 5px 10px;
	border: 1px solid #999999;
	font: normal normal bold 20px/24px "Arial Narrow", Arial, sans-serif;
	color: #333333;
	width: 525px;
	/*float: none;*/
}

#lienSite a:hover {
text-decoration: none;
}

p#aeroport{
	font-family: Arial, Helvetica, sans-serif;
	font-style:normal;
	font-size: 10px;
	font-weight:normal;
	text-align: left;
	line-height: normal;
	margin: 0px 0px 0px 10px;
	padding: 0px 0px 5px 0px;
	width: 210px;
}

p#ligne{
	height: 22px;
	background-image:   url(traitgris.gif);
	background-repeat: repeat-x;
	vertical-align: middle;
}
p#ligne2{
	height: 11px;
	background-image:   url(traitgris2.gif);
	background-repeat: repeat-x;
	vertical-align: middle;
}
p#textrechecher {
	font: normal normal normal 10px Arial, sans-serif;
	text-align: justify;
	margin: 0px 0px 0px 0px;
	padding: 0px 5px 5px 5px;
}

p#textetitre {
	font: normal normal bold 12px Arial, sans-serif;
	text-align: left;
	text-indent: 20px;
}
p#sousTitre {
	font: normal normal bold 11px/13px Arial, sans-serif;
	text-align: left;
	text-indent: 25px;
	color: #666666;
	margin: 15px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
#organigramme td {
	font: normal normal bold 10px/13px Arial, sans-serif;
	text-align: center;
	color: #666666;
}

p#courant {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: justify;
	
	margin: 5px 10px 10px 15px;
	color: #000000;
}
tr#courant {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: justify;
	/*width: 395px;*/
	margin: 5px 10px 10px 15px;
	color: #000000;
}
p#courantlarge {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: justify;
	width: 520px;
	margin: 5px 10px 10px 15px;
	color: #000000;
}

p#courant ul {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: left;
	width: 395px;
	margin: 5px 10px 10px 15px;
	color: #000000;
	list-style-type: disc;
}
p#auteur {
	font: normal normal normal 11px Arial, sans-serif;
	width: 395px;
	margin: 15px auto 0px 15px;
	color: #C81E00;
	text-align: left;
	text-decoration: none;
}
p#auteur a {
	font: normal normal normal 11px Arial, sans-serif;
	width: 395px;
	margin: 15px 10px 0px 0px;
	color: #C81E00;
	text-decoration: none;
}
p#auteur a:hover {
	font: normal normal normal 11px Arial, sans-serif;
	width: 395px;
	margin: 15px 10px 0px 0px;
	color: #C81E00;
	text-decoration: underline;
}

p#sommaire{
	font: normal normal normal 10px Arial, sans-serif;
	text-align: right;
	margin: 5px 10px 10px 5px;
	color: #000000;
	text-decoration: underline;
}
p#sommaire a{
	font: normal normal normal 10px Arial, sans-serif;
	text-align: right;
	margin: 5px 10px 10px 5px;
	color: #000000;
	text-decoration: underline;
	}
p#sommaire a:hover{
	font: normal normal normal 10px Arial, sans-serif;
	text-align: right;
	margin: 5px 10px 10px 5px;
	color: #376EB9;
	text-decoration: underline;
	}
p#courant a {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: left;
	display: inline;
	/*width: 395px;*/
	margin: 5px 10px 10px 0px;
	color: #000000;
	text-decoration: underline;
}
p#courant a:hover {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: left;
	display: inline;
	/*width: 395px;*/
	margin: 5px 10px 10px 0px;
	color: #376EB9;
	text-decoration: none;
}
div#imageGauche {
	margin: 15px auto 5px 10px;
	padding: 0px;
	text-align: left;
}
#imageGauche {
	margin: 10px 0px 2px 10px;
	padding: 0px;
	text-align: left;
	/*float: left;*/
	display: block	
}
div#imageDroit {
	margin: 15px 10px 5px auto;
	padding: 0px;
	text-align: right;
}
#imageDroit {
	margin: 10px 10px 2px 10px;
	padding: 0px;
	float: right;
	display: block	
}

p#textrechecher {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: justify;
	font-weight: normal;
}

p#titrebleu {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: left;
	line-height: 13px;
	color: #376EB9;
	padding: 3px;
	margin-top: 2px;
	margin-bottom: 0px;
}

#titrerouge {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	text-align: left;
	line-height: 16px;
	color: #C3002D;
	margin: 0px 10px 2px 10px;
	padding: 0px 0px 0px 0px;
	
}
.separateur {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;

}
p#textrechecher {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: justify;
}
p#textreponse {
	font: normal normal normal 10px Arial, sans-serif;
	color: #C3002D;	
}
#textePetit {
	font: normal normal normal 10px Arial, sans-serif;
	margin: 10px 10px 10px 20px;
	padding: 0px 0px 0px 0px;
	text-align: justify;
}
#textePetitItal {
	font: italic normal normal 10px Arial, sans-serif;
	margin: 10px 10px 10px 20px;
	padding: 0px 0px 0px 0px;
	text-align: justify;
}

input#login {
text-align: left;
}

input#rechercher {
text-align: left;
}

dl, dt, dd, ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#menu {
width: 150px;
}
#menu dt {
	cursor: pointer;
	height: 22px;
	background-image: url(fond-navigation.gif);
	background-repeat: repeat-x;
	font: normal normal bold 12px "Arial Narrow", Arial, sans-serif;
	text-align: left;
	text-indent: 5px;
	color: #FFFFFF;
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 0px 0px;
	list-style-type: none;
}
#menu dd {
	border: 0px;
	list-style-type: none;
}
#menu li {
	text-align: left;
	background: #FFFFFF;
	text-indent: 0px;
	font: normal normal 400 10px Arial, sans-serif;
	color: #FFFFFF;
	border-top: 1px solid #DDDDDD;
	padding: 0px 0px 0px 0px;
	margin: 0px 2px 0px 5px;
	list-style-type: none;
}

div#navigSecondaire {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 14px;
	table-layout:fixed;
	text-align: left;
	margin: 5px 0px 5px 0px;
	color : #0000CD;
}
#menu li a {
	color: #000000;
	display: block;
	height: 100%;
	text-decoration: none;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
#menu dt a {
	color: #FFFFFF;
	display: block;
	height: 100%;
	text-decoration: none;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
#menu li a:hover, #menu dt a:hover {
	background: #739ACE;
	color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	height: 100%;
}
.chpsmenu {
	height: 15px;
	width: 120px;
	font: normal normal 11px/11px Arial, Helvetica, sans-serif;
}
.chpsmenu50 {
	height: 15px;
	width: 50px;
	font: normal normal 11px/11px Arial, Helvetica, sans-serif;
}
h1#titrepage {
	font: normal bold 25px/25px "Arial Narrow", Arial, sans-serif;
	text-align: right;
	margin: 0px 8px 0px 0px;
	padding: 18px 0px 0px 0px;
	color: #5A5A5A;
	background-image: url(fond_titre_page.gif);
	background-repeat: repeat-x;
}
#rubriqueTech {
	font: normal bold 15px/25px "Arial Narrow", Arial, sans-serif;
	color: #014C84;
	text-align: left;
	border-bottom: 1px solid #AAAAAA;
	border-top: 1px solid #AAAAAA;
	margin: 10px 5px 5px 5px;
	padding-left: 10px;
	padding-bottom: 4px;
}
#sousRubriqueTech dt {
	font: normal bold 11px/15px Arial, Helvetica, sans-serif;
	color:#333333;
	text-align: left;
	margin: 4px 5px 1px 5px;
	padding-left: 10px;
	padding-bottom: 0px;

}
#rubriqueNormal dt {

	font: normal bold 11px Arial, Helvetica, sans-serif;
	margin: 5px 10px 10px 15px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	color: #0000CD;
}

h3 {
	font: normal bold 11px Arial, Helvetica, sans-serif;
	margin: 5px 10px 10px 10px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	color: #0000CD;
}
h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	margin: 5px 10px 0px 15px;
	padding: 0px 0px 0px 0px;
	text-align: right;
	text-decoration:none;
	
}

h4 a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#666666;
	text-decoration:none;
	
}

#rubriqueNormal li {
	font: normal normal 11px Arial, Helvetica, sans-serif;
	margin: 5px 10px 10px 25px;
	padding: 0px 0px 0px 10px;
	text-align: justify;
	color: #333333;
}
li {
	font: normal normal 11px Arial, Helvetica, sans-serif;
	margin: 0px 10px 5px 50px;
	padding: 0px 0px 0px 5px;
	text-align: left;
	color: #333333;
	list-style-type: disc;
}
#rubriqueNormal p {
	font: normal bold 11px Arial, Helvetica, sans-serif;
	margin: 5px 25px 10px 25px;
	padding: 0px 0px 0px 10px;
	text-align: center;
	color: #333333;
}
#relief {
	font: normal bold 11px Arial, Helvetica, sans-serif;
	margin: 5px 25px 10px 25px;
	padding: 0px 0px 0px 10px;
	text-align: center;
	color: #333333;
}



#introRubrique {
	font: normal bold 12px Arial, Helvetica, sans-serif;
	margin: 5px 10px 10px 15px;
	padding: 0px 0px 0px 0px;
	text-align: justify;
	color: #333333;
}
#introParagraf {
	font: normal bold 11px Arial, Helvetica, sans-serif;
	margin: 5px 10px 10px 15px;
	padding: 0px 0px 0px 0px;
	text-align: justify;
	color: #333333;
	/*width: 395px;*/
}
#sousRubriqueTech p {
	font: normal normal 11px/15px Arial, sans-serif;
	color: #333333;
	text-align: left;
	margin: 4px 5px 1px 5px;
	padding-left: 10px;
	padding-bottom: 0px;
	display: inline;
}
#sousRubriqueTech ul, li {
	font: normal normal 11px/15px Arial, sans-serif;
	color: #333333;
	text-align: left;
	margin: 0px 5px 1px 5px;
	padding-left: 20px;
	padding-bottom: 0px;
	list-style-type: none;
}
#sousRubriqueTech a {
	font: normal normal 11px/15px Arial, sans-serif;
	color: #333333;
	text-align: left;
	margin: 4px 5px 1px 5px;
	padding-left: 10px;
	padding-bottom: 0px;
	display: inline;
	text-decoration : none
}
#sousRubriqueTech a:hover {
	color: #AAAAAA;
	text-align: left;
	margin: 4px 5px 1px 5px;
	padding-left: 10px;
	padding-bottom: 0px;
	display: inline;
	text-decoration : none
}
h2 {
	font: italic normal bold 13px/18px Arial, Helvetica, sans-serif;
	text-align: justify;
	margin: 20px 10px 20px 10px;
	width: 550px;
	padding: 0px;
	color: #0000CD;
}
#situation li {
	margin: 0px 0px 0px 5px;
	padding: 5px 5px 5px 0px;
	font: normal normal normal 11px/13px Arial, Helvetica, sans-serif;
	list-style-type: none;
}
#situation a {
	margin: 0px 0px;
	padding: 5px 5px 5px 0px;
	font: normal normal normal 10px/12px Arial, Helvetica, sans-serif;
	color: #333333; 
	text-decoration: none; 
}
#situation a:hover {
	margin: 0px 0px;
	padding: 5px 5px 5px 0px;
	font: normal normal normal 10px/12px Arial, Helvetica, sans-serif;
	color: #AAAAAA; 
	text-decoration: none; 
}
p#introPage {
	font: normal bold 13px/17px Arial, sans-serif;
	text-align: justify;
	margin: 20px 25px 5px 45px;

	padding: 0px;
}
p#titrebleu a {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: left;
	line-height: 12px;
	color: #376EB9;
	padding: 3px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-decoration: none
	
}
p#titrebleu a:hover {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: left;
	line-height: 12px;
	color: #376EB9;
	padding: 3px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-decoration: underline
}
.txtprecedentesuivant {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-align: center;
	background: transparent;
}
p#coldroit {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: justify;
	padding: 0px 5px 5px 5px;
	color: #555555;
	text-decoration: none;
}
p#coldroit a {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: justify;
	padding: 0px 5px 5px 5px;
	color: #5555555;
	text-decoration: none
}
p#coldroit a:hover {
	font: normal normal normal 11px Arial, sans-serif;
	text-align: justify;
	padding: 0px 5px 5px 5px;
	color: #5555555;
	text-decoration: none
}