/***********************************************/
/* 3col_leftNav.css                             */
/* Use with template 3col_leftNav.html          */
/***********************************************/

/***********************************************/
/* HTML tag styles                             */
/***********************************************/ 

* {
	margin: 0px;
	padding: 0px;
}

body{
	font-family: Arial,sans-serif;
	color: #006DB6;
	line-height: 1.166;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
}

a:hover{
	color: #006DB6;
	text-decoration: underline;
}
#masthead #logoaero {
	margin-left: 10px;
}

#masthead #logoaero h1 {
	color: #FFFFFF;
	text-align: center;
	/*margin-bottom: 40px;*/
	margin-top: 5px;
	padding: 0px;
	font: bold 18px "Trebuchet MS", Arial, sans-serif;
}

.banner_td_left {
background-image:url(bandeau_top_2009_bg_left.jpg);
background-repeat:repeat;
}

.banner_td_right {
background-image:url(bandeau_top_2009_bg_right.jpg);
background-repeat:repeat;
}

a:active{
	color: #006DB6;
	text-decoration: none;
}

a:link{
	color: #006DB6;
	text-decoration: none;
}

a:visited{
	color: #0057A2;
	text-decoration: none;
}


h1{
	font-family: Verdana,Arial,sans-serif;
	color: #006DB6;
	margin: 0px;
	padding: 0px;
}

h2{
	font-family: Arial,sans-serif;
	font-size: 114%;
	color: #006DB6;
	margin: 0px;
	padding: 0px;
}

h3{
	font-family: Arial,sans-serif;
	font-size: 100%;
	color: #006DB6;
	margin: 0px;
	padding: 0px;
}

h4{
	font-family: Arial,sans-serif;
	font-size: 100%;
	font-weight: normal;
	color: #006DB6;
	margin: 0px;
	padding: 0px;
}

h5{
	font-family: Verdana,Arial,sans-serif;
	font-size: 100%;
	color: #006DB6;
	margin: 0px;
	padding: 0px;
}

ul{
 list-style-type: square;
}


ul ul{
 list-style-type: disc;
}
.checkbox_mod {
}


ul ul ul{
 list-style-type: none;
}

label{
	font-family: Arial,sans-serif;
	font-size: 100%;
	font-weight: bold;
	color: #006DB6;
}


/***********************************************/
/* Layout Divs                                 */
/***********************************************/

#masthead{
	padding: 0px;
	width: 100%;
	margin-top: 0px;
}

#navBar{
	float: left;
	width: 20%;
	padding: 0px;
	/*background-color: #F7F8FC;*/
}

#headlines{
	float:right;	
	padding-right: 0px;
	margin-right:3px;
}

#content{
	margin-top : 5px;
	float: left;
	width: 60%;
	padding-left: 15px;
}

#content p {
	text-align: left;
	font-size: 12px;
}

/***********************************************/
/* Components                                  */
/***********************************************/

#siteName{
	margin: 0;
	padding: 0 0 0 10px;
}

.tarifs {
	text-align: center;
	font-size: 12px;
	width:200px;
}


/************* #globalNav styles **************/

#globalNav{
	/*color: #B51721; MM le 24/07/2009*/
	color: #FFFFFF;
	padding-bottom: 5px;
	padding-left: 10px;
	/*margin-left: 180px;MM le 24/07/2009*/
	text-align:center;
}

#globalNav img{
 display: block;
}

#globalNav a {
	font-size: 80%;
	padding: 0 4px 0 0;
	/*color: #B51721; MM le 24/07/2009*/
	color: #FFFFFF;
}
#globalNav a:hover {
	font-size: 80%;
	padding: 0 4px 0 0;
	color: #FFFFFF;
	text-decoration: underline;
}

/*************** #pageName styles **************/

#pageName{
	/*border-top: 1px solid #E75011;*/
	/*border-bottom: 1px solid #E75011;*/
	margin: 0px;
	padding: 0px 0px 1px 0px;
	background-color: #8B97CD;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align:center;
	color: #FFFFFF;
}

#pageName a{
	margin: 0px;
	padding: 0px 0px 0px 0px;
	/*background-color: #eeeeee;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight:bold;
}


/************* #breadCrumb styles *************/

#breadCrumb{
	font-size: 80%;
	padding: 2px 0px 0 10px;
}


/************** .feature styles ***************/

.feature{
	padding: 0px 0px 10px 10px;
	font-size: 80%;
}

.feature h3{
	padding: 30px 0px 5px 0px;
	text-align: center;
}

.feature img{
	float: left;
	padding: 10px 10px 0px 0px;
}


/************** .story styles *****************/

.story{
	clear: both;
	padding: 10px 0px 0px 10px;
	font-size: 80%;
}

.story p{
	padding: 0px 0px 10px 0px;
}


/************* #siteInfo styles ***************/

#siteInfo{
	clear: both;
	border: 1px solid #cccccc;
	font-size: 75%;
	color: #cccccc;
	padding: 10px 10px 10px 10px;
	background-color: #FFFFFF;
}

#siteInfo img{
	padding: 4px 4px 4px 10px;
	vertical-align: middle;
}


/************* #search styles ***************/

#search{
	padding: 5px 0px 5px 10px;
	border-bottom: 1px solid #cccccc;
	font-size: 90%;
}

#search form{
 margin: 0px;
 padding: 0px;
}

#search label{
	display: block;
	margin: 0px;
	padding: 0px;
}


/*********** #navBar link styles ***********/

#navBar ul a:link, #navBar ul a:visited {
	display: block;
}
#navBar ul {list-style: none; margin: 0; padding: 0;}

/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
#navBar li {border-bottom: 1px solid #EEE;}

/* fix for browsers that don't need the hack */
html>body #navBar li {border-bottom: none;}

/*********** #Links styles ***********/

#sectionLinks{
	position: relative;
	padding: 0px;
	margin:	5px;
	margin-right:0px;
	margin-bottom:20px;
	border-bottom: 1px solid #ABB8DE;
	font-size: 90%;
}

#sectionLinks h3{
	padding: 10px 0px 2px 10px;
}

#sectionLinks a {
	display: block;
	border-top: 1px solid #ABB8DE;
	padding: 3px 0px 3px 0px;
}

#sectionLinks a:hover{
	background-color: #eeeeee;
}

#sectionLinks p {
	display: block;
	border-top: 1px solid #cccccc;
	padding: 2px 0px 2px 10px;
}

/*********** .relatedLinks styles ***********/


.relatedLinks{
	position: relative;
	font-size: 80%;
	align:center;
}



.cadreleft{	
	margin: 0px 0px 20px 5px;
	padding: 5px 10px 15px 10px;
	border:1px solid #ABB8DE; /* couleur du cadre */
	-moz-border-radius : 10px; 
}

.cadreleft h1{	
	color: #B1C800;
}

.cadreleftfocus {	
	margin: 0px 0px 20px 5px;
	padding: 5px 10px 15px 10px;
	border:1px solid #ABB8DE; /* couleur du cadre */
	-moz-border-radius : 10px; 
}

.cadreleftfocus  h1{	
	color:#E35F2D;
}


.relatedLinks h3{
	padding: 10px 0px 2px 0px;
}

.relatedLinks a:link,
.relatedLinks a:visited {		
	text-decoration: underline;
}

/************** #advert styles **************/

#advert{
	padding: 30px 0px 10px;
}

#advert img{
	display: block;
}


/************** #headlines styles **************/

#headlines{
	margin-top: 10px;
	/*padding: 10px 0px 20px 10px;*/
	font-family:Verdana, Arial, sans-serif;
	text-align: center;
}

#headlines p{
	padding: 5px 0px 5px 0px;
	color: #B1C800;
	font-size: 12px;
	font-weight: bold;
}

.cadreright {
align:center;
width:150px;
margin: 0px 0px 20px 0px;
padding-left:7px;
padding-right:7px;
padding-bottom:10px;
background-color:#FFFFFF;
border-left:1px solid #ABB8DE; /* couleur du cadre */
border-right:1px solid #ABB8DE;
border-bottom:1px solid #ABB8DE;
border-top:1px solid #ABB8DE;
-moz-border-radius : 10px; 
}

.txt_tabhoraires {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #006DB6;
}
.txt_tabhorairesdepart {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #006DB6;
	text-decoration: none;
	background-color: #FFFFFF;
	text-align: center;
}
.txt_tabhorairesdepartjours {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #B1C800;
	text-align: center;
	padding:0px 4px 0px 5px;
}
.txt_tabhorairesdepartheures {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #666699;
	text-align: center;
}
.txt_tabhorairescompanie {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #006DB6;
	text-decoration: none;
	text-align: center;
}
.txt_tabhorairesbord {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #006DB6;
	text-decoration: none;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: dotted;
	border-right-style: dotted;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
.txt_tabhorairesbordhaut {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #006DB6;
	text-decoration: none;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: solid;
	border-top-color: #006DB6;
	border-right-color: #006DB6;
	border-bottom-color: #006DB6;
	border-left-color: #006DB6;
}
.titre_news {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #E75011;
	text-decoration: none;
}

.titre_undernews {
	border-bottom: 1px solid #CCC;
	color: #FFFFFF;
	background-color: #006DB6;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:2px;
}

.parking_tit1e {
	border-color:#FFF;
	color: #FFFFFF;
	background-color: #004777;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-top-width: 1px;
	border-top-style: solid;
	margin-top:5px;
	margin-bottom:1px;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:2px;
}

.parking_row1 {
	border-color:#FFF;
	color: #FFFFFF;
	background-color: #006DB6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-top-width: 1px;
	border-top-style: solid;
	margin-top:1px;
	margin-bottom:1px;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:2px;
}

.parking_row2 {
	border-color:#FFF;
	color: #006DB6;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-top-width: 1px;
	border-top-style: solid;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:2px;
}


.txt_news {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #006DB6;
	text-decoration: none;
}


.nb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #006DB6;
	text-decoration: none;
}
.titre_flash {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	color: #006DB6;
	text-decoration: none;
}
.contenu_news {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #006DB6;
	text-decoration: none;
}
.contenu_news_under {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #CCCC00;
}
.td_haut {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCC00;
	border-right-color: #CCCC00;
	border-bottom-color: #CCCC00;
	border-left-color: #CCCC00;
}
.td_bas {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #CCCC00;
	border-right-color: #CCCC00;
	border-bottom-color: #CCCC00;
	border-left-color: #CCCC00;
	border-bottom-style: solid;
}
.td_hautbas {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #CCCC00;
	border-right-color: #CCCC00;
	border-bottom-color: #CCCC00;
	border-left-color: #CCCC00;
	border-bottom-style: solid;
	border-top-style: solid;
}
.titleaero {
	border-bottom: 1px solid #CCC;
	color: #FFFFFF;
	background-color: #006DB6;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
}
.txt_nouvelleslignes {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #006DB6;
	text-decoration: none;
	list-style-position: outside;
	list-style-type: disc;
	text-align: center;
}
.txt_nouvelleslignesimg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #006DB6;
	text-decoration: none;
	float: right;
}
.fond_comp {
	background-color: #B9CB06;
}

#accueil_front {
	background: url(lignes.png) no-repeat right top;
	padding-right: 380px;
	height: 563px;
}

#imgindex {
	position: relative;
	float: right;
	margin-left: 35px;
}
.fond_destination {
	background-color: #E75011;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.fond_destination_small {
	background-color: #E75011;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}
.fond_numvol {
	background-color: #006DB6;
	color: #FFFFFF;
}
.fond_jours {

	background-color: #EEEEEE;
}
.fond_depart {

	background-color: #CC6699;
}
.fond_arrivee {


	background-color: #CC9999;
}
.fond_lignes {



	background-color: #EEEEEE;
}
.fond_comp a:hover{text-decoration:underline}
.fond_comp a:active{
	text-decoration:none;
	color:#006DB6
}
.fond_comp a:link{
	text-decoration:none;
	color:#006DB6
}
.fond_comp a:visited{
	text-decoration:none;
	color:#0057A2
}

.nb2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #B51621;
	text-decoration: none;
}
#content .txt_nouvelleslignes img {
	border: 1px solid #CCCCCC;
	margin: 5px;
	padding: 5px;
}

.nb2_blc {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}

.nb2_blc a:hover{
	text-decoration:underline;
	color: #FFFFFF;
}
.nb2_blc a:active{text-decoration:none; color:#FFFFFF}
.nb2_blc a:link{text-decoration:none; color:#FFFFFF}
.nb2_blc a:visited{text-decoration:none; color:#FFFFFF}

.fond_destination a:hover, 
.fond_destination a:active, 
.fond_destination a:link, 
.fond_destination a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}

#loueurs {
	margin-bottom: 15px;
	position: relative;
	float: left;
	width: 50%;
	text-align: center;
}

#loueurs2 {
	margin-bottom: 15px;
	position: relative;
	float: right;
	width: 50%;
	text-align: center;
}


#taxi {
	clear: both;
	text-align: center;
	margin: 15px;
}


.bloc_loueur {
	background: #006DB6;
	text-align: center;
	width: 170px;
	margin-right: 10px;
	color: #FFFFFF;
	font-size: 0.7em;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
	border:0;
}
.bloc_loueur h1{
	font-size: 1em;
	font-weight: bold;
	color: #FFFFFF;
	background: #CC0000;
	margin: 0;
}
.nv_dest_bleu {
	color: #FFFFFF;
	background-color: #006DB6;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.txtrougegras {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #B51621;
}
#content table tr td table tr td p {
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
}
#content table tr td table tr td h3 {
	color: #CD0016;
	font-size: 12px;
	font-weight: bold;
}
#navBar .relatedLinks h1 {
	font-size: 12px;
	font-weight: bold;
	/*  font-style: italic; Modif MM du 24/07/2009 */
}
#content p a {
	text-decoration: underline;
}
#content .centreflash {
	text-align: center;
}
#masthead #adsense {
	float: right;
}
#content .txt_tabhorairescompanie tr .titleaero a {
	color: #FFF;
}
#content .story tr td a {
	color: #E75011;
}
#content pre {
}
