﻿
#bloc_gauche { position:relative; top:5px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; }
#bloc_gauche .header_bloc01 { background:transparent url(fdNav.gif) repeat-x scroll 0 0 !important; color:#FFFFFF !important; font-size:11px !important; font-weight:bold !important; height:18px !important; margin-top:10px !important; padding:0 !important; position:relative !important; width:300px !important; }
#bloc_gauche .texte01 { position:absolute; top:2px !important; left:8px; }
#contenant_blok01 {position:relative; width:298px; text-align:left; padding-bottom:3px; height:510px; border:solid #bcbcbc 1px;}
#contenant_blok01 .generik_blok {position:relative; width:245px; left:4px; float:left;}

#contenant_blok01 .generik_blok #zone1 {font-family:Arial; font-size:18px; color:#ff8a00; margin-left:7px; margin-top:7px; display:block; text-decoration:none; cursor:pointer;}
#contenant_blok01 .generik_blok #zone1:hover {color:#000; text-decoration:underline; cursor:pointer;}

#contenant_blok01 .generik_blok #zone2 {font-family:Arial; font-size:18px; color:#85bc2a; margin-left:7px; margin-top:7px; display:block; text-decoration:none; cursor:pointer;}
#contenant_blok01 .generik_blok #zone2:hover {color:#000; text-decoration:underline; cursor:pointer;}

#contenant_blok01 .generik_blok #zone3 {font-family:Arial; font-size:18px; color:#0db5dc; margin-left:7px; margin-top:7px; display:block; text-decoration:none; cursor:pointer;}
#contenant_blok01 .generik_blok #zone3:hover {color:#000; text-decoration:underline; cursor:pointer;}

#contenant_blok01 .generik_blok #zone4 {font-family:Arial; font-size:18px; color:#c71016; margin-left:7px; margin-top:7px; display:block; text-decoration:none; cursor:pointer;}
#contenant_blok01 .generik_blok #zone4:hover {color:#000; text-decoration:underline; cursor:pointer;}

#contenant_blok01 .generik_blok #zone5 {font-family:Arial; font-size:18px; color:#096361; margin-left:7px; margin-top:7px; display:block; text-decoration:none; cursor:pointer;}
#contenant_blok01 .generik_blok #zone5:hover {color:#000; text-decoration:underline; cursor:pointer;}

#contenant_blok01 .generik_blok #zone6 {font-family:Arial; font-size:15px; color:#ce008f; margin-left:7px; margin-top:7px; display:block; text-decoration:none; font-weight:bold; cursor:pointer;}
#contenant_blok01 .generik_blok #zone6:hover {color:#000; text-decoration:underline; cursor:pointer;}

#contenant_blok01 .generik_blok #zone8 {font-family:Arial; font-size:16px; color:#cc0033; margin-left:7px; margin-top:7px; display:block; text-decoration:none; font-weight:bold; cursor:pointer;}
#contenant_blok01 .generik_blok #zone8:hover {color:#000; text-decoration:underline; cursor:pointer;}

#contenant_blok01 .generik_blok #zone10 {font-family:Arial; font-size:16px; color:#660099; margin-left:7px; margin-top:7px; display:block; text-decoration:none; font-weight:bold; cursor:pointer;}
#contenant_blok01 .generik_blok #zone10:hover {color:#000; text-decoration:underline; cursor:pointer;}

#contenant_blok01 .generik_blok #zone11 {font-family:Arial; font-size:16px; color:#0097df; margin-left:7px; margin-top:7px; display:block; text-decoration:none; font-weight:bold; cursor:pointer;}
#contenant_blok01 .generik_blok #zone11:hover {color:#000; text-decoration:underline; cursor:pointer;}





#contenant_blok01 .ventes { position:relative; width:290px; height:75px;left:3px; float:left;}
#contenant_blok01 .destockage { position:relative; width:290px; height:75px; left:3px; float:left;}
#contenant_blok01 .prix { position:relative; width:290px; height:75px;left:3px; float:left;}
#bloc_gauche .contenuprem {display:block; position:relative;	width:245px; font-family:Arial;	font-size:12px;	margin:0 0 3px 7px;
	text-decoration:none;	color:#000; cursor:pointer;}
#bloc_gauche .contenuprem:hover { text-decoration:underline; cursor:pointer;}
#contenant_blok01 .decalg { clear:both; }


#bloc_gauche .contenant_blok01 { position:relative; width:298px; text-align:left; padding-bottom:3px; border:solid #C0C0C0 1px; }
#bloc_gauche .contenant_blok01 DIV { position:relative; padding:5px; }
#bloc_engagement { position:relative; top:10px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; line-height: 12pt;}
#bloc_engagement A { color:#000; text-decoration:none; }
#bloc_engagement A:hover { text-decoration:underline }
#bloc_engagement .num { position:absolute; left:22px; color:#FFF; font-weight:bold; font-size:12px }
#bloc_engagement .titre { position:absolute; left:65px; color:#FFF; font-weight:bold }
#bloc_engagement .header_bloc01 { position:relative; width:320px; height:88px; background: url(engagntqualite_01.gif) no-repeat}
#bloc_engagement .header_bloc01 .num { top:67px }
#bloc_engagement .header_bloc01 .titre { top:67px }
#bloc_engagement .header_bloc02 { position:relative; width:320px; height:27px; background: url(engagntqualite_02.gif) no-repeat}
#bloc_engagement .header_bloc02 .num { top:6px }
#bloc_engagement .header_bloc02 .titre { top:6px }
#bloc_engagement .footer_bloc01 { position:relative; width:320px; height:51px; background: url(engagntqualite_03.gif) no-repeat}
#bloc_engagement DIV UL { position:relative; width:320px; background: url(bg_engagement-quali.gif) 1px 0px repeat-y; list-style: none; margin: 0px; padding: 10px; padding: 0px}
#bloc_engagement DIV LI { position:relative; background: url(pusse_halo2.gif) 5px 7px no-repeat; padding: 0 10 4 18; margin: 0 12 0 18; text-align:left}


#contenant_blok01 .pct1 { display:block; background:url(rollover_pictos_actu3.gif) no-repeat -1px -1px; width:36px; height:36px; float:left; margin:10px 0 0 7px; padding:0; -margin:10px 0 0 3px; cursor:pointer;}
#contenant_blok01 .pct1:hover { background-position:-39px -1px; cursor:pointer;}

#contenant_blok01 .pct2 { display:block; background:url(rollover_pictos_actu3.gif) no-repeat -1px -39px; width:36px; height:36px; float:left; margin:10px 0 0 7px; padding:0; -margin:10px 0 0 3px; cursor:pointer;}
#contenant_blok01 .pct2:hover { background-position:-39px -39px; cursor:pointer;}

#contenant_blok01 .pct3 { display:block; background:url(rollover_pictos_actu3.gif) no-repeat -1px -77px; width:36px; height:36px; float:left; margin:10px 0 0 7px; padding:0; -margin:10px 0 0 3px; cursor:pointer;}
#contenant_blok01 .pct3:hover { background-position:-39px -77px; cursor:pointer;}

#contenant_blok01 .pct4 { display:block; background:url(rollover_pictos_actu3.gif) no-repeat -1px -115px; width:36px; height:36px; float:left; margin:10px 0 0 7px; padding:0; -margin:10px 0 0 3px; cursor:pointer;}
#contenant_blok01 .pct4:hover { background-position:-39px -115px; cursor:pointer;}

#contenant_blok01 .pct5 { display:block; background:url(rollover_pictos_actu3.gif) no-repeat -1px -153px; width:36px; height:36px; float:left; margin:10px 0 0 7px; padding:0; -margin:10px 0 0 3px; cursor:pointer;}
#contenant_blok01 .pct5:hover { background-position:-39px -153px; cursor:pointer;}

#contenant_blok01 .pct6 { display:block; background:url(rollover_pictos_actu3.gif) no-repeat -1px -191px; width:36px; height:36px; float:left; margin:10px 0 0 7px; padding:0; -margin:10px 0 0 3px; cursor:pointer;}
#contenant_blok01 .pct6:hover { background-position:-39px -191px; cursor:pointer;}

#contenant_blok01 .pct7 { display:block; background:url(rollover_pictos_actu3.gif) no-repeat -1px -229px; width:36px; height:36px; float:left; margin:10px 0 0 7px; padding:0; -margin:10px 0 0 3px; cursor:pointer;}
#contenant_blok01 .pct7:hover { background-position:-39px -229px; cursor:pointer;}

#contenant_blok01 .pct8 { display:block; background:url(rollover_pictos_actu3.gif) no-repeat -1px -267px; width:36px; height:36px; float:left; margin:10px 0 0 7px; padding:0; -margin:10px 0 0 3px; cursor:pointer;}
#contenant_blok01 .pct8:hover { background-position:-39px -267px; cursor:pointer;}

#contenant_blok01 .pct9 { display:block; background:url(rollover_pictos_actu3.gif) no-repeat -1px -305px; width:36px; height:36px; float:left; margin:10px 0 0 7px; padding:0; -margin:10px 0 0 3px; cursor:pointer;}
#contenant_blok01 .pct9:hover { background-position:-39px -305px; cursor:pointer;}

#contenant_blok01 .pct10 { display:block; background:url(rollover_pictos_actu3.gif) no-repeat -1px -343px; width:36px; height:36px; float:left; margin:10px 0 0 7px; padding:0; -margin:10px 0 0 3px; cursor:pointer;}
#contenant_blok01 .pct10:hover { background-position:-39px -343px; cursor:pointer;}


/* Affichage du bloc 1€ au hover du bloc evenement */
.relat1eur {position:relative; }
.relat1eur a:hover{ background:none; text-decoration:none;}
.relat1eur span#contenu {display:none;}
.relat1eur a#v2:hover span { display:block; position:absolute; left:315px; width:560px; height:155px; background-image: url(popup_1euro.jpg); background-repeat:no-repeat; top:0; }
.relat1eur a#v2:hover span p { padding:65px 45px 0; font-family:Arial, sans-serif; font-size:14px; line-height:20px; text-align:left; color:#000; /padding-top:80px;}
.relat1eur a#v2:hover span p strong { color:#179cbf; }
/* */


.leftColHome .chapo_col { background:transparent url(fdNav.gif) repeat-x scroll 0 0;	font: bold 12px/11px Arial, Helvetica, sans-serif; color:#FFF; position:relative; margin:20px auto -5px 0; padding:3px 0 0 8px; text-transform:uppercase; text-align:left; width:300px; height:18px; }

