body {
	text-align : center;
	background : #f1f1f1;
	margin: 0px;
}
* {
font-size : 11px;
font-weight : normal;
font-family : Verdana, Arial, Helvetica, sans-serif;
color : #333333;
}
h1 {
font-size : 16px;
color : #c7a3ce;
}
h2 {
font-size : 14px;
color : #c67e1f;
}
#navcontainer ul {
margin : 0;
padding : 0;
list-style-type : none;
}
#navcontainer a {
display : block;
color : #6c5a63;
width : 19em;
text-decoration : none;
font-weight : bold;
background-image : url(carre-ul.gif);
background-position : 4px 0.7em;
background-repeat : no-repeat;
padding-top : 3px;
padding-right : 12px;
padding-bottom : 3px;
padding-left : 14px;
}
#navcontainer a:hover {
background-color : #ccc;
color : #fff;
background-image : url(carre-ul-over.gif);
background-repeat : no-repeat;
}
#navcontainer li li a {
display : block;
color : #6c5a63;
width : 19em;
text-decoration : none;
font-weight : normal;
padding-top : 3px;
padding-right : 3px;
padding-bottom : 3px;
padding-left : 26px;
background-position : 17px 8px;
background-image : url(carre-ul-li.gif);
}
#active a {
display : block;
color : #c67e1f;
width : 19em;
text-decoration : none;
font-weight : bold;
background-image : url(carre-ul-active.gif);
background-position : 4px 0.7em;
background-repeat : no-repeat;
padding-top : 3px;
padding-right : 12px;
padding-bottom : 3px;
padding-left : 14px;
}
#conteneur {
margin : auto;
width : 940px;
background-color : #ffffff;
background-image : url(positionnement-col.gif);
background-repeat : repeat-y;
text-align : left;
}
#entete {
height : 160px;
}
#logo {
width : 285px;
height : 150px;
float : left;
background-image : url(pic-saint-loup-logo.gif);
}
#imageheader {
width : 655px;
height : 160px;
float : right;
}
#navgauche {
float : left;
width : 285px;
height : auto;
}
#contentnavgauche {
	margin-left : 25px;
	margin-top : 30px;
	margin-bottom : 20px;
}
#contenu {
	float : left;
	width : 620px;
	margin-top : 20px;
	margin-left : 15px;
	margin-right : 0;
	margin-bottom : 20px;
}
#contentpage {
margin-left : 15px;
margin-right : 10px;
}
#contentpagetitre {
font-size : 1.3em;
color : #7f6a74;
background-image : url(carre-titre.gif);
background-repeat : no-repeat;
background-position : 0 0.6em;
padding-left : 58px;
padding-top : 3px;
padding-bottom : 3px;
margin-bottom : 30px;
}
#contentpagefiche {
	font-size : 1.3em;
	color : #7f6a74;
	background-image : url(carre-titre.gif);
	background-repeat : no-repeat;
	background-position : 0 0.6em;
	padding-left : 58px;
	padding-top : 3px;
	padding-bottom : 3px;
	margin-bottom : 55px;
	width: 220px;
}
#contentpagetitrecarte {
	font-size : 1.3em;
	color : #7f6a74;
	background-image : url(carre-titre.gif);
	background-repeat : no-repeat;
	background-position : 0 0.6em;
	padding-left : 58px;
	padding-top : 3px;
	padding-bottom : 3px;
	margin-bottom : 15px;
	width: 150px;
	height: 70px;
}
#carte{
	float: right;
	width: 320px;
}
#google{
	height: 300px;
	border: 1px solid #CCCCCC;
}
.contentpagesoustitre {
font-size : 1.2em;
color : #6c5a63;
border-top-width : thin;
border-bottom-width : thin;
border-top-style : dotted;
border-bottom-style : dotted;
border-top-color : #c67e1f;
border-bottom-color : #c67e1f;
padding-top : 4px;
padding-bottom : 4px;
margin-top : 10px;
margin-bottom : 10px;
background-image : url(carre-sous-titre.gif);
background-repeat : no-repeat;
background-position : 0 0.7em;
padding-left : 15px;
}
#colcentre {
	float : left;
	width : 365px;
	margin-left : 15px;
	border-right-width : 1px;
	border-right-style : dotted;
	border-right-color : #ff9900;
}
#coldroite {
	float : right;
	width : 215px;
}
#contentcolcentre {
width : 345px;
}
#contentcoldroite {
	width : 205px;
}
#filetbas {
width : 940px;
height : 10px;
background-image : url(filet-bas.gif);
background-repeat : no-repeat;
float : left;
}
#textepp {
width : 940px;
height : 30px;
float : left;
font-size : 10px;
text-align : center;
vertical-align : bottom;
padding-top : 5px;
color : #999999;
}
#pp {
	width : 940px;
	clear : both;
	height: 40px;
	background-color: #f1f1f1;
	background-image: url(filet-bas.gif);
	background-repeat: no-repeat;
	color: #999999;
	text-align: center;
	line-height: 4.5em;
	letter-spacing: 0.1em;
	font-size: 10px;
}
a.linkrouge {
text-indent : 10px;
font-size : 12px;
font-weight : bold;
color : #6a1d44;
text-decoration : none;
padding-left : 10px;
}
a.linkrouge:hover {
font-size : 12px;
font-weight : bold;
color : #6a1d44;
text-decoration : underline;
}
a.linkpp {
	color : #999999;
	text-decoration : none;
	font-size: 10px;
}
a.linkpp:hover {
	color : #999999;
	text-decoration : underline;
	font-size: 10px;
}
.floatright {
float : right;
margin : 0 0 10px 10px;
}
.floatrightfiche {
float : right;
margin : 15px 0 50px 10px;
}
.titreindex {
font-size : 12px;
text-transform : uppercase;
background-color : #e0e0e0;
vertical-align : middle;
padding-top : 5px;
padding-right : 0;
padding-bottom : 4px;
padding-left : 10px;
color : #6c5a63;
font-weight : bold;
}
.dateindex {
font-size : 10px;
color : #999999;
padding-top : 5px;
padding-bottom : 5px;
}
.titrearticle {
font-size : 11px;
font-weight : bold;
text-transform : uppercase;
color : #c67e1f;
padding-bottom : 8px;
}
a.linkarticlecomplet {
float : right;
color : #c67e1f;
text-decoration : none;
}
a.linkarticlecomplet:hover {
float : right;
color : #c67e1f;
text-decoration : underline;
}
a.linkweb {
color : #c67e1f;
text-decoration : none;
font-weight : bold;
}
a.linkweb:hover {
color : #c67e1f;
text-decoration : underline;
font-weight : bold;
}
a.linksuite {
color : #c67e1f;
text-decoration : none;
}
a.linksuite:hover {
color : #c67e1f;
text-decoration : underline;
}
.imageindex {
background-image : url(pic-saint-loup-index.jpg);
background-repeat : no-repeat;
background-position : left top;
height : 160px;
}
.imagepresentation {
background-image : url(pic-saint-loup-presentation.jpg);
background-repeat : no-repeat;
background-position : left top;
height : 160px;
}
.imagehistorique {
background-image : url(pic-saint-loup-historique.jpg);
background-repeat : no-repeat;
background-position : left top;
height : 160px;
}
.imagereglementation {
background-image : url(pic-saint-loup-reglementation.jpg);
background-repeat : no-repeat;
background-position : left top;
height : 160px;
}
.imagedomaine {
background-image : url(pic-saint-loup-domaine.jpg);
background-repeat : no-repeat;
background-position : left top;
height : 160px;
}
.imagerendezvous {
background-image : url(pic-saint-loup-rendez-vous.jpg);
background-repeat : no-repeat;
background-position : left top;
height : 160px;
}
.imagetribune {
background-image : url(pic-saint-loup-tribune.jpg);
background-repeat : no-repeat;
background-position : left top;
height : 160px;
}
.imagepresse {
background-image : url(pic-saint-loup-presse.jpg);
background-repeat : no-repeat;
background-position : left top;
height : 160px;
}
.imagesyndicat {
background-image : url(pic-saint-loup-syndicat.jpg);
background-repeat : no-repeat;
background-position : left top;
height : 160px;
}
.imageinternet {
background-image : url(pic-saint-loup-internet.jpg);
background-repeat : no-repeat;
background-position : left top;
height : 160px;
}
.imagecontact {
background-image : url(pic-saint-loup-contact.jpg);
background-repeat : no-repeat;
background-position : left top;
height : 160px;
}
.imagenav {
	background-image : url(pic-degrade.jpg);
	background-repeat : no-repeat;
	background-position : left 160px;
}
.txtboldnoir {
font-size : 11px;
color : #333333;
font-weight : bold;
}
.txtboldorange {
font-size : 11px;
font-weight : bold;
color : #c67e1f;
}
.txtital {
font-style : italic;
}
.txtrechercher {
	font-size : 12px;
	color : #BBB199;
	font-weight : bold;
	line-height: 2.0em;
	background-image: url(rechercher.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
}
.txtchapeau {
font-size : 12px;
color : #c67e1f;
padding-top : 5px;
padding-bottom : 5px;
font-weight : bold;
}
.floatrightrendezvous {
float : right;
margin : 0 0 10px 10px;
border : 1px solid #000000;
}
.floatleftpresse {
float : left;
margin : 0 0 10px 10px;
border : 1px solid #000000;
}
.txtboldgris {
color : #999999;
padding-top : 10px;
padding-bottom : 5px;
font-weight : bold;
}
.liste {
width : 200px;
font-size : 10px;
}
.txtboldgrisfonce {
color : #777777;
padding-top : 10px;
padding-bottom : 5px;
font-weight : bold;
}
.selectionner{
	width: 260px;
	float: right;
	padding-bottom: 8px;
}
