#navigation,
#navigation * {
	float:left;
	margin:0;
	padding:0;
}
#navigation {
	clear:both;
	background: #000;
	width: 960px;
	height: 67px;
	line-height: 32px;
	margin: 8px 0;
	z-index:98;
	position:relative;
}
#credits #navigation,
#contact #navigation,
#error #navigation,
#history #navigation,
#home #navigation,
#login #navigation,
#sponsors #navigation,
#privacy #navigation {
	height: 32px;
}

	#navigation dt {
		display:none;
	}
	#navigation dd {
		padding-left:195px;
		position:relative;
		top:0;
	}
	#navigation li ul {
		position:absolute;
		width:768px;
		padding-left:198px;
		height:29px;
		padding-top:3px;
		padding-bottom:3px;
		background:url(http://www.visapourlimage.com/assets/img/navigation/subnav_background.png) no-repeat 50% 0 transparent;
		top:32px;
		left:-3px;
		display:none;
	}
	#navigation li.active ul {
		display:block;
	}
	#navigation a {
		display:block;
		text-transform:uppercase;
		color:white;
		font-size:10px;
		letter-spacing:-2px;
		font-weight:bold;
		background-position:0 0;
	}
    #navigation li.active > a,
	#navigation a:hover {
	    background-position:0 -32px;
	}
		#navigation a span {
			visibility:hidden;
		}
	#navigation li li a {
		line-height:29px;
		background-position:0 0;
	}
    #navigation li li.active > a,
	#navigation li li a:hover {
        background-position:0 -29px;
    }

/* WARNING DEVELOPERS: THIS NEEDS TO BE EXPANDED TO FOUR LANGUAGES */
/* BODY CLASSES: EN / FR / ES / CA */

    #nav_home, #nav_home a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/home.png);
        width: 50px;
    }
    /* todo: strip common #nav ids */
    .en #nav_home, .en #nav_home a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/en/home.png);
        width: 50px;
    }

    .fr #nav_home, .fr #nav_home a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/fr/home.png);
        width: 62px;
    }

    .es #nav_home, .es #nav_home a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/es/home.png);
        width: 96px;
    }

    .ca #nav_home, .ca #nav_home a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/ca/home.png);
        width: 89px;
    }

    #nav_news, #nav_news a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/news.png);
        width: 50px;
    }
    .en #nav_news, .en #nav_news a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/en/news.png);
        width: 50px;
    }
    .fr #nav_news, .fr #nav_news a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/fr/news.png);
        width: 79px;
    }
    .es #nav_news, .es #nav_news a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/es/news.png);
        width: 69px;
    }
    .ca #nav_news, .ca #nav_news a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/ca/news.png);
        width: 68px;
    }

    #nav_blog, #nav_blog a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/visa_blog.png);
        width: 153px;
    }
    .en #nav_blog, .en #nav_blog a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/en/visa_blog.png);
        width: 153px;
    }
    .fr #nav_blog, .fr #nav_blog a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/fr/visa_blog.png);
        width: 153px;
    }
    .es #nav_blog, .es #nav_blog a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/es/visa_blog.png);
        width: 243px;
    }
    .ca #nav_blog, .ca #nav_blog a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/ca/visa_blog.png);
        width: 238px;
    }

    #nav_the_festival, #nav_the_festival a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/the_festival.png);
        width: 65px;
    }
    .en #nav_the_festival, .en #nav_the_festival a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/en/the_festival.png);
        width: 89px;
    }
    .fr #nav_the_festival, .fr #nav_the_festival a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/fr/the_festival.png);
        width: 65px;
    }
    .es #nav_the_festival, .es #nav_the_festival a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/es/the_festival.png);
        width: 80px;
    }
    .ca #nav_the_festival, .ca #nav_the_festival a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/ca/the_festival.png);
        width: 80px;
    }

    #nav_exhibitions, #nav_exhibitions a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/exhibitions.png);
        width: 85px;
    }
    .en #nav_exhibitions, .en #nav_exhibitions a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/en/exhibitions.png);
        width: 85px;
    }
    .fr #nav_exhibitions, .fr #nav_exhibitions a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/fr/exhibitions.png);
        width: 88px;
    }
    .es #nav_exhibitions, .es #nav_exhibitions a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/es/exhibitions.png);
        width: 95px;
    }
    .ca #nav_exhibitions, .ca #nav_exhibitions a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/ca/exhibitions.png);
        width: 89px;
    }

    #nav_screenings, #nav_screenings a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/screenings.png);
        width: 86px;
    }
    .en #nav_screenings, .en #nav_screenings a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/en/screenings.png);
        width: 86px;
    }
    .fr #nav_screenings, .fr #nav_screenings a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/fr/screenings.png);
        width: 90px;
    }
    .es #nav_screenings, .es #nav_screenings a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/es/screenings.png);
        width: 151px;
    }
    .ca #nav_screenings, .ca #nav_screenings a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/ca/screenings.png);
        width: 152px;
    }

    #nav_meetings, #nav_meetings a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/meetings.png);
        width: 71px;
    }
    .en #nav_meetings, .en #nav_meetings a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/en/meetings.png);
        width: 71px;
    }
    .fr #nav_meetings, .fr #nav_meetings a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/fr/meetings.png);
        width: 89px;
    }
    .es #nav_meetings, .es #nav_meetings a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/es/meetings.png);
        width: 90px;
    }
    .ca #nav_meetings, .ca #nav_meetings a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/ca/meetings.png);
        width: 75px;
    }

    #nav_locations, #nav_locations a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/locations.png);
        width: 77px;
    }
    .en #nav_locations, .en #nav_locations a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/en/locations.png);
        width: 77px;
    }
    .fr #nav_locations, .fr #nav_locations a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/fr/locations.png);
        width: 50px;
    }
    .es #nav_locations, .es #nav_locations a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/es/locations.png);
        width: 90px;
    }
    .ca #nav_locations, .ca #nav_locations a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/ca/locations.png);
        width: 67px;
    }

    #nav_visa_awards, #nav_visa_awards a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/awards.png);
        width: 71px;
    }
    .en #nav_visa_awards, .en #nav_visa_awards a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/en/awards.png);
        width: 71px;
    }
    .fr #nav_visa_awards, .fr #nav_visa_awards a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/fr/awards.png);
        width: 108px;
    }
    .es #nav_visa_awards, .es #nav_visa_awards a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/es/awards.png);
        width: 124px;
    }
    .ca #nav_visa_awards, .ca #nav_visa_awards a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/ca/awards.png);
        width: 116px;
    }

    #nav_education, #nav_education a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/education.png);
        width: 79px;
    }
    .en #nav_education, .en #nav_education a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/en/education.png);
        width: 79px;
    }
    .fr #nav_education, .fr #nav_education a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/fr/education.png);
        width: 80px;
    }
    .es #nav_education, .es #nav_education a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/es/education.png);
        width: 81px;
    }
    .ca #nav_education, .ca #nav_education a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/ca/education.png);
        width: 74px;
    }

     #nav_books, #nav_books a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/books.png);
        width: 54px;
    }
    .en #nav_books, .en #nav_books a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/en/books.png);
        width: 54px;
    }
    .fr #nav_books, .fr #nav_books a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/fr/books.png);
        width: 54px;
    }
    .es #nav_books, .es #nav_books a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/es/books.png);
        width: 54px;
    }
    .ca #nav_books, .ca #nav_books a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/ca/books.png);
        width: 54px;
    }

   #nav_professional_week, #nav_professional_week a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/professional_week.png);
        width: 129px;
    }
    .en #nav_professional_week, .en #nav_professional_week a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/en/professional_week.png);
        width: 129px;
    }
    .fr #nav_professional_week, .fr #nav_professional_week a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/fr/professional_week.png);
        width: 163px;

        /* todo: find out why this item has double height, static version is OK */
    }
    .es #nav_professional_week, .es #nav_professional_week a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/es/professional_week.png);
        width: 151px;
       /* height: 32px;*/
        /* todo: find out why this item has double height, static version is OK */
    }
    .ca #nav_professional_week, .ca #nav_professional_week a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/ca/professional_week.png);
        width: 163px;
    }

    #nav_accredation, #nav_accredation a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/accredation.png);
        width:102px;
    }
    .en #nav_accredation, .en #nav_accredation a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/en/accredation.png);
        width:102px;
    }
    .fr #nav_accredation, .fr #nav_accredation a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/fr/accredation.png);
        width:102px;
    }
    .es #nav_accredation, .es #nav_accredation a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/es/accredation.png);
        width:97px;
    }
    .ca #nav_accredation, .ca #nav_accredation a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/ca/accredation.png);
        width:89px;
    }

    #nav_press_area, #nav_press_area a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/press_area.png);
        width:82px;
    }
    .en #nav_press_area, .en #nav_press_area a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/en/press_area.png);
        width:82px;
    }
    .fr #nav_press_area, .fr #nav_press_area a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/fr/press_area.png);
        width:58px;
    }
    .es #nav_press_area, .es #nav_press_area a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/es/press_area.png);
        width:108px;
    }
    .ca #nav_press_area, .ca #nav_press_area a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/ca/press_area.png);
        width:108px;
    }

    #nav_who, #nav_who a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/who_is_in_perpignan.png);
        width:137px;
    }
    .en #nav_who, .en #nav_who a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/en/who_is_in_perpignan.png);
        width:137px;
    }
    .fr #nav_who, .fr #nav_who a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/fr/who_is_in_perpignan.png);
        width:141px;
    }
    .es #nav_who, .es #nav_who a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/es/who_is_in_perpignan.png);
        width:218px;
    }
    .ca #nav_who, .ca #nav_who a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/ca/who_is_in_perpignan.png);
        width:124px;
    }

    #nav_participate, #nav_participate a{
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/how_to_participate.png);
        width:129px;
    }
    .en #nav_participate, .en #nav_participate a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/en/how_to_participate.png);
        width:129px;
    }
    .fr #nav_participate, .fr #nav_participate a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/fr/how_to_participate.png);
        width:143px;
    }
    .es #nav_participate, .es #nav_participate a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/es/how_to_participate.png);
        width:178px;
    }
    .ca #nav_participate, .ca #nav_participate a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/ca/how_to_participate.png);
        width:160px;
    }

    #nav_about, #nav_about a{
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/about.png);
        width:61px;
    }
    .en #nav_about, .en #nav_about a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/en/about.png);
        width:61px;
    }
    .fr #nav_about, .fr #nav_about a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/fr/about.png);
        width:71px;
    }
    .es #nav_about, .es #nav_about a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/es/about.png);
        width:77px;
    }
    .ca #nav_about, .ca #nav_about a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/ca/about.png);
        width:97px;
    }

    #nav_history, #nav_history a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/history.png);
        width: 62px;
    }
    .en #nav_history, .en #nav_history a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/en/history.png);
        width: 62px;
    }
    .fr #nav_history, .fr #nav_history a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/fr/history.png);
        width: 81px;
    }
    .es #nav_history, .es #nav_history a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/es/history.png);
        width: 68px;
    }
    .ca #nav_history, .ca #nav_history a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/ca/history.png);
        width: 68px;
    }

    #nav_info_on_perpignan, #nav_info_on_perpignan a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/info_on_perpignan.png);
        width:126px;
    }
    .en #nav_info_on_perpignan, .en #nav_info_on_perpignan a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/en/info_on_perpignan.png);
        width:126px;
    }
    .fr #nav_info_on_perpignan, .fr #nav_info_on_perpignan a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/fr/info_on_perpignan.png);
        width:159px;

        /* todo: find out why this item has double height, static version is OK */
    }
    .es #nav_info_on_perpignan, .es #nav_info_on_perpignan a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/es/info_on_perpignan.png);
        width:169px;

        /* todo: find out why this item has double height, static version is OK */
    }
    .ca #nav_info_on_perpignan, .ca #nav_info_on_perpignan a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/ca/info_on_perpignan.png);
        width:168px;
    }

    #nav_perpignan_facts, #nav_perpignan_facts a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/perpignan_facts.png);
        width: 116px;
    }
    .en #nav_perpignan_facts, .en #nav_perpignan_facts a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/en/perpignan_facts.png);
        width: 116px;
    }
    .fr #nav_perpignan_facts, .fr #nav_perpignan_facts a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/fr/perpignan_facts.png);
        width: 69px;
    }
    .es #nav_perpignan_facts, .es #nav_perpignan_facts a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/es/perpignan_facts.png);
        width: 199px;
    }
    .ca #nav_perpignan_facts, .ca #nav_perpignan_facts a {
        background-image: url(http://www.visapourlimage.com/assets/img/navigation/ca/perpignan_facts.png);
        width: 193px;
    }

    #nav_get_there, #nav_get_there a {
        background-image: url( http://www.visapourlimage.com/assets/img/navigation/how_to_get_there.png );
        width: 122px;
    }
    .en #nav_get_there, .en #nav_get_there a {
        background-image: url( http://www.visapourlimage.com/assets/img/navigation/en/how_to_get_there.png );
        width: 122px;
    }
    .fr #nav_get_there, .fr #nav_get_there a {
        background-image: url( http://www.visapourlimage.com/assets/img/navigation/fr/how_to_get_there.png );
        width: 63px;
    }
    .es #nav_get_there, .es #nav_get_there a {
        background-image: url( http://www.visapourlimage.com/assets/img/navigation/es/how_to_get_there.png );
        width: 181px;
    }
    .ca #nav_get_there, .ca #nav_get_there a {
        background-image: url( http://www.visapourlimage.com/assets/img/navigation/ca/how_to_get_there.png );
        width: 179px;
    }

    #nav_eat, #nav_eat a {
        background-image: url( http://www.visapourlimage.com/assets/img/navigation/where_to_eat.png );
        width: 98px;
    }
    .en #nav_eat, .en #nav_eat a {
        background-image: url( http://www.visapourlimage.com/assets/img/navigation/en/where_to_eat.png );
        width: 98px;
    }
    .fr #nav_eat, .fr #nav_eat a {
        background-image: url( http://www.visapourlimage.com/assets/img/navigation/fr/where_to_eat.png );
        width: 116px;
    }
    .es #nav_eat, .es #nav_eat a {
        background-image: url( http://www.visapourlimage.com/assets/img/navigation/es/where_to_eat.png );
        width: 134px;
    }
    .ca #nav_eat, .ca #nav_eat a {
        background-image: url( http://www.visapourlimage.com/assets/img/navigation/ca/where_to_eat.png );
        width: 120px;
    }

    #nav_stay, #nav_stay a {
        background-image: url( http://www.visapourlimage.com/assets/img/navigation/where_to_stay.png );
        width: 101px;
    }
    .en #nav_stay, .en #nav_stay a {
        background-image: url( http://www.visapourlimage.com/assets/img/navigation/en/where_to_stay.png );
        width: 101px;
    }
    .fr #nav_stay, .fr #nav_stay a {
        background-image: url( http://www.visapourlimage.com/assets/img/navigation/fr/where_to_stay.png );
        width: 95px;
    }
    .es #nav_stay, .es #nav_stay a {
        background-image: url( http://www.visapourlimage.com/assets/img/navigation/es/where_to_stay.png );
        width: 94px;
    }
    .ca #nav_stay, .ca #nav_stay a {
        background-image: url( http://www.visapourlimage.com/assets/img/navigation/ca/where_to_stay.png );
        width: 86px;
    }


/*==== Footer ====*/

#footer,
#footer * {
	margin: 0;
	padding: 0;
}
#footer {
	width:960px;
	margin: 0 auto;
	height:44px;
}
	#footer dt {
		display: none;
	}
	#footer dd {
		background :#ed262b url(http://www.visapourlimage.com/assets/img/background_footer.png) repeat-x;
		height: 29px;
		line-height: 29px;
		margin-bottom: 15px;
	}
	#footer ul,
	#footer li {
		float: left;
	}
	#footer li {
		margin: 11px 14px;
	}
	#footer a {
		color: #fad3d4;
		text-transform: uppercase;
		font-size: 10px;
		height: 7px;
		display: block;
		cursor: pointer;
	}
	.es #footer a {
		height: 10px;
	}
	.ca #footer a {
		height: 10px;
	}
        .en #footer #nav_sponsors a {
            background: url(http://www.visapourlimage.com/assets/img/navigation/en/navigation_footer.png ) no-repeat 0 0;
            width: 53px;
        }
            .fr #footer #nav_sponsors a {
                background: url(http://www.visapourlimage.com/assets/img/navigation/fr/navigation_footer.png ) no-repeat 0 0;
                width: 53px;
            }
            .ca #footer #nav_sponsors a {
                background: url(http://www.visapourlimage.com/assets/img/navigation/ca/navigation_footer.png ) no-repeat 0 0;
                width: 84px;
            }
            .es #footer #nav_sponsors a {
                background: url(http://www.visapourlimage.com/assets/img/navigation/es/navigation_footer.png ) no-repeat 0 0;
                width: 90px;
            }
        .en #footer #nav_credits a {
            background: url( http://www.visapourlimage.com/assets/img/navigation/en/navigation_footer.png ) no-repeat -80px 0;
            width: 41px;
        }
            .fr #footer #nav_credits a {
                background: url( http://www.visapourlimage.com/assets/img/navigation/fr/navigation_footer.png ) no-repeat -80px 0;
                width: 41px;
            }
            .ca #footer #nav_credits a {
                background: url( http://www.visapourlimage.com/assets/img/navigation/ca/navigation_footer.png ) no-repeat -111px 0;
                width: 40px;
            }
            .es #footer #nav_credits a {
                background: url( http://www.visapourlimage.com/assets/img/navigation/es/navigation_footer.png ) no-repeat -117px 0;
                width: 49px;
            }
        .en #footer #nav_contact a {
            background: url( http://www.visapourlimage.com/assets/img/navigation/en/navigation_footer.png ) no-repeat -147px 0;
            width: 46px;
        }
            .fr #footer #nav_contact a {
                background: url( http://www.visapourlimage.com/assets/img/navigation/fr/navigation_footer.png ) no-repeat -147px 0;
                width: 46px;
            }
            .ca #footer #nav_contact a {
                background: url( http://www.visapourlimage.com/assets/img/navigation/ca/navigation_footer.png ) no-repeat -179px 0;
                width: 52px;
            }
            .es #footer #nav_contact a {
                background: url( http://www.visapourlimage.com/assets/img/navigation/es/navigation_footer.png ) no-repeat -191px 0;
                width: 53px;
            }
        .en #footer #nav_privacy a {
            background: url( http://www.visapourlimage.com/assets/img/navigation/en/navigation_footer.png ) no-repeat -220px 0;
            width: 42px;
        }
            .fr #footer #nav_privacy a {
                background: url( http://www.visapourlimage.com/assets/img/navigation/fr/navigation_footer.png ) no-repeat -220px 0;
                width: 46px;
            }
            .ca #footer #nav_privacy a {
                background: url( http://www.visapourlimage.com/assets/img/navigation/ca/navigation_footer.png ) no-repeat -257px 0;
                width: 55px;
            }
            .es #footer #nav_privacy a {
                background: url( http://www.visapourlimage.com/assets/img/navigation/es/navigation_footer.png ) no-repeat -272px 0;
                width: 60px;
            }
        #footer #back_to_top a {
			display: none;
        }
		#footer span {
			display: none;
		}
	#footer div {
		float: right;
		color: #450a0c;
		margin-right: 1em;
		background: url(http://www.visapourlimage.com/assets/img/copyright.png) no-repeat 0 0;
		width: 103px;
		height: 11px;
		margin-top: 9px;
	}
/*==== Footer end ====*/