.tools_b {
	clear:left;
}

.navflash {
	margin-top: 8px;
}

#text {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333;
	text-align:justify;
	width:724px;
	float:left;
	background:url(fond_tab.gif) repeat-y;position:relative;
}

#text * {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333;
}

#moment_haut {
	background:url(haut_moment.jpg) no-repeat;
	height:137px;width:724px;
	position:relative;
}

#moment_under {
	background:url(under_moment.gif) no-repeat bottom;
	height:8px;
}

#text .chapo{
	margin:0 0 0 25px;
	width:681px;
}

#text .chapo p{
	color:#ffffff;
	background:#78A095;
	padding:8px;
}


h1#moment_head_2710 {
	background:url(h1_creer_entreprise.gif) no-repeat;
	width:330px;
	height:65px;
	position:absolute;
	margin:65px 0 0 0;
	left:35px;
}
h1#moment_head_2711 {background:url(h1_reprendre_entreprise.gif) no-repeat 0 3px ;
	width:330px;
	height:65px;
	position:absolute;
	margin:65px 0 0 0;
	left:35px;
}
h1#moment_head_2713 {background:url(h1_regle_or.gif) no-repeat;
	width:330px;
	height:65px;
	position:absolute;
	margin:65px 0 0 0;
	left:35px;
}

h1#moment_head_2714 {background:url(h1_business.gif) no-repeat;
	width:330px;
	height:65px;
	position:absolute;
	margin:65px 0 0 0;
	left:35px;
}
h1#moment_head_2715 {background:url(h1_partenaires.gif) no-repeat;
	width:330px;
	height:65px;
	position:absolute;
	margin:65px 0 0 0;
	left:35px;
}
h1#moment_head_2710 span, h1#moment_head_2711 span, h1#moment_head_2713 span, h1#moment_head_2714 span, h1#moment_head_2715 span {display:none;}



#moment_content {
	width:660px;
	margin:8px 0 8px 35px;
}

#moment_content h4,
#moment_content h3 {
	color:#3E846D;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	margin:5px 0 5px 0;
}

#moment_content h4 strong,
#moment_content h3 strong {
	color:#3E846D;
	font-size:18px;
}

#moment_content h5 {
	display: inline;
	background:#3E846D; 
	padding:3px 5px; color:#fff; 
	font-weight:bold;
	font-size: 12px;
}

#moment_content p {
	margin:9px 0 15px 0;
	clear:left;
}
#moment_content p strong {
	font-size:12px;
}

#moment_content ul, #moment_content ul.big {
	margin:0 0 10px 0;
	padding:0;
	list-style:none;
}

#moment_content ul li {
	list-style-type: none;
	background:url(puce_moment.gif) no-repeat 0 4px;
	padding:0 0 0 10px;
}

#moment_content ul.big {
	margin:10px 0 10px 0;
}
#moment_content ul.big li {
	list-style-type: none;
	background:url(puce_liste.gif) no-repeat 0 4px;
	padding:0 0 0 10px;
	font-size:12px;
}

#moment_content p a {
	text-transform: uppercase;
	font-size:12px;
	color:#3E846D;
	font-weight:bold;
}
#moment_content p a:hover {
	text-decoration:none;
}


#moment_cadre {
	position:relative;
	width:660px;
	background:#B4CAC4;
	padding:10px;
	margin:0 0 8px 25px;
}
#moment_cadre p {margin:8px 0 9px 0;}

#moment_cadre span.moment_ttcadre {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	background:#FFF;
	padding:2px;
	color:#B4CAC4;
}


.popup #header {display:none;}
.popup .breadcrumbs {display:none;}
.popup #footer {display:none;}

