body { margin: 0; padding: 0; }

#tete, #chemin, #corps, #pied, #copyright { clear: both; }
#site { width: 1000px; margin: 0 auto; position:relative;}
#logo2 {position: absolute; top: 5px; left: 430px;}

/* Liens d'évitement */
ul#skip { text-align: right; margin: 0; display: none; padding:0;}
ul#skip li { display: inline; list-style: none; padding: 0 0.2em;  }
/*
 * Tete
*/
#tete {  height: 68px; border-bottom:none;}
#maj {float: right; width: 210px; font-weight: bold; text-align: right; padding-right: 20px;}
#logo { width: 600px; text-align: center;}
#corps { line-height:1.6em; }
table#corps  {	margin:0 auto; color: #fff; border: 0;}
/*
 * Partie principale (contenu)
*/
#entete {height: 108px;}
#contenu { padding: 10px; }
#page {padding: 0 5px; }
#sidebar { background:url(http://www.espace-julien.com/images/bg_sidebar.gif) no-repeat bottom right; }

/*
 * Partie secondaire de navigation
*/
#snav, #sidebar { width: 200px; padding-bottom: 10px;}
#snav { background:url(http://www.espace-julien.com/images/bg_snav.gif) no-repeat bottom left; }

/* Form de recherche et de Liste de diffusion */
#snav form { text-align: center; text-align: center; }

/*
 * blocs des colonnes
*/

.pub {float: left; width: 180px; margin: 1em 0em 1em 1.1em;}

#sidebar .pub { margin: 1em 0em 1em 0.8em;}

#bloc-actualites {background:url(bg_bloc_actualites.gif) repeat-y left top; margin-bottom: 10px; }
#bloc-edito {background:url(bg_bloc_edito.gif) repeat-y right top; }
.bloc p {padding: 0px 23px 12px; margin: 0px; background: url(bg_bloc_actualites_separateur.gif) no-repeat center bottom;}
#bloc-edito.bloc p {padding: 0px 19px 12px 27px;}

.bloc a { color: #F8981D;}
.bloc a:hover { color: #fff;}

a.bas {width: 200px; height: 28px; text-indent: -9999px; float:left; margin: 0px; padding: 0px;}
#bloc-actualites a.bas {background:url(bg_bloc_actualites_a.gif) no-repeat right top;}
#bloc-edito a.bas {background:url(bg_bloc_edito_a.gif) no-repeat right bottom;}

.bloc h1 { width:200px; height: 36px; padding: 0px; margin: 0px; text-indent: -9999px; display: block;}
#bloc-actualites h1 {background-image: url(bg_h1_actualites.gif);}
#bloc-edito h1 {background-image: url(bg_h1_edito.gif);}

/*
 * Bas de page
*/
#pied { clear: both; margin-top: 0em; text-align: center; padding: 0.5em 1em; font-size: 9px; background: #000 url(bg_pied.gif) no-repeat left top;}
#pied, #pied a { color: #fff; }
#pied a:hover {  }

#pied address {font-style: normal;	font-weight: bold;	text-align: center;	color: #000;}
#copyright { text-align: center; padding: 0em 1em; color: #EEBA1D; font-size: 9px; background: #000;}
#copyright a { color: #fff;}

