.A4 { font: 11px  Arial, Verdana, Helvetica, sans-serif ; text-decoration: none; font-weight: bold; }
/* ---------------------------------------------------------------------------------------------- */
.B1 { font: 12px Arial, Helvetica, Verdana, sans-serif; text-decoration: none; font-weight: bold; text-align: right; padding-right: 12px; }
.B4 { font: 12px Arial, Helvetica, Verdana, sans-serif; text-decoration: none; font-weight: bold; }
.B5 { font: 12px Arial, Helvetica, Verdana, sans-serif; text-decoration: none ; }
/* ---------------------------------------------------------------------------------------------- */
.M1 { font: 12px  Arial, Helvetica, sans-serif ; padding-right: 10px ; vertical-align: bottom; text-align: right; font-weight: bold;  }
.M2 { font: 12px Arial, Helvetica, sans-serif; vertical-align: bottom; line-height: 20px; }
.M4 { font: 12px Arial, Helvetica, sans-serif; line-height: 16px; text-decoration: none; font-weight: bold; }
.M5 { font: 11px  Arial, Helvetica, sans-serif; line-height: 14px; 	text-decoration: none ; }
.M6 { font: 12px Arial, Helvetica, sans-serif; line-height: 16px; text-decoration: none; font-weight: bold; }
.M7 {padding: 6px; padding-right: 8px; padding-left: 4px; line-height: 15px; text-align: right;  text-decoration: none; }
/* ---------------------------------------------------------------------------------------------- */
.C1 { font: bold 20px Verdana, Arial, Helvetica, sans-serif;  }
.C2 { font: bold 15px Verdana, Arial, Helvetica, sans-serif; }
.C3 { font: bold 12px Verdana, Arial, Helvetica, sans-serif; }
.C4 { font: 12px Verdana, Arial, Helvetica, sans-serif; color:#666666; }
.C5 { font: 11px  Verdana, Arial, Helvetica, sans-serif; color:#666666;  }
.Cat3 { font: bold 11px Verdana, Arial, Helvetica, sans-serif; color:#C31D22 }
.Cat4 { font: 11px Verdana, Arial, Helvetica, sans-serif; color:#C31D22; }
.Cat5 { font: 10px  Verdana, Arial, Helvetica, sans-serif; color:#C31D22;  }

.C7 { padding-left: 20px; padding-right: 20px}
.C8 { float: left; margin-right: 15px;	 margin-top: 15px; margin-bottom: 15px; }
/* ---------------------------------------------------------------------------------------------- */
a:hover { text-decoration: underline; font-weight: bold; }
body { background-repeat: no-repeat; background-color: #FFFFCC; margin-top: 0px; margin-left: 0px; }
.C6 {
font: bold 13px Verdana, Arial, Helvetica, sans-serif;
}
