/* CSS Document */
#barre_menu #menu {
position:relative;
top:4px;
left:50px;
height:20px;
}

#barre_menu #menu, #barre_menu #menu ul{
	list-style-type:none;
	margin:0;
	padding:0;
	
}
#barre_menu #menu{
	padding-top:0px;
		
}
#barre_menu #menu li{
	width:103px;
	float:left;
	position: relative;
	display:block;
	background:none; 
	height:25px;
	padding-right:0px;
	padding-top:2px;
	margin-right:20px;
	}
#barre_menu #menu a.menu-a1{
height:18px;
margin-right:7px;
border-bottom:2px solid #ffd440;
}
#barre_menu #menu ul.menu-ul1{
	border-bottom:3px solid #ffd440;
}
#barre_menu #menu a.menu-a2{
height:18px;
margin-right:7px;
border-bottom:2px solid #f58015;
}
#barre_menu #menu ul.menu-ul2{
	border-bottom:3px solid #f58015;
}
#barre_menu #menu a.menu-a3{
height:18px;
margin-right:7px;
border-bottom:2px solid #4084f5;
}
#barre_menu #menu ul.menu-ul3{
	border-bottom:3px solid #4084f5;
}
#barre_menu #menu a.menu-a4{
height:18px;
margin-right:7px;
border-bottom:2px solid #37bc34;
}
#barre_menu #menu ul.menu-ul4{
	border-bottom:3px solid #37bc34;
}
#barre_menu #menu a.menu-a5{
height:18px;
margin-right:7px;
border-bottom:2px solid #e24399;
}
#barre_menu #menu ul.menu-ul5{
	border-bottom:3px solid #e24399;
}
#barre_menu #menu a.menu-a6{
height:18px;
margin-right:7px;
border-bottom:2px solid #ffd440;
}
#barre_menu #menu ul.menu-ul6{
	border-bottom:3px solid #ffd440;
}
#barre_menu #menu a.menu-a7{
height:18px;
margin-right:7px;
border-bottom:2px solid #d56113;
}
#barre_menu #menu ul.menu-ul7{
	border-bottom:3px solid #d56113;
}
#barre_menu #menu li.menu_high{
background:none; 
width:130px;
}
#barre_menu #menu li:hover, #barre_menu #menu li.sfhover{

}
#barre_menu #menu li.menu_high:hover{

}
#barre_menu #menu li a{
text-align:left;
background:none;
font-weight:bold;
font-size:12px;
}
#barre_menu #menu li a:hover{
color:#E86C0F;
}
#barre_menu #menu li.menu_high a{
width:130px;
text-align:center;
background:none;
}
#barre_menu #menu li a{
	text-align:center;
	display:block;
	margin-left:0px;
	text-decoration:none;
	color:white;
	font:normal 14px;

}
#barre_menu #menu ul{
   background: url(menu-ul1.png) #676565 top left repeat-x;
   position: absolute; 
   color:white;
   display:none;
   left: -999px;
   top: 0px;
   left: 0;
   padding:0px;
   margin-top:0px;
   padding-top:5px;
	width:170px;
	border:1px solid #676565;
	border-bottom:3px solid red;
	border-top:none;
}
#barre_menu #menu li:hover ul, #barre_menu #menu li.sfhover ul {
	top: auto;
	left: auto;
	display:block;  
}

	
#barre_menu #menu ul li, #barre_menu #menu li.sfhover ul li{
	width:170px;
	padding-bottom:0px;
	font:bold 100% arial;
	margin:0px;
	padding:0px;
	padding-top:0px;
	display:block;
	height:auto;
}
#barre_menu #menu ul li a:hover, #barre_menu #menu ul li a, #barre_menu #menu ul li a:visited, #barre_menu #menu li.menu_high ul li a, #barre_menu #menu ul li.sfhover a:hover {
 	text-decoration:none;
 	font:normal 11px verdana;
	margin:0px;
	padding:0;
	padding-top:3px;
	padding-bottom:3px;
	text-align:left;
	text-transform:none;
	display:block;
	color:white;
	padding-left:5px;
	width:165px;
	
 }
#barre_menu #menu ul li a:hover, #barre_menu #menu ul li.sfhover a:hover {
text-align:left;
background:#E86C0F;
color:white;
}
#barre_menu #menu ul li:hover  {
background:none;
}
#barre_menu #menu li:hover ul,#barre_menu #menu li.sfhover ul{ 
display: block; }
