/* CSS Document */
body{scrollbar-3dlight-color:#FFFFFF;
	scrollbar-arrow-color:#68C126;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-face-color:#FFFFFF;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-shadow-color:#FFFFFF;
	scrollbar-track-color:#FFFFFF;}
h1,#urlhere,#mainContent_fondBottom,#icones{ display:none;}
#mainContent{  background:none;}
#mainContent_fondTop{background:url(fond.gif) no-repeat left top;margin-top:-11px;height:462px;}
#contentBody{padding:0px 0px 0px 0px;width:530px;color:#586B7C;font-size:12px;}
#contentBody a{color:#586B7C; text-decoration:none;}
#contentBody a:hover{color:#8FA0AF;}

#agenda{ position:absolute; top:115px; left:142px; width:145px; height:52px; z-index:5;}
#dossier{ position:absolute; top:333px; left:142px; width:145px; height:52px;}
#bref{ position:absolute; top:333px; left:318px; width:145px; height:52px;}
/*
#agenda{ position:absolute; top:0px; left:192px; width:145px; height:52px; z-index:5;}
#dossier{ position:absolute; top:205px; left:190px; width:145px; height:52px;}
#bref{ position:absolute; top:205px; left:370px; width:145px; height:52px;}
*/
#texte{ position:absolute; top:310px; right:18px; width:228px; height:106px;}

#agendaContainer{position:absolute; top:215px; left:200px; width:445px; height:130px; overflow:auto;}
#agendaContainer a{ /*color:#7493AD; font-weight:bold; */}
#agendaContainer ul{ margin:0; padding:0;list-style-image:none; list-style:none;}
#agendaContainer li{ margin:0px; padding:2px 0px 4px 20px;background:url(puce_rouge.gif) no-repeat left top;border-bottom:1px solid #DDE8F0;}

#dossierContainer{position:absolute; top:430px; left:196px; width:150px; height:170px; overflow:auto; color:#165B9F;text-align:left;}
#dossierContainer a{ text-decoration:underline;color:#1C73CA;}
#dossierContainer p{color:#165B9F;}

#brefContainer{position:absolute; top:435px; left:385px; width:270px; height:155px; color:#586B7C; overflow:auto;}
#brefContainer ul{ margin:0; padding:0;list-style-image:none; list-style:none;}
#brefContainer li{ margin:0; padding:2px 0px 4px 20px;background:url(puce_vert.gif) no-repeat left top; border-bottom:1px solid #DDE8F0;}

