/* Print Poutres */
body{width:100%; height:100%;margin:0;text-align:center; background:#FFFFFF;font-family:Arial, Helvetica, sans-serif;font-size:12px; color:#1C2F4F;}
td,p{font-family:Arial, Helvetica, sans-serif;font-size:12px; color:#1C2F4F;}
img{border:0;}

#bloc{ width:100%; height:100%;position:relative;margin:auto;text-align:center;}
#blocContent{position:relative;clear:both;width:100%; height:100%;}
#mainContent{position:relative; margin:auto; clear:both;width:100%;height:100%; text-align:justify;}
h1{font-family:"Century Gothic", Tahoma, Geneva, sans-serif;color:#165B9F;font-weight:bold;font-size:18px; padding:0; margin:0px 0px 15px 0px; text-align:center;}
#textBody{ margin:0 2%; text-align:justify;height:100%;}
h2{width:100%;position:relative;margin:auto;clear:both;}
#sessionTable{width:100%;position:relative;margin:auto;clear:both;}
#formationDetail{ clear:both; width:100%;/*page-break-after: always;*/}
#footer{position:relative; margin:auto; clear:both;width:100%;text-align:center;vertical-align:bottom;}
#fond,#footerContainer{ background:none;}

/*==== Formation ====*/
tr.datagridheader th, th.datagridheader{
	color:#1C2F4F; border: 1px solid #8A9FB0;
}
tr.datagridheader th a, th.datagridheader a{
	color: #1C2F4F;
}
.pager a:hover,.pagerCurPageLink{
	color: #1C2F4F;
}
td{border-bottom:1px solid #8A9FB0;}
/*.oddRow td{
	 border-bottom:1px solid #8A9FB0;
}
.evenRow td{
	border-bottom:1px solid #ACBBC8;
}*/

/*==== Annuaires ====*/
#activites{margin:5px 0px 2px 0px;border:1px solid #EE3E42;color:#1C2F4F;}
#equipement{margin:5px 0px 2px 20px;}
.backURL{ display:none;}

ul li{background:none; padding:0 0 3px 0; list-style-type:disc; list-style-position:outside;}