/*
	PB 03/08/08; lack of opacity support hack;
*/
*:first-child+html .error ul
{ filter: alpha( opacity = 50 ); }
/* end hack */

/*
	PB 03/08/08; set to block implicitly;
*/
*:first-child+html fieldset
{
	display: block;
}
/* end hack */

/*
	PB 03/08/08; width jog;
*/
*:first-child+html .panel { width: 180px; }
*:first-child+html select#country { width: 173px; }
/* end hack */

/*
	PB 03/08/08;
*/
*:first-child+html ul.drivers li ol,
*:first-child+html ul.drivers li ol li
{
	list-style-position: outside; 
}
/* end hack */