/*

#footer, #page #body #navigation, #header .overNav, #header #menu, #header .breadcrumb, #header .logo, #header #titleAnim {display:none !important;}
#header #headerContent {height: auto;}
#header{height:auto; position:static;}
.block, .body, .line {overflow:visible;position:static}
#page, #body, #leftColumn, #main , #mainInside {position: static;}
#equipement .universList li.open{border: 1px solid #666; border-right: 0;}
#body {padding: 0;}
#pageTitle {height: auto;min-height: 0;white-space: normal;}
#pageTitle embed, #pageTitle object{display: none;}

*/

#header #headerContent {height: auto;}
#header{height:auto; position:static;}
#page {margin: 0;}
#body {padding: 0;border:0;}
#page, #body, #leftColumn, #main , #mainInside {position: static;}
* {overflow: visible !important;}
*:last-child:after {content:''; display:block; clear:both;}
.block:last-child:after {clear:both !important;}
script {display: none;}
.body {min-height: 0 !important;}
#footer ul.right,
#header .overNav,
#header #menu,
#header .breadcrumb,
#header .logo,
#header #titleAnim,
#page #body #navigation {
	display: none !important;
}

#footer #footer_print {display:block;}

/* bloc specos */
#equipement .universList li.open{border: 1px solid #666; border-right: 0;}
