/* ========================|
|						   |
|	   UNIVERS RENAULT	   |
|						   |
|======================= */


/* ////////// UNIVERS CLAIRS ////////// */
.c_JR77_MODUS .pageTitle, .c_JR77_MODUS .univers  {color:#DCC800;}
.c_JR77_MODUS .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_JR77_MODUS, .c_JR77_MODUS .boutonUnivers, .c_JR77_MODUS .mediaScroller a.arrow, .c_JR77_MODUS table.dataArray .universBkg, .c_JR77_MODUS .bkgUniverse {background-color:#DCC800 !important;}
.c_JR77_MODUS .universList li, .universList li.c_JR77_MODUS {background-color:#DCC800;}
.c_JR77_MODUS .productAction li, .c_JR77_MODUS .categorieVoituresLayer ul li, .c_JR77_MODUS .categorieVoituresInside ul li{border-color:#8D8000;}
.c_JR77_MODUS .productAction li a, .c_JR77_MODUS .categorieVoituresLayer ul li a, .c_JR77_MODUS .categorieVoituresInside ul li a{border-color:#E9DC5C;}

.c_61BUP_KANGOO .pageTitle, .c_61BUP_KANGOO .univers  {color:#D76914;}
.c_61BUP_KANGOO .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_61BUP_KANGOO, .c_61BUP_KANGOO .boutonUnivers, .c_61BUP_KANGOO .mediaScroller a.arrow, .c_61BUP_KANGOO table.dataArray .universBkg, .c_61BUP_KANGOO .bkgUniverse {background-color:#D76914 !important;}
.c_61BUP_KANGOO .universList li, .universList li.c_61BUP_KANGOO {background-color:#D76914;}
.c_61BUP_KANGOO .productAction li, .c_61BUP_KANGOO .categorieVoituresLayer ul li, .c_61BUP_KANGOO .categorieVoituresInside ul li{border-color:#A14F0F;}
.c_61BUP_KANGOO .productAction li a, .c_61BUP_KANGOO .categorieVoituresLayer ul li a, .c_61BUP_KANGOO .categorieVoituresInside ul li a{border-color:#E18F4F;}

.c_76VP_KANGOO_CAMPUS .pageTitle, .c_76VP_KANGOO_CAMPUS .univers  {color:#009169;}
.c_76VP_KANGOO_CAMPUS .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_76VP_KANGOO_CAMPUS, .c_76VP_KANGOO_CAMPUS .boutonUnivers, .c_76VP_KANGOO_CAMPUS .mediaScroller a.arrow, .c_76VP_KANGOO_CAMPUS table.dataArray .universBkg, .c_76VP_KANGOO_CAMPUS .bkgUniverse {background-color:#009169 !important;}
.c_76VP_KANGOO_CAMPUS .universList li, .universList li.c_76VP_KANGOO_CAMPUS {background-color:#009169;}
.c_76VP_KANGOO_CAMPUS .productAction li, .c_76VP_KANGOO_CAMPUS .categorieVoituresLayer ul li, .c_76VP_KANGOO_CAMPUS .categorieVoituresInside ul li{border-color:#006D4F;}
.c_76VP_KANGOO_CAMPUS .productAction li a, .c_76VP_KANGOO_CAMPUS .categorieVoituresLayer ul li a, .c_76VP_KANGOO_CAMPUS .categorieVoituresInside ul li a{border-color:#006D4F;}

.c_VU .pageTitle, .c_VU .univers  {color:#A0A09D;}
.c_VU .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_VU, .c_VU .boutonUnivers, .c_VU .mediaScroller a.arrow, .c_VU table.dataArray .universBkg, .c_JR77_MODUS .bkgUniverse {background-color:#A0A09D !important;}
.c_VU .universList li, .universList li.c_VU {background-color:#A0A09D;}
.c_VU .productAction li, .c_VU .categorieVoituresLayer ul li, .c_VU .categorieVoituresInside ul li{border-color:#787876;}
.c_VU .productAction li a, .c_VU .categorieVoituresLayer ul li a, .c_VU .categorieVoituresInside ul li a{border-color:#B8B8B6;}

.c_JR77_MODUS .pageTitle, .c_JR77_MODUS .univers  {color:#DCC800;}
.c_JR77_MODUS .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_JR77_MODUS, .c_JR77_MODUS .boutonUnivers, .c_JR77_MODUS .mediaScroller a.arrow, .c_JR77_MODUS table.dataArray .universBkg, .c_JR77_MODUS .bkgUniverse {background-color:#DCC800 !important;}
.c_JR77_MODUS .universList li, .universList li.c_JR77_MODUS {background-color:#DCC800;}
.c_JR77_MODUS .productAction li, .c_JR77_MODUS .categorieVoituresLayer ul li, .c_JR77_MODUS .categorieVoituresInside ul li{border-color:#8D8000;}
.c_JR77_MODUS .productAction li a, .c_JR77_MODUS .categorieVoituresLayer ul li a, .c_JR77_MODUS .categorieVoituresInside ul li a{border-color:#E9DC5C;}

.c_L35 .pageTitle, .c_L35 .univers  {color:#68cccc;}
.c_L35 .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_L35, .c_L35 .boutonUnivers, .c_L35 .mediaScroller a.arrow, .c_L35 table.dataArray .universBkg, .c_JR77_MODUS .bkgUniverse {background-color:#68cccc !important;}
.c_L35 .universList li, .universList li.c_L35 {background-color:#68cccc;}
.c_L35 .productAction li, .c_L35 .categorieVoituresLayer ul li, .c_L35 .categorieVoituresInside ul li{border-color:#4d9999;}
.c_L35 .productAction li a, .c_L35 .categorieVoituresLayer ul li a, .c_L35 .categorieVoituresInside ul li a{border-color:#8dd9d9;}

.c_JR95_MEGANE .pageTitle, .c_JR95_MEGANE .univers  {color:#68cccc;}
.c_JR95_MEGANE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_JR95_MEGANE, .c_JR95_MEGANE .boutonUnivers, .c_JR95_MEGANE .mediaScroller a.arrow, .c_JR95_MEGANE table.dataArray .universBkg, .c_JR95_MEGANE .bkgUniverse {background-color:#68cccc !important;}
.c_JR95_MEGANE .universList li, .universList li.c_JR95_MEGANE {background-color:#68cccc;}
.c_JR95_MEGANE .productAction li, .c_JR95_MEGANE .categorieVoituresLayer ul li, .c_JR95_MEGANE .categorieVoituresInside ul li{border-color:#4d9999;}
.c_JR95_MEGANE .productAction li a, .c_JR95_MEGANE .categorieVoituresLayer ul li a, .c_JR95_MEGANE .categorieVoituresInside ul li a{border-color:#8dd9d9;}

.c_H95_MEGANE .pageTitle, .c_H95_MEGANE .univers  {color:#68cccc;}
.c_H95_MEGANE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_H95_MEGANE, .c_H95_MEGANE .boutonUnivers, .c_H95_MEGANE .mediaScroller a.arrow, .c_H95_MEGANE table.dataArray .universBkg, .c_H95_MEGANE .bkgUniverse {background-color:#68cccc !important;}
.c_H95_MEGANE .universList li, .universList li.c_H95_MEGANE {background-color:#68cccc;}
.c_H95_MEGANE .productAction li, .c_H95_MEGANE .categorieVoituresLayer ul li, .c_H95_MEGANE .categorieVoituresInside ul li{border-color:#4d9999;}
.c_H95_MEGANE .productAction li a, .c_H95_MEGANE .categorieVoituresLayer ul li a, .c_H95_MEGANE .categorieVoituresInside ul li a{border-color:#8dd9d9;}

.c_N95_MEGANE .pageTitle, .c_N95_MEGANE .univers  {color:#68cccc;}
.c_N95_MEGANE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_N95_MEGANE, .c_N95_MEGANE .boutonUnivers, .c_N95_MEGANE .mediaScroller a.arrow, .c_N95_MEGANE table.dataArray .universBkg, .c_N95_MEGANE .bkgUniverse {background-color:#68cccc !important;}
.c_N95_MEGANE .universList li, .universList li.c_N95_MEGANE {background-color:#68cccc;}
.c_N95_MEGANE .productAction li, .c_N95_MEGANE .categorieVoituresLayer ul li, .c_N95_MEGANE .categorieVoituresInside ul li{border-color:#4d9999;}
.c_N95_MEGANE .productAction li a, .c_N95_MEGANE .categorieVoituresLayer ul li a, .c_N95_MEGANE .categorieVoituresInside ul li a{border-color:#8dd9d9;}

/* ////////// COULEURS COMMUNES UNIVERS CLAIRS ////////// */
.c_61BUP_KANGOO .color,
.c_76VP_KANGOO_CAMPUS .color,
.c_VU .color,
.c_JR77_MODUS .color,
.c_L35 .color,
.c_JR95_MEGANE .color,
.c_H95_MEGANE .color,
.c_N95_MEGANE .color
{color:#fff;}


/* ////////// UNIVERS FONCES ////////// */
.c_K95_MEGANE_ESTATE .pageTitle, .c_K95_MEGANE_ESTATE .univers  {color:#B4A70C;}
.c_K95_MEGANE_ESTATE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_K95_MEGANE_ESTATE, .c_K95_MEGANE_ESTATE .boutonUnivers, .c_K95_MEGANE_ESTATE .mediaScroller a.arrow,.c_K95_MEGANE_ESTATE table.dataArray .universBkg, .c_K95_MEGANE_ESTATE .bkgUniverse{background-color:#B4A70C !important;}
.c_K95_MEGANE_ESTATE .universList li, .universList li.c_K95_MEGANE_ESTATE {background-color:#B4A70C;}
.c_K95_MEGANE_ESTATE .productAction li, .c_K95_MEGANE_ESTATE .categorieVoituresLayer ul li, .c_K95_MEGANE_ESTATE .categorieVoituresInside ul li{border-color:#998F27;}
.c_K95_MEGANE_ESTATE .productAction li a, .c_K95_MEGANE_ESTATE .categorieVoituresLayer ul li a, .c_K95_MEGANE_ESTATE .categorieVoituresInside ul li a{border-color:#B6AD6B;}


.c_JR95_SCENIC .pageTitle, .c_JR95_SCENIC .univers  {color:#A30041;}
.c_JR95_SCENIC .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_JR95_SCENIC, .c_JR95_SCENIC .boutonUnivers, .c_JR95_SCENIC .mediaScroller a.arrow,.c_JR95_SCENIC table.dataArray .universBkg, .c_JR95_SCENIC .bkgUniverse {background-color:#A30041 !important;}
.c_JR95_SCENIC .universList li, .universList li.c_JR95_SCENIC {background-color:#A30041;}
.c_JR95_SCENIC .productAction li, .c_JR95_SCENIC .categorieVoituresLayer ul li, .c_JR95_SCENIC .categorieVoituresInside ul li{border-color:#7E0B1E;}
.c_JR95_SCENIC .productAction li a, .c_JR95_SCENIC .categorieVoituresLayer ul li a, .c_JR95_SCENIC .categorieVoituresInside ul li a{border-color:#be4b5e;}

.c_X65_CLIO2_PH5 .pageTitle, .c_X65_CLIO2_PH5 .univers  {color:#00647A;}
.c_X65_CLIO2_PH5 .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_X65_CLIO2_PH5, .c_X65_CLIO2_PH5 .boutonUnivers, .c_X65_CLIO2_PH5 .mediaScroller a.arrow,.c_X65_CLIO2_PH5 table.dataArray .universBkg, .c_X65_CLIO2_PH5 .bkgUniverse {background-color:#00647A !important;}
.c_X65_CLIO2_PH5 .universList li, .universList li.c_X65_CLIO2_PH5 {background-color:#00647A;}
.c_X65_CLIO2_PH5 .productAction li, .c_X65_CLIO2_PH5 .categorieVoituresLayer ul li, .c_X65_CLIO2_PH5 .categorieVoituresInside ul li{border-color:#004B5B;}
.c_X65_CLIO2_PH5 .productAction li a, .c_X65_CLIO2_PH5 .categorieVoituresLayer ul li a, .c_X65_CLIO2_PH5 .categorieVoituresInside ul li a{border-color:#408B9B;}

.c_44_TWINGO .pageTitle, .c_44_TWINGO .univers  {color:#A80F28;}
.c_44_TWINGO .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_44_TWINGO, .c_44_TWINGO .boutonUnivers, .c_44_TWINGO .mediaScroller a.arrow,.c_44_TWINGO table.dataArray .universBkg, .c_44_TWINGO .bkgUniverse {background-color:#A80F28 !important;}
.c_44_TWINGO .universList li, .universList li.c_44_TWINGO {background-color:#A80F28;}
.c_44_TWINGO .productAction li, .c_44_TWINGO .categorieVoituresLayer ul li, .c_44_TWINGO .categorieVoituresInside ul li{border-color:#7E0B1E;}
.c_44_TWINGO .productAction li a, .c_44_TWINGO .categorieVoituresLayer ul li a, .c_44_TWINGO .categorieVoituresInside ul li a{border-color:#be4b5e;}

.c_BCK85_CLIO .pageTitle, .c_BCK85_CLIO .univers  {color:#5A871E;}
.c_BCK85_CLIO .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_BCK85_CLIO, .c_BCK85_CLIO .boutonUnivers, .c_BCK85_CLIO .mediaScroller a.arrow,.c_BCK85_CLIO table.dataArray .universBkg, .c_BCK85_CLIO .bkgUniverse {background-color:#5A871E !important;}
.c_BCK85_CLIO .universList li, .universList li.c_BCK85_CLIO {background-color:#5A871E;}
.c_BCK85_CLIO .productAction li, .c_BCK85_CLIO .categorieVoituresLayer ul li, .c_BCK85_CLIO .categorieVoituresInside ul li{border-color:#436516;}
.c_BCK85_CLIO .productAction li a, .c_BCK85_CLIO .categorieVoituresLayer ul li a, .c_BCK85_CLIO .categorieVoituresInside ul li a{border-color:#83A556;}

.c_B65_CLIO_CAMPUS .pageTitle, .c_B65_CLIO_CAMPUS .univers  {color:#00647A;}
.c_B65_CLIO_CAMPUS .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_B65_CLIO_CAMPUS, .c_B65_CLIO_CAMPUS .boutonUnivers, .c_B65_CLIO_CAMPUS .mediaScroller a.arrow,.c_B65_CLIO_CAMPUS table.dataArray .universBkg, .c_B65_CLIO_CAMPUS .bkgUniverse {background-color:#00647A !important;}
.c_B65_CLIO_CAMPUS .universList li, .universList li.c_B65_CLIO_CAMPUS {background-color:#00647A;}
.c_B65_CLIO_CAMPUS .productAction li, .c_B65_CLIO_CAMPUS .categorieVoituresLayer ul li, .c_B65_CLIO_CAMPUS .categorieVoituresInside ul li{border-top:1px solid #004B5B;}
.c_B65_CLIO_CAMPUS .productAction li a, .c_B65_CLIO_CAMPUS .categorieVoituresLayer ul li a, .c_B65_CLIO_CAMPUS .categorieVoituresInside ul li a{border-top:1px solid #408B9B;}

.c_JR84_SCENIC .pageTitle, .c_JR84_SCENIC .univers  {color:#9D9239;}
.c_JR84_SCENIC .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_JR84_SCENIC, .c_JR84_SCENIC .boutonUnivers, .c_JR84_SCENIC .mediaScroller a.arrow,.c_JR84_SCENIC table.dataArray .universBkg, .c_JR84_SCENIC .bkgUniverse {background-color:#9D9239 !important;}
.c_JR84_SCENIC .universList li, .universList li.c_JR84_SCENIC {background-color:#9D9239;}
.c_JR84_SCENIC .productAction li, .c_JR84_SCENIC .categorieVoituresLayer ul li, .c_JR84_SCENIC .categorieVoituresInside ul li{border-top:1px solid #766D2B;}
.c_JR84_SCENIC .productAction li a, .c_JR84_SCENIC .categorieVoituresLayer ul li a, .c_JR84_SCENIC .categorieVoituresInside ul li a {border-top:1px solid #B6AD6B;}

.c_61VP_KANGOO .pageTitle, .c_61VP_KANGOO .univers  {color:#0473A0;}
.c_61VP_KANGOO .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_61VP_KANGOO, .c_61VP_KANGOO .boutonUnivers, .c_61VP_KANGOO .mediaScroller a.arrow,.c_61VP_KANGOO table.dataArray .universBkg, .c_61VP_KANGOO .bkgUniverse {background-color:#0473A0 !important;}
.c_61VP_KANGOO .universList li, .universList li.c_61VP_KANGOO {background-color:#0473A0;}
.c_61VP_KANGOO .productAction li, .c_61VP_KANGOO .categorieVoituresLayer ul li, .c_61VP_KANGOO .categorieVoituresInside ul li {border-top:1px solid #035678;}
.c_61VP_KANGOO .productAction li a, .c_61VP_KANGOO .categorieVoituresLayer ul li a, .c_61VP_KANGOO .categorieVoituresInside ul li a {border-top:1px solid #4396B8;}

.c_L65_THALIA .pageTitle, .c_L65_THALIA .univers  {color:#00647A;}
.c_L65_THALIA .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_L65_THALIA, .c_L65_THALIA .boutonUnivers, .c_L65_THALIA .mediaScroller a.arrow, .c_L65_THALIA table.dataArray .universBkg, .c_L65_THALIA .bkgUniverse {background-color:#00647A !important;}
.c_L65_THALIA .universList li, .universList li.c_L65_THALIA {background-color:#00647A;}
.c_L65_THALIA .productAction li, .c_L65_THALIA .categorieVoituresLayer ul li, .c_L65_THALIA .categorieVoituresInside ul li{border-color:#004B5B;}
.c_L65_THALIA .productAction li a, .c_L65_THALIA .categorieVoituresLayer ul li a, .c_L65_THALIA .categorieVoituresInside ul li a{border-color:#408B9B;}

.c_L90_LOGAN .pageTitle, .c_L90_LOGAN .univers  {color:#8F0F15;}
.c_L90_LOGAN .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_L90_LOGAN, .c_L90_LOGAN .boutonUnivers, .c_L90_LOGAN .mediaScroller a.arrow, .c_L90_LOGAN table.dataArray .universBkg, .c_L90_LOGAN .bkgUniverse {background-color:#8F0F15 !important;}
.c_L90_LOGAN .universList li, .universList li.c_L90_LOGAN {background-color:#8F0F15;}
.c_L90_LOGAN .productAction li, .c_L90_LOGAN .categorieVoituresLayer ul li, .c_L90_LOGAN .categorieVoituresInside ul li{border-color:#6B0B10;}
.c_L90_LOGAN .productAction li a, .c_L90_LOGAN .categorieVoituresLayer ul li a, .c_L90_LOGAN .categorieVoituresInside ul li a{border-color:#AB4B50;}

.c_R90_LOGAN_MCV .pageTitle, .c_R90_LOGAN_MCV .univers  {color:#506E23;}
.c_R90_LOGAN_MCV .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_R90_LOGAN_MCV, .c_R90_LOGAN_MCV .boutonUnivers, .c_R90_LOGAN_MCV .mediaScroller a.arrow, .c_R90_LOGAN_MCV table.dataArray .universBkg, .c_R90_LOGAN_MCV .bkgUniverse {background-color:#506E23 !important;}
.c_R90_LOGAN_MCV .universList li, .universList li.c_R90_LOGAN_MCV {background-color:#506E23;}
.c_R90_LOGAN_MCV .productAction li, .c_R90_LOGAN_MCV .categorieVoituresLayer ul li, .c_R90_LOGAN_MCV .categorieVoituresInside ul li{border-color:#3C521A;}
.c_R90_LOGAN_MCV .productAction li a, .c_R90_LOGAN_MCV .categorieVoituresLayer ul li a, .c_R90_LOGAN_MCV .categorieVoituresInside ul li a{border-color:#7C925A;}

.c_B90_SANDERO .pageTitle, .c_B90_SANDERO .univers  {color:#005898;}
.c_B90_SANDERO .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_B90_SANDERO, .c_B90_SANDERO .boutonUnivers, .c_B90_SANDERO .mediaScroller a.arrow, .c_B90_SANDERO table.dataArray .universBkg, .c_B90_SANDERO .bkgUniverse {background-color:#005898 !important;}
.c_B90_SANDERO .universList li, .universList li.c_B90_SANDERO {background-color:#005898;}
.c_B90_SANDERO .productAction li, .c_B90_SANDERO .categorieVoituresLayer ul li, .c_B90_SANDERO .categorieVoituresInside ul li {border-color:#004272;}
.c_B90_SANDERO .productAction li a, .c_B90_SANDERO .categorieVoituresLayer ul li a, .c_B90_SANDERO .categorieVoituresInside ul li a {border-color:#4082B2;}

.c_BC84_MEGANE .pageTitle, .c_BC84_MEGANE .univers  {color:#6E734B;}
.c_BC84_MEGANE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_BC84_MEGANE, .c_BC84_MEGANE .boutonUnivers, .c_BC84_MEGANE .mediaScroller a.arrow, .c_BC84_MEGANE table.dataArray .universBkg, .c_BC84_MEGANE .bkgUniverse {background-color:#6E734B !important;}
.c_BC84_MEGANE .universList li, .universList li.c_BC84_MEGANE {background-color:#6E734B;}
.c_BC84_MEGANE .productAction li, .c_BC84_MEGANE .categorieVoituresLayer ul li, .c_BC84_MEGANE .categorieVoituresInside ul li{border-color:#525638;}
.c_BC84_MEGANE .productAction li a, .c_BC84_MEGANE .categorieVoituresLayer ul li a, .c_BC84_MEGANE .categorieVoituresInside ul li a {border-color:#929678;}

.c_E84_MEGANE .pageTitle, .c_E84_MEGANE .univers  {color:#7D6969;}
.c_E84_MEGANE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_E84_MEGANE, .c_E84_MEGANE .boutonUnivers, .c_E84_MEGANE .mediaScroller a.arrow, .c_E84_MEGANE table.dataArray .universBkg, .c_E84_MEGANE .bkgUniverse {background-color:#7D6969 !important;}
.c_E84_MEGANE .universList li, .universList li.c_E84_MEGANE {background-color:#7D6969;}
.c_E84_MEGANE .productAction li, .c_E84_MEGANE .categorieVoituresLayer ul li, .c_E84_MEGANE .categorieVoituresInside ul li{border-color:#5E4F4F;}
.c_E84_MEGANE .productAction li a, .c_E84_MEGANE .categorieVoituresLayer ul li a, .c_E84_MEGANE .categorieVoituresInside ul li a {border-color:#9E8F8F;}

.c_KL95_MEGANE .pageTitle, .c_KL95_MEGANE .univers  {color:#648C8C;}
.c_KL95_MEGANE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_KL95_MEGANE, .c_KL95_MEGANE .boutonUnivers, .c_KL95_MEGANE .mediaScroller a.arrow, .c_KL95_MEGANE table.dataArray .universBkg, .c_KL95_MEGANE .bkgUniverse {background-color:#648C8C !important;}
.c_KL95_MEGANE .universList li, .universList li.c_KL95_MEGANE {background-color:#648C8C;}
.c_KL95_MEGANE .productAction li, .c_KL95_MEGANE .categorieVoituresLayer ul li, .c_KL95_MEGANE .categorieVoituresInside ul li{border-color:#4B6969;}
.c_KL95_MEGANE .productAction li a, .c_KL95_MEGANE .categorieVoituresLayer ul li a, .c_KL95_MEGANE .categorieVoituresInside ul li a {border-color:#8BA9A9;}

.c_B95_MEGANE .pageTitle, .c_B95_MEGANE .univers  {color:#50738C;}
.c_B95_MEGANE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_B95_MEGANE, .c_B95_MEGANE .boutonUnivers, .c_B95_MEGANE .mediaScroller a.arrow, .c_B95_MEGANE table.dataArray .universBkg, .c_B95_MEGANE .bkgUniverse {background-color:#50738C !important;}
.c_B95_MEGANE .universList li, .universList li.c_B95_MEGANE {background-color:#50738C;}
.c_B95_MEGANE .productAction li, .c_B95_MEGANE .categorieVoituresLayer ul li, .c_B95_MEGANE .categorieVoituresInside ul li{border-color:#3C5669;}
.c_B95_MEGANE .productAction li a, .c_B95_MEGANE .categorieVoituresLayer ul li a, .c_B95_MEGANE .categorieVoituresInside ul li a {border-color:#7C96A9;}

.c_E95_MEGANE .pageTitle, .c_E95_MEGANE .univers  {color:#7D6969;}
.c_E95_MEGANE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_E95_MEGANE, .c_E95_MEGANE .boutonUnivers, .c_E95_MEGANE .mediaScroller a.arrow, .c_E95_MEGANE table.dataArray .universBkg, .c_E95_MEGANE .bkgUniverse {background-color:#7D6969 !important;}
.c_E95_MEGANE .universList li, .universList li.c_E95_MEGANE {background-color:#7D6969;}
.c_E95_MEGANE .productAction li, .c_E95_MEGANE .categorieVoituresLayer ul li, .c_E95_MEGANE .categorieVoituresInside ul li{border-color:#5E4F4F;}
.c_E95_MEGANE .productAction li a, .c_E95_MEGANE .categorieVoituresLayer ul li a, .c_E95_MEGANE .categorieVoituresInside ul li a {border-color:#9E8F8F;}

.c_D95_MEGANE .pageTitle, .c_D95_MEGANE .univers  {color:#9B371E;}
.c_D95_MEGANE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_D95_MEGANE, .c_D95_MEGANE .boutonUnivers, .c_D95_MEGANE .mediaScroller a.arrow, .c_D95_MEGANE table.dataArray .universBkg, .c_D95_MEGANE .bkgUniverse {background-color:#9B371E !important;}
.c_D95_MEGANE .universList li, .universList li.c_D95_MEGANE {background-color:#9B371E;}
.c_D95_MEGANE .productAction li, .c_D95_MEGANE .categorieVoituresLayer ul li, .c_D95_MEGANE .categorieVoituresInside ul li{border-color:#742916;}
.c_D95_MEGANE .productAction li a, .c_D95_MEGANE .categorieVoituresLayer ul li a, .c_D95_MEGANE .categorieVoituresInside ul li a {border-color:#B46956;}

.c_H45_KOLEOS .pageTitle, .c_H45_KOLEOS .univers  {color:#57666F;}
.c_H45_KOLEOS .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_H45_KOLEOS, .c_H45_KOLEOS .boutonUnivers, .c_H45_KOLEOS .mediaScroller a.arrow, .c_H45_KOLEOS table.dataArray .universBkg, .c_H45_KOLEOS .bkgUniverse {background-color:#57666F !important;}
.c_H45_KOLEOS .universList li, .universList li.c_H45_KOLEOS {background-color:#57666F;}
.c_H45_KOLEOS .productAction li, .c_H45_KOLEOS .categorieVoituresLayer ul li, .c_H45_KOLEOS .categorieVoituresInside ul li{border-color:#414C53;}
.c_H45_KOLEOS .productAction li a, .c_H45_KOLEOS .categorieVoituresLayer ul li a, .c_H45_KOLEOS .categorieVoituresInside ul li a {border-color:#818C93;}

.c_BK91_LAGUNA .pageTitle, .c_BK91_LAGUNA .univers  {color:#3B220F;}
.c_BK91_LAGUNA .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_BK91_LAGUNA, .c_BK91_LAGUNA .boutonUnivers, .c_BK91_LAGUNA .mediaScroller a.arrow,.c_BK91_LAGUNA table.dataArray .universBkg, .c_BK91_LAGUNA .bkgUniverse {background-color:#3B220F !important;}
.c_BK91_LAGUNA .universList li, .universList li.c_BK91_LAGUNA {background-color:#3B220F;}
.c_BK91_LAGUNA .productAction li, .c_BK91_LAGUNA .categorieVoituresLayer ul li, .c_BK91_LAGUNA .categorieVoituresInside ul li{border-color:#2C190B;}
.c_BK91_LAGUNA .productAction li a, .c_BK91_LAGUNA .categorieVoituresLayer ul li a, .c_BK91_LAGUNA .categorieVoituresInside ul li a{border-color:#6C594B;}

.c_JR81_ESPACE .pageTitle, .c_JR81_ESPACE .univers  {color:#5A5028;}
.c_JR81_ESPACE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_JR81_ESPACE, .c_JR81_ESPACE .boutonUnivers, .c_JR81_ESPACE .mediaScroller a.arrow, .c_JR81_ESPACE table.dataArray .universBkg, .c_JR81_ESPACE .bkgUniverse {background-color:#5A5028 !important;}
.c_JR81_ESPACE .universList li, .universList li.c_JR81_ESPACE {background-color:#5A5028;}
.c_JR81_ESPACE .productAction li, .c_JR81_ESPACE .categorieVoituresLayer ul li, .c_JR81_ESPACE .categorieVoituresInside ul li{border-color:#433C1E;}
.c_JR81_ESPACE .productAction li a, .c_JR81_ESPACE .categorieVoituresLayer ul li a, .c_JR81_ESPACE .categorieVoituresInside ul li a{border-color:#837C5E;}

.c_J96_ESPACE .pageTitle, .c_J96_ESPACE .univers  {color:#5A5028;}
.c_J96_ESPACE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_J96_ESPACE, .c_J96_ESPACE .boutonUnivers, .c_J96_ESPACE .mediaScroller a.arrow, .c_J96_ESPACE table.dataArray .universBkg, .c_J96_ESPACE .bkgUniverse {background-color:#5A5028 !important;}
.c_J96_ESPACE .universList li, .universList li.c_J96_ESPACE {background-color:#5A5028;}
.c_J96_ESPACE .productAction li, .c_J96_ESPACE .categorieVoituresLayer ul li, .c_J96_ESPACE .categorieVoituresInside ul li{border-color:#433C1E;}
.c_J96_ESPACE .productAction li a, .c_J96_ESPACE .categorieVoituresLayer ul li a, .c_J96_ESPACE .categorieVoituresInside ul li a{border-color:#837C5E;}

.c_B74_VEL_SATIS .pageTitle, .c_B74_VEL_SATIS .univers  {color:#492F3A;}
.c_B74_VEL_SATIS .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_B74_VEL_SATIS, .c_B74_VEL_SATIS .boutonUnivers, .c_B74_VEL_SATIS .mediaScroller a.arrow, .c_B74_VEL_SATIS table.dataArray .universBkg, .c_B74_VEL_SATIS .bkgUniverse {background-color:#492F3A !important;}
.c_B74_VEL_SATIS .universList li, .universList li.c_B74_VEL_SATIS {background-color:#492F3A;}
.c_B74_VEL_SATIS .productAction li, .c_B74_VEL_SATIS .categorieVoituresLayer ul li, .c_B74_VEL_SATIS .categorieVoituresInside ul li{border-color:#37232B;}
.c_B74_VEL_SATIS .productAction li a, .c_B74_VEL_SATIS .categorieVoituresLayer ul li a, .c_B74_VEL_SATIS .categorieVoituresInside ul li a{border-color:#77636B;}

.c_RENAULT_SPORT .pageTitle, .c_RENAULT_SPORT .univers  {color:#7A7A7C;}
.c_RENAULT_SPORT .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_RENAULT_SPORT, .c_RENAULT_SPORT .boutonUnivers, .c_RENAULT_SPORT .mediaScroller a.arrow, .c_RENAULT_SPORT table.dataArray .universBkg, .c_RENAULT_SPORT .bkgUniverse {background-color:#7A7A7C !important;}
.c_RENAULT_SPORT .universList li, .universList li.c_RENAULT_SPORT {background-color:#7A7A7C;}
.c_RENAULT_SPORT .productAction li, .c_RENAULT_SPORT .categorieVoituresLayer ul li, .c_RENAULT_SPORT .categorieVoituresInside ul li{border-color:#5B5B5D;}
.c_RENAULT_SPORT .productAction li a, .c_RENAULT_SPORT .categorieVoituresLayer ul li a, .c_RENAULT_SPORT .categorieVoituresInside ul li a{border-color:#9B9B9D;}

.c_D95_MEGANE_COUPE .pageTitle, .c_D95_MEGANE_COUPE .univers  {color:#9b371e;}
.c_D95_MEGANE_COUPE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_D95_MEGANE_COUPE, .c_D95_MEGANE_COUPE .boutonUnivers, .c_D95_MEGANE_COUPE .mediaScroller a.arrow, .c_D95_MEGANE_COUPE table.dataArray .universBkg, .c_D95_MEGANE_COUPE .bkgUniverse {background-color:#9b371e !important;}
.c_D95_MEGANE_COUPE .universList li, .universList li.c_D95_MEGANE_COUPE {background-color:#9b371e;}
.c_D95_MEGANE_COUPE .productAction li, .c_D95_MEGANE_COUPE .categorieVoituresLayer ul li, .c_D95_MEGANE_COUPE .categorieVoituresInside ul li{border-color:#6e2715;}
.c_D95_MEGANE_COUPE .productAction li a, .c_D95_MEGANE_COUPE .categorieVoituresLayer ul li a, .c_D95_MEGANE_COUPE .categorieVoituresInside ul li a{border-color:#cf5739;}

.c_B96_MEGANE .pageTitle, .c_B96_MEGANE .univers  {color:#295084;}
.c_B96_MEGANE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_B96_MEGANE, .c_B96_MEGANE .boutonUnivers, .c_B96_MEGANE .mediaScroller a.arrow, .c_B96_MEGANE table.dataArray .universBkg, .c_B96_MEGANE .bkgUniverse {background-color:#295084 !important;}
.c_B96_MEGANE .universList li, .universList li.c_D95_MEGANE_COUPE {background-color:#295084;}
.c_B96_MEGANE .productAction li, .c_B96_MEGANE .categorieVoituresLayer ul li, .c_B96_MEGANE .categorieVoituresInside ul li{border-color:#0a356f;}
.c_B96_MEGANE .productAction li a, .c_B96_MEGANE .categorieVoituresLayer ul li a, .c_B96_MEGANE .categorieVoituresInside ul li a{border-color:#4c72a4;}

.c_L38_FLUENCE .pageTitle, .c_L38_FLUENCE .univers  {color:#755b3b;}
.c_L38_FLUENCE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_L38_FLUENCE, .c_L38_FLUENCE .boutonUnivers, .c_L38_FLUENCE .mediaScroller a.arrow, .c_L38_FLUENCE table.dataArray .universBkg, .c_L38_FLUENCE .bkgUniverse {background-color:#755b3b !important;}
.c_L38_FLUENCE .universList li, .universList li.c_D95_MEGANE_COUPE {background-color:#755b3b;}
.c_L38_FLUENCE .productAction li, .c_L38_FLUENCE .categorieVoituresLayer ul li, .c_L38_FLUENCE .categorieVoituresInside ul li{border-color:#403120;}
.c_L38_FLUENCE .productAction li a, .c_L38_FLUENCE .categorieVoituresLayer ul li a, .c_L38_FLUENCE .categorieVoituresInside ul li a{border-color:#a17c50;}

.c_B32_MEGANE_GENERATION .pageTitle, .c_B32_MEGANE_GENERATION .univers  {color:#93953f;}
.c_B32_MEGANE_GENERATION .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_B32_MEGANE_GENERATION, .c_B32_MEGANE_GENERATION .boutonUnivers, .c_B32_MEGANE_GENERATION .mediaScroller a.arrow, .c_B32_MEGANE_GENERATION table.dataArray .universBkg, .c_B32_MEGANE_GENERATION .bkgUniverse {background-color:#93953f !important;}
.c_B32_MEGANE_GENERATION .universList li, .universList li.c_D95_MEGANE_COUPE {background-color:#93953f;}
.c_B32_MEGANE_GENERATION .productAction li, .c_B32_MEGANE_GENERATION .categorieVoituresLayer ul li, .c_B32_MEGANE_GENERATION .categorieVoituresInside ul li{border-color:#717523;}
.c_B32_MEGANE_GENERATION .productAction li a, .c_B32_MEGANE_GENERATION .categorieVoituresLayer ul li a, .c_B32_MEGANE_GENERATION .categorieVoituresInside ul li a{border-color:#acb05d;}

.c_GORDINI .pageTitle, .c_GORDINI .univers  {color:#0066ac;}
.c_GORDINI .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_GORDINI, .c_GORDINI .boutonUnivers, .c_GORDINI .mediaScroller a.arrow, .c_GORDINI table.dataArray .universBkg, .c_GORDINI .bkgUniverse {background-color:#0066ac !important;}
.c_GORDINI .universList li, .universList li.c_GORDINI {background-color:#0066ac;}
.c_GORDINI .productAction li, .c_GORDINI .categorieVoituresLayer ul li, .c_GORDINI .categorieVoituresInside ul li{border-color:#403120;}
.c_GORDINI .productAction li a, .c_GORDINI .categorieVoituresLayer ul li a, .c_GORDINI .categorieVoituresInside ul li a{border-color:#a17c50;}


/* ////////// COULEURS COMMUNES UNIVERS FONCES ////////// */
.c_K95_MEGANE_ESTATE .productAction li a, .c_K95_MEGANE_ESTATE .categorieVoituresLayer ul li a, .c_K95_MEGANE_ESTATE .categorieVoituresInside ul li a,
.c_JR95_SCENIC .productAction li a, .c_JR95_SCENIC .categorieVoituresLayer ul li a, .c_JR95_SCENIC .categorieVoituresInside ul li a,
.c_X65_CLIO2_PH5 .productAction li a, .c_X65_CLIO2_PH5 .categorieVoituresLayer ul li a, .c_X65_CLIO2_PH5 .categorieVoituresInside ul li a,
.c_44_TWINGO .productAction li a, .c_44_TWINGO .categorieVoituresLayer ul li a, .c_44_TWINGO .categorieVoituresInside ul li a,
.c_BCK85_CLIO .productAction li a, .c_BCK85_CLIO .categorieVoituresLayer ul li a, .c_BCK85_CLIO .categorieVoituresInside ul li a,
.c_B65_CLIO_CAMPUS .productAction li a, .c_B65_CLIO_CAMPUS .categorieVoituresLayer ul li a, .c_B65_CLIO_CAMPUS .categorieVoituresInside ul li a,
.c_JR84_SCENIC .productAction li a, .c_JR84_SCENIC .categorieVoituresLayer ul li a, .c_JR84_SCENIC .categorieVoituresInside ul li a,
.c_61VP_KANGOO .productAction li a, .c_61VP_KANGOO .categorieVoituresLayer ul li a, .c_61VP_KANGOO .categorieVoituresInside ul li a,
.c_L65_THALIA .productAction li a, .c_L65_THALIA .categorieVoituresLayer ul li a, .c_L65_THALIA .categorieVoituresInside ul li a,
.c_L90_LOGAN .productAction li a, .c_L90_LOGAN .categorieVoituresLayer ul li a, .c_L90_LOGAN .categorieVoituresInside ul li a,
.c_R90_LOGAN_MCV .productAction li a, .c_R90_LOGAN_MCV .categorieVoituresLayer ul li a, .c_R90_LOGAN_MCV .categorieVoituresInside ul li a,
.c_B90_SANDERO .productAction li a, .c_B90_SANDERO .categorieVoituresLayer ul li a, .c_B90_SANDERO .categorieVoituresInside ul li a,
.c_BC84_MEGANE .productAction li a, .c_BC84_MEGANE .categorieVoituresLayer ul li a, .c_BC84_MEGANE .categorieVoituresInside ul li a,
.c_E84_MEGANE .productAction li a, .c_E84_MEGANE .categorieVoituresLayer ul li a, .c_E84_MEGANE .categorieVoituresInside ul li a,
.c_KL95_MEGANE .productAction li a, .c_KL95_MEGANE .categorieVoituresLayer ul li a, .c_KL95_MEGANE .categorieVoituresInside ul li a,
.c_B95_MEGANE .productAction li a, .c_B95_MEGANE .categorieVoituresLayer ul li a, .c_B95_MEGANE .categorieVoituresInside ul li a,
.c_E95_MEGANE .productAction li a, .c_E95_MEGANE .categorieVoituresLayer ul li a, .c_E95_MEGANE .categorieVoituresInside ul li a,
.c_D95_MEGANE .productAction li a, .c_D95_MEGANE .categorieVoituresLayer ul li a, .c_D95_MEGANE .categorieVoituresInside ul li a,
.c_H45_KOLEOS .productAction li a, .c_H45_KOLEOS .categorieVoituresLayer ul li a, .c_H45_KOLEOS .categorieVoituresInside ul li a,
.c_BK91_LAGUNA .productAction li a, .c_BK91_LAGUNA .categorieVoituresLayer ul li a, .c_BK91_LAGUNA .categorieVoituresInside ul li a,
.c_JR81_ESPACE .productAction li a, .c_JR81_ESPACE .categorieVoituresLayer ul li a, .c_JR81_ESPACE .categorieVoituresInside ul li a,
.c_J96_ESPACE .productAction li a, .c_J96_ESPACE .categorieVoituresLayer ul li a, .c_J96_ESPACE .categorieVoituresInside ul li a,
.c_B74_VEL_SATIS .productAction li a, .c_B74_VEL_SATIS .categorieVoituresLayer ul li a, .c_B74_VEL_SATIS .categorieVoituresInside ul li a,
.c_RENAULT_SPORT .productAction li a, .c_RENAULT_SPORT .categorieVoituresLayer ul li a, .c_RENAULT_SPORT .categorieVoituresInside ul li a,
.c_D95_MEGANE_COUPE .productAction li a, .c_D95_MEGANE_COUPE .categorieVoituresLayer ul li a, .c_D95_MEGANE_COUPE .categorieVoituresInside ul li a,
.c_B96_MEGANE .productAction li a, .c_B96_MEGANE .categorieVoituresLayer ul li a, .c_B96_MEGANE .categorieVoituresInside ul li a,
.c_L38_FLUENCE .productAction li a, .c_L38_FLUENCE .categorieVoituresLayer ul li a, .c_L38_FLUENCE .categorieVoituresInside ul li a,
.c_B32_MEGANE_GENERATION .productAction li a, .c_B32_MEGANE_GENERATION .categorieVoituresLayer ul li a, .c_B32_MEGANE_GENERATION .categorieVoituresInside ul li a,
.c_GORDINI .productAction li a, .c_GORDINI .categorieVoituresLayer ul li a, .c_GORDINI .categorieVoituresInside ul li a
{background-image:url(chevronBlanc.png);}

.c_K95_MEGANE_ESTATE .mediaScroller a.arrow,
.c_JR95_SCENIC .mediaScroller a.arrow,
.c_X65_CLIO2_PH5 .mediaScroller a.arrow,
.c_44_TWINGO .mediaScroller a.arrow,
.c_BCK85_CLIO .mediaScroller a.arrow,
.c_B65_CLIO_CAMPUS .mediaScroller a.arrow,
.c_JR84_SCENIC .mediaScroller a.arrow,
.c_61VP_KANGOO .mediaScroller a.arrow,
.c_L65_THALIA .mediaScroller a.arrow,
.c_L90_LOGAN .mediaScroller a.arrow,
.c_R90_LOGAN_MCV .mediaScroller a.arrow,
.c_B90_SANDERO .mediaScroller a.arrow,
.c_BC84_MEGANE .mediaScroller a.arrow,
.c_E84_MEGANE .mediaScroller a.arrow,
.c_KL95_MEGANE .mediaScroller a.arrow,
.c_B95_MEGANE .mediaScroller a.arrow,
.c_E95_MEGANE .mediaScroller a.arrow,
.c_D95_MEGANE .mediaScroller a.arrow,
.c_H45_KOLEOS .mediaScroller a.arrow,
.c_BK91_LAGUNA .mediaScroller a.arrow,
.c_JR81_ESPACE .mediaScroller a.arrow,
.c_J96_ESPACE .mediaScroller a.arrow,
.c_B74_VEL_SATIS .mediaScroller a.arrow,
.c_RENAULT_SPORT .mediaScroller a.arrow,
.c_D95_MEGANE_COUPE .mediaScroller a.arrow,
.c_B96_MEGANE .mediaScroller a.arrow,
.c_L38_FLUENCE .mediaScroller a.arrow,
.c_B32_MEGANE_GENERATION .mediaScroller a.arrow,
.c_GORDINI .mediaScroller a.arrow
{background-image:url(scrollArrowBlanc.png)}

.c_K95_MEGANE_ESTATE #rightColumn h2.productTitle, .c_K95_MEGANE_ESTATE .blockFilledUniverse a, .c_K95_MEGANE_ESTATE .categorieVoituresLayer .desc,
.c_JR95_SCENIC #rightColumn h2.productTitle, .c_JR95_SCENIC .blockFilledUniverse a, .c_JR95_SCENIC .categorieVoituresLayer .desc,
.c_X65_CLIO2_PH5 #rightColumn h2.productTitle, .c_X65_CLIO2_PH5 .blockFilledUniverse a, .c_X65_CLIO2_PH5 .categorieVoituresLayer .desc,
.c_44_TWINGO #rightColumn h2.productTitle, .c_44_TWINGO .blockFilledUniverse a, .c_44_TWINGO .categorieVoituresLayer .desc,
.c_BCK85_CLIO #rightColumn h2.productTitle, .c_BCK85_CLIO .blockFilledUniverse a, .c_BCK85_CLIO .categorieVoituresLayer .desc,
.c_B65_CLIO_CAMPUS #rightColumn h2.productTitle, .c_B65_CLIO_CAMPUS .blockFilledUniverse a, .c_B65_CLIO_CAMPUS .categorieVoituresLayer .desc,
.c_JR84_SCENIC #rightColumn h2.productTitle, .c_JR84_SCENIC .blockFilledUniverse a, .c_JR84_SCENIC .categorieVoituresLayer .desc,
.c_61VP_KANGOO #rightColumn h2.productTitle, .c_61VP_KANGOO .blockFilledUniverse a, .c_61VP_KANGOO .categorieVoituresLayer .desc,
.c_L65_THALIA #rightColumn h2.productTitle, .c_L65_THALIA .blockFilledUniverse a, .c_L65_THALIA .categorieVoituresLayer .desc,
.c_L90_LOGAN #rightColumn h2.productTitle, .c_L90_LOGAN .blockFilledUniverse a, .c_L90_LOGAN .categorieVoituresLayer .desc,
.c_R90_LOGAN_MCV #rightColumn h2.productTitle, .c_R90_LOGAN_MCV .blockFilledUniverse a, .c_R90_LOGAN_MCV .categorieVoituresLayer .desc,
.c_B90_SANDERO #rightColumn h2.productTitle, .c_B90_SANDERO .blockFilledUniverse a, .c_B90_SANDERO .categorieVoituresLayer .desc,
.c_BC84_MEGANE #rightColumn h2.productTitle, .c_BC84_MEGANE .blockFilledUniverse a, .c_BC84_MEGANE .categorieVoituresLayer .desc,
.c_E84_MEGANE #rightColumn h2.productTitle, .c_E84_MEGANE .blockFilledUniverse a, .c_E84_MEGANE .categorieVoituresLayer .desc,
.c_KL95_MEGANE #rightColumn h2.productTitle, .c_KL95_MEGANE .blockFilledUniverse a, .c_KL95_MEGANE .categorieVoituresLayer .desc,
.c_B95_MEGANE #rightColumn h2.productTitle, .c_B95_MEGANE .blockFilledUniverse a, .c_B95_MEGANE .categorieVoituresLayer .desc,
.c_E95_MEGANE #rightColumn h2.productTitle, .c_E95_MEGANE .blockFilledUniverse a, .c_E95_MEGANE .categorieVoituresLayer .desc,
.c_D95_MEGANE #rightColumn h2.productTitle, .c_D95_MEGANE .blockFilledUniverse a, .c_D95_MEGANE .categorieVoituresLayer .desc,
.c_H45_KOLEOS #rightColumn h2.productTitle, .c_H45_KOLEOS .blockFilledUniverse a, .c_H45_KOLEOS .categorieVoituresLayer .desc,
.c_BK91_LAGUNA #rightColumn h2.productTitle, .c_BK91_LAGUNA .blockFilledUniverse a, .c_BK91_LAGUNA .categorieVoituresLayer .desc,
.c_JR81_ESPACE #rightColumn h2.productTitle, .c_JR81_ESPACE .blockFilledUniverse a, .c_JR81_ESPACE .categorieVoituresLayer .desc,
.c_J96_ESPACE #rightColumn h2.productTitle, .c_J96_ESPACE .blockFilledUniverse a, .c_J96_ESPACE .categorieVoituresLayer .desc,
.c_B74_VEL_SATIS #rightColumn h2.productTitle, .c_B74_VEL_SATIS .blockFilledUniverse a, .c_B74_VEL_SATIS .categorieVoituresLayer .desc,
.c_RENAULT_SPORT #rightColumn h2.productTitle, .c_RENAULT_SPORT .blockFilledUniverse a, .c_RENAULT_SPORT .categorieVoituresLayer .desc,
.c_D95_MEGANE_COUPE #rightColumn h2.productTitle, .c_D95_MEGANE_COUPE .blockFilledUniverse a, .c_D95_MEGANE_COUPE .categorieVoituresLayer .desc,
.c_B96_MEGANE #rightColumn h2.productTitle, .c_B96_MEGANE .blockFilledUniverse a, .c_B96_MEGANE .categorieVoituresLayer .desc,
.c_L38_FLUENCE #rightColumn h2.productTitle, .c_L38_FLUENCE .blockFilledUniverse a, .c_L38_FLUENCE .categorieVoituresLayer .desc,
.c_B32_MEGANE_GENERATION #rightColumn h2.productTitle, .c_B32_MEGANE_GENERATION .blockFilledUniverse a, .c_B32_MEGANE_GENERATION .categorieVoituresLayer .desc,
.c_GORDINI #rightColumn h2.productTitle, .c_GORDINI .blockFilledUniverse a, .c_GORDINI .categorieVoituresLayer .desc
{color:#fff;}


.c_K95_MEGANE_ESTATE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_K95_MEGANE_ESTATE, .c_K95_MEGANE_ESTATE .boutonUnivers, .c_K95_MEGANE_ESTATE .mediaScroller a.arrow,.c_K95_MEGANE_ESTATE table.dataArray .universBkg, .c_K95_MEGANE_ESTATE .blockFilledUniverse h2, .c_K95_MEGANE_ESTATE .blockFilledUniverse h3, .c_K95_MEGANE_ESTATE .blockFilledUniverse h4, .c_K95_MEGANE_ESTATE .blockFilledUniverse h5, .c_K95_MEGANE_ESTATE .blockFilledUniverse h6, .c_K95_MEGANE_ESTATE #rightColumn h2.productTitle span.altColor, .c_K95_MEGANE_ESTATE #rightColumn h3.productTitle, #rightColumn .c_K95_MEGANE_ESTATE h2.productTitle span.altColor, #rightColumn .c_K95_MEGANE_ESTATE h3.productTitle, .c_K95_MEGANE_ESTATE table.dataArray .universBkg, .c_K95_MEGANE_ESTATE table.dataArray .universBkg h5 strong,
.c_JR95_SCENIC .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_JR95_SCENIC, .c_JR95_SCENIC .boutonUnivers, .c_JR95_SCENIC .mediaScroller a.arrow,.c_JR95_SCENIC table.dataArray .universBkg, .c_JR95_SCENIC .blockFilledUniverse h2, .c_JR95_SCENIC .blockFilledUniverse h3, .c_JR95_SCENIC .blockFilledUniverse h4, .c_JR95_SCENIC .blockFilledUniverse h5, .c_JR95_SCENIC .blockFilledUniverse h6, .c_JR95_SCENIC #rightColumn h2.productTitle span.altColor, .c_JR95_SCENIC #rightColumn h3.productTitle, #rightColumn .c_JR95_SCENIC h2.productTitle span.altColor, #rightColumn .c_JR95_SCENIC h3.productTitle, .c_JR95_SCENIC table.dataArray .universBkg, .c_JR95_SCENIC table.dataArray .universBkg h5 strong,
.c_X65_CLIO2_PH5 .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_X65_CLIO2_PH5, .c_X65_CLIO2_PH5 .boutonUnivers, .c_X65_CLIO2_PH5 .mediaScroller a.arrow,.c_X65_CLIO2_PH5 table.dataArray .universBkg, .c_X65_CLIO2_PH5 .blockFilledUniverse h2, .c_X65_CLIO2_PH5 .blockFilledUniverse h3, .c_X65_CLIO2_PH5 .blockFilledUniverse h4, .c_X65_CLIO2_PH5 .blockFilledUniverse h5, .c_X65_CLIO2_PH5 .blockFilledUniverse h6, .c_X65_CLIO2_PH5 #rightColumn h2.productTitle span.altColor, .c_X65_CLIO2_PH5 #rightColumn h3.productTitle, #rightColumn .c_X65_CLIO2_PH5 h2.productTitle span.altColor, #rightColumn .c_X65_CLIO2_PH5 h3.productTitle, .c_X65_CLIO2_PH5 table.dataArray .universBkg, .c_X65_CLIO2_PH5 table.dataArray .universBkg h5 strong,
.c_44_TWINGO .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_44_TWINGO, .c_44_TWINGO .boutonUnivers, .c_44_TWINGO .mediaScroller a.arrow,.c_44_TWINGO table.dataArray .universBkg, .c_44_TWINGO .blockFilledUniverse h2, .c_44_TWINGO .blockFilledUniverse h3, .c_44_TWINGO .blockFilledUniverse h4, .c_44_TWINGO .blockFilledUniverse h5, .c_44_TWINGO .blockFilledUniverse h6, .c_44_TWINGO #rightColumn h2.productTitle span.altColor, .c_44_TWINGO #rightColumn h3.productTitle, #rightColumn .c_44_TWINGO h2.productTitle span.altColor, #rightColumn .c_44_TWINGO h3.productTitle, .c_44_TWINGO table.dataArray .universBkg, .c_44_TWINGO table.dataArray .universBkg h5 strong,
.c_BCK85_CLIO .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_BCK85_CLIO, .c_BCK85_CLIO .boutonUnivers, .c_BCK85_CLIO .mediaScroller a.arrow,.c_BCK85_CLIO table.dataArray .universBkg, .c_BCK85_CLIO .blockFilledUniverse h2, .c_BCK85_CLIO .blockFilledUniverse h3, .c_BCK85_CLIO .blockFilledUniverse h4, .c_BCK85_CLIO .blockFilledUniverse h5, .c_BCK85_CLIO .blockFilledUniverse h6, .c_BCK85_CLIO #rightColumn h2.productTitle span.altColor, .c_BCK85_CLIO #rightColumn h3.productTitle, #rightColumn .c_BCK85_CLIO h2.productTitle span.altColor, #rightColumn .c_BCK85_CLIO h3.productTitle, .c_BCK85_CLIO table.dataArray .universBkg, .c_BCK85_CLIO table.dataArray .universBkg h5 strong,
.c_B65_CLIO_CAMPUS .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_B65_CLIO_CAMPUS, .c_B65_CLIO_CAMPUS .boutonUnivers, .c_B65_CLIO_CAMPUS .mediaScroller a.arrow,.c_B65_CLIO_CAMPUS table.dataArray .universBkg, .c_B65_CLIO_CAMPUS .blockFilledUniverse h2, .c_B65_CLIO_CAMPUS .blockFilledUniverse h3, .c_B65_CLIO_CAMPUS .blockFilledUniverse h4, .c_B65_CLIO_CAMPUS .blockFilledUniverse h5, .c_B65_CLIO_CAMPUS .blockFilledUniverse h6, .c_B65_CLIO_CAMPUS #rightColumn h2.productTitle span.altColor, .c_B65_CLIO_CAMPUS #rightColumn h3.productTitle, #rightColumn .c_B65_CLIO_CAMPUS h2.productTitle span.altColor, #rightColumn .c_B65_CLIO_CAMPUS h3.productTitle, .c_B65_CLIO_CAMPUS table.dataArray .universBkg, .c_B65_CLIO_CAMPUS table.dataArray .universBkg h5 strong,
.c_JR84_SCENIC .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_JR84_SCENIC, .c_JR84_SCENIC .boutonUnivers, .c_JR84_SCENIC .mediaScroller a.arrow,.c_JR84_SCENIC table.dataArray .universBkg, .c_JR84_SCENIC .blockFilledUniverse h2, .c_JR84_SCENIC .blockFilledUniverse h3, .c_JR84_SCENIC .blockFilledUniverse h4, .c_JR84_SCENIC .blockFilledUniverse h5, .c_JR84_SCENIC .blockFilledUniverse h6, .c_JR84_SCENIC #rightColumn h2.productTitle span.altColor, .c_JR84_SCENIC #rightColumn h3.productTitle, #rightColumn .c_JR84_SCENIC h2.productTitle span.altColor, #rightColumn .c_JR84_SCENIC h3.productTitle, .c_JR84_SCENIC table.dataArray .universBkg, .c_JR84_SCENIC table.dataArray .universBkg h5 strong,
.c_61VP_KANGOO .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_61VP_KANGOO, .c_61VP_KANGOO .boutonUnivers, .c_61VP_KANGOO .mediaScroller a.arrow,.c_61VP_KANGOO table.dataArray .universBkg, .c_61VP_KANGOO .blockFilledUniverse h2, .c_61VP_KANGOO .blockFilledUniverse h3, .c_61VP_KANGOO .blockFilledUniverse h4, .c_61VP_KANGOO .blockFilledUniverse h5, .c_61VP_KANGOO .blockFilledUniverse h6, .c_61VP_KANGOO #rightColumn h2.productTitle span.altColor, .c_61VP_KANGOO #rightColumn h3.productTitle, #rightColumn .c_61VP_KANGOO h2.productTitle span.altColor, #rightColumn .c_61VP_KANGOO h3.productTitle, .c_61VP_KANGOO table.dataArray .universBkg, .c_61VP_KANGOO table.dataArray .universBkg h5 strong,
.c_L65_THALIA .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_L65_THALIA, .c_L65_THALIA .boutonUnivers, .c_L65_THALIA .mediaScroller a.arrow,.c_L65_THALIA table.dataArray .universBkg, .c_L65_THALIA .blockFilledUniverse h2, .c_L65_THALIA .blockFilledUniverse h3, .c_L65_THALIA .blockFilledUniverse h4, .c_L65_THALIA .blockFilledUniverse h5, .c_L65_THALIA .blockFilledUniverse h6, .c_L65_THALIA #rightColumn h2.productTitle span.altColor, .c_L65_THALIA #rightColumn h3.productTitle, #rightColumn .c_L65_THALIA h2.productTitle span.altColor, #rightColumn .c_L65_THALIA h3.productTitle, .c_L65_THALIA table.dataArray .universBkg, .c_L65_THALIA table.dataArray .universBkg h5 strong,
.c_L90_LOGAN .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_L90_LOGAN, .c_L90_LOGAN .boutonUnivers, .c_L90_LOGAN .mediaScroller a.arrow,.c_L90_LOGAN table.dataArray .universBkg, .c_L90_LOGAN .blockFilledUniverse h2, .c_L90_LOGAN .blockFilledUniverse h3, .c_L90_LOGAN .blockFilledUniverse h4, .c_L90_LOGAN .blockFilledUniverse h5, .c_L90_LOGAN .blockFilledUniverse h6, .c_L90_LOGAN #rightColumn h2.productTitle span.altColor, .c_L90_LOGAN #rightColumn h3.productTitle, #rightColumn .c_L90_LOGAN h2.productTitle span.altColor, #rightColumn .c_L90_LOGAN h3.productTitle, .c_L90_LOGAN table.dataArray .universBkg, .c_L90_LOGAN table.dataArray .universBkg h5 strong,
.c_R90_LOGAN_MCV .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_R90_LOGAN_MCV, .c_R90_LOGAN_MCV .boutonUnivers, .c_R90_LOGAN_MCV .mediaScroller a.arrow,.c_R90_LOGAN_MCV table.dataArray .universBkg, .c_R90_LOGAN_MCV .blockFilledUniverse h2, .c_R90_LOGAN_MCV .blockFilledUniverse h3, .c_R90_LOGAN_MCV .blockFilledUniverse h4, .c_R90_LOGAN_MCV .blockFilledUniverse h5, .c_R90_LOGAN_MCV .blockFilledUniverse h6, .c_R90_LOGAN_MCV #rightColumn h2.productTitle span.altColor, .c_R90_LOGAN_MCV #rightColumn h3.productTitle, #rightColumn .c_R90_LOGAN_MCV h2.productTitle span.altColor, #rightColumn .c_R90_LOGAN_MCV h3.productTitle, .c_R90_LOGAN_MCV table.dataArray .universBkg, .c_R90_LOGAN_MCV table.dataArray .universBkg h5 strong,
.c_B90_SANDERO .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_B90_SANDERO, .c_B90_SANDERO .boutonUnivers, .c_B90_SANDERO .mediaScroller a.arrow,.c_B90_SANDERO table.dataArray .universBkg, .c_B90_SANDERO .blockFilledUniverse h2, .c_B90_SANDERO .blockFilledUniverse h3, .c_B90_SANDERO .blockFilledUniverse h4, .c_B90_SANDERO .blockFilledUniverse h5, .c_B90_SANDERO .blockFilledUniverse h6, .c_B90_SANDERO #rightColumn h2.productTitle span.altColor, .c_B90_SANDERO #rightColumn h3.productTitle, #rightColumn .c_B90_SANDERO h2.productTitle span.altColor, #rightColumn .c_B90_SANDERO h3.productTitle, .c_B90_SANDERO table.dataArray .universBkg, .c_B90_SANDERO table.dataArray .universBkg h5 strong,
.c_BC84_MEGANE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_BC84_MEGANE, .c_BC84_MEGANE .boutonUnivers, .c_BC84_MEGANE .mediaScroller a.arrow,.c_BC84_MEGANE table.dataArray .universBkg, .c_BC84_MEGANE .blockFilledUniverse h2, .c_BC84_MEGANE .blockFilledUniverse h3, .c_BC84_MEGANE .blockFilledUniverse h4, .c_BC84_MEGANE .blockFilledUniverse h5, .c_BC84_MEGANE .blockFilledUniverse h6, .c_BC84_MEGANE #rightColumn h2.productTitle span.altColor, .c_BC84_MEGANE #rightColumn h3.productTitle, #rightColumn .c_BC84_MEGANE h2.productTitle span.altColor, #rightColumn .c_BC84_MEGANE h3.productTitle, .c_BC84_MEGANE table.dataArray .universBkg, .c_BC84_MEGANE table.dataArray .universBkg h5 strong,
.c_E84_MEGANE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_E84_MEGANE, .c_E84_MEGANE .boutonUnivers, .c_E84_MEGANE .mediaScroller a.arrow,.c_E84_MEGANE table.dataArray .universBkg, .c_E84_MEGANE .blockFilledUniverse h2, .c_E84_MEGANE .blockFilledUniverse h3, .c_E84_MEGANE .blockFilledUniverse h4, .c_E84_MEGANE .blockFilledUniverse h5, .c_E84_MEGANE .blockFilledUniverse h6, .c_E84_MEGANE #rightColumn h2.productTitle span.altColor, .c_E84_MEGANE #rightColumn h3.productTitle, #rightColumn .c_E84_MEGANE h2.productTitle span.altColor, #rightColumn .c_E84_MEGANE h3.productTitle, .c_E84_MEGANE table.dataArray .universBkg, .c_E84_MEGANE table.dataArray .universBkg h5 strong,
.c_KL95_MEGANE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_KL95_MEGANE, .c_KL95_MEGANE .boutonUnivers, .c_KL95_MEGANE .mediaScroller a.arrow,.c_KL95_MEGANE table.dataArray .universBkg, .c_KL95_MEGANE .blockFilledUniverse h2, .c_KL95_MEGANE .blockFilledUniverse h3, .c_KL95_MEGANE .blockFilledUniverse h4, .c_KL95_MEGANE .blockFilledUniverse h5, .c_KL95_MEGANE .blockFilledUniverse h6, .c_KL95_MEGANE #rightColumn h2.productTitle span.altColor, .c_KL95_MEGANE #rightColumn h3.productTitle, #rightColumn .c_KL95_MEGANE h2.productTitle span.altColor, #rightColumn .c_KL95_MEGANE h3.productTitle, .c_KL95_MEGANE table.dataArray .universBkg, .c_KL95_MEGANE table.dataArray .universBkg h5 strong,
.c_B95_MEGANE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_B95_MEGANE, .c_B95_MEGANE .boutonUnivers, .c_B95_MEGANE .mediaScroller a.arrow,.c_B95_MEGANE table.dataArray .universBkg, .c_B95_MEGANE .blockFilledUniverse h2, .c_B95_MEGANE .blockFilledUniverse h3, .c_B95_MEGANE .blockFilledUniverse h4, .c_B95_MEGANE .blockFilledUniverse h5, .c_B95_MEGANE .blockFilledUniverse h6, .c_B95_MEGANE #rightColumn h2.productTitle span.altColor, .c_B95_MEGANE #rightColumn h3.productTitle, #rightColumn .c_B95_MEGANE h2.productTitle span.altColor, #rightColumn .c_B95_MEGANE h3.productTitle, .c_B95_MEGANE table.dataArray .universBkg, .c_B95_MEGANE table.dataArray .universBkg h5 strong,
.c_E95_MEGANE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_E95_MEGANE, .c_E95_MEGANE .boutonUnivers, .c_E95_MEGANE .mediaScroller a.arrow,.c_E95_MEGANE table.dataArray .universBkg, .c_E95_MEGANE .blockFilledUniverse h2, .c_E95_MEGANE .blockFilledUniverse h3, .c_E95_MEGANE .blockFilledUniverse h4, .c_E95_MEGANE .blockFilledUniverse h5, .c_E95_MEGANE .blockFilledUniverse h6, .c_E95_MEGANE #rightColumn h2.productTitle span.altColor, .c_E95_MEGANE #rightColumn h3.productTitle, #rightColumn .c_E95_MEGANE h2.productTitle span.altColor, #rightColumn .c_E95_MEGANE h3.productTitle, .c_E95_MEGANE table.dataArray .universBkg, .c_E95_MEGANE table.dataArray .universBkg h5 strong,
.c_D95_MEGANE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_D95_MEGANE, .c_D95_MEGANE .boutonUnivers, .c_D95_MEGANE .mediaScroller a.arrow,.c_D95_MEGANE table.dataArray .universBkg, .c_D95_MEGANE .blockFilledUniverse h2, .c_D95_MEGANE .blockFilledUniverse h3, .c_D95_MEGANE .blockFilledUniverse h4, .c_D95_MEGANE .blockFilledUniverse h5, .c_D95_MEGANE .blockFilledUniverse h6, .c_D95_MEGANE #rightColumn h2.productTitle span.altColor, .c_D95_MEGANE #rightColumn h3.productTitle, #rightColumn .c_D95_MEGANE h2.productTitle span.altColor, #rightColumn .c_D95_MEGANE h3.productTitle, .c_D95_MEGANE table.dataArray .universBkg, .c_D95_MEGANE table.dataArray .universBkg h5 strong,
.c_H45_KOLEOS .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_H45_KOLEOS, .c_H45_KOLEOS .boutonUnivers, .c_H45_KOLEOS .mediaScroller a.arrow,.c_H45_KOLEOS table.dataArray .universBkg, .c_H45_KOLEOS .blockFilledUniverse h2, .c_H45_KOLEOS .blockFilledUniverse h3, .c_H45_KOLEOS .blockFilledUniverse h4, .c_H45_KOLEOS .blockFilledUniverse h5, .c_H45_KOLEOS .blockFilledUniverse h6, .c_H45_KOLEOS #rightColumn h2.productTitle span.altColor, .c_H45_KOLEOS #rightColumn h3.productTitle, #rightColumn .c_H45_KOLEOS h2.productTitle span.altColor, #rightColumn .c_H45_KOLEOS h3.productTitle, .c_H45_KOLEOS table.dataArray .universBkg, .c_H45_KOLEOS table.dataArray .universBkg h5 strong,
.c_BK91_LAGUNA .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_BK91_LAGUNA, .c_BK91_LAGUNA .boutonUnivers, .c_BK91_LAGUNA .mediaScroller a.arrow,.c_BK91_LAGUNA table.dataArray .universBkg, .c_BK91_LAGUNA .blockFilledUniverse h2, .c_BK91_LAGUNA .blockFilledUniverse h3, .c_BK91_LAGUNA .blockFilledUniverse h4, .c_BK91_LAGUNA .blockFilledUniverse h5, .c_BK91_LAGUNA .blockFilledUniverse h6, .c_BK91_LAGUNA #rightColumn h2.productTitle span.altColor, .c_BK91_LAGUNA #rightColumn h3.productTitle, #rightColumn .c_BK91_LAGUNA h2.productTitle span.altColor, #rightColumn .c_BK91_LAGUNA h3.productTitle, .c_BK91_LAGUNA table.dataArray .universBkg, .c_BK91_LAGUNA table.dataArray .universBkg h5 strong,
.c_JR81_ESPACE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_JR81_ESPACE, .c_JR81_ESPACE .boutonUnivers, .c_JR81_ESPACE .mediaScroller a.arrow,.c_JR81_ESPACE table.dataArray .universBkg, .c_JR81_ESPACE .blockFilledUniverse h2, .c_JR81_ESPACE .blockFilledUniverse h3, .c_JR81_ESPACE .blockFilledUniverse h4, .c_JR81_ESPACE .blockFilledUniverse h5, .c_JR81_ESPACE .blockFilledUniverse h6, .c_JR81_ESPACE #rightColumn h2.productTitle span.altColor, .c_JR81_ESPACE #rightColumn h3.productTitle, #rightColumn .c_JR81_ESPACE h2.productTitle span.altColor, #rightColumn .c_JR81_ESPACE h3.productTitle, .c_JR81_ESPACE table.dataArray .universBkg, .c_JR81_ESPACE table.dataArray .universBkg h5 strong,
.c_J96_ESPACE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_J96_ESPACE, .c_J96_ESPACE .boutonUnivers, .c_J96_ESPACE .mediaScroller a.arrow,.c_J96_ESPACE table.dataArray .universBkg, .c_J96_ESPACE .blockFilledUniverse h2, .c_J96_ESPACE .blockFilledUniverse h3, .c_J96_ESPACE .blockFilledUniverse h4, .c_J96_ESPACE .blockFilledUniverse h5, .c_J96_ESPACE .blockFilledUniverse h6, .c_J96_ESPACE #rightColumn h2.productTitle span.altColor, .c_J96_ESPACE #rightColumn h3.productTitle, #rightColumn .c_J96_ESPACE h2.productTitle span.altColor, #rightColumn .c_J96_ESPACE h3.productTitle, .c_J96_ESPACE table.dataArray .universBkg, .c_J96_ESPACE table.dataArray .universBkg h5 strong,
.c_B74_VEL_SATIS .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_B74_VEL_SATIS, .c_B74_VEL_SATIS .boutonUnivers, .c_B74_VEL_SATIS .mediaScroller a.arrow,.c_B74_VEL_SATIS table.dataArray .universBkg, .c_B74_VEL_SATIS .blockFilledUniverse h2, .c_B74_VEL_SATIS .blockFilledUniverse h3, .c_B74_VEL_SATIS .blockFilledUniverse h4, .c_B74_VEL_SATIS .blockFilledUniverse h5, .c_B74_VEL_SATIS .blockFilledUniverse h6, .c_B74_VEL_SATIS #rightColumn h2.productTitle span.altColor, .c_B74_VEL_SATIS #rightColumn h3.productTitle, #rightColumn .c_B74_VEL_SATIS h2.productTitle span.altColor, #rightColumn .c_B74_VEL_SATIS h3.productTitle, .c_B74_VEL_SATIS table.dataArray .universBkg, .c_B74_VEL_SATIS table.dataArray .universBkg h5 strong,
.c_RENAULT_SPORT .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_RENAULT_SPORT, .c_RENAULT_SPORT .boutonUnivers, .c_RENAULT_SPORT .mediaScroller a.arrow,.c_RENAULT_SPORT table.dataArray .universBkg, .c_RENAULT_SPORT .blockFilledUniverse h2, .c_RENAULT_SPORT .blockFilledUniverse h3, .c_RENAULT_SPORT .blockFilledUniverse h4, .c_RENAULT_SPORT .blockFilledUniverse h5, .c_RENAULT_SPORT .blockFilledUniverse h6, .c_RENAULT_SPORT #rightColumn h2.productTitle span.altColor, .c_RENAULT_SPORT #rightColumn h3.productTitle, #rightColumn .c_RENAULT_SPORT h2.productTitle span.altColor, #rightColumn .c_RENAULT_SPORT h3.productTitle, .c_RENAULT_SPORT table.dataArray .universBkg, .c_RENAULT_SPORT table.dataArray .universBkg h5 strong,
.c_D95_MEGANE_COUPE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_D95_MEGANE_COUPE, .c_D95_MEGANE_COUPE .boutonUnivers, .c_D95_MEGANE_COUPE .mediaScroller a.arrow,.c_D95_MEGANE_COUPE table.dataArray .universBkg, .c_D95_MEGANE_COUPE .blockFilledUniverse h2, .c_B74_VEL_SATIS .blockFilledUniverse h3, .c_D95_MEGANE_COUPE .blockFilledUniverse h4, .c_D95_MEGANE_COUPE .blockFilledUniverse h5, .c_D95_MEGANE_COUPE .blockFilledUniverse h6, .c_D95_MEGANE_COUPE #rightColumn h2.productTitle span.altColor, .c_D95_MEGANE_COUPE #rightColumn h3.productTitle, #rightColumn .c_D95_MEGANE_COUPE h2.productTitle span.altColor, #rightColumn .c_D95_MEGANE_COUPE h3.productTitle, .c_D95_MEGANE_COUPE table.dataArray .universBkg, .c_D95_MEGANE_COUPE table.dataArray .universBkg h5 strong,
.c_B96_MEGANE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_B96_MEGANE, .c_B96_MEGANE .boutonUnivers, .c_B96_MEGANE .mediaScroller a.arrow,.c_B96_MEGANE table.dataArray .universBkg, .c_B96_MEGANE .blockFilledUniverse h2, .c_B96_MEGANE .blockFilledUniverse h3, .c_B96_MEGANE .blockFilledUniverse h4, .c_B96_MEGANE .blockFilledUniverse h5, .c_B96_MEGANE .blockFilledUniverse h6, .c_B96_MEGANE #rightColumn h2.productTitle span.altColor, .c_B96_MEGANE #rightColumn h3.productTitle, #rightColumn .c_B96_MEGANE h2.productTitle span.altColor, #rightColumn .c_B96_MEGANE h3.productTitle, .c_B96_MEGANE table.dataArray .universBkg, .c_B96_MEGANE table.dataArray .universBkg h5 strong,
.c_L38_FLUENCE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_L38_FLUENCE, .c_L38_FLUENCE .boutonUnivers, .c_L38_FLUENCE .mediaScroller a.arrow,.c_L38_FLUENCE table.dataArray .universBkg, .c_L38_FLUENCE .blockFilledUniverse h2, .c_L38_FLUENCE .blockFilledUniverse h3, .c_L38_FLUENCE .blockFilledUniverse h4, .c_L38_FLUENCE .blockFilledUniverse h5, .c_L38_FLUENCE .blockFilledUniverse h6, .c_L38_FLUENCE #rightColumn h2.productTitle span.altColor, .c_L38_FLUENCE #rightColumn h3.productTitle, #rightColumn .c_L38_FLUENCE h2.productTitle span.altColor, #rightColumn .c_L38_FLUENCE h3.productTitle, .c_L38_FLUENCE table.dataArray .universBkg, .c_L38_FLUENCE table.dataArray .universBkg h5 strong,
.c_B32_MEGANE_GENERATION .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_B32_MEGANE_GENERATION, .c_B32_MEGANE_GENERATION .boutonUnivers, .c_B32_MEGANE_GENERATION .mediaScroller a.arrow,.c_B32_MEGANE_GENERATION table.dataArray .universBkg, .c_B32_MEGANE_GENERATION .blockFilledUniverse h2, .c_B32_MEGANE_GENERATION .blockFilledUniverse h3, .c_B32_MEGANE_GENERATION .blockFilledUniverse h4, .c_B32_MEGANE_GENERATION .blockFilledUniverse h5, .c_B32_MEGANE_GENERATION .blockFilledUniverse h6, .c_B32_MEGANE_GENERATION #rightColumn h2.productTitle span.altColor, .c_B32_MEGANE_GENERATION #rightColumn h3.productTitle, #rightColumn .c_B32_MEGANE_GENERATION h2.productTitle span.altColor, #rightColumn .c_B32_MEGANE_GENERATION h3.productTitle, .c_B32_MEGANE_GENERATION table.dataArray .universBkg, .c_B32_MEGANE_GENERATION table.dataArray .universBkg h5 strong,
.c_GORDINI .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_GORDINI, .c_GORDINI .boutonUnivers, .c_GORDINI .mediaScroller a.arrow,.c_GORDINI table.dataArray .universBkg, .c_GORDINI .blockFilledUniverse h2, .c_GORDINI .blockFilledUniverse h3, .c_GORDINI .blockFilledUniverse h4, .c_GORDINI .blockFilledUniverse h5, .c_GORDINI .blockFilledUniverse h6, .c_GORDINI #rightColumn h2.productTitle span.altColor, .c_GORDINI #rightColumn h3.productTitle, #rightColumn .c_GORDINI h2.productTitle span.altColor, #rightColumn .c_GORDINI h3.productTitle, .c_GORDINI table.dataArray .universBkg, .c_GORDINI table.dataArray .universBkg h5 strong
{color: #fff;border-color: #fff;}

.c_K95_MEGANE_ESTATE  .blockFilledUniverse .chevron, .c_K95_MEGANE_ESTATE  .universBkg .chevron, .c_K95_MEGANE_ESTATE .boutonUnivers strong,
.c_JR95_SCENIC  .blockFilledUniverse .chevron, .c_JR95_SCENIC  .universBkg .chevron, .c_JR95_SCENIC .boutonUnivers strong,
.c_X65_CLIO2_PH5  .blockFilledUniverse .chevron, .c_X65_CLIO2_PH5  .universBkg .chevron, .c_X65_CLIO2_PH5 .boutonUnivers strong,
.c_44_TWINGO  .blockFilledUniverse .chevron, .c_44_TWINGO  .universBkg .chevron, .c_44_TWINGO .boutonUnivers strong,
.c_BCK85_CLIO  .blockFilledUniverse .chevron, .c_BCK85_CLIO  .universBkg .chevron, .c_BCK85_CLIO .boutonUnivers strong,
.c_B65_CLIO_CAMPUS  .blockFilledUniverse .chevron, .c_B65_CLIO_CAMPUS  .universBkg .chevron, .c_B65_CLIO_CAMPUS .boutonUnivers strong,
.c_JR84_SCENIC  .blockFilledUniverse .chevron, .c_JR84_SCENIC  .universBkg .chevron, .c_JR84_SCENIC .boutonUnivers strong,
.c_61VP_KANGOO  .blockFilledUniverse .chevron, .c_61VP_KANGOO  .universBkg .chevron, .c_61VP_KANGOO .boutonUnivers strong,
.c_L65_THALIA  .blockFilledUniverse .chevron, .c_L65_THALIA  .universBkg .chevron, .c_L65_THALIA .boutonUnivers strong,
.c_L90_LOGAN  .blockFilledUniverse .chevron, .c_L90_LOGAN  .universBkg .chevron, .c_L90_LOGAN .boutonUnivers strong,
.c_R90_LOGAN_MCV  .blockFilledUniverse .chevron, .c_R90_LOGAN_MCV  .universBkg .chevron, .c_R90_LOGAN_MCV .boutonUnivers strong,
.c_B90_SANDERO  .blockFilledUniverse .chevron, .c_B90_SANDERO  .universBkg .chevron, .c_B90_SANDERO .boutonUnivers strong,
.c_BC84_MEGANE  .blockFilledUniverse .chevron, .c_BC84_MEGANE  .universBkg .chevron, .c_BC84_MEGANE .boutonUnivers strong,
.c_E84_MEGANE  .blockFilledUniverse .chevron, .c_E84_MEGANE  .universBkg .chevron, .c_E84_MEGANE .boutonUnivers strong,
.c_KL95_MEGANE  .blockFilledUniverse .chevron, .c_KL95_MEGANE  .universBkg .chevron, .c_KL95_MEGANE .boutonUnivers strong,
.c_B95_MEGANE  .blockFilledUniverse .chevron, .c_B95_MEGANE  .universBkg .chevron, .c_B95_MEGANE .boutonUnivers strong,
.c_E95_MEGANE  .blockFilledUniverse .chevron, .c_E95_MEGANE  .universBkg .chevron, .c_E95_MEGANE .boutonUnivers strong,
.c_D95_MEGANE  .blockFilledUniverse .chevron, .c_D95_MEGANE  .universBkg .chevron, .c_D95_MEGANE .boutonUnivers strong,
.c_H45_KOLEOS  .blockFilledUniverse .chevron, .c_H45_KOLEOS  .universBkg .chevron, .c_H45_KOLEOS .boutonUnivers strong,
.c_BK91_LAGUNA  .blockFilledUniverse .chevron, .c_BK91_LAGUNA  .universBkg .chevron, .c_BK91_LAGUNA .boutonUnivers strong,
.c_JR81_ESPACE  .blockFilledUniverse .chevron, .c_JR81_ESPACE  .universBkg .chevron, .c_JR81_ESPACE .boutonUnivers strong,
.c_J96_ESPACE  .blockFilledUniverse .chevron, .c_J96_ESPACE  .universBkg .chevron, .c_J96_ESPACE .boutonUnivers strong,
.c_B74_VEL_SATIS  .blockFilledUniverse .chevron, .c_B74_VEL_SATIS  .universBkg .chevron, .c_B74_VEL_SATIS .boutonUnivers strong,
.c_RENAULT_SPORT  .blockFilledUniverse .chevron, .c_RENAULT_SPORT  .universBkg .chevron, .c_RENAULT_SPORT .boutonUnivers strong,
.c_D95_MEGANE_COUPE  .blockFilledUniverse .chevron, .c_D95_MEGANE_COUPE  .universBkg .chevron, .c_D95_MEGANE_COUPE .boutonUnivers strong,
.c_B96_MEGANE  .blockFilledUniverse .chevron, .c_B96_MEGANE  .universBkg .chevron, .c_B96_MEGANE .boutonUnivers strong,
.c_L38_FLUENCE  .blockFilledUniverse .chevron, .c_L38_FLUENCE  .universBkg .chevron, .c_L38_FLUENCE .boutonUnivers strong,
.c_B32_MEGANE_GENERATION  .blockFilledUniverse .chevron, .c_B32_MEGANE_GENERATION  .universBkg .chevron, .c_B32_MEGANE_GENERATION .boutonUnivers strong,
.c_GORDINI  .blockFilledUniverse .chevron, .c_GORDINI  .universBkg .chevron, .c_GORDINI .boutonUnivers strong
{background-image:url(chevronBlanc.png);color:#fff;}

.c_K95_MEGANE_ESTATE .boutonUnivers strong.return,
.c_JR95_SCENIC .boutonUnivers strong.return,
.c_X65_CLIO2_PH5 .boutonUnivers strong.return,
.c_44_TWINGO .boutonUnivers strong.return,
.c_BCK85_CLIO .boutonUnivers strong.return,
.c_B65_CLIO_CAMPUS .boutonUnivers strong.return,
.c_JR84_SCENIC .boutonUnivers strong.return,
.c_61VP_KANGOO .boutonUnivers strong.return,
.c_L65_THALIA .boutonUnivers strong.return,
.c_L90_LOGAN .boutonUnivers strong.return,
.c_R90_LOGAN_MCV .boutonUnivers strong.return,
.c_B90_SANDERO .boutonUnivers strong.return,
.c_BC84_MEGANE .boutonUnivers strong.return,
.c_E84_MEGANE .boutonUnivers strong.return,
.c_KL95_MEGANE .boutonUnivers strong.return,
.c_B95_MEGANE .boutonUnivers strong.return,
.c_E95_MEGANE .boutonUnivers strong.return,
.c_D95_MEGANE .boutonUnivers strong.return,
.c_H45_KOLEOS .boutonUnivers strong.return,
.c_BK91_LAGUNA .boutonUnivers strong.return,
.c_JR81_ESPACE .boutonUnivers strong.return,
.c_J96_ESPACE .boutonUnivers strong.return,
.c_B74_VEL_SATIS .boutonUnivers strong.return,
.c_RENAULT_SPORT .boutonUnivers strong.return,
.c_D95_MEGANE_COUPE .boutonUnivers strong.return,
.c_B96_MEGANE .boutonUnivers strong.return,
.c_L38_FLUENCE .boutonUnivers strong.return,
.c_B32_MEGANE_GENERATION .boutonUnivers strong.return,
.c_GORDINI .boutonUnivers strong.return
{background-image:url(chevronsReturnBlanc.png);}

/* ////////// UNIVERS GRIS ////////// */
.c_KL84_MEGANE .pageTitle, .c_KL84_MEGANE .univers  {color:#648C8C;}
.c_KL84_MEGANE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_KL84_MEGANE, .c_KL84_MEGANE .boutonUnivers, .c_KL84_MEGANE .mediaScroller a.arrow, .c_KL84_MEGANE table.dataArray .universBkg, .c_KL84_MEGANE .bkgUniverse {background-color:#648C8C !important;}
.c_KL84_MEGANE .universList li, .universList li.c_KL84_MEGANE {background-color:#648C8C;}
.c_KL84_MEGANE .productAction li, .c_KL84_MEGANE .categorieVoituresLayer ul li, .c_KL84_MEGANE .categorieVoituresInside ul li{border-color:#4B6969;}
.c_KL84_MEGANE .productAction li a, .c_KL84_MEGANE .categorieVoituresLayer ul li a, .c_KL84_MEGANE .categorieVoituresInside ul li a{border-color:#8BA9A9;}

.c_D91_LAGUNA .pageTitle, .c_D91_LAGUNA .univers  {color:#284A64;}
.c_D91_LAGUNA .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_D91_LAGUNA, .c_D91_LAGUNA .boutonUnivers, .c_D91_LAGUNA .mediaScroller a.arrow, .c_D91_LAGUNA table.dataArray .universBkg, .c_D91_LAGUNA .bkgUniverse {background-color:#284A64 !important;}
.c_D91_LAGUNA .universList li, .universList li.c_D91_LAGUNA {background-color:#284A64;}
.c_D91_LAGUNA .productAction li, .c_D91_LAGUNA .categorieVoituresLayer ul li, .c_D91_LAGUNA .categorieVoituresInside ul li{border-color:#1E374B;}
.c_D91_LAGUNA .productAction li a, .c_D91_LAGUNA .categorieVoituresLayer ul li a, .c_D91_LAGUNA .categorieVoituresInside ul li a{border-color:#5E778B;}

/* ////////// COULEURS COMMUNES UNIVERS GRIS ////////// */
.c_KL84_MEGANE .productAction li a, .c_KL84_MEGANE .categorieVoituresLayer ul li a, .c_KL84_MEGANE .categorieVoituresInside ul li a,
.c_D91_LAGUNA .productAction li a, .c_D91_LAGUNA .categorieVoituresLayer ul li a, .c_D91_LAGUNA .categorieVoituresInside ul li a
{background-image:url(chevronGris.png);}

.c_KL84_MEGANE .mediaScroller a.arrow,
.c_D91_LAGUNA .mediaScroller a.arrow
{background-image:url(scrollArrowGris.png)}

.c_KL84_MEGANE #rightColumn h2.productTitle, .c_KL84_MEGANE .blockFilledUniverse a, .c_KL84_MEGANE .categorieVoituresLayer .desc
.c_D91_LAGUNA #rightColumn h2.productTitle, .c_D91_LAGUNA .blockFilledUniverse a, .c_D91_LAGUNA .categorieVoituresLayer .desc
{color:#EDEDED;}

.c_KL84_MEGANE .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_KL84_MEGANE, .c_KL84_MEGANE .boutonUnivers, .c_KL84_MEGANE .mediaScroller a.arrow,.c_KL84_MEGANE table.dataArray .universBkg, .c_KL84_MEGANE .blockFilledUniverse h2, .c_KL84_MEGANE .blockFilledUniverse h3, .c_KL84_MEGANE .blockFilledUniverse h4, .c_KL84_MEGANE .blockFilledUniverse h5, .c_KL84_MEGANE .blockFilledUniverse h6, .c_KL84_MEGANE #rightColumn h2.productTitle span.altColor, .c_KL84_MEGANE #rightColumn h3.productTitle, #rightColumn .c_KL84_MEGANE h2.productTitle span.altColor, #rightColumn .c_KL84_MEGANE h3.productTitle, .c_KL84_MEGANE table.dataArray .universBkg, .c_KL84_MEGANE table.dataArray .universBkg h5 strong,
.c_D91_LAGUNA .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_D91_LAGUNA, .c_D91_LAGUNA .boutonUnivers, .c_D91_LAGUNA .mediaScroller a.arrow,.c_D91_LAGUNA table.dataArray .universBkg, .c_D91_LAGUNA .blockFilledUniverse h2, .c_D91_LAGUNA .blockFilledUniverse h3, .c_D91_LAGUNA .blockFilledUniverse h4, .c_D91_LAGUNA .blockFilledUniverse h5, .c_TR_RED .blockFilledUniverse h6, .c_D91_LAGUNA #rightColumn h2.productTitle span.altColor, .c_D91_LAGUNA #rightColumn h3.productTitle, #rightColumn .c_D91_LAGUNA h2.productTitle span.altColor, #rightColumn .c_D91_LAGUNA h3.productTitle, .c_D91_LAGUNA table.dataArray .universBkg, .c_D91_LAGUNA table.dataArray .universBkg h5 strong
{color: #EDEDED;border-color: #EDEDED;}

.c_KL84_MEGANE .boutonUnivers strong.return,
.c_D91_LAGUNA .boutonUnivers strong.return
{background-image:url(chevronsReturnGris.png);}

.c_KL84_MEGANE  .blockFilledUniverse .chevron, .c_KL84_MEGANE  .universBkg .chevron, .c_KL84_MEGANE .boutonUnivers strong,
.c_D91_LAGUNA  .blockFilledUniverse .chevron, .c_D91_LAGUNA  .universBkg .chevron, .c_D91_LAGUNA .boutonUnivers strong
{background-image:url(chevronGris.png);color:#EDEDED;}

/* ////////// UNIVERS TRANSVERSES ////////// */
/* TRANSVERSES CLAIRS */
.c_RENAULT .pageTitle, .c_RENAULT .univers,
#page .c_RENAULT .pageTitle,#page .c_RENAULT .univers  {color:#F7B100;}
.c_RENAULT .blockFilledUniverse .blockInside, #page .c_RENAULT .blockInside, .c_RENAULT .boutonUnivers, .c_RENAULT .mediaScroller a.arrow, .c_RENAULT table.dataArray .universBkg,
#page .c_RENAULT .blockInside, #page .blockFilledUniverse  .c_RENAULT, #page .c_RENAULT .boutonUnivers, #page .c_RENAULT .mediaScroller a.arrow, #page .c_RENAULT table.dataArray .universBkg, #page .c_RENAULT  .bkgUniverse {background-color:#F7B100 !important;}
.c_RENAULT .universList li, .universList li.c_RENAULT,
#page .c_RENAULT .universList li, #page .universList li.c_RENAULT{background-color:#F7B100;}
.c_RENAULT .productAction li, .c_RENAULT .categorieVoituresLayer ul li, .c_RENAULT .categorieVoituresInside ul li,
#page .c_RENAULT .productAction li, #page .c_RENAULT .categorieVoituresLayer ul li, #page .c_RENAULT .categorieVoituresInside ul li{border-color:#9E7100;}
.c_RENAULT .productAction li a, .c_RENAULT .categorieVoituresLayer ul li a, .c_RENAULT .categorieVoituresInside ul li a,
#page .c_RENAULT .productAction li a, #page .c_RENAULT .categorieVoituresLayer ul li a, #page .c_RENAULT .categorieVoituresInside ul li a{border-color:#FACD5C;}

.c_ECO2 .pageTitle, .c_ECO2 .univers,
#page .c_ECO2 .pageTitle,#page .c_ECO2 .univers  {color:#76B900;}
.c_ECO2 .blockFilledUniverse .blockInside, #page .c_ECO2 .blockInside, .c_ECO2 .boutonUnivers, .c_ECO2 .mediaScroller a.arrow, .c_ECO2 table.dataArray .universBkg,
#page .c_ECO2 .blockInside, #page .blockFilledUniverse  .c_ECO2, #page .c_ECO2 .boutonUnivers, #page .c_ECO2 .mediaScroller a.arrow, #page .c_ECO2 table.dataArray .universBkg, #page .c_ECO2 .bkgUniverse {background-color:#76B900 !important;}
.c_ECO2 .universList li, .universList li.c_ECO2,
#page .c_ECO2 .universList li, #page .universList li.c_ECO2{background-color:#76B900;}
.c_ECO2 .productAction li, .c_ECO2 .categorieVoituresLayer ul li, .c_ECO2 .categorieVoituresInside ul li,
#page .c_ECO2 .productAction li, #page .c_ECO2 .categorieVoituresLayer ul li, #page .c_ECO2 .categorieVoituresInside ul li{border-color:#588B00;}
.c_ECO2 .productAction li a, .c_ECO2 .categorieVoituresLayer ul li a, .c_ECO2 .categorieVoituresInside ul li a,
#page .c_ECO2 .productAction li a, #page .c_ECO2 .categorieVoituresLayer ul li a, #page .c_ECO2 .categorieVoituresInside ul li a{border-color:#98CB40;}

.c_TR_ORANGE .pageTitle, .c_TR_ORANGE .univers,
#page .c_TR_ORANGE .pageTitle,#page .c_TR_ORANGE .univers  {color:#FF9900;}
.c_TR_ORANGE .blockFilledUniverse .blockInside, #page .c_TR_ORANGE .blockInside, .c_TR_ORANGE .boutonUnivers, .c_TR_ORANGE .mediaScroller a.arrow, .c_TR_ORANGE table.dataArray .universBkg,
#page .c_TR_ORANGE .blockInside, #page .blockFilledUniverse  .c_TR_ORANGE, #page .c_TR_ORANGE .boutonUnivers, #page .c_TR_ORANGE .mediaScroller a.arrow, #page .c_TR_ORANGE table.dataArray .universBkg, #page .c_TR_ORANGE .bkgUniverse {background-color:#FF9900 !important;}
.c_TR_ORANGE .universList li, .universList li.c_TR_ORANGE,
#page .c_TR_ORANGE .universList li, #page .universList li.c_TR_ORANGE{background-color:#FF9900;}
.c_TR_ORANGE .productAction li, .c_TR_ORANGE .categorieVoituresLayer ul li, .c_TR_ORANGE .categorieVoituresInside ul li,
#page .c_TR_ORANGE .productAction li, #page .c_TR_ORANGE .categorieVoituresLayer ul li, #page .c_TR_ORANGE .categorieVoituresInside ul li{border-color:#BF7300;}
.c_TR_ORANGE .productAction li a, .c_TR_ORANGE .categorieVoituresLayer ul li a, .c_TR_ORANGE .categorieVoituresInside ul li a,
#page .c_TR_ORANGE .productAction li a, #page .c_TR_ORANGE .categorieVoituresLayer ul li a, #page .c_TR_ORANGE .categorieVoituresInside ul li a{border-color:#FFB340;}

.c_TR_WHITE .pageTitle, .c_TR_WHITE .univers,
#page .c_TR_WHITE .pageTitle,#page .c_TR_WHITE .univers  {color:#666;}
.c_TR_WHITE .blockFilledUniverse .blockInside, #page .c_TR_WHITE .blockInside, .c_TR_WHITE .boutonUnivers, .c_TR_WHITE .mediaScroller a.arrow, .c_TR_WHITE table.dataArray .universBkg,
#page .c_TR_WHITE .blockInside, #page .blockFilledUniverse  .c_TR_WHITE, #page .c_TR_WHITE .boutonUnivers, #page .c_TR_WHITE .mediaScroller a.arrow, #page .c_TR_WHITE table.dataArray .universBkg, #page .c_TR_WHITE .bkgUniverse {background-color:#FFF !important;}
.c_TR_WHITE .universList li, .universList li.c_TR_WHITE,
#page .c_TR_WHITE .universList li, #page .universList li.c_TR_WHITE{background-color:#FFF;}
.c_TR_WHITE .productAction li, .c_TR_WHITE .categorieVoituresLayer ul li, .c_TR_WHITE .categorieVoituresInside ul li,
#page .c_TR_WHITE .productAction li, #page .c_TR_WHITE .categorieVoituresLayer ul li, #page .c_TR_WHITE .categorieVoituresInside ul li{border-color:#666;}
.c_TR_WHITE .productAction li a, .c_TR_WHITE .categorieVoituresLayer ul li a, .c_TR_WHITE .categorieVoituresInside ul li a,
#page .c_TR_WHITE .productAction li a, #page .c_TR_WHITE .categorieVoituresLayer ul li a, #page .c_TR_WHITE .categorieVoituresInside ul li a{border-color:#F5F5F5;}

.c_TR_BLUE .pageTitle, .c_TR_BLUE .univers,
#page .c_TR_BLUE .pageTitle,#page .c_TR_BLUE .univers  {color:#BADEEC;}
.c_TR_BLUE .blockFilledUniverse .blockInside, #page .c_TR_BLUE .blockInside, .c_TR_BLUE .boutonUnivers, .c_TR_BLUE .mediaScroller a.arrow, .c_TR_BLUE table.dataArray .universBkg,
#page .c_TR_BLUE .blockInside, #page .blockFilledUniverse  .c_TR_BLUE, #page .c_TR_BLUE .boutonUnivers, #page .c_TR_BLUE .mediaScroller a.arrow, #page .c_TR_BLUE table.dataArray .universBkg, #page .c_TR_BLUE .bkgUniverse {background-color:#BADEEC !important;}
.c_TR_BLUE .universList li, .universList li.c_TR_BLUE,
#page .c_TR_BLUE .universList li, #page .universList li.c_TR_BLUE{background-color:#BADEEC;}
.c_TR_BLUE .productAction li, .c_TR_BLUE .categorieVoituresLayer ul li, .c_TR_BLUE .categorieVoituresInside ul li,
#page .c_TR_BLUE .productAction li, #page .c_TR_BLUE .categorieVoituresLayer ul li, #page .c_TR_BLUE .categorieVoituresInside ul li{border-color:#778E97;}
.c_TR_BLUE .productAction li a, .c_TR_BLUE .categorieVoituresLayer ul li a, .c_TR_BLUE .categorieVoituresInside ul li a,
#page .c_TR_BLUE .productAction li a, #page .c_TR_BLUE .categorieVoituresLayer ul li a, #page .c_TR_BLUE .categorieVoituresInside ul li a{border-color:#D3EAF3;}

.c_TR_GRAY .pageTitle, .c_TR_GRAY .univers,
#page .c_TR_GRAY .pageTitle,#page .c_TR_GRAY .univers  {color:#000;}
.c_TR_GRAY .blockFilledUniverse .blockInside, #page .c_TR_GRAY .blockInside, .c_TR_GRAY .boutonUnivers, .c_TR_GRAY .mediaScroller a.arrow, .c_TR_GRAY table.dataArray .universBkg,
#page .c_TR_GRAY .blockInside, #page .blockFilledUniverse  .c_TR_GRAY, #page .c_TR_GRAY .boutonUnivers, #page .c_TR_GRAY .mediaScroller a.arrow, #page .c_TR_GRAY table.dataArray .universBkg, #page .c_TR_GRAY .bkgUniverse {background-color:#EDEDED !important;}
.c_TR_GRAY .universList li, .universList li.c_TR_GRAY,
#page .c_TR_GRAY .universList li, #page .universList li.c_TR_GRAY{background-color:#EDEDED;}
.c_TR_GRAY .productAction li, .c_TR_GRAY .categorieVoituresLayer ul li, .c_TR_GRAY .categorieVoituresInside ul li,
#page .c_TR_GRAY .productAction li, #page .c_TR_GRAY .categorieVoituresLayer ul li, #page .c_TR_GRAY .categorieVoituresInside ul li{border-color:#666;}
.c_TR_GRAY .productAction li a, .c_TR_GRAY .categorieVoituresLayer ul li a, .c_TR_GRAY .categorieVoituresInside ul li a,
#page .c_TR_GRAY .productAction li a, #page .c_TR_GRAY .categorieVoituresLayer ul li a, #page .c_TR_GRAY .categorieVoituresInside ul li a{border-color:#F5F5F5;}

/* TRANSVERSES FONCES */
.c_TR_BLACK .pageTitle, .c_TR_BLACK .univers,
#page .c_TR_BLACK .pageTitle,#page .c_TR_BLACK .univers  {color:#FFF;}
.c_TR_BLACK .blockFilledUniverse .blockInside, #page .c_TR_BLACK .blockInside, .c_TR_BLACK .boutonUnivers, .c_TR_BLACK .mediaScroller a.arrow, .c_TR_BLACK table.dataArray .universBkg,
#page .c_TR_BLACK .blockInside, #page .blockFilledUniverse  .c_TR_BLACK, #page .c_TR_BLACK .boutonUnivers, #page .c_TR_BLACK .mediaScroller a.arrow, #page .c_TR_BLACK table.dataArray .universBkg, #page .c_TR_BLACK .bkgUniverse {background-color:#000 !important;}
.c_TR_BLACK .universList li, .universList li.c_TR_BLACK,
#page .c_TR_BLACK .universList li, #page .universList li.c_TR_BLACK{background-color:#000;}
.c_TR_BLACK .productAction li, .c_TR_BLACK .categorieVoituresLayer ul li, .c_TR_BLACK .categorieVoituresInside ul li,
#page .c_TR_BLACK .productAction li, #page .c_TR_BLACK .categorieVoituresLayer ul li, #page .c_TR_BLACK .categorieVoituresInside ul li{border-color:#F5F5F5;}
.c_TR_BLACK .productAction li a, .c_TR_BLACK .categorieVoituresLayer ul li a, .c_TR_BLACK .categorieVoituresInside ul li a,
#page .c_TR_BLACK .productAction li a, #page .c_TR_BLACK .categorieVoituresLayer ul li a, #page .c_TR_BLACK .categorieVoituresInside ul li a{border-color:#FFF;}

.c_TR_RED .pageTitle, .c_TR_RED .univers,
#page .c_TR_RED .pageTitle,#page .c_TR_RED .univers  {color:#FF0000;}
.c_TR_RED .blockFilledUniverse .blockInside, #page .c_TR_RED .blockInside, .c_TR_RED .boutonUnivers, .c_TR_RED .mediaScroller a.arrow, .c_TR_RED table.dataArray .universBkg,
#page .c_TR_RED .blockInside, #page .blockFilledUniverse  .c_TR_RED, #page .c_TR_RED .boutonUnivers, #page .c_TR_RED .mediaScroller a.arrow, #page .c_TR_RED table.dataArray .universBkg, #page .c_TR_RED .bkgUniverse {background-color:#FF0000 !important;}
.c_TR_RED .universList li, .universList li.c_TR_RED,
#page .c_TR_RED .universList li, #page .universList li.c_TR_RED{background-color:#FF0000;}
.c_TR_RED .productAction li, .c_TR_RED .categorieVoituresLayer ul li, .c_TR_RED .categorieVoituresInside ul li,
#page .c_TR_RED .productAction li, #page .c_TR_RED .categorieVoituresLayer ul li, #page .c_TR_RED .categorieVoituresInside ul li{border-color:#BF0000;}
.c_TR_RED .productAction li a, .c_TR_RED .categorieVoituresLayer ul li a, .c_TR_RED .categorieVoituresInside ul li a,
#page .c_TR_RED .productAction li a, #page .c_TR_RED .categorieVoituresLayer ul li a, #page .c_TR_RED .categorieVoituresInside ul li a{border-color:#FF4040;}

/* ////////// COULEURS COMMUNES UNIVERS TRANSVERSES ////////// */
/* TRANSVERSES CLAIRS */
.c_RENAULT .color,
#page .c_RENAULT .color,
.c_ECO2 .color,
#page .c_ECO2 .color,
.c_TR_ORANGE .color,
#page .c_TR_ORANGE .color,
.c_TR_WHITE .color,
#page .c_TR_WHITE .color,
.c_TR_BLUE .color,
#page .c_TR_BLUE .color,
.c_TR_GRAY .color,
#page .c_TR_GRAY .color
{color: #fff;}

#page .c_RENAULT .productAction li a, #page .c_RENAULT .categorieVoituresLayer ul li a, #page .c_RENAULT .categorieVoituresInside ul li a,
#page .c_ECO2 .productAction li a, #page .c_ECO2 .categorieVoituresLayer ul li a, #page .c_ECO2 .categorieVoituresInside ul li a,
#page .c_TR_ORANGE .productAction li a, #page .c_TR_ORANGE .categorieVoituresLayer ul li a, #page .c_TR_ORANGE .categorieVoituresInside ul li a,
#page .c_TR_WHITE .productAction li a, #page .c_TR_WHITE .categorieVoituresLayer ul li a, #page .c_TR_WHITE .categorieVoituresInside ul li a,
#page .c_TR_BLUE .productAction li a, #page .c_TR_BLUE .categorieVoituresLayer ul li a, #page .c_TR_BLUE .categorieVoituresInside ul li a,
#page .c_TR_GRAY .productAction li a, #page .c_TR_GRAY .categorieVoituresLayer ul li a, #page .c_TR_GRAY .categorieVoituresInside ul li a
{background-image:url(chevronNoir.png);}

#page .c_RENAULT .mediaScroller a.arrow,
#page .c_ECO2 .mediaScroller a.arrow,
#page .c_TR_ORANGE .mediaScroller a.arrow,
#page .c_TR_WHITE .mediaScroller a.arrow,
#page .c_TR_BLUE .mediaScroller a.arrow,
#page .c_TR_GRAY .mediaScroller a.arrow
{background-image:url(chevronNoir.png);}

#page #rightColumn .c_RENAULT h2.productTitle, #page .c_RENAULT .blockInside a, #page .c_RENAULT .categorieVoituresLayer .desc,
#page #rightColumn .c_ECO2 h2.productTitle, #page .c_ECO2 .blockInside a, #page .c_ECO2 .categorieVoituresLayer .desc,
#page #rightColumn .c_TR_ORANGE h2.productTitle, #page .c_TR_ORANGE .blockInside a, #page .c_TR_ORANGE .categorieVoituresLayer .desc,
#page #rightColumn .c_TR_WHITE h2.productTitle, #page .c_TR_WHITE .blockInside a, #page .c_TR_WHITE .categorieVoituresLayer .desc,
#page #rightColumn .c_TR_BLUE h2.productTitle, #page .c_TR_BLUE .blockInside a, #page .c_TR_BLUE .categorieVoituresLayer .desc,
#page #rightColumn .c_TR_GRAY h2.productTitle, #page .c_TR_GRAY .blockInside a, #page .c_TR_GRAY .categorieVoituresLayer .desc
{color:#000;}

#page .c_RENAULT .blockInside, #page .c_RENAULT .boutonUnivers, #page .c_RENAULT .mediaScroller a.arrow,#page .c_RENAULT table.dataArray .universBkg, #page .c_RENAULT h2, #page .c_RENAULT h3, #page .c_RENAULT h4, #page .c_RENAULT h5, #page .c_RENAULT .blockFilledUniverse h6, #page #rightColumn .c_RENAULT h2.productTitle span.altColor, #page #rightColumn .c_RENAULT  h3.productTitle, #page #rightColumn .c_RENAULT h2.productTitle span.altColor, #page #rightColumn .c_RENAULT h3.productTitle, #page .c_RENAULT table.dataArray .universBkg, #page .c_RENAULT table.dataArray .universBkg h5 strong,
#page .c_ECO2 .blockInside, #page .c_ECO2 .boutonUnivers, #page .c_ECO2 .mediaScroller a.arrow,#page .c_ECO2 table.dataArray .universBkg, #page .c_ECO2 h2, #page .c_ECO2 h3, #page .c_ECO2 h4, #page .c_ECO2 h5, #page .c_ECO2 .blockFilledUniverse h6, #page #rightColumn .c_ECO2 h2.productTitle span.altColor, #page #rightColumn .c_ECO2  h3.productTitle, #page #rightColumn .c_ECO2 h2.productTitle span.altColor, #page #rightColumn .c_ECO2 h3.productTitle, #page .c_ECO2 table.dataArray .universBkg, #page .c_ECO2 table.dataArray .universBkg h5 strong,
#page .c_TR_ORANGE .blockInside, #page .c_TR_ORANGE .boutonUnivers, #page .c_TR_ORANGE .mediaScroller a.arrow,#page .c_TR_ORANGE table.dataArray .universBkg, #page .c_TR_ORANGE h2, #page .c_TR_ORANGE h3, #page .c_TR_ORANGE h4, #page .c_TR_ORANGE h5, #page .c_TR_ORANGE .blockFilledUniverse h6, #page #rightColumn .c_TR_ORANGE h2.productTitle span.altColor, #page #rightColumn .c_TR_ORANGE  h3.productTitle, #page #rightColumn .c_TR_ORANGE h2.productTitle span.altColor, #page #rightColumn .c_TR_ORANGE h3.productTitle, #page .c_TR_ORANGE table.dataArray .universBkg, #page .c_TR_ORANGE table.dataArray .universBkg h5 strong,
#page .c_TR_WHITE .blockInside, #page .c_TR_WHITE .boutonUnivers, #page .c_TR_WHITE .mediaScroller a.arrow,#page .c_TR_WHITE table.dataArray .universBkg, #page .c_TR_WHITE h2, #page .c_TR_WHITE h3, #page .c_TR_WHITE h4, #page .c_TR_WHITE h5, #page .c_TR_WHITE .blockFilledUniverse h6, #page #rightColumn .c_TR_WHITE h2.productTitle span.altColor, #page #rightColumn .c_TR_WHITE  h3.productTitle, #page #rightColumn .c_TR_WHITE h2.productTitle span.altColor, #page #rightColumn .c_TR_WHITE h3.productTitle, #page .c_TR_WHITE table.dataArray .universBkg, #page .c_TR_WHITE table.dataArray .universBkg h5 strong,
#page .c_TR_BLUE .blockInside, #page .c_TR_BLUE .boutonUnivers, #page .c_TR_BLUE .mediaScroller a.arrow,#page .c_TR_BLUE table.dataArray .universBkg, #page .c_TR_BLUE h2, #page .c_TR_BLUE h3, #page .c_TR_BLUE h4, #page .c_TR_BLUE h5, #page .c_TR_BLUE .blockFilledUniverse h6, #page #rightColumn .c_TR_BLUE h2.productTitle span.altColor, #page #rightColumn .c_TR_BLUE  h3.productTitle, #page #rightColumn .c_TR_BLUE h2.productTitle span.altColor, #page #rightColumn .c_TR_BLUE h3.productTitle, #page .c_TR_BLUE table.dataArray .universBkg, #page .c_TR_BLUE table.dataArray .universBkg h5 strong,
#page .c_TR_GRAY .blockInside, #page .c_TR_GRAY .boutonUnivers, #page .c_TR_GRAY .mediaScroller a.arrow,#page .c_TR_GRAY table.dataArray .universBkg, #page .c_TR_GRAY h2, #page .c_TR_GRAY h3, #page .c_TR_GRAY h4, #page .c_TR_GRAY h5, #page .c_TR_GRAY .blockFilledUniverse h6, #page #rightColumn .c_TR_GRAY h2.productTitle span.altColor, #page #rightColumn .c_TR_GRAY  h3.productTitle, #page #rightColumn .c_TR_GRAY h2.productTitle span.altColor, #page #rightColumn .c_TR_GRAY h3.productTitle, #page .c_TR_GRAY table.dataArray .universBkg, #page .c_TR_GRAY table.dataArray .universBkg h5 strong
{color: #000;border-color: #000;}

#page .c_RENAULT .blockInside .chevron, #page .c_RENAULT  .universBkg .chevron, #page .c_RENAULT .boutonUnivers strong,
#page .c_ECO2 .blockInside .chevron, #page .c_ECO2  .universBkg .chevron, #page .c_ECO2 .boutonUnivers strong,
#page .c_TR_ORANGE .blockInside .chevron, #page .c_TR_ORANGE  .universBkg .chevron, #page .c_TR_ORANGE .boutonUnivers strong,
#page .c_TR_WHITE .blockInside .chevron, #page .c_TR_WHITE  .universBkg .chevron, #page .c_TR_WHITE .boutonUnivers strong,
#page .c_TR_BLUE .blockInside .chevron, #page .c_TR_BLUE  .universBkg .chevron, #page .c_TR_BLUE .boutonUnivers strong,
#page .c_TR_GRAY .blockInside .chevron, #page .c_TR_GRAY  .universBkg .chevron, #page .c_TR_GRAY .boutonUnivers strong
{background-image:url(chevronNoir.png);color:#000;}

#page .c_RENAULT .boutonUnivers strong.return,
#page .c_ECO2 .boutonUnivers strong.return,
#page .c_TR_ORANGE .boutonUnivers strong.return,
#page .c_TR_WHITE .boutonUnivers strong.return,
#page .c_TR_BLUE .boutonUnivers strong.return,
#page .c_TR_GRAY .boutonUnivers strong.return
{background-image:url(chevronsReturnNoir.png);}


/* TRANSVERSES FONCES */
.c_TR_BLACK .productAction li a, .c_TR_BLACK .categorieVoituresLayer ul li a, .c_TR_BLACK .categorieVoituresInside ul li a,
#page .c_TR_BLACK .productAction li a, #page .c_TR_BLACK .categorieVoituresLayer ul li a, #page .c_TR_BLACK .categorieVoituresInside ul li a,
.c_TR_RED .productAction li a, .c_TR_RED .categorieVoituresLayer ul li a, .c_TR_RED .categorieVoituresInside ul li a,
#page .c_TR_RED .productAction li a, #page .c_TR_RED .categorieVoituresLayer ul li a, #page .c_TR_RED .categorieVoituresInside ul li a
{background-image:url(chevronBlanc.png);}

.c_TR_BLACK .mediaScroller a.arrow,
#page .c_TR_BLACK .mediaScroller a.arrow,
.c_TR_RED .mediaScroller a.arrow,
#page .c_TR_RED .mediaScroller a.arrow
{background-image:url(scrollArrowBlanc.png)}

.c_TR_BLACK #rightColumn h2.productTitle, .c_TR_BLACK .blockFilledUniverse a, .c_TR_BLACK .categorieVoituresLayer .desc,
#page #rightColumn .c_TR_BLACK h2.productTitle, #page .c_TR_BLACK .blockInside a, #page .c_TR_BLACK .categorieVoituresLayer .desc,
.c_TR_RED #rightColumn h2.productTitle, .c_TR_RED .blockFilledUniverse a, .c_TR_RED .categorieVoituresLayer .desc,
#page #rightColumn .c_TR_RED h2.productTitle, #page .c_TR_RED .blockInside a, #page .c_TR_RED .categorieVoituresLayer .desc
{color:#fff;}

.c_TR_BLACK .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_TR_BLACK, .c_TR_BLACK .boutonUnivers, .c_TR_BLACK .mediaScroller a.arrow,.c_TR_BLACK table.dataArray .universBkg, .c_TR_BLACK .blockFilledUniverse h2, .c_TR_BLACK .blockFilledUniverse h3, .c_TR_BLACK .blockFilledUniverse h4, .c_TR_BLACK .blockFilledUniverse h5, .c_TR_BLACK .blockFilledUniverse h6, .c_TR_BLACK #rightColumn h2.productTitle span.altColor, .c_TR_BLACK #rightColumn h3.productTitle, #rightColumn .c_TR_BLACK h2.productTitle span.altColor, #rightColumn .c_TR_BLACK h3.productTitle, .c_TR_BLACK table.dataArray .universBkg, .c_TR_BLACK table.dataArray .universBkg h5 strong,
#page .c_TR_BLACK .blockInside, #page .c_TR_BLACK .boutonUnivers, #page .c_TR_BLACK .mediaScroller a.arrow,#page .c_TR_BLACK table.dataArray .universBkg, #page .c_TR_BLACK .blockInside h2, #page .c_TR_BLACK .blockInside h3, #page .c_TR_BLACK .blockInside h4, #page .c_TR_BLACK .blockInside h5, #page .c_TR_BLACK .blockInside h6, #page #rightColumn .c_TR_BLACK h2.productTitle span.altColor, #page #rightColumn .c_TR_BLACK h3.productTitle, #page #rightColumn .c_TR_BLACK h2.productTitle span.altColor, #page #rightColumn .c_TR_BLACK h3.productTitle, .c_TR_BLACK table.dataArray .universBkg, .c_TR_BLACK table.dataArray .universBkg h5 strong,
.c_TR_RED .blockFilledUniverse .blockInside, #page .blockFilledUniverse  .c_TR_RED, .c_TR_RED .boutonUnivers, .c_TR_RED .mediaScroller a.arrow,.c_TR_RED table.dataArray .universBkg, .c_TR_RED .blockFilledUniverse h2, .c_TR_RED .blockFilledUniverse h3, .c_TR_RED .blockFilledUniverse h4, .c_TR_RED .blockFilledUniverse h5, .c_TR_RED .blockFilledUniverse h6, .c_TR_RED #rightColumn h2.productTitle span.altColor, .c_TR_RED #rightColumn h3.productTitle, #rightColumn .c_TR_RED h2.productTitle span.altColor, #rightColumn .c_TR_RED h3.productTitle, .c_TR_RED table.dataArray .universBkg, .c_TR_RED table.dataArray .universBkg h5 strong,
#page .c_TR_RED .blockInside, #page .c_TR_RED .boutonUnivers, #page .c_TR_RED .mediaScroller a.arrow,#page .c_TR_RED table.dataArray .universBkg, #page .c_TR_RED .blockInside h2, #page .c_TR_RED .blockInside h3, #page .c_TR_RED .blockInside h4, #page .c_TR_RED .blockInside h5, #page .c_TR_RED .blockInside h6, #page #rightColumn .c_TR_RED h2.productTitle span.altColor, #page #rightColumn .c_TR_RED h3.productTitle, #page #rightColumn .c_TR_RED h2.productTitle span.altColor, #page #rightColumn .c_TR_RED h3.productTitle, .c_TR_RED table.dataArray .universBkg, .c_TR_RED table.dataArray .universBkg h5 strong
{color: #fff;border-color: #fff;}

.c_TR_BLACK  .blockFilledUniverse .chevron, .c_TR_BLACK  .universBkg .chevron, .c_TR_BLACK .boutonUnivers strong,
#page .c_TR_BLACK  .blockInside .chevron, #page .c_TR_BLACK  .universBkg .chevron, #page .c_TR_BLACK .boutonUnivers strong,
.c_TR_RED  .blockFilledUniverse .chevron, .c_TR_RED  .universBkg .chevron, .c_TR_RED .boutonUnivers strong,
#page .c_TR_RED  .blockInside .chevron, #page .c_TR_RED  .universBkg .chevron, #page .c_TR_RED .boutonUnivers strong
{background-image:url(chevronBlanc.png);color:#fff;}

.c_TR_BLACK .boutonUnivers strong.return,
#page .c_TR_BLACK .boutonUnivers strong.return,
.c_TR_RED .boutonUnivers strong.return,
#page .c_TR_RED .boutonUnivers strong.return
{background-image:url(chevronsReturnBlanc.png);}