@charset "iso-8859-1";

* {margin:0;padding:0;border:0}

body {position:static !important;width:auto !important;margin:0 !important;background:white;font:11px "Arial","Helvetica",sans-serif;cursor:default}

a {color:black;text-decoration:underline;cursor:pointer}
a:hover {text-decoration:none}

ul, li {list-style-type:none}

h1 {font-size:21px;font-weight:normal;color:#006388;padding:120px 5px 5px 5px}
h2 {font-size:14px;color:#626262;font-weight:normal}

input, button, select, textarea {font:11px "Arial","Helvetica",sans-serif}

#content {position:relative;width:1005px !important;margin:0 auto}
#content.home {padding:780px 0 0 0}

#corner {position:absolute;z-index:1000;left:0;top:0;width:95px;height:95px}

#header {position:absolute;left:5px;top:0;width:870px;height:108px;background:url(header.png) no-repeat}
#header #logo-apec {position:absolute;left:10px;top:0;width:179px;height:108px;overflow:hidden;text-indent:180px;white-space:nowrap}
#header .account {position:absolute;right:13px;top:87px;width:300px;word-spacing:10px;color:white;text-align:right}
#header .account a {word-spacing:0;color:white}

#cadres-jd {position:absolute;left:0;top:125px;width:600px;height:373px;background:url(home.png) no-repeat 0 0}

#jd {position:absolute;left:20px;top:25px}
#jd h1 {padding:0}
#jd h1 a {display:block;padding:0 0 0 20px;background:url(arrows.png) no-repeat 0 -31px;color:#E41F1F;text-decoration:none;font-size:18px;font-weight:normal}
#jd h1 a:hover {text-decoration:underline}
#jd .content {position:absolute;left:0;top:50px;color:#545454}
#jd .content ul li {padding:3px 0 3px 20px;background:url(check.png) no-repeat 0 -29px;white-space:nowrap}
#jd .content ul li a {text-decoration:none;color:#545454}
#jd .content ul li a:hover {text-decoration:underline}
#jd a.button {position:absolute;left:70px;top:130px;height:26px;background:url(killerapp.png) no-repeat 0 -78px;color:white;text-decoration:none;font-weight:bold}
#jd a.button span {display:inline-block;height:20px;margin:0 0 0 25px;padding:6px 15px 0 0;background:url(killerapp.png) no-repeat 100% -78px;white-space:nowrap}

#cadres {position:absolute;left:310px;top:25px}
#cadres h1 {padding:0}
#cadres h1 a {display:block;padding:0 0 0 20px;background:url(arrows.png) no-repeat 0 5px;color:#F18539;text-decoration:none;font-size:18px;font-weight:normal}
#cadres h1 a:hover {text-decoration:underline}
#cadres .content {position:absolute;left:0;top:50px;color:#545454}
#cadres .content ul li {padding:3px 0 3px 20px;background:url(check.png) no-repeat 0 4px;white-space:nowrap}
#cadres .content ul li a {text-decoration:none;color:#545454}
#cadres .content ul li a:hover {text-decoration:underline}
#cadres a.button {position:absolute;left:70px;top:130px;height:26px;background:url(killerapp.png) no-repeat 0 0;color:white;text-decoration:none;font-weight:bold}
#cadres a.button span {display:inline-block;height:20px;margin:0 0 0 25px;padding:6px 15px 0 0;background:url(killerapp.png) no-repeat 100% 0;white-space:nowrap}

#recherche {position:absolute;left:3px;top:326px;width:600px;height:164px}
#recherche h1 {padding:0}
#recherche h1 {margin:8px 0 0 15px;font-size:16px;color:white;font-weight:bold}
#recherche ul.tabs {position:absolute;left:6px;top:30px;width:583px;height:24px}
#recherche ul.tabs li {float:left;height:24px;margin:0 0 0 -1px;background:url(recherche-tab.png) no-repeat 0 0}
#recherche ul.tabs li a {display:inline-block;height:19px;margin:0 0 0 1px;padding:5px 0 0 0;background:url(recherche-tab.png) no-repeat 100% 0;color:#888888;font-weight:bold;text-decoration:none;text-align:center;outline:0}
#recherche ul.tabs li a:hover {color:#EF741D}
#recherche ul.tabs li.ui-tabs-selected {background:url(recherche-tab.png) no-repeat 0 -72px}
#recherche ul.tabs li.ui-tabs-selected a {background:url(recherche-tab.png) no-repeat 100% -72px;color:#EF741D;cursor:default}
#recherche ul.tabs.tabs-4 li a {width:145px}
#recherche ul.tabs.tabs-4 li.last a {width:148px}
#recherche .tab {position:absolute;left:15px;top:60px;width:565px}
#recherche .tab.ui-tabs-hide {display:none}
#recherche h2 {height:27px;padding:0;font-size:10px;font-weight:normal}
#recherche h2 a {color:#626262}
#recherche label {display:block;margin:0 0 3px 0;font-weight:bold;color:#666666}
#recherche .keywords {float:left;width:290px;height:55px}
#recherche .keywords span {display:block;height:20px;background:url(input.png) no-repeat left top}
#recherche .keywords span input {float:left;width:100%;height:17px;margin:0 0 0 3px;padding:3px 0 0 0;background:url(input.png) no-repeat right top}
#recherche .keywords em {display:block;margin:3px 0 0 1px;font-size:10px;color:#696969;font-style:normal}
#recherche .combo {float:left;width:155px;height:55px;margin:0 0 0 10px}
#recherche .combo select {width:100%;height:20px}
#recherche .button {float:right;margin:17px 0 18px 0;background:url(button.png) no-repeat 0 -180px;color:white;text-decoration:none;font-weight:bold}
#recherche .button a {display:inline-block;height:17px;margin:0 0 0 25px;padding:3px 10px 0 0;background:url(button.png) no-repeat 100% 0;color:white;text-decoration:none}
#recherche a.arrow {clear:both;float:right;padding:2px 0 3px 12px;background:url(arrow.png) no-repeat 0 3px;font-size:10px;white-space:nowrap}
#recherche .keywords-only .keywords {width:450px;margin:20px 0 0 0}
#recherche .keywords-only .button {margin:37px 0 0 0}
#recherche select {display:none}
#recherche .styledSelect {position:relative;width:154px;height:18px;line-height:18px;border:1px solid #C5C4C4;background:white url(combo.png) no-repeat 100% 1px}
#recherche .styledSelect ul {position:absolute;left:0;top:0;width:100%}
#recherche .styledSelect ul li {padding:0 0 0 3px}
#recherche .styledSelect.open ul {left:-1px;top:-1px;border:1px solid #C5C4C4;background:white url(combo.png) no-repeat 100% 1px}
#recherche .styledSelect.open ul li:hover {background:#FCE6D6}
#recherche .styledSelect.open ul li.first {border-bottom:1px solid #DFDEDE}
#recherche .styledSelect.open ul li.first:hover {background:none}

#recruteurs {position:absolute;left:600px;top:125px;width:250px;height:348px;padding:25px 10px 0 20px;background:url(home.png) no-repeat -600px 0}
#recruteurs h1 {padding:0}
#recruteurs h1 a {display:block;padding:0 0 0 20px;background:url(arrows.png) no-repeat 0 -67px;color:#006388;text-decoration:none;font-size:18px;font-weight:normal}
#recruteurs h1 a:hover {text-decoration:underline}
#recruteurs .content {position:absolute;left:20px;top:75px;color:#545454;_width:100%}
#recruteurs .content ul li {padding:3px 0 3px 20px;background:url(check.png) no-repeat 0 -62px}
#recruteurs .content ul li a {text-decoration:none;color:#545454}
#recruteurs .content ul li a:hover {text-decoration:underline}
#recruteurs a.button {position:absolute;left:90px;top:155px;height:26px;background:url(killerapp.png) no-repeat 0 -156px;color:white;text-decoration:none;font-weight:bold}
#recruteurs a.button span {display:inline-block;height:20px;margin:0 0 0 25px;padding:6px 15px 0 0;background:url(killerapp.png) no-repeat 100% -156px}
#recruteurs a.arrow {padding:0 0 0 12px;background:url(arrow.png) no-repeat 0 -71px;font-weight:bold}
#recruteurs dl dt {font-size:12px;color:#006388;font-weight:bold}
#recruteurs dl.cv {position:absolute;left:20px;top:200px;width:250px;height:100px;background:url(cv-recruteurs.png) no-repeat 20px 0}
#recruteurs dl.cv dt {margin:15px 0 10px 90px}
#recruteurs dl.cv dd {margin:0 0 0 90px}
#recruteurs dl.offre {position:absolute;left:20px;top:268px;width:250px;height:100px;background:url(offre-recruteurs.png) no-repeat 155px 0}
#recruteurs dl.offre dt {margin:15px 100px 10px 0}
#recruteurs dl.offre dd {margin:0 100px 0 0}

#services-apec {position:absolute;left:0;top:498px;width:291px;height:266px}
#services-apec p {padding:10px}
#services-apec p img {margin:10px 0 0 0}
#services-apec object {outline:0}

#apecnext {position:absolute;left:290px;top:498px;width:310px;height:266px}
#apecnext p {padding:10px}
#apecnext p img {margin:10px 0 0 0}
#apecnext object {outline:0}

#courrier-cadres-une {position:absolute;left:600px;top:498px;width:240px;height:246px;padding:20px 20px 0 20px;background:url(home.png) no-repeat -600px -373px}
#courrier-cadres-une h1 {height:34px;padding:0}
#courrier-cadres-une h1 a {display:block;padding:0 0 0 20px;background:url(arrows.png) no-repeat 0 -103px;color:#D22238;text-decoration:none;font-size:18px;font-weight:normal}
#courrier-cadres-une h1 a:hover {text-decoration:underline}
#courrier-cadres-une h2 {margin:0}
#courrier-cadres-une h2 a {color:#626262;text-decoration:none}
#courrier-cadres-une h2 a:hover {text-decoration:underline}
#courrier-cadres-une img {position:absolute;left:20px;top:100px}
#courrier-cadres-une .text {position:absolute;left:110px;top:100px;width:155px;color:#545454}
#courrier-cadres-une .text a {color:#545454;text-decoration:none}
#courrier-cadres-une .text a:hover {text-decoration:underline}
#courrier-cadres-une a.arrow {position:absolute;left:20px;bottom:56px;padding:0 0 0 12px;background:url(arrow.png) no-repeat 0 -107px;font-weight:bold}
#courrier-cadres-une dl.news dt {position:absolute;left:35px;top:237px;color:#D22238;font-weight:bold}
#courrier-cadres-une dl.news dd {position:absolute;left:85px;top:237px;width:190px}
#courrier-cadres-une dl.news dd em {margin:0 10px;color:#D22238;font-style:normal}
#courrier-cadres-une dl.news dd a {text-decoration:none;color:#545454}
#courrier-cadres-une dl.news dd a:hover {text-decoration:underline}

#courrier-cadres {position:absolute;left:600px;top:498px;width:125px;height:261px;padding:5px 10px 0 17px;background:url(home.png) no-repeat -728px -639px}
#courrier-cadres h1 {padding:0}
#courrier-cadres h1 a {display:block;height:33px;line-height:33px;margin:0 0 5px 0;color:#626262;font-weight:bold;font-size:12px;text-decoration:none}
#courrier-cadres h1 a:hover {text-decoration:underline}
#courrier-cadres img {position:absolute;left:55px;top:180px}
#courrier-cadres h2 {margin:0 0 5px 0;font-size:11px;color:#D22238}
#courrier-cadres h2 a {color:#D22238;text-decoration:none}
#courrier-cadres .text {color:#545454}
#courrier-cadres .text a {color:#545454;text-decoration:none}
#courrier-cadres a.arrow {position:absolute;left:18px;bottom:15px;padding:0 0 0 12px;background:url(arrow.png) no-repeat 0 -107px;font-weight:bold}

#footer {width:870px;padding:20px 0 0 5px}
#footer .bar {margin:0 0 10px 0;height:21px;line-height:21px;background:url(footer.png) repeat-x left top;text-align:center;word-spacing:15px;color:white;font-weight:bold}
#footer .bar a {word-spacing:0;color:white;text-decoration:none}
#footer .bar a:hover {text-decoration:underline}
#footer .bar em {word-spacing:0;font-weight:normal;font-style:normal}
#footer dl dt {margin:0 0 5px 10px;font-size:14px}
#footer dl dt a {text-decoration:none}
#footer dl dt a:hover {text-decoration:underline}
#footer dl dd {margin:0 0 10px 10px;line-height:18px;word-spacing:5px}
#footer dl dd a {color:#666666;word-spacing:0;white-space:nowrap;text-decoration:none}
#footer dl dd a:hover {text-decoration:underline}
#footer dl.jd dt a,
#footer dl.jd dd {color:#E41F1F}
#footer dl.cadres dt a,
#footer dl.cadres dd {color:#EF741D}
#footer dl.recruteurs dt a,
#footer dl.recruteurs dd {color:#006388}
#footer dl.partenaires dt,
#footer dl.partenaires dd {color:#656464}
#footer dl dd img {vertical-align:text-bottom}

#ad-120x600 {position:absolute;right:0;top:30px;width:120px;background:url(publicite.png) no-repeat center top}
#ad-120x600 a {display:none}
#ad-120x600 a.regie {display:block;position:relative;top:-7px;margin:0 0 -7px 0;text-align:center;font-style:normal;font-size:10px;color:#BEBEBE;text-decoration:none}
#ad-120x600 a.regie:hover {color:#666666}

#ad-120x240 {position:absolute;left:754px;top:503px;width:120px;background:url(publicite.png) no-repeat center top}
#ad-120x240 a.regie {display:block;position:relative;top:-7px;margin:0 0 3px 0;text-align:center;font-style:normal;font-size:10px;color:#BEBEBE;text-decoration:none}
#ad-120x240 a.regie:hover {color:#666666}

#ad-300x250 {position:absolute;left:295px;top:503px;width:300px;background:url(publicite.png) no-repeat center top}
#ad-300x250 a.regie {display:block;position:relative;top:-7px;margin:0 0 -7px 0;text-align:center;font-style:normal;font-size:10px;color:#BEBEBE;text-decoration:none}
#ad-300x250 a.regie:hover {color:#666666}

#ad-468x60 {position:absolute;left:290px;top:18px}

#page {position:relative;width:602px;background:url(page.png) no-repeat left top}
#page h2 {padding:20px 25px 25px 25px;color:#EF741D;font-weight:bold;font-size:14px}
#page h3 {padding:20px 25px 0 25px;color:black;font-weight:bold;font-size:11px}
#page a.print {position:absolute;right:7px;top:-25px;padding:1px 0 3px 25px;background:url(print.png) no-repeat left center}
#page .letters {margin:0 25px 0 25px;border:1px solid white;background:url(page-letters.png) repeat-x left top;font-size:12px;text-align:center}
#page .letters a {display:inline-block;width:3.3%;padding:2px 0;text-align:center;text-decoration:none;color:#EF741D}
#page .letters a:hover {color:#EF741D;font-weight:bold}
#page .letters a.selected {color:black;font-weight:bold}
#page .letters a.disabled {cursor:default;color:#FCE6D6}
#page .letters a.disabled:hover  {color:#FCE6D6;font-weight:normal}
#page .content {padding:0 25px 5px 25px;background:url(page.png) no-repeat left bottom}
#page .content p {margin:0 0 10px 0}
#page .content.definitions b {display:block;margin:0 0 -1em 0;padding:15px 0 0 0;border-top:1px dotted #D5D5D5}
#page .content.definitions a {text-decoration:none}
#page .content.definitions a:hover {text-decoration:underline}
#page .content table {border-width:1px;border-color:#D5D5D5;border-style:dotted;border-collapse:collapse}
#page .content table td {padding:5px;border:1px dotted #D5D5D5}

#page-sidebar {position:absolute;left:599px;top:150px;width:282px;background:url(page-sidebar.png) no-repeat left top}
#page-sidebar h2 {padding:20px 25px 25px 25px;color:#006388;font-weight:bold;font-size:12px;text-align:center}
#page-sidebar .content {padding:0 25px 20px 25px;background:url(page-sidebar.png) no-repeat left bottom;text-align:center}
#page-sidebar a.button {display:inline-block;margin:20px auto 10px auto;height:20px;background:url(button.png) no-repeat 0 0;color:white;text-decoration:none;font-weight:bold}
#page-sidebar a.button span {display:inline-block;height:17px;margin:0 0 0 25px;padding:3px 15px 0 0;background:url(button.png) no-repeat 100% 0;white-space:nowrap}

#faq {position:relative;width:602px;background:url(page.png) no-repeat left top}
#faq dl {float:left;width:160px;padding:20px 20px 10px 20px}
#faq dl dt {margin:0 0 20px 0;color:#006388;font-size:14px;font-weight:bold}
#faq dl dd {margin:0 0 15px 0;padding:0 0 0 10px;background:url(item.png) no-repeat 0 5px}
#faq dl dd a {text-decoration:none}
#faq dl dd a:hover {text-decoration:underline}
#faq .content {clear:both;padding:0 20px 20px 20px;background:url(page.png) no-repeat left bottom}
#faq .content h2 {padding:15px 0;border-top:1px dotted #D5D5D5;color:#ef741d;font-weight:bold;font-size:11px}
#faq .content p {margin:0 0 10px 0}
#faq .content ul {margin:10px 0}
#faq .content ul li {margin:0 0 0 5px;padding:0 0 0 12px;background:url(item-text.png) no-repeat 0 5px;_zoom:1}
#faq .content ol {margin:10px 0}
#faq .content ol li {margin:0 0 0 25px;list-style-type:decimal}
#faq .content ul ol li {margin:0 0 0 35px;padding:0;background:none}

#faq-mail {position:relative;width:602px}
#faq-mail h2 {padding:20px 20px 20px 20px;background:url(page-button.png) no-repeat left top;color:#006388;font-size:14px;font-weight:bold;text-align:center}
#faq-mail .content {padding:0 20px 20px 20px;background:url(page-button.png) no-repeat left bottom;text-align:center}
#faq-mail a.button {display:inline-block;margin:20px auto 10px auto;height:20px;background:url(button.png) no-repeat 0 0;color:white;text-decoration:none;font-weight:bold}
#faq-mail a.button span {display:inline-block;height:17px;margin:0 0 0 25px;padding:3px 15px 0 0;background:url(button.png) no-repeat 100% 0;white-space:nowrap}

#account {position:relative;width:878px;height:464px;background:url(jd-cadres-recruteurs.jpg) no-repeat left top}
#account h2 {padding:20px 25px 25px 25px;color:#EF741D;font-weight:bold;font-size:14px}
#account a {text-align:center;color:white;font-weight:bold;text-decoration:none}
#account-jd {position:absolute;left:29px;top:56px;padding:325px 65px 0 65px;width:147px;height:37px}
#account-cadres {position:absolute;left:306px;top:56px;padding:325px 75px 0 75px;width:121px;height:37px}
#account-recruteurs {position:absolute;left:577px;top:56px;padding:325px 75px 0 75px;width:121px;height:37px}

#account-text {position:relative;width:560px;height:372px;background:url(account.png) no-repeat left top}
#account-text h2 {padding:20px 25px 20px 25px;color:#EF741D;font-weight:bold;font-size:14px}
#account-text ul {padding:0 0 0 35px}
#account-text ul li {padding:3px 0 3px 20px;background:url(check.png) no-repeat 0 4px;font-weight:bold;font-size:12px;_zoom:1}
#account-text ul li em {font-weight:normal;font-style:normal}
#account-text .apecnext {position:absolute;top:211px;left:16px;width:529px}
#account-text .apecnext h2 {margin:0 0 10px 0;padding:12px 10px 8px 130px;color:white}
#account-text .apecnext ul {padding:0 0 0 12px}
#account-text .apecnext ul li {font-size:11px}
#account-text .apecnext a.arrow {position:absolute;right:15px;top:120px;padding:2px 0 3px 12px;background:url(arrow.png) no-repeat 0 3px;font-weight:bold}

#account-login {position:absolute;left:564px;top:150px;width:316px;height:372px;background:url(account-form.png) no-repeat left top}
#account-login .new {height:145px;padding:0 20px 0 20px;text-align:center}
#account-login.error .new {height:115px}
#account-login .new h2 {padding:20px 0 35px 0;color:#EF741D;font-weight:bold;font-size:14px;text-align:left}
#account-login .button-killerapp {display:inline-block;background:url(killerapp.png) no-repeat 0 -156px;color:white;text-decoration:none;font-weight:bold;~zoom:1;~width:176px}
#account-login .button-killerapp a {display:inline-block;height:20px;margin:0 0 0 25px;padding:6px 10px 0 0;background:url(killerapp.png) no-repeat 100% -156px;color:white;text-decoration:none}
#account-login .login {padding:0 20px 0 20px}
#account-login .login h2 {padding:25px 0 35px 0;border-top:1px solid #D1D1D1;color:#EF741D;font-weight:bold;font-size:14px}
#account-login.error .login h2 {padding-bottom:15px}
#account-login.error .login dl.errors {height:50px}
#account-login.error .login dl.errors dt {height:18px;padding:0 0 0 20px;background:url(alert-small.png) no-repeat left top;font-weight:bold;color:#FF0000}
#account-login.error .login dl.errors dd a {text-decoration:none;cursor:default}
#account-login .login label {display:block;margin:0 0 2px 0;font-weight:bold}
#account-login .login label em {font-style:normal;font-weight:normal}
#account-login .login span {display:block;margin:0 0 15px 0;height:20px;background:url(input.png) no-repeat left top}
#account-login.error .login span {width:90%}
#account-login.error .login span a {float:right;position:relative;left:28px;margin:-19px 0 0 2px}
#account-login .login span input {float:left;width:100%;height:17px;margin:0 0 0 3px;padding:3px 0 0 0;background:url(input.png) no-repeat right top}
#account-login .login .button {float:right;background:url(button.png) no-repeat 0 0;color:white;text-decoration:none;font-weight:bold}
#account-login .login .button a {display:inline-block;height:17px;margin:0 0 0 25px;padding:3px 10px 0 0;background:url(button.png) no-repeat 100% 0;color:white;text-decoration:none}
#account-login .login .links {padding:4px 0 0 0;font-size:9px;color:#666666;word-spacing:5px}
#account-login .login .links a {color:#666666;text-decoration:none;word-spacing:0}
#account-login .login .links a:hover {color:#EF741D;text-decoration:underline}

#page-list {position:relative;width:656px;background:url(page-list.png) no-repeat left top}
#page-list .search {height:210px}
#page-list #recherche {left:30px;top:20px}
#page-list .list {padding:0 6px 10px 6px}
#page-list .list h2 {margin:0 0 10px 0;padding:5px 15px 6px 15px;color:white;font-weight:bold;font-size:14px;background:url(page-list-header.png) repeat-x left top;_position:relative}
#page-list .list dl {padding:5px 15px 10px 15px}
#page-list .list dl dt a {display:block;font-size:14px;font-weight:bold;text-decoration:none}
#page-list .list dl dt a:hover {color:#EF741D}
#page-list .list dl dd {padding:3px 0 3px 0}
#page-list .list dl dd.breadcrumb {padding:0;color:#666666;font-size:10px}
#page-list .pagination {height:35px;padding:0 20px 0 20px;background:url(page-list.png) no-repeat left bottom;text-align:center}
#page-list .pagination a {margin:0 2px 0 0;padding:2px 5px 2px 5px;border:1px solid #C4C4C4;background:#DEDEDE;text-decoration:none;~zoom:1}
#page-list .pagination a:hover {padding:3px 6px 3px 6px;border:0;background:url(list-over.png) no-repeat left top;color:white}
#page-list .pagination a.firstItem {padding:2px 5px 2px 20px;background:#DEDEDE url(list-prev.png) no-repeat 5% 2px}
#page-list .pagination a.firstItem:hover {padding:3px 6px 3px 21px;border:0;background:url(list-over.png) no-repeat left top}
#page-list .pagination a.lastItem {padding:2px 20px 2px 5px;background:#DEDEDE url(list-next.png) no-repeat 95% 2px}
#page-list .pagination a.lastItem:hover {padding:3px 21px 3px 6px;border:0;background:url(list-over.png) no-repeat left top}
#page-list .pagination a.selectedItem {border:0;background:none;font-weight:bold;cursor:default}
#page-list .pagination a.selectedItem:hover {padding:2px 5px 2px 5px;background:none;color:black;cursor:default}
#page-list .error {height:35px;padding:0 20px 0 35px;background:url(page-list.png) no-repeat left bottom}
#page-list .error strong {display:block;font-weight:bold;color:#FF0000;font-size:12px;text-align:center}

#contact {position:relative;width:656px;background:url(page-large.png) no-repeat left top}
#contact h2 {padding:20px 25px 10px 25px;color:black;font-weight:bold;font-size:11px}
#contact .content {padding:0 25px 25px 25px;background:url(page-large.png) no-repeat left bottom}
#contact p em {display:block;margin:15px 0 10px 0;color:#666666;font-style:normal;font-size:10px}
#contact label {clear:both;float:left;display:block;width:210px;padding:3px 0 0 0;font-weight:bold}
#contact .field {width:290px;margin:0 0 0 220px}
#contact .field select {width:100%;margin:0 0 8px 0}
#contact .field span {display:block;margin:0 0 8px 0;height:20px;background:url(input.png) no-repeat left top}
#contact .field span input {float:left;width:100%;height:17px;margin:0 0 0 3px;padding:3px 0 0 0;background:url(input.png) no-repeat right top}
#contact .field.date span {display:inline-block}
#contact .field.date span input {width:auto;text-align:center}
#contact .field span.textarea {height:auto;border-bottom:1px solid #E8E8E8;background:url(textarea.png) no-repeat left top}
#contact .field span.textarea textarea {width:100%;margin:0 0 0 3px;padding:3px 0 0 0;background:url(textarea.png) no-repeat right top;overflow-y:auto}
#contact .field.field-button {text-align:center}
#contact .field.field-button .button {display:inline-block;background:url(button.png) no-repeat 0 0;font-weight:bold;~zoom:1;~width:73px}
#contact .field.field-button .button a {display:inline-block;height:17px;margin:0 0 0 25px;padding:3px 10px 0 0;background:url(button.png) no-repeat 100% 0;color:white;text-decoration:none}
#contact .styledSelect {position:relative;width:100.2%;height:18px;line-height:18px;margin:0 0 8px 0;border:1px solid #C5C4C4;background:white url(combo.png) no-repeat 100% 1px}
#contact .styledSelect ul {position:absolute;left:0;top:0;width:100%}
#contact .styledSelect ul li {padding:0 0 0 3px}
#contact .styledSelect.open ul {left:-1px;top:-1px;border:1px solid #C5C4C4;background:white url(combo.png) no-repeat 100% 1px}
#contact .styledSelect.open ul li:hover {background:#FCE6D6}
#contact .styledSelect.open ul li.first {border-bottom:1px solid #DFDEDE}
#contact .styledSelect.open ul li.first:hover {background:none}
