/**********/
/* layout */
/**********/
* {border:0 !important;background:none !important;margin:0 !important;padding:0 !important;float:none !important;color:black !important;text-align:left !important;width:auto !important;height:auto !important}
body {margin:0 !important;width:100% !important}
.content5Imb,
.content4ImbLeft, .content4ImbRight,
.content3ImbLeft, .content3ImbRight,
.content2_5ImbLeft, .content2_5ImbRight,
.content2ImbLeft, .content2ImbRight,
.content1_5ImbLeft, .content1_5ImbRight,
.content1ImbLeft, .content1ImbRight {position:static !important;float:none !important;width:100% !important}
ul {list-style-type:square !important;margin:0 !important;padding:0 !important}
ul li {padding-left:.5em !important;margin-left:1.5em !important}
input[type="text"] {display:block !important}

/**********/
/* topBar */
/**********/
#topbarre {display:none !important}
#topbarreOnglets, .boxPubliciteSky, .boxLeftMenu, #topbarreSites, #topbarre FORM, #topbarrePublicite, a.logoPub, .boxPublicite {display:none !important}
#topBar {display:none !important}
#chenillard {display:none}
h1 {margin-bottom:0.1cm !important}

/*************/
/* bottomBar */
/*************/
#bottombarre {width:100% !important;text-align:left !important;margin-top:0.5cm !important}
#bottombarre ul {display:none}
#bottombarre a {font-weight:bold !important;text-decoration:none !important}
.referencLink {display:none !important}
img.cookie {visibility:hidden}

/*************/
/* box, box2 */
/*************/
.no-print {display:none}
.box, .box2 {margin-bottom:.25cm !important;width:100% !important}
.box h2, .box2 h2 {margin-top:0.25cm !important;margin-bottom:0.25cm !important;padding-bottom:0.1cm !important;text-indent:0 !important}
a.actionPrint {display:none}
.boxDeveloppementEditorial img.imageChapo,
.box2DetailArticle .chapo img {float:left !important;margin-right:1em !important;margin-bottom:1em !important}
.boxDeveloppementEditorial h3 {margin-bottom:1.5em !important}
.box2LeftMenu {display:none}
.box2ActionsArticle {display:none}
.box2DetailArticle h3 {margin-bottom:2em !important}
.boxBenday .imageAssociee {float:right !important}
.boxBenday h3 {margin-bottom:0.25cm !important}
