﻿* {
    border: none 0;
	margin: 0;
	padding: 0;
	outline: none 0;
	vertical-align: baseline;
	font-size: inherit;
	color: inherit;
}
:focus, :hover { outline: 0; }
ol, ul, li { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left;	font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q {	quotes: "" ""; }

/* some kind of reset for fido */
.fieldBody li { list-style-type: circle; margin:0 0 10px 30px; }
.fieldBody font { color: #f00; }