ul.breadcrumb-navigation
{
	padding:0; margin:0px 0 10px 0px;
	list-style:none;
}

ul.breadcrumb-navigation li
{
	display:inline;
background:url(z1.gif) no-repeat 0% 5px;
padding:0 9px 0 13px;
border:0;
}

ul.breadcrumb-navigation a
{

}

ul.breadcrumb-navigation span
{
	
}