#navhaut, #bandeauhaut, #navprinc, #navbas, #colA, .colC, .pgactions, #access {
	display:none;
}
.corps {
	position:relative;
	margin-left:-10px;
}
.colB {
	padding-left:0;
	padding-right:120px;
	background:none;
}