.titrerub{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #395273;
	text-decoration: none;
	font-weight: normal;
}

.titrerub:link{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #395273;
	text-decoration: none;
	font-weight: normal;
}

.titrerub:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #E04B29;
	text-decoration: none;
	font-weight: normal;
}

.gpavois{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #818181;
	text-decoration: none;
	font-weight: normal;
}

.gpavois:link{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #395273;
	text-decoration: none;
	font-weight: normal;
}

.gpavois:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #E04B29;
	text-decoration: none;
	font-weight: normal;
}

.accroche{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #638AB5;
	text-decoration: none;
	font-weight: normal;
}

.accroche:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #638AB5;
	text-decoration: none;
	font-weight: normal;
}

.accroche:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #E04B29;
	text-decoration: none;
	font-weight: normal;
}
.accrochero{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #448BC1;
	text-decoration: none;
	font-weight: normal;
}

.accrochero:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #448BC1;
	text-decoration: none;
	font-weight: normal;
}

.accrochero:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0061AA;
	text-decoration: none;
	font-weight: normal;
}

select{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

input{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.titreexorose{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ff3560;
}

.titreexorose{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ff3560;
	text-decoration: none;
}

.titreexorose:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
	text-decoration: none;
}

.titreexorose:link{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ff3560;
}

.titreexobleu{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #10C4DB;
	text-decoration: none;
}

.titreexobleu:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}

.sousrubmenua{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #848484;
	text-decoration: none;
	font-weight: normal;
}

.sousrubmenua:link{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #848484;
	text-decoration: none;
	font-weight: normal;
}

.sousrubmenua:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #3B945C;
	font-weight: normal;
	text-decoration: none;
}

.recherche{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #395273;
	text-decoration: none;
}

.recherche:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #e04b29;
	text-decoration: none;
}

.heure{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #828282;
}

.titreavertis{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #e04b29;
	font-weight: normal;
	text-decoration: none;
}

.titreavertis:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
}

titreavertis:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #e04b29;
	font-weight: normal;
	text-decoration: none;
}

.chargerpdf{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #e04b29;
	font-weight: bold;
	text-decoration: none;
}
	
.titremag{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
}

.titreedito{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #395273;
	font-weight: bold;
	text-decoration: none;
}

.space{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}

.accespro{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #E04B29;
	text-decoration: none;
}

.accespro:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
	text-decoration: none;
}

.edito{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #036551;
	text-decoration: none;
}

.titre{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #395273;
	text-decoration: none;
	font-weight: normal;
}

.copyright{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ABABAB;
}

.avertissement{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #395273;
	text-decoration: none;
}

.avertissement:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #E04B29;
}

.avertissement:active{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #E04B29;
	text-decoration: none;
}

.avertissement:link{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #E04B29;
	text-decoration: none;
}

.corpstexte{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #395273;
	text-decoration: none;
}

.corpstexteb{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #395273;
	text-decoration: none;
}

.sstitrecorpstexte{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #395273;
	font-weight: bold;
}

.onzevert{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #036551;
	text-decoration: none;
	font-size: 11px;
}

.dixgrisgras{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	color: #666666;
	font-weight: bold;
}

.dixgris{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	color: #999999;
	font-weight: normal;
}

.dixgvert{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	color: #608036;
	font-weight: bold;
	line-height: normal;

}

.dixgvert:link{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #608036;
	text-decoration: none;
	font-weight: bold;
}

.dixgvert:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	color: #FFB52B;
	font-weight: bold;
}

.bleutitre{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #268A9F;
	text-decoration: none;
	font-weight: normal;
	line-height: 12px;

}

.bleutitre:link{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #268A9F;
	text-decoration: none;
	font-weight: normal;
}

.bleutitre:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #D58000;
	text-decoration: none;
	font-weight: normal;
}

.dixblanc{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	color: #999999;
	font-weight: bold;
}

.onzeblanc{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #FFFFFF;
}
