
ul				{ list-style:none; }
li 				{ list-style-type:none; } 
img 			{ border:0; }
 
/*------ Float Rules ------*/

.float-left 	{ float:left; }
.float-right 	{ float:right; }
.clear-left 	{ clear:left; }
.clear-right 	{ clear:right; }
.clear-both 	{ clear:both; }

/*------ Width Rules ------*/

.width-100 		{ width:100%; }

/*------ Margin ------*/

.margin-0 		{ margin:0; }
.margin 		{ margin:10px; }
.margin-top 	{ margin-top:10px; }
.margin-bottom 	{ margin-bottom:10px; }
.margin-right 	{ margin-right:10px; }
.margin-left 	{ margin-left:10px; }
.margin-small 	{ margin:5px; }
.margin-top-small 		{ margin-top:5px; }
.margin-bottom-small 	{ margin-bottom:5px; }
.margin-right-small 	{ margin-right:5px; }
.margin-left-small 		{ margin-left:5px; }

/*------ Padding ------*/

.padding-0 		{ padding:0; }

/*------ Text Rules ------*/

.text-bold 			{ font-weight:bold;	}
.text-error 		{ color:#ff0000; }
.text-align-left 	{ text-align:left; }
.text-align-right 	{ text-align:right; }
.text-align-center 	{ text-align:center; }
.text-italic 		{ font-style:italic; }
.text-small 		{ font-size:85%; }
.text-decoration-none 		{ text-decoration:none; }
.text-decoration-underline 	{ text-decoration:underline; }
.font-size-10 		{ font-size:10px; }
.font-size-11 		{ font-size:11px; }
.font-size-12 		{ font-size:12px; }
.font-size-13 		{ font-size:13px; }
.font-size-14 		{ font-size:14px; }

/*------ Border Rules ------*/

.border-1 		{ border-style:solid;border-width:1px; }
.border-black 	{ border:1px solid #000; }
