html{
	top:0;
}

body {
	font-family:verdana;
	margin:6px 0 0 0;
	width:auto;
	z-index:-10;
	font-size:12px;
	background-position:top center;
	/*background-color:#4c7382;*/
	background-color:#d1d9df;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/direct-8-bg.jpg');
	background-repeat:repeat-x;
}

a {
	color:#000;
}

a:hover {
	color:#223b4a;
}

.classic-link:link {
	text-decoration:none;
}

.classic-link:hover {
	text-decoration:underline;
}

.classic-link:visited {
	text-decoration:none;
}

.main_container {
	width:1005px;
	margin: 0 auto;
}

.container_body {
	float:left;
	width:1000px;
	background-color:#f3f3f4;
	margin:10px 0 0 0;
	padding:0 0 0 0;
}

/*------ Header ------*/

#header {
	
}

#header #logo {
	float:left;
	padding:30px 0 0 40px;
	border:0;
}

#header #ad {
	float:right;
}

#header #header-top {
	float:left;
	width:1000px;
	height:113px;
}

/*------ Header Menu Top ------*/

#header #menu-top {
	float:left;
	width:1000px;
	height:28px;
	margin:0;
	color:#fff;
	background-color:#000;
	font-size:12px;
	font-family:Arial,Helvetica,sans-serif;
}

#header #menu-top #account {
	float:left;
	width:264px;
	margin:0 0 0 10px; 
}

#header #menu-top #account a {
	float:left;
	color:#fff;
	margin:6px 10px 0 10px;
	text-decoration:none;
}

#header #menu-top #account a:hover {
	float:left;
	color:#fff;
	text-decoration:underline;
}

#header #menu-top #account .picto_logout {
	float:left;
	margin:2px 2px 0 0;
}

#header #menu-top .separator {
	float:left;
	width:1px;
	height:22px;
	margin:2px 0 0 0;
}

#header #menu-top #fil-info {
	float:left;
	margin:5px 8px 0 0;
}

#header #menu-top #search {
	float:right;
	margin:5px 6px 0 0;
}

#header #menu-top #search #search_keyword {
	float:right;
	width:120px;
	height:17px;
	font-size:11px;
	border:0;
}

#header #menu-top #search #search_submit {
	float:right;
	width:22px;
	height:19px;
	border:0;
}

/*------ Header Menu Nav ------*/

#header #menu {
	float:left;
	margin:0 0 0 0;
	padding:0;
	width:1000px;
	height:40px;
	background-color:#fff;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/menu-bg.gif');
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

#header #menu .home {
	width:36px;
}

#header #menu .home img {
	float:left;
	margin:10px 10px 0 10px;
}

#nav{
	float:left;
	margin:0 0 0 0;
	padding:0;
	font-weight:bold;
	letter-spacing:-.1em;
	font-size:120%;
	text-transform:uppercase;
	font-family: helvetica, sans-serif, black ;
	text-align:center;
}

#nav a {
	float:left;
	height:40px;
	text-decoration:none;
	color:#000;
	cursor:pointer;
}

#nav a:hover, #header .link-on{
	float:left;
	color:#fff;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/menu-a-bg.gif');
}

#nav a span {
	float:left;
	width:100%;
	margin:11px 0 0 0;
	text-align:center;
}

#header .link-color1:hover, #header .link-color1-on {
	color:#fff;background-image:url('http://www.direct8.fr/themes/direct8/images/background/link-bg-color-1.png');
}

#header .link-color2:hover, #header .link-color2-on {
	color:#fff;background-image:url('http://www.direct8.fr/themes/direct8/images/background/link-bg-color-2.png');
}

#header .link-color3:hover, #header .link-color3-on {
	color:#fff;background-image:url('http://www.direct8.fr/themes/direct8/images/background/link-bg-color-3.png');
}

#header .link-color4:hover, #header .link-color4-on {
	color:#fff;background-image:url('http://www.direct8.fr/themes/direct8/images/background/link-bg-color-4.png');
}

#header .link-color5:hover, #header .link-color5-on {
	color:#fff;background-image:url('http://www.direct8.fr/themes/direct8/images/background/link-bg-color-5.png');
}

#header .link-color6:hover, #header .link-color6-on {
	color:#fff;background-image:url('http://www.direct8.fr/themes/direct8/images/background/link-bg-color-6.png');
}

#header .link-color7:hover, #header .link-color7-on {
	color:#fff;background-image:url('http://www.direct8.fr/themes/direct8/images/background/link-bg-color-7.png');
}


/*------ Footer ------*/

#footer {
	float:left;
	margin:10px 0 40px 0;
	height:281px;
	width:1000px;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/footer-bg.png');
	color:#fff;
}

#footer .border {
	float:left;
	width:1px;
	height:130px;
	margin:10px 20px 10px 5px;
	border-right:1px solid #999999;
}

#footer ul {
	float:left;
	width:150px;
	list-style-type: none;
	padding:0 0 0 0;
	margin:35px 0 0 60px;
}

#footer .ulSmall {
	float:left;
	width:150px;
	list-style-type: none;
	padding:0 0 0 0;
	margin:35px 0 0 80px;
}

#footer li {
	font-size:100%;
	margin:0 0 8px 0;
	text-align:left;
}

#footer a {
	color:#fff;
	text-decoration:none;
}

#footer a:hover {
	text-decoration:underline;
}

#footer #logo {
	text-align:right;
	font-size:80%;
	margin:30px 82px 0 0;
}

/*------ Cols ------*/

.col1000 {
	float:left;
	width:1000px;
}

.col810 {
	float:left;
	width:818px;
}

.col780 {
	float:left;
	width:798px;
}

.col680 {
	float:left;
	width:690px;
}

.col540 {
	float:left;
	width:538px;
}

.col500 {
	float:left;
	width:507px;
}

.col495 {
	float:left;
	width:495px;
}

.col340 {
	float:left;
	width:338px;
}

.col300 {
	float:left;
	width:300px;
}

.col250 {
	float:left;
	width:250px;
}

.col190 {
	float:left;
	width:190px;
}

.col170 {
	float:left;
	width:170px;
}

.colMargin {
	margin:0 0 0 10px;
}

.col170Color {
	float:left;
	width:190px;
	background-color:#c0c0c0;
	padding:0 0 10px 0;
}

.col170Inner {
	float:left;
	width:170px;
	margin:0 10px 0 10px;
}

/*------ Colors ------*/

.color_blue {
	color:#2487bb;
}

/*------ Content ------*/

.contentAutopromo {
	float:left;
	width:100%;
	margin:10px 0 0 0;
	background-color:#fff;
	border:1px solid #e0e0e0;
}

.contentAutopromoSmall {
	float:left;
	width:100%;
	margin:5px 0 0 0;
	background-color:#fff;
	border:1px solid #e0e0e0;
}

.content {
	float:left;
	width:100%;
	margin:10px 0 0 0;
	background-color:#fff;
	border:1px solid #e0e0e0;
}

.content p {
	margin:10px 0 10px 0;
}

.contentSmall {
	float:left;
	width:100%;
	margin:5px 0 0 0;
	padding:0;
}

.contentSmall img {
	margin:0;
	padding:0;
}

.contentAlt {
	float:left;
	width:100%;
	margin:10px 1px 0 1px;
}

.content .contentHeader {
	width:auto;
	height:36px;
	padding:0;
	color:#2487bb;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/content-title-bg.jpg');
}
.content .contentHeaderColor {
	width:auto;
	height:36px;
	padding:0;
	color:#fff;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/content-title-color-bg.jpg');
}

.contentTitle {
	float:left;
	width:100%;
	margin:10px 0 0 0;
}

.contentTitle h2 {
	float:left;
	margin:0;
	font-size:14px;
	height:58px;
	padding:0;
	font-family: helvetica, sans-serif, black ;
	font-stretch :condensed;
	letter-spacing:-.1em;
}


.no-border {
	border:1px solid #fff;
}

.content h2 {
	float:left;
	font-size:14px;
	margin:10px 0 0 10px;
	padding:0;
	color:#2487bb;
	font-family: helvetica, sans-serif, black ;
	font-stretch :condensed;
	letter-spacing:-.1em;
	text-transform:uppercase;
}


.col170 .comma {
	position:relative;
	top:26px;
	right:100px;
	margin:0;
}

.col190 .comma {
	position:relative;
	top:26px;
	right:100px;
	margin:0;
}

.col300 .comma {
	position:relative;
	top:26px;
	right:220px;
	margin:0;
}

.col340 .comma {
	position:relative;
	top:26px;
	right:230px;
	margin:0;
}

.col500 .comma {
	position:relative;
	top:26px;
	right:400px;
	margin:0;
}

.col680 .comma {
	position:relative;
	top:26px;
	right:580px;
	margin:0;
}

.col780 .comma {
	position:relative;
	top:26px;
	right:700px;
	margin:0;
}

.col1000 .comma {
	position:relative;
	top:26px;
	right:890px;
	margin:0;
}

.content .contentHeader img,
.content .contentHeaderColor img {
	float:right;
	margin:10px 10px 0 0;
}

.content .contentHeader .rss,
.content .contentHeaderColor .rss {
	float:right;
	margin:0 -20px 0 0;
}

.content .color {
	color:#2d4a5c;
	background-color:#e7e8e9;
}

.content .colorAlt {
	color:#2d4a5c;
	background-color:#e7e8e9;
}

.content .contentBody {
	float:left;
	text-align:left;
	width:auto;
	margin:0 10px 0 10px;
	font-size:100%;
}


.content .contentBody h3 {
	margin:7px 0 7px 0;
	font-size:100%;
	text-transform:capitalize;
}

.content .contentCol {
	float:left;
}

.content .contentCol h3 {
	margin:7px 0 7px 0;
	font-size:100%;
	text-transform:capitalize;
}

.content .contentCol span {
	font-size:100%;
}

.content .contentCol a {
	text-decoration:none;
	color:#000;
}

.content .contentCol a:hover {
	color:#8a0000;
}

.content .contentCol .link {
	float:right;
	width:auto;
	text-align:right;
	font-size:100%;
	margin:2px 0 0 0;
	text-decoration:underline;
	text-transform:lowercase;
}

.content .contentCol img {
	float:right;
	margin:2px 3px 0 0;
}

.content .contentFooter {
	clear:left;
	width:auto;
	height:18px;
	padding:0;
	font-size:11px;
	text-align:right;
	overflow:hidden;
	margin:5px 10px 0 10px;
	padding:2px 0 0 0;
}

.content .contentFooter img {
	float:right;
	margin:2px 3px 0 0;
}

.content .contentFooter a {
	float:right;
	margin:1px 0 0 0;
}

.form-separator {
	clear:left;
	width:100%;
}


/*------ Program ------*/


.program-header {
	width:auto;
	height:36px;
	padding:0;
	color:#2d4a5c;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/content-title-bg.jpg');
}

.program-header h2 {
	float:left;
	font-size:14px;
	margin:10px 0 0 10px;
	padding:0;
	color:#2487bb;
	font-family: helvetica, sans-serif, black ;
	font-stretch :condensed;
	letter-spacing:-.1em;
	text-transform:uppercase;
}

.program-header .comma {
	position:relative;
	top:36px;
	right:190px;
	margin:0;
}

.program-header img {
	float:right;
}


/*------ Service ------*/

#ad-newspaper {
	float:left;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/autopromo-newspapers-bg-170.gif');
	background-repeat:no-repeat;
	background-color:#258fc1;
	width:170px;
	height:196px;
	text-align:left;
	margin:-2px 0 0 0;
	overflow:hidden;
}

#ad-newspaper .newspaper1 {
	float:left;
	margin:10px 0 0 15px;
}

#ad-newspaper .newspaper2 {
	float:left;
	margin:-120px 0 0 50px;
}

#ad-blogs {
	float:left;
	text-align:center;
	width:170px;;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/blogs-services-bg.gif');
	background-color:#919ca1;
}

#ad-blogs a {
	cursor:pointer;
	text-decoration:none;
}

#ad-blogs div {
	margin:20px 0 0 0;
}

#ad-blogs p {
	/*border:1px solid #ff7200;*/
	width:125px;
	height:92px;
	/*background-color:#ff7200;*/
	margin:0 0 10px 20px;
}

#ad-blogs span {
	margin:0;
	padding:0;
	font-size:11px;
	font-weight:normal;
	color:#fff;
}

/* *********** GRID ********* */

.program_grid {
	font-size:11px;
	text-align:left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.program_grid .grid {
	float:left;
	width:141px;
	border-left:1px solid #fff;
}

.program_grid .title {
	float:left;
	width:141px;
	border-left:1px solid #fff;
	text-align:center;
	text-transform:upercase;
	font-size:20px;
	margin:0 0 3px 0;
	color:#2487bb;
	font-weight:bold;
}

.program_grid .prime1 {
	float:left;
	width:141px;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/grid-bg-1.gif');
}

.program_grid .program1 {
	float:left;
	width:141px;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/grid-bg-1-long.gif');
	background-color:#c7d4d9;
	background-repeat:no-repeat;
}

.program_grid .prime2 {
	float:left;
	width:141px;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/grid-bg-2.gif');
}

.program_grid .program2 {
	float:left;
	width:141px;
	background-image:url('http://www.direct8.fr/themes/direct8/images/background/grid-bg-2-long.gif');
	background-color:#f1f8f8;
	background-repeat:no-repeat;
}

.program_grid a {
	text-decoration:none;
}




/* ***********  Form ********** */

.error {
	list-style:none;
	color:#ff0000;
}

.errors {
	float:left;
	padding:0;
	margin:0;
	list-style:none;
	color:#ff0000;
	font-size:11px;
}

form input, form textarea {
	border:1px solid #000;
}

form dd, form dt, form ul {
	float:left;
	margin:0;
	padding:0;
}

form .contentRadio label {
	float:left;
	width:auto;
	font-weight:normal;
}

form .contentRadio input {
	float:left;
	width:auto;
}

.formCheckbox input {
	border:0;
}

.formRadio input {
	border:0;
}

.formSurvey {
	float:left;
	margin:10px;
	padding:0;
	font-size:12px;
	text-align:left;
}

.formSurvey label {
	float:left;
	padding:0;
	margin:0 15px 5px 15px;
}

.formSurvey .form-separator {
	float:left;
	margin:0;
	padding:0;
}

.formSurvey .formLabel {
	float:left;
	width:100%;
	font-size:12px;
	font-weight:bold;
	margin:0 0 15px 0;
}

.formSurvey .contentRadio  {
	float:left;
	width:240px;
}

.formSurvey .contentRadio label {
	float:left;
	width:240px;
}

.formSurvey .formRadio input {
	float:left;
	width:auto;
	margin:2px 2px 0 0;
}

.formSurvey .formSubmit input {
	float:right;
	margin:10px 0 0 30px;
	width:71px;
	height:28px;
	border:0;
	cursor:pointer;
	background-image:url('http://www.direct8.fr/themes/direct8/images/picto/picto-voter.png');
}

.formSurvey .linkResult {
	float:right;
	width:100%;
	text-align:right;
	margin:10px 10px 0 0;
}

#formComment {
	
}

#formComment input {
	width:300px;
}

#formComment li {
	float:left;
	width:100%;
	margin:0 0 10px 0;
}

#formComment label {
	float:left;
	width:100px;
	font-weight:bold;
}

#formComment .formSubmit {
	margin:0 0 0 100px;
}

#formComment .formSubmit input {
	width:80px;
}




#connectionForm {
	float:left;
	margin:10px 0 10px 0;
	text-align:left;
}

#connectionForm li {
	width:100%;
	margin:0 0 10px 0;
}

#connectionForm label {
	float:left;
	width:100px;
	font-weight:bold;
}

#connectionForm .formSubmit {
	margin:0 0 0 100px;
}






#formAccount {
	float:left;
	width:600px;
	margin:0 0 10px 0;
	text-align:left;
}

#formAccount ul {
	margin:0 0 0 0;
}

#formAccount li {
	float:left;
	width:600px;
	margin:0 0 10px 0;
	height:26px;
}

#connectionForm label {
	float:left;
	width:100px;
}

#formAccount li label {
	float:left;
	width:250px;
	font-weight:bold;
}

#formAccount .errors  {
	margin:0 0 0 300px;
}

#formAccount .contentRadio label {
	float:left;
	width:auto;
	font-weight:normal;
}

#formAccount .contentRadio input {
	float:left;
}

#formAccount input {
	float:left;
}

#formAccount .formSubmit {
	float:left;
	height:50px;
}

#formAccount .formSubmit input {
	float:left;
	width:160px;
	margin:10px 0 0 220px;
}

#formAccount .formCaptcha {
	float:left;
	height:66px;
}

#formAccount .formCaptcha p {
	float:left;
	margin:10px 0 0 300px;
}






#formAccountInscription {
	float:left;
	width:600px;
	margin:0 0 10px 0;
	text-align:left;
}

#formAccountInscription li {
	float:left;
	width:100%;
	margin:0 0 10px 0;
	height:26px;
}

#connectionForm label {
	float:left;
	width:100px;
}

#formAccountInscription li label {
	float:left;
	width:300px;
	font-weight:bold;
}

#formAccountInscription .errors  {
	margin:0 0 0 300px;
}

#formAccountInscription .contentRadio label {
	float:left;
	width:auto;
	font-weight:normal;
}

#formAccountInscription .contentRadio input {
	float:left;
}

#formAccountInscription input {
	float:left;
}

#formAccountInscription .formSubmit {
	float:left;
	
}

#formAccountInscription .formSubmit input {
	float:left;
	width:160px;
	margin:20px 0 0 220px;
}

#formAccountInscription .formCaptcha {
	float:left;
	height:66px;
}

#formAccountInscription .formCaptcha p {
	float:left;
	margin:10px 0 0 300px;
}







#formContact {
	float:left;
	margin:0 0 10px 0;
	text-align:left;
}

#formContact li {
	float:left;
	width:100%;
	margin:0 0 10px 0;
	height:26px;
}

#formContact li label {
	float:left;
	width:300px;
	font-weight:bold;
}

#formContact .errors  {
	margin:0 0 0 300px;
}

#formContact .contentRadio label {
	float:left;
	width:auto;
	font-weight:normal;
}

#formContact .contentRadio input {
	float:left;
}

#formContact input {
	float:left;
}

#formContact .formTextarea {
	float:left;
	height:150px;
}

#formContact textarea {
	float:left;
	width:330px;
	height:140px;
}

#formContact .formSubmit {
	float:left;
}

#formContact .formSubmit input {
	float:left;
	width:160px;
	margin:20px 0 0 260px;
}

#formContact .formCaptcha {
	float:left;
	height:66px;
}

#formContact .formCaptcha p {
	float:left;
	margin:10px 0 0 300px;
}
