/* CSS Document */

	body{
		margin:0;
		padding:0;
		font-family:verdana;
		font-size:12px;
		color:#231f20;
	}
	
	a img{
		border:0;
	}
	
	.clear{
		clear:both;
		height:1px;
	}
	
	form{
		margin:0;
		padding:0;
	}
	
	#global{
		margin:auto;
		width:630px;
		background-color:#fff;
	}
	
	#entete{
		width:630px;
	}
	
	#logo{
		width:179px;
		margin:auto;
		padding:5px 0 0 7px;
	}
	
	#titrePage{
		width:630px;
		margin:30px 0 0 0;
		font-size:200%;
		font-weight:bold;
		text-decoration:underline;
	}
	
	.titrePageBleu{
		color:#0072ba;
	}
	
	.titrePageOrange{
		color:#d38c00;
	}
	
	.titrePageVert{
		color:#369829;
	}
	
	#gauche{
		display:none;
	}
	
	#droite{
		float:left;
		width:630px;
		margin:15px 0 0 0;
	}
	
	#imprimer{
		display:none;
	}
	
	#accueilGauche{
		float:left;
		width:250px;
		padding:0 20px 0 30px;
	}
	
	#accueilGauche h1, #accueilDroite h1{
		font-size:140%;
		font-weight:bold;
		color:#007ac2;
		margin:20px 0 0 0;
		padding:13px 0 0 37px;
		height:21px;
		background-image:url(picto-titre-bleu.gif);
		background-repeat:no-repeat;
	}
	
	#accueilGauche h2, #accueilDroite h2{
		font-size:110%;
		font-weight:bold;
		margin:15px 0 6px 0;
	}
	
	#accueilGauche p, #accueilDroite p{
		margin:0 0 10px 0;
		font-size:90%;
	}
	
	#accueilGauche a, #accueilDroite a{
		color:#007ac2;
		text-decoration:none;
	}
	
	#accueilGauche a:hover, #accueilDroite a:hover{
		text-decoration:underline;
	}
	
	.separateur{
		border-bottom:1px dotted #007ac2;
		height:8px;
	}
	
	#accueilDroite{
		float:left;
		width:264px;
		padding:0 0 0 12px;
	}
	
	#contenuAccueilDroite{
		width:254px;
	}
	
	#nouveauCatalogue{
		text-align:center;
	}
	
	#pied{
		width:630px;
		margin:30px 0 0 0;
	}
	
	.piedBleu{
		
	}
	
	.piedVert{
		
	}
	
	.piedOrange{
		
	}
	
	#piedGauche{
		display:none;
	}
	
	#piedCentre{
		float:left;
		width:200px;
		padding:11px 0 0 0;
		color:#000;
	}
	
	#piedCentre p{
		margin:0;
	}
	
	#piedCentre a{
		color:#000;
		text-decoration:underline;
	}
	
	#accesPlan{
		margin:10px 0 0 0;
	}
	
	#piedDroite{
		float:left;
		width:349px;
		font-size:75%;
		color:#000;
		padding:11px 0 4px 0;
	}
	
	#piedDroite p{
		margin:0 0 7px 0;
	}
	
	#piedDroite a{
		color:#000;
		text-decoration:underline;
	}
	
	#piedDroite a.idweb{
		color:#000;
		font-weight:bold;
		font-size:110%;
		text-decoration:none;
	}
	
	#piedDroite a:hover.idweb{
		text-decoration:underline;
	}
	
	#texteAnimation{
		float:left;
		width:250px;
		padding:0 20px 0 30px;
	}
	
	#texteAnimation h3{
		font-size:110%;
		font-weight:bold;
		margin:20px 0 3px 0;
		padding:0;
	}

	#texteAnimation h3.titreAnimationBleu{
		color:#007ac2;
	}
	
	#texteAnimation h3.titreAnimationOrange{
		color:#d18316;
	}
	
	#texteAnimation h3.titreAnimationVert{
		color:#48a942;
	}
	
	#texteAnimation p{
		margin:0 0 5px 0;
		padding:0;
	}
	
	#pasInfo{
		font-size:80%;
		padding:4px 0 0 0;
	}
	
	.pasInfoBleu{
		color:#007ac2;
	}
	
	.pasInfoBleu a{
		color:#007ac2;
		text-de coration:underline;
		font-weight:bold;
	}
	
	.pasInfoOrange{
		color:#d18316;
	}
	
	.pasInfoOrange a{
		color:#d18316;
		text-de coration:underline;
		font-weight:bold;
	}
	
	.pasInfoVert{
		color:#48a942;
	}
	
	.pasInfoVert a{
		color:#48a942;
		text-de coration:underline;
		font-weight:bold;
	}
	
	#animation{
		float:left;
		width:276px;
		text-align:right;
	}
