/* ---------------------- */
/* --- CAROUSEL TEASER FLASH --- */
/* ---------------------- */

/* VISEOS */

#videos #wrapper .main_ctnt .main_top .carousel
{

	background:url(http://www.gulli.fr/design/gulli/images/videos/bg_carousel.png) top left no-repeat; 
}

#videos #wrapper .main_ctnt .main_top .carousel li a
{
	background:url(http://www.gulli.fr/design/gulli/images/videos/bg_li_carouselOFF.png) top left no-repeat;
	_background:none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/design/gulli/images/videos/bg_li_carouselOFF.png', sizingMethod='crop');
}

#videos #wrapper .main_ctnt .main_top .carousel li a:hover
{
	background:url(http://www.gulli.fr/design/gulli/images/videos/bg_li_carouselON.png) top left no-repeat;
			_background:none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/design/gulli/images/videos/bg_li_carouselON.png', sizingMethod='crop');
}

#videos .jcarousel-skin-carrousel1 .jcarousel-next-horizontal
{
	background: transparent url(http://www.gulli.fr/extension/lajavascript/design/gulli/stylesheets/jquery/jcarousel/skins/carrousel1/next-horizontal-videos.png) no-repeat 0 0;
}

#videos .jcarousel-skin-carrousel1 .jcarousel-prev-horizontal
{
	background: transparent url(http://www.gulli.fr/extension/lajavascript/design/gulli/stylesheets/jquery/jcarousel/skins/carrousel1/prev-horizontal-videos.png) no-repeat 0 0;
}

/* GULLIPEDIA */

#gullipedia #wrapper .main_ctnt .main_top .carousel
{

	background:url(http://www.gulli.fr/design/gulli/images/gullipedia/bg_carousel.png) top left no-repeat; 
}

#gullipedia #wrapper .main_ctnt .main_top .carousel li a
{
	background:url(http://www.gulli.fr/design/gulli/images/gullipedia/bg_li_carouselOFF.png) top left no-repeat;
	_background:none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/design/gulli/images/gullipedia/bg_li_carouselOFF.png', sizingMethod='crop');
}

#gullipedia #wrapper .main_ctnt .main_top .carousel li a:hover
{
	background:url(http://www.gulli.fr/design/gulli/images/gullipedia/bg_li_carouselON.png) top left no-repeat;
			_background:none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/design/gulli/images/gullipedia/bg_li_carouselON.png', sizingMethod='crop');
}

#gullipedia .jcarousel-skin-carrousel1 .jcarousel-next-horizontal
{
	background: transparent url(http://www.gulli.fr/extension/lajavascript/design/gulli/stylesheets/jquery/jcarousel/skins/carrousel1/next-horizontal-gullipedia.png) no-repeat 0 0;
}

#gullipedia .jcarousel-skin-carrousel1 .jcarousel-prev-horizontal
{
	background: transparent url(http://www.gulli.fr/extension/lajavascript/design/gulli/stylesheets/jquery/jcarousel/skins/carrousel1/prev-horizontal-gullipedia.png) no-repeat 0 0;
}

/* HOME */

#home #wrapper .main_ctnt .main_top .carousel
{

	background:url(http://www.gulli.fr/design/gulli/images/bg_carousel.png) top left no-repeat; 
}

#home #wrapper .main_ctnt .main_top .carousel li a
{
	background:url(http://www.gulli.fr/design/gulli//images/bg_li_carouselOFF.png) top left no-repeat;
	_background:none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/design/gulli/images/bg_li_carouselOFF.png', sizingMethod='crop');
}

#home #wrapper .main_ctnt .main_top .carousel li a:hover
{
	background:url(http://www.gulli.fr/design/gulli//images/bg_li_carouselON.png) top left no-repeat;
			_background:none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/design/gulli/images/bg_li_carouselON.png', sizingMethod='crop');
}

#home .jcarousel-skin-carrousel1 .jcarousel-next-horizontal
{
	background: transparent url(http://www.gulli.fr/extension/lajavascript/design/gulli/stylesheets/jquery/jcarousel/skins/carrousel1/next-horizontal-home.png) no-repeat 0 0;
}

#home .jcarousel-skin-carrousel1 .jcarousel-prev-horizontal
{
	background: transparent url(http://www.gulli.fr/extension/lajavascript/design/gulli/stylesheets/jquery/jcarousel/skins/carrousel1/prev-horizontal-home.png) no-repeat 0 0;
}


/* TELE */


#tele #wrapper .main_ctnt .main_top .carousel
{

	background:url(http://www.gulli.fr/design/gulli/images/tele/bg_carousel.png) top left no-repeat; 
}

#tele #wrapper .main_ctnt .main_top .carousel li a
{
	background:url(http://www.gulli.fr/design/gulli/images/tele/bg_li_carouselOFF.png) top left no-repeat;
	_background:none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/design/gulli/images/tele/bg_li_carouselOFF.png', sizingMethod='crop');
}

#tele #wrapper .main_ctnt .main_top .carousel li a:hover
{
	background:url(http://www.gulli.fr/design/gulli/images/tele/bg_li_carouselON.png) top left no-repeat;
			_background:none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/design/gulli/images/tele/bg_li_carouselON.png', sizingMethod='crop');
}

#tele .jcarousel-skin-carrousel1 .jcarousel-next-horizontal
{
	background: transparent url(http://www.gulli.fr/extension/lajavascript/design/gulli/stylesheets/jquery/jcarousel/skins/carrousel1/next-horizontal-tele.png) no-repeat 0 0;
}

#tele .jcarousel-skin-carrousel1 .jcarousel-prev-horizontal
{
	background: transparent url(http://www.gulli.fr/extension/lajavascript/design/gulli/stylesheets/jquery/jcarousel/skins/carrousel1/prev-horizontal-tele.png) no-repeat 0 0;
}
/* JEUX */

#jeux #wrapper .main_ctnt .main_top .carousel
{
	background:url(http://www.gulli.fr/design/gulli/images/bg_carousel.png) top left no-repeat; 
}

#jeux #wrapper .main_ctnt .main_top .carousel li a
{
	background:url(http://www.gulli.fr/design/gulli/images/bg_li_carouselOFF.png) top left no-repeat;
	_background:none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/design/gulli/images/bg_li_carouselOFF.png', sizingMethod='crop');
}

#jeux #wrapper .main_ctnt .main_top .carousel li a:hover
{
	background:url(http://www.gulli.fr/design/gulli/images/bg_li_carouselON.png) top left no-repeat;
	_background:none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/design/gulli/images/bg_li_carouselON.png', sizingMethod='crop');
}

#jeux .jcarousel-skin-carrousel1 .jcarousel-next-horizontal
{
    background: transparent url(http://www.gulli.fr/extension/lajavascript/design/gulli/stylesheets/jquery/jcarousel/skins/carrousel1/next-horizontal.png) no-repeat 0 0;
}

#jeux .jcarousel-skin-carrousel1 .jcarousel-prev-horizontal
{
    background: transparent url(http://www.gulli.fr/extension/lajavascript/design/gulli/stylesheets/jquery/jcarousel/skins/carrousel1/prev-horizontal.png) no-repeat 0 0;
}

/* COMMUNS */

#wrapper .main_ctnt .main_top .carousel
{
	display:block;
	float:left;
	height:61px;
	margin:0;
	padding:0;
	width:432px;
}

#wrapper .main_ctnt .main_top .carousel ul
{
    float:left;
	width:375px;
	height:61px;
	display:block;
	margin:0;
	padding:0 0 0 0;
}

#wrapper .main_ctnt .main_top .carousel li 
{
    float:left;
	width:75px;
	height:61px;
	display:block;
	margin:0;
	padding:0 0 0 0; 
	display:inline;
	list-style-type:none;position:relative;
}

#wrapper .main_ctnt .main_top .carousel li a img
{
    float:left;
	width:60px;
	height:44px;
	display:block;
	padding:9px 0 0 8px;
}

#wrapper .main_ctnt .main_top .carousel li a
{
	float:left;
	width:75px;
	height:61px;
	display:block;

}

#wrapper .main_ctnt .main_top .carousel li a:hover
{
    background:red;
	float:left;
	width:75px;
	height:61px;
	display:block;
}



/* JCAROUSEL */


.jcarousel-skin-carrousel1 .jcarousel-container {

}

.jcarousel-skin-carrousel1 .jcarousel-container-horizontal {
    width: 375px;
    padding: 1px 29px;
}

.jcarousel-skin-carrousel1 .jcarousel-clip-horizontal {
    width:  375px;
    height: 61px;
}


.jcarousel-skin-carrousel1 .jcarousel-item {
    width: 58px;
    height: 44px;
}

.jcarousel-skin-carrousel1 .jcarousel-item-horizontal {
    margin-right: 10px;
}

.jcarousel-skin-carrousel1 .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-carrousel1 .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
#jeux .jcarousel-skin-carrousel1 .jcarousel-next-horizontal,
#tele .jcarousel-skin-carrousel1 .jcarousel-next-horizontal,
#home .jcarousel-skin-carrousel1 .jcarousel-next-horizontal,
#gullipedia .jcarousel-skin-carrousel1 .jcarousel-next-horizontal,
#videos .jcarousel-skin-carrousel1 .jcarousel-next-horizontal
{
    position: absolute;
    top: 0px;
    right: 0;
    width: 29px;
    height: 61px;
    cursor: pointer;
}

#jeux .jcarousel-skin-carrousel1 .jcarousel-next-horizontal:hover,
#tele .jcarousel-skin-carrousel1 .jcarousel-next-horizontal:hover,
#home .jcarousel-skin-carrousel1 .jcarousel-next-horizontal:hover,
#gullipedia .jcarousel-skin-carrousel1 .jcarousel-next-horizontal:hover,
#videos .jcarousel-skin-carrousel1 .jcarousel-next-horizontal:hover
{
    background-position: -29px 0;
}

#jeux .jcarousel-skin-carrousel1 .jcarousel-next-horizontal:active,
#tele .jcarousel-skin-carrousel1 .jcarousel-next-horizontal:active,
#home .jcarousel-skin-carrousel1 .jcarousel-next-horizontal:active,
#gullipedia .jcarousel-skin-carrousel1 .jcarousel-next-horizontal:active,
#videos .jcarousel-skin-carrousel1 .jcarousel-next-horizontal:active
{
    background-position: -58px 0;
}

#jeux .jcarousel-skin-carrousel1 .jcarousel-next-disabled-horizontal,
#jeux .jcarousel-skin-carrousel1 .jcarousel-next-disabled-horizontal:hover,
#jeux .jcarousel-skin-carrousel1 .jcarousel-next-disabled-horizontal:active,

#tele .jcarousel-skin-carrousel1 .jcarousel-next-disabled-horizontal,
#tele .jcarousel-skin-carrousel1 .jcarousel-next-disabled-horizontal:hover,
#tele .jcarousel-skin-carrousel1 .jcarousel-next-disabled-horizontal:active,

#home .jcarousel-skin-carrousel1 .jcarousel-next-disabled-horizontal,
#home .jcarousel-skin-carrousel1 .jcarousel-next-disabled-horizontal:hover,
#home .jcarousel-skin-carrousel1 .jcarousel-next-disabled-horizontal:active,

#gullipedia .jcarousel-skin-carrousel1 .jcarousel-next-disabled-horizontal,
#gullipedia .jcarousel-skin-carrousel1 .jcarousel-next-disabled-horizontal:hover,
#gullipedia .jcarousel-skin-carrousel1 .jcarousel-next-disabled-horizontal:active,

#videos .jcarousel-skin-carrousel1 .jcarousel-next-disabled-horizontal,
#videos .jcarousel-skin-carrousel1 .jcarousel-next-disabled-horizontal:hover,
#videos .jcarousel-skin-carrousel1 .jcarousel-next-disabled-horizontal:active
{
    cursor: default;
    background-position: -87px 0;
}

#jeux .jcarousel-skin-carrousel1 .jcarousel-prev-horizontal,
#tele .jcarousel-skin-carrousel1 .jcarousel-prev-horizontal,
#home .jcarousel-skin-carrousel1 .jcarousel-prev-horizontal,
#gullipedia .jcarousel-skin-carrousel1 .jcarousel-prev-horizontal,
#videos .jcarousel-skin-carrousel1 .jcarousel-prev-horizontal
 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 29px;
    height: 61px;
    cursor: pointer;
}

#jeux .jcarousel-skin-carrousel1 .jcarousel-prev-horizontal:hover,
#tele .jcarousel-skin-carrousel1 .jcarousel-prev-horizontal:hover,
#home .jcarousel-skin-carrousel1 .jcarousel-prev-horizontal:hover,
#gullipedia .jcarousel-skin-carrousel1 .jcarousel-prev-horizontal:hover,
#videos .jcarousel-skin-carrousel1 .jcarousel-prev-horizontal:hover
{
    background-position: -29px 0;
}

#jeux .jcarousel-skin-carrousel1 .jcarousel-prev-horizontal:active,
#tele .jcarousel-skin-carrousel1 .jcarousel-prev-horizontal:active,
#home .jcarousel-skin-carrousel1 .jcarousel-prev-horizontal:active,
#gullipedia .jcarousel-skin-carrousel1 .jcarousel-prev-horizontal:active,
#videos .jcarousel-skin-carrousel1 .jcarousel-prev-horizontal:active
{
    background-position: -58px 0;
}

#jeux .jcarousel-skin-carrousel1 .jcarousel-prev-disabled-horizontal,
#jeux .jcarousel-skin-carrousel1 .jcarousel-prev-disabled-horizontal:hover,
#jeux .jcarousel-skin-carrousel1 .jcarousel-prev-disabled-horizontal:active,

#tele .jcarousel-skin-carrousel1 .jcarousel-prev-disabled-horizontal,
#tele .jcarousel-skin-carrousel1 .jcarousel-prev-disabled-horizontal:hover,
#tele .jcarousel-skin-carrousel1 .jcarousel-prev-disabled-horizontal:active,

#home .jcarousel-skin-carrousel1 .jcarousel-prev-disabled-horizontal,
#home .jcarousel-skin-carrousel1 .jcarousel-prev-disabled-horizontal:hover,
#home .jcarousel-skin-carrousel1 .jcarousel-prev-disabled-horizontal:active,

#gullipedia .jcarousel-skin-carrousel1 .jcarousel-prev-disabled-horizontal,
#gullipedia .jcarousel-skin-carrousel1 .jcarousel-prev-disabled-horizontal:hover,
#gullipedia .jcarousel-skin-carrousel1 .jcarousel-prev-disabled-horizontal:active ,

#videos .jcarousel-skin-carrousel1 .jcarousel-prev-disabled-horizontal,
#videos .jcarousel-skin-carrousel1 .jcarousel-prev-disabled-horizontal:hover,
#videos .jcarousel-skin-carrousel1 .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -87px 0;
}
