@charset "utf-8";
	/* -------------------------------------------------------------------------------------------------------- */
	/* CSS de l'espace Agenda */
	/* -------------------------------------------------------------------------------------------------------- */
	
	div#espaceAgenda {
		position: relative;
		
		float: left;
		
		width: 271px;
		height: auto !important;
		min-height: 218px !important;
		height: 218px;
		
		margin: 0 0 11px 5px;
		border: 1px solid #000;
		
		font-size: inherit;
		
		background-color: #959595;
	 }

	div#espaceAgenda * {
		margin: 0;
		padding: 0;
		/*border: none;*/
		
		font-size: inherit;
	 }

	div#espaceAgenda h2 {
		width: 271px;
		height: 27px;
		
		font-size: 1em;
		line-height: 1em;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/EspaceAgenda/Img_Agenda_Titre.jpg);
	}

	div#espaceAgenda a.iconeFluxRSS {
		position: absolute;
		top: 4px;
		right: 0;
		
		width: 200px;
		height: 14px;
		
		padding: 0 10px 0 0;
		
		font-size: 0.75em;
		
		color: #FF6A00;
		
		text-align: right;
		text-decoration: none;
	}
	
	div#espaceAgenda a.iconeFluxRSS strong {
		font-size: inherit;
		font-weight: normal;
		color: #FFA600;
	}
	
	div#espaceAgenda a.iconeFluxRSS:hover {
		text-decoration: none !important;
		text-decoration: underline;
	}
	
	div#espaceAgenda a.iconeFluxRSS:hover strong {
		text-decoration: underline;
	}
	
	div#espaceAgenda a.iconeFluxRSS img {
		position: relative;
		top: 1px;
		left: 0;
		
		margin: 0 0 0 5px;
	}
	
	
	/* -------------------------------------------------------------------------------------------------------- */
	/* CSS du calendrier */
	/* -------------------------------------------------------------------------------------------------------- */

	div#espaceAgendaLeCalendrier {
		width: 260px;	
			
		height: auto !important;
		min-height: 109px !important;
		height: 109px;

		padding: 5px 0 0 11px;
		
		background-color: #E8E8E8;
	}
	
	div#espaceAgendaLeCalendrier * {
		font-size: inherit;
	}
	
	table#leCalendrier{
		margin: 0;
		padding: 0;
	}
	
	table#leCalendrier tr {
	}
	
	table#leCalendrier td {
		width: 35px;
		height: 15px;
		line-height: 15px;
		
		margin: 0;
		padding: 0;
		
		color: #000;
		
		overflow: visible;
	}
	
	table#leCalendrier td.calendarHeader1 {
		vertical-align: top;
		height: 16px;
		
		font-size: 0.8em;
		font-weight: bold;
	}
	
	table#leCalendrier td.calendarDays1 {
	}
	
	table#leCalendrier td.calendarHL1 {
	}
	
	table#leCalendrier td.calendarTodayEspace {
	}
	
	table#leCalendrier td.calendarToday1 {
	}
	
	table#leCalendrier td.fondBlanc a {
		display: block;
		
		width: 17px;
		height: 15px;
		
		line-height: 15px;
		
		background-color: #FFF;
	}
	
	table#leCalendrier td.orange a {
		font-weight: bold;
		color: #F47C11;
	}
	table#leCalendrier td{
                font-size: 0.80em;
        }
	
	table#leCalendrier td a {
		color: #000;
		
		font-weight:bold;
		line-height: 1em;
		
		text-decoration: none;
	}
	
	div#espaceAgendaLeCalendrier div.calendarDays1 {
		padding: 0 26px 0 0;
		
		color: #000;
		
		font-size: 0.8em;
		font-weight: bold;
		line-height: 1em;
		
		text-align: right;
		
		text-decoration: none;
	}
	
	div#espaceAgendaLeCalendrier div.calendarDays1 a{
		color: #000;
		
		font-size: inherit;
		line-height: 1em;
		
		text-decoration: none;
	}
	

	/* -------------------------------------------------------------------------------------------------------- */
	/* Sous le calendrier */
	/* -------------------------------------------------------------------------------------------------------- */

	div#espaceAgenda a.precedent, div#espaceAgenda a.suivant {
		float: left;
		display: block;
		
		width: 23px;
		height: 55px;
		
		text-align: center;
	}
	
	div#espaceAgenda a.precedent img, div#espaceAgenda a.suivant img {
		margin: 18px 0 0 0;
		display: inline;
		line-height: 56px;
	}
	
	div#espaceAgenda p.infos {
		float: left;
		width: 225px;
		
		padding: 7px 0 7px 0;
		font-size: 0.75em;
		line-height: 1.2em;
		
		color: #FFF;
	}
        div#espaceAgenda p.infos a{
        color: #FFF;
        }
	
	div#espaceAgenda p.infos .lireSuite a{
		display: block;
		padding: 0 0 0 12px;
		margin: 0;
		
		font-size: inherit;
		line-height: 1em;
		color: #FFA600;
		
		text-decoration: none;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/EspaceAgenda/Img_Agenda_FlecheOrangeVersDroite.gif);
		background-position: 0 2px;
		background-repeat: no-repeat;
	}	
	
	div#espaceAgenda .lireSuite a:hover, div#espaceAgenda .lireSuite a:focus, div#espaceAgenda .lireSuite a:active {
		text-decoration: underline;
	}	

	div#espaceAgenda p.tousLesEvenements {
		clear: both;
		
		height: auto !important;
		min-height: 22px !important;
		height: 22px;
		
		line-height: 22px;
		
		text-align: right;
		
		background-color: #6D6D6D;
	}	
	
	div#espaceAgenda p.tousLesEvenements a {
		padding: 0 0 0 10px;
		margin: 0 11px 0 0;
		
		font-size: 0.75em;
		line-height: 21px;
		color: #FFF;
		
		text-decoration: none;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/EspaceAgenda/Img_Agenda_FlecheBlancheVersDroite.gif);
		background-position: 0 3px;
		background-repeat: no-repeat;
	}	
	
	div#espaceAgenda p.tousLesEvenements a:hover, div#espaceAgenda p.tousLesEvenements a:focus, div#espaceAgenda p.tousLesEvenements a:active {
		text-decoration: underline;
	}	

