@charset "utf-8";
	/* -------------------------------------------------------------------------------------------------------- */
	/* CSS Pour le module de connexion à la Région*/
	/* -------------------------------------------------------------------------------------------------------- */
	
	div#liensMotsCles {
		width: 562px;
		height: auto;
		
		margin: 13px 0 15px 0;
		padding: 0 14px 0 14px;
		
		line-height: 1em;
		
		font-size: 0.6em;
		color: #7C7C7C;
		
		text-align: justify;
	 }

	div#liensMotsCles * {
		margin: 0;
		padding: 0;
		/*border: none;*/
		
		font-size: inherit;
	 }

	div#liensMotsCles a {
		font-size: 1em;
		line-height: 1.6em;
		text-decoration: none;
		color: #7C7C7C;
	 }

	div#liensMotsCles a:hover, div#liensMotsCles a:focus, div#liensMotsCles a:active {
		text-decoration: underline;
	 }

