@charset "utf-8";
	/* -------------------------------------------------------------------------------------------------------- */
	/* CSS Pour le module de recherche */
	/* -------------------------------------------------------------------------------------------------------- */
	
	div#moduleRecherche {
		width: 207px;
		height: auto;
		
		margin: 0 0 27px 0;
		
		font-size: 0.75em;
	 }

	div#moduleRecherche * {
		margin: 0;
		padding: 0;
		/*border: none;*/
		
		font-size: inherit;
	 }

	div#moduleRecherche h3 {
	}	
	
	div#formRecherche {
	}

	div#formRecherche form {
		float: left;
		
		width: 207px;
		
		margin: 0;
		padding: 0;
	}

	div#formRecherche form label {
		float: left;
		
		width: 123px;
		height: auto;
		
		margin: 0 0 0 15px;
		padding: 0;
	}

	div#formRecherche form input.inputTypeText {
		float: left;
		
		width: 123px;
		height: auto;
		
		margin: 0 0 0 15px;
		padding: 2px 1px 2px 3px;
		border: 1px solid #000;
	}

	div#formRecherche form input.inputTypeBoutonImage {
		float: left;

		margin: 1px 0 0 4px;
		padding: 0;
		
		cursor: pointer;
	}
	
	div#rechercheDetaillee {
		padding: 5px 0 0 0;
	}
	
	div#rechercheDetaillee ul {
		position: relative;

		/* !!! LARGEUR IDENTIQUE !!! */
		width: 207px; /* Donner une valeur fixe en px ou em pour éviter certain bug avec IE */
		height: auto;
		line-height: normal;
		
		font-size: inherit; /* A la même taille que div#navMenuDeroulVert */
	}
	
	div#rechercheDetaillee li {
		position: relative;
		float: left; /* !!! BUG IE : Cette propriété élimine aussi le bug des espaces de IE dans les <ul> <li> */
		
		/* !!! LARGEUR IDENTIQUE !!! */
		width: 207px; /* Bug IE6 et IE7 : Pas de gestion du inherit */
		height: auto !important;
		min-height: 1em !important;
		height: 1em;

		margin: 0; /* Doit être définie. la hirarchie n'est pas prise en comptes à partir du *{} */
		padding: 0; /* Doit être définie. la hirarchie n'est pas prise en comptes à partir du *{} */

		font-size: inherit;
		line-height: 1em; /* !!! Pas de pourcentage, il n'est pas reconnu */
	}
	
	div#rechercheDetaillee a {
		float: left;
		display: block;
		
		width: 172px;
		height: auto;
		
		margin: 0;
		padding: 0 10px 0 25px;
		
		line-height: 1em;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/ModuleRecherche/Img_ModRecherche_FlecheNoireVersDroite.gif);
		background-position: 16px 2px;
		background-repeat: no-repeat;
		
		text-decoration: none;
	}
	
	div#rechercheDetaillee a:hover, div#rechercheDetaillee a:focus, div#rechercheDetaillee a:active {
		text-decoration: underline;
	}
	
