@charset "utf-8";
	/* -------------------------------------------------------------------------------------------------------- */
	/* CSS Pour la barre de Navigation Principale Horizontale */
	/* -------------------------------------------------------------------------------------------------------- */
	
	div#navAccessibilite {
		position: absolute; /* Point de repère pour le positionnement absolu du <ul> suivant */
		top: 11px;
		left: 0;
		
		width: auto;
		height: auto;
		
		/* ------------------------------------------------------------- */
		/* Menu Horizontal : Définition de sa hauteur minimale */
		min-height: 1.5em;					
		/* ------------------------------------------------------------- */

		font-size: 0.8em;
		line-height: 1.5em;
		
		overflow: visible;
	 }

	div#navAccessibilite * {
		margin: 0;
		padding: 0;
		/*border: none;*/
		
		background: transparent;
	 }

	div#navAccessibilite h2 {
	}	
	
	div#navAccessibilite ul {
		position: absolute; /* Tous les bloques ul sont indépendants */
		top: 0;
		left: 0;

		width: 16em; /* Donner une valeur fixe en px ou em pour éviter certain bug avec IE */
		height: auto;
		line-height: normal;
		
		font-size: inherit; /* A la même taille que div#navAccessibilite */
	}
	
	div#navAccessibilite li {
		position: relative;
		float: left; /* !!! BUG IE : Cette propriété élimine aussi le bug des espaces de IE dans les <ul> <li> */
		
		width: auto; /* Bug IE6 et IE7 : Pas de gestion du inherit */
		height: auto;

		margin: 0; /* Doit être définie. la hirarchie n'est pas prise en comptes à partir du *{} */
		padding: 0; /* Doit être définie. la hirarchie n'est pas prise en comptes à partir du *{} */

		font-size: inherit;
		line-height: inherit; /* !!! Pas de pourcentage, il n'est pas reconnu */
		
		/*background-color: #5F5F5F;*/
	}
	
	/* -------------------------------------------------------------------------------------------------------- */
	/* Etats généraux des balises <a> */
 	div#navAccessibilite a {
		display: block; /* <a> a une zone de sensibilité égale à celle du <li> */
		position: absolute;
		left: -9999px;
		

		
		width: 15em; /* width = largeur total - le padding */
		height: auto;

		padding: 0.4em 0.5em 0.4em 0.5em;
		
		color: #FFF;
		
		font-size: inherit;		
		line-height: inherit; /* !!! Pas de pourcentage, il n'est pas reconnu */
		text-decoration: none;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/NavigationAccessibilite/Img_NavAccessibilite_Fond70.png);
	}

	div#navAccessibilite a strong {
		color: #FFF;		
		/*font-weight: normal;*/
	}
	
	div#navAccessibilite a:link {
	}
	
	div#navAccessibilite a:visited {
	}
	
	div#navAccessibilite a:hover, div#navAccessibilite a:focus, div#navAccessibilite a:active, div#navAccessibilite a.hoverIE, div#navAccessibilite li.niv0:hover a.niv0, div#navAccessibilite li.niv1:hover a.niv1, div#navAccessibilite li.niv2:hover a.niv2, div#navAccessibilite li.niv3:hover a.niv3 {
		/* C'est l'état au survol et au focus de la souris */
		position: relative; /* Point de repère pour la flèche de sous menu */
		top: 0;
		left: 0;
		
		float: left;
		
		color: #FFF;
		/*background-color: #5F5F5F;*/ /* Bug IE7 : Pas de gestion correcte de la transparence. Mettre une image de fond ou une couleur obligatoirement */
	}
	
	div#navAccessibilite li.niv0 a.hoverIE strong, div#navAccessibilite a.niv0:hover strong, div#navAccessibilite a.niv0:focus strong, div#navAccessibilite a.niv0:active strong {
		/* C'est l'état au survol et au focus de la souris */
		/*color: #FFF;*/
	}
	
	/* -------------------------------------------------------------------------------------------------------- */
	/* NIVEAU 0 */
	/* -------------------------------------------------------------------------------------------------------- */
	
	
	div#navAccessibilite ul.niv0 {
		position: static;

		width: auto;
	}
	
	div#navAccessibilite li.niv0 {
		width: auto; /* Bug IE6 et IE7 : Pas de gestion du inherit */
		
		margin: 0; /* Doit être définie. la hirarchie n'est pas prise en comptes à partir du *{} */
		padding: 0; /* Doit être définie. la hirarchie n'est pas prise en comptes à partir du *{} */

		background: transparent;
	}
	
	div#navAccessibilite a.niv0 {
		width: auto;
		
		min-height: 1.5em;
		line-height: 1.5em;

		/*color: #000;*/
	}
	
	div#navAccessibilite a.niv0 strong {
		/*color: #000;*/
	}
	
	div#navAccessibilite li.premier a.niv0 {
	}
	
	div#navAccessibilite li.dernier a.niv0 {
	}
	
	div#navAccessibilite a.niv0:hover {
	}