@charset "utf-8";
	/* -------------------------------------------------------------------------------------------------------- */
	/* CSS Pour la barre de Navigation du fil d'Ariane */
	/* -------------------------------------------------------------------------------------------------------- */
	
	div#navFilAriane {
		clear: both;
		float: none;
		
		width: 989px; /* 989px - 208px */
		height: auto !important;
		min-height: 34px !important;
		height: 34px;
		
		line-height: normal;
		
		margin: 0 auto;
		padding: 0;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/AmbiancesCouleur/Img_CorpsDuSite_Fond_Ambiance0.jpg);
	} 
	
	div#navFilArianeOmbre {
		float: none;
		
		width: 589px; /* 989px - 208px - 192px */
		height: auto !important;
		min-height: 14px !important;
		height: 14px;
		
		line-height: normal;
		
		padding: 15px 192px 5px 208px;

		font-size: 0.6em; /* Taille de référence pour tous les éléments enfants */
		
		overflow: visible;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/AmbiancesCouleur/Img_NavFilAriane_Fond_Ambiance0.jpg);
		background-position: top;
		background-repeat: repeat-x;
	} 
	
	div#navFilArianeOmbre * {
		margin: 0;
		padding: 0;
		/*border: none;*/
				
		background: transparent;
	} 
	
	div#navFilAriane h3 {
	} 

	
	div#navFilAriane a {
		height: auto;
		line-height: normal;
		
		text-decoration: none;
	} 

	div#navFilAriane a {
	} 

	div#navFilAriane a:link {
	}
	
	div#navFilAriane a:visited {
	}
	
	div#navFilAriane a:hover, div#navFilAriane a:focus, div#navFilAriane a:active {
		color: #FFF;
	}
	
	div#navFilAriane a.niv0:hover strong, div#navFilAriane a.niv0:focus strong, div#navFilAriane a.niv0:active strong {
		color: #FFF;
	}	

	div#navFilAriane span.actif a{
		color: #FFF;
	} 

	div#navFilAriane strong {
		padding: 0 7px 0 3px;
		
		font-size: 12px;
		font-weight: normal;
		line-height: normal;
	} 


