@charset "utf-8";
	/* -------------------------------------------------------------------------------------------------------- */
	/* CSS Pour la barre de Navigation Principale Horizontale */
	/* -------------------------------------------------------------------------------------------------------- */
	
	div#navPrincipale {
		position: relative;
		
		width: 989px;
		height: auto !important;
		min-height: 78px !important;
		height: 78px;
		
		margin: 0 auto 0 auto;
		
		border-width: 1px 0 1px 0;
		border-style: solid;
		border-color: #FFF;
		
		font-size: 0.7em; /* Taille de référence pour tous les éléments enfants */
		font-weight:bold;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/NavigationPrincipal/Img_NavPrincipal_FondGris.png);
		overflow: visible;
	 }

	div#navPrincipale * {
		margin: 0;
		padding: 0;
		/*border: none;*/
		
		background: transparent;
	 }

	div#menuImageFond {
		position: absolute; /* Point de repère pour le positionnement absolu du <ul> suivant */
		top: 0;
		left: 0;
	 }

	div#navPrincipale h2 {
	}	
	
	div#navPrincipale ul {
		float: left;
		
		/* !!! LARGEUR IDENTIQUE !!! */
		width: auto; /* Donner une valeur fixe en px ou em pour éviter certain bug avec IE */
		height: auto;
		line-height: normal;
		
		margin: 4px 0 0 0;
		
		font-size: inherit; /* A la même taille que div#navPrincipale */
	}
	
	div#navPrincipale ul.col1 {
		width: 155px; /* Donner une valeur fixe en px ou em pour éviter certain bug avec IE */
	}
	
	div#navPrincipale ul.col2 {
		width: 257px; /* Donner une valeur fixe en px ou em pour éviter certain bug avec IE */
	}
	
	div#navPrincipale ul.col3 {
		width: 164px; /* Donner une valeur fixe en px ou em pour éviter certain bug avec IE */
	}
	
	div#navPrincipale ul.col4 {
		width: 249px; /* Donner une valeur fixe en px ou em pour éviter certain bug avec IE */
	}
	
	div#navPrincipale ul.col5 {
		width: 164px; /* Donner une valeur fixe en px ou em pour éviter certain bug avec IE */
	}
	
	/* -------------------------------------------------------------------------------------------------------- */
	/* <li> */
	div#navPrincipale li {
		position: relative;
		float: left; /* !!! BUG IE : Cette propriété élimine aussi le bug des espaces de IE dans les <ul> <li> */
		
		/* !!! LARGEUR IDENTIQUE !!! */
		width: auto; /* Bug IE6 et IE7 : Pas de gestion du inherit */
		height: auto !important;
		min-height: 18px !important;
		height: 18px;

		margin: 0; /* Doit être définie. la hirarchie n'est pas prise en comptes à partir du *{} */
		padding: 0; /* Doit être définie. la hirarchie n'est pas prise en comptes à partir du *{} */

		font-size: inherit;
		line-height: 18px; /* !!! Pas de pourcentage, il n'est pas reconnu */
	}
	
	div#navPrincipale ul.col1 li {
		width: 155px; /* Donner une valeur fixe en px ou em pour éviter certain bug avec IE */
	}
	
	div#navPrincipale ul.col2 li {
		width: 257px; /* Donner une valeur fixe en px ou em pour éviter certain bug avec IE */
	}
	
	div#navPrincipale ul.col3 li {
		width: 164px; /* Donner une valeur fixe en px ou em pour éviter certain bug avec IE */
	}
	
	div#navPrincipale ul.col4 li {
		width: 249px; /* Donner une valeur fixe en px ou em pour éviter certain bug avec IE */
	}
	
	div#navPrincipale ul.col5 li {
		width: 164px; /* Donner une valeur fixe en px ou em pour éviter certain bug avec IE */
	}
	
	/* -------------------------------------------------------------------------------------------------------- */
	/* Etats généraux des balises <a> */
 	div#navPrincipale a {
		display: block; /* <a> a une zone de sensibilité égale à celle du <li> */
		position: relative; /* Point de repère pour la flèche de sous menu */
		float: left;
		
		/* !!! LARGEUR IDENTIQUE !!! */
		width: inherit; /* width = largeur total - le padding */
		height: auto !important;
		min-height: 16px !important;
		height: 16px;

		padding: 2px 0 0 21px;
		
		color: #FFF;
		
		font-size: inherit;		
		line-height: normal; /* !!! Pas de pourcentage, il n'est pas reconnu */
		text-decoration: none;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/NavigationPrincipal/Img_PuceFlecheBlanche_MenuPrincipal.gif);
		background-position: 12px 5px;
		background-repeat: no-repeat;
	}

	div#navPrincipale ul.col1 a {
		width: 134px; /* 155px - 21px Donner une valeur fixe en px ou em pour éviter certain bug avec IE */
	}
	
	div#navPrincipale ul.col2 a {
		width: 236px; /* 257px - 21px Donner une valeur fixe en px ou em pour éviter certain bug avec IE */
	}
	
	div#navPrincipale ul.col3 a {
		width: 143px; /* 164px - 21px Donner une valeur fixe en px ou em pour éviter certain bug avec IE */
	}
	
	div#navPrincipale ul.col4 a {
		width: 228px; /* 249px - 21px Donner une valeur fixe en px ou em pour éviter certain bug avec IE */
	}
	
	div#navPrincipale ul.col5 a {
		width: 143px; /* 164px - 21px Donner une valeur fixe en px ou em pour éviter certain bug avec IE */
	}
	
	div#navPrincipale a strong {
		color: #FFF;		
		font-weight: bold;
	}
	
	div#navPrincipale li.lienActif a {
		/* C'est l'état au survol et au focus de la souris */
		color: #000;
		
		background-color: #FFFFFE;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/NavigationPrincipal/Img_PuceFlecheNoireBas_MenuPrincipal.gif);
		background-position: 10px 8px;
		background-repeat: no-repeat;
	}
	
	div#navPrincipale li.lienActif a strong {
		color: #000;
		font-weight: bold;
	}
	
	div#navPrincipale a:link {
	}
	
	div#navPrincipale a:visited {
	}
	
	div#navPrincipale a:hover, div#navPrincipale a:focus, div#navPrincipale a:active {
		display: none;
		color: #000;
		
		background-image: url(http://www.regionpaca.fr/fileadmin/templates/CRPACA2009/Images/NavigationPrincipal/Img_PuceFlecheNoire_MenuPrincipal.gif);
		background-position: 12px 5px;
		background-repeat: no-repeat;
		
		background-color: #FFFFFE;
		display: block;
	}
	
	div#navPrincipale li a.hoverIE strong, div#navPrincipale a:hover strong, div#navPrincipale a:focus strong, div#navPrincipale a:active strong {
		color: #000;
	}
	