/* CSS Document */


.tx-dropdownsitemap-pi1 DIV.expAll { text-align: right;border:none;padding-right:20px; } 

.tx-dropdownsitemap-pi1 a{color:#000000;font-size:12px}
.tx-dropdownsitemap-pi1 LI.open OL { display: block; }
.tx-dropdownsitemap-pi1 LI.closed OL { display: none; }
.tx-dropdownsitemap-pi1 LI.open UL { display: block; }
.tx-dropdownsitemap-pi1 LI.closed UL { display: none; }
.tx-dropdownsitemap-pi1 DIV { border: solid 1px #666666; background:; padding: 2px; margin: 2px; }
.tx-dropdownsitemap-pi1 DIV.level_2 { background: none; }
.tx-dropdownsitemap-pi1 DIV.level_3 { background: #E5E5E5; }
.tx-dropdownsitemap-pi1 DIV.level_4 { background: #FFFFFF; }
.tx-dropdownsitemap-pi1 DIV.level_5 { background: #E0CCCC; }

.tx-dropdownsitemap-pi1 DIV.level_1 a{font-size:13px; }
.tx-dropdownsitemap-pi1 DIV.level_2 a{font-size:12px; }
.tx-dropdownsitemap-pi1 DIV.level_3 a{font-size:11px;}
.tx-dropdownsitemap-pi1 DIV.level_4 a{font-size:11px;}
.tx-dropdownsitemap-pi1 DIV.level_5 { }


.tx-dropdownsitemap-pi1 DIV.level_1 img{margin-bottom:10px; padding-right:5px;}
