.PortletSkinable_CG33Bleu .bloc_head{
	background-image: url("http://www.cg33.fr/cg33/css/cg33/categorie/images/bleu_marine/top_bloc.gif");
}

.PortletSkinable_CG33Bleu .bloc_body{
	background-image: url("http://www.cg33.fr/cg33/css/cg33/categorie/images/bleu_marine/middle_bloc.gif");
}

.PortletSkinable_CG33Bleu .bloc_foot{
	background-image: url("http://www.cg33.fr/cg33/css/cg33/categorie/images/bleu_marine/bottom_bloc.gif");
}