.PortletSkinable_JSSorange .box1Title, .skinTitle	{ font: normal 14px "Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif; }
.PortletSkinable_JSSorange .box2Title			        { font: normal 12px Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; }
.PortletSkinable_JSSorange .skBack01		          { background-color: #FF9900; }
.PortletSkinable_JSSorange .skBack02		          { background-color: #666666; }
.PortletSkinable_JSSorange .skBack03		          { background-color: #FFFFFF; }
.PortletSkinable_JSSorange .skinText01		        { color: #FFFFFF; }
.PortletSkinable_JSSorange .Portlet A             { color: #884433; text-decoration: none; }
.PortletSkinable_JSSorange .coloredBlock01        { background-color: #884433; }

/* CSS for new portal mechanics skin  */
DIV.JSSorange DIV.header {
  border-right-color:  #DD7700;
  border-bottom-color: #FF9900;
}

DIV.JSSorange  DIV.content A{
  color: #DD7700;
}

DIV.JSSorange DIV.footer {
  background-color: #FF9900;
  border-color:     #FFAA00;
}
DIV.JSSred DIV.header2 {
  border-bottom-color: #CC0000;
}