/* Mainnavi/Header generell */
#nnav-head            {width:795px;height:93px;}
#nnav-top             {height:71px;}
#nnav-bottom          {height:22px; width:650px;}
#nnav-bgheader        {background:transparent url(http://pix.sueddeutsche.de/img/layout/header/nheader_bg.gif) no-repeat; margin-left:-10px;}
#nnav-headimagebottom {background:transparent url(http://pix.sueddeutsche.de/img/layout/header/nheader_bg_nachrichten_bottom.gif) no-repeat;width:795px;height:37px;}
#nnav-headimagesubnavi {padding:9px 0 0 16px;height:38px;font-size:12px;}
#nnav-headimagesubnavi .nnavsub {float:left;}
#nnav-headimagesubnavi .nnavsub #aktiv {font-weight:bold;}
#nnav-headimagesubnavi .nnavtrenner {color:#9D9D9D; float:left; font-size:12px; padding-right:4px; padding-left:4px;}

/* Logo/Header Mainnavi */
#nnav-logodiv         {padding:21px 0 0 38px;}
#nnav-logo            {float:left;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/logo.gif) no-repeat;width:318px;height:27px;}
#nnav-logo-epaper     {float:left;background:transparent url(http://pix.sueddeutsche.de/img/logo_epaper.gif) no-repeat;width:225px; height:35px;}
#nnav-headtrenner     {float:left;margin-top:-6px;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/nav_head_trenner.gif) no-repeat;width:33px;height:39px;}
#nnav-subhead         {float:left;margin-top:9px;}
#nnav-logoimmo        {float:left; background:transparent url(http://pix.sueddeutsche.de/img/layout/ORM_logo_imobilienmarkt.gif) no-repeat; width:582px; height:44px;}
#nnav-logostellen     {float:left; background:transparent url(http://pix.sueddeutsche.de/img/layout/ORM_logo_stellenmarkt.gif) no-repeat; width:525px; height:44px;}
#nnav-logomotor       {float:left; background:transparent url(http://pix.sueddeutsche.de/img/layout/ORM_logo_motormarkt.gif) no-repeat; width:509px; height:44px;}

#nnav-logoabo         {float:left;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/SZ_solo288x31.gif) no-repeat;width:288px;height:31px;}
#nnav-logoanzeigen    {float:left;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/SZ_solo288x31.gif) no-repeat;width:288px;height:31px;}

/* TopNavi/Services */
table.services {margin-right:10px; background-color:#ffffff; font-size: 11px;}
table.services {width:775px;border:none;height: 25px;margin-bottom: 0px; border-top: solid; border-top-color: #9E9898; border-top-width: 1px;}

/* Teaserbild/Text Mainnavi rechts */
#nnav-headerteaser    {position: absolute; margin-left:570px;}
#nnav-headerteaser .nnavdivpic {margin-top:2px; margin-left:101px; position:absolute;}
#nnav-headerteaser .nnavdivtext {position:absolute; width: 140px; margin-top:20px; margin-left:7px;}
#nnav-headerteaser .nnavdivtext_new {position:absolute; width: 117px; margin-top:20px; margin-left:0px; text-align:right;}
#nnav-headerteaser .nnavdivtext_new span.red {color:#c00; font-size:12px;}
#nnav-headerteaser .nnavdivtext_new span.black {color:#000; font-size:12px;}

/* BG Navbuttons Mainnavi lo */
#nnav-nachrichten     {float:left;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/nav_but_nachrichten_lo_2.gif);width:60px;height:22px;}
#nnav-epaper          {float:left;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/nav_but_epaper_lo_2.gif);width:56px;height:22px;}
#nnav-immobilienmarkt {float:left;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/nav_but_immobilienmarkt_lo_2.gif);width:105px;height:22px;}
#nnav-stellenmarkt    {float:left;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/nav_but_stellenmarkt_lo_2.gif);width:80px;height:22px;}
#nnav-motormarkt      {float:left;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/nav_but_motormarkt_lo_2.gif);width:72px;height:22px;}
#nnav-anzeigen        {float:left;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/nav_but_anzeige_lo_2.gif);width:60px;height:22px;}
#nnav-szshop          {float:left;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/nav_but_szshop_lo_2.gif);width:60px;height:22px;}
#nnav-abo             {float:left;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/nav_but_aboservice_lo_2.gif);width:86px;height:22px;}
#nnav-tickets         {float:left;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/nav_but_tickets_lo_2.gif);width:51px;height:22px;}

/* BG Navbuttons Mainnavi hi */
#nnav-nachrichten-hi  {float:left;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/nav_but_nachrichten_hi_2.gif);width:60px;height:22px;}
#nnav-epaper-hi       {float:left;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/nav_but_epaper_hi_2.gif);width:56px;height:22px;}
#nnav-immobilienmarkt-hi {float:left;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/nav_but_immobilienmarkt_hi_2.gif);width:105px;height:22px;}
#nnav-stellenmarkt-hi {float:left;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/nav_but_stellenmarkt_hi_2.gif);width:81px;height:22px;}
#nnav-motormarkt-hi   {float:left;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/nav_but_motormarkt_hi_2.gif);width:76px;height:22px;}
#nnav-anzeigen-hi       {float:left;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/nav_but_anzeige_hi_2.gif);width:61px;height:22px;}
#nnav-szshop-hi       {float:left;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/nav_but_szshop_hi_2.gif);width:60px;height:22px;}
#nnav-abo-hi          {float:left;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/nav_but_aboservice_hi_2.gif);width:89px;height:22px;}
#nnav-tickets-hi      {float:left;background:transparent url(http://pix.sueddeutsche.de/img/layout/header/nav_but_tickets_hi_2.gif);width:51px;height:22px;}

/* BG Verlauf Schatten unten Mainnavi */
#nverlauf-immobilienmarkt, #nverlauf-stellenmarkt, #nverlauf-motormarkt, #nverlauf-abo, #nverlauf-tickets, #nverlauf-anzeigen { background-image:url(http://pix.sueddeutsche.de/img/layout/header/shadow.jpg); background-repeat:no-repeat;  height:7px; margin-left:-10px;}
#nverlauf-immobilienmarkt div {width:104px; height:7px; background-color:#FFFFFF; margin-left:116px; font-size:0px; line-height:0px;}
#nverlauf-stellenmarkt div {width:80px; height:7px; background-color:#FFFFFF; margin-left:221px; font-size:0px; line-height:0px;}
#nverlauf-motormarkt div {width:75px; height:7px; background-color:#FFFFFF; margin-left:301px; font-size:0px; line-height:0px;}
#nverlauf-abo div {width:88px; height:7px; background-color:#FFFFFF; margin-left:493px; font-size:0px; line-height:0px;}
#nverlauf-tickets div {width:50px; height:7px; background-color:#FFFFFF; margin-left:579px; font-size:0px; line-height:0px;}
#nverlauf-anzeigen div {width:60px; height:7px; background-color:#FFFFFF; margin-left:373px; font-size:0px; line-height:0px;}

/* BG Links in Mainnavi */
#nnav-head a          {padding-left:7px; color: #666666;}
#nnav-top a           {padding-left:0px;}
#nnav-head .nnavaktiv {font-weight:bold; color:#000000;}
#nnav-head .nnavlink  {padding-top:4px;font-size:12px; margin-left:-2px;}
#nnav-head .nnavlinkhome {padding:4px 0 0 11px;font-size:12px; margin-left:-2px;}
#nnav-headerteaser a {padding-left:-30px;color: #122CA3;font-weight: bold;font-size: 13px;line-height:15px;}

/* LBox */
#headerLBox {width:775px; height:25px; padding:0px; margin:0px;}
#headerLBox .logout   {position:relative; z-index:20; padding:0px; margin:0px;} /*#headerLogout*/
#headerLBox .logedin  {position:relative; top:0px; left:0px; padding:0px; margin:0px;} /*#headerLog*/
#headerLBox .logfield {position:absolute; z-index:20; top:-800px; left:-800px; padding:0px; margin:0px;} /*#headerLogin*/
#headerLBox .modulLeft  {}
#headerLBox .modulRight {float:right; margin-right:2px;}
#headerLBox .modulLeft ul, #headerLBox .modulRight ul {float:left; width:auto; text-align:left; padding:0px; margin:0px; height:1px;}
#headerLBox .modulLeft li, #headerLBox .modulRight li {float:left; list-style:none; font-size:11px; line-height:25px; vertical-align:middle; padding:0px; margin:0px;}
#redaktion          #headerLBox .modulLeft a, #redaktion          #headerLBox .modulRight a  {color:#039;}
#immobilienmarkt    #headerLBox .modulLeft a, #immobilienmarkt    #headerLBox .modulRight a  {color:#099;}
#motormarkt         #headerLBox .modulLeft a, #motormarkt         #headerLBox .modulRight a  {color:#099;}
#stellenmarkt       #headerLBox .modulLeft a, #stellenmarkt       #headerLBox .modulRight a  {color:#099;}
#epaper             #headerLBox .modulLeft a, #epaper             #headerLBox .modulRight a  {color:#399;}
#epaper-htmlzeitung #headerLBox .modulLeft a, #epaper-htmlzeitung #headerLBox .modulRight a  {color:#399;}
#mediathek          #headerLBox .modulLeft a, #mediathek          #headerLBox .modulRight a  {color:#164cba;}
#headerLBox .icon {margin:6px 2px 0px 2px;}
#headerLBox .logo {margin:4px 0px 0px 5px;}
#headerLBox .suchField              {width:100px; height:18px; margin:2px 0px 0px 5px; padding:1px 0px 0px 3px;}
html>body #headerLBox .suchField    {width:100px; height:18px; margin:0px 0px 0px 5px; padding:1px 0px 0px 3px;} /* nicht fuer IE */
#headerLBox .suchRadio              {border:0px; margin:3px 0px 0px 2px; padding:0px;}
html>body #headerLBox .suchRadio    {border:0px; margin:0px 3px 0px 5px; padding:0px;} /* nicht fuer IE */
#headerLBox .suchButton             {border:0px; margin:2px 0px 0px 5px; padding:0px;}
html>body #headerLBox .suchButton   {border:0px; margin:0px 0px 0px 5px; padding:0px;} /* nicht fuer IE */
#headerLBox .logoutButton           {margin-top:8px;}
html>body #headerLBox .logoutButton {margin-top:0px;} /* nicht fuer IE */
.headerSuche {padding:0px; margin:0px;}
.fehler {color:#f00;}

#nnav-headimagebottom ul {font-size:12px; color:#9d9d9d; padding-left: 12px; list-style-type: none; display: block; margin: 0; float: left;}
#nnav-headimagebottom li {padding-right: 4px; margin: 0; display: block; float: left; }
#nnav-headimagebottom a.List {font-size:12px; padding-left: 1px; margin: 0;}
#nnav-headimagebottom a.bold {font-weight:bold;}

/*neu laden*/
