
/* ------------------------------------------------------ */
/* STANDARD */
/* ------------------------------------------------------ */

.article {
	float: left;
	width: 673px;
	padding: 10px 10px 10px 10px;
	border-top: 1px solid #dbdbdb;
}

.article a {
	color: #484848;
}

.article .lien_pdf {
	color: blue;
}

.article a:hover {
	color: #999;
}

.article .titre {
	margin: 0px 0px 15px 0px;
}

.article .titre h3 {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 10px 0px;
	font: normal 18px Arial, Helvetica, sans-serif;
	background: url(puce01.png) no-repeat 0px 2px;
	color: #484848;
}
.article .titre  h3 a{
	text-decoration: none;
}


.article .titre h4 {
	padding: 0px 0px 0px 20px;
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #8e8e8e;
}

.article .titre h5 {
	padding: 0px 0px 0px 20px;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
}

.article .post {
	padding: 0px 0px 0px 20px;
	clear: both;
	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
	margin: 0px 0px 10px 0px;
	text-align: justify;
}
.article .post ul, .article .post li {
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 10px 0px;
	
}

.article .post p {
	clear: both;
	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
	margin: 0px 0px 10px 0px;
	text-align: justify;
}
.article .post h1 {
	font: normal 22px Verdana, Arial, Helvetica, sans-serif;
}
.article .post h2 {
	text-align: center;
	font: bold 17px Verdana, Arial, Helvetica, sans-serif;
}
.article .post h3 {
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
}
.article .post h4 {
	font: normal 16px Verdana, Arial, Helvetica, sans-serif;
}
.article .post h5 {
	font: normal 14px Verdana, Arial, Helvetica, sans-serif;
}
.article .post h6 {
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
}
.article .post .imgGauche {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

.article .post .imgDroite {
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
}

.article .post .imgCentre {
	display: block;
	text-align :center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.article .post .savoirPlus {
	margin:5px 5px 15px; 
	text-align:right;
}

.article .post .savoirPlus a {
	padding:0 4px 0 10px;
	color:#3D61AE;
	font-size:10px;
	text-decoration: none;
	border-bottom:#3D61AE 1px solid;
	background-image:url(ico_ensavoirplus.gif);
	background-repeat:no-repeat;
	background-position:left;
}

.article .post .savoirPlus a:hover {
	margin-left:2px;
	background-color:#3D61AE;
	color:#FFF;
	background-image:url(ico_ensavoirplus_on.gif);
}
.article .post table {
	width:auto;
}
.article .post .caption {
	vertical-align: center;
}
.article .inputSubmit01 {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #484848;
	background: url(bgSubmit01.png) repeat-x 0px 0px;
	height: 20px;
	width: 120px;
	border: none;
	margin: 3px 0px 0px 20px;
	padding: 2px 5px 2px 5px;
}
.article form {
	display: inline;
}
.article .align_center {
	text-align :center;
}
.article .colonne_gauche {
	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	text-align: justify;
	color: #484848;
	float: left;
	width: 200px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-right: 1px dotted #adadad;
}
.article .colonne_gauche .colonne_gauche_haut{
	height: 25px;
}
.article .colonne_gauche .colonne_gauche_haut p{
	padding: 20px 0px 0px 50px;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
}
.article .colonne_gauche .colonne_gauche_bas{
	height: 100px;
}
.article .colonne_gauche .colonne_gauche_post{
	padding: 0px 0px 0px 10px;
}
.article .colonne_gauche .colonne_gauche_post h1{
	color:#3D61AE;
	margin: 20px 0px 5px 5px;
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
}
.article .colonne_gauche .colonne_gauche_post p{
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	padding: 0px 0px 0px 0px;
	margin: 5px 10px 0px 5px;
	text-align: left;
}


.article .description {
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
	float: right;
	width: 460px;
	padding: 20px 0px 0px 0px;
}
.article .description h2{
	font: normal 22px Arial, Helvetica, sans-serif;
	color:#3D61AE;
	text-align :left;
	margin: 5px 5px 20px 5px;
}
.article .colonne_gauche .colonne_gauche_post .image{
	text-align :center;
	margin: 0px 10px 0px 5px;
}
.article .description ul, .article .description li{
	padding: 0px 0px 0px 5px;
	margin: 0px 0px 0px 5px;
	
}

/* ------------------------------------------------------ */
/* GAUCHE */
/* ------------------------------------------------------ */

.articleLeft {
	float: left;
	width: 326px;
	padding: 10px 10px 10px 10px;
	border-top: 1px solid #dbdbdb;
	clear:both;
}

.articleLeft a {
	color: #484848;
}

.articleLeft a:hover {
	color: #999;
}

.articleLeft .titre {
	margin: 0px 0px 15px 0px;
}

.articleLeft .titre h3 {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 10px 0px;
	font: normal 18px Arial, Helvetica, sans-serif;
	background: url(puce01.png) no-repeat 0px 2px;
	color: #484848;
}
.articleLeft .titre h3 a{
	text-decoration: none;
}
.articleLeft .titre h4 {
	padding: 0px 0px 0px 20px;
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #8e8e8e;
}

.articleLeft .titre h5 {
	padding: 0px 0px 0px 20px;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
}

.articleLeft .post {
	padding: 0px 0px 0px 20px;
	clear: both;
	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
	margin: 0px 0px 10px 0px;
	text-align: justify;
}

.articleLeft .post p {
	clear: both;
	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
	margin: 0px 0px 10px 0px;
	text-align: justify;
}

.articleLeft .post .imgGauche {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

.articleLeft .post .imgDroite {
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
}

.articleLeft .post .imgCentre {
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}

.articleLeft .post .savoirPlus {
	margin:5px 5px 15px; 
	text-align:right;
}

.articleLeft .post .savoirPlus a {
	padding:0 4px 0 10px;
	color:#3D61AE;
	font-size:10px;
	text-decoration: none;
	border-bottom:#3D61AE 1px solid;
	background-image:url(ico_ensavoirplus.gif);
	background-repeat:no-repeat;
	background-position:left;
}

.articleLeft .post .savoirPlus a:hover {
	margin-left:2px;
	background-color:#3D61AE;
	color:#FFF;
	background-image:url(ico_ensavoirplus_on.gif);
}






/* ------------------------------------------------------ */
/* DROITE */
/* ------------------------------------------------------ */

.articleRight {
	float: right;
	width: 326px;
	padding: 10px 10px 10px 10px;
	border-top: 1px solid #dbdbdb;
}

.articleRight a {
	color: #484848;
}

.articleRight a:hover {
	color: #999;
}

.articleRight .titre {
	margin: 0px 0px 15px 0px;
}

.articleRight .titre h3 {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 10px 0px;
	font: normal 18px Arial, Helvetica, sans-serif;
	background: url(puce01.png) no-repeat 0px 2px;
	color: #484848;
}
.articleRight .titre h3 a{
	text-decoration: none;
}
.articleRight .titre h4 {
	padding: 0px 0px 0px 20px;
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #8e8e8e;
}

.articleRight .titre h5 {
	padding: 0px 0px 0px 20px;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
}

.articleRight .post {
	padding: 0px 0px 0px 20px;
	clear: both;
	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
	margin: 0px 0px 10px 0px;
	text-align: justify;
}

.articleRight .post p {
	clear: both;
	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
	margin: 0px 0px 10px 0px;
	text-align: justify;
}

.articleRight .post .imgGauche {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

.articleRight .post .imgDroite {
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
}

.articleRight .post .imgCentre {
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}

.articleRight .post .savoirPlus {
	margin:5px 5px 15px; 
	text-align:right;
}

.articleRight .post .savoirPlus a {
	padding:0 4px 0 10px;
	color:#3D61AE;
	font-size:10px;
	text-decoration: none;
	border-bottom:#3D61AE 1px solid;
	background-image:url(ico_ensavoirplus.gif);
	background-repeat:no-repeat;
	background-position:left;
}

.articleRight .post .savoirPlus a:hover {
	margin-left:2px;
	background-color:#3D61AE;
	color:#FFF;
	background-image:url(ico_ensavoirplus_on.gif);
}






/* ------------------------------------------------------ */
/* ANNONCE */
/* ------------------------------------------------------ */

.annonce {
	float: left;
	width: 326px;
	text-align:center;
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid #dbdbdb;
}


/* ------------------------------------------------------ */
/* Link */
/* ------------------------------------------------------ */

.link {
	float: right;
	width: 673px;
	padding: 10px 10px 10px 10px;
	border-top: 1px solid #dbdbdb;
}

.link a {
	color: #484848;
}

.link a:hover {
	color: #999;
}

.link .titre {
	margin: 0px 0px 0px 0px;
}

.link .titre h3 {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 0px 0px;
	font: normal 18px Arial, Helvetica, sans-serif;
	background: url(puce01.png) no-repeat 0px 2px;
	color: #484848;
}



.link .post {
	padding: 0px 0px 0px 20px;
	clear: both;
	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
	margin: 0px 0px 10px 0px;
	text-align: justify;
}

.link .post p {
	clear: both;
	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
	margin: 0px 0px 10px 0px;
	text-align: justify;
}
/* ------------------------------------------------------ */
/* Banner */
/* ------------------------------------------------------ */

.banner {
	display: block;
	text-align :center;
	width: 673px;
	padding: 10px 10px 10px 10px;
	
}

.banner a {
	color: #484848;
}

.banner a:hover {
	color: #999;
}

.banner .titre {
	margin: 0px 0px 0px 0px;
}

.banner .titre h3 {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 0px 0px;
	font: normal 18px Arial, Helvetica, sans-serif;
	background: url(puce01.png) no-repeat 0px 2px;
	color: #484848;
}



.banner .post {
	padding: 0px 0px 0px 20px;
	clear: both;
	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
	margin: 0px 0px 10px 0px;
	text-align: justify;
}

/* ------------------------------------------------------ */
/* Embed : contenu de description */
/* ------------------------------------------------------ */


.post  .object-left .content-view-embed .class-image .attribute-image
{
    margin: 5px 5px;
    float: left;
}

.post  .object-right .content-view-embed .class-image .attribute-image
{
   margin: 5px 5px 5px 5px;
    float: right;
}

.post  .object-center .class-image
{
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 10px 0px;
    
    text-align: center;
}

/* ------------------------------------------------------ */
/* SEARCH */
/* ------------------------------------------------------ */

.search {
	float: left;
	width: 673px;
	padding: 10px 10px 10px 10px;
	border-top: 1px solid #dbdbdb;
}

.search a {
	color: #484848;
}

.search .lien_pdf {
	color: blue;
}

.search a:hover {
	color: #999;
}

.search .titre {
	margin: 0px 0px 15px 0px;
}

.search .titre h3 {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 10px 0px;
	font: normal 14px Arial, Helvetica, sans-serif;
	background: url(puce01.png) no-repeat 0px 2px;
	color: #484848;
}

.search .titre h4 {
	padding: 0px 0px 0px 20px;
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #8e8e8e;
}

.search .titre h5 {
	padding: 0px 0px 0px 20px;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
}

.search .post {
	padding: 0px 0px 0px 20px;
	clear: both;
	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
	margin: 0px 0px 10px 0px;
	text-align: justify;
}
.search .post ul, .search .post li {
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 10px 0px;
	
}

.search .post p {
	clear: both;
	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
	margin: 0px 0px 10px 0px;
	text-align: justify;
}
.search .post h1 {
	font: normal 22px Verdana, Arial, Helvetica, sans-serif;
}
.search .post h2 {
	text-align: center;
	font: normal 18 px Verdana, Arial, Helvetica, sans-serif;
}
.search .post h3 {
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
}
.search .post h4 {
	font: normal 16px Verdana, Arial, Helvetica, sans-serif;
}
.search .post h5 {
	font: normal 14px Verdana, Arial, Helvetica, sans-serif;
}
.search .post h6 {
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
}
.search .post .imgGauche {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

.search .post .imgDroite {
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
}

.search .post .imgCentre {
	display: block;
	text-align :center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.search .post .savoirPlus {
	margin:5px 5px 15px; 
	text-align:right;
}

.search .post .savoirPlus a {
	padding:0 4px 0 10px;
	color:#3D61AE;
	font-size:10px;
	text-decoration: none;
	border-bottom:#3D61AE 1px solid;
	background-image:url(ico_ensavoirplus.gif);
	background-repeat:no-repeat;
	background-position:left;
}

.search .post .savoirPlus a:hover {
	margin-left:2px;
	background-color:#3D61AE;
	color:#FFF;
	background-image:url(ico_ensavoirplus_on.gif);
}

.search .post .caption {
	vertical-align: center;
}
.search .inputSubmit01 {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #484848;
	background: url(bgSubmit01.png) repeat-x 0px 0px;
	height: 20px;
	width: 120px;
	border: none;
	margin: 3px 0px 0px 20px;
	padding: 2px 5px 2px 5px;
}
.search form {
	display: inline;
}
.search .align_center {
	text-align :center;
}
.search .colonne_gauche {
	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	text-align: justify;
	color: #484848;
	float: left;
	width: 200px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-right: 1px dotted #adadad;
}
.search .colonne_gauche .colonne_gauche_haut{
	height: 25px;
}
.search .colonne_gauche .colonne_gauche_haut p{
	padding: 20px 0px 0px 50px;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
}
.search .colonne_gauche .colonne_gauche_bas{
	height: 100px;
}
.search .colonne_gauche .colonne_gauche_post{
	padding: 0px 0px 0px 10px;
}
.search .colonne_gauche .colonne_gauche_post h1{
	color:#3D61AE;
	margin: 20px 0px 5px 5px;
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
}
.search .colonne_gauche .colonne_gauche_post p{
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	padding: 0px 0px 0px 0px;
	margin: 5px 10px 0px 5px;
	text-align: left;
}


.search .description {
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
	float: right;
	width: 460px;
	padding: 20px 0px 0px 0px;
}
.search .description h2{
	font: normal 22px Arial, Helvetica, sans-serif;
	color:#3D61AE;
	text-align :left;
	margin: 5px 5px 20px 5px;
}
.search .colonne_gauche .colonne_gauche_post .image{
	text-align :center;
	margin: 0px 10px 0px 5px;
}
.search .description ul, .search .description li{
	padding: 0px 0px 0px 5px;
	margin: 0px 0px 0px 5px;
	
}