/* ------------------------------------------------------ */
/* GENERALITES */
/* ------------------------------------------------------ */

.border-box {
	padding: 10px 10px 10px 10px;
	border-top: 1px solid #adadad;
}

.border-box p,
.border-box form {
	margin: 0px;
	padding: 0px;
}




/* ------------------------------------------------------ */
/* ECOMMERCE */
/* ------------------------------------------------------ */
.shop-path
{
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 10px 0px;
	font: normal 12px Arial, Helvetica, sans-serif;
	background: url(puce01.png) no-repeat 0px 2px;
	color: #484848;
}
.shop-basket,
.shop-userregister,
.shop-confirmorder,
.shop-orderview {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 10px 0px;
	font: normal 12px Arial, Helvetica, sans-serif;
	background: url(puce02.png) no-repeat 0px 2px;
	color: #484848;
}
.shop-basket .warning,
.shop-userregister .warning,
.shop-confirmorder .warning,
.shop-orderview .warning {
	padding: 0px 0px 5px 10px;
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #A11215;
}
.shop-path a,
.shop-basket a,
.shop-userregister a,
.shop-confirmorder a,
.shop-orderview a {
	color: #484848;
}
.shop-path a:hover,
.shop-basket a:hover,
.shop-userregister a:hover,
.shop-confirmorder a:hover,
.shop-orderview a:hover {
	color: #999;
}
.shop-path ul,
.shop-basket ul,
.shop-userregister ul,
.shop-confirmorder ul,
.shop-orderview ul {
	padding: 2px 0px 2px 0px;
	text-transform: uppercase;
}
.shop-path li,
.shop-basket li,
.shop-userregister li,
.shop-confirmorder li,
.shop-orderview li {
	display: inline;
	list-style-type: none;
	border-right: 1px solid #adadad;
	padding: 0px 5px 0px 5px; 
	
}
.shop-path li.selected,
.shop-basket li.selected,
.shop-userregister li.selected,
.shop-confirmorder li.selected,
.shop-orderview li.selected {
	font-weight: bold;
}

.shop-basket h1,
.shop-userregister h1,
.shop-confirmorder h1,
.shop-orderview h1 {
	height: 40px;
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #3d61ae;
}

.shop-basket h2,
.shop-basket h3,
.shop-userregister h2,
.shop-userregister h3,
.shop-confirmorder h2,
.shop-confirmorder h3,
.shop-orderview h2,
.shop-orderview h3 {
	margin: 10px 0px 0px 0px;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
}

.shop-basket .list th,
.shop-userregister .list th,
.shop-confirmorder .list th,
.shop-orderview .list th {
	padding: 5px;
	height: 25px;
	border: 1px solid #adadad;
	background: url(bgForm01.png) repeat 0px 0px;
}

.shop-basket .list hr,
.shop-userregister .list hr,
.shop-confirmorder .list hr,
.shop-orderview .list hr {
	border: 1px solid #adadad;
}

.shop-basket .list tr.bglight td,
.shop-userregister .list tr.bglight td,
.shop-confirmorder .list tr.bglight td,
.shop-orderview .list tr.bglight td {
	padding: 15px 5px 15px 5px;
}

.shop-basket .list tr.bgdark td,
.shop-userregister .list tr.bgdark td,
.shop-confirmorder .list tr.bgdark td,
.shop-orderview .list tr.bgdark td {
	padding: 5px;
	border: 1px solid #adadad;
	font-weight: bold;
	text-align:center;
}

.shop-basket .list .bgdark input,
.shop-userregister .list .bgdark input,
.shop-confirmorder .list .bgdark input,
.shop-orderview .list .bgdark input {
	border: 1px solid #adadad;
	height: 20px;
}

.shop-basket .button,
.shop-basket .defaultbutton,
.shop-userregister .button,
.shop-userregister .defaultbutton,
.shop-confirmorder .button,
.shop-confirmorder .defaultbutton,
.shop-orderview .button,
.shop-orderview .defaultbutton {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #484848;
	background: url(bgSubmit01.png) repeat-x 0px 0px;
	height: 20px;
	border: none;
	margin: 10px 0px 0px 0px;
	padding: 2px 5px 2px 5px;
}

.shop-basket .element,
.shop-basket .block,
.shop-userregister .element,
.shop-userregister .block,
.shop-confirmorder .element,
.shop-confirmorder .block,
.shop-orderview .element,
.shop-orderview .block {
	padding: 0px 0px 5px 0px;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
}

.shop-basket .element label,
.shop-basket .block label,
.shop-userregister .element label,
.shop-userregister .block label,
.shop-confirmorder .element label,
.shop-confirmorder .block label,
.shop-orderview .element label,
.shop-orderview .block label {
	font-weight: bold;
}

.shop-basket .halfbox,
.shop-basket .box,
.shop-userregister .halfbox,
.shop-userregister .box,
.shop-confirmorder .halfbox,
.shop-confirmorder .box,
.shop-orderview .halfbox,
.shop-orderview .box {
	margin: 0px 0px 5px 0px;
	height: 20px;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #484848;
	border: 1px solid #adadad;
	background: url(bgForm01.png) repeat 0px 0px;
}

.shop-basket select,
.shop-userregister select,
.shop-confirmorder select,
.shop-orderview select,
.shop-orderview select {
	display: block;
	margin: 0px 0px 5px 0px;
	height: 100px;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #484848;
	border: 1px solid #adadad;
	background: url(bgForm01.png) repeat 0px 0px;
}

.shop-basket textarea,
.shop-userregister textarea,
.shop-confirmorder textarea,
.shop-orderview textarea {
	display: block;
	margin: 0px 0px 5px 0px;
	width: 651px;
	height: 200px;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #484848;
	border: 1px solid #adadad;
	background: url(bgForm01.png) repeat 0px 0px;
}





/* ------------------------------------------------------ */
/* PLAN DU SITE */
/* ------------------------------------------------------ */


.content-view-sitemap {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 10px 0px;
	font: normal 12px Arial, Helvetica, sans-serif;
	background: url(puce01.png) no-repeat 0px 2px;
	color: #484848;
}

.content-view-sitemap a {
	color: #484848;
}

.content-view-sitemap a:hover {
	color: #999;
}

.content-view-sitemap h1 {
	height: 40px;
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #adadad;
}

.content-view-sitemap h2 {
	margin: 10px 0px 0px 0px;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
}

.content-view-sitemap li {
	list-style-type: none;
}





/* ------------------------------------------------------ */
/* FORUM */
/* ------------------------------------------------------ */


.content-view-full,
.content-edit {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 10px 0px;
	font: normal 12px Arial, Helvetica, sans-serif;
	background: url(puce01.png) no-repeat 0px 2px;
	color: #484848;
}


.content-view-full a,
.content-edit a {
	color: #484848;
}

.content-view-full a:hover,
.content-edit a:hover {
	color: #999;
}

.content-view-full h1,
.content-edit h1 {
	height: 40px;
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #adadad;
}

.content-view-full h2,
.content-edit h2 {
	margin: 10px 0px 0px 0px;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
}

.content-view-full .block,
.content-edit .block {
	margin: 0px 0px 10px 0px;
}

.content-view-full label,
.content-edit label {
	font-weight: bold;
	display: block;
	margin: 0px 0px 5px 0px;
}

.content-view-full textarea,
.content-edit textarea {
	display: block;
	margin: 0px 0px 5px 0px;
	width: 651px;
	height: 200px;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #484848;
	border: 1px solid #adadad;
	background: url(bgForm01.png) repeat 0px 0px;
}

.content-view-full .inputText01,
.content-edit .inputText01 {
	display: block;
	margin: 0px 0px 5px 0px;
	width: 651px;
	height: 20px;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #484848;
	border: 1px solid #adadad;
	background: url(bgForm01.png) repeat 0px 0px;
}

.content-view-full .button,
.content-edit .button,
.content-view-full .defaultbutton,
.content-edit .defaultbutton {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #484848;
	background: url(bgSubmit01.png) repeat-x 0px 0px;
	height: 20px;
	border: none;
	margin: 10px 0px 0px 0px;
	padding: 2px 5px 2px 5px;
}
.content-action{
	text-align:center;
}
.content-view-full .content-navigator {
	font-weight: bold;
	margin: 0px 0px 20px 0px;
}

.content-view-full .content-navigator .content-navigator-previous,
.content-view-full .content-navigator .content-navigator-previous-disabled,
.content-view-full .content-navigator .content-navigator-previous .content-navigator-arrow,
.content-view-full .content-navigator .content-navigator-previous-disabled .content-navigator-arrow,
.content-view-full .content-navigator .content-navigator-separator,
.content-view-full .content-navigator .content-navigator-separator-disabled,
.content-view-full .content-navigator .content-navigator-forum-link,
.content-view-full .content-navigator .content-navigator-next,
.content-view-full .content-navigator .content-navigator-next-disabled,
.content-view-full .content-navigator .content-navigator-next .content-navigator-arrow,
.content-view-full .content-navigator .content-navigator-next-disabled .content-navigator-arrow {
	display: inline;
}

.content-view-full .list {
	margin: 20px 0px 20px 0px;
}

.content-view-full .list .button {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #484848;
	background: url(bgSubmit01.png) repeat-x 0px 0px;
	height: 20px;
	width: 120px;
	border: none;
	margin: 3px 0px 0px 0px;
	padding: 2px 5px 2px 5px;
}

.content-view-full .list th {
	padding: 5px 3px 5px 3px;
	border: 1px solid #adadad;
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #adadad;
}

.content-view-full .list tr.bglight td,
.content-view-full .list tr.bgdark td {
	padding: 2px 3px 2px 3px;
	border: 1px solid #adadad;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #484848;
	vertical-align: top;
}

.content-view-full .list .date,
.content-view-full .list .author {
	/*color: #999;*/
}
.content-view-full h4
{
margin:10px 0px 0px;
}

.content-view-full .message-warning
{
	padding: 0px 0px 5px 20px;
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #A11215;
}

/* ------------------------------------------------------ */
/* BLOG */
/* ------------------------------------------------------ */

.content-view-line,
.attribute-description,
.attribute-tags,
.attribute-archive,
.calendar {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 10px 0px;
	font: normal 12px Arial, Helvetica, sans-serif;
	background: url(http://www.landes.cci.fr/var/storage/packages/eZ-systems/cci_landes/files/default/img/puce01.png) no-repeat 0px 2px;
	color: #484848;
}

.content-view-line .attribute-body {
	margin: 10px 0px 0px 0px;
}


.content-view-line a,
.attribute-description a,
.attribute-tags a,
.attribute-archive a,
.calendar a {
	color: #484848;
}

.content-view-line a:hover,
.attribute-description a:hover,
.attribute-tags a:hover,
.attribute-archive a:hover,
.calendar a:hover {
	color: #999;
}

.content-view-line h1,
.attribute-description h1,
.attribute-tags h1,
.attribute-archive h1,
.calendar h1 {
	height: 30px;
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #adadad;
}

.content-view-line h2,
.attribute-description h2,
.attribute-tags h2,
.attribute-archive h2,
.calendar h2 {
	margin: 10px 0px 0px 0px;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
}

.attribute-tags ul,
.attribute-archive ul {
	padding: 2px 0px 2px 0px;
	text-transform: uppercase;
}

.attribute-tags li,
.attribute-archive li {
	display: inline;
	list-style-type: none;
	border-right: 1px solid #adadad;
	padding: 0px 5px 0px 5px; 
}

.attribute-tags li.selected,
.attribute-archive li.selected {
	font-weight: bold;
}

.calendar .month {
	font-weight: bold;
	margin: 0px 0px 10px 0px;
	/*width:350px;
	text-align :center;*/
}

.calendar .month .previous,
.calendar .month .next,
.calendar .month .content-month-separator-disabled {
	display: inline;
}
.calendar .month h2{
	display: inline;
}

.calendar .table {
	margin: 10px 0px 10px 0px;
}
.calendar .table table {
	/*width:50%;*/
}
.calendar .table th {
	padding: 5px 3px 5px 3px;
	border: 1px solid #adadad;
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #adadad;
}

.calendar .table td {
	padding: 2px 3px 2px 3px;
	border: 1px solid #adadad;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #484848;
	vertical-align: top;
	text-align: center;
}
/* ------------------------------------------------------ */
/* FORUM */
/* ------------------------------------------------------ */

.forum {
	float: right;
	width: 673px;
	padding: 10px 10px 10px 10px;
	border-top: 1px solid #adadad;
}

.forum a {
	color: #484848;
}

.forum a:hover {
	color: #999;
}

.forum .titre {
	margin: 0px 0px 15px 0px;
}
.forum .description {
	padding: 0px 0px 0px 20px;
	clear: both;
	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	
	color: #484848;
	margin: 0px 0px 10px 0px;
	text-align: justify;
}


.forum .titre h3 {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 10px 0px;
	font: normal 18px Arial, Helvetica, sans-serif;
	background: url(puce01.png) no-repeat 0px 2px;
	color: #484848;
}

.forum .titre h4 {
	padding: 0px 0px 0px 20px;
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #adadad;
}

.forum .titre h5 {
	padding: 0px 0px 0px 20px;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
}

.forum .post {
	padding: 0px 0px 0px 20px;
	clear: both;
	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
	margin: 0px 0px 10px 0px;
	text-align: justify;
}

.forum .post p {
	clear: both;
	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #484848;
	margin: 0px 0px 10px 0px;
	text-align: justify;
}

.forum .post ul {
	margin: 0px 0px 20px 150px;
	
}
/* ------------------------------------------------------ */
/* Revue de presse					  */
/* ------------------------------------------------------ */
.detail .revue_presse
{
	color: #3d61ae;
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 0px 50px ;
	font: normal 12px Arial, Helvetica, sans-serif;
	background: url(puce02.png) no-repeat 0px 2px;
	
}