@charset "utf-8";
/* CSS Document */

body {
	/*behavior:url("css/csshover.htc");*/
}
* {
	margin:0;
	padding:0;
}
html, body, form, fieldset, p, li, input, textarea, a, button {
	font-family: "Tahoma", Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#59452a;
	text-align:left;
}
h1, h2, h3, h4, h5, h6, pre, hr, blockquote, ul, ol, dl, address {
	margin:0;
	padding:0;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, a span, legend span {
	display:none;
}
form label {
	cursor:pointer;
}
fieldset {
	border:none;
}
input, select, textarea {
	font-size:100%;
}
.input, .submit {
	border:none;
}
ul {
	list-style-type:none;
}
.clear, hr {
	clear:both;
	visibility:hidden;
}
.float_l {
	float:left;
}
.float_r {
	float:right;
	margin:5px 0 5px 12px;
}
a img {
	border:none;
}
html {
	background-color:#eeece0;
}
body {
	width:100%;
	height:100%;
	background-image:url(topFondGauche.gif);
	background-repeat:repeat-x;
	background-position:left top;
}
#fondDroit {
	position:absolute;
	background-image:url(topFondDroit.gif);
	background-repeat:repeat-x;
	width:50%;
	height:281px;
	left:50%;
	top:0px;
	z-index:0;
}
#content {
	margin:0 auto;
	width:936px;
	background-image:url(fondContent.gif);
	background-repeat:repeat-y;
	background-position:left top;
	z-index:10;
	position:relative;
}
#entete {
	display:block;
	width:100%;
	height:280px;
	background-image:url(bandeau.gif);
}
a#logo {
	text-indent:-9999px;
	position:absolute;
	width:86px; /*90px*/
	height:86px; /*87px*/
	left:25px;
	top:14px;
	z-index:14;
	background:url(logo.png) no-repeat left top !important;
	background:none;
 filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://cci-moulins-2008.nemo.subsend.net/deploy/public/gfx/decors/logo.png", sizingMethod="crop");
}
a#cci {
	position:absolute;
	width:346px;
	height:35px;
	background:url(cci.gif) no-repeat left top;
	text-indent:-9999px;
	left:126px;
	top:23px;
	z-index:12;
}
img#veritas {
	position: absolute;
	top: 0;
	left: 600px;
}
#recherche {
	display:block;
	position:relative;
	float:right;
	width:170px;
	height:37px;
	margin-top:6px;
	margin-right:6px;
}
#recherche label {
	color:#6c491d;
	font-weight:bold;
	text-transform:uppercase;
	font-size:9px;
}
#recherche input {
	width:114px;
	height:14px;
	background-color:#fff;
	/*float:left;*/
	border-style:solid;
	border-width:1px;
	border-top-color:#999999;
	border-left-color:#999999;
	border-right-color:#764a27;
	border-bottom-color:#764a27;
	padding:1px 2px 0 2px;
	vertical-align:middle;
	/*margin-top:4px;*/
   margin-top:-4px;
}
#recherche input.submit {
	background:none;
	border:none;
	width:38px;
	height:28px;
	background:url(btnOk.gif) no-repeat left top;
	margin-top:0px;
	/*margin-left:3px;*/
	font-size:1px;
	line-height:0;
}
ul#navigation {
	display:block;
	float:right;
	height:21px;
	background-color:#b5ce5e;
	background-image:url(courbeNav.gif);
	background-repeat:no-repeat;
	background-position:left bottom;
	padding-left:55px;
	margin-top:6px;
	margin-right:6px;
	_margin-right:3px;
	clear:right;
	_margin-top:2px;
}
ul#navigation li {
	float:left;
	margin-right:0px;
	margin-top:7px;
}
ul#navigation li a {
	background-image:url(puceNav.gif);
	background-repeat:no-repeat;
	background-position:2px 5px;
	text-decoration:none;
	color:#FFFFFF;
	font-size:9px;
	text-transform:uppercase;
	padding:2px 2px 2px 11px;
	margin-right:10px;
}
ul#navigation li a:hover {
	text-decoration:none;
	background-color:#789a1f;
}
#fresque {
	width:921px;
	height:192px;
	background-image:url(fresque.jpg);
	background-repeat:no-repeat;
	font-size:1px;
	line-height:0;
	display:block;
	position:absolute;
	top:78px;
	left:8px;
	z-index:5;
	_top:0;
	_left:0;
	_position:relative;
	_margin:8px 0 26px 8px;
}
.position1 {
	background-position:left top;
}
.position2 {
	background-position:left -192px;
}
.position3 {
	background-position:left -384px;
}
.position4 {
	background-position:left -576px;
}
.position5 {
	background-position:left -768px;
}
.position6 {
	background-position:left -960px;
}
.position7 {
	background-position:left bottom;
}
#accroche {
	background:url(accroche.gif) no-repeat left top;
	width:564px;
	height:77px;
	display:block;
	position:absolute;
	right:100px;
	top:206px;
	z-index:8;
}
#menu {
	background:url(flexMenu.gif) repeat-y left top;
	width:198px;
	height:auto;
	left:27px;
	top:138px;
	position:absolute;
	z-index:10;
}
#menu #topMenu {
	background:url(topMenu.gif) no-repeat left top;
	width:198px;
	height:5px;
	font-size:1px;
	line-height:0;
	margin:0;
	padding:0;
}
#menu #bottomMenu {
	background:url(bottomMenu.gif) no-repeat left bottom;
	width:198px;
	height:5px;
	margin:0px;
	font-size:1px;
	line-height:0;
}
#menu ul.n1 {
	background:url(joyauMenu.gif) no-repeat 11px 5px;
	margin:0px 5px 0px 5px;
	padding:6px 5px 12px 12px;
}
#menu ul.n1.active {
	background-color:#f7f6f0;
}
#menu ul.n1 li {
	line-height:17px;
}
#menu ul.n1 li h1 {
	margin-left:20px;
	font-family:"Courier New", Courier, monospace;
	font-size:14px;
	color:#6c491d;
	text-decoration:none;
	width:151px;
}
#menu ul.n1 li ul.n2 {
	margin-left:0px;
	margin-top:5px;
}
#menu ul.n1 li ul.n2 li {
	line-height:9px;
}
#menu ul.n1 li ul.n2 li span {
	background-image:url(puceMenu.gif);
	background-position:3px 4px;
	background-repeat:no-repeat;
	padding-left:13px;
	padding-right:3px;
	font-size:11px;
	/*text-transform:capitalize;*/
}
#menu ul.n1 li ul.n2 li span:hover, #menu ul.n1 li ul.n2 li span.active, #menu ul.n1 li ul.n2 li span.hackhover {
	color: #FFFFFF;
	background-color:#a9bf53;
	font-weight:bold;
    cursor: pointer;
	background-image: url(puceMenu2.gif);
}
#menu ul.n1 li ul.n2 li ul.n3 {
	margin-bottom:10px;
}
#menu ul.n1 li ul.n2 li ul.n3 li {
	background:none;
	margin-left:13px;
	line-height:14px;
}
#menu ul.n1 li ul.n2 li ul.n3 li a {
	color:#96897d;
	background:url(dotLink.gif) repeat-x left bottom;
	text-decoration:none;
	/*text-transform:capitalize;*/
	font-size:10px;
	padding:0 1px 1px 1px;
}
#menu ul.n1 li ul.n2 li ul.n3 li a:hover, #menu ul.n1 li ul.n2 li ul.n3 li a.active {
	color:#FFFFFF;
	background-color:#a9bf53;
	background-image:none;
}
.masked {
	display:none;
}
#menu .sepMenu {
	width:188px;
	height:2px;
	display:block;
	clear:left;
	background:url(sepMenu.gif) repeat-x left top;
	margin-left:5px;
	font-size:1px;
	line-height:0;
}
#corps {
	width:568px;
	background:url(fondActu.gif) repeat-x left top;
	padding:20px 90px 0 260px;
	margin-left:10px;
	margin-top:22px;
	font-size:12px;
	line-height:15px;
}
#corps h1 {
	background:url(puceTitreArticle.gif) no-repeat left 3px;
	padding:0px 0 0 27px;
	font-family:"Courier New", Courier, monospace;
	font-size:24px;
	color:#6c491d;
	line-height:28px;
}
#corps .blocContact h3 {
	font-family:"Courier New", Courier, monospace;
	font-size:18px;
	text-transform:capitalize;
	color:#f49300;
}
#corps .article {
	height:auto;
	color:#59452a;
	font-size:12px;
	float:left;
	width: 568px;
}
#corps .plusimage {
	width:388px;
}
a.lireSuite {
	display:block;
	background-image: url(btnLireSuite.gif);
	background-repeat:no-repeat;
	background-position:left top;
	text-decoration:none;
	color:#ab9c8f;
	text-indent:-9999px;
	width:92px;
	height:28px;
	margin:10px 0 5px 0;
}
a.lireSuite:hover {
	background-position:left -28px;
	text-decoration:none;
}
a.retour {
	display:block;
	clear:left;
	background-image:url(btnRetour.gif);
	background-repeat:no-repeat;
	background-position:left top;
	text-decoration:none;
	color:#ab9c8f;
	text-indent:-9999px;
	width:64px;
	height:28px;
	margin:10px 0 5px 0;
}
a.retour:hover {
	background-position:left -28px;
	text-decoration:none;
}
a.planAcces {
	display:block;
	clear:left;
	background-image:url(btnPlanAcces2.gif);
	background-repeat:no-repeat;
	background-position:left top;
	text-decoration:none;
	color:#ab9c8f;
	text-indent:-9999px;
	width:92px;
	height:28px;
	margin:10px 0 5px 0;
}
a.planAcces:hover {
	background-position:left -28px;
	text-decoration:none;
}
a.savoirPlus {
	display:block;
	clear:left;
	background-image:url(btnSavoirPlus.gif);
	background-repeat:no-repeat;
	background-position:left top;
	text-decoration:none;
	color:#ab9c8f;
	text-indent:-9999px;
	width:102px;
	height:28px;
	margin:10px 0 5px 0;
}
a.savoirPlus:hover {
	background-position:left -28px;
	text-decoration:none;
}
a.telecharger {
	display:block;
	clear:left;
	background-image:url(btnTelecharger.gif);
	background-repeat:no-repeat;
	background-position:left top;
	text-decoration:none;
	color:#ab9c8f;
	text-indent:-9999px;
	width:92px;
	height:28px;
	margin:10px 0 5px 0;
}
a.telecharger:hover {
	background-position:left -28px;
	text-decoration:none;
}
#corps .article .categorie {
	background-image:url(puceArticle.gif);
	background-repeat:no-repeat;
	background-position:2px 4px;
	color:#eeece0;
	background-color:#59452a;
	padding:0 1px 0 12px;
	font-size:10px;
	font-weight:bold;
}
#corps .article h2 {
	background:none;
	padding:0;
	color:#f49300;
	font-family:"Courier New", Courier, monospace;
	font-size:14px;
}
#corps .intro {
	color:#ab9c8f;
	line-height:14px;
}
#corps .imgUser, #corps .imgUser2 {
	display:block;
	background-color:#fffffd;
	border:1px solid #59452a;
	text-align:center;
	width:149px;
	height:97px;
	padding:4px;
	margin:0 20px 20px 0;
	float:left;
	position: relative;
}
#corps .imgUser2 {
	margin: 0;
}
#corps .imgUser2 img.rollover {
	cursor: pointer;
}
#corps .imgUser2 a.rollover, #corps .imgUser a.rollover, #imagerollover a.rollover-close {
	position: absolute;
	top: -1px;
	right: -1px;
	color: #59452A;
	font-family: Verdana;
	font-weight: bold;
	font-size: 15px;
	line-height: 13px;
	text-decoration: none;
	background-color: #a9bf53;
	padding: 0 1px 2px 2px;
	margin:1px 1px 0 0;
	_margin-right:0px;
	border-left: 1px solid #59452A;
	border-bottom: 1px solid #59452A;
}
#imagerollover a.rollover-close {	_margin-right:1px;}
#corps .imgUser2 a.rollover:hover, #corps .imgUser a.rollover, #imagerollover a.rollover-close:hover { color: #ffffff; }
.multipleImage {
	clear:left;
	width:565px;
	height:105px;
	margin:10px 0;
}
.multipleImage .push {
	display:block;
	width:44px;
	height:90px;
	float:left;
}
#corps p {
	margin: 5px 0;
}
#corps ul {
	margin: 5px 0 5px 15px;
	list-style-position: inside;
	list-style-type: disc;
}
#corps ul li { font-size: 12px; }
#corps .sepArticle {
	clear:both;
	font-size:1px;
	line-height:0;
	background:url(separateur.gif) repeat-x left 8px;
	height:30px;
	width:100%;
}
#corps .blocContact {
	display:block;
	float:left;
	width:230px;
	height:130px;
}
.coordonnees {
	font-size:10px;
}
#contentBottom {
	background: url(footerContent.gif) no-repeat left bottom;
	width:936px;
	height:38px;
	margin:0 auto;
}
#footer {
	background:url(fondFooter.gif) repeat-x left top;
	width:100%;
	height:203px;
	position:relative;
	left:Opx;
	margin:45px auto 0px auto;
	font-size:11px;
	color:#fffffd;
}
#footer #blocFooter {
	margin:0 auto;
	padding:12px 0 0 30px;
	width:906px;
}
#blocFooter .blocContact {
	width:280px;
	float:left;
	height:160px;
}
#blocFooter .blocContact h1 {
	font-family:"Courier New", Courier, monospace;
	font-size:18px;
	color:#fffffd;
}
#footer a {
	display:block;
	background-image: url(btnCliquezIci.gif);
	background-repeat:no-repeat;
	background-position:left top;
	text-indent:-9999px;
	text-decoration:none;
	color:#fffffd;
	width:92px;
	height:27px;
	margin:5px 0 0 0;
	padding:0;
}
#footer a:hover {
	background-position:left bottom;
	text-decoration:none;
}
#footer a.plan {
	display:block;
	background-image:url(btnPlanAcces.gif);
	background-repeat:no-repeat;
	background-position:left top;
	text-indent:-9999px;
	text-decoration:none;
	color:#fffffd;
	width:93px;
	height:27px;
	margin:5px 0 0 0;
	padding:0;
}
#footer a.plan:hover {
	background-position:left bottom;
	text-decoration:none;
}
.sepFooter {
	width:2px;
	height:136px;
	float:left;
	background:url(sepFooter.gif) no-repeat left top;
	font-size:1px;
	line-height:0;
	margin-right:30px;
}
#blocForm {
	width:535px;
	_width:465px;
	background-color:#f7f6ef;
	padding:20px 10px 10px 20px;
	position:relative;
}
#blocForm div {
	float:left;
	margin-bottom:10px;
	margin-right:35px;
}
#blocForm .titreForm {
	background:none;
	padding:0;
	font-family:"Courier New", Courier, monospace;
	font-size:14px;
	color:#6c491d;
	margin-bottom:10px;
    width: 100%;
}
#blocForm form {
	width:420px;
}
#blocForm label {
	font-size:11px;
	color:#6c491d;
	float:left;
	width:55px;
	height:14px;
}
#blocForm input, #blocForm textarea {
	background-color:#FFFFFF;
	border-style:solid;
	border-width:1px;
	border-top-color:#999999;
	border-left-color:#999999;
	border-right-color:#764a27;
	border-bottom-color:#764a27;
	padding:1px 2px 0 2px;
}
#blocForm input {
    width:110px;
    height:13px;
    font-size:10px;
}
#blocForm input.box {
    width: auto;
    height: auto;
    margin-left: 10px;
	border:none;
	background:none;
}
#blocForm input.erreur, #blocForm textarea.erreur {
	background-color:#ffdd00;
	border-style:solid;
	border-width:1px;
	border-top-color:#999999;
	border-left-color:#999999;
	border-right-color:#764a27;
	border-bottom-color:#764a27;
}
#blocForm input.submit {
	background: url(btnEnvoyer.gif) no-repeat left top;
	width:70px;
	height:29px;
	text-indent:-9999px;
	font-size:1px;
	line-height:0;
	border:none;
}
#blocForm textarea {
	width:371px;
	_width:378px;
	height:67px;
	margin-bottom:10px;
	overflow:auto;
}
div#erreurForm {
	background:url(erreur.gif) no-repeat left top;
	height:50px;
	margin-right:10px;
	padding:12px 9px 4px 32px;
	width:93px;
	position:absolute;
	right:0px;
	bottom:0px;
	font-size:10px;
}
p#okForm {
    background-color: #b5ce5e;
    text-align: center;
    padding:5px;
}
#corps ul.pagination {
	font-size:10px;
	font-weight:bold;
	text-transform:uppercase;
	margin:0;
	padding:0;
	width:565px;
}
#corps ul.pagination li {
	color:#ab9c8f;
	float:left;
	margin:0 1px;
	padding:0;
	list-style: none;
}
#corps ul.pagination li a {
	padding:2px;
	color:#ab9c8f;
	text-decoration:none;
	height:14px;
}
#corps ul.pagination li a:hover, #corps ul.pagination li a.active {
	background-color:#f59600;
	color:#fffffd;
}
#corps ul.pagination li.page {
	color:#6c491d;
}
#corps .blocMag {
	background-color:#f7f6ef;
	width:179px;
	height:220px;
	text-align:center;
	color:#6c491d;
	font-weight:bold;
	float:left;
	margin:0 0px 15px 0;
}
#corps .blocMag img {
	border:1px solid #ab9c8f;
	width:120px;
	height:167px;
	margin:8px 25px;
}
#corps .blocMag a {
	color:#a9bf53;
	font-size:12px;
	text-decoration:none;
}
#corps .blocMag a:hover {
	color:#77863c;
	text-decoration:underline;
}
#corps .sepMag {
	width:15px;
	height:100px;
	float:left;
}
.nbReponse { background-color:#eeece0; margin:20px 0 0 0; padding:3px; font-weight:bold;}
.recherche { display:block; clear:left; margin:10px 0; font-size:10px;}
#corps ul.recherche li { float:left;}
#corps ul.recherche li a.consulter, #corps ul li a.telecharger  {
	background: url(btnConsulter.gif) no-repeat left top;
	width:92px;
	height:29px;
	text-indent:-9999px;
	border:none;
	display:block;
	margin:0;
	padding:0;
}
#corps ul.recherche li a.consulter:hover { 
	background-position:left bottom;
}
#corps ul.recherche li a.telecharger {
	background: url(btnTelecharger.gif) no-repeat left top;
}
#corps ul.recherche li a.telecharger:hover { 
	background-position:left bottom;
}
#corps b {color:#f5a020;}
#corps .sepRecherche {
	clear:both;
	font-size:1px;
	line-height:0;
	background:url(separateur.gif) repeat-x left 8px;
	height:12px;
	width:100%;
}
#corps .video { display:block; clear:both; margin:10px 0; text-align:center;}

#imagerollover {
	position: absolute;
	background-color: #ffffff;
	border: 1px solid #59452A;
	padding: 5px;
	z-index: 100000;
	display: none;
}
#imagerollover a.rollover-close { background-color: #f59500; padding: 0pt 3px 2px 4px; }
