/* MENU CONTEXTUEL */
.rubrique-no { }
	.rubrique-no a { color:#FFF; display:block; padding:12px 10px 12px 18px; margin:0 0 1px 0; text-transform:uppercase; font-size:1.2em; font-weight:bold; }
		.rubrique-no a:hover { text-decoration:underline; }

	#menu_6 { background:#82A6D8; }
		a#menu_6:hover { background:#003; }
	#menu_7 { background:#6387BA; }
		a#menu_7:hover { background:#003; }
	#menu_8 { background:#5175A8; }
		a#menu_8:hover { background:#003; }
	#menu_9 { background:#3B5E90; }
		a#menu_9:hover { background:#003; }
	#menu_10 { background:#294B7B; }
		a#menu_10:hover { background:#003; }
	#menu_11 { background:#1F3F6B; }
		a#menu_11:hover { background:#003; }
	#menu_16 { background:#9AB4EC; }
	.rubrique-no a#menu_16 { display:none; }
.rubrique-act { }
	.rubrique-act a { color:#FFF; display:block; padding:12px 10px 12px 18px; margin:0; text-transform:uppercase; font-size:1.2em; font-weight:bold; }
	.sousrubriques { background:#B4CBEB; }
		.sousrubriques a { padding:3px 5px 3px 38px; font-size:1em; text-transform:none; color:#5D79B3; }
			.sousrubriques a:hover { text-decoration:underline; } 
				.sousrub-no a { background:url(sousrubnoa.gif) 23px 6px no-repeat; }
				.sousrub-act a { font-weight:bold; color:#2F5386; background:url(sousrubacta.gif) 23px 6px no-repeat;}
					.soussousrub-no a { padding:3px 10px 3px 60px; background:none; font-weight:normal;  }
						.soussousrub-no a:hover { background:#0069A1; }
					.soussousrub-act a { padding:3px 10px 3px 60px; background:none; color:#0069A1; }

/* MENU GAUCHE */
#agences { height:61px; margin:0 12px 14px 15px; }
#verifier { height:61px; margin:0 24px 12px 15px; }
#videos { height:61px; margin:0 24px 0 15px; }
