/* les fiches (=fiche) : =annuaireksup, =annuaireetudiants, =annuaireanciensetudiants, =defautstructureksup, =formation, =ueup, =cours, =associationetudiant, =offresstagesemplois */

/*** surcharge =Annuaireksup  ***/
body.annuaireksup h2{
/*border-bottom : 1px solid #cbadb5;*/
margin-bottom : 0;
padding-bottom : 8px;
}


/* *** Listes d'affichage *** */
ul.liste-offresstagesemplois li{
border-top : 1px solid #cbadb5;
clear : left;
list-style-type : none;
margin : 0;
padding : 10px 0;
}

ul.liste-offresstagesemplois li a{
padding-left : 0;
}

ul.liste-offresstagesemplois li span{
display : block;
}

ul.liste-offresstagesemplois em{
font-size : 1.1em;
font-style : normal;
font-weight : 700;
margin : 0;
padding : 0;
}

ul.liste-offresstagesemplois span.date-liste{
color : #222e44;
}

ul.liste-offresstagesemplois p{
font-size : 1em;
margin : 0;
padding : 0;
}


/**********************
	=Fiche =Annuaireksup =Annuaire
***********************/
body.annuaireksup #fonction{
border-bottom : 1px solid #cbadb5;
padding : 8px 32px 8px 0;
}

body.annuaireksup #type_personnel{
border-bottom : 1px solid #cbadb5;
border-top : 1px solid #cbadb5;
color : #778aaa;
font-size : xx-small;
margin-top : 3px;
padding : 2px 0;
}

body.annuaireksup .photo{
background : #fff;
float : right;
margin-left : 10px;
text-align : right;
}

body.annuaireksup dl.type_2{
background-color : transparent;
border-top : 0;
}


/**********************
	=Fiche =Annuaireetudiants =Annuaire
***********************/
body.annuaireetudiants #date_naissance{
border-bottom : 1px solid #cbadb5;
border-top : 1px solid #cbadb5;
color : #778aaa;
font-size : xx-small;
font-weight : normal;
margin : 8px 0;
}

body.annuaireetudiants .photo{
background : #fff;
float : right;
margin-left : 10px;
position : relative;
text-align : right;
z-index : 5;
}

body.annuaireetudiants dl.type_2{
background-color : transparent;
}


/**********************
	=Fiche =Annuaireanciensetudiants =Annuaire
***********************/
body.annuaireanciensetudiants #date_naissance{
border-bottom : 1px solid #cbadb5;
border-top : 1px solid #cbadb5;
color : #778aaa;
font-size : xx-small;
margin : 8px 0;
}

body.annuaireanciensetudiants .photo{
background : #fff;
float : right;
margin-left : 10px;
text-align : right;
}

body.annuaireanciensetudiants dl.type_2{
background-color : transparent;
}


/******************************************
	=Fiche =DefautStructureksup =Structure
******************************************/
body.defaultstructureksup .photo{
float : right;
margin : 1em 0 0 10px;
}

body.defaultstructureksup p#type_structure{
border-bottom : 1px solid #cbadb5;
border-top : 1px solid #cbadb5;
color : #778aaa;
font-size : xx-small;
margin : 8px 0;
}

body.defaultstructureksup ul#onglets li#actif{
}

body.defaultstructureksup ul#onglets li#actif a{
}

body.defaultstructureksup .contenu_onglet1,
body.defaultstructureksup .contenu_onglet2,
body.defaultstructureksup .contenu_onglet3{
display: none;
}

body.defaultstructureksup #onglet_actif{
display: block;
}

/******************************************
	=Fiche =Laboratoire =Structure
******************************************/
body.laboratoire .photo{
float : right;
/*margin : 1em 0 10px;*/
margin : 30px 0 10px;
}

body.laboratoire p#type_laboratoire{
border-bottom : 1px solid #cbadb5;
border-top : 1px solid #cbadb5;
color : #778aaa;
font-size : xx-small;
margin : 8px 0;
}

/******************************************
	=Fiche =Formation
******************************************/
body.formation .stage_important{
color : #ff6120;
}

/* Classes pour les onglets */

div#contenu_avec_encadres ul#onglets,
div#contenu_sans_encadres ul#onglets{
border-bottom: 1px solid;
font-weight : 700;
height: 20px;
margin-bottom : 1em;
margin-left: 0;
padding-left : 0;
width : 588px;
}

ul#onglets li{
float : left;
list-style : none;
margin: 0 2px 0 0;
text-align: center;
}

body.formation ul#onglets li{
width: 96px;
}

body.formation ul#onglets li.onglet6,
body.defaultstructureksup ul#onglets li.onglet3{
margin: 0;
}

body.defaultstructureksup ul#onglets li{
width: 194px;
}

ul#onglets a{
background: no-repeat 0 0;
display : block;
margin : 0;
line-height: 20px;
text-decoration: none;
}

ul#onglets a:focus{
outline: none;
}

body.formation ul#onglets li#actif{
}

body.formation ul#onglets li#actif a{
}

body.formation .contenu_onglet1,
body.formation .contenu_onglet2,
body.formation .contenu_onglet3,
body.formation .contenu_onglet4,
body.formation .contenu_onglet5,
body.formation .contenu_onglet6{
display: none;
}

body.formation #onglet_actif{
display: block;
}

body.formation h3.presentation{
border-left : 1px solid #262546;
color : #262546;
display : inline;
font-size : 1em;
margin : 0 0 0 0.5em;
padding-left : 0.5em;
}

body.formation dl.presentation{
border-left : 1px solid #9C9D9F;
float : left;
margin-left : 0.5em;
margin-top : 0;
padding-left : 0.5em;
}


body.formation h3.premier_bloc{
border-left : 0;
margin : 0;
padding-left : 0;
}

body.formation dl.premier_bloc{
border-left : 0;
margin-left : 0;
margin-right : 0.5em;
padding-left : 0;
padding-right : 0.5em;
}


body.formation dl.presentation dt{
}

body.formation dl.presentation dd{
}

dl.type_1 .liste_def_continue,
dl.type_1 .liste_def_alternance,
dl.type_1 .liste_def_apprentissage,
dl.type_1 .liste_def_distance,
dl.type_1 .liste_def_poursuite_etudes,
dl.type_1 .liste_def_debouches,
dl.type_1 .liste_def_secteurs_activites,
dl.type_1 .liste_def_metiers,
dl.type_1 .liste_def_echanges_internationaux,
dl.type_1 .liste_def_domaines_erasmus,
dl.type_1 .liste_def_langues_enseignement{
}

/*body.formation dl.type_1 dd{
min-height : 2.5em;
}*/

/* hack CSS pour IE */
* html body.formation dl.type_1 dd{
height : 2.5em;
}

body.formation h3.et_apres{
color : #332e44;
font-size : 1.1em;
margin-bottom : 0.3em;
}

body.formation #parcours .para-an h3{
color : #000000;
margin-bottom: 5px;
text-transform: uppercase;
text-decoration : underline;
}

body.formation a#telechargez{
font-weight: 700;
margin-left: 15px;
}

/**********************
	=Fiche =Ueup
***********************/
/*body.ueup table#details, body.ueup table#volumes_horaires{
border-top : 1px solid #cbadb5;
float : left;
padding-top : 7px;
}*/

/*body.ueup table#details{
width : 60%;
}

body.ueup table#volumes_horaires{
width : 40%;
}*/


body.ueup table#details th,
body.ueup table#volumes_horaires th{
color: #00818c;
text-align : right;
vertical-align: top;
}

body.ueup table#details td, body.ueup table#volumes_horaires td{
/*color : #b41e1e;*/
font-weight: 700;
padding-left : 0.7em;
text-align : left;
}

body.ueup table#details th{
width : 50%;	
}

body.ueup table#volumes_horaires th{
width : 65%;
}

body.ueup .style4_contenu{
float: left;
}

/**********************
	=Fiche =Cours
***********************/
body.cours #disciplines{
border-bottom : 1px solid #cbadb5;
border-top : 1px solid #cbadb5;
color : #778aaa;
font-size : xx-small;
margin : 8px 0;
}

body.cours table#volumes_horaires, body.cours table#coefs{
border-top : 1px solid #cbadb5;
float : left;
padding-top : 7px;
}
body.cours table#volumes_horaires{
width : 60%;
}

body.cours table#coefs{
width : 40%;
}

body.cours table#volumes_horaires th, body.cours table#coefs th{
text-align : right;
width : 50%;
}

body.cours table#volumes_horaires td, body.cours table#coefs td{
color : #b41e1e;
padding-left : 0.7em;
text-align : left;
}

/**********************
	=Fiche =Associationetudiant
***********************/
body.associationetudiant #types_association{
border-bottom : 1px solid #cbadb5;
border-top : 1px solid #cbadb5;
color : #778aaa;
font-size : xx-small;
margin : 8px 0;
}

body.associationetudiant #objet{
margin-bottom : 1.5em;
text-align : justify;
}

body.associationetudiant .photo{
background : #fff;
float : right;
margin: 0;
padding: 0 0 0 10px;
text-align : right;
}


/******************************************
	=Fiche =Offresstagesemplois
******************************************/
body.offresstagesemplois #type{
border-bottom : 1px solid #cbadb5;
border-top : 1px solid #cbadb5;
color : #778aaa;
font-size : xx-small;
margin : 8px 0;
}

body.offresstagesemplois #descriptif{
margin-bottom : 1.5em;
}

body.offresstagesemplois dl.type_1 .liste_def_debut,
body.offresstagesemplois dl.type_1 .liste_def_duree,
body.offresstagesemplois dl.type_1 .liste_def_date_limite{
border-top : 1px solid #cbadb5;
}

body.offresstagesemplois dl.type_1 .decaller{
}

body.offresstagesemplois .centrer{
text-align : center;
}
