body{
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	background-color:#B8B8B8;

}

.Margin0
{
	"margin-bottom:0px;
	margin-top:0px;
	margin-right:0px;
	margin-left:0px;"
}


.Font1
{
	font-size:10px;
	color: #000000;
	width:80px;
	height:18px;
	font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:bold;
}

.border1
{
	border:1 solid #cccccc;
}

.Border2
{
	border:1; colors:#000000;
}

.Font2
{
	font-family:verdana, helvetica, sans serif;
	font-size:10px;
	color: #000000;
	width:85px;
	height:16px;
}

.lienvert{
color:#1598cc;
}
.lienvert:hover{
color:#cdd92d;
}