*
{
	padding:0px;
	margin:0px;
	outline:none;
	font-family:arial,verdana,helvetica;
}


#horodatage {
	width:100%;
	margin-left:85%;
	background: #fff;
	font-family:arial,verdana,helvetica;
	font-size:11px;
	color:#000;
}


#container
{
	display : block;
	width : 100%;
}

#container2
{
	display : block;
	width : 100%;
}
img
{
border-width:0px;
}

#header
{
	display:block;
	width:100%;
	height:34px;
}


#chemin
{
	margin-bottom:10px;
	margin-left:10px;
	font-size:10px;
}


#header img.logo
{
	position:absolute;
	border:0px;
	width: 241px;
	height:34px;
}

#client
{
display:none;
}

#search
{
	display:none;
}
#search_picto
{
	display:none;
}
#txt_search
{
	display:none;
}
#rubrique_search
{
	display:none;
}
#visite
{
	display:none;
}

#ProductSelector
{
	display:none;
}

#center
 {
	display:block;
	width:100%;
	background:#fff;
}

#center_part_1
{
display:none;
}

#center_part_2
{
	display:block;
	width:100%;
}

#contenu
{
width:100%;
margin:10px 5px;
background: #fff;
font-family:arial,verdana,helvetica;
font-size:11px;
color:#000;
}

#chemin
{
	margin-left:10px;
	font-size:10px;
}

#chemin a
{
	color:#000
}

#center_part_3
{
	display:none;
}




#footer
{
	margin-bottom:5px;
	clear:both;
	display:block;
	width:100%;
	background:#fff;
	height:46px;
	text-align:center;
	padding:10px 0px;
	font:11px Arial, Helvetica, sans-serif;
}

#footer img
{
	position:relative;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
}

#footer a
{
text-decoration:none;
color:#000;
}

#footer a:hover
{
text-decoration:underline;
color:#000;
}

/* amélioration liste */
table#liste td.topliste
{
	display:none;
}

table#liste td.bottomliste
{
	display:none;
}


table#liste td.listefilet
{
	display:none;
}


/*debut search*/
table.intro650
{
border-bottom:1px solid #D5D5D5;
width:650px;
height:25px;
margin-bottom:15px
}


h1.homesearch
{
display:inline;
font-size:14px;
font-weight:bold;
font-family:arial,verdana,helvetica;
color:#4A9DA5;
background:none
}


table.searchresult
{
width:95%;
margin-top:15px;
}

td.borderleft1pxBEC
{
border-left:1px solid #BEC3CA;
}


td.resultprod
{
width:33%;
padding:3px 5px 5px 15px;	
border-right:1px solid #fff;
}

td.resultprod2
{
width:33%;
padding:3px 5px 5px 15px;	
border-right:1px solid #BEC3CA;
}

td.hautresultsearch
{
height:32px;
vertical-align:middle;
color:#000;
text-transform:uppercase;
font-size:12px;
font-weight:bold;
padding-left:30px;
font-family:arial,verdana,hevetica;
border:1px solid #BEC3CA;
}

td.hautresultsearch img
{
display:none
}

td.basresultsearch
{
height:39px;
vertical-align:middle;
color:#fff;
padding-left:20px;
border:1px solid #BEC3CA;
}


td.nbrresultsearch
{
font-size:11px;
color:#000;
border-bottom:1px solid #BEC3CA;
border-right:1px solid #BEC3CA;
border-left:1px solid #BEC3CA;
padding:3px 5px 5px 40px;	
}

td.titleproduit
{
font-size:11px;
color:#FF5400;
border-left:1px solid #BEC3CA;
border-bottom:1px solid #BEC3CA;
padding:3px 0px 3px 15px;
width:300px;
}

td.titlefamille
{
font-size:11px;
color:#FF5400;
border-bottom:1px solid #BEC3CA;
padding:3px 0px 3px 0px;
width:250px;
}

td.titlepertinence
{	
font-size:11px;
color:#FF5400;
border-right:1px solid #BEC3CA;
border-bottom:1px solid #BEC3CA;
padding:3px 0px 3px 0px;
width:100px;
}

td.pourcent
{
border-right:1px solid #BEC3CA;
color:#4A9DA5;
padding: 2px 0px 2px 30px;
}

td.lexiqueresult
{
padding:2px 5px 2px 15px;
border-left:1px solid #BEC3CA;
border-right:1px solid #BEC3CA;
width:650px;
}

td.familleresult
{
padding:2px 5px 2px 0px;
}

td.intituleresult
{
padding:2px 5px 2px 15px;
border-left:1px solid #BEC3CA;
}

a.resultsearch
{
color:#000;
text-decoration:none
}

a.resultsearch:hover
{
color:#000;
text-decoration:underline
}
/* fin search*/


/*debut univers*/
img.universvisu
{
display:block;
width:130px;
height:130px;
margin-bottom:10px;
margin-right:auto;
margin-left:auto;
}


table#univers
{
width:95%;
margin-bottom:50px;
}

table#univers td
{
width:25%;
vertical-align:top;
text-align:center;
padding-top:15px;
padding-bottom:15px;
border-bottom:1px solid #D5D5D5
}

table#univers a
{
color:#000;
font-weight:bold;
text-decoration:none;

}

table#univers a:hover
{
color:#000;
font-weight:bold;
text-decoration:underline;
}

table#univers a.nombre
{
color:#47A2AB;
text-decoration:none;
margin-left:5px
}

table#univers a.nombre:hover
{
color:#47A2AB;
text-decoration:underline;
}

table#univers td.noborderbottom
{
border-bottom:0px
}

.catbloc
{
display:block;
float:left;
margin-left:10px;
height:130px;
}
/*fin univers*/


/*debut categorie*/
img.catvisu
{
display:block;
width:130px;
height:130px;
margin-bottom:10px
}

table#categorie
{
width:95%;
margin-left:30px;
margin-bottom:15px;
}

table#categorie td
{
width:25%;
vertical-align:top;
text-align:center;
padding-bottom:15px
}

table#categorie a
{
color:#000;
font-weight:bold;
text-decoration:none;
}


table#categorie a.nombre
{
color:#47A2AB;
text-decoration:none;
margin-left:5px;
}


.puceprod
{
padding-left:0px;
}

.pucenouveautes
{
padding-left:0px;
}

.catbloc
{
display:block;
float:left;
margin-left:10px;
height:130px;
}


td.economie
{
background:#C40571;
float:left;
color:#fff;
font-weight:bold;
padding:3px;
text-align:center;
}

.prixbarre14
{
font-size:14px;
font-weight:bold;
font-family:arial,verdana,helvetica;
text-decoration:line-through;
color:#000;
}

.prixblocrouge24
{
font-size:24px;
font-weight:bold;
font-family:arial,verdana,helvetica;
color:#FF4200;
}

a.titreprodbloc
{
font-size:18px;
color:#DF0125;
text-decoration:none;
font-weight:bold;
}

a.titreprodbloc:hover
{
font-size:18px;
color:#DF0125;
text-decoration:underline;
font-weight:bold;
}
/*fin categorie*/

/*debut fiche produit*/

.pictoeimprimer
{
}

.pictoenvoyer
{
}

.pictorechercher
{
}


a.fppicto
{
display:none
}


a.fppictovoir
{
display:none
}


.fpprixbarre
{
display:block;
margin-top:10px;
font-size:11px;
color:#000;
font-weight:bold;
text-decoration:line-through;
}


.fpprixprod
{
display:block;
font-size:30px;
font-weight:bold;
color:#000;
}

.fpaccrocheprod
{
color:#4A9DA5;
font-weight:bold;
display:block;
margin:5px 0px
}


table#fppictoprod
{
margin:5px 0px;
}

table#fppictoprod td
{
padding:2px 3px;
text-align:center;
vertical-align:top;
}


div.fpbtcaracteristiques
{
border-bottom:1px solid #4A9DA5;
width:650px;
height:33px;
}

img.fpbtcaracteristiques
{
display:block;
float:left;
margin-right:2px;
}

td.fptitrecaracteristiques
{
font-family:arial,verdana,helvetica;
font-weight:bold;
font-size:11px;
color:#767980;
border-left:1px solid #B6B6B6;
border-bottom:1px solid #B6B6B6;
width:325px;
padding:3x 3px 3px 5px;
vertical-align:top;
}


td.fptxtcaracteristiques
{
font-family:arial,verdana,helvetica;
font-size:11px;
color:#000;
border-right:1px solid #B6B6B6;
border-bottom:1px solid #B6B6B6;
width:365px;
padding:3px 5px 3px 3px;
vertical-align:top;
}


td.fpbtcaracteristiques
{
border-left:1px solid #B6B6B6;
border-right:1px solid #B6B6B6;
text-align:right;
padding-right:20px;
padding-top:10px;
}

table.fpprodinteresse
{
width:650px;
margin-top:15px;
}

td.fpintroprodinteresse
{
font-size:14px;
font-family:arial,verdana,helvetica;
color:#FB5C01;
font-weight:bold;
border-bottom:1px dotted #000;
padding:5px 15px;
border-right:1px solid #b6b6b6;
border-left:1px solid #b6b6b6
}

td.fpprixprodinteresse
{
font-size:14px;
font-weight:bold;
font-family:arial,verdana,helvetica;
color:#FB5C01;
border-right:1px solid #B6B6B6;
border-bottom:1px dotted #000;
padding:5px 10px;
}

td.fptxtprodinteresse
{
font-size:11px;
font-weight:bold;
font-family:arial,verdana,helvetica;
color:#FB5C01;
border-left:1px solid #b6b6b6;
border-bottom:1px dotted #000;
padding:5px 10px;
}

a.fpprodinteresse
{
color:#FB5C01;
text-decoration:none;
}

a.fpprodinteresse:hover
{
color:#FB5C01;
text-decoration:underline;
}

.floatr
{
float:right
}

.floatl
{
float:left
}

.noprint
{
display:none;
}
td.clientongletoncentre
{
padding:0px 2px;
font-size:12px;
font-weight:bold;
text-transform: uppercase;
}

td.clientongletffcentre
{
padding:0px 2px;
font-size:10px;
font-weight:normal;
text-transform: uppercase;
}

.valigntop
{
vertical-align:top
}

#contenuhome
{
width:auto;

}

#homeleft
{
display:block;
text-align:center;
page-break-after:always;
}
.homeproduit
{
display:block;
float:left;
margin-left:20px;
margin-right:30px;
margin-bottom:20px;

}
#trait
{
clear:both;
border:1px solid #000;
width:auto;
width:510px;
height:1px;
background-color:#CCD0D3;
border:0px solid black;
margin-bottom:10px;
}

#homeright
{
clear:left;
display:block;
text-align:center;
width:auto
}

img#topactu2
{
display:block;
}

.homerightimage{
display:block;
float:left;
margin-left:30px;
margin-right:30px;
margin-top:7px;
}

.homeprix
{
font-size:18px;
font-weight:bold;
color:#FF4201;
margin-top:5px
}

.bold
{
font-weight:bold
}

/*fin fiche produit*/

#pointsforts1, #pointsforts2, #pointsforts3, #pointsforts4, #pointsforts5, #pointsforts6
{
display:block;
float:left;
}
table#mentions650
{
clear:both;
margin-top:15px;
width:650px;
color:#9E9C9C;
font-size:10px;
background:#F4F4F4;
}


#animation
{
display:none 
}

/* eco-particpation 19-12-2006 */
.ecoparticipation
{
font-size:12px;
color:#228b22
}


.listeajouter
{
display:none
}

h1
{
display:inline;
font-size:14px;
font-weight:bold;
font-family:arial,verdana,helvetica;
color:#4A9DA5;
padding-left:15px;
float:left;
}

.quantiteprod
{
display:inline;
font-size:14px;
font-weight:bold;
font-family:arial,verdana,helvetica;
color:#000;
float:left;
margin-left:15px
}

table#liste
{
width:99%;
border:1px solid #D5D5D5;
margin-top:10px;
margin-bottom:15px;
font-size:11px;
font-family:arial,verdana,helvetica
}

table#liste td.listecaracteristique
{
width:200px;
vertical-align:top;
background:#F5F5F5;
padding-left:10px;
padding-top:10px;
border-bottom:1px solid #D5D5D5;
border-right:1px solid #D5D5D5;
font-size:10px;
font-family:arial,verdana,helvetica
}
table#liste td.listecaracteristique ul
{
list-style-type:none
}



table#liste td.listemarque
{
text-align:center;
vertical-align:middle;
border-bottom:1px solid #D5D5D5;
border-right:1px solid #D5D5D5;
font-family:arial,verdana,helvetica;
font-size:12px;
font-weight:bold;
color:#767980;
}

table#liste td.listemarque
{
width:86px;
text-align:center;
vertical-align:middle;
border-bottom:1px solid #D5D5D5;
border-right:1px solid #D5D5D5;
font-family:arial,verdana,helvetica;
font-size:12px;
font-weight:bold;
color:#767980;
}

text_marque{
font-family:arial,verdana,helvetica;
font-size:12px;
font-weight:bold;
color:#767980;
}

table#liste td.listenomprod
{
width:155px;
text-align:left;
vertical-align:top;
border-bottom:1px solid #D5D5D5;
padding-top:5px;
font-size:10px;
font-family:arial,verdana,helvetica
}

a.listetypeprod 
{
font-family:arial,verdana,helvetica;
font-size:10px;
font-weight:bold;
color:#000;
text-decoration:none;
display:block;
}

a.listetypeprod:hover
{
font-family:arial,verdana,helvetica;
font-size:10px;
font-weight:bold;
color:#000;
text-decoration:underline;
}

a.listerefprod 
{
font-family:arial,verdana,helvetica;
font-size:10px;
font-weight:bold;
color:#FF5B23;
text-decoration:none;
display:block
}

a.listerefprod:hover
{
font-family:arial,verdana,helvetica;
font-size:10px;
font-weight:bold;
color:#FF5B23;
text-decoration:underline;
}

table#liste td.listevisuel
{
text-align:center;
vertical-align:middle;
border-bottom:1px solid #D5D5D5;
}
table#liste td.listeprix
{
text-align:right;
font-family:arial,verdana,helvetica;
font-size:11px;
font-weight:bold;
color:#FF5B23;
border-bottom:1px solid #D5D5D5;
}
b
{
font-weight:bold;
}
table#comparatif
{
width:auto;
border-collapse: collapse;
}

table#comparatif td.border2pxtop
{
border-top: 1px solid #B6B6B6;
}

table#comparatif td.border2pxleft
{
border-left: 1px solid #B6B6B6;
}

table#comparatif td.border2pxbottom
{
border-bottom: 1px solid #B6B6B6;
}

table#comparatif td.border2pxright
{
border-right: 1px solid #B6B6B6;
}

table#comparatif td.border1pxbottom
{
border-bottom: 1px solid #B6B6B6;
}

table#comparatif tr.ensembleproduits
{
background:#fff;
vertical-align:top;
border-bottom:1px solid #B6B6B6;
}

table#comparatif tr.pointsforts
{
color:#fff;
font-weight:bold;
}

table#comparatif tr.gris
{
background:#F4F4F4
}

table#comparatif tr.blanc
{
background:#fff
}

table#comparatif td
{
width:125px;
text-align:center;
padding:10px 5px;
border-right:1px solid #B6B6B6;
font-size:10px;
}

table#comparatif td.titreligne
{
font-weight:bold;
font-size:10px;
width:96px;
text-align:left;
vertical-align:top;
}

table#comparatif td.topleft
{
font-weight:bold;
width:96px;
text-align:left;
}

table#comparatif td.aligntopleft
{
vertical-align:top;
text-align:left;
}

table#comparatif img.marqueproduit
{
position:relative;
margin-right:auto;
margin-left:auto;
width:77px;
height:36px;
border:0px;
display:block;
}

table#comparatif img.visuelproduit
{
position:relative;
margin-right:auto;
margin-left:auto;
margin-top:5px;
width:95px;
border:0px;
display:block;
}

table#comparatif td.empty
{
width:100%;
border-collapse: collapse;
border: 1px solid #B6B6B6
}

table#comparatif ul
{
margin-left:0px
}
table#comparatif a.nomproduit
{
display:block;
margin:10px 0px;
font-size:11px;
font-weight:bold;
text-decoration:none;
color:#000;
}



table#comparatif .grandprix
{
font-size:18px;
font-weight:bold;
display:block;
color:#F31841;
margin-top:5px
}
font#grandprix
{
font-size:12px;
font-weight:bold;
color:#F31841;
margin-top:5px
}

table#comparatif .petitprix
{
width:auto;
font-size:10px;
font-weight:bold;
display:block;
color:#F31841;
}

table#comparatif td.enleversel
{
font-size:10px;
font-family:arial,verdana,helvetica;
color:#fff;
text-align:middle;
border-right:0px;
background:#4A9DA5;
height:28px;
vertical-align:middle;
}
table#comparatif img.pictoenlever
{
width:15px;
height:18px;
margin-left:2px;
vertical-align:middle;
}

table#comparatif a.enleverselection
{
vertical-align:middle;
color:#fff;
text-decoration:underline;
}

table#comparatif a.enleverselection:hover
{
color:#fff;
text-decoration:none;
}

table.introcomp
{
border-bottom:1px solid #D5D5D5;
width:830px;
height:25px;
margin-bottom:15px
}















#center_part_pl
{
	display:block;
	width:100%;
}