/**debug**/
/*#header{height:128px}*/
#container,#center{width:999px}
#center_part_2_full{width:849px;}
#menu2k8{z-index:99}
/**debug**/

#footer
 {
 position:relative;
 padding:0px;
 margin:0px;
 border:0;
 background:#d7edf3 url(background.gif.1) no-repeat;
 width:999px;
 height:320px;
 text-align:left;
 }
 
 
 #footer img
 {
 margin-bottom:0;
 }
 
 #footer .illus-rub
 {
 float:left;
 display:block;
 margin-right:15px;
 }
 
  #footer #aide, #footer #connaitre, #footer #sengage
  {
  margin-top:25px;
  margin-left:40px;
  display:inline;
  float:left;
  }
  
  #footer #aide a, #footer #connaitre a, #footer #sengage a
  {
  margin-top:2px;
  color:#484848;
  display:block;
  background:url(footer-puce-lien.gif) no-repeat 0px 3px;
  padding-left:8px;
  }
  
  #footer #logos-reassu
  {
  clear:both;
  position:relative;
  display:block;
  margin:0 auto;
  width:600px;
  top:20px;
  }
  
#footer #logos-reassu img.kelkoo
{
display:block;
float:left;
margin-right:20px;
}

#footer #logos-reassu a.fianet
{
display:block;
float:left;
margin-top:10px;
margin-right:20px;
}

#footer #logos-reassu img.avisc
{
display:block;
float:left;
margin-right:10px;
margin-top:4px;
}

#footer #logos-reassu img.fevad
{
display:block;
float:left;
margin-right:10px;
margin-top:8px;
}

#footer #logos-reassu img.paiementsecure
{
display:block;
float:left;
margin-right:10px;
margin-top:4px;
}