#container #center #center_part_1 #sidebar 
{
display:block;
width:144px;
padding:10px 0px 10px 6px;
color:#262A2F;
font-family:arial;
font-size:11px;
border:0px solid black;
font-family:"Trebuchet MS";
line-height:120%;
background:url(background.gif) repeat-x;
}




#container #center #center_part_1  #sidebar .actu
{
width:130px;
display:block;
color:#209AB2;
text-decoration:none;
font-weight:bold;
/*font-size:16px;
font-size:15px;*/
font-size:14px;
margin:0 0 1px 0;
font-family:"Trebuchet MS";
line-height:1;
}
#container #center #center_part_1  #sidebar .actu a,
#container #center #center_part_1  #sidebar .actu a:hover
{
width:130px;
display:block;
color:#209AB2;
text-decoration:none;
font-weight:bold;
/*font-size:16px;
font-size:15px;*/
font-size:14px;
margin:0px;
font-family:"Trebuchet MS";
line-height:1;
}

#container #center #center_part_1  #sidebar a
{
display:block;
/*margin:0px 0 10px 0;*/
margin:2px 0px 0px 0px;
font-weight:normal;
color:#54B7CA;
text-decoration:none;
/*font-size:11px;
font-family:"Trebuchet MS";*/
font-size:10px;
font-family:Arial;
}

#container #center #center_part_1 #sidebar a:hover
{
text-decoration:underline;
}



#container #center #center_part_1  #sidebar a.normal
{
display:block;
/*margin:5px 0 10px 0;*/
margin:2px 0 0 0 ;
font-weight:normal;
color:#000;
text-decoration:none;
/*font-size:11px;
font-family:"Trebuchet MS";*/
font-size:11px;
font-family:Arial;

line-height:1;
}

#container #center #center_part_1  #sidebar a.normal:hover
{
display:block;
/*margin:5px 0 10px 0;*/
margin:2px 0 0 0;
font-weight:normal;
color:#000;
text-decoration:underline;
/*font-size:11px;
font-family:"Trebuchet MS";*/
font-size:11px;
font-family:Arial;
}


#container #center #center_part_1 #sidebar img
{
display:block;
margin:2px 0 4px 0;
}

#container #center #center_part_1 #sidebar hr {
height: 1px;
margin: 10px 0;
padding: 0;
color: #cecece;
background-color: #F00;
border: 0;
}
/* 2009-02-25 : nouvelle sÚparation entre les actu*/
#container #center #center_part_1 #sidebar .sep{background:url(hr.png) no-repeat;
margin:0px;height:14px;width:140px;
/*border-bottom:1px solid D1D1D1;
margin:8px 0px 10px 0px;*/
}