.moteurrecherche {width:329px;display:block;left:378px;position:absolute;top:16px;background-color:#2CA6BE;}
.moteurrecherche .boutonhaut {width:325px; text-align:center; }
.moteurrecherche .texteinput {float:left;width:329px; background:url(http://www.boulanger.fr/wcsstore/BoulangerStg/css/img/champrecherche.gif) no-repeat scroll 0 ; }
.moteurrecherche .texteinput input {background:transparent; border:1px;height:33px; vertical-align:top;}
.moteurrecherche .texteinput input.champ {background:transparent; border:0px; width:215px; height:25px;padding-top:12px;color:#39424F; font-face:arial; font-size:12px;  }
.moteurrecherche .texteinput input.bt {text-align:right;height:33px;}


#searchupdate {z-index:100;}

#searchupdate .long
{	
	background-color:#fff;
	border-top-width: 0px;
	width: 220px !important;
	width: 275px;	
	max-height: 350px; 
	overflow: auto; 
	margin-left: -1px; 
	position: absolute; 
	left: -5px; 
	top: -5px;
	display: block;
	border: 1px solid #48b0c4;
	z-index:110;
}
#searchupdate .court{	
	background-color:#fff;
	border-top-width: 0px;
	width: 220px !important;
	width: 275px;	
	max-height: 300px; 
	overflow-x: hidden; 
	overflow-y: hidden; 
	margin-left: -1px; 
	position: absolute; 
	left: -5px; 
	top: -5px;
	display: block;
	border: 1px solid #48b0c4;
	z-index:110;
}

#searchupdate A
{
	text-decoration: none;
}

#searchupdate .long .liste{list-style-position:outside;list-style-type:none;margin:0 0 0 5px;width:190px;overflow:hidden;}
#searchupdate .court .liste{list-style-position:outside;list-style-type:none;margin:0 0 0 5px;width:207px;overflow:hidden;}
#searchupdate .liste li{padding:0px;margin:0px;padding-bottom:2px;padding-left:2px;cursor: pointer;overflow:hidden;vertical-align:bottom;float:left;}
#searchupdate .long .liste li{width:185px;border:0px solid green;}
#searchupdate .court .liste li{width:202px;}
#searchupdate .liste li.hover{padding:0px;padding-bottom: 2px;padding-left:2px;margin:0px;cursor: pointer;overflow:hidden;vertical-align:bottom;float:left;}
#searchupdate .liste li.premier{margin-top:4px;}

#searchupdate .suggest-header
{
	font-weight: bold;
	float:left;	
	color:#3780cd;
	
}

#searchupdate .long .separator
{
	width:185px;
	background:url(bckg-sep-suggest.gif) repeat x;
	float:left;	
	margin: 8px;
}
#searchupdate .court .separator
{
	width:198px;
	background:url(bckg-sep-suggest.gif) repeat x;
	float:left;	
	margin: 8px;
}

#searchupdate .suggest-header-div
{
	border:0px solid blue;
	padding: 0;
	margin:0;
	margin-left: 7px;
	color:#3780cd;
	clear:both;	
	overflow:hidden;
	width:185px;
	
}

#searchupdate LI.selected, #searchupdate LI:hover
{
	background: #e9e6e6;
}

#searchupdate LI.selected A *
{
	color: black;
}

#searchupdate .suggest-header
{
	color:#023399;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
}

#searchupdate .suggest-showlink:hover,
#searchupdate .suggest-hidelink:hover
{
	color: #a50019;
	border-bottom: 1px solid #a50019;
}

#searchupdate .suggest-hidelink,
#searchupdate .suggest-showlink
{
	background: url(http://www.boulanger.fr/wcsstore/BoulangerStg/css/images/button_plus.gif) no-repeat 0px 4px;
	background-position: right;
	padding-right: 17px;
	color: #999;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial,Helvetica,sans-serif;
}

#searchupdate .suggest-hidelink
{
	background: url(http://www.boulanger.fr/wcsstore/BoulangerStg/css/images/button_minus.gif) no-repeat 0px 4px;
	background-position: right;
	float: right;
}

.hidesuggestions .hidewhenhidden
{
	display: none;
}

.hidesuggestions .showwhenhidden
{
	display: block !important;
}

#searchupdate .showwhenhidden
{
	display: none;
}

#searchupdate .suggest-toplinks
{
	font-weight: bold;
	margin: 0;
	padding: 10px;
	padding-top:14px;
	padding-bottom: 6px;
}

.hidesuggestions .suggest-toplinks
{
	text-align: right;
	margin-bottom: 10px !important;
}

#searchupdate .nr-search-results
{
	float: right;
	font-size: 11px;
	color: #999;
	width:30px;	
	text-align:right;
	border:0px solid blue;
}
		
#searchupdate .long .search-term
{
	font-size: 11px;
	color: #000;
	width:155px;
	border:0px solid blue;
	float:left;
}

#searchupdate .court .search-term
{
	font-size: 11px;
	color: #000;
	width:168px;
	border:0px solid red;
	float:left;
}

#searchupdate .search-term a{color:#000 ;text-decoration:none;}
#searchupdate .search-term .px{display:block;clear:both;}
#searchupdate .search-term .name{display:block;clear:both;font-weight:bold;}
#searchupdate .visu{float:right;width:30px;border:0px solid green;overflow:hidden;margin:0 auto;}

#searchupdate .suggest-header-div .action{float:right;overflow:hidden;width:auto;}

#searchupdate .off{color:#f26722;text-decoration:underline;cursor:pointer;}

ul#suggestedProducts{
	display:none;
	overflow:hidden;
	margin:0;
	padding:0;
}