
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background:#004276 url(bck_control_drag.gif) repeat-y;
}
.jScrollPaneDrag {
	position: absolute;
	background: #96CCDB url(bck_control_handler.gif) no-repeat center center;
	cursor: pointer;
	overflow: hidden;
}
.jScrollPaneDragTop {
	position: absolute;
	margin-top:-4px;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
a.jScrollArrowUp {
	background:white url(arrowtop.gif);
	display: block;
	z-index: 100;
	float:right;
	position:absolute;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	height: 10px;
}
a.jScrollArrowUp:hover {
	/*background-color: #f60;*/
}

a.jScrollArrowDown {
	background:white url(arrowbottom.gif);
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	float:right;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	height: 10px;
}
a.jScrollArrowDown:hover {
	/*background-color: #f60;*/
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #f00;*/
}