@charset "UTF-8";
/* CSS Document */
/* Gestion textHtml ou images de certains Items */

/* @group Colonne left */

/* @group A la une */
/*
div.alaune h2{
	background :none;
	color: #AD8E6B;
	height:0.8em;
	text-transform: uppercase;
	font: 3em "Lucida Grande", sans-serif, Lucida, Verdana;
}
*/

/* @end */



/* @end */

/* @group Colonne right */

/* @group Menu de 1° niveau */

	/*div.rightcolumn ul li a.university, div.rightcolumn ul li a.research{	
		text-indent: 16px ;
		background :none; 
	}
	
div.rightcolumn ul li a{
	height:1.0em;
	background-position:0 0;
	color: #fff;
	text-decoration: none;
	font-size: 1.6em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
	div.rightcolumn ul li a:hover{
		background :transparent url(../img/home-fl-menu.gif) no-repeat  0 35%;
	}*/
	
	/* Correction des a dessous > Si validé utiliser « > » + conditionnelle IE6 */
	/*div.rightcolumn ul ul li a{
		font-size: 1.1em;
		text-transform: none;
		letter-spacing: 0;
		font-weight: normal;
		font-style: normal;
}
	div.rightcolumn ul ul li a:hover{
		background: none;
	}*/



/* @end */



/* @end */

/* @group ContentColumn */

/* @group BTN directacceslinks */
div.contentcolumn .directaccesslinks h3{
	width:13.84em;
	/*height:2.2em;*/
	text-align: left;
	text-transform: uppercase;
	text-indent: 15px;
	font-size: 1.3em;
	line-height: 26px;
}
	div.contentcolumn .directaccesslinks h3.directaccess {
		color: #A68966;
	}
	
	div.contentcolumn .directaccesslinks h3.whoareyou {
		color: #FFFFFF;
	}	
	
		/* Bouton direct accés */
		div.contentcolumn .directaccesslinks h3.directaccess{
			background :transparent url(background-directaccess.gif) repeat-x 0 0;
		}
		
		/* Bouton Qui êtes vous ? */
		div.contentcolumn .directaccesslinks h3.whoareyou{
			background :transparent url(fondation-btn.gif) repeat-x 0 0;
		}
			
			div.contentcolumn .directaccesslinks h3.directaccess span {
				background :transparent url(view-links.gif) no-repeat 96% 4px;
				width: 100%;
				display: block;
			}
		
		/* Bouton Mon UPMC */
		div.contentcolumn .directaccesslinks h3.myupmc{
			background :transparent url(background-myupmc.gif) repeat-x 0 0;
		}
			div.contentcolumn .directaccesslinks h3.myupmc span{
				background :transparent url(view-myumpc.gif) no-repeat 96% 0;
				width: 100%;
				height:28px;
				color: #fff;
				display: block;
			}
				div.contentcolumn .directaccesslinks h3.myupmc a{
					text-decoration: none;
				}
			

/* @end */

/* @group news */

/*div.contentcolumn .news{
	background: none;
	padding-top: 0;
}
div.contentcolumn .news span.title{
	color:#F59F0A;
	margin: 0 0 0 66px;
	font: 3em sans-serif, "Lucida Grande", Lucida, Verdana;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	display: inline;
}*/
	
div.contentcolumn .news .allnews a{
	background :none;
	margin-top: -3em;
	/*padding:0  8px 0 O;*/
	color:#F59E0A ;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	width:11em;
	height:2.2em;
}
	
		div.contentcolumn .news .allnews a:hover{
			border:1px solid #F59E0A;
		}
		
		div.contentcolumn .news .allnews span{
			display: block;
			padding: 3px 8px;
		}


/* @end */



/* @end */



