div.rightcolumn ul li a.section-1{	background :transparent url(menu-title-universite-bleuciel.gif) no-repeat  -1px 0; }
div.rightcolumn ul li a.section-2{	background :transparent url(menu-title-recherche-bleuciel.gif) no-repeat  -1px 0; }
div.rightcolumn ul li a.section-3{	background :transparent url(menu-title-international-bleuciel.gif) no-repeat  -1px 0; }
div.rightcolumn ul li a.section-4{	background :transparent url(menu-title-formation-bleuciel.gif) no-repeat  -1px 0; }
div.rightcolumn ul li a.section-5{	background :transparent url(menu-title-viedescampus-bleuciel.gif) no-repeat  -1px 0; }
div.rightcolumn ul li a.section-6{	background :transparent url(menu-title-entreprises-bleuciel.gif) no-repeat  -1px 0; }
div.rightcolumn ul li a.section-7{	background :transparent url(menu-title-culture-bleuciel.gif) no-repeat  -1px 0; }
div.rightcolumn ul li a.section-8{	background :transparent url(menu-title-intranet-bleuciel.gif) no-repeat  -1px 0; }

div.rightcolumn ul li a:hover{ background-position:0 -16px; } /* A replacer ici sinon ne fonctionne pas */