@charset "UTF-8";
/* CSS Document */

/* @group GENERIC CLASSES */

/* all stuff to hide */.hidden-D{ display:none;}.hidden-L{ left:-200em;}
.hidden-T{ text-indent:-200em;}
/* all stuff to clear */.clear-B{ clear:both;}.clear-R{ clear:right;}.clear-L{ clear:left;}
/* stuff to resize img with ems, whitout using width and height attributes in img element -according to WAI-AAA, WCAG2 and html5 - prairycat saying */.wh-100pc{ width:100%; height:100%;}
/* all stuff to say goodby to style attribute and use spaces in class attribute -according to WAI-AAA, WCAG2 and html5 - prairycat saying */.m-0{ margin:0px;}.m-2{ margin:2em;}

/* list */
dl, dt, dd, ul, li {	margin: 0;	padding: 0;	list-style-type: none;}


/* @end */


/* @group Layout */

html {
height:100%;
}
body {
	margin:0;
	padding:0;
	line-height: 1.5em;
	min-height:100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:62.5%;
	background :transparent url(home-body-background.gif) repeat-y 51.2em 0;
}

a, a img{ border:none; outline: none;}
div{ position:relative;}
form{margin:0;}

/* @group titrage */
h1 a {/* this ruleset keeps the root link in the title from standing out */	font-weight: normal;	color: #000;	}h1 {	font-size: 2.0em;	font-weight: normal;	margin-top: 0em;
	/*both set to zero and padding in header div used intead to deal with compound ie pc problems that are beyound summary in a simple comment.*/	margin-bottom: 0em;	}h2 {	font-size: 1.6em;	font-weight: normal;	}h3 {	font-size: 1.2em;	font-weight: normal;	}h4 {	font-size: 1.1em;	font-weight: normal;	}h5 {	font-size: 1.0em;	font-weight: normal;	}h6 {	font-size: 0.8em;	font-weight: normal;	}


/* @end */



/* @group Access - liens d'évitements */
#easy-access{
	position:absolute;
}

/* @end */

div.maincontainer{
	height:100%;
	width:100%;
}
div.contentwrapper {
	width: 100%;
	z-index:10;
}
div.contentcolumn {
	margin-left: 51.2em; /*margin to (leftColumnWidth + RightColumnWidth)*/
	background :transparent url(home-maincontainer-background.gif) repeat-x 0 -40px;
	/*UPMC Evols 2009 4.2.32*/
	min-width : 666px;
	width : auto;
	/**/
}
div.leftcolumn {
	float: left;
	width: 26.2em;
	z-index:20;
}
div.rightcolumn {
	float: left;
	width: 25em;
	z-index:20;
}

.innertube {
	margin: 24px; /*Margins for inner DIV inside each column (to provide padding)*/
}

.fluid{
	/*
	min-width:25.6em;
	max-width:48.6em;
	*/
	min-width:46.6em;
	max-width:66.6em;
}

/*** Fin layout ACC ***/

/* @end */

/* @group Colonne left */

/*div.leftcolumn .illus{
	background :transparent url(../img/home-figure-left.jpg) no-repeat right 92px;
}*/

.logo{
	display:block;
	width:100%;
	border:none;
	margin:0 0 210px 0;
	cursor:pointer;
}

/* @group A la une */

div.alaune{
	margin:0 0 3em 0;
}
		div.alaune h3{
			color:#E9600F;
			font-weight:bold;
			/** Sinon le texte empiete parfois sur l'oreille du milieu */
			margin-right: 10px;
			/*font-size:1.2em;*/
			/*UPMC Evols 2009 4.2.29*/
			margin-top : 18px;
			/**/
		}
	div.alaune p{
		font-size:1.1em;
		margin-bottom: 4px;
	}
	div.alaune a{
		font-size:1.2em;
		color:#E9600F;
		text-decoration:none;
	}
		div.alaune a:hover{
			text-decoration:underline;
		}

/* @end */

/* @group Links (Newslettre, ...) */

div.links{
	font-size:1.2em;
	border-top:1px solid #d7c4b0;
}
	.links a{
		display:block;
		color:#AD8F6B;
		line-height:2.4em;
		border-bottom:1px solid #d7c4b0;
		text-indent:40px;
		text-decoration:none;
	}
		div.links a:hover{
			text-decoration:underline;
		}
			div.links a.newsletter{
				background :transparent url(go-newsletter.gif) no-repeat  10px 50%;
			}
				div.links a.newsletter:hover{
					background :transparent url(go-newsletter-hover.gif) no-repeat  10px 50%;
				}
			div.links a.pressroom{
				background :transparent url(go-pressroom.gif) no-repeat  10px 50%;
			}
				div.links a.pressroom:hover{
					background :transparent url(go-pressroom-hover.gif) no-repeat  10px 50%;
				}
			div.links a.datebook{
				background :transparent url(go-datebook.gif) no-repeat  10px 50%;
			}
				div.links a.datebook:hover{
					background :transparent url(go-datebook-hover.gif) no-repeat  10px 50%;
				}
			div.links .rss{
				color:#333;
				text-align:right;
				margin:8px 0;
				padding:0 30px 0 0;
				border-bottom:none;
				background :transparent url(go-rss.gif) no-repeat  100% 50%;
			}

/* @end */

/* @end */

/* @group Colonne right  */

div.rightcolumn .innertube{
	margin-left:9px;
}

/* @group Menu de 1° niveau */
	div.rightcolumn ul{
		list-style-type:none;
		color:#fff;
		margin:0;
		padding:0;
	}

/* @group images menu 1° Niveau */

		div.rightcolumn ul li a.university{	background :transparent url(http://www.upmc.fr/skins/UPMC/templates/index/resources/img/...) no-repeat  0 0; }
		div.rightcolumn ul li a.research{	background :transparent url(http://www.upmc.fr/skins/UPMC/templates/index/resources/img/...) no-repeat  0 0; }

/* @end */

		div.rightcolumn ul li a{
			display:block;
			height:16px;
			background-position:0 0;
		}
			div.rightcolumn ul li a:hover{
				background-position:0 -16px;
			}

/* @end */

/* @group Menu 2° Niveau */

div.rightcolumn ul ul{
			margin:4px 0 12px 15px;
		}
			div.rightcolumn ul ul li{
				display:inline;
			}
				div.rightcolumn ul ul li a{
					display:inline;
					text-decoration:none;
				}
					div.rightcolumn ul ul li a:hover{
						color:#fff;
						text-decoration:underline;
					}

/* @end */

/* @end */

/* @group ContentColumn */

div.contentcolumn .innertube{
	margin:0;
}

/* @group Links Tools */

	div.contentcolumn .toolslinks{
		/*background-color:#b69978;*/
		color:#fff;
		text-align:right;
		height:15px;
		padding-top:8px;
	}
	
	div.contentcolumn .toolslinks li{
		display: inline;
	}
		div.contentcolumn .toolslinks a{
			color:#fff;
			text-decoration:none;
		}
			div.contentcolumn .toolslinks a:hover{
				text-decoration:underline;
			}

				div.contentcolumn .toolslinks a.contact{
					width:7.5em;
					padding:0.4em 0 0.4em 1.8em;
					background :transparent url(go-contact.gif) no-repeat 0 center;
				}
				div.contentcolumn .toolslinks a.sitemap{
					width:7.5em;
					padding:0.4em 0 0.4em 1.8em;
					background :transparent url(go-sitemap.gif) no-repeat 0 center;
				}

/* @end */

/* @group Flags */

	div.contentcolumn .flags{
		float:right;
		display:inline;
		margin:2px 0 0 4px;
	}
		div.contentcolumn .flags a.flag{
			float:left;
			display:block;
			height:11px;
			width:14px;
			border:1px solid #a08469;
			margin:0 2px 0 0;
			background :transparent url(go-flags.gif) no-repeat 0 0;
		}
			div.contentcolumn .flags a.french{
				background-position : 0 top;
			}
				div.contentcolumn .flags a.french:hover, div.contentcolumn .flags a.frenchactif{
					background-position : 0 bottom;
				}
			div.contentcolumn .flags a.english{
				background-position :  -14px top;
			}
				div.contentcolumn .flags a.english:hover, div.contentcolumn .flags a.englishactif{
					background-position : -14px bottom;
				}
			div.contentcolumn .flags a.spain{
				background-position :  -28px top;
			}
				div.contentcolumn .flags a.spain:hover, div.contentcolumn .flags a.spainactif{
					background-position : -28px bottom;
				}
			div.contentcolumn .flags a.china{
				background-position :  -42px top;
			}
				div.contentcolumn .flags a.china:hover, div.contentcolumn .flags a.chinaactif{
					background-position : -42px bottom;
				}

/* @end */

/* @group Research */

	div.contentcolumn .research{
		display:block;
		width:225px;
		min-height:62px;
		float:right;
		background :transparent url(search-background.gif) no-repeat 0 0;
		margin:18px 30px 0 0;
		text-align:left;
	}
		div.contentcolumn label{
			color:#b49675;
			font-size:1.4em;
		}
		div.contentcolumn input[type=text]{
			border:none;
			margin:6px 0 0 12px;
			background-color:transparent;
			color:#b49675;
			font-size:1.4em;
			width:165px;
			/*border-top: 1px solid red;*/
		}
			div.contentcolumn input[type=image]{
				vertical-align: top;
				margin-top: 7px;			}

		div.contentcolumn a.detailsearch{
			display:block;
			background :transparent url(go-detailsearch.gif) no-repeat 0 4px;
			color:#dfd0bf;
			margin:12px 0;
			padding:0 0 0 14px;
			font-size:1.1em;
			width:11em;
			text-decoration:none;
		}
			div.contentcolumn a.detailsearch:hover{
				color:#fff;
				text-decoration:underline;
			}

/* @end */

/* @group Research And Access */

	div.contentcolumn .researchandaccess{
		text-align:right;
		height:138px;
		background :transparent url(searchandaccess-background.jpg) no-repeat left top;
	}
		
		/* @group BTN directacceslinks */
		
		div.contentcolumn .directaccesslinks{
			float:right;
			margin:10px 2px 0 0;
			z-index: 100;
		}
			div.contentcolumn .directaccesslinks h3{
				display:block;
				width:180px;
				height:28px;
				border:3px solid #a68966;
				margin:4px 0 0 0;
			}
				
		.directaccesslinks h3 {			cursor: pointer;
		}
		
				/*** .directaccesslinks list ***/		.directaccesslinks ul{
			margin: -0.3em 3px 0 3px;
			z-index: 100;
			background-color: #DFD0BE;		}			.directaccesslinks li{	
				margin: 0;
				padding: 0;
				text-align: left;
				text-indent: 1em;
				background-color: #DFD0BE;
				border-top:1px solid #A68966;
				font-size: 1.1em;
				line-height: 2.8em;
				width:16.4em;
			}
				.directaccesslinks li a {					color: #333;					text-decoration: none;					display: block;				}									.directaccesslinks li a:hover {
						background-color: #F7F3EF;					}
					
							
		/* @end */
/* @end */

/* @group Pictures */	
	div.contentcolumn .pictures{
		height:192px;
		border-bottom:6px solid #f59f0a;
		overflow: hidden;
		z-index: 1;
}
		div.contentcolumn .pictures img{
			float: left;
		}
			div.contentcolumn .pictures img.second, div.contentcolumn .pictures img.three{
				float: left;
				left: 330px;
				position: absolute;
				z-index: -1;
			}
			div.contentcolumn .pictures img.three{
				left: 660px;
}
		

/* @end */

/* @group News */

			div.contentcolumn .news .title, div.contentcolumn .news .allnews{
				text-align:right;
				margin-right:2em;
			}
					div.contentcolumn .news .allnews a:hover{
						border:1px solid #F59E0A;
					}


		div.contentcolumn .news ul{
			list-style-type:none;
			margin:18px 2em 0 41px;/* UPMC Evols 2009 4.2.1.*/
			padding:0;
		}
			div.contentcolumn .news ul li{
				list-style-type:none;
				font-size:1.1em;/* UPMC Evols 2009 4.2.1.*/
				margin:0;
				padding:0;
				/*background :#fff url(../img/home-news-list-background.gif) no-repeat 23px bottom;*/
				background :#fff url(home-news-list-background.gif) no-repeat bottom left;
				
			}
			/* changement de couleurs entre les lignes */
			div.contentcolumn .news ul li.rythm{ 
				background-color :#fffaf4;
			}
			div.contentcolumn .news ul li a{
				display:block;
				background :transparent url(home-news-list-puce.gif) no-repeat left -15px;
				color:#57595a;
				text-decoration:none;
				/*padding:6px 0 6px 2.2em; UPMC Evols 2009 4.2.1.*/
				padding:4px 0 4px 17px;
			}
				div.contentcolumn .news ul li a:hover{
					color:#F59F0A;
					text-decoration:underline;
				}
			div.contentcolumn .news ul li.lastline{
					background-image:none;
				}

/* @end */

/* @group Events (carroussel) */

	div.contentcolumn .events{
		margin:20px 0 0 32px;
		 min-height:126px; /*// Appliqué en js pour pouvoir s'agrandir en cas de désactivation js */
		border-top:1px solid #fde6c9;
		border-bottom:1px solid #fde6c9;
		min-width:43.0em; /* max & min-width de fluid - 0.9 */
		max-width:63.0em;
	}

/* @end */


/* @end */

/* @group Footer */

div.footer {
	width: 100%;
	height:100px;
	background-color:transparent;
}
	div.footer .innertube{
		padding-top:4px;
		margin-top:0;
	}

/* @group Adress */

div.footer .adress{
		width: 26.2em;
		float:left;
		line-height:1.3em;
	}
		div.footer .adress .innertube{
			border-top:1px solid #d7c4b0;
			color:#AD8F6B;
			text-align:right;
		}

/* @end */

/* @group Footer Links */

div.footer .footerlinks{
		width: 25em;
		float:left;
	}
		div.footer .footerlinks .innertube{
			border-top:1px solid #fff;
			text-align:right;
		}
		div.footer .footerlinks a{
			color:#fff;
		}
			div.footer .footerlinks a:hover{
				color:#fff;
			}

/* @end */

/* @end */


		span.input-fake{
			border:none;
			margin:6px 85px 0 12px;
			background-color:transparent;
			color:#b49675;
			font-size:1.4em;
			position: relative;
			top: 8px;
		}
		
/* @group Listes */
div.alaune ul, div.alaune ol{
	font-size: 1.1em;
	margin-top: 0.6em 0 0 0;
	padding: 0;
}
	div.alaune ul li{
		list-style-position: inside;
		list-style-type: square;
	}
	div.alaune ol li{
		list-style-type: decimal;
		list-style-position: inside;
	}
/* @end */	


/* Evols 2009 external-link */
img.external {
	margin-left : 3px;
	border : 0 none !important;
	float : none !important;
	margin : 0 0 0 3px !important;
}

a img.external {
	text-decoration : none;
	}
/**/