/* STYLES FRONT OFFICE */
body{
	color:#ffffff;
	background-color:#000000;
	margin:0;
	padding:0;
}
form{margin:0;padding:0;}
body, table{
	font-family:Verdana,Arial,Helvetica,Sans-serif;
	font-size:11px;
}

a{
	color:#a1141c;
	text-decoration:underline;
}

a:hover{
	text-decoration:none;
}
acronym{
	text-decoration:none;
	border-bottom:1px dashed #a1141c;cursor:help;
}

h1{font-size:17px;font-weight:bold;color:#a1141c;font-family:Verdana,Arial,Helvetica,Sans-serif;}
h2{font-size:12px;font-weight:bold;color:#a1141c;font-family:Verdana,Arial,Helvetica,Sans-serif;}
h3{font-size:12px;font-weight:normal;color:#a1141c;font-family:Verdana,Arial,Helvetica,Sans-serif;}

.w200{width:200px;}

#boutiqueCGVBox { width:500px; position:absolute; z-index:3000; background-color:#EFBD62; padding:4px; margin-left:0px; border:1px solid #a1141c; margin-top:0px;}
#boutiqueCGVContent{color:#000;}

#glossaireBox { position:absolute; z-index:3000; background-color:#EFBD62; padding:4px; margin-left:0px; border:1px solid #a1141c; margin-top:0px;}
#glossaireContent{color:#000;}

.clair{color:#fdd278;}
.fonce{color:#a1141c;}
.bg_clair{background-color:#fee0a1;}
.bg_fonce{background-color:#a1141c;}

div.separator{border-top:solid 1px #f2c361;}

/*HOME*/
table#container, table#home_container{
	width:1000px;
	color:white;
}

td#home_00{
	width:510px;
	height:200px;
	background-repeat:no-repeat;
	vertical-align:top;
	text-align:left;
}

td#home_01{
	width:490px;
	height:200px;
	background-repeat:no-repeat;
}


td#home_10{
	width:1000px;
	/*height:527px;
	background-image:url(../image/gabarit/gabtmp_accueil_03.jpg);*/
	height:627px;
	background-image:url(espacepro_mid.jpg);
	background-repeat:repeat-y;
	vertical-align:top;
}

td#home_20{
	width:510px;
	height:73px;
	background-image:url(gabtmp_accueil_04.jpg);
	background-repeat:no-repeat;
	vertical-align:bottom;
}

td#home_21{
	width:490px;
	height:73px;
	background-image:url(gabtmp_accueil_05.jpg);
	background-repeat:no-repeat;
	vertical-align:bottom;
	text-align:right;
}

h1.home_Titre1{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:100;
	font-size:30px;
	text-transform:uppercase;
	padding-left:30px;
}

ul.home_nivo1{
	margin-left:30px;
	margin-top:0;
	margin-bottom:0;
	padding:0;
}

li.home_nivo1{
	list-style-type:none;
	margin-top:4px;
}

a.lnk_nivo1{
	background-color:#fdd278;
	color:#a1141c;
	display:block;
	padding:3px 3px 3px 9px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;
}
a.lnk_nivo1:hover{text-decoration:none;}


ul.home_nivo2{
	margin:0;
	padding:0;
}
li.home_nivo2{
	list-style-type:none;
}

a.lnk_nivo2{
	color:white;
	display:block;
	padding-top:2px;
	padding-bottom:2px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
}
a.lnk_nivo2:hover{text-decoration:underline;}

div#flags{margin-top:30px;margin-left:20px; height:12px;}
div#newsletter{margin-bottom:20px;margin-left:20px;}
table.news_search{
	margin-top:90px;
	border:1px white;
	border-style:none;
	padding:0;
}
table.news_search tr{margin:0;padding:0;}
table.news_search td{vertical-align:top;margin:0;padding:0;}

div.menu_transversal{
	color:#ffffff;
	font-family:Arial,Verdana,Sans-serif;
	font-size:10px;
}
div.menu_transversal a{
	text-decoration:none;
	color:#ffffff;
}

div.menu_transversal a:hover{
	text-decoration:underline;
}

div#acces_pro{
	width:293px;
	height:158px;
	background-image:url(http://www.vins-bourgogne.fr/theme_front/theme_front_1/image/home_content_26.png);
	background-repeat:no-repeat;
	margin-left:30px;
	margin-top:0px;
	text-align:center;
}

h1.titre_texte_image{
	font-size:12px;
	color:#ffffff;
	font-weight:bold;
	margin:0;
	padding:0;
}
p.para_texte_image{
	font-size:11px;
	margin:0;
	padding:0;
}
/*PAGE INTERNE*/
td#page_00{
	width:456px;
	height:180px;
	background-repeat:no-repeat;
	vertical-align:bottom;
}
td#page_01{
	width:544px;
	height:180px;
	background-repeat:no-repeat;
	vertical-align:top;
}
td#page_10{
	width:252px;
	height:547px;
	background-image:url(gabtmp_page_03.jpg);
	background-repeat:no-repeat;
	vertical-align:top;
}
td#page_11{
	width:748px;
	height:547px;
	background-image:url(gabtmp_page_04.jpg);
	background-repeat:no-repeat;
	vertical-align:top;
}


td#page_20{
	width:1000px;
	height:73px;
	background-image:url(gabtmp_page_05.jpg);
	background-repeat:no-repeat;
	vertical-align:bottom;
}
td#page_30{
	width:252px;
	height:1px;
	background-image:url(http://www.vins-bourgogne.fr/theme_front/theme_front_1/image/spacer.jpg);
	background-repeat:no-repeat;
	vertical-align:top;
}
td#page_31{
	width:204px;
	height:1px;
	background-image:url(http://www.vins-bourgogne.fr/theme_front/theme_front_1/image/spacer.jpg);
	background-repeat:no-repeat;
	vertical-align:top;
}
td#page_32{
	width:544px;
	height:1px;
	background-image:url(http://www.vins-bourgogne.fr/theme_front/theme_front_1/image/spacer.jpg);
	background-repeat:no-repeat;
	vertical-align:top;
}

.w100p { width:100%;}
.w98p { width:98%;}

div.menu_visible{display:block;font-size:12px;}
div.menu_invisible{display:none;}

ul.int_mnu_nivo3{
	margin:0;
	padding:0;
}

li.int_mnu_nivo3{
	display:inline;
	list-style-type:none;
}

a.int_lnk_nivo3{
	color:#a1141c;
	padding:6px;
	text-decoration:none;
}

a.int_lnk_nivo3:hover{
	text-decoration:underline;
}

a.int_lnk_nivo3_sel{
	color:#ffffff;
	padding:3px;
	text-decoration:none;
}

a.int_lnk_nivo3_sel:hover{
	text-decoration:underline;
}

ul.intleft_mnu_nivo1, ul.intleft_mnu_nivo2{
	margin:0;
	padding:0;
}

ul.intleft_mnu_nivo3{
	margin:4px;
	padding:0;
}
li.intleft_mnu_nivo1{
	list-style-type:none;
}

li.intleft_mnu_nivo2{
	list-style-type:none;
	padding-left:40px;
	padding-top:3px;
	padding-bottom:8px;
	background-image:	url(barre_horiz.png);
	background-position:top left;
	background-repeat:no-repeat;
}

a.int_lnk_nivo2{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	height:24px;
	color:#a1141c;
	text-decoration:none;
}

li.intleft_mnu_nivo3{
	list-style-type:none;
	color:#ffffff;
	font-size:11px;
}

li.intleft_mnu_nivo3 a{
	color:#ffffff;
	text-decoration:none;
}

li.intleft_mnu_nivo3 a:hover{
	text-decoration:underline;
}

img.inttop_img{}

td.inttop_mnu_on{
	vertical-align:bottom;
	height:31px;
}

td.inttop_mnu_on a{
	/*height:20px;*/
	color:#a1141c;
	background-color:#fdd278;
	margin:0;
	text-decoration:none;
	display:block;
	padding:8px 6px 8px;;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	border-top:1px solid #fdd278;
	border-right:1px solid #fdd278;
}


td.inttop_mnu_off{
	background-image:url(submenu_bg.gif);
	background-position:bottom left;
	background-repeat:repeat-x;
	height:31px;
	vertical-align:bottom;
}
td.inttop_mnu_off_left{
	background-image:url(submenu_bg_left.gif);
	background-position:bottom left;
	background-repeat:no-repeat;
	height:31px;
	width:8px;
	vertical-align:bottom;
}
td.inttop_mnu_off_right{
	background-image:url(submenu_bg_right.gif);
	background-position:bottom right;
	background-repeat:no-repeat;
	height:31px;
	width:8px;
	vertical-align:bottom;
}
td.inttop_mnu_off a{
	color:#fdd278;
	margin:0;
	text-decoration:none;
	display:block;
	padding:0px 6px;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	/*border-top:1px solid #a1141c;
	border-right:2px solid #000;
	background-color:#a1141c;*/


}

img.img_mnu_top{margin-left:0px;}

div#content{
	background-color:#fdd278;
	color:#a1141c;
	font-size:11px;
	padding:30px 6px;
	height:auto;
	_height:547px;
	min-height:547px;
}

td.content_paragraph{
	text-align:justify;
	padding-left:6px;
	margin-top:20px;
	width:66%;
}

td.content_float{
	margin-top:20px;
	margin-right:6px;
}
td.content_right{
	margin-top:20px;
	margin-right:6px;
	margin-left:10px;
	vertical-align:top;
}

div.content_sommaire{
	width:198px;
	margin-left:20px;
}

div.content_download{
	width:190px;
	margin-left:20px;
	border-style:none;
	margin-top:10px;
	background-color:#EFBD62;
	padding:4px;
	text-align:center;
}
div.content_download a{font-weight:bold;}
div.content_download img{margin:1em;}

td.sommaire_bg_top{
	background-image:url(sommaire_bg_top.png);
	width:198px;
	height:7px;
}

td.sommaire_bg_inner{
	background-image:url(sommaire_bg_inner.png);
	background-repeat:repeat-y;
	width:198px;

}

td.sommaire_bg_bottom{
	background-image:url(sommaire_bg_bottom.png);
	width:198px;
	height:8px;
}

span.Front14Bold_fdd278{font-size:14px;color:#fdd278;font-weight:bold;}
div.sommaire_inner_content{padding:8px;}

/*glossaire*/

td.glossaire_index{
	color:#a1141c;
	font-size:10px;
	text-align:center;
}

.glossaire_index span{
	background-color:#a1141c;
	color:#fdd278;
}

.glossaire_index a{
	color:#a1141c;
	text-decoration:none;
}

.glossaire_index a:hover{
	background-color:#a1141c;
	color:#fdd278;
	text-decoration:underline;
}

.glossaire_input_search{
	font-size:11px;
	font-family:Arial,Helvetica,Sans-serif;
	width:100px;
	height:15px;
}

a.front_lien{
	color:#a1141c;
}

a.front_lien:hover{
	text-decoration:underline;
}

a.no_underline{
	text-decoration:none;
}

/*boutique*/
div.content{
	color:#a1141c;
	background-color:#fdd278;
	padding:6px;
	width:713px;
}

/*Boutique, intro*/
img.boutique_image_intro{float:right; margin-left:10px; margin-bottom:10px;}
h1.boutique_titre{font-size:16px;}
p.boutique_chapo{text-align:justify}
p.boutique_footer{font-size:10px;}
div.boutique_rub_container{float:left;margin:10px 15px 10px 0px;width:207px;}
div.boutique_rub_titre{
	background-image:url(boutique-rub-bg.jpg);
	background-repeat:no-repeat;
	width:207px;
	height:39px;
}

div.boutique_rub_image{
	width:199px;
	height:100px;
	overflow:hidden;
	background-color:#fee0a1;
	margin-left:3px;
	text-align:center;
}

div.boutique_rub_image img{
	margin-top:6px;
}
div.boutique_rub_image a img{
	border-style:solid;
	border:1px #fee0a1;
}

div.boutique_rub_image a:hover img{
	border-style:solid;
	border:1px #a1141c;
}
div.boutique_rub_titre h2{
	text-align:center;
	color:#fff;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-transform:uppercase;
	padding-top:12px;
	margin:0;
}

div.boutique_rub_titre h2 a{
	color:#fff;
	text-decoration:none;
}


/*Boutique, tableau des produits*/

ul.boutique_categorie{
	margin:0;
	padding:0;
}

ul.boutique_categorie li{
	display:inline;
	padding-right:6px;
}

ul.boutique_categorie a{color:#a1141c;text-decoration:none;}
ul.boutique_categorie a:hover{text-decoration:underline;}

img.boutique_image_titre{margin:10px 0px;}
table.boutique{
	color:#a1141c;
	background-color:#fee0a1;
	width:100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	border-width:1px;
}

th.boutique_tab_header{
	color:#a1141c;
	font-size:10px;
	font-weight:bold;
}

tr.boutique_row_impair{background-color:#fee0a1;}
tr.boutique_row_pair{background-color:#fdd278;}

th.boutique_tab_header{
	font-size:14px;
	font-weight:bold;
	text-align:right;
	padding:6px 3px;
	border:1px #a1141c;
	border-style:none none solid none;
}

th.boutique_tab_header2{
	font-size:14px;
	font-weight:bold;
	text-align:left;
	padding:6px 3px;
	border:1px #a1141c;
	border-style:none none solid none;
}

th.boutique_tab_header3{
	font-size:14px;
	font-weight:bold;
	text-align:right;
	padding:6px 3px;
	border:1px #a1141c;
}

td.boutique_col_produit{padding:3px;vertical-align:top;width:160px;}
td.boutique_col_produit2{padding:3px;vertical-align:top;width:140px;}
td.boutique_col_description{padding:3px;vertical-align:top;width:230px;}
td.boutique_col_description{padding:3px;vertical-align:top;width:190px;}
td.boutique_col_image{padding:3px;text-align:center;width:120px;}
td.boutique_col_lot{padding:3px;text-align:center;vertical-align:top;width:100px}
td.boutique_col_trolley{padding:3px;text-align:center;vertical-align:top; width:50px;}
select.boutique_sel_lot{font-size:10px;}
select.boutique_sel_lot option{font-size:10px;}
input.boutique_input{width:20px;height:14px;font-size:10px;margin:0;padding:0;}
input.boutique_button{}
td.boutique_col_prix{padding:3px;font-weight:bold;width:70px;text-align:right;vertical-align:top;}
td.boutique_col_modif{padding:3px;width:60px;vertical-align:top;}

p.boutique_produit_titre{margin:0;padding:0;font-weight:bold;}
p.boutique_produit_soustitre{margin:0;padding:0;font-weight:normal;}

.noborder{border-style:none;margin:0;padding:0;}

/*Formulaires*/

fieldset.bivb_fieldset{
	border-style:none;
	padding:1em;
}

fieldset.bivb_fieldset_border{text-align:center;padding:1em;width:300px;border:1px #fee0a1 solid;}
fieldset.bivb_fieldset_borderlogin{height:135px;}
fieldset.bivb_fieldset_border2{text-align:center;padding:1em;width:400px;border:1px #fee0a1 solid;}
fieldset.bivb_fieldset_border3{padding:1em;width:550px;border:1px #fee0a1 solid;margin-left:10px;text-align:right}
fieldset.bivb_fieldset_border4{padding:1em;width:110px;border:1px #fee0a1 solid;margin-left:10px;text-align:right}
fieldset.bivb_fieldset legend,
fieldset.bivb_fieldset_border legend{
	font-size:16px;
	color:#a1141c;
	font-weight:bold;
}
fieldset.bivb_fieldset_border3 legend{
	font-size:12px;
	color:#a1141c;
	font-weight:bold;
}
fieldset.bivb_fieldset_border4 legend{
	font-size:12px;
	color:#a1141c;
	font-weight:bold;
}
label.bloc{display:block;margin-top:6px;margin-bottom:3px;font-weight:bold;}
label.bivb_label_150{display: inline;float:left;width:150px;background-color:#fee0a1;padding:3px;}
input.bivb_input{font-size:11px;font-family:Arial, Helvetica, sans-serif;color:#a1141c;border-style:none;border:1px #a1141c;}
input.bivb_radio{font-size:11px;font-family:Arial, Helvetica, sans-serif;color:#a1141c;border-style:none;}
input.bivb_input_button{
	background-color:#a1141c;
	color:#fee0a1;
	border-color:#fdd278;}
input.bivb_input_button2{
	background-color:#a1141c;
	color:#fee0a1;
	border-color:#fdd278;
	height:18px;
	font-size:10px;}
div.bivb_div_form{height:auto;margin-top:2px;margin-top:4px;text-align:left;}
div.bivb_div_button{ clear: both;text-align:center;background-color:#fee0a1;margin-top:20px;padding:3px;}
div.bivb_div_button2{text-align:right;background-color:#fee0a1;margin-top:20px;padding:3px;}
textarea.bivb_textarea,
select.bivb_select{font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#a1141c;border-style:solid;border:1px #a1141c;}

div.menu {background-color:#fee0a1;padding:3px;margin-left:4px;margin-right:4px}
div.menu a{text-decoration:none;}
div.menu a:hover{text-decoration:underline;}
.bold {font-weight:bold;}
.fRight {float:right;}
.fLeft {float:left;}

textarea.w250,
select.w250{width:250px;}

h1.bivb_h1{font-size:16px;}
h2.bivb_h2{font-size:14px;}
h2.bivb_jaune{color:#fee0a1;}
h1.bivb_h1{font-size:16px;}
h3.bivb_h3{font-size:12px;}
span.negatif{color:#fee0a1;background-color:#a1141c;}
div.div_clair{padding:6px;background-color:#fee0a1;color:#a1141c;}
div.div_fonce{padding:6px;background-color:#fdd278;color:#a1141c;}
ul.bivb_liste{
	background-color:#fee0a1;
}
ul.bivb_liste li{list-style-type:none;}
p.bivb_para_note{font-size:10px;font-style:italic}
span.millesime_critere{
	float:left;width:150px;background-color:#fee0a1;
}

table.bivb_table{
	color:#a1141c;
	background-color:#fee0a1;
	width:100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	border-width:1px;
}

tr.row_impair{background-color:#fee0a1;}
tr.row_pair{background-color:#fdd278;}

tr.row_header th{
	font-size:14px;
	font-weight:bold;
	padding:6px 3px;
	border:1px #a1141c;
	border-style:none none solid none;
}

table.bivb_table a{
	color:#a1141c;
	text-decoration:underline;
}

table.bivb_table a:hover{
	text-decoration:none;
}

div.text_warning{
	color:#f00;
	font-weight:bold;
	font-size:11px;
	font-family:Arial,Helvetica,Verdana,Sans-serif;
	text-align:center;
	height:auto;
	padding: 5px 0px;
}


div.text_valide{
	background-color:white;
	color:#55B05A;
	font-weight:bold;
	font-size:11px;
	font-family:Arial,Helvetica,Verdana,Sans-serif;
	text-align:center;
	height:auto;
	padding: 5px 0px;
}


div.text_warning2{
	color:#f00;
	font-weight:bold;
	font-size:11px;
	font-family:Arial,Helvetica,Verdana,Sans-serif;
	text-align:left;
}

a.bivb_link{
	color:#a1141c;
	text-decoration:underline;
}

a.bivb_link:hover{
	color:#a1141c;
	text-decoration:none;
}

/* infobulle */
a.infoBulle {color:#a1141c;text-decoration:underline;position:relative; z-index:24; padding:3px}
a.infoBulle:hover {z-index:25; background:transparent; text-decoration:none; padding:3px}
a.infoBulle span{display: none}
a.infoBulle:hover span{
	display:block;
	position:absolute;
	top:0px;
	width:500px;
	height:auto;
	border:1px solid #B9B29B;
	overflow:auto;
	background-color:#FFF;
	color:#000000;
	text-align:justify;
	font-weight:normal;
	text-decoration:none;
	font-size:10px;
	padding:5px;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#999999, Direction=120, Strength=3);}

td.appellation_bloc_right_header{
	background-image:url(appellations_header.png);
	background-repeat:no-repeat;
	background-position:bottom left;
	width:229px;
	height:71px;
	vertical-align:bottom;
}
td.appellation_bloc_right{
	background-image:url(appellations_bg.png);
	background-repeat:repeat-y;
	background-position:top left;
	width:229px;
	vertical-align:top;
}
div.appellation_bloc_right{
	margin-top:0px;
	background-image:url(http://www.vins-bourgogne.fr/theme_front/theme_front_1/images/module/appellation/appellations_bg.png);
	background-repeat:repeat-y;
	background-position:top left;
	padding:0px 0px 60px 24px;

}
div.appellation_detail_bloc{
	width:50%;
	float:left;
}

div.appellation_detail_bloc div.inner_content{padding:6px;}

/*Agenda*/
div.agenda_btn{
	width:136px;
	height:36px;
	margin-left:3px;
	margin-right:3px;
	background-image:url(agenda_btn.png);
	background-repeat:no-repeat;
	background-position:top left;
	text-align:center;
	float:left;
}
div.agenda_btn a{text-decoration:none;margin-top:10px;display:block;}
div.agenda_btn a:hover{text-decoration:underline;}

div.agenda_content{padding-left:30px;}
h1.agenda_titre{margin:0;padding:0;font-size:11px;}
p.agenda_para{margin:0;padding:0;}
a.agenda_link{color:#000;text-decoration:none;}
a.agenda_link:hover{color:#000;text-decoration:underline;}
div.agenda_annee{padding-bottom:12px;text-align:center;}
div.agenda_saison{height:80px;}
div.agenda_mois{padding-left:81px;}
div.agenda_mois a{text-decoration:none;color:#000;}
div.agenda_mois a:hover{text-decoration:underline;}

/*Vignerons*/
td.vigneron_image{vertical-align:middle;text-align:center;padding:0px 10px;width:80px;}
td.vigneron_detail{vertical-align:top; padding:0px;height:80px;}
td.vigneron_appellation{vertical-align:top;background-color:#fee0a1;width:150px;}

table.vigneron_resultat{font-size:10px;}
table.vigneron_resultat th{color:#fee0a1;background-color:#a1141c;}

/*Video*/
div.video_list{
	border-top:1px solid #a1141c;
	font-size:13px;
	font-weight:bold;
}

/*menu*/
#navbar_container{
	position:relative;
	/*height:75px;
	border:1px dashed blue;*/
}

#navbarh1{height:47px;width:748px;overflow:hidden;}
#navbarh2{position:absolute;top:47px;left:0px;background-color:#fdd278;height:40px;width:748px;padding-top:6px;}
#navbarh1 div{float:left;}
#navbarh2 div{float:left;}
#navbarh1 div.menu1{
	background-image:url(submenu_bg.gif);
	background-repeat:repeat-x;
	background-position:left top;}
#navbarh1 div.menu1Sel{
	background-image:url(submenu_bg_on.gif);
	background-repeat:repeat-x;
	background-position:left bottom;}

/*#navbarh1 div.menu1 img, #navbarh1 div.menu1Sel img{vertical-align:text-bottom;}*/
#navbarh1 div.menu1 a.lnkmenu1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	color:#fdd278;
	text-decoration:none;
	padding:2px;
	position:relative;
	top:-7px;
	z-index:9999;
}

#navbarh1 div.menu1Sel a.lnkmenu1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	color:#a1141c;
	text-decoration:none;
	padding:2px;
	position:relative;
	top:-7px;
	z-index:8888;
}

#navbarh2 a.lnkmenu2{
	color:#000;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	padding:6px;}
#navbarh2 a.lnkmenu2:hover{color:#000;text-decoration:underline;}
#navbarh2 a.active{color:#fff;text-decoration:none;font-family:Arial, Helvetica, sans-serif;font-size:13px;padding:6px;}
#navbarh2 a.active:hover{color:#fff;text-decoration:underline;}

/*Acces reserve*/
div.access_reserve_home{
	width:293px;
	height:158px;
	background-repeat:no-repeat;
	margin:0;
	margin-left:40px;
	padding:0;
	overflow:hidden;
	text-align:center;
}

div.access_reserve_home table{
	border:none;
	padding:0;
	margin-top:30px;
	border-collapse:collapse;
	text-align:center;
}

div.access_reserve_home table td{padding:5px;}
div.access_reserve_home div{text-align:center;padding:10px;}

div.access_reserve_interne{
	width:203px;
	height:222px;
	background-repeat:no-repeat;
	margin:0;
	margin-left:30px;
	margin-top:10px;
	padding:0;
	overflow:hidden;
}
div.access_reserve_interne div{text-align:center;padding-bottom:10px;}

/*Virtual caviste*/
div.vcav_resume{float:left;background-color:#fee0a1;color:#000000;padding:20px;width:50%;}
div.vcav_resume ul{margin:0;padding:0;}
div.vcav_caract{float:left;width:180px;border-bottom:1px solid #fdd278;}
span.vcav_caract{float:left;font-weight:bold;}
table.vcav_avis{margin-top:20px;}
table.vcav_avis th{border:1px solid #fee0a1;padding:8px;width:20%;text-align:center;color:#000;font-weight:bold;background-color:#fee0a1;}
table.vcav_avis td{border:1px solid #fee0a1;padding:8px;width:40%;vertical-align:top;}




/*Espace presse*/
body.espace_propresse{
	width:100%;
	height:100%;
	margin:0;
	background-color:#000;
}
#Tableau_espace_presse {
	/*position:absolute;
	left:0px;
	top:0px;*/
	position:relative;
	text-align:left;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	height:800px;
}

#espacePress .editoImg .imgEmailingArticle , #espacePro .editoImg .imgEmailingArticle { margin-top:5px; }

#espace-presse-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:646px;
	height:219px;
}

#espace-presse-02 {
	position:absolute;
	left:646px;
	top:0px;
	width:354px;
	height:219px;
}

#espace-presse-03 {
	position:absolute;
	left:0px;
	top:219px;
	width:34px;
	height:530px;
	background:url(espace-presse_03.jpg) left top no-repeat;
}

#espace-presse-04 {
	position:absolute;
	left:34px;
	top:219px;
	width:291px;
	height:451px;
	padding:100px 5px 5px 12px;
}
#espace-presse-04 h1,
#espace-presse-04 h2{margin:0;}
#espace-presse-04 .ArialBleu12{
	color:#0268a8;
	font:bold 12px Arial, Helvetica, sans-serif;
}

#espace-presse-04 .ArialBlanc12{
	color:#fff;
	font:bold 12px Arial, Helvetica, sans-serif;
}

#espace-presse-04 .souligne{text-decoration:underline;}
#espace-presse-04 a{
	color:#fff;
	text-decoration:none;
	font-weight:normal;
}

#espace-presse-04 a:hover{text-decoration:none;}

#espace-presse-05 {
	position:absolute;
	left:325px;
	top:219px;
	width:8px;
	height:530px;
	background:url(espace-presse_05.jpg) left top no-repeat;
}

#espace-presse-06 {
	position:absolute;
	left:333px;
	top:219px;
	width:313px;
	height:297px;
	padding:40px 4px 4px;
}

#espace-presse-07 {
	position:absolute;
	left:646px;
	top:219px;
	width:8px;
	height:304px;
	background:url(espace-presse_07.jpg) left top no-repeat;
}

#espace-presse-08 {
	position:absolute;
	left:654px;
	top:219px;
	width:313px;
	height:297px;
	padding:40px 4px 4px;
}

#espace-presse-09 {
	position:absolute;
	left:967px;
	top:219px;
	width:33px;
	height:530px;
	background:url(espace-presse_09.jpg) left top no-repeat;
}

#espace-presse-10 {
	position:absolute;
	left:333px;
	top:516px;
	width:313px;
	height:7px;
	background:url(espace-presse_10.jpg) left top no-repeat;
}

#espace-presse-11 {
	position:absolute;
	left:654px;
	top:516px;
	width:313px;
	height:7px;
	background:url(espace-presse_11.jpg) left top no-repeat;
}

#espace-presse-12 {
	position:absolute;
	left:333px;
	top:523px;
	width:634px;
	height:187px;
}

#espace-presse-13 {
	position:absolute;
	left:34px;
	top:670px;
	width:112px;
	height:79px;
	/*background:url(../image/gabarit/espace-presse_13.jpg) left top no-repeat;*/
}

#espace-presse-13 img,
#espace-presse-14 img{border:none;}

#espace-presse-14 {
	position:absolute;
	left:146px;
	top:670px;
	width:179px;
	height:79px;
}

#espace-presse-15 {
	position:absolute;
	left:333px;
	top:710px;
	width:634px;
	height:39px;
	background:url(espace-presse_15.jpg) left bottom no-repeat;
}

#espace-presse-16 {
	position:absolute;
	left:0px;
	top:749px;
	width:1000px;
	height:51px;
	background:url(espace-presse_16.jpg) left top no-repeat;
}

#espace-presse-16 a{color:#fff;text-decoration:none;}

table.espace-presse-item{
	color:#fff;
	font:12px Arial, Helvetica, sans-serif;
	width:100%;
	margin:0;
	padding:0;
	border-spacing:0;
	border-collapse:collapse;
}
table.espace-presse-item a{
	color:#fff;
	text-decoration:underline;
	font-weight:normal;
}
table.espace-presse-item a:hover{
	text-decoration:none;
}

#espace-presse-06 a,
#espace-presse-08 a,
#espace-presse-12 a{
	color:#fff;
	font:12px Arial, Helvetica, sans-serif;
	text-decoration:underline;
}
#espace-presse-06 a:hover,
#espace-presse-08 a:hover,
#espace-presse-12 a:hover{text-decoration:none;}

table.espace-presse-idbox{
	margin:0;
	padding:0;
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	height:100%;
}
table.espace-presse-idbox td.left{padding-top:20px;}
table.espace-presse-idbox td.right{text-align:center;}
table.espace-presse-idbox img{border:none;}

#espacepresse{ width:1000px;margin:0;padding:0;border-style:none;}

#espacepresse td.header{
	width:1000px;
	height:200px;
	background-image:url(http://www.vins-bourgogne.fr/theme_front/theme_front_1/image/gabarit/espacepresse_top.jpg);
	background-repeat:no-repeat;
	vertical-align:bottom;
}
#espacepresse td.header div{padding:20px;}
#espacepresse td.inner{
	width:1000px;
	height:627px;
	background-image:url(espacepro_mid.jpg);
	background-repeat:no-repeat;
	vertical-align:top;
}
#espacepresse td.footer{
	width:1000px;
	height:73px;
	background-image:url(espacepro_bottom.jpg);
	background-repeat:no-repeat;
	vertical-align:bottom;
}

#bloc_presse_newsletter{
	float:left;
	width:291px;
	height:452px;
	background-color:#47A4E3;
	overflow:visible;
}

#bloc_compresse,
#bloc_eventpresse{
	float:left;
	width:313px;
	height:315px;
	background-color:#E46970;
	overflow:visible;
	margin-left:8px;
}

#bloc_boiteidee{
	float:left;
	width:634px;
	height:173px;
	background-color:#BB8A51;
	overflow:visible;
	margin-left:8px;
	margin-top:8px;
}


#bloc_presse_newsletter div.innercontent,
#bloc_compresse div.innercontent,
#bloc_eventpresse div.innercontent,
#bloc_boiteidee div.innercontent{padding:10px;}




/*espace pro*/
#Tableau_espace_pro {
	/*position:absolute;
	left:0px;
	top:0px;*/
	position:relative;
	text-align:left;
	width:1000px;
	height:800px;
	margin-left:auto;
	margin-right:auto;
}

#espace-pro-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1000px;
	height:219px;
}

#espace-pro-02 {
	position:absolute;
	left:0px;
	top:219px;
	width:35px;
	height:530px;
	background:url(espace_pro_02.jpg) left top no-repeat;
}

#espace-pro-03 {
	position:absolute;
	left:35px;
	top:219px;
	width:290px;
	height:451px;
	padding-top:45px;
}

#espace-pro-03 div{
	margin : 6px;
}

#espace-pro-03 img{
	padding-bottom:12px;
	margin-right:6px;
}

#espace-pro-03 div.newsletter{
	margin:10px;
	background-color:#e66e69;
	height:181px;
	overflow:visible;
}

#espace-pro-03 div.first{
	margin-top:50px;
}
div.newsletter img{float:left;margin:10px;}
div.newsletter p{text-transform:uppercase;font:12px Arial, Helvetica, sans-serif;color:#fff;padding-top:10px;padding-right:10px;}
div.newsletter a{color:#fff;text-decoration:none;}
div.newsletter a:hover{text-decoration:underline;}

#espace-pro-04 {
	position:absolute;
	left:325px;
	top:219px;
	width:8px;
	height:530px;
	background:url(espace_pro_04.jpg) left top no-repeat;
}

#espace-pro-05 {
	position:absolute;
	left:333px;
	top:219px;
	width:313px;
	height:315px;
	padding-top:40px;
}



table.espace-pro-item{
	color:#a1141c;
	font:bold 12px Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	border-spacing:0;
	border-collapse:collapse;
	width:100%;
}


table.espace-pro-item a{
	color:#a1141c;
	text-decoration:underline;
	font-weight:normal;
}

table.espace-pro-item a:hover{
	text-decoration:none;
}

#espace-pro-06 {
	position:absolute;
	left:646px;
	top:219px;
	width:8px;
	height:323px;
	background:url(espace_pro_06.jpg) left top no-repeat;
}

#espace-pro-07 {
	position:absolute;
	left:654px;
	top:219px;
	width:313px;
	height:315px;
	padding-top:40px;
}

#espace-pro-07 a.autres_evenements {
	display:block;
	margin:10px 0px 0px 4px;
}

#espace-pro-08 {
	position:absolute;
	left:967px;
	top:219px;
	width:33px;
	height:530px;
	background:url(espace_pro_08.jpg) left top no-repeat;
}

#espace-pro-09 {
	position:absolute;
	left:333px;
	top:534px;
	width:313px;
	height:8px;
	background:url(espace_pro_09.jpg) left top no-repeat;
}

#espace-pro-10 {
	position:absolute;
	left:654px;
	top:534px;
	width:313px;
	height:8px;
	background:url(espace_pro_10.jpg) left top no-repeat;
}

#espace-pro-11 {
	position:absolute;
	left:333px;
	top:542px;
	width:634px;
	height:174px;
}

table.espace-pro-actus{
	margin:0;
	padding:0;
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	height:100%;
}
table.espace-pro-actus td.left{padding-top:20px;}
table.espace-pro-actus td.right{text-align:center;}
table.espace-pro-actus img{border:none;}

#espace-pro-12 {
	position:absolute;
	left:35px;
	top:670px;
	width:290px;
	height:12px;
	background:url(espace_pro_12.jpg) left top no-repeat;
}

#espace-pro-13 {
	position:absolute;
	left:35px;
	top:682px;
	width:111px;
	height:67px;
}
#espace-pro-13 a img{border:none;}


#espace-pro-14 {
	position:absolute;
	left:146px;
	top:682px;
	width:179px;
	height:67px;
	background:url(espace_pro_14.jpg) left top no-repeat;
}

#espace-pro-15 {
	position:absolute;
	left:333px;
	top:716px;
	width:634px;
	height:33px;
	background:url(espace_pro_15.jpg) left top no-repeat;
}

#espace-pro-16 {
	position:absolute;
	left:0px;
	top:749px;
	width:1000px;
	height:51px;
	background:url(espace_pro_16.jpg) left top no-repeat;
}

#espace-pro-16 a {color:#fff;text-decoration:none}

/*menu version 3*/
#navbar_container2{position:relative;width:748px}
#navbar_container2 img{float:left;}
#navbar_container2 a.inactive1{
	background-image:url(submenu_bg.gif);
	background-repeat:repeat-x;
	background-position:left top;
	float:left;
	line-height:31px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	color:#fdd278;
	text-decoration:none;
}

#navbar_container2 a.active1{
	background-color:#fdd278;
	float:left;
	line-height:31px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	color:#a1141c;
	text-decoration:none;
	padding-left:8px;
	padding-right:8px;
}

#navbar_submenu{background-color:#fdd278;position:absolute;top:31px;left:0px;width:100%;height:31px;}
#navbar_submenu a.active2{color:#fff;text-decoration:none;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:normal;text-transform:none;
	padding-left:0.5em;padding-right:0.7em}
#navbar_submenu a.inactive2{color:#a1141c;text-decoration:none;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:normal;text-transform:none;
	padding-left:0.5em;padding-right:0.7em}

/*FAQ*/
ul.faq_list li{list-style-image:url(fleche_d.png);}
ul.faq_list a{text-decoration:none;}
ul.faq_list a:hover{text-decoration:underline;}

div.faq_answers{
	padding:2em;
	margin-top:2em;
	height:300px;
	border: 1px #fee0a1;
	border-style: solid none none none;
}
div.faq_invisible{display:none;}

/* Tablelistlight */
.bgTd th{
	background-color:#b32a23;
	height:30px;
	color:white;
	border-bottom:2px solid white;
	padding-right:4px;
	text-align:left;
	padding-left:4px;
}

table.tableList {
	cellpadding:0px;
	cellspacing:0px;
	border:1px solid #cf9f87;
}

table tr.ligne1{
	background-color:#fee0a1;
	color:#a1141c;
}

table tr.ligne1 td,
table tr.ligne2 td,
table tr.bgTdOn td{
	padding:4px 4px 4px 4px;
}

table tr.bgTdOn td{
	color:#a1141c;
}

table tr.ligne2{
	background-color:#e8cc93;
	color:#a1141c;
}

img{
	border:0px;
}

div.pagination{
	margin-bottom:5px;
	font-weight:bold;
}
div.pagination a{
	font-weight:normal;
}

div#espace-presse-left, div#espace-pro-left {
	float: left;
	width: 299px;
	padding-left: 30px;
}

div#espace-presse-right, div#espace-pro-right {
	float: left;
	width: 671px;
}

div#espace-presse-newsletter {
	width: 299px;
	height: 458px;
}

div#espace-pro-newsletter {
	width: 299px;
	padding-top: 40px;
	height: 418px;
}

div#espace-presse-contact, div#espace-pro-contact {
	width: 295px;
	height: 83px;
	padding: 7px 0px 0px 4px;
}

div#espace-presse-communique, div#espace-presse-evenement, div#espace-pro-communique, div#espace-pro-evenement {
	width: 313px;
	height: 248px;
	float: left;
	padding: 54px 4px 3px 4px;
}

div.communiqueWrapper, div.evenementWrapper {
	height: 225px;
	overflow: hidden;
}

div.communique {
	width: 307px;
	height: 70px;
	text-align: left;
	margin-bottom: 5px;
	overflow: hidden;
	padding: 0px 1px 0px 5px;
}

div.communiqueliste {
	clear: both;
	text-align: left;
	margin-bottom: 5px;
	overflow: hidden;
	padding: 0px 1px 0px 5px;
}


div.communique a {
	color: white;
}

p.autrecommunique {
	padding-left: 5px;
	color: white;
	margin: 0;
}

p.autrecommunique a {
	color: white;
}

div.evenement {
	width: 307px;
	height: 70px;
	text-align: left;
	margin-bottom: 5px;
	overflow: hidden;
	padding: 0px 1px 0px 5px;
}

div.evenementliste {
	clear: both;
	text-align: left;
	margin-bottom: 5px;
	overflow: hidden;
	padding: 0px 1px 0px 5px;
}


div.evenement a {
	color: white;
}

p.autreevenement {
	padding-left: 5px;
	color: white;
	margin: 0;
}

p.autreevenement a {
	color: white;
}

div#espace-pro-communique div.communique a, div#espace-pro-communique p.autrecommunique a , div#espace-pro-communique div.communique, div#espace-pro-evenement div.evenement a, div#espace-pro-evenement p.autreevenement a , div#espace-pro-evenement div.evenement {
	color: #A41432;
}

div#boite-idees-left {
	float: left;
	width: 303px;
}

div#boite-idees-right {
	float: left;
	width: 339px;
}

div#espace-presse-boite-idees, div#espace-pro-boite-idees {
	width: 642px;
	height: 193px;
	float: left;
	position: relative; 
}

.evenementImg, .communiqueImg {
	margin-bottom: 5px; margin-right: 5px;
}

div#espace-presse-newsletter div.newsletterWrapper {
	padding: 45px 19px 19px 19px;
	width: 261px;
	height: 394px;
	overflow: hidden;
}
div#espace-presse-newsletter .presse_newsletter_titre {
	margin: 0px 0px 10px 0px;
}
div#espace-presse-newsletter .presse_newsletter_text {
	margin: 5px 0px;
	height: 355px;
	overflow: hidden;
}
div#espace-presse-newsletter .presse_newsletter_link {
	margin: 2px 0px;
}
div#espace-presse-newsletter .presse_newsletter_link a {
	color: white;
}


div#espace-pro-newsletter div.newsletterWrapper {
	padding: 2px 19px;
	width: 261px;
	height: 200px;
	overflow: hidden;
}
div#espace-pro-newsletter .presse_newsletter_titre {
	margin: 5px 0px;
}
div#espace-pro-newsletter .presse_newsletter_text {
	margin: 5px 0px;
	height: 150px;
	overflow: hidden;
}
div#espace-pro-newsletter .presse_newsletter_link {
	margin: 2px 0px;
}
div#espace-pro-newsletter .presse_newsletter_link a {
	color: white;
}

/* VIGNERONS ET MAISONS 08/08/2008 */


/* RECHERCHER */

div.content_vigneron_img {
	float: left; 
	margin: 0px 10px 10px 0px;
}

div.content_vigneron_recherche {
	padding: 11px 8px; 
	background-color: #fee0a1; 
	float: left; 
	width: 720px;
	border-top: 1px solid #A41432;
	border-bottom: 1px solid #A41432;
}

p.msg_resultat {
	margin: 0px 0px 15px 0px;
	color: red; 
	font-weight: bold;
}

div.vigneron_recherche_left {
	width: 357px;
	float: left;
}
div.vigneron_recherche_right {
	width: 357px;
	float: right;
}

/* FORMULAIRE RECHERCHE PRODUCTEUR*/

div.content_vigneron_send {
	width: 360px;
	margin: 0px auto;
	background-color: #fee9bd;
	color: #a1141c;
}

div.content_vigneron_form form {
	margin: 0px;
	padding: 0px;
}

div.content_vigneron_form form p.vignerons_label, div.content_vigneron_send form p.vignerons_label {
	float: left; 
	background-color: #fee9bd; 
	margin:0px 1px 5px 0px; 
	width: 158px; 
	height:18px; 
	line-height: 18px;
	text-align: right;
}

div.content_vigneron_form form p.vignerons_label2 {
	float: left; 
	background-color: #fee9bd; 
	margin: 20px 0px 5px 0px; 
	width: 158px; 
	height:18px; 
	line-height: 18px;
	text-align: right;
}

div.content_vigneron_form form p.vignerons_input, div.content_vigneron_send form p.vignerons_input {
	float:right;
	margin:0px 0px 5px 0px;
	width: 198px; 
	height: 18x;
}

div.content_vigneron_form form p.vignerons_input input.input_vignerons, div.content_vigneron_form form p.vignerons_input2 input {
	border: 0;
	width: 198px;
	height: 18px;
	/*line-height: 18px;*/
	font-size: 11px;
	margin: 0px;
	padding: 0px;
}

div.content_vigneron_form form p.vignerons_input2 {
	float: right;
	margin: 20px 0px 2px 0px;
	width: 198px; 
	height: 18px;
}


div.content_vigneron_form form p.vigneron_liste_complete {
	margin: 2px 0px 8px 0px;
	height: 13px;
	line-height: 13px;
}

div.content_vigneron_form form p.vigneron_submit {
	text-align: center;
	height: 22px;
	line-height: 22px;
}

div.content_vigneron_form form p.vigneron_submit input{
	background: #a1141c;
	color: #fdd278;
	font-size: 11px;
}

div.content_vigneron_send form p.vigneron_submit input{
	background: #a1141c;
	color: #fdd278;
	font-size: 11px;
}

div.content_vigneron_send form p.vigneron_submit {
	text-align: center;
	height: 22px;
	line-height: 22px;
	margin: 5px auto;
}

div#headerSend h1 {
	text-align: center;
	margin: 0px auto;
}

/* AFFICHAGE RESULTAT */

div.content_vigneron_resultat h2{
	margin-top: 30px;
}

div.content_vigneron_resultat div.recherche_affichage {
	width: 736px;
	float: left;
}

/* AFFICHAGE RESULTAT LISTE */

div.recherche_affichage {
	width: 736px;
}

div.recherche_affichage_top, div.recherche_affichage_bottom {
	padding: 0px 10px;
	
	background: #fce4b3;
	border-top: 1px solid #eaba95;
}

div.recherche_affichage_top p{
	margin: 0px;
	line-height: 29px;
}

div.recherche_affichage_liste ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
div.recherche_affichage_liste ul li{
	margin: 0px;
	padding: 3px 10px;
	/*height: 23px;
	line-height: 23px;*/
	
}
div.recherche_affichage_liste ul li p{
	margin: 0px;
}
li.resultat1 {
	background: #fdd98c;
}

li.resultat0 {
	background: #fee0a1;
}

div.recherche_affichage_bottom {
	margin: 0;
	padding: 5px 5px;
}

div.recherche_affichage_bottom p {
	margin: 0;
	padding: 5px 0px;
}

p.pagination {
	float: left;
	width: 40%;
}

p.nbResults {
	text-align: right;
}

/*div.recherche_affichage_bottom a {
	line-height: 28px;
}

div.recherche_affichage_bottom p {
	line-height: 28px;
	height: 28px;
}

div.recherche_affichage_bottom ul, div.recherche_affichage_bottom p {
	line-height: 28px;
	height: 28px;
}*/
/*
div.recherche_affichage_bottom ul li {
	margin: 0px 2px 0px 0px;
	padding: 0px;
	float: left;
}

p.pagination {
	float: left;
	width: 40%;
	height: 12px;
	line-height: 28px;
	padding: 8px 0px; 
}*/
/*
p.nbResults {
	float: right;
	width: 55%;
	text-align: right;
	height: 12px;
	line-height: 28px;
	padding: 8px 0px; 
}*/

/*
ul.liste1 li {
	text-align: center;	
}

ul.liste1 li a{
	margin:4px 0px 0px 0px;
	width: 17px;
	height: 17px;
	line-height: 17px;
	display : block;
	background : #a1141c;
	border: 1px solid white;
	color: white;
	text-decoration: none;
}

ul.liste1 li a:hover{
	background : #fdd278;
	color: #a1141c;
}

ul.liste1 img{
	vertical-align: middle;
}*/

/*
div.recherche_affichage_bottom p {
	margin: 0px 3px 0px 330px;
}*/

div.recherche_affichage_icone {
	padding: 0px 15px;
	height: 50px;
	background: #fddf9f;
	border-top: 1px solid #ebac66;
}

div.recherche_affichage_icone ul {
	margin: 15px 0px;
	padding: 0;
	list-style-type: none;
}

div.recherche_affichage_icone ul li {
	line-height: 20px;
	height: 20px;
	float: left;
	margin: 0px 3px;
}

div.recherche_affichage_icone ul li img {
	float: left;
}

/*
div.recherche_affichage_icone ul{
	margin: 0px;
	padding: 20px 0px 0px 0px;
	list-style: none;
}

div.recherche_affichage_icone ul li{
	float: left;
	margin: 0px 8px;
	padding: 0px;
	line-height: 20px;
}*/

/* COMMUN */

h2.vigneron{
	margin: 0px 0px 15px 0px;
	font-size: 14px;
	line-height: 17px;
	height: 17px;
	font-weight: bold;
}

p.vigneron_txt{
	margin: 15px 0px;
}

.clear {
	clear: both;
}

.center {
	text-align: center;
}

strong {
	font-weight: bold;
}

.Fleft {
	float: left;
}

.Fright {
	float: right;
}

.txt_left {
	text-align: left;
}

.txt_right {
	text-align: right;
}

p.resultat_tete {
	font-weight: bold;
}

span.resultat {
	color: red;
	font-weight: bold;
}

p.justify {
text-align:justify;
padding:0px;
margin:0px;
}

.padlef20 {
padding-left:20px;
}

p.ListeExport , p.TitreExport{
	margin: 0;
	padding: 0;
	float: left;
	display: inline;
}

/***************
________________
 STYLE SOPHINI
________________
***************/

/* Commun */

span.txt14 {
	font-size: 14px;
}

.margeT10 {
	margin : 10px 0px 0px 0px;
}

.margeB2 {
	margin: 0px 0px 2px 0px;
}

.nomarge {
	margin: 0px;
}

.margeTB10 {
	margin: 10px 0px;
}

/* VIGNERONS CARACTERISTIQUES */
p.pathway {
	margin: 0px 10px;
	text-align: right;
	line-height: 15px;
}

div.vigneron_caracteristique_content_top, div.appellation_caracteristique_content_top {
	/*height: 49px;*/
	background: #fddf9f;
	border-top: 1px solid #ebb685;
	padding: 5px 0px 5px 10px;
}

div.vigneron_caracteristique_ligne {
	border-top: 1px solid #ebb276;
	margin-bottom: 10px;
	padding: 0px 10px;
}

div.vigneron_caracteristique_img {
	float: left;
	margin: 5px;
}

p.LienTourisme {
	margin: 0;
	margin-top: 10px;
	padding: 0;
}

div.vigneron_caracteristique_txt {
	/*width: 630px;*/
	float: left;
}

div.google_map {
	width: 735px;
	height: 273px;
	margin-bottom: 10px;
}

input.bivb_inputMap{font-size:11px;font-family:Arial, Helvetica, sans-serif;color:#a1141c;border:1px #a1141c solid;}
label.bivb_label_80{display: inline;float:left;width:80px;background-color:#fee0a1;padding:3px;}
p.itiForm { margin: 3px auto; }
p.bivb_div_buttonMap{ text-align:center;background-color:#fee0a1;margin-top:5px;padding:3px; }

div.google_map_agenda {
	width: 520px;
	height: 273px;
}


input.bivb_input_buttonMap{
	font-size: 10px;
	background-color:#a1141c;
	color:#fee0a1;
	border-color:#fdd278;}

.maph1 {
	color: #A41432;
	font-size: 10px;
	font-weight: bold;
}

div#print_tete, div.print_url{
	display: none;
}



div.accueil_appellation {
	padding:0px;
	margin:0px;  
	width: 735px;
	float:left;
	background-color: #fee0a1;
	border-top: 1px solid #A41432;
	border-bottom: 1px solid #A41432;
}

div.content_vigneron_form form {
	margin: 0px;
	padding: 0px;
	float:left;
}

div.appellation_recherche_left {
	width: 356px;
	height:185px;
	float: left;
	margin: 0px;
	padding:5px;
	border-right:1px solid #ebb276;
}
div.carte_vignoble_right {
	width: 356px;
	height:185px;
	float:right;
	margin: 0px;
	padding:5px;
}


div#appellation_carte ul li {
	margin:0px;
	padding-left:20px;
	list-style:none;
}

li.appellation_carte {
	margin:0px;
	padding:0px;0
	list-style-type:none;
}

img.carte_accueil_appellation {
	display:block;
	float:left;
	padding:0px 10px 0px 0px;
}



div.appellation_carac_content_top {
	background: #fddf9f;
	border-top: 1px solid #ebb685;
	padding: 5px 0px 5px 14px;
}

div.appellation_carac_content{
	border-top: 1px solid #ebb276;
	margin-bottom: 25px;
	padding:0px 10px 10px 10px;

}

div.appellation_carac_img {
	width: 450px; 
	float:left;
	margin:0px;
	padding:0px;
	text-align:center;
}
div.appellation_carac_txt {
	width:500px; 
	float:right;
	margin:0px;
	padding:0px;
}

div.appellation_carte_left {
	width: 450px;
	float: left;
	margin: 0px;
	padding:0px;
	border-right:1px solid #ebb276;
	overflow: hidden;
}

div.carte_informations_right {
	width: 250px;
	float:right;
	margin: 0px;
	padding:0px;
}

p.zoomCarte {
	margin: 5px 0px 0px 0px;
}

/* TELECHARGEMENT */


div.telechargement_rub_container{float:left;margin:10px 15px 10px 0px;width:207px;}

div.telechargement_rub_titre{
	background-image:url(http://www.vins-bourgogne.fr/theme_front/theme_front_1/image/module/telechargement/telechargement-rub-bg.jpg);
	background-repeat:no-repeat;
	width:207px;
	height:39px;
}


div.telechargement_rub_image{
	width:199px;
	height:100px;
	overflow:hidden;
	background-color:#fee0a1;
	margin-left:3px;
	text-align:center;
}

div.telechargement_rub_image img{
	margin-top:6px;
}
div.telechargement_rub_image a img{
	border-style:solid;
	border:1px #fee0a1;
}

div.telechargement_rub_image a:hover img{
	border-style:solid;
	border:1px #a1141c;
}
div.telechargement_rub_titre h2{
	text-align:center;
	color:#fff;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-transform:uppercase;
	padding-top:12px;
	margin:0;
}

div.telechargement_rub_titre h2 a{
	color:#fff;
	text-decoration:none;
}


/* GLOSSAIRE */

ul.letterlist, ul.wordlist {
	list-style: none;
	padding: 0px;
	margin: 5px 0px;
}

ul.letterlist li {
	padding: 1px;
	margin: 0px;
	display: inline;
}

ul.wordlist li {
	width: 30%;
	padding: 1px;
	margin: 0px;
	display: block;
	float: left;
}

div.deftexteimg, div.defimg {
	float: left;
}

div.deftexteimg {
	width: 528px;
	padding: 2px 4px;
}

div.defimg {
	width: 200px;
	overflow: hidden;
	text-align: center;
}

div.deftexte {
	width: 728px;
	padding: 2px 4px;
}

div.menulettre, div.searchbox {
	padding: 2px;
	float: left;
}

div.menulettre {
	width: 494px;
}

div.searchbox {
	width: 234px;
}

input.go {
	font-size: 9px;
	margin-left: 5px;
}
p.glossaire {
	margin: 3px 0px;
}

/***************************************************************************************//***************************************************************************************/
/***************************************************************************************//***************************************************************************************/
/***************************************************************************************//***************************************************************************************/
/***************************************************************************************//***************************************************************************************/
/***************************************************************************************//***************************************************************************************/
/***************************************************************************************//***************************************************************************************/
/* ESPACE EMAILING */
/***************************************************************************************/
/* GLOBAL */

#espacePress body, #espacePress h1, #espacePress h4, #espacePress h5, #espacePress h6, #espacePress p, #espacePress ul, #espacePress li, #espacePress ol, #espacePress dd, #espacePress dl, #espacePress dt, #espacePress table, #espacePress tr, #espacePress td, #espacePress th, #espacePress form, #espacePress input, #espacePress select, #espacePress hr, #espacePress textarea, #espacePress img, #espacePress marquee , #espacePro body, #espacePro h1, #espacePro h4, #espacePro h5, #espacePro h6, #espacePro p, #espacePro ul, #espacePro li, #espacePro ol, #espacePro dd, #espacePro dl, #espacePro dt, #espacePro table, #espacePro tr, #espacePro td, #espacePro th, #espacePro form, #espacePro input, #espacePro select, #espacePro hr, #espacePro textarea, #espacePro img, #espacePro marquee{
margin: 0px;
padding: 0px;
}

#espacePress h1, #espacePress h2, #espacePress h3, #espacePress h4, #espacePress h5, #espacePress h6, #espacePress th,  #espacePro h1, #espacePro h2, #espacePro h3, #espacePro h4, #espacePro h5, #espacePro h6, #espacePro th {
font-weight: normal;
}

#espacePress ul, #espacePress ol, #espacePress li, #espacePro ul, #espacePro ol, #espacePro li{
list-style: none;
}

#espacePress a, #espacePro a{
text-decoration: none;
color: #a1141c;
}

#espacePress a:hover, a.on, #espacePro a:hover, #espacePro a.on{
text-decoration: underline;
}

#espacePress img, #espacePro img{
border: none;
margin: 0px;
}

#espacePress .fLeft, #espacePro .fLeft{
float: left;
}

#espacePress .fRight, #espacePro .fRight{
float: right;
}

#espacePress .imgArticle, #espacePro .imgArticle {
float: left;
margin-right: 5px;
}
 
#espacePress .clear, #espacePro .clear{
clear: both;
}

/***************************************************************************************/
/* POLICES */

#espacePress .gras, #espacePro .gras{
font-weight: bold;
}

#espacePress .date, #espacePro .date{
color: #5b513d;
font-style: italic;
font-weight: bold;
}

#espacePress .titreActu, #espacePro .titreActu  {
font-weight: bold;
color: black;
}

#espacePress, #espacePro{
font-family: arial;
font-size: 12px;
line-height: 14px;
color: black;
}

#espacePress h1#logoTxt, #espacePro h1#logoTxt{
font-family: Georgia;
font-size: 36px;
line-height: 36px;
font-weight: bold;
color: white;
}

#espacePress .titre1, #espacePro .titre1{
font-family: "Trebuchet MS", Arial;
font-weight: bold;
font-size: 18px;
line-height: 20px;
text-transform: uppercase;
}

#espacePress .titreNews, #espacePro .titreNews{
font-family: Arial;
font-weight: bold;
font-size: 14px;
line-height: 16px;
text-transform: uppercase;
}

#espacePress .lienRetour, #espacePro .lienRetour{
font-size: 10px;
line-height: 12px;
text-transform: upppercase;
color: #fdd278;
}

#espacePress .filTxt, #espacePro .filTxt{
font-size: 12px;
line-height: 14px;
color: #ffd800;
}

#espacePress .mainTxt, #espacePro .mainTxt{
font-size: 12px;
line-height: 14px;
color: #000000;
}

#espacePress .txtBlanc, #espacePro .txtBlanc{
font-size: 12px;
color: white;
}

#espacePress .lien1, #espacePro .lien1{
font-size: 11px;
line-height: 13px;
color: #a1141c;
}

#espacePress .lien2, #espacePro .lien2{
font-size: 12px;
line-height: 14px;
color: #a1141c;
}

#espacePress .navLien1, #espacePro .navLien1{
font-family: "Trebuchet MS", Arial;
font-size: 12px;
line-height: 14px;
font-weight: bold;
text-transform: uppercase;
color: white;
}

#espacePress .navLien2, #espacePro .navLien2{
font-family: "Trebuchet MS", Arial;
font-size: 11px;
line-height: 13px;
font-weight: bold;
text-transform: uppercase;
color: #a11410;
}

/***************************************************************************************/
/* DIV */

#espacePress, #espacePro{
margin: 0px;
padding: 0px;
background: black;
width:100%;
height:100%;
}

#espacePress div#container, #espacePro div#container{
width: 1000px;
margin: 0px auto;
}

#espacePress div#container{background: url(fond.jpg) top center no-repeat #530409;}
#espacePro div#container{background: url(fond.jpg.1) top center no-repeat #431003;}

#espacePress div#header, #espacePro div#header{
width: 1000px;
height: 180px;
position: relative;
}

#espacePress div#mainNav, #espacePro div#mainNav{
width: 975px; /* 1000 */
height: 123px;
padding-right: 25px;
margin-bottom: 4px;
}

#espacePress div#mainContent, #espacePro div#mainContent{
width: 1000px;
height: auto;
_height: 523px;
min-height: 523px;
}

#espacePress div#content{
color:black;
font-family:arial;
font-size:12px;
line-height:14px;
padding-bottom: 0px;
margin:0px;
padding-left:0px;
padding-right:0px;
padding-top:0px;
min-height:393px;
}

#espacePro div#content{
padding-bottom: 15px;
background:none;
color:#000;
font-size:11px;
height:auto;
min-height:470px;
padding:0px 0px;
font-family:Arial,Sans-serif;
}

#espacePress div#content #cnil p, #espacePro div#content #cnil p{
color:#000;
}

#espacePress div#left, #espacePro div#left{
width: 235px;
height: auto;
_height: 480px; /* 523 */
min-height: 480px; /* 523 */
padding-top: 43px;
float: left;
}

#espacePress div#right, #espacePro div#right{
width: 732px; /* 765 */
height: auto;
_height: 523px;
min-height: 523px;
float: left;
background: #ffd888;
}

#espacePress div#footer, #espacePro div#footer{
width: 1000px;
height: 25px; /* 88 */
padding-top: 63px;
}

#espacePress div#footer{background: url(fondFooter.jpg) top center no-repeat;}
#espacePro div#footer{background: url(fondFooter.jpg.1) top center no-repeat;}

#espacePro .boutique_rub_titre{ padding-top:12px; }
#espacePro .boutique_rub_titre a{ color:#FFFFFF; }
#espacePro .boutique_rub_container { margin:10px 0 10px 15px; }

/************************************************************************************************************/
/* HEADER PRESSE */

#espacePress div#header h1#logoTxt{
position: absolute;
top: 50px;
left: 50px;
}

#espacePress div#btnRetour {
width: 127px; /* 133 */
position: absolute;
padding: 3px;
top: 121px;
left: 50px;
text-align: center;
}

#espacePress div#btnRetour  a, #espacePro div#btnRetour a{
font-size: 10px;
line-height: 15px;
text-transform: uppercase;
color: #fdd278;
}

#espacePress div#logoBIVB, #espacePro div#logoBIVB{
width: 221px;
height: 135px;
position : absolute;
left: 779px;
}

/* HEADER PRO */

#espacePro div#header h1#logoTxt{
position: absolute;
top: 50px;
left: 70px;
}

#espacePro div#btnRetour {
width: 105px; /* 109 */
position: absolute;
padding: 3px 0px;
top: 118px;
left: 70px;
text-align: center;
font-family:Arial,Helvetica,Sans-serif;
}

/************************************************************************************************************/
/* MENU PRINCIPAL */

#espacePress div#mainNav ul, #espacePro div#mainNav ul{
width: 740px; 
height: 123px;
float: right;
overflow: hidden;
}

#espacePress div#mainNav ul li, #espacePro div#mainNav ul li{
float: left;
width: 142px;
height: 123px;
margin-right: 6px;
text-align: center;
}

#espacePress div#mainNav ul li a, #espacePro div#mainNav ul li a{
width: 142px;
height: 123px;
display: block;
color: white;
background: #530409;

}

/************************************************************************************************************/
/* SOUS MENU */
#espacePress ul#subNav, #espacePro ul#subNav{
width : 190px; /* 204 */ 
margin: 0px auto;
border-top: 1px solid #ffd888;
border-bottom: 1px solid #ffd888;
padding : 20px 7px 10px 7px; 
}

#espacePress li.subNavBtn, #espacePro li.subNavBtn{
width: 190px;
height: 26px;
line-height: 0px;
padding-top:14px;
margin-bottom: 10px;
text-align: center;
background: url(btn-nav2.jpg) top left no-repeat;
}

ul#subNav ul li.level2 p a, ul#subNav ul li.level3Press p a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

ul#subNav ul li.level3Press p a {
	text-transform: normal;
}

ul#subNav ul li.level4 a {
	color: white;
}

ul#subNav ul li.level4 {
	margin-left: 15px;
	padding-left: 15px;
	list-style-type: disc;
	list-style-position: inside;
	width: 175px;
	line-height: 18px;
	color: white;
}

/* FIL INFO */
#espacePress div#filInfo, #espacePro div#filInfo{
width: 722px; /* 732 */
height: 43px;
padding: 0px 5px;
background: url(fond-FilInfo.png) top repeat-x #830e13;
}

#espacePress span.iconeFilIInfo, #espacePro span.iconeFilIInfo{
margin-right: 5px;
width: 24px;
height: 43px;
}

#espacePress marquee.txtDefilant{
width: 602px;
height: 43px;
}

#espacePro marquee.txtDefilant{
width: 602px;
height: 43px;
font-size:13px;
line-height:43px;
font-family:Arial,Helvetica,Sans-serif;
} 

#espacePress span.iconeFilIInfo, marquee.txtDefilant, span.titreFilInfo, #espacePro span.iconeFilIInfo, marquee.txtDefilant, span.titreFilInfo{
font-size: 13px;
color: #ffd800;
line-height: 43px;
float: left;
}

#espacePress span.titreFilInfo, #espacePro span.titreFilInfo{
width: 91px;
font-weight: bold;
text-transform: uppercase;
}

/************************************************************************************************************/
/* ACCUEIL - CENTRE */

#espacePress div#content, #espacePro div#content{
background:none;
}

#espacePress div#contentLeft, #espacePro div#contentLeft{
width: 393px;
float: left;
}

#espacePress div#contentRight, #espacePro div#contentRight{
width: 332px; /* 339 */
padding: 4px 3px 4px 4px;
background: white;
float: left;
}

#espacePress div#content h1.communiquesColor, #espacePress div#content h1.evenementsColor, #espacePress div#content h1.agendaColor, #espacePress div#content h1.authentificationColor, #espacePro div#content h1.rendez-vousColor, #espacePro div#content h1.agendaColor, #espacePro div#content h1.serviceColor, #espacePro div#content h1.authentificationColor, #espacePro div#content h1.communiquesColor{ /* SKH */
height: 36px;
line-height: 36px;
background: #ffe7b5;
border-top: 2px solid white;
text-transform: uppercase;
font-size : 18px;
font-family: "Trebuchet MS", Arial;
padding : 0px 12px;
/*margin-bottom:5px;*/
margin: 0px 0px 5px 0px;
}

#espacePress div.contentTxt, #espacePro div.contentTxt{
padding: 10px 10px 0px 10px;
background: #ffd888;
}

#espacePress div.contentTxt ul.liste, #espacePro div.contentTxt ul.liste{
margin-left: 5px;
font-size : 12px;
font-family: Arial;
}

#espacePress div.contentTxt ul.liste li, #espacePro div.contentTxt ul.liste li{
padding-left: 20px;
line-height: 11px;
margin-bottom: 5px;
}

#espacePress div.contentTxt ul.liste li{background: url(iconeFleche.jpg) center left no-repeat;}
#espacePro div.contentTxt ul.liste li{background: url(iconeFleche.jpg.1) center left no-repeat;}

#espacePress ul.actuLien,#espacePro ul.actuLien{
margin-top: 10px;
float: right;
}

#espacePress ul.actuLien li, #espacePro ul.actuLien li{
margin-right: 3px;
margin-bottom: 2px;
line-height: 15px;
float: left;
}


#espacePress div#communiques div.contentTxt, #espacePress div#evenements div.contentTxt, #espacePress div#agenda div.contentTxt, #espacePro div#rendez-vous div.contentTxt, #espacePro  div#service div.contentTxt, #espacePro  div#actualites div.contentTxt{
height: 112px; /* 132 padding present*/
}

#espacePress .communiquesColor, #espacePro .communiquesColor{color: #ebab00;}
#espacePress .evenementsColor{color: #f67503;}
#espacePress .agendaColor{color: #ce8018;}
#espacePro .rendez-vousColor{color: #f6a903;}
#espacePro .serviceColor{color: #f67503;}
#espacePro .actualitesColor{color: #e44248;}

/************************************************************************************************************/
/* ACCUEIL - NEWSLETTER */

#espacePress div#newsCorps{
height: 300px; /* 372*/
padding: 10px 10px 78px 10px;
background: url(angleFeuille.jpg) no-repeat bottom right #fadea4;
}

#espacePro div#newsCorps{
height: 284px; /* 372*/
padding: 10px 10px 78px 10px;
background: url(angleFeuille.jpg.1) no-repeat bottom right #fadea4;
}

#espacePress p.marches{
margin-bottom: 6px;
color:#000;
font-family:arial;
font-size:12px;
}
#espacePress #newsCorps h3{
color:#000;
}

#espacePress div#contenu_total span.thematiqueTitre a, #espacePress div#contenu_total h3.titreArticle a, #espacePress div#contenu_total p.emailingTxt a, #espacePro div#contenu_total span.thematiqueTitre a, #espacePro div#contenu_total h3.titreArticle a, #espacePro div#contenu_total p.emailingTxt a {
	color:#000000;
	text-decoration:none;
}
/************************************************************************************************************/
/* FOOTER */

#espacePress div#footerLeft, #espacePro div#footerLeft{
float: left;
height: 25px;
width: 490px;
padding-left: 25px;
line-height:25px;
}

#espacePress div#footerRight, #espacePro div#footerRight{
float: right;
height: 25px;
line-height: 25px;
width: 450px;
padding-right: 33px;
text-align: right;
}

#espacePress ul#footerNavn #espacePro ul#footerNav{
height: 25px;
}

#espacePress ul#footerNav li, #espacePro ul#footerNav li{
float: left;
line-height: 25px;
margin-right: 15px;
}

#espacePress #footerLeft a, #espacePro div#footerLeft a{
color: white;
}


/************************************************************************************************************/
/* FIL ARIANE */
#espacePress ul#filArianeNav, #espacePro ul#filArianeNav{
line-height: 43px;
}

#espacePress ul#filArianeNav li, #espacePro ul#filArianeNav li{
float: left;
color: white;
margin-right: 2px;
font-size: 10px;
text-transform: uppercase;
}

#espacePress ul#filArianeNav a, #espacePro ul#filArianeNav a{
color: white;
}

/************************************************************************************************************/
/* INTERNE - LISTE ACTU */
#espacePress div.actuLeft, #espacePro div.actuLeft{
display: block;
width: 140px;
height: 60px;
margin-right: 7px;
float: left;
}

#espacePress div.actuRight, #espacePro div.actuRight{
display: block;
/*height: 58px; */
width: 292px;
padding-top: 2px;
float: left;
}

#espacePress div.actuRight p, #espacePro div.actuRight p{
line-height: 16px;
}

#espacePress p.listingLien, #espacePro p.listingLien{
margin-top: 3px;
}

#espacePress ul.actuListing li, #espacePro ul.actuListing li  {
margin-bottom : 10px;
}

#espacePress #filInfo .txtDefilant a ,#espacePro #filInfo .txtDefilant a { 
	color:#FFD800;
}

/*Agenda*/
#espacePress div#content div.agenda_btn, #espacePro div#content div.agenda_btn {
	width:136px;
	height:36px;
	margin-left:3px;
	margin-right:3px;
	background-image:url(agenda_btn.png);
	background-repeat:no-repeat;
	background-position:top left;
	text-align:center;
	float:left;
	
}
#espacePress div#content div.agenda_btn a, #espacePro div#content div.agenda_btn a{text-decoration:none;margin-top:10px;display:block;}
#espacePress div#content div.agenda_btn a:hover, #espacePro div#content div.agenda_btn a:hover{text-decoration:underline;}

#espacePress div#content div.agenda_content, #espacePro div#content div.agenda_content{ padding-left:30px;  margin-bottom:5px; }
#espacePress div#content h1.agenda_titre, #espacePro div#content h1.agenda_titre{
color:#A1141C; font-family:Verdana,Arial,Sans-serif;
font-weight:bold; margin-bottom:5px; padding:0;font-size:11px; background:none; border:none; }
#espacePress div#content p.agenda_para, #espacePro div#content p.agenda_para{margin:0;padding:0;}
#espacePress div#content a.agenda_link, #espacePro div#content a.agenda_link{color:#000;text-decoration:none;}
#espacePress div#content a.agenda_link:hover, #espacePro div#content a.agenda_link:hover{color:#000;text-decoration:underline;}
#espacePress div#content div.agenda_annee, #espacePro div#content div.agenda_annee{padding-bottom:12px;text-align:center;}
#espacePress div#content div.agenda_saison, #espacePro div#content div.agenda_saison{height:80px;}
#espacePress div#content div.agenda_mois, #espacePro div#content div.agenda_mois{padding-left:81px;}
#espacePress div#content div.agenda_mois a, #espacePro div#content div.agenda_mois a{text-decoration:none;color:#000;}
#espacePress div#content div.agenda_mois a:hover, #espacePro div#content div.agenda_mois a:hover{text-decoration:underline;}

#espacePress div#content td.appellation_bloc_right_header, #espacePro div#content td.appellation_bloc_right_header {
background-image:url(appellations_header_2.jpg);
background-position:left top;
background-repeat:no-repeat;
}

/************************************************************************************************************/
/* INTERNE - ACTU DETAIL */

#espacePress h2.titreActu, #espacePro h2.titreActu{
font-size: 12px;
line-height: 14px;
padding: 0px; /* SKH*/
margin: 0px 0px 10px 0px;
font-family:Arial,Helvetica,Sans-serif;
}

/**************************************************************************
 Newsletter */

 p.bivb_label_150{
	 display: inline;
	 background-color:#fee0a1;
	 padding:3px;
 }
input.bivb_input, textarea.bivb_input{font-size:11px;font-family:Arial, Helvetica, sans-serif;color:#a1141c;border-style:none;border:1px #a1141c;}
input.bivb_input2{font-size:11px;font-family:Arial, Helvetica, sans-serif;color:#a1141c;border-style:none;border:1px #a1141c; width:60px;}
input.bivb_radio{font-size:11px;font-family:Arial, Helvetica, sans-serif;color:#a1141c;border-style:none;}


/* GESTION DES TABS */
@media projection, screen { 
    .ui-tabs-hide {
        display: none;
    }
}


@media print {
    .ui-tabs-nav {
        display: none;
    }
}

#newsCorps li {
float:left;
margin-left:1px;
margin-right:1px;
}
.ui-tabs-nav, .ui-tabs-panel {
    font-size: 12px;
}
.ui-tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 4px;
}
.ui-tabs-nav:after { 
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
    float: left;
    margin: 0 0 0 1px;
}
* html .ui-tabs-nav { 
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  {
    display: inline-block;
}


/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/* SKH : STYLE EMAILING */

/* CONTENU */
#espacePress div#emailingContainer, #espacePro div#emailingContainer{
width: 592px;
margin: 20px auto;
padding: 0px 0px;
}

/* Zone Btn Tete */
#espacePress div#emailingTop, #espacePro div#emailingTop {
height : 29px;
line-height: 29px;
}

#espacePress div#emailing_titre, #espacePro div#emailing_titre{
float: left;
}

#espacePress div#btns, #espacePro div#btns{
float: right;
}

#espacePress span.articlePicto, #espacePro span.articlePicto{
margin-right: 5px;
}

#espacePress h1.emailing_titre1, #espacePro h1.emailing_titre1{
margin: 0px;
padding: 0px;
line-height: 29px;
font-size: 30px;
color: black;
text-transform: uppercase;
font-weight: normal;
}

#espacePress h2.titreEdito, #espacePro h2.titreEdito{
margin: 15px 0px 8px 0px;
padding: 0px;
font-family : Verdana, serif;
font-size: 24px;
text-transform: uppercase;
line-height: 28px;
font-weight: normal;
border-bottom: 1px dotted #142882;
}

#espacePress div.editoImg, #espacePro div.editoImg {
float: left;
/* margin-top: 8px; */ /* SKH */
margin-right: 8px;
margin-bottom: 8px;
}

#espacePress h2.titreThematique, #espacePro h2.titreThematique{
width: 568px;
height: 28px;
margin: 15px 0px 5px 0px;
padding: 0px;
font-family : Verdana, serif;
font-size: 19px;
font-weight: normal;
clear: both;
}

#espacePress span.thematiquePicto, #espacePro span.thematiquePicto {
width: 23px;
height: 25px; /* 28 */
padding-top: 3px;
margin-right: 5px;
float: left;
}

#espacePress span.thematiqueTitre a, #espacePro span.thematiqueTitre a {
	line-height: 25px;
}

#espacePress span.thematiqueTitre, #espacePro span.thematiqueTitre{
width: 540px;
/*height: 17px;
padding-bottom: 10px;*/
float: left;

border-bottom: 1px dotted #142882;
}

#espacePress a.emailingLien, #espacePro a.emailingLien{
font-size: 12px;
color: #a1141c;
text-decoration: none;
}

#espacePress a.emailingLien:hover, #espacePress a.emailingLien:active, #espacePress a.emailingLien:focus, #espacePro a.emailingLien:hover, #espacePro a.emailingLien:active, #espacePro a.emailingLien:focus{
text-decoration: underline;
}

#espacePress div.titreActicle_container, #espacePro div.titreActicle_container{
padding-left: 28px;
}

#espacePress h1#tetiere, #espacePro h1#tetiere{
margin: 0px;
padding: 0px;
position: relative;
}

#espacePress span.tetiereNum, #espacePro span.tetiereNum {
	font-family: Arial;
	font-size: 13px;
	color: #808080;
	font-weight: bold;
	position: absolute;
	top: 158px;
	left: 407px;
}

#espacePress h3.titreArticle, #espacePress p.emailingTxt, #espacePro h3.titreArticle, #espacePro p.emailingTxt{
margin: 0px;
padding: 0px;
font-family : Verdana, serif;
font-size: 12px;
line-height: 14px;
font-weight: normal;
color: black;
}

#espacePress p.emailingTxt, #espacePro p.emailingTxt {
	margin-top: 8px;
	font-size: 12px;
}

#espacePress p.emailingTxt strong, #espacePro p.emailingTxt strong{
	font-weight: bold !important;
}

#espacePress h3.titreArticle, #espacePro h3.titreArticle{
clear: both;
padding: 0px 0px 0px 10px;
}

#espacePress h3.titreArticle_enDirect, #espacePro h3.titreArticle_enDirect{
background: url(http://www.vins-bourgogne.fr/theme_front/theme_front_1/image/picto_enDirecte_titreArticle.jpg) no-repeat left top;
}

#espacePress h3.titreArticle_international, #espacePro h3.titreArticle_international{
background: url(http://www.vins-bourgogne.fr/theme_front/theme_front_1/image/picto_international_titreArticle.jpg) no-repeat left top;
}

#espacePress h2.titreEdito span a, #espacePress  h2.titreThematique span a, #espacePress h3.titreArticle span a, #espacePress p.emailingTxt span a, #espacePro h2.titreEdito span a, #espacePro  h2.titreThematique span a, #espacePro h3.titreArticle span a, #espacePro p.emailingTxt span a{
color: black;

}

#espacePress div#contenu_total span.thematiqueTitre a ,#espacePress div#contenu_total h3.titreArticle a, #espacePress div#contenu_total p.emailingTxt a, #espacePro div#contenu_total span.thematiqueTitre a ,#espacePro div#contenu_total h3.titreArticle a, #espacePro div#contenu_total p.emailingTxt a {
	color: #000000;	
	text-decoration: none;
}

#espacePress div#contenu_total span.thematiqueTitre a:hover ,#espacePress div#contenu_total h3.titreArticle a:hover, #espacePress div#contenu_total p.emailingTxt a:hover,  #espacePress div#contenu_total span.thematiqueTitre a:focus ,#espacePress div#contenu_total h3.titreArticle_enDirect a:focus, #espacePress div#contenu_total p.emailingTxt a:focus, #espacePro div#contenu_total span.thematiqueTitre a:hover ,#espacePro div#contenu_total h3.titreArticle a:hover, #espacePro div#contenu_total p.emailingTxt a:hover,  #espacePro div#contenu_total span.thematiqueTitre a:focus ,#espacePro div#contenu_total h3.titreArticle_enDirect a:focus, #espacePro div#contenu_total p.emailingTxt a:focus{
	color: #a1141c;	
	text-decoration: underline;
}

#espacePress h3.titreArticle_enDirect a:hover, #espacePress h3.titreArticle a:focus, #espacePress h3.titreArticle a.active,  #espacePress p.emailingTxt a:hover, #espacePro h3.titreArticle_enDirect a:hover, #espacePro h3.titreArticle a:focus, #espacePro h3.titreArticle a.active,  #espacePro p.emailingTxt a:hover{
color: #a1141c;
text-decoration: underline;
}

/* Zone Contenu */
#espacePress div#emailingMiddle, #espacePro div#emailingMiddle {
width: 568px;
height: auto;
_height: 399px;
min-height: 399px;
padding: 10px 12px 15px 12px;
background-color: white;
line-height: 13px;
}

/* Zone Contenu Bas */ 
#espacePress div#emailingBottom, #espacePro div#emailingBottom {
width: 592px;
height: 52px;
line-height: 52px;

}

#espacePress div.emailingBottom_left, #espacePro div.emailingBottom_left {
width: 200px;
height: 52px;
text-align: left;
float: left;
}
#espacePress div.emailingBottom_middle, #espacePro div.emailingBottom_middle {
width: 200px;
height: 52px;
float: left;
text-align: center;
}

#espacePress div.emailingBottom_right, #espacePro div.emailingBottom_right {
width: 192px;
height: 52px;
float: right;
text-align: right;
}

/* SKH : + AUTRES */

#espacePress .titreArticle_enDirect, #espacePro .titreArticle_enDirect{
	background-color:transparent;
	background-image:url(7898.jpg);
	clear: both; /* SKH */
	margin: 0px 0px 3px 0px;
	padding: 0px 0px 0px 10px; /* SKH */
}

#espacePress #emailingMiddle a, #espacePro#emailingMiddle a{
	color:#000000;
}

#espacePress #emailingMiddle a:hover, #espacePro #emailingMiddle a:hover{ /* SKH */
	color:#a1141c;
}

#espacePress div#mainNav ul, #espacePro div#mainNav ul{
margin: 0px;
padding: 0px;
}

#espacePress div#header h1, #espacePro div#header h1{
margin: 0px;
padding: 0px;
}

#espacePress div#footerRight p, #espacePro div#footerRight p{
margin: 0px 0px 10px 0px;
padding: 0px;
}

#espacePress .contentTxt p, #espacePress .contentTxt ul, #espacePro .contentTxt p, #espacePro .contentTxt ul{
margin: 0px;
padding: 0px;
}

#espacePress div#filInfo ul#filArianeNav, #espacePro div#filInfo ul#filArianeNav{
margin: 0px;
padding: 0px;
}
#espacePro #emailingMiddle a{ color:#000; }
#espacePress div.editoImg, #espacePro div.editoImg{ margin-top: 8px; margin-right: 8px; margin-bottom: 13px; }