@charset "utf-8";

div, img, a {behavior: url("index.html.3");}

.clearer{clear:both;}

/* CSS Document */
*{
/*---------------------------*/
/*-- TOUTES LES MARGES A 0 --*/
/*---------------------------*/
margin:0;
padding:0;
}
body{
	font-size:62.5%;
	font-family:Arial, Helvetica, sans-serif;
	color:#0a1523;
}
#background{background:url(bg-site-page.gif) repeat-x; width:100%; height:32px; position:absolute; top:0; left:0;}
.wrapper{
	position:relative;
	margin:0 auto;
	width:990px;
}
#logo{
	position:absolute;
	left:3px;
	width:214px;
	height:79px;
	z-index:3;
}
.img-float-left{float:left; margin-right:15px; margin-bottom:15px;}
.img-float-right{float:right; margin-left:15px; margin-bottom:15px;}
a img{border:none;}
.center{ text-align:center;}
/*-----------*/
/*-- FORM --*/
/*---------*/
form input, form select{font-family:Arial, Helvetica, sans-serif; color:#0a1523; }
/*-------------*/
/*-- HEADER --*/
/*-----------*/
#header{height:32px;font-size:1em;color:#fff;line-height:32px;float:right;padding-right:12px; z-index:3}
#header ul{list-style-type:none; float:left;padding-right:10px;}
#header ul a{padding:0 2px}
#header ul#zone-actif{background:url(bg-header-actif.gif) repeat-x; height:32px; padding:0;}
#header ul#zone-actif a{padding:0 15px 0 15px;}
#header ul#zone-actif li{background:url(bg-header-border-zone-actif.gif) no-repeat left; height:32px; display:block; float:left;}
#header div#separator{width:1px;background:url(bg-header-border-zone-actif.gif) no-repeat left; height:32px; display:block; float:left;}
#header ul li{display:inline;}
#header a{color:#fff;text-decoration:none;}
#header a:hover{text-decoration:underline;}
#header ul li#pays-selected{color:#b2bac3;}
#header ul a#contact{padding-left:35px; background:url(puce-contact.gif) 12px 2px no-repeat;}
#header ul a#presse{padding-left:35px; background:url(puce-abonnement.gif) 12px 0 no-repeat;}
#header select, #header option, #header input{font-family:Arial, Helvetica, sans-serif;background:none; border:none; font-size:1em;}
#header form{display:block; float:left; height:19px; margin:8px 0 0 0; width:132px;}
#header form#profil{background: url(bg-profil.gif) no-repeat; margin-left:10px;}
#header form#profil select{ 
	float:left;
	background:#b2bac3;
	width:110px;
	height:16px;
	line-height:16px;
	color:#0a1523;
	border:none;
	margin-left:16px;
	margin-right:5px;
	padding-top:2px;
	padding-bottom:2px;
}
#header form#profil select option{ background:none; border:none;}
*+html #header form#profil select{height:18px;}
#header form#search{background:url(bg-search.gif) no-repeat; margin-left:10px;}
#header form#search .zone-search{float:left; margin-left:10px; width:70px; padding-top:3px; padding-right:5px; padding-left:10px;!padding-left:0px;_padding-left:0px; }
#header form#search .btn-ok{ background:url(btn-ok.gif) no-repeat; float:right; cursor:pointer; width:27px; height:19px;}
/*-----------*/
/*-- MENU --*/
/*---------*/
.menu li{float:left; position:relative;} 
.menu li a{display:block; float:left; cursor:pointer;}
/*-------------*/
/*-- FOOTER --*/
/*-----------*/
.footer{margin:0 auto;width:990px;text-align:center;}
.footer .separator{background:url(bg-footer-separator.gif) no-repeat; height:1px;margin-bottom:6px;}
.footer p.lien{font-size:1em; margin-bottom:4px;}
.footer p.lien, .footer p.lien a{color:#ffffff; text-decoration:none;}
.footer p.lien a:hover{text-decoration:underline;}
.footer p.alcool{font-size:1em; color:#b2bac3; text-transform:uppercase;}
.footer span.alcool{color:#b2bac3;}


#flashcontent img{ margin-left:0px !important;}
#flashcontent div.csc-textpic-center div.csc-textpic-imagewrap .csc-textpic-image{ margin-left:0px !important;}