@charset "utf-8";
/* CSS Document */

.menu ul{list-style-type:none; background:#eef0f2 url(bg-menu-bottom.gif) bottom no-repeat; position:absolute; top:40px; left:0; width:244px; z-index:1; padding-bottom:10px;}
.menu ul li{float:none; display:block;border-left:solid 1px #c9cfd3;border-right:solid 1px #c9cfd3;z-index:5;background:#eef0f2}
.menu ul li a{float:none; display:block; padding:6px 10px; margin:0px 10px; text-decoration:none; color:#1a1b1c; font-size:1.0em; border-bottom:solid 1px #dee4e8; text-transform:uppercase; letter-spacing:1px;}
.menu ul li a:hover{text-decoration:none; background:#fff;}