/*********/
/*general*/
/*********/

*{
margin: 0;
padding: 0;
border: 0;
font-family: Arial, Verdana, sans-serif;
font-size: 11px;
font-style: normal;
text-decoration: none;
color: #000;
}



.both {
	clear: both;
	}

.left, #left {
	float: left;
	}
	
	
.right, #right {
	float: right;
	}
	
.bold{
	font-weight:bold;
}	
	
body {
	margin: 20px 0 0 0;
	text-align: center;
	background-color:#f6f6f6;
	}
#general {
	position: relative;
	width: 928px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	}
	


#general #ombre_bas{
	width:928px;
	height:14px;
	background-image:url(ombre_bas.gif);
	background-repeat:no-repeat;
	background-position:bottom left;
}

#general #pied_page{
	width:892px;
	margin-left:14px;
	border-top:1px solid #7991b1;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:8px;
	background-color:#f8f8f8;
}

#general #pied_page p{
	color:#7c848d;
}
#general #pied_page p a{
	color:#7c848d;
}
#general #pied_page span{
	margin-left:510px;
	color:#7c848d;
}


#general #ombre_haut {
	width:928px;
	height:14px;
	background-image:url(ombre_haut.gif);
	background-repeat:no-repeat;
}

#general #ombre_milieu {
	width:928px;
	background-image:url(ombre_milieu.gif);
	background-repeat:repeat-y;
}

#ombre_milieu #bloc_blanc {
	width:900px;
	margin-left:14px;
	background-image:url(fond_bloc_blanc.gif);
	background-repeat:repeat-y;
	border-bottom:1px solid #013a77;
}

#ombre_milieu #bloc_blanc_gauche {
	float:left;
	width:767px;
}


#ombre_milieu #bloc_blanc_gauche #logo {
	float:left;
	width:169px;
	margin-left:22px !important;
	margin-left:11px;
	padding-top:11px;
	padding-bottom:14px;
}

#ombre_milieu #bloc_blanc_gauche #titre {
	text-transform:uppercase;
	color:#013a77;
	font-size:24px;
	font-family:Century Gothic, Arial, sans-serif;
	float:left;
	width:572px;
	text-align:center;
	padding-top:27px;
}

#ombre_milieu #bloc_blanc_droite {
	float:left;
	width:133px;
	padding-top:5px;
}

#ombre_milieu #bloc_blanc_droite p {
	text-align:right;
	margin-right:7px;
	line-height:20px;
	color:#003777;
}
#ombre_milieu #bloc_blanc_droite a {
	color:#003777;
}

#ombre_milieu #bloc_blanc_droite p#mentions {
	font-size:10px;
}

#ombre_milieu #bloc_blanc_droite p#appels_offres {
	margin-top:10px;
}

#ombre_milieu #menu {
	width:900px;
	margin-left:14px;
	background-image:url(fond_menu.gif);
	background-repeat:repeat-x;
	height:28px;
	/*padding-top:1px;
	padding-bottom:3px;*/
}

#ombre_milieu #menu .item {
	float:left;
	padding: 0px 17px 0px 17px;
	line-height:26px;
	vertical-align:middle;
	margin-right:1px;
	margin-left:1px;
	font-weight:bold;
	height:27px;
}

#ombre_milieu #menu .item_on {
	background-image:url(bt_menu_on.gif);
	background-repeat:repeat-x;
	color:#FFFFFF;
}

#ombre_milieu #menu .item a{
	color:#0e457e;
	font-size:12px;
	font-family:Century Gothic, Arial, sans-serif;
	display:block;

}

#ombre_milieu #menu .item_on a{
	color:#FFFFFF;
}

#ombre_milieu #menu .separation {
background-color: #013b77;
width:1px;
 height:21px;
 float:left;
 margin-top:3px;
}



.sous_menu{
  display: none; 
  margin: 0;
   z-index:2;
   /*margin-top:1px;*/
   border-top:1px solid #fff;
}

 .milieu_ssmenu {
  background-image:url(fond_ssmenu.gif);
  background-repeat:repeat-y;
  width:174px;
}

.correct_ssmenu {
	border:1px solid #d4d4d4;
}

.ligne_blanche {
	height:1px;
	background-color:#FFFFFF;
}

 .bas_ssmenu {
	width:165px;
	height:8px;
	background-image:url(http://www.caen.port.fr/layout/img/bas_ssmenu.gif);
	background-repeat:repeat-x;
}

.sous_menu .ligne{
	border-bottom:1px dashed #de0000;
	margin-left:3px;
	margin-right:4px;
}

   #sous_menu_2 {
  	position: absolute;
	left:124px;
	top:147px;
  }
  
     #sous_menu_3 {
  	position: absolute;
	left:244px;
	top:147px;
  }
  
  	#sous_menu_4 {
  	position: absolute;
	left:415px;
	top:147px;
  }
  
    	#sous_menu_4_uk {
  	position: absolute;
	left:363px;
	top:147px;
  }
  
   
	#sous_menu_5 {
  	position: absolute;
	left:480px;
	top:147px;
  }
  
     #sous_menu_7 {
  	position: absolute;
	left:635px;
	top:147px;
  }

     #sous_menu_8 {
  	position: absolute;
	left:700px;
	top:147px;

  }
  
     #sous_menu_3_uk {
  	position: absolute;
	left:198px;
	top:147px;
  }
  
   #sous_menu_7_uk {
  	position: absolute;
	left:585px;
	top:147px;
  }




  .liens_menu p {
  	display:block;
	padding:3px 3px 3px 12px;
	font-weight:bold;
	color:#030303;
}
  .liens_menu_2 p {
  	padding: 1px 3px 1px 12px;
	font-style: italic;
	color:#030303;
	font-weight: normal;
}
  .liens_menu a {

	font-weight:bold;
	color:#000;
}
  .liens_menu a:hover {

	font-weight:bold;
	color:#e43232;
}
  .liens_menu li {
  	margin-left: 20px;
	list-style-type: none;
}
  .liens_menu ul {
  	padding-bottom: 3px;
}
/************************************************************/
/*						Accueil								*/	
/************************************************************/

#ombre_milieu #contenu {
	padding-bottom:18px;
}

#ombre_milieu #contenu_gauche {
	float:left;
	width:444px;
	margin-left:30px !important;
	margin-left:15px;
	margin-top:18px;


}

#ombre_milieu #contenu_gauche div {
	float:left;
	margin-right:2px;
	margin-bottom:2px;
}

#ombre_milieu #contenu_droite {
	float:left;
	width:424px;
	margin-top:18px;
	
}

#ombre_milieu #contenu_droite #contenu_droite_haut {
	background-image:url(ombre_encart_haut.gif);
	background-repeat:no-repeat;
	height:9px;
	font-size:7px;
	width:424px;
	
}

#ombre_milieu #contenu_droite #contenu_droite_bas {
	background-image:url(ombre_encart_bas.gif);
	background-repeat:no-repeat;
	height:9px;
	font-size:7px;
	width:424px;
	background-color:#FF0000;
	
}

#ombre_milieu #contenu_droite #contenu_droite_milieu {
	background-color:#f0f0f0;	
}

#ombre_milieu #contenu_droite #contenu_droite_milieu h1 {
	color:#de0000;
	font-size:16px;
	font-family:Century Gothic, Arial, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	padding-bottom:20px;
	padding-left:12px;
}

#ombre_milieu #contenu_droite #contenu_droite_milieu p {
	color:#000;
	font-size:11px;
	line-height:20px;
	padding-left:12px;
	padding-right:12px;
}

#ombre_milieu #contenu_droite #contenu_droite_milieu p#carte_quais {
	background-image:url(bt_voir_carte.gif);
	background-repeat:no-repeat;
	height:20px;
	width:224px;
	padding-left:0px;
	padding-right:0px;
	text-align:center;
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:12px;
	font-family:Century Gothic, Arial, sans-serif;
	font-weight:bold;
	margin-left:100px;
	margin-top:20px;
	padding-bottom:5px;
}

#ombre_milieu #contenu_droite #contenu_droite_milieu p#carte_quais a{
	color: #fff;
}




#ombre_milieu #bandeau_accueil {
	width:900px;
	height:300px;
	background-image:url(photo_accueil.jpg);
	background-repeat:no-repeat;
	margin-left:14px;
}

#ombre_milieu #bandeau_transmanche {
	width:900px;
	height:130px;
	background-image:url(bandeau_transmanche.jpg);
	background-repeat:no-repeat;
	margin-left:14px;
}



#ombre_milieu #logo_cci{
	float:left;
	width:171px;
	margin-top:10px;
	margin-left:18px;
}


#ombre_milieu #bandeau_accueil #bloc_flash {
	float:left;
	margin-left:400px !important;
	margin-left:312px;
	margin-top:20px;
	background-image:url(bloc_flash.png)!important;
	background-repeat:no-repeat;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src=/web/img/accueil/bloc_flash.png);
	background-image: none;
	width:254px;
	height:260px;

}


#ombre_milieu #bandeau_accueil #bloc_flash #overflow{
	height:200px;
	overflow:auto;
	position:relative;
}

#ombre_milieu #bandeau_accueil #bloc_flash #flash_titre{
	color:#0e457e;
	font-weight:bold;
	font-size:16px;
	font-family:Century Gothic, Arial, sans-serif;
	text-transform:uppercase;
	margin-left:19px;
	margin-bottom:11px;
	padding-top:3px;
}

#ombre_milieu #bandeau_accueil #bloc_flash #flash_contenu p{
	color:#0e457e;
	font-size:11px;
	margin-left:19px;
	margin-right:32px;
	line-height:18px;
	margin-bottom:15px;
}

#ombre_milieu #bandeau_accueil #bloc_flash #flash_contenu p#chapeau{
	color:#0e457e;
	font-weight:bold;
	font-size:13px;
	text-transform:uppercase;
	margin-left:19px;
	margin-right:32px;
	margin-bottom:10px;
}




#ombre_milieu #bloc_rouge {
	height:10px;
	font-size:8px;
	background-color:#de0000;
	margin-top:1px;
	width:900px;
	margin-left:14px;
}


/************************************************************/
/*						Texte								*/	
/************************************************************/





#contenu.texte h1 {
	text-transform:uppercase;
	font-weight:bold;
	font-size:16px;
	color:#003070;
	margin-left:52px;
	margin-top:15px;
	margin-bottom:10px;
}

#contenu.texte  table{
	margin-left:46px;
	width:530px;
}

#contenu.texte td{
	width:20%;
	padding:3px;
	text-align:center;
	background-color:#efefef;
}

#contenu.texte th{
	text-align:center;
	padding:3px;
	background-color:#b9d3e7;

}

#contenu.texte h2{
	width:822px;
	background-color:#e8e8e8;
	color:#013a77;
	font-size:13px;
	font-weight:bold;
	margin-left:34px;
	margin-top:15px;
	padding-left:12px;
	/*height:18px;*/
	line-height:18px;
	vertical-align:middle;
}

#contenu.texte h2#acces{
	margin-bottom:15px;
}




#contenu.texte h3{
	color:#013a77;
	font-size:12px;
	font-weight:bold;
	margin-left:46px;
	margin-top:12px;
	margin-bottom:8px;
}

#contenu.texte p{
	margin-left:46px;
	margin-right:15px;
}

#contenu.texte ul{
	margin-left:80px;
	margin-right:15px;
}

#contenu.texte li{
	padding:2px;
}




/************************************************************/
/*						Terminaux							*/	
/************************************************************/

#contenu.texte .titre_rubrique#transmanche {
	background-image:url(terminaux.gif);
	background-repeat:no-repeat;
	width:900px;
	height:15px;
	padding-bottom:5px;	
}
#contenu.texte .titre_rubrique#transmanche2 {
	width:900px;
	height:15px;
	padding-bottom:5px;	
}

#contenu.texte .titre_rubrique#transmanche_uk {
	background-image:url(terminaux_uk.gif);
	background-repeat:no-repeat;
	width:900px;
	height:15px;
	padding-bottom:5px;	
}


#contenu.texte #quais {
	text-transform:uppercase;
	font-weight:bold;
	font-size:16px;
	color:#003070;
	margin-left:52px;
	margin-top:15px;
	margin-bottom:10px;
}

#contenu #terminaux_haut {
	background-image:url(fond_contenu_haut.gif);
	background-repeat:repeat-y;
	width:900px;
	margin-left:14px;
	padding-top:20px;
	
}




#contenu  #terminaux_haut_gauche {
	float:left;
	width:575px;
	margin-left:34px !important;
	margin-left:17px;
	margin-right:9px;
	
}

#contenu #terminaux_haut  #terminaux_haut_gauche #encart_gris {
	width:575px;
	background-color:#e8e8e8;	
	padding-bottom:25px !important;
	padding-bottom:14px;
	min-height:210px;
}
	
#contenu #terminaux_haut  #terminaux_haut_gauche #encart_gris ul {
	list-style-type:none;
	margin-left:295px;
}	

#contenu #terminaux_haut  #terminaux_haut_gauche #encart_gris ul span {
	text-decoration:underline;
	color:#000;
	font-size:11px;
}

	

#contenu #terminaux_haut  #terminaux_haut_gauche #encart_gris p.titre {
	color:#de0000;
	font-weight:bold;
	font-size:13px;
	padding-top:8px;
}


#contenu #terminaux_haut  #terminaux_haut_gauche #encart_gris img{
	margin-top:8px;
	margin-right:18px;
	margin-left:8px;
}

#contenu #terminaux_haut  #terminaux_haut_gauche #encart_gris p{
	margin-right:15px;
	line-height:20px;
	margin-left:14px;
}

#contenu #terminaux_haut  #terminaux_haut_droite {
	float:left;
	width:250px;
}

#contenu #terminaux_haut  #terminaux_haut_droite .encart {
	background-color:#FFFFFF;
	border:1px solid #013b77;
	width:235px;
	margin-left:6px;
	margin-bottom:8px;

}

#contenu #terminaux_haut  #terminaux_haut_droite .encart p.titre {
	text-transform:uppercase;
	color:#013b77;
	font-weight:bold;
	font-size:14px;
	margin-top:15px;
	margin-bottom:5px;
}

#contenu #terminaux_haut  #terminaux_haut_droite .encart p.sstitre {
	text-transform:uppercase;
	color:#de0000;
	font-size:11px;
	font-weight:bold;
	
}

#contenu #terminaux_haut  #terminaux_haut_droite .encart p {
	line-height:20px;
	margin-left:10px;
	margin-right:15px;
}

#contenu #terminaux_haut  #terminaux_haut_droite .encart p.voir_suite {
	background-image:url(voir_suite.gif);
	background-repeat:no-repeat;
	width:119px;
	height:20px;
	margin-top:7px;
	margin-left:58px;
	margin-bottom:8px;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	line-height:18px;
	vertical-align:middle;
	text-align:center;
	font-family:Century Gothic, Arial, sans-serif;
}


#contenu #terminaux_haut  #terminaux_haut_droite .encart p.voir_suite a{
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
}



#contenu #terminaux_bas {
	width:900px;
	margin-left:14px;
}

#contenu #terminaux_bas  .terminaux_bas_gauche{
	float:left;
	width:589px;
}






#contenu #terminaux_bas  .terminaux_bas_droite img{
	margin-top:20px;
	margin-left:60px;
}

#contenu #terminaux_bas  .terminaux_bas_droite img#photo_acces{
	margin-top:0px;
}



#contenu #terminaux_bas .col_1{
	margin-right:40px;
	margin-top:12px;
}

#contenu #terminaux_bas p{
	margin-left:46px;
	line-height:20px;
}

#contenu #terminaux_bas span{
	color:#de0000;
	font-weight:bold;
}


/***************************************************************/
/*							Tarifs								*/	
/***************************************************************/

#contenu.texte #tarifs {
	margin-left:14px;
	padding-top:20px;
	width:900px;
}

#contenu.texte #tarifs a {
	font-weight:bold;
}

#contenu.texte #tarifs a:hover {
	text-decoration:underline;
}

#contenu.texte .titre_rubrique#titre_tarifs {
	background-image:url(tarifs.gif);
	background-repeat:no-repeat;
	width:900px;
	height:15px;
	padding-bottom:5px;	
}

#contenu.texte .titre_rubrique#titre_tarifs_uk {
	background-image:url(tariff.gif);
	background-repeat:no-repeat;
	width:900px;
	height:15px;
	padding-bottom:5px;	
}

/***************************************************************/
/*							News								*/	
/***************************************************************/

#contenu.texte #news {
	margin-left:14px;
	padding-top:20px;
	width:900px;
}

#contenu.texte #news #formulaire select {
	/*width:577px;*/
	width:400px;
	float:left;
	margin-right:30px;
	border:1px solid #7f9db9;
	font-size:11px;

}
#contenu.texte #news #formulaire label {
	width:50px;
	float:left;
}


#contenu.texte #news #formulaire #mois select, #contenu.texte #news #formulaire #annee select {
	width:60px;
}

#contenu.texte #news #formulaire {
	width:900px;
	margin-left:40px;
	margin-top:20px;
}

#contenu.texte #infos {
	width:765px;
	margin-left:65px;
	margin-top:18px;
}

#contenu.texte #infos #infos_milieu a {
	text-decoration:underline;
}

#contenu.texte #infos #infos_milieu a:hover {
	text-decoration:none;
}

#contenu.texte #infos #infos_haut {
	width:765px;
	background-image:url(ombre_haut.gif.1);
	background-repeat:no-repeat;
	height:6px;
	font-size:6px;
}

#contenu.texte #infos #infos_bas {
	width:765px;
	background-image:url(ombre_bas.gif.1);
	background-repeat:no-repeat;
	height:6px;
	font-size:6px;
}

#contenu.texte #infos #infos_milieu {
	width:765px;
	background-color:#f0f0f0;
	padding-top:10px;
}


#contenu.texte #infos #infos_milieu h1 {
	margin:0px 6px 10px 6px;
	padding-top:8px;
	padding-bottom:8px;
	border-bottom:1px solid #013b77;
	text-indent:24px;
	
}

#contenu.texte #infos #infos_milieu h2 {
	margin-left:15px;
	text-indent:0px;
	padding:0px 0px 10px 0px;
	width:750px;
	color:#de0000;
	text-transform:uppercase;
	background-color:#f0f0f0;
	font-size:12px;
}

#contenu.texte #infos #infos_milieu p {
	margin-left:15px;
	line-height:20px;
	margin-right:15px;
	font-size:11px;
}

#contenu.texte #infos #infos_milieu img {
	margin-left:15px;
		margin-top:16px;
}

#contenu.texte .titre_rubrique#titre_news {
	background-image:url(news.gif);
	background-repeat:no-repeat;
	width:900px;
	height:15px;
	padding-bottom:5px;	
}

#contenu.texte .titre_rubrique#titre_dossiers {
	background-image:url(dossiers.gif);
	background-repeat:no-repeat;
	width:900px;
	height:15px;
	padding-bottom:5px;	
}

/***************************************************************/
/*							Contact								*/	
/***************************************************************/

#contenu.texte #contact {
	margin-left:14px;
	padding-top:20px;
}

#contenu.texte .titre_rubrique#titre_contact {
	background-image:url(contact.gif);
	background-repeat:no-repeat;
	width:900px;
	height:15px;
	padding-bottom:5px;	
}

#contenu.texte #contact #infos_milieu #form_contact {
	margin-top:20px;
}

#contenu.texte #contact #infos_milieu #form_contact .alerte {
	color:#FF0000;
}


#contenu.texte #contact #infos_milieu #form_contact label{
	float:left;
	width:150px;
	font-weight:bold;
}

#contenu.texte #contact #infos_milieu #form_contact p{
	float:left;
	width:751px;
	margin-left:15px !important;
	margin-left:7px;
}

#contenu.texte #contact #infos_milieu #form_contact input,
#contenu.texte #contact #infos_milieu #form_contact textarea,
#contenu.texte #contact #infos_milieu #form_contact select
{
	border:1px solid #7f9db9;
}

#contenu.texte #contact #infos_milieu #form_contact input.check
{
	border:0px;
}

#contenu.texte #contact #infos_milieu #form_contact input.bouton
{
	border:0px;
	padding:3px;
	margin-top:10px;
	margin-left:0px !important;
	background-color:#7f9db9;
	margin-left:-7px;
	color:#FFFFFF;
	font-weight:bold;
}

#contenu.texte #contact #infos_milieu #form_contact textarea{
	margin-bottom:3px;
}

#contenu.texte #contact #infos_milieu h1{
	margin-bottom:10px;
}

/*************************************************************************/
/*							LES ACTEURS									 */			
/*************************************************************************/

#contenu #acteurs_haut {
	width:900px;
	margin-left:14px;
	padding-top:20px;
	border-top:1px solid #013171;
}



#contenu #acteurs_haut #salaries {
	width:900px;
	margin-left:55px;
	padding-top:15px;
}

#contenu #acteurs_haut #salaries span {
	color:#013a77;
	font-weight:bold;
}


#contenu.texte .titre_rubrique#portsnormands {
	background-image:url(acteurs.gif);
	background-repeat:no-repeat;
	width:900px;
	height:15px;
	padding-bottom:5px;	
}

#contenu #acteurs_haut #encart {
	margin-left:35px;
}

#contenu #acteurs_haut #haut_encart {
	background-image:url(haut_encart.gif);
	background-repeat:no-repeat;
	width:831px;
	height:6px;
	font-size:6px;
}

#contenu #acteurs_haut #bas_encart {
	background-image:url(bas_encart.gif);
	background-repeat:no-repeat;
	width:831px;
	height:6px;
	font-size:6px;
}

#contenu #acteurs_haut #milieu_encart {
	width:831px;
	background-color:#e8e8e8;
}

#contenu #acteurs_haut #milieu_encart #gauche {
	width:500px;
	float:left;
	margin:0px;
	padding:0px;
}

#contenu #acteurs_haut #milieu_encart #gauche p {
	margin:0px 20px 0px 14px;
	padding:0;
	line-height:20px;
}

#contenu #acteurs_haut #milieu_encart #gauche ul {
	margin:0px 0px 0px 20px;
	padding:0;
	list-style-type:none;
	font-size:11px;
}

#contenu #acteurs_haut #milieu_encart #gauche2 {

	float:left;
	margin:0px;
	padding:0px;
}

#contenu #acteurs_haut #milieu_encart #gauche2 p {
	margin:5px 20px 0px 14px;
	padding:0;
	line-height:20px;
}

#contenu #acteurs_haut #milieu_encart #gauche2 ul {
	margin:0px 0px 0px 20px;
	padding:0;
	list-style-type:none;
	font-size:11px;
}
#contenu #acteurs_bas ul {
	margin:10px 0px 0px 60px;
	padding:0;
	list-style-type:none;
}



#contenu #acteurs_haut #milieu_encart #milieu {
	width:100px;
	float:left;
	margin-left:50px !important;
	margin-left:0px;
}




#contenu #acteurs_haut #milieu_encart #gauche h2{
	margin:10px 0px 10px 0px;
	padding:0px 0px 0px 12px;
	width:488px;
	color:#de0000;
	font-weight:bold;
	font-size:13px;
}

#contenu #acteurs_bas {
	width:900px;
	margin-left:14px;
}

#contenu #acteurs_bas .acteurs_bas_gauche p {
	margin-top:10px;
	margin-right:40px;
}

#contenu #acteurs_bas  .acteurs_bas_gauche{
	float:left;
	width:611px;
}

#contenu #acteurs_bas  .acteurs_bas_droite {
	width:100px;
	float:left;
	margin-left:60px;
	margin-top:10px;
}

#contenu #acteurs_bas  .acteurs_bas_droite img{
	margin-bottom:5px;
}

#contenu #acteurs_bas .col_1 p {
	margin-top:10px;
	margin-right:40px;
}

#contenu #acteurs_bas #contact {
	width:430px;
	float:left;
	background-color:#daebf8;
	margin-left:34px;
	margin-top:20px;
	padding-top:5px;
	padding-bottom:10px;
}

#contenu #acteurs_bas .photo {
	width:177px;
	height:118px;
	float:left;
	margin-top:20px;
	margin-left:18px !important;
	margin-left:9px;
}

#contenu #acteurs_bas .photo img {
	width:177px;
	height:118px;
	float:left;
}

#contenu #acteurs_bas #contact p{
	margin:0;
	padding-top:5px;
	padding-left:12px;
}

#contenu #acteurs_bas #contact span{
	color:#013a77;
	font-weight:bold;
	font-size:13px;
	text-transform:uppercase;
}

#contenu #acteurs_bas #contact a{
	text-decoration:underline;
	
}

#contenu #acteurs_bas #contact a:hover{
	text-decoration:none;
	
}

#contenu  #ssmenu_acteurs {
	width:900px;
	background-color:#e8e8e8;
	margin-left:14px;
	height:20px;
	margin-top:1px;
	margin-bottom:1px;
}

#contenu  #ssmenu_acteurs .ssmenu_item {
	float:left;
	color:#003070;
	font-size:12px;
	padding-left:4px;
	padding-right:5px;
	margin-top:2px;
	margin-bottom:2px;
	line-height:18px;
	vertical-align:middle;
	margin-right:5px;
	margin-left:5px;

}

#contenu  #ssmenu_acteurs .ssmenu_item a{
	color:#003070;
}

#contenu  #ssmenu_acteurs .ssmenu_item_on {
	background-color:#FFFFFF;
	height:17px;
}


#contenu  #ssmenu_acteurs .ssmenu_item_on a{
	color:#de0000;
	font-weight:bold;
}

#contenu  #ssmenu_acteurs #sscategorie {
	float:left;
	color:#003070;
	font-family:Century Gothic,arial,verdana;
	font-size:13px;
	font-weight:bold;
	padding-left:9px;
	line-height:20px;
	vertical-align:middle;
	margin-right:3px;
}

#contenu  #ssmenu_acteurs .ssmenu_separation {
	background-color: #3a5e8e;
	width:1px;
	height:12px;
	margin-top:5px;
	float:left;
}


/*************************************************************************/
/*							LES CROISIERES								 */			
/*************************************************************************/

#contenu #escales {
	margin-left:14px;
	padding-top:20px;
	width:900px;
}

#contenu #escales .commentaires {
	width:70%;
}

#contenu  #escales table{
	width:70%;
}

#contenu  #escales td{
	background-color:#FFFFFF;
}

#contenu #escales .navire {
	text-transform:uppercase;
}

#contenu #escales .navire a {
	text-decoration:underline;
}

#contenu #escales .navire a:hover {
	text-decoration:none;
}

/*************************************************************************/
/*							ENVIRONNEMENT								 */			
/*************************************************************************/

#contenu #environnement  {
	margin-left:14px;
	padding-top:20px;
	width:900px;
}

#contenu #environnement li {
	list-style-type:none;
	font-size:11px;
}

#contenu #environnement ul {
	margin-left:30px;
}

#contenu #environnement #infos #infos_milieu p {
	padding-bottom:5px;
}

/*************************************************************************/
/*							LIENS UTILES								 */			
/*************************************************************************/

#contenu #liens_utiles  {
	margin-left:14px;
	padding-top:20px;
	width:900px;
}

/*************************************************************************/
/*							LIENS UTILES								 */			
/*************************************************************************/

#contenu #bilan  {
	margin-left:14px;
	padding-top:20px;
	width:900px;
}

#contenu.texte #bilan  select {
	width:50px;
	border:1px solid #7f9db9;
	font-size:11px;
}

#contenu.texte .titre_rubrique#actors {
	background-image:url(actors.gif);
	background-repeat:no-repeat;
	width:900px;
	height:15px;
	padding-bottom:5px;	
}

/*************************************************************************/
/*							TRAFIC										 */			
/*************************************************************************/

#contenu #trafic  {
	margin-left:14px;
	padding-top:20px;
	width:900px;
}

#contenu #trafic  p  {
	text-align:center;
	margin-left:0px;
}

#contenu #trafic #bt_rouge p  {
	margin-left:0px;
	text-align:center;
	margin-left:15px;
	margin-right:15px;
	font-size:10px;
	font-weight:bold;
	text-transform:uppercase;
	color:#FFFFFF;
	margin-top:2px;
	
}

#contenu #trafic label  {
	text-transform:none;
}



#contenu.texte #trafic  select {
	border:1px solid #7f9db9;
	font-size:11px;
	text-transform:none;
}

#contenu.texte #trafic  table {
	width:860px;
	margin-top:20px;
	margin-left:20px;
}

#contenu.texte #trafic td {
	width:500px;
	background-color:#daebf8;
}

#contenu.texte #trafic td.align_left {
	text-align:left;
}

#contenu.texte #trafic th {
	background-color:#daebf8;
}

#contenu.texte #trafic th#th_vide {
	background-color:#fff;
}


#contenu.texte #trafic  h1 {
	width:592px;
	float:left;
	margin-left:52px !important;
	margin-left:26px;
}

#contenu.texte #trafic  #bt_rouge {
	width:216px;
	height:46px;
	background-image:url(bt_rouge.gif);
	background-repeat:no-repeat;
	float:left;
}

#contenu.texte #trafic  #bt_rouge a{
	color:#FFFFFF;
	text-decoration:none;
	display:block;
}

#contenu.texte .titre_rubrique#titre_trafic {
	background-image:url(trafic.gif);
	background-repeat:no-repeat;
	width:900px;
	height:15px;
	padding-bottom:5px;	
}

#contenu.texte .titre_rubrique#titre_trafic_uk {
	background-image:url(traffic.gif);
	background-repeat:no-repeat;
	width:900px;
	height:15px;
	padding-bottom:5px;	
}


#contenu.texte #trafic #graph img {
	margin-left:40px;
}

#contenu.texte #trafic h3 {
	text-align:center;
}

#contenu.texte #trafic a {
	text-decoration:underline;
}

#contenu.texte #trafic a:hover {
	text-decoration:none;
}


#contenu.texte #trafic .mensuel {
	background-color:#b6d7f1;
}

#contenu.texte #trafic .cumule {
	background-color:#9eb2ca;
}
#contenu.texte #graph {
	text-align: center;
	margin-top: 20px;
}
/*************************************************************/
/*					Presentation						     */
/*************************************************************/


#contenu.texte .titre_rubrique#titre_presentation {
	background-image:url(presentation.gif);
	background-repeat:no-repeat;
	width:900px;
	height:15px;
	padding-bottom:5px;	
}


/*************************************************************/
/*					CARTE DES QUAIS						     */
/*************************************************************/

#contenu #carte  {
	margin-left:14px;
	padding-top:20px;
	width:900px;
}

#contenu.texte .titre_rubrique#titre_carte {
	background-image:url(carte_quais.gif);
	background-repeat:no-repeat;
	width:900px;
	height:15px;
	padding-bottom:5px;	
}

#contenu.texte #carte #defilement_fond{
	width:811px;
	height:608px;
	background-image:url(fond_carte_quai.gif);
	background-repeat:repeat-x;
	background-position:top left;
	margin-left:45px;
	margin-top:20px;
}

#contenu.texte #carte #defilement_milieu{
	width:800px;
	height:603px;
	overflow:hidden;
	position:relative;
	margin-left:6px;


}

#contenu.texte #carte #defilement_contenu{
	height:598px;
	background-color:#FFFFFF;
	position:absolute;
	margin-top:5px;
}


#contenu.texte #carte #defilement_gauche{
	width:35px;
	height:35px;
	background-image:url(fleche_gauche.gif);
	background-repeat:no-repeat;
	background-position:top left;
	position:absolute;
	top:600px;
	left:20px;
}

#contenu.texte #carte #defilement_droite{
	width:35px;
	height:35px;
	background-image:url(fleche_droite.gif);
	background-repeat:no-repeat;
	background-position:top left;
	position:absolute;
	top:600px;
	left:875px;
}


#photo_terminaux {
	float: right;
	margin: 20px 50px 0 50px;
	}


