.vgn-ext-text {
	FONT: 11px Verdana, Arial, Helvetica, sans-serif
}
.vgn-ext-nav-item {
	FONT: 11px Verdana, Arial, Helvetica, sans-serif
}
.vgn-ext-nav-item-selected {
	FONT: bold 13px Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #efefef
}
.vgn-ext-nav-item-depth {
	FONT: 11px Verdana, Arial, Helvetica, sans-serif, bold
}
.vgn-ext-link {
	FONT: 11px Verdana, Arial, Helvetica, sans-serif
}
#vgn-div-float-bottom-left {
	Z-INDEX: 10000; LEFT: 5px; BOTTOM: 5px; POSITION: fixed
}
* HTML #vgn-div-float-bottom-left {
	Z-INDEX: 10000; POSITION: absolute; ; TOP: expression(this.offsetParent.scrollTop + this.offsetParent.offsetHeight - 60)
}
.vgn-ext-ice-floatee {
	BORDER-RIGHT: #eaab3e 2px solid; PADDING-RIGHT: 0px; BORDER-TOP: #eaab3e 1px solid; PADDING-LEFT: 0px; FILTER: alpha(opacity=70); PADDING-BOTTOM: 0px; BORDER-LEFT: #eaab3e 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #eaab3e 2px solid; BACKGROUND-COLOR: #fff9f0; opacity: 0.7
}
.vgn-ext-ice-floatee-text {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 9px; PADDING-BOTTOM: 0px; CURSOR: hand; COLOR: black; PADDING-TOP: 0px; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.vgn-ext-ice-floatee-table {
	BORDER-RIGHT: #eaab3e 2px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eaab3e 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #eaab3e 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #eaab3e 2px solid
}
.vgn-ext-ice-floatee-text-off {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 9px; PADDING-BOTTOM: 0px; COLOR: #c1c1c1; PADDING-TOP: 0px; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.vgn-ext-ice-floatee-line {
	BORDER-TOP: black 1px solid
}
.vgn-ext-ice-floatee-menu-hr {
	BACKGROUND: silver; WIDTH: 135px; HEIGHT: 1px
}
.vgn-ext-ice-floatee-menu-hr-span {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.vgn-ext-ice-page-floatee-menu-outer-table {
	BORDER-RIGHT: #6391d5 2px solid; PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% bottom; BORDER-TOP: #6391d5 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(floatie_page_menu_bg.PNG); PADDING-BOTTOM: 0px; BORDER-LEFT: #6391d5 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #6391d5 2px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #dce7fb
}
.vgn-ext-ice-content-floatee-menu-outer-table {
	BORDER-RIGHT: #319542 2px solid; PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% bottom; BORDER-TOP: #319542 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(floatie_content_menu_bg.PNG); PADDING-BOTTOM: 0px; BORDER-LEFT: #319542 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #319542 2px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #dce7fb
}
.vgn-ext-ice-template-floatee-menu-outer-table {
	BORDER-RIGHT: #c61143 2px solid; PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% bottom; BORDER-TOP: #c61143 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(floatie_template_menu_bg.PNG); PADDING-BOTTOM: 0px; BORDER-LEFT: #c61143 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #c61143 2px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #dce7fb
}
.vgn-ext-ice-floatee-menu-outer-div {
	Z-INDEX: 10000; LEFT: 0px; VISIBILITY: hidden; POSITION: absolute; TOP: -204px
}
.vgn-ext-ice-floatee-menu-link {
	float: left; PADDING-BOTTOM: 2px; WIDTH: 100%; CURSOR: pointer; PADDING-TOP: 2px; TEXT-DECORATION: none;
}
.vgn-ext-ice-menu-link-text {
	FONT-SIZE: 11px; PADDING-RIGHT: 7px; PADDING-LEFT: 10px; COLOR: #3d3399; FONT-FAMILY: arial;
}
.vgn-ext-ice-floatee-menu-link:hover {
	FONT-SIZE: 11px; CURSOR: pointer; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.vgn-ext-ice-region-bug-link {
	BACKGROUND-IMAGE: url(regionbug.gif); WIDTH: 17px; HEIGHT: 14px; BACKGROUND-REPEAT:no-repeat;TEXT-DECORATION: none;BACKGROUND-POSITION: 50% 50%;
}
.vgn-ext-ice-region-bug-link-hover {
	BACKGROUND-IMAGE: url(regionbug_hover.gif); WIDTH: 17px; HEIGHT: 14px; BACKGROUND-REPEAT:no-repeat; TEXT-DECORATION: none;BACKGROUND-POSITION: 50% 50%;
}
.vgn-ext-ice-edit-menu-link {
	float: left; PADDING-BOTTOM: 2px; WIDTH: 100%; CURSOR: pointer; PADDING-TOP: 2px; TEXT-DECORATION: none;
}
.vgn-ext-ice-edit-menu-link:hover {
	FONT-SIZE: 11px; CURSOR: pointer; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.vgn-ext-ice-floatee-menu-disabled-link {
	PADDING-RIGHT: 7px; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; COLOR: #808080; PADDING-TOP: 2px; FONT-FAMILY: arial
}
.vgn-ext-ice-floatee-page-menu-header {
	PADDING-RIGHT: 47px; BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 35px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(floatie_page_menu_header.PNG); MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; COLOR: #3d3399; FONT-FAMILY: arial; BACKGROUND-COLOR: #aecaf6
}
.vgn-ext-ice-floatee-content-menu-header {
	PADDING-RIGHT: 36px; BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 29px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(floatie_content_menu_header.PNG); MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; FONT-FAMILY: arial;
}
.vgn-ext-ice-floatee-template-menu-header {
	PADDING-RIGHT: 32px; BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 25px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(floatie_template_menu_header.PNG); MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; FONT-FAMILY: arial;
}


.vgn-ext-ice-page-menu-header {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; COLOR: #3d3399; FONT-FAMILY: arial
}
.vgn-ext-ice-content-menu-header {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; FONT-FAMILY: arial;
}
.vgn-ext-ice-template-menu-header {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; FONT-FAMILY: arial;
}

.vgn-ext-ice-floatee-menu-label {
	PADDING-RIGHT: 7px; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; FONT-FAMILY: arial
}
.vgn-ext-ice-floatee-menu-row {
	FONT-SIZE:11px; FONT-FAMILY: arial; TEXT-DECORATION: none; height:16px
}
.vgn-ext-ice-floatee-menu-row-selected {
	FONT-SIZE:11px; FONT-FAMILY: arial; TEXT-DECORATION: none;BACKGROUND-COLOR: #ffffff; height:16px
}
.vgn-ext-ice-floatee-hr-row {
	FONT-SIZE: 11px; FONT-FAMILY: arial; TEXT-DECORATION: none; height:8px;
}

