body
{
	font-family: Tahoma;
	font-size: 10px;
	color: #003366;
	margin: 0;
	padding: 0;
	text-align: center;
}
div {margin: 0; padding: 0;}
td, th {font-family: Tahoma; font-size: 10px;}
p  {margin: 0; padding: 0;}
a {color: #003399; text-decoration: none;}
a:link {color: #003366;}
a:visited {color: #003366;}
a:hover {color: #FFCC66; text-decoration: underline;}

#page {
	margin: 0 auto;
	width: 750px;
	text-align: left;
	color: #003366;
	padding: 0;
}

#content {
	height: 300px;
}

#wrapper {
	width: 100%;
}

#frameLeft {
	float: left;
	width: 150px;
}

#frameRight {
	float: right;
	width: 586px;
}


#menu {
	float: left;
	width: 150px;
}

#footer {
	background-image: url(bg_bleu.gif);
	background-repeat: repeat;
	width: 586px;
	height: 24px;
}

#middle {
	background-image: url(bg_bleu.gif);
	background-repeat: repeat;
	width: 586px;
	height: 108x;
}

#footer a {color: #FFFFFF; text-decoration: none;}
#footer a:link {color: #FFFFFF;}
#footer a:visited {color: #FFFFFF;}
#footer a:hover {color: #FFCC66; text-decoration: underline;}

#image_desc {
	width: 150px;
	height: 24px;
	background-image: url(bg_bleu.gif);
	background-repeat: repeat;
	color: #FFFFFF;
	font-size: 10px;
	font-family: Tahoma;
	margin: 0; 
	padding: 0;
}

#page_texte {
	background-image: url(bg_texte.gif);
	background-repeat: repeat-y;
	text-align: left;
	color: #006666;
	font-family: Tahoma;
	font-size: 14px;
}