/* CSS Document */

	#main #contenu #outils {
		float:left;
		width:100%;
		border-bottom: solid 1px #204967;
		border-top: solid 1px #204967;
		list-style-type:none;
		padding:7px 0
	}
	
	#main #contenu #outils li {
		display: inline;
		float:left;
		background: none;
	}

/* --------------------------------------------------------------------------------------------- Contenu */
	#main #contenu #titre_video {
		display:block;
		font-size:1.3em;
		font-weight:bold
	}
	#main #contenu #titre_video img {vertical-align:middle}
	#main #contenu #liste_videos {padding:0}
	#main #contenu #liste_videos li {
		float:left;
		width:100%;
		padding:10px 0;
		background:url(dotted.gif.1) repeat-x left bottom
	}
	#main #contenu #liste_videos li .illustration {
		list-style-type: none;
		float:left;
		margin:0 15px 0 0
	}
	#main #contenu #liste_videos li .titre_video {
		display:block;
		font-size:1.1em;
		font-weight:bold;
		color:#000;
		margin:0 0 10px 0
	}
	#main #contenu #liste_videos li a.titre_video:hover {text-decoration:underline}
	#main #contenu #liste_videos li span.date, #main #contenu #liste_videos li span.duree {
		display:block;
		font-size:.9em;
		color:#1688be
	}
	#main #contenu #liste_videos li p {margin-top:10px}
/* --------------------------------------------------------------------------------------------- Right */
	#right div.video {
		position:relative;
		float:left;
		width:100%;
		text-align:center;
		background:#222025;
		padding:5px 0 3px 0;
		margin:0 0 8px 0
	}
	#right div.video a.video {
		position:absolute;
		top:0;
		left:0;
		display:block;
		width:186px;
		height:121px;
		background:url(http://www.ccinice-cote-azur.com/library/ccinice/gabarits/images/video/transparent.gif)
	}
	#right div.infos_video {
		padding:0 5px;
		margin:0 0 15px 0
	}
	#right div.infos_video .titre_video {
		color:#1688be;
		font-weight:bold
	}
	#right div.infos_video a.titre_video:hover {text-decoration:underline}
	#right div.infos_video span.date, #right div.infos_video span.duree {
		display:block;
		font-size:.9em;
		color:#204967
	}
	#right div.infos_video span.duree {margin:0 0 5px 0}
	#right div.infos_video a.voir_video {
		font-weight:bold;
		color:#204967;
		background:url(fleches.gif) no-repeat 0 6px;
		padding:0 0 0 10px;
		margin:0 0 0 7px
	}
	#right div.infos_video a.voir_video:hover {text-decoration:underline}
	
	/* --------------------------------------------------------------------------------------------- Haut de page */
	#main #contenu div.haut_page {
		float:left;
		width:100%;
		text-align:right;
		padding:5px 0
	}
	#main #contenu div.haut_page a {
		color:#204967;
		text-decoration:none;
		background:url(haut_page.gif) no-repeat 0 2px;
		padding:0 0 0 15px
	}
	#main #contenu div.haut_page a:hover {text-decoration:underline}