div#left_column div#recherche{	
	margin: 8px 0 8px 0 !important;
	margin: 8px 0 8px 0;
}

div#left_column div#liens_directs{	
	margin: 7px 0 8px 0;
}
div#navigation_principale_eco{
	padding-top: 0px !important;
	padding-top: 0px;
}
