#body {
   background-color: #FFFFF;
   margin-top: 10px;
   padding: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
   background-image: url(fond2a.jpg);
   background-repeat: no-repeat;
   background-position: center top;
}
#body-fim {
   background-color: #FFFFF;
   margin-top: 10px;
   padding: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
   background-image: url(fond-fim.jpg);
   background-repeat: no-repeat;
   background-position: center top;
}
#body3 {
   background-image:url(background-degrade.jpg);
   margin-top: 10px;
   padding: 0px;
   margin-right: 0px;
   margin-bottom: 10px;
   margin-left: 0px;
   background-repeat: no-repeat;
   background-position: center top;
}
#body4 {
   background-color: #FFFFF;
   margin-top: 10px;
   padding: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
   background-image: url(fond2b.jpg);
   background-repeat: no-repeat;
   background-position: center top;
}
.colonne_bleu {
	background-image:url(colonne_bleu2.jpg);
	background-repeat:no-repeat;
	background-position: top left;
   padding: 0px;
   margin-right: 0px;
   margin-bottom: 0px;

}
.bordure-bandeau {
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #293E94;
}
.titre-menu {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: #000000;
   text-decoration: none;
   text-transform: uppercase;
   padding-bottom: 10px;
}
.puce-besoins {
   list-style-image: url(puce-besoin.gif);
}
.puce-menu {
   margin-left:25px !important;
   margin-right:15px !important;
   margin-left:20px;
   margin-right:20px;
   list-style-image: url(puce-menu.gif);
}
.menu {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
   background-image: url(pointilles.gif);
   background-repeat: no-repeat;
   background-position: left bottom;
   height: 22px;
   padding-bottom: 2px;
   margin-left: 0px;
   margin-bottom: 4px;
   margin-top: 2px;
   width: 195px;
   font-weight: normal;
   list-style-image: url(puce-menu.gif);
}
.menu a{
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.menu a:hover{
   font-size: 11px;
   color: #990000;
   text-decoration: underline;
}
.menu-fim {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #ffffff;
   text-decoration: none;
   background-image: url(pointilles2.gif);
   background-repeat: no-repeat;
   background-position: left bottom;
   height: 22px;
   padding-bottom: 2px;
   margin-left: 0px;
   margin-bottom: 4px;
   margin-top: 2px;
   width: 195px;
   font-weight: normal;
   list-style-image: url(puce-menu.gif);
}
.menu-fim a{
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
}
.menu-fim a:hover{
   font-size: 11px;
   color: #000000;
   text-decoration: underline;
}
.menuencours{
   font-size: 11px;
   color: #0033CC;
   /*color: #CC3300;*/
   text-decoration: none;
}
/*.menu a:visited{
   font-size: 11px;
   color: #CC3300;
   text-decoration: none;
}*/
.recherche {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   margin-left: 5px;
   padding: 0px;
}
.sous-menu-nav {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   text-decoration: none;
   padding: 0px 2px 2px;
   color: #000000;
}
.sous-menu-nav a{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #000000;
  /* text-decoration: none;*/
}
.sous-menu-nav a:hover{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #000000;
}
/*.sous-menu-nav a:visited{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #000000;
   text-decoration: none;
}*/
.champ-recherche {
   border: 1px solid #293E94;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
}
.titre-bleu {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: #00469B;
   text-transform: uppercase;
}
.puce-dossier {
   list-style-image: url(dossier.gif);
}
.dossier {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: normal;
   color: #000000;
   text-decoration: none;
   width: 351px;
   padding-bottom: 5px;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 10px;
   background-image: url(hautbleu.gif);
   background-position: center top;
   background-repeat: no-repeat;
   border: 0px;
}
.dossier a, .dossier a:visited{
   text-decoration: none;
   font-size: 11px;
   font-weight: normal;
   color: #000000;
}
.dossier a:hover{
   color: #0066FF;
   text-decoration: underline;
}
.dossier-bas {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: normal;
   color: #000000;
   text-decoration: none;
   width: 351px;
   padding-left: 0px;
   background-image: url(bas-bleu.gif);
   background-position: center bottom;
   background-repeat: no-repeat;
   border: 0px;
   margin: 0px 0px 0px;
}
.bleu-gras {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #00469B;
   text-decoration: none;
   font-weight: bold;
}
.actus {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	width: 352px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 5px;
	background-image: url(haut-vert.gif);
	background-position: left top;
	background-repeat: no-repeat;
	border: 0px;
	margin: 0px 0px 0px;
}
.actus a, .actus a:visited {
   color: #12550A;
   text-decoration: none;
   font-size: 12px;
}
.actus a:hover{
   color: #009900;
   text-decoration: underline;
   font-size: 12px;
}
.actus-bas {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: normal;
   color: #000000;
   text-decoration: none;
   width: 352px;
   padding-left: 7px;
   background-image: url(bas-vert.gif);
   background-position: left bottom;
   background-repeat: no-repeat;
   border: 0px;
   margin: 0px 0px 10px;
}
.anoter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	width: 352px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 5px;
	background-image: url(haut-rouge.gif);
	background-position: left top;
	background-repeat: no-repeat;
	border: 0px;
	margin: 0px 0px 0px;
}
.anoter a, .anoter a:visited {
   color: #da3948;
   text-decoration: none;
   font-size: 12px;
}
.anoter a:hover{
   color: #c82030;
   text-decoration: underline;
   font-size: 12px;
}
.anoter-bas {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: normal;
   color: #000000;
   text-decoration: none;
   width: 352px;
   padding-left: 7px;
   background-image: url(bas-rouge.gif);
   background-position: left bottom;
   background-repeat: no-repeat;
   border: 0px;
   margin: 0px 0px 10px;
}
.rouge-gras {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #da3948;
   text-decoration: none;
   font-weight: bold;
   }
.puce-actus {
   list-style-image: url(actucci.gif);
}
.vert-gras {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #12550A;
   text-decoration: none;
   font-weight: bold;
   }
.vert-gras2 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #12550A;
   text-transform: uppercase;
   font-weight: bold;
}
.titre-vert {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: #12550A;
   text-transform: uppercase;
}
/*.lorraine-bas {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: normal;
   color: #000000;
   text-decoration: none;
   width: 358px;
   padding: 0px;
   background-image: url(../images/bas-turquoise.gif);
   background-position: left bottom;
   background-repeat: no-repeat;
   border: 0px;
   margin: 0px 0px 10px;
}*/
.lorraine {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #000000;
   text-decoration: none;
   width: 358px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
   /*background-image: url(../images/haut-turquoise.gif);*/
   background-position: left top;
   background-repeat: no-repeat;
   border: 0px;
}
.lorraine a, .lorraine a:visited{
   text-decoration: none;
   font-size: 12px;
   font-weight: normal;
   color: #000000;
}
.lorraine a:hover{
   color: #0066FF;
   text-decoration: underline;
}
.lorraine2 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #000000;
   text-decoration: none;
   width: 184px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 10px;
   /*background-image: url(../images/haut-turquoise.gif);*/
   background-position: left top;
   background-repeat: no-repeat;
   border: 0px;
}
.lorraine2 a, .lorraine a:visited{
   text-decoration: none;
   font-size: 11px;
   font-weight: normal;
   color: #000000;
}
.lorraine2 a:hover{
   color: #0066FF;
   text-decoration: underline;
}
.lorraine3 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #000000;
   text-decoration: none;
   width: 358px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 10px;
   /*background-image: url(../images/haut-turquoise.gif);*/
   background-position: left top;
   background-repeat: no-repeat;
   border: 0px;
}
.lorraine3 a, .lorraine a:visited{
   text-decoration: none;
   font-size: 11px;
   font-weight: normal;
   color: #000000;
}
.lorraine3 a:hover{
   color: #0066FF;
   text-decoration: underline;
}

.pub2 {    
font-size: 13px;
   font-family: Arial, Helvetica, sans-serif;}


.pub2 a, .pub2 a:visited {
   color: #000000;
   font-weight: normal;
   text-decoration:none;
}
.pub2 a:hover {
   color: #0066FF;
   text-decoration: underline;
}
.titre-turquoise {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: bold;
   text-transform: uppercase;
}
.puce-lorraine {
   list-style-image: url(aujourd.gif);
}
.turquoise-gras {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   text-decoration: none;
   font-weight: bold;
}
.titre-venements {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #293E94;
   text-transform: uppercase;
   margin: 0px 0px 0px;
   padding: 0px;
}
.evenement-bas {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: normal;
   color: #000000;
   text-decoration: none;
   width: 358px;
   padding: 0px;
   background-image: url(bas-gris.gif);
   background-position: left bottom;
   background-repeat: no-repeat;
   border: 0px;
   margin: 0px 0px 10px;
}
.evenements {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: normal;
   color: #000000;
   text-decoration: none;
   width: 358px;
   padding: 10px 15px 5px;
   background-image: url(haut-gris.gif);
   background-position: left top;
   background-repeat: no-repeat;
   border: 0px;
}
.rouge-gras {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #9F0002;
   text-decoration: none;
   font-weight: bold;
}
.espace {
   margin-bottom: 2x;
}
.evenements2 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: normal;
   color: #000000;
   text-decoration: none;
   width: 184px;
   padding: 10px 15px 5px 0px !important;
   background-image: url(haut-gris2.gif);
   background-position: left top;
   background-repeat: no-repeat;
   border: 0px 0px 0px 0px;
   margin: -4px 0px -5px 0px;
}
.evenements2 li {
  color: black;
  display: list-item;
  width: 150px;
}
.evenements2 li .spip_logos {
	float: right;
	clear: right; }
.evenements2 a{
	font-family: Arial, Helvetica, sans-serif;
	color: #293E94;
	font-weight: normal;   /*text-decoration: none;*/
	text-decoration: none;
}
.evenements2 a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #293E94;
	text-decoration: underline;
	font-weight: normal;
}
.evenement-bas2 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: normal;
   color: #000000;
   text-decoration: none;
   width: 184px;
   padding: 0px;
   background-image: url(bas-gris2.gif);
   background-position: left bottom;
   background-repeat: no-repeat;
   border: 0px;
   margin: 0px 0px 10px;
}

.evenements3 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: normal;
   color: #000000;
   text-decoration: none;
   width: 358px;
   padding: 0px 0px 5px 0px !important;
   padding: 0px 0px 0px 0px;
/*   background-image: url(../images/haut-gris2.gif);   */
/*   background-position: left top; */
/*   background-repeat: no-repeat; */
   border: 0px;
   margin: 0px;
}
.evenements3 li {
  color: black;
  display: list-item;
}
.evenements3 li .spip_logos {
	float: right;
	clear: right; }
.evenements3 a{
	font-family: Arial, Helvetica, sans-serif;
	color: #293E94;
	font-weight: normal;
	text-decoration: none;
}
.evenements3 a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
	font-weight: normal;
}
.evenement-bas3 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: normal;
   color: #000000;
   text-decoration: none;
   width: 358px;
   padding: 0px;
/*   background-image: url(../images/bas-gris2.gif);
   background-position: left bottom;
   background-repeat: no-repeat;   */
   border: 0px;
   margin: 0px 0px 10px;
}

.liste {
   list-style-image: url(liste.gif);
   margin: 0px;
   padding: 0px;
}
.gras {
   font-weight: bold;
   color: #000000;
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
}
ul {
   margin-left:25px !important;
   margin-left:20px;
   margin-bottom: 5px;
   margin-top: 5px;
   padding: 0px;
   margin-right: 0px;
}
li {
  color: black;
  display: list-item;
  list-style-image: url(liste.gif);
  margin-top: 5px;
  padding: 0px;
}
.texte {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: normal;
   color: #000000;
   text-decoration: none;
   margin: 0px;
   padding: 6px;
}
.text {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: normal;
   color: #000000;
   text-decoration: none;
   margin: 0px;
   padding: 0px;
}
.tableau {
   margin-top: 15px;
}
.espace2 {
   margin-bottom: 10px;
}
.puce-agenda {
   list-style-image: url(agenda.gif);
}
.puce-evenement {
   list-style-image: url(evenement.gif);
}
.puce-specialise {
   list-style-image: url(specialise.gif);
}
.puce-menu2 {
   list-style-image: url(puce-menu2.gif);
}
#image, .spip_logos {
   border: 0px solid #990000;
   margin-right: 3px !important;
   margin-bottom: 5px;
}
.puce-formation {
   list-style-image: url(formation.gif);
}
.puce-docs {
   list-style-image: url(doc.gif);
}
#menu a:hover {
   font-size: 11px;
   color: #990000;
   text-decoration: underline;
   list-style-image: url(puce-menu2.gif);
}
.titrebleu {
   background-color: #D7EAFF;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   text-transform: uppercase;
   color: #00469B;
   font-weight: bold;
   text-decoration: none;
   padding: 0px 0px 0px 18px;
   margin: 0px 0px 5px 0px;
   width: 349px;
   background-image: url(puce-interieur1.gif);
   background-repeat: no-repeat;
   background-position: left top;
}
.textebleu {
   background-color: #EBF2FA;
   border-top: 1px solid #BBD0E9;
   border-right: 1px solid #BBD0E9;
   border-bottom: 0px solid #BBD0E9;
   border-left: 1px solid #BBD0E9;
   width: 351px;
   padding: 0px;
   list-style-image: url(puce-fleche.gif);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #000000;
   text-decoration: none;
   margin: 0px;
}
.textebleu a{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #000000;
   margin: 0px;
   padding: 0px;
}
.textebleu a:hover{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #0066FF;
   text-decoration: underline;
   margin: 0px;
   padding: 0px;
}
.flechebleue {
   list-style-image: url(puce-fleche.gif);
   margin: 0px;
   padding: 0px;
}
.ul2 {
   margin-left:10px;
   margin-bottom: 0px;
   margin-top: 0px;
   margin-right: 10px;
   padding: 0x;
}
#ul2 {
   margin-left:10px;
   margin-bottom: 0px;
   margin-top: 0px;
   margin-right: 10px;
   padding: 0x;
}
.soustitre-bleu {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #00469B;
   text-decoration: none;
   margin-left: 0px;
   margin-bottom: 2px;
   padding-bottom: 2px;
   margin-top: 0px;
   margin-right: 0px;
   padding-top: 0px;
   padding-right: 0px;
   padding-left: 0px;
}
.puce-titre {
   list-style-image: url(puce-interieur1.gif);
   padding-bottom: 0px;
   margin: 0px;
   padding-top: 0px;
   padding-right: 0px;
   padding-left: 0px;
}



.titrevert {
   background-color: #DBE8B0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   text-transform: uppercase;
   color: #4D7C2E;
   font-weight: bold;
   text-decoration: none;
   padding: 0px 0px 0px 3px;
   margin: 0px 0px 0px 0px;
   width: 350px;
}
.textevert {
   background-color: #F8FBEC;
   border-top: 1px solid #E2ECBF;
   border-right: 1px solid #E2ECBF;
   border-bottom: 0px solid #E2ECBF;
   border-left: 1px solid #E2ECBF;
   width: 350px;
   padding: 0px;
   list-style-image: url(puce-fleche.gif);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
   margin: 0px;
}
.textevert a{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
}
.textevert a:hover{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #009900;
   text-decoration: underline;
}
.flecheverte {
   list-style-image: url(puce-fond-vert.gif);
   margin-left: 5px;
   padding: 0px;
}
.soustitre-vert {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #00469B;
   text-decoration: none;
   margin-left: 0px;
   margin-bottom: 2px;
   padding-bottom: 2px;
   margin-top: 0px;
   margin-right: 0px;
   padding-top: 0px;
   padding-right: 0px;
   padding-left: 0px;
}
.titreturquoise {
   background-color: #C3E5E3;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   text-transform: uppercase;
   color: #004E49;
   font-weight: bold;
   text-decoration: none;
   padding: 0px 0px 0px 18px;
   margin: 0px 0px 5px;
   width: 350px;
   background-image: url(puce-int3.gif);
   background-repeat: no-repeat;
   background-position: left top;
}
.flecheturquoise {
   list-style-image: url(puce-turquoise.gif);
   margin: 0px;
   padding: 0px;
}
.texteturquoise {
   background-color: #ECF6F7;
   border-top: 1px solid #CFEBE9;
   border-right: 1px solid #CFEBE9;
   border-bottom: 0px solid #CFEBE9;
   border-left: 1px solid #CFEBE9;
   width: 351px;
   padding: 1px;
   list-style-image: url(puce-fleche.gif);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
   margin: 0px;
}
.texteturquoise a{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
}
.texteturquoise a:hover{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #339999;
   text-decoration: underline;
}
.soustitre-turquoise {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #004E49;
   text-decoration: none;
   margin-left: 0px;
   margin-bottom: 2px;
   padding-bottom: 2px;
   margin-top: 0px;
   margin-right: 0px;
   padding-top: 0px;
   padding-right: 0px;
   padding-left: 0px;
}
.titre-principal {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: bold;
   text-transform: uppercase;
   color: #293E94;
   background-image: url(fleche-noire.gif);
   background-repeat: no-repeat;
   background-position: left top;
   padding-left: 17px;
   margin-bottom: 10px;
   border-bottom-width: 1px;
   border-left-width: 0px;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #293E94;
   border-right-color: #293E94;
   border-bottom-color: #293E94;
   border-left-color: #293E94;
   width: 350px;
   border-right-width: 0px;
   border-right-style: solid;
}
h1{
   color: #003399;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: bold;
   margin: 0px 0px 5px;
   padding: 5px 0px 0px 10px;
   border-bottom-width: 0px;
   border-bottom-style: solid;
   border-color: #BBD0E9;
   width: 350px;
   background-image: url(bleue.gif);
   background-repeat: no-repeat;
   background-position: left center;
   }
h2{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
   margin: 0px;
   padding: 5px 0px 0px;
   font-weight: bold;
}
h3{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #EA5A00;
   text-decoration: none;
   margin: 10px 0px 5px 0px;
   padding: 5px 0px 0px;
   }
h4{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
   margin: 0px;
   padding: 0px;
   font-weight: normal;
   width: 350px;
   }
h4 a{
   color: #000000;
   text-decoration: none;
   }
h4 a:hover{
   color: #0033CC;
   text-decoration: underline;
   }
blockquote.spip {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-align: justify;
   text-decoration: none;
   margin: 5px 0px;
   padding: 2px;
   font-weight: normal;
   background-color: #EBF2FA;
   border: 1px solid #BBD0E9;
   width:350px;
   }
blockquote.spip b {
   color: #003399;
   font-weight: bold;
   text-align: justify;
   }
blockquote.spip a{
   color: #000000;
   text-decoration: none;
   }
blockquote.spip a:hover{
   color: #0033CC;
   text-decoration: underline;
   }
h6 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-align: justify;
   text-decoration: none;
   margin: 5px 0px;
   padding: 2px;
   font-weight: normal;
   background-color: #EBF2FA;
   border: 1px solid #BBD0E9;
   width:350px;
   }
h6 strong {
   color: #003399;
   font-weight: bold;
   text-align: justify;
   }
h6 a{
   color: #000000;
   text-decoration: none;
   }
h6 a:hover{
   color: #0033CC;
   text-decoration: underline;
   }
.fiche-droite {
   width: 184px;
   padding: 0px 8px;
   background-image: url(haut-gris2.gif);
   background-position: left top;
   background-repeat: no-repeat;
   border: 0px;
   margin: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
}
.fiche-droite a{
   color: #000000;
   text-decoration: none;
}
.fiche-droite a:hover{
   color: #990000;
   text-decoration: underline;
}
h7 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   color: #003399;
   text-decoration: none;
   margin: 0px;
   padding: 0px;
   font-weight: bold;
}
.puce-fondgris {
   list-style-image: url(bleue-fondgris.gif);
   padding: 0px;
   margin-top: 5px;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
}
#ul3 {
   margin-left:15px;
   margin-bottom: 5px;
   margin-top: 0px;
   padding: 0px;
   margin-right: 0px;
}
.cadre-agenda {
   font-family: Arial, Helvetica, sans-serif;
   margin: 10px 0px 0px;
   padding: 0px;
   width: 355px;
   border-top: 2px dotted #003399;
   border-right: 0px dotted #003399;
   border-bottom: 0px dotted #003399;
   border-left: 0px dotted #003399;
}
p.spip {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   text-align: justify;
   color: #000000;
   text-decoration: none;
   margin: 0px;
   padding: 0px;
   font-weight: normal;
   width: 350px;
}

p.spip img {
   border: 0px solid #990000;
}
ul.spip {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   margin-left:20px;
   margin-bottom: 5px;
   margin-top: 5px;
   padding: 0px;
   margin-right: 0px;
}
li.spip {
  color: black;
  display: list-item;
  list-style-image:url(liste-carre.gif);;
  /*list-style-type: square;*/
}
.titrebleu2 {

   background-color: #D7EAFF;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   text-transform: uppercase;
   color: #00469B;
   font-weight: bold;
   text-decoration: none;
   padding: 1px 1px 1px 5px;
   margin: 12px 0px 2px;
   width: 350px;
   background-repeat: no-repeat;
   background-position: left top;
   border: 1px solid #00469B;
}
#image2 {
   margin: 5px 2px 5px 0px;
}
.texte-tableau {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-align: left;
   }
.texte-tableau2 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-align: left;
   width: 345px;
}
.ligne1 {
   background-color: #AED3EF;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   text-transform: uppercase;
   text-decoration: none;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 3px;
}
.ligne2 {
   background-color: #E6F1FD;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   text-decoration: none;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 3px;
   color: #000000;
   border-bottom-width: 4px;
   border-bottom-style: solid;
   border-top-color: #FFFFFF;
   border-right-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
   border-left-color: #FFFFFF;
}
.nom {
   background-color: #E6F1FD;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   text-decoration: none;
   padding-top: 1px;
   padding-bottom: 0px;
   padding-left: 3px;
   color: #003399;
   font-weight: bold;
   padding-right: 6px;
   border-bottom-width: 0px;
   border-bottom-style: solid;
   border-top-color: #FFFFFF;
   border-right-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
   border-left-color: #FFFFFF;
}
.bas-de-site {
   background-image: url(pied2b.gif);
   background-repeat: no-repeat;
   background-position: center top;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #000000;
   height: 35px;
   padding-left: 200px;
   padding-top: 8px;
   margin-top: 0px;
   text-align: center;
}
.bas-de-site a{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #000000;
  /* text-decoration: none;*/
}
.bas-de-sire a:hover{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #000000;
}
.bas-de-site-fim {
   background-image: url(bas-de-site-fim.jpg);
   background-repeat: no-repeat;
   background-position: center top;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #000000;
   height: 35px;
   padding-left: 200px;
   padding-top: 8px;
   margin-top: 5px;
   text-align: center;
}
.bas-de-site-fim a{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #000000;
  /* text-decoration: none;*/
}
.bas-de-site-fim a:hover{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #000000;
}
.legende {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   color: #003399;
   text-decoration: none;
   font-weight: bold;
}
.h7{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
   margin: 0px;
   padding: 0px;
   font-weight: normal;
   width: 180px;
}
.h8{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
   margin: 0px;
   padding: 0px;
   font-weight: normal;
   width: 350px;
} 
.h8 a, .h8 a:visited{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: underline;
   margin: 0px;
   padding: 0px;
   font-weight: bold;
   width: 350px;
}
.h8 a:hover{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #999999;
   text-decoration: underline;
   margin: 0px;
   padding: 0px;
   font-weight: bold;
   width: 350px;
}  
.titredossierbleu {
   background-color: #99CCFF;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   text-transform: uppercase;
   color: #00469B;
   font-weight: bold;
   text-decoration: none;
   padding: 0px 0px 0px 3px;
   margin: 0px 0px 0px 0px;
   width: 350px;
}
.textedossierbleu {
   background-color: #ECF6FB;
   border-top: 1px solid #99CCFF;
   border-right: 1px solid #99CCFF;
   border-bottom: 1px solid #99CCFF;
   border-left: 1px solid #99CCFF;
   width: 350px;
   padding: 0px;
   list-style-image: url(puce-fleche.gif);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
   margin: 0px;
}
.textedossierbleu a{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
}
.textedossierbleu a:hover{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #0869AE;
   text-decoration: underline;
}   
.infoeco {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	width: 352px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 5px;
	background-image: url(haut-infoeco.gif);
	background-position: left top;
	background-repeat: no-repeat;
	border: 0px;
	margin: 0px 0px 0px;
}
.infoeco a, .infoeco a:visited {
   color: #00469B;
   text-decoration: none;
   font-size: 12px;
}
.infoeco a:hover{
   color: #0869AE;
   text-decoration: underline;
   font-size: 12px;
}
.infoeco-bas {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: normal;
   color: #000000;
   text-decoration: none;
   width: 352px;
   padding-left: 7px;
   background-image: url(bas-infoeco.gif);
   background-position: left bottom;
   background-repeat: no-repeat;
   border: 0px;
   margin: 0px 0px 10px;
}
.menu2 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
   background-image: url(pointilles3.gif);
   background-repeat: no-repeat;
   background-position: left bottom;
   padding-bottom: 8px;
   margin-left: 2px;
   margin-bottom: 4px;
   margin-top: 2px;
   width: 195px;
   font-weight: normal;
   list-style-image: url(puce-menu2.gif);
}
.menu2 a{
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.menu2 a:hover{
   font-size: 11px;
   color: #990000;
   text-decoration: underline;
} 
.fondmenu2 {
	background-image: url(opacite2.png);
	background-position: left top;
	background-repeat: no-repeat;
	margin: 2px 0px 0px;
	padding-top: 5px;
	padding-left:3px;
	padding-bottom: 5px;
}
.fondmenu3 {
	background-image: url(opacite-blanc.gif);
	background-position: left top;
	background-repeat: no-repeat;
	margin: 2px 0px 0px;
	padding-top: 5px;
	padding-left:3px;
	padding-bottom: 5px;
}
.transbox
  {
  width:185px;
  background-color:#ffffff;
  /* for IE */
  filter:alpha(opacity=60);
  /* CSS3 standard */
  opacity:0.6;
  }
.transbox p
  {
  color:#000000;
  }

.fondmenu2-bas {
	background-image: url(opacite2-bas.png);
	background-position: left bottom;
    background-repeat: no-repeat;
	padding-top: 5px;
	padding-left:3px;
    margin: 0px 0px 0px;
} 
.dossiermois {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	width: 352px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 5px;
	background-image: url(haut-dossiermois.gif);
	background-position: left top;
	background-repeat: no-repeat;
	border: 0px;
	margin: 0px 0px 0px;
}
.dossiermois a, .infoeco a:visited {
   color: #000000;
   text-decoration: none;
   font-size: 12px;
}
.dossiermois a:hover{
   color: #0869AE;
   text-decoration: underline;
   font-size: 12px;
}
.dossiermois-bas {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: normal;
   color: #000000;
   text-decoration: none;
   width: 352px;
   padding-left: 7px;
   background-image: url(bas-dossiermois.gif);
   background-position: left bottom;
   background-repeat: no-repeat;
   border: 0px;
   margin: 0px 0px 10px;
}
.ul4 {
   margin-left:5px;
   margin-bottom: 0px;
   margin-top: 0px;
   margin-right: 10px;
   padding: 0x;
}
.videos1 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: bold;
   color:#000000;
   text-decoration: none;
   width: 106px;
   background-image: url(logovideos4.png);
   background-position: right center;
   background-repeat: no-repeat;
   padding-top: 39px;
   padding-bottom: 39px;
   margin-top: 2px;
   margin-bottom: 2px;
}
.videos1 a {
   color: #971e1e;
   font-weight: bold;
   text-decoration: none;
   font-size: 10px;
   margin-top: 2px;
   margin-bottom: 2px;
}
.videos1 a:hover{
   color: #FFFFFF;
   font-weight: bold;
   text-decoration: none;
   font-size: 10px;
   margin-top: 2px;
   margin-bottom: 2px;
}
.videos2 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: bold;
   color:#000000;
   text-decoration: none;
   width: 106px;
   background-image: url(logovideos3.png);
   background-position: left center;
   background-repeat: no-repeat;
   padding-top: 39px;
   padding-bottom: 39px;
   margin-top: 2px;
   margin-bottom: 2px;
}
.videos2 a {
   color: #05163b;
   font-weight: bold;
   text-decoration: none;
   font-size: 10px;
   margin-top: 2px;
   margin-bottom: 2px;
}
.videos2 a:hover {
   color: #FFFFFF;
   font-weight: bold;
   text-decoration: none;
   font-size: 10px;
   margin-top: 2px;
   margin-bottom: 2px;
}
.news { 
	background: #FFFFFF; 
	font-family: Arial, Helvetica, sans-serif;
	color: #666666; 
	font-size: 11px;  
	margin-right: 30px;
	margin-bottom: 10px
}
.pressecoment { 
	background: #FFFFFF; 
	font-family: Arial, Helvetica, sans-serif;
	color: #666666; 
	font-size: 11px;
	font-weight:  70px; 
	padding-right: 70px;
	margin-right: 70px;
	margin-bottom: 10px
}
.ul6 {
   margin-left:5px;
   margin-bottom: 0px;
   margin-top: 0px;
   margin-right: 10px;
   padding: 0x;
}
.boutonpublications a {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color:#000000;
   text-decoration: none;
   width: 200px;
   height: 26px;
   background-image: url(boutonpublications.jpg);
   background-position: left center;
   background-repeat: no-repeat;
   padding-right: 28px;
   padding-left: 28px;
   padding-top: 6px; 
   padding-bottom: 6px;
      
}
.boutonpublications a:hover {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color:#00469B;
   text-decoration: none;
   width: 200px;
   height: 26px;
   background-image: url(boutonpublications.jpg);
   background-position: left center;
   background-repeat: no-repeat;
   padding-right: 28px;
   padding-left: 28px;
   padding-top: 6px; 
   padding-bottom: 6px; 
}
.rcoll { 
	background: #FFFFFF; 
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	width: 184px;
	color: #de7b05; 
	font-size: 11px;  
	margin-bottom: 10px;
}
.rcoll2 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: normal;
   color: #000000;
   text-decoration: none;
   width: 184px;
   padding: 3px 3px 0px px;
   background-image: url(haut-gris2.gif);
   background-position: left top;
   background-repeat: no-repeat;
   border: 0px;
   margin: 0px;
}
.rcoll2 a{
	font-family: Arial, Helvetica, sans-serif;
	color: #293E94;
	font-weight: normal;   /*text-decoration: none;*/
	text-decoration: none;
}
.rcoll2 a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #293E94;
	text-decoration: underline;
	font-weight: normal;
}
.boutonpresse a {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color:#000000;
   text-decoration: none;
   width: 180px;
   height: 26px;
   background-image: url(boutonpublications.jpg);
   background-position: left center;
   background-repeat: no-repeat;
   padding-right: 15px;
   padding-left: 15px;
   padding-top: 6px; 
   padding-bottom: 6px;
      
}
.boutonpresse a:hover {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color:#00469B;
   text-decoration: none;
   width: 180px;
   height: 26px;
   background-image: url(boutonpublications.jpg);
   background-position: left center;
   background-repeat: no-repeat;
   padding-right: 15px;
   padding-left: 15px;
   padding-top: 6px; 
   padding-bottom: 6px; 
 }
 .titreactu a{
   color: #003399;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: bold;
   text-decoration:underline;
   margin: 0px 0px 5px;
   padding: 5px 0px 0px 10px;
   width: 350px;
   background-image: url(bleue.gif);
   background-repeat: no-repeat;
   background-position: left center;
    }
 .titreactu a:hover{
   color: #003399;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: bold;
   text-decoration:none;
   margin: 0px 0px 5px;
   padding: 5px 0px 0px 10px;
   width: 350px;
   background-image: url(bleue.gif);
   background-repeat: no-repeat;
   background-position: left center;
   }
.o2bilan {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: normal;
   color: #000000;
   text-decoration: none;
   text-align:left;
   width: 182px;
   padding: 0px 0px 0px px;
   background-image: url(haut-gris2.gif);
   background-position: left top;
   background-repeat: no-repeat;
   border: 0px;
   margin: -4px 0px -5px 0px;
}
.o2bilan a{
	font-family: Arial, Helvetica, sans-serif;
	color: #293E94;
	font-weight: normal;   /*text-decoration: none;*/
	text-decoration: none;
}
.o2bilan a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #293E94;
	text-decoration: underline;
	font-weight: normal;
	}
.o2bilan-bas {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: normal;
   color: #000000;
   text-decoration: none;
   width: 184px;
   padding: 0px 0px 0px 0px;
   background-image: url(bas-gris2.gif);
   background-position: left bottom;
   background-repeat: no-repeat;
   border: 0px;
   margin: 0px 0px 0px 0px;

 /*cartouche mise en page droite sommairetest2*/
}
.menu3 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
   background-image: url(pointille3.gif);
   background-repeat: no-repeat;
   background-position: left bottom;
   height: 37px;
   padding-bottom: 2px;
   margin-right: 4px;
   margin-bottom: 4px;
   margin-top: 2px;
   width: 170px;
   font-weight: normal;
   list-style-image: url(specialise.gif);
}
.menu3 a{
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.menu3 a:hover{
   font-size: 11px;
   color: #990000;
   text-decoration: underline;
} 
.titremenu3 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   text-align: center;
   color:#ef610f;
   text-decoration: none;
   width: 170px;
   height: 21px;
   background-position: top center;
   background-repeat: no-repeat;
   paddin-right: 0px;
   padding-left: 0px;
   padding-top: 10px; 
   padding-bottom: 0px;
}
.boutoncequev a {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   text-align: center;
   color:#000000;
   text-decoration: none;
   width: 180px;
   height: 67px;
   background-image: url(bouton-cequev1.png);
   background-position: center;
   background-repeat: no-repeat;
   paddin-right: 0px;
   padding-left: 6px;
   padding-top: 20px; 
   padding-bottom: 30px;
}
 
.boutoncequev a:hover {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   text-align: center;
   color:#000000;
   text-decoration: underline;
   width: 180px;
   height: 67px;
   background-image: url(bouton-cequev1.png);
   background-position: center;
   background-repeat: no-repeat;
   padding-right: 0px;
   padding-left: 6px;
   padding-top: 20px; 
   padding-bottom: 30px;
}
.cartouchecequev {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   text-align: center;
   color:#000000;
   text-decoration: none;
   width: 180px;
   height: 46px;
   background-image: url(infoeco_haut.png);
   background-position: top center;
   background-repeat: no-repeat;
   paddin-right: 0px;
   padding-left: 0px;
   padding-top: 0px; 
   padding-bottom: 0px;
}
.cartouchecequev a {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   text-align: center;
   color:#000000;
   text-decoration: none;
   
}
.cartouchecequev a:hover {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   text-align: center;
   color:#000000;
   text-decoration: underline;
}   
.cartouchecequev-bas {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   text-align: center bottom;
   color:#000000;
   text-decoration: underline;
   width: 180px;
   height: 46px;
   background-image: url(infoeco_bas.jpg);
   background-position: top center;
   background-repeat: no-repeat;
   padding-right: 0px;
   padding-left: 0px;
   padding-top: 0px; 
   padding-bottom: 0px;
}  
.cartouchejaune {
   width: 180px;
   padding: 0px 0px;
   background-image: url(infoeco_centre.png);
   background-position: left bottom;
   background-repeat: no-repeat;
   border: 0px;
   margin: 0px;
   padding-top:3px;
   padding-bottom: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
   list-style-image:url(puce-menu2.gif);
}
.cartouchejaune a{
   color: #000000;
   text-decoration: none;
}
.cartouchejaune a:hover{
   color: #990000;
   text-decoration: underline;
 }

.acces-direct {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   text-align: center;
   color:#000000;
   text-decoration: none;
   width: 180px;
   height: 31px;
   background-image: url(acces-direct.png);
   background-position: top center;
   background-repeat: no-repeat;
   paddin-right: 0px;
   padding-left: 0px;
   padding-top: 0px; 
   padding-bottom: 0px;
 }
 
.acces-direct-bas {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   text-align: center bottom;
   color:#000000;
   text-decoration: underline;
   width: 180px;
   height: 52px;
   background-image: url(acces-direct-bas.png);
   background-position: top center;
   background-repeat: no-repeat;
   padding-right: 0px;
   padding-left: 0px;
   padding-top: 0px; 
   padding-bottom: 0px;
}  
.cartouchevert {
   width: 180px;
   padding: 0px 0px;
   background-image: url(acces-direct-fond.png);
   background-position: top center;
   background-repeat: no-repeat;
   border: 0px;
   margin-left: 0px;
   padding-bottom: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;

}
.cartouchevert a{
   width: 180px;
   padding: 0px 0px 0px 0px;
   background-image: url(acces-direct-fond.png);
   background-position: top center;
   display:block;
   background-repeat: no-repeat;
   border: 0px;
   margin: 0px;
   padding-bottom: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
}
.cartouchevert a:hover{
   width: 180px;
   padding: 0px 0px 0px 0px;
   background-image: url(bouton-acces-direct.png);
   background-position: top center;
   display:block;
   background-repeat: no-repeat;
   border: 0px;
   margin: 0px;
 }
.cartoucheorange {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   text-align: center;
   color:#000000;
   text-decoration: none;
   width: 180px;
   height: 31px;
   background-image: url(haut-orange.png);
   background-position: top center;
   background-repeat: no-repeat;
   paddin-right: 0px;
   padding-left: 0px;
   padding-top: 0px; 
   padding-bottom: 0px;
}
.cartoucheorange a {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   text-align: center;
   color:#000000;
   text-decoration: none;
   width: 180px;
   height: 31px;
   background-image: url(haut-orange.png);
   background-position: top center;
   background-repeat: no-repeat;
   paddin-right: 0px;
   padding-left: 0px;
   padding-top: 0px; 
   padding-bottom: 0px;
   
}
.cartoucheorange a:hover {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   text-align: center;
   color:#000000;
   text-decoration: underline;
   width: 180px;
   height: 31px;
   background-image: url(haut-orange.png);
   background-position: top center;
   background-repeat: no-repeat;
   paddin-right: 0px;
   padding-left: 0px;
   padding-top: 0px; 
   padding-bottom: 0px;
}   
.cartoucheorange-bas {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   text-align: center bottom;
   color:#000000;
   text-decoration: underline;
   width: 180px;
   height: 55px;
   background-image: url(bas-orange.png);
   background-position: top center;
   background-repeat: no-repeat;
   padding-right: 0px;
   padding-left: 0px;
   padding-top: 0px; 
   padding-bottom: 0px;
}  
.corange {
   width: 180px;
   padding: 0px 0px;
   background-image: url(orange.png);
   background-position: left bottom;
   background-repeat: no-repeat;
   border: 0px;
   margin: 0px;
   padding-top:3px;
   padding-bottom: 3px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
   list-style-image:url(puce-menu2.gif);
}
.corange a{
   color: #000000;
   text-decoration: none;
}
.corange a:hover{
   color: #990000;
   text-decoration: underline;
 }
.cartoucheagenda {
   width: 350px;
   padding: 0px 0px;
   background-image: url(caretoucheinscription2.jpg);
   background-position: left top;
   background-repeat: no-repeat;
   border: 0px;
   margin: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none; 
}
.cartoucheagenda a{
   color: #000000;
   text-decoration: none;
}
.cartoucheagenda a:hover{
   color: #990000;
   text-decoration: underline;
 } 
 .cartoucheagenda-bas {
   width: 350px;
   height:29px;
   background-image: url(caretoucheinscription2bas.jpg);
   background-position: left bottom;
   background-repeat: no-repeat;
   border: 0px;
   margin: 0px;
   padding-top: 10px;
   padding-bottom: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
   text-align:right; 
}
.cartoucheagenda-bas a{
   color: #ffffff;
   text-decoration: none;
}
.cartoucheagenda-bas a:hover{
   color: #999999;
   text-decoration: underline;
 } 
/*ventre de page sommairetest2*/
.alaune-haut{
   width:550px;
   height:44px;
   padding:0px 0px;
   background-image: url(alalune-haut.png);
   background-position: left top;
   background-repeat: no-repeat;
   border: 0px;
   margin: 0px;
   padding-top:3px;
   padding-left:30px;
   padding-bottom: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   color: #000000;
   text-transform:uppercase;
   font-weight:bold;
   text-decoration: none;
   vertical-align:middle;
   }  
.alaune {
   width: 550px;
   padding: 0px 0px;
   background-image: url(alalune.png);
   background-position: left top;
   background-repeat: no-repeat;
   border: 0px;
   margin: 0px;
   padding-top:0px;
   padding-bottom: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
}
.alaune a, alaune a:visited {
   color: #000000;
   text-decoration: none;
   font-size: 11px;
}
.alaune a:hover{
   color: #0869AE;
   text-decoration: underline;
   font-size: 11px;
     }  
.alaune-bas {
   width: 550px;
   height:47px;
   padding: 0px 0px;
   background-image: url(alalune-bas.png);
   background-position: left top;
   background-repeat: no-repeat;
   border: 0px;
   margin: 0px;
   padding-top:0px;
   padding-bottom: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
}
.fim {
   width: 349px;
   padding: 0px 0px;
   border-top: 0px solid #717070;
   border-right: 1px solid #717070;
   border-bottom: 1px solid #717070;
   border-left: 1px solid #717070;
   margin: 0px;
   padding-top:0px;
   padding-bottom: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #717070;
   text-decoration: none;
}
.fim a, fim a:visited {
   
   margin: 0px;
   padding-top:0px;
   padding-bottom: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
}
.fim a:hover{
   border: 0px;
   margin: 0px;
   padding-top:0px;
   padding-bottom: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #717070;
   text-decoration:none;
     }  

.pied {
   background-image: url(pied2b.gif);
   background-repeat: no-repeat;
   background-position: center top;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #000000;
   height: 35px;
   padding-left: 200px;
   padding-top: 8px;
   margin-top: 0px;
   text-align: center;
}
.pied a{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #000000;
  /* text-decoration: none;*/
}
.pied a:hover{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #000000;
}
.contact-cip{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: 7d1e41;
}
.contact-cip a{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: 7d1e41;
   text-decoration:underline;
}
.contact-cip a:hover{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: 7d1e41;
   text-decoration:none;
}
.rss{
	padding-left:255px;
	vertical-align:bottom;
}
   