a {text-decoration:none;color:#FF8400;}
a:hover {text-decoration:underline;}
div,td {font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px}
p {font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;text-align:justify}
.haut {background-color:"#003D7A";text-align:center;color:#FFFFFF;font-weight:bold}
.bar {background-color:"#003D7A";text-align:center;color:#FFFFFF}
.titre {color:#FF8400;font-size:14px;font-weight:bold}
.soustitre {color:#1D1D1D;font-size:13px;font-weight:bold}
.titremini {color:#003D7A;font-size:11px}
.rubrique {color:#003D7A;font-size:14px;font-weight:bold}
sup {font-size:9px}