/*  ---------------------------------------------------------------- */
/*  Feuille de style specifique a l'impression                       */
/*  ---------------------------------------------------------------- */

/*  Correction des styles HTML par defaut
---------------------------------------------- */
body { background: #FFF; margin: 15pt; text-align: left; font: 12pt "Luxi sans", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif; color: #000; }

#haut, #gauche, #droite, #hierarchie, #pied, .invisible { display:none!important; }
