.champ_newsletter{width:128px;border:1px solid #868686;margin:3px 0 0 3px;padding:1px 1px 1px 3px;height:14px;font-size:9px;float:left;}
.bouton_newsletter{border:1px solid #868686;padding:0px;margin:3px 0 0 3px;height:18px!important;width:34px;font-size:9px;color:#fff;cursor:pointer;font-weight:bold;float:left;overflow:hidden;background-color:#522C2B;}
.formulaire_newsletter fieldset{border:0;padding:0 0 0 30px;text-align:center;}
#newsletter{margin-left:30px;margin-top:10px;width:100%;}
.reponse_formulaire{display:block;color:#B80000;font-weight:bold;}
.forml{background-color:#fff!important;font-size:12px!important;}
fieldset{border:0!important;background-color:transparent!important;display:block;height:auto;}
legend{display:none;}
.formulaire_newsletter_complet{display:block;width:80%;border:0;padding:5px;margin:5px 5px 5px 100px;}
optgroup{color:#EF680C;}
option{color:#000!important;}
.label_contact{font-size:11px;display:block;width:190px;float:left;margin:0 0 0 0;}
.forml,textarea{font-size:10px;border:1px solid #ccc!important;font-family:Arial!important;}
.formulaire_newsletter_complet .bouton_valider{border:1px solid #563033;float:right;cursor:pointer;padding:.4em;background-color:#522C2B;font-weight:bold;font-size:1em;width:100px;color:#fff;margin:10px 70px 10px 0px;}
.formulaire_newsletter_article p{padding:5px 0 5px 0;}
