.menu { font-family: Arial; font-size: 10pt; font-weight: bold; }
A.menu:link { text-decoration: none; color:#FFC705; }
A.menu:visited { text-decoration: none; color:#FFC705; }
A.menu:hover { text-decoration: none; color:#FFFFFF; }