/*-------------------------------COMMUN A TOUTE LES PAGES-------*/
body{background-color:#666666;padding:0px;margin:0px;font-family:Arial, Helvetica, sans-serif; font-size:8pt; scrollbar-base-color:#ffffff;scrollbar-track-color:#ffffff;scrollbar-arrow-color:#2E1C86;}
.conteneur{position:absolute;width:760px;height:590px; padding:0px;margin:0px; background-color:#F6F7F7;font-family:Arial, Helvetica, sans-serif;font-size:9pt; left:50%; margin-left:-380px; top:50%; margin-top:-295px;}
.menuh{position:absolute; top:0px; left:0px; width:760px; height:150px; margin:0px; padding:0px;}
	.menuhphp{position:absolute; right:20px; top:5px; width:450px; height:45px;}
	.menuh object{position:absolute; bottom:0px; left:0px;}
	.menuh img{position:absolute; top:0px; left:0px;}
.menub{position:absolute; bottom:0px; left:0px; width:760px; height:60px; margin: 0px; padding:0px;}
.centre{position:absolute; left:0px; width:760px; height:470px; top:100px; background-color:#ffffff;}

.msgerreur{color:#FF0000; font-size:8pt; font-weight:bold;}
.msgok{color:#00CC33; font-size:8pt; font-weight:bold;}