td				{font-family: arial, helvetica, geneva, sans-serif;font-size:12px;color:#FFFFFF;}
p				{text-align:justify;}

.normal			{font-family: arial, helvetica, geneva, sans-serif;font-size:12px;color:#000000;font-weight:normal}
.gros			{font-family: arial, helvetica, geneva, sans-serif;font-size:12px;color:#FFFFFF;font-weight:normal}
.popup			{font-family: arial, helvetica, geneva, sans-serif;font-size:12px;color:#FFFFFF;font-weight:bold}
.small			{font-family: arial, helvetica, geneva, sans-serif;font-size:10px;color:#FFFFFF;}
.red			{font-family: arial, helvetica, geneva, sans-serif;font-size:12px;color:#AA0000;font-weight:bold}
.image			{margin:15;border-color:#FFFFFF;border-width:1}

.link_small		{font-family: arial, helvetica, geneva, sans-serif;font-size:10px;color:#FFFFFF;text-decoration:none;}
.link_small:hover{font-family: arial, helvetica, geneva, sans-serif;font-size:10px;color:#FFFFFF;font-weight:bold;text-decoration:underline;}
.link_red		{font-family: arial, helvetica, geneva, sans-serif;font-size:12px;color:#AA0000;font-weight:bold;text-decoration:none;}
.link_red:hover {text-decoration:underline;}
.link_bold		{font-family: arial, helvetica, geneva, sans-serif;font-size:12px;color:#FFFFFF;font-weight:bold;text-decoration:none;}
.link_bold:hover{text-decoration:underline;}
.form			{font-family: arial, helvetica, geneva, sans-serif;font-size:12px;color:#000000;background-color:#F4F4F4;font-weight:bold;vertical-align:text-top;}
.exemple		{font-family: arial, helvetica, geneva, sans-serif;font-size:10px;color:#000000;}

