/*------ Common --*/
body{
	font-size:80%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
img{
	border:0;
}
/*---- Structure ----*/
#screen,
#page_temoignage,
#page_temoignage_video,
#page_etudiants,
#page_etudiants_stages,
#page_etudiants_ecole,
#page_aide,
#page_mention,
#page_plan,
#page_entreprise,
#page_auchanSuper,
#page_citoyenne,
#page_engagementRh,
#page_emploi,
#page_emplois_metiers,
#page_transcript{
position:relative;
width:964px;
min-height:56em;
margin:0 auto 0 auto;
}
/*-- Fond de page --*/
#screen{
border:2px solid #54B3EE;
background:#F9E955 url(fond_page_accueil.jpg) top left no-repeat;
}
#page_temoignage{
border:2px solid #8CC63E;
 background:#fff url(fond_page_temoignage.jpg) top left no-repeat;
}
#page_temoignage_video{
border:2px solid #8CC63E;
 background:#fff url(fond_page_video.jpg) top left no-repeat;
}
#page_etudiants,
#page_etudiants_ecole{
border:2px solid #EF5EA3;
 background:url(fond_page_etudiants.jpg) top left no-repeat;
}
#page_etudiants_stages{
border:2px solid #EF5EA3;
 background:url(fond_page_etudiants_stages.jpg) top left no-repeat;
}
#page_entreprise,
#page_engagementRh{
border:2px solid #E84F51;
 background:url(fond_page_entreprise.jpg) top left no-repeat;
}
#page_emploi{
border:2px solid #FF9106;
 background:url(fond_page_emploi.jpg) top left no-repeat;
}
#page_emplois_metiers{
border:2px solid #FF9106;
 background:url(fond_page_metier2.jpg) top left no-repeat;
}
#page_auchanSuper{
border:2px solid #E84F51;
 background:url(fond_page_essentiel.jpg) top left no-repeat; 
}
#page_citoyenne{
border:2px solid #E84F51;
 background:url(fond_page_citoyenne.jpg) top left no-repeat; 
}
#page_aide,
#page_mention,
#page_plan,
#page_transcript{
border:2px solid #F7E368;
background:url(fond_page_aide.jpg) top left no-repeat;
padding-bottom:150px;
}
#arbres{
 position:absolute;
 bottom:0;
 width:964px;
 height:276px;
}
#arbres_buisson{
 position:absolute;
 bottom:0;
 width:964px;
 height:134px;
}
#screen #arbres{
 background:url(feuille_bas.gif) top left no-repeat;
}
#page_temoignage #arbres_buisson,
#page_temoignage_video #arbres_buisson,
#page_etudiants #arbres_buisson,
#page_etudiants_stages #arbres_buisson,
#page_aide #arbres_buisson,
#page_mention #arbres_buisson,
#page_plan #arbres_buisson,
#page_entreprise #arbres_buisson,
#page_emploi #arbres_buisson,
#page_emplois_metiers #arbres_buisson,
#page_auchanSuper #arbres_buisson,
#page_citoyenne #arbres_buisson,
#page_engagementRh #arbres_buisson,
#page_transcript #arbres_buisson,
#page_etudiants_ecole #arbres_buisson{
 background:url(arbres_buisson.gif) top left no-repeat
}
#slogan{
 position:absolute;
 top:45px;
 left:160px;
 font-size:0.7em;
 background-color:#fff;
 width:12em;
}
#screen #slogan{
 color:#78C1E3;
}
#page_temoignage #slogan,
#page_temoignage_video #slogan{
color:#5DA301;
}
#page_entreprise #slogan,
#page_entreprise h2,
#page_auchanSuper #slogan,
#page_auchanSuper h2,
#page_citoyenne #slogan,
#page_citoyenne h2,
#page_engagementRh h2,
#page_engagementRh #slogan{
color:#D52826;
}
#page_etudiants #slogan,
#page_etudiants_stages #slogan,
#page_etudiants_ecole #slogan,
#page_etudiants_ecole h2,
#page_etudiants h2,
#page_etudiants_stages h2{
color:#F357A0;
}
#page_emploi #slogan,
#page_emploi h2,
#page_emplois_metiers #slogan,
#page_emplois_metiers h2{
color:#FF9106;
}
#logo{
 position:absolute;
 top:40px;
 left:50px;
}
/*--- Page aide - mentions - plan - transcript --*/
#page_aide #contenu,
#page_mention #contenu,
#page_plan #contenu{
 padding-left:130px;
 padding-top:30px;
 padding-right:120px;
}
#page_plan #contenu{
  padding-left:160px;
}
#page_transcript #contenu{
 padding-left:130px;
 padding-top:180px;
 padding-right:120px;
}
#page_transcript #slogan{
 display:block;
 margin-top:100px;
 margin-left:-52px;
 width:600px;
 padding:15px;
}
/*--- Page plan ---*/
#page_plan #contenu h2 a,
#page_plan #contenu h3 a,
#page_plan #contenu li a{
 text-decoration:none;
 color:#000;
 display:block;
 width:18em;
}
#page_plan #contenu ul li{
 list-style-type:none;
}
#page_plan #contenu ul li ul li,
#page_plan #contenu #plan_metiers li{
 list-style-type:disc;
 color:#5f5f5f;
}
#page_plan #contenu ul li ul li a,
#page_plan #contenu #plan_metiers li a{
 display:inline;
  color:#868686;
 font-size:1.1em;
 font-weight:bold; 	
}
#page_plan #contenu h2,
#page_plan #contenu h3{
 margin-bottom:0;
}
#page_plan #contenu h2{
 font-size:1.5em;
}
#page_plan #contenu ul{
 margin-top:0;
}
#page_plan #contenu #plan_offre a{
 color:#ED6A1C;
}
#page_plan #contenu #plan_etudiant a{
 color:#E23F8E;
}
#page_plan #contenu #plan_temoignages a{
 color:#6DAC1D;
}
#page_plan #contenu #plan_entreprise a{
 color:#D03136;
}
#page_plan #contenu a:hover,
#page_plan #contenu a:focus{
text-decoration:underline;
}
#page_plan #contenu #liste_plan_etudiants a{
 background-color:#EB65A2;
 color:#fff;
 padding:3px;
 font-size:1.1em;
 margin-bottom:1px;
 font-weight:bold;
}
#page_plan #contenu li h3 .item_plan_temoignages{
 background-color:#8CC63E;
  color:#fff;
 padding:3px;
 font-size:1.1em;
 margin-bottom:1px;
 font-weight:bold;
 margin-top:-15px;
}
#page_plan #contenu .item_plan_entreprise h3{
 display:inline;
}
#page_plan #contenu .item_plan_entreprise{
 margin-top:2px;
 margin-bottom:0;
}
#page_plan #contenu .item_plan_entreprise a{
 background-color:#CF171F;
 margin:0;
  color:#fff;
 padding:3px;
 font-size:1.1em;
 margin-bottom:1px;
 font-weight:bold;
}
#page_plan #contenu .item_plan_entreprise ul{
 margin-top:3px;
 margin-bottom:3px;
}
#page_plan #contenu .item_plan_entreprise ul li a{
 background-color:#fff;
 color:#5f5f5f;
}
#page_plan #contenu #plan_metiers li,
#page_plan #contenu #liste_plan_temoignages li,
#page_plan #contenu .item_plan_entreprise ul li{
 padding-bottom:5px;
}
/*--- Menus ---*/
#menu_principal{
 width:964px;
 height:48px;
 margin:105px 0 0 0;
 padding:0;
 background:url(menu_principal.gif) top left no-repeat;
}
#menu_principal li{
list-style-type:none;
}
#menu_principal2 li #test{
position:absolute;
bottom:35px;
right:-2px;
z-index:1;
background-color:transparent;
}
#menu_principal li a{
display:block;
float:left;
text-align:center;
text-decoration:none;
margin-top:8px;
font-size:1.4em;
font-weight:bold;
background-color:#F6EA79;
}
#menu_principal li a:hover,
#menu_principal li a:focus,
#menu_principal li a.active{
text-decoration:underline;
}
#offres{
 margin-left:61px;
 color:#ED6A1C;
 background:url(demi_tiret.gif) center right no-repeat; 
 width:220px;
}
#menu_principal li #etudiants{
 color:#E23F8E;
 background:url(demi_tiret.gif) center left no-repeat;
  width:240px; 
background-color:#F6EA79;	  
}
#temoignages{
 color:#6DAC1D;
 background:url(tiret.gif) center left no-repeat;
  width:200px; 
}
#entreprises{
 color:#D03136;
 background:url(tiret.gif) center left no-repeat; 
  width:179px; 
}
#menu_principal2,
#menu_principal2 li{
display:inline;
}
#menu_principal2 li a{
position:absolute;
display:block;
width:196px;
height:106px;
text-align:center;
color:#fff;
font-size:1.5em;
font-weight:bold;
text-decoration:none; 
z-index:1;
}
#screen #menu_principal2 li a:hover{
text-decoration:underline!important;
}
#offres2{
 top:473px;
 left:118px;
 background:url(bulle_emploi.png) top left no-repeat;
 padding-top:30px; 
}
#offres2 span{
 background-color:#F37022;
}
#etudiants2{
 top:323px;
 left:233px;
 background:url(bulle_espace_etudiant.png) top left no-repeat;
 padding-top:30px; 
}
#etudiants2 span{
 background-color:#EE5CA1;
}
#temoignages2{
 top:243px;
 left:453px;
 background:url(bulle_temoignage.png) top left no-repeat;
 padding-top:40px;
}
#temoignages2 span{
 background-color:#8CC63E;
}
#entreprises2{
 top:173px;
 left:673px;
 background:url(bulle_entreprise.png) top left no-repeat;
 padding-top:40px; 
}
#entreprise2 span{
 background-color:#CF171F;
}
/*-- rubrique temoignage --*/
#cont_menu_video{
position:absolute;
z-index:1;
width:13em;
margin-left:50px;
min-height:563px;
 background:url(fd_menu_video.gif) top center repeat-y;
}
#menu_video_sup{
display:inline;
}
#menu_video_sup li{
list-style-type:none;
position:absolute;
background-color:#8CC63E;
color:#fff;
z-index:2;
text-align:center;
}
#menu_video_sup li h2{
font-size:1.3em;
margin-bottom:5px;
margin-top:0;
font-weight:normal;
text-align:center;
}
#menu_video_sup li a{
text-decoration:none;
text-align:center;
font-weight:bold;
font-size:0.9em;
color:#fff;
}
#menu_video_sup li a:hover,
#menu_video li a:hover,
#menu_video_sup li a:focus,
#menu_video li a:focus,
#menu_video li a.active{
text-decoration:underline;
}
/*
#menu_video li a.active{
color:#F7DE07;
}
*/
#christopher{
top:484px;
left:315px;
width:220px;
padding:1px;
min-height:75px;
}
#sylvie{
top:451px;
left:540px;
width:163px;
min-height:66px;
padding:1px 1px 10px 1px;
}
#sandrine{
top:480px;
margin-top:-8em;
left:646px;
width:190px;
padding:1px 1px 10px 1px;
}
#menu_video{
margin:10px 0 0 0;
padding:3.3em 15px 20px 35px;
background-color:#8CC63E
}
#menu_video li{
color:#fff;
margin-bottom:20px;
}
#menu_video li a{
text-decoration:none;
color:#fff;
font-weight:bold;
font-size:1.1em;
}
#menu_video #autres{
 position:relative;
 width:180%;
 list-style-type:none;
 margin:40px 0 0 -60px;
 font-size:1.2em;
 text-align:center;
}
#page_temoignage abbr,
#page_temoignage acronym{
 border-bottom:1px dotted #7EB438;
}
#contenu_video{
position:absolute;
top:180px;
left:300px;
background-color:#fff;
text-align:center;
color:#7EB438;
}
#contenu_video h2{
 font-size:1.2em;
 margin-bottom:0;
 margin-top:5px;
}
#contenu_video p{
margin-top:0;
}
#contenu_video p #transcript{
color:#D62827;
text-decoration:none;
}
#contenu_video p #transcript:hover,
#contenu_video p #transcript:focus{
text-decoration:underline;
}
/*-- Rubrique etudiants --*/
#wrap_left{
 position:absolute;
 top:220px;
 left:60px;
 width:250px;
}
#wrap_left #ulG{
font-weight:bold;
margin-left:-15px;
}
#wrap_left #ulG li{
color:#000;
list-style-type:none;
font-size:0.9em;
margin-bottom:10px;
}
#page_etudiants #wrap_left p,
#page_etudiants_stages #wrap_left p{
 margin-left:25px;
 font-weight:bold;
}
#page_etudiants_stages p a{
 color:#D62925;
}
#page_etudiants_stages p a:hover,
#page_etudiants_stages p a:focus{
 text-decoration:underline;
}
#menu_etudiants{
 margin:0;
 padding:0;
}
#menu_etudiants li{
list-style-type:none;
}
#menu_etudiants li a{
color:#fff;
text-align:center;
display:block;
padding:10px 0 0 0;
text-decoration:none;
width:100%;
height:2.8em;
font-weight:bold;
font-size:1.1em;
}
#menu_etudiants li #partenaire,
#menu_etudiants li #job{
width:92.9%;
}
#menu_etudiants li #partenaire{
position:relative;
margin-top:4px;
}
#menu_etudiants li #job{
position:relative;
margin-top:-4px;
}
#menu_etudiants li a span{
background-color:#3D9B3A;
}
#menu_etudiants li a.active,
#menu_etudiants li a:hover,
#menu_etudiants li a:focus{
text-decoration:underline;
background:url(fleche_lien_actif_etudiants.gif) center right no-repeat
}
#menu_etudiants li a.active{
color:#F7DE07;
}
#page_etudiants h2,
#page_etudiants_stages h2,
#page_etudiants_ecole h2{
padding-left:100px;
font-size:2em;
font-weight:normal;
margin-top:0.7em;
}
#page_etudiants h2 span,
#page_etudiants_stages h2 span,
#page_etudiants_ecole h2 span{
background-color:#fff;
}
#page_etudiants #contenu{
margin-left:320px;
width:320px;
padding:20px 40px 80px 40px;
min-height:43em;
}
#page_etudiants_stages #contenu{
margin-left:320px;
width:450px;
padding:20px 40px 40px 40px;
min-height:43em;
}
#page_etudiants_ecole #contenu{
margin-left:320px;
width:450px;
padding:20px 10px 190px 10px;
}
#wrap_right,
#wrap_right_ecole,
.charte_etudiant,
#page_etudiants_ecole #liste_ecole2 .affY{
position:absolute;
color:#3D9B3A;
font-weight:bold;
background-color:#fff;
}
#page_etudiants_ecole #liste_ecole2 .affY{
top:0;
z-index:2;
}
#wrap_right,
.charte_etudiant{
right:60px;
top:230px;
width:140px;
}
#wrap_right_ecole,
#page_etudiants_ecole #liste_ecole2 .affY{
right:45px;
top:220px;
width:155px;
min-height:263px;
padding:10px;
background-color:#F8EB6B;
}
#page_etudiants_ecole #liste_ecole2 .affN{
position:absolute;
top:-1000000px;
}
#carte_ecole{
position:relative;
margin-top:-53px;
width:358px;
height:384px;
margin-left:10px;
background:url(carte_ecole.jpg) top left no-repeat
}
#carte_ecole li a:focus{
background-color:#fff;
}
#liste_ecole li{
list-style-type:none;
}
#liste_ecole li img{
vertical-align:middle;
position:relative;
margin-top:-1px;
}
#liste_ecole li a span{
display:block;
position:absolute;
top:10px;
left:5px;
background-color:#ffffcc;
border:1px solid #8080c0;
padding:2px;
z-index:4;
width:10em;
}
#plot1,#plot2,#plot3,#plot4,#plot5,#plot6,#plot7,#plot8,#plot9,#plot10,#plot11,
#plot12,#plot13,#plot14,#plot15,#plot16,#plot17,#plot18,#plot19,#plot20,#plot21{
position:absolute;
}
#plot9{
 top:16px;
 right:146px;
}
#plot8{
 top:21px;
 right:156px;
}
#plot1{
 top:51px;
 right:164px;
}
#plot17{
 top:61px;
 right:193px;
}
#plot7{
 top:61px;
 right:210px;
}
#plot5{
 top:203px;
 right:150px;
}
#plot16{
 top:92px;
 right:160px;
}
#plot19{
 top:104px;
 right:153px;
}
#plot14{
 top:97px;
 right:65px;
}
#plot20{
 top:97px;
 right:20px;
}
#plot3{
 top:130px;
 left:98px;
}
#plot10{
 top:200px;
 left:143px;
}
#plot4{
 top:235px;
 left:89px;
}
#plot11{
 top:213px;
 right:100px;
}
#plot18{
 top:228px;
 right:108px;
}
#plot6{
 top:228px;
 right:80px;
}
#plot15{
 bottom:75px;
 left:72px;
}
#plot21{
 bottom:62px;
 left:120px;
}
#plot13{
 bottom:75px;
 right:132px;
}
#plot12{
 bottom:68px;
 right:91px;
}
#plot2{
 bottom:80px;
 right:95px;
}
#liste_temoignages{
  background:url(bonhomme_liste_etudiants.gif) top right no-repeat;
	padding-top:57px;
	padding-left:17px;
	margin-left:-17px;
	margin-bottom:0;
}
#liste_temoignages li{
  background:#FECC00 url(separation_liste_etudiants.gif) top left no-repeat;
	height:2.5em;
	list-style-type:none;
	margin:0;
	padding:15px 0 0 0;
}
#liste_temoignages li p a{
 color:#D62925;
}
#liste_temoignages #first{
 background:none;
 background-color:#FECC00;
	padding:5px 0 0 0; 
}
#liste_temoignages li p.Fg,
#liste_temoignages li p.Fd{
 text-align:center;
 color:#D62925;
 margin:0;
 font-size:0.8em;
 font-weight:bold;
}
#liste_temoignages li p.Fg{
 background:#FECC00 url(fleche_gauche_liste_etudiants.gif) top left no-repeat;
 padding-left:20px;
}
#liste_temoignages li p.Fd{
 background:#FECC00 url(fleche_droite_liste_etudiants.gif) top right no-repeat;
 padding-right:20px;
}
#wrap_liste_temoignages{
 background:url(bas_liste_etudiants.gif) bottom left no-repeat;
 padding-bottom:12px;
}
#pop{
 position:absolute;
z-index:1;
background-color:#FECC00;
top:172px;
left:330px;
width:390px;
color:#D52826;
padding:40px;
}
#pop h3{
 text-align:center;
 position:absolute;
 right:0;
 top:0;
 width:320px;
 font-size:0.9em;
 padding-right:20px;
}
#pop h3 span{
 text-decoration:underline;
}
#pop img{
display:block;
position:relative;
margin-top:-57px;
margin-left:-30px;
}
#pop #close{
position:absolute;
right:1px;
bottom:10px;
}
#page_etudiants .charte_etudiant h3{
 margin-top:0;
}
#page_etudiants .charte_etudiant ul{
 margin:0;
 padding:0;
}
#page_etudiants .charte_etudiant li{
 margin:0;
 margin-bottom:30px;
 list-style-type:none;
 text-align:center;
}
#page_etudiants .charte_etudiant li a{
color:#3D9B3A;
font-weight:bold;
font-size:1.2em;
}
#page_etudiants .charte_etudiant .affN{
 position:absolute;
 top:-100000px
}
#page_etudiants .charte_etudiant .affY{
 position:absolute;
 margin-top:5px;
 left:-200px;
 width:240px;
 height:93px;
 background:url(bulle_charte.png) top left no-repeat;
 color:#fff;
 z-index:2;
 padding:35px 30px 30px 30px;
}
#page_etudiants .charte_etudiant .affY span{
 background-color:#3D9B3A;
}
#page_etudiants_ecole #liste_ecole2 ul{
margin:0;
padding:0;
}
#page_etudiants_ecole #liste_ecole2 li{
margin:0;
padding:0;
list-style-type:none;
}
#page_etudiants_ecole #liste_ecole2 li a,
#page_etudiants_ecole #liste_ecole2 p a{
color:#3D9B3A;
}
#page_etudiants_ecole #liste_ecole2 li a:hover,
#page_etudiants_ecole #liste_ecole2 p a:hover,
#page_etudiants_ecole #liste_ecole2 li a:focus,
#page_etudiants_ecole #liste_ecole2 p a:focus{
font-weight:normal;
}
.vert_gras{
color:#3D9B3A;
}
.gras{
font-weight:bold;
}
.nopuce{
list-style-type:none;
}
/*--- Rubrique Entreprise ---*/
#page_engagementRh{
padding-bottom:80px;
}
#page_entreprise h2,
#page_auchanSuper h2,
#page_citoyenne h2,
#page_engagementRh h2{
padding-left:130px;
font-size:2.2em;
font-weight:normal;
margin-top:0;
}
#page_entreprise #wrap_droite,
#page_auchanSuper #wrap_droite,
#page_citoyenne #wrap_droite,
#page_engagementRh #wrap_droite{
float:right;
width:189px;
min-height:152px;
margin-right:93px;
padding-bottom:312px;
}
#page_engagementRh #wrap_droite{
/*background:url(image/photo_engagementrh.png) bottom left no-repeat;*/
min-height:122px;
}
#photo_engagementrh,
#photo_diversite,
#photo_integration,
#photo_professionnelle,
#photo_formation,
#photo_remuneration{
display:block;
position:relative;
margin-top:40px;
margin-left:3px;
}
#page_entreprise #wrap_droite{
background:url(photo_enseigne.png) bottom left no-repeat;
}
#page_auchanSuper #wrap_droite{
margin-right:95px;
min-height:154px;
width:190px;
}
#page_citoyenne #wrap_droite{
margin-right:94px;
min-height:98px;
width:190px;
/*background:url(image/photo_citoyenne2.png) bottom right no-repeat;*/
}
#photo_citoyenne{
margin-top:10px;
}
#page_entreprise #wrap_gauche,
#page_auchanSuper #wrap_gauche,
#page_citoyenne #wrap_gauche,
#page_engagementRh #wrap_gauche{
float:left;
width:120px;
margin-left:120px;
margin-top:10px;
}
#page_entreprise #wrap_gauche p,
#page_auchanSuper #wrap_gauche p,
#page_citoyenne #wrap_gauche p,
#page_engagementRh #wrap_gauche p{
color:#3D9B3A;
margin-top:2em;
font-size:0.9em;
text-align:right;
}
#page_entreprise h3,
#page_auchanSuper h3,
#page_citoyenne h3{
 position:relative;
 font-size:1.8em;
 margin-left:290px;
 width:350px;
 margin-top:-1px;
}
#page_engagementRh h3{
 position:relative;
 font-size:1.3em;
 margin-left:290px;
 width:350px;
 margin-top:-1px;
}
#page_entreprise #wrap_gauche h3,
#page_auchanSuper #wrap_gauche h3,
#page_citoyenne #wrap_gauche h3{
 font-size:1em;
 margin-left:0;
 width:120px;
 text-align:right;
}
#page_auchanSuper #wrap_gauche ul,
#page_citoyenne #wrap_gauche ul{
 margin:0;
 padding:0;
}
#page_citoyenne #wrap_gauche ul{
 margin-top:2em;
}
#page_auchanSuper #wrap_gauche ul{
 margin-top:4em;
}
#page_auchanSuper #wrap_gauche ul li,
#page_citoyenne #wrap_gauche ul li{
 color:#3D9B3A;
 font-size:0.9em;
 list-style-type:none;
margin-bottom:10px; 
text-align:right;
}
#page_entreprise #contenu,
#page_auchanSuper #contenu,
#page_citoyenne #contenu,
#page_engagementRh #contenu{
  margin-left:257px;
	border-top:1px solid #3D9B3A;
	border-left:1px solid #3D9B3A;
	width:368px;
	margin-top:39px;
	padding-left:40px;
	padding-right:20px;
  padding-top:20px;
	margin-bottom:100px;
}
#page_engagementRh #contenu{
 margin-top:-2px;
}
#page_citoyenne #contenu{
 padding-bottom:80px;
}
#page_auchanSuper #contenu{
 padding-bottom:80px;
  width:363px;
}

#page_entreprise #contenu #plus_simply,
#page_auchanSuper #contenu #plus_simply,
#page_citoyenne #contenu #plus_simply,
#page_engagementRh #contenu #plus_simply{
background:url(fleche_lien_simply.jpg) top left no-repeat;
padding-left:30px;
font-size:0.9em;
}
#page_entreprise #contenu #plus_simply a,
#page_auchanSuper #contenu #plus_simply a,
#page_citoyenne #contenu #plus_simply a,
#page_engagementRh  #contenu #plus_simply a{
color:#ED1A23;
}
#simply_caddie{
 position:relative;
 margin-left:-170px;
 margin-top:35px;
 z-index:3;
}
#simply_fleche{
 position:absolute;
 margin-top:-24px;
 margin-left:-27px;
 z-index:4; 
}
#menu_entreprise{
margin:0;
margin-right:25px;
margin-left:2px;
padding:0;
padding:10px 3px 10px 5px;
background-color:#3D9B3A;
width:178px;
}
#menu_entreprise li{
margin:0;
padding:0;
list-style-type:none;
}
#menu_entreprise li a.active{
color:#F8E968;
text-decoration:underline;
}
#menu_entreprise li a{
color:#fff;
text-decoration:none;
font-size:0.9em;
}
#menu_entreprise li a:hover,
#menu_entreprise li a:focus{
text-decoration:underline;
}
#menu_entreprise abbr,
#menu_entreprise acronym{
 border-bottom:1px dotted #7EB438;
}
#basmenu{
margin:0;
padding:0;
padding-bottom:11px;
margin-left:-40px;
margin-top:-22px;
position:absolute;
background:url(bas_Smenu2.gif) bottom left no-repeat;
min-width:614px;
border-top:1px solid #fff;
}
#Smenu_entreprise{
padding:4px 0 0 0;
margin:0 0 0 0;
background-color:#3D9B3A;
}
#Smenu_entreprise li{
list-style-type:none;
float:left;
background-color:#3E9B3A;
margin-right:10px;
margin-left:10px;
}
#Smenu_entreprise li a{
text-align:center;
 color:#fff;
 background-color:#3E9B3A;
text-decoration:none;
}
#Smenu_entreprise li a.active,
#Smenu_entreprise li a:focus,
#Smenu_entreprise li a:hover{
 text-decoration:underline;
}
#Smenu_entreprise li a.active{
color:#F8E968;
}
/*--- page emplois --*/
#page_emploi #contenu{
margin-left:320px;
width:450px;
padding:20px 40px 0 40px;
}
blockquote{
 margin:-28px 10px 0 10px;
 width:323px;
 background:url(fond_citation.png) bottom left no-repeat;
}
blockquote p{
 padding:0 15px 15px 15px;
}
#page_emplois_metiers #contenu .citation{
 width:283px;
 min-height:60px;
 padding:10px 30px 0 10px;
 background:url(fond_titre_citation.png) top left no-repeat; 
}
#page_emploi h2,
#page_emplois_metiers h2{
padding-left:100px;
font-size:2em;
font-weight:normal;
margin-top:15px;
}
#page_emploi #contenu h3{
margin-top:-30px;
}
#page_emploi h2 span,
#page_emplois_metiers h2 span{
background-color:#fff;
}
#menu_emplois{
 width:230px;
 margin:15px;
 margin-top:2.5em;
 padding:0;
}
#menu_emplois li{
 margin:0;
 padding:0;
 list-style-type:none;
}
#menu_emplois li a{
 display:block;
 color:#fff;
 text-decoration:none;
 font-weight:bold;
 margin-bottom:10px;
 background:#3D9B3A url(puce_emploi_menu.jpg) top left no-repeat; 
 padding-left:20px;
}
#menu_emplois li a:hover,
#menu_emplois li a:focus,
#menu_emplois li a.active{
 text-decoration:underline;
}
#menu_emplois li a.active{
color:#F8E968;
}
#emploi_G{
 position:absolute;
 top:27em;
 left:366px;
 width:231px;
 font-size:0.9em;
  text-align:center;
}
#emploi_R{
 position:absolute;
 top:27em;
 left:608px;
 width:231px;
 font-size:0.9em;
  text-align:center;
}
#emploi_G p,
#emploi_R p{
 padding:25px 15px 15px 15px;
 min-height:180px;
 margin-top:-35px;
}
#emploi_G p{
 background:url(fond_rec.png) bottom left no-repeat
}
#emploi_R p{
 margin-top:-37px;
 background:url(fond_nrec.png) bottom left no-repeat
}
#emploi_G h4{
position:relative;
margin-left:-6px;
 background:url(fond_titre_rec.png) top left no-repeat;
 width:231px;
 height:70px;
 padding-top:5px;
}
#emploi_R h4{
position:relative;
margin-left:-6px;
 background:url(fond_titre_nrec.png) top left no-repeat;
 width:231px;
 height:70px;
 padding-top:5px; 
}
#emploi_G h4,
#emploi_R h4{
 padding-left:20px;
}
#emploi_G p a,
#emploi_R p a{
 display:block;
 margin-top:10px;
 color:#D62827;
 text-decoration:none;
}
#emploi_G h4 span{
background-color:#FA8C01;
}
#emploi_R h4 span{
background-color:#FFCC00;
}
#emploi_G p a:hover,
#emploi_G p a:focus,
#emploi_R p a:hover,
#emploi_R p a:focus{
text-decoration:underline;
}
#page_emplois_metiers #contenu{
margin-left:320px;
width:320px;
padding:20px 40px 0 40px;
margin-bottom:80px;
margin-top:-40px;
}
#page_emplois_metiers #wrap_right{
right:45px;
top:220px;
width:205px;
}
#page_emplois_metiers #wrap_right p{
margin:1.3em 0 0 0;
padding-right:3px;
padding-left:25px;
font-weight:normal;
background-color:#fff;
}
#page_emplois_metiers #wrap_right p a{
color:#D62827;
text-decoration:none;
}
#page_emplois_metiers #wrap_right p a:hover,
#page_emplois_metiers #wrap_right p a:focus{
text-decoration:underline;
}
#page_emplois_metiers #wrap_right #rec{
height:55px;
 background:url(titre_reconnus.jpg) top left no-repeat;
 font-size:0.9em;
 padding-left:25px;
 padding-top:0.3em;
 color:#000;
 font-weight:bold;
 margin:0; 
 text-align:center;
}
#page_emplois_metiers #wrap_right #nrec{
height:55px;
 background:url(titre_non_reconnus.jpg) top left no-repeat;
 font-size:0.9em;
 padding-left:25px;
  padding-top:0.3em;
  color:#000;  
 font-weight:bold;	
	text-align:center;
	margin:0;
 margin-top:25px;	
}
#page_emplois_metiers #wrap_right #rec span{
 background-color:#FA8C01;
}
#page_emplois_metiers #wrap_right #nrec span{
 background-color:#FECC00 ;
}
/*-- Pied de page --*/
#menu_bas{
 position:absolute;
 bottom:-13px;
 left:275px;
 width:486px;
 height:48px;
  background:url(menu_bas.png) top left no-repeat;
	margin:0;
	padding:12px 0 0 40px;
}
#menu_bas li #test{
position:absolute;
bottom:60px;
right:-135px;
z-index:1;
background-color:transparent;
}
#menu_bas li{
display:inline;
}
#menu_bas li a{
text-decoration:none;
font-weight:900;
color:#000;
}
#menu_bas li a:hover,
#menu_bas li a:focus{
text-decoration:underline;
}
#menu_bas li a img{
vertical-align:middle;
}
#auchan{
padding-left:30px;
}
/*-- Divers --*/
#introuvable{
position:absolute;
width:36%;
background-color:#8CC63E;
padding:5px;
left:50%;
top:15em;
margin-left:-18%;
}
#introuvable h2,
#introuvable ul li,
#introuvable p{
color:#fff;
background-color:#8CC63E;
font-weight:bold;
}
#introuvable h2{
text-align:center;
}
.gras{
 font-weight:bold;
}
#skipP{
 display:inline;
}
#skip{
 position:absolute;
 top:-10000px;
}
#skip:focus{
 top:0;
 background-color:#ffffcc;
 text-align:center;
 borer:1px solid #000;
 text-decoration:none;
 color:#000;
 padding:2px;
}
.col{
float:left;
width:49%;
}
.ack li{
 margin-bottom:15px;
 list-style-type:none;
}
kbd{
 float:left;
 border:1px outset #838383;
 width:3em;
 text-align:center;
 font-weight:bold;
 color:#000000;
 background-color:#dbdbdb;
 font-size:1.4em;
 margin-right:0.3em;
 -moz-border-radius:5px;
 border-radius:5px; 
}
.OS{
 margin-bottom:0.5em;
 font-size:1em;
 color:#000000;
}
.Sp{
 float:left;
 width:1em; 
}
#menu_bas #accessiweb{
 display:block;
 position:absolute;
 bottom:18px;
 left:-270px;
 border:1px;
}

