/* CSS Document */
html {
   background: url(bg_page.png); 
}
body {
   margin: 0px;
   padding: 0;   
   font-family: Arial;
   font-size: 11px;
   text-align: center;
   color: #C5C7C8;
   min-width: 846px;
}
body.pages {
   background: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  color: #92835A;
  font-weight: bold;
}
p, form, input{
  margin: 0px;
  padding: 0px;
}
form, input{
  font-size: 100%;
  font-family: Arial;
  vertical-align:middle; 
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: underline;
}
h1 a:hover, 
h2 a:hover, 
h3 a:hover, 
h4 a:hover, 
h5 a:hover, 
h6 a:hover {
  text-decoration: none;
}
ul {
  margin:0px;
  padding:0px;
  list-style-type: none;
}
fieldset{
	border: none;
	padding: 0px;
	margin: 0px;
}
legend {
  display: none;
}
img {
   border: none;
}
strong {
	font-weight: bold;
}
.hide {
	display: none;
}
.float_left {
	float: left;
}
.float_right,
.object-right {
	float: right;
}
.object-center .attribute-image {
    text-align: center;
}
.breaker{
	clear: both;
	height: 1px;
	overflow: hidden;
}

#debug {
    text-align: left;
}
