/****************************************************************************************
COMMON 
*****************************************************************************************/
font{
	font-size:100%;
}

font[size="1"]{
	font-size:0.7em !important;
}

font[size="2"]{
	font-size:1em !important;
}

font[size="3"]{
	font-size:1.2em !important;
}

font[size="4"]{
	font-size:1.4em !important;
}

font[size="5"]{
	font-size:1.7em !important;
}

font[size="6"]{
	font-size:2.2em !important;
}


/* content
*****************************************************************************************/
#document h1, .document h1{background-image:none;border:0;color:#781C7E;text-indent:0;height:auto;font-size:15px;font-family:arial;text-transform:none;padding-bottom:10px;zoom:1;}
.cabouge #document h1, .alaune #document h1, .actualites #document h1, .cabouge .document h1, .alaune .document h1, .actualites .document h1{color:#E74687;}
.adecouvrir #document h1, .adecouvrir .document  h1{color:#97bf0d;}
.institution #document h1, .institution .document  h1{color:#0091ce;}
.recherche #document h1, .recherche .document  h1{color:#0091ce;}
.aconsulter #document h1, .aconsulter .document  h1{color:#e65f2d;}
.videotheque #document h1, .videotheque .document  h1{color:#e65f2d;}

#document h2, .document h2{background-image:none;border:0;color:#781C7E;text-indent:0;height:auto;font-size:12px;font-family:arial}
.cabouge #document h2, .alaune #document h2, .actualites #document h2, .cabouge .document h2, .alaune .document h2, .actualites .document h2{color:#E74687;}
.adecouvrir #document h2, .adecouvrir .document  h2{color:#97bf0d;}
.institution #document h2, .institution .document  h2{color:#0091ce;}
.recherche #document h2, .recherche .document  h2{color:#0091ce;}
.aconsulter #document h2, .aconsulter .document  h2{color:#e65f2d;}
.videotheque #document h2, .videotheque .document  h2{color:#e65f2d;}

/*fake h2 */
#document q, .document q{font-style:normal;display:block;background-image:none;border:0;color:#781C7E;text-indent:0;height:auto;font-size:12px;font-weight:bold;font-family:arial}
.cabouge #document q, .alaune #document q, .actualites #document q, .cabouge .document q, .alaune .document q, .actualites .document q{color:#E74687;}
.adecouvrir #document q, .adecouvrir .document  q{color:#97bf0d;}
.institution #document q, .institution .document  q{color:#0091ce;}
.recherche #document q, .recherche .document  q{color:#0091ce;}
.aconsulter #document q, .aconsulter .document  q{color:#e65f2d;}
.videotheque #document q, .videotheque .document  q{color:#e65f2d;}
#document q:before, .document q:before{content:""}
#document q:after, .document q:after{content:""}


#document ul, .document ul{
	list-style-type:none;
	display:inline-block;
	/*margin-left:15px*/
}

#document ul li, .document ul li{
	background:url(bullet-li-default.png) no-repeat 0px 4px;
	padding-left:11px;
	/*display:inline-block;*/
}


#document a, .document a, .c_content a{
        color:#FABB00 !important;
}

div.popup {
  background-color: white;
  border: 1px solid #336699;
  padding-top: 2px;
  padding-bottom: 2px;
}

div.popup ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
}

div.popup ul li {
  padding-left: 4px;
}

div.popup ul li.selected {
  background: #e7e7e7 url(buttonbg_bc.png) bottom left repeat-x;
}

fieldset.widget {
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.5em;
}

.documentFields {
  border: 0px none transparent;
  margin: 0em 0 1em 0;
  padding: 0em;
}

.dright {
  float: right;
  text-align: right;
  padding-left: 1em;
  padding-bottom: 1em;
}

.dleft {
  float: left;
  padding-right: 1em;
  padding-bottom: 1em;
}

.dcenter {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.ddefault {
  padding-bottom: 1em;
}


div.dflush {
  clear: both;
}

div.dcolleft {
  width: 48%;
  padding-bottom: 1em;
}

div.dcolright {
  clear: right;
  float: right;
  width: 48%;
  padding-bottom: 1em;
}


div.dtitle, div.dtitle2, div.dtitle3, div.dtitle4, div.dtitle5, div.dtitle6 {
  color: black;
  background-color: transparent;
  font: 100% Arial, sans-serif, Verdana, Helvetica;
  margin: 0;
  padding-top: 0.5em;
}

div.dtitle {
  font-size: 140%;
  border-bottom: 1px solid #838183;
  margin-bottom: 0.5em;
}
div.dtitle2 {
  font-size: 130%;
  border-bottom: 1px solid #838183;
  margin-bottom: 0.5em;
}
div.dtitle3 {
  font-size: 120%;
  border-bottom: 1px solid #838183;
}
div.dtitle4 {
  font-size: 110%;
  border-bottom: 1px solid #838183;
  font-weight: bold;
}
div.dtitle5 {
  font-size: 105%;
  border-bottom: 1px solid #838183;
  font-weight: bold;
}
div.dtitle6 {
  font-size: 100%;
  border-bottom: 1px solid #838183;
  font-weight: bold;
}

div.dcontent {
  font-size: 100%;
}
div.dcontent p {
  text-align: left;
}

div.ddescription {
  font-weight: bold;
}

div.ddescription .ddefault, div.ddescription .ddefault p{
  padding-bottom: 0em;	
}

.dlabel {
  font-weight: bold;
  font-size: 100%;
}

.dbold {
  font-weight: bold;
}

.publicationDate {
  color: #777777;
  font-weight: bold;
  font-size: 105%;
}

.photoWidget {
  text-align: center;
  padding: 0.5em;
}

.photoWidget p {
  display: inline;
  text-align: left;
}

.photoWidget span {
  vertical-align: top;
  display: table-cell;
  display: inline-table;
  display: inline-block;
  font-size: 95%;
}

#ajax_psm {
  background: #ffac0b;
  color: white;
  position: absolute;
  z-index:500;
  padding: 8px;
  border: 1px solid black;
}

hr.faqBorder {
  border:#999999 1px dotted
}

div.faqResponse {
  padding-top:1em;
}

.faqResponseElement {
  padding-left: 0px! important;
}

/* hack for IE6 bugs */
/* Hides from IE5-mac \*/
/** html div.dleft {height: 1%}*/
/** html .ddefault {height: 1%}*/
* html div.dcolleft {height: 1%}
* html div.dcolright {height: 1%}
/* End hide from IE-mac */

/****************************************************************************************
WIDGETS
*****************************************************************************************/
/*common
*****************************************************************************************/


/*Title
*****************************************************************************************/


/*text and image
*****************************************************************************************/
#widget__textimage_widget, .widget__textimage_widget{
	width:97%;
}
	
#widget__textimage_widget img, .widget__textimage_widget img{
	border:2px solid #91908e;
}

/*read more
*****************************************************************************************/
#widget__more_about_1_widget .readMore, .widget__more_about_widget .readMore{
	padding:10px 0;
	width:100%;
}

#widget__more_about_1_widget  .readMore .content ul, .widget__more_about_widget  .readMore .content ul{
	color:#744872;
	width:30%;
}

#widget__more_about_1_widget  .readMore .content ul a:hover, .widget__more_about_widget  .readMore .content ul a:hover{
	text-decoration:underline;
}


#widget__more_about_1_widget  .readMore .content ul.readCol1, .widget__more_about_widget  .readMore .content ul.readCol1{
	float:left;
	margin-left: 30px;
}

#widget__more_about_1_widget  .readMore .content ul.readCol2, .widget__more_about_widget  .readMore .content ul.readCol2{
	float:right;
	margin-right: 10px;
}

#widget__more_about_1_widget  .readMore .flush, .widget__more_about_widget  .readMore .flush{
	clear:both;
}

/*search
*****************************************************************************************/
#widget__search_widget li, .widget__search_widget li{
	padding-bottom:10px;
}

#widget__search_widget h2, .widget__search_widget h2{
	margin:0;
	padding:0;
	color:#7F7F7F;
	font:bold 1em;
}

#widget__search_widget p, .widget__search_widget p{
	padding:0;
	margin:0;
	font-size:0.9em;
}

#widget__search_widget .moreInfo, .widget__search_widget .moreInfo{
	color:#A1CFE2;
	font-size:0.9em;
}

