body{
    width:700px;
    margin:0 auto;
    background:white;
}

#main, #mainSite, #header, #body, #footer{
    width:700px !important;
    margin:0 !important;
}

#main{
    background:none;
}

#leftSlot, #rightSlot, .portlet_footer, .portlet_tools, .portlet_main_nav, .portlet_header, .portlet_go_up, .portlet_go_back{
    display:none;
}

#centerSlot{
    padding:0 !important;
    margin:0 !important;
}

#header{ 
	background:url(http://www.ardeche.fr/style_ardeche/img/header_print.jpg) no-repeat top left !important;
	height:113px;
}

#mainSite, #body, #document{
	background:none !important;
}

#documents{
	background:transparent url(http://www.ardeche.fr/style_ardeche/img/otherdocbg.gif) repeat-y scroll 48% top;
}

#footer, #document .footer {
	display:none;
}