/****************************************************************************************
MAINSITE  
*****************************************************************************************/
#mainSite{
	background-image:url(page-background-full-trans.png);
	background-repeat:repeat-y;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	text-align:left;
	width:1000px;	
}

.accueil #mainSite{background-image:url(background-home.gif);}

#mainSite #header{
	background-image:url(page-top-rounded-full-trans.png);	
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	text-align:left;
	width:994px;
	padding-left:6px
}

.accueil #mainSite #header{background-image:url(top-home.gif);}

#mainSite #body{
    background:url(photo-mask-trans.png) no-repeat top right;	
    margin: 0px auto;
	width:1000	px;	
	position:relative;
	top:-27px;
	left:-12px;
	padding-bottom:20px;
}

.accueil #mainSite #body{top:0;padding-left:18px;}

* html #mainSite #body{background:url(photo-mask-trans.gif) no-repeat top right;}	
.accueil #mainSite #body{background:none}	

#mainSite #footer{
    margin: 0px auto;
	width:1000px;	
	height:28px;
	background-image:url(page-bottom-rounded-full-trans.png);	
	position:relative;
}
.accueil #mainSite #footer{background-image:url(bottom-home.gif);height:45px;}

#popup{background:white;font-size:80%;padding:10px;}
/****************************************************************************************
SLOTS
*****************************************************************************************/
#main{
	border-collapse:collapse;	
    width:990px;
}

#centerSlot{
    vertical-align: top;
	padding:3px 16px 0 40px;
}

#leftSlot{
    vertical-align: top;
	padding: 23px 0 0 18px;
	width:200px;
}

#leftSlot .portlet{
	margin-bottom:25px;	
	position:relative;
	top:-112px;
}

#rightSlot{
    vertical-align: top;
	padding: 51px 0 0 0;
	/*width:203px;*/
	width:194px;
}


.coup_de_pouce #rightSlot{
    width: 0px;
}
