html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-size:100%;margin:0;padding:0}
body{color:#000;font-family:Arial, sans-serif;font-size:75%;line-height:1.3em;background:#718dab}
ul{list-style:none;margin:0 1.5em 1.5em 0}
blockquote,q{quotes:none}
del{text-decoration:line-through;color:#666}
table{border-collapse:collapse;border-spacing:0;margin-bottom:1.4em;width:635px;text-align:center;position:relative;background:#f3f6f2;font-size:.9em;border-bottom:2px solid #d5dbd8}
#ovpi{position:absolute;width:960px;left:50%;background:#F5AF00;color:#000;padding-bottom:10px;top:150px;margin:0 0 0 -480px}
#ovpi h2{border:0;font-weight:400;background:none;color:#fff;font-size:12px;text-align:center;margin:0}
#ovpi p{font-size:1.2em;margin:0;padding:3px 10px}
#ovpi ul{list-style-position:inside;margin-left:10px}
#ovpi p img{float:left;border:2px solid #425585;margin:.5em 1em .5em 0}
#trame{position:absolute;background:#000;top:0;left:0;z-index:998;width:100%;height:100%;opacity:0.75;-moz-opacity:0.75;filter:Alpha(opacity=75);cursor:pointer}
#ovpi.js-enabled{position:absolute;border:0;left:50%;margin-left:-300px;top:50px;width:600px;height:660px;z-index:999;background-image:url(voeux2010.jpg);background-position:600px 0;background-repeat:no-repeat;padding:0}
#ovpi.en{background-image:url(voeux2010_en.jpg)}
#ovpi.closed{left:-280px;background-position:580px 0}
#ovpi.js-enabled #voeuxFlashInside{background:#fff}
#ovpi #js-toggle-ovpi{position:absolute;top:-20px;right:20px;width:auto;height:25px;text-indent:0;padding:0}
#ovpi.closed #js-toggle-ovpi{right:0;top:0;width:40px;text-indent:-5000px;height:100%}
#ovpi #js-toggle-ovpi a{color:#fff;font-size:12px;display:block;width:100%;height:100%;overflow:hidden}
#ovpi.js-enabled .signature a{color:#AC7710;font-size:9px}
h1,h2,h3,h4,h5,h6{color:#fff;font-weight:700;margin-bottom:.5em}
h1{font-size:3em;line-height:1em}
h2{font-size:1.4em;clear:both;line-height:2em;position:relative}
h3{font-size:1.2em;line-height:1em}
#home h3{font-size:1.1em}
#home h3 a{color:#fff;text-decoration:none}
h4{font-size:1.1em;line-height:1.25em}
h5{font-size:1em;font-weight:700;margin-bottom:1.5em}
h6{font-size:1em;font-weight:700}
p{margin:0 0 1.3em}
p.picture-left{float:left;position:relative;z-index:10;margin:.5em 1em 1em 0;padding:0}
p.picture-right,p.entry-picture{float:right;position:relative;z-index:10;margin:0 0 .5em 1em;padding:0}
p.picture-left a,p.picture-right a,p.entry-picture a{display:block;background:transparent}
p.entry-video{display:block;text-align:center}
ol a{font-size:1em}
dl{border-left:3px solid #6194CA;padding-left:.5em;margin:0 0 1.5em}
dd{margin-left:1.5em}
abbr,acronym{border-bottom:1px dotted #666}
address{margin-top:1.5em;font-style:italic}
a{color:#003772;text-decoration:underline;cursor:pointer}
#home a{color:#bbe0ff;text-decoration:underline;cursor:pointer}
#home a:hover{color:#bbe0ff}
p.list-all{margin-bottom:20px;clear:both;overflow:hidden}
p.read-more{clear:both;overflow:hidden;margin:0 0 10px}
p.read-more a,p.list-all a{float:left;text-decoration:underline}
blockquote{color:#666;font-style:italic;margin:1.5em}
strong{font-weight:700;color:#396AA0}
pre,code{white-space:pre;margin:1.5em 0}
pre,code,tt{font-size:1em;font-family:'lucida console', monospace;line-height:1.5em}
tt{display:block;line-height:1.5em;margin:1.5em 0}
caption{background:#ffc}
form{position:relative;float:left;clear:both;width:622px;padding:10px 10px 4em}
form p{padding-bottom:15px;position:relative;overflow:hidden;margin:0}
form label{font-weight:700;display:inline;color:#396AA0}
form input{background:url(input-background.gif) 0 0 no-repeat;padding:0}
form .text,form .select{clear:both;width:83%;left:8%;height:2.2em;overflow:hidden;margin:0;padding:1.5em 0 0}
form .textarea{clear:both;width:80%;height:auto;margin:0;padding:0}
form .text label,form .select label{float:left;text-align:right;font-weight:700;width:17%;margin-right:5px;padding-right:1%}
form .text input,form .select input{width:77%;border:1px solid #D9EDFC;padding-left:5px}
form .select select{border:1px solid #D9EDFC;padding-left:5px;width:28%}
form .text textarea{float:none;height:175px;width:80.5%;background:url(input-background.gif) 0 0 no-repeat;border:1px solid #D9EDFC}
form .tiny{clear:none;float:left;width:306px}
form .tiny input{width:73%}
form .tiny .error{margin-left:24%}
form p.long textarea{float:none;height:100px}
form p.long label{vertical-align:top;width:15.5%}
form fieldset{float:left;position:relative;width:66%;clear:both;left:22.7%;border:1px dashed #396AA0;margin:.5em 0;padding:0}
form legend{background:#fff;border:1px solid #c0c0bf;position:relative;font-weight:700;color:#396AA0;font-size:1em;margin:0;padding:0 10px}
form fieldset p.check,form fieldset p.radio{float:left;clear:both;margin:.4em 0;padding:0 0 0 5%}
form fieldset p.check label,form fieldset p.radio label{cursor:pointer}
form fieldset p.check input,form fieldset p.radio input{border:0;background:0;position:relative;top:2px}
form fieldset p.file{display:block;margin:10px 0 0 20px}
form fieldset p.file .help{font-style:italic;font-size:.8em;display:block}
form fieldset p.precision{position:relative;float:left;width:75%;left:11%;clear:both}
form fieldset p.precision input{width:75%;border:1px solid #E1F0FC}
form p.submit{position:relative;float:left;bottom:0;right:-75%;z-index:4;width:auto;overflow:visible;background:#d9001c url(submit-background.gif) 0 0 repeat-x;border:0;border-top:1px solid #fa6ca6;border-right:#960033;border-bottom:1px solid #5a000a;border-left:1px solid #f13672;clear:both;margin:.5em 0;padding:0 5px}
form p.submit button{cursor:pointer;color:#fff;position:relative;display:block;font-weight:700;background:0;border:0;white-space:nowrap;margin:0;padding:0}
form p.init{float:left;clear:both;left:27.7%;margin-top:6px;white-space:nowrap;width:15.7em}
form p.init a{background:#F5F5F5 url(refresh.gif) 3px 5px no-repeat;cursor:pointer;display:block;float:left;font-size:100%;font-weight:700;line-height:130%;text-decoration:none;border-color:#EEE #DEDEDE #DEDEDE #EEE;border-style:solid;border-width:1px;margin:0 7px 0 0;padding:5px 10px 6px 20px}
form p.init a:hover{color:#CA0025}
form .error_form input,form .error_form textarea{border:1px solid red;background:#FFE0E0}
form p .error{background:url(warn.gif) 0 0 no-repeat;border:0;position:absolute;left:19%;top:0;margin-bottom:0;display:block;font-size:.9em;padding:2px 0 2px 17px}
form fieldset p .error{left:13%}
p#champs-obligatoires{clear:both;font-style:italic;font-size:.9em;text-align:right;width:98%;margin:0}
#main .confidentialite{font-style:italic;clear:none;color:#666;float:left;font-size:1em}
.help{background:url(help.png) 0 2px no-repeat;position:relative;cursor:pointer;font-size:.9em;margin-left:16%;padding:3px 0 3px 20px}
form#inscription-evenement p .error{left:24%}
form#inscription-evenement p.tel-portable{height:5.4em}
form#inscription-evenement p.tel-portable .help{margin-left:23%;display:block;font-size:10px;line-height:12px}
form#inscription-evenement input{width:71%}
form#inscription-evenement ul.checkbox_list{margin-left:175px}
form#inscription-evenement ul.checkbox_list input{width:15px;background:none;border:0}
.error,.notice,.success{margin-bottom:1em;border:2px solid #ddd;clear:both;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;float:left;width:90%;padding:10px 10px 10px 35px}
.error{background:#fff url(error.gif) 0 50% no-repeat;color:#D12F19;border-color:#FBC2C4}
.notice{background:#fff url(notice.gif) 0 50% no-repeat;color:#817134;border-color:#FFD324}
.success{background:#fff url(success.gif) 0 50% no-repeat;color:#529214;border-color:#C6D880}
.error a{color:#D12F19}
.notice a{color:#817134}
.success a{color:#529214}
.date{color:#5b7a7c;font-size:1.3em;font-weight:700}
.msg{zoom:1}
a.btn{cursor:pointer;color:#fff;position:relative;top:0;right:0;clear:both;display:block;float:right;background:#d9001c url(submit-background.gif) 0 0 repeat-x;border:0;border-top:1px solid #fa6ca6;border-right:#960033;border-bottom:1px solid #5a000a;border-left:1px solid #f13672;font-weight:700;margin:0 13% 0 0;padding:2px 5px}
#wrapper{width:960px;position:relative;overflow:visible;left:1px;margin:-406px auto 0}
#wrapper .helper{background:transparent url(body-background.png) 50% 0 repeat-y}
#home #wrapper{background:0;left:2px;margin:-301px auto 0}
#home #wrapper .helper{background:transparent url(body-home-background.png) 50% 0 repeat-y}
#header{min-width:960px;background:url(header-background.gif) 0 0 repeat-x}
#header h1{text-indent:-5000px;background:url(header-h1.jpg) 50% 0 no-repeat;height:666px;width:100%;margin:0 auto}
#header p.home{position:absolute;top:10px;left:50%;margin-left:-470px;width:300px;height:100px;text-indent:-5000px}
#header p.home a{display:block;height:100%;width:100%}
#home #header h1{height:666px;background-image:url(header-home-h1.jpg)}
#home #branding{display:block;text-indent:-5000px;left:50%;top:70px;margin-left:-343px;position:absolute;background:transparent url(branding-home-background.gif) 138px 18px no-repeat;width:667px;height:251px}
#home.js-enabled #header #branding{text-indent:0;display:block}
#direct-access{position:absolute;width:961px;left:50%;top:0;z-index:85;overflow:visible;margin:0 0 0 -480px}
#direct-access .inside{opacity:0.9;-moz-opacity:0.9;filter:Alpha(opacity=90);position:relative;border-bottom:2px solid #fff;background:#003772;text-align:center;padding:4px 3px}
#direct-access h2{color:#fff;position:absolute;top:-5000px;left:-5000px;text-indent:-5000px}
#direct-access li{display:inline;color:#D3DCE5}
#direct-access li span{padding:0 0 0 2px}
#direct-access li a{color:#D3DCE5;font-size:1.1em;font-weight:700}
.js-enabled #direct-access-link{z-index:85;position:absolute;bottom:-27px;left:50%;margin-left:455px;width:28px;height:27px;text-indent:-5000px}
.js-enabled #direct-access-link a.open{display:block;width:100%;height:100%;background:transparent url(accessibilite-open.gif) 0 0 no-repeat}
.js-enabled #direct-access-link a.close{display:block;width:100%;height:100%;background:transparent url(accessibilite-close.gif) 0 0 no-repeat}
.js-enabled #direct-access-link a:focus{border-top:3px solid #DA2828}
#tools{position:relative;float:right;margin-top:-240px;right:19px;background:url(tools-background.gif) 0 0 repeat-y;width:559px}
#tools h2{float:none;width:100%;top:0;line-height:8px;left:0;text-indent:-5000px;height:8px;background:transparent url(tools-h2-background.gif) 0 0 no-repeat;clear:both;margin:0;padding:0}
#tools ul{margin:0 10px}
#tools .quick-links{float:right;position:relative;margin-bottom:0;font-size:.9em;width:280px;margin-left:-5px}
#tools .quick-links li{float:left;margin:2px 10px 0 0}
#tools .quick-links .english-version{position:relative;text-indent:-5000px;display:block;float:right;background:transparent url(english-version.gif) 0 0 no-repeat;width:34px;height:25px;margin:0 0 0 3px}
#tools .quick-links .english-version a{display:block;width:100%;height:100%}
#tools .hr{display:block;clear:both;position:relative;border:0;top:0;left:0;text-indent:-5000px;height:5px;background:url(tools-hr-background.gif) 0 0 no-repeat;margin:0}
#quick-search{width:180px;float:left;background:url(quick-search-background.gif) 4px 2px no-repeat;padding:1px 0 0 85px}
#quick-search form{height:20px;width:185px;padding:0}
#quick-search p{float:left;position:relative;color:#000;margin:0;padding:0}
#quick-search p input{position:relative;background:#fff;color:#000;border:1px solid #3d6da3;font-size:.9em;width:150px;margin-top:1px;padding:1px}
#quick-search p label{position:relative;display:block;background:#588CC3;color:#fff}
#quick-search p.submit{clear:none;width:32px;float:left;border:0;background:0;margin:0;padding:0}
#quick-search p.submit button{color:#fff;border:0;cursor:pointer;font-weight:700;width:32px;height:23px;text-align:center;text-indent:-3px;background:url(quick-search-submit-background.gif) 0 1px no-repeat;font-size:.8em;line-height:23px;margin:0 0 0 5px;padding:0}
.js-enabled #quick-search p.submit{position:absolute;top:-3px;right:0}
#home #tools{margin-top:-346px}
#sub-nav #newsletter{position:relative;left:-18px;padding-top:3px;width:221px}
#sub-nav #newsletter h2{margin-bottom:0;width:100%;background-image:url(newsletter-title.gif);background-position:1px 0}
#newsletter-subscription{width:270px;margin-left:0;padding:0}
#newsletter-subscription p{float:left;position:relative;color:#000;margin:0 0 0 15px;padding:0}
#newsletter-subscription p.text{width:auto;left:0}
#newsletter-subscription p.text input{position:relative;background:#fff;color:#000;border:1px solid #3d6da3;font-size:.9em;width:150px;padding:1px}
#newsletter-subscription p label{position:relative;display:block;width:auto;background:0;color:#fff}
#newsletter-subscription p.submit{clear:none;width:79px;height:33px;background:url(newsletter-subscription-home-submit-background.gif) 0 0 no-repeat;border:0;left:0;margin:-6px 0 0 5px;padding:0}
#newsletter-subscription p.submit button{color:#fff;border:0;cursor:pointer;height:25px;width:100%;background:0;text-align:center;font-size:.85em;line-height:30px;margin:0;padding:0}
#sub-nav #newsletter-subscription{height:200px;width:170px;margin-left:10px}
#sub-nav #newsletter-subscription input{width:174px;margin-left:10px}
#sub-nav #newsletter-subscription p.submit{position:relative;top:0;clear:both;display:block;left:115px;background:url(newsletter-subscription-submit-background.gif) 0 0 no-repeat;margin:0}
#sub-nav{color:#fff;float:left;width:205px;left:45px;margin-top:-2px;position:relative;z-index:2}
#common-nav h2{margin-bottom:5px}
#sub-nav .error,#sub-nav .success{width:70%;margin-left:5px}
#sub-nav h2{width:165px}
#sub-nav .bloc{padding:0 0 15px}
#sub-nav .bloc ul{clear:both;margin-bottom:0}
#sub-nav .bloc li{padding-left:10px;position:relative;background:none;font-size:1em;height:1%;overflow:hidden;margin:10px}
#sub-nav .bloc li a span{font-weight:700;display:block;font-size:1.25em;float:left;clear:both;margin:0}
#home #sub-nav .bloc li{padding-left:0;background:none;margin:10px}
#home #sub-nav #common-nav h2.services span{display:block;text-indent:-5000px;background:url(services-title-home.gif) 0 9px no-repeat}
#home #sub-nav #common-nav h2.pratique span{display:block;text-indent:-5000px;background:url(pratique-title-home.gif) 0 12px no-repeat}
#home #reportages h2 span{display:block;text-indent:-5000px;background:url(reportages-title-home.gif) 0 12px no-repeat}
#home #news h2 span{display:block;text-indent:-5000px;background:url(actualites-title-home.gif) 0 11px no-repeat}
#home #news .last-entries h2 span{display:block;text-indent:-5000px;background:url(last-actualites-title.gif) 0 11px no-repeat}
#home #main #events h2 span{display:block;text-indent:-5000px;background:url(rendez-vous-title-home.gif) 0 11px no-repeat}
#wrapper #newsletter h2 span{display:block;text-indent:-5000px;background:url(newsletter-title-home.gif) 0 11px no-repeat}
#sub-nav p.ad{margin:1em 0 0 -16px}
#sub-nav p.ad img{margin:5px 0}
#sub-nav .current-section{position:relative;margin-left:-18px;width:218px;background:#f0f1f1 url(current-section-background.gif) 0 0 repeat-y;z-index:15}
#sub-nav .current-section h2{width:196px;height:51px;margin-bottom:0;background:#f0f1f1 url(current-section-h2.gif) 0 0 no-repeat;padding:0 5px 0 20px}
#sub-nav .has-sub h2{height:52px;line-height:57px}
#sub-nav .current-section h2 span{width:200px;position:relative;height:50px;display:block;text-indent:-5000px;background:transparent url(title.gif) 0 50% no-repeat}
#sub-nav .current-section h2 a.rss-feed{float:right;margin:20px 10px 0 0}
#sub-nav .current-section ul{padding-bottom:10px;background:url(sub-nav-level-2-separator.gif) 0 100% no-repeat;margin:0}
#sub-nav .current-section li{color:#396aa0;font-size:1.2em;margin:0 0 0 8px;padding:3px 10px 5px 13px}
#sub-nav .current-section li,#sub-nav .current-section li.current ul{padding-right:0;background:url(level-3-li-separator.gif) 0 100% no-repeat}
#sub-nav .current-section li a{text-decoration:none;padding-left:11px;position:relative;display:block}
#sub-nav .current-section li a:hover,#sub-nav .current-section li.current li a:hover{text-decoration:underline;cursor:pointer}
#sub-nav .current-section li.current a:hover{text-decoration:none;cursor:default}
#sub-nav .current-section li a span{font-weight:400;font-size:1em;text-decoration:inherit}
#sub-nav .current-section ul ul{margin-left:-25px;width:213px;margin-top:5px}
#sub-nav .current-section ul li li{background:0;font-weight:400;font-size:.9em;width:170px;margin-left:12px}
#sub-nav .current-section ul li.current a{background:url(level-2-current-li-bullet.gif) 0 4px no-repeat}
#sub-nav .current-section ul li.has-sub{background:url(level-2-current-li-bullet.gif) 12px 6px no-repeat;padding-bottom:0;padding-left:25px}
#sub-nav .current-section ul li.current li.current{padding-bottom:5px}
.internal #sub-nav .current-section ul li.current li a{display:block;background:url(sub-nav-level-2-bullet.gif) 0 5px no-repeat;font-weight:400}
#sub-nav .nav{width:220px;position:relative;left:-18px;background:#396aa0 url(sub-nav-nav-background.gif) 0 5px repeat-y}
#sub-nav .nav h2{float:none;background:none;padding-left:1px;margin-bottom:0}
#sub-nav .nav ul{padding-top:8px;padding-bottom:15px;background:url(nav-title-separator.gif) 50% 0 no-repeat;width:220px;margin:0}
#sub-nav .nav ul ul{width:200px}
#sub-nav .nav ul li a:hover{color:#BBE0FF}
#sub-nav .current-section h2.actualites span{background-image:url(actualites-title-home.gif)}
#sub-nav .current-section h2.reportages span{background-image:url(reportages-title-home.gif)}
#sub-nav .current-section h2.rendez-vous span{background-image:url(rendez-vous-title-home.gif)}
#sub-nav .nav h2 span{background-repeat:no-repeat;background-position:0 50%;display:block;text-indent:-5000px}
#sub-nav #services h2{background:url(nav-title-separator.gif) 50% 100% no-repeat;padding-bottom:2px}
#sub-nav #services h2 span{background-image:url(services-title.gif)}
#sub-nav #pratique h2{padding-top:4px}
#sub-nav #pratique h2 span{background-image:url(pratique-title.gif)}
#sub-nav #events-nav li{background-repeat:no-repeat;background-position:1px 50%;clear:both;font-size:1.4em;line-height:2em;font-weight:700;height:43px;width:92%;overflow:hidden;color:#fff;margin:0;padding:0 0 0 22px}
#sub-nav #events-nav li span.access{text-indent:-5000px;display:block;height:29px;width:85%;float:left}
#sub-nav #events-nav .actualites{background-image:url(actualites-title.gif)}
#sub-nav #events-nav .reportages{background-image:url(reportages-title.gif)}
#sub-nav #events-nav .rendez-vous{background-image:url(rendez-vous-title.gif)}
#sub-nav #newsletter h2 span{background:none}
#sub-nav h2.annuaire-entreprises span{background-image:url(annuaire-entreprises-title.gif)}
#sub-nav h2.annuaire-associations span{background-image:url(annuaire-associations-title.gif)}
#sub-nav h2.marches-publics span{background-image:url(marches-publics-title.gif)}
.creer-reprendre-transmettre #sub-nav .current-section{background-image:url(current-section-background.gif.1)}
.creer-reprendre-transmettre #sub-nav .current-section h2 span{background-image:url(title.gif.1)}
.creer-reprendre-transmettre #sub-nav .current-section ul{background-image:url(sub-nav-level-2-separator.gif.1)}
.creer-reprendre-transmettre #sub-nav .current-section ul li.current a{background:url(level-2-current-li-bullet.gif.1) 0 4px no-repeat}
.creer-reprendre-transmettre #sub-nav .current-section ul li.has-sub{background:url(level-2-current-li-bullet.gif.1) 12px 6px no-repeat;padding-bottom:0}
.creer-reprendre-transmettre #sub-nav .current-section ul li.current li.current a{background:url(sub-nav-level-2-bullet.gif.1) 0 5px no-repeat}
.creer-reprendre-transmettre #header h1{background-image:url(header-h1.jpg.1)}
.se-developper #sub-nav .current-section{background-image:url(current-section-background.gif.2)}
.se-developper #sub-nav .current-section h2 span{background-image:url(title.gif.2)}
.se-developper #sub-nav .current-section ul{background-image:url(sub-nav-level-2-separator.gif.2)}
.se-developper #sub-nav .current-section ul li.current a{background:url(level-2-current-li-bullet.gif.2) 0 4px no-repeat}
.se-developper #sub-nav .current-section ul li.has-sub{background:url(level-2-current-li-bullet.gif.2) 12px 6px no-repeat;padding-bottom:0}
.se-developper #sub-nav .current-section ul li.current li.current a{background:url(sub-nav-level-2-bullet.gif.2) 0 5px no-repeat}
.se-developper #header h1{background-image:url(header-h1.jpg.2)}
.integrer-un-reseau #sub-nav .current-section{background-image:url(current-section-background.gif.3)}
.integrer-un-reseau #sub-nav .current-section h2 span{background-image:url(title.gif.3)}
.integrer-un-reseau #sub-nav .current-section ul{background-image:url(sub-nav-level-2-separator.gif.3)}
.integrer-un-reseau #sub-nav .current-section ul li.current a{background:url(level-2-current-li-bullet.gif.3) 0 4px no-repeat}
.integrer-un-reseau #sub-nav .current-section ul li.has-sub{background:url(level-2-current-li-bullet.gif.3) 12px 6px no-repeat;padding-bottom:0}
.integrer-un-reseau #sub-nav .current-section ul li.current li.current a{background:url(sub-nav-level-2-bullet.gif.3) 0 5px no-repeat}
.integrer-un-reseau #header h1{background-image:url(header-h1.jpg.3)}
.s-informer #sub-nav .current-section{background-image:url(current-section-background.gif.4)}
.s-informer #sub-nav .current-section h2 span{background-image:url(title.gif.4)}
.s-informer #sub-nav .current-section ul{background-image:url(sub-nav-level-2-separator.gif.4)}
.s-informer #sub-nav .current-section ul li.current a{background:url(level-2-current-li-bullet.gif.4) 0 4px no-repeat}
.s-informer #sub-nav .current-section ul li.current li.current a{background:url(sub-nav-level-2-bullet.gif.4) 0 5px no-repeat}
.s-informer #sub-nav .current-section ul li.has-sub{background:url(level-2-current-li-bullet.gif.4) 12px 6px no-repeat;padding-bottom:0}
.s-informer #header h1{background-image:url(header-h1.jpg.4)}
.se-former #sub-nav .current-section{background-image:url(current-section-background.gif.5)}
.se-former #sub-nav .current-section h2 span{background-image:url(title.gif.5)}
.se-former #sub-nav .current-section ul{background-image:url(sub-nav-level-2-separator.gif.5)}
.se-former #sub-nav .current-section ul li.current a{background:url(level-2-current-li-bullet.gif.5) 0 4px no-repeat}
.se-former #sub-nav .current-section ul li.has-sub{background:url(level-2-current-li-bullet.gif.5) 12px 6px no-repeat;padding-bottom:0}
.se-former #sub-nav .current-section ul li.current li.current a{background:url(sub-nav-level-2-bullet.gif.5) 0 5px no-repeat}
.se-former #header h1{background-image:url(header-h1.jpg.5)}
.s-implanter-en-vienne #sub-nav .current-section h2 span{background-image:url(title.gif.6)}
#sub-nav .current-section ul li.current li.current a{background:url(sub-nav-level-2-bullet.gif.6) 0 5px no-repeat}
.js-enabled #sub-nav .nav h2{cursor:pointer;width:auto}
.js-enabled #sub-nav .nav ul{display:none;margin-bottom:0;padding-bottom:15px}
.js-enabled #sub-nav #services ul{background-position:50% 100%}
.js-enabled #sub-nav .nav ul li{margin-left:11px}
.js-enabled #sub-nav .current-section h2 a.rss-feed{margin:10px 10px 0 0}
#home #sub-nav{padding-top:0;margin-top:0;width:220px;left:28px;z-index:9}
#home #sub-nav .bloc{padding:15px}
#home #sub-nav ul{margin:0 0 2em}
#main-nav{width:915px;position:relative;left:19px;float:left;clear:both;z-index:10;overflow:visible;margin:-48px 0 0;padding:.5em 0 0}
#main-nav ul{line-height:1.6em;background:url(main-nav-ul-background.gif) 0 0 no-repeat;overflow:visible;margin:0 0 0 10px;padding:2px 0 0}
#main-nav ul li{float:left;background:#396aa0;position:relative}
#main-nav ul li a{font-weight:700;color:#fff;display:block;padding-top:10px;height:27px;line-height:1.3em;width:100%;padding-left:25px;text-decoration:none}
#main-nav ul li.cci-de-la-vienne a{background:url(main-nav-cci-vienne.gif) 0 0 no-repeat;width:113px;padding-top:3px;height:34px}
#main-nav ul li.creer-reprendre-transmettre a{background:url(main-nav-creer-reprendre-transmettre.gif) 0 0 no-repeat;width:120px;padding-top:3px;height:34px}
#main-nav ul li.se-developper a{background:url(main-nav-se-developper.gif) 0 0 no-repeat;width:104px}
#main-nav ul li.integrer-un-reseau a{background:url(main-nav-integrer-un-reseau.gif) 0 0 no-repeat;width:103px;padding-top:3px;height:34px}
#main-nav ul li.s-informer a{background:url(main-nav-s-informer.gif) 0 0 no-repeat;width:100px}
#main-nav ul li.se-former a{background:url(main-nav-se-former.gif) 0 0 no-repeat;width:88px}
#main-nav ul li.s-implanter-en-vienne a{background:url(main-nav-s-implanter-en-vienne.gif) 0 0 no-repeat;width:127px;text-indent:-5000px;height:57px;margin-top:-20px;position:relative;padding:0}
#main-nav ul li.s-implanter-en-vienne a:hover{background-position:0 -58px}
#main-nav ul li a:hover{background-position:0 -37px}
#main-nav ul li .sub-level{display:none;position:absolute;left:-1px;top:37px;border:1px solid #284a71;width:450px}
#main-nav ul li .sub-level p.description{float:right;width:145px;color:#fff;margin:0;padding:10px 0 10px 10px}
#main-nav ul li .sub-level p.description dfn{display:block;font-style:normal}
#main-nav ul li .sub-level ul{float:left;width:160px;background:#2f71b2 url(sub-level-ul-background.gif) -1px 0 repeat-y;z-index:90;margin:0;padding:0 0 0 10px}
#main-nav ul li.cci-de-la-vienne .sub-level{background:#2f71b2 url(main-nav-cciv-de-la-vienne-sub-level-background.jpg) 170px 0 no-repeat}
#main-nav ul li.creer-reprendre-transmettre .sub-level{background:#2f71b2 url(main-nav-creer-reprendre-sub-level-background.jpg) 170px 0 no-repeat}
#main-nav ul li.se-developper .sub-level{background:#2f71b2 url(main-nav-se-developper-sub-level-background.jpg) 170px 0 no-repeat}
#main-nav ul li.integrer-un-reseau .sub-level{background:#2f71b2 url(main-nav-integrer-un-reseau-sub-level-background.jpg) 170px 0 no-repeat}
#main-nav ul li.se-former .sub-level{background:#2f71b2 url(main-nav-se-former-sub-level-background.jpg) 170px 0 no-repeat}
#main-nav ul li.s-informer .sub-level{width:530px;background:#2f71b2 url(main-nav-s-informer-sub-level-background.jpg) 170px 0 no-repeat}
#main-nav ul li.s-informer .sub-level,#main-nav ul li.se-former .sub-level{left:-297px}
#main-nav ul li.s-informer .sub-level p.description,#main-nav ul li.se-former .sub-level p.description{float:left;width:160px}
#main-nav ul li.s-informer .sub-level ul{float:right;width:225px}
#main-nav ul li.se-former .sub-level ul{float:right;width:145px}
#main-nav li.creer-reprendre-transmettre .sub-level ul{background-image:url(sub-level-creer-reprendre-transmettre-ul-background.gif)}
#main-nav li.se-developper .sub-level ul{background-image:url(sub-level-se-developper-ul-background.gif)}
#main-nav li.integrer-un-reseau .sub-level ul{background-image:url(sub-level-integrer-un-reseau-ul-background.gif)}
#main-nav li.s-informer .sub-level ul{background-image:url(sub-level-s-informer-ul-background.gif)}
#main-nav li.se-former .sub-level ul{background-image:url(sub-level-se-former-ul-background.gif);margin-bottom:15px}
#main-nav .sub-level ul li{float:none;background:url(sub-level-li-separator.gif) 0 100% no-repeat;margin-left:0;padding:4px 5px 4px 0}
#wrapper #main-nav ul li .sub-level li a{width:auto;float:none;position:relative;height:auto;background:none;font-weight:400;padding:0}
#wrapper #main-nav ul li .sub-level li a:hover{color:#A1D8ED}
.sf-shadow div{-moz-border-radius-bottomleft:17px;-moz-border-radius-topright:17px;-webkit-border-top-right-radius:17px;-webkit-border-bottom-left-radius:17px;padding:0 8px 9px 0}
.sf-shadow ul{-moz-border-radius-bottomleft:12px;-moz-border-radius-topright:12px;-webkit-border-top-right-radius:12px;-webkit-border-bottom-left-radius:12px}
#sub-nav #events-nav{width:221px;position:relative;left:-18px;background:url(envents-nav-background.gif) 0 0 no-repeat;overflow:hidden;padding:0}
#sub-nav #events-nav ul{width:213px;padding-top:8px}
#sub-nav #events-nav li a{text-decoration:none;display:block}
#sub-nav #events-nav li span.access a{float:left;display:block;width:100%;height:100%}
#sub-nav #events-nav li a.rss-feed{float:right;margin-top:10px;line-height:17px}
#main .search-results{background:#fff;border:1px solid #7EA8CB;padding:10px 10px 10px 40px}
#main .search-results li .updated{border:0;display:inline}
#main .search-results li a{font-weight:700;color:#7FA8CB}
#secondary-nav{position:absolute;left:50%;width:635px;z-index:5;margin:1em 0 0 -195px}
#secondary-nav h2{position:absolute;left:-5000px;top:-5000px;height:1px;text-indent:-5000px}
#secondary-nav li{margin-bottom:8px;display:inline}
#secondary-nav li.current{border-left:1px solid #ffa043;padding-right:4px}
#secondary-nav li a{border-left:1px solid #ffa043;padding:0 2px 0 4px}
#secondary-nav li.ss3i{position:absolute;right:-30px;top:0}
#secondary-nav li.ss3i a{color:#000;border:0;font-weight:400}
#breadcrumb{font-size:1em;width:664px;position:relative;z-index:10;float:left;margin:0 0 15px;padding:10px}
#breadcrumb h2{position:absolute;top:-5000px;left:-5000px;text-indent:-5000px;height:1px}
#breadcrumb p{float:left;margin:0 3px 0 0}
#breadcrumb li{color:#7d7d7d;display:inline;background:none;padding-left:2px}
#breadcrumb li a{color:#537ead}
#breadcrumb li span{display:inline-block;text-indent:-5000px;width:12px;background:transparent url(breadcrumb-separator.gif) 4px 6px no-repeat}
#content{height:1%;position:relative;width:684px;float:right;left:-27px;z-index:5;padding:0 0 20px}
#home #content #main h2,h2{width:92%;margin-bottom:.75em;overflow:hidden;color:#fff;background:url(h2-background.png) 0 0 no-repeat;padding:0 0 0 20px}
#home #content #main h2{margin-bottom:0;line-height:2em}
.gallery{overflow:hidden;position:relative;height:1%;margin:.5em 0}
.gallery div{float:left;background:transparent url(gallery-image-background.gif) 0 0 repeat-x;text-align:center;width:131px;height:13em;margin:.5em}
.gallery div a{text-align:center;color:#020242;text-decoration:none;font-style:italic;line-height:1.2em;font-size:.9em}
.gallery div img{border:1px solid #fff;margin:3px}
#home #content{float:right;left:-27px;background:transparent url(content-home-background.jpg) 0 0 no-repeat;width:684px;padding:0}
thead{background:#5B8EC5;color:#fff}
td,th{color:#003772;background:#fff;border:1px solid #D9EDFC;border-bottom:1px solid #D9EDFC;border-top:1px solid #000;padding:5px 3px}
th{color:#fff;background:url(thead-background.gif) 0 0 repeat-x;border-color:#d5dbd8}
th.date-envoi{width:120px}
th.date-limit{width:205px}
.odd td{background:#EDF5FC}
tr:hover td{background:#FFefef;border-bottom:1px dotted #ED6F00}
.has-sub #main{float:left;width:66%}
#main{position:relative;top:0;min-height:545px;float:right;width:644px;left:-20px;background:#fff;margin:0;padding:0 0 20px}
#content #main h2{width:642px;color:#396aa0;font-size:2em;font-weight:400;display:block;background:0;padding-left:0;line-height:1.1em;margin:0 0 15px}
.internal h3{width:97%;color:#7d7d7d;font-weight:700;font-size:1.4em;clear:both;border-bottom:1px solid #b0c9e5;margin:1.3em 0 .5em}
.internal h3 a:hover{color:#D90018}
.internal h4{width:auto;color:#396aa0;font-size:1.25em;font-weight:400;margin:15px 0 5px 3px}
#main .toggle_all{float:right;background:transparent url(h3-toggle.gif) 100% 2px no-repeat;color:#7d7d7d;clear:both;text-decoration:none;position:relative;z-index:10;margin:-3em 0 5px;padding:1px 14px 1px 0}
#main .rich-text{clear:both;width:644px}
#main .rich-text p{padding-left:0;position:relative;margin-bottom:.5em}
#main .rich-text ul{padding-left:0;position:relative;list-style:square inside url(li-background.gif);color:red;margin:0 1em 1em 0}
#main .rich-text ul ul{margin-top:5px;position:relative;list-style:square inside url(li-li-background.gif)}
#main .rich-text li{padding-left:3px;position:relative;margin-bottom:.2em;color:#000}
#main .rich-text li li{position:relative;left:10px}
p.list-all a.rss-feed,.rss-feed{position:relative;display:block;width:18px;height:17px;margin-left:10px;text-indent:-5000px;background:url(rss-feed.gif) 0 0 no-repeat}
#main .rss-feed{background:url(rss-feed-main.gif) 0 0 no-repeat}
#home #main{background:0;top:1em;width:645px;margin:0 0 0 15px}
#home .groupe-actus{float:right;position:relative;width:43%;padding-left:3%;background:url(groupe-actus-home-background.gif) 0 0 repeat-y}
#home #content #main .groupe-actus h2{width:85%}
#home #main .rss-feed{background:url(rss-feed.gif) 0 0 no-repeat}
#sitemap ul li li{padding-left:15px;margin-bottom:.2em;background:url(li-background.gif) 3px 2px no-repeat}
#sitemap ul p.description{margin:.3em 0 .5em}
#sitemap ul p.description dfn{font-weight:400;font-style:normal}
#sitemap ul li a{display:block;width:auto;font-weight:700}
#sitemap ul li.creer-reprendre-transmettre{border-left:3px solid #92CF00;padding-left:5px}
#sitemap ul li.se-developper{border-left:3px solid #FFBC00;padding-left:5px}
#sitemap ul li.integrer-un-reseau{border-left:3px solid #BE51BD;padding-left:5px}
#sitemap ul li.s-informer{border-left:3px solid #01ADD7;padding-left:5px}
#sitemap ul li.se-former{border-left:3px solid #6F3701;padding-left:5px}
#sitemap ul li .sub-level ul{margin-bottom:.2em;margin-left:.2em}
#sitemap ul li .sub-level ul li{border-left:0}
#sitemap ul li .sub-level ul li li a{border-left:0;font-weight:400}
#buildings form{clear:none;float:none;padding-bottom:0;border:1px solid #B0C9E5;border-top:0;width:603px;padding-top:0;overflow:hidden}
.last-entries{margin-top:16px;clear:both}
.last-entries li{position:relative;padding:4px 0}
.last-entries li span{display:block;font-size:.9em}
#main .last-entries li a{color:#fff;text-decoration:none;font-weight:700}
#main h2 a.rss-feed{display:block;overflow:visible;position:absolute;right:0;top:7px}
.internal #entries{clear:both;float:left;margin:10px 0 0}
.internal #entries p.entry-video{float:right;margin:0 0 .5em 1em}
.internal .updated{font-size:.8em;border-bottom:0;display:block}
.internal li .updated{border-bottom:0}
.internal .hentry{clear:both;background:#fff;overflow:hidden;border:1px solid #D9EDFC;float:left;width:620px;margin:1em 0;padding:10px}
.internal .hentry ul{padding-left:0;position:relative;list-style:square inside url(li-background.gif);margin:0 1em 1em 0}
.internal div.hentry .entry-excerpt{font-weight:700;color:#2A65A3;margin-bottom:1.5em}
.internal #main .hentry h3{width:97.5%;background:url(h3.gif) 0 1px no-repeat;color:#396aa0;padding-left:13px;clear:both;margin:0}
.internal #main .hentry h4{width:97.5%;color:#396aa0;padding-left:0;margin:0 0 10px}
.metas,.intro{font-weight:700;color:#2A65A3;clear:both;margin:0}
.internal #main .marches h3.entry-title{margin-bottom:10px}
.marches dfn{font-style:normal}
.marches .intitule .descriptif{line-height:1.1em;font-weight:400}
li.marches p{margin:5px 0 0}
li.marches .descriptif{line-height:1.1em;padding:10px}
p.back{float:right;margin-top:-20px}
.marches a.more{background:url(marche-details.gif) 0 2px no-repeat;padding:0 5px 0 14px}
.marches td.en_cours{background:#E3F3BB url(overlay-en_cours.png) 0 0 repeat-x}
.marches td.en_cours_attribution{background:#FFECB8 url(overlay-en_cours_attribution.png) 0 0 repeat-x}
.marches tr.inactive td{color:#999;background-color:#f9f9f9}
.marches tr.inactive:hover td{border-bottom:1px solid #D9EDFC}
.js-enabled div.alternative_video{width:100%}
.hentry object{z-index:5;position:relative}
.internal .hentry object{left:50%;margin-left:-160px;margin-bottom:10px}
.hentry .video_link{background:url(video-link-bullet.gif) 0 0 no-repeat;padding-left:16px}
#home #reportages{float:left;position:relative;width:51%}
#home #reportages p.entry-picture{border:0;display:block;width:340px;text-align:left;float:none;margin-left:0}
#home #reportages h2{float:none;width:100%}
#home #reportages li{padding:4px 0}
#home #reportages ul a{color:#FFF;font-weight:700;text-decoration:none}
#home #reportages ul span{font-size:.9em;display:block}
ol#events{list-style-type:none;list-style-position:inside;padding:0}
ol#events h3{background:url(calendar.gif) 0 0 no-repeat;margin:0;padding:2px 0 2px 18px}
ol#events h3 span.dates{color:#000;display:block;font-size:.8em}
ol#events li{background:#FFF none repeat scroll 0 0;border:1px solid #D9EDFC;clear:both;float:left;overflow:hidden;width:590px;margin:1em 0;padding:10px}
ol#events li ul li{border:0;background:url(li-background.gif) 0 3px no-repeat;margin:0 0 .2em;padding:0 0 0 13px}
#annuaire-actions{height:2.5em;overflow:hidden;clear:both;position:relative;margin:5px 0;padding:0}
#annuaire-actions li{background:0;display:block;width:21%;position:absolute;top:0;margin:0;padding:0}
#annuaire-actions li.advanced-search{left:0}
#annuaire-actions li.new-search{right:0}
form.annuaire{background:#fff url(annuaire-form-background.gif) 0 100% repeat-x;margin-bottom:1.5em;border-bottom:1px solid #D9EDFC;border-right:1px solid #49667e;border-left:1px solid #91b5d3;height:1%;overflow:hidden;padding-bottom:2.5em}
#main h4.annuaire{background:#598FBC url(annuaire-h4-background.gif) 0 0 repeat-x;color:#fff;height:30px;line-height:30px;text-indent:10px;font-size:1.2em;margin:0;padding:0}
form.annuaire p.text,form.annuaire p.select{margin:.4em 0}
form.annuaire p.text label,form.annuaire p.select label{width:20%}
form.annuaire p.text input{width:72.5%}
form.annuaire p.select select{width:74%}
form.annuaire fieldset{background:#fff;border:1px dashed #396AA0;width:80%;clear:both;left:10%;margin:1.5em 0 0}
form.annuaire fieldset fieldset{background:0;border:0;width:80%;left:0;margin:-1.3em 0 0}
form.annuaire legend{margin:0 0 0 10px;padding:0 5px}
form.annuaire fieldset fieldset legend{background:0;border:0;width:22%;text-align:right;float:left;margin:0}
form.annuaire p.radio,form.annuaire p.check{float:left;width:auto}
form#simple-search-form .error{left:22%;width:100%}
form#simple-search-form .submit{text-align:center;right:85px;float:right;padding:0 5px}
form#simple-search-form .submit button{width:140px}
form#simple-search-form input.selector{width:13px;position:absolute;left:15px;border:0;background:none;top:1.2em}
form a.toggle_advanced_search{left:27.7%;position:relative;background:#F5F5F5;cursor:pointer;display:block;float:left;font-size:100%;font-weight:700;line-height:130%;text-decoration:none;border-color:#EEE #DEDEDE #DEDEDE #EEE;border-style:solid;border-width:1px;margin:0 7px 0 0;padding:3px 10px 4px}
#edit-entreprise .section td{background:#D9EDFC url(table-section-bullet.gif) 3px 1em no-repeat;font-size:1.3em;font-weight:700;padding-left:10px;border-bottom:1px solid #5384BC;margin-top:1px}
#main #edit-entreprise h4{color:#003772;font-size:1.2em;margin-left:0;border-bottom:1px solid #5384BC;width:99%}
#edit-entreprise td input,#edit-entreprise td select{width:95%;border:1px solid #D9EDFC}
#edit-entreprise td input:focus{border-color:#CA0025}
#edit-entreprise .text{height:4.5em}
#edit-entreprise .long{height:7.5em}
#edit-entreprise p.long textarea{height:85px}
#edit-entreprise .text .error{left:21%;width:100%}
#edit-entreprise .text label{width:18%}
#edit-entreprise .text input,#edit-entreprise .text textarea{width:77%}
#edit-entreprise .help{margin-left:19%}
.fiche-detail{background:#edeceb url(detail-entreprise-background.gif) 0 100% repeat-x;margin-bottom:1.5em;border-bottom:1px solid #D9EDFC;border-right:1px solid #49667e;border-left:1px solid #91b5d3;height:1%;overflow:hidden;position:relative;padding-bottom:1em;width:100%}
.fiche-detail .inside{background:transparent url(detail-entreprise-inside-background.gif) 50% 0 repeat-y;padding-bottom:1.5em;height:1%;overflow:hidden}
.fiche-detail h3{background:#598FBC url(detail-entreprise-h3-background.gif) 0 0 repeat-x;color:#fff;height:30px;line-height:30px;text-indent:10px;font-size:1.2em;width:100%;margin:0;padding:0}
.fiche-detail h4{background:0;clear:both;margin:0 0 0 10px;padding:4px 0}
.fiche-detail ul{background:#fff;border:1px solid #cfcfcf;border-right:0;margin:0 0 0 10px;padding:10px}
.fiche-detail ul li{padding-left:8px;background:url(detail-entreprise-bullet.gif) 0 5px no-repeat;clear:both}
.fiche-detail ul dfn{font-style:normal;font-size:.9em;width:50%;float:none}
#coordonnees{position:absolute;top:30px;right:0;width:48%}
#detail-entreprise p.edit{position:absolute;top:0;right:0}
#detail-entreprise p.edit a{color:#fff;line-height:30px;background:url(detail-entreprise-edit-background.gif) 0 1px no-repeat;font-weight:700;margin:0 10px 0 0;padding:0 0 0 15px}
.surscribe-association{clear:both;float:right;position:relative;margin-top:-3.5em}
#general{width:50%;display:block;float:left}
#composition{width:48%;display:block;float:right}
#infos ul{border:4px solid #D9E6EF;border-right:0;background:#fff}
#detail-association h4{background:#EDECEB}
#bureau ul li,#membres ul li{background-image:url(detail-asso-bullet-2.gif)}
#membres ul.members-list{float:left;width:45%}
#news h3 span{font-size:.7em;font-weight:400;display:block}
#home #news p{margin-top:1em}
#plan{border:1px solid #000;height:250px;clear:both;float:left;width:100%;margin:1.5em 0}
#main .vcard{margin:1.5em 0}
#geo h3{margin-left:0}
#geo dfn{font-style:normal;color:#2A65A3}
#buildings{float:left;clear:both;width:100%;position:relative;top:-8px}
#buildings form p,#buildings form div{margin-bottom:5px;padding-top:5px;padding-bottom:5px;border-bottom:1px solid #ededed;width:97%}
#buildings p label{width:70px;float:left}
#buildings .choice h4{float:left;font-weight:700;font-size:12px;width:70px;margin:0}
#buildings .checkbox_list{float:left;margin:0}
#buildings .checkbox_list li{float:left;margin-right:15px}
#buildings .checkbox_list li input{top:2px;position:relative;background:none;border:0;margin:0}
#buildings .checkbox_list li label{color:#000;font-weight:400}
#buildings form p.surface{margin-bottom:0;border:0;float:left;width:auto;margin-right:20px}
#buildings form p.surface label{width:85px}
#buildings form p.surface input{width:50px;text-align:right;position:relative;top:-1px;float:left}
#buildings form p.surface span{width:100px;float:left}
#buildings form p.submit{width:auto;right:-85%;bottom:auto;padding:2px 5px}
#buildings .actions{float:left;clear:both;position:absolute;bottom:0;left:85px;margin:0}
#buildings .actions .reset{float:left;clear:both;background:#eee;border:1px solid #B0C9E5;margin:0 0 5px;padding:2px 5px}
#buildings .actions .reset a{text-decoration:none;display:block;width:100%;height:100%}
.js-enabled #buildings #slider{background:url(slider-graduation.jpg) 75px 75% no-repeat;padding-bottom:30px;float:left;clear:both}
.js-enabled #buildings #slider #slider-inside{position:relative;float:left;clear:both;width:82%;height:12px;margin:10px 0 10px 85px;padding:0}
.js-enabled #buildings #slider #slider-inside div{background:url(slider-bg.jpg) 50% 0 repeat-y;background-attachment:fixed;margin:0;padding:0}
#buildings-list .coords{width:110px}
.js-enabled #buildings-list{border:1px solid #B0C9E5;margin:10px 0}
#coordonnees-contact{float:left;clear:both;background:#fff;border:1px solid #D9EDFC;width:59.5%;text-align:left;left:23.5%;position:relative;padding:15px}
#main ul.faq{clear:both;margin:0}
#main ul.faq li{background:#fff;position:relative;margin:.5em 0;padding:10px}
#main ul.faq dfn{font-style:normal;display:block;width:auto;color:#2A65A3;padding-left:13px;background:url(collapse.gif) 0 3px no-repeat}
#main ul.faq .answer{margin-left:10px}
.js-enabled p#js-collapse{position:absolute;right:0;top:0;width:10em}
.js-enabled p#js-collapse a{color:#003772;text-decoration:underline;padding-right:8px;background:url(collapse-link.gif) 100% 6px no-repeat;border:0}
#main .pagination{text-align:center;clear:both;margin:10px 0;padding:2px}
#main .pagination ul{text-align:center;font-size:1em;margin:0;padding:0}
#main .pagination li{list-style-type:none;display:inline;border:1px solid #3E6FA2;background:#fff;margin:0 1px 0 0;padding:0}
#main .pagination li.prev-year,#main .pagination li.next-year{background:0;border:0;font-size:.7em;padding:3px 0}
#main .pagination li.prev-year a:hover,#main .pagination li.next-year a:hover{background:transparent}
#main .pagination li.prev-year{background:url(prev-year-arrow.gif) 50% 0 no-repeat}
#main .pagination li.next-year{background:url(next-year-arrow.gif) 50% 0 no-repeat}
#main .pagination a,#main .pagination a:visited{text-decoration:none;color:#3E6FA2;margin:0;padding:0 3px}
#main .pagination a:hover,#main .pagination a:active{color:#000;background-color:#E4F3FF}
#main .pagination li.current{background-color:#fff;color:#E6003C;font-weight:700;cursor:default;border-color:#E6003C;padding:0 3px}
#news.pagination li.inactive{color:#999;border-color:#aaa;padding:0 3px}
.downloads{width:100%;clear:both;margin:0;padding:0}
.downloads li{width:98%;margin:5px 0;padding:2px 5px}
.downloads li span{color:#888279;font-weight:700}
.downloads a{background:transparent url(download-file.gif) 0 0 no-repeat;padding:3px 0 3px 20px}
.downloads a.pdf{background:transparent url(page_white_acrobat.png) 0 0 no-repeat}
.downloads a.doc{background:transparent url(page_white_word.png) 0 0 no-repeat}
.downloads a.xls{background:transparent url(page_white_excel.png) 0 0 no-repeat}
.downloads a.ppt{background:transparent url(page_white_powerpoint.png) 0 0 no-repeat}
.downloads a.txt{background:transparent url(page_white.png) 0 0 no-repeat}
#footer{color:#fff;width:960px;left:-2px;position:relative;clear:both;min-width:960px;height:86px;background:transparent url(footer-background.jpg) 50% 0 no-repeat;padding:5px 0 20px}
#footer .quick-links{text-align:left;float:right;right:0;position:relative;width:55%;top:3.9em;margin:0}
#footer .quick-links li{display:inline}
#footer .quick-links li.espace-presse{position:relative;float:right;display:block;right:35px;top:-4.7em}
#footer p.ss3i{position:relative;float:left;display:block;width:100%;text-align:center;clear:both;font-size:.9em;top:.8em}
#footer p.ss3i a{color:#386A9F}
#footer .vcard{float:left;position:relative;left:35px;width:40%}
#footer .vcard h2{position:absolute;top:-5000px;left:-5000px;text-indent:5000px}
.vcard .org{display:block;font-weight:700}
.vcard .email{clear:right}
.vcard .contact{clear:both;display:block}
body.error-500{background:#718dab}
.error-500 #content{background:url(erreur-500-content-background.png) 0 0 repeat-y;width:100%;left:0}
.error-500 #main{min-height:0;width:90%;float:none;margin:15px 15px 15px 45px}
ins,a:focus,a:hover,p.read-more a:hover,p.list-all a:hover,#home #sub-nav .bloc li a,#sub-nav .current-section li.current a.current,#sub-nav .nav ul li a,.internal h3 a{text-decoration:none}
hr,#ovpi.js-enabled br,form p .error_form,form p.hidden,#header #branding,#tools .quick-links li span,#sub-nav span,#main-nav ul li span,#secondary-nav li span,#sitemap ul li span,.author,.entry-permalink,.hentry .start_video .default,ol#events .metas,#footer .quick-links li.Plan-du-site span,#footer .quick-links li.espace-presse span,.vcard .title,.vcard .url,.vcard .country-name,.vcard span.type{display:none}
div.hr,#content .hr,.js-enabled .innerfade{clear:both}
#home,#home strong,#direct-access li a:hover,#direct-access li a:focus,#tools .quick-links li a,#sub-nav .bloc li.current a,#sub-nav a,#footer a{color:#fff}
#ovpi.js-enabled p,#ovpi.js-enabled ul,#download-plan{text-align:center}
#home h3 a:hover,.last-entries li a:hover{text-decoration:underline}
p.picture-left img,p.picture-right img,p.entry-picture img,#secondary-nav li:last-child,#secondary-nav li:last-child a,#secondary-nav li:first-child,#secondary-nav li:first-child a{border:0}
dl dt,dfn,.marches .intitule a,.marches .intitule{font-weight:700}
em,dfn,tfoot{font-style:italic}
form input:focus,form textarea:focus,form fieldset p.precision input:focus{background:#fff;border-color:#CA0025}
form .tiny label,form#inscription-evenement label{width:22%}
form p.long,#sub-nav #newsletter-subscription p.text,#sitemap ul li .sub-level{height:auto}
form p .error,form .error_form label,form .error_form legend,form fieldset.error_form legend,form fieldset.error_form label{color:red}
.error ul,.inscription a.btn,#header p,#direct-access p,#sub-nav #newsletter-subscription p,.internal #entries li h3,.marches .intitule .descriptif p,#annuaire-actions li a,.surscribe-association a,#buildings-list li p,.downloads ul ul,#footer .quick-links ul{margin:0}
#direct-access ul,#breadcrumb ol{margin:0;padding:0}
#tools h3,#quick-search h3,#newsletter-subscription h3{position:absolute;top:-5000px;left:-5000px;text-indent:-5000px}
#sub-nav h2 span,#wrapper #main-nav ul li:hover .sub-level,#wrapper #main-nav ul li.sfHover .sub-level,#home #events ul li span{display:block}
#sub-nav .current-section a,#sub-nav .current-section li.current a{color:#396aa0}
#wrapper #sub-nav .current-section ul li li.current,#breadcrumb li:last-child span,#breadcrumb li.last-child span{background:0}
#main-nav h2,#main .vcard h2,#footer h2{position:absolute;top:-5000px;left:-5000px;height:1px;text-indent:-5000px}
#main .search-results li,ol#events li p{margin:3px 0}
#secondary-nav ul,#news h3,#news h4{margin-bottom:0}
.internal h4 strong,ol#events li dfn{color:#396AA0}
#sitemap ul li.cci-de-la-vienne,#sitemap ul li.s-implanter-en-vienne{border-left:3px solid #E50033;padding-left:5px}
#home .last-entries,form#simple-search-form fieldset{margin-top:0}
.last-entries ul,#main ul.faq p{margin-bottom:.5em}
.marches .intitule,#edit-entreprise table td,#edit-entreprise table th{text-align:left}
form.annuaire fieldset fieldset p.radio,.vcard .tel{float:left}
#designation,#activite{width:50%;display:block;float:left;clear:both}
#coordonnees ul dfn,#buildings-list .downloads{width:auto}
#bureau li a,#membres ul.members-list a{font-size:.8em}
#buildings .choice,#buildings-list{float:left;clear:both}