/* Caractristiques gnrales --------------------------------------------------------------- */
*{
margin: 0;
padding: 0;
border:0;
}
body{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:medium; /* medium => 16 px*/
color:#00044F;
text-align:center;
background-color:#048EE6;
}
#centrage {
width:770px;
margin:0 auto;
font-size:70%;
display:table;
text-align:left;
position:relative;
background-image:url(fond-page.gif);
padding-left:10px;
}
td{
vertical-align:top;}
.gras{
font-weight:bold;
}
.italique{
font-style:italic;
}
a:link, a:visited{
color:#A90052;
text-decoration:none;
}
a:hover, a:active{
color:#A90052;
text-decoration:underline;
}
/* En tte --------------------------------------------------------------- */

/* Navigation ----------------------------------------------------------------- */
#navigationhaute{
	list-style-type:none;
	margin:-43px 0 0 132px;
	margin-bottom:20px;
}
#navigationhaute li{
	display:inline;
	margin-right:-2px;
}
#navigationhaute #on{
	position:relative;
	top:15px;
	z-index:100;
}
#navigationgauche{
	list-style-type:none;
	margin:-37px 0 0 0;
	background-image:url(fond-navgauche.gif);
	background-repeat:no-repeat;
	background-position:left top;
	width:135px;
	float:left;
	position:relative;
}
#navigationgauche li{
	margin-bottom:-3px;
}
#intro{
background-color:#FDB927;
font-size:80%;
margin:-25px 5px 0 0px;
padding:0 0 10px 5px;
position:relative;
z-index:200;
border-right:0px solid #FFF;
}
#navigationgauche img.rubon{
border:none;
position:absolute;
left:-2px;
behavior: url(png.htc); 
width:19px; 
height:33px; 
display:block;
}
#navigationgauche img.rub8{
top:8px;
}
#navigationgauche img.rub9{
top:60px;
}
#navigationgauche img.rub11{
top:110px;
}
#navigationgauche img.rub10{
top:160px;
}
#navigationgauche img.rub12{
top:210px;
}
#navigationgauche img.rub13{
top:260px;
}
#navigationgauche img.rub14{
top:305px;
}
#navigationgauche img.rub15{
top:411px;
}
/* Contenu -------------------------------------------------------------------- */
#contenuaccueil{
width:460px;
position:relative;
margin:-18px 0;
}
html>body #contenuaccueil{
margin-bottom:0;
}
#contenu{
width:440px;
padding:0 10px;
position:relative;
}
html>body #contenu{
min-height:650px;
}
#actualites{
width:230px;
float:left;
background-image:url(fond-actus.gif);
}
#actualites #ombrehaut{
background-image:url(fond-actus-haut.gif);
height:24px;
}
#actualites #ombrebas{
background-image:url(fond-actus-bas.gif);
height:24px;
}
#conteneur{
margin:-18px 5px;
}
#breves{
background-image:url(fond-breves.gif);
background-repeat:no-repeat;
/*background-attachment:fixed;      */
padding:10px 0 10px 35px;
width:185px;
}
#breves #scroll{
overflow:auto;
height:257px;
}
html>body #breves{
background-attachment:inherit;
}
#visuelbreves{
background-image:url(fond-visuel-breves.gif);
background-repeat:no-repeat;
width:55px;
height:56px;
padding:2px 0 0 3px;
float:left;
margin-left:-1px;
}
#visuelbreves.droite{
float:right;
}
#breves p{
float:left;
width:102px;
margin-left:1px;
font-size:90%;
}
#breves a{
color:#00044F;
font-weight:bold;
text-transform:uppercase;
}
#separateurbreves{
clear:both;
background-image:url(separateur-horizontal.gif);
background-repeat:repeat-x;
width:160px;
margin:5px 0 5px 1px;
height:1px;
font-size:1px;
}
#evenement{
background-color:#ffffff;
display:table;
}
#evenement #scroll{
overflow:auto;
height:345px;
width:220px;
}
#visuelevenement{
background-image:url(fond-visuel-evenement.gif);
background-repeat:no-repeat;
padding:2px 0 0 2px;
float:left;
margin:2px 5px 4px 3px;
}
#evenement p{
margin:5px;
font-size:90%;
}
#evenement h2,#evenement h3{
margin:5px;
font-size:130%;
text-transform:uppercase;
font-family:Arial, Helvetica, sans-serif;
}
#direct{
/* background-color:#FDB927; */
background-repeat:no-repeat;
padding-bottom:10px;
display:table;
}

#direct a{
color:#00044F;
font-weight:bold;
}
#direct ul{
list-style-image:url(http://www.cg89.fr/pics/fleche-grise.gif);
list-style-position:outside;
padding:0 5px 5px 25px;
margin-top:10px;
}
#direct #scroll{
  background-color:#fff;
overflow:auto;
/* height:87px; quand il y a la banniere pour le foot*/
height:147px;
}
#direct li{
padding-bottom:10px;
font-size:90%;
}
#pratiqueactu{
background-image:url(fond-pratique.gif);
background-repeat:no-repeat;
padding:10px 0;
}
#pratiqueactu a{
color:#FFFFFF;
}
#pratiqueactu ul{
list-style-type:square;
list-style-position:outside;
padding:5px 0 0px 55px;
color:#B1B3B6;
}
#pratiqueactu #scroll{
overflow:auto;
height:100px;
}
#pratiqueactu li{
padding-bottom:2px;
font-size:90%;
}
#publications{
background-image:url(fond-publications.gif);
height:100px;
display:table;
}
#publications #scroll{
overflow:auto;
height:70px;
}
#publications ul{
list-style-type:square;
list-style-position:outside;
padding:5px 5px 5px 25px;
position:relative;
color:#B1B3B6;
width:80px;
float:left;
}
#publications li{
padding-bottom:2px;
font-size:90%;
}
#publications a{
color:#00044F;
font-size:90%;
font-weight:bold;
}
#breves, #direct, #evenement, #publications{
scrollbar-face-color: #B1B3B6;
scrollbar-highlight-color: #B1B3B6;
scrollbar-shadow-color: #fff;
scrollbar-arrow-color: #fff;
}
#pratiqueactu{
scrollbar-face-color: #B1B3B6;
scrollbar-highlight-color: #B1B3B6;
scrollbar-shadow-color: #fff;
scrollbar-arrow-color: #fff;
}
#agenda{
scrollbar-face-color: #B1B3B6;
scrollbar-highlight-color: #B1B3B6;
scrollbar-shadow-color: #fff;
scrollbar-arrow-color: #fff;
}
/* Page ------------------------------------------------------------ */

#legendephototheque{
font-size:80%;
}
#ariane{
font-size:90%;
}
#ariane a{
color:#00044F;
}
#separateursmenu{
clear:both;
background-image:url(separateur-horizontal.gif);
background-repeat:repeat-x;
background-position:bottom;
width:100%;
height:1px;
font-size:1px;
margin:3px 0;
}
#smenu a{
font-weight:bold;
}
#smenu a.on{
color:#00044F;
}
#smenu li{
display:inline;
}
#ssmenu{
background-image:url(fond-publications.gif);
background-color:#96CAFC;
background-position:100px 0;
margin:0 5px 5px 5px;
height:10px;
display:table;
}
html>body #ssmenu{
height:auto;
min-height:10px;
}
#ssmenu ul{
list-style-type:square;
list-style-position:outside;
padding:5px 5px 5px 25px;
position:relative;
color:#FD6E06;
width:185px;
float:left;
}
#ssmenu li{
padding-bottom:2px;
}
#ssmenu li.on{
color:#00044F;
font-weight:bold;
font-size:90%;
}
#ssmenu a{
color:#00044F;
font-weight:bold;
font-size:90%;
}
#contenu h1{
font-size:160%;
font-weight:100;
margin:10px 0;
}
#contenu h2{
font-size:100%;
clear:both;
}
#contenu p{
line-height:130%;
margin-bottom:20px;
text-align:justify;
}
#contenu #separateur{
clear:both;
}
#contenu ul{
list-style-position:outside;
list-style-type:square;
}
#contenu ul.pdf{
list-style-position:outside;
list-style-type:square;
margin-left:15px;
}
#visuel{
float:right;
margin-left:5px;
}
#visuel img{
border:1px solid #FD6E06;
}
#visuel img.zoom{
border:none;
position:relative;
top:-20px;
left:1px;
behavior: url(png.htc);
width:47px;
height:16px;
display:block;
}
#savoirplus{
clear:both;
float:right;
margin-top:5px;
}
/* Annexes ------------------------------------------------------------ */
#annexesaccueil{
width:160px;
padding-left:2px;
margin-top:-18px;
}
html>body #annexesaccueil{
padding-left:5px;
}
#annexes{
width:160px;
padding-left:2px;
position:relative;
margin-top:10px;
}
html>body #annexes{
padding-left:5px;
}
#recherche{
background-image:url(fond-recherche.gif);
margin:6px 0 10px 0;
height:40px;
position:relative;
}
#newsletter{
background-image:url(fond-newsletter.gif);
margin-bottom:10px;
height:40px;
}
#recherche input.saisie, #newsletter input.saisie{
border: 1px solid #000;
width:115px;
padding:0 2px;
margin:20px 0 0 5px;
font-size:80%;
float:left;
}
#recherche input.ok, #newsletter input.ok{
float:left;
margin-top:20px;
}
#visite{
margin-bottom:10px;
}
#agenda{
margin-bottom:10px;
background-image:url(fond-agenda.gif);
}
#agenda #scroll{
overflow:auto;
height:378px;
}
#agenda #evenements{
list-style-image:url(http://www.cg89.fr/pics/fleche-grise.gif);
list-style-position:outside;
margin:0 2px 0 30px;
}
#agenda #evenements li{
margin-bottom:10px;
}
#agenda #suite{
text-align:right;
margin-right:5px;
}
#agenda a{
color:#00044F;
}
#pratique{
margin-bottom:10px;
background-color:#68B7EA;
padding-bottom:10px;
font-weight:bold;
}
#pratique img{
float:left;
}
#pratique #titre{
background-color:#0185D0;
width:131px;
height:24px;
margin-bottom:10px;
padding-top:6px;
font-size:140%;
letter-spacing:1px;
color:#FFFFFF;
}
html>body #pratique #titre{
width:100%;
}
#pratique #liste{
list-style-image:url(http://www.cg89.fr/pics/fleche-grise.gif);
list-style-position:outside;
margin:0 5px 0 30px;
}
#pratique #liste li{
margin-bottom:10px;
}
#pratique a{
color:#00044F;
}
/* Pied de Page --------------------------------------------------------------- */
#pied{
clear:both;
width:780px;
margin:0 auto;
display:table;
position:relative;
background-image:url(fond-page-bas.gif);
background-repeat:no-repeat;
text-align:left;
background-position:bottom;
}
#logos{
height:70px;
padding-left:128px;
margin:0 0 20px 20px;
background-image:url(fond-logos.gif);
background-repeat:no-repeat;
}
#logos li{
display:inline;
background-image:url(fond-logo.gif);
background-repeat:no-repeat;
}
#logos img{
padding:5px 3px;
}
html>body #logos li{
padding-top:18px;
}

#voeux img
{
	margin:2px;
	display:block;
	float:left;
}