﻿body 
{
	background-image:url("http://www.nt1.fr/images/bgrd.png");
	background-position: CENTER top;
	background-color:#053261;
	background-repeat: repeat;
}

.cfooter a 
{
	color:#000000;
	background-repeat: repeat-x;
}
