/*** CLEAR FIX ***/
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/************** Hack pour cacher un block **********/
.skip {
	height: 0px;
	width: 0px;
	position:absolute;
	left:-19000px;
	overflow: hidden;
}

.skipCaption {
	display : none;
}

/*** HACK POUR LA HAUTEUR MINIMALE DU HEADER
     SUR IE ***/
* html #headerLength {
	height:26px;
}

html[xmlns*=""] #header input {padding:0px 1px 0px 1px;} /** Safari 3 **/

* html #header input {padding:1px 2px 1px 2px !important;} /** IE 6 **/
* html #header input.button {height:1.6em;}

*> #header input {!padding:1px 2px 1px 2px !important;} /* IE 7 **/
*> #header input.button {!padding:0px !important;!height:1.6em;} /* IE 7 **/


/*** HACK POUR LA HAUTEUR MINIMALE DE LA BARRE 
     DE NAVIGATION SUR IE ***/
* html #navigation ul li {
	height:31px;
}

/*** HACK POUR LA HAUTEUR MINIMALE DES LIENS
     DANS LA BARRE DE NAVIGATION SUR IE ***/
* html #navigation ul li div {     
	height:31px;
}

* html #navigation a {
	height:31px;
}

/*** HACK POUR LE CALCUL DES ELEMENTS DE NAV 
	 SOUS IE 5.5 (FR) ***/
* html .PageNavigationGroupfr {\width:60px;}
* html .PageNavigationSustainableDevelopmentfr {\width:105px;}
* html .PageNavigationResearchAndInnovationfr {\width:90px;}
* html .PageNavigationCustomersAndActivitiesfr {\width:90px;}
* html .PageNavigationShareholdersAndFinancefr {\width:100px;}
* html .PageNavigationJobCandidatesfr {\width:75px;}
* html .PageNavigationJournalistsfr {\width:80px;}

/*** HACK POUR LE CALCUL DES ELEMENTS DE NAV 
	 SOUS IE 5.5 (EN) ***/
* html .PageNavigationGroupen {\width:60px;}
* html .PageNavigationSustainableDevelopmenten {\width:105px;}
* html .PageNavigationResearchAndInnovationen {\width:90px;}
* html .PageNavigationCustomersAndActivitiesen {\width:90px;}
* html .PageNavigationShareholdersAndFinanceen {\width:100px;}
* html .PageNavigationJobCandidatesen {\width:75px;}
* html .PageNavigationJournalistsen {\width:80px;}

/*** HACK POUR LE CALCUL DES ELEMENTS DE NAV 
	 SOUS IE 7 (FR) ***/
*> .PageNavigationCustomersAndActivitiesfr {!min-width:4.5em;}
*> .PageNavigationShareholdersAndFinancefr {!min-width:5.5em;}
*> .PageNavigationJournalistsen a {width:96%;}

/*** HACK POUR LA LARGEUR DES LIENS DANS LA 
     BARRE DE NAVIGATION (IE & FR) ***/
* html .PageNavigationGroupfr a {width:95%;}
* html .PageNavigationSustainableDevelopmentfr a {width:97.5%;}
* html .PageNavigationResearchAndInnovationfr a {width:96.5%;}
* html .PageNavigationCustomersAndActivitiesfr a {width:96.5%;}
* html .PageNavigationShareholdersAndFinancefr a {width:97%;}
* html .PageNavigationJobCandidatesfr a {width:95.5%;}
* html .PageNavigationJournalistsfr a {width:96%;}

/*** HACK POUR LA LARGEUR DES LIENS DANS LA 
     BARRE DE NAVIGATION (IE & EN) ***/
* html .PageNavigationGroupen a {width:95%;}
* html .PageNavigationSustainableDevelopmenten a {width:97%;}
* html .PageNavigationResearchAndInnovationen a {width:97%;}
* html .PageNavigationCustomersAndActivitiesen a {width:97%;}
* html .PageNavigationShareholdersAndFinanceen a {width:97%;}
* html .PageNavigationJobCandidatesen a {width:96%;}
* html .PageNavigationJournalistsen a {width:96%;}

/*** HACK POUR LA HAUTEUR MINIMALE DES LIENS
     DANS LA BARRE DE NAVIGATION SUR IE ***/
* html #menurubrique {
	width:170px;
	\margin-top:57px;
}

/*** HACK POUR LA HAUTEUR MINIMALE DU CONTENT 
     SUR IE ***/
* html #content {
	height:400px;
}

/*** HACK POUR LA HAUTEUR MINIMALE DU FOOTER ADMIN 
     SUR IE ***/
* html #footer {
	height:30px;
}  
   
* html #footerAdmin {
	width:170px;
}

/*** HACK FOOTER ***/
html[xmlns*=""] #footer input.button {position:relative;top:-1px;left:3px;padding:0px 1px 0px 1px;} /** Safari 3 **/

* html .decaleFooter {margin-left:85px;}
* html #footer select {top:-2px;}
* html #footer .lafargeSitefr {min-width:18em;width:23.3em;w\idth:23.3em;} /* IE 5.5 & 6 */
* html #footer .lafargeSiteen {min-width:18em;width:23.3em;w\idth:23.3em;} /* IE 5.5 & 6 */
* html #footer .lafargeSitefr select {width:22.6em;}
* html #footer .lafargeSiteen select {width:22.6em;}
* html #footer input.button {position:relative;top:-3px;left:3px;height:1.6em;}
* html #footer .copyright {padding-left:12px;}
* html #footer .faqFooter {position:relative;top:1px;}

*> #footer select {!top:-1px;!height:2em;}
*> #footer .lafargeSitefr {!width:23.3em;!min-width:21.3em;} /* IE 7 */
*> #footer .lafargeSiteen {!width:23.3em;!min-width:21.5em;} /* IE 7 */
*> #footer .lafargeSitefr select {!width:22.6em;} /* IE 7 */
*> #footer .lafargeSiteen select {!width:22.6em;} /* IE 7 */
*> #footer input.button {!position:relative;!top:-7px;!left:3px;!height:1.65em;}
*> #footer .copyright {!padding-left:12px;}
*> #footer .faqFooter {!position:relative;!top:1px;}

/******* Hack sur la largeur des div WebSites *********/

* html .tousLesMetiers {
width: 100%;
}

* html .blockAffichagePays {
width: 43%;
}

/******** HACK sur les UL pour qu'ils flottent correctement ******/
* html .teaserContainerZoom ul {
	display : inline;
}

*> .teaserContainerZoom ul {
	!display : inline;
}

* html .edito ul {
	display : inline;
}

*> .edito ul {
	!display : inline;
}

/******** Hack sur les tailles des conteneurs globaux *********/

/******** IE 5.5 , IE 6 *********/
* html .contentLengthPartFull {width: 46.38em;}
* html .contentLengthPartHalf {width: 23.18em;}
* html .contentLengthPartThird {width: 15.45em;}
* html .contentLengthPartTwoThird {width: 30.95em;}

* html .teaserRightPartLength {width: 17.66em;}

/******** IE 7 *********/
*> .contentLengthPartFull {!width: 46.38em;}
*> .contentLengthPartHalf {!width: 23.18em;}
*> .contentLengthPartThird {!width: 15.45em;}
*> .contentLengthPartTwoThird {!width: 30.95em;}

*> .teaserRightPartLength {!width: 17.66em;}

/********** ZOOM ********/
* html .zoomContainerFull .teaserPictureLeft,
* html .zoomContainerTwoThirdLeft .teaserPictureLeft,
* html .zoomContainerTwoThirdRight .teaserPictureLeft {
	margin-left : 2px;
	padding-right : 2px;
}

* html .zoomContainerFull .teaserPictureRight,
* html .zoomContainerTwoThirdLeft .teaserPictureRight,
* html .zoomContainerTwoThirdRight .teaserPictureRight {
	margin-right : 2px;
	padding-left : 2px;
}


/********** FAQ *********/

* html .encartFAQ {
width: 97%;
}

/***** POUR LE HEADER ******/
* html .header table {width:46.40em;}
* html .header table.bandeau td.leftCell {width : 26.35em;}

*> .header table {!width:46.40em;}
*> .header table.bandeau td.leftCell {!width : 26.35em;}

/**** POUR LES ALERTES, FORWARD, OPINION ****/
* html .forwardForm .leBoutonAlert {
	width : 352px;
}

* html .alertTiers .leFormTiers .boutonCheck .letextduboutoncheck {
	padding-top : 4px;
}

* html .inputalerteCheckbox input{
	margin-left : 0px;
	margin-top : 0px;
	padding-left : 0px;
	padding-top : 0px;
	margin-bottom : 0px;
	padding-bottom : 0px;
	font-size:0%;
}

/******** POUR LES FORMULAIRES **************/
* html .forwardForm .espacement {
	padding-left : 280px;
}

/******** POUR LE MOTEUR DE RECHERCHE *******/
*> .backgroundForm input.btn {
	!padding-right : 0px;
	!padding-left : 0px;
}

/******** POUR LE TUBE *****************/
* html .tubeTitreOuvert {
	width: 40em;
}

* html .tubeTitreOuvertRss {
	width: 25em;
}

* html .tubeOuvert {
	height:0px!important;
}

* html .tubeFermeture {
	height: 0px!important;
	position: relative;
}

* html .uneQuestionReponse {
	height:0px!important;
	position: relative;
}

*> .tubeOngletImage {
	!position:relative;
}


/******* POUR LE TEASER ****************/
* html .teaserContainer .teaserPicture {
	padding-bottom : 0px;
}

/*** HACK POUR LE FORMULAIRE DE RECHERCHE ***/
* html .backgroundForm input.btn {
	padding-right : 2px;
	padding-left : 2px;
}

/*** Hack pour les alertes ***/
* html .alert .button {
	padding-top:0px;
}

*> .alert .item {
	!width:42.0em !important;
}

*> .alert .button {
	!padding-top:0px;
}

*> .alert .inputalerteCheckbox input{
	!position:relative;
	!top:-1px;
	!padding:0px 3px 2px 3px;
}

/** hack pour le site map **/
* html #sitemap h3.homepage {width:177px;}
* html #sitemap table td ul li {line-height:10px;}
* html #sitemap table td ul li div {background-position:0px 5px;}

*> #sitemap h3.homepage {width:177px;}
*> #sitemap table td ul li {!line-height:10px;}
*> #sitemap table td ul li div {!background-position:0px 5px;}

/******** IE 5.5 , IE 6 *********/
* html .yourOpinion .espacementfr {padding-left : 298px;}
* html .yourOpinion .espacementen {padding-left : 322px;}
* html .yourOpinion .crypto {top : 0px;}
* html .forward .espacementfr {padding-left : 258px;}
* html .forward .espacementen {padding-left : 320px;}

/******** IE 7 *********/
*> .yourOpinion .espacementfr {!padding-left : 302px;}
*> .yourOpinion .espacementen {!padding-left : 326px;}
*> .yourOpinion .crypto {!top : 0px;}
*> .forward .espacementfr {!padding-left : 264px;}
*> .forward .espacementen {!padding-left : 326px;}

/*** Aposition ***/
html[xmlns*=""] #apositionen {left:308px;top:22px;width:192px;} /** Safari 3 */
* html #apositionen {left:286px;top:25px;width:194px;} /** IE 6 */
*+html #apositionen {left:291px !important;top:25px !important;width:194px !important;} /** IE 7 */

html[xmlns*=""] #apositionfr {left:310px;top:22px;width:192px;} /** Safari 3 */
* html #apositionfr {left:288px;top:25px;width:194px;} /** IE 6 */
*+html #apositionfr {left:293px !important;top:25px !important;width:194px !important;} /** IE 7 */

/*** titlepage **/
html[xmlns*=""] .pictoSubtitle .divlisten {margin-top:5px;} /** Safari 3 **/
* html .pictoSubtitle .divlisten {margin-top:5px;margin-left:2px;} /** IE 6 */
*+html .pictoSubtitle .divlisten {margin-top:7px !important;} /** IE 7 */

/*** GSA **/
html[xmlns*=""] #gsa .error {font-weight:bold;position:relative;top:0px;}

