/* les fiches (=fiche) : =annuaireksup, =annuaireetudiants, =annuaireanciensetudiants, =defautstructureksup, =formation, =ueup, =cours, =associationetudiant, =offresstagesemplois */

/*** surcharge =Annuaireksup  ***/
body.annuaireksup h2{
border-bottom : 1px solid #cbadb5;
margin-bottom : 0;
padding-bottom : 8px;
}

/* *** Listes d'affichage *** */
ul.liste-offresstagesemplois li{
border-top : 1px solid #cbadb5;
clear : left;
list-style-type : none;
margin : 0;
padding : 10px 0;
}

ul.liste-offresstagesemplois li a{
padding-left : 0;
}

ul.liste-offresstagesemplois li span{
display : block;
}

ul.liste-offresstagesemplois em{
font-size : 1.1em;
font-style : normal;
font-weight : 700;
margin : 0;
padding : 0;
}

ul.liste-offresstagesemplois span.date-liste{
color : #222e44;
}

ul.liste-offresstagesemplois p{
font-size : 1em;
margin : 0;
padding : 0;
}

body.annuaireksup #type_personnel,
body.defaultstructureksup p#type_structure,
body.laboratoire p#type_laboratoire,
body.annuaireetudiants #date_naissance,
body.cours #disciplines,
body.ueup #disciplines{
color: #fff;
font-size : 0.9em;
padding: 0 0 0 12px;
margin: 0;
}

/**********************
	=Fiche =Annuaireksup =Annuaire
***********************/
body.annuaireksup #fonction{
font: normal 1.6em "Trebuchet MS", sans-serif;
}

body.annuaireksup .photo{
float : right;
text-align:center;
margin-left : 10px;
}

body.annuaireksup .photo img{
border:1px solid #323339;
width:100px;
}


#fond-photo{
background: #fff;
overflow:hidden;
}

#fond-photo{
padding: 1.2em 12px 6px 12px;
}

#reste dl{
padding:6px 0 2em 0;
}

#reste {
padding:0 12px 1em 12px;
}


body.defaultstructureksup div#reste a{
padding-left: 18px;
}

.para-an{ 
margin:1.2em 0 1em;
padding:0 10px;
line-height:1.6;
}

body.annuaireksup #type_personnel{
display:none;
}

/**********************
	=Fiche =Annuaireetudiants =Annuaire
***********************/

body.annuaireetudiants .photo{
background : #fff;
float : right;
margin-left : 10px;
position : relative;
text-align : right;
z-index : 5;
}

body.annuaireetudiants dl.type_2{
background-color : transparent;
}

/**********************
	=Fiche =Annuaireanciensetudiants =Annuaire
***********************/

body.annuaireanciensetudiants #date_naissance{
border-bottom : 1px solid #cbadb5;
border-top : 1px solid #cbadb5;
color : #778aaa;
font-size : xx-small;
margin : 8px 0;
}

body.annuaireanciensetudiants ul#diplomes_obtenus li,
body.annuaireetudiants ul#diplomes_obtenus li{
list-style: none;	
}

body.annuaireanciensetudiants dl.type_2 dd,
body.annuaireetudiants dl.type_2 dd,
body.lien dl.type_2 dd,
body.offresstagesemplois dl.type_2 dd{
font-weight: 500;	
}

body.annuaireanciensetudiants .photo{
background : #fff;
float : right;
margin-left : 10px;
text-align : right;
}

body.annuaireanciensetudiants dl.type_2{
background-color : transparent;
}


/******************************************
	=Fiche =DefautStructureksup =Structure
******************************************/

body.defaultstructureksup .para-an li{
list-style-type: none;	
}

body.defaultstructureksup div#reste dl.type_2 dt, 
body.laboratoire div#reste dl.type_2 dt{
width: 135px;	
}

body.defaultstructureksup p#domaines_formation{
padding: 0 12px 0;	
}

body.defaultstructureksup div#reste dl.type_2 dd,
body.laboratoire div#reste dl.type_2 dd{
margin: -17px 0 0 135px;
font-weight: normal;
}


/******************************************
	=Fiche =Laboratoire =Structure
******************************************/
body.laboratoire .photo{
float : right;
margin : 1em 0 10px;
}

/******************************************
	=Fiche =Formation
******************************************/
body.formation .stage_important{
color : #ff6120;
}

/*
body.formation h2{
margin-bottom:3px;
}
*/

body.formation .contenu ul{
margin:0;
padding:0;
}


body.formation .contenu li{
list-style-type:none; 
background:transparent url(puce_formation.gif) no-repeat 0 5px;
padding: 0 0 0 10px;
}

/* Classes pour les onglets */
body.formation #onglets{
margin : 3px 0 1.3em;
padding : 0 0 0 12px;
overflow:hidden;
}

body.formation #onglets li{
/*background : #eceaea url(img/formation/onglet.png) no-repeat 100% 0;*/
float: left;
font-size: 1em;
list-style: none;
height: 30px;
width: 94px;
border-top: 1px solid #e6e6e6;
border-bottom: 1px solid #323339;
background-image: none;
padding: 0;
}

body.formation #onglets a{
/*background : transparent url(img/fleche_onglet_formation_off.gif) no-repeat 98px 6px;*/
color : #323339;
display : block;
font-weight : 700;
margin : 2px 2px 0 3px;
padding : 4px 0 5px 0;
text-decoration : none;
border-top:5px solid #fbcf00;
text-align: center;
background: transparent;
}

body.formation #onglets li#actif{
border:1px solid #323339;
border-bottom : 1px solid #fbcf00;
background:#fbcf00;
}

body.formation .contenu_onglet1,
body.formation .contenu_onglet2,
body.formation .contenu_onglet3,
body.formation .contenu_onglet4,
body.formation .contenu_onglet5{
display: none;
padding : 0 12px;
}

body.formation #onglet_actif{
display: block;
}

body.formation .para-an{
margin:1.2em 0 1em;
padding:0 10px;
line-height:1.6;
}

body.formation .para-an h3,
body.ueup .para-an h3,
body.formation h3.et_apres{ 
width:300px;
background:#fff;
color:#644700;
font-weight:700;
font-size:1em;
padding:10px 10px 0 10px;
text-transform:uppercase;
margin:0 0 1em -10px;
}

body.formation h3.domaine {
text-transform:none;
}

body.formation h3.et_apres{  
margin:0 0 1em 0;
}

body.formation h3.presentation{
color : #2d2e33;
display : inline;
font-size : 1em;
margin : 0 0 0 0.5em;
padding-left : 0.5em;
}

body.formation dl.presentation{
background: transparent url(tile_1x4_v.gif) repeat-y;
float : left;
margin-top : 0;
font-size:1.1em;
}


body.formation h3.premier_bloc{
background-image:none;
margin : 0;
padding-left : 0;
}

body.formation dl.premier_bloc{
background-image:none;
}


body.formation dl.presentation dt{
color : #2d2e33;
font-weight : 700;
margin : 0 0.5em 2px 1em;
}

body.formation dl.presentation dd{
color : #644700;
margin : 0 0.5em 6px 1em;
}

body.formation dl.premier_bloc dt{
margin-left: 0;
}

body.formation dl.premier_bloc dd{
margin-left: 0;
}

body.formation dl.type_1 dd{
min-height : 2.5em;
}

/* hack CSS pour IE */
* html body.formation dl.type_1 dd{
height : 2.5em;
}

#formation_lmd{ margin: .5em 8px; }


/* specifique a l'onglet admission */
body.formation .contenu_onglet2 dl.presentation {  
background-image:none;
float : none;
font-size:1em;
line-height:1.6;
margin:0;
padding:0 8px;
}

body.formation .contenu_onglet2 dl.presentation dt{  
width:300px;
background:#fff;
color:#644700;
font-weight:700;
font-size:1em;
padding:10px 10px 0 10px;
text-transform:uppercase;
margin:1.2em 0 1em -8px;
}

body.formation .contenu_onglet2 dl.presentation dd{  
color : #353535;
background:transparent url(puce_formation.gif) no-repeat 0 5px;
padding: 0 0 0 10px;
margin-left:0.2em;
}

/**********************
	=Fiche =Ueup
***********************/
body.ueup table#details,
body.ueup table#volumes_horaires{
float : left;
padding-top : 7px;
}

body.ueup table#details{
width : 55%;
}

body.ueup table#volumes_horaires{
width : 45%;
}

body.ueup table#details th,
body.ueup table#volumes_horaires th{
color: #644700;
text-align : right;
vertical-align: top;
width : 55%;
}

body.ueup table#details td,
body.ueup table#volumes_horaires td{
color : #b41e1e;
padding-left : 0.7em;
text-align : left;
}

/**********************
	=Fiche =Cours
***********************/

body.cours table#volumes_horaires,
body.cours table#coefs{
float : left;
padding-top : 7px;
}
body.cours table#volumes_horaires{
width : 60%;
}

body.cours table#coefs{
width : 40%;
}

body.cours table#volumes_horaires th,
body.cours table#coefs th{
text-align : right;
width : 50%;
}

body.cours table#volumes_horaires td,
body.cours table#coefs td{
color : #b41e1e;
padding-left : 0.7em;
text-align : left;
}

/**********************
	=Fiche =Associationetudiant
***********************/

body.associationetudiant ul.type1{
margin: 0;
}

body.associationetudiant #type_asso{
margin: 10px 0;
font-weight: 700;
}

body.associationetudiant #thematiques{
margin: 0;
font-weight: 700;
}

body.associationetudiant #objet{
margin-bottom : 1.5em;
text-align : left;
}

body.associationetudiant .photo,
body.petiteannonce .photo{
background : #fff;
float : left;
margin-right : 10px;
text-align: left;
}

body.lien div#resume,
body.petiteannonce div#description{
	margin-bottom: 1.5em;
	padding: 10px 10px 20px 10px;
	margin: 0 -10px 20px -10px;
}

/******************************************
	=Fiche =Offresstagesemplois
******************************************/

body.cours h2,
body.annuaireetudiants h2,
body.annuaireanciensetudiants h2,
body.associationetudiant h2,
body.offresstagesemplois h2{
margin-bottom: 0;
}

body.offresstagesemplois #descriptif{
margin-bottom : 1.5em;
}

body.petiteannonce p#envoi_ami{
margin: 10px 0;
}

body.petiteannonce p#envoi_ami a{
padding-left: 18px;
}