html{color:#000;padding:0;}
body{color:#000;font-size:80%;}
a{text-decoration:none;padding-bottom:1px;color:black;}
a:link,a:visited{color:black;}
a:hover,a:active{color:green;}
code{font-size:110%;}
#page{min-width:800px;}
#tete{background:#000 url(bg-navy-black-120x.png) repeat-x top left;margin:0 0 1em;padding:15px 40px 0;width:auto;}
#en-tete{font-size:100%;line-height:1em;background:url(co-cecite-braille-1-206x22.gif) no-repeat right top;width:auto;min-width:760px;}
#en-tete .logotype{display:block;position:relative;width:288px;height:64px;;text-decoration:none;background:url(co-cecite-navy-288x64.gif) no-repeat left top;}
#en-tete #logotype span img,#en-tete #logotype a img{display:none;}
#en-tete #baseline{font-size:90%;line-height:1.5em;height:1.5em;margin-top:-1.5em;width:auto;min-width:800px;color:#fff;overflow:hidden;}
#en-tete #baseline .descriptif{display:block;background-color:navy;width:276px;float:left;margin:0 1em 0 0;padding:0 0.5em;overflow:hidden;}
#en-tete #baseline .connect,#en-tete #baseline .date-publication{margin:0 0.5em;}
#en-tete #baseline a{color:yellow}
#corps{background:#0069ff url(bg-corps-120x.png) repeat-x top left;padding-top:20px;height:100%;border:0;border-top:1px solid navy;border-bottom:1px solid navy;}
*.article,*.articles,#sommaire .texte{background:#0cf url(bg-article-120x.png) repeat-x left top;margin-bottom:1em;padding:0 10px;}
#menu{font-size:100%;font-weight:700;width:6em;color:#fff;position:absolute;top:11.75em;left:40px;}
#menu ul{list-style:none;}
#menu a{display:block;width:6em;overflow:hidden;border-bottom:1px solid yellow;}
#menu a,#menu p{margin-bottom:1em;}
#menu a:hover{display:block;color:black;}
#menu #fg-styles a{border:0;}
#sommaire{width:18em;padding-right:40px;float:right;height:auto;}
#sommaire h1{font-size:140%;text-align:center;line-height:1.8em;padding:0.5em 0;color:navy;font-style:normal;font-weight:normal;font-variant:small-caps;text-transform:capitalize;}
#sommaire .article{min-width:200px;}
#page>#corps #sommaire .article .lettrine{display:block;float:left;margin-right:0.5em;padding-top:0.5em;}
#sommaire h2,#sommaire h3{font-size:150%;text-align:center;line-height:normal;color:navy;padding:0;margin-top:0;}
#sommaire .article .titre,#sommaire .titre a,#sommaire h3 a{color:navy;}
#sommaire .article .illustration{min-width:8em;max-width:8em;min-height:8em;max-height:8em;float:right;display:block;margin-right:-10%;position:relative;}
#sommaire .texte{margin:0 0 0.3em 0;border-top:1px solid #006;}
#sommaire ul.archives{padding:0 10px;}
#sommaire ul.archives ul{padding-left:10px;}
#sommaire ul.archives a{border-bottom:1px solid green;}
#sommaire .sur-titre{color:#000;text-align:center;line-height:1.6em;margin:0 0 0.25em 0;}
#sommaire .archive .sur-titre{color:#fff;}
#sommaire .sur-titre a{color:#fff;border:none;}
#sommaire .archive{color:#fff;background-color:transparent;background-image:none;border:0;}
#sommaire .archive li{font-size:100%;margin-left:1.5em;list-style:none;}
#sommaire .archive li a{color:yellow;letter-spacing:0.1em;}
#ventre{padding:0 19em 0 7em;margin:0 40px 0;height:auto;}
#ventre p{color:#fff;padding:0.25em 10px;}
#page #corps .article{width:auto;min-width:35ex !important;}
#page>#corps .article{border-right:0;border-bottom:0;}
#ventre .article .news-2cols{vertical-align:top;margin:0;height:auto;display:table-row;}
#ventre>.article .news-2cols{height:auto;}
#ventre .article .news-2cols .sur-titre{margin:0;}
#ventre .article .news-2cols .col-left,#ventre .article .news-2cols .col-right{width:49%;vertical-align:top;height:auto;display:table-cell;}
#ventre .article .news-2cols .col-right{padding-left:1%;}
#ventre .article .news-2cols .col-box{padding:0 1ex 0 1ex;height:auto;}
#ventre .article .news-2cols li{list-style:none;}
#ventre h2.forum-decompte,#ventre h3.forum-titre a,#ventre ul.forum,#ventre p.forum-repondre-message,#ventre .forum-texte p{color:#000 !important;}
#ventre h2.forum-decompte{padding:0.5em 1em;}
#ventre h3.forum-titre,#ventre h3.forum-titre a{color:#fff;}
#ventre .forum li{list-style:none;padding:0.75em 0 0 1em;} 
#ventre .forum .forum-repondre-message{text-align:right;}
#ventre ul.forum .forum-repondre-message a{color:#fff !important;}
#ventre .forum ul li{margin-right:0;margin-left:0;}
#ventre .forum-texte{color:#fff;}
#ventre .forum-texte .spip_out{color:yellow;}
#ventre .forum-texte .spip_out,#ventre .forum-texte .spip_out:link{color:yellow !important;}
#ventre .forum-texte .spip_out:hover,#ventre .forum-texte .spip_out:focus{color:#fff !important;}
#ventre .forums{margin-bottom:0.5em;}
#ventre .forums li{margin-left:1.5em;}
#ventre .forums .strong{font-weight:900;}
div.carte-auteur,h3.forum-repondre{padding:0 10px;}
#pied{background:navy url(bg-pied-24x.png) repeat-x left top;padding:0 40px;}
#pied .minilogo{background:url(co-cecite-white-150x34.gif) no-repeat left 4px;}
#pied a{color:yellow;}
.article{padding:0;}
#page-sommaire .article .sur-titre{display:block;padding:0 1ex;line-height:1.6em;height:1.6em;overflow:hidden;}
#page-sommaire .article ul{list-style:none;padding:0 10px;}
#page-sommaire .article li{margin:0}
#page-sommaire .article a{text-decoration:none}
#ventre h1,#sommaire h2{background:#000 url(bg-navy-black-64x.png) repeat-x top left;color:#fff;margin:0;}
.article h2{padding:0 10px}
#page-sommaire h1 small{color:#fff}
#page-sommaire .article h2{margin:0;padding:0;}
#page-sommaire .article span.texte{padding:0 10px;}
#page-sommaire .article h2 *.texte{padding:0;margin:0}
#page-sommaire .article h2 *.texte,p.options a{border-bottom:1px solid green;line-height:1.8em;}
p.options{text-align:right;padding:0.5em 10px !important;}
#sommaire #bloc-participer .titre,#sommaire #bloc-participer .titre a{background:none;color:navy;}
#ventre .article h3{padding:0 10px;}
.formulaire_spip a{color:yellow;}
.noscreen{display:none;}