*{margin:0;padding:0;border:0;}
a{text-decoration:none !important;padding-bottom:0;background:white;color:black;}
a:link,a:hover,a:focus,a:hover,a:active,a:visited{background:white;color:black;}
acronym{border:none;}
body{color:black;margin:0;padding:0;height:100%;width:auto;}
code{font-family:"Courier New",Courier,mono;}
h1,h2{color:black;}
html{background:none;background-color:white;}
input,table{border:0;vertical-align:top;}
#page{height:100%;height:auto;min-width:100ex;width:auto;}
#menu{display:none;}
#page #header{margin:0;padding:0;background-image:none;}
#page #header #h-logotype a{text-decoration:none;background-image:url(_global-print-compacte-d8d3.css);}
#page #header #h-logotype a img{display:block;}
#header #baseline{font-size:90%;line-height:1.8em;height:1.8em;margin-top:-1.5em;margin-bottom:2em;width:auto;min-width:800px;color:white;}
#header #baseline .descriptif{display:block;background-color:navy;width:58ex;float:left;margin:0 1em 0 0.75em;padding-left:1ex;line-height:1.6em;height:1.8em;}
#header #baseline .connect{display:none;}
#header #baseline .date-publication{margin:0 0.5em;line-height:1.8em;height:1.6em;}
#header #baseline .url-site{display:block;color:#000;}
#page #corps{width:auto;margin:0;padding:0;}
#page #corps #sommaire{display:none;}
#page #corps #ventre{padding:0;}
#page #corps .article{padding:0;border:0;border-top:1pt solid black;background:none;width:auto;}
#page #corps #ventre .article p,#page #corps #ventre .article a,#page #corps #ventre .article .ps{color:black;background:white;}
#page #corps #ventre .article .sur-titre{border-top:1pt solid black;margin:0;}
#page #corps #ventre .article .sur-titre,#page #corps #ventre .article .sur-titre strong{color:black;background:white;padding:0 1ex 0 1ex;margin:1.5em 0 0 0;font-weight:normal;}
#page #corps #ventre div.article h1,#page #corps #ventre div.article h1 small{padding:0;color:black;background:white;font-weight:normal;font-style:normal;}
#page #corps #ventre div.article h2,#page #corps #ventre div.article h2 small{color:black;background:white;}
#corps #ventre .article .popularite{clear:left;}
#page #corps #ventre .article .popularite li{font-family:Georgia,"Times New Roman",Times,serif;font-size:100%;line-height:1.7em;list-style:none;clear:left;margin:1em 0 0 1ex;padding:0;height:auto;}
#page #corps #ventre .article .popularite li .indice{display:none;}
#page #corps>#ventre .article .popularite li .indice{margin:-0.5ex 0.3ex 0 0;padding-right:0.3ex;}
#page #corps #ventre .article .popularite p{width:auto;}
#page #corps #ventre .article .news-2cols .col-left{float:none;width:auto;}
#page #corps #ventre .article .news-2cols .col-right{margin:0;padding:0;width:auto;}
#page #corps #ventre>.article .news-2cols .col-right{margin:0;padding:0;}
#page #corps#ventre .article .news-2cols .col-box{margin:0;padding:0;}
#page #corps #ventre .article .news-2cols li{font-family:Georgia,"Times New Roman",Times,serif;list-style:none;margin:0.5ex 0 0 1ex;}
#login-panel,#page #corps #ventre #co-form-article{display:none;}
#page #pied p,#page #pied p small,#page #pied p small strong{color:black;width:auto;font-weight:normal;}
#page #pied #f-logotype{display:none;}
.noprint,#ventre .formulaire_spip{display:none;}