/**
 * 
 * @version $Revision $
 * @cvs $id $
 */
body {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	margin-top: 2px;
	margin-bottom:2px;
	color: #474848;	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align: center;
}
/*------------------------------------------------------------------------------------*/
h1{
	color: #09539A;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: 0px;
	margin-left: 10px;
	padding: 0px;
  padding-top: 3px;
  background-image: url(titre1-fond.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  text-indent: 50px;
}
h2{
color: #09539A;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: underline;
	font-style: italic;
	margin: 1px;
	padding: 0px;
}
h3{
	color: #09539A;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	margin: 0px;
  margin-left: 35px;
	padding: 0px;
  background-image: url(titre2-fond.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  text-indent: 15px;
}
h4{
color: #09539A;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: underline;
	font-style: normal;
	margin: 0px;
	padding: 0px;
}

/*------------------------------------------------------------------------------------*/
p {
	font-family: verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-style: normal;
	margin: 0px;
	padding: 0px;

}


a:link {color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;text-decoration: none; }
a:visited {color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;text-decoration: none; }
a:hover {color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;text-decoration: none;}
a:active {color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;text-decoration: none;}

a.gb:link {color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;text-decoration: none; }
a.gb:visited {color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;text-decoration: none; }
a.gb:hover {color: #f18a00;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;text-decoration: none;}
a.gb:active {color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;text-decoration: none;}

a.pub:link {color: #7a92de;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;text-decoration: none; }
a.pub:visited {color: #7a92de;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;text-decoration: none; }
a.pub:hover {color: #f18a00;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;text-decoration: none;}
a.pub:active {color: #7a92de;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;text-decoration: none;}

a.titreLieu:link {color: #f3d404;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;text-decoration: none; }
a.titreLieu:visited {color: #f3d404;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;text-decoration: none; }
a.titreLieu:hover {color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;text-decoration: none;}
a.titreLieu:active {color: #f3d404;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;text-decoration: none;}

a.rubBas:link {color: #7e7f81;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;text-decoration: none;}
a.rubBas:visited {color: #7e7f81;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;text-decoration: none;}
a.rubBas:hover {color: #f18a00;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;font-weight: normal;text-decoration: none;}
a.rubBas:active {color: #7e7f81;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;text-decoration: none;}

a.altair:link {color: #bdcfeb;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;text-decoration: none; }
a.altair:visited {color: #bdcfeb;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;text-decoration: none; }
a.altair:hover {color: #ffffff;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;text-decoration: none;font-weight: normal}
a.altair:active {color: #bdcfeb;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;text-decoration: none;}

div#workspace a:link {color: #5485CF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 13px;font-weight: normal;text-decoration: none; border-bottom: 1px dashed #5485CF}
div#workspace a:visited {color: #5485CF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 13px;font-weight: normal;text-decoration: none;  border-bottom: 1px dashed #5485CF}
div#workspace a:hover {color: #5485CF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 13px;font-weight: normal;text-decoration: none; border-bottom: 1px solid #5485CF}
div#workspace a:active {color: #5485CF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 13px;font-weight: normal;text-decoration: none; border-bottom: 1px dashed #5485CF}
/*------------------------------------------------------------------------------------*/
img {
	border: 0px;
}
img.logo {
	border-color: #8277B1;
	border-top-width: 8px;
}


table {
	border-collapse: collapse;
}
/*------------------------------------------------------------------------------------*/
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: ##242424;
}

input.text {font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #242424;
}

input.button {
}

input.radio{
}

select {
}

label {
}

textarea {
}

ul{
}

li{
}

/*------------------------------------------------------------------------------------*/
.trigger{
    cursor: pointer;
}

/*------------------------------------------------------------------------------------*/
span.gras{
	font-family: verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
}
span.info{
	font-family: verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
}
span.titreDest{
	font-family: verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #f3d404;
	font-weight: bold;
}
span.textPub{
	font-family: verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #f3d404;
	font-weight: bold;
	
}
/*------------------------------------------------------------------------------------*/

div#main{
	width: 990px;
	position: relative;
	padding: 0px;
	margin: auto;
	margin-left: auto;
	overflow: visible;
}
div#meteo{
	width: 188px;
	position: absolute;
	top:46px;
	left:645px;
	width:188px;
	height:17px;
	z-index: 3;
}

div#mainDiv {
	display: block;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: left;
}

/*------------------------------------------------------------------------------------*/
span.titreLieu {
	font-weight: bold;
	color: #F3D404;
	position: relative;
	top: 2px;
}

/*------------------------------------------------------------------------------------*/
div.pub {
  border: 1px solid #777373;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 4px;
  margin-right: 4px;
}

div.pub h3.pubTitre {
  background-image: url(pub-entete.jpg);
  background-position: left center;
  background-repeat: no-repeat;
  background-color: #7B85DC;
  color: #F6C7C2;
  margin: 0px;
  font-size: 11px;
  height: 18px;
  text-indent: 25px;
}

div.pub div.pubContenu {
  padding: 5px;
  text-align: center;
}

.pub1 {
  background-color: #8277B1;
}

.pub2 {
  background-color: #7397FE;
}

.pub3 {
  background-color: #90B1D1;
}

