/*-------------------------------- Change Color ------------------------*/
/*--- Default Color ---*/
#navigation.color .mainnavi ul li a.active {
background-position:right -0px;
border-left:solid 1px #333333;
}

#navigation.color .subnavi{
background-position:-0px -0px;
}

/*--- Color 1 ---*/
#navigation.color1 .mainnavi ul li a.active {
background-position:right -0px;
border-left:solid 1px #333333;;
}

#navigation.color1 .subnavi{
background-position:-0px -0px;
}

/*--- Color 2 ---*/
#navigation.color2 .mainnavi ul li a.active {
background-position:right -45px;
border-left:solid 1px #555555;
}

#navigation.color2 .subnavi{
background-position:-0px -36px;
}

/*--- Color 3 ---*/
#navigation.color3 .mainnavi ul li a.active {
background-position:right -90px;
border-left:solid 1px #C2C2C2;
}

#navigation.color3 .subnavi{
background-position:-0px -71px;
}

/*--- Color 4 ---*/
#navigation.color4 .mainnavi ul li a.active {
background-position:right -135px;
border-left:solid 1px #9B470F;
}

#navigation.color4 .subnavi{
background-position:-0px -106px;
}

/*--- Color 5 ---*/
#navigation.color5 .mainnavi ul li a.active {
background-position:right -180px;
border-left:solid 1px #E6B800;
}

#navigation.color5 .subnavi{
background-position:-0px -141px;
}

/*--- Color 6 ---*/
#navigation.color6 .mainnavi ul li a.active {
background-position:right -225px;
border-left:solid 1px #3E6806;
}

#navigation.color6 .subnavi{
background-position:-0px -176px;
}

/*--- Color 7 ---*/
#navigation.color7 .mainnavi ul li a.active {
background-position:right -270px;
border-left:solid 1px #CF7DA3;
}

#navigation.color7 .subnavi{
background-position:-0px -211px;
}

/*--- Color 8 ---*/
#navigation.color8 .mainnavi ul li a.active {
background-position:right -315px;
border-left:solid 1px #9E680B;
}

#navigation.color8 .subnavi{
background-position:-0px -246px;
}

/*--- Color 9 ---*/
#navigation.color9 .mainnavi ul li a.active {
background-position:right -360px;
border-left:solid 1px #793051;
}

#navigation.color9 .subnavi{
background-position:-0px -281px;
}

/*--- Color 10 ---*/
#navigation.color10 .mainnavi ul li a.active {
background-position:right -405px;
border-left:solid 1px #793038;
}

#navigation.color10 .subnavi{
background-position:-0px -316px;
}

/*--- Color 11 ---*/
#navigation.color11 .mainnavi ul li a.active {
background-position:right -450px;
border-left:solid 1px #307975;
}

#navigation.color11 .subnavi{
background-position:-0px -351px;
}

/*--- Color 12 ---*/
#navigation.color12 .mainnavi ul li a.active {
background-position:right -495px;
border-left:solid 1px #306579;
}

#navigation.color12 .subnavi{
background-position:-0px -386px;
}

/*--- Color 13 ---*/
#navigation.color13 .mainnavi ul li a.active {
background-position:right -540px;
border-left:solid 1px #304179;
}

#navigation.color13 .subnavi{
background-position:-0px -421px;
}

/*--- Color 14 ---*/
#navigation.color14 .mainnavi ul li a.active {
background-position:right -585px;
border-left:solid 1px #793069;
}

#navigation.color14 .subnavi{
background-position:-0px -456px;
}

/*--- Color 15 ---*/
#navigation.color15 .mainnavi ul li a.active {
background-position:right -630px;
border-left:solid 1px #3D3079;
}

#navigation.color15 .subnavi{
background-position:-0px -491px;
}

/*--- Color 16 ---*/
#navigation.color16 .mainnavi ul li a.active {
background-position:right -675px;
border-left:solid 1px #796230;
}

#navigation.color16 .subnavi{
background-position:-0px -526px;
}

/*--- Color 17 ---*/
#navigation.color17 .mainnavi ul li a.active {
background-position:right -720px;
border-left:solid 1px #607930;
}

#navigation.color17 .subnavi{
background-position:-0px -561px;
}

/*--- Color 18 ---*/
#navigation.color18 .mainnavi ul li a.active {
background-position:right -765px;
border-left:solid 1px #BF569E;
}

#navigation.color18 .subnavi{
background-position:-0px -596px;
}

/*--- Color 19 ---*/
#navigation.color19 .mainnavi ul li a.active {
background-position:right -810px;
border-left:solid 1px #304D79;
}

#navigation.color19 .subnavi{
background-position:-0px -631px;
}

/*--- Color 20 ---*/
#navigation.color20 .mainnavi ul li a.active {
background-position:right -855px;
border-left:solid 1px #4A3079;
}

#navigation.color20 .subnavi{
background-position:-0px -666px;
}

/*--- Color 21 ---*/
#navigation.color21 .mainnavi ul li a.active {
background-position:right -900px;
border-left:solid 1px #2F7946;
}

#navigation.color21 .subnavi{
background-position:-0px -701px;
}

/*--- Color 22 ---*/
#navigation.color22 .mainnavi ul li a.active {
background-position:right -945px;
border-left:solid 1px #922318;
}

#navigation.color22 .subnavi{
background-position:-0px -736px;
}

/*--- Color 23 ---*/
#navigation.color23 .mainnavi ul li a.active {
background-position:right -990px;
border-left:solid 1px #9B820E;
}

#navigation.color23 .subnavi{
background-position:-0px -771px;
}

/*--- Color 24 ---*/
#navigation.color24 .mainnavi ul li a.active {
background-position:right -1035px;
border-left:solid 1px #797930;
}

#navigation.color24 .subnavi{
background-position:-0px -806px;
}

/*--- Color 25 ---*/
#navigation.color25 .mainnavi ul li a.active {
background-position:right -1080px;
border-left:solid 1px #795630;
}

#navigation.color25 .subnavi{
background-position:-0px -841px;
}

/*--- Color 26 ---*/
#navigation.color26 .mainnavi ul li a.active {
background-position:right -1125px;
border-left:solid 1px #794830;
}

#navigation.color26 .subnavi{
background-position:-0px -876px;
}