.scrollgeneric {
line-height: 1px;
font-size: 1px;
position: absolute;
top: 0; left: 0;
}

.vscrollerbar {
width: 4px;
background-color: #ffffff;
margin:1px;
}
.vscrollerbarbeg {
height: 24px !important;
width: 10px;
}
.vscrollerbarend {
height: 24px;
width: 10px;
border-bottom:2px solid #d3d3d3;
}

.vscrollerbase { 
background-color: #d3d3d3;
width: 6px;
}
.vscrollerbasebeg {
width: 10px;
height: 15px !important;
}
.vscrollerbaseend {
height: 15px;
width: 10px;
}

.hscrollerbase {
height: 16px;
}
.hscrollerbar {
height: 16px;
}

.vscrollerbar, .hscrollerbar {
padding: 0px;
z-index: 2;
}

.scrollerjogbox {
width: 10px;
height: 16px;
top: auto; left: auto;
bottom: 0px; right: 0px;
}