
/* ################################################################################################################## */
/* Définit les styles généraux des TAGS HTML du site */
/* ################################################################################################################## */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de la police (fonte et taille) générale */
/* ------------------------------------------------------------------------------------------------------------------ */
/* On spécifie la taille du texte de la page par rapport à la taille spécifier dans le navigateur */
html {
	font-size : 100%;
}
/* On spécifie ensuite la taille de référence de tous les textes (em de la taille du navigateur) */
/* On peut ainsi conserver la fonction d'agrandissement des tailles du navigateur */
body {
	font-family: Arial, Verdana, sans-serif;
	color:#393340;
	font-size: 12px;
}
/* On applique à tous les "sous-éléments" la taille de référence */
body * {
	font-family: Verdana, Arial, Helvetica, sans-serif;
  color:#393340;
	font-size: 100%;
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* Style des éléments englobants */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Style du corps */
body {
	margin: 0px;
	padding: 0px 0px 5px 0px;
	text-align: center;
	background-color: #CAC9CB;
}

/* Style des formulaires */
form {
  margin:0px;
  padding:0px;
}

/* Style des paragraphes */
p {
  margin:0px;
  padding:0px;
}

/* Style des listes */
ul {
  margin: 5px 0px 10px 30px;
	padding: 0px;
}

li {
  margin: 5px 0px 0px 5px;
	padding: 0px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style des éléments d'affichage */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Style des images */
img {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}

/* Style des liens */
a {
  margin:0px;
  padding:0px;
  color: #393340;
  text-decoration: underline;
}
a:visited {
  color: #968c78;
}
a:hover {
  color: #968c78;
  text-decoration: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles des niveaux d'affichage */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Style du titre des documents et du titre des catégories en niveau 1 */
h1 {
	font-family: Arial, Helevetica, Verdana, sans-serif;
	margin: 0px;
	padding: 0px;
	color: #2f1354;
	font-size : 200%;
	font-weight : bold;
}

/* Style des titres de rubrique des portlets Accueil en colonne de droite (quand il n'y a pas d'image) */
/* et des titres de rubrique interne en colonne de droite */
h2 {
	font-family: Arial, Helevetica, Verdana, sans-serif;
  margin: 0px 0px 10px 0px;
  padding:0 0 0 18px;
  background:url(http://www.ain.fr/images/custom/internet/puces/triangle_violet_16px.png) 0px 8px no-repeat;
  color: #2f1354;
	font-size : 166%;
	font-weight : bold;
	/* Ces deux propriétés corrige le bug sous IE qui masque les puces si le texte est accollé à une vignette flottante */
  overflow: hidden;
  height: 1%;
}
h2 a {
	font-family: Arial, Helevetica, Verdana, sans-serif;
   color: #2f1354;
}
/* Titre des ResultDisplay */
h3 {
	margin: 0 0 10px 0px;
	padding: 0 0 0 20px;
	color: #2f1354;
	font-size : 14px;
	font-weight : bold;
	font-family: Arial, Helevetica, Verdana, sans-serif;
/*	background:url(../../images/custom/internet/puces/triangle_violet_16px.png) 0px 6px no-repeat;*/
}
.blocALaUne h3 {
	background:url(http://www.ain.fr/images/custom/internet/puces/triangle_violet_16px.png) 0px 6px no-repeat;
	font-size:19px;
}
h3 a, h3 a:hover, h3 a:visited{
	color: #2f1354;
	font-family: Arial, Helevetica, Verdana, sans-serif;
}




