
/* ################################################################################################################## */
/* Définit les styles des formulaires du site */
/* ################################################################################################################## */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles généraux des formulaires */
/* ------------------------------------------------------------------------------------------------------------------ */

form.contenuFormulaire{
	margin: 0px;
	padding: 0px;
	position: relative;
}

form.contenuFormulaire p {
  margin: 0px;
  padding: 5px;
}

form.contenuFormulaire label {
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

/* Style de positionnement des champs de saisie */
form.contenuFormulaire input, 
form.contenuFormulaire select {
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 120px;
  width: 320px;
  border: 1px solid black;
  background-color: #F1F1F1; 
}

form.contenuFormulaire textarea {
  margin: 0px;
  padding: 0px;
  width: 420px;
  height: 100px;
  border: 1px solid black;
  background-color: #F1F1F1; 
}
/* Style de la civilité */
form.contenuFormulaire input.champRadio {
  position: relative;
  width: 30px;
  left: 0px;
  border: 0px;
  background-color: #FFFFFF; 
}

/* Style de la zone d'action */
p.action {
  margin: 10px 0px 0px 0px;
  padding: 0px;
	text-align: center;
}
/* Style des boutons d'action des formulaires */
p.action input.boutonAction {
  border: 0px;
  background-image: url(http://www.ain.fr/images/custom/internet/portlet/bouton-recherche-blanc.gif);
  background-repeat: no-repeat;
  background-position: left top;
  width: 202px;
  height: 29px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  left: 0px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles des blocs d'information */
/* ------------------------------------------------------------------------------------------------------------------ */
.blocRemerciement{
  margin: 0;
  padding: 20px 10px;
  text-align: center;
  font-weight: bold;
}

.messageErreur, .messageErreur *{
  color: red;
}

/* Style de l'information des champs obligatoires "(*)" */
.note {
	color : red;
	font-weight : bold;
	text-decoration : none;
	position: relative;
}
