
/* ################################################################################################################## */
/* Définit les styles de l'affichage des modules de recherche de certains contenus du site */
/* ################################################################################################################## */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style des recherches des types de contenu (Agenda, Annuaires, Bibliothèques) */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Style de la zone de recherche*/
#contenuPrincipal div.moteurRecherche {
  margin: 10px 0px 0px 0px;
  padding: 10px 5px 10px 5px;
  width:455px;
  background-color: #F1F1F1;
}
/* Surcharge du champ wiki pour affichage de l'entete */
#contenuPrincipal div.moteurRecherche div.wiki p.first{
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 20px 0px;
  border-bottom: 1px dotted #ec1b82;
}
/* Style du formulaire de recherche*/
#contenuPrincipal div.moteurRecherche form {
  margin: 0px;
  padding: 0px;
  position: relative;
}

/* Style des listes de recherche */
#contenuPrincipal div.moteurRecherche form select {
  margin: 0px;
  padding: 0px;
  width: 250px;
}
/* Style général des champs de saisie */
#contenuPrincipal div.moteurRecherche form input {
  margin: 0px;
  padding: 0px 0px 0px 3px;
  width: 250px;
}

/* Style de positionnement des champs de saisie de Agenda*/
#contenuPrincipal div.moteurRecherche form .champSpecial{
  position: absolute;
  left: 90px;
}
/* Style de positionnement des champs de saisie de Annuaire */
#contenuPrincipal div.moteurRecherche form .champSpecialAnnuaire{
  position: absolute;
  left: 170px;
  width:280px;
}
/* Style des libellés */
#contenuPrincipal div.moteurRecherche form label {
  margin: 0px 0px 0px 5px;
  padding: 0px 0px 0px 0px;
	font-weight: bold;
}
/* Style des champs date*/
#contenuPrincipal div.moteurRecherche form input.champDate {
  margin: 0px;
  padding: 0px;
  width: 80px;
}
/* Style spécial du premier champ date pour alignement */
#contenuPrincipal div.moteurRecherche form input.decalage {
  margin: 0px 0px 0px 30px;
}

/* Style général du bouton de recherche */
#contenuPrincipal div.moteurRecherche form input.boutonRecherche {
  border: 0px;
  background-image: url(http://www.ain.fr/images/custom/internet/portlet/bouton_lancer_recherche.gif);
  background-repeat: no-repeat;
  background-position: left top;
  width: 225px;
  height: 31px;
  cursor: pointer;
  font-weight: bold;
}
/* Style spécifique pour l'agenda */
#contenuPrincipal div.moteurRecherche form input.boutonRechercheAgenda {
  border: 0px;
  background-image: url(http://www.ain.fr/images/custom/internet/portlet/bouton_lancer_recherche_agenda.gif);
  background-repeat: no-repeat;
  background-position: left top;
  width: 225px;
  height: 31px;
  cursor: pointer;
  font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style du formulaire de recherche rapide (Annuaire) */
/* ------------------------------------------------------------------------------------------------------------------ */
form.moteurRechercheRapideAnnuaire {
	margin : 0px 0px 10px 0px;
	padding : 0px;
	background: #E6E4E5 url(http://www.ain.fr/images/custom/internet/types/agenda_rechercheHaut.gif) no-repeat left top;
  width: 436px;
}
form.moteurRechercheRapideAnnuaire p {
	margin : 0px 0px 10px 0px;
	padding : 7px 0px 0px 30px;
}
form.moteurRechercheRapideAnnuaire div.moteurRechercheRapideBas {
	margin : 0px 0px 0px 0px;
	padding : 0px 0px 10px 10px;
	background: #E6E4E5 url(http://www.ain.fr/images/custom/internet/types/agenda_rechercheBas.gif) no-repeat left bottom;
  width: 426px;
}
form.moteurRechercheRapideAnnuaire input#structureSubmit {
  margin: 0px 10px 0px 0px;
  padding: 0px;
  background-color: #F1F1F1;
  border: 1px solid #393340;
  cursor: pointer;
  font-weight: bold;
  width: 22px;
  height: 18px;
}
/* Surcharge du lien */
form.moteurRechercheRapideAnnuaire a {
  font-weight: bold;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* Style des résultats de recherches des types de contenu */
/* ------------------------------------------------------------------------------------------------------------------ */
.resultatRechercheAnnuaire {
	margin : 0px;
	padding : 0px;
	overflow: hidden;
}
/* Surcharge du lien */
.resultatRechercheAnnuaire a, .resultatRechercheAnnuaire a:hover {
  color: #83797A;
  font-weight: bold;
}
