/*####################################################################################################################*/
/*################################################# CSS du Diaporama #################################################*/
/*####################################################################################################################*/

.diapo, .diapo * {
  margin:auto;
  border:0px;
}
.diapo td {
  border:0px;
}
.diapo .haut {
 width:320px;
 height:320px;
 background-color:black;
 border:solid #CAC9CB 3px;
 text-align:center;
}

.diapo .haut img{
  margin: 0px;
  padding: 0px;
}

.diapo .millieu, .diapo .bas {
 height:20px;
 text-align:center;
}

.diapo .bouttonnav {
  background-color:#EDEDED;
  border:solid #CAC9CB 2px;
  width:50px;
  height:25px;
}

.diapo #slide {
  border:solid #CAC9CB 1px;
}

.diapo #slidebutton {
  width:200px;
  height:25px;
}

.diapo .droits {
  text-align:center;
}
