
/* ################################################################################################################## */
/* Définit les styles de l'affichage de la partie "Video" */
/* ################################################################################################################## */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style pour l'affichage des liens de consultations et téléchargement */
/* ------------------------------------------------------------------------------------------------------------------ */
.listeVideos {
	font-weight: bold;
}

/* Affichage des videos successifs */
#contenuPrincipal .video {
  margin : 0 0 20px 0;
  padding : 0;
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles de la partie "Colonne video" */
/* ------------------------------------------------------------------------------------------------------------------ */

/*le bloc de vidéos en colonne centrale*/
.colonneVideo{
	background:#004593 url(http://www.ain.fr/images/custom/internet/accueil/colonneVideo_titreVideo.jpg) no-repeat;
  margin: 0px;
  padding : 0px;
  width:270px;
  word-wrap: break-word;

}
.colonneVideo h2{/*surchage du h2 général*/
	background:url(http://www.ain.fr/images/custom/internet/puces/triangle_blanc_16px.png) 5px 12px no-repeat;/*on change la fleche et on l'aligne avec la premiè_re ligne du texte*/
	padding-top:4px;
	padding-bottom:12px;
	margin:0;
	color:#FFFFFF;
}
.colonneVideo .premiereVideo  {/*on centre le flash*/
	padding:0 5px 5px 5px;
}
.colonneVideo .premiereVideo object{/*on place une marge dessous le contenu flash*/
	margin-bottom:10px;
}
.colonneVideo .premiereVideo a, .colonneVideo .premiereVideo .wiki p.first{/* on surcharge le wiki de base car dans la charte c'est en blanc*/
	color:#FFFFFF;
	margin-left:10px;
}
/*les videos précedentes*/
.colonneVideo .videosPrecedentes{/*le bloc qui est en dessous du bloc video pour accéder aux vidéos précedentes*/
	background:url(http://www.ain.fr/images/custom/internet/accueil/colonneVideo_titrePrecedentes.jpg) no-repeat #0095D9;
	padding:0 5px 20px 0px; /*on met une marge au bloc vidéos précédentes identique à premiere video sauf à gauche*/
}
.colonneVideo .videosPrecedentes h2{/*surchage du h2 général pour le second bloc (bleu clair)*/
	color:#FFFFFF;
}
.colonneVideo .videosPrecedentes ul{
	list-style:none;
	margin-left:20px;/*on s'aligne sur le titre*/
}
.colonneVideo .videosPrecedentes ul li{
	background:url(http://www.ain.fr/images/custom/internet/puces/fleche_noir.png) 2px 7px no-repeat;
	padding: 1px 0px 3px 20px;/*nécessaire pour que la fleche ne s'aligne pas derriere*/
	margin-top:0px;/*on surcharge le li par defaut qui a une marge de 5px en haut*/
	margin-left:0px;/*on s'aligne sur le ul et donc sur le titre*/
}
.colonneVideo .videosPrecedentes a{ /*on met en noir tous les liens de vidéos précedentes*/
	color:#000000;
}
.colonneVideo .videosPrecedentes .allVideos{
	margin-left:20px;/*on s'aligne sur le titre et  la liste des videos*/
	font-weight:bold;
}

/*portail vidéo*/
.portailVideo  {
width:740px;
}
.portailVideo h1{/*surcharge du h1 générale pour mettre la caméra en fond*/
	background:url(http://www.ain.fr/images/custom/internet/puces/grande_camera.png) no-repeat;
	padding: 20px 0 20px 80px;
	
}
.portailVideo  table{
margin: 0 auto; 
text-align: left;

}
.portailVideo  .videosPrecedentes{
	width:740px;
	background-color:#f0edf4;
	padding:5px;
}
.portailVideo  .videosPrecedentes table{
	width:100%;
}
.portailVideo  .videosPrecedentes td{
	margin:0;
	padding:5px;
	text-align:center;
	width:33%;
	vertical-align:bottom;
}	

#contenuPrincipal.portailVideo  .videosPrecedentes img.vignette{/*on surcharge conteneurPrincipaleVignette*/
	width:236px;
	height:170px;
	margin:5px 0 0 0;
}
.portailVideo .videosPrecedentes .pagination{
	clear:both;
	margin:0 auto;
}
