
/* ################################################################################################################## */
/* Définit les styles de l'affichage de la partie "Agenda" */
/* ################################################################################################################## */

/* Affichage des infos de date */
/* Style pour le résultat de recherche agenda et pour l'évènement */
p.dateEvenement {
  color: #000000;
  font-weight: bold;
}

#contenuPrincipal div.paragrapheEncadre{
  margin : 10px 0px 0px 0px;
	padding : 0px;
	background-color: #f3f3f4;
}

#contenuPrincipal div.paragrapheContact {
  margin : 10px 0px 0px 0px;
	padding : 0px;
	text-align: right;
}
#contenuPrincipal div.paragrapheContact div.wiki p.first a{
  color: #ec1b82;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style  */
/* ------------------------------------------------------------------------------------------------------------------ */
p.typeEvenement {
	margin : 10px 0px 10px 0px;
	padding : 0px;
	font-size: 150%;
	font-weight: bold;
	color: #ec1b82;
	border-bottom: 1px dotted #ec1b82;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Style du formulaire de recherche rapide (Agenda) */
/* ------------------------------------------------------------------------------------------------------------------ */
form.moteurRechercheRapide {
	margin : 0px 0px 10px 0px;
	padding : 0px;
	background: #E6E4E5 url(http://www.ain.fr/images/custom/internet/types/agenda_rechercheHaut.gif) no-repeat left top;
	width: 436px;
}
form.moteurRechercheRapide p {
	margin : 0px 0px 10px 0px;
	padding : 7px 0px 0px 30px;
}
form.moteurRechercheRapide div.moteurRechercheRapideBas {
	margin : 0px 0px 0px 0px;
	padding : 0px 0px 10px 10px;
	background: #E6E4E5 url(http://www.ain.fr/images/custom/internet/types/agenda_rechercheBas.gif) no-repeat left bottom;
}
form.moteurRechercheRapide input#agendaSubmit {
  margin: 0px 10px 0px 0px;
  padding: 0px;
  background-color: #F1F1F1;
  border: 1px solid #393340;
  cursor: pointer;
  font-weight: bold;
  width: 22px;
  height: 18px;
}
/* Surcharge du lien */
form.moteurRechercheRapide a {
  font-weight: bold;
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* Style des résultats de recherches des types de contenu */
/* ------------------------------------------------------------------------------------------------------------------ */
.resultatRecherche {
	margin : 0px;
	padding : 0px;
	overflow: hidden;
}
/* Surcharge du lien */
.resultatRecherche a, .resultatRecherche a:hover {
  color: #ec1b82;
  font-weight: bold;
}