.pxt_sr_bg{background:url(http://images.grosbill.com/iv2/pxt_sr_bg.png) repeat-x;}
.pxt_cartouche_01{width:100%;background:url(http://images.grosbill.com/iv2/pxt_cartouche_01_bg.png) repeat-x;}
.pxt_cartouche_02{width:100%;color:#000;font:bold 12px Arial;text-align:center;background:url(http://images.grosbill.com/iv2/pxt_cartouche_02_bg.png) repeat-x;}
.pxt_barre_filtre_bg{background:url(http://images.grosbill.com/iv2/pxt_barre_filtre_bg.png) repeat-x;}
.pxt_barre_tri_bg{background:url(http://images.grosbill.com/iv2/pxt_barre_tri_bg.png) repeat-x;}
.pxt_fb_table_produit_bg{background:url(http://images.grosbill.com/iv2/pxt_fb_table_produit_bg.png) repeat-x;}
.pxt_footer{width:100%;background:url(http://images.grosbill.com/iv2/pxt_footer_bg.png) repeat-x;}
.pxt_table_b_t_bg{background:url(http://images.grosbill.com/iv2/pxt_table_b_t_bg.png) repeat-x;}
.pxt_table_b_cr_bg{background:url(http://images.grosbill.com/iv2/pxt_table_b_cr_bg.png) repeat-y;}
.pxt_table_b_b_bg{background:url(http://images.grosbill.com/iv2/pxt_table_b_b_bg.png) repeat-x;}
.pxt_table_b_cl_bg{background:url(http://images.grosbill.com/iv2/pxt_table_b_cl_bg.png) repeat-y;}
.pxt_table_bs_t_bg{background:url(http://images.grosbill.com/iv2/pxt_table_bs_t_bg.png) repeat-x;}
.pxt_table_bs_cr_bg{background:url(http://images.grosbill.com/iv2/pxt_table_bs_cr_bg.png) repeat-y;}
.pxt_table_bs_b_bg{background:url(http://images.grosbill.com/iv2/pxt_table_bs_b_bg.png) repeat-x;}
.pxt_table_bs_cl_bg{background:url(http://images.grosbill.com/iv2/pxt_table_bs_cl_bg.png) repeat-y;}
.pxt_table_l_t_bg{background:url(http://images.grosbill.com/iv2/pxt_table_l_t_bg.png) repeat-x;}
.pxt_table_l_cr_bg{background:url(http://images.grosbill.com/iv2/pxt_table_l_cr_bg.png) repeat-y;}
.pxt_table_l_b_bg{background:url(http://images.grosbill.com/iv2/pxt_table_l_b_bg.png) repeat-x;}
.pxt_table_l_cl_bg{background:url(http://images.grosbill.com/iv2/pxt_table_l_cl_bg.png) repeat-y;}
.pxt_table_ls_t_bg{background:url(http://images.grosbill.com/iv2/pxt_table_ls_t_bg.png) repeat-x;}
.pxt_table_ls_cr_bg{background:url(http://images.grosbill.com/iv2/pxt_table_ls_cr_bg.png) repeat-y;}
.pxt_table_ls_b_bg{background:url(http://images.grosbill.com/iv2/pxt_table_ls_b_bg.png) repeat-x;}
.pxt_table_ls_cl_bg{background:url(http://images.grosbill.com/iv2/pxt_table_ls_cl_bg.png) repeat-y;}
.pxt_table_lg_t_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lg_t_bg.png) repeat-x;}
.pxt_table_lg_cr_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lg_cr_bg.png) repeat-y;}
.pxt_table_lg_b_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lg_b_bg.png) repeat-x;}
.pxt_table_lg_cl_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lg_cl_bg.png) repeat-y;}
.pxt_table_lsd_t_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lsd_t_bg.png) repeat-x;}
.pxt_table_lsd_cr_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lsd_cr_bg.png) repeat-y;}
.pxt_table_lsd_b_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lsd_b_bg.png) repeat-x;}
.pxt_table_lsd_cl_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lsd_cl_bg.png) repeat-y;}
.pxt_table_lsd_d{background:url(http://images.grosbill.com/iv2/pxt_table_lsd_d.gif) bottom repeat-x;}
.pxt_layer_t_bg{background:url(http://images.grosbill.com/iv2/pxt_layer_t_bg.png) repeat-x;}
.pxt_layer_cr_bg{background:url(http://images.grosbill.com/iv2/pxt_layer_cr_bg.png) repeat-y;}
.pxt_layer_b_bg{background:url(http://images.grosbill.com/iv2/pxt_layer_b_bg.png) repeat-x;}
.pxt_layer_cl_bg{background:url(http://images.grosbill.com/iv2/pxt_layer_cl_bg.png) repeat-y;}
.pxt_layer_t_left_co_on{background:url(http://images.grosbill.com/iv2/pxt_layer_t_left_co_on.png) no-repeat;}
.pxt_layer_t_right_co_on{background:url(http://images.grosbill.com/iv2/pxt_layer_t_right_co_on.png) no-repeat;}
.pxt_layer_b_left_co_on{background:url(http://images.grosbill.com/iv2/pxt_layer_b_left_co_on.png) no-repeat;}
.pxt_layer_b_right_co_on{background:url(http://images.grosbill.com/iv2/pxt_layer_b_right_co_on.png) no-repeat}
.pxt_layer_t_left_co_off{background:url(http://images.grosbill.com/iv2/pxt_layer_t_left_co_off.png) no-repeat;}
.pxt_layer_t_right_co_off{background:url(http://images.grosbill.com/iv2/pxt_layer_t_right_co_off.png) no-repeat;}
.pxt_layer_b_left_co_off{background:url(http://images.grosbill.com/iv2/pxt_layer_b_left_co_off.png) no-repeat;}
.pxt_layer_b_right_co_off{background:url(http://images.grosbill.com/iv2/pxt_layer_b_right_co_off.png) no-repeat;}

.pxt_table_lcs_photo_t_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_photo_t_bg.png) repeat-x;}
.pxt_table_lcs_photo_cr_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_photo_cr_bg.png) repeat-y;}
.pxt_table_lcs_photo_b_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_photo_b_bg.png) repeat-x;}
.pxt_table_lcs_photo_cl_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_photo_cl_bg.png) repeat-y;}
.pxt_table_lcs_mobil_t_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_mobil_t_bg.png) repeat-x;}
.pxt_table_lcs_mobil_cr_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_mobil_cr_bg.png) repeat-y;}
.pxt_table_lcs_mobil_b_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_mobil_b_bg.png) repeat-x;}
.pxt_table_lcs_mobil_cl_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_mobil_cl_bg.png) repeat-y;}
.pxt_table_lcs_info_t_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_info_t_bg.png) repeat-x;}
.pxt_table_lcs_info_cr_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_info_cr_bg.png) repeat-y;}
.pxt_table_lcs_info_b_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_info_b_bg.png) repeat-x;}
.pxt_table_lcs_info_cl_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_info_cl_bg.png) repeat-y;}
.pxt_table_lcs_promo_t_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_promo_t_bg.png) repeat-x;}
.pxt_table_lcs_promo_cr_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_promo_cr_bg.png) repeat-y;}
.pxt_table_lcs_promo_b_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_promo_b_bg.png) repeat-x;}
.pxt_table_lcs_promo_cl_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_promo_cl_bg.png) repeat-y;}
.pxt_table_lcs_image_t_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_image_t_bg.png) repeat-x;}
.pxt_table_lcs_image_cr_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_image_cr_bg.png) repeat-y;}
.pxt_table_lcs_image_b_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_image_b_bg.png) repeat-x;}
.pxt_table_lcs_image_cl_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_image_cl_bg.png) repeat-y;}
.pxt_table_lcs_jeux_t_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_jeux_t_bg.png) repeat-x;}
.pxt_table_lcs_jeux_cr_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_jeux_cr_bg.png) repeat-y;}
.pxt_table_lcs_jeux_b_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_jeux_b_bg.png) repeat-x;}
.pxt_table_lcs_jeux_cl_bg{background:url(http://images.grosbill.com/iv2/pxt_table_lcs_jeux_cl_bg.png) repeat-y;}

.pxt_btn_noir{background:url(http://images.grosbill.com/iv2/pxt_btn_noir_bg.png) repeat-x;;padding:0 4px 0 4px}
.pxt_btn_orange{background:url(http://images.grosbill.com/iv2/pxt_btn_orange_bg.png) repeat-x;;padding:0 4px 0 4px}
.pxt_btn_onglet_on{background:url(http://images.grosbill.com/iv2/pxt_btn_onglet_bg_on.png) repeat-x;;padding:0 4px 0 4px}
.pxt_btn_onglet_off{background:url(http://images.grosbill.com/iv2/pxt_btn_onglet_bg_off.png) repeat-x;;padding:0 4px 0 4px}
.pxt_btn_fiche_on{background:url(http://images.grosbill.com/iv2/pxt_btn_fiche_bg_on.png) repeat-x;;padding:0 0 0 2px}
.pxt_btn_fiche_off{background:url(http://images.grosbill.com/iv2/pxt_btn_fiche_bg_off.png) repeat-x;;padding:0 0 0 2px}

.pxt_btn_rech_photo_left{background:url(http://images.grosbill.com/iv2/pxt_btn_rech_photo_left.png) no-repeat;}
.pxt_btn_rech_photo_bg{background:url(http://images.grosbill.com/iv2/pxt_btn_rech_photo_bg.png) repeat-x;}
.pxt_btn_rech_mobil_left{background:url(http://images.grosbill.com/iv2/pxt_btn_rech_mobil_left.png) no-repeat;}
.pxt_btn_rech_mobil_bg{background:url(http://images.grosbill.com/iv2/pxt_btn_rech_mobil_bg.png) repeat-x;}
.pxt_btn_rech_info_left{background:url(http://images.grosbill.com/iv2/pxt_btn_rech_info_left.png) no-repeat;}
.pxt_btn_rech_info_bg{background:url(http://images.grosbill.com/iv2/pxt_btn_rech_info_bg.png) repeat-x;}
.pxt_btn_rech_promo_left{background:url(http://images.grosbill.com/iv2/pxt_btn_rech_promo_left.png) no-repeat;}
.pxt_btn_rech_promo_bg{background:url(http://images.grosbill.com/iv2/pxt_btn_rech_promo_bg.png) repeat-x;}
.pxt_btn_rech_image_left{background:url(http://images.grosbill.com/iv2/pxt_btn_rech_image_left.png) no-repeat;}
.pxt_btn_rech_image_bg{background:url(http://images.grosbill.com/iv2/pxt_btn_rech_image_bg.png) repeat-x;}
.pxt_btn_rech_jeux_left{background:url(http://images.grosbill.com/iv2/pxt_btn_rech_jeux_left.png) no-repeat;}
.pxt_btn_rech_jeux_bg{background:url(http://images.grosbill.com/iv2/pxt_btn_rech_jeux_bg.png) repeat-x;}

.pxt_prix1_photo{background:url(http://images.grosbill.com/iv2/pxt_prix1_photo_bg.png) repeat-x;}
.pxt_prix1_mobil{background:url(http://images.grosbill.com/iv2/pxt_prix1_mobil_bg.png) repeat-x;}
.pxt_prix1_info{background:url(http://images.grosbill.com/iv2/pxt_prix1_info_bg.png) repeat-x;}
.pxt_prix1_promo{background:url(http://images.grosbill.com/iv2/pxt_prix1_promo_bg.png) repeat-x;}
.pxt_prix1_image{background:url(http://images.grosbill.com/iv2/pxt_prix1_image_bg.png) repeat-x;}
.pxt_prix1_jeux{background:url(http://images.grosbill.com/iv2/pxt_prix1_jeux_bg.png) repeat-x;}
.pxt_prix3_photo{background:url(http://images.grosbill.com/iv2/pxt_prix3_photo_bg.png) repeat-x;}
.pxt_prix3_mobil{background:url(http://images.grosbill.com/iv2/pxt_prix3_mobil_bg.png) repeat-x;}
.pxt_prix3_info{background:url(http://images.grosbill.com/iv2/pxt_prix3_info_bg.png) repeat-x;}
.pxt_prix3_promo{background:url(http://images.grosbill.com/iv2/pxt_prix3_promo_bg.png) repeat-x;}
.pxt_prix3_image{background:url(http://images.grosbill.com/iv2/pxt_prix3_image_bg.png) repeat-x;}
.pxt_prix3_jeux{background:url(http://images.grosbill.com/iv2/pxt_prix3_jeux_bg.png) repeat-x;}
.pxt_prix4_photo{background:url(http://images.grosbill.com/iv2/pxt_prix4_photo_bg.png) repeat-x;}
.pxt_prix4_mobil{background:url(http://images.grosbill.com/iv2/pxt_prix4_mobil_bg.png) repeat-x;}
.pxt_prix4_info{background:url(http://images.grosbill.com/iv2/pxt_prix4_info_bg.png) repeat-x;}
.pxt_prix4_promo{background:url(http://images.grosbill.com/iv2/pxt_prix4_promo_bg.png) repeat-x;}
.pxt_prix4_image{background:url(http://images.grosbill.com/iv2/pxt_prix4_image_bg.png) repeat-x;}
.pxt_prix4_jeux{background:url(http://images.grosbill.com/iv2/pxt_prix4_jeux_bg.png) repeat-x;}
.pxt_prix5_photo{background:url(http://images.grosbill.com/iv2/pxt_prix5_photo_bg.png) repeat-x;}
.pxt_prix5_mobil{background:url(http://images.grosbill.com/iv2/pxt_prix5_mobil_bg.png) repeat-x;}
.pxt_prix5_info{background:url(http://images.grosbill.com/iv2/pxt_prix5_info_bg.png) repeat-x;}
.pxt_prix5_promo{background:url(http://images.grosbill.com/iv2/pxt_prix5_promo_bg.png) repeat-x;}
.pxt_prix6_promo{background:url(http://images.grosbill.com/iv2/pxt_prix5_promo_bg.png) repeat-x;}
.pxt_prix5_image{background:url(http://images.grosbill.com/iv2/pxt_prix5_image_bg.png) repeat-x;}
.pxt_prix5_jeux{background:url(http://images.grosbill.com/iv2/pxt_prix5_jeux_bg.png) repeat-x;}
.pxt_p_en_stock,.pxt_p_en_stock_mini{background:url(http://images.grosbill.com/iv2/pxt_p_en_stock_bg.png) repeat-x;}
.pxt_p_sur_commande,.pxt_p_sur_commande_mini{background:url(http://images.grosbill.com/iv2/pxt_p_sur_commande_bg.png) repeat-x;}
.pxt_p_24_48,.pxt_p_24_48_mini,.pxt_p_sur_reservation_mini{background:url(http://images.grosbill.com/iv2/pxt_p_24_48_bg.png) repeat-x;}
.pxt_p_epuise,.pxt_p_epuise_mini{background:url(http://images.grosbill.com/iv2/pxt_p_epuise_bg.png) repeat-x;}
.pxt_p_bloc{background:url(http://images.grosbill.com/iv2/pxt_p_bloc_bg.png) repeat-x;}

.pxt_bg_produit_45_png{width:50px;height:50px;background:url(http://images.grosbill.com/iv2/pxt_bg_produit_45.png) no-repeat;;padding:3px 0 0 3px}
.pxt_bg_produit_65_png{width:70px;height:70px;background:url(http://images.grosbill.com/iv2/pxt_bg_produit_65.png) no-repeat;;padding:3px 0 0 3px}
.pxt_bg_produit_70_png{width:75px;height:75px;background:url(http://images.grosbill.com/iv2/pxt_bg_produit_70.png) no-repeat;;padding:3px 0 0 3px}
