/* base */

body {
  text-align:center;
  margin: 0;
  padding: 0;
  font-family: "Arial";
  font-size: 0.7em;
  color: #555555;
  font-weight: normal;
  background: url(fond-hexagone.gif) no-repeat center 20px;
  outline: 0;
}


p { 
  margin: 0 0 0.8em 0;
  line-height: 18px;
}

form {
  padding: 0;
  margin: 0;
}

a:link {
	color: #00477d;
	text-decoration: underline;
}
a:visited {
  color: #00477d;
	text-decoration: underline;
}
a:hover {
  color: #00477d;
	text-decoration: none;
}
a:active {
  color: #00477d;
	text-decoration: underline;
}

img {
  border: 0;
}

#global {
  margin-left: auto;
  margin-right: auto;
  width:970px;
  text-align:left;
  margin-bottom: 20px;
  background: url(traitGauche.gif) repeat-y 2px top;
}

div#haut {
  width: 979px;
  height: 159px;
  background-image: url(bandeau.jpg); 
  background-repeat: no-repeat;
  background-color: #ffffff;
}


/* home */
div#gauche {
	float: left;
	width: 220px;
	padding: 0;
	margin: 0;
	margin-top: 21px;
}
div#droite {
	float: right;
	width: 185px;
	padding: 0;
	margin: 0;
	margin-top: 21px;
}
div#centre {
	margin-left: 238px;
	margin-right: 200px;
	padding: 0;
	margin-top: 20px;
}

/* decli */
div#gauchedeclinaison {
	float: left;
	width: 220px;
	padding: 0;
	margin: 0;
}
div#centredeclinaison {
	float: right;
	width: 720px;
	padding: 0;
	margin: 0;
}

/* editorial */
div#gaucheeditorial {
	float: left;
	width: 220px;
	padding: 0;
	margin: 0;
	/*border: solid 1px red;*/
}
div#droiteeditorial {
	float: right;
	width: 350px;
	padding: 0;
	margin: 0;
	/*border: solid 1px red;*/
}
div#centreeditorial {
width: 350px;
	margin-left: 245px;
	margin-right: 365px;
	padding: 0;
/*border: solid 1px red;*/
}

div#breadcrumbs {
  height: 38px;
  background-color: #ffffff;
}
div#breadcrumbs .B_crumbBox {
  display: block;
  top: 12px;
  left: 10px;
  position: relative;
  font-size: 10px;
  background: url(home-historique.gif) no-repeat left center;
  padding-left: 15px;
  color: #212a54;
}
div#breadcrumbs a {
  color: #212a54;
}

#bar {
  /*width: 979px;
  height: 4px;
  background-color: red;*/
}


div#bas {
  /*clear:both;*/
  margin: 50px 0 0 0;
  background-color: #ffffff;
}
div#bas_int {
  margin-left: 240px;
}

div#basdeclinaison {
  clear:both;
  margin: 30px 0 0 0;
  background-color: #ffffff;
}

/*div#baseline {
  margin-left: 240px;
}*/

#sites {
  border-top: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
  padding: 8px 0;
  margin: 0;
  text-align: center;
	font-size: 11px;
	color: #063e65;  
}
#sites a {
  color: #063e65;
}

#baseline {
  padding: 5px 0;
  text-align: center;
	font-size: 10px;
	color: #000000;
  line-height: 20px;  
}
#baseline a {
  color: #808080;
}

/* menus */

	/* --[[ Main Expand Icons ]]-- */
	#imenus0 .imeam span,#imenus0 .imeamj span {background-image:url(http://www.dijon.cci.fr/assets/templates/cci/none); width:7px; height:5px; left:-7px; top:5px; background-repeat:no-repeat;background-position:top left;}
	#imenus0 li:hover .imeam span,#imenus0 li a.iactive .imeamj span {background-image:url(http://www.dijon.cci.fr/assets/templates/cci/none); background-repeat:no-repeat;background-position:top left;}

	/* --[[ Sub Expand Icons ]]-- */

	#imenus0 ul .imeas span,#imenus0 ul .imeasj span { width:4px; height:7px; left:0px; top:3px; background-repeat:no-repeat;background-position:top left;}
  #imenus0 ul.menu_informations .imeas span,#imenus0 ul.menu_informations .imeasj span {  background-image:url(nav_fleche_jaune.gif); }
  #imenus0 ul.menu_entreprendre .imeas span,#imenus0 ul.menu_entreprendre .imeasj span {  background-image:url(nav_fleche_bleue.gif); }
  #imenus0 ul.menu_reseaux .imeas span,#imenus0 ul.menu_reseaux .imeasj span {  background-image:url(nav_fleche_verte.gif); }
  #imenus0 ul.menu_emploi .imeas span,#imenus0 ul.menu_emploi .imeasj span {  background-image:url(nav_fleche_rose.gif); }
  #imenus0 ul.menu_accelerer .imeas span,#imenus0 ul.menu_accelerer .imeasj span {  background-image:url(nav_fleche_orange.gif); }
  #imenus0 ul.menu_votrecci .imeas span,#imenus0 ul.menu_votrecci .imeasj span {  background-image:url(nav_fleche_bleue2.gif); }
  
	#imenus0 ul li:hover .imeas span,#imenus0 ul li a.iactive .imeasj span { background-repeat:no-repeat;background-position:top left;}
  #imenus0 ul.menu_informations li:hover .imeas span,#imenus0 ul.menu_informations li a.iactive .imeasj span {  background-image:url(nav_fleche_jaune_over.gif); }
  #imenus0 ul.menu_entreprendre li:hover .imeas span,#imenus0 ul.menu_entreprendre li a.iactive .imeasj span {  background-image:url(nav_fleche_bleue_over.gif); }
  #imenus0 ul.menu_reseaux li:hover .imeas span,#imenus0 ul.menu_reseaux li a.iactive .imeasj span {  background-image:url(nav_fleche_verte_over.gif); }
  #imenus0 ul.menu_emploi li:hover .imeas span,#imenus0 ul.menu_emploi li a.iactive .imeasj span {  background-image:url(nav_fleche_rose_over.gif); }
  #imenus0 ul.menu_accelerer li:hover .imeas span,#imenus0 ul.menu_accelerer li a.iactive .imeasj span {  background-image:url(nav_fleche_orange_over.gif); }
  #imenus0 ul.menu_votrecci li:hover .imeas span,#imenus0 ul.menu_votrecci li a.iactive .imeasj span {  background-image:url(nav_fleche_bleue2_over.gif); }


	/* --[[ Main Container ]]-- */
	#imouter0 {border-style:none; padding:0px; margin:0px;
    top: 128px;
    position: absolute;
    background-image: url(nav_fond.gif);
    background-repeat: no-repeat;
    width: 979px; 
    height: 31px;
  }

	   /* --[[ Main Items ]]-- */
	   #imenus0 li a, #imenus0 .imctitle { 
	     text-decoration:none;
     }

		/* [hover] - These settings must be duplicated for IE compatibility.*/
		#imenus0 li:hover>a { text-decoration:none;  }
		#imenus0 li a.ihover, .imde imenus0 a:hover { text-decoration:none; }

		/* [active] */
		#imenus0 li a.iactive {}

    /* Main Items */
    #imenus0 li a.menu_informations { text-indent: -9999px; font-size: 0; height: 30px; background: url(nav_infoEconomiques.gif) no-repeat;  width: 141px; }
    #imenus0 li a.menu_informations:hover, #imenus0 li.ishow a.menu_informations { height: 30px; background: url(nav_infoEconomiques_over.gif) no-repeat; }
    #imenus0 li a.menu_entreprendre { text-indent: -9999px; font-size: 0;  height: 30px; background: url(nav_entreprendre.gif) no-repeat;   width: 104px; }
    #imenus0 li a.menu_entreprendre:hover, #imenus0 li.ishow a.menu_entreprendre { height: 30px; background: url(nav_entreprendre_over.gif) no-repeat; }
    #imenus0 li a.menu_reseaux { text-indent: -9999px; font-size: 0;  height: 30px; background: url(nav_reseaux.gif) no-repeat;  width: 173px; }
    #imenus0 li a.menu_reseaux:hover, #imenus0 li.ishow a.menu_reseaux { height: 30px; background: url(nav_reseaux_over.gif) no-repeat; }
    #imenus0 li a.menu_emploi { text-indent: -9999px; font-size: 0;  height: 30px; background: url(nav_emploietformation.gif) no-repeat; width: 149px; }
    #imenus0 li a.menu_emploi:hover, #imenus0 li.ishow a.menu_emploi { height: 30px; background: url(nav_emploietformation_over.gif) no-repeat; }
    #imenus0 li a.menu_accelerer { text-indent: -9999px; font-size: 0;  height: 30px; background: url(nav_accelerreussite.gif) no-repeat;  width: 157px; }
    #imenus0 li a.menu_accelerer:hover, #imenus0 li.ishow a.menu_accelerer { height: 30px; background: url(nav_accelerreussite_over.gif) no-repeat; }
    #imenus0 li a.menu_votrecci { text-indent: -9999px; font-size: 0;  height: 30px; background: url(nav_votrecci.gif) no-repeat;  width: 73px; }
    #imenus0 li a.menu_votrecci:hover, #imenus0 li.ishow a.menu_votrecci { height: 30px; background: url(nav_votrecci_over.gif) no-repeat; }
    #imenus0 li a.menu_contact { text-indent: -9999px; font-size: 0;  height: 30px; background: url(nav_contacts.gif) no-repeat;  width: 73px; }
    #imenus0 li a.menu_contact:hover, #imenus0 li.ishow a.menu_contact { height: 30px; background: url(nav_contacts_over.gif) no-repeat; }    
		.nocursor { cursor: default; }

  	/* --[[ Sub Container ]]-- */
  	#imenus0 li ul { 
     margin: 3px 0 0 0;
     padding: 4px 4px;
     filter : alpha(opacity=97); 
     -moz-opacity : 0.97; 
     opacity : 0.97;
    }
    #imenus0 li ul ul {
      margin: 0;
    }


  	/* --[[ Sub Items ]]-- */
  	#imenus0 ul a, #imenus0 .imsubc li .imctitle  {
     color:#000000; 
     font-family: Arial;
     font-size: 11px;
     padding: 5px 7px;
   }

   #imenus0 ul.menu_informations, #imenus0 ul.menu_informations ul { bor-der: solid 1px #663300; background-color: #f4db52; }
   #imenus0 ul.menu_entreprendre, #imenus0 ul.menu_entreprendre ul { bor-der: solid 1px #212a54; background-color: #abc3ee; }
   #imenus0 ul.menu_reseaux, #imenus0 ul.menu_reseaux ul { bor-der: solid 1px #19431f; background-color: #a9c73a; }
   #imenus0 ul.menu_emploi, #imenus0 ul.menu_emploi ul { bor-der: solid 1px #892255; background-color: #e597b1; }
   #imenus0 ul.menu_accelerer, #imenus0 ul.menu_accelerer ul { bor-der: solid 1px #79431f; background-color: #f4a660; }
   #imenus0 ul.menu_votrecci, #imenus0 ul.menu_votrecci ul { bor-der: solid 1px #14233f;  background-color: #80bad4; }

    #imenus0 ul li a { text-decoration:none; background-repeat:no-repeat; background-position:center 100px; }
    #imenus0 ul.menu_informations li a { color: #663300; background-image:url(nav_fleche_jaune.gif); }
    #imenus0 ul.menu_entreprendre li a { color: #212a54; background-image:url(nav_fleche_bleue.gif); }
    #imenus0 ul.menu_reseaux li a { color: #19431f; background-image:url(nav_fleche_verte.gif); }
    #imenus0 ul.menu_emploi li a { color: #892255; background-image:url(nav_fleche_rose.gif); }
    #imenus0 ul.menu_accelerer li a { color: #79431f; background-image:url(nav_fleche_orange.gif); }
    #imenus0 ul.menu_votrecci li a { color: #14233f; background-image:url(http://www.dijon.cci.fr/assets/templates/cci/images/nav_fleche_bleu2.gif); }


        /* disable last border */
        #imenus0 ul a.last { border-bottom: 0px; }

		/* [hover] - These settings must be duplicated for IE comptatibility.*/
		#imenus0 ul li:hover>a { font-weight: bold; }
		#imenus0 ul li a.ihover { font-weight: bold; }

    #imenus0 ul.menu_informations li:hover>a { background-color: #fcf6d4; }
    #imenus0 ul.menu_entreprendre li:hover>a { background-color: #eaf0fb; }
    #imenus0 ul.menu_reseaux li:hover>a { background-color: #e9f1ce; }
    #imenus0 ul.menu_emploi li:hover>a { background-color: #f8e5ec; }
    #imenus0 ul.menu_accelerer li:hover>a { background-color: #f3e2d4; }
    #imenus0 ul.menu_votrecci li:hover>a { background-color: #d8e8ef; }

    #imenus0 ul.menu_informations li a.ihover { background-color: #fcf6d4; }
    #imenus0 ul.menu_entreprendre li a.ihover { background-color: #eaf0fb; }
    #imenus0 ul.menu_reseaux li a.ihover { background-color: #e9f1ce; }
    #imenus0 ul.menu_emploi li a.ihover { background-color: #f8e5ec; }
    #imenus0 ul.menu_accelerer li a.ihover { background-color: #f3e2d4; }
    #imenus0 ul.menu_votrecci li a.ihover { background-color: #d8e8ef; }

		/* [active] */
		#imenus0 ul li a.iactive {}



/* colonne de gauche */

#recherche .accordiontitle {
  display: block;
  background-image: url(accordeon_fond_selected.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 3px 10px 0 10px;
  margin: 0;
  height: 21px;
}
#recherche .accordiontitle a {
  color: #ffffff;
  display: block; 
  text-decoration: none;
}
#recherche .selected {
  display: block;
  background-image: url(accordeon_fond.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 3px 10px 0 10px;
  margin: 0;
  height: 21px;
  cursor: hand;
}

#recherche {
  margin-bottom: 10px;
}
#recherche .contenu {
  margin: 0;
  padding: 0;
}

#recherchetexte {
  background-image: url(recherche_fond.jpg);
  background-repeat: no-repeat;
  /*margin: 0 0 10px 0;*/
  padding: 8px 10px;
  color: #ffffff;
  height: 38px;
}
#recherchetexte input {
  font-size: 11px;
  width: 100px;
  vertical-align: middle;
}

#ccimodeemploi {
  margin-bottom: 15px;
}

/* bloc table */
table.bloctable  {
  border-collapse:collapse;
  background: url(encartGauche_fond.jpg) no-repeat bottom;
  width: 220px;
  margin-bottom: 15px;
	font-size: 11px;
	color: #063e65; 
}
#droite table.bloctable {
  border-collapse:collapse;
  background: url(encartDroite_fond.jpg) no-repeat bottom;
  width: 185px;
  margin-bottom: 15px;
	font-size: 11px;
	color: #063e65; 
}


table.bloctable thead td, table.bloctable thead th {
  border: solid 1px #90b9d7;
  padding: 4px 8px 2px 8px;
}
table.bloctable tbody td {
  border-left: solid 1px #90b9d7;
  border-right: solid 1px #90b9d7;
  padding: 4px 8px;
} 
table.bloctable tfoot td {
  /*background: url(/assets/templates/cci/images/ombreEncart.gif) repeat-x;*/
  height: 4px;
  font-size: 0;
  line-height: 0;
}

table.bloctable table td {
  border: none !important;
  padding: 0;  
}
table.bloctable table {
  border: none !important;
}

table.bloctable ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* lists */
table.bloctable ul li {
  background: url(puce_eservices.gif) no-repeat left 4px;
  padding: 0 10px;
  margin: 6px 0;
}
table.bloctable ul li a {
  text-decoration: none;
}
table.bloctable ul li a:hover {
  text-decoration: underline;
}

/* overrides for agenda styles */
#agenda {
  margin-bottom: 15px;
  font-size: 11px;
	color: #000000;
}
#agenda a {
	color: #666666;
	text-decoration: underline;
}

#agenda .texte {
	font-size: 12px;
	color: #14233f;
	font-weight: bold;
}

#agenda ul li {
  background: url(fleche_votreCCI.gif) no-repeat left 5px;
}

#eservices ul li a, #eservices ul li a:hover {
  color: #892225;
  color: #ef631a;
  xxfont-weight: bold;
}


/* news */
#actualitesrss {
  background: url(actus_fond_titre_rss.gif) no-repeat;
  height: 31px;
}
#actualitesrss a {
  display: block;
  float:right;
  margin-right: 12px;
  margin-top: 3px;
  width: 26px;
  height: 27px;
  font-size: 0;
}

#actualites {
  padding: 0px 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}
/*#actualites*/ h1 {
	font-size: 20px;
	color: #996600;
  margin: 0 0 0 0;
  font-weight: normal;  
}

/*#actualites*/ h1.informations { color: #663300; }
/*#actualites*/ h1.entreprendre { color: #212a54; }
/*#actualites*/ h1.reseaux { color: #19431f; }
/*#actualites*/ h1.emploi { color: #892255; }
/*#actualites*/ h1.accelerer { color: #79431f; }
/*#actualites*/ h1.votrecci { color: #14233f; }

.separator {
  border-bottom: solid 1px #cccccc;
  margin: 13px 0;
}

#espacewidgets {
  background: url(espace_sticker_widget.gif) no-repeat;
  width: 531px;
  height: 23px;
}


/* dans la meme rubrique */
#rubrique {
  margin-bottom: 30px;
}

ul#memerubrique {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul#memerubrique li {
  padding: 0 10px;
  margin: 6px 0;
  text-align: right;
}
ul#memerubrique li a {
  text-decoration: none;
  color: #000000;
  font-size: 0.8em;
  font-family: Verdana;
}
ul#memerubrique li a:hover {
  text-decoration: underline;
  font-weight: bold;
}



/* contenus */

.content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0.7em 0 1.4em 1em;
}
.content ul li {
  padding-left: 15px;
  margin: 6px 0;
  background: url(fleche_votreCCI.gif) no-repeat left 3px;
}
.content ul ul {
  list-style-type: disc;
  margin: 0 0 0 20px;
}
.content ul ul li {
  background: none;
  margin: 4px 0;
  padding: 0;
}

.content strong {
  color: #000000;
}


/*--- alignement des images ---*/
.middle {
  vertical-align:middle;
}
.left{
  padding-right: 3px;
  float:left;
}
.right {
  padding-left: 3px;
  float:right;
}


/*
alignMiddle=middle;alignLeft=left;alignRight=right;TexteCourant=textecourant;TitreRubrique=titrerubriques;TexteBleu=cciaction;TexteBleuGras=cciactionbold;AccrocheBleu=accroche-bleu;AccrocheVert=accroche-vert;AccrocheJaune=accroche-jaune;AccrocheMauve=accroche-mauve;AccrocheOrange=accroche-orange;TexteNoir=texte-noir;TexteBleu=texte-bleu;TexteVert=texte-vert;TexteJaune=texte-jaune;TexteMauve=texte-mauve;TexteOrange=texte-orange;titre0 (gris)=titre0;titre1 (bleu)=titre1;titre2 (vert)=titre2;titre3 (orange)=titre3;titre4 (violet)=titre4;titre5 (bleu CCI)=titre5;titre6 (orange vif)=titre6;bordureTableau1=bordureTableau1;bordureTableau2=bordureTableau2;bordureTableau3=bordureTableau3;bordureTableau4=bordureTableau4;fondTableauBleu=fondTableauBleu;fondTableauVert=fondTableauVert;fondTableauOrange=fondTableauOrange;fondTableauViolet=fondTableauViolet;

*/


/*--- styles par defaut---*/
.titre,
.titre0, .titre1, .titre2, .titre3, .titre4, .titre5, .titre6  {
  margin: 0;
  padding: 0;
  line-height: normal;
  display: block;
  width: 100%; 
  padding-top: 1px;
  padding-left: 3px;
  margin-bottom: 1em;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	color: #000000;
	border: solid 1px black;
}

.accroche,
.accroche-bleu, .accroche-vert, .accroche-jaune, .accroche-mauve, .accroche-orange
{
	font-size: 14px;
	color: #666666;
	font-weight: bold;
}

.texte,
.texte-bleu, .texte-vert, .texte-jaune, .texte-mauve, .texte-orange, .texte-noir
{
	font-size: 12px;
	color: #666666;
	font-weight: bold;
}

.bordureTableau,
.bordureTableau1, .bordureTableau2, .bordureTableau3, .bordureTableau4
{
	border: 1px solid #666666;
}

.bordureTableau thead td {
  color: #000000;
  font-weight: bold;
}


.fondTableau,
.fondTableauBleu, .fondTableauVert, .fondTableauOrange, .fondTableauViolet {
  background-color: #eeeeee;
}


div.separator {
  height: 1px;
  background-color: #eeeeee;
  margin: 10px 0;
  padding: 0;
  font-size: 0;
}

/*
Styles Nuage de Tags
*/

.tagcloud {
  background-color:#F0F1F3;
  /*border:1px solid #aaaaaa;*/
  text-align:center;
  margin: 0;
  margin-bottom: 10px;
  padding: 5px 3px;
  font-family: "Arial";
}

.tagcloud a {
  margin-left: 4px;
  margin-right: 4px; 
  text-decoration: none;
}
.tagcloud a:hover {
  text-decoration: underline;
}

a.tag1, a:hover.tag1 {
  font-size:14px;
  font-weight: bold;
 
}
a.tag2, a:hover.tag2 {
  font-size:12px;
  /*font-size:18px;*/
  font-weight: bold;
  color: #63a3be;
}
a.tag3, a:hover.tag3 {
  font-size:12px;
  /*font-size:18px;*/
}
a.tag4, a:hover.tag4 {
  font-size:11px;
  color: #63a3be;
  /*font-size:18px;*/
}
a.tag5, a:hover.tag5 {
  font-size:9px;
  color: #63a3be;
  /*font-size:18px;*/
}

/* styles fixes */
a.t1, a:hover.t1 {
  font-size:18px;
  color: #990000;
}
a.t2, a:hover.t2 {
  font-size:16px;
  color: #990000;
}
a.t3, a:hover.t3 {
  font-size:14px;
  color: #990000;
}
a.t4, a:hover.t4 {
  font-size:12px;
  color: #990000;
}
a.t5, a:hover.t5 {
  font-size:10px;
  color: #990000;
}





/* txsearch styles - Tevolys */

.txsearch-container {
}

.txsearch-form {
  margin: 0;
  padding: 0;
}

.txsearch-results {
  color: #293094;
  font-weight: bold;
  margin-top: 10px;
}

div.txsearch-pager {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

div.txsearch-pager ul {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  display: inline;
}
div.txsearch-pager ul li {
  list-style: none;
  display: inline;
  padding-left: 5px;
  text-align: center;
}
div.txsearch-pager ul li.txsearch-pager-currentpage {
  font-weight: bold;
}

a.txsearch-pager-next {
}
a.txsearch-pager-previous {
}

.txsearch-item {
  margin-top: 15px;
}
a.txsearch-item-title, a.txsearch-item-title:hover {
  color: #293094;
  background-color: #ffffff;
  font-weight: bold;
}
.txsearch-item-description {
  padding-left: 5px;
}
.txsearch-item-info {
  color: #659ACE;
  padding-left: 5px;
}



/* sondages */
.tx_error {
  color: red;
  font-weight: bold;
}


/* newsletter */

.xmlForm_noborder {
border:0;
}

.xmlForm_labelGauche {
display:block;
padding-top:2px;
float:left;
width:150px;
height:18px;
color: #333333;
   position:relative;
   top:0px;
text-align:right;
margin-right:2px;
}

.xmlForm {
margin:10px;
padding:2px;

}

.xmlForm_right {
padding-left:155px;
}

.xmlForm_item {
/*padding:1px;*/
margin:2px;
/*border-bottom:1px solid #cccccc;
border-right:1px solid #cccccc;*/
}

.xmlForm_inputErr {
border:1px solid #ff0000;
}

.xmlForm_labelErr {
color:#ff0000;
}

.xmlForm_th {
font-size:11px;
padding-bottom:4px;
border-bottom:1px solid #000000;
border-right:1px solid #cccccc;
}

.xmlForm_td {
font-size:10px;
padding:4px;
border-bottom:1px solid #cccccc;
border-right:1px solid #cccccc;
}












