/*
html, body {
     height : 100%;
	scrollbar-face-color:#ececec;
    scrollbar-arrow-color:#999;
    scrollbar-track-color:#fff;
    scrollbar-shadow-color:#fff;
    scrollbar-highlight-color:#ccc;
    scrollbar-3dlight-color:#fff;
    scrollbar-darkshadow-Color:#fff;
}
*/

/* STRUCTURE DEBUT */

div.coinrond {
   width            : 311px;
   margin-top       : 4px;
   background-color : #1d65ae;
   font-family      : Arial;
   font-size        : 11px;
   text-align       : left;
}
div.coinrondarchives {
   width            : 200px;
   margin-top       : 4px;
   background-color : #1d65ae;
   font-family      : Arial;
   font-size        : 11px;
   text-align       : left;
}


div.afprond{
width            : 155px;
margin-top       : 4px;
}

span.font1 {
   font-family : Courier;
   font-size   : 11px;
   margin      : 12px;
}


#structure{
	
	position:absolute;
	width:1100px;

}

#entete{
	background-image: url(http://www.la-croix.com/img/la-croix/commun/entete_degrade.gif);
	background-repeat: repeat-x;
	width: 830px;
	height: 135px;
	position:relative;
	float:left;
}

#struct_gauche{
	margin: 0;
	position:relative;
	left:0px;
	width: 830px;
	height: 135px;
	float:left;
}

#struct_droite{
	top:0;
	left:845px;
	position:absolute;
	width: 160px;
	background-color:#fff;
}
#structure_bas{
	margin: 0;
	position:relative;
	left:0px;
	width: 830px;
}

#struct_bas_g{position:relative;float:left;width:306px;}


#edito{position:relative;float:left;width:189px;}


#contenu_droite{
	position:relative;
	float:left;
	background-color:#ebebcc;
}

#cale0{
	position:relative;
	float:left;
	width:5px;
}

#logo{
	position:relative;
	float:left;
	width:395px;
}
#cale1{
	position:relative;
	float:left;
	width:10px;
}

#dossier1{
	position:relative;
	float:left;
}

#encad_doss_gauche{
	position:relative;
	float:left;
}
#encad_doss_droit{
	position:relative;
	float:left;
}

#menu {
	background-image: url(http://www.la-croix.com/img/la-croix/commun/menu_degrade.gif);
	background-repeat: repeat-x;
	width: 830px;
	height: 26px;
	position:relative;
	float:left;
}
#barre_horiz{
	background-color:#999900;
	width: 830px;
	height:5px;
	position:relative;
	float:left;
	
}
#zone_une{
	background : url(http://www.la-croix.com/img/la-croix/commun/degrade_une.gif) repeat-x bottom;
	width:830px;
	position:relative;
	float:left;
}
#une{	

	left:0;
	width:450px;
	position:relative;
	float:left;
}

#une_haut{
	margin: 0px 0px0px 0px;
	position:relative;
	float:left;
}
#une_bas{
	margin: 0px 0px 0px 0px;
}
#afp{
	width:176px;
	position:relative;
	float:left;
	height:370px;
}


#afpgen{
position:relative;
float:left;
}

#afpreligion{
position:relative;
float:left;
}

#afpinterne{
	width:165px;
	position:relative;
	float:left;
}

#zone_mea_droite{
	width:189px;
	position:relative;
	float:left;
}
#mea_droite{
	width:189px;
	position:relative;
	float:left;
	background-color:#f5f5f5;
}

#uneurlref1, #uneurlref2, #uneurlref3, #uneudocref1, #unedocref2, #unedocref3 {
	position:relative;
	float:left;
	width:270px;
}

#uneurlrefUne1, #uneurlrefUne2, #uneurlrefUne3, #uneudocrefUne1, #unedocrefUne2, #unedocrefUne3 {
	position:relative;
	float:left;
	width:440px;
}

#struct_bas_m{position:relative;float:left;width:312px;}

#actu_images{position:relative;float:left;}

#edition_speciale{
	position:relative;
	float:left;
	background-color:#ebebcc;
	background : url(http://www.la-croix.com/img/la-croix/commun/special_degrade.gif) repeat-x bottom;
}
#edition_spe_tetiere{
	position:relative;
	float:left;
	width:312px;
}
#edition_spe_gauche{
	position:relative;
	float:left;
	width:4px;
}
#edition_spe_contenu{
	position:relative;
	float:left;
	width:308px;
}


#bandeau_centre{
	width:312px;
	position:relative;
	float:left;
	background-color:#efefef;
	text-align:center;
}

#tetiere {
	background-image: url(http://www.la-croix.com/img/la-croix/commun/tetiere_fond.gif);
	background-repeat: repeat-x;
	width: 830px;
	height: 22px;
	position:relative;
	float:left;
}

#tetiere_gauche{
	width:770px;	
	position:relative;
	float:left;
	}
#tetiere_droite{
	width:40px;	
	position:relative;
	float:right;
	}


#struct_bas_d{position:relative;float:left;width:189px;}

#documents{
background-color:#ffffff;
position:relative;
float:left;
width:189px;
border:1px solid #efefef;
}

#documents_titre{background-color:#efefef;width:187px;height:22;align:middle;}

#documents_contenu{background-color:#fff;width:185px;font-family:verdana;font-size:10px;}

#blogs{background-color:#ebebcc;width:189px;}

#menu_bas{position:relative;float:left;width:830px;border-style:solid;border-top-width:1px;border-bottom-width:1px;border-bottom-color:#efefef;border-top-color:#efefef; border-left-width:0;border-right-width:0;color:#000000;font-family:verdana;font-weight:bold;font-size:8px;padding-top:5px;padding-bottom:5px;}

#cale2 {
position:relative;
float:left;
width:10px;
height:500px;
}
#cale3 {
position:relative;
float:left;
width:6px;
height:500px;
}
#cale4 {
position:relative;
float:left;
width:7px;
height:500px;
}

#cale5 {
position:relative;
float:left;
width:15px;
height:500px;
}



#emissions{
background-color:#efefef;
color:#000;
font-weight:bold;
}

#partenaires {width:189px;background-color:#fff;}

#croire_photo{position:relative;float:left;}
#croire_texte{position:relative;float:left;}

#boutique{position:relative;float:left;width:160px;}

hr {
clear: both;
visibility: hidden;
}

.liens_aussidroite{position:relative;float:right;height:30px;padding-right:5px;}
.cale{width:150px;height:3px;}
.cale_col2{width:312px;height:10px;}
.cale_col3{width:189px;height:10px;}
.cale_col4{width:160px;height:10px;}

/* STRUCTURE FIN */

/* DEBUT STYLES */
.separation{
position:relative;
float:left;
width:830px;
height:11px;
}

.separation_col{
position:relative;
float:left;
width:306px;
height:20px;
}

.btrecherche {
	border-right: 0px; padding-right: 0px; border-top: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; border-left: 0px; width: 25px; padding-top: 0px; border-bottom: 0px; height: 12px
}

.une_voiraussi{position:relative;float:left;width:445px;font-size:10px;font-family:verdana;color:#3f3f3f;}

.texteblanc{color:#ffffff;font-family:arial;font-size:12px;}	
a.lien1{color:#ffffff;font-family:arial;font-size:12px;}
a.lien1:visited{color:#ffffff;font-family:arial;font-size:12px;}
a.lien1:hover{color:#ffffff;font-family:arial;font-size:12px;}
a.lien1:active{color:#ffffff;font-family:arial;font-size:12px;}

a.lien_bout{color:#ffffff;font-family:arial;font-size:16px;font-weight:bold;}
a.lien_bout:visited{color:#ffffff;font-family:arial;font-size:16px;font-weight:bold;}
a.lien_bout:hover{color:#ffffff;font-family:arial;font-size:16px;font-weight:bold;}
a.lien_bout:active{color:#ffffff;font-family:arial;font-size:16px;font-weight:bold;}


a.lien2{color:#000;font-family:arial;font-size:12px;}
a.lien2:visited{color:#000;font-family:arial;font-size:12px;}
a.lien2:hover{color:#000;font-family:arial;font-size:12px;}
a.lien2:active{color:#000;font-family:arial;font-size:12px;}

a.lien_une{color:#3f3f3f;font-family:verdana,arial;font-size:10px;font-weight:bold;}
a.lien_une:visited{color:#3f3f3f;font-family:verdana,arial;font-size:10px;font-weight:bold;}
a.lien_une:hover{color#3f3f3f;font-family:verdana,arial;font-size:10px;font-weight:bold;}
a.lien_une:active{color:#3f3f3f;font-family:verdana,arial;font-size:10px;font-weight:bold;}

a.doc_essent{color:#3f3f3f;font-family:verdana,arial;font-size:10px;}
a.doc_essent:visited{color:#3f3f3f;font-family:verdana,arial;font-size:10px;}
a.doc_essent:hover{color#3f3f3f;font-family:verdana,arial;font-size:10px;}
a.doc_essent:active{color:#3f3f3f;font-family:verdana,arial;font-size:10px;}


a.lien_art{color:#0153a4;font-family:verdana,arial;font-size:12px;font-weight:bold;}
a.lien_art:visited{color:#0153a4;font-family:verdana,arial;font-size:12px;font-weight:bold;}
a.lien_art:hover{color:#0153a4;font-family:verdana,arial;font-size:12px;font-weight:bold;}
a.lien_art:active{color:#0153a4;font-family:verdana,arial;font-size:12px;font-weight:bold;}

a.titreune{color:#000;font-family:helvetica,arial;font-size:26px;font-weight:bold;}
a.titreune:visited{color:#000;font-family:helvetica,arial;font-size:26px;font-weight:bold;}
a.titreune:hover{color:#000;font-family:helvetica,arial;font-size:26px;font-weight:bold;}
a.titreune:active{color:#000;font-family:helvetica,arial;font-size:26px;font-weight:bold;}

a.titrebloc{color:#000;font-family:helvetica,arial;font-size:18px;}
a.titrebloc:visited{color:#000;font-family:helvetica,arial;font-size:18px;}
a.titrebloc:hover{color:#000;font-family:helvetica,arial;font-size:18px;}
a.titrebloc:active{color:#000;font-family:helvetica,arial;font-size:18px;}

a.titre_editionspe{color:#000;font-family:verdana,arial;font-size:13px;font-weight:bold;}
a.titre_editionspe:visited{color:#000;font-family:verdana,arial;font-size:13px;font-weight:bold;}
a.titre_editionspe:hover{color:#000;font-family:verdana,arial;font-size:13px;font-weight:bold;}
a.titre_editionspe:active{color:#000;font-family:verdana,arial;font-size:13px;font-weight:bold;}



a.lien_bloc{color:#000;font-family:arial;font-size:11px;font-weight:bold;}
a.lien_bloc:visited{color:#000;font-family:arial;font-size:11px;font-weight:bold;}
a.lien_bloc:hover{color:#000;font-family:arial;font-size:11px;font-weight:bold;}
a.lien_bloc:active{color:#000;font-family:arial;font-size:11px;font-weight:bold;}

a.accrocheune{color:#000;font-family:verdana,arial;font-size:12px;}
a.accrocheune:visited{color:#000;font-family:verdana,arial;font-size:12px;}
a.accrocheune:hover{color:#000;font-family:verdana,arial;font-size:12px;}
a.accrocheune:active{color:#000;font-family:verdana,arial;font-size:12px;}

a.texte_zoom{color:#777;font-family:verdana,arial;font-size:10px;font-weight:bold;}
a.texte_zoom:visited{color:#777;font-family:verdana,arial;font-size:10px;font-weight:bold;}
a.texte_zoom:hover{color:#777;font-family:verdana,arial;font-size:10px;font-weight:bold;}
a.texte_zoom:active{color:#777;font-family:verdana,arial;font-size:10px;font-weight:bold;}


.texte_encad1{color:#999900;font-family:verdana,arial;font-size:11px;font-weight:bold;}
a.lien_encad1{color:#999900;font-family:verdana,arial;font-size:10px;font-weight:bold;}
a.lien_encad1:visited{color:#999900;font-family:verdana,arial;font-size:10px;font-weight:bold;}
a.lien_encad1:hover{color:#999900;font-family:verdana,arial;font-size:10px;font-weight:bold;}
a.lien_encad1:active{color:#999900;font-family:verdana,arial;font-size:10px;font-weight:bold;}

a.lien_afp_rel{color:#990000;font-family:verdana,arial;font-size:10px;font-weight:bold;}
a.lien_afp_rel:visited{color:#990000;font-family:verdana,arial;font-size:10px;font-weight:bold;}
a.lien_afp_rel:hover{color:#990000;font-family:verdana,arial;font-size:10px;font-weight:bold;}
a.lien_afp_rel:active{color:#990000;font-family:verdana,arial;font-size:10px;font-weight:bold;}


a.lien_encad2{color:#999900;font-family:verdana,arial;font-size:12px;font-weight:bold;}
a.lien_encad2:visited{color:#999900;font-family:verdana,arial;font-size:12px;font-weight:bold;}
a.lien_encad2:hover{color:#999900;font-family:verdana,arial;font-size:12px;font-weight:bold;}
a.lien_encad2:active{color:#999900;font-family:verdana,arial;font-size:12px;font-weight:bold;}

a.edito_titre{color:#ffffff;font-family:arial;font-size:16px;font-weight:bold;}
a.edito_titre:visited{color:#ffffff;font-family:arial;font-size:16px;font-weight:bold;}
a.edito_titre:hover{color:#ffffff;font-family:arial;font-size:16px;font-weight:bold;}
a.edito_titre:active{color:#ffffff;font-family:arial;font-size:16px;font-weight:bold;}

a.zoom_home{color:#fff;font-family:verdana,arial;font-size:10px;text-decoration:none;}
a.zoom_home:visited{color:#fff;font-family:verdana,arial;font-size:10px;text-decoration:none;}
a.zoom_home:hover{color:#fff;font-family:verdana,arial;font-size:10px;text-decoration:none;}
a.zoom_home:active{color:#fff;font-family:verdana,arial;font-size:10px;text-decoration:none;}


a.adecouvrir_texte{color:#000;font-family:arial;font-size:11px;font-weight:bold;}
a.adecouvrir_texte:visited{color:#000;font-family:arial;font-size:11px;font-weight:bold;}
a.adecouvrir_texte:hover{color:#000;font-family:arial;font-size:11px;font-weight:bold;}
a.adecouvrir_texte:active{color:#000;font-family:arial;font-size:11px;font-weight:bold;}


.titreafp{color:#990000;font-weight:bold;font-size:11px;}
.titreafp2{color:#990000;font-weight:bold;font-size:10px;}
.titreune{font-family:helvetica,arial;font-size:25px;color:#000;}
.accrocheune{font-family:verdana,arial;font-size:12px;color:#000;}

.part_ligne{background-color:#cccccc;width:189px;}

.part_titre{color:#999999;font-family:arial;font-size:11px;font-weight:bold;}



.art_date_home{font-family:verdana,arial;font-size:10px;color:#999999;}



.edito_titre {color:#ffffff;font-family:arial;font-size:16px;font-weight:bold;}
.edito_signature {color:#ffffff;font-family:arial;font-size:11px;font-weight:bold;}

.titre_bloc {width:275px;}

.titre_bloc_rel {width:280px;}
.contenu_bloc {width:270;text-align:justify;}



BODY {FONT-SIZE: 12px; FONT-FAMILY: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;}

A {Color: #000; font-family: arial,verdana,helvetica; font-size: 12px; text-decoration: none;}
A:hover {color: #000; font-family: arial,verdana,helvetica; font-size: 12px; text-decoration: underline;}
A:active {color: #000; font-family: arial,verdana,helvetica; font-size: 12px; text-decoration: none;}

UL {padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px}
LI {padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px;}

.roll {border-right: 0px; border-top: 0px; left: -1px; border-left: 0px; border-bottom: 0px; position: absolute; top: -27px}

.ligne_bloc{position:relative;float:left;background-color:#ebebcc;width:280px;height:1px;}
.ligne_bloc_rel{position:relative;float:left;background-color:#fff;width:300px;height:1px;}
.ligne_bloc_eur{position:relative;float:left;background-color:#EAEAEA;width:300px;height:1px;}

.ligne_boutique{position:relative;float:left;background-color:#999900;width:160px;height:3px;}



#blogs li {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color: black;
list-style-type:none;
list-style-image:url(http://www.la-croix.com/img/la-croix/commun/puce3.gif);
background-repeat:no-repeat;
margin-left:20px;
padding-left:20px;
} 

#documents_contenu li {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color: #cccccc;
list-style-type:none;
list-style-position:inside;
list-style-image:url(http://www.la-croix.com/img/la-croix/commun/puce1.gif);
background-repeat:no-repeat;
margin-left:5px;
padding-left:5px;
}


#liens_com li {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color: black;
list-style-type:none;
list-style-image:url(http://www.la-croix.com/img/la-croix/commun/puce3.gif);
background-repeat:no-repeat;
margin-top:5px;
margin-left:3px;
padding-left:3px;
line-height:9px;
height:auto;
}


#struct_recherche{position:relative;float:left;width:635px;}
#struct_archives{position:relative;float:left;width:830px;}
.result {
	COLOR: #999900; FONT-FAMILY: Arial,Verdana,Helvetica; FONT-SIZE: 12px; FONT-WEIGHT:bold;
}

.titrearchives {
	COLOR: #999900; FONT-FAMILY: Arial,Verdana,Helvetica; FONT-SIZE: 15px; FONT-WEIGHT:bold;
}

.txtMenu {
	COLOR: #999900; FONT-FAMILY: Verdana,Arial,Helvetica; FONT-SIZE: 12px; text-decoration: none; 
}

.txtMenutitre {
	COLOR: #000000; FONT-FAMILY: Verdana,Arial,Helvetica; FONT-SIZE: 12px; text-decoration: none; 
}
.txtMenutxt {
	COLOR: #000000; FONT-FAMILY: Verdana,Arial,Helvetica; FONT-SIZE: 11px; text-decoration: none; 
}
TD.header {
	 
	BACKGROUND: #EBEBCC; 
	 color:#636356;font-weight:bold;font-size:13px; FONT-FAMILY: Arial,Verdana,Helvetica;
}


a.resultfooter:link{color:#999900;font-family:verdana,arial;font-size:11px;}
a.resultfooter:visited{color:#999900;font-family:verdana,arial;font-size:11px;}
a.resultfooter:hover{color:#000000;font-family:verdana,arial;font-size:11px; text-decoration: underline;}
a.resultfooter:active{color:#999900;font-family:verdana,arial;font-size:11px;}



a.resultatsaff:link {Color: #000; font-family: arial,verdana,helvetica; font-size: 12px; text-decoration: none;}
a.resultatsaff:visited {color: #000; font-family: arial,verdana,helvetica; font-size: 12px; text-decoration: none;}
a.resultatsaff:hover{color: #000; font-family: arial,verdana,helvetica; font-size: 12px; text-decoration: none;}
a.resultatsaff:active{color: #000; font-family: arial,verdana,helvetica; font-size: 12px; text-decoration: none;}


.titremea {
	COLOR: #000000; FONT-FAMILY: Arial,Verdana,Helvetica; FONT-SIZE: 14px; FONT-WEIGHT : BOLD;  
}

.neutre {
	COLOR: #000000; FONT-FAMILY: Arial,Verdana,Helvetica; FONT-SIZE: 12px; text-decoration: none; 
}

.INPUT {
	BORDER-RIGHT: #525252 1px solid;
	BORDER-TOP: #525252 1px solid;
	FONT-SIZE: 12px;
	BORDER-LEFT: #525252 1px solid;
	COLOR: #000000;
	BORDER-BOTTOM: #525252 1px solid;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #FFFFFF;
	
	}
	SELECT {
	FONT-WEIGHT : NORMAL;
	BORDER-RIGHT: #525252 1px solid;
	BORDER-TOP: #525252 1px solid;
	FONT-SIZE: 11px;
	BORDER-LEFT: #525252 1px solid;
	COLOR: #000000;
	BORDER-BOTTOM: #525252 1px solid;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #FFFFFF;
	
	}
	
	.INPUTabo {
	BORDER-RIGHT: #999900 1px solid;
	BORDER-TOP: #999900 1px solid;
	FONT-SIZE: 12px;
	BORDER-LEFT: #999900 1px solid;
	COLOR: #999900;
	BORDER-BOTTOM: #999900 1px solid;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #FFFFFF;
	FONT-WEIGHT : BOLD; 
	cursor:pointer;
	
	}

#sdx_pdf {background-color:#f7f7f7;border:1px solid #dddddd;}

h1.titre_une{display:inline;}

.wire_title{font-family:arial;font-size:11px;color:#333;font-weight:bold;text-decoration:none;}
.wire_title:link{font-family:arial;font-size:11px;color:#333;font-weight:bold;text-decoration:none;}
.wire_title:hover{font-family:arial;font-size:11px;color:#333;font-weight:bold;text-decoration:underline;}
.wire_title:visited{font-family:arial;font-size:11px;color:#333;font-weight:bold;text-decoration:none;}
.wire_title:active{font-family:arial;font-size:11px;color:#333;font-weight:bold;text-decoration:none;}

.infolecteur{font-family:arial;font-size:16px;color:#990000;font-weight:bold;text-decoration:none;}
.infolecteur:link{font-family:arial;font-size:16px;color:#990000;font-weight:bold;text-decoration:none;}
.infolecteur:hover{font-family:arial;font-size:16px;color:#990000;font-weight:bold;text-decoration:underline;}
.infolecteur:active{font-family:arial;font-size:16px;color:#990000;font-weight:bold;text-decoration:none;}
.infolecteur:visited{font-family:arial;font-size:16px;color:#990000;font-weight:bold;text-decoration:none;}