/* MENU */

.menu {clear: both; padding-left: 0px; z-index: 10000; width: 1001px; height: 26px;}

#rub .marge0 {border-right: 0px; padding-right: 0px; border-top: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; border-left: 0px; cursor: pointer; padding-top: 0px; border-bottom: 0px}

#rub {padding-right: 0px; padding-left: 0px; z-index: 10000; left: 6px; padding-bottom: 0px; margin: 0px; padding-top: 0px}
#rub {padding-right: 0px; padding-left: 0px; z-index: 10000; padding-bottom: 0px; margin: 0px; line-height: 1; padding-top: 0px; list-style-type: none}
#rub UL {padding-right: 0px; padding-left: 0px; z-index: 10000; padding-bottom: 0px; margin: 0px; line-height: 1; padding-top: 0px; list-style-type: none}
#rub HR {background: #ccc; margin-left: 3px; width: 135px; color: #ccc; height: 1px}
#rub A {padding-right: 5px; display: block; padding-left: 5px; padding-bottom: 5px; width: auto; color: #000; padding-top: 5px; text-decoration: none}
#rub LI UL A:hover {display: block; width: 145px; background-color:#ffffef;}
#rub LI {font-size: 10px; float: left; width: auto}
#rub LI UL A {display: block; width: 145px}
#rub LI UL {border-right: #ecebcd 1px solid; padding-right: 0px; border-top: #ecebcd 1px solid; padding-left: 0px; left: -999em; padding-bottom: 0px; margin: 0px; border-left: #ecebcd 1px solid; width: 145px; padding-top: 0px; border-bottom: #ecebcd 1px solid; position:absolute; background-color: #ecebcd}
#rub LI UL UL {margin: -2em 0px 0px 10em; border-top-style: solid; border-top-color: #ccc; border-size: 0px;}
#rub LI:hover UL UL {left: -999em}
#rub LI.sfhover UL UL {left: -999em}
#rub LI:hover UL {left: auto}
#rub LI LI:hover UL {left: auto}
#rub LI.sfhover UL {left: auto}
#rub LI LI.sfhover UL {left: auto}
#rub LI H2 {padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px}
#rub LI H3 {padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px}
#rub LI H4 {padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px}

.menu1ouvert {padding-right: 0px; background-position: 0px 0px; display: block; padding-left: 0px; padding-bottom: 0px; margin: 0px; cursor: pointer; text-indent: -10000px; padding-top: 0px; height: 26px}
.menu2ouvert {padding-right: 0px; background-position: 0px 0px; display: block; padding-left: 0px; padding-bottom: 0px; margin: 0px; cursor: pointer; text-indent: -10000px; padding-top: 0px; height: 26px}
.menu3ouvert {padding-right: 0px; background-position: 0px 0px; display: block; padding-left: 0px; padding-bottom: 0px; margin: 0px; cursor: pointer; text-indent: -10000px; padding-top: 0px; height: 26px}
.menu4ouvert {padding-right: 0px; background-position: 0px 0px; display: block; padding-left: 0px; padding-bottom: 0px; margin: 0px; cursor: pointer; text-indent: -10000px; padding-top: 0px; height: 26px}
.menu5ouvert {padding-right: 0px; background-position: 0px 0px; display: block; padding-left: 0px; padding-bottom: 0px; margin: 0px; cursor: pointer; text-indent: -10000px; padding-top: 0px; height: 26px}
.menu6ouvert {padding-right: 0px; background-position: 0px 0px; display: block; padding-left: 0px; padding-bottom: 0px; margin: 0px; cursor: pointer; text-indent: -10000px; padding-top: 0px; height: 26px}
.menu7ouvert {padding-right: 0px; background-position: 0px 0px; display: block; padding-left: 0px; padding-bottom: 0px; margin: 0px; cursor: pointer; text-indent: -10000px; padding-top: 0px; height: 26px}
.menu8ouvert {padding-right: 0px; background-position: 0px 0px; display: block; padding-left: 0px; padding-bottom: 0px; margin: 0px; cursor: pointer; text-indent: -10000px; padding-top: 0px; height: 26px}
.menu9ouvert {padding-right: 0px; background-position: 0px 0px; display: block; padding-left: 0px; padding-bottom: 0px; margin: 0px; cursor: pointer; text-indent: -10000px; padding-top: 0px; height: 26px}
.menu10ouvert {padding-right: 0px; background-position: 0px 0px; display: block; padding-left: 0px; padding-bottom: 0px; margin: 0px; cursor: pointer; text-indent: -10000px; padding-top: 0px; height: 26px}


.menu1ouvert {background: url(http://www.la-croix.com/img/la-croix/commun/menu_actu.gif) no-repeat; width: 89px;}
.menu2ouvert {background: url(http://www.la-croix.com/img/la-croix/commun/menu_dossiers.gif) no-repeat; width: 82px;background-color:#ecebcd;}
.menu3ouvert {background: url(http://www.la-croix.com/img/la-croix/commun/menu_religion.gif) no-repeat; width: 79px;}
.menu4ouvert {background: url(http://www.la-croix.com/img/la-croix/commun/menu_archives.gif) no-repeat; width: 83px}
.menu5ouvert {background: url(http://www.la-croix.com/img/la-croix/commun/menu_multimedia.gif) no-repeat; width: 97px}
.menu6ouvert {background: url(http://www.la-croix.com/img/la-croix/commun/menu_newsletter.gif) no-repeat; width: 105px}
.menu7ouvert {background: url(http://www.la-croix.com/img/la-croix/commun/menu_abonnements.gif) no-repeat; width: 116px}
.menu8ouvert {background: url(http://www.la-croix.com/img/la-croix/commun/menu_services.gif) no-repeat; width: 84px}
.menu9ouvert {background: url(http://www.la-croix.com/img/la-croix/commun/menu_contact.gif) no-repeat; width: 76px}
.menu10ouvert {background: url(http://www.la-croix.com/img/la-croix/commun/menu_jemabonne.gif) no-repeat; width: 116px;}

