#menu a {
    display: block;
    color: #000;
}
 
#menu a:hover {
    text-decoration: none;
}

#menu a:focus {
	text-decoration: none;
}

#menu a:active {
	text-decoration: none;
}
 
    #menu ul.menuNiveau1 {
	height: 54px;
        background: none;
	margin: 0;
	padding: 0;
    }
 
    #menu ul.menuNiveau1 li {
        float: left;
        position: relative;
        margin: 0;
        padding: 0;
        background: none;
    }
	
	#menu ul.menuNiveau1JS li {
       		height: 44px;
		margin: 0;
       		padding: 5px 0;
        	background: none;
    }
    
		#menu ul.menuNiveau1JS li#uid8 {
			background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bt-conseil-general.png) no-repeat left top;			
		}
			
		#menu ul.menuNiveau1JS li#uid8Actif {
			background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bt-conseil-general.png) no-repeat left top;
			padding:0;
			height: 54px;			
		}
		
			#menu ul.menuNiveau1JS li.parentActif#uid8, #menu ul.menuNiveau1JS li.parentActif#uid8Actif {
				background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bt-conseil-general-on.png) no-repeat left top;			
			}
			
				#menu ul.menuNiveau1JS li#uid8Actif a {
					background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bt-conseil-general-actif.png) no-repeat left top;
					padding:5px 0 5px 5px;			
				}
				
		#menu ul.menuNiveau1JS li#uid7 {
			background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bt-solidarites.png) no-repeat left;
			
		}
			
		#menu ul.menuNiveau1JS li#uid7Actif {
			background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bt-solidarites.png) no-repeat left;
			padding:0;
			height: 54px;				
		}
		
			#menu ul.menuNiveau1JS li.parentActif#uid7, #menu ul.menuNiveau1JS li.parentActif#uid7Actif {
				background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bt-solidarites-on.png) no-repeat left top;
			}
			
				#menu ul.menuNiveau1JS li#uid7Actif a {
					background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bt-solidarites-actif.png) no-repeat left top;
					padding:5px 0 5px 5px;	
				}
				
		#menu ul.menuNiveau1JS li#uid6 {
			background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bt-savoir.png) no-repeat left top;		
		}
			
		#menu ul.menuNiveau1JS li#uid6Actif {
			background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bt-savoir.png) no-repeat left top;	
			padding:0;
			height: 54px;	
		}
		
			#menu ul.menuNiveau1JS li.parentActif#uid6, #menu ul.menuNiveau1JS li.parentActif#uid6Actif {
				background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bt-savoir-on.png) no-repeat left top;			
			}
			
				#menu ul.menuNiveau1JS li#uid6Actif a{
					background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bt-savoir-actif.png) no-repeat left top;
					padding:5px 0 5px 5px;		
				}
				
		#menu ul.menuNiveau1 li#uid5 {
			background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bt-amenagement.png) no-repeat left top;			
		}
		
		#menu ul.menuNiveau1 li#uid5Actif {
			background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bt-amenagement.png) no-repeat left top;
			padding:0;
			height: 54px;				
		}
		
			#menu ul.menuNiveau1JS li.parentActif#uid5, #menu ul.menuNiveau1JS li.parentActif#uid5Actif {
				background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bt-amenagement-on.png) no-repeat left top;			
			}
			
				#menu ul.menuNiveau1JS li#uid5Actif a {
					background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bt-amenagement-actif.png) no-repeat left top;
					padding:5px 0 5px 5px;		
				}
				
		#menu ul.menuNiveau1JS li#uid4 {
			background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bt-mode-de-vie.png) no-repeat left top;			
		}
			
		#menu ul.menuNiveau1JS li#uid4Actif {
			background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bt-mode-de-vie.png) no-repeat left top;
			padding:0;
			height: 54px;			
		}
			#menu ul.menuNiveau1JS li.parentActif#uid4, #menu ul.menuNiveau1JS li.parentActif#uid4Actif {
				background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bt-mode-de-vie-on.png) no-repeat left top;			
			}
			
				#menu ul.menuNiveau1JS li#uid4Actif a {
					background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bt-mode-de-vie-actif.png) no-repeat left top;
					padding:5px 0 5px 5px;		
				}
 
    #menu ul.menuNiveau1JS li a {
	width: 112px;
	margin: 0;
        padding-left: 5px;
        background: none;
	color: #fff;
	height:44px;
    }        
 
        #menu ul li ul.menuNiveau2 {
            height: 189px;
            background: none;
        }
 
        #menu ul li ul.menuNiveau2JS {            
			display: none;
			list-style: none;
        }
 
        #menu ul li ul.menuNiveau2JSactif, #menu ul.menuNiveau1JS li.parentActif ul.menuNiveau2 {
			display: block;
			height: 181px;
			width: 585px;
			border-bottom: solid 10px #465354;
        }
		
			#menu ul li#uid8 ul.menuNiveau2JSactif, #menu ul.menuNiveau1JS li.parentActif#uid8 ul.menuNiveau2, #menu ul li#uid8Actif ul.menuNiveau2JSactif, #menu ul.menuNiveau1JS li.parentActif#uid8Actif ul.menuNiveau2 {
				z-index: 1000;
				position: absolute;
				top: 54px;
				left: 0;
				background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bg-niv2-cG.png) no-repeat left top;
			}
			
			#menu ul li#uid7 ul.menuNiveau2JSactif, #menu ul.menuNiveau1JS li.parentActif#uid7 ul.menuNiveau2, #menu ul li#uid7Actif ul.menuNiveau2JSactif, #menu ul.menuNiveau1JS li.parentActif#uid7Actif ul.menuNiveau2{
				position: absolute;
				top: 54px;
				left: -117px;
				background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bg-niv2-solidarites.png) no-repeat left top;
			}
			
			#menu ul li#uid6 ul.menuNiveau2JSactif, #menu ul.menuNiveau1JS li.parentActif#uid6 ul.menuNiveau2, #menu ul li#uid6Actif ul.menuNiveau2JSactif, #menu ul.menuNiveau1JS li.parentActif#uid6Actif ul.menuNiveau2 {
				position: absolute;
				top: 54px;
				left: -234px;
				background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bg-niv2-savoir.png) no-repeat left top;
			}
			
			#menu ul li#uid5 ul.menuNiveau2JSactif, #menu ul.menuNiveau1JS li.parentActif#uid5 ul.menuNiveau2, #menu ul li#uid5Actif ul.menuNiveau2JSactif, #menu ul.menuNiveau1JS li.parentActif#uid5Actif ul.menuNiveau2 {
				position: absolute;
				top: 54px;
				left: -351px;
				background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bg-niv2-amenagement.png) no-repeat left top;
			}
			
			#menu ul li#uid4 ul.menuNiveau2JSactif, #menu ul.menuNiveau1JS li.parentActif#uid4 ul.menuNiveau2, #menu ul li#uid4Actif ul.menuNiveau2JSactif, #menu ul.menuNiveau1JS li.parentActif#uid4Actif ul.menuNiveau2 {
				position: absolute;
				top: 54px;
				left: -468px;
				background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/bg-niv2-mode-de-vie.png) no-repeat left top;
			}
 
        #menu ul li ul.menuNiveau2 li {
			clear: left;
			position: relative;
			left: 270px;
			height: 15px;
			color: #fff;
			padding: 0 0 0 12px;
			margin: 0;
			background: transparent url(http://www.cg13.fr/fileadmin/templates/images/menu/puce-niv2-li.gif) no-repeat left center;
        }
 
        #menu ul li ul.menuNiveau2 li a {
			width: 325px;
            		color: #fff;
			text-decoration: none;
			height: 15px;
            		margin: 0;
            		padding: 0;
            		font-weight:normal;
        }
		
		 #menu ul.menuNiveau1JS li#uid8Actif ul.menuNiveau2 li a, #menu ul.menuNiveau1JS li#uid7Actif ul.menuNiveau2 li a, #menu ul.menuNiveau1JS li#uid6Actif ul.menuNiveau2 li a, #menu ul.menuNiveau1JS li#uid5Actif ul.menuNiveau2 li a, #menu ul.menuNiveau1JS li#uid4Actif ul.menuNiveau2 li a {
			background: none;
			padding:0;
		}
		
			#menu ul li ul.menuNiveau2 li a:hover {
				text-decoration: underline;
			}
			
			#menu ul li ul.menuNiveau2 li a:focus {
				text-decoration: underline;
			}
			
			#menu ul li ul.menuNiveau2 li.actif {
				text-decoration: underline;
			}
 
#conteneur {
    margin-top: 200px;
}
 
#conteneurJS {
    margin-top: 0;
}