/* ------------------------------------------------- */
/* ------------------>>> Corps <<< ----------------- */
/* ------------------------------------------------- */
 
html, body {
    text-align: center;
    border: 0;
    margin: 0;
    padding: 0;
}
 
body {
    text-align: left;
    background: #0050a1 url(http://www.cg13.fr/fileadmin/templates/images/bg-body.png) no-repeat left top;
}
 
h1, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
	color: #465354;
}

h2 {
	padding: 0 0 2px 15px;
	margin: 0 0 10px 0;
	color: #465453;
}

h4 {
	padding: 0 0 8px 0;
}
 
p {
    padding: 0;
    margin: 0 0 8px 0;
	color: #465354;
}
 
ul, ol {
    list-style: none;
    margin: 0 0 8px 0;
    padding: 0;
	color: #465354;
}
 
blockquote {
    margin: 22px 40px;
    padding: 0;
}
 
img {
	margin: 0;
	padding: 0;
	border: 0;
}
 
hr {
	height: 0;
    color: #fff;
    background: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    margin: 0;
}

hr.clear {
	height: 0;
	border: none;
	margin: 0;
	clear: both;
}
 
kbd {
    border: 1px solid #000;
    padding: 1px 2px;
}
 
sup {
    position: relative;
    bottom: 0.3em;
    vertical-align: baseline;
}
 
sub {
    position: relative;
    bottom: -0.2em;
    vertical-align: baseline;
}
 
acronym, abbr {
    cursor: help;
    letter-spacing: 1px;
    border-bottom: 1px dashed;
}
 
 
 
/* ------------------------------------------------- */
/* ------------------>>> Liens <<<------------------ */
/* ------------------------------------------------- */
 
a {
    text-decoration: none;
}
 
a:hover, a:focus {
    text-decoration: underline;
}
 
 
 
/* ------------------------------------------------- */
/* --------------->>> Formulaires <<<--------------- */
/* ------------------------------------------------- */

form {
    margin: 0;
    padding: 0;
    display: inline;
}
 
textarea {
    line-height: 1.25;
}
 
label {
    cursor: pointer;
}
 
 
 
/* ------------------------------------------------- */
/* ------------------>>> Tables <<<----------------- */
/* ------------------------------------------------- */
 
table {
    border: 0;
    margin: 0 0 18px 0;
    padding: 0;
    border-collapse: collapse;
}
 
td {
    padding: 2px;
}
 
 
 
/* ------------------------------------------------- */
/* ----------------->>> Squelette <<<----------------*/
/* ------------------------------------------------- */
#site {
    position: relative;
    margin: 0 auto;
	width: 1000px;
	background: #fff url(http://www.cg13.fr/fileadmin/templates/images/bg-site.png) repeat-y left top;
}

#header {
	position: relative; 
	height: 339px;
	background: #465354 url(http://www.cg13.fr/fileadmin/templates/images/bg-header.png) no-repeat left top;
	margin: 0;
	padding: 0;
	border-bottom: solid 10px #465354;
}

#menu {
	position: relative;
	float: left;
	width: 585px;
	margin: 0;
	padding: 0;
}

#contenu {
	position: relative; 
	float: left;
	width: 784px;
	padding: 0;
	margin: 0;
	border-right: solid 10px #465354;
}

#articles {
	padding: 0 20px;
}

#colDroite {
	position: relative;
	float: right;
	width: 206px;
	
}

#footer {
	clear: both;
	position: relative;
	top: 35px;
	width: 1000px;
	height: 170px;	
	background: #023f80 url(http://www.cg13.fr/fileadmin/templates/images/fond-pied-page.png) repeat-x left top;
}

/*  ANCIEN FOOTER FOND BLANC 
#footer {
	clear: both;
	position: relative;
	top: 35px;
	width: 744px;
	height: 170px;
	border-top: solid 3px #465354; 
	margin: 20px;
}
*/