/* CSS Document */
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*--------------------------------   ID = vol   ---------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
body{
margin:0px 0px 0px 2px;
}
#vol{
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px;
	width:291px;
	margin:0px;
}

#vol ul{
	margin:0px;
	padding:0px;
}
/*------------------------------------------------------------------------------- DATE */
#vol .date {
	background:url(vol_03.gif) #00203e no-repeat top left;
	color:#FFFFFF;
	line-height:18px;
	text-align:right;
	padding-right:5px;
	font-size:9px;
}

/*------------------------------------------------------------------------------- TITRE */

#vol .titreDepart {
	background:url(vol_05.gif) #00417d no-repeat top left;
	color:#99b3cb;
	line-height:17px;
	text-align:right;
	padding-right:5px;
}

#vol .titreDepart ul {
	list-style-image:url(vol_07.gif);
}

#vol .titreArrivee {
	background:url(vol_12.gif) #00417d no-repeat top left;
	color:#99b3cb;
	line-height:19px;
	text-align:right;
	padding-right:5px;
}

#vol .titreArrivee ul {
	list-style-image:url(vol_07.gif);
}

#vol .titreDepart a{
	color:#99b3cb;
	text-decoration:none;
}
#vol .titreDepart a:hover{
	color:#99b3cb;
	text-decoration:none;
}
#vol .titreDepart a:active{
	color:#99b3cb;
	text-decoration:none;
}
#vol .titreDepart a:visited{
	color:#99b3cb;
	text-decoration:none;
}

#vol .titreArrivee a{
	color:#99b3cb;
	text-decoration:none;
}
#vol .titreArrivee a:hover{
	color:#99b3cb;
	text-decoration:none;
}
#vol .titreArrivee a:active{
	color:#99b3cb;
	text-decoration:none;
}
#vol .titreArrivee a:visited{
	color:#99b3cb;
	text-decoration:none;
}

/*------------------------------------------------------------------------------- HORAIRE */

#vol .horaire {
	color:#00417d;
	line-height:11px;
	margin-bottom:2px;
}

#vol .horaire ul{
	list-style-type:none;
	background:url(vol_11.gif) left top no-repeat;
	padding-left:15px;
}

#vol .horaire tr{
	background-color:#f2f2f2;
}

#vol .horaire tr.fonce{
	background-color:#dbe1e7;
}

#vol .horaire tr.encours{
	background-color:#f2f2f2;
	color:#d20010;
}
#vol .horaire tr.fonceEncours{
	background-color:#dbe1e7;
	color:#d20010;
}

#vol .horaire td{
	border-bottom:1px #7fa0be solid;
	font-size:9px;
}

/*------------------------------------------------------------------------------- TOUSVOL */

#vol .tousVol{
	color:#ff3c00;
	text-decoration:underline;
	text-align:right;
	font-weight:bold;
}

#vol img{
	margin-right:5px;
	vertical-align:middle;
}

#vol .tousVol a{
	color:#ff3c00;
	text-decoration:underline;
}

#vol .tousVol a:hover{
	color:#ff3c00;
	text-decoration:underline;
}

#vol .tousVol a:active{
	color:#ff3c00;
	text-decoration:underline;
}

#vol .tousVol a:visited{
	color:#ff3c00;
	text-decoration:underline;
}


/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*------------------------------   ID = formVol   -------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
#formVol{
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px;
	width:291px;
}

#formVol form{
	margin:0px;
}

#formVol input, #formVol select{
	font-size:11px;
}

#formVol select{
	width:158px;
}

#formVol .titreVol{
	margin-top:3px;
	padding-left:7px;
	background-color:#00417d;
}
#formVol .formulaire{
	background-color:#ffe87f;
	padding:3px 7px 7px 7px;
}
#formVol .label{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#00417d;
}

	#formVol .formulaire input.numVol{
		width:80px;
}

#formVol .btVol{
	vertical-align:bottom;
}