.M1		            	        { width:100%; vertical-align: top; }
#M1_1		            	    { width: 50%; vertical-align: top; padding-right:6px; width:250px; }
#M1_2		            	    { width: 50%; vertical-align: top; padding-left:6px; width:250px;}
#M1_1_FULL                      { width: 100%; vertical-align: top; padding-right:6px; }
#M1_2_FULL                      { width: 100%; vertical-align: top; padding-left:6px;}

#M1Table			            { width:100%; }

.M1 .imageTitre 		        { background: url("picto_Titre.gif") top left no-repeat; height: 30px; padding-left:10px; padding-top:5px; }
* > .M1 .imageTitre 		    { height: 25px; }

.M1 .texteTitre 		        { background-color: #775549; font-weight: bold; color: #FFF; height: 21px; padding: 4px 0 0 5px; font-size: 12px; }

.M1 .backgroundALaUne 		    { background: url("http://www.natixis.com/images/natixis/accueil_portail/visu_Titre1.jpg") top left no-repeat; padding-top: 70px; margin-bottom:-50px; margin-top: -6px;height:110px;  }
* > .M1 .backgroundALaUne 	    { margin-top: 0px; }

.M1 .backgroundInfoFin 		    { background: url("http://www.natixis.com/images/natixis/accueil_portail/visu_Titre2.jpg") top left no-repeat; padding-top: 70px; margin-bottom:-50px; margin-top: -6px;height:110px;height:110px;  }
* > .M1 .backgroundInfoFin 	    {  margin-top: 0px; }

.M1 .backgroundALaUneActionInvest 	    { background: url("http://www.natixis.com/images/natixis/accueil_actionn_invest/visu_Titre1.jpg") top left no-repeat; padding-top: 70px; margin-bottom:-50px; margin-top: -6px;height:110px; }
* > .M1 .backgroundALaUneActionInvest 	{ margin-top: 0px; }

.M1 .backgroundInfoFinActionInvest  	{ background: url("http://www.natixis.com/images/natixis/accueil_actionn_invest/visu_Titre2.jpg") top left no-repeat; padding-top: 70px; margin-bottom:-50px; margin-top: -6px;height:110px;  }
* > .M1 .backgroundInfoFinActionInvest 	{ margin-top: 0px; }

.M1 .backgroundInfoEnBref	    { background: url("http://www.natixis.com/images/natixis/accueill_natixisEnBref/visu_Titre1.jpg") top left no-repeat; padding-top: 70px; margin-bottom:10px; margin-top: -6px; }
* > .M1 .backgroundInfoEnBref 	{ margin-top: 0px; }

.M1 .backgroundEtudiant	        { background: url("http://www.natixis.com/images/natixis/accueil_RH/visu_Titre1.jpg") top left no-repeat; padding-top: 70px; margin-bottom:10px; margin-top: -6px; width:250px; height:50px; }
* > .M1 .backgroundEtudiant	 	{ margin-top: 0px; }

.M1 .texteAccroche		        { font-weight: bold; font-size: 10px; background-color: #FFFFFF; color:#581D74 }


.M1 .titreArticle          	    { background:transparent url(puceBleue_SousTitre.gif) no-repeat scroll 0% 10%; color:#581D74; font-weight:bold; padding-left:20px;padding-bottom:10px; !padding-bottom:20px; font-family: Verdana; font-size: 12px; } 
.M1 .texteArticle		        { color: #505050; text-align: justify; font-family: Verdana; font-size: 12px; !margin-top:-15px; }
.M1 .aligneTexteDiv		        { margin-top:5px; text-align:right; }
.M1 .aligneTexteDiv a:hover 	{ text-decoration:none; }
.M1 .lienArticle 		        { color:#775549; font-size:10px; font-weight:bold; text-decoration:underline; }
.M1 .lienArticle:hover 		    { text-decoration:none; }
.M1 .filetSeparateurArticle	    { color: #581D74; background-color: #581D74; height: 1px; border:0; margin: 10px 0 10px 0; }

.M1 h2 { font-size:12px;}