#M2 .imageTitre2					            { background: url("picto_Titre.gif") top left no-repeat; height: 30px; padding-left:10px; padding-top:5px; }
#M2 * >  .imageTitre2					        { background: url("picto_Titre.gif") 0% 0% no-repeat; height: 30px; }
#M2 .texteTitre2					            { background-color: #775549; font-weight: bold; color: #fff; height: 21px; padding: 4px 0 0 5px; font-size: 12px; }

#M2 .backgroundActuDeCom 		                { padding-top: 70px;width: 255px;   }
* > #M2 .backgroundActuDeCom 	                { margin-top: 0px; }

#M2 .backgroundNatixisEnBref	                { background: url("http://www.natixis.com/images/natixis/accueill_natixisEnBref/visu_Titre1.jpg") top left no-repeat; padding-top: 70px;width: 255px;   }
* > #M2 .backgroundNatixisEnBref	            { margin-top: 0px; }

#M2 .texteAccroche2					            { font-weight: Bold; font-size: 10px; color: #00A0C6; text-align: right; margin-bottom:15px; }

#M2 .texteAccroche2_lvl1			            { font-weight: Bold; font-size: 10px; color: #00A0C6; text-align: right; }
#M2 .texteAccroche2_lvl2			            { font-weight: Bold; font-size: 10px; color: #00A0C6; text-align: right; }
#M2 .texteAccroche2_lvl3			            { font-weight: Bold; font-size: 10px; color: #00A0C6; text-align: right; }

#M2 .texteAccroche2_lvl1_enbref			        { font-weight: Bold; font-size: 10px; color: #00A0C6; text-align: right; }
#M2 .texteAccroche2_lvl2_enbref			        { font-weight: Bold; font-size: 10px; color: #00A0C6; text-align: right; }
#M2 .texteAccroche2_lvl3_enbref			        { font-weight: Bold; font-size: 10px; color: #00A0C6; text-align: right; }

#M2 .blocDroitAcrocheAccueilRH				    { padding: 10px 10px 0 10px; text-align: justify; }
#M2 .texteAccrocheAccueilRH				        { font-weight: Bold; font-size: 14px; color: #581D74; margin-bottom: 5px; !margin-bottom: 0px;}
#M2 .texteAccroche2AccueilRH				    { font-weight: Bold; font-size: 10px; color: #0D0D37; margin-bottom:15px; }
#M2 .article_resume2					        { font-size:12px; }
#M2 .texteArticle2					            { color: #000; text-align: justify;font-family: Verdana; font-size: 10px; margin-top:10px;}

#M2 .texteArticle					            { color: #505050; text-align: justify; font-family: Verdana; font-size: 12px;  !margin-top:-15px; }
#M2 .aligneTexteDiv, .aligneTexteDiv2			{ margin:0; padding:0; margin-top:5px; text-align:right; !margin-top:0px; margin-bottom:5px;}
#M2 .aligneTexteDiv2 a:hover				    { text-decoration:none;}
#M2 .lienArticle, #M2 .lienArticle2				{ color:#775549; font-size:10px; font-weight:bold; text-decoration:underline; }
#M2 .lienArticle:hover, #M2 .lienArticle:hover	{ text-decoration:none; }

#M2 .textArticleAccueil3RH				        { font-weight: normal; padding-top:10px; text-align: justify; margin-left: -25px; }
#M2 .demiLargeurContentAccueilRH1 .natixisCAussi        { padding-left:30px; }
#M2 .demiLargeurContentAccueilRH1			    { width: 50%; }
#M2 .natixisCAussi					            { padding-left:30px; } 
#M2 .demiLargeurContentAccueilRH			    { width: 233px; vertical-align:top; }
#M2 .demiLargeurContentAccueilRH .stagiaires            { padding-left: 22px; }
#M2 .demiLargeurContentAccueilRH .stagiaires  .texte    { font-size:11px; vertical-align:60%;  }
#M2 .demiLargeurContentAccueilRH1 .natixisCAussi        { padding-left:50px; }
#M2 .demiLargeurContentAccueilRH1			    { width: 50%; }
#M2 .titreArticle2AlignAccueilRH			    {  height:20px; }
#M2 .titreArticle2AlignAccueilRH1			    {  height:20px; margin-left:32px; }

#M2 .titreArticle2AccueilRH				        { font-weight: Bold; font-size: 11px;  vertical-align: 100%; padding-left: 20px;  background: url("http://www.natixis.com/images/natixis/accueil_RH/puceBleue_SousTitre.gif") 0% 40% no-repeat;height: 20px; float:left;  color: #581D74; text-align:justify;}
#M2 .texteArticle2AccueilRH				        { float:left; font-size: 11px; color: #505050; text-align:justify;  }
#M2 .titreArticle  			        	        { background:transparent url(puceBleue_SousTitre.gif) no-repeat scroll 0% 10%; color:#581D74; font-weight:bold; padding-left:20px; padding-bottom:10px;!padding-bottom:20px;  font-family: Verdana; font-size: 12px; } 
#M2 .filetSeparateurArticle				        { color: #581D74; background-color: #581D74; height: 1px; border:0; margin: 10px 0 10px 0; !margin: 0; }
#M2 .filetSeparateurArticle2				    { color: #FFFFFF; background-color: #FFFFFF; height: 1px; border:0; margin: 0 0 5px 0; !margin: 0; }

#M2 h2 { font-size:12px;}

#M2 .aligneTexteH2 { font-size:14px;}

#M2 .tableRH						            { margin-top:-6px; }
* > #M2 .tableRH					            { margin-top:-5px; }
*+html #M2 .tableRH                             { margin-top:-6px; }
texteAccroche2_lvl1