#menu_nav1                                              { width:225px; padding-top:5px;}

*+html #menu_nav1                                       { padding-top:5px; }

#menu_nav1                                              { !padding-top:5px; }

#menu_nav1 .tableContent 				                { padding-top: 5px; font-weight: bold; font-size: 12px; color: #581D74;}
#menu_nav1 .texteRubriqueOFF2							{ font-size: 11px;font-weight: bold; color: #0D0D37; width: 210px; vertical-align: top; padding-left: 5px; }
#menu_nav1 .texteRubriqueOFF2 .level2					{ font-size: 11px;font-weight: bold; color: #0D0D37; }
#menu_nav1 .filetSeparateurNAV1					        { padding: 6px 0 7px 0 ; border-bottom: 1px solid #581D74; }
#menu_nav1 .filetSeparateurNAV1Offres				    { padding: 9px 0 7px 0 ; border-bottom: 1px solid #581D74; vertical-align: top;}
#menu_nav1 .filetSeparateurNAV1 a					    { text-decoration: none; font-size: 11px; color : #505050; font-weight: normal; }
#menu_nav1 .filetSeparateurNAV1 .sousMenu img			{ margin-right:6px; }
#menu_nav1 .filetSeparateurNAV1 .a1				        { font-weight: normal; color :#0E476F; text-decoration: none; font-size: 11px;}
#menu_nav1 .filetSeparateurNAV1 .sousMenu			    { padding-left:15px; }
#menu_nav1 .titreSousMenu 								{ color: #FFFFFF; background-color: #775549; font-size: 12px; height: 25px; border-bottom: 1px solid #581D74; padding-left: 5px; }
#menu_nav1 .boutonPubON									{ background: url("http://www.natixis.com/css/images/BtnPub_On.gif") center no-repeat; color: #FFFFFF;font-size: 11px; font-family: verdana; font-weight: bold; vertical-align: middle; text-align: center; }
#menu_nav1 .boutonPubOFF								{ background: url("http://www.natixis.com/css/images/BtnPub_Off.gif") center no-repeat;color: #FFFFFF; font-size: 11px; font-family: verdana; vertical-align: middle; text-align: center; }
#menu_nav1 .titreSousMenu br                            { display:none; }
#menu_nav1 .menu_puce_left                              { vertical-align:top; width:6px;}
#menu_nav1 .menu_puce_img                               { padding-top:5px; }