#menu_nav2 table                                { width:225px;margin-top:15px; } 
#menu_nav2 .liensRubrique .liensRubriqueSpace   { padding:5px 0pt; }
#menu_nav2 td                                   { border-bottom:1px solid #581D74; }
#menu_nav2 table                                { font-family:Verdana; font-size:12px; }
#menu_nav2 .imageRubrique                       { padding:8px 0pt 5px; vertical-align:top; }
#menu_nav2 .liensRubrique .liensRubriqueSpace   { padding:5px 0pt; }
#menu_nav2 a                                    { color:#581D74; font-weight:bold; text-decoration:none; }
