.PAR .imageTitre2		    { background: url("picto_Titre.gif") top left no-repeat; height: 27px; padding-left:10px; padding-top:5px; font-size:12px;}
* > .PAR .imageTitre2 		{ height: 25px; padding-top:5px; }

.PAR .texteTitre2		    { background-color: #775549; font-weight: bold; color: #FFF; height: 23px; padding: 2px 0 0 5px; }
* > .PAR .texteTitre2		{ background-color: #775549; font-weight: bold; color: #FFF; height: 21px; padding: 4px 0 0 5px; }

.PAR .titreLienForumRH1     { padding-left:15px; }

.PAR .titreLienForumRH a	{ font-weight: bold; font-size: 11px; color: #505050; }
.PAR .titreLienForumRH a:hover	{ color: #505050 ;  text-decoration:none; }
.PAR .texteForumRH		    { font-size: 11px; color: #505050; margin-top:3px; }
.PAR .blocForum td,
.PAR .blocForum2 td		    { vertical-align:top; }

.PAR .blocForum			    { margin-top: 10px; !margin-top: 5px; }
.PAR .blocForum2		    { !margin-top: -20px; }

.PAR .lienArticle		    { color:#581D74; font-size:10px; font-weight:bold; text-decoration:underline; }
.PAR .lienArticle:hover 	{ text-decoration:none; }

.PAR .aligneTexteDiv2		{ margin-bottom:13px; !margin-bottom:12px; }
.PAR .temoignage_desc       { font-size: 11px; color: #505050; }