#calendrier {
    position: absolute;
    width: 195px;
    top: 200px;
    left: 200px;
    padding: 0px;
    border: 1px solid #666666;
    background-color: #ffffff;
}
#calendrier .enteteCalendrier img {
    float: right;
    border: none;
}
#calendrier .enteteCalendrier {
    text-align: center;
    width: 100%;
    margin: 0px;
    height: 20px;
    font-weight: bold;
    color: #666666;
    background: #FFCC00 url(barre_jaune_milieu.gif) repeat-x;
}
#calendrier .titre {
    margin: 0px;
    padding: 2px 0 0 0;
    font-weight: bold;
    color: #666666;
}
#calendrier .enteteSemaine {
    font-size: 10px;
}
#calendrier a {
    text-decoration: none;
    color: #666666;
}
#calendrier .joursVides {
    color: #000000;
    background-color: #e5e5e5;
}
#calendrier .joursNormaux {
    color: #000000;
    background-color: #e5e5e5;
}
#calendrier .aujourdHui {
    font-weight: bold;
    background-color: transparent;
}
#tableau_calendrier {
    padding-left: 5px;
    padding-bottom: 5px;
}