/*******************************************************************************
************************   surdéfinition des couleurs   ************************
*******************************************************************************/

body {
    background-color: #c0c0c0;
}
a {
    color: #EF780E;
}
h1 {
    color: #EF780E;
    margin: 0px 0px 0px -10px;
}
h2 {
    color: #5F5353;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-indent: 0px;
    border-bottom: 1px solid #808080;
}
h3 {
    color: #EF780E;
    padding: 5px 0px 0px 0px;
}



.champ, .bouton {
    color: black;
    background-color: #ebebeb;
    border: 1px solid #333333;
}
.champ:hover, .bouton:hover {
    background-color: #fefefe;
}

.entete_tableau{
    color: white;
    background-color: #17599f;
}

.moduleCatalogue .liste th {
   color: white;
   background-color: #17599f;
}
.moduleCatalogue .fiche h1{
   color: white;
   background-color: #0066cc;
}
.moduleCatalogue .fiche h2 {
    color: #9dc82e;
    background: none;
}


/***************************         menus          ***************************/

#menu li a {
   color : white;
   background-color: none;
   padding: 2px 5px;
}
#menu li a:hover {
   color : white;
   background-color: #808080;
}
#menu .sousMenu li a {
   color: black;
   background-color: white;
}
#menu .sousMenu{
	border:1px solid #808080;
}
#menu .sousMenu .sousSousMenu li a {
   color: black;
   background-color: transparent;
}
#menu .sousMenu li, #menu .sousMenu .sousSousMenu li {
   background-color : #808080;
   border-bottom: 1px dotted white;
}
#menu .sousMenu li a:hover, #menu .sousMenu .sousSousMenu li a:hover {
   color : white;
   background-color: #808080;
}


/***************************   structure générale   ***************************/


#conteneur {
    color: black;
    background: white ;
    background: url(fond.jpg) scroll 0px 164px;
}

#header {
    background: url(header.jpg) no-repeat;
}

#corps {
    color: black;
}

#gauche a {
   color: black;
}

#footer {
    color: white;
    background-color: #808080;
}

#edito {
    color: white;
    background-color: #b8ca30;
}

#actuAccueil {
    color: #666666;
    background-color: #f5f5f5;
}
#actuAccueil a {
    color: #cd1a73;
}

#documents {
    background: url(zoneBas.jpg) no-repeat bottom left;
}
#documentsHaut {
    color: white;
    background: #17599f url(zoneHaut.jpg) no-repeat top left;
}
#documentsTitre {
    border-bottom: 1px solid #B8CA30;
}
#documents li {
    color: #B8CA30;
}
#documents a {
    color: white;
}

#signature {
    color: #333333;
    background-color: #c0c0c0;
}
#signature a{
    color:#333333;
}



#calendrier {
    border: 1px solid #666666;
    background-color: #ffffff;
}
#calendrier .enteteCalendrier {
    background-color: #17599f;
}
#calendrier .titre {
    color: white;
}
#calendrier a {
    color: #666666;
}
#calendrier a:hover {
    background-color: white;
}
#calendrier .joursVides {
    color: #000000;
    background-color: #e5e5e5;
}
#calendrier .joursNormaux {
    color: #000000;
    background-color: #e5e5e5;
}
#calendrier .aujourdHui {
    font-weight: bold;
    background-color: transparent;
}