a:link,
a:visited{
	background: transparent;
	color: #BA0C0E;
	text-decoration: none;
	}
a:hover,
a:active{text-decoration: underline;}
a:focus {-moz-outline: none;}
a img{border: 0;}

div.headerbox li a:link,
div.headerbox li a:visited,
div.headerbox li a:hover,
div.headerbox li a:active{
	color: #FFF;
	text-decoration: none;
	}

h3 a:link,
h3 a:visited,
h3 a:hover,
h3 a:active,
p.teaserIntro a:link,
p.teaserIntro a:visited,
p.itemIntro a:link,
p.itemIntro a:visited{color: #000;}
p.itemIntro a:hover,
p.itemIntro a:active{
	text-decoration: none;
	color: #333;
	}

.teaser a:hover { text-decoration: none; }

/* RELATED Links */
#article .teaser ul li {
    background: transparent url("http://levif.rnews.be/images/triangleRed.gif") no-repeat left 4px;
    padding-left: 10px;
}

#morenews ul li {
    background: transparent url("http://levif.rnews.be/images/triangleGrey.gif") no-repeat left 4px;
    padding-left: 10px;
    margin-bottom: 3px;
}

#morenews ul li a {
    color: #000;
}

#article .teaser ul li a:link,
#article .teaser ul li a:visited,
#article .teaser ul li a:hover{
	color: #AC090B;
	text-decoration: none;
	}
#article .teaser ul li a:hover,
#article .teaser ul li a:active{text-decoration: underline;}

/* Sections */
h2.sectionlabel a:link.section,
h2.sectionlabel a:visited.section,
h2.sectionlabel a:hover.section,
h2.sectionlabel a:active.section,
h2.sectionlabel a:link,
h2.sectionlabel a:visited,
h2.sectionlabel a:hover,
h2.sectionlabel a:active{
	background: #AC090B url("http://levif.rnews.be/images/bg_teasersubtitle.gif") repeat-x 0 0;
	color: #FFF;
	padding: 0 5px;
	margin-right: 0.2em;
	text-decoration: none;
	text-transform: uppercase;
	}	

#go div.sectionlabel span.section a:link,
#go div.sectionlabel span.section a:visited,
#go div.sectionlabel span.section a:hover,
#go div.sectionlabel span.section a:active,
#go div.sectionlabel span.section a{
	color: #FFF;
	padding: 0 5px;
	text-decoration: none;
	text-transform: uppercase;
    background: #AC090B url("http://levif.rnews.be/images/bg_teasersubtitle.gif") repeat-x 0 0;
    font-weight: bold;
}	

#go div.sectionlabel span.section{
    float:left;
    background: #AC090B url("http://levif.rnews.be/images/bg_teasersubtitle.gif") repeat-x 0 0;
    margin-right: 1em;
    height: 13px;
    padding-top: 5px;
    padding-bottom:0px;
	overflow: hidden;
	font-size: 11px;
}

h2.sectionlabel span.section {
	background-color: #AC090B !important;
	color: #FFF !important;
	padding: 0 5px !important;
	margin-right: 0.2em !important;
	text-transform: uppercase; font-size: 0.5em;
	}
#contentsub h3, #contentsub h3 a {
	margin-bottom: 0;
	margin-top: 0;
	}
#contentsub div.column2 h3, #contentsub div.column2 h3 a { font-weight: bold; }

/* RED ARROW links */
a:link.arrow,
a:visited.arrow,
a:hover.arrow,
a:active.arrow{
	background: transparent url("http://levif.rnews.be/images/triangleRed.gif") no-repeat left center;
	padding-left: 10px;
	}

/* RED GREY ARROW links */
a:link.grey_arrow,
a:visited.grey_arrow,
a:hover.grey_arrow,
a:active.grey_arrow{
	background: transparent url("http://levif.rnews.be/images/triangleGrey.gif") no-repeat left center;
	color: #000;
	padding-left: 10px;
	}

/* links in dl's */
dl dt a:link,
dl dt a:visited,
dl dt a:hover {
	background: transparent;
	color: #000;
	text-decoration: none;
	}

dl dt a:hover,
dl dt a:active{text-decoration: underline;}

/* BUTTONS */
span.button {
    background: url("http://levif.rnews.be/images/button_left.gif") no-repeat left 3px;
    padding-top: 3px;
    padding-bottom: 4px;
    height: 15px;
}

span.button a:link,
span.button a:visited,
span.button a:hover,
span.button a:active {
    letter-spacing: -0.5px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #444;
    background: url("http://levif.rnews.be/images/button_right.gif") no-repeat right 3px;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-right: 5px; 
    padding-left: 5px;
	height: 15px;
}

/* PAGING */

.paging a {
    font-size: 1.2em;
}

.paging a.highlight {
    color: #000;
    font-weight: bold;
}