/* Levif.be
------------------------------------------------------------------*/

/* General
------------------------------------------------------------------*/
div.Left {
	float:left;
}

div.Right {
	float:right;
}

div.Center {
	margin-left:auto;
	margin-right:auto;
}

#vif-club #contentsub p {
	line-height: 1.5em;
}

#vif-club .BOX {
	background:#EEEEEE none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	margin-bottom:10px;
	padding:5px;
}

#vif-club .BOX a {
	font-size:1.5em;
	font-weight:bold;
}

body {
  background: #EBECEB none repeat scroll 0% 50%;
	font: 62.5% Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;	
	}

/* Fonts
------------------------------------------------------------------*/

div { font-size: 1em; }

dl, td, li, input {font-size: 1.2em;}

#sideContent td,
#sideContent li,
#sideContent input{font-size: 1.1em;}

/* Small */

h2 span.date {
	font-size: 1.0em;
	font-weight: normal;
	background: transparent;
	color: #3E4245;
	}

table{font-size: inherit;}

li ul li,
td p,
li p,
ul li ul li,
ul li ul li p{font-size: 1.0em;}

/* Paragraphs
------------------------------------------------------------------*/
p {
	font-size: 1.2em;
	line-height: 1.2em;
	margin-bottom: 1.0em;
	}

#sideContent p{
	font-size: 1.1em;
	line-height: 1.5em;
	}

p.intro{font-weight: bold;}

p.caption {
	width: 200px;
	float: right;
	margin: 0 0 0.8em 0.8em;
	font-size: 0.9em;
	color: #3E4245;
	}

p.captionLeft {
	width: 200px;
	float: left;
	margin: 0 0.8em 0.8em 0;
	font-size: 0.9em;
	color: #3E4245;
	}

/* Headers
------------------------------------------------------------------*/

h2 {
	background: transparent;
	color: #000;
	font-family: "Trebuchet MS", "Arial Narrow", Helvetica, Arial, sans-serif;
	font-size: 2.1em;
	font-weight: bold;
	word-spacing: -0.1em;
	text-transform: uppercase;
	border-bottom: 2px solid #000;
	margin-bottom: 0;
	}

h3,
#contentLeft h2 {
	font-size: 1.7em;
	font-weight: bold;
	}

#contentLeft h2 {
	border-bottom: 0;
	background: none;
}

h2.sectionlabel {
	/*line-height: 45%;*/
	margin: 0;
	padding: 0;
	}
	
#topitem.teaser h3{font-size: 2.0em;}

.topitem h3 a {	font-size: 1.2em;}

#contentLeft .teaser.elections img {
    width: auto;
}

h3 a.section,
.topitem h3 a.section,
h2.sectionlabel a {
	font-size: 0.65em;
	font-weight: bold;
	}

#topitem h2 a.section{font-size: 0.7em;}

h2.sectionlabel span.date{font-size: 0.7em;}
#article .teaser h2.sectionlabel span.date{
    font-size: 0.8em;
    word-spacing: 0;
    }

#article .teaser,
#article h2.sectionlabel {
    border: 0;
}

h4{
	font-size: 1.2em;
	font-weight: bold;
	}



/* Site-header
------------------------------------------------------------------*/

#bannerTop, #bannerBottom {
	margin: 5px auto;
	margin-bottom: 0;
	}
	
#bannerTop table { margin: 0 auto; }

#bannerTop p { display: none; }

#headerWrapper {
	background: url('http://levif.rnews.be/images/header_bg2.gif') repeat-x;
	height: 135px;
	width: 100%;
	}

#header {
	width: 1007px;
	height: 101px;
	margin: 0 auto;
	}

#header h1 a {
  	height: 85px;
  	margin: 0;
	width: 270px;
	float: left;
	text-indent: -9999em;
	display: block;
	background: transparent url('http://levif.rnews.be/images/logo_levif.gif') no-repeat left top;
	font-size: 1px;
	}

#vif-club #header h1 a {
	background: transparent url('http://levif.rnews.be/images/logo_vifclub.gif') no-repeat left top;
	}
	
div#reductions div.teaser,
div#reductions div.teaser a img {
	position:relative
}

#skip { 
  	position: absolute;
  	visibility: hidden;
	}
	
/* "Powered-by" line */

#header .poweredby {
	float: left;
	color: #FFF;
	display: inline;
	/*margin-right: 5px;*/
	margin-left: 103px;
	margin-top: -20px;
	font-size: 1.1em;
	font-weight: bold;
	line-height: .75em;
	height: 10px;	
	}

#header .powered {
	padding-left: 0;
	margin: 0;
	}

#header .powered li {
	float: left;
	margin-right: 7px;
	font-size: 1.1em;
	display: inline;
	line-height: 10px;
	}

#header .powered li a {
	color: #FFF;
	text-decoration: none;
	}
#header .powered li a:hover {
	text-decoration: underline;
	}	

#header .powered li a:hover { text-decoration: underline; }	

/* Header-boxes */
	
#header .headerbox {
	float: left;
	height: 78px;
	overflow: hidden;
	width: 285px;
	padding: 3px 3px 1px;
	color: #FFF;
	}

#header .headerbox a {
	color: #FFF;
	text-decoration: none;
	font-weight: normal;
	}

#header .headerbox p {
    margin: 0;
    padding: 0;
    }

#header .headerbox h3 {
    font-size: 1.3em;
    margin: 0;
	}
    
#header .headerbox h3 a {
    font-weight: bold;
	}

#header .headerbox ul {
	padding: 0 5px 0;
	margin: 5px 0 0;
	list-style: none;
	}

#header .headerbox img {
	float: left;
	border: 1px solid #000;
	width: 72px;
	height: 72px;
	margin: 3px 5px 0 0;
	}
	
/* Top-navigation
------------------------------------------------------------------*/
#topNavWrapper {
	width: 963px;
	height: 30px;
	margin: 0 auto 0 auto;
	background: #FFF url('http://levif.rnews.be/images/topnav_bg.gif') repeat-x 0px 0px;
	position: relative;
	}

#printhead {
	display: none;
	}

/* Date- + login-boxes */

#login {
	float: left;
	font-size: 1em;
	margin-top: 8px;
	color: #898989;
	}
	
#login {
	width: 250px;
	height: 0;
	}
	
#login p,
#rss p {
	font-weight: bold;
	margin: 0;
	padding: 0;
	}
	
#login p a {
    background: url('http://levif.rnews.be/images/icon_lockG.gif') no-repeat 0px 1px;
	text-decoration: none;
    padding-left: 13px;
	}

#login p a:hover {
	text-decoration: underline;
	}


/* Search */

#search {
	float: right;
	text-align: right;
	width: 350px;
	position: absolute;	
	top: 5px;
	right: 185px;
    margin-top: 2px;
    vertical-align: top;
	}

#search form {
	margin-top: 0;
	padding: 0;
	height: 17px;
	}

#search .searchfield {
	width: 253px;
	padding: 1px;
	border-top: 1px solid #C7C7C7;
	border-right: 1px solid #C7C7C7;
	border-bottom: 1px solid #A8A8A8;
	border-left: 1px solid #A8A8A8;
	}

#rss {
	float: right;
	margin-top: 8px;
	height: 18px;
}
#rss a {
	font-weight: bold;
	color: #666;
	padding-bottom: 3px;
	padding-top: 0px;
}

#rss a.rssicon {
	background: url("http://levif.rnews.be/images/icon_rss.gif") no-repeat 0px 0px;
	height: 18px;
	padding-left: 20px;
	margin-left: 20px;
}
#rss a.mobileicon {
	background:transparent url("http://levif.rnews.be/images/ico_mobile.gif") no-repeat scroll 0 0;
	height:18px;
	margin-left:15px;
	padding-left:15px;
}

/* Content
------------------------------------------------------------------*/
#wrap {
	width: 1007px;
	padding: 0px;
	margin: 0px auto;
	background: #EBECEB;
	}
	
/* navigation-column */

#leftcolumn {
	float: left;
	width: 143px;
	}
	
#sethomepage p {
	visibility: hidden;
	}

/* skyscraper-column */

#rightcolumn {
	min-width: 120px;
	float: left;
	text-align: left;
	margin:0;
	background: #EBECEB 	
	}
	
#SKY {
	margin: 5px 0;
	}

/* content-column */

#content,
#contentsub {		
	width: 690px;
	float: left;
	padding: 0 5px 5px;
	background: #EBECEB; 
	}
#contentsub {
	background: #FFF;
	width: 682px;
	margin: 0px 3px;
	padding-top: 5px;
	border: 1px solid #CCC;
	}
#contentsubgoogle {
	background: #FFF;
	width: 674px;
	margin: 0px 3px;
	padding-top: 5px;
	border: 1px solid #CCC;
	}    
#contentsubgoogle iframe {
	width: 674px;
}

#sideContent {
	float: right;
	width: 300px;
	margin-top: 4px;
	}
#articleContainer {
	float: left;
	width: 375px;
	}
#items {
	width: 375px;
	float: left;
	margin-top: 5px;
	clear: both;
	}
#contentsub dl dd a:link {text-decoration: none;}
#contentsub dl dd a:hover {text-decoration: underline;}
#contentsubno {
	background-color: #FFFFFF;
	padding-right: 10px;
	padding-left: 10px;
	width: 646px;
	border-top: none;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	}
	
.hidden {
	display: none;
}
	
/* Site-footer
------------------------------------------------------------------*/
#footer {
	background-color: #999;
	color: #FFF;
	text-align: center;
	padding: 5px;
	font-size: 1.1em;
	}

#footer a:link,
#footer a:visited,
#footer a:active {
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	}

#footer a:hover {text-decoration: underline;}

#printfooter {display: none;}

/* Sub-pages
------------------------------------------------------------------*/

#contentsub h2 {
	background: transparent;
	color: #000;
	font-family: "Trebuchet MS", "Arial Narrow", Helvetica, Arial, sans-serif;
	font-size: 2.1em;
	font-weight: bold;
	word-spacing: -0.1em;
	text-transform: uppercase;
	border-bottom: 2px solid #000;
	margin: 0 0 .7em;
}

.sportKanaal #contentsub h2 { 
	background: transparent url("http://levif.rnews.be/images/logo_sportmagazine.gif") no-repeat 65px 0px;
}

#sideContent #nonStopVoetbalNieuws {
    margin-top:0;
}

#sideContent #nonStopVoetbalNieuws h4.titlebar{
    background:#AC090B url(http://levif.rnews.be/images/bg_teasertitle.gif) repeat-x scroll 0 0;
    border:0 none;
    color:#FFFFFF;
    font-size:1.2em;
    font-weight:bold;
    height:1%;
    margin-bottom:3px;
    margin-top:0;
    padding:3px 0 3px 3px;
    text-transform:uppercase;
}

#sideContent #nonStopVoetbalNieuws .news {
    background-color:#FFFFFF;
    height:15em;
    overflow:auto;
}

#sideContent #nonStopVoetbalNieuws div ul {
    height:auto;
    overflow:visible;
    background:transparent url(http://levif.rnews.be/images/dotted-line.gif) repeat-x scroll left bottom;
    margin:0;
    padding:0 0 1px;
}

#sideContent #nonStopVoetbalNieuws ul li {
    background:transparent url(http://levif.rnews.be/images/icon_belga.gif) no-repeat scroll left top;
    font-size:1.2em;
    list-style-type:none;
    padding-left:0;
}

#sideContent #nonStopVoetbalNieuws ul li a:link ,
#sideContent #nonStopVoetbalNieuws ul li a:visited{
    color:#000000;
    display:block;
    font-weight:normal;
    padding:5px 5px 0 3px;
    text-decoration:none;
}

#sideContent #nonStopVoetbalNieuws ul li a {
    background:transparent url(http://levif.rnews.be/images/icon_belga.gif) no-repeat scroll left top;
}

#sideContent #nonStopVoetbalNieuws{
    background:#FFFFFF none repeat scroll 0 0;
    border:1px solid #C7C7C7;
    margin-bottom:3px;
    margin-top:3px;
}

#header #logosport a {
    background:transparent url(http://levif.rnews.be/images/sport/logosport.gif) no-repeat scroll left 7px;
    display:block;
    float:left;
    font-size:1px;
    height:85px;
    margin:0;
    text-indent:-9999em;
    width:270px;
}

#contentsub h2.dossierTitel {
    border: 0;
    font-size: 18px;
    }
    
#contentsub table {
	background: #CCC;
	margin-top: 10px;
	margin-bottom: 10px;
	}
	
#contentsub #commententry table {
  background: none;
}

#contentsub th {
	background: #F0F0F0;	
	}

#contentsub td {
	background: #FFFFFF;	
	}

#contentsub p.print {
	margin-top: 30px;
	border: none;
	padding: 5px;
	text-align: right;
	}

#contentsub div.paging {
	margin-top: 10px;
	display: block;
	clear: both;
	padding: 3px;
	background: #F0F0F0;
	border: 1px solid #CCCCCC;
	text-align: center;
	}

#contentsub div.paging span {
	font-size: 12px;
	}

#contentsub div.paging a {
	font-size: 12px;
}

#contentsub div.paging .previous {
    float: left;
}

#contentsub div.paging .next {
    float: right;
}

#contentsub table.form,
#contentsub table.form th {
	background-color: #fff;
}

#contentsub table.form th,
#contentsub table.form td  {
	padding: 10px 12px 0px 8px;
}

#contentsub table.form .top {
	padding-top: 0px;
	vertical-align: top;
}


/* -------------------------------------------------------- Alert boxes */ 

#contentsub .alert,
.alert {
	padding: 5px;
	background: #F0F0F0;
	border: 1px solid #AC090B;
	margin: 10px auto;
	/*text-align: center;*/
	}

#contentsub .alertcenter {
	padding: 5px;
	background: #F0F0F0;
	border: 1px solid #AC090B;
	margin: 10px auto;
	text-align: center;
	}

#contentsub .alert p {
	margin: 3px 0;
	}

#contentsub .alert h2,
.alert h2  {
	margin: 0;
	font: 1.6em/1.2em Geneva, Arial, Helvetica, sans-serif;	
	}

#contentsub .alert ul li {
	list-style: square outside;
	font-weight: bold;
	margin-left: -26px;
	padding-bottom: 0;
	padding-top: 0;
	}

#contentsub .alert ul li a:link {
	font-weight: bold;
	text-decoration: none;
	}
	
#contentsub .alert  ul li ul li {
	list-style: disc outside;
	font-weight: normal;
	padding-bottom: 3px;
	padding-top: 3px;
	}
	
/* -------------------------------------------------------- Knack deze week (TOC) */
 
#contentsub #tocText .datum {	
	font-weight: bold;
	text-align: right;
	margin-top: 10px;
	}

#contentsub #tocText h2 {
	font-size: 1.1em;
	}

#contentsub #tocText p a:link {
	font-weight: bold;
	text-decoration: none;
	color: #666666;
	}

#contentsub #tocText p a:hover {
	font-weight: bold;
	text-decoration: underline;	
	}

#contentsub #tocText p {
	margin: 0 0 5px 10px;
	}

#contentsub #tocText p.intro {
	margin-bottom: 10px;
	margin-top: 0px;
	}

/* -------------------------------------------------------- Teasers lists (e.g. dossiers) */ 

#contentsub #dossiers h3 {
	color: #AC090B;
	font-size: 1.2em;
	padding: 5px;
	background: #F0F0F0;
	border: 1px solid #CCCCCC;
	margin-bottom: 2px;
	margin-top: 0.5em;
  	}

#dossiers dl.teaser {	
	height: 100px; 
	padding-bottom: 5px;
	}

#dossiers dl.teaser dt a.pthumb { float: right; } 
 
#dossiers .teaser dt a {
	font-size: 1.2em;
	color: #AC090B;
	font-weight: normal;
	}

#dossiers .teaser dd {
	width: 570px;
	}

#dossiers .teaser dd b {
	font-size: .9em;
	font-weight: normal;
	color: #666;
	text-transform: lowercase;
	}

#dossiers .teaser {
	border-bottom: 1px solid #CCC;
	border-top: none;
	border-right: none;
	border-left: none;
	}
	
#contentsub dl {
  	margin:0.5em 0;
 	padding:0;
  	list-style:none;
  	}

#contentsub dt {
  	clear:left;
  	font-weight:bold;
  	}

#contentsub dt a {
	padding-top: 3px;
	font-weight:bold;
	}

#contentsub dd, #content dd{
  	margin:0 0 1em;
  	padding:0;
  	}

#contentsub dd ul {
  	margin:0;
  	padding:0;
  	}

#contentsub dd li {
  	width:100%;
  	padding:0;
  	margin:0;
  	text-indent:0;
  	}

#contentsub .teaser dd {
  	margin-bottom: 0.75em;
  	}

#contentsub .teaser a.pthumb {
  	float:left;
  	display:block;
  	margin:0;
  	width:100px;
  	height:100px;
  	padding: 0px 3px 3px 0px;
  	}

#contentsub a.pthumb {
  	margin: 0px 5px 10px 0;
  	}
  
#contentsub .pthumb img {
	display:block;
  	}

#contentsub #dossiers .clearer {
	clear: both;
	height: 0;
	display: inline;
	}

ul.horizontal,
ul.horizontal li,
ol.horizontal,
ol.horizontal li{
	display: inline;
	list-style-position: inside;
	list-style-type: none;
	padding-left: 0;
}

ul.relatedLinks {
	margin: 0;
	padding-left:0;
    clear: left;
}
ul.relatedLinks li{padding-right: 1.0em;}
ul.relatedLinks li img{
		margin-bottom: -2px;
		margin-left: 0.5em;
}

/* More news list */

#morenews {
    margin-top: 10px;
}
#morenews h2.sectionlabel a.section { 
font-size: .75em;
}
#morenews h4 {
	font-size: 0.9em;
	margin-bottom: 3px;
	margin-top: 12px;
	padding-left: 10px;
	}

#morenews ul {
    margin: 5px 3px 0;
    padding-left: 0;
}

/* -------------------------------------------------------- Blog teasers (included page) */ 

#teasers {
	text-align: left;
	background: #FFFFFF;
	padding: 0;
	margin: 0;
	width: 100%;
	}

#teasers dt {
	float: right;
	font-weight: bold;
	}
	
#teasers dd {
	margin: 0 0 15px 130px;
	}
	
#teasers  dd ul {
	margin: 5px 0 0;
	padding: 0;
	clear: both;
	}
	
#teasers dd li {
	background:url(http://levif.rnews.be/images/blog/icon_article.gif) no-repeat 0px 0px;
	list-style: none;
	padding-left: 17px;
	padding-bottom: 5px;
	font-size: 1em;
	}
	

#teasers dd.image {
	float: left;
	margin: 0;
	}
	
#teasers dd.list {
	float: left;
	margin: 0;
	clear: both;
	}
	
#teasers dd.dotline {
	border-bottom: 1px dotted #AC090B;
	height: 10px;
	clear: both;
	margin-left: 0;
	}

/* Articles
------------------------------------------------------------------*/

#article { 
	display: block;
	width: 100%;
	/*width: 300px;
	float: left;*/
	}

#article h2.articletitle {
	margin-top: 10px;
	padding: 0;
	border: 0;
	text-transform: none;
	background: none;
	}
		
#article h3,
#contentsub #dossiers h3 {
	margin: 10px 0;
	padding: 0;
	color: #000000;
	font: 1.5em/1.3em "Lucida Grande", "Trebuchet MS", verdana, helvetica, arial, sans-serif;
	}

#article p {
	line-height: 1.5em;
	}

#article hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 1px solid #CCCCCC;
	border-bottom: none;
	}

#article .INL {
	font-size: 1.1em;
	font-weight: bold;
	}
	
#article .BOX {
	background: #EEEEEE;
	border: 1px solid #CCCCCC;
	padding: 5px;
	margin-bottom: 10px;
    clear: both;
	}

#article .BOX p {
	margin-top: 0;
	margin-bottom: 0;
	}

#article ul.BUL {
	padding-left: 0;
	margin-left: 10px;
	}

#article ul.BUL li {
	background: url(http://levif.rnews.be/images/list_arrow.gif) no-repeat 0px 6px;
	padding-left: 10px;
	}
	
#article .Left,
#article .left  {
  	float: left;
  	margin-right: 0.5em;
	padding: 3px;
	/*border: 1px solid #CCCCCC;*/
	text-align: left;
	/*width: 120px;*/
	}

#article .Right,
#article .right  {
  	float: right;
  	margin-left: 0.5em;
	padding: 3px;
	/*border: 1px solid #CCCCCC;*/
	text-align: left;
	}

#article .Center,
#article .center {
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
	/*border: 1px solid #CCCCCC;*/
	margin-bottom: 5px;
	text-align: left;
	}

#article .Left p,
#article .Right p,
#article .Center p,
#article .left p,
#article .right p,
#article .center p  {
	font-size: 1em;
	margin: 0;
	background: #EEE;
	padding: 0 3px;
	}

#article #adv {
	background: #FFF;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	}

#article .teaser {
	padding: 4px 0;
	border-bottom: 1px solid #DDD;
	width: 375px;
	}
	
#article .teaserKeywords {
	padding: 4px 0;
	border-bottom: 1px solid #DDD;
	/*width: 375px;*/
	}

#topitem.teaser { width: 682px; }

#topitem div.column1{float: left;}
#topitem div.column1 img{ /* Fixes the size of the image! */
	width: 200px;
	}	

#topitem div.column2{
	float: right;
	width: 475px;
	margin-left: 5px;
	}

#topitem.belga div.column2 {
	width: 100%;
	}

#topitem h3 {font-weight: bold; font-size: 2em;}
#article h2.sectionlabel{font-size: 1.5em; background: none;}
		
#topitem div.column2 p.itemIntro{margin: .2em 0;}
	
#article #items .teaser img{ /* Fixes the size of the image! */
    float: right;
	width: 120px;
	}

#article #items .teaserKeywords img{ /* Fixes the size of the image! */
    float: left;
	width: 120px;
	}

#article #items .teaser h3, #article #items .teaser h3 a {font-weight: bold;margin:0;padding:0}
#article #items .teaser h2.sectionlabel{margin: 0; font-size: 1.5em;}
	
#article #items .teaser h3{
	margin-top: 0.3em;
	margin-bottom: 0;
	}
	
#article #items .teaserKeywords h3, #article #items .teaser h3 a {font-weight: bold;margin:0;padding:0}
#article #items .teaserKeywords h2.sectionlabel{margin: 0; font-size: 1.5em;}
	
#article #items .teaserKeywords h3{
	margin-top: 0.3em;
	margin-bottom: 0;
	}
	
.item div.column2 p.itemIntro{
	margin: 0 0 .3em 0;
	line-height: 1.3em;
}

.belga div.column2 {
	width: 100%;
}

p.itemIntro {
	margin-top: 0;
	margin-bottom: .5em;
}

p.itemIntro a{
	color: #000;
	text-decoration: none;
}

#article .teaser h2 span.date {
	font-size: .7em;
	font-weight: normal;
	background: transparent;
    text-transform: none;
	color: #3E4245;
	padding: 0;
	}
	
#article #items .teaser .sectionlabel {
	line-height: 80%;
	margin: 0;
	padding: 0;
	}

#article a.rubriek{
	font-size: 0.6em;	
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	display: inline;
	background: #AC090B url('http://levif.rnews.be/images/bg_teasersubtitle.gif') repeat-x 0 0;
	text-decoration: none;
	padding: 0px 5px;
}

/* -------------------------------------------------------- Article column (related articles + belga) */

#article #articleExtra {
	float: right;
	width: 290px;
	padding: 5px 0px 5px 10px;
	border-left: 1px solid #CCC;
	margin: 0px 0px 10px 10px;
	background: #FFF
	}

#articleExtra h3 {
	font-size: 1.4em;
	color: #000;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	color: #AC090B;
	border-top: 1px dotted #CCCCCC;
	}

#articleExtra ul { 
	padding: 0 0 1px 0; 
	margin: 0 0 10px 0px; 
	}

#articleExtra ul li { 
	background: transparent url(http://levif.rnews.be/images/icon_belga_grey.gif) no-repeat top left; 
	}

#articleExtra ul li a { 
	display: block; 
	padding: 9px 5px 5px 20px; 
	font-weight: bold; 
	text-decoration: none; 
	}

/* -------------------------------------------------------- Article images */

#article .articleImageRight {
	float: right;
	margin: 15px 0px 5px 100px;
	}

#article .articleImageLeft {
	float: left;
	margin: 5px 5px 0px 0px;
	}

#article .articleImage img,
#article .articleImageRight img,
#article .articleImageLeft img {
	border: 1px solid #000000;
	}

#article .articleImageRight .copyright,
#article .articleImageLeft .copyright {
	color: #A8A8A8;
	text-align: right;
	margin: 0px 0px 5px;
	padding: 0px;
	text-transform: uppercase;
	font-size: 10px;
	}

#article .articleImageRight .caption,
#article .articleImageLeft .caption {
	color: #666666;
	margin: 0px;
	padding: 3px;
	font-size: 10px;
	background: #F0F0F0;
	}
	
#article .articleExtraImage  {
	text-align:center; 
	margin: 0px 0px 10px 10px;
	}

/* -------------------------------------------------------- 1001 links */

ul.mktree  li { list-style: none; } 
ul.mktree, ul.mktree ul , ul.mktree li { margin-left:10px; padding:0px; }
ul.mktree  li           .bullet { padding-left: 15px; }
ul.mktree  li.liOpen    .bullet { cursor: pointer; background: url(http://levif.rnews.be/images/minus.gif)  center left no-repeat; }
ul.mktree  li.liClosed  .bullet { cursor: pointer; background: url(http://levif.rnews.be/images/plus.gif)   center left no-repeat; }
ul.mktree  li.liBullet  .bullet { cursor: default; background: url(http://levif.rnews.be/images/icon_webindex.gif) center left no-repeat; }
ul.mktree  li.liOpen    ul { display: block; }
ul.mktree  li.liClosed  ul { display: none; }
ul.mktree  li { font-weight: bold; }
ul.mktree  li ul li { font-weight: normal; }
ul.mktree a:link {
	text-decoration: none;
}
ul.mktree a:hover {
	text-decoration: underline;
}

.treeview-closed span {
    padding-left: 20px;
    cursor: pointer; 
    background: url(http://levif.rnews.be/images/plus.gif) no-repeat 0 -3px;
	display: inline;
}

.treeview-open span {
    padding-left: 20px;
    cursor: pointer; 
    background: url(http://levif.rnews.be/images/minus.gif) no-repeat 0 -3px;
	display: inline;
}

.treeview-closed div {
    display: none;
}
 
.treeview-open div {
    display: block;
}

.treeview-open div ul {
    margin-top: 0;
}

.treeview-open div ul li {
    padding-left: 20px;
    cursor: default;
    background: url(http://levif.rnews.be/images/icon_webindex.gif) center left no-repeat; 
}
 
div#title_top {
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(http://levif.rnews.be/images/title.gif);
	background-repeat: repeat-x;
	height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	text-transform: uppercase;
	font-size: 10px;
	width: 620px;
	
}

div#title_inhoud {
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(http://levif.rnews.be/images/title_inhoud.gif);
	background-repeat: repeat-x;
	height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	text-transform: uppercase;
	font-size: 10px;
	width: 590px;
	text-align: center;
	
}

div#archief {
	text-align: right;
}

#maincontent {
	padding: 4px 10px 10px;
}

#tvgids table th {
	text-align: left;
	border-top: 1px solid #AC090B;
	}

#tvgids table th a:link,
#tvgids table th a:visited,
#tvgids table th a:hover {
	color: #666666;
	text-decoration: none;
	font-weight: bold;
	}

/* -------------------------------------------------------- RSS Feeds */

#feeds .feedlist {
	margin:0;
	}
	
#feeds h3 {
	padding-top: 20px;
	padding-bottom: 10px;
}

.feedlist {
	padding:0;
	}
	
.feedlist ul{
	padding:0;
	margin: 0;
	}
	
.feedlist li {
	padding:2px 0 5px 22px;
	margin: 0px;
	list-style:none;
	background:url(http://levif.rnews.be/images/icon_rss_small.gif) no-repeat 0 15%;
	}

.feedlist li a {
	text-decoration: none;
	font-weight: bold;
	}

.rss {
    float: right;
    margin-top: 6px;
	padding: 3px;
}

div.rss a {
    background: url(http://levif.rnews.be/images/icon-rss.gif) no-repeat 0 15%;
    padding:4px 0 5px 22px;
}

#google_module {
		display: block;
		float: right;
		padding-right: 70px;
		padding-top: 20px;
		margin-left: auto;
	}

/*----------------------------------------------------------- BEWEB TAGS */	

#advHome img {
	border: 0;
	}

#advHome iframe {
	background: #FFF;
	}

.beweb {
	/*background: url(/images/bg_advertentie.gif) no-repeat 0px 0px;
	padding-top: 20px; laten staan, is voor slechte advertenties*/
	text-align: center;	
	}

#advHome p {
	text-align: left;
	}

/*----------------------------------------------------------- Web TV */
#webtv ul {
	padding-left: 0;
	margin-bottom: 0;
}

#webtv h2 {
	font-size: 1em;
	font-weight: bold;
	border: 1px solid #CCCCCC;
	background: #EEEEEE;
	padding: 3px;
}

#webtv ul li {
	border-bottom: 1px solid #EEEEEE;
	padding-top: 3px;
}

/* -------------------------------------------------------- Calendar */

#calendar table.month {
	width: 141px;
	padding: 0;
	margin: 0;
	border-left: 1px solid #CCC;
	font: normal 12px/20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: #fff;
}

#calendar table.month caption {
	margin: 0;
	padding: 0;
	width: 141px;
	background: #999;
	color: #fff;
	text-align: center;
	text-transform: capitalize;
}

#calendar table.month td {
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	width: 20px;
	height: 20px;
	text-align: center;
}

#calendar table.month td a {
	text-decoration: none;
	font-weight: bold;
	display: block;
}

/*----------------------------------------------------------- Beeldreportage */

#slideshow {
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
	}
	
#slideshows {
	width: 100%;	
	margin-top: 10px;
	margin: 0 auto;
	}

#slideshows .teaser h3 {
	color: #7A7A7A;
	font-size: 1.2em;
	font-weight: bold;	
	margin-top: 5px;
	margin: 0;
	}

#slideshows .teaser h3 a {
	color: #BA0C0E;
	}

#slideshows .teaser img {
	width: 185px;
	border: 1px solid #4E504D;
	}

#slideshows .teaser {
	width: 185px;
	float: left;
	text-align: left;
	margin: 10px;
    border: 0;
	}

#slideshows .teaserrow {
	clear: both;	
}

#slideshows .teaser p {
	margin: 0;
	}

#slideshows p a:link, #slideshows p a:visited, #slideshows p a:hover {
	color: #000;
	text-decoration: none;
	}

/*----------------------------------------------------------- Rechter kolom op article-pagina's */

#sideContent .sidebarContainer{
	background-color: #E8EAEB;
	padding: 5px 5px 1px;
	margin: 5px 0;
	}
#sideContent .sidebarContainer p{
	margin-top: .2em;
	margin-bottom: .5em;
    clear: right;
	}
#sideContent .sidebarContainer h3{
	letter-spacing: 1px;
	font-weight: normal;
	margin-bottom: 0;
	font-size: 1.7em;
	}
#sideContent .sidebarContainer h3 a:hover{ text-decoration: none;}
#sideContent .sidebarContainer ul {
	margin: 3px;
	padding: 0;
	margin-left: 8px;
	}

#sideContent .sidebarContainer ul li a:link,
#sideContent .sidebarContainer ul li a:visited,
#sideContent .sidebarContainer ul li a:hover,
#sideContent .sidebarContainer ul li a:active{
	background: transparent url('http://levif.rnews.be/images/triangleRed.gif') no-repeat 0 4px;
	padding-left: 10px;
	margin-left: -5px;
	}

#sideContent .sidebarContainer img{
	float: right;
	margin-left: 1.0em;
    margin-top: 0.5em;
    clear: right;
	}
	
#sideContent .imagecaption  {
	margin-bottom: 5px;
	text-align: right;
	padding: 0;
	}
#sideContent .imagecaption p {
	margin: 0;
	}


/*----------------------------------------------------------- Sitemap */

#sitemap ul.sitemap-topitem {
	padding-left: 10px;
}

#sitemap ul.sitemap-topitem li {
	font-size: 1.5em;
	font-weight: bold;
}

#sitemap ul.sitemap-topitem li a {
	color: #000;
}

#sitemap ul.sitemap-topitem li a:hover {
	text-decoration: none;
}

#sitemap ul.sitemap-topitem ul li a:hover {
	text-decoration: underline;
}

#sitemap ul.sitemap-topitem ul {	
	display: block;
	border-top: 1px solid #D91118;
	color: #000;
	padding: 10px 10px;	
}
#sitemap ul.sitemap-topitem ul ul {	
	border-top: 0;
}

#sitemap ul li ul li a {
	font-size: .9em;
	font-weight: normal;
}

/*----------------------------------------------------------- Tvtips */

span.airdate {
	background:#AC090B url(http://levif.rnews.be/images/bg_teasersubtitle.gif) repeat-x scroll 0pt;
	color:#FFFFFF;
	margin-right:0.2em;
	padding:0pt 5px;
	text-decoration:none;
	text-transform:uppercase;
	margin-bottom:0pt;
	margin-top:0pt;
	font-size: 0.4em;
	font-weight: bold;
}

/*----------------------------------------------------------- Mail forms */

#mail-form {
    width: 600px;
}

#mail-form label {
    vertical-align: top;
    padding-top: 4px;
    padding-right: 8px;
    width: 200px;
    display: block;
    float: left;
    cursor: pointer;
    text-align: right;
}

#mail-form .error {
    font-weight: bold;
    padding-top: 4px;
    vertical-align: top;
}

#mail-form p {
    text-align: right;
}

#mail-form p.text, #mail-form p.checkbox {
    text-align: left;
}

#mail-form p.checkbox label {
    width: auto;
    float: none;
    text-align: left;
    display: inline;
}

/*---------- Canal Z streaming */

#canalZ { 
	background: #FFF;
}
#canalZ h1 { 
	background: #AC090B url("http://levif.rnews.be/images/bg_teasertitle.gif") repeat-x 0px 0px;
	color: #FFF;
	text-transform: uppercase;
	font-size: 1.2em;
	margin-top: 0;
	margin-bottom: 0px;
	border: 0;
	padding: 3px 0 3px 3px;
}
#canalZ h1 a:link {
	color: #FFF;
	text-decoration: none;
	}
#canalZ #player { 
	text-align: center; 
	background: #EEE;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding-top: 3px;
	padding-bottom: 3px;
	}
#canalZ ul {
	padding-left: 0;
	margin: 3px 3px 0;
	margin-top: 5px;
	}

#canalZ li {
	padding-left: 15px;
	background: url("http://levif.rnews.be/images/teaser_arrow.gif") no-repeat 0px 2px;
	margin-bottom: 3px;
	}

#canalZ a:link,
#canalZ a:visited {
	text-decoration: none;
	color: #000;
	}

#canalZ ul a:link, 
#canalZ ul a:visited {
	text-decoration: none;
	color: #AC090B;
	font-weight: normal;
	}

/*---------- VifClub */

#vif-club h4 { 
	margin-top: 0; 
	margin-bottom: 1em;
	color: #B40606;
}

#vif-club #reductions .teaser { 
	border: none;
	margin-bottom: 10px;
	border-bottom: 1px solid #CCC;
	padding-bottom: 10px;
	position: relative;
}
#vif-club #reductions .teaser img { 
	position: relative;
}

#vif-club #reductions .teaser h3 {
	margin-left: 0;
	background: url(http://levif.rnews.be/images/arrow_kn.gif) no-repeat 0px 1px;
	padding-left: 15px;
}

#vif-club #reductions .teaser h3 a { 
	margin-left: 0;
	font-size: 14px;
	color: #666666;
}

#vif-club #reductions .teaser p { 
	margin-left: 0;
}

/*----------------------------------------------------------- verkiezingen */

#video_news .video_news {
	border: 1px solid #B10302;
	padding-left: 5px;
	padding-right: 5px;
    }

#video_news .column {
	width: 180px;
	float: left;
}

#video_news .video_news_teaser {
	margin-bottom: 5px;
	margin-top: 5px;
	height: 70px;
	background: url('http://levif.rnews.be/images/triangleRed.gif') no-repeat 86px 7px;
}

#video_news .video_news_teaser a,
#video_news .video_news_teaser a,
#video_news .video_news_teaser a {
	color: #000000;
	font-size: 10px;
}

#video_news .video_news_teaser img {
	float: left;
	padding-right: 14px;
}

#video_news h3 {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}

/*----------------------------------------------------------- acties - wedstrijden */

#actie .teaser, #wedstrijden .teaser {
	border: none;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 15px;
	padding-top: 15px;
}

#actie li, #wedstrijden li {
	background: none;
	list-style: none;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
}

#actie p, #wedstrijden p {
	padding:0;
	margin-top: 10px;
}

#actie a:hover, #wedstrijden a:hover {
	text-decoration: underline;
}

/*----------------------------------------------------- Reageer op Article */
#contentsub div#commentspost{
	background:#FFFFFF url(http://levif.rnews.be/images/headerbar_comments.gif) no-repeat scroll 100% 0pt;
	border-color:#CCCCCC -moz-use-text-color -moz-use-text-color;
	border-style:solid none none;
	border-width:1px medium medium;
	clear:both;
	margin-bottom:5px;
	overflow:hidden;
}

#contentsub div#commentspost h2 {
	border:medium none;
	color:#FFFFFF;
	font-size:1em;
	line-height:0.7;
	margin:0pt;
	padding:7px 0pt 0.8em 0.8em;
	text-transform:uppercase;
	white-space:nowrap;
	position: relative;
}

#contentsub div#commentspost form#reactionsform textarea {
	clear:left;
	float:left;
	font-size:1.1em;
	margin-top:0.8em;
	width:91%;
}

#contentsub div#commentspost form#reactionsform div#submitbutton {
	clear:both;
	margin:0pt 0.8em;
	padding-top:0.8em;
}

#contentsub div#commentspost form#reactionsform div#commententry {
	margin:0pt;
	padding:0pt;
}

#contentsub div#comments {
	background:#FFFFFF url(http://levif.rnews.be/images/headerbar_comments.gif) no-repeat scroll 100% 0pt;
	border-color:#CCCCCC -moz-use-text-color -moz-use-text-color;
	border-style:solid none none;
	border-width:1px medium medium;
	clear:both;
	overflow:hidden;
	width:100%;
}

#contentsub div#comments h2 {
	border:medium none;
	color:#FFFFFF;
	font-size:1em;
	line-height:0.7;
	margin:0pt;
	padding:7px 0pt 0.8em 0.8em;
	text-transform:uppercase;
	white-space:nowrap;
}

#contentsub ol.commentlist {
	list-style-type:none;
	margin:0.2em 0pt 2em;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
}

#contentsub ol.commentlist li {
	border-bottom:1px solid #CCCCCC;
	font-weight:normal;
	margin-bottom:0.5em;
	margin-top:0em;
	padding-bottom:0em;
}

/*--------------------------------------------------------------------topjobs*/
#topjobs ul .more {
	margin-bottom: 2px;
	margin-right: 5px;
}

#topjobs .more {
	float:left;
	margin-top:5px;
}

#topjobs .adico { float: right; margin-right: 10px; }

#topjobs ul li {
	list-style-image: none;
	list-style: none;
	list-style-type: none;
	background: none;
	font-size: 1.1em;
	padding-right: 5px;
}

#topjobs ul.more li { 
	float: left;
	background: url("http://www.datanews.be/images/small_sep.gif") no-repeat right 3px;
	font-weight: bold;	
	padding-right: 7px;
	padding-left: 3px;
	}

#topjobs {
	border: 1px solid #C3C3C3;
}

#topjobs .joboftheweek{
	background-color: #eeeeee;
	padding: 1.2em 1.3em 1.2em 1.3em;
	border-bottom: 1px solid #C3C3C3;
}
#topjobs .joboftheweek ul { margin: 0; padding: 0; }
#topjobs .joboftheweek strong{
	font-size: 1.1em;
}

#topjobs ul {
	padding-top: 1em;
	padding-bottom: 0px;
	margin-left: 1em;
	padding-left: 0px;
}

#topjobs li {
	list-style: disc;
	color: #0E4384;
}

#topjobs ul .black {
	color: #000000;
}

#topjobs a:link,
#topjobs a:visited,
#topjobs a:active {
	font-size: 10px;
}

#topjobs .joboftheweek a:link,
#topjobs .joboftheweek a:visited,
#topjobs .joboftheweek a:active {
	font-size: 11px;
}

.topjobsdeel #content {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	text-decoration:none;
}

.topjobsdeel h5 {
	background:#FFFFFF url(http://levif.rnews.be/images/headerbar_topjobs.gif) no-repeat scroll 100% 0pt;
	text-transform:uppercase;
	color:#FFFFFF;
	font-size:1.2em;
	line-height:0.7em;
	margin:10px 0px 0px;
	padding:8px 0px 0.6em 0.8em;
}

.topjobsdeel a.titelbalk:hover { 
	text-decoration:none;
}

.topjobsdeel a:hover{
	text-decoration:underline;
}


#topjobs a:link, #topjobs a:visited, #topjobs a:active {
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
}

#topjobs a:hover {
	text-decoration:underline;
}

#jobsearch {
	border: 1px solid #C3C3C3;
	margin-top: 0px;
	height: auto;

	background-color: #eeeeee;
}
#jobsearch a{
	font-size: 11px;
	font-weight: bold;
}
#jobsearch #jobSearchField, #jobsearch #jobLocationField {
	width:125px;
}

#jobsearch form input {
	margin-bottom:6px;
}
#jobsearch td{
	padding: 0px;
	padding-left: 10px;
	background-color: #eeeeee;
	margin-bottom: 0px;
	margin-top: 0px;
}
#jobsearch table{
	background-color: #eeeeee;
	margin-bottom: 0px;
	margin-top: 0px;
}
#otherjobs { padding-top: 0; }

/*dossier

-----------------------------------------------------------------------------*/


#le-vif #article #sideContent.fixedHeightSection {
	margin-top: -20px;
}

#le-vif #article #sideContent #adv.fixedHeigtArticle {
	margin-top: 27px;
} 

#le-vif #article #items.dossiersSmallHeight div.teaser {
	min-height: 125px;
}

/*paging
-------------------------------------------------------------------*/
/* page navigation */
#paging {
  margin-top: 1em;
  margin-bottom: 1em;
}
.pagenav {
	text-align: right;
	white-space: nowrap;
	font: 11px Arial, Helvetica, sans-serif;
}
.pagenav .currentpage { font-weight: bold; }
.pagenav .extend { 
	padding: 2px 6px; 
	color: #CCC; 
	font-weight: bold;  
}
.pagenav .pages { 
	padding: 2px 6px; 
	background: #0087C5; 
	color: #FFF; 
	font-weight: bold;
	border: 1px solid #0087C5;
}
.pagenav a { 
	border: 1px solid #0087C5; 
	font-weight: bold; 
	text-decoration: none; 
}
.pagenav a:visited { 
	border: 1px solid #CCC; 
	font-weight: bold; 
	text-decoration: none; 
	color: #CCC; 
}
.pagenav a:hover {
	background: #0099FF;
	border: 1px solid #0087C5;
	color: #FFF;
}
.pagenav .currentpage, 
.pagenav a:link, 
.pagenav a:visited {
	padding: 2px 6px;
}

#poll { position: relative; }

/* Adhese -------------------------------------- */
#TLINK { 
	background: #FFF; 
	border: 2px solid #000; 
	padding: 10px; 
	margin-bottom: 5px; 
	font-weight: bold;
}
#TLINK p { margin: 0; }
#TLINK p a { color: #000; }

#JOBADV {
	background: #7ea9cf url("http://levif.rnews.be/images/bg_jobadv.gif") no-repeat left top;	
	padding-bottom: 25px;
}
#JOBADV img { display: none; }
#JOBADV table { margin: 0 auto; }
#JOBADV table td { 
	height: 100px; 
	background: transparent url("http://levif.rnews.be/images/bg_jobadv_item.gif") no-repeat left top;
}
#JOBADV table td img { display: block; }
#JOBADV .jobAdvTop { display: block; height: 38px; }

/*   advertorials  */
/*-----------------*/
#HALFP { text-align: center; }
#ADV{
margin-bottom: 3px;
}

#ADV .titel{
font-weight:bold;
font-size: 11px;
color: #000000;
margin-bottom:00px;
}

#ADVbox {
		width: 300px; 
		display: block; 
		background: #FFF;
		border: 1px solid #C7C7C7;
		margin-top: 3px;
		margin-bottom: 3px;
}
#ADVbox img{
float: left;
margin-left: 10px;
margin-right: 10px;
vertical-align: top;
}
#ADVbox p{
margin :10px 0;
text-align: left;
}
#ADVbox .adheseTxtAdTitle{
font-weight: bold;
text-decoration: none;
}

#ADVbox .adheseTxtAdBody a{
color:#000000;
}
#ADVbox .adheseTxtAdUrl{
margin-left: 10px;
}
/* Video library 
------------------------------------------------------------------------------*/
#videoPlayer #player { 
	width: 480px; 
	height: 305px; 
	float: left; 
	margin-bottom: 10px; 
}

#videoPlayer #vmmaplayer { 
	width: 468px; 
	height: 374px; 
	float: left; 
	margin-bottom: 10px; 
}

#videoPlayer #adv { float: right; margin-top: 0; }

#videoInfo {
	border-top: 0px solid #DADADA;
	border-right: 1px solid #DADADA;
	border-bottom: 1px solid #DADADA;
	border-left: 1px solid #DADADA;
	margin-bottom: 10px;
	padding: 10px;
	width: 458px;
	display: block;
}
#videoInfo .description {
	border-bottom: 1px dotted #CCC;
	padding-bottom: 5px;
}
#videoInfo p {
	font-size: 1.1em;
	margin: 0; 
}
#videoInfo p span { color: #9B9B9B; }
#videoInfo #adv { 
	width: 300px; 
	float: right;
	margin: 0;
	margin-left: 10px;
}
#videoItems {
	background: #EBEBEB;
	border: 1px solid #DADADA;
	padding: 4px;
}
#videoItems h2 {
	clear: both;
	font-size: 1.2em;
	margin: 5px;
	background: #E3E3E3;
	padding: 2px 5px;
	color: #666;
	position: relative;
}
#videoItems .videoTeaser {
	background: #FFF;
	border: 1px solid #E6E6E6;
	float: left;
	width: 230px;
	padding: 8px 9px;
	margin: 6px;
}
#videoItems .videoTeaser .videoDescription { 
	float: right;
	width: 140px;
	color: #9B9B9B;
}
#videoItems .videoTeaser .videoDescription p { 
	margin: 0;
	line-height: 1.1em;
	font-size: 1.1em;
}
#videoItems .videoTeaser .videoDescription p a { font-weight: bold; color: #333; }
#videoItems .videoTeaser .videoThumb { 
	float: left;
	width: 80px; 
	height: 64px; 
	overflow: hidden; 
	position: relative;
	margin-right: 9px; 
}
#videoItems .videoTeaser .videoThumb .play { 
	position: absolute; 
	width: 15px; 
	height: 15px; 
	overflow: hidden; 
	right: 2px; 
	top: 2px;
	background: url("http://levif.rnews.be/images/play_video.gif") no-repeat 0 0;
}
#videoInfo h2 { 
	font-size: 1.3em; 
	margin-top: 5px; 
	margin-bottom: 5px; 
}
#videoInfo h2 span { font-size: 10px; color: #666; }
#videoInfo h2 a { text-decoration: underline; }
#videoInfo #videoReactions { 
	display: none;
}
#videoInfo .noLogin { 
	font-weight: bold; 
	padding: 5px; 
	border: 1px solid #CC0000;
}
#videoInfo .videoReaction { 
	border-bottom: 1px dotted #CCC; 
	margin-top: 10px; 
	margin-bottom: 10px; 
}
#videoInfo .videoReaction p.author { 
	margin-bottom: 10px; 
	background: #EEE; 
	padding: 3px 5px; 
}
#videoInfo .videoReaction p { 
	margin-bottom: 5px; 
	padding-left: 5px; 
	padding-right: 5px; 
}

/* A tot Z -------------------------------------*/

#az {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #C7C7C7;
	margin-bottom:3px;
	margin-top:3px;
}
.sportKanaal #az h2 { background:#AC090B url(http://levif.rnews.be/images/bg_teasertitle.gif) repeat-x scroll 0 0;  }
#az .col4 {
	float:left;
	margin-left:5px;
	margin-right:5px;
	width:156px;
	margin-bottom: 5px;
	border-right: 1px solid #C7C7C7;
}
#az .first { margin-left: 10px; }
#az .last { margin-right: 0; border: none; }
#az .col4 dl { margin-top: 0; margin-bottom: 3px; }
#az .col4 dd { margin-left: 0 0 1em; } 
#az .col4 dd a { color: #000; }
#az .col4 dd a:hover { color: #BA0C0E; }

#az #sitePartners { 
	border-bottom: 1px solid #C7C7C7; 
	margin-bottom: 5px;
	position: relative;
}
#az #sitePartners p { margin: 5px 10px; display: block; font-weight: bold; }
#az #sitePartners a,
#az #sitePartners a:link,
#az #sitePartners a:active,
#az #sitePartners a:visited { color: #000 !important; }
#az #sitePartners a:hover { color: #BA0C0E; }


/* Adhese tags */


/* Het Weer
--------------------------------*/
#today_home iframe,
#tomorrow_home iframe { overflow: hidden; }

div.weather_top form { 
	display: block;
	width: 300px;
	padding: 10px;
	margin: 0px 50px 10px 0;
	border: 1px solid #CCC;
	background: #EEE;
	float: right;
}
div.weather_top form p { 
	margin: 0 0 5px; 
	font-weight:bold; 
	font-size: 1.1em; 
	color: #666; 
}
div.weather_top form input { font-size: 1.1em; }
div.weather_top form #weather_search { width: 230px; }
div.weather_oneday{
	display: block;
	clear: both;
}

div.weather_oneday div.weather_box{
	float: left;
	display: block;
	width: 158px;
	height: 85px;
	padding: 0 0 10px 0;
	margin: 10px 10px 10px 0;
	border: 1px solid #CCC;
	background: #EEE;
}
#contentsub div.weather_oneday iframe,
#contentsub div.weather_tendays iframe { border: none; }
#contentsub div.weather_oneday h2,
#contentsub div.weather_tendays h2 {
	clear:both;
	font-size: 1.5em;
	font-weight: bold;
	padding: 3px 4px;
	margin-bottom: 10px;
	border-bottom: 1px solid #CCC;
	font-family: Arial, Helvetica, sans-serif;
	word-spacing: normal;
}
div.weather_box_all{
	display: block;
	margin: 0;
}

div.weather_box{
	float: left;
	display: block;
	width: 158px;
	height: 85px;
	padding: 0 0 10px 0;
	margin: 0 8px 8px 0;
	border: 1px solid #CCC;
	background: #EEE;
}

div.weather_box img{
	float: left;
	margin: 5px 0 0 0;
}

div.weather_box_title{
	font-size: 1.2em;
	padding: 3px 0 3px 3px;
	font-weight: bold;
	color: white;
	background: #666B6F;
}

div.weather_minmax{
	float: left;
	font-size: 1.2em;
	margin: 20px 0 0 10px;
}
#weathermap img { 
	float: right; 
	margin-left: 20px; 
	margin-bottom: 20px; 
}
.weather_nav { font-size: 1.4em; }
#contentsub .weather_tendays dl { 
	margin-bottom: 15px; 
	width: 95%
}
#contentsub .weather_tendays dt { float: left; width: 80px; height: 50px; display: block; }
#contentsub .weather_tendays dd { float: left; margin-right: 15px; }
#contentsub .weather_tendays dd a:link,
#contentsub .weather_tendays dd a:active,
#contentsub .weather_tendays dd a:visited { text-decoration: underline; }
#contentsub .weather_tendays dd a:active { font-weight: bold; }
#contentsub .weather_tendays dd a:hover { text-decoration: none; }

#weatherstyle h1{
	background:transparent none repeat scroll 0 0;
	color:#000000;
	font-family:"Trebuchet MS","Arial Narrow",Helvetica,Arial,sans-serif;
	font-size:2.1em;
	font-weight:bold;
	margin:0 0 0.7em;
	word-spacing:-0.1em;
	margin-bottom:0;
	text-transform:uppercase;
	display:block;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	line-height:normal;
	border-bottom: 2px solid;
	border-bottom-width: 2px;
	border-bottom-style:solid;
	margin-bottom: 14px;
}

#weatherstyle h3 {
	font-size:1.17em;
}


div.sectionlabel span.date,
p.sectionlabel span.date {
    color: #3E4245;
    font-size: 1.2em;
}

div.sectionlabel span.reactions,
p.sectionlabel span.reactions{
    float:none;
    font-size: 1em;
}

#items .teaser div.sectionlabel{
    width: 250px;
    float: right;
}

#items .teaser div.sectionlabel  span.date{
    float: left;
    padding-bottom: 5px;
    padding-top: 2px;
}

#items .teaser div.sectionlabel  span.reactions{
    float: right;
    padding: 0px;
    font-size: 1.2em;
    line-height: 80%;
    padding-bottom: 5px;
    padding-top: 2px;
}
/* Adhese tags */
	#LOGOLINK { 
		width: 300px; 
		display: block; 
		background: #FFF;
		border: 1px solid #C7C7C7;
		margin-top: 3px;
		margin-bottom: 3px;
		font-size: 11px;
		text-align: left;
	}
	#LOGOLINK p { display: none; }
	#LOGOLINK p.adheseTxtAdTitle {
		margin: 3px;
		clear: both;
		font: 110% Arial, Helvetica, sans-serif;
		height: 33px;
		overflow: hidden;
		display: block;
		text-align: left;
	}
	#LOGOLINK p.adheseTxtAdTitle br { display: none; }
	#LOGOLINK img { display: none; }
	#LOGOLINK p.adheseTxtAdTitle a img { 
		float: left; 
		margin-right: 5px;
		width: 55px;
		height: 33px;
		display: block;

	}
	#LOGOLINK p.adheseTxtAdTitle a { 
		/*float: left;*/
		margin: 0;
		font-weight: bold;
		color: #000;
		/*width: 230px;*/
	}
	#LOGOLINK .adheseTxtAdText { display: inline-block; padding-top: 8px; }
	#LOGOLINK .adheseTxtAdText a:link, 
	#LOGOLINK .adheseTxtAdText a:visited {
		color:#333;
		font-weight:bold;
		text-decoration:none;
		margin-top: 5px;
	}
	#LOGOLINK .adheseTxtAdText a:hover { text-decoration: underline; color: #000; }
	#LOGOLINK .adheseTxtAdText strong a:link, 
	#LOGOLINK .adheseTxtAdText strong a:visited {
		color:#000;
		font-weight:bold;
		text-decoration:none;
		font-size: 12px;
	}

#fontSizer {
    float: right; 
    padding-right: 8px; 
    padding-top: 6px; 
    font-size: 1.2em;
}
#fontSizer a {
    text-decoration: underline;
    cursor: pointer;
}
#fontSizer #normalFont {
    font-size: 12px;
}
#fontSizer #largerFont {
    font-size: 14px;
}
#fontSizer #largestFont {
    font-size: 16px;
}
#articleContainer p.normalFont {
    font-size: 12px;
}
#articleContainer p.largerFont {
    font-size: 14px;
}
#articleContainer p.largestFont {
    font-size: 16px;
}

/*----------------------------------------------------------- acties - wedstrijden */

#actie .teaser, #wedstrijden .teaser {
	border: none;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 15px;
	padding-top: 15px;
	
}


#actie .teaser { 
	border-top: 1px solid #CCC;
	clear: both;  
	border-bottom: 0; 
	
}
#actie .teaser img.actie_left { 
	float: left; 
	margin-right: 2px;
	margin-bottom: 15px;
	width: 100px;
}

#actie .actie_content h3 { 
	text-transform: uppercase;
	font-size: 1.2em;
	
}

#actie .actie_content h3 a { 
	font-size: 1.2em; 
	color: #333;
	text-decoration: underline;
}
#actie li, #wedstrijden li {
	background: none;
	list-style: none;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
}

#actie .actie_content {
	width: 560px;
	float: left;
	padding: 5px;
}



#actie h4 { 
	float: left; 
	padding: 3px; 
	padding-left: 7px;
	padding-top: 2px;
	background: url(http://www.knack.be/images/nav/navniv1.gif) no-repeat 0px 0px;	
	color: #FFFFFF;	
	font-weight: bold;	
	margin: 0;
	margin-top: 10px;
	font-size:15px;
	
	
}

#actie h4 .actie_info { 
	
	font-size:11px;
	
}

#actie p, #wedstrijden p {
	padding:0;
	margin-top: 10px;
}

#actie a:hover, #wedstrijden a:hover {
	text-decoration: underline;
}
/** Partner advertorial **/

#PARTNERADV {
	margin-bottom: 5px;
	width: 288px;
}
#PARTNERADVbox a:hover {
	text-decoration: none;
}
#PARTNERADV .titel {
	font-weight:bold;
	font-size: 11px;
	color: #000000;
	margin-bottom:0px;
}
#PARTNERADVbox {
	background: white;
	border: 1px solid #c7c7c7;
	padding: 5px;
	text-align:left;
	overflow:hidden;
	width:100%;
}
#PARTNERADVbox p {
	margin:0;
	font-size: 11px;
}
#PARTNERADVbox p.adheseTxtAdTitle {
	margin-top: 0 0 3px;
	font-weight: bold;
}
#PARTNERADVbox p.adheseTxtAdTitle a:hover {
	text-decoration: underline;
}
#PARTNERADVbox p.adheseTxtAdTitle img {
	float: left;
	margin-right: 10px;
}
#PARTNERADVbox p.adheseTxtAdBody {
	margin: 0 0 3px;
}
#PARTNERADVbox p.adheseTxtAdBody a {
	color: #666;
}
#PARTNERADVbox p.adheseTxtAdBody a:hover {
	color: #000;
}
#PARTNERADVbox p.adheseTxtAdUrl {
	margin-bottom: 0;
}
#PARTNERADVbox p.adheseTxtAdUrl a:hover {
	text-decoration: underline;
}

#dezeweeksport.teaser{
    background: #FFFFFF none repeat scroll 0 0;
    border: 1px solid #C7C7C7;
    margin-bottom: 3px;
    margin-top: 3px;
    font-size: 1em;
    padding: 0;
    width: 299px;
}

#dezeweeksport .titlebar{
    background:#AC090B url(http://levif.rnews.be/images/bg_teasertitle.gif) repeat-x scroll 0 0;
    border:0 none;
    color:#FFFFFF;
    font-size:1.2em;
    font-weight:bold;
    height:1%;
    margin-bottom:3px;
    margin-top:0;
    padding:3px 0 3px 3px;
    text-transform:uppercase;
}

#dezeweeksport ul {
    float:left;
    font-size:1.2em;
    width:220px;
    margin:5px 3px 0;
    padding-left:0;
}

#dezeweeksport ul li{
    font-size: 1.1em;
    background: transparent url(http://levif.rnews.be/images/teaser_arrow.gif) no-repeat scroll 0 2px;
    margin-bottom: 3px;
    padding-left: 15px;
    height:auto;
    list-style-type:none;
    margin:0;
    padding:0;
}

.changeProfile {
	font-weight: bold;
}