#nav-main { width: 143px; padding: 0; font-size: 11px; }

#nav-main ul, li { list-style-type: none; padding: 0; margin: 0; height: auto; }

#nav-main ul { border: none; }

#nav-main li { width: 143px; }

#nav-main li a { display: block; text-decoration: none; width: 100%; }

#nav-main li.closed a { cursor: pointer; } 

#nav-main ul li a { background: url(http://levif.rnews.be/images/nav/navniv1.gif) no-repeat 0px 0px;	color: #FFFFFF;	font-weight: bold;	height: 20px; line-height: 19px; text-indent: 5px; cursor: pointer; }

#nav-main ul li ul li a { background: url(http://levif.rnews.be/images/nav/navniv2_white.gif) no-repeat 0px 0px; color: #000000; font-weight: normal; height: 17px; text-indent: 10px; line-height: 15px; }

#nav-main ul li ul li a:hover { background: url(http://levif.rnews.be/images/nav/navniv2_white_hover.gif) no-repeat 0px 0px; }

#nav-main ul li ul li ul li a { background: url(http://levif.rnews.be/images/nav/navniv3.gif) no-repeat 0px 0px; color: #000000; font-weight: normal; height: 17px; text-indent: 15px; }

#nav-main ul li ul li ul li a:hover { background: url(http://levif.rnews.be/images/nav/navniv3_hover.gif) no-repeat 0px 0px; }

#nav-main ul li ul li ul li ul li a { background: url(http://levif.rnews.be/images/nav/navniv4.gif) no-repeat 0px 0px; color: #000000; font-weight: normal; height: 17px; text-indent: 20px; }

#nav-main ul li ul li ul li ul li a:hover { background: url(http://levif.rnews.be/images/nav/navniv4_hover.gif) no-repeat 0px 0px; }

#nav-main li.closed ul { display: none; }

