/* CSS Document */

#search  {
color:#fff;
padding:0;
margin:0;
}html>body #search{
/*margin:8px 0 0 0;*/
}
#search fieldset{
border:none;
padding:0;
margin:0;
}
#search label{
display:none;
}
.textinput, .textinputHovered {
	padding:0 0 0 5px;
	margin:0px 5px 0 0;
	/*	border:none;
		height:23px;
	background:url(./images/searchTxt.jpg) no-repeat left top;
	padding:6px 0px 0 8px;*/
}
.textinputHovered {
	/* background-position:left bottom;*/
}
.buttonSubmit, .buttonSubmitHovered {
	width:23px;
	color:#000;
	font-size:10px;
	padding:0;
/*	background:url(./images/submit.gif) no-repeat left top;*/
	border:none;
	margin:0;
}html>body .buttonSubmit{
	width:22px;
	height:21px;
}
.buttonSubmitHovered {
	background-position:left bottom;
}
/*
#stylesheetTest {
	position:absolute;
	left:-999px;
	width:10px;
	height:10px;
}
*/
/* Contact
************************************************************/




