/* --------------------------------------------------------- */
/* Feuille de style des squelettes par defaut pour SPIP 2.0  */
/* --------------------------------------------------------- */


/* ------------------------------------------
/* Typographie generale (style transversaux)
/* ------------------------------------------ */
html { font-size: 800px; } /* Cf.: http://pompage.net/pompe/definir-des-tailles-de-polices-en-CSS/ */
body { font-size: 12px; line-height: 18px; font-family: "Verdana", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; color: #000000; }

/* Titraille / Intertitres */
h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0; font-weight: bold; font-size: 1em; font-family: "Verdana", "Lucida Grande","Lucida Sans Unicode", Arial, sans-serif; }
h1 { font-size: 15px; color: #f05a24; line-height: 18px; margin-top: 3px;}
h2 { font-size: 12px; color: #f05a24; line-height: 18px;}
h2, h2 a, h2 a:focus, h2 a:hover, h2 a:active { color: #f05a24s; }
h3 { font-size: 1.20em; font-weight: bold; color: #f05a24;}
h3.spip {} /* Cf.: spip_style.css */
hr.spip {} /* Cf.: spip_style.css */

/* Autres enrichissements typo */
strong { font-weight: bold; }.titrearticle a
em { font-style: italic; }
abbr, acronym { border-bottom: 1px dotted; cursor: help; }
small { font-size: 0.90em; color: #87888a; }
dfn { font-weight: bold; color: #87888a; }
del { text-decoration: line-through; }
ins { color: red !important; text-decoration: none; }
sup, sub { font-size: .8em; font-variant: normal; }

/* Listes */
ul.spip {} /* Cf.: spip_style.css */
ol.spip {} /* Cf.: spip_style.css */
dl {}
/*dt {}*/
dd {}

dt {
	list-style-image: puce.png;
	background: url("puce.png") no-repeat 0 4px;
	padding-left: 10px;
}

/* Citations, code et poesie */
cite {}
q {}
blockquote {}
blockquote.spip {} /* Cf.: spip_style.css */
blockquote.spip_poesie {} /* Cf.: spip_style.css */
.spip_code {} /* Cf.: spip_style.css */
.spip_cadre {} /* Cf.: spip_style.css */
address {}

/* Tableaux */
table.spip {} /* Cf.: spip_style.css */

/* Logos, documents et images */
img { margin: 0; padding: 0; border: 0; }
.spip_logos {} /* Cf.: spip_style.css */
.spip_documents {} /* Cf.: spip_style.css */
.spip_documents_center {} /* Cf.: spip_style.css */
.spip_documents_left {} /* Cf.: spip_style.css */
.spip_documents_right {} /* Cf.: spip_style.css */
.spip_doc_titre {} /* Cf.: spip_style.css */
.spip_doc_descriptif {} /* Cf.: spip_style.css */


/* ------------------------------------------
/* Disposition a l'ecran des blocs principaux
/* ------------------------------------------ */
body { background: #FFF; margin: 0; padding: 0; text-align: center; }

#page { position: relative; width: 800px; margin: 0 auto; text-align: left; }

#entete { width: 58em; margin: 0; padding-top: 1.60em; border-bottom: 0px solid #8B6F92; }
#entete a.accueil { display: block; width: 67%; }
#entete a.accueil img.spip_logos { vertical-align: bottom; line-height: 1em; }
#entete a.accueil #nom_site_spip { vertical-align: bottom; font-size: 2.2em; font-family: "Lucida Grande","Lucida Sans", "Lucida Sans Unicode", Arial, sans-serif; font-weight: normal; }
#entete .formulaire_menu_lang { position: absolute; right: 0; top: 0.90em; display: block; width: 30%; } /*Cf.: spip_formulaires.css*/

#conteneur { clear: both; float: right; width: 672px; overflow: hidden; }
#contenu { padding-top: 0.30em; }

#navigation { float: left; width: 122px; margin-top: 6px;  }
#extra { float: left; clear: right; width: 30%; margin-top: 1em; overflow: hidden; }

#pied { clear: both; width: 100%; margin: 0; padding: 0.40em 0;  text-align: center; font-size: 0.90em; }
#pied img { vertical-align: middle; }

/* Espaceur de blocs */
.nettoyeur { clear: both; height: 0; margin: 0; padding: 0; border: 0; line-height: 1px; font-size: 1px; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }


/* ------------------------------------------
/* Habillage des elements du contenu
/* ------------------------------------------ */

#hierarchie { clear: both; margin-bottom: 2em; font-size: 0.90em; }
#hierarchie, #hierarchie a { color: #666; }

/*.cartouche { margin-bottom: 2em; }*/
/*.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 4px; }*/
.logocartouche { margin-bottom: 40px; }
.cartouche p { margin: 0; padding: 0; clear: left; }
.surtitre, .soustitre { font-size: 0.90em; color: #666; text-transform: uppercase; letter-spacing: 0.10em; }
.cartouche .surtitre { margin-bottom: 0.30em; }
.cartouche .soustitre { margin-top: 0.50em; margin-bottom: 0.30em; }
.cartouche .traductions { font-size: 0.90em; }

.chapo { margin-bottom: 1.50em; line-height: 1.40em; font-weight: bold; color: #669; }
.texte { line-height: 1.60em; }
.hyperlien { display: block; background: #EEE; padding: 0.50em 1em; font-weight: bold; color: #8B6F92; }
.ps, .notes { margin-bottom: 2em; line-height: 1.40em; }
.notes { clear: both; font-size: 0.90em; }

abbr.published { border: 0; }

/* Portfolio */
#documents_portfolio { clear: both; margin: 2em auto; text-align: center;}
#documents_portfolio .spip_logos { margin: 6px 3px 0 3px; border: 4px solid #DDD; }
#documents_portfolio a.on .spip_logos { border-color: #F57900; }
#documents_portfolio a:focus .spip_logos,
#documents_portfolio a:hover .spip_logos,
#documents_portfolio a:active .spip_logos { border-color: #8B6F92; }


/* Habillage des forums
---------------------------------------------- */
.repondre { clear: both; margin-top: 2.50em; margin-right: 1em; text-align: right; font-weight: bold; }

/* Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }
.forum-fil { margin-top: 1.50em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; color: #333; }
.forum-texte { margin: 0; padding: 0.50em 1em; color: #333; }
.forum-texte .hyperlien {}
.forum-texte .repondre { margin: 0; padding: 0.10em 0; text-align: right; }

/* Boite d'un forum : eclaircissement progressif des bords */
ul .forum-message { border: 1px solid #666; margin: 0; padding: 0; margin-bottom: 1em; }
ul ul .forum-message { border: 1px solid #A4A4A4; }
ul ul ul .forum-message { border: 1px solid #B8B8B8; }
ul ul ul ul .forum-message { border: 1px solid #CCC; }
ul ul ul ul ul .forum-message { border: 1px solid #E0E0E0; }
ul ul ul ul ul ul .forum-message { border: 1px dotted #E0E0E0; }

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */
ul .forum-chapo { border: 0; border-bottom: 1px dotted #B8B8B8; margin: 0; padding: 3px 6px 2px 6px; background: #C4E0E0; }
ul ul .forum-chapo { background: #D4E8E8; }
ul ul ul .forum-chapo { background: #E4F0F0; }
ul ul ul ul .forum-chapo { background: #F4F8F8; border-bottom: 1px dotted #E0E0E0; }
ul ul ul ul ul .forum-chapo { background: #FFF; }


/* Habillage des petitions
---------------------------------------------- */
#signatures { clear: both; margin: 0 0 2em 0; padding: 0; background: none; }
#signatures table { width: 100%; margin: 1em 0 0 0; }
#signatures thead { text-align: center; color: #555; }
#signatures td { padding: 0.50em; border: 2px solid #FEFEFE; vertical-align: top; }
#signatures td.signature-date { background: #E4F0F0; text-align: center; white-space: nowrap; }
#signatures td.signature-nom { background: #ECF4F4; text-align: center; }
#signatures td.signature-nom small { display: block; }
#signatures td.signature-message { background: #F4F8F8; }
#signatures .formulaire_recherche { margin: 1em 0; text-align: right; } /*Cf.: spip_formulaires.css*/
#signatures .formulaire_recherche input.text { width: 100px; text-align: left; } /*Cf.: spip_formulaires.css*/


/* ------------------------------------------
/* Sous-navigation et autres menus
/* ------------------------------------------ */

/* Habillage general des menus de navigation */
.menu { clear: both; margin-bottom: 2em; text-align: left; }
.menu p { margin: 0.20em 0; padding: 0.20em 0.10em; }
.menu ul { margin: 0; padding: 0; list-style: none; border-bottom: 0px solid #DDD; }
.menu ul li { margin: 0.20em 0; padding: 0.20em; border-top: 0px solid #DDD; }
.menu ul li ul { margin-left: 1em; border: 0; }
.menu ul li li { padding: 0; border: 0; }
.menu a { color: #C67A1A; text-decoration: none; }
.menu a:focus,a:hover,a:active { color: #C67A1A; text-decoration: none; }

/* Style des menus */


/*#menu{
	width: 800px;
	
	background-color: white;
}*/

#menu{
	
	list-style: none;
	margin-left: -0px;
	padding: 0;
	padding-top: 0px;
	margin-top: -4px;
	
}

#menu ul{
	
	list-style: none;
	padding-left: 130px;
	padding: 0;
	padding-top: 0px;
	margin-top: -4px;	
}


#menu ul a {
	font-size: 10px;
	background-color: white;
	font-size: 11px;
	/*text-transform: uppercase;*/
	/*padding-right: 30px;*/
	/*padding-top: 2px;*/
	color: #87888a;
	/*height: 30px;*/
	/*width: 130px;*/
	/*min-height: 30px;*/
}

.submenu{
	color: black;
	background-color: white;
	padding-bottom: 5px;
	padding-top: 5px;
	/*min-height: 132px;
	height: 132px;*/
	padding-left:  130px;
		z-index: 1200;
	
}


#menu a {

	display: block;
	/*width: 170px;
	w\idth: 170x;*/
	color: #87888a;
	font-size: 12px;
	font-family:  "Lucida Grande", "Lucida Sans","Lucida Sans Unicode", Arial, sans-serif;
	text-decoration: none;
	/*margin-bottom: 5px;*/
	/*margin-right: 10px;
	margin-left: 10px;*/
	/*padding-top: 5px;*/
	padding-bottom: 10px;
	font-weight: bold;
	
/*	width: 130px;*/
	
}

#menu li {

	
/*	padding-right: 5px;*/
/*	width: 145px;*/
	/* margin-left: 5px; */
	font-size: 12px;
	line-height: 15px;
				
				
}



#menu li ul {
	
	
	position: absolute;
	left: -1000em;
	height: auto;
	/*width: auto;*/
	/*width: 130px;
	w\idth: 130px;*/
	font-weight: normal;
	font-size: 12px;
	margin: 0px;
}



#menu li li {
	/*padding-right: 1em;*/
	/*width: 130px;*/
	

}



#menu li ul a {
	/*width: 200px;*/
/* 	w\idth: 200px;*/ 
	color: #87888a;
	/*padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;*/
}





#menu li ul ul {
	margin: -1.75em 0 0 160px;
}



#menu li:hover ul ul, #menu li:hover ul ul ul, #menu li.sfhover ul ul, #menu li.sfhover ul ul ul {
	left: -999em;
}



#menu li:hover ul, #menu li li:hover ul, #menu li li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul, #menu li li li.sfhover ul {
	left: 120px;
	color: #f05a24;
}

#menu li:hover ul{
	margin-top: -27px;
	border: solid 1px #87888a;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
}



#menu li a:hover, #menu li a.sfhover, #menu li a.on {
	color: #f05a24;
	/*width: 130px;*/
}




.on {color: #f05a24; text-decoration: none; font-weight: normal;} /* liens exposes */

/* Pagination */
.pagination { clear: both; text-align: right; font-size: 0.90em; color: #666; }
.pagination .on { font-weight: bold; color: #666; }

/* Rubriques */
.rubriques ul { border: 0; }
.rubriques ul li { background: #FFFFFF; border: 0; }

.formulaire_recherche { margin-bottom: 2em; } /*Cf.: spip_formulaires.css*/

/* Listes d'articles et extraits introductifs */
.articles ul li { clear: both; padding: 0.40em 0.20em; }
.articles ul li h3 { margin: 0.30em 0; }
/*.articles .spip_logos { float: right; clear: right; margin: 0 0 4px 16px; }*/
.articles ul li .enclosures { float: right; text-align: right; max-width: 60%; margin: 0; }
.articles ul li .introduction { margin-top: 0.30em; line-height: 1.40em; }


/* Couleurs des liens
---------------------------------------------- */
a, .spip_out a { color: #C67A1A; text-decoration: none; border: 0px; }
a:focus,a:hover,a:active, .spip_out a:focus, .spip_out a:active, .spip_out:hover { color: #C67A1A; text-decoration: none;  border: 0px;}

/*  Accordeons */

#accordion {
/*border:1px solid black;*/
/*font-family:verdana;*/
width:480px;
text-align: left;
}



.article, .contentarticle, .contentevent, .agendacontent, .agendacontentpast{
	text-align: left;
	width: 480px;
}
.basic p {
/*border:medium none;
font-size:10px;
font-weight:bold;*/
margin:0;
padding:10px;
/*text-decoration:none;*/
}

.basic a {
	display:block;
}

#recherche {
	width: 91px;
	border : 1px solid #878a87;
	color: #878a87;
	/*size: 8px;*/
	/*height: 20px;*/
		
	}
	

	
.submit,.submit button[type="submit"]  { /*width of text boxes. IE6 does not understand this attribute*/
/*	width: 320px;*/
	/*padding-right: 1px;*/ 
	border : 1px solid #878a87;
	/*border-top:  6px solid #abcbcd;*/
	background-color: #ffffff;
	margin-left: -4px;
	color: #878a87;
	/*height: 20px;*/
}	
	

.notes{
	display: none;
	}
	
.hide{
	display: none;
}

#illustration{
	margin-left: 0;
	width: 460px;
	/*height: 314px;*/

}

#legend{
	font-family: Verdana regular;
	font-size: 8px;
	line-height: 10px;		
	width: 185;
	/*border: solid 1px red;*/
	margin-bottom: -10px;	
	
}

#documents_portfolio{
	margin-left: 0px;
	margin-top: 0px;
	text-align: left;
	}

.doc_titre{
	color: #ca0a1d;
	}

.doc_descriptif_firtline{
	color: #4d7eba; 
	}
	
.doc_descriptif:FIRST-LINE{
	color: #4d7eba;
	}	
	
.eventdate{
	color: #f05a24;
	}	

.eventtitle{
	color: #5f7891;

	}

.expotitle, .expotitle a{
		color: #749dae;
			font-weight: bold;
		}

.date{
		color: #9da29d;
		font-weight: bold;
	}

.document div{
	margin: 3px 3px 15px 3px;
	float: left;
	width: 10px;
	height: 12px;
	background-image: url("vign.png");
	}
	
.document :hover, .document_activ div{
	margin: 3px 3px 15px 3px;
	float: left;
	width: 10px;
	height: 12px;
	background-image: url("vign_activ.png");
	}	
	
.cartouche{
	clear: both;
}

.contentarticle, .contentevent{
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 27px;

}

.contentarticle p{
	padding-top: 0px;
	margin-top: 0px;	
	padding-bottom: 3px;
}

.titrearticle{
	font-weight: bolder;
	color: #f05a24;
}



.titrearticleactiv a{
	/*padding-top: 27px;*/
/*	padding-top: 20px;*/
	/*padding-bottom: 0px;*/
	/*margin-top: 0px;*/
}

h3.spip{
	text-align: left;
	margin-bottom: 0px;
}

.orange{
        color: #f05a24;
}

.bleu{
        /*color: #4d7eba;*/
        	color: #5f7891;
        
}

.popup-artiste{
        position: absolute;
        top: 556px;
        background-color: #ffffff;
        width: 480px;
        min-height: 500px;
        }
.popup-artiste .close{
        float: right;
        }



.popup{
	position: absolute;
	top: 516px;
	background-color: #ffffff;
	width: 480px;
	/*min-height: 500px;*/
	}
.popup .close{
	float: right;
	}
/* Citations, code et poesie */
blockquote.spip { margin: 0 0; padding-left: 0; border-left: 0px solid; }
blockquote.spip_poesie { margin: 0px; margin-left: -33px ; padding-left: 0px; border-left: 0px solid; font-family: Verdana; color:  #749DAE;}
blockquote.spip_poesie div { text-indent: 0em; margin-left: 0	em; }

blockquote{margin: 0 0; padding-left: 0; border-left: 0px solid;};

/*.orange{
	color: #87888a;
	background-color: red;
}*/

.titrearticle li a, .titrearticle li a:hover{
	font-weight: bold;
     color: #f05a24;
}

.artiste, .artiste A:HOVER  {
	color: black;
}

.dateeventcurrent{
	font-weight: bold;
	margin-bottom: -10px;
}

.dateeventpast{
	font-weight: bold;
	margin-bottom: -10px;
}

.eventtitlecurrent{
	color: #5f7891;
/*	margin-top: -15px;*/
	font-weight: bold;	
	}
	
	
.agendacontentpast{
	
	border-top: 1px solid #9da29d;
	padding-top: 10px;
	/*margin-top: -10px;*/
	
	}	
	
.back{
	clear: both;
	color: #f05a24;
	padding-bottom: 10px;
}

.back a{
	clear: both;
	color: #f05a24;
}

.diaporama a{
	font-weight: bold;
	color: #f05a24;
}

.pastcontent{
	margin-top: -10px;
}

.english{
	margin-top: -23px;
}

.english h3{
	margin-bottom: -12px;
}

.formulaire_spip formulaire_recherche{
	border: solid 1px red;
}

.extraithead { font-weight: bold; color: #f05a24; float: left;}

.animationdate{color: #f05a24;}

.animationcontent{margin-top: -12px;}

.mention{
	font-family: 8px;
	font-color: blue;
}


#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #000000;
	background-color: #FFFFFF;
	/*color: #2A98C1;*/
/*	padding: 5px;*/
	/*opacity: 0.85;*/
	padding: 3px 3px 0 3px;
	width: 300px;
	text-align: left;
}
#tooltip h3, #tooltip div { margin: 0; }


.titreProduit, .descriptionProduit{font-size: 11px;}
.titreProduit{ color: #749dae;}
.descriptionProduit{color: #000000; }
.ListeProduitsPetits{width: 473px;}
.produitContent{width: 308px; float: left;}
.produitItem{border-top: #b3b3b3 solid 2px; padding-top: 20px; margin-top: 20px;}
