/*********************************************************************************************************************/
/***********************************                  HABILLAGE                ***************************************/
/*********************************************************************************************************************/
/*******************************************************************************/
/**********     GENERAL     ****************************************************/
/*******************************************************************************/
html {
	margin : 0;
	padding : 0;
	height: 100%;
}
body {
	margin : 0;
	padding : 0;
	height: 100%;

}
#bandeau_impression {
	display : none;
}
#conteneur {
	margin :0;
	padding : 0;
	width : 964px;
	text-align : left;
	background-color : #ffffff;
	color : #000000;
	height : 100%;
}
#haut {
	float : left;
	margin : 0;
	padding : 0;
	width : 964px;
	background-color : #ffffff;
	background-repeat : repeat-y;
} 
#milieu {
	float : left;
	margin : 0;
	padding : 0 0 20px 0;
	width : 964px;
	background-color : #ffffff;
	background-image : url(fd_gauche.jpg);
	background-repeat : repeat-y;
}
.lienintranet {
	left:534px;
	position:absolute;
	width : 100px;
	top:3px;
}
.lienintranet img {
	float:left;
}
.lienintranet p a, 
.lienintranet p a:hover {
	color:#ffffff;
	display:block;
	padding:3px 0 0 0;
	float:left; 
}

/*******************************************************************************/
/**********     HAUT     *******************************************************/
/*******************************************************************************/
#haut_haut{
	margin : 0;
	padding : 0;
	float : left;
	width : 964px;
	background-image : url(fd_haut.gif);
	background-repeat : repeat;
	height : 62px;
}
#haut #haut_milieu_droite label{
	display : none;
}
#haut_haut_gauche{
	margin : 9px 0 0 0 !important;
	margin : 0;
	padding : 0;
	float : left;
	width : 620px;
	background-image : url(fd_haut.gif);
	background-repeat : repeat;
}
#haut_haut_droite{
	margin : 0;
	padding : 0;
	float : left;
	width : 344px;
}
#haut_haut_droite_haut{
	margin : 0;
	padding : 0;
	float : left;
	width : 344px;
	background-color : #b9b8b9;
	height : 27px;
}
#haut_haut_droite_bas{
	margin : 0;
	padding : 0;
	float : left;
	width : 344px;
	background-color : #606060;
	height : 37px !important;
	height : 35px;
}
#haut_haut_droite_bas p{
	margin : 8px 20px 0 20px;
	padding : 0;
	float : left;
	color : #ffffff;
	font-weight : bold;
	font-size : 0.85em;
}
#haut_haut_droite_bas select{
	margin : 7px 0 0 0;
	padding : 0;
	float : left;
	width : 136px;
	font-size : 0.9em;
}
#haut_haut_droite_bas input{
	margin : 8px 0 0 4px;
	padding : 1px 4px 1px 4px !important;
	padding : 1px 2px 0px 2px;
	float : left;
	border : none;
	background-color : #ffffff;
	font-size : 0.9em;
	cursor : pointer;
	font-weight : bold;
}
#haut_milieu{
	margin : 0 0 0 10px !important;
	margin : 0 0 0 5px;
	padding : 0;
	float : left;
	width : 954px;
	background-color : #333333;
	border-style : solid;
	border-width : 1px 0 0 0;
	border-color : #ffffff;
	position : relative;
	z-index : 10;
}
#haut_milieu_gauche{
	margin : 0;
	padding : 0;
	float : left;
	width : 800px !important;
	width : 800px;
}
*+ html #haut_milieu_gauche{
	width : 800px !important;
}
#haut_milieu_droite{
	margin : 0 0 0 0;
	padding : 13px 0 0 0;
	float : left;
	width : 154px;
}
* html #haut_milieu_droite{
	margin : 0 0 0 0;
	padding : 13px 0 0 0px;
	float : right;
	width : 154px;
}
*+ html #haut_milieu_droite{
	margin : 0 0 0 0;
	padding : 13px 0 0 0;
	float : right;
}
#haut_bas{
	margin : 0;
	padding : 0;
	position : relative;
	z-index : 1;
	width : 964px !important;
	width : 953px;
}
#haut_bas_fond{
	margin : 0;
	padding : 0;
	float : left;
	width : 964px;
	position : relative;
	z-index : 1;
}
* html #haut_bas_fond{
	float : none;
	margin : 0 0 0 0px;
	padding : 0;
	position : relative;
	width : 964px;
	z-index : 0;
}
*+ html #haut_bas_fond{
	float : none;
	margin : 0;
	padding : 0;
	position : relative;
	width : 964px;
	z-index : 0;
}
#haut_bas_titre{
	margin : 233px 0 0 -30px;
	padding : 0;
	position : absolute;
	width : 753px;
	z-index : 100;
	text-align : right;
}
* html #haut_bas_titre{
	margin : -60px 0 0 -30px;
}
*+ html #haut_bas_titre{
	margin : -60px 0 0 -30px;
}
#haut_bas_logo {
	margin : 133px 0 0 790px;
	padding : 0;
	position : absolute;
	width : 159px;
	z-index : 15;
}
* html #haut_bas_logo {
	margin : -178px 0 0 790px;
	z-index : 100;
}
*+ html #haut_bas_logo {
	margin : -178px 0 0 790px;
	z-index : 100;
}


/*******************************************************************************/
/**********     MENU  HAUT  ****************************************************/
/*******************************************************************************/

#menu_haut{
	margin : 0;
	padding : 0;
	float : left;
	text-align : center;
}
#menu_haut li{
	margin : 0;
	padding : 0;
	float : left;
	list-style-type : none;
}
#menu_haut li a{
	margin : 5px 0 0 0;
	padding : 10px 0 0 0;
	float : left;
	list-style-type : none;
}
#menu_haut li ul {
	position : absolute;
	left : -999em;
	font-weight : bold;
	background-color : #333333;
	padding : 0;
margin :0;
	list-style : none;
	background-image : none;
}
#menu_haut li li {
	background-color : #333333;
	margin : 0;
	width : 175px;
	border : 1px #454545 solid;
}
#menu_haut li li a, #menu_haut li li a:link{
	background-color : #333333;
	margin : 0;
	padding : 5px 0 5px 0;
	width : 165px;
	text-align : left;
	display : block;
	font-weight : normal;
}


/*****************************************/
/**********     MENU  1  *****************/
/*****************************************/
#menu_haut li.menu1{
	margin : 0;
	padding : 0;
	float : left;
	color : #ffffff;
}

#menu_haut li.menu1 a{
	margin : 0;
	padding : 5px;
	float : left;
	color : #ffffff;
	width : 80px !important;
	width : 90px;
}
#menu_haut li.menu1 li a{
	margin : 0;
	padding : 5px;
	float : left;
	color : #ffffff;
	width : 165px!important;
	width : 175px;
}
#menu_haut li.menu1 a:hover{
	background-color : #902015;
}
#menu_haut li.menu1 ul {
	margin : 37px 0 0 0;
	padding : 0;
	width : 175px;
}
* html #menu_haut li.menu1 ul {
	margin : 38px 0 0 -90px;
}
#menu_haut li.menu1 ul li{
	margin : 0;
	padding : 0;
	width : 175px;
}
#menu_haut li.menu1 ul li a{
	margin : 0;
	padding : 5px 0 5px 10px;
	width : 165px;
}
* html #menu_haut li.menu1 ul li a{
	width : 175px;
}
#menu_haut li.menu1:hover ul{
	left : auto;
	margin-left : 0;
	padding : 0;
}
*+ html #menu_haut li.menu1:hover ul{
	left : auto;
	margin-left : -90px;
	padding : 0;
}


/*****************************************/
/**********     MENU  2  *****************/
/*****************************************/
#menu_haut li.menu2{
	margin : 0;
	padding : 0;
	float : left;
	color : #ffffff;
}
#menu_haut li.menu2 a{
	margin : 0;
	padding : 5px;
	float : left;
	color : #ffffff;
	width : 80px !important;
	width : 90px;
}
#menu_haut li.menu2 li a{
	margin : 0;
	padding : 5px;
	float : left;
	color : #ffffff;
	width : 165px !important;
	width : 175px;
}
#menu_haut li.menu2 a:hover{
	background-color : #01669A;
}
#menu_haut li.menu2 ul {
	margin : 37px 0 0 0;
	padding : 0;
	width : 175px;
}
* html #menu_haut li.menu2 ul {
	margin : 38px 0 0 -90px;
}
#menu_haut li.menu2 ul li{
	margin : 0;
	padding : 0;
	width : 175px;
}
#menu_haut li.menu2 ul li a{
	margin : 0;
	padding : 5px 0 5px 10px;
	width : 165px;
}
* html #menu_haut li.menu2 ul li a{
	width : 175px;
}
#menu_haut li.menu2:hover ul{
	left : auto;
	margin-left : 0;
	padding : 0;
	background-color : #336699;
}
*+ html #menu_haut li.menu2:hover ul{
	left : auto;
	margin-left : -90px;
	padding : 0;
}


/*****************************************/
/**********     MENU  3  *****************/
/*****************************************/
#menu_haut li.menu3{
	margin : 0;
	padding : 0;
	float : left;
	color : #ffffff;
}
#menu_haut li.menu3 a{
	margin : 0;
	padding : 5px;
	color : #ffffff;
	width : 130px !important;
	width : 140px;
}
#menu_haut li.menu3 li a{
	margin : 0;
	padding : 5px;
	float : left;
	color : #ffffff;
	width : 165px !important;
	width : 175px;
}
#menu_haut li.menu3 ul li a{
	margin : 0;
	padding : 5px 0 5px 10px;
	width : 165px;
}
* html #menu_haut li.menu3 ul li a{
	width : 175px;
}
#menu_haut li.menu3 a:hover{
	background-color : #01669A;
}
#menu_haut li.menu3 ul {
	margin : 37px 0 0 0;
	padding : 0;
	width : 175px;
}
* html #menu_haut li.menu3 ul {
	margin : 38px 0 0 -140px;
}
#menu_haut li.menu3 ul li{
	margin : 0;
	padding : 0;
	width : 175px;
}
#menu_haut li.menu3:hover ul{
	left : auto;
	margin-left : 0;
	padding : 0;
}
*+ html #menu_haut li.menu3:hover ul{
	left : auto;
	margin-left : -140px;
	padding : 0;
}


/*****************************************/
/**********     MENU  4  *****************/
/*****************************************/
#menu_haut li.menu4{
	margin : 0;
	padding : 0;
	float : left;
	color : #ffffff;
}
#menu_haut li.menu4 a{
	margin : 0;
	padding : 5px 10px 5px 10px;
	color : #ffffff;
	width : 80px !important;
	width : 100px;
}
#menu_haut li.menu4 li a{
	margin : 0;
	padding : 5px 10px 5px 10px;
	float : left;
	color : #ffffff;
	width : 165px !important;
	width : 175px;
}
#menu_haut li.menu4 ul li a{
	margin : 0;
	padding : 5px 0 5px 10px;
	width : 165px;
}
* html #menu_haut li.menu4 ul li a{
	width : 175px;
}
#menu_haut li.menu4 a:hover{
	background-color : #01669A;
}
#menu_haut li.menu4 ul {
	margin : 37px 0 0 0;
	padding : 0;
	width : 175px;
}
* html #menu_haut li.menu4 ul {
	margin : 38px 0 0 -100px;
}
#menu_haut li.menu4 ul li{
	margin : 0;
	padding : 0;
	width : 175px;
}
#menu_haut li.menu4:hover ul{
	left : auto;
	margin-left : 0;
	padding : 0;
}
*+ html #menu_haut li.menu4:hover ul{
	left : auto;
	margin-left : -100px;
	padding : 0;
}


/*****************************************/
/**********     MENU  5  *****************/
/*****************************************/
#menu_haut li.menu5{
	margin : 0;
	padding : 0;
	float : left;
	color : #ffffff;
}
#menu_haut li.menu5 a{
	margin : 0;
	padding : 5px 10px 5px 10px;
	color : #ffffff;
	width : 131px !important;
	width : 151px;
}
#menu_haut li.menu5 li a{
	margin : 0;
	padding : 5px 10px 5px 10px;
	float : left;
	color : #ffffff;
	width : 165px !important;
	width : 175px;
}
#menu_haut li.menu5 ul li a{
	margin : 0;
	padding : 5px 0 5px 10px;
	width : 165px;
}
* html #menu_haut li.menu5 ul li a{
	width : 175px;
}
#menu_haut li.menu5 a:hover{
	background-color : #01669A;
}
#menu_haut li.menu5 ul {
	margin : 37px 0 0 0px;
	padding : 0;
	width : 175px;
}
* html #menu_haut li.menu5 ul {
	margin : 38px 0 0 -152px;
}
#menu_haut li.menu5 ul li{
	margin : 0;
	padding : 0;
	width : 175px;
}
#menu_haut li.menu5:hover ul{
	left : auto;
	margin-left : 0;
	padding : 0;
}
*+ html #menu_haut li.menu5:hover ul{
	left : auto;
	margin-left : -152px;
	padding : 0;
}


/*****************************************/
/**********     MENU  6  *****************/
/*****************************************/
#menu_haut li.menu6{
	margin : 0;
	padding : 0;
	float : left;
	color : #ffffff;
}
#menu_haut li.menu6 a{
	margin : 0;
	padding : 5px 10px 5px 10px;
	color : #ffffff;
	width : 80px !important;
	width : 100px;
}
#menu_haut li.menu6 li a{
	margin : 0;
	padding : 5px 10px 5px 10px;
	float : left;
	color : #ffffff;
	width : 165px!important;
	width : 175px;
}
#menu_haut li.menu6 ul li a{
	margin : 0;
	padding : 5px 0 5px 10px;
	width : 165px;
}
* html #menu_haut li.menu6 ul li a{
	width : 175px;
}
#menu_haut li.menu6 a:hover{
	background-color : #01669A;
}
#menu_haut li.menu6 ul {
	margin : 37px 0 0 0;
	padding : 0;
	width : 175px;
}
* html #menu_haut li.menu6 ul {
	margin : 38px 0 0 -100px;
}
#menu_haut li.menu6 ul li{
	margin : 0;
	padding : 0;
	width : 175px;
}
#menu_haut li.menu6:hover ul{
	left : auto;
	margin-left : 0;
	padding : 0;
}
*+ html #menu_haut li.menu6:hover ul{
	left : auto;
	margin-left : -100px;
	padding : 0;
}


/*****************************************/
/**********     MENU  7  *****************/
/*****************************************/
#menu_haut li.menu7{
	margin : 0;
	padding : 0;
	float : left;
	color : #ffffff;
}
#menu_haut li.menu7 a{
	margin : 0;
	padding : 5px 10px 5px 10px;
	color : #ffffff;
	width : 66px !important;
	width : 86px;
}
#menu_haut li.menu7 li a{
	margin : 0;
	padding : 5px 10px 5px 10px;
	float : left;
	color : #ffffff;
	width : 165px !important;
	width : 175px;
}
#menu_haut li.menu7 ul li a{
	margin : 0;
	padding : 5px 0 5px 10px;
	width : 165px;
}
* html #menu_haut li.menu7 ul li a{
	width : 175px;
}
#menu_haut li.menu7 a:hover{
	background-color : #01669A;
}
#menu_haut li.menu7 ul {
	margin : 37px 0 0 0;
	padding : 0;
	width : 175px;
}
* html #menu_haut li.menu7 ul {
	margin : 38px 0 0 -88px;
}
#menu_haut li.menu7 ul li{
	margin : 0;
	padding : 0;
	width : 175px;
}
#menu_haut li.menu7:hover ul{
	left : auto;
	margin-left : 0;
	padding : 0;
}
*+ html #menu_haut li.menu7:hover ul{
	left : auto;
	margin-left : -88px;
	padding : 0;
}
#menu_haut li.menu2 a:hover{
	background-color : #01669A;
}
#menu_haut li.menu3 a:hover{
	background-color : #277601;
}
#menu_haut li.menu4 a:hover{
	background-color : #EE4A03;
}
#menu_haut li.menu5 a:hover{
	background-color : #641F02;
}
#menu_haut li.menu6 a:hover{
	background-color : #A40335;
}
#menu_haut li.menu7 a:hover{
	background-color : #E47E00;
}
#menu_haut li.sfhover ul{
	left : 0;
	margin-left : 0;
	padding : 0;
	background-color : #ffffff;
	color : #333333;
}
* html #menu_haut li.sfhover ul{
	left : auto;
}


/*******************************************************************************/
/**********     MENU  GAUCHE  **************************************************/
/*******************************************************************************/
#menu_gauche {
	list-style-type : none;
	margin : 0 0 0 10px;
	padding : 0;
	width : 223px;
}
#menu_gauche li {
	margin : 0 0 0 0;
	padding : 0;	
	list-style-type : none;
	width : 209px;	
}
#menu_gauche li a, #menu_gauche li a:link  {
	margin : 0;
	padding : 7px 7px 7px 10px;
	text-decoration : none;
	font-weight : bold;
	display : block;
	font-size : 0.9em;
	border-width : 1px 0 0 0;
	border-color : #999999;
	border-style : dotted;
	color : #000000;
	width : 209px;
}
* html #menu_gauche li a {
	width : 225px;
}
* html #menu_gauche li a:link  {
	width : 225px;
}
*+ html #menu_gauche li a  {
	width : 209px;
}
*+ html #menu_gauche li a:link  {
	width : 209px;
}
#menu_gauche li.active a{
	background-color : inherit;
	text-decoration : none;
	background-repeat : no-repeat;
	background-position : left 8px;
	padding : 7px 7px 7px 12px;
	width : 207px;
}
* html #menu_gauche li.active a{
	width : 225px;
}
#menu_gauche li.active ul{
	margin : 0;
	padding : 0 0 0 40px;
	list-style-type : none;
	width : 205px;
}
* html #menu_gauche li.active ul{
	margin : 0;
	padding : 0;
	list-style-type : none;
	width : 225px;
}
#menu_gauche li.active li a, #menu_gauche li.active li a:link{
	background-repeat : no-repeat;
	background-position : 12px 8px;
	padding : 7px 7px 7px 24px;
	margin : -2px 0 0 -40px;
	border-width : 1px 0 0 0;
	border-color : #999999;
	border-style : dotted;
	font-size : 0.9em;
	width : 195px;
}
* html #menu_gauche li.active li a, * html #menu_gauche li.active li a:link{
	padding : 7px 7px 7px 24px;
	margin : 0;
	width : 225px;
}
#menu_gauche li li a, #menu_gauche li li a:link  {
	margin : 0 0 0 -40px;
	padding : 2px 5px 2px 20px;
	text-transform : none;
	text-decoration : none;
	font-size : 1.1em;
	background-position : 4% 50%;
	background-repeat : no-repeat;
	width : 195px;
}
#menu_gauche li.active li.active a{
	text-decoration : none;
	color : #ffffff;
	background-repeat : no-repeat;
	background-position : 12px 10px;
	padding : 7px 7px 7px 24px;
	width : 195px;
}
* html #menu_gauche li.active li.active a{
	padding : 7px 7px 7px 24px;
	margin : 0;
	width : 225px;
}
#menu_gauche li ul {
	display : none;
}
#menu_gauche li.active ul{
	display : block;
}
#menu_gauche li.active ul li ul{
	display : none;
}
#menu_gauche li.active ul li.active ul{
	display : block;
}
#menu_gauche li.active li.active ul{
	margin : 0;
	padding : 0 !important;
	padding : 0;
	color : #ffffff;
}
#menu_gauche li.active li.active li {
	padding : 0 0 0 15px;
	margin : 0 0 0 -15px;
	width : 186px;
}
* html #menu_gauche li.active li.active li {
	margin : 0 0 0 0px;
}
#menu_gauche li.active li.active li a, #menu_gauche li.active li.active li a:link{
	margin : -2px 0 0 -40px;
	color : #ffffff;
	border-width : 1px 0 0 0;
	border-color : #999999;
	border-style : dotted;
	font-size : 0.85em;
	font-weight : normal;
}
*+ html #menu_gauche li.active li.active li a{
	width : auto;
}
*+ html #menu_gauche li.active li.active li a:link{
	width:auto;
}
* html #menu_gauche li.active li.active li a, * html #menu_gauche li.active li.active li a:link{
	margin : 0 0 0 -15px;
	width : 225px;
}


/*******************************************************************************/
/**********     HAUT PIED DE PAGE  *********************************************/
/*******************************************************************************/
#pied_page{
	margin : 0;
	padding : 0;
	float : left;
}
#pied_page li{
	margin : 4px 0 4px 0;
	padding : 0;
	float : left;
	list-style-type : none;
}
#pied_page li a{
	float : left;
	padding : 0 8px 0 17px !important;
	padding : 0 8px 0 14px;
}


/*******************************************************************************/
/**********     MILIEU  ********************************************************/
/*******************************************************************************/
/*****************************************/
/**********     COLONNE GAUCHE  **********/
/*****************************************/
#milieu_gauche{
	margin : 0;
	padding : 0;
	float : left;
	width : 248px !important;
	width : 218px;
	height : 100%;
}
.titre_nonvisible {
	display : none;
}
.titre_nonvisible h1 {
	display : none;
}
.milieu_gauche_contenu{
	margin : 5px 0px 10px 24px !important;
	margin : 5px 0 10px 10px;
	padding : 0 0 10px 0;
	float : left;
	width : 200px;
	border-style : dotted;
	border-width : 0 0 1px 0;
	border-color : #a7b3bb;
}

/*J'ai commenté ça parce que ça me parait pas logique.... si jamais faut remettre....
.milieu_gauche_contenu .csc-textpic-text p.bodytext a {
	font-weight: normal;
	margin: 0;
	padding: 0;	
}

.milieu_gauche_contenu .csc-textpic-text p.bodytext a:hover {
	margin: 0;
	padding: 0;
}

*/

.milieu_gauche_contenu li{
	list-style-type : none;
	margin : 0 0 0 -15px;
	padding : 0;
}
.milieu_gauche_contenu_bas{
	margin : 5px 10px 10px 24px;
	padding : 0 0 10px 0px;
	float : left;
	width : 180px;
}
.milieu_gauche_fd{
	margin : -4px 0 0 0;
	padding : 0;
	float : left;
	width : 236px !important;
	width : 234px;
	background-repeat : no-repeat;
	background-position : 214px 0px;
	height : 100%;
}


/*****************************************/
/**********     TEMPLATE 2 COLS  *********/
/*****************************************/
#milieu_milieu{
	margin : 0 20px 0 0 !important;
	margin : 0 27px 0 5px;
	padding : 0 0 0 10px;
	float : left;
	width : 472px !important;
	width : 482px;
	background-color : #ffffff;
}
#milieu_milieu #milieu_milieu_fil_arianne{
	margin : 0 0 10px 0;
	padding : 0;
	float : left;
}
#milieu_milieu #milieu_milieu_fil_arianne ul{
	margin : 0;
	padding : 0;
	float : left;
}
#milieu_milieu #milieu_milieu_fil_arianne li{
	margin : 0;
	padding : 0;
	float : left;
	font-weight : normal;
	list-style-type : none;
	font-size : 0.85em;
}
#milieu_milieu #milieu_milieu_fil_arianne li a, a:link, a:hover{
	margin : 0;
	padding : 0 7px 0 0;
	font-weight : normal;
	color : #333333;
}
#milieu_milieu .milieu_milieu_liens{
	margin : 0 0 15px 0;
	padding : 0;
	float : right;
	width : 472px;
}

#milieu_milieu .milieu_milieu_liens a {
	float: right;
	width: 30px;
}
#milieu_milieu .milieu_milieu_liens img{
	margin : 0;
	padding : 0 0 0 5px;
	float : right;
}
#milieu_milieu .milieu_milieu_contenu_une{
	margin : 0 0 15px 0;
	padding : 0;
	float : left;
	width : 100%;
}
#milieu_milieu .milieu_milieu_contenu{
	margin : 0 0 15px 0;
	padding : 0;
	float : left;
	width : 100%;
}
#milieu_milieu .milieu_milieu_contenu table{
	float : left;
}
* html #milieu_milieu .milieu_milieu_contenu{
	margin : 0 0 15px 0;
	padding : 0;
	float : none;
	width : 100%;
}
#milieu_milieu .milieu_milieu_contenu_actu{
	margin : 0 0 15px 0;
	padding : 0;
	float : left;
	width : 100%;
}
#milieu_milieu .milieu_milieu_contenu_contenu{
	margin : 0 0 10px 0;
	padding : 0;
	float : left;
	width : 100%;
}
#milieu_milieu .milieu_milieu_contenu ul{
	margin : 0 0 0 5px;
	padding : 0;
}
#milieu_milieu .milieu_milieu_contenu_actu ul li, .milieu_milieu_contenu ul li{
	margin : 0;
	padding : 0 0 10px 13px;
	list-style-type : none;
	background-image : url(puce_ronde.gif);
	background-repeat : no-repeat;
	background-position : left 4px;
}
#milieu_milieu .milieu_milieu_contenu table{
	margin : 0;
	padding : 0;
}
#milieu_milieu .milieu_milieu_contenu tr{
	margin : 0;
	padding : 0;
}
#milieu_milieu .milieu_milieu_contenu tr.active{
	margin : 0;
	padding : 0;
	background-color : #669933;
}
#milieu_milieu .milieu_milieu_contenu tr.fd_gris{
	background-color : #eeeeee;
}
#milieu_milieu .milieu_milieu_contenu td{
	margin : 0;
	padding : 0 5px 0px 5px;
	font-size : 0.9em;
}
#milieu_milieu .milieu_milieu_contenu td p{
	margin : 0;
	padding : 5px 0;
}


/*****************************************/
/**********     TEMPLATE 1 COLS  *********/
/*****************************************/
#milieu_milieu_large {
	margin : 0 20px 0 0 !important;
	margin : 0 15px 0 5px;
	padding : 0 0 0 10px;
	float : left;
	width : 680px !important;
	width : 690px;
	background-color : #ffffff;
	
}
#milieu_milieu_large #milieu_milieu_fil_arianne{
	margin : 0 0 10px 0;
	padding : 0;
	float : left;
}
#milieu_milieu_large #milieu_milieu_fil_arianne ul{
	margin : 0;
	padding : 0;
	float : left;
}
#milieu_milieu_large #milieu_milieu_fil_arianne li{
	margin : 0;
	padding : 0;
	float : left;
	font-weight : normal;
	list-style-type : none;
	font-size : 0.85em;
}
#milieu_milieu_large #milieu_milieu_fil_arianne li a{
	margin : 0;
	padding : 0 7px 0 0;
	font-weight : normal;
}
#milieu_milieu_large #milieu_milieu_fil_arianne li a:hover{
	font-weight : normal;
	color : #000000;
}
#milieu_milieu_large .milieu_milieu_liens{
	margin : 0 0 15px 0;
	padding : 0;
	float : right;
	width : 682px;
}

*+ html #milieu_milieu_large .milieu_milieu_liens{
	float : left;
}

#milieu_milieu_large .milieu_milieu_liens a{
	width: 30px;
	float : right;
}
#milieu_milieu_large .milieu_milieu_liens img{
	margin : 0;
	padding : 0 0 0 10px;
	float : right;
}

#milieu_milieu_large .milieu_milieu_contenu_une{
	margin : 0 0 15px 0;
	padding : 0;
	float : left;
	width : 100%;
}
#milieu_milieu_large .milieu_milieu_contenu{
	margin : 0 0 15px 0;
	padding : 0;
	float : left;
	width : 100%;
}
* html #milieu_milieu_large .milieu_milieu_contenu{
	margin : 0 0 15px 0;
	padding : 0;
	float : none;
	width : 100%;
}
#milieu_milieu_large .milieu_milieu_contenu_actu{
	margin : 0 0 15px 0;
	padding : 0;
	float : left;
	width : 100%;
}
#milieu_milieu_large .milieu_milieu_contenu_contenu{
	margin : 0 0 10px 0;
	padding : 0;
	float : left;
	width : 100%;
}
#milieu_milieu_large .milieu_milieu_contenu ul{
	margin : 0 0 0 5px;
	padding : 0;
}
#milieu_milieu_large .milieu_milieu_contenu_actu ul li, .milieu_milieu_contenu ul li{
	margin : 0;
	padding : 0 0 3px 13px;
	list-style-type : none;
	background-image : url(puce_ronde.gif);
	background-repeat : no-repeat;
	background-position : left 4px;
	font-weight: normal;
        color: #000000;
}
#milieu_milieu_large .milieu_milieu_contenu_actu ul li li, .milieu_milieu_contenu ul li li{
	margin : 0 0 0px 15px;
	padding : 0 0 3px 0;
	list-style-type : none;
	background-image : none;
	list-style-type : circle;
}
#milieu_milieu_large .milieu_milieu_contenu_actu ol li, .milieu_milieu_contenu ol li{
	margin : 0;
	padding : 0 0 3px 0;
	background-image : none;
	list-style-type : decimal;
}
#milieu_milieu_large .milieu_milieu_contenu_actu ol li li, .milieu_milieu_contenu ol li li{
	margin : 0 0 0 15px;
	padding : 0 0 3px 0px;
	background-image : none;
	list-style-type : lower-alpha;
}
#milieu_milieu_large .milieu_milieu_contenu table{
	margin : 0;
	padding : 0;
}
#milieu_milieu_large .milieu_milieu_contenu tr{
	margin : 0;
	padding : 0;
}
#milieu_milieu_large .milieu_milieu_contenu tr.active{
	margin : 0;
	padding : 0;
	background-color : #669933;
	width : 100%;
}
#milieu_milieu_large .milieu_milieu_contenu tr.fd_gris{
	background-color : #eeeeee;
}
#milieu_milieu_large .milieu_milieu_contenu td{
	margin : 0;
	padding : 7px 5px 7px 5px;
	font-weight : bold;
	font-size : 0.9em;
}


/*******************************************************************************/
/**********     COLONNE DROITE  ************************************************/
/*******************************************************************************/
#milieu_droite{
	margin : 0;
	padding : 0 0 0 20px;
	float : left;
	width : 183px !important;
	width : 190px;
	background-image : url(fd_droite.jpg);
	background-repeat : repeat-y;
	background-position : left top;
}
.milieu_droite_contenu{
	margin : 0;
	padding : 0 0 10px 0;
}

.milieu_droite_contenu form{
	margin : 0 0 15px 0;
	padding : 0;
}
.milieu_droite_contenu select{
	margin : 7px 0 0 0;
	padding : 0;
	float : left;
	width : 126px;
	font-size : 0.9em;
}
.milieu_droite_contenu input{
	margin : 7px 0 0 5px;
	padding : 2px 0 2px 0;
	width : 110px;
	font-size : 0.9em;
	border-width : 1px;
	border-style : solid;
	border-color : #000000;
	color : #000000;
	background-color : #ffffff;
}
.milieu_droite_contenu input.valide_recherche{
	margin : 7px 0 0 5px;
	padding : 2px 0 2px 0;
	width : 34px;
	font-size : 0.9em;
	border : none;
	color : #000000;
	font-weight : bold;
	cursor : pointer;
	background-color : #B9B8B9;
}
.milieu_droite_contenu .irfaq-search-form-submit input{
	margin : 7px 0 0 5px;
	padding : 2px 0 2px 0;
	width : auto;
	font-size : 0.9em;
	border : none;
	color : #000000;
	font-weight : bold;
	cursor : pointer;
	background-color : #B9B8B9;
}
.milieu_droite_contenu ul{
	width : 150px;
	margin : 0;
	padding : 0;
}
.milieu_droite_contenu li{
	margin : 0;
	padding : 0 0 10px 0;
	list-style-position : inside;
}


/*******************************************************************************/
/**********     EXTENSIONS  ****************************************************/
/*******************************************************************************/
/*****************************************/
/**********     DROPDOWN SITEMAP  ********/
/*****************************************/
* html #milieu_milieu .tx-dropdownsitemap-pi1 img{
	margin : 5px 0 0 0;
}



/*****************************************/
/**********     TT_NEWS  *****************/
/*****************************************/
#milieu_milieu .tx-ttnews-browsebox table{
	border : none;
	margin : 0;
	padding : 0;

}
#milieu_milieu .tx-ttnews-browsebox table td{
	border : none;
	margin : 0;
	padding : 5px 0 10px 0;

}
#milieu_milieu .tx-ttnews-browsebox table td p{
	padding : 0;
	margin : 0;
}