/* default styles for extension "tx_indexedsearch" */
		.tx-indexedsearch .tx-indexedsearch-browsebox LI { display:inline; margin-right:5px; }
		.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-button { width:100px; }
		.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-sword { width:150px; }
		.tx-indexedsearch .tx-indexedsearch-whatis { margin-top:10px; margin-bottom:5px; }
		.tx-indexedsearch .tx-indexedsearch-whatis .tx-indexedsearch-sw { font-weight:bold; font-style:italic; }
		.tx-indexedsearch .tx-indexedsearch-noresults { text-align:center; font-weight:bold; }
		.tx-indexedsearch .tx-indexedsearch-res TD.tx-indexedsearch-descr { font-style:italic; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-descr .tx-indexedsearch-redMarkup { color:red; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-info { background:#eeeeee; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead { margin-top:20px; margin-bottom:5px; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead H2 { margin-top:0px; margin-bottom:0px; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead TD { background:#cccccc; vertical-align:middle; }
		.tx-indexedsearch .tx-indexedsearch-res .noResume { color:#666666; }
		.tx-indexedsearch .tx-indexedsearch-category { background:#cccccc; font-size:16px; font-weight:bold; }

		/* Additional styles, needed for the tableless template_css.tmpl (styles don't conflict with the original template) */
		.tx-indexedsearch .res-tmpl-css { clear:both; margin-bottom:1em; }
		.tx-indexedsearch .searchbox-tmpl-css LABEL { margin-right:1em; width:10em; float:left; }
		.tx-indexedsearch .result-count-tmpl-css, .tx-indexedsearch .percent-tmpl-css { letter-spacing:0; font-weight:normal; margin-top:-1.2em; float:right; }
		.tx-indexedsearch .info-tmpl-css dt, .tx-indexedsearch dl.info-tmpl-css dd { float:left; }
		.tx-indexedsearch .info-tmpl-css dd.item-mtime { float:none; }
		.tx-indexedsearch .info-tmpl-css dd.item-path { float:none; }
/* default styles for extension "tx_dropdownsitemap_pi1" */
        .tx-dropdownsitemap-pi1 UL, .tx-dropdownsitemap-pi1 OL {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }
        .tx-dropdownsitemap-pi1 A, .tx-dropdownsitemap-pi1 A:link, .tx-dropdownsitemap-pi1 A:visited, .tx-dropdownsitemap-pi1 A:hover, .tx-dropdownsitemap-pi1 A:active {
            color: #FF8700;
            background-color: inherit;
        }
        .tx-dropdownsitemap-pi1 DIV {
            margin-left: 20px;
            margin-top: 2px;
            padding: 2px;
        }
        .tx-dropdownsitemap-pi1 LI.open OL {
            display: block;
        }
        .tx-dropdownsitemap-pi1 LI.closed OL {
            display: none;
        }
        .tx-dropdownsitemap-pi1 LI.open UL {
            display: block;
        }
        .tx-dropdownsitemap-pi1 LI.closed UL {
            display: none;
        }
        .tx-dropdownsitemap-pi1 SPAN.ifsub {
            text-transform: uppercase;
            font-weight: bold;
        }
        .tx-dropdownsitemap-pi1 SPAN.spc {
            text-transform: uppercase;
            font-style: italic;
        }
        .tx-dropdownsitemap-pi1 .description {
            font-style: italic;
            font-size: 80%;
            margin-left: 5px;
        }
        .tx-dropdownsitemap-pi1 DIV {
        }
        .tx-dropdownsitemap-pi1 DIV.level_2 {
        }
        .tx-dropdownsitemap-pi1 DIV.level_3 {
        }
        .tx-dropdownsitemap-pi1 DIV.level_4 {
        }
        .tx-dropdownsitemap-pi1 DIV.level_5 {
        }
        .tx-dropdownsitemap-pi1 DIV.expAll {
            border: solid 1px #DBA83B;
            background-color: #FCF2C8;
            color: inherit;
            padding: 5px;
        }
        .tx-dropdownsitemap-pi1 IMG {
            margin-right: 5px;
        }
/* default styles for extension "tx_flvplayer_pi1" */
		.tx-flvplayer-pi1 {
			text-align: center;
		}
/* default styles for extension "tx_femp3player_pi1" */
		.tx-femp3player-pi1 {
			text-align: center;
		}
		.tx-femp3player-pi1 TABLE {
			border: solid 1px #BCBCBC;
			margin-top: 5px;
			margin-bottom: 5px;
			border-collapse: collapse;
		}
		.tx-femp3player-pi1 TD {
			border: solid 1px #BCBCBC;
			padding: 5px;
		}
/* default styles for extension "tx_ablinklist_pi1" */

/* --------------------  general styles  -------------------- */

.tx_ablinklist_viewDetailsForLink {
	font-size : medium;
	border : solid 1px #C5C5C5;
	background-color : #E5E5E5;
	padding : 5px;
	margin-top : 10px;
	display : block;
	text-align : left;
}

.tx_ablinklist_viewAddNewLink {
	font-size : medium;
	border : solid 1px #C5C5C5;
	background-color : #E5E5E5;
	padding : 5px;
	margin-top : 10px;
	display : block;
	text-align : left;
}

.tx_ablinklist_viewAddNewLinkResult {
	font-size : medium;
	border : solid 1px #C5C5C5;
	background-color : #E5E5E5;
	padding : 5px;
	margin-top : 10px;
	display : block;
	text-align : left;
}

.tx_ablinklist_viewReportBrokenLink {
	font-size : medium;
	border : solid 1px #C5C5C5;
	background-color : #E5E5E5;
	padding : 5px;
	margin-top : 10px;
	display : block;
	text-align : left;
}

.tx_ablinklist_viewReportBrokenLinkResult {
	font-size : medium;
	border : solid 1px #C5C5C5;
	background-color : #E5E5E5;
	padding : 5px;
	margin-top : 10px;
	display : block;
	text-align : left;
}

.tx_ablinklist_viewRateLink {
	font-size : medium;
	border : solid 1px #C5C5C5;
	background-color : #E5E5E5;
	padding : 5px;
	margin-top : 10px;
	display : block;
	text-align : left;
}

.tx_ablinklist_viewRateLinkResult {
	font-size : medium;
	border : solid 1px #C5C5C5;
	background-color : #E5E5E5;
	padding : 5px;
	margin-top : 10px;
	display : block;
	text-align : left;
}

.tx_ablinklist_categoryPath {
	font-size : small;
}

.tx_ablinklist_formErrorMsg {
	color : red;
	margin-top : 10px;
	margin-bottom : 10px;
}

/* --------------------  listView  -------------------- */

.tx_ablinklist_listView_categoryPath {
	font-size : small;
}

.tx_ablinklist_listView_categories {
	margin-top : 10px;
}

.tx_ablinklist_listView_category {
	margin-top : 10px;
}

.tx_ablinklist_listView_categoryLabel { }

.tx_ablinklist_listView_links {
	margin-top : 10px;
}

.tx_ablinklist_listView_link { }

.tx_ablinklist_listView_linkAddNew {
	margin-top : 10px;
}

.tx_ablinklist_listView_linkLabel { }

.tx_ablinklist_listView_linkDetails { }

.tx_ablinklist_listView_linkReportBroken { }

.tx_ablinklist_listView_linkRate { }

.tx_ablinklist_listView_linkImage { }

/* --------------------  treeView  -------------------- */

.tx_ablinklist_treeView_category {
	margin-top : 10px;
	margin-bottom : 10px;
}

.tx_ablinklist_treeView_category_level_1 { }

.tx_ablinklist_treeView_category_level_2 { }

.tx_ablinklist_treeView_category_level_3 { }

.tx_ablinklist_treeView_category_level_4 { }

.tx_ablinklist_treeView_links {
	margin-bottom : 10px;
}

.tx_ablinklist_treeView_linkAddNew {
	font-size : small;
}

.tx_ablinklist_treeView_linkLabel { }

.tx_ablinklist_treeView_linkDetails { }

.tx_ablinklist_treeView_linkReportBroken { }

.tx_ablinklist_treeView_linkRate { }

.tx_ablinklist_treeView_linkImage { }

/* --------------------  searchView  -------------------- */

.tx_ablinklist_searchView_searchBox { }

.tx_ablinklist_searchView_searchBox_searchWord { }

.tx_ablinklist_searchView_searchBox_button { }

.tx_ablinklist_searchView_resultMessage {
	margin-top : 10px;
	margin-bottom : 10px;
}

.tx_ablinklist_searchView_noLinksMessage {
	font-size : medium;
	border : solid 1px #C5C5C5;
	background-color : #E5E5E5;
	padding : 5px;
	margin-top : 10px;
	margin-bottom : 10px;
	display : block;
	text-align : center;
}

.tx_ablinklist_searchView_categoryPath {
	font-size : small;
}

.tx_ablinklist_searchView_categoryLabel { }

.tx_ablinklist_searchView_links {
	margin-top : 10px;
}

.tx_ablinklist_searchView_linkLabel { }

.tx_ablinklist_searchView_linkDetails { }

.tx_ablinklist_searchView_linkReportBroken { }

.tx_ablinklist_searchView_linkRate { }

.tx_ablinklist_searchView_linkImage { }

/* --------------------  topView  -------------------- */

.tx_ablinklist_topView_links {
	font-size : medium;
	border : solid 1px #C5C5C5;
	background-color : #E5E5E5;
	padding : 5px;
	margin-bottom : 10px;
	display : block;
	text-align : left;
}

.tx_ablinklist_topView_link {
	margin-top : 5px;
}

.tx_ablinklist_topView_linkLabel { }

.tx_ablinklist_topView_linkDetails { }

.tx_ablinklist_topView_linkImage { }

/* --------------------  catalogView  -------------------- */

.tx_ablinklist_catalogView_categoryPath {
	font-size : small;
}

.tx_ablinklist_catalogView_category {
	float : left;
	width : 300px;
	padding-top : 20px;
}

.tx_ablinklist_catalogView_subcategories {
	font-size : small;
}

.tx_ablinklist_catalogView_categoryLabel { }

.tx_ablinklist_catalogView_links {
	clear : both;
	padding-top : 20px;
}

.tx_ablinklist_catalogView_link { }

.tx_ablinklist_catalogView_linkAddNew {
	margin-top : 10px;
}

.tx_ablinklist_catalogView_linkLabel { }

.tx_ablinklist_catalogView_linkDetails { }

.tx_ablinklist_catalogView_linkReportBroken { }

.tx_ablinklist_catalogView_linkRate { }

.tx_ablinklist_catalogView_linkImage { }

/* default styles for extension "tx_dcdgooglemap_pi1" */
		.tx_dcdgooglemap_map .tx_dcdgooglemap_carto {
			clear:both;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_category {
			font-weight:normal;
			margin-left:5px;
			float:left;
			display:block;
			width: 30%;
			margin-bottom:5px;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_category input, .tx_dcdgooglemap_map .tx_dcdgooglemap_category label, .tx_dcdgooglemap_map .tx_dcdgooglemap_category label img  {
			float:left;
			margin-right:2px;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_sub_category_description {
			clear:both;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_category_description {
			float:left;
			border-color:#999999;
			background-color:#FFFFFF;
			border-style:solid;
			border-width:1px;
			display:none;
			z-index:0;
		}

		.tx_dcdgooglemap_map .kmllink {
			cursor:pointer;
		}

		.tx_dcdgooglemap_map .popup_kmllink {
			margin-left:40%;
			text-align:center;
			margin-right:1px;
			padding:5px 0px 5px 0px;
			border-color:#000000;
			border-style:solid;
			border-width:0.5px;
			display:none;
			background-color:#FFFFFF;
		}


		.tx_dcdgooglemap_map .tx_dcdgooglemap_geocoder form, .tx_dcdgooglemap_map .tx_dcdgooglemap_direction form {
			padding-top:10px;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_geocoder form {
			float:right;
			width:55%;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_direction form {
			float:left;
			width:43%;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_geocoder form fieldset, .tx_dcdgooglemap_map .tx_dcdgooglemap_direction form fieldset {
			border:#273E8E 1px solid;
			padding:5px 5px 5px 5px;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_geocoder form fieldset label, .tx_dcdgooglemap_map .tx_dcdgooglemap_direction form fieldset label {
			display:block;
			text-align:right;
			margin-bottom:5px;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_geocoder_champs, .tx_dcdgooglemap_map .tx_dcdgooglemap_direction_champs {
			position:relative;
			top:-5pt;
			text-align:center;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_direction_from, .tx_dcdgooglemap_map .tx_dcdgooglemap_direction_to {
			width:220px;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_geocoder_address {
			width:220px;
		}

		.tx_dcdgooglemap_map .fieldsetlabel {
			font-weight:bold;
			text-align:left;
			top:-10pt;
			left:15px;
			position:relative;
			background:#FFFFFF;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_category_description img {
			display:block;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_category_description a {
			display:block;
		}

		/* Bulle */
		.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_name {
			font-weight:bold;
			margin-top:2px;
			margin-bottom:4px;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_title {
			margin-top:2px;
			margin-bottom:4px;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_address {
			margin-top:2px;
			margin-bottom:4px;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_zip {
			display:inline;
			margin-top:2px;
			margin-bottom:4px;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_city {
			display:inline;
			margin-top:2px;
			margin-bottom:4px;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_phone {
			margin-top:2px;
			margin-bottom:4px;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_email {
			margin-top:2px;
			margin-bottom:4px;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_note {
			margin-top:2px;
			margin-bottom:4px;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_image {
			margin-top:2px;
			margin-bottom:4px;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_img_label {
			text-align:center;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_image .tx_dcdgooglemap_img {
			margin-top:2px;
			margin-bottom:2px;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_image .tx_dcdgooglemap_label {
			margin-top:2px;
			margin-bottom:2px;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_download {
			margin-top:2px;
			margin-bottom:4px;
		}

		.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_download .tx_dcdgooglemap_file {
			margin-top:2px;
			margin-bottom:2px;
		}		

		.tx_dcdgooglemap_map .tx_dcdgooglemap_bulle .tx_dcdgooglemap_learn_more {
			margin-top:2px;
			margin-bottom:4px;
		}
		/* FIN Bulle */

		.tx_dcdgooglemap_menu .tx_dcdgooglemap_menu_col {
			font-weight:normal;
			float:left;
			display:block;
			width:30%;
		}

		.tx_dcdgooglemap_menu .tx_dcdgooglemap_category {
			margin-top:10px;
			margin-bottom:10px;
		}

		.tx_dcdgooglemap_menu .tx_dcdgooglemap_category_lib {
			font-size:14px;
		}

		.tx_dcdgooglemap_menu .tx_dcdgooglemap_poi {
			margin-left:15px;
			margin-top:10px;
		}

		.tx_dcdgooglemap_menu .tx_dcdgooglemap_name {
			font-weight:bold;
		}

		.tx_dcdgooglemap_menu .tx_dcdgooglemap_title {
			padding-top:3px;
		}

		.tx_dcdgooglemap_menu .tx_dcdgooglemap_address {
			padding-top:3px;
		}

		.tx_dcdgooglemap_menu .tx_dcdgooglemap_zip {
			display:inline;
		}

		.tx_dcdgooglemap_menu .tx_dcdgooglemap_city {
			display:inline;
		}

		.tx_dcdgooglemap_menu .tx_dcdgooglemap_phone {
			padding-top:3px;
		}

		.tx_dcdgooglemap_menu .tx_dcdgooglemap_email {
			padding-top:3px;
		}

		.tx_dcdgooglemap_menu .tx_dcdgooglemap_note {
			padding-top:3px;
		}

		.tx_dcdgooglemap_menu .tx_dcdgooglemap_image {
			display:block;
		}

		.tx_dcdgooglemap_menu .tx_dcdgooglemap_image img{
			padding-top:2px;
			padding-right:2px;
			padding-bottom:2px;
		}

/* default styles for extension "tx_dcdgooglemap_pi2" */
		.tx_dcdgooglemap_geocoder form {
			padding-top:10px;
		}

		.tx_dcdgooglemap_geocoder form fieldset {
			border:#273E8E 1px solid;
			padding:5px 5px 5px 5px;
		}

		.tx_dcdgooglemap_geocoder form fieldset label {
			display:block;
			text-align:left;
			margin-bottom:5px;
		}

		.tx_dcdgooglemap_geocoder_champs {
			position:relative;
			top:-5pt;
			text-align:center;
		}

		.fieldsetlabel {
			font-weight:bold;
			text-align:left;
			top:-10pt;
			left:15px;
			position:relative;
			background:#FFFFFF;
		}
/* default styles for extension "tx_dcdgooglemap_pi3" */
		.tx_dcdgooglemap_direction form {
			padding-top:10px;
		}

		.tx_dcdgooglemap_direction form fieldset {
			border:#273E8E 1px solid;
			padding:5px 5px 5px 5px;
		}

		.tx_dcdgooglemap_direction form fieldset label {
			display:block;
			text-align:right;
			margin-bottom:5px;
		}

		.tx_dcdgooglemap_direction_champs {
			position:relative;
			top:-5pt;
			text-align:center;
		}

		.tx_dcdgooglemap_direction_from, .tx_dcdgooglemap_direction_to {
			width:520px;
			margin-right:125px;
		}

		.fieldsetlabel {
			font-weight:bold;
			text-align:left;
			top:-10pt;
			left:15px;
			position:relative;
			background:#FFFFFF;
		}
/* default styles for extension "tx_srfeuserregister_pi1" */
		.tx-srfeuserregister-pi1 p { margin-top: .5em; margin-bottom: 0; padding: 0 .3em; text-indent: 0; }
		.tx-srfeuserregister-pi1 h4 { margin-top: 0; padding-left: .3em; }
		.tx-srfeuserregister-pi1 legend { padding: 0 .5em; font-weight: bold; }
		.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-notice { font-style: italic; margin-bottom: 1em; }
		.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-trash { margin-bottom: 2em; }
		.tx-srfeuserregister-pi1 a { padding-left: 14px; background-image: url("internal_link.gif"); background-repeat: no-repeat; background-position: 0% 60%; text-decoration:none; }
		.tx-srfeuserregister-pi1 label { margin: 0; padding: 0; }
		.tx-srfeuserregister-pi1 label span { color: #ff0000; }
		.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-error { color: #ff0000; }
		.tx-srfeuserregister-pi1 input { margin: 0; padding: 0 .5em 0 0; }
		.tx-srfeuserregister-pi1 input[type=password] { margin-right: 1em; }
		* html .tx-srfeuserregister-pi1 input.tx-srfeuserregister-pi1-password { margin-right: 1em; }
		.tx-srfeuserregister-pi1 input[type=radio], .tx-srfeuserregister-pi1 input[type=checkbox] { background-color: transparent; }
		* html .tx-srfeuserregister-pi1 input.tx-srfeuserregister-pi1-radio, * html .tx-srfeuserregister-pi1 input.tx-srfeuserregister-pi1-checkbox { background-color: transparent; }
		.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-delete-icon { margin-left: 1em; background-color: transparent; }
		.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-delete-icon:hover { cursor: pointer; }
		.tx-srfeuserregister-pi1 a.tx-srfeuserregister-pi1-file-view { padding-left: 15px; background-image: url("internal_link_new_window.gif"); background-color: transparent; background-repeat: no-repeat; font-size: .8em; margin-left: 1em; }
		.tx-srfeuserregister-pi1 ul { margin: 0; padding: 0; list-style-position: inside; }
		.tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checkboxes { list-style-type: none; }
		.tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checkboxes li { margin: 0 0 .3em 0; padding: 0; }
		.tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checkboxes li label { margin: 0; padding: 0 0 0 .5em; }
		.tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checked-values li { float: left; padding: 0 2em 0 0; margin: 0; }
		.tx-srfeuserregister-pi1 dl { margin: 0; padding: 1em 0 0 0; }
		.tx-srfeuserregister-pi1 dt, .tx-srfeuserregister-pi1 dd { margin: 0; padding: 0 0 .5em 0; float: left; }
		.tx-srfeuserregister-pi1 dt { clear: both; width: 25%; text-align: right; padding-right: 1em; }
		.tx-srfeuserregister-pi1 dd { text-align: left; width: 50%; }
		.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-multiple-checkboxes dt { width: auto; padding-right: 0; }
		.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-multiple-checkboxes dd { width: auto; }
		* html .tx-srfeuserregister-pi1 dd { float: none; }
		.tx-srfeuserregister-pi1 dd p { margin-top: 0; margin-bottom: .5em; padding: 0; }
		.tx-srfeuserregister-pi1 dd label { padding: 0 1em 0 .5em; }
/* default styles for extension "tx_sremailsubscribe_pi1" */
	.tx-sremailsubscribe-pi1 p { margin-top: .5em; margin-bottom: 0; padding: 0 .3em; text-indent: 0; }
	.tx-sremailsubscribe-pi1 p.tx-sremailsubscribe-pi1-click-to-edit { margin-left: 2em; margin-right: 2em;}
	.tx-sremailsubscribe-pi1 h4 { margin-top: 0; padding-left: .3em; }
	.tx-sremailsubscribe-pi1 legend { padding: 0 .5em; font-weight: bold; }
	.tx-sremailsubscribe-pi1 .tx-sremailsubscribe-pi1-notice { font-style: italic; margin-bottom: 1em; }
	.tx-sremailsubscribe-pi1 .tx-sremailsubscribe-pi1-trash { margin-bottom: 2em; }
	.tx-sremailsubscribe-pi1 a { padding-left: 14px; background-image: url("internal_link.gif"); background-repeat: no-repeat; background-position: 0% 60%; text-decoration:none; }
	.tx-sremailsubscribe-pi1 label { margin: 0; padding: 0; }
	.tx-sremailsubscribe-pi1 label span { color: #ff0000; }
	.tx-sremailsubscribe-pi1 .tx-sremailsubscribe-pi1-error { color: #ff0000; }
	.tx-sremailsubscribe-pi1 input { margin: 0; padding: 0 .5em 0 0; }
	.tx-sremailsubscribe-pi1 input[type=password] { margin-right: 1em; }
	* html .tx-sremailsubscribe-pi1 input.tx-sremailsubscribe-pi1-password { margin-right: 1em; }
	.tx-sremailsubscribe-pi1 input[type=radio], .tx-sremailsubscribe-pi1 input[type=checkbox] { background-color: transparent; }
	* html .tx-sremailsubscribe-pi1 input.tx-sremailsubscribe-pi1-radio, * html .tx-sremailsubscribe-pi1 input.tx-sremailsubscribe-pi1-checkbox { background-color: transparent; }
	.tx-sremailsubscribe-pi1 .tx-sremailsubscribe-pi1-delete-icon { margin-left: 1em; background-color: transparent; }
	.tx-sremailsubscribe-pi1 .tx-sremailsubscribe-pi1-delete-icon:hover { cursor: pointer; }
	.tx-sremailsubscribe-pi1 a.tx-sremailsubscribe-pi1-file-view { padding-left: 15px; background-image: url("internal_link_new_window.gif"); background-color: transparent; background-repeat: no-repeat; font-size: .8em; margin-left: 1em; }
	.tx-sremailsubscribe-pi1 ul { margin: 0; padding: 0; list-style-position: inside; }
	.tx-sremailsubscribe-pi1 ul.tx-sremailsubscribe-multiple-checkboxes { list-style-type: none; }
	.tx-sremailsubscribe-pi1 ul.tx-sremailsubscribe-multiple-checkboxes li { margin: 0 0 .3em 0; padding: 0; }
	.tx-sremailsubscribe-pi1 ul.tx-sremailsubscribe-multiple-checkboxes li label { margin: 0; padding: 0 0 0 .5em; }
	.tx-sremailsubscribe-pi1 ul.tx-sremailsubscribe-multiple-checked-values li { float: left; padding: 0 2em 0 0; margin: 0; }
	.tx-sremailsubscribe-pi1 dl { margin: 0; padding: 1em 0 0 0; }
	.tx-sremailsubscribe-pi1 dt, .tx-sremailsubscribe-pi1 dd { margin: 0; padding: 0 0 .5em 0; float: left; }
	.tx-sremailsubscribe-pi1 dt { clear: both; width: 25%; text-align: right; padding-right: 1em; }
	.tx-sremailsubscribe-pi1 dd { text-align: left; width: 50%; }
	.tx-sremailsubscribe-pi1 .tx-sremailsubscribe-pi1-multiple-checkboxes dt { width: auto; padding-right: 0; }
	.tx-sremailsubscribe-pi1 .tx-sremailsubscribe-pi1-multiple-checkboxes dd { width: auto; }
	* html .tx-sremailsubscribe-pi1 dd { float: none; }
	.tx-sremailsubscribe-pi1 dd p { margin-top: 0; margin-bottom: .5em; padding: 0; }
	.tx-sremailsubscribe-pi1 dd label { padding: 0 1em 0 .5em; }
/* default styles for extension "tx_gkhrssimport_pi1" */
.rss_title, .rss_title a {
	font-size: medium;
	font-family: Georgia, Times New Roman, Times, serif;
	font-weight: bold;
	color: #FF6100;
}
.rss_description {
	font-weight: bold;
	padding-bottom: 1px;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #2763A5;
	margin-bottom: 15px;
}
.rss_header {
	font-weight: bold;
}
.rss_summary {
	margin-bottom:10px;
}
.rss_pubbox, .rss_date, .rss_author, .rss_category {
	display: inline;
}
/* default styles for extension "tx_ewebtvconcours_pi1" */
		#milieu_milieu #ewebtvconcours_inscription input.ewebtvconcours_submit_input {
			cursor:pointer;
			float:right;
			font-weight:bold;
			margin:10px 48px 0 0;
			padding:2px 5px;
			width:auto;
		}

		#milieu_milieu #ewebtvconcours_inscription .ewebtvconcours_submit_input {
				border:medium none;
				clear:both;
		}

		#milieu_milieu #ewebtvconcours_inscription label {
			color:#000000;
			display:block;
			float:left;
			margin:5px 0;
			padding:0 20px 0 0;
			text-align:right;
			width:130px;
		}

		#milieu_milieu #ewebtvconcours_inscription span.error {
			display:block;
			margin-left:60px;
			text-align:center;
		}


		#milieu_milieu #ewebtvconcours_inscription input {
			color:#000000;
			/*float:left;*/
			margin:5px 0;
			width:250px;
		}

		#milieu_milieu #ewebtvconcours_inscription textarea {
			color:#000000;
			/*float:left;*/
			margin:5px 0;
			width:250px;
		}

		#milieu_milieu #ewebtvconcours_inscription select {
			color:#000000;
			float:left;
			margin:5px 0;
			width:250px;
		}

		#milieu_milieu #ewebtvconcours_inscription p.extension {
			display:block;
			margin-left:60px;
			text-align:center;
    }
    .ewebtvconcours_fieldset {
      border-style:none;
      display:inline;
      padding:0;
    }
    .ewebtvconcours_fieldset label {
      display:none;
    }
    .ewebtvconcours_fieldset legend {
      float:left;
      margin:0;
      padding:2px 7px 0 0;
    }    
    h2.ewebtvconcours_title_video {
      font-weight: bold;
      font-size:1.1em;
      padding:0 0 2px 0;
      margin:0;
      color:#000000;
    }

    .ewebtvconcours_user_video {
      font-size: 0.85em;
      font-weight: bold;
      text-transform: capitalize;
    }

    .ewebtvconcours_video_date {
      font-size: 0.85em;
    }

    .ewebtvconcours_video_theme {
      border-bottom: 1px dotted #B5B5B5;
      color: #902015;
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 5px;
    }

    /* LISTE VIDEO PARTICIPANTS */

    .tx-ewebtvconcours-pi1 {
      margin: 0;
    }

    .ewebtvconcours_video {
      float:left;
      height:auto;
      margin:15px 10px 0 0;
      padding:0 0 10px;
      width:480px;
    }

    div.ewebtvconcours_video_actions {
      float: left;
      margin-top: 2px;
      width: 250px;
    }


    div.ewebtvconcours_video_actions_voir,
    div.ewebtvconcours_video_actions_voir a,
    div.ewebtvconcours_video_actions_vote,
    div.ewebtvconcours_video_actions_vote a {
      background-color: #333;
      border-top: 2px solid #333;
      color: #fff;
      float: left;
      font-weight: bold;
      height: 20px;
      margin-right:2px;
      text-align: center;
      width: 75px;                 
    }


    div.ewebtvconcours_video_actions_voir a:hover,
    div.ewebtvconcours_video_actions_vote a:hover {
      background-color: #902015;
      border-top: 4px solid #902015;
      margin-right:2px;
      margin-top: -2px;
      text-decoration: none;
    }



    div.ewebtvconcours_video_actions_dejavote,
    div.ewebtvconcours_video_actions_dejavote a {
      float: left;
      color: #fff;
      background-color: #333;
      width: 90px;
      height: 20px;
      text-align: center;
      margin-right:2px;
      font-weight: bold;
      border-top: 4px solid #333;
      cursor: default;
    }


    div.ewebtvconcours_video_actions_vote a.disable_link {
      float: left;
      color: #fff;
      background-color: #ccc;
      width: 75px;
      height: 20px;
      text-align: center;
      margin-right:2px;
      margin-top: -2px;
      font-weight: bold;
      border-top: 4px solid #ccc;
      cursor: default;
    }

     
    .ewebtvconcours_video_informations {
      float: left;
     width: 250px;
     height: 150px;
     padding: 0 0 0 5px
    }

    div.ewebtvconcours_video_information_title {
      margin-bottom: 2px;
    }


    div.ewebtvconcours_video_information_summary {
      font-size: 0.9em;
      height: 75px;
    }


    .ewebtvconcours_video_vignette {
      float:left;
      margin-right: 5px;
      text-align: right;
      width:220px;
    }


    .ewebtvconcours_video_vignette img {
      border: 1px solid #ccc;
      padding: 0px;
    }


    /* AFFICHAGE VIDEO SOLO CONCOURS */

    .ewebtvconcours_video_video_voir_participant {
      background:#fff url(http://www.cg16.fr/images/webtv/bg-video-player.gif) no-repeat;
      margin-bottom: 10px;
      text-align: center; 
      width: 420px;
      height: 335px;  
      padding-top: 10px;
    }

    div.ewebtv_video_actions_ecouter a:hover,
    div.ewebtv_video_actions_voir a:hover {
      background-color: #902015;
      border-top: 4px solid #902015;
      margin-right:2px;
      margin-top: -2px;
      text-decoration: none;
    }

    .ewebtvconcours_video_cadre_player_concours {
      text-align: center;
    }

    .ewebtvconcours_video_player {
      float:left;
      height:auto;
      padding-top: 15px;
      width:480px;
    }

    .ewebtvconcours_video_player_informations {
    float:left;
     width:460px;
     padding:0 0 0 5px
    }


    .ewebtvconcours_video_player_information_summary {

    }


    div.ewebtvconcours_video_player_actions {
      width: 460px;
      float: left;
      margin-top: 15px;
      margin-bottom: 15px;
      border-top: 1px dotted #B5B5B5;
      border-bottom: 1px dotted #B5B5B5;
      padding: 5px;
    }


    div#ewebtvconcours_video_player_vote,
    div#ewebtvconcours_video_player_vote a {
      float: right;
      color: #fff;
      background-color: #902015;
      width: 100px;
      height: 20px;
      text-align: center;
      font-weight: bold;
      border-top: 2px solid #902015;
    }


    div#ewebtvconcours_video_player_vote a:hover {
      background-color: #333;
      color: #fff; 
      text-decoration: none;
      border-top: 4px solid #333;
      margin-top: -2px;
    }

    div#ewebtvconcours_video_player_vote a.disable_link {
      float: right;
      color: #fff;
      background-color: #ccc;
      width: 100px;
      height: 20px;
      text-align: center;
      margin-top: -2px;
      font-weight: bold;
      border-top: 4px solid #ccc;
      cursor: default;
    }


    div#ewebtvconcours_video_player_dejavote,
    div#ewebtvconcours_video_player_dejavote a {
      float: right;
      color: #fff;
      background-color: #902015;
      width: 120px;
      height: 20px;
      text-align: center;
      font-weight: bold;
      margin-left: 2px;
      border-top: 4px solid #902015;
      cursor: default;
    }


    /* AFFICHAGE LISTE VIDEO WEBTV */

    div.ewebtvconcours_select .catalogue a {
      color: #333;
      text-decoration: none;
      font-weight: normal;
    }

    div.ewebtvconcours_select .catalogue a:hover {
      color: #902015;
      text-decoration: underline;
    }

    div.ewebtv_video_actions {
      float: left;
      margin-top: 2px;
      width: 222px;
    }

    div.ewebtv_video_actions_ecouter,
    div.ewebtv_video_actions_ecouter a, 
    div.ewebtv_video_actions_voir,
    div.ewebtv_video_actions_voir a {
      background-color: #333;
      border-top: 2px solid #333;
      color: #fff;
      float: left;
      font-weight: bold;
      height: 20px;
      margin-right:2px;
      text-align: center;
      width: 105px;                 
    }

    div.ewebtv_video_actions_ecouter a.disable_link,
    div.ewebtv_video_actions_voir a.disable_link {
      float: left;
      color: #fff;
      background-color: #ccc;
      width: 105px;
      height: 20px;
      text-align: center;
      margin-right:2px;
      margin-top: -2px;
      font-weight: bold;
      border-top: 4px solid #ccc;
      cursor: default;
    }

    .ewebtvconcours_list_video_webtv {
      display: inline-block;
    }

    .ewebtv_video_informations {
      float: left;
     width: 222px;
     padding: 0 0 0 5px
    }

    h2.ewebtv_title_video {
      font-weight: bold;
      font-size:1.1em;
      padding:0 0 2px 0;
      margin:0;
      color:#000000;
    }

    div.ewebtv_video_information_title {
      height: 55px; 
      padding-top: 5px;
    }


    /* AFFICHAGE VIDEO SOLO WEBTV */

    .ewebtvconcours_video_video_voir_webtv {
      background:#fff url(http://www.cg16.fr/images/webtv/bg-video-player.gif) no-repeat;
      float: right;
      height: 335px; 
      margin-bottom: 10px; 
      padding-top: 10px;
      text-align: center; 
      width: 420px;
    }


    .ewebtv_video_webtv_informations {
      width:250px;
     padding-bottom: 10px;
     margin-bottom: 20px;
     display: block;
     float: left;
    }

    div.ewebtv_video_theme_webtv {
      background-color: #ccc;
      border: 1px solid #ccc;
      color: #333;
      font-size: 1.2em;
      font-weight: bold;
      height: 25px;
      margin-bottom: 10px;
      padding-top: 5px;
      text-align: center;
      width: 250px;
    }

    .ewebtv_video__webtv_information_summary {
      margin-top: 5px;
    }

    .ewebtv_video__webtv_information_summary_small {
      font-size: 0.85em;
      height: 60px;
      margin-top: 5px;  
    }


    div.ewebtvconcours_view_video_webtv {
      border-top: 1px dotted #B5B5B5;
      padding-top: 15px;
    }

    div.ewebtvconcours_video_theme_webtv {
      background-color: #ccc;
      border: 1px solid #ccc;
      color: #333;
      font-size: 0.9em;
      font-weight: bold;
      height: 25px;
      padding-top: 5px;
      text-align: center;
      width: 220px;
    }

    .ewebtv_view_video_webtv {
      display: inline-block;
      border-bottom: 1px dotted #ccc;
      width: 100%;
      margin-bottom: 15px;
    }

    .ewebtvconcours_video_webtv {
      float:left;
      height:auto;
    }

    div.ewebtvconcours_video_webtv {
      width: 202px;
      padding-right: 24px;
      margin-bottom: 20px;
    }


    .ewebtvconcours_video_webtv_informations {
     width:202px;
     padding-bottom: 10px;
     margin-bottom: 20px;
     display: block;
     float: left;
    }


    .ewebtvconcours_video_webtv_information_summary {

    }

    .tx-ewebtvconcours-pi1 form {
      border-bottom: 1px dotted #ccc;
    }


    /* LISTE LAUREATS */

    div.ewebtvconcours_laureat_prix {
      background-color: #ccc;
      border: 1px solid #ccc;
      color: #333;
      font-size: 1.2em;
      font-weight: bold;
      height: 25px;
      padding-top: 5px;
      text-align: center;
    }



    .ewebtvconcours_laureats_video {
      float:left;
      height:auto;
      margin:15px 10px 0 0;
      padding:0 0 10px;
      width: 100%;
    }

    .ewebtvconcours_laureats_video_informations {
    float:left;
    height:150px;
    padding:0 0 0 5px;
    width:250px;
    }

    .ewebtvconcours_laureats_video_information_summary {
     font-size: 0.85em;
     height: 70px;
    }

    div.ewebtvconcours_laureats_video_information_title {
    height: 50px;
    margin-top: 5px;
    }


    /* LAUREATS VOIR */

    div.ewebtvconcours_laureat_prix_player {
      background-color: #ccc;
      border: 1px solid #ccc;
      color: #333;
      font-size: 1.2em;
      font-weight: bold;
      height: 25px;
      margin-bottom: 15px;
      padding-top: 5px;
      text-align: center;
    }


    div.ewebtvconcours_laureats_video_player_actions {
      width: 460px;
      float: left;
      margin-top: 15px;
      margin-bottom: 15px;
      border-bottom: 1px dotted #B5B5B5;
      padding: 5px;
    }
    /* PAGINATION */


    div.pagination {
      text-align: center;
      margin-top: 20px;
    }

    div.pagination a {
      font-style: normal;
      margin-top: 5px;
      text-decoration: none; 
      font-size: 0.9em;
      color: #666
    }

    div.pagination a:hover {
      text-decoration: underline;
      color: #902015;
    }


    /* FORMULAIRE */

    #milieu_milieu #ewebtvconcours_inscription label#reglement {
      width: 260px;
      float: left;
    }

    #milieu_milieu #ewebtvconcours_inscription input#reglement {
      width: 20px;
    }

    div.ewebtvconcours_input_reglement {
      float:right;
      width:355px;
    }

    #milieu_milieu #ewebtvconcours_inscription input.ewebtvconcours_submit_input  {
      background-color:#B9B8B9;
      color: #000;
      border: medium none;
      cursor:pointer;
      font-size:0.9em;
      font-weight:bold;
      margin:8px 0 0 4px;
      padding:1px 4px !important;
      float: right;
      margin:10px 58px 0 0;
    }

    #milieu_milieu #ewebtvconcours_inscription textarea {
    color:#000000;
    margin:5px 0;
    width:260px;
    }

    #milieu_milieu #ewebtvconcours_inscription input {
      width: 260px;
      font-size: 0.9em;
    }


    .ewebtvconcours_submit_input {
      background-color:#B9B8B9;
      color: #000;
      border: medium none;
      cursor:pointer;
      font-size:0.9em;
      font-weight:bold;
      margin:8px 0 0 4px;
      padding:1px 4px !important;
    }

    .ewebtvconcours_select {
      border-top: 1px dotted #ccc; 
      padding: 10px 0 15px 0;
      text-align: center;
      width: 100%;
    }

    .extension {
      font-size: 0.85em;
      font-style: italic;
      display:block;
      margin-left:60px;
      text-align:center;
    }
                  
    #download_video {
      text-align: center;
    }

    /****** BANNIERE LATERALE DROIT *****/

    img.bandeau_lateral_concours {
      margin-left: -19px;
    }
/* default styles for extension "tx_cssstyledcontent" */
/* Captions */
	DIV.csc-textpic-caption-c .csc-textpic-caption { text-align: center; }
	DIV.csc-textpic-caption-r .csc-textpic-caption { text-align: right; }
	DIV.csc-textpic-caption-l .csc-textpic-caption { text-align: left; }

	/* Needed for noRows setting */
	DIV.csc-textpic DIV.csc-textpic-imagecolumn { float: left; display: inline; }

	/* Border just around the image */
	DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG {
		border: 2px solid black;
		padding: 0px 0px;
	}

	DIV.csc-textpic-imagewrap { padding: 0; }

	DIV.csc-textpic IMG { border: none; }

	/* DIV: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DIV.csc-textpic-image { float: left; }

	/* UL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL { list-style: none; margin: 0; padding: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI { float: left; margin: 0; padding: 0; }

	/* DL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image { float: left; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DT { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD IMG { border: none; } /* FE-Editing Icons */
	DL.csc-textpic-image { margin: 0; }
	DL.csc-textpic-image DT { margin: 0; display: inline; }
	DL.csc-textpic-image DD { margin: 0; }

	/* Clearer */
	DIV.csc-textpic-clear { clear: both; }

	/* Margins around images: */

	/* Pictures on left, add margin on right */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-right: 10px;
	}

	/* Pictures on right, add margin on left */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}

	/* Pictures centered, add margin on left */
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption { margin: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image IMG { margin: 0; }

	/* Space below each image (also in-between rows) */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image { margin-bottom: 5px; }
	DIV.csc-textpic-equalheight DIV.csc-textpic-imagerow { margin-bottom: 5px; display: block; }
	DIV.csc-textpic DIV.csc-textpic-imagerow { clear: both; }

	/* No margins around the whole image-block */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-firstcol { margin-left: 0px !important; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-lastcol { margin-right: 0px !important; }

	/* Add margin from image-block to text (in case of "Text w/ images") */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap {
		margin-right: 10px !important;
	}
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap {
		margin-left: 10px !important;
	}

	/* Positioning of images: */

	/* Above */
	DIV.csc-textpic-above DIV.csc-textpic-text { clear: both; }

	/* Center (above or below) */
	DIV.csc-textpic-center { text-align: center; /* IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap { margin: 0 auto; }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image { text-align: left; /* Remove IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-text { text-align: left; /* Remove IE-hack */ }

	/* Right (above or below) */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap { float: right; }
	DIV.csc-textpic-right DIV.csc-textpic-text { clear: right; }

	/* Left (above or below) */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap { float: left; }
	DIV.csc-textpic-left DIV.csc-textpic-text { clear: left; }

	/* Left (in text) */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap { float: left; }

	/* Right (in text) */
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap { float: right; }

	/* Right (in text, no wrap around) */
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap { float: right; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-right-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */

	/* Left (in text, no wrap around) */
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap { float: left; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-left-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */
DIV.csc-textpic DIV.csc-textpic-imagerow-last { margin-bottom: 0; }