/*********************************************************************************************************************/
/***********************************                  TYPO                ********************************************/
/*********************************************************************************************************************/
/*******************************************************************************/
/**********     GENERAL     ****************************************************/
/*******************************************************************************/
body {
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font-size : 0.8em;
	color : #090909;
	background-color : #FFFFFF;
}
h1 {
	font-size : 1.6em;
	color : #090909;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	padding : 0 0 3px 0;
	margin : 0;
	font-weight : bold;
	background-repeat : no-repeat;
}
h2 {
	font-size : 1.5em;
	color : #090909;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	padding : 0 0 3px 0;
	margin : 0;
	font-weight : bold;
}
h3 {
	font-size : 1.4em;
	color : #090909;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	padding : 0 0 3px 0;
	margin : 0;
	font-weight : bold;
}
h4 {
	font-size : 1.3em;
	color : #090909;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	padding : 0 0 3px 0;
	margin : 0;
	font-weight : bold;
}
h5 {
	font-size : 1.2em;
	color : #090909;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	padding : 0 0 3px 0;
	margin : 0;
	font-weight : bold;
}
h6 {
	font-size : 1.1em;
	color : #090909;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	padding : 0 0 3px 0;
	margin : 0;
	font-weight : bold;
}
p {
	padding : 0 0 7px 0;
	margin : 0;
	font-size : 1em;
}
span {
	font-size : 1em;
}
ul {
	font-size : 1em;
	margin : 0 0 0 15px;
	padding : 0;
}
ol {
	font-size : 1em;
	margin : 0 0 0 30px;
	padding : 0;
	list-style-type : decimal;
}
li {
	font-size : 1em;
	list-style-type : disc;
	list-style-position : outside;
}
a, a:link{
	color : #000000;
	text-decoration : none;
	font-weight : bold;
        margin:0;
        padding: 0;
}
a:hover{
	color : #000000;
	font-weight : bold;
	text-decoration : underline;
        margin:0;
        padding: 0;
}

table {
	margin : 0;
	padding : 0;
	font-size : 0.95em;
	width : 100%;
	border-style : solid;
	border-width : 1px;
	border-color : #666666;
}
tr {
	margin : 0;
	padding : 0;
	font-size : 1em;
}
td {
	margin : 3px;
	padding : 0 3px 0 3px;
	font-size : 1em;
}
form{
	display : block;
	margin : 0;
	padding : 0;
}
input, select {
	font-size : 1em;
	line-height : 1.2em;
	color : #090909;
}
img {
	margin : 0;
	padding : 0;
}
a img{
	margin : 0;
	padding : 0;
	border : none;
}

/******************************************************************************/
/*               Contenu Typo3					              */
/******************************************************************************/
td.align-justify,
p.align-justify,
.align-justify {
	text-align:justify;
}
td.align-right,
p.align-right,
.align-right {
	text-align:right;
}
td.align-left,
p.align-left,
.align-left {
	text-align:left;
}
td.align-center,
p.align-center,
.align-center {
	text-align:center;
}
td.indent,
p.indent,
.indent {
	padding:0 0 0 20px;
}
td.float-left,
p.float-left,
.float-left {
	float:left;
}
td.float-right,
p.float-right,
.float-right {
	float:right;
}
td.margin-right,
p.margin-right,
.margin-right {
	margin:0 5px 0 0;
}
td.margin-left,
p.margin-left,
.margin-left {
	margin:0 0 0 5px;
}
td.no-margin,
p.no-margin,
.no-margin {
	margin:0;
}
td.petit-texte,
p.petit-texte,
.petit-texte {
	font-size:0.8em;
}

/*******************************************************************************/
/**********     LIENS     ******************************************************/
/*******************************************************************************/


#menu_haut{
	font-size : 0.85em;
	font-weight : bold;
	text-align : center;
	margin: 0;
	padding: 0;
	
}

#menu_haut li a:hover{
	text-decoration : none;
	
	
}

.milieu_gauche_contenu p.milieu_gauche_contenu_liens{
	margin : 0;
	padding : 0 0 0 10px;
	background-image : url(puce_ronde.gif);
	background-repeat : no-repeat;
	font-weight : bold;
}
.milieu_milieu_contenu_date{
	margin : 0;
	padding : 0;
	font-style : italic;
	font-size : 0.9em;
	font-weight : normal;
}
.milieu_droite_contenu a{
	text-decoration : none;
}
.milieu_droite_contenu li a{
	text-decoration : none;
}
.milieu_droite_contenu li a:hover{
	text-decoration : underline;
}
.milieu_droite_contenu a:hover{
	text-decoration : underline;
}


/*******************************************************************************/
/**********     TITRES     *****************************************************/
/*******************************************************************************/
#haut_bas_titre h1{
	font-size : 1.8em;
}
.milieu_milieu_contenu_une  h1{
	font-size : 1.5em;
	margin : 0;
	padding : 10px 0 10px 35px;
	background-repeat : no-repeat;
}
.milieu_milieu_contenu_actu  h1{
	font-size : 1.3em;
	margin : 0;
	padding : 10px 0 10px 35px;
	background-repeat : no-repeat;
}
.milieu_milieu_contenu  h1.inter{
	font-size : 1.5em;
	margin : 0 0 15px 0;
	padding : 0 0 0 17px;
	background-repeat : repeat-y;
	color : #000000;
	width : 450px;
}
.milieu_milieu_contenu_une_actu  h2{
	font-size : 1.3em;
	margin : 0;
	padding : 0 0 0 10px;
	background-image : url(puce_ronde.gif);
	background-repeat : no-repeat;
}
.milieu_milieu_contenu_actu h2{
	font-size : 1.1em;
	margin : 0;
	padding : 0 0 0 10px;
	background-image : url(puce_ronde.gif);
	background-repeat : no-repeat;
}
.milieu_milieu_contenu h2.inter{
	font-size : 1.1em;
	margin : 10px 0 5px 0;
	padding : 2px 10px 2px 10px;
	color : #ffffff;
	width : 450px;
	background-image : none;
}
h2.fond_titre {
	font-size : 1.1em;
	color : #090909;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	padding : 2px 0 3px 10px;
	margin : 0;
	font-weight : bold;
}
dd.csc-textpic-caption {
	display:none;
}

/*******************************************************************************/
/**********     HAUT PIED DE PAGE     ******************************************/
/*******************************************************************************/
#pied_page li a{
	font-size : 0.85em;
	color : #000000;
	font-weight : normal;
}
#pied_page li a:hover{
	color : #000000;
}


/*******************************************************************************/
/**********     TITRES AVEC ICONES     *****************************************/
/*******************************************************************************/
h1.icone_geolocalisation, h1.icone_infosmisenvaleur, h1.icone_accessibilite, h1.icone_accesdirect, h1.icone_agenda, h1.icone_alaffiche, h1.icone_alaune, h1.icone_audio, h1.icone_avoiraussi, h1.icone_bonnespratiques, h1.icone_breves, h1.icone_chiffrescles, h1.icone_commande, h1.icone_contact, h1.icone_coordonnees, h1.icone_corbeille, h1.icone_courriel, h1.icone_deposer, h1.icone_deverrouille,h1.icone_discussion, h1.icone_document, h1.icone_dossiers, h1.icone_etaussi, h1.icone_fluxrss, h1.icone_formulaire, h1.icone_imprimer, h1.icone_infosetservices, h1.icone_infomiseenvaleur, h1.icone_jeuxconcours, h1.icone_jeuxmultimedia, h1.icone_liensutiles, h1.icone_loisirs01, h1.icone_loisirs02, h1.icone_mauvaisespratiques, h1.icone_motdupresident, h1.icone_musique, h1.icone_photos, h1.icone_photos, h1.icone_plandusite, h1.icone_presdechezvous, h1.icone_radio, h1.icone_reglagles, h1.icone_retouralaracine, h1.icone_salledepresse, h1.icone_statistiques, h1.icone_telechargement01, h1.icone_telechargement02, h1.icone_verrouille, h1.icone_video, h1.icone_webtv, h1.icone_zoom {
	font-size : 1.5em;
	padding : 11px 0 10px 35px;
	margin : 0;
	background-repeat : no-repeat;
	background-position : 0 50%;
	color : #333333;
}
h2.icone_geolocalisation, h2.icone_infosmisenvaleur, h2.icone_accessibilite, h2.icone_accesdirect, h2.icone_agenda, h2.icone_alaffiche, h2.icone_alaune, h2.icone_audio, h2.icone_avoiraussi, h2.icone_bonnespratiques, h2.icone_breves, h2.icone_chiffrescles, h2.icone_commande, h2.icone_contact, h2.icone_coordonnees, h2.icone_corbeille, h2.icone_courriel, h2.icone_deposer, h2.icone_deverrouille,h2.icone_discussion, h2.icone_document, h2.icone_dossiers, h2.icone_etaussi, h2.icone_fluxrss, h2.icone_formulaire, h2.icone_imprimer, h2.icone_infosetservices, h2.icone_infomiseenvaleur, h2.icone_jeuxconcours, h2.icone_jeuxmultimedia, h2.icone_liensutiles, h2.icone_loisirs01, h2.icone_loisirs02, h2.icone_mauvaisespratiques, h2.icone_motdupresident, h2.icone_musique, h2.icone_photos, h2.icone_photos, h2.icone_plandusite, h2.icone_presdechezvous, h2.icone_radio, h2.icone_reglagles, h2.icone_retouralaracine, h2.icone_salledepresse, h2.icone_statistiques, h2.icone_telechargement01, h2.icone_telechargement02, h2.icone_verrouille, h2.icone_video, h2.icone_webtv, h2.icone_zoom {
	font-size : 1.3em;
	padding : 11px 0 10px 35px;
	margin : 0;
	background-repeat : no-repeat;
	background-position : 0 50%;
	color : #333333;
}
h3.icone_geolocalisation, h3.icone_infosmisenvaleur, h3.icone_accessibilite, h3.icone_accesdirect, h3.icone_agenda, h3.icone_alaffiche, h3.icone_alaune, h3.icone_audio, h3.icone_avoiraussi, h3.icone_bonnespratiques, h3.icone_breves, h3.icone_chiffrescles, h3.icone_commande, h3.icone_contact, h3.icone_coordonnees, h3.icone_corbeille, h3.icone_courriel, h3.icone_deposer, h3.icone_deverrouille,h3.icone_discussion, h3.icone_document, h3.icone_dossiers, h3.icone_etaussi, h3.icone_fluxrss, h3.icone_formulaire, h3.icone_imprimer, h3.icone_infosetservices, h3.icone_infomiseenvaleur, h3.icone_jeuxconcours, h3.icone_jeuxmultimedia, h3.icone_liensutiles, h3.icone_loisirs01, h3.icone_loisirs02, h3.icone_mauvaisespratiques, h3.icone_motdupresident, h3.icone_musique, h3.icone_photos, h3.icone_photos, h3.icone_plandusite, h3.icone_presdechezvous, h3.icone_radio, h3.icone_reglagles, h3.icone_retouralaracine, h3.icone_salledepresse, h3.icone_statistiques, h3.icone_telechargement01, h3.icone_telechargement02, h3.icone_verrouille, h3.icone_video, h3.icone_webtv, h3.icone_zoom {
	font-size : 1.2em;
	padding :  11px 0 10px 35px;
	margin : 0;
	background-repeat : no-repeat;
	background-position : 0 50%;
	color : #333333;
}


/*******************************************************************************/
/**********      PLAN DU SITE      *********************************************/
/*******************************************************************************/
#milieu_milieu .tx-dropdownsitemap-pi1 .expAll{
	list-style-type : none;
	background-color : #ffffff;
	color : #000000;
	border : none;
	margin : 0 0 15px 0;
	text-transform : none;
}

#milieu_milieu .tx-dropdownsitemap-pi1 .description{
	display: none;
}

#milieu_milieu .tx-dropdownsitemap-pi1 .expAll a{
	list-style-type : none;
	background-color : #ffffff;
	color : #000000;
	font-weight : bold;
	text-transform : none;
	list-style-type : none;
}
.tx-dropdownsitemap-pi1 li a{
	list-style-type : none;
	background-image : none;
}
#milieu_milieu .tx-dropdownsitemap-pi1 ol li{
	list-style-type : none;
	background-image : none;
}
#milieu_milieu .tx-dropdownsitemap-pi1 a, #milieu_milieu .tx-dropdownsitemap-pi1 a:link, #milieu_milieu .tx-dropdownsitemap-pi1 a:visited, #milieu_milieu .tx-dropdownsitemap-pi1 a:hover, .tx-dropdownsitemap-pi1 a:active{
	color : #902015;
	padding : 0px 0 0 15px;
	margin : 10px 0 0 0;
	background-image : none;
	text-transform : none;
}
#milieu_milieu .tx-dropdownsitemap-pi1 img, #milieu_milieu .tx-dropdownsitemap-pi1 a img{
	list-style-type : none;
	padding : 0 15px 0 0;
	margin : -15px 0 0 0;
	background-image : none;
}
* html #milieu_milieu .tx-dropdownsitemap-pi1 img, #milieu_milieu .tx-dropdownsitemap-pi1 a img{
	list-style-type : none;
	padding : 0 15px 0 0;
	margin : -5px 0 0 0;
	background-image : none;
}
#milieu_milieu .tx-dropdownsitemap-pi1 .level_1  ol{
	margin : 0 0 15px 0;
	background-image : none;
	text-transform : none;
}
#milieu_milieu .tx-dropdownsitemap-pi1 ol li span.ifsub a{
	color : #333333;
	text-transform : none;
}
#milieu_milieu .tx-dropdownsitemap-pi1 ol li span.no a {
	color : #333333;
	text-transform : none;
}
#milieu_milieu .tx-dropdownsitemap-pi1 ol li li span.ifsub a{
	color : #000000;
	text-transform : none;
}
#milieu_milieu .tx-dropdownsitemap-pi1 ol li li span.no a {
	color : #000000;
	font-weight : bold;
	text-transform : none;
}
#milieu_milieu .tx-dropdownsitemap-pi1 ol li li li span.ifsub a{
	color : #000000;
	text-transform : none;
}
#milieu_milieu .tx-dropdownsitemap-pi1 ol li li li span.no a {
	color : #000000;
	font-weight : normal;
	text-transform : none;
}
#milieu_milieu ul li .level_2 span.ifsub a{
	color : #000000;
	text-transform : none;
}
#milieu_milieu ul li .level_2 span.no a{
	color : #000000;
	text-transform : none;
}
#milieu_milieu ul li .level_4 span.no a{
	color : #606060;
	list-style-type : none;
	background-image : none;
	text-transform : none;
}
#milieu_milieu ul li .level_3 span.ifsub a{
	color : #B1625B;
	list-style-type : none;
	background-image : none;
	text-transform : none;
}
.milieu_milieu_contenu div.tx-dropdownsitemap-pi1 ul li{
	list-style-type : none;
	background-image : none;
	text-transform : none;
}



/*******************************************************************************/
/**********      Formulaire     *********************************************/
/*******************************************************************************/

#haut_milieu_droite input{
	margin : 0;
	padding : 0;
	float : left;
	width : 110px;
	font-size : 0.9em;
	border-color : #ffffff;
	border-style : solid;
	border-width : 1px;
}
*+ html #haut_milieu_droite input{
	margin : 0;
	width : 90px;
}

#haut_milieu_droite input.bouton_submit{
	margin : 0 0 0 1px;
	padding : 0;
	float : left;
	width : 34px;
	font-size : 0.9em;
	border : none;
	background-color : #ffffff;
	font-weight : bold;
	cursor : pointer;
}
*+ html #haut_milieu_droite input.bouton_submit{
	padding : 2px 0 1px 0;
	font-size : 0.8em;
}
* html #haut_milieu_droite input.bouton_submit{
	margin : 0 0 0 1px;
	padding : 1px 0 1px 0;
}


