/* Sopragroup - COB - 16/09 */


/* Bloc colonne de gauche */
.bloc {
	clear:both;
	margin:0px;
	padding: 0px;
	margin-left: 17px;
	margin-right: 5px;
}

.bloctexteriche
{
	overflow: hidden;
}
	
	
.bloctexteriche ul {
	list-style:disc;
	list-style-position: inside;
}

.bloctexteriche ol {
	list-style:decimal;
	list-style-position: inside;
}