body{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;	
	padding: 0;	
	text-align: center;
}
/*** NEWS LETTER **/
body table.newsletter tbody tr td #col1 p.bodytext{
font-size: 0.8em;
text-align: left;
}

body table.newsletter tbody tr td #contenu a{
color: black;
}

body table.newsletter tbody tr td #contenu h2, body table.newsletter tbody tr td a h2{
font-family: "Trebuchet MS";	
font-size: 1em;
color: #005AAB;	
margin: 0;
padding: 0;
text-align: left;
}

body table.newsletter tbody tr td #contenu h3, body table.newsletter tbody tr td a h3{
font-family: "Trebuchet MS";	
font-size: 0.9em;
color: black;	
margin: 0;
padding: 0;
text-align: left;
}

body table.newsletter tbody tr td #contenu h4, body table.newsletter tbody tr td a h4{
font-family: "Trebuchet MS";	
font-size: 0.8em;
color: black;	
font-weight: bold;
margin: 0;
padding: 0;
text-align: left;
}

body table.newsletter tbody tr td #contenu p.bodytext, body table.newsletter tbody tr td a p.bodytext{
font-size: 0.8em;
text-align: justify;
}
.news-list-container .news-list-item{
color: black;
}
body table.newsletter tbody tr td #contenu .news-list-container .news-list-item{
margin: 0;
padding: 0;
}

/* * */
form{
display: none;
}

.hide{	
	display: none;
}
.right{	
	float: right;
}

a img{	
	border: 0;
}

#conteneur{	
	width: 58.4em;	
	margin: auto;	
	text-align: left;
}

.csc-textpic-caption{	
	font-size: 0.7em;	
	font-style: italic;
}

#logo{	
	float: left;	
	margin: 0em 0em 1em 0em;
}

#header{	
	float: left;	
	width: 46.45em;	
	z-index: 0;	
	margin: 0;	
	padding: 0;
}

#header #menu, #header #searchbox{	
	display: none;
}

#header h1{	
	font-family: "Trebuchet MS";
	color: #000000;
	clear: both;	
	font-size: 1.3em;	
	font-weight: bold;	
	text-transform: uppercase;	
	padding: 1em 0 0 2em;	
	display: visible;
}

*+html #header h1{	
	padding: 1.5em 0 0 2em;
	margin: 0;
}

#header #langues{	
	display:none;
}

#ariane{	
	clear: both;	
	color: #787878;	
	font-size: 0.7em;	
	margin: -0.2em 0em 0.5em 0em;	
	padding: 0;
}

#ariane a{	
	text-decoration: none;
	color: #787878;
}

#bandeau{	
	display: none;
}

#site{	
	clear: both;
}

#col1{	
width: auto;
padding: 0.5em 0.5em 0em 0.5em;
margin: 0 0 1em 0;
}

#col1 div.news-list-container{
padding: 0.5em 0.2em 1.5em 0.5em;
}

*html #col1 div.news-list-container{
padding: 0em 0em 1.5em 0em;
}

*+html #col1 div.news-list-container{
padding: 0em 0.2em 1.5em 0em;
}

#col1 h2{	
font-family: "Trebuchet MS";	
font-size: 1.1em;	
color: #005AAB;	
margin: 1em 0 1em 0;	
padding: 0;	
clear: both;
}

#col1 ul.news-list-item{
padding-left:0.2em;
margin:0;
padding:0;
}

#col1 ul{	
margin: 0;	
padding: 0;
color: #000000;
}

#col1 ul li{	
margin: 0 1em 0 0;	
padding: 0em 0em 0em 0em;	
list-style: none;
font-size: 0.7em;
clear: both;
display: block;
}

#col1 ul.news-list-item li p{		
display: inline;
}
#col1 ul li a{	
	display: none;
}
#col1 ul.csc-menu {	
margin: 0 1em 0 0;
}

#col1 ul.csc-menu li a{	
float: none;	
margin: 0;	
clear: none;
}
#col1 a.agenda-link{
	display:none;
}

#colall{
width: auto;
}

#page{	
padding: 0 0.5em 0 0.5em;
margin: 0 0 1em 0;
width: auto;
}

#page #contenu span.msg{
font-weight: bold;
}

#contenu ul li, #contenu ol li{
font-size: 0.7em;
}
#contenu ul li a, #contenu ol li a{
font-size: 0.9em;
}
#contenu ul li div p{
font-size: 0.9em;
}
#contenu ul li ul li{
font-size: 0.9em;
}
#contenu ul li ul li a, #contenu ul li ul li p a,  #contenu ul li ul li p{
font-size: 1em;
}

#page h2{	
font-family: "Trebuchet MS";	
font-size: 1.1em;	
color: #005AAB;	
margin: 1em 0 1em 0;	
padding: 0;	
clear: both;
}

#page h3{	
font-family: "Trebuchet MS";	
font-size: 1em;	
margin: 0 0 1em 0;	
padding: 0;	
clear: both;
}

#page h4{	
font-family: "Trebuchet MS";	
font-size: 1em;	
font-weight: normal;	
margin: 0 0 1em 0;	
padding: 0;	
}

#page p.FloatL{
float:left;
clear:both;
width:30em;
margin: 1em 2em 0 0;
padding: 0 0 0.5em 0;
}

#page h4.noFloat{
float:none;
}

#page h5{	
color: #000000;	
font-size: 0.7em;
}

#page h6{	
font-weight: normal;	
text-decoration: underline;
}

#page table td img{	
padding:0;
margin:0;
}

#page table td.align-center p{	
margin-top: 0pt;
margin-right: 0pt;
margin-bottom: 0pt;
margin-left: 0pt;
text-align:center;
}

#page ul.csc-menu{	
margin: 0 0 2em 1em;	
padding: 0;
}

#page ul.csc-menu li{	
list-style: none;	
padding: 0em 0em 0em 0.5em;	
background: url(puce2.gif) no-repeat left 0.4em;
}

#page ul.csc-menu li a{	
color: #3E3D3D;	
font-weight: bold;	
text-decoration: none;
}

#page p{	
font-size: 0.7em;
margin: 0;	
text-align: justify;
}

#contenu td.align-center{
text-align:center;
}

#page p.align-left{	
	text-align: left;
}

#page p.align-center{	
	text-align: center ;
}

#page p.align-right{	
	text-align: right;
}

#page a{	
	font-size: 0.7em;	
	color: #005AAB;	
	font-weight: bold;
}

#page p a{	
	font-size: 1em;
}

#page  h3 a{	
	color: #005aab;	
	font-size: 0.7em;	
	text-decoration: none;
}

#colx  p.bodytext{	
	color: #005aab;	
	font-size: 0.7em;	
	text-decoration: none;
}

#page a.bouton{	
	padding: 0.1em 1em 0.3em 1em;	
	margin: 0 0 0.5em 0;	
	background-color: #D1E12E;	
	color: #000000;	
	font-weight: bold;	
	text-decoration: none;	
	word-spacing: -1px;	
	font-size: 0.6em;
}

#cold{	
width: auto;
padding: 0 0 0 0;	
margin: 0 0 1em 0;
}

#cold img{
border: 0;
margin: 0;
padding: 0;
text-align: left;
}

#cold h3, #cold h4, #cold ul{
padding-left:1em;
font-size: 0.7em;
}

#cold ol{
padding-left:3.5em;
font-size: 0.7em;
}

*html #cold ol{
padding-left:1em;
}

*+html #cold ol{
padding-left:1em;
}

#cold ul{
list-style: none;
padding-left:2em;
}

*html #cold ul li{
padding-left:0em;
}

*+html #cold ul li{
padding-left:0em;
}

#cold ul a{
font-size :1em;
} 

#cold p{
padding-left:1.5em;
}

#cold h5{
padding-left:2em;
}

#cold0 #cold .csc-textpic-text{
padding-left:0em;
}

#cold dl dt img, #cold dl dt a img{
margin: 0;
padding: 0;
}

#colx{
width: auto; 
padding: 0 0 0 0;
margin: 0 0 1em 0;
}

#colx img{
border: 0;
padding: 0;
margin: 0;
text-align: left;
}

#col3 dl, #col3 dt, #col3 dd {		
	margin: 0;		
	padding: 0;
}

#col3 dd {		
	margin-bottom: 1.5em;
}

#colx h3 {		
	margin:0;		
	padding:0;
}

#colx h5, #colx a.revueJour{
	display: none;
}

.news-list-item a h3{
color: #000000;
font-size: 1em;
text-decoration: none;
}

#page .news-list-item a p{
color: #000000;
font-size: 0.9em;
text-decoration: none;
}

#colx .news-list-container .news-list-item a h3, #colx .news-list-container .news-list-item a p{
color: #000000;
font-size: 1em;
text-decoration: none;
}

#colx .news-list-container .news-list-item a p{
font-weight: normal;
}

#colx h3 a{	
	color: #005AAB;	
	text-decoration:none;	
}

#colx .news-latest-gotoarchive a {	
	padding-top: 0.1em;	
	padding-right: 1em;	
	padding-bottom: 0.3em;	
	padding-left: 1em;	
	margin-top: 0em;	
	margin-right: 0em;	
	margin-bottom: 0.5em;	
	margin-left: 0em;	
	background-color: #d1e12e;	
	color: #000000;	
	font-weight: bold;	
	text-decoration: none;	
	word-spacing: -1px;	
	font-size: 0.6em;
}

#col2{	
width: auto;
}

#col2 h2{	
margin: 2em 0 1em 0;
}
/*
#colall #col2{
margin-left:0em;
padding-left:-10em;
}*/

#page #col2 ul.newslatest{	
	margin: 0;	
	padding: 0;
}

#page #col2 ul.newslatest li h3{	
	margin: 0 0.5em 0 0;	
	padding: 0;	
	display: inline;	
	line-height: 0.4em;
}

#page #col2 ul.newslatest li h3 a{	
	color: #005AAB;	
	text-decoration:none;
}

#page #col2 ul.newslatest li{	
	color: #005AAB;	
	list-style: none;	
	margin: 0 0.5em 0 0;	
	padding: 0;	
	float: left;	
	width: 12.5em;
}

#page #col2 ul.newslatest li p{	
	margin: 0;	
	padding: 0;	
	display: inline;
}

#page  #col2 .news-list-container .news-list-item h3{	
	font-family: "Trebuchet MS", Arial;	
	color: #005aab;
	font-size: 1.1em;
	margin: 0 0 0 0;
}

#page  #col2 .news-list-container .news-list-item h3 a{	
	font-family: "Trebuchet MS", Arial;
	color: #000000;
}

#page  #col2 .news-list-container .news-list-date {	
	font-size: 0.8em;
}

#page  #col2 .news-single-item .news-single-timedata {	
	font-size: 0.8em;
}

#page  #col2 .news-list-container .news-list-item .news-list-category {	
font-size: 0.2em;
}

#page #col2 .tx-indexedsearch {	
	font-size: 0.6em;
}						

#page div.tx-indexedsearch #recherche fieldset{	
	display: none;
}

.first, .tx-indexedsearch-descr, .tx-indexedsearch-info {	
	list-style-type: none;
}

#contenu{	
clear: both;
width: auto;
}

#page #colall #contenu div.tx-indexedsearch div.tx-indexedsearch-res ul li.tx-indexedsearch-descr{
	font-size:0.7em;
}

#page #colall #contenu div.tx-indexedsearch div.tx-indexedsearch-res ul li.tx-indexedsearch-info{
	font-size:0.7em;
}

#page #colall #contenu div.tx-indexedsearch div.tx-indexedsearch-res ul li.first{
	font-size:0.7em;
}

#page #colall #contenu div.tx-indexedsearch div.tx-indexedsearch-res ul li.first span.title{
	font-size:1.4em;
}

#page #colall #contenu div.tx-indexedsearch div.tx-indexedsearch-whatis{
	font-size:0.8em;
}

#contenu div.tx-loginboxmacmade-pi1 div.tx-loginboxmacmade-pi1-welcome{
font-size : 0.8em;
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 1em 0 1em 0;
}

#contenu div.csc-header{
	padding-bottom: 1em;
}

#contenu h2{	
	display: inline;	
	clear: none;
}

#page .news-single-item h2{
color: black;
}

#page .news-single-item h3{
font-size: 0.8em;
}

#page .news-single-item h3 p{
font-size: 0.9em;
}

#page form {	
	/*font-size: 0.75em;	
	margin-top: 0pt;	
	margin-right: 0pt;	
	margin-bottom: 0pt;	
	margin-left: 0pt;*/
	display: none;
}

#page input{	
	border: 1px solid #3E3D3D;
}

#mailform fieldset{	
	border: 0;
}

#mailform .csc-mailform-field{	
	margin: 0 0 0.5em 0;
}

#mailform .csc-mailform-field label{	
	display: block;	
	float: left;	
	width: 10em;
}

#mailform .csc-mailform-field input{	
	width: 35em;	
	border: 1px solid #3E3D3D;
}

#mailform .csc-mailform-field textarea{	
	width: 36em;	
	border: 1px solid #3E3D3D;
}

#mailform .csc-mailform-field input.csc-mailform-submit{	
	width: 8em;	
	background-color: #005BAB;	
	color: #000000;	
	border: 0;
}

/**********formulaire de fiche d'entreprise***************/
#page #colall #contenu .tx-lumophpinclude-pi1 form h3 {	
	margin: 0em;
	padding-left: 0.5em;
	font-size: 1.5em;	
	color: #005AAB;
}

#page #colall #contenu .tx-lumophpinclude-pi1 form h2 {	
	padding: 1em;		
	margin: 2em;		
	font-size: 2em;	
	color: #005AAB;
}

#page #colall #contenu .tx-lumophpinclude-pi1 form h4{	
	margin: 1em 2em 0 0;	
	font-size: 1.2em;	
	color: #005AAB;
}

#page #colall #contenu .tx-lumophpinclude-pi1 form {	
	margin: 0em;	
	font-weight: bold;	
	font-size: 0.75em;
}

#page #colall #contenu .tx-lumophpinclude-pi1 form input {
	margin: 0.5em 0 0.5em 2em;
	padding: 0;
}

#page #colall #contenu .tx-lumophpinclude-pi1 form label{
	width:6em;	
	margin: 0.5em 0;		
	float:left;
}

#page #colall #contenu .tx-lumophpinclude-pi1 form label.aligndroite{
	width:7.5em;

}

#page #colall #contenu .tx-lumophpinclude-pi1 form label.gdlabel{
	width:15em;
}

#page #colall #contenu .tx-lumophpinclude-pi1 form label.moylabel{
	width:10em;
}

/**********formulaire de recherche d'entreprise***************/
form#recherche_form label{	
	width:6em;	
	float:left;	
	clear:both;	
	margin: 0.5em 1em 0.5em 0;
}

form#recherche_form input{	
	margin: 0.3em 0 0.5em 0;
}

form#recherche_form select{	
	margin: 0.3em 0 0.5em 2em;
}

form#recherche_form input#valider{	
	clear:both;	
}


/**********fiche du resultat de la recherche**********/
#fiche_detail {	
	margin:2em 0 0 2em;	
	font-weight: bold;	
	font-size: 0.75em;
}

#fiche_detail .rens p{
	margin:0em 0em 0 2em;
}

#fiche_detail h2 {	
	padding: 1em;		
	margin: 2em;		
	font-size: 2em;	
	color: #005AAB;
}

#fiche_detail h3 {	
	margin:2em 0 0 0;	
	font-size: 1.5em;	
	color: #005AAB;
}

#fiche_detail h4{	
	margin:0.5em 2em;	
	font-size: 1.2em;	
	color: #005AAB;
	float:left;
	clear:both;
}

#fiche_detail p{
	font-size:1em;
	font-weight:normal;
}

#fiche_detail span{
	margin-right:1em;
	font-weight:normal;
}

#fiche_detail .gras, .gras{
	font-weight:bold;
}

#fiche_detail .rens{
	margin: 1em0 0 0 2em;
}

#fiche_detail a img{
	margin:0 0 0 2em;
	float:left;
}
#page div.csc-header-n2 h5{
	display:none;
}

/********************accueil en avant*********************/
#page #col2 .tx-lumophpinclude-pi1 #divavant{
	float:left;
	width:11.5em;
	margin-right:1.4em;
}

/*********tx-ttnews-browsebox*************************/
.tx-ttnews-browsebox ul{
margin: 0;
padding: 0;
}

.tx-ttnews-browsebox ul li{
list-style: none;
float: left;
margin: 0 0 0 1em;
}

/************** RSS **************/
#page div.csc-header-n2 h3{
padding-top:0.5em;
margin-bottom:0.5em;
}

#twrss_table {
text-align:left;
font-size:0.7em;
width: auto;
margin: 0em 0em 0em 2.8em;
padding: 0.5em 0.5em 0.5em 0.5em ;
}

#twrss_table div.twrss_channel_description {
line-height:1em;
font-weight:bold;
}

#twrss_table a{
font-size:0.9em;
padding:0;
text-decoration: none;
line-height:1.2em;
color:#3e3d3d;
font-weight:normal;
}

#twrss_table .twrss_item_link{
margin-top:0.2em;
background: url(puce2.gif) no-repeat left;
padding-left:1em;
}

/******** FIN RSS *******************/
#contenu div.news-single-item{
margin: 1em 0 0 0;
}

#contenu div.news-single-item p{
margin: 1em 0 0 0;
}

#contenu div.news-single-item div.news-single-additional-info dl.news-single-files dt{
font-size:0.8em;
margin: 0 0 0.7em 0;
}

#contenu div.news-single-item div.news-single-category{
	display:none;
}

#cold .vcard {
text-align:left;
font-size:0.8em;
width: auto;
margin: 0 0 0.5em 1.5em;
padding:0.5em 0.5em 2.5em 0.5em;
height:auto;
}

#cold .vcard div, #cold .vcard p{
font-size:0.75em;
}

#cold .vcard span.fn{
font-size:0.8em;
}

#cold .vcard div.org{
font-size: 0.77em;
}

#cold .vcard div div, #cold .vcard div span{
font-size: 0.9em;
}

#cold .vcard a span.fn{
font-size: 1em;
cursor: text;
}

#cold .vcard p, #cold .vcard span{
margin:0;
padding:0;
}

#cold .vcard span.fax{
line-height: 1em;
}

#cold .vcard a.url{
text-decoration: none;
color: black;
font-weight: normal;
}

*+html #cold .vcard p a.web{
margin-top: -2em;
}

table#AgendaPrint{
display:none;
}

#footer{	
display: none;
}