/* ====================
= Bloc =Portlet =JSR
==================== */

.portlet-titre,
.style1 .portlet-titre,
.style2 .portlet-titre,
.style3 .portlet-titre,
.sansstyle .portlet-titre {
background-color : #332e44;
color : #ffb622;
margin : 0;
padding : 0.5em 5px;
}

.portlet-actions {
background-color : #fff;
border : solid #332e44;
border-width : 0 1px 1px 1px;
font-size : 95%;
height : 18px;
margin : 0;
padding : 1px 5px;
}

.portlet-actions a,
.portlet-actions span {
float : left;
height : 0;
overflow : hidden;
padding : 17px 2px 0 2px;
width : 11px;
}

.portlet-actions a:hover {
text-decoration : none;
}

.portlet-edit {
background : url(http://www.u-paris2.fr/adminsite/portal/img/edit.gif) no-repeat 50% 50%;
}

.portlet-help {
background : url(http://www.u-paris2.fr/adminsite/portal/img/help.gif) no-repeat 50% 50%;
}

.portlet-view {
background : url(http://www.u-paris2.fr/adminsite/portal/img/view.gif) no-repeat 50% 50%;
}

.portlet-actions .portlet-max {
background : url(http://www.u-paris2.fr/adminsite/portal/img/max.gif) no-repeat 50% 4px;
float : right;
}

.portlet-actions .portlet-min {
background : url(http://www.u-paris2.fr/adminsite/portal/img/min.gif) no-repeat 50% 4px;
float : right;
}

.portlet-actions .portlet-nor {
background : url(http://www.u-paris2.fr/adminsite/portal/img/norm.gif) no-repeat 50% 4px;
float : right;
}

.portlet-contenu,
.portlet-contenu table,
.portlet-contenu td {
font-size : 1em;
}

.portlet-contenu {
border : solid #332e44;
border-width : 0 1px 1px 1px;
overflow : auto;
padding : 0.4em 5px;
}
