#contenu {
	color: #333333;
	font-family: Arial;
	font-size: 12px;
	width : 900px!important;
}
#colonneGauche, #colonneDroite, #bandeauBas {
	display: none;
}
#bandeauHaut{
    display: none;
}
#chemin{
    display: none;
}
#toppastop{
    display: none;
}
img {
 display : none;
}