/* STYLES GENERIQUES DU SITE */

.Invisible {
	display: none;
}

.clearFloat {
	margin: 0;
	padding: 0; 
	clear:both; 
	height:1px; 
	font-size:1px; 
	line-height:1px;
	overflow: hidden; 
}

img.imageGauche { 
	float:left;
	margin:4px 10px 4px 0; 
}

img.imageDroite {
	float:right;
	margin:4px 0 4px 10px; 
}

/* FENETRES D'INFORMATIONS COMME LE LANCEMENT D'UN AJAX OU LE TRAITEMENT D'UN FORMULAIRE */

.messageFenetre {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	padding: 25px 0 25px 0;
	margin-left: -125px;
	z-index: 3;
	background: #FFFFFF;
	border: 4px solid #5e5e5e;
	text-align: center;
}

.messageFenetre p {
	margin: 0;
	padding: 20px 0 15px 0;
	background: url(http://www.smc.fr/images/small_indic.gif) 50% top no-repeat;
}

html>body .messageFenetre {
	position: fixed;
}

/* MESSAGE D'ERREUR */

h1.Erreur {
	color: #ee4e4e;
	border-bottom: 2px solid #ee4e4e;
}

p.Erreur {
	border: 2px solid #b96761;
	margin: 0;
	padding: 15px;
	text-align: center;
	font-size: 15px;
	background-color: #f9bec4;
}