/* LES LANCEURS Home*/
 
#Lanceurs {
        margin: 0;
        padding: 5px 0 0 0;
        list-style: none;
        height: 86px;
}

#Lanceurs li {
        float: left;
        width: 190px;
        margin-right: 7px;
}

#Lanceurs li.lanceurDouble {
        width: 390px;
}