/**
 * ELEMENTS CACHES POUR L'IMPRESSION
 ***************************************************************************************/
#Entete h1 a, #Entete h2, #Entete menu, #Accessibilite, #AccessibilitePart, #colonneGauche, #colonneGauchePart,
#colonneDroite, #colonneDroitePart, #menuSecondaire, #menuAcces, #menuClients, #AccessibilitePartBesoin, #menuBesoins, 
#colonneDroiteDossier, #mentions
{
	display: none;
}



#conteneurSite {
	width: 100%;
}

/**
 * ENTETE DU SITE
 ***************************************************************************************/

#Entete {
	width: 100%;
	height: 76px;
}

#Entete h1 {
	margin: 0;
	padding: 0;
	width: 150px;
	height: 70px;
}


/**
 * BARRE ACCESSIBILITE
 ***************************************************************************************/

/**
 * CONTENU DU SITE (Regroupe les 3 colonnes et simule l'image de fond)
 ***************************************************************************************/
#contenuSite {
	clear: both;
}


/**
 * COLONNE CENTRALE
 ***************************************************************************************/
#colonneCentre {
	float: left;
	width: 620px;
	margin-left:16px;
}

#Lanceurs {
	list-style: none;
	margin: 0;
	padding: 0;
}

#Lanceurs li {
	float: left;
	width: 190px;
	height: 86px;
	font-size: 0.9em;
}

#Lanceurs li a {text-decoration: none; font-weight:bold;}
#Lanceurs li a:hover {text-decoration:underline;}



/*couleur origine background: #42a0c2;	new v2: 0B4DA2 */

#infosConso { font-weight: bolder; font-size:0.85em; background: #42a0c2;	padding: 6px 4px;	margin: 0 13px 0 0;}
#infosConso li {padding: 2px;}
#infosConso li a {color: #FFF;	text-decoration: none;}
#infosConso li a:hover {text-decoration: underline;}
/*couleur origine background: #88bed6;	new v2: 2Eb2D9*/ 
#Dossiers {		font-weight: bolder; font-size:0.85em; background: #88bed6;	padding: 6px 4px;	margin: 0 13px 0 0;}
#Dossiers li {padding: 2px;	}
#Dossiers li a {color: #FFF; text-decoration: none;}
#Dossiers li a:hover {text-decoration: underline;}
#tousDossiers {
	margin: 20px 0px 0 0;
	padding-left: 5px;
	background-image: url(ligne_dossier.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
}
/*couleur origine background: #c4deeb;	new v2: FF9900*/
#Dossiers2 {		font-weight: bolder; font-size:0.85em; background: #c4deeb;	padding: 6px 4px;	margin: 0 13px 0 0;}
#Dossiers2 li {padding: 2px;	}
/*origine couleur texte: #666666;	new v2: FFF*/
#Dossiers2 li a {color: #666666; text-decoration: none;}
#Dossiers2 li a:hover {text-decoration: underline;}

#tousDossiers {
	margin: 20px 0px 0 0;
	padding-left: 5px;
	background-image: url(ligne_dossier.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
}

#tousDossiers li a { text-decoration: none; font-size:0.8em; font-style:italic; color:#6699cc; }
#tousDossiers li a:hover {text-decoration: underline;}

/**
 * PIED DE PAGE
 ***************************************************************************************/ 

#piedPage {
	/*background: url(../images/fond_pied_pagekb.gif) left bottom no-repeat;*/
	display:none;
}

#lienHSBC {
	text-align: right;
	margin: 0;
	padding: 10px 100px 5px 0;
}

h4.securite {
font-size:0.8em; font-weight:normal; color:#FF0000; margin-bottom:-0.5em; margin-top:-0.3em; width:133px;
}









#categorie {
	display: block;
	padding-left: 20px;
	width: 128px;
	text-decoration: none;
	font-size: 0.85em;
	font-weight: bold;
	color:#004677;
	background: url(bord_menu_gauche.gif) 15px 50% no-repeat;
	text-transform: uppercase;
	line-height:1.2em;	
	padding-top: 2px;
	padding-bottom: 2px;
}
	

/* centre ENT*/
#centreEntreprises{
	background-image: url(b1.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 394px;
	width: 585px;
	}
	
#centreEntreprisesb1{
	background-image: url(b1.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 394px;
	width: 585px;
}


#centreEntreprisesb2{
	background-image: url(b2.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 394px;
	width: 585px;
}

#centreEntreprisesb3{
	background-image: url(b3.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 394px;
	width: 585px;
}
#centreEntreprisesb4{
	background-image: url(b4.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 394px;
	width: 585px;
}

#centreEntreprisesb5{
	background-image: url(b5.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 394px;
	width: 585px;
}

#centreEntreprisesb6{
	background-image: url(b6.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 394px;
	width: 585px;
}
#centreEntreprisesb7{
	background-image: url(b7.jpg);
	background-repeat: no-repeat;

	background-position: left bottom;
	height: 394px;
	width: 585px;
}

#centreAssociationsb1{
	background-image: url(b1.jpg.1);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 394px;
	width: 585px;
}

#centreAssociationsb2{
	background-image: url(b2.jpg.1);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 394px;
	width: 585px;
}
#centreAssociationsb3{
	background-image: url(b3.jpg.1);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 394px;
	width: 585px;
}

#centreAssociationsb1 p, #centreAssociationsb2 p, #centreAssociationsb3 p, #centreEntreprises p, #centreEntreprisesb1 p, #centreEntreprisesb2 p, #centreEntreprisesb3 p, #centreEntreprisesb4 p, #centreEntreprisesb6 p, #centreEntreprisesb5 p, #centreEntreprisesb7 p {
	display: block;
	margin: 0;
	padding: 50px 10px 5px 10px;
	color:#505d6d;
	font-size: 0.85em;
	font-family: Arial, Helvetica, sans-serif;
	width: 170px;
	line-height: 1.7em;
	font-weight: bold;
}

#centreEntreprises img{
	display: block;
	padding-top: 20px;
	padding-right: 10px;
	text-align: right;
}

/* centre MAG*/
#centreMag{
	background-image: url(fond_contenu_mag.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 500px;
	width: 585px;
	}

#centreMagProduit{
margin-left:10px;
margin-top:10px;
	}



/* centre PRODUIT*/

/* 
#centreProduit est en bas du fichier dans la section modiiée 
*/

#centreProduitGauche, #centreEncadreGauche {
	width: 5cm;
	position: absolute;
	left: 0;
	top: 0;
}
	
#centreProduitDroite {
	width: auto;
	position: relative;
	left: 5.5cm;
}

#centreProduitDroite a {
	text-decoration: underline;	
	color:#505d6d;
}


#centreProduitDroite menu {
	margin-top:0px;
}

#centreProduitDroite menu li{
	list-style-type: disc;  
	color:#505d6d;
	line-height: 1.2em;
	font-size: 0.9em;
	list-style-position: inside; 
	margin-left:-40px;
}

#centreProduit h1{
	color:#EB690B;
	font-size: 1.6em;
	line-height: 0.9em;
	font-variant: small-caps;
	font-weight: bold;
}

#centreProduitDroite h1{
	color:#EB690B;
	font-size: 1.6em;
	line-height: 0.9em;
	font-weight: bold;
	font-variant:normal;
}

#centreProduit h2{
color:#EB690B;
font-size: 0.85em;
line-height: 1.4em;
	text-align: left;

}

#centreProduit p{
	color:#505d6d;
	line-height: 1.35em;
	font-size: 0.9em;
}

#centreProduit h3{
	color:#EB690B;
	font-size: 1.1em;
	line-height: 1em;
	font-weight: bold;
	font-variant:normal;
}

#centreProduit h4{
	color:#EB690B;
	font-size: 0.85em;
	line-height: 1em;
	font-weight: bold;
	font-variant:normal;
}

#centreProduitLien {
float:left;
text-decoration: none;	
}


#centreProduit a, #centreProduit a:visited{
	text-decoration: underline;	}

#centreProduit a:hover{
	text-decoration: underline;	
	color:#EB690B;
}


#centreProduit a.lienProduit, #centreProduit a.lienProduit:visited{
	color:#EB690B;
	font-variant: small-caps;
	text-decoration: none;
	font-weight: bold;
	display:block;

}



#centreProduit a.lienProduit:hover{
	text-decoration: underline;	
}


#centreProduit a.lienpdtSouscrire{
	color:#EB690B;
	text-decoration: none;
	font-weight: bold;
	text-decoration: underline;	
		font-size: 0.98em;
}

#centreProduit a.lienpdtSouscrire:hover {
	text-decoration: none;
	color:#505d6d;
}


#centreProduit a.lienSouscrire, #centreProduit a.lienSouscrire:visited{
	width: 130px;
	color:#EB690B;
	font-variant: small-caps;
	text-decoration: none;
	font-weight: bold;
	display:block;
	border: thin solid #EB690B;
	text-align: center;
	vertical-align: middle;
	padding-bottom: 5px;
}

#centreProduit a.lienSouscrire:hover{
		color:#505d6d;
}

#centreDossier a{
	text-decoration: underline;	
		color:#505d6d;
	}

#centreDossier a:hover{
	text-decoration: underline;	
	color:#FF9900;
}

#centreDossier a.lienProduit, #centreDossier a.lienProduit:visited{
	text-decoration: none;	
		color:#FF9900;
		font-variant: small-caps;
	}

#centreDossier a.lienProduit:hover{
	text-decoration: underline;	
	color:#FF9900;
}

#centreDossier a.nav{
	text-decoration: none;	
		color:#FF9900;
	}

#centreDossier a.nav:hover{
	text-decoration: underline;	
	color:#FF9900;
}

#centreDossier .colonne1 {
	width: 190px;
	padding-left:0px;	
	float:left;
	margin-right:20px;
}

/* Colonne gauche DOSSIER */
#colonneGaucheDossier {
	float: left;
	width: 700px;
	background: url(fond_degrade.gif) no-repeat;
	padding: 0 0 0 25px;
}


#colonneGaucheDossier2 {
	float: left;
	width: 730px;
	background: url(fond_degrade.gif) no-repeat;
	padding: 0 0 0 55px;
}

/* Colonne droite DOSSIER */
#colonneDroiteLasmc {
	float: left;
	width: 206px;
	height: 464px;
	padding-left:0px;
	background-image: url(lasmc_illust1b.jpg);
	background-repeat: no-repeat;
	float: right;	
	padding-right:10px;
}



/**
 * COLONNE CENTRALE DOSSIER
 ***************************************************************************************/
#colonneCentreDossier {
	float: left;
	width: 690px;
	}
/* centre DOSSIER*/
#centreDossier{
	/*width: 689px;
	float:left;*/
}

#centreDossierDroite{
	width: 689px;
		display:block;
		margin-left:250px;
		padding-top:28px;
		clear:right;
	}
	
	
	#centreDossierDroite2{
	/*width: 560px;
		display:block;
		margin-left:15px;
		padding-top:20px;
		clear:right;*/
}
	
#centreDossierDroite2 h1{
	color:#0772B5;
	font-size: 1.2em;
	line-height: 0.9em;
	font-weight: bold;
	font-variant: small-caps;
}
	#centreDossierBas{
	width: 250px;
	display:block;
	vertical-align: bottom;
	margin-left:340px;
			clear:both;
	}
	

	
#centreDossierDroite2 img.illustration{
display:block;
float:left;
padding-left:8px;
padding-top:15px;
padding-right:8px;
	}
	#centreDossierDroite2 img.illustration2{
	display:block;
	text-align: right;
	float:right;
	padding-left:10px;
	}
	
	#centreDossier h1{
	color:#0772B5;
	font-size: 1em;
	line-height: 0.9em;
	font-weight: bold;

}



#centreDossierDroite2 p{
	color:#505d6d;
	line-height: 1.25em;
	font-size: 1em;
		text-align: justify;
}

#centreDossierDroite2 menu{
	color:#505d6d;
	line-height: 1.25em;
	font-size: 1em;
	text-align: justify;
	margin-top:0px;
		margin-left:0px;
list-style-position:inside;} 

#centreDossierDroite2 menu lh{
	font-weight: bold;
} 

#centreDossierDroite2 p.teteChapitre{
	line-height: 1.3em;
	font-size: 0.95em;
	text-align: justify;
	}

#centreDossierDroite2 p.ensavoirPlus{
	color:#505d6d;
	line-height: 1.2em;
	font-size: 0.85em;
	display:block;
	float:left;
	text-align: left;
}

#centreDossierDroite2 p.nav{
	color:#505d6d;
	line-height: 1.2em;
	font-size: 0.85em;
		text-align: justify;
		clear:both;
}
#centreDossierDroite2 a{
	color:#505d6d;
	text-decoration: underline;
	font-weight: normal;
		text-align: left;
}

.rightEncre {
	display: block;
	text-align: right;
	padding-left:300px;
}


#centreDossierBas a:hover{
	text-decoration: underline;
}


#centreDossierBas a{
	color: #ff9900;
	text-decoration: none;
		font-size: 0.75em;
	font-weight: bold;
		text-align: left;
}


/* onglets DOSSIER*/
#menuOnglet {
clear:both;
}

#menuOnglet menu li {
	float: left;
	margin-left: 4px;
	margin-right:10px;
	padding-right:2px;	
	list-style: none; 
	display: block;
	border-bottom:solid 2px #848484;
	border-right:solid 2px #848484;
	background:none;
	width:90px;
	font-size:1em;
	text-align: right;
	font-variant: small-caps;
	font-weight: bolder;
	line-height:0.9em;
	height: 20px;
	padding-bottom:4px;
	font-size:0.95em;
	line-height:1em;
	text-decoration:none;	
}

#menuOnglet menu li a{
	text-decoration:none;
	color:#505d6d;
}

.lienOnDossier{
	text-decoration:none;
	color: #ff9900;
	font-variant: normal;

}

.lienOn{
	text-decoration:none;
	color: #ff9900;

}

#menuOnglet menu li.lienOffDossier{
	text-decoration:none;
	color: #505d6d;
}

.lienOffDossier{
	text-decoration:none;
	color: #848484;
}

#menuOnglet menu li a:hover{
	color: #ff9900;
}


/* onglets DOSSIER*/
#menuOnglet2 {


}

#menuOnglet2 menu li {
	float: left;
	margin-left: 4px;
	margin-right:10px;
	padding-right:2px;	
	list-style: none; 
	display: block;
	border-bottom:solid 2px #848484;
	border-right:solid 2px #848484;
	background:none;
	width:70px;
	font-size:1em;
	text-align: right;
	font-variant: small-caps;
	font-weight: bold;
	line-height:0.9em;
	height: 10px;
	padding-bottom:4px;
}

#menuOnglet2 menu li a{
	text-decoration:none;
	color:#505d6d;
}
#menuOnglet2 menu li a:hover{
	color: #ff9900;
}

	/**
 * BARRE ACCESSIBILITE Dossier
 ***************************************************************************************/
 
#AccessibilitePartDossier {
	height: 20px;
	
}
#AccessibilitePartDossier menu li {
	float: left;
	margin-right: 4px; 
	margin-left:4px;
}

#AccessibilitePartDossier menu li a{
	font-size:0.8em;
	font-weight: bolder;
	font-variant: normal;
	color: #606066;
	text-decoration: none;
	background: url(bord_menu_gauche.gif) left 0 no-repeat;
	padding-left: 10px;
}
#AccessibilitePartDossier menu li a.BesoinOn{
	font-size:0.85em;
	font-weight: bolder;
	font-variant: normal;
	color: #ff9900;
	text-decoration: none;
	background: url(bord_menu_gauche.gif) left 0 no-repeat;
	padding-left: 10px;
}

#AccessibilitePartDossier menu li a:hover{
	text-decoration: underline;
}


		/**
 * COLONNE DE DROITE part
 ***************************************************************************************/ 
#colonneDroiteDossier {
	float: right;
	width: 150px;
	margin-top:0px;
}

#colonneDroiteDossier h2 {
	margin: 0;
	padding: 15px 0 0px 0;
	color: #2b57a0;
	font-size: 0.9em;
	text-transform: uppercase;
	font-weight: bold;
}

/* ACCES COMPTES */ 
#colonneDroiteDossier h3{
	margin: 0;
	padding: 0px 0 5px 0;
	text-transform: uppercase;
	font-weight: bold;
	color: #ff9900;
	font-size: 0.78em;
	}
/* INFOS CONSOMMATEURS */

#colonneDroiteDossier menu {
	list-style: none;
	margin-top: 0;
		font-weight: bold;
}

#colonneDroitePart p {
font-size:0.8em;
font-weight:bolder;
text-transform:none;
color:#000066;
line-height:1.2em;
margin-bottom:0.2em;
}

#centreDossier p.introInstit {
	display:block;
	font-size:0.9em;
	font-weight:bolder;
	text-transform:none;
	color:#0772B5;
	line-height:1.4em;
	margin-bottom:0.2em;
	text-align: justify;
	width: 200px;
	padding-left:15px;
	padding-top:15px;
	float:left;
	font-variant: small-caps;
}

/**
 * Modifications Pierre-Louis Hubert - Okarito
 *********************************************************************************/

#centreProduit{	
	padding: 10px 20px;
	clear: both;
	position: relative;
}

/*.blocEncadre {
	width: 588px;
	padding-top: 10px;
	background: url('../images/haut_bloc.gif') no-repeat;
}

.bordBas {
	padding-bottom: 10px;
	background: url('../images/bas_bloc.gif') left bottom no-repeat;
}

.bordGauche {
	background: url('../images/bord_gauche.gif') left bottom no-repeat;
}

.bordDroit {
	background: url('../images/bord_droit.gif') right top no-repeat;
}*/

.contenuBlocEncadre {
	padding: 15px;
}

#colonneGauchePart li.separateurMenu {
	padding-top: 10px;
}

.centreEncadre {
	padding: 10px;
}

.centreEncadreDroite {
	width: 410px;
	float: right;
	padding-right: 10px;
}

.centreEncadreDroite h4{
	color:#EB690B;
	text-decoration: none;
	font-weight: bold;
	font-size: 0.95em;

}

.centreEncadreDroite p{
	color:#505d6d;
	line-height: 1.35em;
	font-size: 0.9em;

}
.centreEncadreGauche{
/** width: 210px;
*/
}

.centreEncadreGauche20{
	width: 20px;
}

.centreEncadreLarge{
	width: 650px;
}
.centreEncadreLarge a.lienProduit{
	width: 250px;
	color:#EB690B;
	font-variant: small-caps;
	text-decoration: none;
	font-weight: bold;
	display:block;

}

.centreEncadreLarge a.lienProduit:hover{
	text-decoration: underline;	
}

.centreEncadreLarge h3{
	color: #999999;
	font-size: 0.95em;
	font-style: italic;
		font-weight: normal;
}

.blocGrandEncadre {
	width: 689px;
	padding-top: 9px;
	background: url('haut_grd_bloc.gif') no-repeat;
	margin-top: 20px;
}

.blocGrandEncadre .bordBas {
	padding-bottom: 10px;
	background: url('bas_grd_bloc.gif') left bottom no-repeat;
}

.blocGrandEncadre .bordGauche {
	background: url('bord_grd_gauche.gif') left bottom no-repeat;
}

.blocGrandEncadre .bordDroit {
	background: url('bord_grd_droit.gif') right top no-repeat;
}

 /* Ajout pour calque souscrire
 *********************************************************************************/

#colonneGaucheDossier {
	
}

/**
 * FIN Modifications 
 *********************************************************************************/
 /* Ajout pour calque souscrire
 *********************************************************************************/
.clicCacher {
	position: relative;
	top: 0px;
	text-align:right;
}

.contenant {
	display : block;
	width: 320px;
	padding-left: 0px;
	padding-top: -5px;
	padding-bottom: 20px;
}

.contenant p {
	color:#505d6d;
	line-height: 1.1em;
	font-size: 01.1em;
}

#centreProduit a.lienProduit2, #centreProduit a.lienProduit2:visited{
	text-decoration: underline;	
	color:#EB690B;
	font-variant:normal;
}

#centreProduit a.lienProduit2:hover{
	text-decoration: underline;	
	color:#505d6d;
	font-variant:normal;
}

.contenant h3{
	color:#EB690B;
	font-size: 0.8em;
	line-height: 0.8em;
	font-weight: bold;
	font-variant:normal;
}



.contenant2 {
	display : block;
	width: 320px;

	}
 /* Ajout FORMULAIRE contact
 *********************************************************************************/
label {DISPLAY: inline; FLOAT: left; margin-left:0px;}

.centreEncadreLarge th {
font-size: 0.9em; 	font-weight:normal; padding:0px;}

.contenantProduit {
	background-color: #FFEEDD;
	margin-left:25px;
	PADDING-left:5px;
		PADDING-bottom:5px;
}
