divcomm{
	float: none!important;
}

.hiddenPrint {
	display:none;
}

/* float empeche l'impression sous firefox */
div.UnlayeredContainerV {
	/*float :left!important;*/
}

/* Pour les Web Sites */

div.metierSeul{
	/*float: left!important;*/
}

/* Pour les Sous Home */

div.teaserPictureLeft{
	/*float: left!important;*/
}