#content {
	width:1000px;
}

.contentLengthPartFull {
	width: 46.10em;
}

* html .contentLengthPartFull {
	width: 46.40em;
}

*> .contentLengthPartFull {
	!width: 46.40em;
}

/*** COULEUR DE LA SECTION ***/
.themecontentcolor {
	color:#00A76F;	
}

.themecontentcolor a {
   color: #00895E!important;
}

/*** HEADER ***/
.header .titre {
	width:13em;
}



/*** TEMPLATE AGENDA ***/
.AgendaLength {
	/*width:170px;*/
	width : 13.1em;
}

*> .AgendaLength {
    !width : 13.13em;
}

.AgendaLength .ytsList {
padding-top:0px;
}

* html .AgendaLength {
	width : 13.15em;
}



/*** SURCHARGE DE LA TAILLE DU H2 POUR LES INTRO ***/
.introduction h2 {
	font-size:136%;
}
