.contentLengthPartThirdRight .MLR8 {
	margin-right : 8px;
	margin-left  : 2px;
}

.contentLengthPartTwoThirdLeft .MLR8 {
	margin-right : 3px;
	margin-left  : 8px;
}

.contentLengthPartThirdCenter .MLR8 {
	margin-right : 3px;
	margin-left  : 2px;
}

.contentLengthPartThird .MLR8 h2,
.contentLengthPartThird .MLR8 h3 {
	padding-right : 3px;
	padding-left : 3px;
}

.contentLengthPartThird .MLR8 .introductoryParagraph {
	padding-right : 3px;
	padding-left : 3px;
}

.contentLengthPartThird .MLR8 .body {
	padding-right : 3px;
	padding-left : 3px;
}

.contentLengthPartTwoThird .introBlock{
	margin-right : 3px;
	margin-left  : 3px;
}

.contentLengthPartTwoThird .introBlock .left div img{
	margin-right : 5px;
}


.contentLengthPartTwoThird .introBlock .right div img{
	margin-left : 5px;
}
