/*********************   shape   ******************************************/

p.error{
font-weight: bold;
color: red;
text-align:left;
}

p.info{
font-weight: bold;
color: red;
text-align:left;
}

p.abonnementinfo
{
	margin-top:0px;
	padding-top:0px;
	font-weight: bold;
}
div.round1 {
	margin: 0 1px;
	height: 1px;
	overflow: hidden; /*necssaire pour IE */
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 0;
	border-bottom: 0;
}

div.round2 {
	margin: 0 2px;
	height: 1px;
	overflow: hidden; /*necssaire pour IE */
	border-left: 2px solid;
	border-right: 2px solid;
	border-top: 0;
	border-bottom: 0;
}

div.round3 {
	margin: 0 4px;
	height: 1px;
	overflow: hidden; /*necssaire pour IE */
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 0;;
	border-bottom: 0
}

div.box-shape-transverse {
	border-left: 1px solid;
	border-right: 1px solid;
}

div.box-shape-transverse-title {
	height: 100%;
	padding-left: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	border-left: 10px solid;
}

div.box-shape-transverse-title H2 {
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0em;
}

div.box-shape-transverse-title a {
	height: 100%;
	font-family: Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}

div.box-shape-transverse-title-lowercase {
	height: 100%;
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	font-stretch: condensed;
	font-weight: bold;
	padding-left: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	border-left: 10px solid;
}

div.box-shape-transverse-content {
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 0.5em;
	margin-right: 0em;
	padding-top: 0.5em;
}

div.box-shape-transverse-centered-content {
	text-align: center;
}

br.box-shape-transverse-bottom {
	font-size: 0.3em;
}

table.trans-table-shape {
	border-left: 1px solid;
	border-right: 1px solid;
	width: 100%;
}

table.trans-table-shape-no-border {
	border: none;
	width: 100%;
}

td.trans-td-title-lowercase-shape {
	font-stretch: condensed;
	font-weight: bold;
	padding-left: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	border-left: 10px solid;
}

td.trans-td-title-lowercase-shape H2 {
	text-align: left;
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	margin: 0em;
}

td.trans-td-title-lowercase-shape H2 a {
	font-size: 1em;
}

td.trans-td-title-shape {
	font-stretch: condensed;
	font-weight: bold;
	padding-left: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	border-left: 10px solid;
}

td.trans-td-title-shape H2 {
	text-align: left;
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	margin: 0em;
	text-transform: uppercase;
}

td.trans-td-title-shape H2 a {
	font-size: 1em;
}

td.trans-td-content-shape {
	text-align: left;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

td.trans-td-content-centered-shape {
	text-align: center;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

td.1of1 {
	width: 100%;
}

td.1of2 {
	width: 50%;
}

td.1of3 {
	width: 33%;
}

p.centered-text {
	text-align: center;
}


p.archive-form {
	text-align: left;
	margin:0px;
	padding:0px;
}

p.archive-form input{
	width:128px;	
	margin:0px;
	padding:0px;
	padding-left:3px;
}

select.month{
	margin-rigth:9px;
	width:90px;		
}

select.year{
	margin:0px;
	padding:0px;
	width:65px;		
}

p.left-align {
	text-align: left;
	margin:0px;
	padding:0px;
}

p.left-align select{
	width:77%;	
	margin:0px;
	padding:0px;	
	vertical-align:middle;
}

p.left-align input{
	width:95%;	
	margin:0px;
	padding:0px;
	padding-left:3px;
}

p.left-align button{
	vertical-align:top;
}

div.site
{
	margin: 0px;
	padding: 0px;
	margin-top:5px;
	margin-left: 0px;
	margin-right: 1px;
	padding-left: 1px;
	font-size:1em;	
}
	

table.fast-access-sites
{
	margin:0px;
	padding:0px;
	width:100%;	
}

td.fast-access-sites-select
{
	margin:0px;
	padding:0px;
	padding-top:2px;	
	padding-bottom:2px;	
	width:90%;
	text-align: left;
	font-size:0.7em;
	vertical-align:middle;
}

td.fast-access-sites-select select
{
	margin:0px;
	padding:0px;
	width:98%;
	border:1px solid;
	vertical-align:middle;
}

td.fast-access-sites-button 
{
	margin:0px;
	padding:4px 0px 6px 2px;
	text-align:left;
	vertical-align:top;
}


input.btn-img {
	border: none;
	background: #FFFFFF;
	margin: 0;
	padding: 0;
}
/*********************   color light-blue   ******************************************/
table.trans-table-color-light-blue {
	border-color: #8caec3;
}

div.box-trans-round-corner-light-blue {
	border-color: #8caec3;
	background-color: #8caec3;
	color: #000000;
}

div.box-trans-round-light-blue {
	border-color: #8caec3;
}

td.trans-td-title-color-light-blue {
	background-color: #8caec3;
	border-left-color: #6c92ac;
	color: #FFFFFF;
}

td.trans-td-title-color-light-blue H2 a {
	background-color: #8caec3;
	color: #FFFFFF;
}

td.trans-td-content-color-light-blue {
	background-color: #FFFFFF;
	color: #666666;
}

td.trans-td-content-color-light-blue ul {
	list-style-image:
		url('bullet_light_blue_arrow.gif.1')
		;
	padding-left: 0;
	margin-left: 1em;
	margin-top: 0;
	margin-bottom: 0;
}

td.trans-td-content-color-light-blue ul li {
	margin-top: 0.2em;
	margin-bottom: 0;
}

td.trans-td-content-color-light-blue select {
	vertical-align: middle;
	border: 1px solid #8caec3;
	margin: -0.1em;
	font-size: 1em;
	background-color: #FFFFFF;
	color: #666666;
}

td.trans-td-content-color-light-blue select option {
	background-color: #FFFFFF;
	color: #666666;
}

td.trans-td-content-color-light-blue a {
	background-color: #FFFFFF;
	color: #666666;
}

input.btn-suscribe-light-blue {
	border: none;
	background-color: #FFFFFF;
	color: #666666;
	margin: 0;
	padding: 0;
	text-align: left;
	vertical-align: baseline;
	font-size: 1.0em;
}

input.btn-suscribe-hoverlight-blue {
	border: none;
	background-color: #FFFFFF;
	color: #666666;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: underline;
	vertical-align: baseline;
	font-size: 1.0em;
}



input.input-suscribe-light-blue {
	border: 1px solid #8caec3;
	background-color: #FFFFFF;
	color: #666666;
	width: 80%;
	font-size: 1em;
}

/*********************   color green   ******************************************/
table.trans-table-color-green {
	border-color: #7ca008;
}

td.trans-td-title-color-green {
	border-color: #7ca008;
	background-color: #bbd049;
	color: #FFFFFF;
}

td.trans-td-title-color-green H2 a {
	background-color: #bbd049;
	color: #FFFFFF;
}

div.box-trans-round-corner-green {
	border-color: #7ca008;
	background-color: #7ca008;
	color: #000000;
}

div.box-trans-round-green {
	border-color: #7ca008;
}

td.trans-td-content-color-green {
	background-color: #FFFFFF;
	color: #666666;
}

td.trans-td-content-color-green ul {
	list-style-image:
		url('bullet_green_arrow.gif')
		;
	margin: 0;
}

td.trans-td-content-color-green ul li {
	margin-left: 1em;
	margin-top: 0.2em;
	margin-bottom: 0;
}

td.trans-td-content-color-green select {
	vertical-align: middle;
	border: 1px solid #7ca008;
	margin: -0.1em;
	font-size: 1em;
	background-color: #FFFFFF;
	color: #666666
}

td.trans-td-content-color-green select option {
	background-color: #FFFFFF;
	color: #666666;
}

td.trans-td-content-color-green a {
	background-color: #FFFFFF;
	color: #666666;
}

input.input-suscribe-light-green {
	border: 1px solid #7ca008;
	background-color: #FFFFFF;
	color: #666666;
	width: 60%;
	font-size: 1em;
}

/*********************   color blue   ******************************************/
table.trans-table-color-blue {
	border-color: #416E97;
}

div.box-color-blue-transverse-corner {
	border-color: #416E97;
	background-color: #416E97;
	color: #000000;
}

td.trans-td-title-color-blue {
	background-color: #458DC8;
	border-left-color: #416E97;
	color: #FFFFFF;
}

td.trans-td-content-color-blue {
	background-color: #FFFFFF;
	color: #666666;
}

td.trans-td-content-color-blue ul {
	list-style-image:
		url('http://www.carrefour.com/docroot/CDC-Contents/files/images/static/bullet_blue_arrow.gif')
		;
	margin-top: 0.5em;
	line-height: 0.8em;
	vertical-align: top;
}

td.trans-td-content-color-blue ul li {
	margin-top: 0.2em;
	margin-bottom: 0;
	margin-left: -1.5em;
	line-height: 1em;
	vertical-align: top;
}

td.trans-td-content-color-blue select {
	vertical-align: middle;
	border: 1px solid #8caec3;
	margin: -0.1em;
}

td.trans-td-content-color-blue select option {
	font-size: 0.7em;
}

td.trans-td-content-color-blue a {
	background-color: #FFFFFF;
	color: #666666;
}

div.box-trans-round-blue{
	border-color: #416E97;
}

div.box-trans-round-corner-blue {
	border-color: #416E97;
	background-color: #416E97;
	color: #000000;
}

/*********************   color dark-blue   ******************************************/
table.trans-table-color-dark-blue {
	border-color: #29326B;
}

div.box-trans-round-corner-dark-blue {
	border-color: #29326B;
	background-color: #29326B;
	color: #000000;
}

div.box-trans-round-dark-blue {
	border-color: #29326B;
	color: #000000;
}

td.trans-td-title-color-dark-blue {
	border-color: #29326B;
	background-color: #37438f;
	color: #FFFFFF;
}

td.trans-td-content-color-dark-blue {
	background-color: #FFFFFF;
	color: #666666;
}

td.trans-td-content-color-dark-blue ul {
	list-style-image:
		url('bullet_dark_blue_arrow.gif')
		;
	margin-top: 0.5em;
	line-height: 0.8em;
	vertical-align: top;
}

td.trans-td-content-color-dark-blue ul li {
	margin-top: 0.2em;
	margin-bottom: 0;
	margin-left: -1.5em;
	line-height: 1em;
	vertical-align: top;
}

td.trans-td-content-color-dark-blue select {
	vertical-align: middle;
	border: 1px solid #29326B;
	margin: -0.1em;
}

td.trans-td-content-color-dark-blue select option {
	font-size: 0.7em;
}

td.trans-td-content-color-dark-blue a {
	background-color: #FFFFFF;
	color: #666666;
}

/*********************   color turquoise   ******************************************/
table.trans-table-color-turquoise {
	border-color: #188687;
}

div.box-trans-round-corner-turquoise {
	border-color: #188687;
	background-color: #188687;
	color: #000000;
}

div.box-trans-round-turquoise {
	border-color: #188687;
	color: #000000;
}

td.trans-td-title-color-turquoise {
	background-color: #0CBFB9;
	border-left-color: #188687;
	color: #FFFFFF;
}

td.trans-td-content-color-turquoise {
	background-color: #FFFFFF;
	color: #666666;
}

td.trans-td-content-color-turquoise p {
	font-size: 0.7em;
}

td.trans-td-content-color-turquoise ul {
	list-style-image:
		url('bullet_turquoise_arrow.gif')
		;
	padding-left: 0;
	margin-left: 1em;
	margin-top: 0;
	margin-bottom: 0;
}

td.trans-td-content-color-turquoise ul li {
	margin-top: 0.2em;
	margin-bottom: 0;
}

td.trans-td-content-color-turquoise a {
	background-color: #FFFFFF;
	color: #666666;
}

/*********************   color dark-blue with blue background  ******************************************/
table.trans-table-color-dark-blue-blueback {
	border-color: #3a719a;
	background-color: #f8f8f8;
	color: #000000;
}

div.box-trans-round-corner-dark-blue-blueback {
	border-color: #3a719a;
	background-color: #3a719a;
}

div.box-trans-round-dark-blue-blueback {
	border-color: #3a719a;
}

td.trans-td-title-color-dark-blue-blueback {
	background-color: #498dc0;
	border-left-color: #3a719a;
	color: #FFFFFF;
}

td.trans-td-content-color-dark-blue-blueback {
	background-color: #f8f8f8;
	color: #000000;
}

ul.box-color-dark-blue-blueback-transverse-content-bullet {
	list-style-image:
		url('bullet_carret.gif');
	margin-top: 0.5em;
	font-size: 0.7em;
	margin-bottom: 0em;
}

ul.box-color-dark-blue-blueback-transverse-content-bullet li {
	margin-top: 0.2em;
	margin-bottom: 0;
	margin-left: -1.5em;
}

td.trans-td-content-color-dark-blue-blueback select {
	vertical-align: middle;
	border: 1px solid #8caec3;
	margin: -0.1em;
}

td.trans-td-content-color-dark-blue-blueback select option {
	font-size: 0.7em;
}

td.trans-td-content-color-dark-blue-blueback p {
	color: #498dc0;
	background-color: #f8f8f8;
	font-weight: bold;
}

ul.box-color-dark-blue-blueback-transverse-content-arrows {
	list-style-image:
		url('bullet_middle_blue_arrow.gif')
		;
	margin-top: 0.5em;
	margin-bottom: 0em;
}

ul.box-color-dark-blue-blueback-transverse-content-arrows li {
	margin-top: 0.2em;
	margin-bottom: 0;
	margin-left: -1.5em;
}

td.trans-td-content-color-dark-blue-blueback a {
	background-color: #f8f8f8;
	color: #000000;
}

/*********************   special crise   ******************************************/
table.trans-table-crise-color-red {
	border-color: #C40015;
}

table.trans-table-crise-color-dark-blue {
	border-color: #29326B;
}

table.trans-table-crise-color-blue {
	border-color: #416E97;
}

table.trans-table-crise-color-green {
	border-color: #7ca008;
}

td.trans-td-title-color-red {
	background-color: #F50019;
	border-left-color: #C40015;
	color: #FFFFFF;
}

td.trans-td-date-lowercase {
	text-align: left;
	position: relative;
	padding-left: 20px;
	padding-bottom: 10px;
	color: #384390;
	background-color: white;
	font-size: 0.7em;
}

td.trans-td-crise-subtitle-red {
	text-align: left;
	margin-left: 0.5em;
}

td.trans-td-crise-subtitle-red a {
	font-weight: bold;
	color: #F50019;
	background-color: #FFFFFF;
	margin: 0;
}

td.trans-td-crise-subtitle-dark-blue {
	text-align: left;
	margin-left: 0.5em;
}

td.trans-td-crise-subtitle-dark-blue a {
	font-weight: bold;
	color: #37438f;
	background-color: #FFFFFF;
	margin: 0;
}

td.trans-td-crise-subtitle-blue {
	text-align: left;
	margin-left: 0.5em;
}

td.trans-td-crise-subtitle-blue a {
	font-weight: bold;
	color: #458DC8;
	background-color: #FFFFFF;
	margin: 0;
}

td.trans-td-crise-subtitle-green {
	text-align: left;
	margin-left: 0.5em;
}

td.trans-td-crise-subtitle-green a {
	font-weight: bold;
	color: #7ca008;
	background-color: #FFFFFF;
	margin: 0;
}

td.trans-td-crise-content {
	text-align: left;
	background-color: #FFFFFF;
	color: #000000;
}

div.box-color-red-transverse-content {
	background-color: #FFFFFF;
	color: #000000;
}

div.box_crise_left_col_box {
	float: left;
	overflow: hidden;
	width: 57%;
	margin-right: 1em;
}

div.box_crise_right_col_box {
	border: 1px solid #498DC0;
	padding: 5px 5px 20px 5px;
}

div.polaroid {
	float: right;
	text-align: right;
	border-right: 2px solid #D0D0D0;
	border-bottom: 2px solid #D0D0D0;
}

div.box_crise_bottom {
	margin-right: 1em;
}

div.box-trans-round-red {
	border-color: #C40015;
}

div.box-trans-round-corner-red {
	border-color: #C40015;
	background-color: #C40015;
	color: #000000;
}

/*********************   special voyage  ******************************************/
div.box-transverse-voyage {
	border: none;
	margin-bottom: 0.5em;
}

div.box-transverse-voyage img {
	width: 100%;
}

div.box-transverse-voyage a {
	color: #2B758E;
	background-color: #FFFFFF;
}

/*********************   formulaire demande de document  ******************************************/
div.form_ask_publi_area {
	border: none;
	color: #000000;
	background-color: #EBF4FB;
	padding: 1em;
}

div.form_ask_publi_area form {
	color: #000000;
	background-color: #EBF4FB;
}

div.publi_name {
	float: left;
	width: 60%;
	color: #000000;
	background-color: #EBF4FB;
}

div.publi_lang {
	float: left;
	width: 28%;
	color: #000000;
	background-color: #EBF4FB;
}

div.publi_check {
	float: left;
	width: 5%;
	color: #000000;
	background-color: #EBF4FB;
}

div.user_name {
	float: left;
	width: 50%;
	color: #000000;
	background-color: #EBF4FB;
}

div.user_firstname {
	float: left;
	width: 40%;
	color: #000000;
	background-color: #EBF4FB;
}

div.user_zipcode {
	float: left;
	width: 34%;
	color: #000000;
	background-color: #EBF4FB;
}

div.user_city {
	float: left;
	width: 30%;
	color: #000000;
	background-color: #EBF4FB;
}

div.user_longinfos {
	float: left;
	width: 100%;
	color: #000000;
	background-color: #EBF4FB;
	padding: 0;
	margin: 0;
}

div.user_comments {
	width: 100%;
	color: #000000;
	background-color: #EBF4FB;
}

p.form_ask_publi_button {
	text-align: center;
	color: #000000;
	background-color: #EBF4FB;
}

p.form_ask_publi_button button {
	border: none;
	color: #000000;
	background-color: #EBF4FB;
	margin: 0;
	padding: 0;

}

p.form_ask_publi_button input {
	border:medium none;
	color: #000000;
	background-color: #EBF4FB;
	margin: 0;
	padding: 0;
	background: #EBF4FB none repeat scroll 0 0;
	text-color: #EBF4FB;
}

select.select_profile {
	width: 16em;
	color: #666666;
	background-color: #FFFFFF;
	font-size: 0.9em;
}

input.ask_publi {
	color: #666666;
	background-color: #FFFFFF;
	font-size: 0.9em;
}

select.select_lang_publi {
	color: #666666;
	background-color: #FFFFFF;
	font-size: 0.9em;
}

select.select_num_publi {
	color: #666666;
	background-color: #FFFFFF;
	font-size: 0.9em;
}

p.publi_selection {
	height: 2.5em;
}

/*********************   formulaire demande de contact  ******************************************/
div.form_ask_contact_area {
	border: none;
	color: #000000;
	background-color: #EBF4FB;
	padding: 2em;
	width: 60%;
}

div.ask_contact_fields p {
	padding-bottom: 0.5em;
}

div.ask_contact_fields input {
	margin-top: 0.5em;
}

div.ask_contact_fields select {
	margin-top: 0.5em;
}

div.ask_contact_fields textarea {
	margin-top: 0.5em;
}

p.form_ask_contact_button {
	text-align: right;
	color: #000000;
	background-color: #EBF4FB;
}

p.form_ask_contact_button button {
	border: none;
	color: #000000;
	background-color: #EBF4FB;
	margin: 0;
	padding: 0;
}

/*********************   resultat recherche ******************************************/
div.search_results {
	border: none;
	color: #000000;
	background-color: #EBF4FB;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 0.5em;
	padding-right: 0.3em;
	margin-bottom: 2em;
}

/*********************   panier d'impresion ******************************************/
div.form_basket_print {
	border: none;
	color: #000000;
	background-color: #FFFFFF;
}

div.form_basket_print_top {
	border: none;
	color: #000000;
	background-color: #FFFFFF;
}

div.form_basket_print_bottom {
	border: none;
	color: #000000;
	background-color: #FFFFFF;
	border-right: 1px solid #7c7c7c;
	border-bottom: 1px solid #7c7c7c;
}

span.basket_print_left {
	width: 91.5%;
	float: left;
	height: 2em;
	padding-top: 0.3em;
	padding-left: 1.5em;
	background-image:
		url('bullet_carret.gif');
	background-repeat: no-repeat;
	background-position: 0.5em 0.7em;
	font-size: 0.7em;
}

span.basket_print_right {
	width: 5%;
	float: left;
	height: 2em;
	padding-top: 0.3em;
	font-size: 0.7em;
}

div.basket_print_odd1{
	color:#000000;
	background-color: #EBF4FB;
}

div.basket_print_odd1 span{
	color:#000000;
	background-color: #EBF4FB;
}

div.basket_print_odd {
	color: #000000;
	background-color:  #FFFFFF; 
	margin:0px;
	padding:0px;
}

div.basket_print_odd span {
	color: #000000;
	background-color: #FFFFFF;
	width: 91.5%;
	float: left;
	padding-top: 0.3em;
	padding-left: 1.5em;
	font-size: 0.7em;
}

div.basket_print_odd span input{
	width:400px;
	font-size: 1.0em;
	color: #666666;
	border:1px solid;
}

div.basket_print_odd span a{
	font-size:1.0em;
	color:black;
}

div.basket_print_odd span img{
	vertical-align:middle;
	
}

div.basket_print_even {
	color: #000000;
	background-color: #FFFFFF;
}

div.basket_print_even span {
	color: #000000;
	background-color: #FFFFFF;
}

p.form_basket_print_button {
	text-align: right;
}

p.form_basket_print_button button {
	border: none;
	color: #000000;
	background-color: #FFFFFF;
	text-align: right;
	margin: 0;
	padding-right: 0.5em;
}

td.slim-left-td {
	padding-left: 0px;
	margin-left: 0px;
}

td.slim-right-td {
	padding-right: 0px;
	margin-right: 0px;
}

/**************************************************************************************
                              Transverse Finance  
***************************************************************************************/
div.homepage_body_right_col a {
    text-decoration:none;
    color: #000000;
}

div.homepage_body_right_col a:hover {
    text-decoration:underline;
}

table.finance-shape {
	border-left: 1px solid;
	border-right: 1px solid;
	width: 99.8%;
	border-bottom: 0px solid;
	border-top: 0px solid;
}

table.finance-shape-color {
	border-color: #3a719a;
}

/** finance title start **/
td.finance-title-shape {
	font-stretch: condensed;
	font-weight: bold;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	border-left: 10px solid;
	padding-left: 10px;
	padding-right: 10px;
}

td.finance-title-color {
	background-color: #498dc0;
	border-color: #3a719a;
	border-left-color: #3a719a;
	color: #FFFFFF;
}

td.finance-title-shape H2 {
	text-align: left;
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px;
}

/** finance title end **/ /** CONTENT **/
td.finance-content-shape {
	text-align: left;
	padding-top: 0.5em;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
}

td.finance-content-color {
	background-color: #f8f8f8;
	border-right-color: #3a719a;
	color: #000000;
}

/* Iframe start************************/
div.finance-iframe {
	text-align: center;
	padding-bottom: 0.3em;
}

div.finance-iframe p {
	text-align: left;
	color: #498dc0;
	font-weight: bold;
	font-size: 0.8em;
	margin: 0px;
}

div.finance-iframe iframe {
	text-align: center;
	margin: 5px;
	width:146px;
	height:155px;
}

/*Iframe end***************************/


 /*** Article start***/
div.finance-article {
	color: #498dc0;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

div.finance-article h3 {
	color: #498dc0;
	text-align: left;
	font-family: Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	margin: 0px;
	margin-bottom: 5px;
}

div.finance-article h3 a {
	color: #498dc0;
}

div.finance-article-links {
	margin: 0px;
	padding: 0px;
	margin-left: 2px;
	padding-left: 2px;	
}

/*** Article end***/

/** channel start**/

td.table-channel-bullet-area-width {
	width: 15px;
}

div.finance-channel {
	margin: 0px;
	padding: 0px;
	margin-top:0.3em;
	padding-bottom:0.3em;
}
/** channel end**/

/****** fast contact *******/
div.fast-contact-mailto{
	margin-top: 0.5em;
	line-height:0.7em;
}

/**************************************************************************************
                              Transverse BOX 
***************************************************************************************/

div.transverse-links p{
	margin: 0px;
	padding: 0px;
	font-size: 0.8em;
	font-family: Arial, sans-serif;	
	font-weight: bold;
	padding-left:2px;
}
div.transverse-links {
	margin: 0px;
	padding: 0px;
	margin-top:5px;
}


table.transverse-bullet-table-style
{
	font-size: 0.7em;
	font-family: Arial, sans-serif;	
}

table.transverse-bullet-table-style tr
{
	padding-bottom:0.3em;
}

table.transverse-bullet-table-style tr td a
{
	font-size: 1em;
	font-family: Arial, sans-serif;	
}

/*************************************/
/* ACCESSIBILITY AND READ MORE LINKS */
/*************************************/

/*Crisis*/
span.accessibility_span_crise{
	font-weight: bold;
	COLOR: #f50019;
	background-color: #FFFFFF;
	margin: 0;
	font-size: 0.7em;
}

a.read_more_link_crise{
	COLOR: #f50019;
	background-color: #FFFFFF;
	margin: 0;
	font-size: 0.7em;
	text-decoration:none;
}

a.read_more_link_crise:hover{
	COLOR: #f50019;
	background-color: #FFFFFF;
	margin: 0;
	font-size: 0.7em;
	text-decoration:underline;
} 

/*Home Page*/
span.box-hp-center-left-subtitle {
	font-weight: bold;
	color: #7ca008;
	background-color: #FFFFFF;
	margin: 0;
	font-size: 0.7em;
}

span.box-hp-center-right-subtitle{
	font-weight: bold;
	color: #498dc0;
	background-color: #FFFFFF;
	margin: 0;
	font-size: 0.7em;
}

a.read_more_link_hp{
	COLOR: #384390;
	background-color: #FFFFFF;
	margin: 0;
	font-size: 0.7em;
	text-decoration:underline;}

a.read_more_link_hp:hover{
	COLOR: #384390;
	background-color: #FFFFFF;
	margin: 0;
	font-size: 0.7em;
	text-decoration:underline;}
	
/* Finance */

div.finance-article h3 span {
	color: #498dc0;
	font-weight: bold;
	font-size: 0.7em;
}

td.bullet-table-read-more-link{
	vertical-align: center;
	text-align: left;
	margin: 0px;
	margin-bottom:4px;
	padding: 0px;	
	color: #498dc0;
}

td.bullet-table-read-more-link a{
	color: #498dc0;
	margin-bottom:2px;
}

table.finance-bullet-table-style
{
	background-color: #f8f8f8;
	font-size: 0.7em;
	font-family: Arial, sans-serif;	
}

table.finance-bullet-table-style tr td a
{
	font-size: 1em;
	font-family: Arial, sans-serif;	
}

/*LISTE MEDIA*/

span.box-mini-resume-media-left-span{
	font-weight:bold;
	font-size:0.8em;
}

a.read_more_link_liste_media{
	COLOR: #384390;
	background-color: #FFFFFF;
	margin: 0;
	font-size: 0.7em;
	text-decoration:none;
}

a.read_more_link_liste_media:hover{
	COLOR: #384390;
	background-color: #FFFFFF;
	margin: 0;
	font-size: 0.7em;
	text-decoration:underline;
} 


/*LISTE SIMPLE*/

p.box-mini-resume-liste_simple{
	font-weight:bold;
	font-size:0.8em;
}

a.read_more_link_liste_simple{
	COLOR: #384390;
	background-color: #FFFFFF;
	margin: 0;
	font-size: 0.7em;
	text-decoration:none;
}

a.read_more_link_liste_simple:hover{
	COLOR: #384390;
	background-color: #FFFFFF;
	margin: 0;
	font-size: 0.7em;
	text-decoration:underline;
} 

/*SEARCH*/


a.read_more_link_search{
	COLOR: #384390;
	background-color: #FFFFFF;
	margin: 0;
	font-size: 0.7em;
	text-decoration:none;
}

a.read_more_link_search:hover{
	COLOR: #384390;
	background-color: #FFFFFF;
	margin: 0;
	font-size: 0.7em;
	text-decoration:underline;
} 