body{
	margin:0;
}

div.main {
	border: none;
	padding:0;
	margin:0;
    text-align:center;
}

div.main a {
	font-size: 0.7em;
    text-decoration:none;
}

div.main a:hover {
    text-decoration:underline;
}

div.main p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
	font-size: 0.7em;
}

div.main img {
  /* --- DEBUG --- */
  /*border: 1px dashed red;*/
	border: none;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}


div.main div {
	
	font-family: Arial, sans-serif;
}

div.main form  {
  padding: 0em;
  margin: 0em;
  }
  
div.main span {}

.bolded{
font-weight: bold;
}

.redtext{
color: red;
}

.greentext{
color: #7ca008;
}

/*******************  BULLET ALTERNATIVE ********************************/

table.bullet-table {
	margin: 0px;
	padding: 0px;
	border: none;	
	width:100%;
}

td.bullet-table-bullet-area {
	vertical-align: baseline;
	text-align: center;	
	margin: 0px;
	padding: 0px;
}

td.bullet-table-bullet-area2 {
	vertical-align: baseline;
	text-align: left;	
	margin: 0px;
	padding: 0px;
}

td.bullet-table-bullet-area img {
	border: none;	
}

td.bullet-table-text-area {
	vertical-align: center;
	text-align: left;
	margin: 0px;
	padding: 0px;	
}

td.bullet-table-text-area a {			
	text-align: left;			
}

td.bullet-table-text-areas {
	vertical-align: center;
	text-align: left;
	margin: 0px;
	padding-right: 0px;
	padding-left: 6px;	
	padding-top: 3px;	
	margin-left: 0px;	
}
td.bullet-table-text-areas a {		
	text-align: left;		
}

td.table-bullet-area-width {
	width: 15px;
	margin: 0px;
	padding: 0px;
}

td.table-big-bullet-area-width {
	width: 24px;
	margin: 0px;
	padding: 0px;
}

td.table-big-bullet-area-width-home {
	margin: 0px;
	padding-left: 13px;
	background-image:url('bullet_dark_blue_arrow.gif');
	background-repeat: no-repeat;
	background-position: 0px 3px;
	line-height: 1em;
	text-align: left;
	vertical-align: center;
}

td.table-big-bullet-area-width-home a {		
	text-align: left;
	color: black;	
	vertical-align: center;		
}

/*******************  Espace vide ********************************/
span.clear_both {
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
}