/******************************************   shape   ******************************************/
div.box-mini-template {
	border: none;
}

p.center-aligned {
	text-align: center;
}

/******************************************   shape home-actu   ******************************************/
td.box-mini-home-actu-content {
	padding-left: 0.5em;
	vertical-align: top;
}

td.box-mini-home-actu-dotted {
	border-left: 1px dashed #D0D0D0;
	padding-left: 0.5em;
	vertical-align: top;
}

/******************************************   color black   ******************************************/

span.black-text {
	color: #000000;
	background-color: #FFFFFF;
	font-size: 0.7em;
}

span.box-mini-template-black-content-title {
	color: #000000;
	background-color: #FFFFFF;
	font-size: 0.8em;
	font-weight: bold;
}

span.box-mini-template-black-content-title a {
	color: #000000;
	background-color: #FFFFFF;
	font-size: 1em;
	font-weight: bold;
}

ul.box-mini-template-dark-blue-link {
	margin:0px;
	padding:0px;
	margin-top: 0.5em;
	line-height: 0.8em;
	line-height: 0.8em;
	list-style-type: none;
}

ul.box-mini-template-dark-blue-link li {
	margin-bottom: 0em;
	margin: 0;
	padding: 0;
	padding-left: 13px;
	background-image:url('bullet_dark_blue_arrow.gif');
	background-repeat: no-repeat;
	background-position: 0px 4px;
	line-height: 1em;
}

ul.box-mini-template-dark-blue-link li a {
	color: black;
	line-height: 1.2em;
	vertical-align: center;
}

ul.box-mini-template-dark-blue-link li a img {
	vertical-align: middle;
	border: none;
}

/******************************************   color dark-blue   ******************************************/
p.box-mini-template-dark-blue {
	color: #384390;
	background-color: #FFFFFF;
}

p.box-mini-template-dark-blue-bold {
	color: #384390;
	background-color: #FFFFFF;
	font-weight: bold;
}

/******************************************   color gray   ******************************************/
p.box-mini-template-gray {
	color: #666666;
	background-color: #FFFFFF;
}

p.box-mini-template-gray-bold {
	color: #666666;
	background-color: #FFFFFF;
	font-weight: bold;
}

a.box-mini-template-gray {
	color: #666666;
	background-color: #FFFFFF;
}

a.box-mini-template-gray-bold {
	color: #666666;
	background-color: #FFFFFF;
	font-weight: bold;
}

/******************************************   hp-center   ******************************************/
	/*** shape ***/
table.box-hp-center {
	width: 100%;
	border-right: none;
	border-top: none;
	border-bottom: none;
	border-left: 1px solid;
	margin-bottom: 0em;
}

td.box-hp-center-title {
	height: 100%;
	width: 100%;
}

td.box-hp-center-image {
	float: right;
	margin: 0px;
	padding: 0px;
}

td.box-title-content-hp-center {
	height: 100%;
	width: 100%;
	padding-left: 0.5em;
	padding-top: 0px;
	padding-bottom: 0px;
	border-left: 10px solid;
}

td.box-title-content-hp-center H2 {
	font-family: Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-transform: none;
	margin: 0em;
	text-align:left;
}

td.box-hp-content-center {
	text-align: left;
}

div.box-hp-content {
	padding: 0.7em;
}

/*** color ***/
table.box-hp-center-right {
	border-left-color: #7ac5dc;
	background-color: #FFFFFF;
	color: #666666;
}

table.box-hp-center-left {
	border-left-color: #bbd049;
	background-color: #FFFFFF;
	color: #666666;
}

tr.tr-title-content-hp-center-left {
	color: white;
	background-color: #bbd049;
}

tr.tr-title-content-hp-center-right {
	color: white;
	background-color: #7ac5dc;
}

td.box-title-content-hp-center-left {
	color: white;
	background-color: #bbd049;
	border-left-color: #7ca008;
}

td.box-title-content-hp-center-right {
	color: white;
	background-color: #7ac5dc;
	border-left-color: #549fb6;
}

td.box-title-content-hp-center-right h2 {
	color: white;
	background-color: #7ac5dc;
}

td.box-title-content-hp-center-right IMG {
	color: #7ac5dc;
	background-color: #7ac5dc;
}

a.box-hp-center-right-subtitle {
	font-weight: bold;
	color: #498dc0;
	background-color: #FFFFFF;
	margin: 0;
}

a.box-hp-center-left-subtitle {
	font-weight: bold;
	color: #7ca008;
	background-color: #FFFFFF;
	margin: 0;
}

/******************************************   resume   ******************************************/
div.box-mini-resume-dotted {
	border-top: 1px dashed #384390;
	padding-top: 1em;
}

div.box-mini-resume-content {
	border: none;
}

div.box-mini-resume-pictured {
	background-repeat: no-repeat;
	background-position: bottom right;
	padding-right: 140px;
}

div.box-mini-resume-left {
	width: 417px;
	float: left;
}

div.box-mini-resume-right {
	width: 140px;
	float: left;
}

div.box-mini-resume-media-left {
	width: 80%;
	float: left;
	padding-bottom: 15px;
}

div.box-mini-resume-media-right {
	width: 15%;
	float: left;
}

/******************************************   regroupement sous-home   ******************************************/
div.box-regroupement-content-body {
	margin-top: 10px;
	background-repeat: no-repeat;
	background-position: top left;
	height: 40px;
}

div.box-regroupement-content-body p {
	color: #666666;
	background-color: #FFFFFF;
	margin-top: 0px;
}

h3.box-regroupement-content-title {
	font-family: Arial, sans-serif;
	font-size: 1em;
	color: #384390;
	background-color: #FFFFFF;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 0em;
	margin-top: 0.5em;
	padding-bottom: 0em;
	margin-bottom: 0.5em;
	background-image:
		url('puce_regroupement_content_title.GIF')
		;
	background-repeat: no-repeat;
}

h3.box-regroupement-content-title a {
	font-family: Arial, sans-serif;
	font-size: 0.9em;
	color: #384390;
	background-color: #FFFFFF;
	font-weight: bold;
}

div.box-regroupement-content-left {
	width: 40px;
	float: left;
	padding-right: 1em;
}

div.box-regroupement-content-right {
	float: left;
}

table.mini-resume-sub-home-body {
	
}

td.mini-resume-sub-home-ch-img {
	text-align: left;
	margin: 0px;
	padding: 0px
}

td.mini-resume-sub-home-ch-desc {
	text-align: left;
	color: #666666;
	background-color: #FFFFFF;
	font-size: 0.7em;
}



/*ACCESSIBILITE*/

a.box-hp-center-right-subtitle {
	color: #498dc0;
	background-color: #FFFFFF;
	margin: 0;
}

a.box-hp-center-left-subtitle {
	color: #7ca008;
	background-color: #FFFFFF;
	margin: 0;
}

span.box-mini-template-gray_access {
	color: #666666;
	background-color: #FFFFFF;
	font-size:0.7em;
}

span.box-mini-template-gray-bold {
	color: #666666;
	background-color: #FFFFFF;
	font-weight: bold;
}

p.box-mini-template-gray-bold {
	color: #666666;
	background-color: #FFFFFF;
	font-weight: bold;
}

span.box-mini-template-gray {
	color: #666666;
	background-color: #FFFFFF;
}

