/*********************   header  ******************************************/
div.logo {
	text-align: center;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
	width: 100%;
}

div.logo h1 {
	margin-bottom: 0.3em;
	margin-top: 0em;
	padding: 0;
	display: inline;
	width: 95%;
}

SPAN.window_print_close {
	margin: 0;
	padding: 0;
	vertical-align: top;
	text-align: right;
}

/********************************************************************/
div.banner-top {
	position: relative;
	background-color: #37438f;
	color: #ffffff;
	height: 27px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 0px;
}

div.banner-top-link {
	float: left;
	color: #FFFFFF;
	height:18px;
	background-color: #37438f;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom:4px;
	text-transform: uppercase;
	border:none;
	vertical-align: top;	
}

div.banner-top-link a {
	font-weight: bold;
	font-size: 0.8em;
	color: #FFFFFF;
	background-color: #37438f;
	vertical-align: top;
}

div.banner-top-link:hover  {
	background-color: #8badc2;
	color: #000000;
}

div.banner-top-link:hover a {
	background-color: #8badc2;
}

div.banner-top-link-selected {
	float: left;
	color: #FFFFFF;
	background-color: #8badc2;
	height:18px;
	vertical-align: top;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom:4px;	
	text-transform: uppercase;	
	border:none;
}


div.banner-top-link-selected a {	
	font-weight: bold;
	font-size: 0.8em;
	color: #FFFFFF;
	background-color: #8badc2;
	vertical-align: top;
}

div.banner-top-link-selected span {	
	font-weight: bold;
	font-size: 0.8em;
	color: #FFFFFF;
	background-color: #8badc2;
	vertical-align: top;
}

div.banner-top-link-selected:hover a {
	text-decoration:none;
}

div.banner-top-link-selected:hover span {
	text-decoration: underline;
}

div.banner-top-search {	
	float: right;
	color: #FFFFFF;
	background-color: #8dadc2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 10px;
	vertical-align: middle;
}

input.search {
	border: 1px solid #8dadc2;
	color: #666666;
	vertical-align: middle;
}

button.btn-img-search-ok {
	border: none;
	color: #FFFFFF;
	background: #8dadc2;
	margin: 0;
	padding: 0;
}

button.btn-img {
	border: none;
	color: #FFFFFF;
	background: #FFFFFF;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

/********************************************************************/
div.banner-top-actions {
	height: 19px;
	text-align: right;
	border-bottom: solid #8dadc2 1px;
	vertical-align: bottom;
}

div.banner-top-actions-block-right {
	color: #37438f;
	background-color: #FFFFFF;
	padding-left: 5px;
	padding-right: 5px;
	float: right;
}

div.banner-top-actions-entry {
	color: #37438f;
	background-color: #FFFFFF;
	border-left: solid #8dadc2 1px;
	padding-left: 5px;
	padding-right: 5px;
	float: left;
	height: 19px;
}

div.banner-top-actions-entry-left {
	padding-left: 5px;
	padding-right: 5px;
	float: left;
}

div.banner-top-actions a {
	border: none;
	padding: 0;
	margin: 0;
	font-size: 0.6em;
	color: #37438f;
	background-color: #FFFFFF;
	font-family: Arial, sans-serif;
}

span.banner-top-actions-print {
	border: none;
	padding: 0;
	margin: 0;
	font-size: 0.6em;
	color: #37438f;
	background-color: #FFFFFF;
	font-family: Arial, sans-serif;
}

div.banner-top-actions-entry a img {
	border: none;
	padding: 0;
	margin: 0;
}

/*********************   footer  ******************************************/
div.panel-bottom {
	border-top: solid #8dadc2 1px;
}

div.panel-bottom-left-links {
	padding-top: 5px;
	float: left;
	color: #2B758E;
	background-color: #FFFFFF;
}

div.panel-bottom-left-links a {
	color: #2B758E;
	background-color: #FFFFFF;
}

div.panel-bottom-right-links {
	padding-top: 5px;
	float: right;
}

div.panel-bottom-right-link {
	float: left;
	vertical-align:top;
}

div.panel-bottom-right-link a {
	color: #000000;
	background-color: #FFFFFF;
	vertical-align:top;
}

ul.bottom-right-link {
	list-style-image:
		url('bullet_light_blue_arrow.gif.1')
		;
	padding-left: 0;
	margin-left: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align:top;
}

a.footer-flash-button {
	vertical-align: 0.6em;
}

/*********************   menu  ******************************************/
div.box-menu {
	padding-bottom: 5px;
	margin-bottom: 5px;
}

ul.menu-title {
	width: 100%;
	margin: 0px;
	padding: 0px;	
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	color: #ffffff;
	background-color: #37438f;
	list-style-type: none;
	border-left: 10px solid #29326B;
}

ul.menu-title li {
	line-height: 1.4em;
	margin: 0px;
	padding: 0px;
	padding-left: 10px;
	text-transform: uppercase;
	padding-bottom: 3px;
	padding-top: 3px;
}

ul.menu-title li a {	
	background-color: #37438f;
	color: #ffffff;
	font-size: 1.0em;
	font-weight: bold;
}

ul.menu {
	width: 100%;
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #ffffff;
	background-color: #8badc2;
	list-style-type: none;
}

ul.menu li.menu-off {
	line-height: 1em;
	padding-left: 20px;
	padding-bottom: 3px;
	border-top: 1px solid #d2dee4;
	background:
		url('menu_puce_level1_off.gif')
		no-repeat 6px 7px;
}

ul.menu li.menu-off a {
	line-height: 1em;
	color: #FFFFFF;
	background-color: #8badc2;
}

ul.menu li.menu-on {	
	line-height: 1em;
	padding-left: 20px;	
	padding-bottom: 3px;
	border-top: 1px solid #d2dee4;
	background:
		url('menu_puce_level1_on.gif')
		no-repeat 4px 9px;
}

ul.menu li.menu-on a {
	line-height: 1em;
	color: #FFFFFF;
}

ul.menu li.menu-on span {
	line-height: 1em;
	color: #FFFFFF;
	font-size:0.7em;
}

ul.menu li.menu-on:hover span {
	text-decoration: underline;
}

ul.menu li.menu-hidden {
	display: none;
}

ul.menu ul {
	padding: 0;
	margin: 0px 0px 0px -20px;
	list-style-type: none;
	font-weight: normal;
	color: #000000;
	background-color: #ffffff;
}

ul.menu ul li.menu-on {	
	background: none;
	background-color: #d2dee4;
	font-weight: bold;
	color: #000000;
	border-right: 1px solid #d2dee4;
	border-left: 1px solid #d2dee4;
	border-top: none;
	border-bottom: none;
	line-height: 14px;
}

ul.menu ul li.menu-on a {
	color: #666666;
	background-color: #d2dee4;
	line-height: 1.2em;
}

ul.menu ul li.menu-on span {
	color: #666666;
	background-color: #d2dee4;
	line-height: 1.2em;
	font-size:0.7em;
}

ul.menu ul li.menu-on:hover span {
	text-decoration: underline;
}

ul.menu ul li.menu-off {

	background: none;
	background-color: #FFFFFF;
	color: #000000;
	border-right: 1px solid #d2dee4;
	border-left: 1px solid #d2dee4;
	border-top: none;
	border-bottom: none;
	line-height: 14px;
}

ul.menu ul li.menu-off a {
	color: #666666;
	background-color: #FFFFFF;
	line-height: 1.2em;
}

/*********************   breadcrums  ******************************************/
div.box-breadcrums {
	padding-top: 0em;
	padding-bottom: 0.3em;
	padding-left: 0em;
	padding-right: 0em;
	color: #384390;   /**KFR:E282:Contraste du fil ariane #498DC0 ***/
	background-color: #FFFFFF;
	text-align: left;
	overflow: hidden;
	margin: 0em;
}

a.breadcrums-link {
	color: #384390;   /**KFR:E282:Contraste du fil ariane #498DC0 ***/
	background-color: #FFFFFF;
	text-decoration: underline;
}

a.breadcrums-link:hover {
	color: #384390;   /**KFR:E282:Contraste du fil ariane #498DC0 ***/
	background-color: #FFFFFF;
	text-decoration: underline;
}

a.breadcrums-link-selected {
	color: #384390;   /**KFR:E282:Contraste du fil ariane #498DC0 ***/
	background-color: #FFFFFF;
}

a.breadcrums-link-selected:hover {
	color: #384390;   /**KFR:E282:Contraste du fil ariane #498DC0 ***/
	background-color: #FFFFFF;
}

/*********************   plan site  ******************************************/
div.col_site_map {
	width: 31.9%;
	float: left;
}

div.void_col_site_map {
	width: 2%;
	float: left;
}

table.box-map-rubrique {
	border: none;
	width: 100%;
}

table.box-map-rubrique td {
	border: none;
}

td.box-map-rubrique-title {
	background-color: #8caec3;
	border-color: #8caec3;
}

td.box-map-rubrique-chevron {
	text-align: right;
	background-color: #8caec3;
	border-color: #8caec3;
}

td.box-map-rubrique-title H2 {
	background-color: #8caec3;
	color: #FFFFFF;
}

td.box-map-rubrique-title H2 a {
	background-color: #8caec3;
	color: #FFFFFF;
}

td.box-map-rubrique-content {
	color: #FFFFFF;
	background-color: #EBF4FB;
	padding-bottom: 2em;
}

td.box-map-rubrique-content ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a.box-map-rubrique-level0 {
	font-size: 0.9em;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #8caec3;
}

li.box-map-rubrique-level1 {
	padding-left: 0;
	padding-top: 0.5em;
	padding-bottom: 0.1em;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

li.box-map-rubrique-level1 a {
	font-size: 0.8em;
	color: #498dc0;
	background-color: #EBF4FB;
	font-weight: bold;
}

li.box-map-rubrique-level2 {
	padding-left: 1em;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

li.box-map-rubrique-level2 a {
	color: #000000;
	background-color: #EBF4FB;
}

br.inter-map-table {
	font-size: 0.5em;
}
/*********************   menu vignette  ******************************************/
