div.box-homepage-center-top-content{
	padding-bottom:0em;
	border-bottom: none;
	color: #384390;
	background-color: white;
	margin-bottom: 0em;
	width:99.9%;
padding-top:0;
margin-top:0;
}

div.box-homepage-center-top-title { 
  height: 100%;

  color: white;
  background-color: #384390;
  padding-left: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-left: 0.8em solid #2d3673;
}

div.box-homepage-center-top-title h2{ 
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
  color: white;
  background-color: #384390;
	margin:0em;
}

div.box-homepage-center-top-subtitle {
	padding-top: 0em;
    padding-bottom: 0em;
	padding-left: 0; 
	padding-right: 0;
	position: relative; 
	left: 30px;  
	color: #384390;
  background-color: white;
  width:80%;
}

hr.box-homepage-center-separator{
	color: #8caec3;
	background-color: #8caec3;
	height: 1px;
	border: 0;
}