div.box-dossier-navigation {
	border-left: none; 
	border-right: none; 
	border-top: none; 
	margin-bottom: 2em;
}

div.box-dossier-navigation span{
	border-bottom: solid 1px #7C7C7C;
	padding-bottom: 0.3em;
	line-height: 1.5em;
}

a.box-dossier-navigation-link {
	color: #000000;
	background-color: #FFFFFF;
	white-space:nowrap;
}

a.box-dossier-navigation-link:hover {
	color: #000000;
	background-color: #FFFFFF;
	white-space:nowrap;
}

a.box-dossier-navigation-link-selected {
	color: #384390;
	background-color: #FFFFFF;
	font-weight: bold;
	white-space:nowrap;
}

font.box-dossier-navigation-link-selected {
	border-bottom: none;
	color: #384390;
	background-color: #FFFFFF;
	font-weight: bold;
	white-space:nowrap;
	font-size: 0.7em;
	padding-bottom: 0em;
	line-height: 1em;
}


div.box-multi-dossier {
	border: none;
}

div.box-multi-dossier-top {
	border: none;
}

div.box-multi-dossier-top-title {
	font-family: Arial, sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	text-transform: uppercase;
	color: #384390;
	background-color: #FFFFFF;
	border-left: none; 
	border-right: none; 
	border-top: none; 
	border-bottom: solid 1px #7C7C7C;
	margin-bottom: 1.5em;
	padding-bottom: 1em;
}

div.box-multi-dossier-col {
	border: none;
	clear: both;
}

div.box-multi-dossier-left {
	width:50%;
	float: left;
	border: none; 
}

div.box-multi-dossier-right {
	width:50%;
	float: right;
}

div.box-multi-dossier-col-folder {
	margin-top: 20px;
}

p.box-multi-dossier-col-folder-title {
	font-weight: bold;
	color: #384390;
	background-color: #FFFFFF;
	margin-bottom: 1em;
	font-size: 0.8em;
}

div.box-multi-dossier-col-content {
}

ul.box-multi-dossier-col-content-links {
	list-style-image: url('http://www.carrefour.com/docroot/CDC-Contents/files/pictures/bullet_dark_blue_arrow.gif');
	padding-left: 10px;
	margin-left: 10px;
}


p.box-multi-dossier-col-content-description{
    color: #7C7C7C;
	background-color: #FFFFFF;
	margin-bottom: 0em;
	margin-top: 0em;
}

p.box-multi-dossier-col-content-pays{
	font-weight: bold;
	margin-bottom: 0em;
	margin-top: 0em;
}


p.box-multi-dossier-top-description {
}

