/* Digest
------------------------------
    1. General
    2. Content
    	2.1 Images
    	2.2 Links
    	2.3 Tables
    3. Things to hide

*/

/* @page {
	size: portrait; landscape
} */

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 1. General <<<-----------*/
/* ----------------------------------------------------------*/

body { 
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	line-height: 1.4;
	word-spacing: 1.1pt;
	letter-spacing: 0.2pt;
	font-family: Garamond, 'Times New Roman', serif;
	color: #2a2a2a;
	background: none;
	font-size: 12pt;
}

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 2. Content <<<-----------*/
/* ----------------------------------------------------------*/

h1,h2,h3,h4,h5,h6 {
	color: black;
	font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
}

h1{font-size:19pt;}
h2{font-size:17pt;}
h3{font-size:15pt;}
h4,h5,h6{font-size:12pt;}

code, pre { font: 10pt 'Courier New', Courier, monospace;}
acronym, abbr {border: none;} 
blockquote, q {
	font-style: italic;
	quotes:'\0000ab\0000a0' '\0000a0\0000bb' '\00201c\0000a0' '\0000a0\00201d';
}

hr { background-color: #ccc; }

acronym:after, abbr:after {
	content:" ("attr(title)") ";
	font-variant:small-caps;
}

p {
	color: #2a2a2a;
	line-height: 1.5em;
	text-align: justify;
	margin-bottom: 1em
}
p + p {text-indent: 2.5em}
p:first-line {font-weight: 800}
p + p:first-line {font-weight: 400}

  /* -------------------------------------------------------------------------------------------------->>> 2.1 Images <<<-----------*/
 
a img {border: none;}

  /* -------------------------------------------------------------------------------------------------->>> 2.2 Links <<<-----------*/

a:link, a:visited { background: transparent; font-weight: 700; text-decoration: underline; color: #333; }
a:link[href^="http://"]:after, a[href^="http://"]:visited:after { content: " (" attr(href) ") "; font-size: 90%; }
a[href^="http://"] {color: black; }

  /* -------------------------------------------------------------------------------------------------->>> 2.3 Tables <<<-----------*/

table { margin: 1px; text-align:left; }
th { border-bottom: 1px solid #333;  font-weight: 900; }
td { border-bottom: 1px solid #333; }
th,td { padding: 4px 10px 4px 0; }
tfoot { font-style: italic; }
caption { background: white; margin-bottom:2em; text-align:left; }
thead {display: table-header-group;}
tr {page-break-inside: avoid;}

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 3. Things to hide <<<-----------*/
/* ----------------------------------------------------------*/

#acces_rapide, #compas, #recherche, #menu, #footer {
	display: none;
}