body {
    font-size: 12px;
    text-align: left;
    color: #000000;
}
.quicklinkleft,
.tab,
#header,
#navigation,
.splash0,
.splash1,
.splash2,
#footer {
    display:none;
}
#content {
    width: 19cm;
    float: left;
}
#content .full,
#content .leftcol,
#content .rightcol {
    padding:0;
    margin:0;
    width: 19cm;
    display:block;
}
#pagetitle {
    display:block;
}
h1 {
    font-size:18px;
}
