


*html #competition {
	height:9.35em;
}

*html #property {
	height:9em;
}

*html #classifieds {
	height:9.7em;
}
*html #classifieds ul {
	margin:0px 0px 0px 15px;
}

*html #front-page-frontpage,
*html #front-page-breaking,
*html #front-page-pick {
	height:4.5em;
	overflow:visible;
}

*html #reports {
	padding:2px 0px 2px 8px;
	height:4em;
	overflow:visible;
}
*html #reports ul.reports {
	margin:2px 0px 10px 2px;
	padding:0px 0px 0px 0px;
	list-style-position:inside;
	list-style-image:url(chevron16.gif);
}
*html #reports h3.also {
	padding-left:2px;
	color:#666;
}

*html .special-heading {
	padding:5px 0px 0px 0px;
}

*html #related-topic-box {
	padding:2px 0px 5px 8px;
	height:4em;
	overflow:visible;
}
*html #related-topic-box ul.topic {
	margin:2px 0px 10px 0px;
	padding:0px 0px 0px 0px;
	list-style-position:inside;
	list-style-image:url(chevron16.gif);
}
*html #related-topic-box ul.left {
	float:left;
	width:160px;
}
*html #related-topic-box ul.right {
	float:right;
	width:180px;
}
