p {
	margin:0px 0px 12px 0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.2em;
	line-height:1.2em;
}
p.no-margin {
	margin:0px 0px 0px 0px;
}
.p-style-in-ol {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.0em;
	line-height:1.2em;
}
.small {
	margin:0px;
	padding:0px;
	font-size:1.1em;
	line-height:1.2em;
}
.x-small {
	margin:0px;
	padding:0px;
	font-size:1.0em;
	line-height:1.15em;
}

.x-smaller {
	font-size:0.9em;
	line-height:1.1em;
}

a, a:visited {
	text-decoration:none;
}
a:hover, a:active {
	text-decoration:underline;
}

a.primary-link, a.primary-link:visited {
	padding:9px 8px 9px 8px;
	color:#333;
	background:#d9d9d9 url(primary-nav-pipe.gif) no-repeat right;
	font-family:Georgia, Times New Roman, Times, serif;
	font-weight:bold;
	font-size:1.0em;
	line-height:1.1em;
	text-transform:uppercase;
	text-decoration:none;
	display:block;
	float:left;
	white-space:nowrap;
}
a.primary-link:hover, a.primary-link:active {
	background:#999;
	color:#fff;
	text-decoration:underline;
}
a.primary-link-no-pipe, a.primary-link-no-pipe:visited {
	padding:9px 8px 9px 8px;
	color:#333;
	background:#d9d9d9;
	font-family:Georgia, Times New Roman, Times, serif;
	font-weight:bold;
	font-size:1.0em;
	line-height:1.1em;
	text-transform:uppercase;
	text-decoration:none;
	display:block;
	float:left;
	white-space:nowrap;
}
a.primary-link-no-pipe:hover, a.primary-link-no-pipe:active {
	color:#fff;
	background:#999;
	text-decoration:underline;
}
a.primary-selected, a.primary-selected:visited, a.primary-selected:hover, a.primary-selected:active {
	padding:9px 8px 9px 8px;
	color:#cf0;
	background:#666;
	font-family:Georgia, Times New Roman, Times, serif;
	font-weight:bold;
	font-size:1.0em;
	line-height:1.1em;
	text-transform:uppercase;
	text-decoration:none;	
	display:block;
	float:left;
	white-space:nowrap;
}
a.primary-special, a.primary-special:visited {
	margin-top:4px;
	padding:5px 8px;
	color:#fff;
	background:#d9d9d9 url(primary-special-bg.gif) repeat-x top left;
	font-family:Georgia, Times New Roman, Times, serif;
	font-weight:bold;
	font-size:1.0em;
	line-height:1.1em;
	text-transform:uppercase;
	text-decoration:none;
	display:block;
	float:left;
	white-space:nowrap;
}
a.primary-special:hover, a.primary-special:active {
	text-decoration:underline;
}

a.primary-link-right, a.primary-link-right:visited {
	padding:9px 7px 9px 7px;
	color:#333;
	background:#d9d9d9 url(primary-nav-pipe.gif) no-repeat right;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:1.0em;
	line-height:1.1em;
	text-transform:uppercase;
	text-decoration:none;
	display:block;
	float:left;
	white-space:nowrap;
}
a.primary-link-right:hover, a.primary-link-right:active {
	background:#999;
	color:#fff;
	text-decoration:underline;
}
a.primary-link-right-selected, a.primary-link-right-selected:visited, a.primary-link-right-selected:hover, a.primary-link-right-selected:active {
	padding:9px 7px 9px 7px;
	color:#cf0;
	background:#666;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:1.0em;
	line-height:1.1em;
	text-transform:uppercase;
	text-decoration:none;
	display:block;
	float:left;
	white-space:nowrap;
}
a.primary-link-right-no-pipe, a.primary-link-right-no-pipe:visited {
	padding:9px 7px 9px 7px;
	color:#333;
	background:#d9d9d9;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:1.0em;
	line-height:1.1em;
	text-transform:uppercase;
	text-decoration:none;
	display:block;
	float:left;
	white-space:nowrap;
}
a.primary-link-right-no-pipe:hover, a.primary-link-right-no-pipe:active {
	background:#999;
	color:#fff;
	text-decoration:underline;
}

a.archive-primary-link-right-no-pipe, a.archive-primary-link-right-no-pipe:visited {
	padding:9px 7px 9px 7px;
	color:#333;
	background:#d9d9d9;
	font-weight:bold;
	font-size:1.0em;
	line-height:1.1em;
	text-transform:normal;
	text-decoration:none;
	display:block;
	float:left;
	white-space:nowrap;
}
a.archive-primary-link-right-no-pipe:hover, a.archive-primary-link-right-no-pipe:active {
	background:#999;
	color:#fff;
	text-decoration:underline;
}
.font-georgia {
	font-family:Georgia, 'Times New Roman', Times, serif;
	line-height:1.5em;
}

.font-georgia-noline-height {
	font-family:Georgia, 'Times New Roman', Times, serif;	
}
.font-arial {
	font-family:Arial, Helvetica, sans-serif;
}
.font-size-12{
	font-size:1.07em;
	}



a.secondary-selected, a.secondary-selected:visited {
	color:#cf0;
	padding:8px 9px 8px 9px;
	font-size:1.0em;
	line-height:1.1em;
	text-decoration:none;
	text-transform:uppercase;
	background:#666 url(primary-nav-pipe.gif) no-repeat right;
	letter-spacing:0.05em;
	display:block;
	float:left;
	white-space:nowrap;
}
a.secondary-selected:hover, a.secondary-selected:active {
	text-decoration:underline;	
}
a.secondary-selected-no-pipe, a.secondary-selected-no-pipe:visited {
	color:#cf0;
	padding:8px 9px 8px 9px;
	font-size:1.0em;
	line-height:1.1em;
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:0.05em;
	display:block;
	float:left;
	white-space:nowrap;
}
a.secondary-selected-no-pipe:hover, a.secondary-selected-no-pipe:active {
	text-decoration:underline;	
}
a.secondary-link, a.secondary-link:visited {
	color:#fff;
	padding:8px 9px 8px 9px;
	font-size:1.0em;
	line-height:1.1em;
	text-transform:uppercase;
	text-decoration:none;
	background:#666 url(primary-nav-pipe.gif) no-repeat right;
	letter-spacing:0.05em;
	display:block;
	float:left;	
	white-space:nowrap;
}
a.secondary-link:hover, a.secondary-link:active {
	text-decoration:underline;	
}
a.secondary-link-no-pipe, a.secondary-link-no-pipe:visited {
	background:#666;
	color:#fff;
	padding:8px 9px 8px 9px;
	font-size:1.0em;
	line-height:1.1em;
	text-transform:uppercase;
	text-decoration:none;
	letter-spacing:0.05em;
	display:block;
	float:left;
	white-space:nowrap;
}
a.secondary-link-no-pipe:hover, a.secondary-link-no-pipe:active {
	text-decoration:underline;	
}

a.ticker, a.ticker:visited {
	color:#666;
	font-family:Georgia, Times New Roman, Times, serif;
	font-size:1.1em;
	line-height:1.25em;
	text-decoration:none;
}
a.ticker:hover, a.ticker:active {
	color:#06c;
	text-decoration:underline;
}

a.crumbtrail, a.crumbtrail:visited {
	color:#666;
	padding:0px 10px;
	font-size:1.1em;
	line-height:1.2em;
	float:left;
	display:inline;
	text-decoration:none;
	background:transparent url(chevron-small-links.gif) no-repeat left;
	white-space:nowrap;
}
a.crumbtrail-no-image, a.crumbtrail-no-image:visited {
	color:#666;
	padding:0px 10px;
	font-size:1.1em;
	line-height:1.2em;
	float:left;
	display:inline;
	text-decoration:none;
	white-space:nowrap;
}

a.crumbtrail:hover, a.crumbtrail:active, a.crumbtrail-no-image:hover, a.crumbtrail-no-image:active {
	color:#06c;
	text-decoration:underline;
}
a.crumbtrail-selected, a.crumbtrail-selected:visited {
	color:#333;
	padding:0px 10px;
	font-size:1.1em;
	font-weight:bold;
	line-height:1.2em;
	float:left;
	display:inline;
	text-decoration:none;
	background:transparent url(chevron-small-links.gif) no-repeat left;
	white-space:nowrap;
}
a.crumbtrail-selected:hover, a.crumbtrail-selected:active {
	color:#06c;
	text-decoration:underline;
}

a.reg, a.reg:visited {
	font-size:1.1em;
	line-height:1.1em;
	text-decoration:none;
	color:#06c;
}
a.reg:hover, a.reg:active {
	text-decoration:underline;
}
a.reg-666, a.reg-666:visited {
	font-size:1.1em;
	line-height:1.1em;
	text-decoration:none;
	color:#666;
}
a.reg-666:hover, a.reg-666:active {
	color:#06c;
	text-decoration:underline;
}
a.reg-bold, a.reg-bold:visited {
	font-size:1.1em;
	line-height:1.1em;
	text-decoration:none;
	color:#06c;
	font-weight:bold;
}
a.reg-bold:hover, a.reg-bold:active {
	text-decoration:underline;
}
a.link-666, a.link-666:visited {
	text-decoration:none;
	color:#666;
}
a.link-999, a.link-999:visited {
	text-decoration:none;
	color:#999;
}
a.link-333, a.link-333:visited {
	text-decoration:none;
	color:#333;
}
a.link-fff, a.link-fff:visited {
	text-decoration:none;
	color:#fff;
}
a.link-06c, a.link-06c:visited {
	text-decoration:none;
	color:#06c;
}
.link-fff-selected{
	COLOR: #cf0
}
a.link-666:hover, a.link-666:active, a.link-333:hover, a.link-333:active, a.link-06c:hover, a.link-06c:active, a.link-999:hover, a.link-999:active {
	color:#06c;
	text-decoration:underline;
}
a.link-fff:hover, a.link-fff:active {
	text-decoration:underline;
}
a.link-666-no-underline:hover, a.link-666-no-underline:active {
	color:#06c;
	text-decoration:none;
}
a.link-666-no-underline:hover span, a.link-666-no-underline:active span {
	color:#06c;
	text-decoration:underline;
}
a.link-666-no-underline, a.link-666-no-underline:visited {
	text-decoration:none;
	color:#666;
}
a.tags, a.tags:visited {
	display:inline;
	margin:0px 5px 0px 0px;
	padding:0px 2px;
	font-size:1.1em;
	line-height:1.1em;
	background:#f8f1d8;
	color:#333;
	text-decoration:none;
	
}
a.tags:hover, a.tags:active {
	color:#06c;
	text-decoration:underline;
}

a.previous, a.previous:visited {
	text-decoration:none;
	color:#06c;
	padding:0px 0px 0px 10px;
	background:transparent url(chevron-small-links-previous.gif) no-repeat center left;
}
a.previous:hover, a.previous:active {
	text-decoration:underline;
}
a.next, a.next:visited {
	text-decoration:none;
	color:#06c;
	padding:0px 9px 0px 0px;
	background:transparent url(chevron-small-links.gif) no-repeat center right;
}
a.next:hover, a.next:active {
	text-decoration:underline;
}

span.black-previous{
	color:#000;
	text-transform:uppercase;
	padding:0px 0px 0px 10px;
	background:transparent url(black-chevron-previous.gif) no-repeat center left;
}
span.black-next {
	text-transform:uppercase;
	color:#000;
	padding:0px 9px 0px 10px;
	background:transparent url(black-chevron-next.gif) no-repeat center right;
}





h1.heading {
	margin:0px;
	font-family:Georgia, Times New Roman, Times, serif;
	font-size:2.7em;
	line-height:1.2em;
	font-weight:normal;
}
h1.index {
	margin:0px;
	font-family:Georgia, Times New Roman, Times, serif;
	font-size:2.2em;
	line-height:1.1em;
	font-weight:normal;
}
h1.section {
	margin:0px;
	font-family:Georgia, Times New Roman, Times, serif;
	font-size:1.5em;
	line-height:1.0em;
	font-weight:normal;
	color:#000;
	text-transform:uppercase;
	padding:4px 0px 2px 0px;
}
h2.sub-heading {
	color:#333;
	margin:0px;
	font-family:Georgia, Times New Roman, Times, serif;
	font-size:1.4em;
	line-height:1.1em;
	font-weight:bold;
	letter-spacing:-0.06em;
}
h2.paginationHeading {
	color:#333;
	margin:0px;
	font-family:Georgia, Times New Roman, Times, serif;
	font-size:14pt;
	line-height:1.1em;
	font-weight:bold;
	letter-spacing:-0.06em;
}
h2.pagination {
	color:#333;
	margin:0px;
	font-family:Georgia, Times New Roman, Times, serif;
	font-size:1.4em;
	line-height:1.1em;
	font-weight:bold;
	letter-spacing:-0.06em;
}
h2.sub-heading-puff {
	margin:0px;
	font-family:Georgia, Times New Roman, Times, serif;
	font-size:1.4em;
	line-height:1.1em;
	font-weight:bold;
	letter-spacing:-0.06em;
}
h3.section-heading {
	margin:0px;
	font-family:Georgia, Times New Roman, Times, serif;
	font-size:1.0em;
	line-height:1.3em;
	text-transform:uppercase;
	color:#666;	
	padding-bottom:4px;
}
h3.section-heading-white {
	margin:0px;
	font-family:Georgia, Times New Roman, Times, serif;
	font-size:1.0em;
	line-height:1.3em;
	text-transform:uppercase;
	color:#fff;
	padding-bottom:4px;
}
h3.section-heading-smaller {
	margin:0px;
	font-family:Georgia, Times New Roman, Times, serif;
	font-size:0.89em;
	line-height:1.0em;
	text-transform:uppercase;
	color:#666;	
	padding-bottom:4px;
}

.color-000 {
	color:#000; 
}
.color-06c_underline {
	color:#06c; 
	text-decoration:underline;
}
.color-06c {
	color:#06c; 
}
.color-06c-none a, a:visited{
	color:#06c; 
	text-decoration:none;
}
.color-06c-none a:hover{
		text-decoration:underline;
}
.color-333 {
	color:#333; 
}
.color-666 {
	color:#666; 
}
.color-999 {
	color:#999; 
}
.color-d9d9d9 {
	color:#d9d9d9; 
}
.color-f8f1d8 {
	color:#f8f1d8; 
}
.color-cbff00 {
	color:#cbff00; 
}
.color-fff {
	color:#fff; 
}
.color-bd0000 {
	color:#bd0000; 
}

.color-ede1bf {
	color:#ede1bf
}
.font-size-11{
	font-size:11px;
}

.font-georgia-11{
	font-size:11px;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-transform:capitalize;
	font-weight:normal;
	
}

.font-georgia-10{
	font-size:10px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	text-transform:uppercase;
}

.font-arial-11{
	font-size:11px;
	font-family:Arial, "Times New Roman", Times, serif;
	text-transform:capitalize;
	font-weight:normal;
	
}

.font-arial-12{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:capitalize;
	font-weight:normal;
	
}
.font-arial-10{
	font-size:10px;
	font-family:Arial, "Times New Roman", Times, serif;
	font-weight:bold;
	text-transform:uppercase;
}
.font-timesnew-11{
	font-size:12px;
	font-family: "Times New Roman",Times, Georgia,serif;
	text-transform:capitalize;
	font-weight:strong;
	
}



ol li {
	list-style-type:decimal;
	list-style-position:inline;
	display:list-item;
	font-family:Georgia, Times New Roman, Times, serif;
	margin:0px 0px 12px 0px;
	font-size:1.2em;
}

ul.ul-tools li {
	float:left;
	background-repeat:no-repeat;
	background-position:0px 0px; 
	padding:1px 0px 10px 19px;
	font-size:1.0em;
	line-height:1.1em;
	text-transform:uppercase;
	width:33%; 
	voice-family: "\"}\"";
	width:28%; 
}
ul li.print {
	background-image:url(14x14-print.gif);
}
ul li.email {
	background-image:url(14x14-email.gif);
}
ul li.rate {
	background-image:url(14x14-rate.gif);
}
ul li.save {
	background-image:url(14x14-save.gif);
}
ul li.delicious {
	background-image:url(14x14-delicious.gif);
}
ul li.yahoo {
	background-image:url(14x14-yahoo-icon.gif);
}
ul li.digg {
	background-image:url(14x14-digg-icon.gif);
}
ul li.newsvine {
	background-image:url(14x14-newsvine.gif);
}
ul li.fark {
	background-image:url(icon_14_14_fark.gif);
}
ul li.ocr {
	background-image:url(Fulltext_Icon_14_14.gif);
}
ul li.help {
	background-image:url(http://www.timesonline.co.uk/tol/img/global/icon/14x14-help.gif);
}
ul li.contact-us {
	display:block;
	background-repeat:no-repeat;
	background-position:0px 0px;
	padding:1px 10px 2px 19px;
	background-image:url(14x14-contact-us.gif);
	border-right:1px solid #b1b1b1;
}

ul.ul-tools-no-indent li {
	float:left;
	background-repeat:no-repeat;
	padding:0px 0px 4px 0px;
	font-size:1.0em;
	line-height:1.1em;
	text-transform:uppercase;
	width:33%;
}
ul.ul-tools-no-indent li span {
	position:relative;
	top:-10px;
	left:5px;
}

ul li.comment {
	display:block;
	background-repeat:no-repeat;
	background-position:0px 1px;
	padding:2px 0px 1px 19px;
	font-size:1.0em;
	line-height:1.1em;
	text-transform:uppercase;
	background-image:url(14x14-send-your-views-white.gif);
}
ul li.icon-on-left {
	display:block;
	font-size:1.0em;
	line-height:1.1em;
	text-transform:uppercase;
}
ul li.icon-on-left span {
	position:relative;
	top:-3px;
	left:5px;
}
ul li.icon-on-right {
	display:block;
	font-size:1.0em;
	line-height:1.1em;
	text-transform:uppercase;
}
ul li.icon-on-right span {
	position:relative;
	top:-3px;
	padding-right:4px;
}
ul li.print-page {
	display:block;
	background-repeat:no-repeat;
	background-position:0px 1px;
	padding:2px 0px 1px 19px;
	font-size:1.0em;
	line-height:1.1em;
	text-transform:uppercase;
	background-image:url(14x14-print.gif);
}
ul li.have-your-say {
	display:block;
	background-repeat:no-repeat;
	background-position:0px 1px;
	padding:2px 0px 1px 19px;
	font-size:1.0em;
	line-height:1.1em;
	text-transform:uppercase;
	background-image:url(14x14-send-your-views-white.gif);
}
ul li.hide-the-form {
	display:block;
	background-repeat:no-repeat;
	background-position:0px 1px;
	padding:2px 0px 1px 19px;
	font-size:1.0em;
	line-height:1.1em;
	text-transform:uppercase;
}
ul li.plus {
	display:block;
	background-repeat:no-repeat;
	background-position:right 1px;
	padding:2px 19px 1px 0px;
	font-size:1.0em;
	line-height:1.1em;
	text-transform:uppercase;
	background-image:url(14x14-expand.gif);
}
ul li.minus {
	display:block;
	background-repeat:no-repeat;
	background-position:right 1px;
	padding:2px 19px 1px 0px;
	font-size:1.0em;
	line-height:1.1em;
	text-transform:uppercase;
	background-image:url(14x14-collapse.gif);
}

ul li.blue-chevron {
	display:block;
	background-repeat:no-repeat;
	background-position:0px 4px;
	padding:0px 0px 2px 9px;
	font-size:1.1em;
	line-height:1.3em;
	background-image:url(chevron-small-links.gif);
}

ul li.icon {
	display:block;
	background-repeat:no-repeat;
	background-position:0px 1px;
	padding:0px 0px 2px 18px;
	font-size:1.1em;
	line-height:1.3em;
}
ul li.video {
	background-image:url(14x14-timesonline-tv.gif);
}
ul li.video-latest {
	background-image:url(14x14-timesonline-tv-red.gif);
}
ul li.your-view {
	background-image:url(14x14-send-your-views-white.gif);
}
ul li.audio {
	background-image:url(14x14-audio.gif);
}
ul li.audio-latest {
 background-image:url(14x14-audio-red.gif);
}
ul li.podcast {
	background-image:url(14x14-podcast.gif);
}
ul li.podcast-latest {
 background-image:url(14x14-podcast-red.gif);
}
ul li.photos {
	background-image:url(14x14-picture-galleries.gif);
}
ul li.photos-latest {
 background-image:url(14x14-picture-galleries-red.gif);
}
ul li.blog {
	background-image:url(Icon_14_14_blog_blue.gif);
}
ul li.blog-latest {
 background-image:url(Icon_14_14_blog_red.gif);
}
ul li.external {
	background-image:url(Icon_14_14_external.gif);
}
ul li.external-latest {
 background-image:url(Icon_14_14_external_red.gif);
}
ul li.commentary {
	background-image:url(Icon_14_14_commentary.gif);
}
ul li.commentary-latest {
 background-image:url(Icon_14_14_commentary_red.gif);
}
ul li.download {
	background-image:url(14x14-download-white.gif);
}
ul li.archive {
	background-image:url(archive_icon_14x14.gif);
}
ul li.itunes {
	background-image:url(14x14-subscribe-itunes-whit.gif);
}

ul.chevron-list-ticker li {
	display:block;
	background-repeat:no-repeat;
	background-position:0px 0.5em;
	padding-left:9px;
}
ul.chevron-list li, li.chevron-list {
	display:block;
	background-repeat:no-repeat;
	background-position:0px 4px;
	padding-left:9px;
}
ul.chevron-green li {
	font-size:1.0em;
	line-height:1.3em;
	background-image:url(chevron-small-links-green.gif);
	text-transform:uppercase;
	padding-left:10px; 
}
ul.chevron-white li {
	font-size:1.1em;
	line-height:1.3em;
	background-image:url(chevron-small-links-white.gif);
}
ul.chevron-blue li, li.chevron-blue {
	font-size:1.1em;
	line-height:1.3em;
	background-image:url(chevron-small-links.gif);
}
ul.chevron-red li {
	font-size:1.1em;
	line-height:1.3em;
	background-image:url(chevron-small-links-red.gif);
}
ul.chevron-white-on-grey li {
	font-size:1.1em;
	line-height:1.3em;
	background-image:url(chevron-small-links-white-on-grey.gif);
}
ul.chevron-list red-chevron li {
	font-size:1.1em;
	line-height:1.3em;
	background-image:url(chevron-small-links-red.gif);
}

ul.disc-list li {
	display:block;
	background-repeat:no-repeat;
	background-position:0px 6px;
	padding-left:9px;
	font-size:1.2em;
	line-height:1.3em;
	background-image:url(disc-small-links.gif);
}

.icon-enlarge {
	padding:0px 0px 0px 19px;
	background:url(14x14-enlarge.gif) no-repeat 0px 0px;
}
.icon-your-view {
	padding:0px 0px 0px 19px;
	background:url(14x14-send-your-views-cream.gif) no-repeat 0px 0px;
}
.icon-back-to-top {
	margin-top:2px;
	margin-right:3px;
	padding:0px 12px 0px 10px;
	background:url(chevron-back-to-top.gif) no-repeat right;
}
.icon-down {
	margin-top:2px;
	margin-right:3px;
	padding:0px 12px 0px 0px;
	background:url(chevron-down.gif) no-repeat right;
}

.icon-archive {
	padding:2px 0px 2px 19px;
	background:url(http://www.timesonline.co.uk/tol/css/icon-archive.gif) no-repeat left;
	text-decoration:none;
}

.double-chevron-right {
	padding-right:10px;
	margin-left:-8px;
	background:transparent url(double-chevron-blue.gif) no-repeat center right;
}
.double-chevron-right-white {
	padding-right:10px;
	margin-left:-8px;
	background:transparent url(double-chevron-white.gif) no-repeat center right;
}
.times-recommends {
	padding-right:13px;
	padding-top:1px;
	background:transparent url(times-recommends-search-11.gif) no-repeat center left;
}
.refine-category {
	padding-right:10px;
	background:transparent url(http://www.timesonline.co.uk/tol/img/global/bg-refine-category.gif) no-repeat center right;
}
.hide-category {
	padding-right:14px;
	background:transparent url(http://www.timesonline.co.uk/tol/img/global/bg-hide-category.gif) no-repeat center right;
}
.byline {
	display:inline;
	margin:0px;
	padding:0px 2px;;
	font-size:1.1em;
	line-height:1.1em;
	background:#f8f1d8;
	color:#666;
}
.bg-popup {
	background-color:#fff; 
	background-image:none;
}
.bg-fff {
	background-color:#fff; 
}
.bg-f8f1d8 {
	background-color:#f8f1d8; 
}

.bg-f7eebe {
	background-color:#f7eebe; 
}

.bg-fffef5 {
	background-color:#fffef5; 
}
.bg-f5f5f5 { 
	background-color:#f0f0f0; 
}
.bg-d9d9d9 {
	background-color:#d9d9d9; 
}
.bg-7eebe{
	background-color:#f7eebe; 
}
.bg-666 {
	background-color:#666; 
}
.bg-06c {
	background-color:#06c; 
}
.bg-000 {
	background-color:#000; 
}
.bg-b39b62 {
 background-color:#b39b62;
}

.tab-selected {
	vertical-align:top;
	display:block;
	float:left;
	white-space:nowrap;
	padding:3px 6px 3px 7px;
	margin-right:5px;
 	background:#f0f0f0;
}
a.tab-link, a.tab-link:visited {
	vertical-align:top;
	display:block;
	float:left;
	white-space:nowrap;
	padding:3px 6px 3px 7px;
	background:#d8d8d8;
	color:#06c;
}
a.tab-link:hover, a.tab-link:active {
	background:#999;
	color:#fff;
	text-decoration:none;
}

input.global-search-text {
	float:left;
	width:100px;
	padding:1px 0px 1px 2px;
	margin:5px 8px 0px 7px;
}




input.global-search-text-with-dropdown {
	float:left;
	width:100px;
	padding:1px 0px 1px 2px;
	margin:5px 2px 0px 2px;
}

select.global-search-option {
	float:left;
	width:110px;
	margin:5px 2px 0px 7px;
}


textarea.comments-form-textarea {
	float:left;
	width:359px;
	padding:1px 0px 1px 2px;
}
input.comments-form-text {
	float:left;
	width:165px;
	padding:1px 0px 1px 2px;
}

.tools {
	font-size:1.0em;
	line-height:1.1em;
	text-decoration:none;
	text-transform:uppercase;
	color:#666;
}
.tools-no-color {
	font-size:1.0em;
	line-height:1.1em;
	text-decoration:none;
	text-transform:uppercase;
}
.tools-06c {
	font-size:1.0em;
	line-height:1.1em;
	text-decoration:none;
	text-transform:uppercase;
	color:#06c;
}
.tools-fff {
	font-size:1.0em;
	line-height:1.1em;
	text-decoration:none;
	text-transform:uppercase;
	color:#fff;
}
.x-of-y {
	margin:0px;
	font-family:Georgia, Times New Roman, Times, serif;
	font-size:1.2em;
	line-height:1.2em;
	letter-spacing:-0.06em;
	color:#666;
}
.tertiary-letter-spacing {
	letter-spacing:0.05em;
}
.caps {
	text-transform:uppercase;
}
.lowercase {
	text-transform:lowercase;
}
.poll-result {
	margin:0px;
	padding:0px 0px 0px 3px;
	font-family:Georgia, Times New Roman, Times, serif;
	font-size:1.4em;
	line-height:1.1em;
	font-weight:bold;
	letter-spacing:-0.06em;
}
.poll-yes {
	color:#396;
}
.poll-no {
	color:#f90;
}
.poll-undecided {
	color:#351492;
}
.text-666{
	color:#666;
}
.line-height-1em {
	line-height:1em;
}
a.link-000, a.link-000:visited {
	text-decoration:none;
	color:#000;
}
a.link-000:hover, a.link-000:active {
	color:#06c;
	text-decoration:underline;
}
h3.archive-full-text {
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.1em;
	line-height:1.3em;
	text-transform:uppercase;
	padding-bottom:4px;
}
.font-georgia {
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height:1.5em;
}
a.color-bd0000, a.color-bd0000:visited  {
	color:#bd0000;
}
a.color-bd0000:hover  {
	text-decoration:underline;
}

.top-search01 {
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.5em;
	line-height:1.3em;
	color:#fff;
}
.top-search02 {
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.3em;
	line-height:1.3em;
	color:#fff;
}
.top-search03 {
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.0em;
	line-height:1.3em;
	color:#fff;
}

.light-tabs-left {
	color:#000;
	background:#d9d9d9;	
	margin:0px 5px 0px 0px;
	padding:5px 3px 4px 4px;
	float:left;
	border-top:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
	border-left:1px solid #d9d9d9;
	cursor:hand; 
	voice-family: "\"}\"";
	cursor:pointer; 
}
.light-tabs-left-simulated {
	color:#fff;
	background:#999;	
	margin:0px 5px 0px 0px;
	padding:5px 3px 4px 4px;
	float:left;
	border-top:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
	border-left:1px solid #d9d9d9;

	cursor:hand; 
	voice-family: "\"}\"";
	cursor:pointer; 
}
.light-tabs-left-selected {
	color:#000;	
	margin:0px 5px -1px 0px;
	padding:5px 3px 5px 4px;
	float:left;
	border-bottom:0px;
	border-top:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
	border-left:1px solid #f0f0f0;
}
.light-tabs-right {
	color:#000;
	background:#d9d9d9;	
	margin:0px 5px 0px 0px;
	padding:5px 3px 4px 4px;
	float:left;
	border-top:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
	border-left:1px solid #d9d9d9;
	cursor:hand; 
	voice-family: "\"}\"";
	cursor:pointer; 
}
.light-tabs-right-simulated {
	color:#fff;
	background:#999;	
	margin:0px 5px 0px 0px;
	padding:5px 3px 4px 4px;
	float:left;
	border-top:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
	border-left:1px solid #d9d9d9;
	cursor:hand; 
	voice-family: "\"}\"";
	cursor:pointer; 
}
.light-tabs-right-selected {
	color:#000;	
	margin:0px 5px -1px 0px;
	padding:5px 3px 5px 4px;
	float:left;
	border-bottom:0px;
	border-top:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
	border-left:1px solid #d9d9d9;
}
ul.ul-article li {
	background-repeat:no-repeat;
	background-position:0px 0px; 
	padding-left:19px;
	padding-bottom:5px;
	font-size:1.0em;
	line-height:1.1em;
	text-transform:uppercase;
	float:left;
	display:inline;
}
.timestamp-lower-style{
	font-family:Arial;
	text-decoration: none;
	font-size:9px;
	color:#663333;
	text-transform:lowercase;
}
.timestamp-caps-style{
	font-family:Arial;
	text-decoration: none;
	font-size:9px;
	color:#663333;
	text-transform:uppercase;
}
.bg-quote-left {
 background:transparent url('quote-left-red-beige-bg.gif') no-repeat left center;
 padding:0px 0px 0px 10px;
}
.bg-quote-right {
 background:transparent url('quote-right-red-beige-bg.gif') no-repeat left center;
 padding:0px 10px 0px 10px;
}
.bg-green-quote-left {
 background:transparent url('quote-left-green-beige-bg.gif') no-repeat left center;
 padding:0px 0px 0px 10px;
}
.bg-green-quote-right {
 background:transparent url('quote-right-green-beige-bg.gif') no-repeat left center;
 padding:0px 10px 0px 10px;
}
h2.google-sub-heading {
 color:#06c;
 margin:0px;
 font-family:Georgia, Times New Roman, Times, serif;
 font-size:1.4em;
 line-height:1.1em;
 font-weight:bold;
 letter-spacing:-0.06em;
}

.blockz {
		width:80px;
		float:left;
}
.blockzl {
		width:179px;
		float:left;
}
.blockz2 {
		width:120px;
		float:left;
}


.printz {
		background-image:url(14x14-print.gif);
		background-position:0 0;
		background-repeat:no-repeat;
		font-size:1em;
		line-height:1.1em;
		padding:1px 0 10px 19px;
		text-transform:uppercase;
		color:cc22cc;
}
.emailz {
		background-image:url(14x14-email.gif);
		background-position:0 0;
		background-repeat:no-repeat;
		font-size:1em;
		line-height:1.1em;
		padding:1px 0 10px 19px;
		text-transform:uppercase;
}

.addThisz {
		float:left;
		font-size:1em;
		line-height:1.1em;
		padding:1px 0 10px 0px;
		text-transform:uppercase;
}
