body {
	background-color:#ffffff;
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: verdana;
	font-size: small;
    font-weight: normal;
	
}

.nav1
{
    z-index:3;
    position: absolute;
    right:0px;
    top: 6px;
    width:100%;
    text-align:right;
    font-size: 11px;
}

a.BarNavTop:link {COLOR: #000000; font-size:11px; font-weight:lighter}
a.BarNavTop:visited {COLOR: #000000;font-size:11px;font-weight:lighter }
a.BarNavTop:hover { color: #990000; text-decoration: none;font-size:11px;font-weight:lighter}
/*-------------------------------------------------------------------*/

a.MenuHP:link {COLOR: #000000; font-weight:normal}
a.MenuHP:visited {COLOR: #000000;font-weight:normal }
a.MenuHP:hover { color: #000000;font-weight:normal}
a.MenuHP:active { color: #000000;font-weight:normal}
/*-------------------------administration.aspx-----------------------------------------*/
a.MenuAdmin:link {COLOR: #808080; font-weight:normal; font-size:small}
a.MenuAdmin:visited {COLOR: #808080;font-weight:normal; font-size:small }
a.MenuAdmin:hover { color: #CC3300;font-weight:normal; font-size:small}
a.MenuAdmin:active { color: #CC3300;font-weight:normal; font-size:small}

a.siteMap:link {padding-left:3px;COLOR: #000000; font-weight:normal}
a.siteMap:visited {padding-left:3px;COLOR: #000000;font-weight:normal }
a.siteMap:hover { padding-left:3px;color: #000000;font-weight:normal}
a.siteMap:active { padding-left:3px;color: #000000;font-weight:normal}

.homeCG {font-size:9px; COLOR: #000000;}
.homeBN {font-size:11px; COLOR: #000000;}

a.homeCG:link {COLOR: #000000;font-size:9px;font-weight:normal;}
a.homeCG:visited {COLOR: #000000;font-size:9px;font-weight:normal; }
a.homeCG:hover { color: #9E0B0E; text-decoration: none;font-size:9px;font-weight:normal;}


a.homeBN:link {COLOR: #000000;font-size:11px;font-weight:normal;}
a.homeBN:visited {COLOR: #000000;font-size:11px;font-weight:normal; }
a.homeBN:hover { color: #9E0B0E; text-decoration: none;font-size:11px;font-weight:normal;}


a.rouge:link {COLOR: #BD561E;}
a.rouge:visited {COLOR: #BD561E; }
a.rouge:hover { color: #BD561E;}
a.rouge:active { color: #BD561E;}

a.lnkinscriptions:link {COLOR: #ffffff;font-size:9px;font-weight:normal;}
a.lnkinscriptions:visited {COLOR: #ffffff;font-size:9px;font-weight:normal; }
a.lnkinscriptions:hover { color: #ffffff;font-size:9px;font-weight:normal;}
a.lnkinscriptions:active { color: #ffffff;font-size:9px;font-weight:normal;}

a.MenuHPorg:link {COLOR: #000000; font-weight:normal}
a.MenuHPorg:visited {COLOR: #000000;font-weight:normal }
a.MenuHPorg:hover { color: #ea6645;font-weight:normal}
a.MenuHPorg:active { color: #000000;font-weight:normal}

#home_zone_bas{
height:38px;
width:100%;
color:Gray;
background-image:url(footer-repeat.gif);
background-color:#E4E3E3;
background-repeat:repeat-x;
}


.homeCitationText
{
     text-align:left;
     font-size:x-small;
     font-weight:normal
}

/*-------------------------------------------------------------------*/
/* LIENS HYPERTEXTE */
a {
	text-decoration: none;
	color: #31659C;
	font-weight:bold;
}

a:visited {
	color: #31659C;
	font-weight:bold ;
}

a:hover {
	text-decoration: none;
	color: #31659C;
	font-weight:bold;
}

a:active {
	color: #31659C;
	font-weight:bold;
}

a.BarNav:link {COLOR: #ffffff;}
a.BarNav:visited {COLOR: #ffffff; }
a.BarNav:hover { color: #E9D1DB; text-decoration: none;}

a.BarNavTop:link {COLOR: #000000; font-size:11px; font-weight:lighter}
a.BarNavTop:visited {COLOR: #000000;font-size:11px;font-weight:lighter }
a.BarNavTop:hover { color: #990000; text-decoration: none;font-size:11px;font-weight:lighter}

.newsTitle
{
    font-weight:bold;
    font-size:larger ;
    color:#9E0B0E;
    margin-bottom:3px;
    margin-top:8px;
}

