html {
	font-family:Arial, Verdana, Helvetica;
}

body {
	margin-top:0px;

	background-color:#F6F9FC;
	background-image:url(applat_clair.gif);
	background-repeat:repeat-x;
	background-position:top left;

	text-align:center;

	font-size:0.814em;
}

/*** CLASSES GENERIQUES ***/
strong {
	font-weight:bold;
}

em {
	font-style:italic;
	font-weight:inherit;
}

.bold {
	font-weight:bold;	
}

.italic {
	font-style:italic;
}

.justify {
	text-align : justify;
}

.separe { 
	clear: both; 
	visibility: hidden;
} 

.hidden {
	display:none;	
}

.hand {
	cursor:pointer;
}

.clear {
	clear:both;	
}

.error {
	color:red;	
}

/*** DIV GLOBAL CENTRE ***/
#global {
	position:relative;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}

/*** LOGO ****/
#logoContainer {
	position:relative;
	top:0px;
	left:0px;
	text-align:left;
}

#logo {
	position:absolute;
	top:0px;
	left:0px;
}
/*** HEADER ***/
#headerLength {
	width:77%;
	min-height:26px;
	text-align:left;
}

#header {
	margin-left:170px;
	padding-top:7px;
	text-align:right;
}

#header ul li {
	display:inline;
	padding-left:8px;
	padding-right:3px;
	background-image:url(header_separator.gif);
	background-repeat:no-repeat;
	background-position:bottom left;
}

#header ul li.first {
	background-image:none;
}

#header label {
	font-size:85%;
	color:#2C5A85;
}

#header span a:visited {
	font-size:85%;
	color:#AE72AE;
}

#header a {
	font-size:85%;
	color:#2C5A85;
}


#header form,  #header form div {
	display:inline;
}

#header input {
	font-size:85%;
	width:125px;
	border:1px solid #354241;
	padding:1px 2px 1px 2px;
	color:#354241;
}

#header input.button {
	padding:0px;
	width:auto;
	background:white;
	cursor:pointer;
}

#header a.little {
	text-decoration:none;
}

#header a.big {
	text-decoration:none;
}

/*** NAVIGATION ***/
#navigation {
	margin-top:5px;
	width:770px;
	background-image:url(fond_haut.gif);
	background-repeat:repeat-x;
	background-position:top left;
}

#navigation ul {
	margin-left:170px;
}

#navigation ul li {
	float:left;
	min-height:31px;
	line-height:1em;
}

#navigation ul li div {
	background-image:url(separateur_rubriques.gif);
	background-repeat:no-repeat;
	background-position:top right;

	text-align:center;
	font-weight:bold;
	font-size:92%;
	color:#364242;
	line-height:1.15em;
	padding-top:3px;
	min-height:31px;
}

#navigation a {
	color:#364242;
	
	text-decoration:none;
	display:block;
	min-height:30px;
	line-height:1.15em;
}

#navigation a:hover {
	text-decoration:underline;
}

#navigation .item {
	text-align:left;
}

#navigation .itemselected {
	background-image:url(applat_clair.gif.1);
	background-repeat:repeat-x;
	background-position:top right;
}

/*** TAILLE ET COULEURS DES ITEMS DE NAVIGATION FR FR ***/
.PageNavigationGroupfr {width:11%;min-width:3.5em;}
.PageNavigationGroupfr a {width:95%;}
.PageNavigationGroupfr a:hover {color:#066E6F !important;}

.PageNavigationSustainableDevelopmentfr {width:18%;min-width:7.5em;}
.PageNavigationSustainableDevelopmentfr a {width:97.5%;}
.PageNavigationSustainableDevelopmentfr a:hover {color:#49835A !important;}

.PageNavigationResearchAndInnovationfr {width:16%;min-width:6.5em;}
.PageNavigationResearchAndInnovationfr a {width:97%;}
.PageNavigationResearchAndInnovationfr a:hover {color:#0B779E !important;}

.PageNavigationCustomersAndActivitiesfr {width:12%;min-width:5.5em;}
.PageNavigationCustomersAndActivitiesfr a {width:96%;}
.PageNavigationCustomersAndActivitiesfr a:hover {color:#623D20 !important;}

.PageNavigationShareholdersAndFinancefr {width:16%;min-width:6.5em;}
.PageNavigationShareholdersAndFinancefr a {width:97%;}
.PageNavigationShareholdersAndFinancefr a:hover {color:#439A92 !important;}

.PageNavigationJobCandidatesfr {width:12%;min-width:4.8em;}
.PageNavigationJobCandidatesfr a {width:96%;}
.PageNavigationJobCandidatesfr a:hover {color:#B46C00 !important;}

.PageNavigationJournalistsfr {width:15%;min-width:6.5em;}
.PageNavigationJournalistsfr a {width:97%;}
.PageNavigationJournalistsfr a:hover {color:#952F47 !important;}

/*** TAILLE ET COULEURS DES ITEMS DE NAVIGATION EN FR ***/
.PageNavigationGroupen {width:10%;min-width:3.5em;}
.PageNavigationGroupen a {width:95%;}
.PageNavigationGroupen a:hover {color:#066E6F !important;}

.PageNavigationSustainableDevelopmenten {width:15%;min-width:6em;}
.PageNavigationSustainableDevelopmenten a {width:97%;}
.PageNavigationSustainableDevelopmenten a:hover {color:#49835A !important;}

.PageNavigationResearchAndInnovationen {width:15%;min-width:6em;}
.PageNavigationResearchAndInnovationen a {width:97%;}
.PageNavigationResearchAndInnovationen a:hover {color:#0B779E !important;}

.PageNavigationCustomersAndActivitiesen {width:15%;min-width:5.5em;}
.PageNavigationCustomersAndActivitiesen a {width:97%;}
.PageNavigationCustomersAndActivitiesen a:hover {color:#623D20 !important;}

.PageNavigationShareholdersAndFinanceen {width:16%;min-width:6.5em;}
.PageNavigationShareholdersAndFinanceen a {width:97%;}
.PageNavigationShareholdersAndFinanceen a:hover {color:#439A92 !important;}

.PageNavigationJobCandidatesen {width:16%;min-width:6em;}
.PageNavigationJobCandidatesen a {width:97%;}
.PageNavigationJobCandidatesen a:hover {color:#B46C00 !important;}

.PageNavigationJournalistsen {width:13%;min-width:5.5em;}
.PageNavigationJournalistsen a {width:97%;}
.PageNavigationJournalistsen a:hover {color:#952F47 !important;}

/*** MENU RUBRIQUE ***/
#menurubrique {
	float:left;
	margin-top:57px;
	width:17%;
	min-width:10em;
}

#menurubrique a {
	color:#354241;
	text-decoration:none;
}

#menurubrique a:hover {
	text-decoration:underline;
}

#menurubrique h1 {
	font-size:136%;
	font-weight:bold;

	padding-left:7px;
	padding-bottom:4px;

	background-image:url(nav_separation_haut.gif);
	background-position:bottom left;
	background-repeat:no-repeat;

	margin-right:8px;
}

#menurubrique ul {
	font-size:85%;
}

#menurubrique ul li {
	margin-left:0px;

	padding-top:2px;
	padding-left:0px;
	padding-bottom:0px;

	font-weight:bold;
	font-size:105%;

	width:96%;
}

#menurubrique ul li div {
	padding-left:8px;
}

#menurubrique .separator {
	padding-top:0px;
	padding-bottom:4px;
	background-image:url(nav_separation_rubriques.gif);
	background-position:bottom left;
	background-repeat:no-repeat;
}

#menurubrique .rubFirst {
	padding-top:4px;
}

#menurubrique li.rubFirst.square {
	background-position:0px 9px;
}

#menurubrique .rubLast {
	background-image:none;
}

#menurubrique .rubSelected {
	background-color:white;
}

#menurubrique ul li ul li {
	padding-left:20px;
	padding-top:0px;
	padding-bottom:1px;

	width:87%;
}

#menurubrique ul li ul li a, #menurubrique ul li ul li span {
	font-size:107%;
	font-weight:normal;
	color:#354341 !important;
}

#menurubrique .square {
	background-position:0px 5px;
	background-repeat:no-repeat;
	background-image:url(ON_footer.gif);
}

#menurubrique .squareLevel1 {
	background-position:0px 6px;
}

#menurubrique li.ssrubSelected {
	margin-left:12px;
	padding-left:8px;
	background-color:transparent;
	background-position:0px 5px;
	background-repeat:no-repeat;
	background-image:url(ON_footer.gif);
}

* html #menurubrique li.ssrubSelected {
	background-position:0px 4px;
}

/*** CONTENT ****/
#contentContainer {
	width:1000px;

	clear:both;

	background-color:white;
	background-image:url(ombre_verticale.gif);
	background-repeat:repeat-y;
	background-position:top left;
}

#contentContainerFond {
	background-image:url(fond_content.gif);
	background-repeat:repeat-y;
	background-position:top right;
}

.teaserLeftLength {
	float:left;
	width:170px;
}

#content {
	float:left;

	width:830px;
	min-height:400px;

	/* COULEUR PAR DEFAUT DU TEXTE */
	color:#354241;
}

#content a {
	color:#2C5A85;
}

#content a:visited {
	color:#AE72AE;	
}

/*** OMBRE DU BAS DU CONTENU ***/
#ombrebas {
	clear : both;
	width:1000px;
	height:7px;
	font-size:0em;

	background-color:#EDF2F8;
	background-image:url(ombre_bas.gif);
	background-repeat:no-repeat;
	background-position:top right;
}

/*** FOOTER ***/
.decaleFooter {
	margin-left:170px;
	width:60em;
}

.noDecaleFooter {
	width:77em;
}

.dummyFooter {
	float:left;
}

#footer {
	text-align:left;
	width:100%;
	font-size:77%;
	min-height:30px;

	background-color:#EDF2F8;
	background-image:url(separateur_footer.gif);
	background-repeat:no-repeat;
	background-position:769px 0px;
}

#footer ul li {
	float:left;
}

#footer a {
	color:#334343;
	text-decoration:none;
	font-weight:bold;
}

#footer a:hover {
	text-decoration:underline;
	color:#767779;
}

#footerAdmin {
	min-width:170px;
	min-height:30px;
	background-image:none;
}

#footer .item {
	background-image:url(separateur_footer.gif);
	background-repeat:no-repeat;
	background-position:top right;
}

#footer .item div {
	padding-top:3px;
	padding-left:3px;
	padding-right:3px;
	padding-bottom:2px;
	margin-right:2px;
}

#footer .selected {
	color:#767779;
}

#footer .lafargeSite {
	padding-top:3px;
	padding-left:3px;
	padding-right:3px;

	min-width:21.3em;
	background-image:none;
}

/** Taille suivant la langue **/
#footer .lafargeSitefr {min-width:22.0em;}
#footer .lafargeSiteen {min-width:22.2em;}

#footer select {
	font-size:90%;
	color:#334343;
	min-width:8em;
	height:1.8em;
	position:relative;
	top:-1px;
}

#footer .lafargeSitefr select {width:20.2em;}
#footer .lafargeSiteen select {width:20.6em;}

#footer .copyright {
	color:#334343;
	padding-top:4px;
	background-image:none;
}

#footer form, #footer form div {
	display:inline;
}

#footer select option.firstitem {
	padding-left:5px;
}

#footer select option.item {
	padding-left:10px;
	background-image:none;
}

#footer input.button {
	font-size:110%;
	border:1px solid #354241;
	color:#354241;
	padding:0px 0px 0px 0px;
	margin-left:3px;
	width:auto;
	background:#EDF2F8;
	cursor:pointer;
}

#footer .copyright {
	float:left;

	color:#334343;
	padding-top:4px;
	padding-left:5px;
	background-image:none;
}

/*** couleur par rubrique ***/
.colorPageHomepage {color:#00A76F !important;}
.colorPageNavigationGroup {color:#066E6F !important;}
.colorPageNavigationSustainableDevelopment {color:#49835A !important;}
.colorPageNavigationResearchAndInnovation {color:#0B779E !important;}
.colorPageNavigationCustomersAndActivities {color:#623D20 !important;}
.colorPageNavigationShareholdersAndFinance {color:#439A92 !important;}
.colorPageNavigationJobCandidates {color:#B46C00 !important;}
.colorPageNavigationJournalists {color:#952F47 !important;} 
.colorPageFooter {color:#767779 !important;} 

/*** aposition ***/
#apositionfr {
	background:white;
	position:absolute;
	top:24px;
	left:295px;
	width:194px;
	height:auto;
	border:1px solid black;
	overflow:auto;
	text-align:left;
	display:none;
	z-index:100;
}

#apositionfr li {
	display:block !important;
	background:none !important;
	padding:2px !important;
}

#apositionfr li.first {
	padding:0px !important;	
	text-align:right;
	line-height:0px;
	font-size:0%;
}

#apositionfr li.first img {
	cursor:pointer;
}

#apositionfr li a {
	display:block;
	font-size:85%;
	color:#354241;
	text-decoration:none;
}

#apositionfr li a:hover {
	background-color:#354241;
	color:white;
}

#apositionen {
	background:white;
	position:absolute;
	top:24px;
	left:293px;
	width:194px;
	height:auto;
	border:1px solid black;
	overflow:auto;
	text-align:left;
	display:none;
	z-index:100;
}

#apositionen li {
	display:block !important;
	background:none !important;
	padding:2px !important;
}

#apositionen li.first {
	padding:0px !important;	
	text-align:right;
	line-height:0px;
	font-size:0%;
}

#apositionen li.first img {
	cursor:pointer;
}

#apositionen li a {
	display:block;
	font-size:85%;
	color:#354241;
	text-decoration:none;
}

#apositionen li a:hover {
	background-color:#354241;
	color:white;
}