/*******************************************************************
 $Id: commentaires.css,v 1.7 2006/11/08 14:47:59 lguerin Exp $
********************************************************************/

/*==============*/
/* Commentaires */
/*==============*/

div#commentaires {
	clear:both;
}

#popupContenu>div#commentaires {
	padding-top:10px;
}
#commentaireClose {  
  padding:0;
  margin:0;
  width:50px;
  float:right;
}
#commentaireClose img {
  margin-right:0px;
  padding-top:-2px;
}

/*=======*/
/* Label */
/*=======*/
form#commentaire-add div{
  float: left;
  display: block;
  font-weight:bold;
  text-align: right;	
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  color:white;
}

.champCommentairePrincipal {
  color:white;
  float:left;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 20px;
  font-weight:normal;
  text-indent:33px;
}

.commentaire-texte img {
  padding-bottom:7px;
}

.commentaire-auteur {
  padding-right:20px;
  float:right;
}


.signature1, .signature2, .signature3, .champCommentaire {
  color:white;
}

.signature3 {
  font-weight:normal;
}

#commentaires .signature2 {
font-style:italic;
}

#commentaires .signature1 {
	font-weight:bold;
}

.commentaire_selected {
  background-color:#8fce01;
  border-top:3px solid white;
  border-bottom:3px solid white;
  padding-top:5px;
  margin-bottom:10px;
  padding-bottom:5px;
  padding-left:20px;
}
.commentaire_simple {
  padding-left:20px;
  padding-bottom:5px;
}

.commentaires_validation_help{
  padding-left:25px;
}

#commentaire-confirmation{
	text-indent:15px;
	background-color:#fea408;
	vertical-align:middle;
	text-align:center;
	margin-left:10px;
	margin-right:10px;
	border:2px white solid;
	color:white;
	height:15px;
}

.commentaires-actions-manager {
  margin-top:5px;
  margin-left:10px;
}

ul#commentaire-actions-list {
	list-style-type: none;
	list-style-image: url('puce_fonctions_grey.gif');
	// list-style-image: url('puce_action_commentaire.gif');
	list-style-position:outside;	
}

.commentaires-actions-manager a {
  background-image:url('puce_fonctions_grey.gif');
  background-repeat:no-repeat;
  background-position:0px 6px;
  color:white;
  text-decoration:none;
  padding-left:10px;
  font-size:9px;
}

.submitButton, .cancelButton {
  border:3px solid white;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size:12px;
  color:white;
}
.submitButton { 
  background-color:#a0a191;
}
.cancelButton { 
  background-color:#c1c0ac;
}

div.validation_commentaires {
  padding-left:30px;
}

/*===========================*/
/* Navigation Commentaires   */
/*===========================*/


.blocNavigationCommentaires {
  float:left;
  border-bottom:3px solid white;
  padding-top:10px;
  margin:0;
  
}
.navigationCommentaires{
  float:right;
  width:128px;
  border-top:3px solid white;
  border-left:3px solid white;
  border-right:3px solid white;
  margin-right:30px;
  padding:0;
}

.texteNavCommentaire{
  width:70px;
  float:left;
  height:15px;
  padding:0;
  margin:0px;
  text-align:center;
  padding-top:3px;
  color: #545543;
}


.btPrecedentOeuvre img{
  border-right:3px solid white;
  margin-right:2px;
  float:left;
}

.btSuivantOeuvre img{
  border-left:3px solid white;
  margin-left:2px;
  float:left;
}
                                                                                                                                                                                                       