input {
	font-size:1em;
}
input.editWidget {
  background: white url('crayon_s.gif') 3px 3px no-repeat;
  background-position: middle center;
}

input.moveUp {
    background: White url('moveItemsUp.png') 3px 3px no-repeat;
}
input.moveDown {
    background: White url('moveItemsDown.png') 3px 3px no-repeat;
}
input.moveTop {
    background: White url('moveItemsTop.png') 3px 3px no-repeat;
}
input.moveBottom {
    background: White url('moveItemsBottom.png') 3px 3px no-repeat;
}

input.destructive {
  background: White url('delete_s.gif') 3px 3px no-repeat;
}

input.change {
  background-color: #b3b33f;
}
select.context, input.standalone, input.context{
	font-size: 1em;
}

div.editpanel {
	float:right;
	position:relative;
	top:-1.2em;
}

div.row div.label1 {
	position:relative;
	top:0.2em;
}

div.group1 div.label1 {
	position:relative;
	top: -1em;
	display:inline;
}

div.group1 span.label1 {
	border:1px solid #AAAAAA;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-left: 0.5em;
	background-color: #CCCCCC;
}

div.row span.label1 {
	border:1px solid #AAAAAA;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-left: 0.5em;
	background-color: #CCCCCC;
}

div.group1 {
	border:1px solid #AAAAAA;
	margin-bottom:1em;
}

input.smallbutton {
	width:18px;
	height:18px;
	padding:0px;
  	margin:0px;
	border-top:1px solid #AAAAAA;
	border-left:1px solid #AAAAAA;
	border-bottom:1px solid;
	border-right:1px solid;
}

.titreEditeur {
	margin-top: 1em;
	background-color: #b3b33f;
	font-weight:bold;
}

/******** Bloc 2 colonnes *******/
input.goleft {
  background: white url('align_left.gif') 3px 3px no-repeat;
  background-position: middle center;
}
 
input.gocenter { 
  background: white url('align_center.gif') 3px 3px no-repeat;
  background-position: middle center;
} 
  
input.goright {
  background: white url('align_right.gif') 3px 3px no-repeat;
  background-position: middle center;
}

