html, body { 
	font: 12px Trebuchet MS, Arial, Helvetica, sans-serif;
	text-align: center;
	padding:0px;
	margin:0px;
/*	background: #fff url("../img/fono.gif") 100% 0; */
	background-color: #FFFFFF;/**#666666**/
}
a, a:visited, a:link, a:active { color: #100E80; text-decoration: none;	}
a:hover, a:visited:hover { color: #666666; text-decoration: underline; }
mailto, mailto:visited, mailto:link, mailto:active { color: #100E80; text-decoration: none;	}
mailto:hover, mailto:visited:hover { color: #666666; text-decoration: underline; }
p {
	font: 12px Trebuchet MS, Arial, Helvetica, sans-serif;
	line-height: 14px;
	margin-top: 0px;
	margin-bottom: 7px;
}
li, ol, ul {
	font: 12px Trebuchet MS, Arial, Helvetica, sans-serif;
	padding-left:15px;
	line-height: 14px;
}
ul { list-style: square inside; }
ol { list-style: decimal-leading-zero inside; }
#page {
	font: 12px Trebuchet MS, Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align: middle;	
	margin: 0px auto;
	padding: 0px;
	width: 780px;
	background-color: #ffffff;
	//border: 1px solid #000000;
}
.content {
	font: 12px Trebuchet MS, Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align: top;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	background-color: #EDF1F0;
}
.content td {
	font: 12px Trebuchet MS, Arial, Helvetica, sans-serif;
}
.menu {	
	font: 12px Trebuchet MS, Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align: top;
	background-color: #FFFFFF;
}
.menu-b {
	font: 12px Trebuchet MS, Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align: top;
	background: #EDF1F0 url("logo10_unice.gif") no-repeat;
	background-position: 15px;
}
.ptl_lang {
	font: 10px Trebuchet MS, Arial, Helvetica, sans-serif;
	background-color: #EDF1F0;
	text-align: right;
	text-decoration: none;
}
.langues {
	font: 10px Trebuchet MS, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
	background-color: #838EB1;
}
.langues a {
    color: #ffffff;
	text-decoration: none;
}
.langues a:hover {
    color: #C7D7D5;
	text-decoration: none;
}
.accroche {
	font: 12px Trebuchet MS, Arial, Helvetica, sans-serif;
	color: #8D9191;
	background-color:#FFFFFF;
	align: left;
}
.barremenu, td.barremenu,
a.barremenu:visited, a.barremenu:link, a.barremenu:active {
	font: 12px Trebuchet MS, Arial, Helvetica, sans-serif;
	color: white;
	background-color:#9FB2B0;
	text-align: center;
	text-decoration: none;
}
a.barremenu:hover, a.barremenu:visited:hover {
	font: 12px Trebuchet MS, Arial, Helvetica, sans-serif;
	color: #637372;
	text-decoration: none;
	background-color:#FFFFFF;
}
.insitu,
a.insitu:visited, a.insitu:link, a.insitu:active {
	font: 9px Trebuchet MS, Arial, Helvetica, sans-serif;
	color: #637372;
	text-decoration: none;
}
a.insitu:hover, a.insitu:visited:hover {
	font: 9px Trebuchet MS, Arial, Helvetica, sans-serif;
	color: #5D91C1;
	text-decoration: none;
}
#pied-mention,
a.pied-lien:visited, a.pied-lien:link, a.pied-lien:active,
a.pied-id:visited, a.pied-id:link, a.pied-id:active {
	font: 13px Trebuchet MS, Arial, Helvetica, sans-serif;
	text-align: center;
	color:#707070;
	text-decoration: none;
}
a.pied-lien:hover, a.pied-lien:visited:hover {
	font: 13px Trebuchet MS, Arial, Helvetica, sans-serif;
	color:#5D91C1;
	text-decoration: none;
	background-color: #FFFFFF;
}
a.pied-id:hover, a.pied-id:visited:hover {
	font: 13x Trebuchet MS, Arial, Helvetica, sans-serif;
	color:#5D91C1;
	text-decoration: none;
	background-color: #FADB81;
}
.ptl_menu1 {
	background-color: #EDF1F0;
}
a.link-int:visited, a.link-int:link, a.link-int:active {
	color: #94AFA6;
	text-decoration: none;
	background-color: transparent;
	font: 13px Trebuchet MS, Arial, Helvetica, sans-serif;
	background: url("fl1.gif");
    background-repeat: no-repeat;
	padding-left: 15px;
	background-position: center left;
	line-height: 11pt;
}
a.link-fut-etud:visited, a.link-fut-etud:link, a.link-fut-etud:active {
	color: #FE9500;
	text-decoration: none;
	background-color: transparent;
	font: 13px Trebuchet MS, Arial, Helvetica, sans-serif;
	background: url("fl2.gif");
    background-repeat: no-repeat;
	padding-left: 15px;
	background-position: center left;
	line-height: 11pt;
}
a.link-etud:visited, a.link-etud:link,a.link-etud:active {
	color: #BD030D;
	text-decoration: none;
	background-color: transparent;
	font: 13px Trebuchet MS, Arial, Helvetica, sans-serif;
	background: url("fl3.gif");
    background-repeat: no-repeat;
	padding-left: 15px;
	background-position: center left;
	line-height: 11pt;
}
a.link-perso:visited, a.link-perso:link, a.link-perso:active {
	color: #93AA49;
	text-decoration: none;
	background-color: transparent;
	font: 13px Trebuchet MS, Arial, Helvetica, sans-serif;
	background: url("fl4.gif");
    background-repeat: no-repeat;
	padding-left: 15px;
	background-position: center left;
	line-height: 11pt;
}
a.link-rech:visited, a.link-rech:link, a.link-rech:active {
	color: #B843B9;
	text-decoration: none;
	background-color: transparent;
	font: 13px Trebuchet MS, Arial, Helvetica, sans-serif;
	background: url("fl5.gif");
    background-repeat: no-repeat;
	padding-left: 15px;
	background-position: center left;
	line-height: 11pt;
}
a.link-entr:visited, a.link-entr:link, a.link-entr:active {
	color: #446FFC;
	text-decoration: none;
	background-color: transparent;
	font: 13px Trebuchet MS, Arial, Helvetica, sans-serif;
	background: url("fl6.gif");
    background-repeat: no-repeat;
	padding-left: 15px;
	background-position: center left;
	line-height: 11pt;
}
a.link-ent:visited, a.link-ent:link, a.link-ent:active {
	color: #5E0000;
	text-decoration: none;
	//background-color: transparent;
	font: 13px Trebuchet MS, Arial, Helvetica, sans-serif;
	background: url("fl7.gif");
    background-repeat: no-repeat;
	padding-left: 15px;
	background-position: center left;
	line-height: 11pt;
}

a.link-press:visited, a.link-press:link, a.link-presse:active {
	color: #FF0099;
	text-decoration: none;
	background-color: transparent;
	font: 13px Trebuchet MS, Arial, Helvetica, sans-serif;
	background: url("flrose.gif");
    background-repeat: no-repeat;
	padding-left: 15px;
	background-position: center left;
	line-height: 11pt;
}
a.link-rub:hover, a.link-rub:visited:hover,
a.link-int:hover, a.link-int:visited:hover,
a.link-fut-etud:hover, a.link-fut-etud:visited:hover,
a.link-etud:hover, a.link-etud:visited:hover,
a.link-perso:hover, a.link-perso:visited:hover,
a.link-rech:hover, a.link-rech:visited:hover,
a.link-entr:hover, a.link-entr:visited:hover,
a.link-ent:hover, a.link-ent:visited:hover,
a.link-press:hover, a.link-press:visited:hover {
	text-decoration: none;
	background-color: white;
	font: 13px Trebuchet MS, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	line-height: 11pt;
}
.searchU, a.searchU:visited, a.searchU:link, a.searchU:active {
	font: 12px Trebuchet MS, Arial, Helvetica, sans-serif;
	color: #666666;
	text-decoration: none;
	background-color: transparent;
	background: url("puce.gif");
    background-repeat: no-repeat;
	padding-left: 15px;
	background-position: center left;
	line-height: 11pt;
}
a.searchU:hover, a.searchU:visited:hover {
	font: 12px Trebuchet MS, Arial, Helvetica, sans-serif;
	color: #C39114;
	text-decoration: underline;
	background-color: transparent;
	background: url("puce2.gif");
    background-repeat: no-repeat;
	padding-left: 15px;
	background-position: center left;
	line-height: 11pt;
}
.text-command, a.text-command:visited, a.text-command:link, a.text-command:active, a.text-command:hover, a.text-command:visited:hover {
	font: 12px Trebuchet MS, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color:#000000;
}
.menulevel1 {
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 12px;
}
.menulevel2 {
	font-size: 10px;
	padding-left: 20px;
}
.menulevel3	{
	font-size: 10px;
	padding-left: 35px;
}
.menulevel4	{
	font-size: 10px;
	padding-left: 50px;
}
.menulevel5	{
	font-size: 10px;
	padding-left: 65px;
}
.menulevel6	{
	font-size: 10px;
	padding-left: 80px;
}
.cadre {
	//border: 1px solid #CCCCCC;
}
.adminmenu {
    vertical-align: middle;
    white-space: nowrap;
}
.adminmenu a {
    color: red;
}

#globallinkhaut {
     padding-left: 8%; 
     width: 250px;
     text-align: left;
     }

#globallinkbas {
     padding-left: 8%; 
     width: 200px;
     text-align: left;
     }

.content-wclip {
	background-color: #EDF1F0;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.bg { background-color: #EDF1F0; }
