﻿/* BLOC SERVICES*/

.jcarousel-container img{
	border:0;
	margin:0;
	padding:0;
}
 
.jcarousel-container {
    position: relative;
	background:url(bg_services.png) no-repeat;
	width: 257px;
	height:182px;
	margin-bottom:15px;
}
.jcarousel-container .anyClass{
	margin-left:10px;
	margin-right:10px;
}
.jcarousel-container .anyClass li{
	margin-right:4px;
	margin-left:4px;
}
.jcarousel-container .selection{
	margin-left:19px;
}

.jcarousel-container .next {
    z-index: 3;
	float:right;
	margin-right:8px;
	margin-top:20px;
}

.jcarousel-container .prev {
    z-index: 3;
	float:left;
	margin-left:8px;
	margin-top:20px;
}

.jcarousel-container .top{
	text-align:center;
	padding-top:15px;
	color:#ff7d29;
	font-size:20px;
}
.jcarousel-container .top .sous_titre{
	color:#000;
	font-size:12px;
}
.jcarousel-container .texte_bas{
	text-align:center;
	color:#ff7d29;
	font-size:14px;
}
.jcarousel-container .bouton{
	margin-left:65px;
	margin-top:5px;
}
.jcarousel-container .ServiceBottom{
	margin-top:-10px;
}





/* PAGE SERVICE CARTES CADEAUX */
.bordered{
	margin-top:35px;
}
.cartes_s{
	/*width:474px;*/
	height:180px;
	float:left;
}

.bordered #anyClass img, .bordered #anyClass2 img, .bordered #anyClass3 img{
	border:0;
	margin:0;
	padding:0;
}
 
.bordered {
    position: relative;
	height:182px;
	margin-bottom:15px;
}
/*.bordered #anyClass{
	margin-left:10px;
	margin-right:10px;
}*/
.bordered #anyClass li, .bordered #anyClass2 li, .bordered #anyClass3 li{
	margin:0 5px;
}
.bordered .selection{
	margin-left:19px;
}

.bordered #next, .bordered #next2, .bordered #next3 {
    z-index: 10;
	float:left;
	margin:0 10px 0 5px;
	margin-top:60px;
}

.bordered #prev, .bordered #prev2, .bordered #prev3 {
    z-index: 10;
	float:left;
	margin:0 5px 0 10px;
	margin-top:60px;
}

.bordered .top{
	text-align:center;
	padding-top:15px;
	color:#ff7d29;
	font-size:20px;
}
.bordered .top .sous_titre{
	color:#000;
	font-size:12px;
}
#cartes_services .texte_bas{
	background:url(fond_texte.png) no-repeat;
	position:relative;
	z-index:100;
	top:-50px!important;
	margin-top:0!important;
	margin-top:-160px;
	left:55px;
	width:401px;
	height:71px;
	text-align:center;
	color:#00447d;
	font-size:11px;
 	padding: 62px 20px 20px;
}

#cartes_services .texte_bas span{
	font-size:12px;
	font-weight:bold;
	display:block;
}
.bordered .bouton{
	margin-left:65px;
	margin-top:5px;
}
.bordered .ServiceBottom{
	margin-top:-10px;
}