﻿@charset "utf-8";
/* CSS Document */

.AspNet-WebPart{	
	height:auto!important;	
}

/* BEGIN */
html, body{
	height:100%;
}
body {
	background-repeat:repeat-x;
	background-position:0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#505050;
	line-height:14px;
}
a {
	text-decoration:none;
	color:#275d24;
}
a:hover {
	text-decoration:underline;
	cursor:pointer;
}
#nuage, #nuage_int {
	background-repeat:no-repeat;
	background-position:top center;
	width:100%;
}
#container {
	width:980px;
	height:100%;
	min-height:700px;
	margin:auto;
	padding-bottom:70px;
}
#footer_background {
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-position:bottom center;
}

/* TOTEM */
#pub_geant {
	position:absolute;
	z-index: 1;
	width:110px;
	height:650px;
	margin:15px 0 0 5px;
	background:url('pub_geant.gif') no-repeat left top;
}
#pub_geant a {
    display:block;
    position:absolute; top:142px; left:0;
    	z-index: 1;
    width:97px; height:183px;
    background:none;   
}
#pub_geant a:hover {
    background:url(pub_geant_link.gif) left top no-repeat;   
}
#contenu {
	padding:10px 0px 0px 100px;
	min-height:700px;
}
#menu_principal, #menu_principal_int {
	height:70px;
	background:url('fond_menu_principal.png') no-repeat;
	padding:7px 7px 5px 7px;
}
#menu_principal_int {
	background:url('fond_menu_principal_int.png') no-repeat;
}
#top {
	width:870px;
}
#visuel_saison {
	width:280px;
	height:378px;
	background-position:0px 20px;
	background-repeat:no-repeat;
	/*position:relative;
	z-index:1;*/
}
#visuel_saison img {
	width:100%;
	height:100%;
}
#promotion {
	float:right;
}
#promotion img {
	margin:0px;
}
#actualite {
	width:290px;
	margin:0px 5px 0px 5px;
	float:left;
}
#info_conso {
	width:295px;
	margin:0px 5px 0px 5px;
	float:left;
}
#services {
	width:250px;
	margin:0px 0px 0px 2px;
	float:left;	
}
#actualite img, #info_conso img, #services img {
	margin-bottom:15px;
}
#footer {
	clear:both;
	width:970px;
	height:50px;
	background:url('footer_background.png') no-repeat left top;
	padding-top:14px;
	margin-top:50px;
}
#footer ul {
	list-style:none;
}
#footer ul li {
	float:left;
	background:url('separateurs_footer.gif') no-repeat right bottom;
	padding:0px 15px 0px 15px;
	font-size:9px;
}
#menu_footer {
	width:485px;
	margin:auto;
}

/* MENU PRINCIPAL */
#menu_top {
	border-bottom:1px solid #eaeaeb;
	height:35px;
	width:862px;
}
#menu_top a {
	text-transform:uppercase;
	font-size:13px;
	font-weight:bold;
	color:#345e29;
}
#menu_top a.link {
	display:inline-block;
	text-transform:none;
	font-weight:normal;
}
#menu_top ul {
	float:left;
	height:20px;
}
#menu_top ul li {
	background:url('separateur_menu_top.gif') no-repeat 0 12px;
	float:left;
	padding:0 11px 0 11px;
	height:24px;
}
#menu_top ul li a {
	padding-top:12px;
	height:20px;
	display:block;
	width:auto;
	float:left;
}
#menu_top ul li a.active {
	background:url('marqueur.gif') repeat-x left top;
}
#menu_top ul li.first_child {
	background:none;
}
#search_form_container {
	background:url('fond_recherche.gif') no-repeat;
	margin:5px 15px 0px 20px;
	width:115px;
	height:25px;
	float:left;
	visibility:hidden;
}
#recherche_form {
	padding:2px 2px 0px 2px;
}
#recherche_form input {
	font-size:9px;
	text-transform:uppercase;
}
#recherche_form label, #recherche_form p {
	display:inline;
	margin:0px;
	padding:0px;
}
#recherche_txt {
	border:1px solid #FFF;
	width:80px;
	height:13px;
	margin-left:3px;
}
#recherche_btn {
	border-style: none;
	border-color: inherit;
	border-width: medium;
	width:20px;
		height:20px;
	background:url('loupe.gif') no-repeat center;
		text-indent:20px;
	cursor: pointer;
}
.link {
	display:block;
	padding-top:10px;
}
#menu_bottom {
	height:37px;
	width:862px;
}
#deconnexion
{
	margin-top:8px;
	margin-left:25px;
}
.text_bienvenue
{
   margin-bottom:10px;
   float:left;
   margin-right:10px;
   margin-top:3px;
   font-size:12px;
   font-weight:bold;
   
   
}
#mon_compte {
	float:left;
}
.decalage10 {
	margin-top:10px;
}
.decalageHautLeft10 {
	margin-top:10px;
	margin-left:10px;
}
.decalage5 {
	margin-top:5px;
}

#menu_bottom ul li {
	float:left;
}
#menu_bottom ul li a {
	margin:0px 12px 0px 12px;
}
#menu_bottom #fonctions {
	float:right;
	margin-right:13px;
}
#contenu h2 {
	/*height:18px;*/
	margin-bottom:10px;
}
/* PAGES INTERIEURES */
#deux_colonnes {
	width:596px;
	padding:10px 0px 0px 10px;
	float:left;
	margin-bottom:20px;
}
#deux_colonnes_liste {
	width:595px;
	padding:10px 0px 0px 10px;
	float:left;
	margin-bottom:20px;
}

#deux_colonnes_liste h3 {
	font-size:20px;
	font-weight:normal;
	margin:10px 0 10px 0px;
}
#deux_colonnes_liste p {
	padding:0 0 10px 5px;
}

#deux_colonnes h3 {
	font-size:20px;
	font-weight:normal;
	margin:10px 0 10px 0px;
}

#deux_colonnes p {
	padding:0 0 10px 5px;
}
#deux_colonnes_large {
	width:867px;
	padding:10px 0px 0px 10px;
	/*float:left;*/
}
#deux_colonnes_large h3 {
	font-size:20px;
	font-weight:normal;
	margin:10px 0 10px 5px;
}
#deux_colonnes_large p {
	/*padding:0 0 10px 5px;*/
}
#pathway {
	color:#000;

	margin: 0 0 0 5px;
}
#pathway a {
	font-weight:bold;
}
.encart_gauche {
	float:left;
	width:295px;
}
.encart_droite {	
	float:right;
	width:295px;
}
.encart_droite_cartes{
	float:right;
	width:295px;
	margin-top:53px;
}


#deux_colonnes .encart_droite p, #deux_colonnes .encart_gauche p {
	padding-bottom:5px;
}
.encart_droite img, .encart_gauche img {
	margin-bottom:12px;
}
#colonne_droite {
	float:right;
	width:265px;
	margin-bottom:20px;	
	margin-top:70px!important;
	margin-top:60px;
}
#colonne_droite img {
	margin-bottom:11px;
}

#colonne_droite2 {
	background:url('haut.png') no-repeat right top;
	float:right;
	width:273px;
	min-height:305px!important;
	height:315px;
}

#colonne_droite_promo {
	float:right;
	width:265px;
	margin-bottom:20px;	
}
#colonne_droite_promo img {
	margin-bottom:11px;
}

div.hr {
	border-style: none;
	border-color: inherit;
	border-width: medium;
	clear:left;
 	background: url('separateur.gif') no-repeat center bottom;
		padding:10px 0px 10px 0px;
		height:1px;
	}
hr{
	color:#dadada;
	background-color: #dadada;
	height:1px;
	border:none;
}

div.hr hr {
  display: none;
}
.mev {
	font-weight:bold;
}
#pi_visuel_saison {
	width:250px;
	height:307px;
	background-position:0px 20px;
	background-repeat:no-repeat;
}
#pi_visuel_saison img {
	width:100%;
	height:100%;
}

h3.titre_vert {
	color:#345e29;
}
h3.titre_bleu, h2.titre_bleu {
	color:#024d86;
}
h3.titre_rouge {
	color:#a61620;
}
h3.titre_blanc {
	color:#fff;
}

h2.titre_blanc {
	font-size:14px;
	color:#fff;
}
h2.titre_vert {
	font-size:12px;
	color:#345e29;
}
.titre_bleu{
	color:#00447d;
}

.puce{
	background:url('http://www.geantcasino.fr/Style%20Library/fleche_verte.gif') no-repeat;
	padding-left:10px;
}
.sous_titre14{
	font-size:14px;
	color:#024d86;
	height:10px!important;
}
.sous_titre{
	font-size:12px;
	color:#00447d;
}
.sous_titre_10{
	font-size:10px;
	color:#00447d;
	font-weight:bold;
}
.sous_titre_10_gris{
	font-size:10px;
	color:#636467;
	font-weight:bold;
}

.sous_titre_18{
	font-size:18px;
	color:#00447d;
	font-weight:bold;
}


/* PAGES COMPTES */

.encart_nouveaucompte {
	float:left;
	background: url('fond_nouveau_compte.png') no-repeat;
	width:556px;
	height:221px;
	padding:20px;
}
.encart_nouveaucompte2 {
	float:left;
	background: url('fond_nouveau_compte2.png') no-repeat;
	width:420px;
	height:221px;
	padding:20px;
}
.encart_identification {
	width:231px;
	height:345px;
	background:url('indentification.png') no-repeat;
	margin-top:-15px;
	margin-left:15px;
	padding:10px 20px 20px;
}
.encart_login
{
	width:425px;
	height:345px;
	background:url('indentification2.png') no-repeat;
	margin-top:-15px;
	margin-left:15px;
	padding:10px 10px 10px;
}
.encart_login .label_titre
{
	float:left;
	text-align:right;
	width:87px;
	font-weight:bold;
	margin-top:5px;
	margin-right: 10px;
}

.encart_login #input_size input
{
		width:250px;
}
.encart_login h3 {
	font-size:20px;
	font-weight:normal;
	margin:20px 0 20px 0px;
}

.boutonInscription
{
	text-align:center;
	padding-left:220px;
	margin-bottom:30px;
}
.boutonInscription img
{
	vertical-align: middle;
	float: left;
	margin-top:15px;
	margin-right:10px;
}
.boutonInscription input{
	float:left;
	margin-top:15px;
}
.bouton{
	text-align:center;
	padding-left:100px;
	margin-bottom:30px;
}
	
.bouton img {
	vertical-align: middle;
	float: left;
	margin-top:15px;
	margin-right:10px;
}
.bouton input{
	float:left;
	margin-top:15px;
}
.encart_identification h3 {
	font-size:20px;
	font-weight:normal;
	margin:20px 0 20px 0px;
}

.rouge{
	color:#a61620;
}







/* Ajout SQLI Agency - 02/06/2009  */
.clear {clear:both; font-size:1%; height:1%; margin:0; padding:0; width:1%;}
.clear-left{clear:left;}
.alignC {text-align:center;}
.alignL {text-align:left!important}
.alignR {text-align:right;}
.hidden {display:none;}
.noppadding {padding:0 !important}
.nomargin {margin:0 !important}
.marginb0{margin-bottom:0px!important}
.marginb5{margin-bottom:5px!important}
.marginb20{margin-bottom:20px!important}
.marginb15{margin-bottom:15px!important}
.marginT20{margin-top:20px!important}
.marginT0{
	margin-top:0px;
}
.marginT5{margin-top:5px!important}
.marginT10{margin-top:10px!important}
.marginT170{
	margin-top:170px!important;
}
.alignmiddle{
	vertical-align: middle!important;	
}

.borderTop{
	border-top: 1px solid #e3e3e3;
}
.texte_bleu{
	color:#00447d;
}

.texte12{
	font-size:12px;
}

.paddingL10{
	padding-left:10px;
}

.marginL0{
	margin-left:0px!important;
	/*margin-left:5px;*/
}
.marginL5{
	margin-left:5px!important;
}
.marginL10{
	margin-left:10px!important;
	/*margin-left:5px;*/
}
.marginL15{
	margin-left:15px!important;
	/*margin-left:7px;*/
}
.marginL19{
	margin-left:19px!important;
	margin-left:9px;
}
.marginL25{
	margin-left:25px!important;	
}
.marginL35{
	margin-left:35px!important;
	margin-left:23px;
}

.marginL70{
	margin-left:65px!important;
}


.marginL215{
	margin-left:215px!important;
	margin-left:213px;
}





.normal{font-weight:normal}
.height40{
	height:40px;
	line-height:40px;
}
.paddingtop10{
	padding-top:10px;
}
.paddingtop5{
	padding-top:5px;
}
#menu_bottom ul li a {margin:0;}
.puce {
	margin:0; padding:0 0 0 11px;
	background:url('puce.gif') no-repeat 3px 4px;
}
#footer ul li.last {background:none;}
#recherche_btn {
	position:relative; top:2px; left:3px;
		z-index: 1;
	width:auto; height:auto;
	text-indent:inherit;
	background:none;
	border:none;
}

/* Newsletter  */
#newsletterlink {
	position:relative;
		z-index: 1;
	display:inline-block;
	margin:0; padding:10px 19px 11px 19px;
	background:url('puce.gif') no-repeat 12px 16px;
	color:#345E29;
	font-size:13px; font-weight:normal;
	text-transform:none;
}
#newsletterlink:hover  {
	color:#cc1104;
	background:url('newsletterlink_bg.gif') no-repeat -1px 1px;
}
#newsletterlink.selected span  {
	color:#cc1104;
	background:url('newsletterlink_bg.gif') no-repeat -1px 1px;
}
#newsletter {
	display:none;
	position:absolute; top:35px; right:-16px;
		z-index: 1;
	width:282px; height:77px;
	margin:0; padding:10px 0 0 0;
	background:url('newsletter_bg.png') no-repeat left top;
}
#newsletter .titre {
	margin:0; padding:0 29px;
	font-size:14px; font-weight:bold;
	color:#16601e;
	text-decoration:none !important;
}
#newsletterlink:hover #newsletter .titre  {
	text-decoration:none;

}
#newsletter div {
	width:224px; height:auto;
	margin:0; padding:8px 29px 0 29px;
}
#newsletter div																																																						 label {
	font-size:11px; color:#000000;
}
.champ_newsletter {
	float:left;
	width:126px; height:13px;
	margin:3px 0 0 0; padding:0;
	font-size:11px;
}
#newsletter #btn_sabonner {
	float:left;
}

/* Magasin */
#magasinlink {
	position:relative;
		z-index: 1;
	display:inline-block;
	width:82px; height:14px;
	padding:10px 17px 11px 18px;
	background:url('mon_magasin.gif') no-repeat 16px 10px;
	color:#345E29;
	font-size:13px; font-weight:normal;
	text-transform:none;
}
#magasinlink:hover  {
	background:url('magasinlink_bg.gif') no-repeat 0 -1px;
}
#magasin {
	display:none;
	position:absolute; top:34px;left:0px;
	width:495px; height:169px;
	margin:0; padding:10px 0;
	background:url('magasin_bg.png') no-repeat left top;
	z-index:101;
}
#magasin_lefty {
	float:left;
	width:140px; height:auto;
	margin:0; padding:20px 10px 0 95px;
}
#magasin_lefty .titre{
	font-size:14px; font-weight:bold;
	color:#3d5502;
}
#magasin_lefty label{
	font-size:11px;
	color:#000;
}
#magasin_lefty #magasin_cp{
	float:left;
	margin:5px 0 0 0;
	width:97px; height:13px;
	font-size:11px;
}
#magasin_lefty #magasin_btn{
	float:left;
	margin:6px 0 0 2px;
}
#magasin_righty{
	float:left;
	width:200px; height:auto;
	margin:0; padding:28px 25px 0 25px;
}
#magasin_righty ul {
	margin:10px 0 0 20px; padding:0;
	list-style-type:square;
	list-style-position:outside;
	font-size:11px;
	color:#000000;
}
#magasin_righty ul li {float:none !important;}

/* Magasin Connect */
#magasinpluglink {
	position:relative;
		z-index: 1;
	display:inline-block;
	width:82px; height:14px;
	padding:10px 17px 11px 18px;
	background:url('mon_magasin.gif') no-repeat 16px 10px;
	color:#345E29;
	font-size:13px; font-weight:normal;
	text-transform:none;
}
#magasinpluglink:hover  {
	background:url('magasinlink_bg.gif') no-repeat 0 -1px;
}
#magasinplug {
	display:none;
	position:absolute; top:34px; left:0px;
		z-index: 1;
	width:555px; height:200px;
	margin:0; padding:10px 0;
	background:url('magasinplug_bg.png') no-repeat left top;
}
#magasinplug_lefty {
	float:left;
	width:256px; height:auto;
	margin:0; padding:0 10px 0 20px;
	font-size:11px;
	color:#3d5502;
}
#magasinplug_lefty .retrait {
	margin:0; padding:15px 0 5px 75px;
}
#magasinplug_lefty .titre{
	font-size:14px; font-weight:bold;
	color:#3d5502;
}

#magasinplug_righty{
	position:relative;
		z-index: 1;
	float:left;
	width:244px; height:auto;
	margin:0; padding:10px 20px 0 5px;
}
#magasinplug_righty .toutespromos {
	position:absolute; top:146px; right:42px;
		z-index: 1;
	margin:0; padding:0 0 0 11px;
	background:url('puce.gif') no-repeat 3px 4px;
	font-size:11px;
}


/* Mon Compte  */
#moncomptelink {
	position:relative;
		z-index: 1;
	display:inline-block;
	width:178px; height:14px;
    padding:10px 21px 11px 21px;
	background:url('mon_compte.gif') no-repeat 20px 10px;
	color:#345E29;
	font-size:13px; font-weight:normal;
	text-transform:none;
}
#moncomptelink:hover  {
	background:url('moncomptelink_bg.gif') no-repeat 0 -1px;
}
#moncomptelink input{
	width:150px
}
#moncompte {
	display:none;
	position:absolute; top:34px; left:-118px;
	width:655px; height:169px;
	margin:0; padding:10px 0;
	background:url('moncompte_bg.png') no-repeat left top;
	z-index:100;
}

#moncompte_lefty {
	float:left;
	width:156px; height:auto;
	margin:0; padding:17px 0 0 15px;
}
#moncompte_lefty .titre{
	font-size:14px; font-weight:bold;
	color:#3d5502;
}
#moncompte_lefty #moncompte_email{
	margin:8px 0 0 0;
	width:120px; height:11px;
	font-size:11px;
}
#moncompte_lefty #moncompte_pass{
	margin:2px 0 0 0;
	width:120px; height:11px;
	font-size:11px;
}
#moncompte_connec {
	margin:8px 0 0 0;
}
#moncompte_lefty .forgot_pass {
	position:relative; top:6px;
		z-index: 1;
	margin:0; padding:0 0 0 15px;
	font-size:11px;
	color:#3d5502;
	background:url('puce.gif') no-repeat 5px 4px;
}

#moncompte_righty {
	position:relative;
		z-index: 1;
	float:left;
	width:484px; height:auto;
	margin:0; padding:0;
}
#moncompte_righty .titre{
	position:absolute; top:15px; left:18px;
	z-index: 1;
	font-size:14px; font-weight:bold;
	color:#3d5502;
	padding-top:0px!important;
}
#moncompte_righty .creercompte{
	position:absolute; top:39px; left:16px;
		z-index: 1;
}

#moncompte_righty .retral {
	width:324px; height:auto;
	margin:0; padding:20px 0 0 160px;
}

#moncompte_righty .retral ul {
	margin:10px 0 0 30px; padding:0 10px 0 0;
	list-style-type:square;
	list-style-position:outside;
	font-size:11px;
	color:#000000;
}
#moncompte_righty .retral ul li {float:none !important;}

/* Mon Compte Connect  */
#moncomptepluglink {
	position:relative;
	z-index: 1;
	display:inline-block;
	width:178px; height:14px;
	margin: 0 0 0 2px;
	padding:10px 21px 11px 21px;
	background:url('mon_compte.gif') no-repeat 20px 10px;
	color:#345E29;
	font-size:13px; font-weight:normal;
	text-transform:none;
}
#moncomptepluglink:hover  {
	background:url('moncomptelink_bg.gif') no-repeat 0 -1px;
}
#moncompteplug {
	display:none;
	position:absolute; top:34px; left:-119px;
	width:655px; height:169px;
	margin:0; padding:10px 0;
	background:url('moncompteplug_bg.png') no-repeat left top;
	font-size:11px;
	z-index:100;
}
#moncompteplug_col1 {
	float:left;
	width:113px; height:auto;
	margin:0; padding:15px 14px 0 18px;
}
#moncompteplug_col2 {
	float:left;
	width:133px; height:auto;
	margin:0; padding:15px 9px 0 18px;
}
#moncompteplug_col3 {
	float:left;
	width:157px; height:auto;
	margin:0; padding:15px 7px 0 16px;
}
#moncompteplug_col4 {
	float:left;
	width:133px; height:auto;
    padding:15px 16px 0px 15px;
}
#moncompteplug_col4 label{
	float:left;
	width:auto; height:auto;
	margin:0; padding:15px 16px 15px 16px;
}

#moncompteplug .titre{
	margin:0; padding:0 0 20px 0;
	font-size:14px; font-weight:bold;
	color:#000;
}
#moncompteplug .image{
	margin:0; padding:0 0 20px 0;
}


.alerte {
	margin:0; padding:0 0 0 20px;
	background:url('cloche.png') no-repeat 2px top;
}

/* Conso */
#conso {
	width:295px; height:auto;
	margin:0; padding:0;
}
#conso ul{
	width:295px; height:46px;
	margin:0; padding:0;
	list-style:none;
}
#conso ul li {
	float:left;
	width:auto; height:auto;
	margin:0; padding:0;
}

#conso ul li a, #conso ul li a:link, #conso ul li a:visited, #conso ul li a:hover {
	display:block;
	width:66px; height:28px;
	margin:0; padding:18px 1px 0px 1px;
	text-align:center;
	font-size:11px; font-weight:bold;
	color:#FFF;
	text-decoration:none;
	background:url('delicesonglet.png') no-repeat left bottom;
}
#conso ul li a.selected, #conso ul li a.selected:link, #conso ul li a.selected:visited, #conso ul li a.selected:hover {
	display:block;
	width:78px; height:28px;
	margin:0; padding:18px 1px 0px 1px;
	text-align:center;
	font-size:11px; font-weight:bold;
	color:#000;
	background:url('delicesonglet_selec.png') no-repeat left bottom;
}

.conso_content {
	display:none;
	width:287px; height:auto;
	margin:0; padding:15px 4px 15px 4px;
	background:url('gourmet_content_bg.png') no-repeat left bottom;
}
.conso_content img{
	margin:0; padding:0;
}
.conso_content .withpuce {
	margin:8px 0 0 0; padding:0 20px;
	background:url('puce.gif') no-repeat 12px 4px;
	font-size:12px;
	color:#275d24;
}
.conso_content .desc {
	margin:6px 0 0 0; padding:0 20px;
	font-size:11px;
	color:#000;
}



.lien_bleu{
	text-decoration:underline;
	color:#00447d;
	font-weight:bold;
}
.lien_vert{
	background:url('fleche_verte.gif') no-repeat 0px 3px;
	padding-left:10px;
	font-weight:normal;
}
.lien_vert_grand{
	background:url('fleche_vert_grande.gif') no-repeat 0px 5px;
	padding-left:10px;
	font-weight:normal;
}
.lien_rouge{
	background:url('fleche-rouge.gif') no-repeat 0px 3px;
	padding-left:10px;
	color:#ce1404;
	line-height:12px;
}



/* AIDE */

.aide{
	position:relative;
	z-index: 1;
}
.aide .aide_haut{
	background:url('http://www.geantcasino.fr/style%20library/images/formulaire/aide_haut.png') no-repeat center bottom;
	width:168px;
	height:8px;
}
.aide .aide_fond{
	background:url('http://www.geantcasino.fr/style%20library/images/formulaire/aide_fond.png') no-repeat;
	width:168px;
}
.aide .aide_bas{
	background:url('http://www.geantcasino.fr/style%20library/images/formulaire/aide_bas.png') no-repeat;
	width:168px;
	height:8px;
}
.aide span{
	display:none;

}
.aide:hover span{
   display:block; 
   position:absolute; 
   	z-index: 1;
   top:-22px; 
   left:25px;
   color:#000;

}
.aide p{
	padding:0px 10px 0px 30px;
}


.pub_bas{
	margin-left:10px;
}

.floatR{float:right;
}

.ms-siteaction {
	height: 0px;
}

