#id_diapo{padding-left:15px;}

#lien_ed{margin-left:8px;}
#lien_cp{margin-left:25px;}
#lien_ai{margin-left:8px;}

.agenda_bleu {background:rgb(213,225,240); padding-left:5px;}
.agenda_jaune {background:rgb(217,239,185); padding-left:5px;}
.info {width:170px; margin-left:-20px; text-align:center;}
.main-content td {color:#646464;}

// les 2 sont ok
//#stop{float:right;position:absolute;z-index:200;margin-left:5px;}
//#play{float:right;position:absolute;z-index:200;margin-left:165px;}

#stop{position:absolute;z-index:200;margin-left:135px;margin-top:-29px}
#play{position:absolute;z-index:200;margin-left:160px;margin-top:-29px}

#accueil_actu{color:#123456;font-family:verdana,arial,sans-serif;padding:5px 5px 5px 5px;background-color:rgb(217,239,185);}
#accueil_date{color:#123456;font-family:verdana,arial,sans-serif;padding:5px 5px 5px 5px;background-color:rgb(213,225,240);}

#accueil_actu .titre, #accueil_date .titre {padding:2px 0 2px 2px; background:rgb(190,190,190); font-family:"trebuchet ms",arial,sans-serif; color:rgb(255,255,255); font-weight:bold; font-size:120%;}
