.menu-rapide li.vousetes{
	background-image:url(bouton-vousetes.gif);
}

.menu-rapide li.vousetes:hover {
	background-image:url(bouton-vousetes-actif.gif);
}

.menu-rapide li a.partenaires{
	background-image:url(bouton-partenaires.gif);
}

.menu-rapide li a.partenaires:hover {
	background-image:url(bouton-partenaires-actif.gif);
}

.menu-rapide li.sinformer {
	background-image:url(bouton-sinformer.gif);
}

.menu-rapide li.sinformer:hover {
	background-image:url(bouton-sinformer-actif.gif);
}

.menu-rapide li.contacter {
	background-image:url(bouton-contacter.gif);
}

.menu-rapide li.contacter:hover {
	background-image:url(bouton-contacter-actif.gif);
}

/* Style de rubrique */

.actu-agenda ul .actualites li.actif {
	background-image :  url(actualites-onglet.gif);
}

.actu-agenda ul .actualites li.inactif {
	background-image :  url(actualites-onglet-inactif.gif);
}

.actu-agenda ul .agenda li.inactif {
	background-image :  url(agenda-onglet.gif);
}

.actu-agenda ul .agenda li.actif {
	background-image :  url(agenda-onglet-actif.gif);
}

/* style_actualites.css */

.boite-recherche input.bouton-reset {
	background-image: url(bouton-annuler.gif);
}

.boite-recherche input.bouton-valider {
	background-image: url(bouton-valider.gif);
}

/* style_offre-formation.css */

.zoom ul .zoom-sur li.actif {
	background-image :  url(zoomsur-onglet.gif);
}

.zoom ul .zoom-sur li.inactif {
	background-image :  url(zoomsur-onglet-inactif.gif);
}

.zoom ul .actualites li.inactif {
	background-image :  url(actualites-onglet-bleu.gif);
}

.zoom ul .actualites li.actif {
	background-image :  url(actualites-onglet3.gif);
}

div.alaune {
	background-image : url(alaune.gif);
}