/* Feuille de style définissant la parties relatives à la page d'accueil */
 
.global-center {
    text-align : center;
}

.global-accueil {
    text-align : left;
}
 
  /* Définition de la partie de contenu redactionnel divisée en 2 lignes */
.contenu1  {
    margin : 0;
    width: 860px;
    padding-right: 10px;
    padding-left: 12px;
    float: left;
    height : 260px;
}
.contenu2 {
    width: 860px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    /*margin-top : 20px;*/
    margin-bottom : 15px;
    /*margin-bottom : 35px;
    -margin-bottom : 37px;*/
}

/* Définition du diaporama présent dans la partie #contenu1 à gauche */
.diaporama {
    float: left;
    width: 554px;
    text-align : left;
}
/* Définition de la légende du diaporama */
.legende {
    background-color: #FFFFFF;
    width: 554px;
    height: 37px;
    margin-top: -50px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding-left: 15px;
    padding-top : 10px;
}

.legende h1 {
    font-size: 0.8em;
    color: #E36F12;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.legende p {
    font-size: 0.8em;
    color: #000000;
    margin: 0px;
    padding: 0px;
}
/* ------------------------------------------ */

/* Définition de "A la une" dans la partie #contenu1 à droite */
.alaune {
    font-size: 0.8em;
    color: #777777;
    line-height: 1.3em;
    float: right;
    width: 285px;
    padding-top : 40px;
    background-repeat : no-repeat;
    background-position : left top;
    text-align : left;
}

.alaune img.illustration {
    float: right;
    /*width : 107px;
    height : 90px;*/
}
.alaune h4 {
    font-size: 1em;
    font-weight: bold;
    color: #00609F;
    margin: 0px;
    padding: 0px;
}
.alaune p {
    margin: 5px 0px 0px;
    padding: 0px;
}
.alaune a {
    color: #E36F12;
    float: right;
    font-weight: bold;
}
.alaune a:hover {
    text-decoration: underline;
}
/* ------------------------------------------ */

/* Définition de la boite Act'UEVE dans la partie #contenu2 au centre */

.actueve {
    float: left;
    width: 396px;
    text-align : left;
}

.actueve .boite1 .top {
    background-image :  url(actueve-haut-fond.gif);
    background-repeat : no-repeat;
    background-position : right top;
    height : 40px;
}
.actueve .boite1 .top img.actueve {
    height : 40px;
    width : 132px;
    float : left;
}

.actueve .boite1 .top img.agenda {
    height : 40px;
    width : 122px;
    float : left;
}

.actueve .boite1 .bottom {
    background-image :  url(boite1-bas.gif);
    background-repeat : no-repeat;
    background-position : bottom;
    height : 20px;
}
    
.actueve .article {
    padding-bottom: 20px;
    overflow: auto;
    clear: both;
}

.actueve .article h4 {
    font-size: 1em;
    font-weight: bold;
    color: #E36F12;
    margin: 0px;
    padding: 0px;
}
.actueve .article h4 a {
    color: #E36F12;
}
.actueve .article img {
    float: left;
    margin-right: 5px;
    /*width : 50px;
    height : 50px;*/
}
.actueve .article p {
    margin: 0px;
    padding: 0px;
}
.actueve .article a {
    color: #00609F;
}
.actueve .article a:hover {
    text-decoration: underline;
}
/* ------------------------------------------ */

/* Définition de la boite Video'UEVE dans la partie #contenu2 à droite */
.videoeve {
    float: right;
    width: 260px;
}

.videoeve .boite1 .top {
    background-image :  url(videoeve-haut-fond.gif);
    background-repeat : no-repeat;
    background-position : right top;
    height : 40px;
}

.videoeve .boite1 .top img.videoeve {
    width : 147px;
    height : 40px;
    float : left;
}

.videoeve .boite1  .center {
    background-image: url(boite1-fond-centre.gif);
    background-repeat: repeat-x;
    margin-right : 6px;
    padding-top : 20px;
    padding-right: 16px;
    padding-left: 25px;
    padding-bottom : 20px;
    -padding-bottom : 9px;
}

.videoeve .boite1 .bottom {
    background-image : url(videoeve-bas.gif);
    background-repeat : no-repeat;
    background-position : bottom;
    height : 20px;
}

