/* =RaZ
	---------------------------------------------------- */

	body {
		margin: 0; padding: 0;
		font-family: Arial, Helvetica, Geneva, sans-serif;
		font-size: 62.5%;
		background-color: #8F8787;
	}

	dl, dt, dd, ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input, legend {margin: 0; padding: 0;}
	h1,h2,h3,h4,h5,h6 {font-size: 1em; margin: 0; padding: 0;}
	em {font-style: normal}
	ul, ol {list-style: none}
	address {font-style: normal}
	input, select {font-family: Arial, Helvetica, Geneva, sans-serif;}

	select, input {
		font-size: 1em;
		font-family: Trebuchet MS, Verdana, Arial, Helvetica, Geneva, sans-serif;
		}
	a img {border: 0;}
	a {text-decoration: none;}
	.clear {clear: both; line-height: 1px; font-size: 1px; height: 1px;display: block}

	/* =Going to Print ----------------------------------------- */
	.piedimpression {display: none;}


    

	/*DEBUG*/
/*	img {border: 1px red solid;}*/




/* = MISE EN PAGE PRINCIPALE
---------------------------------------------------- */

	#allContent {
		width: 780px; margin: 0 0 0 -390px;
		position: absolute; top: 0; left: 50%;
		background: #fff url(bgBody.gif) repeat-y 0 0;
		}
	#header {
		height: 110px;
		background: transparent url(bgHeader.gif) repeat-x 0 0;
	}
	#menu, #contenu, #sideInfos {float: left}
	#menu {
		width: 180px;
		background-color: #ccc;
		padding-top: 15em;
		background: #fff url(bgMenu.jpg) no-repeat 0 50px;
	}
	#contenu {
		width: 430px;
		position: relative;
	}
	#sideInfos {width: 170px;}






/* = ENTETE
	---------------------------------------------------- */

	#header #logo a {
		display: block; width: 185px; height: 110px;
		background: transparent url(logoCCI.gif.1) no-repeat 0 0;
		/* Masque */
		font-size: 1px; color: #fff
	}
	#header #baseLine {
		position: absolute; top: 75px; left: 218px;
		height: 25px; width: 400px;
		background: transparent url(bgBaseLine.gif) no-repeat 0 0;
		/* Masque */
		font-size: 1px; color: #B7003E
	}
	#header #logo img {display: none;} /* !! Supprimer du code */

	/* Recherche */
	#recherche {position: absolute; top: 30px; left: 610px}
	#recherche legend {font-size: 1.2em; font-weight: bold; color: #B7003E;}
	#recherche fieldset {border: 0; background: transparent}
	#recherche label {display: none;}
	#recherche img {display: none;} /* !! Supprimer du code */
	#recherche .btnOk {
		border: 1px #333 solid;
		color: #fff;
		background-color: #B7003E;
		-moz-border-radius: 5px;
		font-size: 1em;
		}
	#recherche .inptTxt {font-size: 1.2em; width: 100px;}
	#recherche .inptTxt:focus {background: #ffffcc}





		
/* = INFORMATIONS COLONNE DE DROITE
---------------------------------------------------- */

	#sideInfos h3 {
		background: #A29F9B url(bgFiletTitres.gif) no-repeat 20px -5px;
		color: #fff; font-size: 1.3em;
		padding: 2px 0 2px 30px; margin: 0 0 10px 0
	}
	#sideInfos h4 {
		font-size: 1.4em; font-weight: normal; color: #545250;
		padding: 0 0 0 30px;
		background: transparent url(icnDoc.gif) no-repeat 5px 0;
		}

	#sideInfos dl {
		padding: 0 0 0 30px; margin: 0 5px 0 0;
		background: transparent url(icnAgenda.gif) no-repeat 5px 0;
		}
	#sideInfos dt {color: #545250}
	#sideInfos dd {margin-bottom: 10px;}
	#sideInfos a {color: #B5123E}
	#sideInfos p {
		padding: 0 0 0 30px; margin: 10px 5px 0 0;
		}
	/* Liens acces categories */

	#sideInfos .accesInfo a {
		display: block;
		padding: 2px 0 2px 15px; margin: 0 40px 30px 0;
		background: #777472 url(bgFiletTitres.gif) no-repeat 10px -5px;
		color: #fff;
		}
	#sideInfos .accesInfo a:hover {background-color: #B7003E}

	#sideInfos h3 img {display: none;} /* !! Supprimer du code */
	#sideInfos .accesInfo img {display: none} /* !! Supprimer du code */






/* =Pied de page
	---------------------------------------------------- */

	#navigationContainer {
		clear: both;
		margin: 20px 190px 10px 20px; padding: 5px 0 0 0;
		height: 3em;
		background: transparent url(SmallLogoPied.gif) no-repeat 100% 5px;
		border-top: 1px #ccc solid;

	}
	#navigationContainer li a { color: #B9003E }
	#navigationContainer li { 
		padding: 0 4px 0 4px; 
		border-left: 1px #ccc solid;
		float: left;
		}
	/* Faux alignement de la signature */
	li#linavigation4{
		float: right; margin-right: 40px;
		}







/* =STYLES DES ÉLÉMENTS FONCTIONNELS DU CONTENU
---------------------------------------------------- */

	/* =Arborescence - Breadcrumbs haut de contenu ------------------------ */
		p.arborescence {
			margin-bottom: 1em;
			padding-bottom: 0.5em;
		}
		p.arborescence a {border-bottom: 1px #D99290 solid;}
	/* =INFO PLUS ----------------------------------------- */
		
		#infoPLusContainer {
			margin-top: 1em;
			background: #F2F0ED;
			}
		.tiInfoPlus, #infoPLusContainer #contactPerso strong {
			display: block;
			font-size: 1.2em; color: #fff;
			background: #A29F9B url(bgFiletTitres.gif) no-repeat 20px -5px;
			padding: 3px 3px 3px 30px; margin: 0 0 .8em 0;
			}
		#infoPLusContainer ul {margin: 0; padding: 0 10px 10px 20px; list-style-position: outside}
		#infoPLusContainer ul li {border-bottom: 1px #fff solid; margin-bottom: 5px; padding-bottom: 3px}
		#infoPLusContainer #contactPerso {padding: 0 0 10px 0;}
		#infoPLusContainer #contactPerso dd {padding: 0 0 0 10px}
		#infoPLusContainer #contactPerso img {margin: 0 10px 0 0;}
		
	/* =PAGINATION ----------------------------------------- */
		p.pagination {
			position: relative;
			background: #D99290;
			padding: 3px;
			text-align: center;
			color: #fff;
			border-top: 1px #DA6B6B solid;
		}
		p.pagination a:hover {color: #BF0951 !important}
		p.pagination a {color: #fff !important}
		p.pagination strong {font-weight: bold; color: #595856}
		p.pagination .prev, p.pagination .next { font-size: 1.1em; position: absolute; top: 0.1em;}
		p.pagination .prev {left: 5px}
		p.pagination .next {right: 5px}
	
	/* =OPTIONS (boutique) ----------------------------------------- */

		.lnkOptions {
			background: #F2F0ED; text-align: right;
			border-bottom: 1px #DAD8D6 solid;
			padding: 0 3px 0 0;
			clear: both;
			}
		.lnkOptions select {padding: 0 !important; font-size: 1em !important;}
		.lnkOptions .prix {
			color: #B7003E; font-weight: bold;
			float: left; position: relative; top: 5px; left: 3px;
			}
	/* =Alphabet (glossaire) ----------------------------------------- */
		
		#alphabet {
			display: block;
			padding-top: 1em;
			font-size: 1em !important;
			}
		#alphabet:after {
			content: "."; display: block; clear: both; height: 0;
			visibility: hidden;
		}
		#alphabet a {
			display: block; float: left;
			width: 1.5em; height: 1.5em; line-height: 1.5em; text-align:center;
			border: 1px #fff solid;
			background: #D99290;
			color: #fff !important; 
			}
		#alphabet a:hover {
			background: #D15C5C;
			}







/* =STYLES POUR LES CONTENUS
	---------------------------------------------------- */

		#contenu {}
		#contenu {color: #6D6B69}
		#contenu .commonContainer {
			padding: 0 20px 10px 50px; margin: 0 0 5px 0;
			clear: both;
			position: relative;
		}
	/* =IMages ----------------------------------------- */
	
		#contenu .commonContainer .commonContainer img {margin: 0 15px 10px 0;}

	
	/* =Liens ----------------------------------------- */
	
		#contenu a:hover {color: #D99290}
		#contenu a {color: #B7003E;}

	/* =Paragraphes ----------------------------------------- */

		#contenu p {
			margin: 0 0 0.8em 0;
			font-size: 1.19em; line-height: 1.2em;
			}

	/* =Listes ----------------------------------------- */
	
		#contenu ul {
			font-size: 1.1em;
			margin: 0 0 1em 0;
			list-style: square;
			list-style-position: inside;
			}
		#contenu ul li {margin-bottom: 5px;}
		#contenu ul div {display: inline;} /* Corrige une erreur HTML… */
		#contenu dl {font-size: 1.1em;}

	/* =Titrages ----------------------------------------- */
	
		#contenu h1,
		#contenu h2,
		#contenu h3,
		#contenu h4,
		#contenu h5,
		#contenu h6 {margin-bottom: 1em}
		#contenu h1.t0 img {display: none;} /* Supprimer du code */
		#contenu h1.t0 {
			color: #fff;
			font-size: 1.8em; font-weight: normal;
			background: #767471 url(bgFiletTitres.gif) no-repeat 20px -5px;
			padding-left: 30px;
			}
		.commonContainer .t1 {
		   font-size: 1.5em;
		   margin: 0 0 0.2em 0; padding: 0;
		   }
		.commonContainer .t2 {
		   font-size: 1.3em;
		   margin: 1.5em 0 0.5em 0; padding: 0 0 2px 0;
		   }
		.commonContainer .t0 img, 
		.commonContainer .t1 img,
		.commonContainer .t2 img {display: none;} /*Supprimer du code*/
		
		h5.plusCci {
			font-size: 1.1em; padding: 3px 3px 3px 30px;
			background: #767471 url(bgFiletTitres.gif) no-repeat 20px -5px;
			color: #fff;
			}
		
		#contenu h3 {font-size: 1.5em;}
		
	/* =	Titrage flottant ----------------------------------------- */
	.bigTitle, .mediumTitle {
		position: absolute; top: 0; left: 15px;
		width: 24px; height: 100%;
		/* Masque */
        overflow: hidden; text-indent: -3000em; font-size: 1px;
        }
	/* Titres Flottants */
	#tiActualites {background: transparent url(bgTiActualites.gif) no-repeat 0 0;}
	#tiSuggestions {height: 100%;background: transparent url(bgTiSuggestions.gif) no-repeat 0 0;}
    #tiAgenda {background: transparent url(bgTiAgenda.gif) no-repeat;}
    #tiRecherche {background: transparent url(bgTiRecherche.gif) no-repeat;}
    #tiServicesLigne {background: transparent url(bgTiServLigne.gif) no-repeat;}
    #tiServicesCci {background: transparent url(bgTiServCCI.gif) no-repeat;}
    #tiCciEntreprises {background: transparent url(bgTiEntreprises.gif) no-repeat;}
    #tiCciEconomie {background: transparent url(bgTiEconomie.gif) no-repeat;}
    #tiCciTerritoire {background: transparent url(bgTiTerritoire.gif) no-repeat;}
    #tiFormulaire {background: transparent url(bgTiFormulaire.gif) no-repeat;}
    #tiEspaceAbonnes {background: transparent url(bgTiAbonnes.gif) no-repeat;}
    #tiEspaceJournalistes {background: transparent url(bgTiJournalistes.gif) no-repeat;}
    #tiEspaceContacts {background: transparent url(bgTiContact.gif) no-repeat;}
    #tiMentions {background: transparent url(bgTiMentions.gif) no-repeat;}
    #tiDocFormations {background: transparent url(bgTiFormation.gif) no-repeat;}
    #tiCredits {background: transparent url(bgTiCredits.gif) no-repeat;}

	/* =Tableaux ----------------------------------------- */
	
		#contenu table {
			border-collapse: collapse; border-color: #A29F9B;
			font-size: 1em;
			}
		#contenu table p {font-size: 1em}
		#contenu table, #contenu td, #contenu th {
			/*border: 1px #D99290 solid;*/
			}
		#contenu td, #contenu th {
			padding: 5px;
			color: #333;
			}

	/* =Diverses balises ----------------------------------------- */

		#contenu hr {border: 0; height: 1px; background: #D99290;}
		#banniere {
				text-align: center;
				margin-bottom: 15px;
				width: 360px; /*overflow: hidden;*/
			}

		a.btn {
			padding: 3px;
			background: #D99290;
			color: #fff !important;
			}

	/* =FORMULAIRES--------------------------------------------------- */

		#contenu input,
		#contenu select,
		#contenu textarea {
			font-size: 1.1em;
			font-family: Arial, Helvetica, Geneva, sans-serif;
			padding: 2px; margin: 2px
			}
		#contenu p input,
		#contenu p select,
		#contenu p textarea {font-size: 1em;}
		#contenu input:focus,
		#contenu select:focus,
		#contenu textarea:focus {background: #ffc;}

		#contenu label {
			font-size: 1.1em;
			display: block; width: 90px;
			float: left; text-align: right;
			margin: 0 10px 0 0; clear: left;
			}
		.formulaireListe {}
		fieldset {
			padding: 5px; margin: 0 0 10px 0;
			background-color: #F2F0ED;
			border: 0
			}
		#contenu .labelCheckbox {} 
		#contenu div.label {display: inline;float: none; display: inline; font-size: 1.1em;}
		p label {font-size: 1em !important;}
		#contenu .conditions {
			border-top: 1px #A29F9B solid;
			padding-top: 5px;
			font-size: 1em;
			}
		#contenu .btnFormulaire:hover {color: #333}
		#contenu .btnFormulaire, #contenu .btnValider, #contenu .btnOk {
			font-size: 1em;
			background: #A29F9B;
			border: 3px #7D7B78 double;
			border-top-color: #BBB7B3;
			border-left-color: #BBB7B3;
			color: #403E3D; text-transform: uppercase;
			cursor: pointer;
		}
		
		#contenu .accesArticle {
			/*clear: both;*/
			/*text-align: left;*/
			color: #fff;
			text-align: right;
			margin: 10px 0 10px 0;
			}
		#contenu .accesArticle a {
			/*display: block;*/
			padding: 0 5px 0 20px;
			/*margin: -10px 0 10px 0;*/
			/*float: right; */
			/*text-align: right;*/
			color: #777472;
			background: #DFD9D2 url(bgFiletTitres.gif) no-repeat 8px -12px;
			font-size: 11px;
		}
		#contenu .accesArticle a:hover {background-color: #767471 !important; color: #fff !important}

		/*Classe de mise en forme*/
		.inptTxt {}
		.inptSelect {}
		.inptSize {width: 200px;}
		.inptSize2 {width: 150px;}
		.inptSize3 {width: 130px;}
		.inptSize4 {width: 100px;}
		.inptLong {width: 370px; margin-top: 5px;}
		.miniTxt {font-size: 0.8em;}

		.alignCenter {text-align: center;}
		.alignLeft {float: left;}
		img.alignLeft {margin: 0 10px 10px 0}






/* = PAGES SPÉCIFIQUES
---------------------------------------------------- */
	
/* =HOME
	 ----------------------------------------- */
	
	body#home #banniere {width: auto; overflow: auto}
	body#home #contenu .commonContainer h3.t1 {
			font-size: 1.5em; color: #003B79;
			margin: 0 0 10px 15px;
			clear: both;
		}
	body#home #contenu .article {margin: 0 0 0 15px}

	body#home #contenu em {
			display: block;
			clear: both;
			padding: 3px 0 3px 15px; 
			margin: 0 0 5px 0;
			background: #DFD9D2 url(bgFiletTitres.gif) no-repeat 8px -8px;
			color: #B7003E;
			font-weight: bold;
		}
	body#home #contenu .article img {
			display: block;
			margin: 0 10px 10px 0;
			float: left;
			}
	body#home #contenu .article {
			font-size: 1.1em; line-height: 1.2em;
			color: #575553;
		}
/*	body#home #contenu .accesArticle {
			clear: both !important;
			padding: 3px 0 3px 0 !important; margin: 10px 0 0 0 !important;

			color: #fff !important; font-size: 1px !important;
			height: 1.2em !important;
			}
*/
	/* = Suggestions ----------------------------------------- */

	body#home #contenu #listeSuggestions {background-color: #F2F0ED;}
	body#home #contenu #listeSuggestions li {}/* !! À voir */
	body#home #contenu #listeSuggestions img {display: none;}/* !! À voir */
	body#home #contenu #listeSuggestions br {display: none;}/* !! À voir */
	body#home #contenu #listeSuggestions  a {
			font-size: 1.2em; font-weight: bold; color: #777472;
			margin: 0 0 0 25px;
			border-bottom: 1px #A29F9B solid;
			display: block;
		}

/* = Boutique ----------------------------------------- */

	#boutique {}
	#boutique .abonnement img {float: left; margin: 0 5px 5px 0;}
	#boutique #infoBoutiqueContainer {background: #F2F0ED}
	#boutique #infoBoutiqueContainer strong {
		display: block;
		font-size: 1.2em; color: #fff;
		background: #A29F9B url(bgFiletTitres.gif) no-repeat 20px -5px;
		padding: 3px 3px 3px 30px; margin: 0 0 .8em 0;
		}
	#boutique #infoBoutiqueContainer dd {padding: 0 0 10px 10px; }
	
/* =Services ----------------------------------------- */

body#services #contenu em {
		display: block;
		color: #B7003E;
		clear: both;
		padding: 3px 0 3px 15px; margin: 0 0 5px 0;
		background: #DFD9D2 url(bgFiletTitres.gif) no-repeat 8px -8px;
		font-weight: bold;
	}

/* =Recherche ----------------------------------------- */


#moteurRecherche #contenu .accesArticle{}
#moteurRecherche .pertinence {float: left; margin-top: -10px}
#moteurRecherche .paginationRecherche {
	background: #D99290;
	padding: 3px;
	text-align: center;
	color: #fff;
	border-top: 1px #DA6B6B solid;
	font-size: 1.2em;
	}
#moteurRecherche .paginationRecherche a:hover {color: #BF0951 !important}
#moteurRecherche .paginationRecherche a {color: #fff !important}







/* = TOUTES LES NAVIGATIONS
---------------------------------------------------- */

	/* =Rollover géré en JavaScript--------------------------------------- */
	/* =menu Cci a votre Service ----------------------------------------- */
	.minstit1_on {background-color : #DA5F5C !important }
	.minstit1_off {background-color : #D99290 !important }
	/* =Acteur eco ------------------------------------------------------- */
	.minstit2_on {background-color : #900030 !important }
	.minstit2_off {background-color : #B9003E !important }
	/* =Expression entreprises ------------------------------------------- */	
	.minstit3_on {background-color : #900030 !important }
	.minstit3_off {background-color : #B9003E !important }
	
	
	/* =Le gros menu CCI service ----------------------------------------- */
	

	#cciContainer {
		width: 180px; height: 15em;
		background: transparent url(bgMenuService.jpg) no-repeat bottom left;
		z-index: 1000; position: relative;
	}
	#cciContainer h3 {
		background: #B2003C url(bgFiletTitres.gif) no-repeat 40px -3px;
		color: #fff; font-size: 1.3em; font-weight: normal;
		padding: 5px 0 5px 50px; margin: 0 0 0 0
		}

	/* =Styles communs ----------------------------------------- */

		#cciContainer li {cursor: pointer;}
		#cciContainer li:hover {background-color: #D95552;}
		#cciContainer li a {color: #fff}
	
	/*N1*/
		ul#uicci1 {
			margin: 5px 0 0 0;
			width: 180px;
			}
		ul#uicci1 ul {
			background-color: #D89490;
			width: 180px;
			border: 2px #D89490 solid;
			visibility: hidden;
			}
		ul#uicci1 ul ul {z-index: 102}
		ul#uicci1 ul ul ul {z-index: 103}
		ul#uicci1 ul ul ul ul {z-index: 104}
		ul#uicci1 ul li {
			font-size: 11px;
			position: relative;
			padding: 2px 5px 2px 4px;
			}
		ul#uicci1 ul li a {
			color: #fff;
			background: transparent url(icnLienSousMenuW.gif) no-repeat 0 4px;
			display: block;
			padding: 0 0 0 10px;
		}
		ul#uicci1 ul li a:hover {color: #B3003C}


		.lccci1 {
			display: block;
			background-color: #D89490 !important;
			margin: 0 0 5px 40px; padding: 2px 0 2px 10px;
			font-size: 1.25em; color: #fff;
			position: relative;
		}
	
	/* N2 */
		#uicci101, #uicci201 {
			position: absolute; top: 0; left: 130px;
			width: 180px;
			z-index: 100;
			}
		#uicci101 ul, #uicci201 ul {
			position: absolute; top: 0; left: 175px;

		}

	/* =Menu Institutionnel ----------------------------------------- */
	

	#institutionnelContainer {position: absolute; top: 110px; left: 0}
	/* Styles communs */
		.lcinstitutionnel1 ul {
			width: 200px;
			font-size: 11px;
			background-color: #B7003E;
			border: 2px #B7003E solid;
			visibility: hidden;
			}
		.lcinstitutionnel1 ul li { 
			z-index: 1002;
			padding: 2px 5px 2px 2px;
			}
		.lcinstitutionnel1 ul a {
			color: #fff;
			background: transparent url(icnLienSousMenu.gif) no-repeat 0 4px;
			padding: 0 0 0 10px
			}
		.lcinstitutionnel1 ul a:hover {background-color: #960033;}
	/* N0 */
		ul#uiinstitutionnel1 {
			position: absolute; left: 40px;
			width: 140px;
			}
		.lcinstitutionnel1 {
			position: relative;
			font-size: 1.3em; color: #fff;
			padding: 5px 0 5px 10px; margin: 0 0 5px 0;
			background-color: #B7003E;
			cursor: pointer;
			}
		.lcinstitutionnel1:hover {background-color: #960033;}
	/* N1 */
		.ucinstitutionnel1 {
			position: absolute; top: 0; left:130px;
			z-index: 150;
			}
		.ucinstitutionnel1 li {position: relative}
		.lcinstitutionnel1 li:hover {background-color: #960033;}
	/* N2 */
		.ucinstitutionnel2 {
			position: absolute; top: 0px; left:200px;
			z-index: 200;
		}
		.ucinstitutionnel2 li {position: relative;}
	/* N3 */
		.ucinstitutionnel3 {position: absolute; top: 0px; left: 180px;}

	/* =Menu Espaces ----------------------------------------- */
	#espaceContainer {margin-top: 10px}
	#espaceContainer li {
		margin: 0 0 3px 0;
		text-indent: 45px; line-height: 20px;
		font-weight: bold;
		}
	#espaceContainer a {
		display: block; height: 20px;
		color: #fff; font-size: 1.3em;
		background: transparent url(bgNavEspaces.gif) no-repeat 0 0;
		}
	#espaceContainer li a {background-position: 0 0 }
	#espaceContainer li a:hover {background-position: -180px 0 }

	/* =Menu services ----------------------------------------- */

	#serviceContainer {}
	#serviceContainer h3 {
		background: #A29F9B url(bgFiletTitres.gif) no-repeat 40px -5px;
		color: #fff; font-size: 1.3em; font-weight: bold;
		padding: 2px 0 2px 50px; margin: 0;
	}
	#serviceContainer ul {background: #A29F9B url(bgFiletTitres.gif) repeat-y 40px 0;}
	#serviceContainer li {
		background: transparent url(icnMenu.gif) no-repeat 0 0;
		width: 99.9%; font-size: 1em;
		}
	#serviceContainer li a {
		display: block;
		margin: 0 0 0 50px; padding: 2px 0 2px 0;
		color: #fff;
		border-top: 1px #fff solid;
	}
	#serviceContainer li a:hover {color: #333}
	#serviceContainer #liservice2 a {border: 0}


	/* Service 24 heures */
	#serviceContainer li.lcservice1 {
		border-top: 2px #fff solid; border-bottom: 2px #fff solid;
		background: #DFD9D1 url(icnHorloge.gif) no-repeat 15px 5px;
		}
		#serviceContainer .lcservice1 a {
			font-size: 1.3em;
			color: #767471;
			background: transparent url(bgFiletTitres.gif) no-repeat 40px -3px;
			margin: 0 0 0 0; padding: 2px 0 2px 50px;
			}
		#serviceContainer #liservice1 a:hover {color: #000}
	/*Boutique*/
	#serviceContainer li.lcservice2  {background-position: 20px 2px}
	/* Appels d’offres */
	#serviceContainer li.lcservice3  {background-position: 20px -48px}
	/*Taxe d’apprentissage*/
	#serviceContainer li.lcservice5  {background-position: 20px -98px}
	/*Annuaire entreprises*/
	#serviceContainer li.lcservice4  {background-position: 20px -148px}
	/* Liens utiles */
	#serviceContainer li.lcservice6  {background-position: 20px -198px}
	/* Lu pour vous */
	#serviceContainer li.lcservice7  {background-position: 20px -248px}
	/* Téléchargement */
	#serviceContainer li.lcservice8 {background-position: 20px -348px}
	/* Réservations */
	#serviceContainer li.lcservice11 {background-position: 20px -395px}
	/* Newsletter */
	#serviceContainer li.lcservice9,
	#serviceContainer li.lcservice10 {
		background-image: none;
		font-size: 1.1em;
		background: #DFD9D1 url(icnNewsLetter.gif) no-repeat 25px 3px;
		}
	/* Vols du jour */
	#serviceContainer li.lcservice12  {background-position: 20px -298px}
	#serviceContainer li.lcservice9 {border-top: 2px #fff solid;}
	#serviceContainer li.lcservice9 a,
	#serviceContainer li.lcservice10 a {
		color: #767471; border: 0;
		}
	#serviceContainer li.lcservice9 a {border-bottom: 1px #767471 solid;}
	


/* POUR LES RSS */
.styleListeFlux
{
}
.styleListeFlux ul
{
	padding-left:0px;
}

.styleListeFlux li
{
	list-style-position:outside;
	list-style-type:none !important;/*url(../../../projet-ressources/images/rss-feed-xml.gif);*/
	list-style-image:none;
	padding-left:0px;
		
}
.styleListeFlux a
{
	padding-left:30px;
	text-decoration:none;
	background-image:url(rss-feed-xml.gif);
	background-repeat:no-repeat;
	background-position: 0px top;	
	margin-left:0px;
}
.styleListeFlux table
{
	width:100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;

}
.styleListeFlux td
{
	width:16%;
	padding-left:0px;
	padding-right:0px;
	margin-left:0px;
}
td#tdFlux
{
	width:43% !important;
	padding-left:0px;
}

.sansfond
{
	padding-left:0px !important;
	text-decoration:none !important;
	background-image:none !important;
	background-repeat:no-repeat !important;
	background-position: 0px !important;		
}