.buyable h1,
.buyable h1 a {color:#61500A;}
.align-right {text-align:right;}
a.user, .user a, li a.user, .submitted a {color:#339900;} 

/****************************************************/
/******************* FIL ARIANE *********************/
/****************************************************/

#fil-ariane {border:1px solid #ccc;}
#fil-ariane ul {overflow:auto;}
#fil-ariane ul li {
	background-color:#F5F5F5;
	background-image:url(http://www.lefigaro.fr/premium/img/pictos/fil-ariane-separateur.gif);
	background-position:right center;
	background-repeat:no-repeat;
	display:inline-block;
	float:left;
	height:18px;
	line-height:18px;
	margin:0;
	padding:0 20px 0 10px;
}
#fil-ariane ul li.sommaire {}
#fil-ariane ul li.rubrique {background-image:url(http://www.lefigaro.fr/premium/img/pictos/fil-ariane-separateur-rubrique.gif);color:#797979;}
#fil-ariane ul li.page {background-color:white;background-image:url(http://www.lefigaro.fr/premium/img/pictos/fil-ariane-separateur-page.gif);color:#FF6600;} 
.rss-feed {
	float:right;
	line-height:18px;
	padding:0 5px 0 3px;
	color:#999999;
	background-image:url(http://www.lefigaro.fr/premium/img/AP/fil-ariane-rss.gif);
	background-position:center center;
	background-repeat:repeat-x;
	border-left:1px solid #ccc;
	text-decoration:none;
}
.rss-feed:hover {text-decoration:none;}

/******************* MOTS CLES **********************/

.picto-mots-cles a {
	text-transform:capitalize;
}

/****************************************************/
/****************** TOOLS / INFOS *******************/
/****************************************************/

.infos .auteur {border-bottom:1px solid #CCCCCC;border-top:1px solid #CCCCCC;color:#333333;display:block;margin:5px 0;padding:5px 0;overflow:auto;}
#toolsbar {border-bottom:1px solid #CCCCCC;border-top:1px solid #CCCCCC;margin-bottom:5px;padding:5px 0;}
#toolsbar span {border-right:1px solid #999999;margin-right:5px;padding-right:5px;}
#toolsbar span span {border-right:medium none;margin:0;padding:0;}

.auteur_long .vcard {border-bottom:1px solid #CCCCCC;border-top:1px solid #CCCCCC;margin:10px 0;overflow:auto;padding:5px 0;}
.auteur_long .vcard .vignette {display:inline;float:left;margin:0 10px 0 0;}
.auteur_long .vcard .vignette img {height:40px;width:40px;border:medium none;vertical-align:bottom;}

/****************************************************/
/****************** COMMENT FORM ********************/
/****************************************************/
#comment-box h2 {
	color:#333333;
	font-family:Trebuchet MS;
	font-size:24px;
	font-weight:normal;
}
form#comment-form p {}
form#comment-form label {display:block;margin:8px 0;}
form#comment-form textarea, 
form#comment-form input[type=text],
form#comment-form input[type=password] {
	-moz-border-radius:3px;
	background-color:#F5F5F5;
	border:1px solid #CCCCCC;
	color:#666666;
	font-size:12px;
	line-height:16px;
	margin-bottom:5px;
	padding:5px;
}
form#comment-form input[type=text],
form#comment-form input[type=password] {height:16px;width:230px;}
* html form#comment-form input {
	height:expression(this.type=='text' || this.type=='password')?16px:auto;width:expression(this.type=='text')?230px:auto;
}
form#comment-form textarea {height:105px;width:481px;}

.user-def {border-bottom:1px solid #CCCCCC;border-top:1px solid #CCCCCC;padding:5px 0;overflow:auto;}
.user-def .avatar img {border:0 none;vertical-align:top;width:20px;}
.user-def .avatar {height:100%;}

.left-choice-col,
.right-choice-col {display:inline-block;float:left;position:relative;width:235px;}

.left-choice-col input, 
.right-choice-col input {vertical-align:middle;}

.right-choice-col {float:right;}

.left-choice-col .avatar img,
.right-choice-col .avatar img {
	margin-top:-3px;
	margin:-3px 3px 0;
}

/*.form-radios {display:none;}*/

div.validate {background-color:#d6fdba;border-color:#95c579;}
div.validate div {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background-color:white;
	border:1px solid #ccc;
	padding:10px;
}
div.validate div h4 {color:#aa830a;font-weight:normal;}
div.validate div strong {font-size:17px;font-weight:normal;line-height:26px;}
div.validate div h4 strong {font-family:Georgia;font-size:12px;font-weight:bold;line-height:normal;}

/************************************************/
/************ LISTE DE COMMENTAITES *************/
/************************************************/

.comment, .indented {background-color:#F5F5F5;border:1px solid #CCCCCC;color:#666666;margin-bottom:10px;padding:5px;}
.comment img {float:left;margin-bottom:5px;margin-right:5px;border:0px none;} 
.comment, .indented {color:#666666;}
.timestamp {border-top:2px dotted #CCCCCC;clear:left;color:#666666;font-size:11px;margin-top:0.5em;padding-top:0.5em;position:relative;} 
.comment .lien-repondre {position:absolute;right:0;}
.comment .lien-repondre a {font-size:1em;margin-left:10px;}
.indented {
	border-top: none;
	margin-top: -11px;
	margin-left: 0;
	padding: 10px 20px 0 20px;
}
.indented .comment {
	background-color: #fff;
	border: none;
}
.indented .indented {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
}

p.all-comments-link a.white-button {
	display:block;
	text-align:center;
	line-height:16px;
}