#blocMoteur {
	width:300px;
	height:216px;
	padding:0;
	margin:0;
	border: solid 1px #c5c6c6;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #333333;
}
#blocMoteur #entete {
	width:300px;
	padding:0;
	margin:0;
}
#blocMoteur #entete #titre {
	display:block;
	float:left;
	white-space: nowrap;
	font:17px/17px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-top: 9px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 5px;
}
#blocMoteur #entete #logo img {
	float:right;
	overflow:hidden;
	padding:0;
	margin-top: 8px;
	margin-right: 5px;
	margin-bottom: 0;
	margin-left: 0;
}
#blocMoteur #laforme {
	width:300px;
	padding:0;
	margin:0;
	font-family:Verdana, Arial, Helvetica, sans-serif
}
#blocMoteur #laforme #tribord {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #333333;
	width:140px;
	display:block;
	padding:0;
	float:right;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
#blocMoteur #laforme #tribord #lgd .selectgpetit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-top: 7px;
	clear: left;
	border: solid 1px #000000;
	width: 65px;
}
<!--
/*
#blocMoteur .selectgpetit {
	border: solid 1px #000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #333333;
	margin:7px 0 0 0;
	float:left; padding: 0px;
	width: 60px;
	clear: left; 
	background-color:#f4f4f4;
}*/
-->
#blocMoteur #laforme #babord {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #333333;
	width:140px;
	display:block;
	float:left;
	padding-top: 0px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 5px;
}
#blocMoteur button {
	border: solid 2px #000000;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin-top: 9px;
	margin-right: 24px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#blocMoteur .selectg {
	border: solid 1px #000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #333333;
	margin:7px 0 0 0;
	padding: 0px;
	float:left;
	width: 133px;
}

#blocMoteur  #laforme #tribord select {
	border: solid 1px #000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #333333; margin:7px 0 0 0px;
	
	width: 133px;
	white-space: nowrap; 
}

#blocMoteur  #laforme #babord select {
	border: solid 1px #000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #333333; margin:7px 0 0 10px;
	
	width: 133px;
	white-space: nowrap; 
}
#blocMoteur #laforme #babord #lgd {
	text-align:right;
}
#blocMoteur #laforme #babord #lgd label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-top: 7px;
}
#blocMoteur #laforme #babord #lgd .selectdpetit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-top: 7px;
	border: solid 1px #000000;
	width: 65px;
}
#blocMoteur #laforme #babord #detail a {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #397abd;
	white-space: nowrap;
	float:left;
}
#blocMoteur #laforme #babord #detail a:hover {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FF0000;
	white-space: nowrap;
}
select {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 11px;
	font-family: verdana, arial, sans-serif;
	color: #666666;
	background-color:#f4f4f4;
}
