
/*
figaro v5
sdv hb - 2007
*/




/*
rouge			#600
orange			#fb4c00
bleu-1			#003580



*/

@import url(Profils.css);
@import url(Qcm.css);

body.BodyUne {
}


body	{
background-color: #e5e5e5;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #000;
}

a	{
text-decoration: none;
color:#003972;
}
a:hover	{
text-decoration: underline;
}

form, dl, ul, ol, div, h1, h2, h3, h4, h5, h6	{
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}



.clear	{
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
clear: both;
height: 1px;
overflow: hidden;
visibility: hidden;
}

.orange, a.orange	{
color: #fb4c00;
}
.bleu-1, a.bleu-1	{
color: #003580;
}



ul.nobull	{
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}
ul.nobull li	{
list-style-type: none;
list-style-image: none;
list-style-position: outside;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
/*border: 1px solid purple;*/
}





input.rech	{
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #333;
/*border-width: 3px;*/
border-width: 2px;
border-style: solid;
border-color: #ccc;
background-color: #fff;
padding-left: 5px;
}
input.go	{
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #003580;
/*border-width: 3px;*/
border-width: 2px;
border-style: solid;
border-color: #ccc;
padding-left: 15px;
}

