/*  ----------------------------------------------------------- */
/*  Feuilles de styles des squelettes par defaut pour SPIP 1.9  */
/*  ----------------------------------------------------------- */

/* taille typo
 * Base				100%
 * -------------------------------------
 * 20px				1.27em
 * 19px				1.21em
 * 18px				1.15em
 * 17px				1.09em
 * 16px				1.03em
 * 15px				0.96em
 * 14px				0.88em
 * 13px				0.82em
 * 12px				0.77em
 * 11px				0.71em
 * 10px				0.65em
 *  9px				0.59em
 * Attention : en dessous de 0.71em le texte devient illisible en text smallest sur MSIE
 */

/*  ------------------------------------------
/*  Correction des styles HTML par defaut
/*  ------------------------------------------ */
body {
	
	background: #669933 url(fond_image1.jpg) no-repeat center top;
	text-align: center;
	font-size: 100%;
	color: #E0DCD2;
	margin:0em;
	padding:0em;
	
}

body.page_document {
	
	background: #669933 ;
	text-align: center;
	font-size: 100%;
	color: #E0DCD2;
	margin:0em;
	padding:0em;
	
}

img, table { margin: 0; padding: 0; border: none;}
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-size: 1em; font-weight: normal; }

span.separator_100_10 {
	display: block;
	width: 100%;
	height: 0.625em;
	clear: both;	
}

.L {float:left;}
.R {float:right;}
.clear {clear:both;}
.border_R {border-right: 1px dashed #B8B8B8;}


/*  ------------------------------------------
/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */


#hautpage {
	width: 60em;
	height: 12.75em;
	position:relative;
	margin-top : 0em;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}

/* ********************/
/* menu bandeau flash    */
/* ********************/
#flash_accueil{ 
	margin-left:0px;
	top:0px;
	z-index:1;
	width: auto;
	position:absolute;
}

#flash_accueil .bandeau_defaut {
	background: url('bandeau_defaut.jpg') top center no-repeat;
	width: 48.125em;
	height:17em;
	margin : 0;
	/*border:1px solid red;	*/
	
}


#flash_accueil ul.menu-nojs{
	/*border: 1px solid green;*/
	margin: 0;
	padding:0;
	width: 99%;
	height: 5.75em;
	/*margin-top:170px;*/
	position:relative;
	top: 169px;
	list-style : none;
	color: #000;
	font-size:0.69em;
	background: url('ul-noscript.gif') repeat-x;
}

#flash_accueil ul li.btn {
	/*border: 1px solid black;*/
	float: left;
	text-align:center;
	margin: 0 2px;
	
}
#flash_accueil ul li.btn div {/*padding: 0 0.2em*/}
#flash_accueil li.btn span {
	display:block;
	/*border: 1px solid black;*/
}

#flash_accueil ul li.btn a:hover  {text-decoration: none;}

#flash_accueil ul li.btn a .nom_5 {color: #098080;}
#flash_accueil ul li.btn a:hover .nom_5 {color: #098080; text-decoration:underline;}
#flash_accueil ul li.btn a .nom_30 {color: #C00D37;}
#flash_accueil ul li.btn a:hover .nom_30 {color: #C00D37; text-decoration:underline;}
#flash_accueil ul li.btn a .nom_31 {color: #B05000;}
#flash_accueil ul li.btn a:hover .nom_31 {color: #B05000; text-decoration:underline;}
#flash_accueil ul li.btn a .nom_78 {color: #B05000;}
#flash_accueil ul li.btn a:hover .nom_78 {color: #B05000; text-decoration:underline;}
#flash_accueil ul li.btn a .nom_32 {color:#802760;}
#flash_accueil ul li.btn a:hover .nom_32 {color: #802760; text-decoration:underline;}
#flash_accueil ul li.btn a .nom_33 {color: #714B42;}
#flash_accueil ul li.btn a:hover .nom_33 {color: #714B42; text-decoration:underline;}

li.btn a:hover .nom_13, li.btn a:hover .nom_14, li.btn a:hover .nom_15, li.btn a:hover .nom_16 {
text-decoration:underline;
}



/*****/

#flash_lutin_1 {
	margin-left:0px;
	width: 60em;
	height: 7.95em;
	float: left;
	margin-top: 0.5em;
}

#flash_lutin_2 {
	/*border:1px solid #5DCF40;*/
	height:18.75em;
	left:-5.625em;
	position:absolute;
	/*top:10.8em;*/
	top :-1.8em;
	width:5.625em;
}

#flash_lutin_3 {
	margin-left: 0px;
	width: 100%;
	height: auto;
	/*position:absolute;*/
	border-bottom: 1px solid #ADC780;
	/*top: -0.625em
	right: 0px;
	z-index: 8;;*/
}

/*	----------------	
/*	les formulaires / reservation
/*	---------------- */
.input_requirements { font-size:0.85em;font-family:Verdana,Geneva,sans-serif;text-align:right;margin-left: 3px;color:#BA2028; }
.incorrect {font-size:85%;font-family:Verdana,Geneva,sans-serif;text-align:right;margin-left: 3px;color:#BA2028; }
.errors_form{color:#BA2028; border: 1px solid #BA2028;padding:0.5em;}
.errors_form ul{list-style:none; padding-left:1em;}
input, select {margin:2px;padding:0;color:#9E1B22;font-family:Verdana,Geneva,sans-serif; vertical-align:middle;}

fieldset {border:1px solid #669933; padding:0.5em;}
legend {color:#669933; font-weight:bold;}
textarea {  color:#9E1B22;border:1px solid #76767D;}

/*	----------------	
/*	Module de reservation
/*	---------------- */
#module_reservation{
	height: 19.23em;
	width: 17.7em;
	/*border: 1px #000 solid;*/
	margin-top: -1.5em;
	text-align: center;
	position: absolute;
	right: 20px;
	z-index: 2;
	font-size: 0.77em;
	
}

#module_reservation input, #module_reservation select {margin:0;padding:0;color:#BA2028;border:1px solid #BA2028;font-size:90%;font-family:Verdana,Geneva,sans-serif}

#module_reservation .top {
	height: 1.5em;
	width: auto;
	/*border: 1px red solid;*/
	background: url('module_reservation_top.gif') top center no-repeat;
	text-align: center;
	padding-top: 4px;

}
#module_reservation .top h2 { margin: 0 auto;width: 90%;color: #FFF; line-height: 20px; background: #C44300;}

#module_reservation .centre {
	height: 15em;
	width: auto;
	/*border: 1px red solid;*/
	background: url('module_reservation_bg.gif') top center no-repeat;
	text-align: left;
	line-height: 25px;
	color: #D4280B;
	padding : 0px;
}

#module_reservation .centre TABLE{ margin: 0px 8px; background : #FCFCFC ;}
#module_reservation .bot {
	height: 2.6em;
	width: auto;
	/*border: 1px red solid;*/
	background: url('module_reservation_bot.gif') top center no-repeat;
	text-align: right;
	color: #FFF;
	
}

#module_reservation span.module_valid{
	position: relative;
	right:0px;
	padding-top: 6px;
	display:block;
	height:2.6em;
	width: auto;
	/*border: 1px solid green;*/
}

 
/* -------------- */

#page {
	
	width: 60em;
	text-align: left;
	margin-top : auto;
	margin-left: auto;
	margin-right: auto;
	padding:0px;
	 
	background-color: #FFF;
/*	border-left: 1px Solid #669933;
	border-right: 1px Solid #669933;
	border-bottom: 1px Solid #669933;  
*/
}

#conteneur { width: 100%;

}

#conteneur #contenu {
	float:left;
	width: 30em;
	/*border :1px #EDA713 solid;*/
	background: transparent;
	padding : 0.5em;
	padding-top:0;
	color: #565656; 
	_padding:0px;
	_width: 28.75em;
	
}

/*########### COLONE DES BOX - GAUCHE ###########*/
#conteneur #colone_gauche {

	/*border: 1px black solid;*/
	float:left;
	width: 13.125em;
	height: auto;
	/*padding-right: 2em !important;
	padding-right: 1.5em ;*/
	/*padding-left: 0em ;
	padding-top:0;*/
	/*margin-top: -0.7em;*/
	margin-right: 0.25em;
	padding:0;
}

/*
///// Box de gauche pour l'arbo complete...voir L.623 pour details
*/

#conteneur #navigation {
	width: 100%;
	/*min-height: 20em;*/
	padding-top:0;
	margin-left: 0px;
	margin-bottom: 1em;
}

#conteneur #navigation #nav_haut {
	width: 100%;
	margin-top:0;
	margin-left: 0px;
	background: #D3E2C5 url("nav_haut.jpg") no-repeat top ;
	
	
}

#conteneur #navigation #nav_bas {
	width: 13.125em;
	height: 8.25em;
	margin-bottom:0;
	margin-left: 0px;	
	background: #D3E2C5 url("nav_bas.jpg") no-repeat bottom ;
}
/*
///// Box de gauche contenant les promos


#conteneur #promos {
	width: 210px;
	min-height: 20em;
	padding-top:0;
	margin-left: 0px;
 
	
}

/***************** Les promos **************/
/*
#promos .pub {
 
	display:block;
	height:155px;
	margin-bottom:0.5em;
}
#pub1 {
	background: url("images/pub1.jpg") no-repeat bottom right;
}
#pub2 {
	background: url("images/pub2.jpg") no-repeat top left;
}
*/


/*########
########### COLONE DES BOX - DROITE ###########
#########*/

#conteneur #colone_droite {

	float: right;
	width: 13.625em;
	height: auto;
	padding:0;
	position: relative;
	right:20px;
	text-align:center;	 
}

/*
///// Box de droite pour les articles de la rubrique parents...
*/
#conteneur #liste_article { 
	width: 13.625em; /* 218px */
	min-height: 2em;
	padding-top:0;
	/*margin-top: -12px;
	*/
	
}

/*
#### Constructeur BOXNEWS
*/
#conteneur .boxnews {
	width: auto;
	text-align: center;
	
	font-family: Verdana, "Trebuchet MS", Helvetica, sans-serif;
	/*font-size: 0.88em;*/
}
#conteneur .boxnews  a {
	color: #200000; 
	font-size: 1em;
	text-decoration: none;
	background: url("flechejaune.gif") no-repeat 1.2em; 
	
	padding-left: 2.3em;
	line-height: 20px;
	display: block;
	vertical-align: middle;
	text-align: left;
}

#conteneur .boxnews a:hover{text-decoration: underline;}
#conteneur .boxnews  a.accessibilite {
	text-decoration: none;
	background: transparent ; 	
	display: inline;
}
/*############*/


/*
######  SOUS MENU BOX DROITE
*/

/* --  Titre general de la Box */
#conteneur #liste_article .titreSecteur {
	color: #007098;
	width : 100%;
	line-height: 2.06em;
	height: 2.06em; 
	background: url("rubrique_menu_bgD_on.gif") no-repeat top right;
	text-align: right;
	
}

#conteneur #liste_article .titreSecteur h2 {font-weight: bold; font-size:0.71em;}
#conteneur #liste_article.boxnews h2, #conteneur #liste_article.boxnews h3 {
	display: inline;
 
}
/* --  OMBRE */
#conteneur #liste_article .ombre { 
	position:relative;
	margin-bottom: -8px;
	margin-top: 0;
	height: 0.5em;
	width: 100%;
	background: url('ombre.png') no-repeat top left !important;
	_margin-top:-10px;
	_background: transparent;
}


/*
*##### BOX_NAVIGATION de droite
*/
#conteneur #liste_article .haut {
	background: url("box_article_liste_haut.jpg") no-repeat top center;
	height: 1.8em;
}
#conteneur #liste_article .centre {
	
	/*font-size: 11px;
	text-align: left;*/
	width: 13.625em;
	background: url("box_article_liste_centre.jpg") repeat-y top center;
	height:100%;
}
#conteneur #liste_article .bas {
	/*background: url("images/box_article_liste_bas.jpg") no-repeat bottom center;*/  /* !! Voir dans la page Html, pour l'appel dynamique */
	height: 6em;	
}

#liste_article ul li { margin:0; padding:0; list-style:none; margin-left: 0.8em;}
#liste_article ul{ margin:0; padding:0; list-style:none;}

/* -- Sous RUBRIQUES  */
#conteneur #liste_article.boxnews .sous-rub { padding-left:2px; margin-top:  1em; margin-left: 6px; }
#conteneur #liste_article.boxnews .sous-rub a, #conteneur #liste_article.boxnews .sous-rub span { 
	font-size: 0.71em;
	text-decoration: none;
	background: #729402 url("ss_menu_bg.gif") no-repeat top center; 
	padding-left: 1em;
	line-height: 28px;
	margin-top: -1px;
	display: block;
	text-align: left;
	width: 90%;
	color: #FFF; 
}
/* -- Sous RUBRIQUE EXPOSE */
#conteneur #liste_article.boxnews .sous-rub .ssMenu_on {
	color: #007098;
	font-weight: 800;
	background: #FFF url("ss_menu_bg_on.gif") no-repeat top left;
}
#conteneur #liste_article.boxnews .sous-rub .ssMenu_on h3 {font-weight: bold;}
#conteneur #liste_article.boxnews .sous-rub a:hover {background: #FFFFFF url("ss_menu_bg_on.gif") no-repeat top left; color: #1D9ACA;text-decoration: none;}




/* 
*  -- ARTICLES
*/
#conteneur #liste_article.boxnews .arti{ width:11.5em; background: #729402;} /** pour le fond vert uni */


#conteneur #liste_article.boxnews .arti a, #conteneur #liste_article.boxnews .arti span {/** Sous articles de la sous rubrique Exposee */
	color: #FFFFFF; 
	font-size: 0.65em;
	/*padding-left: 1.5em;*/
	line-height: 23px;
	display: block;
	text-align: left;
	width: auto;
	background:   url("flecheverte.gif") no-repeat 0.2em 0.7em;
	padding-left: 1.5em;
}

/* -- ARTICLES ROOL + EXPOSE */
#conteneur #liste_article.boxnews .arti a:hover, #conteneur #liste_article.boxnews .arti a:focus {color: #729402; display: block; background: #FFFFFF url("flechebleue.gif") no-repeat 0.2em 0.7em;}
#conteneur #liste_article.boxnews .arti span.on {font-size: 0.65em; color: #FFFFFF; display: block; background: #007098 url("flechebleue.gif") no-repeat 0.2em 0.7em;font-weight: bold;}

#conteneur #liste_article.boxnews a:hover {color: #fff; text-decoration: none;}
/***********fin des hover**/


#conteneur #box_visite span, #conteneur #box_chantier span, #conteneur #liste_article span, #conteneur #box_ouverture span {	
	min-height: 1.25em;
	width: 13.625em;
	display: block;
	color: #fff;	

}
/*##############*/

/*
*##### BOX_Ouverture 01/06/08
*/
#conteneur #box_ouverture .haut {
	background: url("box_ouvre_haut.jpg") no-repeat top center;
	height: 1.25em;
}
#conteneur #box_ouverture .centre {
	background: #E5471F;
	font-size: 0.71em;
	text-align: left;
	width: 18.5em;
	padding: 0px 4px;

}
#conteneur #box_ouverture .bas {
	background: url("box_ouvre_bas.jpg") no-repeat bottom center;
	height: 3em;	
}


/*
*##### BOX_VISITE ancienne

#conteneur #box_visite #haut {
	background: url("images/box_visite_haut.jpg") no-repeat top center;
	height: 20px;
}
#conteneur #box_visite #centre {
	background: #FCB400;
	font-size: 0.71em;
	text-align: left;
	width:210px;
	padding: 0px 4px;

}
#conteneur #box_visite #bas {
	background: url("images/box_visite_bas.jpg") no-repeat bottom center;
	height: 95px;	
}
*/

/*
*##### BOX_VISITE new
*/

#conteneur #box_visite {
	height: 7.25em;
	width: 13.625em;
}

/*
*##### BOX_CHANTIER
*/
#conteneur #box_chantier .haut {
	background: #FFD940 url("box_chantier_haut.jpg") no-repeat top center;
	height: 4.2em;
}
#conteneur #box_chantier ul, #conteneur #box_chantier ul li {list-style:none; padding:0; margin:0;}
#conteneur #box_chantier .centre {
	background: #FFD940;
	font-size: 0.71em;
	text-align: left;
	width: 18.5em;
	padding: 0 4px;
	height: 100%;
}
#conteneur #box_chantier .bas {
	background: #FFD940 url("box_chantier_bas.jpg") no-repeat bottom center;
	height: 4em;
}




/*
*##### SOMMAIRE
*/
#conteneur #sommaire {
/* Cest l'ancienne div "contenu" pour le sommaire, elle existe NOW */
	float: left;
	width: 41.25em;
	background: transparent;
	/*padding : 0.5em;*/
	padding-top:0;
	color: #565656; 
	/*border-right: 1px dotted #ADC780;*/
}
#sommaire span.box{
	float: left;
	width: 19.5em;
	margin-top: 1.2em;
	margin-left: 10px;
	/*padding: 0.5em;*/
	/*font-size: 0.71em;*/
	color: #565656;
	display: block;
	/*border: 1px red dashed;*/
	
}
#sommaire span .accueil_article a {color:#5C9513;display:block;text-align:right;margin-top: 0.5em;}
#sommaire span .accueil_article a:hover {}
#sommaire span .accueil_article {
	font-size: 0.69em;
	float: left;
	width: 16em;
	/*border: green 1px dashed;*/
	margin-left: 2px;
	margin-top: 8px;
	text-align: justify;
	padding: 0px;
	padding-left: 0px;
}
#sommaire .accueil_article_titre_img{
	/*border: 1px solid #000;*/
	z-index:8;
	position:absolute;
	margin-left:-1px;
	/*margin-bottom: -24px;
	height: 24px;
	width: 109px;*/
}
/*
#sommaire .new_H3{
	background:transparent url(images/titre_logo_gabarit.jpg) no-repeat scroll left top;
	color:#FFFFFF;
	font-size:0.65em;
	height:2.25em;
	margin-left:-1px;
	padding:0.8em;
	position:absolute;
	z-index:8;
	text-align:center;
	width:8.825em;
}
 OU */
 #sommaire .new_H3 {
	background:transparent url(titre_logo_gabarit.jpg) no-repeat scroll left top;
	color:#FFFFFF;
	cursor:pointer;
	font-size:0.61em;
	margin-bottom:-2.5em;
	margin-left:-1px;
	padding:0.8em;
	position:relative;
	text-align:center;
	text-decoration:none;
	width:9.825em;
	z-index:8;
}
 #sommaire .new_H3 span {background:#5C9A11;}
 
#sommaire span .accueil_article_img {
	float: left;
	width: auto;
	/*border: green 1px dashed;*/
	margin:0;
}
/************************************************************************************************************************ ## POUR LUNDI 17/04/08  */

/*
####### BOXES pour meme rubriques dans la page rubrique...
*/
#liste-autres_rub ul li { margin:0; padding:0; list-style:none;}
#liste-autres_rub ul { margin:0; padding:0; list-style:none;}

#liste-autres_rub, #liste-autres_articles {
	margin: 5px;
	width: 100%;
	border: 0px solid #9A8976;
}
#liste-autres_rub span.box-list { /** pour les rub **/
	background: #FFFFFF;
	display: block;
	margin: 0.5em;
	font-size: 0.70em;
	color: #565656;
	height: 8.2em;
	width: auto;
	border: 1px solid #669933;
	
}

#liste-autres_articles span.box-list { /** pour les articles **/
	background: #FFFFFF;
	float:left;
	margin: 0.5em;
	font-size: 0.70em;
	color: #565656;
	height: 12em;
	width: 46%;
	border: 1px solid #5C9513;	
}

#liste-autres_rub .box_list_img, #liste-autres_articles .box_list_img{
	float: left;
	width: auto ;
 
	margin:0em;
	margin-top: 4px;

}
#liste-autres_rub .box_list_txt{
	float: right;
	width:  80%;	 
	margin-right: 4px;
	margin-top: 8px;
	text-align: justify;
}

#liste-autres_articles .box_list_art_txt{
	float: right;
	width:  13em;
	height: 7.2em;
	 /*border:1px black solid;*/
	margin-right: 4px;
	margin-top: 4px;
	text-align: justify;
}

#liste-autres_rub .link, #liste-autres_articles .link {
	display: block;
	text-align: right;
	/*margin-top:1em;*/
	background:#FFFFFF none repeat scroll 0% 0%;
	margin-right: 5px;
}
#liste-autres_articles #criteres_act {
	clear: left;
	display: block;
	/*margin-top: -24px;*/
	margin-left: 0.5em;
	width:  auto;
	height: 1.5em;
	/*border: 1px solid red;*/
}
#liste-autres_articles #criteres_act img {vertical-align:middle;}

.legende {font-size:0.65em; color:#5A5040;}
.legende img {vertical-align:bottom;}
.legende ul {padding:0; margin:0;}
.legende ul li {padding:0;display:inline; list-style:none;}

#liste-autres_articles a.titre {
	display: block;
	text-align: center;
	background: #5C9513;
	color: #FFF;
	font-weight: bold;
}
/*##############*/

/* Blocs du contenu (c-a-d. la colonne principale) sert pour resultat recherche et meme rubrique*/
#contenu .contre-encart {
	margin: 0.5em;
	padding-left: 0.5em;
	 
 
}

#contenu .contre-encart .no-result{font-size:0.77em;}
#contenu .encart {
	float: right;
	width: 10em;
	margin: 0;
	margin-bottom: 1em;
	
}

/* 
###### Entete
*/
#entete {
	/*width: 100%;*/
	background: url("bandeau_titre_bg.jpg") no-repeat left bottom;
	border-bottom: 2px solid #669933; 
	height: 5.4em;
	}

#entete #img_logo {
	margin-left: -25px;
	margin-top: 0px;
	position: absolute;
	z-index: 3;
	/*border: 1px black solid;*/
}
	
#entete #nom_site_spip {
	display: block;
	float: left;
	font-weight: bold;
	font-size: 1.3em; 
	color: #5C9513;
	font-family:  Verdana, Helvetica, sans-serif;
	letter-spacing: 0.1em;                  
	padding-top: 0.1em;
	padding-left:90px;
	/*border: 1px orange solid;*/
	position:absolute;
	}

#entete a { text-decoration: none; }



#entete #search .formulaire_recherche { }
#entete #search { 
	float: right;
	/*border:green 1px dotted;*/
	width: 19em; 
	text-align: right;
	margin: 0px;
	padding-right: 1em;
	color: #5C9513;
	}
#entete #search a { 

/*color:#669933;
text-decoration: none;
*/
}
#entete #search a:hover, #entete #search a:hover:active{ 
/*color:#BED5A5;text-decoration: underline;*/
}

#entete .stop_anim {
	color:#FFF;
	font-size:0.61em;
	padding-right:1em;
	padding-top:0.2em;
	position:relative;
	text-align:right;
}
#entete .stop_anim a.on {
	background:#589712 none repeat scroll 0% 0%;
	border:1px solid #4A5D20;
	color:#FFFFFF;
	margin:2px;
	padding:0px 3px;
	text-align:center;
	font-weight:normal;
}

#entete .stop_anim a.off {
	background:#FFF none repeat scroll 0% 0%;
	border:1px solid #B0B0B0;
	color:#565656;
	margin:2px;
	padding:0px 3px;
	text-align:center;
}

/* Fil d'Ariane */
#hierarchie {
	clear: both;
	margin-bottom: 0em;
	font-size: 0.70em; 
	color: #6C5E37;
	background: #FFF;
	text-indent: 10px;
	border-top: 1px solid #ADC780;
	border-bottom: 1px solid #ADC780;
/*	border-top: 2px solid #000;*/
	line-height: 20px;
	margin-top: 6em;
	position:relative;
	}
#hierarchie a{
	color: #5C9513	;
	}

/* Pied de page */
#pied {
	clear: both;
	width: 100%;

	line-height: 15px;
	text-align: center;

	background:#4A5D20;
	padding-top: 3px;
	padding-bottom: 3px;
	color:#FFF;
	font-weight:bold;

}
#pied a { text-decoration: none; color: #FFF; }
#pied a:hover { text-decoration: underline;}
#pied small { font-size: 0.66em; }
#pied img { vertical-align: middle; }

/* Espaceur de blocs */
.nettoyeur { clear: both; margin: 0; padding: 0; border: none; height: 0; line-height: 1px; font-size: 1%; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }


/*  ------------------------------------------
/*  Typographie generale du site
/*  ------------------------------------------ */

/* Typo pour les menus et la navigation */
body, #navigation, .encart, .formulaire_spip {
	font-family: Verdana, Arial, sans-serif; }

/* Typo pour le contenu */
#contenu {
	font-family: Verdana ,"Trebuchet MS", Helvetica, sans-serif; }

/* Typo pour les citations et extraits introductifs */
q, blockquote, .liste-articles li .texte, h3.spip, .voirskel {
	font-family: Verdana,"Trebuchet MS", Helvetica, sans-serif }


/*  ------------------------------------------
/*  Habillage des menus et de la navigation
/*  ------------------------------------------ */

/*  Habillage general des menus de navigation
---------------------------------------------- */
.breves, .syndic, .forums, .divers {
	min-width: 10em;
	border : 1px dashed #EDA713;
	margin-bottom: 3em;
	padding: 3px;
	font-size: 0.77em;
	max-width: 19em;
}



.menu-titre {
	padding: 0.2em 0.4em;
	/*border-bottom: 1px dashed #EDA713;*/
	text-align: left;
	display:block;
	background: #FAFFE6;
	border-bottom : 1px solid #9A8976;
	font-weight: bold;
	color: ;
}

#navigation p, .encart p { margin: 0; padding: 0.2em 0.7em; text-align: left;  }
#navigation ul, .encart ul { margin: 0; padding: 0; text-align: left; list-style: none; }
#navigation li, .encart li { margin: 0; padding: 0 0.2em; }
#navigation li , .encart li {
	margin: 0;
	padding-bottom: 3px;
	padding-left: 2px;
	color: #5C9513;
	}

#navigation_haut ul, .encart_haut ul { margin: 0; padding: 0.0em 0; text-align: center; list-style: none; }

/*Rubrique MENU ACCUEIL*/
#rubrique_menu {
	/*border: 1px black solid*/
}

#rubrique_menu span {
	min-height: 1.25em;
	width: 13.125em;
	display: block;
}
/*
*##### BOX_RUBRIQUE EN 2 MORCEAUX
*/
#rubrique_menu #haut {
  /*background: url("images/rub_menu_haut.png") repeat-y;*/
	height: 1.25em;	
}
#rubrique_menu #centre {
	font-size: 0.71em;
	text-align: left;
	width: 18.66em;
	padding: 0 0px;
	/*background: url("images/rub_menu_centre.png") repeat-y;*/
}




/*Rubrique*/

#rubrique_menu li a{
	background: #6B9500 url("rubrique_menu_bg.gif") no-repeat top left;
	padding: 0 0em;
	display: block;
	line-height: 2.9em;
	height: 2.9em;
	color: #FFF;
	}

#rubrique_menu li a:hover, #rubrique_menu li a:focus {
	background: #FFF url("rubrique_menu_bg_on.gif") no-repeat top left;
	padding: 0 0em;
	display: block;
	line-height: 2.9em;
	height:2.9em;
	color: #007098;
	text-decoration: none;
}
#rubrique_menu li a.rubrique_menu_on {color: #007098; text-decoration: none; font-weight: bold;background: #FFF url("rubrique_menu_bg_on.gif") no-repeat top left;}
.rubrique_menu_logoL {

 	vertical-align: -23%; /* pour ie=FF -_- 	*/
	margin-left:3px;
	margin-top: 3px;
	margin-right: -2px;
	line-height: 33px;
}
.rubrique_menu_logoR {
 	vertical-align: -18%; /* pour ie=FF -_- 	*/
	margin-left:-4px;
	margin-top: 3px;
	margin-right: 4px;
	line-height: 33px;
}

/* BREVES */
.encart li { font-size: 0.65em; color: #FFF1D1; }
.encart li a {
	text-decoration: none;
	display: block;
	font-size: 0.77em;
	}
.encart li a:hover {
	padding-left: 5px;
	border-left: 0.05em dotted #FFF1D1;	
	}

/*  Des couleurs specifiques selon les types de menus
---------------------------------------------- */
.rubriques { /*background: #a1a1a1;*/}
.rubriques .menu-titre { border: 1px dotted #747474; }

.breves { /*background: #c8c8c8;*/ }
.breves .menu-titre { background: transparent; }
.breves a {text-decoration: underline;color: white;}

.syndic { background: #E8F8F8; }
.syndic .menu-titre { background: #F0FCFC; }

.forums { /*background: #EAEAFF;*/ }
.forums .menu-titre { background: #000; }

.divers { background: #F8F8E8; }
.divers .menu-titre { background: #FCFCF0; }

/*  ------------------------------------------
/*  Habillage du contenu
/*  ------------------------------------------ */

/*  Mots cles criteres des activites
---------------------------------------------- */
#mot_article {
	font-size: 0.71em;
	border-bottom: 1px dashed #A19574;
	color: #5C9513;
	vertical-align: middle;
	line-height: 2em;
	height: 2em;
	padding-bottom: 0.8em;
}
#mot_article ul {display:inline; margin:0;padding: 0;}
#mot_article ul li {display:inline; margin:0; padding: 0;list-style:none;color: #5C9513; }
#mot_article ul img { /*border:1px solid green;*/ vertical-align:middle;}

/*  Cartouche et titraille
---------------------------------------------- */
.cartouche { margin-top: 1em; background: url('chapo_bg.gif') no-repeat bottom center;}

.cartouche .titre {
	padding-bottom:1em;
	font-size: 1.27em;
	font-weight: bold;
	color: #5C9513; 
	text-align: center;
	}
#contenu .surtitre { font-size: 0.82em; }
#contenu .soustitre { font-size: 0.82em; color: #5C9513;text-decoration:  underline;}

.chapo .spip_logos { /*Transformation en chapo au lieu de cartouche*/
	/*border: 1px black solid;*/
	margin-left: 0px;
	margin-bottom: 0px; 
	margin-right: 5px; 
	float: left;
	}

.chapo p { margin: 0; padding: 0;
}
.chapo .chapo_content { margin: 0; padding: 0;
	/*border: 1px black solid;*/
	display:block;
}

.cartouche small { font-size: 0.71em; color: white;}

.cartouche .traductions { font-size: 0.71em; }
.cartouche .traductions * { display: inline; }
.cartouche .traductions li { padding-left: 1em; }


/*  Mise en forme des textes du contenu
---------------------------------------------- */
.chapo {
	margin-bottom: 1em;
	/*font-weight: bold;*/
	line-height: 1.6em; 
	color: #6C5E37;
	font-size: 0.71em;
	letter-spacing: 0.02em;
	text-align: justify;
	border: 1px dotted #669933;
	border-left: 0px;
	border-right: 0px;
	padding: 2px;
	}


.lien {
	margin: 0.2em;
	margin-bottom: 0.5em;
	padding: 4px;
	border: 1px solid #A88E52;
	font-size: 0.65em;
	}
.lien a { 
	 font-size: 0.65em;
	 color: #A88E52;
}

.texte {font-size: 0.71em; }
.texte a {/*font-size: 0.71em;*/ color: #5C9513;}
.ps, .notes {
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 1px solid #736A52; }
.ps { font-size: 0.65em; font-style:italic; }
.notes { clear: both; font-size: 0.71em; }
.ps h2, .notes h2 { font-size: 1.19em; font-weight: bold; }

/*  Portfolio
---------------------------------------------- */
#documents_portfolio {
	clear: both;
	margin:0.1em;
	margin-top: 1.4em;
	padding-top: 2px;
	background: url('portfolio_bg.gif') top center no-repeat;

	}
#portfolio_content {
	text-align:left;
	font-size: 0.72em;
	padding: 0.5em;
	border: 1px solid #669933;
	height: auto;
	width: 40em;
}


#documents_portfolio h2 { background: #5C9513 ;margin-left: 1em;margin-bottom: 0.2em; font-size: 0.8em; padding-left:0.5em;color:#fff;width:90%;}

#document_actif { margin-top: 1em; }
/*
#portfolio_content ul { padding:0; margin:0; list-style:none;}
#portfolio_content ul li { width:80px; height:80px; }
*/
 .photo a img{  padding: 0;border: 1px solid #669933; }
 .photo a:hover img{  padding: 0;border:1px dashed #fff;background: #669933; }
 .photo {margin: 5px; float:left; }


/*  Listes de documents joints (a un article ou une rubrique)
---------------------------------------------- */
#documents_joints {
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 1px solid #736A52; }
#documents_joints h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; }
#documents_joints ul { margin: 0; padding: 0; list-style: none; }
#documents_joints li { margin-bottom: 0.4em; }
#documents_joints li .spip_doc_titre {}
#documents_joints li .spip_doc_titre small { font-weight: normal; }
#documents_joints li .spip_doc_descriptif {}

/* Listes d'articles et extraits introductifs
----------------------------------------------- */
.liste-articles ul { margin-left: 1.1em; padding: 0; list-style-image: url("contreEncart_minifleche.gif") ; }
.liste-articles li { margin-bottom: 1em; clear: both; }

.liste-articles li .titre {
	font-size: 1em;
	font-weight: 600; }

.liste-articles li .spip_logos {
	float: right;
	margin-right: 16px;
	margin-top: -16px;
	 
	}

.liste-articles li p { margin: 0; padding: 0; color: #EAB847;}

.liste-articles li .enclosures {
	float: right;
	text-align: right;
	max-width: 60%;
	margin: 0; }

.liste-articles li small {
	display: block;
	font-size: 0.71em; 
	color: #61583D;
	}

.liste-articles li .texte {
	margin-top: 5px;
	margin-bottom: 2em;
	border: 1px solid #CCC;
	padding: 0.9em;
	font-size: 0.82em;
	line-height: 1.4em; }

/* Listes des rubriques et extraits introductifs
----------------------------------------------- */
.liste-rubriques ul { margin-left: 1.1em; padding: 0; list-style-image: url("contreEncart_minifleche.gif") ; }
.liste-rubriques li { margin-bottom: 1em; clear: both; }

.liste-rubriques li .titre {
	font-size: 1em;
	font-weight: 600; }

.liste-rubriques li .spip_logos {
	float: right;
	margin-right: 16px;
	margin-top: -16px;
	 
	}

.liste-rubriques li p { margin: 0; padding: 0; color: #EAB847;}

.liste-rubriques li .enclosures {
	float: right;
	text-align: right;
	max-width: 60%;
	margin: 0; }

.liste-rubriques li small {
	display: block;
	font-size: 0.71em; 
	color: #61583D;
	}

.liste-rubriques li .texte {
	margin-top: 5px;
	margin-bottom: 2em;
	border: 1px solid #CCC;
	padding: 0.9em;
	font-size: 0.70em;
	line-height: 1.4em; }
	
.pagination { font-size: 0.77em;color: #565656; }

/*  ------------------------------------------
/*  Habillage specifique du plan du site
/*  ------------------------------------------ */

.page_plan .cartouche { display: block; }

.page_plan #contenu h3 {
	clear: both;
	border-bottom: 1px solid #747474;
	 
	padding: 0.3em;
	margin: 1em 0;
	font-weight: 800;
	text-align: left;
	font-size: 0.82em;
	 }
.page_plan #contenu .logo_plan {
	margin:0 0.5em;
	vertical-align: middle;
}
.page_plan #contenu .contre-encart {border:0; border-left: 1px dashed #9A8976;}

.page_plan #contenu .contre-encart ul {
	display: block;
	clear: left;
	margin-top: 0;
	margin-bottom: 1em;
	padding-top: 0; 
	 
	}
.page_plan #contenu .contre-encart li {list-style: none; color: #61583D; font-size: 0.80em; margin-left:0;}
.page_plan #contenu .contre-encart .li_logo {
	color: #61583D;
	margin:0 0.5em;
	vertical-align: middle;
	}

/*  ------------------------------------------
/*  Habillage des formulaires
/*  ------------------------------------------ */

.formulaire_spip { text-align: left; font-size: 0.77em; }
.formulaire_spip p { margin: 0.5em 0; padding: 0; }
.formulaire_spip fieldset {}
.formulaire_spip legend {}

.formulaire_spip label {}
.formulaire_spip .forml { width: 12.32em; font-family: inherit; font-size: 0.89em; color: #254F13;border:1px #254F13 solid;}

/* Boutons */
.spip_bouton { text-align: right; }
.spip_bouton input { float: right; }

/* Reponse du formulaire */
.reponse_formulaire { font-weight: bold; color: #e86519; }
fieldset.reponse_formulaire { border-color: #e86519; font-weight: normal; }

/* Previsualisation du message */
fieldset.previsu { padding: 1em; }

/* Formulaire de login au forum */
.formulaire_login_forum .forml { width: 12em; }
.formulaire_login_forum .spip_logos { float: right; padding-left: 10px; }

/* Choix des mots-clefs */
ul.choix_mots { float: left; width: 47%; margin: 0; padding: 0; list-style: none; } 
ul.choix_mots label { display: inline; }

/* Formulaire de recherche */
.formulaire_recherche {width:auto; padding-right:3px;margin-top: 2px; text-align: right; /*border: 1px solid #CE8E10;*/ }
/*.formulaire_recherche label { display: none; }*/

/*  ------------------------------------------
/*  Habillage des forums
/*  ------------------------------------------ */

.forum-repondre, .forum-decompte {
	clear: both;
	margin-top: 2.5em;
	padding-top: 2px;
	border-top: 2px solid #CCC;
	font-size: 0.88em;
	font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }
.forum-fil { margin-top: 1.5em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; text-decoration: none; color: #fff; }
.forum-chapo small {}
.forum-texte { margin: 0; padding: 0.5em 1em 0 1em; color: #fff; font-size: 0.82em; }
.forum-texte .forum-lien {}
.forum-texte .forum-repondre-message { margin: 0; padding: 1px 0; text-align: right; }

/* Boite d'un forum : eclaircissement progressif des bords */
ul .forum-message { border: 1px solid #666; margin: 0; padding: 0; margin-bottom: 1em; }
ul ul .forum-message { border: 1px solid #A4A4A4; }
ul ul ul .forum-message { border: 1px solid #B8B8B8; }
ul ul ul ul .forum-message { border: 1px solid #CCC; }
ul ul ul ul ul .forum-message { border: 1px solid #E0E0E0; }
ul ul ul ul ul ul .forum-message { border: 1px dotted #E0E0E0; }

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */
ul .forum-chapo { border: none; border-bottom: 1px dotted #B8B8B8; margin: 0; padding: 3px 6px 2px 6px; font-size: 0.88em; background: #C4E0E0; }
ul ul .forum-chapo { background: #D4E8E8; }
ul ul ul .forum-chapo { background: #E4F0F0; }
ul ul ul ul .forum-chapo { background: #F4F8F8; border-bottom: 1px dotted #E0E0E0; }
ul ul ul ul ul .forum-chapo { background: #FFF; }

/*  ------------------------------------------
/*  Habillage des petitions
/*  ------------------------------------------ */

#signatures { clear: both; font-size: 0.77em; }

#signatures h2 {
	padding: 0.5em;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold; }

#signatures table { width: 100%; margin: 1em 0; }
/* #signatures thead { display: none; } On n'affiche pas les titres du tableau */

#signatures td.signature-date {
	background: #E4F0F0;
	padding: 0.5em;
	white-space: nowrap; }

#signatures td.signature-nom {
	background: #ECF4F4;
	padding: 0.2em;
	text-align: center;
	font-weight: bold; }

#signatures td.signature-message {
	background: #F4F8F8;
	padding: 0.4em;
	font-size: 0.96em; }

/*  ------------------------------------------
/*  Couleurs des liens
/*  ------------------------------------------ */
a { text-decoration: none; color: #5C9513; }
a:hover { text-decoration: underline; }


/*  ------------------------------------------
/*  Centre de Pleine Nature
/*  ------------------------------------------ */
/* liens de navigation interne (accessibilite) */

 .navigationinterne {
	margin-top: -1em;
}

#outils, .navigationinterne {
	clear:both;
	float:right;
	font-size:0.72em;
}
#outils li, .navigationinterne {
	border-left:1px solid #CCCCCC;
	padding:0pt 5px;
}
.navigationinterne a {color:#545454;}

/* lien en haut page (accessibilite) */
#accessibilite { 
	position: relative;
	padding-right: 1em;
	font-size: 0.61em;
	text-align: right;
	color: #5C9513;
	padding-top:0.2em;
}
#accessibilite span {background:#FFF; padding: 2px 1px 2px 3px}
a.menu_topaccess  {
	color: #5C9513;
	text-decoration: none;
}

a:hover.menu_topaccess {
	color: #007098;
	text-decoration: underline;
}

.noscript {
background:#EFFFDF none repeat scroll 0% 0%;
border:1px solid #669933;
color:#000000;
font-size:0.65em;
margin:1em auto;
padding:1em;
text-align:center;
width: 80%;
	
}
.anim_control {
	text-align:right;
	width: 8em;
	height:1.5em;
	float:right;
	clear:right;
}
.linklike{
	background:transparent;
	border: none;
	font-size:0.65em;
	cursor:pointer;
	color: #5C9513;
} 

#flash_accueil .anim_control {
	height:1.5em;
	position:absolute;
	right:5em;
	text-align:right;
	top:-1.3em;
	width:8em;
}
#flash_accueil .linklike{color:#FFF;background:#669933 none repeat scroll 0% 0%;}

#flash_lutin_3 .linklike{font-size:0.82em;}
#flash_lutin_2 .anim_control {	
	height:1.5em;
	position:absolute;
	bottom:-2.5em !important;
	bottom:-4em;
	right:-4.7em !important;
	right:-6em;
	text-align:right;
	width:8em;
}

.page_document #conteneur {border:1px solid #4A5D20; margin-top:4em;}
.page_document .document {
	margin: 0 auto;
	width: 80%;
	padding: 2em 1em
}
.page_document .document .cartouche {background:transparent;color:#565656;}

.page_document h1 {text-align:center;color:#669933;font-weight:bold;font-size:1.2em;}
.page_document .desc {font-size:0.77em;}
.page_document .image {text-align:center;}
.page_document img {margin:1em; border: 1px solid #585858;padding:0.5em;}



