/* */

/* Boite remontee */
.x_jaune .x_bord{
	background-color: #FDB827;
	border-color: #FFDC91;
}
.x_rouge .x_bord{
	background-color: #CF0609;
	border-color: #FF8486;
}
.x_gris .x_bord{
	background-color: #7D868B;
	border-color: #BEC2C5;
}
.x_bleu .x_bord{
	background-color: #81BCD3;
	border-color: #BFE2EF;
}

.x_bleu_quebec .x_bord{
	background-color: #488fab;
	border-color: #BFE2EF;
}
.x_bleu_emploi .x_bord{
	background-color: #6982A0;
	border-color: #B4C0CF;
}
.x_vert .x_bord{
	background-color: #98DD47;
	border-color: #D0EFAA;
}
.x_vert_education .x_bord{
	background-color: #BCC804;
	border-color: #D9E257;
}
.x_orange .x_bord{
	background-color:#DF6B16;
	border-color:#FFCEAB;
}
.x_dore .x_bord{
	background-color: #AB9967;
	border-color: #E2DBC5;
}
.x_beige .x_bord{
	background-color: #D2D2B6;
	border-color: #EDECE0;
}
.x_grisclair .x_bord{
	background-color: #E2E2E2;
	border-color: #EEE;
}

/* Boite appel */
/* Styles (rose) */
div.x_rose{
   padding-top: 8px;
   *padding-top: 8px;
}
.main .x_tete h4 h3{
	background-color: #C40B81;
}
div.x_rose .main .x_tete h4{
   background-image: url(http://www.lexpress.fr/imgstat/blocs/boites/styles/arrow02.gif);
   background-position: left 5px;
   background-repeat: no-repeat;
   padding-left: 15px;
}
div.x_boite_appel.x_rose h3 a{
	color: #C40B81;
   top: -23px;
}
div.x_boite_appel.x_rose h3 a img{
   position: relative;
   bottom: -10px;
}
div.x_boite_appel.x_rose .x_plus{
   border-color: #C40B81;
}
div.x_boite_appel.x_rose h3{
	background-color: #C40B81;
}
div.x_boite_appel.x_rose .x_plus ul li{
	background-image: url(http://www.lexpress.fr/imgstat/blocs/boites/puce_styles.gif);
}
div.x_boite_appel.x_rose .list li a{
   background-image: url(http://www.lexpress.fr/imgstat/blocs/boites/styles/arrow.gif);
   background-position: left 4px;
   *background-position: left 7px;
   background-repeat: no-repeat;
   padding-left: 15px;
   line-height: 16px;
   display: block;
}
/* Emploi Reussir (bleu) */
div.x_boite_appel.x_bleu{
}
div.x_boite_appel.x_bleu h3{
	background-color: #6982A0;
}
div.x_boite_appel.x_bleu h3 a{
	color: #6982A0;
}
.x_bleu_emploi .x_titre_home_appel a{
   color: #6982A0;
   font-weight: bold;
}
div.x_boite_appel.x_bleu h3 a img{
   position: relative;
   top: -10px;
}
div.x_boite_appel.x_bleu .x_plus{
   border-color: #6982A0;
}
div.x_bleu_emploi .x_titre_home_appel{
	background-color: #6982A0;
}
div.x_boite_appel.x_bleu .x_plus ul li{
	background-image: url(http://www.lexpress.fr/imgstat/blocs/boites/puce_emploi.gif);
}
/* ??? (rose) 
div.x_boite_appel.x_rose h3{
	background-color: #F30667;
}
div.x_boite_appel.x_rose h3 a{
	color: #F30667;
}
div.x_boite_appel.x_rose .x_plus{
   border-color: #F30667;
}
div.x_boite_appel.x_rose .x_plus ul li{
	background-image: url(/imgstat/blocs/boites/puce_styles.gif);
}*/
/* Culture (orange) */
div.x_boite_appel.x_orange h3{
	background-color: #DF6B16;
}
div.x_boite_appel.x_orange h3 a{
	color: #DF6B16;
}
div.x_orange .main .x_tete h4{
   background-image: url(http://www.lexpress.fr/imgstat/blocs/boites/culture/arrow02.gif);
   background-position: left 6px;
   background-repeat: no-repeat;
   padding-left: 15px;
}
div.x_boite_appel.x_orange .x_plus{
   border-color: #DF6B16;
}
div.x_boite_appel.x_orange .x_plus ul li{
	background-image: url(http://www.lexpress.fr/imgstat/blocs/boites/puce_culture.gif);
}
div.x_boite_appel.x_orange .list li a{
   background-image: url(http://www.lexpress.fr/imgstat/blocs/boites/culture/arrow.gif);
   background-position: left 4px;
   *background-position: left 7px;
   background-repeat: no-repeat;
   padding-left: 15px;
   line-height: 16px;
   display: block;
}
/* Education (vert) */
div.x_boite_appel.x_vert h3,
div.x_vert .x_titre_home_appel{
	background-color: #BCC804;
}
div.x_boite_appel.x_vert h3 a,
div.x_vert .x_titre_home_appel a{
	color: #BCC804;
	font-weight: bold;
}
div.x_boite_appel.x_vert .x_plus{
   border-color: #BCC804;
}
div.x_boite_appel.x_vert .x_plus ul li{
	background-image: url(http://www.lexpress.fr/imgstat/blocs/boites/puce_regions.gif);
}
/* Immo (marron) */
div.x_boite_appel.x_marron h3{
	background-color: #8E7259;
   background-image: none;
}
div.x_boite_appel.x_marron h3 a{
	color: #8E7259;
}
div.x_boite_appel.x_marron .x_plus{
   border-color: #8E7259;
   padding-top: 5px;
}
div.x_boite_appel.x_marron .x_plus ul li{
	background-image: url(http://www.lexpress.fr/imgstat/blocs/boites/puce_marron.gif);
}
/* shopping (rouge) */
div.x_rouge{
   padding-top: 8px;
   *padding-top: 8px;
}
.main .x_tete h4 h3{
	background-color: #C40B81;
}
div.x_rouge .main .x_tete h4{
   background-image: url(http://www.lexpress.fr/imgstat/blocs/boites/styles/arrow02.gif);
   background-position: left 5px;
   background-repeat: no-repeat;
   padding-left: 15px;
}
div.x_boite_appel.x_rouge h3 a{
	color: #CF0609;
   top: -23px;
}
div.x_boite_appel.x_rouge h3 a img{
   position: relative;
   bottom: -10px;
}
div.x_boite_appel.x_rouge .x_barre{
   background: #CF0609;
   float: left;
   width: 300px;
   height: 2px;
}
div.x_boite_appel.x_rouge h3{
	background-color: #CF0609;
}
