body.nolayout #node {
    width: 610px;
    padding: 15px;
    font-size: 1.1em;
}

body.nolayout #node .elementlist_elementlink a {
    background:transparent url(lire_la_suite.png) no-repeat scroll 0pt 4px;
    padding:0pt 0pt 0pt 14px;
    text-decoration:none;
}

body.nolayout #node a {
    font-weight:bold;
}




/* Edition des pages */
div.right{
    float:right;
    display:inline;
}
form.button {
    margin-left:5px;
    padding:0;
    float:left;
}
div.controls{
    margin-bottom:10px;
}
div.form div.block,
div.content-edit div.block {
    margin-top:10px;
}
div.form div.block i,
div.content-edit div.block i {
    font-size:90%;
    line-height:1.2em;
}
div.content-edit div.block label.att-title {
    font-size:14px;
    margin-bottom:5px;
    background-color:gray;
    color:white;
    padding:2px;
}
div.content-edit div.block fieldset {
    padding:0px;
}
div.content-edit div.block fieldset div.block {
    margin:0;
}
div.content-edit div.block fieldset div.block p {
    margin-left:5px;
}
div.content-edit div.block fieldset div.block label {
    margin-top:10px;
    margin-bottom:5px;
}
div.content-edit div.block fieldset input.button {
    font-size:12px;
    font-family:arial;
}
div.content-edit div.block label.att-title span {
    font-size:14px;
    color:white;
}
div.content-edit div.block label.message-error{
    background-color:#A00000;
}
div.content-edit div.buttonblock{
    margin-top:20px;
    margin-bottom:10px;
}
div.form div.block textarea,
div.content-edit div.block textarea {
    width:550px;
}
.pages .col_centre .infobox .online_editor form div.warning2 {
    font-style: italic;
    padding: 0 0 0 30px;
    height: auto;
}
img.right{
    float:right!important;
    display:inline;
}
img.left{
    float:left!important;
    display:inline;
}
div.legal_mention {
    font-size:10px;
    padding-bottom:10px;
}
.infobox .online_editor div.vignette.vignette_img_left{
    float:none!important;
    text-align:left;
}
.infobox .online_editor div.vignette.vignette_img_right{
    float:none!important;
    text-align:right;
}
.infobox .online_editor div.vignette.vignette_img_center{
    float:none!important;
    text-align:center;
}
.infobox .online_editor div.vignette.vignette_img_left img,
.infobox .online_editor div.vignette.vignette_img_right img,
.infobox .online_editor div.vignette.vignette_img_center img,
.infobox .online_editor img.no_float{
    float:none!important;
}
.infobox .online_editor div.vignette.vignette_img_center img {
    margin: 0;
}
/** end gumai **/

#nav form.form_add_event {
    margin : 6px;
    paddin : 0;
    display:block;
    float:left;
}

#nav form.form_add_event input.add_event{
    width:247px;
    height:30px;
    background: url(a_annoncer_empty.png) no-repeat 0 0;
    border: none;
    font-weight:bold;
    color : #404348;
    font-size: 98%;
    padding-left: 40px;
    text-align : left
}

.edit_iagdirdate_calendar {
    padding-top:1.5em;
    margin-left:5px;
}

#area_right .area_image {
    text-align: right;
}