/* EZPUBLISH CLASSES (c) eZ sysytems */

/************/
/* core.css */
/************/
body{
font-family:Arial, Helvetica, sans-serif;
font-size:0.8em;
background-color:#ffffff;
margin:0;
padding:1em;
}
h1, h2, h3, h4, h5, h6{
font-weight:bold;
margin:1em 0 0.5em 0;
padding:0;
}
h1{
font-size:1.8em;
}
h2{
font-size:1.4em;
}
h3{
font-size:1.1em;
}
h4, h5, h6{ 
font-size:1em;
}
p{
margin:0.5em 0 0.5em 0;
line-height:1.25em;
}
a{
color:#0000a0;
text-decoration:underline;
}
a:hover{
color:#0000ff;
text-decoration:underline;
cursor:pointer;
}
a img{
border:none;
}
pre, code{
font-family:"Courier New", Courier, monospace;
font-size:1em;
}
pre{
background-color:#f8f8f8;
border:1px solid #e0e0e0;
margin:1em 0 1em 0;
padding:0.2em;
}
table{ 
font-size:1em;
margin:0;
padding:0;
}
td{
padding:0;
}
table.list{
width:100%;
margin:1em 0 1em 0;
}
table.list th, table.list td{
padding:0.25em 0.5em 0.25em 0.5em;
text-align:left;
vertical-align:top;
}
table.list th{
font-weight:bold;
background-color:#f0f0f0;
}
table.list td{
font-weight:normal;
}
tr.bglight{
background-color:#fcfcfc;
}
tr.bgdark{
background-color:#f8f8f8;
}
ul, ol{
padding:0;
margin:0.75em 0 1em 2.5em;
}
ul ul, ol ul{
margin:0.3em 0 0.5em 1.3em;
}
ul ol, ol ol{
margin:0.3em 0 0.5em 1.9em;
}
ul, ul ul{
list-style-type:disc;
}
li{
margin:0 0 0.3em 0;
padding:0;
line-height:1.25em;
}
dl{
padding:0em;
margin:0.25em 0 0.25em 0;
}
dt, dd{
font-style:normal;
margin:0 0 0.25em 0;
}
dt{
font-weight:bold;
}
dd{
margin:0 1em 0.5em 2.5em;
}
form{
padding:0em;
margin:0em;
}
label{
font-weight:bold;
padding-right:0.5em;
display:block;
white-space:nowrap;
}


textarea { font-family:Arial, Helvetica, sans-serif; font-size:1em; }

input.box, textarea.box{
width:98%;
}
input.halfbox, textarea.halfbox{
width:47%;
}
optgroup{
font-weight:bold;
font-style:normal;
}
input.button{
font-weight:normal;
margin:1em 1em 0 0;
}
input.button-default{
font-weight:bold;
}
div.block{
margin:0.5em 0 0.5em 0;
padding:0;
clear:both;
}
div.block div.element, div.buttonblock div.element{
padding-right:1em;
float:left;
}
div.block div.left{
width:48%;
text-align:left;
float:left;
clear:left;
}
div.block div.right{
width:48%;
text-align:right;
float:right;
clear:right;
}
div.break{
clear:both;
}
div.message-feedback, div.message-warning, div.message-error{
padding:0.1em 0.5em 0.5em 0.5em;
}
div.message-feedback{
background-color:#f0fff0;
}
div.message-warning{
background-color:#ffffe0;
}
div.message-error{
background-color:#fff0f0;
}
div.pagenavigator{
text-align:center;    
}
div.pagenavigator span.previous{
float:left;
}
div.pagenavigator span.next{
float:right;
}
.small{
font-size:85%;
}
.hide{
display:none;
}
div.imageleft, div.imageright, div.faxtboxleft, div.faxtboxright, div.leftobject, div.rightobject{
margin-top:0.3em;
margin-bottom:0.1em;
display:inline;
}
div.imagecenter, div.factboxcenter, div.centerobject{
width:100%;
margin-top:0.3em;
margin-bottom:0.1em;
display:block;
}
div.imagecenter{
text-align:center;
}
div.factboxcenter{
text-align:left;
}
div.imageleft, div.factboxleft, div.leftobject{
float:left;
padding-right:0.5em;
}
div.imageright, div.factboxright, div.rightobject{
float:right;
padding-right:0.5em;
}
div.faxtboxleft, div.faxtboxright{
background-color:#f0f0f0;
}
div.imageleft p.picturetext, div.imageright p.picturetext, div.imagecenter p.picturetext, p.factbox{
padding-top:0.2em;
padding-bottom:0.2em;
}
div.imageleft p.picturetext, div.imageright p.picturetext, span.picturetext, p.factbox{
background-color:#f0f0f0;
}
span.spamfilter{
 display:none;
}
/************/
/* site.css */
/************/
/*
div#allcontent{
width:750px;
margin:0 auto 0 auto;
}
div#header{
padding-top:10px;
padding-left:10px;
}
div#header-design{
margin:0;
height:70px;
float:left;
}
div#header h1{
font-size:2em;
margin:0;
padding:0.6em;
}
div#header h1 a{
text-decoration:none;
color:#000000;
}
div#toolbar-top{ 
padding:13px 0 0 8px;
text-align:right;
}
div#toolbar-top{ 
text-align:right;
}
div#toolbar-top ul{
float:right;
}
div#toolbar-bottom{ 
margin-top:8px;
text-align:center;
}
div#toolbar-bottom ul{
padding:0.5em 0 0.5em 0;
}
div#toolbar-bottom li.toolbar-item a{
font-weight:bold;
}
div#toolbar-top li.toolbar-item, div#toolbar-bottom li.toolbar-item{
border-right:1px solid;
display:inline;
margin:0;
padding:0 10px 0 6px;
white-space:nowrap;
}
div#toolbar-top div.search-line, div#toolbar-bottom div.search-line{
display:inline;
vertical-align:middle;
}
div#toolbar-top div.label, div#toolbar-bottom div.label{
display:inline;
text-align:left;
}
div#toolbar-top div.search-line form, div#toolbar-bottom div.search-line form{
display:inline;
}
div#toolbar-top div.search-line div.optionblock input,
div#toolbar-top div.search-line div.optionblock label,
div#toolbar-right div.search-full div.optionblock input,
div#toolbar-right div.search-full div.optionblock label{ 
display:inline;
}
div#toolbar-top input.searchinput, div#toolbar-bottom input.searchinput{
height:1.6em;
width:7em;
}
div#toolbar-top li.toolbar-item a, div#toolbar-bottom li.toolbar-item a{ 
text-decoration:none;
}
div#toolbar-top li.first, div#toolbar-bottom li.first{
display:inline;
}
div#toolbar-top li.last, div#toolbar-bottom li.last{
border-right:none;
display:inline;
}
div#topmenu{
margin:0;
padding:0;
}
div.topmenu-line{
border-bottom:1px solid;
}
div#topmenu-design{
margin:0;
padding:0;
text-align:left;
vertical-align:middle;
}
div#topmenu ul{
margin:0;
padding:0;
}
div#topmenu li{
margin:0;
padding:0;
border-right:1px solid;
float:left;
display:block;
}
div#topmenu li div.spacing{
padding:0.2em 12px 0.3em 12px;
}
div#topmenu li a{
text-decoration:none;
}
div#topmenu li a:hover{
text-decoration:underline;
}
div#submenu{
padding:0;
border-bottom:1px solid;
}
div#submenu-design{
margin:0;
padding:0;
text-align:left;
vertical-align:middle;
position:relative;
}
div#submenu ul{
padding:0;
margin:0;
}
div#submenu li{
margin:0;
float:left;
display:block;
}
div#submenu li div.spacing{
padding:0.2em 12px 0.3em 12px;
}
div#submenu li a{
text-decoration:none;
}
div#submenu li a:hover{
text-decoration:underline;
}
div#path-design{
margin:0.2em 12px 0.2em 12px;
}
div#path p{
margin:0;
}
div#path p a{
text-decoration:none;
}
div#columns{
height:100%;
}
div#leftmenu ul, div#rightmenu ul{
margin-left:6px;
}
div#leftmenu{
float:left;
width:13em;
}
div#leftmenu-design li.menu-level-0{ 
text-decoration:none;
border-top:1px solid;
padding:4px 0 2px 10px;
list-style-type:none;
}
div#leftmenu-design li.menu-level-0 a{ 
text-align:center;
font-weight:bold;
text-decoration:none;
}
div#leftmenu-design li.menu-level-1{ 
text-decoration:none;
margin-top:5px;
margin-bottom:5px;
margin-left:10px;
list-style-type:none;
}
div#leftmenu-design li.menu-level-1 a{ 
text-align:center;
text-decoration:none;
}
div#rightmenu{
float:right;
width:15em;
}
div#rightmenu-design{
padding-right:10px;
}
div#maincontent{
}
div.maincontent-bothmenus{ 
margin-left:14em;
margin-right:16em;
height:100%;
}
div.maincontent-noleftmenu{ 
margin-left:10px;
margin-right:16em;
height:100%;
}
div.maincontent-norightmenu{ 
margin-left:14em;
margin-right:10px;
height:100%;
}
div.maincontent-nomenus{ 
margin-left:10px;
margin-right:10px;
height:100%;
}
*/
div#fix{
float:left;
width:100%;
}
div.content-navigator{
display:block;
clear:both;
}
div.content-navigator div{
display:inline;
text-align:center;
}
div.content-navigator div.content-navigator-separator, div.content-navigator div.content-navigator-separator-disabled{
padding-left:4px;
padding-right:4px;
}
div.content-navigator div.content-navigator-arrow{
font-size:150%;
}
div.toolbox{ 
width:100%;
margin-bottom:8px;
margin-top:8px;
}
div.toolbox-design{ 
padding:0px;
}
div.toolbox-design h2{ 
font-size:1em;
margin-top:0px;
padding-left:10px;
padding-top:3px;
padding-bottom:3px;
}
div.toolbox-design div.toolbox-content{ 
padding-left:10px;
padding-right:10px;
padding-top:3px;
padding-bottom:10px;
}
div.toolbox-design input.searchtext, div.toolbox-design input.textinput{
height:18px;
width:120px;
border:1px solid;
}
div.toolbox-design label{
font-weight:normal;
margin-bottom:0;
padding:6px 0 0 0;
}
div.toolbox-design form{
vertical-align:bottom;
}
div.toolbox-design div.info-text p{ 
font-weight:normal;
}
div.toolbox-design div.attribute-link p{ 
font-weight:normal;
padding:0 0 0 6px;
vertical-align:middle;
}
div.toolbox-design div.attribute-link-disabled p{ 
font-weight:normal;
padding:0 0 0 6px;
vertical-align:middle;
}
div.toollist{ 
width:100%;
margin:8px 0 8px 0;
}
div.toollist-design{ 
padding:0px;
border:1px solid;
}
div.toollist-design h2{ 
font-size:1em;
margin-top:0px;
padding:2px 0 3px 10px;
}
div.toollist-design div.content-view-children{ 
padding:3px 10px 10px 10px;
}
div.toollist-design h3{ 
margin:0;
text-decoration:underline;
}
div.toollist-design div.class-article div.attribute-short p{ 
margin:0;
}
div.toollist-design div.class-article div.attribute-link p{ 
margin:0 0 10px 0;
}
div.toollist-design div.class-article div.attribute-link-disabled p{ 
font-weight:normal;
padding:0 0 0 6px;
vertical-align:middle;
}
div#footer{ 
clear:both;
}
div#footer-design{
padding:10px 0 10px 0;
text-align:center;
}
div#footer-design address{
font-style:normal;
}
div#footer-design a{
text-decoration:none;
}
div#maincontent h1{ 
font-size:1.8em;
font-weight:bold;
margin-top:0.2em;
}
div#maincontent h2{ 
font-size:1.4em;
font-weight:bold;
}
div#maincontent h3{ 
font-size:1.1em;
font-weight:bold;
}
div#maincontent h4{ 
font-size:1em;
font-weight:bold;
}
div#maincontent-design h5{ 
font-size:1em;
font-weight:bold;
}
table th{ 
background-color:#d9e5f2;
}
input.defaultbutton{
font-weight:bold;
border:1px solid;
margin:0.5em 0.5em 0 0;
}
input.button{
border:1px solid;
margin:0.5em 0.5em 0 0;
}
input.searchbutton{
border:1px solid;
}
input.shopbutton{
border:1px solid;
}
input.searchimage{
width:18px;
height:18px;
background-image:url(button.gif);
background-repeat:no-repeat;
}
/***************/
/* CLASSES CSS */
/***************/
div.view-full h1{
margin-top:0.2em;
}
div.view-line{
margin:1em 0 1em 0;
}
div.content-byline p{
font-style:italic;
}
div.content-byline p.author{
}
div.content-byline p.date{
}
div#maincontent div.content-view-line div.attribute-link p{ 
font-weight:normal;
padding-left:8px;
}
div#maincontent div.content-view-line div.attribute-link-disabled p{ 
font-weight:normal;
padding-left:8px;
vertical-align:middle;
}
div#maincontent div.content-view-full div.attribute-link p, div#maincontent div.view-slideshow div.attribute-link p, div#maincontent div.content-view-full div.attribute-tipafriend p{ 
padding-left:8px;
font-weight:normal;
}
div#maincontent div.content-view-full div.attribute-link-disabled p, div#maincontent div.view-slideshow div.attribute-link-disabled p{ 
font-weight:normal;
padding-left:8px;
vertical-align:middle;
}
div.content-view-full div.attribute-byline p.author{ 
margin-right:0.2em;
display:inline;
}
div.content-view-full div.attribute-byline p.date{ 
margin:0 0.2em 0 0.2em;
display:inline;
}
div.content-view-full div.attribute-byline p.placement{ 
margin-left:0.2em;
display:inline;
}
div.content-view-full div.attribute-byline p.count{ 
margin-left:0.2em;
display:inline;
}
div.content-view-full div.content-view-line div.attribute-byline p{ 
display:inline;
}
div#maincontent div.content-view-sitemap table.content-view-children h2{
margin-top:1px;
}
div#maincontent div.content-view-sitemap table.content-view-children{
margin-top:1px;
width:99%;
}
div#maincontent div.content-view-sitemap table.content-view-children td{
vertical-align:text-top;
}
div#maincontent div.class-folder div.attribute-short p{ 
font-weight:bold;
}
div#maincontent div.class-folder div.content-view-children div.attribute-short p{ 
font-weight:normal;
}
div.relatedinfo{  
margin-top:0.3em;
margin-bottom:0.1em;
display:inline;
font-style:italic;
width:30%;
padding-right:0.5em;
float:right;
}
div#maincontent div.content-view-full div.class-article div.attribute-short p{ 
font-weight:bold;
}
div#maincontent div.content-view-full div.content-view-children div.class-article div.attribute-short p{ 
font-weight:normal;
}
div.class-comment h3{
margin-bottom:0.2em;
}
div#maincontent div.content-view-full div.class-product div.attribute-short p{ 
font-weight:bold;
}
div#maincontent div.content-view-children div.class-product div.attribute-short p{ 
font-weight:normal;
}
div#maincontent div.class-product div.attribute-price p{ 
float:right;
font-weight:normal;
}
div.content-view-listitem div.class-product div.attribute-link-disabled a{ 
font-weight:normal;
padding-left:8px;
vertical-align:middle;
}
span.oldprice{
text-decoration:line-through;
}
span.currentprice{
}
span.pricesave{
}
div#maincontent div.class-folder div.class-gallery div.attribute-link-disabled p{ 
font-weight:normal;
padding-left:8px;
vertical-align:middle;
}
div#maincontent div.class-gallery div.attribute-short p{ 
font-weight:bold;
}
div#maincontent div.class-gallery div.content-view-children table{ 
width:100%;
}
div#maincontent div.class-gallery div.content-view-children table td{ 
width:25%;
padding:6px;
border:1px solid;
text-align:center;
vertical-align:top;
}
div.factbox, div.content-view-embed{ 
width:14em;
}
div.factbox-design, div.content-view-embed{ 
padding:0px;
border:1px solid;
}
div#maincontent div.factbox-design h2, div#maincontent div.content-view-embed h2{ 
font-size:1.2em;
margin-top:0px;
padding:2px 0 3px 10px;
}
div#maincontent div.content-view-embed div.content-view-children, div.factbox-content, div#maincontent div.content-view-embed div.content-body{ 
margin-top:0;
padding:2px 10px 3px 3px;
}
div#maincontent-design div.content-view-embed h3{ 
font-size:1em;
margin:0;
text-decoration:underline;
}
blockquote{ 
width:14em;
padding:0px;
}
div.quote-begin{ 
margin:0 0.2em 0.2em 0;
float:left;
width:16px;
height:16px;
}
div.quote-end{ 
margin:0.2em 0 0 0.2em;
float:right;
width:16px;
height:16px;
}
div#maincontent-design blockquote p{ 
font-weight:bold;
width:14em;
display:inline;
}
div.object-right{ 
margin:3px;
float:right;
}
div.object-left{ 
margin:3px;
float:left;
}
div.object-center{ 
margin-left:auto;
margin-right:auto;
text-align:center;
}
div.factbox h3{ 
font-size:1em;
margin:0px;
}
div.factbox div.attribute-file p{ 
font-weight:normal;
}
div.content-view-listitem div.class-image div.attribute-caption p{ 
color:#666666;
}
div.calendar table.calendar{
margin-top:0.5em;
}
div.calendar table{
width:100%;
}
div.calendar a{
border:none;
}
div.calendar table td, div.calendar table tr{
padding:0px;
margin:0px;
}
div.calendar tr.calendar-navigator table.calendar-navigator div{
display:inline;
}
div.calendar tr.calendar-navigator div.calendar-previous{
float:left;
}
div.calendar tr.calendar-navigator div.calendar-next{
float:right;
}
div.calendar tr.calendar-navigator span.calendar-arrow{
font-size:1.5em;
}
div.calendar tr.calendar-navigator div.calendar-date span{
font-size:1.3em;
}
div.calendar tr.calendar-navigator div.calendar-date span.calendar-month{
text-align:left;
text-transform:lowercase;
}
div.calendar tr.calendar-day-names{
display:none;
}
div.calendar tr.calendar-navigator div.calendar-previous a, div.calendar tr.calendar-navigator div.calendar-next a{
text-decoration:none;
border-bottom:none;
}
div.calendar th{
text-align:center;
text-transform:lowercase;
}
div.calendar tr.calendar-day-names th{
font-size:70%;
}
div.calendar td{
padding:0 2px 0 2px;
text-align:center;
font-size:0.7em;
}
div.calendar td.calendar-week{
padding:0 2px 0 2px;
border:none;
text-align:center;
}
div.calendar tr.calendar-days td.calendar-day-selected{
border:1px solid;
}
div.calendar tr.calendar-days td.calendar-day-selected-today{
border:1px solid;
}
div.calendar tr.calendar-days strong.calendar-day-highlight{
font-weight:bold;
}
div.calendar div.selected{
font-weight:bold;
}
div.calendar td a, div.calendar td a:visited, div.calendar td a:hover{
font-weight:bold;
border-bottom:none;
text-decoration:underline;
}
div.poll-result td.poll-resultbar td.poll-percentage, div.poll-result td.poll-resultbar td.poll-votecount{  
font-style:italic;
font-size:85%;
}
div.poll-result td.poll-resultbar td.poll-percentage{  
text-align:left;
}
div.poll-result td.poll-resultbar td.poll-votecount{  
text-align:right;
}
div.poll-result p{  
font-weight:bold;
}
div.poll-result div.chart-bar-resultbox{
margin:0.5em 0 0.5em 0;
width:100%;
}
div.poll-result div.chart-bar-resultbar{
height:14px;
}
div.poll-result td.poll-resultname{
padding-right:5px;
}
div.poll-result td.poll-resultbar{
padding-left:5px;
}
div.poll-result td.poll-resultbar table{
width:300px;
}
div.poll-result div.chart-bar-resultbox{
background-color:#eeeeee;
}
div.poll-result div.chart-bar-resultbar{
background-color:#444;
}
div.shop-basket table, div.shop-confirmorder table, div.shop-orderview table{
width:100%;
margin:0px;
padding:0px;
}
div.shop-basket table th, div.shop-confirmorder th, div.shop-orderview th{
margin:0px;
padding:3px;
}
div.shop-basket table td, div.shop-confirmorder td, div.shop-orderview td{
margin:0px;
padding:3px;
}
div.shop-basket table td.product-details, div.shop-confirmorder td.product-details, div.shop-orderview td.product-details{
border-bottom:1px solid;
}
div.shop-basket table td.product-price, div.shop-confirmorder table td.product-price, div.shop-orderview table td.product-price{
text-align:right;
}
div.shop-basket table td.product-subtotal, div.shop-confirmorder table td.product-subtotal, div.shop-orderview table td.product-subtotal{
border-bottom:1px solid;
text-align:right;
}
input.shop-basketbin{ 
width:15px;
height:15px;
background-image:url(http://www.cg28.fr/extension/cg28design/design/plain_site/images/bin.gif);
background-repeat:no-repeat;
}
table.renderedtable td{ 
margin:0px;
padding:3px;
border-top:1px solid;
border-left:1px solid;
}
table.renderedtable{ 
border-right:1px solid;
border-bottom:1px solid;
}
div.infoline p{
float:left;
margin-right:1em;
}
div.infoline{
margin:-0.5em 0 -0.5em 0;
}
table.forum div.attribute-byline p.author, table.forum div.attribute-byline p.date{
display:block;
}
table.forum td.message p.date{
font-size:0.8em;
border-bottom:1px solid #aaa;
}
div.content-view-children table.forum th.topic{
width:45%;
}
div.content-view-children table.forum th.replies{
width:10%;
}
div.content-view-children table.forum th.lastreply{
width:45%;
}
div.content-view-children table.forum th.author{
width:25%;
}
table.forum p.author{
font-weight:bold;
}
div.content-view-children table.forum th.message{
width:75%;
}
table.forum tr.bglight td, table.forum tr.bgdark td{
border-top:1px solid;
}
div.content-poll-results{
width:100%;
}
div.content-poll-results ul{
margin-left:0;
}
div.content-poll-results li{
list-style-type:none;
}
div.content-poll-results span.option{
font-weight:bold;
float:left;
}
div.content-poll-results span.votes{
font-weight:normal;
}
div.content-poll-results span.value{
font-weight:bold;
margin-top:1.7em;
float:right;
}
div.content-poll-results div.resultblock{
width:100%;
margin:-1.2em 0 0.5em 0;
float:left;
}
div.content-poll-results div.resultedge-start{
padding-right:4em;
}
div.content-poll-results div.resultedge-end{
border:1px solid black;
}
div.content-poll-results div.resultbox{
background-image:url(http://www.cg28.fr/extension/cg28design/design/plain_site/images/poll-bg.gif);
background-repeat:repeat-x;
background-position:top;
background-color:#bcbbaf;
width:100%;
}
div.content-poll-results div.resultbar{
background-image:url(http://www.cg28.fr/extension/cg28design/design/plain_site/images/poll-result-bg.gif);
background-repeat:repeat-x;
background-position:top;
background-color:#4b7198;
height:20px;
}
div.content-poll-results div.result-divider{
height:20px;
}
