.bglight { background: #EAF8DE; border-bottom: 1px solid #fff; padding: 10px; overflow: hidden; _height: 100%; }
.bgdark { background: #F2F2F2; border-bottom: 1px solid #fff; padding: 10px; overflow: hidden; _height: 100%; }


.bglight h2, .bgdark h2 { line-height: 11pt; border-bottom: 1px solid #333; color: #333; margin: 0; padding: 0 0 4px 0; }

/* RSS */
.line_iag_rss_import h2 { display: none; }
.line_iag_rss_import .elementlist_element { margin:0; }
.line_iag_rss_import .elementlist_element .elementlist_elementlink a { font-size:0.85em;}

.line_iag_rss_import .description { font-size: 0.9em; color: #333;}

/* FICHE DE COM */
#manifestation { border: 0; }

#manifestation td a { font-size: 1.2em; }

#manifestation table { margin: 10px 0; border: 0; }

#manifestation div { padding: 10px 0; }
#manifestation span { font-weight: bold; }

#manifestation table,
#manifestation th,
#manifestation td { border: 1px solid #ccc;  }
#manifestation table.hidden_table td ,
#manifestation table.hidden_table {border: 0; }

#manifestation th { padding: 10px; vertical-align: top; line-height: 12px; text-align: center;  }
	#manifestation th div { border: 0;  }
#manifestation td { padding: 5px; vertical-align: top; line-height: 12px; }

#manifestation .editer {
	display: block;
	width: 16px;
	height: 16px;
	background: url(http://www.cg28.fr/extension/cg28design/design/plain_site/images/edit.gif) no-repeat;
	border: 1px solid #fff;
	margin-bottom: 4px;
	}
	#manifestation a.editer:hover { border: 1px solid #006699; }
	#manifestation .editer span { display: none; }
#manifestation .exporter {
	display: block;
	width: 16px;
	height: 16px;
	background: url(http://www.cg28.fr/extension/cg28design/design/plain_site/images/_export.gif) no-repeat;
	border: 1px solid #fff;
	margin-bottom: 4px;
	}
	#manifestation a.exporter:hover { border: 1px solid #006699; }
	#manifestation .exporter span { display: none; }

#dEvenements { }
div#required { font-size: 0.9em; font-style: italic; border: 0; padding: 0; text-align: right; }
#manifestation textarea { width: 200px; height: 150px; }
#manifestation .commentaires { width: 70%; height: 150px; }

div#dDetails,
div#dDetails table,
div#dDetails td { border: 0; }

#evenement_edit div { border: 0; }
#evenement_edit #onglets td { text-align: center; font-size: 0.9em; }
#evenement_edit .onglet_on { background: #3F6298; border-bottom: 2px solid #333; border-right: 2px solid #333; }
	#evenement_edit .onglet_on a { color: #fff; font-weight: bold; }
#evenement_edit .onglet_off { font-weight: bold; }
	#evenement_edit .onglet_off:hover { background: #b7b7b7; font-weight: bold; }
#evenement_edit .onglet_inter { background: #b7b7b7; font-weight: bold; }

#alt_button .button {
	border-bottom: 2px solid #333;
	border-right: 2px solid #333;
	font-size: 1.2em;
	background: #3F6298;
	}
	#alt_button .button:hover {
		border-color: #333;
		background: #ccc;
		color: #3F6298;
		}

.fleches {
	border-top: 1px solid #ccc;
	margin-top: 4px;
	padding-top: 4px;
	white-space: nowrap;
	}

.fleche_up {
	background: url(http://www.cg28.fr/extension/cg28design/design/plain_site/images/_fleche_up.gif) no-repeat 2px 0;
	width: 15px;
	_width: 17px;
	height: 10px;
	border: 1px solid #666;
	}
	.fleche_up:hover { background: #ffffff url(http://www.cg28.fr/extension/cg28design/design/plain_site/images/_fleche_up.gif) no-repeat 2px 0; }
.fleche_down {
	background: url(http://www.cg28.fr/extension/cg28design/design/plain_site/images/_fleche_down.gif) no-repeat 2px 0;
	border: 0;
	width: 15px;
	_width: 17px;
	height: 10px;
	border: 1px solid #666;
	}
	.fleche_down:hover { background: #ffffff url(http://www.cg28.fr/extension/cg28design/design/plain_site/images/_fleche_down.gif) no-repeat 2px 0; }

/* tarif_list */

#manifestation	a.nouveau_lieu {
		font-size: 1.1em;
		padding-left: 20px;
		background: url(http://www.cg28.fr/extension/cg28design/design/plain_site/images/_plus.gif) no-repeat 0 0;
		}

	a.retour2 {
		font-size: 1.1em;
		padding-left: 20px;
		background: url(http://www.cg28.fr/extension/cg28design/design/plain_site/images/_retour2.gif) no-repeat 0 0;
		}

#manifestation	a.deconnexion {
		font-size: 1.1em;
		padding-left: 20px;
		background: url(http://www.cg28.fr/extension/cg28design/design/plain_site/images/_deconnexion.gif) no-repeat 0 0;
		}

#archive_list th { text-align: left; }

/* --- QUIZ --- */
#quiz div { margin-bottom: 10px; }
#quiz h1 { display: block; margin-bottom: 10px; }

#quiz .bgdark,
 #quiz .bglight { padding: 6px; margin: 0; border-bottom: 1px dotted #333; }

	/* page par page */
	#quiz .your_answer { font-size: 1.2em; color: #666; }
		#quiz div.your_answer span { font-size: 0.8em; color: #000; }

	#quiz .correct { font-size: 1.1em; font-weight: bold; color: #669900; }
	#quiz .incorrect { font-size: 1.1em; font-weight: bold; color: #cc0000; }

	#quiz .right_answer {}

	#quiz #your_score {
		font-weight: bold;
		color: #999;
		display: block;
		text-align: right;
		padding: 0 6px;
		border-bottom: 1px dotted #333;
		}

	#quiz .counter { font-weight: bold; color: #333;}
	#quiz .question { font-weight: bold; font-size: 1.5em; color: #666;}


	/* Résultats */
	#final_score { font-weight: bold; font-size: 1.5em; color: #666;}


/* PETITES ANNONCES */
#ads h2 { display: none; }

#ads #listing { margin: 10px 0; }
#ads #header { font-weight: bold; border: 2px solid #fff; background: #eee; color: #006699;  }
#ads #header h2 { display: none;  }

#ads #header {
	background: #F2F2F2;
	padding: 10px;
	overflow: hidden;
	height: 100%;
	border: 0;
	border-bottom: 2px solid #fff;
	}

#ads .bglight h2,
#ads .bgdark h2{ display: block; }

#ads .bglight { clear: both; overflow: hidden; _height: 100%; }
#ads .bgdark { clear: both;  overflow: hidden; _height: 100%; }

#ads .author { float: right; width: 30%; text-align: left;  }
#ads .message { float: left; width: 65%;  }

#ads .date { display: none; }

input.box { width: 300px; }
textarea.box { width: 300px; }

#ads_category table { margin-top: 20px; width: 100%; border: 1px solid #ccc; }

	#ads_category th { padding: 6px 10px; text-align: left;  }
	#ads_category table tr { background: #F2F2F2; }
	#ads_category table td {
		padding: 6px 10px;
		border-top: 1px solid #ccc;
		}

#ads_category img { display: none; }
#ads_category .date { display: none; }

/* --- DIAPORAMA --- */
	/* slideshow */
#slideshow {padding:0 20px;}
		#slideshow #header img { display: none; }
		#slideshow #pagelayout_pathdesign {}
		#slideshow .elementlist_elementlink { display: none; }

	#slideshow #body { clear: both; display: block; margin: 10px 0; }

		#slideshow #navigation { text-align: center; }
			#slideshow #navigation table { display: inline; }
			#slideshow #navigation a img { border: 1px solid #fff; }
				#slideshow #navigation a img:hover { border: 1px solid #ccc; }


		#slideshow #caption {
			font-weight: bold;
			color: #666;
			padding: 12px;
			text-align: center;
			font-family:verdana;
			display:none;
			}

		#slideshow #image { text-align: center; width:auto; }

		#slideshow #image img {
			}

	/* gallerie vignettes */
	.content-view-children td {
		vertical-align: top;
		width: 25%;
		}

	.content-view-galleryline {
		clear: both;
		margin: 10px; padding: 10px;
		vertical-align: top; text-align: center;
		border: 1px solid #ccc;
		}

		.content-view-galleryline .attribute-image { display: inline; border-bottom: 1px solid #ccc; text-align: center; }
			div.content-view-galleryline div.attribute-image img { border: 1px solid red; }

	.content-view-galleryline .attribute-copyright p { clear: both; text-align: right; font-family:verdana; font-size:11px }
	.content-view-galleryline .attribute-caption { clear: both; text-align: center; }

	/* wallpaper */
	#wallpaper #size_links {text-align:center;}
	.content-view-galleryline #wallpaper .attribute-image {border:0;}
	#area_middle #wallpaper #size_links a {
		font-weight:normal;
		font-size:0.8em;
		margin:0 5px;
		border:0;
		}

	#area_middle #wallpaper a.caption_link { font-weight:normal; text-align:center; }

	.wallpaper_item_td { border:1px solid #ccc; text-align:center; }
	.wallpaper_item {  width:178px; display:block; text-align:center; padding:10px;   }
    .wallpaper_item_img {  height:150px;}


/* DIAPORAMA : */
#image_full_view_body { font-family:Arial; margin:0 auto; text-align:center;}

	#navigator { margin: 10px 0; white-space: nowrap; }
		#navigator span { font-weight: bold; }
		#navigator span a { font-weight: normal; }
		#navigator .previous-disabled span { font-weight: normal; }
		#navigator .next-disabled span { font-weight: normal; }


		#image_full_view_body table { width:100%; }
		#image_full_view_body .image { margin: 0 auto; }


		#image_full_view_body .caption { font-family:Verdana, color:#000; font-size:12px; text-align:left; margin:0; }
			#image_full_view_body .caption p { text-align:left; margin:0; font-style:normal; }
		#image_full_view_body .copyright { font-family:Verdana, color:#000; font-size:11px; text-align:right; }

#image_full_view_thumb { margin:20px 10px 10px 10px; text-align:center; padding:10px; border:1px solid #ccc; display:block; height:90px; }
.gallery_full_div { margin:0; padding:0; }
#image_full_nav { text-align:center; margin:0; padding:5px 0; color:#FF6505; }
	#image_full_nav a { color:#FF6505; font-size:0.85em; }
		#image_full_nav a:hover { color:#666; }


/* --- Annuaires --- */
#annuaire { }

#annuaire_header {
	display: block;
	_overflow: hidden;
	_height: 100%;
	border: 1px solid #ccc;
	background: #DFDFDF;
	padding: 6px 10px 6px 0;
	}

#annuaire_header fieldset { border:0; float: left; }

#annuaire_header select { _top: 1px; }

#annuaire_header select { _margin-top: 1px; }

#annuaire_header div { float: left; _margin-left: 6px; }

#annuaire_header #searchbutton { display: block; float: left; position: relative; top: 18px; _top: 14px; _margin-left: 6px; }

#directory_searchbox .pages { padding: 0 10px; }

#directory_results { clear: both; border-bottom: 1px solid #ccc; padding-top: 20px; }
	#directory_results .contenus {overflow: hidden;}

.directory_result_line {	clear: both; display: block; padding: 0 0 10px 0; margin-bottom: 20px; overflow: hidden; _height: 100%; }
	.directory_result_line div { line-height: 17px;  }
	.directory_result_line label { display: inline; color: #333; }
	.directory_result_line a { display: inline; padding: 0; }

	.directory_result_line .bglight,
	.directory_result_line .bgdark { border-bottom: 1px solid #ccc; padding: 10px; }

		.directory_result_line h2 { float: left; width: 80%; border: 0; margin: 0;  }
		.directory_result_line h2 div { display: block; padding-top: 17px; }
	.directory_result_line .date,
	.directory_result_line .lieu { clear: both; font-family: Arial; font-weight: bold; color: #000; }
		.directory_result_line .lieu { padding-bottom: 6px; }

	.directory_result_line_title {
		overflow: hidden;
		border-bottom: 1px dotted #AEE477;
		padding-bottom: 3px;
		margin-bottom: 6px;
		overflow: hidden;
		_height: 100%;
		vertical-align: bottom;
		}
		.directory_result_line .directory_result_line_title h2 { font-size: 1.3em; }
 	.directory_result_line a.theme2 { font-size: 0.8em; }
		.directory_result_line a.theme:hover { font-weight: normal; font-size: 0.8em; color: #666; }
		.directory_result_line a.soustheme { font-size: 0.8em; }

.directory_result_line .themes { padding-bottom:2px;line-height: 11px; }

.directory_result_line .feedback h2 { color: #000; font-size: 1em; border: 0; margin-bottom: 10px; display: none; }

.contenu1 {clear:both;overflow: hidden; _height: 100%; }
.contenu1 {display: inline; }

/* --- ANNUAIRES 2 --- */
#annuaire2 h1 { display: block; padding: 6px 10px; }
#annuaire2 #annuaire_header { background: #A9B1A4; border: 1px solid #333; margin: 20px 0 0 0; padding: 0 4px; }
#annuaire2 form { display: block; padding: 10px; overflow: hidden; _height: 100%; }
#annuaire2 #annuaire_header .button { font-size: 1.1em; margin-left: 10px; }
#annuaire2 #annuaire_header .button:hover { font-size: 1.1em;  background: #EAF8DE; }
#annuaire2 .bgannuaire2 { background: #EAF8DE; }
#annuaire2 .bgannuaire2 .node_summary { font-weight: bold; }

/* ANNUAIRES */
#annuaire_search {
	display: block;
	_overflow: hidden;
	_height: 100%;
	margin: 0;
	padding: 0;
	background: #fff url(fond_agenda.gif) no-repeat;
	}

	#annuaire_search .elementlist_elementlink {clear:both;text-align:left;margin-top:10px;}

	#help {
		display: block;
		width: 49px;
		height: 22px;
		background: url(aide.gif);
		overflow:hidden;
		}
		a#help:hover { background: url(aideo.gif); }

	#annuaire_search .span1 { display: block; width: 40%; float: left; }
	#annuaire_search .span2 { display: block; width: 60%; float: right; }

	#annuaire_search table .span1 { display: block; white-space:nowrap; float:none;}
	#annuaire_search table .span2 { display: block; white-space:nowrap; float:none;}

	#annuaire_search div.bglight,
	#annuaire_search div.bgdark {
	background: none; font-weight: bold; border: 0; padding: 6px 10px 6px 10px; overflow: hidden; height: 100%; }

	#annuaire #folder_name { margin: 0; padding: 0; }
	#annuaire #folder_name h1 { background: #F58F3D; color: #fff;}

.annuaire_filet { display: block; padding: 6px 0; border-top: 1px dotted #AEE477; margin-top: 6px; }

/* --- AGENDA ( /design/plain_site/override/templates/full/agenda2.tpl ) --- */

	/* Calendrier */
span.agenda_current { display: none; }
span.agenda_selected { display: none; }

td#agenda_calender { padding-left: 15px; vertical-align: top;  }

td#agenda_calender table {
	margin-top: 10px;
	width: 180px;
	text-align:center;
	background: #B6C7E7;

	font-size: 0.9em;
	border: 1px solid #3F639D;
	}

	td#agenda_calender th {
		background: #fefefe;
		color: #3F639D;
		}
		td#agenda_calender th a { color: #3F639D; }
			td#agenda_calender th a:hover { color: #000; }

	td#agenda_calender td {
		padding: 0;
		color: #ccc;
		background: #3F639D;
		}
		td#agenda_calender a {
			display: block;
			width: 100%;
			font-weight: bold;
			color: #fff;
			}
			td#agenda_calender a:hover {
				color: #3F639D;
				background: #fff;
				}

	td#agenda_calender .agenda_selected {
		color: #3F639D;
		background: #fff;
		border: 1px solid #3F639D;
		}
		td#agenda_calender .agenda_selected a {	color: #3F639D; }
			td#agenda_calender .agenda_selected a:hover { color: #000; }

		/* Aujourd'hui */
		td#agenda_calender .agenda_selected_current a {
			font-weight: bold;
			background: #6EC2C9;
			color: #fff;
			}
			td#agenda_calender .agenda_selected_current a:hover { font-weight: bold; color: #3F639D; background: #6EC2C9;	}
			td#agenda_calender .agenda_current { font-weight: bold; color: #fff; background: #6EC2C9; }
			td#agenda_calender .agenda_current a { font-weight: bold; color: #fff; }

/* infos */
td#agenda_month { clear: both; vertical-align: top; padding-left: 15px; width: 100%; }

td#agenda_month .bglight,
td#agenda_month .bgdark { display: block; background: #fefefe; border-bottom: 1px dotted #666; padding: 0 0; }

td#agenda_month table { width: 100%; }
td#agenda_month td { vertical-align: top; }

td#agenda_month h1 { display: block; border-bottom: 1px solid #333; margin-bottom: 10px; }
td#agenda_month h2 { color: #3F639D; font-size: 1.5em; display: block; margin: 0 0 10px 0; }

.agenda_month_head { display: block; padding: 10px 20px 10px 0; width: 400px; margin: 0;  }
	.agenda_month_head h2 { display: block;  width: 100%; margin: 0; border: 0; padding: 0; }
	.agenda_month_head a { margin: 0; border: 0; padding: 0; }
	.agenda_month_head .intro { padding-bottom: 10px; color: #000; text-align: left; }
		.agenda_month_head .intro p { line-height: 13px;  color: #000;  font-size: 1.1em; text-align: left; }
	.agenda_month_head .dates { font-weight: bold; }
	.agenda_month_head .horaires { padding-left: 6px; border-left: 1px solid #333; font-weight: bold; }
	.agenda_month_head .lieu { display: block; font-weight: normal; font-size: 1.2em;}
	#agenda .elementlist_elementlink { margin-top: 6px; }
	#agenda .elementlist_elementlink a { padding-left: 14px; }

	/* today */
	#today { background: #F4F4F4; padding: 10px; margin-bottom: 10px; margin-top: 10px; }

	h2.current_month { margin: 0; }

.agenda_month_event_old { width: 100%; }
#agenda_month_hidden_show { font-size: 1.2em; font-weight: bold; display: block; margin-top: 20px; }
.class-agenda .date { display: block; clear: both; font-weight: bold; }

#area_middle .zoom_agenda h1 { display: block; }

	/* évenement d'agenda dans un articlelist */
	.elementlist_agenda_element { margin: 6px 0; font-weight: bold;}
	.elementlist_agenda_element .dates {}
	.elementlist_agenda_element .horaires { padding-left: 6px; border-left: 1px solid #333;}

	/* évenement d'agenda type articleview */
	#agenda_view_full {}
		.folder917 #agenda_view_full #folder_name { background: none; padding: 0; height: auto; margin: 0; }
		.folder917 #agenda_view_full #folder_name h1 { display: block; margin: 0; }

		.agenda_view_full_element { margin: 10px 0; font-weight: bold; text-align: right; border-bottom: 1px solid #ccc;}
			#agenda_view_full .dates {}
			#agenda_view_full .horaires { padding-left: 6px; border-left: 1px solid #333;}
			#agenda_view_full .lieu { display: block; font-weight: normal; font-size: 1.2em;}
			#agenda_view_full .attribute-image a { font-size: 0.9em; color: #333; font-style: italic; }

#sondage2 { }

#sondage2 .question { overflow:hidden; margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #FF6600; }
.content-results { margin-top:10px; }
#sondage2 .question h3 { font-size:1em; margin-bottom:5px;}


#sondage2 .pourcentage {}
#sondage2 .pourcent2 { background:#ccc; border:1px solid #ddd; border-left:0; }
#sondage2 .pourcent { background:#AEE477; border:1px solid #ddd; border-right:0; }

#sondage2 h1 { margin-bottom:10px; }

#sondage2 .warning h3 {font-weight:bold; margin-bottom:6px; font-size:1em; }

#latest_article_list_spacer { display:none; }

#latest_article_list {
	width:219px !important;
	!width:219px !important;
	width:219px;
	padding:0;
	border:1px solid #AEE477;
	}
#latest_article_list_title {
			display: block;
			padding: 3px 10px;
			font-size: 1em;
			font-weight: bold;
			color: #fff;
			background: #AEE477;
			}

#latest_article_list_articles { padding:10px; }

#latest_article_list_articles .elementlist_element h2 {display:none;}

#latest_article_list_articles .elementlist_element {margin:0; padding:0; }
p.latest_article { padding:0; margin:0; }

#slideshow_embed h2 {display:none;}
#slideshow_embed #caption {display:none;}

#body.body_diaporama .caption {
    font-size:12px;
    margin:0;
}
#body.body_diaporama .caption p{
    margin-top:5px;
    font-style:normal;
}