/*#content { width:545px; float:left;}*/
 	#logInt { background:url(bgd_logInt.gif) no-repeat left bottom; padding:0 0 10px 10px; width:537px; overflow:hidden; border-top:1px solid #b689b6; }
		#logInt .logInt1 { width:230px; float:left; margin:0 46px 0 0; background:url(ico_people.gif) top left no-repeat}
		#logInt .logInt1 p.pBonjour { background:#eee4ee; margin:0 0 10px 50px }
		#logInt .logInt1 h3 { margin:10px 0 5px 50px;}
		#logInt ul { margin:10px 0}
			
		#logInt .logInt1 h4 { margin:8px 0 8px 0; background:url(ico_arrow01.gif) no-repeat 0 0; padding:0 0 0 20px;}
		#logInt .logInt2 { width:255px; float:right;}
			#logInt .logInt2 h4 { margin:8px 0 8px 0; background:url(ico_arrow01.gif) no-repeat 0 0; padding:0 0 0 20px;}
		.groupClose { text-align:right; background:#eee4ee; margin:0 1px 23px 130px; padding:5px 0  ; font-weight:bold}
			.groupClose img { vertical-align:middle}
	#logInt02 { background:url(bgd_logInt.gif) no-repeat left bottom; padding:0 0 10px 10px; width:537px; overflow:hidden; border-top:1px solid #b689b6; }
		#logInt02 .logInt1 { width:230px; float:left; margin:0 46px 0 0; background:url(bgd_logOut.gif) top left no-repeat}
		#logInt02 .logInt1 ul { margin:10px 0}
		#logInt02 .logInt1 ul li { background:url(ico_02.gif) no-repeat 0 5px!important; padding:0 0 0 10px; display:block;}	
		#logInt02 .logInt1 h3 { margin:25px 0 25px 64px;}
		#logInt02 .logInt2 { width:255px; float:right; margin:34px 0 0 0; }
	.formIden {background:#ede8ef url(bgd_logOut2.gif) bottom right no-repeat; width:236px; margin:10px 0 0 0; padding:5px; overflow:hidden}		
		.formIden form { margin:0 0 10px 0}
		.formIden p { width:236px; overflow:hidden; margin:5px 0}
		.formIden p label { width:85px; float:left; margin:0 5px 0 0; font-weight:bold }
		.formIden input.txtIdentifiant , .formIden form input.txtMosespass { width:100px; float:left; margin:0 5px 0 0; padding:1px; font-size:11px;}
		.formIden input.btnOK { float: left; font-size:11px;}
		
	.formdoc{background: url(bgd_bloc_recherche.gif) no-repeat;width:242px; height: 84px; padding:10px 0 0 8px; margin:15px 0 0 0}
		.formdoc label{font-weight: bold;}
		.formdoc input#text_docs_search{border:1px solid #c29cc5;float:left; margin:10px 0 0 0; width: 144px}
		.formdoc #btn_formgif{width:89px;float:right;margin: 6px 0 0 0}
	.infolog{background:#FFF url(bgd_info_log.gif) no-repeat; width:248px; height:79px;margin: 30px 0 18px 0; padding:20px 0 0 10px;}	
		.infolog p{font-weight:bold; color:#fff}
		
	#service { height: 190px; width:545px; margin:15px 0; padding:10px 0; overflow:hidden; background:url(bgd_services.gif) no-repeat; /*border-top:1px dotted #b689b6; border-bottom:1px dotted #b689b6*/} 
		#ProInsertionBlocNote h4 { margin:8px 0 8px 0; background:url(ico_arrow01.gif) no-repeat 0 0; padding:0 0 2px 20px; font-size:13px!important;}
		#ProInsertionBlocNote h4 a{ background:none !important; padding:0!important;}
		#service h4 a {background:url(ico_arrow01.gif) no-repeat 0 0; padding:0 0 2px 20px;}
		.infoSoutien {border:3px solid #0da7cd; padding: 10px; margin: 15px 0 10px 0; width: 521px;background : #DFFAFF;}
		.infoSoutien p{color: #6E146E; font-weight: bold; margin: 0 0 5px 0;font-size : 14px;}
		.infoSoutien p.soutienDetail{color: #000; font-weight: bold; margin: 0 0 5px 0;font-size : 12px;}
		.atlas { width:264px; float:left; margin:0 20px 0 0}
		.serviceNew {width:260px; float:left}
		.infoService { margin:10px 0; display:block}	
			.infoService img { margin:0 10px 10px 0; float:left}
			#ProInsertionBlocNote {width: 585px; padding: 0 70px 0 85px; overflow: hidden;}	
			#cont #vosprojet #ProInsertionBlocNote li{ background:none; padding:0; display:inline;}
			#cont #vosprojet #ProInsertionBlocNote li a{ display:block;}
				.infoNewsletter{ margin:0 0 20px 0;}
				.infoNewsletter img{ float:left;}
				.infoNewsletter div{ width:440px; float:left; padding-left:10px;}
				.infoNewsletter ul{ padding:25px 0 0 0;}
			.blocNews { float:left; width:230px; padding-right:25px;}
		#service ul { margin:10px 0}
			#service  ul li { padding:1px 0}
		.servicePar { width:545px; /*float:left;*/ margin:0}
		 .servicePar h4 a{background:url(ico_arrow01.gif) no-repeat 0 0; padding:0 0 2px 20px;}	
		 .servicePar .listType1 li, #cont .servicePar li { background:url(ico_02.gif) no-repeat 0 5px; padding:0 0 0 10px; display: block;}
		#cont .servicePar li.listType2 { background:none; padding:0; margin: 5px 0 20px 0}
		#blockNote {width: 585px; padding: 30px 70px 0 70px; overflow: hidden;}
		.blockNote {width: 320px; float: left; overflow:hidden}
			.blockNote img {float: left; margin: 0 8px 0 0;}
			.blockNote h4 { margin:8px 0 8px 0; background:url(ico_arrow01.gif) no-repeat 0 0; padding:0 0 0 20px;}
			.blockNote ul { margin:10px 0; width:205px; float:right}
				.blockNote  ul li { padding:1px 0}	
		#blockNote02 { width:545px; margin:15px 0; padding:10px 0; overflow:hidden; } 
			#blockNote02 h4 { margin:8px 0 8px 0; background:url(ico_arrow01.gif) no-repeat 0 0; padding:0 0 0 20px;}
			#blockNote02 ul { margin:10px 0}
				#blockNote02  ul li { padding:1px 0}	
	.bgCell3 {background: #f4eaf2; padding: 5px; text-align:left; width:530px; margin:10px 0}
	/*.fillbgp {background-color:#F5DBE8; padding:5px;}*/
	.renVous { border-top:1px solid #b51e8f; padding:10px 0}
	.renVousLast { border-top:1px solid #b51e8f; border-bottom:1px solid #b51e8f; padding:10px 0}
	#sidebar {width: 175px!important; position:absolute; left:595px; top:-15px;}	
		#sidebar .Actu_rem, #sidebar .econseiller, #sidebar form{ margin: 20px 0; }
		#sidebar .toutsavoir h3{ font-size:12px;}
		#sidebar a{ color:#000!important;}
		#sidebar p.contact a{ text-decoration:underline!important;}
		#sidebar p.contact a:hover{ text-decoration:none!important;}
		#sidebar.appel {float:right;}
		#sidebar.appel .toutsavoir {margin:20px 0 0 0;}
		#sidebar ul { list-style-type: none; margin-bottom:2px; width:175px!important;}
		#sidebar li, #sidebar.appel li {background: #FFF url(flechebrown.gif) 9px 5px no-repeat;padding: 3px 0 0 16px;}
		#sidebar .toutsavoir li a {text-decoration:none;}
		#sidebar .toutsavoir li a:hover {text-decoration:underline;}
	.appelTop {border-bottom:1px solid #b378b2; margin:0 0 10px 0;}
		.appelTop h3, .appelTop p {margin:0 0 10px 0;}
		.appelTop ul { width:300px!important; padding:0 0 10px 0;}
		.appelTop h3 { color:#6e146e; font-size:14px;}
	.appelContact {background:url(prof_help_list_form.gif) bottom no-repeat; width:430px; padding:0 0 20px 0; margin:10px 0 0 70px;}
		.appelContact h3 {background:url(prof_help_list_form.gif) top no-repeat; width:330px; padding:25px 50px 15px 50px; color:#000000; font-size:12px;}
		.appelContact a { color:#6e146e}
		.appelContact p {padding:0 50px 0 150px;}
	#maincontent.appel .appelContact a {color:#B84900;}
	.retourAppel {margin:10px 0;}
	/*.appelContact {background:url(../images/prof_help_list_form.gif) bottom no-repeat; width:430px; padding:0 0 20px 0; margin:10px 0 0 70px;}
		.appelContact h3 {background:url(../images/prof_help_list_form.gif) top no-repeat; width:330px; padding:25px 50px 15px 50px; color:#000000; font-size:12px;}
		.appelContact p {padding:0 50px 0 150px;}
	.retourAppel {margin:10px 0;}*/

/*---------espaceDoc_publi-----------*/
#contEspaceDocumentaire {padding: 20px 106px 20px 92px; width: 752px; position:relative;}
#contEspaceDocumentaire .right {float:right; padding:0 20px 0 0;}
	#contEspaceDocumentaire h2 { color: #6e146e; font-size: 22px; font-weight: bold; border-bottom: #ed8944 solid 3px; width:752px; padding: 0 0 3px 0;}
	#contEspaceDocumentaire h3{ font-size:16px;}
	#nav_deconector {width: 411px; background:url(bgd_deconector.gif) left top no-repeat; padding: 11px 17px 9px 8px; height: 19px; position:absolute;top:0px; left:407px;}
		#nav_deconector a{background:url(ico_bonjour.gif) left center no-repeat; color:#000; padding: 2px 0 3px 25px; display: block; float: left; line-height: 1.2em; text-decoration: none;}
			#nav_deconector a:hover {text-decoration: underline;}
			#nav_deconector a.se_deconnecter{background:url(ico_close01.gif) right center no-repeat; color:#000; padding: 2px 23px 3px 5px; display: block; float: right; line-height: 1.2em; font-weight:bold; text-decoration: underline; border-left:#000 solid 1px;}
	#contNous {width: 433px; float: left; padding: 15px 0 0 0;}
		#contNous span{font-weight: bold;}
		#contNous p.help{background:url(bgd_help_doc.gif) no-repeat 0 20px; font-weight: normal; padding: 20px 0 22px 55px;}
		#contNous form {padding: 7px 0 0 0;}
			#contNous fieldset {border:none;}
/*			#contNous form p {background:#f4eaf2 url(../images/bgd_line_espaceDoc.gif) left top repeat-x; height:19px; padding: 4px 0; margin: 0 0 10px 0; width: 470px;}
			#contNous label {float: left; width: 228px; padding: 2px 0 0 0;}
			#contNous select {width: 200px; border:#9c9c9c solid 1px; height: 18px; margin: 0 10px 0 0;}
*/	
		#contNous fieldset p { background:#f4eaf2 url(bgd_pform_espace.gif) 0 0 no-repeat; width:433px; height:34px; display:block; overflow:hidden}	
		#contNous fieldset p.last { border-bottom:1px solid #b17fb0}
		#contNous .btnRecher { background:none; margin:5px 0 0 330px;width:100px;}

		#contNous label {float: left; width: 162px; padding: 2px 0 0 0; margin:8px 0 0 25px;}
		#contNous select {width: 228px; border:#9c9c9c solid 1px; margin:8px;}



	#hightlightTable{padding:0;}
		#hightlightTable table {width:751px;padding:0; margin:0; background:#d7aed7;}
		#hightlightTable th {height:35px; padding:0; background:#f1e6f1;}
		#hightlightTable td {vertical-align: top; text-align:left; padding:5px; background:#fff;}
		#hightlightTable td a{ background:none; display:block; clear:both; float:none; width:auto;}
		#hightlightTable td a:hover{ text-decoration:underline;}
		#hightlightTable .bgd_doc_pro td{ background:#FFF url(bgd_doc_pro.gif) 0 0 repeat-x;}
	
		#hightlightTable .textalign {text-align:center;}
		#hightlightTable span{color:#6e146e; font-weight: bold; float:left; padding:0 2px;}
		#hightlightTable img {float: left; margin: 3px 3px 0 0;}
		#hightlightTable img.arobat{float: left; margin: 5px 0 0 0;}
		#hightlightTable span.txtTable{font-weight: normal;color:#000; padding:0 0 0 0; float: left; padding:45px 0 0 3px;}
		
		#hightlightTable th a, #highlightTableAppels th a{padding:0; margin:0 2px 0 0; width:12px; float:left; height:13px;}
		#hightlightTable th a.type, #highlightTableAppels th a.type{background:url(icon_sort.gif) 0 0 no-repeat; width:12px;}
		#hightlightTable th a.type1, #highlightTableAppels th a.type1{background:url(icon_sort.gif) -12px 0 no-repeat; width:12px;}
		#hightlightTable th a.type2, #highlightTableAppels th a.type2{background:url(icon_sort.gif) -24px 0 no-repeat; width:12px;}
		#hightlightTable th.cellType a.type{background:url(icon_sort.gif) 0 10px no-repeat; height:23px;}
		#hightlightTable th.cellType a.type1{background:url(icon_sort.gif) -12px 10px no-repeat; height:23px;}
		#hightlightTable th.cellType a.type2{background:url(icon_sort.gif) -24px 10px no-repeat; height:23px;}
		#hightlightTable th a:hover{ text-decoration:none;}
		#hightlightTable a{float: left; background:url(icon_arrow08.gif) left 5px no-repeat; width:8px; display: block; text-decoration: none; color:#000;}
		
		#hightlightTable a.arrow {float: left; background:url(icon_arrow09.gif) left 6px no-repeat; width:8px; display: block; text-decoration: none; color:#000;}
		
		#hightlightTable th.celldate {width:98px;}
		#hightlightTable th.cellTitre {width:120px;}
		#hightlightTable th.cellEmetteur {width:99px;}
		#hightlightTable th.cellResume {width:200;}
		#hightlightTable th.resume {width:107px;}
		#hightlightTable th.cellThematique {width:93px;}
		#hightlightTable th.cellType {width:105px;}
		#hightlightTable th.cellRegion {width:113px;}
	
		#hightlightTable td.celldate {width:88px;}
		#hightlightTable td.cellTitre {width:110px;}
		#hightlightTable td.cellEmetteur {width:89px;}
		#hightlightTable td.cellResume {width:200px;}
		#hightlightTable td.resume {width:97px;}
		#hightlightTable td.cellThematique {width:83px;}
		#hightlightTable td.cellType {width:95px;}
		#hightlightTable td.cellRegion {width:103px;}
		
	
	#pages{padding: 0 1px;}
	
		#pages a {background:url(icon_arrow01.gif) left center no-repeat; padding: 0 0 0 10px; width: 130px; font-weight: normal;}
		#pages a.page_suivante{background:url(icon_arrow04.gif) right center no-repeat; padding: 0 10px 0 0; display: block; width: 100px; font-weight: normal; float: right; text-align: right;}
		#pages a:hover{text-decoration:underline;}
		#pages p.page{color:#000; font-weight: normal; float: left; margin: 0 0 0 220px; width: 100px;}
		#pages span.textcolor {color:#6e146e; font-weight: bold; float:none;}
/*---------------Appels d'Offre---------*/
#contAppels_dOffre {width:724px; padding:20px 0 20px 40px; float:left; position:relative;}
	#contAppels_dOffre h2 { color: #6e146e; font-size: 22px; font-weight: bold; border-bottom: #691369 solid 3px; padding: 0 0 3px 0; width:545px;}
	#introAppels{padding: 15px 180px 45px 0;}
	#highlightTableAppels {padding:0;}
	#highlightTableAppels table { margin:0; padding:0;}
	#highlightTableAppels th {margin:0; padding:0; text-align:center;}
	#highlightTableAppels td {text-align:left; vertical-align:top;}
	#highlightTableAppels span{float:left;color:#621262; font-weight:bold; padding:0 2px;}
	#highlightTableAppels span.textnormal{color:#621262; font-weight:normal; font-size:10px;}
	#highlightTableAppels th a{float: left; background:url(icon_arrow08.gif) left 5px no-repeat; width:8px; display: block; text-decoration: none; color:#000;}
	#highlightTableAppels a.arrow {float: left; background:url(icon_arrow09.gif) left 6px no-repeat; width:8px; display: block; text-decoration: none; color:#000;}
	#highlightTableAppels a.date{float: left; background:url(icon_arrow08.gif) 0 10px no-repeat; width:8px; display: block; text-decoration: none; color:#000;}
	#highlightTableAppels a.date1{float: left; background:url(icon_arrow09.gif) 0 10px no-repeat; width:8px; display: block; text-decoration: none; color:#000;}
	#highlightTableAppels td a { color:#800080;}
	#highlightTableAppels .textalign {text-align: left;}
	#highlightTableAppels .cellObjet {width:162px; padding:0 0 0 96px;}
	#highlightTableAppels .cellType {width:72px; padding:0 0 0 16px;}
	#highlightTableAppels .cellPubliele {width:82px; padding:0 0 0 16px;}
	#highlightTableAppels .cellRegion {width:82px; padding:0 0 0 26px;}
	#highlightTableAppels .cellDate {width:74px; padding:0 0 0 15px;}
	#highlightTableAppels .bgdcell {background:#ede7f0 url(bgd_row.gif) left bottom repeat-x; padding: 5px 0 9px 8px;}
	#highlightTableAppels .bgdcell1 {background:#e0d2e8 url(bgd_row1.gif) left bottom repeat-x; padding: 5px 0 9px 8px;}
	#contAppels_dOffre ul {width:220px; margin:10px 0 0 0;}	
	#contAppels_dOffre li {display:block; display:inline;}
	#contAppels_dOffre li a{background:url(ico_arrow.gif) 0 4px no-repeat; padding: 0 0 0 10px; display:block; color:#000; text-decoration:none;}
	#contAppels_dOffre li a:hover {text-decoration:underline;}
/*http://sm-linux/blab/agefiph_checkout/index.php?nav1=professional&nav2=list&type=formation*/
#contAppels_dOffre #highlightTableAppels .pagenav{margin-bottom:15px;}
#contAppels_dOffre #highlightTableAppels .pagenav span{ margin-left:260px;}
#contAppels_dOffre #highlightTableAppels .pagenav span strong{padding:0 3px; float:left;}
#contAppels_dOffre #highlightTableAppels .pagenav a{float:left; width:auto; padding:0 3px; font-weight:normal;}
#contAppels_dOffre #highlightTableAppels .pagenav a.nextPage 	{ background:url(icon_arrow.gif) right 3px no-repeat; float:right; margin-left:0; padding:0 10px;}
#contAppels_dOffre #highlightTableAppels .pagenav a.prevPage	{ background:url(icon_arrow02.gif) left 3px no-repeat; float:left; margin-left:0; padding:0 10px;}
#contAppels_dOffre #highlightTableAppels .pagenav a.nextPage:hover{ text-decoration:underline;}


/*Suivi des dossiers*/
#main #nav_deconector{left:474px;}
.bgformation02{ width:725px; padding:0 0 0 185px; position:relative;}
	.bgformation02 h2 {border-bottom: #eb690a solid 3px; width:545px; padding:0; margin:20px 0 0 0; width:725px;}
#suviStep1{ width:725px; position:relative;}
.contType02{ width:725px; overflow:hidden; padding-bottom:20px;}
	.contType02 div	{ float:left;}
	.contType02 div h3{ margin-bottom:10px;}
	.contType02 ul	{ float:right;}
	.contType02 li	{ vertical-align:middle;}
	.contType02 li a{color:#691369;}
.contType03{}
	.contType03 ul{width:725px; background:#e4dde9 url(bgd_intro1.gif) right bottom no-repeat; overflow:hidden; margin:0; padding:0;}
		.contType03 li{float:left; width:170px; padding:5px 0 5px 10px; border-left:1px solid #691369;}
		li.borderNone{border-left:1px solid #e5ddea;}
		.contType03 li p{color:#691369;}
		li.step1Current, li.step2Current, li.step3Current, li.step4Current{background:#691369;}
		li.step1Current p, li.step2Current p, li.step3Current p, li.step4Current p{color:#fff;}
.contType04 h3, .contType05 h4, .contType04 h4{ font-size:18px!important; font-weight:normal; margin:15px 0;}

input#saveForm{color:#000; font-weight:bold;background:url(btn_Enregistrer.gif) no-repeat; height:30px; width:109px; border:none; cursor:pointer; padding:0 9px 7px 10px;margin-right:10px; text-align:left;}
input#submitForm { color:#000;font-weight:bold; background:url(btn_Valider_n.gif) no-repeat; height:30px; width:87px; border:none; cursor:pointer; padding:0 9px 7px 0;}
*html input#submitForm{padding-top:4px;}
*html input#saveForm {padding-top:4px;padding-left:13px;}
*+html input#submitForm{padding-top:4px;}
*+html input#saveForm {padding-top:4px;padding-left:13px;}

.contType05{ padding:0 0 20px 0}
.contType05 table td{background:#ede7f0 url(bgd_cell.gif) left bottom repeat-x; padding: 5px 0 13px 5px;}
.contType06{ text-align:center; padding:10px 0 0 0;}
#econseiller fieldset p{ background:none;}
#econseiller fieldset p input{float:left; width:14px; margin-top:2px;}
*html #econseiller fieldset p input{float:left; width:14px; margin-top:-1px;}
.fdsetbg1{width:460px;}
.contType04 fieldset{ border-bottom:1px solid #e4dde9; padding:10px 0;}
	.contType04  fieldset p, .contType04  .fdsetbg1 p{ width:460px; background:#e4dde9; margin:5px 0; clear:both; overflow:hidden; padding:5px 20px 5px 13px;}
	.contType04  fieldset p label, .contType04  .fdsetbg1 p label{ float:left; width:195px;}
	.contType04  fieldset p input, .contType04  .fdsetbg1 p input{ float:right; width:205px;}
.Organisme{ padding:0 0 20px 0}
	.Organisme span{ font-size:10px!important; font-style:italic; display:block;}
#nogroup{ padding:0 0 10px 0;}
#main .popstyle1 {color:#4498aa; padding:3px 0 3px 25px; background:url(icon_squaredown.gif) no-repeat;}
#main .popstyle2 {color:#4498aa; padding:3px 0 3px 25px; background:url(icon_squareup.gif) no-repeat;}
#main .poplayer1 a, #main .poplayer2 a {text-decoration:underline; cursor:pointer;}
#main .poplayer1 a:hover , #main .poplayer2 a:hover {text-decoration:none; cursor:pointer;}
.poplayer1 ul {margin:20px 15px;}
.poplayer1 ul li {list-style:disc; margin:0 0 10px 0;}
.poplayer1 table {width:100%; margin: 20px 0;  background-color:#c5dfe5;}
.poplayer1 table td {padding:4px; background-color:#FFF;}
.poplayer2 {font-size:90%;/*position:absolute; */padding:15px; background:#FFF;/*left:50px; top:150px; border:1px solid #c5dfe5; width:250px;*/ z-index:999;}
.popup_message {text-align:center;font-size:90%;/*position:absolute; */padding:15px; background:#FFF;/*left:50px; top:150px; border:1px solid #c5dfe5; width:250px;*/ z-index:999;}
.popupStatus{ background:#fff !important; position:absolute !important; left:185px !important; top:-1000px; border:2px solid #7f1c86 !important; display:block !important; padding:20px !important;}
.popupStatusClosed{display:none!important;}
#foldup_group a{color:#7f1c86!important; cursor:pointer;}
#foldup_group a:hover{text-decoration:underline;}
#form_pannel div.clrType1 a{ color:#de0000!important;}
#form_pannel div.clrType2 a{ color:#00a10b!important;}
#form_pannel div.clrType3 a{ color:#6b6f70!important;}
.totop a{background:url(icon_arrow.gif) 0 4px no-repeat; text-decoration: none; color:#000; padding:0 0 0 10px;}
.txtreadonly,.txtreadonly2{background:#EAEAEA;}
.smallFont{font-size:11px;}
legend{font-weight:bold;margin-bottom:10px;}
span.txtspecial{font-size:80%; color:#801D86; margin-top:-20px; left:265px; bottom:auto; position:absolute;z-index:999;}
p.error{color:red;}
/* fin */

/*formulaire-convention @Huong */
#formulaireCconvention {width:910px; padding:20px 20px 0 20px; background:#fff; overflow:hidden}
	#formulaireCconvention h2 {border-bottom: #0da7cd solid 3px; padding:0 0 7px 0; margin:0 0 13px 0; width:910px}
	#formulaireCconvention h3 {padding:0 0 2px 0}
	#formulaireCconvention h4 {background:url(bgd_conv_across.gif) 0 0 repeat-x; padding:8px 0 20px 0; font:bold 12px arial; margin:0 179px 0 220px; color:#0da7cd; }
		.champs {padding:15px 0 4px 0}
		.btnValider1 {margin:8px 0 15px 436px}
		.imgVous {margin:25px 0 16px 35px}
	#formulaireCconvention form {width:910px}
	#formulaireCconvention form h4{text-align:center !important}
	#formulaireCconvention form .convInscrivez {border:1px solid #3db9d7; width:874px; margin:0 0 9px 0; background:#f0ecf3; overflow:hidden; padding:15px 0 0 36px}
			#formulaireCconvention .convInscrivez div {width:430px; float:left; padding:0 0 0 28px; margin:10px 0 0 0 }
			#formulaireCconvention .convInscrivez div.convLeft {width:393px; background:url(bgd_conv_dot.gif) 100% 0 repeat-y; padding:0}
			.convInscrivez div p {overflow:hidden; padding:0 0 5px 0}
			.convInscrivez div p label {float: left; width: 120px}
			.convInscrivez div p select {width: 243px; border:#afafaf solid 1px; padding:1px 0 1px 1px; font-size:13px}
			.convInscrivez div p input {width: 243px; border:#afafaf solid 1px; padding:1px}
			.convInscrivez p.textUn {padding:4px 0 13px 117px; width:698px}
			*html .convInscrivez p.textUn {padding:4px 0 13px 117px; width:788px}
			.convInscrivez p.textUn textarea {width:600px; border:#afafaf solid 1px; padding:1px}
			
			#conben {margin:0 0 200px 35px; width:602px; border:1px solid #1bacd0; padding:18px}
				#conben ul li {background:url(li_ben.gif) 0 4px no-repeat; padding:0 0 8px 9px}
				#conben h4 {color:#0da7cd; background:none; padding:0 0 10px 0; margin:0}
		    .bgwhite {background:#fff; overflow:hidden}
			.confirm_promo{background:none; padding:0 0 10px 35px; margin:0; font:bold 12px arial;color:#0da7cd;}
			
			.conben2 {margin:0 0 30px 35px; width:602px;border:1px solid #1bacd0; padding:10px 18px}
				.conben2 ul li {background:url(ico_01.gif) 0 4px no-repeat; padding:0 0 8px 9px}
				.conben2 ul li a {text-decoration:underline; font-weight:bold; color: #6e146e}
				.conben2 .title{color:#0da7cd; background:url(bgd_conv_across.gif) 0 20px repeat-x; font:bold 14px arial; padding:0 0 10px 0; margin:0 0 6px 0;}
				.conben2 .alert {background : #fff url(alert_invention.gif) no-repeat 0 -1px; padding: 0 0 0 25px; margin:10px 0; font-weight:bold}
				.conben2 .info {background:url(li_ben.gif) 0 4px no-repeat; padding:0 0 8px 9px}
				.conben2 .info a {text-decoration:underline; font-weight:bold; color: #6e146e}
				.conben2 .little {font-size: 11px; font-weight: normal}
				.conben2 .encart {background: #f1e7f0; padding:5px; width:180px; margin: 0 0 10px 0;}
			
			#conben3 {margin:0 0 200px 35px; width:602px;}
				#conben3 ul li {background:url(li_ben.gif) 0 4px no-repeat; padding:0 0 8px 9px}
				#conben3 h4 {color:#0da7cd; background:none; padding:0 0 10px 0; margin:0}
