/******************************************************************************/
/*   		 	                      	HABILLAGE	 	                                */
/******************************************************************************/

/******************************************************************************/
/*                              	 GENERAL			                              */
/******************************************************************************/

html {
	margin: 0;
	padding: 0;
	text-align: center;
}

body {
	margin: 0 auto;
	padding: 0px 0 0px 0;
	text-align: center;
}

#conteneur {
	margin:0 auto;
	padding: 0px 0 0px 0;
	width: 961px;
	text-align: left;
	background-color: #ffffff;
	color: #000000;
	text-align: center;
	position: relative;
}

#haut {
	float: left;
	margin: 0;
	padding: 0;
	width: 961px;
	text-align: left;
	background-color: #ffffff;
	height: 175px;
	position: relative;
}

#milieu {
	float: left;
	width: 961px;
	color: #000000;
	background-color: #FFFFFF;
	text-align: left;
	/*background-image: url(../images/interface/bandeau_bas.jpg);*/
	background-position: left bottom;
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 15px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

*+html #milieu {
	margin-top: 20px;
}

#bas {
	float: left;
	margin: 0px 0 0px 0;
	padding: 2px 0 2px 0;
	width: 961px;
	text-align: center;
	background-color: #708b1d;
}


/******************************************************************************/

.align-justify {
	text-align: justify;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.indent {
	padding: 0 0 0 20px;
}


/******************************************************************************/
/*      			HAUT  			                      */
/******************************************************************************/

#haut_bandeau {
	margin: 0;
	padding: 0;
	float: left;
	width: 961px;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
}


/****************************************/
#haut_gauche {
	position: relative;
	float: left;
	width: 195px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 130px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	z-index:1;
}

.haut_gauche_haut a {
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	width: 210px;
	height: 110px;
	border: 0;
	z-index: 100;
}

.haut_gauche_haut a img {
	float: left;
	width: 210px;
	height: 110px;
}

.haut_gauche_bas{
	float: left;
	width: 180px;
	margin-left: 13px !important;
	margin-top: 0px;
	margin-left: 7px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.haut_gauche_bas form {
	float: left;
	width: 180px;
	background-image: url(fd_recherche.png);
	background-position: left top;
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

* html .haut_gauche_bas form {
	height:25px;
}

.haut_gauche_bas input {
	float: left;
	width: 120px;
	background-color: transparent;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 0px;
	margin-top: 5px;
	margin-left: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.haut_gauche_bas input.bouton_submit {
	float: left;
	width: 20px;
	background-color: transparent;
	font-size: 0.8em;
	font-weight: bold;
	border: none;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	cursor: pointer;
}

.haut_gauche_bas p {
	float: left;
	width: 180px;
	text-align: center;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.haut_gauche_bas p a {
	float: left;
	width: 160px;
	color: #708B1D;
	background-color: transparent;
	font-size: 0.8em;
	font-weight: bold;
	border: none;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	cursor: pointer;
}


/***************************************/
#haut_milieu {
	position: relative;
	float: left;
	width: 546px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 105px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	z-index: 10;
}

.haut_milieu_haut {
	margin: 0;
	padding: 0;
	float: left;
	width: 526px;
}

.haut_milieu_haut img {
	float: left;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.haut_milieu_haut span{
	float: left;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.haut_milieu_bas {
	margin: 0;
	padding: 0;
	float: left;
	width: 526px;
}

.haut_milieu_bas_date {
	float: left;
	width: 170px;
	
	margin: 0;
	padding: 0px 0px 5px 0px;
}

.haut_milieu_bas_newsletter {
	float: left;
	width: 200px;
	height:16px;

	border:1px solid #DADADA;
	
	background-image: url("enveloppe.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	
	margin: 0px 0px 0px 0px;
	padding: 0;
}

.haut_milieu_bas_newsletter a{
	float:left;
}

.haut_milieu_bas_newsletter form {
	margin: 0px 0 0 0px !important;
	margin: 4px 0 0 0px;
	padding: 0px 0 0px 0;
	float: left;
	width: 195px;
	background-image: url(fd_newsletter.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 25px;
}

.haut_milieu_bas_newsletter input {
	margin: 5px 0 0 5px;
	padding: 0px 0 0px 0;
	float: left;
	width: 140px;
	border: none;
	background-color: transparent;
}

.haut_milieu_bas_newsletter input.bouton_submit {
	margin: 5px 0 0 5px;
	padding: 0px 0 0px 0;
	float: left;
	width: 20px;
	border: none;
	background-color: transparent;
	font-weight: bold;
	font-size: 0.8em;
	cursor: pointer;
}


/***************************************/
#haut_droite {
	position: relative;
	float: left;
	width: 195px;
	height: 135px;
	margin: 26px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	z-index: 10;
}

* html #haut_droite {
	float: right;
	width: 195px;
}

.haut_droite_haut {
	margin: 0;
	padding: 0;
	float: left;
	width: 200px;
}

.haut_droite_milieu {
	float: left;
	width: 180px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.haut_droite_bas {
	margin: 0;
	padding: 0;
	float: left;
	width: 195px;
}


/******************************************************************************/
/*            	 		MILIEU			                      */
/******************************************************************************/

#milieu_gauche {
	float: left;
	width: 195px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.milieu_gauche_contenu {
	margin: 0;
	padding: 0 0 0 20px;
	float: left;
	width: 195px;
}


/***********************************/
#milieu_milieu {
	float: left;
	width: 556px !important;
	
	margin: 0px;
	padding: 0 0 0 10px;
}

* html #milieu_milieu {
	width: 536px;
}

.milieu_milieu_contenu caption {
	display: none;
}

.milieu_milieu_contenu_alaune {
	float: left;
	width: 556px;
	margin: 0px;
	padding: 0;
}

* html .milieu_milieu_contenu_alaune {
	padding-bottom: 15px;
}

*+html .milieu_milieu_contenu_alaune {
	padding-bottom: 15px;
}

.milieu_milieu_contenu_alaune .tx-dcdflvplayer-pi1 {
	clear: both;
	float: left;
}

.milieu_milieu_contenu_alaune_titre,
.milieu_milieu_contenu_alaune .csc-header {
	float: left;
	width: 251px;
	background-image: url(fd_alaune.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.milieu_milieu_contenu_alaune .csc-header h1 {
	color: #FFFFFF;
	padding-top: 2px;
	padding-left: 15px;
	padding-right: 0px;
	padding-bottom: 1px;
}

.milieu_milieu_contenu_alaune_contenu {
	float: left;
	width: 550px;
	background-image: url(fd_alaune_milieu.gif);
	background-position: right top;
	background-repeat: repeat-y;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.milieu_milieu_contenu_alaune_contenu_image {
	margin: 0px 0 8px 0;
	padding: 0;
	float: left;
	width: 250px;
	border-color: #8AB601;
	border-width: 1px 0 0 1px;
	border-style: solid;
}

.milieu_milieu_contenu_alaune_contenu_texte {
	float: left;
	width: 278px !important;
	width: 298px;
	background-image: url(fd_alaune_haut.gif);
	background-position: right top;
	background-repeat: no-repeat;
	margin: 0 !important;
	margin: 2px 0 2px 0;
	padding: 15px 10px;
}

.milieu_milieu_contenu_alaune_new {
	float: left;
}

/*FL CONTENT*/
.milieu_milieu_contenu_alaune_new .csc-textpic-text {
	float: left;
	width: 278px !important;
	width: 298px;
	background-image: url(fd_alaune_haut.gif);
	background-position: right top;
	background-repeat: no-repeat;
	margin: 0 !important;
	margin: 2px 0 2px 0;
	padding: 15px 10px;
}
/*FL CONTENT - End*/

.milieu_milieu_contenu_alaune_contenu_fd_bas {
	float: left;
	width: 550px;
	background-image: url(fd_alaune_titre.gif);
	background-position: right bottom;
	background-repeat: no-repeat;
	padding: 0px 0px 8px 0px;
}

.milieu_milieu_contenu {
	margin: 0px;
	padding: 0px 0 25px 0;
	float: left;
	width: 543px;
}

/*--New added By Cco 10/07/09--*/
.milieu_milieu_contenu_bloc2col {
	float:left;
	width: 556px;
}

.milieu_milieu_contenu_2col_actu-all{
	float:right;
	width: 243px;
	
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 28px;
	padding-bottom:30px;
}
/*-----------------------------*/
.milieu_milieu_contenu_2col {
	float: left;
	width: 243px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 28px;
	padding-bottom: 0px;
}

* html .milieu_milieu_contenu_2col {
	width: 248px; 
	padding-right: 20px;
}

.milieu_milieu_contenu_2col_actu {
	width: 243px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 7px;	
}

* html .milieu_milieu_contenu_2col_actu {
	width:240px;
}

.milieu_milieu_contenu_2col_actu_image {
	margin: 0px 5px 0 0;
	padding: 0;
	float: left;
}

.milieu_milieu_contenu_2col_actu_texte {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
}

.milieu_milieu_contenu_3col {
	margin: 0px;
	padding: 0 10px 0 0;
	float: left;
	width: 170px;
}

.milieu_milieu_contenu_3col select {
	background-image: url(fd_3col.png);
	background-repeat: no-repeat;
	background-position: left top;
	border: none;
	padding: 5px 7px 5px 5px;
	width: 170px;
}

.haut_milieu_bas_gauche {
	float: left;
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.fil_arianne {
	float: left;
	width: 100%;
	color: #999999;
	background-color: inherit;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.fil_arianne li {
	float: left;
	list-style-type: none;
	font-size: 0.8em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 6px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.fil_arianne li a {
	color: #999999;
	background-color: inherit;
}


/*-- old print/tip a friend zone--*/
.haut_milieu_bas_droite {
	float: right;
	margin: 0;
	padding: 37px 0 0 0;
	width: 235px;
}

* html .haut_milieu_bas_droite {
	padding: 23px 0 0 0;
}

* + html .haut_milieu_bas_droite {
	padding: 23px 0 0 0;
}
/*-- old print/tip a friend zone--*/


.milieu_milieu_service {
	float: right;
	width: 235px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
}

.service {
	float: left;
	margin: 0;
	padding: 0;
	width: 240px;
}

.service li {
	float: left;
	margin: 0px;
	padding: 0 0px 0px 0px;
	list-style-type: none;
	font-size: 0.8em;
}

.service li.avis {
	background-image: url(avis.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 3px 0 7px 25px;
	margin: 0 5px 0 0px;
} 

.service li.imprimer {
	background-image: url(imprimer.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 3px 0 7px 25px;
}


/***********************************/

#milieu_droite {
	float: right;
	width: 195px;
	height: 1%;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.milieu_droite_contenu {
	float: left;
	width: 195px;
	height: 1%;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
}

.milieu_droite_contenu_inter {
	margin: 0px;
	padding: 3px 0 7px 0px;
	float: left;
	width: 185px;
	border-width: 0 0 1px 0;
	border-style: dotted;
	border-color: #000000;
}

.milieu_droite_contenu_inter img {
	padding: 5px 0 5px 0px;
}

#droite_home {
	margin: 0px 0 0 0px;
	padding: 0;
	float: left;
}

#droite_home li {
	margin: 0;
	padding: 5px 0 15px 0px;
	list-style-type: none;
	width: 189px;
	float: left;
}

#droite_home li a {
	float: left;
	width: 140px;
	font-weight: bold;
	font-size: 1em;
	list-style-type: none;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
}

#milieu_droite .thematique {
	float: left;
	width: 185px;
	height: 1%;
	background-image: url("bloc_droite_home.jpg");
	background-repeat: no-repeat;
	background-position: right top;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

* html #milieu_droite .thematique {
	height:65px;
}

*+html #milieu_droite .thematique {
	height:65px;
}

#milieu_droite .thematique p {
	height: 1%;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 25px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.thematique .csc-textpic-intext-left-nowrap {
	float: left;
}

.thematique .csc-textpic-imagewrap {
	float: left;
}

.thematique .csc-textpic-image {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 2px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 2px;	
}


/******************************************************************************/
/*             		BANDEAU BAS			                      */
/******************************************************************************/

.milieu_bottom_banner {
	position: relative;
	bottom: 0px;
	float: left;
	width: 960px;
	z-index: 0;
}

.milieu_bottom_banner img {
	float: left;
	width: 960px;
	height: 196px;
}


/******************************************************************************/
/*             		MENU GAUCHE			                      */
/******************************************************************************/

.milieu_gauche_contenu_menu {
	float: left;
	width: 184px;
	background-image: url(bloc_haut_menu.png);
	background-position: right top;
	background-repeat: no-repeat;
	margin: 0px 0px 18px 0px;
	padding: 17px 0px 0px 10px;
}

#menu_gauche {
	float: left;
	width: 184px;
	list-style-type: none;
	background-image: url(bloc_bas_menu.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 20px 0px;
}

#menu_gauche li {
	float: left;
	width: 184px;
	list-style-type: none;
	background-image: url("bloc_milieu_menu.png");
	background-position: left top;
	background-repeat: repeat-y;
	margin: 0;
	padding: 0;
}

#menu_gauche li a,
#menu_gauche li a:link {
	display: block;
	float: left;
	width: 149px;
	color: #000000;
	background-color: inherit;
	font-size: 0.8em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	border-color: #FFFFFF;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	margin: 0px 0px 0px 3px;
	padding: 4px 7px 4px 20px;
}

* html #menu_gauche li a,
* html #menu_gauche li a:link {
	width: 175px;
	margin: 0px 0px 0px 2px;
}

#menu_gauche li a:hover {
	color: #FFFFFF;
	background-color: #708B1D;
}

#menu_gauche li ul {
	display: none;
	float: left;
	width: 179px;
	list-style-type: none;
	background-image: url("bloc_milieu_ssmenu.png");
	background-repeat: repeat-y;
	background-position: left top;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	margin: 0px 0px 0px 0px;
	padding: 6px 0px 10px 0px;
}

#menu_gauche li li {
	position: relative;
	float: left;
	width: 174px;
	background-image: none;
	margin: 0px 0px 0px 3px;
	padding: 0px 0px 0px 0px;
	z-index: 1;
}

* html #menu_gauche li li {
	width: 173px;
	margin: 0px 0px 0px 2px;
}

#menu_gauche li li a,
#menu_gauche li li a:link {
	float: left;
	width: 140px;
	text-transform: none;
	font-weight: normal;
	background-image: url("tiret.png");
	background-position: 18px center;
	background-repeat: no-repeat;
	border: 0;
	margin: 0;
	padding: 2px 7px 2px 28px;
}

* html #menu_gauche li li a,
* html #menu_gauche li li a:link {
	width: 174px;
	padding: 2px 7px 2px 24px;
}

#menu_gauche li.active li {
	float: left;
	font-weight: normal;
	background-image: url(bloc_milieu_ssmenu.png);
	background-position: left top;
	background-repeat: repeat-y;
	border:none;
}

#menu_gauche li.active li a:hover {
	color: #FFFFFF;
	background-color: #708B1D;
	/*//padding: 2px 7px 2px 37px;
	border: 1px solid #000000;
	//background-position: 27px center;*/
}

#menu_gauche ul ul {
	display: none;
	position: absolute;
	top: 0px;
	left: 174px;
	border: 1px solid #FFFFFF;
	z-index: 2;
}


/*-- By Cco :: The basis of the super menu for the last U.A --*/

#menu_gauche li.active li ul {	
	display: none;
}

#menu_gauche li.active li:hover ul {
	display: block;
}

#menu_gauche li.active ul {
	display:block;
}

#menu_gauche li a {
	color: #000000;	
	background-color: inherit;
}

#menu_gauche li.active a {
	color: #4F7641;	
	background-color: inherit;
}

#menu_gauche li.active li a {
	color: #000000;	
	background-color: inherit;
}

#menu_gauche li.active li.active a {
	color: #4F7641;	
	background-color: inherit; 
	font-weight: bold;
}

#menu_gauche li.active li.active li.active a {
	color: #4F7641;	
	background-color: inherit; 
	font-weight: bold;
}

#menu_gauche li.active li.active li a {
	color: #000000;
	background-color: inherit; 
	font-weight: normal;
}

/*modif fg */
#menu_gauche li.active .secondLevel li.active a:link {
	color: #4F7641;	
	background-color: inherit; 
	font-weight: inherit;
}




#menu_gauche li a:hover {
	color: #FFFFFF;
	background-color: #708B1D;
}

#menu_gauche li.active li a:hover {
	color: #FFFFFF;
	background-color: #708B1D;
}

#menu_gauche li.active li.active li a:hover {
	color:#FFFFFF;
	background-color:#708B1D;
}

#menu_gauche a.childmenupresent {
	background-image: url("fl.gif");
	background-position: 100% 50%;
	background-repeat: no-repeat;
}

#menu_gauche img.childmenupresent {
	position: absolute;
	right: 0px;
	top: 5px;
}
/*-- By Cco --*/



/*****************************************************************************/
/**********     PIED DE PAGE   *******************************************/
/*****************************************************************************/

#pied_page {
	margin: 0;
	padding: 0;
	width: auto;
}

#pied_page li {
	margin: 0;
	padding: 0px 9px 0px 9px;
	display: inline;
	border-style: solid;
	border-width: 0 1px 0 0px;
	border-color: #ffffff;
	text-align: center;
	list-style-type: none;
}

#pied_page li a {
	margin: 0px 0 0 0;
	padding: 0px;
}

#bas p {
	margin: 0;
	padding: 0px 0 0 0;
	float: left;
	width: 25px;
	text-align: center;
}


