/******************************************************************************/
/*                 						TX_DROPDOWNSITEMAP					                    */
/******************************************************************************/

.tx-dropdownsitemap-pi1 ul, .tx-dropdownsitemap-pi1 ol, .tx-dropdownsitemap-pi1 li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}