/******************************************************************************/
/*   		                   		Formulaire de Newsletter      	    	          */
/******************************************************************************/

.newsletter_submition_case{
	float:left;
	width:100%;
}

.newsletter_submition_case label{
	display:block;
	
	float:left;
	width:150px;
	
	color:#000000;
	background-color:inherit;
	
	font-family:Arial,Helvetica,Verdana,sans-serif;
	font-size:1em;
	font-weight:normal;
	
	text-align:right;
	
	margin:5px 0px;
	padding:0px 20px 0px 0px;
}

.newsletter_submition_case input{
	float:left;
	
	color:#000000;
	background-color:inherit;
	
	border:1px solid #DADADA;

	margin:5px 0px;
}


.newsletter_choice{
	margin:20px 0px 0px 0px;
}

.newsletter_format{}

.newsletter_submition_case .newsletter_format label{
	width:200px;
}

.newsletter_submition_case .newsletter_format input{}

.newsletter_submition_case .submit_or_cancel .submit_btn{
	margin:20px 20px 20px 100px;
}

.newsletter_submition_case .submit_or_cancel .cancel_btn{
	margin:20px 20px 20px 0px;
}

.newsletter_choice br{
	clear:both;
}

.newsletter_choice font{
	/*float:left;
	text-indent:20px;*/

}
.newsletter_choice input{
	position:relative;
	top:-12px;
	left:-16px;
	
	border:0px solid #707070;
	margin:0px 0px 0px 0px;
}

* html .newsletter_choice input{
	top:-16px;
}