/******************************************************************************/
/*   				Sondages 		 	    	      */
/******************************************************************************/

.tx-jkpoll-pi1 div {
	float: left;
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;	
}

.tx-jkpoll-pi1 h1 {
	float: left;
	width: 100%;
	color: #090909;
	background-color: inherit;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	border: 0;
	margin: 0;
	padding: 0;
}

.tx-jkpoll-pi1 p {
	font-size: 0.8em;
}

.tx-jkpoll-pi1 .pollsubmit {
	position: relative;
	top: -20px;
	left: 50px;
	float: left;
}

