/******************************************************************************/
/*   		 		METEO	 	                              */
/******************************************************************************/

.tx-rtmeteofr-pi1 {
	float: left;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;	
}

.tx-rtmeteofr-pi1 td {
	margin: 0;
	padding: 0;
}

.rt_meteomain {
	font-family: Arial, Helvetica, sans-serif;
}

.rt_nborder {
	border: 1px solid #999999;
}

.rt_dborder {
	border: 1px dotted #708B1D;
}

.rt_dseparator {
	border-top: 1px dotted #708B1D;
}

.rt_dseparator img {
	display: none;
}

.tx-rtmeteofr-pi1 td.rt_dseparator {
	padding-top: 4px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
}

.rt_nseparator {
	height: 1px;
	background-color: #999999;
}

.rt_meteofr {
	background-repeat: repeat-x;
	border-left: none;
	border-right: none;
	margin: 0;
	padding: 0;
}

.rt_citytitle {
	font-weight: bold;
	font-size: 16px;
	font-variant: small-caps;
	color: #000000;
	background-color: inherit;
	text-align: center;
}

.rt_curinfo {
	position: relative;
	top: 0px;
	left: 295px;
	width: 140px;
	height: 70px;
}

.rt_curinfobg {
	background-image: url(tx-rt_meteofr.css);
	background-repeat: no-repeat;
	background-position: bottom right;
	position: absolute;
	top: 35px;
	right: 10px;
	width: 125px;
	height: 44px;
}

.rt_curimage {
	position: absolute;
	top: 0px;
	right: 35px;
	width: 165px;
	height: 119px;
}

.rt_temp {
	position: absolute;
	top: 35px;
	right: 15px;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	color: #000000;
	background-color: inherit;
}

.rt_lowhigh {
	position: absolute;
	top: 61px;
	right: 15px;
	font-size: 12px;
	color: #000000;
	background-color: inherit;
}

.rt_curtext {
	display: none;
	color: #000000;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
}

.rt_datal {
	width: 4%;
	color: #000000;
	font-size: 12px;
}

.rt_datar {
	width: 50%;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
}

.rt_d1img {
	width: 60px;
	height: 59px;
}
.rt_d2img {
	width: 60px;
	height: 59px;
}

.rt_dtitle {
	color: #000000;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
}

.rt_dtext {
	color: #000000;
	text-align: left;
	font-size: 12px;
}

.rt_topleft {
	width: 5px;
	height: 5px;
	background-repeat: no-repeat;
	background-position: top left;
	/*_background-image/* *//*: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='###IMG_PATH###corners/white_r1_c1.png', sizingMethod='crop');*/
}

.rt_topmiddle {
	height: 5px;
	background-repeat: repeat-x;
	/*_background-image/* *//*: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='###IMG_PATH###corners/white_r1_c2.png', sizingMethod='scale');*/
}

.rt_topright {
	width: 5px;
	height: 5px;
	background-repeat: no-repeat;
	background-position: top right;
	/*_background-image/* *//*: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='###IMG_PATH###corners/white_r1_c3.png', sizingMethod='crop');*/
}

.rt_middleleft {
	width: 5px;
	background-repeat: repeat-y;
	/*_background-image/* *//*: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='###IMG_PATH###corners/white_r2_c1.png', sizingMethod='scale');*/
}

.rt_middlemiddle {
	background-repeat: repeat;
	/*_background-image/* *//*: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='###IMG_PATH###corners/white_r2_c2.png', sizingMethod='scale');*/
}

.rt_middleright {
	width: 5px;
	background-repeat: repeat-y;
	/*_background-image/* *//*: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='###IMG_PATH###corners/white_r2_c3.png', sizingMethod='scale');*/
}

.rt_bottomleft {
	width: 5px;
	height: 5px;
	background-repeat: no-repeat;
	background-position: bottom left;
	/*_background-image/* *//*: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='###IMG_PATH###corners/white_r3_c1.png', sizingMethod='crop');*/
}

.rt_bottommiddle {
	height: 5px;
	background-repeat: repeat-x;
	/*_background-image/* *//*: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='###IMG_PATH###corners/white_r3_c2.png', sizingMethod='scale');*/
}

.rt_bottomright {
	width: 5px;
	height: 5px;
	background-repeat: no-repeat;
	background-position: bottom right;
	/*_background-image/* *//*: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='###IMG_PATH###corners/white_r3_c3.png', sizingMethod='crop');*/
}

.link_otherweather {
	text-align: center;
}

