#AlexandriaMain{margin:0px;padding:0px;position:absolute;top:10px;left:10px;z-index:100000;width:485px;font-family:Arial,sans-serif;}
#AlexandriaMain #AlexandriaTitleBar{width:100%;height:31px;cursor:move;}
#AlexandriaMain #AlexandriaTBL{width:7px;height:31px;position:absolute;top:0px;left:0px;background-image:url('http://www.sensagent.com/alexandria/v2/images/rounded-title-TL.grey.png');background-repeat:no-repeat;}
#AlexandriaMain #AlexandriaTBC{height:31px;position:absolute;top:0px;left:7px;background-image:url('http://www.sensagent.com/alexandria/v2/images/rounded-title-TC.grey.png');background-repeat:repeat-x;}
#AlexandriaMain #AlexandriaTBR{width:7px;height:31px;position:absolute;top:0px;left:18px;background-image:url('http://www.sensagent.com/alexandria/v2/images/rounded-title-TR.grey.png');background-repeat:no-repeat;}
#AlexandriaMain #AlexandriaLogo{margin:0px;padding:0px;position:absolute;top:0px;left:10px;line-height:26px;font-size:24px;color:#1B1B21;}
#AlexandriaMain #AlexandriaExtralogo{margin:0px;padding:0px;position:absolute;top:2px;left:130px;line-height:26px;font-size:24px;color:#1B1B21;}
#AlexandriaMain .a{font-size:133%;color:#7494B2;}
#AlexandriaMain #AlexandriaButton{float:right;margin:5px 0px;cursor:pointer;}
#AlexandriaMain #AlexandriaData{position:relative;height:250px;width:483px;overflow:hidden;border-left:1px solid black;border-right:1px solid black;}
#AlexandriaMain #AlexandriaDataFrame{position:absolute;top:0px;left:0px;width:100%;height:100%;overflow:hidden;}
#AlexandriaMain #AlexandriaLoadingFrame{position:absolute;top:0px;left:1px;width:100%;height:100%;overflow:hidden;background-color:white;font-size:30px;text-align:center;}
#AlexandriaMain #AlexandriaLoading{margin:100px 0px 0px 0px;}
#AlexandriaMain #AlexandriaFooterBar{width:100%;height:19px;position:relative;;font-size:9px;text-align:right;overflow:hidden;}
#AlexandriaMain #AlexandriaFooterBar a{text-decoration:none;color:#777;margin-right:3px}
#AlexandriaMain #AlexandriaFooterBar .a{font-size:133%;color:#5474B2;}
#AlexandriaMain #AlexandriaFBL{width:7px;height:19px;position:absolute;top:0px;left:0px;background-image:url('http://www.sensagent.com/alexandria/v2/images/rounded-footer-BL.grey.png');background-repeat:no-repeat;}
#AlexandriaMain #AlexandriaFBC{height:19px;position:absolute;color:#777;width:300px;top:0px;left:7px;background-image:url('http://www.sensagent.com/alexandria/v2/images/rounded-footer-BC.grey.png');background-repeat:repeat-x;}
#AlexandriaMain #AlexandriaFBR{width:7px;height:19px;position:absolute;top:0px;left:18px;background-image:url('http://www.sensagent.com/alexandria/v2/images/rounded-footer-BR.grey.png');background-repeat:no-repeat;}
#AlexandriaMain #AlexandriaBottomFrame{background-color:#FFF;position:absolute;left:0px;width:100%;border-top:1px solid black;}
.alex_double_hrw{border-bottom:3px double;cursor:wait;}
.alex_dashed_hrw{border-bottom:1px dashed;cursor:wait;}
.alex_none_hrw{cursor:wait;}