body{background:url(body-repeat.jpg) repeat-x scroll center top;background-color:#fff;}
#site{background:url(http://www.rireetchansons.fr/images/body.jpg) no-repeat scroll center top;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}

/* menu 4 */
#menu4_content .part_g,#menu4_content .part_d{margin-top:5px;margin-bottom:5px;}
#menu4_content .part_g{width:687px;}
#menu4_content .part_d{width:306px;margin-left:7px;}
#menu4_content .part_d .middle li .txt{float:left;}

#content_part{clear:both;}

/* middle content common */
#heart,#sidebar{float:left;}

/* middle content */
#heart{width:687px;padding-bottom:10px;}
#sidebar{margin-left:7px;width:306px;padding-bottom:10px;}

/* div titre block la radio */
#titre_img_radio{height:24px;}
#titre_img_radio a {background:url(la-radio.png) no-repeat;display:block; height:18px;width:61px;margin-top:3px;}

/* div titre block le blog de rire et chansons */
#titre_img_blog{height:24px;}
#titre_img_blog a {background:url(le-blog.png) no-repeat;display:block; height:20px;width:206px;margin-top:2px;}

/* div titre carousel spectacles */
#titre_img_spectacles{height:25px;}
#titre_img_spectacles a {background:url(les-spectacles.png) no-repeat;display:block; height:25px;width:138px;margin-top:-11px !important;}

/* div titre carousel photos */
#titre_img_photos{height:24px;}
#titre_img_photos a {background:url(photos.png) no-repeat;display:block; height:20px;width:58px;margin-top:-9px !important;}