/*@CHARSET "ISO-8859-1";*/

/********************************************************************** Reglages globaux */

.sct {
	/*width: 100%;*/
}

body
{
	background-image: url(http://www.varmatin.com/edito/share/img/commun/bg/bg_body_top.png);
	background-repeat: repeat-x;
	background-position: top;
	margin: 0px;
	padding: 0px;
}

/********************************************************************** Elements principaux */

#ctnMain {
	margin-top: 5px;
	/*padding: 3px;*/
	/*margin-left: 30px;*/
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	/*width: 1016px;*/
	width: auto;
	border-color: red;
	/*border:1px solid blue;*/
	/*
	min-height: 500px;
	max-width:1100px;
	min-width: 1000px;
	*/
}

#ctnMnNavi {
	border-color: #00008B;
	height: 30px;
	width: 828px; /*1010px;*/
	margin-left : auto;
	margin-right : auto;
	/*margin : auto;*/
	/*width:1036px;*/
	/*margin-top:5px;
	margin-bottom:5px;*/
}

#ctnCentral {
	vertical-align: top;
	/*padding-top: 10px;*/
	border-color: orange;
	margin-left: auto;
	margin-right: auto;
	width: 836px;
	padding: 0px;
	/*
	min-height: 500px;
	*/
}

#sctCentral
{
	width: 836px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#sctCentral .mb {
	background-color: white;
	width: 836px;
	padding-left: 4px;
	padding-right: 4px;
}

#sctCentral .top {
	background-image: url(http://www.varmatin.com/edito/share/img/commun/bg/bg_top_new.gif);
	background-repeat: no-repeat;
	background-position: top center;
	background-color: transparent;
	padding-top: 12px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	width: 836px;
}

/* Dans ctnMain **************************************************************************/

#ctnInfosLegales{
	border-color: yellow;
}

/* Dans ConteneurGrenier ****************************************************************************/

/* Dans ConteneurCentral ****************************************************************************/

#ctnColonnesCentrales {
	border-color: blue;
	width: 828px;
	/*width: 861px;*/
	/*
	min-height: 500px;
	*/
	/*margin-left:5px;
	margin-top:5px;
	margin-right:2.5px;
	margin-bottom:5px;*/
}

#ctnColonnesContenu
{
	width: 828px;
	margin-bottom: 15px;
}

#ctnColonneLiens {
	border-color: blue;
	width: 170px;
	text-align: right;
	/*margin-left:2.5px;
	margin-top:5px;
	margin-right:5px;
	margin-bottom:5px;*/
	/*background-image: url(../../img/commun/bg/bg_liens.png);
	background-position: bottom right;
	background-repeat: repeat-y;*/
}

/**************************************************************************** Dans ctnColonnesCentrales */
#ctnColonneRedactionnelle{
	border-color:yellow;
	/*padding-right: 5px;*/
	width: 519px;
	text-align: left;
	/*
	width:510px;
	margin-left:5px;
	margin-top:5px;
	margin-right:2.5px;
	margin-bottom:5px;*/
}

#ctnColonnePubliRedactionnelle{
	width: 309px;
	align: right;
	/*margin-left:2.5px;
	margin-top:5px;
	margin-right:5px;
	margin-bottom:5px;*/
}