/*@CHARSET "ISO-8859-1";*/

#ctnNewsLetter
{
	width: 300px;
	font-family: Arial, Helvetica;
	/*margin-top: 5px;*/
	margin-bottom: 15px;
	margin-right: 0px;
	margin-left: 9px;
}

#ctnNewsLetter .head
{
	background-color: #eaeaea;
	color: #00008B;
	font-size: 13px;
	font-weight: bold;
	padding: 2px 5px;
	text-align: center;
	background-image: url(http://www.varmatin.com/edito/share/img/commun/bg/bg_gondole_newsletter.png);
	background-repeat: no-repeat;
	
}

#ctnNewsLetter form
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5px;
	height: 80px;
	border: 1px solid #808080;
	border-top: 0px;
	text-align: center;
}

#ctnNewsLetter form input
{
	margin-top: 10px;
}