/*@CHARSET "ISO-8859-1";*/

#ctnPied {
	border-color: blue;
	width: 828px;
	margin-left: auto;
	margin-right: auto;
	/*margin : auto;*/
	margin-top: 0px;
	padding-top: 5px;
	clear: both;
	/*
	background-image: url(../../img/commun/bg/bg_pied.png);
	background-repeat: no-repeat;
	background-position: right top;*/
	
}

#ctnInfosLegales
{
	font-family: Arial, Helvetica;
	font-size: 13px;
	text-align: center;
}

#ctnWebStandards
{
	text-align: center;
}

#ctnWebStandards a
{
	text-decoration: none;
}

#ctnPied .sitesgroupe
{
	font-family: Arial, Helvetica;
	font-size: 13px;
	text-align: center;
	margin-bottom: 10px;
}

#ctnPied .sitesgroupe a
{
	text-decoration: none;
	font-weight: bold;
	color: #085CB0;
}