/*@CHARSET "ISO-8859-1";*/

.ctnPub {
	/*margin: auto;*/
	border-color: #00ff00;
	/*max-width:750px;*/
}

.pubMegabannerBottom
{
	margin-top: 0px;
	width: 828px;
}

#ctnPubBottom1
{
	clear: both;
}

.pubMegabannerTop,
.pubBannerTop
{
	margin-bottom: 5px;
	width: 828px;
}

.pubHyperbanner
{
	margin-left: auto;
	margin-right: auto;
	width: 1006px;	
}

.pub600x400
{
	margin-left: auto;
	margin-right: auto;
	width: 828px;	
}

.pub600x400 .pub
{
	margin-left: auto;
	margin-right: auto;
	width: auto;
	text-align: center;
}

.pubHyperbanner .pub
{
	margin-left: auto;
	margin-right: auto;
	width: auto;
	text-align: center;
}

.pubMegabannerTop .pub,
.pubMegabannerBottom .pub
{
	text-align: center;
	width: 728px;
	/*height: 90px;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-color: yellow;
	/*overflow: hidden;*/
	z-index: 0;
}

.pubBoutonPromo,
.pubBoutonRegie	
{
	margin-bottom: 10px;
	width: 160px;
	margin-left: 10px;
	margin-right: 0px;
}

.pubBoutonPromo .pub,
.pubBoutonRegie .pub
{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-color: yellow;
	/*overflow: hidden;*/
	z-index: 0;
}

.pubSkyscraper,
.pubSkyscraper2
{
	margin-bottom: 10px;
	width: 160px;
	margin-left: 10px;
	margin-right: 0px;
}

.pubSkyscraper .pub,
.pubSkyscraper2 .pub
{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-color: yellow;
	/*overflow: hidden;*/
	z-index: 0;
}

.pubCarrePremium
{
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	display: inline;
	/*width: auto;*/
	width: 300px;
}

/*.pubCarrePremium .pub:before { content: "publicité" }*/

.pubCarrePremium .pub
{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-color: yellow;
	/*overflow: hidden;*/
	z-index: 0;
}

.pubCarreTop,
.pubCarreMiddle,
.pubCarreBottom,
.pubCarreCA
{
	width: 300px;
	margin-bottom: 15px;
	margin-right: 0px;
	margin-left: 10px;
}

.pubCarreTop .pub,
.pubCarreMiddle .pub,
.pubCarreBottom .pub,
.pubCarreCA .pub
{
	/*width: 300px;*/
	display: block;
	z-index: 0;
	text-align: center;
	margin: auto;
}