/** Module actualites **/
div#actus {
	margin-top : 25px;
	min-height : 160px;
	width : 420px;
	float : left;
}
* html div#actus  { height:180px; }
div#actus h2 { border-left: 3px solid #ebb984; text-indent: 5px; }

div#actus p {
	float : left;
	padding : 5px 5px 5px 0;
	width : 190px;
	font-weight : normal;
}

div#actus p.droite {
    padding-left:10px;
    margin-left:10px;
    border-left:1px solid #a19b96;
}

div#actus img  {
    border : 1px solid #aaa;
    padding : 1px;
    margin-right : 5px;
    float : left;
}

div.actu  {
    padding-top : 10px;
    border-top : 1px solid #ccc;
}