/** Module publications **/	
div#publication form fieldset { padding: 5px;}
div#publication form fieldset label {
	width : 200px;
	display : block;
	float : left;
}

div#telecharger span.acrobat
{
	background: #F8F8F8;
	color: #000000;
	display: block;
	padding: 5px;
	border: 1px solid #e2dcc6;
	margin: 15px 0;
}

div#telecharger span.acrobat a#abodeLink 
{
	display : block;
	padding-left: 20px;
	height: 20px;
	background:  url(http://www.chicas-gap.fr/images/pdf.gif) no-repeat 0 0;
	margin : 10px 0;
	text-indent: 5px;
}