/** Module lexique **/
div#letters {
	
	border: 1px solid black;
	padding : 5px;
	margin : 20px 0;
}

div#letters ul.list-letters {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#letters ul.list-letters li {
	background : none;
	margin: 0 5px;
	padding: 0;
	display: inline;
}

dl.lex-defs dt {
	margin-top: 15px;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 1.1em;
}

dl.lex-defs dd {
	text-indent: 30px;
}