#meteo
{
	font-size: 92%;
	padding-bottom: 2px;
	margin: 0px 15px 40px 15px;
/*	border-bottom: 3px dotted #fc9d1b; */
	text-align: center;
	border: solid 1px #CECECE;
}

#meteo div.title
{
	border-bottom: solid 1px #CECECE;
	font-weight: bold;
	background-color: #CECECE;
	font-size: 107%;
}

#meteo strong, #meteo b
{
}

#meteo hr
{
	border-top: 3px dotted #45a1e4;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

#meteo table
{
	font-size: 100%;
	border: none;
}
