/* STAR RATING */
	.star-rating{
		list-style:none;
		margin-left:5px!important;
		padding:0;
		margin-bottom:5px;
		margin-top:5px;
		width: 105px;
		height: 25px;
		position:relative;
		background: url(alt_star.gif) top left repeat-x;
	}
	.star-rating li{
		padding:0;
		margin:0;
		/*\*/
		float: left;
		/* */
	}
	.star-rating li a{
		display:block;
		width:21px;
		height: 25px;
		text-decoration: none;
		text-indent: -9000px;
		z-index: 20;
		position: absolute;
		padding: 0px;
		outline:none;
	}
	.star-rating li a:hover{
		background: url(alt_star.gif) left bottom;
		z-index: 2;
		left: 0px;
	}
	.star-rating a.one-star{
		left: 0px;
	}
	.star-rating a.one-star:hover{
		width:21px;
	}
	.star-rating a.two-stars{
		left:21px;
	}
	.star-rating a.two-stars:hover{
		width: 42px;
	}
	.star-rating a.three-stars{
		left: 42px;
	}
	.star-rating a.three-stars:hover{
		width: 63px;
	}
	.star-rating a.four-stars{
		left: 63px;
	}	
	.star-rating a.four-stars:hover{
		width: 84px;
	}
	.star-rating a.five-stars{
		left: 84px;
	}
	.star-rating a.five-stars:hover{
		width: 105px;
	}
	.star-rating li.current-rating{
		background: url(alt_star.gif) left center;
		position: absolute;
		height: 25px;
		display: block;
		text-indent: -9000px;
		z-index: 1;
	}