BODY 
{
margin-top:0; 
margin-left:0; 
margin-right:0;
COLOR: #000000; 
FONT-FAMILY: Verdana, Helvetica;
FONT-SIZE: 10px;
FONT-STYLE: normal;
FONT-WEIGHT: normal;
TEXT-DECORATION: none
}

TABLE {
	cellpadding: 0px;
	cellspacing: 0px;
}

IMAGE {
	border: 0px;
}




.photo-gauche {
	float: 	   			left; 
	margin-right: 		10px;
	border:		 		0px;
}
.photo-droite {
	float: 	   			right; 
	margin-left: 		10px;
	border:		 		0px;
}






/* texte contenu site */

.texte {COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none}

.texterouge{border-color: #000000; COLOR: #c63c3c; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover.texterouge {COLOR: #c63c3c; TEXT-DECORATION: underline}

.texteblanc {COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none}

.textebleu {COLOR: #07298d; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none}

.textetitre8 {COLOR: #07298d; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: none; TEXT-DECORATION: none}
A:hover.textetitre8 {COLOR: #000000; TEXT-DECORATION: underline}

.textetitre {COLOR: #07298d; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover.textetitre {COLOR: #000000; TEXT-DECORATION: none}

.textetitreMAJ {COLOR: #07298d; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none; text-transform: uppercase;}
A:hover.textetitreMAJ {COLOR: #000000; TEXT-DECORATION: none}

.textelien {COLOR: #21396a; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover.textelien {COLOR: #98062b; TEXT-DECORATION: underline}

.textetitrepetit {COLOR: #fa9c00; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover.textetitrepetit {COLOR: #98062b; TEXT-DECORATION: underline}


.viseo79vert {COLOR: #696969; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-DECORATION: underline}
A:hover.viseo79vert{COLOR: #83b819; TEXT-DECORATION: underline}
.viseo79violet {COLOR: #696969; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-DECORATION: underline}
A:hover.viseo79violet{COLOR: #88146a; TEXT-DECORATION: underline}
.viseo79rouge {COLOR: #696969; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-DECORATION: underline}
A:hover.viseo79rouge{COLOR: #e32118; TEXT-DECORATION: underline}
.viseo79orange {COLOR: #696969; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-DECORATION: underline}
A:hover.viseo79orange{COLOR: #ee7f00; TEXT-DECORATION: underline}
.viseo79bleu {COLOR: #696969; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-DECORATION: underline}
A:hover.viseo79bleu{COLOR: #0071b9; TEXT-DECORATION: underline}
.viseo79rose {COLOR: #696969; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-DECORATION: underline}
A:hover.viseo79rose{COLOR: #e675a7; TEXT-DECORATION: underline}


/* Titres */

.titreparablanc {COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
.titrepararouge {COLOR: #c63c3c; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
.titrepararouge2 {COLOR: #df0023; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
.titreparableu {COLOR: #07298d; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
.titreparableuclair {COLOR: #7BBAE6; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
.titreparanoir {COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
.titreparagris {COLOR: #767676; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
.titreparaorange {COLOR: #ff6600; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
.titreparavert {COLOR: #cde23c; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
.titreparavert2{COLOR: #90ac0d; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
.titreparavert3{COLOR: #cbdb2a; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
.titreparaviolet {COLOR: #e1c2d9; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
.titreparajaune {COLOR: #f9e12e; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
.titreparamauve {COLOR: #a92984; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}



.titre{font-family:Arial, Helvetica;font-size:11px;color:#07298d;font-style:normal;font-weight:bold;text-decoration:none}
A:hover.loulou {COLOR: #07298d; TEXT-DECORATION: none}

.titrerubrique {font-family:Verdana, Helvetica;font-size:11px;color:#ffffff;font-style:normal;font-weight:bold;text-decoration:none}

.titrerub{font-family:Verdana, Helvetica;font-size:12px;color:#e29e00;font-weight:normal;text-decoration:none}

.titrepage {font-family:Verdana, Helvetica;font-size:14px;color:#07298d;font-style:normal;font-weight:bold;text-decoration:none}

.titre_paragraphe {font-family:Verdana, Helvetica;font-size:14px;color:#ffffff;font-style:normal;font-weight:bold;text-decoration:none}

.titreensavoirplus {font-family:Verdana, Helvetica;font-size:14px;color:#07298d;font-style:normal;font-weight:bold;text-decoration:none}

.titrerouge {border-color: #000000; COLOR: #c63c3c; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 12px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover.titrerouge {COLOR: #c63c3c; TEXT-DECORATION: underline}

.titreform {border-color: #000000; COLOR: #c63c3c; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover.titreform {COLOR: #c63c3c; TEXT-DECORATION: underline}

.titredej {border-color: #000000; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover.titredej {COLOR: #254312; TEXT-DECORATION: underline}

.titreind {border-color: #000000; COLOR: #b23c04; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover.titreind {COLOR: #b23c04; TEXT-DECORATION: underline}

.titreind2 {border-color: #000000; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover.titreind {COLOR: #b23c04; TEXT-DECORATION: underline}

.titreind1 {border-color: #000000; COLOR: #b23c04; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none}
A:hover.titreind1 {COLOR: #b23c04; TEXT-DECORATION: underline}

.titreliste {border-color: #000000; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none}
A:hover.titreliste  {COLOR: #254312; TEXT-DECORATION: underline}


/* Moteur de recherche */
.recherche-text{
	font-family: Verdana, Helvetica; 
	font-size: 10px; color: #263d83; 
	width: 150px; 
	height: 18px; 
	background-color: #ebeff9; 
	background-image: url(loupe_rec.gif); 
	background-repeat: no-repeat; 
	background-position: 2px 2px; 
	border: 1px solid #263d83; 
	padding: 2px 1px 2px 20px; 
	margin: 1px;
}


/*
.agenda{
	padding-top: 0px;
}
.flux-flash{
	padding-top: 8px;
}
*/

/* newsletter */
.news-fond{
	width: 190px; 
	height: 90px; 
	margin-top: 6px;
	border: 1px solid #6e8dc0;
	background-image: url(btn-newsletter.gif); 
	background-position: top left; 
	background-repeat: repeat-x;
}
.abonnement{
	font-family: Verdana, Arial, Helvetica; 
	font-size: 10px;
	font-weight: bold; 
	color: #ffffff; 
	padding: 2px;
	padding-top: 10px; 
}
.news-invisible{
	width: 400px; 
	display: none;
}


/* --- blocs slide --- */
/*
// JoomlaWorks "Ultimate Content Display" Module for Joomla! 1.5.x - Version 1.1
// License: http://www.gnu.org/copyleft/gpl.html
// Copyright (c) 2006 - 2008 JoomlaWorks, a Komrade LLC company.
// More info at http://www.joomlaworks.gr
// Developers: Fotis Evangelou - George Chouliaras
// ***Last update: May 13th, 2008***
*/
/*
.ucd_blocs_slide {width: 250px; height: 155px; background-color: #bc1e12;}
ul.ucd_jqueryfader {margin:0;padding:0;list-style:none;text-align:left;}
ul.ucd_jqueryfader li.ucd_item {margin:0;padding:0;border:none;background:none;float:none;}
ul.ucd_jqueryfader li.ucd_item div.ucd_photo {padding: 0px 8px 1px 8px; background-color: #bc1e12;}
ul.ucd_jqueryfader li.ucd_item div.ucd_photo a {border: 0px;}
ul.ucd_jqueryfader li.ucd_item div.ucd_introtext {padding: 0px 8px 4px 8px; COLOR: #ffffff; text-align: left; background-color: #bc1e12;}
ul.ucd_jqueryfader li.ucd_item div.ucd_title {padding: 0px 8px 4px 8px; COLOR: #ffffff; FONT-WEIGHT: bold; background-color: #bc1e12;}
ul.ucd_jqueryfader li.ucd_item a.ucd_lien {padding: 0px 8px 2px 8px; background-color: #bc1e12;COLOR: #fa9c00; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
ul.ucd_jqueryfader li.ucd_item a:hover.ucd_lien {COLOR: #98062b; TEXT-DECORATION: underline}

ul.ucd_jqueryfader,ul.ucd_jqueryfader li {overflow:hidden;}
.ucd_jqueryfader_bottomfade {background:url("bottomfade.png") repeat-x bottom;position:relative;height:20px;width:100%;margin-top:-20px;}
*/
/*ul.ucd_jqueryfader li.ucd_item span.ucd_date {color:#909090;margin:0 4px 0 0;padding:0;font-size:11px;}
ul.ucd_jqueryfader li.ucd_item span.ucd_sec_cat {font-size:11px;}
ul.ucd_jqueryfader li.ucd_item a.ucd_readon {display:block;float:none;font-size:11px;margin:4px 0 8px 0;padding:0;text-align:left;}
ul.ucd_jqueryfader li.ucd_item a.ucd_readon:hover {display:block;float:none;font-size:11px;margin:4px 0 8px 0;padding:0;text-align:left;}
*/
/*--- END --- */



/*-------------------- */
/* page accueil */
/*-------------------- */
.fond-hall-liens{
	width: 108px;
	height: 200px; 
	padding: 5px 1px 5px 4px; 
	FONT-FAMILY: Arial, Verdana, Helvetica; 
	FONT-SIZE: 11px; 
	FONT-STYLE: normal; 
	FONT-WEIGHT: normal;
}
.fond-hall-liens a{
	color: #221078;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.5em;
}
.fond-hall-liens a:hover{
	color: #ffffff;
	text-decoration: underline;
}

.photo-visible{
	width: 500px; 
	display: block;
}
.photo-invisible{
	width: 500px; 
	display: none;
}
.photo-deplacement{
	cursor: pointer;
}

.fond-titre-acc-300{
	height: 21px; 
	padding: 4px;
	padding-left: 20px;	
	margin-bottom: 5px;
	color: #07298d;
	text-align: left;
	FONT-FAMILY: Arial, Verdana, Helvetica; 
	FONT-SIZE: 11px; 
	FONT-STYLE: normal; 
	FONT-WEIGHT: bold; 
	background-image: url(fond-acc-titre-300.png); 
	background-position: top left;
	background-repeat: no-repeat;
}
.fond-titre-acc-190{
	height: 21px; 
	padding: 4px;
	padding-left: 20px;	
	margin-bottom: 5px;
	color: #07298d;
	text-align: left;
	FONT-FAMILY: Arial, Verdana, Helvetica; 
	FONT-SIZE: 11px; 
	FONT-STYLE: normal; 
	FONT-WEIGHT: bold; 
	background-image: url(fond-acc-titre-190.png); 
	background-position: top left;
	background-repeat: no-repeat;
}
/*
.fond-titre-actu{
	height: 21px; 
	padding: 4px; 
	color: #ffffff;
	FONT-FAMILY: Verdana, Helvetica, Arial; 
	FONT-SIZE: 11px; 
	FONT-STYLE: normal; 
	FONT-WEIGHT: normal; 
	background-image: url(images/fond-titre-bleu.gif); 
	background-position: top left;
	background-repeat: repeat-x;
}
*/

.tabactu, .tabactu a, .tabactu  a:hover, .tabactu a:visited{
	COLOR: #000000; 
	FONT-FAMILY: Arial, Verdana, Helvetica; 
	FONT-SIZE: 10px; 
	FONT-STYLE: normal; 
	FONT-WEIGHT: normal; 
	TEXT-DECORATION: none;
	TEXT-ALIGN: justify;
	margin-bottom: 5px;
}

.titreactu {
	COLOR: #727272; 
	FONT-FAMILY: Arial, Verdana, Helvetica; 
	FONT-SIZE: 11px; 
	FONT-STYLE: normal; 
	FONT-VARIANT: normal; 
	FONT-WEIGHT: normal; 
	TEXT-DECORATION: none;
	padding: 2px;
}
.titreactu  h1 {
	display: inline;
	COLOR: #727272; 
	FONT-FAMILY: Arial, Verdana, Helvetica; 
	FONT-SIZE: 11px; 
	FONT-STYLE: normal; 
	FONT-VARIANT: normal; 
	FONT-WEIGHT: normal; 
	TEXT-DECORATION: none;
	padding: 2px;
}
A:hover.titreactu {COLOR: #98062b; TEXT-DECORATION: underline;}

.texte-agenda, .texte-agenda a, .texte-agenda a:hover, .texte-agenda a:visited {
	COLOR: #000000; 
	FONT-FAMILY: Arial, Verdana, Helvetica; 
	FONT-SIZE: 10px; 
	FONT-STYLE: normal; 
	FONT-WEIGHT: normal; 
	TEXT-DECORATION: none;
	TEXT-ALIGN: justify;
}
.agenda-date, .agenda-date a, .agenda-date a:hover, .agenda-date a:visited {
	COLOR: #8aa8d6; 
	FONT-FAMILY: Arial, Verdana, Helvetica; 
	FONT-SIZE: 10px; 
	FONT-STYLE: italic; 
	FONT-VARIANT: normal; 
	FONT-WEIGHT: normal; 
	TEXT-DECORATION: none;
	padding: 0px;
}
div#separ-agenda hr{
	width: 100%;
	height: 1px;
	border: 0;
	color: #d7d7d7; 
	background-color: #d7d7d7; 
}

.actu-deplacement{
	cursor: pointer;
}

.actu-visible{
	width: 300px; 
	display: block;
}
.actu-invisible{
	width: 300px; 
	display: none;
}
/*
.onglet-visible{
	width: 500px; 
	display: block;
}
.onglet-invisible{
	width: 500px; 
	display: none;
}

.onglets{
	height: 21px; 
	width: 500px; 
	margin: 3px 0px;
	background-color: #0e387d;
	background-image: url(images/fond-titre-bleuciel.gif); 
	background-position: top left;
	background-repeat: repeat-x;
}

.onglet-pageencours{
	height: 24px; 
	padding: 4px 6px; 
	color: #ffffff; 
	FONT-FAMILY: Verdana, Helvetica, Arial; 
	FONT-SIZE: 10px; 
	FONT-STYLE: normal; 
	FONT-WEIGHT: normal; 
	background-image: url(images/fond-titre-bleu.gif); 
	background-position: top left;
	background-repeat: repeat-x;
	cursor: pointer;
}
.onglet-autres{
	height: 21px; 
	padding: 4px 6px; 
	color: #ffffff;
	FONT-FAMILY: Verdana, Helvetica, Arial; 
	FONT-SIZE: 10px; 
	FONT-STYLE: normal; 
	FONT-WEIGHT: normal;  
	background-image: url(images/fond-titre-bleuciel.gif); 
	background-position: middle left;
	background-repeat: repeat-x;
	cursor: pointer;
}
.onglet-separ{
	width: 2px;
	height: 21px;
	background-color: #002157; 
	background-image: url(images/fond-titre-bleusepar.gif); 
	background-position: top left;
	background-repeat: no-repeat;
}
.onglet-separ2{
	width: 2px;
	height: 21px;
	background-color: #002157; 
	background-image: url(images/fond-titre-bleusepar2.gif); 
	background-position: top left;
	background-repeat: no-repeat;
}

.onglet-fond{
	background-color: #e9e9e9;
}
.onglet-cadre{
	border: 1px solid #d4d9ea; 
	margin-bottom: 8px;
}
.onglet-titre{
	COLOR: #07298d; 
	FONT-FAMILY: Verdana, Arial, Helvetica; 
	FONT-SIZE: 10px; 
	FONT-STYLE: normal; 
	FONT-VARIANT: normal; 
	FONT-WEIGHT: bold; 
	TEXT-DECORATION: none;
	padding: 2px;
}
*/

/*--- partie droite --- */

/*
.alaune{
	width: 250px; 
	height: 200px; 
	background-color: #f0f0f0; 
	background-image: url(images/fond-alaune.jpg); 
	background-position: top left; 
	background-repeat: no-repeat;
	text-align: left;
}
.fond-titre-alaune{
	height: 21px; 
	padding: 4px; 
	color: #ffffff;
	text-align: left;
	FONT-FAMILY: Verdana, Helvetica, Arial; 
	FONT-SIZE: 11px; 
	FONT-STYLE: normal; 
	FONT-WEIGHT: normal; 
	background-image: url(images/fond-titre-rouge-orange.gif); 
	background-position: top left;
	background-repeat: repeat-x;
}
.titrealaune {
	COLOR: #aa371f; 
	FONT-FAMILY: Arial, Verdana, Helvetica; 
	FONT-SIZE: 11px; 
	FONT-STYLE: normal; 
	FONT-VARIANT: normal; 
	FONT-WEIGHT: bold; 
	TEXT-DECORATION: none;
	letter-spacing: 0.2em;
}
.textealaune {
	COLOR: #474747; 
	FONT-FAMILY: Verdana, Arial, Helvetica; 
	FONT-SIZE: 10px; 
	FONT-STYLE: normal; 
	FONT-VARIANT: normal; 
	FONT-WEIGHT: normal; 
	TEXT-DECORATION: none;
}
*/

.fond-titre-acc-droit{
	height: 21px; 
	padding: 4px;
	padding-left: 20px;	
	margin-bottom: 10px;
	color: #07298d;
	text-align: left;
	FONT-FAMILY: Arial, Verdana, Helvetica; 
	FONT-SIZE: 11px; 
	FONT-STYLE: normal; 
	FONT-WEIGHT: bold; 
	background-image: url(fond-acc-titre-250.png); 
	background-position: top left;
	background-repeat: no-repeat;
}

.titre-acc-droit {
	COLOR: #07298d; 
	FONT-FAMILY: Arial, Verdana, Helvetica; 
	FONT-SIZE: 10px; 
	FONT-STYLE: normal; 
	FONT-VARIANT: normal; 
	FONT-WEIGHT: bold; 
	TEXT-DECORATION: none;
	padding-left:10px;
	text-align: left;
}

.revuepresse {width: 250px;}
.texterevuepresse2 {COLOR: #454545; FONT-FAMILY: Arial, Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none}
.revuepressejour  a, .revuepressejour  a:hover, .revuepressejour  a:visited
{COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}

.territoires {
	width: 250px; 
	text-align: left;
}
.sitesCCI {
	width: 250px; 
	text-align: left;
	clear: both;
}

.bandeau-liens{
	width: 250px;
}



/* fond video */
.fond-video1{
	width: 320px; 
	padding-left: 0px; 
	color: #df0023;
	background-color: #ffffff; 
	background-image: url(http://www.cci79.com/mediatheque/fond-france3-arnaque.jpg); 
	backround-position: top; 
	background-repeat: no-repeat;
}

.titre-video{
	width: 320px; 
	height: 25px; 
	padding: 8px;
	text-align: left;
	color: #df0023;
	font-weight: bold;
	background-image: url(mediatheque-video.png); 
	background-position: top right; 
	background-repeat: no-repeat;
}
.titre-audio{
	width: 320px; 
	height: 25px; 
	padding: 8px;
	text-align: left;
	color: #df0023;
	font-weight: bold;
	background-image: url(mediatheque-audio.png); 
	background-position: top right; 
	background-repeat: no-repeat;
}
.texte-video{
	width: 320px; 
	padding: 5px;
	text-align: left;
	background-color: #ffffff; 
	border: 0px solid #df0023;
}



/*******/

.addthis a {COLOR: #fa9c00; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
.addthis a:hover{COLOR: #98062b; TEXT-DECORATION: underline}
.addthis a:visited{COLOR: #fa9c00; TEXT-DECORATION: none}

/*******/


/* bas de pages */
.liens-bas, .liens-bas a, .liens-bas a:visited{COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal TEXT-DECORATION: none}
.liens-bas a:hover{COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-DECORATION: underline}

.liens-bas2, .liens-bas2 a, .liens-bas2 a:visited{COLOR: #425469; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none}
.liens-bas2 a:hover{COLOR: #425469; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-DECORATION: underline}



/* images */
.image {COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover.image {COLOR: #000000; TEXT-DECORATION: underline}

.imagephoto {border-color: #000000; TEXT-DECORATION: none}
A:hover.imagephoto {border-color: #000000; TEXT-DECORATION: none}
A:visited.imagephoto {border-color: #000000; TEXT-DECORATION: none}
A:active.imagephoto {border-color: #000000; TEXT-DECORATION: none}
/*
.imagephoto {border-color: #000000; TEXT-DECORATION: none}
A:hover.imagephoto {border-color: #000000; TEXT-DECORATION: none}
A:visited.imagephoto {border-color: #000000; TEXT-DECORATION: none}
A:active.imagephoto {border-color: #000000; TEXT-DECORATION: none}
*/



.menu1 {COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover.menu1 {COLOR: #000000; TEXT-DECORATION: underline}

.menu2 {COLOR: #21396a; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover.menu2 {COLOR: #ffffff; TEXT-DECORATION: underline}

.menu2titre {COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 12px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}



/* Divers */

.rubclaire {font-family:Verdana, Helvetica;font-size:11px;color:#000000;font-style:normal;font-weight:normal;text-decoration:none;background-color:#ffffff;cursor:hand;line-height:12px}

.loulou {font-family:Arial, Helvetica;font-size:11px;color:#e29e00;font-style:normal;font-weight:bold;text-decoration:none}
A:hover.loulou {COLOR: ##36fc45; TEXT-DECORATION: none}

.nomform {border-color: #000000; COLOR: #c63c3c; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover.nomform {COLOR: #c63c3c; TEXT-DECORATION: underline}

.prixform {border-color: #000000; COLOR: #f4c600; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 9px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none}
A:hover.prixform {COLOR: #f4c600; TEXT-DECORATION: underline}

.date {border-color: #000000; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 9px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: italic; TEXT-DECORATION: none}
A:hover.date {COLOR: #ffffff; TEXT-DECORATION: underline}

.tableau {border-color: #000000; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover.tableau {COLOR: #ffffff; TEXT-DECORATION: underline}

.pettexte {COLOR: #000000; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none}

.sitesem {COLOR: #b23c04; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-DECORATION: nome}

.legende {COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 9px; FONT-STYLE: italic; FONT-WEIGHT: normal; TEXT-DECORATION: none}

.toutpetit {COLOR: #000000; FONT-FAMILY: arial, Helvetica; FONT-SIZE: 9px; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none}

.lienaides {COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none}
A:hover.lienaides {COLOR: #07298d; TEXT-DECORATION: underline}

.contact {COLOR: #ff9900; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none}
A:hover.contact { COLOR: #ff9900; TEXT-DECORATION: underline}

.contact1 {COLOR: #ff9900; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none}
A:hover.contact1 {COLOR: #ff9900; TEXT-DECORATION: underline}

.lienpage {COLOR: #6699CC; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover.lienpage {COLOR: #98062b; TEXT-DECORATION: underline}

.favoris {COLOR: #000000; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-DECORATION: underline}
A:hover.favoris {COLOR: #000000; TEXT-DECORATION: none}



.archive {COLOR: #ffc311; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 13px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover.archive {COLOR: #ffffff; TEXT-DECORATION: underline}

.archive1 {COLOR: #fe8d1e; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none}

.diffusion {COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: underline}
A:hover.diffusion {COLOR: #ffffff; TEXT-DECORATION: underline}



