/* CSS Document */

/* main */

#main {
	margin: 0 auto;
	padding: 0 12px 0 12px;
	width: 960px;
	background: url(background.gif) repeat-y;
}

#top {
	padding: 20px 10px 8px 10px;
	background: url(background-top.gif) repeat-x #00336e;
	background-position: 0 6px;     
    overflow: auto;
}

    #top ul,
    #top li,
    #top p {
        float: left;    
    }
    
    #top p { margin: 2px 18px 0 0; }


    #top li {
        margin-left: 5px;
        padding-left: 23px;
        padding-top: 2px;
        padding-bottom: 3px;
    }
    
    #top .newsletter { background: url(picto-newsletter.gif) no-repeat; }
    #top .liens { background: url(picto-lien.gif) no-repeat; }
    #top .contact { background: url(picto-contact.gif) no-repeat; }
    #top .aide { background: url(picto-aide.gif) no-repeat; }
    
    #top form {
        position: relative;
        top: -2px;
        float: right;
    }
    
#header {
    padding: 0 10px 0 10px;
    overflow: auto;
    border-bottom: 1px dashed #000;
}

#menu {
    overflow: auto;
    border-bottom: 5px solid #478dc6;
}

#content {
    padding: 10px 10px 20px 10px; 
    overflow: auto;
}       

    /* définition des colonnes en fonction du template de la page */
    #col-left,
    #col-main {
        float: left;
    }
    
    #col-right {
        float: right;
    }

    #col-left {
        width: 220px;
        margin-right: 10px;
    }  
    #col-main { }  
    #col-right { margin-left: 0; }      
              
    #tpl-1-col #col-main { width: 940px; }
              
    #tpl-2-col #col-main { width: 710px; }
    
    #tpl-3-col #col-main { width: 481px; }
    #tpl-3-col #col-right { width: 220px; }    
    
    #tpl-3-col-home #col-main { width: 396px; }
    #tpl-3-col-home #col-right { width: 305px; }
        
    
#footer {
    position: relative;
    clear: both;
    padding: 5px 0 10px 0;
    margin: 0 !important;
    overflow: visible;
    background: #00336e;
}

    #footer #gototop {
        display: block;
        position: absolute;
        top: -12px;   
        right: 20px;     
        padding-left: 15px;
        background: url(picto-fleche-haut.gif) 0 100% no-repeat;
    }

    #footer ul {
        margin-top: 5px;
        margin: 5px 0;
        text-align: center;
    }
    
    #footer li {    
        display: inline;
    }
    
    #footer li.last { border: none; }
    
    #bottom-footer {
        min-height: 35px;
        background: url(background-footer.gif) bottom no-repeat; 
    }
	
	#logos-partenaires { clear: both;
	margin-left:230px; }
		#logos-partenaires table { text-align:center; }