#lbOverlay { position: fixed; top: 0; left: 0; z-index: 99998; width: 100%; height: 500px; background-color: #000; }
#lbMain { position: absolute; left: 0; width: 100%; z-index: 99999; text-align: center; line-height: 0; }
#lbMain a img { border: none; }
#lbOuterContainer { position: relative; background-color: #1d0f00; width: 200px; height: 200px; margin: 0 auto; }
#lbImageContainer { padding: 20px 20px 5px 20px; }
#lbLoading { position: absolute; top: 45%; left: 0%; height: 66px; width: 100%; text-align: center; line-height: 0; background: url(loading.gif) center no-repeat; }
#lbClose { position: absolute; top: 4px; right: 4px; width: 15px; height: 15px; background: url(close.gif) no-repeat; }
#lbDetailsContainer { background-color: #1d0f00; width: 100%; line-height: 1.4em; overflow: hidden; margin: 0 auto; }
/*#lbDetailsContainer { background-color: #1d0f00; width: 100%; line-height: 1.4em; overflow: hidden; margin: 0 auto; padding: 0 5px 5px 5px; }*/
#lbPrev { float: left; background: url(index.html.3) no-repeat; width: 24px; height: 29px; margin-top: 0px; color: #fff; }
#lbNext { float: right; background: url(index.html.4) no-repeat; width: 24px; height: 29px; margin-top: 0px; color: #fff; }
#lbPrev_Off { float: left; background: url(index.html.5) no-repeat; width: 24px; height: 29px; margin-top: 0px; color: #fff;}
#lbNext_Off { float: right; background: url(index.html.6) no-repeat; width: 24px; height: 29px; margin-top: 0px; color: #fff;}
#lbDetailsData { border: none; margin: 0; padding: 0 5px 5px 5px; }
#lbCaption { float: left; font-size: 12px; color: #fff; font-weight: bold; padding: 4px 5px 0 5px; }
#lbNumberDisplay { float: right; font-size: 10px; color: #fff; padding: 4px 5px 0 0; }
