#bouton_vols_vacances,
#bouton_vols_vacances_en
{
	display:block;
	margin-top:10px;
	width:179px;
	height:59px;

}
#bouton_vols_vacances
{
	background:			url(http://www.aeroportlimoges.com/design/defaut/site/images/bouton_vols_vacances.jpg) top left no-repeat transparent;
}

#bouton_vols_vacances_en
{
	background:			url(http://www.aeroportlimoges.com/design/defaut/site/images/bouton_vols_vacances_en.jpg) top left no-repeat transparent;
}

#bouton_newsletter
{
	display:block;
	margin-top:10px;
	padding-top:13px;
	padding-left:5px;
	font-weight:bold;
	font-size:12px;
	text-decoration:none;	
	width:186px;
	height:41px;
	background:			url(http://www.aeroportlimoges.com/design/defaut/site/images/bouton_newsletter.jpg) top left no-repeat transparent;

}


#bouton_acces_et_parking
{
	display:block;
	/*margin-top:10px;*/
	padding-top:13px;
	padding-left:5px;
	font-weight:bold;
	font-size:12px;
	text-decoration:none;	
	width:186px;
	height:41px;
	background:			url(http://www.aeroportlimoges.com/design/defaut/site/images/bouton_acces_et_parking.jpg) top left no-repeat transparent;

}

#bouton_boutique
{
	display:block;
	/*margin-top:10px;*/
	padding-top:17px;
	padding-left:5px;
	font-weight:bold;
	font-size:12px;
	text-decoration:none;	
	width:184px;
	height:44px;
	background:			url(http://www.aeroportlimoges.com/design/defaut/site/images/bouton_boutique.jpg) top left no-repeat transparent;

}

#bouton_tourisme_en_limousin
{
	display:block;
	/*margin-top:10px;*/
	padding-top:13px;
	padding-left:5px;
	font-weight:bold;
	font-size:12px;
	text-decoration:none;
	width:187px;
	height:42px;
	background:			url(http://www.aeroportlimoges.com/design/defaut/site/images/bouton_tourisme_en_limousin.jpg) top left no-repeat transparent;

}

#bouton_photo_du_jour
{
	display:block;
	/*margin-top:10px;*/
	padding-top:5px;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	text-decoration:none;
	width:184px;
	height:134px;
	background:			url(http://www.aeroportlimoges.com/design/defaut/site/images/bouton_image_du_jour.jpg) top left no-repeat transparent;
}

/*
#bouton_photo_du_jour span
{
	display:block;
	width:184px;
	height:105px;
	background:			url(../../../../media/photo_du_jour/____defaut.jpg) 30px 25px no-repeat transparent;
}
*/

#bouton_photo_du_jour span
{
	display:block;
	padding-bottom:10px;
}

#bouton_vols_vacances span,
#bouton_vols_vacances_en span,
#bouton_acces_et_parking span,
#bouton_tourisme_en_limousin span
{
	display:none;
	visibility:hidden;
}

.image_pub_droite
{
	margin-top:10px;
}

#encart_meteo
{
	margin-top:10px;
	padding-left:5px;
}