#formulaire_contact p
{
	margin-top:10px;
	padding:10px 0 10px 0;
}

#formulaire_contact label
{
	display:block;
	/*
	float:left;
	text-align:right;
	width:200px;
	*/
	margin-right:10px;

}

#formulaire_contact input.texte
{
	width:450px;
}

#formulaire_contact input.petit_texte
{
	width:200px;
}

#formulaire_contact input.moyen_texte
{
	width:300px;
}

#formulaire_contact textarea
{
	width:450px;
	height:150px;
}

#formulaire_contact .a_saisir
{
	background-color:#ff6969;
}

label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic
}







