/* Classes pour les paragraphes */
.italique { font-style: italic; }
.gras { font-weight: bold; }
.souligne { text-decoration: underline; }

/* Classes pour le texte */
span.italique {	font-style: italic; }
span.gras { font-weight: bold; }
span.actuChateaux {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #666;
  font-weight: normal;
}



/* Equity : Used in the generated page */
.content-element span.actuChateaux {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #666;
  font-weight: normal;
}