/* TYpO3 CVS id: $id$ */
/* Template stylesheet which can be used for new sites */
/* Make a copy of this stylesheet to some other location, modify it and use it from there! */
/*

Colorscheme is:

Background Color 1: #EDEBF1;	(Background 1)
Background Color 1-dimmed: #D8D7DC;	(Background 1 - dimmed)
Background Color 2: #F5FFaa;	(Background 2)
Background Color 3: #D1D2E4;	(Background 2)

Text, main:	#000000
Text Color 1: #186900;	(red)
Text Color 2: #10007B;	(green)
Text Color 3: #8a0020;	(blue)

Links		#000066
Link hover: #660000;

Borders/Lines	#333333
*/


/***************************/
/* General element styles: */
/***************************/

.content-element { margin: 5px 0 10px 0; padding: 0 0 0 0; }
.content-element h1, .content-element h2, .content-element h3, .content-element h4, .content-element h5, .content-element h6, .content-element p, .content-element td, .content-element ul, .content-element ol, .content-element li, .content-element blockquote, .content-element input, .content-element textarea, .content-element select, .content-element span, .content-element a { font-family: Arial, Helvetica, sans-serif; color: #000000; }
.content-element pre { font-family: monospace; }

/*
.content-element a:link, .content-element a:visited { color: #000000; text-decoration: underline; font-weight: bold; }
.content-element a:hover, .content-element a:active { color: #666666; text-decoration: none; font-weight: bold; }
*/
.content-element a { color: #01ABDC; text-decoration: underline; font-weight: bold; }
.content-element a:hover, .content-element a:active { text-decoration: underline; }


.content-element form { margin: 0 0 0 0; padding: 0 0 0 0; }
.content-element p, .content-element pre, .content-element blockquote, .content-element object, .content-element embed  { margin: 10px 0 10px 0; padding: 0 0 0 0; }
.content-element p, .content-element td, .content-element ul, .content-element ol, .content-element li, .content-element span, .content-element a, .content-element br { font-size: 11px; line-height: 15px; }
.content-element input, .content-element textarea, .content-element select { margin: 5px 0 0 0; padding: 1 1 1 1; }

.content-element a.external-link, .content-element a.external-link-new-window, .content-element a.internal-link, .content-element a.internal-link-new-window, .content-element a.download, .content-element a.mail {
 text-decoration:none;
}
.content-element a.external-link:hover, .content-element a.external-link-new-window:hover, .content-element a.internal-link:hover, .content-element a.internal-link-new-window:hover, .content-element a.download:hover, .content-element a.mail:hover {
 text-decoration:underline;
}

/********************************/
/* link-to-top */
/********************************/
.content-element p.csc-linkToTop { display: block; text-align: right; }
.content-element p.csc-linkToTop a { color: 666666; font-weight: normal; }

				
/******************/
/* Headers, plain */
/******************/
.content-element h1 { font-size: 12px; line-height: 18px; color: #000000; text-transform: uppercase; }
.content-element h2 { font-size: 12px; line-height: 18px; color: #000000; text-transform: none; }
.content-element h3 { font-size: 12px; line-height: 18px; color: #666666; text-transform: none; }
.content-element h4 { font-size: 11px; line-height: 18px; color: #666666; text-transform: none; }
.content-element h5 { font-size: 11px; line-height: 18px; color: #666666; text-transform: none; }
.content-element h6 { font-size: 11px; line-height: 18px; color: #666666; text-transform: none; }
.content-element h1, .content-element h2, .content-element h3, .content-element h4, .content-element h5, .content-element h6 { margin: 5px 0 10px 0; padding: 0 0 0 0; font-weight: bold; }
.content-element h1.csc-firstHeader, .content-element h2.csc-firstHeader, .content-element h3.csc-firstHeader, .content-element h4.csc-firstHeader, .content-element h5.csc-firstHeader, .content-element h6.csc-firstHeader { margin: 5px 0 10px 0; padding: 0 0 0 0; font-weight: bold; }

/* Headers, with link */
.content-element h1 a { font-size: 12px; color: #000000;}
.content-element h2 a { font-size: 12px; color: #000000; }
.content-element h3 a { font-size: 12px; color: #666666; }
.content-element h4 a { font-size: 11px; color: #666666; }
.content-element h5 a { font-size: 11px; color: #666666; }
.content-element h6 a { font-size: 11px; color: #666666; }
.content-element h1 a:link, .content-element h2 a:link, .content-element h3 a:link, .content-element h4 a:link, .content-element h5 a:link, .content-element h6 a:link, .content-element h1 a:visited, .content-element h2 a:visited, .content-element h3 a:visited, .content-element h4 a:visited, .content-element h5 a:visited, .content-element h6 a:visited { line-height: 18px; text-decoration: underline; }
.content-element h1 a:hover, .content-element h2 a:hover, .content-element h3 a:hover, .content-element h4 a:hover, .content-element h5 a:hover, .content-element h6 a:hover, .content-element h1 a:active, .content-element h2 a:active, .content-element h3 a:active, .content-element h4 a:active, .content-element h5 a:active, .content-element h6 a:active { line-height: 18px; text-decoration: none; }
/* Header date */
.content-element p.csc-header-date { color: #666666; }

/* Subheader, general */
.content-element p.csc-subheader { font-size: 11px; color: #000000; font-style: bold; }

/* Subheader, specific */
.content-element p.csc-subheader-0, .content-element p.csc-subheader-1, .content-element p.csc-subheader-2, .content-element p.csc-subheader-3 { font-size: 11px; color: #000000; font-style: bold; }



/*******************/
/* RTE / Bodytext: */
/*******************/

/* RTE / Bulletlists */
.content-element ul { margin: 5px 0 0 0; padding: 0; list-style-position: inside; list-style-type: disc;  }
.content-element ul ul li { font-size: 10px; margin: 0 0 0 10px; padding: 0; }
.content-element ol { margin: 5px 0 0 0; padding: 0; list-style-position: inside;  }
.content-element ol ol li { font-size: 10px; margin: 0 0 0 10px; padding: 0; }
.content-element li { margin: 0 0 5px 0; padding: 0; }

/* RTE / Table styling */
.content-element table.contenttable { border: 1px none #000000; margin: 10px 0 10px 0px; width: 100%; }
.content-element table.contenttable tr td { padding: 3px 3px 3px 3px; }
.content-element table.contenttable tr td p.bodytext { font-size: 11px; }
/*table.contenttable tr { background-color: #eeeeee; }*/



/**********/
/* Images */
/**********/

/* Images / Captions */
.content-element p.csc-caption { font-size: 10px; font-style: normal; }

/* Images / Tables / Floating text */
.content-element table.imgtext-table { border: 1px none #000000; }

/* Images / Tables / Wrapped text */
/* When "Text w/Image" elements are wrapping the text into a table the top-margin of Hx elements should be transferred to the wrapping table instead. This is done here: */
.content-element table.imgtext-nowrap { border: 1px none #000000; }
.content-element table.imgtext-nowrap h1, .content-element table.imgtext-nowrap h2, .content-element table.imgtext-nowrap h3, .content-element table.imgtext-nowrap h4, .content-element table.imgtext-nowrap h5 { margin: 0 0 0 0; }



/*********************/
/* Tables, generally */
/*********************/
.content-element table.contenttable p { font-size: 11px; }
.content-element table.contenttable tr td { vertical-align: top; }

/* Tables, specifically */
.content-element table.contenttable-0 p { color: #000000; }

.content-element table.contenttable-1 p { color: #666666; }
.content-element table.contenttable-1 tr.tr-0 td p { font-weight: bold; }
.content-element table.contenttable-1 tr.tr-0 td { background-color: #dedede;}
 
.content-element table.contenttable-2 p { color: #666666; }
.content-element table.contenttable-2 tr td.td-0 { background-color: #ebebeb;}
.content-element table.contenttable-2 tr td.td-0 p { font-weight: bold; }

.content-element table.contenttable-3 p { color: #666666; }
.content-element table.contenttable-3 tr td.td-0, .content-element table.contenttable-3 tr.tr-0 td { background-color: #efefef;}
.content-element table.contenttable-3 tr td.td-0 p, .content-element table.contenttable-3 tr.tr-0 td p { font-weight: bold; }



/************************/
/* Filelinks, generally */
/************************/
/*
table.csc-uploads { border: 0px; }
table.csc-uploads tr td p { background-color : transparent; font-size: 12px; }
table.csc-uploads tr td { vertical-align : top; }
table.csc-uploads tr.tr-even { background-color: #EDEBF1; }
table.csc-uploads tr.tr-odd { background-color: #D8D7DC; }
table.csc-uploads tr td.csc-uploads-icon { padding-left: 6px; padding-right: 6px; width: 1%; text-align: center; vertical-align: middle; }
table.csc-uploads tr td.csc-uploads-fileName { width: 80%; padding-left: 5px; }
table.csc-uploads tr td.csc-uploads-fileName p a { font-weight: bold; }
table.csc-uploads tr td.csc-uploads-fileName p.csc-uploads-description { font-style: italic; }
table.csc-uploads tr td.csc-uploads-fileSize { white-space: nowrap; padding-left: 6px; padding-right: 6px; }
*/

/* Filelinks, specifically */
/*
table.csc-uploads-1 { border-color: #186900; }

table.csc-uploads-2 { border-color: #10007B; }

table.csc-uploads-3 { border-color: #8a0020; }
table.csc-uploads-3 tr td { vertical-align: middle; }
table.csc-uploads-3 tr.tr-even td.csc-uploads-icon img { border: 2px solid #333333; }
table.csc-uploads-3 tr.tr-odd td.csc-uploads-icon img { border: 2px solid #333333; }
*/			


/*****************/
/* Various Forms */
/*****************/

/* Email, Login and Search forms generally: */
.content-element form table tr td { padding-left: 5px 0 5px 0; }
.content-element form table tr td.csc-form-labelcell, .content-element form table tr td.csc-form-commentcell { background-color: #fff; }
.content-element form table tr td.csc-form-fieldcell { background-color: #fff; }
.content-element form table tr td.csc-form-fieldcell input, .content-element form table tr td.csc-form-fieldcell select, .content-element form table tr td.csc-form-fieldcell textarea { border: 1px solid #333333; }
.content-element form table tr td.csc-form-labelcell p.csc-form-label-req { font-weight: bold; }

/* Email form, specifically */
.content-element form table.csc-mailform tr td.csc-form-labelcell  { }

/* Search form, specifically */
.content-element form table.csc-searchform { width: 100%; }
.content-element form table.csc-searchform tr td { padding: 5px 5px 5px 5px; }
.content-element form table.csc-searchform tr td.csc-form-labelcell, .content-element form table.csc-searchform tr td.csc-form-commentcell { font-weight: bold; }
.content-element form table.csc-searchform tr td.csc-form-fieldcell input, .content-element form table.csc-searchform tr td.csc-form-fieldcell select { width: 100%; }

/* Login form, specifically */
.content-element form table.csc-loginform { width: 70%; }


/*****************/
/* Search result */
/*****************/

/* Search Result, result information box: */
.content-element table.csc-searchResultInfo { margin: 10px 0 0 0; width: 100%;}
.content-element table.csc-searchResultInfo tr { background-color: #e1e1e1; }
.content-element table.csc-searchResultInfo tr td p { padding: 0 5px 0 5px;}
.content-element table.csc-searchResultInfo tr td.csc-searchResultRange p { font-weight: bold; }
.content-element table.csc-searchResultInfo tr td.csc-searchResultPrevNext { text-align: right; }

/* Search Result, header + abstract: */
.content-element h3.csc-searchResultHeader a { color: #666666; }
.content-element h3.csc-searchResultHeader { background-color: #e1e1e1; font-size: 12px; padding: 5px 5px 5px 5px; }
.content-element p.csc-searchResult { font-style: italic; margin-left: 20px;}

/* Search word markup */
.content-element span.csc-sword { font-weight: bold; color: red; }


/*****************************/
/* Menu / Sitemap, generally */
/*****************************/
.content-element div.csc-menu { margin-left: 10px; }
.content-element div.csc-menu p { font-size: 11px; font-weight: bold; margin: 1px 0px 0px 0px; padding: 2px 2px 2px 10px; background-color: #EDEBF1; }
.content-element div.csc-menu p a { color: #000000; text-decoration: none; }
.content-element div.csc-menu p a:hover { color: #660000; text-decoration: underline; }
.content-element div.csc-menu p.csc-section { font-weight: normal; margin-left: 20px; font-style: italic; }

/* Menu / Sitemap, "Menu of these pages" */
.content-element div.csc-menu-def p {  }

/* Menu / Sitemap, "Menu of subpages to these pages" */
.content-element div.csc-menu-1 { }

/* Menu / Sitemap, "Sitemap" */
.content-element div.csc-menu-2 { }
.content-element div.csc-menu-2 p.csc-sitemap { }
.content-element div.csc-menu-2 p.csc-sitemap-level1 { margin-left: 20px; }
.content-element div.csc-menu-2 p.csc-sitemap-level2 { margin-left: 40px; }
.content-element div.csc-menu-2 p.csc-sitemap-level3 { margin-left: 60px; }
.content-element div.csc-menu-2 p.csc-sitemap-level4 { margin-left: 80px; }
.content-element div.csc-menu-2 p.csc-sitemap-level1 a { color: #000000; }
.content-element div.csc-menu-2 p.csc-sitemap-level2 a { color: #186900; }
.content-element div.csc-menu-2 p.csc-sitemap-level3 a { color: #10007B; }
.content-element div.csc-menu-2 p.csc-sitemap-level4 a { color: #8a0020; }

/* Menu / Sitemap, "Section index (pagecontent w/Index checked)" */
.content-element div.csc-menu-3 { }
.content-element div.csc-menu-3 p.csc-section { margin-left: 0px; }
.content-element div.csc-menu-3 p.csc-section a { color: #186900; }

/* Menu / Sitemap, "Menu of subpages to these pages (with abstract)" */
.content-element div.csc-menu-4 { }
.content-element div.csc-menu-4 p { margin-top: 2px; }
.content-element div.csc-menu-4 p.csc-abstract { font-weight: normal; font-style: italic; margin-top: 0px; padding: 0px 2px 2px 20px; }

/* Menu / Sitemap, "Recently updated pages" */
.content-element div.csc-menu-5 { }

/* Menu / Sitemap, "Related pages (based on keywords)" */
.content-element div.csc-menu-6 { }

/* Menu / Sitemap, "Menu of subpages to these pages + sections" */
.content-element div.csc-menu-7 { }
.content-element div.csc-menu-7 p { font-weight: bold; }
.content-element div.csc-menu-7 p.csc-section a { color: #186900; }


/*****************/
/* indexedsearch */
/*****************/
.tx-indexedsearch {width:98%;}
.tx-indexedsearch .tx-indexedsearch-browsebox LI { display:inline; margin-right:5px; }
.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-button {
	width:100px;
	padding: 2px;
	color: #0098c3;
	font-weight: bold;
	border: 1px solid #ddd;
	background-color: #fff;
}
.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-sword {
 	width:90%;
	padding: 2px;
 	font-weight: normal;
	border: 1px solid #ddd;
	background-color: #fff;
}
.tx-indexedsearch .tx-indexedsearch-whatis { margin-top:10px; margin-bottom:5px; }
.tx-indexedsearch .tx-indexedsearch-whatis .tx-indexedsearch-sw { font-weight:bold; font-style:italic; }
.tx-indexedsearch .tx-indexedsearch-noresults { text-align:center; font-weight:bold; }
.tx-indexedsearch .tx-indexedsearch-res TD.tx-indexedsearch-descr { font-style:italic; }
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-descr .tx-indexedsearch-redMarkup { color:#0098c3; }
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-info { background:#eeeeee; }
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead { margin-top:20px; margin-bottom:5px; }
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead H2 { margin-top:0px; margin-bottom:0px; }
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead TD { background:#eeeeee; vertical-align:middle; }
.tx-indexedsearch .tx-indexedsearch-res .noResume { color:#666666; }
.tx-indexedsearch .tx-indexedsearch-category { background:#eeeeee; font-size:16px; font-weight:bold; }
.tx-indexedsearch .res-tmpl-css { clear:both; margin-bottom:1em; }
.tx-indexedsearch .searchbox-tmpl-css LABEL { margin-right:1em; width:10em; float:left; }
.tx-indexedsearch .result-count-tmpl-css, .tx-indexedsearch .percent-tmpl-css { letter-spacing:0; font-weight:normal; margin-top:-1.2em; float:right; }
.tx-indexedsearch .info-tmpl-css dt, .tx-indexedsearch dl.info-tmpl-css dd { float:left; }
.tx-indexedsearch .info-tmpl-css dd.item-mtime { float:none; }
.tx-indexedsearch .info-tmpl-css dd.item-path { float:none; }
.tx-indexedsearch .info-tmpl-css dd.item-path a { font-weight:normal; }

/*****************/
/* plugin tx_cgx */
/*****************/
#divConseillersIdentite {
width: 320px;
font-size: 13px;
line-height: 16px;
margin: 5px 0 0 0;
padding: 0;
border-bottom: 1px dotted #bbb;
height:450px;
}
#divConseillersIdentite h1 {
font-size: 14px;
line-height: 19px;
margin: 7px 0 10px 0;
padding: 0 0 5px 0;
display: block;
text-transform: uppercase;
color: #000;
font-weight: bold;
border-bottom: 1px solid #bbb;
background-color: transparent;
}
#divConseillersIdentite h2 {
font-size: 12px;
line-height: 16px;
margin: 5px 0 10px 0;
padding: 0;
display: block;
text-transform: uppercase;
color: #777;
font-weight: bold;
background-color: transparent;
}
#divConseillersIdentite h3 {
font-size: 12px;
line-height: 16px;
margin: 5px 0 10px 0;
padding: 0 0 5px 0;
display: block;
text-transform: uppercase;
color: #777;
font-weight: bold;
border-bottom: 1px dotted #999;
background-color: transparent;
}
#divConseillersPhoto {
position: absolute;
top: 75px;
left: 580px;
width: 150px;
margin: 5px 0 0 0;
padding: 0 5px 0 5px;
}
#divConseillersContact {
position: absolute;
top: 210px;
left: 600px;
width: 140px;
margin: 5px 0 0 0;
padding: 0 5px 0 5px;
border: 1px solid #ddd;
}
#divConseillersContact a:link, #divConseillersContact a:visited {
color: #000;
text-decoration: underline;
}

#divConseillersContact a:hover, #divConseillersContact a:active {
color: #666;
text-decoration: none;
}


/*********************************/
/* Affichage des tableaux/listes */
/*********************************/
.tableListe {
  width: 98%;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
}
.tableListe th {
  background-color: #eee;
  margin: 0;
  padding: 4px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.tableListe td {
  margin: 0;
  padding: 4px;
  text-align: left;
  border-top: 1px dotted #ddd;
}
.tableListe a:link, .tableListe a:visited {
  color: #000;
  text-decoration: underline;
}

.tableListe a:hover, .tableListe a:active {
  color: #666;
  text-decoration: none;
}

/****************************************/
/* Affichage scroller en page d'accueil */
/****************************************/
#divUpControl {position:absolute;left:730px;top:90px;width:11px;height:8px;z-index:1;text-align: right;}
#divDownControl {position:absolute;left:730px;top:337px;width:11px;height:8px;z-index:1;text-align: right;}
#divContainer {left: 320px;top: 90px;width: 400px;height: 255px;clip: rect(0px 400px 255px 0px);visibility: hidden;overflow: hidden;position:absolute;}
#divContent {left: 0px;top: 0px;position: absolute;}


/****************************************/
/* Frontend editing / TYPO3 admin panel */
/****************************************/
.content-element img.frontEndEditIcons { vertical-align: middle; margin: 0px 2px 0px 2px; } 

/* Default styles for the admin panel */
table.typo3-adminpanel { border: 1px solid black; background-color: #F6F2E6; }
table.typo3-adminpanel tr.typo3-adminpanel-hRow td { background-color: #9Ba1a8; }
table.typo3-adminpanel tr.typo3-adminpanel-itemHRow td { background-color: #aBBBB4; }
table.typo3-adminpanel table, table.typo3-adminpanel td { border: 0px; }
table.typo3-adminpanel td font { font-family: verdana; font-size: 10px; color: black; }
table.typo3-adminpanel td a font { font-family: verdana; font-size: 10px; color: black; }			
table.typo3-editpanel { border: 1px solid black; background-color: #F6F2E6; }
table.typo3-editpanel td { border: 0px; }


/*************/
/* Debugging */
/*************/
/*
h1, h2, h3, h4, h5, p, ul, ol, li, blockquote, pre { border: 1px dotted #999999;}
td table { border: 1px dotted #000099;}
div { border: 1px dotted #990000;}
img.spacer-gif { border: 1px solid black; }
*/

.content-element-col1 {
	width: 200px;
	margin-top: 5px;
	padding: 0 0 5px 0;
	background-color: #fff;
}
.content-element-col0 {}
.content-element-col2 {
	width: 190px;
	margin-top: 15px;
	padding: 5px;
	border: 1px solid #e1e1e1;
	background-color: #fff;
}

/*************/
/* Gallerie */
/*************/
input#legende {
	text-align: center;
	border: 0px;
	width: 450px;
}