@charset "UTF-8";
/* CSS Document */

/**********************************/
/***********Tags généraux**********/
/**********************************/

body {
	margin: 0;
	padding: 0;
	text-align: center;
	scrollbar-face-color:#fff;
	scrollbar-arrow-color:#ddd;
	scrollbar-track-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	background-image: url(fond.gif);
	background-repeat: repeat;
	background-position: left top;
}
div, p, td, th, li, h1, h2, h3, h4, h5, h6, input, a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
}
form, input {
	margin: 0;
}
img {
	border: 1px none #000;
}
p {
	margin: 5px 0 10px 0;
	padding: 0;
}
a:link, a:visited { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

hr { 
	width: 100%;
   color: #bbb;
   margin: 5px 0 10px 0;
}


/**********************************/
/************Images****************/
/**********************************/

.csc-textpic-caption {
	font-size: 10px;
	color: #0c18dc;
	font-style: italic;
	text-align: center;
}

/**********************************/
/******Conteneurs généraux*********/
/**********************************/

#divGlobal {
	position: relative;
	width: 984px;
	margin: 0 auto;
	padding: 0;
	text-align: left;
}
#divContour {
	width: 984px;
	margin: 0;
	padding: 0 0 20px 0;
	text-align: left;
	background-color: #fff;
	border-top: 0px;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #01abdc;
	border-left: 1px solid #dedede;
}
#divContourInterieur {
	width: 984px;
	margin: 0;
	padding: 0 0 20px 0;
	text-align: left;
	background: #fff url(fond_interieur2.gif) top right no-repeat;
	border-top: 0px;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #01abdc;
	border-left: 1px solid #dedede;
}

#divContourInterieur.twoColumns {
	background: #fff url(http://www.ladrome.fr/fileadmin/templates/rsrc/fond_interieur2_2col.gif) top right no-repeat;
}

#divContenu {
	position: relative;
	width: 984px;
	margin: 0;
	padding: 0;
	text-align: left;
}


/**********************************/
/**************Haut****************/
/**********************************/


#divSearch {
	position: absolute;
	left: 10px;
	top: 176px;
	z-index: 1000;
	height: 19px;
	margin: 0;
}
#divSearch input.champCherchez {
	width:100px;
}

#divBandeauHaut {
	width: 984px;
	margin: 0;
	padding: 0;
	text-align: left;
}



/************Menus haut************/

#divMenuCg ul, #divMenuServices ul, #divMenuEconomie ul, #divMenuTourisme ul {
	margin: 0;
	padding: 0;
	list-style-position: outside;
	list-style-type: none;
}
#divMenuCg li, #divMenuServices li, #divMenuEconomie li, #divMenuTourisme li {
	margin: 0;
	padding: 0;
}
#divMenuCg a, #divMenuServices a, #divMenuEconomie a, #divMenuTourisme a {
	display: block;
	height: 17px;
	margin: 0;
	padding: 0 0 0 10px;
	text-decoration: none;
}
#divMenuCg {
	position: absolute;
	top: 1px;
	left: 145px;
	width: 210px;
	height: 180px;
	visibility: hidden;
	padding: 0;
	margin: 0;
	background: transparent url(fond_ssmenus_haut.gif) top left no-repeat;
}
#divMenuCg ul {
	margin: 0;
	padding: 0;
	list-style-position: outside;
	list-style-type: none;
}
#divMenuCg li {
	margin: 0;
	padding: 0;
}
#divMenuCg a:link, #divMenuCg a:visited {
	color: #01abdc;
}
#divMenuCg a:hover, #divMenuCg a:active {
	color: #fff;
	background-color: #01abdc;
}
#divMenuServices {
	position: absolute;
	top: 1px;
	left: 355px;
	width: 215px;
	height: 180px;
	visibility: hidden;
	padding: 0;
	margin: 0;
	background: transparent url(fond_ssmenus_haut.gif) top left no-repeat;
}
#divMenuServices a:link, #divMenuServices a:visited {	
	color: #ee0d70;
}
#divMenuServices a:hover, #divMenuServices a:active {
	color: #fff;
	background-color: #ee0d70;
}
#divMenuEconomie {
	position: absolute;
	top: 1px;
	left: 570px;
	width: 210px;
	height: 180px;
	visibility: hidden;
	padding: 0;
	margin: 0;
	background: transparent url(fond_ssmenus_haut.gif) top left no-repeat;
}
#divMenuEconomie a:link, #divMenuEconomie a:visited {	
	color: #6eac08;
}
#divMenuEconomie a:hover, #divMenuEconomie a:active {
	color: #fff;
	background-color: #6eac08;
}
#divMenuTourisme {
	position: absolute;
	top: 1px;
	left: 780px;
	width: 205px;
	height: 180px;
	visibility: hidden;
	padding: 0;
	margin: 0;
	background: transparent url(fond_ssmenus_haut.gif) top left no-repeat;
}
#divMenuTourisme a:link, #divMenuTourisme a:visited {
	color: #ff8122;
}
#divMenuTourisme a:hover, #divMenuTourisme a:active {
	color: #fff;
	background-color: #ff8122;
}

/**********************************/



/**********************************/
/*********Fil d'Ariane*************/
/**********************************/


#divFilAriane {
	margin: 10px 0 5px 135px;
	padding: 0;
	color: #01abdc;	
}
#divFilAriane img {
	margin: 0 5px 0 10px;
	padding: 0;
}
#divFilAriane a:link, #divFilAriane a:visited {
	text-decoration: none;
	color: #01abdc;
}
#divFilAriane a:hover, #divFilAriane a:active {
	text-decoration: underline;
	color: #01abdc;
}




/**********************************/
/*********Colonne gauche***********/
/**********************************/

#divColonneGauche {
	float: left;
	width: 235px;
	margin: 0;
	padding: 10px 0 0 8px;
	vertical-align: top;
}


/************Navig gauche***********/

#divNavigGauche { width: 210px; margin: 0; padding: 0 0 20px 0; background: #ebf6ff url(navig_g_pied_cg.gif) bottom left no-repeat; }
#divNavigGauche h2 a { font-size: 16px; line-height: 19px; color: #01abdc; margin: 15px 0 15px 15px; padding: 0; font-weight: normal; text-decoration:none; }

.divNavigGaucheNiv1Off {
	margin: 2px 0 0 0;
	padding: 0;
	padding-left: 8px;
	background: url('puce_carre_bleu.jpg');
	background-repeat: no-repeat;
	background-position: center left;
}
.divNavigGaucheNiv1Act {
	margin: 0;
	padding: 0;
}
.divNavigGaucheNiv1Off a:link, .divNavigGaucheNiv1Off a:visited { display: block; height: 17px; margin: 2px 0 0 0; padding: 0 0 0 5px; color: #01abdc; text-decoration: none; }
.divNavigGaucheNiv1Off a:hover, .divNavigGaucheNiv1Off a:active { display: block; height: 17px; margin: 2px 0 0 0; padding: 0 0 0 5px; color: #000; text-decoration: underline; }
.divNavigGaucheNiv1Act a:link, .divNavigGaucheNiv1Act a:visited { display: block; height: 17px; margin: 2px 0 0 0; padding: 0 0 0 5px; color: #fff; background-color: #01abdc; text-decoration: none; padding-left: 12px;}
.divNavigGaucheNiv1Act a:hover, .divNavigGaucheNiv1Act a:active { display: block; height: 17px; margin: 2px 0 0 0; padding: 0 0 0 5px; color: #000; background-color: #01abdc; text-decoration: none; padding-left: 12px;}
.divNavigGaucheNiv2Off a:link, .divNavigGaucheNiv2Off a:visited { display: block; height: 17px; margin: 2px 0 0 0; padding: 0 0 0 12px; color: #01abdc; text-decoration: none;  }
.divNavigGaucheNiv2Off a:hover, .divNavigGaucheNiv2Off a:active { display: block; height: 17px; margin: 2px 0 0 0; padding: 0 0 0 12px; color: #000; text-decoration: underline; }
.divNavigGaucheNiv2Act a:link, .divNavigGaucheNiv2Act a:visited { display: block; height: 17px; margin: 2px 0 0 0; padding: 0 0 0 12px; color: #000; text-decoration: underline; }
.divNavigGaucheNiv2Act a:hover, .divNavigGaucheNiv2Act a:active { display: block; height: 17px; margin: 2px 0 0 0; padding: 0 0 0 12px; color: #000; text-decoration: underline;  }

/**********************************/


/************Rendez-vous***********/

#divRdvTheme { width: 210px; margin: 20px 0 15px 0; padding: 0; background-color: #fff; border-bottom: 1px solid #01abdc; }
#rdvThemeTitre { display: block; font-size: 12px; font-weight: bold; margin: 0; padding: 2px 0 2px 0; color: #fff; text-transform: uppercase; text-align: center; background-color: #01abdc; }
#divRdvTheme a:link, #divRdvTheme a:visited { text-align: left; margin: 0; padding: 0; text-decoration: none; font-weight: normal; color: #01abdc; }
#divRdvTheme a:hover, #divRdvTheme a:active {
	text-decoration: underline;
	color: #666;
	text-align: left;
}

#divRdvThemeSuite {
	width: 100%;
	height: 25px;
	margin: 0;
	padding: 0;
	text-align: right;
}
#divRdvThemeSuite a:link, #divRdvThemeSuite a:visited { text-decoration: none;font-weight: bold;color: #01abdc; text-align: right;}

#divRdvThemeSuite a:hover, #divRdvThemeSuite a:active {
	text-decoration: none;
	font-weight: bold;
	color: #000;
	text-align: right;



}
/**********************************/



/*************Contact**************/


#divContactTheme {
	width: 210px;
	margin: 20px 0 0 0;
	padding: 0;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}
#divContactTheme a:link, #divContactTheme a:visited {
	width: 210px;
	margin: 5px 0 5px 0;
	display: block;
	text-align: right;
	color: #01abdc;
	font-weight: bold;
}
#divContactTheme a:hover, #divContactTheme a:active {
	width: 210px;
	margin: 5px 0 5px 0;
	display: block;
	color: #000;
	font-weight: bold;
}

/**********************************/



/**********************************/
/*********Colonne normale**********/
/**********************************/

#divColonneNormale {
	float: left;
	width: 525px;
	margin: 0;
	padding: 5px 0 0 0;
	vertical-align: top;
}

#divColonneNormaleDouble {
	float: left;
	width: 730px;
	margin: 0;
	padding: 5px 0 0 0;
	vertical-align: top;
}

/************Articles**************/

#divArticles {
	width: 100%;
	margin: 0;
	padding: 0;
}
#divArticles img {
	float: right;
	margin: 0 15px 0 5px;
}
#divArticles a {
	color:#01abdc;
	text-decoration:underline;
}

h1#pageTitre {
	display: inline;
	font-size: 22px;
	line-height: 26px;
	font-weight: normal;
	margin: 0;
	padding: 0 20px 0 0;
	color: #01abdc;
	background-color: #fff;
}

.divArticlesEncart {
	float: left;
	width: 240px;
	margin: 10px 15px 0 0;
	padding: 0;
}
.divArticlesEncart h3 { font-size: 12px; font-weight: bold; color: #01abdc; margin: 5px 0 10px 0; padding: 0; text-transform: uppercase; }
.divArticlesEncart h4 {
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0 10px 0;
	padding: 0;
	color: #000;
}
#divArticles .divArticlesEncart img {
	float: right;
	margin: 0;
}
.divArticlesEncart a:link, .divArticlesEncart a:visited { display: block; text-align: right; color: #01abdc; margin: 0; text-decoration: none; font-weight: bold; }
.divArticlesEncart a:hover, .divArticlesEncart a:active {
	display: block;
	text-align: right;
	color: #000;
	margin: 0;
	text-decoration: none;
	font-weight: bold;
}

/**********************************/


/**********Téléchargement**********/


.divInfoComplementaire {
	width: 470px;
	margin: 15px 0 15px 0;
	padding: 10px;
	border: 1px solid #e1e1e1;
	color: #333;
}
.divInfoComplementaire h3 {
	font-size: 12px;
	font-weight: bold;
	color: #ee0d70;
	margin: 5px 0 10px 0;
	padding: 0;
	text-transform: uppercase;
}
.divInfoComplementaire a:link {
	margin: 0;
	padding: 0;
	text-decoration: underline;
	font-weight: normal;
	color: #01ABDC;
}
.divInfoComplementaire a:visited {
	margin: 0;
	padding: 0;
	text-decoration: underline;
	font-weight: normal;
	color: #000000;
}
.divInfoComplementaire a:hover, .divInfoComplementaire a:active {
	margin: 0;
	padding: 0;
	text-decoration: underline;
	font-weight: normal;
	color: #000000;
}

/**********************************/



/**********************************/
/*********Colonne droite***********/
/**********************************/


#divColonneDroite {
	float: left;
	width: 192px;
	margin: 0;
	padding: 35px 0 0 14px;
	vertical-align: top;
}


/***********Conseiller************/

#divVotreConseiller {
	width: 192px;
	margin: 0;
	padding: 0;
	border: 1px solid #e1e1e1;
	background-color: #fff;
}
#divVotreConseiller h5 { font-size: 12px; font-weight: bold; margin: 0; padding: 2px 0 2px 0; color: #fff; background-color: #01abdc; text-transform: uppercase; text-align: center; }
#divVotreConseiller img {
	margin: 0 5px 0 0;
	border: 1px solid #ddd;
	float: left;
}
#divVotreConseiller p {
	margin: 5px;
	padding: 0;
}
#divVotreConseiller a:link, #divVotreConseiller a:visited { 
	color: #000;
	text-decoration: underline;
}
#divVotreConseiller a:hover, #divVotreConseiller a:active {
	color: #666;
	text-decoration: none;
}
/**********************************/


/*************Services*************/

#divServices {
	width: 210px;
	background-color: #faeff3;
	margin: 10px 0 0 0;
	padding: 0;
}
#divServices ul {
	margin: 0 0 15px 0;
	padding: 0;
	list-style-position: inside;
	list-style-type: none;
	border-bottom: 1px solid #910037;
}
#divServices li {
	height: 17px;
	margin: 7px 0 0 7px;
	padding: 0 0 0 15px;
	background: transparent url(puce_liste_services2.gif) no-repeat left center;
}
#divServices ul li a span {
	font-weight: bold;
}
#divServices a:link, #divServices a:visited {
	font-size: 12px;
	text-decoration: none;
	color: #910037;
}
#divServices a:hover, #divServices a:active {
	font-size: 12px;
	text-decoration: underline;
	color: #910037;
}

/**********************************/



/**************Sondage**************/

#divSondage {
	width: 192px;
	margin: 15px 0 15px 0;
	padding: 0;
	border: 1px solid #e1e1e1;
	background-color: #fff;
}
#divSondage h1 {
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 2px 0 2px 0;
	color: #fff;
	background-color: #01abdc;
	text-transform: uppercase;
	text-align: center;
}

.tx-quickpoll-pi1 {
	margin: 0 0 0 10px;
	padding: 0;
}
.tx-quickpoll-pi1 h2 {
	color: #00a2d0;
	font-weight: bold;
	margin: 3px;	
	padding: 0;
	font-size: 11px;
	line-height: 16px;
	text-align: center;
}
.polltable {
	margin: 0;	
	padding: 0;
}
.polltitle {
	margin: 0;	
	padding: 0;	
}
.pollmain {
	margin: 0;	
	padding: 0;
	color: #666;
}
.poll {
	margin: 0;	
	padding: 0;
}
.pollquestion {
	font-size: 11px;
	line-height: 18px;
	margin: 0;	
	padding: 0;
	color: #000;
}
.pollanswer {
	margin: 0;	
	padding: 0;
}
.pollsubmit {
	margin: 0 3px 10px 70px;	
	padding: 2px;
	color: #0098c3;
	font-weight: bold;
	border: 1px solid #ddd;
	background-color: #fff;
}
.pollresulttext {
	font-size: 11px;
	line-height: 19px;
	color: #666;
}
.pollbar {
	margin: 2px 0 2px 0;
	background-color: #01abdc;
}
.polltotal {
	display: block;
	margin: 3px 0 0 0;
	padding: 3px 0 3px 0;
	text-align: center;
	height: 15px;
	color: #666;
	border-top: 1px dotted #ddd;
}

/**********************************/



/************Newsletter************/

#divNewsletter {
	width: 192px;
	margin: 10px 0 0 0;
	padding: 0;
	border: 1px solid #ddd;
	text-align: right;
	background-color: #fff;
}

/**********************************/



/**********************************/
/**********Bas de page*************/
/**********************************/

#divCoordonnees {
	width: 650px;
	height: 20px;
	margin: 0;
	padding-top: 4px;
	color: #108bb5;
	float: left;
}
#divMentions {
	width: 330px;
	height: 20px;
	margin: 0;
	padding: 0;
	text-align: center;
	float: right;
}
#divMentions a:link, #divMentions a:visited {
	text-decoration: none;
	color: #000;
	line-height: 15px;
}
#divMentions a:hover, #divMentions a:active {
	text-decoration: none;
	color: #108bb5;
	line-height: 15px;
}



/**********************************/
/******Classes générales***********/
/**********************************/
.alignCenter {
	text-align: center;	
}
.alignRight {
	text-align: right;	
}
.valignTop {
	vertical-align: top;	
}
.txtCouleur1 {
	color: #01abdc;
}
.txtCouleur2 {
	color: #ee0d70;
}
.txtCouleur3 {
	color: #9abf3c;
}
.txtCouleur4 {
	color: #ff8122;
}
.txtCouleur5 {
	color: #000000;
}
.txtCouleur6 {
	color: #646464;
}

.bold {
	font-weight: bold;	
}
.btn {
	margin: 0 3px 0 0;	
	padding: 2px;
	color: #0098c3;
	font-weight: bold;
	border: 1px solid #ddd;
	background-color: #fff;
}
.champCherchez {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #fff;
	margin: 0 3px 0 5px;
	padding: 0;
	height: 16px;
	width: 140px;
	border: 1px none #000;	
}

.txtNote {
	color: #666;
	font-size: 9px;
}

.txtNote a:link, .txtNote a.lien:visited { text-decoration: underline; color: #666; font-size: 9px; }
.txtNote a.lien:hover, .txtNote a.lien:active { text-decoration: none; color: #666; font-size: 9px; }

.clearBoth {
	clear: both;
}

/**********************************/
/************Accueil***************/
/**********************************/

a.lien1:link, a.lien1:visited { text-decoration: underline; color: #01abdc; }
a.lien1:hover, a.lien1:active { text-decoration: none; color: #000; }
a.lien2:link, a.lien2:visited { text-decoration: underline; color: #ee0d70; }
a.lien2:hover, a.lien2:active { text-decoration: none; color: #ee0d70; }
a.lien3:link, a.lien3:visited { text-decoration: underline; color: #9abf3c; }
a.lien3:hover, a.lien3:active { text-decoration: none; color: #9abf3c; }



a.lien4:link, a.lien4:visited { text-decoration: underline; color: #ff8122; }
a.lien4:hover, a.lien4:active { text-decoration: none; color: #ff8122; }


#divBienvenue {
	position: absolute;
	left: 10px;
	top: 2px;
	width: 500px;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
}

#divColonneDroiteAccueil {
	float: left;
	width: 210px;
	margin: 0;
	padding: 15px 0 0 0px;
	vertical-align: top;
}
#divColonneGaucheAccueil {
	padding-right: 0px;
	padding-left: 8px;
	float: left;
	padding-bottom: 0px;
	vertical-align: top;
	width: 200px;
	padding-top: 10px;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#divColonneNormaleAccueil {
	padding-right: 0px;
	padding-left: 0px;
	float: left;
	padding-bottom: 0px;
	vertical-align: top;
	width: 525px;
	_width: 515px;
	padding-top: 10px;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#divDerniereMinute {
	width: 300px;
	height: 60px;
	margin: 0;	
	padding: 0 5px 0 100px;
	background: transparent url(bloc_derniere_minute.jpg) left top no-repeat;
}
#divDerniereMinute p {
	font-size: 10px;
	font-weight: bold;
}
#divNewsFleches {
	position: absolute;
	top: 90px;
	left: 710px;	
	width: 30px;
	height: 250px;
}
#divNewsAccueil {
	position: absolute;
	top: 90px;
	left: 320px;
	width: 390px;
	height: 200px;
	clip: rect(0px,390px,200px,0px);
	visibility:visible;
}
#divRdv {
	width: 200px;
	margin: 0;
	padding: 0;
}
#divRdv p {
	margin: 0 1px 5px 1px;
	padding: 1px;
}
#divRdv a:link, #divRdv a:visited {
	text-decoration: none;
	color: #000;
}
#divRdv a:hover, #divRdv a:active {
	text-decoration: underline;
	color: #666;
}
#divRdvTitre {
	width: 100%;
	height: 25px;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #eaeaea;
}
#divRdvSuite {
	width: 100%;
	height: 25px;
	margin: 0;
	padding: 0;
	border-top: 1px solid #eaeaea;
	text-align: right;
}
#divRdvSuite a:link, #divRdvSuite a:visited {
	text-decoration: none;
	color: #01abdc;
	font-weight: bold;
}
#divRdvSuite a:hover, #divRdvSuite a:active {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}
#divNewsletterAccueil {
	width: 281px;
	margin: 10px 0 0 0;
	padding: 0;
	border: 1px solid #ddd;
	text-align: right;
}
#divServicesAccueil {
	width: 210px;
	background-color: #faeff3;
	margin: 0;
	padding: 0;
}
#divServicesAccueil ul {
	margin: 0 0 15px 0;
	padding: 0;
	list-style-position: inside;
	list-style-type: none;
	border-bottom: 1px solid #910037;	
}
#divServicesAccueil li {
	height: 17px;
	margin: 7px 0 0 7px;
	padding: 0 0 0 15px;
	background: transparent url(puce_liste_services2.gif) no-repeat left center;
}
#divServicesAccueil ul li a span {
	font-weight: bold;

}
#divServicesAccueil a:link, #divServicesAccueil a:visited {
	font-size: 12px;
	text-decoration: none;
	color: #910037;
}
#divServicesAccueil a:hover, #divServicesAccueil a:active {
	font-size: 12px;
	text-decoration: underline;
	color: #910037;
}
#divVisuelGaucheAccueil {
	width: 285px;
	margin: 5px 0 0 0;
	padding: 0;
}
#tdNewsFiletBas {
	width: 10px;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
#tdNewsFiletHaut {
	width: 10px;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
#tdNewsFiletVertik {
	border-right: 1px solid #ddd;
}
#tableNewsFleches {
	height: 250px;
}
#tdNewsFlechesBas {
	text-align: right;
	vertical-align: bottom;
}
#tdNewsFlechesHaut {
	text-align: right;
	vertical-align: top;
}


#marqueecontainer {
	position: relative;
	width: 200px; /*marquee width */
	height: 130px; /*marquee height */
	background-color: white;
	overflow: hidden;
	/*border: 3px solid orange;*/
	padding: 2px;
	padding-left: 4px;
}
#marqueecontainer a {text-align:left;}

#divColonneNormaleAccueil  DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image img { margin : 3px 0 0 0 ; }
#divColonneGaucheAccueil  DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image img { margin : 1px 0 0 0 ; }
