#popupAccueil{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1050px;
	z-index: 1000;
	}
/*	#popupAccueilBackground{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #eee;
		}*/
	#popupAccueilBackgroundTransparent{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #eee;
		filter: alpha(opacity=90);
		-moz-opacity: .9;
		-khtml-opacity: .9;
		opacity: .9;
		}
	#popupAccueilContentContainer{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		}
	#popupAccueilContent{
		position: absolute;
		margin-left: -493px;
		left: 50%;
		top: 2%;
		width: 986px;
		height: 96%;
		text-align: center;
		}
	.popupAccueilContentTransparent{
		margin-top: 15px;
		padding: 0;
		height: 704px;
		border: 0 none #000;
		overflow: auto;
		}
	#popupAccueil .left,
	#popupAccueil .right{
		margin-top: 50px;
		}
	#popupAccueil .left{
		float: left;
		width: 45%;
		}
	#popupAccueil .right{
		float: right;
		width: 45%;
		}
	#popupAccueil .clearBoth{
		clear: both;
		}