@charset "iso-8859-1";

/**** NAVIGATION ****/

.mainMenu li a { height:37px; background:url("nav_accueil.png") no-repeat 0 0; }

/*
.mainMenu li.m_nav1 a.hasSubMenuActive,
	.mainMenu li.m_nav1 a:hover,
		.mainMenu li.m_nav1_on a { background-position:0 -37px; } 

.mainMenu li.m_nav2 a.hasSubMenuActive,
	.mainMenu li.m_nav2 a:hover,
		.mainMenu li.m_nav2_on a  { background-position:-99px -37px;} 

.mainMenu li.m_nav3 a.hasSubMenuActive, 
	.mainMenu li.m_nav3 a:hover,
		.mainMenu li.m_nav3_on a { background-position:-201px -37px;}

.mainMenu li.m_nav4 a.hasSubMenuActive,
	.mainMenu li.m_nav4 a:hover,
		.mainMenu li.m_nav4_on a { background-position:-301px -37px; }

.mainMenu li.m_nav5 a.hasSubMenuActive,
	.mainMenu li.m_nav5 a:hover,
		.mainMenu li.m_nav5_on a { background-position:-513px -37px; }

.mainMenu li.m_nav6 a.hasSubMenuActive,
	.mainMenu li.m_nav6 a:hover,
		.mainMenu li.m_nav6_on a { background-position:-652px -37px; }

.mainMenu li.m_nav7 a.hasSubMenuActive,
	.mainMenu li.m_nav7 a:hover,
		.mainMenu li.m_nav7_on a { background-position:-815px -37px; }
*/

/* //HOME *******************************/
td#barreHautOutils.bandeauAccueil { background:url("bandeau_outils_accueil.png") left top no-repeat; height:110px; }
td#bandeauBienvenue.bandeauAccueil { background:url("bandeau_bienvenue_accueil.jpg") 21px top no-repeat; height: 145px; }

#logoRegion { margin: 17px 0 0 67px; }

div#outils { padding-top: 38px; }

#underOutils { padding-left: 496px; padding-top: 20px; _padding-top: 17px;  }

div#bgSousNav { background:url(bg_sous_nav_accueil.gif) left top repeat-x; height: 27px; }

td.separateurVertical.colGauche, td.separateurVertical.colDroite { padding: 0 9px; }

td#footerPage { padding-top:34px; }

/****************************************/
