@charset "iso-8859-1";

/* ZOOOOOOM */
#zoomConteneur { width: 516px; }

#zoomConteneur .zoomContenu {
	margin: 15px 20px 0 15px;
	font-weight: bold; color: #ffffff; font-size: 1.1em;
	_height: 0.01%;
}

#zoomConteneur .zoomContenu p, #zoomConteneur .zoomContenu strong { margin: 3px 0; }
#zoomConteneur .zoomContenu strong { display: block; }

/* .zoomTetiere { border: 1px solid #CCCCCC; }*/

#zoomConteneur .zoomTitre {
	display: block; padding-left: 20px; margin-bottom: 15px;
	background-position: left 1px; background-repeat: no-repeat;
	text-transform: uppercase; font-weight: bold; text-decoration: none; color: #ffffff;
}

#zoomConteneur .zoomContenu strong { font-size: 1.2em; }

#zoomConteneur .zoomContenu p.illustration { float: right; margin-left: 10px; }

#zoomConteneur .zoomFooter { height: 10px; }
#zoomConteneur .zoomFooter .coinG, #zoomConteneur .zoomFooter .coinD { float: left; width: 10px; height: 10px; font-size: 1px; line-height: 1px; }
#zoomConteneur .zoomFooter .coinG { background-position: left bottom; background-repeat: repeat; }
#zoomConteneur .zoomFooter .coinD { 
	float: right;
	background-position: right bottom; background-repeat: no-repeat;

}



/* .zoomUnivers27#zoomConteneur .zoomConteneurInt{ background-color: #8a99da; } */
 .zoomUnivers27#zoomConteneur .zoomTetiere { border-color: #5366c5; } 
.zoomUnivers27#zoomConteneur .zoomContenu { color:#3d4aa1; }
.zoomUnivers27#zoomConteneur .zoomTitre { background-image: url("zoom_puce_univers27.gif"); }
.zoomUnivers27#zoomConteneur .zoomFooter .coinG { background-image: url("zoom_coin_bg_univers27.gif"); }
.zoomUnivers27#zoomConteneur .zoomFooter .coinD { background-image: url("zoom_coin_bd_univers27.gif"); }

/* .zoomUnivers30#zoomConteneur .zoomConteneurInt{ background-color: #f7a94c; }*/
.zoomUnivers30#zoomConteneur .zoomTetiere { border-color: #d15114; }
.zoomUnivers30#zoomConteneur .zoomContenu { color: #c54102; }
.zoomUnivers30#zoomConteneur .zoomTitre { background-image: url("zoom_puce_univers30.gif"); }
.zoomUnivers30#zoomConteneur .zoomFooter .coinG { background-image: url("zoom_coin_bg_univers30.gif"); }
.zoomUnivers30#zoomConteneur .zoomFooter .coinD { background-image: url("zoom_coin_bd_univers30.gif"); }

/* .zoomUnivers31#zoomConteneur .zoomConteneurInt { background-color: #75c6da; }*/
.zoomUnivers31#zoomConteneur .zoomTetiere { border-color: #029bc1; }
.zoomUnivers31#zoomConteneur .zoomContenu { color: #027491; }
.zoomUnivers31#zoomConteneur .zoomTitre { background-image: url("zoom_puce_univers31.gif"); }
.zoomUnivers31#zoomConteneur .zoomFooter .coinG { background-image: url("zoom_coin_bg_univers31.gif"); }
.zoomUnivers31#zoomConteneur .zoomFooter .coinD { background-image: url("zoom_coin_bd_univers31.gif"); }

/* .zoomUnivers32#zoomConteneur .zoomConteneurInt { background-color: #acd265; }*/
.zoomUnivers32#zoomConteneur .zoomTetiere { border-color: #93c537; }
.zoomUnivers32#zoomConteneur .zoomContenu { color: #014b01; }
.zoomUnivers32#zoomConteneur .zoomTitre { background-image: url("zoom_puce_univers32.gif"); }
.zoomUnivers32#zoomConteneur .zoomFooter .coinG { background-image: url("zoom_coin_bg_univers32.gif"); }
.zoomUnivers32#zoomConteneur .zoomFooter .coinD { background-image: url("zoom_coin_bd_univers32.gif"); }

/* .zoomUnivers33#zoomConteneur .zoomConteneurInt { background-color: #b794c5; }*/
.zoomUnivers33#zoomConteneur .zoomTetiere { border-color: #8e5ea5; }
.zoomUnivers33#zoomConteneur .zoomContenu { color: #4e106c; }
.zoomUnivers33#zoomConteneur .zoomTitre { background-image: url("zoom_puce_univers33.gif"); }
.zoomUnivers33#zoomConteneur .zoomFooter .coinG { background-image: url("zoom_coin_bg_univers33.gif"); }
.zoomUnivers33#zoomConteneur .zoomFooter .coinD { background-image: url("zoom_coin_bd_univers33.gif"); }

/* .zoomUnivers34#zoomConteneur .zoomConteneurInt { background-color: #ffc64c; }*/
.zoomUnivers34#zoomConteneur .zoomTetiere { border-color: #7a7365; }
.zoomUnivers34#zoomConteneur .zoomContenu { color: #ce6b00; }
.zoomUnivers34#zoomConteneur .zoomTitre { background-image: url("zoom_puce_univers34.gif"); }
.zoomUnivers34#zoomConteneur .zoomFooter .coinG { background-image: url("zoom_coin_bg_univers34.gif"); }
.zoomUnivers34#zoomConteneur .zoomFooter .coinD { background-image: url("zoom_coin_bd_univers34.gif"); }

/* .zoomUnivers35#zoomConteneur .zoomConteneurInt { background-color: #da6a92; }*/
.zoomUnivers35#zoomConteneur .zoomTetiere { border-color: #7d1736; }
.zoomUnivers35#zoomConteneur .zoomContenu { color: #7d1736; }
.zoomUnivers35#zoomConteneur .zoomTitre { background-image: url("zoom_puce_univers35.gif"); }
.zoomUnivers35#zoomConteneur .zoomFooter .coinG { background-image: url("zoom_coin_bg_univers35.gif"); }
.zoomUnivers35#zoomConteneur .zoomFooter .coinD { background-image: url("zoom_coin_bd_univers35.gif"); }

/* ZOOOOOOM */

.rubriqueListeZoom {font-size:1.3em;
}
