/* Porte (theme FR)

Company : Vente-privee.com
Project : VP4 (Front)
Support : Media Screen

Version : V 0.1
Date : 01  2008
Author : David GALL

*/

/* importation */
/***************************/
	@import url(door_theme_cmn.css);
/***************************/


/* Spcificit */
/*****************************/


	/* MODIFICATION COLORIS FR 				 */ 		/* A Renseigner */
	/*****************************************/
		/*
		body { background-color: ; }
		h2 { color: ; }
		.formBloc input.logIn, .formBloc p.signUp { color: ; }
		#footer { color: ; }
		*/
	/****************************************/
	
	
	
	/* AFFICHAGE des lments de porte BLANC */			/* A Masquer/Demasquer */	
	/*****************************************/
		/*
		h1 {
			background-image: url(../images/door_logo-white.png) !important;
			background-image: none;
			_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='../_web/site/theme/_common/images/door_logo-white.png');
		}
		p.international,
		.formBloc fieldset label, 
		.formBloc p.signUp,
		.formBloc p.signUp a,
		.formBloc p.signUp a:hover { color: #fff; }
		*/
	/****************************************/
	
	
	
	/* AFFICHAGE des lments de porte NOIR */			/* A Masquer/Demasquer */
	/****************************************/
		/*
		h1 {
			background-image: url(../images/door_logo-black.png) !important;
			background-image: none;
			_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod='scale', src='../_web/site/theme/_common/images/door_logo-black.png');
		}
		p.international,
		.formBloc fieldset label, 
		.formBloc p.signUp,
		.formBloc p.signUp a,
		.formBloc p.signUp a:hover { color: #000; }
		*/
	/****************************************/
	
	
	
	/* AFFICHAGE THEME VISUEL FR			 */			/* A Demasquer */
	/*****************************************/
		/*
		body { background-image: url(../images/door_bg.jpg); }*/
		.doorBloc { background-image: url(door_visual.jpg); }
		/*.formBloc input.logIn { background-image: url(../images/door_submit.jpg); }*/
		
	/*****************************************/
