/* Global styles.*/

* {
	margin:0;
	padding:0;
}

html, body, form, fieldset, table, textarea {
	font: 100% 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a img {
	border:none;
}

/* HTML5 elements. Silly IE! */
main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display:block;
}

body {
	width:100%;
	margin:0 auto;
	background:#fafafa url(/media/template/mainbg.png) repeat-y center;
	color:#333;
}

/* Template styles */

#skiptocontent a {
	padding:6px;
	position: absolute;
	top:-40px;
	left:0px;
	color:white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:#BF1722;
	-webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100;
}

#skiptocontent a:focus {
	position:absolute;
	left:0px;
	top:0px;
	outline-color:transparent;	
	-webkit-transition: top .1s ease-in;
    transition: top .1s ease-in;
}

@media (prefers-reduced-motion: reduce) {
	#skiptocontent a {
		transition-duration: 0.001ms !important;
	}
}

#headcontainer {
	background-repeat:no-repeat;
	background-position: 50% 100px;
	margin-bottom:30px;
	height:333px;
	position:relative;
}

header h2 {
	background: url(/media/template/bg_logo.png) top left no-repeat;
	background : none\9; /* IE8 and below. Silly things. */
	background-size:302px 80px;
	width:300px;
	display:inline;
	float: left;
	position: absolute;
	top:0px;
	margin: 10px 10px;
}

header h2 a img {
	transition: opacity .3s linear;
}

header h2 a:hover img, header h2 a:focus img {
	opacity:0;
}

@media (prefers-reduced-motion: reduce) {
	header h2 a img {
		transition-duration: 0.001ms !important;
	}
}

header, main, #footerresources {
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
}

header nav {
	width:auto;
	display:inline;
	float: right;
	position: relative;
	top:40px;
	margin-left: 10px;
	margin-right: 10px;
}

header nav ul {
	float: right;
	margin:0px;
}

header nav ul li {
	float: left;
	list-style: none;
}

header nav ul li a {
	text-decoration: none;
	font-weight: bold;
	color: #363636; 
	font: normal 120% 'Roboto', Helvetica, Arial, sans-serif;
	display: block;
	padding: 1px 13px 4px 13px;
	text-transform: lowercase;
}

header nav ul li.current a {
	background-color: #F0F0F0;
	border-radius: 12px;
}

header nav ul li a:hover, header nav ul li a:focus {
	color: #BF1722;
	-webkit-transition:color 0.2s ease-in, text-shadow 0.2s ease-in;
	transition:color 0.2s ease-in, text-shadow 0.2s ease-in;
	text-shadow: #bbb 1px 1px 1px;
}

#search {
	width:369px;
	height: 165px;
	display:inline;
	float: left;
	position: absolute;
	bottom:23px;
	padding:20px 10px 0 50px;
	margin: 0 0 0 -40px;
	border-radius: 30px;
	border-top-left-radius: 30px;
	background-color: rgba(247,247,247,.7);
}

#search p.search {
	padding:5px 0 10px 40px;
	background: url(/media/template/bg_search.svg) no-repeat;
}
#search p.search span {
	background-color: #f1f5f7;
	border:1px solid #00AFD8;
	border-radius: 5px;
	padding:4px;
}

#search input[type=text] {
	color:#333;
	padding-left:5px;
	margin-top:-3px;
    border-left: 1px solid #777;
    border-right: none;
    border-top: 1px solid #777;
	border-bottom: 1px solid #777;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	height:23px;
	width:57%;
	font-size:100%;
}

#search input[type=text]:focus {
	
}

#search input[type=image] {
	width: 16px;
	height: 16px;
	padding:3px 5px 4px 5px;
	margin-top:-3px;
	background-color: #fff;
	border-left: none;
	border-right: 1px solid #777;
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
	text-indent: -999em;
	overflow: hidden;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	cursor: pointer;
}

#search p.intro {
	margin-top:17px;
	padding:10px 0 10px 40px;
	background: url(/media/template/bg_intro.svg) no-repeat;
}

#search p.training {
	margin-top:20px;
	padding:10px 0 10px 40px;
	background: url(/media/template/bg_training.svg) no-repeat;
}




#search p a {
	background-color: #f1f5f7;
	color:#333;
	border:1px solid #00AFD8;
	text-decoration: none;
	padding:3px;
	border-radius: 5px;
	-webkit-transition:all 0.15s ease-in-out;
	transition:all 0.15s ease-in-out;
}

#search p a:hover, #search p a:focus {
	background-color: #f6f6f6;
	text-shadow: #bbb 1px 1px 1px;
	-webkit-transition:all 0.15s ease-in-out;
	transition:all 0.15s ease-in-out;
}

main {
	background-color: #fff;
}

article {
	width:700px;
	display:inline;
	float: left;
	position: relative;
	font-size:1.125em;
	outline:0;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

aside {
	width:220px;
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

#updated, #translations, #related, .sidebox {
	border:1px solid #ccc;
	border-radius: 6px;
	background-color: #FAFAFA;
	color:#333;
	padding:5px 10px 5px 10px;
	font-size: 95%;
	margin-bottom:10px;
}

#updated, .sidebox {
	font-family: 'Kameron',Georgia,Times,serif;
	text-align: center;
}

#translations h2, #related h2, .sidebox h2 {
	padding:5px 0 10px 40px;
	margin-bottom: 10px;
	border-bottom: none;
	font-size:1.125em;
	font-family: 'Kameron',Georgia,Times,serif;
	font-weight: normal;
}

#translations ul {
	list-style: none;
}

#translations ul li {
	margin-left:-15px;
}

.sidebox{
	text-align: left;
}

.sidebox h2 {
	padding-left:0;
}

#translations h2 {
	background:#FAFAFA url(/media/template/bg_translations.svg) no-repeat;
}

#related h2 {
	background:#FAFAFA url(/media/template/bg_related.svg) no-repeat;
}

#translations ul, #related ul, .sidebox ul {
	margin-left:10px;
}

#translations li, #related li, .sidebox li {
	line-height: 1.25em;
	margin-bottom:4px;
}

#translations img {
	padding-right:5px;
}

span[lang] {
	font-style: italic;
}

audio {
	width: 100%;
}

footer {
	background:url(/media/template/bg_footer.png) 50% top repeat-y;
	color:#333;
	margin:auto;
	padding:15px 0;
	font-size: 90%;
}

#footerresources {
	background-color: #E5E6EB;
}

.footerblock {
	width:310px;
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 0px;
}

.copyrightblock {
	width:240px;
}

footer h2, footer #copyright {
	font-family: 'Roboto',Helvetica, Arial, sans-serif;
	padding:6px 0 10px 40px;
	font-weight: normal;
}

footer #copyright {
	font-size:200%;
}

footer p#copyright {
	background: url(/media/template/bg_copyright.svg) 0px 6px no-repeat;
	padding-top: 7px;
}

footer h2#blog {
	background: url(/media/template/bg_blog.svg) no-repeat;
}

footer h2#popular {
	background: url(/media/template/bg_popular.svg) no-repeat;
}

footer #contact .phone {
	background:url(/media/template/bg_phone.svg) 0px 2px no-repeat;
	padding-left:20px;
	color:#333;
	text-decoration: none;
}

footer a:link, footer a:visited {
	color: #20399D;
}

footer a:hover,
footer a:active,
footer a:focus {
	color:#0850F7;
}

#footerresources ul {
	margin-left:14px;
}

.footerblock ul li {
	line-height: 1.75em;
}

#checkpage h2 {
	background: url(/media/template/bg_wave.svg) no-repeat;
	margin-top: 30px;
}

#checkpage input[type=url] {
	color:#333;
	padding-left:5px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ddd;
	border-radius: 5px;
	height:23px;
	width:200px;
	font-size:90%;
}

#checkpage input[type=submit] {
	color:#666;
	padding:0 4px;
	background-color: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ddd;
	border-radius: 5px;
	height:25px;
	cursor: pointer;
}

#checkpage input[type=submit]:hover, #checkpage input[type=submit]:focus {
	color:#333;
	background-color: #ddd;
	border: 1px solid #999;
}

#footerlinks {
	width:620px;
	padding-top: 55px;
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

#footerlinks ul {
	margin-left:0;
}

#footerlinks ul li {
	display:inline;
	list-style-type:none;
	padding:0px 7px;
}

#footerlinks ul li:not(:first-child) {
	
}

#footerlinks ul li a {
	padding:0 0 2px 22px;
}

#footerlinks #footercontact {
	background: url("/media/template/bg_contact.svg") no-repeat;
}

#footerlinks #footerabout {
	background: url("/media/template/bg_about.svg") no-repeat;
}

#footerlinks #footerrss {
	background: url("/media/template/bg_rss.svg") no-repeat;
}

#footerlinks #footertwit {
	background: url("/media/template/bg_twitter.svg") no-repeat;
}

#footerlinks #footercopyright {
	background: url("/media/template/bg_terms.svg") no-repeat;}

/* Responsive responsiveness is responsive */
@media all and (max-width: 61em) {
	header, main, #footerresources {
		margin-left: auto;
		margin-right: auto;
		width:auto;
	}
	
	article {
		width:auto;
		display: block;
		float: none;
		padding:0 4px;
	}

	aside {
		width:auto;
		display:block;
		float: none;
		clear:both;
		margin-left: 10%;
		margin-right: 10%;
	}
	#footerlinks {
		width:auto
	}
}

@media all and (max-width: 46em) {
	header nav {
		top:0px;
		right:32px;
		padding:0 20px;
		margin:5px 0;
		background-color: #eee;
		border-radius: 5px;
	}
	
	header nav {
		padding:0px;
	}
	
	header nav ul li {
		float:none;
	}
	
	header nav ul li a {
		padding:2px 0px;
		margin:0px;
		text-align: center;
	}
	#footerlinks ul li {
		display:block;
	}
}

@media all and (max-width: 30em) {
	header nav {
		position:absolute;
		top:95px;
		left:10px;
		right:auto;
		float:none;
		padding:0 20px;
		margin:5px 0;
		border-radius: 5px;
	}
	
	header nav {
		padding:0px;
	}
	
	header nav ul li {
		float:left;
		padding-right: 10px;
	}
	
	header nav ul li a {
		padding:2px 0px;
		margin:0px;
		text-align: center;
		font-size:100%;
	}
	
	#search {
		border-radius: 0px;
		width:auto;
	}
}

/* Various element styles */

.hidden {
	position:absolute; 
	left:0;
	top:-500px;
	width:1px;
	height:1px;
	overflow:hidden;
}

abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

input, select {
	vertical-align:middle;
}

/* LINKS */
main a:link, main a:visited, aside a:link, aside a:visited {
	color: #20399D;
	-webkit-transition:background-color .25s linear;
    transition:background-color .25s linear;
}

main a:active, main a:focus, main a:hover, aside a:active, aside a:focus, aside a:hover {
	background-color:#ffffcc !important;
	color: #BF1722;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	border-radius: 4px;
}

/* Clearfix
http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix::after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix::after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
*/
.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* Flying focus */
#flying-focus {
	position: absolute;
	margin: 0;
	background: transparent;
	-webkit-transition-property: left, top, width, height, opacity;
	transition-property: left, top, width, height, opacity;
	-webkit-transition-timing-function: cubic-bezier(0, 0.2, 0, 1);
	transition-timing-function: cubic-bezier(0, 0.2, 0, 1);
	visibility: hidden;
	pointer-events: none;
	box-shadow: 0 0 2px 3px #78aeda, 0 0 2px #78aeda inset; border-radius: 2px;
}
#flying-focus.flying-focus_visible {
	visibility: visible;
	z-index: 9999;
}
.flying-focus_target {
	outline: none !important; /* Doesn't work in Firefox :( */
}
/* http://stackoverflow.com/questions/71074/how-to-remove-firefoxs-dotted-outline-on-buttons-as-well-as-links/199319 */
.flying-focus_target::-moz-focus-inner {
	border: 0 !important;
}
/* Replace it with @supports rule when browsers catch up */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	#flying-focus {
		box-shadow: none;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -3px;
	}
}

@media (prefers-reduced-motion: reduce) {
	#flying-focus {
		transition-duration: 0.001ms !important;
	}
}