/***** infos globales ****/
body {
	margin:0pt;
	padding:0pt;
	background:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#fff;
	text-align:center;
}


a { text-decoration:none; color:#FFFFFF; }
h1, h2, h3, h4, h5, h6 { font-family:"Trebuchet MS","Lucida Grande", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif; }

.hide { display:none; }

/***** conteneur ****/
#main {
	width:990px;
	height:auto;
	background:#2b282b url(load.gif) no-repeat 50% 50%;
	border: 1px solid #999999;
	margin: 2px auto;
}

#letexte {
 display:block;
	width:950px;
	height:100px;
	color:#636364;
	text-align:justify;
	font-size:15px;
	padding:10px 20px;
}

#letexte a {
 font-size:15px; color:#636364;
}

#entree {
text-align:right;
padding-right:20px;
margin-bottom:5px;
}

#entree a {
margin:5px;
}

a:hover, #letexte a:hover {
color:#EE7C00;
}

h1 {
 text-align:right;
	color:#ee7f01;
	letter-spacing:3px;
	font-size:44px;
	margin:-10px 25px 20px 0px;
	_margin-top:-13px;
	padding:0;
}


/***** centre ****/
#centre {
	text-align:left;
	background: #323033;
	width:739px;
	float:left;
	padding:8px;
}

#signature {
	width:990px;
	text-align:right;
	margin: 0px auto;
}
