/* STYLES GENERAUX */

div.accueil_contenu
{
	/*background-image:url(/img/fondSiteContenu.gif);
	background-repeat:repeat-y;
	background-position:top left;*/
	width:990px;
	/*border:1px solid red;*/
}

div.accueil_colonneGauche{
	float:left;
	width:485px;
}

div.accueil_colonneEspacement{
	float:left;
	width:auto;
}

div.accueil_colonneDroite{
	float:left;
	width:485px;
	/*margin-left:20px;*/
}

div.zoneFlash{
	width:990px;
	height:189px;
	clear:both;
}

div.lien_zoneFlash{
	z-index:2;
	position:absolute;
	width:990px;
	height:189px;
	left:0px;
	top:0px;
}

div.zoneRecherche{
	z-index:3;
	position:absolute;
	width:350px;
	height:22px;
	left:640px;
	top:5px;
}

div.zoneRecherche_recherche{
	float:left;
}

div.zoneRecherche_recherche label{
	float:left;
	width:65px;
	text-align:right;
	padding-right:3px;
	line-height:15px;
	font-family:arial;
	font-weight:normal;
	font-size:12px;
	color:#0670AD;
	text-decoration:none;
}

div.zoneRecherche_recherche input{
	float:left;
	width:85px;
	border:1px solid #8E9FA8;
}

div.zoneRecherche_boutonOK{
	float:left;
	width:18px;
	margin-left:3px;
}

a.zoneRecherche_lien{
	font-family:arial;
	font-weight:normal;
	font-size:12px;
	color:#0670AD;
	text-decoration:none;
}

a.zoneRecherche_lien:hover{
	font-family:arial;
	font-weight:normal;
	font-size:12px;
	color:#FF7100;
	text-decoration:underline;
}


/* DIFFERENTS BLOCS */


/*ACTUALITE*/

div.accueil_BlocActu{
	width:471px;
	float:left;
	padding:0px 7px 7px 0px; /*7px*/
	margin-top:0px;
}

div.accueil_BlocActu_itemEnAvant{
	float:left;
	width:471px;
}

div.accueil_BlocActu_itemEnAvant_vignette{
	float:left;
	width:160px;
	text-align:center;
	/*border:2px solid white;*/
}

a.accueil_BlocActu_itemEnAvant_vignette_lien{
	/*border:2px solid white;*/
	
}
a.accueil_BlocActu_itemEnAvant_vignette_lien:hover{
	/*border:2px solid white;*/
}

a.accueil_BlocActu_itemEnAvant_bandeau_lien{
	border:0px;
}

a.accueil_BlocActu_itemEnAvant_bandeau_lien:hover{
	border:0px;
}

div.accueil_BlocActu_itemEnAvant_contenu{
	float:left;
}

div.accueil_BlocActu_itemEnAvant_titre{
	float:left;
	/*background-image:url(/design/accueil/paveActu_flecheTitre.gif);
	background-repeat:no-repeat;
	background-position:left 4px;*/
	line-height:19px;
}

span.accueil_BlocActu_itemEnAvant_titre{
	font-family:arial;
	font-weight:bold;
	font-size:18px;
	color:#505A5F;
	/*padding-left:13px;*/
}

a.accueil_BlocActu_itemEnAvant_titre{
	font-family:arial;
	font-weight:bold;
	font-size:18px;
	color:#505A5F;
	/*padding-left:13px;*/
	text-decoration:none;
}

a.accueil_BlocActu_itemEnAvant_titre:hover{
	font-family:arial;
	font-weight:bold;
	font-size:19px;
	color:#b4b4b4;
	/*padding-left:13px;*/
	text-decoration:none;
}

/* DATE de publication ACTU */
span.accueil_BlocActu_itemEnAvant_date{
	font-family:arial;
	font-weight:normal;
	font-size:11px;
	color:#b4b4b4;
}

span.accueil_BlocActu_itemEnAvant_resume{
	font-family:arial;
	font-weight:normal;
	font-size:13px;
	color:black;
}

a.accueil_BlocActu_itemEnAvant_lien{
	font-family:arial;
	font-weight:bold;
	font-size:13px;
	color:#0670AD;
	text-decoration:none;
}

a.accueil_BlocActu_itemEnAvant_lien:hover{
	font-family:arial;
	font-weight:bold;
	font-size:14px;
	color:#FF7100;
	text-decoration:none;
}

div.accueil_BlocActu_pictoPoints{
	float:left;
	background-image:url(pictoPoints.gif);
	background-repeat:repeat-x;
	background-position:top left;
	width:471px;
	height:1px;
}

div.accueil_BlocActu_item{
	float:left;
	width:471px;
}

div.accueil_BlocActu_item h3 {
	margin:0 0 15px 0;
}

a.accueil_BlocActu_item_categorie{
	font-family:arial;
	font-weight:normal;
	font-size:11px;
	color:#8E9FA8;
	text-decoration:none;
}

a.accueil_BlocActu_item_categorie:hover{
	color:#FF7100;
}

a.accueil_BlocActu_item_titre{
	font-family:arial;
	font-weight:bold;
	font-size:12px;
	color:#505A5F;
	text-decoration:none;
}

a.accueil_BlocActu_item_titre:hover{
	color:#FF7100;
}
span.accueil_BlocActu_item_date{
	font-family:arial;
	font-weight:bold;
	font-size:11px;
	color:#0670AD;
}

a.accueil_BlocActu_item_lien{
	font-family:arial;
	font-weight:bold;
	font-size:11px;
	color:#0670AD;
	text-decoration:none;
}

a.accueil_BlocActu_item_lien:hover{
	color:#FF7100;
}


/* MAGASINE et AFFICHE */

div.accueil_BlocMagAffiche{
	clear:both;
	float:left;
	width:485px;
	background-color:#F3F5F6;
	padding-bottom:3px;
}

div.accueil_BlocMagasine{
	float:left;
	width:225px;
	padding-left:10px;
	padding-top:5px;
}

div.accueil_BlocMagasine_lien{
	float:left;
	background-image:url(mag_fleche.gif);
	background-repeat:no-repeat;
	background-position:top left;
	height:64px;
	padding-top:17px;
	/*Decouvrez notre magazine*/
	text-align:left;
}

a.accueil_BlocMagasine_lien{
	font-family:arial;
	font-weight:normal;
	font-size:10px;
	color:#0670AD;
	text-decoration:none;
}

a.accueil_BlocMagasine_lien:hover{
	font-family:arial;
	font-weight:normal;
	font-size:11px;
	color:#646464;
	text-decoration:none;
}

div.accueil_BlocAffiche{
	float:left;
	width:235px;
	padding-left:15px;
	padding-top:5px;
}
div.accueil_BlocMagasine_lienTous{
	float:left;
	background-image:url(picto_oeil.gif);
	background-repeat:no-repeat;
	background-position:left 1px;
	text-align:left;
	padding-left:19px;
	margin-left:85px;
}

a.accueil_BlocMagasine_lienTous{
	font-family:arial;
	font-weight:normal;
	font-size:10px;
	color:#0670AD;
	text-decoration:none;
}

a.accueil_BlocMagasine_lienTous:hover{
	font-family:arial;
	font-weight:normal;
	font-size:11px;
	color:#646464;
	text-decoration:none;
}
a.accueil_BlocMagasine_lienTous2
{
	font-family:arial;
	font-weight:normal;
	font-size:11px;
	color:#0670AD;
	text-decoration:none;
}
a.accueil_BlocMagasine_lienTous2:hover{
	font-family:arial;
	font-weight:normal;
	font-size:12px;
	color:#646464;
	text-decoration:none;
}

/* BLOC a l'affiche */

div.accueil_BlocAffiche{
	float:left;
	width:225px;
	padding-left:10px;
	padding-top:5px;
}

div.accueil_BlocAffiche_lien{
	float:left;
	background-image:url(mag_fleche.gif);
	background-repeat:no-repeat;
	background-position:top left;
	height:64px;
	padding-top:23px;
	text-align:right;
}

a.accueil_BlocAffiche_lien{
	font-family:arial;
	font-weight:normal;
	font-size:10px;
	color:#0670AD;
	text-decoration:none;
}

a.accueil_BlocAffiche_lien:hover{
	font-family:arial;
	font-weight:normal;
	font-size:11px;
	color:#646464;
	text-decoration:none;
}

div.accueil_BlocAffiche{
	float:left;
	width:235px;
	padding-left:15px;
	padding-top:5px;
}
div.accueil_BlocAffiche_lienTous{
	float:left;
	background-image:url(picto_oeil.gif);
	background-repeat:no-repeat;
	background-position:left 1px;
	text-align:right;
	padding-left:19px;
	margin-left:95px;
}
/*lien 'toutes les affiches*/
a.accueil_BlocAffiche_lienTous{
	font-family:arial;
	font-weight:normal;
	font-size:10px;
	color:#0670AD;
	text-decoration:none;
}
/*rollover sur le lien 'toutes les affiches*/
a.accueil_BlocAffiche_lienTous:hover{
	font-family:arial;
	font-weight:normal;
	font-size:11px;
	color:#646464;
	text-decoration:none;
}


/* SERVICES EN LIGNE */
div.accueil_BlocServices{
	clear:both;
	float:left;
	width:485px;
	text-align:left;
	background-image:url(fond_services.gif);
	background-repeat:no-repeat;
	background-position:left 35px;	
}

div.accueil_BlocServices_items{
	float:left;
	width:475px;
	margin-left:10px;
	margin-top:5px;
}

div.accueil_BlocServices_items_bloc{
	width:auto;
	background-image:url(service_fleche.gif);
	background-repeat:no-repeat;
	background-position:4px top;
	text-align:left;
	background-color:#E3EEF3;
	line-height:25px;
	padding-left:20px;
	clear:both;
}

div.accueil_BlocServices_items_bloc_2{
	width:207px;
	background-image:url(service_fleche.gif);
	background-repeat:no-repeat;
	background-position:4px top;
	text-align:left;
	background-color:#E3EEF3;
	line-height:25px;
	padding-left:20px;
	clear:both;
}

a.accueil_BlocServices_items_bloc{
	font-family:arial;
	font-weight:bold;
	font-size:13px;
	color:#375a71; /*0670AD*/
	text-decoration:none;
}

a.accueil_BlocServices_items_bloc:hover{
	font-family:arial;
	font-weight:bold;
	font-size:13px;
	color:#FF7100;
	text-decoration:underline;
}

div.accueil_BlocServices_items_gauche{
	float:left;
	width:230px;
}

div.accueil_BlocServices_items_espacement{
	float:left;
	width:15px;
}

div.accueil_BlocServices_items_droite{
	float:left;
	width:230px;
}
div.accueil_BlocServices_items_recherche{
	float:left;
	padding-left:10px;
}
/**********************/
/* auto complétion du champs recherche des communes */
      div.auto_complete {
	  		position:absolute;			
            width: 348px;
			padding:0px;
			margin:0px;
			margin-top:0px;
            background: #fff;

          }
          div.auto_complete ul {
            border:1px solid #888;
            margin:0;
            padding:0;
            width:100%;
            list-style-type:none;
          }
          div.auto_complete ul li {
            margin:0;
            padding:3px;
          }
          div.auto_complete ul li.selected { 
            background-color: #ffb; 
			cursor:pointer;
          }
          div.auto_complete ul strong.highlight { 
            color: #800; 
            margin:0;
            padding:0;
		
          }
/*******************************/
div.accueil_BlocServices_items_recherche label{
	float:left;
	width:75px;
	text-align:right;
	padding-right:3px;
	line-height:14px;
	font-family:arial;
	font-weight:normal;
	font-size:14px;
	color:#375a71 /*0670AD*/;
	text-decoration:none;
}
div.accueil_BlocServices_items_recherche input{
	float:left;
	width:85px;
	border:1px solid #8E9FA8;
}
div.accueil_BlocServices_items_boutonOK{
	float:left;
	width:18px;
	margin-left:3px;
}

div.accueil_BlocServices_items_rechercheCarte{
	background-image:url(carte_region.gif);
	background-repeat:no-repeat;
	background-position:top right;
	height:85px;
	padding-left:9px;
}

span.accueil_BlocServices_items_rechercheCarte{
	font-family:arial;
	font-weight:normal;
	font-size:14px;
	color:#375a71 /*0670AD*/;
	text-decoration:none;
}

div.accueil_BlocServices_items_rechercheCarte_btn{
	text-align:right;
	width:140px;
	padding-top:5px;
	float:left;
}


/* BLOC VIDEO */
div.accueil_BlocVideo{
	float:left;
	width:485px;
	text-align:center;
	background-color:#e7e7e7;
	padding-top:5px;
	padding-bottom:5px;
}

a.accueil_BlocVideo_lienTous{
	font-family:arial;
	font-weight:normal;
	font-size:10px;
	color:black;
	text-decoration:none;
}

a.accueil_BlocVideo_lienTous:hover{
	font-family:arial;
	font-weight:normal;
	font-size:10px;
	color:#FF7100;
	text-decoration:underline;
}


div.video_conteneur{
	clear:both;
	float:left;

}
div.video_player{
	float:left;
	background-image:url(http://www.haute-garonne.fr/design/video_lecteur_fond.jpg);
	background-position:top left;
	background-repeat:no-repeat;
	width:300px;
	height:217px;
}
div.video_espace{
	float:left;
}
div.video_liste{
	float:left;
	width:180px;
	height:216px;
}

div.video_liste2{
	/* scrollbar-face-color: #505a5f;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #505a5f;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-darkshadow-color: #505a5f;
	scrollbar-arrow-color: white;
	scrollbar-track-color: white; */
	overflow:scroll;
	overflow-x:hidden ;
	width:180px;
	height:216px;
}

div.video_liste2_item{
	clear:both;
	float:left;
	padding-top:4px;
	padding-bottom:4px;
	margin-left:2px;
	width:180px;
}
div.video_liste2_image{
	float:left;
	width:70px;
}
div.video_liste2_itemContent{
	float:left;
	text-align:left;
}


a.video_liste2_itemContent_lien_over, a.video_liste2_itemContent_lien_over:link, a.video_liste2_itemContent_lien_over:visited{
	color:#505a5f;
	font-size:12px;
	font-weight:normal;
	font-family:Arial;
	text-decoration:none;outline: none;
}

a.video_liste2_itemContent_lien{
	color:#989fa3;
	font-size:12px;
	font-weight:normal;
	font-family:arial;
	text-decoration:none;outline: none;
}

a.video_liste2_itemContent_lien:hover{
	color:#505a5f;
	font-size:12px;
	font-weight:normal;
	font-family:Arial;
	text-decoration:none;outline: none;
}

a.lienTouteVideo, a.lienTouteVideo:link, a.lienTouteVideo:visited{
	background-image:url(flecheVideo.gif);
	background-repeat:no-repeat;
	background-position:top left;
	font-size:20px;outline: none;
}

a.lienTouteVideo:hover{
	background-image:url(flecheVideo_over.gif);
	background-repeat:no-repeat;
	background-position:top left;
	font-size:20px;outline: none;
}

/* BLOC DOSSIERS */
div.accueil_BlocDossier{
	clear:both;
	float:left;
	width:485px;
	/*background-image:url(/design/accueil/dossiers_titre.jpg);
	background-repeat:no-repeat;
	background-position:top left;*/
	background-color:#F3F5F6;
}
div.accueil_BlocDossier_image{
	float:left;
	text-align:left;
	width:58px;
	background-color:#F3F5F6;
}
div.accueil_BlocDossier_bloc{
	float:left;
	width:427px;
	/*padding-left:60px;*/
	padding-top:18px;
	
}

a.accueil_BlocDossier_bloc_titre{
	font-family:arial;
	font-weight:bold;
	font-size:11px;
	color:#0670AD;
	text-decoration:none;
}

a.accueil_BlocDossier_bloc_titre:hover{
	font-family:arial;
	font-weight:bold;
	font-size:11px;
	color:#FF7100;
	text-decoration:underline;
}

span.accueil_BlocDossier_bloc_texte{
	font-family:arial;
	font-weight:normal;
	font-size:11px;
	color:black;
	text-decoration:none;	
}
div.accueil_BlocDossier_lienTous{
	clear:both;
	float:left;
	background-image:url(picto_oeil.gif);
	background-repeat:no-repeat;
	background-position:left 1px;
	text-align:left;;
	padding-left:19px;
	margin-top:5px;
	height:11px;
}
a.accueil_BlocDossier_lienTous{
	font-family:arial;
	font-weight:normal;
	font-size:10px;
	color:#0670AD;
	text-decoration:none;
}

a.accueil_BlocDossier_lienTous:hover{
	font-family:arial;
	font-weight:normal;
	font-size:10px;
	color:#FF7100;
	text-decoration:underline;
}

/* BLOC PROCHE de VOUS - INFOS PRATIQUES */
.accueil_BlocProche{
	clear:both;
	float:left;
	width:485px;
	text-align:left;
}

div.accueil_BlocProche_long{
	width:485px;
}

div.accueil_BlocProche_court1{
	float:left;
	width:240px;
}
div.accueil_BlocProche_court2{
	float:left;
	width:240px;
	
}



