/********************************************************/
/* **  FAQ             Mode liste - Page FAQ		 ** */
/********************************************************/
div.QuestionsReponses
{
	
	
	color: #0670AD;
}
div.ContenuQuestionsReponses
{
	margin-right:8px;
	margin-left:8px;
	padding-bottom:2px;
	margin-top:10px;
	margin-bottom:10px;
}
div.FaqQuestion
{
	display:block;
}
a.afficher
{
	text-decoration:none;
	color:#0670AD;
	font-weight:bold;
	font-family:arial;
	font-size:13px;
}
a.afficher:hover
{
	text-decoration:none;
	color: #FF7100;
	font-weight:bold;
	font-family:arial;
	font-size:13px;
}

td.afficher
{
	padding-top:10px;
	padding-bottom:15px;
	padding-left:10px;	
}

a.Question_open
{
	text-decoration:none;
	color:#FF7100;
	font-weight:normal;
	font-family:arial;
	font-size:13px;
	text-align:left;
	display: list-item;
	list-style:square;
	list-style-position:inside;
}
a.Question_close
{
	text-decoration:none;
	color: #0670AD;
	font-weight:normal;
	font-family:arial;
	font-size:13px;
	text-align:left;
	display: list-item;
	list-style:square;
	list-style-position:inside;
}
a.Question_open:hover,a.Question_close:hover
{
	text-decoration:none;
	color:#FF7100;
	font-weight:normal;
	font-family:arial;
	font-size:13px;
	text-align:left;
	display:list-item;
	list-style:square;
	list-style-position:inside;
}


div.FaqReponse
{
	/*margin-top:5px;
	margin-right:5px;
	margin-bottom:5px;*/
	display:none;
}

span.Reponse
{
	/*margin-top:5px;
	margin-bottom:10px;*/
	font-family:arial;
	font-size:13px;
	color:#505A5F;
	text-decoration:none;
	
}

/********************************************************/
/* **  FAQ      Mode remonte - Pages Editos		     ** */
/********************************************************/

a.TitreQuestionRemonte
{
	color:#0670AD;
	font-family:arial;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	
}
a.TitreQuestionRemonte:hover
{
	color:#FF7100;
	font-family:arial;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
}

div.ReponseRemonte
{
	margin-top:3px;
	margin-right:12px;
	margin-bottom:10px;
	margin-left:16px;
	font-family:arial;
	font-size:11px;
	color:#0A222F;
	text-decoration:none;
}