DIV.content_mBusArcEnCiel_n0 {
	text-align: left;
	float:left;
	width:898px;
	
	/*
	border-top:1px solid white;
	background-color:#0670AD;
	padding-top:5px;
	padding-bottom:5px;
	width:898px;
	height:15px;
	z-index: 99;
	padding-left:92px;*/
}


		DIV.item_mBusArcEnCiel_n1,DIV.item_mBusArcEnCiel_n1_open,DIV.item_mBusArcEnCiel_n1_over,DIV.item_mBusArcEnCiel_n1_open_over{
			float:left;
			cursor:pointer;
			border-left:1px solid #508AB7;
		}

		DIV.menu_mBusArcEnCiel_n1 {
			float:left;
			padding-left:10px;
			padding-right:10px;
			color: white;
			padding-top:3px;
			padding-bottom:3px;
			
		}
		
		SPAN.link_mBusArcEnCiel_n1 {
			font-family: Verdana;
			font-weight: normal;
			font-size: 12px;
			white-space: nowrap;
		}
		
		DIV.item_mBusArcEnCiel_n1_over SPAN.link_mBusArcEnCiel_n1, DIV.item_mBusArcEnCiel_n1_open SPAN.link_mBusArcEnCiel_n1, DIV.item_mBusArcEnCiel_n1_open_over SPAN.link_mBusArcEnCiel_n1 {
			color: #F6AF77;
		}