/* classe CONTENT pour le menu m1Reste2 de niveau N0 */

		DIV.content_m1Reste2_n0 {
			font-family: Verdana;
			font-size: 13px;
			font-weight: bold;
			height: 30px;
			float:left;
			cursor: pointer;
		}


/* classe ITEM pour le menu m1Reste2 de niveau N1 */
		DIV.item_m1Reste2_n1 {
			float:left;
			cursor: pointer;
		}
		
		DIV.item_m1Reste2_n1_over, DIV.item_m1Reste2_n1_open, DIV.item_m1Reste2_n1_open_over {
			float:left;
			cursor: pointer;
		}
		
		DIV.item_m1Reste2_n1_over, DIV.item_m1Reste2_n1_open_over {
			cursor: pointer;
		}

/* classe MENU pour le menu m1Reste2 de niveau N1 */
		DIV.menu_m1Reste2_n1 {
			text-align: center;
			margin-left:8px;
			margin-right:8px;
			cursor: pointer;
		}
		
		DIV.item_m1Reste2_n1_over DIV.menu_m1Reste2_n1, DIV.item_m1Reste2_n1_open DIV.menu_m1Reste2_n1, DIV.item_m1Reste2_n1_open_over DIV.menu_m1Reste2_n1 {
			
		}

/* classe LINK pour le menu m1Reste2 de niveau N1 */
		SPAN.link_m1Reste2_n1 {
			color:white;
			overflow: hidden;
		}
		
		DIV.item_m1Reste2_n1_over SPAN.link_m1Reste2_n1, DIV.item_m1Reste2_n1_open SPAN.link_m1Reste2_n1, DIV.item_m1Reste2_n1_open_over SPAN.link_m1Reste2_n1 {
			color: #FF7100;
		}
		
/* classe CONTENT pour le menu m1Reste2 de niveau N1 */
		DIV.content_m1Reste2_n1 {
			display: none;
		}
