/* classe CONTENT pour le menu m3 de niveau N0 */
		DIV.content_m3_n0 {
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	/*border:1px solid red;*/
	float:left;
}


/* classe ITEM pour le menu m3 de niveau N1 */
		DIV.item_m3_n1 {
			
			float:left;
		}
		DIV.item_m3_n1_over, DIV.item_m3_n1_open, DIV.item_m3_n1_open_over {
			float:left;
		}
		DIV.item_m3_n1_over, DIV.item_m3_n1_open_over {
			cursor: pointer;
		}

/* classe MENU pour le menu m3 de niveau N1 */
		DIV.menu_m3_n1 {
			border-right:1px solid #D1D1D1;			
			text-align: center;
			
			
		}
		DIV.item_m3_n1_over DIV.menu_m3_n1, DIV.item_m3_n1_open DIV.menu_m3_n1, DIV.item_m3_n1_open_over DIV.menu_m3_n1 {
			
		}

/* classe LINK pour le menu m3 de niveau N1 */
		SPAN.link_m3_n1 {
			color:#505a5f;
			overflow: hidden;
			height: 19px;
			padding-left:10px;
			padding-right:10px;
			padding-top:2px;
		}
		DIV.item_m3_n1_over SPAN.link_m3_n1, DIV.item_m3_n1_open SPAN.link_m3_n1, DIV.item_m3_n1_open_over SPAN.link_m3_n1 {
			color: #FF7100;
		}
		
		#signalerBug a {
			font-family: Verdana;
			font-size: 11px;
			font-weight: bold;
			color:#505a5f;
			height: 19px;
			padding-left:10px;
			padding-right:10px;
			padding-top:2px;
		}
		#signalerBug a:hover {
			color: #FF7100;
		}

/* classe CONTENT pour le menu m3 de niveau N1 */
/*	DIV.content_m3_n1 {
			background-color: #FFFFFF;
			border-top: 1px solid #555555;
			display: none;
			position: absolute;
		}


		DIV.item_m3_n2, DIV.item_m3_n2_over, DIV.item_m3_n2_open, DIV.item_m3_n2_open_over {
			border-left: 1px solid #555555;
			border-right: 1px solid #555555;
			border-bottom: 1px solid #555555;
		}
		DIV.item_m3_n2_over, DIV.item_m3_n2_open_over {
			cursor: pointer;
		}

		DIV.menu_m3_n2 {
			padding: 2px 10px 2px 10px;
		}
		DIV.item_m3_n2_over DIV.menu_m3_n2, DIV.item_m3_n2_open DIV.menu_m3_n2, DIV.item_m3_n2_open_over DIV.menu_m3_n2 {
			background-color: #62738B;
		}

		SPAN.link_m3_n2 {
			color: #000000;
			overflow: hidden;
		}
		DIV.item_m3_n2_over SPAN.link_m3_n2, DIV.item_m3_n2_open SPAN.link_m3_n2, DIV.item_m3_n2_open_over SPAN.link_m3_n2 {
		}
*/