.marge
{
	/*margin-left:8px;
	margin-right:8px;*/
	
}

.titreTransp
{
	font-family:verdana;
	font-size:12px;
	font-weight: bold;
	font-style:normal;
	color:#013E80;
}
.txtTransp
{
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	color:#013E80;
}
.donneesTableau
{
	height:50px;
	background:white;
	padding-top:3px;
	padding-left:4px;
	padding-bottom:3px;
	padding-right:4px;
	vertical-align:top;
}

.LibelleRecherche
{
	font-family:verdana;
	font-weight:bold;
	font-size:12px;
	color:#0670AD;
}
span.BusNote
{
	color: #FF7100;
}