/* default styles for extension "tx_cssstyledcontent" */
	/* Captions */
	DIV.csc-textpic-caption-c .csc-textpic-caption { text-align: center; }
	DIV.csc-textpic-caption-r .csc-textpic-caption { text-align: right; }
	DIV.csc-textpic-caption-l .csc-textpic-caption { text-align: left; }

	/* Needed for noRows setting */
	DIV.csc-textpic DIV.csc-textpic-imagecolumn { float: left; display: inline; }

	/* Border just around the image */
	.article DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG,
	.article-3colonnes  DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG {
		/*border: 2px solid black;
		padding: 0px 0px;*/
		padding-bottom:11px;
		background: transparent url(omb_culture.gif) no-repeat 5% 100%;
	}
	/* declinaisons bordure image basse TEXT & IMAGE */
	.article .rubrique-culture DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG,
	.article-3colonnes .rubrique-culture DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG {background-image:url(omb_culture.gif);}
	
	.article .rubrique-decouverte DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG,
	.article-3colonnes .rubrique-decouverte DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG {background-image:url(omb_decouverte.gif);}
	
	.article .rubrique-detente DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG,
	.article-3colonnes .rubrique-detente DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG {background-image:url(omb_detente.gif);}
	
	.article .rubrique-mairie DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG,
	.article-3colonnes .rubrique-mairie DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG {background-image:url(omb_mairie.gif);}
	
	.article  .rubrique-sport DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG,
	.article-3colonnes .rubrique-sport DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG {background-image:url(omb_sport.gif);}
	
	.article  .rubrique-vie-quotidienne DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG,
	.article-3colonnes .rubrique-vie-quotidienne DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG {background-image:url(omb_viequotidienne.gif);}
	
	.article .rubrique-ville-pratique DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG,
	.article-3colonnes .rubrique-ville-pratique DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG {background-image:url(omb_villepratique.gif);}
	
	.article .rubrique-urbanisme DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG,
	.article-3colonnes .rubrique-urbanisme DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG {background-image:url(omb_urbanisme.gif);}
	
	#nav-4.nav-deroulee .nav-puce-deroulante a,
	#nav-decouverte.nav-deroulee .nav-puce-deroulante a {
	background: url(nav-puce-moins-decouverte.gif) no-repeat 0 0;
	}
	#nav-3.nav-deroulee .nav-puce-deroulante a,
	#nav-detente.nav-deroulee .nav-puce-deroulante a {
	background: url(nav-puce-moins-detente.gif) no-repeat 0 0;
	}
	#nav-2324.nav-deroulee .nav-puce-deroulante a /* SEMBLE INUTILE ,
	#nav-mairie.nav-deroulee .nav-puce-deroulante a */{
	background: url(nav-puce-moins-mairie.gif) no-repeat 0 0;
	} /* MENORET 14/11/08 ci dessus pour ajouter puce moins A devel.durable */
	
	#nav-28.nav-deroulee .nav-puce-deroulante a,
	#nav-mairie.nav-deroulee .nav-puce-deroulante a {
	background: url(nav-puce-moins-mairie.gif) no-repeat 0 0;
	}
	#nav-27.nav-deroulee .nav-puce-deroulante a,
	#nav-sport.nav-deroulee .nav-puce-deroulante a {
	background: url(nav-puce-moins-sport.gif) no-repeat 0 0;
	}

	#nav-5.nav-deroulee .nav-puce-deroulante a,
	#nav-vie-quotidienne.nav-deroulee .nav-puce-deroulante a {
	background: url(nav-puce-moins-vie-quotidienne.gif) no-repeat 0 0;
	}
	#nav-534.nav-deroulee .nav-puce-deroulante a,
	#nav-ville-pratique.nav-deroulee .nav-puce-deroulante a {
	background: url(nav-puce-moins-ville-pratique.gif) no-repeat 0 0;
	}
	#nav-25.nav-deroulee .nav-puce-deroulante a,
	#nav-urbanisme.nav-deroulee .nav-puce-deroulante a {
	background: url(nav-puce-moins-urbanisme.gif) no-repeat 0 0;
	}
	

	DIV.csc-textpic-imagewrap { padding: 0; }

	DIV.csc-textpic IMG { border: none; }

	/* DIV: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DIV.csc-textpic-image { float: left; }

	/* UL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL { list-style: none; margin: 0; padding: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI { float: left; margin: 0; padding: 0; }
	
	/* code Marina : ecart liste 
	DIV.csc-textpic UL{margin-left: 15px;}
	DIV.csc-textpic UL UL{margin-left: 10px;}

	/* DL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image { float: left; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DT { float: left;/* MENO 22nov08 initial en none
	mais provoquait un blanc sous l image sous FF et safari */}
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD IMG { border: none; } /* FE-Editing Icons */
	DL.csc-textpic-image { margin: 0; }
	DL.csc-textpic-image DT { margin: 0; display: inline; }
	DL.csc-textpic-image DD { margin:0pt; /* MENORET ce qui suit 21/11/08 */ background:#dcebf3;
	color:#404040;padding-right: 0.4em /*pas mettre padding complet sinon fond apparait meme sans contenu*/;
	text-align:right;}
	

	/* Clearer */
	DIV.csc-textpic-clear { clear: both; }

	/* Margins around images: */

	/* Pictures on left, add margin on right */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-right: 10px;
	}

	/* Pictures on right, add margin on left */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}

	/* Pictures centered, add margin on left */
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption { margin: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image IMG { margin: 0; }

	/* Space below each image (also in-between rows) */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image { margin-bottom: 5px; }
	DIV.csc-textpic-equalheight DIV.csc-textpic-imagerow { margin-bottom: 5px; display: block; }
	DIV.csc-textpic DIV.csc-textpic-imagerow { clear: both; }

	/* No margins around the whole image-block */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-firstcol { margin-left: 0px !important; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-lastcol { margin-right: 0px !important; }

	/* Add margin from image-block to text (in case of "Text w/ images") */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap {
		margin-right: 10px !important;
	}
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap {
		margin-left: 10px !important;
	}

	/* Positioning of images: */

	/* Above */
	DIV.csc-textpic-above DIV.csc-textpic-text { clear: both; }

	/* Center (above or below) */
	DIV.csc-textpic-center { text-align: center; /* IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap { margin: 0 auto; }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image { text-align: left; /* Remove IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-text { text-align: left; /* Remove IE-hack */ }

	/* Right (above or below) */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap { float: right; }
	DIV.csc-textpic-right DIV.csc-textpic-text { clear: right; }

	/* Left (above or below) */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap { float: left; }
	DIV.csc-textpic-left DIV.csc-textpic-text { clear: left; }

	/* Left (in text) */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap { float: left; }

	/* Right (in text) */
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap { float: right; }

	/* Right (in text, no wrap around) */
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap { float: right; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-right-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */

	/* Left (in text, no wrap around) */
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap { float: left; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-left-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */
	
	/* MENORET 24nov08 pour bloquer text image dans article,
	ne comprend pas pourquoi suis oblige de mettre un background 
	sinon la couleur de fond du H2 se met sous le texte seulement lorsqu il 
	y a un H2 juste apres une image */
	.csc-textpic-intext-right,.csc-textpic-intext-left {display:block;float:left;width:100%;}
	
	p.soustitre{
		font-size: 167%;
	}