#frmRechercherFilms a {
	font-weight: bold;
	text-decoration: none;
}

#frmRechercherFilms a:hover {
	text-decoration: underline;
}

#frmRechercherFilms li {
	background: none;
	margin-bottom: 10px;
	padding-left: 0;
}

.tx-oxcsagenda-pi4 {
	margin-top: 30px;
}

#frmRechercheAgenda div.submit input {
	border: none;
	clear: both;
	color: #000000;
	font-weight: bold;
	margin-left: 90px;
	padding: 3px 4px;
	float: none;
	width: auto;
	font-size: 100%;
}

.rubrique-detente #frmRechercheAgenda div.submit input {
	background: #b5d769;
}

.rubrique-sport #frmRechercheAgenda div.submit input {
	background: #b0ae7d;
}

.rubrique-vie-quotidienne #frmRechercheAgenda div.submit input {
	background: #ffb65d;
}

#frmRechercheAgenda div.checkbox label {
	height: 15px;
	line-height: 15px;
	text-align: left;
	width: 150px;
}

#frmRechercheAgenda div.checkbox input {
	height: 15px;
	margin: 0 0 0 70px;
}

/* Add-on Jahia */
#footer-nav li,.liste-a-point-carre-marron li,.applemenu .contenudutiroir li,.submenu li
	{
	position: relative;
}

.submenu {
	clear: both;
	background-color: #68cae7;
}

.rubrique-culture .submenu {
	background-color: #fbc732;
}

.rubrique-vie-quotidienne .submenu {
	background-color: #ffb65d;
}

.rubrique-decouverte .submenu {
	background-color: #c87eae;
}

.rubrique-detente .submenu {
	background-color: #b5d768;
}

.rubrique-mairie .submenu {
	background-color: #92b3c1;
}

.rubrique-sport .submenu {
	background-color: #b1ad7c;
}

.rubrique-urbanisme .submenu {
	background-color: #aca9b4;
}

.rubrique-ville-pratique .submenu {
	background-color: #efa2a9;
}

#extra-texte-moins {
	padding-top: 11px;
}

.boxlistitem {
	position: relative;
}

/*.yui-u,.boxListContainer,.boxlistitemUnit,li {
	position: relative;
}*/

div.csc-textpic-center div.csc-textpic-imagewrap dl.csc-textpic-image,div.csc-textpic-center div.csc-textpic-imagewrap dl.csc-textpic-image dt
	{
	float: none;
}

.breaker {
	clear: both;
}

br.breaker {
	height: 1px;
	line-height: 1px;
}

.todo {
	background-color: #ffaa00;
	padding: 10px;
}

.alert {
	font-weight: bold;
	color: red;
}

div.alert {
	background-color: #fff;
	border: : 1px solid #000000;
	margin: 0 0 10px 0;
	padding: 5px;
}

table.formGenerator {
	border-collapse: collapse;
	width: 95%;
	margin: 5px;
}

table.formGenerator th,table.formGenerator td {
	border: 2px solid #ffffff;
	padding: 3px;
}

table.formGenerator th {
	text-align: right;
}

table.formGenerator td.actionmenu {
	vertical-align: top;
	width: 12px;
}

table.formGenerator td.actionmenu div.actionmenuContainer {
	position: relative;
}

table.formGenerator td.actionmenu div.menu {
	width: 100px;
}

.rubrique-culture table.formGenerator th {
	background-color: #fbc732;
	vertical-align: top;
}

.rubrique-vie-quotidienne table.formGenerator th {
	background-color: #ffb65d;
}

.rubrique-decouverte table.formGenerator th {
	background-color: #c87eae;
}

.rubrique-detente table.formGenerator th {
	background-color: #b5d768;
}

.rubrique-mairie table.formGenerator th {
	background-color: #92b3c1;
}

.rubrique-sport table.formGenerator th {
	background-color: #b1ad7c;
}

.rubrique-urbanisme table.formGenerator th {
	background-color: #aca9b4;
}

.rubrique-ville-pratique table.formGenerator th {
	background-color: #efa2a9;
}

.formGeneratorBoEdit, .formGeneratorEdit {
	display: none;
}

.accueil #main li{
	background:transparent url(puce-fleche-blanche-inferieure-droite-transparente.gif) no-repeat scroll 0 0.4em;
	margin:0 0 0 0.5em;
	padding:0 0 0.5em 10px;
}

/*#content .blocListeLien h2{
	color:white;
	font-size:110%;
}*/

.csc-textpic-text hr{
	margin: 0 0 5px 0;
}

#extra-liens a, #footer-extra a{
	text-decoration: none;
}