/* CSS Document Position */
/*layout*/
#generale {
	width: 780px;
	position: relative;
	margin: auto;
	z-index: 1;
	}
#bandeau_aerogare {
	position: relative;
	width: 780px;
	top: 0px;
	left: 0px;
	z-index: 1;
	}
#bandeau_aerogare2 {
	position: relative;
	width: 780px;
	height: 18px;
	/*top: 153px;*/
	left: 0px;
	z-index: 1;
	clear: both;
	}
#bandeau_aerogare3 {
	position: absolute;
	width: 140px;
	height: 150px;
	top: 171px;
	left: 0px;
	z-index: 1;
	}
#bandeau_aerogare_pieds {
	position: absolute;
	width: 311px;
	height: 189px;
	top: 130px;
	left: 0px;
	z-index: 1;
	}
#bandeau_aerogare_carte {
	position: absolute;
	width: 182px;
	height: 85px;
	top: 130px;
	left: 598px;
	z-index: 1;
	}
#titre_page {
	position: absolute;
	width: 255px;
	height: 18px;
	top: 153px;
	left: 333px;
	z-index: 1;
	text-align: right;
	}
#titre_rubrique {
	position: absolute;
	width: 350px;
	height: 18px;
	top: 190px;
	left: 170px;
	text-align: left;
	z-index: 3;
	background-image: url(titre_rubrique.jpg);
	}
#time {
	position: absolute;
	width: 170px;
	height: 40px;
	top: 175px;
	left: 610px;
	z-index: 2;
	text-align: left;
	}
#contenu {
	position: relative;
	width: 780px;
	top: 0px;
	clear: both;
	}
#contenu_vide {
	position: relative;
	width: 780px;
	height: 37px;
	
	}
#contenu_milieu {
	position: relative;
	width: 425px;
	left: 170px;
	top: 0px;
	border-left: 1px solid #0F468E;
	border-bottom: 1px solid #0F468E;
	/*border-right: 1px solid #94B7FF;
	border-top: 1px solid #94B7FF;*/
	z-index: 3;
	clear: none;
	/*margin-top: 37px;*/
	float: left;
	}
#contenu_milieu_accueil {
	position: relative;
	width: 425px;
	left: 170px;
	/*border-left: 1px solid #94B7FF;
	border-bottom: 1px solid #94B7FF;
	border-right: 1px solid #94B7FF;
	border-top: 1px solid #94B7FF;*/
	z-index: 3;
	float: left;
	clear: none;
	/*margin-top: 37px;*/
	}
#bas {
	position: relative;
	width: 780px;
	height: 30px;
	clear: both;
	}
#rfaeroport {
	position: relative;
	width: 780px;
	height: 20px;
	top: 0px;
	left: 0px;
	}
#boite {
	position: absolute;
	width: 174px;
	top: 0px;
	right: 0px;
	z-index: 3;
	}
#boite_1 {
	position: relative;
	width: 174px;
	height: 100px;
	right: 0px;
	z-index: 3;
	border-left: 1px solid #0F468E;
	border-bottom: 1px solid #0F468E;
	background-image: url(fond_boite_droite.gif);
	background-repeat: repeat-y;
	text-align: right;
	overflow: auto;	
	}
#boite_2 {
	position: relative;
	width: 174px;
	right: 0px;
	z-index: 3;
	border-left: 1px solid #0F468E;
	border-bottom: 1px solid #0F468E;
	background-image: url(fond_boite_nv.jpg);
	background-repeat: repeat-y;
	margin-top: 10px;
	}
#boite_3 {
	position: relative;
	width: 174px;
	right: 0px;
	z-index: 3;
	border-left: 1px solid #0F468E;
	border-bottom: 1px solid #0F468E;
	background-image: url(fond_boite_nv.jpg);
	background-repeat: repeat-y;
	margin-top: 10px;
	}
#logo {
	position: relative;
	width: 174px;
	right: 0px;
	z-index: 3;
	margin-top: 10px;
	}
#actualites {
	position: relative;
	width: 425px;
	left: 0px;
	border-left: 1px solid #0F468E;
	border-bottom: 1px solid #0F468E;
	clear: both;
	}
#offre_mois {
	position: relative;
	width: 425px;
	left: 0px;
	border-left: 1px solid #0F468E;
	border-bottom: 1px solid #0F468E;
	/*text-align: left;*/
	margin-top: 20px;
	clear: both;
	}
#reportage {
	position: relative;
	width: 425px;
	left: 0px;
	border-left: 1px solid #0F468E;
	border-bottom: 1px solid #0F468E;
	/*text-align: left;*/
	margin-top: 20px;
	clear: both;
	}
#popup {
	position: relative;
	width: 300px;
	height: 310px;
	left: 0px;
	border-left: 1px solid #0F468E;
	border-bottom: 1px solid #0F468E;
	/*border-right: 1px solid #94B7FF;
	border-top: 1px solid #94B7FF;*/
	z-index: 0;
	overflow: auto;
	}
#titre_popup {
	position: relative;
	width: 300px;
	height: 18px;
	top: 0px;
	left: 0px;
	text-align: left;
	background-image: url(titre_rubrique.jpg);
	border-left: 1px solid #0F468E;
	/*border-right: 1px solid #94B7FF;
	border-top: 1px solid #94B7FF;*/
	z-index: 0;
	margin-top: 18px;
	}
#pop_generale {
	width: 400px;
	position: relative;
	margin: auto;
	z-index: 1;
	}
#pop_scroll {
	position: absolue;
	width: 400px;
	height: 270px;
	left: 0px;
	top: 30px;
	z-index: 2;
	text-align: left;
	overflow: auto;
	}
#pop_contenu {
	position: relative;
	width: 370;
	left: 10px;
	top: 10px;
	z-index: 3;
	text-align: left;
	}
#pop_accueil_scroll {
	position: absolue;
	width: 600px;
	height: 370px;
	left: 0px;
	top: 30px;
	z-index: 2;
	text-align: left;
	overflow: auto;
	}
#pop_accueil_contenu {
	position: relative;
	width: 570;
	left: 10px;
	top: 10px;
	z-index: 3;
	text-align: left;
	}
#pop_bandeau {
	position: absolue;
	width: 400px;
	height: 30px;
	left: 0px;
	top: 0px;
	z-index: 2;
	}	
	
/* menu */

#default {
	position: absolute;
	width: 134px;
	top: 199px;
	left: 25px;
	z-index: 4;
	border-left: 1px solid #FF9901;
	border-bottom: 1px solid #FF9901;
	}
#sommaire_ferme_1 {
	position: relative;
	width: 133px;
	height: 16px;
	right: 0px;
	z-index: 2;
	background-image: url(applat_sommaire_vol.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0761BA;
	font-weight: bolder;
	text-align: right;
	}
#sommaire_ferme_2 {
	position: relative;
	width: 133px;
	height: 16px;
	right: 0px;
	z-index: 2;
	margin-top: 13px;
	background-image: url(applat_sommaire_stationnement.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0761BA;
	font-weight: bolder;
	text-align: right;
	}
#sommaire_photo {
	position: relative;
	width: 133px;
	right: 0px;
	z-index: 5;
	margin-top: 10px;
	margin-bottom: 10px;
	}	
#sommaire_ferme {
	position: relative;
	width: 133px;
	height: 16px;
	right: 0px;
	z-index: 2;
	margin-top: 13px;
	background-image: url(applat_sommaire.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0761BA;
	font-weight: bolder;
	text-align: right;
	}
#sommaire_ouvert {
	position: relative;
	width: 133px;
	right: 0px;
	z-index: 2;
	margin-top: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0761BA;
	text-align: left;
	}
#vols {
	position: absolute;
	width: 134px;
	top: 199px;
	left: 25px;
	z-index: 4;
	border-left: 1px solid #FF9901;
	border-bottom: 1px solid #FF9901;
	}
#acces {
	position: absolute;
	width: 134px;
	top: 199px;
	left: 25px;
	z-index: 4;
	border-left: 1px solid #FF9901;
	border-bottom: 1px solid #FF9901;
	}
#voyage {
	position: absolute;
	width: 134px;
	top: 199px;
	left: 25px;
	z-index: 4;
	border-left: 1px solid #FF9901;
	border-bottom: 1px solid #FF9901;
	}
#services {
	position: absolute;
	width: 134px;
	top: 199px;
	left: 25px;
	z-index: 4;
	border-left: 1px solid #FF9901;
	border-bottom: 1px solid #FF9901;
	}
#voyage {
	position: absolute;
	width: 134px;
	top: 199px;
	left: 25px;
	z-index: 4;
	border-left: 1px solid #FF9901;
	border-bottom: 1px solid #FF9901;
	}
#aeroport {
	position: absolute;
	width: 134px;
	top: 199px;
	left: 25px;
	z-index: 4;
	border-left: 1px solid #FF9901;
	border-bottom: 1px solid #FF9901;
	}
#region {
	position: absolute;
	width: 134px;
	top: 199px;
	left: 25px;
	z-index: 4;
	border-left: 1px solid #FF9901;
	border-bottom: 1px solid #FF9901;
	}
#contact {
	position: absolute;
	width: 134px;
	top: 199px;
	left: 25px;
	z-index: 4;
	border-left: 1px solid #FFB400;
	border-bottom: 1px solid #FFB400;
	}

/* CSS Document Style */

body {
	background-color: #FFFFFF;
	margin: 0px;
	/*scroll: auto;*/
	scrollbar-face-color: #FFFFFF;
	scrollbar-shadow-color: #0F468E;
	scrollbar-highlight-color: #0F468E;
	scrollbar-3dlight-color	: #FFFFFF; 
	scrollbar-darkshadow-color: #0F468E;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #0F468E;
	overflow: no;
	}
.time {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0F468E;
	text-align: left;
	}
.boite_titre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-align: right;
	font-weight: bold;
	}
.boite_contenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0F468E;
	text-align: left;
	/*font-weight: bold;*/
	}
.sommaire_cat_2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #F58955;
	text-align: left;
	padding-right: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	}
.texte {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	}
.texte_right {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-align: right;
	}
.texte_ligne {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-decoration: underline;
	}
.texte_bas {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #B3B4B4;
	}
.texte_bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	font-weight: bolder;
	}
.texte_num {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FE9801;
	text-align: center;
	font-weight: bold;
	}
.textetab {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-align: center;
	background: #CEDAF4;
	}
.textetab2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	background: #CEDAF4;
	}
.textetab3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0761BA;
	background: #CEDAF4;
    font-weight: bolder;
 	padding-left: 5; 	
	
	}
.titretab {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	font-weight: bolder;
	text-align: center;
	background: #B9CDF5;
	}
.alerte {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #D60000;
	font-weight: bolder;
	}
.alerte3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #D60000;
	font-weight: bolder;
	}
.alerte_index {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #D60000;
	font-weight: bolder;
	letter-spacing: 2px;
	}
.alerte2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #D60000;
	/*font-weight: bolder;*/
	}
.titre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0761BA;
	/*font-weight: bolder;*/
	}
.titre_rubrique {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0761BA;
	font-weight: bolder;
	
	}
.titre_page {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #033B86;
	font-weight: bolder;
	
	}
.sommaire {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0761BA;
	
	font-weight: bolder;
	}
.tab_depart_titre {
	background: #ADC1E4;
	text-align: center;
	font-weight: bolder;
	}
.tab_arrivee_titre {
	background: #F9B99A;
	text-align: center;
	}
.tab_depart_texte1 {
	background: #B9CDF5;
	text-align: center;
	}
.tab_depart_texte2 {
	background: #CEDAF4;
	text-align: center;
	}
.tab_arrivee_texte1 {
	background: #FAC5AC;
	text-align: center;
	}
.tab_arrivee_texte2 {
	background: #FCD8C7;
	text-align: center;
	}
.form {
	background: #FCF1D2;
	border: 1px #0F468E solid;
	color: #333333;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	text-align: left;
	}	
.bouton {
   font-family: verdana,sans-serif;
   font-size: 8pt;
   background-color: #FE9801;
   color: white;
   list-style-type: disc;
   list-style-position: inside;
   font-weight: normal;
   line-height: 12pt;
   border-style: outset;
   border:0;
   cursor: pointer; 
	}
.popup_bas {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #95B7FF;
	}
	
/* liens */

a:hover.liens_sommaire { 
	text-decoration: none;
	color: #0761BA;
	}
a.liens_sommaire {
	text-decoration: none;
	color: #0761BA;
	}
a:hover.liens_sommaire2 { 
	text-decoration: underline;
	color: #0761BA;
	}
a.liens_sommaire2 {
	text-decoration: none;
	color: #0761BA;
}
a:hover.liens_bas { 
	text-decoration: none;
	color: #8794A9;
	}
a.liens_bas {
	text-decoration: none;
	color: #BEC6D1;
	}
a:hover.lienscorps { 
	text-decoration: none;
	color: #0761BA;
	}
a.lienscorps {
	text-decoration: underline;
	color: #0761BA;
	}

ul {
	list-style-image: url(liste.gif);
	}
/* RF */
.texteref {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000000;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	}
.titreref {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: bold;
	color: BFBFBF;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	}
.dernierjour{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000066;
	font-size: 24px;
}
/*agrandissement*/
.image_agrandie{
	position : absolute;
	top : 0px;
	left : 0px;
	text-decoration : none;
	border : 0px;
}
.images_catalogue {
	border : 1px;
	border-color : #000000;
	border-style : solid;
	margin : 0px 10px 0px 0px;
	cursor : pointer;
}
.images_catalogue2 {
	border : 1px;
	border-color : #000000;
	border-style : solid;
	margin : 0px 10px 0px 0px;
}
/*page accueil*/
#accueil_bandeau {
	width: 423px;
	border: 1px solid #FFB400;
	margin-bottom: 10px;
	}
#accueil_pub {
	margin-bottom: 10px;
	}
#accueil_titre {
	width: 425px;
	background-color: #6397E5;
	margin-top: 9px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	color: #FFF33B;
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}
#accueil_contenu {
	width: 425px;
	margin-top: 9px;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
	}
#accueil_contenu a{
	text-decoration: underline;
	color: #0761BA;
	border: 1px solid #ffb400;
	}
#accueil_contenu img{
	border: 1px solid #ffb400;
	}
#accueil_contenu a:hover{
	text-decoration: none;
	color: #0761BA;
	}
.gras_orange {
	color: #FFB400;
	font-weight: bold;
	}
.gras_bleu {
	color: #0F468E;
	font-weight: bold;
	}
.bleu {
	color: #0F468E;
	}
#accueil_encart_1 {
	width: 208px;
	height: 113px;
	border: 1px solid #01047D;
	float: left;
	background-image: url("fond_vol_regulier.gif");
	background-position: top left;
	background-repeat: no-repeat;
	}
#accueil_encart_2 {
	width: 208px;
	height: 113px;
	border: 1px solid #FFB400;
	float: right;
	background-image: url(fond_encart_2_n.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	}
#accueil_encart_1_g {
	width: 103px;
	float: left;

	}
#accueil_encart_1_d {
	width: 103px;
	float: right;
	}	

.titre_encart {
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-align: center;
	margin: 0;
	padding: 0;
	}
.titre_encart_2 {
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #02047F;
	text-align: center;
	margin: 0;
	padding: 0;
	}
.contenu_encart {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: left;
	padding-left: 5px;
	margin: 0;
	padding: 10px 0 0 10px;
	}
.contenu_encart_2 {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: left;
	padding-left: 5px;
	margin: 0;
	padding: 30px 0 0 10px;
	}
#tab_accueil {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
	}
.cap {
	text-transform: uppercase;
	}
.legende_accueil {
	font-size: 10px;
	color: #494848;
	text-align: left;
	line-height: 15px;
	}
#boite_2 a{
	text-decoration: underline;
	color: #0761BA;
	}
#boite_2 a:hover{
	text-decoration: none;
	color: #0761BA;
	}
.both {
	clear: both;
	}
#association {
	margin-top: 8px;
	}
#pub img{
	margin: 0 0 10px 160px;
	}
