/*
	Top Menu
*/

.topMenu { float:left; background:white; font-size:93%; line-height:normal; }
.topMenu ul { margin:0; padding:0; list-style:none; }
.topMenu ul.left { padding-left:20px; }
.topMenu { float: left;}
.right {float: right; padding-right:30px; }


.topMenu li { float:left;  margin:0; padding:0; }
.topMenu li { height: 24px; float:left; background:url("http://www.jungefreiheit.de/fileadmin/templates/images/manuCornerR.gif") no-repeat right top;  margin:0; padding:0; }
.topMenu a { display:block; background:url("http://www.jungefreiheit.de/fileadmin/templates/images/manuCornerL.gif") no-repeat left top; padding:6px 10px 4px 10px; color: black; text-decoration:none; }

.topMenu li.first a {background:url("http://www.jungefreiheit.de/fileadmin/templates/images/manuCornerLfirst.gif") no-repeat left top;}

.topMenu li.act {background:url("http://www.jungefreiheit.de/fileadmin/templates/images/manuCornerR_act.gif") no-repeat right top;}
.topMenu li.act a {background:url("http://www.jungefreiheit.de/fileadmin/templates/images/manuCornerL_act.gif") no-repeat left top;}

.topMenu li.firstact a {background:url("http://www.jungefreiheit.de/fileadmin/templates/images/manuCornerLfirst_act.gif") no-repeat left top;}


/*
	News KAt Menu
*/
/* style the outer div to give it width */
.menu {font-size:12px; }

/* remove all the bullets, borders and padding from the default list styling */
.menu ul {padding:0;margin:0;list-style-type:none; height:14px; margin-left:10px;}

*+html .menu {height:24px}

/* style the sub-level lists */
.menu ul ul {padding:0; margin:0; width:15em;}

/* float the top list items to make it horizontal and a relative positon so that you can control the dropdown menu positon */
.menu ul li {
	float:left;
	height:24px;
	line-height:18px;
	background-image: url(http://www.jungefreiheit.de/fileadmin/templates/images/top_navi_balken.gif);
	background-repeat: no-repeat;
	background-position: right 5px;
}
.menu ul li.letzter {
	float:left;
	height:24px;
	line-height:18px;
	background-image: url(http://www.jungefreiheit.de/fileadmin/templates/images/top_navi_balken.gif);
	background-repeat: no-repeat;
	background-position: right 5px;
}

/* style the sub level list items */
.menu ul ul li {
	display:block;
	width:12em;
	height:auto;
	position:relative;
	line-height:1em;
	background-image: none;
}
.menu ul li.letzter {
	background-image: none;
}


/* style the links for the top level */
.menu a, .menu a:visited {display:block;float:left;height:100%;font-size:1em;text-decoration:none;color:#fff;padding:0 10px 0 10px;}


/* style the sub level links */
.menu ul ul a, .menu ul ul a:visited {display:block; color:#fff;width:12em;height:100%;line-height:1em; padding:0.5em 0;margin:0 5px; border-bottom: 1px solid #fff;}

.menu ul ul a.letzter, .menu ul ul a:visited.letzter {
	border-bottom: 0px;
}

.menu ul table ul a, .menu ul table ul a:visited  {width:14em; w\idth:12em;}

/* style the table so that it takes no part in the layout - required for IE to work */
.menu table {position:absolute; left:0; top:0; font-size:1em; z-index:-1;}
.menu ul ul table {lef\t:-1px;}
.menu ul ul table ul.left {margin-lef\t:2px;}

.menu li:hover {position:relative;}
* html .menu a:hover {position:relative;}

/* style the sub level 1 background */

/* style the sub level 2 background */
.menu ul ul :hover a.sub2 {background:#92b1c1;}

/* style the level hovers */
/* first */
.menu a:hover {color:#fff;}
.menu :hover > a {color:#fff;}
/* second */
.menu ul ul a:hover{
color:#fff;
font-weight: bold;
}

.menu ul ul :hover > a {
color:#fff;
font-weight: bold;
}

/* hide the sub levels and give them a positon absolute so that they take up no room */
.menu ul ul {visibility:hidden;position:absolute;height:0;top:24px;left:0;width:14em;}

/* make the second level visible when hover on first level list OR link */
.menu ul li:hover ul, .menu ul a:hover ul {visibility:visible; height:auto; background:url(http://www.jungefreiheit.de/fileadmin/templates/images/top_sub_navi_bg.gif);}