html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
    background: #fff;
    color: #333;
    font-family:verdana,helvetica,sans-serif;
    font-size:11px;
}

a:link, a:visited, a:hover {
    color: #C21731;
    text-decoration: none;
} 

h1 {
	color:#C21731;
    font-size:18px;
    font-weight: normal;
    margin: .8em 0 .3em 0;
}

ul {
    padding-left: 15px;	
}

/*
input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;*
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}

input.text {
    width:235px;
}
	
select {
   padding: 2px 2px 2px 0;
}

textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #C21731;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
}

*/

/* MESSAGES AND ERRORS */

.message {	
    background: #fff url(http://www.bearingpoint.fr/userprofile/images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors, span.errors {
    background: #fff;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;	
}
div.errors li {
	background: url(http://www.bearingpoint.fr/userprofile/images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}

/* TABLES */

/*
table {
    border: 1px solid #ccc;
    width: 350px;
}
tr {
    border: 0;
}
td, th { 
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}
*/
/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(http://www.bearingpoint.fr/userprofile/images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog {
	width:500px;
}

/* FORM ELEMENTS */

input.button {
    background: #999;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    color: #FFF;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 3px 8px;
}

div.row {
  clear: both;
  padding-top: 5px;
}

div.row label {
  float: left;
  width: 220px;
  text-align: left;
  font-weight: bold;
}

div.row .rightlabel {
  float: none;
  margin-left:5px;
  font-weight:normal;
}

div.row span.value,
div.row span.errors {
  float: right;
  width: 170px;
  margin-right: 100px;
  text-align: left;
} 

/*
table {
	width:600px;	
}*/

/* ... */

.clear {
	clear:both;	
}

.redtext {
	color:#C21731;
}
