﻿*
{
padding: 0px;
margin: 0px;
}
body
{
background-color:#ffffff;
font-size: 11px;
font-family: verdana, helvetica, sans-serif;
color: black;
padding: 0px;
margin: 0px;
}
a
{
color: #C21731;
text-decoration: none;
}
a:visited
{
color: #C21731;
text-decoration: none;
}
a:hover
{
color: black;
text-decoration: none;
}
p
{
font-family: verdana;
font-size: 11px;
padding: 0px;
margin-bottom: 13px;
}
td
{
text-align: left;
font-family: verdana;
font-size: 11px;
}
ul {
padding-left: 30px; 
padding-bottom: 12px;
}
#outer
{
float: left;
width: 775px;
margin-left: 0px;
}
#inner
{
position: relative;
z-index: 200;
}
#header
{
position: absolute;
top: 0px;
width: 775px;
height: 37px;
color: #C21731;
z-index: 6000;
}
#headerimage
{
position: relative;
padding-top: 55px;
width: 775px;
}
#logo
{
position: absolute;
left:0px;
z-index: 201;
}
#signIn
{
font-size: 11px;
font-weight: normal;
color: #9a9ca0;
}
#signIn a {
color: #9a9ca0;
}
#signIn a:hover {
color: #C21731;
}
#signOut
{
font-size: 11px;
font-weight: normal;
color: #9a9ca0;
}
#signOut a {
color: #9a9ca0;
}
#signOut a:hover {
color: #C21731;
}
#searchform
{
position: absolute;
font-size: 12px;
font-weight: normal;
color: black;
left:547px;
top:6px
}
#searchbutton 
{
width: 44px;
height: 20px;
height/* */:/**/20px;
height: /**/20px;
background-color: #C21731;
position: absolute;
top: 0px;
left: 183px;
}
#searchbutton a
{
text-align: center;
color: white;
font-size: 10px;
position: absolute;
top: 3px;
left: 4px;
}
#formbutton
{
width: 50px;height: 30px;background-color: #9a9ca0;border-right: 1px solid black;border-bottom: 1px solid black;font-family: verdana;color: white;font-size: 11px;font-weight: normal;text-align: center;
}
#topnav
{
z-index: 5000;
position: absolute;
font-size: 11px;
font-weight: normal;
color: #C21731;
left:176px;
top:31px;
}
#homepagefeature
{
padding-left: 5px;
height: 322px;
}
#homepagesubfeature
{
margin-top: 10px;
padding-left: 10px;
padding-right: 10px;
background-image: url(homesubfeaturedropshadow.jpg);
height: 146px;
}
#homepagesubfeature .title
{
font-size: 11px;
font-weight: bold;
font-family: verdana, helvetica, sans-serif;
color: white;
}
#homepagesubfeature .image
{
display:block;
float:left;
height:130px;
margin-right:5px;
margin-top:12px;
width:60px;
}
#homepagesubfeature .text
{
font-size: 10px;
font-weight: normal;
font-family: verdana, helvetica, sans-serif;
color: black;
padding-right: 5px;
padding-bottom: 5px;
padding-top: 10px;
}
#homepageportletspacing
{
padding-left: 5px;
}
#T1navitem {width: 153px;font-size: 11px;font-weight: bold;color: #C21731;padding: 2px 2px 2px 5px;margin-left: 2px;}
#T1navitem a {color: #C21731;}
#T1navitem a:hover {color: black;text-decoration: none;}
#T1navitemselected {width: 153px;font-size: 11px;font-weight: bold;color: black;padding: 2px 2px 2px 5px;margin-left: 2px;}
#T2navitem {line-height: 11px; width: 145px;font-size: 11px;font-weight: normal;color: #C21731;padding: 2px 2px 6px 10px;margin-left: 2px;}
#T2navitem a {color: #C21731;}
#T2navitem a:hover {color: black;text-decoration: none;}
#T2navitemselected {line-height: 11px; width: 145px;font-size: 11px;font-weight: normal;color: black;padding: 2px 2px 6px 10px;margin-left: 2px;}
#T2dash {z-index: 199; background: url(http://www.bearingpoint.fr/portal/templates/template0005/vgnxtmpl001style0002/navbg.jpg) no-repeat; margin-left:8px;}
#leftnavvertspacer
{
height: 14px;
width: 154px;
margin-left: 2px;
}
#breadcrumb
{
font-size: 11px;
font-weight: normal;
color: #9a9ca0;
padding-left: 7px;
padding-bottom: 10px;
padding-top: 3px;
text-transform:lowercase;
}
#breadcrumb a
{
font-size: 11px;
font-weight: normal;
color: #9a9ca0;
}
#breadcrumb a:hover
{
color: #C21731;
text-decoration: none;
}
#pagecontent
{
position: relative;
width: 773px;
}
#contentwrapper
{
padding-left: 19px;
padding-right: 19px;
margin-top: -4px;
}
#contentwrapper p
{
padding; 0px,0px,0px,0px;
}
#contentTitle
{
font-size: 18px;
font-weight: normal;
font-family: verdana, helvetica, sans-serif;
color: #C21731;
padding-bottom: 7px;
margin-top: -2px;
}
#contentSubTitle
{
font-size: 12px;
font-weight: bold;
font-family: verdana, helvetica, sans-serif;
color: black;
padding-bottom: 5px;
}
#contentBody
{
font-size: 11px;
font-weight: normal;
font-family: verdana, helvetica, sans-serif;
color: black;
padding-bottom: 0px;
}
#contentBody a
{
font-size: 11px;
color: #C21731;
}
#contentBody p
{
font-size: 11px;
font-weight: normal;
font-family: verdana, helvetica, sans-serif;
color: black;
padding: 0px,0px,0px,0px;
}
#contentBody ol
{
padding-left: 24px;
}

#execBioBody
{
font-size: 11px;
font-weight: normal;
font-family: verdana, helvetica, sans-serif;
color: black;
}
#contentlink {
font-size: 11px;
font-weight: bold;
font-family: verdana, helvetica, sans-serif;
color: #C21731;
text-decoration: none;
}
#contentlink a {
font-size: 11px;
font-weight: bold;
font-family: verdana, helvetica, sans-serif;
color: #C21731;
text-decoration: none;
}
#contentlink a:hover {
color: black;
}
#contentblacklink a {
font-size: 11px;
font-family: verdana, helvetica, sans-serif;
color: black;
text-decoration: none;
}
#contentblacklink a:hover {
color: #C21731;
}
#rightmorelink
{
text-align: right;
font-family: verdana;
font-size: 10px;
padding-right: 5px;
font-weight: bold;
color: #C21731;
}
#rightmorelink a
{
text-align: right;
font-family: verdana;
font-size: 10px;
padding-right: 5px;
font-weight: bold;
color: #C21731;
}
#rightmorelink a:hover
{
color: black;
text-decoration: none;
}
#leftmorelink
{
text-align: left;
font-family: verdana;
font-size: 10px;
font-weight: bold;
color: #C21731;
}
#leftmorelink a
{
text-align: left;
font-family: verdana;
font-size: 10px;
font-weight: bold;
color: #C21731;
}
#leftmorelink a:hover
{
color: black;
text-decoration: none;
}
#portlet
{
padding: 5px 5px 5px 5px;
text-align: left;
font-family: verdana;
font-size: 10px;
}
#portlet a
{
color: #C21731;
font-weight:bold;
font-size: 10px;
}
#portlet a:hover
{
color: black;
text-decoration: none;
}
#portlet a:visited
{
color: #C21731;
}
#portlet p
{
margin: 0px;
}
#portletTitle
{
font-family: verdana;
font-weight: bold;
font-size: 10px;
color: black;
}
#portletchrome {
border: 1px solid #d9d9d9; 
margin-left: 2px; 
margin-bottom:20px; 
padding-top: 3px;
padding-right: 3px;
padding-left: 3px;
padding-bottom: 10px;
width:154px;
}
#pressReleaseMonth
{
font-size: 12px;
font-weight: bold;
font-family: verdana, helvetica, sans-serif;
padding-bottom: 5px;
}
#pressReleaseDate a
{
font-size: 11px;
font-weight: bold;
font-family: verdana, helvetica, sans-serif;
color: #0067AC;
text-decoration: none;
text-align: left;
}
#pressReleaseDate a:hover {
color: black;
}
#pressReleaseTeaserText 
{
font-size: 11px;
font-weight: normal;
font-family: verdana, helvetica, sans-serif;
color: black;
margin-left: 15px;
padding-bottom: 10px;
text-align: left;
}
#pressReleaseTeaserText a
{
font-size: 11px;
color: #C21731;
text-align: left;
}
#pressReleaseTeaserText a:visited
{
font-size: 11px;
color: #C21731;
text-align: left;
}
#eventMonth
{
font-size: 12px;
font-weight: bold;
font-family: verdana, helvetica, sans-serif;
padding-bottom: 5px;
}
#eventTeaserText 
{
font-size: 11px;
font-weight: normal;
font-family: verdana, helvetica, sans-serif;
color: black;
margin-left: 15px;
padding-bottom: 10px;
text-align: left;
}
#contactBox
{
border: 1px solid #d9d9d9;
margin-left: 2px;
margin-bottom: 20px;
margin-top: 2px;
width:154px;
}
#contactBoxHeader
{
font-family: verdana;
font-weight: bold;
font-size: 12px;
color: white;
line-height: 20px;
background-color: #9a9ca0;
padding-left:7px;
}
#contactContent
{
padding: 5px 5px 5px 7px;
text-align: left;
font-family: verdana;
font-size: 10px;
}
#footer
{
text-align: left;
margin-top: 20px;
margin-left: 20px;
color: black;
font-size: 9px;
color: #9a9ca0;
width: 775px;
}
#footer a
{
color: #9a9ca0;
}
#footer a:hover
{
color: #C21731;
}
#podcastbutton a
{
align: right;
width: 55px;
height: 16px;
background-color: #C21731;
border: 1px solid black;
font-family: verdana;
margin-bottom: 5px;
color: white;
font-size: 10px;
font-weight: bold;
text-align: center;
padding: 1px;
}
#rssbutton a
{
float: right;
width: 35px;
height: 16px;
background-color: #C21731;
border: 1px solid black;
font-family: verdana;
margin-bottom: 5px;
margin-right: 10px;
color: white;
font-size: 10px;
font-weight: bold;
text-align: center;
padding: 1px;
}
#locationsleftlinklist {
position: absolute;
left: 20px;
top: 28px;
}
#locationsrightlinklist {
position: absolute;
left: 115px;
top: 28px;
}
#verticalline {
position: absolute;
left: 774px;
top: 0px;
background-image: url(http://www.bearingpoint.fr/portal/templates/template0005/vgnxtmpl001style0002/vertline.jpg);
background-repeat: repeat-y;
height: 275px;
}
.no_wrap { white-space:nowrap; }
.reddot
{
 color: #ff0000;
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight:    normal;
    font-size: 10px;
    line-height: 15px;
}
h3, h2 {
font-size: 11px;
}
.dropdownList {margin-top: 5px; margin-bottom: 5px; width: 245px; text-align: left; font-size: 11px; font-family: verdana;}
/* Tabbed Interface */
.tab {z-index:100;height:21px;position:relative;overflow:hidden;margin-top:5px;}
.tabitem {background-color:#f0f0f0;height:21px;vertical-align:bottom;text-align:center;color:#9a9ca0;font-size:10px;border:1px solid #d9d9d9;padding-top:2px;cursor:hand;display:block;float:left;}
.tabitemselected {background-color:white;width:65px;height:21px;vertical-align:middle;text-align:center;color:black;border-right:1px solid #d9d9d9;border-left:1px solid #d9d9d9;border-top:1px solid #d9d9d9;font-size:10px;font-weight:bold;padding-top:2px;margin-top:0px;cursor:hand;display:block;float:left;}
.tabBox {float:left;border:1px solid #d9d9d9;position:relative;top:-1px;padding:10px 10px 10px 8px;}
.tabBox div.list {float:left;width:386px;}
.tabBox2 {float:left;border:1px solid #d9d9d9;position:relative;top:-1px;padding:10px 10px 10px 8px;}
.tabBox2 div.list {float:left;width:550px;}
.ruleAlt {border-top:1px solid #d9d9d9;height:1px;line-height:1px;font-size:1px;overflow:hidden;margin:5px 0px 8px 0px;width:100%;}
.ruleAlt2 {border-top:1px solid #d9d9d9;height:1px;line-height:1px;font-size:1px;overflow:hidden;margin:0px 0px 3px 0px;width:100%;}
/* top navigation dropdown menus */
#cssdropdown, #cssdropdown ul {padding: 2;margin-top: -3px;list-style: none;}
#cssdropdown li {float: left;position: relative;}
.mainitems{background-color: white; height:5px; padding-bottom:0.2em; padding-top:0.2em; }
.mainitems a{font-size: 11px;font-weight: normal;color: #C21731;text-decoration: none;font-family: verdana;}
.subuls{ display: none; position:absolute; top:20px; left:-6px; border: 1px solid #C21731; background-color: #ffffff; }
.subuls li{width: 100%;padding-left: 5px;padding-right: 5px;padding-bottom: 4px;padding-top:2px;}
.subuls li a{text-decoration: none;}
.subuls li a:hover{color: black;}
/* to override top and left in browsers other than IE, which will position to the top right of the containing li, rather than bottom left */
/*#cssdropdown li>ul {top: auto;left: auto;}*/
#cssdropdown li>ul {top: 18px;left: -6px;}
/* lists nested under hovered list items */
#cssdropdown li:hover ul, li.over ul {display: block;}