
/******************** normalisation ********************/
* {
	padding:0;
	margin:0;
	border:0;
}
ul, ol {
	list-style:none;
}
table {	
	border-collapse:collapse;
}

/* png fix for IE 6*/
img, div, a, input { 
/*	behavior: url(/scripts/iepngfix.htc); */
} 

/******************** layout ********************/
#wrapper {	
	width:1035px;
	margin:0 auto;
	position:relative;
}
#wrapper-shadow {
	float:left;
	width:1000px;
	padding:0 10px 10px 35px;
	background: url(http://www.peugeot.com/images/bg-wrapper.jpg) repeat-y;
}
#wrapper-shadow-bot {
	float:left;
	padding:0 0 10px 0;
	background: url(http://www.peugeot.com/images/bg-wrapper-bot.jpg) bottom no-repeat;
	
}
#content {
	width:1000px;
	float:left;
}
#column1, #column2, #column3 {
	float:left;
}
#footer {
	width:1000px;
	float:left;
	clear:left;
	border-top: 1px solid #fff;
}

/******************** global styles ********************/
body {
	font-family:Verdana, Helvetica, sans-serif;
	font-size:62.5%;
	background:#fff;
}
.hide {
	position:absolute;
	top:-99999em;
	left:0;
}
abbr {
	color:inherit;
}
p, ul, ol, dd, dt, a, a:visited, table, form, input, select {
	color:#48494a;
	font-size:1em;
}
a, a:visited {
	color:#6c8ca2;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
th, td {
	vertical-align:top;
}
#strapline {
	display:none;
}
#main_banner {
	float:left;
	height:145px;
}
/* Clear style - necessary to allow paddings to kick in below last modules in float for IE6 */
.clear-left {
	clear:left;
}
/**/
/* news modules */
.news_list li img {
	float:left;
	padding-right:10px;
}
.news_list li img.tn {
	padding-right:0;
}
.news_list {
	float:left;
}
.news_list li {
	float:left;
	height:67px;
	width:313px;
	border-right:1px solid #dfebef;
	border-top:1px solid #dfebef;
	background:#fff;
}
.news_list li.first {
	border-top:0;
}
.newscategory {
	padding-top:10px;
	padding-bottom:3px;
}
.news_list li a, .news_list li a:visited {	
	padding-bottom:3px;
}
.newscategory {	
	color:#6c8ca2;
}
.article_rating{
font-size:1.4em;

}


/* Article Tools */
ul.article_tools { margin:0px 15px 10px 0px; border-left:1px solid #dfebef; color:#39617c; font-size:0.9em;clear: left; }
ul.article_tools li { position:relative; display:inline; padding:1px 4px 3px 4px; margin-right:-3px;}
ul.article_tools li span { color:#6c8ca2;}
ul.article_tools ul.article_rating { display:inline; font-size:1.4em; clear:both;}
ul.article_tools ul.article_rating li { padding:0px; border:none;float: left;}
ul.article_tools ul.article_rating li a { display:block; text-indent: -9999px; overflow:hidden; background: url(http://www.peugeot.com/images/news/star-0.gif) no-repeat 0px 0px; width: 16px; height: 15px; }
ul.article_tools ul.article_rating li a span { display: block; visibility: hidden; padding: 0; margin: 0; }
ul.article_tools ul.article_rating li a.vote { background: url(http://www.peugeot.com/images/news/star-1.gif) no-repeat 0px 0px;}
ul.article_tools ul.article_rating li a.half-vote { background: url(http://www.peugeot.com/images/news/star-half.gif) no-repeat 0px 0px;}

/* Article_rating */
ul.article_rating { margin:0px 0px 0px 0px; color:#39617c; font-size:0.9em; clear: left; }
ul.article_rating li { position:relative; display:inline; padding:1px 4px 3px 4px; margin-right:-3px;}
ul.article_rating li span { color:#6c8ca2;}
ul.article_rating { display:inline; font-size:1.4em;}
ul.article_rating li { padding:0px; margin-right:1px; float: left;}
ul.article_rating li a { display:block; text-indent: -9999px; background: url(http://www.peugeot.com/image/star.gif) no-repeat 0px 0px; width: 16px; height: 15px; }
ul.article_rating li a span { display: block; visibility: hidden; padding: 0; margin: 0; }
ul.article_rating li a.voteBig { background: url(http://www.peugeot.com/image/star-full.gif) no-repeat 0px 0px;}
ul.article_rating li a.half-voteBig { background: url(http://www.peugeot.com/image/sta-half.gif) no-repeat 0px 0px;}

.date {
	float:left;
	color:#6c8ca2;
	font-size:0.9em;
}
.views {
	float:right;
	padding: 0 8px 20px 0;
	color:#6c8ca2;
}
#page_scroll {
	position:relative;
	float:left;
	width:313px;
	border-right:1px solid #dfebef;
	border-top:1px solid #dfebef;
	background:#eef1f3;
}
#page_scroll p {
	float:right;
	width:auto;
	padding:4px 10px 4px 0;
	color:#6c8ca2;
}
#page_scroll a.scroll {
	padding:0 2px;
	border:2px groove #a3bfcf;
	color:#b5d1db;
	background:#6c8ca2;
	text-decoration:none;
}
.page_no {
	color:#48494a;
}
#tags {
	padding-bottom:12px;
}
#tags a {
	color:#264876;
	text-decoration:underline;
}

/* Calender Styles */
#calendar-title {
	float: left;
	width: 268px;
	border-left:1px solid #e6e4e4;
	border-bottom:1px solid #c9d6dd;
	background:#fff;
	font-size:0.9em;
}
#calendar-month {
	float: right;
	padding: 5px 20px 0 0;
	color:#072c47;
	font-size:1em;
	text-transform: uppercase;
}
table.calender {
	clear: left;
	width: 100%;
	padding:0 20px;
	border-left:1px solid #E6E4E4;
}
table.calender th, table.calender td {
	border-bottom:1px solid #dfebef;
}
table.calender tr.bottom td {
	border-bottom:0px solid #dfebef;
}
table.calender th, table.calender td {
	border-left:1px solid #dfebef;
}
table.calender th.left, table.calender td.left {
	border-left:0px solid #dfebef;
}
table.calender td a {
	float:left;
	width:100%;
	background:#fff;
	margin:-10px 0px;
}
table.calender th, table.calender td {
	text-align:center;
	width:10%;
}
table.calender th, table.calender td, table.calender td a {
	padding:10px 0px;
}
.calender-events p {
	margin:8px 20px;
}