 /* GENERAL STYLES */
@import url(global.css);
@import url(navigation.css);
@import url(footer.css);
@import url(headers.css);
@import url(sIFR-screen.css);


body {
	behavior: url(csshover.htc);
}

/******************** layout ********************/
/*#column1 {
	width: 392px;
}
#section_home #column1 {
	height: 137px;
	margin: 18px 17px 0 0;
	padding: 0 0 0 14px;
	background:url(../images/bg-car.jpg);
}*/
#column2 {
	width: 405px;/*
	height: 137px;*/
	margin: 18px 0 0 0;
}
#column3 {
	margin: 10px 35px 0 0;
	float:right;
}
/******************** homepage styles ********************/
/* column 1 */
form#extranav_search select {
	width:142px;
	padding:1px;
	border:1px solid #c4c4c4;
}
form#extranav_search p {
	clear:both;
	padding: 10px 0 3px 0;
	color: #434e65;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.2em;
	font-weight:bold;
}
#column1 form#extranav_search input {
	float:left;
	width:104px;
	height:19px;
	margin: 28px 0 0 0;
	background:url(valider.gif) no-repeat;
}
/* column 2 */
#column2 div {
	/*float:left;*/
}
div#home_news, div#home_news div {
	float:left;
}
#section_home ul.news_list {
	float:none;
	height:137px;
	background:url(column2-bg.gif);
	font-family:Arial, Helvetica, sans-serif;
	overflow-y:scroll;
}
#section_home ul.news_list li {
	height:auto;
	width:auto;
	clear:none;
	padding:15px 25px 0 25px;
	border:0;
	background:0;
}
#section_home ul.news_list li, #section_home ul.news_list li a, #section_home ul.news_list li a:visited {
	color:#434e65;
}
#section_home ul.news_list 	h4 {
	font-weight:bold;
}
#section_home ul.news_list p.news_list {
	float:none;
}
/* column 3 */

#Poll_17_pnlQuestion{
	padding-left: 10px;
}
#Poll_17_pnlResults{
	padding-left: 10px;
}
#section_home #column3 .poll {
	padding: 0 10px;
}
#section_home #column3 .poll table {
	margin: 0 0 10px 0;
}
#section_home #column3 label {
	padding: 0 11px;
	color: #48494a;
}
#section_home #column3 input {
	position: relative;
	top: 3px;
}
#section_home #column3 p {
	padding-bottom: 2px;
}
#section_home #column3 button {
	width: 48px;
	height: 16px;
	margin-left: 160px;
	background: none;
	padding: 10px;
}

/* poll styles */
.barcontainer {
	width: 200px;
	margin: 0 0 2px;
}
.percent {
	width: 40px;
	color: #6c8ca1;
	padding: 0 5px 0 0;
}
.bargraph {
	width: 155px;
	padding:0 1px;
	background-color:#65869c;
	color:#fff;
	text-align:right;
}

/* EDITOR PROPERTIES */


/* Esteban*/
.contemiddle2 {
	height: auto;
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}



.contemiddle2 p{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight: normal;
	color: #6c8ca2;
	text-transform:uppercase;
}


.contenlinks2 {
	height: auto;
	width: 141px;
	float:left;
	
}

.contenlinksimage2 {
	float: left;
	height: auto;
	width: 140px;
	

	}

.contenlinkstitle2 {
	float: left;
	height: auto;
	width: 142px;
	padding-top: 20px;
	padding-left: 3px;
	padding-bottom: 5px;
}


.contenlinksimage2 a{
text-decoration:none;
border:0px;
}

.contenlinkstext2 {
	float: left;
	height: 140px;
	width: 145px;
	padding-top:6px;

}

.contenlinkstext2 ul{
	margin:0px;
	padding-left:6px;

}

.contenlinkstext2 li{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#6c8ca2;
	font-size: 0.9em;
	padding: 0 0 0 0;
	margin: 2px 0 0 13px;
}

.contenlinkstext2 li a{
	color:#6c8ca2;
	text-decoration:none;
}

.contenlinkstext2 li a:hover{
	color:#6c8ca2;
	text-decoration:underline;
}


/*Error 404*/

#error404 {
color: #ffffff;
background: no-repeat url(peugeot_404_en.jpg);
text-align: left;
margin: 0 auto;
width: 1000px;
height: auto;
background-color: #000000;
font-size: 1.1em;
margin-top:10px;
}

#error404 span {
font-size: 1.3em;
}

#error404 h1{
font-size: 2.8em;
float: none;
height: auto;
padding-top:20px;
padding-bottom: 45px;
margin: 0 auto;
}

#copy {
padding-left: 25px;
width: 320px;
height: auto;
}

#copy h2 {
font-size: 12px;
padding-bottom: 5px;
}

#copy ul {
padding-left: 40px;
}

#copy li {
padding-bottom: 5px;
color:#ffffff;
list-style: disc;
}

#copy a {
color: #f26522;
text-decoration: none;
}


#column1 #tools{
margin:0px;
float:left;
}




/* SITE MAP */




#sitemap {
	float: left;
	height: auto;
	width: 677px;
	padding-top:5px;
	padding-left:5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}


#sitemap .linkNormal{
	width:669px;
	background-color:#b5d1db;
	height:22px;
	margin-bottom:5px;
	margin-top:5px;
	padding-left:10px;
	padding-top:3px;
	font-size:1.2em;
	font-weight:bold;
	padding-top:8px;
}

#sitemap .linkBlack{
	width:680px;
	padding-left:5px;
	background-color:#d8e6ec;
	padding:0px;
	margin:0px;
	border:0px;
	color:#000000;
	height:auto;
	font-size:1.2em;
	font-weight:bold;
	padding-bottom:8px;
	padding-top:3px;
	background-image: url(img_sitemap_ul.jpg);
	background-repeat: no-repeat;
	background-position: 8px 8px;

}

#sitemap .linkBlack a{
color:#000000;

}

#sitemap .linkBlack a:hover{
color:#000000;
text-decoration:underline;
}

#sitemap .SubLink{
	width:662px;
	background-color:#e7f6f9;
	margin-bottom:5px;
	border: 1px solid #CCCCCC;
	font-size:0.8em;
	font-weight:bold;
	padding-top:5px;
	padding-left:15px;
	height:15px;
	background-image: url(img_sitemap.jpg);
	background-repeat: no-repeat;
	background-position: 17px 8px;
	margin-top:5px;
}
#sitemap .SubLink a{
	color:#496ca7;
}
#sitemap .SubLink a:hover{
	color:#496ca7;
	text-decoration:underline;
}
#sitemap li{
color:#214992;
list-style:none;
margin-bottom:10px;
height:20px;
}
#sitemap li a{
color:#000;
list-style:disc;
padding-left:10px;
text-decoration:none;
}
#sitemap ul ul li a{
	color:#496ca7;
	list-style:disc;
	padding-left:15px;
	margin-bottom:10px;
	text-decoration:none;
}

/*Align right*/
.rightstyle{
	float:right;
	font-size:1.5em;
}

#section_article_level2 #column1 {
	background:0;
	height:auto;
}