/* global */
body {
	position: relative;
}
#breadcrumbs {
	position:relative;
	z-index:-10;
	float:none;
}
/* search bar */
#extranav{
	width:260px;
}
#extranav form {
	width:150px;
}
/**/
/* navigation */
#nav_container {
	margin:33px 0 0;
}
#nav li:hover ul,
#nav ul li:hover ul {
	display:inline;
}
#nav ul li {
	display:inline;
}
#nav ul ul {
	top:1px;
}
/**/
#footer {
	padding: 0 0 25px 0;
}
h2.sifred {
	top:253px;
	left:24px;
}
h2.onflash {
	top: -33px;
}
/* headers */
h3 a, h3 a:visited {
	height:1px; /* forces ie6 to display block */
}

/* homepage */
#section_home #column3 p {
	padding-bottom:0;
	margin-bottom:-3px;
	margin-left:-5px;
}
#section_home #column3 input {
	margin-right:-5px;
}
#section_home #column3 button {
	margin-bottom:2px;
}
#section2 img, #home_featured {/* fix for ie floated peekaboo bug */
	position:relative;
}
.contenlinkstext2 ul li {
	list-style-type:disc;
}

/* Calender Styles */
.calendar-month {
	margin-bottom: -1.1em;
}

/* search page */
#section_search #column1 {
	height:432px;
}
.search_results {
	margin:8px 4px;
}
.search-container {
	margin:8px 4px;
}
.search-container ul.search-results {
	margin:8px 4px -36px 4px;
	width:696px;
}
/* news section */
.news_list li {
	margin-bottom:-2px;
}
#news_story_detail {
	height:304px;
}
#news_list_popular li span {
	cursor:pointer;
}
.search_button {
	margin-bottom:-2px;
}
#section_news .search-container ul.search-results {
	width:646px;
}
#news-search select {
	display: inline;
}
/* News search */
fieldset.date-range {
	margin-top:1px;
}
fieldset.date-range.with-results {
	width:370px;
}
fieldset.date-range legend {
	margin:-3px 0px 8px -8px;
}
fieldset.date-range.with-results select {
	width:7em;
}
fieldset.categories.two-col {
	width:135px;
}
#news-search .submit-button {
	width:152px;
}
#news-search .submit-button.narrow {
	width:120px;
}
#news-search button {
	margin-bottom:11px;
}
#articles ul li a {
	height: 1em;
}
.separator{
	padding-bottom:5px;
}
.separator fieldset{
	float:left;
	padding-left:20px;
}

/* SITE MAP */
#sitemap {
	height: auto;
	width:auto;
}
#sitemap .linkBlack{
padding-left:5px;
background-color:#d8e6ec;
color:#000000;
font-size:0.9em;
font-weight:bold;
padding-bottom:3px;
height:auto;
width:665px;
}
#sitemap .SubLink{
background-color:#e7f6f9;
margin-bottom:5px;
border: 1px solid #CCCCCC;
font-size:0.8em;
font-weight:bold;
width:645px;
}
#sitemap .linkNormal{
background-color:#b5d1db;
height:auto;
font-size:1.2em;
font-weight:bold;
margin-bottom:5px;
padding-bottom:5px;
}

/* Xbox concours */
#column2Concours {
	background:url(http://www.peugeot.com/images/concours_xbox/bg_main.jpg) top repeat-x !important;
	width:682px;
}
#main, #mainResults {
	height:481px;
}
#mainResults ul {
	float:left;
}
#mainResults li {
	white-space:nowrap;
}
#box2 {
	width:564px;
	margin:30px 0 0 23px;
}
#column2Concours {
	background:url(http://www.peugeot.com/images/concours_xbox/bg_main.jpg) top repeat-x;
	float:left;
	width:685px;
	color:#6c8ca2;
	height:400px;
}
ul.article_tools ul.article_rating li a { text-indent: 0; font-size: 0; }
ul.article_rating li a { display:block; padding-left:-10px; }
ul.article_rating li { padding:0px; margin-right:1px; float: left; }

#news_story ul li.right {
	width:220px;
	display:block;
	padding-left:5px;
}

/* rebranding homepage fixes */
.contenlinkstext2 {
	width:139px;
}
.contenlinkstitle2 {
	width:139px;
}

/* generic fixes  */

span.check input {
	border:0 !important;
}
