/* global */
h2.sifred {
	top:253px;
	left:24px;
}
h2.onflash {
	top: -33px;
}
/* search bar */
#extranav{
	width:260px;
}
#extranav form {
	width:154px;
}
/**/
/* navigation */
#nav_container {
	margin:32px 0 0;
}
#nav li:hover ul,
#nav ul li:hover ul {
	display:inline;
}
#nav ul li {
	display:inline;
}
#nav ul ul {
	top:0;
}
/**/
#footer {
	padding: 0 0 25px 0;
}
/* homepage */
#section_home #column3 p {
	padding-bottom:0;
	margin-bottom:-3px;
	margin-left:-5px;
}
#section_home #column3 input {
	margin-right:-5px;
}
#section_home #column3 button {
	margin-bottom:2px;
}
.contenlinkstext2 ul li {
	list-style-type:disc;
}

/* Calender Styles */
/* N.B. duplicate of style in ie6.css - can be merged? */
.calendar-month {
	margin-bottom: -1.1em;
}

/* search page */
#section_search #column1 {
	min-height:432px;
}
 
/* news section */
/*.news_list li {
	margin-bottom:-2px;
}*/
#section_home ul.news_list {
	width:283px;
}
#column3 li h5 a, #column3 li h5 a:visited {
	left:185px;
}
#column2 img {
	margin-right:-1px;
}
#news_story_detail {
	float:left;
	width:686px;
}
#news_list_popular li span {
	cursor:pointer;
}
#news-search select {
	display: inline;
}
/* news search */
fieldset.text-search label {
	top:-1px;
}
fieldset.date-range {
	width:386px;
}
fieldset.date-range legend {
	margin:-3px 0px 8px -8px;
}
fieldset.categories, #news-search .submit-button {
	position:relative;
	top:-2px;
}
#news-search .submit-button {
	width:157px;
}
#news-search button {
	margin:27px 0px 10px 10px;
}
#NewsletterSubscription_21_chkTerms {
	margin: -4px 2px 0 -5px;
}

/* SITE MAP */
#sitemap {
	height: auto;
}


#sitemap .linkNormal{
margin-bottom:20px;
padding-bottom:10px;

}


#sitemap .linkBlack{
padding-left:5px;
background-color:#d8e6ec;
color:#000000;
font-size:0.9em;
font-weight:bold;
height:auto;
width:665px;
}

#sitemap .SubLink{
background-color:#e7f6f9;
margin-bottom:5px;
border: 1px solid #CCCCCC;
font-size:0.8em;
font-weight:bold;
width:635px;

}


#sitemap .linkNormal{
background-color:#b5d1db;
height:auto;
font-size:1.2em;
font-weight:bold;

}



/* Xbox concours */
#mainResults ul {
	float:left;
}
#mainResults li {
	white-space:nowrap;
}

ul.article_tools ul.article_rating li a { text-indent: 0; font-size: 0; }
ul.article_rating li a { display:block; padding-left:-10px; }
ul.article_rating li { padding:0px; margin-right:1px; float: left; }

#news_story ul li.right {
	width:220px;
	display:block;
	padding-left:5px;
}

span.check input {
	border:0 !important;
}

