/* GENERAL STYLES */
/******************** navigation ********************/
#extranav {
	float:right;
}
#extranav ul {
	float:right;
	background-color:#c0d2e7;
	text-align:center;
	height:19px;
	padding:4px 0 0 0;
}
#extranav li {
	float:left;
	color:#fff;
}
#extranav li a, #extranav li a:visited {
	float:left;
	padding:0px 7px 0px 7px;
	color:#fff;
}
#extranav li#contact a, #extranav li#contact a:visited {
	color:#fff;
	border-right:none;
}
#extranav form {
	clear:right;
	float:right;
	display:block;
}
#bicent {
	float:right;
	clear:right;
	padding:12px 25px 0 0;
}
#extranav_search fieldset {
	float:left;
	padding-right:25px;
}
#extranav input {
	float: left;
	width:110px;
	padding:2px;
	border-top:1px solid #d3d3d3;
	border-bottom:1px solid #d3d3d3;
	border-left:1px solid #d3d3d3;
	color:#929EA7;
	font-size: 1em;
}
#extranav input#search {
	width: 18px;
	height: 19px;
	padding: 0;
	border:0;
}
/********************** main navigation **********************/
#nav_container {
	z-index:9999;
	float:left;
	width:764px;
	margin: 35px 0 0 0;
}
#nav {
	position: relative;
	left:8px;
	float: left;
	padding: 45px 0 0 0;
}
#nav li {
	float: left;
	position: relative;
}
#nav a, #nav a:visited {
	color: #8C8C8C;
	font-size:1.0em;
	text-transform: uppercase;
}
/* Primary Nav background image styling */
#nav li.primary-nav a.primary-nav {
	display:block;
	line-height:21px;
}
#nav li.primary-nav {
	display:inline;
}
#nav li.primary-nav a.primary-nav span {
	padding:0 15px;
}
#nav li.primary-nav:hover a.primary-nav {
	cursor:default;
}
#nav a:hover {
	color:#434e65;
	text-decoration: none;
}
/* 2nd level */ 
#nav ul {
	z-index:9999;
	position: absolute;
	top: 21px;
	left: 0;
	border-bottom: 1px solid #8C8C8C;
	font-size: 1em;
}
#nav ul {
	display: none;
}
#nav li:hover ul {
	display: block;
}
#nav ul li {
	display: block;
	float: none;
	width: 150px;
	border-top: 1px solid #8C8C8C;
	line-height:1.4em;
}
#nav ul li a {
	display: block;
	float: none;
	width:145px;
	padding: 3px 0 4px 4px;
	background:#fff;
}
#nav ul li:hover a{
	background:#fff;
}
/* 3rd level */ 
#nav ul ul {
	z-index:9999;
	left: 150px;
	width: 145px;
	top: -1px;
	font-size: 1em;
}
#nav li:hover ul ul {
	display: none;
}
#nav ul li:hover ul {
	display: block;
}
#nav ul li:hover ul a{
	width: 145px;
	border: 0;
	background:#fff;
}
#nav ul ul li a:hover {
	border: 0;
	background:#fff;
}
/* breadcrumbs */
#breadcrumbs {
	width: 760px;
	float: left;
	padding: 10px 0 10px 0;
}
#breadcrumbs li {
	float: left;
	color: #929ea7;
}
#breadcrumbs a, #breadcrumbs a:visited {
	color: #929ea7;
	padding-right: 5px;
}
.breadcrumb {
	padding-right: 5px;
}





/* EDITOR PROPERTIES */
