/*=:project
    scalable Inman Flash Replacement (sIFR) version 3.

  =:file
    Copyright:2006 Mark Wubben.
    Author:Mark Wubben, <http://novemberborn.net/>

  =:history
    * IFR:Shaun Inman
    * sIFR 1:Mike Davidson, Shaun Inman and Tomas Jogin
    * sIFR 2:Mike Davidson, Shaun Inman, Tomas Jogin and Mark Wubben

  =:license
    This software is licensed and provided under the CC-GNU LGPL.
    See <http://creativecommons.org/licenses/LGPL/2.1/>    
*/

/*---- sIFR ---*/
.sIFR-flash {
	visibility:visible !important;
	margin:0;
	padding:0;
}
.sIFR-replaced, .sIFR-ignore {
	visibility:visible !important;
}
.sIFR-alternate {
	position:absolute;
	left:0;
	top:0;
	width:0;
	height:0;
	display:block;
	overflow:hidden;
}

/*---- Header styling ---*/
h2.sifred {
	position:absolute;
	top:261px;
	padding:0;
	margin:0;
	width:100%;
	color:#b5d1db;
	font-size:36px;
	font-weight: 100;
	text-indent: 18px;
	line-height:1em;
	letter-spacing: -2px;
	text-transform: uppercase;
}
h2.onflash {
	top: -33px;
}
h1.sifredhome {
	padding:0;
	margin:0;
	color:#000000;
	font-size:11px;
	font-weight: 100;
	line-height:1em;
	letter-spacing: -2px;
	text-transform: uppercase;
}

h2.sifredhome {
	padding:0;
	margin:0;
	color:#000000;
	font-size:16px;
	font-weight: 100;
	line-height:1em;
	letter-spacing: -2px;
	text-transform: uppercase;
}

h3.sifredhome {
	padding:3px 0 0 5px;
	margin:0;
	color:#000000;
	font-size:13px;
	font-weight: 100;
	line-height:1em;
	letter-spacing: -2px;
	text-transform: uppercase;
}