body {font: normal 12px Arial,Helvetica,undotum,sans-serif; background-color: #6fd5ec; /*#284269; #E31414*/ }


A:link {  color: #005ba4; text-decoration: none}
A:visited {  color: #005ba4; text-decoration: none}
A:hover {  color: #005ba4; text-decoration: underline}
input {font: normal 12px Arial,Helvetica,undotum,sans-serif; border: 1px solid black}
p {  font: normal 12px Arial,undotum,Helvetica, sans-serif}
h1 { font-size: 24px; display:inline}
h2 { display:inline}
td { font: normal 12px Arial,Helvetica,undotum,sans-serif}
th {font: normal 12px Arial,Helvetica,undotum,sans-serif}
div {font: normal 12px Arial,Helvetica,undotum,sans-serif}
img {border-style: none} 
table {border-collapse:collapse }

html>body .iespacer { display:inline }

.iespacer {width:600px;height:1px;font-size:0px;border:none;margin:0px;padding:0px}
.firstlevel, .secondlevel, .thirdlevel { clear: left;font-size:10px;background: white url(ul-bg.gif) repeat-x}
.nmstage1 { height:24px}
.nmstage3 { height:26px }
#nmenu ul {position:relative;padding:0px;margin:0px;list-style-type:none;min-width:600px;width:auto;height:25px}
#nmenu ul li.in {float:left;_margin-top: -2px;height:21px;_height:23px;position:relative;margin-left: 1px}
#nmenu ul li.inhome {float:left;_margin-top:-2px;height:23px;position:relative;width:5%;_width:5.2%}
#nmenu ul li a {display:block;float:left;width:100%;text-decoration:none;text-align:center;text-decoration:none;color:#135d98;font: bold 11px Arial,Helvetica,undotum,sans-serif;padding: 4px 0px}
.norm {width: 13.2%;_width: 13%;min-width: 65px}
.large {width: 17.2%;_width: 17%;min-width: 100px}
.nrm {background: transparent url(ul-bg-nohover.gif) top center no-repeat;white-space: nowrap}
.lrg {background: transparent url(ul-bgl-nohover.gif) top center no-repeat;white-space: nowrap}
#nmenu a.nrm:hover {background: transparent url(ul-bg-hover.gif) top center no-repeat;color: white} 
#nmenu a.lrg:hover {background: transparent url(ul-bgl-hover.gif) top center no-repeat;color: white} 
#nmenu ul li.inhome a {display:block;float:left;width:100%;height:22px;background: transparent url(ul-accueil-off.gif) top center no-repeat}
#nmenu ul li.inhome a:hover {background: transparent url(ul-accueil-on.gif) top center no-repeat}
#nmenu ul li.search {width:80%;float:left;margin-top: -2px;margin-left: 1px}
#nmenu ul li.search form { display: inline}
#nmenu ul li.search form input {display:block;float:left;width:80%; margin-top:2px;height:20px; margin-left: 10px; border:1px solid black; background:#FFFFFF; font: normal 12px Arial,Helvetica,undotum,sans-serif; letter-spacing: 1.2px}
#nmenu ul li.search form input.hidden {border:0px;height:0px}

#nmenu ul li.search input.rechercher {border:0px;width:34px; position: absolute;margin-left: 66%; }
/*#nmenu ul li.search input.rechercher {border:0px;width:34px; margin-top:-22px; _margin-top:2px}*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#nmenu ul li.search input.rechercher {margin-top:2px;}
}
#nmenu ul li#currentacc a {background: transparent url(ul-accueil-on.gif) top center no-repeat;color:white}
#nmenu ul li#currentnrm a {background: transparent url(ul-bg-hover.gif) top center no-repeat;white-space: nowrap;color:white}
#nmenu ul li#currentlrg a {background: transparent url(ul-bgl-hover.gif) top center no-repeat;white-space: nowrap;color:white}

#menusoldes {margin-bottom: 5px;width: 130px; height: 182px;  background-image: url('bg_menu_soldes_sum07.gif'); background-repeat: no-repeat;}
#menusoldes div {padding-left: 2px}
#menusoldes div a {border: 1px solid transparent}
#menusoldes div a:hover {border: 1px solid #FFEB8A}
#afooter {font-size: 10px; color:#DDD}
#afooter a {color: #DDD;}
#maliste{margin: 0px;padding: 4px 5px 0px 1px;list-style: none;vertical-align: top;font: normal 10px Arial,Helvetica,undotum,sans-serif;display:block}
#maliste li {border: 0px solid black;padding-left: 12px;background:transparent url(puce_menu_1.gif) 3px top no-repeat}
#maliste li ul li{list-style-type: none;border: 0px solid black;background:transparent url(puce_ssmenu.gif) 3px 0px no-repeat}
#maliste li.subtitle {background-image: none;text-align: left; font: bold 11px Arial,Helvetica,undotum,sans-serif; padding: 2px}

#maliste a {color:black;}
#maliste li.mainli {border: 1px solid #C3D6E5;padding: 2px 0px 1px;_padding: 0px 0px;position: relative}
#maliste li.mainli ul {padding: 5px 0px;margin-left: -1px}
.entreerub {display: block;position: absolute;margin-top: -12px;_margin-top: -15px;margin-left: 11px;padding: 0px}
.mainli ul {list-style-type: none;font-size: 10px}
.mainli ul li {padding: 0px}
.mainli {list-style-type: none}
.mainli img {padding: 0px;margin-top: -1px}



.main-header { background:transparent url('entete_spring2010.jpg') top left repeat-x; height:94px}
.main-logo {width:270px;height:70px}
.top-pub { position:absolute;right:1px;width:730px;height:94px;top:1px;text-align:right}

#nolink {text-decoration:none;color:black}
#nolinkw {text-decoration:none;color:white}

#nolinkg {text-decoration: none;color: #708C94}
#cstr h2, #cstr { font-size: 9px; color: #FFFFFF}
#leftpart {position: absolute; left: 100%; margin-left: -174px; top: 94px;}

.cadre1 ul {list-style-type:none;padding-left:5px;margin:0px;padding-top:5px;}
.cadre1 ul li {padding: 7px 0px;_padding: 6px 0px;}
.cadre1 ul li ul li {font-size:10px;background-image: url('chxbtk.gif');background-repeat: no-repeat;background-position: 0px 4px; padding: 0px 0px 0px 8px}
.cadre2 {vertical-align: top;font-size: 10px;text-align: left;width: 128px;_width: 130px;display: block;border-left: 1px solid black;border-right: 1px solid black;background-color: #C4D5EA;}
.entreebtk {display: block;margin: -15px 0px 0px 15px;_margin-top: -18px;background:transparent url('carrempty.gif') 0px 4px no-repeat}


.btk {display: block;position: absolute;margin-top: -13px;_margin-top: -16px;margin-left: 11px;padding: 0px}
a.btk img { border: 1px solid #C4D5EA}
a.btk:hover img {border: 1px solid #105487}
.btklogo {margin-left:-3px;padding:0px;}
.btklogo img {margin-top: -3px}
.btklogo a img {border: 1px solid #C4D5EA;vertical-align:-3px}
.btklogo a:hover img {border: 1px solid #105487}

.white {color: white;}
.splitmenu2, .splitmenu5 { display: block; width: 1px; height: 15px; font-size: 1px; background-color: #9CC4D2; margin: 0px 50%; }
.myHR{	border-bottom: 1px solid black;	margin: 3px 30px 3px 20px;display: block}
.cadre1 {vertical-align: top;text-align: left;font-size: 10px;width: 128px;_width: 130px;display: block;border-left: 1px solid black;border-right: 1px solid black;background-color: #C4D5EA}
.ablk a {color: black}
.bloc_menu {display:block;background-color:#C4D4EB;border: 0px solid black;border-width: 0px 1px 0px 1px;}
.barre {text-decoration:line-through;font-size:13px}
.rien {border:0px;width:20px;font: bold 14px Arial,Helvetica,undotum,sans-serif;color:red }
.red {color: #FF0000;}
.blk{color: black; }
.v05{font-size:5px}
.v06{font-size:6px}
.v07{font-size:7px}
.v08{font-size:8px}
.v09{font-size:9px}
.v10{font-size:10px}
.v11{font-size:11px}
.v12{font-size:12px}
.v13{font-size:13px}
.v14{font-size:14px}
.v15{font-size:15px}
.v16{font-size:16px}
.v17{font-size:17px}
.v18{font-size:18px}
.v19{font-size:19px}
.v20{font-size:20px}
.v24{font-size:24px}
.v32{font-size:32px}
.v36{font-size:36px}
.v48{font-size:48px}
.prixhome {color:#FF0000;font: normal 32px Impact,Helvetica,undotum,sans-serif}
.bg_habillage {
background: #6fd5ec url(bg_spring2010.jpg) bottom left repeat-x;
background-attachment: fixed;
} 
.menumove {display:block;position:absolute;top:94px;left:4px}
.splitmenu {display:block;width:1px;height:16px;background-color:#9CC4D2;font-size:4px}
.ecopart {font-size:9px;color:#42A539}

.narrow {font-size:9px}	
.ls5 {letter-spacing:0.5px}
#meal01, #meal02, #meal03, #meal04{display:none;list-style-type:none;margin-left: -10px;padding:0px}
.mb10 {margin-bottom:10px}


#ul10rec li {
	list-style-type: none;
	background-image: url(puce_menu.gif);
	background-repeat: no-repeat;
	background-position: 2px 5px;
	_background-position: 2px 7px;
	border-bottom: 1px solid #A6C1E0;
	padding: 5px 0px;
	
}

ul#ul10rec {
	margin: 0px;
	padding: 0px 5px;
	list-style-type: none;
	text-align: left;
}

#ul10rec a {
	margin-left: 12px;
	color: black;
}
span.lnk {cursor:pointer}
span.lnk:hover {text-decoration:underline}
.expbtn {cursor:pointer;_cursor:hand; margin-top:-1px; _margin-top:-2px;  }
.fpTitleCarac {color:#002FAA}