/* CSS Document */
body {
  background-color: #000000;
  font-family:Arial, Helvetica, sans-serif;
  color:#FFFFFF;
}
.flash{
	position:relative; 
	float:left;
}
.objet{
	position:relative; 
	z-index:20;
}
.derriere{
	position:absolute; 
	top:0px; 
	left:0px;
	width:647px;
	height:279px;
	overflow:scroll;
	z-index:1;
}
.menu_gauche{
	float:left;
}
.contenu{
	float:left;
}
/* _________ Texte _________ */
h1{
	font-size:15px;
	font-weight:bold;
}
h2{
	display:inline;
	font-size:13px;
	font-weight:bold;
}
h3{
	display:inline;
	font-size:11px;
	font-weight:normal;
}
.lien a{
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:none;
}
