/*
             |----------------------------|
   			 |  Styles Sud-de-France-dev  |
		     |----------------------------|			
*/
body {
	margin:0 0 20px 0;
	font:normal 70% Verdana,Arial,Helvetica,sans-serif;
	text-align:left;
	background:url(fond-site.gif) repeat-x top center #d0d9de;
}
.convertir_en_pdf_ok body, .convertir_en_pdf_oui body {
	background-color:#FFF;
	background-image:none;
}
/*--------------------------- Containers principaux -------------------------*/
#bandeau {
	position:relative;
	width:920px;
	height:195px !important;
	height:195px !important!;
	height:198px;
	margin-left:auto;
	margin-right:auto;
	background:url(fond-bandeau.jpg) no-repeat top center;
}
#bandeau-impression {
	float:left;
	width:670px;
	height:103px;
	padding:5px 0 15px 0;
	background-color:#FFF;
}
#bandeau-haut {
	float:left;
	width:660px !important;
	width:650px !important!;
	width:650px;
	height:17px;
	margin:20px 0 0 10px !important;
	margin:20px 0 0 10px !important!;
	margin:20px 0 0 5px;
	/*background-color:#eee;*/
}

/*---------------- langues -----------------*/
#langues {
	width:60px;
	height:17px;
	float:left;
	
	/*display:none;*/
}
#langue-on {
	width:19px;
	height:13px;
	overflow:hidden;
	background-color:#d0d9de;
	border:1px solid #0588cb;
	padding:1px;
	float:left;
}
#langue-select {
	width:16px;
	height:17px;
	float:left;
}
#langue-choix {
	position:absolute;
	top:37px;
	left:10px;
	z-index:2;
	width:37px;
	/*height:38px;*/
	background-color:#d0d9de;
	display:none;
	padding:3px 0 0 0;
	border-right:1px solid #0588cb;
	border-bottom:1px solid #0588cb;
	border-left:1px solid #0588cb;
	text-align:left;
}
#langue-choix ul, #langue-choix li {
	margin:0px;
	padding:0px;
	background-image:none;
}
a.smenu_langue {
	width:auto;
	height:13px;
	padding:2px 1px;
	margin:0px;
	display:block;
}
a.smenu_langue:hover {
	width:auto;
	height:13px;
	background-color:#adbac2;
	padding:2px 1px;
	margin:0px;
	display:block;
}
/*---------------- fin langues -----------------*/
#baseline {
	position:absolute;
	top:23px;
	left:55px;
	z-index:9;
	width:220px;
	font-size:9px;
	color:#0588cb;
}
#baseline-opacite {
	position:absolute;
	top:20px;
	left:55px;
	width:220px;
	height:18px;
	background:transparent url(baseline-opacite.png) no-repeat !important; 
	background:none; 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/baseline-opacite.png', sizingMethod='crop'); 
	zoom:1;
	z-index:10;
}
#login {
	position:relative;
	width:410px;
	float:right;
}
.message-id1, .message-id2 {
	position:absolute;
	top:3px;
	left:229px !important;
	left:237px !important!;
	left:237px;
	z-index:2;
	width:173px;
	background-color:#fff;
	text-align:left;
	font-size:9px;
}
.message-id2 {
	top:-3px;
}
#login-on, #login-off {
	font-size:9px;
	text-align:right;
	width:410px;
	float:right;
	margin-right:10px !important;
	margin-right:0 !important!;
	margin-right:0;
}
#login-off {
	color:#b5b5b5;
	width:390px;
	margin-right:0 !important;
}
#login-on {
	margin-top:3px;
	margin-bottom:0 !important;
	margin-bottom:0 !important!;
	margin-bottom:4px;
}
.identification {
	font-size:10px;
	font-weight:bold;
}
#bandeau-bas {
	position:relative;
	float:left;
	width:900px;
	height:138px;
	margin:10px 0 0 10px !important;
	margin:10px 0 0 10px !important!;
	margin:10px 0 0 5px;
	background:url(image-bandeau.jpg) no-repeat top center;
	overflow:hidden;
}
#logo {
	float:left;
	width:363px;
	height:60px;
}
#menu-fr, #menu-en {
	float:right;
	width:478px;
	height:31px;
	margin-top:107px;
	background:url(fond-menu.jpg) no-repeat top center;
}
#menu-en {
	background:url(fond-menu-en.jpg) no-repeat top center;	
}
#menu-select-fr-1, #menu-select-fr-2, #menu-select-fr-3, #menu-select-fr-4 {
	position:absolute;
	top:186px !important;
	top:186px !important!;
	top:188px;
	left:540px;
	z-index:3;
	width:7px;
	height:4px;
	background:url(menu-select.gif) no-repeat;
}
#menu-select-fr-2 {
	left:627px;
}
#menu-select-fr-3 {
	left:738px;
}
#menu-select-fr-4 {
	left:853px;
}
#menu-select-en-1, #menu-select-en-2, #menu-select-en-3, #menu-select-en-4 {
	position:absolute;
	top:186px !important;
	top:186px !important!;
	top:188px;
	left:604px;
	z-index:3;
	width:7px;
	height:4px;
	background:url(menu-select.gif) no-repeat;
}
#menu-select-en-2 {
	left:685px;
}
#menu-select-en-3 {
	left:773px;
}
#menu-select-en-4 {
	left:863px;
}
.smenu-fr {
	position:absolute;
	top:-10px !important;
	top:-10px !important!;
	top:-11px;
	left:680px;
	z-index:11;
	width:122px;
	height:auto;
	display:none;
}
a.smenu-fr_btn, a.smenu-fr_btn:hover {
	width:98px !important;
	width:98px !important!;
	width:100px;
	color:#fff;
	text-decoration:none;
	border-top:1px solid #a70058;
	padding:7px 12px !important;
	padding:7px 12px !important!;
	padding:7px 10px 7px 12px;
	display:block;
	background-color:#a70058;
}
a.smenu-fr_btn:hover {
	background-color:#c40067;
}
.smenu-en {
	position:absolute;
	top:-10px !important;
	top:-10px !important!;
	top:-11px;
	left:733px;
	z-index:11;
	width:91px;
	height:auto;
	display:none;
}
a.smenu-en_btn, a.smenu-en_btn:hover {
	width:81px !important;
	width:81px !important!;
	width:81px;
	color:#fff;
	text-decoration:none;
	border-top:1px solid #a70058;
	padding:7px 5px !important;
	padding:7px 5px !important!;
	padding:7px 5px 7px 5px;
	display:block;
	background-color:#a70058;
}
a.smenu-en_btn:hover {
	background-color:#c40067;
}

#entree-pro {
	position:absolute;
	top:72px;
	left:724px;
	z-index:2;
	width:171px;
	height:30px;
}
.entree-pro-off {
	background:transparent url(bouton-pro-off.png) no-repeat top !important; 
	background:none; 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bouton-pro-off.png', sizingMethod='crop'); 
	zoom:1;
}
#entree-pro.entree-pro-on {
	background:transparent url(bouton-pro-on.png) no-repeat bottom !important; 
	background:none; 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bouton-pro-on.png', sizingMethod='crop'); 
	zoom:1;
}
#entree-pro a {
	display:block;
	font-size:1.2em;
	font-weight:bold;
	font-family:Arial,Helvetica,sans-serif;
	color:#FFFFFF;
	text-decoration:none;
	text-align:left;
	margin:4px;
	height:21px;
	padding-top:2px;
	padding-left:12px;
	background:url(picto-lien-pro.gif) no-repeat center right;
}
#entree-pro.entree-pro-on a {
	background:url(picto-lien-pro-on.gif) no-repeat center right;
}
#recherche-site,
#recherche-site2 {
	position:absolute;
	top:107px;
	left:6px;
	z-index:2;
	width:190px;
	height:25px;
	padding:1px 0 1px 1px !important;
	padding:0 1px 0 1px !important!;
	/*padding:3px;*/
}
#recherche-site {
	background:transparent url(recherche-halo.png) no-repeat !important; 
	background:none; 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/recherche-halo.png', sizingMethod='crop'); 
	zoom:1;
}
#logo-region {
	position:absolute;
	top:0px;
	left:843px;
	z-index:2;
	width:64px;
	height:86px;
	padding:0 6px;
	background:transparent url(logo-region-ombre.png) no-repeat !important; 
	background:none; 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/logo-region-ombre.png', sizingMethod='crop'); 
	zoom:1;
}
#contenu-all {
	position:relative;
	width:920px;
	margin-left:auto;
	margin-right:auto;
	background:url(fond-contenu.gif) no-repeat top center;
	height:auto !important;
	height:353px;
	min-height:353px;
	padding-top:10px;
}
.page_spe_accueil #contenu-all {
	background:url(fond-contenu-accueil.gif) no-repeat top center;
	/*padding-top:35px;
	height:328px;
	min-height:328px;*/
}
.convertir_en_pdf_ok #contenu-all, .convertir_en_pdf_oui #contenu-all {
	background-image:none;
}
#contenu-0 {
	float:left;
	width:900px;
	padding:0 0 20px 0;
	margin-left:10px !important;
	margin-left:10px !important!;
	margin-left:5px;
	background:url(fond-contenu-0.gif) repeat-y;
}
.page_spe_accueil #contenu-0 {
	padding:0;
	background:url(fond-contenu-0-accueil.gif) repeat-y;
}
.convertir_en_pdf_ok #contenu-0, .convertir_en_pdf_oui #contenu-0 {
	background-image:none;
}
#menu2 {
	width:200px;
	float:left;
	padding:10px 0 40px 0;
	color:#fff;
}
.page_spe_accueil #menu2 {
	width:187px;
	padding:0 3px 10px 10px;
	color:#000;
}
/*
.menu2_sans_menu #menu2 {
	display:none;
}
*/
#separation-menu2 {
	position:absolute;
	top:5px;
	left:190px;
	z-index:3;
	width:20px;
	height:40px;
	background:url(menu2-ombre.gif) no-repeat;
}
#separation-menu2-bas {
	position:absolute;
	top:-40px;
	left:190px;
	z-index:3;
	width:20px;
	height:40px;
	background:url(menu2-ombre-bas.gif) no-repeat;
}
.encart-gauche {
	margin-bottom:30px;
}
#contenu {
	float:left;
	width:670px;
	padding:0 10px 10px 20px !important;
	padding:0 10px 10px 20px !important!;
	padding:0 10px 10px 20px;
}
.page_spe_accueil #contenu {
	width:680px;
	padding:0 10px 10px 10px !important;
	padding:0 10px 10px 10px !important!;
	padding:0 10px 10px 10px;
}
/*--- Fond blanc pour l'impression ---*/
.page_spe_favoris #contenu, .page_spe_secteur #contenu,
.page_spe_fiche_entreprise #contenu, .page_spe_fiche_produit #contenu,
.page_recherche_globale #contenu {
	background-color:#FFF;
}
.page_spe_catalogue #contenu {
	padding:0 10px 10px 20px !important;
	padding:0 10px 10px 20px !important!;
	padding:0 0 10px 20px;
}
/*
.menu2_sans_menu #contenu {
	width:880px;
	margin-left:10px !important;
	margin-left:10px !important!;
	margin-left:5px;
}
*/
#pied-de-page {
	position:relative;
	width:920px;
	height:60px;
	margin-left:auto;
	margin-right:auto;
	background:url(fond-pied.gif) no-repeat top center;
	clear:both;
}
.page_spe_accueil #pied-de-page {
	background:url(fond-pied-accueil.gif) no-repeat top center;
}
.signature {
	float:left;
	width:152px;
	margin:23px 10px 0 10px !important;
	margin:23px 10px 0 10px !important!;
	margin:23px 10px 0 5px;
	padding-left:38px;
	color:#fff;
}
.page_spe_accueil .signature {
	color:#000;
}
.liens-footer {
	float:left;
	width:510px;
	margin:23px 0 0 10px !important;
	margin:23px 0 0 10px !important!;
	margin:23px 0 0 10px;
	text-align:center;
	color:#d0d9de;
}
.logo-septimanie {
	float:left;
	width:160px;
	height:40px;
	margin:10px 0 0 10px;
}
#sites-externes {
	position:relative;
	width:900px;
	height:160px;
	margin-left:auto;
	margin-right:auto;
	padding:0 10px;
	margin-top:10px;
	margin-bottom:20px;
	background:url(fond-sites.gif) no-repeat top center;
}
.blocs-sites {
	float:left;
	width:270px !important;
	width:270px !important!;
	width:260px;
	height:160px;
	text-align:center;
	margin:0 15px;
}
.titre-sites {
	padding:8px 0 0 0;
	font-size:1em;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#999;
	text-decoration:none;
}
.blocs-sites a, .blocs-sites a:hover {
	display:block;
	width:270px !important;
	width:270px !important!;
	width:260px;
	text-decoration:none;
	padding:2px 0;
	font-size:10px;
}

#photos-divers {
	background:url(fond-divers.gif) no-repeat top center;
	height:141px;
	width:200px;
	margin:0;
	padding:0;
}
#photos-divers img {
	padding:12px 0 0 12px;
}
/*--------------------------- Containers secondaires -------------------------*/



/*--- MENUS FR---*/
a.lien-onglet-fr-1, a.lien-onglet-fr-1:hover,
a.lien-onglet-fr-2, a.lien-onglet-fr-2:hover,
a.lien-onglet-fr-3, a.lien-onglet-fr-3:hover,
a.lien-onglet-fr-4, a.lien-onglet-fr-4:hover {
	width:74px;
	height:21px;
	display:block;
	float:left;
	font-size:1.1em;
	text-align:center;
	color:#fff;
	text-decoration:none;
	padding-top:10px;
	padding-left:75px;
	margin-right:1px;
	background:none;
}
a.lien-onglet-fr-1:hover, a.lien-onglet-fr-1-actif, a.lien-onglet-fr-1-actif:hover,
a.lien-onglet-fr-2:hover, a.lien-onglet-fr-2-actif, a.lien-onglet-fr-2-actif:hover,
a.lien-onglet-fr-3:hover, a.lien-onglet-fr-3-actif, a.lien-onglet-fr-3-actif:hover,
a.lien-onglet-fr-4:hover, a.lien-onglet-fr-4-actif, a.lien-onglet-fr-4-actif:hover {
	width:74px;
	height:21px;
	display:block;
	float:left;
	font-size:1.1em;
	text-align:center;
	color:#fff;
	text-decoration:none;
	padding-top:10px;
	padding-left:75px;
	margin-right:1px;
	background-image:url(onglet-1.jpg);
	background-repeat:no-repeat;
}
a.lien-onglet-fr-2, a.lien-onglet-fr-2:hover, a.lien-onglet-fr-2-actif, a.lien-onglet-fr-2-actif:hover {
	width:97px;
	padding-left:0;
}
a.lien-onglet-fr-3, a.lien-onglet-fr-3:hover, a.lien-onglet-fr-3-actif, a.lien-onglet-fr-3-actif:hover {
	width:122px;
	padding-left:0;
}
a.lien-onglet-fr-4, a.lien-onglet-fr-4:hover, a.lien-onglet-fr-4-actif, a.lien-onglet-fr-4-actif:hover {
	width:107px;
	padding-left:0;
	margin-right:0;
}
a.lien-onglet-fr-2:hover, a.lien-onglet-fr-2-actif, a.lien-onglet-fr-2-actif:hover {
	background-image:url(onglet-2.jpg);
	background-repeat:no-repeat;
}
a.lien-onglet-fr-3:hover, a.lien-onglet-fr-3-actif, a.lien-onglet-fr-3-actif:hover {
	background-image:url(onglet-3.jpg);
	background-repeat:no-repeat;
}
a.lien-onglet-fr-4:hover, a.lien-onglet-fr-4-actif, a.lien-onglet-fr-4-actif:hover {
	background-image:url(onglet-4.jpg);
	background-repeat:no-repeat;
}

/*--- MENUS EN---*/
a.lien-onglet-en-1, a.lien-onglet-en-1:hover,
a.lien-onglet-en-2, a.lien-onglet-en-2:hover,
a.lien-onglet-en-3, a.lien-onglet-en-3:hover,
a.lien-onglet-en-4, a.lien-onglet-en-4:hover {
	width:63px;
	height:21px;
	display:block;
	float:left;
	font-size:1.1em;
	text-align:center;
	color:#fff;
	text-decoration:none;
	padding-top:10px;
	padding-left:141px;
	margin-right:1px;
	background:none;
}
a.lien-onglet-en-1:hover, a.lien-onglet-en-1-actif, a.lien-onglet-en-1-actif:hover,
a.lien-onglet-en-2:hover, a.lien-onglet-en-2-actif, a.lien-onglet-en-2-actif:hover,
a.lien-onglet-en-3:hover, a.lien-onglet-en-3-actif, a.lien-onglet-en-3-actif:hover,
a.lien-onglet-en-4:hover, a.lien-onglet-en-4-actif, a.lien-onglet-en-4-actif:hover {
	width:63px;
	height:21px;
	display:block;
	float:left;
	font-size:1.1em;
	text-align:center;
	color:#fff;
	text-decoration:none;
	padding-top:10px;
	padding-left:141px;
	margin-right:1px;
	background-image:url(onglet-1-en.jpg);
	background-repeat:no-repeat;
}
a.lien-onglet-en-2, a.lien-onglet-en-2:hover, a.lien-onglet-en-2-actif, a.lien-onglet-en-2-actif:hover {
	width:95px;
	padding-left:0;
}
a.lien-onglet-en-3, a.lien-onglet-en-3:hover, a.lien-onglet-en-3-actif, a.lien-onglet-en-3-actif:hover {
	width:91px;
	padding-left:0;
}
a.lien-onglet-en-4, a.lien-onglet-en-4:hover, a.lien-onglet-en-4-actif, a.lien-onglet-en-4-actif:hover {
	width:85px;
	padding-left:0;
	margin-right:0;
}
a.lien-onglet-en-2:hover, a.lien-onglet-en-2-actif, a.lien-onglet-en-2-actif:hover {
	background-image:url(onglet-2-en.jpg);
	background-repeat:no-repeat;
}
a.lien-onglet-en-3:hover, a.lien-onglet-en-3-actif, a.lien-onglet-en-3-actif:hover {
	background-image:url(onglet-3-en.jpg);
	background-repeat:no-repeat;
}
a.lien-onglet-en-4:hover, a.lien-onglet-en-4-actif, a.lien-onglet-en-4-actif:hover {
	background-image:url(onglet-4-en.jpg);
	background-repeat:no-repeat;
}

/*--------------------------- Page Accueil -------------------------*/
#contenu-centre {
	width:494px;
	float:left;
	padding:0 6px 0 0;
}
.langue_en.page_spe_catalogue #contenu-centre {
	width:665px;
	float:left;
	padding:0 0 0 0;
}
.page_spe_accueil #contenu-centre {
	width:488px;
	float:left;
	padding:0 16px 0 6px;
}
.page_spe_accueil #contenu-centre h1.centre, 
.page_spe_accueil #contenu-centre p.centre, 
.page_spe_accueil #contenu-centre #encart-produits {
	padding:0 4px;
}
.vignette-produit, .vignette-produit-1, .vignette-produit-2, .vignette-produit-3, .vignette-produit-4 {
	width:158px;
	float:left;
	margin-right:7px;
	margin-bottom:23px;
}
.langue_en.page_spe_catalogue .vignette-produit, .langue_en.page_spe_catalogue .vignette-produit-1,
.langue_en.page_spe_catalogue .vignette-produit-2, .langue_en.page_spe_catalogue .vignette-produit-3,
.langue_en.page_spe_catalogue .vignette-produit-4 {
	width:158px;
	float:left;
	margin-right: 11px;
	margin-bottom:23px;
}
.vignette-produit-3 {
	margin-right:0;
}
.langue_en.page_spe_catalogue .vignette-produit-4 {
	margin-right:0;
}
.vignette-produit-haut {
	background:url(vignette-produit-haut.gif) no-repeat;
	width:158px;
	height:6px;
}
.vignette-produit-centre {
	background:url(vignette-produit-centre.gif) repeat-y;
	width:140px;
	padding:3px 9px;
}
.vignette-produit-bas {
	background:url(vignette-produit-bas.gif) no-repeat;
	width:158px;
	height:6px;
}
.vignette-produit .lien-page,
.vignette-produit-1 .lien-page,
.vignette-produit-2 .lien-page,
.vignette-produit-3 .lien-page,
.vignette-produit-4 .lien-page,
.vignette-produit .lien-page:hover,
.vignette-produit-1 .lien-page:hover,
.vignette-produit-2 .lien-page:hover,
.vignette-produit-3 .lien-page:hover,
.vignette-produit-4 .lien-page:hover {
	width:140px;
	display:block;
	text-align:center;
	padding:5px 0;
	background:url(picto-lien-vignette.gif) #eee no-repeat;
	height:36px;
}
.vignette-produit .lien-page:hover,
.vignette-produit-1 .lien-page:hover,
.vignette-produit-2 .lien-page:hover,
.vignette-produit-3 .lien-page:hover,
.vignette-produit-4 .lien-page:hover {
	width:138px;
	padding:4px 0;
	background:url(picto-lien-vignette-on.gif) #fff no-repeat;
	border:1px solid #eee;
}
.titre-produit {
	font-weight:bold;
	text-align:center;
	height:26px;
}
.liste-produit a {
	color:#000;
	text-decoration:underline;
	background:url(puce-lien.gif) no-repeat;
	padding:0 0 4px 6px;
	display:block;
}
#tags {
	width:480px;
	clear:both;
	margin:0 4px 27px 4px;
	text-align: center;
	padding:0;
	background-color:#eee;
}
.langue_en.page_spe_catalogue #tags {
	width:665px;
	clear:both;
	margin:0 4px 27px 4px;
	text-align: center;
	padding:0;
	background-color:#eee;
}
.tags-haut, .tags-milieu, .tags-bas {
	margin:0;
	padding:0;
}
.tags-haut {
	width:480px;
	height:8px;
	background: url(tags-haut.gif) no-repeat;
}
.langue_en.page_spe_catalogue .tags-haut {
	width:665px;
	height:8px;
	background: url(tags-haut.gif) repeat;
}
.tags-bas {
	width:480px;
	height:8px;
	background: url(tags-bas.gif) no-repeat;
}
.langue_en.page_spe_catalogue .tags-bas {
	width:665px;
	height:8px;
	background: url(tags-bas.gif) repeat;
}

/*-- bloc produits / entreprises --*/
 #encart-produits {
	width:670px;
}
.page_spe_accueil #encart-produits {
	width:480px;
}
#onglet-produits-1, #onglet-produits-2 {
	float:left;
	width:181px;
	height:24px;
	display:block;
	text-align:center;
	padding:8px 0 0 0;
	font-size:1.1em;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#0588cb;
	text-decoration:none;
}
#onglet-produits-1 {
	background-image:url(onglet-produits-1.gif);
}
.produits-1 #onglet-produits-1 {
	background-image:url(onglet-produits-1-on.gif);
	color:#000;
}
#onglet-produits-2 {
	width:207px;
	background-image:url(onglet-produits-2.gif);
}
.produits-2 #onglet-produits-2 {
	background-image:url(onglet-produits-2-on.gif);
	color:#000;
}
.encart-produits-droit {
	float:left;
	width:282px;
	height:31px;
	border-bottom:1px solid #0588cb;
	text-align:right;
}
.impression-gauche {
	float:left;
	width:640px;
}
.impression-droit {
	float:right;
	margin-bottom:1px;
	width:29px;
	height:29px;
}
.encart-produits-droit a, .impression-droit a {
	margin-top:1px;
	width:29px;
	height:29px;
}
.page_spe_accueil .encart-produits-droit {
	width:92px;
}
.texte-produits-1, .texte-produits-2 {
	float:left !important;
	float:left !important!;
	float:none;
	margin:0px;
	width:666px;
	display:none;
	padding:1px;
	border-left:1px solid #0588cb;
	border-right:1px solid #0588cb;
	border-bottom:1px solid #0588cb;
}
.page_spe_accueil .texte-produits-1, .page_spe_accueil .texte-produits-2 {
	width:476px;
}
.produits-2 .texte-produits-2,
.produits-1 .texte-produits-1 {
	display:block;
}
#liste-secteur {
	float:left;
	width:648px;
	border-top:1px solid #d0d9de;
	border-right:1px solid #d0d9de;
	border-bottom:3px solid #8b0049;
	border-left:1px solid #d0d9de;
	padding:10px !important;
	padding:10px !important!;
	padding:10px 0;
}
#liste-sous-secteur {
	float:left;
	width:648px;
	border-right:1px solid #d0d9de;
	border-bottom:1px solid #d0d9de;
	border-left:1px solid #d0d9de;
	padding:5px 10px 10px 10px !important;
	padding:5px 10px 10px 10px !important!;
	padding:5px 0 10px 0;
	background:url(select-sous-secteur.gif) no-repeat center top;
}
.marge-encart {
	clear:both;
	width:670px;
	height:30px;
}
.liste-bloc-1 {
	float:left;
	width:196px;
	margin-right:20px;
}
a.sous-secteur-select, a.sous-secteur-select:hover {
	font-weight:bold;
	color:#aa1764;
}
#bloc-3 {
	float:left;
	width:644px;
	padding:20px 18px 0 4px;
}
#fleche-selection {
	float:left;
	width:15px;
	height:16px;
	margin:12px 3px 0 0;
	background:url(fleche-selection-2.jpg) no-repeat;
}
.texte-produits-1 #fleche-selection {
	background:url(fleche-selection-2-pdt.jpg) no-repeat;
}
.page_spe_favoris .texte-produits-1 #fleche-selection {
	background:none;
}
#selection, #selection2 {
	float:left;
	width:195px;
	height:28px;
	color:#fff;
}
.selection-off {
	background:transparent url(bouton-selection-off.png) no-repeat top !important; 
	background:none; 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bouton-selection-off.png', sizingMethod='crop'); 
	zoom:1;
}
#selection.selection-on, #selection2.selection-on {
	background:transparent url(bouton-selection-on.png) no-repeat top !important; 
	background:none; 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bouton-selection-on.png', sizingMethod='crop'); 
	zoom:1;
}
#selection a, #selection2 a {
	display:block;
	font-size:1.2em;
	font-weight:bold;
	font-family:Arial,Helvetica,sans-serif;
	color:#FFFFFF;
	text-decoration:none;
	text-align:left;
	margin:3px 15px 3px 5px;
	height:19px;
	padding:3px 0 0 10px;
	background:url(picto-lien-pro.gif) no-repeat center left;
}
#selection.selection-on a, #selection2.selection-on a {
	background:url(picto-lien-pro-on.gif) no-repeat center left;
}

#ordre-affichage {
	float:right;
	width:300px;
	margin-top:5px; 
	text-align:right;
}
#ordre-affichage select {
	width:200px;
}
.produit_numero, .entreprise_numero {
	/*font-weight:bold;*/
	color:#999;
	
}
.titre-resultat {
	float:left;
	width:116px;
	text-align:left;
}
a.produit_numero-off, a.entreprise_numero-off {
	color:#8b0049;
	font-weight:normal;
	background-color:#eee;
	border:1px solid #d2c2ca;
	padding:0 2px;
	height:14px;
	margin:0 1px 2px 1px;
	float:left;
}
a.produit_numero-off:hover, a.entreprise_numero-off:hover {
	color:#a70058;
	border:1px solid #8b0049;
	text-decoration:none;
}
.produit_numero-on, .entreprise_numero-on {
	color:#fff;
	background-color:#8b0049;
	border:1px solid #8b0049;
	padding:0 2px;
	height:14px;
	margin:0 1px 2px 1px;
	float:left;
}
.numero-vide {
	color:#000;
	padding:0 2px;
	height:16px;
	margin:0 5px 2px 5px;
	float:left;
}
#bloc-entreprise {
	float:left;
	width:210px;
	margin:20px 0 0 0;
}
#bloc-theme {
	float:left;
	width:380px;
	margin:20px 0 0 30px;
	font-size:9px;
	color:#999;
}
#bloc-vignettes {
	float:left;
	width:410px;
	margin-left:21px !important;
	margin-left:21px !important!;
	margin-left:16px;
}
.txt-theme {
	font-size:9px;
	color:#999;
}
/*
a.lien-themes {
	color:#999;
	text-decoration:underline;
}
a.lien-themes:hover {
	color:#0fa6d8;
	text-decoration:none;
}
a.lien-themes span, a.lien-themes:hover span {
	color:#000;
	text-decoration:none;
}
*/
.bloc-1-produit-0, .bloc-1-produit {
	float:left;
	width:85px;
	margin:10px 0 15px 26px !important;
	margin:10px 0 15px 26px !important!;
	margin:10px 0 15px 13px;
}
.bloc-1-produit {
	margin:10px 0 15px 5px !important;
	margin:10px 0 15px 5px !important!;
	margin:10px 0 15px 5px;
}
.page_spe_fiche_produit .bloc-1-produit,
.page_spe_fiche_produit .bloc-1-produit-select,
.page_spe_fiche_entreprise .bloc-1-produit,
.page_spe_fiche_entreprise .bloc-1-produit-select,
.page_spe_mon_catalogue .bloc-1-produit,
.page_spe_mon_catalogue .bloc-1-produit-select,
.page_spe_mon_catalogue_produit .bloc-1-produit,
.page_spe_mon_catalogue_produit .bloc-1-produit-select,
.bloc-producteur, .bloc-producteur-select {
	float:left;
	width:64px;
	height:100px;
	margin:5px !important;
	margin:5px !important!;
	margin:5px;
	text-align:center;
	padding:2px 2px 0 2px;
	border:2px solid #fff;
}
.bloc-producteur, .bloc-producteur-select {
	height:59px;
}
.page_spe_fiche_produit .bloc-1-produit-select, .page_spe_fiche_entreprise .bloc-1-entreprise-select, .bloc-producteur-select {
	/* old  border:2px solid #8b0049;*/
	border:2px solid #fff;
}
.bloc-producteur-txt {
	float:left;
	width:164px;
	/*height:54px;*/
	margin:5px 0;
	padding-top:10px;
}
.bloc-2-selection {
	float:left;
	width:13px;
	height:148px;
	margin:19px 4px 0 3px !important;
	margin:19px 4px 0 3px !important!;
	margin:19px 4px 0 2px;
	background:url(fleche-selection-1.jpg) no-repeat;
}
.bloc-3-selection {
	float:left;
	width:18px !important;
	width:22px !important!;
	width:22px;
	height:157px !important;
	height:157px !important!;
	height:162px;
	margin:0 2px 0 0;
	padding:23px 0 0 5px !important;
	padding:18px 0 0 1px !important!;
	padding:18px 0 0 1px;
	background-color:#d0d9de;
}
.page_spe_favoris .bloc-3-selection {
	height:170px !important;
	height:170px !important!;
	height:175px;
}
.bloc-2-produit-0 {
	float:left;
	width:143px;
	margin:20px 0 15px 0 !important;
	margin:20px 0 15px 0 !important!;
	margin:20px 0 15px 0;
}
.bloc-2-produit {
	float:left;
	width:143px;
	margin:20px 0 15px 18px !important;
	margin:20px 0 15px 18px !important!;
	margin:20px 0 15px 18px;
}
.page_spe_favoris #selection {
	margin-left:46px !important;
	margin-left:0px !important!;
	margin-left:0px;
}
.fond-checkbox {
	background-color:#0588cb;
	width:13px;
	height:13px;
	width:19px !important!;
	height:19px !important!;
	padding:2px !important;
	padding:0 2px 2px 0 !important!;
	padding:0 1px 1px 0;
	float:left;
	margin-right:5px;
}
.fond-checkbox .input_radio {
	padding:0;
	margin:0;
}
.bloc-2-produit-produit {
	width:430px;
	float:left;
	padding:0;
	margin:20px 0 15px 18px !important;
	margin:20px 0 15px 0px !important!;
	margin:20px 0 15px 0px;
}
.bloc-2-produit-entreprise {
	width:390px;
	float:left;
	padding:5px 0 0 0;
	margin:20px 0 15px 18px !important;
	margin:20px 0 15px 0px !important!;
	margin:20px 0 15px 0px;
}
.description-vide {
	color:#aaa;
}
.bloc-2-produit-entreprise textarea {
	width:390px;
	height:65px;
	background-color: #f4f6f7;
}
.bloc-2-produit-produit textarea {
	width:430px;
	height:65px;
	background-color: #f4f6f7;
}
.bloc-2-produit-entreprise h4,
.bloc-2-produit-produit h4,
.bloc-2-produit-entreprise textarea,
.bloc-2-produit-produit textarea,
.bloc-2-produit-entreprise #bouton-BO,
.bloc-2-produit-produit #bouton-BO,
.bloc-2-produit-entreprise .fond-checkbox,
.bloc-2-produit-produit .fond-checkbox {
	margin-left:0 !important;
	margin-left:18px !important!;
	margin-left:18px;
}
.bloc-2-produit-entreprise .fond-checkbox,
.bloc-2-produit-produit .fond-checkbox {
	margin-left:9px;
}
.bloc-2-produit-entreprise p,
.bloc-2-produit-produit p {
	margin-left:0 !important;
	margin-left:15px !important!;
	margin-left:15px;
}
.img-produit {
	position:relative;
	width:64px;
	height:59px;
	background-color:#fff;
	cursor:pointer;
	overflow:hidden;
}
#bloc-fiche-1-g {
	float:left;
	width:143px;
}
.img-produit-moyen {
	position:relative;
	width:143px;
	height:131px;
	float:left;
	margin-bottom:10px;
	background-color:#fff;
	cursor:pointer;
	overflow:hidden;
}
.img-produit img, .img-produit-moyen img {
	padding:3px;
}
.page_spe_fiche_produit .img-produit-moyen,
.page_spe_fiche_entreprise .img-produit-moyen {
	float:left;
}
/*.page_spe_fiche_entreprise .img-produit-moyen {
	cursor:auto;
}*/
#nouvelle_image {
	
}
.img-produit-mini {
	float:left;
	width:26px;
	margin:0 8px 0 2px !important;
	margin:0 8px 10px 2px !important!;
	margin:0 0 0 0;
}
.img-produit-mini-1 {
	margin:0 8px 0 3px !important;
	margin:0 8px 0 3px !important!;
	margin:0 0 0 1px;
}
.img-produit-mini-4 {
	/*margin-left:2px !important;
	margin-left:2px !important!;
	margin-left:0;*/
	margin-right:0 !important;
	margin-right:0 !important!;
	margin-right:0;
}
.img-produit-mini a {
	float:left;
	width:26px;
	height:24px;
	margin:0 9px 10px 0 !important;
	margin:0 9px 10px 0 !important!;
	margin:0 9px 10px 0;
	overflow:hidden;
	border:1px solid #d0d9de;
	background-color:#fff;
}
.img-produit-mini-4 a {
	margin-right:0;
}
.page_spe_mon_catalogue_produit .img-produit-mini a.image-produit-mini,
.page_spe_mon_catalogue .img-produit-mini a.image-produit-mini {
	float:left;
	width:26px;
	height:24px;
	margin:0 9px 0 0 !important;
	margin:0 9px 0 0 !important!;
	margin:0 9px 0 0;
	overflow:hidden;
	border:1px solid #d0d9de;
}
.page_spe_mon_catalogue_produit .img-produit-mini a.supprimer,
.page_spe_mon_catalogue .img-produit-mini a.supprimer {
	float:none;
	background-color:#eee;
	border:0;
	padding:0 0 0 15px;
	height:10px;
	width:11px;
	margin:0 !important;
	margin:0 !important!;
	margin:0;
}
.bloc_petite_image {
	margin-top:0;
	padding-top:0;
}
.cache-produit, .cache-produit-moyen, .cache-produit-select {
	position:absolute;
	top:0;
	left:0;
	z-index:3;
	width:64px;
	height:59px;
	background:transparent url(cache-vignette.png) no-repeat !important; 
	background:none; 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/produits/cache-vignette.png', sizingMethod='crop'); 
	zoom:1;
}
.cache-produit-moyen {
	width:143px;
	height:131px;
	background:transparent url(cache-vignette-moyen.png) no-repeat !important; 
	background:none; 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/produits/cache-vignette-moyen.png', sizingMethod='crop'); 
	zoom:1;
}
.page_spe_mon_catalogue_produit .cache-produit-moyen,
.page_spe_mon_catalogue .cache-produit-moyen {
	width:143px;
	height:131px;
	background:transparent url(cache-vignette-moyen-grise.png) no-repeat !important; 
	background:none; 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/produits/cache-vignette-moyen-grise.png', sizingMethod='crop'); 
	zoom:1;
}
.cache-produit-select {
	background:transparent url(cache-vignette-select.png) no-repeat !important; 
	background:none; 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/produits/cache-vignette-select.png', sizingMethod='crop'); 
	zoom:1;
}
.txt-produit {
	width:85px;
	color:#4c4c4c;
	font-family:Arial, Helvetica, sans-serif;
}
.page_spe_fiche_produit .txt-produit,
.page_spe_fiche_entreprise .txt-produit,
.page_spe_mon_catalogue .txt-produit,
.page_spe_mon_catalogue_produit .txt-produit {
	width:64px;
}
.txt-produit-moyen, .txt-produit-moyen-3 {
	width:140px;
	padding-left:3px;
	color:#6d6d6d;
	font-family:Arial, Helvetica, sans-serif;
}
.page_spe_secteur .txt-produit-moyen {
	padding-top:0;
	margin-top:0 !important;
	margin-top:-20px !important!;
	margin-top:-20px;
}
.txt-produit-moyen-3 {
	margin-top:3px !important;
	margin-top:3px !important!;
	margin-top:3px;
}
.page_spe_secteur .txt-produit-moyen .fond-checkbox {
	padding-top:0;
	position:top;
}
.txt-produit-moyen input {
	/*padding-top:3px;*/
}
.txt-produit-moyen-2 {
	width:140px;
	padding-left:3px;
	font-family:Arial, Helvetica, sans-serif;
}
.txt-entreprise-moyen {
	color:#555555;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px 0 0 3px;
}
.txt-produit a {
	color:#4c4c4c;
	text-decoration:none;
}
.txt-produit a:hover {
	color:#0588cb;
	text-decoration:underline;
}
a.titre-produit-secteur {
	font-size:1.3em;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.page_spe_secteur a.titre-produit-secteur {
	font-size:1.2em;
}
.titre-sous-secteur {
	font-size:1.4em;
	font-weight:bold;
	margin: 10px 0 8px;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
}
.commentaire {
	font-size:10px;
	color:#777;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
}
.bloc-lien-retour {
	padding-left:20px;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.fond-lien {
	width:386px;
	height:20px;
	padding:9px 0 0 280px;
	margin:0;
	clear:both;
	background:url(fond-lien.gif) repeat-x;
}
.page_spe_accueil .fond-lien {
	width:276px;
	padding:9px 0 0 200px;
}
.fond-lien .lien-page,
.fond-lien .lien-page:hover { 
	padding:0 0 0 21px;
	background:url(picto-lien-produits.gif) no-repeat;
}
.fond-lien .lien-page:hover {
	background:url(picto-lien-produits-on.gif) no-repeat;
}
.fond-lien-2 {
	width:656px;
	height:20px;
	padding:9px 10px 0 0;
	margin:0;
	clear:both;
	background:url(fond-lien.gif) repeat-x;
	text-align:right;
}
.fond-lien-3 {
	width:236px;
	height:20px;
	padding:9px 10px 0 0;
	margin:0 !important;
	margin:0 !important!;
	margin:0 0 0 5px;
	clear:both;
	background:url(fond-lien.gif) repeat-x;
	text-align:right;
}
.separation {
	width:650px;
	height:1px;
	margin-left:8px;
	clear:both;
	background:url(separation.gif) repeat-x;
}
.page_spe_accueil .separation {
	width:460px;
}
.page_spe_fiche_produit .separation, .page_spe_fiche_entreprise .separation {
	width:670px;
	margin:15px 0 15px 0;
	clear:both;
}
.page_spe_produits .separation {
	width:640px;
	margin-left:0;
}
.separation-2 {
	clear:both !important;
	width:395px;
	height:1px;
	margin:0 0 15px 0;
	background:url(separation.gif) repeat-x;
}
.separation-3 {
	clear:both !important;
	width:236px;
	height:1px;
	margin:15px 5px !important;
	margin:15px 5px !important;
	margin:15px 0 15px 10px;
	background:url(separation.gif) repeat-x;
}

#colonne-droite {
	width:160px;
	float:left;
	padding-left:10px;
	padding-bottom:40px;
}
#separation-colonne {
	position:absolute;
	top:5px;
	left:730px;
	z-index:3;
	width:20px;
	height:40px;
	background:url(colonne-ombre.gif) no-repeat;
}
#separation-colonne-bas {
	position:absolute;
	top:-40px;
	left:730px;
	z-index:3;
	width:20px;
	height:40px;
	background:url(colonne-ombre-bas.gif) no-repeat;
}
/*-- inscription old
#encart-inscription {
	position:absolute;
	top:20px;
	left:740px;
	z-index:4;
	width:152px;
	height:158px !important;
	height:156px !important!;
	height:155px;
	border:1px solid #0588cb;
	background-color:#fff9b4;
	padding:3px;
} --*/
#encart-inscription {
	position:absolute;
	top:20px;
	left:740px;
	z-index:4;
	width:160px;
	height:196px;
}
/*
.encart-inscription-off {
	background:transparent url(/ressources/images/bouton-pro-off.png) no-repeat top !important; 
	background:none; 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bouton-pro-off.png', sizingMethod='crop'); 
	zoom:1;
}
#encart-inscription.encart-inscription-on {
	background:transparent url(/ressources/images/bouton-pro-on.png) no-repeat bottom !important; 
	background:none; 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bouton-pro-on.png', sizingMethod='crop'); 
	zoom:1;
}
*/
#encart-inscription a {
	display:block;
	color:#FFFFFF;
	text-decoration:none;
	text-align:center;
	width:140px;
	height:144px;
	padding:52px 10px 0 10px;
	background:url(zone-id-off.gif) no-repeat center right;
}
#encart-inscription.encart-inscription-on a {
	background:url(zone-id-on.gif) no-repeat center right;
}

/*
#encart-temoignage {
	position:absolute;
	top:95px;
	left:740px;
	z-index:4;
	width:152px;
	height:158px !important;
	height:156px !important!;
	height:155px;
	border:1px solid #d2dadf;
	background-color:#fff;
	padding:3px;
}
*/
#encart-temoignage, #encart-temoignage-off {
	position:absolute;
	top:95px;
	left:740px;
	z-index:4;
	width:160px;
	height:158px !important;
	height:156px !important!;
	height:155px;
}
.page_spe_accueil #encart-temoignage {
	top:20px;
}
#encart-temoignage-off {
	top:240px;
}
#encart-temoignage h2,
#encart-temoignage-off h2 {
	font-size:1.2em;
	width:152px;
	color:#fff;
	text-indent:0px;
	margin:0 0 1px 0;
	padding:4px;
	background-image:none;
	background-color:#0588cb;
}
#encart-temoignage-off h2 {
	background-color:#8b0049;
}
#encart-temoignage-off .bloc-droit,
#encart-temoignage .bloc-droit {
	width:150px;
	border:1px solid #d2dadf;
	/*background-color:#e5eaec;*/
	padding:4px !important;
	padding:4px !important;
	padding:4px 4px 4px 4px;
}
.page_spe_catalogue #encart-temoignage .bloc-droit,
.page_spe_catalogue #encart-temoignage-off .bloc-droit {
	padding:4px 2px 4px 3px;
}
/* old
#encart-inscription h2 {
	font-size:1.3em;
	color:#707070;
	margin:5px 0 8px 0;
	padding:0;
	text-align:center;
	background:none;
	text-indent:0;
}
#encart-inscription h2 {
	font-size:1.2em;
	color:#fff;
	margin:12px 0 8px 0;
	padding:0;
	text-align:center;
	background:none;
	text-indent:0;
}
#encart-inscription p {
	padding:12px 0 0 0;
	text-align:center;
}*/
#encart-inscription-off h2 {
	font-size:1.3em;
	color:#707070;
	margin:-10px 0 15px 0;
	padding:0;
	text-align:center;
	background:none;
	text-indent:0;
}
.citation {
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
	font-size:1.2em;
}
.citation a.lien-page {
	font-style:normal;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
}
.signature-temoin {
	font-size:10px;
}
.temoin-autre {
	padding:7px 0;
	margin:0;
	border-top:1px solid #d2dadf;
}
.temoin-autre a {
	font-size:10px;
}

#onglet-inscription-1, #onglet-inscription-2 {
	float:left;
	width:67px;
	height:47px;
	display:block;
	text-align:center;
	padding:5px 2px 0 2px;
	font-size:1em;
	font-weight:bold;
	color:#0588cb;
	text-decoration:none;
}
#onglet-inscription-1 {
	background-image:url(onglet-inscription-1.gif);
}
.inscription-1 #onglet-inscription-1 {
	background-image:url(onglet-inscription-1-on.gif);
	color:#000;
}
#onglet-inscription-2 {
	padding:5px 4px 0 2px;
	width:75px;
	background-image:url(onglet-inscription-2.gif);
}
.inscription-2 #onglet-inscription-2 {
	background-image:url(onglet-inscription-2-on.gif);
	color:#000;
}
.texte-inscription-1, .texte-inscription-2 {
	float:left !important;
	float:left !important!;
	float:none;
	width:140px;
	height:68px;
	background-image:url(encart-inscription.gif);
	margin:0px !important;
	margin:0px !important!;
	margin:-7px 0 0 0;
	display:none;
	padding:6px 6px 0 6px;
}
.inscription-2 .texte-inscription-2,
.inscription-1 .texte-inscription-1 {
	display:block;
}
/*#marge-colonne, #marge-colonne-2 {
	width:160px;
	height:206px;
}*/
.langue_fr #marge-colonne {
	height:236px;
	width:160px;
}
.langue_en #marge-colonne {
	height:66px;
	width:160px;
}
#marge-colonne-2 {
	height:206px;
	width:160px;
}
.langue_en #marge-colonne-2 {
	height:66px;
	width:160px;
}
.encart-droit {
	width:160px;
	margin-bottom:30px;
}
.encart-droit h2, .encart-droit-2 h2 {
	font-size:1.2em;
	width:152px;
	color:#fff;
	text-indent:0px;
	margin:0 0 1px 0;
	padding:4px;
	background-color:#8b0049;
	background-image:none;
}
.encart-droit-2 h2 {
	background-color:#0588cb;
}
.encart-droit .bloc-droit,
.encart-droit-2 .bloc-droit {
	width:150px;
	border:1px solid #d2dadf;
	background-color:#e5eaec;
	padding:4px;
}

/*------------------------- fiche -----------------------*/
#bloc-fiche-1 {
	float:left;
	width:412px;
	padding:5px 0;
	margin-bottom:15px;
}
#bloc-fiche-2 {
	float:left;
	width:246px !important;
	width:246px !important!;
	width:256px;
	border:1px solid #d0d9de;
	padding:5px !important;
	padding:5px !important!;
	padding:5px 0px;
	margin-bottom:15px;
	margin-top:5px;
}
.page_spe_mon_catalogue #bloc-fiche-2,
.page_spe_mon_catalogue_produit #bloc-fiche-2 {
	/*border:1px dashed #ccc;*/
	width:253px;
}
#bloc-fiche-2 select {
	width:220px;
	margin-left:12px;
}
#bloc-fiche-contact {
	float:left;
	width:143px;
	text-align:center;
	clear:left;
	margin-bottom:15px;
}
#bloc-fiche-selection {
	float:left;
	width:195px;
}
#bloc-fiche-txt {
	float:right;
	width:239px;
	margin:0 15px 15px 15px !important;
	margin:0 15px 15px 15px !important!;
	margin:0 8px 15px 8px;
}
.page_spe_mon_catalogue #bloc-fiche-txt,
.page_spe_mon_catalogue_produit #bloc-fiche-txt {
	float:left;
	width:239px;
	margin:0 15px 15px 10px !important;
	margin:0 15px 15px 10px !important!;
	margin:0 0 15px 10px;
}
#detail-entreprise-1 {
	float:left;
	width:131px;
	border:1px solid #d0d9de;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	color:#555;
}

.page_spe_mon_catalogue #detail-entreprise-1 {
	border:1px dashed #ccc;
}
#detail-entreprise-2 {
	float:right;
	width:239px;
	margin:1px 15px 0 15px !important;
	margin:0 15px !important!;
	margin:0 8px;
	font-family:Arial, Helvetica, sans-serif;
	color:#555;
}
#certification {
	float:left;
	width:397px;
	margin-bottom:15px;
}
#certification img {
	float:left;
	width:51px;
	height:40px;
	margin:0 10px 0 5px;
}
.image-partenaire {
	width:auto;
	float:right;
	margin-top:0;
	margin-left:10px;
	margin-bottom:15px;
}
.image-ds-txt-gauche {
	width:auto;
	float:left;
	margin-top:0;
	margin-right:10px;
	margin-bottom:10px;
}

/*--- Mon catalogue BO ---*/
.titre_zone_editable
{
	color: #C8C8C8;
}
.zone_editable
{
	background-color: #eee;
	border:1px dashed #ccc;
	padding: 5px;
	min-width: 100px;
	margin-bottom: 5px;
}

.black_overlay
{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.7;
	opacity:.70;
	filter: alpha(opacity=70);
}

.white_content
{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -230px;
	width: 460px;
/*	height: 50%; */
	padding: 16px;
	border: 1px dashed #000000;
	background-color: white;
	z-index:1002;
/*	overflow: auto;*/
}
.page_spe_mon_catalogue .separation,
.page_spe_mon_catalogue_produit .separation  {
	margin:10px 0 10px 8px;
}


/*--- Texte autour de l'image ---*/

.img-ds-txt, .img-ds-txt-2 {
	float:right;
	margin:5px 0 0 10px;
	width:auto;
	padding:11px;
	background-image:url(fond-photo.gif);
	background-repeat:no-repeat;
}
.img-ds-txt img {
	width:250px;
	height:180px;
}
.img-ds-txt-2,
.section_marque .img-ds-txt,
.page_spe_savoir_agroalimentaire_savoir_vivre .img-ds-txt,
.page_spe_savoir_agroalimentaire_heritage .img-ds-txt,
.page_spe_savoir_vins_chiffre_cles .img-ds-txt {
	background-image:url(fond-photo-2.gif);
}
.page_spe_marque_strategie_regionale .img-ds-txt {
	background-image:url(fond-photo.gif);
}
.img-ds-txt-2 img,
.section_marque .img-ds-txt img,
.page_spe_savoir_agroalimentaire_savoir_vivre .img-ds-txt img,
.page_spe_savoir_agroalimentaire_heritage .img-ds-txt img,
.page_spe_savoir_vins_chiffre_cles .img-ds-txt img  {
	width:180px;
	height:250px;
}
.page_spe_marque_strategie_regionale .img-ds-txt img {
	width:250px;
	height:180px;
}
#bloc-pro-g {
	float:left;
	width:385px;
	margin-bottom:20px !important;
	margin-bottom:20px !important!;
	margin-bottom:0px;
}
#bloc-pro-d {
	float:right;
	width:272px;
}
.page_spe_produits #bloc-pro-d {
	float:left;
}
#pro-entree1, #pro-entree2, #pro-entree3 {
	float:left;
	width:264px;
	height:73px;
	padding:4px;
	margin-bottom:10px;
}
.pro-entree1-off {
	background:url(entree-pro-vin-off.jpg) no-repeat center right;
}
.pro-entree2-off {
	background:url(entree-pro-agro-off.jpg) no-repeat center right;
}
.pro-entree3-off {
	background:url(entree-pro-agricole-off.jpg) no-repeat center right;
}
#pro-entree1.pro-entree1-on {
	background:url(entree-pro-vin-on.jpg) no-repeat center right;
}
#pro-entree2.pro-entree2-on {
	background:url(entree-pro-agro-on.jpg) no-repeat center right;
}
#pro-entree3.pro-entree3-on {
	background:url(entree-pro-agricole-on.jpg) no-repeat center right;
}
#pro-entree1 a, #pro-entree2 a, #pro-entree3 a {
	display:block;
	text-decoration:none;
	text-align:left;
	width:111px;
	height:61px;
	padding:12px 0 0 153px;
	color:#000000;
}
#pro-entree1.pro-entree1 a {
}

.page_spe_produits #pro-entree1, .page_spe_produits #pro-entree2, .page_spe_produits #pro-entree3 {
	float:left;
	width:161px;
	height:128px;
	padding:4px;
	margin:0 20px 10px 0;
}
.page_spe_produits .pro-entree1-off {
	background:url(entree-pro-vin-2-off.jpg) no-repeat center right;
}
.page_spe_produits .pro-entree2-off {
	background:url(entree-pro-agro-2-off.jpg) no-repeat center right;
}
.page_spe_produits .pro-entree3-off {
	background:url(entree-pro-agricole-2-off.jpg) no-repeat center right;
}
.page_spe_produits #pro-entree1.pro-entree1-on {
	background:url(entree-pro-vin-2-on.jpg) no-repeat center right;
}
.page_spe_produits #pro-entree2.pro-entree2-on {
	background:url(entree-pro-agro-2-on.jpg) no-repeat center right;
}
.page_spe_produits #pro-entree3.pro-entree3-on {
	background:url(entree-pro-agricole-2-on.jpg) no-repeat center right;
}
.page_spe_produits #pro-entree1 a, .page_spe_produits #pro-entree2 a, .page_spe_produits #pro-entree3 a {
	display:block;
	text-decoration:none;
	text-align:center;
	width:153px;
	height:45px;
	margin:4px 0 0 8px;
	padding:75px 0 0 0;
	color:#000000;
}



.titre-entree {
	padding:8px 0 0 5px;
	font-size:1em;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#666;
	text-decoration:none;
}
.bloc-news {
	float:left;
	width:150px;
	margin:20px 72px 30px 0 !important;
	margin:20px 72px 30px 0 !important!;
	margin:20px 52px 30px 0;
}
.img-news {
	border:1px solid #000;
	margin-bottom:5px;
}
/*--------------------------- Balises principales -------------------------*/
h1 {
	font-size:1.8em;
	height:26px;
	color:#0588cb;
	font-weight:normal;
	padding-top:1px;
	margin:10px 0 5px 0;
	text-indent:28px;
	background-image:url(puce-h1.gif);
	background-repeat:no-repeat;
}
#menu2 h1 {
	color:#fff;
	background-image:url(puce-h1-menu.gif);
	background-repeat:no-repeat;
}
.page_spe_accueil #menu2 h1 {
	color:#0588cb;
	background-image:url(puce-h1.gif);
	background-repeat:no-repeat;
}
h2 {
	font-size:1.3em;
	font-weight:bold;
	font-family:Arial,Helvetica,sans-serif;
	color:#0588cb;
	clear:both;
	text-indent:19px;
	margin:20px 0 5px 0;
	padding-top:2px;
	background-image:url(puce-h2.gif);
	background-repeat:no-repeat;
}
/* old
#menu2 h2 {
	font-size:1.2em;
	color:#fff;
	margin:5px 0 15px 5px;
	background-image:url(/ressources/images/puce-h2-menu.gif);
	background-repeat:no-repeat;
}
*/
#menu2 h2 {
	font-size:1.2em;
	color:#fff;
	text-indent:10px;
	margin:5px 0 5px 0;
	padding-top:0;
	background-image:url(h2-menu.gif);
	background-repeat:no-repeat;
	width:200px;
	height:28px;
}
#menu2 h2.grand {
	font-size:1.2em;
	color:#fff;
	padding-left:10px;
	text-indent:0;
	margin:5px 0 5px 0;
	padding-top:0;
	background-image:url(h2-menu-grand.gif);
	background-repeat:no-repeat;
	width:190px;
	height:44px;
}
h2 a {
	color:#333;

}
h2 a:hover {
	color:#0fa6d8;
	text-decoration:none;
}
.page_spe_inscription_marque_solide h2 a,
.page_spe_inscription_marque_agricole h2 a,
.page_spe_inscription_marque_vin h2 a {
	text-decoration:none;
	color:#aa1764;
	font-size:11px;
	font-weight:bold;
	background-image:url(picto-lien-page.gif);
	background-repeat:no-repeat;
	padding-left:10px;
}
.page_spe_inscription_marque_solide h2 a:hover,
.page_spe_inscription_marque_agricole h2 a:hover,
.page_spe_inscription_marque_vin h2 a:hover {
	text-decoration:none;
	color:#0588cb;
	font-size:11px;
	font-weight:bold;
	background-image:url(picto-lien-page-on.gif);
	background-repeat:no-repeat;
	padding-left:10px;
}

h3 {
	font-weight:bold;
	font-family:Arial,Helvetica,sans-serif;
	color:#8b0049;
	font-size:1.1em;
	margin:15px 0 5px 0;
	padding:0;
	border-bottom:1px dashed #e8e8e8;
	text-indent:0px;
	clear:both;
}
.section_savoir-vins h3,
.section_savoir-vins-appellations h3,
.section_savoir-agroalimentaire h3,
.section_marque h3 {
	clear:none;
}
h3 a {
	color:#8b0049;
}
.page_divers_plan_du_site h3 {
	border-bottom:0;
}
h4 {
	font-weight:bold;
	font-family:Arial,Helvetica,sans-serif;
	color:#000000;
	font-size:1em;
	margin:10px 0 5px 0;
}
h1 span, h2 span, h3 span, h4 span {
	font-weight:normal;
}
.section_savoir-vins-appellations h3 span {
	color:#000000;
}
p {
	margin:3px 0 8px 0;
	padding:0px;
}
ul {
	margin:0 0 0 6px;
	padding:0 0 5px 0;
}
li {
	padding:1px 0 5px 8px;
	margin:0px;
	list-style:none;
	background-image:url(puce-li.gif);
	background-repeat:no-repeat;
}

hr {
	display:none;
	clear:both;
	width:100%;
	height:1px;
}
.chapeau {
	color:#909090;
	font-style:italic;
}
.both {
	clear:both;
}

/*--------------------------- Balises secondaires - divers -------------------------*/
form {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:4px 0 0 0;
}
input {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #0588cb;
	background-color:#eff2f4;
	font-size:1em;
	margin:0px;
	/*color:#0588cb;*/
	color:#000;
	width:247px;
	padding:2px 1px 1px 2px;
}
.input_identifiant {
	width:98px;
	font-size:10px;
	color:#707070;
	background-color:#fff9b4;
	border:1px solid #0588cb;
}
.input_mdp {
	width:58px;
	font-size:10px;
	color:#707070;
	background-color:#fff9b4;
	border:1px solid #0588cb;
}
.input_radio, .input_checkbox {
	width:auto;
	border:0;
	padding:0;
	background:none;
}

.input_antispam {
	width:145px;
}
.input_recherche {
	width:154px;
	font-size:10px;
	color:#000;
	border:1px solid #0786c5;
	background-color:#fff;
	position:relative;
}
#recherche-site form,
#recherche-site2 form {
	margin:0;
}
#login-off form {
	margin:0;
}
.input_montant {
	width:57px;
}
.input_donnees {
	width:27px;
}
.input_court {
	width:194px;
}
.input_court2 {
	width:137px;
}
select {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #0588cb;
	background-color:#eff2f4;
	font-size:1em;
	margin:0px;
	/*color:#0588cb;*/
	color:#000;
	height:18px;
	width:252px;
	padding: 1px 0;
}
#menu2 select {
	width:180px;
	margin:0 0 10px 11px;
	border:1px solid #fff;
	background-color:#fff;
	color:#0588cb;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
}
.select_court {
	width:205px;
}
.select_mesure {
	width:190px;
}
option {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:1em;
	margin:0px;
	/*color:#0588cb;*/
	color:#000;
	padding:2px 1px;
}
textarea {
	font-size:1em;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #0588cb;
	background-color:#eff2f4;
	margin:0px;
	/*color:#0588cb;*/
	color:#000;
	width:247px;
	height:80px;
	padding-top:4px;
	padding-left:2px;
}
.bouton-off {
	width:auto;
	height:20px;
	background-color:#0786c5;
	border:1px solid #ffffff;
	color:#FFFFFF;
	font-size:10px;
	text-align:center;
	margin:0px;
	padding:0 2px;
}
.bouton-on {
	width:auto;
	height:20px;
	background-color:#FFFFFF;
	border:1px solid #0786c5;
	color:#0786c5;
	font-size:10px;
	text-align:center;
	margin:0px;
	padding:0 2px;
}
.bouton_rollover {
	width:23px;
	height:17px;
	border:0px;
	padding:0;
	margin:0 0 0 0 !important;
	margin:1px 0 0 0 !important!;
	margin:1px 0 0 0;
}

.chemin {
	font-size:9px;
	color:#b6b6b6;
	text-align:left;
	font-weight:bold;
}
.chemin a, .chemin a:hover {
	font-size:10px;
	font-weight:normal;
}
#ancres {
	clear: both;
	padding:0;
	width:100%;
	color:#b6b6b6;
	margin:10px 0;
}	
#ancres a {
	text-decoration:underline;
	font-size:10px;
	padding:0 5px;
}
#ancres a:hover {
	text-decoration:none;
	font-size:10px;
	padding:0 5px;
}
p.retour
	{
	clear: both;
	text-align: right;
	}
.attente {
	text-align:center;
	font-weight:bold;
}
.message-attente {
	position:absolute; 
	top:150px; 
	left:300px; 
	width:350px; 
	height:130px; 
	background-color:#FFFFFF; 
	border:1px solid #000000; 
	text-align:center;
	z-index:1000;
}
.message-attente img {
	padding:10px;
}

a.lien_affiche, a.lien_affiche:hover,
a.lien_affiche_actif, a.lien_affiche_actif:hover {
	display:block;
	width:168px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:1.2em;
	color:#d7edf8;
	margin:7px 0 7px 10px;
	padding-left:12px;
	background-image:url(picto-affiche.gif);
	background-repeat:no-repeat;
	text-decoration:none;
}
a.lien_affiche:hover {
	color:#fff;
	background-image:url(picto-affiche-on.gif);
	background-repeat:no-repeat;
	text-decoration:underline;
}
a.lien_affiche_actif {
	color:#fff;
	background-image:url(picto-cache-on.gif);
	background-repeat:no-repeat;
}
a.lien_affiche_actif:hover {
	color:#fff;
	background-image:url(picto-cache-on.gif);
	background-repeat:no-repeat;
	text-decoration:none;
}


a.lien_affiche-2, a.lien_affiche-2:hover,
a.lien_affiche-2_actif, a.lien_affiche-2_actif:hover {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:1.1em;
	color:#8b0049;
	margin:10px 0 5px 0;
	padding-left:14px;
	width:656px;
	background-image:url(picto-affiche-2-on.gif);
	background-repeat:no-repeat;
	text-decoration:none;
}
.page_spe_professionel a.lien_affiche-2, .page_spe_professionel a.lien_affiche-2:hover,
.page_spe_professionel a.lien_affiche-2_actif, .page_spe_professionel a.lien_affiche-2_actif:hover {
	width:371px;
}
a.lien_affiche-2:hover {
	color:#a70058;
	background-image:url(picto-affiche-2.gif);
	background-repeat:no-repeat;
	text-decoration:underline;
}
a.lien_affiche-2_actif {
	color:#a70058;
	background-image:url(picto-cache-2-on.gif);
	background-repeat:no-repeat;
}
a.lien_affiche-2_actif:hover {
	color:#a70058;
	background-image:url(picto-cache-2-on.gif);
	background-repeat:no-repeat;
	text-decoration:none;
}


#item_22 {
	margin-bottom:22px;
}
#item_12 {
	margin-top:22px;
}
.item_cache .texte_cache,
.item_affiche .texte_affiche,
.item_cache_12 .texte_cache_12,
.item_affiche_12 .texte_affiche_12,
.item_cache_2 .texte_cache_2,
.item_affiche_2 .texte_affiche_2,
.item_cache_22 .texte_cache_22,
.item_affiche_22 .texte_affiche_22,

.item_cache-2 .texte_cache-2,
.item_affiche-2 .texte_affiche-2
{
	display: none;
}
.texte-menu2 {
	margin-left:11px;
	font-size:9px;
	margin-top:0;
	color:#d7edf8;
}

/*--------------------------- Liens -------------------------*/
a img {
	border:none;
}
a {
	color:#0786c5;
	text-decoration:none;
}
a:hover {
	color:#0fa6d8;
	text-decoration:underline;
}
a.lien-page {
	text-decoration:none;
	color:#aa1764;
	font-size:9px;
	font-weight:bold;
	background-image:url(picto-lien-page.gif);
	background-repeat:no-repeat;
	padding-left:10px;
}
a.lien-page:hover {
	text-decoration:none;
	color:#0588cb;
	font-size:9px;
	font-weight:bold;
	background-image:url(picto-lien-page-on.gif);
	background-repeat:no-repeat;
	padding-left:10px;
}
a.lien-page-2 {
	text-decoration:none;
	color:#0588cb;
	font-size:9px;
	font-weight:bold;
	background-image:url(picto-lien-page-on.gif);
	background-repeat:no-repeat;
	padding-left:10px;
}
a.lien-page-2:hover {
	text-decoration:none;
	color:#aa1764;
	font-size:9px;
	font-weight:bold;
	background-image:url(picto-lien-page.gif);
	background-repeat:no-repeat;
	padding-left:10px;
}
a.lien-menu, a.lien-menu:hover, a.lien-menu-actif, a.lien-menu-actif:hover,
a.lien-menu-2, a.lien-menu-2:hover, a.lien-menu-2-actif, a.lien-menu-2-actif:hover {
	position:relative;
	display:block;
	width:176px;
	font-weight:normal;
	text-decoration:none;
	padding:5px 0 5px 14px;
	margin:0 0 1px 10px;
	font-size:1em;
	color:#fff;
	background-image:url(picto-lien-menu-on.gif);
	background-repeat:no-repeat;
}
a.lien-menu:hover {
	color:#0588cb;
	background-image:url(picto-lien-menu-petit.gif);
	background-repeat:no-repeat;
}
a.lien-menu-actif, a.lien-menu-actif:hover,
a.lien-menu-2-actif, a.lien-menu-2-actif:hover {
	color:#0588cb;
	background-image:url(picto-lien-menu.gif);
	background-repeat:no-repeat;
}
a.lien-menu-2:hover {
	color:#0588cb;
	background-image:url(picto-lien-menu-2-petit.gif);
	background-repeat:no-repeat;
}
a.lien-menu-2-actif, a.lien-menu-2-actif:hover {
	background-image:url(picto-lien-menu-2.gif);
	background-repeat:no-repeat;
}
.menu2-select-coins, .menu2-select-coins-2 {
	position:absolute;
	top:-5px;
	left:185px;
	z-index:3;
	width:5px;
	height:33px;
	background:url(menu2-select-coins.gif) no-repeat;
}
.menu2-select-coins-2 {
	height:46px;
	background:url(menu2-select-coins-2.gif) no-repeat;
}

/*--------------------------- Divers -------------------------*/
table {
	margin:0 0 10px 0;
	border: 1px solid #d0d9de;
	border-collapse: collapse;
	width: 100%;
	}
#contenu-all table {
	background-color:#FFFFFF;
	}
table td {
	text-align:center;
	}
thead td
	{
	width: auto;
	font-weight: bold;
	text-align:center;
	color:#FFFFFF;
	background-color:#0588cb;
	}
td {
	font-size: 1em;
	padding: 4px;
	border: 1px solid #d0d9de;
	text-align: left;
	}
	
.agauche {
	text-align:left;
}
.invisible td, .invisible {
	border: 0;
	width: auto;
	font-size:1em;
	text-align:left;
	}
#login-off .invisible td, #login-off .invisible {
	padding:0 2px;
	margin:0;
}
#recherche-site .invisible td, #recherche-site .invisible,
#recherche-site2 .invisible td, #recherche-site2 .invisible {
	padding:0;
	margin:3px 0 0 3px;
	width:182px;
}
#login-off .invisible {
	text-align:right;
}



#bouton-BO,
.bouton-BO
{
	position:relative;
	float:left;
	/*height:26px;*/
	height:22px;
	color:#fff;
}
.bouton-BO-off {
	background:url(bouton-off2.gif) no-repeat top; 
}
#bouton-BO.bouton-BO-on,
.bouton-BO-on
{
	background:url(bouton-on2.gif) no-repeat top; 
}
#bouton-BO a, #bouton-BO a:hover,
.bouton-BO a, .bouton-BO a:hover
{
	display:block;
	/*font-size:1.2em;*/
	font-size:1.1em;
	font-weight:bold;
	font-family:Arial,Helvetica,sans-serif;
	color:#fff;
	text-decoration:none;
	text-align:center;
	/*padding:4px 10px;*/
	padding:3px 9px 1px 11px;
}
.btn-coin-gauche {
	position:absolute;
	top:0px;
	left:0px;
	z-index:10;
	/*width:5px;
	height:26px;*/
	width:10px;
	height:22px;
	background:transparent url(bouton-coin-gauche2.png) no-repeat top left !important; 
	background:none; 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bouton-coin-gauche2.png', sizingMethod='crop'); 
	zoom:1;
}
.zone_editable .btn-coin-gauche {
	background:transparent url(bouton-coin-gauche-gris.png) no-repeat top left !important; 
	background:none; 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bouton-coin-gauche-gris.png', sizingMethod='crop'); 
	zoom:1;
}
.btn-coin-droit {
	position:absolute;
	top:0px;
	right:-1px;
	z-index:10;
	/*width:5px;
	height:26px;*/
	width:10px;
	height:22px;
	background:transparent url(bouton-coin-droit2.png) no-repeat top right !important; 
	background:none; 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bouton-coin-droit2.png', sizingMethod='crop'); 
	zoom:1;
}
.zone_editable .btn-coin-droit {
	background:transparent url(bouton-coin-droit-gris.png) no-repeat top right !important; 
	background:none; 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bouton-coin-droit-gris.png', sizingMethod='crop'); 
	zoom:1;
}







.champ_obligatoire
{
	color: #FF6600;
}
.champ_en_erreur { 
	color: #FF0000; 
	clear:both;
	font-weight:bold;
}
.invisible th
{
	font-weight: normal;
	padding-right: 10px;
	text-align: right;
	width: 200px;
}
.invisible td
{
	padding-right: 20px;
	background-position: right center;
	background-repeat: no-repeat;
}
.champ_ok td
{
	background-image: url(ok.gif);
}
.champ_obligatoire td, .champ_en_erreur td
{
	color: #000000;
	font-weight: normal;
}
body .champ_en_erreur td
{
	background-image: url(non.gif);
}



dl {
	padding:0;
	margin:0;
	font-size:10px;
}

dl dt {
	width: 25%;
	clear: left;
	float: left;
	margin: 0.5em 0 0 0;
	text-align:right;
}
dl dd {
	width: 72%;
	float: left;	
	margin: 0.5em 0 0.7em 0.3em;
	padding-left:0.7em;
}


/*-------------- Sud de France --------------*/
.partenaire1 {
	width:178px;
	height:24px;
	float:left;
	margin:30px 0 0 15px;
}
.partenaire2 {
	width:32px;
	height:41px;
	float:left;
	margin:20px 0 0 70px;
}
.partenaire3 {
	width:56px;
	height:79px;
	float:left;
	margin:0 0 0 70px;
}
.partenaire4 {
	width:99px;
	height:42px;
	float:left;
	margin:15px 0 0 70px;
}

.poids_1, .poids_2, .poids_3, .poids_4, .poids_5 { 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:1.2em; 
	font-weight:bold; 
	margin:16px;
}
.poids_2 { font-size:1.5em; margin:10px;}
.poids_3 { font-size:1.8em; margin:8px; font-weight:normal;}
.poids_4 { font-size:2.1em; margin:5px; font-weight:normal;}
.poids_5 { font-size:2.1em; font-weight:normal;}

#blocs-all {
	position:relative;
	width:658px;
	border:1px solid #0588cb;
	padding:0 5px 5px 5px;
	margin:38px 0 0 0;
}
#bloc-inscription {

}
#bloc-onglets {
	position:absolute;
	top:-24px;
	left:-1px;
	width:650px;
	height:24px;
	z-index:3;
}
#bloc-inscription h1 {
	clear:both;
	margin-top:20px;
}
a.onglet-inscription-off, a.onglet-inscription-off:hover {
	float:left;
	display:block;
	width:auto;
	background-color:#0588cb;
	color:#FFFFFF;
	padding:5px 10px;
	border:1px solid #0588cb;
	border-bottom:none;
	text-decoration:none;
	margin-right:1px;
}
a.onglet-inscription-off:hover {
	background-color:#fff;
	color:#000;
}
.onglet-inscription-on {
	float:left;
	width:auto;
	background-color:#fff;
	padding:5px 10px;
	border:1px solid #0588cb;
	border-bottom:none;
	margin-right:1px;
	font-weight:bold;
}
.onglet-inscription-inactif,
a.onglet-inscription-inactif, a.onglet-inscription-inactif:hover {
	float:left;
	width:auto;
	background-color:#e5eaed;
	color:#707070;
	padding:5px 10px 4px 10px;
	border:1px solid #0588cb;
	border-bottom:none;
	text-decoration:none;
	margin-right:1px;
}
/*--------- Lightbox (zoom carte home fiche-pays) -----------*/
#lightbox{
    background-color:#eee;
    padding: 10px;
    border: 1px solid #666;
	margin:20px 0;
}
#lightboxDetails{
    font-size: 0.9em;
    color: #555;
    padding-top: 0.5em;
}

#closeButton{ top: 5px; right: 5px; }

#lightboxCaption{ float: left; }

#keyboardMsg{ float: right; }

#lightbox img{ border: none; }

#overlay img{ border: none; }

#overlay{ background-image: url(overlay.png); }

* html #overlay{ /*Hack IE */
    background-color: #000;
    background-color: transparent;
    background-image: url(http://www.sud-de-france.com/ressources/css/blank.gif);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/ressources/images/overlay.png", sizingMethod="scale");
}
/*-------- fin lightbox (zoom carte home fiche-pays) -------*/

/* Autocompletion */
.update{
        position:absolute;
        background-color:white;
        border:1px solid #fff;
		border-top:none;
        margin:0px;
        padding:0px;
        z-index: 2000;
        top: 100px;
        left: 99px;
}

ul.contacts {
        list-style-type: none;
        margin:0px;
        padding:0px;
        text-align: left;
		border:1px solid #0786c5;
		border-top:none;
		/*width:178px;*/
}
ul.contacts li.selected { background-color: #ffb; cursor: pointer; }
li.contact {
        list-style-type: none;
        display:block;
        margin:0;
        padding:2px 2px 0 2px;
        height:32px;
		background-image:none;
}
li.contact div.image {
        float:left;
        width:32px;
        height:32px;
        margin-right:8px;
}

li.contact div.image img {
	height: 30px;
}

/*
li.contact div.nom {
        font-weight:bold;
        font-size:12px;
        line-height:1.2em;
}
*/

p.actualite_entreprise_cache .actualite_entreprise_description,
p.actualite_entreprise_visible .actualite_entreprise_lien
{
	display: none;
}

