
.annonce
{
	vertical-align:top;
	margin-top:30px;
	padding-top:20px;
}

.annonce .originale_annonce
{
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
}

.annonce .titre_annonce
{
	color:#808080;
	font-weight:bold;
}

.label_annonce
{
	text-align:center;
	color:#808080;
	font-weight:bold;
}

.annonce .date_annonce
{
	color:#777777;
	display:block;
	margin-right:1em;
}

.annonce .description_annonce
{
}

.annonce .pdf_annonce
{
	border:1px solid #79A225;
	display:block;
	margin:10px auto;
	padding:20px;
	text-align:center;
	width:50%;
}

.annonce .img_annonce
{
	padding-top:2px;
	color:#79A225;
	cursor:pointer;
	padding-bottom:8px;
}

.annonce .voir_annonce
{
	background:none !important; 
	border-color:#FFFFFF !important; 
	color:#79A225 !important; 
	font-weight:normal !important;
	padding:0px !important; 
	text-align:center !important;
}

.ligne_annonces
{


}

.annonces_pagination
{
	margin-top:30px;
}

.publication
{
	display:inline;
}

.titre_annonce{
	color:#808080;
	font-size:10pt;
	font-weight:bold;
	margin-right:10px;
}

.publication_illu
{
	float:left;
	margin-right:10px;
}

.publication_content
{
	padding-left:10px;
}

.dl_publication
{
	color:#E4642A;
}