.print_header
{
display:none;
color:#555;
}

#crpc_columns_3 
{
}


#column-4
{
width:30%;
padding-right:1em;
float:left;
}
#column-5
{
width:30%;
padding-right:1em;
float:left;
}
#column-6
{
width:30%;
padding-right:1em;
float:left;
}
#column-7
{
clear:left;
width:100%;

}
#column-8
{
float:left;
padding-right:1em;
width:65%;
}
#column-9
{
width:25%;
float:left;
}
#column-10
{
clear:left;
width:100%;

}

#layout-grid
{
	border-collapse: collapse;
	width: 100%;
}

#crpc_columns_3  #column-1, #crpc_columns_3_niv2 #column-1
{
	width:186px;
	padding-top:150px;
	padding-left:0px;
	padding-right:0px;
    float: left;
}

#crpc_columns_3  #column-2
{
	width:450px;
	background: transparent url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/tile.png) repeat-y top left;
	background-position:top right;
	background-position:0px 0px;
	padding-left:25px;
	padding-right:10px;
	padding-top:10px;
float: left;

}

#crpc_columns_3  #column-3
{
	width:295px;
	padding-top:40px;
	float: left;
}

#column-1 .footer
{
	background: transparent url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/footercol1.png) no-repeat top right;
	height:55px;
	vertical-align:bottom;
	position:relative;
	top:-10px;
	/* behavior: url(/frontal/crpc/html/js/fixpng/iepngfix.htc); */
}

/* Layout de niveau 2 */

/* colonne 1 : idem colonne 1 du niveau 0 */
#crpc_columns_3_niv2
{

}

/* colonne 2 : plus large ! */
#crpc_columns_3_niv2 #column-2
{
	width:534px;
	background: transparent url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/tile3.png) repeat-y top left;
	padding-left:25px;
	padding-right:10px;
	padding-top:0px;
 float: left;
min-height:620px;

}

/* colonne 2 : moins large ! */
#crpc_columns_3_niv2 #column-3
{
	width:215px;
	padding-top:40px;
 float: left;

}




