/*------ Navigation portlet ------*/

.portlet-navigation
{
	
	background: transparent url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/layoutcol1.png) no-repeat top right;
	padding-top:50px;
	padding-bottom:20px;
	padding-right:0px;
	width:186px;
	
}

.nav-menu, .nav-menu li
{
	list-style-type:none;
	list-style:none;
	text-align:right;
}

.nojs .nav-menu, .nojs .nav-menu li
{
text-align:left;

}
.nojs .nav-menu ul.layouts 
{

}
.nojs .nav-menu li a
{

}
.nojs ul.layouts ul.layouts 
{

}

.nav-menu ul {
	padding: 0px;
	margin: 0em;
	background:transparent;
}

.nav-menu li a.ancestor {
	font-weight: bold;
}

.nav-menu li a
{
	display:block;
	text-decoration:none;
	height:21px;
}

.nav-menu li a.nav0
{
	display:none;
}

.nav-menu li a.nav01, .nojs .nav-menu li a.nav01
{
	display:block;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav01.png) no-repeat;
	background-position: top right;
	/* behavior: url(/frontal/crpc/html/js/fixpng/iepngfix.htc); */
}

.nav-menu li.selected2 a.nav01
{
	display:block;	
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav01_selected2.png) no-repeat;
	background-position: top right;
}

.nav-menu li a.nav02, .nojs .nav-menu li a.nav02
{
	display:block;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav02.png) no-repeat;
	background-position: top right;
}
.nav-menu li.selected2 a.nav02
{
	display:block;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav02_selected2.png) no-repeat;
	background-position: top right;
}

.nav-menu li a.nav03, .nojs .nav-menu li a.nav03
{
	display:block;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav03.png) no-repeat;
	background-position: top right;
}
.nav-menu li.selected2 a.nav03
{
	display:block;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav03_selected2.png) no-repeat;
	background-position: top right;
}

.nav-menu li a.nav04, .nojs .nav-menu li a.nav04
{
	display:block;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav04.png) no-repeat;
	background-position: top right;
}
.nav-menu li.selected2 a.nav04
{
	display:block;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav04_selected2.png) no-repeat;
	background-position: top right;
}
.nav-menu li a.nav05, .nojs .nav-menu li a.nav05
{
	display:block;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav05.png) no-repeat;
	background-position: top right;
}
.nav-menu li.selected2 a.nav05
{
	display:block;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav05_selected2.png) no-repeat;
	background-position: top right;
}
.nav-menu li a.nav06, .nojs .nav-menu li a.nav06
{
	display:block;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav06.png) no-repeat;
	background-position: top right;
}
.nav-menu li.selected2 a.nav06
{
	display:block;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav06_selected2.png) no-repeat;
	background-position: top right;
}
.nav-menu li a.nav07, .nojs .nav-menu li a.nav07
{
	display:block;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav07.png) no-repeat;
	background-position: top right;
}
.nav-menu li.selected2 a.nav07
{
	display:block;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav07_selected2.png) no-repeat;
	background-position: top right;
}

.nav-menu li.open a.nav08, .nojs .nav-menu li a.nav08
{
	display:block;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav09.png) no-repeat;
	background-position: top right;
}
.nav-menu li.open a.nav09, .nojs .nav-menu li a.nav09
{
	display:block;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav10.png) no-repeat;
	background-position: top right;
}
.nav-menu li.open a.nav10, .nojs .nav-menu li a.nav10
{
	display:block;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav11.png) no-repeat;
	background-position: top right;
}
.nav-menu li.open a.nav11, .nojs .nav-menu li a.nav11
{
	display:block;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav12.png) no-repeat;
	background-position: top right;
}
.nav-menu li.open a.nav12, .nojs .nav-menu li a.nav12
{
	display:block;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav13.png) no-repeat;
	background-position: top right;
}
.nav-menu li.open a.nav13, .nav-menu li.selected2 a.nav13
{
	display:block;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav13.png) no-repeat;
	background-position: top right;
}
.nav-menu li.open a.nav17
{
	display:block;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav17.png) no-repeat;
	background-position: top right;
}
.nav-menu li.selected2 a.nav18, .nav-menu li.open a.nav18
{
	display:block;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/nav18.png) no-repeat;
	background-position: top right;
}

.nav-menu li a.selected2 {
	color: #000;
	font-weight: bold;
}

/* Pages jamais affichees */
.nav-menu li.nav14, .nav-menu li.nav15, .nav-menu li.nav16, .nav-menu li.nav17, .nav-menu li.nav18
{
display:none;
}

/* Pages speciales */
.nav-menu li.nav08, .nav-menu li.nav09, .nav-menu li.nav10, .nav-menu li.nav11, .nav-menu li.nav12
{
  display:none;
}
/* Pages speciales si classe=open */
/*
.nav-menu li.open
{
  display:list-item;
}
*/

/*  Niveau 2 navigation */

ul.layouts ul.layouts
{
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/navbg.png) no-repeat;
	background-position: top right;
}

ul.level-2
{
	padding-top:0.4em;
}

ul.level-2 li
{
	list-style-type:none;
	list-style:none;
	text-align:left;
	margin-left:25px;
	color:#4d4d4d;
	line-height:0.9em;
	background: white url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/underline2.png) no-repeat bottom left;
	padding-bottom:4px;
	padding-top:4px;
}

ul.level-2 li:last-child, ul.level-2 li.last-child
{
	background:none;
}

ul.level-2 li a
{
	text-decoration:none;
	font-weight:bold;
	color:#4d4d4d;
	height:auto;
	background-color:white;
}
ul.level-3
{
	margin-left:16px;
	padding-top:2px;
	padding-bottom:2px;
}

ul.level-3 li
{
	background:none;
	margin-left:0px;
	list-style-type:none;
	list-style:none;
	text-align:left;
	color:#4d4d4d;
	line-height:0.9em;
	list-style-image:url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/puce.png);
	padding-bottom:0px;
	padding-top:3px;
}
ul.level-3 li a
{
	text-decoration:none;
	font-weight:normal;
	color:#4d4d4d;
	height:auto;
	line-height:1.1em;
}

ul.level-1 li.selected2 
{
	display:list-item;
}
ul.level-1 li.open 
{
	display:list-item;
}

ul.level-3 li.selected2 
{
	list-style-image:url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/puce2.png);
}
ul.level-3 li.open 
{
	list-style-image:url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/puce7.png);
}
ul.level-3 li a.selected2 
{
color:#4d4d4d;
font-weight:bold;
}



ul.level-4
{
	margin-left:0.6em;
	padding-top:2px;
}

ul.level-4 li
{
	background:none;
	margin-left:0px;
	list-style-type:none;
	list-style:none;
	text-align:left;
	color:#4d4d4d;
	line-height:0.9em;
	list-style-image:url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/puce6.png);
	padding-bottom:3px;
	padding-top:3px;
}
ul.level-4 li a
{
	text-decoration:none;
	font-weight:normal;
	color:#4d4d4d;
	height:auto;
}
ul.level-4 li.selected2 
{
	list-style-image:url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/puce6.png);
}
ul.level-4 li.selected2 a
{
	font-weight:bold;
}

ul.level-5 li
{
	list-style-image:url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/puce6a.png);
}
ul.level-5 li.selected2
{
	list-style-image:url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/puce6a.png);
}

.nav-menu-style-1 {
}

.nav-menu-style-2 {
}

.nojs .navmenu
{
text-align:left;
}