/* State maximized */
.columns-max .portlet-content
{
	background-color:white;
}
.columns-max
{
	padding:2em;
}
.columns-max .portlet
{
	border:1px #888 solid;
}

/* Cas portlets dans la premiere colonne */

#crpc_columns_3  #column-1 .portlet-topper, #crpc_columns_3  #column-3 .portlet-topper, #crpc_columns_3_niv2  #column-1 .portlet-topper, #crpc_columns_3_niv2  #column-3 .portlet-topper
{
	 /* display:none; */
}

#crpc_columns_3  #column-1 .portlet , #crpc_columns_3_niv2 #column-1 .portlet
{
text-align:left;
}
#crpc_columns_3  #column-1 .portlet-content, #crpc_columns_3_niv2 #column-1 .portlet-content
{
background:transparent;
padding:0px;
margin:0px;
}

/* Cas portlets dans la 2eme colonne */

#crpc_columns_3  #column-2 .portlet , #crpc_columns_3_niv2 #column-2 .portlet
{
background:transparent;
border:0px;
margin:0 0 10px;
text-align:left;
}
#crpc_columns_3  #column-2 .portlet-content, #crpc_columns_3_niv2 #column-2 .portlet-content
{
background:transparent;
padding:0px;
margin:0px;
}


/* Cas portlets dans la 3eme colonne */


#crpc_columns_3  #column-3 .portlet , #crpc_columns_3_niv2 #column-3 .portlet
{
background:transparent;
border:0px;
margin:0 0 10px;
text-align:left;
}
#crpc_columns_3  #column-3 .portlet-content , #crpc_columns_3_niv2 #column-3 .portlet-content
{
background:transparent;
padding:0px;
margin:0px;
}

/* Portlet search */

#crpc_columns_3 #column-3 .portlet-search form,
#crpc_columns_3_niv2 #column-3 .portlet-search form
{
	text-align:center;
	height:25px;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/portlet-search.png) no-repeat 50% 0%;
	padding-top:6px;
}
#crpc_columns_3 #column-3 .portlet-search input,
#crpc_columns_3_niv2 #column-3 .portlet-search input
{
	padding:1px;
	color:#666666;
	border:1px solid #cccccc;
}
#crpc_columns_3 #column-3 .portlet-search input[type="image"],
#crpc_columns_3_niv2 #column-3 .portlet-search input[type="image"]
{
	border:none;
}
#crpc_columns_3_niv2 #column-3 .portlet-search form
{
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/portlet-search2.png) no-repeat 10px 0%;
}
#crpc_columns_3_niv2 #column-3 .portlet-search input[type="text"]
{
	width:140px;
}

#crpc_columns_3 .portlet-msg-error , #crpc_columns_3_niv2 .portlet-msg-error 
{
	background-image: none;
	background:none;
	color:red;
	border: none;
	display: block;
	font-weight: bold;
	margin: 1em;
	padding: 0em;
	text-align: left;
}

/* Portlets formulaire */

#crpc_columns_3_niv2 .portlet-web-form fieldset
{
	border:none;
}

#crpc_columns_3_niv2 .portlet-web-form .even, #crpc_columns_3_niv2 .portlet-web-form .odd
{   
float:left;	
clear:none;
width:45%;
}
#crpc_columns_3_niv2 .portlet-web-form .even
{
	clear:both;
}
#crpc_columns_3_niv2 .portlet-web-form .odd
{
	margin-left:1em;
}
#crpc_columns_3_niv2 .portlet-web-form textarea
{
	width:99%;
}
#crpc_columns_3_niv2 .portlet-web-form .clearfield
{
	clear:both;
	margin:0;
	float:none;
	width:90%;
}
#crpc_columns_3_niv2 .portlet-web-form .button-holder
{
position:relative;
text-align:right;
left:-48px;
margin-top:0;
}

#crpc_columns_3_niv2 .portlet-web-form label
{
	width:90px;
}

/* legende apparait comme titre h1 */
#crpc_columns_3_niv2 .portlet-web-form legend
{
	font-size:12pt;
	color: #364671;
	text-transform:uppercase;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/h1.png) no-repeat;
	padding-left:18pt;
	padding-top:2px;
}
/* Captcha */
#crpc_columns_3_niv2 .portlet-web-form img
{
	height:27px;
	margin-left:107px;
	margin-top:1em;
}
#crpc_columns_3_niv2 .portlet-web-form input[type="submit"]
{
	width:200px;
}


#crpc_columns_3_niv2 #column-2 .portlet-boundary_documents_presse_WAR_documents_presse_ .alfresco_dossier h2,
#crpc_columns_3_niv2 #column-2 .portlet-boundary_documents_presse_WAR_documents_presse_ .alfresco_commission h2
{
	text-transform:uppercase;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/presse02.jpg) no-repeat;
	padding-left:30px;
	padding-top:1px;
}

#crpc_columns_3_niv2 #column-2 .portlet-boundary_documents_presse_WAR_documents_presse_ .alfresco_communique h2,
#crpc_columns_3_niv2 #column-2 .portlet-boundary_discours_WAR_discours_ .alfresco_discours h2
{
	text-transform:uppercase;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/presse01.jpg) no-repeat;
	padding-left:30px;
	padding-top:1px;
}

#crpc_columns_3_niv2 #column-2 .portlet-boundary_documents_presse_WAR_documents_presse_ .alfresco_pj,
#crpc_columns_3_niv2 #column-2 .portlet-boundary_discours_WAR_discours_ .alfresco_pj
{
	text-align:right;
	padding-right:1em;
	clear:both;
}
#crpc_columns_3_niv2 #column-2 .portlet-boundary_documents_presse_WAR_documents_presse_ .alfresco_pj a,
#crpc_columns_3_niv2 #column-2 .portlet-boundary_discours_WAR_discours_ .alfresco_pj a
{
	color:#E4642A !important;
	padding-left:22px;
	padding-top:2px;
	background: url(http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/document2.png) no-repeat top left;
}

.portlet-boundary_discours_WAR_discours_ #categories
{
margin:4px 0px;
}

.portlet-search a
{
	color:#ed701a !important; 
}
.portlet-search a:hover
{
	text-decoration:none !important;
}
.portlet-search h2
{
	border-bottom:1px solid #bbb;
	padding-bottom:0.2em;
}

/* SITEMAP */

.portlet-site-map a.actionplus
{
background:url('http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/plansite0.png') no-repeat;
padding-left:15px;
cursor:pointer;
}

.portlet-site-map a.actionminus
{
background:url('http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/plansite1.png') no-repeat;
padding-left:15px;
cursor:pointer;
}

.portlet-site-map a.actionnone
{
background:url('http://www.poitou-charentes.fr/html/themes/crpcweb/images/crpc/plansite2.png') no-repeat;
padding-left:15px;
cursor:pointer;
}

.ie .portlet-site-map a.actionplus, .ie .portlet-site-map a.actionminus, .ie .portlet-site-map a.actionnone
{
	display:inline-block;
	width:11px;
	height:12px;
}

.portlet-site-map ul
{
margin:0.6em;
margin-left:1.8em;
}

.portlet-site-map li
{
list-style-image:none !important;
}




