/*******************************************************************************
********************************************************************************
	Project		: Mercedes-Benz Deutschland
********************************************************************************
*******************************************************************************/
/*
div#ms-showroom-stage.ms93-showroom-stage-v2 {
	height: 326px;
}
div.ms93-showroom-stage-v2 div#ms-showroom-stage-f-left {
	height: 326px;
}
div.ms93-showroom-stage-v2 div.ms-showroom-stage-f-right-keyfacts {
	height: 326px;
}
*/

/*	Height wird nicht angwandt. Hoehe ueber margin-bottom der Liste angleichen */
body#ms-page-model div.ms93-showroom-matrix-v2 table tr td.ms-showroom-matrix-cell, 
body#ms-page-model div.ms93-showroom-matrix-v2 table tr td.ms-showroom-matrix-teaser, 
body#ms-page-model div.ms93-showroom-matrix-v3 table tr td.ms-showroom-matrix-cell, 
body#ms-page-model div.ms93-showroom-matrix-v3 table tr td.ms-showroom-matrix-teaser {
	width: 249px;
}
body#ms-page-model div.ms93-showroom-matrix-v3 table tr td.ms-showroom-matrix-cell, 
body#ms-page-model div.ms93-showroom-matrix-v3 table tr td.ms-showroom-matrix-teaser {
	height: 141px;
}


/*	Comparison	****************************************************************
*******************************************************************************/
div.ms93-comparison-stage-images-2 div.ms-comparison-stage-f-right-image {
	width: 355px;
	padding-top: 20px;
}