/*******************************************************************************
********************************************************************************
	Project		: Mercedes Benz Deutschland
********************************************************************************
*******************************************************************************/


/*	Core-Navigation Flyout  ****************************************************
*******************************************************************************/
/*	sind normal 20px; 6px vom dt-Tag */
div#ms-navi-main ul li dl.ms-navi-main-fly-v1-navi-c {
	margin-bottom: 14px;
}

/*	SN-Navigation - PCN ********************************************************
*******************************************************************************/
div.ms93-sn-splt {
	overflow: hidden;
	height: 2px;
	margin: 0 7px 0 0;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms93_splt_sn.gif);
	background-position: 0% 0%;
	background-repeat: repeat-x;
}
div#ms93-sn-top, 
div#ms93-sn-mddl {
	padding-left: 6px;
}
div#ms93-sn-mddl div.ms93-sn-fly-v1, 
div#ms93-sn-mddl div.ms93-sn-nofly-v1 {
	position: relative;
	margin-bottom: 5px;
}
div#ms93-sn-mddl div.ms93-sn-last-v1 {
	margin-bottom: 4px;
}
div#ms93-sn-mddl div.ms93-sn-linklist {
	margin-left: 5px;
	margin-right: 10px;
	padding-top: 4px;
	padding-bottom: 3px;
}

/*	Top - Headline ***************/
div#ms93-sn-top, 
div#ms93-sn-top-flash, 
div.ms93-navi-pcn-v2 div#ms-pcn-top {
	background-image:url(http://www.mercedes-benz.fr/css/css_ng/ms93_bg_navi_sn_top_24b.png);
}
div#ms93-sn-top {
	padding-top: 15px;
	padding-bottom: 16px;
}
div.ms93-sn-v2 div#ms93-sn-top, 
div.ms93-navi-pcn-v2 div#ms-pcn-top {
	padding-top: 9px;
	padding-bottom: 10px;
	padding-left: 21px;
}
div.ms93-sn-v3 div#ms93-sn-top {
	padding-top: 9px;
	padding-bottom: 10px;
	padding-left: 21px;
}

/*	Middle - Content *************/
div#ms93-sn-mddl {
	background-image:url(http://www.mercedes-benz.fr/css/css_ng/bg_navi_pcn_mddl_24b.png);
	background-repeat:repeat-y;
}
div#ms93-sn-mddl div#ms93-sn-mddl-bttns {
	padding-top: 4px;
}


div.ms93-sn-fly-v1 {
	position:relative;
	clear:both;
}
div.ms93-sn-fly-v1 div.ms93-sn-fly-v1-l1-inactive, 
div.ms93-sn-fly-v1 div.ms93-sn-fly-v1-l2-inactive {
	display: none;
	position: absolute;
	left: 220px;
	top: 0;
	width: 240px;
	padding-left: 4px;
	padding-bottom: 3px;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/bg_fly_pcn_v1_24b.png);
	background-position: 4px 100%;
}
div.ms93-sn-fly-v1 div.ms93-sn-fly-v1-l2-inactive {
	left: 231px;
}
div.ms93-sn-fly-v1 div.ms93-sn-fly-v1-l1-active div.ms93-sn-fly-v1-l2-inactive {
	left: 218px;
}
div.ms93-sn-fly-v1.ms-fly-hover div.ms93-sn-fly-v1-l1-inactive, 
div.ms93-sn-fly-v1 div.ms93-sn-fly-v1-l1-inactive ul li.ms-fly-hover div.ms93-sn-fly-v1-l2-inactive, 
div.ms93-sn-fly-v1 div.ms93-sn-fly-v1-l1-active ul li.ms-fly-hover div.ms93-sn-fly-v1-l2-inactive {
	display:block;
}
div.ms93-sn-fly-v1-l1-inactive ul, 
div.ms93-sn-fly-v1 div.ms93-sn-fly-v1-l2-inactive ul {
	margin: 0 3px 0 1px;
	padding: 0;
	border-top: 1px solid #DDD;
}
div.ms93-sn-fly-v1-l1-inactive ul li, 
div.ms93-sn-fly-v1-l1-active ul li {
	position: relative;
}
/*
	Bug TD-629
div.ms93-sn-fly-v1-l1-inactive ul li, 
div.ms93-sn-fly-v1 div.ms93-sn-fly-v1-l2-inactive ul li {
	padding: 0 10px;
}
*/
div.ms93-sn-fly-v1-l1-inactive ul li a, 
div.ms93-sn-fly-v1-l1-active div.ms93-sn-fly-v1-l2-inactive ul li a {
	display: block;
	padding: 3px 5px 2px 5px;
	border-bottom: 1px solid #DDD;
}
div.ms93-sn-fly-v1-l1-inactive ul li a, 
div.ms93-sn-fly-v1-l1-active div.ms93-sn-fly-v1-l2-inactive ul li a {
	width: 216px;
}


div.ms93-sn-fly-v1 div.ms93-sn-fly-v1-l1-active {
	position: relative;
	margin-left: 2px;
	margin-right: 8px;
	margin-bottom: 5px;
}

div.ms93-sn-fly-v1-l1-active li a {
	display: block;
	padding: 3px 14px 4px 13px;
	border-bottom: 1px solid #DDD;
}
div.ms93-sn-fly-v1-l1-active ul li ul li a {
	padding-left: 18px;
}


/*	Linklist */
div#ms93-sn-mddl div.ms93-sn-linklist ul.ms-flLeft {
	width:100px;
	margin:0 10px 0 0;
}
div#ms93-sn-mddl div.ms93-sn-linklist ul.ms-flRight {
	width:100px;
	margin:0 0 0 0;
}


/*	Bottom - Shadow **************/
div#ms93-sn-bttm {
	height:4px;
	background-image:url(http://www.mercedes-benz.fr/css/css_ng/bg_navi_pcn_bttm_24b.png);
	background-position:0% 100%;
	font-size: 0;
	line-height: 0em;
}
