/*******************************************************************************
********************************************************************************
	Project		: Mercedes-Benz Deutschland
********************************************************************************
*******************************************************************************/

div.ms93-teaser-distance-r {
	margin-right: 20px;
}
div.ms93-teaser-distance-b {
	padding-bottom: 14px;
}


/*	Teaserfragmente ************************************************************
*******************************************************************************/
div.ms93-teaser-fragment-1, 
div.ms93-teaser-fragment-2, 
div.ms93-teaser-fragment-3, 
div.ms93-teaser-fragment-4 {
	float: left;
	width: 100%;
	padding-bottom: 12px;
}
div.ms93-teaser-fragment-1 div.ms93-teaser-fragment-last, 
div.ms93-teaser-fragment-2 div.ms93-teaser-fragment-last, 
div.ms93-teaser-fragment-3 div.ms93-teaser-fragment-last, 
div.ms93-teaser-fragment-4 div.ms93-teaser-fragment-last {
	float: left;
	padding-bottom: 18px;
}
div.ms93-teaser-fragment-1-2, 
div.ms93-teaser-fragment-2-2, 
div.ms93-teaser-fragment-3-2 {
	width: 980px;
}
div.ms93-teaser-fragment-4-2 {
	width: 715px;
}
div.ms93-teaser-fragment-1 div.ms93-teaser-fragment-f-left, 
div.ms93-teaser-fragment-1 div.ms93-teaser-fragment-f-right, 
div.ms93-teaser-fragment-2 div.ms93-teaser-fragment-f-left, 
div.ms93-teaser-fragment-2 div.ms93-teaser-fragment-f-right, 
div.ms93-teaser-fragment-3 div.ms93-teaser-fragment-f-left, 
div.ms93-teaser-fragment-3 div.ms93-teaser-fragment-f-right, 
div.ms93-teaser-fragment-4 div.ms93-teaser-fragment-f-left {
	float: left;
	width: 480px;
} 
div.ms93-teaser-fragment-4 div.ms93-teaser-fragment-f-left {
	width: 465px;
} 
div.ms93-teaser-fragment-4 div.ms93-teaser-fragment-f-right {
	width: 230px;
}
div.ms93-teaser-fragment-1 div.ms93-teaser-fragment-f-right, 
div.ms93-teaser-fragment-2 div.ms93-teaser-fragment-f-right, 
div.ms93-teaser-fragment-3 div.ms93-teaser-fragment-f-right,  
div.ms93-teaser-fragment-4 div.ms93-teaser-fragment-f-right {
	float: right;
}
div.ms93-teaser-fragment-1 div.ms93-teaser-fragment-f-right div.ms93-tdl10, 
div.ms93-teaser-fragment-3 div.ms93-tdl10 {
	float: left;
}



/*	Teaser *********************************************************************
*******************************************************************************/
div.ms93-tdl8 {
	clear: both;
	width: 480px;
}
div.ms93-teaser-fragment-1 div.ms93-tdl8 div.ms93-teaser-content, 
div.ms93-teaser-fragment-2 div.ms93-tdl8 div.ms93-teaser-content {
	float: left;
	width: 315px;
}
div.ms93-tdl9 {
	width: 465px;
}
div.ms93-teaser-fragment-4 div.ms93-tdl9 div.ms93-teaser-content {
	float: left;
	width: 260px;
}
div.ms93-tdl10 {
	width: 230px;
}