/*******************************************************************************
********************************************************************************
	Project		: Mercedes Benz Deutschland
********************************************************************************
*******************************************************************************/



/*******************************************************************************
--------------------------------------------------------------------------------
************************************************************	Basics
--------------------------------------------------------------------------------
*******************************************************************************/



/*	Text Color *****************************************************************
*******************************************************************************/
/*	White */
h2.ms-hl10, 
h3.ms-hl10 {
	color: #FFF;
}
/*	Grey */
p.ms-bt4-has-content a span.ms-bt4-content strong {
	color:#999;
}

/*	Dark Grey */
p.ms-bt4-has-content a span.ms-bt4-content  {
	color:#666;
}

/*	Anthracite */
div#ms-navi-meta ul li.ms-fly-loggedin:hover a, 
div#ms-navi-meta ul li.ms-fly-loggedin.iehover a, 
div.ms-layer-v1 div.ms93-frm p.ms93-frm-txt-sbs input {
	color: #333;
}



/*	Interaction --------------------------------------------------------------*/
/*	Midnight Blue */
div#ms-navi-main ul li div.ms-navi-main-fly-v3 ul.ms-linklist-typ-1 li a {
	color: #036;
}

/*	Cyan */
div#ms-navi-meta ul li.ms-fly-hover a, 
div#ms-navi-meta ul li.ms-fly-loggedin:hover a:hover, 
div#ms-navi-meta ul li.ms-fly-loggedin.iehover a:hover, 
div#ms-navi-main ul li div.ms-navi-main-fly-v3 ul.ms-linklist-typ-1 li a:hover {
	color:#00ADEF;
}

/*	Error Red */
.ms-error {
	color: #9F0002;
}


/*	Background Color ***********************************************************
*******************************************************************************/
/*	Light Arrow Silver Plane */
div.ms-tdl11, 
div.ms-tdl12 {
	background-color: #EFF1F3;
}

/*	Reset line-height **********************************************************
*******************************************************************************/
div#ms-navi-main ul li div.ms-navi-main-fly-v3 {
	line-height: 1.3;
}


/*	General background images **************************************************
*******************************************************************************/
p.ms-lnk1 a, 
p.ms-lnk6 a, 
p.ms-bt3-h2 a span span, 
p.ms-bt9 a span span, 
div#ms-navi-main ul li div.ms-navi-main-fly-v3 ul.ms-linklist-typ-1 li a {
	position: relative;
	padding-left: 9px;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/lsi_arrow_right_midblue_cyan_5px.gif);
	background-position: 0px 4px;
	background-repeat: no-repeat;
}
p.ms-lnk6 a {
	background-position: 0px 3px;
}
p.ms-bt3-h2 a span span {
	background-position: 0px 6px;
}
p.ms-bt3-h2 a:hover span span {
	background-position: 0px -144px;
}
p.ms-lnk1 a:hover, 
div#ms-navi-main ul li div.ms-navi-main-fly-v3 ul.ms-linklist-typ-1 li a:hover {
	background-position: 0px -146px;
}
p.ms-lnk6 a:hover {
	background-position: 0px -147px;
}
p.ms-bt9 a span span {
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/lsi_arrow_right_midblue_cyan.gif);
	background-position: 0px 8px;
}
p.ms-bt9 a:hover span span {
	background-position: 0px -42px;
}
div.ms-teaser-typ-5-with-bt9 div.ms-teaser h3 a {
  background-position: 0px 4px;
}
div.ms-teaser-typ-5-with-bt9 div.ms-teaser h3 a:hover {
  background-position: 0px -46px;
}

/*	G4 - Gradient */
/*	background-color um eventuelle Blitzer vorzubeugen */
div.ms-tdl11 h3.ms-hl10, 
div.ms-tdl12 h3.ms-hl10 {
	background-color: #87949D;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_gradient_g4.jpg);
}

/*	G12 - Gradient */
/*	background-color um eventuelle Blitzer vorzubeugen */
div.ms-tdl12 {
	background-color: #F1F2F4;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_gradient_g12.jpg);
	background-position: 0% 100%;
}


/*	I22 - Favorite Icon */
div.ms-tdl11 h3.ms-hl10 span {
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_i22.gif);
	background-position: 0px 1px;
}


/* 	Left Left - Icon auf linke Seite, zeigt nach links  */
p.ms-bt3-ll a span span {
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_lsi_arrow_left_white.gif);
	background-position: 0px 6px;
	background-repeat: no-repeat;
}
p.ms-bt3-ll a:hover span span {
	background-position: 0px 6px;
}


/* Headlines *******************************************************************
*******************************************************************************/

div.ms-layer h1.ms-hl3 {
	margin-top: 0px;
	padding-top: 2px;
}
div.ms-layer-v1 h1.ms-hl3 {
	width: 358px;
}

div.ms-layer h2.ms-hl10 {
	font-weight: bold;
}

div.ms-bx-top-with-bt h3.ms-hl3 {
	float: left;
	width: 182px;
}

body#ms-page-home div#ms-wrapper-f h6.ms-hl6 {
	font-weight: bold;
}

div.ms-tdl11 h3.ms-hl10, 
div.ms-tdl12 h3.ms-hl10 {
	font-weight: bold;
}

/*	Grids **********************************************************************
*******************************************************************************/
body#ms-page-overview-content div#ms-wrapper-f {
	height: 175px;
	background-repeat: repeat-x;
}

body#ms-page-landing div#ms-f-left, 
body#ms-page-overview-content div#ms-f-left {
	position: relative;
	width: 260px;
}
body#ms-page-overview-content div#ms-f-left {
	float: left;
	width: 259px;
}
body#ms-page-landing div#ms-f-left-2, 
body#ms-page-overview-content div#ms-f-left-2 {
	position: absolute;
	top: -470px;
	height: 470px;
}
body#ms-page-overview-content div#ms-f-left-2 {
	top: -295px;
	height: auto;
}
body#ms-page-landing div#ms-bx-wrppr, 
body#ms-page-overview-content div#ms-bx-wrppr {
	position: absolute;
	bottom: 6px;
	left: 9px;
	width: 234px;
}
body#ms-page-overview-content div#ms-bx-wrppr {
	top: 229px;
}
body#ms-page-landing div#ms-f-right {
	display: none;
}
body#ms-page-overview-content div#ms-f-right {
	float: right;
	width: 741px;
}
body#ms-page-overview-content div#ms-f-right-2 {
	padding-top: 9px;
}



/*******************************************************************************
--------------------------------------------------------------------------------
************************************************************	Navigationen
--------------------------------------------------------------------------------
*******************************************************************************/

div#ms-navi-meta ul li.ms-fly-hover, 
div#ms-navi-meta ul li.ms-fly-hover a,
div#ms-navi-meta ul li.ms-fly-hover-0, 
div#ms-navi-meta ul li.ms-fly-hover-0 a, 
div#ms-navi-meta ul li.ms-fly-loggedin, 
div#ms-navi-meta ul li.ms-fly-loggedin a, 
div#ms-navi-meta ul li.ms-fly-loggedin ul li {
	background: none;
}
div#ms-navi-meta ul li.ms-fly-hover a span, 
div#ms-navi-meta ul li.ms-fly-hover-0 a span, 
div#ms-navi-meta ul li.ms-fly-hover-0.iehover a:hover span, 
div#ms-navi-meta ul li.ms-fly-loggedin:hover a span, 
div#ms-navi-meta ul li.ms-fly-loggedin.iehover a span, 
div#ms-navi-meta ul li.ms-fly-loggedin a:hover span {
	padding-right: 10px;
	border-right: 1px solid #333;
}
div#ms-navi-meta ul li.ms-fly-hover ul li.ms-navi-last-li a span, 
div#ms-navi-meta ul li.ms-fly-hover-0.ms-navi-last-li a span, 
div#ms-navi-meta ul li.ms-fly-hover-0.ms-navi-last-li.iehover a:hover span.ms-navi-last, 
div#ms-navi-meta ul li.ms-fly-loggedin:hover ul li.ms-navi-last-li a span, 
div#ms-navi-meta ul li.ms-fly-loggedin.iehover ul li.ms-navi-last-li a span, 
div#ms-navi-meta ul li.ms-fly-loggedin ul li.ms-navi-last-li a:hover span {
	padding-right: 11px;
	border-right: 0;
}

div#ms-navi-meta ul li span.ms-as-atag {
	display: inline;
	float: left;
	padding: 9px 0 10px 0;
	margin-left: 2px;
}
div#ms-navi-meta ul li span.ms-as-atag span {
	padding: 0 10px 0 8px;
	border-right: 1px solid #333;
}

div#ms-navi-meta ul li.ms-fly-loggedin {
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/bg_navi_meta_l_a_24b.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
div#ms-navi-meta ul li.ms-fly-loggedin ul {
	display: inline;
	float: left;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/bg_navi_meta_r_a_24b.png);
	background-position: 100% 0px;
	margin-left: 2px;
}


/*	Core-Navigation ************************************************************
*******************************************************************************/
/*	Flyout */
div#ms-navi-main ul li div.ms-navi-main-fly-v3 {
	display: none;
	position: absolute;
	padding-top: 3px;
}

/*	Flyout mit 2 Boxen ---------------------------------------------------------
------------------------------------------------------------------------------*/
/*	
	b-a -> geht nach _links_ 
	a-b -> geht nach _rechts_ 
*/
div#ms-navi-main ul li div.ms-navi-main-fly-v3-show-b-a, 
div#ms-navi-main ul li div.ms-navi-main-fly-v3-show-a-b {
	right: -3px;
	width: 386px;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_fly_v3_col2_1_24b.png);
	background-position: 0% 0%;
}
div#ms-navi-main ul li div.ms-navi-main-fly-v3-show-a-b {
	left: 0px;
}
div#ms-navi-main ul li div.ms-navi-main-fly-v3-show-b-a div.ms-navi-main-fly-v3-2,
div#ms-navi-main ul li div.ms-navi-main-fly-v3-show-a-b div.ms-navi-main-fly-v3-2 {
	float: left;
	padding: 0px 3px 21px 1px;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_fly_v3_col2_2_24b.png);
	background-position: 0% 100%;
}


/*	Flyout mit 1 Box -----------------------------------------------------------
------------------------------------------------------------------------------*/
/*	
	0-a -> geht nach _links_ 
	a-0 -> geht nach _rechts_ 
*/
div#ms-navi-main ul li div.ms-navi-main-fly-v3-show-0-a, 
div#ms-navi-main ul li div.ms-navi-main-fly-v3-show-a-0 {
	right: -3px;
	width: 195px;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_fly_v3_col1_1_24b.png);
	background-position: 0% 0%;
}
div#ms-navi-main ul li div.ms-navi-main-fly-v3-show-a-0 {
	left: 0px;
}
div#ms-navi-main ul li div.ms-navi-main-fly-v3-show-0-a div.ms-navi-main-fly-v3-2,
div#ms-navi-main ul li div.ms-navi-main-fly-v3-show-a-0 div.ms-navi-main-fly-v3-2 {
	padding: 0px 3px 21px 1px;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_fly_v3_col1_2_24b.png);
	background-position: 0% 100%;
}




/*	Hover */
div#ms-navi-main ul li.ms-fly-hover div.ms-navi-main-fly-v3 {
	display: block;
}



/*	Boxes in Flyout */
div#ms-navi-main ul li div.ms-navi-main-fly-v3-a, 
div#ms-navi-main ul li div.ms-navi-main-fly-v3-b {
	float: left;
	width: 191px;
} 
div#ms-navi-main ul li div.ms-navi-main-fly-v3-show-0-a div.ms-navi-main-fly-v3-a, 
div#ms-navi-main ul li div.ms-navi-main-fly-v3-show-a-0 div.ms-navi-main-fly-v3-a {
	float: none;
}
div#ms-navi-main ul li div.ms-navi-main-fly-v3-show-b-a div.ms-navi-main-fly-v3-a {
	float: right;
}
div#ms-navi-main ul li div.ms-navi-main-fly-v3-a div.ms-navi-main-fly-v3-a-2, 
div#ms-navi-main ul li div.ms-navi-main-fly-v3-b div.ms-navi-main-fly-v3-b-2 {
	padding: 0px 10px;
} 
div#ms-navi-main ul li div.ms-navi-main-fly-v3-a div.ms-navi-main-fly-v3-a-2 {
	padding-top: 0px;
} 
div#ms-navi-main ul li div.ms-navi-main-fly-v3-b div.ms-navi-main-fly-v3-b-2 {
	padding-top: 10px;
} 




/*******************************************************************************
--------------------------------------------------------------------------------
************************************************************	Komponenten
--------------------------------------------------------------------------------
*******************************************************************************/

div.ms-bx-v1-fixed {
}
div.ms-bx-v1-fixed div#ms-bx-mddl {
	height: 204px;
}


div#ms-bx-top, 
div#ms-bx-mddl {
	clear: both;
	float: left;
	width: 100%;
}

div#ms-bx-top-2, 
div#ms-bx-mddl-2 {
	padding: 0px 13px 0px 11px;
}
/*	Top - Headline ***************/
div#ms-bx-top {
	background-image:url(http://www.mercedes-benz.fr/css/css_ng/ms93_bg_navi_sn_top_24b.png);
}
div#ms-bx-top-2 {
	padding-top: 5px;
}
div.ms-rb div#ms-bx-top-2 {
	padding-top: 4px;
	padding-bottom: 1px;
}
div.ms-bx-v1-close div#ms-bx-top {
	padding-bottom: 4px;
}
/*	Middle - Content *************/
div#ms-bx-mddl {
	background-image:url(http://www.mercedes-benz.fr/css/css_ng/bg_navi_pcn_mddl_24b.png);
	background-position: 0px 1px;
	background-repeat:repeat-y;
}
div#ms-bx-mddl-2 {
	padding-top: 4px;
	padding-bottom: 17px;
}

/*	Bottom - Shadow **************/
div#ms-bx-bttm {
	clear: both;
	height: 3px;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/bg_navi_pcn_bttm_24b.png);
	background-position: 0% 100%;
	font-size: 0;
	line-height: 0em;
}



/*	layer ----------------------------------------------------------------------
------------------------------------------------------------------------------*/
div.ms-layer {
	position: absolute;
	top: 100px;
	left: 50%;
	z-index: 1000;
}
div.ms-layer-v1 {
	width: 399px;
	margin-left: -200px;
}
div.ms-layer-v2 {
	width: 784px;
	margin-left: -392px;
}
div.ms-layer-v3 {
	width: 544px;
	margin-left: -272px;
}
div.ms-layer-t {
	float: left;
	width: 100%;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_bg_layer_v1_t_l_24b.png);
	background-position: 0px 0px;
}
div.ms-layer-t-c {
	margin-left: 5px;
	height: 28px;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_bg_layer_v1_t_r_24b.png);
	background-position: 100% 0px;
}
div.ms-layer-m {
	float: left;
	width: 100%;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_bg_layer_v1_m_l_24b.png);
	background-position: 0px 0px;
}
div.ms-layer-m-c {
	margin-left: 1px;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_bg_layer_v1_m_r_24b.png);
	background-position: 100% 0px;
	background-repeat: repeat-y;
}
div.ms-layer-v2 div.ms-layer-m-c, 
div.ms-layer-v3 div.ms-layer-m-c {
	float: left;
}
div.ms-layer-v2 div.ms-layer-m-c {
	width: 783px;
}
div.ms-layer-v3 div.ms-layer-m-c {
	width: 543px;
}
div.ms-layer-v1 div.ms-layer-m-c-2 {
	padding: 18px 20px;
}
div.ms-layer-v2 div.ms-layer-m-c-2, 
div.ms-layer-v3 div.ms-layer-m-c-2 {
	padding: 0 3px 0 0;
}
div.ms-layer-b {
	float: left;
	width: 100%;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_bg_layer_v1_b_l_24b.png);
	background-position: 0% 100%;
}
div.ms-layer-b-c {
	height: 3px;
	margin-left: 5px;
	padding-right: 3px;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_bg_layer_v1_b_r_24b.png);
	background-position: 100% 100%;
	font-size: 0;
	line-height: 0em;
}




div.ms-layer-t-c h2.ms-hl10 {
	padding: 8px 0px 0px 15px;
}


div.ms-layer-v2 div.ms-layer-m-c-2 div.ms-wrapper-t, 
div.ms-layer-v2 div.ms-layer-m-c-2 div.ms-wrapper-m, 
div.ms-layer-v2 div.ms-layer-m-c-2 div.ms-wrapper-b {
	float: left;
	width: 100%;
}
div.ms-layer-v2 div.ms-layer-m-c-2 div.ms-wrapper-t {
	float: left;
	width: 100%;
	background-color: #DDD;
}
div.ms-layer-v2b div.ms-layer-m-c-2 div.ms-wrapper-t {
	float: none;
	width: auto;
	padding: 18px 20px 0px 20px;
	background-color: #FFF;
}
div.ms-layer-v2 div.ms-layer-m-c-2 div.ms-wrapper-t p.ms-loggedin-username {
	margin: 12px 40px 0 0px;
	padding-bottom: 9px;
	text-align: right;
}
div.ms-layer-v2 div.ms-layer-m-c-2 div.ms-wrapper-t div.ms-component-tab {
	clear: both;
	margin-bottom: 0px;
	background: none;
}
div.ms-layer-v2 div.ms-layer-m-c-2 div.ms-wrapper-t div.ms-component-tab ul li, 
div.ms-layer-v2 div.ms-layer-m-c-2 div.ms-wrapper-t div.ms-component-tab ul li a {
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_bg_navi_tab_on_gp3.gif);
}


div.ms-layer-v2 div.ms-layer-m-c-2 div.ms-wrapper-m, 
div.ms-layer-v3 div.ms-layer-m-c-2 div.ms-wrapper-m {
	position: relative;
	min-height: 127px;
	max-height: 427px;
	overflow-y: scroll;
}

div.ms-layer-v2 div.ms-layer-m-c-2 div.ms-wrapper-m div.ms-wrapper-m-2, 
div.ms-layer-v3 div.ms-layer-m-c-2 div.ms-wrapper-m div.ms-wrapper-m-2 {
	padding: 18px 20px;
}
div.ms-layer-v2b div.ms-layer-m-c-2 div.ms-wrapper-m div.ms-wrapper-m-2 {
	padding-right: 10px;
}

div.ms-layer-v2 div.ms-layer-m-c-2 div.ms-wrapper-b-2, 
div.ms-layer-v3 div.ms-layer-m-c-2 div.ms-wrapper-b-2 {
	padding: 13px 257px 0 0;
	border-top: 1px solid #DDD;
}
div.ms-layer-v2b div.ms-layer-m-c-2 div.ms-wrapper-b-2 {
	padding-right: 277px;
}
div.ms-layer-v3b div.ms-layer-m-c-2 div.ms-wrapper-b-2 {
	padding-right: 37px;
}



div.ms-layer-v2 div.ms-layer-cols-2 div.ms-layer-col-a {
	float: left;
	width: 480px;
	margin-right: 0;
}
div.ms-layer-v2 div.ms-layer-cols-2 div.ms-layer-col-b {
	float: right;
	width: 230px;
	height: 30px;
	background-color: #F90;
}
/*******************************************************************************
--------------------------------------------------------------------------------
************************************************************	Elemente
--------------------------------------------------------------------------------
*******************************************************************************/

/*	---------- bt3 */
div.ms-fly-login div.ms-frm-cols-3 p.ms93-bt3 {
	margin-top: 17px;
}
div.ms-bx-v1 div.ms-frm-login p.ms93-bt3 {
	position: relative;
	float: right;
	margin-right: -3px;
}



/*	---------- bt3 hierarchie level 2 */
p.ms-bt3-h2 a {
	display: block;
	float: left;
	padding: 0px 0px 0px 3px;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_bt3_h2_l_wht.png);
	background-position: 0% 0%;
	white-space: nowrap;
}
div.ms-layer-v1 p.ms-bt3-h2 a {
	float: right;
}
p.ms-bt3-h2 a span {
	display: block;
	padding: 0 11px 0 5px;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_bt3_h2_r_wht.png);
	background-position: 100% 0%;
}
p.ms-bt3-h2 a span span {
	display: block;
	padding-right: 0;
	padding-bottom: 1px;
	line-height: 19px;
}
p.ms-bt3-h2-r a span span {
	padding-left: 0;
	padding-right: 9px;
}


/*	---------- Button - Info */
/*	---------- vergleiche btn4 (alt, wird als img eingebunden) und bt4 */
p.ms-bt4 {
}
p.ms-bt4 a {
	display: block;
	width: 20px;
	height: 20px;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_bt4.gif);
	text-indent: -1000em;
}
p.ms-bt4 a:hover {
	background-position: 0 -100px;
}
/*	Info Button zeigt bei Mouseover eine Info */
p.ms-bt4-has-content a {
	position: relative;
	width: auto;
	height: auto;
	background: none;
	text-indent: 0;
}
p.ms-bt4-has-content a span.ms-bt4-icon {
	display: block;
	width: 20px;
	height: 20px;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_bt4.gif);
	text-indent: -1000em;	
}
p.ms-bt4-has-content a:hover span.ms-bt4-icon {
	background-position: 0 -100px;
}
/*	background - "komplizierte" Angaben wegen IE6 */
p.ms-bt4-has-content a span.ms-bt4-content {
	position: absolute;
	left: 22px;
	top: 0;
	display: none;
	width: 105px;
	padding-left: 25px;
	background: none;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_bt4_content.gif);
	background-position: 500px 0px;
	background-repeat: no-repeat;
}
p.ms-bt4-has-content a:hover span.ms-bt4-content {
	display: block;
	background-color: #FFF;
	background-position: 0px 0px;
}
p.ms-bt4-has-content a span.ms-bt4-content strong {
	font-weight: normal;
}
/*	in einem Formular */
p.ms-bt4 span.ms93-frm-bt a {
	float: left;
	margin-left: 4px;
}


/*	---------- Button - Close */
p.ms-bt6 {
	float: right;
	margin: 4px 7px 3px 0;
}
p.ms-bt6 a {
	display: block;
	width: 19px;
	height: 20px;
	text-indent: -1000em;
}
div.ms-layer p.ms-bt6 a {
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_bt6_v2.gif);
}
p.ms-bt6 a:hover {
	background-position: 0 -100px;
}

/*	bt8 */
p.ms-bt8 {
	float: right;
}
p.ms-bt8 a {
	display: block;
	width: 18px;
	height: 18px;
	margin: 4px 0 0 0;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_bt8.gif);
	text-indent: -1000em;
}
p.ms-bt8 a:hover {
	background-position:0 -100px;
}
div.ms-bx-v1-open p.ms-bt8 a {
	background-position:0 -200px;
}
div.ms-bx-v1-open p.ms-bt8 a:hover {
	background-position:0 -300px;
}

/*	bt9 */
p.ms-bt9 a {
	display: block;
	float: left;
	padding: 0px 0px 0px 4px;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_bt9_l_24b.png);
	background-position: 0% 0%;
	white-space: nowrap;
}
p.ms-bt9 a span {
	display: block;
	padding: 0 11px 0 5px;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_bt9_r_24b.png);
	background-position: 100% 0%;
}
p.ms-bt9 a span span {
	display: block;
	padding-right: 0;
	padding-bottom: 1px;
	line-height: 23px;
}
div.ms-teaser-typ-5-with-bt9 p a {
	width: 230px;
	margin-bottom: 7px;
}


/*	dl -> Deepend Line */
div.ms-dl {
	overflow: hidden;
	height: 2px;
	margin: 0;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms93_splt_sn.gif);
	background-position: 0% 0%;
	background-repeat: repeat-x;
}


/*	gl -> Grey Line */
div.ms-gl {
	clear: both;
	overflow: hidden;
	height: 1px;
	background-color: #DDD;
}
div.ms-tdl-ela div.ms-gl {
	background-color: #AAA;
}
div#ms-navi-main ul li div.ms-navi-main-fly-v3-a div.ms-gl {
	margin-left: -10px;
	margin-right: -10px;
}
/*	dgl -> Dark Grey Line */
div.ms-dgl {
	clear: both;
	overflow: hidden;
	height: 1px;
	background-color: #666;
}


/*	wl -> White Line */
div.ms-wl {
	clear: both;
	overflow: hidden;
	height: 1px;
	background-color: #FFF;
}
div.ms-tdl11 div.ms-wl, 
div.ms-tdl12 div.ms-wl {
	margin-right: 5px;
	margin-left: 5px;
}

/*	tx4 */
p.ms-tx4 {
	font-weight: bold;
}


/*	img8 */
div#ms-navi-main ul li.ms-fly-hover div.ms-navi-main-fly-v3 p.ms-img8 {
	text-align: center;
}

/*	me3 */
div.ms-tdl11 p.ms-me3 img, 
div.ms-tdl12 p.ms-me3 img {
	border-bottom: 1px solid #FFF;
}



/*	lnk1 */
p.ms-lnk1 a {
	position: static;
	display: block;	
}


/*	lnk6 */
div.ms-fly-login p.ms-lnk6 {
	margin-bottom: 9px;
}
div.ms-fly-login p.ms-lnk6 a {
	margin-right: 25px;
}

/*	ll1, linklist-typ-1 */
body.ms-ng div#ms-f-left div#ms-teaser-f div.ms-tdl11 ul.ms-linklist-typ-1, 
body.ms-ng div#ms-f-left div#ms-teaser-f div.ms-tdl12 ul.ms-linklist-typ-1 {
	width: auto;
	margin-bottom: 0px;
}

div.ms-bx-v1 ul.ms-linklist-typ-1 li a {
	float: none;
	display: inline;
}


/*	en2 */
body.ms-ng ul.ms-en2 li {
	padding-left: 7px;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_lsi_en2.gif);
	background-position: 0px 5px;
}

/*******************************************************************************
--------------------------------------------------------------------------------
************************************************************	Teaser
--------------------------------------------------------------------------------
*******************************************************************************/
div.ms-teaser-typ-5-with-bt9 {
	display: inline;
	float: left;
	margin-right: 20px;
	width: 230px;
}
div.ms-teaser-typ-5-with-bt9-last {
	margin-right: 0px;
}


div.ms-tdl11, 
div.ms-tdl12 {
	width: 230px;
}
div.ms-tdl11 h3.ms-hl10, 
div.ms-tdl12 h3.ms-hl10 {
	padding: 4px 10px 4px 10px;
}
div.ms-tdl11 h3.ms-hl10 span {
	display: block;
	padding-left: 14px;
}
div.ms-tdl11-content, 
div.ms-tdl12-content {
	padding: 0px 10px;
}
div.ms-tdl11-content table {
	width: 100%;
	border-collapse:collapse;
	border-spacing:0;
}
div.ms-tdl11-content table th.ms-fow-n {
	font-weight: normal;
}
div.ms-tdl11-content table th, 
div.ms-tdl11-content table td {
	text-align: left;
}
div.ms-tdl11-content table td.ms-table-col-1 {
	padding-right: 10px;
}
div.ms-tdl11-content table td.ms-table-col-2 {
	text-align: right;
}


/*******************************************************************************
--------------------------------------------------------------------------------
************************************************************	Formulare
--------------------------------------------------------------------------------
*******************************************************************************/
li.ms-fly-loggedin ul li.ms-navi-last-li form {
	display: none;
}
p.ms93-frm-txt.ms-error input, 
p.ms93-frm-txtr.ms-error textarea, 
p.ms93-frm-slct.ms-error select {
	border-color: #9F0002;
}


div.ms-fly-login {
	display: none;
	position: absolute;
	right: 7px;
	top: 0;
	float: left;
	padding: 0px 0px 0px 4px;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_fly_login_l_24b.png);
	z-index: 15;
}
div.ms-fly-login-2 {
	padding: 7px 10px 0px 17px;
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_fly_login_r_24b.png);
	background-position: 100% 0%;
}
div.ms-fly-login div.ms-frm-cols-3 {
	
}
div.ms-fly-login div.ms-frm-cols-3 div.ms-frm-col-1, 
div.ms-fly-login div.ms-frm-cols-3 div.ms-frm-col-2, 
div.ms-fly-login div.ms-frm-cols-3 div.ms-frm-col-3 {
	float: left;
}
div.ms-fly-login div.ms-frm-cols-3 div.ms-frm-col-1, 
div.ms-fly-login div.ms-frm-cols-3 div.ms-frm-col-2 {
	margin-right: 10px;
}
div.ms-fly-login div.ms-frm-cols-3 p.ms-frm-txt {
	margin-bottom: 5px;
}
div.ms-fly-login div.ms-frm-cols-3 label, 
div.ms-fly-login div.ms-frm-cols-3 input {
	display: block;
}
div.ms-fly-login div.ms-frm-cols-3 label {
	margin-bottom: 5px;
}
div.ms-fly-login div.ms-frm-cols-3 input {
	height: 16px;
	height: 12px;
	background-color: #F8F8F8;
	border: 1px solid #999;
	width: 150px;
}





div.ms-bx-v1 div.ms-frm-login p.ms-frm-txt {
	float: left;
	width: 100%;
}
div.ms-bx-v1 div.ms-frm-login p.ms-frm-txt label, 
div.ms-bx-v1 div.ms-frm-login p.ms-frm-txt input {
	display: block;
	float: left;
}
div.ms-bx-v1 div.ms-frm-login p.ms-frm-txt input {
	float: right;
	height: 16px;
	background-color: #F8F8F8;
	border: 1px solid #999;
}



/*	---------- Layer allgemein */
div.ms-layer div.ms93-frm ul {
	clear: both;
}
div.ms-layer div.ms93-frm-sbmt p.ms93-bt3 {
	margin-left: 6px;
}

/*	---------- Layer V1 */
div.ms-layer-v1 div.ms93-frm p.ms93-frm-txt-sbs label {
	width: 71px;
}
div.ms-layer-v1 div.ms93-frm p.ms93-frm-txt-sbs input {
	width: 264px;
}
div.ms-layer-v1 div.ms93-frm p.ms93-frm-rdo label {
	display: block;
	float: left;
	padding-top: 3px;
}
div.ms-layer-v1 div.ms93-frm p.ms93-frm-rdo input {
	display: block;
	float: left;
}

/*	---------- Layer V2 / V3 */
div.ms-layer-v2 div.ms93-frm {
	margin-right: 260px;
}
div.ms-layer-v2 div.ms93-frm p.ms93-frm-rdo span.ms93-frm-label, 
div.ms-layer-v2 div.ms93-frm p.ms93-frm-slct-sbs label, 
div.ms-layer-v2 div.ms93-frm p.ms93-frm-txt-sbs label, 
div.ms-layer-v3 div.ms93-frm p.ms93-frm-rdo span.ms93-frm-label, 
div.ms-layer-v3 div.ms93-frm p.ms93-frm-slct-sbs label, 
div.ms-layer-v3 div.ms93-frm p.ms93-frm-txt-sbs label {
	width: 100px;
}
div.ms-layer-v2 p.ms93-frm-txt-sbs input, 
div.ms-layer-v2 p.ms93-frm-txtr-sbs textarea, 
div.ms-layer-v3 p.ms93-frm-txt-sbs input, 
div.ms-layer-v3 p.ms93-frm-txtr-sbs textarea {
	padding-left: 8px;
	padding-right: 0px;
}
div.ms-layer-v2 p.ms93-frm-txt-sbs input, 
div.ms-layer-v2 p.ms93-frm-txtr-sbs textarea, 
div.ms-layer-v2 p.ms93-frm-slct-sbs select, 
div.ms-layer-v3 p.ms93-frm-txt-sbs input, 
div.ms-layer-v3 p.ms93-frm-txtr-sbs textarea, 
div.ms-layer-v3 p.ms93-frm-slct-sbs select {
	width: 220px;
}
div.ms-layer-v2 p.ms93-frm-rdo span.ms93-frm-fields, 
div.ms-layer-v2 p.ms93-frm-chckbx span.ms93-frm-fields, 
div.ms-layer-v3 p.ms93-frm-rdo span.ms93-frm-fields, 
div.ms-layer-v3 p.ms93-frm-chckbx span.ms93-frm-fields {
	width: auto;
}
div.ms-layer-v2 p.ms93-frm-rdo span.ms-frm-rdo-h-with-img label, 
div.ms-layer-v2 p.ms93-frm-chckbx span.ms-frm-rdo-h-with-img label, 
div.ms-layer-v3 p.ms93-frm-rdo span.ms-frm-rdo-h-with-img label, 
div.ms-layer-v3 p.ms93-frm-chckbx span.ms-frm-rdo-h-with-img label {
	margin-right: 10px;
}
/*	Radio hat Checkboxen als Unterauswahl */
p.ms-frm-rdo-has-chckbxs label {
	font-weight: bold;
}
p.ms-frm-rdo-has-chckbxs span.ms93-frm-chckbx-h label, 
p.ms-frm-rdo-has-chckbxs span.ms93-frm-chckbx-v label {
	font-weight: normal;
}
p.ms-frm-rdo-has-chckbxs span.ms93-frm-chckbx-h, 
p.ms-frm-rdo-has-chckbxs span.ms93-frm-chckbx-v {
	padding: 6px 0 4px 23px;
}
p.ms-frm-rdo-has-chckbxs span.ms93-frm-rdo-v span.ms93-frm-chckbx-h span.ms93-frm-field {
	clear: none;
	display: inline;
}
p.ms-frm-rdo-has-chckbxs span.ms93-frm-rdo-v span.ms93-frm-chckbx-h span.ms-frm-field-last label {
	margin-right: 0px;
}

/*	Checkbox hat Radios als Unterauswahl */
p.ms-frm-chckbx-has-rdos label {
	font-weight: bold;
}
p.ms-frm-chckbx-has-rdos span.ms93-frm-rdo-h label, 
p.ms-frm-chckbx-has-rdos span.ms93-frm-rdo-v label {
	font-weight: normal;
}
p.ms-frm-chckbx-has-rdos span.ms93-frm-rdo-h, 
p.ms-frm-chckbx-has-rdos span.ms93-frm-rdo-v {
	clear: both;
	padding: 2px 0 4px 23px;
}
p.ms-frm-chckbx-has-rdos span.ms93-frm-chckbx-v span.ms93-frm-rdo-h span.ms93-frm-field {
	clear: none;
	display: inline;
}

div.ms-layer-v2 p span.ms-frm-img, 
div.ms-layer-v3 p span.ms-frm-img {
	float: left;
	margin-right: 25px;
}
div.ms-layer-v2 p span.ms-frm-has-separator, 
div.ms-layer-v3 p span.ms-frm-has-separator {
	background-image: url(http://www.mercedes-benz.fr/css/css_ng/ms94_separator_frm.gif);
	background-position: 100% 50%;
}  





/*******************************************************************************
--------------------------------------------------------------------------------
************************************************************	Abstaende
--------------------------------------------------------------------------------
*******************************************************************************/
body#ms-page-home div#ms-wrapper-f div.ms-tdl-ela p.ms-mab-special {
	margin-bottom: 4px;
}
body.ms-ng div#ms-f-left div#ms-teaser-f div.ms-tdl11 ul.ms-linklist-typ-1.ms-mab-special {
	margin-bottom: 7px;
}




/*******************************************************************************
--------------------------------------------------------------------------------
************************************************************	Spezialbreiten
--------------------------------------------------------------------------------
*******************************************************************************/
body.ms-ng div#website .ms-wid-10-1, 
body.ms-ng div#ms-overlay-content .ms-wid-10-1 { width: 10px; }
body.ms-ng div#website .ms-wid-10-2, 
body.ms-ng div#ms-overlay-content .ms-wid-10-2 { width: 20px; }
body.ms-ng div#website .ms-wid-10-3, 
body.ms-ng div#ms-overlay-content .ms-wid-10-3 { width: 30px; }
body.ms-ng div#website .ms-wid-10-4, 
body.ms-ng div#ms-overlay-content .ms-wid-10-4 { width: 40px; }
body.ms-ng div#website .ms-wid-10-5, 
body.ms-ng div#ms-overlay-content .ms-wid-10-5 { width: 50px; }
body.ms-ng div#website .ms-wid-10-6, 
body.ms-ng div#ms-overlay-content .ms-wid-10-6 { width: 60px; }
body.ms-ng div#website .ms-wid-10-7, 
body.ms-ng div#ms-overlay-content .ms-wid-10-7 { width: 70px; }
body.ms-ng div#website .ms-wid-10-8, 
body.ms-ng div#ms-overlay-content .ms-wid-10-8 { width: 80px; }
body.ms-ng div#website .ms-wid-10-9, 
body.ms-ng div#ms-overlay-content .ms-wid-10-9 { width: 90px; }
body.ms-ng div#website .ms-wid-10-10, 
body.ms-ng div#ms-overlay-content .ms-wid-10-10 { width: 100px; }
body.ms-ng div#website .ms-wid-10-11, 
body.ms-ng div#ms-overlay-content .ms-wid-10-11 { width: 110px; }
body.ms-ng div#website .ms-wid-10-12, 
body.ms-ng div#ms-overlay-content .ms-wid-10-12 { width: 120px; }
body.ms-ng div#website .ms-wid-10-13, 
body.ms-ng div#ms-overlay-content .ms-wid-10-13 { width: 130px; }
body.ms-ng div#website .ms-wid-10-14, 
body.ms-ng div#ms-overlay-content .ms-wid-10-14 { width: 140px; }
body.ms-ng div#website .ms-wid-10-15, 
body.ms-ng div#ms-overlay-content .ms-wid-10-15 { width: 150px; }
body.ms-ng div#website .ms-wid-10-16, 
body.ms-ng div#ms-overlay-content .ms-wid-10-16 { width: 160px; }
body.ms-ng div#website .ms-wid-10-17, 
body.ms-ng div#ms-overlay-content .ms-wid-10-17 { width: 170px; }
body.ms-ng div#website .ms-wid-10-18, 
body.ms-ng div#ms-overlay-content .ms-wid-10-18 { width: 180px; }
body.ms-ng div#website .ms-wid-10-19, 
body.ms-ng div#ms-overlay-content .ms-wid-10-19 { width: 190px; }
body.ms-ng div#website .ms-wid-10-20, 
body.ms-ng div#ms-overlay-content .ms-wid-10-20 { width: 200px; }


/*	font-size based on px ******************************************************
*******************************************************************************/
div#ms-overlay-content, 
div#ms-navi-main div.ms-navi-main-fly-v3 h4.ms-hl6, 
div.ms-tdl11 h4.ms-hl6 {
	font-size: 11px;
}




/*	muss geloescht werden, nur Optional */
div.ms-fly-login {
	display: block;
}




/*
 * BEGIN: Some styles to use contents of boxes with CRM layering API.
 */
div.ms-layer-contents {
	padding: 18px 17px 18px 20px;
	font-size: 11px;
}

div.ms-layer-contents div.ms93-frm p.ms93-frm-txt-sbs label {
	width:71px;
}

div.ms-layer-contents div.ms93-frm p.ms93-frm-txt-sbs input {
	width: 264px;
}

div.ms-layer-contents div.ms93-frm ul {
	clear:both;
}
/*
 * END: Some styles to use contents of boxes with CRM layering API.
 */
 
/*
 * Hinzugefügt von msuhre. tblum will es noch an der richtigen Position einfügen.
 */
div.ms-fly-login p.ms-lnk6 a {
	background-position: 0px 4px;
}
div.ms-fly-login p.ms-lnk6 a:hover {
	background-position: 0px -146px;
}