/*******************************************************************************
********************************************************************************
	Project		: Mercedes Benz Deutschland
********************************************************************************
*******************************************************************************/






/*******************************************************************************
--------------------------------------------------------------------------------
************************************************************	Abstaende
--------------------------------------------------------------------------------
*******************************************************************************/
body.ms-ng .ms-mar-0 { margin-right: 0px; }
body.ms-ng .ms-mar-1 { margin-right: 1px; }
body.ms-ng .ms-mar-2 { margin-right: 2px; }
body.ms-ng .ms-mar-3 { margin-right: 3px; }
body.ms-ng .ms-mar-4 { margin-right: 4px; }
body.ms-ng .ms-mar-5 { margin-right: 5px; }
body.ms-ng .ms-mar-6 { margin-right: 6px; }
body.ms-ng .ms-mar-7 { margin-right: 7px; }
body.ms-ng .ms-mar-8 { margin-right: 8px; }
body.ms-ng .ms-mar-9 { margin-right: 9px; }
body.ms-ng .ms-mar-10 { margin-right: 10px; }
body.ms-ng .ms-mar-11 { margin-right: 11px; }
body.ms-ng .ms-mar-12 { margin-right: 12px; }
body.ms-ng .ms-mar-13 { margin-right: 13px; }
body.ms-ng .ms-mar-14 { margin-right: 14px; }
body.ms-ng .ms-mar-15 { margin-right: 15px; }
body.ms-ng .ms-mar-16 { margin-right: 16px; }
body.ms-ng .ms-mar-17 { margin-right: 17px; }
body.ms-ng .ms-mar-18 { margin-right: 18px; }
body.ms-ng .ms-mar-19 { margin-right: 19px; }
body.ms-ng .ms-mar-20 { margin-right: 20px; }


body.ms-ng .ms-mab-0, 
body.ms-ng div.ms-component .ms-mab-0 { margin-bottom: 0px; }
body.ms-ng .ms-mab-1, 
body.ms-ng div.ms-component .ms-mab-1 { margin-bottom: 1px; }
body.ms-ng .ms-mab-2, 
body.ms-ng div.ms-component .ms-mab-2 { margin-bottom: 2px; }
body.ms-ng .ms-mab-3, 
body.ms-ng div.ms-component .ms-mab-3 { margin-bottom: 3px; }
body.ms-ng .ms-mab-4, 
body.ms-ng div.ms-component .ms-mab-4 { margin-bottom: 4px; }
body.ms-ng .ms-mab-5, 
body.ms-ng div.ms-component .ms-mab-5 { margin-bottom: 5px; }
body.ms-ng .ms-mab-6, 
body.ms-ng div.ms-component .ms-mab-6 { margin-bottom: 6px; }
body.ms-ng .ms-mab-7, 
body.ms-ng div.ms-component .ms-mab-7 { margin-bottom: 7px; }
body.ms-ng .ms-mab-8, 
body.ms-ng div.ms-component .ms-mab-8 { margin-bottom: 8px; }
body.ms-ng .ms-mab-9, 
body.ms-ng div.ms-component .ms-mab-9 { margin-bottom: 9px; }
body.ms-ng .ms-mab-10, 
body.ms-ng div.ms-component .ms-mab-10 { margin-bottom: 10px; }
body.ms-ng .ms-mab-11, 
body.ms-ng div.ms-component .ms-mab-11 { margin-bottom: 11px; }
body.ms-ng .ms-mab-12, 
body.ms-ng div.ms-component .ms-mab-12 { margin-bottom: 12px; }
body.ms-ng .ms-mab-13, 
body.ms-ng div.ms-component .ms-mab-13 { margin-bottom: 13px; }
body.ms-ng .ms-mab-14, 
body.ms-ng div.ms-component .ms-mab-14 { margin-bottom: 14px; }
body.ms-ng .ms-mab-15, 
body.ms-ng div.ms-component .ms-mab-15 { margin-bottom: 15px; }
body.ms-ng .ms-mab-16, 
body.ms-ng div.ms-component .ms-mab-16 { margin-bottom: 16px; }
body.ms-ng .ms-mab-17, 
body.ms-ng div.ms-component .ms-mab-17 { margin-bottom: 17px; }
body.ms-ng .ms-mab-18, 
body.ms-ng div.ms-component .ms-mab-18 { margin-bottom: 18px; }
body.ms-ng .ms-mab-19, 
body.ms-ng div.ms-component .ms-mab-19 { margin-bottom: 19px; }
body.ms-ng .ms-mab-20, 
body.ms-ng div.ms-component .ms-mab-20 { margin-bottom: 20px; }
body.ms-ng .ms-mab-21, 
body.ms-ng div.ms-component .ms-mab-21 { margin-bottom: 21px; }
body.ms-ng .ms-mab-22, 
body.ms-ng div.ms-component .ms-mab-22 { margin-bottom: 22px; }
body.ms-ng .ms-mab-23, 
body.ms-ng div.ms-component .ms-mab-23 { margin-bottom: 23px; }
body.ms-ng .ms-mab-24, 
body.ms-ng div.ms-component .ms-mab-24 { margin-bottom: 24px; }
body.ms-ng .ms-mab-25, 
body.ms-ng div.ms-component .ms-mab-25 { margin-bottom: 25px; }
body.ms-ng .ms-mab-26, 
body.ms-ng div.ms-component .ms-mab-26 { margin-bottom: 26px; }
body.ms-ng .ms-mab-27, 
body.ms-ng div.ms-component .ms-mab-27 { margin-bottom: 27px; }
body.ms-ng .ms-mab-28, 
body.ms-ng div.ms-component .ms-mab-28 { margin-bottom: 28px; }
body.ms-ng .ms-mab-29, 
body.ms-ng div.ms-component .ms-mab-29 { margin-bottom: 29px; }
body.ms-ng .ms-mab-30, 
body.ms-ng div.ms-component .ms-mab-30 { margin-bottom: 30px; }
body.ms-ng .ms-mab-31, 
body.ms-ng div.ms-component .ms-mab-31 { margin-bottom: 31px; }
body.ms-ng .ms-mab-32, 
body.ms-ng div.ms-component .ms-mab-32 { margin-bottom: 32px; }
body.ms-ng .ms-mab-33, 
body.ms-ng div.ms-component .ms-mab-33 { margin-bottom: 33px; }
body.ms-ng .ms-mab-34, 
body.ms-ng div.ms-component .ms-mab-34 { margin-bottom: 34px; }
body.ms-ng .ms-mab-35, 
body.ms-ng div.ms-component .ms-mab-35 { margin-bottom: 35px; }
body.ms-ng .ms-mab-36, 
body.ms-ng div.ms-component .ms-mab-36 { margin-bottom: 36px; }
body.ms-ng .ms-mab-37, 
body.ms-ng div.ms-component .ms-mab-37 { margin-bottom: 37px; }
body.ms-ng .ms-mab-38, 
body.ms-ng div.ms-component .ms-mab-38 { margin-bottom: 38px; }
body.ms-ng .ms-mab-39, 
body.ms-ng div.ms-component .ms-mab-39 { margin-bottom: 39px; }
body.ms-ng .ms-mab-40, 
body.ms-ng div.ms-component .ms-mab-40 { margin-bottom: 40px; }

body.ms-ng .ms-mab-0m { margin-bottom: -0px; }
body.ms-ng .ms-mab-1m { margin-bottom: -1px; }
body.ms-ng .ms-mab-2m { margin-bottom: -2px; }
body.ms-ng .ms-mab-3m { margin-bottom: -3px; }
body.ms-ng .ms-mab-4m { margin-bottom: -4px; }
body.ms-ng .ms-mab-5m { margin-bottom: -5px; }
body.ms-ng .ms-mab-6m { margin-bottom: -6px; }
body.ms-ng .ms-mab-7m { margin-bottom: -7px; }
body.ms-ng .ms-mab-8m { margin-bottom: -8px; }
body.ms-ng .ms-mab-9m { margin-bottom: -9px; }
body.ms-ng .ms-mab-10m { margin-bottom: -10px; }
body.ms-ng .ms-mab-11m { margin-bottom: -11px; }
body.ms-ng .ms-mab-12m { margin-bottom: -12px; }
body.ms-ng .ms-mab-13m { margin-bottom: -13px; }
body.ms-ng .ms-mab-14m { margin-bottom: -14px; }
body.ms-ng .ms-mab-15m { margin-bottom: -15px; }
body.ms-ng .ms-mab-16m { margin-bottom: -16px; }
body.ms-ng .ms-mab-17m { margin-bottom: -17px; }
body.ms-ng .ms-mab-18m { margin-bottom: -18px; }
body.ms-ng .ms-mab-19m { margin-bottom: -19px; }
body.ms-ng .ms-mab-20m { margin-bottom: -20px; }
body.ms-ng .ms-mab-21m { margin-bottom: -21px; }
body.ms-ng .ms-mab-22m { margin-bottom: -22px; }
body.ms-ng .ms-mab-23m { margin-bottom: -23px; }
body.ms-ng .ms-mab-24m { margin-bottom: -24px; }
body.ms-ng .ms-mab-25m { margin-bottom: -25px; }
body.ms-ng .ms-mab-26m { margin-bottom: -26px; }
body.ms-ng .ms-mab-27m { margin-bottom: -27px; }
body.ms-ng .ms-mab-28m { margin-bottom: -28px; }
body.ms-ng .ms-mab-29m { margin-bottom: -29px; }
body.ms-ng .ms-mab-30m { margin-bottom: -30px; }



body.ms-ng .ms-mal-0 { margin-left: 0px; }
body.ms-ng .ms-mal-1 { margin-left: 1px; }
body.ms-ng .ms-mal-2 { margin-left: 2px; }
body.ms-ng .ms-mal-3 { margin-left: 3px; }
body.ms-ng .ms-mal-4 { margin-left: 4px; }
body.ms-ng .ms-mal-5 { margin-left: 5px; }
body.ms-ng .ms-mal-6 { margin-left: 6px; }
body.ms-ng .ms-mal-7 { margin-left: 7px; }
body.ms-ng .ms-mal-8 { margin-left: 8px; }
body.ms-ng .ms-mal-9 { margin-left: 9px; }
body.ms-ng .ms-mal-10 { margin-left: 10px; }
body.ms-ng .ms-mal-11 { margin-left: 11px; }
body.ms-ng .ms-mal-12 { margin-left: 12px; }
body.ms-ng .ms-mal-13 { margin-left: 13px; }
body.ms-ng .ms-mal-14 { margin-left: 14px; }
body.ms-ng .ms-mal-15 { margin-left: 15px; }
body.ms-ng .ms-mal-16 { margin-left: 16px; }
body.ms-ng .ms-mal-17 { margin-left: 17px; }
body.ms-ng .ms-mal-18 { margin-left: 18px; }
body.ms-ng .ms-mal-19 { margin-left: 19px; }
body.ms-ng .ms-mal-20 { margin-left: 20px; }

body.ms-ng .ms-mal-14m { margin-left: -14px;}


body.ms-ng .ms-pat-0 { padding-top: 0px; }
body.ms-ng .ms-pat-1 { padding-top: 1px; }
body.ms-ng .ms-pat-2 { padding-top: 2px; }
body.ms-ng .ms-pat-3 { padding-top: 3px; }
body.ms-ng .ms-pat-4 { padding-top: 4px; }
body.ms-ng .ms-pat-5 { padding-top: 5px; }
body.ms-ng .ms-pat-6 { padding-top: 6px; }
body.ms-ng .ms-pat-7 { padding-top: 7px; }
body.ms-ng .ms-pat-8 { padding-top: 8px; }
body.ms-ng .ms-pat-9 { padding-top: 9px; }
body.ms-ng .ms-pat-10 { padding-top: 10px; }
body.ms-ng .ms-pat-11 { padding-top: 11px; }
body.ms-ng .ms-pat-12 { padding-top: 12px; }
body.ms-ng .ms-pat-13 { padding-top: 13px; }
body.ms-ng .ms-pat-14 { padding-top: 14px; }
body.ms-ng .ms-pat-15 { padding-top: 15px; }
body.ms-ng .ms-pat-16 { padding-top: 16px; }
body.ms-ng .ms-pat-17 { padding-top: 17px; }
body.ms-ng .ms-pat-18 { padding-top: 18px; }
body.ms-ng .ms-pat-19 { padding-top: 19px; }
body.ms-ng .ms-pat-20 { padding-top: 20px; }
body.ms-ng .ms-pat-21 { padding-top: 21px; }
body.ms-ng .ms-pat-22 { padding-top: 22px; }
body.ms-ng .ms-pat-23 { padding-top: 23px; }
body.ms-ng .ms-pat-24 { padding-top: 24px; }
body.ms-ng .ms-pat-25 { padding-top: 25px; }
body.ms-ng .ms-pat-26 { padding-top: 26px; }
body.ms-ng .ms-pat-27 { padding-top: 27px; }
body.ms-ng .ms-pat-28 { padding-top: 28px; }
body.ms-ng .ms-pat-29 { padding-top: 29px; }
body.ms-ng .ms-pat-30 { padding-top: 30px; }


body.ms-ng .ms-par-0 { padding-right: 0px; }
body.ms-ng .ms-par-1 { padding-right: 1px; }
body.ms-ng .ms-par-2 { padding-right: 2px; }
body.ms-ng .ms-par-3 { padding-right: 3px; }
body.ms-ng .ms-par-4 { padding-right: 4px; }
body.ms-ng .ms-par-5 { padding-right: 5px; }
body.ms-ng .ms-par-6 { padding-right: 6px; }
body.ms-ng .ms-par-7 { padding-right: 7px; }
body.ms-ng .ms-par-8 { padding-right: 8px; }
body.ms-ng .ms-par-9 { padding-right: 9px; }
body.ms-ng .ms-par-10 { padding-right: 10px; }
body.ms-ng .ms-par-11 { padding-right: 11px; }
body.ms-ng .ms-par-12 { padding-right: 12px; }
body.ms-ng .ms-par-13 { padding-right: 13px; }
body.ms-ng .ms-par-14 { padding-right: 14px; }
body.ms-ng .ms-par-15 { padding-right: 15px; }
body.ms-ng .ms-par-16 { padding-right: 16px; }
body.ms-ng .ms-par-17 { padding-right: 17px; }
body.ms-ng .ms-par-18 { padding-right: 18px; }
body.ms-ng .ms-par-19 { padding-right: 19px; }
body.ms-ng .ms-par-20 { padding-right: 20px; }


body.ms-ng .ms-pab-0 { padding-bottom: 0px; }
body.ms-ng .ms-pab-1 { padding-bottom: 1px; }
body.ms-ng .ms-pab-2 { padding-bottom: 2px; }
body.ms-ng .ms-pab-3 { padding-bottom: 3px; }
body.ms-ng .ms-pab-4 { padding-bottom: 4px; }
body.ms-ng .ms-pab-5 { padding-bottom: 5px; }
body.ms-ng .ms-pab-6 { padding-bottom: 6px; }
body.ms-ng .ms-pab-7 { padding-bottom: 7px; }
body.ms-ng .ms-pab-8 { padding-bottom: 8px; }
body.ms-ng .ms-pab-9 { padding-bottom: 9px; }
body.ms-ng .ms-pab-10 { padding-bottom: 10px; }
body.ms-ng .ms-pab-11 { padding-bottom: 11px; }
body.ms-ng .ms-pab-12 { padding-bottom: 12px; }
body.ms-ng .ms-pab-13 { padding-bottom: 13px; }
body.ms-ng .ms-pab-14 { padding-bottom: 14px; }
body.ms-ng .ms-pab-15 { padding-bottom: 15px; }
body.ms-ng .ms-pab-16 { padding-bottom: 16px; }
body.ms-ng .ms-pab-17 { padding-bottom: 17px; }
body.ms-ng .ms-pab-18 { padding-bottom: 18px; }
body.ms-ng .ms-pab-19 { padding-bottom: 19px; }
body.ms-ng .ms-pab-20 { padding-bottom: 20px; }

