/*******************************************************************************
********************************************************************************
	Project		: Mercedes-Benz Deutschland
********************************************************************************
*******************************************************************************/

div#ms-showroom-stage, 
div#ms-comparison-stage {
	height:255px;
	background-repeat:no-repeat;
}
div#ms-comparison-stage {
	height:230px;
}

div#ms-showroom-stage-f-left, 
div#ms-comparison-stage-f-left {
	position:relative;
	float:left;
	width:260px;
	height:255px;
}
div#ms-comparison-stage-f-left {
	height:230px;
}
div#ms-showroom-stage-f-right, 
div#ms-comparison-stage-f-right {
	float:left;
	width:740px;
}

/*	Single Car with Key Facts */
div.ms-showroom-stage-f-right-image {
	float:left;
	width:480px;
}
div.ms-showroom-stage-f-right-keyfacts {
	position:relative;
	float:left;
	width:260px;
	height:255px;
}
div.ms-showroom-stage-f-right-keyfacts div.ms-showroom-stage-f-right-content {
	position:absolute;
	left:20px;
	bottom:40px;
	width:230px;
}



div#ms-showroom-matrix {
	clear:both;
	float:left;
	width:100%;
	background-color:#ECECEC;
	border-top:1px solid #DDD;
}
div#ms-showroom-matrix div.ms-showroom-matrix-cell, 
div#ms-showroom-matrix div.ms-showroom-matrix-teaser {
	float:left;
	width:124px;
	height:70px;
	border-right:1px solid #DDD;
	border-bottom:1px solid #DDD;
}
html>body div#ms-showroom-matrix div.ms-showroom-matrix-cell, 
html>body div#ms-showroom-matrix div.ms-showroom-matrix-teaser {
	height:auto;
	min-height:70px;
}
div#ms-showroom-matrix div.ms-showroom-matrix-cell:hover {
	background-color:#F8F8F8;
}
div#ms-showroom-matrix div.ms-showroom-matrix-cell-2 {
	margin:10px;
}
div#ms-showroom-matrix div.ms-showroom-matrix-teaser {
	width:249px;
	background-color:#FFF;
}

/*	New */
div#ms-showroom-matrix table {
	clear:both;
	float:left;
	width:100%;
	border-spacing:0;
	border-collapse:collapse;
}
/*	Height wird nicht angwandt. Hoehe ueber margin-bottom der Liste angleichen */
div#ms-showroom-matrix table tr td.ms-showroom-matrix-cell, 
div#ms-showroom-matrix table tr td.ms-showroom-matrix-teaser {
	width:124px;
	border-right:1px solid #DDD;
	border-bottom:1px solid #DDD;
	vertical-align:top;
}
div#ms-showroom-matrix table tr td.ms-showroom-matrix-cell {
	height: 82px;
}

html>body div#ms-showroom-matrix table tr td.ms-showroom-matrix-cell, 
html>body div#ms-showroom-matrix table tr td.ms-showroom-matrix-teaser {

}

div#ms-showroom-matrix table tr td.ms-showroom-matrix-cell:hover {
	background-color:#F8F8F8;
}
div#ms-showroom-matrix table tr td.ms-showroom-matrix-teaser {
	width:249px;
	background-color:#FFF;
}





/*	Comparison	****************************************************************
*******************************************************************************/

/*	TAB :: 1px aus */
div.ms-comparison-stage-f-right-image {
	float:left;
	width:230px;
	margin-right:20px;
	padding-top:20px;
	
	
	padding-top:1px;
}
div.ms-comparison-image-last {
	margin-right:0px;
}


div.ms-comparison-filter {
	clear:both;
	padding:0 10px;
}