/*******************************************************************************
********************************************************************************
	Project		: Mercedes Benz Deutschland
********************************************************************************
*******************************************************************************/

ul.ms-lnk1-quality {
	line-height:1;
}



/*	Buttons ********************************************************************
*******************************************************************************/

body#ms-page-home div#ms-home-showroom p.ms-button-2 {
	position:absolute;
	bottom:10px;
	right:-3px;
}

body#ms-page-home div.ms-home-adaptive p.ms-button-2 {
	display:inline;
	clear:both;
	float:right;
	margin-right:-3px;
}

p.ms-button-2 a {
	display:block;
	float:left;
	padding:0px 0px 0px 3px;
	background-image:url(http://www.mercedes-benz.fr/css/css_ng/btn_2_va_l.png);
	background-position:0% 0%;
	white-space:nowrap;
}
p.ms-button-2 a span {
	display:block;
	padding:0 11px 0 6px;
	background-image:url(http://www.mercedes-benz.fr/css/css_ng/btn_2_va_r.png);
	background-position:100% 0%;
}
p.ms-button-2 a span span {
	display:block;
	padding-right:0;
	line-height:20px;
}

div.ms-form-dealersearch form p.ms-button-2 {
	float:right;
	padding-right:1px;
}




/*	Button PCN *****************************************************************
*******************************************************************************/
p.ms-pcn-button a {
	display:block;
	position:relative;
	padding:0px 0px 0px 15px;
	width:207px;
	background-image:url(http://www.mercedes-benz.fr/css/css_ng/btn_navi_pcn.gif);
	background-position:0% 0%;
	white-space:nowrap;
}
p.ms-pcn-button a span {
	display:block;
	padding:0 14px 0 0;
}
p.ms-pcn-button a span span {
	display:block;
	padding-right:0;
	padding: 2px 0 4px 0;
}
/*	Config Button */
div.ms-pcn-config p.ms-pcn-button a {
	background-image:url(http://www.mercedes-benz.fr/css/css_ng/btn_navi_pcn_config.gif);
}
/*
div#ms-navi-pcn-fly-v1 p.ms-pcn-button a span span {
	padding-bottom: 3px;
}
*/
div.ms-pcn-config p.ms-pcn-button a span span {
	padding-bottom: 5px;
}



/*	Button - Information */
a.ms-btn4 {
	display:block;
}
div.ms-tb1 table tbody th.ms-with-button a.ms-btn4, 
div.ms-tb1 table tbody td.ms-with-button a.ms-btn4, 
div.ms-tb7 table tbody th.ms-with-button a.ms-btn4, 
div.ms-tb7 table tbody td.ms-with-button a.ms-btn4 {
	float:right;
	margin-left:10px;
}

/*	Button - Close */
p.ms-btn6 {
	float:right;
	margin:4px 7px 3px 0;
}
p.ms-btn6 a {
	display:block;
	width:19px;
	height:20px;
	background-image:url(http://www.mercedes-benz.fr/css/css_ng/btn_6.gif);
	text-indent:-1000em;
}
p.ms-btn6 a:hover {
	background-position:0 -100px;
}




/*	Enlarge */
p.ms-link-enlarge {
	float:left;
	padding-top:5px;
}
p.ms-link-enlarge a {
	padding-left:17px;
	background-image:url(http://www.mercedes-benz.fr/css/css_ng/icon_enlarge.gif);
}
p.ms-link-enlarge a:hover {
	background-position:0px -50px;
}

/*	Lists *********************************************************************/

ul.ms-linklist-typ-1 li a, 
ul.ms-linklist-typ-1f li a, 
ul.ms-link-download li a {
	display:block;
}

/*	mouse sensitiv */
ul.ms-linklist-typ-1 li a, 
ul.ms-linklist-typ-1f li a, 
ul.ms-link-download li a {
	float:left;
}
/*	Download ******************************************************************/
/*	next declaration :: line-height */
ul.ms-link-download li {
	padding:2px 0;
}
ul.ms-link-download li a {
	padding-left:16px;
	background-image:url(http://www.mercedes-benz.fr/css/css_ng/icon_download.gif);
	background-position:0px 3px;
}
ul.ms-link-download li a:hover {
	background-position:0px -47px;
}


ul.ms-agc {
	float:right;
	padding-top:5px;
}
div.ms-modallayer-b-c-2 ul.ms-agc {
	margin-right:10px;
	margin-left: 50px;
	padding-top:0px;
	text-align: right;
}
ul.ms-agc li {
	display:block;
	float:left;
	margin-left:2px;
}
ul.ms-agc li a {
	display:block;
	width:14px;
	height:16px;
	background-image:url(http://www.mercedes-benz.fr/css/css_ng/icon_agc.gif);
}
ul.ms-agc li.ms-first-li a, 
ul.ms-agc li.ms-last-li a {
	width:6px;
}
ul.ms-agc li a:hover, 
ul.ms-agc li.ms-active a {
	background-position:0 -100px;
}






/*	Bulletlist *****************************************************************
*******************************************************************************/
body.ms-ng ul.ms-en1 {
}
body.ms-ng ul.ms-en1 li {
	padding-left:9px;
	background-image:url(http://www.mercedes-benz.fr/css/css_ng/lsi_en1.gif);
	background-position:0px 5px;
}


/*	Linklist *******************************************************************
*******************************************************************************/
div.ms-showroom-matrix-cell ul.ms-linklist-typ-1, 
div.ms-showroom-matrix-cell ul.ms-linklist-typ-1f, 
td.ms-showroom-matrix-cell ul.ms-linklist-typ-1,
td.ms-showroom-matrix-cell ul.ms-linklist-typ-1f {
	padding:0 10px;
}
td.ms-showroom-matrix-cell ul.ms-linklist-typ-1,
td.ms-showroom-matrix-cell ul.ms-linklist-typ-1f {
	margin-bottom:5px;
}

/*	bei 3 Links war der Wert = mab - 12*/
/*
td.ms-showroom-matrix-cell ul.ms-showroom-matrix-cell-distance-1 {
	margin-bottom:45px;
}
td.ms-showroom-matrix-cell ul.ms-showroom-matrix-cell-distance-2 {
	margin-bottom:31px;
}
td.ms-showroom-matrix-cell ul.ms-showroom-matrix-cell-distance-3 {
	margin-bottom:17px;
}
td.ms-showroom-matrix-cell ul.ms-showroom-matrix-cell-distance-4 {
	margin-bottom:5px;
}
*/


/*	Quality Linklist ***********************************************************
*******************************************************************************/
/*div#ms-component-gallery1 div#ms-stage ul.ms-lnk1-quality, 
div#ms-component-gallery2 div#ms-stage ul.ms-lnk1-quality {
	position:absolute;
	right:10px;
	top:274px;
}
*/
div#ms-component-gallery1 div#ms-stage ul.ms-lnk1-quality, 
div#ms-component-gallery2 div#ms-stage ul.ms-lnk1-quality {
	position:relative;
	margin:-20px 10px 0 0;
	text-align:right;
}
div#ms-component-gallery1 div#ms-stage ul.ms-lnk1-quality li, 
div#ms-component-gallery2 div#ms-stage ul.ms-lnk1-quality li {
	display:inline;
	padding-left:20px;
}
body.ms-ng div#ms-component-gallery1 div#ms-stage ul.ms-lnk1-quality li a, 
body.ms-ng div#ms-component-gallery2 div#ms-stage ul.ms-lnk1-quality li a {
	padding-left:17px;
	background-image:url(http://www.mercedes-benz.fr/css/css_ng/icon_quality.gif);
	background-position:0px 2px;
}
body.ms-ng div#ms-component-gallery1 div#ms-stage ul.ms-lnk1-quality li#ms-lnk1-quality-low a:hover, 
body.ms-ng div#ms-component-gallery1 div#ms-stage ul.ms-lnk1-quality li#ms-lnk1-quality-low a.ms-active, 
body.ms-ng div#ms-component-gallery2 div#ms-stage ul.ms-lnk1-quality li#ms-lnk1-quality-low a:hover, 
body.ms-ng div#ms-component-gallery2 div#ms-stage ul.ms-lnk1-quality li#ms-lnk1-quality-low a.ms-active {
	background-position:0px -98px;
}
body.ms-ng div#ms-component-gallery1 div#ms-stage ul.ms-lnk1-quality li#ms-lnk1-quality-high a, 
body.ms-ng div#ms-component-gallery2 div#ms-stage ul.ms-lnk1-quality li#ms-lnk1-quality-high a {
	background-position:0px -198px;
}
body.ms-ng div#ms-component-gallery1 div#ms-stage ul.ms-lnk1-quality li#ms-lnk1-quality-high a:hover, 
body.ms-ng div#ms-component-gallery1 div#ms-stage ul.ms-lnk1-quality li#ms-lnk1-quality-high a.ms-active, 
body.ms-ng div#ms-component-gallery2 div#ms-stage ul.ms-lnk1-quality li#ms-lnk1-quality-high a:hover, 
body.ms-ng div#ms-component-gallery2 div#ms-stage ul.ms-lnk1-quality li#ms-lnk1-quality-high a.ms-active {
	background-position:0px -298px;
}


/*	Thumbnail (Gallery) ********************************************************
*******************************************************************************/
/*	kein margin-bottom anwenden, da IE dies nicht darstellt */
div#ms-component-gallery1 div.ms-component-gallery1-images ul.ms-me5 li, 
div#ms-component-gallery2 div.ms-component-gallery2-images ul.ms-me5 li, 
div.ms-component-gallery-small-1-wrapper div.ms-component-gallery-small-1-images ul.ms-me5 li {
	display:block;
	float:left;
	margin:0 7px 0 0;
	padding:0 0 7px 0;
}
body.ms-ng div#ms-component-gallery1 div.ms-component-gallery1-images ul.ms-me5 li a, 
body.ms-ng div#ms-component-gallery2 div.ms-component-gallery2-images ul.ms-me5 li a, 
body.ms-ng div.ms-component-gallery-small-1-wrapper div.ms-component-gallery-small-1-images ul.ms-me5 li a {
	position:relative;
	display:block;
	background-image:url(http://www.mercedes-benz.fr/css/css_ng/brdr_070_040.gif);
	background-position:0% 0%;
}
body.ms-ng div#ms-component-gallery1 div.ms-component-gallery1-images ul.ms-me5 li a span, 
body.ms-ng div#ms-component-gallery2 div.ms-component-gallery2-images ul.ms-me5 li a span, 
body.ms-ng div.ms-component-gallery-small-1-wrapper div.ms-component-gallery-small-1-images ul.ms-me5 li a span {
	position:absolute;
	left:0;
	top:0;
	display:block;
	width:70px;
	height:40px;
	background-image:url(http://www.mercedes-benz.fr/css/css_ng/brdr_070_040.gif);
	background-position:-1000px -1000px;
	cursor:pointer;
}
body.ms-ng div#ms-component-gallery1 div.ms-component-gallery1-images ul.ms-me5 li a:hover span, 
body.ms-ng div#ms-component-gallery2 div.ms-component-gallery2-images ul.ms-me5 li a:hover span, 
body.ms-ng div.ms-component-gallery-small-1-wrapper div.ms-component-gallery-small-1-images ul.ms-me5 li a:hover span, 
body.ms-ng div#ms-component-gallery1 div.ms-component-gallery1-images ul.ms-me5 li.ms-active a span, 
body.ms-ng div#ms-component-gallery2 div.ms-component-gallery2-images ul.ms-me5 li.ms-active a span, 
body.ms-ng div.ms-component-gallery-small-1-wrapper div.ms-component-gallery-small-1-images ul.ms-me5 li.ms-active a span {
	background-position:0% 0%;
}
