/******************************************************************************
* itlTabs.css
*******************************************************************************

*******************************************************************************
*                                                                           
* Copyright 2007					
*                                                                         
******************************************************************************/

/* global layout */

div.itlTabs {
	margin:0.5em 0px;
	padding:0px;
	border-width:0px;	
}
div.itlTabs ul.itlTabsBar {
	margin:0px;
	padding:0px;
	overflow:hidden;	/* give layout */
	height:1%;	/* give layout for IE6 */
}
div.itlTabs ul.itlTabsBar li {  
	display: block;
	float: left;
	text-align: center;
	padding: 0.4em;
	margin: 0px;
	white-space: nowrap;
}
div.itlTabs ul.itlTabsBar li.tabButton {
}
div.itlTabs ul.itlTabsBar li.tabButtonSelected {
}
div.itlTabs div.tabBody {
	display: none;
}
div.itlTabs div.tabBodySelected {
	display: block;
	padding: 0.4em;
	margin: 0px;
	border-width: 0px;
	overflow:hidden;	/* give layout */
	height:1%;	/* give layout for IE6 */
}
div.itlTabs .tabTitle {
	display: none;
  