/** xcg72Cadres.css (Styles relatifs aux cadres) **/

/*-----------
    CADRE 1
------------*/
/*couleur 1*/
.cg72Inset1Color1 {
	width: 100%;
	margin: 0 0 1em 0;
	padding: 0;
}
.cg72Inset1Color1 .insFullcontent {
	color: #000;
	margin: 0;
	padding: 0;
	background: #738D9B  url(c_blanchg.gif) no-repeat; 
}
.cg72Inset1Color1 .insContent {
	background-color: #C4DFED ;
}
.cg72Inset1Color1 .insBottom {
    BACKGROUND: #C4DFED url(c_blancbd.gif) no-repeat right bottom;
}

/*couleur 2*/
.cg72Inset1Color2 {
	width: 100%;
	margin: 0 0 1em 0;
	padding: 0;
}
.cg72Inset1Color2 .insFullcontent{
	color: #000;
	margin: 0;
	padding: 0;
	background: #FF6600  url(c_blanchg.gif) no-repeat; 
}
.cg72Inset1Color2 .insContent {
	background-color: #FEDBB4 ;
}
.cg72Inset1Color2 .insBottom {
    BACKGROUND: #FEDBB4 url(c_blancbd.gif) no-repeat right bottom;
}

/*couleur 1 et 2*/
.cg72Inset1Color1 h3.insTitle-text,.cg72Inset1Color2 h3.insTitle-text {
	font-size: 100%;
	margin: 0;
	padding: 0 0.3em 0.3em 0.3em;
    background: transparent url(c_blanchd.gif) no-repeat top right;
}
.cg72Inset1Color1 h3.insTitle-text span.titleSpan, .cg72Inset1Color2 h3.insTitle-text span.titleSpan{
	color: #fff;
	font-size: 100%;
	font-weight: bold;
	background: transparent url(i_flechecadre1.gif) no-repeat 0 .8em;
	padding-left: 10px;
	padding-top: 0.5em;
	display:block;
}
.cg72Inset1Color1 .insContent , .cg72Inset1Color2 .insContent {
	padding: 0.5em;
}
.cg72Inset1Color1 .insBottom , .cg72Inset1Color2 .insBottom {
	PADDING: 0px;
}
.cg72Inset1Color1 .insBottom .b1 , .cg72Inset1Color2 .insBottom .b1 {
    PADDING: 0.2em 0.8em 0.8em 0.2em;
    BACKGROUND: url(c_blancbg.gif) no-repeat left bottom;	
    MARGIN: 0px;
}

/*-----------
    CADRE 2
------------*/
/*couleur 1*/
.cg72Inset2Color1 .insFullcontent{
	border-top: 3px solid #738D9B  ;
}
.cg72Inset2Color1 h3.insTitle-text,
.cg72Inset2Color1 h3.insTitle-text a span.insTextTitle, .cg72Inset2Color1 h3.insTitle-text a:link span.insTextTitle, .cg72Inset2Color1 h3.insTitle-text a:hover span.insTextTitle, .cg72Inset2Color1 h3.insTitle-text a:active span.insTextTitle, .cg72Inset2Color1 h3.insTitle-text a:visited  span.insTextTitle {
	color:#738D9B  ;
}
/*couleur 2*/
.cg72Inset2Color2 .insFullcontent{
	border-top: 3px solid #FF6600  ;
}
.cg72Inset2Color2 h3.insTitle-text,
.cg72Inset2Color2 h3.insTitle-text a span.insTextTitle, .cg72Inset2Color2 h3.insTitle-text a:link span.insTextTitle, .cg72Inset2Color2 h3.insTitle-text a:hover span.insTextTitle, .cg72Inset2Color2 h3.insTitle-text a:active span.insTextTitle, .cg72Inset2Color2 h3.insTitle-text a:visited  span.insTextTitle {
	color:#FF6600  ;
}
/*couleur 1 et 2*/
.cg72Inset2Color1, .cg72Inset2Color2{
	width: 100%;
	margin: 0 0 1em 0;
	background-repeat:no-repeat;
	background-position: 8px top;
}
.cg72Inset2Color1 h3.insTitle-text, .cg72Inset2Color2 h3.insTitle-text {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0;
	padding: .3em;
	background: #F9F9F9;
	border-right: 1px solid #D8D8D8;
	border-bottom: none;
}
.cg72Inset2Color1 h3.insTitle-text span.titleSpan, .cg72Inset2Color2 h3.insTitle-text span.titleSpan{
	display:block;
	margin: 0 .3em .3em .3em;
	padding: .3em;
	border-bottom: 1px dotted #D8D8D8;
}
.cg72Inset2Color1 .insContent, .cg72Inset2Color2 .insContent {
	border-right: 1px solid #D8D8D8;
	margin: 0;
	padding: .5em 1em 0 1em;
	font-size: 1em;
	background:transparent;
}
.cg72Inset2Color1 .insFullcontent, .cg72Inset2Color2 .insFullcontent {
	margin: 0;
	padding-bottom:10px;
	border-left: 1px solid #D8D8D8;
	background: url(c_anglebd.gif)  #F9F9F9 no-repeat bottom right;
}
/*-----------
    CADRE 3
-----------*/
/*couleur 1*/
.cg72Inset3Color1 .insFullcontent {
	border-top: 3px solid #738D9B  ;
}
.cg72Inset3Color1 h3.insTitle-bg-img,
.cg72Inset3Color1 h3.insTitle-bg-img a span.insTextTitle, .cg72Inset3Color1 h3.insTitle-bg-img a:link span.insTextTitle, .cg72Inset3Color1 h3.insTitle-bg-img a:hover span.insTextTitle, .cg72Inset3Color1 h3.insTitle-bg-img a:active span.insTextTitle, .cg72Inset3Color1 h3.insTitle-bg-img a:visited  span.insTextTitle {
	color: #738D9B  ;
}
/*couleur 2*/
.cg72Inset3Color2 .insFullcontent {
	border-top: 3px solid #FF6600  ;
}
.cg72Inset3Color2 h3.insTitle-bg-img,
.cg72Inset3Color2 h3.insTitle-bg-img a span.insTextTitle, .cg72Inset3Color2 h3.insTitle-bg-img a:link span.insTextTitle, .cg72Inset3Color2 h3.insTitle-bg-img a:hover span.insTextTitle, .cg72Inset3Color2 h3.insTitle-bg-img a:active span.insTextTitle, .cg72Inset3Color2 h3.insTitle-bg-img a:visited  span.insTextTitle {
	color: #FF6600  ;
}
/*couleur 1 et 2*/
.cg72Inset3Color1, .cg72Inset3Color2{
	width: 100%;
	margin: 0 0 1em 0;
	padding: 0;
}
.cg72Inset3Color1 h3.insTitle-bg-img, .cg72Inset3Color2 h3.insTitle-bg-img {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0;
	padding: .3em;
	background: #F9F9F9;
	border-right: 1px solid #D8D8D8;
	border-bottom: none;
	background-repeat:no-repeat;
	background-position:.55em .55em;
}
.cg72Inset3Color1 h3.insTitle-bg-img span.titleSpan, .cg72Inset3Color2 h3.insTitle-bg-img span.titleSpan{
	display:block;
	margin: 0 .3em .3em .3em;
	padding: .3em .3em .3em 16px;
	border-bottom: 1px dotted #D8D8D8;
}
.cg72Inset3Color1 .insContent, .cg72Inset3Color2 .insContent {
	border-right: 1px solid #D8D8D8;
	margin: 0;
	padding: .5em 1em 0 1em;
	font-size: 1em;
	background:transparent;
}
.cg72Inset3Color1 .insFullcontent, .cg72Inset3Color2 .insFullcontent {
	margin: 0;
	padding-bottom:10px;
	border-left: 1px solid #D8D8D8;
	background: url(c_anglebd.gif)  #F9F9F9 no-repeat bottom right;
}
/*------------
    CADRE 4
------------*/
/*couleur 1*/
.cg72Inset4Color1 h3.insTitle-text,
.cg72Inset4Color1 h3.insTitle-text span.titleSpan, 
.cg72Inset4Color1 h3.insTitle-text a:link span.insTextTitle, 
.cg72Inset4Color1 h3.insTitle-text a:hover span.insTextTitle, 
.cg72Inset4Color1 h3.insTitle-text a:active span.insTextTitle, 
.cg72Inset4Color1 h3.insTitle-text a:visited  span.insTextTitle{
	color: #738D9B  ;
}
.cg72Inset4Color1 h3.insTitle-text{
	border-bottom: 3px solid #738D9B  ;
}
/*couleur 2*/
.cg72Inset4Color2 h3.insTitle-text,
.cg72Inset4Color2 h3.insTitle-text a span.insTextTitle, .cg72Inset4Color2 h3.insTitle-text a:link span.insTextTitle, .cg72Inset4Color2 h3.insTitle-text a:hover span.insTextTitle, .cg72Inset4Color2 h3.insTitle-text a:active span.insTextTitle, .cg72Inset4Color2 h3.insTitle-text a:visited  span.insTextTitle{
	color: #FF6600  ;
}
.cg72Inset4Color2 h3.insTitle-text{
	border-bottom: 3px solid #FF6600  ;
}
/*couleur 1et 2*/
.cg72Inset4Color1, .cg72Inset4Color2{
	width: 100%;
	margin: 0 0 1em 0;
	padding: 0;
}
.cg72Inset4Color1 h3.insTitle-text, .cg72Inset4Color2 h3.insTitle-text {
	font-size: 1em;
	font-weight: bold;
	margin: 0;
}
.cg72Inset4Color1 h3.insTitle-text img, .cg72Inset4Color2 h3.insTitle-text img{
	border:none;
	vertical-align: top ;
	margin-right:0.3em;
}
.cg72Inset4Color1 h3.insTitle-text, .cg72Inset4Color2 h3.insTitle-text {
	padding: 0 0 .3em 0;
}
/*-----------
    CADRE 5
------------*/
/*couleur 1*/
.cg72Inset5Color1 .insFullcontent{
	border:1px solid white;
	border-left: 2px solid #738D9B  ;
	padding-left:.8em;
}
.cg72Inset5Color1 h3.insTitle-text,
.cg72Inset5Color1 h3.insTitle-text a span.insTextTitle, .cg72Inset5Color1 h3.insTitle-text a:link span.insTextTitle, .cg72Inset5Color1 h3.insTitle-text a:hover span.insTextTitle, .cg72Inset5Color1 h3.insTitle-text a:active span.insTextTitle, .cg72Inset5Color1 h3.insTitle-text a:visited  span.insTextTitle{
	color: #738D9B  ;
}
/*couleur 2*/
.cg72Inset5Color2  .insFullcontent{
	border:1px solid white;
	border-left: 2px solid #FF6600  ;
	padding-left:.8em;
}
.cg72Inset5Color2 h3.insTitle-text,
.cg72Inset5Color2 h3.insTitle-text a span.insTextTitle, .cg72Inset5Color2 h3.insTitle-text a:link span.insTextTitle, .cg72Inset5Color2 h3.insTitle-text a:hover span.insTextTitle, .cg72Inset5Color2 h3.insTitle-text a:active span.insTextTitle, .cg72Inset5Color2 h3.insTitle-text a:visited  span.insTextTitle{
	color: #FF6600  ;
}
/*couleur 1 et 2*/
.cg72Inset5Color1 , .cg72Inset5Color2 {
	width: 100%;
	margin: 0 0 1em 0;
	padding: 0;
}
.cg72Inset5Color1 h3.insTitle-text,.cg72Inset5Color2 h3.insTitle-text {
	padding: 0 0 .1em 0;
	font-size: 1em;
	font-weight: bold;
	margin: 0;
}
.cg72Inset5Color1 h3.insTitle-text img, .cg72Inset5Color2 h3.insTitle-text img{
	border:none;
	vertical-align: top ;
	margin-right:0.3em;
}
/****************
TOUS LES CADRES
*****************/
.insFullContent, .insContent{
    overflow:hidden;
}
.insContent p{
	margin-top:0;
	padding-bottom:0;
}
.insContent ul{
	margin:0;
	padding:0;
}
.insContent a {
	color:#383838;
	text-decoration:none;
}
.insContent a:hover {
	color:#383838;
	text-decoration:underline;
}
/*supprime le soulignement dans le cas des liens dans les titres de cadre*/
a span.titleSpan, a:hover span.titleSpan, a:active span.titleSpan, a:visited span.titleSpan, a:link span.titleSpan{
	text-decoration:none;
}
