.titre-bloc1 {
	background-image: url(fond-titre-bloc1.jpg);
	width:556px;
	height:70px;
	vertical-align:top;
	padding-left:60px;
	padding-top:2px;
	color : #6D673C;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 18px;
	text-transform: uppercase;
	}

.fond-bloc1 {
	background-color: #C5BF8A;
	color : #6D673C;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	}

.titre-bloc2 {
	background-image: url(fond-titre-bloc2.jpg);
	width:276px;
	height:34px;
	vertical-align:top;
	padding-left:20px;
	padding-top:2px;
	color : #395340;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 18px;
	text-transform: uppercase;
	}

.fond-bloc2 {
	background-color: #C1E3CB;
	color : #395340;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	}

.titre-bloc3 {
	background-image: url(fond-titre-bloc3.jpg);
	width:256px;
	height:36px;
	vertical-align:top;
	padding-left:20px;
	padding-top:2px;
	color : #6C4247;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 18px;
	text-transform: uppercase;
	}

.fond-bloc3 {
	background-color: #DFAE97;
	color : #6C4247;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	}

.titre-bloc4 {
	background-image: url(fond-titre-bloc4.jpg);
	width:276px;
	height:34px;
	vertical-align:top;
	padding-left:20px;
	padding-top:2px;
	color : #444F51;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 18px;
	text-transform: uppercase;
	}

.fond-bloc4 {
	background-color: #B4BFC2;
	color : #444F51;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	}
	
.titre-bloc5 {
	background-image: url(fond-titre-bloc5.jpg);
	width:257px;
	height:33px;
	vertical-align:top;
	padding-left:20px;
	padding-top:2px;
	color : #5F5F2C;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 18px;
	text-transform: uppercase;
	}

.fond-bloc5 {
	background-color: #B0B674;
	color : #5F5F2C;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	}

.titre-bloc6 {
	background-image: url(fond-titre-bloc6.jpg);
	width:556px;
	height:28px;
	vertical-align:top;
	padding-left:60px;
	padding-top:2px;
	color : #464747;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 18px;
	text-transform: uppercase;
	}

.fond-bloc6 {
	background-color: #EFEEEA;
	color : #464747;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	}
.image-basgauche {
	padding-top : 5px;
	padding-right : 5px;
	}

.texte-petitbloc {
	padding-top : 2px;
	padding-right : 2px;
	padding-bottom : 2px;
	}

.fond-evenement {
	background-color : #E1DAB6;
	width : 145px;
}

.titre-evenement {
	background-image: url(fond-titre-menu3.jpg);
	width : 143px;
	height : 27px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color : #000000;
	font-size : 18px;
	text-align : center;
	text-transform: uppercase;
}

.contenu-evenement {
	background-color : #FFFFFF;
	color : #3C3E3A;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	padding : 8px;
}