.folder_center_center_0, .folder_center_center_1, .folder_center_center_2, .folder_center_center_3, .folder_center_center_4, .folder_center_center_5 {
clear:both;
padding-bottom:10px;
width:100%;
}
.folder_center_center_5 {
text-align:center;
width:100%;
}
.folder_center_center_0 h1, .folder_center_center_1 h1, .folder_center_center_2 h1, .folder_center_center_3 h1, .folder_center_center_4 h1, .folder_center_center_5 h1 {
text-align:left;
}
.folder_center_center_0 p, .folder_center_center_1 p, .folder_center_center_2 p, .folder_center_center_3 p, .folder_center_center_4 p, .folder_center_center_5 p {
text-align:justify;
}
.folder_center_center_0 .dossiers_image, .folder_center_center_2 .dossiers_image {
float:left;
}
.folder_center_center_1 .dossiers_image, .folder_center_center_3 .dossiers_image {
float:right;
}

/******************************************/

.folder_page {
    clear: both;
}

/******************************************/

.folder {
	float:left;
}

.clear_both {
  clear: both;
}

.thumb_vdlcontentbox_vdlFolder_0 {
    background: url(display_0.gif) no-repeat;
    height: 93px
}

.thumb_vdlcontentbox_vdlFolder_1 {
    background: url(display_1.gif) no-repeat;
    height: 93px
}

.thumb_vdlcontentbox_vdlFolder_2 {
    background: url(display_2.gif) no-repeat;
    height: 93px
}

.thumb_vdlcontentbox_vdlFolder_3 {
    background: url(display_3.gif) no-repeat;
    height: 93px
}

.thumb_vdlcontentbox_vdlFolder_4 {
    background: url(display_4.gif) no-repeat;
    height: 93px
}

.thumb_vdlcontentbox_vdlFolder_5 {
    background: url(display_5.gif) no-repeat;
    height: 93px
}
