.link_center_center_0, .link_center_center_1, .link_center_center_2, .link_center_center_3, .link_center_center_4, .link_center_center_5 {
clear:both;
width:100%;
}
.link_center_center_5 {
text-align:center;
width:100%;
}
.link_center_center_0 h1, .link_center_center_1 h1, .link_center_center_2 h1, .link_center_center_3 h1, .link_center_center_4 h1, .link_center_center_5 h1 {
text-align:left;
}
.link_center_center_0 p, .link_center_center_1 p, .link_center_center_2 p, .link_center_center_3 p, .link_center_center_4 p, .link_center_center_5 p {
text-align:justify;
}
.link_center_center_0 .dossiers_image, .link_center_center_2 .dossiers_image {
float:left;
}
.link_center_center_1 .dossiers_image, .link_center_center_3 .dossiers_image {
float:right;
}

/******************************************/

.link_page {
    clear: both;
}

/******************************************/

.link {
	float:left;
}

.clear_both {
  clear: both;
}

