/* Menu horizontale */

.menutab {
  color: #00497e;
  text-align: left;
  vertical-align: middle;
  border: 1px #00497E solid;
  border-left: 0px;
  margin-top:-1px;

}
#menu {
  position: relative;
  clear: left;
	z-index:1;
	width: 100%; /* pr?ision pour Opera */
	width: 960px;
	padding:1px;
	padding-right:0px;
	padding-left:0px;
	border-bottom:1px solid #00497E;
	border-right:1px solid #00497E;
  border-left:1px solid #00497E;
}

#menu table {
  border-spacing: 0px;
  height: 23px;
  width: 960px;
}

#menu dl, #menu dt, #menu dd, #menu ul {
	list-style-type: none;
	padding:0;
	margin:0;
}

#menu ul {
	background: #00497E;
	border:1px solid #00497E;
}
#menu ul.notrait {
  border: 0px;
}

#menu div {
	display: none;
  width: 200px;
  position: absolute;
}

#menu td {
	margin:0px;
}

#menu td a {
	display:block;
  font-size: 11px;
  font-weight: bold;
  color: white;
  font-family:Arial;
	text-align: center;
	vertical-align: middle;
	background-color:#00497E;
	padding-top:4px;
	padding-bottom:3px;
	padding-left:2px;
	padding-right:2px;
	/*border-left: 1px white solid;*/
}

#menu .first_item_menu{
  border-left: 0px solid white;
}

#menu .item_menu{
  border-left: 1px solid white;
}

#menu td a:hover {
	/*background-color: #4e7bb4;*/
	background-color:#BAD0F5;
	color: #00497E;
}

#menu td li a {
  background-image: url(fleche_ssmenu_off.gif);
  background-position: left center;
  background-repeat: no-repeat;
	display:block;
  font-size: 10px;
  font-weight: normal;
  color: #00497E;
	text-align: left;
	vertical-align: middle;
	background-color:#ceddf4 !important;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:16px;
	padding-right:0px;
	border: 0px #00497E solid;
}

#menu td li a:hover {
  background-image: url(fleche_ssmenu_over.gif);
  background-repeat: no-repeat;
	display:block;
  color: #fff;
	background-color:#00497e !important;
}

#menu td li span {
	display:block;
  background-image: url(separateur_niv2_fonce.gif);
  background-repeat: repeat-x;
  font-size: 1px;
  font-weight: normal;
  color: #00497E;
	text-align: left;
	text-decoration: none;
	background-color:#CEDDF4;;
	padding-top:2px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;

}

.boxrollover {
  width: 150px;
  float: left;
  height:19px;
  font-weight: normal;
  overflow:hidden;
  z-index:10;
  margin-left:3px;
  margin-right:3px;
}

.boxrollovertitle {
  color: #000;
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  border: 1px solid #000;
  background-color:#ccc;
}

.boxrollovercontent {
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color:#ccc;
}

.boxcontainer {
  position: absolute;
  top: auto;
  margin-top: -80px;
  margin-left: 50px;
  z-index:3;
}

.leftNav {
  background-color: #BCD3F5 ;
  color: #000;
  width: 210px;
}

.leftNavHilite {
  background-color: #BCD3F5;
  color: #fff;}

a.leftNavX {
  font-weight: normal;
  font-size: 11px;
  color: #000;
}
a.leftNavX:hover {
  color: #fff;
}

/* Menu gauche  */
div#menuThemeTitre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	color: #e94e0A;
	background-color: #e7effc; 
	background-image: url(menuleft_titre_fleche.gif);
	background-repeat: no-repeat; 
	background-position: left center; 
	padding-left: 18px;
	padding-right: 3px;
	height: 18px;
	text-align: left;
  border-top: 1px #8dadc6 solid;
  border-bottom: 0px;
  margin: 20px 0px 0px 0px;
}

div#menuGauche{
  border-right: 1px #447AA0 solid;
  padding-right: 1px;
}

div#menuGauche ul {
  padding: 1px 0px 1px 10px;
	margin: 0px 0px 0px 0px;
  border-bottom: 1px #8dadc6 solid;
	list-style-type: none;
	background-color:white;
}
div#menuGauche li {
  text-align: left;
  margin-right: 10px;
  list-style-type: none;
}
#menuGauche ul a {
  display: block;
  width: 90%;
  border-top: 1px #ccc solid;
  background: url(puce_niv2.gif) left center no-repeat;
  padding: 2px 0px 2px 16px;
  font-size: 1em;
  color: #00497e;
  text-decoration: none;
  font-weight: normal;
  vertical-align: middle;
  }
#menuGauche ul a:hover
{
  background-color: #bcd3f5;
}
#menuGauche ul li .firstItem {
	border-top: none;
}
#menuGauche ul li span.currentItem {
  display: block;
	color: #e94e0A;
  font-size: 1em;
  width: 90%;
  background-color: #fce5da;
	border-top: 1px #ccc solid;
  background: url(menuleft_sstitre_puce_on.gif) left top no-repeat;
  background-color: #fce5da;
  padding-left: 16px;
}
#menuGauche ul li a.currentItem, #menuGauche ul li a.currentItem:hover {
	color: #00497e;
  background-color: #fce5da;
  background: url(menuleft_sstitre_puce_on.gif) left top no-repeat;
  background-color: #fce5da;
}

/*sous menu */
#menuGauche ul ul, #menuGauche ul ul li
{
  border-top: none;
  padding: 0px;
  margin: 0px;
  border-bottom: none;
}
#menuGauche ul ul a
{
  width: 90%;
  padding: 2px 0px 2px 0px;
  margin-left: 0px;
  font-size: 0.9em;
  padding-left: 15px;
  text-decoration: none;
  font-weight: normal;
  background: none;
  border-top:none;
}
#menuGauche ul ul a:link, #menuGauche ul ul a:visited {
  color: #00497e;
}
#menuGauche ul ul a:active, #menuGauche ul ul a:hover {
  color: #e94e0a;
  background-color: #fff;
}

#menuGauche ul ul li.ssCurrentItem span {	
  width: 90%;
  color: #e94e0a;
  padding: 2px 0px 2px 0px;
  padding-left: 15px;
  background: none;
  background-color: #fff;
  font-size: 0.9em;
  display: block;

}
