/* ### Ville de Lyon - Portail Culture ###*/
/* ### Feuille de styles AllerPlusLoin ###*/
/* ### NET-NG - 2007 ### */
/* ### Patrick Herv? ### */

.noDisplay {
   position:absolute;
	left:0px;
	top:-500px;
	width:1px;
	height:1px;
	overflow:hidden;
}

#allerPlusLoin {
	float:right;
	width:190px;
	margin-left:20px;
	padding:0px;
}

/* D?but titre ALLER PLUS LOIN */
#allerPlusLoin.boxColonneGeneric h1 {
	width: 178px;
	height: 22px;
	margin: 0px 0px 5px 0px;
	background: url(http://www.lyon.fr/static/vdl_A/images/btnAllerplusloin.gif) 0 0 no-repeat!important;
	border: 0; /* cette ligne annule le soulignement en pointill?s sous l'image. Supprimer cette ligne si on veut garder les pointill?s*/
    color:#00497E;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    height:22px;
    padding-left:21px;
    padding-top:5px;
    text-transform:uppercase;
}
/* Fin titre ALLER PLUS LOIN */

#allerPlusLoin.boxColonneGeneric h2 {
	height: auto;
	padding: 1px 0px 0px 22px;
	margin: 0px;
	border: 0px;
}

/* DEBUT SITE WEB LIENS */
#siteweb  { /* gestion du texte couleur taille */
	font-size: 0.9em;  
	color:#00497e; 
}

#siteweb h2 { /* Pictos du bloc "Liens" */
	font-weight: normal;
	color: #ff4e00;
	background:url(http://www.lyon.fr/static/vdl_A/images/picto_infos_siteweb.gif) 0% 50% no-repeat; 
}
/* FIN SITE WEB LIENS */


/* DEBUT CONTACT */
#contactPlus  { /* gestion du texte couleur taille */
	font-size: 0.9em;  
	color:#00497e;  	
	padding-left: 6px;
}

#contactPlus h2 {
	/* Pictos du bloc "Contact" */
	color: #ff4e00;
	font-weight: normal;
	background: url(http://www.lyon.fr/static/vdl_A/images/picto_infos_contact.gif) no-repeat -8px;
	text-indent: -8px;
}
/* FIN CONTACT */


/* DEBUT TELECHARGEMENT */
#telechargement   { /* gestion du texte couleur taille */
	font-size: 0.9em;  
	color:#00497e;
}

#telechargement h2 {
	/* Pictos du bloc "T?l?charger" */
	color: #ff4e00;
	font-weight: normal;
	background: url(http://www.lyon.fr/static/vdl_A/images/picto_infos_telechargements.gif) 0% 50% no-repeat;
}
/* FIN TELECHARGEMENT */

#allerPlusLoin ul {
	margin: 0 0 15px 0;
	padding-left: 10px;
    list-style-type: none;
}

/* D?but PERSONNALISATION DE LA PUCE DEVANT LES ITEMS DES LITES */
#allerPlusLoin li {
	margin: 0 0 0px 0;
	padding-left: 10px;
	background: url("http://www.lyon.fr/static/vdl_A/images/picto_infos_lien.gif") no-repeat 0px;
}
/* Fin PERSONNALISATION DE LA PUCE DEVANT LES ITEMS DES LITES */

#allerPlusLoin a { /* modifie la couleur des liens pour le bloc "Liens" et "T?l?charger" */
	display:block;
	width:100%;
	color:#00497e;
	font-weight:regular;
	text-decoration:none;
}

#allerPlusLoin a:hover { /* modifie la couleur au passage souris des liens pour le bloc "Liens" et "T?l?charger" */
	color:#ff4e00;
	font-weight:regular;
}

#container.fiche #allerPlusLoin {
	width:220px;
	margin:0px;
	margin-right:10px;
}

#container.fiche #allerPlusLoin ul {
	 /* padding:0px;
	margin:0px 0px 15px 0px;*/
}

#container.fiche #allerPlusLoin li {
	/* padding:1px 10px 1px 5px;*/
}

#container.fiche #allerPlusLoin li a {
	display:block;
	width:100%;
	height:100%;
	color:#00497e;
}

#container.fiche #allerPlusLoin li a:hover {
	color:#ff4e00;
	text-decoration:none;
	font-weight:regular; 
}

.allerPlusLoin h1, .allerPlusLoin h2,  .allerPlusLoin h3,  .allerPlusLoin h4, .texteImage h1, .texteImage h2,  .texteImage h3,  .texteImage h4, .imageTexte h1, .imageTexte h2,  .imageTexte h3,  .imageTexte h4{
	clear:none !important;
	overflow:none;
}

html>body .allerPlusLoin h1, html>body .allerPlusLoin h2,  html>body .allerPlusLoin h3,  html>body .allerPlusLoin h4, html>body .texteImage h1, html>body .texteImage h2,  html>body .texteImage h3,  html>body .texteImage h4, html>body .imageTexte h1, html>body .imageTexte h2,  html>body .imageTexte h3,  html>body .imageTexte h4{
	overflow:hidden;
}

.allerPlusLoin h2,  .allerPlusLoin h3,  .allerPlusLoin h4, .texteImage h2,  .texteImage h3,  .texteImage h4, .imageTexte h2,  .imageTexte h3,  .imageTexte h4{
	padding-bottom:2px
}

.allerPlusLoin h1, .texteImage h1, .imageTexte h1{
	padding-bottom:6px	
}

.allerPlusLoin .bordurevignette{
	padding-right:15px;
}

.allerPlusLoin ul, .imageTexte ul, .texteImage ul{
	list-style-position: inside;	
}

.allerPlusLoin ol, .imageTexte ol , .texteImage ol{
	list-style-position: inside;
}
