div#pageEnteteImpression, div#popupEnteteImpression {
  display: block;
  background: transparent url(hc_logo.gif) 0px no-repeat;
  width: 100%;

}

div#page {
	width: 100%;
	text-align: left;
	border-bottom: none;
	margin:0px;
}

div#pageCorps {
  background-image: none;
	width: 100%;
	border: none;
	margin-top:0px;
}
div#pageCentrale {
	margin: 0px;
	padding: 0px;
  overflow: visible;	
}

.pageCentraleSansGauche, .pageCentraleAvecGauche, 
.contentSansGaucheAvecDroite,.contentAvecGaucheAvecDroite, .contentAvecGaucheSansDroite {
  width: 100%;
  background-color: #fff;
  overflow: visible;

}

div#content, div#welcomme, div#vdlUne, .mainColGaucheDroite {
	margin:0;
	padding:0;
	float: none;
}

div.imageTexteGauche {
  width: 30%;
}
div.imageTexteDroite {
  width: 65%;
}
div#actionSearch, div#selAnnu, div#actionNew, div#selArdt, div#selSaisie {
 float: none;	
}

/*
div#pageEntete, div#piedPage, div#menuGauche, div#menuDroite, div#breadcrumbs, div#navigationHaut,
div#boiteInternautes, div#navigationBas, div#popupEntete, div#popupPied, .boutonHaut,
div#cmSommaireHaut, div#cmSommaireBas, div#caSommaireHaut, div#caSommaireBas, div#gpSommaireHaut, div#gpSommaireBas,
div#comSommaireHaut, div#comSommaireBas {
  display: none;
}
*/
div#pageEntete, div#piedPage, div#menuGauche, div#menuDroite, div#breadcrumbs, div#navigationHaut,
div#boiteInternautes, div#navigationBas, div#popupEntete, div#popupPied, .boutonHaut,
div#cmSommaireHaut, div#cmSommaireBas, div#caSommaireHaut, div#caSommaireBas, div#gpSommaireHaut, div#gpSommaireBas,
div#comSommaireHaut, div#comSommaireBas, div.accessibility {
  display: none;
}

a:link, a:visited {
  background-color: transparent; 
  color: black; 
  text-decoration: none;
}

