/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.8.0r4
*/
.yui-overlay,.yui-panel-container{visibility:hidden;position:absolute;z-index:2;}
.yui-panel{position:relative;}
.yui-panel-container form{margin:0;}
.mask{z-index:1;display:none;position:absolute;top:0;left:0;right:0;bottom:0;}
.mask.block-scrollbars{overflow:auto;}
.masked select,.drag select,.hide-select select{_visibility:hidden;}
.yui-panel-container select{_visibility:inherit;}
.hide-scrollbars,.hide-scrollbars *{overflow:hidden;}
.hide-scrollbars select{display:none;}
.show-scrollbars{overflow:auto;}
.yui-panel-container.show-scrollbars,.yui-tt.show-scrollbars{overflow:visible;}
.yui-panel-container.show-scrollbars .underlay,.yui-tt.show-scrollbars .yui-tt-shadow{overflow:auto;}
.yui-panel-container.shadow .underlay.yui-force-redraw{padding-bottom:1px;}
.yui-effect-fade .underlay,.yui-effect-fade .yui-tt-shadow{display:none;}
.yui-tt-shadow{position:absolute;}
.yui-override-padding{padding:0!important;}
.yui-panel-container .container-close{overflow:hidden;text-indent:-10000em;text-decoration:none;}
.yui-overlay.yui-force-redraw,.yui-panel-container.yui-force-redraw{margin-bottom:1px;}
.yui-skin-ap .mask{background-color:#000;opacity:.25;filter:alpha(opacity=25);}
.yui-skin-ap .yui-panel-container{padding:0 1px;*padding:2px;}
.yui-skin-ap .yui-panel{position:relative;left:0;top:0;border-style:solid;border-width:1px 0;border-color:#808080;z-index:1;*border-width:1px;*zoom:1;_zoom:normal;}
.yui-skin-ap .yui-panel .hd,.yui-skin-ap .yui-panel .bd,.yui-skin-ap .yui-panel .ft{border-style:solid;border-width:0 1px;border-color:#808080;margin:0 -1px;*margin:0;*border:0;}
.yui-skin-ap .yui-panel .hd{border-bottom:solid 1px #ccc;}
.yui-skin-ap .yui-panel .bd,.yui-skin-ap .yui-panel .ft{background-color:#F2F2F2;}
.yui-skin-ap .yui-panel .hd{padding:0 10px;font-size:93%;line-height:2;*line-height:1.9;font-weight:bold;color:#000;}
.yui-skin-ap .yui-panel .bd{padding:10px;}
.yui-skin-ap .yui-panel .ft{border-top:solid 1px #808080;padding:5px 10px;font-size:77%;}
.yui-skin-ap .container-close{position:absolute;top:5px;right:6px;width:25px;height:15px; cursor:pointer;}
.yui-skin-ap .yui-panel-container .underlay{right:-1px;left:-1px;}
.yui-skin-ap .yui-panel-container.matte{padding:9px 10px;background-color:#fff;}
.yui-skin-ap .yui-panel-container.shadow{_padding:2px 4px 0 2px;}
.yui-skin-ap .yui-panel-container.shadow .underlay{position:absolute;top:2px;left:-3px;right:-3px;bottom:-3px;*top:4px;*left:-1px;*right:-1px;*bottom:-1px;_top:0;_left:0;_right:0;_bottom:0;_margin-top:3px;_margin-left:-1px;background-color:#000;opacity:.12;filter:alpha(opacity=12);}
.yui-skin-ap .yui-dialog .ft{border-top:none;padding:0 10px 10px 10px;font-size:100%;}
.yui-skin-ap .yui-dialog .ft .button-group{display:block;text-align:right;}
.yui-skin-ap .yui-dialog .ft button.default{font-weight:bold;}
.yui-skin-ap .yui-dialog .ft span.default{border-color:#304369;background-position:0 -1400px;}
.yui-skin-ap .yui-dialog .ft span.default .first-child{border-color:#304369;}
.yui-skin-ap .yui-dialog .ft span.default button{color:#fff;}
.yui-skin-ap .yui-dialog .ft span.yui-button-disabled{background-position:0 -1500px;border-color:#ccc;}
.yui-skin-ap .yui-dialog .ft span.yui-button-disabled .first-child{border-color:#ccc;}
.yui-skin-ap .yui-dialog .ft span.yui-button-disabled button{color:#a6a6a6;}
.yui-skin-ap .yui-simple-dialog .bd .yui-icon{width:16px;height:16px;margin-right:10px;float:left;}
.yui-skin-ap .yui-simple-dialog .bd span.blckicon{background-position:0 -1100px;}
.yui-skin-ap .yui-simple-dialog .bd span.alrticon{background-position:0 -1050px;}
.yui-skin-ap .yui-simple-dialog .bd span.hlpicon{background-position:0 -1150px;}
.yui-skin-ap .yui-simple-dialog .bd span.infoicon{background-position:0 -1200px;}
.yui-skin-ap .yui-simple-dialog .bd span.warnicon{background-position:0 -1900px;}
.yui-skin-ap .yui-simple-dialog .bd span.tipicon{background-position:0 -1250px;}
.yui-skin-ap .yui-tt .bd{position:relative;top:0;left:0;z-index:1;color:#000;padding:2px 5px;border-color:#D4C237 #A6982B #A6982B #A6982B;border-width:1px;border-style:solid;background-color:#FFEE69;}
.yui-skin-ap .yui-tt.show-scrollbars .bd{overflow:auto;}
.yui-skin-ap .yui-tt-shadow{top:2px;right:-3px;left:-3px;bottom:-3px;background-color:#000;}
.yui-skin-ap .yui-tt-shadow-visible{opacity:.12;filter:alpha(opacity=12);}

/* LOOK */

.tooltip_window {
padding-top:5px;
background-image:url(fch_tooltip.gif);
background-repeat:no-repeat;
background-position:center top;
}

.tooltip_window .bd a {
color:#FFD204;
display:block;
}

.tooltip_window .bd {
background-color:#1F368B;
color:#FFF;
border:1px solid #FFF;
border-top:none;
padding:10px;
font-size:11px;
}

.tooltip_window .bd {
padding:5px;
}

/* ENTREPRISE */

.yui-skin-ap .tooltip_window_entr {
background-color:#FFFFFF;
font-size:11px;
border:none;
}
.yui-skin-ap .tooltip_window_entr .bd {
border:1px solid #CCC;
background-color:#FFFFFF;
padding:10px 15px;
}
#main .tooltip_window_entr .bd a {
color:#77AF0A;
padding:2px 0 2px 12px;
font-size:11px;
zoom:1;
}

#main ul.list_entreprise li .bd ul li a {
background-image:url(fch_green.gif);
}

#main .tooltip_window_entr ul li, #main .tooltip_window_entr ul {
padding:0;
margin:0;
list-style:none;
border:none;
}
#main .tooltip_window_entr ul li a {
background-image:url(fch_green.gif);
background-position:left 5px;
background-repeat:no-repeat;
display:inline-block;
}
#main .tooltip_window_entr ul li a:hover {
background-color:#FFF;
}
#main ul.list_entreprise li a.container-close {
background-image:url(close_tooltip.gif);
background-position:0 0;
padding:0;
cursor:pointer;
height:16px;
position:absolute;
right:6px;
top:5px;
width:16px;
}