body {
	background:#fff;
	margin:0;
	padding:0;
}
body, p, td, th, ul, ol {
	color:#333;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
form {
	display:inline;
}
input, select {
	font-size:11px;
}
img {
	border:none;
}
p {
	line-height:1.6em;
	margin:0.6em 0 1em;
}
a {
	color:#06c;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
h1, h2, h3, h4 {
	color:#1f368b;
}
h1, h4 {
	margin:0;
}
h2 {
	margin-bottom:0.3em;
}
h3 {
	margin-bottom:0;
}
h4 {
	font-weight:400;
	padding-top:0.3em;
}
.legales {
	font-size:10px;
	color:#999;
}
.exposant {
	color:#999;
	font-size:70%;
	vertical-align:4px;
}
p.note {
	line-height:1.3em;
	color:#999;
	font-size:10px;
	margin-bottom:0.3em;
}
img.middle {
	vertical-align:middle;
}
img.baseline {
	vertical-align:baseline;
}
