.yuimenu{top:-999em;left:-999em;}
.yuimenubar{position:static;}
.yuimenu .yuimenu,.yuimenubar .yuimenu{position:absolute;}
.yuimenubar li,.yuimenu li{list-style-type:none;}
.yuimenubar ul,.yuimenu ul,.yuimenubar li,.yuimenu li,.yuimenu h6,.yuimenubar h6{margin:0;padding:0;}
.yuimenuitemlabel,.yuimenubaritemlabel{text-align:left;white-space:nowrap;}
.yuimenubar ul{*zoom:1;}
.yuimenubar .yuimenu ul{*zoom:normal;}
.yuimenubar>.bd>ul:after{content:".";display:block;clear:both;visibility:hidden;height:0;line-height:0;}
.yuimenubaritem{float:left;}
.yuimenubaritemlabel,.yuimenuitemlabel{display:block;}
.yuimenuitemlabel .helptext{font-style:normal;display:block;margin:-1em 0 0 10em;}
.yui-menu-shadow{position:absolute;visibility:hidden;z-index:-1;}
.yui-menu-shadow-visible{top:0;right:-3px;left:-3px;bottom:-3px;visibility:visible;}
.hide-scrollbars *{overflow:hidden;}
.hide-scrollbars select{display:none;}
.yuimenu.show-scrollbars,.yuimenubar.show-scrollbars{overflow:visible;}
.yuimenu.hide-scrollbars .yui-menu-shadow,.yuimenubar.hide-scrollbars .yui-menu-shadow{overflow:hidden;}
.yuimenu.show-scrollbars .yui-menu-shadow,.yuimenubar.show-scrollbars .yui-menu-shadow{overflow:auto;}
.yui-overlay.yui-force-redraw{margin-bottom:1px;}
.yui-skin-ap .yuimenubar{line-height:2;*line-height:1.9;}
.yui-skin-ap .yuimenubarnav .yuimenubaritem{}
.yui-skin-ap .yuimenubaritemlabel{padding:0 10px;text-decoration:none;cursor:default;*position:relative;/*margin:-1px 0;*/}
.yui-skin-ap .yuimenubaritemlabel:visited{}
.yui-skin-ap .yuimenubarnav .yuimenubaritemlabel{*display:inline-block;}
.yui-skin-ap .yuimenubarnav li a.yuimenubaritemlabel-hassubmenu{background:url(bt_drop_menu.gif) right center no-repeat; padding:0 25px 0 14px;}
.yui-skin-ap .yuimenubaritem-selected{}
/*.yui-skin-ap .yuimenubarnav .yuimenubaritemlabel-selected{border-left-width:1px;margin-left:-1px;*left:-1px;}*/
.yui-skin-ap .yuimenubaritemlabel-disabled,.yui-skin-ap .yuimenubaritemlabel-disabled:visited{cursor:default;color:#A6A6A6;}
.yui-skin-ap .yuimenubarnav .yuimenubaritemlabel-hassubmenu-disabled{background-image:url(https://particuliers.secure.lcl.fr/v_1.0/css/menubaritem_submenuindicator_disabled.png);}
.yui-skin-ap .yuimenu{font-size:93%;line-height:1.5;*line-height:1.45; background-color:#FFFFFF;}
.yui-skin-ap .yuimenubar .yuimenu,.yui-skin-ap .yuimenu .yuimenu{font-size:100%;}
.yui-skin-ap .yuimenu .bd{*zoom:1;_zoom:normal;border:solid 1px #808080;background-color:#fff;}
.yui-skin-ap .yuimenu .yuimenu .bd{*zoom:normal;}
.yui-skin-ap .yuimenu ul{padding:3px 0;border-width:1px 0 0 0;border-color:#ccc;border-style:solid;}
.yui-skin-ap .yuimenu ul.first-of-type{border-width:0;}
.yui-skin-ap .yuimenu h6{font-weight:bold;border-style:solid;border-color:#ccc;border-width:1px 0 0 0;color:#a4a4a4;padding:3px 10px 0 10px;}
.yui-skin-ap .yuimenu ul.hastitle,.yui-skin-ap .yuimenu h6.first-of-type{border-width:0;}
.yui-skin-ap .yuimenu .yui-menu-body-scrolled{border-color:#ccc #808080;overflow:hidden;}
.yui-skin-ap .yuimenu .topscrollbar,.yui-skin-ap .yuimenu .bottomscrollbar{height:16px;border:solid 1px #808080;background-color:#fff;}
.yui-skin-ap .yuimenu .topscrollbar{border-bottom-width:0;background-position:center -950px;}
.yui-skin-ap .yuimenu .topscrollbar_disabled{background-position:center -975px;}
.yui-skin-ap .yuimenu .bottomscrollbar{border-top-width:0;background-position:center -850px;}
.yui-skin-ap .yuimenu .bottomscrollbar_disabled{background-position:center -875px;}
.yui-skin-ap .yuimenuitem{_border-bottom:solid 1px #fff;}
.yui-skin-ap .yuimenuitemlabel{text-decoration:none;cursor:default;}
.yui-skin-ap .yuimenuitemlabel:visited{}
.yui-skin-ap .yuimenuitemlabel .helptext{margin-top:-1.5em;*margin-top:-1.45em;}
.yui-skin-ap .yuimenuitem-hassubmenu{background-image:url(https://particuliers.secure.lcl.fr/v_1.0/css/menuitem_submenuindicator.png);background-position:right center;background-repeat:no-repeat;}
.yui-skin-ap .yuimenuitem-checked{background-image:url(https://particuliers.secure.lcl.fr/v_1.0/css/menuitem_checkbox.png);background-position:left center;background-repeat:no-repeat;}
.yui-skin-ap .yui-menu-shadow-visible{background-color:#000;opacity:.12;filter:alpha(opacity=12);}
.yui-skin-ap .yuimenuitem-selected{background-color:#B3D4FF;}
.yui-skin-ap .yuimenuitemlabel-disabled,.yui-skin-ap .yuimenuitemlabel-disabled:visited{cursor:default;color:#A6A6A6;}
