/*
-----------------------------------------
Haut
-----------------------------------------
*/
/*<agl.folder "haut">*/
#haut    { background-color: #1f368b; background-image: url(head_bg.gif); background-repeat: repeat-x; text-align: left; min-width: 760px }
#logo    { margin-top: 0; position: absolute; top: 0; left: 0; width: 300px; height: 70px }
#accesclient     { background-image: url(bgaccesclient.gif); background-repeat: no-repeat; background-position: 0 100%; position: absolute; top: 0; right: 0; width: 240px; height: 40px; float: right }
#accesclient h1    { color: #fff; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; margin: 8px 0 0 40px; padding: 0 }

#menuhaut    { margin: 0; padding: 0; position: absolute; top: 39px; right: 28px; width: 560px; height: 28px }
#menuhaut ul  { list-style-type: none; display: block; margin: 0; padding: 0; height: 30px; float: right }
#menuhaut li { display: block; margin: 1px 0 0; padding: 0; float: left; background-image: url(elipse.gif); background-repeat: no-repeat; background-position: 0 0;}
#menuhaut li a   { color: #fff; font-size: 11px; line-height: 28px; text-decoration: none; margin: 0 1px 0 0; padding: 0 12px; height: 28px; float: left }
#menuhaut li a:hover   { color: #ffd700; text-decoration: none;}

#menuhaut li#arrondi_gauche a { background-position: left -24px; padding-left: 1px; }
#menuhaut li#arrondi_droite a { background-position: right -24px; padding-right: 1px; }

#accesclient p.bt  { margin-top: 4px; margin-left: 16px }
#accesclient a .accesclientblanc { color: #fff }
#accesclient p   { color: #ffd204; font-size: 10px; margin: 0 0 0 20px }
#accesclient a  { color: #ffd204 }
#accesclient a:hover  { color: #ffffff }
#accesclient a.bt  { color: #000; margin-bottom: 8px }
#accesclient a:hover.bt  { color: #000; background-position: 0 -19px }
#haut.erreur   {text-align: left; background: #1a226b; height: 82px }
/*</agl.folder>*/

/* ADD 2009 */

.hautIn {
	width:990px;
	margin-left:auto;
	margin-right:auto;
}

#menuh {
	height:35px;
	background-image:url(bg_menu.gif);
	text-align:center;
	overflow:visible;
}

ul#menu, ul#submenu {
	height:35px;
	overflow:hidden;
	list-style-type:none;
	margin:0;
	padding:0;
	display:block;
	margin:0 0 0 194px;
	padding-left:1px;
	background-image:url(sep_menu.gif);
	background-repeat:no-repeat;
}

ul#menu li, ul#submenu li {
	background-image:url(sep_menu.gif);
	background-position:top right;
	background-repeat:no-repeat;
	float:left;
	overflow:visible;
 }

.yuimenubarnav li a {
	font-size:14px;
	font-weight:normal;
	padding:0 14px;
	line-height:35px;
	font-family:Arial, Helvetica, sans-serif;
}

ul#submenu li ul li a {
font-family:Verdana, Arial, Helvetica, sans-serif;
}

ul#menu li.selected, ul#submenu li.selected {
	background-color:#FFFFFF;
}
ul#menu li.selected a {
	height:34px;
}
