
.txt_blue_securite{ font-size:9px; color:#FED21F;}
a.txt_blue_securite{ font-size:9px; color:#FED21F; text-decoration:underline;}
a.txt_blue_securite:hover{ font-size:9px; color:#FED21F; text-decoration:none;}

.txt_marron_securite {font-size:9px; color:#8f0000; font-family: Arial, helvetica, verdana;}
a.txt_marron_securite {font-size:9px; color:#8f0000; text-decoration:underline; font-family: Arial, helvetica, verdana;}
a.txt_marron_securite:hover  {font-size:9px; color:#8f0000; text-decoration:none; font-family: Arial, helvetica, verdana;}

.txt_blue_login{ font-size:9px; color:#CADCF1;}
a.txt_blue_login{ font-size:9px; color:#CADCF1; text-decoration:underline;}
a.txt_blue_login:hover{ font-size:9px; color:#CADCF1; text-decoration:none;}

.txt_white_login{ font-size:9px; color:#ffffff; font-family:Arial;}
a.txt_white_login{ font-size:9px; color:#ffffff; text-decoration:none;}
a.txt_white_login:hover{ font-size:9px; color:#ffffff; text-decoration:none;}

.txt_white{font-size:12px; color:#ffffff;}
a.txt_white{ color:#ffffff; text-decoration:none;}
a.txt_white:hover{ color:#ffffff; text-decoration:none;}

.txt11_white{ font-size:11px; color:#ffffff; font-family:arial, helvetica, verdana, sans serif; }
a.txt11_white{ font-size:11px; color:#ffffff; text-decoration:none; font-family:arial, helvetica, verdana, sans serif; }
a.txt11_white:hover{ font-size:11px; color:#ffffff; text-decoration:none; font-family:arial, helvetica, verdana, sans serif;}

.lien_white{ font-size:11px; color:#ffffff; font-weight:bold;}
a.lien_white{ font-size:11px; color:#ffffff; text-decoration:none; font-weight:bold;}
a.lien_white:hover{ font-size:11px; color:#ffffff; text-decoration:none; font-weight:bold;}

.lien11_white{ font-size:11px; color:#ffffff;}
a.lien11_white{ font-size:11px; color:#ffffff; text-decoration:none;}
a.lien11_white:hover{ font-size:11px; color:#ffffff; text-decoration:none;}

.txt_whiteb{ font-size:12px; color:#ffffff; font-family:arial, helvetica, verdana, sans serif; }
a.txt_whiteb{ color:#ffffff; text-decoration:none;}
a.txt_whiteb:hover{ color:#ffffff; text-decoration:none;}

.txt_grey{color:#717171;}
a.txt_grey{color:#717171; text-decoration:none;}
a.txt_grey:hover{color:#717171; text-decoration:underline;}

a.txt_blue_rss{color:#232988; text-decoration:underline;}
a.txt_blue_rss:hover{color:#232988; text-decoration:none;}

/* lay protect */
table.keyloggerActif td {
	background-color:#5FC648;
}
table.keyloggerActif a {font-size:10px; color:#ffffff;text-decoration:underline;}
table.keyloggerActif a:hover {font-size:10px; color:#ffffff;text-decoration:none;}

table.keyloggerInactif td {
	background-color:#D0192B;
}
table.keyloggerInactif a {font-size:10px; color:#ffffff;text-decoration:underline;}
table.keyloggerInactif a:hover {font-size:10px; color:#ffffff;text-decoration:none;}
/* END lay protect */